ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28100-PE-0036-06
    PIPING-SPEC   AAQD0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   ET
    ATTRIBUTE25   2800025GBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28100-3"-PE-0036-AAQD0-40H-ET
    ATTRIBUTE22   *28100-PE-0036-06*
    ATTRIBUTE8   PE, PRODUCED EMULSION
    ATTRIBUTE9   03/09/2012
    ATTRIBUTE31   280025GBMP
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2056500.000    2035147.226    496644.450     3    
    END-POINT    2053262.301    2035147.226    496644.450     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    WEIGHT    97.615
    UCI    {0001388C-0000-0000-6F1B-4F213F509405}
    ITEM-CODE    PPPABQBEACR110Z121
    ITEM-DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    3237.70
SUPPORT
    CO-ORDS    2056000.000    2035147.226    496644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-3104-8F2B4450E305}
    NAME    S2C4S
    FABRICATION-ITEM
WELD
    END-POINT    2056500.000    2035147.226    496644.450     3    
    END-POINT    2056500.000    2035147.226    496644.450     3    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    99
    UCI    {000138AA-0000-0000-A232-CA3F3F509405}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28100-PE-0036-4481
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2053148.000    2042490.000    497644.450     3    
    END-POINT    2053148.000    2035261.526    497644.450     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    WEIGHT    70.564
    UCI    {0001388C-0000-0000-1E15-68745D4F7605}
    ITEM-CODE    PPPABQBEACR110Z121
    ITEM-DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
    CUT-PIECE-LENGTH    7228.47
SUPPORT
    CO-ORDS    2053148.000    2035561.526    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-5B2A-0E1D4450E404}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2039490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-DE0D-6034E04F0405}
    NAME    S2C4S
    FABRICATION-ITEM
WELD
    END-POINT    2053148.000    2042490.000    497644.450     3    
    END-POINT    2053148.000    2042490.000    497644.450     3    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    66
    UCI    {000138AA-0000-0000-0A46-CCB6984FAD04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28100-PE-0036-06-66
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    2053262.301    2035147.226    496644.450     3    BW
    END-POINT    2053148.001    2035147.226    496758.750     3    BW
    CENTRE-POINT    2053148.001    2035147.226    496644.450        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKAAEZ121
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, B16.9, BE, ASTM A234-WPB, SMLS, NACE MR 0175/ISO15156, S-160
    UCI    {00013885-0000-0000-1602-792344509305}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    FABRICATION-ITEM
    WEIGHT    9.280
WELD
    END-POINT    2053262.301    2035147.226    496644.450     3    
    END-POINT    2053262.301    2035147.226    496644.450     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    111
    UCI    {000138AA-0000-0000-2402-792344509305}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28100-PE-0036-4480
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053148.001    2035147.226    496758.750     3    
    END-POINT    2053148.000    2035147.226    497530.150     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    WEIGHT    97.615
    UCI    {0001388C-0000-0000-1D02-792344509305}
    ITEM-CODE    PPPABQBEACR110Z121
    ITEM-DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
    CUT-PIECE-LENGTH    771.40
WELD
    END-POINT    2053148.001    2035147.226    496758.750     3    
    END-POINT    2053148.001    2035147.226    496758.750     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    110
    UCI    {000138AA-0000-0000-2602-792344509305}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28100-PE-0036-4479
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2053148.000    2035147.226    497530.150     3    
    END-POINT    2053148.000    2035147.226    497530.150     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    109
    UCI    {000138AA-0000-0000-F902-792344509305}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28100-PE-0036-4478
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2053148.000    2035147.226    497530.150     3    BW
    END-POINT    2053148.000    2035261.526    497644.450     3    BW
    CENTRE-POINT    2053148.000    2035147.226    497644.450        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKAAEZ121
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, B16.9, BE, ASTM A234-WPB, SMLS, NACE MR 0175/ISO15156, S-160
    UCI    {00013885-0000-0000-4702-792344509305}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    FABRICATION-ITEM
    WEIGHT    9.280
WELD
    END-POINT    2053148.000    2035261.526    497644.450     3    
    END-POINT    2053148.000    2035261.526    497644.450     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    108
    UCI    {000138AA-0000-0000-F702-792344509305}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28100-PE-0036-4477
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2062047.957    2035147.226    496644.450     3    
    END-POINT    2056500.000    2035147.226    496644.450     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    WEIGHT    97.615
    UCI    {0001388C-0000-0000-9B32-CA3F3F509405}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACR110Z121
    ITEM-DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
    CONTINUATION
PIPE
    END-POINT    2053148.000    2077990.000    497644.450     3    
    END-POINT    2053148.000    2042490.000    497644.450     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    WEIGHT    70.564
    UCI    {0001388C-0000-0000-0307-A20A604F2805}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACR110Z121
    ITEM-DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2053148.000    2038875.763    497644.450
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2062047.957    2035147.226    496644.450
    CONNECTION-REFERENCE  28100-PE-0036-07
END-CONNECTION-PIPELINE
    CO-ORDS    2053148.000    2077990.000    497644.450
    CONNECTION-REFERENCE  28100-PE-0036-05
MATERIALS
ITEM-CODE    PPPABQBEACR110Z121
    DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
ITEM-CODE    BE9LABMBEACKAAEZ121
    DESCRIPTION    90 DEG. LR ELBOW, B16.9, BE, ASTM A234-WPB, SMLS, NACE MR 0175/ISO15156, S-160
