ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0037-02
    PIPING-SPEC   AARB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   ET
    ATTRIBUTE25   2800025FBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-4"-BD-0037-AARB0-65H-ET
    ATTRIBUTE22   *28400-BD-0037-02*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   14/09/2012
    ATTRIBUTE31   280025FBMP
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2051344.500    2077990.000    493657.150     4    
    END-POINT    2051344.500    2071718.034    493657.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    54.146
    UCI    {0001388C-0000-0000-2902-A2F4BE4F6204}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    MK-28400-BD-0037-02-2
    CUT-PIECE-LENGTH    6271.97
SUPPORT
    CO-ORDS    2051344.500    2075490.000    493657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUS2 Guide with Shoe
    WEIGHT    1.187
    UCI    {00022303-0000-0000-570F-1DA65250DC05}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2051344.500    2075490.000    493657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-3646-99059E4F4705}
    NAME    S2C4S
    FABRICATION-ITEM
WELD
    END-POINT    2051344.500    2077990.000    493657.150     4    
    END-POINT    2051344.500    2077990.000    493657.150     4    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    12
    UCI    {000138AA-0000-0000-6314-08ABF34F7D04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-02-12
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    2051344.500    2071718.034    493657.150     4    BW
    END-POINT    2051344.500    2071501.232    493746.953     4    BW
    CENTRE-POINT    2051344.500    2071591.034    493657.150        
    SKEY    EL**
    ITEM-CODE    5714683A
    ITEM-DESCRIPTION    45 DEG, 3D ELBOW, B16.9, BE,  ASTM A234 WPB, SMLS, S-STD
    ANGLE    4500
    UCI    {00013885-0000-0000-2202-C38BFA4F9E04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    2.413
PIPE
    END-POINT    2051344.500    2071501.232    493746.953     4    
    END-POINT    2051344.500    2070806.560    494441.624     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    54.146
    UCI    {0001388C-0000-0000-3402-C38BFA4F9E04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    MK-28400-BD-0037-02-1
    CUT-PIECE-LENGTH    982.41
WELD
    END-POINT    2051344.500    2071501.232    493746.953     4    
    END-POINT    2051344.500    2071501.232    493746.953     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    13
    UCI    {000138AA-0000-0000-6C02-C38BFA4F9E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-02-13
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2051344.500    2070806.560    494441.624     4    
    END-POINT    2051344.500    2070806.560    494441.624     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    14
    UCI    {000138AA-0000-0000-250E-ECE03E50DE05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-02-14
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2056500.000    2070591.034    494657.150     4    
    END-POINT    2051649.300    2070591.034    494657.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    54.146
    UCI    {0001388C-0000-0000-B001-C38BFA4F9E04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    4850.70
SUPPORT
    CO-ORDS    2056000.000    2070591.034    494657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUS2 Guide with Shoe
    WEIGHT    1.187
    UCI    {00022303-0000-0000-3812-1DA65250DC05}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053000.000    2070591.034    494657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-D601-FF005350F404}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2056000.000    2070591.034    494657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-D71B-4B3940503106}
    NAME    S2C4S
    FABRICATION-ITEM
WELD
    END-POINT    2056500.000    2070591.034    494657.150     4    
    END-POINT    2056500.000    2070591.034    494657.150     4    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    16
    UCI    {000138AA-0000-0000-5B0E-ECE03E50DE05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-02-16
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    2051649.300    2070591.034    494657.150     4    BW
    END-POINT    2051344.500    2070806.560    494441.624     4    BW
    CENTRE-POINT    2051344.500    2070591.034    494657.150        
    SKEY    EL**
    ITEM-CODE    5714818
    ITEM-DESCRIPTION    90 DEG, 3D ELBOW, B16.9, BE, ASTM A234 WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-180E-ECE03E50DE05}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    4.975
WELD
    END-POINT    2051649.300    2070591.034    494657.150     4    
    END-POINT    2051649.300    2070591.034    494657.150     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    15
    UCI    {000138AA-0000-0000-280E-ECE03E50DE05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-02-15
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2051344.500    2084990.000    493657.150     4    
    END-POINT    2051344.500    2077990.000    493657.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    54.146
    UCI    {0001388C-0000-0000-D62F-FAC65E4F2205}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
ELBOW
    CONTINUATION
    END-POINT    2056804.800    2070591.034    494961.950     4    BW
    END-POINT    2056500.000    2070591.034    494657.150     4    BW
    CENTRE-POINT    2056804.800    2070591.034    494657.150        
    SKEY    EL**
    ITEM-CODE    5714818
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-4D0E-ECE03E50DE05}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    4.975
FLOW-ARROW
    CO-ORDS    2051344.500    2074854.017    493657.150
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    2054074.650    2070591.034    494657.150
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2051344.500    2084990.000    493657.150
    CONNECTION-REFERENCE  28400-BD-0037-01
END-CONNECTION-PIPELINE
    CO-ORDS    2056804.800    2070591.034    494961.950
    CONNECTION-REFERENCE  28400-BD-0037-03
MATERIALS
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    GUS2
    DESCRIPTION    GUS2 Guide with Shoe
ITEM-CODE    S2C4S
    DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
ITEM-CODE    5714683A
    DESCRIPTION    45 DEG, 3D ELBOW, B16.9, BE,  ASTM A234 WPB, SMLS, S-STD
ITEM-CODE    5714818
    DESCRIPTION    90 DEG, 3D ELBOW, B16.9, BE, ASTM A234 WPB, SMLS, S-STD
