ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0029-02
    PIPING-SPEC   AARB0
    INSULATION-SPEC   H
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025GBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-8"-BD-0029-AARB0-50H-GT
    ATTRIBUTE22   *28400-BD-0029-02*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   08/08/2012
    ATTRIBUTE31   280025GBMP
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2053999.000    2014344.226    495709.538     8    
    END-POINT    2053999.000    2042490.000    495709.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-F302-A20A604F2805}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    28145.77
SUPPORT
    CO-ORDS    2053999.000    2033490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-341A-988420504205}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053999.000    2033490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DAS2
    ITEM-DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
    WEIGHT    2.695
    UCI    {00022303-0000-0000-E81B-988420504205}
    NAME    DAS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053999.000    2021490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-7C1F-988420504205}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053999.000    2039490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-7F89-99059E4F4705}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053999.000    2033490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4L
    ITEM-DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
    WEIGHT    15.876
    UCI    {00022303-0000-0000-C38A-99059E4F4705}
    NAME    S2C4L
SUPPORT
    CO-ORDS    2053999.000    2027490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-CC8B-99059E4F4705}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053999.000    2015490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-D609-C2A0FA4FA805}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053999.000    2021490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-AD15-8193FA4F4D05}
    NAME    S2C4S
WELD
    END-POINT    2053999.000    2042490.000    495709.538     8    
    END-POINT    2053999.000    2042490.000    495709.538     8    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    6
    UCI    {000138AA-0000-0000-FA02-A20A604F2805}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-02-06
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    2053999.000    2014039.426    495014.337     8    BW
    END-POINT    2054303.800    2014039.426    494709.537     8    BW
    CENTRE-POINT    2053999.000    2014039.426    494709.537        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-3B4C-A587E24F6904}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    23.710
WELD
    END-POINT    2054303.800    2014039.426    494709.537     8    
    END-POINT    2054303.800    2014039.426    494709.537     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    2
    UCI    {000138AA-0000-0000-4E4C-A587E24F6904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-02-02
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2053999.000    2014039.426    495014.337     8    
    END-POINT    2053999.000    2014039.426    495014.337     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    3
    UCI    {000138AA-0000-0000-4C4C-A587E24F6904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-02-03
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2054303.800    2014039.426    494709.537     8    
    END-POINT    2056500.000    2014039.426    494709.537     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-424C-A587E24F6904}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    2196.20
SUPPORT
    CO-ORDS    2056000.000    2014039.426    494709.537     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-000C-C2A0FA4FA805}
    NAME    S2C4S
WELD
    END-POINT    2056500.000    2014039.426    494709.537     8    
    END-POINT    2056500.000    2014039.426    494709.537     8    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    1
    UCI    {000138AA-0000-0000-4A4C-A587E24F6904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-02-01
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    2053999.000    2014039.426    495404.738     8    BW
    END-POINT    2053999.000    2014344.226    495709.538     8    BW
    CENTRE-POINT    2053999.000    2014039.426    495709.538        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-444B-A587E24F6904}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    23.710
WELD
    END-POINT    2053999.000    2014344.226    495709.538     8    
    END-POINT    2053999.000    2014344.226    495709.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    5
    UCI    {000138AA-0000-0000-084C-A587E24F6904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-02-05
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053999.000    2014039.426    495404.738     8    
    END-POINT    2053999.000    2014039.426    495014.337     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-4B4B-A587E24F6904}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    390.40
WELD
    END-POINT    2053999.000    2014039.426    495404.738     8    
    END-POINT    2053999.000    2014039.426    495404.738     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    4
    UCI    {000138AA-0000-0000-064C-A587E24F6904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-02-04
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053999.000    2042490.000    495709.538     8    
    END-POINT    2053999.000    2047208.266    495709.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-3B21-29841B502F06}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
PIPE
    END-POINT    2060186.271    2014039.426    494709.537     8    
    END-POINT    2056500.000    2014039.426    494709.537     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    195.065
    UCI    {0001388C-0000-0000-C644-A587E24F6904}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2053999.000    2028417.113    495709.538
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2053999.000    2047208.266    495709.538
    CONNECTION-REFERENCE  28400-BD-0029-01
END-CONNECTION-PIPELINE
    CO-ORDS    2060186.271    2014039.426    494709.537
    CONNECTION-REFERENCE  28400-BD-0029-03
MATERIALS
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    GUS2
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    DAS2
    DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
ITEM-CODE    S2C4L
    DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
ITEM-CODE    BE9LABMBEACKABA085
    DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
