ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-SC-0050-07
    PIPING-SPEC   AASB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025GBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-2"-SC-0050-AASB0-50H-GT
    ATTRIBUTE22   *28400-SC-0050-07*
    ATTRIBUTE8   SC, STEAM CONDENSATE
    ATTRIBUTE9   01/09/2012
    ATTRIBUTE31   280025GBMP
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
OLET
    CENTRE-POINT    2051600.000    2022692.500    495630.163        
    BRANCH1-POINT    2051600.000    2022692.500    495682.550     1    
    SKEY    SKSW
    ITEM-CODE    OSOCAM9SISACFZZZZ999
    ITEM-DESCRIPTION    SOCKOLET 3000#  IRE X SWE, STL A105N
    UCI    {00013885-0000-0000-3A15-760D3350ED05}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    FABRICATION-ITEM
    WEIGHT    0.298
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    115
    UCI    {000138AA-0000-0000-D315-760D3350ED05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-07-115
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2051600.000    2022692.500    495682.550     1    
    END-POINT    2051600.000    2022692.500    495682.550     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8C09-5B033B50D206}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-2005
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2051600.000    2042490.000    495630.163     2    
    END-POINT    2051600.000    2022692.500    495630.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-4203-B7DFDE4FEB05}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    21721.47
PIPE
    END-POINT    2051600.000    2022692.500    495630.163     2    
    END-POINT    2051600.000    2020901.045    495630.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-4203-B7DFDE4FEB05}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    21721.47
PIPE
    END-POINT    2051600.000    2020901.045    495630.163     2    
    END-POINT    2051600.000    2020768.527    495630.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-4203-B7DFDE4FEB05}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    21721.47
SUPPORT
    CO-ORDS    2051600.000    2021490.000    495630.163     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    S1C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    2.948
    UCI    {00022303-0000-0000-6A01-FE7E41506B04}
    NAME    S1C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2039490.000    495630.163     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    S1C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    2.948
    UCI    {00022303-0000-0000-042D-2BF7E34FCD04}
    NAME    S1C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2027490.000    495630.163     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    S1C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    2.948
    UCI    {00022303-0000-0000-2033-2BF7E34FCD04}
    NAME    S1C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2033490.000    495630.163     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    S1C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    2.948
    UCI    {00022303-0000-0000-E62D-2BF7E34FCD04}
    NAME    S1C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2039490.000    495630.163     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS1
    ITEM-DESCRIPTION    GUS1 Guide with Shoe
    WEIGHT    0.485
    UCI    {00022303-0000-0000-2F34-6EBD35507507}
    NAME    GUS1
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2027490.000    495630.163     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS1
    ITEM-DESCRIPTION    GUS1 Guide with Shoe
    WEIGHT    0.485
    UCI    {00022303-0000-0000-CA35-6EBD35507507}
    NAME    GUS1
    ERECTION-ITEM
WELD
    END-POINT    2051600.000    2042490.000    495630.163     2    
    END-POINT    2051600.000    2042490.000    495630.163     2    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    114
    UCI    {000138AA-0000-0000-D735-760D3350ED05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-07-114
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
OLET
    CENTRE-POINT    2051600.000    2020901.045    495630.163        
    BRANCH1-POINT    2051600.000    2020901.045    495682.550     1    
    SKEY    SKSW
    ITEM-CODE    OSOCAM9SISACFZZZZ999
    ITEM-DESCRIPTION    SOCKOLET 3000#  IRE X SWE, STL A105N
    UCI    {00013885-0000-0000-470C-FE7E41506B04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.298
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9A0C-FE7E41506B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-2214
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2051600.000    2020901.045    495682.550     1    
    END-POINT    2051600.000    2020901.045    495682.550     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-080D-FE7E41506B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-2215
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2051600.000    2022692.500    496593.060     1    
    END-POINT    2051600.000    2022692.500    495682.550     1    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0058
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    10.964
    UCI    {0001388C-0000-0000-6B16-760D3350ED05}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQPEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, PE, ASTM A106-B, SMLS, S-XS
    CONTINUATION
PIPE
    END-POINT    2051600.000    2077990.000    495630.162     2    
    END-POINT    2051600.000    2042490.000    495630.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-F303-E89A0350D305}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
ELBOW
    CONTINUATION
    END-POINT    2051600.000    2020768.527    495630.163     2    BW
    END-POINT    2051600.000    2020692.327    495706.362     2    BW
    CENTRE-POINT    2051600.000    2020692.327    495630.163        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-2D60-7D42E14F4005}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.858
WELD
    END-POINT    2051600.000    2020768.527    495630.163     2    
    END-POINT    2051600.000    2020768.527    495630.163     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    119
    UCI    {000138AA-0000-0000-D352-760D3350ED05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-09-119
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    STATUS    DOTTED-UNDIMENSIONED
PIPE
    END-POINT    2051600.000    2020901.045    496592.761     1    
    END-POINT    2051600.000    2020901.045    495682.550     1    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    None
    MISC-SPEC1    28400-SC-0077
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    10.964
    UCI    {0001388C-0000-0000-D20C-FE7E41506B04}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQPEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, PE, ASTM A106-B, SMLS, S-XS
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2051600.000    2032591.250    495630.163
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2051600.000    2022692.500    496593.060
    CONNECTION-REFERENCE  28400-SC-0058-01
END-CONNECTION-PIPELINE
    CO-ORDS    2051600.000    2077990.000    495630.162
    CONNECTION-REFERENCE  28400-SC-0050-06
END-CONNECTION-PIPELINE
    CO-ORDS    2051600.000    2020692.327    495706.362
    CONNECTION-REFERENCE  28400-SC-0050-09
END-CONNECTION-PIPELINE
    CO-ORDS    2051600.000    2020901.045    496592.761
    CONNECTION-REFERENCE  28400-SC-0077-01
MATERIALS
ITEM-CODE    OSOCAM9SISACFZZZZ999
    DESCRIPTION    SOCKOLET 3000#  IRE X SWE, STL A105N
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    S1C4S
    DESCRIPTION    S1C4S Shoe Carbon Steel 4in (100mm) High
ITEM-CODE    GUS1
    DESCRIPTION    GUS1 Guide with Shoe
ITEM-CODE    PPPABQPEACRAAGZ095
    DESCRIPTION    PIPE, B36.10M, PE, ASTM A106-B, SMLS, S-XS
