ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0037-04
    PIPING-SPEC   AARB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   ET
    ATTRIBUTE25   2800025FBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-4"-BD-0037-AARB0-65H-ET
    ATTRIBUTE22   *28400-BD-0037-04*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   07/09/2012
    ATTRIBUTE31   280025FBMP
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    2053599.513    2070375.508    499741.624     4    BW
    END-POINT    2053904.313    2070591.034    499957.150     4    BW
    CENTRE-POINT    2053599.513    2070591.034    499957.150        
    SKEY    EL**
    ITEM-CODE    5714818
    ITEM-DESCRIPTION    90 DEG, 3D ELBOW, B16.9, BE, ASTM A234 WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-2A0B-4B3940503106}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    FABRICATION-ITEM
    WEIGHT    4.975
WELD
    END-POINT    2053904.313    2070591.034    499957.150     4    
    END-POINT    2053904.313    2070591.034    499957.150     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3D0B-4B3940503106}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-2237
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053599.513    2070375.508    499741.624     4    
    END-POINT    2053599.513    2070253.331    499619.447     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    54.146
    UCI    {0001388C-0000-0000-310B-4B3940503106}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    172.78
WELD
    END-POINT    2053599.513    2070375.508    499741.624     4    
    END-POINT    2053599.513    2070375.508    499741.624     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3B0B-4B3940503106}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-2236
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2056300.000    2070591.034    499957.150     4    
    END-POINT    2056500.000    2070591.034    499957.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    54.146
    UCI    {0001388C-0000-0000-CA03-C38BFA4F9E04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    2595.69
PIPE
    END-POINT    2053904.313    2070591.034    499957.150     4    
    END-POINT    2056300.000    2070591.034    499957.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    54.146
    UCI    {0001388C-0000-0000-CA03-C38BFA4F9E04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    2595.69
SUPPORT
    CO-ORDS    2056000.000    2070591.034    499957.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-9A0B-4B3940503106}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2056000.000    2070591.034    499957.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-2A01-80AD49507E04}
    NAME    GUS2
    ERECTION-ITEM
WELD
    END-POINT    2056500.000    2070591.034    499957.150     4    
    END-POINT    2056500.000    2070591.034    499957.150     4    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    19
    UCI    {000138AA-0000-0000-2E0D-ECE03E50DE05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-2222
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
MISC-COMPONENT
    END-POINT    2056300.000    2070591.034    500027.000    0.75    SC
    END-POINT    2056300.000    2070591.034    500036.525    0.75    
    CENTRE-POINT    2056300.000    2070591.034    500027.000        
    SKEY    PL
    ITEM-CODE    OPLRAB2TMACFZZZZ999
    ITEM-DESCRIPTION    PLUG ROUND HEAD, B16.11, MTE, ASTM A105N
    UCI    {00013885-0000-0000-3915-FE7E41506B04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    ERECTION-ITEM
    WEIGHT    0.000
OLET
    CENTRE-POINT    2056300.000    2070591.034    499957.150        
    BRANCH1-POINT    2056300.000    2070591.034    500027.000    0.75    
    SKEY    THSC
    ITEM-CODE    OTHLAM9SIFACFZZZZ999
    ITEM-DESCRIPTION    THREDOLET 3000# IRE X FTE, STL A105N
    UCI    {00013885-0000-0000-DD14-FE7E41506B04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    0.218
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2C15-FE7E41506B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0037-2252
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CONTINUATION
    CENTRE-POINT    2053599.513    2069790.387    499156.502        
    BRANCH1-POINT    2053599.513    2070253.333    499619.445     4    
    SKEY    LABW
    ITEM-CODE    5524795
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-9008-4B3940503106}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0010
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    8.927
WELD
    END-POINT    2053599.513    2070253.331    499619.447     4    
    END-POINT    2053599.513    2070253.333    499619.445     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3F0B-4B3940503106}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0010-4307
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    STATUS    DOTTED-UNDIMENSIONED
ELBOW
    CONTINUATION
    END-POINT    2056500.000    2070591.034    499957.150     4    BW
    END-POINT    2056804.800    2070591.034    499652.350     4    BW
    CENTRE-POINT    2056804.800    2070591.034    499957.150        
    SKEY    EL**
    ITEM-CODE    5714818
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-1D0D-ECE03E50DE05}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-BD-0037
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    4.975
FLOW-ARROW
    CO-ORDS    2055102.157    2070591.034    499957.150
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2053599.513    2069790.387    499156.502
    CONNECTION-REFERENCE  28400-BD-0010-04
END-CONNECTION-PIPELINE
    CO-ORDS    2056804.800    2070591.034    499652.350
    CONNECTION-REFERENCE  28400-BD-0037-03
END-POSITION-CLOSED
    CO-ORDS    2056300.000    2070591.034    500036.525
MATERIALS
ITEM-CODE    5714818
    DESCRIPTION    90 DEG, 3D ELBOW, B16.9, BE, ASTM A234 WPB, SMLS, S-STD
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
ITEM-CODE    GUS2
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    OPLRAB2TMACFZZZZ999
    DESCRIPTION    PLUG ROUND HEAD, B16.11, MTE, ASTM A105N
ITEM-CODE    OTHLAM9SIFACFZZZZ999
    DESCRIPTION    THREDOLET 3000# IRE X FTE, STL A105N
