ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0042-06
    PIPING-SPEC   AASB0
    INSULATION-SPEC   H
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025FBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-8"-BD-0042-AASB0-50H-GT
    ATTRIBUTE22   *28400-BD-0042-06*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   10/08/2012
    ATTRIBUTE31   280025FBMP
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2053999.000    2077990.000    497709.538     8    
    END-POINT    2053999.000    2076434.600    497709.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-6206-4E7DF64F3805}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    1555.40
WELD
    END-POINT    2053999.000    2077990.000    497709.538     8    
    END-POINT    2053999.000    2077990.000    497709.538     8    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    46
    UCI    {000138AA-0000-0000-BA06-4E7DF64F3805}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-06-46
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2053999.000    2047386.066    494963.538     6    
    END-POINT    2053999.000    2047386.066    495541.262     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    93.477
    UCI    {0001388C-0000-0000-7004-50540F505A04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    577.73
WELD
    END-POINT    2053999.000    2047386.066    494963.538     6    
    END-POINT    2053999.000    2047386.066    494963.538     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    38
    UCI    {000138AA-0000-0000-2004-50540F505A04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-06-38
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2053999.000    2047386.066    495541.262     6    
    END-POINT    2053999.000    2047386.066    495541.262     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-050A-92B82450C104}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-2447
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2054227.600    2047386.066    494734.938     6    BW
    END-POINT    2053999.000    2047386.066    494963.538     6    BW
    CENTRE-POINT    2053999.000    2047386.066    494734.938        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-AC19-8EA34D4FC805}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    11.505
WELD
    END-POINT    2054227.600    2047386.066    494734.938     6    
    END-POINT    2054227.600    2047386.066    494734.938     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    37
    UCI    {000138AA-0000-0000-7A14-CFAB18506D06}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-2340
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    2053999.000    2047208.266    495709.538     8    BW
    END-POINT    2053999.000    2047563.866    495709.538     8    BW
    CENTRE-POINT    2053999.000    2047386.066    495709.538        
    BRANCH1-POINT    2053999.000    2047386.066    495541.262     6    BW
    SKEY    TE**
    ITEM-CODE    BTERABMBEACKABAZ085
    ITEM-DESCRIPTION    RED. TEE, BE , ASTM A234-WPB , SMLS , S-STD
    UCI    {00013885-0000-0000-E919-8EA34D4FC805}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    2053999.000    2047563.866    495709.538     8    
    END-POINT    2053999.000    2047563.866    495709.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-030A-92B82450C104}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-2446
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2053999.000    2076129.800    497404.738     8    BW
    END-POINT    2053999.000    2076434.600    497709.538     8    BW
    CENTRE-POINT    2053999.000    2076129.800    497709.538        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-3B1B-9D3FE04FA005}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    23.710
WELD
    END-POINT    2053999.000    2076434.600    497709.538     8    
    END-POINT    2053999.000    2076434.600    497709.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    45
    UCI    {000138AA-0000-0000-4C1B-9D3FE04FA005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-06-45
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2053999.000    2075825.000    495709.538     8    BW
    END-POINT    2053999.000    2076129.800    496014.338     8    BW
    CENTRE-POINT    2053999.000    2076129.800    495709.538        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-F419-9D3FE04FA005}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    23.710
WELD
    END-POINT    2053999.000    2076129.800    496014.338     8    
    END-POINT    2053999.000    2076129.800    496014.338     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    43
    UCI    {000138AA-0000-0000-E81A-9D3FE04FA005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-06-43
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053999.000    2076129.800    496014.338     8    
    END-POINT    2053999.000    2076129.800    497404.738     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-FB19-9D3FE04FA005}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    1390.40
WELD
    END-POINT    2053999.000    2076129.800    497404.738     8    
    END-POINT    2053999.000    2076129.800    497404.738     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    44
    UCI    {000138AA-0000-0000-4A1B-9D3FE04FA005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-06-44
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053999.000    2047563.866    495709.538     8    
    END-POINT    2053999.000    2075825.000    495709.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-794F-CCB6984FAD04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    28261.13
SUPPORT
    CO-ORDS    2053999.000    2051490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DAS2
    ITEM-DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
    WEIGHT    2.695
    UCI    {00022303-0000-0000-4542-293422502306}
    NAME    DAS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053999.000    2069490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-8C01-A391FA4F3F05}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053999.000    2051490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4L
    ITEM-DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
    WEIGHT    15.876
    UCI    {00022303-0000-0000-0100-2D092250CC06}
    NAME    S2C4L
SUPPORT
    CO-ORDS    2053999.000    2057490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-9502-C2A0FA4FA805}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053999.000    2075490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-8C9F-99059E4F4705}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053999.000    2069490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-A6A0-99059E4F4705}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053999.000    2063490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-B6A1-99059E4F4705}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053999.000    2057490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-C7A4-99059E4F4705}
    NAME    S2C4S
WELD
    END-POINT    2053999.000    2075825.000    495709.538     8    
    END-POINT    2053999.000    2075825.000    495709.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    42
    UCI    {000138AA-0000-0000-E61A-9D3FE04FA005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-06-42
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2056500.000    2047386.066    494734.938     6    
    END-POINT    2054227.600    2047386.066    494734.938     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    93.477
    UCI    {0001388C-0000-0000-5414-CFAB18506D06}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    2272.40
SUPPORT
    CO-ORDS    2056000.000    2047386.066    494734.938     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-2803-89D120508905}
    NAME    S2C4S
WELD
    END-POINT    2056500.000    2047386.066    494734.938     6    
    END-POINT    2056500.000    2047386.066    494734.938     6    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    96
    UCI    {000138AA-0000-0000-F500-83DD2050E905}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0010-2339
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2053999.000    2078840.000    497709.538     8    
    END-POINT    2053999.000    2077990.000    497709.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-421B-9D3FE04FA005}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
PIPE
    END-POINT    2053999.000    2042490.000    495709.538     8    
    END-POINT    2053999.000    2047208.266    495709.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    141.084
    UCI    {0001388C-0000-0000-3B21-29841B502F06}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
WELD
    END-POINT    2053999.000    2047208.266    495709.538     8    
    END-POINT    2053999.000    2047208.266    495709.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-010A-92B82450C104}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-2733
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    STATUS    DOTTED-UNDIMENSIONED
PIPE
    END-POINT    2058761.205    2047386.066    494734.938     6    
    END-POINT    2056500.000    2047386.066    494734.938     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    93.477
    UCI    {0001388C-0000-0000-6800-83DD2050E905}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2053999.000    2077212.300    497709.538
    FLOW 2
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    2055363.800    2047386.066    494734.938
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    2053999.000    2061694.433    495709.538
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2053999.000    2078840.000    497709.538
    CONNECTION-REFERENCE  28400-BD-0042-01
END-CONNECTION-PIPELINE
    CO-ORDS    2053999.000    2042490.000    495709.538
    CONNECTION-REFERENCE  28400-BD-0029-01
END-CONNECTION-PIPELINE
    CO-ORDS    2058761.205    2047386.066    494734.938
    CONNECTION-REFERENCE  28400-BD-0042-07
MATERIALS
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    BE9LABMBEACKABA085
    DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
ITEM-CODE    BTERABMBEACKABAZ085
    DESCRIPTION    RED. TEE, BE , ASTM A234-WPB , SMLS , S-STD
ITEM-CODE    DAS2
    DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
ITEM-CODE    GUS2
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    S2C4L
    DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
