ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0029-01
    PIPING-SPEC   AARB0
    INSULATION-SPEC   H
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   GT
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-8"-BD-0029-AARB0-65H-GT
    ATTRIBUTE22   *28400-BD-0029-01*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   17/08/2012
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2053999.000    2042490.000    495709.538     8    
    END-POINT    2053999.000    2047208.266    495709.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    141.714
    UCI    {0001388C-0000-0000-3B21-29841B502F06}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    4718.27
SUPPORT
    CO-ORDS    2053999.000    2045490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-1E17-988420504205}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053999.000    2045490.000    495709.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-D895-99059E4F4705}
    NAME    S2C4S
WELD
    END-POINT    2053999.000    2047208.266    495709.538     8    
    END-POINT    2053999.000    2047208.266    495709.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-010A-92B82450C104}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-2733
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053999.000    2014344.226    495709.538     8    
    END-POINT    2053999.000    2042490.000    495709.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0029
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    141.714
    UCI    {0001388C-0000-0000-F302-A20A604F2805}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
WELD
    END-POINT    2053999.000    2042490.000    495709.538     8    
    END-POINT    2053999.000    2042490.000    495709.538     8    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    6
    UCI    {000138AA-0000-0000-FA02-A20A604F2805}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0029-02-06
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
TEE
    CONTINUATION
    END-POINT    2053999.000    2047208.266    495709.538     8    BW
    END-POINT    2053999.000    2047563.866    495709.538     8    BW
    CENTRE-POINT    2053999.000    2047386.066    495709.538        
    BRANCH1-POINT    2053999.000    2047386.066    495541.262     6    BW
    SKEY    TE**
    ITEM-CODE    BTERABMBEACKABAZ085
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-E919-8EA34D4FC805}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0042
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.000
FLOW-ARROW
    CO-ORDS    2053999.000    2044849.133    495709.538
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2053999.000    2014344.226    495709.538
    CONNECTION-REFERENCE  28400-BD-0029-02
END-CONNECTION-PIPELINE
    CO-ORDS    2053999.000    2047563.866    495709.538
    CONNECTION-REFERENCE  28400-BD-0042-06
MATERIALS
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    GUS2
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
