ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0010-05
    PIPING-SPEC   AARB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-30"-BD-0010-AARB0-75H-GT
    ATTRIBUTE22   *28400-BD-0010-05*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   27/08/2012
    MISC-SPEC1    28400-BD-0010
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2053599.513    2042490.000    499095.896     30    
    END-POINT    2053599.513    2006490.000    499015.975     30    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0010
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    1153.697
    UCI    {0001388C-0000-0000-460A-0A403B50F304}
    ITEM-CODE    PPPABQBEA10111Z095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    36000.09
SUPPORT
    CO-ORDS    2053599.513    2033490.000    499075.916     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S4C4S-30
    ITEM-DESCRIPTION    SHOE CARBON STEEL - 4IN (100MM) HIGH
    WEIGHT    281.657
    UCI    {00022303-0000-0000-E140-45E23A50D504}
    NAME    S4C4S-30
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053599.513    2021490.000    499049.275     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S4C4L-30
    ITEM-DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
    WEIGHT    462.640
    UCI    {00022303-0000-0000-3141-A7F6D64F6F05}
    NAME    S4C4L-30
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053599.513    2009490.000    499022.635     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUC4
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    0.000
    UCI    {00022303-0000-0000-5847-45E23A50D504}
    NAME    GUC4
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053599.513    2021490.000    499049.275     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DAS4
    ITEM-DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
    WEIGHT    0.000
    UCI    {00022303-0000-0000-3642-A7F6D64F6F05}
    NAME    DAS4
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053599.513    2009490.000    499022.635     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S4C4S-30
    ITEM-DESCRIPTION    SHOE CARBON STEEL - 4IN (100MM) HIGH
    WEIGHT    281.657
    UCI    {00022303-0000-0000-B843-A7F6D64F6F05}
    NAME    S4C4S-30
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053599.513    2033490.000    499075.916     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUC4
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    0.000
    UCI    {00022303-0000-0000-7B45-45E23A50D504}
    NAME    GUC4
    ERECTION-ITEM
WELD
    END-POINT    2053599.513    2042490.000    499095.896     30    
    END-POINT    2053599.513    2042490.000    499095.896     30    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    7
    UCI    {000138AA-0000-0000-0F09-4133E54F6804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0010-05-07
    WELD-ATTRIBUTE2     30
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2053599.513    2062729.288    499140.827     30    
    END-POINT    2053599.513    2042490.000    499095.896     30    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0010
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    1153.697
    UCI    {0001388C-0000-0000-6609-2AB6F34FFC04}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEA10111Z095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
    CONTINUATION
PIPE
    END-POINT    2053599.513    2006490.000    499015.975     30    
    END-POINT    2053599.513    1998043.826    498997.225     30    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0010
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    1153.697
    UCI    {0001388C-0000-0000-FA06-4133E54F6804}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEA10111Z095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
    CONTINUATION
WELD
    END-POINT    2053599.513    2006490.000    499015.975     30    
    END-POINT    2053599.513    2006490.000    499015.975     30    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    30
    UCI    {000138AA-0000-0000-520C-0A403B50F304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0010-06-30
    WELD-ATTRIBUTE2     30
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
FLOW-ARROW
    CO-ORDS    2053599.513    2024490.000    499055.935
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2053599.513    2062729.288    499140.827
    CONNECTION-REFERENCE  28400-BD-0010-04
END-CONNECTION-PIPELINE
    CO-ORDS    2053599.513    1998043.826    498997.225
    CONNECTION-REFERENCE  28400-BD-0010-06
MATERIALS
ITEM-CODE    PPPABQBEA10111Z095
    DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
ITEM-CODE    S4C4S-30
    DESCRIPTION    SHOE CARBON STEEL - 4IN (100MM) HIGH
ITEM-CODE    S4C4L-30
    DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
ITEM-CODE    GUC4
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    DAS4
    DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
