ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0002-01
    PIPING-SPEC   AARB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025FBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-30"-BD-0002-AARB0-75H-GT
    ATTRIBUTE22   *28400-BD-0002-01*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   27/08/2012
    ATTRIBUTE31   280025FBMP
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
OLET
    CENTRE-POINT    2054636.496    2060238.729    499080.887        
    BRANCH1-POINT    2054636.496    2060701.674    499543.832     4    
    SKEY    LABW
    ITEM-CODE    5524795
    ITEM-DESCRIPTION    LATROLET, STL, ASTM A105N, S-XS/S-STD
    UCI    {00013885-0000-0000-BB17-45E23A50D504}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    FABRICATION-ITEM
    WEIGHT    8.927
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3218-45E23A50D504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-3507
    WELD-ATTRIBUTE2     30
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2054636.496    2060701.674    499543.832     4    
    END-POINT    2054636.496    2060701.674    499543.832     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-7118-45E23A50D504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-3508
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2054636.496    2042490.123    499041.402     30    
    END-POINT    2054636.496    2060238.729    499080.887     30    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    1153.697
    UCI    {0001388C-0000-0000-D156-6BF6D64F5605}
    ITEM-CODE    PPPABQBEA10111Z095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
    CUT-PIECE-LENGTH    35022.87
PIPE
    END-POINT    2054636.496    2067843.249    499097.804     30    
    END-POINT    2054636.496    2077512.902    499119.317     30    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    1153.697
    UCI    {0001388C-0000-0000-D156-6BF6D64F5605}
    ITEM-CODE    PPPABQBEA10111Z095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
    CUT-PIECE-LENGTH    35022.87
PIPE
    END-POINT    2054636.496    2060238.729    499080.887     30    
    END-POINT    2054636.496    2063861.517    499088.946     30    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    1153.697
    UCI    {0001388C-0000-0000-D156-6BF6D64F5605}
    ITEM-CODE    PPPABQBEA10111Z095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
    CUT-PIECE-LENGTH    35022.87
PIPE
    END-POINT    2054636.496    2063861.517    499088.946     30    
    END-POINT    2054636.496    2067843.249    499097.804     30    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    1153.697
    UCI    {0001388C-0000-0000-D156-6BF6D64F5605}
    ITEM-CODE    PPPABQBEA10111Z095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
    CUT-PIECE-LENGTH    35022.87
SUPPORT
    CO-ORDS    2054636.496    2051490.000    499061.424     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S4C4S-30
    ITEM-DESCRIPTION    SHOE CARBON STEEL - 4IN (100MM) HIGH
    WEIGHT    281.657
    UCI    {00022303-0000-0000-4D18-A7F6D64F6F05}
    NAME    S4C4S-30
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2054636.496    2063490.000    499088.120     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S4C4S-30
    ITEM-DESCRIPTION    SHOE CARBON STEEL - 4IN (100MM) HIGH
    WEIGHT    281.657
    UCI    {00022303-0000-0000-6D19-A7F6D64F6F05}
    NAME    S4C4S-30
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2054636.496    2063490.000    499088.120     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUC4
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    0.000
    UCI    {00022303-0000-0000-5119-45E23A50D504}
    NAME    GUC4
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2054636.496    2075490.000    499114.816     30
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S4C4S-30
    ITEM-DESCRIPTION    SHOE CARBON STEEL - 4IN (100MM) HIGH
    WEIGHT    281.657
    UCI    {00022303-0000-0000-A61A-A7F6D64F6F05}
    NAME    S4C4S-30
    FABRICATION-ITEM
WELD
    END-POINT    2054636.496    2077512.902    499119.317     30    
    END-POINT    2054636.496    2077512.902    499119.317     30    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    6
    UCI    {000138AA-0000-0000-8E41-8546FE4F4605}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-01-06
    WELD-ATTRIBUTE2     30
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    2054636.496    2077512.902    499119.317     30    BW
    END-POINT    2054636.496    2078122.670    499044.473     24    BW
    SKEY    RE**
    ITEM-CODE    BREEABMBEA11110Z098
    ITEM-DESCRIPTION    ECC. REDUCER, BE, A234-WPB-W, WLD, 100% RT, S-XS/S-STD
    UCI    {00013885-0000-0000-D53F-8546FE4F4605}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    139.995
    FLAT-DIRECTION    DOWN
WELD
    END-POINT    2054636.496    2078122.670    499044.473     24    
    END-POINT    2054636.496    2078122.670    499044.473     24    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    7
    UCI    {000138AA-0000-0000-E914-2A8F3450F005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-01-07
    WELD-ATTRIBUTE2     24
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
OLET
    CENTRE-POINT    2054636.496    2063861.517    499088.946        
    BRANCH1-POINT    2054636.496    2064377.959    499608.398     8    
    SKEY    LABW
    ITEM-CODE    5524795
    ITEM-DESCRIPTION    LATROLET, STL, ASTM A105N, S-XS/S-STD
    UCI    {00013885-0000-0000-5717-8ADF3A509D04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1018-8ADF3A509D04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-3512
    WELD-ATTRIBUTE2     30
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2054636.496    2064377.959    499608.398     8    
    END-POINT    2054636.496    2064377.959    499608.398     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9718-8ADF3A509D04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-3513
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    2054636.496    2067843.249    499097.804        
    BRANCH1-POINT    2054636.496    2068291.163    499547.716     3    
    SKEY    LABW
    ITEM-CODE    5524795
    ITEM-DESCRIPTION    LATROLET, STL, ASTM A105N, S-XS/S-STD
    UCI    {00013885-0000-0000-280C-E6553850ED04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    5.421
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-370C-E6553850ED04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-3402
    WELD-ATTRIBUTE2     30
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2054636.496    2068291.163    499547.716     3    
    END-POINT    2054636.496    2068291.163    499547.716     3    
    SKEY    WM
    ANGLE    21
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A40E-E6553850ED04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-3409
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2054636.496    2061007.229    499849.387     4    
    END-POINT    2054636.496    2060701.674    499543.832     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-V-0017
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    85.838
    UCI    {0001388C-0000-0000-6118-45E23A50D504}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
PIPE
    END-POINT    2054636.496    2014759.096    498979.708     30    
    END-POINT    2054636.496    2042490.123    499041.402     30    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    1153.697
    UCI    {0001388C-0000-0000-1E02-B9C403508105}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEA10111Z095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
    CONTINUATION
WELD
    END-POINT    2054636.496    2042490.123    499041.402     30    
    END-POINT    2054636.496    2042490.123    499041.402     30    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    5
    UCI    {000138AA-0000-0000-AE02-B9C403508105}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-02-05
    WELD-ATTRIBUTE2     30
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
BEND
    CONTINUATION
    END-POINT    2054636.496    2078122.670    499044.473     24    BW
    END-POINT    2057984.487    2081470.645    499059.354     24    BW
    CENTRE-POINT    2054636.496    2081470.662    499051.921        
    SKEY    PBBW
    ITEM-CODE    5714817
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-5E2F-5CD904502B05}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0001
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    2054636.496    2064687.232    499919.474     8    
    END-POINT    2054636.496    2064377.959    499608.398     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0031
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    238.589
    UCI    {0001388C-0000-0000-7E18-8ADF3A509D04}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
PIPE
    END-POINT    2054636.496    2068291.163    499547.716     3    
    END-POINT    2054636.496    2068608.067    499863.740     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    ET
    MISC-SPEC1    28400-V-0018
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    64.708
    UCI    {0001388C-0000-0000-820E-E6553850ED04}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2054636.496    2051364.426    499061.144
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2054636.496    2061007.229    499849.387
    CONNECTION-REFERENCE  28400-V-0017-01
END-CONNECTION-PIPELINE
    CO-ORDS    2054636.496    2014759.096    498979.708
    CONNECTION-REFERENCE  28400-BD-0002-02
END-CONNECTION-PIPELINE
    CO-ORDS    2057984.487    2081470.645    499059.354
    CONNECTION-REFERENCE  28400-BD-0001-01
END-CONNECTION-PIPELINE
    CO-ORDS    2054636.496    2064687.232    499919.474
    CONNECTION-REFERENCE  28400-BD-0031-01
END-CONNECTION-PIPELINE
    CO-ORDS    2054636.496    2068608.067    499863.740
    CONNECTION-REFERENCE  28400-V-0018-01
MATERIALS
ITEM-CODE    5524795
    DESCRIPTION    LATROLET, STL, ASTM A105N, S-XS/S-STD
ITEM-CODE    PPPABQBEA10111Z095
    DESCRIPTION    PIPE, B36.10M, BE,  API 5L GRADE B, PSL1, SAW (E:0.95), S-XS
ITEM-CODE    S4C4S-30
    DESCRIPTION    SHOE CARBON STEEL - 4IN (100MM) HIGH
ITEM-CODE    GUC4
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    BREEABMBEA11110Z098
    DESCRIPTION    ECC. REDUCER, BE, A234-WPB-W, WLD, 100% RT, S-XS/S-STD
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
