ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0076-PRM-0009-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0076-PRM-0009-01
    ATTRIBUTE70   L/V
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0006-8"
    ATTRIBUTE83   12E-S-0015-4"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0076-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 165448.663          55152.998          102865.408  0.75  
    END-POINT 165448.663          55152.998          102840.008  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2P                 
    PIPING-SPEC CH
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS 165448.663          55152.998          102840.008 
VALVE
    END-POINT 165448.663          55152.998          102926.960  0.75  SW FEMALE 
    END-POINT 165448.663          55152.998          102865.408  0.75  
    CENTRE-POINT  165448.663          55152.998          102894.660 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2L                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 165448.663          55152.998          102926.960  0.75
    END-POINT 165448.663          55152.998          102926.960  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2M                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 165448.663          55152.998          103028.560  0.75  
    END-POINT 165448.663          55152.998          102926.960  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2J                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 165448.663          55152.998          103028.560  0.75
    END-POINT 165448.663          55152.998          103028.560  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2K                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     165448.663  55152.998 103100.000 
    BRANCH1-POINT 165448.663          55152.998          103028.560  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2G                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 165448.663  55152.998 103100.000  4
    END-POINT 165448.663  55152.998 103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2I                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 165548.663          55152.998          103100.000  4  BW
    END-POINT 165348.663          55152.998          103100.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F22                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 165548.663          55152.998          103100.000  4
    END-POINT 165548.663          55152.998          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGO                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 165348.663          55152.998          103100.000  4
    END-POINT 165348.663          55152.998          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HTQ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 165240.713          55152.998          103100.000  4  
    END-POINT 165348.663          55152.998          103100.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E1C                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT 165240.713          55152.998          103100.000  4
    END-POINT 165237.533          55152.998          103100.000  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E1D                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
VALVE
    END-POINT 165237.533          55152.998          103100.000  4  
    END-POINT 164805.733          55152.998          103100.000  4  
    CENTRE-POINT  165021.633          55152.998          103100.000 
    SKEY CKFL
    CONTINUATION 
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E19                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 164805.733          55152.998          103100.000 
    PIPELINE-REFERENCE C210-4910-12E-S-0015-PRM-0009-01
REDUCER-ECCENTRIC
    END-POINT 165548.663          55152.998          103100.000  4  
    END-POINT 165650.263          55152.998          103087.300  3  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           2.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGM                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 165650.263          55152.998          103087.300  3
    END-POINT 165650.263          55152.998          103087.300  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGR                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 165650.263          55152.998          103087.300  3  BW
    END-POINT 165853.463          55152.998          103066.980  1.5  
    SKEY ESSW
    FABRICATION-ITEM
    ITEM-CODE SWGECC2X1+1/2
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGP                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 165853.463          55152.998          103066.980  1.5
    END-POINT 165853.463          55152.998          103066.980  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGV                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 165878.863          55152.998          103066.980  1.5  
    END-POINT 165853.463          55152.998          103066.980  1.5  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           3.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IFI                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT 165882.043          55152.998          103066.980  1.5
    END-POINT 165878.863          55152.998          103066.980  1.5
    FABRICATION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IG6                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 165882.043          55152.998          103066.980 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           4.250
    WEIGHT           1.524
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IG7                 
INSTRUMENT
    END-POINT 165882.043          55152.998          103066.980  1.5  
    END-POINT 166133.043          55152.998          103066.980  1.5  
    CENTRE-POINT  166007.543          55152.998          103066.980 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IG5                 
    TAG 12E$TV$0201B                    
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 166136.223          55152.998          103066.980  1.5
    END-POINT 166133.043          55152.998          103066.980  1.5
    FABRICATION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGC                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166136.223          55152.998          103066.980 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           4.250
    WEIGHT           1.524
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGD                 
FLANGE
    END-POINT 166136.223          55152.998          103066.980  1.5  
    END-POINT 166161.623          55152.998          103066.980  1.5  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           3.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGB                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166161.623          55152.998          103066.980  1.5
    END-POINT 166161.623          55152.998          103066.980  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGU                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 166364.823          55152.998          103087.300  3  BW
    END-POINT 166161.623          55152.998          103066.980  1.5  
    SKEY ESSW
    FABRICATION-ITEM
    ITEM-CODE SWGECC2X1+1/2
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGS                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 166364.823          55152.998          103087.300  3
    END-POINT 166364.823          55152.998          103087.300  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGX                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166364.823          55152.998          103087.300  3  BW
    END-POINT 166657.903          55152.998          103087.300  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGW                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166657.903          55152.998          103087.300  3
    END-POINT 166657.903          55152.998          103087.300  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IGY                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 166772.203          55152.998          103201.600  3  
    END-POINT 166657.903          55152.998          103087.300  3  
    CENTRE-POINT  166772.203          55152.998          103087.300 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E0I                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166772.203  55152.998 103087.300  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E4B                 
    TAG                         BS01-3                          
WELD
    END-POINT 166772.203          55152.998          103201.600  3
    END-POINT 166772.203          55152.998          103201.600  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6Q                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166772.203          55152.998          105230.150  3  BW
    END-POINT 166772.203          55152.998          103201.600  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6O                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166772.203          55152.998          105230.150  3
    END-POINT 166772.203          55152.998          105230.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6P                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW-TEED
    END-POINT 166772.201          55267.298          105344.450  3  
    END-POINT 166772.203          55152.998          105230.150  3  
    CENTRE-POINT  166772.203          55152.998          105344.450 
    BRANCH1-POINT 166772.203  55156.304 105344.450  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E04                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166772.207  54956.304 105344.450  3
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EJ2                 
    TAG                         DS03-B-2-3                      
PIPE
    END-POINT 166772.203          55156.304          105344.450  2  BW
    END-POINT 166772.214  54556.304 105344.450  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 166772.214  54556.304 105344.450 
SUPPORT
    CO-ORDS 166772.209  54796.694 105344.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EJ3                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 166772.201          55267.298          105344.450  3
    END-POINT 166772.201          55267.298          105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHR                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166772.188          56077.693          105344.450  3  BW
    END-POINT 166772.201          55267.298          105344.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHP                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166772.188          56077.693          105344.450  3
    END-POINT 166772.188          56077.693          105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHQ                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 166772.188          56077.693          105344.450  3  BW
    END-POINT 166772.185          56280.893          105324.130  1.5  
    SKEY ESSW
    FABRICATION-ITEM
    ITEM-CODE SWGECC2X1+1/2
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHL                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 166772.185          56280.893          105324.130  1.5
    END-POINT 166772.185          56280.893          105324.130  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHN                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 166772.184          56306.293          105324.130  1.5  
    END-POINT 166772.185          56280.893          105324.130  1.5  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           3.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHI                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT 166772.184          56306.293          105324.130  1.5
    END-POINT 166772.184          56309.473          105324.130  1.5
    FABRICATION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166772.184          56306.293          105324.130 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           4.250
    WEIGHT           1.524
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHK                 
INSTRUMENT
    END-POINT 166772.180          56545.473          105324.130  1.5  
    END-POINT 166772.184          56309.473          105324.130  1.5  
    CENTRE-POINT  166772.182          56427.473          105324.130 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHD                 
    TAG 12E$FE$0133                     
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 0 SOUTH
GASKET
    END-POINT 166772.180          56545.473          105324.130  1.5
    END-POINT 166772.180          56548.653          105324.130  1.5
    FABRICATION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHE                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166772.180          56545.473          105324.130 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           4.250
    WEIGHT           1.524
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IHF                 
FLANGE
    END-POINT 166772.180          56548.653          105324.130  1.5  
    END-POINT 166772.179          56574.053          105324.130  1.5  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           3.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IFU                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166772.179          56574.053          105324.130  1.5
    END-POINT 166772.179          56574.053          105324.130  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IH8                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 166772.176          56777.253          105344.450  3  BW
    END-POINT 166772.179          56574.053          105324.130  1.5  
    SKEY ESSW
    FABRICATION-ITEM
    ITEM-CODE SWGECC2X1+1/2
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IH6                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 166772.176          56777.253          105344.450  3
    END-POINT 166772.176          56777.253          105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IH9                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166772.176          56777.253          105344.450  3  BW
    END-POINT 166772.115          60186.398          105344.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E6H                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS 166772.119  59800.698 105344.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E35                 
    TAG                         S01-A-6-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 166772.115          60186.398          105344.450  3
    END-POINT 166772.115          60186.398          105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E6J                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166772.126  59300.698 105344.450  3
    END-POINT 166772.126  59300.698 105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3M                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     166772.126  59300.698 105344.450 
    BRANCH1-POINT 166772.126          59300.698          105285.710  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3K                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166772.126          59300.698          105285.710  0.75
    END-POINT 166772.126          59300.698          105285.710  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3O                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 166772.126          59300.698          105285.710  0.75  
    END-POINT 166772.126          59300.698          105184.110  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3N                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166772.126          59300.698          105184.110  0.75
    END-POINT 166772.126          59300.698          105184.110  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3Q                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 166772.126          59300.698          105184.110  0.75  SW FEMALE 
    END-POINT 166772.126          59300.698          105122.558  0.75  
    CENTRE-POINT  166772.126          59300.698          105151.810 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3P                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 0 SOUTH
MISC-COMPONENT
    END-POINT 166772.126          59300.698          105122.558  0.75  
    END-POINT 166772.126          59300.698          105097.158  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3T                 
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 166772.113          60300.698          105458.750  3  
    END-POINT 166772.115          60186.398          105344.450  3  
    CENTRE-POINT  166772.113          60300.698          105344.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E02                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166772.113          60300.698          105458.750  3
    END-POINT 166772.113          60300.698          105458.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GF6                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166772.113          60300.698          105458.750  3  BW
    END-POINT 166772.113          60300.698          106280.150  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GF5                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 166772.113          60300.698          106280.150  3
    END-POINT 166772.113          60300.698          106280.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GF7                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 166772.113          60300.698          106280.150  3  
    END-POINT 166772.111          60414.998          106394.450  3  
    CENTRE-POINT  166772.113          60300.698          106394.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E06                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166772.111          60414.998          106394.450  3
    END-POINT 166772.111          60414.998          106394.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GFN                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166772.111          60414.998          106394.450  3  BW
    END-POINT 166772.000          66800.026          106394.453  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GFM                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS 166772.034  64791.026 106394.452  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EDU                 
    TAG                         S01-A-3-3                       
FLOW-ARROW
    CO-ORDS 166772.059  63357.488 106394.451 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 166772.000          66800.026          106394.453  3
    END-POINT 166772.000          66800.026          106394.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H0E                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166771.976          68096.888          106394.453  3  
    END-POINT 166772.000          66800.026          106394.453  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KMO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166771.982  67800.000 106394.453  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6T                 
    TAG                         S01-A-3-3                       
END-CONNECTION-PIPELINE 
    CO-ORDS 166771.976          68096.888          106394.453 
    PIPELINE-REFERENCE C210-4910-12E-S-0076-PRM-0003-01
MATERIALS
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE
    RATING CL600
    RATING 80
ITEM-CODE REDECC4X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 40
    RATING SCH 80
ITEM-CODE SWGECC2X1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE ECC BLE x PSE, A234-WPB, SCH 40 x SCH 80
    RATING SCH 40
ITEM-CODE N/A
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RF, CL600, A105N, SCH 80 BORE
    RATING CL600
    RATING 80
ITEM-CODE GAS1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 19.05
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 X 4 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING SCH 40
ITEM-CODE SUPEB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=545mm BS01-3
ITEM-CODE SUPEB- 3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  600 mm DUMMY SUPPORT DS03-B-2-3
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
ITEM-CODE SUPTS-3_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-3
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE SOL3X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE SUPTS-3_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
