ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0007-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0017-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0016-2"
    ATTRIBUTE83   UTIL. STEAM DIST.
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0017-2"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  87645.468          72468.485          102629.561  0.75  
    END-POINT  87645.468          72468.485          102604.161  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJ4                 
    PIPING-SPEC AH
    INSULATION-ON 
VALVE
    END-POINT  87645.468          72468.485          102684.113  0.75  SW FEMALE 
    END-POINT  87645.468          72468.485          102629.561  0.75  
    CENTRE-POINT   87645.468          72468.485          102655.313 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B56                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT  87645.468          72468.485          102684.113  0.75
    END-POINT  87645.468          72468.485          102684.113  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B55                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
COUPLING
    END-POINT  87645.468          72468.485          102785.713  0.75  
    END-POINT  87645.468          72468.485          102684.113  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B54                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT  87645.468          72468.485          102785.713  0.75
    END-POINT  87645.468          72468.485          102785.713  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B53                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
OLET
    CENTRE-POINT      87645.468  72468.485 102830.163 
    BRANCH1-POINT  87645.468          72468.485          102785.713  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B52                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT  87645.468  72468.485 102830.163  2
    END-POINT  87645.468  72468.485 102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B51                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 101439.957          72468.485          102830.163  2  PL
    END-POINT  87570.468          72468.485          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4R                 
    PIPING-SPEC AH
    INSULATION-ON 
SUPPORT
    CO-ORDS  88000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4U                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS  94000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4W                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 100000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4X                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS  96308.957  72468.485 102830.163 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  87570.468          72468.485          102830.163  2
    END-POINT  87570.468          72468.485          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B50                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT  91889.458  72468.485 102830.163  2
    END-POINT  91889.458  72468.485 102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4Q                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 123450.440          72468.485          102830.163  2  
    END-POINT 101439.957          72468.485          102830.163  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHD                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 114164.107  72468.485 102830.163 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 122000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHG                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 116000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHH                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 110000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHI                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 104000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHJ                 
    TAG                         S01-A-6-2                       
END-CONNECTION-PIPELINE 
    CO-ORDS 123450.440          72468.485          102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0006-01
OLET
    CENTRE-POINT      91889.458  72468.485 102830.163 
    BRANCH1-POINT  91889.458          72468.485          102880.963  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4P                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT  91889.458          72468.486          102880.963  1
    END-POINT  91889.458          72468.486          102880.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT  91889.458          72468.475          103002.790  1  
    END-POINT  91889.458          72468.486          102880.963  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4N                 
    PIPING-SPEC AH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  91889.458          72468.475          103002.790 
    PIPELINE-REFERENCE C210-4910-12E-S-0056-PRM-0007-01
CAP
    END-POINT  87570.468          72468.485          102830.163  2  
    END-POINT  87532.368          72468.485          102830.163  2
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B5A                 
    PIPING-SPEC AH
    INSULATION-ON 
MATERIALS
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING 800LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL2X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE G21
    DESCRIPTION GUIDE FOR SHOE G21
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE CAP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9
    DESCRIPTION CAP BW, SCH STD, A234-WPB
    RATING STD
