ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0010-PRM-0005-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0010-PRM-0005-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging during warm-up period
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0009-4"
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-05
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0010-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 142953.475          69112.188          103860.015  4  BW
    END-POINT 142953.475          69112.188          103960.015  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142953.475          69112.188          103860.015  4
    END-POINT 142953.475          69112.188          103860.015  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 142953.475          69112.188          103960.015  4
    END-POINT 142953.475          69112.188          103960.015  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 142775.675          69112.188          103704.567  8  
    END-POINT 143131.275          69112.188          103704.567  8  
    CENTRE-POINT  142953.475          69112.188          103704.567 
    BRANCH1-POINT 142953.475          69112.188          103860.015  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C74                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 142775.675          69112.188          103704.567 
    PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0005-01
ELBOW
    END-POINT 142953.475          69112.188          103960.015  4  
    END-POINT 142953.475          68959.788          104112.415  4  
    CENTRE-POINT  142953.475          69112.188          104112.415 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 142953.475          68959.788          104112.415  4
    END-POINT 142953.475          68959.788          104112.415  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGH                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142953.475          68959.788          104112.415  4  BW
    END-POINT 142953.475          68304.588          104112.415  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142953.475          68304.588          104112.415  4
    END-POINT 142953.475          68304.588          104112.415  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGF                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 142953.475          68304.588          104112.415  4  
    END-POINT 142953.475          68152.188          104264.815  4  
    CENTRE-POINT  142953.475          68152.188          104112.415 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 142953.475          68152.188          104264.815  4
    END-POINT 142953.475          68152.188          104264.815  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGD                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 142953.475          68152.188          104372.765  4  
    END-POINT 142953.475          68152.188          104264.815  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 142953.475          68152.188          104375.940  4
    END-POINT 142953.475          68152.188          104372.765  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 142953.475          68152.188          104372.765 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGB                 
VALVE
    END-POINT 142953.475          68152.188          104375.940  4  
    END-POINT 142953.475          68152.188          104807.740  4  
    CENTRE-POINT  142953.475          68152.188          104591.840 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CG8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 142953.475          68152.188          104810.915  4
    END-POINT 142953.475          68152.188          104807.740  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CG6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 142953.475          68152.188          104810.915 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CG7                 
FLANGE
    END-POINT 142953.475          68152.188          104810.915  4  
    END-POINT 142953.475          68152.188          104918.865  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CG5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142953.475          68152.188          104918.865  4
    END-POINT 142953.475          68152.188          104918.865  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIY                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142953.475          68152.188          104918.865  4  BW
    END-POINT 142953.475          68152.188          105104.486  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142953.475          68152.188          105104.486  4
    END-POINT 142953.475          68152.188          105104.486  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIZ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 142953.475          68304.588          105256.886  4  
    END-POINT 142953.475          68152.188          105104.486  4  
    CENTRE-POINT  142953.475          68152.188          105256.886 
    BRANCH1-POINT 142953.475  68152.188 105244.500  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CG0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 142953.475  67968.855 105244.500  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CG1                 
    TAG                         DS03-B-2-4                      
PIPE
    END-POINT 142953.475          68152.188          105244.500  89  BW
    END-POINT 142953.475  67602.188 105244.500  89  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 142953.475  67602.188 105244.500 
WELD
    END-POINT 142953.475          68304.588          105256.886  4
    END-POINT 142953.475          68304.588          105256.886  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFZ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 142953.475          68412.538          105256.886  4  
    END-POINT 142953.475          68304.588          105256.886  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 142953.475          68415.713          105256.886  4
    END-POINT 142953.475          68412.538          105256.886  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 142953.475          68415.713          105256.886 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFX                 
VALVE
    END-POINT 142953.475          68847.513          105256.886  4  
    END-POINT 142953.475          68415.713          105256.886  4  
    CENTRE-POINT  142953.475          68631.613          105256.886 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 142953.475          68850.688          105256.886  4
    END-POINT 142953.475          68847.513          105256.886  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 142953.475          68850.688          105256.886 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFU                 
FLANGE
    END-POINT 142953.475          68850.688          105256.886  4  
    END-POINT 142953.475          68958.638          105256.886  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142953.475          68958.638          105256.886  4
    END-POINT 142953.475          68958.638          105256.886  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFR                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142953.475          68958.638          105256.886  4  BW
    END-POINT 142953.475          69647.360          105256.798  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 142953.475  69473.495 105256.886 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 142953.475  69274.128 105256.798  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFQ                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 142953.475          69647.360          105256.798  4
    END-POINT 142953.475          69647.360          105256.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 142848.827          69752.008          105256.798  4  
    END-POINT 143058.123          69752.008          105256.798  4  
    CENTRE-POINT  142953.475          69752.008          105256.798 
    BRANCH1-POINT 142953.475          69647.360          105256.798  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 142848.827          69752.008          105256.798 
    PIPELINE-REFERENCE C210-4910-12E-CG-0009-PRM-0005-02
MATERIALS
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT4
    BOLT_DIA 22.225
    BOLT_LEN 145
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  550 mm MY SUPPORT DS03-B-2-4
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING 600LB
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
