ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0007-PRM-0003-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0007-PRM-0003-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-4002
    ATTRIBUTE83   CASING GAS HDR. #1
    ATTRIBUTE84   C210-4902-12E-0002-04
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0007-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 164613.210          69752.188          104402.642  0.75  
    END-POINT 164613.210          69752.188          104431.217  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HAY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 164613.210          69752.188          104431.217 
MESSAGE-CIRCLE
    CO-ORDS 164613.210  69752.188 104416.930 
    UNDIMENSIONED
    TEXT 12E$PIT$4120
VALVE
    END-POINT 164613.210          69752.188          104339.710  0.75  SW FEMALE 
    END-POINT 164613.210          69752.188          104402.642  0.75  
    CENTRE-POINT  164613.210          69752.188          104371.970 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HAV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 164613.210          69752.188          104339.710  0.75
    END-POINT 164613.210          69752.188          104339.710  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LRJ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164613.210          69752.188          104238.110  0.75  
    END-POINT 164613.210          69752.188          104339.710  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LRG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164613.210          69752.188          104238.110  0.75
    END-POINT 164613.210          69752.188          104238.110  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LRH                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     164613.210  69752.188 104157.150 
    BRANCH1-POINT 164613.210          69752.188          104238.110  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LR7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164613.210  69752.188 104157.150  4
    END-POINT 164613.210  69752.188 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LR8                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 165290.688          69752.188          104157.150  4  BW
    END-POINT 164318.740          69752.188          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165290.688          69752.188          104157.150  4
    END-POINT 165290.688          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQI                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164318.740          69752.188          104157.150  4
    END-POINT 164318.740          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HA8                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164387.042  69752.188 104157.150  4
    END-POINT 164387.042  69752.188 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQW                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164462.042  69752.188 104157.150  4
    END-POINT 164462.042  69752.188 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQX                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164763.210  69752.188 104157.150  4
    END-POINT 164763.210  69752.188 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LRA                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     164763.210  69752.188 104157.150 
    BRANCH1-POINT 164763.210          69752.188          104238.110  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LR9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164763.210          69752.188          104238.110  0.75
    END-POINT 164763.210          69752.188          104238.110  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LRE                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164763.210          69752.188          104238.110  0.75  
    END-POINT 164763.210          69752.188          104339.710  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LRD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164763.210          69752.188          104339.710  0.75
    END-POINT 164763.210          69752.188          104339.710  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LRI                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 164763.210          69752.188          104339.710  0.75  SW FEMALE 
    END-POINT 164763.210          69752.188          104402.642  0.75  
    CENTRE-POINT  164763.210          69752.188          104371.970 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HFS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 164763.210          69752.188          104402.642  0.75  
    END-POINT 164763.210          69752.188          104431.217  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HFV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 164763.210          69752.188          104431.217 
MESSAGE-CIRCLE
    CO-ORDS 164763.210  69752.188 104416.930 
    UNDIMENSIONED
    TEXT 12E$PIT$4117
OLET
    CENTRE-POINT     164462.042  69752.188 104157.150 
    BRANCH1-POINT 164462.042          69752.188          104253.990  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I9F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 164462.042  69752.188 104253.990 
    UNDIMENSIONED
    TEXT 12E$TE$4117
END-POSITION-OPEN 
    CO-ORDS 164462.042          69752.188          104253.990 
OLET
    CENTRE-POINT     164387.042  69752.188 104157.150 
    BRANCH1-POINT 164387.042          69752.188          104073.010  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I9N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164387.042          69752.188          104073.010  1
    END-POINT 164387.042          69752.188          104073.010  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I9Q                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164387.042          69752.188          104073.010  1  
    END-POINT 164387.042          69752.188          103971.410  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HFM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164387.042          69752.188          103971.410  1
    END-POINT 164387.042          69752.188          103971.410  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L47                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 164387.042          69752.188          103971.410  1  SW FEMALE 
    END-POINT 164387.042          69752.188          103868.286  1  
    END-POINT 164387.042          69803.877          103916.673  0.75  
    CENTRE-POINT  164387.042          69752.188          103916.673 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L45                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 164387.042          69803.877          103916.673  0.75  
    END-POINT 164387.042          69829.277          103916.673  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 164387.042          69829.277          103916.673 
MISC-COMPONENT
    END-POINT 164387.042          69752.188          103868.286  1  
    END-POINT 164387.042          69752.188          103839.584  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L49                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 164387.042          69752.188          103839.584 
REDUCER-ECCENTRIC
    END-POINT 164318.740          69752.188          104157.150  4  
    END-POINT 164217.140          69752.188          104130.162  2  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X2
    WEIGHT           3.375
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HA7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 164217.140          69752.188          104130.162  2
    END-POINT 164217.140          69752.188          104130.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HA6                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164137.638          69752.188          104130.162  2  
    END-POINT 164217.140          69752.188          104130.162  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HA5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 164134.463          69752.188          104130.162  2
    END-POINT 164137.638          69752.188          104130.162  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HA3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 164137.638          69752.188          104130.162 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HA4                 
INSTRUMENT
    END-POINT 163848.463          69752.188          104130.162  2  
    END-POINT 164134.463          69752.188          104130.162  2  
    CENTRE-POINT  163991.463          69752.188          104130.162 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HA1                 
    TAG 12E$PV$4117                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 163845.288          69752.188          104130.162  2
    END-POINT 163848.463          69752.188          104130.162  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 163848.463          69752.188          104130.162 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HA0                 
FLANGE
    END-POINT 163845.288          69752.188          104130.162  2  
    END-POINT 163765.786          69752.188          104130.162  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163765.786          69752.188          104130.162  2
    END-POINT 163765.786          69752.188          104130.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9X                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 163664.186          69752.188          104157.150  4  
    END-POINT 163765.786          69752.188          104130.162  2  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X2
    WEIGHT           3.375
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 163664.186          69752.188          104157.150  4
    END-POINT 163664.186          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9L                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163664.186          69752.188          104157.150  4  BW
    END-POINT 163514.186          69752.188          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163514.186          69752.188          104157.150  4
    END-POINT 163514.186          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9I                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163589.186  69752.188 104157.150  4
    END-POINT 163589.186  69752.188 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I9M                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163514.186          69752.188          104157.150  4  
    END-POINT 163361.786          69752.188          104309.550  4  
    CENTRE-POINT  163361.786          69752.188          104157.150 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 163361.786          69752.188          104309.550 
    PIPELINE-REFERENCE C210-4910-12E-CG-0007-PRM-0003-02
OLET
    CENTRE-POINT     163589.186  69752.188 104157.150 
    BRANCH1-POINT 163589.186          69752.188          104073.010  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I9K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163589.186          69752.188          104073.010  1
    END-POINT 163589.186          69752.188          104073.010  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I9R                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 163589.186          69752.188          104073.010  1  
    END-POINT 163589.186          69752.188          103971.410  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H9P                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163589.186          69752.188          103971.410  1
    END-POINT 163589.186          69752.188          103971.410  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4G                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 163589.186          69752.188          103971.410  1  SW FEMALE 
    END-POINT 163589.186          69752.188          103868.286  1  
    END-POINT 163589.186          69803.877          103916.673  0.75  
    CENTRE-POINT  163589.186          69752.188          103916.673 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 163589.186          69803.877          103916.673  0.75  
    END-POINT 163589.186          69829.277          103916.673  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 163589.186          69752.188          103868.286  1  
    END-POINT 163589.186          69752.188          103839.584  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLANGE
    END-POINT 165398.638          69752.188          104157.150  4  
    END-POINT 165290.688          69752.188          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 165376.413          69626.583          104157.150  0.5
GASKET
    END-POINT 165398.638          69752.188          104157.150  4
    END-POINT 165401.818          69752.188          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 165398.638          69752.188          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.250
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQG                 
WELD
    END-POINT 165376.413          69626.583          104157.150  0.5
    END-POINT 165376.413          69626.583          104157.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQP                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  165376.413          69626.583          104157.150 
    BRANCH1-POINT 165376.413          69474.183          104157.150  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LNV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165376.413          69474.183          104157.150  0.5
    END-POINT 165376.413          69474.183          104157.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LNW                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 165376.413          69474.183          104157.150  0.5  SW FEMALE 
    END-POINT 165376.413          69403.833          104157.150  0.5  
    CENTRE-POINT  165376.413          69443.833          104157.150 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HX1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
END-POSITION-OPEN 
    CO-ORDS 165376.413          69403.833          104157.150 
INSTRUMENT
    END-POINT 165401.818          69752.188          104157.150  4  
    END-POINT 165404.993          69752.188          104157.150  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HW1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 165404.993  69752.188 104157.150 
    UNDIMENSIONED
    TEXT 12E$FE$4117
GASKET
    END-POINT 165404.993          69752.188          104157.150  4
    END-POINT 165408.173          69752.188          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LO6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 165408.173          69752.188          104157.150  4  
    END-POINT 165516.123          69752.188          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LO4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 165430.398          69626.583          104157.150  0.5
WELD
    END-POINT 165516.123          69752.188          104157.150  4
    END-POINT 165516.123          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LO5                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165430.398          69626.583          104157.150  0.5
    END-POINT 165430.398          69626.583          104157.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LO9                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  165430.398          69626.583          104157.150 
    BRANCH1-POINT 165430.398          69550.383          104157.150  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           2.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LNT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165430.398          69550.383          104157.150  0.5
    END-POINT 165430.398          69550.383          104157.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LNU                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 165430.398          69550.383          104157.150  0.5  SW FEMALE 
    END-POINT 165430.398          69480.033          104157.150  0.5  
    CENTRE-POINT  165430.398          69520.033          104157.150 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HWQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-POSITION-OPEN 
    CO-ORDS 165430.398          69480.033          104157.150 
PIPE
    END-POINT 168029.669          69752.188          104157.150  4  BW
    END-POINT 165516.123          69752.188          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQ6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166000.000  69752.188 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7U                 
    TAG                         S01-A-3-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 166000.000  69752.188 104157.150  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_J8T                 
    TAG                         RP02-3-4                        
FLOW-ARROW
    CO-ORDS 167025.113  69752.188 104157.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 168029.669          69752.188          104157.150  4
    END-POINT 168029.669          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQ5                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 168137.619          69752.188          104157.150  4  
    END-POINT 168029.669          69752.188          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQ0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 168137.619          69752.188          104157.150  4
    END-POINT 168140.799          69752.188          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQ1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 168140.799          69752.188          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LQ2                 
VALVE
    END-POINT 168572.599          69752.188          104157.150  4  
    END-POINT 168140.799          69752.188          104157.150  4  
    CENTRE-POINT  168356.699          69752.188          104157.150 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LPV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 168572.599          69752.188          104157.150  4
    END-POINT 168575.779          69752.188          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LPW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 168572.599          69752.188          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LPX                 
FLANGE
    END-POINT 168575.779          69752.188          104157.150  4  
    END-POINT 168683.729          69752.188          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HC5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 168683.729          69752.188          104157.150  4
    END-POINT 168683.729          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7M                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 169329.388          69752.188          104157.150  4  BW
    END-POINT 168683.729          69752.188          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 169000.000  69752.188 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7N                 
    TAG                         S01-A-4-4                       
WELD
    END-POINT 169329.388          69752.188          104157.150  4
    END-POINT 169329.388          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7L                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 169481.788          69904.588          104157.150  4  
    END-POINT 169329.388          69752.188          104157.150  4  
    CENTRE-POINT  169481.788          69752.188          104157.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7C                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 169481.788          69904.588          104157.150  4
    END-POINT 169481.788          69904.588          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7F                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 169481.788          69904.588          104157.150  4  BW
    END-POINT 169481.788          73095.833          104157.150  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 169481.788  72800.000 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I7I                 
    TAG                         S01-A-4-4                       
WELD
    END-POINT 169481.788          73095.833          104157.150  4
    END-POINT 169481.788          73095.833          104157.150  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSM8HOP_2R1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 169481.788          86328.870          104157.150  4  
    END-POINT 169481.788          73095.833          104157.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSM8HOP_2ND                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 169481.788  76795.833 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSM8HOP_2NU                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 169481.788  81795.833 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSM8HOP_2O0                 
    TAG                         S01-A-6-4                       
FLOW-ARROW
    CO-ORDS 169481.788  74931.554 104157.150 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 169481.788          86328.870          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0007-PRM-0024-01
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE TOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION THREDOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALV3WY1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE REDECC4X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 160, NACE
    RATING 80
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT2
    BOLT_DIA 15.875
    BOLT_LEN 110
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 1/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPPS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-4
ITEM-CODE FLGWNK4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE N/A_1
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-4-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
