ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0035-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0035-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   3120
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0049-4"
    ATTRIBUTE83   12E-CG-0020-6"
    ATTRIBUTE84   C210-4902-12E-0008-05
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0035-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 166257.550          60791.312          107074.928  1  
    END-POINT 166257.550          60791.312          107103.630  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EYH                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166257.550          60791.312          106996.678  1  SW FEMALE 
    END-POINT 166257.550          60791.312          107074.928  1  
    CENTRE-POINT  166257.550          60791.312          107038.978 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EYD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 166257.550          60791.312          106996.678  1
    END-POINT 166257.550          60791.312          106996.678  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EYE                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166257.550          60791.312          106895.078  1  
    END-POINT 166257.550          60791.312          106996.678  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EYB                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166257.550          60791.312          106895.078  1
    END-POINT 166257.550          60791.312          106895.078  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EYC                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166257.550  60791.312 106823.638 
    BRANCH1-POINT 166257.550          60791.312          106895.078  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EY8                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166257.550  60791.312 106823.638  3
    END-POINT 166257.550  60791.312 106823.638  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EYA                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166457.550          60791.312          106823.638  3  BW
    END-POINT 163672.300          60791.312          106823.638  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EY5                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 164350.110  60791.312 106823.638 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 166457.550          60791.312          106823.638  3
    END-POINT 166457.550          60791.312          106823.638  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EY6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163672.300          60791.312          106823.638  3
    END-POINT 163672.300          60791.312          106823.638  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FGH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163672.300          60791.312          106823.638  3  
    END-POINT 163558.000          60791.312          106709.338  3  
    CENTRE-POINT  163558.000          60791.312          106823.638 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AEJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          60791.312          106709.338  3
    END-POINT 163558.000          60791.312          106709.338  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F7V                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          60791.312          106558.088  3  BW
    END-POINT 163558.000          60791.312          106709.338  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F7T                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163558.000          60791.312          106558.088  3
    END-POINT 163558.000          60791.312          106558.088  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FQH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 163558.000          60648.562          106434.138  6  
    END-POINT 163558.000          60934.062          106434.138  6  
    CENTRE-POINT  163558.000          60791.312          106434.138 
    BRANCH1-POINT 163558.000          60791.312          106558.088  3  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FQB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 163558.000          60648.562          106434.138 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0009-01
ELBOW
    END-POINT 166457.550          60791.312          106823.638  3  
    END-POINT 166571.850          60791.312          106709.338  3  
    CENTRE-POINT  166571.850          60791.312          106823.638 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AEF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166571.850          60791.312          106709.338  3
    END-POINT 166571.850          60791.312          106709.338  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EU2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          60791.312          103684.213  3  BW
    END-POINT 166571.850          60791.312          106709.338  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EU0                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 166821.850  60791.312 104705.140  3
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H56                 
    TAG                         DS01-3-3                        
TEE-SET-ON
    BRANCH1-POINT 166616.300          60791.312          104705.140  2
    CENTRE-POINT  166571.850  60791.312 104705.140 
    SKEY TESO
PIPE
    END-POINT 166616.300          60791.312          104705.140  2  BW
    END-POINT 167321.850  60791.312 104705.140  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 167321.850  60791.312 104705.140 
SUPPORT
    CO-ORDS 167100.000  60791.312 104705.140  3
    SKEY AC01
    FABRICATION-ITEM
    ITEM-CODE SUPAB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H5A                 
    TAG                         LS01-A                          
MESSAGE
    CO-ORDS 167100.057  60791.312 104705.140 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 166571.850          60791.312          103684.213  3
    END-POINT 166571.850          60791.312          103684.213  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EU1                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          60791.312          103595.313  3  
    END-POINT 166571.850          60791.312          103684.213  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6W                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          60791.312          103592.138  3
    END-POINT 166571.850          60791.312          103595.313  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6U                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 166571.850          60791.312          103595.313 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6V                 
VALVE
    END-POINT 166571.850          60791.312          103236.538  3  
    END-POINT 166571.850          60791.312          103592.138  3  
    CENTRE-POINT  166571.850          60791.312          103414.338 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6S                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT 166571.850          60791.312          103233.363  3
    END-POINT 166571.850          60791.312          103236.538  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 166571.850          60791.312          103236.538 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6R                 
FLANGE
    END-POINT 166571.850          60791.312          103233.363  3  
    END-POINT 166571.850          60791.312          103144.463  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6P                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          60791.312          103144.463  3
    END-POINT 166571.850          60791.312          103144.463  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ETV                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166571.850          60905.612          103030.163  3  
    END-POINT 166571.850          60791.312          103144.463  3  
    CENTRE-POINT  166571.850          60791.312          103030.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166571.850  60791.312 103030.163  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6L                 
    TAG                         BS01-3                          
WELD
    END-POINT 166571.850          60905.612          103030.163  3
    END-POINT 166571.850          60905.612          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1P                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          61055.612          103030.163  3  BW
    END-POINT 166571.850          60905.612          103030.163  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1N                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          61055.612          103030.163  3
    END-POINT 166571.850          61055.612          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1O                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          61144.512          103030.163  3  
    END-POINT 166571.850          61055.612          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6I                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          61147.687          103030.163  3
    END-POINT 166571.850          61144.512          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 166571.850          61144.512          103030.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6H                 
VALVE
    END-POINT 166571.850          61503.287          103030.163  3  
    END-POINT 166571.850          61147.687          103030.163  3  
    CENTRE-POINT  166571.850          61325.487          103030.163 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6F                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          61506.462          103030.163  3
    END-POINT 166571.850          61503.287          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 166571.850          61503.287          103030.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6E                 
FLANGE
    END-POINT 166571.850          61506.462          103030.163  3  
    END-POINT 166571.850          61595.362          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6C                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          61595.362          103030.163  3
    END-POINT 166571.850          61595.362          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I0S                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 166571.850          61595.362          103030.163  3  BW
    END-POINT 166571.850          61798.562          103050.483  1.5  
    SKEY ESSW
    FABRICATION-ITEM
    ITEM-CODE SWGECC2X1+1/2
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I0Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION UP
WELD
    END-POINT 166571.850          61798.562          103050.483  1.5
    END-POINT 166571.850          61798.562          103050.483  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I0U                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          61823.962          103050.483  1.5  
    END-POINT 166571.850          61798.562          103050.483  1.5  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           3.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I0T                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          61827.142          103050.483  1.5
    END-POINT 166571.850          61823.962          103050.483  1.5
    FABRICATION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I0X                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          61827.142          103050.483 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           4.250
    WEIGHT           1.524
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I0Y                 
INSTRUMENT
    END-POINT 166571.850          61827.142          103050.483  1.5  
    END-POINT 166571.850          62078.142          103050.483  1.5  
    CENTRE-POINT  166571.850          61952.642          103050.483 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I0W                 
    TAG 12E$PV$0135A                    
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 166571.850          62081.322          103050.483  1.5
    END-POINT 166571.850          62078.142          103050.483  1.5
    FABRICATION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I10                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          62081.322          103050.483 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           4.250
    WEIGHT           1.524
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I11                 
FLANGE
    END-POINT 166571.850          62081.322          103050.483  1.5  
    END-POINT 166571.850          62106.722          103050.483  1.5  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           3.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I0Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          62106.722          103050.483  1.5
    END-POINT 166571.850          62106.722          103050.483  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I17                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 166571.850          62309.922          103030.163  3  BW
    END-POINT 166571.850          62106.722          103050.483  1.5  
    SKEY ESSW
    FABRICATION-ITEM
    ITEM-CODE SWGECC2X1+1/2
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I15                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION UP
WELD
    END-POINT 166571.850          62309.922          103030.163  3
    END-POINT 166571.850          62309.922          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1G                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          62309.922          103030.163  3  BW
    END-POINT 166571.850          62511.927          103030.163  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1F                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 166571.850  62407.045 103030.163 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 166571.850          62511.927          103030.163  3
    END-POINT 166571.850          62511.927          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1H                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850  62410.924 103030.163  3
    END-POINT 166571.850  62410.924 103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1L                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166571.850  62410.924 103030.163 
    BRANCH1-POINT 166571.850          62410.924          102958.723  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1J                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          62410.924          102958.723  1
    END-POINT 166571.850          62410.924          102958.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1M                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166571.850          62410.924          102958.723  1  
    END-POINT 166571.850          62410.924          102857.123  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HL2                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          62410.924          102857.123  1
    END-POINT 166571.850          62410.924          102857.123  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HL4                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166571.850          62410.924          102857.123  1  SW FEMALE 
    END-POINT 166571.850          62410.924          102778.873  1  
    CENTRE-POINT  166571.850          62410.924          102814.823 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HL3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT 166571.850          62410.924          102778.873  1  
    END-POINT 166571.850          62410.924          102750.171  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HL6                 
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166571.850          62511.927          103030.163  3  
    END-POINT 166571.850          62626.227          103144.463  3  
    CENTRE-POINT  166571.850          62626.227          103030.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166571.850  62626.227 103030.163  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5K                 
    TAG                         BS01-3                          
WELD
    END-POINT 166571.850          62626.227          103144.463  3
    END-POINT 166571.850          62626.227          103144.463  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ETW                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          62626.227          103233.363  3  
    END-POINT 166571.850          62626.227          103144.463  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5O                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          62626.227          103233.363  3
    END-POINT 166571.850          62626.227          103236.538  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5P                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 166571.850          62626.227          103236.538 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5Q                 
VALVE
    END-POINT 166571.850          62626.227          103236.538  3  
    END-POINT 166571.850          62626.227          103592.138  3  
    CENTRE-POINT  166571.850          62626.227          103414.338 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5R                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT 166571.850          62626.227          103592.138  3
    END-POINT 166571.850          62626.227          103595.313  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5T                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 166571.850          62626.227          103595.313 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5U                 
FLANGE
    END-POINT 166571.850          62626.227          103595.313  3  
    END-POINT 166571.850          62626.227          103684.213  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A5V                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          62626.227          103684.213  3
    END-POINT 166571.850          62626.227          103684.213  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FGF                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          62626.227          103684.213  3  BW
    END-POINT 166571.850          62626.227          104705.140  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FGE                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          62626.227          104705.140  3
    END-POINT 166571.850          62626.227          104705.140  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FGG                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166686.150          62626.227          104819.440  3  
    END-POINT 166571.850          62626.227          104705.140  3  
    CENTRE-POINT  166571.850          62626.227          104819.440 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FG5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166686.150          62626.227          104819.440  3
    END-POINT 166686.150          62626.227          104819.440  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FG8                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166686.150          62626.227          104819.440  3  BW
    END-POINT 167399.500          62626.227          104819.440  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FG7                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 167100.057  62626.227 104819.440  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A8N                 
    TAG                         S01-A-3-3                       
MESSAGE
    CO-ORDS 167100.057  62626.227 104819.440 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 167399.500          62626.227          104819.440  3
    END-POINT 167399.500          62626.227          104819.440  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_8Y7                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167299.300  62626.227 104819.440  3
    END-POINT 167299.300  62626.227 104819.440  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HKJ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 168867.423          62626.227          104819.440  3  
    END-POINT 167399.500          62626.227          104819.440  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_8Y5                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 168157.637  62626.227 104819.440 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 168867.423          62626.227          104819.440 
    PIPELINE-REFERENCE C210-4910-12E-CG-0035-SB-0008-01
OLET
    CENTRE-POINT     167299.300  62626.227 104819.440 
    BRANCH1-POINT 167299.300          62626.227          104890.880  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HKG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167299.300          62626.227          104890.880  1
    END-POINT 167299.300          62626.227          104890.880  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HKH                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 167299.300          62626.227          104890.880  1  
    END-POINT 167299.300          62626.227          104992.480  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HKA                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167299.300          62626.227          104992.480  1
    END-POINT 167299.300          62626.227          104992.480  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HKC                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 167299.300          62626.227          104992.480  1  SW FEMALE 
    END-POINT 167299.300          62626.227          105070.730  1  
    CENTRE-POINT  167299.300          62626.227          105034.780 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HKB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 167299.300          62626.227          105070.730  1  
    END-POINT 167299.300          62626.227          105099.432  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HKE                 
    PIPING-SPEC CHS
    INSULATION-ON 
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION DUMMY SUPPORT DS01-3-3
ITEM-CODE SUPAB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION LINE STOP FOR BARE PIPE LS01-A
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT3
    BOLT_DIA 15.875
    BOLT_LEN 76.2
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE SUPEB-3_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=498mm BS01-3
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING 600LB
ITEM-CODE SWGECC2X1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE ECC BLE x PSE, A234-WPB, SCH 80 x SCH 160, NACE
    RATING SCH 80
ITEM-CODE N/A
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RF, CL600, A105N, SCH 160 BORE, NACE
    RATING CL600
    RATING 160
ITEM-CODE GAS1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 19.05
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
