ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0024-PRM-0008-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0024-PRM-0008-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0022-4"
    ATTRIBUTE83   12E-PE-0001-4"
    ATTRIBUTE84   C210-4902-12E-0001-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0024-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 248446.575          72034.093          105100.034  1  
    END-POINT 248446.604          72034.093          105128.736  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GBK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 248446.604          72034.093          105128.736 
VALVE
    END-POINT 248446.496          72034.093          105021.784  1  SW FEMALE 
    END-POINT 248446.575          72034.093          105100.034  1  
    CENTRE-POINT  248446.539          72034.093          105064.084 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GBG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 248446.496          72034.093          105021.784  1
    END-POINT 248446.496          72034.093          105021.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GBH                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 248446.394          72034.093          104920.184  1  
    END-POINT 248446.496          72034.093          105021.784  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GBE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 248446.394          72034.093          104920.184  1
    END-POINT 248446.394          72034.093          104920.184  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GBF                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     248446.329  72034.093 104855.094 
    BRANCH1-POINT 248446.394          72034.093          104920.184  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GBB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 248446.329  72034.093 104855.094  3
    END-POINT 248446.329  72034.093 104855.094  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GBD                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 247843.709          72034.093          104855.699  3  BW
    END-POINT 248607.329          72034.093          104854.932  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GB8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 248066.153  72034.093 104855.475 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 247843.709          72034.093          104855.699  3
    END-POINT 247843.709          72034.093          104855.699  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GB9                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 248607.329          72034.093          104854.932  3
    END-POINT 248607.329          72034.093          104854.932  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GBA                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 248696.229          72034.093          104854.843  3  
    END-POINT 248607.329          72034.093          104854.932  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FK1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 248696.229          72034.093          104854.843  3
    END-POINT 248699.409          72034.125          104854.932  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FK3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 248696.229          72034.093          104854.843 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FK4                 
PIPE
    END-POINT 248699.409          72034.125          104854.932  3  
    END-POINT 248699.407          72034.125          104854.932  3  
    CONTINUATION 
    MESSAGE This is a GAP 
VALVE
    END-POINT 248699.409          72034.125          104854.932  3  
    END-POINT 249055.009          72034.125          104854.932  3  
    CENTRE-POINT  248877.209          72034.125          104854.932 
    SKEY CKFL
    CONTINUATION 
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D15                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 249055.009          72034.125          104854.932 
    PIPELINE-REFERENCE C210-4910-12E-PE-0001-PRM-0008-01
ELBOW
    END-POINT 247756.988          71998.172          104855.699  3  
    END-POINT 247843.709          72034.093          104855.699  3  
    CENTRE-POINT  247792.909          72034.093          104855.699 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           1.140
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT 247756.988          71998.172          104855.699  3
    END-POINT 247756.988          71998.172          104855.699  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJT                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 247756.988          71998.172          104855.699  3  BW
    END-POINT 247426.437          71667.622          104855.699  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 247426.437          71667.622          104855.699  3
    END-POINT 247426.437          71667.622          104855.699  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJU                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 247345.615          71586.799          104741.399  3  
    END-POINT 247426.437          71667.622          104855.699  3  
    CENTRE-POINT  247345.615          71586.799          104855.699 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 247345.615          71586.799          104741.399  3
    END-POINT 247345.615          71586.799          104741.399  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJW                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 247345.615          71586.799          104741.399  3  BW
    END-POINT 247345.615          71586.799          104452.559  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 247345.615          71586.799          104452.559  3
    END-POINT 247345.615          71586.799          104452.559  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 247345.615          71586.799          104363.659  3  
    END-POINT 247345.615          71586.799          104452.559  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 247345.615          71586.799          104363.659  3
    END-POINT 247345.615          71586.799          104360.479  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 247345.615          71586.799          104347.779  3  
    END-POINT 247345.615          71586.799          104360.479  3  
    CENTRE-POINT 247345.615  71586.799 104354.129 
    SKEY SB
    CONTINUATION 
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FJ6                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS 247345.615          71586.799          104347.779 
    PIPELINE-REFERENCE C210-4910-12E-S-0022-PRM-0008-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
ITEM-CODE 45LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 40
    RATING SCH 40
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING SCH 40
