ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0130-PRM-0005-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-FG-0130-PRM-0005-01
    ATTRIBUTE70   V
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0131-1"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0130-2"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 138400.000          72307.188          106713.963  2  BW
    END-POINT 138400.000          72307.188          106443.663  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DLI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138400.000          72307.188          106713.963  2
    END-POINT 138400.000          72307.188          106713.963  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DLJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 138400.000          72307.188          106443.663  2
    END-POINT 138400.000          72307.188          106443.663  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DLK                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 138336.500          72307.188          106380.163  2  
    END-POINT 138463.500          72307.188          106380.163  2  
    CENTRE-POINT  138400.000          72307.188          106380.163 
    BRANCH1-POINT 138400.000          72307.188          106443.663  2  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.845
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DKK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 138336.500          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0005-01
ELBOW
    END-POINT 138400.000          72307.188          106713.963  2  
    END-POINT 138400.000          72230.988          106790.162  2  
    CENTRE-POINT  138400.000          72307.188          106790.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.945
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DK9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 138400.000          72230.988          106790.162  2
    END-POINT 138400.000          72230.988          106790.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DKF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 138400.000          72230.988          106790.162  2  BW
    END-POINT 138400.000          67500.000          106790.162  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DKE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 138400.000  67800.000 106790.162  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DKI                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS 138400.000  69917.988 106790.162 
    FLOW 1
    SKEY FLOW
PIPE
    END-POINT 138400.000          60265.580          106790.163  2  
    END-POINT 138400.000          67500.000          106790.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GOWYJGJH_3A2                 
    PIPING-SPEC DL
    INSULATION-ON 
SUPPORT
    CO-ORDS 138400.000  63600.000 106790.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GOWYJGJH_3A4                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS 138400.000  62812.571 106790.163 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 138400.000          60265.580          106790.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0130-SB-0020-01
MATERIALS
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A333-6, SCH 80
    RATING SCH 80
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A420-WPL6, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
