ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0011-PRM-0005-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-S-0011-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0006-8"
    ATTRIBUTE83   12E-S-0041-3"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0011-6"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 142072.553          71587.083          104468.767  1  
    END-POINT 142072.553          71587.083          104497.469  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EOI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 142072.553          71587.083          104497.469 
VALVE
    END-POINT 142072.553          71587.083          104390.517  1  SW FEMALE 
    END-POINT 142072.553          71587.083          104468.767  1  
    CENTRE-POINT  142072.553          71587.083          104432.817 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EOE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 142072.553          71587.083          104390.517  1
    END-POINT 142072.553          71587.083          104390.517  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EOF                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 142072.553          71587.083          104288.917  1  
    END-POINT 142072.553          71587.083          104390.517  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMW                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142072.553          71587.083          104288.917  1
    END-POINT 142072.553          71587.083          104288.917  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMX                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     142072.553  71587.083 104184.137 
    BRANCH1-POINT 142072.553          71587.083          104288.917  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142072.553  71587.083 104184.137  6
    END-POINT 142072.553  71587.083 104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMV                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 141972.553          71587.083          104184.137  6  BW
    END-POINT 142172.553          71587.083          104184.137  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 141972.553          71587.083          104184.137  6
    END-POINT 141972.553          71587.083          104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMQ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 142172.553          71587.083          104184.137  6
    END-POINT 142172.553          71587.083          104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 142401.153          71815.683          104184.137  6  
    END-POINT 142172.553          71587.083          104184.137  6  
    CENTRE-POINT  142401.153          71587.083          104184.137 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BVC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 142401.153          71815.683          104184.137  6
    END-POINT 142401.153          71815.683          104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT5                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 142401.153          72101.179          104184.137  6  
    END-POINT 142401.153          71815.683          104184.137  6  
    CENTRE-POINT  142401.153          71958.431          104184.137 
    BRANCH1-POINT 142401.153          71958.431          104041.389  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT4                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 142401.153          72101.179          104184.137  6
    END-POINT 142401.153          72101.179          104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT3                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 142401.153          71958.431          104041.389  6
    END-POINT 142401.153          71958.431          104041.389  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT6                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 142401.153          71958.431          104041.389  6  BW
    END-POINT 142401.513          71958.431          103916.041  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142401.513          71958.431          103916.041  6
    END-POINT 142401.513          71958.431          103916.041  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT8                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 142401.513          71958.431          103916.041  6  
    END-POINT 142401.513          71958.431          103357.241  6  
    CENTRE-POINT  142401.513          71958.431          103636.641 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 142401.513          71958.431          103357.241  6
    END-POINT 142401.513          71958.431          103357.241  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTB                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 142401.513          71958.231          103112.738  6  BW
    END-POINT 142401.513          71958.431          103357.241  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142401.513          71958.231          103112.738  6
    END-POINT 142401.513          71958.231          103112.738  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTD                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 142401.513          71958.231          103112.738  6  
    END-POINT 142172.913          71958.231          102884.138  6  
    CENTRE-POINT  142401.513          71958.231          102884.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 142172.913          71958.231          102884.138  6
    END-POINT 142172.913          71958.231          102884.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTF                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 140715.050          71958.231          102884.138  6  BW
    END-POINT 142172.913          71958.231          102884.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 141900.000  71958.231 102884.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTI                 
    TAG                         S01-A-3-6                       
FLOW-ARROW
    CO-ORDS 141606.510  71958.231 102884.138 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 141900.000  71958.231 102884.138  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTK                 
    TAG                         RP02-3-6                        
SUPPORT
    CO-ORDS 141000.000  71958.231 102884.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DV8                 
    TAG                         S01-A-3-6                       
WELD
    END-POINT 140715.050          71958.231          102884.138  6
    END-POINT 140715.050          71958.231          102884.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTM                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 141297.913  71958.231 102884.138  6
    END-POINT 141297.913  71958.231 102884.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     141297.913  71958.231 102884.138 
    BRANCH1-POINT 141297.913          71958.231          102779.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 141297.913          71958.231          102779.363  1
    END-POINT 141297.913          71958.231          102779.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 141297.913          71958.231          102779.363  1  
    END-POINT 141297.913          71958.231          102677.763  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 141297.913          71958.231          102677.763  1
    END-POINT 141297.913          71958.231          102677.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTR                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 141297.913          71958.231          102677.763  1  
    END-POINT 141297.913          71958.231          102614.163  1  
    CENTRE-POINT  141297.913          71958.231          102645.963 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 141297.913          71958.231          102614.163  1
    END-POINT 141297.913          71958.231          102614.163  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTU                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 141297.913          71958.231          102614.163  1  
    END-POINT 141297.913          71958.231          102512.563  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 141297.913          71958.231          102512.563  1
    END-POINT 141297.913          71958.231          102512.563  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTW                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 141297.913          71958.231          102512.563  1  SW FEMALE 
    END-POINT 141297.913          71958.231          102396.725  1  
    CENTRE-POINT  141297.913          71958.231          102476.596 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BTX                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 141297.913          71958.231          102396.725  1  
    END-POINT 141297.913          71958.231          102366.563  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BU0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 141297.913          71958.231          102366.563 
MESSAGE
    CO-ORDS 141297.913  71958.231 102379.263 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
ELBOW
    END-POINT 140715.050          71958.231          102884.138  6  
    END-POINT 140486.450          71729.631          102884.138  6  
    CENTRE-POINT  140486.450          71958.231          102884.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BU1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 140486.450          71729.631          102884.138  6
    END-POINT 140486.450          71729.631          102884.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DMQ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 140486.450          71729.631          102884.138  6  BW
    END-POINT 140486.450          71579.631          102884.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DMP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 140486.450          71579.631          102884.138  6
    END-POINT 140486.450          71579.631          102884.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DMR                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 140486.450          71579.631          102884.138  6  
    END-POINT 140486.450          71020.831          102884.138  6  
    CENTRE-POINT  140486.450          71300.231          102884.138 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BU5                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 140486.450          71020.831          102884.138  6
    END-POINT 140486.450          71020.831          102884.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BU7                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 140257.850          70792.231          102884.138  6  
    END-POINT 140486.450          71020.831          102884.138  6  
    CENTRE-POINT  140486.450          70792.231          102884.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BU8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 140257.850          70792.231          102884.138  6
    END-POINT 140257.850          70792.231          102884.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BU9                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 140105.450          70792.231          102909.538  8  
    END-POINT 140257.850          70792.231          102884.138  6  
    SKEY REBW
    CONTINUATION 
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 140105.450          70792.231          102909.538 
    PIPELINE-REFERENCE C210-4910-12E-S-0003-PRM-0005-01
ELBOW
    END-POINT 142401.153          72101.179          104184.137  6  
    END-POINT 142172.553          72329.779          104184.137  6  
    CENTRE-POINT  142401.153          72329.779          104184.137 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 142172.553          72329.779          104184.137  6
    END-POINT 142172.553          72329.779          104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT1                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 142172.553          72329.779          104184.137  6  
    END-POINT 142032.853          72329.779          104144.450  3  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X3
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BT0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 142032.853          72329.779          104144.450  3
    END-POINT 142032.853          72329.779          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BSQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 140552.228          72329.779          104144.450  3  
    END-POINT 142032.853          72329.779          104144.450  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BSL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 141000.000  72329.779 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BSO                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 141000.000  72329.779 104144.450  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DVE                 
    TAG                         RP02-3-3                        
END-CONNECTION-PIPELINE 
    CO-ORDS 140552.228          72329.779          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0041-PRM-0005-01
REDUCER-ECCENTRIC
    END-POINT 141972.553          71587.083          104184.137  6  
    END-POINT 141832.853          71587.083          104157.150  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BVE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 141832.853          71587.083          104157.150  4
    END-POINT 141832.853          71587.083          104157.150  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EO2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 140550.003          71587.083          104157.150  4  
    END-POINT 141832.853          71587.083          104157.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EO0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 141000.853  71587.083 104157.150  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EO5                 
    TAG                         RP02-3-4                        
SUPPORT
    CO-ORDS 141000.853  71587.083 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EO9                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 140550.003          71587.083          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0042-PRM-0005-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL6X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING CL3000
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE TEESTR6X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE VALVGAT6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-6
ITEM-CODE SUPPS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-3-6
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING 800LB
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825STW
    RATING 800LB
ITEM-CODE REDECC6X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 40
    RATING 80
ITEM-CODE REDECC6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING 80
