ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0073-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0073-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0072-4"
    ATTRIBUTE83   12E-WI-7001 (HEEL)
    ATTRIBUTE84   C210-4902-12E-0001-07
    ATTRIBUTE88   -
    ATTRIBUTE89   -
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-S-0073-4"-CHS
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT  80954.263          71726.892          104157.150  4  BW
    END-POINT  80954.263          73098.482          104157.150  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BFC                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  80954.263  72800.000 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BFD                 
    TAG                         S01-A-3-4                       
FLOW-ARROW
    CO-ORDS  80954.263  72361.753 104157.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  80954.263          71726.892          104157.150  4
    END-POINT  80954.263          71726.892          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BFB                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  80954.263          73098.482          104157.150  4
    END-POINT  80954.263          73098.482          104157.150  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_HO                  
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  80954.263          85374.814          104157.150  4  
    END-POINT  80954.263          73098.482          104157.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_HM                  
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  80954.263  74962.913 104157.150 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  80954.263  76800.833 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_HU                  
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS  80954.263  81800.833 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_HW                  
    TAG                         S01-A-6-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS  80954.263          85374.814          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0073-PRM-0027-01
ELBOW
    END-POINT  80954.263          71726.892          104157.150  4  
    END-POINT  81106.663          71574.492          104157.150  4  
    CENTRE-POINT   80954.263          71574.492          104157.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BFA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  81106.663          71574.492          104157.150  4
    END-POINT  81106.663          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  81106.663          71574.492          104157.150  4  
    END-POINT  81315.959          71574.492          104157.150  4  
    CENTRE-POINT   81211.311          71574.492          104157.150 
    BRANCH1-POINT  81211.311          71574.492          104261.798  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  81315.959          71574.492          104157.150  4
    END-POINT  81315.959          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEM                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  81211.311          71574.492          104261.798  4
    END-POINT  81211.311          71574.492          104261.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEP                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  81211.311          71574.492          104369.748  4  
    END-POINT  81211.311          71574.492          104261.798  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  81211.311          71574.492          104369.748  4
    END-POINT  81211.311          71574.492          104372.923  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BER                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
MISC-COMPONENT
    END-POINT  81211.311          71574.492          104372.923  4  
    END-POINT  81211.311          71574.492          104388.671  4  
    CENTRE-POINT  81211.311  71574.492 104380.797 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BES                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT  81211.311          71574.492          104391.851  4
    END-POINT  81211.311          71574.492          104388.671  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EI8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT  81211.311          71574.492          104391.851  4  
    END-POINT  81211.311          71574.492          104499.801  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EI7                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  81211.311          71574.492          104499.801 
    PIPELINE-REFERENCE C210-4910-12E-S-0075-PRM-0007-01
FLANGE
    END-POINT  81423.909          71574.492          104157.150  4  
    END-POINT  81315.959          71574.492          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEL                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  81427.084          71574.492          104157.150  4
    END-POINT  81423.909          71574.492          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
MISC-COMPONENT
    END-POINT  81427.084          71574.492          104157.150  4  
    END-POINT  81442.832          71574.492          104157.150  4  
    CENTRE-POINT  81434.958  71574.492 104157.150 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT  81446.007          71574.492          104157.150  4
    END-POINT  81442.832          71574.492          104157.150  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEH                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING 600LB          
FLANGE
    END-POINT  81446.007          71574.492          104157.150  4  
    END-POINT  81553.957          71574.492          104157.150  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEG                 
    PIPING-SPEC CH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  81553.957          71574.492          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0072-PRM-0007-02
MATERIALS
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE LNBDSPEC4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING 600LB
