ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0041-PRM-0025-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0025.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0041-PRM-0025-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0011-6"
    ATTRIBUTE83   12E-WI-5001 (TOE)
    ATTRIBUTE84   C210-4902-12E-0001-05
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0041-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 136124.568          85774.871          104144.450  3  BW
    END-POINT 136124.568          73097.807          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_31D                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 136124.568  76800.833 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_31I                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 136124.568  81800.833 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_31P                 
    TAG                         S01-A-6-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 136124.568  74956.552 104144.450 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 136124.568          85774.871          104144.450  3
    END-POINT 136124.568          85774.871          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_31E                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 136124.568          73097.807          104144.450  3
    END-POINT 136124.568          73097.807          104144.450  3
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_31F                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 136124.568          72444.079          104144.450  3  
    END-POINT 136124.568          73097.807          104144.450  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C0J                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 136124.568  72800.000 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C0K                 
    TAG                         S01-A-3-3                       
END-CONNECTION-PIPELINE 
    CO-ORDS 136124.568          72444.079          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0041-PRM-0005-01
VALVE
    END-POINT 136124.568          85774.871          104144.450  3  
    END-POINT 136124.568          86028.871          104144.450  3  
    CENTRE-POINT  136124.568          85901.871          104144.450 
    SKEY CKBW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_2WN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136124.568          86028.871          104144.450  3
    END-POINT 136124.568          86028.871          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_2Z1                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 136124.568          88009.720          104144.450  3  BW
    END-POINT 136124.568          86028.871          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_2YZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 136124.568  86803.100 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_2Z6                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 136124.568          88009.720          104144.450  3
    END-POINT 136124.568          88009.720          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_33G                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 136124.568          88098.620          104144.450  3  
    END-POINT 136124.568          88009.720          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_33F                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 136124.568          88098.620          104144.450  3
    END-POINT 136124.568          88101.800          104144.450  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_33H                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 136124.568          88098.620          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSQ3S28_33I                 
FLANGE
    END-POINT 136124.568          88101.800          104144.450  3  
    END-POINT 136124.568          88190.700          104144.450  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FFG2Z02Q_2OX                 
    PIPING-SPEC CH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 136124.568          88190.700          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0041-SB-0005-01
MATERIALS
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE SUPTS-3_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.34
    DESCRIPTION CHECK VALVE SWING BW, A105N, CL600, CH-652ST
    RATING 600LB
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
