ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0035-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-PE-0035-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   HEADER #2 
    ATTRIBUTE83   12E-PE-0034-8"
    ATTRIBUTE84   C210-4902-12E-0006-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0035-6"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  87531.937          69112.809          103679.138  6  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD6
    WEIGHT          39.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT  87477.835          69112.809          103679.138  6
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  87477.835          69112.809          103679.138 
GASKET
    END-POINT  87531.937          69112.809          103679.138  6
    END-POINT  87535.117          69112.809          103679.138  6
    FABRICATION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  87531.937          69112.809          103679.138 
    BOLT-DIA           1.000
    BOLT-QUANTITY              12
    BOLT-LENGTH           6.750
    WEIGHT          16.923
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOR                 
FLANGE
    END-POINT  87535.117          69112.809          103679.138  6  
    END-POINT  87658.815          69112.809          103679.138  6  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          36.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOM                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  87658.815          69112.809          103679.138  6
    END-POINT  87658.815          69112.809          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EID                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  88292.369          69112.809          103679.138  6  BW
    END-POINT  87658.815          69112.809          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOK                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  88000.000  69112.809 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOU                 
    TAG                         S01-B-3-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT  88292.369          69112.809          103679.138  6
    END-POINT  88292.369          69112.809          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  87750.117  69112.809 103679.138  6
    END-POINT  87750.117  69112.809 103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIG                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT      87750.117  69112.809 103679.138 
    BRANCH1-POINT  87750.117          69112.809          103568.008  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIF                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  87750.117          69112.809          103568.008  1
    END-POINT  87750.117          69112.809          103568.008  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EII                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  87750.117          69112.809          103568.008  1  
    END-POINT  87750.117          69112.809          103466.408  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIH                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  87750.117          69112.809          103466.408  1
    END-POINT  87750.117          69112.809          103466.408  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIK                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  87750.117          69112.809          103466.408  1  SW FEMALE 
    END-POINT  87750.117          69112.809          103388.158  1  
    CENTRE-POINT   87750.117          69112.809          103424.108 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT  87750.117          69112.809          103388.158  1  
    END-POINT  87750.117          69112.809          103359.456  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  87750.117          69112.809          103359.456 
TEE
    END-POINT  88577.865          69112.809          103679.138  6  
    END-POINT  88292.369          69112.809          103679.138  6  
    CENTRE-POINT   88435.117          69112.809          103679.138 
    BRANCH1-POINT  88435.117          69112.809          103809.186  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BNW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  88577.865          69112.809          103679.138  6
    END-POINT  88577.865          69112.809          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BNX                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  88435.117          69112.809          103809.186  4
    END-POINT  88435.117          69112.809          103809.186  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CID                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  88435.117          69112.809          103909.184  4  
    END-POINT  88435.117          69112.809          103809.186  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIB                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  88435.117          69112.809          103909.184 
    PIPELINE-REFERENCE C210-4910-12E-PE-0037-PRM-0007-03
PIPE
    END-POINT  89807.189          69112.809          103679.138  6  BW
    END-POINT  88577.865          69112.809          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BOX                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89807.189          69112.809          103679.138  6
    END-POINT  89807.189          69112.809          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BOY                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  90092.685          69112.809          103679.138  6  
    END-POINT  89807.189          69112.809          103679.138  6  
    CENTRE-POINT   89949.937          69112.809          103679.138 
    BRANCH1-POINT  89949.937          69112.809          103809.186  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BOZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  90092.685          69112.809          103679.138  6
    END-POINT  90092.685          69112.809          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP0                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89949.937          69112.809          103809.186  4
    END-POINT  89949.937          69112.809          103809.186  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CMP                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  89949.937          69112.809          103892.750  4  
    END-POINT  89949.937          69112.809          103809.186  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BS5                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  89949.937          69112.809          103892.750 
    PIPELINE-REFERENCE C210-4910-12E-CG-0014-PRM-0007-01
PIPE
    END-POINT  93605.064          69112.809          103679.138  6  BW
    END-POINT  90092.685          69112.809          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP2                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  91938.721  69112.809 103679.138 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  93605.064          69112.809          103679.138  6
    END-POINT  93605.064          69112.809          103679.138  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  93757.464          69112.809          103704.538  8  
    END-POINT  93605.064          69112.809          103679.138  6  
    SKEY REBW
    CONTINUATION 
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS  93757.464          69112.809          103704.538 
    PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0007-01
MATERIALS
ITEM-CODE FLGBLD6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING CL600
ITEM-CODE GAS6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 25.4
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 1 X 6 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE FLGWNK6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-6
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SOL6X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE TEERED6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
