ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0026-PRM-0022-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0022.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0026-PRM-0022-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0008-6"
    ATTRIBUTE83   12E-WI-2001 (TOE)
    ATTRIBUTE84   C210-4902-12E-0001-02
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0026-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 222450.004          85774.870          104144.449  3  BW
    END-POINT 222450.093          73097.793          104144.449  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2RO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222450.031  81801.881 104144.449  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2RU                 
    TAG                         S01-A-6-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 222450.067  76801.908 104144.449  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2RW                 
    TAG                         S01-A-3-3                       
FLOW-ARROW
    CO-ORDS 222450.078  75211.841 104144.449 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 222450.004          85774.870          104144.449  3
    END-POINT 222450.004          85774.870          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2RP                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 222450.093          73097.793          104144.449  3
    END-POINT 222450.093          73097.793          104144.449  3
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2RQ                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 222450.092          72443.975          104144.449  3  
    END-POINT 222450.093          73097.793          104144.449  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EMD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222450.092  72800.000 104144.449  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BHQ                 
    TAG                         S01-A-3-3                       
END-CONNECTION-PIPELINE 
    CO-ORDS 222450.092          72443.975          104144.449 
    PIPELINE-REFERENCE C210-4910-12E-S-0026-PRM-0001-02
VALVE
    END-POINT 222450.004          85774.870          104144.449  3  
    END-POINT 222450.002          86028.870          104144.449  3  
    CENTRE-POINT  222450.003          85901.870          104144.449 
    SKEY CKBW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2OX                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 222450.002          86028.870          104144.449  3
    END-POINT 222450.002          86028.870          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2OW                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 222450.000          88009.569          104144.449  3  BW
    END-POINT 222450.002          86028.870          104144.449  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2OU                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222450.001  86803.100 104144.449  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2OV                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 222450.000          88009.569          104144.449  3
    END-POINT 222450.000          88009.569          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2T8                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 222450.000          88098.469          104144.449  3  
    END-POINT 222450.000          88009.569          104144.449  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2T4                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 222450.000          88098.469          104144.449  3
    END-POINT 222450.000          88101.649          104144.449  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2T5                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 222450.000          88098.469          104144.449 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSJ71HZ_2T6                 
FLANGE
    END-POINT 222450.000          88101.649          104144.449  3  
    END-POINT 222449.999          88190.549          104144.449  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FFG5HUPO_2IF                 
    PIPING-SPEC CH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 222449.999          88190.549          104144.449 
    PIPELINE-REFERENCE C210-4910-12E-S-0026-SB-0002-01
MATERIALS
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE SUPTS-3_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.34
    DESCRIPTION CHECK VALVE SWING BW, A105N, CL600, CH-652ST
    RATING 600LB
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
