ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0008-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-FG-0053-PRM-0008-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-PK-0102
    ATTRIBUTE83   FUEL GAS SUP. HDR.
    ATTRIBUTE84   C210-4902-12E-0013-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0053-2"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 250532.210          72307.188          106380.163  2  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT          11.250
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GCL                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POINT 250578.235          72307.188          106380.163  2
    SKEY FLBL
GASKET
    END-POINT 250532.210          72307.188          106380.163  2
    END-POINT 250529.160          72307.188          106380.163  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GCM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 250529.160          72307.188          106380.163 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT          14.800
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GCN                 
FLANGE
    END-POINT 250529.160          72307.188          106380.163  2  
    END-POINT 250419.635          72307.188          106380.163  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT          11.250
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GCJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 250419.635          72307.188          106380.163  2
    END-POINT 250419.635          72307.188          106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GCK                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 250419.635          72307.188          106380.163  2  BW
    END-POINT 226800.000          72307.188          106380.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F36                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 250000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3A                 
    TAG                         S01-A-6-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 247000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3E                 
    TAG                         S01-A-6-2                       
SUPPORT
    CO-ORDS 241000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3G                 
    TAG                         S01-A-6-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 235000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3I                 
    TAG                         S01-A-6-2                       
SUPPORT
    CO-ORDS 229000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G2D                 
    TAG                         S01-A-6-2                       
FLOW-ARROW
    CO-ORDS 237288.857  72307.188 106380.163 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 226800.000          72307.188          106380.163  2
    END-POINT 226800.000          72307.188          106380.163  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GCH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 243773.540  72307.188 106380.163  2
    END-POINT 243773.540  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3Q                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 240608.678  72307.188 106380.163  2
    END-POINT 240608.678  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G2R                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 202399.783          72307.188          106380.163  2  
    END-POINT 226800.000          72307.188          106380.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D6I                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 204000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D6V                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS 210000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D6X                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS 225000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D75                 
    TAG                         S01-A-6-2                       
SUPPORT
    CO-ORDS 216000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EIJ                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS 222000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EIQ                 
    TAG                         S01-A-4-2                       
FLOW-ARROW
    CO-ORDS 215068.354  72307.188 106380.163 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 202399.783          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0001-01
OLET
    CENTRE-POINT     240608.678  72307.188 106380.163 
    BRANCH1-POINT 240608.678          72307.188          106329.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G2Q                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240608.678          72307.188          106329.363  1
    END-POINT 240608.678          72307.188          106329.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G5D                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 240608.678          72307.188          105961.161  1  
    END-POINT 240608.678          72307.188          106329.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G5B                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 240608.678          72307.188          105961.161 
    PIPELINE-REFERENCE C210-4910-12E-FG-0004-PRM-0008-01
OLET
    CENTRE-POINT     243773.540  72307.188 106380.163 
    BRANCH1-POINT 243773.540          72307.188          106329.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3P                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 243773.540          72307.188          106329.363  1
    END-POINT 243773.540          72307.188          106329.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3R                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 243773.540          72307.188          106329.363  1  
    END-POINT 243773.540          72307.188          105935.178  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DCE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 243773.540          72307.188          105935.178 
    PIPELINE-REFERENCE C210-4910-12E-FG-0005-PRM-0008-01
MATERIALS
ITEM-CODE FLGBLD2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RTJ, CL1500, A350-LF2 CL1
    RATING CL1500
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING CL1500
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL1500
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING CL1500
    RATING 80
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A333-6, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-2
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A350-LF2 CL1
    RATING CL3000
