ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0005-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0017-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0016-2"
    ATTRIBUTE83   UTIL. STEAM DIST.
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0017-2"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 127519.722          72468.485          102830.163  2  BW
    END-POINT 123450.440          72468.485          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPG                 
    PIPING-SPEC AH
    INSULATION-ON 
SUPPORT
    CO-ORDS 126000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPI                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 127519.722          72468.485          102830.163  2
    END-POINT 127519.722          72468.485          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPK                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 123450.440          72468.485          102830.163  2
    END-POINT 123450.440          72468.485          102830.163  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DVO                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 125650.440  72468.485 102830.163  2
    END-POINT 125650.440  72468.485 102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ED4                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 123450.440          72468.485          102830.163  2  
    END-POINT 101439.957          72468.485          102830.163  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHD                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 114164.107  72468.485 102830.163 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 122000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHG                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 116000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHH                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 110000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHI                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 104000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DHJ                 
    TAG                         S01-A-6-2                       
END-CONNECTION-PIPELINE 
    CO-ORDS 101439.957          72468.485          102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0006-01
OLET
    CENTRE-POINT     125650.440  72468.485 102830.163 
    BRANCH1-POINT 125650.440          72468.485          102880.963  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.273
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ED3                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 125650.440          72468.485          102880.963  1
    END-POINT 125650.440          72468.485          102880.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ED5                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 125650.440          72468.485          102880.963  1  
    END-POINT 125650.440          72468.485          103056.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPC                 
    PIPING-SPEC AH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 125650.440          72468.485          103056.363 
    PIPELINE-REFERENCE C210-4910-12E-S-0054-PRM-0005-01
ELBOW
    END-POINT 127595.922          72392.285          102830.163  2  
    END-POINT 127519.722          72468.485          102830.163  2  
    CENTRE-POINT  127595.922          72468.485          102830.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPM                 
    PIPING-SPEC AH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 127595.922          72392.285          102830.163  2
    END-POINT 127595.922          72392.285          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPN                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 127595.922          67442.285          102830.163  2  BW
    END-POINT 127595.922          72392.285          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPO                 
    PIPING-SPEC AH
    INSULATION-ON 
SUPPORT
    CO-ORDS 127595.922  67800.000 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPP                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 127595.922          67442.285          102830.163  2
    END-POINT 127595.922          67442.285          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPQ                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 127672.122          67366.085          102830.163  2  
    END-POINT 127595.922          67442.285          102830.163  2  
    CENTRE-POINT  127595.922          67366.085          102830.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPR                 
    PIPING-SPEC AH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 127672.122          67366.085          102830.163  2
    END-POINT 127672.122          67366.085          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPS                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 130359.026          67366.085          102830.163  2  BW
    END-POINT 127672.122          67366.085          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPT                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 130359.026          67366.085          102830.163  2
    END-POINT 130359.026          67366.085          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPU                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 130059.026  67366.085 102830.163  2
    END-POINT 130059.026  67366.085 102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FOZ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
OLET
    CENTRE-POINT     130059.026  67366.085 102830.163 
    BRANCH1-POINT 130059.026          67366.085          102880.965  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FOY                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 130059.026          67366.085          102880.965  1
    END-POINT 130059.026          67366.085          102880.965  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 130059.026          67366.085          103056.365  1  
    END-POINT 130059.026          67366.085          102880.965  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRC                 
    PIPING-SPEC AH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 130059.026          67366.085          103056.365 
    PIPELINE-REFERENCE C210-4910-12E-S-0077-PRM-0005-01
ELBOW
    END-POINT 130435.226          67442.285          102830.163  2  
    END-POINT 130359.026          67366.085          102830.163  2  
    CENTRE-POINT  130435.226          67366.085          102830.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPV                 
    PIPING-SPEC AH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 130435.226          67442.285          102830.163  2
    END-POINT 130435.226          67442.285          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPW                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 130435.226          72392.285          102830.163  2  BW
    END-POINT 130435.226          67442.285          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPX                 
    PIPING-SPEC AH
    INSULATION-ON 
SUPPORT
    CO-ORDS 130435.226  67800.000 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPY                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 130435.226          72392.285          102830.163  2
    END-POINT 130435.226          72392.285          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BPZ                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 130511.426          72468.485          102830.163  2  
    END-POINT 130435.226          72392.285          102830.163  2  
    CENTRE-POINT  130435.226          72468.485          102830.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ0                 
    PIPING-SPEC AH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 130511.426          72468.485          102830.163  2
    END-POINT 130511.426          72468.485          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ1                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 145450.066          72468.485          102830.163  2  BW
    END-POINT 130511.426          72468.485          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ2                 
    PIPING-SPEC AH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 140401.820  72468.485 102830.163 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 132000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ4                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 138000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ6                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 143999.989  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ7                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 145450.066          72468.485          102830.163  2
    END-POINT 145450.066          72468.485          102830.163  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ED6                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 149592.329          72468.485          102830.163  2  
    END-POINT 145450.066          72468.485          102830.163  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSY                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 147209.512  72468.485 102830.163 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 148000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT0                 
    TAG                         S01-A-3-2                       
END-CONNECTION-PIPELINE 
    CO-ORDS 149592.329          72468.485          102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0004-01
MATERIALS
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G21
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH STD
    RATING STD
