ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0056-PRM-0007-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-S-0056-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0017-2"
    ATTRIBUTE83   12E-US-007 STN
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0056-1"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
COUPLING
    END-POINT  91889.458          72468.476          103376.390  1  
    END-POINT  91889.458          72468.476          103477.990  1  
    SKEY NRSC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELY                 
    PIPING-SPEC AH
    INSULATION-ON 
MESSAGE
    CO-ORDS  91889.458  72468.476 103463.260 
    TEXT 12E-SP-095
    UNDIMENSIONED
MESSAGE
    CO-ORDS  91889.458  72468.476 103463.260 
    TEXT CONT.ON$12E-US-007 UTILITY STEAM STATION
    UNDIMENSIONED
WELD
    END-POINT  91889.458          72468.476          103376.390  1
    END-POINT  91889.458          72468.476          103376.390  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EOO                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  91889.458          72468.476          103477.990 
VALVE
    END-POINT  91889.458          72468.476          103279.090  1  
    END-POINT  91889.458          72468.476          103376.390  1  
    CENTRE-POINT   91889.458          72468.476          103334.090 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELM                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  91889.458          72468.476          103279.090  1
    END-POINT  91889.458          72468.476          103279.090  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EON                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT  91889.458          72468.476          103066.390  1  PL
    END-POINT  91889.458          72468.476          103279.090  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4I                 
    PIPING-SPEC AH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  91889.458  72468.476 103171.631 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  91889.458          72468.476          103066.390  1
    END-POINT  91889.458          72468.476          103066.390  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EOM                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
VALVE
    END-POINT  91889.458          72468.476          103002.790  1  
    END-POINT  91889.458          72468.476          103066.390  1  
    CENTRE-POINT   91889.458          72468.476          103034.590 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4K                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  91889.458          72468.475          103002.790  1
    END-POINT  91889.458          72468.475          103002.790  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EOL                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT  91889.458          72468.475          103002.790  1  PL
    END-POINT  91889.458          72468.486          102880.963  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4N                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT  91889.458          72468.486          102880.963  1
    END-POINT  91889.458          72468.486          102880.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EOU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
OLET
    CENTRE-POINT      91889.458  72468.485 102830.163 
    BRANCH1-POINT  91889.458          72468.485          102880.963  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B4P                 
    PIPING-SPEC AH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  91889.458  72468.485 102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0007-01
MATERIALS
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING 800LB
