ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0017-PRM-0005-02
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0017-PRM-0005-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-5002
    ATTRIBUTE83   PROD. HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-05
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0017-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 136549.883          67802.737          104207.130  0.5  
    END-POINT 136549.883          67777.337          104207.130  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CBA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 136549.883          67859.385          104207.130  0.5  SW FEMALE 
    END-POINT 136549.883          67802.737          104207.130  0.5  
    CENTRE-POINT  136549.883          67829.537          104207.130 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CB7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 136549.883          67859.385          104207.130  0.5
    END-POINT 136549.883          67859.385          104207.130  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CB6                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 136549.883          67960.985          104207.130  0.5  
    END-POINT 136549.883          67859.385          104207.130  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CB5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136549.883          67960.985          104207.130  0.5
    END-POINT 136549.883          67960.985          104207.130  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAX                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 136549.883          67999.085          104207.130  0.5  
    END-POINT 136549.883          67960.985          104207.130  0.5  
    CENTRE-POINT  136549.883          67980.035          104207.130 
    BRANCH1-POINT 136530.833          67980.035          104207.130  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 136549.883          67999.085          104207.130  0.5
    END-POINT 136549.883          67999.085          104207.130  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAV                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 136530.833          67980.035          104207.130  0.5
    END-POINT 136530.833          67980.035          104207.130  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAY                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 136530.833          67980.035          104207.130  0.5  
    END-POINT 136429.233          67980.035          104207.130  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136429.233          67980.035          104207.130  0.5
    END-POINT 136429.233          67980.035          104207.130  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CB0                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 136429.233          67980.035          104207.130  0.5  SW FEMALE 
    END-POINT 136358.109          67980.035          104207.130  0.5  
    CENTRE-POINT  136407.218          67980.035          104207.130 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CB1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MISC-COMPONENT
    END-POINT 136358.109          67980.035          104207.130  0.5  
    END-POINT 136336.011          67980.035          104207.130  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 136549.883          68100.685          104207.130  0.5  
    END-POINT 136549.883          67999.085          104207.130  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136549.883          68100.685          104207.130  0.5
    END-POINT 136549.883          68100.685          104207.130  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAT                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 136549.883          68160.383          104207.130  0.5  
    END-POINT 136549.883          68100.685          104207.130  0.5  
    CENTRE-POINT  136549.883          68130.533          104207.130 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 136549.883          68160.383          104207.130  0.5
    END-POINT 136549.883          68160.383          104207.130  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBT                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  136549.883          68236.583          104207.130 
    BRANCH1-POINT 136549.883          68160.383          104207.130  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           2.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136549.883          68236.583          104207.130  0.5
    END-POINT 136549.883          68236.583          104207.130  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBS                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 136572.108          68362.188          104207.133  4  
    END-POINT 136464.158          68362.188          104207.118  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EY6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 136549.883          68236.583          104207.130  0.5
GASKET
    END-POINT 136572.108          68362.188          104207.133  4
    END-POINT 136575.288          68362.188          104207.133  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EY7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 136575.288          68362.188          104207.133 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.500
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EY8                 
WELD
    END-POINT 136464.158          68362.188          104207.118  4
    END-POINT 136464.158          68362.188          104207.118  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EY9                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 136464.158          68362.188          104207.118  4  BW
    END-POINT 134074.108          68362.188          104207.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CBB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 135000.265  68362.188 104207.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CBC                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 134074.108          68362.188          104207.150  4
    END-POINT 134074.108          68362.188          104207.150  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CBD                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 134074.108          68362.188          104207.150  4  
    END-POINT 133921.708          68514.588          104207.150  4  
    CENTRE-POINT  133921.708          68362.188          104207.150 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CBE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 133921.708          68514.588          104207.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0017-PRM-0005-01
INSTRUMENT
    END-POINT 136587.988          68362.188          104207.135  4  
    END-POINT 136575.288          68362.188          104207.133  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EY2                 
    TAG 12E$FE$5111                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 136587.988          68362.188          104207.135  4
    END-POINT 136591.168          68362.188          104207.135  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EY4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 136591.168          68362.188          104207.135  4  
    END-POINT 136699.118          68362.188          104207.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EXW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 136613.393          68236.583          104207.138  0.5
WELD
    END-POINT 136699.118          68362.188          104207.150  4
    END-POINT 136699.118          68362.188          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EXX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 136613.393          68236.583          104207.138  0.5
    END-POINT 136613.393          68236.583          104207.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  136613.393          68236.583          104207.138 
    BRANCH1-POINT 136613.393          68084.183          104207.138  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136613.393          68084.183          104207.138  0.5
    END-POINT 136613.393          68084.183          104207.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBY                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 136613.393          68084.183          104207.138  0.5  
    END-POINT 136613.393          68024.485          104207.138  0.5  
    CENTRE-POINT  136613.393          68054.333          104207.138 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C9Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 136613.393          68024.485          104207.138  0.5
    END-POINT 136613.393          68024.485          104207.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EYQ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 136613.393          68024.485          104207.138  0.5  
    END-POINT 136613.393          67922.885          104207.138  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CA1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136613.393          67922.885          104207.138  0.5
    END-POINT 136613.393          67922.885          104207.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EYR                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 136613.393          67922.885          104207.138  0.5  
    END-POINT 136613.393          67884.785          104207.138  0.5  
    CENTRE-POINT  136613.393          67903.835          104207.138 
    BRANCH1-POINT 136632.443          67903.835          104207.138  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CA3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 136613.393          67884.785          104207.138  0.5
    END-POINT 136613.393          67884.785          104207.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EYS                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 136632.443          67903.835          104207.138  0.5
    END-POINT 136632.443          67903.835          104207.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EYT                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 136632.443          67903.835          104207.138  0.5  
    END-POINT 136734.043          67903.835          104207.138  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CA6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136734.043          67903.835          104207.138  0.5
    END-POINT 136734.043          67903.835          104207.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EYU                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 136734.043          67903.835          104207.138  0.5  SW FEMALE 
    END-POINT 136806.691          67903.835          104207.138  0.5  
    CENTRE-POINT  136756.057          67903.835          104207.138 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CA8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MISC-COMPONENT
    END-POINT 136806.691          67903.835          104207.138  0.5  
    END-POINT 136832.091          67903.835          104207.138  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 136613.393          67884.785          104207.138  0.5  
    END-POINT 136613.393          67783.185          104207.138  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136613.393          67783.185          104207.138  0.5
    END-POINT 136613.393          67783.185          104207.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EYW                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 136613.393          67783.185          104207.138  0.5  SW FEMALE 
    END-POINT 136613.393          67726.537          104207.138  0.5  
    CENTRE-POINT  136613.393          67753.337          104207.138 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 136613.393          67726.537          104207.138  0.5  
    END-POINT 136613.393          67701.137          104207.138  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CAH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 136699.118          68362.188          104207.150  4  BW
    END-POINT 137449.418          68362.188          104207.251  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C9D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 137449.418          68362.188          104207.251  4
    END-POINT 137449.418          68362.188          104207.251  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C9C                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 137309.422  68362.188 104207.233  4
    END-POINT 137309.422  68362.188 104207.233  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C9G                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     137309.422  68362.188 104207.233 
    BRANCH1-POINT 137309.412          68362.188          104288.195  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C9H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 137309.412          68362.188          104288.195  0.75
    END-POINT 137309.412          68362.188          104288.195  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C9I                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 137309.412          68362.188          104288.195  0.75  
    END-POINT 137309.398          68362.188          104389.795  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C9J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 137309.398          68362.188          104389.795  0.75
    END-POINT 137309.398          68362.188          104389.795  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBL                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 137309.398          68362.188          104389.795  0.75  SW FEMALE 
    END-POINT 137309.385          68362.188          104487.077  0.75  
    END-POINT 137268.625          68362.188          104432.080  0.5  
    CENTRE-POINT  137309.392          68362.188          104432.086 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 137309.392  68362.188 104432.086 
    TEXT 12E$PIT$5110
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS 137309.385          68362.188          104487.077 
MISC-COMPONENT
    END-POINT 137268.625          68362.188          104432.080  0.5  
    END-POINT 137246.527          68362.188          104432.078  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FBN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 137246.527          68362.188          104432.078 
ELBOW-TEED
    END-POINT 137449.418          68362.188          104207.251  4  
    END-POINT 137601.818          68514.588          104207.251  4  
    CENTRE-POINT  137601.818          68362.188          104207.251 
    BRANCH1-POINT 137601.818  68362.188 104195.251  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C99                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 137801.151  68362.188 104195.251  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DXE                 
    TAG                         DS03-B-3-4                      
PIPE
    END-POINT 137601.818          68362.188          104195.251  3  BW
    END-POINT 138199.818  68362.188 104195.251  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 138199.818  68362.188 104195.251 
SUPPORT
    CO-ORDS 138000.000  68362.188 104195.251  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DZW                 
    TAG                         S01-B-3-3                       
WELD
    END-POINT 137601.818          68514.588          104207.251  4
    END-POINT 137601.818          68514.588          104207.251  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C0W                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 137601.818          68514.588          104207.251  4  BW
    END-POINT 137601.802          69109.772          104207.255  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C0R                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 137601.804  68934.461 104207.255 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 137601.802          69109.772          104207.255  4
    END-POINT 137601.802          69109.772          104207.255  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FLM                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 137601.802          69109.788          104207.255  4  
    END-POINT 137601.802          69109.772          104207.255  4  
    CONTINUATION 
    MESSAGE This is a GAP 
WELD
    END-POINT 137601.818  68660.705 104207.251  4
    END-POINT 137601.818  68660.705 104207.251  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C0Q                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 137601.802  69009.765 104207.255  4
    END-POINT 137601.802  69009.765 104207.255  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C0Z                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 137601.802  68959.834 104207.255  4
    END-POINT 137601.802  68959.834 104207.255  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C10                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 137601.802          69262.188          104359.655  4  
    END-POINT 137601.802          69109.788          104207.255  4  
    CENTRE-POINT  137601.802          69262.188          104207.255 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FLJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 137601.802          69262.188          104359.655 
    PIPELINE-REFERENCE C210-4910-12E-PE-0017-PRM-0005-03
OLET
    CENTRE-POINT     137601.802  68959.834 104207.255 
    BRANCH1-POINT 137601.802          68959.834          104123.117  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C11                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 137601.802          68959.834          104123.117  1
    END-POINT 137601.802          68959.834          104123.117  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C12                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 137601.802          68959.834          104123.117  1  
    END-POINT 137601.802          68959.834          104021.517  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C13                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 137601.802          68959.834          104021.517  1
    END-POINT 137601.802          68959.834          104021.517  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C14                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 137601.802          68959.834          104021.517  1  SW FEMALE 
    END-POINT 137601.802          68959.834          103940.679  1  
    CENTRE-POINT  137601.802          68959.834          103978.717 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C15                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 137601.802          68959.834          103940.679  1  
    END-POINT 137601.802          68959.834          103910.517  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C18                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 137601.802          68959.834          103910.517 
OLET
    CENTRE-POINT     137601.802  69009.765 104207.255 
    BRANCH1-POINT 137601.802          69009.765          104286.630  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C19                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 137601.802  69009.765 104304.092 
    TEXT FUTURE SAND PROBE
    UNDIMENSIONED
MISC-COMPONENT
    END-POINT 137601.802          69009.765          104286.630  1  
    END-POINT 137601.802          69009.765          104316.792  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C1B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 137601.802          69009.765          104316.792 
OLET
    CENTRE-POINT     137601.818  68660.705 104207.251 
    BRANCH1-POINT 137601.818          68660.705          104286.627  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C0P                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 137601.818          68660.705          104286.627  1  
    END-POINT 137601.818          68660.705          104316.789  1
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C0M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 137601.818          68660.705          104316.789 
MESSAGE-CIRCLE
    CO-ORDS 137601.818  68660.705 104304.089 
    UNDIMENSIONED
    TEXT 12E-TE-5110
MATERIALS
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE TEESTR1/2X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE SW, A105N, CL6000, NACE
    RATING 6000LB
ITEM-CODE VALVGLB1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825HSW
    RATING 800LB
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 165
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 1/2 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING 6000LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  598 mm DUMMY SUPPORT DS03-B-3-4
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-3
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING 6000LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE TOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION THREDOLET, CL6000, A105N, NACE, 1" FNPT
    RATING 6000LB
