ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0032-PRM-0002-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0032-PRM-0002-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0009-6"
    ATTRIBUTE83   12E-S-0033-4"
    ATTRIBUTE84   C210-4902-12E-0001-03
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0032-4"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 193068.200          71584.080          103899.510  1  
    END-POINT 193068.200          71584.080          103870.808  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BXN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 193068.200  71584.080 103880.460 
    TEXT HEAT TRACING AT$LOW POINT DRAIN
    UNDIMENSIONED
VALVE
    END-POINT 193068.200          71584.080          103977.760  1  SW FEMALE 
    END-POINT 193068.200          71584.080          103899.510  1  
    CENTRE-POINT  193068.200          71584.080          103935.460 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BXJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 193068.200          71584.080          103977.760  1
    END-POINT 193068.200          71584.080          103977.760  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BXK                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 193068.200          71584.080          104079.360  1  
    END-POINT 193068.200          71584.080          103977.760  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BXH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193068.200          71584.080          104079.360  1
    END-POINT 193068.200          71584.080          104079.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CI9                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     193068.200  71584.080 104157.150 
    BRANCH1-POINT 193068.200          71584.080          104079.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CI6                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193068.200  71584.080 104157.150  4
    END-POINT 193068.200  71584.080 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CI8                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 191847.260          71584.080          104157.150  4  BW
    END-POINT 193368.200          71584.080          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BX7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 192422.949  71584.080 104157.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 191847.260          71584.080          104157.150  4
    END-POINT 191847.260          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIR                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 193368.200          71584.080          104157.150  4
    END-POINT 193368.200          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BX9                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 193218.200  71584.080 104157.150  4
    END-POINT 193218.200  71584.080 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BXC                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     193218.200  71584.080 104157.150 
    BRANCH1-POINT 193218.200          71584.080          104228.588  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.155
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BXA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193218.200          71584.080          104228.588  0.75
    END-POINT 193218.200          71584.080          104228.588  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BXG                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 193218.200          71584.080          104228.588  0.75  
    END-POINT 193218.200          71584.080          104330.188  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BCI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193218.200          71584.080          104330.188  0.75
    END-POINT 193218.200          71584.080          104330.188  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIC                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE-3WAY
    END-POINT 193218.200          71584.080          104330.188  0.75  SW FEMALE 
    END-POINT 193218.200          71584.080          104411.722  0.75  
    END-POINT 193177.433          71584.080          104372.479  0.5  
    CENTRE-POINT  193218.200          71584.080          104372.479 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 193177.433          71584.080          104372.479  0.5  
    END-POINT 193155.335          71584.080          104372.479  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 193218.200          71584.080          104411.722  0.75  
    END-POINT 193218.200          71584.080          104437.122  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CID                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 193218.200  71584.080 104427.470 
    UNDIMENSIONED
    TEXT 12E$PIT$3103
VALVE
    END-POINT 193368.200          71584.080          104157.150  4  
    END-POINT 193800.000          71584.080          104157.150  4  
    CENTRE-POINT  193584.100          71584.080          104157.150 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BCQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 193800.000          71584.080          104157.150  4
    END-POINT 193800.000          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C3F                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 194233.723          71584.080          104157.150  4  BW
    END-POINT 193800.000          71584.080          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C3D                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 194000.000  71584.080 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C3G                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 194233.723          71584.080          104157.150  4
    END-POINT 194233.723          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C3E                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 194443.023          71584.080          104157.150  4  
    END-POINT 194233.723          71584.080          104157.150  4  
    CENTRE-POINT  194338.373          71584.080          104157.150 
    BRANCH1-POINT 194338.373          71584.080          104255.700  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C2S                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 194443.023          71584.080          104157.150  4
    END-POINT 194443.023          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C2U                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 194338.373          71584.080          104255.700  3
    END-POINT 194338.373          71584.080          104255.700  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIS                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
GAP
    END-POINT 194338.387          71584.080          104255.702  3  
    END-POINT 194338.387          71584.080          104255.688  3  
    PIPING-SPEC CH
FLANGE
    END-POINT 194338.387          71584.080          104344.602  3  
    END-POINT 194338.387          71584.080          104255.702  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BCZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 194338.387          71584.080          104347.782  3
    END-POINT 194338.387          71584.080          104344.602  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C2X                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 194338.387          71584.080          104347.782  3  
    END-POINT 194338.387          71584.080          104360.482  3  
    CENTRE-POINT 194338.387  71584.080 104354.132 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C2V                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 194338.387          71584.080          104363.662  3
    END-POINT 194338.387          71584.080          104360.482  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C2Z                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 194338.387          71584.080          104363.662  3  
    END-POINT 194338.387          71584.080          104452.562  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C2Y                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 194338.387          71584.080          104452.562 
    PIPELINE-REFERENCE C210-4910-12E-S-0034-PRM-0002-01
FLANGE
    END-POINT 194550.973          71584.080          104157.150  4  
    END-POINT 194443.023          71584.080          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C2M                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 194554.153          71584.080          104157.150  4
    END-POINT 194550.973          71584.080          104157.150  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C3V                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 194554.153          71584.080          104157.150  4  
    END-POINT 194569.903          71584.080          104157.150  4  
    CENTRE-POINT 194562.028  71584.080 104157.150 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C3T                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION DOWN
    MESSAGE
    TEXT OPEN
END-CONNECTION-PIPELINE 
    CO-ORDS 194569.903          71584.080          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0033-PRM-0002-01
FLANGE
    END-POINT 191739.310          71584.080          104157.150  4  
    END-POINT 191847.260          71584.080          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 191739.310          71584.080          104157.150  4
    END-POINT 191736.130          71584.080          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 191739.310          71584.080          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIQ                 
INSTRUMENT
    END-POINT 191411.130          71584.080          104157.150  4  
    END-POINT 191736.130          71584.080          104157.150  4  
    CENTRE-POINT  191573.630          71584.080          104157.150 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHY                 
    TAG 12E$FE$3103                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 191411.130          71584.080          104157.150  4
    END-POINT 191407.950          71584.080          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 191411.130          71584.080          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CI0                 
FLANGE
    END-POINT 191407.950          71584.080          104157.150  4  
    END-POINT 191300.000          71584.080          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BBP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 191300.000          71584.080          104157.150  4
    END-POINT 191300.000          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BB6                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 189133.735          71584.080          104157.150  4  BW
    END-POINT 191300.000          71584.080          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BB1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 191000.000  71584.080 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BB3                 
    TAG                         S01-A-3-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 191000.000  71584.080 104157.150  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BB5                 
    TAG                         RP02-3-4                        
WELD
    END-POINT 189133.735          71584.080          104157.150  4
    END-POINT 189133.735          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIN                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 189284.230  71584.080 104157.150  4
    END-POINT 189284.230  71584.080 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BB7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     189284.230  71584.080 104157.150 
    BRANCH1-POINT 189284.230          71584.080          104079.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BB8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189284.230          71584.080          104079.363  1
    END-POINT 189284.230          71584.080          104079.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 189284.230          71584.080          103925.663  1  PL
    END-POINT 189284.230          71584.080          104079.363  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189284.230          71584.080          103925.663  1
    END-POINT 189284.230          71584.080          103925.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHE                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 189284.230          71584.080          103840.663  1  
    END-POINT 189284.230          71584.080          103925.663  1  
    CENTRE-POINT  189284.230          71584.080          103883.163 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CH2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 189284.230          71584.080          103840.663  1
    END-POINT 189284.230          71584.080          103840.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CH3                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 189284.230          71584.080          103840.663  1  PL
    END-POINT 189284.230          71584.080          103714.963  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BBF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189284.230          71584.080          103714.963  1
    END-POINT 189284.230          71584.080          103714.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BBG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 189284.230          71584.080          103714.963  1  
    END-POINT 189261.878          71584.080          103692.611  1  
    CENTRE-POINT  189284.230          71584.080          103692.611 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BBH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 189261.878          71584.080          103692.611  1
    END-POINT 189261.878          71584.080          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BBI                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 189261.878          71584.080          103692.611  1  PL
    END-POINT 189033.701          71584.080          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BBJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189033.701          71584.080          103692.611  1
    END-POINT 189033.701          71584.080          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHH                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 189033.701          71584.080          103692.611  1  
    END-POINT 188948.701          71584.080          103692.611  1  
    CENTRE-POINT  188991.201          71584.080          103692.611 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 188948.701          71584.080          103692.611  1
    END-POINT 188948.701          71584.080          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHP                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 188609.932          71584.080          103692.611  1  PL
    END-POINT 188948.701          71584.080          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188609.932          71584.080          103692.611  1
    END-POINT 188609.932          71584.080          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHO                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 188565.232          71584.080          103692.611  1  
    END-POINT 188609.932          71584.080          103692.611  1  
    CENTRE-POINT  188587.582          71584.080          103692.611 
    BRANCH1-POINT 188587.582          71584.080          103667.211  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 188565.232          71584.080          103692.611  1
    END-POINT 188565.232          71584.080          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHM                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 188587.582          71584.080          103667.211  0.5
    END-POINT 188587.582          71584.080          103667.211  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHR                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 188587.582          71584.080          103667.211  0.5  
    END-POINT 188587.582          71584.080          103565.611  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188587.582          71584.080          103565.611  0.5
    END-POINT 188587.582          71584.080          103565.611  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHT                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 188587.582          71584.080          103565.611  0.5  SW FEMALE 
    END-POINT 188587.582          71584.080          103509.485  0.5  
    CENTRE-POINT  188587.582          71584.080          103535.261 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS 188587.582  71584.080 103535.261 
    TEXT HEAT TRACING AT$LOW POINT DRAIN
    UNDIMENSIONED
MISC-COMPONENT
    END-POINT 188587.582          71584.080          103509.485  0.5  
    END-POINT 188587.582          71584.080          103487.387  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHW                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 188389.832          71584.080          103692.611  1  PL
    END-POINT 188565.232          71584.080          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B52                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188389.832          71584.080          103692.611  1
    END-POINT 188389.832          71584.080          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B53                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 188367.480          71584.080          103714.963  1  
    END-POINT 188389.832          71584.080          103692.611  1  
    CENTRE-POINT  188367.480          71584.080          103692.611 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B54                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 188367.480          71584.080          103714.963  1
    END-POINT 188367.480          71584.080          103714.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B55                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 188367.480          71584.080          103840.663  1  PL
    END-POINT 188367.480          71584.080          103714.963  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B56                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188367.480          71584.080          103840.663  1
    END-POINT 188367.480          71584.080          103840.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CH7                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 188367.480          71584.080          103840.663  1  
    END-POINT 188367.480          71584.080          103925.663  1  
    CENTRE-POINT  188367.480          71584.080          103883.163 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CH6                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 188367.480          71584.080          103925.663  1
    END-POINT 188367.480          71584.080          103925.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHB                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 188367.480          71584.080          103925.663  1  PL
    END-POINT 188367.480          71584.080          104079.360  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188367.480          71584.080          104079.360  1
    END-POINT 188367.480          71584.080          104079.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CHC                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     188367.480  71584.080 104157.150 
    BRANCH1-POINT 188367.480          71584.080          104079.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188367.480  71584.080 104157.150  4
    END-POINT 188367.480  71584.080 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CH1                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187725.016          71584.080          104157.150  4  BW
    END-POINT 188516.975          71584.080          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C43                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 188000.016  71584.080 104157.150  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C46                 
    TAG                         RP02-3-4                        
SUPPORT
    CO-ORDS 188000.016  71584.080 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C48                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 187725.016          71584.080          104157.150  4
    END-POINT 187725.016          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C44                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 188517.475          71584.080          104157.150  4
    END-POINT 188517.475          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
GAP
    END-POINT 188516.975          71584.080          104157.150  4  
    END-POINT 188517.475          71584.080          104157.150  4  
    PIPING-SPEC CH
REDUCER-ECCENTRIC
    END-POINT 187585.316          71584.080          104184.138  6  
    END-POINT 187725.016          71584.080          104157.150  4  
    SKEY REBW
    CONTINUATION 
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B5U                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 187585.316          71584.080          104184.138 
    PIPELINE-REFERENCE C210-4910-12E-S-0009-PRM-0002-01
FLANGE
    END-POINT 188625.425          71584.080          104157.150  4  
    END-POINT 188517.475          71584.080          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 188625.425          71584.080          104157.150  4
    END-POINT 188628.605          71584.080          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 188625.425          71584.080          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGU                 
INSTRUMENT
    END-POINT 188628.605          71584.080          104157.150  4  
    END-POINT 189022.605          71584.080          104157.150  4  
    CENTRE-POINT  188825.605          71584.080          104157.150 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BAV                 
    TAG 12E$FV$3103                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 189025.785          71584.080          104157.150  4
    END-POINT 189022.605          71584.080          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 189025.785          71584.080          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIM                 
FLANGE
    END-POINT 189025.785          71584.080          104157.150  4  
    END-POINT 189133.735          71584.080          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CIK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, A105N, CL800, DB-805ST
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80 x SCH 40
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING 600LB
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600
    RATING CL600
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPPS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-4
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A105N, CL3000
    RATING 3000LB
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING CL800
ITEM-CODE TEESTR1X1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A105N, CL3000
    RATING CL3000
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
