ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0009-PRM-0002-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-S-0009-PRM-0002-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0006-8"
    ATTRIBUTE83   12E-S-0031/0032-3"/4"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0009-6"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 187192.716          71651.828          102397.128  1  
    END-POINT 187192.716          71651.828          102366.966  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6Q                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 187192.716  71651.828 102379.666 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
VALVE
    END-POINT 187192.716          71651.828          102512.966  1  SW FEMALE 
    END-POINT 187192.716          71651.828          102397.128  1  
    CENTRE-POINT  187192.716          71651.828          102476.999 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6N                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 45 UP
WELD
    END-POINT 187192.716          71651.828          102512.966  1
    END-POINT 187192.716          71651.828          102512.966  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6M                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 187192.716          71651.828          102614.566  1  
    END-POINT 187192.716          71651.828          102512.966  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6L                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187192.716          71651.828          102614.566  1
    END-POINT 187192.716          71651.828          102614.566  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6K                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 187192.716          71651.828          102678.166  1  
    END-POINT 187192.716          71651.828          102614.566  1  
    CENTRE-POINT  187192.716          71651.828          102646.366 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6I                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 187192.716          71651.828          102678.166  1
    END-POINT 187192.716          71651.828          102678.166  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6H                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 187192.716          71651.828          102779.766  1  
    END-POINT 187192.716          71651.828          102678.166  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6G                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187192.716          71651.828          102779.766  1
    END-POINT 187192.716          71651.828          102779.766  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6F                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     187192.716  71651.828 102884.541 
    BRANCH1-POINT 187192.716          71651.828          102779.766  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6E                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187192.716  71651.828 102884.541  6
    END-POINT 187192.716  71651.828 102884.541  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6D                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187192.716          71726.828          102884.541  6  BW
    END-POINT 187192.716          71576.828          102884.541  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6A                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187192.716          71726.828          102884.541  6
    END-POINT 187192.716          71726.828          102884.541  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B69                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 187192.716          71576.828          102884.541  6
    END-POINT 187192.716          71576.828          102884.541  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6C                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 187192.716          71018.028          102884.541  6  
    END-POINT 187192.716          71576.828          102884.541  6  
    CENTRE-POINT  187192.716          71297.428          102884.541 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6R                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 187192.716          71018.028          102884.541  6
    END-POINT 187192.716          71018.028          102884.541  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6T                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187192.716          71018.028          102884.541  6  BW
    END-POINT 187192.716          70832.308          102884.541  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6U                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187192.716          70832.308          102884.541  6
    END-POINT 187192.716          70832.308          102884.541  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6V                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 187192.716          70679.908          102909.941  8  
    END-POINT 187192.716          70832.308          102884.541  6  
    SKEY REBW
    CONTINUATION 
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6W                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 187192.716          70679.908          102909.941 
    PIPELINE-REFERENCE C210-4910-12E-S-0006-PRM-0002-01
ELBOW
    END-POINT 187192.716          71726.828          102884.541  6  
    END-POINT 187192.716          71955.428          103113.141  6  
    CENTRE-POINT  187192.716          71955.428          102884.541 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B68                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 187192.716          71955.428          103113.141  6
    END-POINT 187192.716          71955.428          103113.141  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B67                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187192.716          71955.428          103113.141  6  BW
    END-POINT 187192.716          71955.428          103382.590  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B66                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 187192.716  71955.428 103233.862 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 187192.716          71955.428          103382.590  6
    END-POINT 187192.716          71955.428          103382.590  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B65                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 187192.716          71955.428          103941.390  6  
    END-POINT 187192.716          71955.428          103382.590  6  
    CENTRE-POINT  187192.716          71955.428          103661.990 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B63                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 187192.716          71955.428          103941.390  6
    END-POINT 187192.716          71955.428          103941.390  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B62                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187192.716          71955.428          104041.390  6  BW
    END-POINT 187192.716          71955.428          103941.390  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B61                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187192.716          71955.428          104041.390  6
    END-POINT 187192.716          71955.428          104041.390  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B60                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 187192.716          71812.680          104184.138  6  
    END-POINT 187192.716          72098.176          104184.138  6  
    CENTRE-POINT  187192.716          71955.428          104184.138 
    BRANCH1-POINT 187192.716          71955.428          104041.390  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B5Y                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 187192.716          71812.680          104184.138  6
    END-POINT 187192.716          71812.680          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B5X                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 187192.716          72098.176          104184.138  6
    END-POINT 187192.716          72098.176          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B5Z                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 187192.716          72098.176          104184.138  6  
    END-POINT 187421.316          72326.776          104184.138  6  
    CENTRE-POINT  187192.716          72326.776          104184.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7F                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 187421.316          72326.776          104184.138  6
    END-POINT 187421.316          72326.776          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7G                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 187421.316          72326.776          104184.138  6  
    END-POINT 187561.016          72326.776          104144.450  3  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X3
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7H                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 187561.016          72326.776          104144.450  3
    END-POINT 187561.016          72326.776          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7I                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 188565.025          72326.776          104144.450  3  
    END-POINT 187561.016          72326.776          104144.450  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7J                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 188000.000  72326.776 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7M                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 188000.000  72326.776 104144.450  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BSX                 
    TAG                         RP02-3-3                        
END-CONNECTION-PIPELINE 
    CO-ORDS 188565.025          72326.776          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0031-PRM-0002-01
ELBOW
    END-POINT 187192.716          71812.680          104184.138  6  
    END-POINT 187421.316          71584.080          104184.138  6  
    CENTRE-POINT  187192.716          71584.080          104184.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B5W                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 187421.316          71584.080          104184.138  6
    END-POINT 187421.316          71584.080          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C41                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187421.316          71584.080          104184.138  6  BW
    END-POINT 187585.316          71584.080          104184.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C40                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187585.316          71584.080          104184.138  6
    END-POINT 187585.316          71584.080          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C42                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 187496.316  71584.080 104184.138  6
    END-POINT 187496.316  71584.080 104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C4F                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     187496.316  71584.080 104184.138 
    BRANCH1-POINT 187496.316          71584.080          104288.918  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C4D                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187496.316          71584.080          104288.918  1
    END-POINT 187496.316          71584.080          104288.918  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C4H                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 187496.316          71584.080          104288.918  1  
    END-POINT 187496.316          71584.080          104390.518  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C4G                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187496.316          71584.080          104390.518  1
    END-POINT 187496.316          71584.080          104390.518  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C4J                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 187496.316          71584.080          104390.518  1  SW FEMALE 
    END-POINT 187496.316          71584.080          104468.768  1  
    CENTRE-POINT  187496.316          71584.080          104432.818 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C4I                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 187496.316          71584.080          104468.768  1  
    END-POINT 187496.316          71584.080          104497.470  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C4M                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
REDUCER-ECCENTRIC
    END-POINT 187585.316          71584.080          104184.138  6  
    END-POINT 187725.016          71584.080          104157.150  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B5U                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 187725.016          71584.080          104157.150  4
    END-POINT 187725.016          71584.080          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CL8                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187725.016          71584.080          104157.150  4  
    END-POINT 188516.975          71584.080          104157.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C43                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 188000.016  71584.080 104157.150  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C46                 
    TAG                         RP02-3-4                        
SUPPORT
    CO-ORDS 188000.016  71584.080 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C48                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 188516.975          71584.080          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0032-PRM-0002-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
    RATING 3000LB
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825STW
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING 800LB
ITEM-CODE SOL6X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE VALVGAT6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE TEESTR6X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE REDECC6X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 40
    RATING 80
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE REDECC6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING 80
