ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0026-PRM-0001-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0026-PRM-0001-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0008-6"
    ATTRIBUTE83   12E-WI-2001 (TOE)
    ATTRIBUTE84   C210-4902-12E-0001-02
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0026-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 216581.297          72329.675          103438.481  0.5  
    END-POINT 216581.297          72329.675          103416.383  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GIV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 216581.297          72329.675          103494.607  0.5  SW FEMALE 
    END-POINT 216581.297          72329.675          103438.481  0.5  
    CENTRE-POINT  216581.297          72329.675          103464.257 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GIR                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS 216581.297  72329.675 103464.257 
    TEXT HEAT TRACING AT$LOW POINT DRAIN
    UNDIMENSIONED
WELD
    END-POINT 216581.297          72329.675          103494.607  0.5
    END-POINT 216581.297          72329.675          103494.607  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GIS                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 216581.297          72329.675          103596.207  0.5  
    END-POINT 216581.297          72329.675          103494.607  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GIP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 216581.297          72329.675          103596.207  0.5
    END-POINT 216581.297          72329.675          103596.207  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GIQ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 216558.947          72329.675          103621.607  1  
    END-POINT 216603.647          72329.675          103621.607  1  
    CENTRE-POINT  216581.297          72329.675          103621.607 
    BRANCH1-POINT 216581.297          72329.675          103596.207  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GIL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 216558.947          72329.675          103621.607  1
    END-POINT 216558.947          72329.675          103621.607  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GIN                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 216603.647          72329.675          103621.607  1
    END-POINT 216603.647          72329.675          103621.607  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GIO                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 217526.494          72329.675          103621.607  1  PL
    END-POINT 216603.647          72329.675          103621.607  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GD0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 217526.494          72329.675          103621.607  1
    END-POINT 217526.494          72329.675          103621.607  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GD1                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 217611.494          72329.675          103621.607  1  
    END-POINT 217526.494          72329.675          103621.607  1  
    CENTRE-POINT  217568.994          72329.675          103621.607 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GCW                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 217611.494          72329.675          103621.607  1
    END-POINT 217611.494          72329.675          103621.607  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GCX                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 218239.194          72329.675          103621.607  1  PL
    END-POINT 217611.494          72329.675          103621.607  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EC0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 218239.194          72329.675          103621.607  1
    END-POINT 218239.194          72329.675          103621.607  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EC1                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 218261.546          72329.675          103643.959  1  
    END-POINT 218239.194          72329.675          103621.607  1  
    CENTRE-POINT  218261.546          72329.675          103621.607 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EBV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 218261.546          72329.675          103643.959  1
    END-POINT 218261.546          72329.675          103643.959  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EBX                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 218261.546          72329.675          103769.659  1  PL
    END-POINT 218261.546          72329.675          103643.959  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EBT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 218261.546          72329.675          103769.659  1
    END-POINT 218261.546          72329.675          103769.659  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GDB                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 218261.546          72329.675          103769.659  1  
    END-POINT 218261.546          72329.675          103854.659  1  
    CENTRE-POINT  218261.546          72329.675          103812.159 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GDA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 218261.546          72329.675          103854.659  1
    END-POINT 218261.546          72329.675          103854.659  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GDF                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 218261.546          72329.675          103854.659  1  PL
    END-POINT 218261.546          72329.675          104079.359  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GDE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 218261.546          72329.675          104079.359  1
    END-POINT 218261.546          72329.675          104079.359  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GDG                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     218261.545  72329.675 104144.449 
    BRANCH1-POINT 218261.546          72329.675          104079.359  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EBF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 218261.545  72329.675 104144.449  3
    END-POINT 218261.545  72329.675 104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EBG                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 217537.950          72329.675          104144.449  3  BW
    END-POINT 220207.042          72329.675          104144.449  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DRU                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 219000.000  72329.675 104144.449  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_CHD                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 219693.711  72329.675 104144.449 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 219000.000  72329.675 104144.449  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EM3                 
    TAG                         RP02-3-3                        
WELD
    END-POINT 217537.950          72329.675          104144.449  3
    END-POINT 217537.950          72329.675          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ7                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 220207.042          72329.675          104144.449  3
    END-POINT 220207.042          72329.675          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 220295.942          72329.675          104144.449  3  
    END-POINT 220207.042          72329.675          104144.449  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 220295.942          72329.675          104144.449  3
    END-POINT 220299.122          72329.675          104144.449  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 220299.122          72329.675          104144.449 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJB                 
INSTRUMENT
    END-POINT 220299.122          72329.675          104144.449  3  
    END-POINT 220589.122          72329.675          104144.449  3  
    CENTRE-POINT  220444.122          72329.675          104144.449 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GDH                 
    TAG 12E$FE$2101                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 220589.122          72329.675          104144.449 
    PIPELINE-REFERENCE C210-4910-12E-S-0026-PRM-0001-02
FLANGE
    END-POINT 217449.050          72329.675          104144.449  3  
    END-POINT 217537.950          72329.675          104144.449  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ4                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 217449.050          72329.675          104144.449  3
    END-POINT 217445.870          72329.675          104144.449  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ5                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 217445.870          72329.675          104144.449 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ6                 
INSTRUMENT
    END-POINT 217445.870          72329.675          104144.449  3  
    END-POINT 217108.870          72329.675          104144.449  3  
    CENTRE-POINT  217277.370          72329.675          104144.449 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BGQ                 
    TAG 12E$FV$2101                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 217105.690          72329.675          104144.449  3
    END-POINT 217108.870          72329.675          104144.449  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 217108.870          72329.675          104144.449 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ3                 
FLANGE
    END-POINT 217105.690          72329.675          104144.449  3  
    END-POINT 217016.790          72329.675          104144.449  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 217016.790          72329.675          104144.449  3
    END-POINT 217016.790          72329.675          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJ8                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 217016.790          72329.675          104144.449  3  BW
    END-POINT 215561.195          72329.675          104144.449  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DRV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 216000.000  72329.675 104144.449  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_CGK                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 216000.000  72329.675 104144.449  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EM5                 
    TAG                         RP02-3-3                        
WELD
    END-POINT 215561.195          72329.675          104144.449  3
    END-POINT 215561.195          72329.675          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_CGJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 215661.195  72329.675 104144.449  3
    END-POINT 215661.195  72329.675 104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DRZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 216361.195  72329.675 104144.449  3
    END-POINT 216361.195  72329.675 104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EBD                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 215421.495          72329.675          104184.136  6  
    END-POINT 215561.195          72329.675          104144.449  3  
    SKEY REBW
    CONTINUATION 
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8FQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 215421.495          72329.675          104184.136 
    PIPELINE-REFERENCE C210-4910-12E-S-0008-PRM-0001-01
OLET
    CENTRE-POINT     216361.195  72329.675 104144.449 
    BRANCH1-POINT 216361.195          72329.675          104079.359  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EBC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 216361.195          72329.675          104079.359  1
    END-POINT 216361.195          72329.675          104079.359  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GD9                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 216361.195          72329.675          103854.659  1  PL
    END-POINT 216361.195          72329.675          104079.359  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GD7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 216361.195          72329.675          103854.659  1
    END-POINT 216361.195          72329.675          103854.659  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GD8                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 216361.195          72329.675          103769.659  1  
    END-POINT 216361.195          72329.675          103854.659  1  
    CENTRE-POINT  216361.195          72329.675          103812.159 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GD3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 216361.195          72329.675          103769.659  1
    END-POINT 216361.195          72329.675          103769.659  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GD4                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 216361.195          72329.675          103769.659  1  PL
    END-POINT 216361.195          72329.675          103643.959  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_ECC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 216361.195          72329.675          103643.959  1
    END-POINT 216361.195          72329.675          103643.959  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_ECG                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 216361.195          72329.675          103643.959  1  
    END-POINT 216383.547          72329.675          103621.607  1  
    CENTRE-POINT  216361.195          72329.675          103621.607 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_ECE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 216383.547          72329.675          103621.607  1
    END-POINT 216383.547          72329.675          103621.607  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_ECI                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 216383.547          72329.675          103621.607  1  PL
    END-POINT 216558.947          72329.675          103621.607  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_ECH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
OLET
    CENTRE-POINT     215661.195  72329.675 104144.449 
    BRANCH1-POINT 215661.195          72329.675          104079.361  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DRY                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 215661.195          72329.675          104079.361  1
    END-POINT 215661.195          72329.675          104079.361  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GE3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 215661.195          72329.675          104079.361  1  
    END-POINT 215661.195          72329.675          103977.761  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GE2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 215661.195          72329.675          103977.761  1
    END-POINT 215661.195          72329.675          103977.761  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GE4                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 215661.195          72329.675          103977.761  1  SW FEMALE 
    END-POINT 215661.195          72329.675          103897.944  1  
    CENTRE-POINT  215661.195          72329.675          103935.471 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8OQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 215661.195          72329.675          103897.944  1  
    END-POINT 215661.195          72329.675          103867.781  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8OT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 215661.195  72329.675 103880.481 
    TEXT HEAT TRACING AT$LOW POINT DRAIN
    UNDIMENSIONED
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE TEESTR1X1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A105N, CL3000
    RATING CL3000
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING CL800
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A105N, CL3000
    RATING CL3000
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING 40
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOEE G12
ITEM-CODE SUPPS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-3
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING 800LB
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
    RATING 3000LB
