ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0072-PRM-0007-02
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0072-PRM-0007-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0070-6"
    ATTRIBUTE83   12E-S-0073-4"
    ATTRIBUTE84   C210-4902-12E-0001-07
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0072-4"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  82757.086          71574.492          104372.481  0.5  
    END-POINT  82734.988          71574.492          104372.481  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2X                 
    PIPING-SPEC CH
    INSULATION-ON 
VALVE-3WAY
    END-POINT  82797.853          71574.492          104330.190  0.75  SW FEMALE 
    END-POINT  82797.853          71574.492          104411.724  0.75  
    END-POINT  82757.086          71574.492          104372.481  0.5  
    CENTRE-POINT   82797.853          71574.492          104372.481 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2S                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82797.853          71574.492          104330.190  0.75
    END-POINT  82797.853          71574.492          104330.190  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2U                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  82797.853          71574.492          104411.724  0.75  
    END-POINT  82797.853          71574.492          104437.124  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2V                 
    PIPING-SPEC CH
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  82797.853  71574.492 104427.472 
    UNDIMENSIONED
    TEXT 12E$PIT$7103
COUPLING
    END-POINT  82797.853          71574.492          104228.590  0.75  
    END-POINT  82797.853          71574.492          104330.190  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B5S                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82797.853          71574.492          104228.590  0.75
    END-POINT  82797.853          71574.492          104228.590  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F47                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      82797.853  71574.492 104157.150 
    BRANCH1-POINT  82797.853          71574.492          104228.590  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F45                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82797.853  71574.492 104157.150  4
    END-POINT  82797.853  71574.492 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F46                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  84152.240          71574.492          104157.150  4  BW
    END-POINT  82675.053          71574.492          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F25                 
    PIPING-SPEC CH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  83500.453  71574.492 104157.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  84152.240          71574.492          104157.150  4
    END-POINT  84152.240          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2I                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82675.053          71574.492          104157.150  4
    END-POINT  82675.053          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EAV                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82947.853  71574.492 104157.150  4
    END-POINT  82947.853  71574.492 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2L                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      82947.853  71574.492 104157.150 
    BRANCH1-POINT  82947.853          71574.492          104079.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2K                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82947.853          71574.492          104079.360  1
    END-POINT  82947.853          71574.492          104079.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3X                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  82947.853          71574.492          104079.360  1  
    END-POINT  82947.853          71574.492          103977.760  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3W                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82947.853          71574.492          103977.760  1
    END-POINT  82947.853          71574.492          103977.760  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3Z                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  82947.853          71574.492          103977.760  1  SW FEMALE 
    END-POINT  82947.853          71574.492          103899.510  1  
    CENTRE-POINT   82947.853          71574.492          103935.460 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3Y                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT  82947.853          71574.492          103899.510  1  
    END-POINT  82947.853          71574.492          103870.808  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F42                 
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  82675.053          71574.492          104157.150  4  
    END-POINT  82243.253          71574.492          104157.150  4  
    CENTRE-POINT   82459.153          71574.492          104157.150 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT  82243.253          71574.492          104157.150  4
    END-POINT  82243.253          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDL                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  82243.253          71574.492          104157.150  4  BW
    END-POINT  81763.253          71574.492          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDM                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  82000.000  71574.492 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CLS                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT  81763.253          71574.492          104157.150  4
    END-POINT  81763.253          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT  81763.253          71574.492          104157.150  4  
    END-POINT  81553.957          71574.492          104157.150  4  
    CENTRE-POINT   81658.605          71574.492          104157.150 
    BRANCH1-POINT  81658.605          71574.492          104255.702  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDP                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  81553.957          71574.492          104157.150  4
    END-POINT  81553.957          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDQ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  81658.605          71574.492          104255.702  3
    END-POINT  81658.605          71574.492          104255.702  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDR                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT  81658.605          71574.492          104344.602  3  
    END-POINT  81658.605          71574.492          104255.702  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDS                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  81658.605          71574.492          104344.602  3
    END-POINT  81658.605          71574.492          104347.777  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDT                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING 600LB          
MISC-COMPONENT
    END-POINT  81658.605          71574.492          104347.777  3  
    END-POINT  81658.605          71574.492          104360.477  3  
    CENTRE-POINT  81658.605  71574.492 104354.127 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDU                 
    PIPING-SPEC CH
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT  81658.605          71574.492          104363.657  3
    END-POINT  81658.605          71574.492          104360.477  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FK3                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  81658.605          71574.492          104360.477 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FK4                 
FLANGE
    END-POINT  81658.605          71574.492          104363.657  3  
    END-POINT  81658.605          71574.492          104452.557  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQ7                 
    PIPING-SPEC CH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  81658.605          71574.492          104452.557 
    PIPELINE-REFERENCE C210-4910-12E-S-0074-PRM-0007-01
FLANGE
    END-POINT  81446.007          71574.492          104157.150  4  
    END-POINT  81553.957          71574.492          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEG                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  81446.007          71574.492          104157.150  4
    END-POINT  81442.832          71574.492          104157.150  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEH                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING 600LB          
MISC-COMPONENT
    END-POINT  81427.084          71574.492          104157.150  4  
    END-POINT  81442.832          71574.492          104157.150  4  
    CENTRE-POINT  81434.958  71574.492 104157.150 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
END-CONNECTION-PIPELINE 
    CO-ORDS  81427.084          71574.492          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0073-PRM-0007-01
FLANGE
    END-POINT  84260.190          71574.492          104157.150  4  
    END-POINT  84152.240          71574.492          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2F                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  84260.190          71574.492          104157.150  4
    END-POINT  84263.370          71574.492          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2G                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  84260.190          71574.492          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2H                 
INSTRUMENT
    END-POINT  84588.370          71574.492          104157.150  4  
    END-POINT  84263.370          71574.492          104157.150  4  
    CENTRE-POINT   84425.870          71574.492          104157.150 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2A                 
    TAG 12E$FE$7103                     
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  84588.370          71574.492          104157.150  4
    END-POINT  84591.550          71574.492          104157.150  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2B                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT  84591.550          71574.492          104157.150  4  
    END-POINT  84699.500          71574.492          104157.150  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B6B                 
    PIPING-SPEC CH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  84699.500          71574.492          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0072-PRM-0007-01
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, A105N, CL800, DB-805ST
    RATING CL800
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING 600LB
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING 600LB
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600
    RATING 600LB
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 X 5 3/4 STUD BOLT, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
