ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0008-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-PE-0033-PRM-0008-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   HEADER #2 
    ATTRIBUTE83   12E-PE-0030-8"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0033-6"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 247358.950          69112.461          103388.160  1  
    END-POINT 247358.950          69112.461          103359.458  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GE4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 247358.950          69112.461          103466.410  1  SW FEMALE 
    END-POINT 247358.950          69112.461          103388.160  1  
    CENTRE-POINT  247358.950          69112.461          103424.110 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GE0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 247358.950          69112.461          103466.410  1
    END-POINT 247358.950          69112.461          103466.410  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GE1                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 247358.950          69112.461          103568.010  1  
    END-POINT 247358.950          69112.461          103466.410  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GDT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 247358.950          69112.461          103568.010  1
    END-POINT 247358.950          69112.461          103568.010  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GDU                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     247358.950  69112.461 103679.138 
    BRANCH1-POINT 247358.950          69112.461          103568.010  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GDQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 247358.950  69112.461 103679.138  6
    END-POINT 247358.950  69112.461 103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GDR                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 240705.905          69112.461          103679.138  6  BW
    END-POINT 247485.252          69112.461          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ED9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 243355.221  69112.461 103679.138 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 247000.283  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E8D                 
    TAG                         S01-B-3-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 241000.000  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FLA                 
    TAG                         S01-B-3-6                       
WELD
    END-POINT 240705.905          69112.461          103679.138  6
    END-POINT 240705.905          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMO                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 247485.252          69112.461          103679.138  6
    END-POINT 247485.252          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EDC                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 247608.950          69112.461          103679.138  6  
    END-POINT 247485.252          69112.461          103679.138  6  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          36.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EDB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 247612.125          69112.461          103679.138  6
    END-POINT 247608.950          69112.461          103679.138  6
    FABRICATION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EDG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 247608.950          69112.461          103679.138 
    BOLT-DIA           1.000
    BOLT-QUANTITY              12
    BOLT-LENGTH           6.750
    WEIGHT          16.923
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EDH                 
FLANGE-BLIND
    END-POINT 247612.125          69112.461          103679.138  6  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD6
    WEIGHT          39.040
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EDF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POINT 247666.227          69112.461          103679.138  6
    SKEY FLBL
TEE
    END-POINT 240420.405          69112.461          103679.138  6  
    END-POINT 240705.905          69112.461          103679.138  6  
    CENTRE-POINT  240563.155          69112.461          103679.138 
    BRANCH1-POINT 240563.155          69112.461          103809.188  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FML                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 240420.405          69112.461          103679.138  6
    END-POINT 240420.405          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMN                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 240563.155          69112.461          103809.188  4
    END-POINT 240563.155          69112.461          103809.188  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 240563.078          69112.461          103909.185  4  
    END-POINT 240563.155          69112.461          103809.188  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 240563.078          69112.461          103909.185 
    PIPELINE-REFERENCE C210-4910-12E-PE-0001-PRM-0008-02
PIPE
    END-POINT 240420.405          69112.461          103679.138  6  BW
    END-POINT 239192.735          69112.461          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F7R                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239192.735          69112.461          103679.138  6
    END-POINT 239192.735          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 238907.235          69112.461          103679.138  6  
    END-POINT 239192.735          69112.461          103679.138  6  
    CENTRE-POINT  239049.985          69112.461          103679.138 
    BRANCH1-POINT 239049.985          69112.461          103809.188  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 238907.235          69112.461          103679.138  6
    END-POINT 238907.235          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FME                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 239049.985          69112.461          103809.188  4
    END-POINT 239049.985          69112.461          103809.188  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 239049.757          69112.461          103909.185  4  
    END-POINT 239049.985          69112.461          103809.188  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 239049.757          69112.461          103909.185 
    PIPELINE-REFERENCE C210-4910-12E-CG-0002-PRM-0008-01
PIPE
    END-POINT 238907.235          69112.461          103679.138  6  BW
    END-POINT 234578.600          69112.461          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F6C                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 235000.000  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F6I                 
    TAG                         S01-B-6-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  6
    ERECTION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 236591.922  69112.461 103679.138 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 235000.000  69112.461 103679.138  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZ2                 
    TAG                         RP02-6-6                        
WELD
    END-POINT 234578.600          69112.461          103679.138  6
    END-POINT 234578.600          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 234578.600          69112.461          103679.138  6  
    END-POINT 234350.000          69341.061          103679.138  6  
    CENTRE-POINT  234350.000          69112.461          103679.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 234350.000          69341.061          103679.138  6
    END-POINT 234350.000          69341.061          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 234350.000          69341.061          103679.138  6  BW
    END-POINT 234350.000          72083.861          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 234350.000          72083.861          103679.138  6
    END-POINT 234350.000          72083.861          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXU                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 234350.000          72083.861          103679.138  6  
    END-POINT 234121.400          72312.461          103679.138  6  
    CENTRE-POINT  234350.000          72312.461          103679.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 234121.400          72312.461          103679.138  6
    END-POINT 234121.400          72312.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 234121.400          72312.461          103679.138  6  BW
    END-POINT 229878.600          72312.461          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 232000.000  72312.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZ4                 
    TAG                         S01-B-3-6                       
WELD
    END-POINT 229878.600          72312.461          103679.138  6
    END-POINT 229878.600          72312.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXZ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 229878.600          72312.461          103679.138  6  
    END-POINT 229650.000          72083.861          103679.138  6  
    CENTRE-POINT  229650.000          72312.461          103679.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FXX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 229650.000          72083.861          103679.138  6
    END-POINT 229650.000          72083.861          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 229650.000          69341.061          103679.138  6  BW
    END-POINT 229650.000          72083.861          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 229650.000          69341.061          103679.138  6
    END-POINT 229650.000          69341.061          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 229650.000          69341.061          103679.138  6  
    END-POINT 229421.400          69112.461          103679.138  6  
    CENTRE-POINT  229650.000          69112.461          103679.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 229421.400          69112.461          103679.138  6
    END-POINT 229421.400          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 229421.400          69112.461          103679.138  6  BW
    END-POINT 227000.000          69112.461          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 229000.000  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY7                 
    TAG                         S01-B-4-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 227000.000          69112.461          103679.138  6
    END-POINT 227000.000          69112.461          103679.138  6
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZ6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 227000.000          69112.461          103679.138  6  
    END-POINT 227000.000          69112.461          103679.138  6  
    CONTINUATION 
    MESSAGE This is a GAP 
PIPE
    END-POINT 215694.336          69112.461          103679.138  6  
    END-POINT 227000.000          69112.461          103679.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_F0M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222000.283  69112.461 103679.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DPW                 
    TAG                         S01-B-4-6                       
SUPPORT
    CO-ORDS 216000.211  69112.461 103679.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DPU                 
    TAG                         S01-B-4-6                       
SUPPORT
    CO-ORDS 225000.000  69112.461 103679.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_F11                 
    TAG                         S01-B-4-6                       
END-CONNECTION-PIPELINE 
    CO-ORDS 215694.336          69112.461          103679.138 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0001-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL6X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-6
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE FLGWNK6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT6
    BOLT_DIA 25.4
    BOLT_LEN 170
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 1 X 6 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE FLGBLD6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING 600LB
ITEM-CODE TEERED6X4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-6_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-6-6
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE G22
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G22
ITEM-CODE SUPPS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-6-6
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-6_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-4-6
