ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0016-PRM-0003-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0016-PRM-0003-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0164-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0016-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 164148.409          72571.950          104346.575  0.5  
    END-POINT 164148.409          72571.950          104371.975  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H2U                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 164148.409          72571.950          104257.925  0.5  SW FEMALE 
    END-POINT 164148.409          72571.950          104346.575  0.5  
    CENTRE-POINT  164148.409          72571.950          104303.775 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H2R                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 164148.409          72571.950          104257.925  0.5
    END-POINT 164148.409          72571.950          104257.925  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8X                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  164148.409          72571.950          104181.725 
    BRANCH1-POINT 164148.409          72571.950          104257.925  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.148
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8W                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164148.409          72571.950          104181.725  0.5
    END-POINT 164148.409          72571.950          104181.725  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8Y                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 164170.634          72571.950          104116.700  1  
    END-POINT 164081.734          72571.950          104116.700  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6D                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS 164148.409          72571.950          104181.725  0.5
GASKET
    END-POINT 164170.644          72571.950          104116.700  1
    END-POINT 164170.634          72571.950          104116.700  1
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6H                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 164170.644          72571.950          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           6.250
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6I                 
WELD
    END-POINT 164081.734          72571.950          104116.700  1
    END-POINT 164081.734          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6E                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 164081.734          72571.950          104116.700  1  BW
    END-POINT 162670.079          72571.950          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M5W                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163000.047  72571.950 104116.700  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M63                 
    TAG                         S01-A-3-1                       
WELD
    END-POINT 162670.079          72571.950          104116.700  1
    END-POINT 162670.079          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M5Y                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 162670.079          72571.950          104116.700  1  
    END-POINT 162647.727          72571.950          104139.052  1  
    CENTRE-POINT  162647.727          72571.950          104116.700 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H2G                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 162647.727          72571.950          104139.052  1
    END-POINT 162647.727          72571.950          104139.052  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LEC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 162647.727          72571.950          104240.652  1  PL
    END-POINT 162647.727          72571.950          104139.052  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LEA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162647.727          72571.950          104240.652  1
    END-POINT 162647.727          72571.950          104240.652  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LEB                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 162647.727          72571.950          104240.652  1  
    END-POINT 162647.727          72571.950          104335.252  1  
    CENTRE-POINT  162647.727          72571.950          104287.952 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H2B                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 162647.727          72571.950          104335.252  1
    END-POINT 162647.727          72571.950          104335.252  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSJ                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 162647.727          72571.950          104436.856  1  PL
    END-POINT 162647.727          72571.950          104335.252  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162647.727          72571.950          104436.856  1
    END-POINT 162647.727          72571.950          104436.856  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSI                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 162647.727          72571.950          104481.556  1  
    END-POINT 162647.727          72571.950          104436.856  1  
    CENTRE-POINT  162647.727          72571.950          104459.206 
    BRANCH1-POINT 162622.327          72571.950          104459.206  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LE4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 162647.727          72571.950          104481.556  1
    END-POINT 162647.727          72571.950          104481.556  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSL                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 162622.327          72571.950          104459.206  0.5
    END-POINT 162622.327          72571.950          104459.206  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LWK                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 162622.327          72571.950          104459.206  0.5  
    END-POINT 162520.727          72571.950          104459.206  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LWJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162520.727          72571.950          104459.206  0.5
    END-POINT 162520.727          72571.950          104459.206  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LWL                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 162520.727          72571.950          104459.206  0.5  SW FEMALE 
    END-POINT 162433.601          72571.950          104459.206  0.5  
    CENTRE-POINT  162474.877          72571.950          104459.206 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LEJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 162433.601          72571.950          104459.206  0.5  
    END-POINT 162411.503          72571.950          104459.206  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LEO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 162647.727          72571.950          104481.556  1  PL
    END-POINT 162647.727          72571.950          104583.156  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162647.727          72571.950          104583.156  1
    END-POINT 162647.727          72571.950          104583.156  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSM                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 162647.727          72571.950          104583.156  1  
    END-POINT 162647.727          72571.950          104677.756  1  
    CENTRE-POINT  162647.727          72571.950          104630.456 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H1W                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 162647.727          72571.950          104677.756  1
    END-POINT 162647.727          72571.950          104677.756  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSO                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 162647.727          72571.950          104677.756  1  PL
    END-POINT 162647.727          72571.950          105891.743  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 162647.727  72571.950 105672.801 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 162647.727          72571.950          105891.743  1
    END-POINT 162647.727          72571.950          105891.743  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSP                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 162647.727          72571.950          105891.743  1  
    END-POINT 162670.079          72571.950          105914.095  1  
    CENTRE-POINT  162647.727          72571.950          105914.095 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IXS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 162670.079          72571.950          105914.095  1
    END-POINT 162670.079          72571.950          105914.095  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LST                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 162670.079          72571.950          105914.095  1  PL
    END-POINT 163325.375          72571.950          105914.095  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163325.375          72571.950          105914.095  1
    END-POINT 163325.375          72571.950          105914.095  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LSU                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 163325.375          72571.950          105914.095  1  
    END-POINT 163347.727          72549.598          105914.095  1  
    CENTRE-POINT  163347.727          72571.950          105914.095 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IY6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163347.727          72549.598          105914.095  1
    END-POINT 163347.727          72549.598          105914.095  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IYD                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 163347.727          72329.540          105914.095  1  PL
    END-POINT 163347.727          72549.598          105914.095  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IYB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163347.727          72329.540          105914.095  1
    END-POINT 163347.727          72329.540          105914.095  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IYC                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 163347.727          72329.540          105914.095  1  
    END-POINT 163347.727          72307.188          105936.447  1  
    CENTRE-POINT  163347.727          72307.188          105914.095 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IY9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163347.727          72307.188          105936.447  1
    END-POINT 163347.727          72307.188          105936.447  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IYF                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 163347.727          72307.188          105936.447  1  PL
    END-POINT 163347.727          72307.188          106329.363  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IYE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163347.727          72307.188          106329.363  1
    END-POINT 163347.727          72307.188          106329.363  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IYG                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT     163347.727  72307.188 106380.163 
    BRANCH1-POINT 163347.727          72307.188          106329.363  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IXY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 163347.727  72307.188 106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0003-01
INSTRUMENT
    END-POINT 164170.644          72571.950          104116.700  1  FL
    END-POINT 164183.644          72571.950          104116.700  1  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6F                 
    TAG 12E$FE$4105                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 164183.644          72571.950          104116.700  1
    END-POINT 164183.644          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6N                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
GAP
    END-POINT 164183.664          72571.950          104116.700  1  
    END-POINT 164183.644          72571.950          104116.700  1  
    PIPING-SPEC DL
FLANGE
    END-POINT 164183.664          72571.950          104116.700  1  
    END-POINT 164272.564          72571.950          104116.700  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6L                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS 164205.889          72571.950          104181.725  0.5
WELD
    END-POINT 164272.564          72571.950          104116.700  1
    END-POINT 164272.564          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6M                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 164205.889          72571.950          104181.725  0.5
    END-POINT 164205.889          72571.950          104181.725  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6S                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  164205.889          72571.950          104181.725 
    BRANCH1-POINT 164205.889          72571.950          104334.125  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LX8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164205.889          72571.950          104334.125  0.5
    END-POINT 164205.889          72571.950          104334.125  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LXA                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 164205.889          72571.950          104334.125  0.5  SW FEMALE 
    END-POINT 164205.889          72571.950          104422.775  0.5  
    CENTRE-POINT  164205.889          72571.950          104379.975 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H34                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 164205.889          72571.950          104422.775  0.5  
    END-POINT 164205.889          72571.950          104448.175  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H37                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 164510.481          72571.950          104116.700  1  PL
    END-POINT 164272.564          72571.950          104116.700  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZP                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164510.481          72571.950          104116.700  1
    END-POINT 164510.481          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZQ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 164555.181          72571.950          104116.700  1  
    END-POINT 164510.481          72571.950          104116.700  1  
    CENTRE-POINT  164532.831          72571.950          104116.700 
    BRANCH1-POINT 164532.831          72571.950          104139.050  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 164555.181          72571.950          104116.700  1
    END-POINT 164555.181          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZO                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 164532.831          72571.950          104139.050  0.75
    END-POINT 164532.831          72571.950          104139.050  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZT                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 164532.831          72571.950          104139.050  0.75  
    END-POINT 164532.831          72571.950          104240.650  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164532.831          72571.950          104240.650  0.75
    END-POINT 164532.831          72571.950          104240.650  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZV                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 164532.831          72571.950          104240.650  0.75  SW FEMALE 
    END-POINT 164532.831          72571.950          104323.202  0.75  
    CENTRE-POINT  164532.831          72571.950          104283.450 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZU                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MESSAGE-CIRCLE
    CO-ORDS 164532.831  72571.950 104338.950 
    UNDIMENSIONED
    TEXT 12E$HV$4105
MISC-COMPONENT
    END-POINT 164532.831          72571.950          104323.202  0.75  
    END-POINT 164532.831          72571.950          104348.602  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 164730.581          72571.950          104116.700  1  PL
    END-POINT 164555.181          72571.950          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164730.581          72571.950          104116.700  1
    END-POINT 164730.581          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZL                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 164765.379          72571.950          104116.700  1  
    END-POINT 164730.581          72571.950          104116.700  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A_1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LTA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 164765.379          72571.950          104116.700  1
    END-POINT 164769.439          72571.950          104116.700  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LTB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 164765.379          72571.950          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LTC                 
INSTRUMENT
    END-POINT 164769.439          72571.950          104116.700  1  
    END-POINT 165023.439          72571.950          104116.700  1  
    CENTRE-POINT  164896.439          72571.950          104116.700 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H51                 
    TAG 12E$FV$4105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 165027.499          72571.950          104116.700  1
    END-POINT 165023.439          72571.950          104116.700  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LYT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 165027.499          72571.950          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LYU                 
FLANGE
    END-POINT 165027.499          72571.950          104116.700  1  
    END-POINT 165062.297          72571.950          104116.700  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A_1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LYS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165062.297          72571.950          104116.700  1
    END-POINT 165062.297          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LYW                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 165062.297          72571.950          104116.700  1  PL
    END-POINT 165211.507          72571.950          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LYV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165211.507          72571.950          104116.700  1
    END-POINT 165211.507          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LYX                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 165256.207          72571.950          104116.700  1  
    END-POINT 165211.507          72571.950          104116.700  1  
    CENTRE-POINT  165233.857          72571.950          104116.700 
    BRANCH1-POINT 165233.857          72571.950          104139.050  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 165256.207          72571.950          104116.700  1
    END-POINT 165256.207          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVV                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 165233.857          72571.950          104139.050  0.75
    END-POINT 165233.857          72571.950          104139.050  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LW2                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 165233.857          72571.950          104139.050  0.75  
    END-POINT 165233.857          72571.950          104240.650  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LW1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165233.857          72571.950          104240.650  0.75
    END-POINT 165233.857          72571.950          104240.650  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LW8                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 165233.857          72571.950          104240.650  0.75  SW FEMALE 
    END-POINT 165233.857          72571.950          104323.202  0.75  
    CENTRE-POINT  165233.857          72571.950          104283.450 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LW7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MESSAGE-CIRCLE
    CO-ORDS 165233.857  72571.950 104338.950 
    UNDIMENSIONED
    TEXT 12E$PIT$4105
MISC-COMPONENT
    END-POINT 165233.857          72571.950          104323.202  0.75  
    END-POINT 165233.857          72571.950          104348.602  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LZ0                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 165381.607          72571.950          104116.700  1  PL
    END-POINT 165256.207          72571.950          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVR                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165381.607          72571.950          104116.700  1
    END-POINT 165381.607          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVS                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 165426.307          72571.950          104116.700  1  
    END-POINT 165381.607          72571.950          104116.700  1  
    CENTRE-POINT  165403.957          72571.950          104116.700 
    BRANCH1-POINT 165403.957          72571.950          104139.050  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 165426.307          72571.950          104116.700  1
    END-POINT 165426.307          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVQ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 165403.957          72571.950          104139.050  0.75
    END-POINT 165403.957          72571.950          104139.050  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LW0                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 165403.957          72571.950          104139.050  0.75  
    END-POINT 165403.957          72571.950          104240.650  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165403.957          72571.950          104240.650  0.75
    END-POINT 165403.957          72571.950          104240.650  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LWC                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 165403.957          72571.950          104240.650  0.75  SW FEMALE 
    END-POINT 165403.957          72571.950          104323.202  0.75  
    CENTRE-POINT  165403.957          72571.950          104283.450 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LWB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 165403.957          72571.950          104323.202  0.75  
    END-POINT 165403.957          72571.950          104348.602  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LWG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 165526.707          72571.950          104116.700  1  PL
    END-POINT 165426.307          72571.950          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165526.707          72571.950          104116.700  1
    END-POINT 165526.707          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LVN                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 165526.707          72571.950          104116.700  1  
    END-POINT 165571.407          72571.950          104116.700  1  
    CENTRE-POINT  165549.057          72571.950          104116.700 
    BRANCH1-POINT 165549.057          72571.950          104094.350  1  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LUW                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 165571.407          72571.950          104116.700  1
    END-POINT 165571.407          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LUZ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 165549.057          72571.950          104094.350  1
    END-POINT 165549.057          72571.950          104094.350  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LV1                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 165549.057          72571.950          104094.350  1  
    END-POINT 165549.057          72571.950          103992.750  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LV0                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165549.057          72571.950          103992.750  1
    END-POINT 165549.057          72571.950          103992.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LV3                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 165549.057          72571.950          103992.750  1  SW FEMALE 
    END-POINT 165549.057          72571.950          103904.500  1  
    CENTRE-POINT  165549.057          72571.950          103945.450 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LV2                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 165549.057          72571.950          103904.500  1  
    END-POINT 165549.057          72571.950          103875.798  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LV6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 165571.407          72571.950          104116.700  1  PL
    END-POINT 166466.915          72571.950          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LTN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166000.000  72571.950 104116.700  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LTQ                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 166271.008  72571.950 104116.700 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 166466.915          72571.950          104116.700  1
    END-POINT 166466.915          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LTP                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 166501.713          72571.950          104116.700  1  
    END-POINT 166466.915          72571.950          104116.700  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A_1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I50                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 166501.713          72571.950          104116.700  1
    END-POINT 166505.773          72571.950          104116.700  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I51                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 166501.713          72571.950          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I52                 
INSTRUMENT
    END-POINT 166505.773          72571.950          104116.700  1  
    END-POINT 166759.773          72571.950          104116.700  1  
    CENTRE-POINT  166632.773          72571.950          104116.700 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H3Q                 
    TAG 12E$XV$4105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 166763.833          72571.950          104116.700  1
    END-POINT 166759.773          72571.950          104116.700  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I4W                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 166763.833          72571.950          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I4X                 
FLANGE
    END-POINT 166763.833          72571.950          104116.700  1  
    END-POINT 166798.631          72571.950          104116.700  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A_1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I4V                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166798.631          72571.950          104116.700  1
    END-POINT 166798.631          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M02                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 166798.631          72571.950          104116.700  1  PL
    END-POINT 166924.031          72571.950          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M01                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166924.031          72571.950          104116.700  1
    END-POINT 166924.031          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M05                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 166924.031          72571.950          104116.700  1  
    END-POINT 166968.731          72571.950          104116.700  1  
    CENTRE-POINT  166946.381          72571.950          104116.700 
    BRANCH1-POINT 166946.381          72571.950          104139.050  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M03                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166968.731          72571.950          104116.700  1
    END-POINT 166968.731          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M07                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 166946.381          72571.950          104139.050  0.75
    END-POINT 166946.381          72571.950          104139.050  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M0A                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 166946.381          72571.950          104139.050  0.75  
    END-POINT 166946.381          72571.950          104240.650  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M09                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166946.381          72571.950          104240.650  0.75
    END-POINT 166946.381          72571.950          104240.650  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M0C                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 166946.381          72571.950          104240.650  0.75  SW FEMALE 
    END-POINT 166946.381          72571.950          104323.202  0.75  
    CENTRE-POINT  166946.381          72571.950          104283.450 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M0B                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MESSAGE-CIRCLE
    CO-ORDS 166946.381  72571.950 104338.950 
    UNDIMENSIONED
    TEXT 12E$HV$4105
MISC-COMPONENT
    END-POINT 166946.381          72571.950          104323.202  0.75  
    END-POINT 166946.381          72571.950          104348.602  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M0F                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 166968.731          72571.950          104116.700  1  PL
    END-POINT 167633.035          72571.950          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M06                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 167633.035          72571.950          104116.700  1
    END-POINT 167633.035          72571.950          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M08                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 167633.035          72571.950          104116.700  1  
    END-POINT 167655.387          72594.302          104116.700  1  
    CENTRE-POINT  167655.387          72571.950          104116.700 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H5B                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 167655.387          72594.302          104116.700  1
    END-POINT 167655.387          72594.302          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H5A                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 167655.387          72594.302          104116.700  1  PL
    END-POINT 167655.387          73009.362          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H58                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 167655.387  72799.494 104116.700  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H59                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 167655.387          73009.362          104116.700  1
    END-POINT 167655.387          73009.362          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LRX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 167655.387          73009.362          104116.700  1  
    END-POINT 167655.387          73022.062          104116.700  1  
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H56                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 167655.387          73022.062          104116.700  1
    END-POINT 167655.387          73022.062          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LF7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT 167655.387          73022.062          104116.700  1  
    END-POINT 167655.387          73110.962          104116.700  0.75  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON1X3/4
    WEIGHT           0.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LF6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 167655.387          73110.962          104116.700  0.75
    END-POINT 167655.387          73110.962          104116.700  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LFI                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 167655.387          73110.962          104116.700  0.75  
    END-POINT 167655.387          73196.560          104116.700  0.75  
    CENTRE-POINT  167655.387          73153.761          104116.700 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           2.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LFH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 167655.387          73196.560          104116.700  0.75
    END-POINT 167655.387          73196.560          104116.700  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2V                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 167655.387          73196.560          104116.700  0.75  
    END-POINT 167655.387          73298.160          104116.700  0.75  
    SKEY NRSC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4_1
    WEIGHT           2.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2U                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 167655.387  73285.460 104116.700 
    TEXT CONT. TO TUBING$12E-FG-0164-1/2"-EY$(12E-WI-3001)
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS 167655.387          73298.160          104116.700 
MATERIALS
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 3" LG
    RATING SCH 160
ITEM-CODE FLGWNK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE, w/ 1/2" SW TAPS - OOS
    RATING CL1500
    RATING SCH 80
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 6 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS - OOS
    RATING CL1500
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A350-LF2 CL1, CL1500  , GA-1514L
    RATING 1500LB
ITEM-CODE TEESTR1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING CL3000
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING CL3000
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 6" LG
    RATING SCH 160
ITEM-CODE TEESTR1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING CL3000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING CL1500
ITEM-CODE N/A_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING CL1500
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING CL1500
ITEM-CODE N/A_2
    BOLT_DIA 22.225
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL1500
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING CL3000
ITEM-CODE TEESTR1X1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE SW, A350-LF2 CL1, CL3000
    RATING CL3000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING CL1500
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING CL3000
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G21
ITEM-CODE CPL1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION FULL CPLG, SW, A350 GR.LF2 CL.1, 3000LB, ASME B16.11
    RATING 3000LB
ITEM-CODE SWGCON1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC PBE, A420-WPL6, SCH 160
    RATING SCH 160
ITEM-CODE VALVCHK3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION CHECK VALVE LIFT SW, A350-LF2, CL1500  , CH-1514L
    RATING CL1500
ITEM-CODE NIPP3/4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A333-6, SCH 160, 4" LG
    RATING SCH 160
