ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0034-PRM-0002-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0034-PRM-0002-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0032-4"
    ATTRIBUTE83   12E-PE-0009-4"
    ATTRIBUTE84   C210-4902-12E-0001-03
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0034-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 195484.370          72031.374          105100.049  1  
    END-POINT 195484.370          72031.374          105128.751  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BYL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 195484.370          72031.374          105021.799  1  SW FEMALE 
    END-POINT 195484.370          72031.374          105100.049  1  
    CENTRE-POINT  195484.370          72031.374          105064.099 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BYH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 195484.370          72031.374          105021.799  1
    END-POINT 195484.370          72031.374          105021.799  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BYI                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 195484.370          72031.374          104920.199  1  
    END-POINT 195484.370          72031.374          105021.799  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BYF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195484.370          72031.374          104920.199  1
    END-POINT 195484.370          72031.374          104920.199  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BYG                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     195484.370  72031.374 104855.109 
    BRANCH1-POINT 195484.370          72031.374          104920.199  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BYD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195484.370  72031.374 104855.109  3
    END-POINT 195484.370  72031.374 104855.109  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BYE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 195595.370          72031.374          104855.109  3  BW
    END-POINT 194836.481          72031.374          104855.109  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BG7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 195177.520  72031.374 104855.109 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 195595.370          72031.374          104855.109  3
    END-POINT 195595.370          72031.374          104855.109  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BG8                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 194836.481          72031.374          104855.109  3
    END-POINT 194836.481          72031.374          104855.109  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C3C                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 194749.760          71995.453          104855.109  3  
    END-POINT 194836.481          72031.374          104855.109  3  
    CENTRE-POINT  194785.681          72031.374          104855.109 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           1.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C37                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
END-CONNECTION-PIPELINE 
    CO-ORDS 194749.760          71995.453          104855.109 
    PIPELINE-REFERENCE C210-4910-12E-S-0032-PRM-0002-01
FLANGE
    END-POINT 195684.270          72031.374          104855.109  3  
    END-POINT 195595.370          72031.374          104855.109  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BFV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 195684.270          72031.374          104855.109  3
    END-POINT 195687.450          72031.374          104855.109  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BGA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 195684.270          72031.374          104855.109 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BGB                 
VALVE
    END-POINT 195687.450          72031.374          104855.109  3  
    END-POINT 196043.050          72031.374          104855.109  3  
    CENTRE-POINT  195865.250          72031.374          104855.109 
    SKEY CKFL
    CONTINUATION 
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AUY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 196043.050          72031.374          104855.109 
    PIPELINE-REFERENCE C210-4910-12E-PE-0009-PRM-0002-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
