ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-RP-0001-PRM-0004-01
PIPING-SPEC A
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-RP-0001-PRM-0004-01
    ATTRIBUTE70   V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   397
    ATTRIBUTE74   151
    ATTRIBUTE78   Critical P=5100 kPag
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PSV-0153A
    ATTRIBUTE83   VENT/ATM
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   A
    ATTRIBUTE95   12E-RP-0001-8"-A
    ATTRIBUTE97   RP
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
CAP
    END-POINT 148424.673          72273.966          103677.362  0.5  
    END-POINT 148424.673          72273.966          103671.012  0.5
    SKEY KASW
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGQ                 
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 148424.673          72273.966          103677.362  0.5
    END-POINT 148424.673          72273.966          103677.362  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC A
    INSULATION-ON 
COUPLING
    END-POINT 148424.673          72273.966          103778.962  0.5  
    END-POINT 148424.673          72273.966          103677.362  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGS                 
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 148424.673          72273.966          103778.962  0.5
    END-POINT 148424.673          72273.966          103778.962  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FFI                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC A
    INSULATION-ON 
OLET
    CENTRE-POINT     148424.673  72273.960 103904.250 
    BRANCH1-POINT 148424.673          72273.965          103778.962  0.5  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL8X1/2
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FFD                 
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 148424.673  72273.960 103904.250  8
    END-POINT 148424.673  72273.960 103904.250  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FFE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
PIPE
    END-POINT 148424.463          73178.376          103904.287  8  BW
    END-POINT 148424.732          72023.960          103904.239  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          57.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FF2                 
    PIPING-SPEC A
    INSULATION-ON 
SUPPORT
    CO-ORDS 148424.551  72800.000 103904.271  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FF5                 
    TAG                         S03-A-6-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE RP02-6-8
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 148424.566  72734.062 103904.269 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 148424.463          73178.376          103904.287  8
    END-POINT 148424.463          73178.376          103904.287  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FF3                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 148424.732          72023.960          103904.239  8
    END-POINT 148424.732          72023.960          103904.239  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FF4                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 148424.732          72023.960          103904.239  8  
    END-POINT 148424.732          71871.560          103878.839  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           6.310
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CH6                 
    PIPING-SPEC A
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 148424.732          71871.560          103878.839  6
    END-POINT 148424.732          71871.560          103878.839  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIN                 
    THICKNESS/RATING CL150
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
FLANGE
    END-POINT 148424.732          71782.660          103878.839  6  
    END-POINT 148424.732          71871.560          103878.839  6  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          10.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIK                 
    PIPING-SPEC A
    INSULATION-ON 
GASKET
    END-POINT 148424.732          71782.660          103878.839  6
    END-POINT 148424.732          71779.480          103878.839  6
    FABRICATION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIL                 
    PIPING-SPEC A
    INSULATION-ON 
    GASKET-RATING CL150          
BOLT
    CO-ORDS 148424.732          71782.660          103878.839 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.000
    WEIGHT           2.936
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIM                 
INSTRUMENT-ANGLE
    END-POINT 148424.732          71557.230          103681.989  4  
    END-POINT 148424.732          71779.480          103878.839  6  
    CENTRE-POINT  148424.732          71557.230          103878.839 
    SKEY RAFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CU1                 
    TAG 12E$PSV$0153A                   
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 148424.732          71557.230          103681.989 
    PIPELINE-REFERENCE C210-4910-12E-S-0013-PRM-0004-01
ELBOW
    END-POINT 148424.463          73178.376          103904.287  8  
    END-POINT 148424.463          73483.176          104209.087  8  
    CENTRE-POINT  148424.463          73483.176          103904.287 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          20.380
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CH3                 
    PIPING-SPEC A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 148424.463          73483.176          104209.087  8
    END-POINT 148424.463          73483.176          104209.087  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CH4                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
PIPE
    END-POINT 148424.463          73483.176          104209.087  8  BW
    END-POINT 148424.463          73483.176          104504.287  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          57.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CH5                 
    PIPING-SPEC A
    INSULATION-ON 
PIPE
    END-POINT 148424.463          73483.176          104504.287  8  BW
    END-POINT 148424.463          73483.176          109554.287  8  PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          57.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHB                 
    PIPING-SPEC A
SUPPORT
    CO-ORDS 148424.463  73183.176 105634.808  8
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHD                 
    TAG                         DS01-3-8                        
TEE-SET-ON
    BRANCH1-POINT 148424.463          73373.638          105634.808  6
    CENTRE-POINT  148424.463  73483.176 105634.808 
    SKEY TESO
PIPE
    END-POINT 148424.463          73373.638          105634.808  6  BW
    END-POINT 148424.463  72583.176 105634.808  6  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 148424.463  72583.176 105634.808 
SUPPORT
    CO-ORDS 148424.463  72826.500 105634.808  8
    SKEY 53SP
    FABRICATION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FFV                 
    TAG                         UB01                            
SUPPORT
    CO-ORDS 148424.463  72800.000 105634.808  8
    SKEY AC01
    FABRICATION-ITEM
    ITEM-CODE SUPAB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FIB                 
    TAG                         LS02-A                          
MESSAGE
    CO-ORDS 148424.463  72826.500 105634.808 
    TEXT FIELD TO TIE AS AN ANCHOR
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS 148424.463  73483.176 106240.506 
    FLOW 1
    SKEY FLOW
MESSAGE
    CO-ORDS 148424.463  73483.176 107854.503 
    TEXT TRUNNION INSTALLED SOUTH OF PIPE
    UNDIMENSIONED
MESSAGE
    CO-ORDS 148424.463  73483.176 105634.192 
    TEXT TRUNNION INSTALLED SOUTH OF PIPE
    UNDIMENSIONED
MESSAGE
    CO-ORDS 148424.463  73483.176 106604.287 
    TEXT 12E-SP-100
    UNDIMENSIONED
SUPPORT
    CO-ORDS 148424.463  73183.176 107854.287  8
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIH                 
    TAG                         DS01-3-8                        
TEE-SET-ON
    BRANCH1-POINT 148424.463          73373.638          107854.287  6
    CENTRE-POINT  148424.463  73483.176 107854.287 
    SKEY TESO
PIPE
    END-POINT 148424.463          73373.638          107854.287  6  BW
    END-POINT 148424.463  72583.176 107854.287  6  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 148424.463  72583.176 107854.287 
SUPPORT
    CO-ORDS 148424.463  72826.500 107854.287  8
    SKEY 53SP
    FABRICATION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGP                 
    TAG                         UB01                            
SUPPORT
    CO-ORDS 148424.463  72800.000 107854.287  8
    SKEY AC01
    FABRICATION-ITEM
    ITEM-CODE SUPAB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FI9                 
    TAG                         LS02-A                          
MESSAGE
    CO-ORDS 148424.463  73483.176 109554.287 
    TEXT ATM
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS 148424.463          73483.176          109554.287 
MATERIALS
ITEM-CODE CAP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION CAP SW, CL3000, A105N
    RATING 3000LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL8X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING SCH STD
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-A-6-8
ITEM-CODE RP02-6-8
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-6-8
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE REDECC8X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE FLGWNK6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL150, A105N, SCH STD BORE
    RATING CL150
    RATING STD
ITEM-CODE GAS6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL150, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL150
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 101.6
    CATALOG -
    DESCRIPTION 3/4 X 4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL150
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE SUPEB-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION DUMMY SUPPORT DS01-3-8
ITEM-CODE SUPUB-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION STANDARD U-BOLT UB01
ITEM-CODE SUPAB-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION LINE STOP FOR BARE PIPE LS02-A
