ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0007-PRM-0008-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-S-0007-PRM-0008-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0051-8"
    ATTRIBUTE83   12E-S-0021-3"/0022-4"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0007-6"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 239963.916          70792.147          102884.540  6  BW
    END-POINT 234228.600          70792.147          102884.540  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F84                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 235000.000  70792.147 102884.540  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F88                 
    TAG                         S01-A-3-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 236645.207  70792.147 102884.540 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 237999.622  70792.147 102884.540  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F8E                 
    TAG                         S01-A-6-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 237999.622  70792.147 102884.540  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G0D                 
    TAG                         RP02-6-6                        
SUPPORT
    CO-ORDS 235000.000  70792.147 102884.540  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G0F                 
    TAG                         RP02-3-6                        
WELD
    END-POINT 239963.916          70792.147          102884.540  6
    END-POINT 239963.916          70792.147          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F85                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 234228.600          70792.147          102884.540  6
    END-POINT 234228.600          70792.147          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G19                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 240192.516          71020.747          102884.540  6  
    END-POINT 239963.916          70792.147          102884.540  6  
    CENTRE-POINT  240192.516          70792.147          102884.540 
    SKEY ELBW
    CONTINUATION 
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F81                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 240192.516          71020.747          102884.540 
    PIPELINE-REFERENCE C210-4910-12E-S-0007-PRM-0008-02
ELBOW
    END-POINT 234228.600          70792.147          102884.540  6  
    END-POINT 234000.000          70563.547          102884.540  6  
    CENTRE-POINT  234000.000          70792.147          102884.540 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G17                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 234000.000          70563.547          102884.540  6
    END-POINT 234000.000          70563.547          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1B                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 234000.000          70563.547          102884.540  6  BW
    END-POINT 234000.000          68620.747          102884.540  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1A                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 234000.000          68620.747          102884.540  6
    END-POINT 234000.000          68620.747          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1E                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 234000.000          68620.747          102884.540  6  
    END-POINT 233771.400          68392.147          102884.540  6  
    CENTRE-POINT  234000.000          68392.147          102884.540 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1C                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 233771.400          68392.147          102884.540  6
    END-POINT 233771.400          68392.147          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1M                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 230228.600          68392.147          102884.540  6  BW
    END-POINT 233771.400          68392.147          102884.540  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1K                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 232000.000  68392.147 102884.540  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1N                 
    TAG                         S01-A-3-6                       
WELD
    END-POINT 230228.600          68392.147          102884.540  6
    END-POINT 230228.600          68392.147          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1L                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 230000.000          68620.747          102884.540  6  
    END-POINT 230228.600          68392.147          102884.540  6  
    CENTRE-POINT  230000.000          68392.147          102884.540 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1H                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 230000.000          68620.747          102884.540  6
    END-POINT 230000.000          68620.747          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1J                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 230000.000          70563.547          102884.540  6  BW
    END-POINT 230000.000          68620.747          102884.540  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1F                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 230000.000          70563.547          102884.540  6
    END-POINT 230000.000          70563.547          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1G                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 229771.400          70792.147          102884.540  6  
    END-POINT 230000.000          70563.547          102884.540  6  
    CENTRE-POINT  230000.000          70792.147          102884.540 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G14                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 229771.400          70792.147          102884.540  6
    END-POINT 229771.400          70792.147          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G16                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 229771.400          70792.147          102884.540  6  BW
    END-POINT 227000.000          70792.147          102884.540  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G10                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 229000.000  70792.147 102884.540  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1P                 
    TAG                         S01-A-3-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 229000.000  70792.147 102884.540  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1T                 
    TAG                         RP02-3-6                        
WELD
    END-POINT 227000.000          70792.147          102884.540  6
    END-POINT 227000.000          70792.147          102884.540  6
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G12                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 216463.915          70792.147          102884.540  6  
    END-POINT 227000.000          70792.147          102884.540  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_E7F                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222000.000  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BO1                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 224999.632  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D7X                 
    TAG                         S01-A-3-6                       
FLOW-ARROW
    CO-ORDS 223856.635  70792.147 102884.540 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 218999.915  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FU9                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 219000.555  70792.147 102884.540  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FUG                 
    TAG                         RP02-3-6                        
END-CONNECTION-PIPELINE 
    CO-ORDS 216463.915          70792.147          102884.540 
    PIPELINE-REFERENCE C210-4910-12E-S-0007-PRM-0001-01
MATERIALS
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-6
ITEM-CODE G22
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G22
ITEM-CODE SUPTS-6_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-6
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE SUPPS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-6-6
ITEM-CODE SUPPS-6_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-6
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING SCH 80
