ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0072-PRM-0007-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0072-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0070-6"
    ATTRIBUTE83   12E-S-0073-4"
    ATTRIBUTE84   C210-4902-12E-0001-07
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0072-4"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  87385.719          71574.492          103509.485  0.5  
    END-POINT  87385.719          71574.492          103487.387  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FL1                 
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  87385.719          71574.492          103565.611  0.5  SW FEMALE 
    END-POINT  87385.719          71574.492          103509.485  0.5  
    CENTRE-POINT   87385.719          71574.492          103535.261 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FKX                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT  87385.719          71574.492          103565.611  0.5
    END-POINT  87385.719          71574.492          103565.611  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FKY                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  87385.719          71574.492          103667.211  0.5  
    END-POINT  87385.719          71574.492          103565.611  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FKM                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87385.719          71574.492          103667.211  0.5
    END-POINT  87385.719          71574.492          103667.211  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FKN                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT  87363.369          71574.492          103692.611  1  
    END-POINT  87408.069          71574.492          103692.611  1  
    CENTRE-POINT   87385.719          71574.492          103692.611 
    BRANCH1-POINT  87385.719          71574.492          103667.211  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FKI                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  87363.369          71574.492          103692.611  1
    END-POINT  87363.369          71574.492          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FKK                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87408.069          71574.492          103692.611  1
    END-POINT  87408.069          71574.492          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FKL                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  87408.069          71574.492          103692.611  1  PL
    END-POINT  87615.367          71574.492          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FK9                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87615.367          71574.492          103692.611  1
    END-POINT  87615.367          71574.492          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FKB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT  87637.719          71574.492          103714.963  1  
    END-POINT  87615.367          71574.492          103692.611  1  
    CENTRE-POINT   87637.719          71574.492          103692.611 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B7E                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  87637.719          71574.492          103714.963  1
    END-POINT  87637.719          71574.492          103714.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B7F                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  87637.719          71574.492          103714.963  1  PL
    END-POINT  87637.719          71574.492          103840.663  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B7G                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87637.719          71574.492          103840.663  1
    END-POINT  87637.719          71574.492          103840.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3I                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  87637.719          71574.492          103840.663  1  
    END-POINT  87637.719          71574.492          103925.663  1  
    CENTRE-POINT   87637.719          71574.492          103883.163 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3H                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT  87637.719          71574.492          103925.663  1
    END-POINT  87637.719          71574.492          103925.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3N                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  87637.719          71574.492          103925.663  1  PL
    END-POINT  87637.719          71574.492          104079.360  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3M                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87637.719          71574.492          104079.360  1
    END-POINT  87637.719          71574.492          104079.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3O                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      87637.719  71574.492 104157.150 
    BRANCH1-POINT  87637.719          71574.492          104079.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3F                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87637.719  71574.492 104157.150  4
    END-POINT  87637.719  71574.492 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3G                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88275.719          71574.492          104157.150  4  BW
    END-POINT  87487.719          71574.492          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EN4                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  88000.000  71574.492 104157.150  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EN5                 
    TAG                         RP02-3-4                        
SUPPORT
    CO-ORDS  88000.000  71574.492 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EN7                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT  88275.719          71574.492          104157.150  4
    END-POINT  88275.719          71574.492          104157.150  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EQ8                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87487.719          71574.492          104157.150  4
    END-POINT  87487.719          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B7U                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  88415.419          71574.492          104184.138  6  
    END-POINT  88275.719          71574.492          104157.150  4  
    SKEY REBW
    CONTINUATION 
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8C                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS  88415.419          71574.492          104184.138 
    PIPELINE-REFERENCE C210-4910-12E-S-0070-PRM-0007-02
FLANGE
    END-POINT  87379.769          71574.492          104157.150  4  
    END-POINT  87487.719          71574.492          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B84                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  87376.589          71574.492          104157.150  4
    END-POINT  87379.769          71574.492          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJC                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  87376.589          71574.492          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJD                 
INSTRUMENT
    END-POINT  87376.589          71574.492          104157.150  4  
    END-POINT  86982.589          71574.492          104157.150  4  
    CENTRE-POINT   87179.589          71574.492          104157.150 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJB                 
    TAG 12E$FV$7103                     
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  86979.409          71574.492          104157.150  4
    END-POINT  86982.589          71574.492          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJI                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  86982.589          71574.492          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJJ                 
FLANGE
    END-POINT  86979.409          71574.492          104157.150  4  
    END-POINT  86871.459          71574.492          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJH                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86871.459          71574.492          104157.150  4
    END-POINT  86871.459          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJW                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  86871.459          71574.492          104157.150  4  BW
    END-POINT  84699.500          71574.492          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EJU                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  85000.000  71574.492 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CLU                 
    TAG                         S01-A-3-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS  85000.000  71574.492 104157.150  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CLY                 
    TAG                         RP02-3-4                        
FLOW-ARROW
    CO-ORDS  85792.871  71574.492 104157.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  84699.500          71574.492          104157.150  4
    END-POINT  84699.500          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B6C                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86721.469  71574.492 104157.150  4
    END-POINT  86721.469  71574.492 104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F32                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      86721.469  71574.492 104157.150 
    BRANCH1-POINT  86721.469          71574.492          104079.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F31                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86721.469          71574.492          104079.360  1
    END-POINT  86721.469          71574.492          104079.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3V                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  86721.469          71574.492          103925.663  1  PL
    END-POINT  86721.469          71574.492          104079.360  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3T                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86721.469          71574.492          103925.663  1
    END-POINT  86721.469          71574.492          103925.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3U                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  86721.469          71574.492          103840.663  1  
    END-POINT  86721.469          71574.492          103925.663  1  
    CENTRE-POINT   86721.469          71574.492          103883.163 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3P                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT  86721.469          71574.492          103840.663  1
    END-POINT  86721.469          71574.492          103840.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F3Q                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  86721.469          71574.492          103714.963  1  PL
    END-POINT  86721.469          71574.492          103840.663  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B6S                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86721.469          71574.492          103714.963  1
    END-POINT  86721.469          71574.492          103714.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B6T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT  86743.821          71574.492          103692.611  1  
    END-POINT  86721.469          71574.492          103714.963  1  
    CENTRE-POINT   86721.469          71574.492          103692.611 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B6U                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  86743.821          71574.492          103692.611  1
    END-POINT  86743.821          71574.492          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F4G                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  86743.821          71574.492          103692.611  1  PL
    END-POINT  87054.469          71574.492          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F4F                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87054.469          71574.492          103692.611  1
    END-POINT  87054.469          71574.492          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F4S                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  87054.469          71574.492          103692.611  1  
    END-POINT  87139.469          71574.492          103692.611  1  
    CENTRE-POINT   87096.969          71574.492          103692.611 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F34                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT  87139.469          71574.492          103692.611  1
    END-POINT  87139.469          71574.492          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F4R                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  87363.369          71574.492          103692.611  1  PL
    END-POINT  87139.469          71574.492          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F4P                 
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT  84591.550          71574.492          104157.150  4  
    END-POINT  84699.500          71574.492          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B6B                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  84588.370          71574.492          104157.150  4
    END-POINT  84591.550          71574.492          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2B                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  84588.370          71574.492          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2C                 
INSTRUMENT
    END-POINT  84588.370          71574.492          104157.150  4  
    END-POINT  84263.370          71574.492          104157.150  4  
    CENTRE-POINT   84425.870          71574.492          104157.150 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F2A                 
    TAG 12E$FE$7103                     
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  84263.370          71574.492          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0072-PRM-0007-02
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE TEESTR1X1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A105N, CL3000
    RATING CL3000
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A105N, CL3000
    RATING 3000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE SUPPS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-4
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING CL800
