ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0004-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0017-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0016-2"
    ATTRIBUTE83   UTIL. STEAM DIST.
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0017-2"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 158448.263          72468.485          102830.163  2  BW
    END-POINT 149719.329          72468.485          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT2                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 153594.573  72468.485 102830.163 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 156000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT5                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 152000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT6                 
    TAG                         S01-A-6-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE LS11
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 158448.263          72468.485          102830.163  2
    END-POINT 158448.263          72468.485          102830.163  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_ISV                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 149719.329          72468.485          102830.163  2
    END-POINT 149719.329          72468.485          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSW                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 150000.100  72468.485 102830.163  2
    END-POINT 150000.100  72468.485 102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 169716.362          72468.485          102830.163  2  
    END-POINT 158448.263          72468.485          102830.163  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4S                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 168722.695  72468.485 102830.163 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 160000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4U                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 166000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4V                 
    TAG                         S01-A-3-2                       
END-CONNECTION-PIPELINE 
    CO-ORDS 169716.362          72468.485          102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0003-01
OLET
    CENTRE-POINT     150000.100  72468.485 102830.163 
    BRANCH1-POINT 150000.100          72468.485          102880.963  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CTA                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 150000.100          72468.485          102880.963  1
    END-POINT 150000.100          72468.485          102880.963  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CTB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 150000.102          72468.380          103056.952  1  
    END-POINT 150000.099          72468.493          102880.963  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CTC                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 150000.100  72468.446 102955.185 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 150000.102          72468.380          103056.952 
    PIPELINE-REFERENCE C210-4910-12E-S-0057-PRM-0004-01
TEE
    END-POINT 149719.329          72468.485          102830.163  2  
    END-POINT 149592.329          72468.485          102830.163  2  
    CENTRE-POINT  149655.829          72468.485          102830.163 
    BRANCH1-POINT 149655.829          72468.485          102893.663  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           1.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSV                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 149592.329          72468.485          102830.163  2
    END-POINT 149592.329          72468.485          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSX                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 149655.829          72468.485          102893.663  2
    END-POINT 149655.829          72468.485          102893.663  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSU                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 149655.829          72468.485          102893.663  2  
    END-POINT 149655.829          72468.485          103353.891  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CST                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 149655.829  72468.485 103101.001 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 149655.829          72468.485          103353.891 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0004-02
PIPE
    END-POINT 149592.329          72468.485          102830.163  2  BW
    END-POINT 145450.066          72468.485          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSY                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 147209.512  72468.485 102830.163 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 148000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT0                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 145450.066          72468.485          102830.163  2
    END-POINT 145450.066          72468.485          102830.163  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ED6                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 145450.066          72468.485          102830.163  2  
    END-POINT 130511.426          72468.485          102830.163  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ2                 
    PIPING-SPEC AH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 140401.820  72468.485 102830.163 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 132000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ4                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 138000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ6                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 143999.989  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BQ7                 
    TAG                         S01-A-3-2                       
END-CONNECTION-PIPELINE 
    CO-ORDS 130511.426          72468.485          102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0005-01
MATERIALS
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE SUPTS-2_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-2
ITEM-CODE LS11
    DESCRIPTION LINE STOP FOR SHOE LS11
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE TEESTR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH STD
    RATING STD
