ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0034-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   3120
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0049-4"
    ATTRIBUTE83   12E-PE-0031-8"
    ATTRIBUTE84   C210-4902-12E-0008-05
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0034-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 166345.397          63699.844          104294.450  0.5  
    END-POINT 166345.397          63674.444          104294.450  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AAW                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166345.397          63753.492          104294.450  0.5  SW FEMALE 
    END-POINT 166345.397          63699.844          104294.450  0.5  
    CENTRE-POINT  166345.397          63725.144          104294.450 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.910
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AAY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 166345.397          63753.492          104294.450  0.5
    END-POINT 166345.397          63753.492          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I54                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166345.397          63855.092          104294.450  0.5  
    END-POINT 166345.397          63753.492          104294.450  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AB1                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166345.397          63855.092          104294.450  0.5
    END-POINT 166345.397          63855.092          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I52                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166364.447          63874.142          104294.450  0.5  
    END-POINT 166326.347          63874.142          104294.450  0.5  
    CENTRE-POINT  166345.397          63874.142          104294.450 
    BRANCH1-POINT 166345.397          63855.092          104294.450  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AB3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166364.447          63874.142          104294.450  0.5
    END-POINT 166364.447          63874.142          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AB4                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166326.347          63874.142          104294.450  0.5
    END-POINT 166326.347          63874.142          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AB5                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166326.347          63874.142          104294.450  0.5  
    END-POINT 166224.747          63874.142          104294.450  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AB6                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166224.747          63874.142          104294.450  0.5
    END-POINT 166224.747          63874.142          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AB7                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166224.747          63874.142          104294.450  0.5  SW FEMALE 
    END-POINT 166168.099          63874.142          104294.450  0.5  
    CENTRE-POINT  166194.899          63874.142          104294.450 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AB8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 166168.099          63874.142          104294.450  0.5  
    END-POINT 166142.699          63874.142          104294.450  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABB                 
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166466.047          63874.142          104294.450  0.5  
    END-POINT 166364.447          63874.142          104294.450  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABC                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166466.047          63874.142          104294.450  0.5
    END-POINT 166466.047          63874.142          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABD                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166525.745          63874.142          104294.450  0.5  
    END-POINT 166466.047          63874.142          104294.450  0.5  
    CENTRE-POINT  166495.895          63874.142          104294.450 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 166525.745          63874.142          104294.450  0.5
    END-POINT 166525.745          63874.142          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I4Y                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  166678.145          63874.142          104294.450 
    BRANCH1-POINT 166525.745          63874.142          104294.450  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I4X                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166678.145          63874.142          104294.450  0.5
    END-POINT 166678.145          63874.142          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I50                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166772.000          63893.192          104294.450  3  
    END-POINT 166772.000          63807.342          104294.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F41                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS 166678.145          63874.142          104294.450  0.5
GASKET
    END-POINT 166772.000          63893.192          104294.450  3
    END-POINT 166772.000          63896.372          104294.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F42                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166772.000          63893.192          104294.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.500
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F43                 
WELD
    END-POINT 166772.000          63807.342          104294.450  3
    END-POINT 166772.000          63807.342          104294.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GIX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166772.000          61740.032          104294.450  3  BW
    END-POINT 166772.000          63807.342          104294.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GIV                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.000          61740.032          104294.450  3
    END-POINT 166772.000          61740.032          104294.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GIW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166772.000          61740.032          104294.450  3  
    END-POINT 166772.000          61625.732          104408.750  3  
    CENTRE-POINT  166772.000          61625.732          104294.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ADQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166772.000          61625.732          104408.750  3
    END-POINT 166772.000          61625.732          104408.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AS4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166772.000          61625.732          104408.750  3  BW
    END-POINT 166772.000          61625.732          104733.590  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AS3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.000          61625.732          104733.590  3
    END-POINT 166772.000          61625.732          104733.590  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I44                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166857.850          61625.732          104819.440  3  
    END-POINT 166686.150          61625.732          104819.440  3  
    CENTRE-POINT  166772.000          61625.732          104819.440 
    BRANCH1-POINT 166772.000          61625.732          104733.590  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3X3
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I41                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166857.850          61625.732          104819.440  3
    END-POINT 166857.850          61625.732          104819.440  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I43                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166686.150          61625.732          104819.440  3
    END-POINT 166686.150          61625.732          104819.440  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I46                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166597.250          61625.732          104819.440  3  
    END-POINT 166686.150          61625.732          104819.440  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I45                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166594.070          61625.732          104819.440  3
    END-POINT 166597.250          61625.732          104819.440  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I48                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166594.070          61625.732          104819.440 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I49                 
FLANGE-BLIND
    END-POINT 166594.070          61625.732          104819.440  3  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD3
    WEIGHT           9.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I47                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT 166555.970          61625.732          104819.440  3
    SKEY FLBL
MESSAGE
    CO-ORDS 166594.070  61625.732 104819.440 
    TEXT FUTURE$CONNECTION
    UNDIMENSIONED
PIPE
    END-POINT 166857.850          61625.732          104819.440  3  BW
    END-POINT 167399.500          61625.732          104819.440  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A9F                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 167099.900  61625.732 104819.440  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZJ                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 167399.500          61625.732          104819.440  3
    END-POINT 167399.500          61625.732          104819.440  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_8YP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167299.300  61625.732 104819.440  3
    END-POINT 167299.300  61625.732 104819.440  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FGK                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 169076.925          61625.732          104819.440  3  
    END-POINT 167399.500          61625.732          104819.440  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_8YN                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 168357.267  61625.732 104819.440 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 169076.925          61625.732          104819.440 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-SB-0008-01
OLET
    CENTRE-POINT     167299.300  61625.732 104819.440 
    BRANCH1-POINT 167299.300          61625.732          104890.880  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FGI                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167299.300          61625.732          104890.880  1
    END-POINT 167299.300          61625.732          104890.880  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FGL                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 167299.300          61625.732          104890.880  1  
    END-POINT 167299.300          61625.732          104992.480  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_B78                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167299.300          61625.732          104992.480  1
    END-POINT 167299.300          61625.732          104992.480  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_B7B                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 167299.300          61625.732          104992.480  1  SW FEMALE 
    END-POINT 167299.300          61625.732          105070.730  1  
    CENTRE-POINT  167299.300          61625.732          105034.780 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_B7A                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 167299.300          61625.732          105070.730  1  
    END-POINT 167299.300          61625.732          105099.432  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_B7E                 
    PIPING-SPEC CHS
    INSULATION-ON 
INSTRUMENT
    END-POINT 166772.000          63899.547          104294.450  3  
    END-POINT 166772.000          63896.372          104294.450  3  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3Y                 
    TAG 12E$FE$0136                     
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166772.000          63899.547          104294.450  3
    END-POINT 166772.000          63902.727          104294.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F40                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 166772.000          63902.727          104294.450  3  
    END-POINT 166772.000          63988.577          104294.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F3V                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS 166678.145          63921.777          104294.450  0.5
WELD
    END-POINT 166772.000          63988.577          104294.450  3
    END-POINT 166772.000          63988.577          104294.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBH                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166678.145          63921.777          104294.450  0.5
    END-POINT 166678.145          63921.777          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I51                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  166678.145          63921.777          104294.450 
    BRANCH1-POINT 166601.945          63921.777          104294.450  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           2.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I4V                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166601.945          63921.777          104294.450  0.5
    END-POINT 166601.945          63921.777          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I4W                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166601.945          63921.777          104294.450  0.5  
    END-POINT 166542.247          63921.777          104294.450  0.5  
    CENTRE-POINT  166572.095          63921.777          104294.450 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AC0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 166542.247          63921.777          104294.450  0.5
    END-POINT 166542.247          63921.777          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABZ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166542.247          63921.777          104294.450  0.5  
    END-POINT 166440.647          63921.777          104294.450  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166440.647          63921.777          104294.450  0.5
    END-POINT 166440.647          63921.777          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABQ                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166440.647          63921.777          104294.450  0.5  
    END-POINT 166402.547          63921.777          104294.450  0.5  
    CENTRE-POINT  166421.597          63921.777          104294.450 
    BRANCH1-POINT 166421.597          63940.827          104294.450  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166402.547          63921.777          104294.450  0.5
    END-POINT 166402.547          63921.777          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABR                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166421.597          63940.827          104294.450  0.5
    END-POINT 166421.597          63940.827          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABO                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166421.597          63940.827          104294.450  0.5  
    END-POINT 166421.597          64042.427          104294.450  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABN                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166421.597          64042.427          104294.450  0.5
    END-POINT 166421.597          64042.427          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABM                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166421.597          64042.427          104294.450  0.5  SW FEMALE 
    END-POINT 166421.597          64096.075          104294.450  0.5  
    CENTRE-POINT  166421.597          64070.775          104294.450 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.910
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MISC-COMPONENT
    END-POINT 166421.597          64096.075          104294.450  0.5  
    END-POINT 166421.597          64121.475          104294.450  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABI                 
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166402.547          63921.777          104294.450  0.5  
    END-POINT 166300.947          63921.777          104294.450  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166300.947          63921.777          104294.450  0.5
    END-POINT 166300.947          63921.777          104294.450  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABT                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166300.947          63921.777          104294.450  0.5  SW FEMALE 
    END-POINT 166244.299          63921.777          104294.450  0.5  
    CENTRE-POINT  166271.099          63921.777          104294.450 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 166244.299          63921.777          104294.450  0.5  
    END-POINT 166218.899          63921.777          104294.450  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ABX                 
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166772.000          64369.577          104294.450  3  BW
    END-POINT 166772.000          63988.577          104294.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBD                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 166772.000  64177.782 104294.450 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 166772.000          64369.577          104294.450  3
    END-POINT 166772.000          64369.577          104294.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBE                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166772.000          64369.577          104294.450  3  
    END-POINT 166772.000          64483.877          104180.150  3  
    CENTRE-POINT  166772.000          64483.877          104294.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ADU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166772.000          64483.877          104180.150  3
    END-POINT 166772.000          64483.877          104180.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ARV                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166772.000          64483.877          104180.150  3  BW
    END-POINT 166772.000          64483.877          103144.463  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ADG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.000          64483.877          103144.463  3
    END-POINT 166772.000          64483.877          103144.463  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GYX                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166657.700          64483.877          103030.163  3  
    END-POINT 166772.000          64483.877          103144.463  3  
    CENTRE-POINT  166772.000          64483.877          103030.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ADD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166772.000  64483.877 103030.163  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ADE                 
    TAG                         BS01-3                          
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G31-C-1
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  3
    ERECTION-ITEM
    SPECIAL-STATUS 
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 166657.700          64483.877          103030.163  3
    END-POINT 166657.700          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FAM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166657.700          64483.877          103030.163  3  
    END-POINT 166486.000          64483.877          103030.163  3  
    CENTRE-POINT  166571.850          64483.877          103030.163 
    BRANCH1-POINT 166571.850          64398.027          103030.163  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3X3
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FAK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166486.000          64483.877          103030.163  3
    END-POINT 166486.000          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FAT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          64398.027          103030.163  3
    END-POINT 166571.850          64398.027          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK9                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          64309.127          103030.163  3  
    END-POINT 166571.850          64398.027          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJX                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          64309.127          103030.163  3
    END-POINT 166571.850          64305.947          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          64309.127          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJZ                 
VALVE
    END-POINT 166571.850          63950.347          103030.163  3  
    END-POINT 166571.850          64305.947          103030.163  3  
    CENTRE-POINT  166571.850          64128.147          103030.163 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 166571.850          63950.347          103030.163 
    PIPELINE-REFERENCE C210-4910-12E-CG-0015-PRM-0009-01
PIPE
    END-POINT 166486.000          64483.877          103030.163  3  BW
    END-POINT 166286.000          64483.877          103030.163  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FAS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166286.000          64483.877          103030.163  3
    END-POINT 166286.000          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIJ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166386.000  64483.877 103030.163  3
    END-POINT 166386.000  64483.877 103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FQU                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166386.000  64483.877 103030.163 
    BRANCH1-POINT 166386.000          64483.877          102958.723  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FQS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166386.000          64483.877          102958.723  1
    END-POINT 166386.000          64483.877          102958.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FQV                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166386.000          64483.877          102958.723  1  
    END-POINT 166386.000          64483.877          102857.123  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DW8                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166386.000          64483.877          102857.123  1
    END-POINT 166386.000          64483.877          102857.123  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I4O                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 166386.000          64483.877          102857.123  1  SW FEMALE 
    END-POINT 166386.000          64483.877          102753.999  1  
    END-POINT 166437.689          64483.877          102802.386  0.75  
    CENTRE-POINT  166386.000          64483.877          102802.386 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I4M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 166437.689          64483.877          102802.386  0.75  
    END-POINT 166463.089          64483.877          102802.386  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I4T                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 166386.000          64483.877          102753.999  1  
    END-POINT 166386.000          64483.877          102725.297  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I4R                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166197.100          64483.877          103030.163  3  
    END-POINT 166286.000          64483.877          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HII                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166193.920          64483.877          103030.163  3
    END-POINT 166197.100          64483.877          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166193.920          64483.877          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIM                 
VALVE
    END-POINT 166193.920          64483.877          103030.163  3  
    END-POINT 165838.320          64483.877          103030.163  3  
    CENTRE-POINT  166016.120          64483.877          103030.163 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 165835.140          64483.877          103030.163  3
    END-POINT 165838.320          64483.877          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 165835.140          64483.877          103030.163  3  
    END-POINT 165822.440          64483.877          103030.163  3  
    CENTRE-POINT 165828.790  64483.877 103030.163 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT 165819.260          64483.877          103030.163  3
    END-POINT 165822.440          64483.877          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJ8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 165819.260          64483.877          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.500
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJ9                 
FLANGE
    END-POINT 165819.260          64483.877          103030.163  3  
    END-POINT 165730.360          64483.877          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJ7                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165730.360          64483.877          103030.163  3
    END-POINT 165730.360          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJB                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 165730.360          64483.877          103030.163  3  BW
    END-POINT 165616.677          64483.877          103030.163  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJA                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165616.677          64483.877          103030.163  3
    END-POINT 165616.677          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJC                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 165527.777          64483.877          103030.163  3  
    END-POINT 165616.677          64483.877          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJ4                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 165527.777          64483.877          103030.163  3
    END-POINT 165524.597          64483.877          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HTG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 165527.777          64483.877          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HTH                 
INSTRUMENT
    END-POINT 165168.997          64483.877          103030.163  3  
    END-POINT 165524.597          64483.877          103030.163  3  
    CENTRE-POINT  165346.797          64483.877          103030.163 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DVP                 
    TAG 12E$XV$0136                     
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 165165.817          64483.877          103030.163  3
    END-POINT 165168.997          64483.877          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HTI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 165168.997          64483.877          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HTJ                 
FLANGE
    END-POINT 165165.817          64483.877          103030.163  3  
    END-POINT 165076.917          64483.877          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AD2                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165076.917          64483.877          103030.163  3
    END-POINT 165076.917          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AD1                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164963.235          64483.877          103030.163  3  BW
    END-POINT 165076.917          64483.877          103030.163  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AD0                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164963.235          64483.877          103030.163  3
    END-POINT 164963.235          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HID                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164874.335          64483.877          103030.163  3  
    END-POINT 164963.235          64483.877          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIA                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164874.335          64483.877          103030.163  3
    END-POINT 164871.155          64483.877          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164874.335          64483.877          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIC                 
VALVE
    END-POINT 164871.155          64483.877          103030.163  3  
    END-POINT 164515.555          64483.877          103030.163  3  
    CENTRE-POINT  164693.355          64483.877          103030.163 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HI7                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164515.555          64483.877          103030.163  3
    END-POINT 164512.375          64483.877          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HI8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164515.555          64483.877          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HI9                 
FLANGE
    END-POINT 164512.375          64483.877          103030.163  3  
    END-POINT 164423.475          64483.877          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HI5                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164423.475          64483.877          103030.163  3
    END-POINT 164423.475          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HI6                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164223.475          64483.877          103030.163  3  BW
    END-POINT 164423.475          64483.877          103030.163  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HI3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164223.475          64483.877          103030.163  3
    END-POINT 164223.475          64483.877          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HI4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164323.475  64483.877 103030.163  3
    END-POINT 164323.475  64483.877 103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HIF                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     164323.475  64483.877 103030.163 
    BRANCH1-POINT 164323.475          64483.877          102958.723  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZ3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164323.475          64483.877          102958.723  1
    END-POINT 164323.475          64483.877          102958.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZ5                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164323.475          64483.877          102958.723  1  
    END-POINT 164323.475          64483.877          102857.123  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AC9                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164323.475          64483.877          102857.123  1
    END-POINT 164323.475          64483.877          102857.123  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3T                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 164323.475          64483.877          102857.123  1  SW FEMALE 
    END-POINT 164323.475          64483.877          102753.999  1  
    END-POINT 164271.786          64483.877          102802.386  0.75  
    CENTRE-POINT  164323.475          64483.877          102802.386 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3R                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 164271.786          64483.877          102802.386  0.75  
    END-POINT 164246.386          64483.877          102802.386  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 164323.475          64483.877          102753.999  1  
    END-POINT 164323.475          64483.877          102725.297  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3W                 
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164109.175          64483.877          103144.463  3  
    END-POINT 164223.475          64483.877          103030.163  3  
    CENTRE-POINT  164109.175          64483.877          103030.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ACJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 164109.175  64483.877 103030.163  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ACK                 
    TAG                         BS01-3                          
WELD
    END-POINT 164109.175          64483.877          103144.463  3
    END-POINT 164109.175          64483.877          103144.463  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H7M                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164109.175          64483.877          103341.263  3  BW
    END-POINT 164109.175          64483.877          103144.463  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHL                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164109.175          64483.877          103341.263  3
    END-POINT 164109.175          64483.877          103341.263  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHO                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164109.175          64483.877          103430.163  3  
    END-POINT 164109.175          64483.877          103341.263  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHN                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164109.175          64483.877          103433.343  3
    END-POINT 164109.175          64483.877          103430.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164109.175          64483.877          103433.343 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHR                 
VALVE
    END-POINT 164109.175          64483.877          103433.343  3  
    END-POINT 164109.175          64483.877          103788.943  3  
    CENTRE-POINT  164109.175          64483.877          103611.143 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 45 EAST
GASKET
    END-POINT 164109.175          64483.877          103792.123  3
    END-POINT 164109.175          64483.877          103788.943  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164109.175          64483.877          103792.123 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHW                 
FLANGE
    END-POINT 164109.175          64483.877          103792.123  3  
    END-POINT 164109.175          64483.877          103881.023  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHU                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164109.175          64483.877          103881.023  3
    END-POINT 164109.175          64483.877          103881.023  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164109.175          64483.877          105230.150  3  BW
    END-POINT 164109.175          64483.877          103881.023  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HHJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 164109.175  64483.877 104721.184 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 164109.175          64483.877          105230.150  3
    END-POINT 164109.175          64483.877          105230.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HTF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164109.175          64598.177          105344.450  3  
    END-POINT 164109.175          64483.877          105230.150  3  
    CENTRE-POINT  164109.175          64483.877          105344.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ACF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164109.175          64598.177          105344.450  3
    END-POINT 164109.175          64598.177          105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H7A                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164109.175          64598.177          105344.450  3  BW
    END-POINT 164109.175          66673.177          105344.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GG4                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 164109.175  64800.877 105344.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GG8                 
    TAG                         S01-A-6-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 164109.175          66673.177          105344.450  3
    END-POINT 164109.175          66673.177          105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GG6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164109.175          67335.700          105344.450  3  
    END-POINT 164109.175          66673.177          105344.450  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KMS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 164109.175          67335.700          105344.450 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0003-01
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE VALVGLB1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION GLOBE VALVE SW x THD, A105N, CL800  , GL-825HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE TEESTR1/2X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE SW, A105N, CL6000, NACE
    RATING 6000LB
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE VALVGAT1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 139.7
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 X 5 1/2 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE TEESTR3X3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE N/A_1
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE FLGBLD3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING CL600
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE SUPEB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION ELBOW SUPPORT H=495mm BS01-3
ITEM-CODE G31-C-1
    DESCRIPTION GUIDE AND LINE STOP FOR BASE SUPPORT G31-C-1
ITEM-CODE VALV3WY1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVBAL3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
ITEM-CODE SUPTS-3_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
