ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-RP-0004-PRM-0004-01
PIPING-SPEC A
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-RP-0004-PRM-0004-01
    ATTRIBUTE70   V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   70
    ATTRIBUTE74   120
    ATTRIBUTE78   Tracing horizontal only
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PSV-0156
    ATTRIBUTE83   VENT/ATM
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   A
    ATTRIBUTE95   12E-RP-0004-3"-A
    ATTRIBUTE97   RP
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 149655.828          73173.693          104293.677  3  BW
    END-POINT 149655.828          73173.693          109554.539  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIE                 
    PIPING-SPEC A
    INSULATION-ON 
MESSAGE
    CO-ORDS 149655.828  73173.693 109554.539 
    TEXT ATM
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS 149655.828  73173.693 106127.011 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 149655.828  72973.693 105580.180  3
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGV                 
    TAG                         DS01-2-3                        
TEE-SET-ON
    BRANCH1-POINT 149655.828          73129.243          105580.180  2
    CENTRE-POINT  149655.828  73173.693 105580.180 
    SKEY TESO
PIPE
    END-POINT 149655.828          73129.243          105580.180  2  BW
    END-POINT 149655.828  72573.693 105580.180  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 149655.828  72573.693 105580.180 
SUPPORT
    CO-ORDS 149655.828  72800.000 105580.180  3
    SKEY AC01
    FABRICATION-ITEM
    ITEM-CODE SUPAB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGX                 
    TAG                         LS01-A                          
SUPPORT
    CO-ORDS 149655.828  73007.026 107789.714  3
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGZ                 
    TAG                         DS01-2-3                        
TEE-SET-ON
    BRANCH1-POINT 149655.828          73129.243          107789.714  2
    CENTRE-POINT  149655.828  73173.693 107789.714 
    SKEY TESO
PIPE
    END-POINT 149655.828          73129.243          107789.714  2  BW
    END-POINT 149655.828  72673.693 107789.714  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 149655.828  72673.693 107789.714 
SUPPORT
    CO-ORDS 149655.828  72800.000 107789.714  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPGB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FH1                 
    TAG                         G01                             
MESSAGE
    CO-ORDS 149655.828  73173.693 107789.714 
    TEXT TRUNNION INSTALLED SOUTH OF PIPE
    UNDIMENSIONED
MESSAGE
    CO-ORDS 149655.828  73173.693 105580.180 
    TEXT TRUNNION INSTALLED SOUTH OF PIPE
    UNDIMENSIONED
WELD
    END-POINT 149655.828          73173.693          104293.677  3
    END-POINT 149655.828          73173.693          104293.677  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIL                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS 149655.828          73173.693          109554.539 
ELBOW
    END-POINT 149655.828          73059.393          104179.377  3  
    END-POINT 149655.828          73173.693          104293.677  3  
    CENTRE-POINT  149655.828          73173.693          104179.377 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIM                 
    PIPING-SPEC A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 149655.828          73059.393          104179.377  3
    END-POINT 149655.828          73059.393          104179.377  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIN                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
PIPE
    END-POINT 149655.828          71908.308          104179.377  3  BW
    END-POINT 149655.828          73059.393          104179.377  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DS8                 
    PIPING-SPEC A
    INSULATION-ON 
SUPPORT
    CO-ORDS 149655.828  72799.393 104179.377  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIQ                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 149655.828          71908.308          104179.377  3
    END-POINT 149655.828          71908.308          104179.377  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ER4                 
    THICKNESS/RATING CL150
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 149655.828  72409.393 104179.377  3
    END-POINT 149655.828  72409.393 104179.377  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
OLET
    CENTRE-POINT     149655.828  72409.393 104179.377 
    BRANCH1-POINT 149655.828          72409.393          104119.179  0.5  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1/2
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIT                 
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 149655.828          72409.393          104119.179  0.5
    END-POINT 149655.828          72409.393          104119.179  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC A
    INSULATION-ON 
COUPLING
    END-POINT 149655.828          72409.393          104119.179  0.5  
    END-POINT 149655.828          72409.393          104017.579  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIV                 
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 149655.828          72409.393          104017.579  0.5
    END-POINT 149655.828          72409.393          104017.579  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC A
    INSULATION-ON 
CAP
    END-POINT 149655.828          72409.393          104017.579  0.5  
    END-POINT 149655.828          72409.393          104011.229  0.5
    SKEY KASW
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CIX                 
    PIPING-SPEC A
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS 149655.828          72409.393          104011.229 
FLANGE
    END-POINT 149655.828          71838.458          104179.377  3  
    END-POINT 149655.828          71908.308          104179.377  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           5.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ER1                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 149655.828          71838.458          104179.377  3
    END-POINT 149655.828          71835.278          104179.377  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ER2                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL150          
BOLT
    CO-ORDS 149655.828          71838.458          104179.377 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           1.568
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ER3                 
INSTRUMENT-ANGLE
    END-POINT 149655.828          71714.278          104055.377  1.5  
    END-POINT 149655.828          71835.278          104179.377  3  
    CENTRE-POINT  149655.828          71714.278          104179.377 
    SKEY RAFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQD                 
    TAG 12E$PSV$0156                    
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 149655.828          71714.278          104055.377 
    PIPELINE-REFERENCE C210-4910-12E-S-0018-PRM-0004-01
MATERIALS
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE SUPEB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION DUMMY SUPPORT DS01-2-3
ITEM-CODE SUPAB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION LINE STOP FOR BARE PIPE LS01-A
ITEM-CODE SUPGB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION GUIDE FOR BARE PIPE G01
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE SOL3X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE CAP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION CAP SW, CL3000, A105N
    RATING 3000LB
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL150, A105N, SCH STD BORE
    RATING CL150
    RATING STD
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL150, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL150
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 88.9
    CATALOG -
    DESCRIPTION 5/8 X 3 1/2 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL150
