ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0044-PRM-0005-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0044-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0042-4"
    ATTRIBUTE83   12E-PE-0017-4"
    ATTRIBUTE84   C210-4902-12E-0001-05
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0044-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE
    END-POINT 134486.868          72034.391          104800.777  3  
    END-POINT 134575.768          72034.391          104800.777  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ER3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 134486.868          72034.391          104800.777  3
    END-POINT 134483.688          72034.391          104800.777  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ER4                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 134486.868          72034.391          104800.777 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ER5                 
WELD
    END-POINT 134575.768          72034.391          104800.777  3
    END-POINT 134575.768          72034.391          104800.777  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ER6                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
GAP
    END-POINT 134576.136          72034.391          104800.777  3  
    END-POINT 134575.768          72034.391          104800.777  3  
    PIPING-SPEC CH
VALVE
    END-POINT 134483.688          72034.391          104800.777  3  
    END-POINT 134128.088          72034.391          104800.777  3  
    CENTRE-POINT  134305.888          72034.391          104800.777 
    SKEY CKFL
    CONTINUATION 
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EQV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 134128.088          72034.391          104800.777 
    PIPELINE-REFERENCE C210-4910-12E-PE-0017-PRM-0005-01
PIPE
    END-POINT 134576.136          72034.391          104800.777  3  BW
    END-POINT 135629.713          72034.391          104800.777  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DTL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 134972.713  72034.391 104800.777 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 135629.727          72034.391          104800.777  3
    END-POINT 135629.727          72034.391          104800.777  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EFE                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
GAP
    END-POINT 135629.713          72034.391          104800.777  3  
    END-POINT 135629.727          72034.391          104800.777  3  
    PIPING-SPEC CH
ELBOW
    END-POINT 135716.448          71998.470          104800.777  3  
    END-POINT 135629.727          72034.391          104800.777  3  
    CENTRE-POINT  135680.527          72034.391          104800.777 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           1.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EF3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT 135716.448          71998.470          104800.777  3
    END-POINT 135716.448          71998.470          104800.777  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ES4                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 136047.838          71667.905          104800.777  3  BW
    END-POINT 135716.448          71998.470          104800.777  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ES2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136047.838          71667.905          104800.777  3
    END-POINT 136047.838          71667.905          104800.777  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ES3                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 136128.661          71587.083          104686.477  3  
    END-POINT 136047.838          71667.905          104800.777  3  
    CENTRE-POINT  136128.661          71587.083          104800.777 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EF1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 136128.661          71587.083          104686.477  3
    END-POINT 136128.661          71587.083          104686.477  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EF9                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 136128.661          71587.083          104686.477  3  BW
    END-POINT 136128.661          71587.083          104452.560  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EF8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136128.661          71587.083          104452.560  3
    END-POINT 136128.661          71587.083          104452.560  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EFA                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 136128.661          71587.083          104363.660  3  
    END-POINT 136128.661          71587.083          104452.560  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EEY                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 136128.661          71587.083          104363.660  3
    END-POINT 136128.661          71587.083          104360.480  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EEZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 136128.661          71587.083          104363.660 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           3.354
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EF0                 
MISC-COMPONENT
    END-POINT 136128.661          71587.083          104347.780  3  
    END-POINT 136128.661          71587.083          104360.480  3  
    CENTRE-POINT 136128.661  71587.083 104354.130 
    SKEY SB
    CONTINUATION 
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EEV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION EAST
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS 136128.661          71587.083          104347.780 
    PIPELINE-REFERENCE C210-4910-12E-S-0042-PRM-0005-01
MATERIALS
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE 45LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 40
    RATING SCH 40
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING SCH 40
ITEM-CODE N/A_1
    BOLT_DIA 19.05
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION STUD BOLT  0
    RATING CL600
