ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0016-PRM-0004-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0016-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0002-10"
    ATTRIBUTE83   12E-0017-2"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0016-2"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 148030.974          70937.230          103053.653  1  
    END-POINT 148030.974          70937.230          103023.491  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQ6                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 148030.974  70937.230 103036.191 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
VALVE
    END-POINT 148030.974          70937.230          103112.491  1  SW FEMALE 
    END-POINT 148030.974          70937.230          103053.653  1  
    CENTRE-POINT  148030.974          70937.230          103080.691 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQ8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 148030.974          70937.230          103112.491  1
    END-POINT 148030.974          70937.230          103112.491  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQA                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 148030.974          70937.230          103214.091  1  
    END-POINT 148030.974          70937.230          103112.491  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 148030.974          70937.230          103214.091  1
    END-POINT 148030.974          70937.230          103214.091  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQC                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 148030.974          70937.230          103277.691  1  
    END-POINT 148030.974          70937.230          103214.091  1  
    CENTRE-POINT  148030.974          70937.230          103245.891 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 148030.974          70937.230          103277.691  1
    END-POINT 148030.974          70937.230          103277.691  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQF                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 148030.974          70937.230          103379.291  1  
    END-POINT 148030.974          70937.230          103277.691  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 148030.974          70937.230          103379.291  1
    END-POINT 148030.974          70937.230          103379.291  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     148030.974  70937.230 103430.091 
    BRANCH1-POINT 148030.974          70937.230          103379.291  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 148030.974  70937.230 103430.091  2
    END-POINT 148030.974  70937.230 103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 148169.474          70937.230          103430.091  2  BW
    END-POINT 147892.474          70937.230          103430.091  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 148169.474          70937.230          103430.091  2
    END-POINT 148169.474          70937.230          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQM                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 147892.474          70937.230          103430.091  2
    END-POINT 147892.474          70937.230          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQN                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 147892.474          70937.230          103430.091  2  
    END-POINT 147600.374          70937.230          103430.091  2  
    CENTRE-POINT  147746.424          70937.230          103430.091 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 147600.374          70937.230          103430.091  2
    END-POINT 147600.374          70937.230          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQQ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 147251.574          70937.230          103430.091  2  BW
    END-POINT 147600.374          70937.230          103430.091  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQR                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 147434.368  70937.230 103430.091 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 147251.574          70937.230          103430.091  2
    END-POINT 147251.574          70937.230          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQS                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 147251.574          70937.230          103430.091  2  
    END-POINT 147175.374          71013.430          103430.091  2  
    CENTRE-POINT  147175.374          70937.230          103430.091 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 147175.374          71013.430          103430.091  2
    END-POINT 147175.374          71013.430          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQU                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 147175.374          71013.430          103430.091  2  BW
    END-POINT 147175.374          71481.030          103430.091  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 147175.374          71481.030          103430.091  2
    END-POINT 147175.374          71481.030          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQW                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 147175.374          71481.030          103430.091  2  
    END-POINT 147175.374          71557.230          103353.891  2  
    CENTRE-POINT  147175.374          71557.230          103430.091 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CQX                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 147175.374          71557.230          103353.891  2
    END-POINT 147175.374          71557.230          103353.891  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DHR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 147175.374          71557.230          103353.891  2  BW
    END-POINT 147175.374          71557.230          103111.175  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DHQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 147175.374          71557.230          103111.175  2
    END-POINT 147175.374          71557.230          103111.175  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DHS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     147175.374  71557.230 102936.550 
    BRANCH1-POINT 147175.374          71557.230          103111.175  2  
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DHO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 147175.374  71557.230 102936.550 
    PIPELINE-REFERENCE C210-4910-12E-S-0002-PRM-0004-01
VALVE
    END-POINT 148461.574          70937.230          103430.091  2  
    END-POINT 148169.474          70937.230          103430.091  2  
    CENTRE-POINT  148315.524          70937.230          103430.091 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CR1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 148461.574          70937.230          103430.091  2
    END-POINT 148461.574          70937.230          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNT                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 148461.574          70937.230          103430.091  2  BW
    END-POINT 148991.921          70937.230          103430.090  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 148661.574  70937.230 103430.091  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNV                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 148991.921          70937.230          103430.090  2
    END-POINT 148991.921          70937.230          103430.090  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNU                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 148991.921          70937.230          103430.090  2  BW
    END-POINT 149157.021          70937.230          103416.630  1  
    SKEY ESSW
    FABRICATION-ITEM
    ITEM-CODE SWGECC2X1
    WEIGHT           2.730
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 149157.021          70937.230          103416.630  1
    END-POINT 149157.021          70937.230          103416.630  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNQ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 149177.595          70937.230          103416.630  1  
    END-POINT 149157.021          70937.230          103416.630  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FN8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 149180.775          70937.230          103416.630  1
    END-POINT 149177.595          70937.230          103416.630  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 149177.595          70937.230          103416.630 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.660
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNC                 
INSTRUMENT
    END-POINT 149180.775          70937.230          103416.630  1  
    END-POINT 149390.775          70937.230          103416.630  1  
    CENTRE-POINT  149285.775          70937.230          103416.630 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNA                 
    TAG 12E$PV$0155                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 149393.955          70937.230          103416.630  1
    END-POINT 149390.775          70937.230          103416.630  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 149390.775          70937.230          103416.630 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.660
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNG                 
FLANGE
    END-POINT 149393.955          70937.230          103416.630  1  
    END-POINT 149414.529          70937.230          103416.630  1  
    SKEY FLSW
    CONTINUATION 
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 149414.529          70937.230          103416.630 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0004-02
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
    RATING 3000LB
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION GLOBE VALVE SW x THD, A105N, CL800  , GL-805STW
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING 800LB
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE VALVGAT2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
ITEM-CODE SWGECC2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE ECC BLE x PSE, A234-WPB, SCH 80
    RATING SCH 80
ITEM-CODE N/A
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RF, CL600, A105N, SCH 80 BORE
    RATING CL600
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 15.875
    BOLT_LEN 88.9
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 3 1/2 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
