ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0022-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0022-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-EA-0104A
    ATTRIBUTE83   12E-CG-0031-4"
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0022-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 166772.126          58578.226          105618.162  1  
    END-POINT 166772.126          58578.226          105589.460  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEW                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166772.126          58578.226          105696.412  1  SW FEMALE 
    END-POINT 166772.126          58578.226          105618.162  1  
    CENTRE-POINT  166772.126          58578.226          105654.112 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HES                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 166772.126          58578.226          105696.412  1
    END-POINT 166772.126          58578.226          105696.412  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HET                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166772.126          58578.226          105798.012  1  
    END-POINT 166772.126          58578.226          105696.412  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.126          58578.226          105798.012  1
    END-POINT 166772.126          58578.226          105798.012  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HER                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166772.126  58578.226 105869.452 
    BRANCH1-POINT 166772.126          58578.226          105798.012  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEN                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.126  58578.226 105869.452  3
    END-POINT 166772.126  58578.226 105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEP                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166772.126          58478.226          105869.452  3  BW
    END-POINT 166772.126          58678.226          105869.452  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.126          58478.226          105869.452  3
    END-POINT 166772.126          58478.226          105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEK                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.126          58678.226          105869.452  3
    END-POINT 166772.126          58678.226          105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEL                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166772.126          58767.126          105869.452  3  
    END-POINT 166772.126          58678.226          105869.452  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEE                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166772.126          58770.306          105869.452  3
    END-POINT 166772.126          58767.126          105869.452  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166772.126          58770.306          105869.452 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEH                 
VALVE
    END-POINT 166772.126          58770.306          105869.452  3  
    END-POINT 166772.126          59125.906          105869.452  3  
    CENTRE-POINT  166772.126          58948.106          105869.452 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 45 UP
GASKET
    END-POINT 166772.126          59129.086          105869.452  3
    END-POINT 166772.126          59125.906          105869.452  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166772.126          59125.906          105869.452 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HED                 
FLANGE
    END-POINT 166772.126          59129.086          105869.452  3  
    END-POINT 166772.126          59217.986          105869.452  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEB                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.126          59217.986          105869.452  3
    END-POINT 166772.126          59217.986          105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEM                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 166657.826          59332.286          105869.452  3  
    END-POINT 166772.126          59217.986          105869.452  3  
    CENTRE-POINT  166772.126          59332.286          105869.452 
    BRANCH1-POINT 166772.126  59332.286 105869.452  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G0U                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166972.126  59332.286 105869.452  3
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G35                 
    TAG                         DS05-B-2-3                      
PIPE
    END-POINT 166772.126          59332.286          105869.452  2  BW
    END-POINT 167372.126  59332.286 105869.452  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 167372.126  59332.286 105869.452 
SUPPORT
    CO-ORDS 167099.500  59332.286 105869.452  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G3H                 
    TAG                         S01-A-3-2                       
MESSAGE
    CO-ORDS 167099.500  59332.286 105869.452 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 166657.826          59332.286          105869.452  3
    END-POINT 166657.826          59332.286          105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HLT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166161.026          59332.286          105869.452  3  BW
    END-POINT 166657.826          59332.286          105869.452  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HLR                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166161.026          59332.286          105869.452  3
    END-POINT 166161.026          59332.286          105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HLS                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166557.826  59332.286 105869.452  3
    END-POINT 166557.826  59332.286 105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HLV                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166557.826  59332.286 105869.452 
    BRANCH1-POINT 166557.826          59332.286          105944.062  1.5  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1+1/2
    WEIGHT           0.910
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HF3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166557.826          59332.286          105944.062  1.5
    END-POINT 166557.826          59332.286          105944.062  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HF4                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166557.826          59332.286          105944.062  1.5  
    END-POINT 166557.826          59332.286          106045.662  1.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1+1/2
    WEIGHT           0.729
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166557.826          59332.286          106045.662  1.5
    END-POINT 166557.826          59332.286          106045.662  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HF0                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166557.826          59332.286          106045.662  1.5  SW FEMALE 
    END-POINT 166557.826          59332.286          106139.388  1.5  
    CENTRE-POINT  166557.826          59332.286          106096.462 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT           7.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HEZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
MESSAGE-SQUARE
    CO-ORDS 166557.826  59332.286 106159.962 
    TEXT SP-092
    UNDIMENSIONED
    ADDITIONAL-ITEM 
    SIZE 1+1/2
    ITEM-CODE EXTRA_0
    ITEM-GROUP MISC 
    FABRICATION-ITEM 
    QUANTITY 1
MISC-COMPONENT
    END-POINT 166557.826          59332.286          106139.388  1.5  
    END-POINT 166557.826          59332.286          106175.710  1.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I80                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166072.126          59332.286          105869.452  3  
    END-POINT 166161.026          59332.286          105869.452  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HG7                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166068.946          59332.286          105869.452  3
    END-POINT 166072.126          59332.286          105869.452  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166068.946          59332.286          105869.452 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGB                 
VALVE
    END-POINT 165713.346          59332.286          105869.452  3  
    END-POINT 166068.946          59332.286          105869.452  3  
    CENTRE-POINT  165891.146          59332.286          105869.452 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HG9                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 165710.166          59332.286          105869.452  3
    END-POINT 165713.346          59332.286          105869.452  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 165710.166          59332.286          105869.452 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGE                 
FLANGE
    END-POINT 165710.166          59332.286          105869.452  3  
    END-POINT 165621.266          59332.286          105869.452  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGC                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165621.266          59332.286          105869.452  3
    END-POINT 165621.266          59332.286          105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGF                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 161799.300          59332.286          105869.452  3  BW
    END-POINT 165621.266          59332.286          105869.452  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HFZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 163854.575  59332.286 105869.452 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 162100.000  59332.286 105869.452  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HSW                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE TSP2-1
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 162100.000  59332.286 105869.452 
    TEXT PS
    UNDIMENSIONED
MESSAGE
    CO-ORDS 162071.891  59332.286 105869.452 
    TEXT TRIM SHOE TO SUIT
    UNDIMENSIONED
WELD
    END-POINT 161799.300          59332.286          105869.452  3
    END-POINT 161799.300          59332.286          105869.452  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_9L9                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 159748.600          59332.286          105869.452  3  
    END-POINT 161799.300          59332.286          105869.452  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_74F                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 160578.050  59332.286 105869.452 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 159748.600          59332.286          105869.452 
    PIPELINE-REFERENCE C210-4910-12E-CG-0022-SB-0008-01
FLANGE
    END-POINT 166772.126          58389.326          105869.452  3  
    END-POINT 166772.126          58478.226          105869.452  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HE6                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166772.126          58389.326          105869.452  3
    END-POINT 166772.126          58386.146          105869.452  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HE7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166772.126          58389.326          105869.452 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HE8                 
VALVE
    END-POINT 166772.126          58030.546          105869.452  3  
    END-POINT 166772.126          58386.146          105869.452  3  
    CENTRE-POINT  166772.126          58208.346          105869.452 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BBJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 45 UP
GASKET
    END-POINT 166772.126          58030.546          105869.452  3
    END-POINT 166772.126          58027.366          105869.452  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BBK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166772.126          58030.546          105869.452 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BBL                 
FLANGE
    END-POINT 166772.126          58027.366          105869.452  3  
    END-POINT 166772.126          57938.466          105869.452  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BAO                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.126          57938.466          105869.452  3
    END-POINT 166772.126          57938.466          105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G4L                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166772.126          57938.466          105869.452  3  BW
    END-POINT 166772.126          57588.466          105869.452  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G4K                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 166772.126  57706.725 105869.452  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G4N                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE TSP2-1
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 166772.126  57763.466 105869.452 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 166772.126          57588.466          105869.452  3
    END-POINT 166772.126          57588.466          105869.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G4M                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 166772.126          57486.866          105882.152  4  
    END-POINT 166772.126          57588.466          105869.452  3  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           2.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 166772.126          57486.866          105882.152  4
    END-POINT 166772.126          57486.866          105882.152  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CEE                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166772.126          57486.866          105882.152  4  
    END-POINT 166772.126          57277.570          105882.152  4  
    CENTRE-POINT  166772.126          57382.218          105882.152 
    BRANCH1-POINT 166876.773          57382.218          105881.629  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AEC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 166772.126          57277.570          105882.152 
    PIPELINE-REFERENCE C210-4910-12E-CG-0031-PRM-0009-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPEB- 3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  600 mm DUMMY SUPPORT DS05-B-2-3
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE SOL3X1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE EXTRA_0
    DESCRIPTION SP-092                                                          
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
ITEM-CODE SUPTS-3_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE TSP2-1
    DESCRIPTION SLIDE PLATE ASSEMBLY TSP2-1
ITEM-CODE REDECC4X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80, NACE
    RATING 80
