ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0059-PRM-0009-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-S-0059-PRM-0009-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE81   2940
    ATTRIBUTE82   12E-S-0062-2"
    ATTRIBUTE83   12E-US-0009
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE90   170
    ATTRIBUTE91   700
    ATTRIBUTE92   200
    ATTRIBUTE93   1394
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0059-1"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
COUPLING
    END-POINT 167368.563          64200.877          103088.900  1  
    END-POINT 167368.563          64200.877          102987.300  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9U3                 
    PIPING-SPEC AH
    INSULATION-ON 
MESSAGE
    CO-ORDS 167368.563  64200.877 103076.200 
    TEXT TO 12E-US-009
    UNDIMENSIONED
MESSAGE-SQUARE
    CO-ORDS 167368.563  64200.877 103000.000 
    TEXT SP-095
    UNDIMENSIONED
    ADDITIONAL-ITEM 
    SIZE 1
    ITEM-CODE EXTRA_0
    ITEM-GROUP MISC 
    FABRICATION-ITEM 
    QUANTITY 1
WELD
    END-POINT 167368.563          64200.877          103088.900  1
    END-POINT 167368.563          64200.877          103088.900  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9U2                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS 167368.563          64200.877          102987.300 
VALVE
    END-POINT 167368.563          64200.877          103152.500  1  
    END-POINT 167368.563          64200.877          103088.900  1  
    CENTRE-POINT  167368.563          64200.877          103120.700 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9U0                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 167368.563          64200.877          103152.500  1
    END-POINT 167368.563          64200.877          103152.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H47                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 167368.563          64200.877          103152.500  1  PL
    END-POINT 167368.563          64200.877          103354.100  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H46                 
    PIPING-SPEC AH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 167368.563  64200.877 103268.674 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 167368.563          64200.877          103354.100  1
    END-POINT 167368.563          64200.877          103354.100  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H48                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
VALVE
    END-POINT 167368.563          64200.877          103417.700  1  
    END-POINT 167368.563          64200.877          103354.100  1  
    CENTRE-POINT  167368.563          64200.877          103385.900 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TV                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 167368.563          64200.877          103417.700  1
    END-POINT 167368.563          64200.877          103417.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TU                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
COUPLING
    END-POINT 167368.563          64200.877          103519.300  1  
    END-POINT 167368.563          64200.877          103417.700  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TS                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 167368.563          64200.877          103519.300  1
    END-POINT 167368.563          64200.877          103519.300  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
TEE
    END-POINT 167368.563          64200.877          103564.004  1  
    END-POINT 167368.563          64200.877          103519.300  1  
    CENTRE-POINT  167368.563          64200.877          103541.652 
    BRANCH1-POINT 167390.915          64200.877          103541.652  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TJ                 
    PIPING-SPEC AH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 167368.563          64200.877          103564.004  1
    END-POINT 167368.563          64200.877          103564.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TI                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 167390.915          64200.877          103541.652  0.75
    END-POINT 167390.915          64200.877          103541.652  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H4D                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
COUPLING
    END-POINT 167390.915          64200.877          103541.652  0.75  
    END-POINT 167492.515          64200.877          103541.652  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TM                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 167492.515          64200.877          103541.652  0.75
    END-POINT 167492.515          64200.877          103541.652  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TN                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
VALVE
    END-POINT 167492.515          64200.877          103541.652  0.75  SW FEMALE 
    END-POINT 167547.067          64200.877          103541.652  0.75  
    CENTRE-POINT  167521.315          64200.877          103541.652 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TO                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MISC-COMPONENT
    END-POINT 167547.067          64200.877          103541.652  0.75  
    END-POINT 167572.467          64200.877          103541.652  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DUW                 
    PIPING-SPEC AH
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS 167572.467          64200.877          103541.652 
COUPLING
    END-POINT 167368.563          64200.877          103665.604  1  
    END-POINT 167368.563          64200.877          103564.004  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TH                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 167368.563          64200.877          103665.604  1
    END-POINT 167368.563          64200.877          103665.604  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
UNION
    END-POINT 167368.563          64200.877          103702.117  1  
    END-POINT 167368.563          64200.877          103665.604  1  
    SKEY UNSW
    FABRICATION-ITEM
    ITEM-CODE UNN1
    WEIGHT           0.746
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TF                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 167368.563          64200.877          103702.117  1
    END-POINT 167368.563          64200.877          103702.117  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT 167368.563          64200.877          103867.217  2  
    END-POINT 167368.563          64200.877          103702.117  1  
    SKEY CSSW
    CONTINUATION 
    WEIGHT           0.910
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TD                 
    PIPING-SPEC AH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 167368.563          64200.877          103867.217 
    PIPELINE-REFERENCE C210-4910-12E-S-0062-PRM-0009-01
MATERIALS
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE EXTRA_0
    DESCRIPTION QUICK COUPLING SP-095                                           
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING 800LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING 800LB
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A105N, CL3000
    RATING 3000LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING 800LB
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE UNN1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGED
    DESCRIPTION UNION SW, CL3000, A105N
    RATING 3000LB
