ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0010-PRM-0003-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-S-0010-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12ES-0006-8"
    ATTRIBUTE83   12E-S-0036-3"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0010-6"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 162537.848          71910.097          102396.940  1  
    END-POINT 162537.850          71910.097          102366.778  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 162537.849  71910.097 102379.478 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
VALVE
    END-POINT 162537.839          71910.097          102512.778  1  SW FEMALE 
    END-POINT 162537.848          71910.097          102396.940  1  
    CENTRE-POINT  162537.842          71910.097          102476.812 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 162537.839          71910.097          102512.778  1
    END-POINT 162537.839          71910.097          102512.778  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBG                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 162537.831          71910.097          102614.378  1  
    END-POINT 162537.839          71910.097          102512.778  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162537.831          71910.097          102614.378  1
    END-POINT 162537.831          71910.097          102614.378  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBE                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 162537.826          71910.097          102677.978  1  
    END-POINT 162537.831          71910.097          102614.378  1  
    CENTRE-POINT  162537.828          71910.097          102646.178 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 162537.826          71910.097          102677.978  1
    END-POINT 162537.826          71910.097          102677.978  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 162537.818          71910.097          102779.578  1  
    END-POINT 162537.826          71910.097          102677.978  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162537.818          71910.097          102779.578  1
    END-POINT 162537.818          71910.097          102779.578  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GB9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     162537.810  71910.097 102884.353 
    BRANCH1-POINT 162537.818          71910.097          102779.578  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GB8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162537.810  71910.097 102884.353  6
    END-POINT 162537.810  71910.097 102884.353  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GB7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 161815.879          71910.097          102884.359  6  BW
    END-POINT 163150.202          71910.097          102884.412  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GB1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 162100.000  71910.097 102884.390  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GB3                 
    TAG                         S01-A-3-6                       
FLOW-ARROW
    CO-ORDS 163001.009  71910.097 102884.390 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 162100.512  71910.097 102884.382  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GB5                 
    TAG                         RP02-3-6                        
WELD
    END-POINT 161815.879          71910.097          102884.359  6
    END-POINT 161815.879          71910.097          102884.359  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GB0                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 163150.202          71910.097          102884.412  6
    END-POINT 163150.202          71910.097          102884.412  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GB6                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 163150.202          71910.097          102884.412  6  
    END-POINT 163378.802          71681.497          102884.430  6  
    CENTRE-POINT  163378.802          71910.097          102884.412 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163378.802          71681.497          102884.430  6
    END-POINT 163378.802          71681.497          102884.430  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBM                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 163378.802          71681.497          102884.430  6  BW
    END-POINT 163378.802          71531.497          102884.442  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163378.802          71531.497          102884.442  6
    END-POINT 163378.802          71531.497          102884.442  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBO                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 163378.802          71531.497          102884.442  6  
    END-POINT 163378.802          70972.697          102884.486  6  
    CENTRE-POINT  163378.802          71252.097          102884.464 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GBP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 163378.802          70972.697          102884.486  6
    END-POINT 163378.802          70972.697          102884.486  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KBQ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
GAP
    END-POINT 163378.743          70972.639          102884.266  6  
    END-POINT 163378.743          70972.874          102884.266  6  
    PIPING-SPEC CH
ELBOW
    END-POINT 163607.343          70744.039          102884.266  6  
    END-POINT 163378.743          70972.639          102884.266  6  
    CENTRE-POINT  163378.743          70744.039          102884.266 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HRQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163607.343          70744.039          102884.266  6
    END-POINT 163607.343          70744.039          102884.266  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JVP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 163785.143          70744.039          102936.656  10  
    END-POINT 163607.343          70744.039          102884.266  6  
    SKEY REBW
    CONTINUATION 
    WEIGHT          16.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JVM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 163785.143          70744.039          102936.656 
    PIPELINE-REFERENCE C210-4910-12E-S-0004-PRM-0003-01
ELBOW
    END-POINT 161587.477          71910.097          103113.157  6  
    END-POINT 161815.879          71910.097          102884.359  6  
    CENTRE-POINT  161587.279          71910.097          102884.557 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 161587.477          71910.097          103113.157  6
    END-POINT 161587.477          71910.097          103113.157  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAY                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 161587.477          71910.097          103113.157  6  BW
    END-POINT 161587.677          71910.097          103336.589  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAX                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 161587.677          71910.097          103336.589  6
    END-POINT 161587.677          71910.097          103336.589  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAW                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 161587.677          71910.097          103895.389  6  
    END-POINT 161587.677          71910.097          103336.589  6  
    CENTRE-POINT  161587.677          71910.097          103615.989 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAU                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 161587.677          71910.097          103895.389  6
    END-POINT 161587.677          71910.097          103895.389  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAT                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 161587.677          71910.097          104041.390  6  BW
    END-POINT 161587.677          71910.097          103895.389  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 161587.677          71910.097          104041.390  6
    END-POINT 161587.677          71910.097          104041.390  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAR                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 161587.677          71767.349          104184.138  6  
    END-POINT 161587.677          72052.845          104184.138  6  
    CENTRE-POINT  161587.677          71910.097          104184.138 
    BRANCH1-POINT 161587.677          71910.097          104041.390  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 161587.677          71767.349          104184.138  6
    END-POINT 161587.677          71767.349          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 161587.677          72052.845          104184.138  6
    END-POINT 161587.677          72052.845          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAQ                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 161587.677          72052.845          104184.138  6  
    END-POINT 161816.277          72281.445          104184.138  6  
    CENTRE-POINT  161587.677          72281.445          104184.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCX                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 161816.277          72281.445          104184.138  6
    END-POINT 161816.277          72281.445          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCY                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 161816.277          72281.445          104184.138  6  
    END-POINT 161955.977          72281.445          104144.450  3  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X3
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 161955.977          72281.445          104144.450  3
    END-POINT 161955.977          72281.445          104144.450  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L8Z                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 161955.977          72281.445          104144.450  3  
    END-POINT 163526.682          72281.445          104144.450  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L8Y                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163000.000  72281.445 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L9H                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 163000.000  72281.445 104144.450  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L9J                 
    TAG                         RP02-3-3                        
END-CONNECTION-PIPELINE 
    CO-ORDS 163526.682          72281.445          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0036-PRM-0003-01
ELBOW
    END-POINT 161587.677          71767.349          104184.138  6  
    END-POINT 161816.277          71538.749          104184.138  6  
    CENTRE-POINT  161587.677          71538.749          104184.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 161816.277          71538.749          104184.138  6
    END-POINT 161816.277          71538.749          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KA8                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 161816.277          71538.749          104184.138  6  BW
    END-POINT 162016.277          71538.749          104184.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KA7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162016.277          71538.749          104184.138  6
    END-POINT 162016.277          71538.749          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KA9                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 161916.277  71538.749 104184.138  6
    END-POINT 161916.277  71538.749 104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KAF                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     161916.277  71538.749 104184.138 
    BRANCH1-POINT 161916.277          71538.749          104288.918  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KAD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 161916.277          71538.749          104288.918  1
    END-POINT 161916.277          71538.749          104288.918  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KAH                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 161916.277          71538.749          104288.918  1  
    END-POINT 161916.277          71538.749          104390.517  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KAG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 161916.277          71538.749          104390.517  1
    END-POINT 161916.277          71538.749          104390.517  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KAJ                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 161916.277          71538.749          104390.517  1  SW FEMALE 
    END-POINT 161916.277          71538.749          104468.767  1  
    CENTRE-POINT  161916.277          71538.749          104432.817 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KAI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 161916.277          71538.749          104468.767  1  
    END-POINT 161916.277          71538.749          104497.469  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KAM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
REDUCER-ECCENTRIC
    END-POINT 162016.277          71538.749          104184.138  6  
    END-POINT 162155.977          71538.749          104157.150  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GAL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 162155.977          71538.749          104157.150  4
    END-POINT 162155.977          71538.749          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KAA                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 163480.977          71538.749          104157.150  4  
    END-POINT 162155.977          71538.749          104157.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KA3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 162597.195  71538.749 104157.150 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 163000.000  71538.749 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LBF                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 163000.000  71538.749 104157.150  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LBH                 
    TAG                         RP02-3-4                        
END-CONNECTION-PIPELINE 
    CO-ORDS 163480.977          71538.749          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0037-PRM-0003-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
    RATING 3000LB
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825STW
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING 800LB
ITEM-CODE SOL6X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING 3000LB
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-6
ITEM-CODE SUPPS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-3-6
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE VALVGAT6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE TEESTR6X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE REDECC6X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 40
    RATING 80
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE REDECC6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING 80
