ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0031-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0030-8"
    ATTRIBUTE83   14-PE-1007-8"
    ATTRIBUTE84   C210-4902-12E-0007-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0031-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  78441.862          71891.548          106826.128  1  
    END-POINT  78441.862          71891.548          106854.830  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELI                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  78441.862          71891.548          106747.878  1  SW FEMALE 
    END-POINT  78441.862          71891.548          106826.128  1  
    CENTRE-POINT   78441.862          71891.548          106790.178 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  78441.862          71891.548          106747.878  1
    END-POINT  78441.862          71891.548          106747.878  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELF                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  78441.862          71891.548          106646.278  1  
    END-POINT  78441.862          71891.548          106747.878  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELC                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  78441.862          71891.548          106646.278  1
    END-POINT  78441.862          71891.548          106646.278  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELD                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT      78441.862  71891.548 106509.748 
    BRANCH1-POINT  78441.862          71891.548          106646.278  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL8X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELA                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  78441.862  71891.548 106509.748  8
    END-POINT  78441.862  71891.548 106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ELB                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  78296.662          71891.548          106509.748  8  BW
    END-POINT 101440.480          71891.548          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_E8Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  79000.000  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIP                 
    TAG                         S02-B-4-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS  88000.000  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIT                 
    TAG                         S02-B-3-8                       
FLOW-ARROW
    CO-ORDS  90932.189  71891.548 106509.748 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  94000.000  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIV                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 100000.000  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIX                 
    TAG                         S03-B-6-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT  78296.662          71891.548          106509.748  8
    END-POINT  78296.662          71891.548          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_E95                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 101440.480          71891.548          106509.748  8
    END-POINT 101440.480          71891.548          106509.748  8
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 117595.134          71891.548          106509.748  8  
    END-POINT 101440.480          71891.548          106509.748  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E7L                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 113166.861  71891.548 106509.748 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 104000.000  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E7T                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 110000.000  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E7V                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 116000.000  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E7Y                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 116000.000  71891.548 106509.748  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E80                 
    TAG                         RP02-3-8                        
END-CONNECTION-PIPELINE 
    CO-ORDS 117595.134          71891.548          106509.748 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0006-01
ELBOW
    END-POINT  78296.662          71891.548          106509.748  8  
    END-POINT  77991.862          71891.548          106204.948  8  
    CENTRE-POINT   77991.862          71891.548          106509.748 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_E93                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  77991.862          71891.548          106204.948  8
    END-POINT  77991.862          71891.548          106204.948  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_E9C                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  77991.862          71891.548          103364.337  8  BW
    END-POINT  77991.862          71891.548          106204.948  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_E9A                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  77991.862          71891.548          103364.337  8
    END-POINT  77991.862          71891.548          103364.337  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ECD                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  77991.862          71891.548          103364.337  8  
    END-POINT  77687.062          71891.548          103059.537  8  
    CENTRE-POINT   77991.862          71891.548          103059.537 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ECB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  77687.062          71891.548          103059.537  8
    END-POINT  77687.062          71891.548          103059.537  8
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_8EG                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  77687.062          71891.548          103059.537  8  
    END-POINT  58155.046          71891.548          103059.537  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_88T                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  77350.294  71891.548 103059.537  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_88X                 
    TAG                         S02-B-4-8                       
FLOW-ARROW
    CO-ORDS  68936.900  71891.548 103059.537 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  71850.294  71891.548 103059.537  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_892                 
    TAG                         S02-B-4-8                       
SUPPORT
    CO-ORDS  65850.294  71891.548 103059.537  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_896                 
    TAG                         S02-B-4-8                       
SUPPORT
    CO-ORDS  59850.294  71891.548 103059.537  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_89H                 
    TAG                         S02-B-4-8                       
SUPPORT
    CO-ORDS  62104.153  71891.548 103059.537  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_89J                 
    TAG                         S02-B-3-8                       
END-CONNECTION-PIPELINE 
    CO-ORDS  58155.046          71891.548          103059.537 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-SB-0010-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL8X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-4-8
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPTS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
ITEM-CODE SUPTS-8_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-B-6-8
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
