ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0070-PRM-0006-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-S-0070-PRM-0006-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0005-8"
    ATTRIBUTE83   12E-S-0071/0072-3/4"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   -
    ATTRIBUTE89   -
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0070-6"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 116580.442          69635.197          102884.286  6  BW
    END-POINT 101590.308          69635.289          102884.212  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DDP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 104000.059  69635.275 102884.224  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DDQ                 
    TAG                         S01-A-4-6                       
SUPPORT
    CO-ORDS 110000.065  69635.238 102884.254  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DDR                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 116000.065  69635.200 102884.283  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DDS                 
    TAG                         S01-A-3-6                       
FLOW-ARROW
    CO-ORDS 112009.678  69635.225 102884.264 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 116580.442          69635.197          102884.286  6
    END-POINT 116580.442          69635.197          102884.286  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DDO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 101590.308          69635.289          102884.212  6
    END-POINT 101590.308          69635.289          102884.212  6
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DER                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  99228.645          69634.480          102884.138  6  
    END-POINT 101590.308          69635.289          102884.212  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DC1                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS 100000.017  69634.744 102884.162  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DC8                 
    TAG                         S01-A-4-6                       
END-CONNECTION-PIPELINE 
    CO-ORDS  99228.645          69634.480          102884.138 
    PIPELINE-REFERENCE C210-4910-12E-S-0070-PRM-0007-01
ELBOW
    END-POINT 116580.442          69635.197          102884.286  6  
    END-POINT 116809.042          69863.797          102884.286  6  
    CENTRE-POINT  116809.042          69635.197          102884.286 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DDN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 116809.042          69863.797          102884.286  6
    END-POINT 116809.042          69863.797          102884.286  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DOO                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 116809.042          70016.197          102909.686  8  
    END-POINT 116809.042          69863.797          102884.286  6  
    SKEY REBW
    CONTINUATION 
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DOL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 116809.042          70016.197          102909.686 
    PIPELINE-REFERENCE C210-4910-12E-S-0005-PRM-0006-01
MATERIALS
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-4-6
ITEM-CODE SUPTS-6_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-6
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
