ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0030-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0030-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0020-6"
    ATTRIBUTE83   12E-CG-0031-4"
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0030-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 167124.174          57125.168          107095.940  1  
    END-POINT 167124.174          57125.168          107124.642  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HY4                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 167124.174          57125.168          107017.690  1  SW FEMALE 
    END-POINT 167124.174          57125.168          107095.940  1  
    CENTRE-POINT  167124.174          57125.168          107059.990 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HY0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 167124.174          57125.168          107017.690  1
    END-POINT 167124.174          57125.168          107017.690  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HY1                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 167124.174          57125.168          106916.090  1  
    END-POINT 167124.174          57125.168          107017.690  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167124.174          57125.168          106916.090  1
    END-POINT 167124.174          57125.168          106916.090  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXZ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     167124.174  57125.168 106844.650 
    BRANCH1-POINT 167124.174          57125.168          106916.090  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXW                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167124.174  57125.168 106844.650  3
    END-POINT 167124.174  57125.168 106844.650  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXX                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 167274.174          57125.168          106844.650  3  BW
    END-POINT 163672.300          57125.168          106844.650  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GBZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 164099.500  57125.168 106844.650  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GEB                 
    TAG                         S01-A-3-3                       
FLOW-ARROW
    CO-ORDS 165610.133  57125.168 106844.650 
    FLOW 2
    SKEY FLOW
MESSAGE
    CO-ORDS 164099.500  57125.168 106844.650 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 167274.174          57125.168          106844.650  3
    END-POINT 167274.174          57125.168          106844.650  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GC0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163672.300          57125.168          106844.650  3
    END-POINT 163672.300          57125.168          106844.650  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GC1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163672.300          57125.168          106844.650  3  
    END-POINT 163558.000          57239.468          106844.650  3  
    CENTRE-POINT  163558.000          57125.168          106844.650 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GBX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          57239.468          106844.650  3
    END-POINT 163558.000          57239.468          106844.650  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          58328.740          106844.450  3  BW
    END-POINT 163558.000          57239.468          106844.650  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163558.000          58328.740          106844.450  3
    END-POINT 163558.000          58328.740          106844.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HGK                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163558.000          58443.040          106730.150  3  
    END-POINT 163558.000          58328.740          106844.450  3  
    CENTRE-POINT  163558.000          58443.040          106844.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_B9E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          58443.040          106730.150  3
    END-POINT 163558.000          58443.040          106730.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GED                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          58443.040          106730.150  3  BW
    END-POINT 163558.000          58443.040          106558.088  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C68                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163558.000          58443.040          106558.088  3
    END-POINT 163558.000          58443.040          106558.088  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GC5                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 163558.000          58300.290          106434.138  6  
    END-POINT 163558.000          58585.790          106434.138  6  
    CENTRE-POINT  163558.000          58443.040          106434.138 
    BRANCH1-POINT 163558.000          58443.040          106558.088  3  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C65                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 163558.000          58300.290          106434.138 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0009-01
ELBOW
    END-POINT 167388.474          57125.168          106730.350  3  
    END-POINT 167274.174          57125.168          106844.650  3  
    CENTRE-POINT  167388.474          57125.168          106844.650 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GBU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 167388.474          57125.168          106730.350  3
    END-POINT 167388.474          57125.168          106730.350  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H45                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 167388.474          57125.168          106641.450  3  
    END-POINT 167388.474          57125.168          106730.350  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BB4                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 167388.474          57125.168          106641.450  3
    END-POINT 167388.474          57125.168          106638.270  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BB5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 167388.474          57125.168          106641.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BB6                 
VALVE
    END-POINT 167388.474          57125.168          106282.670  3  
    END-POINT 167388.474          57125.168          106638.270  3  
    CENTRE-POINT  167388.474          57125.168          106460.470 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BAZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT 167388.474          57125.168          106282.670  3
    END-POINT 167388.474          57125.168          106279.490  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BB0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 167388.474          57125.168          106282.670 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BB1                 
FLANGE
    END-POINT 167388.474          57125.168          106279.490  3  
    END-POINT 167388.474          57125.168          106190.590  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BAS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167388.474          57125.168          106190.590  3
    END-POINT 167388.474          57125.168          106190.590  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 167388.474          57125.168          106190.590  3  BW
    END-POINT 167388.474          57124.679          105976.334  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVW                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167388.474          57124.679          105976.334  3
    END-POINT 167388.474          57124.679          105976.334  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 167388.474          57229.820          105878.308  4  
    END-POINT 167388.474          57020.523          105877.262  4  
    CENTRE-POINT  167388.474          57125.172          105877.785 
    BRANCH1-POINT 167388.474          57124.679          105976.334  3  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 167388.474          57229.820          105878.308 
    PIPELINE-REFERENCE C210-4910-12E-CG-0031-PRM-0009-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
