ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0001-PRM-0021-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0021.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0001-PRM-0021-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-1002
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0001-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 249261.387          85274.929          104471.984  1  
    END-POINT 249261.387          85274.927          104500.686  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3JL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 249261.387          85274.934          104393.734  1  SW FEMALE 
    END-POINT 249261.387          85274.929          104471.984  1  
    CENTRE-POINT  249261.387          85274.931          104436.034 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3JH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 0 DOWN
WELD
    END-POINT 249261.387          85274.934          104393.734  1
    END-POINT 249261.387          85274.934          104393.734  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3JI                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 249261.387          85274.940          104292.134  1  
    END-POINT 249261.387          85274.934          104393.734  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3JF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 249261.387          85274.940          104292.134  1
    END-POINT 249261.387          85274.940          104292.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3JG                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     249261.387  85274.945 104207.994 
    BRANCH1-POINT 249261.387          85274.940          104292.134  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3F2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 249261.387  85274.945 104207.994  4
    END-POINT 249261.387  85274.945 104207.994  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3F4                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 249261.387          85374.820          104208.000  4  BW
    END-POINT 249261.387          73102.097          104207.241  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3D7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 249261.387  74376.286 104207.320 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 249261.387  76801.895 104207.470  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3E6                 
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS 249261.387  81801.868 104207.779  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3E8                 
    TAG                         S01-B-6-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 249261.387          85374.820          104208.000  4
    END-POINT 249261.387          85374.820          104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3D8                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 249261.387          73102.097          104207.241  4
    END-POINT 249261.387          73102.097          104207.241  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3I2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 249261.387          72138.773          104207.241  4  
    END-POINT 249261.387          73102.097          104207.241  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ENG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 249261.387  72799.827 104207.241  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E4X                 
    TAG                         S01-B-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 249261.387          72138.773          104207.241 
    PIPELINE-REFERENCE C210-4910-12E-PE-0001-PRM-0008-01
FLANGE
    END-POINT 249261.387          85482.770          104208.000  4  
    END-POINT 249261.387          85374.820          104208.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3AH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 249261.387          85485.945          104208.000  4
    END-POINT 249261.387          85482.770          104208.000  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3AF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 249261.387          85485.945          104208.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3AG                 
VALVE
    END-POINT 249261.387          85485.945          104208.000  4  
    END-POINT 249261.387          85917.745          104208.000  4  
    CENTRE-POINT  249261.387          85701.845          104208.000 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3AD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 45 UP
GASKET
    END-POINT 249261.387          85920.920          104208.000  4
    END-POINT 249261.387          85917.745          104208.000  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3AB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 249261.387          85917.745          104208.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3AC                 
FLANGE
    END-POINT 249261.387          85920.920          104208.000  4  
    END-POINT 249261.387          86028.870          104208.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3AA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 249261.387          86028.870          104208.000  4
    END-POINT 249261.387          86028.870          104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3D4                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 249261.387          87633.520          104208.000  4  BW
    END-POINT 249261.387          86028.870          104208.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3D2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 249261.387  86803.100 104208.000  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3D5                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 249261.387          87633.520          104208.000  4
    END-POINT 249261.387          87633.520          104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3H1                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 249261.387          87741.470          104208.000  4  
    END-POINT 249261.387          87633.520          104208.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3GX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 249261.387          87741.470          104208.000  4
    END-POINT 249261.387          87744.650          104208.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3I8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 249261.387          87741.470          104208.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3I9                 
FLANGE
    END-POINT 249261.387          87744.650          104208.000  4  
    END-POINT 249261.387          87852.600          104208.000  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FFGGU188_2ZN                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 249261.387          87852.600          104208.000 
    PIPELINE-REFERENCE C210-4910-12E-PE-0001-SB-0001-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-6-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT4
    BOLT_DIA 22.225
    BOLT_LEN 145
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
