ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0029-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0029-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0037-4"
    ATTRIBUTE83   CASING GAS HDR. #1
    ATTRIBUTE84   C210-4902-12E-0002-07
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0029-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  89036.757          69029.638          105041.592  1  
    END-POINT  89036.757          69029.638          105011.430  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMG                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  89036.757          69029.638          105121.410  1  SW FEMALE 
    END-POINT  89036.757          69029.638          105041.592  1  
    CENTRE-POINT   89036.757          69029.638          105079.120 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT  89036.757          69029.638          105121.410  1
    END-POINT  89036.757          69029.638          105121.410  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMK                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  89036.757          69029.638          105223.010  1  
    END-POINT  89036.757          69029.638          105121.410  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BML                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89036.757          69029.638          105223.010  1
    END-POINT  89036.757          69029.638          105223.010  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D80                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT      89036.757  69029.638 105307.150 
    BRANCH1-POINT  89036.757          69029.638          105223.010  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D7Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89036.757  69029.638 105307.150  4
    END-POINT  89036.757  69029.638 105307.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D7Z                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  89036.757          69109.638          105307.150  4  BW
    END-POINT  89036.757          68940.428          105307.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D7U                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89036.757          69109.638          105307.150  4
    END-POINT  89036.757          69109.638          105307.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D7V                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89036.757          68940.428          105307.150  4
    END-POINT  89036.757          68940.428          105307.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D7W                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  89036.757          68832.478          105307.150  4  
    END-POINT  89036.757          68940.428          105307.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMS                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  89036.757          68832.478          105307.150  4
    END-POINT  89036.757          68829.303          105307.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  89036.757          68832.478          105307.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMU                 
VALVE
    END-POINT  89036.757          68829.303          105307.150  4  
    END-POINT  89036.757          68397.503          105307.150  4  
    CENTRE-POINT   89036.757          68613.403          105307.150 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMV                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  89036.757          68397.503          105307.150  4
    END-POINT  89036.757          68394.328          105307.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  89036.757          68397.503          105307.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMX                 
FLANGE
    END-POINT  89036.757          68394.328          105307.150  4  
    END-POINT  89036.757          68286.378          105307.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89036.757          68286.378          105307.150  4
    END-POINT  89036.757          68286.378          105307.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BMZ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT  89036.757          68286.378          105307.150  4  
    END-POINT  89036.757          68133.978          105154.750  4  
    CENTRE-POINT   89036.757          68133.978          105307.150 
    BRANCH1-POINT  89036.757  68133.978 105307.150  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  89036.757  67950.645 105307.150  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN1                 
    TAG                         DS03-A-2-4                      
PIPE
    END-POINT  89036.757          68133.978          105307.150  89  BW
    END-POINT  89036.757  67583.978 105307.150  89  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS  89036.757  67583.978 105307.150 
SUPPORT
    CO-ORDS  89036.757  67583.978 105307.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN2                 
    TAG                         S01-A-3-3 H=63MM                
WELD
    END-POINT  89036.757          68133.978          105154.750  4
    END-POINT  89036.757          68133.978          105154.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN3                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  89036.757          68133.978          105154.750  4  BW
    END-POINT  89035.937          68133.978          104863.937  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN4                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89035.937          68133.978          104863.937  4
    END-POINT  89035.937          68133.978          104863.937  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN5                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  89035.937          68133.978          104755.987  4  
    END-POINT  89035.937          68133.978          104863.937  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN6                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  89035.937          68133.978          104755.987  4
    END-POINT  89035.937          68133.978          104752.812  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  89035.937          68133.978          104755.987 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN8                 
VALVE
    END-POINT  89035.937          68133.978          104752.812  4  
    END-POINT  89035.937          68133.978          104321.012  4  
    CENTRE-POINT   89035.937          68133.978          104536.912 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BN9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  89035.937          68133.978          104321.012  4
    END-POINT  89035.937          68133.978          104317.837  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BNB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  89035.937          68133.978          104321.012 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BNC                 
FLANGE
    END-POINT  89035.937          68133.978          104317.837  4  
    END-POINT  89035.937          68133.978          104209.887  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BND                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89035.937          68133.978          104209.887  4
    END-POINT  89035.937          68133.978          104209.887  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BNE                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  89035.937          68133.978          104209.887  4  
    END-POINT  89035.937          68286.378          104057.487  4  
    CENTRE-POINT   89035.937          68133.978          104057.487 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BNF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  89035.937          68286.378          104057.487  4
    END-POINT  89035.937          68286.378          104057.487  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DQF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  89035.937          68286.378          104057.487  4  BW
    END-POINT  89035.937          68510.968          104057.487  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DQE                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89035.937          68510.968          104057.487  4
    END-POINT  89035.937          68510.968          104057.487  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DQG                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  89035.937          68510.968          104057.487  4  
    END-POINT  89035.937          68663.368          103905.087  4  
    CENTRE-POINT   89035.937          68663.368          104057.487 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D6V                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  89035.937          68663.368          103905.087  4
    END-POINT  89035.937          68663.368          103905.087  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  89035.937          68663.368          103905.087  4  BW
    END-POINT  89035.937          68663.368          103754.550  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP2                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89035.937          68663.368          103754.550  4
    END-POINT  89035.937          68663.368          103754.550  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT  89188.337          68663.368          103602.150  4  
    END-POINT  89035.937          68663.368          103754.550  4  
    CENTRE-POINT   89035.937          68663.368          103602.150 
    BRANCH1-POINT  89035.937  68663.368 103602.150  3
    SKEY ETBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  88569.271  68663.368 103602.150  4
    SKEY  NONE
    UNDIMENSIONED
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP6                 
    TAG                         DS04-B-5-4                      
PIPE
    END-POINT  89035.937          68663.368          103602.150  88.9  BW
    END-POINT  87635.937  68663.368 103602.150  88.9  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS  87635.937  68663.368 103602.150 
END-CONNECTION-PIPELINE 
    CO-ORDS  89188.337          68663.368          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0007-01
ELBOW
    END-POINT  88884.357          69262.038          105307.150  4  
    END-POINT  89036.757          69109.638          105307.150  4  
    CENTRE-POINT   89036.757          69262.038          105307.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BII                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  88884.357          69262.038          105307.150  4
    END-POINT  88884.357          69262.038          105307.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BIH                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  88884.357          69262.038          105307.150  4  BW
    END-POINT  88540.585          69262.038          105307.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BIF                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  88666.800  69262.038 105307.150 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  88540.585          69262.038          105307.150  4
    END-POINT  88540.585          69262.038          105307.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIG                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  88331.289          69262.038          105307.150  4  
    END-POINT  88540.585          69262.038          105307.150  4  
    CENTRE-POINT   88435.937          69262.038          105307.150 
    BRANCH1-POINT  88435.937          69157.390          105307.150  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BPC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  88331.289          69262.038          105307.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0037-PRM-0007-03
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT4
    BOLT_DIA 22.225
    BOLT_LEN 145
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING 600LB
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION DUMMY SUPPORT DS03-A-2-4
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3 H=63MM
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
