ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0006-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0019-PRM-0006-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0001-4"
    ATTRIBUTE83   12E-CG-0020-6"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0019-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 118604.586          68663.368          103602.150  4  BW
    END-POINT 122762.417          68663.368          103602.150  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EC1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 122000.000  68663.368 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EC8                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 118604.586          68663.368          103602.150  4
    END-POINT 118604.586          68663.368          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CJN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 127847.526          68663.368          103602.150  4  
    END-POINT 122762.417          68663.368          103602.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EP9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 126000.000  68663.368 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EPE                 
    TAG                         S01-A-4-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 127847.526          68663.368          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0005-01
TEE
    END-POINT 118604.586          68663.368          103602.150  4  
    END-POINT 118395.290          68663.368          103602.150  4  
    CENTRE-POINT  118499.938          68663.368          103602.150 
    BRANCH1-POINT 118499.938          68663.368          103706.798  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CJM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 118395.290          68663.368          103602.150  4
    END-POINT 118395.290          68663.368          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 118499.938          68663.368          103706.798  4
    END-POINT 118499.938          68663.368          103706.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CJL                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 118499.938          68663.368          103904.750  4  
    END-POINT 118499.938          68663.368          103706.798  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CJK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 118499.938          68663.368          103904.750 
    PIPELINE-REFERENCE C210-4910-12E-CG-0011-PRM-0006-02
PIPE
    END-POINT 117142.708          68663.368          103602.150  4  BW
    END-POINT 118395.290          68663.368          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DND                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 117142.708          68663.368          103602.150  4
    END-POINT 117142.708          68663.368          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNE                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 117142.708          68663.368          103602.150  4  
    END-POINT 116933.408          68663.368          103602.150  4  
    CENTRE-POINT  117038.058          68663.368          103602.150 
    BRANCH1-POINT 117038.058          68663.463          103706.800  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 116933.408          68663.368          103602.150  4
    END-POINT 116933.408          68663.368          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 117038.058          68663.463          103706.800  4
    END-POINT 117038.058          68663.463          103706.800  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNN                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 117038.058          68663.781          103904.360  4  
    END-POINT 117038.058          68663.463          103706.800  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 117038.058          68663.781          103904.360 
    PIPELINE-REFERENCE C210-4910-12E-PE-0024-PRM-0006-01
PIPE
    END-POINT 101589.987          68663.368          103602.150  4  BW
    END-POINT 116933.408          68663.368          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNO                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 104000.000  68663.368 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNU                 
    TAG                         S01-A-6-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 114313.642  68663.368 103602.150 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 115999.987  68663.368 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ECA                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 110000.000  68663.368 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ECC                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 101589.987          68663.368          103602.150  4
    END-POINT 101589.987          68663.368          103602.150  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EM4                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  90604.585          68663.368          103602.150  4  
    END-POINT 101589.987          68663.368          103602.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BVM                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  94000.000  68663.368 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BVN                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 100000.000  68663.368 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BVO                 
    TAG                         S01-A-3-4                       
FLOW-ARROW
    CO-ORDS  97067.167  68663.368 103602.150 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  90604.585          68663.368          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0007-01
MATERIALS
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
