ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0019-PRM-0007-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0001-4"
    ATTRIBUTE83   12E-CG-0020-6"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0019-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
ELBOW-TEED
    END-POINT  89188.337          68663.368          103602.150  4  
    END-POINT  89035.937          68663.368          103754.550  4  
    CENTRE-POINT   89035.937          68663.368          103602.150 
    BRANCH1-POINT  89035.937  68663.368 103602.150  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  88569.271  68663.368 103602.150  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP6                 
    TAG                         DS04-B-5-4                      
PIPE
    END-POINT  89035.937          68663.368          103602.150  3  BW
    END-POINT  87635.937  68663.368 103602.150  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS  87635.937  68663.368 103602.150 
SUPPORT
    CO-ORDS  87999.937  68663.368 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EOG                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT  89188.337          68663.368          103602.150  4
    END-POINT  89188.337          68663.368          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  89035.937          68663.368          103754.550  4
    END-POINT  89035.937          68663.368          103754.550  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  89035.937          68663.368          103905.087  4  
    END-POINT  89035.937          68663.368          103754.550  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP2                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  89035.937          68663.368          103905.087 
    PIPELINE-REFERENCE C210-4910-12E-PE-0029-PRM-0007-01
PIPE
    END-POINT  89188.337          68663.368          103602.150  4  BW
    END-POINT  90395.289          68663.368          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DOZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  90395.289          68663.368          103602.150  4
    END-POINT  90395.289          68663.368          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DP1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  90604.585          68663.368          103602.150  4  
    END-POINT  90395.289          68663.368          103602.150  4  
    CENTRE-POINT   90499.937          68663.368          103602.150 
    BRANCH1-POINT  90499.937          68663.368          103706.798  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BQ2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  90604.585          68663.368          103602.150  4
    END-POINT  90604.585          68663.368          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BQ3                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  90499.937          68663.368          103706.798  4
    END-POINT  90499.937          68663.368          103706.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BQ4                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  90499.937          68663.368          103904.750  4  
    END-POINT  90499.937          68663.368          103706.798  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BQ5                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  90499.937          68663.368          103904.750 
    PIPELINE-REFERENCE C210-4910-12E-CG-0013-PRM-0007-02
PIPE
    END-POINT  90604.585          68663.368          103602.150  4  BW
    END-POINT 101589.987          68663.368          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BVM                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  94000.000  68663.368 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BVN                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 100000.000  68663.368 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BVO                 
    TAG                         S01-A-3-4                       
FLOW-ARROW
    CO-ORDS  97067.167  68663.368 103602.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 101589.987          68663.368          103602.150  4
    END-POINT 101589.987          68663.368          103602.150  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EM4                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 101589.987          68663.368          103602.150  4  
    END-POINT 116933.408          68663.368          103602.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNO                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 104000.000  68663.368 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DNU                 
    TAG                         S01-A-6-4                       
FLOW-ARROW
    CO-ORDS 114313.642  68663.368 103602.150 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 115999.987  68663.368 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ECA                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 110000.000  68663.368 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ECC                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 116933.408          68663.368          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0006-01
MATERIALS
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  1400 mm DUMMY SUPPORT DS04-B-5-4
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
