ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0003-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-CG-0020-PRM-0003-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0019-4"
    ATTRIBUTE83   12E-CG-0016-4"
    ATTRIBUTE84   C210-4902-12E-0006-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0020-6"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 163329.400          68663.188          107454.138  6  BW
    END-POINT 158550.400          68663.188          107454.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H67                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163000.400  68663.188 107454.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JZA                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 160000.400  68663.188 107454.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JZG                 
    TAG                         S01-A-3-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 163329.400          68663.188          107454.137  6
    END-POINT 163329.400          68663.188          107454.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5T                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 158550.400          68663.188          107454.138  6
    END-POINT 158550.400          68663.188          107454.138  6
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5W                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 156721.700          68663.188          107454.138  6  
    END-POINT 158550.400          68663.188          107454.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHE                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 157534.219  68663.188 107454.138 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 156721.700          68663.188          107454.138 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0004-01
ELBOW
    END-POINT 163558.000          68663.188          107225.537  6  
    END-POINT 163329.400          68663.188          107454.137  6  
    CENTRE-POINT  163558.000          68663.188          107454.137 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          68663.188          107225.537  6
    END-POINT 163558.000          68663.188          107225.537  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5Q                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          68663.188          106662.737  6  BW
    END-POINT 163558.000          68663.188          107225.537  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5O                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163558.000          68663.188          106662.737  6
    END-POINT 163558.000          68663.188          106662.737  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5P                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163558.000          68434.588          106434.137  6  
    END-POINT 163558.000          68663.188          106662.737  6  
    CENTRE-POINT  163558.000          68663.188          106434.137 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          68434.588          106434.137  6
    END-POINT 163558.000          68434.588          106434.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5L                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          66697.044          106434.138  6  BW
    END-POINT 163558.000          68434.588          106434.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JCF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163558.000  67800.044 106434.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JCL                 
    TAG                         S01-A-3-6                       
WELD
    END-POINT 163558.000          66697.044          106434.138  6
    END-POINT 163558.000          66697.044          106434.138  6
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KN0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          59422.495          106434.138  6  
    END-POINT 163558.000          66697.044          106434.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E5H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163558.000  64799.044 106434.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C6X                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 163558.000  59800.995 106434.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EMT                 
    TAG                         S01-A-3-6                       
END-CONNECTION-PIPELINE 
    CO-ORDS 163558.000          59422.495          106434.138 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0009-01
MATERIALS
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-6
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
