ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0070-PRM-0007-02
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-S-0070-PRM-0007-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0005-8"
    ATTRIBUTE83   12E-S-0071/0072-3/4"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   -
    ATTRIBUTE89   -
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0070-6"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  88812.219          71642.240          102375.742  1  
    END-POINT  88812.219          71642.240          102345.580  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B98                 
    PIPING-SPEC CH
    INSULATION-ON 
MESSAGE
    CO-ORDS  88812.219  71642.240 102358.280 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
VALVE
    END-POINT  88812.219          71642.240          102491.580  1  SW FEMALE 
    END-POINT  88812.219          71642.240          102375.742  1  
    CENTRE-POINT   88812.219          71642.240          102455.613 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B95                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT  88812.219          71642.240          102491.580  1
    END-POINT  88812.219          71642.240          102491.580  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B94                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  88812.219          71642.240          102593.180  1  
    END-POINT  88812.219          71642.240          102491.580  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B93                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88812.219          71642.240          102593.180  1
    END-POINT  88812.219          71642.240          102593.180  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ENU                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  88812.219          71642.240          102677.780  1  
    END-POINT  88812.219          71642.240          102593.180  1  
    CENTRE-POINT   88812.219          71642.240          102635.480 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ENQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT  88812.219          71642.240          102677.780  1
    END-POINT  88812.219          71642.240          102677.780  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ENR                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  88812.219          71642.240          102779.380  1  
    END-POINT  88812.219          71642.240          102677.780  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8Y                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88812.219          71642.240          102779.380  1
    END-POINT  88812.219          71642.240          102779.380  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8X                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      88812.219  71642.240 102884.155 
    BRANCH1-POINT  88812.219          71642.240          102779.380  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8W                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88812.219  71642.240 102884.155  6
    END-POINT  88812.219  71642.240 102884.155  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8V                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88812.219          71717.240          102884.155  6  BW
    END-POINT  88812.219          71567.240          102884.155  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8S                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88812.219          71717.240          102884.155  6
    END-POINT  88812.219          71717.240          102884.155  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8R                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88812.219          71567.240          102884.155  6
    END-POINT  88812.219          71567.240          102884.155  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8U                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  88812.219          71567.240          102884.155  6  
    END-POINT  88812.219          71008.440          102884.155  6  
    CENTRE-POINT   88812.219          71287.840          102884.155 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B99                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT  88812.219          71008.440          102884.155  6
    END-POINT  88812.219          71008.440          102884.155  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B9B                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88812.219          69862.988          102884.137  6  BW
    END-POINT  88812.219          71008.440          102884.155  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B9C                 
    PIPING-SPEC CH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  88812.219  70414.918 102884.146 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  88812.219          69862.988          102884.137  6
    END-POINT  88812.219          69862.988          102884.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B9D                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT  89040.819          69634.388          102884.137  6  
    END-POINT  88812.219          69862.988          102884.137  6  
    CENTRE-POINT   88812.219          69634.388          102884.137 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B9E                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  89040.819          69634.388          102884.137  6
    END-POINT  89040.819          69634.388          102884.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B9F                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  94771.245          69634.388          102884.138  6  
    END-POINT  89040.819          69634.388          102884.137  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B9G                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  91000.000  69634.388 102884.137  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CM4                 
    TAG                         S01-A-6-6                       
FLOW-ARROW
    CO-ORDS  92902.218  69634.388 102884.137 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  94000.000  69634.388 102884.137  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CM9                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS  94000.000  69634.388 102884.137  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEN                 
    TAG                         RP02-3-6                        
SUPPORT
    CO-ORDS  91000.000  69634.388 102884.137  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEP                 
    TAG                         RP02-6-6                        
END-CONNECTION-PIPELINE 
    CO-ORDS  94771.245          69634.388          102884.138 
    PIPELINE-REFERENCE C210-4910-12E-S-0070-PRM-0007-01
ELBOW
    END-POINT  88812.219          71945.840          103112.755  6  
    END-POINT  88812.219          71717.240          102884.155  6  
    CENTRE-POINT   88812.219          71945.840          102884.155 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8Q                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  88812.219          71945.840          103112.755  6
    END-POINT  88812.219          71945.840          103112.755  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8P                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88812.219          71945.840          103112.755  6  BW
    END-POINT  88812.019          71945.840          103357.332  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8O                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88812.019          71945.840          103357.332  6
    END-POINT  88812.019          71945.840          103357.332  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8N                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  88812.019          71945.840          103916.132  6  
    END-POINT  88812.019          71945.840          103357.332  6  
    CENTRE-POINT   88812.019          71945.840          103636.732 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8L                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  88812.019          71945.840          103916.132  6
    END-POINT  88812.019          71945.840          103916.132  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8K                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88812.019          71945.840          104041.390  6  BW
    END-POINT  88812.019          71945.840          103916.132  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8J                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88812.019          71945.840          104041.390  6
    END-POINT  88812.019          71945.840          104041.390  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8I                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT  88812.019          72088.588          104184.138  6  
    END-POINT  88812.019          71803.092          104184.138  6  
    CENTRE-POINT   88812.019          71945.840          104184.138 
    BRANCH1-POINT  88812.019          71945.840          104041.390  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8G                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  88812.019          72088.588          104184.138  6
    END-POINT  88812.019          72088.588          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8H                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88812.019          71803.092          104184.138  6
    END-POINT  88812.019          71803.092          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8F                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT  88583.419          71574.492          104184.138  6  
    END-POINT  88812.019          71803.092          104184.138  6  
    CENTRE-POINT   88812.019          71574.492          104184.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8E                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  88583.419          71574.492          104184.138  6
    END-POINT  88583.419          71574.492          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88415.419          71574.492          104184.138  6  BW
    END-POINT  88583.419          71574.492          104184.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPU                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88415.419          71574.492          104184.138  6
    END-POINT  88415.419          71574.492          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88508.419  71574.492 104184.138  6
    END-POINT  88508.419  71574.492 104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPZ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      88508.419  71574.492 104184.138 
    BRANCH1-POINT  88508.419          71574.492          104288.918  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPX                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88508.419          71574.492          104288.918  1
    END-POINT  88508.419          71574.492          104288.918  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EQ1                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  88508.419          71574.492          104288.918  1  
    END-POINT  88508.419          71574.492          104390.518  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EQ0                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88508.419          71574.492          104390.518  1
    END-POINT  88508.419          71574.492          104390.518  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EQ3                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  88508.419          71574.492          104390.518  1  SW FEMALE 
    END-POINT  88508.419          71574.492          104468.768  1  
    CENTRE-POINT   88508.419          71574.492          104432.818 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EQ2                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT  88508.419          71574.492          104468.768  1  
    END-POINT  88508.419          71574.492          104497.470  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EQ6                 
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  88415.419          71574.492          104184.138  6  
    END-POINT  88275.719          71574.492          104157.150  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_B8C                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT  88275.719          71574.492          104157.150  4
    END-POINT  88275.719          71574.492          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EQ8                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88275.719          71574.492          104157.150  4  
    END-POINT  87487.719          71574.492          104157.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EN4                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  88000.000  71574.492 104157.150  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EN5                 
    TAG                         RP02-3-4                        
SUPPORT
    CO-ORDS  88000.000  71574.492 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EN7                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS  87487.719          71574.492          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-S-0072-PRM-0007-01
ELBOW
    END-POINT  88812.019          72088.588          104184.138  6  
    END-POINT  88583.419          72317.188          104184.138  6  
    CENTRE-POINT   88812.019          72317.188          104184.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BA6                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  88583.419          72317.188          104184.138  6
    END-POINT  88583.419          72317.188          104184.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BA7                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  88583.419          72317.188          104184.138  6  
    END-POINT  88443.719          72317.188          104144.450  3  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X3
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BA8                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT  88443.719          72317.188          104144.450  3
    END-POINT  88443.719          72317.188          104144.450  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BA9                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88443.719          72317.188          104144.450  3  
    END-POINT  87440.169          72317.188          104144.450  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAA                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  88000.000  72317.188 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CLL                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS  88000.000  72317.188 104144.450  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CLQ                 
    TAG                         RP02-3-3                        
END-CONNECTION-PIPELINE 
    CO-ORDS  87440.169          72317.188          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0071-PRM-0007-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
    RATING 3000LB
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825STW
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE SOL6X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE VALVGAT6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE TEESTR6X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE REDECC6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 40
    RATING 80
ITEM-CODE REDECC6X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 40
    RATING 80
