ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0003-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0034-PRM-0003-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   3120
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-P-0104A/B
    ATTRIBUTE83   12E-PE-0031-8"
    ATTRIBUTE84   C210-4902-12E-0008-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0034-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 164109.175          67335.700          105344.450  3  BW
    END-POINT 164109.175          66673.177          105344.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I78                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164109.175          67335.700          105344.450  3
    END-POINT 164109.175          67335.700          105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I79                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164109.175          66673.177          105344.450  3
    END-POINT 164109.175          66673.177          105344.450  3
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DWY                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164109.175          64598.177          105344.450  3  
    END-POINT 164109.175          66673.177          105344.450  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ACC                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 164109.175          64598.177          105344.450 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0009-01
ELBOW
    END-POINT 164109.175          67450.000          105458.750  3  
    END-POINT 164109.175          67335.700          105344.450  3  
    CENTRE-POINT  164109.175          67450.000          105344.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H66                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 164109.175          67450.000          105458.750  3
    END-POINT 164109.175          67450.000          105458.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H65                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164109.175          67450.000          105458.750  3  BW
    END-POINT 164109.175          67450.000          106280.150  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H64                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164109.175          67450.000          106280.150  3
    END-POINT 164109.175          67450.000          106280.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6I                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164109.175          67450.000          106280.150  3  
    END-POINT 164109.175          67564.300          106394.450  3  
    CENTRE-POINT  164109.175          67450.000          106394.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 164109.175          67564.300          106394.450  3
    END-POINT 164109.175          67564.300          106394.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6P                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164109.175          69740.339          106394.450  3  BW
    END-POINT 164109.175          67564.300          106394.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 164109.175  67800.000 106394.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6T                 
    TAG                         S01-A-3-3                       
FLOW-ARROW
    CO-ORDS 164109.175  68817.268 106394.450 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 164109.175          69740.339          106394.450  3
    END-POINT 164109.175          69740.339          106394.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6O                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164109.175          69740.339          106394.450  3  
    END-POINT 164109.175          69854.639          106508.750  3  
    CENTRE-POINT  164109.175          69854.639          106394.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6L                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 164109.175          69854.639          106508.750  3
    END-POINT 164109.175          69854.639          106508.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I77                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164109.175          69854.639          107300.150  3  BW
    END-POINT 164109.175          69854.639          106508.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I75                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164109.175          69854.639          107300.150  3
    END-POINT 164109.175          69854.639          107300.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I76                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163994.875          69854.639          107414.450  3  
    END-POINT 164109.175          69854.639          107300.150  3  
    CENTRE-POINT  164109.175          69854.639          107414.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163994.875          69854.639          107414.450  3
    END-POINT 163994.875          69854.639          107414.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6W                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163994.875          69854.639          107414.450  3  BW
    END-POINT 158532.487          69854.639          107414.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6V                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 160000.000  69854.639 107414.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6Z                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 163000.000  69854.639 107414.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I71                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 158532.487          69854.639          107414.450  3
    END-POINT 158532.487          69854.639          107414.450  3
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K6V                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 152810.461          69854.639          107414.450  3  
    END-POINT 158532.487          69854.639          107414.450  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DC2                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 156000.000  69854.639 107414.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DQI                 
    TAG                         S01-A-3-3                       
END-CONNECTION-PIPELINE 
    CO-ORDS 152810.461          69854.639          107414.450 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0004-01
MATERIALS
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
