ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0034-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0035-6"
    ATTRIBUTE83   12E-PE-0030-8"
    ATTRIBUTE84   C210-4902-12E-0006-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0034-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 145450.063          69112.188          103704.567  8  BW
    END-POINT 147172.138          69112.528          103704.482  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CG5                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 146196.875  69112.335 103704.530 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 145450.063          69112.188          103704.567  8
    END-POINT 145450.063          69112.188          103704.567  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DWL                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 147172.138          69112.528          103704.482  8
    END-POINT 147172.138          69112.528          103704.482  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFH                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 143131.275          69112.188          103704.567  8  
    END-POINT 145450.063          69112.188          103704.567  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C77                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 144000.000  69112.188 103704.567  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DWI                 
    TAG                         RP02-6-8                        
END-CONNECTION-PIPELINE 
    CO-ORDS 143131.275          69112.188          103704.567 
    PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0005-01
TEE
    END-POINT 147172.138          69112.528          103704.482  8  
    END-POINT 147527.738          69112.528          103704.482  8  
    CENTRE-POINT  147349.938          69112.528          103704.482 
    BRANCH1-POINT 147349.938          69112.528          103882.282  8  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR8X8
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 147527.738          69112.528          103704.482  8
    END-POINT 147527.738          69112.528          103704.482  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFI                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 147349.938          69112.528          103882.282  8
    END-POINT 147349.938          69112.528          103882.282  8
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA1                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 147527.738          69112.528          103704.482  8  
    END-POINT 147680.138          69112.528          103679.082  6  
    SKEY REBW
    CONTINUATION 
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 147680.138          69112.528          103679.082 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0004-01
PIPE
    END-POINT 147349.938          69112.528          103882.282  8  
    END-POINT 147349.938          69112.528          105231.044  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 147349.938  69112.528 104618.960 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 147349.938          69112.528          105231.044 
    PIPELINE-REFERENCE C210-4910-12E-PE-0030-PRM-0004-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE TEESTR8X8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
