ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-PE-0033-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   HEADER #2 
    ATTRIBUTE83   12E-PE-0030-8"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0033-6"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 152840.138          69112.528          103161.430  2  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CG4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT 152840.138          69112.528          103129.680  2
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS 152840.138          69112.528          103129.680 
GASKET
    END-POINT 152840.138          69112.528          103164.605  2
    END-POINT 152840.138          69112.528          103161.430  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CG2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 152840.138          69112.528          103164.605 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CG3                 
VALVE
    END-POINT 152840.138          69112.528          103456.705  2  
    END-POINT 152840.138          69112.528          103164.605  2  
    CENTRE-POINT  152840.138          69112.528          103310.655 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CG0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 152840.138          69112.528          103459.880  2
    END-POINT 152840.138          69112.528          103456.705  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 152840.138          69112.528          103459.880 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFZ                 
FLANGE
    END-POINT 152840.138          69112.528          103459.880  2  
    END-POINT 152840.138          69112.528          103539.382  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFX                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152840.138          69112.528          103539.382  2
    END-POINT 152840.138          69112.528          103539.382  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFW                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     152840.138  69112.528 103679.082 
    BRANCH1-POINT 152840.138          69112.528          103539.382  2  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL6X2
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFV                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152840.138  69112.528 103679.082  6
    END-POINT 152840.138  69112.528 103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFU                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 147680.138          69112.528          103679.082  6  BW
    END-POINT 158400.105          69112.528          103679.082  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFL                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 156000.276  69112.528 103679.082  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFN                 
    TAG                         S01-B-3-6                       
SUPPORT
    CO-ORDS 148000.000  69112.528 103679.082  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFO                 
    TAG                         S01-B-3-6                       
SUPPORT
    CO-ORDS 152000.000  69112.528 103679.082  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFP                 
    TAG                         S01-B-3-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 154802.968  69112.528 103679.082 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 147680.138          69112.528          103679.082  6
    END-POINT 147680.138          69112.528          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFK                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 158400.105          69112.528          103679.082  6
    END-POINT 158400.105          69112.528          103679.082  6
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IT7                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 158400.105          69112.528          103679.082  6  
    END-POINT 160908.790          69112.528          103679.082  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GK5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 159671.624  69112.528 103679.082 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 160000.105  69112.528 103679.082  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GK7                 
    TAG                         S01-B-3-6                       
END-CONNECTION-PIPELINE 
    CO-ORDS 160908.790          69112.528          103679.082 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0003-01
REDUCER-ECCENTRIC
    END-POINT 147527.738          69112.528          103704.482  8  
    END-POINT 147680.138          69112.528          103679.082  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 147527.738          69112.528          103704.482  8
    END-POINT 147527.738          69112.528          103704.482  8
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFI                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 147172.138          69112.528          103704.482  8  
    END-POINT 147527.738          69112.528          103704.482  8  
    CENTRE-POINT  147349.938          69112.528          103704.482 
    BRANCH1-POINT 147349.938          69112.528          103882.282  8  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 147172.138          69112.528          103704.482 
    PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0004-01
MATERIALS
ITEM-CODE FLGBLD2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING 600LB
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT2
    BOLT_DIA 15.875
    BOLT_LEN 110
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE WOL6X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION WELDOLET , SCH 160, A105N, NACE
    RATING 80
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-6
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE REDECC8X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80, NACE
    RATING 80
