ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-CG-0020-PRM-0004-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0019-4"
    ATTRIBUTE83   12E-CG-0016-4"
    ATTRIBUTE84   C210-4902-12E-0006-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0020-6"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 156817.700          68663.188          107745.117  1  
    END-POINT 156817.700          68663.188          107773.820  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EH7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS 156817.700          68663.188          107773.820 
VALVE
    END-POINT 156817.700          68663.188          107666.867  1  SW FEMALE 
    END-POINT 156817.700          68663.188          107745.117  1  
    CENTRE-POINT  156817.700          68663.188          107709.168 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EH3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 156817.700          68663.188          107666.867  1
    END-POINT 156817.700          68663.188          107666.867  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EH4                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 156817.700          68663.188          107565.268  1  
    END-POINT 156817.700          68663.188          107666.867  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EH0                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 156817.700          68663.188          107565.268  1
    END-POINT 156817.700          68663.188          107565.268  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHL                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     156817.700  68663.188 107454.138 
    BRANCH1-POINT 156817.700          68663.188          107565.268  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHI                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 156817.700  68663.188 107454.138  6
    END-POINT 156817.700  68663.188 107454.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHK                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 156721.700          68663.188          107454.138  6  BW
    END-POINT 158550.400          68663.188          107454.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHE                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 157534.219  68663.188 107454.138 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 156721.700          68663.188          107454.138  6
    END-POINT 156721.700          68663.188          107454.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 158550.400          68663.188          107454.138  6
    END-POINT 158550.400          68663.188          107454.138  6
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5W                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163329.400          68663.188          107454.138  6  
    END-POINT 158550.400          68663.188          107454.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_H67                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163000.400  68663.188 107454.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JZA                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 160000.400  68663.188 107454.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JZG                 
    TAG                         S01-A-3-6                       
END-CONNECTION-PIPELINE 
    CO-ORDS 163329.400          68663.188          107454.138 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0003-01
ELBOW
    END-POINT 156493.100          68663.188          107225.538  6  
    END-POINT 156721.700          68663.188          107454.138  6  
    CENTRE-POINT  156493.100          68663.188          107454.138 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C01                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 156493.100          68663.188          107225.538  6
    END-POINT 156493.100          68663.188          107225.538  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 156493.100          68663.188          104894.872  6  BW
    END-POINT 156493.100          68663.188          107225.538  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 156493.100          68663.188          104894.872  6
    END-POINT 156493.100          68663.188          104894.872  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZX                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 156493.100          68663.188          104894.872  6  
    END-POINT 156493.100          68663.188          104609.376  6  
    CENTRE-POINT  156493.100          68663.188          104752.124 
    BRANCH1-POINT 156493.100          68533.140          104752.124  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 156493.100          68663.188          104609.376  6
    END-POINT 156493.100          68663.188          104609.376  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZV                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 156493.100          68533.140          104752.124  4
    END-POINT 156493.100          68533.140          104752.124  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D8Z                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 156493.100          68202.402          104752.124  4  
    END-POINT 156493.100          68533.140          104752.124  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D69                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 156493.100          68202.402          104752.124 
    PIPELINE-REFERENCE C210-4910-12E-PE-0036-PRM-0004-01
PIPE
    END-POINT 156493.100          68663.188          104609.376  6  BW
    END-POINT 156493.100          68663.188          103771.885  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZU                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 156493.100          68663.188          103771.885  6
    END-POINT 156493.100          68663.188          103771.885  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZT                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 156350.352          68663.188          103629.137  6  
    END-POINT 156635.848          68663.188          103629.137  6  
    CENTRE-POINT  156493.100          68663.188          103629.137 
    BRANCH1-POINT 156493.100          68663.188          103771.885  6  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 156350.352          68663.188          103629.137 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0004-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL6X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE TEERED6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
