ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0048-PRM-0026-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0026.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0048-PRM-0026-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0047-4"
    ATTRIBUTE83   12E-WI-6001 (HEEL)
    ATTRIBUTE84   C210-4902-12E-0001-06
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-S-0048-4"-CHS
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 108956.976          86433.518          105019.276  2  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3O6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POINT 108956.976          86433.518          105051.026  2
    SKEY FLBL
GASKET
    END-POINT 108956.976          86433.518          105016.101  2
    END-POINT 108956.976          86433.518          105019.276  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3O4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 108956.976          86433.518          105016.101 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3O5                 
VALVE
    END-POINT 108956.976          86433.518          104724.001  2  
    END-POINT 108956.976          86433.518          105016.101  2  
    CENTRE-POINT  108956.976          86433.518          104870.051 
    SKEY VGFL
    FABRICATION-ITEM
    ITEM-CODE VALVGLB2
    WEIGHT          35.410
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3O2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT 108956.976          86433.518          104720.826  2
    END-POINT 108956.976          86433.518          104724.001  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3O0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 108956.976          86433.518          104720.826 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3O1                 
VALVE
    END-POINT 108956.976          86433.518          104428.726  2  
    END-POINT 108956.976          86433.518          104720.826  2  
    CENTRE-POINT  108956.976          86433.518          104574.776 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT 108956.976          86433.518          104425.551  2
    END-POINT 108956.976          86433.518          104428.726  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 108956.976          86433.518          104428.726 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NX                 
FLANGE
    END-POINT 108956.976          86433.518          104425.551  2  
    END-POINT 108956.976          86433.518          104346.049  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 108956.976          86433.518          104346.049  2
    END-POINT 108956.976          86433.518          104346.049  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NU                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 108956.976          86433.518          104246.049  2  BW
    END-POINT 108956.976          86433.518          104346.049  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 108956.976          86433.518          104246.049  2
    END-POINT 108956.976          86433.518          104246.049  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NS                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 108956.976          86328.870          104157.149  4  
    END-POINT 108956.976          86538.166          104157.149  4  
    CENTRE-POINT  108956.976          86433.518          104157.149 
    BRANCH1-POINT 108956.976          86433.518          104246.049  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X2
    WEIGHT          15.300
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 108956.976          86328.870          104157.149  4
    END-POINT 108956.976          86328.870          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3UJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 108956.976          86538.166          104157.149  4
    END-POINT 108956.976          86538.166          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NP                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 108956.976          86538.166          104157.149  4  BW
    END-POINT 108956.976          87333.520          104157.149  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 108956.976  86803.100 104157.149  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3NO                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 108956.976          87333.520          104157.149  4
    END-POINT 108956.976          87333.520          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3WG                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 108956.976          87441.470          104157.149  4  
    END-POINT 108956.976          87333.520          104157.149  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3W7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 108956.976          87441.470          104157.149  4
    END-POINT 108956.976          87444.650          104157.149  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3W8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 108956.976          87441.470          104157.149 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3W9                 
FLANGE
    END-POINT 108956.976          87444.650          104157.149  4  
    END-POINT 108956.976          87552.600          104157.149  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FFGH1X5U_3HD                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 108956.976          87552.600          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0048-SB-0006-01
PIPE
    END-POINT 108956.976          86028.869          104157.149  4  BW
    END-POINT 108956.976          86328.870          104157.149  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3UH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 108956.976          86028.869          104157.149  4
    END-POINT 108956.976          86028.869          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3UI                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 108956.976          85920.919          104157.149  4  
    END-POINT 108956.976          86028.869          104157.149  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3UE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 108956.976          85917.739          104157.149  4
    END-POINT 108956.976          85920.919          104157.149  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3WJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 108956.976          85917.739          104157.149 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3WK                 
VALVE
    END-POINT 108956.976          85485.939          104157.149  4  
    END-POINT 108956.976          85917.739          104157.149  4  
    CENTRE-POINT  108956.976          85701.839          104157.149 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3WI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 108956.976          85482.759          104157.149  4
    END-POINT 108956.976          85485.939          104157.149  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3WO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 108956.976          85485.939          104157.149 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3WP                 
FLANGE
    END-POINT 108956.976          85482.759          104157.149  4  
    END-POINT 108956.976          85374.809          104157.149  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3WN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 108956.976          85374.809          104157.149  4
    END-POINT 108956.976          85374.809          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3WQ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 108956.976          85374.809          104157.149  4  BW
    END-POINT 108956.975          73100.034          104157.149  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3TZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 108956.975  81800.833 104157.149  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3U4                 
    TAG                         S01-A-6-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 108956.975  76800.833 104157.149  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3U6                 
    TAG                         S01-A-3-4                       
FLOW-ARROW
    CO-ORDS 108956.975  74941.768 104157.149 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 108956.975          73100.034          104157.149  4
    END-POINT 108956.975          73100.034          104157.149  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3VP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 108956.975          71737.000          104157.149  4  
    END-POINT 108956.975          73100.034          104157.149  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DC4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 108956.975  72800.002 104157.149  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DC5                 
    TAG                         S01-A-3-4                       
FLOW-ARROW
    CO-ORDS 108956.975  72520.431 104157.149 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 108956.975          71737.000          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0048-PRM-0006-01
MATERIALS
ITEM-CODE FLGBLD2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING 600LB
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT2
    BOLT_DIA 15.875
    BOLT_LEN 110
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGLB2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.34
    DESCRIPTION GLOBE VALVE RF, A216-WCB, CL600  , GL-600HS, NACE
    RATING 600LB
ITEM-CODE VALVGAT2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING 160
ITEM-CODE TEERED4X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80 x SCH 160, NACE
    RATING 80
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
