ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0001-PRM-0004-01
PIPING-SPEC DH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   10
    ATTRIBUTE34   C210-4910-12E-S-0001-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   100
    ATTRIBUTE72   1.6
    ATTRIBUTE73   11032
    ATTRIBUTE74   319
    ATTRIBUTE80   -29
    ATTRIBUTE82   14-S-1009-10"
    ATTRIBUTE83   12E-S-0002-10"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   50
    ATTRIBUTE96   DH
    ATTRIBUTE95   12E-S-0001-10"-DH
    ATTRIBUTE97   S
    ATTRIBUTE98   -
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 157461.742          71292.177          106829.890  1  
    END-POINT 157461.742          71292.177          106858.592  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2V                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 157461.742          71292.177          106858.592 
VALVE
    END-POINT 157461.742          71292.177          106751.640  1  SW FEMALE 
    END-POINT 157461.742          71292.177          106829.890  1  
    CENTRE-POINT  157461.742          71292.177          106793.940 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2R                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 157461.742          71292.177          106751.640  1
    END-POINT 157461.742          71292.177          106751.640  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2S                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DH
    INSULATION-ON 
COUPLING
    END-POINT 157461.742          71292.177          106650.040  1  
    END-POINT 157461.742          71292.177          106751.640  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2P                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 157461.742          71292.177          106650.040  1
    END-POINT 157461.742          71292.177          106650.040  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2Q                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DH
    INSULATION-ON 
OLET
    CENTRE-POINT     157461.742  71292.177 106486.525 
    BRANCH1-POINT 157461.742          71292.177          106650.040  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL10X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2M                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 157461.742  71292.177 106486.525  10
    END-POINT 157461.742  71292.177 106486.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2O                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
PIPE
    END-POINT 157311.742          71292.178          106486.525  10  BW
    END-POINT 157561.742          71292.176          106486.525  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT         114.750
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2I                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 157311.742          71292.178          106486.525  10
    END-POINT 157311.742          71292.178          106486.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLX                 
    THICKNESS/RATING 100
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
WELD
    END-POINT 157561.742          71292.176          106486.525  10
    END-POINT 157561.742          71292.176          106486.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2L                 
    THICKNESS/RATING SCH 100
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
CAP
    END-POINT 157561.742          71292.176          106486.525  10  
    END-POINT 157688.742          71292.176          106486.525  10
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP10
    WEIGHT          17.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E2K                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 157688.742          71292.176          106486.525 
TEE
    END-POINT 156879.942          71292.180          106486.525  10  
    END-POINT 157311.742          71292.178          106486.525  10  
    CENTRE-POINT  157095.842          71292.179          106486.525 
    BRANCH1-POINT 157095.843          71444.843          106333.861  10  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR10X10
    WEIGHT          72.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CNH                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 156879.942          71292.180          106486.525  10
    END-POINT 156879.942          71292.180          106486.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLW                 
    THICKNESS/RATING 100
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
WELD
    END-POINT 157095.843          71444.843          106333.861  10
    END-POINT 157095.843          71444.843          106333.861  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLZ                 
    THICKNESS/RATING 100
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
ELBOW
    END-POINT 157095.843          71444.843          106333.861  10  
    END-POINT 157095.843          71557.097          106062.857  10  
    CENTRE-POINT  157095.843          71557.097          106221.607 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR10
    WEIGHT          36.720
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CNK                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT 157095.843          71557.097          106062.857  10
    END-POINT 157095.843          71557.097          106062.857  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLY                 
    THICKNESS/RATING 100
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
PIPE
    END-POINT 157095.843          71557.097          104104.950  10  BW
    END-POINT 157095.843          71557.097          106062.857  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT         114.750
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CNM                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 157095.843          71557.097          104104.950  10
    END-POINT 157095.843          71557.097          104104.950  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FM0                 
    THICKNESS/RATING 900LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
VALVE
    END-POINT 157095.843          71557.097          103317.550  10  
    END-POINT 157095.843          71557.097          104104.950  10  
    CENTRE-POINT  157095.843          71557.097          103711.250 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT10
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CNO                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 157095.843          71557.097          103317.550  10
    END-POINT 157095.843          71557.097          103317.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FM1                 
    THICKNESS/RATING 900LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
ELBOW
    END-POINT 157095.843          71557.097          103317.550  10  
    END-POINT 156714.843          71557.097          102936.550  10  
    CENTRE-POINT  157095.843          71557.097          102936.550 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR10
    WEIGHT          72.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CNR                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 156714.843          71557.097          102936.550  10
    END-POINT 156714.843          71557.097          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CNS                 
    THICKNESS/RATING 100
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
PIPE
    END-POINT 156714.843          71557.097          102936.550  10  
    END-POINT 156215.900          71557.097          102936.550  10  
    CONTINUATION 
    WEIGHT         114.750
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CNT                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 156313.496  71557.097 102936.550 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 156215.900          71557.097          102936.550 
    PIPELINE-REFERENCE C210-4910-12E-S-0001-PRM-0004-02
PIPE
    END-POINT 145450.155          71292.245          106486.525  10  BW
    END-POINT 156879.942          71292.180          106486.525  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT         114.750
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_AFY                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 148000.000  71292.229 106486.525  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DMJ                 
    TAG                         S02-A-3-10                      
SUPPORT
    CO-ORDS 156000.000  71292.185 106486.525  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DMN                 
    TAG                         S02-A-3-10                      
    ADDITIONAL-ITEM
    SIZE  10
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 153291.230  71292.201 106486.525 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 152000.000  71292.208 106486.525  10
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FON                 
    TAG                         RP02-3-10                       
SUPPORT
    CO-ORDS 152000.000  71292.208 106486.525  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FOP                 
    TAG                         S03-A-3-10                      
    ADDITIONAL-ITEM
    SIZE  10
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 145450.155          71292.245          106486.525  10
    END-POINT 145450.155          71292.245          106486.525  10
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FR6                 
    THICKNESS/RATING SCH 100
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DH
    INSULATION-ON 
PIPE
    END-POINT 145450.155          71292.245          106486.525  10  
    END-POINT 123599.889          71292.240          106486.525  10  
    CONTINUATION 
    WEIGHT         114.750
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FQJ                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 131999.889  71292.242 106486.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FQO                 
    TAG                         S02-A-3-10                      
SUPPORT
    CO-ORDS 138000.000  71292.243 106486.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FQQ                 
    TAG                         S02-A-3-10                      
FLOW-ARROW
    CO-ORDS 134744.260  71292.242 106486.525 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 143999.889  71292.244 106486.525  10
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FQU                 
    TAG                         RP02-6-10                       
SUPPORT
    CO-ORDS 143999.889  71292.244 106486.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FQW                 
    TAG                         S03-A-6-10                      
SUPPORT
    CO-ORDS 126000.000  71292.240 106486.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FR2                 
    TAG                         S02-A-4-10                      
END-CONNECTION-PIPELINE 
    CO-ORDS 123599.889          71292.240          106486.525 
    PIPELINE-REFERENCE C210-4910-12E-S-0001-PRM-0005-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL1500  , GA-1515STW
    RATING CL1500
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG
    RATING SCH XXS
ITEM-CODE SOL10X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N
    RATING CL6000
ITEM-CODE PIP10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 100
    RATING SCH 100
ITEM-CODE CAP10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9
    DESCRIPTION CAP BW, SCH 100, A234-WPB
    RATING SCH 100
ITEM-CODE TEESTR10X10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 100
    RATING 100
ITEM-CODE 45LLR10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 100
    RATING 100
ITEM-CODE VALVGAT10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL900, GA-932STPG
    RATING 900LB
ITEM-CODE 90LLR10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 100
    RATING 100
ITEM-CODE SUPTS-10
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-3-10
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPPS-10
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-10
ITEM-CODE SUPTS-10_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-A-3-10
