ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0031-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0030-8"
    ATTRIBUTE83   14-PE-1007-8"
    ATTRIBUTE84   C210-4902-12E-0007-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0031-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 150548.311          70552.588          105845.528  0.75  
    END-POINT 150548.311          70552.588          105870.928  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EP2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 150548.311          70552.588          105783.976  0.75  SW FEMALE 
    END-POINT 150548.311          70552.588          105845.528  0.75  
    CENTRE-POINT  150548.311          70552.588          105816.276 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 150548.311          70552.588          105783.976  0.75
    END-POINT 150548.311          70552.588          105783.976  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EP0                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 150548.311          70552.588          105670.250  0.75  BW
    END-POINT 150548.311          70552.588          105783.976  0.75  PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           2.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    CUT-PIECE-ALLOWANCE EP2 1.0260
WELD
    END-POINT 150548.311          70552.588          105670.250  0.75
    END-POINT 150548.311          70552.588          105670.250  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOY                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE-BLIND
    END-POINT 150548.311          70552.588          105639.526  2  
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EP6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 150548.311          70552.588          105670.250  2
    END-POINT 150548.311          70552.588          105671.276  2  PL
    SKEY FLBL
MESSAGE-SQUARE
    CO-ORDS 150548.311  70552.588 105671.276 
    TEXT SP-093
    UNDIMENSIONED
GASKET
    END-POINT 150548.311          70552.588          105639.526  2
    END-POINT 150548.311          70552.588          105636.346  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EP7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 150548.311          70552.588          105636.346 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EP8                 
FLANGE
    END-POINT 150548.311          70552.588          105636.346  2  
    END-POINT 150548.311          70552.588          105556.844  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EP5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 150548.311          70552.588          105556.844  2
    END-POINT 150548.311          70552.588          105556.844  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPA                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     150548.311  70552.588 105409.204 
    BRANCH1-POINT 150548.311          70552.588          105556.844  2  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X2
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EO5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 150548.311  70552.588 105409.204  8
    END-POINT 150548.311  70552.588 105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EO7                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 154229.040          70552.588          105409.204  8  BW
    END-POINT 149688.016          70552.588          105409.204  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 152000.016  70552.588 105409.204  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPE                 
    TAG                         S02-B-3-8                       
FLOW-ARROW
    CO-ORDS 152648.822  70552.588 105409.204 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 154229.040          70552.588          105409.204  8
    END-POINT 154229.040          70552.588          105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EO0                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149688.016          70552.588          105409.204  8
    END-POINT 149688.016          70552.588          105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EO1                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 150098.311  70552.588 105409.204  8
    END-POINT 150098.311  70552.588 105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EO4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 153663.856  70552.588 105409.204  8
    END-POINT 153663.856  70552.588 105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOA                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 154126.516  70552.588 105409.204  8
    END-POINT 154126.516  70552.588 105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPM                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 153926.516  70552.588 105409.204  8
    END-POINT 153926.516  70552.588 105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPP                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149848.311  70552.588 105409.204  8
    END-POINT 149848.311  70552.588 105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     149848.311  70552.588 105409.204 
    BRANCH1-POINT 149848.311          70552.588          105563.194  3  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X3
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149848.311          70552.588          105563.194  3
    END-POINT 149848.311          70552.588          105563.194  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQ1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 149848.311          70552.588          105851.284  3  
    END-POINT 149848.311          70552.588          105563.194  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 149848.311          70552.588          105851.284 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0004-02
OLET
    CENTRE-POINT     153926.516  70552.588 105409.204 
    BRANCH1-POINT 153926.516          70552.588          105542.554  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL8X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 153926.516          70552.588          105542.554  0.75
    END-POINT 153926.516          70552.588          105542.554  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPU                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 153926.516          70552.588          105542.554  0.75  
    END-POINT 153926.516          70552.588          105644.154  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 153926.516          70552.588          105644.154  0.75
    END-POINT 153926.516          70552.588          105644.154  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPV                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 153926.516          70552.588          105644.154  0.75  SW FEMALE 
    END-POINT 153926.516          70552.588          105725.688  0.75  
    END-POINT 153926.516          70511.821          105686.445  0.5  
    CENTRE-POINT  153926.516          70552.588          105686.445 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ELG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 153926.516          70511.821          105686.445  0.5  
    END-POINT 153926.516          70489.723          105686.445  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ELJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 153926.516          70552.588          105725.688  0.75  
    END-POINT 153926.516          70552.588          105751.088  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ELL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 153926.516  70552.588 105741.436 
    TEXT 12E$PIT$0127
    UNDIMENSIONED
OLET
    CENTRE-POINT     154126.516  70552.588 105409.204 
    BRANCH1-POINT 154126.516          70552.588          105542.554  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL8X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 154126.516          70552.588          105542.554  0.75
    END-POINT 154126.516          70552.588          105542.554  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPR                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 154126.516          70552.588          105542.554  0.75  
    END-POINT 154126.516          70552.588          105644.154  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 154126.516          70552.588          105644.154  0.75
    END-POINT 154126.516          70552.588          105644.154  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPS                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 154126.516          70552.588          105644.154  0.75  SW FEMALE 
    END-POINT 154126.516          70552.588          105725.688  0.75  
    END-POINT 154126.516          70511.821          105686.445  0.5  
    CENTRE-POINT  154126.516          70552.588          105686.445 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ELP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 154126.516          70511.821          105686.445  0.5  
    END-POINT 154126.516          70489.723          105686.445  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ELS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 154126.516          70552.588          105725.688  0.75  
    END-POINT 154126.516          70552.588          105751.088  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ELU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 154126.516  70552.588 105741.436 
    TEXT 12E$PIT$0128
    UNDIMENSIONED
OLET
    CENTRE-POINT     153663.856  70552.588 105409.204 
    BRANCH1-POINT 153663.856          70552.588          105556.844  2  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X2
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EO8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 153663.856          70552.588          105556.844  2
    END-POINT 153663.856          70552.588          105556.844  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 153663.856          70552.588          105636.346  2  
    END-POINT 153663.856          70552.588          105556.844  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 153663.856          70552.588          105639.526  2
    END-POINT 153663.856          70552.588          105636.346  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 153663.856          70552.588          105636.346 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOH                 
FLANGE-BLIND
    END-POINT 153663.856          70552.588          105639.526  2  
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 153663.856          70552.588          105670.250  2
    END-POINT 153663.856          70552.588          105671.276  2  PL
    SKEY FLBL
MESSAGE-SQUARE
    CO-ORDS 153663.856  70552.588 105671.276 
    TEXT SP-093
    UNDIMENSIONED
WELD
    END-POINT 153663.856          70552.588          105670.250  0.75
    END-POINT 153663.856          70552.588          105670.250  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOP                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 153663.856          70552.588          105670.250  0.75  BW
    END-POINT 153663.856          70552.588          105783.976  0.75  PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           2.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    CUT-PIECE-ALLOWANCE EP2 1.0260
WELD
    END-POINT 153663.856          70552.588          105783.976  0.75
    END-POINT 153663.856          70552.588          105783.976  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOR                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 153663.856          70552.588          105783.976  0.75  SW FEMALE 
    END-POINT 153663.856          70552.588          105845.528  0.75  
    CENTRE-POINT  153663.856          70552.588          105816.276 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 153663.856          70552.588          105845.528  0.75  
    END-POINT 153663.856          70552.588          105870.928  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EOU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
OLET
    CENTRE-POINT     150098.311  70552.588 105409.204 
    BRANCH1-POINT 150098.311          70552.588          105563.194  3  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X3
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EO2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 150098.311          70552.588          105563.194  3
    END-POINT 150098.311          70552.588          105563.194  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPC                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 150098.311          70552.588          105563.194  3  BW
    END-POINT 150098.311          70552.588          106116.856  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 150098.311          70552.588          106116.856  3
    END-POINT 150098.311          70552.588          106116.856  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPD                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 150098.311          70552.588          106205.756  3  
    END-POINT 150098.311          70552.588          106116.856  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C28                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 150098.311          70552.588          106208.931  3
    END-POINT 150098.311          70552.588          106205.756  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C26                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
VALVE
    END-POINT 150098.311          70552.588          106564.531  3  
    END-POINT 150098.311          70552.588          106208.931  3  
    CENTRE-POINT  150098.311          70552.588          106386.731 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C24                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
END-CONNECTION-PIPELINE 
    CO-ORDS 150098.311          70552.588          106564.531 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0004-01
FLANGE
    END-POINT 149548.316          70552.588          105409.204  8  
    END-POINT 149688.016          70552.588          105409.204  8  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK8
    WEIGHT          52.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CY7                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 149548.316          70552.588          105409.204  8
    END-POINT 149545.136          70552.588          105409.204  8
    FABRICATION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CY8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 149548.316          70552.588          105409.204 
    BOLT-DIA           1.125
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.500
    WEIGHT          22.923
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CY9                 
VALVE
    END-POINT 148884.736          70552.588          105409.204  8  
    END-POINT 149545.136          70552.588          105409.204  8  
    CENTRE-POINT  149214.936          70552.588          105409.204 
    SKEY VTFL
    CONTINUATION 
    WEIGHT         463.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CAJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 148884.736          70552.588          105409.204 
    PIPELINE-REFERENCE C210-4910-12E-PE-0030-PRM-0004-01
FLANGE
    END-POINT 154368.740          70552.588          105409.204  8  
    END-POINT 154229.040          70552.588          105409.204  8  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK8
    WEIGHT          52.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EJU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 154368.740          70552.588          105409.204  8
    END-POINT 154371.920          70552.588          105409.204  8
    FABRICATION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 154368.740          70552.588          105409.204 
    BOLT-DIA           1.125
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.500
    WEIGHT          22.923
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX3                 
VALVE
    END-POINT 154371.920          70552.588          105409.204  8  
    END-POINT 155032.320          70552.588          105409.204  8  
    CENTRE-POINT  154702.120          70552.588          105409.204 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK8
    WEIGHT         390.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EWZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 155032.320          70552.588          105409.204  8
    END-POINT 155035.500          70552.588          105409.204  8
    FABRICATION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 155032.320          70552.588          105409.204 
    BOLT-DIA           1.125
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.500
    WEIGHT          22.923
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX1                 
FLANGE
    END-POINT 155035.500          70552.588          105409.204  8  
    END-POINT 155175.200          70552.588          105409.204  8  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          52.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EWE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 155175.200          70552.588          105409.204 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0004-02
MATERIALS
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A182 F316, CL800, GA-815SY3, NACE
    RATING CL800
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING CL600
    RATING 160
ITEM-CODE WOL8X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION WELDOLET , SCH 160, A105N, NACE
    RATING SCH 160
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
ITEM-CODE WOL8X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION WELDOLET , SCH 80, A105N, NACE
    RATING SCH 80
ITEM-CODE SOL8X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE FLGWNK8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 28.575
    BOLT_LEN 190.5
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 1 1/8 X 7 1/2 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVCHK8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
