ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0002-PRM-0008-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0002-PRM-0008-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging during warm-up period
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0001-4"
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0002-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 239049.757          68958.638          105257.150  4  BW
    END-POINT 239049.757          69647.540          105257.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DSK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 239049.757  69265.000 105257.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DSN                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 239049.757          68958.638          105257.150  4
    END-POINT 239049.757          68958.638          105257.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DSL                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 239049.757          69647.540          105257.150  4
    END-POINT 239049.757          69647.540          105257.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EVN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 239154.405          69752.188          105257.150  4  
    END-POINT 238945.109          69752.188          105257.150  4  
    CENTRE-POINT  239049.757          69752.188          105257.150 
    BRANCH1-POINT 239049.757          69647.540          105257.150  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 239154.405          69752.188          105257.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0001-PRM-0008-02
FLANGE
    END-POINT 239049.757          68850.688          105257.150  4  
    END-POINT 239049.757          68958.638          105257.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D54                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 239049.757          68850.688          105257.150  4
    END-POINT 239049.757          68847.513          105257.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D55                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 239049.757          68850.688          105257.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D56                 
VALVE
    END-POINT 239049.757          68847.513          105257.150  4  
    END-POINT 239049.757          68415.713          105257.150  4  
    CENTRE-POINT  239049.757          68631.613          105257.150 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 239049.757          68412.538          105257.150  4
    END-POINT 239049.757          68415.713          105257.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D52                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 239049.757          68412.538          105257.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D53                 
FLANGE
    END-POINT 239049.757          68412.538          105257.150  4  
    END-POINT 239049.757          68304.588          105257.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D51                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239049.757          68304.588          105257.150  4
    END-POINT 239049.757          68304.588          105257.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D57                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 239049.757          68304.588          105257.150  4  
    END-POINT 239049.757          68152.188          105104.750  4  
    CENTRE-POINT  239049.757          68152.188          105257.150 
    BRANCH1-POINT 239049.757  68152.188 105244.500  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 239049.757  67968.855 105244.500  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D4S                 
    TAG                         DS03-B-2-4                      
PIPE
    END-POINT 239049.757          68152.188          105244.500  89  BW
    END-POINT 239049.757  67602.188 105244.500  89  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 239049.757  67602.188 105244.500 
MESSAGE
    CO-ORDS 239049.757  67800.000 105244.500 
    TEXT PS
WELD
    END-POINT 239049.757          68152.188          105104.750  4
    END-POINT 239049.757          68152.188          105104.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ECA                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 239049.757          68152.188          105104.750  4  BW
    END-POINT 239049.757          68152.188          104868.035  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EC9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239049.757          68152.188          104868.035  4
    END-POINT 239049.757          68152.188          104868.035  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ECB                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 239049.757          68152.188          104760.085  4  
    END-POINT 239049.757          68152.188          104868.035  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D4T                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 239049.757          68152.188          104760.085  4
    END-POINT 239049.757          68152.188          104756.910  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D4U                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 239049.757          68152.188          104760.085 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D4V                 
VALVE
    END-POINT 239049.757          68152.188          104756.910  4  
    END-POINT 239049.757          68152.188          104325.110  4  
    CENTRE-POINT  239049.757          68152.188          104541.010 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS 239049.757  68152.188 104541.010 
    TEXT NC
    UNDIMENSIONED
GASKET
    END-POINT 239049.757          68152.188          104321.935  4
    END-POINT 239049.757          68152.188          104325.110  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D4X                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 239049.757          68152.188          104321.935 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D4Y                 
FLANGE
    END-POINT 239049.757          68152.188          104321.935  4  
    END-POINT 239049.757          68152.188          104213.985  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D4W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239049.757          68152.188          104213.985  4
    END-POINT 239049.757          68152.188          104213.985  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D4Z                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 239049.757          68152.188          104213.985  4  
    END-POINT 239049.757          68304.588          104061.585  4  
    CENTRE-POINT  239049.757          68152.188          104061.585 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 239049.757          68304.588          104061.585  4
    END-POINT 239049.757          68304.588          104061.585  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FM0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 239049.757          68960.061          104061.585  4  BW
    END-POINT 239049.757          68304.588          104061.585  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FLY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 239049.757  68673.423 104061.585 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 239049.757          68960.061          104061.585  4
    END-POINT 239049.757          68960.061          104061.585  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FLZ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 239049.757          68960.061          104061.585  4  
    END-POINT 239049.757          69112.461          103909.185  4  
    CENTRE-POINT  239049.757          69112.461          104061.585 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FLW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 239049.757          69112.461          103909.185  4
    END-POINT 239049.757          69112.461          103909.185  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 239049.757          69112.461          103909.185  4  BW
    END-POINT 239049.985          69112.461          103809.188  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239049.985          69112.461          103809.188  4
    END-POINT 239049.985          69112.461          103809.188  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 238907.235          69112.461          103679.138  6  
    END-POINT 239192.735          69112.461          103679.138  6  
    CENTRE-POINT  239049.985          69112.461          103679.138 
    BRANCH1-POINT 239049.985          69112.461          103809.188  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FMC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 238907.235          69112.461          103679.138 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0008-01
MATERIALS
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT4
    BOLT_DIA 22.225
    BOLT_LEN 145
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING 600LB
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  550 mm DUMMY SUPPORT DS03-B-2-4
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
