ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0004-PRM-0003-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   10
    ATTRIBUTE34   C210-4910-12E-S-0004-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0002-10"
    ATTRIBUTE83   12E-S-0006-8"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0004-10"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
REDUCER-ECCENTRIC
    END-POINT 163785.143          70744.039          102936.656  10  
    END-POINT 163607.343          70744.039          102884.266  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC10X6
    WEIGHT          16.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JVM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 163785.143          70744.039          102936.656  10
    END-POINT 163785.143          70744.039          102936.656  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JVO                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 163607.343          70744.039          102884.266  6
    END-POINT 163607.343          70744.039          102884.266  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JVP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 163607.343          70744.039          102884.266  6  
    END-POINT 163378.743          70972.639          102884.266  6  
    CENTRE-POINT  163378.743          70744.039          102884.266 
    SKEY ELBW
    CONTINUATION 
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HRQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 163378.743          70972.639          102884.266 
    PIPELINE-REFERENCE C210-4910-12E-S-0010-PRM-0003-01
TEE
    END-POINT 164720.143          70744.039          102936.656  10  
    END-POINT 163785.143          70744.039          102936.656  10  
    CENTRE-POINT  164252.643          70744.039          102936.656 
    BRANCH1-POINT 164252.643          69590.939          102936.656  10  
    SKEY TEBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          72.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTJ                 
    TAG SP-090                          
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 164720.143          70744.039          102936.656  10
    END-POINT 164720.143          70744.039          102936.656  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JV3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 164252.643          69590.939          102936.656  10
    END-POINT 164252.643          69590.939          102936.656  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JU2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 164252.643          68802.094          102936.525  10  BW
    END-POINT 164252.643          69590.939          102936.656  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JU0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164252.643          68802.094          102936.525  10
    END-POINT 164252.643          68802.094          102936.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JU1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 163871.643          68421.094          102936.525  10  
    END-POINT 164252.643          68802.094          102936.525  10  
    CENTRE-POINT  164252.643          68421.094          102936.525 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR10
    WEIGHT          60.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163871.643          68421.094          102936.525  10
    END-POINT 163871.643          68421.094          102936.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTQ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 163871.643          68421.094          102936.525  10  BW
    END-POINT 158550.000          68421.094          102936.525  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 161273.772  68421.094 102936.525 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 160000.000  68421.094 102936.525  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTW                 
    TAG                         S02-A-3-10                      
SUPPORT
    CO-ORDS 163000.000  68421.094 102936.525  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTY                 
    TAG                         S02-A-3-10                      
WELD
    END-POINT 158550.000          68421.094          102936.525  10
    END-POINT 158550.000          68421.094          102936.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 147045.193          68421.094          102936.525  10  
    END-POINT 158550.000          68421.094          102936.525  10  
    CONTINUATION 
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 153859.642  68421.094 102936.525 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 148000.000  68421.094 102936.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUI                 
    TAG                         S02-A-3-10                      
SUPPORT
    CO-ORDS 152000.000  68421.094 102936.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUK                 
    TAG                         S03-A-6-10                      
SUPPORT
    CO-ORDS 156000.000  68421.094 102936.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUO                 
    TAG                         S02-A-3-10                      
SUPPORT
    CO-ORDS 148000.000  68421.094 102936.525  10
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUU                 
    TAG                         RP02-3-10                       
SUPPORT
    CO-ORDS 156000.000  68421.094 102936.525  10
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUW                 
    TAG                         RP02-3-10                       
SUPPORT
    CO-ORDS 152000.000  68421.094 102936.525  10
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUY                 
    TAG                         RP02-6-10                       
END-CONNECTION-PIPELINE 
    CO-ORDS 147045.193          68421.094          102936.525 
    PIPELINE-REFERENCE C210-4910-12E-S-0004-PRM-0004-01
REDUCER-ECCENTRIC
    END-POINT 164720.143          70744.039          102936.656  10  
    END-POINT 164897.943          70744.039          102909.666  8  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC10X8
    WEIGHT          17.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JV1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 164897.943          70744.039          102909.666  8
    END-POINT 164897.943          70744.039          102909.666  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JV6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 172880.381          70743.983          102909.642  8  
    END-POINT 164897.943          70744.039          102909.666  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JV4                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 168915.881  70744.011 102909.654 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 166000.000  70744.031 102909.663  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_J45                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 166000.000  70744.031 102909.663  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_J43                 
    TAG                         RP02-3-8                        
SUPPORT
    CO-ORDS 172000.000  70743.989 102909.645  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JVE                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 172000.000  70743.989 102909.645  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JVG                 
    TAG                         RP02-3-8                        
END-CONNECTION-PIPELINE 
    CO-ORDS 172880.381          70743.983          102909.642 
    PIPELINE-REFERENCE C210-4910-12E-S-0006-PRM-0003-01
MATERIALS
ITEM-CODE REDECC10X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING SCH 80
ITEM-CODE PIP10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE 90LLR10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-10
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-3-10
ITEM-CODE REDECC10X8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING SCH 80
