ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0051-PRM-0001-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-S-0051-PRM-0001-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0006-8"
    ATTRIBUTE83   12E-S-0007/0006-6"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0051-8"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 204695.349          69637.108          102909.941  8  BW
    END-POINT 202549.937          69637.108          102909.941  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BUZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 203999.734  69637.108 102909.941  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BV3                 
    TAG                         S02-A-4-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 203999.734  69637.108 102909.941  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EZX                 
    TAG                         RP02-4-8                        
WELD
    END-POINT 204695.349          69637.108          102909.941  8
    END-POINT 204695.349          69637.108          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BV0                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 202549.937          69637.108          102909.941  8
    END-POINT 202549.937          69637.108          102909.941  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EUL                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187497.516          69637.108          102909.941  8  
    END-POINT 202549.937          69637.108          102909.941  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 200000.168  69637.108 102909.941  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRV                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 194000.168  69637.108 102909.941  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRX                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 188000.168  69637.108 102909.941  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRZ                 
    TAG                         S02-A-3-8                       
FLOW-ARROW
    CO-ORDS 192238.750  69637.108 102909.941 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 187497.516          69637.108          102909.941 
    PIPELINE-REFERENCE C210-4910-12E-S-0051-PRM-0002-01
ELBOW
    END-POINT 204695.349          69637.108          102909.941  8  
    END-POINT 205000.149          69941.908          102909.941  8  
    CENTRE-POINT  205000.149          69637.108          102909.941 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BLX                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 205000.149          69941.908          102909.941  8
    END-POINT 205000.149          69941.908          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BMH                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 205000.149          69941.908          102909.941  8  BW
    END-POINT 205000.149          71739.508          102909.941  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BMG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 205000.149          71739.508          102909.941  8
    END-POINT 205000.149          71739.508          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BMI                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 205000.149          71739.508          102909.941  8  
    END-POINT 205304.949          72044.308          102909.941  8  
    CENTRE-POINT  205000.149          72044.308          102909.941 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BMD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 205304.949          72044.308          102909.941  8
    END-POINT 205304.949          72044.308          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BMV                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 205304.949          72044.308          102909.941  8  BW
    END-POINT 208695.445          72044.308          102909.941  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BMU                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 206999.875  72044.308 102909.941  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BV1                 
    TAG                         S02-A-3-8                       
WELD
    END-POINT 208695.445          72044.308          102909.941  8
    END-POINT 208695.445          72044.308          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BMZ                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 208695.445          72044.308          102909.941  8  
    END-POINT 209000.245          71739.508          102909.941  8  
    CENTRE-POINT  209000.245          72044.308          102909.941 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BMX                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 209000.245          71739.508          102909.941  8
    END-POINT 209000.245          71739.508          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BNO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 209000.245          71739.508          102909.941  8  BW
    END-POINT 209000.245          69869.147          102909.941  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BNN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 209000.245          69869.147          102909.941  8
    END-POINT 209000.245          69869.147          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BNP                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 209000.245          69869.147          102909.941  8  
    END-POINT 209305.045          69564.347          102909.941  8  
    CENTRE-POINT  209000.245          69564.347          102909.941 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BN3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 209305.045          69564.347          102909.941  8
    END-POINT 209305.045          69564.347          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EP7                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 215637.715          69564.347          102909.940  8  BW
    END-POINT 209305.045          69564.347          102909.941  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EP5                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 211944.701  69564.347 102909.941 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 213000.000  69564.347 102909.941  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EPC                 
    TAG                         S03-A-6-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE LS13
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 213000.000  69564.347 102909.941  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_F01                 
    TAG                         RP02-6-8                        
SUPPORT
    CO-ORDS 210000.561  69564.347 102909.941  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FTM                 
    TAG                         S02-A-3-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 210000.164  69564.347 102909.941  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FTR                 
    TAG                         RP02-3-8                        
WELD
    END-POINT 215637.715          69564.347          102909.940  8
    END-POINT 215637.715          69564.347          102909.940  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EP6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 215942.515          69869.147          102909.940  8  
    END-POINT 215637.715          69564.347          102909.940  8  
    CENTRE-POINT  215942.515          69564.347          102909.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BNL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 215942.515          69869.147          102909.940  8
    END-POINT 215942.515          69869.147          102909.940  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EP4                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 215573.515          70792.147          102909.940  8  
    END-POINT 216311.515          70792.147          102909.940  8  
    CENTRE-POINT  215942.515          70792.147          102909.940 
    BRANCH1-POINT 215942.515          69869.147          102909.940  8  
    SKEY TEBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BUS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
MESSAGE-SQUARE
    CO-ORDS 215942.515  70792.147 102909.940 
    TEXT SP-107
    UNDIMENSIONED
WELD
    END-POINT 215573.515          70792.147          102909.940  8
    END-POINT 215573.515          70792.147          102909.940  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EPH                 
    THICKNESS/RATING 99
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 216311.515          70792.147          102909.940  8
    END-POINT 216311.515          70792.147          102909.940  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_F03                 
    THICKNESS/RATING 99
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 216311.515          70792.147          102909.940  8  
    END-POINT 216463.915          70792.147          102884.540  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EOW                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 216463.915          70792.147          102884.540  6
    END-POINT 216463.915          70792.147          102884.540  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EOY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 216463.915          70792.147          102884.540  6  
    END-POINT 227000.000          70792.147          102884.540  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_E7F                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222000.000  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BO1                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 224999.632  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D7X                 
    TAG                         S01-A-3-6                       
FLOW-ARROW
    CO-ORDS 223856.635  70792.147 102884.540 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 218999.915  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FU9                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 219000.555  70792.147 102884.540  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FUG                 
    TAG                         RP02-3-6                        
END-CONNECTION-PIPELINE 
    CO-ORDS 227000.000          70792.147          102884.540 
    PIPELINE-REFERENCE C210-4910-12E-S-0007-PRM-0001-01
REDUCER-ECCENTRIC
    END-POINT 215573.515          70792.147          102909.940  8  
    END-POINT 215421.115          70792.147          102884.540  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EOZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 215421.115          70792.147          102884.540  6
    END-POINT 215421.115          70792.147          102884.540  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EP1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 215192.515          71020.747          102884.540  6  
    END-POINT 215421.115          70792.147          102884.540  6  
    CENTRE-POINT  215192.515          70792.147          102884.540 
    SKEY ELBW
    CONTINUATION 
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BN9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 215192.515          71020.747          102884.540 
    PIPELINE-REFERENCE C210-4910-12E-S-0008-PRM-0001-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-4-8
ITEM-CODE G22
    DESCRIPTION GUIDE FOR SHOE G22
ITEM-CODE SUPPS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-4-8
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE SUPTS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-3-8
ITEM-CODE SUPTS-8_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-A-6-8
ITEM-CODE LS13
    DESCRIPTION LINE STOP FOR SHOE LS13
ITEM-CODE SUPPS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-6-8
ITEM-CODE SUPPS-8_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-8
ITEM-CODE REDECC8X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING SCH 80
