ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0002-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-FG-0053-PRM-0002-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-PK-0102
    ATTRIBUTE83   FUEL GAS SUP. HDR.
    ATTRIBUTE84   C210-4902-12E-0013-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0053-2"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
OLET
    CENTRE-POINT     190777.029  72307.188 106380.163 
    BRANCH1-POINT 190777.029          72307.188          106329.361  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BO9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 190777.029  72307.188 106380.163  2
    END-POINT 190777.029  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BOC                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 190777.029          72307.188          106329.361  1
    END-POINT 190777.029          72307.188          106329.361  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BOH                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 190777.029          72307.188          105935.809  1  
    END-POINT 190777.029          72307.188          106329.361  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BOF                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 190777.029          72307.188          105935.809 
    PIPELINE-REFERENCE C210-4910-12E-FG-0013-PRM-0002-01
PIPE
    END-POINT 180403.511          72307.188          106380.163  2  BW
    END-POINT 202399.783          72307.188          106380.163  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_8YO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 200000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BOK                 
    TAG                         S01-A-4-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 188000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BOM                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 182000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BOQ                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11_1
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 194000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BOU                 
    TAG                         S01-A-4-2                       
FLOW-ARROW
    CO-ORDS 191933.480  72307.188 106380.163 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 180403.511          72307.188          106380.163  2
    END-POINT 180403.511          72307.188          106380.163  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C4V                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 202399.783          72307.188          106380.163  2
    END-POINT 202399.783          72307.188          106380.163  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G06                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 187671.008  72307.188 106380.163  2
    END-POINT 187671.008  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BNB                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 158401.571          72307.188          106380.163  2  
    END-POINT 180403.511          72307.188          106380.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_INK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 178000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_INU                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 172000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_INW                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 166000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_INY                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 160000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IO0                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS 168997.502  72307.188 106380.163 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 158401.571          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0003-01
PIPE
    END-POINT 202399.783          72307.188          106380.163  2  
    END-POINT 226800.000          72307.188          106380.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D6I                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 204000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D6V                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS 210000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D6X                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS 225000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D75                 
    TAG                         S01-A-6-2                       
SUPPORT
    CO-ORDS 216000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EIJ                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS 222000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EIQ                 
    TAG                         S01-A-4-2                       
FLOW-ARROW
    CO-ORDS 215068.354  72307.188 106380.163 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 226800.000          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0001-01
OLET
    CENTRE-POINT     187671.008  72307.188 106380.163 
    BRANCH1-POINT 187671.008          72307.188          106329.361  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BNA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187671.008          72307.188          106329.361  1
    END-POINT 187671.008          72307.188          106329.361  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BNE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 187671.008          72307.188          105934.973  1  
    END-POINT 187671.008          72307.188          106329.361  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BNC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 187671.008          72307.188          105934.973 
    PIPELINE-REFERENCE C210-4910-12E-FG-0012-PRM-0002-01
MATERIALS
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A350-LF2 CL1
    RATING CL3000
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-4-2
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
ITEM-CODE SUPTS-2_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE G11_1
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G11
