ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0046-PRM-0006-02
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0046-PRM-0006-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0012-6"
    ATTRIBUTE83   12E-WI-6001 (TOE)
    ATTRIBUTE84   C210-4902-12E-0001-06
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0046-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 110807.236          72327.296          103899.509  1  
    END-POINT 110807.236          72327.296          103870.807  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E2U                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 110807.236  72327.296 103880.459 
    TEXT HEAT TRACING AT$LOW POINT DRAINS$AND DEAD LEGS ONLY
    UNDIMENSIONED
VALVE
    END-POINT 110807.236          72327.296          103977.759  1  SW FEMALE 
    END-POINT 110807.236          72327.296          103899.509  1  
    CENTRE-POINT  110807.236          72327.296          103935.459 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E2Q                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 110807.236          72327.296          103977.759  1
    END-POINT 110807.236          72327.296          103977.759  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E2R                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 110807.236          72327.296          104079.359  1  
    END-POINT 110807.236          72327.296          103977.759  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E2O                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110807.236          72327.296          104079.359  1
    END-POINT 110807.236          72327.296          104079.359  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E2P                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     110807.236  72327.296 104144.449 
    BRANCH1-POINT 110807.236          72327.296          104079.359  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E1M                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110807.236  72327.296 104144.449  3
    END-POINT 110807.236  72327.296 104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E1O                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 112183.865          72327.296          104144.449  3  BW
    END-POINT 110601.636          72327.296          104144.449  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E1G                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 112183.865          72327.296          104144.449  3
    END-POINT 112183.865          72327.296          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQE                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 110601.636          72327.296          104144.449  3
    END-POINT 110601.636          72327.296          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E1I                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 110807.236  72327.296 104144.449  3
    END-POINT 110807.236  72327.296 104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E1L                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     110807.236  72327.296 104144.449 
    BRANCH1-POINT 110807.236          72327.296          104203.189  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E1J                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110807.236          72327.296          104203.189  0.75
    END-POINT 110807.236          72327.296          104203.189  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E2N                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 110807.236          72327.296          104304.789  0.75  
    END-POINT 110807.236          72327.296          104203.189  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E2M                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110807.236          72327.296          104304.789  0.75
    END-POINT 110807.236          72327.296          104304.789  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQK                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE-3WAY
    END-POINT 110807.236          72327.296          104304.789  0.75  SW FEMALE 
    END-POINT 110807.236          72327.296          104386.323  0.75  
    END-POINT 110766.469          72327.296          104347.080  0.5  
    CENTRE-POINT  110807.236          72327.296          104347.080 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 110766.469          72327.296          104347.080  0.5  
    END-POINT 110744.371          72327.296          104347.080  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 110807.236          72327.296          104386.323  0.75  
    END-POINT 110807.236          72327.296          104411.723  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 110807.236  72327.296 104402.071 
    UNDIMENSIONED
    TEXT 12E$PIT$6101
VALVE
    END-POINT 110601.636          72327.296          104144.449  3  
    END-POINT 110246.036          72327.296          104144.449  3  
    CENTRE-POINT  110423.836          72327.296          104144.449 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DGS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 45 UP
WELD
    END-POINT 110246.036          72327.296          104144.449  3
    END-POINT 110246.036          72327.296          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DGU                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 109671.036          72327.296          104144.449  3  BW
    END-POINT 110246.036          72327.296          104144.449  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DGV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 110000.000  72327.296 104144.449  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DGW                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 109671.036          72327.296          104144.449  3
    END-POINT 109671.036          72327.296          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DGX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 109671.036          72327.296          104144.449  3  
    END-POINT 109556.736          72441.596          104144.449  3  
    CENTRE-POINT  109556.736          72327.296          104144.449 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DGY                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 109556.736          72441.596          104144.449  3
    END-POINT 109556.736          72441.596          104144.449  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DGZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 109556.736          72441.596          104144.449  3  BW
    END-POINT 109556.736          73099.760          104144.449  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DH0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 109556.736  72799.975 104144.449  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DH1                 
    TAG                         S01-A-3-3                       
FLOW-ARROW
    CO-ORDS 109556.736  72819.780 104144.449 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 109556.736          73099.760          104144.449  3
    END-POINT 109556.736          73099.760          104144.449  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3VR                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 109556.736          85774.871          104144.449  3  
    END-POINT 109556.736          73099.760          104144.449  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3TL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 109556.736  74968.418 104144.449 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 109556.736  76800.833 104144.449  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3TS                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 109556.736  81800.833 104144.449  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3TU                 
    TAG                         S01-A-6-3                       
END-CONNECTION-PIPELINE 
    CO-ORDS 109556.736          85774.871          104144.449 
    PIPELINE-REFERENCE C210-4910-12E-S-0046-PRM-0026-01
FLANGE
    END-POINT 112272.765          72327.296          104144.449  3  
    END-POINT 112183.865          72327.296          104144.449  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 112272.765          72327.296          104144.449  3
    END-POINT 112275.945          72327.296          104144.449  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 112272.765          72327.296          104144.449 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQD                 
INSTRUMENT
    END-POINT 112565.945          72327.296          104144.449  3  
    END-POINT 112275.945          72327.296          104144.449  3  
    CENTRE-POINT  112420.945          72327.296          104144.449 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQ6                 
    TAG 12E$FE$6101                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 112565.945          72327.296          104144.449  3
    END-POINT 112569.125          72327.296          104144.449  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQ7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 112569.125          72327.296          104144.449  3  
    END-POINT 112658.025          72327.296          104144.449  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DFR                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 112658.025          72327.296          104144.449 
    PIPELINE-REFERENCE C210-4910-12E-S-0046-PRM-0006-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE SOL3X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING CL3000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, A105N, CL800, DB-805ST
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING 40
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
