ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0036-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0036-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0020-6"
    ATTRIBUTE83   12-PE-0039-4"
    ATTRIBUTE84   C210-4902-12E-0007-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0036-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE
    END-POINT 148357.252          68310.352          105841.727  4  
    END-POINT 148357.252          68202.402          105841.727  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DYB                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 148357.252          68313.532          105841.727  4
    END-POINT 148357.252          68310.352          105841.727  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZ7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
WELD
    END-POINT 148357.252          68202.402          105841.727  4
    END-POINT 148357.252          68202.402          105841.727  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8L                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 148357.252          68745.332          105841.727  4  
    END-POINT 148357.252          68313.532          105841.727  4  
    CENTRE-POINT  148357.252          68529.432          105841.727 
    SKEY VGFL
    CONTINUATION 
    WEIGHT         106.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DY6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 148357.252          68745.332          105841.727 
    PIPELINE-REFERENCE C210-4910-12E-PE-0036-PRM-0004-02
ELBOW
    END-POINT 148357.252          68202.402          105841.727  4  
    END-POINT 148357.252          68050.002          105689.327  4  
    CENTRE-POINT  148357.252          68050.002          105841.727 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CG8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 148357.252          68050.002          105689.327  4
    END-POINT 148357.252          68050.002          105689.327  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CG9                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 148357.252          68050.002          105689.327  4  BW
    END-POINT 148357.252          68050.002          104904.524  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGA                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 148357.252          68050.002          104904.524  4
    END-POINT 148357.252          68050.002          104904.524  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGB                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 148357.252          68050.002          104904.524  4  
    END-POINT 148509.652          68050.002          104752.124  4  
    CENTRE-POINT  148357.252          68050.002          104752.124 
    BRANCH1-POINT 148357.252  68050.002 104752.124  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 148157.252  68050.002 104752.124  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DMW                 
    TAG                         DS04-A-2-4                      
PIPE
    END-POINT 148357.252          68050.002          104752.124  89  BW
    END-POINT 147757.252  68050.002 104752.124  89  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 147757.252  68050.002 104752.124 
WELD
    END-POINT 148509.652          68050.002          104752.124  4
    END-POINT 148509.652          68050.002          104752.124  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGD                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 148509.652          68050.002          104752.124  4  BW
    END-POINT 156340.700          68050.002          104752.124  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGE                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 152000.000  68050.002 104752.124  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGF                 
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS 156000.000  68050.002 104752.124  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CGG                 
    TAG                         S01-B-3-4                       
FLOW-ARROW
    CO-ORDS 154200.920  68050.002 104752.124 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 156340.700          68050.002          104752.124  4
    END-POINT 156340.700          68050.002          104752.124  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DCS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 156340.700          68050.002          104752.124  4  
    END-POINT 156493.100          68202.402          104752.124  4  
    CENTRE-POINT  156493.100          68050.002          104752.124 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DCP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 156493.100          68202.402          104752.124  4
    END-POINT 156493.100          68202.402          104752.124  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DCR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 156493.100          68202.402          104752.124  4  BW
    END-POINT 156493.100          68533.140          104752.124  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D69                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 156493.100          68533.140          104752.124  4
    END-POINT 156493.100          68533.140          104752.124  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D8Z                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 156493.100          68663.188          104894.872  6  
    END-POINT 156493.100          68663.188          104609.376  6  
    CENTRE-POINT  156493.100          68663.188          104752.124 
    BRANCH1-POINT 156493.100          68533.140          104752.124  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 156493.100          68663.188          104894.872 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0004-01
MATERIALS
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  600 mm DUMMY LEG SUPPORT DS04-A-2-4
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
