ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0003-PRM-0004-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-S-0003-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0002-10"
    ATTRIBUTE83   12E-S-0005-8"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0003-8"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 145599.649          68421.494          102909.537  8  BW
    END-POINT 145932.393          68421.094          102909.537  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 145762.553  68421.298 102909.537 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 145599.649          68421.494          102909.537  8
    END-POINT 145599.649          68421.494          102909.537  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQS                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 145932.393          68421.094          102909.537  8
    END-POINT 145932.393          68421.094          102909.537  8
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 140041.250          68421.494          102909.537  8  
    END-POINT 145599.649          68421.494          102909.537  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 142768.635  68421.494 102909.537 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 141000.000  68421.494 102909.537  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUL                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 144000.000  68421.494 102909.537  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUM                 
    TAG                         S02-A-3-8                       
END-CONNECTION-PIPELINE 
    CO-ORDS 140041.250          68421.494          102909.537 
    PIPELINE-REFERENCE C210-4910-12E-S-0003-PRM-0005-01
REDUCER-ECCENTRIC
    END-POINT 146110.193          68421.094          102936.525  10  
    END-POINT 145932.393          68421.094          102909.537  8  
    SKEY REBW
    CONTINUATION 
    WEIGHT          17.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CN8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 146110.193          68421.094          102936.525 
    PIPELINE-REFERENCE C210-4910-12E-S-0002-PRM-0004-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
