ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0001-PRM-0008-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0001-PRM-0008-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-1002
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0001-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 246626.173          67902.653          104207.054  0.5  
    END-POINT 246648.271          67902.653          104207.044  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HB8                 
    PIPING-SPEC CHS
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 246648.271          67902.653          104207.044 
VALVE
    END-POINT 246555.049          67902.653          104207.084  0.5  SW FEMALE 
    END-POINT 246626.173          67902.653          104207.054  0.5  
    CENTRE-POINT  246577.063          67902.653          104207.075 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDX                 
    PIPING-SPEC CHS
    TRACING-ON 
    SPINDLE-DIRECTION  UP
    DIRECTION UP 0 EAST
WELD
    END-POINT 246555.049          67902.653          104207.084  0.5
    END-POINT 246555.049          67902.653          104207.084  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDY                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
COUPLING
    END-POINT 246453.449          67902.653          104207.128  0.5  
    END-POINT 246555.049          67902.653          104207.084  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDR                 
    PIPING-SPEC CHS
    TRACING-ON 
WELD
    END-POINT 246453.449          67902.653          104207.128  0.5
    END-POINT 246453.449          67902.653          104207.128  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDS                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
TEE
    END-POINT 246434.399          67921.703          104207.136  0.5  
    END-POINT 246434.399          67883.603          104207.136  0.5  
    CENTRE-POINT  246434.399          67902.653          104207.136 
    BRANCH1-POINT 246453.449          67902.653          104207.128  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDN                 
    PIPING-SPEC CHS
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 246434.399          67921.703          104207.136  0.5
    END-POINT 246434.399          67921.703          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DI8                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
WELD
    END-POINT 246434.399          67883.603          104207.136  0.5
    END-POINT 246434.399          67883.603          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDW                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
COUPLING
    END-POINT 246434.399          67883.603          104207.136  0.5  
    END-POINT 246434.399          67782.003          104207.136  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDV                 
    PIPING-SPEC CHS
    TRACING-ON 
WELD
    END-POINT 246434.399          67782.003          104207.136  0.5
    END-POINT 246434.399          67782.003          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DE7                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
VALVE
    END-POINT 246434.399          67782.003          104207.136  0.5  SW FEMALE 
    END-POINT 246434.399          67712.655          104207.136  0.5  
    CENTRE-POINT  246434.399          67752.155          104207.136 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DE6                 
    PIPING-SPEC CHS
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 0 DOWN
END-POSITION-OPEN 
    CO-ORDS 246434.399          67712.655          104207.136 
COUPLING
    END-POINT 246434.399          68023.303          104207.136  0.5  
    END-POINT 246434.399          67921.703          104207.136  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DI6                 
    PIPING-SPEC CHS
    TRACING-ON 
WELD
    END-POINT 246434.399          68023.303          104207.136  0.5
    END-POINT 246434.399          68023.303          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HB7                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 246434.399          68084.001          104207.136  0.5  
    END-POINT 246434.399          68023.303          104207.136  0.5  
    CENTRE-POINT  246434.399          68053.651          104207.136 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HB3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 0 UP
WELD
    END-POINT 246434.399          68084.001          104207.136  0.5
    END-POINT 246434.399          68084.001          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HB4                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  246434.399          68236.401          104207.136 
    BRANCH1-POINT 246434.399          68084.001          104207.136  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HB1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 246434.399          68236.401          104207.136  0.5
    END-POINT 246434.399          68236.401          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HB2                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 246412.174          68362.006          104207.135  4  
    END-POINT 246520.124          68362.006          104207.140  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H5W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 246434.399          68236.401          104207.136  0.5
GASKET
    END-POINT 246408.994          68362.006          104207.135  4
    END-POINT 246412.174          68362.006          104207.135  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H60                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
WELD
    END-POINT 246520.124          68362.006          104207.140  4
    END-POINT 246520.124          68362.006          104207.140  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H5X                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 249108.987          68362.006          104207.241  4  BW
    END-POINT 246520.124          68362.006          104207.140  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DNN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 247010.356  68362.006 104207.159  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DNQ                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 249108.987          68362.006          104207.241  4
    END-POINT 249108.987          68362.006          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DNO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 249108.987          68362.006          104207.241  4  
    END-POINT 249261.387          68514.406          104207.241  4  
    CENTRE-POINT  249261.387          68362.006          104207.241 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D0I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 249261.387          68514.406          104207.241  4
    END-POINT 249261.387          68514.406          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EMD                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 249261.387          68514.406          104207.241  4  BW
    END-POINT 249261.387          71482.171          104207.241  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H5O                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 249261.387  70295.982 104207.241  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E36                 
    TAG                         S01-B-3-4                       
FLOW-ARROW
    CO-ORDS 249261.387  69400.983 104207.241 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 249261.387          71482.171          104207.241  4
    END-POINT 249261.387          71482.171          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H5T                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 249261.387          71482.171          104207.241  4  
    END-POINT 249261.387          71691.467          104207.241  4  
    CENTRE-POINT  249261.387          71586.819          104207.241 
    BRANCH1-POINT 249261.387          71586.819          104311.889  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D0E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 249261.387          71691.467          104207.241  4
    END-POINT 249261.387          71691.467          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HAC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 249261.387          71586.819          104311.889  4
    END-POINT 249261.387          71586.819          104311.889  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D0J                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 249261.387          71586.819          104419.839  4  
    END-POINT 249261.387          71586.819          104311.889  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D0F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 249261.387          71586.819          104423.014  4
    END-POINT 249261.387          71586.819          104419.839  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D33                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
MISC-COMPONENT
    END-POINT 249261.387          71586.819          104423.014  4  
    END-POINT 249261.387          71586.819          104438.762  4  
    CENTRE-POINT 249261.387  71586.819 104430.888 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D32                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION EAST
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 249261.387          71586.819          104441.942  4
    END-POINT 249261.387          71586.819          104438.762  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H7D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 249261.387          71586.819          104441.942  4  
    END-POINT 249261.387          71586.819          104549.892  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H7C                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 249261.387          71586.819          104549.892 
    PIPELINE-REFERENCE C210-4910-12E-S-0025-PRM-0008-01
FLANGE
    END-POINT 249261.387          71799.417          104207.241  4  
    END-POINT 249261.387          71691.467          104207.241  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HAB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 249261.387          71799.417          104207.241  4
    END-POINT 249261.387          71802.597          104207.241  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HAD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 249261.387          71799.417          104207.241 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HAE                 
MISC-COMPONENT
    END-POINT 249261.387          71818.347          104207.241  4  
    END-POINT 249261.387          71802.597          104207.241  4  
    CENTRE-POINT 249261.387  71810.472 104207.241 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H5G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT 249261.387          71818.347          104207.241  4
    END-POINT 249261.387          71821.527          104207.241  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H5I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 249261.387          71821.527          104207.241  4  
    END-POINT 249261.387          71929.477          104207.241  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DCR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 249261.387          71929.477          104207.241  4
    END-POINT 249261.387          71929.477          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H7B                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 249261.387          71929.477          104207.241  4  
    END-POINT 249261.387          72138.773          104207.241  4  
    CENTRE-POINT  249261.387          72034.125          104207.241 
    BRANCH1-POINT 249261.387          72034.125          104305.793  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D0G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 249261.387          72138.773          104207.241  4
    END-POINT 249261.387          72138.773          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ENH                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 249261.387          72034.125          104305.793  3
    END-POINT 249261.387          72034.125          104305.793  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D0N                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 249261.387          72034.125          104394.693  3  
    END-POINT 249261.387          72034.125          104305.793  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D0H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 249261.387          72034.125          104397.868  3
    END-POINT 249261.387          72034.125          104394.693  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D31                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
MISC-COMPONENT
    END-POINT 249261.387          72034.125          104397.868  3  
    END-POINT 249261.387          72034.125          104410.568  3  
    CENTRE-POINT 249261.387  72034.125 104404.218 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D30                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION EAST
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 249261.387          72034.125          104413.743  3
    END-POINT 249261.387          72034.125          104410.568  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D35                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 249261.387          72034.125          104413.743 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           0.000
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D36                 
FLANGE
    END-POINT 249261.387          72034.125          104413.743  3  
    END-POINT 249261.387          72034.125          104502.643  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D34                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 249261.387          72034.125          104502.643  3
    END-POINT 249261.387          72034.125          104502.643  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DNZ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 249261.384          72034.125          104740.632  3  BW
    END-POINT 249261.387          72034.125          104502.643  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DNX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 249261.386  72034.125 104596.367 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 249261.384          72034.125          104740.632  3
    END-POINT 249261.384          72034.125          104740.632  3
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DNY                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 249261.384          72034.125          104740.632  3  
    END-POINT 249147.084          72034.125          104854.932  3  
    CENTRE-POINT  249261.384          72034.125          104854.932 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D12                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 249147.084          72034.125          104854.932  3
    END-POINT 249147.084          72034.125          104854.932  3
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D14                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 249058.184          72034.125          104854.932  3  
    END-POINT 249147.084          72034.125          104854.932  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D13                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 249055.009          72034.125          104854.932  3
    END-POINT 249058.184          72034.125          104854.932  3
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D16                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 249055.009          72034.125          104854.932 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D17                 
VALVE
    END-POINT 248699.409          72034.125          104854.932  3  
    END-POINT 249055.009          72034.125          104854.932  3  
    CENTRE-POINT  248877.209          72034.125          104854.932 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D15                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 248696.229          72034.093          104854.843  3
    END-POINT 248699.409          72034.125          104854.932  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FK3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
PIPE
    END-POINT 248699.409          72034.125          104854.932  3  
    END-POINT 248699.407          72034.125          104854.932  3  
    CONTINUATION 
    MESSAGE This is a GAP 
FLANGE
    END-POINT 248696.229          72034.093          104854.843  3  
    END-POINT 248607.329          72034.093          104854.932  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FK1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 248607.329          72034.093          104854.932 
    PIPELINE-REFERENCE C210-4910-12E-S-0024-PRM-0008-01
PIPE
    END-POINT 249261.387          72138.773          104207.241  4  BW
    END-POINT 249261.387          73102.097          104207.241  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ENG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 249261.387  72799.827 104207.241  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E4X                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 249261.387          73102.097          104207.241  4
    END-POINT 249261.387          73102.097          104207.241  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3I2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 249261.387          85374.820          104208.000  4  
    END-POINT 249261.387          73102.097          104207.241  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3D7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 249261.387  74376.286 104207.320 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 249261.387  76801.895 104207.470  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3E6                 
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS 249261.387  81801.868 104207.779  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3E8                 
    TAG                         S01-B-6-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 249261.387          85374.820          104208.000 
    PIPELINE-REFERENCE C210-4910-12E-PE-0001-PRM-0021-01
INSTRUMENT
    END-POINT 246408.994          68362.006          104207.135  4  
    END-POINT 246396.294          68362.006          104207.135  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H5Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 246396.294  68362.006 104207.135 
    TEXT 12E$FE$1111
    UNDIMENSIONED
GASKET
    END-POINT 246393.114          68362.006          104207.135  4
    END-POINT 246396.294          68362.006          104207.135  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H62                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 246393.114          68362.006          104207.135  4  
    END-POINT 246285.164          68362.006          104207.130  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_H61                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 246285.164          68362.006          104207.130 
    PIPELINE-REFERENCE C210-4910-12E-PE-0001-PRM-0008-03
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGLB1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825HSW
    RATING 800LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE TEESTR1/2X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE SW, A105N, CL6000, NACE
    RATING 6000LB
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE VALVGAT1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814HSW, NACE
    RATING CL800
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE LNBDSPEC4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING 600LB
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING 600LB
ITEM-CODE BOLT3
    BOLT_DIA 19.05
    BOLT_LEN 146.05
    CATALOG MEG
    DESCRIPTION BOLT STUD, HEX NUT HEAVY, A193 GR.B7M A194 GR.2HM, ASME B18.2.1 / B18.2.2
    RATING 600LB
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE BOLT3_1
    BOLT_DIA 19.05
    BOLT_LEN 125
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING 600LB
