ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0028-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0028-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0025-4"
    ATTRIBUTE83   12E-V-0163
    ATTRIBUTE84   C210-4902-12E-0006-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0028-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 148814.864          68303.188          107741.140  1  
    END-POINT 148814.864          68303.188          107769.842  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FOF                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 148814.864          68303.188          107662.890  1  SW FEMALE 
    END-POINT 148814.864          68303.188          107741.140  1  
    CENTRE-POINT  148814.864          68303.188          107705.190 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FOB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 148814.864          68303.188          107662.890  1
    END-POINT 148814.864          68303.188          107662.890  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FOC                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 148814.864          68303.188          107561.290  1  
    END-POINT 148814.864          68303.188          107662.890  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FO9                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 148814.864          68303.188          107561.290  1
    END-POINT 148814.864          68303.188          107561.290  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FOA                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     148814.864  68303.188 107477.150 
    BRANCH1-POINT 148814.864          68303.188          107561.290  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FO7                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 148814.864  68303.188 107477.150  4
    END-POINT 148814.864  68303.188 107477.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FO8                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 148912.464          68303.188          107477.150  4  BW
    END-POINT 145450.063          68303.188          107477.150  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DD1                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 148000.000  68303.188 107477.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DD5                 
    TAG                         S01-B-3-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 148912.464          68303.188          107477.150  4
    END-POINT 148912.464          68303.188          107477.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DD2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 145450.063          68303.188          107477.150  4
    END-POINT 145450.063          68303.188          107477.150  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FLC                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 138952.400          68303.188          107477.150  4  
    END-POINT 145450.063          68303.188          107477.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CD0                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 141000.000  68303.188 107477.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ES0                 
    TAG                         S01-B-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 138952.400          68303.188          107477.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0028-PRM-0005-01
ELBOW
    END-POINT 148912.464          68303.188          107477.150  4  
    END-POINT 149064.864          68303.188          107324.750  4  
    CENTRE-POINT  149064.864          68303.188          107477.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C95                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 149064.864          68303.188          107324.750  4
    END-POINT 149064.864          68303.188          107324.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C94                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 149064.864          68303.188          107324.750  4  BW
    END-POINT 149064.864          68303.188          105859.550  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C93                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 149064.864  68303.188 106596.649 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 149064.864          68303.188          105859.550  4
    END-POINT 149064.864          68303.188          105859.550  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C92                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 149217.264          68303.188          105707.150  4  
    END-POINT 149064.864          68303.188          105859.550  4  
    CENTRE-POINT  149064.864          68303.188          105707.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C90                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 149064.864  68303.188 105707.150  4
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C91                 
    TAG                         BS01-4                          
WELD
    END-POINT 149217.264          68303.188          105707.150  4
    END-POINT 149217.264          68303.188          105707.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C8Z                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 149325.214          68303.188          105707.150  4  
    END-POINT 149217.264          68303.188          105707.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C8Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 149325.214          68303.188          105707.150  4
    END-POINT 149328.394          68303.188          105707.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 149325.214          68303.188          105707.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJO                 
INSTRUMENT
    END-POINT 149328.394          68303.188          105707.150  4  
    END-POINT 149760.394          68303.188          105707.150  4  
    CENTRE-POINT  149544.394          68303.188          105707.150 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FHT                 
    TAG 12E$XV$0322                     
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 149763.574          68303.188          105707.150  4
    END-POINT 149760.394          68303.188          105707.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 149763.574          68303.188          105707.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJM                 
FLANGE
    END-POINT 149763.574          68303.188          105707.150  4  
    END-POINT 149871.524          68303.188          105707.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FHW                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149871.524          68303.188          105707.150  4
    END-POINT 149871.524          68303.188          105707.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FOH                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 150237.154          68303.188          105707.150  4  BW
    END-POINT 149871.524          68303.188          105707.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FI3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 150237.154          68303.188          105707.150  4
    END-POINT 150237.154          68303.188          105707.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FI4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 150446.450          68303.188          105707.150  4  
    END-POINT 150237.154          68303.188          105707.150  4  
    CENTRE-POINT  150341.802          68303.188          105707.150 
    BRANCH1-POINT 150341.802          68303.188          105805.702  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C8H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 150446.450          68303.188          105707.150  4
    END-POINT 150446.450          68303.188          105707.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C8G                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 150341.802          68303.188          105805.702  3
    END-POINT 150341.802          68303.188          105805.702  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D8H                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 150341.802          68303.188          106780.150  3  
    END-POINT 150341.802          68303.188          105805.702  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D6V                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 150341.802          68303.188          106780.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0015-PRM-0004-01
FLANGE
    END-POINT 150554.400          68303.188          105707.150  4  
    END-POINT 150446.450          68303.188          105707.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C8F                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 150557.580          68303.188          105707.150  4
    END-POINT 150554.400          68303.188          105707.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 150554.400          68303.188          105707.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMD                 
VALVE
    END-POINT 150557.580          68303.188          105707.150  4  
    END-POINT 150989.380          68303.188          105707.150  4  
    CENTRE-POINT  150773.480          68303.188          105707.150 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 150992.560          68303.188          105707.150  4
    END-POINT 150989.380          68303.188          105707.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 150989.380          68303.188          105707.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMI                 
FLANGE
    END-POINT 150992.560          68303.188          105707.150  4  
    END-POINT 151100.510          68303.188          105707.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151100.510          68303.188          105707.150  4
    END-POINT 151100.510          68303.188          105707.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMW                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 151300.485          68303.188          105707.150  4  BW
    END-POINT 151100.510          68303.188          105707.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMU                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151300.485          68303.188          105707.150  4
    END-POINT 151300.485          68303.188          105707.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMV                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151200.500  68303.188 105707.150  4
    END-POINT 151200.500  68303.188 105707.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMZ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     151200.500  68303.188 105707.150 
    BRANCH1-POINT 151200.500          68303.188          105623.010  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151200.500          68303.188          105623.010  1
    END-POINT 151200.500          68303.188          105623.010  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FN0                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 151200.500          68303.188          105623.010  1  
    END-POINT 151200.500          68303.188          105521.410  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C7Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151200.500          68303.188          105521.410  1
    END-POINT 151200.500          68303.188          105521.410  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C7Y                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 151200.500          68303.188          105521.410  1  SW FEMALE 
    END-POINT 151200.500          68303.188          105440.572  1  
    CENTRE-POINT  151200.500          68303.188          105478.610 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C7W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 151200.500          68303.188          105440.572  1  
    END-POINT 151200.500          68303.188          105410.410  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C7U                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 151408.435          68303.188          105707.150  4  
    END-POINT 151300.485          68303.188          105707.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMR                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 151408.435          68303.188          105707.150  4
    END-POINT 151411.615          68303.188          105707.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 151411.615          68303.188          105707.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMT                 
VALVE
    END-POINT 151843.415          68303.188          105707.150  4  
    END-POINT 151411.615          68303.188          105707.150  4  
    CENTRE-POINT  151627.515          68303.188          105707.150 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 151843.415          68303.188          105707.150  4
    END-POINT 151846.595          68303.188          105707.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 151846.595          68303.188          105707.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMO                 
VALVE
    END-POINT 152278.395          68303.188          105707.150  4  
    END-POINT 151846.595          68303.188          105707.150  4  
    CENTRE-POINT  152062.495          68303.188          105707.150 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 152278.395          68303.188          105707.150  4
    END-POINT 152281.575          68303.188          105707.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FMK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 152281.575          68303.188          105707.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FML                 
FLANGE
    END-POINT 152281.575          68303.188          105707.150  4  
    END-POINT 152389.525          68303.188          105707.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9K                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152389.525          68303.188          105707.150  4
    END-POINT 152389.525          68303.188          105707.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9L                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 152389.525          68303.188          105707.150  4  
    END-POINT 152541.925          68303.188          105554.750  4  
    CENTRE-POINT  152541.925          68303.188          105707.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 152541.925          68303.188          105554.750  4
    END-POINT 152541.925          68303.188          105554.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D85                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 152541.925          68303.188          105554.750  4  BW
    END-POINT 152541.925          68303.188          103756.798  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D84                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS 152541.925  68303.188 105166.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS 152541.925  68303.188 105166.000 
    TEXT THRU PLATF.
    UNDIMENSIONED
WELD
    END-POINT 152541.925          68303.188          103756.798  4
    END-POINT 152541.925          68303.188          103756.798  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D86                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 152646.573          68303.188          103652.150  4  
    END-POINT 152437.277          68303.188          103652.150  4  
    CENTRE-POINT  152541.925          68303.188          103652.150 
    BRANCH1-POINT 152541.925          68303.188          103756.798  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C7F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 152646.573          68303.188          103652.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0004-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT BS01-4
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE VALVBAL4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
