ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0018-PRM-0005-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0018-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0017-4"
    ATTRIBUTE83   TEST HEADER
    ATTRIBUTE84   C210-4902-12E-0002-05
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0018-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 139687.872          68303.331          105299.747  1  
    END-POINT 139687.872          68303.331          105271.045  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 139687.872          68303.331          105271.045 
VALVE
    END-POINT 139687.872          68303.331          105377.997  1  SW FEMALE 
    END-POINT 139687.872          68303.331          105299.747  1  
    CENTRE-POINT  139687.872          68303.331          105335.697 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 139687.872          68303.331          105377.997  1
    END-POINT 139687.872          68303.331          105377.997  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUV                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 139687.872          68303.331          105479.597  1  
    END-POINT 139687.872          68303.331          105377.997  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 139687.872          68303.331          105479.597  1
    END-POINT 139687.872          68303.331          105479.597  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUT                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     139687.872  68303.331 105563.737 
    BRANCH1-POINT 139687.872          68303.331          105479.597  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 139687.872  68303.331 105563.737  4
    END-POINT 139687.872  68303.331 105563.737  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUR                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 139787.872          68303.332          105563.737  4  BW
    END-POINT 139587.872          68303.331          105563.737  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FU1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 139787.872          68303.332          105563.737  4
    END-POINT 139787.872          68303.332          105563.737  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FU2                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 139587.872          68303.331          105563.737  4
    END-POINT 139587.872          68303.331          105563.737  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FU4                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 139479.922          68303.330          105563.737  4  
    END-POINT 139587.872          68303.331          105563.737  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FU3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 139479.922          68303.330          105563.737  4
    END-POINT 139476.742          68303.330          105563.737  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 139476.742          68303.330          105563.737 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUE                 
INSTRUMENT
    END-POINT 139044.742          68303.330          105563.737  4  
    END-POINT 139476.742          68303.330          105563.737  4  
    CENTRE-POINT  139260.742          68303.330          105563.737 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FU8                 
    TAG 12E$XV$5110                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 139041.562          68303.330          105563.737  4
    END-POINT 139044.742          68303.330          105563.737  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 139041.562          68303.330          105563.737 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUH                 
FLANGE
    END-POINT 139041.562          68303.330          105563.737  4  
    END-POINT 138933.612          68303.330          105563.737  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138933.612          68303.330          105563.737  4
    END-POINT 138933.612          68303.330          105563.737  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUJ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 138933.612          68303.330          105563.737  4  BW
    END-POINT 138633.632          68303.328          105563.737  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138633.632          68303.328          105563.737  4
    END-POINT 138633.632          68303.328          105563.737  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUK                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 138633.632          68303.328          105563.737  4  
    END-POINT 138481.227          68455.723          105563.737  4  
    CENTRE-POINT  138481.232          68303.323          105563.737 
    BRANCH1-POINT 138481.232  68316.025 105551.043  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 138254.232  68316.017 105551.043  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRN                 
    TAG                         DS05-B-3-4                      
PIPE
    END-POINT 138481.232          68316.025          105551.043  3  BW
    END-POINT 137800.232  68316.002 105551.043  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 137800.232  68316.002 105551.043 
SUPPORT
    CO-ORDS 138000.000  68316.009 105551.043  4
    SKEY 52SP
    ERECTION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRR                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 138481.227          68455.723          105563.737  4
    END-POINT 138481.227          68455.723          105563.737  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRK                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
GAP
    END-POINT 138481.232          68455.728          105563.737  4  
    END-POINT 138481.232          68455.721          105563.737  4  
    PIPING-SPEC CHS
FLANGE
    END-POINT 138481.232          68563.678          105563.737  4  
    END-POINT 138481.232          68455.728          105563.737  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F6U                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 138481.232          68566.858          105563.737  4
    END-POINT 138481.232          68563.678          105563.737  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F6X                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 138481.232          68566.858          105563.737 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F6Y                 
VALVE
    END-POINT 138481.232          68566.858          105563.737  4  
    END-POINT 138481.232          68998.658          105563.737  4  
    CENTRE-POINT  138481.232          68782.758          105563.737 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F6W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT 138481.232          68998.658          105563.737  4
    END-POINT 138481.232          69001.838          105563.737  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F71                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 138481.232          69001.838          105563.737  4  
    END-POINT 138481.232          69109.788          105563.737  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EW0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 138481.232          69109.788          105563.737 
    PIPELINE-REFERENCE C210-4910-12E-PE-0017-PRM-0005-04
FLANGE
    END-POINT 139895.822          68303.333          105563.737  4  
    END-POINT 139787.872          68303.332          105563.737  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FTY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 139895.822          68303.333          105563.737  4
    END-POINT 139899.002          68303.333          105563.737  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FTZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 139895.822          68303.333          105563.737 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FU0                 
VALVE
    END-POINT 139899.002          68303.333          105563.737  4  
    END-POINT 140330.802          68303.336          105563.737  4  
    CENTRE-POINT  140114.902          68303.334          105563.737 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FTV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 140330.802          68303.336          105563.737  4
    END-POINT 140333.982          68303.336          105563.737  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FTW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 140330.802          68303.336          105563.737 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FTX                 
FLANGE
    END-POINT 140333.982          68303.336          105563.737  4  
    END-POINT 140441.932          68303.337          105563.737  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FTT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 140441.932          68303.337          105563.737  4
    END-POINT 140441.932          68303.337          105563.737  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FTU                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 140594.332          68303.318          105411.337  4  
    END-POINT 140441.932          68303.337          105563.737  4  
    CENTRE-POINT  140594.332          68303.338          105563.737 
    BRANCH1-POINT 140594.332  68303.338 105538.337  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FTS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 140794.332  68303.339 105538.337  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUO                 
    TAG                         DS03-B-2-4                      
PIPE
    END-POINT 140594.332          68303.338          105538.337  3  BW
    END-POINT 141194.332  68303.342 105538.337  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 141194.332  68303.342 105538.337 
SUPPORT
    CO-ORDS 140999.560  68303.341 105538.337  4
    SKEY 52SP
    ERECTION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FV0                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 140594.332          68303.318          105411.337  4
    END-POINT 140594.332          68303.318          105411.337  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 140594.332          68303.318          105411.337  4  BW
    END-POINT 140594.332          68303.188          104410.858  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 140594.332          68303.188          104410.858  4
    END-POINT 140594.332          68303.188          104410.858  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FUN                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 140594.332          68303.153          104302.908  4  
    END-POINT 140594.332          68303.188          104410.858  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F6K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 140594.332          68303.152          104299.728  4
    END-POINT 140594.332          68303.153          104302.908  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F6N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 140594.332          68303.152          104299.728 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F6O                 
VALVE
    END-POINT 140594.332          68303.152          104299.728  4  
    END-POINT 140594.332          68303.014          103867.928  4  
    CENTRE-POINT  140594.332          68303.083          104083.828 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F6M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 0 UP
GASKET
    END-POINT 140594.332          68303.014          103867.928  4
    END-POINT 140594.332          68303.188          103864.748  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F76                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 140594.332          68303.014          103867.928 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F77                 
PIPE
    END-POINT 140594.332          68303.188          103864.748  4  
    END-POINT 140594.332          68303.188          103864.753  4  
    CONTINUATION 
    MESSAGE This is a GAP 
FLANGE
    END-POINT 140594.332          68303.188          103864.748  4  
    END-POINT 140594.332          68303.188          103756.798  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C46                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 140594.332          68303.188          103756.798 
    PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0005-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  681 mm DUMMY LEG SUPPORT DS05-B-3-4
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE VALVBAL4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
ITEM-CODE SUPEB- 4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  600 mm DUMMY LEG SUPPORT DS03-B-2-4
