ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0074-PRM-0007-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0074-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0072-4"
    ATTRIBUTE83   12E-PE-0037-4"
    ATTRIBUTE84   C210-4902-12E-0001-07
    ATTRIBUTE88   -
    ATTRIBUTE89   -
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0074-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  80568.687          72021.783          105051.582  1  
    END-POINT  80568.687          72021.783          105080.284  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPQ                 
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  80568.687          72021.783          104973.332  1  SW FEMALE 
    END-POINT  80568.687          72021.783          105051.582  1  
    CENTRE-POINT   80568.687          72021.783          105015.632 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPM                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT  80568.687          72021.783          104973.332  1
    END-POINT  80568.687          72021.783          104973.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPN                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  80568.687          72021.783          104871.732  1  
    END-POINT  80568.687          72021.783          104973.332  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPK                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  80568.687          72021.783          104871.732  1
    END-POINT  80568.687          72021.783          104871.732  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPL                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      80568.687  72021.783 104806.642 
    BRANCH1-POINT  80568.687          72021.783          104871.732  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPI                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  80568.687  72021.783 104806.642  3
    END-POINT  80568.687  72021.783 104806.642  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EPJ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  81160.525          72021.771          104806.642  3  BW
    END-POINT  80407.587          72021.786          104806.642  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEB                 
    PIPING-SPEC CH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  80915.567  72021.776 104806.642 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  81160.525          72021.771          104806.642  3
    END-POINT  81160.525          72021.771          104806.642  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEC                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  80407.587          72021.786          104806.642  3
    END-POINT  80407.587          72021.786          104806.642  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEF                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT  80318.687          72021.788          104806.642  3  
    END-POINT  80407.587          72021.786          104806.642  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEE                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  80315.507          72021.786          104806.642  3
    END-POINT  80318.687          72021.788          104806.642  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
VALVE
    END-POINT  80315.507          72021.786          104806.642  3  
    END-POINT  79959.907          72021.786          104806.642  3  
    CENTRE-POINT   80137.707          72021.786          104806.642 
    SKEY CKFL
    CONTINUATION 
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  79959.907          72021.786          104806.642 
    PIPELINE-REFERENCE C210-4910-12E-PE-0037-PRM-0007-01
ELBOW
    END-POINT  81160.525          72021.771          104806.642  3  
    END-POINT  81247.246          71985.849          104806.642  3  
    CENTRE-POINT   81211.325          72021.771          104806.642 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           1.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BE5                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  81247.246          71985.849          104806.642  3
    END-POINT  81247.246          71985.849          104806.642  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BE4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  81247.246          71985.849          104806.642  3  BW
    END-POINT  81577.782          71655.314          104806.642  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BE3                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  81577.782          71655.314          104806.642  3
    END-POINT  81577.782          71655.314          104806.642  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BE2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT  81577.782          71655.314          104806.642  3  
    END-POINT  81658.605          71574.492          104692.342  3  
    CENTRE-POINT   81658.605          71574.492          104806.642 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BE1                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  81658.605          71574.492          104692.342  3
    END-POINT  81658.605          71574.492          104692.342  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQC                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  81658.605          71574.492          104452.557  3  BW
    END-POINT  81658.605          71574.492          104692.342  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQA                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  81658.605          71574.492          104452.557  3
    END-POINT  81658.605          71574.492          104452.557  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQB                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT  81658.605          71574.492          104363.657  3  
    END-POINT  81658.605          71574.492          104452.557  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQ7                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  81658.605          71574.492          104363.657  3
    END-POINT  81658.605          71574.492          104360.477  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQ8                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT  81658.605          71574.492          104347.777  3  
    END-POINT  81658.605          71574.492          104360.477  3  
    CENTRE-POINT  81658.605  71574.492 104354.127 
    SKEY SB
    CONTINUATION 
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDU                 
    PIPING-SPEC CH
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS  81658.605          71574.492          104347.777 
    PIPELINE-REFERENCE C210-4910-12E-S-0072-PRM-0007-02
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE 45LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 40
    RATING 40
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING 40
