ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0015-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0015-PRM-0009-01
    ATTRIBUTE82   12E-S-0076-3"
    ATTRIBUTE83   12E-CG-0020-6"
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-S-0015-4"-CHS
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 164592.603          55152.998          102836.010  1  
    END-POINT 164592.603          55152.998          102807.308  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9U                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 164592.603          55152.998          102914.260  1  SW FEMALE 
    END-POINT 164592.603          55152.998          102836.010  1  
    CENTRE-POINT  164592.603          55152.998          102871.960 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 164592.603          55152.998          102914.260  1
    END-POINT 164592.603          55152.998          102914.260  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9R                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164592.603          55152.998          103015.860  1  
    END-POINT 164592.603          55152.998          102914.260  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9O                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164592.603          55152.998          103015.860  1
    END-POINT 164592.603          55152.998          103015.860  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9P                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     164592.603  55152.998 103100.000 
    BRANCH1-POINT 164592.603          55152.998          103015.860  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9M                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164592.603  55152.998 103100.000  4
    END-POINT 164592.603  55152.998 103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9N                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164694.603          55152.998          103100.000  4  BW
    END-POINT 164494.603          55152.998          103100.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H99                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164694.603          55152.998          103100.000  4
    END-POINT 164694.603          55152.998          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9A                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164494.603          55152.998          103100.000  4
    END-POINT 164494.603          55152.998          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H9B                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164494.603          55152.998          103100.000  4  
    END-POINT 164342.203          55152.998          103252.400  4  
    CENTRE-POINT  164342.203          55152.998          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E16                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 164342.203  55152.998 103100.000  4
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E4H                 
    TAG                         BS01-4                          
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G31-A-1
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 164342.203  55152.998 102500.000 
    TEXT GUIDE E/W DIRECTION$FREE TO MOVE N/S
    UNDIMENSIONED
MESSAGE
    CO-ORDS 164342.203  55152.998 103100.000 
    TEXT INSTALL G31 GUIDE TO ALLOW MOVEMENT$NORTH & SOUTH DIRECTION
    UNDIMENSIONED
WELD
    END-POINT 164342.203          55152.998          103252.400  4
    END-POINT 164342.203          55152.998          103252.400  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1T                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164342.203          55152.998          103252.400  4  BW
    END-POINT 164342.203          55152.998          103492.400  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1S                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164342.203          55152.998          103492.400  4
    END-POINT 164342.203          55152.998          103492.400  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1U                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164342.203          55152.998          103600.350  4  
    END-POINT 164342.203          55152.998          103492.400  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F25                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164342.203          55152.998          103603.530  4
    END-POINT 164342.203          55152.998          103600.350  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F28                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164342.203          55152.998          103603.530 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F29                 
VALVE
    END-POINT 164342.203          55152.998          103603.530  4  
    END-POINT 164342.203          55152.998          104035.330  4  
    CENTRE-POINT  164342.203          55152.998          103819.430 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F27                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT 164342.203          55152.998          104038.510  4
    END-POINT 164342.203          55152.998          104035.330  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164342.203          55152.998          104038.510 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2E                 
FLANGE
    END-POINT 164342.203          55152.998          104038.510  4  
    END-POINT 164342.203          55152.998          104146.460  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F2C                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164342.203          55152.998          104146.460  4
    END-POINT 164342.203          55152.998          104146.460  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1W                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164342.203          55152.998          104146.460  4  BW
    END-POINT 164342.203          55152.998          105218.504  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1V                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164342.203          55152.998          105218.504  4
    END-POINT 164342.203          55152.998          105218.504  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I1X                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164342.203          55152.998          105218.504  4  
    END-POINT 164189.803          55152.998          105370.904  4  
    CENTRE-POINT  164342.203          55152.998          105370.904 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ETA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164189.803          55152.998          105370.904  4
    END-POINT 164189.803          55152.998          105370.904  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H0L                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163710.400          55152.997          105370.904  4  BW
    END-POINT 164189.803          55152.998          105370.904  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H0J                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163710.400          55152.997          105370.904  4
    END-POINT 163710.400          55152.997          105370.904  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H0K                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163558.000          55152.998          105523.304  4  
    END-POINT 163710.400          55152.997          105370.904  4  
    CENTRE-POINT  163558.000          55152.997          105370.904 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H0G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          55152.998          105523.304  4
    END-POINT 163558.000          55152.998          105523.304  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H0I                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          55152.998          106254.748  4  BW
    END-POINT 163558.000          55152.998          105523.304  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0O                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 163558.000  55152.997 105875.365 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 163558.000          55152.998          106254.748  4
    END-POINT 163558.000          55152.998          106254.748  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0P                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 163558.000          55152.998          106254.748  4  
    END-POINT 163558.000          55305.398          106407.147  4  
    CENTRE-POINT  163558.000          55152.998          106407.148 
    BRANCH1-POINT 163558.000  55152.998 106407.147  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 163558.000  54969.665 106407.147  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0T                 
    TAG                         DS03-B-2-4                      
PIPE
    END-POINT 163558.000          55152.998          106407.147  3  BW
    END-POINT 163558.000  54602.998 106407.148  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 163558.000  54602.998 106407.148 
SUPPORT
    CO-ORDS 163558.000  54800.998 106407.148  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0U                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 163558.000  54800.998 106407.148 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 163558.000          55305.398          106407.147  4
    END-POINT 163558.000          55305.398          106407.147  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0M                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          55305.398          106407.147  4  BW
    END-POINT 163558.000          57875.090          106407.148  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0L                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163558.000          57875.090          106407.148  4
    END-POINT 163558.000          57875.090          106407.148  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJ6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 163558.000          58014.790          106434.138  6  
    END-POINT 163558.000          57875.090          106407.148  4  
    SKEY REBW
    CONTINUATION 
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 163558.000          58014.790          106434.138 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0009-01
FLANGE
    END-POINT 164802.553          55152.998          103100.000  4  
    END-POINT 164694.603          55152.998          103100.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E13                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164805.733          55152.998          103100.000  4
    END-POINT 164802.553          55152.998          103100.000  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E1A                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164805.733          55152.998          103100.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E1B                 
VALVE
    END-POINT 165237.533          55152.998          103100.000  4  
    END-POINT 164805.733          55152.998          103100.000  4  
    CENTRE-POINT  165021.633          55152.998          103100.000 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E19                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 165240.713          55152.998          103100.000  4
    END-POINT 165237.533          55152.998          103100.000  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E1D                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 165237.533          55152.998          103100.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E1E                 
FLANGE
    END-POINT 165240.713          55152.998          103100.000  4  
    END-POINT 165348.663          55152.998          103100.000  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_E1C                 
    PIPING-SPEC CH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 165348.663          55152.998          103100.000 
    PIPELINE-REFERENCE C210-4910-12E-S-0076-PRM-0009-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPEB-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=558mm BS01-4
ITEM-CODE G31-A-1
    DESCRIPTION GUIDE AND LINE STOP FOR BASE SUPPORT G31-A-1
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  550 mm DUMMY SUPPORT DS03-B-2-4
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
