ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0005-PRM-0001-02
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0005-PRM-0001-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-2002
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0005-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 220320.184          68362.038          104471.335  0.75  
    END-POINT 220320.184          68362.038          104496.735  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 220320.184  68362.038 104487.083 
    UNDIMENSIONED
    TEXT 12E$PIT$2110
VALVE-3WAY
    END-POINT 220320.184          68362.038          104389.801  0.75  SW FEMALE 
    END-POINT 220320.184          68362.038          104471.335  0.75  
    END-POINT 220360.951          68362.038          104432.092  0.5  
    CENTRE-POINT  220320.184          68362.038          104432.092 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 220320.184          68362.038          104389.801  0.75
    END-POINT 220320.184          68362.038          104389.801  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJK                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 220360.951          68362.038          104432.092  0.5  
    END-POINT 220383.049          68362.038          104432.092  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 220320.184          68362.038          104288.201  0.75  
    END-POINT 220320.184          68362.038          104389.801  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 220320.184          68362.038          104288.201  0.75
    END-POINT 220320.184          68362.038          104288.201  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJH                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     220320.184  68362.038 104207.241 
    BRANCH1-POINT 220320.184          68362.038          104288.201  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 220320.184  68362.038 104207.241  4
    END-POINT 220320.184  68362.038 104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GJF                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 220000.220          68362.038          104207.241  4  BW
    END-POINT 221273.664          68362.038          104207.130  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DOB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 220000.220          68362.038          104207.241  4
    END-POINT 220000.220          68362.038          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DOC                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 221273.664          68362.038          104207.130  4
    END-POINT 221273.664          68362.038          104207.130  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G6H                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 221381.614          68362.038          104207.135  4  
    END-POINT 221273.664          68362.038          104207.130  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G6E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 221359.389          68235.163          104207.134  0.5
GASKET
    END-POINT 221381.614          68362.038          104207.135  4
    END-POINT 221384.794          68362.038          104207.135  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G6F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 221381.614          68362.038          104207.135 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G6G                 
WELD
    END-POINT 221359.389          68235.163          104207.134  0.5
    END-POINT 221359.389          68235.163          104207.134  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GGZ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  221359.389          68235.163          104207.134 
    BRANCH1-POINT 221359.389          68158.963          104207.134  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.194
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GGY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221359.389          68158.963          104207.134  0.5
    END-POINT 221359.389          68158.963          104207.134  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GH0                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 221359.389          68158.963          104207.134  0.5  
    END-POINT 221359.389          68099.265          104207.134  0.5  
    CENTRE-POINT  221359.389          68129.113          104207.134 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8SO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 0 UP
WELD
    END-POINT 221359.389          68099.265          104207.134  0.5
    END-POINT 221359.389          68099.265          104207.134  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_94L                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 221359.389          68099.265          104207.134  0.5  
    END-POINT 221359.389          67997.665          104207.134  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_94K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221359.389          67997.665          104207.134  0.5
    END-POINT 221359.389          67997.665          104207.134  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_94M                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 221359.389          67997.665          104207.134  0.5  
    END-POINT 221359.389          67959.565          104207.134  0.5  
    CENTRE-POINT  221359.389          67978.615          104207.134 
    BRANCH1-POINT 221340.339          67978.615          104207.142  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 221359.389          67959.565          104207.134  0.5
    END-POINT 221359.389          67959.565          104207.134  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WU                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 221340.339          67978.615          104207.142  0.5
    END-POINT 221340.339          67978.615          104207.142  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WY                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 221340.339          67978.615          104207.142  0.5  
    END-POINT 221238.739          67978.615          104207.186  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221238.739          67978.615          104207.186  0.5
    END-POINT 221238.739          67978.615          104207.186  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8X5                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 221238.739          67978.615          104207.186  0.5  SW FEMALE 
    END-POINT 221166.091          67978.615          104207.217  0.5  
    CENTRE-POINT  221216.724          67978.615          104207.195 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8X4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
    DIRECTION UP 0 EAST
MISC-COMPONENT
    END-POINT 221166.091          67978.615          104207.217  0.5  
    END-POINT 221140.691          67978.615          104207.228  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8XJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 221359.389          67959.565          104207.134  0.5  
    END-POINT 221359.389          67857.965          104207.134  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221359.389          67857.965          104207.134  0.5
    END-POINT 221359.389          67857.965          104207.134  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8X8                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 221359.389          67857.965          104207.134  0.5  SW FEMALE 
    END-POINT 221359.389          67801.317          104207.134  0.5  
    CENTRE-POINT  221359.389          67828.117          104207.134 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8X7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 0 UP
MISC-COMPONENT
    END-POINT 221359.389          67801.317          104207.134  0.5  
    END-POINT 221359.389          67775.917          104207.134  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8XF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
INSTRUMENT
    END-POINT 221397.494          68362.038          104207.135  4  
    END-POINT 221384.794          68362.038          104207.135  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G4P                 
    TAG 12E$FE$2111                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 221400.674          68362.038          104207.135  4
    END-POINT 221397.494          68362.038          104207.135  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G5J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 221400.674          68362.038          104207.135  4  
    END-POINT 221508.624          68362.038          104207.140  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G5I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 221422.899          68235.163          104207.136  0.5
WELD
    END-POINT 221508.624          68362.038          104207.140  4
    END-POINT 221508.624          68362.038          104207.140  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G61                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 221422.899          68235.163          104207.136  0.5
    END-POINT 221422.899          68235.163          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GGX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  221422.899          68235.163          104207.136 
    BRANCH1-POINT 221422.899          68082.763          104207.136  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GGW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221422.899          68082.763          104207.136  0.5
    END-POINT 221422.899          68082.763          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GH1                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 221422.899          68082.763          104207.136  0.5  
    END-POINT 221422.899          68023.065          104207.136  0.5  
    CENTRE-POINT  221422.899          68052.913          104207.136 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8SM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 0 DOWN
WELD
    END-POINT 221422.899          68023.065          104207.136  0.5
    END-POINT 221422.899          68023.065          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_94O                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 221422.899          68023.065          104207.136  0.5  
    END-POINT 221422.899          67921.465          104207.136  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_94N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221422.899          67921.465          104207.136  0.5
    END-POINT 221422.899          67921.465          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_94P                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 221422.899          67921.465          104207.136  0.5  
    END-POINT 221422.899          67883.365          104207.136  0.5  
    CENTRE-POINT  221422.899          67902.415          104207.136 
    BRANCH1-POINT 221441.949          67902.415          104207.128  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 221422.899          67883.365          104207.136  0.5
    END-POINT 221422.899          67883.365          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8X0                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 221441.949          67902.415          104207.128  0.5
    END-POINT 221441.949          67902.415          104207.128  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WW                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 221441.949          67902.415          104207.128  0.5  
    END-POINT 221543.549          67902.415          104207.084  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221543.549          67902.415          104207.084  0.5
    END-POINT 221543.549          67902.415          104207.084  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8X2                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 221543.549          67902.415          104207.084  0.5  SW FEMALE 
    END-POINT 221616.197          67902.415          104207.053  0.5  
    CENTRE-POINT  221565.564          67902.415          104207.075 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8X1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
    DIRECTION UP 0 EAST
MISC-COMPONENT
    END-POINT 221616.197          67902.415          104207.053  0.5  
    END-POINT 221641.597          67902.415          104207.042  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8XH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 221422.899          67883.365          104207.136  0.5  
    END-POINT 221422.899          67781.765          104207.136  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8WZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221422.899          67781.765          104207.136  0.5
    END-POINT 221422.899          67781.765          104207.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8XB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 221422.899          67781.765          104207.136  0.5  SW FEMALE 
    END-POINT 221422.899          67725.117          104207.136  0.5  
    CENTRE-POINT  221422.899          67751.917          104207.136 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8XA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 0 DOWN
MISC-COMPONENT
    END-POINT 221422.899          67725.117          104207.136  0.5  
    END-POINT 221422.899          67699.717          104207.136  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8XD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 224097.487          68362.038          104207.241  4  BW
    END-POINT 221508.624          68362.038          104207.140  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_ALP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 221998.857  68362.038 104207.159  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_ALS                 
    TAG                         S01-B-3-4                       
FLOW-ARROW
    CO-ORDS 222912.754  68362.038 104207.195 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 224097.487          68362.038          104207.241  4
    END-POINT 224097.487          68362.038          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_ALQ                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 224097.487          68362.038          104207.241  4  
    END-POINT 224249.887          68514.438          104207.241  4  
    CENTRE-POINT  224249.887          68362.038          104207.241 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_83I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 224249.887          68514.438          104207.241 
    PIPELINE-REFERENCE C210-4910-12E-PE-0005-PRM-0001-01
ELBOW
    END-POINT 220000.220          68362.038          104207.241  4  
    END-POINT 219847.820          68514.438          104207.241  4  
    CENTRE-POINT  219847.820          68362.038          104207.241 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_87N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 219847.820          68514.438          104207.241  4
    END-POINT 219847.820          68514.438          104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_9TM                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 219847.820          69109.638          104207.241  4  BW
    END-POINT 219847.820          68514.438          104207.241  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_9TK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 219847.820          69109.638          104207.241  4
    END-POINT 219847.820          69109.638          104207.241  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_9TL                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 219847.820  68909.638 104207.241  4
    END-POINT 219847.820  68909.638 104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_9TP                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 219847.820  68659.638 104207.241  4
    END-POINT 219847.820  68659.638 104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_9TY                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 219847.820  68809.661 104207.241  4
    END-POINT 219847.820  68809.661 104207.241  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G64                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 219847.820          69262.038          104359.641  4  
    END-POINT 219847.820          69109.638          104207.241  4  
    CENTRE-POINT  219847.820          69262.038          104207.241 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_87M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 219847.820          69262.038          104359.641 
    PIPELINE-REFERENCE C210-4910-12E-PE-0005-PRM-0001-03
OLET
    CENTRE-POINT     219847.820  68809.661 104207.241 
    BRANCH1-POINT 219847.820          68809.661          104123.101  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G63                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 219847.820          68809.656          104123.101  1
    END-POINT 219847.820          68809.656          104123.101  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G65                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 219847.820          68809.656          104123.101  1  
    END-POINT 219847.820          68809.696          104021.501  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_93J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 219847.820          68809.696          104021.501  1
    END-POINT 219847.820          68809.696          104021.501  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_93L                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 219847.820          68809.696          104021.501  1  SW FEMALE 
    END-POINT 219847.820          68809.729          103940.664  1  
    CENTRE-POINT  219847.820          68809.714          103978.701 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_93K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT 219847.820          68809.729          103940.664  1  
    END-POINT 219847.820          68809.741          103910.501  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_93N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
OLET
    CENTRE-POINT     219847.820  68659.638 104207.241 
    BRANCH1-POINT 219847.820          68659.638          104286.616  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_9TX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 219847.820          68659.645          104286.616  1  
    END-POINT 219847.820          68659.633          104316.779  1
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_8XO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 219847.820  68659.638 104304.079 
    UNDIMENSIONED
    TEXT 12E$ TE$2110
OLET
    CENTRE-POINT     219847.820  68909.638 104207.241 
    BRANCH1-POINT 219847.820          68909.638          104286.616  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_9TO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 219847.820          68909.645          104286.616  1  
    END-POINT 219847.820          68909.633          104316.779  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_936                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MATERIALS
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE TEESTR1/2X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE SW, A105N, CL6000, NACE
    RATING 6000LB
ITEM-CODE VALVGLB1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825HSW
    RATING 800LB
ITEM-CODE VALVGAT1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE TOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION THREDOLET, CL6000, A105N, NACE
    RATING 6000LB
