ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0013-PRM-0003-02
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0013-PRM-0003-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-4002
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-04
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0013-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 166285.582          68211.188          103941.422  1  
    END-POINT 166285.581          68211.188          103911.260  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GOW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 166285.581          68211.188          103911.260 
VALVE
    END-POINT 166285.585          68211.188          104022.260  1  SW FEMALE 
    END-POINT 166285.582          68211.188          103941.422  1  
    CENTRE-POINT  166285.584          68211.188          103979.460 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GOT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 166285.585          68211.188          104022.260  1
    END-POINT 166285.585          68211.188          104022.260  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IVZ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166285.586          68211.188          104123.860  1  
    END-POINT 166285.586          68211.188          104022.260  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IVX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166285.586          68211.188          104123.860  1
    END-POINT 166285.586          68211.188          104123.860  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KZ5                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166285.586  68211.188 104208.000 
    BRANCH1-POINT 166285.586          68211.188          104123.860  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KZ3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166285.586  68211.188 104208.000  4
    END-POINT 166285.586  68211.188 104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2H                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166797.636          68211.330          104208.000  4  BW
    END-POINT 165790.586          68211.188          104208.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M18                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166000.000  68211.188 104208.000  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2P                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 166797.636          68211.330          104208.000  4
    END-POINT 166797.636          68211.330          104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1B                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165790.586          68211.188          104208.000  4
    END-POINT 165790.586          68211.188          104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M11                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165897.188  68211.188 104208.000  4
    END-POINT 165897.188  68211.188 104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2F                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166135.586  68211.188 104208.000  4
    END-POINT 166135.586  68211.188 104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2G                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166135.586  68211.188 104208.000 
    BRANCH1-POINT 166135.586          68211.188          104288.960  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KYY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166135.586          68211.188          104288.960  0.75
    END-POINT 166135.586          68211.188          104288.960  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KZ0                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166135.586          68211.188          104288.960  0.75  
    END-POINT 166135.586          68211.188          104390.560  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IVU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166135.586          68211.188          104390.560  0.75
    END-POINT 166135.586          68211.188          104390.560  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4O                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 166135.586          68211.188          104390.560  0.75  SW FEMALE 
    END-POINT 166135.586          68211.188          104472.094  0.75  
    END-POINT 166176.353          68211.188          104432.851  0.5  
    CENTRE-POINT  166135.586          68211.188          104432.851 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 166135.586  68211.188 104487.842 
    UNDIMENSIONED
    TEXT 12E$PIT$4110
MISC-COMPONENT
    END-POINT 166176.353          68211.188          104432.851  0.5  
    END-POINT 166198.451          68211.188          104432.851  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4S                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 166198.451          68211.188          104432.851 
MISC-COMPONENT
    END-POINT 166135.586          68211.188          104472.094  0.75  
    END-POINT 166135.586          68211.188          104497.494  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L4Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 166135.586          68211.188          104497.494 
OLET
    CENTRE-POINT     165897.188  68211.188 104208.000 
    BRANCH1-POINT 165897.188          68211.188          104285.790  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LNO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 165897.188  68211.188 104265.150 
    UNDIMENSIONED
    TEXT 12E$TE$4110
MISC-COMPONENT
    END-POINT 165897.188          68211.188          104285.790  1  
    END-POINT 165897.188          68211.188          104314.492  1
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 165897.188          68211.188          104314.492 
ELBOW
    END-POINT 165638.186          68363.588          104208.000  4  
    END-POINT 165790.586          68211.188          104208.000  4  
    CENTRE-POINT  165638.186          68211.188          104208.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IWE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 165638.186          68363.588          104208.000  4
    END-POINT 165638.186          68363.588          104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IWG                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 165638.186          68363.588          104208.000  4  BW
    END-POINT 165638.186          69109.638          104208.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IV1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165638.186          69109.638          104208.000  4
    END-POINT 165638.186          69109.638          104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IWB                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165638.186  68659.788 104208.000  4
    END-POINT 165638.186  68659.788 104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IV9                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 165638.186          69109.638          104208.000  4  
    END-POINT 165790.586          69262.038          104208.000  4  
    CENTRE-POINT  165638.186          69262.038          104208.000 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IW9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 165790.586          69262.038          104208.000 
    PIPELINE-REFERENCE C210-4910-12E-PE-0013-PRM-0003-03
OLET
    CENTRE-POINT     165638.186  68659.788 104208.000 
    BRANCH1-POINT 165638.186          68659.788          104285.790  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IV7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 165638.186          68659.788          104285.790  1  
    END-POINT 165638.186          68659.788          104314.492  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GP8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLANGE
    END-POINT 166905.585          68211.412          104208.000  4  
    END-POINT 166797.636          68211.330          104208.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1A                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 166883.456          68085.790          104208.000  0.5
GASKET
    END-POINT 166908.765          68211.414          104208.000  4
    END-POINT 166905.585          68211.412          104208.000  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
WELD
    END-POINT 166883.464          68085.790          104208.000  0.5
    END-POINT 166883.464          68085.790          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1X                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  166883.464          68085.790          104208.000 
    BRANCH1-POINT 166883.464          67933.390          104208.000  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LN5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166883.464          67933.390          104208.000  0.5
    END-POINT 166883.464          67933.390          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LN6                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166883.464          67933.390          104208.000  0.5  
    END-POINT 166883.464          67873.690          104208.000  0.5  
    CENTRE-POINT  166883.464          67903.540          104208.000 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GPX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 166883.464          67873.690          104208.000  0.5
    END-POINT 166883.464          67873.690          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LNC                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166883.464          67873.690          104208.000  0.5  
    END-POINT 166883.464          67772.090          104208.000  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LNB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166883.464          67772.090          104208.000  0.5
    END-POINT 166883.464          67772.090          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LP7                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166883.464          67772.090          104208.000  0.5  
    END-POINT 166883.464          67724.710          104208.000  0.5  
    CENTRE-POINT  166883.464          67748.400          104208.000 
    BRANCH1-POINT 166859.774          67748.400          104208.000  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LND                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166883.464          67724.710          104208.000  0.5
    END-POINT 166883.464          67724.710          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M20                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166859.774          67748.400          104208.000  0.5
    END-POINT 166859.774          67748.400          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LP8                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166859.774          67748.400          104208.000  0.5  
    END-POINT 166758.174          67748.400          104208.000  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LM0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166758.174          67748.400          104208.000  0.5
    END-POINT 166758.174          67748.400          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LM2                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166758.174          67748.400          104208.000  0.5  SW FEMALE 
    END-POINT 166685.524          67748.400          104208.000  0.5  
    CENTRE-POINT  166736.157          67748.400          104208.000 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GQ7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MISC-COMPONENT
    END-POINT 166685.524          67748.400          104208.000  0.5  
    END-POINT 166660.124          67748.400          104208.000  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GQA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 166883.464          67724.710          104208.000  0.5  
    END-POINT 166883.464          67623.110          104208.000  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LM4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166883.464          67623.110          104208.000  0.5
    END-POINT 166883.464          67623.110          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M21                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166883.464          67623.110          104208.000  0.5  SW FEMALE 
    END-POINT 166883.464          67566.460          104208.000  0.5  
    CENTRE-POINT  166883.464          67593.260          104208.000 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GQD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT 166883.464          67566.460          104208.000  0.5  
    END-POINT 166883.464          67541.060          104208.000  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GQG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
INSTRUMENT
    END-POINT 166908.765          68211.414          104208.000  4  
    END-POINT 166921.765          68211.424          104208.000  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1H                 
    TAG 12E$FE$4111                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 166924.945          68211.427          104208.000  4
    END-POINT 166921.765          68211.424          104208.000  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1R                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166921.765          68211.424          104208.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1S                 
FLANGE
    END-POINT 166924.945          68211.427          104208.000  4  
    END-POINT 167032.895          68211.508          104208.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 166947.265          68085.838          104208.000  0.5
WELD
    END-POINT 167032.895          68211.508          104208.000  4
    END-POINT 167032.895          68211.508          104208.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M26                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166947.265          68085.838          104208.000  0.5
    END-POINT 166947.265          68085.838          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1Y                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  166947.274          68085.838          104208.000 
    BRANCH1-POINT 166947.274          68009.638          104208.000  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           2.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LN8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166947.274          68009.638          104208.000  0.5
    END-POINT 166947.274          68009.638          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LN9                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166947.274          68009.638          104208.000  0.5  
    END-POINT 166947.274          67949.938          104208.000  0.5  
    CENTRE-POINT  166947.274          67979.788          104208.000 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GQQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 166947.274          67949.938          104208.000  0.5
    END-POINT 166947.274          67949.938          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1V                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166947.274          67949.938          104208.000  0.5  
    END-POINT 166947.274          67848.338          104208.000  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LLO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166947.274          67848.338          104208.000  0.5
    END-POINT 166947.274          67848.338          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M1W                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166947.274          67848.338          104208.000  0.5  
    END-POINT 166947.274          67800.958          104208.000  0.5  
    CENTRE-POINT  166947.274          67824.648          104208.000 
    BRANCH1-POINT 166970.964          67824.648          104208.000  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LM9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166947.274          67800.958          104208.000  0.5
    END-POINT 166947.274          67800.958          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LME                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166970.964          67824.648          104208.000  0.5
    END-POINT 166970.964          67824.648          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LMC                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166970.964          67824.648          104208.000  0.5  
    END-POINT 167072.564          67824.648          104208.000  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LLR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 167072.564          67824.648          104208.000  0.5
    END-POINT 167072.564          67824.648          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LLT                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 167072.564          67824.648          104208.000  0.5  SW FEMALE 
    END-POINT 167145.214          67824.648          104208.000  0.5  
    CENTRE-POINT  167094.580          67824.648          104208.000 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GR0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MISC-COMPONENT
    END-POINT 167145.214          67824.648          104208.000  0.5  
    END-POINT 167170.614          67824.648          104208.000  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GR3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 166947.274          67800.958          104208.000  0.5  
    END-POINT 166947.274          67699.358          104208.000  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LMD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166947.274          67699.358          104208.000  0.5
    END-POINT 166947.274          67699.358          104208.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LMG                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166947.274          67699.358          104208.000  0.5  SW FEMALE 
    END-POINT 166947.274          67643.232          104208.000  0.5  
    CENTRE-POINT  166947.274          67669.008          104208.000 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_LMF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 166947.274          67643.232          104208.000  0.5  
    END-POINT 166947.274          67621.134          104208.000  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2L                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 167032.895          68211.508          104208.000  4  BW
    END-POINT 169927.138          68209.918          104208.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M25                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 167828.708  68211.071 104208.000 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 169000.000  68210.427 104208.000  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M2A                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 169927.138          68209.918          104208.000  4
    END-POINT 169927.138          68209.918          104208.000  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M27                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 169927.138          68209.918          104208.000  4  
    END-POINT 170079.538          68362.318          104208.000  4  
    CENTRE-POINT  170079.538          68209.918          104208.000 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IGP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 170079.538          68362.318          104208.000 
    PIPELINE-REFERENCE C210-4910-12E-PE-0013-PRM-0003-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE TOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION THREDOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE TEESTR3/4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE SW, A105N, CL6000, NACE
    RATING CL6000
ITEM-CODE VALVGLB1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825HSW
    RATING 800LB
ITEM-CODE VALVGAT1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
