ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0006-PRM-0001-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0006-PRM-0001-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0005-4"
    ATTRIBUTE83   TEST HEADER
    ATTRIBUTE84   C210-4902-12E-0002-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0006-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 217654.732          68303.188          105297.625  1  
    END-POINT 217654.732          68303.188          105267.462  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C0R                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 217654.732          68303.188          105378.462  1  SW FEMALE 
    END-POINT 217654.732          68303.188          105297.625  1  
    CENTRE-POINT  217654.732          68303.188          105335.662 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C0N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 217654.732          68303.188          105378.462  1
    END-POINT 217654.732          68303.188          105378.462  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C0O                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 217654.732          68303.188          105480.062  1  
    END-POINT 217654.732          68303.188          105378.462  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C0L                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 217654.732          68303.188          105480.062  1
    END-POINT 217654.732          68303.188          105480.062  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C0M                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     217654.732  68303.188 105564.200 
    BRANCH1-POINT 217654.732          68303.188          105480.062  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C0J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 217654.732  68303.188 105564.200  4
    END-POINT 217654.732  68303.188 105564.200  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C0K                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 217292.638          68303.188          105564.200  4  BW
    END-POINT 217774.732          68303.188          105564.200  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C0F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 217476.800  68303.188 105564.200 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 217292.638          68303.188          105564.200  4
    END-POINT 217292.638          68303.188          105564.200  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2C                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 217774.732          68303.188          105564.200  4
    END-POINT 217774.732          68303.188          105564.200  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2K                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 217882.682          68303.188          105564.200  4  
    END-POINT 217774.732          68303.188          105564.200  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 217882.682          68303.188          105564.200  4
    END-POINT 217885.862          68303.188          105564.200  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 217882.682          68303.188          105564.200 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2F                 
INSTRUMENT
    END-POINT 218317.862          68303.188          105564.200  4  
    END-POINT 217885.862          68303.188          105564.200  4  
    CENTRE-POINT  218101.862          68303.188          105564.200 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_B03                 
    TAG 12E$XV$2110                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 218321.042          68303.188          105564.200  4
    END-POINT 218317.862          68303.188          105564.200  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 218321.042          68303.188          105564.200 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2I                 
FLANGE
    END-POINT 218321.042          68303.188          105564.200  4  
    END-POINT 218428.992          68303.188          105564.200  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 218428.992          68303.188          105564.200  4
    END-POINT 218428.992          68303.188          105564.200  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2J                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 218428.992          68303.188          105564.200  4  BW
    END-POINT 219226.316          68303.188          105564.200  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C6Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 219000.147  68303.188 105564.200  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C84                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 219226.318          68303.178          105564.200  4
    END-POINT 219226.318          68303.178          105564.200  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_E03                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
GAP
    END-POINT 219226.316          68303.188          105564.200  4  
    END-POINT 219226.327          68303.188          105564.200  4  
    PIPING-SPEC CHS
ELBOW
    END-POINT 219378.718          68455.578          105564.200  4  
    END-POINT 219226.318          68303.178          105564.200  4  
    CENTRE-POINT  219378.718          68303.178          105564.200 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_E00                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 219378.718          68455.578          105564.200  4
    END-POINT 219378.718          68455.578          105564.200  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2O                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 219378.718          68563.528          105564.200  4  
    END-POINT 219378.718          68455.578          105564.200  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2L                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 219378.718          68563.528          105564.200  4
    END-POINT 219378.718          68566.708          105564.200  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 219378.718          68566.708          105564.200 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2N                 
VALVE
    END-POINT 219378.718          68998.508          105564.200  4  
    END-POINT 219378.718          68566.708          105564.200  4  
    CENTRE-POINT  219378.718          68782.608          105564.200 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DZS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT 219378.718          69001.688          105564.200  4
    END-POINT 219378.718          68998.508          105564.200  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 219378.718          68998.508          105564.200 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2R                 
FLANGE
    END-POINT 219378.718          69001.688          105564.200  4  
    END-POINT 219378.718          69109.638          105564.200  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2P                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 219378.718          69109.638          105564.200 
    PIPELINE-REFERENCE C210-4910-12E-PE-0005-PRM-0001-04
FLANGE
    END-POINT 217184.688          68303.188          105564.200  4  
    END-POINT 217292.638          68303.188          105564.200  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G28                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 217184.688          68303.188          105564.200  4
    END-POINT 217181.508          68303.188          105564.200  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G29                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 217181.508          68303.188          105564.200 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2A                 
VALVE
    END-POINT 217181.508          68303.188          105564.200  4  
    END-POINT 216749.708          68303.188          105564.200  4  
    CENTRE-POINT  216965.608          68303.188          105564.200 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C05                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 216746.528          68303.188          105564.200  4
    END-POINT 216749.708          68303.188          105564.200  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G23                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 216749.708          68303.188          105564.200 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G24                 
FLANGE
    END-POINT 216746.528          68303.188          105564.200  4  
    END-POINT 216638.578          68303.188          105564.200  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G22                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 216638.578          68303.188          105564.200  4
    END-POINT 216638.578          68303.188          105564.200  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G2B                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 216486.178          68303.188          105411.800  4  
    END-POINT 216638.578          68303.188          105564.200  4  
    CENTRE-POINT  216486.178          68303.188          105564.200 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DFR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 216486.178          68303.188          105411.800  4
    END-POINT 216486.178          68303.188          105411.800  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FHZ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 216486.178          68303.188          105411.800  4  BW
    END-POINT 216486.178          68303.188          104410.858  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FHY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 216486.178          68303.188          104410.858  4
    END-POINT 216486.178          68303.188          104410.858  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G21                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 216486.178          68303.188          104302.908  4  
    END-POINT 216486.178          68303.188          104410.858  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G1Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 216486.178          68303.188          104302.908  4
    END-POINT 216486.178          68303.188          104299.728  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G1Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 216486.178          68303.188          104299.728 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G20                 
VALVE
    END-POINT 216486.178          68303.188          104299.728  4  
    END-POINT 216486.178          68303.188          103867.928  4  
    CENTRE-POINT  216486.178          68303.188          104083.828 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_E2D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 216486.178          68303.188          103864.748  4
    END-POINT 216486.178          68303.188          103867.928  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G1V                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 216486.178          68303.188          103864.748  4  
    END-POINT 216486.178          68303.188          103756.798  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_G1U                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 216486.178          68303.188          103756.798 
    PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0001-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING 6000LB
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE VALVBAL4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING 600LB
