ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0015-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE31   H
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0015-PRM-0004-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE73   3120
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0013-4"
    ATTRIBUTE83   12E-PE-0028-4"
    ATTRIBUTE84   C210-4902-12E-0008-03
    ATTRIBUTE88   -
    ATTRIBUTE89   -
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0015-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 153604.452          68303.188          105440.572  1  
    END-POINT 153604.452          68303.188          105410.410  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BYF                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 153604.452          68303.188          105521.410  1  SW FEMALE 
    END-POINT 153604.452          68303.188          105440.572  1  
    CENTRE-POINT  153604.452          68303.188          105478.610 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BYC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 153604.452          68303.188          105521.410  1
    END-POINT 153604.452          68303.188          105521.410  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BYB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 153604.452          68303.188          105623.010  1  
    END-POINT 153604.452          68303.188          105521.410  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BYA                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 153604.452          68303.188          105623.010  1
    END-POINT 153604.452          68303.188          105623.010  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EJ4                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     153604.452  68303.188 105694.450 
    BRANCH1-POINT 153604.452          68303.188          105623.010  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EJ1                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 153604.452  68303.188 105694.450  3
    END-POINT 153604.452  68303.188 105694.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EJ3                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 153745.727          68303.188          105694.450  3  BW
    END-POINT 153504.462          68303.188          105694.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 153745.727          68303.188          105694.450  3
    END-POINT 153745.727          68303.188          105694.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIZ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 153504.462          68303.188          105694.450  3
    END-POINT 153504.462          68303.188          105694.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EJ0                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 153415.562          68303.188          105694.450  3  
    END-POINT 153504.462          68303.188          105694.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIV                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 153415.562          68303.188          105694.450  3
    END-POINT 153412.382          68303.188          105694.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 153412.382          68303.188          105694.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIX                 
VALVE
    END-POINT 153056.782          68303.188          105694.450  3  
    END-POINT 153412.382          68303.188          105694.450  3  
    CENTRE-POINT  153234.582          68303.188          105694.450 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 153056.782          68303.188          105694.450  3
    END-POINT 153053.602          68303.188          105694.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 153056.782          68303.188          105694.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIS                 
FLANGE
    END-POINT 153053.602          68303.188          105694.450  3  
    END-POINT 152964.702          68303.188          105694.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BYN                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152964.702          68303.188          105694.450  3
    END-POINT 152964.702          68303.188          105694.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHU                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 152964.702          68303.188          105694.450  3  
    END-POINT 152850.402          68303.188          105808.750  3  
    CENTRE-POINT  152850.402          68303.188          105694.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 152850.402  68303.188 105694.450  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHY                 
    TAG                         BS01-3                          
WELD
    END-POINT 152850.402          68303.188          105808.750  3
    END-POINT 152850.402          68303.188          105808.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EHV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 152850.402          68303.188          105808.750  3  BW
    END-POINT 152850.402          68303.188          106780.150  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DCJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152850.402          68303.188          106780.150  3
    END-POINT 152850.402          68303.188          106780.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 152736.102          68303.188          106894.450  3  
    END-POINT 152850.402          68303.188          106780.150  3  
    CENTRE-POINT  152850.402          68303.188          106894.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 152736.102          68303.188          106894.450  3
    END-POINT 152736.102          68303.188          106894.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 150456.102          68303.188          106894.450  3  BW
    END-POINT 152736.102          68303.188          106894.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSF                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 150456.102          68303.188          106894.450  3
    END-POINT 150456.102          68303.188          106894.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSG                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152536.102  68303.188 106894.450  3
    END-POINT 152536.102  68303.188 106894.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLI                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     152536.102  68303.188 106894.450 
    BRANCH1-POINT 152536.102          68303.188          106965.890  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152536.102          68303.188          106965.890  1
    END-POINT 152536.102          68303.188          106965.890  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLK                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 152536.102          68303.188          106965.890  1  
    END-POINT 152536.102          68303.188          107067.490  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152536.102          68303.188          107067.490  1
    END-POINT 152536.102          68303.188          107067.490  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLM                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 152536.102          68303.188          107067.490  1  SW FEMALE 
    END-POINT 152536.102          68303.188          107145.740  1  
    CENTRE-POINT  152536.102          68303.188          107109.790 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 152536.102          68303.188          107145.740  1  
    END-POINT 152536.102          68303.188          107174.442  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FLP                 
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 150341.802          68303.188          106780.150  3  
    END-POINT 150456.102          68303.188          106894.450  3  
    CENTRE-POINT  150341.802          68303.188          106894.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 150341.802          68303.188          106780.150  3
    END-POINT 150341.802          68303.188          106780.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSE                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 150341.802          68303.188          106780.150  3  BW
    END-POINT 150341.802          68303.188          105805.702  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D6V                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 150341.802          68303.188          105805.702  3
    END-POINT 150341.802          68303.188          105805.702  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D8H                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 150446.450          68303.188          105707.150  4  
    END-POINT 150237.154          68303.188          105707.150  4  
    CENTRE-POINT  150341.802          68303.188          105707.150 
    BRANCH1-POINT 150341.802          68303.188          105805.702  3  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C8H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 150446.450          68303.188          105707.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0028-PRM-0004-01
FLANGE
    END-POINT 153834.627          68303.188          105694.450  3  
    END-POINT 153745.727          68303.188          105694.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EI6                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 153834.627          68303.188          105694.450  3
    END-POINT 153837.807          68303.188          105694.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EI7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 153837.807          68303.188          105694.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EI8                 
VALVE
    END-POINT 154193.407          68303.188          105694.450  3  
    END-POINT 153837.807          68303.188          105694.450  3  
    CENTRE-POINT  154015.607          68303.188          105694.450 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EI1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 154193.407          68303.188          105694.450  3
    END-POINT 154196.587          68303.188          105694.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EI2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 154193.407          68303.188          105694.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EI3                 
VALVE
    END-POINT 154552.187          68303.188          105694.450  3  
    END-POINT 154196.587          68303.188          105694.450  3  
    CENTRE-POINT  154374.387          68303.188          105694.450 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSP                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 154555.367          68303.188          105694.450  3
    END-POINT 154552.187          68303.188          105694.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DST                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 154552.187          68303.188          105694.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSU                 
FLANGE
    END-POINT 154555.367          68303.188          105694.450  3  
    END-POINT 154644.267          68303.188          105694.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 154644.267          68303.188          105694.450  3
    END-POINT 154644.267          68303.188          105694.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DSV                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 154644.267          68303.188          105694.450  3  
    END-POINT 154758.567          68303.188          105808.750  3  
    CENTRE-POINT  154758.567          68303.188          105694.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BXP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 154758.567  68303.188 105694.450  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BXQ                 
    TAG                         BS01-3                          
WELD
    END-POINT 154758.567          68303.188          105808.750  3
    END-POINT 154758.567          68303.188          105808.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DCH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 154758.567          68303.188          105808.750  3  BW
    END-POINT 154758.567          68303.188          107300.150  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DCG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 154758.567          68303.188          107300.150  3
    END-POINT 154758.567          68303.188          107300.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DCI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 154758.567          68303.188          107300.150  3  
    END-POINT 154872.867          68303.188          107414.450  3  
    CENTRE-POINT  154758.567          68303.188          107414.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DCA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 154872.867          68303.188          107414.450  3
    END-POINT 154872.867          68303.188          107414.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DT1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 154872.867          68303.188          107414.450  3  BW
    END-POINT 158550.000          68303.188          107414.450  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DT0                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 157631.294  68303.188 107414.450 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 156040.000  68303.188 107414.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DT6                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 158550.000          68303.188          107414.450  3
    END-POINT 158550.000          68303.188          107414.450  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K6X                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 155877.867  68303.188 107414.450  3
    END-POINT 155877.867  68303.188 107414.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIC                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 158550.000          68303.188          107414.450  3  
    END-POINT 165296.500          68303.188          107414.450  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HDG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 159999.999  68303.188 107414.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HDH                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 163000.000  68303.188 107414.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HDI                 
    TAG                         S01-A-3-3                       
FLOW-ARROW
    CO-ORDS 164350.543  68303.188 107414.450 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 165296.500          68303.188          107414.450 
    PIPELINE-REFERENCE C210-4910-12E-CG-0015-PRM-0003-01
OLET
    CENTRE-POINT     155877.867  68303.188 107414.450 
    BRANCH1-POINT 155877.867          68303.188          107485.890  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIA                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 155877.867          68303.188          107485.890  1
    END-POINT 155877.867          68303.188          107485.890  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIE                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 155877.867          68303.188          107485.890  1  
    END-POINT 155877.867          68303.188          107587.490  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EID                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 155877.867          68303.188          107587.490  1
    END-POINT 155877.867          68303.188          107587.490  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIG                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 155877.867          68303.188          107587.490  1  SW FEMALE 
    END-POINT 155877.867          68303.188          107665.740  1  
    CENTRE-POINT  155877.867          68303.188          107629.790 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 155877.867          68303.188          107665.740  1  
    END-POINT 155877.867          68303.188          107694.442  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EIJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPEB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT BS01-3
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
