ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0024-PRM-0006-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0024-PRM-0006-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0166-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0024-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 116578.386          72572.171          104459.205  0.5  
    END-POINT 116603.786          72572.171          104459.205  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 116603.786          72572.171          104459.205 
VALVE
    END-POINT 116489.738          72572.171          104459.205  0.5  SW FEMALE 
    END-POINT 116578.386          72572.171          104459.205  0.5  
    CENTRE-POINT  116535.586          72572.171          104459.205 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 116489.738          72572.171          104459.205  0.5
    END-POINT 116489.738          72572.171          104459.205  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKE                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 116388.138          72572.171          104459.205  0.5  
    END-POINT 116489.738          72572.171          104459.205  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKF                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 116388.138          72572.171          104459.205  0.5
    END-POINT 116388.138          72572.171          104459.205  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 116362.738          72572.171          104436.853  1  
    END-POINT 116362.738          72572.171          104481.557  1  
    CENTRE-POINT  116362.738          72572.171          104459.205 
    BRANCH1-POINT 116388.138          72572.171          104459.205  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 116362.738          72572.171          104436.853  1
    END-POINT 116362.738          72572.171          104436.853  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKI                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 116362.738          72572.171          104481.557  1
    END-POINT 116362.738          72572.171          104481.557  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 116362.738          72572.171          104481.557  1  PL
    END-POINT 116362.738          72572.171          104583.157  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 116362.738          72572.171          104583.157  1
    END-POINT 116362.738          72572.171          104583.157  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKL                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 116362.738          72572.171          104583.157  1  
    END-POINT 116362.738          72572.171          104677.757  1  
    CENTRE-POINT  116362.738          72572.171          104630.457 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 116362.738          72572.171          104677.757  1
    END-POINT 116362.738          72572.171          104677.757  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKO                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 116362.738          72572.171          104677.757  1  PL
    END-POINT 116362.738          72572.171          105898.208  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKP                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 116362.738  72572.171 105241.445 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 116362.738          72572.171          105898.208  1
    END-POINT 116362.738          72572.171          105898.208  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DYR                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 116362.738          72572.171          105898.208  1  
    END-POINT 116340.386          72572.171          105920.560  1  
    CENTRE-POINT  116362.738          72572.171          105920.560 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DYP                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 116340.386          72572.171          105920.560  1
    END-POINT 116340.386          72572.171          105920.560  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DYX                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 115684.701          72572.171          105920.560  1  PL
    END-POINT 116340.386          72572.171          105920.560  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DYV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 115684.701          72572.171          105920.560  1
    END-POINT 115684.701          72572.171          105920.560  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZ3                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 115684.701          72572.171          105920.560  1  
    END-POINT 115662.349          72549.819          105920.560  1  
    CENTRE-POINT  115662.349          72572.171          105920.560 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZ1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 115662.349          72549.819          105920.560  1
    END-POINT 115662.349          72549.819          105920.560  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZ8                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 115662.349          72329.540          105920.560  1  PL
    END-POINT 115662.349          72549.819          105920.560  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZ6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 115662.349          72329.540          105920.560  1
    END-POINT 115662.349          72329.540          105920.560  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZ7                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 115662.349          72329.540          105920.560  1  
    END-POINT 115662.349          72307.188          105942.912  1  
    CENTRE-POINT  115662.349          72307.188          105920.560 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZ4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 115662.349          72307.188          105942.912  1
    END-POINT 115662.349          72307.188          105942.912  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZA                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 115662.349          72307.188          105942.912  1  PL
    END-POINT 115662.349          72307.188          106329.363  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZ9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 115662.349          72307.188          106329.363  1
    END-POINT 115662.349          72307.188          106329.363  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZB                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT     115662.349  72307.188 106380.163 
    BRANCH1-POINT 115662.349          72307.188          106329.363  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DYL                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 115662.349  72307.188 106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0006-01
PIPE
    END-POINT 116362.738          72572.171          104335.253  1  PL
    END-POINT 116362.738          72572.171          104436.853  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CKZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 116362.738          72572.171          104335.253  1
    END-POINT 116362.738          72572.171          104335.253  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL0                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 116362.738          72572.171          104240.653  1  
    END-POINT 116362.738          72572.171          104335.253  1  
    CENTRE-POINT  116362.738          72572.171          104287.953 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 116362.738          72572.171          104240.653  1
    END-POINT 116362.738          72572.171          104240.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL3                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 116362.738          72572.171          104139.053  1  PL
    END-POINT 116362.738          72572.171          104240.653  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 116362.738          72572.171          104139.053  1
    END-POINT 116362.738          72572.171          104139.053  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 116340.386          72572.171          104116.701  1  
    END-POINT 116362.738          72572.171          104139.053  1  
    CENTRE-POINT  116362.738          72572.171          104116.701 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 116340.386          72572.171          104116.701  1
    END-POINT 116340.386          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 116340.386          72572.171          104116.701  1  PL
    END-POINT 114808.503          72572.171          104116.701  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 116000.000  72572.171 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CL9                 
    TAG                         S01-A-3-1                       
WELD
    END-POINT 114808.503          72572.171          104116.701  1
    END-POINT 114808.503          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQT                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 114719.603          72572.171          104116.701  1  
    END-POINT 114808.503          72572.171          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 114741.828          72572.171          104181.726  0.5
GASKET
    END-POINT 114719.593          72572.171          104116.701  1
    END-POINT 114719.603          72572.171          104116.701  1
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQW                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 114719.593          72572.171          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           6.250
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQX                 
WELD
    END-POINT 114741.828          72572.171          104181.726  0.5
    END-POINT 114741.828          72572.171          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ER6                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  114741.828          72572.171          104181.726 
    BRANCH1-POINT 114741.828          72572.171          104334.126  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ENC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 114741.828          72572.171          104334.126  0.5
    END-POINT 114741.828          72572.171          104334.126  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ENF                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 114741.828          72572.171          104334.126  0.5  SW FEMALE 
    END-POINT 114741.828          72572.171          104421.252  0.5  
    CENTRE-POINT  114741.828          72572.171          104379.976 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ENE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 114741.828          72572.171          104421.252  0.5  
    END-POINT 114741.828          72572.171          104443.350  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ENI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
INSTRUMENT
    END-POINT 114719.593          72572.171          104116.701  1  FL
    END-POINT 114706.593          72572.171          104116.701  1  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQU                 
    TAG 12E$FE$6105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 114706.593          72572.171          104116.701  1
    END-POINT 114706.593          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQZ                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 114706.593          72572.171          104116.701  1  
    END-POINT 114617.693          72572.171          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 114684.368          72572.171          104181.726  0.5
WELD
    END-POINT 114617.693          72572.171          104116.701  1
    END-POINT 114617.693          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ER3                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 114684.368          72572.171          104181.726  0.5
    END-POINT 114684.368          72572.171          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ER8                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  114684.368          72572.171          104181.726 
    BRANCH1-POINT 114684.368          72572.171          104257.926  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.148
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ER7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 114684.368          72572.171          104257.926  0.5
    END-POINT 114684.368          72572.171          104257.926  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ERA                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 114684.368          72572.171          104257.926  0.5  SW FEMALE 
    END-POINT 114684.368          72572.171          104345.052  0.5  
    CENTRE-POINT  114684.368          72572.171          104303.776 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ER9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT 114684.368          72572.171          104345.052  0.5  
    END-POINT 114684.368          72572.171          104367.150  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ERD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 114225.702          72572.171          104116.701  1  PL
    END-POINT 114617.693          72572.171          104116.701  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ER1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 114225.702          72572.171          104116.701  1
    END-POINT 114225.702          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ER2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 114180.998          72572.171          104116.701  1  
    END-POINT 114225.702          72572.171          104116.701  1  
    CENTRE-POINT  114203.350          72572.171          104116.701 
    BRANCH1-POINT 114203.350          72572.171          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CM0                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 114180.998          72572.171          104116.701  1
    END-POINT 114180.998          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CM1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 114203.350          72572.171          104139.053  0.75
    END-POINT 114203.350          72572.171          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CM2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 114203.350          72572.171          104139.053  0.75  
    END-POINT 114203.350          72572.171          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CM3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 114203.350          72572.171          104240.653  0.75
    END-POINT 114203.350          72572.171          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CM4                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 114203.350          72572.171          104240.653  0.75  SW FEMALE 
    END-POINT 114203.350          72572.171          104323.645  0.75  
    CENTRE-POINT  114203.350          72572.171          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CM5                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 114203.350          72572.171          104323.645  0.75  
    END-POINT 114203.350          72572.171          104352.220  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CM8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 114203.350  72572.171 104337.933 
    TEXT CONT.TO 12E-FG-0144-1/2"-EY
    UNDIMENSIONED
PIPE
    END-POINT 114001.216          72572.171          104116.701  1  PL
    END-POINT 114180.998          72572.171          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 114001.216          72572.171          104116.701  1
    END-POINT 114001.216          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMB                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 113966.418          72572.171          104116.701  1  
    END-POINT 114001.216          72572.171          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 113966.418          72572.171          104116.701  1
    END-POINT 113962.354          72572.171          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 113962.354          72572.171          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CME                 
INSTRUMENT
    END-POINT 113708.354          72572.171          104116.701  1  
    END-POINT 113962.354          72572.171          104116.701  1  
    CENTRE-POINT  113835.354          72572.171          104116.701 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMF                 
    TAG 12E$FV$6105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 113708.354          72572.171          104116.701 
    PIPELINE-REFERENCE C210-4910-12E-FG-0024-PRM-0006-02
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE TEERED1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A350-LF2 CL1, CL1500  , GA-1514L
    RATING 1500LB
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING CL3000
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE FLGWNK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE, w/ 1/2" SW TAPS - OOS
    RATING CL1500
    RATING SCH 80
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 6 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS - OOS
    RATING CL1500
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 6" LG
    RATING SCH 160
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 3" LG
    RATING SCH 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
