ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0027-PRM-0001-02
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0027-PRM-0001-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0008-6"
    ATTRIBUTE83   12E-S-0028-4"
    ATTRIBUTE84   C210-4902-12E-0001-02
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0027-4"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 221167.618          71586.799          104372.480  0.5  
    END-POINT 221145.520          71586.799          104372.480  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GAO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
VALVE-3WAY
    END-POINT 221208.385          71586.799          104330.189  0.75  SW FEMALE 
    END-POINT 221208.385          71586.799          104411.723  0.75  
    END-POINT 221167.618          71586.799          104372.480  0.5  
    CENTRE-POINT  221208.385          71586.799          104372.480 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GAJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221208.385          71586.799          104330.189  0.75
    END-POINT 221208.385          71586.799          104330.189  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GAL                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 221208.385          71586.799          104411.723  0.75  
    END-POINT 221208.385          71586.799          104437.123  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GAM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 221208.385  71586.799 104427.471 
    UNDIMENSIONED
    TEXT 12E$PIT$2103
COUPLING
    END-POINT 221208.385          71586.799          104228.589  0.75  
    END-POINT 221208.385          71586.799          104330.189  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BJO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221208.385          71586.799          104228.589  0.75
    END-POINT 221208.385          71586.799          104228.589  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GBU                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     221208.385  71586.799 104157.149 
    BRANCH1-POINT 221208.385          71586.799          104228.589  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GBP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221208.385  71586.799 104157.149  4
    END-POINT 221208.385  71586.799 104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GBR                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 220766.495          71586.799          104157.149  4  BW
    END-POINT 221328.092          71586.799          104157.149  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_F97                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 220963.729  71586.799 104157.149 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 220766.495          71586.799          104157.149  4
    END-POINT 220766.495          71586.799          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GB8                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 221328.092          71586.799          104157.149  4
    END-POINT 221328.092          71586.799          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_F99                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 221088.385  71586.799 104157.149  4
    END-POINT 221088.385  71586.799 104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GBO                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     221088.385  71586.799 104157.149 
    BRANCH1-POINT 221088.385          71586.799          104079.359  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GBM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221088.385          71586.799          104079.359  1
    END-POINT 221088.385          71586.799          104079.359  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GCI                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 221088.385          71586.799          104079.359  1  
    END-POINT 221088.385          71586.799          103977.759  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GCH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 221088.385          71586.799          103977.759  1
    END-POINT 221088.385          71586.799          103977.759  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GCJ                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 221088.385          71586.799          103977.759  1  SW FEMALE 
    END-POINT 221088.385          71586.799          103899.509  1  
    CENTRE-POINT  221088.385          71586.799          103935.459 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GC1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 221088.385          71586.799          103899.509  1  
    END-POINT 221088.385          71586.799          103870.807  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GC5                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 221088.385  71586.799 103880.459 
    TEXT HEAT TRACING AT$LOW POINT DRAIN
    UNDIMENSIONED
VALVE
    END-POINT 221328.092          71586.799          104157.149  4  
    END-POINT 221759.892          71586.799          104157.149  4  
    CENTRE-POINT  221543.992          71586.799          104157.149 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_91P                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 221759.892          71586.799          104157.149  4
    END-POINT 221759.892          71586.799          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYI                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 221759.892          71586.799          104157.149  4  BW
    END-POINT 222240.965          71586.799          104157.149  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 221999.892  71586.799 104157.149  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYL                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 222240.965          71586.799          104157.149  4
    END-POINT 222240.965          71586.799          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 222240.965          71586.799          104157.149  4  
    END-POINT 222450.265          71586.799          104157.149  4  
    CENTRE-POINT  222345.615          71586.799          104157.149 
    BRANCH1-POINT 222345.615          71586.799          104255.699  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EIU                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 222450.265          71586.799          104157.149  4
    END-POINT 222450.265          71586.799          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYG                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 222345.615          71586.799          104255.699  3
    END-POINT 222345.615          71586.799          104255.699  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FVD                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 222345.615          71586.799          104344.599  3  
    END-POINT 222345.615          71586.799          104255.699  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EIY                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 222345.615          71586.799          104347.779  3
    END-POINT 222345.615          71586.799          104344.599  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EJ2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 222345.615          71586.799          104347.779  3  
    END-POINT 222345.615          71586.799          104360.479  3  
    CENTRE-POINT 222345.615  71586.799 104354.129 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EJ0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 222345.615          71586.799          104363.659  3
    END-POINT 222345.615          71586.799          104360.479  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GH2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 222345.615          71586.799          104363.659  3  
    END-POINT 222345.615          71586.799          104452.559  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EK9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 222345.615          71586.799          104452.559 
    PIPELINE-REFERENCE C210-4910-12E-S-0029-PRM-0001-01
FLANGE
    END-POINT 222558.215          71586.799          104157.149  4  
    END-POINT 222450.265          71586.799          104157.149  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 222558.215          71586.799          104157.149  4
    END-POINT 222561.395          71586.799          104157.149  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 222577.145          71586.799          104157.149  4  
    END-POINT 222561.395          71586.799          104157.149  4  
    CENTRE-POINT 222569.270  71586.799 104157.149 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FY2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
END-CONNECTION-PIPELINE 
    CO-ORDS 222577.145          71586.799          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0028-PRM-0001-01
FLANGE
    END-POINT 220658.545          71586.799          104157.149  4  
    END-POINT 220766.495          71586.799          104157.149  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GAU                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 220655.365          71586.799          104157.149  4
    END-POINT 220658.545          71586.799          104157.149  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GHJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 220658.545          71586.799          104157.149 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GHK                 
INSTRUMENT
    END-POINT 220655.365          71586.799          104157.149  4  
    END-POINT 220330.365          71586.799          104157.149  4  
    CENTRE-POINT  220492.865          71586.799          104157.149 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GBB                 
    TAG 12E$FE$2103                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 220327.185          71586.799          104157.149  4
    END-POINT 220330.365          71586.799          104157.149  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GHM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 220327.185          71586.799          104157.149  4  
    END-POINT 220219.235          71586.799          104157.149  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_GHL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 220219.235          71586.799          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0027-PRM-0001-01
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, A105N, CL800, DB-805ST
    RATING CL800
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80 x SCH 40
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600
    RATING CL600
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
