ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0029-PRM-0001-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0029-PRM-0001-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0027-4"
    ATTRIBUTE83   12E-PE-0005-4"
    ATTRIBUTE84   C210-4902-12E-0001-02
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0029-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 222567.856          71809.046          105100.057  1  
    END-POINT 222567.856          71809.046          105128.759  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FHB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 222567.856          71809.046          105021.807  1  SW FEMALE 
    END-POINT 222567.856          71809.046          105100.057  1  
    CENTRE-POINT  222567.856          71809.046          105064.107 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FH7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 45 NORTH
WELD
    END-POINT 222567.856          71809.046          105021.807  1
    END-POINT 222567.856          71809.046          105021.807  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FTF                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 222567.856          71809.046          104920.207  1  
    END-POINT 222567.856          71809.046          105021.807  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FTD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 222567.856          71809.046          104920.207  1
    END-POINT 222567.856          71809.046          104920.207  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FTE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     222567.856  71809.046 104855.117 
    BRANCH1-POINT 222567.856          71809.046          104920.207  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FHU                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 222567.856  71809.046 104855.117  3
    END-POINT 222567.856  71809.046 104855.117  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FHV                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 222426.437          71667.622          104855.117  3  BW
    END-POINT 222756.988          71998.184          104855.117  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FHQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 222426.437          71667.622          104855.117  3
    END-POINT 222426.437          71667.622          104855.117  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FHR                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 222756.988          71998.184          104855.117  3
    END-POINT 222756.988          71998.184          104855.117  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FHS                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 222756.988          71998.184          104855.117  3  
    END-POINT 222843.709          72034.105          104855.117  3  
    CENTRE-POINT  222792.909          72034.105          104855.117 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           1.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EKR                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT 222843.709          72034.105          104855.117  3
    END-POINT 222843.709          72034.105          104855.117  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FT5                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 222843.709          72034.105          104855.117  3  BW
    END-POINT 223595.824          72034.105          104855.116  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FT4                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 223202.149  72034.105 104855.116 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 223595.824          72034.105          104855.116  3
    END-POINT 223595.824          72034.105          104855.116  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FT8                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 223684.724          72034.105          104855.116  3  
    END-POINT 223595.824          72034.105          104855.116  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FT7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 223687.904          72034.105          104855.116  3
    END-POINT 223684.724          72034.105          104855.116  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FTB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
VALVE
    END-POINT 223687.904          72034.105          104855.116  3  
    END-POINT 224043.504          72034.105          104855.116  3  
    CENTRE-POINT  223865.704          72034.105          104855.116 
    SKEY CKFL
    CONTINUATION 
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FSW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 224043.504          72034.105          104855.116 
    PIPELINE-REFERENCE C210-4910-12E-PE-0005-PRM-0001-01
ELBOW
    END-POINT 222345.615          71586.799          104740.817  3  
    END-POINT 222426.437          71667.622          104855.117  3  
    CENTRE-POINT  222345.615          71586.799          104855.117 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EKK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 222345.615          71586.799          104740.817  3
    END-POINT 222345.615          71586.799          104740.817  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EKM                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 222345.615          71586.799          104452.559  3  BW
    END-POINT 222345.615          71586.799          104740.817  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EKE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 222345.615          71586.799          104452.559  3
    END-POINT 222345.615          71586.799          104452.559  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EKF                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 222345.615          71586.799          104363.659  3  
    END-POINT 222345.615          71586.799          104452.559  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EK9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-POSITION-OPEN 
    CO-ORDS 222345.615          71586.799          104363.659 
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE 45LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 40
    RATING SCH 40
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING SCH 40
