ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0076-PRM-0003-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0076-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0006-8"
    ATTRIBUTE83   12E-S-0015-4"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0076-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 169351.943          70497.139          104350.965  1  
    END-POINT 169351.943          70497.139          104322.263  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 169351.943          70497.139          104322.263 
VALVE
    END-POINT 169351.943          70497.139          104436.563  1  SW FEMALE 
    END-POINT 169351.943          70497.139          104350.965  1  
    CENTRE-POINT  169351.943          70497.139          104390.589 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 169351.943          70497.139          104436.563  1
    END-POINT 169351.943          70497.139          104436.563  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLH                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 169351.943          70497.139          104538.163  1  
    END-POINT 169351.943          70497.139          104436.563  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 169351.943          70497.139          104538.163  1
    END-POINT 169351.943          70497.139          104538.163  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLF                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 169351.943          70497.139          104623.763  1  
    END-POINT 169351.943          70497.139          104538.163  1  
    CENTRE-POINT  169351.943          70497.139          104580.963 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KL9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 169351.943          70497.139          104623.763  1
    END-POINT 169351.943          70497.139          104623.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLA                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 169351.943          70497.139          104725.363  1  
    END-POINT 169351.943          70497.139          104623.763  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KL7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 169351.943          70497.139          104725.363  1
    END-POINT 169351.943          70497.139          104725.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KL8                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     169351.943  70497.139 104790.453 
    BRANCH1-POINT 169351.943          70497.139          104725.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KL4                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 169351.943  70497.139 104790.453  3
    END-POINT 169351.943  70497.139 104790.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KL6                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 169351.943          70597.139          104790.453  3  BW
    END-POINT 169351.943          70397.139          104790.453  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 169351.943          70597.139          104790.453  3
    END-POINT 169351.943          70597.139          104790.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKI                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 169351.943          70397.139          104790.453  3
    END-POINT 169351.943          70397.139          104790.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKK                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 169351.943          70397.139          104790.453  3  
    END-POINT 169351.943          70041.539          104790.453  3  
    CENTRE-POINT  169351.943          70219.339          104790.453 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 169351.943          70041.539          104790.453  3
    END-POINT 169351.943          70041.539          104790.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7N                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 169351.943          68325.488          104790.453  3  BW
    END-POINT 169351.943          70041.539          104790.453  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7L                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 169351.943          68325.488          104790.453  3
    END-POINT 169351.943          68325.488          104790.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7M                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW-TEED
    END-POINT 169351.943          68325.488          104790.453  3  
    END-POINT 169351.943          68211.188          104904.753  3  
    CENTRE-POINT  169351.943          68211.188          104790.453 
    BRANCH1-POINT 169351.943  68211.188 104790.453  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 169351.943  68044.521 104790.453  3
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KM0                 
    TAG                         DS04-A-2-3                      
PIPE
    END-POINT 169351.943          68211.188          104790.453  2  BW
    END-POINT 169351.943  67711.188 104790.453  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 169351.943  67711.188 104790.453 
SUPPORT
    CO-ORDS 169351.943  67801.188 104790.453  3
    SKEY HANG
    FABRICATION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KMM                 
    TAG                         HS01-A-1-2                      
WELD
    END-POINT 169351.943          68211.188          104904.753  3
    END-POINT 169351.943          68211.188          104904.753  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7S                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 169351.943          68211.188          104904.753  3  BW
    END-POINT 169351.943          68211.188          105750.153  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7R                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 169351.943          68211.188          105750.153  3
    END-POINT 169351.943          68211.188          105750.153  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7T                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 169351.943          68211.188          105750.153  3  
    END-POINT 169237.643          68211.188          105864.453  3  
    CENTRE-POINT  169351.943          68211.188          105864.453 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 169237.643          68211.188          105864.453  3
    END-POINT 169237.643          68211.188          105864.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKW                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 169237.643          68211.188          105864.453  3  BW
    END-POINT 166886.274          68211.188          105864.453  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 167995.434  68211.188 105864.453 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 166886.274          68211.188          105864.453  3
    END-POINT 166886.274          68211.188          105864.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKX                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 166886.274          68211.188          105864.453  3  
    END-POINT 166771.974          68211.188          105978.753  3  
    CENTRE-POINT  166771.974          68211.188          105864.453 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKR                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166771.974          68211.188          105978.753  3
    END-POINT 166771.974          68211.188          105978.753  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLR                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166771.974          68211.188          106280.153  3  BW
    END-POINT 166771.974          68211.188          105978.753  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166771.974          68211.188          106280.153  3
    END-POINT 166771.974          68211.188          106280.153  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KLQ                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 166771.974          68211.188          106280.153  3  
    END-POINT 166771.976          68096.888          106394.453  3  
    CENTRE-POINT  166771.974          68211.188          106394.453 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166771.976          68096.888          106394.453  3
    END-POINT 166771.976          68096.888          106394.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KMP                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 166771.976          68096.888          106394.453  3  BW
    END-POINT 166772.000          66800.026          106394.453  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KMO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166771.982  67800.000 106394.453  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M6T                 
    TAG                         S01-A-3-3                       
END-POSITION-OPEN 
    CO-ORDS 166772.000          66800.026          106394.453 
VALVE
    END-POINT 169351.943          70952.739          104790.453  3  
    END-POINT 169351.943          70597.139          104790.453  3  
    CENTRE-POINT  169351.943          70774.939          104790.453 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 169351.943          70952.739          104790.453  3
    END-POINT 169351.943          70952.739          104790.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKF                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW-TEED
    END-POINT 169466.243          71067.039          104790.453  3  
    END-POINT 169351.943          70952.739          104790.453  3  
    CENTRE-POINT  169351.943          71067.039          104790.453 
    BRANCH1-POINT 169351.943  71067.039 104790.453  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KKB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 169185.276  71067.039 104790.453  3
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7U                 
    TAG                         DS05-A-2-3                      
PIPE
    END-POINT 169351.943          71067.039          104790.453  2  BW
    END-POINT 168851.943  71067.039 104790.453  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 168851.943  71067.039 104790.453 
MESSAGE
    CO-ORDS 169000.000  71067.039 104790.453 
    TEXT PS
WELD
    END-POINT 169466.243          71067.039          104790.453  3
    END-POINT 169466.243          71067.039          104790.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7K                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 170337.643          71067.039          104790.453  3  BW
    END-POINT 169466.243          71067.039          104790.453  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7I                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 170337.643          71067.039          104790.453  3
    END-POINT 170337.643          71067.039          104790.453  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7J                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 170337.643          71067.039          104790.453  3  
    END-POINT 170451.943          70986.217          104709.630  3  
    CENTRE-POINT  170451.943          71067.039          104790.453 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M71                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 170451.943          70986.217          104709.630  3
    END-POINT 170451.943          70986.217          104709.630  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7H                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 170451.943          70779.960          104503.374  3  BW
    END-POINT 170451.943          70986.217          104709.630  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7F                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 170451.943          70779.960          104503.374  3
    END-POINT 170451.943          70779.960          104503.374  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7G                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 170451.943          70779.960          104503.374  3  
    END-POINT 170451.943          70744.039          104416.653  3  
    CENTRE-POINT  170451.943          70744.039          104467.453 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           1.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7D                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT 170451.943          70744.039          104416.653  3
    END-POINT 170451.943          70744.039          104416.653  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7P                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 170451.943          70744.039          104416.653  3  BW
    END-POINT 170451.943          70744.039          103063.656  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7O                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 170451.943          70744.039          103063.656  3
    END-POINT 170451.943          70744.039          103063.656  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7Q                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     170451.943  70744.039 102909.666 
    BRANCH1-POINT 170451.943          70744.039          103063.656  3  
    SKEY WTBW
    CONTINUATION 
    WEIGHT           1.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KK8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 170451.943  70744.039 102909.666 
    PIPELINE-REFERENCE C210-4910-12E-S-0006-PRM-0003-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION GLOBE VALVE SW x THD, A105N, CL800  , GL-805STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE VALVGAT3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING CL600
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING SCH 40
ITEM-CODE SUPEB- 3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  500 mm DUMMY SUPPORT DS04-A-2-3
ITEM-CODE SUPRH-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION GENERAL HANGER HS01-A-1-2
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE SUPEB- 3_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  500 mm DUMMY SUPPORT DS05-A-2-3
ITEM-CODE 45LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 40
    RATING SCH 40
