ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0040-PRM-0003-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0040-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0038-4"
    ATTRIBUTE83   12E-PE-0013-4"
    ATTRIBUTE84   C210-4902-12E-0001-04
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-S-0040-4"-CHS
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 168728.922          71538.747          105068.990  1  
    END-POINT 168728.922          71538.747          105097.692  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 168728.922          71538.747          104990.740  1  SW FEMALE 
    END-POINT 168728.922          71538.747          105068.990  1  
    CENTRE-POINT  168728.922          71538.747          105033.040 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 168728.922          71538.747          104990.740  1
    END-POINT 168728.922          71538.747          104990.740  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5E                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 168728.922          71538.747          104889.140  1  
    END-POINT 168728.922          71538.747          104990.740  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 168728.922          71538.747          104889.140  1
    END-POINT 168728.922          71538.747          104889.140  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5C                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     168728.922  71538.747 104805.000 
    BRANCH1-POINT 168728.922          71538.747          104889.140  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K58                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 168728.922  71538.747 104805.000  4
    END-POINT 168728.922  71538.747 104805.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5A                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 169927.138          71538.735          104805.000  4  BW
    END-POINT 168478.922          71538.749          104805.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K4N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 169177.418  71538.743 104805.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 169927.138          71538.735          104805.000  4
    END-POINT 169927.138          71538.735          104805.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K4O                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 168478.922          71538.749          104805.000  4
    END-POINT 168478.922          71538.749          104805.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K4P                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 168326.522          71538.749          104652.600  4  
    END-POINT 168478.922          71538.749          104805.000  4  
    CENTRE-POINT  168326.522          71538.749          104805.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G81                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 168326.522          71538.749          104652.600  4
    END-POINT 168326.522          71538.749          104652.600  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K49                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 168326.522          71538.749          104499.808  4  BW
    END-POINT 168326.522          71538.749          104652.600  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K47                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 168326.522          71538.749          104499.808  4
    END-POINT 168326.522          71538.749          104499.808  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K48                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 168326.522          71538.749          104391.858  4  
    END-POINT 168326.522          71538.749          104499.808  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K44                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 168326.522          71538.749          104388.678  4
    END-POINT 168326.522          71538.749          104391.858  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K4C                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 168326.522          71538.749          104388.678  4  
    END-POINT 168326.522          71538.749          104372.928  4  
    CENTRE-POINT 168326.522  71538.749 104380.803 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K4A                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION EAST
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS 168326.522          71538.749          104372.928 
    PIPELINE-REFERENCE C210-4910-12E-S-0038-PRM-0003-01
ELBOW
    END-POINT 169927.138          71538.735          104805.000  4  
    END-POINT 170079.538          71538.735          104652.600  4  
    CENTRE-POINT  170079.538          71538.735          104805.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I2H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 170079.538          71538.735          104652.600  4
    END-POINT 170079.538          71538.735          104652.600  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K52                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 170079.538          71538.735          104652.600  4  BW
    END-POINT 170079.538          71538.735          104550.660  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K51                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 170079.538          71538.735          104550.660  4
    END-POINT 170079.538          71538.735          104550.660  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K53                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 170079.538          71538.735          104442.710  4  
    END-POINT 170079.538          71538.735          104550.660  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K4Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 170079.538          71538.735          104442.710  4
    END-POINT 170079.538          71538.735          104439.530  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K4Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 170079.538          71538.735          104442.710 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K50                 
MISC-COMPONENT
    END-POINT 170079.538          71538.735          104423.780  4  
    END-POINT 170079.538          71538.735          104439.530  4  
    CENTRE-POINT 170079.538  71538.735 104431.655 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IWW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION EAST
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS 170079.538          71538.735          104423.780 
    PIPELINE-REFERENCE C210-4910-12E-PE-0013-PRM-0003-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
