ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0005-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0034-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0035-6"
    ATTRIBUTE83   12E-PE-0030-8"
    ATTRIBUTE84   C210-4902-12E-0006-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0034-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 126545.118          69112.809          103704.538  8  BW
    END-POINT 123450.118          69112.809          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DJ2                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 126000.118  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DJ6                 
    TAG                         S02-B-4-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 126000.118  69112.809 103704.538  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DWE                 
    TAG                         RP02-4-8                        
WELD
    END-POINT 126545.118          69112.809          103704.538  8
    END-POINT 126545.118          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DJ3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS 123450.118          69112.809          103704.538 
ELBOW
    END-POINT 126849.918          69417.609          103704.538  8  
    END-POINT 126545.118          69112.809          103704.538  8  
    CENTRE-POINT  126849.918          69112.809          103704.538 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7R                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 126849.918          69417.609          103704.538  8
    END-POINT 126849.918          69417.609          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7Q                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 126849.918          72182.609          103704.538  8  BW
    END-POINT 126849.918          69417.609          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7P                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 126849.918          72182.609          103704.538  8
    END-POINT 126849.918          72182.609          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7O                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 127154.718          72487.409          103704.538  8  
    END-POINT 126849.918          72182.609          103704.538  8  
    CENTRE-POINT  126849.918          72487.409          103704.538 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 127154.718          72487.409          103704.538  8
    END-POINT 127154.718          72487.409          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7M                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 130844.718          72487.409          103704.538  8  BW
    END-POINT 127154.718          72487.409          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7K                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 128999.718  72487.409 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7L                 
    TAG                         S02-B-3-8                       
WELD
    END-POINT 130844.718          72487.409          103704.538  8
    END-POINT 130844.718          72487.409          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7J                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 131149.518          72182.609          103704.538  8  
    END-POINT 130844.718          72487.409          103704.538  8  
    CENTRE-POINT  131149.518          72487.409          103704.538 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 131149.518          72182.609          103704.538  8
    END-POINT 131149.518          72182.609          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7H                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 131149.518          69417.609          103704.538  8  BW
    END-POINT 131149.518          72182.609          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7G                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 131149.518          69417.609          103704.538  8
    END-POINT 131149.518          69417.609          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7F                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 131454.318          69112.809          103704.538  8  
    END-POINT 131149.518          69417.609          103704.538  8  
    CENTRE-POINT  131149.518          69112.809          103704.538 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 131454.318          69112.809          103704.538  8
    END-POINT 131454.318          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7D                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 131454.318          69112.809          103704.538  8  BW
    END-POINT 141459.727          69112.809          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C79                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 131999.318  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7A                 
    TAG                         S02-B-4-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 137999.318  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C7C                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 131999.318  69112.809 103704.538  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DWG                 
    TAG                         RP02-4-8                        
FLOW-ARROW
    CO-ORDS 134731.318  69112.809 103704.538 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 141459.727          69112.809          103704.538  8
    END-POINT 141459.727          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C6Z                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 141459.727          69112.809          103704.538  8  
    END-POINT 141815.327          69112.809          103704.538  8  
    CENTRE-POINT  141637.527          69112.809          103704.538 
    BRANCH1-POINT 141637.527          69112.809          103859.986  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED8X4
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C6Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 141815.327          69112.809          103704.538  8
    END-POINT 141815.327          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C70                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 141637.527          69112.809          103859.986  4
    END-POINT 141637.527          69112.809          103859.986  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIN                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 141637.527          69112.809          103859.986  4  
    END-POINT 141637.527          69112.809          103959.986  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 141637.527          69112.809          103959.986 
    PIPELINE-REFERENCE C210-4910-12E-PE-0017-PRM-0005-05
PIPE
    END-POINT 142775.675          69112.188          103704.567  8  BW
    END-POINT 141815.327          69112.809          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C71                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 144000.000  69112.301 103704.561  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C72                 
    TAG                         S03-B-6-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE LS13
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 142775.675          69112.188          103704.567  8
    END-POINT 142775.675          69112.188          103704.567  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C73                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 142775.675          69112.188          103704.567  8  
    END-POINT 143131.275          69112.188          103704.567  8  
    CENTRE-POINT  142953.475          69112.188          103704.567 
    BRANCH1-POINT 142953.475          69112.188          103860.015  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED8X4
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C74                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 143131.275          69112.188          103704.567  8
    END-POINT 143131.275          69112.188          103704.567  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C75                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 142953.475          69112.188          103860.015  4
    END-POINT 142953.475          69112.188          103860.015  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142953.475          69112.188          103860.015  4  
    END-POINT 142953.475          69112.188          103960.015  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DIU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 142953.475          69112.188          103960.015 
    PIPELINE-REFERENCE C210-4910-12E-CG-0010-PRM-0005-01
PIPE
    END-POINT 143131.275          69112.188          103704.567  8  BW
    END-POINT 145450.063          69112.188          103704.567  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C77                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 144000.000  69112.188 103704.567  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DWI                 
    TAG                         RP02-6-8                        
WELD
    END-POINT 145450.063          69112.188          103704.567  8
    END-POINT 145450.063          69112.188          103704.567  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DWL                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 145450.063          69112.188          103704.567  8  
    END-POINT 147172.138          69112.528          103704.482  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CG5                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 146196.875  69112.335 103704.530 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 147172.138          69112.528          103704.482 
    PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0004-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-4-8
ITEM-CODE G22
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G22
ITEM-CODE SUPPS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-4-8
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
ITEM-CODE TEERED8X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-8_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-B-6-8
ITEM-CODE LS13
    DESCRIPTION LINE STOP FOR SHOE LS13
ITEM-CODE SUPPS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-6-8
