ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0004-PRM-0004-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   10
    ATTRIBUTE34   C210-4910-12E-S-0004-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0002-10"
    ATTRIBUTE83   12E-S-0006-8"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0004-10"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 147045.193          68421.094          102936.525  10  BW
    END-POINT 158550.000          68421.094          102936.525  10  PL
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 153859.642  68421.094 102936.525 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 148000.000  68421.094 102936.525  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUI                 
    TAG                         S02-A-3-10                      
    ADDITIONAL-ITEM
    SIZE  10
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 152000.000  68421.094 102936.525  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUK                 
    TAG                         S03-A-6-10                      
    ADDITIONAL-ITEM
    SIZE  10
    FABRICATION-ITEM
    ITEM-CODE LS13
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 156000.000  68421.094 102936.525  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUO                 
    TAG                         S02-A-3-10                      
    ADDITIONAL-ITEM
    SIZE  10
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 148000.000  68421.094 102936.525  10
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUU                 
    TAG                         RP02-3-10                       
SUPPORT
    CO-ORDS 156000.000  68421.094 102936.525  10
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUW                 
    TAG                         RP02-3-10                       
SUPPORT
    CO-ORDS 152000.000  68421.094 102936.525  10
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-10_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUY                 
    TAG                         RP02-6-10                       
WELD
    END-POINT 147045.193          68421.094          102936.525  10
    END-POINT 147045.193          68421.094          102936.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 158550.000          68421.094          102936.525  10
    END-POINT 158550.000          68421.094          102936.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 146110.193          68421.094          102936.525  10  
    END-POINT 147045.193          68421.094          102936.525  10  
    CENTRE-POINT  146577.693          68421.094          102936.525 
    BRANCH1-POINT 146577.693          69574.194          102936.525  10  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          72.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMV                 
    TAG SP-090                          
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 146110.193          68421.094          102936.525 
    PIPELINE-REFERENCE C210-4910-12E-S-0002-PRM-0004-01
PIPE
    END-POINT 163871.643          68421.094          102936.525  10  
    END-POINT 158550.000          68421.094          102936.525  10  
    CONTINUATION 
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 161273.772  68421.094 102936.525 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 160000.000  68421.094 102936.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTW                 
    TAG                         S02-A-3-10                      
SUPPORT
    CO-ORDS 163000.000  68421.094 102936.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JTY                 
    TAG                         S02-A-3-10                      
END-CONNECTION-PIPELINE 
    CO-ORDS 163871.643          68421.094          102936.525 
    PIPELINE-REFERENCE C210-4910-12E-S-0004-PRM-0003-01
MATERIALS
ITEM-CODE PIP10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-10
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-3-10
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPTS-10_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-A-6-10
ITEM-CODE LS13
    DESCRIPTION LINE STOP FOR SHOE LS13
ITEM-CODE SUPPS-10
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-10
ITEM-CODE SUPPS-10_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-6-10
