ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0005-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-FG-0053-PRM-0005-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-PK-0102
    ATTRIBUTE83   FUEL GAS SUP. HDR.
    ATTRIBUTE84   C210-4902-12E-0013-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0053-2"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
OLET
    CENTRE-POINT     138546.539  72307.188 106380.163 
    BRANCH1-POINT 138546.539          72307.188          106329.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DS8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138546.539  72307.188 106380.163  2
    END-POINT 138546.539  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DS9                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 138546.539          72307.188          106329.363  1
    END-POINT 138546.539          72307.188          106329.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DSK                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 138546.539          72307.188          105936.285  1  
    END-POINT 138546.539          72307.188          106329.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DSI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 138546.539          72307.188          105936.285 
    PIPELINE-REFERENCE C210-4910-12E-FG-0021-PRM-0005-01
PIPE
    END-POINT 138463.500          72307.188          106380.163  2  BW
    END-POINT 145600.358          72307.188          106380.163  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DLU                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 144000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DM8                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 138463.500          72307.188          106380.163  2
    END-POINT 138463.500          72307.188          106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DLV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 141336.730  72307.188 106380.163  2
    END-POINT 141336.730  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DM1                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 158401.571          72307.188          106380.163  2  
    END-POINT 145600.358          72307.188          106380.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_A7X                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 156000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_A99                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 152000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_A9A                 
    TAG                         S01-A-6-2                       
SUPPORT
    CO-ORDS 148000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_A9B                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS 153596.971  72307.188 106380.163 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 158401.571          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0004-01
OLET
    CENTRE-POINT     141336.730  72307.188 106380.163 
    BRANCH1-POINT 141336.730          72307.188          106329.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DM0                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 141336.730          72307.188          106329.363  1
    END-POINT 141336.730          72307.188          106329.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DM6                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 141336.730          72307.188          105909.729  1  
    END-POINT 141336.730          72307.188          106329.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DM4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 141336.730          72307.188          105909.729 
    PIPELINE-REFERENCE C210-4910-12E-FG-0020-PRM-0005-01
TEE
    END-POINT 138336.500          72307.188          106380.163  2  
    END-POINT 138463.500          72307.188          106380.163  2  
    CENTRE-POINT  138400.000          72307.188          106380.163 
    BRANCH1-POINT 138400.000          72307.188          106443.663  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           1.845
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DKK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 138336.500          72307.188          106380.163  2
    END-POINT 138336.500          72307.188          106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DKM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 138400.000          72307.188          106443.663  2
    END-POINT 138400.000          72307.188          106443.663  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DLK                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 138400.000          72307.188          106713.963  2  
    END-POINT 138400.000          72307.188          106443.663  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DLI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 138400.000          72307.188          106713.963 
    PIPELINE-REFERENCE C210-4910-12E-FG-0130-PRM-0005-01
PIPE
    END-POINT 138336.500          72307.188          106380.163  2  BW
    END-POINT 123600.478          72307.188          106380.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DK7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 126000.159  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_A57                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 132000.219  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_A58                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 138000.127  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_A59                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 135394.478  72307.188 106380.163 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 123600.478          72307.188          106380.163  2
    END-POINT 123600.478          72307.188          106380.163  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E6H                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 123600.478          72307.188          106380.163  2  
    END-POINT 101590.478          72307.188          106380.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DOY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 122000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP1                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 116000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP3                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 110000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP5                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 104000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP7                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS 114558.024  72307.188 106380.163 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 101590.478          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0006-01
MATERIALS
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A350-LF2 CL1
    RATING CL3000
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A333-6, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE TEESTR2X2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A420-WPL6, SCH 80
    RATING SCH 80
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
