ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0034-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0035-6"
    ATTRIBUTE83   12E-PE-0030-8"
    ATTRIBUTE84   C210-4902-12E-0006-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0034-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
REDUCER-ECCENTRIC
    END-POINT  93757.464          69112.809          103704.538  8  
    END-POINT  93605.064          69112.809          103679.138  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT  93757.464          69112.809          103704.538  8
    END-POINT  93757.464          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  93605.064          69112.809          103679.138  6
    END-POINT  93605.064          69112.809          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  93605.064          69112.809          103679.138  6  
    END-POINT  90092.685          69112.809          103679.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP2                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  91938.721  69112.809 103679.138 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  90092.685          69112.809          103679.138 
    PIPELINE-REFERENCE C210-4910-12E-PE-0035-PRM-0007-01
PIPE
    END-POINT  93757.464          69112.809          103704.538  8  BW
    END-POINT 101439.762          69112.809          103704.538  8  PL
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP7                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  94000.464  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP8                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 100000.464  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP9                 
    TAG                         S02-B-3-8                       
FLOW-ARROW
    CO-ORDS  96795.464  69112.809 103704.538 
    FLOW 1
    SKEY FLOW
PIPE
    END-POINT 116259.995          69112.809          103704.538  8  
    END-POINT 101439.762          69112.809          103704.538  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 104000.000  69112.809 103704.538  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYP                 
    TAG                         S03-B-6-8                       
SUPPORT
    CO-ORDS 110000.000  69112.809 103704.538  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYS                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 116000.000  69112.809 103704.538  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYU                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 104000.000  69112.809 103704.538  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DS0                 
    TAG                         RP02-6-8                        
END-CONNECTION-PIPELINE 
    CO-ORDS 116259.995          69112.809          103704.538 
    PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0006-01
MATERIALS
ITEM-CODE REDECC8X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
