ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070458-01
PIPING-SPEC E-A1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0458-01
    ATTRIBUTE2  A
    ATTRIBUTE3  107
    ATTRIBUTE4  2''OS-107-0458-E-A1
    ATTRIBUTE5  2
    ATTRIBUTE6  OS
    ATTRIBUTE7  E-A1
    ATTRIBUTE8  ST
    ATTRIBUTE9  1.5
    ATTRIBUTE10  ST
    ATTRIBUTE11  ---
    ATTRIBUTE12  F-503 B
    ATTRIBUTE13  65
    ATTRIBUTE14  100
    ATTRIBUTE15  125
    ATTRIBUTE16  150
    ATTRIBUTE17  187.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-049
    ATTRIBUTE23  -
    ATTRIBUTE25  2D
    ATTRIBUTE26  Oily Water Sewer
    ATTRIBUTE99 END
PIPE
    END-POINT -18947.991          16666.250          1246.438  2  BW
    END-POINT -18947.991          16662.750          1246.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    SPOOL-IDENTIFIER 1070458-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_J7                  
    PIPING-SPEC E-A1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -18947.991  16664.686   1246.438 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -18947.991          16666.250          1246.438  2
    END-POINT -18947.991          16666.250          1246.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_J8                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
WELD
    END-POINT -18947.991          16662.750          1246.438  2
    END-POINT -18947.991          16662.750          1246.438  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_J6                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
TEE
    END-POINT -18947.991          16660.250          1248.938  2  BW
    END-POINT -18947.991          16660.250          1243.938  2  BW
    CENTRE-POINT  -18947.991          16660.250          1246.438 
    BRANCH1-POINT -18947.991          16662.750          1246.438  2  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           3.650
    SPOOL-IDENTIFIER 1070507-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_J4                  
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -18947.991          16660.250          1248.938 
    PIPELINE-REFERENCE 1070507-01
FLANGE
    END-POINT -18947.991          16669.000          1246.438  2  FL
    END-POINT -18947.991          16666.250          1246.438  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           9.030
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_J9                  
    PIPING-SPEC E-A1
GASKET
    END-POINT -18947.991          16669.000          1246.438  2
    END-POINT -18947.991          16669.125          1246.438  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_JA                  
    PIPING-SPEC E-A1
    GASKET-RATING 300LB          
BOLT
    CO-ORDS -18947.991          16669.000          1246.438 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_JB                  
VALVE
    END-POINT -18947.991          16677.625          1246.438  2  FL
    END-POINT -18947.991          16669.125          1246.438  2  FL
    CENTRE-POINT  -18947.991          16673.375          1246.438 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          47.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_JC                  
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  EAST
MESSAGE
    CO-ORDS -18947.991  16673.375   1246.438 
    TEXT HW-EAST
    UNDIMENSIONED
GASKET
    END-POINT -18947.991          16677.625          1246.438  2
    END-POINT -18947.991          16677.750          1246.438  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5GF                 
    PIPING-SPEC E-A1
    GASKET-RATING 300LB          
BOLT
    CO-ORDS -18947.991          16677.625          1246.438 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5GG                 
NOZZLE
    CO-ORDS -18947.991          16677.750          1246.438  2  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS -18947.991          16677.750          1246.438 
    TEXT F-503B FUEL GAS COALESCER$NOZZLE TAG F-503B FUEL GAS COALESCER-N4A$RATI
    TEXT NG 300LB$FACING RF
MATERIALS
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE FLGWNK2
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, STL, XS BORE A105
    RATING 300LB
    RATING XS
ITEM-CODE GAS2
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 300LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 300LB
ITEM-CODE BOLT2
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 300LB
ITEM-CODE VALVGAT2
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 300LB, RF, STL, F6/STEL SEATS
    RATING 300LB
