ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070484-02
PIPING-SPEC E-A1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0484-02
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  3''PF-107-0484-E-A1
    ATTRIBUTE5  3
    ATTRIBUTE6  PF
    ATTRIBUTE7  E-A1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  5-PSV-885A
@ F-503 A
    ATTRIBUTE13  3
    ATTRIBUTE14  95
    ATTRIBUTE15  100
    ATTRIBUTE16  150
    ATTRIBUTE17  150
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-049
    ATTRIBUTE23  BK-1
    ATTRIBUTE25  2B
    ATTRIBUTE26  FLARE 10"R1106A (TP-43)
    ATTRIBUTE99 END
FLANGE
    END-POINT -19199.262          16718.682          1544.616  2  FL
    END-POINT -19201.762          16718.682          1544.616  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.950
    SPOOL-IDENTIFIER 1070484-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MC                  
    PIPING-SPEC E-A1
GASKET
    END-POINT -19199.262          16718.682          1544.616  2
    END-POINT -19199.137          16718.682          1544.616  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MD                  
    PIPING-SPEC E-A1
    GASKET-RATING 150LB          
WELD
    END-POINT -19201.762          16718.682          1544.616  2
    END-POINT -19201.762          16718.682          1544.616  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2SA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
VALVE
    END-POINT -19192.137          16718.682          1544.616  2  FL
    END-POINT -19199.137          16718.682          1544.616  2  FL
    CENTRE-POINT  -19195.637          16718.682          1544.616 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          33.440
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MF                  
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS -19192.137          16718.682          1544.616 
    PIPELINE-REFERENCE 1070485-01
PIPE
    END-POINT -19201.762          16718.682          1544.616  2  BW
    END-POINT -19207.762          16718.682          1544.616  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MB                  
    PIPING-SPEC E-A1
FLOW-ARROW
    CO-ORDS -19204.762  16718.682   1544.616 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19207.762          16718.683          1544.616  2
    END-POINT -19207.762          16718.683          1544.616  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_588                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
ELBOW
    END-POINT -19207.762          16718.683          1544.616  2  BW
    END-POINT -19210.762          16720.804          1542.495  2  BW
    CENTRE-POINT  -19210.762          16718.683          1544.616 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_586                 
    PIPING-SPEC E-A1
    ANGLE 9000
WELD
    END-POINT -19210.762          16720.804          1542.495  2
    END-POINT -19210.762          16720.804          1542.495  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_590                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
PIPE
    END-POINT -19210.762          16723.986          1539.313  2  BW
    END-POINT -19210.762          16720.804          1542.495  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2_1
    WEIGHT           3.649
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_58Y                 
    PIPING-SPEC E-A1
WELD
    END-POINT -19210.762          16723.986          1539.313  2
    END-POINT -19210.762          16723.986          1539.313  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_58Z                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
REDUCER-CONCENTRIC
    END-POINT -19210.762          16726.461          1536.838  3  BW
    END-POINT -19210.762          16723.986          1539.313  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           3.130
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_58W                 
    PIPING-SPEC E-A1
WELD
    END-POINT -19210.762          16726.461          1536.838  3
    END-POINT -19210.762          16726.461          1536.838  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_58X                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
ELBOW
    END-POINT -19210.762          16729.875          1535.424  3  BW
    END-POINT -19210.762          16726.461          1536.838  3  BW
    CENTRE-POINT  -19210.762          16727.875          1535.424 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           2.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_58N                 
    PIPING-SPEC E-A1
    ANGLE 4500
WELD
    END-POINT -19210.762          16729.875          1535.424  3
    END-POINT -19210.762          16729.875          1535.424  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_592                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
PIPE
    END-POINT -19210.762          16729.875          1535.424  3  BW
    END-POINT -19210.762          16732.875          1535.424  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_591                 
    PIPING-SPEC E-A1
WELD
    END-POINT -19210.762          16732.875          1535.424  3
    END-POINT -19210.762          16732.875          1535.424  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_597                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
TEE
    END-POINT -19210.762          16745.875          1535.424  3  BW
    END-POINT -19210.762          16732.875          1535.424  3  BW
    CENTRE-POINT  -19210.762          16742.875          1535.424 
    BRANCH1-POINT -19210.762          16735.804          1542.495  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE LAT45R3
    WEIGHT          12.500
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QW                 
    PIPING-SPEC E-A1
    ANGLE 4500
WELD
    END-POINT -19210.762          16745.875          1535.424  3
    END-POINT -19210.762          16745.875          1535.424  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QX                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
WELD
    END-POINT -19210.762          16735.804          1542.495  2
    END-POINT -19210.762          16735.804          1542.495  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2RK                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
ELBOW
    END-POINT -19207.762          16733.682          1544.616  2  BW
    END-POINT -19210.762          16735.804          1542.495  2  BW
    CENTRE-POINT  -19210.762          16733.682          1544.616 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    SPOOL-IDENTIFIER 1070484-02-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_EW                  
    PIPING-SPEC E-A1
    ANGLE 9000
WELD
    END-POINT -19207.762          16733.682          1544.616  2
    END-POINT -19207.762          16733.682          1544.616  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2S7                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
PIPE
    END-POINT -19201.762          16733.682          1544.616  2  BW
    END-POINT -19207.762          16733.682          1544.616  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2S5                 
    PIPING-SPEC E-A1
FLOW-ARROW
    CO-ORDS -19204.762  16733.682   1544.616 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19201.762          16733.682          1544.616  2
    END-POINT -19201.762          16733.682          1544.616  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2S6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
FLANGE
    END-POINT -19199.262          16733.682          1544.616  2  FL
    END-POINT -19201.762          16733.682          1544.616  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.950
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_M9                  
    PIPING-SPEC E-A1
GASKET
    END-POINT -19199.137          16733.682          1544.616  2
    END-POINT -19199.262          16733.682          1544.616  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_M7                  
    PIPING-SPEC E-A1
    GASKET-RATING 150LB          
VALVE
    END-POINT -19192.137          16733.682          1544.616  2  FL
    END-POINT -19199.137          16733.682          1544.616  2  FL
    CENTRE-POINT  -19195.637          16733.682          1544.616 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          33.440
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_M5                  
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS -19192.137          16733.682          1544.616 
    PIPELINE-REFERENCE 1070484-01
PIPE
    END-POINT -19210.762          16756.875          1535.424  3  BW
    END-POINT -19210.762          16745.875          1535.424  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QZ                 
    PIPING-SPEC E-A1
FLOW-ARROW
    CO-ORDS -19210.762  16752.553   1535.424 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT -19210.762          16756.875          1535.424  3
    END-POINT -19210.762          16756.875          1535.424  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5EF                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
ELBOW-TEED
    END-POINT -19215.262          16761.375          1535.377  3  BW
    END-POINT -19210.762          16756.875          1535.424  3  BW
    CENTRE-POINT  -19210.762          16761.375          1535.424 
    BRANCH1-POINT -19210.762  16761.375   1535.424  2.375
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           4.070
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5EA                 
    PIPING-SPEC E-A1
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS      0.000      0.000      0.000  3
SUPPORT
    CO-ORDS -19210.762  16761.375   1535.424  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5FB                 
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT -19210.762          16761.375          1535.424  2.375  BW
    END-POINT -19186.764  16761.375   1535.674  2.375  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS -19186.764  16761.375   1535.674 
SUPPORT
    CO-ORDS -19195.636  16760.812   1535.581  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5FF                 
WELD
    END-POINT -19215.262          16761.375          1535.377  3
    END-POINT -19215.262          16761.375          1535.377  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5EC                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
PIPE
    END-POINT -19215.262          16761.375          1535.377  3  BW
    END-POINT -19654.764          16761.375          1530.799  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5FN                 
    PIPING-SPEC E-A1
FLOW-ARROW
    CO-ORDS -19441.119  16761.375   1533.024 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS -19482.000  16761.375   1532.598  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2RV                 
SUPPORT
    CO-ORDS -19338.125  16761.375   1534.097  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5FI                 
WELD
    END-POINT -19654.764          16761.375          1530.799  3
    END-POINT -19654.764          16761.375          1530.799  3
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5FT                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
PIPE
    END-POINT -19654.764          16761.375          1530.799  3  BW
    END-POINT -19705.420          16761.375          1530.271  3  BW
    CONTINUATION 
    WEIGHT           7.580
    SPOOL-IDENTIFIER 1070484-03-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5FP                 
    PIPING-SPEC E-A1
SUPPORT
    CO-ORDS -19697.909  16761.375   1530.349  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5GA                 
FLOW-ARROW
    CO-ORDS -19683.464  16761.375   1530.500 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS -19705.420          16761.375          1530.271 
    PIPELINE-REFERENCE 1070484-03
MATERIALS
ITEM-CODE FLGWNK2
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, STL, XS BORE, A105
    RATING 150LB
    RATING XS
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE 90LLR2
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE PIP2_1
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH STD, SMLS STL, A106-B
    RATING STD
ITEM-CODE REDCON3X2
    CATALOG ASME B16.9-1993
    DESCRIPTION CONCENTRIC REDUCER, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE 45LLR3
    CATALOG ASME B16.9-1993
    DESCRIPTION 45 DEG. LR ELBOW, SCH STD, STL, A234 WPB
    RATING STD
ITEM-CODE PIP3
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH STD, SMLS STL, A106-B
    RATING STD
ITEM-CODE LAT45R3
    CATALOG NON STANDARD
    DESCRIPTION 45 DEG. REDUCING LATERAL, SCH STD, BW, CS
    RATING STD
ITEM-CODE 90LLR3
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH STD, STL, A234 WPB
    RATING STD
ITEM-CODE SUPEB-3
    DESCRIPTION DUMMY LEG SUPPORT W/SHOE DL4-24, DETAIL PS1002
ITEM-CODE SUPTS-3
    DESCRIPTION TEE SHOE SUPPORTS-9C, SEE DETAIL PS2028
