ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070441-01
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0441-01
    ATTRIBUTE2  A
    ATTRIBUTE3  107
    ATTRIBUTE4  6''P-107-0441-E-C1
    ATTRIBUTE5  6
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  6"P-107-0497-E-A1A
    ATTRIBUTE13  17
    ATTRIBUTE14  72
    ATTRIBUTE15  725
    ATTRIBUTE16  150
    ATTRIBUTE17  1087.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  P-501R Suction
    ATTRIBUTE99 END
FLANGE
    END-POINT -19714.427          17519.308          1226.164  3  FL
    END-POINT -19714.427          17522.808          1226.164  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          12.120
    SPOOL-IDENTIFIER 1070441-01-4   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3V                  
    PIPING-SPEC E-C1
MESSAGE
    CO-ORDS -19714.427  17519.308   1226.164 
    TEXT TP$06$AT$P-501R$SUCTION
    UNDIMENSIONED
GASKET
    END-POINT -19714.427          17519.183          1226.164  3
    END-POINT -19714.427          17519.308          1226.164  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3Y                  
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19714.427          17519.183          1226.164 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3Z                  
END-POSITION-OPEN 
    CO-ORDS -19714.427          17522.808          1226.164 
FLANGE
    END-POINT -19714.427          17519.183          1226.164  3  FL
    END-POINT -19714.427          17515.683          1226.164  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          12.120
    SPOOL-IDENTIFIER 1070441-01-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3X                  
    PIPING-SPEC E-C1
WELD
    END-POINT -19714.427          17515.683          1226.164  3
    END-POINT -19714.427          17515.683          1226.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_23A                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19714.427          17503.683          1226.164  3  BW
    END-POINT -19714.427          17515.683          1226.164  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          10.250
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_238                 
    PIPING-SPEC E-C1
    TAP-CONNECTION 
    CO-ORDS -19714.427          17509.683          1224.414  3 BWTO
WELD
    END-POINT -19714.427          17503.683          1226.164  3
    END-POINT -19714.427          17503.683          1226.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_239                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19714.427          17509.683          1224.414  3
    END-POINT -19714.427          17509.683          1224.414  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24D                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19714.427          17509.683          1224.414 
    BRANCH1-POINT -19714.427          17509.683          1223.414  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24B                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19714.427          17509.683          1223.414  0.75  SW MALE 
    END-POINT -19714.427          17509.683          1223.414  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24F                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19714.427          17509.683          1223.414  0.75  SW MALE 
    END-POINT -19714.427          17509.683          1220.414  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24E                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19714.427          17509.683          1220.414  0.75  SW FEMALE 
    END-POINT -19714.427          17509.683          1220.414  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24H                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19714.427          17509.683          1220.414  0.75  SW FEMALE 
    END-POINT -19714.427          17509.683          1218.091  0.75  SC FEMALE 
    CENTRE-POINT  -19714.427          17509.683          1219.161 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24G                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  WEST
MESSAGE
    CO-ORDS -19714.427  17509.683   1219.161 
    TEXT HW-WEST
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19714.427          17509.683          1218.091  0.75  SC MALE 
    END-POINT -19714.427          17509.683          1218.091  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24P                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
MISC-COMPONENT
    END-POINT -19714.427          17509.683          1218.091  0.75  SC MALE 
    END-POINT -19714.427          17509.683          1216.341  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24O                 
    PIPING-SPEC E-C1
    END-POSITION-CLOSED 
    CO-ORDS -19714.427          17509.683          1216.341 
ELBOW
    END-POINT -19714.427          17503.683          1226.164  3  BW
    END-POINT -19714.427          17499.183          1230.664  3  BW
    CENTRE-POINT  -19714.427          17499.183          1226.164 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           5.930
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_236                 
    PIPING-SPEC E-C1
    ANGLE 9000
SUPPORT
    CO-ORDS -19714.427  17499.183   1226.164  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_24R                 
WELD
    END-POINT -19714.427          17499.183          1230.664  3
    END-POINT -19714.427          17499.183          1230.664  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_23C                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
REDUCER-CONCENTRIC
    END-POINT -19714.427          17499.183          1236.164  6  BW
    END-POINT -19714.427          17499.183          1230.664  3  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON6X3
    WEIGHT          12.650
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_23B                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19714.427          17499.183          1236.164  6
    END-POINT -19714.427          17499.183          1236.164  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2H7                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
TEE
    END-POINT -19714.427          17499.183          1236.164  6  BW
    END-POINT -19714.427          17499.183          1247.404  6  BW
    CENTRE-POINT  -19714.427          17499.183          1241.784 
    BRANCH1-POINT -19708.807          17499.183          1241.784  6  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          43.380
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2H5                 
    PIPING-SPEC E-C1
    ANGLE 9000
MESSAGE-SQUARE
    CO-ORDS -19708.807  17499.183   1241.784 
    TEXT S-501AR
    UNDIMENSIONED
WELD
    END-POINT -19714.427          17499.183          1247.404  6
    END-POINT -19714.427          17499.183          1247.404  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HD                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19708.807          17499.183          1241.784  6
    END-POINT -19708.807          17499.183          1241.784  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZN                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19703.937          17499.183          1241.784  6  FL
    END-POINT -19708.807          17499.183          1241.784  6  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          79.360
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZM                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19703.812          17499.183          1241.784  6
    END-POINT -19703.937          17499.183          1241.784  6
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZP                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
FLANGE-BLIND
    END-POINT -19703.812          17499.183          1241.784  6  FL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          85.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZO                 
    PIPING-SPEC E-C1
    END-POINT -19701.682          17499.183          1241.784  6
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS -19701.682          17499.183          1241.784 
FLANGE
    END-POINT -19714.427          17499.183          1252.274  6  FL
    END-POINT -19714.427          17499.183          1247.404  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          79.360
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HA                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19714.427          17499.183          1252.274  6
    END-POINT -19714.427          17499.183          1252.399  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HB                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19714.427          17499.183          1252.274 
    BOLT-DIA           1.000
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HC                 
VALVE
    END-POINT -19714.427          17499.183          1252.399  6  FL
    END-POINT -19714.427          17499.183          1274.399  6  FL
    CENTRE-POINT  -19714.427          17499.183          1263.399 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT         572.290
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_23Y                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  WEST
MESSAGE
    CO-ORDS -19714.427  17499.183   1263.399 
    TEXT HW-WEST
    UNDIMENSIONED
MESSAGE
    CO-ORDS -19714.427  17499.183   1263.399 
    TEXT HW-WEST
    UNDIMENSIONED
GASKET
    END-POINT -19714.427          17499.183          1274.399  6
    END-POINT -19714.427          17499.183          1274.524  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GT                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19714.427          17499.183          1274.399 
    BOLT-DIA           1.000
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GU                 
FLANGE
    END-POINT -19714.427          17499.183          1274.524  6  FL
    END-POINT -19714.427          17499.183          1279.394  6  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT          79.360
    SPOOL-IDENTIFIER 1070497-03-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GR                 
    PIPING-SPEC E-A1A
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.427          17499.183          1279.394 
    PIPELINE-REFERENCE 1070497-03
MATERIALS
ITEM-CODE GAS3
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT3
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE FLGWNK3
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE PIP3
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE SOL3X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION SOCKOLET, 6000LB, STL, A105
    RATING 6000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 160, STL, A106-B PBE, 3" LG
    RATING 160
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE PLG3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
ITEM-CODE 90LLR3
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE SUPEB-3
    DESCRIPTION ADJUSTABLE BASE SUPPORT BS1-28.1875, SEE DETAIL PS0004
ITEM-CODE REDCON6X3
    CATALOG ASME B16.9-1993
    DESCRIPTION CONCENTRIC REDUCER, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE TEESTR6X6
    CATALOG ASME B16.9-1993
    DESCRIPTION S-501AR, TEE STRAINER
    RATING XS
ITEM-CODE FLGWNK6
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE GAS6
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT6
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE VALVGAT6
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 600LB, RF, STL, F6/STEL SEATS
    RATING 600LB
