ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070485-01
PIPING-SPEC E-A1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0485-01
    ATTRIBUTE2  A
    ATTRIBUTE3  107
    ATTRIBUTE4  2''PF-107-0485-E-A1
    ATTRIBUTE5  2
    ATTRIBUTE6  PF
    ATTRIBUTE7  E-A1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  5-PSV-885B
@ F-503 B
    ATTRIBUTE13  3
    ATTRIBUTE14  95
    ATTRIBUTE15  100
    ATTRIBUTE16  150
    ATTRIBUTE17  150
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-049
    ATTRIBUTE23  BK-1
    ATTRIBUTE25  2B
    ATTRIBUTE26  2"PF-107-0484-E-A1
    ATTRIBUTE99 END
FLANGE
    END-POINT -19184.012          16718.683          1544.616  2  FL
    END-POINT -19186.512          16718.682          1544.616  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.950
    SPOOL-IDENTIFIER 1070485-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_595                 
    PIPING-SPEC E-A1
WELD
    END-POINT -19186.512          16718.682          1544.616  2
    END-POINT -19186.512          16718.682          1544.616  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_596                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
END-POSITION-OPEN 
    CO-ORDS -19184.012          16718.683          1544.616 
PIPE
    END-POINT -19186.512          16718.682          1544.616  2  BW
    END-POINT -19189.512          16718.682          1544.616  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_50F                 
    PIPING-SPEC E-A1
    TAP-CONNECTION 
    CO-ORDS -19188.012          16718.682          1545.804  2
FLOW-ARROW
    CO-ORDS -19188.012  16718.682   1544.616 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19189.512          16718.682          1544.616  2
    END-POINT -19189.512          16718.682          1544.616  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_50H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
WELD
    END-POINT -19188.012          16718.682          1545.804  2
    END-POINT -19188.012          16718.682          1545.804  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_50K                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-A1
OLET
    CENTRE-POINT  -19188.012          16718.682          1545.804 
    BRANCH1-POINT -19188.012          16718.682          1546.429  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_50I                 
    PIPING-SPEC E-A1
SOCKET-WELD
    END-POINT -19188.012          16718.682          1546.429  0.75  SW MALE 
    END-POINT -19188.012          16718.682          1546.429  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_50L                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1
COUPLING
    END-POINT -19188.012          16718.682          1546.429  0.75  SW MALE 
    END-POINT -19188.012          16718.682          1549.429  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.368
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2SK                 
    PIPING-SPEC E-A1
SOCKET-WELD
    END-POINT -19188.012          16718.682          1549.429  0.75  SW FEMALE 
    END-POINT -19188.012          16718.682          1549.429  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2SN                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1
VALVE
    END-POINT -19188.012          16718.682          1549.429  0.75  SW FEMALE 
    END-POINT -19188.012          16718.682          1551.751  0.75  SC FEMALE 
    CENTRE-POINT  -19188.012          16718.682          1550.681 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2SM                 
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS -19188.012  16718.683   1550.681 
    TEXT HW-SOUTH
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19188.012          16718.682          1551.751  0.75  SC MALE 
    END-POINT -19188.012          16718.682          1551.751  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2SY                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-A1
MISC-COMPONENT
    END-POINT -19188.012          16718.682          1551.751  0.75  SC MALE 
    END-POINT -19188.012          16718.682          1553.501  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2SX                 
    PIPING-SPEC E-A1
    END-POSITION-CLOSED 
    CO-ORDS -19188.012          16718.682          1553.501 
FLANGE
    END-POINT -19192.012          16718.682          1544.616  2  FL
    END-POINT -19189.512          16718.682          1544.616  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.950
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MJ                  
    PIPING-SPEC E-A1
GASKET
    END-POINT -19192.137          16718.682          1544.616  2
    END-POINT -19192.012          16718.682          1544.616  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MH                  
    PIPING-SPEC E-A1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -19192.137          16718.682          1544.616 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MI                  
VALVE
    END-POINT -19192.137          16718.682          1544.616  2  FL
    END-POINT -19199.137          16718.682          1544.616  2  FL
    CENTRE-POINT  -19195.637          16718.682          1544.616 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          33.440
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MF                  
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS -19195.637  16718.682   1544.616 
    TEXT HW-TOP
    UNDIMENSIONED
GASKET
    END-POINT -19199.262          16718.682          1544.616  2
    END-POINT -19199.137          16718.682          1544.616  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MD                  
    PIPING-SPEC E-A1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -19199.137          16718.682          1544.616 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_ME                  
FLANGE
    END-POINT -19199.262          16718.682          1544.616  2  FL
    END-POINT -19201.762          16718.682          1544.616  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           5.950
    SPOOL-IDENTIFIER 1070484-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MC                  
    PIPING-SPEC E-A1
END-CONNECTION-PIPELINE 
    CO-ORDS -19201.762          16718.682          1544.616 
    PIPELINE-REFERENCE 1070484-02
MATERIALS
ITEM-CODE FLGWNK2
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, STL, XS BORE, A105
    RATING 150LB
    RATING XS
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE SOL2X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION SOCKOLET, 3000LB, STL, A105
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH  XS, STL A106-B PBE, 3" LG
    RATING XS
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE PLG3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
ITEM-CODE GAS2
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 150LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 150LB
ITEM-CODE VALVGAT2
    CATALOG CRANE
    DESCRIPTION GATE 150# RF STL, F6/STEL SEATS
    RATING 150LB
ITEM-CODE BOLT2_1
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT (SPEC.BLD.) , A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 150LB
