ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070442-01
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0442-01
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  4''P-107-0442-E-C1
    ATTRIBUTE5  4
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  P-501R Discharge (TP-21)
    ATTRIBUTE13  631
    ATTRIBUTE14  76
    ATTRIBUTE15  725
    ATTRIBUTE16  150
    ATTRIBUTE17  1087.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  3"P0102Dx (TP-46)
    ATTRIBUTE99 END
VALVE
    END-POINT -19740.750          17558.139          1234.243  0.75  SW FEMALE 
    END-POINT -19743.693          17558.139          1234.243  0.75  SC FEMALE 
    CENTRE-POINT  -19742.003          17558.139          1234.243 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    SPOOL-IDENTIFIER 1070442-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1MM                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  NORTH
MESSAGE-ROUND
    CO-ORDS -19743.693  17558.139   1234.243 
    UNDIMENSIONED
    TEXT 5PI$894
MESSAGE
    CO-ORDS -19742.003  17558.139   1234.243 
    TEXT HW-NORTH
    UNDIMENSIONED
SOCKET-WELD
    END-POINT -19740.750          17558.139          1234.243  0.75  SW FEMALE 
    END-POINT -19740.750          17558.139          1234.243  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1MN                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
END-POSITION-OPEN 
    CO-ORDS -19743.693          17558.139          1234.243 
COUPLING
    END-POINT -19737.750          17558.139          1234.243  0.75  SW MALE 
    END-POINT -19740.750          17558.139          1234.243  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1MK                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19737.750          17558.139          1234.243  0.75  SW FEMALE 
    END-POINT -19737.750          17558.139          1234.243  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3EK                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19736.750          17558.139          1234.243 
    BRANCH1-POINT -19737.750          17558.139          1234.243  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3EH                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19736.750          17558.139          1234.243  4
    END-POINT -19736.750          17558.139          1234.243  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3EI                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19734.500          17558.139          1232.743  4  BW
    END-POINT -19734.500          17558.139          1235.743  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_219                 
    PIPING-SPEC E-C1
    TAP-CONNECTION 
    CO-ORDS -19736.750          17558.139          1234.243  4
WELD
    END-POINT -19734.500          17558.139          1232.743  4
    END-POINT -19734.500          17558.139          1232.743  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_21A                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19734.500          17558.139          1235.743  4
    END-POINT -19734.500          17558.139          1235.743  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_21B                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19734.500          17558.139          1239.993  4  FL
    END-POINT -19734.500          17558.139          1235.743  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_5B                  
    PIPING-SPEC E-C1
GASKET
    END-POINT -19734.500          17558.139          1239.993  4
    END-POINT -19734.500          17558.139          1240.118  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2RY                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19734.500          17558.139          1240.118 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2RZ                 
VALVE
    END-POINT -19734.500          17558.139          1240.118  4  FL
    END-POINT -19734.500          17558.139          1257.118  4  FL
    CENTRE-POINT  -19734.500          17558.139          1248.618 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         260.740
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_5F                  
    PIPING-SPEC E-C1
GASKET
    END-POINT -19734.500          17558.139          1257.243  4
    END-POINT -19734.500          17558.139          1257.118  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2RV                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19734.500          17558.139          1257.243 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2RW                 
VALVE
    END-POINT -19734.500          17558.139          1257.243  4  FL
    END-POINT -19734.500          17558.139          1274.243  4  FL
    CENTRE-POINT  -19734.500          17558.139          1265.743 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         260.740
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_5I                  
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  WEST
MESSAGE
    CO-ORDS -19734.500  17558.139   1265.743 
    TEXT HW-WEST
    UNDIMENSIONED
GASKET
    END-POINT -19734.500          17558.139          1274.368  4
    END-POINT -19734.500          17558.139          1274.243  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_63                  
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19734.500          17558.139          1274.368 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_64                  
FLANGE
    END-POINT -19734.500          17558.139          1274.368  4  FL
    END-POINT -19734.500          17558.139          1278.618  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    SPOOL-IDENTIFIER 1070442-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_62                  
    PIPING-SPEC E-C1
WELD
    END-POINT -19734.500          17558.139          1278.618  4
    END-POINT -19734.500          17558.139          1278.618  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1FV                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19734.500          17558.139          1304.880  4  BW
    END-POINT -19734.500          17558.139          1278.618  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1FT                 
    PIPING-SPEC E-C1
    TAP-CONNECTION 
    CO-ORDS -19732.250          17558.139          1281.618  4
FLOW-ARROW
    CO-ORDS -19734.500  17558.139   1295.633 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT -19734.500          17558.139          1304.880  4
    END-POINT -19734.500          17558.139          1304.880  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2O9                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19732.250          17558.139          1281.618  4
    END-POINT -19732.250          17558.139          1281.618  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3ER                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19732.250          17558.139          1281.618 
    BRANCH1-POINT -19731.250          17558.139          1281.618  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3EP                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19731.250          17558.139          1281.618  0.75  SW MALE 
    END-POINT -19731.250          17558.139          1281.618  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3ET                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19731.250          17558.139          1281.618  0.75  SW MALE 
    END-POINT -19728.250          17558.139          1281.618  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3ES                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19728.250          17558.139          1281.618  0.75  SW FEMALE 
    END-POINT -19728.250          17558.139          1281.618  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3EV                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19728.250          17558.139          1281.618  0.75  SW FEMALE 
    END-POINT -19725.928          17558.139          1281.618  0.75  SC FEMALE 
    CENTRE-POINT  -19726.998          17558.139          1281.618 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3EU                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS -19726.998  17558.139   1281.618 
    TEXT HW-NORTH
    UNDIMENSIONED
MESSAGE
    CO-ORDS -19725.308  17558.139   1281.618 
    TEXT SAMPLE$CONNECTION
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19725.928          17558.139          1281.618  0.75  SC MALE 
    END-POINT -19725.928          17558.139          1281.618  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3F1                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
MISC-COMPONENT
    END-POINT -19725.928          17558.139          1281.618  0.75  SC MALE 
    END-POINT -19724.178          17558.139          1281.618  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3F0                 
    PIPING-SPEC E-C1
    END-POSITION-CLOSED 
    CO-ORDS -19724.178          17558.139          1281.618 
TEE
    END-POINT -19734.500          17558.139          1304.880  4  BW
    END-POINT -19734.500          17558.139          1313.120  4  BW
    CENTRE-POINT  -19734.500          17558.139          1309.000 
    BRANCH1-POINT -19734.500          17554.259          1309.000  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT          16.090
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2O7                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19734.500          17558.139          1313.120  4
    END-POINT -19734.500          17558.139          1313.120  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2OB                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19734.500          17554.259          1309.000  3
    END-POINT -19734.500          17554.259          1309.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30T                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19734.500          17550.759          1309.000  3  FL
    END-POINT -19734.500          17554.259          1309.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          12.120
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30S                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19734.500          17550.634          1309.000  3
    END-POINT -19734.500          17550.759          1309.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30U                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19734.500          17550.759          1309.000 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30V                 
VALVE
    END-POINT -19734.500          17536.634          1309.000  3  FL
    END-POINT -19734.500          17550.634          1309.000  3  FL
    CENTRE-POINT  -19734.500          17543.634          1309.000 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT         126.450
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30K                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  EAST
MESSAGE
    CO-ORDS -19734.500  17543.634   1309.000 
    TEXT HW-EAST
    UNDIMENSIONED
GASKET
    END-POINT -19734.500          17536.634          1309.000  3
    END-POINT -19734.500          17536.509          1309.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30L                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19734.500          17536.509          1309.000 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30M                 
FLANGE
    END-POINT -19734.500          17536.509          1309.000  3  FL
    END-POINT -19734.500          17533.009          1309.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          12.120
    SPOOL-IDENTIFIER 1070442-01-4   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30I                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19734.500          17533.009          1309.000  3
    END-POINT -19734.500          17533.009          1309.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_30J                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19734.500          17533.009          1309.000  3  BW
    END-POINT -19734.500          17522.166          1309.000  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          10.250
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_WD                  
    PIPING-SPEC E-C1
MESSAGE
    CO-ORDS -19734.500  17522.166   1309.000 
    TEXT TP-3 <INSERT TIE-IN SYMBOL HERE>
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS -19734.500  17528.161   1309.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT -19734.500          17522.166          1309.000  3
    END-POINT -19734.500          17522.166          1309.000  3
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2S2                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19734.500          17522.166          1309.000  3  BW
    END-POINT -19734.500          17475.377          1309.000  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.250
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1WD                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19734.500          17475.377          1309.000  3
    END-POINT -19734.500          17475.377          1309.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_345                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19734.500          17475.377          1309.000  3  BW
    END-POINT -19734.500          17470.877          1304.500  3  BW
    CENTRE-POINT  -19734.500          17470.877          1309.000 
    SKEY ELBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           5.930
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_341                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19734.500          17470.877          1304.500  3
    END-POINT -19734.500          17470.877          1304.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_344                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19734.500          17470.877          1304.500  3  BW
    END-POINT -19734.500          17470.877          1292.500  3  PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.250
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_343                 
    PIPING-SPEC E-C1
END-POSITION-OPEN 
    CO-ORDS -19734.500          17470.877          1292.500 
PIPE
    END-POINT -19734.500          17558.139          1313.120  4  BW
    END-POINT -19734.500          17558.139          1319.063  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2OA                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19734.500          17558.139          1319.063  4
    END-POINT -19734.500          17558.139          1319.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2OC                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19734.500          17558.139          1319.063  4  BW
    END-POINT -19730.257          17562.382          1325.063  4  BW
    CENTRE-POINT  -19734.500          17558.139          1325.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT          11.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_25P                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19730.257          17562.382          1325.063  4
    END-POINT -19730.257          17562.382          1325.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_276                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19728.295          17564.344          1325.063  4  BW
    END-POINT -19730.257          17562.382          1325.063  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_274                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19728.295          17564.344          1325.063  4
    END-POINT -19728.295          17564.344          1325.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_275                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19726.527          17568.612          1325.063  4  BW
    END-POINT -19728.295          17564.344          1325.063  4  BW
    CENTRE-POINT  -19726.527          17566.112          1325.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           5.790
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_273                 
    PIPING-SPEC E-C1
    ANGLE 4500
WELD
    END-POINT -19726.527          17568.612          1325.063  4
    END-POINT -19726.527          17568.612          1325.063  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_278                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19726.527          17568.612          1325.063  4  BW
    END-POINT -19726.527          17640.456          1325.063  4  BW
    CONTINUATION 
    WEIGHT          14.980
    SPOOL-IDENTIFIER 1070442-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_277                 
    PIPING-SPEC E-C1
SUPPORT
    CO-ORDS -19726.527  17602.134   1325.063  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_27U                 
FLOW-ARROW
    CO-ORDS -19726.527  17625.847   1325.063 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS -19726.527  17602.134   1325.063  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZW                 
END-CONNECTION-PIPELINE 
    CO-ORDS -19726.527          17640.456          1325.063 
    PIPELINE-REFERENCE 1070442-02
ELBOW
    END-POINT -19734.500          17552.139          1226.743  4  BW
    END-POINT -19734.500          17558.139          1232.743  4  BW
    CENTRE-POINT  -19734.500          17558.139          1226.743 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT          11.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1JC                 
    PIPING-SPEC E-C1
    ANGLE 9000
SUPPORT
    CO-ORDS -19734.500  17558.139   1226.743  4
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1KX                 
WELD
    END-POINT -19734.500          17552.139          1226.743  4
    END-POINT -19734.500          17552.139          1226.743  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2S1                 
    THICKNESS/RATING 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
REDUCER-ECCENTRIC
    END-POINT -19734.500          17552.139          1226.743  4  BW
    END-POINT -19734.500          17543.139          1225.443  1.5  PL
    TAP-CONNECTION 
    CO-ORDS -19734.500          17547.639          1224.493  4
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE SWGECC4X1+1/2
    WEIGHT          18.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_213                 
    PIPING-SPEC E-C1
    FLAT-DIRECTION DOWN
SOCKET-WELD
    END-POINT -19734.500          17543.139          1225.443  1.5  SW FEMALE 
    END-POINT -19734.500          17543.139          1225.443  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2S0                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
WELD
    END-POINT -19734.500          17547.639          1224.493  4
    END-POINT -19734.500          17547.639          1224.493  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2EC                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19734.500          17547.639          1224.493 
    BRANCH1-POINT -19734.500          17547.639          1223.493  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2EA                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19734.500          17547.639          1223.493  0.75  SW MALE 
    END-POINT -19734.500          17547.639          1223.493  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2EE                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19734.500          17547.639          1223.493  0.75  SW MALE 
    END-POINT -19734.500          17547.639          1220.493  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ED                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19734.500          17547.639          1220.493  0.75  SW FEMALE 
    END-POINT -19734.500          17547.639          1220.493  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2EG                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19734.500          17547.639          1220.493  0.75  SW FEMALE 
    END-POINT -19734.500          17547.639          1218.170  0.75  SC FEMALE 
    CENTRE-POINT  -19734.500          17547.639          1219.240 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2EF                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  WEST
MESSAGE
    CO-ORDS -19734.500  17547.639   1219.240 
    TEXT HW-WEST
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19734.500          17547.639          1218.170  0.75  SC MALE 
    END-POINT -19734.500          17547.639          1218.170  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2EK                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
MISC-COMPONENT
    END-POINT -19734.500          17547.639          1218.170  0.75  SC MALE 
    END-POINT -19734.500          17547.639          1216.420  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2EJ                 
    PIPING-SPEC E-C1
    END-POSITION-CLOSED 
    CO-ORDS -19734.500          17547.639          1216.420 
FLANGE
    END-POINT -19734.500          17542.076          1225.443  1.5  FL
    END-POINT -19734.500          17543.139          1225.443  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           7.050
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1IP                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19734.500          17541.951          1225.443  1.5
    END-POINT -19734.500          17542.076          1225.443  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1IS                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19734.500          17541.951          1225.443 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           4.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1IT                 
FLANGE
    END-POINT -19734.500          17541.951          1225.443  1.5  FL
    END-POINT -19734.500          17540.451          1225.443  1.5  SW FEMALE 
    SKEY FLSW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.050
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1IR                 
    PIPING-SPEC E-C1
MESSAGE
    CO-ORDS -19734.500  17541.951   1225.443 
    TEXT P-501AR DISCHARGE$600# RF FLANGE$W 1644'-6 1/2"$N 1461'-9 15/16"$EL 102
    TEXT '-1 7/16"
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS -19734.500          17540.451          1225.443 
MATERIALS
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 160, STL, A106-B PBE, 3" LG
    RATING 160
ITEM-CODE SOL4X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION SOCKOLET, 6000LB, STL, A105
    RATING 6000LB
ITEM-CODE PIP4
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE FLGWNK4
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE GAS4
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT4
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE VALVCHK4
    CATALOG CRANE
    DESCRIPTION CHECK VALVE, 600LB, RF, STL, F6/STEL SEAT
    RATING 600LB
ITEM-CODE VALVGAT4
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 600LB, RF, STL, F6/STEL SEATS
    RATING 600LB
ITEM-CODE PLG3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
ITEM-CODE TEERED4X3
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCING TEE, SCH XS, BW, CS, A234 WPB
    RATING XS
ITEM-CODE FLGWNK3
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE GAS3
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT3
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE VALVGAT3
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 600LB, RF, STL, F6/STEL SEATS$W/CHAIN OPERATOR 12'-0" CHAIN 10" HW
    RATING 600LB
ITEM-CODE PIP3
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE 90LLR4
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE 45LLR4
    CATALOG ASME B16.9-1993
    DESCRIPTION 45 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE SUPEB-4
    DESCRIPTION ADJUSTABLE BASE SUPPORT BS1-26.75, SEE DETAIL PS0004
ITEM-CODE SWGECC4X1+1/2
    CATALOG KEDDCO
    DESCRIPTION ECCENTRIC SWAGE, SCH XS/160, STL, A234 WPB BLE X PSE
    RATING 160
ITEM-CODE FLG1+1/2
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW, 600LB, RF, STL, 160 BORE, A105
    RATING 600LB
    RATING 160
ITEM-CODE GAS1+1/2
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT1+1/2
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
