ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070494-01
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0494-01
    ATTRIBUTE2  A
    ATTRIBUTE3  107
    ATTRIBUTE4  2''P-107-0494-E-C1
    ATTRIBUTE5  2
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  4"P-107-0442-E-C1
    ATTRIBUTE13  30
    ATTRIBUTE14  76
    ATTRIBUTE15  125
    ATTRIBUTE16  150
    ATTRIBUTE17  187.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  2"P-107-0525-E-A1A
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT -19878.319          17644.576          1305.513  2  FL
    END-POINT -19877.939          17644.576          1305.513  2  FL
    CENTRE-POINT -19878.129  17644.576   1305.513 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC2
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_357                 
    PIPING-SPEC E-C1
    SLIP-PLATE-TAIL-DIRECTION NORTH
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT -19878.444          17644.576          1305.513  2
    END-POINT -19878.319          17644.576          1305.513  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37V                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19878.444          17644.576          1305.513 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37W                 
GASKET
    END-POINT -19877.939          17644.576          1305.513  2
    END-POINT -19877.814          17644.576          1305.512  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37X                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
FLANGE
    END-POINT -19877.814          17644.576          1305.512  2  FL
    END-POINT -19874.684          17644.576          1305.512  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT          12.120
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_35G                 
    PIPING-SPEC E-C1
END-CONNECTION-PIPELINE 
    CO-ORDS -19874.684          17644.576          1305.512 
    PIPELINE-REFERENCE 1070442-03
FLANGE
    END-POINT -19878.444          17644.576          1305.513  2  FL
    END-POINT -19881.574          17644.576          1305.513  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT          12.120
    SPOOL-IDENTIFIER 1070494-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2P3                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19881.574          17644.576          1305.513  2
    END-POINT -19881.574          17644.576          1305.513  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2P8                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19881.574          17644.576          1305.513  2  BW
    END-POINT -19884.574          17641.576          1305.513  2  BW
    CENTRE-POINT  -19884.574          17644.576          1305.513 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           2.840
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2P6                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19884.574          17641.576          1305.512  2
    END-POINT -19884.574          17641.576          1305.512  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37I                 
    THICKNESS/RATING 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19884.574          17594.336          1305.513  2  BW
    END-POINT -19884.574          17641.576          1305.512  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.459
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37G                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19884.574          17594.336          1305.513  2
    END-POINT -19884.574          17594.336          1305.513  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37U                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19884.574          17591.206          1305.513  2  FL
    END-POINT -19884.574          17594.336          1305.513  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT          12.120
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37R                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19884.574          17591.206          1305.513  2
    END-POINT -19884.574          17591.081          1305.513  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37S                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
VALVE
    END-POINT -19884.574          17579.581          1305.513  2  FL
    END-POINT -19884.574          17591.081          1305.513  2  FL
    CENTRE-POINT  -19884.574          17585.331          1305.513 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          64.480
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_37M                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS -19884.574          17579.581          1305.513 
    PIPELINE-REFERENCE 1070525-01
MATERIALS
ITEM-CODE LNBDSPEC2
    CATALOG KEDDCO
    DESCRIPTION 5F0 891
    RATING 600LB
ITEM-CODE GAS2
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT2
    CATALOG ALASKAN
    DESCRIPTION ALASKAN 600LB RAISED FACING 8 - 5/8" X 5" STUD BOLT
    RATING 600LB
ITEM-CODE FLGWNK2
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, 160 BORE, A105
    RATING 600LB
    RATING 160
ITEM-CODE 90LLR2
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH 160, STL, A234 WPB
    RATING 160
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH 160, SMLS STL, A106-B
    RATING 160
