ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070505-01
PIPING-SPEC E-A1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0505-01
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  2''PF-107-0505-E-A1
    ATTRIBUTE5  2
    ATTRIBUTE6  PF
    ATTRIBUTE7  E-A1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  F-503A Drain
    ATTRIBUTE13  3
    ATTRIBUTE14  95
    ATTRIBUTE15  100
    ATTRIBUTE16  145
    ATTRIBUTE17  150
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-049
    ATTRIBUTE23  BK-1
    ATTRIBUTE25  2B
    ATTRIBUTE26  High P Flare Header
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT -18988.981          16664.750          1211.750  0.75  SC MALE 
    END-POINT -18987.231          16664.750          1211.750  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    SPOOL-IDENTIFIER 1070505-01-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3C2                 
    PIPING-SPEC E-A1
    END-POSITION-CLOSED 
    CO-ORDS -18987.231          16664.750          1211.750 
SCREWED-WELD
    END-POINT -18988.981          16664.750          1211.750  0.75  SC MALE 
    END-POINT -18988.981          16664.750          1211.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3C3                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-A1
VALVE
    END-POINT -18991.304          16664.750          1211.750  0.75  SW FEMALE 
    END-POINT -18988.981          16664.750          1211.750  0.75  SC FEMALE 
    CENTRE-POINT  -18990.051          16664.750          1211.750 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3BY                 
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS -18990.051  16664.750   1211.750 
    TEXT HW-TOP
    UNDIMENSIONED
SOCKET-WELD
    END-POINT -18991.304          16664.750          1211.750  0.75  SW FEMALE 
    END-POINT -18991.304          16664.750          1211.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3BZ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1
PIPE
    END-POINT -18995.179          16664.750          1211.750  0.75  PL
    END-POINT -18991.304          16664.750          1211.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.935
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3BO                 
    PIPING-SPEC E-A1
SOCKET-WELD
    END-POINT -18995.179          16664.750          1211.750  0.75
    END-POINT -18995.179          16664.750          1211.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3BP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1
ELBOW
    END-POINT -18995.991          16664.750          1212.563  0.75  SW FEMALE 
    END-POINT -18995.179          16664.750          1211.750  0.75  SW FEMALE 
    CENTRE-POINT  -18995.991          16664.750          1211.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3BL                 
    PIPING-SPEC E-A1
    ANGLE 9000
SOCKET-WELD
    END-POINT -18995.991          16664.750          1212.563  0.75  SW FEMALE 
    END-POINT -18995.991          16664.750          1212.563  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3BN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1
PIPE
    END-POINT -18995.991          16664.750          1215.438  0.75  PL
    END-POINT -18995.991          16664.750          1212.563  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.935
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3BJ                 
    PIPING-SPEC E-A1
    INSULATION-ON 
SOCKET-WELD
    END-POINT -18995.991          16664.750          1215.438  0.75
    END-POINT -18995.991          16664.750          1215.438  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_3BK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1
    INSULATION-ON 
OLET
    CENTRE-POINT  -18995.991          16664.750          1216.063 
    BRANCH1-POINT -18995.991          16664.750          1215.438  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2WL                 
    PIPING-SPEC E-A1
    INSULATION-ON 
WELD
    END-POINT -18995.991          16664.750          1216.063  2
    END-POINT -18995.991          16664.750          1216.063  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2WN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
PIPE
    END-POINT -18995.991          16666.250          1217.250  2  BW
    END-POINT -18995.991          16663.250          1217.250  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HY                  
    PIPING-SPEC E-A1
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS -18995.991          16664.750          1216.063  2
WELD
    END-POINT -18995.991          16666.250          1217.250  2
    END-POINT -18995.991          16666.250          1217.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HZ                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
WELD
    END-POINT -18995.991          16663.250          1217.250  2
    END-POINT -18995.991          16663.250          1217.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HX                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
ELBOW
    END-POINT -18995.991          16660.250          1220.250  2  BW
    END-POINT -18995.991          16663.250          1217.250  2  BW
    CENTRE-POINT  -18995.991          16660.250          1217.250 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HW                  
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -18995.991          16660.250          1220.250  2
    END-POINT -18995.991          16660.250          1220.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HV                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
PIPE
    END-POINT -18995.991          16660.250          1220.250  2  BW
    END-POINT -18995.991          16660.250          1243.938  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HU                  
    PIPING-SPEC E-A1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -18995.991  16660.250   1229.079 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -18995.991          16660.250          1243.938  2
    END-POINT -18995.991          16660.250          1243.938  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HJ                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
TEE
    END-POINT -18995.991          16660.250          1248.938  2  BW
    END-POINT -18995.991          16660.250          1243.938  2  BW
    CENTRE-POINT  -18995.991          16660.250          1246.438 
    BRANCH1-POINT -18995.991          16662.750          1246.438  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           3.650
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HI                  
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -18995.991          16660.250          1248.938  2
    END-POINT -18995.991          16660.250          1248.938  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4C4                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
WELD
    END-POINT -18995.991          16662.750          1246.438  2
    END-POINT -18995.991          16662.750          1246.438  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HK                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
PIPE
    END-POINT -18995.991          16666.250          1246.438  2  BW
    END-POINT -18995.991          16662.750          1246.438  2  BW
    CONTINUATION 
    WEIGHT           5.020
    SPOOL-IDENTIFIER 1070457-01-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_HL                  
    PIPING-SPEC E-A1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -18995.991  16664.679   1246.438 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS -18995.991          16666.250          1246.438 
    PIPELINE-REFERENCE 1070457-01
PIPE
    END-POINT -18995.991          16660.250          1248.938  2  BW
    END-POINT -18995.991          16660.250          1262.938  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4C3                 
    PIPING-SPEC E-A1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -18995.991  16660.250   1254.282 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -18995.991          16660.250          1262.938  2
    END-POINT -18995.991          16660.250          1262.938  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4EX                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
TEE
    END-POINT -18993.491          16660.250          1265.438  2  BW
    END-POINT -18998.491          16660.250          1265.438  2  BW
    CENTRE-POINT  -18995.991          16660.250          1265.438 
    BRANCH1-POINT -18995.991          16660.250          1262.938  2  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           3.650
    SPOOL-IDENTIFIER 1070507-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4EV                 
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -18993.491          16660.250          1265.438 
    PIPELINE-REFERENCE 1070507-01
FLANGE
    END-POINT -18995.991          16669.000          1217.250  2  FL
    END-POINT -18995.991          16666.250          1217.250  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           9.030
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_I0                  
    PIPING-SPEC E-A1
GASKET
    END-POINT -18995.991          16669.000          1217.250  2
    END-POINT -18995.991          16669.125          1217.250  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_I1                  
    PIPING-SPEC E-A1
    GASKET-RATING 300LB          
BOLT
    CO-ORDS -18995.991          16669.000          1217.250 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_I2                  
VALVE
    END-POINT -18995.991          16677.625          1217.250  2  FL
    END-POINT -18995.991          16669.125          1217.250  2  FL
    CENTRE-POINT  -18995.991          16673.375          1217.250 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          47.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_I3                  
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS -18995.991  16673.375   1217.250 
    TEXT HW-TOP
    UNDIMENSIONED
MESSAGE
    CO-ORDS -18995.991  16677.625   1217.250 
    TEXT CONT. TO$F-503A DIRTY DRAIN$NOZZLE N4B$W 1583'-0"$N 1389'-9 3/4"$EL. 10
    TEXT 1'-5 1/4"
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS -18995.991          16677.625          1217.250 
MATERIALS
ITEM-CODE PLG3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE PIP3/4
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH 160, SMLS STL, A106-B
    RATING 160
ITEM-CODE 90L3/4X3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION 90 DEG. ELBOW, 3000LB, SW, STL, A105
    RATING 3000LB
ITEM-CODE SOL2X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION SOCKOLET, 3000LB, STL, A105
    RATING 3000LB
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE 90LLR2
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE TEESTR2X2
    CATALOG ASME B16.9-1993
    DESCRIPTION TEE, SCH XS, BW, STL, A234 WPB
    RATING XS
ITEM-CODE FLGWNK2
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, STL, XS BORE A105
    RATING 300LB
    RATING XS
ITEM-CODE GAS2
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 300LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 300LB
ITEM-CODE BOLT2
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 300LB
ITEM-CODE VALVGAT2
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 300LB, RF, STL, F6/STEL SEATS
    RATING 300LB
