ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070497-04
PIPING-SPEC E-A1A
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0497-04
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  6''P-107-0497-E-A1A
    ATTRIBUTE5  6
    ATTRIBUTE6  P
    ATTRIBUTE7  E-A1A
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  D-501
    ATTRIBUTE13  17
    ATTRIBUTE14  72
    ATTRIBUTE15  50
    ATTRIBUTE16  150
    ATTRIBUTE17  75
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  6"P-107-0441-E-C1
    ATTRIBUTE99 END
FLANGE
    END-POINT -19714.527          17825.971          1284.297  6  FL
    END-POINT -19714.527          17825.971          1289.167  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          79.360
    SPOOL-IDENTIFIER 1070497-04-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FY                 
    PIPING-SPEC E-A1A
GASKET
    END-POINT -19714.527          17825.971          1284.172  6
    END-POINT -19714.527          17825.971          1284.297  6
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GX                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
WELD
    END-POINT -19714.527          17825.971          1289.167  6
    END-POINT -19714.527          17825.971          1289.167  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2G7                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
VALVE
    END-POINT -19714.527          17825.971          1262.172  6  FL
    END-POINT -19714.527          17825.971          1284.172  6  FL
    CENTRE-POINT  -19714.527          17825.971          1273.172 
    SKEY VTFL
    CONTINUATION 
    WEIGHT         572.290
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2BU                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  EAST
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.527          17825.971          1262.172 
    PIPELINE-REFERENCE 1070443-01
PIPE
    END-POINT -19714.527          17825.971          1317.125  6  BW
    END-POINT -19714.527          17825.971          1289.167  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2G5                 
    PIPING-SPEC E-A1A
WELD
    END-POINT -19714.527          17825.971          1317.125  6
    END-POINT -19714.527          17825.971          1317.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2G6                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
ELBOW
    END-POINT -19714.527          17825.971          1317.125  6  BW
    END-POINT -19714.527          17816.971          1326.125  6  BW
    CENTRE-POINT  -19714.527          17825.971          1326.125 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          22.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2G3                 
    PIPING-SPEC E-A1A
    ANGLE 9000
WELD
    END-POINT -19714.527          17816.971          1326.125  6
    END-POINT -19714.527          17816.971          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2G9                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19714.527          17816.971          1326.125  6  BW
    END-POINT -19714.427          17504.803          1326.125  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2G8                 
    PIPING-SPEC E-A1A
FLOW-ARROW
    CO-ORDS -19714.490  17701.661   1326.125 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS -19714.458  17602.134   1326.125  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2H1                 
SUPPORT
    CO-ORDS -19714.458  17602.134   1326.125  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPGB-6
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_33X                 
SUPPORT
    CO-ORDS -19714.516  17782.134   1326.125  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2H3                 
SUPPORT
    CO-ORDS -19714.516  17782.134   1326.125  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPGB-6
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_33W                 
WELD
    END-POINT -19714.427          17504.803          1326.125  6
    END-POINT -19714.427          17504.803          1326.125  6
    SKEY WF
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GA                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
TEE
    END-POINT -19714.427          17493.563          1326.125  6  BW
    END-POINT -19714.427          17504.803          1326.125  6  BW
    CENTRE-POINT  -19714.427          17499.183          1326.125 
    BRANCH1-POINT -19714.427          17499.183          1320.505  6  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT          29.560
    SPOOL-IDENTIFIER 1070497-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FK                 
    PIPING-SPEC E-A1A
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.427          17493.563          1326.125 
    PIPELINE-REFERENCE 1070497-02
MATERIALS
ITEM-CODE FLGWNK6
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF, STL,  STD BORE, A105
    RATING 600LB
    RATING STD
ITEM-CODE PIP6
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH STD, SMLS STL, A106-B
    RATING STD
ITEM-CODE 90LLR6
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH STD, STL, A234 WPB
    RATING STD
ITEM-CODE SUPTS-6
    DESCRIPTION TEE SHOE SUPPORT S-9C, SEE DETAIL PS2028
ITEM-CODE SUPGB-6
    DESCRIPTION PIPE GUIDE SUPPORT, SEE DETAIL PS2007
