ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070515-02
PIPING-SPEC E-A1A
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0515-02
    ATTRIBUTE2  B
    ATTRIBUTE3  107
    ATTRIBUTE4  2''FG-107-0515-E-A1A
    ATTRIBUTE5  2
    ATTRIBUTE6  FG
    ATTRIBUTE7  E-A1A
    ATTRIBUTE8  HC
    ATTRIBUTE9  1.5
    ATTRIBUTE10  -
    ATTRIBUTE12  3"FG-107-0480-E-A1A
    ATTRIBUTE13  65
    ATTRIBUTE14  100
    ATTRIBUTE15  125
    ATTRIBUTE16  150
    ATTRIBUTE17  187.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-17A01-049
    ATTRIBUTE23  BL-2
    ATTRIBUTE25  2D
    ATTRIBUTE26  5 PSV-885B INLET
    ATTRIBUTE99 END
VALVE-ANGLE
    END-POINT -19179.387          16718.683          1540.491  1  FL
    END-POINT -19183.887          16718.682          1544.616  2  FL
    CENTRE-POINT  -19179.387          16718.682          1544.616 
    SKEY ARFL
    FABRICATION-ITEM
    ITEM-CODE VALVREL1X2
    WEIGHT           0.000
    SPOOL-IDENTIFIER 1070515-02-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4Z0                 
    TAG 5PSV-885B                       
    PIPING-SPEC E-A1A
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT -19179.387          16718.683          1540.366  1
    END-POINT -19179.387          16718.683          1540.491  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_513                 
    PIPING-SPEC E-A1A
    GASKET-RATING 300LB          
BOLT
    CO-ORDS -19179.387          16718.683          1540.366 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_514                 
END-POSITION-OPEN 
    CO-ORDS -19183.887          16718.682          1544.616 
FLANGE
    END-POINT -19179.387          16718.683          1540.366  1  FL
    END-POINT -19179.387          16718.683          1539.744  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           3.080
    SPOOL-IDENTIFIER 1070515-02-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4YY                 
    PIPING-SPEC E-A1A
SOCKET-WELD
    END-POINT -19179.387          16718.683          1539.744  1  SW FEMALE 
    END-POINT -19179.387          16718.683          1539.744  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4YZ                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1A
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT -19179.387          16718.683          1533.244  2  BW
    END-POINT -19179.387          16718.683          1539.744  1  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE SWGCON2X1
    WEIGHT           2.330
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_MW                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -19179.387          16718.683          1533.244  2
    END-POINT -19179.387          16718.683          1533.244  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5EO                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -19179.387          16718.683          1464.641  2  BW
    END-POINT -19179.387          16718.683          1533.244  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5EM                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
SUPPORT
    CO-ORDS -19179.387  16718.683   1498.537  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5EU                 
TEE-SET-ON
    BRANCH1-POINT -19180.575          16718.683          1498.537  1.5
    CENTRE-POINT  -19179.387  16718.683   1498.537 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT -19180.575          16718.683          1498.537  1.5  BW
    END-POINT -19203.387  16718.683   1498.537  1.5  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS -19203.387  16718.683   1498.537 
SUPPORT
    CO-ORDS -19194.387  16718.683   1498.537  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5F0                 
FLOW-ARROW
    CO-ORDS -19179.387  16718.683   1512.641 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19179.387          16718.683          1464.641  2
    END-POINT -19179.387          16718.683          1464.641  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5EN                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
ELBOW
    END-POINT -19179.387          16718.683          1464.641  2  BW
    END-POINT -19176.387          16718.683          1461.641  2  BW
    CENTRE-POINT  -19179.387          16718.683          1461.641 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    SPOOL-IDENTIFIER 1070515-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_51N                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19176.387          16718.682          1461.641  2
    END-POINT -19176.387          16718.682          1461.641  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_51P                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -19107.559          16718.682          1461.641  2  BW
    END-POINT -19176.387          16718.682          1461.641  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NB                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -19128.387  16718.682   1461.641 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19107.559          16718.682          1461.641  2
    END-POINT -19107.559          16718.682          1461.641  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NC                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
ELBOW
    END-POINT -19104.559          16718.682          1458.641  2  BW
    END-POINT -19107.559          16718.682          1461.641  2  BW
    CENTRE-POINT  -19104.559          16718.682          1461.641 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_ND                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19104.559          16718.682          1458.641  2
    END-POINT -19104.559          16718.682          1458.641  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_59W                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -19104.559          16718.682          1388.204  2  BW
    END-POINT -19104.559          16718.682          1458.641  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NF                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -19104.559          16718.682          1388.204  2
    END-POINT -19104.559          16718.682          1388.204  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NG                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
ELBOW-TEED
    END-POINT -19104.559          16715.682          1385.204  2  BW
    END-POINT -19104.559          16718.682          1388.204  2  BW
    CENTRE-POINT  -19104.559          16718.682          1385.204 
    BRANCH1-POINT -19104.559  16718.682   1385.204  2
    SKEY ETBW
    CONTINUATION 
    WEIGHT           1.940
    SPOOL-IDENTIFIER 1070515-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NH                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS      0.000      0.000      0.000  2
SUPPORT
    CO-ORDS -19104.559  16718.682   1385.204  2
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4ZO                 
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT -19104.559          16718.682          1385.204  2  BW
    END-POINT -19104.559  16760.682   1385.204  2  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS -19104.559  16760.682   1385.204 
SUPPORT
    CO-ORDS -19104.559  16751.682   1384.966  2
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4ZR                 
END-CONNECTION-PIPELINE 
    CO-ORDS -19104.559          16715.682          1385.204 
    PIPELINE-REFERENCE 1070515-01
MATERIALS
ITEM-CODE VALVREL1X2
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION 5-PSV-885B RELIEF VALVE, 300LBx150LB
    RATING 300LB
ITEM-CODE GAS1
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 300LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 300LB
ITEM-CODE BOLT1
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 300LB
ITEM-CODE FLG1
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW, 300LB, RF STL XS BORE A105
    RATING 300LB
    RATING XS
ITEM-CODE SWGCON2X1
    CATALOG KEDDCO
    DESCRIPTION CONCENTRIC SWAGE, SCH 80, BLE X PSE, A234 GR WPB, MSS SP-95
    RATING 80
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE SUPEB-2
    DESCRIPTION TRUNNION SUPPORT DL11- 24" , SEE DETAIL PS1015,W/SHOE S-9C, SEE DETAIL PS2028
ITEM-CODE SUPTS-2
    DESCRIPTION TEE SHOE SUPPORTS-9C, SEE DETAIL PS2028
ITEM-CODE 90LLR2
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
