ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   SUR2-C05-05-BFW-LIM-21113-002
    PIPING-SPEC   EVA
    INSULATION-SPEC   MINERAL WOOL
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   ELECTRIC
    ATTRIBUTE25   205
    ATTRIBUTE21   205-CWA-006
    ATTRIBUTE9   14/03/2012 3:09:51 PM
    ATTRIBUTE24   SUR2-C05-05-BFW-LIM-21113-002
    ATTRIBUTE87   Refer to LDT
    ATTRIBUTE97   Refer to LDT
    ATTRIBUTE89   Refer to LDT
    ATTRIBUTE95   Refer to LDT
    ATTRIBUTE88   Refer to LDT
    ATTRIBUTE96   Refer to LDT
    ATTRIBUTE98   Refer to LDT
    ATTRIBUTE86   Refer to LDT
    ATTRIBUTE83   V1[InsulationThickness]
    ATTRIBUTE93   V1[LineNumber]
    ATTRIBUTE92   V1[LineSpec]
    ATTRIBUTE85   V1[PaintCode]
    ATTRIBUTE84   V1[PostWeldHeatTreatmentFlag]
    ATTRIBUTE91   V1[StartPID]
    ATTRIBUTE82   V1[TracerCode]
    ATTRIBUTE94   V1[systemid]
    ATTRIBUTE90   V1[TagNumber]
    MISC-SPEC1    BFW-205-21113
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    1188155.662    1421028.000    100753.713     1    PL
    END-POINT    1186334.960    1421028.000    100753.713     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    5.561
    UCI    {0001388C-0000-0000-2917-69AD364FC704}
    ITEM-CODE    PPPCH209050M
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
    SPOOL-IDENTIFIER    C05-05-BFW-LIM-21113-002-A
    CUT-PIECE-LENGTH    1820.70
SUPPORT
    CO-ORDS    1186554.069    1421028.000    100753.713     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1-1-A-1"
    ITEM-DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-1" $
    WEIGHT    3.907
    UCI    {00022303-0000-0000-3E08-69AD364FC704}
    NAME    S1_1-3-8831
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    1186554.069    1421028.000    100753.713     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G5
    ITEM-DESCRIPTION    G5 Pipe Guide, 1" to 6"$Tag No: G5 $
    WEIGHT    0.747
    UCI    {00022303-0000-0000-320F-94FC604F2606}
    NAME    G5_1-3-7072
    ERECTION-ITEM
SUPPORT
    CO-ORDS    1186554.069    1421028.000    100753.713     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    B1-C-2
    ITEM-DESCRIPTION    B1-C Cantilever Support, Welded Attachment$Tag No: B1-C-2 $
    WEIGHT    2.005
    UCI    {00022303-0000-0000-B60B-69AD364FC704}
    NAME    B1_3-3-1671
    ERECTION-ITEM
WELD
    END-POINT    1188155.662    1421028.000    100753.713     1    
    END-POINT    1188155.662    1421028.000    100753.713     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-311
    UCI    {000138AA-0000-0000-2D02-9476394F8605}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-311
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1186216.648    1421028.000    102405.701     1    PL
    END-POINT    1185933.323    1421028.000    102405.701     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    5.561
    UCI    {0001388C-0000-0000-3A02-69AD364FC704}
    ITEM-CODE    PPPCH209050M
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
    SPOOL-IDENTIFIER    C05-05-BFW-LIM-21113-002-C
    CUT-PIECE-LENGTH    283.32
WELD
    END-POINT    1186216.648    1421028.000    102405.701     1    
    END-POINT    1186216.648    1421028.000    102405.701     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-301
    UCI    {000138AA-0000-0000-6402-69AD364FC704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-301
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    1185677.735    1421028.000    101246.562     2    
    END-POINT    1185787.273    1421028.000    101246.562     2    
    SKEY    FLWN
    ITEM-CODE    PFFWG1RD0405
    ITEM-DESCRIPTION    WN Flg, A105N, CL1500, Sch 160, RTJ, B16.5
    UCI    {00013885-0000-0000-DB07-69AD364FC704}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
INSTRUMENT
    END-POINT    1185674.560    1421028.000    101246.562     2    FL
    END-POINT    1185628.523    1421028.000    101246.562     2    
    CENTRE-POINT    1185674.560    1421028.000    101246.562        
    SKEY    II**
    ITEM-CODE    205-TW-21087
    FLOW    0
    UCI    {000138B6-0000-0000-E040-69AD364FC704}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    205$TW$21087
BOLT
    CO-ORDS    1185674.560    1421028.000    101246.562        
    UCI    {000138A9-0000-0000-EE40-69AD364FC704}
    BOLT-DIA     .875
    BOLT-LENGTH     5.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00002D
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  5.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1185677.735    1421028.000    101246.562     2    
    END-POINT    1185674.560    1421028.000    101246.562     2    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-ED40-69AD364FC704}
    ITEM-CODE    PGGC2ER00A04
    ITEM-DESCRIPTION    Gasket, OvlRng, CS, CL1500, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
COUPLING
    END-POINT    1186319.085    1421028.000    100753.713     1    SW
    END-POINT    1186334.960    1421028.000    100753.713     1    SW
    SKEY    COSW
    ITEM-CODE    PFCDG1700502
    ITEM-DESCRIPTION    Cplg, SW, A105N, CL9000
    UCI    {00013885-0000-0000-FD17-69AD364FC704}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1186334.960    1421028.000    100753.713     1    
    END-POINT    1186334.960    1421028.000    100753.713     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    FW-201
    UCI    {000138AA-0000-0000-EB18-69AD364FC704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-FW-201
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1188812.608    1420911.338    100753.713     1    PL
    END-POINT    1188812.608    1420994.663    100753.713     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    5.561
    UCI    {0001388C-0000-0000-123C-6F347B4E3D05}
    ITEM-CODE    PPPCH209050M
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
    CUT-PIECE-LENGTH    83.33
WELD
    END-POINT    1188812.608    1420994.663    100753.713     1    
    END-POINT    1188812.608    1420994.663    100753.713     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-025
    UCI    {000138AA-0000-0000-293C-6F347B4E3D05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-025
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    1188812.608    1420994.663    100753.713     1    SW
    END-POINT    1188779.270    1421028.000    100753.713     1    SW
    CENTRE-POINT    1188812.608    1421028.000    100753.713        
    SKEY    EL**
    ITEM-CODE    PFQNG1700102
    ITEM-DESCRIPTION    El - 90, SW, A105N, CL9000
    UCI    {00013885-0000-0000-1B3C-6F347B4E3D05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
ELBOW
    END-POINT    1188812.608    1420878.000    100787.050     1    SW
    END-POINT    1188812.608    1420911.338    100753.713     1    SW
    CENTRE-POINT    1188812.608    1420878.000    100753.713        
    SKEY    EL**
    ITEM-CODE    PFQNG1700102
    ITEM-DESCRIPTION    El - 90, SW, A105N, CL9000
    UCI    {00013885-0000-0000-203B-6F347B4E3D05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1188812.608    1420878.000    100787.050     1    
    END-POINT    1188812.608    1420878.000    100787.050     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-401
    UCI    {000138AA-0000-0000-192A-B2A05F4FC804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-401
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1188812.608    1420911.338    100753.713     1    
    END-POINT    1188812.608    1420911.338    100753.713     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-029
    UCI    {000138AA-0000-0000-273C-6F347B4E3D05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-029
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
INSTRUMENT-ANGLE
    END-POINT    1188953.608    1420878.000    101256.000     1    FL
    END-POINT    1188812.608    1420878.000    101115.000     1    FL
    CENTRE-POINT    1188812.608    1420878.000    101256.000        
    SKEY    IA**
    ITEM-CODE    205-PV-21089
    FLOW    2
    UCI    {000138B6-0000-0000-452A-6F347B4E3D05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    205$PV$21089
BOLT
    CO-ORDS    1188812.608    1420878.000    101115.000        
    UCI    {000138A9-0000-0000-1E2A-B2A05F4FC804}
    BOLT-DIA     .875
    BOLT-LENGTH     5
    BOLT-QUANTITY    4
    BOLT-ITEM-CODE    FBBS5D00002E
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1188812.608    1420878.000    101115.000     1    
    END-POINT    1188812.608    1420878.000    101111.825     1    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-1D2A-B2A05F4FC804}
    ITEM-CODE    PGGC2ER00A02
    ITEM-DESCRIPTION    Gasket, OvlRng, CS, CL1500, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
TEE
    END-POINT    1188222.337    1421028.000    100753.713     1    SW
    END-POINT    1188155.662    1421028.000    100753.713     1    SW
    CENTRE-POINT    1188188.999    1421028.000    100753.713        
    BRANCH1-POINT    1188188.999    1421028.000    100720.375    0.75    SW
    SKEY    TE**
    ITEM-CODE    PFCVG1700M0D
    ITEM-DESCRIPTION    RedTe, SW, A105N, CL9000
    UCI    {00013885-0000-0000-7601-9476394F8605}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1188222.337    1421028.000    100753.713     1    
    END-POINT    1188222.337    1421028.000    100753.713     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-317
    UCI    {000138AA-0000-0000-2B02-9476394F8605}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-317
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1188779.270    1421028.000    100753.713     1    PL
    END-POINT    1188222.337    1421028.000    100753.713     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    5.561
    UCI    {0001388C-0000-0000-7D01-9476394F8605}
    ITEM-CODE    PPPCH209050M
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
    CUT-PIECE-LENGTH    556.93
SUPPORT
    CO-ORDS    1188631.383    1421028.000    100753.713     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G3-A-1"
    ITEM-DESCRIPTION    G3-A U-Bolt Guide, 3/4" to 24"$Tag No: G3-A-1" $
    WEIGHT    0.046
    UCI    {00022303-0000-0000-C602-9EEE334F9C05}
    NAME    G3_1-3-3661
    ERECTION-ITEM
WELD
    END-POINT    1188779.270    1421028.000    100753.713     1    
    END-POINT    1188779.270    1421028.000    100753.713     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-027
    UCI    {000138AA-0000-0000-253C-6F347B4E3D05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-027
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1188188.999    1421028.000    100720.375    0.75    
    END-POINT    1188188.999    1421028.000    100618.775    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2090504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-9402-9476394F8605}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.378
WELD
    END-POINT    1188188.999    1421028.000    100720.375    0.75    
    END-POINT    1188188.999    1421028.000    100720.375    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-316
    UCI    {000138AA-0000-0000-9E02-9476394F8605}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-316
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    1188188.999    1421028.000    100618.775    0.75    SW
    END-POINT    1188188.999    1421028.000    100529.875    0.75    SW
    CENTRE-POINT    1188188.999    1421028.000    100574.325        
    SKEY    VV**
    ITEM-CODE    PVVGAAB51001
    ITEM-DESCRIPTION    Gate Valve,CL1500,SW,Tr.5,A105N, Tag No:GS-15V0-0501
    FLOW    0
    UCI    {00013885-0000-0000-A202-9476394F8605}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
WELD
    END-POINT    1188188.999    1421028.000    100618.775    0.75    
    END-POINT    1188188.999    1421028.000    100618.775    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-315
    UCI    {000138AA-0000-0000-AD02-9476394F8605}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-315
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1188188.999    1421028.000    100529.875    0.75    
    END-POINT    1188188.999    1421028.000    100428.275    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2090504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-B102-9476394F8605}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.378
WELD
    END-POINT    1188188.999    1421028.000    100529.875    0.75    
    END-POINT    1188188.999    1421028.000    100529.875    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-314
    UCI    {000138AA-0000-0000-B902-9476394F8605}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-314
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    1188188.999    1421028.000    100403.193    0.75    SW
    END-POINT    1188188.999    1421028.000    100428.275    0.75    SW
    CENTRE-POINT    1188188.999    1421028.000    100415.734        
    SKEY    VG**
    ITEM-CODE    PVVLAAB51Y01
    ITEM-DESCRIPTION    Globe Valve,CL1500,Y-Pattern,SW,Tr.5,A105N, Tag No:TS-15V1-0501
    FLOW    0
    UCI    {00013885-0000-0000-BD02-9476394F8605}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
WELD
    END-POINT    1188188.999    1421028.000    100428.275    0.75    
    END-POINT    1188188.999    1421028.000    100428.275    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-313
    UCI    {000138AA-0000-0000-C802-9476394F8605}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-313
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1188188.999    1421028.000    100403.193    0.75    
    END-POINT    1188188.999    1421028.000    100301.593    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-CC02-9476394F8605}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.378
WELD
    END-POINT    1188188.999    1421028.000    100403.193    0.75    
    END-POINT    1188188.999    1421028.000    100403.193    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-310
    UCI    {000138AA-0000-0000-D502-9476394F8605}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-310
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
CAP
    END-POINT    1188188.999    1421028.000    100301.593    0.75    SC
    END-POINT    1188188.999    1421028.000    100284.130    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-D802-9476394F8605}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    1186249.985    1417014.056    102405.701     1    PL
    END-POINT    1186249.985    1420994.663    102405.701     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    5.561
    UCI    {0001388C-0000-0000-280A-9722CC4E6205}
    ITEM-CODE    PPPCH209050M
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
    CUT-PIECE-LENGTH    3980.61
SUPPORT
    CO-ORDS    1186249.985    1420776.306    102405.701     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G5
    ITEM-DESCRIPTION    G5 Pipe Guide, 1" to 6"$Tag No: G5 $
    WEIGHT    0.747
    UCI    {00022303-0000-0000-DA37-B2A05F4FC804}
    NAME    G5_1-3-7001
    ERECTION-ITEM
SUPPORT
    CO-ORDS    1186249.985    1420776.306    102405.701     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1-1-A-1"
    ITEM-DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-1" $
    WEIGHT    3.907
    UCI    {00022303-0000-0000-3430-6F347B4E3D05}
    NAME    S1_1-3-2273
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    1186249.985    1417776.306    102405.701     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1-1-A-1"
    ITEM-DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-1" $
    WEIGHT    3.907
    UCI    {00022303-0000-0000-AA32-6F347B4E3D05}
    NAME    S1_1-3-2274
    FABRICATION-ITEM
WELD
    END-POINT    1186249.985    1420994.663    102405.701     1    
    END-POINT    1186249.985    1420994.663    102405.701     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-103
    UCI    {000138AA-0000-0000-8414-D00ACD4E1B05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-103
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    1186153.985    1421028.000    100767.175     2    BW
    END-POINT    1186319.085    1421028.000    100753.713     1    PL
    SKEY    RE**
    ITEM-CODE    PFNSG5092B08
    ITEM-DESCRIPTION    Swg Ecc, BW, PE, A234-WPB, XXS
    UCI    {00013885-0000-0000-0816-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
    FLAT-DIRECTION    DOWN
WELD
    END-POINT    1186319.085    1421028.000    100753.713     1    
    END-POINT    1186319.085    1421028.000    100753.713     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-206
    UCI    {000138AA-0000-0000-0518-69AD364FC704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-206
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1185899.985    1420623.188    101126.725    0.75    
    END-POINT    1185899.985    1420623.188    101228.325    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2090504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-7902-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.378
WELD
    END-POINT    1185899.985    1420623.188    101228.325    0.75    
    END-POINT    1185899.985    1420623.188    101228.325    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-022
    UCI    {000138AA-0000-0000-CC02-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-022
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    1185899.985    1420623.188    101228.325    0.75    SW
    END-POINT    1185899.985    1420623.188    101314.050    0.75    SC
    CENTRE-POINT    1185899.985    1420623.188    101272.775        
    SKEY    VT**
    ITEM-CODE    PVVGABB51001
    ITEM-DESCRIPTION    Gate Valve,CL1500,FSWxFNPT,Tr.5,A105N, Tag No:GX-15V0-0501
    FLOW    0
    UCI    {00013885-0000-0000-7B02-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
MISC-COMPONENT
    END-POINT    1185899.985    1420623.188    101314.050    0.75    SC
    END-POINT    1185899.985    1420623.188    101358.500    0.75    BW
    CENTRE-POINT    1185899.985    1420623.188    101314.050        
    SKEY    PL
    ITEM-CODE    PFTPG1000H01
    ITEM-DESCRIPTION    Plug H/Hd, MNPT, A105N
    FLOW    0
    UCI    {00013885-0000-0000-7D02-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
TEE
    END-POINT    1185899.985    1420623.188    101066.400    0.75    SW
    END-POINT    1185899.985    1420623.188    101126.725    0.75    SW
    CENTRE-POINT    1185899.985    1420623.188    101096.562        
    BRANCH1-POINT    1185899.985    1420653.350    101096.562    0.75    SW
    SKEY    TE**
    ITEM-CODE    PFCTG1700J01
    ITEM-DESCRIPTION    Te, SW, A105N, CL9000
    UCI    {00013885-0000-0000-7F02-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1185899.985    1420623.188    101126.725    0.75    
    END-POINT    1185899.985    1420623.188    101126.725    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-020
    UCI    {000138AA-0000-0000-DA02-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-020
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
INSTRUMENT
    END-POINT    1185899.985    1420623.187    101358.500    0.75    BW
    END-POINT    1185899.985    1420623.187    101371.835    0.75    
    CENTRE-POINT    1185899.985    1420623.188    101358.500        
    SKEY    II**
    ITEM-CODE    205-PG-21087
    FLOW    0
    UCI    {000138B6-0000-0000-8002-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    205$PG$21087
CAP
    END-POINT    1185899.985    1420623.187    100774.300    0.75    SC
    END-POINT    1185899.985    1420623.187    100756.838    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-8302-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE-FIXED
    END-POINT    1185899.985    1420623.188    101066.400    0.75    
    END-POINT    1185899.985    1420623.188    100964.800    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2090504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-8502-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.378
WELD
    END-POINT    1185899.985    1420623.188    101066.400    0.75    
    END-POINT    1185899.985    1420623.188    101066.400    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-018
    UCI    {000138AA-0000-0000-E602-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-018
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    1185899.985    1420623.188    100964.800    0.75    SW
    END-POINT    1185899.985    1420623.188    100875.900    0.75    SW
    CENTRE-POINT    1185899.985    1420623.188    100920.350        
    SKEY    VV**
    ITEM-CODE    PVVGAAB51001
    ITEM-DESCRIPTION    Gate Valve,CL1500,SW,Tr.5,A105N, Tag No:GS-15V0-0501
    FLOW    0
    UCI    {00013885-0000-0000-8702-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
WELD
    END-POINT    1185899.985    1420623.188    100964.800    0.75    
    END-POINT    1185899.985    1420623.188    100964.800    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-019
    UCI    {000138AA-0000-0000-EB02-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-019
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1185899.985    1420623.188    100875.900    0.75    
    END-POINT    1185899.985    1420623.188    100774.300    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-8902-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.378
WELD
    END-POINT    1185899.985    1420623.188    100875.900    0.75    
    END-POINT    1185899.985    1420623.188    100875.900    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-017
    UCI    {000138AA-0000-0000-F002-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-017
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1185899.985    1420945.450    101096.562    0.75    
    END-POINT    1185899.985    1420843.850    101096.562    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2090504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-8C02-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.378
VALVE
    END-POINT    1185899.985    1420843.850    101096.562    0.75    SW
    END-POINT    1185899.985    1420754.950    101096.562    0.75    SW
    CENTRE-POINT    1185899.985    1420799.400    101096.562        
    SKEY    VV**
    ITEM-CODE    PVVGAAB51001
    ITEM-DESCRIPTION    Gate Valve,CL1500,SW,Tr.5,A105N, Tag No:GS-15V0-0501
    FLOW    0
    UCI    {00013885-0000-0000-8E02-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
WELD
    END-POINT    1185899.985    1420843.850    101096.562    0.75    
    END-POINT    1185899.985    1420843.850    101096.562    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-016
    UCI    {000138AA-0000-0000-F902-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-016
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    1185899.985    1421028.000    101096.562        
    BRANCH1-POINT    1185899.985    1420945.450    101096.562    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1701P7Z
    ITEM-DESCRIPTION    Sockolet, A105N, CL9000
    UCI    {00013885-0000-0000-9202-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.374
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-012
    UCI    {000138AA-0000-0000-0503-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-012
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1185899.985    1420945.450    101096.562    0.75    
    END-POINT    1185899.985    1420945.450    101096.562    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-013
    UCI    {000138AA-0000-0000-ED12-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-013
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1185899.985    1421028.000    101246.562     4    
    END-POINT    1185899.985    1421028.000    101396.562     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    33.772
    UCI    {0001388C-0000-0000-9402-A0A87B4ED306}
    ITEM-CODE    PPPCH20D0103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Sch 160, BBE
    SPOOL-IDENTIFIER    C05-05-BFW-LIM-21113-002-B
    CUT-PIECE-LENGTH    450.00
PIPE
    END-POINT    1185899.985    1421028.000    100946.562     4    
    END-POINT    1185899.985    1421028.000    101096.562     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    33.772
    UCI    {0001388C-0000-0000-9402-A0A87B4ED306}
    ITEM-CODE    PPPCH20D0103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Sch 160, BBE
    CUT-PIECE-LENGTH    450.00
PIPE
    END-POINT    1185899.985    1421028.000    101096.562     4    
    END-POINT    1185899.985    1421028.000    101246.562     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    33.772
    UCI    {0001388C-0000-0000-9402-A0A87B4ED306}
    ITEM-CODE    PPPCH20D0103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Sch 160, BBE
    CUT-PIECE-LENGTH    450.00
WELD
    END-POINT    1185899.985    1421028.000    100946.562     4    
    END-POINT    1185899.985    1421028.000    100946.562     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-002
    UCI    {000138AA-0000-0000-0903-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-002
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1185899.985    1421028.000    101396.562     4    
    END-POINT    1185899.985    1421028.000    101396.562     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-001
    UCI    {000138AA-0000-0000-0803-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-001
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    1185899.985    1421028.000    100946.562     4    BW
    END-POINT    1186052.385    1421028.000    100794.162     4    BW
    CENTRE-POINT    1185899.985    1421028.000    100794.162        
    SKEY    EL**
    ITEM-CODE    PFQNG50D160H
    ITEM-DESCRIPTION    El - 90, LR, BW, A234-WPB, Sch 160
    UCI    {00013885-0000-0000-9802-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1186052.385    1421028.000    100794.162     4    
    END-POINT    1186052.385    1421028.000    100794.162     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-010
    UCI    {000138AA-0000-0000-0F03-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-010
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-CONCENTRIC
    END-POINT    1185899.985    1421028.000    101396.562     4    BW
    END-POINT    1185899.985    1421028.000    101498.162     2    BW
    SKEY    RC**
    ITEM-CODE    PFCRG50D1E2B
    ITEM-DESCRIPTION    RedCon, BW, A234-WPB, Sch 160
    UCI    {00013885-0000-0000-9F02-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1185899.985    1421028.000    101498.162     2    
    END-POINT    1185899.985    1421028.000    101498.162     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-011
    UCI    {000138AA-0000-0000-1703-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-011
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    1186052.385    1421028.000    100794.162     4    BW
    END-POINT    1186153.985    1421028.000    100767.175     2    BW
    SKEY    RE**
    ITEM-CODE    PFCSG50D1E2B
    ITEM-DESCRIPTION    RedEcc, BW, A234-WPB, Sch 160
    UCI    {00013885-0000-0000-A302-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
    FLAT-DIRECTION    DOWN
WELD
    END-POINT    1186153.985    1421028.000    100767.175     2    
    END-POINT    1186153.985    1421028.000    100767.175     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-009
    UCI    {000138AA-0000-0000-1216-A0A87B4ED306}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-009
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-CONCENTRIC
    END-POINT    1185899.985    1421028.000    101498.162     2    BW
    END-POINT    1185899.985    1421028.000    101663.262     1    PL
    SKEY    RC**
    ITEM-CODE    PFNRG5092B08
    ITEM-DESCRIPTION    Swg Con, BW, PE, A234-WPB, XXS
    UCI    {00013885-0000-0000-AE02-A0A87B4ED306}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1185899.985    1421028.000    101663.262     1    
    END-POINT    1185899.985    1421028.000    101663.262     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-104
    UCI    {000138AA-0000-0000-9A14-D00ACD4E1B05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-104
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    1188812.608    1420878.000    101111.825     1    
    END-POINT    1188812.608    1420878.000    101075.312     1    
    SKEY    FLSW
    ITEM-CODE    PFFSG1R90U02
    ITEM-DESCRIPTION    SW Flg, A105N, CL1500, XXS, RTJ, B16.5
    UCI    {00013885-0000-0000-0B2A-B2A05F4FC804}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
OLET
    CENTRE-POINT    1185899.985    1421028.000    101246.562        
    BRANCH1-POINT    1185787.273    1421028.000    101246.562     2    
    SKEY    WTBW
    ITEM-CODE    PFLWG100232B
    ITEM-DESCRIPTION    Weldolet, A105N, Sch 160
    UCI    {00013885-0000-0000-5529-B2A05F4FC804}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-403
    UCI    {000138AA-0000-0000-6429-B2A05F4FC804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-403
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1185787.273    1421028.000    101246.562     2    
    END-POINT    1185787.273    1421028.000    101246.562     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-404
    UCI    {000138AA-0000-0000-6E29-B2A05F4FC804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-404
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1188812.608    1420878.000    101075.312     1    PL
    END-POINT    1188812.608    1420878.000    100787.050     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    5.561
    UCI    {0001388C-0000-0000-F929-B2A05F4FC804}
    ITEM-CODE    PPPCH209050M
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
    CUT-PIECE-LENGTH    288.26
SUPPORT
    CO-ORDS    1188812.608    1420878.000    100981.181     1
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    B14-A
    ITEM-DESCRIPTION    B14-A Support for PSV's Carbon Steel Lines Pipe Sizes 3/4" to 1 1/2"$Tag No: B14-A $
    WEIGHT    1.539
    UCI    {00022303-0000-0000-302A-B2A05F4FC804}
    NAME    B14_1-3-712
    ERECTION-ITEM
WELD
    END-POINT    1188812.608    1420878.000    101075.312     1    
    END-POINT    1188812.608    1420878.000    101075.312     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-405
    UCI    {000138AA-0000-0000-1B2A-B2A05F4FC804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-405
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    1186249.985    1420994.663    102405.701     1    SW
    END-POINT    1186216.648    1421028.000    102405.701     1    SW
    CENTRE-POINT    1186249.985    1421028.000    102405.701        
    SKEY    EL**
    ITEM-CODE    PFQNG1700102
    ITEM-DESCRIPTION    El - 90, SW, A105N, CL9000
    UCI    {00013885-0000-0000-2814-D00ACD4E1B05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
COUPLING
    END-POINT    1185899.985    1421028.000    101663.262     1    SW
    END-POINT    1185899.985    1421028.000    101679.137     1    SW
    SKEY    COSW
    ITEM-CODE    PFCDG1700502
    ITEM-DESCRIPTION    Cplg, SW, A105N, CL9000
    UCI    {00013885-0000-0000-9214-D00ACD4E1B05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1185899.985    1421028.000    101679.137     1    
    END-POINT    1185899.985    1421028.000    101679.137     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    FW-202
    UCI    {000138AA-0000-0000-BC14-D00ACD4E1B05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-FW-202
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1185899.985    1421028.000    101679.137     1    PL
    END-POINT    1185899.985    1421028.000    102372.363     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    5.561
    UCI    {0001388C-0000-0000-A014-D00ACD4E1B05}
    ITEM-CODE    PPPCH209050M
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
    CUT-PIECE-LENGTH    693.23
WELD
    END-POINT    1185899.985    1421028.000    102372.363     1    
    END-POINT    1185899.985    1421028.000    102372.363     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-107
    UCI    {000138AA-0000-0000-BE14-D00ACD4E1B05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-107
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    1185899.985    1421028.000    102372.363     1    SW
    END-POINT    1185933.323    1421028.000    102405.701     1    SW
    CENTRE-POINT    1185899.985    1421028.000    102405.701        
    SKEY    EL**
    ITEM-CODE    PFQNG1700102
    ITEM-DESCRIPTION    El - 90, SW, A105N, CL9000
    UCI    {00013885-0000-0000-AD14-D00ACD4E1B05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1185933.323    1421028.000    102405.701     1    
    END-POINT    1185933.323    1421028.000    102405.701     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-202
    UCI    {000138AA-0000-0000-6602-69AD364FC704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-202
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    1186216.648    1416980.718    102405.701     1    SW
    END-POINT    1186249.985    1417014.056    102405.701     1    SW
    CENTRE-POINT    1186249.985    1416980.718    102405.701        
    SKEY    EL**
    ITEM-CODE    PFQNG1700102
    ITEM-DESCRIPTION    El - 90, SW, A105N, CL9000
    UCI    {00013885-0000-0000-FE03-D00ACD4E1B05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1186249.985    1417014.056    102405.701     1    
    END-POINT    1186249.985    1417014.056    102405.701     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-105
    UCI    {000138AA-0000-0000-5504-D00ACD4E1B05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-105
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1185899.985    1420653.350    101096.562    0.75    
    END-POINT    1185899.985    1420754.950    101096.562    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2090504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-018D-E52A394FC905}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    FABRICATION-ITEM
    WEIGHT    0.378
WELD
    END-POINT    1185899.985    1420754.950    101096.562    0.75    
    END-POINT    1185899.985    1420754.950    101096.562    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-309
    UCI    {000138AA-0000-0000-568D-E52A394FC905}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-309
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1185899.985    1420653.350    101096.562    0.75    
    END-POINT    1185899.985    1420653.350    101096.562    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-308
    UCI    {000138AA-0000-0000-098D-E52A394FC905}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-SW-308
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
GASKET
    END-POINT    1188956.783    1420878.000    101256.000     1    
    END-POINT    1188953.608    1420878.000    101256.000     1    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-2610-F99F604F3D05}
    ITEM-CODE    PGGC2ER00A02
    ITEM-DESCRIPTION    Gasket, OvlRng, CS, CL1500, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
FLANGE
    CONTINUATION
    END-POINT    1188956.783    1420878.000    101256.000     1    
    END-POINT    1188993.295    1420878.000    101256.000     1    
    SKEY    FLSW
    ITEM-CODE    PFFSG1R90U02
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-8C3D-3694954E2804}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-21081
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    1181833.338    1416980.718    102405.701     1    PL
    END-POINT    1186216.648    1416980.718    102405.701     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    BFW-205-21113
    PIPING-SPEC    EVA
    WEIGHT    5.561
    UCI    {0001388C-0000-0000-C40C-6F347B4E3D05}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPCH209050M
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
    CONTINUATION
WELD
    END-POINT    1186216.648    1416980.718    102405.701     1    
    END-POINT    1186216.648    1416980.718    102405.701     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    FW-101
    UCI    {000138AA-0000-0000-5704-D00ACD4E1B05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BFW-LIM-21113-002-FW-101
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
FLOW-ARROW
    CO-ORDS    1187245.311    1421028.000    100753.713
    FLOW 2
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    1186249.985    1419004.359    102405.701
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    1185899.985    1421028.000    101321.562
    FLOW 2
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    1185899.985    1421028.000    102025.750
    FLOW 2
    SKEY FLOW
END-POSITION-CLOSED
    CO-ORDS    1185628.523    1421028.000    101246.562
END-CONNECTION-PIPELINE
    CO-ORDS    1188993.295    1420878.000    101256.000
    CONNECTION-REFERENCE  SUR2-C05-05-BFW-LIM-21081-001
END-POSITION-CLOSED
    CO-ORDS    1188188.999    1421028.000    100284.130
END-POSITION-CLOSED
    CO-ORDS    1185899.985    1420623.187    101371.835
END-POSITION-CLOSED
    CO-ORDS    1185899.985    1420623.187    100756.838
END-CONNECTION-PIPELINE
    CO-ORDS    1181833.338    1416980.718    102405.701
    CONNECTION-REFERENCE  SUR2-C05-05-BFW-LIM-21113-001
MATERIALS
ITEM-CODE    PPPCH209050M
    DESCRIPTION    Pipe, A106-B, SMLS, XXS, PE
ITEM-CODE    S1-1-A-1"
    DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-1" $
ITEM-CODE    G5
    DESCRIPTION    G5 Pipe Guide, 1" to 6"$Tag No: G5 $
ITEM-CODE    B1-C-2
    DESCRIPTION    B1-C Cantilever Support, Welded Attachment$Tag No: B1-C-2 $
ITEM-CODE    PFFWG1RD0405
    DESCRIPTION    WN Flg, A105N, CL1500, Sch 160, RTJ, B16.5
ITEM-CODE    FBBS5D00002D
    DESCRIPTION    StdBlt, A193B7/2H -  5.75 in. Length
ITEM-CODE    PGGC2ER00A04
    DESCRIPTION    Gasket, OvlRng, CS, CL1500, B16.20, B16.5
ITEM-CODE    PFCDG1700502
    DESCRIPTION    Cplg, SW, A105N, CL9000
ITEM-CODE    PFQNG1700102
    DESCRIPTION    El - 90, SW, A105N, CL9000
ITEM-CODE    FBBS5D00002E
    DESCRIPTION    StdBlt, A193B7/2H -  5 in. Length
ITEM-CODE    PGGC2ER00A02
    DESCRIPTION    Gasket, OvlRng, CS, CL1500, B16.20, B16.5
ITEM-CODE    PFCVG1700M0D
    DESCRIPTION    RedTe, SW, A105N, CL9000
ITEM-CODE    G3-A-1"
    DESCRIPTION    G3-A U-Bolt Guide, 3/4" to 24"$Tag No: G3-A-1" $
ITEM-CODE    PFNPH2090504
    DESCRIPTION    Nipple, PBE, A106-B, XXS, 4in
ITEM-CODE    PVVGAAB51001
    DESCRIPTION    Gate Valve,CL1500,SW,Tr.5,A105N, Tag No:GS-15V0-0501
ITEM-CODE    PVVLAAB51Y01
    DESCRIPTION    Globe Valve,CL1500,Y-Pattern,SW,Tr.5,A105N, Tag No:TS-15V1-0501
ITEM-CODE    PFNPH2091N04
    DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
ITEM-CODE    PFCCG1W00801
    DESCRIPTION    Cap, FNPT, A105N, CL6000
ITEM-CODE    PFNSG5092B08
    DESCRIPTION    Swg Ecc, BW, PE, A234-WPB, XXS
ITEM-CODE    PVVGABB51001
    DESCRIPTION    Gate Valve,CL1500,FSWxFNPT,Tr.5,A105N, Tag No:GX-15V0-0501
ITEM-CODE    PFTPG1000H01
    DESCRIPTION    Plug H/Hd, MNPT, A105N
ITEM-CODE    PFCTG1700J01
    DESCRIPTION    Te, SW, A105N, CL9000
ITEM-CODE    PFLSG1701P7Z
    DESCRIPTION    Sockolet, A105N, CL9000
ITEM-CODE    PPPCH20D0103
    DESCRIPTION    Pipe, A106-B, SMLS, Sch 160, BBE
ITEM-CODE    PFQNG50D160H
    DESCRIPTION    El - 90, LR, BW, A234-WPB, Sch 160
ITEM-CODE    PFCRG50D1E2B
    DESCRIPTION    RedCon, BW, A234-WPB, Sch 160
ITEM-CODE    PFCSG50D1E2B
    DESCRIPTION    RedEcc, BW, A234-WPB, Sch 160
ITEM-CODE    PFNRG5092B08
    DESCRIPTION    Swg Con, BW, PE, A234-WPB, XXS
ITEM-CODE    PFFSG1R90U02
    DESCRIPTION    SW Flg, A105N, CL1500, XXS, RTJ, B16.5
ITEM-CODE    PFLWG100232B
    DESCRIPTION    Weldolet, A105N, Sch 160
ITEM-CODE    B14-A
    DESCRIPTION    B14-A Support for PSV's Carbon Steel Lines Pipe Sizes 3/4" to 1 1/2"$Tag No: B14-A $
