ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070443-03
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0443-03
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  6''P-107-0443-E-C1
    ATTRIBUTE5  6
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  6"P-107-0497-E-A1A
    ATTRIBUTE13  17
    ATTRIBUTE14  72
    ATTRIBUTE15  725
    ATTRIBUTE16  150
    ATTRIBUTE17  1087.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  P-501C Suction
    ATTRIBUTE99 END
FLANGE
    END-POINT -19728.397          17843.971          1236.937  6  FL
    END-POINT -19723.527          17843.971          1236.937  6  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          79.360
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HP                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19728.522          17843.971          1236.937  6
    END-POINT -19728.397          17843.971          1236.937  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IS                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19728.522          17843.971          1236.937 
    BOLT-DIA           1.000
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IT                 
END-POSITION-OPEN 
    CO-ORDS -19723.527          17843.971          1236.937 
FLANGE-BLIND
    END-POINT -19728.522          17843.971          1236.937  6  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD6
    WEIGHT          85.980
    SPOOL-IDENTIFIER 1070443-03-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IR                 
    PIPING-SPEC E-C1
    TAP-CONNECTION
    CO-ORDS -19730.652          17843.971          1236.937  6
    END-POINT -19730.652          17843.971          1236.937  6  PL
    SKEY FLBL
MESSAGE
    CO-ORDS -19728.522  17843.971   1236.937 
    TEXT BLEED INSTALLED FOR LINE CHECKOUT$IF P-501C IS INSTALLED POST TA
    UNDIMENSIONED
WELD
    END-POINT -19730.652          17843.971          1236.937  6
    END-POINT -19730.652          17843.971          1236.937  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IW                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19730.652          17843.971          1236.937 
    BRANCH1-POINT -19731.652          17843.971          1236.937  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IU                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19731.652          17843.971          1236.937  0.75  SW MALE 
    END-POINT -19731.652          17843.971          1236.937  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IY                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19731.652          17843.971          1236.937  0.75  SW MALE 
    END-POINT -19734.652          17843.971          1236.937  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IX                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19734.652          17843.971          1236.937  0.75  SW FEMALE 
    END-POINT -19734.652          17843.971          1236.937  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2J0                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19734.652          17843.971          1236.937  0.75  SW FEMALE 
    END-POINT -19736.974          17843.971          1236.937  0.75  SC FEMALE 
    CENTRE-POINT  -19735.904          17843.971          1236.937 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IZ                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS -19735.904  17843.971   1236.937 
    TEXT HW-UP
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19736.974          17843.971          1236.937  0.75  SC MALE 
    END-POINT -19736.974          17843.971          1236.937  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2J4                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
MISC-COMPONENT
    END-POINT -19736.974          17843.971          1236.937  0.75  SC MALE 
    END-POINT -19738.724          17843.971          1236.937  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2J3                 
    PIPING-SPEC E-C1
    END-POSITION-CLOSED 
    CO-ORDS -19738.724          17843.971          1236.937 
MATERIALS
ITEM-CODE GAS6
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT6
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE FLGBLD6
    CATALOG ASME B16.5
    DESCRIPTION BLIND FLANGE, 600LB, RF, STL, A105
    RATING 600LB
ITEM-CODE SOL6X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION FLAT SOCKOLET, 6000LB, STL, A105
    RATING 6000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 160, STL, A106-B PBE, 3" LG
    RATING 160
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE PLG3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
