ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070444-01
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0444-01
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  4''P-107-0444-E-C1
    ATTRIBUTE5  4
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  P-501C Discharge
    ATTRIBUTE13  648
    ATTRIBUTE14  76
    ATTRIBUTE15  725
    ATTRIBUTE16  150
    ATTRIBUTE17  1087.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  4"P-107-0442-E-C1
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT -19726.527          17927.966          1333.635  0.75  SC MALE 
    END-POINT -19726.527          17927.966          1335.385  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZI                 
    PIPING-SPEC E-C1
MESSAGE
    CO-ORDS -19726.527  17927.966   1334.255 
    TEXT H.P.V.
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19726.527          17927.966          1333.635  0.75  SC MALE 
    END-POINT -19726.527          17927.966          1333.635  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZJ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
VALVE
    END-POINT -19726.527          17927.966          1331.313  0.75  SW FEMALE 
    END-POINT -19726.527          17927.966          1333.635  0.75  SC FEMALE 
    CENTRE-POINT  -19726.527          17927.966          1332.565 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZE                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS -19726.527  17927.966   1332.565 
    TEXT HW-NORTH
    UNDIMENSIONED
SOCKET-WELD
    END-POINT -19726.527          17927.966          1331.313  0.75  SW FEMALE 
    END-POINT -19726.527          17927.966          1331.313  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZF                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19726.527          17927.966          1328.313  0.75  SW MALE 
    END-POINT -19726.527          17927.966          1331.313  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZC                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19726.527          17927.966          1328.313  0.75  SW MALE 
    END-POINT -19726.527          17927.966          1328.313  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZD                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19726.527          17927.966          1327.313 
    BRANCH1-POINT -19726.527          17927.966          1328.313  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2Z9                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19726.527          17927.966          1327.313  4
    END-POINT -19726.527          17927.966          1327.313  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZB                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19726.527          17933.966          1325.063  4  BW
    END-POINT -19726.527          17822.509          1325.063  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    SPOOL-IDENTIFIER 1070444-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2DT                 
    PIPING-SPEC E-C1
    TAP-CONNECTION 
    CO-ORDS -19726.527          17927.966          1327.313  4
FLOW-ARROW
    CO-ORDS -19726.527  17880.462   1325.063 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19726.527          17933.966          1325.063  4
    END-POINT -19726.527          17933.966          1325.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2DU                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19726.527          17822.509          1325.063  4
    END-POINT -19726.527          17822.509          1325.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2I6                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19726.527          17818.259          1325.063  4  FL
    END-POINT -19726.527          17822.509          1325.063  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2I5                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19726.527          17818.134          1325.063  4
    END-POINT -19726.527          17818.259          1325.063  4
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2I7                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
VALVE
    END-POINT -19726.527          17801.134          1325.063  4  FL
    END-POINT -19726.527          17818.134          1325.063  4  FL
    CENTRE-POINT  -19726.527          17809.634          1325.063 
    SKEY VTFL
    CONTINUATION 
    WEIGHT         260.740
    SPOOL-IDENTIFIER 1070444-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2DI                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  WEST
END-CONNECTION-PIPELINE 
    CO-ORDS -19726.527          17801.134          1325.063 
    PIPELINE-REFERENCE 1070444-02
ELBOW
    END-POINT -19726.527          17939.966          1319.063  4  BW
    END-POINT -19726.527          17933.966          1325.063  4  BW
    CENTRE-POINT  -19726.527          17939.966          1325.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT          11.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2DO                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19726.527          17939.966          1319.063  4
    END-POINT -19726.527          17939.966          1319.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2I4                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19726.527          17939.966          1319.063  4  BW
    END-POINT -19726.527          17939.966          1244.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1YM                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19726.527          17939.966          1244.000  4
    END-POINT -19726.527          17939.966          1244.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1YO                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19732.527          17939.966          1238.000  4  BW
    END-POINT -19726.527          17939.966          1244.000  4  BW
    CENTRE-POINT  -19726.527          17939.966          1238.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT          11.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1XY                 
    PIPING-SPEC E-C1
    ANGLE 9000
SUPPORT
    CO-ORDS -19726.527  17939.966   1238.000  4
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2E1                 
WELD
    END-POINT -19732.527          17939.966          1238.000  4
    END-POINT -19732.527          17939.966          1238.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1Y0                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19736.777          17939.966          1238.000  4  FL
    END-POINT -19732.527          17939.966          1238.000  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_II                  
    PIPING-SPEC E-C1
GASKET
    END-POINT -19736.777          17939.966          1238.000  4
    END-POINT -19736.902          17939.966          1238.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_IJ                  
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19736.902          17939.966          1238.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_IK                  
VALVE
    END-POINT -19753.902          17939.966          1238.000  4  FL
    END-POINT -19736.902          17939.966          1238.000  4  FL
    CENTRE-POINT  -19745.402          17939.966          1238.000 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         260.740
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_6X                  
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT -19753.902          17939.966          1238.000  4
    END-POINT -19754.027          17939.966          1238.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_6Y                  
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19754.027          17939.966          1238.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_6Z                  
VALVE
    END-POINT -19771.027          17939.966          1238.000  4  FL
    END-POINT -19754.027          17939.966          1238.000  4  FL
    CENTRE-POINT  -19762.527          17939.966          1238.000 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         260.740
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_6U                  
    PIPING-SPEC E-C1
GASKET
    END-POINT -19771.027          17939.966          1238.000  4
    END-POINT -19771.152          17939.966          1238.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_6V                  
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19771.152          17939.966          1238.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_6W                  
FLANGE
    END-POINT -19771.152          17939.966          1238.000  4  FL
    END-POINT -19775.402          17939.966          1238.000  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    SPOOL-IDENTIFIER 1070444-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_6S                  
    PIPING-SPEC E-C1
WELD
    END-POINT -19775.402          17939.966          1238.000  4
    END-POINT -19775.402          17939.966          1238.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1YQ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19775.402          17939.966          1238.000  4  BW
    END-POINT -19790.976          17939.966          1238.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1YP                 
    PIPING-SPEC E-C1
    TAP-CONNECTION 
    CO-ORDS -19784.976          17939.966          1240.250  4
    TAP-CONNECTION 
    CO-ORDS -19784.976          17939.966          1235.750  4
WELD
    END-POINT -19790.976          17939.966          1238.000  4
    END-POINT -19790.976          17939.966          1238.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1YR                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19784.976          17939.966          1240.250  4
    END-POINT -19784.976          17939.966          1240.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2JE                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19784.976          17939.966          1235.750  4
    END-POINT -19784.976          17939.966          1235.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2JF                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19784.976          17939.966          1235.750 
    BRANCH1-POINT -19784.976          17939.966          1234.750  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1X6                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19784.976          17939.966          1234.750  0.75  SW FEMALE 
    END-POINT -19784.976          17939.966          1234.750  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1XF                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19784.976          17939.966          1234.750  0.75  SW MALE 
    END-POINT -19784.976          17939.966          1231.750  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_11V                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19784.976          17939.966          1231.750  0.75  SW MALE 
    END-POINT -19784.976          17939.966          1231.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1MA                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19784.976          17939.966          1231.750  0.75  SW FEMALE 
    END-POINT -19784.976          17939.966          1229.427  0.75  SC FEMALE 
    CENTRE-POINT  -19784.976          17939.966          1230.497 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_11X                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS -19784.976  17939.966   1230.497 
    TEXT HW-NORTH
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19784.976          17939.966          1229.427  0.75  SC FEMALE 
    END-POINT -19784.976          17939.966          1229.427  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1E8                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
MISC-COMPONENT
    END-POINT -19784.976          17939.966          1229.427  0.75  SC MALE 
    END-POINT -19784.976          17939.966          1227.677  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_121                 
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19784.976          17939.966          1240.250 
    BRANCH1-POINT -19784.976          17939.966          1241.250  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1X4                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19784.976          17939.966          1241.250  0.75  SW MALE 
    END-POINT -19784.976          17939.966          1241.250  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1XE                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19784.976          17939.966          1241.250  0.75  SW MALE 
    END-POINT -19784.976          17939.966          1244.250  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_126                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19784.976          17939.966          1244.250  0.75  SW FEMALE 
    END-POINT -19784.976          17939.966          1244.250  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_129                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19784.976          17939.966          1244.250  0.75  SW FEMALE 
    END-POINT -19784.976          17939.966          1247.192  0.75  SC FEMALE 
    CENTRE-POINT  -19784.976          17939.966          1245.502 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_128                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  NORTH
MESSAGE-ROUND
    CO-ORDS -19784.976  17939.966   1247.192 
    UNDIMENSIONED
    TEXT 5PI$892
MESSAGE
    CO-ORDS -19784.976  17939.966   1245.502 
    TEXT HW-NORTH
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS -19784.976          17939.966          1247.192 
ELBOW
    END-POINT -19796.976          17933.966          1238.000  4  BW
    END-POINT -19790.976          17939.966          1238.000  4  BW
    CENTRE-POINT  -19796.976          17939.966          1238.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT          11.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1WS                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19796.976          17933.966          1238.000  4
    END-POINT -19796.976          17933.966          1238.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1WY                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19796.976          17933.966          1238.000  4  BW
    END-POINT -19796.976          17903.721          1238.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1WX                 
    PIPING-SPEC E-C1
SUPPORT
    CO-ORDS -19796.976  17930.966   1238.000  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPST-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2E5                 
FLOW-ARROW
    CO-ORDS -19796.976  17922.132   1238.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT -19796.976          17903.721          1238.000  4
    END-POINT -19796.976          17903.721          1238.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1WZ                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
REDUCER-CONCENTRIC
    END-POINT -19796.976          17903.721          1238.000  4  BW
    END-POINT -19796.976          17899.721          1238.000  3  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X3
    WEIGHT           5.350
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1WQ                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19796.976          17899.721          1238.000  3
    END-POINT -19796.976          17899.721          1238.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1WR                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19796.976          17896.221          1238.000  3  FL
    END-POINT -19796.976          17899.721          1238.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          12.120
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_11J                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19796.976          17896.221          1238.000  3
    END-POINT -19796.976          17896.096          1238.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2I1                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19796.976          17896.221          1238.000 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2I2                 
NOZZLE
    CO-ORDS -19796.976          17896.096          1238.000  3  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS -19796.976          17896.096          1238.000 
    TEXT P-501C$NOZZLE TAG P-501C-DISCHARGE$RATING 600LB$FACING RF
MATERIALS
ITEM-CODE PLG3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 160, STL, A106-B PBE, 3" LG
    RATING 160
ITEM-CODE SOL4X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION SOCKOLET, 6000LB, STL, A105
    RATING 6000LB
ITEM-CODE PIP4
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE FLGWNK4
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE 90LLR4
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE SUPEB-4
    DESCRIPTION ADJUSTABLE BASE SUPPORT BS1-26, SEE DETAIL PS0004
ITEM-CODE GAS4
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT4
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE VALVGAT4
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 600LB, RF, STL, F6/STEL SEATS
    RATING 600LB
ITEM-CODE VALVCHK4
    CATALOG CRANE
    DESCRIPTION CHECK VALVE, 600LB, RF, STL, F6/STEL SEAT
    RATING 600LB
ITEM-CODE SUPST-4
    DESCRIPTION ADJUSTABLE BASE SUPPORT BS2-24, SEE DETAIL PS0005
ITEM-CODE REDCON4X3
    CATALOG ASME B16.9-1993
    DESCRIPTION CONCENTRIC REDUCER, SCH XS/160, STL, A234 WPB
    RATING XS
ITEM-CODE FLGWNK3
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE GAS3
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT3
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
