ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070497-02
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0497-02
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  6''P-107-0497-E-A1A
    ATTRIBUTE5  6
    ATTRIBUTE6  P
    ATTRIBUTE7  E-A1A
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  D-501
    ATTRIBUTE13  17
    ATTRIBUTE14  72
    ATTRIBUTE15  50
    ATTRIBUTE16  150
    ATTRIBUTE17  75
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  6"P-107-0441-E-C1
    ATTRIBUTE99 END
VALVE
    END-POINT -19714.427          17410.375          1275.092  4  FL
    END-POINT -19714.427          17410.375          1258.092  4  FL
    CENTRE-POINT  -19714.427          17410.375          1266.592 
    SKEY VTFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT         260.740
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1Y                  
    PIPING-SPEC E-C1
MESSAGE
    CO-ORDS -19714.427  17410.375   1275.092 
    TEXT TP-5 <INSERT TIE-IN SYMBOL>
    UNDIMENSIONED
GASKET
    END-POINT -19714.427          17410.375          1275.217  4
    END-POINT -19714.427          17410.375          1275.092  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_35                  
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19714.427          17410.375          1275.217 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_36                  
END-POSITION-OPEN 
    CO-ORDS -19714.427          17410.375          1258.092 
FLANGE
    END-POINT -19714.427          17410.375          1275.217  4  FL
    END-POINT -19714.427          17410.375          1279.467  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    SPOOL-IDENTIFIER 1070497-02-4   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_34                  
    PIPING-SPEC E-C1
WELD
    END-POINT -19714.427          17410.375          1279.467  4
    END-POINT -19714.427          17410.375          1279.467  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_M6                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
REDUCER-CONCENTRIC
    END-POINT -19714.427          17410.375          1284.967  6  BW
    END-POINT -19714.427          17410.375          1279.467  4  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON6X4
    WEIGHT           8.680
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_LX                  
    PIPING-SPEC E-A1A
WELD
    END-POINT -19714.427          17410.375          1284.967  6
    END-POINT -19714.427          17410.375          1284.967  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_M5                  
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19714.427          17410.375          1317.125  6  BW
    END-POINT -19714.427          17410.375          1284.967  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_M3                  
    PIPING-SPEC E-A1A
FLOW-ARROW
    CO-ORDS -19714.427  17410.375   1303.677 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19714.427          17410.375          1317.125  6
    END-POINT -19714.427          17410.375          1317.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_M4                  
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
ELBOW
    END-POINT -19714.427          17410.375          1317.125  6  BW
    END-POINT -19714.427          17419.375          1326.125  6  BW
    CENTRE-POINT  -19714.427          17410.375          1326.125 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          22.000
    SPOOL-IDENTIFIER 1070497-02-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_7T                  
    PIPING-SPEC E-A1A
    ANGLE 9000
WELD
    END-POINT -19714.427          17419.375          1326.125  6
    END-POINT -19714.427          17419.375          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_318                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19714.427          17452.851          1326.125  6  BW
    END-POINT -19714.427          17419.375          1326.125  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_316                 
    PIPING-SPEC E-A1A
WELD
    END-POINT -19714.427          17452.851          1326.125  6
    END-POINT -19714.427          17452.851          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3G9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
FLANGE
    END-POINT -19714.427          17456.351          1326.125  6  FL
    END-POINT -19714.427          17452.851          1326.125  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          24.030
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3G6                 
    PIPING-SPEC E-A1A
GASKET
    END-POINT -19714.427          17456.351          1326.125  6
    END-POINT -19714.427          17456.476          1326.125  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3G7                 
    PIPING-SPEC E-A1A
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -19714.427          17456.351          1326.125 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3G8                 
VALVE
    END-POINT -19714.427          17466.976          1326.125  6  FL
    END-POINT -19714.427          17456.476          1326.125  6  FL
    CENTRE-POINT  -19714.427          17461.726          1326.125 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT         168.600
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3G1                 
    PIPING-SPEC E-A1A
    SPINDLE-DIRECTION  WEST
MESSAGE
    CO-ORDS -19714.427  17461.726   1326.125 
    TEXT HW-WEST
    UNDIMENSIONED
GASKET
    END-POINT -19714.427          17466.976          1326.125  6
    END-POINT -19714.427          17467.101          1326.125  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3G2                 
    PIPING-SPEC E-A1A
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -19714.427          17467.101          1326.125 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3G3                 
FLANGE
    END-POINT -19714.427          17467.101          1326.125  6  FL
    END-POINT -19714.427          17470.601          1326.125  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          24.030
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FZ                 
    PIPING-SPEC E-A1A
WELD
    END-POINT -19714.427          17470.601          1326.125  6
    END-POINT -19714.427          17470.601          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3G0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
TEE
    END-POINT -19714.427          17470.601          1326.125  6  BW
    END-POINT -19714.427          17481.841          1326.125  6  BW
    CENTRE-POINT  -19714.427          17476.221          1326.125 
    BRANCH1-POINT -19720.047          17476.221          1326.125  6  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          29.560
    SPOOL-IDENTIFIER 1070497-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_HQ                  
    PIPING-SPEC E-A1A
    ANGLE 9000
WELD
    END-POINT -19714.427          17481.841          1326.125  6
    END-POINT -19714.427          17481.841          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FO                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
WELD
    END-POINT -19720.047          17476.221          1326.125  6
    END-POINT -19720.047          17476.221          1326.125  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2F9                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19818.772          17476.221          1326.125  6  BW
    END-POINT -19720.047          17476.221          1326.125  6  BW
    CONTINUATION 
    WEIGHT          18.970
    SPOOL-IDENTIFIER 1070497-01-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2F7                 
    PIPING-SPEC E-A1A
FLOW-ARROW
    CO-ORDS -19770.546  17476.221   1326.125 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS -19818.772          17476.221          1326.125 
    PIPELINE-REFERENCE 1070497-01
PIPE
    END-POINT -19714.427          17493.563          1326.125  6  BW
    END-POINT -19714.427          17481.841          1326.125  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FM                 
    PIPING-SPEC E-A1A
WELD
    END-POINT -19714.427          17493.563          1326.125  6
    END-POINT -19714.427          17493.563          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FN                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
TEE
    END-POINT -19714.427          17493.563          1326.125  6  BW
    END-POINT -19714.427          17504.803          1326.125  6  BW
    CENTRE-POINT  -19714.427          17499.183          1326.125 
    BRANCH1-POINT -19714.427          17499.183          1320.505  6  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          29.560
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FK                 
    PIPING-SPEC E-A1A
    ANGLE 9000
WELD
    END-POINT -19714.427          17504.803          1326.125  6
    END-POINT -19714.427          17504.803          1326.125  6
    SKEY WF
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GA                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
WELD
    END-POINT -19714.427          17499.183          1320.505  6
    END-POINT -19714.427          17499.183          1320.505  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FQ                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19714.527          17816.971          1326.125  6  BW
    END-POINT -19714.427          17504.803          1326.125  6  BW
    CONTINUATION 
    WEIGHT          18.970
    SPOOL-IDENTIFIER 1070497-04-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2G8                 
    PIPING-SPEC E-A1A
FLOW-ARROW
    CO-ORDS -19714.490  17701.661   1326.125 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS -19714.458  17602.134   1326.125  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2H1                 
SUPPORT
    CO-ORDS -19714.516  17782.134   1326.125  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2H3                 
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.527          17816.971          1326.125 
    PIPELINE-REFERENCE 1070497-04
PIPE
    END-POINT -19714.427          17499.183          1320.505  6  BW
    END-POINT -19714.427          17499.183          1279.394  6  BW
    CONTINUATION 
    WEIGHT          18.970
    SPOOL-IDENTIFIER 1070497-03-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FP                 
    PIPING-SPEC E-A1A
FLOW-ARROW
    CO-ORDS -19714.427  17499.183   1296.935 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.427          17499.183          1279.394 
    PIPELINE-REFERENCE 1070497-03
MATERIALS
ITEM-CODE GAS4
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT4
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE FLGWNK4
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF, STL,  STD BORE, A105
    RATING 600LB
    RATING STD
ITEM-CODE REDCON6X4
    CATALOG ASME B16.9-1993
    DESCRIPTION CONCENTRIC REDUCER, SCH STD, STL, A234 WPB
    RATING STD
ITEM-CODE PIP6
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH STD, SMLS STL, A106-B
    RATING STD
ITEM-CODE 90LLR6
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH STD, STL, A234 WPB
    RATING STD
ITEM-CODE FLGWNK6
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, STL, STD BORE, A105
    RATING 150LB
    RATING STD
ITEM-CODE GAS6
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 150LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 150LB
ITEM-CODE VALVGAT6
    CATALOG CRANE
    DESCRIPTION GATE VALVE 150# RF STL, F6/STEL SEATS$W/CHAIN OPERATOR 13'-6" CHAIN 14" HW
    RATING 150LB
ITEM-CODE TEESTR6X6
    CATALOG ASME B16.9-1993
    DESCRIPTION TEE, STD WT, STL, A234 WPB
    RATING STD
