ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070515-01
PIPING-SPEC E-A1A
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0515-01
    ATTRIBUTE2  B
    ATTRIBUTE3  107
    ATTRIBUTE4  2''FG-107-0515-E-A1A
    ATTRIBUTE5  2
    ATTRIBUTE6  FG
    ATTRIBUTE7  E-A1A
    ATTRIBUTE8  HC
    ATTRIBUTE9  1.5
    ATTRIBUTE10  -
    ATTRIBUTE12  3"FG-107-0480-E-A1A
    ATTRIBUTE13  65
    ATTRIBUTE14  100
    ATTRIBUTE15  125
    ATTRIBUTE16  150
    ATTRIBUTE17  187.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-17A01-049
    ATTRIBUTE23  BL-2
    ATTRIBUTE25  2D
    ATTRIBUTE26  5 PSV-885B INLET
    ATTRIBUTE99 END
PIPE
    END-POINT -18966.559          16677.682          1241.750  3  BW
    END-POINT -18966.559          16686.682          1241.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    SPOOL-IDENTIFIER 1070515-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_O3                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -18966.559          16677.682          1241.750  3
    END-POINT -18966.559          16677.682          1241.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_O2                  
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -18966.559          16686.682          1241.750  3
    END-POINT -18966.559          16686.682          1241.750  3
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QK                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
TEE
    END-POINT -18966.559          16693.443          1241.750  3  BW
    END-POINT -18966.559          16686.683          1241.750  3  BW
    CENTRE-POINT  -18966.559          16690.063          1241.750 
    BRANCH1-POINT -18963.179          16690.063          1241.750  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           6.760
    SPOOL-IDENTIFIER 1070480-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QG                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -18966.559          16693.443          1241.750 
    PIPELINE-REFERENCE 1070480-01
ELBOW
    END-POINT -18966.559          16677.682          1241.750  3  BW
    END-POINT -18966.559          16673.182          1246.250  3  BW
    CENTRE-POINT  -18966.559          16673.182          1241.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           4.070
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_O1                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -18966.559          16673.182          1246.250  3
    END-POINT -18966.559          16673.182          1246.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_O0                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT -18966.559          16673.182          1246.250  3  BW
    END-POINT -18966.559          16673.182          1249.750  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           3.130
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NZ                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -18966.559          16673.182          1249.750  2
    END-POINT -18966.559          16673.182          1249.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4ED                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -18966.559          16673.182          1249.750  2  BW
    END-POINT -18966.559          16673.182          1262.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4EC                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -18966.559          16673.182          1262.438  2
    END-POINT -18966.559          16673.182          1262.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_528                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
ELBOW-TEED
    END-POINT -18966.559          16673.182          1262.438  2  BW
    END-POINT -18969.559          16673.182          1265.438  2  BW
    CENTRE-POINT  -18966.559          16673.182          1265.438 
    BRANCH1-POINT -18966.559  16673.182   1265.438  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_526                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS      0.000      0.000      0.000  2
SUPPORT
    CO-ORDS -18966.559  16673.182   1265.438  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_52H                 
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT -18966.559          16673.182          1265.438  2  BW
    END-POINT -18931.059  16673.182   1265.438  2  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS -18931.059  16673.182   1265.438 
SUPPORT
    CO-ORDS -18937.059  16673.182   1265.675  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_52K                 
WELD
    END-POINT -18969.559          16673.182          1265.438  2
    END-POINT -18969.559          16673.182          1265.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_52C                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -18969.559          16673.182          1265.438  2  BW
    END-POINT -19011.559          16673.182          1265.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_52B                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -18989.354  16673.182   1265.438 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19011.559          16673.182          1265.438  2
    END-POINT -19011.559          16673.182          1265.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_52D                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
ELBOW
    END-POINT -19011.559          16673.182          1265.438  2  BW
    END-POINT -19014.559          16673.182          1268.438  2  BW
    CENTRE-POINT  -19014.559          16673.182          1265.438 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_529                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19014.559          16673.182          1268.438  2
    END-POINT -19014.559          16673.182          1268.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_52F                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -19014.559          16673.182          1268.438  2  BW
    END-POINT -19014.559          16673.182          1292.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_52E                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -19014.559          16673.182          1292.438  2
    END-POINT -19014.559          16673.182          1292.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_52G                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
ELBOW
    END-POINT -19017.559          16673.182          1295.438  2  BW
    END-POINT -19014.559          16673.182          1292.438  2  BW
    CENTRE-POINT  -19014.559          16673.182          1295.438 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_51Y                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19017.559          16673.182          1295.438  2
    END-POINT -19017.559          16673.182          1295.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_521                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -19017.559          16673.182          1295.438  2  BW
    END-POINT -19101.559          16673.182          1295.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_520                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
SUPPORT
    CO-ORDS -19033.039  16673.182   1295.438  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_523                 
FLOW-ARROW
    CO-ORDS -19059.065  16673.182   1295.438 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19101.559          16673.182          1295.438  2
    END-POINT -19101.559          16673.182          1295.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_522                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
ELBOW
    END-POINT -19101.559          16673.182          1295.438  2  BW
    END-POINT -19104.559          16673.182          1298.438  2  BW
    CENTRE-POINT  -19104.559          16673.182          1295.438 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NR                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19104.559          16673.182          1298.438  2
    END-POINT -19104.559          16673.182          1298.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1QZ                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -19104.559          16673.182          1298.438  2  BW
    END-POINT -19104.559          16673.182          1382.204  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1QY                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -19104.559  16673.182   1345.354 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19104.559          16673.182          1382.204  2
    END-POINT -19104.559          16673.182          1382.204  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1R0                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
ELBOW
    END-POINT -19104.559          16673.182          1382.204  2  BW
    END-POINT -19104.559          16676.182          1385.204  2  BW
    CENTRE-POINT  -19104.559          16673.182          1385.204 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NN                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19104.559          16676.182          1385.204  2
    END-POINT -19104.559          16676.182          1385.204  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5D8                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -19104.559          16676.182          1385.204  2  BW
    END-POINT -19104.559          16715.682          1385.204  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5D7                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -19104.559          16715.682          1385.204  2
    END-POINT -19104.559          16715.682          1385.204  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5D9                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
ELBOW-TEED
    END-POINT -19104.559          16715.682          1385.204  2  BW
    END-POINT -19104.559          16718.682          1388.204  2  BW
    CENTRE-POINT  -19104.559          16718.682          1385.204 
    BRANCH1-POINT -19104.559  16718.682   1385.204  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NH                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS      0.000      0.000      0.000  2
SUPPORT
    CO-ORDS -19104.559  16718.682   1385.204  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4ZO                 
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT -19104.559          16718.682          1385.204  2  BW
    END-POINT -19104.559  16760.682   1385.204  2  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS -19104.559  16760.682   1385.204 
SUPPORT
    CO-ORDS -19104.559  16751.682   1384.966  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4ZR                 
WELD
    END-POINT -19104.559          16718.682          1388.204  2
    END-POINT -19104.559          16718.682          1388.204  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NG                  
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19104.559          16718.682          1388.204  2  BW
    END-POINT -19104.559          16718.682          1458.641  2  BW
    CONTINUATION 
    WEIGHT           5.020
    SPOOL-IDENTIFIER 1070515-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_NF                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS -19104.559          16718.682          1458.641 
    PIPELINE-REFERENCE 1070515-02
MATERIALS
ITEM-CODE PIP3
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH STD, SMLS STL, A106-B
    RATING STD
ITEM-CODE 90LLR3
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH STD, STL, A234 WPB
    RATING STD
ITEM-CODE REDCON3X2
    CATALOG ASME B16.9-1993
    DESCRIPTION CONCENTRIC REDUCER, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE 90LLR2
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE SUPEB-2
    DESCRIPTION DUMMY LEG SUPPORT W/SHOE DL4-35.5, DETAIL PS1002
ITEM-CODE SUPTS-2
    DESCRIPTION TEE SHOE SUPPORTS-9C, SEE DETAIL PS2028
ITEM-CODE SUPEB-2_1
    DESCRIPTION DUMMY LEG SUPPORT DL4-40, DETAIL PS1002 W/SHOE S-9C, SEE DETAIL PS2028
