ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070444-03
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0444-03
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  4''P-107-0444-E-C1
    ATTRIBUTE5  4
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  P-501C Discharge
    ATTRIBUTE13  648
    ATTRIBUTE14  76
    ATTRIBUTE15  725
    ATTRIBUTE16  150
    ATTRIBUTE17  1087.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  4"P-107-0442-E-C1
    ATTRIBUTE99 END
VALVE
    END-POINT -19762.527          17801.134          1325.063  4  FL
    END-POINT -19762.527          17818.134          1325.063  4  FL
    CENTRE-POINT  -19762.527          17809.634          1325.063 
    SKEY VTFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT         260.740
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IB                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19762.527          17818.259          1325.063  4
    END-POINT -19762.527          17818.134          1325.063  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ID                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19762.527          17818.259          1325.063 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IE                 
END-POSITION-OPEN 
    CO-ORDS -19762.527          17801.134          1325.063 
FLANGE-BLIND
    END-POINT -19762.527          17818.259          1325.063  4  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD4
    WEIGHT          41.220
    SPOOL-IDENTIFIER 1070444-03-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IC                 
    PIPING-SPEC E-C1
    TAP-CONNECTION
    CO-ORDS -19762.527          17820.009          1325.063  4
    END-POINT -19762.527          17820.009          1325.063  4  PL
    SKEY FLBL
MESSAGE
    CO-ORDS -19762.527  17818.259   1325.063 
    TEXT BLEED INSTALLED FOR LINE CHECKOUT$IF P-501C IS INSTALLED POST TA
    UNDIMENSIONED
WELD
    END-POINT -19762.527          17820.009          1325.063  4
    END-POINT -19762.527          17820.009          1325.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IH                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19762.527          17820.009          1325.063 
    BRANCH1-POINT -19762.527          17821.009          1325.063  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IF                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19762.527          17821.009          1325.063  0.75  SW MALE 
    END-POINT -19762.527          17821.009          1325.063  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IJ                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19762.527          17821.009          1325.063  0.75  SW MALE 
    END-POINT -19762.527          17824.009          1325.063  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2II                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19762.527          17824.009          1325.063  0.75  SW FEMALE 
    END-POINT -19762.527          17824.009          1325.063  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IL                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19762.527          17824.009          1325.063  0.75  SW FEMALE 
    END-POINT -19762.527          17826.331          1325.063  0.75  SC FEMALE 
    CENTRE-POINT  -19762.527          17825.261          1325.063 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IK                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  WEST
MESSAGE
    CO-ORDS -19762.527  17825.261   1325.063 
    TEXT HW-WEST
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19762.527          17826.331          1325.063  0.75  SC MALE 
    END-POINT -19762.527          17826.331          1325.063  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IP                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
MISC-COMPONENT
    END-POINT -19762.527          17826.331          1325.063  0.75  SC MALE 
    END-POINT -19762.527          17828.081          1325.063  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2IO                 
    PIPING-SPEC E-C1
    END-POSITION-CLOSED 
    CO-ORDS -19762.527          17828.081          1325.063 
MATERIALS
ITEM-CODE GAS4
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT4
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE FLGBLD4
    CATALOG ASME B16.5
    DESCRIPTION BLIND FLANGE, 600LB, RF, STL, A105
    RATING 600LB
ITEM-CODE SOL4X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION FLAT SOCKOLET, 6000LB, STL, A105
    RATING 6000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 160, STL, A106-B PBE, 3" LG
    RATING 160
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE PLG3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
