ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070507-02
PIPING-SPEC E-A1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0507-02
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  2''PF-107-0507-E-A1
    ATTRIBUTE5  2
    ATTRIBUTE6  PF
    ATTRIBUTE7  E-A1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  F-503B Drain
    ATTRIBUTE13  3
    ATTRIBUTE14  95
    ATTRIBUTE15  100
    ATTRIBUTE16  145
    ATTRIBUTE17  150
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-049
    ATTRIBUTE23  BK-1
    ATTRIBUTE25  2B
    ATTRIBUTE26  High P Flare Header
    ATTRIBUTE99 END
FLANGE
    END-POINT -19066.039          16708.519          1339.809  2  FL
    END-POINT -19066.039          16706.019          1339.809  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.950
    SPOOL-IDENTIFIER 1070507-02-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DZ                 
    PIPING-SPEC E-A1
GASKET
    END-POINT -19066.039          16708.519          1339.809  2
    END-POINT -19066.039          16708.644          1339.809  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5E0                 
    PIPING-SPEC E-A1
    GASKET-RATING 150LB          
WELD
    END-POINT -19066.039          16706.019          1339.809  2
    END-POINT -19066.039          16706.019          1339.809  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5E2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
VALVE
    END-POINT -19066.039          16715.644          1339.809  2  FL
    END-POINT -19066.039          16708.644          1339.809  2  FL
    CENTRE-POINT  -19066.039          16712.144          1339.809 
    SKEY VBFL
    CONTINUATION 
    WEIGHT          16.100
    SPOOL-IDENTIFIER 1070507-03-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DT                 
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  EAST
END-CONNECTION-PIPELINE 
    CO-ORDS -19066.039          16715.644          1339.809 
    PIPELINE-REFERENCE 1070507-03
PIPE
    END-POINT -19066.039          16663.250          1339.809  2  BW
    END-POINT -19066.039          16706.019          1339.809  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DD                 
    PIPING-SPEC E-A1
    INSULATION-ON 
WELD
    END-POINT -19066.039          16663.250          1339.809  2
    END-POINT -19066.039          16663.250          1339.809  2
    SKEY WF
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DE                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
ELBOW
    END-POINT -19066.039          16663.250          1339.809  2  BW
    END-POINT -19066.039          16660.250          1336.809  2  BW
    CENTRE-POINT  -19066.039          16660.250          1339.809 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    SPOOL-IDENTIFIER 1070507-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_ID                  
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19066.039          16660.250          1336.809  2
    END-POINT -19066.039          16660.250          1336.809  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1ZJ                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
PIPE
    END-POINT -19066.039          16660.250          1298.438  2  BW
    END-POINT -19066.039          16660.250          1336.809  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1ZH                 
    PIPING-SPEC E-A1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -19066.039  16660.250   1312.570 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19066.039          16660.250          1298.438  2
    END-POINT -19066.039          16660.250          1298.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1ZI                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
ELBOW
    END-POINT -19066.039          16660.250          1298.438  2  BW
    END-POINT -19063.039          16660.250          1295.438  2  BW
    CENTRE-POINT  -19066.039          16660.250          1295.438 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_I9                  
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19063.039          16660.250          1295.438  2
    END-POINT -19063.039          16660.250          1295.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DM                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
PIPE
    END-POINT -19017.559          16660.250          1295.438  2  BW
    END-POINT -19063.039          16660.250          1295.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DK                 
    PIPING-SPEC E-A1
    INSULATION-ON 
SUPPORT
    CO-ORDS -19033.039  16660.250   1295.438  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5E3                 
WELD
    END-POINT -19017.559          16660.250          1295.438  2
    END-POINT -19017.559          16660.250          1295.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DL                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
ELBOW
    END-POINT -19014.559          16660.250          1292.438  2  BW
    END-POINT -19017.559          16660.250          1295.438  2  BW
    CENTRE-POINT  -19014.559          16660.250          1295.438 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4C9                 
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -19014.559          16660.250          1292.438  2
    END-POINT -19014.559          16660.250          1292.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DI                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
PIPE
    END-POINT -19014.559          16660.250          1292.438  2  BW
    END-POINT -19014.559          16660.250          1268.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DH                 
    PIPING-SPEC E-A1
    INSULATION-ON 
WELD
    END-POINT -19014.559          16660.250          1268.438  2
    END-POINT -19014.559          16660.250          1268.438  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5DJ                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
ELBOW
    END-POINT -19011.559          16660.250          1265.438  2  BW
    END-POINT -19014.559          16660.250          1268.438  2  BW
    CENTRE-POINT  -19014.559          16660.250          1265.438 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           1.940
    SPOOL-IDENTIFIER 1070507-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4F2                 
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -19011.559          16660.250          1265.438 
    PIPELINE-REFERENCE 1070507-01
MATERIALS
ITEM-CODE FLGWNK2
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, STL, XS BORE, A105
    RATING 150LB
    RATING XS
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE 90LLR2
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE SUPTS-2
    DESCRIPTION TEE SHOE SUPPORTS-9C, SEE DETAIL PS2028
