ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070497-03
PIPING-SPEC E-A1A
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0497-03
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  6''P-107-0497-E-A1A
    ATTRIBUTE5  6
    ATTRIBUTE6  P
    ATTRIBUTE7  E-A1A
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  D-501
    ATTRIBUTE13  17
    ATTRIBUTE14  72
    ATTRIBUTE15  50
    ATTRIBUTE16  150
    ATTRIBUTE17  75
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  6"P-107-0441-E-C1
    ATTRIBUTE99 END
FLANGE
    END-POINT -19714.427          17499.183          1274.524  6  FL
    END-POINT -19714.427          17499.183          1279.394  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          79.360
    SPOOL-IDENTIFIER 1070497-03-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GR                 
    PIPING-SPEC E-A1A
GASKET
    END-POINT -19714.427          17499.183          1274.399  6
    END-POINT -19714.427          17499.183          1274.524  6
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GT                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
WELD
    END-POINT -19714.427          17499.183          1279.394  6
    END-POINT -19714.427          17499.183          1279.394  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GS                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
VALVE
    END-POINT -19714.427          17499.183          1252.399  6  FL
    END-POINT -19714.427          17499.183          1274.399  6  FL
    CENTRE-POINT  -19714.427          17499.183          1263.399 
    SKEY VTFL
    CONTINUATION 
    WEIGHT         572.290
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_23Y                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  WEST
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.427          17499.183          1252.399 
    PIPELINE-REFERENCE 1070441-01
PIPE
    END-POINT -19714.427          17499.183          1320.505  6  BW
    END-POINT -19714.427          17499.183          1279.394  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FP                 
    PIPING-SPEC E-A1A
FLOW-ARROW
    CO-ORDS -19714.427  17499.183   1296.935 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19714.427          17499.183          1320.505  6
    END-POINT -19714.427          17499.183          1320.505  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FQ                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
TEE
    END-POINT -19714.427          17493.563          1326.125  6  BW
    END-POINT -19714.427          17504.803          1326.125  6  BW
    CENTRE-POINT  -19714.427          17499.183          1326.125 
    BRANCH1-POINT -19714.427          17499.183          1320.505  6  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT          29.560
    SPOOL-IDENTIFIER 1070497-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FK                 
    PIPING-SPEC E-A1A
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.427          17493.563          1326.125 
    PIPELINE-REFERENCE 1070497-02
MATERIALS
ITEM-CODE FLGWNK6
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF, STL,  STD BORE, A105
    RATING 600LB
    RATING STD
ITEM-CODE PIP6
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH STD, SMLS STL, A106-B
    RATING STD
