ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070442-02
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0442-02
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  4''P-107-0442-E-C1
    ATTRIBUTE5  4
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  P-501R Discharge (TP-21)
    ATTRIBUTE13  631
    ATTRIBUTE14  76
    ATTRIBUTE15  725
    ATTRIBUTE16  150
    ATTRIBUTE17  1087.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  3"P0102Dx (TP-46)
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT -19811.514          17644.576          1245.387  0.75  SC MALE 
    END-POINT -19811.514          17644.576          1243.637  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    SPOOL-IDENTIFIER 1070442-02-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2LZ                 
    PIPING-SPEC E-C1
SCREWED-WELD
    END-POINT -19811.514          17644.576          1245.387  0.75  SC MALE 
    END-POINT -19811.514          17644.576          1245.387  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2M0                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
VALVE
    END-POINT -19811.514          17644.576          1247.710  0.75  SW FEMALE 
    END-POINT -19811.514          17644.576          1245.387  0.75  SC FEMALE 
    CENTRE-POINT  -19811.514          17644.576          1246.458 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2LV                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS -19811.514  17644.576   1246.458 
    TEXT HW-SOUTH
    UNDIMENSIONED
SOCKET-WELD
    END-POINT -19811.514          17644.576          1247.710  0.75  SW FEMALE 
    END-POINT -19811.514          17644.576          1247.710  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2LW                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19811.514          17644.576          1250.710  0.75  SW MALE 
    END-POINT -19811.514          17644.576          1247.710  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2LT                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19811.514          17644.576          1250.710  0.75  SW MALE 
    END-POINT -19811.514          17644.576          1250.710  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2LU                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19811.514          17644.576          1251.710 
    BRANCH1-POINT -19811.514          17644.576          1250.710  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2LQ                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19811.514          17644.576          1251.710  4
    END-POINT -19811.514          17644.576          1251.710  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2LS                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19810.014          17644.576          1253.960  4  BW
    END-POINT -19813.014          17644.576          1253.960  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2L1                 
    PIPING-SPEC E-C1
    TAP-CONNECTION 
    CO-ORDS -19811.514          17644.576          1251.710  4
WELD
    END-POINT -19810.014          17644.576          1253.960  4
    END-POINT -19810.014          17644.576          1253.960  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2L2                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19813.014          17644.576          1253.960  4
    END-POINT -19813.014          17644.576          1253.960  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2L3                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19817.264          17644.576          1253.960  4  FL
    END-POINT -19813.014          17644.576          1253.960  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1SV                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19817.389          17644.576          1253.960  4
    END-POINT -19817.264          17644.576          1253.960  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2JQ                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19817.264          17644.576          1253.960 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2JR                 
FLANGE
    END-POINT -19817.389          17644.576          1253.960  4  FL
    END-POINT -19821.639          17644.576          1253.960  4  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT          42.100
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2JP                 
    PIPING-SPEC E-C1
END-CONNECTION-PIPELINE 
    CO-ORDS -19821.639          17644.576          1253.960 
    PIPELINE-REFERENCE 1070442-03
ELBOW
    END-POINT -19804.014          17644.576          1259.960  4  BW
    END-POINT -19810.014          17644.576          1253.960  4  BW
    CENTRE-POINT  -19804.014          17644.576          1253.960 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT          11.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1ST                 
    PIPING-SPEC E-C1
    ANGLE 9000
SUPPORT
    CO-ORDS -19804.014  17644.576   1253.960  4
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1UQ                 
WELD
    END-POINT -19804.014          17644.576          1259.960  4
    END-POINT -19804.014          17644.576          1259.960  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2M2                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19804.014          17644.576          1264.210  4  FL
    END-POINT -19804.014          17644.576          1259.960  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2M1                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19804.014          17644.576          1264.335  4
    END-POINT -19804.014          17644.576          1264.210  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2M7                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19804.014          17644.576          1264.335 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2M8                 
VALVE
    END-POINT -19804.014          17644.576          1264.335  4  FL
    END-POINT -19804.014          17644.576          1281.335  4  FL
    CENTRE-POINT  -19804.014          17644.576          1272.835 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         260.740
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2M6                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS -19804.014  17644.576   1272.835 
    TEXT HW-SOUTH
    UNDIMENSIONED
GASKET
    END-POINT -19804.014          17644.576          1281.460  4
    END-POINT -19804.014          17644.576          1281.335  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2MC                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19804.014          17644.576          1281.460 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2MD                 
FLANGE
    END-POINT -19804.014          17644.576          1281.460  4  FL
    END-POINT -19804.014          17644.576          1285.710  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          42.100
    SPOOL-IDENTIFIER 1070442-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2MB                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19804.014          17644.576          1285.710  4
    END-POINT -19804.014          17644.576          1285.710  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2MG                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
TEE
    END-POINT -19804.014          17644.576          1285.710  4  BW
    END-POINT -19804.014          17644.576          1293.950  4  BW
    CENTRE-POINT  -19804.014          17644.576          1289.830 
    BRANCH1-POINT -19807.894          17644.576          1289.830  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT          16.090
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ME                 
    PIPING-SPEC E-C1
    ANGLE 9000
    TAP-CONNECTION CP
    CO-ORDS -19801.764          17644.576          1289.830  4
WELD
    END-POINT -19804.014          17644.576          1293.950  4
    END-POINT -19804.014          17644.576          1293.950  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2MI                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19807.894          17644.576          1289.830  3
    END-POINT -19807.894          17644.576          1289.830  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ML                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19801.764          17644.576          1289.830  4
    END-POINT -19801.764          17644.576          1289.830  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31D                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19801.764          17644.576          1289.830 
    BRANCH1-POINT -19800.764          17644.576          1289.830  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31B                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19800.764          17644.576          1289.830  0.75  SW MALE 
    END-POINT -19800.764          17644.576          1289.830  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31E                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19800.764          17644.576          1289.830  0.75  SW MALE 
    END-POINT -19797.764          17644.576          1289.830  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NV                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19797.764          17644.576          1289.830  0.75  SW FEMALE 
    END-POINT -19797.764          17644.576          1289.830  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NY                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19797.764          17644.576          1289.830  0.75  SW FEMALE 
    END-POINT -19794.822          17644.576          1289.830  0.75  SC FEMALE 
    CENTRE-POINT  -19796.512          17644.576          1289.830 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NX                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  UP
MESSAGE-ROUND
    CO-ORDS -19794.822  17644.576   1289.830 
    UNDIMENSIONED
    TEXT 5PT$400
MESSAGE
    CO-ORDS -19796.512  17644.576   1289.830 
    TEXT HW-UP
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS -19794.822          17644.576          1289.830 
FLANGE
    END-POINT -19811.394          17644.576          1289.830  3  FL
    END-POINT -19807.894          17644.576          1289.830  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          12.120
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2MK                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19811.519          17644.576          1289.830  3
    END-POINT -19811.394          17644.576          1289.830  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31G                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19811.394          17644.576          1289.830 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31H                 
VALVE
    END-POINT -19811.519          17644.576          1289.830  3  FL
    END-POINT -19825.519          17644.576          1289.830  3  FL
    CENTRE-POINT  -19818.519          17644.576          1289.830 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT         126.450
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31F                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS -19818.519  17644.576   1289.830 
    TEXT HW-SOUTH
    UNDIMENSIONED
GASKET
    END-POINT -19825.519          17644.576          1289.830  3
    END-POINT -19825.644          17644.576          1289.830  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31K                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19825.519          17644.576          1289.830 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31L                 
FLANGE
    END-POINT -19825.644          17644.576          1289.830  3  FL
    END-POINT -19829.144          17644.576          1289.830  3  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT          12.120
    SPOOL-IDENTIFIER 1070442-03-8   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2N7                 
    PIPING-SPEC E-C1
END-CONNECTION-PIPELINE 
    CO-ORDS -19829.144          17644.576          1289.830 
    PIPELINE-REFERENCE 1070442-03
PIPE
    END-POINT -19804.014          17644.576          1293.950  4  BW
    END-POINT -19804.014          17644.576          1319.063  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2MH                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19804.014          17644.576          1319.063  4
    END-POINT -19804.014          17644.576          1319.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2MJ                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19798.014          17644.576          1325.063  4  BW
    END-POINT -19804.014          17644.576          1319.063  4  BW
    CENTRE-POINT  -19804.014          17644.576          1325.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT          11.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_28O                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19798.014          17644.576          1325.063  4
    END-POINT -19798.014          17644.576          1325.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_28R                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19798.014          17644.576          1325.063  4  BW
    END-POINT -19730.647          17644.576          1325.063  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_28Q                 
    PIPING-SPEC E-C1
    TAP-CONNECTION 
    CO-ORDS -19795.014          17644.576          1327.313  4
FLOW-ARROW
    CO-ORDS -19772.011  17644.576   1325.063 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT -19730.647          17644.576          1325.063  4
    END-POINT -19730.647          17644.576          1325.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_28S                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19795.014          17644.576          1327.313  4
    END-POINT -19795.014          17644.576          1327.313  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NI                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-C1
OLET
    CENTRE-POINT  -19795.014          17644.576          1327.313 
    BRANCH1-POINT -19795.014          17644.576          1328.313  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NG                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19795.014          17644.576          1328.313  0.75  SW MALE 
    END-POINT -19795.014          17644.576          1328.313  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NK                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
COUPLING
    END-POINT -19795.014          17644.576          1328.313  0.75  SW MALE 
    END-POINT -19795.014          17644.576          1331.313  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NJ                 
    PIPING-SPEC E-C1
SOCKET-WELD
    END-POINT -19795.014          17644.576          1331.313  0.75  SW FEMALE 
    END-POINT -19795.014          17644.576          1331.313  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NM                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-C1
VALVE
    END-POINT -19795.014          17644.576          1331.313  0.75  SW FEMALE 
    END-POINT -19795.014          17644.576          1333.635  0.75  SC FEMALE 
    CENTRE-POINT  -19795.014          17644.576          1332.565 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NL                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS -19795.014  17644.576   1332.565 
    TEXT HW-SOUTH
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19795.014          17644.576          1333.635  0.75  SC MALE 
    END-POINT -19795.014          17644.576          1333.635  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NQ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-C1
MISC-COMPONENT
    END-POINT -19795.014          17644.576          1333.635  0.75  SC MALE 
    END-POINT -19795.014          17644.576          1335.385  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2NP                 
    PIPING-SPEC E-C1
MESSAGE
    CO-ORDS -19795.014  17644.576   1334.255 
    TEXT HPV
    UNDIMENSIONED
TEE
    END-POINT -19726.527          17640.456          1325.063  4  BW
    END-POINT -19726.527          17648.696          1325.063  4  BW
    CENTRE-POINT  -19726.527          17644.576          1325.063 
    BRANCH1-POINT -19730.647          17644.576          1325.063  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT          17.570
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_26G                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19726.527          17640.456          1325.063  4
    END-POINT -19726.527          17640.456          1325.063  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_279                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19726.527          17648.696          1325.063  4
    END-POINT -19726.527          17648.696          1325.063  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_27C                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19726.527          17796.759          1325.063  4  BW
    END-POINT -19726.527          17648.696          1325.063  4  BW
    CONTINUATION 
    WEIGHT          14.980
    SPOOL-IDENTIFIER 1070444-02-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_27A                 
    PIPING-SPEC E-C1
SUPPORT
    CO-ORDS -19726.527  17782.134   1325.063  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_27W                 
FLOW-ARROW
    CO-ORDS -19726.527  17714.668   1325.063 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS -19726.527  17782.134   1325.063  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZX                 
END-CONNECTION-PIPELINE 
    CO-ORDS -19726.527          17796.759          1325.063 
    PIPELINE-REFERENCE 1070444-02
PIPE
    END-POINT -19726.527          17568.612          1325.063  4  BW
    END-POINT -19726.527          17640.456          1325.063  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_277                 
    PIPING-SPEC E-C1
SUPPORT
    CO-ORDS -19726.527  17602.134   1325.063  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_27U                 
FLOW-ARROW
    CO-ORDS -19726.527  17625.847   1325.063 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS -19726.527  17602.134   1325.063  4
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-4
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZW                 
WELD
    END-POINT -19726.527          17568.612          1325.063  4
    END-POINT -19726.527          17568.612          1325.063  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_278                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19726.527          17568.612          1325.063  4  BW
    END-POINT -19728.295          17564.344          1325.063  4  BW
    CENTRE-POINT  -19726.527          17566.112          1325.063 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.790
    SPOOL-IDENTIFIER 1070442-01-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_273                 
    PIPING-SPEC E-C1
    ANGLE 4500
END-CONNECTION-PIPELINE 
    CO-ORDS -19728.295          17564.344          1325.063 
    PIPELINE-REFERENCE 1070442-01
MATERIALS
ITEM-CODE PLG3/4
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 160, STL, A106-B PBE, 3" LG
    RATING 160
ITEM-CODE SOL4X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION SOCKOLET, 6000LB, STL, A105
    RATING 6000LB
ITEM-CODE PIP4
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE FLGWNK4
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE GAS4
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT4
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE 90LLR4
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE SUPEB-4
    DESCRIPTION BASE SUPPORT BS1_4_3.5_48,  SEE MEI SUPPORT DWG 00011-DWG-PD-10003
ITEM-CODE VALVGAT4
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 600LB, RF, STL, F6/STEL SEATS
    RATING 600LB
ITEM-CODE TEERED4X3
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCING TEE, SCH XS, BW, CS, A234 WPB
    RATING XS
ITEM-CODE FLGWNK3
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE GAS3
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT3
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE VALVGAT3
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 600LB, RF, STL, F6/STEL SEATS
    RATING 600LB
ITEM-CODE TEESTR4X4
    CATALOG ASME B16.9-1993
    DESCRIPTION TEE, SCH XS, BW, STL, A234 WPB
    RATING XS
ITEM-CODE SUPTS-4
    DESCRIPTION TEE SHOE SUPPORT S-9C, SEE DETAIL PS2028
ITEM-CODE SUPAG-4
    DESCRIPTION PIPE SUPPORT BRACKET PB4 _4 _5.4375 _30 _S _A, SEE MEI SUPPORT DWG. 00011-DWG-PD-10059
