ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070443-01
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0443-01
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  6''P-107-0443-E-C1
    ATTRIBUTE5  6
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  6"P-107-0497-E-A1A
    ATTRIBUTE13  17
    ATTRIBUTE14  72
    ATTRIBUTE15  725
    ATTRIBUTE16  150
    ATTRIBUTE17  1087.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  P-501C Suction
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT -19703.912          17825.971          1251.557  6  FL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          85.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZT                 
    PIPING-SPEC E-C1
    END-POINT -19701.782          17825.971          1251.557  6
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS -19701.782          17825.971          1251.557 
GASKET
    END-POINT -19703.912          17825.971          1251.557  6
    END-POINT -19704.037          17825.971          1251.557  6
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZU                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
FLANGE
    END-POINT -19704.037          17825.971          1251.557  6  FL
    END-POINT -19708.907          17825.971          1251.557  6  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          79.360
    SPOOL-IDENTIFIER 1070443-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZR                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19708.907          17825.971          1251.557  6
    END-POINT -19708.907          17825.971          1251.557  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZS                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
TEE
    END-POINT -19714.527          17825.971          1245.937  6  BW
    END-POINT -19714.527          17825.971          1257.177  6  BW
    CENTRE-POINT  -19714.527          17825.971          1251.557 
    BRANCH1-POINT -19708.907          17825.971          1251.557  6  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          43.380
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HF                 
    PIPING-SPEC E-C1
    ANGLE 9000
MESSAGE-SQUARE
    CO-ORDS -19708.907  17825.971   1251.557 
    TEXT S-501C$STRAINER
    UNDIMENSIONED
WELD
    END-POINT -19714.527          17825.971          1245.937  6
    END-POINT -19714.527          17825.971          1245.937  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HH                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19714.527          17825.971          1257.177  6
    END-POINT -19714.527          17825.971          1257.177  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HQ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19714.527          17825.971          1262.047  6  FL
    END-POINT -19714.527          17825.971          1257.177  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          79.360
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2BN                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19714.527          17825.971          1262.047  6
    END-POINT -19714.527          17825.971          1262.172  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HV                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19714.527          17825.971          1262.047 
    BOLT-DIA           1.000
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HW                 
VALVE
    END-POINT -19714.527          17825.971          1262.172  6  FL
    END-POINT -19714.527          17825.971          1284.172  6  FL
    CENTRE-POINT  -19714.527          17825.971          1273.172 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT         572.290
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2BU                 
    PIPING-SPEC E-C1
    SPINDLE-DIRECTION  EAST
MESSAGE
    CO-ORDS -19714.527  17825.971   1273.172 
    TEXT HW-EAST
    UNDIMENSIONED
GASKET
    END-POINT -19714.527          17825.971          1284.172  6
    END-POINT -19714.527          17825.971          1284.297  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GX                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
BOLT
    CO-ORDS -19714.527          17825.971          1284.172 
    BOLT-DIA           1.000
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GY                 
FLANGE
    END-POINT -19714.527          17825.971          1284.297  6  FL
    END-POINT -19714.527          17825.971          1289.167  6  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT          79.360
    SPOOL-IDENTIFIER 1070497-04-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FY                 
    PIPING-SPEC E-A1A
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.527          17825.971          1289.167 
    PIPELINE-REFERENCE 1070497-04
ELBOW
    END-POINT -19714.527          17825.971          1245.937  6  BW
    END-POINT -19723.527          17825.971          1236.937  6  BW
    CENTRE-POINT  -19714.527          17825.971          1236.937 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          32.290
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_147                 
    PIPING-SPEC E-C1
    ANGLE 9000
SUPPORT
    CO-ORDS -19714.527  17825.971   1236.937  6
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_14G                 
WELD
    END-POINT -19723.527          17825.971          1236.937  6
    END-POINT -19723.527          17825.971          1236.937  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HJ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
FLANGE
    END-POINT -19728.397          17825.971          1236.937  6  FL
    END-POINT -19723.527          17825.971          1236.937  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          79.360
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HI                 
    PIPING-SPEC E-C1
GASKET
    END-POINT -19728.522          17825.971          1236.937  6
    END-POINT -19728.397          17825.971          1236.937  6
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HM                 
    PIPING-SPEC E-C1
    GASKET-RATING 600LB          
FLANGE
    END-POINT -19728.522          17825.971          1236.937  6  FL
    END-POINT -19733.392          17825.971          1236.937  6  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT          79.360
    SPOOL-IDENTIFIER 1070443-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2HL                 
    PIPING-SPEC E-C1
END-CONNECTION-PIPELINE 
    CO-ORDS -19733.392          17825.971          1236.937 
    PIPELINE-REFERENCE 1070443-02
MATERIALS
ITEM-CODE TEESTR6X6
    CATALOG ASME B16.9-1993
    DESCRIPTION S-501C, TEE STRAINER
    RATING XS
ITEM-CODE FLGWNK6
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 600LB, RF,STL, XS BORE, A105
    RATING 600LB
    RATING XS
ITEM-CODE GAS6
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 600LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 600LB
ITEM-CODE BOLT6
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 600LB
ITEM-CODE VALVGAT6
    CATALOG CRANE
    DESCRIPTION GATE VALVE, 600LB, RF, STL, F6/STEL SEATS
    RATING 600LB
ITEM-CODE 90LLR6
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE SUPEB-6
    DESCRIPTION ADJUSTABLE BASE SUPPORT BS1-24.9375, SEE DETAIL PS0004
