ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070504-01
PIPING-SPEC E-A1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0504-01
    ATTRIBUTE2  A
    ATTRIBUTE3  107
    ATTRIBUTE4  2''PF-107-0504-E-A1
    ATTRIBUTE5  2
    ATTRIBUTE6  PF
    ATTRIBUTE7  E-A1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  F-503A Vent
    ATTRIBUTE13  3
    ATTRIBUTE14  95
    ATTRIBUTE15  100
    ATTRIBUTE16  145
    ATTRIBUTE17  150
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-049
    ATTRIBUTE23  BK-1
    ATTRIBUTE25  2B
    ATTRIBUTE26  High P Flare Header
    ATTRIBUTE99 END
VALVE
    END-POINT -18977.804          16660.250          1277.563  2  FL
    END-POINT -18977.804          16660.250          1270.563  2  FL
    CENTRE-POINT  -18977.804          16660.250          1274.063 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          33.440
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5BL                 
    PIPING-SPEC E-A1
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS -18977.804  16660.250   1274.063 
    TEXT HW-SOUTH
    UNDIMENSIONED
GASKET
    END-POINT -18977.804          16660.250          1277.563  2
    END-POINT -18977.804          16660.250          1277.688  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5BM                 
    PIPING-SPEC E-A1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -18977.804          16660.250          1277.688 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5BN                 
GASKET
    END-POINT -18977.804          16660.250          1270.563  2
    END-POINT -18977.804          16660.250          1270.438  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5BQ                 
    PIPING-SPEC E-A1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -18977.804          16660.250          1270.563 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5BR                 
FLANGE
    END-POINT -18977.804          16660.250          1270.438  2  FL
    END-POINT -18977.804          16660.250          1267.938  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           5.950
    SPOOL-IDENTIFIER 1070507-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5BH                 
    PIPING-SPEC E-A1
END-CONNECTION-PIPELINE 
    CO-ORDS -18977.804          16660.250          1267.938 
    PIPELINE-REFERENCE 1070507-01
FLANGE
    END-POINT -18977.804          16660.250          1277.688  2  FL
    END-POINT -18977.804          16660.250          1280.188  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.950
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5BJ                 
    PIPING-SPEC E-A1
WELD
    END-POINT -18977.804          16660.250          1280.188  2
    END-POINT -18977.804          16660.250          1280.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_5BS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
PIPE
    END-POINT -18977.804          16660.250          1307.500  2  BW
    END-POINT -18977.804          16660.250          1280.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1SD                 
    PIPING-SPEC E-A1
    INSULATION-ON 
WELD
    END-POINT -18977.804          16660.250          1307.500  2
    END-POINT -18977.804          16660.250          1307.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_541                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
ELBOW
    END-POINT -18977.804          16663.250          1310.500  2  BW
    END-POINT -18977.804          16660.250          1307.500  2  BW
    CENTRE-POINT  -18977.804          16660.250          1310.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1S5                 
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -18977.804          16663.250          1310.500  2
    END-POINT -18977.804          16663.250          1310.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1SC                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
PIPE
    END-POINT -18977.804          16687.062          1310.500  2  BW
    END-POINT -18977.804          16663.250          1310.500  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.020
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1SA                 
    PIPING-SPEC E-A1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -18977.804  16678.884   1310.500 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -18977.804          16687.062          1310.500  2
    END-POINT -18977.804          16687.062          1310.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4CO                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
    INSULATION-ON 
ELBOW
    END-POINT -18980.804          16690.062          1310.500  2  BW
    END-POINT -18977.804          16687.062          1310.500  2  BW
    CENTRE-POINT  -18977.804          16690.062          1310.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.940
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_GR                  
    PIPING-SPEC E-A1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -18980.804          16690.062          1310.500  2
    END-POINT -18980.804          16690.062          1310.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_GQ                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1
FLANGE
    END-POINT -18983.554          16690.062          1310.500  2  FL
    END-POINT -18980.804          16690.062          1310.500  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2_1
    WEIGHT           9.030
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_GP                  
    PIPING-SPEC E-A1
GASKET
    END-POINT -18983.554          16690.062          1310.500  2
    END-POINT -18983.679          16690.062          1310.500  2
    ERECTION-ITEM
    ITEM-CODE GAS2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1A1                 
    PIPING-SPEC E-A1
    GASKET-RATING 300LB          
BOLT
    CO-ORDS -18983.554          16690.062          1310.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_1A2                 
NOZZLE
    CO-ORDS -18983.679          16690.062          1310.500  2  FL
    CONNECTION-REFERENCE F-503A$NOZZLE TAG F-503A-N3$RATING 300LB$FACING RF
MATERIALS
ITEM-CODE VALVGAT2
    CATALOG CRANE
    DESCRIPTION GATE 150# RF STL, F6/STEL SEATS
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 150LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 150LB
ITEM-CODE FLGWNK2
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, STL, XS BORE, A105
    RATING 150LB
    RATING XS
ITEM-CODE PIP2
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE 90LLR2
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE FLGWNK2_1
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, STL, XS BORE A105
    RATING 300LB
    RATING XS
ITEM-CODE GAS2_1
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 300LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 300LB
