ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070480-01
PIPING-SPEC E-A1A
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-C-PIA-SB
    ATTRIBUTE1  0480-01
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  3''FG-107-0480-E-A1A
    ATTRIBUTE5  3
    ATTRIBUTE6  FG
    ATTRIBUTE7  E-A1A
    ATTRIBUTE8  HC
    ATTRIBUTE9  2
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  3"FG-107-0479-E-A1A
    ATTRIBUTE13  65
    ATTRIBUTE14  100
    ATTRIBUTE15  125
    ATTRIBUTE16  150
    ATTRIBUTE17  187.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-049
    ATTRIBUTE23  BL-2
    ATTRIBUTE25  2D
    ATTRIBUTE26  F-503B
    ATTRIBUTE99 END
PIPE
    END-POINT -18971.059          16701.943          1296.000  3  BW
    END-POINT -18987.179          16701.943          1296.000  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    SPOOL-IDENTIFIER 1070480-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_LF                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -18979.311  16701.942   1296.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT -18971.059          16701.943          1296.000  3
    END-POINT -18971.059          16701.943          1296.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_LG                  
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -18987.179          16701.943          1296.000  3
    END-POINT -18987.179          16701.943          1296.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_KZ                  
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
TEE
    END-POINT -18987.179          16701.943          1296.000  3  BW
    END-POINT -18993.939          16701.943          1296.000  3  BW
    CENTRE-POINT  -18990.559          16701.943          1296.000 
    BRANCH1-POINT -18990.559          16701.943          1299.380  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           6.760
    SPOOL-IDENTIFIER 1070479-03-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_KY                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -18993.939          16701.943          1296.000 
    PIPELINE-REFERENCE 1070479-03
ELBOW
    END-POINT -18966.559          16701.943          1291.500  3  BW
    END-POINT -18971.059          16701.943          1296.000  3  BW
    CENTRE-POINT  -18966.559          16701.943          1296.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           4.070
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_LH                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -18966.559          16701.943          1291.500  3
    END-POINT -18966.559          16701.943          1291.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_LI                  
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -18966.559          16701.943          1260.000  3  BW
    END-POINT -18966.559          16701.943          1291.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_LJ                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS -18966.559  16701.942   1275.003 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT -18966.559          16701.943          1260.000  3
    END-POINT -18966.559          16701.943          1260.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2Q4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
FLANGE
    END-POINT -18966.559          16701.943          1257.250  3  FL
    END-POINT -18966.559          16701.943          1260.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           5.950
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2Q3                 
    PIPING-SPEC E-A1A
GASKET
    END-POINT -18966.559          16701.943          1257.125  3
    END-POINT -18966.559          16701.943          1257.250  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2Q6                 
    PIPING-SPEC E-A1A
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -18966.559          16701.943          1257.250 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE 5675648
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2Q7                 
VALVE
    END-POINT -18966.559          16701.943          1257.125  3  FL
    END-POINT -18966.559          16701.943          1249.125  3  FL
    CENTRE-POINT  -18966.559          16701.943          1253.125 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT          59.720
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2Q5                 
    PIPING-SPEC E-A1A
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS -18966.559  16701.943   1253.125 
    TEXT HW-NORTH
    UNDIMENSIONED
GASKET
    END-POINT -18966.559          16701.943          1249.000  3
    END-POINT -18966.559          16701.943          1249.125  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QB                 
    PIPING-SPEC E-A1A
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -18966.559          16701.943          1249.125 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE 5675648
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QC                 
FLANGE
    END-POINT -18966.559          16701.943          1249.000  3  FL
    END-POINT -18966.559          16701.943          1246.250  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           5.950
    SPOOL-IDENTIFIER 1070480-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QA                 
    PIPING-SPEC E-A1A
WELD
    END-POINT -18966.559          16701.943          1246.250  3
    END-POINT -18966.559          16701.943          1246.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
ELBOW
    END-POINT -18966.559          16701.943          1246.250  3  BW
    END-POINT -18966.559          16697.443          1241.750  3  BW
    CENTRE-POINT  -18966.559          16701.943          1241.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           4.070
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QD                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS -18966.559  16701.943   1241.750  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QL                 
WELD
    END-POINT -18966.559          16697.443          1241.750  3
    END-POINT -18966.559          16697.443          1241.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4XV                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
PIPE
    END-POINT -18966.559          16697.443          1241.750  3  BW
    END-POINT -18966.559          16693.443          1241.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4XU                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -18966.559          16693.443          1241.750  3
    END-POINT -18966.559          16693.443          1241.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_4XW                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
TEE
    END-POINT -18966.559          16693.443          1241.750  3  BW
    END-POINT -18966.559          16686.683          1241.750  3  BW
    CENTRE-POINT  -18966.559          16690.063          1241.750 
    BRANCH1-POINT -18963.179          16690.063          1241.750  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3X3
    WEIGHT           6.760
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QG                 
    PIPING-SPEC E-A1A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT -18966.559          16686.683          1241.750  3
    END-POINT -18966.559          16686.683          1241.750  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QK                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
    INSULATION-ON 
WELD
    END-POINT -18963.179          16690.063          1241.750  3
    END-POINT -18963.179          16690.063          1241.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -18966.559          16677.682          1241.750  3  BW
    END-POINT -18966.559          16686.682          1241.750  3  BW
    CONTINUATION 
    WEIGHT           7.580
    SPOOL-IDENTIFIER 1070515-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_O3                  
    PIPING-SPEC E-A1A
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS -18966.559          16677.682          1241.750 
    PIPELINE-REFERENCE 1070515-01
FLANGE
    END-POINT -18960.429          16690.063          1241.750  3  FL
    END-POINT -18963.179          16690.063          1241.750  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           5.950
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2QM                 
    PIPING-SPEC E-A1A
MESSAGE
    CO-ORDS -18960.429  16690.063   1241.750 
    TEXT CONN. TO$NOZZLE N1$F-503B INLET
    UNDIMENSIONED
GASKET
    END-POINT -18960.429          16690.063          1241.750  3
    END-POINT -18960.304          16690.062          1241.750  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2VV                 
    PIPING-SPEC E-A1A
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -18960.429          16690.063          1241.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE 5675648
    UNIQUE-COMPONENT-IDENTIFIER AT_H8N2TEQY_2VW                 
END-POSITION-OPEN 
    CO-ORDS -18960.304          16690.062          1241.750 
MATERIALS
ITEM-CODE PIP3
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH STD, SMLS STL, A106-B
    RATING STD
ITEM-CODE 90LLR3
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH STD, STL, A234 WPB
    RATING STD
ITEM-CODE FLGWNK3
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, STL, STD BORE, A105
    RATING 150LB
    RATING STD
ITEM-CODE GAS3
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 150LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 150LB
ITEM-CODE 5675648
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 150LB
ITEM-CODE VALVGAT3
    CATALOG CRANE
    DESCRIPTION GATE 150# RF STL, F6/STEL SEATS
    RATING 150LB
ITEM-CODE SUPEB-3
    DESCRIPTION ADJUSTABLE BASE SUPPORT BS1-35 3/4",SEE DETAIL PS0004
ITEM-CODE TEESTR3X3
    CATALOG ASME B16.9-1993
    DESCRIPTION TEE, STD WT, STL, A234 WPB
    RATING STD
