ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070497-01
PIPING-SPEC E-A1A
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0497-01
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  6''P-107-0497-E-A1A
    ATTRIBUTE5  6
    ATTRIBUTE6  P
    ATTRIBUTE7  E-A1A
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  D-501
    ATTRIBUTE13  17
    ATTRIBUTE14  72
    ATTRIBUTE15  50
    ATTRIBUTE16  150
    ATTRIBUTE17  75
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  6"P-107-0441-E-C1
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT -19726.527          17484.346          1326.125  1.5  FL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           5.950
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FI                 
    PIPING-SPEC E-A1A
    END-POINT -19726.527          17485.156          1326.125  1.5
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS -19726.527          17485.156          1326.125 
GASKET
    END-POINT -19726.527          17484.346          1326.125  1.5
    END-POINT -19726.527          17484.221          1326.125  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FJ                 
    PIPING-SPEC E-A1A
    GASKET-RATING 300LB          
BOLT
    CO-ORDS -19726.527          17484.221          1326.125 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FK                 
FLANGE
    END-POINT -19726.527          17484.221          1326.125  1.5  FL
    END-POINT -19726.527          17481.534          1326.125  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           7.050
    SPOOL-IDENTIFIER 1070497-01-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_19O                 
    PIPING-SPEC E-A1A
MESSAGE-ROUND
    CO-ORDS -19726.527  17484.221   1326.125 
    UNDIMENSIONED
    TEXT 5TW$293
WELD
    END-POINT -19726.527          17481.534          1326.125  1.5
    END-POINT -19726.527          17481.534          1326.125  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FG                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
OLET
    CENTRE-POINT  -19726.527          17479.534          1326.125 
    BRANCH1-POINT -19726.527          17481.534          1326.125  1.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL6X1+1/2
    WEIGHT           1.750
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FD                 
    PIPING-SPEC E-A1A
WELD
    END-POINT -19726.527          17479.534          1326.125  6
    END-POINT -19726.527          17479.534          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2FF                 
    THICKNESS/RATING 160
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19818.772          17476.221          1326.125  6  BW
    END-POINT -19720.047          17476.221          1326.125  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2F7                 
    PIPING-SPEC E-A1A
    TAP-CONNECTION 
    CO-ORDS -19726.527          17479.534          1326.125  6
    TAP-CONNECTION 
    CO-ORDS -19813.272          17479.534          1326.125  6
FLOW-ARROW
    CO-ORDS -19770.546  17476.221   1326.125 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19818.772          17476.221          1326.125  6
    END-POINT -19818.772          17476.221          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2F8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
WELD
    END-POINT -19720.047          17476.221          1326.125  6
    END-POINT -19720.047          17476.221          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2F9                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
WELD
    END-POINT -19813.272          17479.534          1326.125  6
    END-POINT -19813.272          17479.534          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-A1A
TEE
    END-POINT -19714.427          17470.601          1326.125  6  BW
    END-POINT -19714.427          17481.841          1326.125  6  BW
    CENTRE-POINT  -19714.427          17476.221          1326.125 
    BRANCH1-POINT -19720.047          17476.221          1326.125  6  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT          29.560
    SPOOL-IDENTIFIER 1070497-02-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_HQ                  
    PIPING-SPEC E-A1A
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -19714.427          17470.601          1326.125 
    PIPELINE-REFERENCE 1070497-02
OLET
    CENTRE-POINT  -19813.272          17479.534          1326.125 
    BRANCH1-POINT -19813.272          17480.159          1326.125  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GH                 
    PIPING-SPEC E-A1A
SOCKET-WELD
    END-POINT -19813.272          17480.159          1326.125  0.75  SW MALE 
    END-POINT -19813.272          17480.159          1326.125  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1A
COUPLING
    END-POINT -19813.272          17480.159          1326.125  0.75  SW MALE 
    END-POINT -19813.272          17483.159          1326.125  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.488
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_21S                 
    PIPING-SPEC E-A1A
SOCKET-WELD
    END-POINT -19813.272          17483.159          1326.125  0.75  SW FEMALE 
    END-POINT -19813.272          17483.159          1326.125  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_225                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1A
VALVE
    END-POINT -19813.272          17483.159          1326.125  0.75  SW FEMALE 
    END-POINT -19813.272          17485.664          1326.125  0.75  SW FEMALE 
    CENTRE-POINT  -19813.272          17484.411          1326.125 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           4.400
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_224                 
    PIPING-SPEC E-A1A
    SPINDLE-DIRECTION  EAST
MESSAGE
    CO-ORDS -19813.272  17484.411   1326.125 
    TEXT HW-EAST
    UNDIMENSIONED
SOCKET-WELD
    END-POINT -19813.272          17485.664          1326.125  0.75  SW MALE 
    END-POINT -19813.272          17485.664          1326.125  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_22B                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1A
COUPLING
    END-POINT -19813.272          17485.664          1326.125  0.75  SW MALE 
    END-POINT -19813.272          17488.664          1326.125  0.75  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4_1
    WEIGHT           0.368
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_22A                 
    PIPING-SPEC E-A1A
SOCKET-WELD
    END-POINT -19813.272          17488.664          1326.125  0.75  SW FEMALE 
    END-POINT -19813.272          17488.664          1326.125  0.75  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_22D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1A
FLANGE
    END-POINT -19813.272          17488.846          1326.125  0.75  FL
    END-POINT -19813.272          17488.664          1326.125  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           1.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_22C                 
    PIPING-SPEC E-A1A
GASKET
    END-POINT -19813.272          17488.971          1326.125  0.75
    END-POINT -19813.272          17488.846          1326.125  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_22G                 
    PIPING-SPEC E-A1A
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -19813.272          17488.971          1326.125 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE 5675648
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_22H                 
FLANGE-BLIND
    END-POINT -19813.272          17488.971          1326.125  0.75  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD3/4
    WEIGHT           1.980
    SPOOL-IDENTIFIER 1070497-01-4   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_22F                 
    PIPING-SPEC E-A1A
    END-POINT -19813.272          17489.471          1326.125  0.75
    SKEY FLBL
FLANGE
    END-POINT -19822.272          17476.221          1326.125  6  FL
    END-POINT -19818.772          17476.221          1326.125  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          24.030
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2F1                 
    PIPING-SPEC E-A1A
GASKET
    END-POINT -19822.272          17476.221          1326.125  6
    END-POINT -19822.397          17476.221          1326.125  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FX                 
    PIPING-SPEC E-A1A
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -19822.397          17476.221          1326.125 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FY                 
FLANGE
    END-POINT -19822.397          17476.221          1326.125  6  FL
    END-POINT -19825.897          17476.221          1326.125  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          24.030
    SPOOL-IDENTIFIER 1070497-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2F0                 
    PIPING-SPEC E-A1A
WELD
    END-POINT -19825.897          17476.221          1326.125  6
    END-POINT -19825.897          17476.221          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19825.897          17476.221          1326.125  6  BW
    END-POINT -19832.897          17476.221          1326.125  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_1WG                 
    PIPING-SPEC E-A1A
    TAP-CONNECTION 
    CO-ORDS -19829.397          17476.221          1322.813  6
WELD
    END-POINT -19832.897          17476.221          1326.125  6
    END-POINT -19832.897          17476.221          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3F5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
WELD
    END-POINT -19829.397          17476.221          1322.813  6
    END-POINT -19829.397          17476.221          1322.813  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC E-A1A
OLET
    CENTRE-POINT  -19829.397          17476.221          1322.813 
    BRANCH1-POINT -19829.397          17476.221          1321.875  1.5  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1+1/2
    WEIGHT           1.040
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GL                 
    PIPING-SPEC E-A1A
SOCKET-WELD
    END-POINT -19829.397          17476.221          1321.875  1.5  SW MALE 
    END-POINT -19829.397          17476.221          1321.875  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1A
COUPLING
    END-POINT -19829.397          17476.221          1321.875  1.5  SW MALE 
    END-POINT -19829.397          17476.221          1318.875  1.5  SW MALE 
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1+1/2
    WEIGHT           0.910
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_19T                 
    PIPING-SPEC E-A1A
SOCKET-WELD
    END-POINT -19829.397          17476.221          1318.875  1.5  SW FEMALE 
    END-POINT -19829.397          17476.221          1318.875  1.5  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_19W                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC E-A1A
VALVE
    END-POINT -19829.397          17476.221          1318.875  1.5  SW FEMALE 
    END-POINT -19829.397          17476.221          1315.373  1.5  SC FEMALE 
    CENTRE-POINT  -19829.397          17476.221          1316.938 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          13.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_19V                 
    PIPING-SPEC E-A1A
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS -19829.397  17476.221   1316.938 
    TEXT HW-NORTH
    UNDIMENSIONED
SCREWED-WELD
    END-POINT -19829.397          17476.221          1315.373  1.5  SC MALE 
    END-POINT -19829.397          17476.221          1315.373  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GC                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC E-A1A
MISC-COMPONENT
    END-POINT -19829.397          17476.221          1315.373  1.5  SC MALE 
    END-POINT -19829.397          17476.221          1313.373  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2GB                 
    PIPING-SPEC E-A1A
FLANGE
    END-POINT -19836.397          17476.221          1326.125  6  FL
    END-POINT -19832.897          17476.221          1326.125  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          24.030
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3F4                 
    PIPING-SPEC E-A1A
GASKET
    END-POINT -19836.397          17476.221          1326.125  6
    END-POINT -19836.522          17476.221          1326.125  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FV                 
    PIPING-SPEC E-A1A
    GASKET-RATING 150LB          
BOLT
    CO-ORDS -19836.397          17476.221          1326.125 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FW                 
FLANGE
    END-POINT -19836.522          17476.221          1326.125  6  FL
    END-POINT -19840.022          17476.221          1326.125  6  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          24.030
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_0                   
    TAG CONN. TO$D-510 OUTLET$W 1653'-0 
    PIPING-SPEC E-A1A
WELD
    END-POINT -19840.022          17476.221          1326.125  6
    END-POINT -19840.022          17476.221          1326.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_3FU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-A1A
PIPE
    END-POINT -19840.022          17476.221          1326.125  6  BW
    END-POINT -19847.481          17476.221          1326.125  6  PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2ZY                 
    PIPING-SPEC E-A1A
END-POSITION-OPEN 
    CO-ORDS -19847.481          17476.221          1326.125 
MATERIALS
ITEM-CODE GAS1+1/2
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 300LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 300LB
ITEM-CODE BOLT1+1/2
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 300LB
ITEM-CODE FLGWNK1+1/2
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, STL, 160 BORE A105
    RATING 300LB
    RATING 160
ITEM-CODE WOL6X1+1/2
    CATALOG BONNEY FORGED
    DESCRIPTION WELDOLET, STD WT x SCH 160, STL, A105
    RATING 160
ITEM-CODE PIP6
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH STD, SMLS STL, A106-B
    RATING STD
ITEM-CODE SOL6X3/4
    CATALOG BONNEY FORGED
    DESCRIPTION SOCKOLET, 3000LB, STL, A105
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 160, STL, A106-B PBE, 3" LG
    RATING 160
ITEM-CODE VALVGAT3/4
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, SW, STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE NIPP3/4_1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH  XS, STL A106-B PBE, 3" LG
    RATING XS
ITEM-CODE FLG3/4
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW, 150LB, RF STL XS BORE A105
    RATING 150LB
    RATING XS
ITEM-CODE GAS3/4
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 150LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 150LB
ITEM-CODE 5675648
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 150LB
ITEM-CODE FLGBLD3/4
    CATALOG ASME B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF,STL, A105
    RATING 150LB
ITEM-CODE FLGWNK6
    CATALOG ASME B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, STL, STD BORE, A105
    RATING 150LB
    RATING STD
ITEM-CODE GAS6
    CATALOG ASME B16.20-1993
    DESCRIPTION GASKET, 150LB, 316 SS, SPIRAL WOUND GRAPHITE
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ALASKAN
    DESCRIPTION STUD BOLT, A193 GR B7 w/ A 194 GR 2H NUTS
    RATING 150LB
ITEM-CODE SOL6X1+1/2
    CATALOG BONNEY FORGED
    DESCRIPTION SOCKOLET, 3000LB, STL, A105
    RATING 3000LB
ITEM-CODE NIPP1+1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH  160, STL, A106-B PBE, 3" LG
    RATING XS
ITEM-CODE VALVGAT1+1/2
    CATALOG VOGT
    DESCRIPTION GATE VALVE, 800LB, STL, SW/SCRD STL, F6/STEL SEATS
    RATING 800LB
ITEM-CODE PLG1+1/2
    CATALOG ASME B16.11-1991
    DESCRIPTION PLUG, ROUND HEAD, SCR'D, STL, A105
