ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE 1070442-04
PIPING-SPEC E-C1
    AREA 107
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE34   19415-A-PIA-LB
    ATTRIBUTE1  0442-04
    ATTRIBUTE2  C
    ATTRIBUTE3  107
    ATTRIBUTE4  4''P-107-0442-E-C1
    ATTRIBUTE5  4
    ATTRIBUTE6  P
    ATTRIBUTE7  E-C1
    ATTRIBUTE8  NI
    ATTRIBUTE9  -
    ATTRIBUTE10  -
    ATTRIBUTE11  ---
    ATTRIBUTE12  P-501R Discharge (TP-21)
    ATTRIBUTE13  631
    ATTRIBUTE14  76
    ATTRIBUTE15  725
    ATTRIBUTE16  150
    ATTRIBUTE17  1087.5
    ATTRIBUTE18  Water
    ATTRIBUTE22  D-107A01-002
    ATTRIBUTE23  GR-3
    ATTRIBUTE25  2B
    ATTRIBUTE26  3"P0102Dx (TP-46)
    ATTRIBUTE99 END
PIPE
    END-POINT -19614.500          17644.576          1380.272  4  BW
    END-POINT -19614.500          17644.576          1358.500  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    SPOOL-IDENTIFIER 1070442-01-1   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_29G                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19614.500          17644.576          1380.272  4
    END-POINT -19614.500          17644.576          1380.272  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_29H                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
WELD
    END-POINT -19614.500          17644.576          1358.500  4
    END-POINT -19614.500          17644.576          1358.500  4
    SKEY WF
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_31Z                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19620.500          17644.576          1352.500  4  BW
    END-POINT -19614.500          17644.576          1358.500  4  BW
    CENTRE-POINT  -19614.500          17644.576          1352.500 
    SKEY ELBW
    CONTINUATION 
    WEIGHT          11.660
    SPOOL-IDENTIFIER 1070442-03-9   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_29C                 
    PIPING-SPEC E-C1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS -19620.500          17644.576          1352.500 
    PIPELINE-REFERENCE 1070442-03
ELBOW
    END-POINT -19614.500          17644.576          1380.272  4  BW
    END-POINT -19614.500          17638.576          1386.272  4  BW
    CENTRE-POINT  -19614.500          17644.576          1386.272 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT          11.660
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_29E                 
    PIPING-SPEC E-C1
    ANGLE 9000
WELD
    END-POINT -19614.500          17638.576          1386.272  4
    END-POINT -19614.500          17638.576          1386.272  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2A3                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19614.500          17559.416          1386.272  4  BW
    END-POINT -19614.500          17638.576          1386.272  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2A1                 
    PIPING-SPEC E-C1
SUPPORT
    CO-ORDS -19614.500  17602.134   1386.272  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2A4                 
WELD
    END-POINT -19614.500          17559.416          1386.272  4
    END-POINT -19614.500          17559.416          1386.272  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2A2                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19612.732          17555.148          1386.272  4  BW
    END-POINT -19614.500          17559.416          1386.272  4  BW
    CENTRE-POINT  -19614.500          17556.916          1386.272 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           5.790
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_29X                 
    PIPING-SPEC E-C1
    ANGLE 4500
WELD
    END-POINT -19612.732          17555.148          1386.272  4
    END-POINT -19612.732          17555.148          1386.272  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_29Z                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19612.732          17555.148          1386.272  4  BW
    END-POINT -19611.268          17553.684          1386.272  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_29Y                 
    PIPING-SPEC E-C1
WELD
    END-POINT -19611.268          17553.684          1386.272  4
    END-POINT -19611.268          17553.684          1386.272  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_2A0                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
ELBOW
    END-POINT -19609.500          17549.416          1386.272  4  BW
    END-POINT -19611.268          17553.684          1386.272  4  BW
    CENTRE-POINT  -19609.500          17551.916          1386.272 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           5.790
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_29Q                 
    PIPING-SPEC E-C1
    ANGLE 4500
WELD
    END-POINT -19609.500          17549.416          1386.272  4
    END-POINT -19609.500          17549.416          1386.272  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_328                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19609.500          17549.416          1386.272  4  BW
    END-POINT -19609.500          17069.416          1386.272  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    SPOOL-IDENTIFIER 1070442-01-2   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_33F                 
    PIPING-SPEC E-C1
SUPPORT
    CO-ORDS -19609.500  17172.000   1386.272  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_25B                 
SUPPORT
    CO-ORDS -19609.500  17460.000   1386.272  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_257                 
SUPPORT
    CO-ORDS -19609.500  17316.000   1386.272  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_259                 
FLOW-ARROW
    CO-ORDS -19609.500  17355.423   1386.272 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT -19609.500          17069.416          1386.272  4
    END-POINT -19609.500          17069.416          1386.272  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_33M                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
PIPE
    END-POINT -19609.500          17069.416          1386.272  4  BW
    END-POINT -19609.500          16767.000          1386.272  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          14.980
    SPOOL-IDENTIFIER 1070442-01-3   
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_33L                 
    PIPING-SPEC E-C1
SUPPORT
    CO-ORDS -19609.500  17028.000   1386.272  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_33P                 
SUPPORT
    CO-ORDS -19609.500  16890.000   1386.272  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_33R                 
WELD
    END-POINT -19609.500          16767.000          1386.272  4
    END-POINT -19609.500          16767.000          1386.272  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_H5CJLMD2_33N                 
    THICKNESS/RATING XS
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC E-C1
END-POSITION-OPEN 
    CO-ORDS -19609.500          16767.000          1386.272 
MATERIALS
ITEM-CODE PIP4
    CATALOG ANSI B36.10
    DESCRIPTION PIPE, SCH XS, SMLS STL, A106-B
    RATING XS
ITEM-CODE 90LLR4
    CATALOG ASME B16.9-1993
    DESCRIPTION 90 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
ITEM-CODE SUPTS-4
    DESCRIPTION TEE SHOE SUPPORT S-9C, SEE DETAIL PS2028
ITEM-CODE 45LLR4
    CATALOG ASME B16.9-1993
    DESCRIPTION 45 DEG. LR ELBOW, SCH XS, STL, A234 WPB
    RATING XS
