ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28100-PE-0036-05
    PIPING-SPEC   AAQD0
    INSULATION-SPEC   H
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   ET
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28100-3"-PE-0036-AAQD0-40H-ET
    ATTRIBUTE22   *28100-PE-0036-05*
    ATTRIBUTE8   PE, PRODUCED EMULSION
    ATTRIBUTE9   03/09/2012
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2053148.000    2077990.000    497644.450     3    
    END-POINT    2053148.000    2042490.000    497644.450     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    WEIGHT    70.564
    UCI    {0001388C-0000-0000-0307-A20A604F2805}
    ITEM-CODE    PPPABQBEACR110Z121
    ITEM-DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    35500.00
SUPPORT
    CO-ORDS    2053148.000    2075490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-C238-99059E4F4705}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2069490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-FB37-99059E4F4705}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2063490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-1E37-99059E4F4705}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2057490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-3535-99059E4F4705}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2051490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4L
    ITEM-DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
    WEIGHT    15.876
    UCI    {00022303-0000-0000-1434-99059E4F4705}
    NAME    S2C4L
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2045490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-C730-99059E4F4705}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2051490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DAS2
    ITEM-DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
    WEIGHT    2.695
    UCI    {00022303-0000-0000-B933-6034E04F0405}
    NAME    DAS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2057490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-7835-6034E04F0405}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2069490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-3E39-6034E04F0405}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053148.000    2045490.000    497644.450     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-CD12-6034E04F0405}
    NAME    GUS2
    ERECTION-ITEM
WELD
    END-POINT    2053148.000    2077990.000    497644.450     3    
    END-POINT    2053148.000    2077990.000    497644.450     3    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    64
    UCI    {000138AA-0000-0000-5560-8A40ED4FE904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28100-PE-0036-05-64
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2053148.000    2082905.700    497644.450     3    
    END-POINT    2053148.000    2077990.000    497644.450     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    WEIGHT    70.564
    UCI    {0001388C-0000-0000-654F-8A40ED4FE904}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACR110Z121
    ITEM-DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
    CONTINUATION
PIPE
    END-POINT    2053148.000    2042490.000    497644.450     3    
    END-POINT    2053148.000    2035261.526    497644.450     3    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    ET
    MISC-SPEC1    28100-PE-0036
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AAQD0
    WEIGHT    70.564
    UCI    {0001388C-0000-0000-1E15-68745D4F7605}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACR110Z121
    ITEM-DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
    CONTINUATION
WELD
    END-POINT    2053148.000    2042490.000    497644.450     3    
    END-POINT    2053148.000    2042490.000    497644.450     3    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    66
    UCI    {000138AA-0000-0000-0A46-CCB6984FAD04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28100-PE-0036-06-66
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
FLOW-ARROW
    CO-ORDS    2053148.000    2060240.000    497644.450
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2053148.000    2082905.700    497644.450
    CONNECTION-REFERENCE  28100-PE-0036-01
END-CONNECTION-PIPELINE
    CO-ORDS    2053148.000    2035261.526    497644.450
    CONNECTION-REFERENCE  28100-PE-0036-06
MATERIALS
ITEM-CODE    PPPABQBEACR110Z121
    DESCRIPTION    PIPE , B36.10M , BE , ASTM A106-B , SMLS, NACE MR0175/ISO15156 , S-160
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
ITEM-CODE    S2C4L
    DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
ITEM-CODE    DAS2
    DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
ITEM-CODE    GUS2
    DESCRIPTION    GUIDE WITH SHOE
