ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-SC-0058-01
    PIPING-SPEC   AASB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025GBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-1"-SC-0058-AASB0-40H-GT
    ATTRIBUTE22   *28400-SC-0058-01*
    ATTRIBUTE8   SC, STEAM CONDENSATE
    ATTRIBUTE9   27/08/2012
    ATTRIBUTE31   280025GBMP
    MISC-SPEC1    28400-SC-0058
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2056500.000    2022692.500    496617.000     1    
    END-POINT    2051623.940    2022692.500    496617.000     1    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0058
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    10.964
    UCI    {0001388C-0000-0000-0518-5E820650C304}
    ITEM-CODE    PPPABQPEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, PE, ASTM A106-B, SMLS, S-XS
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    4876.06
SUPPORT
    CO-ORDS    2052699.758    2022692.500    496617.000     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    2.948
    UCI    {00022303-0000-0000-3B18-93802050BE04}
    NAME    S1C4S
SUPPORT
    CO-ORDS    2056000.000    2022692.500    496617.000     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    2.948
    UCI    {00022303-0000-0000-9712-CB2F1F50AB04}
    NAME    S1C4S
SUPPORT
    CO-ORDS    2056000.000    2022692.500    496617.000     1
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS1
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    0.485
    UCI    {00022303-0000-0000-0511-0A403B50F304}
    NAME    GUS1
    ERECTION-ITEM
WELD
    END-POINT    2056500.000    2022692.500    496617.000     1    
    END-POINT    2056500.000    2022692.500    496617.000     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8E09-5B033B50D206}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0058-01-
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2051600.000    2022692.500    496593.060     1    
    END-POINT    2051600.000    2022692.500    495682.550     1    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0058
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    10.964
    UCI    {0001388C-0000-0000-6B16-760D3350ED05}
    ITEM-CODE    PPPABQPEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, PE, ASTM A106-B, SMLS, S-XS
    CUT-PIECE-LENGTH    910.51
WELD
    END-POINT    2051600.000    2022692.500    496593.060     1    
    END-POINT    2051600.000    2022692.500    496593.060     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    18
    UCI    {000138AA-0000-0000-7716-760D3350ED05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0058-01-18
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2051623.940    2022692.500    496617.000     1    SW
    END-POINT    2051600.000    2022692.500    496593.060     1    SW
    CENTRE-POINT    2051600.000    2022692.500    496617.000        
    SKEY    EL**
    ITEM-CODE    OE90AB2SSWACFZZZZ999
    ITEM-DESCRIPTION    90 DEG. ELBOW, B16.11, CL 3000, SWE, ASTM A105N
    UCI    {00013885-0000-0000-A1A0-F9C6EB4FB704}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0058
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.509
WELD
    END-POINT    2051623.940    2022692.500    496617.000     1    
    END-POINT    2051623.940    2022692.500    496617.000     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    17
    UCI    {000138AA-0000-0000-1418-5E820650C304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0058-01-17
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    CONTINUATION
    END-POINT    2056584.455    2022692.500    496617.000     1    SW
    END-POINT    2056500.000    2022692.500    496617.000     1    SW
    CENTRE-POINT    2056542.228    2022692.500    496617.000        
    SKEY    VV**
    ITEM-CODE    VGRAA5MSWAFACFAAG113Z999
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-1223-67622C506105}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0058
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    3.803
    SPINDLE-DIRECTION    UP
    DIRECTION    UP
OLET
    CONTINUATION
    CENTRE-POINT    2051600.000    2022692.500    495630.163        
    BRANCH1-POINT    2051600.000    2022692.500    495682.550     1    
    SKEY    SKSW
    ITEM-CODE    OSOCAM9SISACFZZZZ999
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-3A15-760D3350ED05}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.298
WELD
    END-POINT    2051600.000    2022692.500    495682.550     1    
    END-POINT    2051600.000    2022692.500    495682.550     1    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8C09-5B033B50D206}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-2005
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    STATUS    DOTTED-UNDIMENSIONED
FLOW-ARROW
    CO-ORDS    2054061.970    2022692.500    496617.000
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2056584.455    2022692.500    496617.000
    CONNECTION-REFERENCE  28400-SC-0058-02
END-CONNECTION-PIPELINE
    CO-ORDS    2051600.000    2022692.500    495630.163
    CONNECTION-REFERENCE  28400-SC-0050-07
MATERIALS
ITEM-CODE    PPPABQPEACRAAGZ095
    DESCRIPTION    PIPE, B36.10M, PE, ASTM A106-B, SMLS, S-XS
ITEM-CODE    S1C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
ITEM-CODE    GUS1
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    OE90AB2SSWACFZZZZ999
    DESCRIPTION    90 DEG. ELBOW, B16.11, CL 3000, SWE, ASTM A105N
