ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0016-02
    PIPING-SPEC   AARC0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025GBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-10"-BD-0016-AARC0-65H-GT
    ATTRIBUTE22   *28400-BD-0016-02*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   25/08/2012
    ATTRIBUTE31   280025GBMP
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    2053690.000    2016784.130    494355.525     10    BW
    END-POINT    2054071.000    2016784.130    494736.525     10    BW
    CENTRE-POINT    2053690.000    2016784.130    494736.525        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-8134-72642C50B804}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    FABRICATION-ITEM
    WEIGHT    42.020
WELD
    END-POINT    2054071.000    2016784.130    494736.525     10    
    END-POINT    2054071.000    2016784.130    494736.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-E034-72642C50B804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-1623
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053690.000    2016784.130    494355.525     10    
    END-POINT    2053690.000    2016784.130    493952.425     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-8834-72642C50B804}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    403.10
WELD
    END-POINT    2053690.000    2016784.130    493952.425     10    
    END-POINT    2053690.000    2016784.130    493952.425     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-E234-72642C50B804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-1624
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2053690.000    2016784.130    494355.525     10    
    END-POINT    2053690.000    2016784.130    494355.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-DE34-72642C50B804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-1622
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    2053690.000    2017000.030    493736.525     10    BW
    END-POINT    2053690.000    2016568.230    493736.525     10    BW
    CENTRE-POINT    2053690.000    2016784.130    493736.525        
    BRANCH1-POINT    2053690.000    2016784.130    493952.425     10    BW
    SKEY    TE**
    ITEM-CODE    BTEEABMBEACKABA085
    ITEM-DESCRIPTION    EQUAL TEE, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-3305-9B3E23501E06}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    FABRICATION-ITEM
    WEIGHT    40.344
WELD
    END-POINT    2053690.000    2017000.030    493736.525     10    
    END-POINT    2053690.000    2017000.030    493736.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    35
    UCI    {000138AA-0000-0000-DE05-9B3E23501E06}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-02-35
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053690.000    2042490.000    493736.525     10    
    END-POINT    2053690.000    2017000.030    493736.525     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-3A05-9B3E23501E06}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    25489.97
SUPPORT
    CO-ORDS    2053690.000    2033490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUS2 Guide with Shoe
    WEIGHT    1.187
    UCI    {00022303-0000-0000-5027-72642C50B804}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053690.000    2021490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUS2 Guide with Shoe
    WEIGHT    1.187
    UCI    {00022303-0000-0000-E22B-72642C50B804}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053690.000    2033490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DAS2
    ITEM-DESCRIPTION    DAS2 Directional Anchor with Shoe
    WEIGHT    2.695
    UCI    {00022303-0000-0000-F128-72642C50B804}
    NAME    DAS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053690.000    2033490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4L
    ITEM-DESCRIPTION    S2C4L Shoe Carbon Steel - Long 4in (100mm) High
    WEIGHT    15.876
    UCI    {00022303-0000-0000-2809-988420504205}
    NAME    S2C4L
SUPPORT
    CO-ORDS    2053690.000    2039490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-3708-988420504205}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053690.000    2021490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-DD0A-988420504205}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053690.000    2027490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-FD09-988420504205}
    NAME    S2C4S
WELD
    END-POINT    2053690.000    2042490.000    493736.525     10    
    END-POINT    2053690.000    2042490.000    493736.525     10    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    12
    UCI    {000138AA-0000-0000-6406-8B3016506105}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-02-12
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2053690.000    2016568.230    493736.525     10    
    END-POINT    2053690.000    2009161.400    493736.525     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-D502-9B3E23501E06}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    7406.83
SUPPORT
    CO-ORDS    2053690.000    2009490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-9F0C-988420504205}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053690.000    2015490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-BE0B-988420504205}
    NAME    S2C4S
WELD
    END-POINT    2053690.000    2016568.230    493736.525     10    
    END-POINT    2053690.000    2016568.230    493736.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    34
    UCI    {000138AA-0000-0000-E005-9B3E23501E06}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-02-34
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2054071.000    2016784.130    494736.525     10    
    END-POINT    2056399.924    2016784.130    494736.525     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-E213-9B3E23501E06}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    2328.92
SUPPORT
    CO-ORDS    2056000.000    2016784.130    494736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-C50D-3ED429509704}
    NAME    S2C4S
WELD
    END-POINT    2056399.924    2016784.130    494736.525     10    
    END-POINT    2056399.924    2016784.130    494736.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9702-E70C2E50DF05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-1661
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    2056500.000    2016784.130    494736.525     10    
    END-POINT    2056399.924    2016784.130    494736.525     10    
    SKEY    FLWN
    ITEM-CODE    FWNABLDRFACFZZZZ085
    ITEM-DESCRIPTION    WN FLG., B16.5, CL 150, RFFE, ASTM A105N, S-STD
    UCI    {00013885-0000-0000-6102-E70C2E50DF05}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    2053690.000    2052715.934    493736.525     10    
    END-POINT    2053690.000    2042490.000    493736.525     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-5D06-8B3016506105}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
ELBOW
    CONTINUATION
    END-POINT    2053690.000    2009161.400    493736.525     10    BW
    END-POINT    2053690.000    2008780.400    493355.525     10    BW
    CENTRE-POINT    2053690.000    2008780.400    493736.525        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-2629-67622C506105}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    FABRICATION-ITEM
    WEIGHT    42.020
WELD
    END-POINT    2053690.000    2009161.400    493736.525     10    
    END-POINT    2053690.000    2009161.400    493736.525     10    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9729-67622C506105}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-03-
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
GASKET
    END-POINT    2056503.175    2016784.130    494736.525     10    
    END-POINT    2056500.000    2016784.130    494736.525     10    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-6C02-E70C2E50DF05}
    ITEM-CODE    GSWAB6DRFA11A1FZ999
    ITEM-DESCRIPTION    SP. WND GSKT, CL 150, RF, 316 SS-FG, CS-CR, SS IR, 1/8"
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
VALVE
    CONTINUATION
    END-POINT    2056833.375    2016784.130    494736.525     10    FL
    END-POINT    2056503.175    2016784.130    494736.525     10    FL
    CENTRE-POINT    2056668.275    2016784.130    494736.525        
    SKEY    VV**
    ITEM-CODE    VGRAAADRFAFACDAAG114Z999
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-4602-E70C2E50DF05}
    INSULATION-SPEC    PP
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    None
    MISC-SPEC1    28400-BD-0022
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    ERECTION-ITEM
    WEIGHT    291.193
    SPINDLE-DIRECTION    UP
    DIRECTION    UP
FLOW-ARROW
    CO-ORDS    2055235.462    2016784.130    494736.525
    FLOW 2
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    2053690.000    2029745.015    493736.525
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2053690.000    2052715.934    493736.525
    CONNECTION-REFERENCE  28400-BD-0016-01
END-CONNECTION-PIPELINE
    CO-ORDS    2053690.000    2008780.400    493355.525
    CONNECTION-REFERENCE  28400-BD-0016-03
END-CONNECTION-PIPELINE
    CO-ORDS    2056833.375    2016784.130    494736.525
    CONNECTION-REFERENCE  28400-BD-0022-05
MATERIALS
ITEM-CODE    BE9LABMBEACKABA085
    DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    BTEEABMBEACKABA085
    DESCRIPTION    EQUAL TEE, BE, ASTM A234-WPB, SMLS, S-STD
ITEM-CODE    GUS2
    DESCRIPTION    GUS2 Guide with Shoe
ITEM-CODE    DAS2
    DESCRIPTION    DAS2 Directional Anchor with Shoe
ITEM-CODE    S2C4L
    DESCRIPTION    S2C4L Shoe Carbon Steel - Long 4in (100mm) High
ITEM-CODE    S2C4S
    DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
ITEM-CODE    FWNABLDRFACFZZZZ085
    DESCRIPTION    WN FLG., B16.5, CL 150, RFFE, ASTM A105N, S-STD
ITEM-CODE    GSWAB6DRFA11A1FZ999
    DESCRIPTION    SP. WND GSKT, CL 150, RF, 316 SS-FG, CS-CR, SS IR, 1/8"
