ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-SC-0006-08
    PIPING-SPEC   CASB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025GBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-6"-SC-0006-CASB0-50H-GT
    ATTRIBUTE22   *28400-SC-0006-08*
    ATTRIBUTE8   SC, STEAM CONDENSATE
    ATTRIBUTE9   08/08/2012
    ATTRIBUTE31   280025GBMP
    MISC-SPEC1    28400-SC-0006
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    2053568.000    2038715.821    495455.538     6    BW
    END-POINT    2053568.000    2038944.421    495684.138     6    BW
    CENTRE-POINT    2053568.000    2038715.821    495684.138        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA095
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-XS
    UCI    {00013885-0000-0000-6600-35AEC44F1805}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0006
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    CASB0
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    FABRICATION-ITEM
    WEIGHT    16.268
WELD
    END-POINT    2053568.000    2038944.421    495684.138     6    
    END-POINT    2053568.000    2038944.421    495684.138     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    5
    UCI    {000138AA-0000-0000-C000-35AEC44F1805}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0006-08-05
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2056500.000    2038715.821    494684.138     6    
    END-POINT    2053796.600    2038715.821    494684.138     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0006
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    CASB0
    WEIGHT    93.477
    UCI    {0001388C-0000-0000-1202-45D1944F0906}
    ITEM-CODE    PPPABQBEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- XS
    CUT-PIECE-LENGTH    2703.40
SUPPORT
    CO-ORDS    2056000.000    2038715.821    494684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4L
    ITEM-DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
    WEIGHT    15.876
    UCI    {00022303-0000-0000-301A-D6B320504705}
    NAME    S2C4L
SUPPORT
    CO-ORDS    2056000.000    2038715.821    494684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DAS2
    ITEM-DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
    WEIGHT    2.695
    UCI    {00022303-0000-0000-EB1E-D6B320504705}
    NAME    DAS2
    ERECTION-ITEM
WELD
    END-POINT    2056500.000    2038715.821    494684.138     6    
    END-POINT    2056500.000    2038715.821    494684.138     6    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    1
    UCI    {000138AA-0000-0000-0604-0D7FD54FF405}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0006-08-01
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2053568.000    2038715.821    494912.738     6    
    END-POINT    2053568.000    2038715.821    495455.538     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0006
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    CASB0
    WEIGHT    93.477
    UCI    {0001388C-0000-0000-0809-635DE94F6204}
    ITEM-CODE    PPPABQBEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- XS
    CUT-PIECE-LENGTH    542.80
WELD
    END-POINT    2053568.000    2038715.821    494912.738     6    
    END-POINT    2053568.000    2038715.821    494912.738     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    3
    UCI    {000138AA-0000-0000-2E09-635DE94F6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0006-08-03
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2053568.000    2038715.821    495455.538     6    
    END-POINT    2053568.000    2038715.821    495455.538     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    4
    UCI    {000138AA-0000-0000-3009-635DE94F6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0006-08-04
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2053796.600    2038715.821    494684.138     6    BW
    END-POINT    2053568.000    2038715.821    494912.738     6    BW
    CENTRE-POINT    2053568.000    2038715.821    494684.138        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA095
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-XS
    UCI    {00013885-0000-0000-363E-9599DE4FB604}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0006
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    CASB0
    FABRICATION-ITEM
    WEIGHT    16.268
WELD
    END-POINT    2053796.600    2038715.821    494684.138     6    
    END-POINT    2053796.600    2038715.821    494684.138     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    2
    UCI    {000138AA-0000-0000-953E-9599DE4FB604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0006-08-02
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053568.000    2038944.421    495684.138     6    
    END-POINT    2053568.000    2042490.000    495684.138     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0006
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    CASB0
    WEIGHT    93.477
    UCI    {0001388C-0000-0000-680B-EB80B04FEC05}
    ITEM-CODE    PPPABQBEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- XS
    CUT-PIECE-LENGTH    3545.58
SUPPORT
    CO-ORDS    2053568.000    2039490.000    495684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-7C0A-E667B44FC704}
    NAME    S2C4S
WELD
    END-POINT    2053568.000    2042490.000    495684.138     6    
    END-POINT    2053568.000    2042490.000    495684.138     6    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    6
    UCI    {000138AA-0000-0000-050C-EB80B04FEC05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0006-08-06
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2060540.436    2038715.821    494684.138     6    
    END-POINT    2056500.000    2038715.821    494684.138     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0006
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    CASB0
    WEIGHT    93.477
    UCI    {0001388C-0000-0000-B003-0D7FD54FF405}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- XS
    CONTINUATION
PIPE
    END-POINT    2053568.000    2042490.000    495684.138     6    
    END-POINT    2053568.000    2075875.800    495684.138     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0006
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    CASB0
    WEIGHT    93.477
    UCI    {0001388C-0000-0000-314F-CCB6984FAD04}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ095
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- XS
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2053568.000    2040717.211    495684.138
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2060540.436    2038715.821    494684.138
    CONNECTION-REFERENCE  28400-SC-0006-09
END-CONNECTION-PIPELINE
    CO-ORDS    2053568.000    2075875.800    495684.138
    CONNECTION-REFERENCE  28400-SC-0006-07
MATERIALS
ITEM-CODE    BE9LABMBEACKABA095
    DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-XS
ITEM-CODE    PPPABQBEACRAAGZ095
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- XS
ITEM-CODE    S2C4L
    DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
ITEM-CODE    DAS2
    DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
