ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-SC-0050-06
    PIPING-SPEC   AASB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-2"-SC-0050-AASB0-50H-GT
    ATTRIBUTE22   *28400-SC-0050-06*
    ATTRIBUTE8   SC, STEAM CONDENSATE
    ATTRIBUTE9   25/08/2012
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2051600.000    2077990.000    495630.162     2    
    END-POINT    2051600.000    2042490.000    495630.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-F303-E89A0350D305}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    35500.00
SUPPORT
    CO-ORDS    2051600.000    2069490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4L
    ITEM-DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
    WEIGHT    5.897
    UCI    {00022303-0000-0000-601C-2BF7E34FCD04}
    NAME    S1C4L
SUPPORT
    CO-ORDS    2051600.000    2069490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS1
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    0.485
    UCI    {00022303-0000-0000-2D31-6EBD35507507}
    NAME    GUS1
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2063490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS1
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    0.485
    UCI    {00022303-0000-0000-3032-6EBD35507507}
    NAME    GUS1
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2051490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS1
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    0.485
    UCI    {00022303-0000-0000-E736-6EBD35507507}
    NAME    GUS1
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2069490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DAS1
    ITEM-DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
    WEIGHT    0.000
    UCI    {00022303-0000-0000-2C40-7C7938502E05}
    NAME    DAS1
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2051600.000    2063490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    2.948
    UCI    {00022303-0000-0000-751E-2BF7E34FCD04}
    NAME    S1C4S
SUPPORT
    CO-ORDS    2051600.000    2075490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    2.948
    UCI    {00022303-0000-0000-9A16-2BF7E34FCD04}
    NAME    S1C4S
SUPPORT
    CO-ORDS    2051600.000    2051490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    2.948
    UCI    {00022303-0000-0000-9F24-2BF7E34FCD04}
    NAME    S1C4S
SUPPORT
    CO-ORDS    2051600.000    2057490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    2.948
    UCI    {00022303-0000-0000-C31F-2BF7E34FCD04}
    NAME    S1C4S
SUPPORT
    CO-ORDS    2051600.000    2045490.000    495630.162     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    2.948
    UCI    {00022303-0000-0000-C82B-2BF7E34FCD04}
    NAME    S1C4S
WELD
    END-POINT    2051600.000    2077990.000    495630.162     2    
    END-POINT    2051600.000    2077990.000    495630.162     2    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    113
    UCI    {000138AA-0000-0000-1734-760D3350ED05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-06-113
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2051600.000    2082001.800    495630.162     2    
    END-POINT    2051600.000    2077990.000    495630.162     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-1508-9D3FE04FA005}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
PIPE
    END-POINT    2051600.000    2042490.000    495630.163     2    
    END-POINT    2051600.000    2022692.500    495630.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.451
    UCI    {0001388C-0000-0000-4203-B7DFDE4FEB05}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
WELD
    END-POINT    2051600.000    2042490.000    495630.163     2    
    END-POINT    2051600.000    2042490.000    495630.163     2    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    114
    UCI    {000138AA-0000-0000-D735-760D3350ED05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-07-114
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
FLOW-ARROW
    CO-ORDS    2051600.000    2060240.000    495630.162
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2051600.000    2082001.800    495630.162
    CONNECTION-REFERENCE  28400-SC-0050-03
END-CONNECTION-PIPELINE
    CO-ORDS    2051600.000    2022692.500    495630.163
    CONNECTION-REFERENCE  28400-SC-0050-07
MATERIALS
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    S1C4L
    DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
ITEM-CODE    GUS1
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    DAS1
    DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
ITEM-CODE    S1C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
