ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-SC-0007-01
    PIPING-SPEC   AASB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025FBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-4"-SC-0007-AASB0-40H-GT
    ATTRIBUTE22   *28400-SC-0007-01*
    ATTRIBUTE8   SC, STEAM CONDENSATE
    ATTRIBUTE9   22/08/2012
    ATTRIBUTE31   280025FBMP
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    2055534.000    2050737.552    493809.550     4    BW
    END-POINT    2055534.000    2050889.952    493657.150     4    BW
    CENTRE-POINT    2055534.000    2050737.552    493657.150        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-1211-AF2FC44F6604}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    FABRICATION-ITEM
    WEIGHT    14.189
WELD
    END-POINT    2055534.000    2050737.552    493809.550     4    
    END-POINT    2055534.000    2050737.552    493809.550     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    17
    UCI    {000138AA-0000-0000-8A2E-B9DAE34F6A04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0007-01-17
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2055534.000    2050889.952    493657.150     4    
    END-POINT    2055534.000    2050889.952    493657.150     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    16
    UCI    {000138AA-0000-0000-2211-AF2FC44F6604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0007-01-16
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2055534.000    2050889.952    493657.150     4    
    END-POINT    2055534.000    2064422.928    493657.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    85.838
    UCI    {0001388C-0000-0000-9812-AF2FC44F6604}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    13532.98
SUPPORT
    CO-ORDS    2055534.000    2057490.000    493657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUS2 Guide with Shoe
    WEIGHT    1.187
    UCI    {00022303-0000-0000-5E04-2CDF31509905}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2055534.000    2051490.000    493657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-DF02-2CDF31509905}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2055534.000    2057490.000    493657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-7801-2CDF31509905}
    NAME    S2C4S
    FABRICATION-ITEM
SUPPORT
    CO-ORDS    2055534.000    2063490.000    493657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-0900-2CDF31509905}
    NAME    S2C4S
    FABRICATION-ITEM
WELD
    END-POINT    2055534.000    2064422.928    493657.150     4    
    END-POINT    2055534.000    2064422.928    493657.150     4    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    40
    UCI    {000138AA-0000-0000-8B2F-34483450CD04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0007-2115
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2056352.400    2050737.552    494657.150     4    
    END-POINT    2055686.400    2050737.552    494657.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    85.838
    UCI    {0001388C-0000-0000-EE10-AF2FC44F6604}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    813.60
PIPE
    END-POINT    2056500.000    2050737.552    494657.150     4    
    END-POINT    2056352.400    2050737.552    494657.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    85.838
    UCI    {0001388C-0000-0000-EE10-AF2FC44F6604}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    813.60
SUPPORT
    CO-ORDS    2056000.000    2050737.552    494657.150     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    9.525
    UCI    {00022303-0000-0000-9106-2CDF31509905}
    NAME    S2C4S
    FABRICATION-ITEM
WELD
    END-POINT    2056500.000    2050737.552    494657.150     4    
    END-POINT    2056500.000    2050737.552    494657.150     4    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    20
    UCI    {000138AA-0000-0000-F410-AF2FC44F6604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0007-01-20
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    2055686.400    2050737.552    494657.150     4    BW
    END-POINT    2055534.000    2050737.552    494504.750     4    BW
    CENTRE-POINT    2055534.000    2050737.552    494657.150        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-772E-B9DAE34F6A04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    14.189
WELD
    END-POINT    2055686.400    2050737.552    494657.150     4    
    END-POINT    2055686.400    2050737.552    494657.150     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    19
    UCI    {000138AA-0000-0000-862E-B9DAE34F6A04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0007-01-19
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2055534.000    2050737.552    494504.750     4    
    END-POINT    2055534.000    2050737.552    493809.550     4    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    85.838
    UCI    {0001388C-0000-0000-7E2E-B9DAE34F6A04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    695.20
WELD
    END-POINT    2055534.000    2050737.552    494504.750     4    
    END-POINT    2055534.000    2050737.552    494504.750     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    18
    UCI    {000138AA-0000-0000-882E-B9DAE34F6A04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0007-01-18
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    2056352.400    2050737.552    494657.150        
    BRANCH1-POINT    2056352.400    2050737.552    494727.000    0.75    
    SKEY    THSC
    ITEM-CODE    OTHLAM9SIFACFZZZZ999
    ITEM-DESCRIPTION    THREDOLET 3000# IRE X FTE, STL A105N
    UCI    {00013885-0000-0000-9801-7D4B34509205}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    1.354
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    41
    UCI    {000138AA-0000-0000-F301-7D4B34509205}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0007-2120
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
MISC-COMPONENT
    END-POINT    2056352.400    2050737.552    494727.000    0.75    SC
    END-POINT    2056352.400    2050737.552    494736.525    0.75    
    CENTRE-POINT    2056352.400    2050737.552    494727.000        
    SKEY    PL
    ITEM-CODE    OPLRAB2TMACFZZZZ999
    ITEM-DESCRIPTION    PLUG ROUND HEAD, B16.11, MTE, ASTM A105N
    UCI    {00013885-0000-0000-FE01-7D4B34509205}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    ERECTION-ITEM
    WEIGHT    0.000
ELBOW
    CONTINUATION
    END-POINT    2055534.000    2064422.928    493657.150     4    BW
    END-POINT    2055534.000    2064575.328    493504.750     4    BW
    CENTRE-POINT    2055534.000    2064575.328    493657.150        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-C42E-34483450CD04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    14.189
ELBOW
    CONTINUATION
    END-POINT    2056500.000    2050737.552    494657.150     4    BW
    END-POINT    2056652.400    2050737.552    494504.750     4    BW
    CENTRE-POINT    2056652.400    2050737.552    494657.150        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-A308-73EF4D4F9105}
    INSULATION-SPEC    None
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0007
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    14.189
FLOW-ARROW
    CO-ORDS    2055534.000    2057656.440    493657.150
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2055534.000    2064575.328    493504.750
    CONNECTION-REFERENCE  28400-SC-0007-03
END-CONNECTION-PIPELINE
    CO-ORDS    2056652.400    2050737.552    494504.750
    CONNECTION-REFERENCE  28400-SC-0007-02
END-POSITION-CLOSED
    CO-ORDS    2056352.400    2050737.552    494736.525
MATERIALS
ITEM-CODE    BE9LABMBEACKABA085
    DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    GUS2
    DESCRIPTION    GUS2 Guide with Shoe
ITEM-CODE    S2C4S
    DESCRIPTION    S2C4S Shoe Carbon Steel 4in (100mm) High
ITEM-CODE    OTHLAM9SIFACFZZZZ999
    DESCRIPTION    THREDOLET 3000# IRE X FTE, STL A105N
ITEM-CODE    OPLRAB2TMACFZZZZ999
    DESCRIPTION    PLUG ROUND HEAD, B16.11, MTE, ASTM A105N
