ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0016-01
    PIPING-SPEC   AARC0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025FBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-10"-BD-0016-AARC0-65H-GT
    ATTRIBUTE22   *28400-BD-0016-01*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   17/08/2012
    ATTRIBUTE31   280025FBMP
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2054071.000    2053096.934    494736.525     10    
    END-POINT    2056347.600    2053096.934    494736.525     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-E01D-077A17500506}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    2276.60
SUPPORT
    CO-ORDS    2056000.000    2053096.934    494736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-D402-988420504205}
    NAME    S2C4S
WELD
    END-POINT    2056347.600    2053096.934    494736.525     10    
    END-POINT    2056347.600    2053096.934    494736.525     10    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    17
    UCI    {000138AA-0000-0000-EA1D-077A17500506}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-01-17
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2053690.000    2052715.934    493736.525     10    
    END-POINT    2053690.000    2042490.000    493736.525     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-5D06-8B3016506105}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    10225.93
SUPPORT
    CO-ORDS    2053690.000    2045490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-7325-72642C50B804}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2053690.000    2051490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-3006-988420504205}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2053690.000    2045490.000    493736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-5407-988420504205}
    NAME    S2C4S
WELD
    END-POINT    2053690.000    2052715.934    493736.525     10    
    END-POINT    2053690.000    2052715.934    493736.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    13
    UCI    {000138AA-0000-0000-4916-F59807509404}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-01-13
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2053690.000    2053096.934    494117.525     10    
    END-POINT    2053690.000    2053096.934    494355.525     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-9103-E70C2E50DF05}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    238.00
WELD
    END-POINT    2053690.000    2053096.934    494355.525     10    
    END-POINT    2053690.000    2053096.934    494355.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    15
    UCI    {000138AA-0000-0000-9217-F59807509404}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-01-15
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2053690.000    2052715.934    493736.525     10    BW
    END-POINT    2053690.000    2053096.934    494117.525     10    BW
    CENTRE-POINT    2053690.000    2053096.934    493736.525        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-3E16-F59807509404}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    FABRICATION-ITEM
    WEIGHT    42.020
WELD
    END-POINT    2053690.000    2053096.934    494117.525     10    
    END-POINT    2053690.000    2053096.934    494117.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    14
    UCI    {000138AA-0000-0000-9417-F59807509404}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-01-14
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2054071.000    2053096.934    494736.525     10    BW
    END-POINT    2053690.000    2053096.934    494355.525     10    BW
    CENTRE-POINT    2053690.000    2053096.934    494736.525        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-8117-F59807509404}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    FABRICATION-ITEM
    WEIGHT    42.020
WELD
    END-POINT    2054071.000    2053096.934    494736.525     10    
    END-POINT    2054071.000    2053096.934    494736.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-EF03-E70C2E50DF05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-1663
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    CONTINUATION
    END-POINT    2056728.600    2053096.934    494355.525     10    BW
    END-POINT    2056347.600    2053096.934    494736.525     10    BW
    CENTRE-POINT    2056728.600    2053096.934    494736.525        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-D91D-077A17500506}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    FABRICATION-ITEM
    WEIGHT    42.020
PIPE
    END-POINT    2053690.000    2042490.000    493736.525     10    
    END-POINT    2053690.000    2017000.030    493736.525     10    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0016
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    200.402
    UCI    {0001388C-0000-0000-3A05-9B3E23501E06}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
WELD
    END-POINT    2053690.000    2042490.000    493736.525     10    
    END-POINT    2053690.000    2042490.000    493736.525     10    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    12
    UCI    {000138AA-0000-0000-6406-8B3016506105}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0016-02-12
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
FLOW-ARROW
    CO-ORDS    2053690.000    2047602.967    493736.525
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2056728.600    2053096.934    494355.525
    CONNECTION-REFERENCE  28400-BD-0016-04
END-CONNECTION-PIPELINE
    CO-ORDS    2053690.000    2017000.030    493736.525
    CONNECTION-REFERENCE  28400-BD-0016-02
MATERIALS
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
ITEM-CODE    GUS2
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    BE9LABMBEACKABA085
    DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
