ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0031-01
    PIPING-SPEC   AARB0
    INSULATION-SPEC   H
    PAINTING-SPEC   PS9.01
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025FBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-8"-BD-0031-AARB0-65H-GT
    ATTRIBUTE22   *28400-BD-0031-01*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   07/09/2012
    ATTRIBUTE31   280025FBMP
    MISC-SPEC1    28400-BD-0031
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    2054636.496    2064686.971    499919.735     8    BW
    END-POINT    2054636.496    2064903.774    500009.538     8    BW
    CENTRE-POINT    2054636.496    2064776.774    500009.538        
    SKEY    EL**
    ITEM-CODE    BE4LABMBEACKABA085
    ITEM-DESCRIPTION    45 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    ANGLE    4517
    UCI    {00013885-0000-0000-6C18-8ADF3A509D04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0031
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    FABRICATION-ITEM
    WEIGHT    35.628
WELD
    END-POINT    2054636.496    2064903.773    500009.538     8    
    END-POINT    2054636.496    2064903.774    500009.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    15
    UCI    {000138AA-0000-0000-1908-F56F49508604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0031-01-15
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2054636.496    2064687.232    499919.474     8    
    END-POINT    2054636.496    2064377.959    499608.398     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0031
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    238.589
    UCI    {0001388C-0000-0000-7E18-8ADF3A509D04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    438.66
WELD
    END-POINT    2054636.496    2064687.232    499919.474     8    
    END-POINT    2054636.496    2064686.971    499919.735     8    
    SKEY    WM
    ANGLE    17
    REPEAT-WELD-IDENTIFIER    16
    UCI    {000138AA-0000-0000-9318-8ADF3A509D04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0031-01-16
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2054636.496    2066021.759    500009.538     8    BW
    END-POINT    2054941.296    2066326.559    500009.538     8    BW
    CENTRE-POINT    2054636.496    2066326.559    500009.538        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-3225-C0AD35504007}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0031
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    83.149
WELD
    END-POINT    2054941.296    2066326.559    500009.538     8    
    END-POINT    2054941.296    2066326.559    500009.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    13
    UCI    {000138AA-0000-0000-4325-C0AD35504007}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0031-01-13
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2056500.000    2066326.559    500009.538     8    
    END-POINT    2054941.296    2066326.559    500009.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0031
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    238.589
    UCI    {0001388C-0000-0000-3925-C0AD35504007}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    1558.70
SUPPORT
    CO-ORDS    2056000.000    2066326.559    500009.538     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-4E27-88DB3550A004}
    NAME    S2C4S
    FABRICATION-ITEM
WELD
    END-POINT    2056500.000    2066326.559    500009.538     8    
    END-POINT    2056500.000    2066326.559    500009.538     8    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    12
    UCI    {000138AA-0000-0000-5125-C0AD35504007}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0031-01-12
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    2054636.496    2066021.759    500009.538     8    
    END-POINT    2054636.496    2064903.773    500009.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0031
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    238.589
    UCI    {0001388C-0000-0000-0D08-F56F49508604}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    1117.99
WELD
    END-POINT    2054636.496    2066021.759    500009.538     8    
    END-POINT    2054636.496    2066021.759    500009.538     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    14
    UCI    {000138AA-0000-0000-1708-F56F49508604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0031-01-14
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CONTINUATION
    CENTRE-POINT    2054636.496    2063861.521    499088.951        
    BRANCH1-POINT    2054636.496    2064377.963    499608.402     8    
    SKEY    LABW
    ITEM-CODE    5524795
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-5717-8ADF3A509D04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    2054636.496    2064377.963    499608.402     8    
    END-POINT    2054636.496    2064377.959    499608.398     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9718-8ADF3A509D04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-3513
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    STATUS    DOTTED-UNDIMENSIONED
PIPE
    END-POINT    2059222.188    2066326.559    500009.538     8    
    END-POINT    2056500.000    2066326.559    500009.538     8    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0031
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    WEIGHT    238.589
    UCI    {0001388C-0000-0000-4A25-C0AD35504007}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2055720.648    2066326.559    500009.538
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2054636.496    2063861.521    499088.951
    CONNECTION-REFERENCE  28400-BD-0002-01
END-CONNECTION-PIPELINE
    CO-ORDS    2059222.188    2066326.559    500009.538
    CONNECTION-REFERENCE  28400-BD-0031-02
MATERIALS
ITEM-CODE    BE4LABMBEACKABA085
    DESCRIPTION    45 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    BE9LABMBEACKABA085
    DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
