ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-SC-0050-09
    PIPING-SPEC   AASB0
    INSULATION-SPEC   H
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   GT
    ATTRIBUTE25   2800025GBM
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-2"-SC-0050-AASB0-50H-GT
    ATTRIBUTE22   *28400-SC-0050-09*
    ATTRIBUTE8   SC, STEAM CONDENSATE
    ATTRIBUTE9   01/09/2012
    ATTRIBUTE31   280025GBMP
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2056425.000    2020692.327    496706.363     2    
    END-POINT    2056425.000    2020692.327    499853.963     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-4006-26F1EA4F8505}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    3147.60
WELD
    END-POINT    2056425.000    2020692.327    499853.963     2    
    END-POINT    2056425.000    2020692.327    499853.963     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    28
    UCI    {000138AA-0000-0000-3803-2AB6F34FFC04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-08-28
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2056244.554    2020692.327    499930.163     2    
    END-POINT    2054712.696    2020692.327    499930.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-2903-2AB6F34FFC04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    1636.10
PIPE
    END-POINT    2056348.800    2020692.327    499930.163     2    
    END-POINT    2056244.554    2020692.327    499930.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-2903-2AB6F34FFC04}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    1636.10
SUPPORT
    CO-ORDS    2056000.000    2020692.327    499930.163     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    S1C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    2.948
    UCI    {00022303-0000-0000-1509-71203F505705}
    NAME    S1C4S
    FABRICATION-ITEM
WELD
    END-POINT    2056348.800    2020692.327    499930.163     2    
    END-POINT    2056348.800    2020692.327    499930.163     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    29
    UCI    {000138AA-0000-0000-1233-6319E84F8404}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-09-29
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2051676.200    2020692.327    496630.163     2    
    END-POINT    2056348.800    2020692.327    496630.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-1513-5E820650C304}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    4672.60
SUPPORT
    CO-ORDS    2056000.000    2020692.327    496630.163     2
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1C4S
    ITEM-DESCRIPTION    S1C4S Shoe Carbon Steel 4in (100mm) High
    WEIGHT    2.948
    UCI    {00022303-0000-0000-2C1F-4B3940503106}
    NAME    S1C4S
    FABRICATION-ITEM
WELD
    END-POINT    2056348.800    2020692.327    496630.163     2    
    END-POINT    2056348.800    2020692.327    496630.163     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    26
    UCI    {000138AA-0000-0000-C913-5E820650C304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-07-26
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2056348.800    2020692.327    496630.163     2    BW
    END-POINT    2056425.000    2020692.327    496706.363     2    BW
    CENTRE-POINT    2056425.000    2020692.327    496630.163        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-BE13-5E820650C304}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.858
WELD
    END-POINT    2056425.000    2020692.327    496706.363     2    
    END-POINT    2056425.000    2020692.327    496706.363     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    27
    UCI    {000138AA-0000-0000-CB13-5E820650C304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-08-27
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2054712.696    2020692.327    499930.163     2    BW
    END-POINT    2054636.496    2020638.446    499876.281     2    BW
    CENTRE-POINT    2054636.496    2020692.327    499930.163        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-6313-71203F505705}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.858
WELD
    END-POINT    2054712.696    2020692.327    499930.163     2    
    END-POINT    2054712.696    2020692.327    499930.163     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    1
    UCI    {000138AA-0000-0000-CE13-71203F505705}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-2205
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2054636.496    2020638.446    499876.281     2    
    END-POINT    2054636.496    2020195.177    499433.013     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-6A13-71203F505705}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    626.88
WELD
    END-POINT    2054636.496    2020638.446    499876.281     2    
    END-POINT    2054636.496    2020638.446    499876.281     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    2
    UCI    {000138AA-0000-0000-D013-71203F505705}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-2206
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2051600.000    2020692.327    495706.362     2    
    END-POINT    2051600.000    2020692.327    496553.963     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-C551-760D3350ED05}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CUT-PIECE-LENGTH    847.60
WELD
    END-POINT    2051600.000    2020692.327    495706.362     2    
    END-POINT    2051600.000    2020692.327    495706.362     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    23
    UCI    {000138AA-0000-0000-8001-5E820650C304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-07-23
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2051600.000    2020692.327    496553.963     2    
    END-POINT    2051600.000    2020692.327    496553.963     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    24
    UCI    {000138AA-0000-0000-55A8-F9C6EB4FB704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-07-24
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2056425.000    2020692.327    499853.963     2    BW
    END-POINT    2056348.800    2020692.327    499930.163     2    BW
    CENTRE-POINT    2056425.000    2020692.327    499930.163        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-1163-7D42E14F4005}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.858
ELBOW
    END-POINT    2051600.000    2020768.527    495630.163     2    BW
    END-POINT    2051600.000    2020692.327    495706.362     2    BW
    CENTRE-POINT    2051600.000    2020692.327    495630.163        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-2D60-7D42E14F4005}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.858
WELD
    END-POINT    2051600.000    2020768.527    495630.163     2    
    END-POINT    2051600.000    2020768.527    495630.163     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    119
    UCI    {000138AA-0000-0000-D352-760D3350ED05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-09-119
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2051600.000    2020692.327    496553.963     2    BW
    END-POINT    2051676.200    2020692.327    496630.163     2    BW
    CENTRE-POINT    2051600.000    2020692.327    496630.163        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    ITEM-DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
    UCI    {00013885-0000-0000-4AA8-F9C6EB4FB704}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.858
WELD
    END-POINT    2051676.200    2020692.327    496630.163     2    
    END-POINT    2051676.200    2020692.327    496630.163     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    25
    UCI    {000138AA-0000-0000-1B13-5E820650C304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-07-25
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
MISC-COMPONENT
    END-POINT    2056244.554    2020692.327    499973.025    0.75    SC
    END-POINT    2056244.554    2020692.327    499982.550    0.75    
    CENTRE-POINT    2056244.554    2020692.327    499973.025        
    SKEY    PL
    ITEM-CODE    OPLRAB2TMACFZZZZ999
    ITEM-DESCRIPTION    PLUG ROUND HEAD, B16.11, MTE, ASTM A105N
    UCI    {00013885-0000-0000-C011-FE7E41506B04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    ERECTION-ITEM
    WEIGHT    0.000
OLET
    CENTRE-POINT    2056244.554    2020692.327    499930.163        
    BRANCH1-POINT    2056244.554    2020692.327    499973.025    0.75    
    SKEY    THSC
    ITEM-CODE    OTHLAM9SIFACFZZZZ999
    ITEM-DESCRIPTION    THREDOLET 3000# IRE X FTE, STL A105N
    UCI    {00013885-0000-0000-C50E-FE7E41506B04}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    FABRICATION-ITEM
    WEIGHT    0.189
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-120F-FE7E41506B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-SC-0050-2217
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CONTINUATION
    CENTRE-POINT    2054636.496    2019752.999    498990.834        
    BRANCH1-POINT    2054636.496    2020195.177    499433.013     2    
    SKEY    LABW
    ITEM-CODE    5524795
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-200E-71203F505705}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0002
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARB0
    FABRICATION-ITEM
    WEIGHT    3.954
WELD
    END-POINT    2054636.496    2020195.177    499433.013     2    
    END-POINT    2054636.496    2020195.177    499433.013     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-D213-71203F505705}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0002-3605
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    STATUS    DOTTED-UNDIMENSIONED
PIPE
    END-POINT    2051600.000    2020901.045    495630.163     2    
    END-POINT    2051600.000    2020768.527    495630.163     2    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-SC-0050
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AASB0
    WEIGHT    18.687
    UCI    {0001388C-0000-0000-4203-B7DFDE4FEB05}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2056425.000    2020692.327    498280.163
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    2054012.500    2020692.327    496630.163
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2054636.496    2019752.999    498990.834
    CONNECTION-REFERENCE  28400-BD-0002-02
END-CONNECTION-PIPELINE
    CO-ORDS    2051600.000    2020901.045    495630.163
    CONNECTION-REFERENCE  28400-SC-0050-07
END-POSITION-CLOSED
    CO-ORDS    2056244.554    2020692.327    499982.550
MATERIALS
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    S1C4S
    DESCRIPTION    S1C4S Shoe Carbon Steel 4in (100mm) High
ITEM-CODE    BE9LABMBEACKABA085
    DESCRIPTION    90 DEG. LR ELBOW, BE, ASTM A234-WPB, SMLS, S-STD
ITEM-CODE    OPLRAB2TMACFZZZZ999
    DESCRIPTION    PLUG ROUND HEAD, B16.11, MTE, ASTM A105N
ITEM-CODE    OTHLAM9SIFACFZZZZ999
    DESCRIPTION    THREDOLET 3000# IRE X FTE, STL A105N
