ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   28400-BD-0015-06
    PIPING-SPEC   AARC0
    INSULATION-SPEC   H
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   GT
    PROJECT-IDENTIFIER   A5YP
    ATTRIBUTE21   28400-6"-BD-0015-AARC0-50H-GT
    ATTRIBUTE22   *28400-BD-0015-06*
    ATTRIBUTE8   BD, BOILER BLOWDOWN
    ATTRIBUTE9   03/08/2012
    MISC-SPEC1    28400-BD-0015
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    2054970.000    2056827.119    493684.138     6    
    END-POINT    2054970.000    2077990.000    493684.138     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0015
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    93.667
    UCI    {0001388C-0000-0000-8309-219AB04F0E06}
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    SPOOL-IDENTIFIER    NO PIECE MARK IN THIS DRAWING
    CUT-PIECE-LENGTH    21162.88
SUPPORT
    CO-ORDS    2054970.000    2069490.000    493684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DAS2
    ITEM-DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
    WEIGHT    2.695
    UCI    {00022303-0000-0000-8C37-CE3B1B50EE04}
    NAME    DAS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2054970.000    2063490.000    493684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-5F39-CE3B1B50EE04}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2054970.000    2057490.000    493684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-813A-CE3B1B50EE04}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2054970.000    2075490.000    493684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4S
    ITEM-DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
    WEIGHT    9.525
    UCI    {00022303-0000-0000-9333-CE3B1B50EE04}
    NAME    S2C4S
SUPPORT
    CO-ORDS    2054970.000    2069490.000    493684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    GUS2
    ITEM-DESCRIPTION    GUIDE WITH SHOE
    WEIGHT    1.187
    UCI    {00022303-0000-0000-B835-CE3B1B50EE04}
    NAME    GUS2
    ERECTION-ITEM
SUPPORT
    CO-ORDS    2054970.000    2069490.000    493684.138     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2C4L
    ITEM-DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
    WEIGHT    15.876
    UCI    {00022303-0000-0000-8234-CE3B1B50EE04}
    NAME    S2C4L
WELD
    END-POINT    2054970.000    2077990.000    493684.138     6    
    END-POINT    2054970.000    2077990.000    493684.138     6    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    21
    UCI    {000138AA-0000-0000-D105-E89A0350D305}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0015-06-21
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    CONTINUATION
    END-POINT    2054970.000    2056598.519    493455.538     6    BW
    END-POINT    2054970.000    2056827.119    493684.138     6    BW
    CENTRE-POINT    2054970.000    2056598.519    493684.138        
    SKEY    EL**
    ITEM-CODE    BE9LABMBEACKABA085
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-1104-35210D50DE06}
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0015
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    FABRICATION-ITEM
    WEIGHT    11.592
WELD
    END-POINT    2054970.000    2056827.119    493684.138     6    
    END-POINT    2054970.000    2056827.119    493684.138     6    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    23
    UCI    {000138AA-0000-0000-5204-832A0D50D406}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    28400-BD-0015-5029
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
PIPE
    END-POINT    2054970.000    2077990.000    493684.138     6    
    END-POINT    2054970.000    2079817.400    493684.138     6    
    FABRICATION-ITEM
    INSULATION-SPEC    H
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    GT
    MISC-SPEC1    28400-BD-0015
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    AARC0
    WEIGHT    93.667
    UCI    {0001388C-0000-0000-3B35-9D3FE04FA005}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPABQBEACRAAGZ085
    ITEM-DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
    CONTINUATION
FLOW-ARROW
    CO-ORDS    2054970.000    2067408.559    493684.138
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    2054970.000    2056598.519    493455.538
    CONNECTION-REFERENCE  28400-BD-0015-07
END-CONNECTION-PIPELINE
    CO-ORDS    2054970.000    2079817.400    493684.138
    CONNECTION-REFERENCE  28400-BD-0015-01
MATERIALS
ITEM-CODE    PPPABQBEACRAAGZ085
    DESCRIPTION    PIPE, B36.10M, BE, ASTM A106-B, SMLS, S- STD
ITEM-CODE    DAS2
    DESCRIPTION    DIRECTIONAL ANCHOR WITH SHOE
ITEM-CODE    S2C4S
    DESCRIPTION    SHOE CARBON STEEL 4IN (100MM) HIGH
ITEM-CODE    GUS2
    DESCRIPTION    GUIDE WITH SHOE
ITEM-CODE    S2C4L
    DESCRIPTION    SHOE CARBON STEEL - LONG 4IN (100MM) HIGH
