ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036051
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036051-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 1/29/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/29/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/29/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/29/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  57901.444          64114.496          11598.003  0.75  SW FEMALE 
    END-POINT  57901.444          64111.746          11598.003  0.75  SW FEMALE 
    CENTRE-POINT   57901.444          64113.121          11598.003 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNS                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57901.444          64114.496          11598.003  0.75  SW FEMALE 
    END-POINT  57901.444          64114.496          11598.003  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNT                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57901.444          64111.746          11598.003  0.75
    END-POINT  57901.444          64111.746          11598.003  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNR                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57901.444          64107.538          11598.003  0.75  PL
    END-POINT  57901.444          64111.746          11598.003  0.75  PL
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNQ                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  57901.444          64107.538          11598.003 
    PIPELINE-REFERENCE ISO-PY3-1221002
PIPE
    END-POINT  57901.444          64114.496          11598.003  0.75  PL
    END-POINT  57901.444          64117.996          11598.003  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNU                 
    PIPING-SPEC S1
WELD
    END-POINT  57901.444          64117.996          11598.003  0.75
    END-POINT  57901.444          64117.996          11598.003  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57901.444          64117.996          11598.003  0.75  BW
    END-POINT  57900.319          64119.121          11598.003  0.75  BW
    CENTRE-POINT   57901.444          64119.121          11598.003 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNW                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57900.319          64119.121          11598.003  0.75
    END-POINT  57900.319          64119.121          11598.003  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57900.319          64119.121          11598.003  0.75  BW
    END-POINT  57896.319          64119.121          11598.003  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNY                 
    PIPING-SPEC S1
WELD
    END-POINT  57896.319          64119.121          11598.003  0.75
    END-POINT  57896.319          64119.121          11598.003  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57895.194          64119.121          11596.878  0.75  BW
    END-POINT  57896.319          64119.121          11598.003  0.75  BW
    CENTRE-POINT   57895.194          64119.121          11598.003 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HO0                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57895.194          64119.121          11596.878  0.75
    END-POINT  57895.194          64119.121          11596.878  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HO1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57895.194          64119.121          11538.527  0.75  BW
    END-POINT  57895.194          64119.121          11596.878  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HO2                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57895.194  64119.121  11568.003  0.75
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HO3                 
FLOOR-SYMBOL 
    CO-ORDS  57895.194  64119.121  11565.376 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57895.194  64119.121  11565.376 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  57895.194          64119.121          11538.527  0.75
    END-POINT  57895.194          64119.121          11538.527  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HO5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57895.194          64119.121          11538.527  0.75  BW
    END-POINT  57895.194          64120.246          11537.402  0.75  BW
    CENTRE-POINT   57895.194          64119.121          11537.402 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HO6                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57895.194          64120.246          11537.402  0.75
    END-POINT  57895.194          64120.246          11537.402  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HO7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57895.194          64146.392          11537.402  0.75  BW
    END-POINT  57895.194          64120.246          11537.402  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HO8                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57895.194  64134.596  11537.402 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57895.194          64146.392          11537.402  0.75
    END-POINT  57895.194          64146.392          11537.402  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57895.194          64146.392          11537.402  0.75  BW
    END-POINT  57895.194          64147.517          11536.277  0.75  BW
    CENTRE-POINT   57895.194          64147.517          11537.402 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOB                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57895.194  64147.517  11537.402 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64147.517  11537.402 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57895.194          64147.517          11536.277  0.75
    END-POINT  57895.194          64147.517          11536.277  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57895.194          64147.517          11522.063  0.75  BW
    END-POINT  57895.194          64147.517          11536.277  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOE                 
    PIPING-SPEC S1
WELD
    END-POINT  57895.194          64147.517          11522.063  0.75
    END-POINT  57895.194          64147.517          11522.063  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57895.194          64147.517          11522.063  0.75  BW
    END-POINT  57896.319          64147.517          11520.938  0.75  BW
    CENTRE-POINT   57895.194          64147.517          11520.938 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOG                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57895.194  64147.517  11520.938 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57895.194  64138.800  11520.938 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57896.319          64147.517          11520.938  0.75
    END-POINT  57896.319          64147.517          11520.938  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58034.538          64147.517          11520.938  0.75  BW
    END-POINT  57896.319          64147.517          11520.938  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOJ                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57901.815  64147.517  11520.938  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOK                 
SUPPORT
    CO-ORDS  58024.837  64147.517  11520.938  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOL                 
SUPPORT
    CO-ORDS  57964.791  64147.517  11520.938  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOM                 
WELD
    END-POINT  58034.538          64147.517          11520.938  0.75
    END-POINT  58034.538          64147.517          11520.938  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IAD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58034.538          64147.517          11520.938  0.75  BW
    END-POINT  58035.663          64147.517          11519.813  0.75  BW
    CENTRE-POINT   58035.663          64147.517          11520.938 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOO                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58035.663          64147.517          11519.813  0.75
    END-POINT  58035.663          64147.517          11519.813  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IA7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58035.663          64147.517          11519.813  0.75  BW
    END-POINT  58035.663          64147.517          11517.063  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IA6                 
    PIPING-SPEC S1
WELD
    END-POINT  58035.663          64147.517          11517.063  0.75
    END-POINT  58035.663          64147.517          11517.063  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IA8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58036.638          64148.079          11515.938  0.75  BW
    END-POINT  58035.663          64147.517          11517.063  0.75  BW
    CENTRE-POINT   58035.663          64147.517          11515.938 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HOS                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58036.638          64148.079          11515.938  0.75
    END-POINT  58036.638          64148.079          11515.938  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IAW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58036.638          64148.079          11515.938  0.75  BW
    END-POINT  58041.078          64150.634          11515.938  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IAV                 
    PIPING-SPEC S1
WELD
    END-POINT  58041.078          64150.634          11515.938  0.75
    END-POINT  58041.078          64150.634          11515.938  0.75
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IB1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58042.593          64151.509          11518.438  2  BW
    END-POINT  58042.593          64151.509          11513.438  2  BW
    CENTRE-POINT   58042.593          64151.509          11515.938 
    BRANCH1-POINT  58041.078          64150.634          11515.938  0.75  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G7W                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58042.593          64151.509          11518.438 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE VALVCHK3/4
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3/4
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION GENERAL HANGER, L=2'-10", P624 FIG 3
