ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218030
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 WTR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218030-WTR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 C. PUCKETT
    ATTRIBUTE22 6/17/2009
    ATTRIBUTE25 BJL
    ATTRIBUTE26 6/18/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 6/17/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 6/17/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 6/17/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 CP
    ATTRIBUTE37 BJL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 11/1/2012
    ATTRIBUTE42 CP
    ATTRIBUTE43 DD
    ATTRIBUTE44 DK
    ATTRIBUTE45 REVISED SUPPORT
    ATTRIBUTE46 2
    ATTRIBUTE47 12/17/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DK
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58334.647          64146.840          12097.625  1  SC MALE 
    END-POINT  58334.647          64146.840          11934.008  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IJ0                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  58334.647  64146.840  11958.008  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IJ1                 
MESSAGE
    CO-ORDS  58334.647  64146.840  11934.008 
    TEXT TO 6" ABOVE FLOOR
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58334.647          64146.840          12097.625  1  SC FEMALE 
    END-POINT  58334.647          64146.840          12097.625  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  58334.647          64146.840          11934.008 
ELBOW
    END-POINT  58333.727          64146.840          12098.545  1  SC FEMALE 
    END-POINT  58334.647          64146.840          12097.625  1  SC FEMALE 
    CENTRE-POINT   58334.647          64146.840          12098.545 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIX                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58334.647  64146.840  12098.545 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64146.840  12098.545 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58333.727          64146.840          12098.544  1  SC MALE 
    END-POINT  58333.727          64146.840          12098.545  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58333.727          64146.840          12098.544  1  SC MALE 
    END-POINT  58292.228          64146.840          12098.635  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIU                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  58307.742  64146.840  12098.601  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIV                 
SCREWED-WELD
    END-POINT  58292.228          64146.840          12098.633  1  SC FEMALE 
    END-POINT  58292.228          64146.840          12098.635  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58291.308          64146.840          12099.553  1  SC FEMALE 
    END-POINT  58292.228          64146.840          12098.633  1  SC FEMALE 
    CENTRE-POINT   58291.308          64146.840          12098.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIR                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58291.308  64146.840  12098.633 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58291.308  64138.800  12098.633 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58291.308          64146.840          12099.553  1  SC MALE 
    END-POINT  58291.308          64146.840          12099.553  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58291.308          64146.840          12099.553  1  SC MALE 
    END-POINT  58291.308          64146.840          12114.001  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIP                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58291.308          64146.840          12114.001  1  SC FEMALE 
    END-POINT  58291.308          64146.840          12114.001  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58291.308          64146.840          12114.001  1  SC FEMALE 
    END-POINT  58291.308          64147.760          12114.921  1  SC FEMALE 
    CENTRE-POINT   58291.308          64146.840          12114.921 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IIN                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  58291.308          64147.760          12114.921  1  SC MALE 
    END-POINT  58291.308          64147.760          12114.921  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L49                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58291.308          64207.120          12114.921  1  SC MALE 
    END-POINT  58291.308          64147.760          12114.921  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L5L                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  58291.308  64181.921  12114.921  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L4B                 
SCREWED-WELD
    END-POINT  58291.308          64207.120          12114.921  1  SC MALE 
    END-POINT  58291.308          64207.120          12114.921  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L5N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
FLANGE
    END-POINT  58291.308          64207.120          12114.921  1  FL
    END-POINT  58291.308          64207.120          12114.921  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L5D                 
    PIPING-SPEC C1
MESSAGE-CIRCLE
    CO-ORDS  58291.308  64207.120  12114.921 
    TEXT PSV$020$02
    UNDIMENSIONED
GASKET
    END-POINT  58291.308          64207.120          12114.921  1
    END-POINT  58291.308          64207.182          12114.921  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L5E                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58291.308          64207.120          12114.921 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L5F                 
VALVE-ANGLE
    END-POINT  58291.308          64212.370          12108.733  0.75  FL
    END-POINT  58291.308          64207.182          12114.921  1  FL
    CENTRE-POINT   58291.308          64212.370          12114.921 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L3R                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58291.308          64212.370          12108.733 
    PIPELINE-REFERENCE ISO-PY3-1218004
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPUB-1
    DESCRIPTION ANGLED U BOLT SUPPORT, L=1'-4", P625 FIG 4
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=2'-3 5/8", P624 FIG 1
ITEM-CODE SUPAG-1
    DESCRIPTION P624 FIG. 1 (L=1'-3 1/2", X=1'-0")
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
