ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212004
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1212004-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 RJR
    ATTRIBUTE22 10/9/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/15/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 10/23/2008
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 RJR
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58230.141          63969.736          11309.940  0.5  PL
    END-POINT  58233.141          63969.736          11309.940  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFO                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58232.641  63969.736  11309.940 
    TEXT PI$078$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58230.141          63969.736          11309.940  0.5
    END-POINT  58230.141          63969.736          11309.940  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58233.141          63969.736          11309.940 
VALVE
    END-POINT  58228.461          63969.736          11309.940  0.5  SW FEMALE 
    END-POINT  58230.141          63969.736          11309.940  0.5  SW FEMALE 
    CENTRE-POINT   58229.346          63969.736          11309.940 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFK                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58228.461          63969.736          11309.940  0.5  SW FEMALE 
    END-POINT  58228.461          63969.736          11309.940  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58225.051          63969.736          11309.940  0.5  BW
    END-POINT  58228.461          63969.736          11309.940  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFI                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58225.051          63969.736          11309.940  0.5
    END-POINT  58225.051          63969.736          11309.940  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFJ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58222.801          63969.736          11307.690  1.5  BW
    END-POINT  58222.801          63969.736          11312.190  1.5  BW
    CENTRE-POINT   58222.801          63969.736          11309.940 
    BRANCH1-POINT  58225.051          63969.736          11309.940  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFF                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.801          63969.736          11307.690  1.5
    END-POINT  58222.801          63969.736          11307.690  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58222.801          63969.736          11312.190  1.5
    END-POINT  58222.801          63969.736          11312.190  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58222.801          63969.736          11312.190  1.5
    END-POINT  58222.801          63969.736          11312.190  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58222.801          63969.736          11312.398  1.5  FL
    END-POINT  58222.801          63969.736          11312.190  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFU                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58222.801          63969.736          11312.398  1.5
    END-POINT  58222.801          63969.736          11312.523  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFX                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58222.801          63969.736          11312.398 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IFY                 
VALVE
    END-POINT  58222.801          63969.736          11312.523  1.5  FL
    END-POINT  58222.801          63969.736          11319.023  1.5  FL
    CENTRE-POINT   58222.801          63969.736          11315.773 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT          14.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_3PH                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58222.801          63969.736          11319.148  1.5
    END-POINT  58222.801          63969.736          11319.023  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_3PL                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58222.801          63969.736          11319.148 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_3PM                 
VALVE
    END-POINT  58222.801          63969.736          11319.148  1.5  FL
    END-POINT  58222.801          63969.736          11325.648  1.5  FL
    CENTRE-POINT   58222.801          63969.736          11322.398 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_3PK                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  58222.801          63969.736          11325.773  1.5
    END-POINT  58222.801          63969.736          11325.648  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IG9                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58222.801          63969.736          11325.773 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IGA                 
FLANGE
    END-POINT  58222.801          63969.736          11325.773  1.5  FL
    END-POINT  58222.801          63969.736          11325.980  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IG6                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58222.801          63969.736          11325.980  1.5
    END-POINT  58222.801          63969.736          11325.980  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IG7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58222.801          63969.736          11325.980  1.5
    END-POINT  58222.801          63969.736          11325.980  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IG8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58222.801          63969.736          11325.980  1.5  PL
    END-POINT  58222.801          63969.736          11329.111  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IG1                 
    PIPING-SPEC S1
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58222.801  63969.736  11328.038 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58222.801  63898.799  11328.038 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58222.801  63969.736  11328.038 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.801  63969.736  11328.038 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
WELD
    END-POINT  58222.801          63969.736          11329.111  1.5
    END-POINT  58222.801          63969.736          11329.111  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IG5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58222.801          63969.736          11329.111  1.5  BW
    END-POINT  58222.801          63969.736          11333.611  1.5  BW
    CENTRE-POINT   58222.801          63969.736          11331.361 
    BRANCH1-POINT  58225.051          63969.736          11331.360  1.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I6R                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58222.801          63969.736          11333.611 
    PIPELINE-REFERENCE ISO-PY3-1212020
REDUCER-CONCENTRIC
    END-POINT  58222.801          63969.736          11307.690  1.5  BW
    END-POINT  58222.801          63969.736          11305.190  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I6H                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58222.801          63969.736          11305.190  1
    END-POINT  58222.801          63969.736          11305.190  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I6I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58222.801          63969.736          11303.000  1  FL
    END-POINT  58222.801          63969.736          11305.190  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I6D                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58222.801          63969.736          11303.000  1
    END-POINT  58222.801          63969.736          11302.875  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I6W                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58222.801          63969.736          11303.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I6X                 
END-POSITION-OPEN 
    CO-ORDS  58222.801          63969.736          11302.875 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
