ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222011
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1222011-PP-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 1/7/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 2/2/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/7/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 1/7/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/9/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/2/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 SM
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58056.358          64003.161          11644.571  0.5  SC FEMALE 
    END-POINT  58056.358          64003.161          11645.321  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJQ                 
    PIPING-SPEC S1
    END-POSITION-CLOSED 
    CO-ORDS  58056.358          64003.161          11645.321 
SCREWED-WELD
    END-POINT  58056.358          64003.161          11644.571  0.5  SC FEMALE 
    END-POINT  58056.358          64003.161          11644.571  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58056.358          64003.161          11641.571  0.5  PL
    END-POINT  58056.358          64003.161          11644.571  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJO                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58056.358          64003.161          11641.571  0.5
    END-POINT  58056.358          64003.161          11641.571  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58056.358          64003.161          11639.891  0.5  SW FEMALE 
    END-POINT  58056.358          64003.161          11641.571  0.5  SW FEMALE 
    CENTRE-POINT   58056.358          64003.161          11640.776 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJK                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58056.358          64003.161          11639.891  0.5  SW FEMALE 
    END-POINT  58056.358          64003.161          11639.891  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64003.161          11636.481  0.5  BW
    END-POINT  58056.358          64003.161          11639.891  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJI                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64003.161          11636.481  0.5
    END-POINT  58056.358          64003.161          11636.481  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJJ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58056.358          64001.661          11634.981  1  BW
    END-POINT  58056.358          64004.661          11634.981  1  BW
    CENTRE-POINT   58056.358          64003.161          11634.981 
    BRANCH1-POINT  58056.358          64003.161          11636.481  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58056.358          64001.661          11634.981  1
    END-POINT  58056.358          64001.661          11634.981  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64004.661          11634.981  1
    END-POINT  58056.358          64004.661          11634.981  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64004.661          11634.981  1  BW
    END-POINT  58056.358          64028.682          11634.981  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJF                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58056.358          64028.682          11634.981  1
    END-POINT  58056.358          64028.682          11634.981  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJH                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58056.358          64031.432          11634.981  1  SW FEMALE 
    END-POINT  58056.358          64028.682          11634.981  1  SW FEMALE 
    CENTRE-POINT   58056.358          64030.057          11634.981 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           6.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJ4                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58056.358          64031.432          11634.981  1  SW FEMALE 
    END-POINT  58056.358          64031.432          11634.981  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJ5                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64034.932          11634.981  1  BW
    END-POINT  58056.358          64031.432          11634.981  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJ2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64034.932          11634.981  1
    END-POINT  58056.358          64034.932          11634.981  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJ3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58056.358          64036.432          11633.481  1  BW
    END-POINT  58056.358          64034.932          11634.981  1  BW
    CENTRE-POINT   58056.358          64036.432          11634.981 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58056.358          64036.432          11633.481  1
    END-POINT  58056.358          64036.432          11633.481  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJ1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64036.432          11605.634  1  BW
    END-POINT  58056.358          64036.432          11633.481  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64036.432          11605.634  1
    END-POINT  58056.358          64036.432          11605.634  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJ0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58056.358          64037.932          11604.134  1  BW
    END-POINT  58056.358          64034.932          11604.134  1  BW
    CENTRE-POINT   58056.358          64036.432          11604.134 
    BRANCH1-POINT  58056.358          64036.432          11605.634  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EHR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58056.358  64036.432  11604.134  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJT                 
    TAG                         P619 FIG. 1                     
WELD
    END-POINT  58056.358          64037.932          11604.134  1
    END-POINT  58056.358          64037.932          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ETC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64034.932          11604.134  1
    END-POINT  58056.358          64034.932          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HPD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64033.517          11604.134  1  PL
    END-POINT  58056.358          64034.932          11604.134  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HPB                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58056.358          64033.517          11604.134  1
    END-POINT  58056.358          64033.517          11604.134  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HPC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58056.358          64033.517          11604.134  1  SW FEMALE 
    END-POINT  58056.358          64030.887          11604.134  1  SW FEMALE 
    CENTRE-POINT   58056.358          64032.202          11604.134 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EHW                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58056.358          64030.887          11604.134  1
    END-POINT  58056.358          64030.887          11604.134  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FI5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64029.275          11604.134  1  BW
    END-POINT  58056.358          64030.887          11604.134  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FI3                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64029.275          11604.134  1
    END-POINT  58056.358          64029.275          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58056.358          64029.275          11604.134  1  BW
    END-POINT  58056.358          64026.275          11604.134  1  BW
    CENTRE-POINT   58056.358          64027.775          11604.134 
    BRANCH1-POINT  58056.358          64027.775          11602.634  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQ9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58056.358          64026.275          11604.134  1
    END-POINT  58056.358          64026.275          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64027.775          11602.634  0.75
    END-POINT  58056.358          64027.775          11602.634  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64027.775          11602.634  0.75  BW
    END-POINT  58056.358          64027.775          11598.604  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJS                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58056.358          64027.775          11598.604  0.75
    END-POINT  58056.358          64027.775          11598.604  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58056.358          64027.775          11598.604  0.75  SW FEMALE 
    END-POINT  58056.358          64027.775          11596.624  0.75  SW FEMALE 
    CENTRE-POINT   58056.358          64027.775          11597.629 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HPO                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58056.358          64027.775          11596.624  0.75
    END-POINT  58056.358          64027.775          11596.624  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58056.358          64027.775          11596.624  0.75  PL
    END-POINT  58056.358          64027.775          11593.624  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJV                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  58056.358          64027.775          11593.624  0.75  SC FEMALE 
    END-POINT  58056.358          64027.775          11593.624  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  58056.358          64027.775          11593.624  0.75  SC FEMALE 
    END-POINT  58056.358          64027.775          11592.684  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJX                 
    PIPING-SPEC S1
    END-POSITION-CLOSED 
    CO-ORDS  58056.358          64027.775          11592.684 
PIPE
    END-POINT  58056.358          64026.275          11604.134  1  BW
    END-POINT  58056.358          64024.357          11604.134  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQD                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64024.357          11604.134  1
    END-POINT  58056.358          64024.357          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58056.358          64024.357          11604.134  1  BW
    END-POINT  58056.358          64022.357          11604.004  0.75  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQK                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58056.358          64022.357          11604.004  0.75
    END-POINT  58056.358          64022.357          11604.004  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64020.668          11604.004  0.75  PL
    END-POINT  58056.358          64022.357          11604.004  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HP0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64020.668          11604.004  0.75
    END-POINT  58056.358          64020.668          11604.004  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HP1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64020.668          11604.004  0.75
    END-POINT  58056.358          64020.668          11604.004  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HP2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58056.358          64020.493          11604.004  0.75  FL
    END-POINT  58056.358          64020.668          11604.004  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOX                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58056.358          64020.493          11604.004  0.75
    END-POINT  58056.358          64020.368          11604.004  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOY                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58056.358          64020.493          11604.004 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOZ                 
INSTRUMENT
    END-POINT  58056.358          64012.993          11604.004  0.75  FL
    END-POINT  58056.358          64020.368          11604.004  0.75  FL
    CENTRE-POINT   58056.358          64016.680          11604.004 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOU                 
    TAG LCV$051$01                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58056.358          64012.993          11604.004  0.75
    END-POINT  58056.358          64012.868          11604.004  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOV                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58056.358          64012.993          11604.004 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOW                 
FLANGE
    END-POINT  58056.358          64012.868          11604.004  0.75  FL
    END-POINT  58056.358          64012.692          11604.004  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64012.692          11604.004  0.75
    END-POINT  58056.358          64012.692          11604.004  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64012.692          11604.004  0.75
    END-POINT  58056.358          64012.692          11604.004  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64010.654          11604.004  0.75  BW
    END-POINT  58056.358          64012.692          11604.004  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOP                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64010.654          11604.004  0.75
    END-POINT  58056.358          64010.654          11604.004  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58056.358          64008.654          11604.134  1  BW
    END-POINT  58056.358          64010.654          11604.004  0.75  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQO                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58056.358          64008.654          11604.134  1
    END-POINT  58056.358          64008.654          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HQQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64006.155          11604.134  1  PL
    END-POINT  58056.358          64008.654          11604.134  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOJ                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58056.358          64006.155          11604.134  1
    END-POINT  58056.358          64006.155          11604.134  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58056.358          64006.155          11604.134  1  SW FEMALE 
    END-POINT  58056.358          64003.525          11604.134  1  SW FEMALE 
    CENTRE-POINT   58056.358          64004.840          11604.134 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIH                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58056.358          64003.525          11604.134  1
    END-POINT  58056.358          64003.525          11604.134  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64003.525          11604.134  1  PL
    END-POINT  58056.358          64001.661          11604.134  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIL                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64001.661          11604.134  1
    END-POINT  58056.358          64001.661          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58056.358          64001.661          11604.134  1  BW
    END-POINT  58056.358          63998.661          11604.134  1  BW
    CENTRE-POINT   58056.358          64000.161          11604.134 
    BRANCH1-POINT  58056.358          64000.161          11605.634  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58056.358          63998.661          11604.134  1
    END-POINT  58056.358          63998.661          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64000.161          11605.634  1
    END-POINT  58056.358          64000.161          11605.634  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          64000.161          11633.481  1  BW
    END-POINT  58056.358          64000.161          11605.634  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58056.358          64000.161          11633.481  1
    END-POINT  58056.358          64000.161          11633.481  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58056.358          64000.161          11633.481  1  BW
    END-POINT  58056.358          64001.661          11634.981  1  BW
    CENTRE-POINT   58056.358          64000.161          11634.981 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIU                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58056.358          63998.661          11604.134  1  BW
    END-POINT  58056.358          63995.161          11604.134  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EIQ                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58056.358          63995.161          11604.134  1  SW FEMALE 
    END-POINT  58056.358          63995.161          11604.134  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJC                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58056.358          63995.161          11604.134  1  SW FEMALE 
    END-POINT  58056.358          63992.161          11604.134  1  SW FEMALE 
    CENTRE-POINT   58056.358          63993.661          11604.134 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJB                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58056.358          63992.161          11604.134  1
    END-POINT  58056.358          63992.161          11604.134  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJP                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58056.358          63992.161          11604.134  1  PL
    END-POINT  58056.358          63985.661          11604.134  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJO                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58056.358  63988.661  11604.134  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EJR                 
    TAG                         P619 FIG. 1                     
WELD
    END-POINT  58056.358          63985.661          11604.134  1
    END-POINT  58056.358          63985.661          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FF3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58056.358          63985.661          11604.134  1  BW
    END-POINT  58054.858          63984.161          11604.134  1  BW
    CENTRE-POINT   58056.358          63984.161          11604.134 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FF1                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58056.358  63984.161  11604.134 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58056.358  63898.800  11604.134 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58056.358  63984.161  11604.134 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63984.161  11604.134 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58054.858          63984.161          11604.134  1
    END-POINT  58054.858          63984.161          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FF5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58054.858          63984.161          11604.134  1  BW
    END-POINT  58048.858          63984.161          11604.134  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FF4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58048.858          63984.161          11604.134  1
    END-POINT  58048.858          63984.161          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FF6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58048.858          63984.161          11604.134  1  BW
    END-POINT  58047.358          63984.161          11602.634  1  BW
    CENTRE-POINT   58047.358          63984.161          11604.134 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FER                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58047.358          63984.161          11602.634  1
    END-POINT  58047.358          63984.161          11602.634  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58047.358          63984.161          11517.153  1  BW
    END-POINT  58047.358          63984.161          11602.634  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFA                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58047.358  63984.161  11557.265 
    FLOW 2
    SKEY FLOW
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58047.358  63984.161  11592.134 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63984.161  11592.134 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58047.358  63984.161  11592.134 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58047.358  63898.800  11592.134 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
SUPPORT
    CO-ORDS  58047.358  63984.161  11569.250  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FIE                 
FLOOR-SYMBOL 
    CO-ORDS  58047.358  63984.161  11568.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58047.358  63984.161  11568.000 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58047.358          63984.161          11517.153  1
    END-POINT  58047.358          63984.161          11517.153  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58047.358          63984.161          11517.153  1  BW
    END-POINT  58045.858          63984.161          11515.653  1  BW
    CENTRE-POINT   58047.358          63984.161          11515.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FF9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58045.858          63984.161          11515.653  1
    END-POINT  58045.858          63984.161          11515.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57620.566          63984.161          11515.653  1  BW
    END-POINT  58045.858          63984.161          11515.653  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFF                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57738.066  63984.161  11515.653  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FGV                 
SUPPORT
    CO-ORDS  57841.800  63984.161  11515.653  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FGX                 
SUPPORT
    CO-ORDS  57943.800  63984.161  11515.653  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FH1                 
WELD
    END-POINT  57620.566          63984.161          11515.653  1
    END-POINT  57620.566          63984.161          11515.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57620.566          63984.161          11515.653  1  BW
    END-POINT  57619.066          63982.661          11515.653  1  BW
    CENTRE-POINT   57619.066          63984.161          11515.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57619.066          63982.661          11515.653  1
    END-POINT  57619.066          63982.661          11515.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57619.066          63950.500          11515.653  1  BW
    END-POINT  57619.066          63982.661          11515.653  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFN                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57619.066  63969.000  11515.653  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FH3                 
FLOW-ARROW
    CO-ORDS  57619.066  63962.335  11515.653 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57619.066          63950.500          11515.653  1
    END-POINT  57619.066          63950.500          11515.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57619.066          63949.000          11514.153  1  BW
    END-POINT  57619.066          63950.500          11515.653  1  BW
    CENTRE-POINT   57619.066          63949.000          11515.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57619.066          63949.000          11514.153  1
    END-POINT  57619.066          63949.000          11514.153  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FGH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57619.066          63949.000          11505.255  1  BW
    END-POINT  57619.066          63949.000          11514.153  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FGF                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57619.066  63949.000  11511.582 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57619.066          63949.000          11505.255  1
    END-POINT  57619.066          63949.000          11505.255  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FGG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57619.066          63949.000          11501.755  3  BW
    END-POINT  57619.066          63949.000          11505.255  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FG4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57619.066          63949.000          11501.755  3
    END-POINT  57619.066          63949.000          11501.755  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FG5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57619.066          63949.000          11499.005  3  FL
    END-POINT  57619.066          63949.000          11501.755  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FG1                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  57619.066  63949.000  11499.005 
    TEXT T-146
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57619.066  63949.000  11499.005 
    TEXT FIELD TO VERIFY TIE-IN LOCATION
    UNDIMENSIONED
GASKET
    END-POINT  57619.066          63949.000          11499.005  3
    END-POINT  57619.066          63949.000          11498.880  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FG2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57619.066          63949.000          11499.005 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FG3                 
VALVE
    END-POINT  57619.066          63949.000          11497.005  3  FL
    END-POINT  57619.066          63949.000          11498.880  3  FL
    CENTRE-POINT   57619.066          63949.000          11497.942 
    SKEY VYFL
    CONTINUATION 
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FFT                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
END-CONNECTION-PIPELINE 
    CO-ORDS  57619.066          63949.000          11497.005 
    PIPELINE-REFERENCE ISO-PY3-PP-010-EX
PIPE
    END-POINT  58056.358          64063.932          11604.134  1  BW
    END-POINT  58056.358          64037.932          11604.134  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ETA                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58056.358  64050.424  11604.134 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58056.358          64063.932          11604.134  1
    END-POINT  58056.358          64063.932          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ETB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58054.858          64065.432          11604.134  1  BW
    END-POINT  58056.358          64063.932          11604.134  1  BW
    CENTRE-POINT   58056.358          64065.432          11604.134 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EK5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58054.858          64065.432          11604.134  1
    END-POINT  58054.858          64065.432          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EK7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58050.858          64065.432          11604.134  1  BW
    END-POINT  58054.858          64065.432          11604.134  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EHG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58050.858          64065.432          11604.134  1
    END-POINT  58050.858          64065.432          11604.134  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FHV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58047.545  64065.432  11604.134 
    BRANCH1-POINT  58050.858          64065.432          11604.134  1  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7X0                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58047.545  64065.432  11604.134 
    PIPELINE-REFERENCE ISO-PY3-1222010
MATERIALS
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 200LB, GL-01-ST-302
    RATING 200LB
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPST-1
    DESCRIPTION NON-ADJUSTABLE PIPE SUPPORT P619 FIG. 1
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE TEERED1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE REDECC1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE
    RATING 150LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE SUPRH-1
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE SUPRH-1_1
    DESCRIPTION ROD HANGER P624 FIG 4, L=2'-2 1/8"
ITEM-CODE SUPRH-1_2
    DESCRIPTION ROD HANGER P624 FIG 4, L=3'-3 1/8"
ITEM-CODE SUPRH-1_3
    DESCRIPTION ROD HANGER P624 FIG 4, L=2'-10 13/16"
ITEM-CODE SUPRH-1_4
    DESCRIPTION ROD HANGER P624 FIG 2, L=2'-5 3/4", X=2'-10"
ITEM-CODE REDCON3X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
