ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1115004
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 20TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1115004-20TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-021
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 2/23/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 2/23/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/23/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 2/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/23/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 NK
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/23/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 NK
    ATTRIBUTE45 REVISED AS MARKED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BL
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57905.940          63924.204          11290.623  0.75  SC MALE 
    END-POINT  57905.940          63924.204          11289.622  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYT                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57905.940          63924.204          11290.623  0.75  SC FEMALE 
    END-POINT  57905.940          63924.204          11290.623  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYS                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  57905.940          63924.204          11292.063  0.75  SC FEMALE 
    END-POINT  57905.940          63924.204          11290.623  0.75  SC FEMALE 
    CENTRE-POINT   57905.940          63924.204          11291.283 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  57905.940          63924.204          11292.063  0.75  SC MALE 
    END-POINT  57905.940          63924.204          11292.063  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYP                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57905.940          63924.204          11295.063  0.75  SC MALE 
    END-POINT  57905.940          63924.204          11292.063  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYO                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57905.940          63924.204          11295.063  0.75  SC FEMALE 
    END-POINT  57905.940          63924.204          11295.063  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57905.940  63924.204  11297.875 
    BRANCH1-POINT  57905.940          63924.204          11295.063  0.75  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X3/4
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYM                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57905.940  63924.204  11297.875  4
    END-POINT  57905.940  63924.204  11297.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57905.940          63920.204          11297.875  4  BW
    END-POINT  57905.940          63933.197          11297.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYH                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57905.940  63925.423  11297.875 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57905.940          63920.204          11297.875  4
    END-POINT  57905.940          63920.204          11297.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57905.940          63933.197          11297.875  4
    END-POINT  57905.940          63933.197          11297.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57905.940          63933.197          11297.875  4  BW
    END-POINT  57905.940          63937.197          11298.375  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYU                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  57905.940          63937.197          11298.375  3
    END-POINT  57905.940          63937.197          11298.375  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57905.940          63939.947          11298.375  3  FL
    END-POINT  57905.940          63937.197          11298.375  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYW                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57905.940          63939.947          11298.375  3
    END-POINT  57905.940          63940.010          11298.375  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYY                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57905.940          63939.947          11298.375 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYZ                 
END-POSITION-OPEN 
    CO-ORDS  57905.940          63940.010          11298.375 
ELBOW
    END-POINT  57905.940          63920.204          11297.875  4  BW
    END-POINT  57905.940          63914.204          11303.875  4  BW
    CENTRE-POINT   57905.940          63914.204          11297.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYE                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57905.940  63914.204  11297.875  4
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYF                 
WELD
    END-POINT  57905.940          63914.204          11303.875  4
    END-POINT  57905.940          63914.204          11303.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57905.940          63914.204          11303.875  4  BW
    END-POINT  57905.940          63914.204          11328.375  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYC                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57905.940          63914.204          11328.375  4
    END-POINT  57905.940          63914.204          11328.375  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57905.940          63914.204          11328.375  4
    END-POINT  57905.940          63914.204          11328.375  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57905.940          63914.204          11328.674  4  FL
    END-POINT  57905.940          63914.204          11328.375  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FY9                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  57905.940          63914.204          11328.674 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FY8                 
VALVE
    END-POINT  57905.940          63914.204          11328.674  4  FL
    END-POINT  57905.940          63914.204          11330.737  4  FL
    CENTRE-POINT   57905.940          63914.204          11329.706 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FY6                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
BOLT
    CO-ORDS  57905.940          63914.204          11330.737 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FY5                 
FLANGE
    END-POINT  57905.940          63914.204          11330.737  4  FL
    END-POINT  57905.940          63914.204          11331.037  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FY4                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57905.940          63914.204          11331.037  4
    END-POINT  57905.940          63914.204          11331.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FY2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57905.940          63914.204          11331.037  4
    END-POINT  57905.940          63914.204          11331.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FY3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57905.940          63914.204          11331.037  4  PL
    END-POINT  57905.940          63914.204          11371.079  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FY0                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57905.940  63914.204  11357.914 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57905.940          63914.204          11371.079  4
    END-POINT  57905.940          63914.204          11371.079  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57905.940          63914.204          11371.079  4  BW
    END-POINT  57911.940          63914.204          11377.079  4  BW
    CENTRE-POINT   57905.940          63914.204          11377.079 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXX                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57905.940  63914.204  11377.079 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57905.940  63898.800  11377.079 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY WAL 
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57911.940          63914.204          11377.079  4
    END-POINT  57911.940          63914.204          11377.079  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57911.940          63914.204          11377.079  4  BW
    END-POINT  57918.320          63914.204          11377.079  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXV                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57918.320          63914.204          11377.079  4
    END-POINT  57918.320          63914.204          11377.079  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWO                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57918.320          63914.204          11377.079  4  BW
    END-POINT  57926.560          63914.204          11377.079  4  BW
    CENTRE-POINT   57922.440          63914.204          11377.079 
    BRANCH1-POINT  57922.440          63917.117          11379.993  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWN                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57926.560          63914.204          11377.079  4
    END-POINT  57926.560          63914.204          11377.079  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWP                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57922.440          63917.117          11379.993  4
    END-POINT  57922.440          63917.117          11379.993  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57932.940          63914.204          11377.079  4  BW
    END-POINT  57926.560          63914.204          11377.079  4  BW
    CONTINUATION 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWQ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57932.940          63914.204          11377.079 
    PIPELINE-REFERENCE ISO-PY3-1221006
ELBOW
    END-POINT  57922.440          63917.117          11379.993  4  BW
    END-POINT  57922.440          63918.885          11384.261  4  BW
    CENTRE-POINT   57922.440          63918.885          11381.761 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57922.440  63918.885  11381.761 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63918.885  11381.761 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57922.440          63918.885          11384.261  4
    END-POINT  57922.440          63918.885          11384.261  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57922.440          63918.885          11384.261  4  BW
    END-POINT  57922.440          63918.885          11391.250  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FW9                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57922.440          63918.885          11391.250  4
    END-POINT  57922.440          63918.885          11391.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57922.440  63918.885  11387.755  4
    END-POINT  57922.440  63918.885  11387.755  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57922.440  63918.885  11387.755 
    BRANCH1-POINT  57919.620          63918.885          11387.755  0.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1/2
    WEIGHT           0.240
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWD                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57919.620          63918.885          11387.755  0.5  SC FEMALE 
    END-POINT  57919.620          63918.885          11387.755  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57919.620          63918.885          11387.755  0.5  SC MALE 
    END-POINT  57915.620          63918.885          11387.755  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57915.620          63918.885          11387.755  0.5  SC MALE 
    END-POINT  57915.620          63918.885          11387.755  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWG                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  57915.620          63918.885          11387.755  0.5  SC FEMALE 
    END-POINT  57914.140          63918.885          11387.755  0.5  SC FEMALE 
    CENTRE-POINT   57914.880          63918.885          11387.755 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWH                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  57914.140          63918.885          11387.755  0.5  SC MALE 
    END-POINT  57914.140          63918.885          11387.755  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYF                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57914.140          63918.885          11387.755  0.5  SC MALE 
    END-POINT  57911.140          63918.885          11387.755  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYB                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57911.570  63918.885  11387.755 
    TEXT PI$047$04
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57911.140          63918.885          11387.755 
ELBOW-TEED
    END-POINT  57916.440          63918.885          11397.250  4  BW
    END-POINT  57922.440          63918.885          11391.250  4  BW
    CENTRE-POINT   57922.440          63918.885          11397.250 
    BRANCH1-POINT  57922.440          63918.885          11396.912  4
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  57922.440          63918.885          11396.912  4
WELD
    END-POINT  57916.440          63918.885          11397.250  4
    END-POINT  57916.440          63918.885          11397.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57922.440          63918.885          11396.912  4
    END-POINT  57922.440          63918.885          11396.912  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOLET
    END-POINT  57922.440          63918.885          11396.912  4  PL
    END-POINT  57922.440          63918.885          11399.220  1.5  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL4X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57922.440          63918.885          11399.220  1.5  SC FEMALE 
    END-POINT  57922.440          63918.885          11399.220  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57922.440          63918.885          11404.800  1.5  SC MALE 
    END-POINT  57922.440          63918.885          11399.220  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTO                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57922.440          63918.885          11404.800 
    PIPELINE-REFERENCE ISO-PY3-2034009
FLANGE
    END-POINT  57913.440          63918.885          11397.250  4  FL
    END-POINT  57916.440          63918.885          11397.250  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTG                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57913.378          63918.885          11397.250  4
    END-POINT  57913.440          63918.885          11397.250  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTE                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57913.440          63918.885          11397.250 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTF                 
VALVE
    END-POINT  57901.878          63918.885          11397.250  4  FL
    END-POINT  57913.378          63918.885          11397.250  4  FL
    CENTRE-POINT   57907.628          63918.885          11397.250 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT          80.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTD                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57901.815          63918.885          11397.250  4
    END-POINT  57901.878          63918.885          11397.250  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTB                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57901.878          63918.885          11397.250 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTC                 
FLANGE
    END-POINT  57901.815          63918.885          11397.250  4  FL
    END-POINT  57898.815          63918.885          11397.250  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FTA                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57898.815          63918.885          11397.250  4
    END-POINT  57898.815          63918.885          11397.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57890.575          63918.885          11397.250  4  BW
    END-POINT  57898.815          63918.885          11397.250  4  BW
    CENTRE-POINT   57894.695          63918.885          11397.250 
    BRANCH1-POINT  57894.695          63918.885          11401.130  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FT7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57890.575          63918.885          11397.250  4
    END-POINT  57890.575          63918.885          11397.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57894.695          63918.885          11401.130  3
    END-POINT  57894.695          63918.885          11401.130  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57894.695          63918.885          11428.254  3  BW
    END-POINT  57894.695          63918.885          11401.130  3  BW
    CONTINUATION 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AY9                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57894.695          63918.885          11428.254 
    PIPELINE-REFERENCE ISO-PY3-1213013
PIPE
    END-POINT  57864.320          63918.885          11397.250  4  BW
    END-POINT  57890.575          63918.885          11397.250  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQ8                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57864.320          63918.885          11397.250  4
    END-POINT  57864.320          63918.885          11397.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57873.901  63918.885  11397.250  4
    END-POINT  57873.901  63918.885  11397.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57880.391  63918.885  11397.250  4
    END-POINT  57880.391  63918.885  11397.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQ7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57885.699  63918.885  11397.250  4
    END-POINT  57885.699  63918.885  11397.250  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57885.699  63918.885  11397.250 
    BRANCH1-POINT  57885.699          63918.885          11400.187  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQG                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57885.699          63918.885          11400.187  1.5  SC FEMALE 
    END-POINT  57885.699          63918.885          11400.187  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57885.699          63918.885          11412.962  1.5  SC MALE 
    END-POINT  57885.699          63918.885          11400.187  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQI                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57885.699          63918.885          11412.962 
    PIPELINE-REFERENCE ISO-PY3-1221009
OLET
    CENTRE-POINT      57880.391  63918.885  11397.250 
    BRANCH1-POINT  57880.391          63918.885          11400.187  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQ6                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57880.391          63918.885          11400.187  1.5  SC FEMALE 
    END-POINT  57880.391          63918.885          11400.187  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57880.391          63918.885          11414.575  1.5  SC MALE 
    END-POINT  57880.391          63918.885          11400.187  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FQ4                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57880.391          63918.885          11414.575 
    PIPELINE-REFERENCE ISO-PY3-1221005
OLET
    CENTRE-POINT      57873.901  63918.885  11397.250 
    BRANCH1-POINT  57873.901          63918.885          11400.187  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FT5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57873.901          63918.885          11400.187  1.5  SC MALE 
    END-POINT  57873.901          63918.885          11400.187  1.5  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P5Q                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57873.901          63918.885          11415.962  1.5  SC MALE 
    END-POINT  57873.901          63918.885          11400.187  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JSH                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57873.901          63918.885          11415.962 
    PIPELINE-REFERENCE ISO-PY3-1213001
REDUCER-ECCENTRIC
    END-POINT  57864.320          63918.885          11397.250  4  BW
    END-POINT  57860.320          63918.885          11396.750  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FYZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57860.320          63918.885          11396.750  3
    END-POINT  57860.320          63918.885          11396.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZ0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57787.407          63918.885          11396.750  3  BW
    END-POINT  57860.320          63918.885          11396.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZ1                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57816.623  63918.885  11396.750  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZ2                 
FLOW-ARROW
    CO-ORDS  57851.883  63918.885  11396.750 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57787.407          63918.885          11396.750  3
    END-POINT  57787.407          63918.885          11396.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZ4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57787.407          63918.885          11396.750  3  BW
    END-POINT  57782.907          63918.885          11401.250  3  BW
    CENTRE-POINT   57782.907          63918.885          11396.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZ5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57782.907  63918.885  11396.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57782.907  63898.800  11396.750 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  57782.907          63918.885          11401.250  3
    END-POINT  57782.907          63918.885          11401.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZ7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57782.907          63918.885          11447.250  3  BW
    END-POINT  57782.907          63918.885          11401.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZ8                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57782.907          63918.885          11447.250  3
    END-POINT  57782.907          63918.885          11447.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZ9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57782.907          63918.885          11447.250  3  BW
    END-POINT  57779.725          63915.703          11451.750  3  BW
    CENTRE-POINT   57782.907          63918.885          11451.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57782.907  63918.885  11451.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63918.885  11451.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57779.725          63915.703          11451.750  3
    END-POINT  57779.725          63915.703          11451.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57779.725          63915.703          11451.750  3  BW
    END-POINT  57776.311          63914.288          11451.750  3  BW
    CENTRE-POINT   57778.311          63914.288          11451.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57776.311          63914.288          11451.750  3
    END-POINT  57776.311          63914.288          11451.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57776.311          63914.288          11451.750  3  BW
    END-POINT  57545.518          63914.288          11451.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZF                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57738.147  63914.288  11451.750  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FZG                 
WELD
    END-POINT  57545.518          63914.288          11451.750  3
    END-POINT  57545.518          63914.288          11451.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HZ1                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57541.018          63914.288          11456.250  3  BW
    END-POINT  57545.518          63914.288          11451.750  3  BW
    CENTRE-POINT   57541.018          63914.288          11451.750 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_DGPRJ7MG_11G                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57541.018          63914.288          11456.250 
    PIPELINE-REFERENCE ISO-GS3-1115004
MATERIALS
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE TOL4X3/4
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE REDECC4X3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE 90LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPEB-4
    DESCRIPTION ELBOW SUPPORT,  L= 1'-5 7/8", P619 FIG 2
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 1 3/4 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
ITEM-CODE TEESTR4X4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 45LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE TOL4X1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x4" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 4"
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP1/2_1
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE EOL4X1+1/2
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVCHK4
    CATALOG CYTEC VALVE
    DESCRIPTION SWING CHECK VALVE, 150LB, FF, CS-12-DC-500
    RATING 150LB
ITEM-CODE TEERED4X3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE TOL4X1+1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE SUPUB-3
    DESCRIPTION PROTECTION SADDLE, P651 FIG 1
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 45LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPRH-3
    DESCRIPTION GENERAL HANGER, L=1'-8", P624 FIG3
