ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216015-C
PIPING-SPEC S5C
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221_CORE.DWG
    ATTRIBUTE98 PMJ
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216015-C-PMJ-S5C
    ATTRIBUTE95 I1
    ATTRIBUTE94 S5C
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58140.945          64072.797          11605.678  3  FL
    END-POINT  58140.945          64072.797          11609.178  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_I2                  
    PIPING-SPEC S5C
    INSULATION-ON 
MESSAGE
    CO-ORDS  58140.945  64072.797  11609.178 
    TEXT CONN. TO$PY3-068$NOZZLE TAG PY3-068-B$RATING 600LB$FACING RF
    UNDIMENSIONED
GASKET
    END-POINT  58140.945          64072.797          11605.553  3
    END-POINT  58140.945          64072.797          11605.678  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XL                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58140.945          64072.797          11605.553 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XM                  
END-POSITION-OPEN 
    CO-ORDS  58140.945          64072.797          11609.178 
MISC-COMPONENT
    END-POINT  58140.945          64072.797          11605.553  3  FL
    END-POINT  58140.945          64072.797          11593.553  3  FL
    CENTRE-POINT  58140.945  64072.797  11599.553 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XK                  
    PIPING-SPEC S5C
    INSULATION-ON 
MESSAGE
    CO-ORDS  58140.945  64072.797  11599.553 
    TEXT CONN RAM VA TO FLEX HOSE$SP-024, SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-00
    TEXT 2
    UNDIMENSIONED
MESSAGE-ROUND
    CO-ORDS  58140.945  64072.797  11598.346 
    TEXT SP-037
    UNDIMENSIONED
GASKET
    END-POINT  58140.945          64072.797          11593.428  3
    END-POINT  58140.945          64072.797          11593.553  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XO                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58140.945          64072.797          11593.428 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XP                  
FLANGE
    END-POINT  58140.945          64072.797          11593.428  3  FL
    END-POINT  58140.945          64072.797          11589.928  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XN                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64072.797          11589.928  3
    END-POINT  58140.945          64072.797          11589.928  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XR                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58140.945          64072.797          11589.928  3  BW
    END-POINT  58140.945          64072.797          11585.928  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XQ                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64072.797          11585.928  3
    END-POINT  58140.945          64072.797          11585.928  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_XS                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  58140.945          64072.797          11585.928  3  BW
    END-POINT  58140.945          64079.297          11579.428  3  BW
    CENTRE-POINT   58140.945          64072.797          11579.428 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_X                   
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58140.945          64079.297          11579.428  3
    END-POINT  58140.945          64079.297          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_RN                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58140.945          64079.297          11579.428  3  BW
    END-POINT  58140.945          64083.297          11579.428  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_RM                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64083.297          11579.428  3
    END-POINT  58140.945          64083.297          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_10J                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  58140.945          64086.797          11579.428  3  FL
    END-POINT  58140.945          64083.297          11579.428  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_10G                 
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  58140.945          64086.797          11579.428  3
    END-POINT  58140.945          64086.922          11579.428  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1D7                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58140.945          64086.922          11579.428 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1D8                 
FLANGE
    END-POINT  58140.945          64086.922          11579.428  3  FL
    END-POINT  58140.945          64090.422          11579.428  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_15J                 
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64090.422          11579.428  3
    END-POINT  58140.945          64090.422          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_15M                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58140.945          64090.422          11579.428  3  BW
    END-POINT  58140.945          64094.422          11579.428  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_YO                  
    PIPING-SPEC S5C
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.945  64094.422  11579.428 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64094.422  11579.428 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX2
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58140.945          64094.422          11579.428  3
    END-POINT  58140.945          64094.422          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_YS                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  58140.945          64094.422          11579.428  3  BW
    END-POINT  58134.445          64100.922          11579.428  3  BW
    CENTRE-POINT   58140.945          64100.922          11579.428 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_YQ                  
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58134.445          64100.922          11579.428  3
    END-POINT  58134.445          64100.922          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DP                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58126.445          64100.922          11579.428  3  BW
    END-POINT  58134.445          64100.922          11579.428  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DN                 
    PIPING-SPEC S5C
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58134.445  64100.922  11579.428 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58134.445  64138.748  11579.428 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX2
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58126.445          64100.922          11579.428  3
    END-POINT  58126.445          64100.922          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DO                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  58122.945          64100.922          11579.428  3  FL
    END-POINT  58126.445          64100.922          11579.428  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1D4                 
    PIPING-SPEC S5C
    INSULATION-ON 
SUPPORT
    CO-ORDS  58124.695  64100.922  11579.428  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DY                 
GASKET
    END-POINT  58122.945          64100.922          11579.428  3
    END-POINT  58122.820          64100.922          11579.428  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1D5                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58122.945          64100.922          11579.428 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           7.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1D6                 
MISC-COMPONENT
    END-POINT  58120.820          64100.922          11579.428  3  FL
    END-POINT  58122.820          64100.922          11579.428  3  FL
    CENTRE-POINT  58121.820  64100.922  11579.428 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1D2                 
    PIPING-SPEC S5C
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58121.335  64100.922  11579.428 
    TEXT PT$068$02A
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  58121.482  64100.922  11579.428 
    TEXT PT$068$02B
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  58121.634  64100.922  11579.428 
    TEXT TE$068$02A
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  58121.735  64100.922  11579.428 
    TEXT TE$068$02B
    UNDIMENSIONED
GASKET
    END-POINT  58120.820          64100.922          11579.428  3
    END-POINT  58120.695          64100.922          11579.428  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1D3                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
MISC-COMPONENT
    END-POINT  58108.695          64100.922          11579.428  3  FL
    END-POINT  58120.695          64100.922          11579.428  3  FL
    CENTRE-POINT  58114.695  64100.922  11579.428 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3_2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_10B                 
    PIPING-SPEC S5C
    INSULATION-ON 
MESSAGE
    CO-ORDS  58114.695  64100.922  11579.428 
    TEXT CONN RAM VA TO$ISO-PY3-1216019-1
    UNDIMENSIONED
MESSAGE-ROUND
    CO-ORDS  58116.034  64100.922  11579.428 
    TEXT SP-050
    UNDIMENSIONED
GASKET
    END-POINT  58108.570          64100.922          11579.428  3
    END-POINT  58108.695          64100.922          11579.428  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BI                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58108.570          64100.922          11579.428 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BJ                 
MISC-COMPONENT
    END-POINT  58108.570          64100.922          11579.428  3  FL
    END-POINT  58090.820          64100.922          11579.428  3  FL
    CENTRE-POINT  58099.695  64100.922  11579.428 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3_3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BH                 
    PIPING-SPEC S5C
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58099.072  64100.922  11579.428 
    TEXT SP-036
    UNDIMENSIONED
GASKET
    END-POINT  58090.820          64100.922          11579.428  3
    END-POINT  58090.695          64100.922          11579.428  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BK                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58090.695          64100.922          11579.428 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BL                 
MISC-COMPONENT
    END-POINT  58090.695          64100.922          11579.428  3  FL
    END-POINT  58078.695          64100.922          11579.428  3  FL
    CENTRE-POINT  58084.695  64100.922  11579.428 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3_4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_YA                  
    PIPING-SPEC S5C
    INSULATION-ON 
MESSAGE
    CO-ORDS  58084.695  64100.922  11579.428 
    TEXT CONN RAM VA TO$ISO-PY3-1321014-1
    UNDIMENSIONED
MESSAGE-ROUND
    CO-ORDS  58086.264  64100.922  11579.428 
    TEXT SP-049
    UNDIMENSIONED
GASKET
    END-POINT  58078.570          64100.922          11579.428  3
    END-POINT  58078.695          64100.922          11579.428  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_Z5                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58078.570          64100.922          11579.428 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_Z6                  
FLANGE
    END-POINT  58078.570          64100.922          11579.428  3  FL
    END-POINT  58075.070          64100.922          11579.428  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_Z4                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58075.070          64100.922          11579.428  3
    END-POINT  58075.070          64100.922          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DM                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58066.695          64100.922          11579.428  3  BW
    END-POINT  58075.070          64100.922          11579.428  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DK                 
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58066.695          64100.922          11579.428  3
    END-POINT  58066.695          64100.922          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DL                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  58066.695          64100.922          11579.428  3  BW
    END-POINT  58060.071          64098.178          11579.428  3  BW
    CENTRE-POINT   58062.815          64100.922          11579.428 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BO                 
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58060.071          64098.178          11579.428  3
    END-POINT  58060.071          64098.178          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BS                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58060.071          64098.178          11579.428  3  BW
    END-POINT  58056.978          64095.084          11579.428  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BR                 
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58056.978          64095.084          11579.428  3
    END-POINT  58056.978          64095.084          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BU                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  58054.503          64092.610          11579.428  3  FL
    END-POINT  58056.978          64095.084          11579.428  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BT                 
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  58054.415          64092.521          11579.428  3
    END-POINT  58054.503          64092.610          11579.428  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BW                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58054.415          64092.521          11579.428 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BX                 
FLANGE
    END-POINT  58054.415          64092.521          11579.428  3  FL
    END-POINT  58051.940          64090.046          11579.428  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1BV                 
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58051.940          64090.046          11579.428  3
    END-POINT  58051.940          64090.046          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DA                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58051.940          64090.046          11579.428  3  BW
    END-POINT  58049.115          64087.222          11579.428  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1D9                 
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58049.115          64087.222          11579.428  3
    END-POINT  58049.115          64087.222          11579.428  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1DB                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  58049.115          64087.222          11579.428  3  BW
    END-POINT  58044.519          64082.625          11572.928  3  BW
    CENTRE-POINT   58044.519          64082.625          11579.428 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1C0                 
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58044.519          64082.625          11572.928  3
    END-POINT  58044.519          64082.625          11572.928  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1C9                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58044.519          64082.625          11562.928  3  BW
    END-POINT  58044.519          64082.625          11572.928  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1C7                 
    PIPING-SPEC S5C
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58044.519  64082.625  11566.964 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58044.519  64082.625  11566.964 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58044.519          64082.625          11562.928  3
    END-POINT  58044.519          64082.625          11562.928  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1C8                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  58044.519          64082.625          11559.428  3  FL
    END-POINT  58044.519          64082.625          11562.928  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1C5                 
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  58044.519          64082.625          11559.303  3
    END-POINT  58044.519          64082.625          11559.428  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1CU                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58044.519          64082.625          11559.303 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1CV                 
FLANGE
    END-POINT  58044.519          64082.625          11559.303  3  FL
    END-POINT  58044.519          64082.625          11555.803  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1CT                 
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58044.519          64082.625          11555.803  3
    END-POINT  58044.519          64082.625          11555.803  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1EO                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58044.519          64082.625          11555.803  3  BW
    END-POINT  58044.519          64082.625          11539.237  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1EN                 
    PIPING-SPEC S5C
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58044.519  64082.625  11545.931 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58044.519          64082.625          11539.237  3
    END-POINT  58044.519          64082.625          11539.237  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1EP                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  58044.519          64082.625          11535.737  3  FL
    END-POINT  58044.519          64082.625          11539.237  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_R1                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  58044.519          64082.625          11535.737  3
    END-POINT  58044.519          64082.625          11535.612  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_R2                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58044.519          64082.625          11535.737 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_R3                  
FLANGE
    END-POINT  58044.519          64082.625          11535.612  3  FL
    END-POINT  58044.519          64082.625          11532.112  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_QZ                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58044.519          64082.625          11532.112  3
    END-POINT  58044.519          64082.625          11532.112  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_R0                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58044.519          64082.625          11528.112  3  BW
    END-POINT  58044.519          64082.625          11532.112  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_QX                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58044.519          64082.625          11528.112  3
    END-POINT  58044.519          64082.625          11528.112  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_QY                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  58044.519          64082.625          11528.112  3  BW
    END-POINT  58038.019          64082.625          11521.612  3  BW
    CENTRE-POINT   58044.519          64082.625          11521.612 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_PQ                  
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58038.019          64082.625          11521.612  3
    END-POINT  58038.019          64082.625          11521.612  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_Q9                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  58038.019          64082.625          11521.612  3  BW
    END-POINT  58034.019          64082.625          11521.612  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_Q8                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  58034.019          64082.625          11521.612  3
    END-POINT  58034.019          64082.625          11521.612  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_QB                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  58030.519          64082.625          11521.612  3  FL
    END-POINT  58034.019          64082.625          11521.612  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_QA                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  58030.519          64082.625          11521.612  3
    END-POINT 
** 
Processing ID: AT_FNISF7EI_1F2  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1F2                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  58030.519          64082.625          11521.612 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1F3                 
END-POSITION-OPEN 
    CO-ORDS  58030.519  64082.625  11521.612 
MATERIALS
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, BW, 600LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 600LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 600LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 600LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 5 STUD BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 600LB
ITEM-CODE GENSTR3
    DESCRIPTION RAM VALVE, SP-037
    RATING 600LB
ITEM-CODE PIP3
    CATALOG ANSI B16.9
    DESCRIPTION PIPE, SCH 40S, ASTM A312 Gr TP304L, SEAMLESS
    RATING 40S
ITEM-CODE 90L3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG ELBOW, LONG TAN, BW, SCH 40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE SUPRH-3
    DESCRIPTION PIPE HANGER, SH-014-PY3-PMJ
ITEM-CODE BOLT3_1
    CATALOG ASTM A 193
    DESCRIPTION ASTM A 193, 3/4" X 7 1/4" STUD BOLT w/HH NUTS ASTM A 194 GR 8M
    RATING 600LB
ITEM-CODE GENSTR3_1
    DESCRIPTION INSTRUMENT FLANGE, SEE DETAIL 3 ON DWG. GVL-GP3-GS3-70D-002
    RATING 600LB
ITEM-CODE GENSTR3_2
    DESCRIPTION RAM VALVE, SP-050
    RATING 600LB
ITEM-CODE GENSTR3_3
    DESCRIPTION PLUG VALVE, SP-036
    RATING 600LB
ITEM-CODE GENSTR3_4
    DESCRIPTION RAM VALVE, SP-049
    RATING 600LB
ITEM-CODE 45L3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG ELBOW, LONG TAN, BW, SCH 40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 40S
