ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1320001-C
PIPING-SPEC S5C
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5014_CORE.DWG
    ATTRIBUTE98 PMJ
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1320001-C-PMJ-S5C
    ATTRIBUTE95 I1
    ATTRIBUTE94 S5C
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-020
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  56949.000          64381.375          11322.000  3  FL
    END-POINT  56949.000          64377.875          11322.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_5A                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  56949.000          64381.375          11322.000  3
    END-POINT 
** 
Processing ID: AT_FRNRB3AK_EM  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_EM                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  56949.000          64381.375          11322.000 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_EN                  
WELD
    END-POINT  56949.000          64377.875          11322.000  3
    END-POINT  56949.000          64377.875          11322.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_59                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  56949.000  64381.375  11322.000 
PIPE
    END-POINT  56949.000          64359.375          11322.000  3  BW
    END-POINT  56949.000          64377.875          11322.000  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_58                  
    PIPING-SPEC S5C
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  56949.000  64366.432  11322.000 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  56949.000          64359.375          11322.000  3
    END-POINT  56949.000          64359.375          11322.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_57                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  56949.000          64355.875          11322.000  3  FL
    END-POINT  56949.000          64359.375          11322.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_56                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  56949.000          64355.750          11322.000  3
    END-POINT  56949.000          64355.875          11322.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_54                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  56949.000          64355.875          11322.000 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_55                  
FLANGE
    END-POINT  56949.000          64355.750          11322.000  3  FL
    END-POINT  56949.000          64352.250          11322.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_53                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56949.000          64352.250          11322.000  3
    END-POINT  56949.000          64352.250          11322.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_52                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  56949.000          64347.875          11322.000  3  BW
    END-POINT  56949.000          64352.250          11322.000  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_51                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56949.000          64347.875          11322.000  3
    END-POINT  56949.000          64347.875          11322.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_50                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  56949.000          64347.875          11322.000  3  BW
    END-POINT  56951.744          64341.251          11322.000  3  BW
    CENTRE-POINT   56949.000          64343.995          11322.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4Z                  
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  56951.744          64341.251          11322.000  3
    END-POINT  56951.744          64341.251          11322.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4Y                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  56951.744          64341.251          11322.000  3  BW
    END-POINT  56954.837          64338.158          11322.000  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4X                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56954.837          64338.158          11322.000  3
    END-POINT  56954.837          64338.158          11322.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4W                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  56957.312          64335.683          11322.000  3  FL
    END-POINT  56954.837          64338.158          11322.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4V                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  56957.400          64335.595          11322.000  3
    END-POINT  56957.312          64335.683          11322.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4T                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  56957.312          64335.683          11322.000 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4U                  
FLANGE
    END-POINT  56957.400          64335.595          11322.000  3  FL
    END-POINT  56959.875          64333.120          11322.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4S                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56959.875          64333.120          11322.000  3
    END-POINT  56959.875          64333.120          11322.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4R                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  56959.875          64333.120          11322.000  3  BW
    END-POINT  56962.704          64330.291          11322.000  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4Q                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56962.704          64330.291          11322.000  3
    END-POINT  56962.704          64330.291          11322.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4P                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  56962.704          64330.291          11322.000  3  BW
    END-POINT  56967.300          64325.695          11328.500  3  BW
    CENTRE-POINT   56967.300          64325.695          11322.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4O                  
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  56967.300          64325.695          11328.500  3
    END-POINT  56967.300          64325.695          11328.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4N                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  56967.300          64325.695          11332.500  3  BW
    END-POINT  56967.300          64325.695          11328.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_4M                  
    PIPING-SPEC S5C
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56967.300  64325.695  11328.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57059.280  64325.695  11328.500 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 36
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56967.300  64325.695  11328.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56967.300  64443.909  11328.500 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX2
    MESSAGE
    TEXT COL B
WELD
    END-POINT  56967.300          64325.695          11332.500  3
    END-POINT  56967.300          64325.695          11332.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_EL                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  56967.300          64325.695          11336.000  3  FL
    END-POINT  56967.300          64325.695          11332.500  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_EI                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  56967.300          64325.695          11336.000  3
    END-POINT  56967.300          64325.695          11336.125  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_EJ                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  56967.300          64325.695          11336.000 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_EK                  
MISC-COMPONENT
    END-POINT  56967.300          64325.695          11338.125  3  FL
    END-POINT  56967.300          64325.695          11336.125  3  FL
    CENTRE-POINT  56967.300  64325.695  11337.125 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_EF                  
    PIPING-SPEC S5C
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  56967.300  64325.695  11336.548 
    TEXT PT$002$03
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  56967.300  64325.695  11336.700 
    TEXT PT$004$01
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  56967.300  64325.695  11336.891 
    TEXT TE$002$03
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  56967.300  64325.695  11337.031 
    TEXT TE$004$01
    UNDIMENSIONED
GASKET
    END-POINT  56967.300          64325.695          11338.125  3
    END-POINT 
** 
Processing ID: AT_FRNRB3AK_EG  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_EG                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
END-POSITION-OPEN 
    CO-ORDS  56967.300  64325.695  11338.125 
MATERIALS
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, BW, 600LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 600LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 600LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 600LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 5 STUD BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 600LB
ITEM-CODE PIP3
    CATALOG ANSI B16.9
    DESCRIPTION PIPE, SCH 40S, ASTM A312 Gr TP304L, SEAMLESS
    RATING 40S
ITEM-CODE 45L3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG ELBOW, LONG TAN, BW, SCH 40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE 90L3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG ELBOW, LONG TAN, BW, SCH 40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE BOLT3_1
    CATALOG ASTM A 193
    DESCRIPTION ASTM A 193, 3/4" X 5 3/4" STUD BOLT w/HH NUTS ASTM A 194 GR 8M
    RATING 600LB
ITEM-CODE GENSTR3
    DESCRIPTION INSTRUMENT FLANGE, SEE DETAIL 3 ON DWG. GVL-GP3-GS3-70D-002
    RATING 600LB
