ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212019
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212019-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S.KUMAR
    ATTRIBUTE22 2/23/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 2/23/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/23/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 2/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/23/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/23/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 DC
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58181.735          64150.269          11379.481  0.5  PL
    END-POINT  58181.735          64150.269          11382.481  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8O                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58181.735  64150.269  11381.981 
    TEXT PI$005$03
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58181.735          64150.269          11379.481  0.5
    END-POINT  58181.735          64150.269          11379.481  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58181.735          64150.269          11382.481 
VALVE
    END-POINT  58181.735          64150.269          11377.801  0.5  SW FEMALE 
    END-POINT  58181.735          64150.269          11379.481  0.5  SW FEMALE 
    CENTRE-POINT   58181.735          64150.269          11378.686 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYG                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58181.735          64150.269          11377.801  0.5  SW FEMALE 
    END-POINT  58181.735          64150.269          11377.801  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58181.735          64150.269          11374.391  0.5  BW
    END-POINT  58181.735          64150.269          11377.801  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYJ                 
    PIPING-SPEC S1
WELD
    END-POINT  58181.735          64150.269          11374.391  0.5
    END-POINT  58181.735          64150.269          11374.391  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYK                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58181.735          64150.269          11372.891  0.75  BW
    END-POINT  58181.735          64150.269          11374.391  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3/4X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYL                 
    PIPING-SPEC S1
WELD
    END-POINT  58181.735          64150.269          11372.891  0.75
    END-POINT  58181.735          64150.269          11372.891  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58181.735          64150.269          11370.651  0.75  BW
    END-POINT  58181.735          64150.269          11372.891  0.75  BW
    CENTRE-POINT   58181.735          64150.269          11371.771 
    BRANCH1-POINT  58180.615          64150.269          11371.771  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYN                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58181.735  64150.269  11371.771 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58181.735  64138.800  11371.771 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58181.735          64150.269          11370.651  0.75
    END-POINT  58181.735          64150.269          11370.651  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58180.615          64150.269          11371.771  0.75
    END-POINT  58180.615          64150.269          11371.771  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
GAP
    END-POINT  58180.615          64150.269          11371.771  0.75  
    END-POINT  58180.608          64150.269          11371.771  0.75  
    PIPING-SPEC S1
PIPE
    END-POINT  58176.343          64150.269          11371.776  0.75  BW
    END-POINT  58180.610          64150.269          11371.776  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYS                 
    PIPING-SPEC S1
WELD
    END-POINT  58176.343          64150.269          11371.776  0.75
    END-POINT  58176.343          64150.269          11371.776  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58176.343          64150.269          11371.776  0.75  BW
    END-POINT  58175.218          64149.144          11371.776  0.75  BW
    CENTRE-POINT   58175.218          64150.269          11371.776 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYU                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58175.218  64150.269  11371.776 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64150.269  11371.776 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58175.218          64149.144          11371.776  0.75
    END-POINT  58175.218          64149.144          11371.776  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58175.218          64146.144          11371.776  0.75  PL
    END-POINT  58175.218          64149.144          11371.776  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYX                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58175.218          64146.144          11371.776  0.75
    END-POINT  58175.218          64146.144          11371.776  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYY                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58175.218          64143.394          11371.776  0.75  SW FEMALE 
    END-POINT  58175.218          64146.144          11371.776  0.75  SW FEMALE 
    CENTRE-POINT   58175.218          64144.769          11371.776 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MYZ                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58175.218          64143.394          11371.776  0.75  SW FEMALE 
    END-POINT  58175.218          64143.394          11371.776  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZ0                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58175.218          64140.394          11371.776  0.75  PL
    END-POINT  58175.218          64143.394          11371.776  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZ1                 
    PIPING-SPEC S1
WELD
    END-POINT  58175.218          64140.394          11371.776  0.75
    END-POINT  58175.218          64140.394          11371.776  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58175.218          64140.394          11371.776  0.75
    END-POINT  58175.218          64140.394          11371.776  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58175.218          64140.219          11371.776  0.75  FL
    END-POINT  58175.218          64140.394          11371.776  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZ4                 
    PIPING-SPEC S1
GASKET
    END-POINT  58175.218          64140.219          11371.776  0.75
    END-POINT  58175.218          64140.094          11371.776  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZ5                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58175.218          64140.094          11371.776 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZ6                 
INSTRUMENT
    END-POINT  58175.218          64140.094          11371.776  0.75  FL
    END-POINT  58175.218          64126.094          11371.776  0.75  FL
    CENTRE-POINT   58175.218          64133.094          11371.776 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZ7                 
    TAG PRV$005$02                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58175.218          64126.094          11371.776  0.75
    END-POINT  58175.218          64125.969          11371.776  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZ9                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58175.218          64125.969          11371.776 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZA                 
FLANGE
    END-POINT  58175.218          64125.969          11371.776  0.75  FL
    END-POINT  58175.218          64125.793          11371.776  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZB                 
    PIPING-SPEC S1
WELD
    END-POINT  58175.218          64125.793          11371.776  0.75
    END-POINT  58175.218          64125.793          11371.776  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58175.218          64125.793          11371.776  0.75
    END-POINT  58175.218          64125.793          11371.776  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58175.218          64122.379          11371.776  0.75  PL
    END-POINT  58175.218          64125.793          11371.776  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZE                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58175.218          64122.379          11371.776  0.75
    END-POINT  58175.218          64122.379          11371.776  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58175.218          64122.379          11371.776  0.75  SW FEMALE 
    END-POINT  58175.218          64120.429          11371.776  0.75  SW FEMALE 
    CENTRE-POINT   58175.218          64121.404          11371.776 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZG                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58175.218          64120.429          11371.776  0.75  SW FEMALE 
    END-POINT  58175.218          64120.429          11371.776  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P09                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58175.218          63983.429          11371.776  0.75  BW
    END-POINT  58175.218          64120.429          11371.776  0.75  PL
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZK                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58175.218  64115.201  11371.776  0.75
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P36                 
SUPPORT
    CO-ORDS  58175.218  64035.274  11371.776  0.75
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P38                 
END-CONNECTION-PIPELINE 
    CO-ORDS  58175.218          63983.429          11371.776 
    PIPELINE-REFERENCE ISO-PY3-2036023
PIPE
    END-POINT  58181.735          64150.269          11354.503  0.75  BW
    END-POINT  58181.735          64150.269          11370.651  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0E                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58181.735  64150.269  11356.696 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58181.735          64150.269          11354.503  0.75
    END-POINT  58181.735          64150.269          11354.503  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58181.735          64150.269          11352.503  1  BW
    END-POINT  58181.735          64150.269          11354.503  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0H                 
    PIPING-SPEC S1
WELD
    END-POINT  58181.735          64150.269          11352.503  1
    END-POINT  58181.735          64150.269          11352.503  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58181.735          64150.269          11350.313  1  FL
    END-POINT  58181.735          64150.269          11352.503  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0J                 
    PIPING-SPEC S1
GASKET
    END-POINT  58181.735          64150.269          11350.313  1
    END-POINT  58181.735          64150.269          11350.187  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P06                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.735          64150.269          11350.313 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P07                 
END-POSITION-OPEN 
    CO-ORDS  58181.735          64150.269          11350.187 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE REDCON3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10Sx40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVCHK3/4
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PRV-005-02
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE REDCON1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
