ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046037
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046037-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 DC
    ATTRIBUTE22 4/10/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/13/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 4/14/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 4/14/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 4/14/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/14/2009
    ATTRIBUTE36 DC
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58334.654          64207.190          11952.372  1  SC MALE 
    END-POINT  58334.654          64207.190          11951.242  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O57                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.654          64207.190          11952.372  1  SC MALE 
    END-POINT  58334.654          64207.190          11952.372  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O58                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.654          64207.190          11953.792  1  SC FEMALE 
    END-POINT  58334.654          64207.190          11952.372  1  SC FEMALE 
    CENTRE-POINT   58334.654          64207.190          11952.997 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O59                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.654          64207.190          11953.792  1  SC FEMALE 
    END-POINT  58334.654          64207.190          11953.792  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58334.654          64207.190          11956.792  1  SC MALE 
    END-POINT  58334.654          64207.190          11953.792  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5C                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.654          64207.190          11956.792  1  SC MALE 
    END-POINT  58334.654          64207.190          11956.792  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.654          64208.140          11958.012  1.5  SC FEMALE 
    END-POINT  58334.654          64206.240          11958.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.654          64207.190          11958.012 
    BRANCH1-POINT  58334.654          64207.190          11956.792  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5E                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.654          64208.140          11958.012  1.5  SC FEMALE 
    END-POINT  58334.654          64208.140          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.654          64206.240          11958.012  1.5  SC FEMALE 
    END-POINT  58334.654          64206.240          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.654          64206.240          11958.012  1.5  SC MALE 
    END-POINT  58334.653          64201.400          11958.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5H                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.653          64201.400          11958.012  1.5  SC MALE 
    END-POINT  58334.653          64201.400          11958.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.653          64199.980          11958.012  1.5  SC FEMALE 
    END-POINT  58334.653          64201.400          11958.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.653          64200.690          11958.012 
    BRANCH1-POINT  58334.653          64200.690          11959.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5J                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.653          64199.980          11958.012  1.5  SC FEMALE 
    END-POINT  58334.653          64199.980          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.653          64200.690          11959.242  0.5  SC FEMALE 
    END-POINT  58334.653          64200.690          11959.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.653          64200.690          11959.242  0.5  SC MALE 
    END-POINT  58334.653          64200.690          11963.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5M                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.653          64200.690          11963.172  0.5  SC FEMALE 
    END-POINT  58334.653          64200.690          11963.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OFF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.653          64200.690          11963.172  0.5  SC FEMALE 
    END-POINT  58334.653          64200.690          11964.672  0.5  SC FEMALE 
    CENTRE-POINT   58334.653          64200.690          11963.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OFE                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.653          64200.690          11964.672  0.5  SC MALE 
    END-POINT  58334.653          64200.690          11964.672  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGM                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.653          64200.690          11964.672  0.5  SC MALE 
    END-POINT  58334.653          64200.690          11967.672  0.5  SC MALE 
    CENTRE-POINT  58334.653  64200.690  11966.172 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGL                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58334.653  64200.690  11967.172 
    TEXT FROM 2051012$MANIFOLD # R3$VALVE #2051012TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58334.653          64200.690          11967.672 
PIPE
    END-POINT  58334.652          64194.900          11958.012  1.5  SC MALE 
    END-POINT  58334.653          64199.980          11958.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5S                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.652          64194.900          11958.012  1.5  SC MALE 
    END-POINT  58334.652          64194.900          11958.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.652          64193.480          11958.012  1.5  SC FEMALE 
    END-POINT  58334.652          64194.900          11958.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.652          64194.190          11958.012 
    BRANCH1-POINT  58334.652          64194.190          11959.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5U                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.652          64193.480          11958.012  1.5  SC FEMALE 
    END-POINT  58334.652          64193.480          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.652          64194.190          11959.242  0.5  SC FEMALE 
    END-POINT  58334.652          64194.190          11959.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.652          64194.190          11959.242  0.5  SC MALE 
    END-POINT  58334.652          64194.190          11963.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O5X                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.652          64194.190          11963.172  0.5  SC FEMALE 
    END-POINT  58334.652          64194.190          11963.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OFB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.652          64194.190          11963.172  0.5  SC FEMALE 
    END-POINT  58334.652          64194.190          11964.672  0.5  SC FEMALE 
    CENTRE-POINT   58334.652          64194.190          11963.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OFA                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.652          64194.190          11964.672  0.5  SC MALE 
    END-POINT  58334.652          64194.190          11964.672  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGK                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.652          64194.190          11964.672  0.5  SC MALE 
    END-POINT  58334.652          64194.190          11967.672  0.5  SC MALE 
    CENTRE-POINT  58334.652  64194.190  11966.172 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGJ                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58334.652  64194.190  11967.172 
    TEXT FROM 2051013$MANIFOLD # R3$VALVE #2051013TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58334.652          64194.190          11967.672 
PIPE
    END-POINT  58334.651          64188.400          11958.012  1.5  SC MALE 
    END-POINT  58334.652          64193.480          11958.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O63                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.651          64188.400          11958.012  1.5  SC MALE 
    END-POINT  58334.651          64188.400          11958.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O64                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.651          64186.980          11958.012  1.5  SC FEMALE 
    END-POINT  58334.651          64188.400          11958.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.651          64187.690          11958.012 
    BRANCH1-POINT  58334.651          64187.690          11959.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O65                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.651          64186.980          11958.012  1.5  SC FEMALE 
    END-POINT  58334.651          64186.980          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O66                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.651          64187.690          11959.242  0.5  SC FEMALE 
    END-POINT  58334.651          64187.690          11959.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O67                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.651          64187.690          11959.242  0.5  SC MALE 
    END-POINT  58334.651          64187.690          11963.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O68                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.651          64187.690          11963.172  0.5  SC FEMALE 
    END-POINT  58334.651          64187.690          11963.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OF7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.651          64187.690          11963.172  0.5  SC FEMALE 
    END-POINT  58334.651          64187.690          11964.672  0.5  SC FEMALE 
    CENTRE-POINT   58334.651          64187.690          11963.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OF6                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.651          64187.690          11964.672  0.5  SC MALE 
    END-POINT  58334.651          64187.690          11964.672  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGI                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.651          64187.690          11964.672  0.5  SC MALE 
    END-POINT  58334.651          64187.690          11967.672  0.5  SC MALE 
    CENTRE-POINT  58334.651  64187.690  11966.172 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGH                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58334.651  64187.690  11967.172 
    TEXT FROM 2051014$MANIFOLD # R3$VALVE #2051014TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58334.651          64187.690          11967.672 
PIPE
    END-POINT  58334.650          64181.900          11958.012  1.5  SC MALE 
    END-POINT  58334.651          64186.980          11958.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6E                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.650          64181.900          11958.012  1.5  SC MALE 
    END-POINT  58334.650          64181.900          11958.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.650          64180.480          11958.012  1.5  SC FEMALE 
    END-POINT  58334.650          64181.900          11958.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.650          64181.190          11958.012 
    BRANCH1-POINT  58334.650          64181.190          11959.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6G                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.650          64180.480          11958.012  1.5  SC FEMALE 
    END-POINT  58334.650          64180.480          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.650          64181.190          11959.242  0.5  SC FEMALE 
    END-POINT  58334.650          64181.190          11959.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.650          64181.190          11959.242  0.5  SC MALE 
    END-POINT  58334.650          64181.190          11963.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6J                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.650          64181.190          11963.172  0.5  SC FEMALE 
    END-POINT  58334.650          64181.190          11963.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OF3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.650          64181.190          11963.172  0.5  SC FEMALE 
    END-POINT  58334.650          64181.190          11964.672  0.5  SC FEMALE 
    CENTRE-POINT   58334.650          64181.190          11963.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OF2                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.650          64181.190          11964.672  0.5  SC MALE 
    END-POINT  58334.650          64181.190          11964.672  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGG                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.650          64181.190          11964.672  0.5  SC MALE 
    END-POINT  58334.650          64181.190          11967.672  0.5  SC MALE 
    CENTRE-POINT  58334.650  64181.190  11966.172 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGF                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58334.650  64181.190  11967.172 
    TEXT FROM 2051014$MANIFOLD # R3$VALVE #2051014TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58334.650          64181.190          11967.672 
PIPE
    END-POINT  58334.649          64175.400          11958.012  1.5  SC MALE 
    END-POINT  58334.650          64180.480          11958.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6P                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.649          64175.400          11958.012  1.5  SC MALE 
    END-POINT  58334.649          64175.400          11958.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.649          64173.980          11958.012  1.5  SC FEMALE 
    END-POINT  58334.649          64175.400          11958.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.649          64174.690          11958.012 
    BRANCH1-POINT  58334.649          64174.690          11959.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6R                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.649          64173.980          11958.012  1.5  SC FEMALE 
    END-POINT  58334.649          64173.980          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.649          64174.690          11959.242  0.5  SC MALE 
    END-POINT  58334.649          64174.690          11959.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O9U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.649          64174.690          11963.172  0.5  SC MALE 
    END-POINT  58334.649          64174.690          11959.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O9S                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.649          64174.690          11963.172  0.5  SC FEMALE 
    END-POINT  58334.649          64174.690          11963.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OEZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.649          64174.690          11963.172  0.5  SC FEMALE 
    END-POINT  58334.649          64174.690          11964.612  0.5  SC FEMALE 
    CENTRE-POINT   58334.649          64174.690          11963.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OEY                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.649          64174.690          11964.612  0.5  SC MALE 
    END-POINT  58334.649          64174.690          11964.612  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.649          64174.690          11964.612  0.5  SC MALE 
    END-POINT  58334.649          64174.690          11965.482  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGU                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58334.649          64174.690          11965.482 
MESSAGE
    CO-ORDS  58334.649  64174.690  11965.172 
    TEXT SPARE
    UNDIMENSIONED
PIPE
    END-POINT  58334.648          64168.900          11958.012  1.5  SC MALE 
    END-POINT  58334.649          64173.980          11958.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6T                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.648          64168.900          11958.012  1.5  SC MALE 
    END-POINT  58334.648          64168.900          11958.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.648          64167.480          11958.012  1.5  SC FEMALE 
    END-POINT  58334.648          64168.900          11958.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.648          64168.190          11958.012 
    BRANCH1-POINT  58334.648          64168.190          11959.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6V                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.648          64167.480          11958.012  1.5  SC FEMALE 
    END-POINT  58334.648          64167.480          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.648          64168.190          11959.242  0.5  SC MALE 
    END-POINT  58334.648          64168.190          11959.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O9X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.648          64168.190          11963.172  0.5  SC MALE 
    END-POINT  58334.648          64168.190          11959.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O9V                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.648          64168.190          11963.172  0.5  SC FEMALE 
    END-POINT  58334.648          64168.190          11963.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OEV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.648          64168.190          11963.172  0.5  SC FEMALE 
    END-POINT  58334.648          64168.190          11964.612  0.5  SC FEMALE 
    CENTRE-POINT   58334.648          64168.190          11963.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OEU                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.648          64168.190          11964.612  0.5  SC MALE 
    END-POINT  58334.648          64168.190          11964.612  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.648          64168.190          11964.612  0.5  SC MALE 
    END-POINT  58334.648          64168.190          11965.482  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGW                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58334.648          64168.190          11965.482 
MESSAGE
    CO-ORDS  58334.648  64168.190  11965.172 
    TEXT SPARE
    UNDIMENSIONED
PIPE
    END-POINT  58334.648          64167.480          11958.012  1.5  SC MALE 
    END-POINT  58334.647          64162.080          11958.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6X                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58334.648  64164.780  11958.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6Y                 
SCREWED-WELD
    END-POINT  58334.647          64162.080          11958.012  1.5  SC FEMALE 
    END-POINT  58334.647          64162.080          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58334.647          64162.080          11958.012  1.5  SC FEMALE 
    END-POINT  58334.647          64160.840          11959.252  1.5  SC FEMALE 
    CENTRE-POINT   58334.647          64160.840          11958.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.647          64160.840          11959.252  1.5  SC MALE 
    END-POINT  58334.647          64160.840          11959.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.647          64160.840          11980.772  1.5  SC MALE 
    END-POINT  58334.647          64160.840          11959.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAG                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.647          64160.840          11980.772  1.5  SC MALE 
    END-POINT  58334.647          64160.840          11980.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.647          64160.840          11980.772  1.5  SC FEMALE 
    END-POINT  58334.647          64160.840          11983.252  1.5  SC FEMALE 
    CENTRE-POINT   58334.647          64160.840          11982.012 
    BRANCH1-POINT  58334.648          64162.080          11982.012  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.647          64160.840          11983.252  1.5  SC MALE 
    END-POINT  58334.647          64160.840          11983.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OBC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.648          64162.080          11982.012  1.5  SC FEMALE 
    END-POINT  58334.648          64162.080          11982.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.649          64170.730          11982.012  1.5  SC MALE 
    END-POINT  58334.648          64162.080          11982.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O6Z                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.649          64170.730          11982.012  1.5  SC MALE 
    END-POINT  58334.649          64170.730          11982.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O70                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.649          64170.730          11982.012  1.5  SC FEMALE 
    END-POINT  58334.649          64172.150          11982.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.649          64171.440          11982.012 
    BRANCH1-POINT  58334.649          64171.440          11983.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O71                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.649          64172.150          11982.012  1.5  SC FEMALE 
    END-POINT  58334.649          64172.150          11982.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O72                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.649          64171.440          11983.242  0.5  SC FEMALE 
    END-POINT  58334.649          64171.440          11983.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O73                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.649          64171.440          11983.242  0.5  SC MALE 
    END-POINT  58334.649          64171.440          11987.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O74                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.649          64171.440          11987.172  0.5  SC FEMALE 
    END-POINT  58334.649          64171.440          11987.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.649          64171.440          11987.172  0.5  SC FEMALE 
    END-POINT  58334.649          64171.440          11988.612  0.5  SC FEMALE 
    CENTRE-POINT   58334.649          64171.440          11987.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.649          64171.440          11988.612  0.5  SC MALE 
    END-POINT  58334.649          64171.440          11988.612  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.649          64171.440          11988.612  0.5  SC MALE 
    END-POINT  58334.649          64171.440          11989.482  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODO                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58334.649          64171.440          11989.482 
MESSAGE
    CO-ORDS  58334.649  64171.440  11989.172 
    TEXT SPARE
    UNDIMENSIONED
PIPE
    END-POINT  58334.650          64177.230          11982.012  1.5  SC MALE 
    END-POINT  58334.649          64172.150          11982.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O75                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.650          64177.230          11982.012  1.5  SC MALE 
    END-POINT  58334.650          64177.230          11982.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O76                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.650          64177.230          11982.012  1.5  SC FEMALE 
    END-POINT  58334.650          64178.650          11982.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.650          64177.940          11982.012 
    BRANCH1-POINT  58334.650          64177.940          11983.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O77                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.650          64178.650          11982.012  1.5  SC FEMALE 
    END-POINT  58334.650          64178.650          11982.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O78                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.650          64177.940          11983.242  0.5  SC FEMALE 
    END-POINT  58334.650          64177.940          11983.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O79                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.650          64177.940          11983.242  0.5  SC MALE 
    END-POINT  58334.650          64177.940          11987.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7A                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.650          64177.940          11987.172  0.5  SC FEMALE 
    END-POINT  58334.650          64177.940          11987.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.650          64177.940          11987.172  0.5  SC FEMALE 
    END-POINT  58334.650          64177.940          11988.612  0.5  SC FEMALE 
    CENTRE-POINT   58334.650          64177.940          11987.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODR                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.650          64177.940          11988.612  0.5  SC MALE 
    END-POINT  58334.650          64177.940          11988.612  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.650          64177.940          11988.612  0.5  SC MALE 
    END-POINT  58334.650          64177.940          11989.482  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODW                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58334.650          64177.940          11989.482 
MESSAGE
    CO-ORDS  58334.650  64177.940  11989.172 
    TEXT SPARE
    UNDIMENSIONED
PIPE
    END-POINT  58334.651          64183.730          11982.012  1.5  SC MALE 
    END-POINT  58334.650          64178.650          11982.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7B                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.651          64183.730          11982.012  1.5  SC MALE 
    END-POINT  58334.651          64183.730          11982.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.651          64183.730          11982.012  1.5  SC FEMALE 
    END-POINT  58334.651          64185.150          11982.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.651          64184.440          11982.012 
    BRANCH1-POINT  58334.651          64184.440          11983.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7D                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.651          64185.150          11982.012  1.5  SC FEMALE 
    END-POINT  58334.651          64185.150          11982.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.651          64184.440          11983.242  0.5  SC FEMALE 
    END-POINT  58334.651          64184.440          11983.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.651          64184.440          11983.242  0.5  SC MALE 
    END-POINT  58334.651          64184.440          11987.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7G                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.651          64184.440          11987.172  0.5  SC FEMALE 
    END-POINT  58334.651          64184.440          11987.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OE0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.651          64184.440          11987.172  0.5  SC FEMALE 
    END-POINT  58334.651          64184.440          11988.672  0.5  SC FEMALE 
    CENTRE-POINT   58334.651          64184.440          11987.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.651          64184.440          11988.672  0.5  SC MALE 
    END-POINT  58334.651          64184.440          11988.672  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OGA                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.651          64184.440          11988.672  0.5  SC MALE 
    END-POINT  58334.651          64184.440          11991.672  0.5  SC MALE 
    CENTRE-POINT  58334.651  64184.440  11990.172 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OG9                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58334.651  64184.440  11991.172 
    TEXT FROM 2051005$MANIFOLD # R4$VALVE #2051005TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58334.651          64184.440          11991.672 
PIPE
    END-POINT  58334.652          64190.230          11982.012  1.5  SC MALE 
    END-POINT  58334.651          64185.150          11982.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7M                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.652          64190.230          11982.012  1.5  SC MALE 
    END-POINT  58334.652          64190.230          11982.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.652          64190.230          11982.012  1.5  SC FEMALE 
    END-POINT  58334.652          64191.650          11982.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.652          64190.940          11982.012 
    BRANCH1-POINT  58334.652          64190.940          11983.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7O                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.652          64191.650          11982.012  1.5  SC FEMALE 
    END-POINT  58334.652          64191.650          11982.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.652          64190.940          11983.242  0.5  SC FEMALE 
    END-POINT  58334.652          64190.940          11983.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.652          64190.940          11983.242  0.5  SC MALE 
    END-POINT  58334.652          64190.940          11987.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7R                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.652          64190.940          11987.172  0.5  SC FEMALE 
    END-POINT  58334.652          64190.940          11987.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OE9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.652          64190.940          11987.172  0.5  SC FEMALE 
    END-POINT  58334.652          64190.940          11988.672  0.5  SC FEMALE 
    CENTRE-POINT   58334.652          64190.940          11987.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OE8                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.652          64190.940          11988.672  0.5  SC MALE 
    END-POINT  58334.652          64190.940          11988.672  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OG8                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.652          64190.940          11988.672  0.5  SC MALE 
    END-POINT  58334.652          64190.940          11991.672  0.5  SC MALE 
    CENTRE-POINT  58334.652  64190.940  11990.172 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OG7                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58334.652  64190.940  11991.172 
    TEXT FROM 2051009$MANIFOLD # R3$VALVE #2051009TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58334.652          64190.940          11991.672 
PIPE
    END-POINT  58334.653          64196.730          11982.012  1.5  SC MALE 
    END-POINT  58334.652          64191.650          11982.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7X                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.653          64196.730          11982.012  1.5  SC MALE 
    END-POINT  58334.653          64196.730          11982.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.653          64196.730          11982.012  1.5  SC FEMALE 
    END-POINT  58334.653          64198.150          11982.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.653          64197.440          11982.012 
    BRANCH1-POINT  58334.653          64197.440          11983.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O7Z                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.653          64198.150          11982.012  1.5  SC FEMALE 
    END-POINT  58334.653          64198.150          11982.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O80                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.653          64197.440          11983.242  0.5  SC FEMALE 
    END-POINT  58334.653          64197.440          11983.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O81                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.653          64197.440          11983.242  0.5  SC MALE 
    END-POINT  58334.653          64197.440          11987.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O82                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.653          64197.440          11987.172  0.5  SC FEMALE 
    END-POINT  58334.653          64197.440          11987.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OED                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.653          64197.440          11987.172  0.5  SC FEMALE 
    END-POINT  58334.653          64197.440          11988.672  0.5  SC FEMALE 
    CENTRE-POINT   58334.653          64197.440          11987.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OEC                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.653          64197.440          11988.672  0.5  SC MALE 
    END-POINT  58334.653          64197.440          11988.672  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OG6                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.653          64197.440          11988.672  0.5  SC MALE 
    END-POINT  58334.653          64197.440          11991.672  0.5  SC MALE 
    CENTRE-POINT  58334.653  64197.440  11990.172 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OG5                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58334.653  64197.440  11991.172 
    TEXT FROM 2051010$MANIFOLD # R3$VALVE #2051010TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58334.653          64197.440          11991.672 
PIPE
    END-POINT  58334.654          64203.230          11982.012  1.5  SC MALE 
    END-POINT  58334.653          64198.150          11982.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O88                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.654          64203.230          11982.012  1.5  SC MALE 
    END-POINT  58334.654          64203.230          11982.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O89                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.654          64203.230          11982.012  1.5  SC FEMALE 
    END-POINT  58334.654          64204.650          11982.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.654          64203.940          11982.012 
    BRANCH1-POINT  58334.654          64203.940          11983.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O8A                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.654          64204.650          11982.012  1.5  SC MALE 
    END-POINT  58334.654          64204.650          11982.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O9B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.654          64203.940          11983.242  0.5  SC FEMALE 
    END-POINT  58334.654          64203.940          11983.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O8B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.654          64203.940          11983.242  0.5  SC MALE 
    END-POINT  58334.654          64203.940          11987.172  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O8C                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.654          64203.940          11987.172  0.5  SC FEMALE 
    END-POINT  58334.654          64203.940          11987.172  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OEH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58334.654          64203.940          11987.172  0.5  SC FEMALE 
    END-POINT  58334.654          64203.940          11988.672  0.5  SC FEMALE 
    CENTRE-POINT   58334.654          64203.940          11987.922 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OEG                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58334.654          64203.940          11988.672  0.5  SC MALE 
    END-POINT  58334.654          64203.940          11988.672  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OG3                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.654          64203.940          11988.672  0.5  SC MALE 
    END-POINT  58334.654          64203.940          11991.672  0.5  SC MALE 
    CENTRE-POINT  58334.654  64203.940  11990.172 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OG2                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58334.654  64203.940  11991.172 
    TEXT FROM 2051011$MANIFOLD # R3$VALVE #2051011TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58334.654          64203.940          11991.672 
PIPE
    END-POINT  58334.654          64213.540          11982.012  1.5  SC MALE 
    END-POINT  58334.654          64204.650          11982.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O99                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58334.654  64208.675  11982.012 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58334.654          64213.540          11982.012  1.5  SC FEMALE 
    END-POINT  58334.654          64213.540          11982.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.654          64213.540          11982.012  1.5  SC FEMALE 
    END-POINT  58334.654          64215.910          11982.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.654          64214.780          11982.012 
    BRANCH1-POINT  58334.654          64214.780          11980.772  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58334.654          64215.910          11982.012  1.5  SC MALE 
    END-POINT  58334.654          64215.910          11982.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.654          64214.780          11980.772  1.5  SC MALE 
    END-POINT  58334.654          64214.780          11980.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58334.654          64214.780          11959.252  1.5  SC MALE 
    END-POINT  58334.654          64214.780          11980.772  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAT                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.654          64214.780          11959.252  1.5  SC MALE 
    END-POINT  58334.654          64214.780          11959.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58334.654          64213.540          11958.012  1.5  SC FEMALE 
    END-POINT  58334.655          64215.910          11958.012  1.5  SC FEMALE 
    CENTRE-POINT   58334.654          64214.780          11958.012 
    BRANCH1-POINT  58334.654          64214.780          11959.252  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58334.654  64214.780  11958.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64214.780  11958.012 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58334.654  64214.780  11958.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58334.654  64138.748  11958.012 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58334.654          64213.540          11958.012  1.5  SC FEMALE 
    END-POINT  58334.654          64213.540          11958.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.655          64215.910          11958.012  1.5  SC MALE 
    END-POINT  58334.655          64215.910          11958.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58334.655          64215.910          11958.012  1.5  SC MALE 
    END-POINT  58334.655          64217.340          11958.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAR                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58334.655          64217.340          11958.012 
PIPE
    END-POINT  58334.654          64208.140          11958.012  1.5  SC MALE 
    END-POINT  58334.654          64213.540          11958.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O8I                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58334.654  64210.840  11958.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O8J                 
FLOW-ARROW
    CO-ORDS  58334.654  64210.561  11958.012 
    FLOW 2
    SKEY FLOW
MISC-COMPONENT
    END-POINT  58334.654          64215.910          11982.012  1.5  SC MALE 
    END-POINT  58334.655          64217.340          11982.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OAM                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58334.655          64217.340          11982.012 
PIPE
    END-POINT  58334.647          64160.840          12063.120  1.5  SC MALE 
    END-POINT  58334.647          64160.840          11983.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OBA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58334.647          64160.840          12063.120  1.5  SC MALE 
    END-POINT  58334.647          64160.840          12063.120  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OC1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58333.407          64160.840          12064.360  1.5  SC FEMALE 
    END-POINT  58334.647          64160.840          12063.120  1.5  SC FEMALE 
    CENTRE-POINT   58334.647          64160.840          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OB5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.407          64160.840          12064.360  1.5  SC MALE 
    END-POINT  58333.407          64160.840          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OB8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.407          64160.840          12064.360  1.5  SC MALE 
    END-POINT  58327.792          64160.840          12064.360  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OB7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58327.792          64160.840          12064.360  1.5  SC MALE 
    END-POINT  58327.792          64160.840          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OB9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58326.552          64159.600          12064.360  1.5  SC FEMALE 
    END-POINT  58327.792          64160.840          12064.360  1.5  SC FEMALE 
    CENTRE-POINT   58326.552          64160.840          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OB0                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58326.552          64159.600          12064.360  1.5  SC FEMALE 
    END-POINT  58326.552          64159.600          12064.360  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OB2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58326.552          64159.600          12064.360  1.5  SC MALE 
    END-POINT  58326.552          64125.343          12064.360  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O4T                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58326.552  64138.800  12064.360  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OC9                 
SCREWED-WELD
    END-POINT  58326.552          64125.343          12064.360  1.5  SC FEMALE 
    END-POINT  58326.552          64125.343          12064.360  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OCE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58326.552          64125.343          12064.360  1.5  SC FEMALE 
    END-POINT  58326.552          64124.103          12065.600  1.5  SC FEMALE 
    CENTRE-POINT   58326.552          64124.103          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OCC                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58326.552          64124.103          12065.600  1.5  SC MALE 
    END-POINT  58326.552          64124.103          12065.600  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OCG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58326.552          64124.103          12065.600  1.5  SC MALE 
    END-POINT  58326.552          64124.102          12078.047  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OCF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58326.552          64124.102          12078.047  1.5  SC MALE 
    END-POINT  58326.552          64124.102          12078.047  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OCH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58325.312          64124.102          12079.287  1.5  SC FEMALE 
    END-POINT  58326.552          64124.102          12078.047  1.5  SC FEMALE 
    CENTRE-POINT   58326.552          64124.102          12079.287 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O43                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58326.552  64124.102  12079.287 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64124.102  12079.287 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58326.552  64124.102  12079.287 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58326.552  64138.748  12079.287 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58325.312          64124.102          12079.287  1.5  SC MALE 
    END-POINT  58325.312          64124.102          12079.287  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O4K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58201.222          64124.102          12079.287  1.5  SC MALE 
    END-POINT  58325.312          64124.102          12079.287  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O4I                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58282.806  64124.102  12079.287  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OC7                 
SCREWED-WELD
    END-POINT  58201.222          64124.102          12079.287  1.5  SC MALE 
    END-POINT  58201.222          64124.102          12079.287  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O4J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58199.982          64124.102          12078.047  1.5  SC FEMALE 
    END-POINT  58201.222          64124.102          12079.287  1.5  SC FEMALE 
    CENTRE-POINT   58199.982          64124.102          12079.287 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3Y                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58199.982          64124.102          12078.047  1.5  SC MALE 
    END-POINT  58199.982          64124.102          12078.047  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O41                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58199.982          64124.102          12078.047  1.5  SC MALE 
    END-POINT  58199.982          64124.103          12065.600  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O40                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58199.982          64124.103          12065.600  1.5  SC MALE 
    END-POINT  58199.982          64124.103          12065.600  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O42                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58199.982          64122.862          12064.360  1.5  SC FEMALE 
    END-POINT  58199.982          64124.103          12065.600  1.5  SC FEMALE 
    CENTRE-POINT   58199.982          64124.103          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3S                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58199.982          64122.862          12064.360  1.5  SC MALE 
    END-POINT  58199.982          64122.862          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58199.982          64025.805          12064.360  1.5  SC MALE 
    END-POINT  58199.982          64122.862          12064.360  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODE                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58199.982  64092.532  12064.360  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODH                 
SCREWED-WELD
    END-POINT  58199.982          64025.805          12064.360  1.5  SC MALE 
    END-POINT  58199.982          64025.805          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODF                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58199.982          64025.805          12064.360  1.5  SC FEMALE 
    END-POINT  58199.982          64022.180          12064.360  1.5  SC FEMALE 
    CENTRE-POINT   58199.982          64023.993          12064.360 
    SKEY CKSC
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58199.982          64022.180          12064.360  1.5  SC FEMALE 
    END-POINT  58199.982          64022.180          12064.360  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ODB                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58199.982          64017.793          12064.360  1.5  SC MALE 
    END-POINT  58199.982          64022.180          12064.360  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OD8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58199.982          64017.793          12064.360  1.5  SC MALE 
    END-POINT  58199.982          64017.793          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OD9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58199.466          64016.547          12064.360  1.5  SC FEMALE 
    END-POINT  58199.982          64017.793          12064.360  1.5  SC FEMALE 
    CENTRE-POINT   58199.982          64017.063          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3H                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
SCREWED-WELD
    END-POINT  58199.466          64016.547          12064.360  1.5  SC MALE 
    END-POINT  58199.466          64016.547          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58199.466          64016.547          12064.360  1.5  SC MALE 
    END-POINT  58192.013          64009.094          12064.360  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3K                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58192.013          64009.094          12064.360  1.5  SC MALE 
    END-POINT  58192.013          64009.094          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58191.497          64007.848          12064.360  1.5  SC FEMALE 
    END-POINT  58192.013          64009.094          12064.360  1.5  SC FEMALE 
    CENTRE-POINT   58191.497          64008.578          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3E                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
SCREWED-WELD
    END-POINT  58191.497          64007.848          12064.360  1.5  SC FEMALE 
    END-POINT  58191.497          64007.848          12064.360  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58191.497          64003.028          12064.360  1.5  SC MALE 
    END-POINT  58191.497          64007.848          12064.360  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3C                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58191.497          64003.028          12064.360  1.5  SC MALE 
    END-POINT  58191.497          64003.028          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O3D                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58191.497          64001.548          12064.360  1.5  SC FEMALE 
    END-POINT  58191.497          64003.028          12064.360  1.5  SC FEMALE 
    CENTRE-POINT   58191.497          64002.288          12064.360 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O38                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58191.497          64001.548          12064.360  1.5  SC FEMALE 
    END-POINT  58191.497          64001.548          12064.360  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O39                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58191.497          63996.728          12064.360  1.5  SC MALE 
    END-POINT  58191.497          64001.548          12064.360  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O36                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58191.497          63996.728          12064.360  1.5  SC MALE 
    END-POINT  58191.497          63996.728          12064.360  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O37                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58191.497          63995.488          12063.120  1.5  SC FEMALE 
    END-POINT  58191.497          63996.728          12064.360  1.5  SC FEMALE 
    CENTRE-POINT   58191.497          63995.488          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O30                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58191.497          63995.488          12063.120  1.5  SC MALE 
    END-POINT  58191.497          63995.488          12063.120  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OCU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58191.497          63995.488          12063.120  1.5  SC MALE 
    END-POINT  58191.497          63995.488          12047.859  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OCT                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58191.497          63995.488          12047.859  1.5  SC MALE 
    END-POINT  58191.497          63995.488          12047.859  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OD2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58191.497  63995.488  12045.421 
    BRANCH1-POINT  58191.497          63995.488          12047.859  1.5  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HV1                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58191.497  63995.488  12045.421 
    PIPELINE-REFERENCE ISO-PY3-2046010
MATERIALS
ITEM-CODE PLGHEX1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X1/
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE VALVGLB1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SCF, 150LB, GL-01-BA-000
    RATING 150LB
ITEM-CODE GENSTR1/2
    DESCRIPTION PIPE TO TUBING ADAPTOR
    RATING 2000LB
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=2'-6", P622 FIG 1
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PLGHEX1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION MISC PIPE SUPPORT, L=1'-3 3/4", P629 FIG9, P651 FIG1
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION ROD HANGER, L=4'-3 5/16", P624 FIG4
ITEM-CODE SUPAG-1+1/2_1
    DESCRIPTION MISC PIPE SUPPORT, L=10", P629 FIG9, P651 FIG1
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION SWING CHECK VALVE, SCF, 200LB, CS-01-BA-100
    RATING 200LB
ITEM-CODE 45L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 45 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
