ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2041066
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 HC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2041066-HC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-041
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/3/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/11/2009
    ATTRIBUTE25 DC
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 RPDC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58329.425          63932.328          11588.750  0.75  PL
    END-POINT  58332.925          63932.328          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76M                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58331.211  63932.328  11588.750 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58329.425          63932.328          11588.750  0.75
    END-POINT  58329.425          63932.328          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76N                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58332.925          63932.328          11588.750  0.75
    END-POINT  58332.925          63932.328          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58334.675  63932.328  11588.750 
    BRANCH1-POINT  58332.925          63932.328          11588.750  0.75  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9Q7                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58334.675  63932.328  11588.750 
    PIPELINE-REFERENCE ISO-PY3-2041008
ELBOW
    END-POINT  58328.675          63933.078          11588.750  0.75  SW FEMALE 
    END-POINT  58329.425          63932.328          11588.750  0.75  SW FEMALE 
    CENTRE-POINT   58328.675          63932.328          11588.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76K                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58328.675          63933.078          11588.750  0.75  SW FEMALE 
    END-POINT  58328.675          63933.078          11588.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76L                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63938.078          11588.750  0.75  PL
    END-POINT  58328.675          63933.078          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76I                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63938.078          11588.750  0.75
    END-POINT  58328.675          63938.078          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76J                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58328.675          63938.078          11588.750  0.75  SW FEMALE 
    END-POINT  58328.675          63940.453          11588.750  0.75  SW FEMALE 
    CENTRE-POINT   58328.675          63939.265          11588.750 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75F                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58328.675          63940.453          11588.750  0.75
    END-POINT  58328.675          63940.453          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75H                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63940.453          11588.750  0.75  PL
    END-POINT  58328.675          63944.453          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75G                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63944.453          11588.750  0.75  SW FEMALE 
    END-POINT  58328.675          63944.453          11588.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75J                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58328.675          63944.453          11588.750  0.75  SW FEMALE 
    END-POINT  58328.675          63945.203          11588.000  0.75  SW FEMALE 
    CENTRE-POINT   58328.675          63945.203          11588.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75I                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58328.675          63945.203          11588.000  0.75
    END-POINT  58328.675          63945.203          11588.000  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75L                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63945.203          11588.000  0.75  PL
    END-POINT  58328.675          63945.203          11581.000  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75K                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63945.203          11581.000  0.75  SW FEMALE 
    END-POINT  58328.675          63945.203          11581.000  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75N                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58328.675          63945.203          11581.000  0.75  SW FEMALE 
    END-POINT  58328.675          63945.953          11580.250  0.75  SW FEMALE 
    CENTRE-POINT   58328.675          63945.203          11580.250 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75M                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58328.675  63945.203  11580.250 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63945.203  11580.250 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58328.675  63945.203  11580.250 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58328.675  63898.800  11580.250 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL E
SOCKET-WELD
    END-POINT  58328.675          63945.953          11580.250  0.75
    END-POINT  58328.675          63945.953          11580.250  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63945.953          11580.250  0.75  PL
    END-POINT  58328.675          63952.893          11580.250  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GI                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63952.893          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63952.893          11580.250  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58328.675          63953.073          11580.250  0.75  FL
    END-POINT  58328.675          63952.893          11580.250  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GK                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58328.675          63953.198          11580.250  0.75
    END-POINT  58328.675          63953.073          11580.250  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GN                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58328.675          63953.198          11580.250 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GO                 
FLANGE
    END-POINT  58328.675          63953.198          11580.250  0.75  FL
    END-POINT  58328.675          63953.378          11580.250  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GM                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63953.378          11580.250  0.75
    END-POINT  58328.675          63953.378          11580.250  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63953.378          11580.250  0.75  PL
    END-POINT  58328.675          63957.380          11580.250  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GP                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63957.380          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63957.380          11580.250  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58328.675          63957.380          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63959.155          11580.250  0.75  SW FEMALE 
    CENTRE-POINT  58328.675  63958.268  11580.250 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GR                 
    TAG SP-011                          
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58328.675  63958.448  11580.250 
    TEXT SP-938
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58328.675          63959.155          11580.250  0.75
    END-POINT  58328.675          63959.155          11580.250  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63959.155          11580.250  0.75  PL
    END-POINT  58328.675          63963.158          11580.250  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GU                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63963.158          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63963.158          11580.250  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58328.675          63963.338          11580.250  0.75  FL
    END-POINT  58328.675          63963.158          11580.250  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GW                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58328.675          63963.463          11580.250  0.75
    END-POINT  58328.675          63963.338          11580.250  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GZ                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58328.675          63963.463          11580.250 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9H0                 
FLANGE
    END-POINT  58328.675          63963.463          11580.250  0.75  FL
    END-POINT  58328.675          63963.643          11580.250  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GY                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63963.643          11580.250  0.75
    END-POINT  58328.675          63963.643          11580.250  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9H2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63963.643          11580.250  0.75  PL
    END-POINT  58328.675          63973.578          11580.250  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9H1                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58328.675  63968.638  11580.250  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9H4                 
SUPPORT
    CO-ORDS  58328.675  63968.638  11580.250  0.75
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9H6                 
SOCKET-WELD
    END-POINT  58328.675          63973.578          11580.250  0.75
    END-POINT  58328.675          63973.578          11580.250  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9H3                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58328.675          63973.578          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63975.953          11580.250  0.75  SW FEMALE 
    CENTRE-POINT   58328.675          63974.765          11580.250 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           3.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_766                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63975.953          11580.250  0.75
    END-POINT  58328.675          63975.953          11580.250  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_769                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63975.953          11580.250  0.75  PL
    END-POINT  58328.675          63979.953          11580.250  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_768                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63979.953          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63979.953          11580.250  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76B                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58328.675          63979.953          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63982.328          11580.250  0.75  SW FEMALE 
    CENTRE-POINT   58328.675          63981.140          11580.250 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76A                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58328.675          63982.328          11580.250  0.75
    END-POINT  58328.675          63982.328          11580.250  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76D                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63982.328          11580.250  0.75  PL
    END-POINT  58328.675          63986.328          11580.250  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76C                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.675          63986.328          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63986.328          11580.250  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76F                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58328.675          63986.328          11580.250  0.75  SW FEMALE 
    END-POINT  58328.675          63987.078          11579.500  0.75  SW FEMALE 
    CENTRE-POINT   58328.675          63987.078          11580.250 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76E                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58328.675          63987.078          11579.500  0.75
    END-POINT  58328.675          63987.078          11579.500  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76H                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.675          63987.078          11579.500  0.75  PL
    END-POINT  58328.675          63987.078          11539.500  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76G                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58328.675  63987.078  11568.000  0.75
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75D                 
FLOOR-SYMBOL 
    CO-ORDS  58328.675  63987.078  11568.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58328.675  63987.078  11568.000 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58328.675  63987.078  11557.538 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58328.675          63987.078          11539.500  0.75  SW FEMALE 
    END-POINT  58328.675          63987.078          11539.500  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76Z                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58328.675          63987.078          11539.500  0.75  SW FEMALE 
    END-POINT  58327.925          63987.078          11538.750  0.75  SW FEMALE 
    CENTRE-POINT   58328.675          63987.078          11538.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76X                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58327.925          63987.078          11538.750  0.75
    END-POINT  58327.925          63987.078          11538.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_781                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58327.925          63987.078          11538.750  0.75  PL
    END-POINT  58300.300          63987.078          11538.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_780                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58300.300          63987.078          11538.750  0.75
    END-POINT  58300.300          63987.078          11538.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_782                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58300.300          63987.078          11538.750  0.75  SW FEMALE 
    END-POINT  58299.550          63986.328          11538.750  0.75  SW FEMALE 
    CENTRE-POINT   58299.550          63987.078          11538.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_770                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58299.550          63986.328          11538.750  0.75
    END-POINT  58299.550          63986.328          11538.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_795                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58299.550          63986.328          11538.750  0.75  PL
    END-POINT  58299.550          63936.640          11538.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_794                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58299.550  63979.300  11538.750  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_79A                 
FLOW-ARROW
    CO-ORDS  58299.550  63963.977  11538.750 
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS  58299.550  63944.788  11538.750 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58299.550          63936.640          11538.750  0.75
    END-POINT  58299.550          63936.640          11538.750  0.75  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_796                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58299.550          63936.078          11538.750  1.5  SW MALE 
    END-POINT  58299.550          63936.640          11538.750  0.75  SW FEMALE 
    CENTRE-POINT  58299.550  63936.359  11538.750 
    SKEY NCSW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_78W                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58299.550          63936.078          11538.750 
    PIPELINE-REFERENCE ISO-PY3-2041016
MATERIALS
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE 90L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR3/4
    DESCRIPTION STEAM TRAP W/INTEGRAL STRAINER, SP-938
    RATING 3000LB
ITEM-CODE SUPAG-3/4
    DESCRIPTION STEEL SUPPORT, P658-FIG 1, L=1'-0 ", X=2'-0"
ITEM-CODE SUPUB-3/4
    DESCRIPTION U BOLT GUIDE, P651 FIG 1
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE SUPRH-3/4
    DESCRIPTION RISER CLAMP/GUIDE, P615, FIG.2, (C.S.)
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=1'-3 13/16"
