ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218003
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218003-AN-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/29/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/3/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 11/3/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 6
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 D. DURK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/2/2009
    ATTRIBUTE54 D. ORR
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 3/16/2009
    ATTRIBUTE60 D. ORR
    ATTRIBUTE61 RP
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 4/7/2009
    ATTRIBUTE66 SM
    ATTRIBUTE67 RP
    ATTRIBUTE68 DCD
    ATTRIBUTE69 REVISED AS NOTED
    ATTRIBUTE70 6
    ATTRIBUTE71 7/31/2009
    ATTRIBUTE72 CP
    ATTRIBUTE73 BJL
    ATTRIBUTE74 DCD
    ATTRIBUTE75 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  58228.800          64231.576          11974.731  0.75  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TS                 
    PIPING-SPEC S1
    END-POINT  58228.800          64231.576          11975.231  0.75
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58228.800          64231.576          11975.231 
GASKET
    END-POINT  58228.800          64231.576          11974.731  0.75
    END-POINT  58228.800          64231.576          11974.606  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TT                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58228.800          64231.576          11974.731 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TU                 
VALVE
    END-POINT  58228.800          64231.576          11969.981  0.75  FL
    END-POINT  58228.800          64231.576          11974.606  0.75  FL
    CENTRE-POINT   58228.800          64231.576          11972.294 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TN                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58228.800          64231.576          11969.981  0.75
    END-POINT  58228.800          64231.576          11969.856  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TO                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58228.800          64231.576          11969.981 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TP                 
FLANGE
    END-POINT  58228.800          64231.576          11969.856  0.75  FL
    END-POINT  58228.800          64231.576          11967.796  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TL                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64231.576          11967.796  0.75
    END-POINT  58228.800          64231.576          11967.796  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOLET
    END-POINT  58228.800          64231.576          11965.921  2  PL
    END-POINT  58228.800          64231.576          11967.796  0.75  BW
    SKEY CEBW
    FABRICATION-ITEM
    ITEM-CODE EOL2X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6RL                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64231.576          11965.921  2
    END-POINT  58228.800          64231.576          11965.921  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6RM                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
ELBOW-TEED
    END-POINT  58228.800          64231.576          11963.000  2  BW
    END-POINT  58228.800          64234.576          11966.000  2  BW
    CENTRE-POINT   58228.800          64231.576          11966.000 
    BRANCH1-POINT  58228.800          64231.576          11965.921  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6QU                 
    PIPING-SPEC S1
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  58228.800          64231.576          11965.921  2
WELD
    END-POINT  58228.800          64231.576          11963.000  2
    END-POINT  58228.800          64231.576          11963.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6R7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64234.576          11966.000  2
    END-POINT  58228.800          64234.576          11966.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6RA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58228.800          64234.576          11966.000  2  BW
    END-POINT  58228.800          64243.148          11966.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6R9                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58228.800  64238.152  11966.000  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6SO                 
SUPPORT
    CO-ORDS  58228.800  64238.152  11966.000  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6SP                 
SUPPORT
    CO-ORDS  58228.800  64238.152  11966.000  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UC                 
WELD
    END-POINT  58228.800          64243.148          11966.000  2
    END-POINT  58228.800          64243.148          11966.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6RB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58228.800          64246.148          11963.000  2  BW
    END-POINT  58228.800          64243.148          11966.000  2  BW
    CENTRE-POINT   58228.800          64246.148          11966.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6QT                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58228.800  64246.148  11966.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64246.148  11966.000 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58228.800  64246.148  11966.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58228.800  64378.800  11966.000 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58228.800          64246.148          11963.000  2
    END-POINT  58228.800          64246.148          11963.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6R5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58228.800          64246.148          11913.001  2  BW
    END-POINT  58228.800          64246.148          11963.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6R3                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58228.800  64246.148  11929.250  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6RG                 
FLOOR-SYMBOL 
    CO-ORDS  58228.800  64246.148  11928.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58228.800  64246.148  11928.000 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58228.800  64246.148  11947.405 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58228.800          64246.148          11913.001  2
    END-POINT  58228.800          64246.148          11913.001  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8O1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58228.800          64246.148          11913.001  2  BW
    END-POINT  58226.418          64247.972          11910.001  2  BW
    CENTRE-POINT   58228.800          64246.148          11910.001 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8NZ                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58226.418          64247.972          11910.001  2
    END-POINT  58226.418          64247.972          11910.001  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58207.348          64262.747          11910.001  2  BW
    END-POINT  58226.418          64247.972          11910.001  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YP                 
    PIPING-SPEC S1
WELD
    END-POINT  58207.348          64262.747          11910.001  2
    END-POINT  58207.348          64262.747          11910.001  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_94A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58207.348          64262.747          11910.001  2  BW
    END-POINT  58204.976          64264.585          11907.001  2  BW
    CENTRE-POINT   58204.976          64264.585          11910.001 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YO                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58204.976          64264.585          11907.001  2
    END-POINT  58204.976          64264.585          11907.001  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58204.976          64264.585          11907.001  2  BW
    END-POINT  58204.976          64264.582          11883.001  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YU                 
    PIPING-SPEC S1
WELD
    END-POINT  58204.976          64264.582          11883.001  2
    END-POINT  58204.976          64264.582          11883.001  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58204.976          64264.582          11883.001  2  BW
    END-POINT  58207.097          64262.461          11880.001  2  BW
    CENTRE-POINT   58204.976          64264.582          11880.001 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YB                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58207.097          64262.461          11880.001  2
    END-POINT  58207.097          64262.461          11880.001  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_94B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58207.097          64262.461          11880.001  2  BW
    END-POINT  58230.682          64239.413          11880.001  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YD                 
    PIPING-SPEC S1
WELD
    END-POINT  58230.682          64239.413          11880.001  2
    END-POINT  58230.682          64239.413          11880.001  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58232.803          64237.291          11877.001  2  BW
    END-POINT  58230.682          64239.413          11880.001  2  BW
    CENTRE-POINT   58232.803          64237.291          11880.001 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Y6                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58232.803          64237.291          11877.001  2
    END-POINT  58232.803          64237.291          11877.001  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Y8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58232.803          64237.291          11877.001  2  BW
    END-POINT  58232.803          64237.291          11822.751  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Y7                 
    PIPING-SPEC S1
WELD
    END-POINT  58232.803          64237.291          11822.751  2
    END-POINT  58232.803          64237.291          11822.751  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Y9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  58232.803          64237.291          11819.251  3  BW
    END-POINT  58232.803          64237.291          11822.751  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Y4                 
    PIPING-SPEC S1
WELD
    END-POINT  58232.803          64237.291          11819.251  3
    END-POINT  58232.803          64237.291          11819.251  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Y5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58235.985          64240.473          11814.751  3  BW
    END-POINT  58232.803          64237.291          11819.251  3  BW
    CENTRE-POINT   58232.803          64237.291          11814.751 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Y1                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58235.985          64240.473          11814.751  3
    END-POINT  58235.985          64240.473          11814.751  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Y3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58238.107          64242.595          11814.751  3  PL
    END-POINT  58235.985          64240.473          11814.751  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QM                 
    PIPING-SPEC S1
WELD
    END-POINT  58238.107          64242.595          11814.751  3
    END-POINT  58238.107          64242.595          11814.751  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58238.107          64242.595          11814.751  3
    END-POINT  58238.107          64242.595          11814.751  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58238.304          64242.792          11814.751  3  FL
    END-POINT  58238.107          64242.595          11814.751  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QI                 
    PIPING-SPEC S1
GASKET
    END-POINT  58238.304          64242.792          11814.751  3
    END-POINT 
** 
Processing ID: AT_FL5BJQ2V_8QJ  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QJ                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58238.304          64242.792          11814.751 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QK                 
END-POSITION-OPEN 
    CO-ORDS  58238.304  64242.792  11814.751 
PIPE
    END-POINT  58228.800          64231.576          11963.000  2  BW
    END-POINT  58228.800          64231.576          11939.435  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6R6                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58228.800  64231.576  11951.877 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58228.800          64231.576          11939.435  2
    END-POINT  58228.800          64231.576          11939.435  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6R8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58228.800          64228.576          11936.435  2  BW
    END-POINT  58228.800          64231.576          11939.435  2  BW
    CENTRE-POINT   58228.800          64231.576          11936.435 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6QD                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58228.800  64231.576  11936.435 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64231.576  11936.435 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58228.800  64231.576  11936.435 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58228.800  64378.800  11936.435 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58228.800          64228.576          11936.435  2
    END-POINT  58228.800          64228.576          11936.435  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6QF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58228.800          64226.076          11936.435  2  FL
    END-POINT  58228.800          64228.576          11936.435  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3F1                 
    PIPING-SPEC S1
GASKET
    END-POINT  58228.800          64225.951          11936.435  2
    END-POINT  58228.800          64226.076          11936.435  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6U0                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58228.800          64225.951          11936.435 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6U1                 
VALVE
    END-POINT  58228.800          64218.951          11936.435  2  FL
    END-POINT  58228.800          64225.951          11936.435  2  FL
    CENTRE-POINT   58228.800          64222.451          11936.435 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TV                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58228.800          64218.951          11936.435  2
    END-POINT  58228.800          64218.826          11936.435  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TW                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58228.800          64218.951          11936.435 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6TX                 
FLANGE
    END-POINT  58228.800          64218.826          11936.435  2  FL
    END-POINT  58228.800          64216.326          11936.435  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3EU                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64216.326          11936.435  2
    END-POINT  58228.800          64216.326          11936.435  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3EV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58228.800          64211.326          11936.435  2  BW
    END-POINT  58228.800          64216.326          11936.435  2  BW
    CENTRE-POINT   58228.800          64213.826          11936.435 
    BRANCH1-POINT  58231.300          64213.826          11936.435  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3EC                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58228.800          64211.326          11936.435  2
    END-POINT  58228.800          64211.326          11936.435  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6PE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58231.300          64213.826          11936.435  2
    END-POINT  58231.300          64213.826          11936.435  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3EH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-ECCENTRIC
    END-POINT  58231.300          64213.826          11936.435  2  BW
    END-POINT  58234.300          64213.826          11935.772  0.75  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC2X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3EF                 
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58234.300          64213.826          11935.772  0.75
    END-POINT  58234.300          64213.826          11935.772  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3EK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58236.360          64213.826          11935.772  0.75  FL
    END-POINT  58234.300          64213.826          11935.772  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3EJ                 
    PIPING-SPEC S1
GASKET
    END-POINT  58236.485          64213.826          11935.772  0.75
    END-POINT  58236.360          64213.826          11935.772  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6U5                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58236.485          64213.826          11935.772 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6U6                 
VALVE
    END-POINT  58236.485          64213.826          11935.772  0.75  FL
    END-POINT  58241.110          64213.826          11935.772  0.75  FL
    CENTRE-POINT   58238.798          64213.826          11935.772 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6U4                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58241.235          64213.826          11935.772  0.75
    END-POINT  58241.110          64213.826          11935.772  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UA                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58241.235          64213.826          11935.772 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UB                 
FLANGE-BLIND
    END-POINT  58241.235          64213.826          11935.772  0.75  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6U9                 
    PIPING-SPEC S1
    END-POINT  58241.735          64213.826          11935.772  0.75
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58241.735          64213.826          11935.772 
PIPE
    END-POINT  58228.800          64207.305          11936.435  2  BW
    END-POINT  58228.800          64211.326          11936.435  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6PC                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64207.305          11936.435  2
    END-POINT  58228.800          64207.305          11936.435  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6PD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  58228.800          64207.305          11936.435  2  BW
    END-POINT  58228.800          64204.305          11936.435  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6O9                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64204.305          11936.435  1
    END-POINT  58228.800          64204.305          11936.435  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6OA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58228.800          64202.805          11937.935  1  BW
    END-POINT  58228.800          64204.305          11936.435  1  BW
    CENTRE-POINT   58228.800          64202.805          11936.435 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6O6                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58228.800          64202.805          11937.935  1
    END-POINT  58228.800          64202.805          11937.935  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6O8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58228.800          64202.805          11940.125  1  FL
    END-POINT  58228.800          64202.805          11937.935  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6O2                 
    PIPING-SPEC S1
GASKET
    END-POINT  58228.800          64202.805          11940.125  1
    END-POINT  58228.800          64202.805          11940.250  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6O3                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58228.800          64202.805          11940.125 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6O4                 
END-POSITION-OPEN 
    CO-ORDS  58228.800          64202.805          11940.250 
MATERIALS
ITEM-CODE FLGBLD3/4
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-501
    RATING 150LB
ITEM-CODE FLGWNK3/4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE EOL2X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPAG-2
    DESCRIPTION STEEL SUPPORT P629 FIG 8, L=3'-6 3/4"
ITEM-CODE SUPAG-2_1
    DESCRIPTION STEEL SUPPORT P630 FIG 9
ITEM-CODE SUPUB-2
    DESCRIPTION U BOLT ANCHOR, P648 FIG.1
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE REDCON3X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-501
    RATING 150LB
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDECC2X3/4
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
