ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2044004
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5211.DWG
    ATTRIBUTE98 LC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2044004-LC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-044
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/4/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/11/2009
    ATTRIBUTE25 DC
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/23/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/23/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 3/23/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 DC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58144.675          64301.800          11433.361  1  PL
    END-POINT  58144.675          64301.800          11437.361  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BA                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58144.675          64301.800          11433.361  1  SW FEMALE 
    END-POINT  58144.675          64301.800          11433.361  1
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_B9                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58144.675          64301.800          11437.361  1
    END-POINT  58144.675          64301.800          11437.361  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BB                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58144.675  64301.800  11430.298 
    BRANCH1-POINT  58144.675          64301.800          11433.361  1  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_B8                  
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58144.675  64301.800  11430.298 
    PIPELINE-REFERENCE ISO-PY3-2043006
VALVE
    END-POINT  58144.675          64301.800          11437.361  1  SW FEMALE 
    END-POINT  58144.675          64301.800          11440.361  1  SW FEMALE 
    CENTRE-POINT   58144.675          64301.800          11438.861 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           8.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BC                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58144.675          64301.800          11440.361  1  SW FEMALE 
    END-POINT  58144.675          64301.800          11440.361  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BE                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58144.675          64301.800          11449.070  1  PL
    END-POINT  58144.675          64301.800          11440.361  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BF                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58144.675          64301.800          11449.070  1
    END-POINT  58144.675          64301.800          11449.070  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BG                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58144.675          64301.800          11449.070  1  SW FEMALE 
    END-POINT  58144.675          64302.680          11449.950  1  SW FEMALE 
    CENTRE-POINT   58144.675          64301.800          11449.950 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BH                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58144.675          64302.680          11449.950  1  SW FEMALE 
    END-POINT  58144.675          64302.680          11449.950  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BI                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58144.675          64335.920          11449.950  1  PL
    END-POINT  58144.675          64302.680          11449.950  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BJ                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58144.675          64335.920          11449.950  1
    END-POINT  58144.675          64335.920          11449.950  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BK                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58144.675          64335.920          11449.950  1  SW FEMALE 
    END-POINT  58144.675          64336.800          11450.830  1  SW FEMALE 
    CENTRE-POINT   58144.675          64336.800          11449.950 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BL                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58144.675  64336.800  11449.950 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64336.800  11449.950 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX1
    MESSAGE
    TEXT COL 2
SOCKET-WELD
    END-POINT  58144.675          64336.800          11450.830  1  SW FEMALE 
    END-POINT  58144.675          64336.800          11450.830  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BM                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58144.675          64336.800          11469.549  1  PL
    END-POINT  58144.675          64336.800          11450.830  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BN                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58144.675          64336.800          11469.549  1
    END-POINT  58144.675          64336.800          11469.549  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BO                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58145.555          64336.800          11470.430  1  SW FEMALE 
    END-POINT  58144.675          64336.800          11469.549  1  SW FEMALE 
    CENTRE-POINT   58144.675          64336.800          11470.430 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BP                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58144.675  64336.800  11470.430 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58144.675  64411.735  11470.430 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX1
    MESSAGE
    TEXT COL G
SOCKET-WELD
    END-POINT  58145.555          64336.800          11470.430  1  SW FEMALE 
    END-POINT  58145.555          64336.800          11470.430  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BQ                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58204.872          64336.800          11470.430  1  PL
    END-POINT  58145.555          64336.800          11470.430  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BR                  
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.809  64336.800  11470.430  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BS                  
SUPPORT
    CO-ORDS  58153.809  64336.800  11470.430  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BT                  
FLOW-ARROW
    CO-ORDS  58173.099  64336.800  11470.430 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58204.872          64336.800          11470.430  1
    END-POINT  58204.872          64336.800          11470.430  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BV                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58204.872          64336.800          11470.430  1  SW FEMALE 
    END-POINT  58205.753          64336.800          11471.309  1  SW FEMALE 
    CENTRE-POINT   58205.753          64336.800          11470.430 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BW                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.753          64336.800          11471.309  1  SW FEMALE 
    END-POINT  58205.753          64336.800          11471.309  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BX                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.753          64336.800          11471.309  1  PL
    END-POINT  58205.753          64336.800          11523.657  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BY                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58205.753          64336.800          11523.657  1
    END-POINT  58205.753          64336.800          11523.657  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_BZ                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.753          64337.680          11524.538  1  SW FEMALE 
    END-POINT  58205.753          64336.800          11523.657  1  SW FEMALE 
    CENTRE-POINT   58205.753          64336.800          11524.538 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_C0                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.753          64337.680          11524.538  1  SW FEMALE 
    END-POINT  58205.753          64337.680          11524.538  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_C1                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.753          64337.680          11524.538  1  PL
    END-POINT  58205.753          64364.573          11524.538  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_C2                  
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58205.753  64338.680  11524.538  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_NG                  
SOCKET-WELD
    END-POINT  58205.753          64364.573          11524.538  1
    END-POINT  58205.753          64364.573          11524.538  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_C3                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.753          64365.453          11525.418  1  SW FEMALE 
    END-POINT  58205.753          64364.573          11524.538  1  SW FEMALE 
    CENTRE-POINT   58205.753          64365.453          11524.538 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_C4                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.753          64365.453          11525.418  1  SW FEMALE 
    END-POINT  58205.753          64365.453          11525.418  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_C5                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.753          64365.453          11739.793  1  PL
    END-POINT  58205.753          64365.453          11525.418  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_C6                  
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58205.753  64365.453  11568.000  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_C7                  
FLOOR-SYMBOL 
    CO-ORDS  58205.753  64365.453  11568.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58205.753  64365.453  11568.000 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58205.753  64365.453  11647.783 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58205.753  64365.453  11555.250  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_NI                  
    TAG                         P651 FIG 1                      
SUPPORT
    CO-ORDS  58205.753  64365.453  11555.250  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_NJ                  
    TAG                         P629 FIG 8                      
SOCKET-WELD
    END-POINT  58205.753          64365.453          11739.793  1  SW FEMALE 
    END-POINT  58205.753          64365.453          11739.793  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_MY                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.753          64365.453          11739.793  1  SW FEMALE 
    END-POINT  58205.753          64364.573          11740.673  1  SW FEMALE 
    CENTRE-POINT   58205.753          64365.453          11740.673 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_MW                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.753          64364.573          11740.673  1  SW FEMALE 
    END-POINT  58205.753          64364.573          11740.673  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_MZ                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.753          64364.573          11740.673  1  PL
    END-POINT  58205.753          64325.520          11740.673  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CD                  
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58205.753  64344.800  11740.673  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N8                  
    TAG                         P629 FIG 8                      
SUPPORT
    CO-ORDS  58205.753  64344.800  11740.673  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N9                  
    TAG                         P651 FIG 1                      
SOCKET-WELD
    END-POINT  58205.753          64325.520          11740.673  1  SW FEMALE 
    END-POINT  58205.753          64325.520          11740.673  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_MV                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.753          64325.520          11740.673  1  SW FEMALE 
    END-POINT  58205.753          64324.640          11741.553  1  SW FEMALE 
    CENTRE-POINT   58205.753          64324.640          11740.673 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CG                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.753          64324.640          11741.553  1  SW FEMALE 
    END-POINT  58205.753          64324.640          11741.553  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CH                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.753          64324.640          11741.553  1  PL
    END-POINT  58205.753          64324.640          11824.995  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CI                  
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58205.753  64324.640  11796.000  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CJ                  
FLOOR-SYMBOL 
    CO-ORDS  58205.753  64324.640  11796.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58205.753  64324.640  11796.000 
    TEXT Grate Opening
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58205.753          64324.640          11824.995  1  SW FEMALE 
    END-POINT  58205.753          64324.640          11824.995  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_MU                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58204.872          64324.640          11825.875  1  SW FEMALE 
    END-POINT  58205.753          64324.640          11824.995  1  SW FEMALE 
    CENTRE-POINT   58205.753          64324.640          11825.875 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CM                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58204.872          64324.640          11825.875  1
    END-POINT  58204.872          64324.640          11825.875  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N7                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58166.144          64324.640          11825.875  1  PL
    END-POINT  58204.872          64324.640          11825.875  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N5                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58166.144          64324.640          11825.875  1
    END-POINT  58166.144          64324.640          11825.875  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N6                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58165.264          64323.760          11825.875  1  SW FEMALE 
    END-POINT  58166.144          64324.640          11825.875  1  SW FEMALE 
    CENTRE-POINT   58165.264          64324.640          11825.875 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CR                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58165.264          64323.760          11825.875  1
    END-POINT  58165.264          64323.760          11825.875  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N2                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.264          64320.324          11825.875  1  PL
    END-POINT  58165.264          64323.760          11825.875  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N0                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.264          64320.324          11825.875  1
    END-POINT  58165.264          64320.324          11825.875  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N1                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
UNION
    END-POINT  58165.264          64319.013          11825.875  1  SW FEMALE 
    END-POINT  58165.264          64320.324          11825.875  1  SW FEMALE 
    SKEY UNSW
    FABRICATION-ITEM
    ITEM-CODE UNN1
    WEIGHT           1.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CV                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.264          64319.013          11825.875  1  SW FEMALE 
    END-POINT  58165.264          64319.013          11825.875  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CW                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.264          64314.870          11825.875  1  SC MALE 
    END-POINT  58165.264          64319.013          11825.875  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_CX                  
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58165.264          64314.870          11825.875  1  SC MALE 
    END-POINT 
** 
Processing ID: AT_FMJ8899R_N3  Error finding the coordinates of NP1.wc **

    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_N3                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58165.264          64314.870          11825.875 
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE VALVGAT3/4
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPTS-1
    DESCRIPTION TEE SHOE SUPPORT, P602-FIG 2 (MODIFY TO 8" LONG)
ITEM-CODE SUPAG-1
    DESCRIPTION STEEL SUPPORT, P629-FIG 9, L=1'-0 3/8"
ITEM-CODE SUPRH-1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=3'-8 9/16"
ITEM-CODE SUPRH-1_1
    DESCRIPTION RISER CLAMP, P615, FIG.1
ITEM-CODE SUPAG-1_1
    DESCRIPTION P651 FIG 1
ITEM-CODE SUPAG-1_2
    DESCRIPTION P629 FIG 8
ITEM-CODE SUPAG-1_3
    DESCRIPTION P629 FIG 8, L= 2'-8"
ITEM-CODE UNN1
    CATALOG MSS SP-83
    DESCRIPTION UNION, SWF,  3000LB, ASTM A105, MSS SP-83
    RATING 3000LB
ITEM-CODE PIP1_1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS (T.O.E.)
    RATING 40
