ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214001
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1214001-AN-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/2/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/15/2008
    ATTRIBUTE25 DP
    ATTRIBUTE26 10/25/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE37 RP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 D. DURK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58023.767          64107.754          12179.322  2  FL
    END-POINT  58023.767          64107.754          12181.822  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_25Y                 
    PIPING-SPEC S1
GASKET
    END-POINT  58023.767          64107.754          12179.322  2
    END-POINT  58023.783          64107.769          12179.197  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81N                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58023.767          64107.754          12179.322 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81O                 
PIPE
    END-POINT  58023.783          64107.769          12179.197  2  
    END-POINT  58023.783          64107.769          12179.199  2  
    CONTINUATION 
    MESSAGE This is a GAP 
WELD
    END-POINT  58023.767          64107.754          12181.822  2
    END-POINT  58023.767          64107.754          12181.822  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_260                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58023.783          64107.769          12179.197 
ELBOW
    END-POINT  58023.767          64107.754          12181.822  2  BW
    END-POINT  58026.767          64107.754          12184.822  2  BW
    CENTRE-POINT   58023.767          64107.754          12184.822 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_25Z                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58026.767          64107.754          12184.822  2
    END-POINT  58026.767          64107.754          12184.822  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_262                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58029.267          64107.754          12184.822  2  FL
    END-POINT  58026.767          64107.754          12184.822  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_261                 
    PIPING-SPEC S1
GASKET
    END-POINT  58029.392          64107.754          12184.822  2
    END-POINT  58029.267          64107.754          12184.822  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_264                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58029.392          64107.754          12184.822 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_265                 
INSTRUMENT
    END-POINT  58029.392          64107.754          12184.822  2  FL
    END-POINT  58036.392          64107.754          12184.822  2  FL
    CENTRE-POINT   58032.892          64107.754          12184.822 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_263                 
    TAG FV$022$09                       
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58032.892  64107.754  12184.822 
    TEXT FV$022$09
    UNDIMENSIONED
GASKET
    END-POINT  58036.517          64107.754          12184.822  2
    END-POINT  58036.392          64107.754          12184.822  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CR                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58036.517          64107.754          12184.822 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CS                 
FLANGE
    END-POINT  58036.517          64107.754          12184.822  2  FL
    END-POINT  58039.017          64107.754          12184.822  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CQ                 
    PIPING-SPEC S1
WELD
    END-POINT  58039.017          64107.754          12184.822  2
    END-POINT  58039.017          64107.754          12184.822  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58042.017          64110.753          12184.736  2  BW
    END-POINT  58039.017          64107.754          12184.822  2  BW
    CENTRE-POINT   58042.017          64107.754          12184.822 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RH                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58042.017          64110.753          12184.736  2
    END-POINT  58042.017          64110.753          12184.736  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58042.017          64110.753          12184.736  2  BW
    END-POINT  58042.017          64123.900          12184.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RJ                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58042.017  64112.752  12184.678  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 2 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RN                 
WELD
    END-POINT  58042.017          64123.900          12184.438  2
    END-POINT  58042.017          64123.900          12184.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58042.017          64126.814          12181.439  2  BW
    END-POINT  58042.017          64123.900          12184.438  2  BW
    CENTRE-POINT   58042.017          64126.814          12184.354 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RG                 
    PIPING-SPEC S1
    ANGLE 8835
WELD
    END-POINT  58042.017          64126.814          12181.439  2
    END-POINT  58042.017          64126.814          12181.439  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58042.017          64126.814          12083.042  2  BW
    END-POINT  58042.017          64126.814          12181.439  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RW                 
    PIPING-SPEC S1
FLOOR-SYMBOL 
    CO-ORDS  58042.017  64126.814  12144.002 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58042.017  64126.814  12144.002 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58042.017          64126.814          12083.042  2
    END-POINT  58042.017          64126.814          12083.042  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58042.017          64126.814          12083.042  2  BW
    END-POINT  58042.017          64129.778          12080.042  2  BW
    CENTRE-POINT   58042.017          64126.814          12080.077 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RV                 
    PIPING-SPEC S1
    ANGLE 8932
WELD
    END-POINT  58042.017          64129.778          12080.042  2
    END-POINT  58042.017          64129.778          12080.042  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2S3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58042.017          64144.814          12079.863  2  BW
    END-POINT  58042.017          64129.778          12080.042  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2S1                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58042.017  64136.350  12079.964 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58042.017          64144.814          12079.863  2
    END-POINT  58042.017          64144.814          12079.863  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2S2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58042.017          64144.814          12079.863  2  BW
    END-POINT  58039.017          64147.814          12079.794  2  BW
    CENTRE-POINT   58042.017          64147.814          12079.827 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2RZ                 
    PIPING-SPEC S1
    ANGLE 8999
WELD
    END-POINT  58039.017          64147.814          12079.794  2
    END-POINT  58039.017          64147.814          12079.794  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2S0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57990.524          64147.814          12079.221  2  BW
    END-POINT  58039.017          64147.814          12079.794  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2D1                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58024.077  64147.814  12079.627 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58006.800  64147.814  12079.402  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81W                 
WELD
    END-POINT  57990.524          64147.814          12079.221  2
    END-POINT  57990.524          64147.814          12079.221  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2D2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57987.558          64147.814          12076.221  2  BW
    END-POINT  57990.524          64147.814          12079.221  2  BW
    CENTRE-POINT   57987.558          64147.814          12079.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CX                 
    PIPING-SPEC S1
    ANGLE 8936
WELD
    END-POINT  57987.558          64147.814          12076.221  2
    END-POINT  57987.558          64147.814          12076.221  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57987.558          64147.814          12076.221  2  BW
    END-POINT  57987.558          64147.814          12065.280  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CY                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57987.558  64147.814  12071.432 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57987.558          64147.814          12065.280  2
    END-POINT  57987.558          64147.814          12065.280  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2D0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57987.558          64150.781          12062.280  2  BW
    END-POINT  57987.558          64147.814          12065.280  2  BW
    CENTRE-POINT   57987.558          64147.814          12062.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CA                 
    PIPING-SPEC S1
    ANGLE 8938
WELD
    END-POINT  57987.558          64150.781          12062.280  2
    END-POINT  57987.558          64150.781          12062.280  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57987.558          64153.281          12062.253  2  FL
    END-POINT  57987.558          64150.781          12062.280  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CB                 
    PIPING-SPEC S1
GASKET
    END-POINT  57987.558          64153.406          12062.252  2
    END-POINT  57987.558          64153.281          12062.253  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CE                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57987.558          64153.406          12062.252 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CF                 
FLANGE
    END-POINT  57987.558          64153.406          12062.252  2  FL
    END-POINT  57987.558          64153.622          12062.249  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CD                 
    PIPING-SPEC S1
WELD
    END-POINT  57987.558          64153.622          12062.249  2
    END-POINT  57987.558          64153.622          12062.249  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57987.558          64153.622          12062.249  2
    END-POINT  57987.558          64153.622          12062.249  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  57987.558          64153.622          12062.249  2  PL
    END-POINT  57987.558          64247.650          12061.224  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CK                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57987.558  64205.045  12061.689 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57987.558  64174.800  12062.018  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81U                 
WELD
    END-POINT  57987.558          64247.650          12061.224  2
    END-POINT  57987.558          64247.650          12061.224  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57987.558          64247.650          12061.224  2  BW
    END-POINT  57987.558          64250.617          12058.225  2  BW
    CENTRE-POINT   57987.558          64250.617          12061.192 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2C9                 
    PIPING-SPEC S1
    ANGLE 8938
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57987.558  64250.617  12058.225 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64250.617  12058.225 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57987.558  64250.617  12058.225 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57987.558  64378.800  12058.225 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  57987.558          64250.617          12058.225  2
    END-POINT  57987.558          64250.617          12058.225  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57987.558          64250.617          11962.740  2  PL
    END-POINT  57987.558          64250.617          12058.225  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2CG                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57987.558  64250.617  12012.439 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57987.558          64250.617          11962.740  2
    END-POINT  57987.558          64250.617          11962.740  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57987.558          64250.617          11962.740  2
    END-POINT  57987.558          64250.617          11962.740  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57987.558          64250.617          11962.523  2  FL
    END-POINT  57987.558          64250.617          11962.740  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81H                 
    PIPING-SPEC S1
GASKET
    END-POINT  57987.558          64250.617          11962.523  2
    END-POINT 
** 
Processing ID: AT_FL5BJQ2V_81I  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81I                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57987.558          64250.617          11962.523 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81J                 
END-POSITION-OPEN 
    CO-ORDS  57987.558  64250.617  11962.523 
MATERIALS
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVCNT2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FV-022-09
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPST-2
    DESCRIPTION PIPE SUPPORT, P619 FIG 1, L=3'-3 7/16"
ITEM-CODE 90LLR2_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 88.35
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION ROD HANGER P624 FIG 3, L=4'-3 3/16"
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPRH-2_1
    DESCRIPTION ROD HANGER P624 FIG 3, L=5'-8 9/16"
