ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216014
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1216014-65TWR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/24/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/24/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/24/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/24/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/24/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 SP
    ATTRIBUTE38 NK
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/24/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 SP
    ATTRIBUTE44 NK
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BJL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57795.211          63912.306          11426.256  0.75  SC MALE 
    END-POINT  57795.211          63912.306          11425.256  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FR2                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  57795.211          63912.306          11426.256  0.75  SC MALE 
    END-POINT  57795.211          63912.306          11426.256  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FR3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
VALVE
    END-POINT  57795.211          63912.306          11427.696  0.75  SC FEMALE 
    END-POINT  57795.211          63912.306          11426.256  0.75  SC FEMALE 
    CENTRE-POINT   57795.211          63912.306          11426.916 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FR4                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  57795.211          63912.306          11427.696  0.75  SC FEMALE 
    END-POINT  57795.211          63912.306          11427.696  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FR6                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE-FIXED
    END-POINT  57795.211          63912.306          11430.696  0.75  SC MALE 
    END-POINT  57795.211          63912.306          11427.696  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FR7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57795.211          63912.306          11430.696  0.75  SC MALE 
    END-POINT  57795.211          63912.306          11430.696  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FR8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
TEE
    END-POINT  57794.391          63912.306          11431.946  1.5  SC FEMALE 
    END-POINT  57796.031          63912.306          11431.946  1.5  SC FEMALE 
    CENTRE-POINT   57795.211          63912.306          11431.946 
    BRANCH1-POINT  57795.211          63912.306          11430.696  0.75  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X3/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FR9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57794.391          63912.306          11431.946  1.5  SC FEMALE 
    END-POINT  57794.391          63912.306          11431.946  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  57796.031          63912.306          11431.946  1.5  SC FEMALE 
    END-POINT  57796.031          63912.306          11431.946  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  57831.321          63912.306          11431.946  1.5  SC MALE 
    END-POINT  57796.031          63912.306          11431.946  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRC                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57816.496  63912.306  11431.946  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRD                 
FLOW-ARROW
    CO-ORDS  57824.492  63912.306  11431.946 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  57831.321          63912.306          11431.946  1.5  SC MALE 
    END-POINT  57831.321          63912.306          11431.946  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  57831.321          63912.306          11431.946  1.5  SC FEMALE 
    END-POINT  57832.567          63912.822          11431.946  1.5  SC FEMALE 
    CENTRE-POINT   57832.051          63912.306          11431.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
SCREWED-WELD
    END-POINT  57832.567          63912.822          11431.946  1.5  SC FEMALE 
    END-POINT  57832.567          63912.822          11431.946  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  57868.033          63948.288          11431.946  1.5  SC MALE 
    END-POINT  57832.567          63912.822          11431.946  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRI                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57868.033          63948.288          11431.946  1.5  SC MALE 
    END-POINT  57868.033          63948.288          11431.946  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  57869.279          63948.804          11431.946  1.5  SC FEMALE 
    END-POINT  57868.033          63948.288          11431.946  1.5  SC FEMALE 
    CENTRE-POINT   57868.549          63948.804          11431.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
SCREWED-WELD
    END-POINT  57869.279          63948.804          11431.946  1.5  SC FEMALE 
    END-POINT  57869.279          63948.804          11431.946  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58083.810          63948.804          11431.946  1.5  SC MALE 
    END-POINT  57869.279          63948.804          11431.946  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRM                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57943.834  63948.804  11431.946  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRN                 
SUPPORT
    CO-ORDS  58055.175  63948.804  11431.946  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRO                 
FLOW-ARROW
    CO-ORDS  58013.332  63948.804  11431.946 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58083.810          63948.804          11431.946  1.5  SC MALE 
    END-POINT  58083.810          63948.804          11431.946  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58083.810          63948.804          11431.946  1.5  SC FEMALE 
    END-POINT  58085.050          63948.804          11433.186  1.5  SC FEMALE 
    CENTRE-POINT   58085.050          63948.804          11431.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRR                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58085.050  63948.804  11431.946 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58085.050  63898.800  11431.946 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
SCREWED-WELD
    END-POINT  58085.050          63948.804          11433.186  1.5  SC FEMALE 
    END-POINT  58085.050          63948.804          11433.186  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58085.050          63948.804          11433.186  1.5  SC MALE 
    END-POINT  58085.050          63948.804          11448.706  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58085.050          63948.804          11448.706  1.5  SC MALE 
    END-POINT  58085.050          63948.804          11448.706  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58085.050          63950.044          11449.946  1.5  SC FEMALE 
    END-POINT  58085.050          63948.804          11448.706  1.5  SC FEMALE 
    CENTRE-POINT   58085.050          63948.804          11449.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58085.050  63948.804  11449.946 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63948.804  11449.946 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
SCREWED-WELD
    END-POINT  58085.050          63950.044          11449.946  1.5  SC FEMALE 
    END-POINT  58085.050          63950.044          11449.946  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58085.050          63950.044          11449.946  1.5  SC MALE 
    END-POINT  58085.050          64126.180          11449.946  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FRZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58085.050  64043.564  11449.946  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS0                 
SCREWED-WELD
    END-POINT  58085.050          64126.180          11449.946  1.5  SC MALE 
    END-POINT  58085.050          64126.180          11449.946  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58085.050          64126.180          11449.946  1.5  SC FEMALE 
    END-POINT  58085.050          64127.420          11451.186  1.5  SC FEMALE 
    CENTRE-POINT   58085.050          64127.420          11449.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS2                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58085.050          64127.420          11451.186  1.5  SC FEMALE 
    END-POINT  58085.050          64127.420          11451.186  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58085.050          64127.420          11466.706  1.5  SC MALE 
    END-POINT  58085.050          64127.420          11451.186  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS4                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58085.050          64127.420          11466.706  1.5  SC MALE 
    END-POINT  58085.050          64127.420          11466.706  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58086.290          64127.420          11467.946  1.5  SC FEMALE 
    END-POINT  58085.050          64127.420          11466.706  1.5  SC FEMALE 
    CENTRE-POINT   58085.050          64127.420          11467.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS6                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58085.050  64127.420  11467.946 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64127.420  11467.946 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
SCREWED-WELD
    END-POINT  58086.290          64127.420          11467.946  1.5  SC FEMALE 
    END-POINT  58086.290          64127.420          11467.946  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58142.821          64127.420          11467.946  1.5  SC MALE 
    END-POINT  58086.290          64127.420          11467.946  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FS9                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58102.510  64127.420  11467.946  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSA                 
SCREWED-WELD
    END-POINT  58142.821          64127.420          11467.946  1.5  SC MALE 
    END-POINT  58142.821          64127.420          11467.946  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58142.821          64127.420          11467.946  1.5  SC FEMALE 
    END-POINT  58144.061          64127.420          11469.186  1.5  SC FEMALE 
    CENTRE-POINT   58144.061          64127.420          11467.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSC                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58144.061  64127.420  11467.946 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58144.061  64138.748  11467.946 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
SCREWED-WELD
    END-POINT  58144.061          64127.420          11469.186  1.5  SC FEMALE 
    END-POINT  58144.061          64127.420          11469.186  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58144.061          64127.420          11536.834  1.5  SC MALE 
    END-POINT  58144.061          64127.420          11469.186  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58144.061          64127.420          11536.834  1.5  SC MALE 
    END-POINT  58144.061          64127.420          11536.834  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58144.061          64127.420          11536.834  1.5  SC FEMALE 
    END-POINT  58145.301          64127.420          11538.074  1.5  SC FEMALE 
    CENTRE-POINT   58144.061          64127.420          11538.074 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSH                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58145.301          64127.420          11538.074  1.5  SC FEMALE 
    END-POINT  58145.301          64127.420          11538.074  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58160.938          64127.420          11538.074  1.5  SC MALE 
    END-POINT  58145.301          64127.420          11538.074  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSJ                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58155.670  64127.420  11538.074  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSK                 
SCREWED-WELD
    END-POINT  58160.938          64127.420          11538.074  1.5  SC MALE 
    END-POINT  58160.938          64127.420          11538.074  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58162.178          64127.420          11539.314  1.5  SC FEMALE 
    END-POINT  58160.938          64127.420          11538.074  1.5  SC FEMALE 
    CENTRE-POINT   58162.178          64127.420          11538.074 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSM                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58162.178          64127.420          11539.314  1.5  SC FEMALE 
    END-POINT  58162.178          64127.420          11539.314  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58162.178          64127.420          11607.358  1.5  SC MALE 
    END-POINT  58162.178          64127.420          11539.314  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSO                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58162.178  64127.420  11567.992  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSP                 
FLOOR-SYMBOL 
    CO-ORDS  58162.178  64127.420  11563.910 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58162.178  64127.420  11563.910 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58162.178  64127.420  11581.902 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58162.178          64127.420          11607.358  1.5  SC MALE 
    END-POINT  58162.178          64127.420          11607.358  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
VALVE
    END-POINT  58162.178          64127.420          11610.607  1.5  SC FEMALE 
    END-POINT  58162.178          64127.420          11607.358  1.5  SC FEMALE 
    CENTRE-POINT   58162.178          64127.420          11608.983 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1+1/2
    WEIGHT           6.500
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FST                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58162.178          64127.420          11610.607  1.5  SC FEMALE 
    END-POINT  58162.178          64127.420          11610.607  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
REDUCER-CONCENTRIC
    END-POINT  58162.178          64127.420          11618.608  3  BW
    END-POINT  58162.178          64127.420          11610.607  1.5  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSW                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58162.178          64127.420          11618.608  3
    END-POINT  58162.178          64127.420          11618.608  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
ELBOW-TEED
    END-POINT  58162.178          64122.920          11623.108  3  BW
    END-POINT  58162.178          64127.420          11618.608  3  BW
    CENTRE-POINT   58162.178          64127.420          11623.108 
    BRANCH1-POINT  58162.178          64127.258          11623.108  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FSY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  58162.178          64127.258          11623.108  3
WELD
    END-POINT  58162.178          64122.920          11623.108  3
    END-POINT  58162.178          64122.920          11623.108  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  58162.178          64127.258          11623.108  3
    END-POINT  58162.178          64127.258          11623.108  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
ELBOLET
    END-POINT  58162.178          64127.258          11623.108  3  PL
    END-POINT  58162.178          64128.570          11623.108  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT2                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58162.178          64128.570          11623.108  0.75  SC FEMALE 
    END-POINT  58162.178          64128.570          11623.108  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
MISC-COMPONENT
    END-POINT  58162.178          64128.570          11623.108  0.75  SC MALE 
    END-POINT  58162.178          64131.571          11623.108  0.75  SC MALE 
    CENTRE-POINT  58162.178  64130.070  11623.108 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT4                 
    TAG TI-068-05                       
    PIPING-SPEC C1
MESSAGE
    CO-ORDS  58162.178  64131.008  11623.108 
    TEXT TI$068$05
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58162.178          64131.571          11623.108 
REDUCER-ECCENTRIC
    END-POINT  58162.178          64122.920          11623.108  3  BW
    END-POINT  58162.178          64114.920          11623.908  1.5  SC MALE 
    SKEY ESSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_1
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT6                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
SCREWED-WELD
    END-POINT  58162.178          64114.920          11623.908  1.5  SC MALE 
    END-POINT  58162.178          64114.920          11623.908  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
TEE
    END-POINT  58162.178          64113.668          11622.668  1.5  SC FEMALE 
    END-POINT  58162.178          64113.668          11625.160  1.5  SC FEMALE 
    CENTRE-POINT   58162.178          64113.668          11623.908 
    BRANCH1-POINT  58162.178          64114.920          11623.908  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT8                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58162.178          64113.668          11622.668  1.5  SC FEMALE 
    END-POINT  58162.178          64113.668          11622.668  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FT9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58162.178          64113.668          11625.160  1.5  SC FEMALE 
    END-POINT  58162.178          64113.668          11625.160  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
MISC-COMPONENT
    END-POINT  58162.178          64113.668          11625.160  1.5  SC MALE 
    END-POINT  58162.178          64113.668          11626.043  0.5  SC FEMALE 
    CENTRE-POINT  58162.178  64113.668  11625.601 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1+1/2X1/2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTB                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58162.178          64113.668          11626.043  0.5  SC FEMALE 
    END-POINT  58162.178          64113.668          11626.043  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE-FIXED
    END-POINT  58162.178          64113.668          11626.043  0.5  SC MALE 
    END-POINT  58162.178          64113.668          11629.043  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTD                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58162.178          64113.668          11629.043  0.5  SC MALE 
    END-POINT  58162.178          64113.668          11629.043  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTE                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
VALVE
    END-POINT  58162.178          64113.668          11629.043  0.5  SC FEMALE 
    END-POINT  58162.178          64113.668          11630.393  0.5  SC FEMALE 
    CENTRE-POINT   58162.178          64113.668          11629.783 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTF                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58162.178          64113.668          11630.393  0.5  SC FEMALE 
    END-POINT  58162.178          64113.668          11630.393  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTH                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
MISC-COMPONENT
    END-POINT  58162.178          64113.668          11630.393  0.5  SC MALE 
    END-POINT  58162.178          64113.668          11631.263  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTI                 
    PIPING-SPEC C1
    END-POSITION-CLOSED 
    CO-ORDS  58162.178          64113.668          11631.263 
PIPE
    END-POINT  58162.178          64113.668          11618.088  1.5  SC MALE 
    END-POINT  58162.178          64113.668          11622.668  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTJ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58162.178          64113.668          11618.088  1.5  SC MALE 
    END-POINT  58162.178          64113.668          11618.088  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
FLANGE
    END-POINT  58162.178          64113.668          11618.088  1.5  FL
    END-POINT  58162.178          64113.668          11618.088  1.5  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTL                 
    PIPING-SPEC C1
GASKET
    END-POINT  58162.178          64113.668          11618.025  1.5
    END-POINT  58162.178          64113.668          11618.088  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBT                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58162.178          64113.668          11618.025 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBU                 
MISC-COMPONENT
    END-POINT  58162.178          64113.668          11607.185  1.5  FL
    END-POINT  58162.178          64113.668          11618.025  1.5  FL
    CENTRE-POINT  58162.178  64113.668  11612.605 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBQ                 
    PIPING-SPEC C1
MESSAGE-CIRCLE
    CO-ORDS  58162.178  64113.668  11612.605 
    TEXT 3P$FI$068$05
    UNDIMENSIONED
GASKET
    END-POINT  58162.178          64113.668          11607.185  1.5
    END-POINT  58162.178          64113.668          11607.123  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBR                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58162.178          64113.668          11607.185 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBS                 
FLANGE
    END-POINT  58162.178          64113.668          11607.123  1.5  FL
    END-POINT  58162.178          64113.668          11607.123  1.5  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTS                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58162.178          64113.668          11607.123  1.5  SC FEMALE 
    END-POINT  58162.178          64113.668          11607.123  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58162.178          64113.668          11602.543  1.5  SC MALE 
    END-POINT  58162.178          64113.668          11607.123  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTU                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58162.178          64113.668          11602.543  1.5  SC MALE 
    END-POINT  58162.178          64113.668          11602.543  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58161.301          64112.791          11601.303  1.5  SC FEMALE 
    END-POINT  58162.178          64113.668          11602.543  1.5  SC FEMALE 
    CENTRE-POINT   58162.178          64113.668          11601.303 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58161.301          64112.791          11601.303  1.5  SC FEMALE 
    END-POINT  58161.301          64112.791          11601.303  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58161.301          64112.791          11601.303  1.5  SC MALE 
    END-POINT  58132.922          64084.411          11601.303  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTY                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.160  64104.649  11601.303  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FTZ                 
SCREWED-WELD
    END-POINT  58132.922          64084.411          11601.303  1.5  SC MALE 
    END-POINT  58132.922          64084.411          11601.303  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58132.922          64082.658          11601.303  1.5  SC FEMALE 
    END-POINT  58132.922          64084.411          11601.303  1.5  SC FEMALE 
    CENTRE-POINT   58132.045          64083.535          11601.303 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58132.922          64082.658          11601.303  1.5  SC FEMALE 
    END-POINT  58132.922          64082.658          11601.303  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58136.146          64079.433          11601.303  1.5  SC MALE 
    END-POINT  58132.922          64082.658          11601.303  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58136.146          64079.433          11601.303  1.5  SC MALE 
    END-POINT  58136.146          64079.433          11601.303  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
REDUCER-CONCENTRIC
    END-POINT  58136.146          64079.433          11601.303  1.5  SC FEMALE 
    END-POINT  58136.874          64078.705          11601.303  1  SC FEMALE 
    SKEY RCSC
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58136.874          64078.705          11601.303  1  SC FEMALE 
    END-POINT  58136.874          64078.705          11601.303  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE-FIXED
    END-POINT  58136.874          64078.705          11601.303  1  SC MALE 
    END-POINT  58139.703          64075.877          11601.303  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.560
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58139.703          64075.877          11601.303  1  SC MALE 
    END-POINT  58139.703          64075.877          11601.303  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU8                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
UNION
    END-POINT  58139.703          64075.877          11601.303  1  SC FEMALE 
    END-POINT  58141.193          64074.386          11601.303  1  SC FEMALE 
    SKEY UNSC
    CONTINUATION 
    WEIGHT           1.500
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FU9                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58141.193          64074.386          11601.303 
    PIPELINE-REFERENCE ISO-PY3-1216015
PIPE
    END-POINT  57794.391          63912.306          11431.946  1.5  SC MALE 
    END-POINT  57788.451          63912.306          11431.946  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57788.451          63912.306          11431.946  1.5  SC MALE 
    END-POINT  57788.451          63912.306          11431.946  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  57788.451          63912.306          11431.946  1.5  SC FEMALE 
    END-POINT  57787.211          63911.946          11433.133  1.5  SC FEMALE 
    CENTRE-POINT   57787.211          63912.306          11431.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUC                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57787.211          63911.946          11433.133  1.5  SC FEMALE 
    END-POINT  57787.211          63911.946          11433.133  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  57787.211          63906.649          11450.564  1.5  SC MALE 
    END-POINT  57787.211          63911.946          11433.133  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUE                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57787.211          63906.649          11450.564  1.5  SC MALE 
    END-POINT  57787.211          63906.649          11450.564  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  57785.971          63906.288          11451.750  1.5  SC FEMALE 
    END-POINT  57787.211          63906.649          11450.564  1.5  SC FEMALE 
    CENTRE-POINT   57787.211          63906.288          11451.750 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57785.971          63906.288          11451.750  1.5  SC FEMALE 
    END-POINT  57785.971          63906.288          11451.750  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  57785.971          63906.288          11451.750  1.5  SC MALE 
    END-POINT  57503.783          63906.288          11451.750  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUI                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57738.046  63906.288  11451.750  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FUJ                 
SUPPORT
    CO-ORDS  57510.023  63906.288  11451.750  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G9J                 
    TAG                         P624 FIG.3                      
SUPPORT
    CO-ORDS  57624.668  63906.288  11451.750  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_5
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G9L                 
    TAG                         P624 FIG.2                      
WELD
    END-POINT  57503.783          63906.288          11451.750  1.5
    END-POINT  57503.783          63906.288          11451.750  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G9H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
WELD
    END-POINT  57503.783          63906.288          11451.750  1.5
    END-POINT  57503.783          63906.288          11451.750  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G9I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
FLANGE
    END-POINT  57503.575          63906.288          11451.750  1.5  FL
    END-POINT  57503.783          63906.288          11451.750  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G9G                 
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  57503.575          63906.288          11451.750 
MATERIALS
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE TEERED1+1/2X1+1/2X3/
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION ANGLED U BOLT SUPPORT, L=11", P625 FIG 4
ITEM-CODE 45L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 45 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPUB-1+1/2_1
    DESCRIPTION U BOLD ANCHOR, P651 FIG 1
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, L=1'-1", P624 FIG 2
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION GENERAL HANGER, L=1'-2 7/8", P624 FIG 4
ITEM-CODE SUPRH-1+1/2_2
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE VALVGLB1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SCF, 150LB, GL-01-BA-000
    RATING 150LB
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxSCM, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-068-05
    RATING 2000LB
ITEM-CODE FAB SHOP_1
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, BVxSCM, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE BSHGHEX1+1/2X1/2
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR1+1/2
    DESCRIPTION FI-068-05
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=2'-8 5/16", P622 FIG 1
ITEM-CODE REDCON1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING COUPLING, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x4" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 4"
    RATING 40
ITEM-CODE SUPRH-1+1/2_3
    DESCRIPTION GENERAL HANGER, L=1'-8", P624 FIG 3
ITEM-CODE SUPRH-1+1/2_4
    DESCRIPTION PIPE HANGER P624 FIG. 3 (L=1'-7 1/4"
ITEM-CODE SUPRH-1+1/2_5
    DESCRIPTION PIPE HANGER P624 FIG. 2 (X=2'-0", L=2'-0")
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
