ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214025
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 WTR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214025-WTR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57967.610          64224.019          11905.438  0.75  SC MALE 
    END-POINT  57962.407          64221.027          11905.438  0.75  SC MALE 
    CENTRE-POINT  57965.009  64222.523  11905.438 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOT                 
    TAG TI-009-32                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  57962.896  64221.308  11905.438 
    TEXT TI$009$32
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  57967.610          64224.019          11905.438  0.75  SC FEMALE 
    END-POINT  57967.610          64224.019          11905.438  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57962.407          64221.027          11905.438 
ELBOLET
    END-POINT  57968.747          64224.673          11905.438  3  PL
    END-POINT  57967.610          64224.019          11905.438  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOR                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57968.747          64224.673          11905.438  3
    END-POINT  57968.747          64224.673          11905.438  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  57972.507          64226.835          11905.438  3  BW
    END-POINT  57970.192          64221.833          11902.256  3  BW
    CENTRE-POINT   57968.606          64224.592          11905.438 
    BRANCH1-POINT  57968.747          64224.673          11905.438  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BON                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  57968.747          64224.673          11905.438  3
WELD
    END-POINT  57972.507          64226.835          11905.438  3
    END-POINT  57972.507          64226.835          11905.438  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57970.192          64221.833          11902.256  3
    END-POINT  57970.192          64221.833          11902.256  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57972.425          64217.879          11897.714  3  BW
    END-POINT  57970.192          64221.833          11902.256  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOL                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57972.425          64217.879          11897.714  3
    END-POINT  57972.425          64217.879          11897.714  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57973.120          64216.647          11894.300  3  BW
    END-POINT  57972.425          64217.879          11897.714  3  BW
    CENTRE-POINT   57973.120          64216.647          11896.300 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57973.120  64216.647  11896.300 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64216.647  11896.300 
    REFERENCED-ITEM
    ITEM-DIRECTION 3
    SKEY 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  57973.120          64216.647          11894.300  3
    END-POINT  57973.120          64216.647          11894.300  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57973.120          64216.647          11854.500  3  BW
    END-POINT  57973.120          64216.647          11894.300  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOF                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57973.120  64216.647  11873.785 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57973.120          64216.647          11854.500  3
    END-POINT  57973.120          64216.647          11854.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57973.120          64216.647          11854.500  3  BW
    END-POINT  57976.343          64213.507          11850.000  3  BW
    CENTRE-POINT   57973.120          64216.647          11850.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOC                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57973.120  64216.647  11850.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57973.120  64138.800  11850.000 
    REFERENCED-ITEM
    ITEM-DIRECTION 3
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57976.343          64213.507          11850.000  3
    END-POINT  57976.343          64213.507          11850.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57987.457          64202.675          11850.000  3  PL
    END-POINT  57976.343          64213.507          11850.000  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO9                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57979.956  64209.986  11850.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57987.457          64202.675          11850.000  3
    END-POINT  57987.457          64202.675          11850.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57987.457          64202.675          11850.000  3
    END-POINT  57987.457          64202.675          11850.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57987.657          64202.481          11850.000  3  FL
    END-POINT  57987.457          64202.675          11850.000  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO6                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57987.701          64202.437          11850.000  3
    END-POINT  57987.657          64202.481          11850.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO4                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57987.657          64202.481          11850.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO5                 
VALVE
    END-POINT  57994.505          64195.807          11850.000  3  FL
    END-POINT  57987.701          64202.437          11850.000  3  FL
    CENTRE-POINT   57991.103          64199.122          11850.000 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB3
    WEIGHT          57.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO2                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 44 WEST
GASKET
    END-POINT  57994.550          64195.763          11850.000  3
    END-POINT  57994.505          64195.807          11850.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO0                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57994.505          64195.807          11850.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO1                 
FLANGE
    END-POINT  57994.550          64195.763          11850.000  3  FL
    END-POINT  57996.519          64193.844          11850.000  3  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNZ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57996.519          64193.844          11850.000 
    PIPELINE-REFERENCE ISO-PY3-1214011
FLANGE
    END-POINT  57974.891          64228.206          11905.438  3  FL
    END-POINT  57972.507          64226.835          11905.438  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOV                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57974.891          64228.206          11905.438 
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION TEMPERATURE INDICATOR, TW-009-32
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE 45LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVGLB3
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 125LB, FF, GL-12-DC-500
    RATING 125LB
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
