ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036026
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036026-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  57855.722          64202.506          11596.750  0.5  SW FEMALE 
    END-POINT  57857.902          64202.506          11596.750  0.5  SW FEMALE 
    CENTRE-POINT   57856.607          64202.506          11596.750 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGM                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS  57857.902  64202.506  11596.750 
    TEXT TUBING TO$LIT-053-19
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57855.722          64202.506          11596.750  0.5  SW FEMALE 
    END-POINT  57855.722          64202.506          11596.750  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  57857.902          64202.506          11596.750 
PIPE
    END-POINT  57851.312          64202.506          11596.750  0.5  BW
    END-POINT  57855.722          64202.506          11596.750  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGQ                 
    PIPING-SPEC S1
WELD
    END-POINT  57851.312          64202.506          11596.750  0.5
    END-POINT  57851.312          64202.506          11596.750  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGR                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  57849.312          64202.506          11596.750  1  BW
    END-POINT  57851.312          64202.506          11596.750  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGS                 
    PIPING-SPEC S1
WELD
    END-POINT  57849.312          64202.506          11596.750  1
    END-POINT  57849.312          64202.506          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57846.312          64202.506          11596.750  1  BW
    END-POINT  57849.312          64202.506          11596.750  1  BW
    CENTRE-POINT   57847.812          64202.506          11596.750 
    BRANCH1-POINT  57847.812          64202.506          11595.250  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGU                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57846.312          64202.506          11596.750  1
    END-POINT  57846.312          64202.506          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57847.812          64202.506          11595.250  1
    END-POINT  57847.812          64202.506          11595.250  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57847.812          64202.506          11595.250  1  BW
    END-POINT  57847.812          64202.506          11590.720  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGX                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57847.812          64202.506          11590.720  1
    END-POINT  57847.812          64202.506          11590.720  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57847.812          64202.506          11590.720  1  SW FEMALE 
    END-POINT  57847.812          64202.506          11588.090  1  SW FEMALE 
    CENTRE-POINT   57847.812          64202.506          11589.405 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EGZ                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  57847.812          64202.506          11588.090  1  SW FEMALE 
    END-POINT  57847.812          64202.506          11588.090  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EH1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57847.812          64202.506          11540.902  1  BW
    END-POINT  57847.812          64202.506          11588.090  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EH2                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57847.812  64202.506  11567.998  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EH3                 
FLOOR-SYMBOL 
    CO-ORDS  57847.812  64202.506  11563.972 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57847.812  64202.506  11563.972 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  57847.812          64202.506          11540.902  1
    END-POINT  57847.812          64202.506          11540.902  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EH5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57847.812          64201.006          11539.402  1  BW
    END-POINT  57847.812          64202.506          11540.902  1  BW
    CENTRE-POINT   57847.812          64202.506          11539.402 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EH6                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57847.812          64201.006          11539.402  1
    END-POINT  57847.812          64201.006          11539.402  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EH7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57847.812          64153.009          11539.402  1  BW
    END-POINT  57847.812          64201.006          11539.402  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EH8                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57847.812  64174.582  11539.402  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EH9                 
FLOW-ARROW
    CO-ORDS  57847.812  64190.479  11539.402 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57847.812          64153.009          11539.402  1
    END-POINT  57847.812          64153.009          11539.402  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57847.812          64153.009          11539.402  1  BW
    END-POINT  57847.812          64151.509          11537.902  1  BW
    CENTRE-POINT   57847.812          64151.509          11539.402 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHC                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57847.812  64151.509  11539.402 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64151.509  11539.402 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57847.812          64151.509          11537.902  1
    END-POINT  57847.812          64151.509          11537.902  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57847.812          64151.509          11522.438  1  BW
    END-POINT  57847.812          64151.509          11537.902  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHF                 
    PIPING-SPEC S1
WELD
    END-POINT  57847.812          64151.509          11522.438  1
    END-POINT  57847.812          64151.509          11522.438  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57847.812          64151.509          11522.438  1  BW
    END-POINT  57849.312          64151.509          11520.938  1  BW
    CENTRE-POINT   57847.812          64151.509          11520.938 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHH                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57847.812  64151.509  11520.938 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57847.812  64138.748  11520.938 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57849.312          64151.509          11520.938  1
    END-POINT  57849.312          64151.509          11520.938  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57849.312          64151.509          11520.938  1  BW
    END-POINT  58040.593          64151.509          11520.938  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHK                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57901.892  64151.509  11520.938  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHL                 
SUPPORT
    CO-ORDS  58024.893  64151.509  11520.938  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHM                 
SUPPORT
    CO-ORDS  57964.829  64151.509  11520.938  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHN                 
WELD
    END-POINT  58040.593          64151.509          11520.938  1
    END-POINT  58040.593          64151.509          11520.938  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58042.593          64151.509          11523.438  2  BW
    END-POINT  58042.593          64151.509          11518.438  2  BW
    CENTRE-POINT   58042.593          64151.509          11520.938 
    BRANCH1-POINT  58040.593          64151.509          11520.938  1  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHP                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58042.593          64151.509          11523.438 
    PIPELINE-REFERENCE ISO-PY3-2036033
PIPE
    END-POINT  57843.312          64202.506          11596.750  1  BW
    END-POINT  57846.312          64202.506          11596.750  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPC                 
    PIPING-SPEC S1
WELD
    END-POINT  57843.312          64202.506          11596.750  1
    END-POINT  57843.312          64202.506          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57841.812          64204.006          11596.750  1  BW
    END-POINT  57843.312          64202.506          11596.750  1  BW
    CENTRE-POINT   57841.812          64202.506          11596.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPE                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57841.812          64204.006          11596.750  1
    END-POINT  57841.812          64204.006          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57841.812          64207.536          11596.750  1  PL
    END-POINT  57841.812          64204.006          11596.750  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPG                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57841.812          64207.536          11596.750  1
    END-POINT  57841.812          64207.536          11596.750  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57841.812          64210.166          11596.750  1  SW FEMALE 
    END-POINT  57841.812          64207.536          11596.750  1  SW FEMALE 
    CENTRE-POINT   57841.812          64208.851          11596.750 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPI                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57841.812          64210.166          11596.750  1  SW FEMALE 
    END-POINT  57841.812          64210.166          11596.750  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57841.812          64210.166          11596.750  1  PL
    END-POINT  57841.812          64214.696          11596.750  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPL                 
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64214.696          11596.750  1
    END-POINT  57841.812          64214.696          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57841.812          64217.696          11596.750  1  BW
    END-POINT  57841.812          64214.696          11596.750  1  BW
    CENTRE-POINT   57841.812          64216.196          11596.750 
    BRANCH1-POINT  57841.812          64216.196          11598.250  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPN                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57841.812          64217.696          11596.750  1
    END-POINT  57841.812          64217.696          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64216.196          11598.250  1
    END-POINT  57841.812          64216.196          11598.250  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57841.812          64216.196          11598.250  1  BW
    END-POINT  57841.812          64216.196          11601.780  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPQ                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57841.812          64216.196          11601.780  1
    END-POINT  57841.812          64216.196          11601.780  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57841.812          64216.196          11601.780  1  SW FEMALE 
    END-POINT  57841.812          64216.196          11604.410  1  SW FEMALE 
    CENTRE-POINT   57841.812          64216.196          11603.095 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPS                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  57841.812          64216.196          11604.410  1  SW FEMALE 
    END-POINT  57841.812          64216.196          11604.410  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57841.812          64216.196          11604.410  1  PL
    END-POINT  57841.812          64216.196          11607.940  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPV                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  57841.812          64216.196          11607.940  1  SC MALE 
    END-POINT  57841.812          64216.196          11607.940  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
CAP
    END-POINT  57841.812          64216.196          11607.940  1  SC FEMALE 
    END-POINT  57841.812          64216.196          11609.560  1
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPX                 
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  57841.812          64217.696          11596.750  1  BW
    END-POINT  57841.812          64219.696          11596.750  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPY                 
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64219.696          11596.750  0.75
    END-POINT  57841.812          64219.696          11596.750  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64219.696          11596.750  0.75
    END-POINT  57841.812          64219.696          11596.750  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57841.812          64219.871          11596.750  0.75  FL
    END-POINT  57841.812          64219.696          11596.750  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ1                 
    PIPING-SPEC S1
GASKET
    END-POINT  57841.812          64219.871          11596.750  0.75
    END-POINT  57841.812          64219.996          11596.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ2                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57841.812          64219.996          11596.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ3                 
INSTRUMENT
    END-POINT  57841.812          64219.996          11596.750  0.75  FL
    END-POINT  57841.812          64233.996          11596.750  0.75  FL
    CENTRE-POINT   57841.812          64226.996          11596.750 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ4                 
    TAG PRV$053$06                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57841.812          64233.996          11596.750  0.75
    END-POINT  57841.812          64234.121          11596.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ6                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57841.812          64234.121          11596.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ7                 
FLANGE
    END-POINT  57841.812          64234.121          11596.750  0.75  FL
    END-POINT  57841.812          64234.297          11596.750  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ8                 
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64234.297          11596.750  0.75
    END-POINT  57841.812          64234.297          11596.750  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQ9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64234.297          11596.750  0.75
    END-POINT  57841.812          64234.297          11596.750  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  57841.812          64236.297          11596.750  1  BW
    END-POINT  57841.812          64234.297          11596.750  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQB                 
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64236.297          11596.750  1
    END-POINT  57841.812          64236.297          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57841.812          64236.297          11596.750  1  BW
    END-POINT  57841.812          64241.081          11596.750  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQD                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57841.812  64238.689  11596.750  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQE                 
WELD
    END-POINT  57841.812          64241.081          11596.750  1
    END-POINT  57841.812          64241.081          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57841.812          64244.081          11596.750  1  BW
    END-POINT  57841.812          64241.081          11596.750  1  BW
    CENTRE-POINT   57841.812          64242.581          11596.750 
    BRANCH1-POINT  57841.812          64242.581          11598.250  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQG                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57841.812          64244.081          11596.750  1
    END-POINT  57841.812          64244.081          11596.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64242.581          11598.250  1
    END-POINT  57841.812          64242.581          11598.250  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57841.812          64242.581          11598.250  1  BW
    END-POINT  57841.812          64242.581          11602.780  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQJ                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57841.812          64242.581          11602.780  1
    END-POINT  57841.812          64242.581          11602.780  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57841.812          64242.581          11602.780  1  SW FEMALE 
    END-POINT  57841.812          64242.581          11605.410  1  SW FEMALE 
    CENTRE-POINT   57841.812          64242.581          11604.095 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQL                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  57841.812          64242.581          11605.410  1  SW FEMALE 
    END-POINT  57841.812          64242.581          11605.410  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57841.812          64242.581          11640.869  1  BW
    END-POINT  57841.812          64242.581          11605.410  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQO                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57841.812  64242.581  11614.945 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57841.812          64242.581          11640.869  1
    END-POINT  57841.812          64242.581          11640.869  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57841.812          64242.581          11640.869  1  BW
    END-POINT  57843.306          64242.716          11642.369  1  BW
    CENTRE-POINT   57841.812          64242.581          11642.369 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQR                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57843.306          64242.716          11642.369  1
    END-POINT  57843.306          64242.716          11642.369  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57883.499          64246.345          11642.369  1  PL
    END-POINT  57843.306          64242.716          11642.369  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQT                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57883.499          64246.345          11642.369  1
    END-POINT  57883.499          64246.345          11642.369  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQU                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57883.499          64246.345          11642.369  1  SW FEMALE 
    END-POINT  57886.486          64246.615          11642.369  1  SW FEMALE 
    CENTRE-POINT   57884.992          64246.480          11642.369 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQV                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57886.486          64246.615          11642.369  1  SW FEMALE 
    END-POINT  57886.486          64246.615          11642.369  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQW                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57892.960          64247.200          11642.369  1  BW
    END-POINT  57886.486          64246.615          11642.369  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQX                 
    PIPING-SPEC S1
WELD
    END-POINT  57892.960          64247.200          11642.369  1
    END-POINT  57892.960          64247.200          11642.369  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57894.454          64247.334          11640.869  1  BW
    END-POINT  57892.960          64247.200          11642.369  1  BW
    CENTRE-POINT   57894.454          64247.334          11642.369 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EQZ                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57894.454          64247.334          11640.869  1
    END-POINT  57894.454          64247.334          11640.869  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ER0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57894.454          64247.334          11635.052  1  BW
    END-POINT  57894.454          64247.334          11640.869  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ER1                 
    PIPING-SPEC S1
WELD
    END-POINT  57894.454          64247.334          11635.052  1
    END-POINT  57894.454          64247.334          11635.052  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ER2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57894.454          64247.334          11632.862  1  FL
    END-POINT  57894.454          64247.334          11635.052  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ER3                 
    PIPING-SPEC S1
GASKET
    END-POINT  57894.454          64247.334          11632.862  1
    END-POINT  57894.454          64247.334          11632.737  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G4T                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57894.454          64247.334          11632.862 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G4U                 
END-POSITION-OPEN 
    CO-ORDS  57894.454          64247.334          11632.737 
REDUCER-CONCENTRIC
    END-POINT  57841.812          64244.081          11596.750  1  BW
    END-POINT  57841.812          64246.081          11596.750  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ER6                 
    PIPING-SPEC S1
WELD
    END-POINT  57841.812          64246.081          11596.750  0.5
    END-POINT  57841.812          64246.081          11596.750  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ER7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57841.812          64246.081          11596.750  0.5  BW
    END-POINT  57841.812          64250.491          11596.750  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ER8                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57841.812          64250.491          11596.750  0.5
    END-POINT  57841.812          64250.491          11596.750  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ER9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57841.812          64250.491          11596.750  0.5  SW FEMALE 
    END-POINT  57841.812          64252.171          11596.750  0.5  SW FEMALE 
    CENTRE-POINT   57841.812          64251.376          11596.750 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERA                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57841.812          64252.171          11596.750  0.5
    END-POINT  57841.812          64252.171          11596.750  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G3Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  57841.812          64252.171          11596.750  0.5  PL
    END-POINT  57841.812          64255.171          11596.750  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G3P                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57841.812  64254.671  11596.750 
    TEXT PI$053$05
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57841.812          64255.171          11596.750 
MATERIALS
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE REDCON1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPRH-1
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1_1
    DESCRIPTION GENERAL HANGER, L=1'-3 3/4", P624 FIG 3
ITEM-CODE SUPRH-1_2
    DESCRIPTION GENERAL HANGER, L=2'-9 3/4", P624 FIG 3
ITEM-CODE CAP1
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE REDCON1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, 150LB, RF, PRV-053-06
    RATING 150LB
ITEM-CODE SUPST-1
    DESCRIPTION BASE SUPPORT, L=2'-4 3/4", P619 FIG 1
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
