ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217015
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 WTR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1217015-WTR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 SG
    ATTRIBUTE22 6/17/2009
    ATTRIBUTE25 BJL
    ATTRIBUTE26 6/18/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 6/17/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 6/17/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 6/17/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 CP
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 12/17/2012
    ATTRIBUTE42 CP
    ATTRIBUTE43 DD
    ATTRIBUTE44 DK
    ATTRIBUTE45 REVISED SERVICE & SPEC
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58193.528          64012.235          11811.810  1  SC MALE 
    END-POINT  58193.528          64012.235          11790.011  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BRB                 
    PIPING-SPEC C1
MESSAGE
    CO-ORDS  58193.528  64012.235  11790.011 
    TEXT TO 6" ABOVE FLOOR
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58193.528  64012.235  11804.399 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58193.528          64012.235          11811.810  1  SC FEMALE 
    END-POINT  58193.528          64012.235          11811.810  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CIO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  58193.528          64012.235          11790.011 
ELBOW
    END-POINT  58193.796          64013.115          11812.730  1  SC FEMALE 
    END-POINT  58193.528          64012.235          11811.810  1  SC FEMALE 
    CENTRE-POINT   58193.528          64012.235          11812.730 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BR9                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58193.528  64012.235  11812.730 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58193.528  64138.748  11812.730 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58193.528  64012.235  11812.730 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64012.235  11812.730 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
SCREWED-WELD
    END-POINT  58193.797          64013.115          11812.730  1  SC MALE 
    END-POINT  58193.796          64013.115          11812.730  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CTA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58196.728          64022.734          11812.730  1  SC MALE 
    END-POINT  58193.797          64013.115          11812.730  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CT8                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58195.215  64017.769  11812.730  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CJ3                 
SUPPORT
    CO-ORDS  58195.214  64017.764  11812.730  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CJ6                 
SCREWED-WELD
    END-POINT  58196.728          64022.734          11812.730  1  SC MALE 
    END-POINT  58196.729          64022.733          11812.730  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CT9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58196.729          64022.733          11812.730  1  FL
    END-POINT  58196.729          64022.733          11812.730  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CT4                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58196.729  64022.733  11812.730 
    TEXT PSV$073$04
    UNDIMENSIONED
GASKET
    END-POINT  58196.729          64022.733          11812.730  1
    END-POINT  58196.747          64022.793          11812.730  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CT5                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58196.729          64022.733          11812.730 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CT6                 
VALVE-ANGLE
    END-POINT  58198.264          64027.754          11806.542  0.75  FL
    END-POINT  58196.747          64022.793          11812.730  1  FL
    CENTRE-POINT   58198.264          64027.754          11812.730 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CSS                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58198.264          64027.754          11806.542 
    PIPELINE-REFERENCE ISO-PY3-1217014
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPLTR1
    DESCRIPTION POLE PIPE SUPPORT, H=2'-3 5/16", W=6", P613 FIG 1
ITEM-CODE SUPUB-1
    DESCRIPTION U-BOLT GUIDE, PG27, FIG. 2 WITH 3"X3"X1/4" ANGLE
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
