ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216012
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216012-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58160.767          64018.205          12070.186  0.5  SC MALE 
    END-POINT  58160.767          64018.205          12071.056  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO1                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58160.767          64018.205          12071.056 
SCREWED-WELD
    END-POINT  58160.767          64018.205          12070.186  0.5  SC FEMALE 
    END-POINT  58160.767          64018.205          12070.186  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO0                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58160.767          64018.205          12068.836  0.5  SC FEMALE 
    END-POINT  58160.767          64018.205          12070.186  0.5  SC FEMALE 
    CENTRE-POINT   58160.767          64018.205          12069.576 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNY                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  58160.767          64018.205          12068.836  0.5  SC MALE 
    END-POINT  58160.767          64018.205          12068.836  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNX                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58160.767          64018.205          12065.836  0.5  SC MALE 
    END-POINT  58160.767          64018.205          12068.836  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64018.205          12065.836  0.5  SC FEMALE 
    END-POINT  58160.767          64018.205          12065.836  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58160.767          64018.205          12065.172  1  SC MALE 
    END-POINT  58160.767          64018.205          12065.836  0.5  SC FEMALE 
    CENTRE-POINT  58160.767  64018.205  12065.504 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64018.205          12065.172  1  SC FEMALE 
    END-POINT  58160.767          64018.205          12065.172  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58160.767          64018.205          12063.440  1  SC FEMALE 
    END-POINT  58160.767          64018.205          12065.172  1  SC FEMALE 
    CENTRE-POINT   58160.767          64018.205          12064.360 
    BRANCH1-POINT  58160.767          64017.285          12064.360  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58160.767          64018.205          12063.440  1  SC MALE 
    END-POINT  58160.767          64018.205          12063.440  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64017.285          12064.360  1  SC FEMALE 
    END-POINT  58160.767          64017.285          12064.360  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          63996.408          12064.360  1  SC MALE 
    END-POINT  58160.767          64017.285          12064.360  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNN                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58160.767  64006.512  12064.360 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58160.767          63996.408          12064.360  1  SC MALE 
    END-POINT  58160.767          63996.408          12064.360  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58160.767          63996.408          12064.360  1  SC FEMALE 
    END-POINT  58160.767          63995.488          12063.440  1  SC FEMALE 
    CENTRE-POINT   58160.767          63995.488          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58160.767          63995.488          12063.440  1  SC FEMALE 
    END-POINT  58160.767          63995.488          12063.440  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          63995.488          12063.440  1  SC MALE 
    END-POINT  58160.767          63995.488          12047.796  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          63995.488          12047.796  1  SC MALE 
    END-POINT  58160.767          63995.488          12047.796  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K9T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58160.767  63995.488  12045.421 
    BRANCH1-POINT  58160.767          63995.488          12047.796  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GYE                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58160.767  63995.488  12045.421 
    PIPELINE-REFERENCE ISO-PY3-2046010
PIPE
    END-POINT  58160.767          64018.205          11991.765  1  SC MALE 
    END-POINT  58160.767          64018.205          12063.440  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNI                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64018.205          11991.765  1  SC FEMALE 
    END-POINT  58160.767          64018.205          11991.765  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58160.767          64018.205          11989.925  1  SC FEMALE 
    END-POINT  58160.767          64018.205          11991.765  1  SC FEMALE 
    CENTRE-POINT   58160.767          64018.205          11990.845 
    BRANCH1-POINT  58160.767          64017.285          11990.845  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNF                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58160.767          64018.205          11989.925  1  SC FEMALE 
    END-POINT  58160.767          64018.205          11989.925  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64017.285          11990.845  1  SC MALE 
    END-POINT  58160.767          64017.285          11990.845  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64007.125          11990.845  1  SC MALE 
    END-POINT  58160.767          64017.285          11990.845  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JND                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58160.767          64007.125          11990.845 
    PIPELINE-REFERENCE ISO-PY3-1216023
PIPE
    END-POINT  58160.767          64018.205          11984.265  1  SC MALE 
    END-POINT  58160.767          64018.205          11989.925  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO2                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64018.205          11984.265  1  SC MALE 
    END-POINT  58160.767          64018.205          11984.265  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58160.767          64018.205          11984.265  1  SC FEMALE 
    END-POINT  58160.767          64018.205          11983.655  0.75  SC FEMALE 
    SKEY RCSC
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO4                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64018.205          11983.655  0.75  SC FEMALE 
    END-POINT  58160.767          64018.205          11983.655  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64018.205          11978.560  0.75  SC MALE 
    END-POINT  58160.767          64018.205          11983.655  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO6                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64018.205          11978.560  0.75  SC MALE 
    END-POINT  58160.767          64018.205          11978.560  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58160.767          64018.205          11978.560  0.75  SC FEMALE 
    END-POINT  58160.767          64018.205          11976.940  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64018.205          11977.750 
    BRANCH1-POINT  58160.767          64019.015          11977.750  0.75  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO8                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58160.767          64018.205          11976.940  0.75  SC FEMALE 
    END-POINT  58160.767          64018.205          11976.940  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JO9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64019.015          11977.750  0.75  SC FEMALE 
    END-POINT  58160.767          64019.015          11977.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64030.741          11977.750  0.75  SC MALE 
    END-POINT  58160.767          64019.015          11977.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64030.741          11977.750  0.75  SC MALE 
    END-POINT  58160.767          64030.741          11977.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOC                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
UNION
    END-POINT  58160.767          64032.053          11977.750  0.75  SC FEMALE 
    END-POINT  58160.767          64030.741          11977.750  0.75  SC FEMALE 
    SKEY UNSC
    FABRICATION-ITEM
    ITEM-CODE UNNRW3/4
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOD                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64032.053          11977.750  0.75  SC FEMALE 
    END-POINT  58160.767          64032.053          11977.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOE                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64038.105          11977.750  0.75  SC MALE 
    END-POINT  58160.767          64032.053          11977.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64038.105          11977.750  0.75  SC MALE 
    END-POINT  58160.767          64038.105          11977.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58160.767          64039.979          11977.750  0.75  SC FEMALE 
    END-POINT  58160.767          64038.105          11977.750  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64039.042          11977.750 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB3/4
    WEIGHT           2.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOH                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58160.767          64039.979          11977.750  0.75  SC FEMALE 
    END-POINT  58160.767          64039.979          11977.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64047.935          11977.750  0.75  SC MALE 
    END-POINT  58160.767          64039.979          11977.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64047.935          11977.750  0.75  SC MALE 
    END-POINT  58160.767          64047.935          11977.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58160.767          64048.745          11976.940  0.75  SC FEMALE 
    END-POINT  58160.767          64047.935          11977.750  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64048.745          11977.750 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOM                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58160.767          64048.745          11976.940  0.75  SC FEMALE 
    END-POINT  58160.767          64048.745          11976.940  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JON                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64048.745          11954.560  0.75  SC MALE 
    END-POINT  58160.767          64048.745          11976.940  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOO                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64048.745          11954.560  0.75  SC MALE 
    END-POINT  58160.767          64048.745          11954.560  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58160.767          64047.935          11953.750  0.75  SC FEMALE 
    END-POINT  58160.767          64049.555          11953.750  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64048.745          11953.750 
    BRANCH1-POINT  58160.767          64048.745          11954.560  0.75  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58160.767  64048.745  11953.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64048.745  11953.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58160.767          64047.935          11953.750  0.75  SC FEMALE 
    END-POINT  58160.767          64047.935          11953.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64049.555          11953.750  0.75  SC FEMALE 
    END-POINT  58160.767          64049.555          11953.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64049.555          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64056.555          11953.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOU                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58160.767  64053.055  11953.750  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOV                 
SCREWED-WELD
    END-POINT  58160.767          64056.555          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64056.555          11953.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58160.767          64056.555          11953.750  0.75  SC FEMALE 
    END-POINT  58161.577          64057.365          11953.750  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64057.365          11953.750 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOX                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58160.767  64057.365  11953.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58160.767  64138.748  11953.750 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58161.577          64057.365          11953.750  0.75  SC FEMALE 
    END-POINT  58161.577          64057.365          11953.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JOZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58167.207          64057.365          11953.750  0.75  SC MALE 
    END-POINT  58161.577          64057.365          11953.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP0                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58164.678  64057.365  11953.750 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58167.207          64057.365          11953.750  0.75  SC MALE 
    END-POINT  58167.207          64057.365          11953.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58167.207          64057.365          11953.750  0.75  SC FEMALE 
    END-POINT  58168.017          64058.175          11953.750  0.75  SC FEMALE 
    CENTRE-POINT   58168.017          64057.365          11953.750 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP3                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58168.017          64058.175          11953.750  0.75  SC FEMALE 
    END-POINT  58168.017          64058.175          11953.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58168.017          64061.889          11953.750  0.75  SC MALE 
    END-POINT  58168.017          64058.175          11953.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58168.017          64061.889          11953.750  0.75  SC MALE 
    END-POINT  58168.017          64061.889          11953.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58168.017          64062.499          11953.750  1  SC FEMALE 
    END-POINT  58168.017          64061.889          11953.750  0.75  SC FEMALE 
    SKEY RCSC
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58168.017          64062.499          11953.750  1  SC FEMALE 
    END-POINT  58168.017          64062.499          11953.750  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58168.017          64065.499          11953.750  1  SC MALE 
    END-POINT  58168.017          64062.499          11953.750  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JP9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58168.017          64065.499          11953.750  1  SC MALE 
    END-POINT  58168.017          64065.499          11953.750  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58168.017          64067.339          11953.750  1  SC FEMALE 
    END-POINT  58168.017          64065.499          11953.750  1  SC FEMALE 
    CENTRE-POINT   58168.017          64066.419          11953.750 
    BRANCH1-POINT  58168.017          64066.419          11954.670  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58168.017  64066.419  11953.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64066.419  11953.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58168.017          64067.339          11953.750  1  SC FEMALE 
    END-POINT  58168.017          64067.339          11953.750  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58168.017          64066.419          11954.670  1  SC FEMALE 
    END-POINT  58168.017          64066.419          11954.670  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58168.017          64066.419          11954.670  1  SC MALE 
    END-POINT  58168.017          64066.419          12036.796  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPF                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58168.017  64066.419  11965.867 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58168.017          64066.419          12036.796  1  SC MALE 
    END-POINT  58168.017          64066.419          12036.796  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58168.017          64066.419          12036.796  1  FL
    END-POINT  58168.017          64066.419          12036.796  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPI                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58168.017          64066.419          12036.796  1
    END-POINT  58168.017          64066.419          12036.858  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58168.017          64066.419          12036.858 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPK                 
VALVE-ANGLE
    END-POINT  58168.017          64066.419          12036.858  1  FL
    END-POINT  58172.892          64066.419          12043.358  1  FL
    CENTRE-POINT   58168.017          64066.419          12043.358 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPL                 
    TAG PSV-067-10                      
    PIPING-SPEC C1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58168.017  64066.419  12043.358 
    TEXT PSV$067$10
    UNDIMENSIONED
GASKET
    END-POINT  58172.892          64066.419          12043.358  1
    END-POINT  58172.955          64066.419          12043.358  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPO                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58172.955          64066.419          12043.358  1  FL
    END-POINT  58172.955          64066.419          12043.358  1  SC FEMALE 
    SKEY FLSC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPQ                 
    PIPING-SPEC C1
END-CONNECTION-PIPELINE 
    CO-ORDS  58172.955          64066.419          12043.358 
    PIPELINE-REFERENCE ISO-PY3-1216027
PIPE
    END-POINT  58168.017          64071.869          11953.750  1  SC MALE 
    END-POINT  58168.017          64067.339          11953.750  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQ1                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58168.017  64069.604  11953.750  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQ2                 
SCREWED-WELD
    END-POINT  58168.017          64071.869          11953.750  1  SC MALE 
    END-POINT  58168.017          64071.869          11953.750  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQ3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58167.097          64072.789          11953.750  1  SC FEMALE 
    END-POINT  58168.017          64071.869          11953.750  1  SC FEMALE 
    CENTRE-POINT   58168.017          64072.789          11953.750 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQ4                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58168.017  64072.789  11953.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58168.017  64138.800  11953.750 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58167.097          64072.789          11953.750  1  SC MALE 
    END-POINT  58167.097          64072.789          11953.750  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K9R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58167.097          64072.789          11953.750  1  SC MALE 
    END-POINT  58162.827          64072.789          11953.750  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K9Q                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58162.827          64072.789          11953.750  1  SC MALE 
    END-POINT  58162.827          64072.789          11953.750  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K9S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58162.827          64072.789          11953.750  1  FL
    END-POINT  58162.827          64072.789          11953.750  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQ9                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58162.827          64072.789          11953.750  1
    END-POINT  58162.765          64072.789          11953.750  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K9J                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58162.827          64072.789          11953.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1_1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K9K                 
END-POSITION-OPEN 
    CO-ORDS  58162.765          64072.789          11953.750 
PIPE
    END-POINT  58160.767          64043.695          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64047.935          11953.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQC                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64043.695          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64043.695          11953.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQD                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58160.767          64042.615          11953.750  0.75  SC FEMALE 
    END-POINT  58160.767          64043.695          11953.750  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64043.155          11953.750 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQE                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58160.767          64042.615          11953.750  0.75  SC FEMALE 
    END-POINT  58160.767          64042.615          11953.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQG                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64038.375          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64042.615          11953.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64038.375          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64038.375          11953.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58160.767          64036.755          11953.750  0.75  SC FEMALE 
    END-POINT  58160.767          64038.375          11953.750  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64037.565          11953.750 
    BRANCH1-POINT  58160.767          64037.565          11952.940  0.75  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58160.767          64036.755          11953.750  0.75  SC FEMALE 
    END-POINT  58160.767          64036.755          11953.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64037.565          11952.940  0.75  SC FEMALE 
    END-POINT  58160.767          64037.565          11952.940  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58160.767          64037.565          11952.940  0.75  SC MALE 
    END-POINT  58160.767          64037.565          11949.940  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64037.565          11949.940  0.75  SC MALE 
    END-POINT  58160.767          64037.565          11949.940  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQN                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58160.767          64037.565          11949.940  0.75  SC FEMALE 
    END-POINT  58160.767          64037.565          11948.500  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64037.565          11949.160 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQO                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58160.767          64037.565          11948.500  0.75  SC FEMALE 
    END-POINT  58160.767          64037.565          11948.500  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQQ                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58160.767          64037.565          11948.500  0.75  SC MALE 
    END-POINT  58160.767          64037.565          11947.500  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQR                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58160.767          64037.565          11947.500 
PIPE
    END-POINT  58160.767          64031.635          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64036.755          11953.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64031.635          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64031.635          11953.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58160.767          64031.635          11953.750  0.75  FL
    END-POINT  58160.767          64031.635          11953.750  0.75  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQU                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58160.767          64031.635          11953.750  0.75
    END-POINT  58160.767          64031.572          11953.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQV                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58160.767          64031.572          11953.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQW                 
INSTRUMENT
    END-POINT  58160.767          64024.197          11953.750  0.75  FL
    END-POINT  58160.767          64031.572          11953.750  0.75  FL
    CENTRE-POINT   58160.767          64027.885          11953.750 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQX                 
    TAG TCV$067$11                      
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58160.767          64024.197          11953.750  0.75
    END-POINT  58160.767          64024.135          11953.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JQZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58160.767          64024.135          11953.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR0                 
FLANGE
    END-POINT  58160.767          64024.135          11953.750  0.75  FL
    END-POINT  58160.767          64024.135          11953.750  0.75  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR1                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64024.135          11953.750  0.75  SC FEMALE 
    END-POINT  58160.767          64024.135          11953.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64019.015          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64024.135          11953.750  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64019.015          11953.750  0.75  SC MALE 
    END-POINT  58160.767          64019.015          11953.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58160.767          64018.205          11954.560  0.75  SC FEMALE 
    END-POINT  58160.767          64018.205          11953.060  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64018.205          11953.750 
    BRANCH1-POINT  58160.767          64019.015          11953.750  0.75  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58160.767          64018.205          11954.560  0.75  SC FEMALE 
    END-POINT  58160.767          64018.205          11954.560  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64018.205          11953.060  0.75  SC FEMALE 
    END-POINT  58160.767          64018.205          11953.060  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58160.767          64018.205          11953.060  0.75  SC MALE 
    END-POINT  58160.767          64018.205          11952.060  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR8                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58160.767          64018.205          11952.060 
SUPPORT
    CO-ORDS  58160.767  64018.205  11952.440  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JR9                 
PIPE
    END-POINT  58160.767          64018.205          11954.560  0.75  SC MALE 
    END-POINT  58160.767          64018.205          11971.282  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JRA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64018.205          11971.282  0.75  SC MALE 
    END-POINT  58160.767          64018.205          11971.282  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JRB                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58160.767          64018.205          11971.282  0.75  SC FEMALE 
    END-POINT  58160.767          64018.205          11972.362  0.75  SC FEMALE 
    CENTRE-POINT   58160.767          64018.205          11971.822 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JRC                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58160.767          64018.205          11972.362  0.75  SC FEMALE 
    END-POINT  58160.767          64018.205          11972.362  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JRE                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64018.205          11972.362  0.75  SC MALE 
    END-POINT  58160.767          64018.205          11976.940  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JRF                 
    PIPING-SPEC C1
    INSULATION-ON 
MATERIALS
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE BSHGHEX1X1/2
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE REDCON1X3/4
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING COUPLING, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE TEESTR3/4X3/4
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE UNNRW3/4
    CATALOG UNIONS_CS_CH2M
    DESCRIPTION UNION, SCF, 150 LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150 LB
ITEM-CODE VALVGLB3/4
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SCF, 150LB, GL-01-BA-000
    RATING 150LB
ITEM-CODE 90L3/4X3/4
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-3/4
    DESCRIPTION BASE SUPPORT, L=2'-2 1/4", P622 FIG 1
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVREL1X1
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-067-10
    RATING 150LB
ITEM-CODE SUPST-1
    DESCRIPTION BASE SUPPORT, L=2'-2 13/16", P622 FIG 1
ITEM-CODE BOLT1_1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, TCV-067-11
    RATING 150LB
ITEM-CODE SUPST-3/4_1
    DESCRIPTION BASE SUPPORT, L=2'-1", P622 FIG 2
