ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1320035-J
PIPING-SPEC S5J
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221_JACKET.DWG
    ATTRIBUTE98 PMJ
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1320035-J-PMJ-S5J
    ATTRIBUTE95 I1
    ATTRIBUTE94 S5J
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-020
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57946.644          64082.625          11521.612  3  FL
    END-POINT  57943.144          64082.625          11521.612  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1Z4                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57946.644  64082.625  11521.612 
    TEXT ISO-PY3-1320035-C-1$AT SP3-004-AO NOZZ N2
    UNDIMENSIONED
WELD
    END-POINT  57943.144          64082.625          11521.612  3
    END-POINT  57943.144          64082.625          11521.612  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1Z5                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57946.644          64082.625          11521.612 
PIPE
    END-POINT  57942.144          64082.625          11521.612  3  BW
    END-POINT  57943.144          64082.625          11521.612  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1Z2                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57943.144  64082.625  11521.612 
    TEXT 1 1/2"%%C JUMPER, TYPE 2$SEE DETAIL 6 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57942.144          64082.625          11521.612  3
    END-POINT  57942.144          64082.625          11521.612  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_27D                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57938.644          64082.625          11521.612  6  BW
    END-POINT  57942.144          64082.625          11521.612  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26P                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57942.144          64082.625          11521.612  3  BW
WELD
    END-POINT  57938.644          64082.625          11521.612  6
    END-POINT  57938.644          64082.625          11521.612  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_29C                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57775.191          64082.625          11521.612  6  BW
    END-POINT  57938.644          64082.625          11521.612  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_29A                 
    PIPING-SPEC S5J
    INSULATION-ON 
SUPPORT
    CO-ORDS  57926.644  64082.625  11521.612  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2A2                 
FLOW-ARROW
    CO-ORDS  57852.770  64082.625  11521.612 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57814.800  64082.625  11521.612  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2AM                 
WELD
    END-POINT  57775.191          64082.625          11521.612  6
    END-POINT  57775.191          64082.625          11521.612  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_29B                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57775.191          64082.625          11521.612  6  BW
    END-POINT  57771.691          64082.625          11521.612  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26R                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57771.691          64082.625          11521.612  3  BW
WELD
    END-POINT  57771.691          64082.625          11521.612  3
    END-POINT  57771.691          64082.625          11521.612  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_27E                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57762.566          64082.625          11521.612  3  BW
    END-POINT  57771.691          64082.625          11521.612  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1UT                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57767.129  64082.625  11521.612 
    TEXT 1 1/2"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57762.566          64082.625          11521.612  3
    END-POINT  57762.566          64082.625          11521.612  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_27F                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57759.066          64082.625          11521.612  6  BW
    END-POINT  57762.566          64082.625          11521.612  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26V                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57762.566          64082.625          11521.612  3  BW
WELD
    END-POINT  57759.066          64082.625          11521.612  6
    END-POINT  57759.066          64082.625          11521.612  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26W                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
ELBOW
    END-POINT  57759.066          64082.625          11521.612  6  BW
    END-POINT  57753.066          64086.868          11517.370  6  BW
    CENTRE-POINT   57753.066          64082.625          11521.612 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_17X                 
    PIPING-SPEC S5J
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57753.066  64082.625  11521.612 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64082.625  11521.612 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57753.066  64082.625  11521.612 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57753.066  64136.627  11521.612 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX2
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57753.066          64086.868          11517.370  6
    END-POINT  57753.066          64086.868          11517.370  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26U                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57753.066          64086.868          11517.370  6  BW
    END-POINT  57753.066          64089.343          11514.895  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26T                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57753.066          64089.343          11514.895  3  BW
WELD
    END-POINT  57753.066          64089.343          11514.895  3
    END-POINT  57753.066          64089.343          11514.895  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_27G                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57753.066          64095.804          11508.439  3  BW
    END-POINT  57753.066          64089.343          11514.895  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1UO                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57753.066  64092.573  11511.667 
    TEXT 1 1/2"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57753.066          64095.804          11508.439  3
    END-POINT  57753.066          64095.804          11508.439  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_27H                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57753.066          64098.279          11505.964  6  BW
    END-POINT  57753.066          64095.804          11508.439  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26Z                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57753.066          64095.804          11508.439  3  BW
WELD
    END-POINT  57753.066          64098.279          11505.964  6
    END-POINT  57753.066          64098.279          11505.964  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_270                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
ELBOW
    END-POINT  57753.066          64104.680          11503.313  6  BW
    END-POINT  57753.066          64098.279          11505.964  6  BW
    CENTRE-POINT   57753.066          64100.930          11503.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1E2                 
    PIPING-SPEC S5J
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57753.066          64104.680          11503.313  6
    END-POINT  57753.066          64104.680          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26Y                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57753.066          64104.680          11503.313  6  BW
    END-POINT  57753.066          64108.180          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26X                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57753.066          64108.180          11503.313  3  BW
WELD
    END-POINT  57753.066          64108.180          11503.313  3
    END-POINT  57753.066          64108.180          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_27I                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57753.066          64108.180          11503.313  3  BW
    END-POINT  57753.066          64117.305          11503.313  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1UG                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57753.066  64112.743  11503.313 
    TEXT 1 1/2"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57753.066          64117.305          11503.313  3
    END-POINT  57753.066          64117.305          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_27J                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57753.066          64120.805          11503.313  6  BW
    END-POINT  57753.066          64117.305          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_271                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57753.066          64117.305          11503.313  3  BW
WELD
    END-POINT  57753.066          64120.805          11503.313  6
    END-POINT  57753.066          64120.805          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2BA                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57753.066          64138.484          11503.313  6  BW
    END-POINT  57753.066          64120.805          11503.313  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2B8                 
    PIPING-SPEC S5J
    INSULATION-ON 
SUPPORT
    CO-ORDS  57753.066  64134.000  11503.313  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2BD                 
WELD
    END-POINT  57753.066          64138.484          11503.313  6
    END-POINT  57753.066          64138.484          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2B9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57753.066          64138.484          11503.313  6  BW
    END-POINT  57753.066          64141.984          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_273                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57753.066          64141.984          11503.313  3  BW
WELD
    END-POINT  57753.066          64141.984          11503.313  3
    END-POINT  57753.066          64141.984          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_27K                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57753.066          64141.984          11503.313  3  BW
    END-POINT  57753.066          64142.984          11503.313  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1UJ                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57753.066  64142.984  11503.313 
    TEXT 1 1/2"%%C JUMPER, TYPE 2$SEE DETAIL 6 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57753.066          64142.984          11503.313  3
    END-POINT  57753.066          64142.984          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1ZZ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
FLANGE
    END-POINT  57753.066          64146.484          11503.313  3  FL
    END-POINT  57753.066          64142.984          11503.313  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1ZY                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57753.066  64146.484  11503.313 
    TEXT ISO-PY3-1320035-C-1$AT SP3-004-BO NOZZ N1
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57753.066          64146.484          11503.313 
MATERIALS
ITEM-CODE CAP6
    CATALOG ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ANSI B16.9 W/2  EA HALF CPLGS, SCF, 3000LB, ASTM A105, ANSI B16.11, TAPS UP/DN, SEE DET 5, GVL-GP3-GS3-70D-001
    RATING 40
ITEM-CODE PIP6
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPRH-6
    DESCRIPTION PIPE HANGER, L=2'-11", P624, Fig. 4
ITEM-CODE SUPRH-6_1
    DESCRIPTION PIPE HANGER, L=2'-4 7/8", P624, Fig. 4
ITEM-CODE 90LSR6
    CATALOG ASME/ANSI B16.28
    DESCRIPTION ELBOW 90 DEG. SR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.28
    RATING 40
ITEM-CODE 45LLR6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPRH-6_2
    DESCRIPTION PIPE HANGER, L=3'-6 11/16", X=1'-9", P624, Fig. 2
