ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211015
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1211015-VT-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 D. DURK
    ATTRIBUTE22 12/10/2008
    ATTRIBUTE23 DK
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/13/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 12/10/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 12/10/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 12/10/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 D. DURK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 12/17/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DK
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58015.020          64139.421          12199.104  2  BW
    END-POINT  58015.020          64139.421          12149.287  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92P                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58015.020  64139.421  12154.136  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92R                 
WELD
    END-POINT  58015.020          64139.421          12199.104  2
    END-POINT  58015.020          64139.421          12199.104  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9AI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58015.020          64139.421          12149.287 
ELBOW
    END-POINT  58015.020          64136.474          12202.103  2  BW
    END-POINT  58015.020          64139.421          12199.104  2  BW
    CENTRE-POINT   58015.020          64139.421          12202.052 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92M                 
    PIPING-SPEC S1
    ANGLE 8900
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58015.020  64139.421  12202.052 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64139.421  12202.052 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58015.020  64139.421  12202.052 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58015.020  64138.748  12202.052 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58015.020          64136.474          12202.103  2
    END-POINT  58015.020          64136.474          12202.103  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58015.020          64120.476          12202.383  2  BW
    END-POINT  58015.020          64136.474          12202.103  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92F                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58015.020  64127.700  12202.256 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58015.020          64120.476          12202.383  2
    END-POINT  58015.020          64120.476          12202.383  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58015.020          64117.976          12202.383  2  FL
    END-POINT  58015.020          64120.476          12202.383  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92C                 
    PIPING-SPEC S1
GASKET
    END-POINT  58015.020          64117.976          12202.383  2
    END-POINT  58015.020          64117.851          12202.383  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92D                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.020          64117.976          12202.383 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92E                 
VALVE-ANGLE
    END-POINT  58015.020          64113.351          12198.258  1  FL
    END-POINT  58015.020          64117.851          12202.383  2  FL
    CENTRE-POINT   58015.020          64113.351          12202.383 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8I6                 
    TAG PSV-022 04                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58015.020          64113.351          12198.258 
    PIPELINE-REFERENCE ISO-PY3-1211009
MATERIALS
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION U BOLT SUPPORT, P651 FIG 2
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
