ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222014
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 CWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1222014-CWR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 12/30/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/30/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 12/30/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 12/30/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 12/30/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 12/30/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 NK
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 4/14/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 BJL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/27/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DK
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED PSV-052-04
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MESSAGE
    CO-ORDS  57959.435  64040.625  11574.070 
    TEXT PIPE ENDS 6"$ABOVE FLR
    UNDIMENSIONED
MATERIALS
