ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214011
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 WTR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214011-WTR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57975.546          64173.430          11820.974  0.75  SC MALE 
    END-POINT  57975.546          64173.430          11826.975  0.75  SC MALE 
    CENTRE-POINT  57975.546  64173.430  11823.975 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLK                 
    TAG TI-009-30                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  57975.546  64173.430  11826.412 
    TEXT TI$009$30
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  57975.546          64173.430          11820.974  0.75  SC MALE 
    END-POINT  57975.546          64173.430          11820.974  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLM                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57975.546          64173.430          11826.975 
ELBOLET
    END-POINT  57975.546          64173.430          11819.662  4  PL
    END-POINT  57975.546          64173.430          11820.974  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLN                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57975.546          64173.430          11819.662  4
    END-POINT  57975.546          64173.430          11819.662  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  57980.357          64177.016          11820.000  4  BW
    END-POINT  57975.546          64173.430          11814.000  4  BW
    CENTRE-POINT   57975.546          64173.430          11820.000 
    BRANCH1-POINT  57975.546          64173.430          11819.662  4
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLP                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  57975.546          64173.430          11819.662  4
WELD
    END-POINT  57980.357          64177.016          11820.000  4
    END-POINT  57980.357          64177.016          11820.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57975.546          64173.430          11814.000  4
    END-POINT  57975.546          64173.430          11814.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57975.546          64173.430          11754.110  4  BW
    END-POINT  57975.546          64173.430          11814.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLT                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57975.546  64173.430  11783.991  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLU                 
FLOOR-SYMBOL 
    CO-ORDS  57975.546  64173.430  11780.558 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57975.546  64173.430  11780.558 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  57975.546  64173.430  11771.696 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57975.546          64173.430          11754.110  4
    END-POINT  57975.546          64173.430          11754.110  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57980.234          64177.174          11748.110  4  BW
    END-POINT  57975.546          64173.430          11754.110  4  BW
    CENTRE-POINT   57975.546          64173.430          11748.110 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57975.546  64173.430  11748.110 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57975.546  64138.748  11748.110 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57980.234          64177.174          11748.110  4
    END-POINT  57980.234          64177.174          11748.110  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57980.234          64177.174          11748.110  4  BW
    END-POINT  58010.862          64201.635          11748.110  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM1                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58010.862          64201.635          11748.110  4
    END-POINT  58010.862          64201.635          11748.110  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58006.174  64197.891  11748.110  4
    END-POINT  58006.174  64197.891  11748.110  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58006.174  64197.891  11748.110 
    BRANCH1-POINT  58006.174          64197.891          11745.297  0.75  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X3/4
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58006.174          64197.891          11745.297  0.75  SC FEMALE 
    END-POINT  58006.174          64197.891          11745.297  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58006.174          64197.891          11745.297  0.75  SC MALE 
    END-POINT  58006.174          64197.891          11742.297  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58006.174          64197.891          11742.297  0.75  SC MALE 
    END-POINT  58006.174          64197.891          11742.297  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM8                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58006.174          64197.891          11742.297  0.75  SC FEMALE 
    END-POINT  58006.174          64197.891          11740.857  0.75  SC FEMALE 
    CENTRE-POINT   58006.174          64197.891          11741.517 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BM9                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 37 WEST
SCREWED-WELD
    END-POINT  58006.174          64197.891          11740.857  0.75  SC FEMALE 
    END-POINT  58006.174          64197.891          11740.857  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMB                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58006.174          64197.891          11740.857  0.75  SC MALE 
    END-POINT  58006.174          64197.891          11739.857  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMC                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58006.174          64197.891          11739.857 
ELBOW
    END-POINT  58015.551          64205.379          11754.110  4  BW
    END-POINT  58010.862          64201.635          11748.110  4  BW
    CENTRE-POINT   58015.551          64205.379          11748.110 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58015.551  64205.379  11748.110 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64205.379  11748.110 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58015.551          64205.379          11754.110  4
    END-POINT  58015.551          64205.379          11754.110  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58015.551          64205.379          11757.110  4  FL
    END-POINT  58015.551          64205.379          11754.110  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMG                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58015.551          64205.379          11757.110 
FLANGE
    END-POINT  57982.762          64178.809          11820.000  4  FL
    END-POINT  57980.357          64177.016          11820.000  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMJ                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57982.762          64178.809          11820.000  4
    END-POINT  57982.812          64178.846          11820.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMK                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57982.812          64178.846          11820.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BML                 
VALVE
    END-POINT  57992.032          64185.719          11820.000  4  FL
    END-POINT  57982.812          64178.846          11820.000  4  FL
    CENTRE-POINT   57987.422          64182.283          11820.000 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB4
    WEIGHT          95.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMM                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 37 EAST 45 UP
GASKET
    END-POINT  57992.032          64185.719          11820.000  4
    END-POINT  57992.082          64185.757          11820.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMO                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57992.082          64185.757          11820.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMP                 
FLANGE
    END-POINT  57992.082          64185.757          11820.000  4  FL
    END-POINT  57994.487          64187.550          11820.000  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMQ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57994.487          64187.550          11820.000  4
    END-POINT  57994.487          64187.550          11820.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57999.298          64191.136          11826.000  4  BW
    END-POINT  57994.487          64187.550          11820.000  4  BW
    CENTRE-POINT   57999.298          64191.136          11820.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMS                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57999.298  64191.136  11820.000  4
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMT                 
WELD
    END-POINT  57999.298          64191.136          11826.000  4
    END-POINT  57999.298          64191.136          11826.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57999.298          64191.136          11826.000  4  BW
    END-POINT  57999.298          64191.136          11830.880  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMV                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57999.298          64191.136          11830.880  4
    END-POINT  57999.298          64191.136          11830.880  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57999.298          64191.136          11830.880  4  BW
    END-POINT  57999.298          64191.136          11839.120  4  BW
    CENTRE-POINT   57999.298          64191.136          11835.000 
    BRANCH1-POINT  57996.669          64193.990          11835.000  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMX                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57999.298          64191.136          11839.120  4
    END-POINT  57999.298          64191.136          11839.120  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMY                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57996.669          64193.990          11835.000  3
    END-POINT  57996.669          64193.990          11835.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BMZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57994.806          64196.012          11835.000  3  FL
    END-POINT  57996.669          64193.990          11835.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN0                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57994.806          64196.012          11835.000  3
    END-POINT  57994.764          64196.058          11835.000  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN1                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
VALVE
    END-POINT  57994.764          64196.058          11835.000  3  FL
    END-POINT  57988.327          64203.046          11835.000  3  FL
    CENTRE-POINT   57991.545          64199.552          11835.000 
    SKEY VGFL
    CONTINUATION 
    WEIGHT          57.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 42 SOUTH
END-CONNECTION-PIPELINE 
    CO-ORDS  57988.327          64203.046          11835.000 
    PIPELINE-REFERENCE ISO-PY3-1214022
PIPE
    END-POINT  57999.298          64191.136          11839.120  4  BW
    END-POINT  57999.298          64191.136          11845.880  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNU                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57999.298          64191.136          11845.880  4
    END-POINT  57999.298          64191.136          11845.880  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57999.298          64191.136          11854.120  4  BW
    END-POINT  57999.298          64191.136          11845.880  4  BW
    CENTRE-POINT   57999.298          64191.136          11850.000 
    BRANCH1-POINT  57996.519          64193.844          11850.000  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57999.298          64191.136          11854.120  4
    END-POINT  57999.298          64191.136          11854.120  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57996.519          64193.844          11850.000  3
    END-POINT  57996.519          64193.844          11850.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57994.550          64195.763          11850.000  3  FL
    END-POINT  57996.519          64193.844          11850.000  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNZ                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57994.550          64195.763          11850.000  3
    END-POINT  57994.505          64195.807          11850.000  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO0                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
VALVE
    END-POINT  57994.505          64195.807          11850.000  3  FL
    END-POINT  57987.701          64202.437          11850.000  3  FL
    CENTRE-POINT   57991.103          64199.122          11850.000 
    SKEY VGFL
    CONTINUATION 
    WEIGHT          57.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BO2                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 44 WEST
END-CONNECTION-PIPELINE 
    CO-ORDS  57987.701          64202.437          11850.000 
    PIPELINE-REFERENCE ISO-PY3-1214025
PIPE
    END-POINT  57999.298          64191.136          11854.120  4  BW
    END-POINT  57999.298          64191.136          11892.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BOY                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57999.298  64191.136  11865.949 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57999.298          64191.136          11892.000  4
    END-POINT  57999.298          64191.136          11892.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BP0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57993.931          64193.819          11898.000  4  BW
    END-POINT  57999.298          64191.136          11892.000  4  BW
    CENTRE-POINT   57999.298          64191.136          11898.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BP1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57993.931          64193.819          11898.000  4
    END-POINT  57993.931          64193.819          11898.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BP2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57980.557          64200.504          11898.000  4  BW
    END-POINT  57993.931          64193.819          11898.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BP3                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57980.557          64200.504          11898.000  4
    END-POINT  57980.557          64200.504          11898.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BP4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57975.190          64203.187          11904.000  4  BW
    END-POINT  57980.557          64200.504          11898.000  4  BW
    CENTRE-POINT   57975.190          64203.187          11898.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BP5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57975.190          64203.187          11904.000  4
    END-POINT  57975.190          64203.187          11904.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CS6                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57975.190          64203.187          11967.671  4  PL
    END-POINT  57975.190          64203.187          11904.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CS3                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  57975.190  64203.187  11923.346 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57975.190  64203.187  11923.346 
    TEXT FLOOR PENETRATION
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57975.190  64203.187  11927.978  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 45 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BP9                 
FLOW-ARROW
    CO-ORDS  57975.190  64203.187  11946.107 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57975.190          64203.187          11967.671  4
    END-POINT  57975.190          64203.187          11967.671  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CS4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57975.190          64203.187          11967.671  4
    END-POINT  57975.190          64203.187          11967.671  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CS5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57975.190          64203.187          11967.970  4  FL
    END-POINT  57975.190          64203.187          11967.671  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRZ                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57975.190          64203.187          11967.970  4
    END-POINT  57975.190          64203.187          11968.032  4
    ERECTION-ITEM
    ITEM-CODE GAS4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CS0                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57975.190          64203.187          11967.970 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CS1                 
MISC-COMPONENT
    END-POINT  57975.190          64203.187          11982.813  4  FL
    END-POINT  57975.190          64203.187          11968.032  4  FL
    CENTRE-POINT  57975.190  64203.187  11975.423 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRW                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57975.190  64203.187  11975.423 
    TEXT 3P$FI$009$33
    UNDIMENSIONED
GASKET
    END-POINT  57975.190          64203.187          11982.813  4
    END-POINT  57975.190          64203.187          11982.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRX                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57975.190          64203.187          11982.813 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRY                 
FLANGE
    END-POINT  57975.190          64203.187          11982.875  4  FL
    END-POINT  57975.190          64203.187          11985.875  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPK                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57975.190          64203.187          11985.875  4
    END-POINT  57975.190          64203.187          11985.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57975.190          64203.187          11988.875  4  FL
    END-POINT  57975.190          64203.187          11985.875  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPM                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  57975.190          64203.187          11988.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPN                 
VALVE
    END-POINT  57975.190          64203.187          11988.875  4  FL
    END-POINT  57975.190          64203.187          11990.938  4  FL
    CENTRE-POINT   57975.190          64203.187          11989.906 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPO                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
BOLT
    CO-ORDS  57975.190          64203.187          11990.938 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPQ                 
FLANGE
    END-POINT  57975.190          64203.187          11990.938  4  FL
    END-POINT  57975.190          64203.187          11991.237  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPR                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57975.190          64203.187          11991.237  4
    END-POINT  57975.190          64203.187          11991.237  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57975.190          64203.187          11991.237  4
    END-POINT  57975.190          64203.187          11991.237  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57975.190          64203.187          11991.237  4  BW
    END-POINT  57975.190          64203.187          12037.674  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPU                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57975.190          64203.187          12037.674  4
    END-POINT  57975.190          64203.187          12037.674  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57975.190          64203.187          12037.674  4  BW
    END-POINT  57969.190          64203.187          12043.674  4  BW
    CENTRE-POINT   57975.190          64203.187          12043.674 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57969.190          64203.187          12043.674  4
    END-POINT  57969.190          64203.187          12043.674  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57969.190          64203.187          12043.674  4  BW
    END-POINT  57901.944          64203.187          12043.674  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BPY                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57939.192  64203.187  12043.674 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57901.944          64203.187          12043.674  4
    END-POINT  57901.944          64203.187          12043.674  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQ0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57901.944          64203.187          12043.674  4  BW
    END-POINT  57895.944          64203.191          12049.674  4  BW
    CENTRE-POINT   57895.944          64203.187          12043.674 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQ1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57895.944  64203.187  12043.674 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57895.944  64138.800  12043.674 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57895.944          64203.191          12049.674  4
    END-POINT  57895.944          64203.191          12049.674  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQ3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57895.944          64203.197          12057.421  4  BW
    END-POINT  57895.944          64203.191          12049.674  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQ4                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57895.944          64203.197          12057.421  4
    END-POINT  57895.944          64203.197          12057.421  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQ5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57895.944          64203.197          12057.421  4  BW
    END-POINT  57895.944          64209.201          12063.417  4  BW
    CENTRE-POINT   57895.944          64203.201          12063.421 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQ6                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57895.944  64203.201  12063.421 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64203.201  12063.421 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57895.944          64209.201          12063.417  4
    END-POINT  57895.944          64209.201          12063.417  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQ8                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57895.944          64209.201          12063.417  4  BW
    END-POINT  57895.944          64250.112          12063.421  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQ9                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57895.944  64228.811  12063.419  4
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BQA                 
FLOW-ARROW
    CO-ORDS  57895.944  64218.194  12063.418 
    FLOW 1
    SKEY FLOW
END-POSITION-OPEN 
    CO-ORDS  57895.944          64250.112          12063.421 
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-009-30
    RATING 2000LB
ITEM-CODE EOL4X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE SUPRH-4
    DESCRIPTION RISER CLAMP, P615 FIG 1
ITEM-CODE TOL4X3/4
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE FLGWNK4_1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVGLB4
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 125LB, FF, GL-12-DC-500
    RATING 125LB
ITEM-CODE SUPEB-4
    DESCRIPTION ELBOW SUPPORT,  L=3'-0", P619 FIG 2
ITEM-CODE TEERED4X3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4_1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE GENSTR4
    DESCRIPTION FI-009-33
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 1 3/4 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
ITEM-CODE FLGSLP4_1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPRH-4_1
    DESCRIPTION GENERAL HANGER, L=5'-7 3/16", P624 FIG 4
