ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215021
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1215021-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-015
    ATTRIBUTE21 D. DURK
    ATTRIBUTE22 1/20/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 1/22/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/28/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/2/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 2/2/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/2/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 D. DURK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/2/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 12/17/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DK
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED FIC-013-11
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58333.542          64183.582          11602.500  0.5  PL
    END-POINT  58333.542          64183.582          11605.500  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90P                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58333.542  64183.582  11605.000 
    TEXT PI$013$18
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58333.542          64183.582          11602.500  0.5
    END-POINT  58333.542          64183.582          11602.500  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58333.542          64183.582          11605.500 
VALVE
    END-POINT  58333.542          64183.582          11600.820  0.5  SW FEMALE 
    END-POINT  58333.542          64183.582          11602.500  0.5  SW FEMALE 
    CENTRE-POINT   58333.542          64183.582          11601.705 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7ER                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58333.542          64183.582          11600.820  0.5  SW FEMALE 
    END-POINT  58333.542          64183.582          11600.820  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7ES                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64183.582          11597.410  0.5  BW
    END-POINT  58333.542          64183.582          11600.820  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7EP                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64183.582          11597.410  0.5
    END-POINT  58333.542          64183.582          11597.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7EQ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58333.542          64184.582          11596.410  0.5  BW
    END-POINT  58333.542          64182.582          11596.410  0.5  BW
    CENTRE-POINT   58333.542          64183.582          11596.410 
    BRANCH1-POINT  58333.542          64183.582          11597.410  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6YX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58333.542  64183.582  11596.410  0.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7H9                 
WELD
    END-POINT  58333.542          64184.582          11596.410  0.5
    END-POINT  58333.542          64184.582          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_819                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64182.582          11596.410  0.5
    END-POINT  58333.542          64182.582          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8D1                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64182.582          11596.410  0.5  BW
    END-POINT  58333.542          64174.300          11596.410  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8D0                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58333.542  64180.009  11596.410 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58333.542          64174.300          11596.410  0.5
    END-POINT  58333.542          64174.300          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8D2                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58333.542          64172.800          11597.910  0.5  BW
    END-POINT  58333.542          64174.300          11596.410  0.5  BW
    CENTRE-POINT   58333.542          64172.800          11596.410 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CY                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58333.542          64172.800          11597.910  0.5
    END-POINT  58333.542          64172.800          11597.910  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9A1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58333.542          64172.800          11599.790  0.5  FL
    END-POINT  58333.542          64172.800          11597.910  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9A0                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58333.542          64172.800          11599.790  0.5
    END-POINT  58333.542          64172.800          11599.915  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9A5                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58333.542          64172.800          11599.915 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9A6                 
MISC-COMPONENT
    END-POINT  58333.542          64172.800          11599.915  0.5  FL
    END-POINT  58333.542          64172.800          11610.755  0.5  FL
    CENTRE-POINT  58333.542  64172.800  11605.335 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9A2                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58333.542  64172.800  11605.335 
    TEXT 3P$FIC$013$11
    UNDIMENSIONED
GASKET
    END-POINT  58333.542          64172.800          11610.755  0.5
    END-POINT  58333.542          64172.800          11610.880  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9A7                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58333.542          64172.800          11610.755 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9A8                 
FLANGE
    END-POINT  58333.542          64172.800          11610.880  0.5  FL
    END-POINT  58333.542          64172.800          11611.052  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8DE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64172.800          11611.052  0.5
    END-POINT  58333.542          64172.800          11611.052  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8DM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64172.800          11611.052  0.5
    END-POINT  58333.542          64172.800          11611.052  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8DN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64172.800          11611.052  0.5  PL
    END-POINT  58333.542          64172.800          11614.461  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8DL                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58333.542          64172.800          11614.461  0.5  SW FEMALE 
    END-POINT  58333.542          64172.800          11614.461  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8DO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58333.542          64172.800          11614.461  0.5  SW FEMALE 
    END-POINT  58333.542          64172.800          11616.232  0.5  SW FEMALE 
    CENTRE-POINT   58333.542          64172.800          11615.347 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_782                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58333.542          64172.800          11616.232  0.5
    END-POINT  58333.542          64172.800          11616.232  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9A9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64172.800          11616.232  0.5  PL
    END-POINT  58333.542          64172.800          11696.865  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8DP                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58333.542  64172.800  11655.900 
    FLOW 1
    SKEY FLOW
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58333.542  64172.800  11619.988 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58333.542  64138.748  11619.988 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58333.542  64172.800  11619.988 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64172.800  11619.988 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58333.542          64172.800          11696.865  0.5
    END-POINT  58333.542          64172.800          11696.865  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8DR                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58333.542          64172.800          11696.865  0.5  BW
    END-POINT  58333.542          64171.300          11698.365  0.5  BW
    CENTRE-POINT   58333.542          64172.800          11698.365 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_796                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58333.542          64171.300          11698.365  0.5
    END-POINT  58333.542          64171.300          11698.365  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_79A                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64096.487          11698.365  0.5  BW
    END-POINT  58333.542          64171.300          11698.365  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_798                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58333.542  64137.800  11698.365  0.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7AB                 
SUPPORT
    CO-ORDS  58333.542  64137.800  11698.365  0.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7H3                 
FLOW-ARROW
    CO-ORDS  58333.542  64124.945  11698.365 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58333.542          64096.487          11698.365  0.5
    END-POINT  58333.542          64096.487          11698.365  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_799                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58333.542          64096.487          11698.365  0.5  BW
    END-POINT  58332.042          64094.988          11698.365  0.5  BW
    CENTRE-POINT   58333.542          64094.987          11698.365 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_797                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58332.042          64094.988          11698.365  0.5
    END-POINT  58332.042          64094.988          11698.365  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7YO                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58271.971          64094.988          11698.365  0.5  PL
    END-POINT  58332.042          64094.988          11698.365  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7YL                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58318.956  64094.988  11698.365  0.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81E                 
SUPPORT
    CO-ORDS  58318.956  64094.988  11698.365  0.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81G                 
WELD
    END-POINT  58271.971          64094.988          11698.365  0.5
    END-POINT  58271.971          64094.988          11698.365  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7YM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58271.971          64094.988          11698.365  0.5
    END-POINT  58271.971          64094.988          11698.365  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7YN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58271.800          64094.988          11698.365  0.5  FL
    END-POINT  58271.971          64094.988          11698.365  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7YH                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58271.800          64094.988          11698.365  0.5
    END-POINT  58271.675          64094.988          11698.365  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7YI                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58271.800          64094.988          11698.365 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7YJ                 
END-POSITION-OPEN 
    CO-ORDS  58271.675          64094.988          11698.365 
PIPE
    END-POINT  58333.542          64190.582          11596.410  0.5  PL
    END-POINT  58333.542          64184.582          11596.410  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7I5                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64190.582          11596.410  0.5
    END-POINT  58333.542          64190.582          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7I6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64190.582          11596.410  0.5
    END-POINT  58333.542          64190.582          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7I7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58333.542          64190.753          11596.410  0.5  FL
    END-POINT  58333.542          64190.582          11596.410  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_70Y                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58333.542          64190.878          11596.410  0.5
    END-POINT  58333.542          64190.753          11596.410  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7EF                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58333.542          64190.878          11596.410 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7EG                 
FLANGE
    END-POINT  58333.542          64190.878          11596.410  0.5  FL
    END-POINT  58333.542          64190.550          11596.410  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7E9                 
    PIPING-SPEC S1
WELD
    END-POINT  58333.542          64190.550          11596.410  0.5
    END-POINT  58333.542          64190.550          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8E3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58333.542          64190.550          11596.410  0.5
    END-POINT  58333.542          64190.550          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8E4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58333.542          64190.550          11596.410  0.5  PL
    END-POINT  58333.542          64193.550          11596.410  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8E2                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  58333.542          64193.550          11596.410  0.5  SC FEMALE 
    END-POINT  58333.542          64193.550          11596.410  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8E6                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
MISC-COMPONENT
    END-POINT  58333.542          64193.550          11596.410  0.5  SC FEMALE 
    END-POINT  58333.542          64195.300          11596.410  0.5  SC FEMALE 
    CENTRE-POINT  58333.542  64194.425  11596.410 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8E5                 
    TAG PRV-013-22                      
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58333.542  64194.421  11596.410 
    TEXT PRV$013$22
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58333.542          64195.300          11596.410  0.5  SC FEMALE 
    END-POINT  58333.542          64195.300          11596.410  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8EA                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58333.542          64198.300          11596.410  0.5  PL
    END-POINT  58333.542          64195.300          11596.410  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8E7                 
    PIPING-SPEC S1
WELD
    END-POINT  58333.542          64198.300          11596.410  0.5
    END-POINT  58333.542          64198.300          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8E8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58333.542          64198.300          11596.410  0.5
    END-POINT  58333.542          64198.300          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8E9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58333.542          64197.971          11596.410  0.5  FL
    END-POINT  58333.542          64198.300          11596.410  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7DY                 
    PIPING-SPEC S1
GASKET
    END-POINT  58333.542          64197.971          11596.410  0.5
    END-POINT  58333.542          64198.096          11596.410  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7DZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58333.542          64197.971          11596.410 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7E0                 
FLANGE
    END-POINT  58333.542          64198.096          11596.410  0.5  FL
    END-POINT  58333.542          64198.268          11596.410  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_70T                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64198.268          11596.410  0.5
    END-POINT  58333.542          64198.268          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7HH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64198.268          11596.410  0.5
    END-POINT  58333.542          64198.268          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7HI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64198.268          11596.410  0.5  PL
    END-POINT  58333.542          64202.915          11596.410  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7HG                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58333.542          64202.915          11596.410  0.5
    END-POINT  58333.542          64202.915          11596.410  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7HJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58333.542          64204.685          11596.410  0.5  SW FEMALE 
    END-POINT  58333.542          64202.915          11596.410  0.5  SW FEMALE 
    CENTRE-POINT   58333.542          64203.800          11596.410 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6YJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58333.542          64204.685          11596.410  0.5
    END-POINT  58333.542          64204.685          11596.410  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7HL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64204.685          11596.410  0.5  PL
    END-POINT  58333.542          64207.300          11596.410  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7HK                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58333.542          64207.300          11596.410  0.5
    END-POINT  58333.542          64207.300          11596.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7X4                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58333.542          64207.300          11596.410  0.5  BW
    END-POINT  58333.542          64208.800          11594.910  0.5  BW
    CENTRE-POINT   58333.542          64208.800          11596.410 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7X2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58333.542          64208.800          11594.910  0.5
    END-POINT  58333.542          64208.800          11594.910  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7Y2                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64208.800          11594.910  0.5  BW
    END-POINT  58333.542          64208.800          11517.910  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7X5                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58333.542  64208.800  11569.223  0.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7X8                 
FLOOR-SYMBOL 
    CO-ORDS  58333.542  64208.800  11569.223 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58333.542  64208.800  11569.223 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58333.542          64208.800          11517.910  0.5
    END-POINT  58333.542          64208.800          11517.910  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7X7                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58333.542          64208.800          11517.910  0.5  BW
    END-POINT  58333.542          64210.300          11516.410  0.5  BW
    CENTRE-POINT   58333.542          64208.800          11516.410 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58333.542  64208.800  11516.410 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64208.800  11516.410 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58333.542  64208.800  11516.410 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58333.542  64138.748  11516.410 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58333.542          64210.300          11516.410  0.5
    END-POINT  58333.542          64210.300          11516.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XG                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64292.173          11516.410  0.5  BW
    END-POINT  58333.542          64210.300          11516.410  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XE                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58333.542  64277.673  11516.410  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7Y3                 
SUPPORT
    CO-ORDS  58333.542  64217.673  11516.410  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7Y6                 
WELD
    END-POINT  58333.542          64292.173          11516.410  0.5
    END-POINT  58333.542          64292.173          11516.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XO                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58333.542          64292.173          11516.410  0.5  BW
    END-POINT  58332.042          64293.673          11516.410  0.5  BW
    CENTRE-POINT   58333.542          64293.673          11516.410 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58332.042          64293.673          11516.410  0.5
    END-POINT  58332.042          64293.673          11516.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XY                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58173.542          64293.673          11516.410  0.5  BW
    END-POINT  58332.042          64293.673          11516.410  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XW                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58286.800  64293.673  11516.410  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7Y8                 
SUPPORT
    CO-ORDS  58219.800  64293.673  11516.410  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_816                 
WELD
    END-POINT  58173.542          64293.673          11516.410  0.5
    END-POINT  58173.542          64293.673          11516.410  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XX                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58172.042          64293.673          11514.910  0.5  BW
    END-POINT  58173.542          64293.673          11516.410  0.5  BW
    CENTRE-POINT   58172.042          64293.673          11516.410 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58172.042          64293.673          11514.910  0.5
    END-POINT  58172.042          64293.673          11514.910  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7Y1                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58172.042          64293.673          11468.985  0.5  BW
    END-POINT  58172.042          64293.673          11514.910  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58172.042          64293.673          11468.985  0.5
    END-POINT  58172.042          64293.673          11468.985  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7Y0                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58170.542          64293.673          11467.485  0.5  BW
    END-POINT  58172.042          64293.673          11468.985  0.5  BW
    CENTRE-POINT   58172.042          64293.673          11467.485 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XP                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58170.542          64293.673          11467.485  0.5
    END-POINT  58170.542          64293.673          11467.485  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7XR                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58029.853          64293.673          11467.485  0.5  BW
    END-POINT  58170.542          64293.673          11467.485  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7VS                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.644  64293.673  11467.485  0.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7VQ                 
SUPPORT
    CO-ORDS  58052.548  64293.673  11467.485  0.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6XE                 
SUPPORT
    CO-ORDS  58153.644  64293.673  11467.485  0.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7W4                 
FLOW-ARROW
    CO-ORDS  58082.363  64293.673  11467.485 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58029.853          64293.673          11467.485  0.5
    END-POINT  58029.853          64293.673          11467.485  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7W7                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58029.853          64293.673          11467.485  0.5  BW
    END-POINT  58028.353          64293.673          11465.985  0.5  BW
    CENTRE-POINT   58028.353          64293.673          11467.485 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7W5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58028.353          64293.673          11465.985  0.5
    END-POINT  58028.353          64293.673          11465.985  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7WB                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64293.673          11427.588  0.5  BW
    END-POINT  58028.353          64293.673          11465.985  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7W9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64293.673          11427.588  0.5
    END-POINT  58028.353          64293.673          11427.588  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7WA                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58028.353          64293.673          11427.588  0.5  BW
    END-POINT  58028.353          64292.173          11426.088  0.5  BW
    CENTRE-POINT   58028.353          64293.673          11426.088 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7W8                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58028.353          64292.173          11426.088  0.5
    END-POINT  58028.353          64292.173          11426.088  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7WD                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64292.173          11426.088  0.5  BW
    END-POINT  58028.353          64266.673          11426.088  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7WC                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64266.673          11426.088  0.5
    END-POINT  58028.353          64266.673          11426.088  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7WE                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58028.353          64265.173          11424.588  0.5  BW
    END-POINT  58028.353          64266.673          11426.088  0.5  BW
    CENTRE-POINT   58028.353          64265.173          11426.088 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7VK                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58028.353          64265.173          11424.588  0.5
    END-POINT  58028.353          64265.173          11424.588  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7VM                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64265.173          11424.588  0.5  BW
    END-POINT  58028.353          64265.173          11329.500  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6XI                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58028.353  64265.173  11383.832 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58028.353          64265.173          11329.500  0.5
    END-POINT  58028.353          64265.173          11329.500  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_79S                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58028.353          64263.673          11328.000  1  BW
    END-POINT  58028.353          64266.673          11328.000  1  BW
    CENTRE-POINT   58028.353          64265.173          11328.000 
    BRANCH1-POINT  58028.353          64265.173          11329.500  0.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58028.353          64263.673          11328.000 
    PIPELINE-REFERENCE ISO-PY3-1219016
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEESTR1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE SUPEB-1/2
    DESCRIPTION PIPE SUPPORT, P619 FIG 1 , L=2'-4 7/16"
ITEM-CODE 90LLR1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE FLGWNK1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR1/2
    DESCRIPTION FIC-013-11
    RATING 150LB
ITEM-CODE FLGSLP1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPAG-1/2
    DESCRIPTION STEEL SUPPORT, P629 FIG 8, L=1'-0"
ITEM-CODE SUPUB-1/2
    DESCRIPTION U BOLT SUPPORT, P651 FIG 1
ITEM-CODE SUPAG-1/2_1
    DESCRIPTION PIPE SUPPORT, P625 FIG 2,  L=2'-3"
ITEM-CODE GENSTR1/2_1
    DESCRIPTION PRV-013-22
    RATING 2000LB
ITEM-CODE SUPRH-1/2
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE SUPRH-1/2_1
    DESCRIPTION ROD HANGER P624 FIG 2, L=3'-1 15/16", X=2'-0"
ITEM-CODE SUPRH-1/2_2
    DESCRIPTION ROD HANGER P624 FIG 4, L=3'-0 1/2"
ITEM-CODE SUPAG-1/2_2
    DESCRIPTION PIPE SUPPORT, P629, FIG. 12, X=10", L=1'-6"
