ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217018
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1217018-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/9/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/12/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/2/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58206.218          64058.722          11582.304  1  SC FEMALE 
    END-POINT  58204.720          64058.105          11582.304  1
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_CE                  
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58206.218          64058.722          11582.304  1  SC MALE 
    END-POINT  58206.218          64058.722          11582.304  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_CD                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58208.095          64059.495          11582.304  1  PL
    END-POINT  58206.218          64058.722          11582.304  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_CC                  
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58208.095          64059.495          11582.304  1  SW FEMALE 
    END-POINT  58208.095          64059.495          11582.304  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_CB                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58210.526          64060.497          11582.304  1  SW FEMALE 
    END-POINT  58208.095          64059.495          11582.304  1  SW FEMALE 
    CENTRE-POINT   58209.310          64059.996          11582.304 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C9                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58210.526          64060.497          11582.304  1
    END-POINT  58210.526          64060.497          11582.304  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C8                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58210.526          64060.497          11582.304  1  PL
    END-POINT  58212.866          64061.460          11582.304  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C7                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58212.866          64061.460          11582.304  1
    END-POINT  58212.866          64061.460          11582.304  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C6                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58213.763          64064.533          11582.304  2  BW
    END-POINT  58215.667          64059.910          11582.304  2  BW
    CENTRE-POINT   58214.715          64062.222          11582.304 
    BRANCH1-POINT  58212.866          64061.460          11582.304  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED2X1
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C4                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58213.763          64064.533          11582.304  2
    END-POINT  58213.763          64064.533          11582.304  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C5                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58215.667          64059.910          11582.304  2
    END-POINT  58215.667          64059.910          11582.304  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C3                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58216.619          64057.599          11582.304  2  FL
    END-POINT  58215.667          64059.910          11582.304  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C2                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58216.667          64057.483          11582.304  2
    END-POINT  58216.619          64057.599          11582.304  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C0                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58216.619          64057.599          11582.304 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C1                  
VALVE
    END-POINT  58216.667          64057.483          11582.304  2  FL
    END-POINT  58219.333          64051.010          11582.304  2  FL
    CENTRE-POINT   58218.000          64054.247          11582.304 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BY                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58219.380          64050.895          11582.304  2
    END-POINT  58219.333          64051.010          11582.304  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BW                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58219.333          64051.010          11582.304 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BX                  
FLANGE
    END-POINT  58219.380          64050.895          11582.304  2  FL
    END-POINT  58220.332          64048.583          11582.304  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BV                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58220.332          64048.583          11582.304  2
    END-POINT  58220.332          64048.583          11582.304  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BU                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58220.332          64048.583          11582.304  2  BW
    END-POINT  58224.249          64046.952          11582.304  2  BW
    CENTRE-POINT   58221.475          64045.809          11582.304 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BT                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58224.249          64046.952          11582.304  2
    END-POINT  58224.249          64046.952          11582.304  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BS                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58227.947          64048.475          11582.304  2  BW
    END-POINT  58224.249          64046.952          11582.304  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BR                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58227.947          64048.475          11582.304  2
    END-POINT  58227.947          64048.475          11582.304  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BQ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58227.947          64048.475          11582.304  2  BW
    END-POINT  58230.721          64049.618          11579.304  2  BW
    CENTRE-POINT   58230.721          64049.618          11582.304 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BN                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58230.721  64049.618  11582.304 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64049.618  11582.304 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58230.721  64049.618  11582.304 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58230.721  64138.748  11582.304 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58230.721          64049.618          11579.304  2
    END-POINT  58230.721          64049.618          11579.304  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BM                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58230.721          64049.618          11575.804  3  BW
    END-POINT  58230.721          64049.618          11579.304  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BL                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58230.721          64049.618          11575.804  3
    END-POINT  58230.721          64049.618          11575.804  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BK                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58230.721          64049.618          11555.251  3  BW
    END-POINT  58230.721          64049.618          11575.804  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BH                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58230.721  64049.618  11566.750 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58230.721  64049.618  11566.750 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58230.721          64049.618          11555.251  3
    END-POINT  58230.721          64049.618          11555.251  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BG                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58230.721          64051.032          11551.837  3  BW
    END-POINT  58230.721          64049.618          11555.251  3  BW
    CENTRE-POINT   58230.721          64049.618          11553.251 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BF                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58230.721          64051.032          11551.837  3
    END-POINT  58230.721          64051.032          11551.837  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BE                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58230.721          64058.436          11544.433  3  BW
    END-POINT  58230.721          64051.032          11551.837  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BD                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58230.721          64058.436          11544.433  3
    END-POINT  58230.721          64058.436          11544.433  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BC                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58230.721          64058.436          11544.433  3  BW
    END-POINT  58226.221          64061.618          11541.251  3  BW
    CENTRE-POINT   58230.721          64061.618          11541.251 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BB                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58226.221          64061.618          11541.251  3
    END-POINT  58226.221          64061.618          11541.251  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_BA                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58112.570          64061.618          11541.251  3  BW
    END-POINT  58226.221          64061.618          11541.251  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B8                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.556  64061.618  11541.251  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_KC                  
FLOW-ARROW
    CO-ORDS  58166.675  64061.618  11541.251 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58112.570          64061.618          11541.251  3
    END-POINT  58112.570          64061.618          11541.251  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B7                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58108.070          64064.800          11538.069  3  BW
    END-POINT  58112.570          64061.618          11541.251  3  BW
    CENTRE-POINT   58108.070          64061.618          11541.251 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B6                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58108.070          64064.800          11538.069  3
    END-POINT  58108.070          64064.800          11538.069  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B5                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58108.070          64067.802          11535.067  3  BW
    END-POINT  58108.070          64064.800          11538.069  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B4                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58108.070          64067.802          11535.067  3
    END-POINT  58108.070          64067.802          11535.067  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B3                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58108.070          64067.802          11535.067  3  BW
    END-POINT  58108.070          64071.216          11533.653  3  BW
    CENTRE-POINT   58108.070          64069.216          11533.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B2                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58108.070          64071.216          11533.653  3
    END-POINT  58108.070          64071.216          11533.653  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B1                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58108.070          64123.420          11533.653  3  BW
    END-POINT  58108.070          64071.216          11533.653  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AZ                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58108.070          64123.420          11533.653  3
    END-POINT  58108.070          64123.420          11533.653  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AY                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58108.070          64127.920          11529.153  3  BW
    END-POINT  58108.070          64123.420          11533.653  3  BW
    CENTRE-POINT   58108.070          64127.920          11533.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AX                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58108.070          64127.920          11529.153  3
    END-POINT  58108.070          64127.920          11529.153  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AW                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58108.070          64127.920          11509.251  3  BW
    END-POINT  58108.070          64127.920          11529.153  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AV                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58108.070          64127.920          11509.251  3
    END-POINT  58108.070          64127.920          11509.251  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AU                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58103.570          64127.920          11504.751  3  BW
    END-POINT  58108.070          64127.920          11509.251  3  BW
    CENTRE-POINT   58108.070          64127.920          11504.751 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AT                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58103.570          64127.920          11504.751  3
    END-POINT  58103.570          64127.920          11504.751  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AS                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58103.570          64127.920          11504.751  3  BW
    END-POINT  57830.856          64127.920          11504.751  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AO                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58054.936  64127.920  11504.751  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AQ                  
FLOW-ARROW
    CO-ORDS  57971.906  64127.920  11504.751 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57946.805  64127.920  11504.751  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_KA                  
WELD
    END-POINT  57830.856          64127.920          11504.751  3
    END-POINT  57830.856          64127.920          11504.751  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AN                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57830.856          64127.920          11504.751  3  BW
    END-POINT  57826.356          64127.920          11500.251  3  BW
    CENTRE-POINT   57826.356          64127.920          11504.751 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AK                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.356  64127.920  11504.751 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64127.920  11504.751 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.356  64127.920  11504.751 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57826.356  64138.748  11504.751 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57826.356          64127.920          11500.251  3
    END-POINT  57826.356          64127.920          11500.251  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AJ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.356          64127.920          11369.471  3  PL
    END-POINT  57826.356          64127.920          11500.251  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AI                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57826.356  64127.920  11480.740  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_K8                  
WELD
    END-POINT  57826.356          64127.920          11369.471  3
    END-POINT  57826.356          64127.920          11369.471  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AG                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.356          64127.920          11369.471  3
    END-POINT  57826.356          64127.920          11369.471  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AH                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57826.356          64127.920          11369.192  3  FL
    END-POINT  57826.356          64127.920          11369.471  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AF                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57826.356          64127.920          11369.067  3
    END-POINT  57826.356          64127.920          11369.192  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AD                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.356          64127.920          11369.192 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AE                  
VALVE
    END-POINT  57826.356          64127.920          11359.567  3  FL
    END-POINT  57826.356          64127.920          11369.067  3  FL
    CENTRE-POINT   57826.356          64127.920          11364.317 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB3
    WEIGHT          86.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AB                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  57826.356          64127.920          11359.442  3
    END-POINT  57826.356          64127.920          11359.567  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_A9                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.356          64127.920          11359.567 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AA                  
FLANGE
    END-POINT  57826.356          64127.920          11359.442  3  FL
    END-POINT  57826.356          64127.920          11356.692  3  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_A8                  
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.356          64127.920          11356.692 
    PIPELINE-REFERENCE ISO-PY3-1217017
ELBOW
    END-POINT  58215.394          64068.450          11582.304  2  BW
    END-POINT  58213.763          64064.533          11582.304  2  BW
    CENTRE-POINT   58212.620          64067.307          11582.304 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_CF                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58212.620  64067.307  11582.304 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64067.307  11582.304 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58212.620  64067.307  11582.304 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58212.620  64138.748  11582.304 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58215.394          64068.450          11582.304  2
    END-POINT  58215.394          64068.450          11582.304  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_CG                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58217.937          64069.497          11582.304  2  FL
    END-POINT  58215.394          64068.450          11582.304  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_CH                  
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58217.937  64069.497  11582.304 
    TEXT SP-064
    UNDIMENSIONED
GASKET
    END-POINT  58218.053          64069.545          11582.304  2
    END-POINT  58217.937          64069.497          11582.304  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_KV                  
    PIPING-SPEC S1
    GASKET-RATING 300LB          
FLANGE
    END-POINT  58218.053          64069.545          11582.304  2  FL
    END-POINT  58220.595          64070.592          11582.304  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_KU                  
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58220.595          64070.592          11582.304 
    PIPELINE-REFERENCE ISO-PY3-1223002-J
MATERIALS
ITEM-CODE CAP1
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE TEERED2X1
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE REDCON3X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-10"
ITEM-CODE SUPPS-3
    DESCRIPTION PIPE INSULATION PROTECTION SADDLE, P651, Fig. 1
ITEM-CODE SUPUB-3
    DESCRIPTION P629 FIG 10 (VERT.) W/ P651 FIG 1
ITEM-CODE SUPUB-3_1
    DESCRIPTION P629 FIG 10 (HORIZ.) W/ P651 FIG 1
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVGLB3
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE FLGWNK2_1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
