ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214018
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 WTS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214018-WTS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58045.563          64239.796          11747.689  4  FL
    END-POINT  58045.563          64239.796          11744.689  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHP                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58045.563          64239.796          11744.689  4
    END-POINT  58045.563          64239.796          11744.689  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58045.563          64239.796          11747.689 
PIPE
    END-POINT  58045.563          64239.796          11742.287  4  BW
    END-POINT  58045.563          64239.796          11744.689  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHN                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58045.563          64239.796          11742.287  4
    END-POINT  58045.563          64239.796          11742.287  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58045.563          64239.796          11742.287  4  BW
    END-POINT  58039.563          64239.796          11736.287  4  BW
    CENTRE-POINT   58045.563          64239.796          11736.287 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58045.563  64239.796  11736.287 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64239.796  11736.287 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58039.563          64239.796          11736.287  4
    END-POINT  58039.563          64239.796          11736.287  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58039.563          64239.796          11736.287  4  BW
    END-POINT  58011.063          64239.796          11736.287  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHI                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58011.063          64239.796          11736.287  4
    END-POINT  58011.063          64239.796          11736.287  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58011.063          64239.796          11736.287  4  BW
    END-POINT  58006.795          64241.563          11736.287  4  BW
    CENTRE-POINT   58008.563          64239.796          11736.287 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHF                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58008.563  64239.796  11736.287 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58008.563  64138.800  11736.287 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58006.795          64241.563          11736.287  4
    END-POINT  58006.795          64241.563          11736.287  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58006.795          64241.563          11736.287  4  BW
    END-POINT  57996.189          64252.170          11736.287  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHC                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58000.105  64248.253  11736.287 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57996.189          64252.170          11736.287  4
    END-POINT  57996.189          64252.170          11736.287  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HHB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57996.189          64252.170          11736.287  4  BW
    END-POINT  57991.921          64253.938          11736.287  4  BW
    CENTRE-POINT   57994.421          64253.938          11736.287 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HH9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57994.421  64253.938  11736.287 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57971.508  64253.938  11736.287 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT Reference Dimension
WELD
    END-POINT  57991.921          64253.938          11736.287  4
    END-POINT  57991.921          64253.938          11736.287  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HH8                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57991.921          64253.938          11736.287  4  BW
    END-POINT  57971.508          64253.938          11736.287  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HH7                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57971.508          64253.938          11736.287  4
    END-POINT  57971.508          64253.938          11736.287  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HH6                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57966.388          64259.558          11736.287  6  BW
    END-POINT  57966.388          64248.318          11736.287  6  BW
    CENTRE-POINT   57966.388          64253.938          11736.287 
    BRANCH1-POINT  57971.508          64253.938          11736.287  4  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HH4                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57966.388          64259.558          11736.287 
    PIPELINE-REFERENCE ISO-PY3-1214014
MATERIALS
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE 90LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 45LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
