ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1219014
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1219014-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-019
    ATTRIBUTE21 SG
    ATTRIBUTE22 10/26/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/29/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/14/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RP
    ATTRIBUTE38 SG
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57991.800          64075.816          11584.625  1.5  FL
    END-POINT  57991.800          64075.816          11582.185  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3M2                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57991.800          64075.816          11584.625  1.5
    END-POINT  57991.800          64075.816          11584.750  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_685                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57991.800          64075.816          11584.625 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_686                 
WELD
    END-POINT  57991.800          64075.816          11582.185  1.5
    END-POINT  57991.800          64075.816          11582.185  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3NB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57991.800          64075.816          11584.750 
PIPE
    END-POINT  57991.800          64075.816          11582.185  1.5  BW
    END-POINT  57991.800          64075.816          11505.175  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3NA                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57991.800  64075.816  11569.250  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_67Z                 
WELD
    END-POINT  57991.800          64075.816          11505.175  1.5
    END-POINT  57991.800          64075.816          11505.175  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57991.800          64075.816          11505.175  1.5  BW
    END-POINT  57993.391          64077.407          11502.925  1.5  BW
    CENTRE-POINT   57991.800          64075.816          11502.925 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57993.391          64077.407          11502.925  1.5
    END-POINT  57993.391          64077.407          11502.925  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57999.505          64083.521          11502.925  1.5  BW
    END-POINT  57993.391          64077.407          11502.925  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57999.505          64083.521          11502.925  1.5
    END-POINT  57999.505          64083.521          11502.925  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57999.505          64083.521          11502.925  1.5  BW
    END-POINT  58001.425          64084.316          11502.925  1.5  BW
    CENTRE-POINT   58000.300          64084.316          11502.925 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58001.425          64084.316          11502.925  1.5
    END-POINT  58001.425          64084.316          11502.925  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58001.425          64084.316          11502.925  1.5  BW
    END-POINT  58045.488          64084.316          11502.925  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XI                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58045.488          64084.316          11502.925  1.5
    END-POINT  58045.488          64084.316          11502.925  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5XK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58045.488          64084.316          11502.925  1.5  BW
    END-POINT  58047.738          64084.316          11500.675  1.5  BW
    CENTRE-POINT   58047.738          64084.316          11502.925 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OL                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58047.738          64084.316          11500.675  1.5
    END-POINT  58047.738          64084.316          11500.675  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3P0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58047.764          64084.316          11470.279  1.5  BW
    END-POINT  58047.738          64084.316          11500.675  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58047.764          64084.316          11470.279  1.5
    END-POINT  58047.764          64084.316          11470.279  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58050.014          64084.316          11468.029  1.5  BW
    END-POINT  58047.764          64084.316          11470.279  1.5  BW
    CENTRE-POINT   58047.764          64084.316          11468.029 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58050.014          64084.316          11468.029  1.5
    END-POINT  58050.014          64084.316          11468.029  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58050.014          64084.316          11468.029  1.5  BW
    END-POINT  58065.764          64084.316          11468.029  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OV                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58052.672  64084.316  11468.029  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3P5                 
WELD
    END-POINT  58065.764          64084.316          11468.029  1.5
    END-POINT  58065.764          64084.316          11468.029  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58065.764          64084.316          11468.029  1.5  BW
    END-POINT  58068.014          64084.316          11465.779  1.5  BW
    CENTRE-POINT   58068.014          64084.316          11468.029 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3NR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58068.014          64084.316          11465.779  1.5
    END-POINT  58068.014          64084.316          11465.779  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.014          64084.340          11452.313  1.5  BW
    END-POINT  58068.014          64084.316          11465.779  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58068.014          64084.340          11452.313  1.5
    END-POINT  58068.014          64084.340          11452.313  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58068.014          64086.590          11450.063  1.5  BW
    END-POINT  58068.014          64084.340          11452.313  1.5  BW
    CENTRE-POINT   58068.014          64084.340          11450.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58068.014          64086.590          11450.063  1.5
    END-POINT  58068.014          64086.590          11450.063  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3OE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.014          64210.055          11450.063  1.5  BW
    END-POINT  58068.014          64086.590          11450.063  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3NC                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58068.014  64141.715  11450.063  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3P7                 
FLOW-ARROW
    CO-ORDS  58068.014  64185.805  11450.063 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58068.014          64210.055          11450.063  1.5
    END-POINT  58068.014          64210.055          11450.063  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5YB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58068.014          64212.305          11447.813  1.5  BW
    END-POINT  58068.014          64210.055          11450.063  1.5  BW
    CENTRE-POINT   58068.014          64212.305          11450.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5Y8                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58068.014  64212.305  11450.063 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64212.305  11450.063 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58068.014  64212.305  11450.063 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58068.014  64378.800  11450.063 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58068.014          64212.305          11447.813  1.5
    END-POINT  58068.014          64212.305          11447.813  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5YA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.014          64212.305          11447.813  1.5  BW
    END-POINT  58068.014          64212.305          11434.321  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3N7                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58068.014          64212.305          11434.321  1.5
    END-POINT  58068.014          64212.305          11434.321  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3N9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58065.764          64212.305          11432.071  1.5  BW
    END-POINT  58068.014          64212.305          11434.321  1.5  BW
    CENTRE-POINT   58068.014          64212.305          11432.071 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3MW                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58065.764          64212.305          11432.071  1.5
    END-POINT  58065.764          64212.305          11432.071  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3MY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58006.985          64212.305          11432.071  1.5  BW
    END-POINT  58065.764          64212.305          11432.071  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3MU                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58052.984  64212.305  11432.071  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3P9                 
WELD
    END-POINT  58006.985          64212.305          11432.071  1.5
    END-POINT  58006.985          64212.305          11432.071  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_605                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58006.985          64212.305          11432.071  1.5  BW
    END-POINT  58004.735          64212.305          11429.821  1.5  BW
    CENTRE-POINT   58004.735          64212.305          11432.071 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_603                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58004.735          64212.305          11429.821  1.5
    END-POINT  58004.735          64212.305          11429.821  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_606                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58004.735          64212.305          11429.821  1.5  BW
    END-POINT  58004.735          64212.305          11381.750  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_600                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64212.305          11381.750  1.5
    END-POINT  58004.735          64212.305          11381.750  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_602                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58004.735          64214.555          11379.500  1.5  BW
    END-POINT  58004.735          64210.055          11379.500  1.5  BW
    CENTRE-POINT   58004.735          64212.305          11379.500 
    BRANCH1-POINT  58004.735          64212.305          11381.750  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5ZI                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58004.735          64214.555          11379.500  1.5
    END-POINT  58004.735          64214.555          11379.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5ZK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64210.055          11379.500  1.5
    END-POINT  58004.735          64210.055          11379.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_623                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58004.735          64194.055          11379.500  1.5  BW
    END-POINT  58004.735          64210.055          11379.500  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_621                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58004.735  64203.100  11379.500 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58004.735          64194.055          11379.500 
    PIPELINE-REFERENCE ISO-PY3-1219015
PIPE
    END-POINT  58004.735          64225.555          11379.500  1.5  BW
    END-POINT  58004.735          64214.555          11379.500  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3LD                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58004.735  64218.764  11379.500 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58004.735          64225.555          11379.500  1.5
    END-POINT  58004.735          64225.555          11379.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3LE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58004.735          64227.805          11377.250  1.5  BW
    END-POINT  58004.735          64225.555          11379.500  1.5  BW
    CENTRE-POINT   58004.735          64227.805          11379.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3L6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58004.735  64227.805  11379.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64227.805  11379.500 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58004.735  64227.805  11379.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58004.735  64378.800  11379.500 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58004.735          64227.805          11377.250  1.5
    END-POINT  58004.735          64227.805          11377.250  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_682                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58004.735          64227.805          11377.250  1.5  BW
    END-POINT  58004.735          64227.805          11329.958  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_681                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64227.805          11329.958  1.5
    END-POINT  58004.735          64227.805          11329.958  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_683                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64227.805          11329.958  1.5
    END-POINT  58004.735          64227.805          11329.958  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_684                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58004.735          64227.805          11329.750  1.5  FL
    END-POINT  58004.735          64227.805          11329.958  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3L1                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58004.735          64227.805          11329.750  1.5
    END-POINT  58004.735          64227.805          11329.625  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3L2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58004.735          64227.805          11329.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3L3                 
VALVE
    END-POINT  58004.735          64227.805          11323.125  1.5  FL
    END-POINT  58004.735          64227.805          11329.625  1.5  FL
    CENTRE-POINT   58004.735          64227.805          11326.375 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3KW                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58004.735          64227.805          11323.125  1.5
    END-POINT  58004.735          64227.805          11323.000  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3KX                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58004.735          64227.805          11323.125 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3KY                 
FLANGE
    END-POINT  58004.735          64227.805          11323.000  1.5  FL
    END-POINT  58004.735          64227.805          11322.793  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3KT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64227.805          11322.793  1.5
    END-POINT  58004.735          64227.805          11322.793  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3KU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64227.805          11322.793  1.5
    END-POINT  58004.735          64227.805          11322.793  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3KV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58004.735          64227.805          11298.750  1.5  BW
    END-POINT  58004.735          64227.805          11322.793  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3KR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64227.805          11298.750  1.5
    END-POINT  58004.735          64227.805          11298.750  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3KS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58006.985          64227.805          11296.500  1.5  BW
    END-POINT  58004.735          64227.805          11298.750  1.5  BW
    CENTRE-POINT   58004.735          64227.805          11296.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3JZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58004.735  64227.805  11296.500  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_62N                 
WELD
    END-POINT  58006.985          64227.805          11296.500  1.5
    END-POINT  58006.985          64227.805          11296.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_67H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58006.985          64227.805          11296.500  1.5  BW
    END-POINT  58025.479          64227.805          11296.500  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VP                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58020.256  64227.805  11296.500 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58025.479          64227.805          11296.500  1.5
    END-POINT  58025.479          64227.805          11296.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_67L                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.479          64227.805          11296.500  1.5
    END-POINT  58025.479          64227.805          11296.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_67M                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58025.675          64227.805          11296.500  1.5  FL
    END-POINT  58025.479          64227.805          11296.500  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5WW                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58025.675          64227.805          11296.500  1.5
    END-POINT  58025.800          64227.805          11296.500  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VR                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58025.675          64227.805          11296.500 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VS                 
NOZZLE
    CO-ORDS  58025.800          64227.805          11296.500  1.5  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58025.800          64227.805          11296.500 
    TEXT PY3-001$(1)$NOZZLE TAG PY3-001$(1)-PY3001SUCTION$(1)$RATING 300LB$FACIN
    TEXT G RF
MATERIALS
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 45LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION P651, FIG.1 U-BOLT GUIDE
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION PIPE SUPPORT, P619 FIG 2 , L=1'-4 7/16"
ITEM-CODE FLGSLP1+1/2_1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 300LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS1+1/2_1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT1+1/2_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
