ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217001
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1217001-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 SG
    ATTRIBUTE22 10/2/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/7/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 10/14/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  57857.395          64093.837          11317.365  0.75  SC FEMALE 
    END-POINT  57857.395          64093.837          11316.425  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_871                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  57857.395          64093.837          11317.365  0.75  SC FEMALE 
    END-POINT  57857.395          64093.837          11317.365  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_872                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  57857.395          64093.837          11319.365  0.75  PL
    END-POINT  57857.395          64093.837          11317.365  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_86Z                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57857.395          64093.837          11319.365  0.75
    END-POINT  57857.395          64093.837          11319.365  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_870                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57857.395          64093.837          11321.345  0.75  SW FEMALE 
    END-POINT  57857.395          64093.837          11319.365  0.75  SW FEMALE 
    CENTRE-POINT   57857.395          64093.837          11320.370 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_86V                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57857.395          64093.837          11321.345  0.75  SW FEMALE 
    END-POINT  57857.395          64093.837          11321.345  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_86W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57857.395          64093.837          11324.875  0.75  BW
    END-POINT  57857.395          64093.837          11321.345  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_86T                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57857.395          64093.837          11324.875  0.75
    END-POINT  57857.395          64093.837          11324.875  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_86U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      57857.395  64093.837  11328.000 
    BRANCH1-POINT  57857.395          64093.837          11324.875  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_86Q                 
    PIPING-SPEC S1
WELD
    END-POINT  57857.395  64093.837  11328.000  4
    END-POINT  57857.395  64093.837  11328.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_86S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57857.395          64087.837          11328.000  4  BW
    END-POINT  57857.395          64095.434          11328.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6FL                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57857.395          64087.837          11328.000  4
    END-POINT  57857.395          64087.837          11328.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6WG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57857.395          64095.434          11328.000  4
    END-POINT  57857.395          64095.434          11328.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_96E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57857.395          64095.434          11328.000  4  BW
    END-POINT  57859.162          64099.702          11328.000  4  BW
    CENTRE-POINT   57857.395          64097.934          11328.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_96C                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57859.162          64099.702          11328.000  4
    END-POINT  57859.162          64099.702          11328.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_96Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57859.162          64099.702          11328.000  4  BW
    END-POINT  57876.572          64117.111          11328.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_96X                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57876.572          64117.111          11328.000  4
    END-POINT  57876.572          64117.111          11328.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_971                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57876.572          64117.111          11328.000  4  BW
    END-POINT  57880.814          64121.354          11334.000  4  BW
    CENTRE-POINT   57880.814          64121.354          11328.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_96Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57880.814  64121.354  11328.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64121.354  11328.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57880.814  64121.354  11328.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57880.814  64138.748  11328.000 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57880.814          64121.354          11334.000  4
    END-POINT  57880.814          64121.354          11334.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57880.814          64121.354          11334.000  4  BW
    END-POINT  57880.832          64121.325          11945.585  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_979                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57880.821  64121.343  11568.251  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 45 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97D                 
SUPPORT
    CO-ORDS  57880.827  64121.332  11785.257  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 45 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97F                 
MESSAGE
    CO-ORDS  57880.827  64121.332  11784.268 
    TEXT GRATE OPENING
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57880.821  64121.343  11568.353 
    TEXT GRATE OPENING
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  57880.818  64121.347  11471.733 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57880.832  64121.326  11929.258  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 32 WEST 0 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97Q                 
MESSAGE
    CO-ORDS  57880.832  64121.326  11928.312 
    TEXT GRATE OPENING
    UNDIMENSIONED
WELD
    END-POINT  57880.832          64121.325          11945.585  4
    END-POINT  57880.832          64121.325          11945.585  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64121.325          11945.585  4
    END-POINT  57880.832          64121.325          11945.585  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57880.832          64121.325          11945.885  4  FL
    END-POINT  57880.832          64121.325          11945.585  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_974                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57880.832          64121.325          11945.885  4
    END-POINT  57880.832          64121.325          11946.010  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97W                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57880.832          64121.325          11945.885 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97X                 
END-POSITION-OPEN 
    CO-ORDS  57880.832          64121.325          11946.010 
ELBOW
    END-POINT  57863.395          64081.837          11328.000  4  BW
    END-POINT  57857.395          64087.837          11328.000  4  BW
    CENTRE-POINT   57857.395          64081.837          11328.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6WD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57863.395          64081.837          11328.000  4
    END-POINT  57863.395          64081.837          11328.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_97V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57866.395          64081.837          11328.000  4  FL
    END-POINT  57863.395          64081.837          11328.000  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6W9                 
    PIPING-SPEC S1
GASKET
    END-POINT  57866.395          64081.837          11328.000  4
    END-POINT  57866.520          64081.837          11328.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6WA                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57866.395          64081.837          11328.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6WB                 
END-POSITION-OPEN 
    CO-ORDS  57866.520          64081.837          11328.000 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE WOL4X3/4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A182 Gr F304L, MSS SP-97
    RATING 10S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 45LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-4
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
