ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2044005
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5211.DWG
    ATTRIBUTE98 LC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2044005-LC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-044
    ATTRIBUTE21 D. ORR
    ATTRIBUTE22 3/20/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/24/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 3/26/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/31/2009
    ATTRIBUTE29 J. PHILLIPPI
    ATTRIBUTE30 3/31/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/31/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/31/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58209.100          64302.485          11725.215  0.75  SC FEMALE 
    END-POINT  58209.100          64302.485          11724.275  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_UV                  
    PIPING-SPEC C2
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58209.100          64302.485          11724.275 
SCREWED-WELD
    END-POINT  58209.100          64302.485          11725.215  0.75  SC FEMALE 
    END-POINT  58209.100          64302.485          11725.215  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_UW                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58209.100          64302.485          11727.215  0.75  SW MALE 
    END-POINT  58209.100          64302.485          11725.215  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_UT                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58209.100          64302.485          11727.215  0.75  SW MALE 
    END-POINT  58209.100          64302.485          11727.215  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_UU                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58209.100          64302.485          11729.590  0.75  SW FEMALE 
    END-POINT  58209.100          64302.485          11727.215  0.75  SW FEMALE 
    CENTRE-POINT   58209.100          64302.485          11728.402 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_UM                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58209.100          64302.485          11729.590  0.75
    END-POINT  58209.100          64302.485          11729.590  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_US                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58209.100          64302.485          11733.090  0.75  PL
    END-POINT  58209.100          64302.485          11729.590  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_UQ                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58209.100          64302.485          11733.090  0.75
    END-POINT  58209.100          64302.485          11733.090  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_UR                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58209.100          64302.485          11734.590  0.75  SW FEMALE 
    END-POINT  58209.100          64302.485          11733.090  0.75  SW FEMALE 
    CENTRE-POINT   58209.100          64302.485          11733.840 
    BRANCH1-POINT  58209.850          64302.485          11733.840  0.75  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_TN                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58209.100          64302.485          11734.590  0.75
    END-POINT  58209.100          64302.485          11734.590  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_TR                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58209.850          64302.485          11733.840  0.75
    END-POINT  58209.850          64302.485          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_U1                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58213.600          64302.485          11733.840  0.75  PL
    END-POINT  58209.850          64302.485          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_TZ                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58213.600          64302.485          11733.840  0.75
    END-POINT  58213.600          64302.485          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_U0                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58213.600          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58215.975          64302.485          11733.840  0.75  SW FEMALE 
    CENTRE-POINT   58214.788          64302.485          11733.840 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_H9                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58215.975          64302.485          11733.840  0.75
    END-POINT  58215.975          64302.485          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HG                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58215.975          64302.485          11733.840  0.75  PL
    END-POINT  58220.915          64302.485          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HF                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58220.915          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58220.915          64302.485          11733.840  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HI                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58221.095          64302.485          11733.840  0.75  FL
    END-POINT  58220.915          64302.485          11733.840  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HH                  
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58221.220          64302.485          11733.840  0.75
    END-POINT  58221.095          64302.485          11733.840  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HK                  
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58221.220          64302.485          11733.840 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HL                  
FLANGE
    END-POINT  58221.220          64302.485          11733.840  0.75  FL
    END-POINT  58221.400          64302.485          11733.840  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HJ                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58221.400          64302.485          11733.840  0.75
    END-POINT  58221.400          64302.485          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HN                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58221.400          64302.485          11733.840  0.75  PL
    END-POINT  58225.403          64302.485          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HM                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58225.403          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58225.403          64302.485          11733.840  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HP                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58225.403          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58227.178          64302.485          11733.840  0.75  SW FEMALE 
    CENTRE-POINT  58226.290  64302.485  11733.840 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_HO                  
    TAG SP-077                          
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58226.299  64302.485  11733.840 
    TEXT SP-077
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58227.178          64302.485          11733.840  0.75
    END-POINT  58227.178          64302.485          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_I4                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58227.178          64302.485          11733.840  0.75  PL
    END-POINT  58231.180          64302.485          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_I3                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58231.180          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58231.180          64302.485          11733.840  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_I6                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58231.360          64302.485          11733.840  0.75  FL
    END-POINT  58231.180          64302.485          11733.840  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_I5                  
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58231.485          64302.485          11733.840  0.75
    END-POINT  58231.360          64302.485          11733.840  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_I8                  
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58231.485          64302.485          11733.840 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_I9                  
FLANGE
    END-POINT  58231.485          64302.485          11733.840  0.75  FL
    END-POINT  58231.665          64302.485          11733.840  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_I7                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58231.665          64302.485          11733.840  0.75
    END-POINT  58231.665          64302.485          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IB                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58231.665          64302.485          11733.840  0.75  PL
    END-POINT  58236.605          64302.485          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IA                  
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58234.440  64302.485  11733.840 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58236.605          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58236.605          64302.485          11733.840  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_ID                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58236.605          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58238.980          64302.485          11733.840  0.75  SW FEMALE 
    CENTRE-POINT   58237.793          64302.485          11733.840 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           3.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IC                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58238.980          64302.485          11733.840  0.75
    END-POINT  58238.980          64302.485          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IF                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58238.980          64302.485          11733.840  0.75  PL
    END-POINT  58243.980          64302.485          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IE                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58243.980          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58243.980          64302.485          11733.840  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IH                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58243.980          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58246.355          64302.485          11733.840  0.75  SW FEMALE 
    CENTRE-POINT   58245.168          64302.485          11733.840 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IG                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58246.355          64302.485          11733.840  0.75
    END-POINT  58246.355          64302.485          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IQ                  
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58246.355          64302.485          11733.840  0.75  PL
    END-POINT  58421.631          64302.485          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_IP                  
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58277.766  64302.485  11733.840  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_JY                  
SUPPORT
    CO-ORDS  58346.807  64302.485  11733.840  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_K0                  
SOCKET-WELD
    END-POINT  58421.631          64302.485          11733.840  0.75  SW FEMALE 
    END-POINT  58421.631          64302.485          11733.840  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_V6                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58422.485          64302.132          11733.840  0.75  SW FEMALE 
    END-POINT  58421.631          64302.485          11733.840  0.75  SW FEMALE 
    CENTRE-POINT   58422.131          64302.485          11733.840 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_JI                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58422.131  64302.485  11733.840 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.807  64302.485  11733.840 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58422.131  64302.485  11733.840 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58422.131  64378.800  11733.840 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
SOCKET-WELD
    END-POINT  58422.485          64302.132          11733.840  0.75
    END-POINT  58422.485          64302.132          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_VG                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58422.485          64302.132          11733.840  0.75  PL
    END-POINT  58426.838          64297.778          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_VF                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58426.838          64297.778          11733.840  0.75
    END-POINT  58426.838          64297.778          11733.840  0.75  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_VH                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58428.827  64295.790  11733.840 
    BRANCH1-POINT  58426.838          64297.778          11733.840  0.75  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_VC                  
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58428.827  64295.790  11733.840 
    PIPELINE-REFERENCE ISO-PY3-2043006
PIPE
    END-POINT  58209.100          64302.485          11734.590  0.75  PL
    END-POINT  58209.100          64302.485          11757.277  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_TQ                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58209.100          64302.485          11757.277  0.75  SW FEMALE 
    END-POINT  58209.100          64302.485          11757.277  0.75
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_TY                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58208.172          64301.557          11758.590  1.5  SW FEMALE 
    END-POINT  58210.028          64303.413          11758.590  1.5  SW FEMALE 
    CENTRE-POINT   58209.100          64302.485          11758.590 
    BRANCH1-POINT  58209.100          64302.485          11757.277  0.75  SW FEMALE 
    SKEY TESW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_TS                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58208.172          64301.557          11758.590 
    PIPELINE-REFERENCE ISO-PY3-2041017
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE TEESTR3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR3/4
    DESCRIPTION STEAM TRAP W/INTEGRAL STRAINER, SP-077
    RATING 3000LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE SUPRH-3/4
    DESCRIPTION ROD HANGER,  P624 FIG 4
ITEM-CODE 45L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 45 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
