ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223026
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 MC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1223026-MC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 D. HAMM
    ATTRIBUTE22 9/17/2012
    ATTRIBUTE25 G. HEAPS
    ATTRIBUTE26 9/17/2012
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 9/17/2012
    ATTRIBUTE29 S. HOYER
    ATTRIBUTE30 9/17/2012
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 9/21/2012
    ATTRIBUTE36 DBH
    ATTRIBUTE37 GH
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR CONSTRUCTION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58325.550          64014.784          11792.000  0.75  SC FEMALE 
    END-POINT  58324.610          64014.784          11792.000  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANK                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58325.550          64014.784          11792.000  0.75  SC FEMALE 
    END-POINT  58325.550          64014.784          11792.000  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58327.550          64014.784          11792.000  0.75  SW MALE 
    END-POINT  58325.550          64014.784          11792.000  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANI                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58327.550          64014.784          11792.000  0.75  SW MALE 
    END-POINT  58327.550          64014.784          11792.000  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANJ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58329.925          64014.784          11792.000  0.75  SW FEMALE 
    END-POINT  58327.550          64014.784          11792.000  0.75  SW FEMALE 
    CENTRE-POINT   58328.738          64014.784          11792.000 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANE                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58329.925          64014.784          11792.000  0.75  SW FEMALE 
    END-POINT  58329.925          64014.784          11792.000  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANF                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58333.925          64014.784          11792.000  0.75  PL
    END-POINT  58329.925          64014.784          11792.000  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANC                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58333.925          64014.784          11792.000  0.75
    END-POINT  58333.925          64014.784          11792.000  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AND                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58334.675          64014.784          11792.750  0.75  SW FEMALE 
    END-POINT  58333.925          64014.784          11792.000  0.75  SW FEMALE 
    CENTRE-POINT   58334.675          64014.784          11792.000 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AN9                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58334.675          64014.784          11792.750  0.75  SW FEMALE 
    END-POINT  58334.675          64014.784          11792.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58334.675          64014.784          11799.250  2  BW
    END-POINT  58334.675          64014.784          11792.750  0.75  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AN3                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58334.675          64014.784          11799.250  2
    END-POINT  58334.675          64014.784          11799.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AN4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58334.675          64014.784          11804.250  2  BW
    END-POINT  58334.675          64014.784          11799.250  2  BW
    CENTRE-POINT   58334.675          64014.784          11801.750 
    BRANCH1-POINT  58332.175          64014.784          11801.750  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AN0                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58334.675          64014.784          11804.250  2
    END-POINT  58334.675          64014.784          11804.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AN2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58332.175          64014.784          11801.750  2
    END-POINT  58332.175          64014.784          11801.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58334.675          64017.284          11806.750  2  BW
    END-POINT  58334.675          64012.284          11806.750  2  BW
    CENTRE-POINT   58334.675          64014.784          11806.750 
    BRANCH1-POINT  58334.675          64014.784          11804.250  2  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AMT                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58334.675          64017.284          11806.750 
    PIPELINE-REFERENCE ISO-PY3-2041006
REDUCER-CONCENTRIC
    END-POINT  58332.175          64014.784          11801.750  2  BW
    END-POINT  58326.175          64014.784          11801.750  0.75  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANM                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58326.175          64014.784          11801.750  0.75
    END-POINT  58326.175          64014.784          11801.750  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APG                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER FUSION-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58326.175          64014.784          11801.750  0.75  PL
    END-POINT  58320.795          64014.784          11801.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APF                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.795          64014.784          11801.750  0.75
    END-POINT  58320.795          64014.784          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58320.795          64014.784          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64015.534          11801.750  0.75  SW FEMALE 
    CENTRE-POINT   58320.045          64014.784          11801.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANO                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58320.045          64015.534          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64015.534          11801.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ANR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64015.534          11801.750  0.75  PL
    END-POINT  58320.045          64021.026          11801.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKS                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58320.045  64018.280  11801.750  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPB--3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQ9                 
SOCKET-WELD
    END-POINT  58320.045          64021.026          11801.750  0.75
    END-POINT  58320.045          64021.026          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKT                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58320.045          64023.401          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64021.026          11801.750  0.75  SW FEMALE 
    CENTRE-POINT   58320.045          64022.213          11801.750 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58320.045          64023.401          11801.750  0.75
    END-POINT  58320.045          64023.401          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKV                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64023.401          11801.750  0.75  PL
    END-POINT  58320.045          64030.341          11801.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKU                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64030.341          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64030.341          11801.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58320.045          64030.521          11801.750  0.75  FL
    END-POINT  58320.045          64030.341          11801.750  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKW                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58320.045          64030.646          11801.750  0.75
    END-POINT  58320.045          64030.521          11801.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKZ                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58320.045          64030.646          11801.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL0                 
FLANGE
    END-POINT  58320.045          64030.646          11801.750  0.75  FL
    END-POINT  58320.045          64030.826          11801.750  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKY                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64030.826          11801.750  0.75
    END-POINT  58320.045          64030.826          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64030.826          11801.750  0.75  PL
    END-POINT  58320.045          64034.828          11801.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL1                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64034.828          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64034.828          11801.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58320.045          64034.828          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64036.603          11801.750  0.75  SW FEMALE 
    CENTRE-POINT  58320.045  64035.716  11801.750 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL3                 
    TAG SP-936                          
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58320.045  64035.698  11801.750 
    TEXT SP-069
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58320.045          64036.603          11801.750  0.75
    END-POINT  58320.045          64036.603          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64036.603          11801.750  0.75  PL
    END-POINT  58320.045          64040.606          11801.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL6                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64040.606          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64040.606          11801.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58320.045          64040.786          11801.750  0.75  FL
    END-POINT  58320.045          64040.606          11801.750  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AL8                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58320.045          64040.911          11801.750  0.75
    END-POINT  58320.045          64040.786          11801.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ALB                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58320.045          64040.911          11801.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ALC                 
FLANGE
    END-POINT  58320.045          64040.911          11801.750  0.75  FL
    END-POINT  58320.045          64041.091          11801.750  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ALA                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64041.091          11801.750  0.75
    END-POINT  58320.045          64041.091          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ALE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64041.091          11801.750  0.75  PL
    END-POINT  58320.045          64045.031          11801.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ALD                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64045.031          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64045.031          11801.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ALG                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58320.045          64045.031          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64047.406          11801.750  0.75  SW FEMALE 
    CENTRE-POINT   58320.045          64046.218          11801.750 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           3.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ALF                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64047.406          11801.750  0.75
    END-POINT  58320.045          64047.406          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQG                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64047.406          11801.750  0.75  PL
    END-POINT  58320.045          64054.406          11801.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQF                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64054.406          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64054.406          11801.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQI                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58320.045          64054.406          11801.750  0.75  SW FEMALE 
    END-POINT  58320.045          64056.781          11801.750  0.75  SW FEMALE 
    CENTRE-POINT   58320.045          64055.593          11801.750 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQH                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58320.045          64056.781          11801.750  0.75
    END-POINT  58320.045          64056.781          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQO                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64056.781          11801.750  0.75  PL
    END-POINT  58320.045          64069.913          11801.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQN                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64069.913          11801.750  0.75
    END-POINT  58320.045          64069.913          11801.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58320.045          64070.663          11801.000  0.75  SW FEMALE 
    END-POINT  58320.045          64069.913          11801.750  0.75  SW FEMALE 
    CENTRE-POINT   58320.045          64070.663          11801.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AOQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58320.045  64070.663  11801.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58320.045  64138.748  11801.750 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58320.045  64070.663  11801.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64070.663  11801.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SOCKET-WELD
    END-POINT  58320.045          64070.663          11801.000  0.75
    END-POINT  58320.045          64070.663          11801.000  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64070.663          11741.718  0.75  PL
    END-POINT  58320.045          64070.663          11801.000  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_API                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58320.045  64070.663  11784.625  0.75
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APP                 
FLOOR-SYMBOL 
    CO-ORDS  58320.045  64070.663  11784.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58320.045  64070.663  11784.000 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58320.045  64070.663  11777.389 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58320.045          64070.663          11741.718  0.75
    END-POINT  58320.045          64070.663          11741.718  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58320.045          64071.413          11740.968  0.75  SW FEMALE 
    END-POINT  58320.045          64070.663          11741.718  0.75  SW FEMALE 
    CENTRE-POINT   58320.045          64070.663          11740.968 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AOF                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58320.045          64071.413          11740.968  0.75
    END-POINT  58320.045          64071.413          11740.968  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64289.051          11740.968  0.75  PL
    END-POINT  58320.045          64071.413          11740.968  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APC                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58320.045  64245.722  11740.968  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APN                 
    TAG                         P624 FIG. 2                     
SUPPORT
    CO-ORDS  58320.045  64138.800  11740.968  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APX                 
    TAG                         P624 FIG. 2                     
SOCKET-WELD
    END-POINT  58320.045          64289.051          11740.968  0.75
    END-POINT  58320.045          64289.051          11740.968  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58320.045          64289.801          11740.218  0.75  SW FEMALE 
    END-POINT  58320.045          64289.051          11740.968  0.75  SW FEMALE 
    CENTRE-POINT   58320.045          64289.801          11740.968 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AP5                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58320.045          64289.801          11740.218  0.75
    END-POINT  58320.045          64289.801          11740.218  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58320.045          64289.801          11740.218  0.75  PL
    END-POINT  58320.045          64289.801          11734.590  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AP9                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58320.045          64289.801          11734.590  0.75
    END-POINT  58320.045          64289.801          11734.590  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58320.045          64289.801          11734.590  0.75  SW FEMALE 
    END-POINT  58320.795          64289.801          11733.840  0.75  SW FEMALE 
    CENTRE-POINT   58320.045          64289.801          11733.840 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AP4                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58320.795          64289.801          11733.840  0.75
    END-POINT  58320.795          64289.801          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AP8                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58422.338          64289.801          11733.840  0.75  PL
    END-POINT  58320.795          64289.801          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AP6                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58346.807  64289.801  11733.840  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APV                 
    TAG                         P624 FIG. 2                     
SOCKET-WELD
    END-POINT  58422.338          64289.801          11733.840  0.75
    END-POINT  58422.338          64289.801          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AP7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58422.338          64289.801          11733.840  0.75  SW FEMALE 
    END-POINT  58423.192          64290.154          11733.840  0.75  SW FEMALE 
    CENTRE-POINT   58422.838          64289.801          11733.840 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AP0                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58423.192          64290.154          11733.840  0.75
    END-POINT  58423.192          64290.154          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQ0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58423.192          64290.154          11733.840  0.75  PL
    END-POINT  58426.838          64293.801          11733.840  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_APZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58426.838          64293.801          11733.840  0.75
    END-POINT  58426.838          64293.801          11733.840  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AQ1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58428.827  64295.790  11733.840 
    BRANCH1-POINT  58426.838          64293.801          11733.840  0.75  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_XV                  
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58428.827  64295.790  11733.840 
    PIPELINE-REFERENCE ISO-PY3-2043006
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE 90L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxPL, SCH 40xSCH 80, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE TEESTR2X2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPB--3/4
    DESCRIPTION PIPE SUPPORT, P617 FIG 1 , L=1'-5 3/4"
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR3/4
    DESCRIPTION STEAM TRAP W/INTEGRAL STRAINER, SP-069
    RATING 3000LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE SUPRH-3/4
    DESCRIPTION RISER CLAMP, P615, FIG.2, (C.S.)
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION PIPE HANGER P624 FIG. 2
ITEM-CODE 45L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 45 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
