ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211013
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1211013-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 R.J. RODRIGUE
    ATTRIBUTE22 10/9/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 10/26/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 DD
    ATTRIBUTE62 DK
    ATTRIBUTE63 ADDED VALVE AND UPDATED DRAIN
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58212.482          64171.119          11838.546  1  SC FEMALE 
    END-POINT  58212.482          64171.119          11837.506  1
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQD                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58212.482          64171.119          11837.506 
SCREWED-WELD
    END-POINT  58212.482          64171.119          11838.546  1  SC FEMALE 
    END-POINT  58212.482          64171.119          11838.546  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58212.482          64171.119          11841.576  1  PL
    END-POINT  58212.482          64171.119          11838.546  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQB                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58212.482          64171.119          11841.576  1
    END-POINT  58212.482          64171.119          11841.576  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58212.482          64171.119          11844.206  1  SW FEMALE 
    END-POINT  58212.482          64171.119          11841.576  1  SW FEMALE 
    CENTRE-POINT   58212.482          64171.119          11842.891 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQ7                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58212.482          64171.119          11844.206  1  SW FEMALE 
    END-POINT  58212.482          64171.119          11844.206  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQ8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58212.482          64171.119          11847.236  1  BW
    END-POINT  58212.482          64171.119          11844.206  1  PL
    SKEY NIPL
    FABRICATION-ITEM
    ITEM-CODE NIPP1_1
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQ5                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58212.482          64171.119          11847.236  1
    END-POINT  58212.482          64171.119          11847.236  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQ6                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58210.982          64171.119          11848.736  1  BW
    END-POINT  58213.982          64171.119          11848.736  1  BW
    CENTRE-POINT   58212.482          64171.119          11848.736 
    BRANCH1-POINT  58212.482          64171.119          11847.236  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IPZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58210.982          64171.119          11848.736  1
    END-POINT  58210.982          64171.119          11848.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQ1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58213.982          64171.119          11848.736  1
    END-POINT  58213.982          64171.119          11848.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQ2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58213.982          64171.119          11848.736  1  BW
    END-POINT  58225.774          64171.119          11848.736  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IL8                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58219.086  64171.119  11848.736 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58225.774          64171.119          11848.736  1
    END-POINT  58225.774          64171.119          11848.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ILA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58227.277          64170.497          11848.736  1  BW
    END-POINT  58225.774          64171.119          11848.736  1  BW
    CENTRE-POINT   58226.654          64171.119          11848.736 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IK9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58227.277          64170.497          11848.736  1
    END-POINT  58227.277          64170.497          11848.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58235.762          64162.012          11848.736  1  PL
    END-POINT  58227.277          64170.497          11848.736  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IK3                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58235.762          64162.012          11848.736  1
    END-POINT  58235.762          64162.012          11848.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IK4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58235.762          64162.012          11848.736  1
    END-POINT  58235.762          64162.012          11848.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IK5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58235.900          64161.874          11848.736  1  FL
    END-POINT  58235.762          64162.012          11848.736  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IJZ                 
    PIPING-SPEC S1
GASKET
    END-POINT  58235.900          64161.874          11848.736  1
    END-POINT 
** 
Processing ID: AT_FJ9XDMOH_IK0  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IK0                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58235.900          64161.874          11848.736 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IK1                 
END-POSITION-OPEN 
    CO-ORDS  58235.900  64161.874  11848.736 
PIPE
    END-POINT  58198.982          64171.119          11848.736  1  BW
    END-POINT  58210.982          64171.119          11848.736  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKS                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58201.528  64171.119  11848.736  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ILB                 
WELD
    END-POINT  58198.982          64171.119          11848.736  1
    END-POINT  58198.982          64171.119          11848.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58198.982          64171.119          11848.736  1  BW
    END-POINT  58197.482          64171.119          11850.236  1  BW
    CENTRE-POINT   58197.482          64171.119          11848.736 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58197.482          64171.119          11850.236  1
    END-POINT  58197.482          64171.119          11850.236  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.482          64171.119          11850.236  1  BW
    END-POINT  58197.482          64171.119          11858.236  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKH                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58197.482          64171.119          11858.236  1
    END-POINT  58197.482          64171.119          11858.236  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58197.482          64171.119          11858.236  1  BW
    END-POINT  58197.482          64169.619          11859.736  1  BW
    CENTRE-POINT   58197.482          64171.119          11859.736 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58197.482  64171.119  11859.736 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64171.119  11859.736 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58197.482  64171.119  11859.736 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58197.482  64138.748  11859.736 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58197.482          64169.619          11859.736  1
    END-POINT  58197.482          64169.619          11859.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.482          64169.619          11859.736  1  BW
    END-POINT  58197.482          64166.089          11859.736  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQO                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58197.482          64166.089          11859.736  1
    END-POINT  58197.482          64166.089          11859.736  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58197.482          64166.089          11859.736  1  SW FEMALE 
    END-POINT  58197.482          64163.459          11859.736  1  SW FEMALE 
    CENTRE-POINT   58197.482          64164.774          11859.736 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQF                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58197.482          64163.459          11859.736  1
    END-POINT  58197.482          64163.459          11859.736  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.482          64154.800          11859.736  1  BW
    END-POINT  58197.482          64163.459          11859.736  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58197.482          64154.800          11859.736  1
    END-POINT  58197.482          64154.800          11859.736  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58197.482          64154.800          11859.736  1  BW
    END-POINT  58197.482          64153.300          11861.236  1  BW
    CENTRE-POINT   58197.482          64153.300          11859.736 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58197.482          64153.300          11861.236  1
    END-POINT  58197.482          64153.300          11861.236  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IKR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.482          64153.300          11861.236  1  BW
    END-POINT  58197.482          64153.300          11888.347  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HIF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58197.482          64153.300          11888.347  1
    END-POINT  58197.482          64153.300          11888.347  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HIH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58197.482          64151.800          11889.847  1  BW
    END-POINT  58197.482          64153.300          11888.347  1  BW
    CENTRE-POINT   58197.482          64153.300          11889.847 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HIA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58197.482  64153.300  11889.847 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64153.300  11889.847 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58197.482  64153.300  11889.847 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58197.482  64138.748  11889.847 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58197.482          64151.800          11889.847  1
    END-POINT  58197.482          64151.800          11889.847  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HJC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.482          64056.909          11889.847  1  BW
    END-POINT  58197.482          64151.800          11889.847  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HI8                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58197.482  64139.045  11889.847  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HJE                 
FLOW-ARROW
    CO-ORDS  58197.482  64098.457  11889.847 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58197.482          64056.909          11889.847  1
    END-POINT  58197.482          64056.909          11889.847  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HJB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58197.482          64055.409          11891.347  1  BW
    END-POINT  58197.482          64056.909          11889.847  1  BW
    CENTRE-POINT   58197.482          64055.409          11889.847 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HI5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58197.482          64055.409          11891.347  1
    END-POINT  58197.482          64055.409          11891.347  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HI7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.482          64055.409          12024.366  1  BW
    END-POINT  58197.482          64055.409          11891.347  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6J9                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58197.482  64055.409  12000.703 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58197.482  64055.409  11928.008  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HJ9                 
WELD
    END-POINT  58197.482          64055.409          12024.366  1
    END-POINT  58197.482          64055.409          12024.366  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_820                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58197.482          64053.909          12025.866  1  BW
    END-POINT  58197.482          64055.409          12024.366  1  BW
    CENTRE-POINT   58197.482          64055.409          12025.866 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_81V                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58197.482          64053.909          12025.866  1
    END-POINT  58197.482          64053.909          12025.866  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_82X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.482          64053.909          12025.866  1  BW
    END-POINT  58197.482          64024.300          12025.866  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_82W                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58197.482  64051.734  12025.866 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58197.482          64024.300          12025.866  1
    END-POINT  58197.482          64024.300          12025.866  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_82Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58197.482          64022.800          12027.366  1  BW
    END-POINT  58197.482          64024.300          12025.866  1  BW
    CENTRE-POINT   58197.482          64022.800          12025.866 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_81P                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58197.482          64022.800          12027.366  1
    END-POINT  58197.482          64022.800          12027.366  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_81T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.482          64022.800          12042.366  1  BW
    END-POINT  58197.482          64022.800          12027.366  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_81R                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58197.482  64022.800  12035.344 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58197.482          64022.800          12042.366  1
    END-POINT  58197.482          64022.800          12042.366  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_81S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58195.982          64022.800          12043.866  1  BW
    END-POINT  58197.482          64022.800          12042.366  1  BW
    CENTRE-POINT   58197.482          64022.800          12043.866 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_81M                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58195.982          64022.800          12043.866  1
    END-POINT  58195.982          64022.800          12043.866  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_81O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57844.819          64022.800          12043.866  1  BW
    END-POINT  58195.982          64022.800          12043.866  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6IZ                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57874.291  64022.800  12043.866 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57910.799  64022.800  12043.866  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CEL                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58054.790  64022.800  12043.866  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CEN                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58169.975  64022.800  12043.866  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CEP                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  57844.819          64022.800          12043.866  1
    END-POINT  57844.819          64022.800          12043.866  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57844.819          64022.800          12043.866  1  BW
    END-POINT  57843.319          64022.800          12042.366  1  BW
    CENTRE-POINT   57843.319          64022.800          12043.866 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IO9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57843.319          64022.800          12042.366  1
    END-POINT  57843.319          64022.800          12042.366  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57843.319          64022.800          12027.366  1  BW
    END-POINT  57843.319          64022.800          12042.366  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_835                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57843.319  64022.800  12035.510 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57843.319          64022.800          12027.366  1
    END-POINT  57843.319          64022.800          12027.366  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_836                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57843.319          64022.800          12027.366  1  BW
    END-POINT  57843.319          64021.300          12025.866  1  BW
    CENTRE-POINT   57843.319          64022.800          12025.866 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_831                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57843.319          64021.300          12025.866  1
    END-POINT  57843.319          64021.300          12025.866  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57843.319          63954.800          12025.866  1  BW
    END-POINT  57843.319          64021.300          12025.866  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85D                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57843.319  63986.331  12025.866 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57843.319  63990.779  12025.866  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CY2                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  57843.319          63954.800          12025.866  1
    END-POINT  57843.319          63954.800          12025.866  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57843.319          63953.300          12024.366  1  BW
    END-POINT  57843.319          63954.800          12025.866  1  BW
    CENTRE-POINT   57843.319          63953.300          12025.866 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_858                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57843.319          63953.300          12024.366  1
    END-POINT  57843.319          63953.300          12024.366  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57843.319          63953.300          12024.366  1  BW
    END-POINT  57843.319          63953.300          12018.419  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85A                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57843.319          63953.300          12018.419  1
    END-POINT  57843.319          63953.300          12018.419  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57841.819          63953.300          12016.919  1  BW
    END-POINT  57843.319          63953.300          12018.419  1  BW
    CENTRE-POINT   57843.319          63953.300          12016.919 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_856                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57841.819          63953.300          12016.919  1
    END-POINT  57841.819          63953.300          12016.919  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57841.819          63953.300          12016.919  1  BW
    END-POINT  57827.817          63953.300          12016.919  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85G                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57834.551  63953.300  12016.919 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57827.817          63953.300          12016.919  1
    END-POINT  57827.817          63953.300          12016.919  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_85I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          63953.300          12015.419  1  BW
    END-POINT  57827.817          63953.300          12016.919  1  BW
    CENTRE-POINT   57826.317          63953.300          12016.919 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83N                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.317  63953.300  12016.919 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63953.300  12016.919 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.317  63953.300  12016.919 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57826.317  63898.800  12016.919 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57826.317          63953.300          12015.419  1
    END-POINT  57826.317          63953.300          12015.419  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63953.300          11982.958  1  PL
    END-POINT  57826.317          63953.300          12015.419  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_829                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57826.317  63953.300  12000.941 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  57826.317          63953.300          11982.958  1
    END-POINT  57826.317          63953.300          11982.958  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_82A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57826.317          63953.300          11980.328  1  SW FEMALE 
    END-POINT  57826.317          63953.300          11982.958  1  SW FEMALE 
    CENTRE-POINT   57826.317          63953.300          11981.643 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6O7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57826.317          63953.300          11980.328  1  SW FEMALE 
    END-POINT  57826.317          63953.300          11980.328  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6O8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63953.300          11976.798  1  BW
    END-POINT  57826.317          63953.300          11980.328  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          63953.300          11976.798  1
    END-POINT  57826.317          63953.300          11976.798  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57826.317  63953.300  11973.985 
    BRANCH1-POINT  57826.317          63953.300          11976.798  1  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_50G                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317  63953.300  11973.985 
    PIPELINE-REFERENCE ISO-PY3-1211011
MATERIALS
ITEM-CODE CAP1
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1_1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1"x3" LG, BVxPL, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 45LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE SUPUB-1
    DESCRIPTION P651 FIG 1
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1_1
    DESCRIPTION P651, FIG 1
ITEM-CODE SUPRH-1
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE SUPPS-1
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
