ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213023
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1213023-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 2/23/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 2/23/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/23/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 2/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/23/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 2/23/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 DC
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58234.547          64123.795          11339.160  1  SC MALE 
    END-POINT  58234.547          64123.795          11359.800  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MU7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58234.547          64123.795          11339.160  1  SC MALE 
    END-POINT  58234.547          64123.795          11339.160  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MU8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58234.547          64123.795          11359.800  1  SC FEMALE 
    END-POINT  58234.547          64123.795          11359.800  1  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MU6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58234.547          64123.795          11360.425  1.5  SC MALE 
    END-POINT  58234.547          64123.795          11359.800  1  SC FEMALE 
    CENTRE-POINT  58234.547  64123.795  11360.113 
    SKEY RBSC
    CONTINUATION 
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MU5                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58234.547          64123.795          11360.425 
    PIPELINE-REFERENCE ISO-PY3-1213002
ELBOW
    END-POINT  58234.547          64124.715          11338.240  1  SC FEMALE 
    END-POINT  58234.547          64123.795          11339.160  1  SC FEMALE 
    CENTRE-POINT   58234.547          64123.795          11338.240 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MU9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58234.547  64123.795  11338.240 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64123.795  11338.240 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
SCREWED-WELD
    END-POINT  58234.547          64124.715          11338.240  1  SC FEMALE 
    END-POINT  58234.547          64124.715          11338.240  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58234.547          64124.715          11338.240  1  SC MALE 
    END-POINT  58234.547          64141.238          11338.240  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUC                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58234.547  64139.115  11338.240 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58234.547          64141.238          11338.240  1  SC MALE 
    END-POINT  58234.547          64141.238          11338.240  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58234.547          64142.158          11337.320  1  SC FEMALE 
    END-POINT  58234.547          64141.238          11338.240  1  SC FEMALE 
    CENTRE-POINT   58234.547          64142.158          11338.240 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUF                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58234.547  64142.158  11338.240 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58234.547  64138.748  11338.240 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
SCREWED-WELD
    END-POINT  58234.547          64142.158          11337.320  1  SC FEMALE 
    END-POINT  58234.547          64142.158          11337.320  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58234.547          64142.158          11332.905  1  SC MALE 
    END-POINT  58234.547          64142.158          11337.320  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUI                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58234.547          64142.158          11332.905  1  SC MALE 
    END-POINT  58234.547          64142.158          11332.905  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUJ                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58234.547          64142.158          11331.515  1  SC FEMALE 
    END-POINT  58234.547          64142.158          11332.905  1  SC FEMALE 
    CENTRE-POINT   58234.547          64142.158          11332.210 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUK                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58234.547          64142.158          11331.515  1  SC FEMALE 
    END-POINT  58234.547          64142.158          11331.515  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUM                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58234.547          64142.158          11327.100  1  SC MALE 
    END-POINT  58234.547          64142.158          11331.515  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUN                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58234.547          64142.158          11327.100  1  SC MALE 
    END-POINT  58234.547          64142.158          11327.100  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58234.547          64143.108          11325.880  1.5  SC FEMALE 
    END-POINT  58234.547          64141.208          11325.880  1.5  SC FEMALE 
    CENTRE-POINT   58234.547          64142.158          11325.880 
    BRANCH1-POINT  58234.547          64142.158          11327.100  1  SC FEMALE 
    SKEY TESC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MUP                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58234.547          64143.108          11325.880 
    PIPELINE-REFERENCE ISO-PY3-2046002
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
