ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221002
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1221002-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-021
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 12/17/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/17/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 12/17/2008
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 12/17/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 12/17/2008
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 12/17/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 SP
    ATTRIBUTE38 NK
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57908.654          64086.876          11611.258  0.5  PL
    END-POINT  57911.654          64086.876          11611.258  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYS                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57911.154  64086.876  11611.258 
    TEXT PI$044$05
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57908.654          64086.876          11611.258  0.5
    END-POINT  57908.654          64086.876          11611.258  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HYT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  57911.654          64086.876          11611.258 
VALVE
    END-POINT  57906.974          64086.876          11611.258  0.5  SW FEMALE 
    END-POINT  57908.654          64086.876          11611.258  0.5  SW FEMALE 
    CENTRE-POINT   57907.859          64086.876          11611.258 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMF                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57906.974          64086.876          11611.258  0.5  SW FEMALE 
    END-POINT  57906.974          64086.876          11611.258  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57902.564          64086.876          11611.258  0.5  BW
    END-POINT  57906.974          64086.876          11611.258  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMI                 
    PIPING-SPEC S1
WELD
    END-POINT  57902.564          64086.876          11611.258  0.5
    END-POINT  57902.564          64086.876          11611.258  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMJ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57901.444          64086.876          11610.138  0.75  BW
    END-POINT  57901.444          64086.876          11612.378  0.75  BW
    CENTRE-POINT   57901.444          64086.876          11611.258 
    BRANCH1-POINT  57902.564          64086.876          11611.258  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED3/4X1/2
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMK                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57901.444          64086.876          11610.138  0.75
    END-POINT  57901.444          64086.876          11610.138  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HML                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57901.444          64086.876          11612.378  0.75
    END-POINT  57901.444          64086.876          11612.378  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57901.444          64086.876          11612.378  0.75  BW
    END-POINT  57901.444          64086.876          11675.253  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMN                 
    PIPING-SPEC S1
WELD
    END-POINT  57901.444          64086.876          11675.253  0.75
    END-POINT  57901.444          64086.876          11675.253  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57901.444          64086.876          11675.253  0.75  BW
    END-POINT  57900.418          64086.416          11676.378  0.75  BW
    CENTRE-POINT   57901.444          64086.876          11676.378 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMP                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57901.444  64086.876  11676.378 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57901.444  64138.748  11676.378 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57900.418          64086.416          11676.378  0.75
    END-POINT  57900.418          64086.416          11676.378  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57877.826          64076.277          11676.378  0.75  BW
    END-POINT  57900.418          64086.416          11676.378  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMS                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57896.408  64084.616  11676.378  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMT                 
WELD
    END-POINT  57877.826          64076.277          11676.378  0.75
    END-POINT  57877.826          64076.277          11676.378  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57876.800          64075.816          11675.253  0.75  BW
    END-POINT  57877.826          64076.277          11676.378  0.75  BW
    CENTRE-POINT   57876.800          64075.816          11676.378 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMV                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57876.800          64075.816          11675.253  0.75
    END-POINT  57876.800          64075.816          11675.253  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  57876.800          64075.816          11673.253  1  BW
    END-POINT  57876.800          64075.816          11675.253  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMX                 
    PIPING-SPEC S1
WELD
    END-POINT  57876.800          64075.816          11673.253  1
    END-POINT  57876.800          64075.816          11673.253  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57876.800          64075.816          11671.063  1  FL
    END-POINT  57876.800          64075.816          11673.253  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HMZ                 
    PIPING-SPEC S1
GASKET
    END-POINT  57876.800          64075.816          11671.063  1
    END-POINT  57876.800          64075.816          11670.938  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HZQ                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57876.800          64075.816          11671.063 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HZR                 
END-POSITION-OPEN 
    CO-ORDS  57876.800          64075.816          11670.938 
PIPE
    END-POINT  57901.444          64086.876          11605.608  0.75  PL
    END-POINT  57901.444          64086.876          11610.138  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HN2                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57901.444          64086.876          11605.608  0.75
    END-POINT  57901.444          64086.876          11605.608  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HN3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57901.444          64086.876          11603.658  0.75  SW FEMALE 
    END-POINT  57901.444          64086.876          11605.608  0.75  SW FEMALE 
    CENTRE-POINT   57901.444          64086.876          11604.633 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HN4                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57901.444          64086.876          11603.658  0.75  SW FEMALE 
    END-POINT  57901.444          64086.876          11603.658  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HN6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57901.444          64086.876          11599.128  0.75  BW
    END-POINT  57901.444          64086.876          11603.658  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HN7                 
    PIPING-SPEC S1
WELD
    END-POINT  57901.444          64086.876          11599.128  0.75
    END-POINT  57901.444          64086.876          11599.128  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HN8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57901.444          64088.001          11598.003  0.75  BW
    END-POINT  57901.444          64086.876          11599.128  0.75  BW
    CENTRE-POINT   57901.444          64086.876          11598.003 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HN9                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57901.444  64086.876  11598.003 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64086.876  11598.003 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57901.444          64088.001          11598.003  0.75
    END-POINT  57901.444          64088.001          11598.003  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57901.444          64088.001          11598.003  0.75  BW
    END-POINT  57901.444          64092.937          11598.003  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNC                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57901.444  64091.001  11598.003  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HND                 
WELD
    END-POINT  57901.444          64092.937          11598.003  0.75
    END-POINT  57901.444          64092.937          11598.003  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57901.444          64092.937          11598.003  0.75
    END-POINT  57901.444          64092.937          11598.003  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57901.444          64093.112          11598.003  0.75  FL
    END-POINT  57901.444          64092.937          11598.003  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNG                 
    PIPING-SPEC S1
GASKET
    END-POINT  57901.444          64093.112          11598.003  0.75
    END-POINT  57901.444          64093.237          11598.003  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNH                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57901.444          64093.237          11598.003 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNI                 
INSTRUMENT
    END-POINT  57901.444          64093.237          11598.003  0.75  FL
    END-POINT  57901.444          64107.237          11598.003  0.75  FL
    CENTRE-POINT   57901.444          64100.237          11598.003 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNJ                 
    TAG PRV$044$04                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57901.444          64107.237          11598.003  0.75
    END-POINT  57901.444          64107.362          11598.003  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNL                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57901.444          64107.362          11598.003 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNM                 
FLANGE
    END-POINT  57901.444          64107.362          11598.003  0.75  FL
    END-POINT  57901.444          64107.538          11598.003  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNN                 
    PIPING-SPEC S1
WELD
    END-POINT  57901.444          64107.538          11598.003  0.75
    END-POINT  57901.444          64107.538          11598.003  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57901.444          64107.538          11598.003  0.75
    END-POINT  57901.444          64107.538          11598.003  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  57901.444          64107.538          11598.003  0.75  PL
    END-POINT  57901.444          64111.746          11598.003  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNQ                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57901.444          64111.746          11598.003  0.75
    END-POINT  57901.444          64111.746          11598.003  0.75  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNR                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57901.444          64114.496          11598.003  0.75  SW FEMALE 
    END-POINT  57901.444          64111.746          11598.003  0.75  SW FEMALE 
    CENTRE-POINT   57901.444          64113.121          11598.003 
    SKEY CKSW
    CONTINUATION 
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HNS                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  57901.444          64114.496          11598.003 
    PIPELINE-REFERENCE ISO-PY3-2036051
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10Sx10Sx40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3/4
    DESCRIPTION GENERAL HANGER, L=3'-5", P624 FIG 1
ITEM-CODE REDCON1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPST-3/4
    DESCRIPTION BASE SUPPORT, L=2'-6", P619 FIG 1
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PRV-044-04
    RATING 150LB
