ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223024
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1223024-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/9/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/30/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/3/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58179.861          64105.681          11324.963  2  PL
    END-POINT  58179.861          64105.681          11330.963  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_MV                  
    PIPING-SPEC S1
MESSAGE
    CO-ORDS  58179.861  64105.681  11324.963 
    TEXT OPEN TO DRAIN$INTO 55 GAL. DRUM
    UNDIMENSIONED
WELD
    END-POINT  58179.861          64105.681          11330.963  2
    END-POINT  58179.861          64105.681          11330.963  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_MX                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58179.861          64105.681          11330.963  2
    END-POINT  58179.861          64105.681          11330.963  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_MY                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58179.861          64105.681          11324.963 
FLANGE
    END-POINT  58179.861          64105.681          11331.180  2  FL
    END-POINT  58179.861          64105.681          11330.963  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_MW                  
    PIPING-SPEC S1
GASKET
    END-POINT  58179.861          64105.681          11331.305  2
    END-POINT  58179.861          64105.681          11331.180  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_N2                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58179.861          64105.681          11331.305 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_N3                  
VALVE
    END-POINT  58179.861          64105.681          11331.305  2  FL
    END-POINT  58179.861          64105.681          11338.305  2  FL
    CENTRE-POINT   58179.861          64105.681          11334.805 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_N1                  
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58179.861          64105.681          11338.430  2
    END-POINT  58179.861          64105.681          11338.305  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_N7                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58179.861          64105.681          11338.430 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_N8                  
FLANGE
    END-POINT  58179.861          64105.681          11338.430  2  FL
    END-POINT  58179.861          64105.681          11338.646  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_N6                  
    PIPING-SPEC S1
WELD
    END-POINT  58179.861          64105.681          11338.646  2
    END-POINT  58179.861          64105.681          11338.646  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NA                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58179.861          64105.681          11338.646  2
    END-POINT  58179.861          64105.681          11338.646  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NB                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58179.861          64105.681          11338.646  2  PL
    END-POINT  58179.861          64105.681          11360.153  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_N9                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58179.861          64105.681          11360.153  2
    END-POINT  58179.861          64105.681          11360.153  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NF                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58179.861          64105.681          11360.153  2  BW
    END-POINT  58177.018          64105.681          11363.149  2  BW
    CENTRE-POINT   58179.861          64105.681          11363.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NC                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8700
WELD
    END-POINT  58177.018          64105.681          11363.149  2
    END-POINT  58177.018          64105.681          11363.149  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NT                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58158.885          64105.681          11363.911  2  BW
    END-POINT  58177.018          64105.681          11363.149  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NR                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58172.309  64105.681  11363.347  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 2 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_PC                  
FLOW-ARROW
    CO-ORDS  58167.306  64105.681  11363.557 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58158.885          64105.681          11363.911  2
    END-POINT  58158.885          64105.681          11363.911  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NS                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58156.042          64105.681          11366.907  2  BW
    END-POINT  58158.885          64105.681          11363.911  2  BW
    CENTRE-POINT   58156.042          64105.681          11364.060 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NN                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8700
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58156.042  64105.681  11364.060 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64105.681  11364.060 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58156.042  64105.681  11364.060 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58156.042  64138.748  11364.060 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58156.042          64105.681          11366.907  2
    END-POINT  58156.042          64105.681          11366.907  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NQ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58156.042          64105.681          11385.597  2  BW
    END-POINT  58156.042          64105.681          11366.907  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NL                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58156.042          64105.681          11385.597  2
    END-POINT  58156.042          64105.681          11385.597  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NM                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58155.067          64105.681          11387.953  2  BW
    END-POINT  58156.042          64105.681          11385.597  2  BW
    CENTRE-POINT   58156.042          64105.681          11386.977 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NG                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58155.067          64105.681          11387.953  2
    END-POINT  58155.067          64105.681          11387.953  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NK                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58146.020          64105.681          11397.000  2  BW
    END-POINT  58155.067          64105.681          11387.953  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NI                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58146.020          64105.681          11397.000  2
    END-POINT  58146.020          64105.681          11397.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NJ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58145.044          64105.681          11399.355  2  BW
    END-POINT  58146.020          64105.681          11397.000  2  BW
    CENTRE-POINT   58145.044          64105.681          11397.975 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NH                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58145.044          64105.681          11399.355  2
    END-POINT  58145.044          64105.681          11399.355  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NV                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58145.044          64105.681          11399.355  2  BW
    END-POINT  58145.044          64105.681          11534.603  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NU                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58145.044  64105.681  11408.264  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_OM                  
WELD
    END-POINT  58145.044          64105.681          11534.603  2
    END-POINT  58145.044          64105.681          11534.603  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_PB                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58145.044          64105.681          11534.603  2  BW
    END-POINT  58147.939          64105.681          11537.601  2  BW
    CENTRE-POINT   58145.044          64105.681          11537.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_NW                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8800
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58145.044  64105.681  11537.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64105.681  11537.500 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58145.044  64105.681  11537.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58145.044  64138.748  11537.500 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58147.939          64105.681          11537.601  2
    END-POINT  58147.939          64105.681          11537.601  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_O6                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58230.341          64105.681          11541.095  2  BW
    END-POINT  58147.939          64105.681          11537.601  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_O4                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.758  64105.681  11537.848  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 2 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_O7                  
FLOW-ARROW
    CO-ORDS  58174.543  64105.681  11538.729 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58230.341          64105.681          11541.095  2
    END-POINT  58230.341          64105.681          11541.095  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_O5                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58233.237          64105.681          11544.094  2  BW
    END-POINT  58230.341          64105.681          11541.095  2  BW
    CENTRE-POINT   58233.237          64105.681          11541.197 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_O1                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8800
WELD
    END-POINT  58233.237          64105.681          11544.094  2
    END-POINT  58233.237          64105.681          11544.094  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_OG                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58233.237          64105.681          11571.235  2  BW
    END-POINT  58233.237          64105.681          11544.094  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_OE                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58233.237  64105.681  11566.750 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58233.237  64105.681  11566.750 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58233.237          64105.681          11571.235  2
    END-POINT  58233.237          64105.681          11571.235  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_OF                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  58233.237          64105.681          11575.235  4  BW
    END-POINT  58233.237          64105.681          11571.235  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_O9                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58233.237          64105.681          11575.235  4
    END-POINT  58233.237          64105.681          11575.235  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_OA                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58233.237          64105.681          11575.235  4  BW
    END-POINT  58233.237          64105.681          11583.475  4  BW
    CENTRE-POINT   58233.237          64105.681          11579.355 
    BRANCH1-POINT  58229.427          64104.111          11579.355  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4
    WEIGHT           2.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_39                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58233.237          64105.681          11583.475  4
    END-POINT  58233.237          64105.681          11583.475  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_38                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58229.427          64104.111          11579.355  4
    END-POINT  58229.427          64104.111          11579.355  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_XN                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58226.532          64102.919          11579.355  4  BW
    END-POINT  58229.427          64104.111          11579.355  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_XL                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58226.532          64102.919          11579.355  4
    END-POINT  58226.532          64102.919          11579.355  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_XM                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  58226.532          64102.919          11579.355  4  BW
    END-POINT  58223.270          64095.086          11579.355  4  BW
    CENTRE-POINT   58220.985          64100.634          11579.355 
    BRANCH1-POINT  58222.321          64097.389          11579.355  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_WL                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP2
    CO-ORDS  58222.321          64097.389          11579.355  3
WELD
    END-POINT  58223.270          64095.086          11579.355  4
    END-POINT  58223.270          64095.086          11579.355  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_YQ                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58222.321          64097.389          11579.355  3
    END-POINT  58222.321          64097.389          11579.355  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_XY                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58222.321          64097.389          11579.355  3  BW
    END-POINT  58215.781          64113.267          11579.355  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_XX                  
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58217.203  64109.816  11579.355  3
    SKEY SPRG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_Y9                  
END-POSITION-OPEN 
    CO-ORDS  58215.781          64113.267          11579.355 
FLANGE
    END-POINT  58224.557          64091.961          11579.355  4  FL
    END-POINT  58223.270          64095.086          11579.355  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_XG                  
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58224.557  64091.961  11579.355 
    TEXT FV$014$03
    UNDIMENSIONED
GASKET
    END-POINT  58224.557          64091.961          11579.355  4
    END-POINT  58224.581          64091.903          11579.355  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_XH                  
    PIPING-SPEC S4J
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58224.557          64091.961          11579.355 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_XI                  
END-POSITION-OPEN 
    CO-ORDS  58224.581          64091.903          11579.355 
REDUCER-CONCENTRIC
    END-POINT  58233.237          64105.681          11583.475  4  BW
    END-POINT  58233.237          64105.681          11587.475  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_37                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58233.237          64105.681          11587.475  2
    END-POINT  58233.237          64105.681          11587.475  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_36                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58233.237          64105.681          11589.975  2  FL
    END-POINT  58233.237          64105.681          11587.475  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_35                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58233.237          64105.681          11590.100  2
    END-POINT  58233.237          64105.681          11589.975  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_33                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58233.237          64105.681          11589.975 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_34                  
VALVE
    END-POINT  58233.237          64105.681          11597.100  2  FL
    END-POINT  58233.237          64105.681          11590.100  2  FL
    CENTRE-POINT   58233.237          64105.681          11593.600 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_31                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58233.237          64105.681          11597.225  2
    END-POINT  58233.237          64105.681          11597.100  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2Z                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58233.237          64105.681          11597.100 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_30                  
FLANGE
    END-POINT  58233.237          64105.681          11597.225  2  FL
    END-POINT  58233.237          64105.681          11599.725  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2Y                  
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58233.237          64105.681          11599.725 
    PIPELINE-REFERENCE ISO-PY3-1223003
MATERIALS
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 87.00
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION ROD HANGER P624, FIG. 7, L=4'-9"
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION P629 FIG 8 , W/ P651 FIG 1
ITEM-CODE 90LLR2_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 88.00
    RATING 10S
ITEM-CODE REDCON4X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION ROD SPRING HANGER, SH-011-PY3-DM
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS4
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 300LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 300LB
ITEM-CODE BOLT4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 300LB
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
