ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217009
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1217009-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 SG
    ATTRIBUTE22 9/25/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/7/2008
    ATTRIBUTE25 IP
    ATTRIBUTE26 10/13/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 10/16/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 10/16/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 10/16/2008
    ATTRIBUTE33 5
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 2/16/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 9/14/2012
    ATTRIBUTE66 DBH
    ATTRIBUTE67 KC
    ATTRIBUTE68 DD
    ATTRIBUTE69 DELETED DRAIN
    ATTRIBUTE89 456
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57853.800          64100.738          11314.125  0.5  PL
    END-POINT  57853.800          64097.738          11314.125  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C64                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57853.800  64098.238  11314.125 
    TEXT PI$072$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57853.800          64100.738          11314.125  0.5
    END-POINT  57853.800          64100.738          11314.125  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C65                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57853.800          64097.738          11314.125 
VALVE
    END-POINT  57853.800          64102.418          11314.125  0.5  SW FEMALE 
    END-POINT  57853.800          64100.738          11314.125  0.5  SW FEMALE 
    CENTRE-POINT   57853.800          64101.533          11314.125 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5EG                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57853.800          64102.418          11314.125  0.5  SW FEMALE 
    END-POINT  57853.800          64102.418          11314.125  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5EH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57853.800          64105.828          11314.125  0.5  BW
    END-POINT  57853.800          64102.418          11314.125  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4XF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800          64105.828          11314.125  0.5
    END-POINT  57853.800          64105.828          11314.125  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4XG                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57853.800  64108.328  11314.125 
    BRANCH1-POINT  57853.800          64105.828          11314.125  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4XC                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800  64108.328  11314.125  3
    END-POINT  57853.800  64108.328  11314.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4XE                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57853.800          64108.328          11317.125  3  BW
    END-POINT  57853.800          64108.328          11310.940  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4X9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800          64108.328          11317.125  3
    END-POINT  57853.800          64108.328          11317.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4XA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800          64108.328          11310.940  3
    END-POINT  57853.800          64108.328          11310.940  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_800                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57853.800          64108.328          11310.940  3  BW
    END-POINT  57853.800          64108.328          11307.440  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7ZZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800          64108.328          11307.440  1.5
    END-POINT  57853.800          64108.328          11307.440  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_802                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57853.800          64108.328          11305.000  1.5  FL
    END-POINT  57853.800          64108.328          11307.440  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_801                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57853.800          64108.328          11305.000  1.5
    END-POINT  57853.800          64108.328          11304.875  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8GP                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57853.800          64108.328          11305.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8GQ                 
END-POSITION-OPEN 
    CO-ORDS  57853.800          64108.328          11304.875 
ELBOW
    END-POINT  57853.800          64108.328          11317.125  3  BW
    END-POINT  57856.982          64111.510          11321.625  3  BW
    CENTRE-POINT   57853.800          64108.328          11321.625 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2NM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57856.982          64111.510          11321.625  3
    END-POINT  57856.982          64111.510          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2O9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57856.982          64111.510          11321.625  3  BW
    END-POINT  57859.810          64114.338          11321.625  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2O8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57859.810          64114.338          11321.625  3
    END-POINT  57859.810          64114.338          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57859.810          64114.338          11321.625  3
    END-POINT  57859.810          64114.338          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57860.007          64114.535          11321.625  3  FL
    END-POINT  57859.810          64114.338          11321.625  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OA                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57860.096          64114.624          11321.625  3
    END-POINT  57860.007          64114.535          11321.625  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57860.096          64114.624          11321.625 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OF                 
VALVE
    END-POINT  57860.096          64114.624          11321.625  3  FL
    END-POINT  57866.813          64121.341          11321.625  3  FL
    CENTRE-POINT   57863.454          64117.982          11321.625 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          48.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OD                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57866.902          64121.429          11321.625  3
    END-POINT  57866.813          64121.341          11321.625  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OH                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57866.902          64121.429          11321.625 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OI                 
FLANGE
    END-POINT  57866.902          64121.429          11321.625  3  FL
    END-POINT  57867.099          64121.626          11321.625  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2OG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57867.099          64121.626          11321.625  3
    END-POINT  57867.099          64121.626          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57867.099          64121.626          11321.625  3
    END-POINT  57867.099          64121.626          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57871.341          64125.869          11321.625  3  BW
    END-POINT  57867.099          64121.626          11321.625  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8I                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57871.341          64125.869          11321.625  3
    END-POINT  57871.341          64125.869          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57871.341          64125.869          11321.625  3  BW
    END-POINT  57874.523          64129.051          11326.125  3  BW
    CENTRE-POINT   57874.523          64129.051          11321.625 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_36H                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57874.523  64129.051  11321.625  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5RO                 
WELD
    END-POINT  57874.523          64129.051          11326.125  3
    END-POINT  57874.523          64129.051          11326.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_36Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57874.523          64129.051          11326.125  3  BW
    END-POINT  57874.523          64129.051          11330.125  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_36X                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.523          64129.051          11330.125  3
    END-POINT  57874.523          64129.051          11330.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_370                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.523          64129.051          11330.125  3
    END-POINT  57874.523          64129.051          11330.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_371                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57874.523          64129.051          11330.404  3  FL
    END-POINT  57874.523          64129.051          11330.125  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_36Z                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57874.523          64129.051          11330.529  3
    END-POINT  57874.523          64129.051          11330.404  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_373                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57874.523          64129.051          11330.529 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_374                 
VALVE
    END-POINT  57874.523          64129.051          11330.529  3  FL
    END-POINT  57874.523          64129.051          11332.404  3  FL
    CENTRE-POINT   57874.523          64129.051          11331.466 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_372                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 45 EAST
GASKET
    END-POINT  57874.523          64129.051          11332.529  3
    END-POINT  57874.523          64129.051          11332.404  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_378                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57874.523          64129.051          11332.529 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_379                 
FLANGE
    END-POINT  57874.523          64129.051          11332.529  3  FL
    END-POINT  57874.523          64129.051          11332.807  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_377                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.523          64129.051          11332.807  3
    END-POINT  57874.523          64129.051          11332.807  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_824                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.523          64129.051          11332.807  3
    END-POINT  57874.523          64129.051          11332.807  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_825                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57874.523          64129.051          11362.282  3  BW
    END-POINT  57874.523          64129.051          11332.807  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_822                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57874.523  64129.051  11347.250 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57874.523          64129.051          11362.282  3
    END-POINT  57874.523          64129.051          11362.282  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_823                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57871.341          64125.869          11366.782  3  BW
    END-POINT  57874.523          64129.051          11362.282  3  BW
    CENTRE-POINT   57874.523          64129.051          11366.782 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_765                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57874.523  64129.051  11366.782 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57874.523  64138.800  11366.782 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57874.523  64129.051  11366.782 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64129.051  11366.782 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57871.341          64125.869          11366.782  3
    END-POINT  57871.341          64125.869          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8L8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57865.341          64119.869          11366.782  3  BW
    END-POINT  57871.341          64125.869          11366.782  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8L6                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57865.341          64119.869          11366.782  3
    END-POINT  57865.341          64119.869          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8L7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57865.341          64119.869          11366.782  3  BW
    END-POINT  57863.927          64116.455          11366.782  3  BW
    CENTRE-POINT   57863.927          64118.455          11366.782 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8L4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57863.927          64116.455          11366.782  3
    END-POINT  57863.927          64116.455          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57863.927          64111.835          11366.782  3  BW
    END-POINT  57863.927          64116.455          11366.782  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3V                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57863.927          64111.835          11366.782  3
    END-POINT  57863.927          64111.835          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57863.927          64105.075          11366.782  3  BW
    END-POINT  57863.927          64111.835          11366.782  3  BW
    CENTRE-POINT   57863.927          64108.455          11366.782 
    BRANCH1-POINT  57860.547          64108.455          11366.782  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3R                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57863.927          64105.075          11366.782  3
    END-POINT  57863.927          64105.075          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57860.547          64108.455          11366.782  3
    END-POINT  57860.547          64108.455          11366.782  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_K5                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57830.856          64108.455          11366.782  3  BW
    END-POINT  57860.547          64108.455          11366.782  3  BW
    CONTINUATION 
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_JX                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57844.647  64108.455  11366.782 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  57830.856          64108.455          11366.782 
    PIPELINE-REFERENCE ISO-PY3-1217017
PIPE
    END-POINT  57863.927          64105.075          11366.782  3  BW
    END-POINT  57863.929          64058.769          11366.782  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3S                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57863.929          64058.769          11366.782  3
    END-POINT  57863.929          64058.769          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57863.929          64052.009          11366.782  3  BW
    END-POINT  57863.929          64058.769          11366.782  3  BW
    CENTRE-POINT   57863.929          64055.389          11366.782 
    BRANCH1-POINT  57867.309          64055.389          11366.782  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82H                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57863.929          64052.009          11366.782 
    PIPELINE-REFERENCE ISO-PY3-1217010
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL3X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE REDCON3X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK3
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-3
    DESCRIPTION ELBOW SUPPORT, L=3'-8 5/8", P619 FIG 2
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG3_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 1/2 MACHINE BOLT
    RATING 150LB
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR3
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
