ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046034
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046034-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 DC
    ATTRIBUTE22 4/10/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/13/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 4/14/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 4/14/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 4/14/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/14/2009
    ATTRIBUTE36 DC
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58337.820          64251.650          11304.372  1  SC MALE 
    END-POINT  58337.820          64251.650          11303.242  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1C                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58337.820          64251.650          11303.242 
SCREWED-WELD
    END-POINT  58337.820          64251.650          11304.372  1  SC MALE 
    END-POINT  58337.820          64251.650          11304.372  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.820          64251.650          11305.792  1  SC FEMALE 
    END-POINT  58337.820          64251.650          11304.372  1  SC FEMALE 
    CENTRE-POINT   58337.820          64251.650          11304.997 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1E                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.820          64251.650          11305.792  1  SC FEMALE 
    END-POINT  58337.820          64251.650          11305.792  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58337.820          64251.650          11308.792  1  SC MALE 
    END-POINT  58337.820          64251.650          11305.792  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1H                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.820          64251.650          11308.792  1  SC MALE 
    END-POINT  58337.820          64251.650          11308.792  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.820          64252.600          11310.012  1.5  SC FEMALE 
    END-POINT  58337.820          64250.700          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.820          64251.650          11310.012 
    BRANCH1-POINT  58337.820          64251.650          11308.792  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1J                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.820          64252.600          11310.012  1.5  SC FEMALE 
    END-POINT  58337.820          64252.600          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.820          64250.700          11310.012  1.5  SC FEMALE 
    END-POINT  58337.820          64250.700          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.820          64250.700          11310.012  1.5  SC MALE 
    END-POINT  58337.820          64245.860          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1N                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.820          64245.860          11310.012  1.5  SC MALE 
    END-POINT  58337.820          64245.860          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.820          64244.440          11310.012  1.5  SC FEMALE 
    END-POINT  58337.820          64245.860          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.820          64245.150          11310.012 
    BRANCH1-POINT  58337.820          64245.150          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1P                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.820          64244.440          11310.012  1.5  SC FEMALE 
    END-POINT  58337.820          64244.440          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.820          64245.150          11311.242  0.5  SC FEMALE 
    END-POINT  58337.820          64245.150          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.820          64245.150          11311.242  0.5  SC MALE 
    END-POINT  58337.820          64245.150          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1S                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.820          64245.150          11315.102  0.5  SC MALE 
    END-POINT  58337.820          64245.150          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.820          64245.150          11315.102  0.5  SC FEMALE 
    END-POINT  58337.820          64245.150          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.820          64245.150          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1U                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.820          64245.150          11316.547  0.5  SC FEMALE 
    END-POINT  58337.820          64245.150          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.820          64245.150          11316.547  0.5  SC MALE 
    END-POINT  58337.820          64245.150          11319.547  0.5  SC MALE 
    CENTRE-POINT  58337.820  64245.150  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1X                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.820  64245.150  11319.047 
    TEXT TO 2047008$MANIFOLD # S1$VALVE #1214020TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.820          64245.150          11319.547 
PIPE
    END-POINT  58337.819          64239.360          11310.012  1.5  SC MALE 
    END-POINT  58337.820          64244.440          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1Y                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.819          64239.360          11310.012  1.5  SC MALE 
    END-POINT  58337.819          64239.360          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N1Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.819          64237.940          11310.012  1.5  SC FEMALE 
    END-POINT  58337.819          64239.360          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.819          64238.650          11310.012 
    BRANCH1-POINT  58337.819          64238.650          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N20                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.819          64237.940          11310.012  1.5  SC FEMALE 
    END-POINT  58337.819          64237.940          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N21                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.819          64238.650          11311.242  0.5  SC FEMALE 
    END-POINT  58337.819          64238.650          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N22                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.819          64238.650          11311.242  0.5  SC MALE 
    END-POINT  58337.819          64238.650          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N23                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.819          64238.650          11315.102  0.5  SC MALE 
    END-POINT  58337.819          64238.650          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N24                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.819          64238.650          11315.102  0.5  SC FEMALE 
    END-POINT  58337.819          64238.650          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.819          64238.650          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N25                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.819          64238.650          11316.547  0.5  SC FEMALE 
    END-POINT  58337.819          64238.650          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N27                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.819          64238.650          11316.547  0.5  SC MALE 
    END-POINT  58337.819          64238.650          11319.547  0.5  SC MALE 
    CENTRE-POINT  58337.819  64238.650  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N28                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.819  64238.650  11319.047 
    TEXT TO 1214023$MANIFOLD # S1$VALVE #1214023TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.819          64238.650          11319.547 
PIPE
    END-POINT  58337.818          64232.860          11310.012  1.5  SC MALE 
    END-POINT  58337.819          64237.940          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N29                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.818          64232.860          11310.012  1.5  SC MALE 
    END-POINT  58337.818          64232.860          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.818          64231.440          11310.012  1.5  SC FEMALE 
    END-POINT  58337.818          64232.860          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.818          64232.150          11310.012 
    BRANCH1-POINT  58337.818          64232.150          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2B                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.818          64231.440          11310.012  1.5  SC FEMALE 
    END-POINT  58337.818          64231.440          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.818          64232.150          11311.242  0.5  SC FEMALE 
    END-POINT  58337.818          64232.150          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.818          64232.150          11311.242  0.5  SC MALE 
    END-POINT  58337.818          64232.150          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2E                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.818          64232.150          11315.102  0.5  SC MALE 
    END-POINT  58337.818          64232.150          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.818          64232.150          11315.102  0.5  SC FEMALE 
    END-POINT  58337.818          64232.150          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.818          64232.150          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2G                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.818          64232.150          11316.547  0.5  SC FEMALE 
    END-POINT  58337.818          64232.150          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.818          64232.150          11316.547  0.5  SC MALE 
    END-POINT  58337.818          64232.150          11319.547  0.5  SC MALE 
    CENTRE-POINT  58337.818  64232.150  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2J                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.818  64232.150  11319.047 
    TEXT TO 1214021$MANIFOLD # S1$VALVE #1214021TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.818          64232.150          11319.547 
PIPE
    END-POINT  58337.817          64226.360          11310.012  1.5  SC MALE 
    END-POINT  58337.818          64231.440          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2K                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.817          64226.360          11310.012  1.5  SC MALE 
    END-POINT  58337.817          64226.360          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.817          64224.940          11310.012  1.5  SC FEMALE 
    END-POINT  58337.817          64226.360          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.817          64225.650          11310.012 
    BRANCH1-POINT  58337.817          64225.650          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2M                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.817          64224.940          11310.012  1.5  SC FEMALE 
    END-POINT  58337.817          64224.940          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.817          64225.650          11311.242  0.5  SC FEMALE 
    END-POINT  58337.817          64225.650          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.817          64225.650          11311.242  0.5  SC MALE 
    END-POINT  58337.817          64225.650          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2P                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.817          64225.650          11315.102  0.5  SC MALE 
    END-POINT  58337.817          64225.650          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.817          64225.650          11315.102  0.5  SC FEMALE 
    END-POINT  58337.817          64225.650          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.817          64225.650          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2R                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.817          64225.650          11316.547  0.5  SC FEMALE 
    END-POINT  58337.817          64225.650          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.817          64225.650          11316.547  0.5  SC MALE 
    END-POINT  58337.817          64225.650          11319.547  0.5  SC MALE 
    CENTRE-POINT  58337.817  64225.650  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2U                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.817  64225.650  11319.047 
    TEXT TO 1214020$MANIFOLD # S1$VALVE #1214020TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.817          64225.650          11319.547 
PIPE
    END-POINT  58337.816          64219.860          11310.012  1.5  SC MALE 
    END-POINT  58337.817          64224.940          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2V                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.816          64219.860          11310.012  1.5  SC MALE 
    END-POINT  58337.816          64219.860          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.816          64218.440          11310.012  1.5  SC FEMALE 
    END-POINT  58337.816          64219.860          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.816          64219.150          11310.012 
    BRANCH1-POINT  58337.816          64219.150          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2X                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.816          64218.440          11310.012  1.5  SC FEMALE 
    END-POINT  58337.816          64218.440          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.816          64219.150          11311.242  0.5  SC FEMALE 
    END-POINT  58337.816          64219.150          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N2Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.816          64219.150          11311.242  0.5  SC MALE 
    END-POINT  58337.816          64219.150          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N30                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.816          64219.150          11315.102  0.5  SC MALE 
    END-POINT  58337.816          64219.150          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N31                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.816          64219.150          11315.102  0.5  SC FEMALE 
    END-POINT  58337.816          64219.150          11316.487  0.5  SC FEMALE 
    CENTRE-POINT   58337.816          64219.150          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N32                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.816          64219.150          11316.487  0.5  SC MALE 
    END-POINT  58337.816          64219.150          11316.487  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.816          64219.150          11316.487  0.5  SC MALE 
    END-POINT  58337.816          64219.150          11317.357  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7E                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58337.816          64219.150          11317.357 
PIPE
    END-POINT  58337.815          64213.360          11310.012  1.5  SC MALE 
    END-POINT  58337.816          64218.440          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N36                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.815          64213.360          11310.012  1.5  SC MALE 
    END-POINT  58337.815          64213.360          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N37                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.815          64211.940          11310.012  1.5  SC FEMALE 
    END-POINT  58337.815          64213.360          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.815          64212.650          11310.012 
    BRANCH1-POINT  58337.815          64212.650          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N38                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.815          64211.940          11310.012  1.5  SC FEMALE 
    END-POINT  58337.815          64211.940          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N39                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.815          64212.650          11311.242  0.5  SC FEMALE 
    END-POINT  58337.815          64212.650          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.815          64212.650          11311.242  0.5  SC MALE 
    END-POINT  58337.815          64212.650          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3B                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.815          64212.650          11315.102  0.5  SC MALE 
    END-POINT  58337.815          64212.650          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.815          64212.650          11315.102  0.5  SC FEMALE 
    END-POINT  58337.815          64212.650          11316.487  0.5  SC FEMALE 
    CENTRE-POINT   58337.815          64212.650          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3D                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.815          64212.650          11316.487  0.5  SC MALE 
    END-POINT  58337.815          64212.650          11316.487  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.815          64212.650          11316.487  0.5  SC MALE 
    END-POINT  58337.815          64212.650          11317.357  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7C                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58337.815          64212.650          11317.357 
PIPE
    END-POINT  58337.815          64211.940          11310.012  1.5  SC MALE 
    END-POINT  58337.814          64206.540          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3H                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58337.814  64209.240  11310.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3I                 
FLOW-ARROW
    CO-ORDS  58337.814  64208.417  11310.012 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58337.814          64206.540          11310.012  1.5  SC MALE 
    END-POINT  58337.814          64206.540          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58337.814          64205.300          11311.252  1.5  SC FEMALE 
    END-POINT  58337.814          64206.540          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.814          64205.300          11310.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3K                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58337.814  64205.300  11310.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64205.300  11310.012 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58337.814  64205.300  11310.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58337.814  64138.748  11310.012 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58337.814          64205.300          11311.252  1.5  SC MALE 
    END-POINT  58337.814          64205.300          11311.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N83                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.814          64205.300          11332.772  1.5  SC MALE 
    END-POINT  58337.814          64205.300          11311.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N81                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.814          64205.300          11332.772  1.5  SC MALE 
    END-POINT  58337.814          64205.300          11332.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N82                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.814          64205.300          11335.252  1.5  SC FEMALE 
    END-POINT  58337.814          64205.300          11332.772  1.5  SC FEMALE 
    CENTRE-POINT   58337.814          64205.300          11334.012 
    BRANCH1-POINT  58337.814          64206.540          11334.012  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7X                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.814          64205.300          11335.252  1.5  SC MALE 
    END-POINT  58337.814          64205.300          11335.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N85                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.814          64206.540          11334.012  1.5  SC FEMALE 
    END-POINT  58337.814          64206.540          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.815          64215.190          11334.012  1.5  SC MALE 
    END-POINT  58337.814          64206.540          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3R                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58337.815  64210.458  11334.012 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58337.815          64215.190          11334.012  1.5  SC MALE 
    END-POINT  58337.815          64215.190          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.815          64215.190          11334.012  1.5  SC FEMALE 
    END-POINT  58337.815          64216.610          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.815          64215.900          11334.012 
    BRANCH1-POINT  58337.815          64215.900          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3T                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.815          64216.610          11334.012  1.5  SC FEMALE 
    END-POINT  58337.815          64216.610          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.815          64215.900          11335.242  0.5  SC FEMALE 
    END-POINT  58337.815          64215.900          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.815          64215.900          11335.242  0.5  SC MALE 
    END-POINT  58337.815          64215.900          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3W                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.815          64215.900          11339.102  0.5  SC MALE 
    END-POINT  58337.815          64215.900          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.815          64215.900          11339.102  0.5  SC FEMALE 
    END-POINT  58337.815          64215.900          11340.487  0.5  SC FEMALE 
    CENTRE-POINT   58337.815          64215.900          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N3Y                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.815          64215.900          11340.487  0.5  SC MALE 
    END-POINT  58337.815          64215.900          11340.487  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.815          64215.900          11340.487  0.5  SC MALE 
    END-POINT  58337.815          64215.900          11341.357  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7G                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58337.815          64215.900          11341.357 
PIPE
    END-POINT  58337.816          64221.690          11334.012  1.5  SC MALE 
    END-POINT  58337.815          64216.610          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N42                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.816          64221.690          11334.012  1.5  SC MALE 
    END-POINT  58337.816          64221.690          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N43                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.816          64221.690          11334.012  1.5  SC FEMALE 
    END-POINT  58337.816          64223.110          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.816          64222.400          11334.012 
    BRANCH1-POINT  58337.816          64222.400          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N44                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.816          64223.110          11334.012  1.5  SC FEMALE 
    END-POINT  58337.816          64223.110          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N45                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.816          64222.400          11335.242  0.5  SC FEMALE 
    END-POINT  58337.816          64222.400          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N46                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.816          64222.400          11335.242  0.5  SC MALE 
    END-POINT  58337.816          64222.400          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N47                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.816          64222.400          11339.102  0.5  SC MALE 
    END-POINT  58337.816          64222.400          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N48                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.816          64222.400          11339.102  0.5  SC FEMALE 
    END-POINT  58337.816          64222.400          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.816          64222.400          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N49                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.816          64222.400          11340.547  0.5  SC FEMALE 
    END-POINT  58337.816          64222.400          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.816          64222.400          11340.547  0.5  SC MALE 
    END-POINT  58337.816          64222.400          11343.547  0.5  SC MALE 
    CENTRE-POINT  58337.816  64222.400  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4C                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.816  64222.400  11343.047 
    TEXT TO 1222002$MANIFOLD # S1$VALVE #1222002TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.816          64222.400          11343.547 
PIPE
    END-POINT  58337.817          64228.190          11334.012  1.5  SC MALE 
    END-POINT  58337.816          64223.110          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4D                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.817          64228.190          11334.012  1.5  SC MALE 
    END-POINT  58337.817          64228.190          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.817          64228.190          11334.012  1.5  SC FEMALE 
    END-POINT  58337.817          64229.610          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.817          64228.900          11334.012 
    BRANCH1-POINT  58337.817          64228.900          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4F                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.817          64229.610          11334.012  1.5  SC FEMALE 
    END-POINT  58337.817          64229.610          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.817          64228.900          11335.242  0.5  SC FEMALE 
    END-POINT  58337.817          64228.900          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.817          64228.900          11335.242  0.5  SC MALE 
    END-POINT  58337.817          64228.900          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4I                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.817          64228.900          11339.102  0.5  SC MALE 
    END-POINT  58337.817          64228.900          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.817          64228.900          11339.102  0.5  SC FEMALE 
    END-POINT  58337.817          64228.900          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.817          64228.900          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4K                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.817          64228.900          11340.547  0.5  SC FEMALE 
    END-POINT  58337.817          64228.900          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.817          64228.900          11340.547  0.5  SC MALE 
    END-POINT  58337.817          64228.900          11343.547  0.5  SC MALE 
    CENTRE-POINT  58337.817  64228.900  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4N                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.817  64228.900  11343.047 
    TEXT TO 1222008$MANIFOLD # S1$VALVE #1222008TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.817          64228.900          11343.547 
PIPE
    END-POINT  58337.818          64234.690          11334.012  1.5  SC MALE 
    END-POINT  58337.817          64229.610          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4O                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.818          64234.690          11334.012  1.5  SC MALE 
    END-POINT  58337.818          64234.690          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.818          64234.690          11334.012  1.5  SC FEMALE 
    END-POINT  58337.818          64236.110          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.818          64235.400          11334.012 
    BRANCH1-POINT  58337.818          64235.400          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4Q                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.818          64236.110          11334.012  1.5  SC FEMALE 
    END-POINT  58337.818          64236.110          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.818          64235.400          11335.242  0.5  SC FEMALE 
    END-POINT  58337.818          64235.400          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.818          64235.400          11335.242  0.5  SC MALE 
    END-POINT  58337.818          64235.400          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4T                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.818          64235.400          11339.102  0.5  SC MALE 
    END-POINT  58337.818          64235.400          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.818          64235.400          11339.102  0.5  SC FEMALE 
    END-POINT  58337.818          64235.400          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.818          64235.400          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4V                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.818          64235.400          11340.547  0.5  SC FEMALE 
    END-POINT  58337.818          64235.400          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.818          64235.400          11340.547  0.5  SC MALE 
    END-POINT  58337.818          64235.400          11343.547  0.5  SC MALE 
    CENTRE-POINT  58337.818  64235.400  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4Y                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.818  64235.400  11343.047 
    TEXT TO 1222009$MANIFOLD # S1$VALVE #1222009TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.818          64235.400          11343.547 
PIPE
    END-POINT  58337.819          64241.190          11334.012  1.5  SC MALE 
    END-POINT  58337.818          64236.110          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N4Z                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.819          64241.190          11334.012  1.5  SC MALE 
    END-POINT  58337.819          64241.190          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N50                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.819          64241.190          11334.012  1.5  SC FEMALE 
    END-POINT  58337.819          64242.610          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.819          64241.900          11334.012 
    BRANCH1-POINT  58337.819          64241.900          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N51                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.819          64242.610          11334.012  1.5  SC FEMALE 
    END-POINT  58337.819          64242.610          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N52                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.819          64241.900          11335.242  0.5  SC FEMALE 
    END-POINT  58337.819          64241.900          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N53                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.819          64241.900          11335.242  0.5  SC MALE 
    END-POINT  58337.819          64241.900          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N54                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.819          64241.900          11339.102  0.5  SC MALE 
    END-POINT  58337.819          64241.900          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N55                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.819          64241.900          11339.102  0.5  SC FEMALE 
    END-POINT  58337.819          64241.900          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.819          64241.900          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N56                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.819          64241.900          11340.547  0.5  SC FEMALE 
    END-POINT  58337.819          64241.900          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N58                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.819          64241.900          11340.547  0.5  SC MALE 
    END-POINT  58337.819          64241.900          11343.547  0.5  SC MALE 
    CENTRE-POINT  58337.819  64241.900  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N59                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.819  64241.900  11343.047 
    TEXT TO 1222010$MANIFOLD # S1$VALVE #1222010TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.819          64241.900          11343.547 
PIPE
    END-POINT  58337.820          64247.690          11334.012  1.5  SC MALE 
    END-POINT  58337.819          64242.610          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5A                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.820          64247.690          11334.012  1.5  SC MALE 
    END-POINT  58337.820          64247.690          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.820          64247.690          11334.012  1.5  SC FEMALE 
    END-POINT  58337.820          64249.110          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.820          64248.400          11334.012 
    BRANCH1-POINT  58337.820          64248.400          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5C                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.820          64249.110          11334.012  1.5  SC FEMALE 
    END-POINT  58337.820          64249.110          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.820          64248.400          11335.242  0.5  SC FEMALE 
    END-POINT  58337.820          64248.400          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.820          64248.400          11335.242  0.5  SC MALE 
    END-POINT  58337.820          64248.400          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5G                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.820          64248.400          11339.102  0.5  SC MALE 
    END-POINT  58337.820          64248.400          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58337.820          64248.400          11339.102  0.5  SC FEMALE 
    END-POINT  58337.820          64248.400          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58337.820          64248.400          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5I                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58337.820          64248.400          11340.547  0.5  SC FEMALE 
    END-POINT  58337.820          64248.400          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.820          64248.400          11340.547  0.5  SC MALE 
    END-POINT  58337.820          64248.400          11343.547  0.5  SC MALE 
    CENTRE-POINT  58337.820  64248.400  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5L                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58337.820  64248.400  11343.047 
    TEXT TO 1901020$MANIFOLD # S1$VALVE #1901020TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58337.820          64248.400          11343.547 
PIPE
    END-POINT  58337.820          64249.110          11334.012  1.5  SC MALE 
    END-POINT  58337.821          64258.000          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5M                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.821          64258.000          11334.012  1.5  SC MALE 
    END-POINT  58337.821          64258.000          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.821          64260.370          11334.012  1.5  SC FEMALE 
    END-POINT  58337.821          64258.000          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.821          64259.240          11334.012 
    BRANCH1-POINT  58337.821          64259.240          11332.772  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5O                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.821          64260.370          11334.012  1.5  SC FEMALE 
    END-POINT  58337.821          64260.370          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.821          64259.240          11332.772  1.5  SC FEMALE 
    END-POINT  58337.821          64259.240          11332.772  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58337.821          64259.240          11332.772  1.5  SC MALE 
    END-POINT  58337.821          64259.240          11311.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5R                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.821          64259.240          11311.252  1.5  SC MALE 
    END-POINT  58337.821          64259.240          11311.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58337.821          64258.000          11310.012  1.5  SC FEMALE 
    END-POINT  58337.821          64260.370          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58337.821          64259.240          11310.012 
    BRANCH1-POINT  58337.821          64259.240          11311.252  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5T                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58337.821          64258.000          11310.012  1.5  SC FEMALE 
    END-POINT  58337.821          64258.000          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.821          64260.370          11310.012  1.5  SC FEMALE 
    END-POINT  58337.821          64260.370          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58337.821          64260.370          11310.012  1.5  SC MALE 
    END-POINT  58337.821          64261.800          11310.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5X                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58337.821          64261.800          11310.012 
PIPE
    END-POINT  58337.820          64252.600          11310.012  1.5  SC MALE 
    END-POINT  58337.821          64258.000          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5Y                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58337.821  64255.300  11310.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N5Z                 
MISC-COMPONENT
    END-POINT  58337.821          64260.370          11334.012  1.5  SC MALE 
    END-POINT  58337.821          64261.800          11334.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N60                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58337.821          64261.800          11334.012 
PIPE
    END-POINT  58337.814          64205.300          11335.252  1.5  SC MALE 
    END-POINT  58337.814          64205.300          11383.772  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N84                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58337.814          64205.300          11383.772  1.5  SC MALE 
    END-POINT  58337.814          64205.300          11383.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N86                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58336.574          64205.300          11385.012  1.5  SC FEMALE 
    END-POINT  58337.814          64205.300          11383.772  1.5  SC FEMALE 
    CENTRE-POINT   58337.814          64205.300          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6W                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58337.814  64205.300  11385.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58337.814  64138.748  11385.012 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58337.814  64205.300  11385.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64205.300  11385.012 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58336.574          64205.300          11385.012  1.5  SC MALE 
    END-POINT  58336.574          64205.300          11385.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58336.574          64205.300          11385.012  1.5  SC MALE 
    END-POINT  58141.279          64205.300          11385.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6Y                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58234.442  64205.300  11385.012 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58217.831  64205.300  11385.012  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N87                 
SCREWED-WELD
    END-POINT  58141.279          64205.300          11385.012  1.5  SC MALE 
    END-POINT  58141.279          64205.300          11385.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N70                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58140.039          64205.300          11386.252  1.5  SC FEMALE 
    END-POINT  58141.279          64205.300          11385.012  1.5  SC FEMALE 
    CENTRE-POINT   58140.039          64205.300          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6Q                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58140.039          64205.300          11386.252  1.5  SC MALE 
    END-POINT  58140.039          64205.300          11386.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58140.039          64205.300          11386.252  1.5  SC MALE 
    END-POINT  58140.039          64205.300          11433.678  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6S                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58140.039          64205.300          11433.678  1.5  SC MALE 
    END-POINT  58140.039          64205.300          11433.678  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58138.799          64205.300          11434.918  1.5  SC FEMALE 
    END-POINT  58140.039          64205.300          11433.678  1.5  SC FEMALE 
    CENTRE-POINT   58140.039          64205.300          11434.918 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6L                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58138.799          64205.300          11434.918  1.5  SC MALE 
    END-POINT  58138.799          64205.300          11434.918  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58138.799          64205.300          11434.918  1.5  SC MALE 
    END-POINT  58122.790          64205.300          11434.918  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6N                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58122.790          64205.300          11434.918  1.5  SC MALE 
    END-POINT  58122.790          64205.300          11434.918  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58121.550          64205.300          11436.158  1.5  SC FEMALE 
    END-POINT  58122.790          64205.300          11434.918  1.5  SC FEMALE 
    CENTRE-POINT   58121.550          64205.300          11434.918 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6D                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58121.550          64205.300          11436.158  1.5  SC MALE 
    END-POINT  58121.550          64205.300          11436.158  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          64205.300          11436.158  1.5  SC MALE 
    END-POINT  58121.550          64205.300          11442.034  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6F                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          64205.300          11442.034  1.5  SC MALE 
    END-POINT  58121.550          64205.300          11442.034  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6H                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58121.550          64205.300          11443.514  1.5  SC FEMALE 
    END-POINT  58121.550          64205.300          11442.034  1.5  SC FEMALE 
    CENTRE-POINT   58121.550          64205.300          11442.774 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N69                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58121.550          64205.300          11443.514  1.5  SC FEMALE 
    END-POINT  58121.550          64205.300          11443.514  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N6A                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          64205.300          11448.321  1.5  SC MALE 
    END-POINT  58121.550          64205.300          11443.514  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N65                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          64205.300          11448.321  1.5  SC MALE 
    END-POINT  58121.550          64205.300          11448.321  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N7V                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58121.550  64205.300  11450.759 
    BRANCH1-POINT  58121.550          64205.300          11448.321  1.5  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HTM                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550  64205.300  11450.759 
    PIPELINE-REFERENCE ISO-PY3-2046011
MATERIALS
ITEM-CODE PLGHEX1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X1/
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE GENSTR1/2
    DESCRIPTION PIPE TO TUBING ADAPTOR
    RATING 2000LB
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=2'-6", P622 FIG 1
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PLGHEX1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION PROTECTION SADDLE, P651 FIG2
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
