ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1901009
PIPING-SPEC C1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_TF11.DWG
    ATTRIBUTE98 PA
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1901009-PA-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-WW3-81P-001
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 3/20/2009
    ATTRIBUTE25 TS
    ATTRIBUTE26 3/31/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/31/2009
    ATTRIBUTE29 P. PHILIPPI
    ATTRIBUTE30 3/31/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/31/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 3/31/2009
    ATTRIBUTE36 DKC
    ATTRIBUTE37 TS
    ATTRIBUTE38 DCD
    ATTRIBUTE39 I.F.C.
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  60781.681          65822.868          11493.730  1  SC MALE 
    END-POINT  60391.101          65822.868          11493.730  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B70                 
    PIPING-SPEC C1
MESSAGE-SQUARE
    CO-ORDS  60391.101  65822.868  11493.730 
    TEXT FIELD ROUTE PIPE AND INSTALL$FILTER, PRV-217-02, AND AIR LUBRICATOR$(SU
    TEXT PPLIED BY VENDOR) TO WW3-217$GP2 TANK FARM SUMP.
    UNDIMENSIONED
SUPPORT
    CO-ORDS  60763.037  65822.868  11493.730  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B8R                 
SUPPORT
    CO-ORDS  60643.107  65822.868  11493.730  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B8T                 
SUPPORT
    CO-ORDS  60523.079  65822.868  11493.730  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B8V                 
SUPPORT
    CO-ORDS  60403.106  65822.868  11493.730  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B8X                 
SUPPORT
    CO-ORDS  60403.106  65822.868  11493.730  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYV                 
    TAG                         P658 FIG 1                      
SUPPORT
    CO-ORDS  60523.079  65822.868  11493.730  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYW                 
    TAG                         P658 FIG 1                      
SUPPORT
    CO-ORDS  60643.107  65822.868  11493.730  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYX                 
    TAG                         P658 FIG 1                      
SUPPORT
    CO-ORDS  60763.037  65822.868  11493.730  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYY                 
    TAG                         P658 FIG 1                      
SCREWED-WELD
    END-POINT  60781.681          65822.868          11493.730  1  SC MALE 
    END-POINT  60781.681          65822.868          11493.730  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B8I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  60391.101          65822.868          11493.730 
ELBOW
    END-POINT  60782.601          65822.868          11494.650  1  SC FEMALE 
    END-POINT  60781.681          65822.868          11493.730  1  SC FEMALE 
    CENTRE-POINT   60782.601          65822.868          11493.730 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6X                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60782.601  65822.868  11493.730 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60782.601  65830.555  11493.730 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. 1.A
SCREWED-WELD
    END-POINT  60782.601          65822.868          11494.650  1  SC FEMALE 
    END-POINT  60782.601          65822.868          11494.650  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60782.601          65822.868          11567.810  1  SC MALE 
    END-POINT  60782.601          65822.868          11494.650  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6V                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60782.601          65822.868          11567.810  1  SC MALE 
    END-POINT  60782.601          65822.868          11567.810  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60782.601          65823.788          11568.730  1  SC FEMALE 
    END-POINT  60782.601          65822.868          11567.810  1  SC FEMALE 
    CENTRE-POINT   60782.601          65822.868          11568.730 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6S                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60782.601  65822.868  11568.730 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60788.320  65822.868  11568.730 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 3.3
SCREWED-WELD
    END-POINT  60782.601          65823.788          11568.730  1  SC FEMALE 
    END-POINT  60782.601          65823.788          11568.730  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60782.601          65908.635          11568.730  1  SC MALE 
    END-POINT  60782.601          65823.788          11568.730  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6Q                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  60782.601  65828.118  11568.730  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B97                 
SUPPORT
    CO-ORDS  60782.601  65828.118  11568.730  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYZ                 
    TAG                         P658 FIG 1                      
SCREWED-WELD
    END-POINT  60782.601          65908.635          11568.730  1  SC MALE 
    END-POINT  60782.601          65908.635          11568.730  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60782.601          65909.555          11567.810  1  SC FEMALE 
    END-POINT  60782.601          65908.635          11568.730  1  SC FEMALE 
    CENTRE-POINT   60782.601          65909.555          11568.730 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6N                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60782.601          65909.555          11567.810  1  SC FEMALE 
    END-POINT  60782.601          65909.555          11567.810  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60782.601          65909.555          11563.395  1  SC MALE 
    END-POINT  60782.601          65909.555          11567.810  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6L                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60782.601          65909.555          11563.395  1  SC MALE 
    END-POINT  60782.601          65909.555          11563.395  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6M                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
VALVE
    END-POINT  60782.601          65909.555          11562.005  1  SC FEMALE 
    END-POINT  60782.601          65909.555          11563.395  1  SC FEMALE 
    CENTRE-POINT   60782.601          65909.555          11562.700 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6H                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  60782.601          65909.555          11562.005  1  SC FEMALE 
    END-POINT  60782.601          65909.555          11562.005  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6I                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60782.601          65909.555          11506.590  1  SC MALE 
    END-POINT  60782.601          65909.555          11562.005  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6F                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  60782.601  65909.555  11520.120  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B8A                 
SCREWED-WELD
    END-POINT  60782.601          65909.555          11506.590  1  SC MALE 
    END-POINT  60782.601          65909.555          11506.590  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60782.601          65910.475          11505.670  1  SC FEMALE 
    END-POINT  60782.601          65909.555          11506.590  1  SC FEMALE 
    CENTRE-POINT   60782.601          65909.555          11505.670 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B68                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60782.601          65910.475          11505.670  1  SC FEMALE 
    END-POINT  60782.601          65910.475          11505.670  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B6A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60782.601          66331.635          11505.670  1  SC MALE 
    END-POINT  60782.601          65910.475          11505.670  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B66                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  60782.601  66325.053  11505.670  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B7R                 
SUPPORT
    CO-ORDS  60782.601  66229.054  11505.670  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B81                 
SUPPORT
    CO-ORDS  60782.601  66133.054  11505.670  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B83                 
SUPPORT
    CO-ORDS  60782.601  66037.054  11505.670  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B85                 
SUPPORT
    CO-ORDS  60782.601  65941.056  11505.670  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B87                 
SUPPORT
    CO-ORDS  60782.601  66037.054  11505.670  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BZ0                 
    TAG                         P658 FIG 1                      
SUPPORT
    CO-ORDS  60782.601  66133.054  11505.670  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BZ1                 
    TAG                         P658 FIG 1                      
SUPPORT
    CO-ORDS  60782.601  66229.054  11505.670  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BZ2                 
    TAG                         P658 FIG 1                      
SUPPORT
    CO-ORDS  60782.601  66325.053  11505.670  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BZ3                 
    TAG                         P658 FIG 1                      
SCREWED-WELD
    END-POINT  60782.601          66331.635          11505.670  1  SC MALE 
    END-POINT  60782.601          66331.635          11505.670  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B67                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60782.601          66332.555          11506.590  1  SC FEMALE 
    END-POINT  60782.601          66331.635          11505.670  1  SC FEMALE 
    CENTRE-POINT   60782.601          66332.555          11505.670 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B63                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60782.601          66332.555          11506.590  1  SC FEMALE 
    END-POINT  60782.601          66332.555          11506.590  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B65                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60782.601          66332.555          11615.750  1  SC MALE 
    END-POINT  60782.601          66332.555          11506.590  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B61                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60782.601          66332.555          11615.750  1  SC MALE 
    END-POINT  60782.601          66332.555          11615.750  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B62                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
TEE
    END-POINT  60781.681          66332.555          11616.670  1  SC FEMALE 
    END-POINT  60783.521          66332.555          11616.670  1  SC FEMALE 
    CENTRE-POINT   60782.601          66332.555          11616.670 
    BRANCH1-POINT  60782.601          66332.555          11615.750  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B5N                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60781.681          66332.555          11616.670  1  SC MALE 
    END-POINT  60781.681          66332.555          11616.670  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B5Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60783.521          66332.555          11616.670  1  SC MALE 
    END-POINT  60783.521          66332.555          11616.670  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B5S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60783.521          66332.555          11616.670  1  SC MALE 
    END-POINT  61517.650          66332.555          11616.670  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B5R                 
    PIPING-SPEC C1
FLOW-ARROW
    CO-ORDS  61385.132  66332.555  11616.670 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  60795.036  66332.555  11616.670  1
    SKEY GUID
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BNJ                 
SUPPORT
    CO-ORDS  61155.048  66332.555  11616.670  1
    SKEY GUID
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BO3                 
SUPPORT
    CO-ORDS  61479.042  66332.555  11616.670  1
    SKEY GUID
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BOX                 
END-CONNECTION-PIPELINE 
    CO-ORDS  61517.650          66332.555          11616.670 
    PIPELINE-REFERENCE ISO-GS3-1901013
PIPE
    END-POINT  60416.490          66332.555          11616.670  1  SC MALE 
    END-POINT  60781.681          66332.555          11616.670  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B5P                 
    PIPING-SPEC C1
FLOW-ARROW
    CO-ORDS  60563.581  66332.555  11616.670 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  60416.490          66332.555          11616.670  1  SC MALE 
    END-POINT  60416.490          66332.555          11616.670  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B4R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
TEE
    END-POINT  60414.650          66332.555          11616.670  1  SC FEMALE 
    END-POINT  60416.490          66332.555          11616.670  1  SC FEMALE 
    CENTRE-POINT   60415.570          66332.555          11616.670 
    BRANCH1-POINT  60415.570          66332.555          11615.750  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B4M                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60414.650          66332.555          11616.670  1  SC MALE 
    END-POINT  60414.650          66332.555          11616.670  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B4P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60415.570          66332.555          11615.750  1  SC MALE 
    END-POINT  60415.570          66332.555          11615.750  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B4T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60415.570          66332.555          11615.750  1  SC MALE 
    END-POINT  60415.570          66332.555          11605.590  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B4S                 
    PIPING-SPEC C1
END-CONNECTION-PIPELINE 
    CO-ORDS  60415.570          66332.555          11605.590 
    PIPELINE-REFERENCE ISO-GS3-1901007
PIPE
    END-POINT  60299.490          66332.555          11616.670  1  SC MALE 
    END-POINT  60414.650          66332.555          11616.670  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B4O                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  60327.044  66332.555  11616.670  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AIA                 
SCREWED-WELD
    END-POINT  60299.490          66332.555          11616.670  1  SC MALE 
    END-POINT  60299.490          66332.555          11616.670  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AG3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60298.570          66332.555          11617.590  1  SC FEMALE 
    END-POINT  60299.490          66332.555          11616.670  1  SC FEMALE 
    CENTRE-POINT   60298.570          66332.555          11616.670 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AFX                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60298.570          66332.555          11617.590  1  SC MALE 
    END-POINT  60298.570          66332.555          11617.590  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AFZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60298.570          66332.555          11617.590  1  SC MALE 
    END-POINT  60298.570          66332.555          11675.750  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AFY                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60298.570          66332.555          11675.750  1  SC MALE 
    END-POINT  60298.570          66332.555          11675.750  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AG0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60298.570          66331.635          11676.670  1  SC FEMALE 
    END-POINT  60298.570          66332.555          11675.750  1  SC FEMALE 
    CENTRE-POINT   60298.570          66332.555          11676.670 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1E9                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60298.570  66332.555  11676.670 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60298.570  66342.555  11676.670 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. 3.A
SCREWED-WELD
    END-POINT  60298.570          66331.635          11676.670  1  SC MALE 
    END-POINT  60298.570          66331.635          11676.670  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1ED                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60298.570          66331.635          11676.670  1  SC MALE 
    END-POINT  60298.570          65943.475          11676.670  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EC                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  60298.570  65953.276  11676.670  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EY                 
SUPPORT
    CO-ORDS  60298.570  66289.050  11676.670  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1F0                 
SCREWED-WELD
    END-POINT  60298.570          65943.475          11676.670  1  SC MALE 
    END-POINT  60298.570          65943.475          11676.670  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60298.570          65943.475          11676.670  1  SC FEMALE 
    END-POINT  60298.570          65942.555          11675.750  1  SC FEMALE 
    CENTRE-POINT   60298.570          65942.555          11676.670 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1E1                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60298.570          65942.555          11675.750  1  SC MALE 
    END-POINT  60298.570          65942.555          11675.750  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1ES                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60298.570          65942.555          11653.576  1  SC MALE 
    END-POINT  60298.570          65942.555          11675.750  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EQ                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60298.570          65942.555          11653.576  1  SC MALE 
    END-POINT  60298.570          65942.555          11653.576  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1ER                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60299.490          65942.555          11652.656  1  SC FEMALE 
    END-POINT  60298.570          65942.555          11653.576  1  SC FEMALE 
    CENTRE-POINT   60298.570          65942.555          11652.656 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EJ                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60299.490          65942.555          11652.656  1  SC MALE 
    END-POINT  60299.490          65942.555          11652.656  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60299.490          65942.555          11652.656  1  SC MALE 
    END-POINT  60326.146          65942.555          11652.656  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EK                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60326.146          65942.555          11652.656  1  SC MALE 
    END-POINT  60326.146          65942.555          11652.656  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60327.066          65942.555          11651.736  1  SC FEMALE 
    END-POINT  60326.146          65942.555          11652.656  1  SC FEMALE 
    CENTRE-POINT   60327.066          65942.555          11652.656 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EI                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  60327.066          65942.555          11651.736  1  SC MALE 
    END-POINT  60327.066          65942.555          11651.736  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60327.066          65942.555          11629.576  1  SC MALE 
    END-POINT  60327.066          65942.555          11651.736  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EN                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  60327.066          65942.555          11629.576  1  SC MALE 
    END-POINT  60327.066          65942.555          11629.576  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  60327.066          65941.635          11628.656  1  SC FEMALE 
    END-POINT  60327.066          65942.555          11629.576  1  SC FEMALE 
    CENTRE-POINT   60327.066          65942.555          11628.656 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EF                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60327.066  65942.555  11628.656 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60552.000  65942.555  11628.656 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
SCREWED-WELD
    END-POINT  60327.066          65941.635          11628.656  1  SC FEMALE 
    END-POINT  60327.066          65941.635          11628.656  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  60327.066          65369.258          11628.656  1  PL
    END-POINT  60327.066          65941.635          11628.656  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1DW                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  60327.066  65389.343  11628.656  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EU                 
SUPPORT
    CO-ORDS  60327.066  65835.710  11628.656  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1EW                 
WELD
    END-POINT  60327.066          65369.258          11628.656  1
    END-POINT  60327.066          65369.258          11628.656  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1DX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
WELD
    END-POINT  60327.066          65369.258          11628.656  1
    END-POINT  60327.066          65369.258          11628.656  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1DY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
FLANGE
    END-POINT  60327.066          65369.062          11628.656  1  FL
    END-POINT  60327.066          65369.258          11628.656  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1DT                 
    PIPING-SPEC C1
MESSAGE-ROUND
    CO-ORDS  60327.066  65369.062  11628.656 
    TEXT TP-139
    UNDIMENSIONED
GASKET
    END-POINT  60327.066          65369.062          11628.656  1
    END-POINT  60327.066          65369.000          11628.656  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1DU                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  60327.066          65369.062          11628.656 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1DV                 
FLANGE
    END-POINT  60327.066          65369.000          11628.656  1  FL
    END-POINT  60327.066          65368.804          11628.656  1  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1DM                 
    PIPING-SPEC C1
END-CONNECTION-PIPELINE 
    CO-ORDS  60327.066          65368.804          11628.656 
    PIPELINE-REFERENCE ISO-GS3-EXISTING
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPUB-1
    DESCRIPTION P627-FIG. 2, w/P630-FIG. 7, X=12", L=6"(OFFSET TO SOUTH)
ITEM-CODE SUPAG-1
    DESCRIPTION P658 FIG 1
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPUB-1_1
    DESCRIPTION P627-FIG. 1, w/P630-FIG. 7, X=24.75", L=6"
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-001
    RATING 275LB
ITEM-CODE SUPUB-1_2
    DESCRIPTION P627-FIG. 1, w/P629-FIG. 7, X=6 9/16", L=6"(WELD TO PLATFORM STEEL)
ITEM-CODE SUPUB-1_3
    DESCRIPTION P627-FIG. 2
ITEM-CODE SUPUB-1_4
    DESCRIPTION P627-FIG. 2, w/P630-FIG. 7, X=12", L=6"(OFFSET TO WEST)
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
