ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218016
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218016-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 SG
    ATTRIBUTE22 2/4/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 2/5/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/9/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 2/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 DC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 DD
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 10/26/2012
    ATTRIBUTE48 DBH
    ATTRIBUTE49 DD
    ATTRIBUTE50 DK
    ATTRIBUTE51 UPDATED SUPPORT
    ATTRIBUTE52 3
    ATTRIBUTE53 11/27/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DK
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED PSV-065-04
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58082.791          64164.685          11655.668  0.75  BW
    END-POINT  58082.791          64164.685          11659.668  0.75  BW
    CENTRE-POINT  58082.791  64164.685  11657.668 
    SKEY NCBW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6PV                 
    TAG TE-065-01                       
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58082.791  64164.685  11655.668 
    TEXT TE$065$01
    UNDIMENSIONED
WELD
    END-POINT  58082.791          64164.685          11655.668  0.75
    END-POINT  58082.791          64164.685          11655.668  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6PW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58082.791          64164.685          11659.668 
ELBOLET
    END-POINT  58082.791          64164.685          11653.793  3  PL
    END-POINT  58082.791          64164.685          11655.668  0.75  BW
    SKEY CEBW
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6PR                 
    PIPING-SPEC S1
WELD
    END-POINT  58082.791          64164.685          11653.793  3
    END-POINT  58082.791          64164.685          11653.793  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6PT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
ELBOW-TEED
    END-POINT  58082.791          64164.685          11649.455  3  BW
    END-POINT  58082.791          64160.185          11653.955  3  BW
    CENTRE-POINT   58082.791          64164.685          11653.955 
    BRANCH1-POINT  58082.791          64164.685          11653.793  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6PN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  58082.791          64164.685          11653.793  3
WELD
    END-POINT  58082.791          64164.685          11649.455  3
    END-POINT  58082.791          64164.685          11649.455  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6PP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58082.791          64160.185          11653.955  3
    END-POINT  58082.791          64160.185          11653.955  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6Q1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-ECCENTRIC
    END-POINT  58082.791          64160.185          11653.955  3  BW
    END-POINT  58082.791          64156.685          11653.155  1.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6PZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58082.791          64156.685          11653.155  1.5
    END-POINT  58082.791          64156.685          11653.155  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6QR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58082.791          64156.685          11653.155  1.5  BW
    END-POINT  58082.791          64078.066          11653.155  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6QQ                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58082.791  64139.045  11653.155  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6QW                 
SUPPORT
    CO-ORDS  58082.791  64139.045  11653.155  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7XA                 
WELD
    END-POINT  58082.791          64078.066          11653.155  1.5
    END-POINT  58082.791          64078.066          11653.155  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6S2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.791          64078.066          11653.155  1.5  BW
    END-POINT  58082.791          64075.816          11655.405  1.5  BW
    CENTRE-POINT   58082.791          64075.816          11653.155 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6QY                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.791  64075.816  11653.155 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64075.816  11653.155 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.791  64075.816  11653.155 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58082.791  64138.748  11653.155 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58082.791          64075.816          11655.405  1.5
    END-POINT  58082.791          64075.816          11655.405  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6R2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64075.816          11691.083  1.5  BW
    END-POINT  58082.791          64075.816          11655.405  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6R0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64075.816          11691.083  1.5
    END-POINT  58082.791          64075.816          11691.083  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6R1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58080.541          64075.816          11693.333  1.5  BW
    END-POINT  58082.791          64075.816          11691.083  1.5  BW
    CENTRE-POINT   58082.791          64075.816          11693.333 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_65J                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58080.541          64075.816          11693.333  1.5
    END-POINT  58080.541          64075.816          11693.333  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6R3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58017.276          64075.816          11693.333  1.5  PL
    END-POINT  58080.541          64075.816          11693.333  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_65H                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58054.900  64075.816  11693.333  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6QS                 
FLOW-ARROW
    CO-ORDS  58039.109  64075.816  11693.333 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58017.276          64075.816          11693.333  1.5  SW FEMALE 
    END-POINT  58017.276          64075.816          11693.333  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7ER                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58017.276          64075.816          11693.333  1.5  SW FEMALE 
    END-POINT  58013.756          64075.816          11693.333  1.5  SW FEMALE 
    CENTRE-POINT   58015.516          64075.816          11693.333 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7EQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58013.756          64075.816          11693.333  1.5
    END-POINT  58013.756          64075.816          11693.333  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7EY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58008.050          64075.816          11693.333  1.5  BW
    END-POINT  58013.756          64075.816          11693.333  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7EW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.050          64075.816          11693.333  1.5
    END-POINT  58008.050          64075.816          11693.333  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7EX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58008.050          64075.816          11693.333  1.5  BW
    END-POINT  58005.800          64075.816          11691.083  1.5  BW
    CENTRE-POINT   58005.800          64075.816          11693.333 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7EU                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58005.800          64075.816          11691.083  1.5
    END-POINT  58005.800          64075.816          11691.083  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7EZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58005.800          64075.816          11687.083  1.5  PL
    END-POINT  58005.800          64075.816          11691.083  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_659                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58005.800          64075.816          11687.083  1.5
    END-POINT  58005.800          64075.816          11687.083  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_65A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58005.800          64075.816          11687.083  1.5
    END-POINT  58005.800          64075.816          11687.083  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_65B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58005.800          64075.816          11686.875  1.5  FL
    END-POINT  58005.800          64075.816          11687.083  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63R                 
    PIPING-SPEC S1
GASKET
    END-POINT  58005.800          64075.816          11686.875  1.5
    END-POINT  58005.800          64075.816          11686.750  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63S                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58005.800          64075.816          11686.875 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63T                 
END-POSITION-OPEN 
    CO-ORDS  58005.800          64075.816          11686.750 
REDUCER-CONCENTRIC
    END-POINT  58082.791          64164.685          11649.455  3  BW
    END-POINT  58082.791          64164.685          11645.955  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6PB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64164.685          11645.955  1.5
    END-POINT  58082.791          64164.685          11645.955  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6QP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64164.685          11629.957  1.5  PL
    END-POINT  58082.791          64164.685          11645.955  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_64P                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58082.791          64164.685          11629.957  1.5
    END-POINT  58082.791          64164.685          11629.957  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7FN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58082.791          64164.685          11626.437  1.5  SW FEMALE 
    END-POINT  58082.791          64164.685          11629.957  1.5  SW FEMALE 
    CENTRE-POINT   58082.791          64164.685          11628.197 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7FI                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58082.791          64164.685          11626.437  1.5  SW FEMALE 
    END-POINT  58082.791          64164.685          11626.437  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7FJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64164.685          11621.907  1.5  BW
    END-POINT  58082.791          64164.685          11626.437  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_64J                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64164.685          11621.907  1.5
    END-POINT  58082.791          64164.685          11621.907  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_64K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58082.791          64166.935          11619.657  1.5  BW
    END-POINT  58082.791          64164.685          11621.907  1.5  BW
    CENTRE-POINT   58082.791          64164.685          11619.657 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_64G                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58082.791          64166.935          11619.657  1.5
    END-POINT  58082.791          64166.935          11619.657  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_64I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58082.791          64170.935          11619.657  1.5  BW
    END-POINT  58082.791          64166.935          11619.657  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_643                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64170.935          11619.657  1.5
    END-POINT  58082.791          64170.935          11619.657  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_644                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58082.791          64173.185          11617.407  1.5  BW
    END-POINT  58082.791          64173.185          11621.907  1.5  BW
    CENTRE-POINT   58082.791          64173.185          11619.657 
    BRANCH1-POINT  58082.791          64170.935          11619.657  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58082.791          64173.185          11617.407  1.5
    END-POINT  58082.791          64173.185          11617.407  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_640                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58082.791          64173.185          11621.907  1.5
    END-POINT  58082.791          64173.185          11621.907  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7F3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58082.791          64173.185          11621.907  1.5  BW
    END-POINT  58082.791          64173.185          11624.407  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7F2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64173.185          11624.407  1
    END-POINT  58082.791          64173.185          11624.407  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7F5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58082.791          64173.185          11626.597  1  FL
    END-POINT  58082.791          64173.185          11624.407  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7F4                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58082.791          64173.185          11626.722  1
    END-POINT  58082.791          64173.185          11626.597  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7XO                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58082.791          64173.185          11626.722 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7XP                 
VALVE-ANGLE
    END-POINT  58082.791          64173.185          11626.722  1  FL
    END-POINT  58082.791          64177.310          11631.222  2  FL
    CENTRE-POINT   58082.791          64173.185          11631.222 
    SKEY ARFL
    FABRICATION-ITEM
    ITEM-CODE VALVREL1X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7XM                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58082.791  64173.185  11631.222 
    TEXT 3P$PSV$065$04
    UNDIMENSIONED
GASKET
    END-POINT  58082.791          64177.435          11631.222  2
    END-POINT  58082.791          64177.310          11631.222  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7XV                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58082.791          64177.435          11631.222  2  FL
    END-POINT  58082.791          64177.651          11631.222  2  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LJ                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58082.791          64177.651          11631.222 
    PIPELINE-REFERENCE ISO-PY3-1218019
PIPE
    END-POINT  58082.791          64173.185          11611.407  1.5  PL
    END-POINT  58082.791          64173.185          11617.407  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63V                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64173.185          11611.407  1.5
    END-POINT  58082.791          64173.185          11611.407  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58082.791          64173.185          11611.407  1.5
    END-POINT  58082.791          64173.185          11611.407  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58082.791          64173.185          11611.199  1.5  FL
    END-POINT  58082.791          64173.185          11611.407  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5YT                 
    PIPING-SPEC S1
GASKET
    END-POINT  58082.791          64173.185          11611.199  1.5
    END-POINT  58082.791          64173.185          11611.074  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7Y2                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58082.791          64173.185          11611.199 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7Y3                 
NOZZLE
    CO-ORDS  58082.791          64173.185          11611.074  1.5  FL
    CONNECTION-REFERENCE PY3-065$NOZZLE TAG PY3-065-T2$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TE-065-01
    RATING STD
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SW, ASTM A182 Gr F304L, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDECC3X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION P629 FIG 10
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION  P651 FIG 1, L=1'-0",  X=1'-7"
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION P624, FIG. 4
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDCON3X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL1X2
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, PSV-065-04
    RATING 150LB
