ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222012
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1222012-PP-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 SG
    ATTRIBUTE22 1/27/2009
    ATTRIBUTE23 NA
    ATTRIBUTE25 RHP
    ATTRIBUTE26 1/21/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/2/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 2/2/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 2/2/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/9/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/16/2009
    ATTRIBUTE42 SM
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 11/1/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DD
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED SERVICE AND INS THICKNESS
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  58022.547          63987.848          11676.875  4  FL
    END-POINT  58022.547          63989.973          11676.875  4  FL
    CENTRE-POINT   58022.547          63988.911          11676.875 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCO                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  58022.547          63987.848          11676.875  4
    END-POINT  58022.547          63987.723          11676.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCP                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58022.547          63987.848          11676.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCQ                 
GASKET
    END-POINT  58022.547          63990.098          11676.875  4
    END-POINT  58022.547          63989.973          11676.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCV                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58022.547          63990.098          11676.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCW                 
FLANGE
    END-POINT  58022.547          63987.723          11676.875  4  FL
    END-POINT  58022.547          63987.424          11676.875  4  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCL                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58022.547          63987.424          11676.875 
    PIPELINE-REFERENCE ISO-PY3-1222010
FLANGE
    END-POINT  58022.547          63990.098          11676.875  4  FL
    END-POINT  58022.547          63990.398          11676.875  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCU                 
    PIPING-SPEC S1
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58022.547  63990.098  11676.875 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58022.547  64138.748  11676.875 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58022.547  63990.098  11676.875 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63990.098  11676.875 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58022.547          63990.398          11676.875  4
    END-POINT  58022.547          63990.398          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.547          63990.398          11676.875  4
    END-POINT  58022.547          63990.398          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58022.547          63990.398          11676.875  4  PL
    END-POINT  58022.547          64041.326          11676.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCX                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58022.547  64015.788  11676.875 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58022.547  63998.958  11676.875  4
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BDI                 
WELD
    END-POINT  58022.547          64041.326          11676.875  4
    END-POINT  58022.547          64041.326          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BI5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58018.427          64045.446          11676.875  4  BW
    END-POINT  58026.667          64045.446          11676.875  4  BW
    CENTRE-POINT   58022.547          64045.446          11676.875 
    BRANCH1-POINT  58022.547          64041.326          11676.875  4  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           2.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58018.427          64045.446          11676.875 
    PIPELINE-REFERENCE ISO-PY3-1222013
MATERIALS
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE BOLTLUG4_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 3/4 MACHINE BOLT
    RATING 150LB
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-4
    DESCRIPTION P624, FIG. 2, L=3'-9"
