ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212020
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1212020-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/14/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/9/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/23/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 7
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 RJR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/2/2009
    ATTRIBUTE54 D. ORR
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 3/23/2009
    ATTRIBUTE60 SM
    ATTRIBUTE61 RHP
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 7/31/2009
    ATTRIBUTE66 SG
    ATTRIBUTE67 BL
    ATTRIBUTE68 DCD
    ATTRIBUTE69 REVISED AS NOTED
    ATTRIBUTE70 6
    ATTRIBUTE71 8/31/2012
    ATTRIBUTE72 DBH
    ATTRIBUTE73 KC
    ATTRIBUTE74 DD
    ATTRIBUTE75 DELETED DRAIN
    ATTRIBUTE76 7
    ATTRIBUTE77 10/26/2012
    ATTRIBUTE78 DBH
    ATTRIBUTE79 DD
    ATTRIBUTE80 DK
    ATTRIBUTE81 CHANGED GATE TO BALL VALVE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MESSAGE
    CO-ORDS  58131.876  64367.453  11996.078 
    TEXT FUTURE TO GP2/GP4
    UNDIMENSIONED
MATERIALS
