ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222006
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1222006-VTS-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 MH
    ATTRIBUTE22 11/18/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 12/4/2008
    ATTRIBUTE25 RHP
    ATTRIBUTE26 1/13/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/5/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/5/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/5/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 MH
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE-ANGLE
    END-POINT  57849.571          63932.837          11811.897  2  FL
    END-POINT  57849.571          63927.337          11816.027  3  FL
    CENTRE-POINT   57849.571          63932.837          11816.027 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_574                 
    TAG PSV-051-04                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57849.571  63932.837  11816.027 
    TEXT PSV$051$04
    UNDIMENSIONED
GASKET
    END-POINT  57849.571          63932.837          11811.897  2
    END-POINT  57849.571          63932.837          11811.772  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_576                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57849.571          63932.837          11811.897 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_577                 
GASKET
    END-POINT  57849.571          63927.212          11816.027  3
    END-POINT  57849.571          63927.337          11816.027  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_57B                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57849.571          63927.212          11816.027  3  FL
    END-POINT  57849.571          63926.934          11816.027  3  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_57A                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57849.571          63926.934          11816.027 
    PIPELINE-REFERENCE ISO-PY3-1222007
FLANGE
    END-POINT  57849.571          63932.837          11811.772  2  FL
    END-POINT  57849.571          63932.837          11811.555  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3XW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57849.571          63932.837          11811.555  2
    END-POINT  57849.571          63932.837          11811.555  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4NM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57849.571          63932.837          11811.555  2
    END-POINT  57849.571          63932.837          11811.555  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4NN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57849.571          63932.837          11744.201  2  BW
    END-POINT  57849.571          63932.837          11811.555  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3YR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOOR-SYMBOL 
    CO-ORDS  57849.571  63932.837  11784.013 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57849.571  63932.837  11784.013 
    TEXT Floor Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57849.571  63932.837  11784.013  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 30 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3Z9                 
WELD
    END-POINT  57849.571          63932.837          11744.201  2
    END-POINT  57849.571          63932.837          11744.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3YS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57849.571          63935.837          11741.201  2  BW
    END-POINT  57849.571          63932.837          11744.201  2  BW
    CENTRE-POINT   57849.571          63932.837          11741.201 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3XZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57849.571          63935.837          11741.201  2
    END-POINT  57849.571          63935.837          11741.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4O2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57849.571          63965.368          11741.201  2  BW
    END-POINT  57849.571          63935.837          11741.201  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4O0                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57849.571  63957.663  11741.201 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57849.571          63965.368          11741.201  2
    END-POINT  57849.571          63965.368          11741.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4O1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57849.570          63968.368          11738.201  2  BW
    END-POINT  57849.571          63965.368          11741.201  2  BW
    CENTRE-POINT   57849.571          63968.368          11741.201 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4DB                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57849.571  63968.368  11741.201 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63968.368  11741.201 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57849.571  63968.368  11741.201 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57849.571  63898.800  11741.201 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57849.570          63968.368          11738.201  2
    END-POINT  57849.570          63968.368          11738.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4DG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57849.562          63968.368          11726.233  2  BW
    END-POINT  57849.570          63968.368          11738.201  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4DE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57849.562          63968.368          11726.233  2
    END-POINT  57849.562          63968.368          11726.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4DF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57849.562          63968.368          11726.233  2  BW
    END-POINT  57852.561          63968.368          11723.233  2  BW
    CENTRE-POINT   57849.561          63968.368          11723.233 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4DC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9003
WELD
    END-POINT  57852.561          63968.368          11723.233  2
    END-POINT  57852.561          63968.368          11723.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_51B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57852.561          63968.368          11723.233  2  BW
    END-POINT  58112.439          63968.368          11723.233  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4DH                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57906.186  63968.368  11723.233  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4EB                 
SUPPORT
    CO-ORDS  58053.186  63968.368  11723.233  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4ED                 
FLOW-ARROW
    CO-ORDS  57969.822  63968.368  11723.233 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58053.164  63968.368  11723.233  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_68J                 
SUPPORT
    CO-ORDS  57906.190  63968.368  11723.233  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_68L                 
WELD
    END-POINT  58112.439          63968.368          11723.233  2
    END-POINT  58112.439          63968.368          11723.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7DD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58112.439          63968.368          11723.233  2  BW
    END-POINT  58115.439          63968.368          11720.233  2  BW
    CENTRE-POINT   58115.439          63968.368          11723.233 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7DB                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58115.439          63968.368          11720.233  2
    END-POINT  58115.439          63968.368          11720.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7DE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58115.439          63968.368          11707.263  2  BW
    END-POINT  58115.439          63968.368          11720.233  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7CT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58115.439          63968.368          11707.263  2
    END-POINT  58115.439          63968.368          11707.263  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7CU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58115.439          63968.368          11707.263  2  BW
    END-POINT  58115.439          63971.368          11704.263  2  BW
    CENTRE-POINT   58115.439          63968.368          11704.263 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7CR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58115.439          63971.368          11704.263  2
    END-POINT  58115.439          63971.368          11704.263  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7D4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58115.439          64002.095          11704.263  2  BW
    END-POINT  58115.439          63971.368          11704.263  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7D2                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58115.439  63992.016  11704.263 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58115.439          64002.095          11704.263  2
    END-POINT  58115.439          64002.095          11704.263  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7D3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58116.415          64004.451          11704.263  2  BW
    END-POINT  58115.439          64002.095          11704.263  2  BW
    CENTRE-POINT   58115.439          64003.475          11704.263 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7CX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58116.415          64004.451          11704.263  2
    END-POINT  58116.415          64004.451          11704.263  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7D0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58116.415          64004.451          11704.263  2  BW
    END-POINT  58120.648          64008.684          11704.263  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7CZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58120.648          64008.684          11704.263  2
    END-POINT  58120.648          64008.684          11704.263  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7D1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.770          64010.805          11701.263  2  BW
    END-POINT  58120.648          64008.684          11704.263  2  BW
    CENTRE-POINT   58122.770          64010.805          11704.263 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BP                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58122.770          64010.805          11701.263  2
    END-POINT  58122.770          64010.805          11701.263  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58122.770          64010.805          11701.263  2  BW
    END-POINT  58122.770          64010.805          11698.217  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58122.770          64010.805          11698.217  2
    END-POINT  58122.770          64010.805          11698.217  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58122.770          64010.805          11698.217  2
    END-POINT  58122.770          64010.805          11698.217  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58122.770          64010.805          11698.000  2  FL
    END-POINT  58122.770          64010.805          11698.217  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BL                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58122.770          64010.805          11698.000  2
    END-POINT  58122.770          64010.805          11697.875  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BM                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58122.770          64010.805          11698.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BN                 
END-POSITION-OPEN 
    CO-ORDS  58122.770          64010.805          11697.875 
MATERIALS
ITEM-CODE VALVREL2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, CS, PSV-051-04
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION U BOLT GUIDE, P651 FIG 1
ITEM-CODE SUPPS-2
    DESCRIPTION PIPE INSULATION PROTECTION SADDLE
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
