ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222017
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 DMC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1222017-DMC-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 1/7/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 2/12/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/7/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 1/7/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/16/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/23/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BJL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
ELBOW
    END-POINT  57658.066          63964.609          11490.158  1  BW
    END-POINT  57658.066          63966.109          11488.658  1  BW
    CENTRE-POINT   57658.066          63964.609          11488.658 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_74U                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57658.066          63964.609          11490.158  1
    END-POINT  57658.066          63964.609          11490.158  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_74W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57658.066          63966.109          11488.658 
PIPE
    END-POINT  57658.066          63964.609          11490.158  1  BW
    END-POINT  57658.066          63964.609          11514.153  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_74V                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57658.066  63964.609  11500.914 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57658.066          63964.609          11514.153  1
    END-POINT  57658.066          63964.609          11514.153  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_74X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57658.066          63964.609          11514.153  1  BW
    END-POINT  57659.566          63964.609          11515.653  1  BW
    CENTRE-POINT   57658.066          63964.609          11515.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_74T                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57659.566          63964.609          11515.653  1
    END-POINT  57659.566          63964.609          11515.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_778                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58134.014          63964.609          11515.653  1  BW
    END-POINT  57659.566          63964.609          11515.653  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_776                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57884.357  63964.609  11515.653 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57738.066  63964.609  11515.653  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_78F                 
SUPPORT
    CO-ORDS  57841.800  63964.609  11515.653  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_78H                 
SUPPORT
    CO-ORDS  57943.800  63964.609  11515.653  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_78J                 
SUPPORT
    CO-ORDS  58090.800  63964.609  11515.653  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_78L                 
WELD
    END-POINT  58134.014          63964.609          11515.653  1
    END-POINT  58134.014          63964.609          11515.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_777                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58135.516          63965.231          11515.653  1  BW
    END-POINT  58134.014          63964.609          11515.653  1  BW
    CENTRE-POINT   58134.894          63964.609          11515.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_74S                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58135.516          63965.231          11515.653  1
    END-POINT  58135.516          63965.231          11515.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_753                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58141.833          63971.548          11515.653  1  BW
    END-POINT  58135.516          63965.231          11515.653  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_751                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58141.833          63971.548          11515.653  1
    END-POINT  58141.833          63971.548          11515.653  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_752                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58142.894          63972.609          11517.153  1  BW
    END-POINT  58141.833          63971.548          11515.653  1  BW
    CENTRE-POINT   58142.894          63972.609          11515.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_74M                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58142.894          63972.609          11517.153  1
    END-POINT  58142.894          63972.609          11517.153  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_762                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58142.894          63972.609          11602.495  1  BW
    END-POINT  58142.894          63972.609          11517.153  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_760                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58142.894  63972.609  11569.250  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_765                 
FLOW-ARROW
    CO-ORDS  58142.894  63972.609  11583.010 
    FLOW 2
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58142.894  63972.609  11568.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58142.894  63972.609  11568.000 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58142.894          63972.609          11602.495  1
    END-POINT  58142.894          63972.609          11602.495  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7Q3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58141.394          63972.609          11603.995  1  BW
    END-POINT  58142.894          63972.609          11602.495  1  BW
    CENTRE-POINT   58142.894          63972.609          11603.995 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_75X                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58142.894  63972.609  11603.995 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58142.894  63898.800  11603.995 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58142.894  63972.609  11603.995 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63972.609  11603.995 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58141.394          63972.609          11603.995  1
    END-POINT  58141.394          63972.609          11603.995  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7Q4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58138.288          63972.609          11603.995  1  PL
    END-POINT  58141.394          63972.609          11603.995  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_77O                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58138.288          63972.609          11603.995  1
    END-POINT  58138.288          63972.609          11603.995  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58138.288          63972.609          11603.995  1
    END-POINT  58138.288          63972.609          11603.995  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58138.093          63972.609          11603.995  1  FL
    END-POINT  58138.288          63972.609          11603.995  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QT                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58138.093          63972.609          11603.995  1
    END-POINT  58137.968          63972.609          11603.995  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R9                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58138.093          63972.609          11603.995 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7RA                 
INSTRUMENT
    END-POINT  58132.968          63972.609          11603.995  1  FL
    END-POINT  58137.968          63972.609          11603.995  1  FL
    CENTRE-POINT   58135.468          63972.609          11603.995 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_75I                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58135.468  63972.609  11603.995 
    TEXT FV$051$09
    UNDIMENSIONED
GASKET
    END-POINT  58132.968          63972.609          11603.995  1
    END-POINT  58132.843          63972.609          11603.995  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7RB                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58132.843          63972.609          11603.995 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7RC                 
FLANGE
    END-POINT  58132.843          63972.609          11603.995  1  FL
    END-POINT  58132.647          63972.609          11603.995  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58132.647          63972.609          11603.995  1
    END-POINT  58132.647          63972.609          11603.995  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58132.647          63972.609          11603.995  1
    END-POINT  58132.647          63972.609          11603.995  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58129.905          63972.609          11603.995  1  BW
    END-POINT  58132.647          63972.609          11603.995  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_77K                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58129.905          63972.609          11603.995  1
    END-POINT  58129.905          63972.609          11603.995  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58126.905          63972.609          11603.995  1  BW
    END-POINT  58129.905          63972.609          11603.995  1  BW
    CENTRE-POINT   58128.405          63972.609          11603.995 
    BRANCH1-POINT  58128.405          63972.609          11602.495  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_76L                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58126.905          63972.609          11603.995  1
    END-POINT  58126.905          63972.609          11603.995  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58128.405          63972.609          11602.495  0.75
    END-POINT  58128.405          63972.609          11602.495  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58128.405          63972.609          11602.495  0.75  BW
    END-POINT  58128.405          63972.609          11599.965  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_76O                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58128.405          63972.609          11599.965  0.75
    END-POINT  58128.405          63972.609          11599.965  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58128.405          63972.609          11599.965  0.75  SW FEMALE 
    END-POINT  58128.405          63972.609          11597.985  0.75  SW FEMALE 
    CENTRE-POINT   58128.405          63972.609          11598.990 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_76Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58128.405          63972.609          11597.985  0.75  SW FEMALE 
    END-POINT  58128.405          63972.609          11597.985  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58128.405          63972.609          11597.985  0.75  PL
    END-POINT  58128.405          63972.609          11595.985  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_76U                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58128.405          63972.609          11595.985  0.75  SC MALE 
    END-POINT  58128.405          63972.609          11595.985  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  58128.405          63972.609          11595.985  0.75  SC FEMALE 
    END-POINT  58128.405          63972.609          11595.045  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_76W                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58128.405          63972.609          11595.045 
REDUCER-ECCENTRIC
    END-POINT  58126.905          63972.609          11603.995  1  BW
    END-POINT  58124.905          63972.609          11603.760  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7E4                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58124.905          63972.609          11603.760  0.5
    END-POINT  58124.905          63972.609          11603.760  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58121.905          63972.609          11603.760  0.5  PL
    END-POINT  58124.905          63972.609          11603.760  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7EM                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58121.905          63972.609          11603.760  0.5
    END-POINT  58121.905          63972.609          11603.760  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58121.905          63972.609          11603.760  0.5
    END-POINT  58121.905          63972.609          11603.760  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58121.734          63972.609          11603.760  0.5  FL
    END-POINT  58121.905          63972.609          11603.760  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R2                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58121.734          63972.609          11603.760  0.5
    END-POINT  58121.609          63972.609          11603.760  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R5                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58121.734          63972.609          11603.760 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R6                 
MISC-COMPONENT
    END-POINT  58119.439          63972.609          11603.760  0.5  FL
    END-POINT  58121.609          63972.609          11603.760  0.5  FL
    CENTRE-POINT  58120.524  63972.609  11603.760 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7DV                 
    TAG FE-051-08                       
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58120.522  63972.609  11603.760 
    TEXT FE$051$08
    UNDIMENSIONED
GASKET
    END-POINT  58119.439          63972.609          11603.760  0.5
    END-POINT  58119.314          63972.609          11603.760  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R7                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58119.314          63972.609          11603.760 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R8                 
FLANGE
    END-POINT  58119.314          63972.609          11603.760  0.5  FL
    END-POINT  58119.142          63972.609          11603.760  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58119.142          63972.609          11603.760  0.5
    END-POINT  58119.142          63972.609          11603.760  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58119.142          63972.609          11603.760  0.5
    END-POINT  58119.142          63972.609          11603.760  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7R1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58115.223          63972.609          11603.760  0.5  BW
    END-POINT  58119.142          63972.609          11603.760  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7EE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58115.223          63972.609          11603.760  0.5
    END-POINT  58115.223          63972.609          11603.760  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7QS                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58113.723          63972.609          11603.865  0.75  BW
    END-POINT  58115.223          63972.609          11603.760  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3/4X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HB                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58113.723          63972.609          11603.865  0.75
    END-POINT  58113.723          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58113.723          63972.609          11603.865  0.75  BW
    END-POINT  58111.483          63972.609          11603.865  0.75  BW
    CENTRE-POINT   58112.603          63972.609          11603.865 
    BRANCH1-POINT  58112.603          63972.609          11604.985  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58112.603  63972.609  11603.865  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7JE                 
    TAG                         P617 FIG. 1                     
WELD
    END-POINT  58111.483          63972.609          11603.865  0.75
    END-POINT  58111.483          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58112.603          63972.609          11604.985  0.75
    END-POINT  58112.603          63972.609          11604.985  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58112.603          63972.609          11604.985  0.75  BW
    END-POINT  58112.603          63972.609          11634.519  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58112.603          63972.609          11634.519  0.75
    END-POINT  58112.603          63972.609          11634.519  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58111.478          63972.609          11635.644  0.75  BW
    END-POINT  58112.603          63972.609          11634.519  0.75  BW
    CENTRE-POINT   58112.603          63972.609          11635.644 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58111.478          63972.609          11635.644  0.75
    END-POINT  58111.478          63972.609          11635.644  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58111.478          63972.609          11635.644  0.75  BW
    END-POINT  58104.978          63972.609          11635.644  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IW                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58104.978          63972.609          11635.644  0.75
    END-POINT  58104.978          63972.609          11635.644  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7PG                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58104.978          63972.609          11635.644  0.75  SW FEMALE 
    END-POINT  58102.728          63972.609          11635.644  0.75  SW FEMALE 
    CENTRE-POINT   58103.853          63972.609          11635.644 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB3/4
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7PC                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58102.728          63972.609          11635.644  0.75  SW FEMALE 
    END-POINT  58102.728          63972.609          11635.644  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7PH                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58102.728          63972.609          11635.644  0.75  PL
    END-POINT  58079.998          63972.609          11635.644  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7J2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58079.998          63972.609          11635.644  0.75
    END-POINT  58079.998          63972.609          11635.644  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7J4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58078.878          63972.609          11634.524  0.75  BW
    END-POINT  58078.878          63972.609          11636.764  0.75  BW
    CENTRE-POINT   58078.878          63972.609          11635.644 
    BRANCH1-POINT  58079.998          63972.609          11635.644  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58078.878  63972.609  11635.644 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63972.609  11635.644 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58078.878  63972.609  11635.644 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58078.878  63898.800  11635.644 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58078.878          63972.609          11634.524  0.75
    END-POINT  58078.878          63972.609          11634.524  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58078.878          63972.609          11636.764  0.75
    END-POINT  58078.878          63972.609          11636.764  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7J6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58078.878          63972.609          11638.764  1  BW
    END-POINT  58078.878          63972.609          11636.764  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7J5                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58078.878          63972.609          11638.764  1
    END-POINT  58078.878          63972.609          11638.764  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7J7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58078.878          63972.609          11702.065  1  BW
    END-POINT  58078.878          63972.609          11638.764  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_72D                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58078.878  63972.609  11659.500 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58078.878          63972.609          11702.065  1
    END-POINT  58078.878          63972.609          11702.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_736                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58078.878          63972.609          11702.065  1  BW
    END-POINT  58078.878          63974.109          11703.565  1  BW
    CENTRE-POINT   58078.878          63972.609          11703.565 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_734                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58078.878          63974.109          11703.565  1
    END-POINT  58078.878          63974.109          11703.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58078.878          63974.109          11703.565  1  BW
    END-POINT  58078.878          63977.109          11703.565  1  BW
    CENTRE-POINT   58078.878          63975.609          11703.565 
    BRANCH1-POINT  58078.878          63975.609          11705.065  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79B                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58078.878          63977.109          11703.565  1
    END-POINT  58078.878          63977.109          11703.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7AV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58078.878          63975.609          11705.065  0.5
    END-POINT  58078.878          63975.609          11705.065  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79I                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58078.878          63975.609          11705.065  0.5  BW
    END-POINT  58078.878          63975.609          11707.475  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79H                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58078.878          63975.609          11707.475  0.5  SW FEMALE 
    END-POINT  58078.878          63975.609          11707.475  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58078.878          63975.609          11707.475  0.5  SW FEMALE 
    END-POINT  58078.878          63975.609          11709.155  0.5  SW FEMALE 
    CENTRE-POINT   58078.878          63975.609          11708.360 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79J                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58078.878          63975.609          11709.155  0.5
    END-POINT  58078.878          63975.609          11709.155  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58078.878          63975.609          11709.155  0.5  PL
    END-POINT  58078.878          63975.609          11711.155  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79N                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58078.878          63975.609          11711.155  0.5  SC FEMALE 
    END-POINT  58078.878          63975.609          11711.155  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79Q                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  58078.878          63975.609          11711.155  0.5  SC FEMALE 
    END-POINT  58078.878          63975.609          11711.905  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_79P                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58078.878          63975.609          11711.905 
PIPE
    END-POINT  58078.878          63990.034          11703.565  1  BW
    END-POINT  58078.878          63977.109          11703.565  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7AT                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58078.878  63983.216  11703.565 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58078.878          63990.034          11703.565  1
    END-POINT  58078.878          63990.034          11703.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7AU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58078.878          63990.034          11703.565  1  BW
    END-POINT  58079.501          63991.536          11703.565  1  BW
    CENTRE-POINT   58078.878          63990.914          11703.565 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7AR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58079.501          63991.536          11703.565  1
    END-POINT  58079.501          63991.536          11703.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7B0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58097.709          64009.745          11703.565  1  BW
    END-POINT  58079.501          63991.536          11703.565  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7AY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58097.709          64009.745          11703.565  1
    END-POINT  58097.709          64009.745          11703.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7AZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58097.709          64009.745          11703.565  1  BW
    END-POINT  58098.770          64010.805          11702.065  1  BW
    CENTRE-POINT   58098.770          64010.805          11703.565 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7AW                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58098.770          64010.805          11702.065  1
    END-POINT  58098.770          64010.805          11702.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58098.770          64010.805          11693.071  1  PL
    END-POINT  58098.770          64010.805          11702.065  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BH                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58098.770          64010.805          11693.071  1
    END-POINT  58098.770          64010.805          11693.071  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58098.770          64010.805          11693.071  1
    END-POINT  58098.770          64010.805          11693.071  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58098.770          64010.805          11692.875  1  FL
    END-POINT  58098.770          64010.805          11693.071  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BD                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58098.770          64010.805          11692.875  1
    END-POINT  58098.770          64010.805          11692.750  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58098.770          64010.805          11692.875 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7BF                 
END-POSITION-OPEN 
    CO-ORDS  58098.770          64010.805          11692.750 
PIPE
    END-POINT  58078.878          63972.609          11611.470  0.75  PL
    END-POINT  58078.878          63972.609          11634.524  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IK                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58078.878          63972.609          11611.470  0.75
    END-POINT  58078.878          63972.609          11611.470  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58078.878          63972.609          11609.520  0.75  SW FEMALE 
    END-POINT  58078.878          63972.609          11611.470  0.75  SW FEMALE 
    CENTRE-POINT   58078.878          63972.609          11610.495 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IE                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58078.878          63972.609          11609.520  0.75  SW FEMALE 
    END-POINT  58078.878          63972.609          11609.520  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58078.878          63972.609          11604.990  0.75  BW
    END-POINT  58078.878          63972.609          11609.520  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IC                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58078.878          63972.609          11604.990  0.75
    END-POINT  58078.878          63972.609          11604.990  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7ID                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58080.003          63972.609          11603.865  0.75  BW
    END-POINT  58078.878          63972.609          11604.990  0.75  BW
    CENTRE-POINT   58078.878          63972.609          11603.865 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58078.878  63972.609  11603.865  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7JB                 
WELD
    END-POINT  58080.003          63972.609          11603.865  0.75
    END-POINT  58080.003          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58080.003          63972.609          11603.865  0.75  BW
    END-POINT  58088.257          63972.609          11603.865  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58088.257          63972.609          11603.865  0.75
    END-POINT  58088.257          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58088.257          63972.609          11603.865  0.75
    END-POINT  58088.257          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7IB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58088.433          63972.609          11603.865  0.75  FL
    END-POINT  58088.257          63972.609          11603.865  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I3                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58088.433          63972.609          11603.865  0.75
    END-POINT  58088.558          63972.609          11603.865  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I4                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58088.433          63972.609          11603.865 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I5                 
INSTRUMENT
    END-POINT  58095.933          63972.609          11603.865  0.75  FL
    END-POINT  58088.558          63972.609          11603.865  0.75  FL
    CENTRE-POINT   58092.245          63972.609          11603.865 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I0                 
    TAG FCV$051$08                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58092.245  63972.609  11603.865 
    TEXT FCV$051$08
    UNDIMENSIONED
GASKET
    END-POINT  58095.933          63972.609          11603.865  0.75
    END-POINT  58096.058          63972.609          11603.865  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I1                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58095.933          63972.609          11603.865 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7I2                 
FLANGE
    END-POINT  58096.058          63972.609          11603.865  0.75  FL
    END-POINT  58096.233          63972.609          11603.865  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.233          63972.609          11603.865  0.75
    END-POINT  58096.233          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.233          63972.609          11603.865  0.75
    END-POINT  58096.233          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.233          63972.609          11603.865  0.75  BW
    END-POINT  58096.233          63972.609          11603.865  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HV                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58099.233          63972.609          11603.865  0.75
    END-POINT  58099.233          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58101.473          63972.609          11603.865  0.75  BW
    END-POINT  58099.233          63972.609          11603.865  0.75  BW
    CENTRE-POINT   58100.353          63972.609          11603.865 
    BRANCH1-POINT  58100.353          63972.609          11602.745  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58101.473          63972.609          11603.865  0.75
    END-POINT  58101.473          63972.609          11603.865  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58100.353          63972.609          11602.745  0.75
    END-POINT  58100.353          63972.609          11602.745  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7Q1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58100.353          63972.609          11602.745  0.75  BW
    END-POINT  58100.353          63972.609          11599.684  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7Q0                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58100.353          63972.609          11599.684  0.75  SW FEMALE 
    END-POINT  58100.353          63972.609          11599.684  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7Q2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58100.353          63972.609          11599.684  0.75  SW FEMALE 
    END-POINT  58100.353          63972.609          11597.704  0.75  SW FEMALE 
    CENTRE-POINT   58100.353          63972.609          11598.709 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7PK                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58100.353          63972.609          11597.704  0.75
    END-POINT  58100.353          63972.609          11597.704  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7PX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58100.353          63972.609          11597.704  0.75  PL
    END-POINT  58100.353          63972.609          11595.704  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7PW                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58100.353          63972.609          11595.704  0.75  SC FEMALE 
    END-POINT  58100.353          63972.609          11595.704  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7PZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  58100.353          63972.609          11595.704  0.75  SC FEMALE 
    END-POINT  58100.353          63972.609          11594.764  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7PY                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58100.353          63972.609          11594.764 
PIPE
    END-POINT  58105.003          63972.609          11603.865  0.75  PL
    END-POINT  58101.473          63972.609          11603.865  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HQ                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58105.003          63972.609          11603.865  0.75
    END-POINT  58105.003          63972.609          11603.865  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58106.953          63972.609          11603.865  0.75  SW FEMALE 
    END-POINT  58105.003          63972.609          11603.865  0.75  SW FEMALE 
    CENTRE-POINT   58105.978          63972.609          11603.865 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HL                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58106.953          63972.609          11603.865  0.75  SW FEMALE 
    END-POINT  58106.953          63972.609          11603.865  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58111.483          63972.609          11603.865  0.75  BW
    END-POINT  58106.953          63972.609          11603.865  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7HJ                 
    PIPING-SPEC S1
    INSULATION-ON 
MATERIALS
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-2 1/8"
ITEM-CODE SUPRH-1_1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=3'-3 1/8"
ITEM-CODE SUPRH-1_2
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-10 13/16"
ITEM-CODE SUPRH-1_3
    DESCRIPTION ROD HANGER P624, FIG. 4, L=3'-1 1/4"
ITEM-CODE 45LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1_4
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FV-051-09
    RATING 150LB
ITEM-CODE TEERED1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE REDECC1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE FLGSLP1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR1/2
    DESCRIPTION FE-051-08
    RATING 150LB
ITEM-CODE REDECC3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10Sx40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPST-3/4
    DESCRIPTION RIGID PIPE SUPPORT P617 FIG. 1, L=2'-11 3/8"
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVGLB3/4
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 200LB, GL-01-ST-302
    RATING 200LB
ITEM-CODE REDCON1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPEB-3/4
    DESCRIPTION ELBOW SUPPORT P617 FIG 2, L=3'-0"
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FCV-051-08
    RATING 150LB
