ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1320037-C
PIPING-SPEC S5C
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5014_CORE.DWG
    ATTRIBUTE98 PMJ
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1320037-C-PMJ-S5C
    ATTRIBUTE95 I1
    ATTRIBUTE94 S5C
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-020
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57160.941          64252.359          11503.313  3  FL
    END-POINT  57157.441          64252.359          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BI                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  57160.941          64252.359          11503.313  3
    END-POINT 
** 
Processing ID: AT_FRNRB3AK_NG  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_NG                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  57160.941          64252.359          11503.313 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_NH                  
WELD
    END-POINT  57157.441          64252.359          11503.313  3
    END-POINT  57157.441          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BL                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57160.941  64252.359  11503.313 
PIPE
    END-POINT  57157.441          64252.359          11503.313  3  BW
    END-POINT  57056.016          64252.359          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BM                  
    PIPING-SPEC S5C
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57086.792  64252.359  11503.313 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57056.016          64252.359          11503.313  3
    END-POINT  57056.016          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BN                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  57052.516          64252.359          11503.313  3  FL
    END-POINT  57056.016          64252.359          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BO                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  57052.391          64252.359          11503.313  3
    END-POINT  57052.516          64252.359          11503.313  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_JN                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  57052.391          64252.359          11503.313 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_JO                  
FLANGE
    END-POINT  57052.391          64252.359          11503.313  3  FL
    END-POINT  57048.891          64252.359          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BR                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  57048.891          64252.359          11503.313  3
    END-POINT  57048.891          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BS                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  57044.516          64252.359          11503.313  3  BW
    END-POINT  57048.891          64252.359          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BT                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  57044.516          64252.359          11503.313  3
    END-POINT  57044.516          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BU                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  57037.892          64255.103          11503.313  3  BW
    END-POINT  57044.516          64252.359          11503.313  3  BW
    CENTRE-POINT   57040.636          64252.359          11503.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BV                  
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57037.892          64255.103          11503.313  3
    END-POINT  57037.892          64255.103          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BW                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  57034.798          64258.197          11503.313  3  BW
    END-POINT  57037.892          64255.103          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BX                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  57034.798          64258.197          11503.313  3
    END-POINT  57034.798          64258.197          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BY                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  57032.324          64260.671          11503.313  3  FL
    END-POINT  57034.798          64258.197          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_BZ                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  57032.324          64260.671          11503.313  3
    END-POINT  57032.235          64260.760          11503.313  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C0                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  57032.235          64260.760          11503.313 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C1                  
FLANGE
    END-POINT  57032.235          64260.760          11503.313  3  FL
    END-POINT  57029.760          64263.235          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C2                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  57029.760          64263.235          11503.313  3
    END-POINT  57029.760          64263.235          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C3                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  57029.760          64263.235          11503.313  3  BW
    END-POINT  56979.763          64313.232          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C4                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56979.763          64313.232          11503.313  3
    END-POINT  56979.763          64313.232          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C5                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  56977.288          64315.707          11503.313  3  FL
    END-POINT  56979.763          64313.232          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C6                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  56977.288          64315.707          11503.313  3
    END-POINT  56977.199          64315.796          11503.313  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C7                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  56977.199          64315.796          11503.313 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C8                  
FLANGE
    END-POINT  56977.199          64315.796          11503.313  3  FL
    END-POINT  56974.725          64318.270          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_C9                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56974.725          64318.270          11503.313  3
    END-POINT  56974.725          64318.270          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CA                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  56971.896          64321.099          11503.313  3  BW
    END-POINT  56974.725          64318.270          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CB                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56971.896          64321.099          11503.313  3
    END-POINT  56971.896          64321.099          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CC                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  56967.300          64325.695          11496.813  3  BW
    END-POINT  56971.896          64321.099          11503.313  3  BW
    CENTRE-POINT   56967.300          64325.695          11503.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CD                  
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  56967.300          64325.695          11496.813  3
    END-POINT  56967.300          64325.695          11496.813  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CE                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  56967.300          64325.695          11492.813  3  BW
    END-POINT  56967.300          64325.695          11496.813  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CF                  
    PIPING-SPEC S5C
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56967.300  64325.695  11496.813 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56967.300  64443.909  11496.813 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX2
    MESSAGE
    TEXT COL B
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56967.300  64325.695  11496.813 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57059.280  64325.695  11496.813 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX2
    MESSAGE
    TEXT COL 36
WELD
    END-POINT  56967.300          64325.695          11492.813  3
    END-POINT  56967.300          64325.695          11492.813  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CG                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  56967.300          64325.695          11489.313  3  FL
    END-POINT  56967.300          64325.695          11492.813  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CH                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  56967.300          64325.695          11489.313  3
    END-POINT  56967.300          64325.695          11489.188  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CI                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  56967.300          64325.695          11489.188 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CJ                  
FLANGE
    END-POINT  56967.300          64325.695          11489.188  3  FL
    END-POINT  56967.300          64325.695          11485.688  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CK                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56967.300          64325.695          11485.688  3
    END-POINT  56967.300          64325.695          11485.688  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_JT                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  56967.300          64325.695          11485.688  3  BW
    END-POINT  56967.300          64325.695          11425.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_JS                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  56967.300          64325.695          11425.500  3
    END-POINT  56967.300          64325.695          11425.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_JU                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  56967.300          64325.695          11422.000  3  FL
    END-POINT  56967.300          64325.695          11425.500  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_CO                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  56967.300          64325.695          11422.000  3
    END-POINT 
** 
Processing ID: AT_FRNRB3AK_NJ  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_NJ                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  56967.300          64325.695          11422.000 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FRNRB3AK_NK                  
END-POSITION-OPEN 
    CO-ORDS  56967.300  64325.695  11422.000 
MATERIALS
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, BW, 600LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 600LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 600LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 600LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 5 STUD BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 600LB
ITEM-CODE PIP3
    CATALOG ANSI B16.9
    DESCRIPTION PIPE, SCH 40S, ASTM A312 Gr TP304L, SEAMLESS
    RATING 40S
ITEM-CODE 45L3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG ELBOW, LONG TAN, BW, SCH 40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE 90L3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG ELBOW, LONG TAN, BW, SCH 40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 40S
