ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211008
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1211008-VTS-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 SG
    ATTRIBUTE22 12/23/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/17/2008
    ATTRIBUTE25 BP
    ATTRIBUTE26 1/6/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/5/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/5/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/5/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 1
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 BP
    ATTRIBUTE38 DD
    ATTRIBUTE39 IFC
    ATTRIBUTE40 2
    ATTRIBUTE41 2/23/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ADDED NOTE
    ATTRIBUTE46 3
    ATTRIBUTE47 11/1/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DD
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED SUPPORTS
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
TEE
    END-POINT  57788.190          63654.000          11461.750  3  BW
    END-POINT  57781.430          63654.000          11461.750  3  BW
    CENTRE-POINT   57784.810          63654.000          11461.750 
    BRANCH1-POINT  57784.810          63654.000          11465.130  3  BW
    SKEY TEBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UR                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57784.810          63654.000          11465.130  3
    END-POINT  57784.810          63654.000          11465.130  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  57788.190          63654.000          11461.750 
END-POSITION-OPEN 
    CO-ORDS  57781.430          63654.000          11461.750 
FLANGE
    END-POINT  57784.810          63654.000          11467.880  3  FL
    END-POINT  57784.810          63654.000          11465.130  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UN                 
    PIPING-SPEC S1
GASKET
    END-POINT  57784.810          63654.000          11468.005  3
    END-POINT  57784.810          63654.000          11467.880  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UV                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57784.810          63654.000          11468.005  3  FL
    END-POINT  57784.810          63654.000          11470.755  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UU                 
    PIPING-SPEC S1
MESSAGE
    CO-ORDS  57784.810  63654.000  11468.005 
    TEXT TP$032
    UNDIMENSIONED
WELD
    END-POINT  57784.810          63654.000          11470.755  3
    END-POINT  57784.810          63654.000          11470.755  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57784.810          63654.000          11479.367  3  BW
    END-POINT  57784.810          63654.000          11470.755  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57784.810          63654.000          11479.367  3
    END-POINT  57784.810          63654.000          11479.367  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57784.810          63654.000          11479.367  3  BW
    END-POINT  57784.810          63658.453          11483.867  3  BW
    CENTRE-POINT   57784.810          63654.000          11483.820 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6V0                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8940
WELD
    END-POINT  57784.810          63658.453          11483.867  3
    END-POINT  57784.810          63658.453          11483.867  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57784.797          63915.340          11486.590  3  BW
    END-POINT  57784.810          63658.453          11483.867  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VB                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57784.798  63896.859  11486.394  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VH                 
SUPPORT
    CO-ORDS  57784.807  63739.038  11484.487  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VR                 
SUPPORT
    CO-ORDS  57784.806  63739.293  11483.755  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_998                 
SUPPORT
    CO-ORDS  57784.798  63897.105  11485.429  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99B                 
WELD
    END-POINT  57784.797          63915.340          11486.590  3
    END-POINT  57784.797          63915.340          11486.590  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57784.797          63919.793          11491.090  3  BW
    END-POINT  57784.797          63915.340          11486.590  3  BW
    CENTRE-POINT   57784.797          63919.793          11486.637 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6V3                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8940
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57784.797  63919.793  11486.637 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63919.793  11486.637 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57784.797  63919.793  11486.637 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57784.797  63898.800  11486.637 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57784.797          63919.793          11491.090  3
    END-POINT  57784.797          63919.793          11491.090  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6V8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57784.797          63919.790          11718.316  3  BW
    END-POINT  57784.797          63919.793          11491.090  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UH                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57784.797  63919.793  11560.754  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VM                 
SUPPORT
    CO-ORDS  57784.797  63918.829  11561.020  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99E                 
WELD
    END-POINT  57784.797          63919.790          11718.316  3
    END-POINT  57784.797          63919.790          11718.316  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57784.797          63919.790          11718.316  3  BW
    END-POINT  57789.218          63919.790          11722.815  3  BW
    CENTRE-POINT   57784.797          63919.790          11722.738 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8900
WELD
    END-POINT  57789.218          63919.790          11722.815  3
    END-POINT  57789.218          63919.790          11722.815  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6UJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57837.967          63919.814          11723.595  3  BW
    END-POINT  57789.218          63919.790          11722.815  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_63D                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57814.745  63919.805  11723.218  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_692                 
SUPPORT
    CO-ORDS  57814.755  63919.801  11723.230  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6VZ                 
WELD
    END-POINT  57837.967          63919.814          11723.595  3
    END-POINT  57837.967          63919.814          11723.595  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_63E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57844.725          63919.817          11723.713  3  BW
    END-POINT  57837.967          63919.814          11723.595  3  BW
    CENTRE-POINT   57841.346          63919.816          11723.654 
    BRANCH1-POINT  57841.287          63919.809          11727.033  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57844.725          63919.817          11723.713  3
    END-POINT  57844.725          63919.817          11723.713  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57841.287          63919.809          11727.033  3
    END-POINT  57841.287          63919.809          11727.033  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6W1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57841.154          63919.800          11734.678  3  BW
    END-POINT  57841.287          63919.809          11727.033  3  BW
    CONTINUATION 
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5SF                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57841.154          63919.800          11734.678 
    PIPELINE-REFERENCE ISO-PY3-1215011
PIPE
    END-POINT  57847.817          63919.818          11723.767  3  BW
    END-POINT  57844.725          63919.817          11723.713  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UU                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57847.817          63919.818          11723.767  3
    END-POINT  57847.817          63919.818          11723.767  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57854.576          63919.821          11723.885  3  BW
    END-POINT  57847.817          63919.818          11723.767  3  BW
    CENTRE-POINT   57851.196          63919.820          11723.826 
    BRANCH1-POINT  57851.128          63919.820          11727.205  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8983
WELD
    END-POINT  57854.576          63919.821          11723.885  3
    END-POINT  57854.576          63919.821          11723.885  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57851.128          63919.820          11727.205  3
    END-POINT  57851.128          63919.820          11727.205  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5SL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57849.650          63919.820          11811.518  3  BW
    END-POINT  57851.128          63919.820          11727.205  3  BW
    CONTINUATION 
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5SJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57850.111  63919.820  11785.195  3
    SKEY ANCH
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5W6                 
END-CONNECTION-PIPELINE 
    CO-ORDS  57849.650          63919.820          11811.518 
    PIPELINE-REFERENCE ISO-PY3-1222007
PIPE
    END-POINT  57854.576          63919.821          11723.885  3  BW
    END-POINT  57857.158          63919.800          11723.930  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UN                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57857.158          63919.800          11723.930  3
    END-POINT  57857.158          63919.800          11723.930  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57863.907          63919.800          11724.048  3  BW
    END-POINT  57857.158          63919.800          11723.930  3  BW
    CENTRE-POINT   57860.533          63919.800          11723.989 
    BRANCH1-POINT  57860.480          63919.800          11726.988  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED3X2
    WEIGHT           1.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_523                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57863.907          63919.800          11724.048  3
    END-POINT  57863.907          63919.800          11724.048  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57860.480          63919.800          11726.988  2
    END-POINT  57860.480          63919.800          11726.988  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57860.026          63919.800          11753.039  2  BW
    END-POINT  57860.480          63919.800          11726.988  2  BW
    CONTINUATION 
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52K                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57860.026          63919.800          11753.039 
    PIPELINE-REFERENCE ISO-PY3-1214004
PIPE
    END-POINT  57863.907          63919.800          11724.048  3  BW
    END-POINT  57867.574          63919.800          11724.112  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52O                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57867.574          63919.800          11724.112  3
    END-POINT  57867.574          63919.800          11724.112  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57871.996          63919.800          11728.611  3  BW
    END-POINT  57867.574          63919.800          11724.112  3  BW
    CENTRE-POINT   57871.996          63919.800          11724.189 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_51H                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8900
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57871.996  63919.800  11724.189 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57871.996  63898.800  11724.189 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57871.996  63919.800  11724.189 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63919.800  11724.189 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57871.996          63919.800          11728.611  3
    END-POINT  57871.996          63919.800          11728.611  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5V1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57871.996          63919.800          11740.349  3  BW
    END-POINT  57871.996          63919.800          11728.611  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57871.996          63919.800          11740.349  3
    END-POINT  57871.996          63919.800          11740.349  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5V0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57873.410          63919.800          11743.763  3  BW
    END-POINT  57871.996          63919.800          11740.349  3  BW
    CENTRE-POINT   57871.996          63919.800          11742.349 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  57873.410          63919.800          11743.763  3
    END-POINT  57873.410          63919.800          11743.763  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5V3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57873.410          63919.800          11743.763  3  BW
    END-POINT  57885.386          63919.800          11755.739  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5V2                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57885.386          63919.800          11755.739  3
    END-POINT  57885.386          63919.800          11755.739  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5V4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57886.800          63919.800          11759.154  3  BW
    END-POINT  57885.386          63919.800          11755.739  3  BW
    CENTRE-POINT   57886.800          63919.800          11757.154 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5UY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  57886.800          63919.800          11759.154  3
    END-POINT  57886.800          63919.800          11759.154  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_62N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57886.800          63919.800          12057.758  3  BW
    END-POINT  57886.800          63919.800          11759.154  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_62L                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57886.800  63919.800  11929.034  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_62S                 
FLOOR-SYMBOL 
    CO-ORDS  57886.800  63919.800  11928.051 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57886.800  63919.800  11928.051 
    TEXT Grate Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57886.800  63919.800  11784.057  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_62W                 
FLOOR-SYMBOL 
    CO-ORDS  57886.800  63919.800  11784.033 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57886.800  63919.800  11784.033 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  57886.800          63919.800          12057.758  3
    END-POINT  57886.800          63919.800          12057.758  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_62M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57886.800          63919.800          12057.758  3  BW
    END-POINT  57886.800          63924.253          12062.258  3  BW
    CENTRE-POINT   57886.800          63919.800          12062.211 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_61Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8940
WELD
    END-POINT  57886.800          63924.253          12062.258  3
    END-POINT  57886.800          63924.253          12062.258  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_627                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57886.800          64107.144          12064.211  3  BW
    END-POINT  57886.800          63924.253          12062.258  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_625                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57886.800  64090.885  12064.038  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_62J                 
SUPPORT
    CO-ORDS  57886.800  63994.223  12063.005  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_62O                 
WELD
    END-POINT  57886.800          64107.144          12064.211  3
    END-POINT  57886.800          64107.144          12064.211  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_626                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57886.800          64111.612          12068.711  3  BW
    END-POINT  57886.800          64107.144          12064.211  3  BW
    CENTRE-POINT   57886.800          64111.612          12064.243 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_622                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8960
WELD
    END-POINT  57886.800          64111.612          12068.711  3
    END-POINT  57886.800          64111.612          12068.711  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57886.800          64111.612          12068.711  3  BW
    END-POINT  57886.800          64111.612          12078.711  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57886.800          64111.612          12078.711  3
    END-POINT  57886.800          64111.612          12078.711  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6ND                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57886.800          64111.612          12078.711  3  BW
    END-POINT  57891.231          64111.612          12083.211  3  BW
    CENTRE-POINT   57886.800          64111.612          12083.143 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_61S                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8912
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57886.800  64111.612  12083.143 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64111.612  12083.143 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57886.800  64111.612  12083.143 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57886.800  64138.800  12083.143 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57891.231          64111.612          12083.211  3
    END-POINT  57891.231          64111.612          12083.211  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_61W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57891.231          64111.612          12083.211  3  BW
    END-POINT  57944.648          64111.583          12084.097  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_61V                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57944.648          64111.583          12084.097  3
    END-POINT  57944.648          64111.583          12084.097  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_61X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57949.093          64111.583          12088.596  3  BW
    END-POINT  57944.648          64111.583          12084.097  3  BW
    CENTRE-POINT   57949.093          64111.583          12084.151 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_60M                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8930
WELD
    END-POINT  57949.093          64111.583          12088.596  3
    END-POINT  57949.093          64111.583          12088.596  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57949.093          64111.583          12088.596  3  BW
    END-POINT  57949.093          64111.583          12178.575  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_60Q                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57949.093  64111.583  12145.012  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_631                 
FLOOR-SYMBOL 
    CO-ORDS  57949.093  64111.583  12143.940 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57949.093  64111.583  12143.940 
    TEXT Grate Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57949.093  64111.583  12131.993  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NE                 
SUPPORT
    CO-ORDS  57949.093  64111.583  12131.961  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NG                 
WELD
    END-POINT  57949.093          64111.583          12178.575  3
    END-POINT  57949.093          64111.583          12178.575  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_60S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57949.093          64111.583          12178.575  3  BW
    END-POINT  57953.544          64111.583          12183.075  3  BW
    CENTRE-POINT   57949.093          64111.583          12183.027 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_607                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8938
WELD
    END-POINT  57953.544          64111.583          12183.075  3
    END-POINT  57953.544          64111.583          12183.075  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_60B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57953.544          64111.583          12183.075  3  BW
    END-POINT  57988.908          64111.583          12183.452  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_60A                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57988.908          64111.583          12183.452  3
    END-POINT  57988.908          64111.583          12183.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_60C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57988.908          64111.583          12183.452  3
    END-POINT  57988.908          64111.583          12183.452  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_60D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57989.187          64111.583          12183.452  3  FL
    END-POINT  57988.908          64111.583          12183.452  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5ZS                 
    PIPING-SPEC S1
GASKET
    END-POINT  57989.187          64111.583          12183.452  3
    END-POINT  57989.312          64111.583          12183.452  3
    ERECTION-ITEM
    ITEM-CODE GAS3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5ZT                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57989.187          64111.583          12183.452 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5ZU                 
VALVE-ANGLE
    END-POINT  57994.812          64111.583          12179.322  2  FL
    END-POINT  57989.312          64111.583          12183.452  3  FL
    CENTRE-POINT   57994.812          64111.583          12183.452 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5ZL                 
    TAG PSV-022-05                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57994.812  64111.583  12183.452 
    TEXT PSV$022$05
    UNDIMENSIONED
GASKET
    END-POINT  57994.812          64111.583          12179.322  2
    END-POINT  57994.812          64111.583          12179.197  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5ZN                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57994.812          64111.583          12179.322 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5ZO                 
END-POSITION-OPEN 
    CO-ORDS  57994.812          64111.583          12179.197 
MATERIALS
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-3
    DESCRIPTION P651 FIG. 1
ITEM-CODE SUPLTR3
    DESCRIPTION P629 FIG. 9 (L=3'-0")
ITEM-CODE SUPLTR3_1
    DESCRIPTION P629 FIG. 8 (L=3'-0")
ITEM-CODE SUPUB-3_1
    DESCRIPTION P629 FIG 8, W/ P651 FIG 1  U-BOLT GUIDE
ITEM-CODE SUPPS-3
    DESCRIPTION PIPE INSULATION PROTECTION SADDLE
ITEM-CODE TEESTR3
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED3X2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE SUPRH-3_1
    DESCRIPTION P624, FIG. 4
ITEM-CODE SUPUB-3_2
    DESCRIPTION P629 FIG 8, W/ P651 FIG 1 U-BOLT GUIDE
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3_1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-022-05
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
