ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1901020
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 WW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1901020-WW-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 S.GIBSON
    ATTRIBUTE22 3/31/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 RHP
    ATTRIBUTE26 3/31/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 3/31/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 3/31/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 3/31/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/31/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58181.805          64325.775          11320.953  2  SC FEMALE 
    END-POINT  58181.805          64328.025          11320.953  2
    SKEY KASC
    ERECTION-ITEM
    ITEM-CODE GENEND2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWQ                 
    TAG SP-032                          
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58181.805  64325.025  11320.953 
    TEXT SP-032
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58181.805          64325.775          11320.953  2  SC FEMALE 
    END-POINT  58181.805          64325.775          11320.953  2  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWR                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58181.805          64321.775          11320.953  2  PL
    END-POINT  58181.805          64325.775          11320.953  2  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP2
    WEIGHT           0.880
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWL                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64321.775          11320.953  2
    END-POINT  58181.805          64321.775          11320.953  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64321.775          11320.953  2
    END-POINT  58181.805          64321.775          11320.953  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58181.805          64322.178          11320.953  2  FL
    END-POINT  58181.805          64321.775          11320.953  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEQ                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58181.805          64322.178          11320.953  2
    END-POINT  58181.805          64322.053          11320.953  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BER                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.805          64322.178          11320.953 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BES                 
VALVE
    END-POINT  58181.805          64315.053          11320.953  2  FL
    END-POINT  58181.805          64322.053          11320.953  2  FL
    CENTRE-POINT   58181.805          64318.553          11320.953 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEL                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58181.805          64315.053          11320.953  2
    END-POINT  58181.805          64314.928          11320.953  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEM                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.805          64315.053          11320.953 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEN                 
FLANGE
    END-POINT  58181.805          64314.928          11320.953  2  FL
    END-POINT  58181.805          64314.712          11320.953  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEI                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64314.712          11320.953  2
    END-POINT  58181.805          64314.712          11320.953  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64314.712          11320.953  2
    END-POINT  58181.805          64314.712          11320.953  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58181.805          64311.712          11320.953  2  BW
    END-POINT  58181.805          64314.712          11320.953  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64311.712          11320.953  2
    END-POINT  58181.805          64311.712          11320.953  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58181.805          64309.212          11318.453  2  BW
    END-POINT  58181.805          64309.212          11323.453  2  BW
    CENTRE-POINT   58181.805          64309.212          11320.953 
    BRANCH1-POINT  58181.805          64311.712          11320.953  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1J                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58181.805          64309.212          11318.453  2
    END-POINT  58181.805          64309.212          11318.453  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11323.453  2
    END-POINT  58181.805          64309.212          11323.453  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58181.805          64309.212          11323.453  2  BW
    END-POINT  58181.805          64309.212          11329.965  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1N                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11329.965  2
    END-POINT  58181.805          64309.212          11329.965  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B2R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11329.965  2
    END-POINT  58181.805          64309.212          11329.965  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B2S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805  64309.212  11326.453  2
    END-POINT  58181.805  64309.212  11326.453  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1S                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58181.805  64309.212  11326.453 
    BRANCH1-POINT  58179.868          64309.212          11326.453  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1Q                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58179.868          64309.212          11326.453  0.5
    END-POINT  58179.868          64309.212          11326.453  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1V                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58179.868          64309.212          11326.453  0.5  BW
    END-POINT  58176.458          64309.212          11326.453  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1U                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58176.458          64309.212          11326.453  0.5  SW FEMALE 
    END-POINT  58176.458          64309.212          11326.453  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58176.458          64309.212          11326.453  0.5  SW FEMALE 
    END-POINT  58174.778          64309.212          11326.453  0.5  SW FEMALE 
    CENTRE-POINT   58175.573          64309.212          11326.453 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1W                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58174.778          64309.212          11326.453  0.5
    END-POINT  58174.778          64309.212          11326.453  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C79                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58174.778          64309.212          11326.453  0.5  PL
    END-POINT  58171.778          64309.212          11326.453  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C78                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58172.278  64309.212  11326.453 
    TEXT PI$222$04
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58171.778          64309.212          11326.453 
FLANGE
    END-POINT  58181.805          64309.212          11330.181  2  FL
    END-POINT  58181.805          64309.212          11329.965  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B2Q                 
    PIPING-SPEC S1
GASKET
    END-POINT  58181.805          64309.212          11330.306  2
    END-POINT  58181.805          64309.212          11330.181  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B2U                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.805          64309.212          11330.306 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B2V                 
VALVE
    END-POINT  58181.805          64309.212          11330.306  2  FL
    END-POINT  58181.805          64309.212          11337.306  2  FL
    CENTRE-POINT   58181.805          64309.212          11333.806 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B2T                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  58181.805          64309.212          11337.431  2
    END-POINT  58181.805          64309.212          11337.306  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B30                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.805          64309.212          11337.431 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B31                 
FLANGE
    END-POINT  58181.805          64309.212          11337.431  2  FL
    END-POINT  58181.805          64309.212          11337.648  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B2Z                 
    PIPING-SPEC S1
WELD
    END-POINT  58181.805          64309.212          11337.648  2
    END-POINT  58181.805          64309.212          11337.648  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B33                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11337.648  2
    END-POINT  58181.805          64309.212          11337.648  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B34                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58181.805          64309.212          11337.648  2  PL
    END-POINT  58181.805          64309.212          11340.648  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B32                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11340.648  2
    END-POINT  58181.805          64309.212          11340.648  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B37                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58181.805          64309.212          11340.648  2  BW
    END-POINT  58178.805          64309.212          11343.648  2  BW
    CENTRE-POINT   58181.805          64309.212          11343.648 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B35                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58178.805          64309.212          11343.648  2
    END-POINT  58178.805          64309.212          11343.648  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58178.805          64309.212          11343.648  2  BW
    END-POINT  58168.819          64309.212          11343.648  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58168.819          64309.212          11343.648  2
    END-POINT  58168.819          64309.212          11343.648  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58168.819          64309.212          11343.648  2  BW
    END-POINT  58165.819          64309.212          11346.648  2  BW
    CENTRE-POINT   58165.819          64309.212          11343.648 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58165.819          64309.212          11346.648  2
    END-POINT  58165.819          64309.212          11346.648  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BF3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58165.819          64309.212          11346.648  2  BW
    END-POINT  58165.819          64309.212          11429.228  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BF2                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58165.819  64309.212  11407.208  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVN                 
FLOW-ARROW
    CO-ORDS  58165.819  64309.212  11397.034 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58165.819          64309.212          11429.228  2
    END-POINT  58165.819          64309.212          11429.228  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58165.819          64309.212          11429.228  2  BW
    END-POINT  58162.819          64309.212          11432.228  2  BW
    CENTRE-POINT   58165.819          64309.212          11432.228 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58165.819  64309.212  11432.228 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64309.212  11432.228 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58165.819  64309.212  11432.228 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58165.819  64378.800  11432.228 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58162.819          64309.212          11432.228  2
    END-POINT  58162.819          64309.212          11432.228  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58162.819          64309.212          11432.228  2  BW
    END-POINT  58102.286          64309.212          11432.228  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BF8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58102.286          64309.212          11432.228  2
    END-POINT  58102.286          64309.212          11432.228  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BFC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58102.286          64309.212          11432.228  2  BW
    END-POINT  58099.286          64309.212          11435.228  2  BW
    CENTRE-POINT   58099.286          64309.212          11432.228 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BFA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58099.286          64309.212          11435.228  2
    END-POINT  58099.286          64309.212          11435.228  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BV9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.286          64309.212          11435.228  2  BW
    END-POINT  58099.286          64309.212          11446.726  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BV8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58099.286          64309.212          11446.726  2
    END-POINT  58099.286          64309.212          11446.726  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58099.286          64309.212          11446.726  2  BW
    END-POINT  58099.286          64306.264          11449.726  2  BW
    CENTRE-POINT   58099.286          64309.212          11449.675 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BUZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8900
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58099.286  64309.212  11449.675 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64309.212  11449.675 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58099.286  64309.212  11449.675 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58099.286  64378.800  11449.675 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58099.286          64306.264          11449.726  2
    END-POINT  58099.286          64306.264          11449.726  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.286          64002.909          11452.863  2  BW
    END-POINT  58099.286          64306.264          11449.726  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BV5                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58099.286  64236.603  11450.446  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVL                 
SUPPORT
    CO-ORDS  58099.286  64138.783  11451.458  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWD                 
SUPPORT
    CO-ORDS  58099.286  64042.234  11452.456  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWF                 
WELD
    END-POINT  58099.286          64002.909          11452.863  2
    END-POINT  58099.286          64002.909          11452.863  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58099.286          63999.961          11455.863  2  BW
    END-POINT  58099.286          64002.909          11452.863  2  BW
    CENTRE-POINT   58099.286          63999.961          11452.915 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BUW                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8900
WELD
    END-POINT  58099.286          63999.961          11455.863  2
    END-POINT  58099.286          63999.961          11455.863  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.286          63999.977          11465.300  2  BW
    END-POINT  58099.286          63999.961          11455.863  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVC                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58099.286  63999.972  11461.815 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58099.286          63999.977          11465.300  2
    END-POINT  58099.286          63999.977          11465.300  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58099.286          63999.977          11465.300  2  BW
    END-POINT  58096.286          63999.977          11468.300  2  BW
    CENTRE-POINT   58099.286          63999.977          11468.300 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BH6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58096.286          63999.977          11468.300  2
    END-POINT  58096.286          63999.977          11468.300  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BSR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58042.936          63999.977          11468.800  2  BW
    END-POINT  58096.286          63999.977          11468.300  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BSP                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58052.880  63999.977  11468.707  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BSV                 
WELD
    END-POINT  58042.936          63999.977          11468.800  2
    END-POINT  58042.936          63999.977          11468.800  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BSQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58042.936          63999.977          11468.800  2  BW
    END-POINT  58039.936          63999.977          11471.800  2  BW
    CENTRE-POINT   58039.936          63999.977          11468.800 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BHW                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58039.936          63999.977          11471.800  2
    END-POINT  58039.936          63999.977          11471.800  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BU1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58039.936          63999.977          11495.614  2  BW
    END-POINT  58039.936          63999.977          11471.800  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BTZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58039.936          63999.977          11495.614  2
    END-POINT  58039.936          63999.977          11495.614  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BU2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58039.936          63996.977          11498.614  2  BW
    END-POINT  58039.936          63999.977          11495.614  2  BW
    CENTRE-POINT   58039.936          63999.977          11498.614 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BTU                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58039.936          63996.977          11498.614  2
    END-POINT  58039.936          63996.977          11498.614  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BTX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58039.936          63996.977          11498.614  2  BW
    END-POINT  58039.936          63980.003          11498.739  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BTW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58039.936          63980.003          11498.739  2
    END-POINT  58039.936          63980.003          11498.739  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BU9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58039.936          63977.003          11501.739  2  BW
    END-POINT  58039.936          63980.003          11498.739  2  BW
    CENTRE-POINT   58039.936          63977.003          11498.739 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BU6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58039.936          63977.003          11501.739  2
    END-POINT  58039.936          63977.003          11501.739  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BU8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58039.936          63977.003          11501.739  2  BW
    END-POINT  58036.988          63977.003          11504.739  2  BW
    CENTRE-POINT   58039.936          63977.003          11504.688 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BTG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8900
WELD
    END-POINT  58036.988          63977.003          11504.739  2
    END-POINT  58036.988          63977.003          11504.739  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BTN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57633.565          63977.003          11509.188  2  BW
    END-POINT  58036.988          63977.003          11504.739  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BTK                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57738.196  63977.003  11508.034  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BUM                 
SUPPORT
    CO-ORDS  57841.806  63977.003  11506.891  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BUO                 
SUPPORT
    CO-ORDS  57903.890  63977.003  11506.207  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BUQ                 
SUPPORT
    CO-ORDS  58006.669  63977.003  11505.073  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BUS                 
FLOW-ARROW
    CO-ORDS  57784.916  63977.003  11507.519 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57633.565          63977.003          11509.188  2
    END-POINT  57633.565          63977.003          11509.188  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8MMWW2_6IN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57628.565          63977.003          11509.188  2  BW
    END-POINT  57633.565          63977.003          11509.188  2  BW
    CENTRE-POINT   57631.065          63977.003          11509.188 
    BRANCH1-POINT  57631.065          63977.003          11511.688  2  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8MMWW2_6IL                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57628.565          63977.003          11509.188 
    PIPELINE-REFERENCE ISO-SP3-1901001
PIPE
    END-POINT  58181.805          64309.212          11315.453  2  PL
    END-POINT  58181.805          64309.212          11318.453  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1G                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11315.453  2
    END-POINT  58181.805          64309.212          11315.453  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11315.453  2
    END-POINT  58181.805          64309.212          11315.453  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58181.805          64309.212          11315.236  2  FL
    END-POINT  58181.805          64309.212          11315.453  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1D                 
    PIPING-SPEC S1
GASKET
    END-POINT  58181.805          64309.212          11315.236  2
    END-POINT  58181.805          64309.212          11315.111  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1E                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.805          64309.212          11315.236 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B1F                 
VALVE
    END-POINT  58181.805          64309.212          11307.111  2  FL
    END-POINT  58181.805          64309.212          11315.111  2  FL
    CENTRE-POINT   58181.805          64309.212          11311.111 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK2
    WEIGHT          24.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B19                 
    PIPING-SPEC S1
GASKET
    END-POINT  58181.805          64309.212          11306.986  2
    END-POINT  58181.805          64309.212          11307.111  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVV                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.805          64309.212          11306.986 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVW                 
FLANGE
    END-POINT  58181.805          64309.212          11306.986  2  FL
    END-POINT  58181.805          64309.212          11304.486  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BEA                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11304.486  2
    END-POINT  58181.805          64309.212          11304.486  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BGB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58181.805          64309.212          11295.875  2  BW
    END-POINT  58181.805          64309.212          11304.486  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BG9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64309.212          11295.875  2
    END-POINT  58181.805          64309.212          11295.875  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BGA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58181.805          64306.212          11292.875  2  BW
    END-POINT  58181.805          64309.212          11295.875  2  BW
    CENTRE-POINT   58181.805          64309.212          11292.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BG4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58181.805  64309.212  11292.875  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BVH                 
WELD
    END-POINT  58181.805          64306.212          11292.875  2
    END-POINT  58181.805          64306.212          11292.875  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58181.805          64303.712          11292.875  2  FL
    END-POINT  58181.805          64306.212          11292.875  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWV                 
    PIPING-SPEC S1
GASKET
    END-POINT  58181.805          64303.587          11292.875  2
    END-POINT  58181.805          64303.712          11292.875  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWY                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.805          64303.587          11292.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWZ                 
FLANGE
    END-POINT  58181.805          64303.587          11292.875  2  FL
    END-POINT  58181.805          64303.370          11292.875  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BWX                 
    PIPING-SPEC S1
WELD
    END-POINT  58181.805          64303.370          11292.875  2
    END-POINT  58181.805          64303.370          11292.875  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BX1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64303.370          11292.875  2
    END-POINT  58181.805          64303.370          11292.875  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BX2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58181.805          64303.370          11292.875  2  PL
    END-POINT  58181.805          64294.802          11292.875  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BX0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.805          64294.802          11292.875  2
    END-POINT  58181.805          64294.802          11292.875  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BX3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58181.805          64291.802          11289.875  2  BW
    END-POINT  58181.805          64294.802          11292.875  2  BW
    CENTRE-POINT   58181.805          64291.802          11292.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BG0                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58181.805          64291.802          11289.875  2
    END-POINT  58181.805          64291.802          11289.875  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BG2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58181.805          64291.802          11287.375  2  FL
    END-POINT  58181.805          64291.802          11289.875  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BDR                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58181.805          64291.802          11287.375  2
    END-POINT  58181.805          64291.802          11287.250  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BDS                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.805          64291.802          11287.375 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BDT                 
END-POSITION-OPEN 
    CO-ORDS  58181.805          64291.802          11287.250 
MATERIALS
ITEM-CODE GENEND2
    DESCRIPTION HOSE COUPLING, SP-032
    RATING 2000LB
ITEM-CODE NIPP2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 2"x4" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 4"
    RATING 40S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE WOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION P629, FIG 8, L= 0'- 11", W/ P627, FIG 2
ITEM-CODE SUPUB-2_1
    DESCRIPTION P651, FIG 1
ITEM-CODE SUPTS-2
    DESCRIPTION TEE SHOE SUPPORT, P603, FIG. 1, TRIM REQD.
ITEM-CODE SUPRH-2
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-10"
ITEM-CODE SUPRH-2_1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=3'-11 3/4"
ITEM-CODE SUPRH-2_2
    DESCRIPTION ROD HANGER P624, FIG. 4, L=4'-1"
ITEM-CODE SUPRH-2_3
    DESCRIPTION ROD HANGER P624, FIG. 4, L=4'-2"
ITEM-CODE VALVCHK2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPEB-2
    DESCRIPTION ELBOW SUPPORT P619 FIG 2, L=2'-2"
