ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212027
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1212027-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 S.KUMAR
    ATTRIBUTE22 2/23/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 2/23/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 2/23/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 2/23/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 2/23/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 2/23/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 DC
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58208.920          63966.179          11331.060  1  SC MALE 
    END-POINT  58208.920          63962.019          11331.060  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWJ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63966.179          11331.060  1  SC MALE 
    END-POINT  58208.920          63966.179          11331.060  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63962.019          11331.060  1  SC MALE 
    END-POINT  58208.920          63962.019          11331.060  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58208.920          63961.099          11330.140  1  SC FEMALE 
    END-POINT  58208.920          63961.099          11331.980  1  SC FEMALE 
    CENTRE-POINT   58208.920          63961.099          11331.060 
    BRANCH1-POINT  58208.920          63962.019          11331.060  1  SC FEMALE 
    SKEY TESC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58208.920          63961.099          11330.140 
    PIPELINE-REFERENCE ISO-PY3-2046001
ELBOW
    END-POINT  58208.920          63966.179          11331.060  1  SC FEMALE 
    END-POINT  58208.920          63967.099          11331.980  1  SC FEMALE 
    CENTRE-POINT   58208.920          63967.099          11331.060 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWL                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58208.920          63967.099          11331.980  1  SC FEMALE 
    END-POINT  58208.920          63967.099          11331.980  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58208.920          63967.099          11331.980  1  SC MALE 
    END-POINT  58208.920          63967.099          11336.395  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWN                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63967.099          11336.395  1  SC MALE 
    END-POINT  58208.920          63967.099          11336.395  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWO                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58208.920          63967.099          11336.395  1  SC FEMALE 
    END-POINT  58208.920          63967.099          11337.785  1  SC FEMALE 
    CENTRE-POINT   58208.920          63967.099          11337.090 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWP                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58208.920          63967.099          11337.785  1  SC FEMALE 
    END-POINT  58208.920          63967.099          11337.785  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWR                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58208.920          63967.099          11354.080  1  SC MALE 
    END-POINT  58208.920          63967.099          11337.785  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63967.099          11354.080  1  SC MALE 
    END-POINT  58208.920          63967.099          11354.080  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58208.920          63968.019          11355.000  1  SC FEMALE 
    END-POINT  58208.920          63967.099          11354.080  1  SC FEMALE 
    CENTRE-POINT   58208.920          63967.099          11355.000 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58208.920          63968.019          11355.000  1  SC FEMALE 
    END-POINT  58208.920          63968.019          11355.000  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58208.920          63992.947          11355.000  1  SC MALE 
    END-POINT  58208.920          63968.019          11355.000  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWW                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58208.920  63972.527  11355.000 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58208.920          63992.947          11355.000  1  SC MALE 
    END-POINT  58208.920          63992.947          11355.000  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58209.840          63993.867          11355.000  1  SC FEMALE 
    END-POINT  58208.920          63992.947          11355.000  1  SC FEMALE 
    CENTRE-POINT   58208.920          63993.867          11355.000 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58208.920  63993.867  11355.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58208.920  63898.800  11355.000 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58208.920  63993.867  11355.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63993.867  11355.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58209.840          63993.867          11355.000  1  SC FEMALE 
    END-POINT  58209.840          63993.867          11355.000  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JX2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58212.585          63993.867          11355.000  1  SC MALE 
    END-POINT  58209.840          63993.867          11355.000  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JX3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58212.585          63993.867          11355.000  1  SC MALE 
    END-POINT  58212.585          63993.867          11355.000  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58214.425          63993.867          11355.000  1  SC FEMALE 
    END-POINT  58212.585          63993.867          11355.000  1  SC FEMALE 
    CENTRE-POINT   58213.505          63993.867          11355.000 
    BRANCH1-POINT  58213.505          63993.867          11355.920  1  SC FEMALE 
    SKEY TESC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JX5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58214.425          63993.867          11355.000 
    PIPELINE-REFERENCE ISO-PY3-1212001
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
