ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046009
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046009-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/13/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/13/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 4/13/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/13/2009
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 3/2/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 4/14/2009
    ATTRIBUTE42 DC
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/1/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DD
    ATTRIBUTE56 DK
    ATTRIBUTE57 ADDED SUPPORT
    ATTRIBUTE58 4
    ATTRIBUTE59 12/17/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DK
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED FT-239-14
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58122.699          63976.625          11723.750  0.75  SC MALE 
    END-POINT  58128.700          63976.625          11723.750  0.75  SC MALE 
    CENTRE-POINT  58125.700  63976.625  11723.750 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8D                 
    TAG TIT-239-14                      
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58128.137  63976.625  11723.750 
    TEXT TIT$239$14
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58122.699          63976.625          11723.750  0.75  SC FEMALE 
    END-POINT  58122.699          63976.625          11723.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8C                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58128.700          63976.625          11723.750 
ELBOLET
    END-POINT  58121.387          63976.625          11723.750  3  PL
    END-POINT  58122.699          63976.625          11723.750  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8B                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58121.387          63976.625          11723.750  3
    END-POINT  58121.387          63976.625          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8A                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  58117.050          63976.625          11723.750  3  BW
    END-POINT  58121.550          63976.625          11728.250  3  BW
    CENTRE-POINT   58121.550          63976.625          11723.750 
    BRANCH1-POINT  58121.387          63976.625          11723.750  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H87                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  58121.387          63976.625          11723.750  3
WELD
    END-POINT  58117.050          63976.625          11723.750  3
    END-POINT  58117.050          63976.625          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H89                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58121.550          63976.625          11728.250  3
    END-POINT  58121.550          63976.625          11728.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUO                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63976.625          11737.250  3  BW
    END-POINT  58121.550          63976.625          11728.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUM                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58121.550          63976.625          11737.250  3
    END-POINT  58121.550          63976.625          11737.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58121.550          63972.125          11741.750  3  BW
    END-POINT  58121.550          63976.625          11737.250  3  BW
    CENTRE-POINT   58121.550          63976.625          11741.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58121.550          63972.125          11741.750  3
    END-POINT  58121.550          63972.125          11741.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63972.125          11741.750  3  BW
    END-POINT  58121.550          63881.305          11741.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H81                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58121.550  63969.125  11741.750  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IKC                 
SUPPORT
    CO-ORDS  58124.736  63969.125  11772.340  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IKE                 
WELD
    END-POINT  58121.550          63881.305          11741.750  3
    END-POINT  58121.550          63881.305          11741.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUR                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58121.550  63956.368  11741.750  3
    END-POINT  58121.550  63956.368  11741.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HTU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58121.550  63956.368  11741.750 
    BRANCH1-POINT  58121.550          63956.368          11739.313  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HTS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63956.368          11739.313  1.5  SC MALE 
    END-POINT  58121.550          63956.368          11739.313  1.5  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NNH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63956.368          11739.313  1.5  SC MALE 
    END-POINT  58121.550          63956.368          11731.925  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NIO                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550          63956.368          11731.925 
    PIPELINE-REFERENCE ISO-PY3-2046035
TEE
    END-POINT  58121.550          63877.925          11738.370  3  BW
    END-POINT  58121.550          63877.925          11745.130  3  BW
    CENTRE-POINT   58121.550          63877.925          11741.750 
    BRANCH1-POINT  58121.550          63881.305          11741.750  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUP                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58121.550          63877.925          11738.370  3
    END-POINT  58121.550          63877.925          11738.370  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IK5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58121.550          63877.925          11745.130  3
    END-POINT  58121.550          63877.925          11745.130  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUT                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63877.925          11455.259  3  BW
    END-POINT  58121.550          63877.925          11738.370  3  BW
    CONTINUATION 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IJK                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58121.550  63877.925  11565.250  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IJ0                 
SUPPORT
    CO-ORDS  58121.550  63877.925  11565.250  3
    SKEY GUID
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IIX                 
FLOW-ARROW
    CO-ORDS  58121.550  63877.925  11655.576 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550          63877.925          11455.259 
    PIPELINE-REFERENCE ISO-PY3-2046011
PIPE
    END-POINT  58121.550          63877.925          11745.130  3  BW
    END-POINT  58121.550          63877.925          12023.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H97                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58121.550  63877.925  11783.631  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9B                 
TEE-SET-ON
    BRANCH1-POINT  58121.550          63876.175          11783.631  1.75
    CENTRE-POINT   58121.550  63877.925  11783.631 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58121.550          63876.175          11783.631  1.75  BW
    END-POINT  58121.550  63868.925  11783.631  1.75  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58121.550  63868.925  11783.631 
TEE-SET-ON
    BRANCH1-POINT  58121.550          63879.675          11783.631  1.75
    CENTRE-POINT   58121.550  63877.925  11783.631 
    SKEY TESO
PIPE
    END-POINT  58121.550          63879.675          11783.631  1.75  BW
    END-POINT  58121.550  63886.925  11783.631  1.75  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58121.550  63886.925  11783.631 
FLOW-ARROW
    CO-ORDS  58121.550  63877.925  11797.739 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58121.550  63877.925  11924.750  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IKS                 
    TAG                         P651 FIG. 1                     
SUPPORT
    CO-ORDS  58121.550  63877.925  11924.750  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IKZ                 
    TAG                         P629 FIG. 5                     
WELD
    END-POINT  58121.550          63877.925          12023.250  3
    END-POINT  58121.550          63877.925          12023.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9D                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58121.550  63877.925  11862.163  3
    END-POINT  58121.550  63877.925  11862.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9E                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58121.550  63877.925  11855.163  3
    END-POINT  58121.550  63877.925  11855.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9F                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58121.550  63877.925  11855.163 
    BRANCH1-POINT  58121.550          63880.362          11855.163  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9G                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63880.362          11855.163  1.5  SC FEMALE 
    END-POINT  58121.550          63880.362          11855.163  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1W                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63886.182          11855.163  1.5  SC MALE 
    END-POINT  58121.550          63880.362          11855.163  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KYJ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550          63886.182          11855.163 
    PIPELINE-REFERENCE ISO-PY3-2046025
OLET
    CENTRE-POINT      58121.550  63877.925  11862.163 
    BRANCH1-POINT  58121.550          63880.362          11862.163  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9I                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63880.362          11862.163  1.5  SC FEMALE 
    END-POINT  58121.550          63880.362          11862.163  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1Y                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63905.157          11862.163  1.5  SC MALE 
    END-POINT  58121.550          63880.362          11862.163  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JB5                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550          63905.157          11862.163 
    PIPELINE-REFERENCE ISO-PY3-2046016
ELBOW
    END-POINT  58121.550          63882.425          12027.750  3  BW
    END-POINT  58121.550          63877.925          12023.250  3  BW
    CENTRE-POINT   58121.550          63877.925          12027.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9K                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58121.550          63882.425          12027.750  3
    END-POINT  58121.550          63882.425          12027.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9L                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63882.425          12027.750  3  BW
    END-POINT  58121.550          63999.488          12027.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9M                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58121.550  63913.085  12027.750  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9N                 
FLOW-ARROW
    CO-ORDS  58121.550  63939.334  12027.750 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58121.550          63999.488          12027.750  3
    END-POINT  58121.550          63999.488          12027.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9P                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58121.550          63999.488          12027.750  3  BW
    END-POINT  58121.550          64003.988          12032.250  3  BW
    CENTRE-POINT   58121.550          64003.988          12027.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9Q                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58121.550  64003.988  12027.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64003.988  12027.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  58121.550          64003.988          12032.250  3
    END-POINT  58121.550          64003.988          12032.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9S                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          64003.988          12040.921  3  BW
    END-POINT  58121.550          64003.988          12032.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9T                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58121.550          64003.988          12040.921  3
    END-POINT  58121.550          64003.988          12040.921  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9U                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58121.550          64003.988          12040.921  3  BW
    END-POINT  58126.050          64003.988          12045.421  3  BW
    CENTRE-POINT   58121.550          64003.988          12045.421 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H9V                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58121.550  64003.988  12045.421 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58121.550  63898.800  12045.421 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  58126.050          64003.988          12045.421  3
    END-POINT  58126.050          64003.988          12045.421  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUO                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58126.050          64003.988          12045.421  3  BW
    END-POINT  58216.404          64003.988          12045.421  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUG                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58194.497  64003.988  12045.421  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUM                 
FLOW-ARROW
    CO-ORDS  58157.969  64003.988  12045.421 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58216.404          64003.988          12045.421  3
    END-POINT  58216.404          64003.988          12045.421  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J22                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58201.741  64003.988  12045.421  3
    END-POINT  58201.741  64003.988  12045.421  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58136.909  64003.988  12045.421  3
    END-POINT  58136.909  64003.988  12045.421  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58142.909  64003.988  12045.421  3
    END-POINT  58142.909  64003.988  12045.421  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58211.129  64003.988  12045.421  3
    END-POINT  58211.129  64003.988  12045.421  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58173.800  64003.988  12045.421  3
    END-POINT  58173.800  64003.988  12045.421  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58173.800  64003.988  12045.421 
    BRANCH1-POINT  58173.800          64003.988          12047.796  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58173.800          64003.988          12047.796  1  SC FEMALE 
    END-POINT  58173.800          64003.988          12047.796  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1R                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58173.800          64003.988          12063.440  1  SC MALE 
    END-POINT  58173.800          64003.988          12047.796  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZZ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58173.800          64003.988          12063.440 
    PIPELINE-REFERENCE ISO-PY3-2046005
OLET
    CENTRE-POINT      58211.129  64003.988  12045.421 
    BRANCH1-POINT  58211.129          64003.988          12047.741  0.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1/2
    WEIGHT           0.240
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58211.129          64003.988          12047.741  0.5  SC FEMALE 
    END-POINT  58211.129          64003.988          12047.741  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58211.129          64003.988          12047.741  0.5  SC MALE 
    END-POINT  58211.129          64003.988          12050.741  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUY                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58211.129          64003.988          12050.741  0.5  SC MALE 
    END-POINT  58211.129          64003.988          12050.741  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUZ                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58211.129          64003.988          12050.741  0.5  SC FEMALE 
    END-POINT  58211.129          64003.988          12052.221  0.5  SC FEMALE 
    CENTRE-POINT   58211.129          64003.988          12051.481 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GV0                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58211.129          64003.988          12052.221  0.5  SC MALE 
    END-POINT  58211.129          64003.988          12052.221  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HZ4                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58211.129          64003.987          12055.221  0.5  BW
    END-POINT  58211.129          64003.988          12052.221  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HZ3                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58211.129  64003.987  12055.221 
    TEXT PI$239$10
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58211.129          64003.987          12055.221 
OLET
    CENTRE-POINT      58142.909  64003.988  12045.421 
    BRANCH1-POINT  58142.909          64003.988          12047.796  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUE                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58142.909          64003.988          12047.796  1  SC FEMALE 
    END-POINT  58142.909          64003.988          12047.796  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1V                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58142.909          64003.988          12063.440  1  SC MALE 
    END-POINT  58142.909          64003.988          12047.796  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUC                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58142.909          64003.988          12063.440 
    PIPELINE-REFERENCE ISO-PY3-2046006
OLET
    CENTRE-POINT      58136.909  64003.988  12045.421 
    BRANCH1-POINT  58136.909          64003.988          12047.796  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GV5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58136.909          64003.988          12047.796  1  SC FEMALE 
    END-POINT  58136.909          64003.988          12047.796  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58136.909          64003.988          12063.440  1  SC MALE 
    END-POINT  58136.909          64003.988          12047.796  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSG                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58136.909          64003.988          12063.440 
    PIPELINE-REFERENCE ISO-PY3-2046004
OLET
    CENTRE-POINT      58201.741  64003.988  12045.421 
    BRANCH1-POINT  58201.741          64003.988          12047.858  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GV7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58201.741          64003.988          12047.858  1.5  SC FEMALE 
    END-POINT  58201.741          64003.988          12047.858  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1P                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58201.741          64003.988          12063.413  1.5  SC MALE 
    END-POINT  58201.741          64003.988          12047.858  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KM0                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58201.741          64003.988          12063.413 
    PIPELINE-REFERENCE ISO-PY3-2046026
REDUCER-ECCENTRIC
    END-POINT  58216.404          64003.988          12045.421  3  BW
    END-POINT  58219.904          64003.988          12044.859  2  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J20                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58219.904          64003.988          12044.859  2
    END-POINT  58219.904          64003.988          12044.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J28                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58222.904          64003.988          12047.859  2  BW
    END-POINT  58219.904          64003.988          12044.859  2  BW
    CENTRE-POINT   58222.904          64003.988          12044.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0P                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.904          64003.988          12047.859  2
    END-POINT  58222.904          64003.988          12047.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J07                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58222.904          64003.988          12047.859  2  BW
    END-POINT  58222.904          64006.988          12050.859  2  BW
    CENTRE-POINT   58222.904          64003.988          12050.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J06                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.904          64006.988          12050.859  2
    END-POINT  58222.904          64006.988          12050.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0O                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58222.904          64006.988          12050.859  2  BW
    END-POINT  58222.904          64010.988          12050.859  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0N                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58222.904          64010.988          12050.859  2
    END-POINT  58222.904          64010.988          12050.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0L                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58222.904          64010.988          12050.859  2  BW
    END-POINT  58222.904          64013.988          12053.859  2  BW
    CENTRE-POINT   58222.904          64013.988          12050.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0M                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.904          64013.988          12053.859  2
    END-POINT  58222.904          64013.988          12053.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1M                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58222.904          64013.988          12053.859  2  BW
    END-POINT  58222.904          64013.988          12058.859  2  BW
    CENTRE-POINT   58222.904          64013.988          12056.359 
    BRANCH1-POINT  58225.404          64013.988          12056.359  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZT                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.904          64013.988          12058.859  2
    END-POINT  58222.904          64013.988          12058.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1L                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58225.404          64013.988          12056.359  2
    END-POINT  58225.404          64013.988          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1Q                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58229.101          64013.988          12056.359  2  SC MALE 
    END-POINT  58225.404          64013.988          12056.359  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1O                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58229.101          64013.988          12056.359  2  SC MALE 
    END-POINT  58229.101          64013.988          12056.359  2  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1P                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58229.101          64013.988          12056.359  2  SC FEMALE 
    END-POINT  58231.767          64013.988          12056.359  2  SC FEMALE 
    CENTRE-POINT   58230.434          64013.988          12056.359 
    SKEY VBSC
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT           6.800
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZW                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58231.767          64013.988          12056.359  2  SC MALE 
    END-POINT  58231.767          64013.988          12056.359  2  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J00                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58231.767          64013.988          12056.359  2  SC MALE 
    END-POINT  58235.464          64013.988          12056.359  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZZ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58235.464          64013.988          12056.359  2
    END-POINT  58235.464          64013.988          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J02                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58235.464          64013.988          12056.359  2  BW
    END-POINT  58238.464          64010.988          12056.359  2  BW
    CENTRE-POINT   58238.464          64013.988          12056.359 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J01                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58238.464          64010.988          12056.359  2
    END-POINT  58238.464          64010.988          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58238.464          64005.566          12056.359  2  PL
    END-POINT  58238.464          64010.988          12056.359  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZJ                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58238.464  63991.277  12056.359  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZC                 
    TAG                         P624-FIG 4                      
WELD
    END-POINT  58238.464          64005.566          12056.359  2
    END-POINT  58238.464          64005.566          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58238.464          64005.566          12056.359  2
    END-POINT  58238.464          64005.566          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58238.464          64005.350          12056.359  2  FL
    END-POINT  58238.464          64005.566          12056.359  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZG                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58238.464          64005.287          12056.359  2
    END-POINT  58238.464          64005.350          12056.359  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1T                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58238.464          64005.287          12056.359 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1U                 
INSTRUMENT
    END-POINT  58238.464          63995.287          12056.359  2  FL
    END-POINT  58238.464          64005.287          12056.359  2  FL
    CENTRE-POINT   58238.464          64000.287          12056.359 
    SKEY CVFL
    FABRICATION-ITEM
    ITEM-CODE VALVCNT2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J08                 
    TAG PRV$239$16                      
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58238.464  64000.287  12056.359 
    TEXT 3U$PRV$239$16
    UNDIMENSIONED
GASKET
    END-POINT  58238.464          63995.225          12056.359  2
    END-POINT  58238.464          63995.287          12056.359  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1R                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58238.464          63995.287          12056.359 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1S                 
FLANGE
    END-POINT  58238.464          63995.225          12056.359  2  FL
    END-POINT  58238.464          63995.008          12056.359  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZD                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58238.464          63995.008          12056.359  2
    END-POINT  58238.464          63995.008          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58238.464          63995.008          12056.359  2
    END-POINT  58238.464          63995.008          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58238.464          63995.008          12056.359  2  PL
    END-POINT  58238.464          63989.487          12056.359  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZN                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58238.464  63991.277  12056.359  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZC                 
    TAG                         P624-FIG 4                      
WELD
    END-POINT  58238.464          63989.487          12056.359  2
    END-POINT  58238.464          63989.487          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58235.464          63986.487          12056.359  2  BW
    END-POINT  58238.464          63989.487          12056.359  2  BW
    CENTRE-POINT   58238.464          63986.487          12056.359 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0I                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58235.464          63986.487          12056.359  2
    END-POINT  58235.464          63986.487          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1F                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58231.767          63986.487          12056.359  2  SC MALE 
    END-POINT  58235.464          63986.487          12056.359  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1G                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58231.767          63986.487          12056.359  2  SC MALE 
    END-POINT  58231.767          63986.487          12056.359  2  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1H                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58229.101          63986.487          12056.359  2  SC FEMALE 
    END-POINT  58231.767          63986.487          12056.359  2  SC FEMALE 
    CENTRE-POINT   58230.434          63986.487          12056.359 
    SKEY VBSC
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT           6.800
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0B                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58229.101          63986.487          12056.359  2  SC FEMALE 
    END-POINT  58229.101          63986.487          12056.359  2  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0A                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58225.404          63986.487          12056.359  2  BW
    END-POINT  58229.101          63986.487          12056.359  2  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0C                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58225.404          63986.487          12056.359  2
    END-POINT  58225.404          63986.487          12056.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1K                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58222.904          63986.487          12053.859  2  BW
    END-POINT  58222.904          63986.487          12058.859  2  BW
    CENTRE-POINT   58222.904          63986.487          12056.359 
    BRANCH1-POINT  58225.404          63986.487          12056.359  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0K                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.904          63986.487          12053.859  2
    END-POINT  58222.904          63986.487          12053.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1J                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58222.904          63986.487          12058.859  2
    END-POINT  58222.904          63986.487          12058.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1I                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58222.904          63986.487          12058.859  2  BW
    END-POINT  58222.904          63989.487          12061.859  2  BW
    CENTRE-POINT   58222.904          63986.487          12061.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1C                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.904          63989.487          12061.859  2
    END-POINT  58222.904          63989.487          12061.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J24                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58222.904          63989.487          12061.859  2  BW
    END-POINT  58222.904          64004.624          12061.859  2  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0E                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58222.904  63998.971  12061.859 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58222.904          64004.624          12061.859  2  SC MALE 
    END-POINT  58222.904          64004.624          12061.859  2  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0V                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58222.904  63992.487  12061.859  2
    END-POINT  58222.904  63992.487  12061.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J16                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58222.904  63992.487  12061.859 
    BRANCH1-POINT  58222.904          63992.487          12063.616  0.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL2X1/2
    WEIGHT           0.240
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J17                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58222.904          63992.487          12063.616  0.5  SC MALE 
    END-POINT  58222.904          63992.487          12063.616  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J14                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58222.904          63992.487          12063.616  0.5  SC MALE 
    END-POINT  58222.904          63992.487          12066.616  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J15                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58222.904          63992.487          12066.616  0.5  SC FEMALE 
    END-POINT  58222.904          63992.487          12066.616  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J12                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58222.904          63992.487          12066.616  0.5  SC FEMALE 
    END-POINT  58222.904          63992.488          12068.096  0.5  SC FEMALE 
    CENTRE-POINT   58222.904          63992.488          12067.356 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J13                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58222.904          63992.488          12068.096  0.5  SC MALE 
    END-POINT  58222.904          63992.488          12068.096  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0Z                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58222.904          63992.488          12068.096  0.5  SC MALE 
    END-POINT  58222.904          63992.488          12071.096  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J10                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58222.904          63992.488          12071.096  0.5  SC FEMALE 
    END-POINT  58222.904          63992.488          12071.096  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
CAP
    END-POINT  58222.904          63992.488          12071.096  0.5  SC FEMALE 
    END-POINT  58222.904          63992.488          12071.536  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0Y                 
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58222.904          64007.291          12061.859  2  SC FEMALE 
    END-POINT  58222.904          64004.624          12061.859  2  SC FEMALE 
    CENTRE-POINT   58222.904          64005.958          12061.859 
    SKEY VBSC
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT           6.800
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0W                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58222.904          64007.291          12061.859  2  SC MALE 
    END-POINT  58222.904          64007.291          12061.859  2  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0U                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58222.904          64007.291          12061.859  2  SC MALE 
    END-POINT  58222.904          64010.988          12061.859  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0T                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58222.904          64010.988          12061.859  2
    END-POINT  58222.904          64010.988          12061.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J23                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58222.904          64013.988          12058.859  2  BW
    END-POINT  58222.904          64010.988          12061.859  2  BW
    CENTRE-POINT   58222.904          64013.988          12061.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J0H                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
ELBOW
    END-POINT  58222.904          63989.487          12050.859  2  BW
    END-POINT  58222.904          63986.487          12053.859  2  BW
    CENTRE-POINT   58222.904          63986.487          12050.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IZS                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.904          63989.487          12050.859  2
    END-POINT  58222.904          63989.487          12050.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J18                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58222.904          63992.487          12050.859  2  BW
    END-POINT  58222.904          63989.487          12050.859  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J19                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58222.904          63992.487          12050.859  2
    END-POINT  58222.904          63992.487          12050.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1A                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58222.904          63995.487          12047.859  2  BW
    END-POINT  58222.904          63992.487          12050.859  2  BW
    CENTRE-POINT   58222.904          63995.487          12050.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J04                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.904          63995.487          12047.859  2
    END-POINT  58222.904          63995.487          12047.859  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J05                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58219.904          63995.487          12044.859  2  BW
    END-POINT  58222.904          63995.487          12047.859  2  BW
    CENTRE-POINT   58222.904          63995.487          12044.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J03                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58219.904          63995.487          12044.859  2
    END-POINT  58219.904          63995.487          12044.859  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J29                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58216.404          63995.488          12045.421  3  BW
    END-POINT  58219.904          63995.488          12044.859  2  BW
    SKEY REBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J1X                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
END-CONNECTION-PIPELINE 
    CO-ORDS  58216.404          63995.488          12045.421 
    PIPELINE-REFERENCE ISO-PY3-2046010
PIPE
    END-POINT  57993.217          63976.625          11723.750  3  BW
    END-POINT  58117.050          63976.625          11723.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8F                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58056.801  63976.625  11723.750  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8G                 
WELD
    END-POINT  57993.217          63976.625          11723.750  3
    END-POINT  57993.217          63976.625          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57993.217          63976.625          11723.750  3
    END-POINT  57993.217          63976.625          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57992.938          63976.625          11723.750  3  FL
    END-POINT  57993.217          63976.625          11723.750  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJN                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57992.876          63976.625          11723.750  3
    END-POINT  57992.938          63976.625          11723.750  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJR                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57992.876          63976.625          11723.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJS                 
MISC-COMPONENT
    END-POINT  57992.876          63976.625          11723.750  3  FL
    END-POINT  57982.476          63976.625          11723.750  3  FL
    CENTRE-POINT  57987.676  63976.625  11723.750 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJQ                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57987.676  63976.625  11723.750 
    TEXT FT$239$14
    UNDIMENSIONED
GASKET
    END-POINT  57982.413          63976.625          11723.750  3
    END-POINT  57982.476          63976.625          11723.750  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJU                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57982.413          63976.625          11723.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJV                 
FLANGE
    END-POINT  57982.413          63976.625          11723.750  3  FL
    END-POINT  57982.135          63976.625          11723.750  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJT                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57982.135          63976.625          11723.750  3
    END-POINT  57982.135          63976.625          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57982.135          63976.625          11723.750  3
    END-POINT  57982.135          63976.625          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57982.135          63976.625          11723.750  3  PL
    END-POINT  57944.563          63976.625          11723.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJW                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57944.563          63976.625          11723.750  3
    END-POINT  57944.563          63976.625          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57940.063          63976.625          11719.250  3  BW
    END-POINT  57944.563          63976.625          11723.750  3  BW
    CENTRE-POINT   57940.063          63976.625          11723.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8V                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57940.063  63976.625  11723.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57940.063  63898.800  11723.750 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  57940.063          63976.625          11719.250  3
    END-POINT  57940.063          63976.625          11719.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8X                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57940.063          63976.625          11631.563  3  BW
    END-POINT  57940.063          63976.625          11719.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H8Y                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57940.063  63976.625  11680.925 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57940.063          63976.625          11631.563  3
    END-POINT  57940.063          63976.625          11631.563  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H90                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57935.563          63976.625          11627.063  3  BW
    END-POINT  57940.063          63976.625          11631.563  3  BW
    CENTRE-POINT   57940.063          63976.625          11627.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H91                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57940.063  63976.625  11627.063 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63976.625  11627.063 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  57935.563          63976.625          11627.063  3
    END-POINT  57935.563          63976.625          11627.063  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H93                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57932.813          63976.625          11627.063  3  FL
    END-POINT  57935.563          63976.625          11627.063  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H94                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57932.813          63976.625          11627.063  3
    END-POINT  57932.750          63976.625          11627.062  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JK1                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57932.813          63976.625          11627.063 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JK2                 
NOZZLE
    CO-ORDS  57932.750          63976.625          11627.062  3  FL
    CONNECTION-REFERENCE $NOZZLE TAG UT3-239-SUPPLY$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-239-14
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE SUPRH-3
    DESCRIPTION P624 FIG. 2 (L=2'-4 3/4", X=8")
ITEM-CODE SUPLTR3
    DESCRIPTION P629 FIG. 8 (L=1'-0")
ITEM-CODE TOL3X1+1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE TEESTR3X3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPEB-3
    DESCRIPTION TRUNNION SUPPORT, 9" LG, P614
ITEM-CODE SUPPS-3
    DESCRIPTION P651 FIG. 1
ITEM-CODE SUPAG-3
    DESCRIPTION P629 FIG. 5 (REFER TO ISO-PY3-2046010-1)
ITEM-CODE SUPRH-3_1
    DESCRIPTION GENERAL HANGER, L=7'-9", P624 FIG 4
ITEM-CODE SUPUB-3
    DESCRIPTION STANDARD U BOLT SUPPORT, P651 FIG 1
ITEM-CODE TOL3X1
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE TOL3X1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP1/2_1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, BV, SCH 40, - 3"
    RATING 40
ITEM-CODE REDECC3X2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE TEESTR2X2
    CATALOG ASTM A234 GR WPA
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASTM A234 GR WPA
    RATING 40
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE SUPRH-2
    DESCRIPTION ROD HANGER, P624-FIG 4 (L=6'-2 5/8")
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVCNT2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PRV-239-16
    RATING 150LB
ITEM-CODE TEESTR2X2_1
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE TOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE CAP1/2
    CATALOG ANSI B16.3
    DESCRIPTION CAP, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR3
    DESCRIPTION FT-239-14
    RATING 150LB
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
