ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214022
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 WTR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214022-WTR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57967.610          64224.019          11853.938  0.75  SC MALE 
    END-POINT  57962.407          64221.027          11853.938  0.75  SC MALE 
    CENTRE-POINT  57965.009  64222.523  11853.938 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNP                 
    TAG TI-009-31                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  57962.896  64221.308  11853.938 
    TEXT TI$009$31
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  57967.610          64224.019          11853.938  0.75  SC FEMALE 
    END-POINT  57967.610          64224.019          11853.938  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57962.407          64221.027          11853.938 
ELBOLET
    END-POINT  57968.747          64224.673          11853.938  3  PL
    END-POINT  57967.610          64224.019          11853.938  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNN                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57968.747          64224.673          11853.938  3
    END-POINT  57968.747          64224.673          11853.938  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  57972.507          64226.835          11853.938  3  BW
    END-POINT  57968.606          64224.592          11849.438  3  BW
    CENTRE-POINT   57968.606          64224.592          11853.938 
    BRANCH1-POINT  57968.747          64224.673          11853.938  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  57968.747          64224.673          11853.938  3
WELD
    END-POINT  57972.507          64226.835          11853.938  3
    END-POINT  57972.507          64226.835          11853.938  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57968.606          64224.592          11849.438  3
    END-POINT  57968.606          64224.592          11849.438  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57968.618          64224.603          11839.500  3  BW
    END-POINT  57968.606          64224.592          11849.438  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNH                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57968.618          64224.603          11839.500  3
    END-POINT  57968.618          64224.603          11839.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57971.655          64221.282          11835.000  3  BW
    END-POINT  57968.618          64224.603          11839.500  3  BW
    CENTRE-POINT   57968.618          64224.603          11835.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BND                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57968.618  64224.603  11835.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64224.603  11835.000 
    REFERENCED-ITEM
    ITEM-DIRECTION 3
    SKEY 
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57968.618  64224.603  11835.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57968.618  64138.800  11835.000 
    REFERENCED-ITEM
    ITEM-DIRECTION 3
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57971.655          64221.282          11835.000  3
    END-POINT  57971.655          64221.282          11835.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57971.655          64221.282          11835.000  3  BW
    END-POINT  57988.096          64203.297          11835.000  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNA                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57975.968  64216.564  11835.000 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57988.096          64203.297          11835.000  3
    END-POINT  57988.096          64203.297          11835.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57988.096          64203.297          11835.000  3
    END-POINT  57988.096          64203.297          11835.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57988.285          64203.092          11835.000  3  FL
    END-POINT  57988.096          64203.297          11835.000  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN7                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57988.327          64203.046          11835.000  3
    END-POINT  57988.285          64203.092          11835.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN5                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57988.285          64203.092          11835.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN6                 
VALVE
    END-POINT  57994.764          64196.058          11835.000  3  FL
    END-POINT  57988.327          64203.046          11835.000  3  FL
    CENTRE-POINT   57991.545          64199.552          11835.000 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB3
    WEIGHT          57.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 42 SOUTH
GASKET
    END-POINT  57994.806          64196.012          11835.000  3
    END-POINT  57994.764          64196.058          11835.000  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN1                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57994.764          64196.058          11835.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN2                 
FLANGE
    END-POINT  57994.806          64196.012          11835.000  3  FL
    END-POINT  57996.669          64193.990          11835.000  3  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BN0                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57996.669          64193.990          11835.000 
    PIPELINE-REFERENCE ISO-PY3-1214011
FLANGE
    END-POINT  57974.891          64228.206          11853.938  3  FL
    END-POINT  57972.507          64226.835          11853.938  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BNR                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57974.891          64228.206          11853.938 
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION TEMPERATURE INDICATOR, TW-009-31
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVGLB3
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 125LB, FF, GL-12-DC-500
    RATING 125LB
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
