ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213005
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212_A.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1213005-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/14/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/8/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/27/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 DC
    ATTRIBUTE49 BL
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58295.560          64107.822          11318.440  0.5  PL
    END-POINT  58292.560          64107.822          11318.440  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LG                  
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58293.060  64107.822  11318.440 
    TEXT PI$080$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58295.560          64107.822          11318.440  0.5
    END-POINT  58295.560          64107.822          11318.440  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LH                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58292.560          64107.822          11318.440 
VALVE
    END-POINT  58297.240          64107.822          11318.440  0.5  SW FEMALE 
    END-POINT  58295.560          64107.822          11318.440  0.5  SW FEMALE 
    CENTRE-POINT   58296.355          64107.822          11318.440 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LC                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58297.240          64107.822          11318.440  0.5  SW FEMALE 
    END-POINT  58297.240          64107.822          11318.440  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LD                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58300.650          64107.822          11318.440  0.5  BW
    END-POINT  58297.240          64107.822          11318.440  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LA                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58300.650          64107.822          11318.440  0.5
    END-POINT  58300.650          64107.822          11318.440  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LB                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58302.588  64107.822  11318.440 
    BRANCH1-POINT  58300.650          64107.822          11318.440  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_L8                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58302.588  64107.822  11318.440  2
    END-POINT  58302.588  64107.822  11318.440  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_L9                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58302.588          64107.822          11320.940  2  BW
    END-POINT  58302.588          64107.822          11315.940  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_L3                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58302.588          64107.822          11320.940  2
    END-POINT  58302.588          64107.822          11320.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_L4                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58302.588          64107.822          11315.940  2
    END-POINT  58302.588          64107.822          11315.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_L5                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58302.588          64107.822          11315.940  2  BW
    END-POINT  58302.588          64107.822          11312.940  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_80                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58302.588          64107.822          11312.940  1.5
    END-POINT  58302.588          64107.822          11312.940  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_81                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58302.588          64107.822          11310.250  1.5  FL
    END-POINT  58302.588          64107.822          11312.940  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_82                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58302.588          64107.822          11310.250  1.5
    END-POINT  58302.588          64107.822          11310.125  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_ET                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58302.588          64107.822          11310.250 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_EU                  
END-POSITION-OPEN 
    CO-ORDS  58302.588          64107.822          11310.125 
ELBOW
    END-POINT  58302.588          64107.822          11320.940  2  BW
    END-POINT  58300.466          64105.700          11323.940  2  BW
    CENTRE-POINT   58302.588          64107.822          11323.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7M                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58300.466          64105.700          11323.940  2
    END-POINT  58300.466          64105.700          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7L                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58300.466          64105.700          11323.940  2  BW
    END-POINT  58296.971          64102.125          11323.940  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7K                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58296.971          64102.125          11323.940  2
    END-POINT  58296.971          64102.125          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7I                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58296.971          64102.125          11323.940  2
    END-POINT  58296.971          64102.125          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7J                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58296.818          64101.972          11323.940  2  FL
    END-POINT  58296.971          64102.125          11323.940  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7H                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58296.730          64101.884          11323.940  2
    END-POINT  58296.818          64101.972          11323.940  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7F                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58296.818          64101.972          11323.940 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7G                  
VALVE
    END-POINT  58296.730          64101.884          11323.940  2  FL
    END-POINT  58291.073          64096.227          11323.940  2  FL
    CENTRE-POINT   58293.901          64099.056          11323.940 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK2
    WEIGHT          24.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7E                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58290.985          64096.139          11323.940  2
    END-POINT  58291.073          64096.227          11323.940  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7C                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58291.073          64096.227          11323.940 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7D                  
FLANGE
    END-POINT  58290.985          64096.139          11323.940  2  FL
    END-POINT  58290.831          64095.986          11323.940  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7B                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58290.831          64095.986          11323.940  2
    END-POINT  58290.831          64095.986          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_79                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58290.831          64095.986          11323.940  2
    END-POINT  58290.831          64095.986          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_7A                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58290.831          64095.986          11323.940  2  PL
    END-POINT  58286.589          64091.743          11323.940  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_78                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58286.589          64091.743          11323.940  2
    END-POINT  58286.589          64091.743          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_77                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58286.589          64091.743          11323.940  2  BW
    END-POINT  58284.467          64089.622          11326.940  2  BW
    CENTRE-POINT   58284.467          64089.622          11323.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_75                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58284.467  64089.622  11323.940  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_76                  
    TAG                         P619 FIG. 1                     
WELD
    END-POINT  58284.467          64089.622          11326.940  2
    END-POINT  58284.467          64089.622          11326.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_74                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58284.467          64089.622          11326.940  2  BW
    END-POINT  58284.467          64089.622          11329.940  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_73                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58284.467          64089.622          11329.940  2
    END-POINT  58284.467          64089.622          11329.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_71                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58284.467          64089.622          11329.940  2
    END-POINT  58284.467          64089.622          11329.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_72                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58284.467          64089.622          11330.156  2  FL
    END-POINT  58284.467          64089.622          11329.940  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_70                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58284.458          64089.622          11330.281  2
    END-POINT  58284.467          64089.622          11330.156  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6Y                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58284.467          64089.622          11330.156 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6Z                  
VALVE
    END-POINT  58284.458          64089.622          11330.281  2  FL
    END-POINT  58284.458          64089.622          11337.281  2  FL
    CENTRE-POINT   58284.458          64089.622          11333.781 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6W                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58284.458          64089.622          11337.406  2
    END-POINT  58284.458          64089.622          11337.281  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6U                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58284.458          64089.622          11337.281 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6V                  
FLANGE
    END-POINT  58284.458          64089.622          11337.406  2  FL
    END-POINT  58284.458          64089.622          11337.623  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6T                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58284.458          64089.622          11337.623  2
    END-POINT  58284.458          64089.622          11337.623  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6R                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58284.458          64089.622          11337.623  2
    END-POINT  58284.458          64089.622          11337.623  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6S                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58284.458          64089.622          11362.248  2  BW
    END-POINT  58284.458          64089.622          11337.623  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6P                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58284.458  64089.622  11349.409 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58284.458          64089.622          11362.248  2
    END-POINT  58284.458          64089.622          11362.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6O                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58284.458          64089.622          11362.248  2  BW
    END-POINT  58284.458          64092.622          11365.248  2  BW
    CENTRE-POINT   58284.458          64089.622          11365.248 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6N                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58284.458          64092.622          11365.248  2
    END-POINT  58284.458          64092.622          11365.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6M                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58284.458          64092.622          11365.248  2  BW
    END-POINT  58284.458          64104.840          11365.248  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6K                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58284.458  64098.343  11365.248 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58284.458          64104.840          11365.248  2
    END-POINT  58284.458          64104.840          11365.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6J                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58284.458          64104.840          11365.248  2  BW
    END-POINT  58281.458          64107.840          11365.248  2  BW
    CENTRE-POINT   58284.458          64107.840          11365.248 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6G                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58284.458  64107.840  11365.248 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58284.458  64138.767  11365.248 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58284.458  64107.840  11365.248 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64107.840  11365.248 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58281.458          64107.840          11365.248  2
    END-POINT  58281.458          64107.840          11365.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6F                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58281.458          64107.840          11365.248  2  BW
    END-POINT  58276.904          64107.834          11365.248  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6E                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58276.904          64107.834          11365.248  2
    END-POINT  58276.904          64107.834          11365.248  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_FN                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58271.904          64107.834          11365.248  2  BW
    END-POINT  58276.904          64107.834          11365.248  2  BW
    CENTRE-POINT   58274.404          64107.834          11365.248 
    BRANCH1-POINT  58274.404          64105.334          11365.248  2  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6B                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58271.904          64107.834          11365.248 
    PIPELINE-REFERENCE ISO-PY3-1213006
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE REDCON2X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-2
    DESCRIPTION ELBOW SUPPORT, L=3'-2 3/4", P619 FIG. 1
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
