ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218018
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 WTR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218018-WTR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/2/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/2/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/2/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/2/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/2/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/2/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 12/17/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DK
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58086.037          64151.286          11641.180  1  SC MALE 
    END-POINT  58086.037          64151.286          11574.006  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GLL                 
    PIPING-SPEC C1
MESSAGE
    CO-ORDS  58086.037  64151.286  11574.006 
    TEXT TO 6" ABOVE FLOOR
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58086.037  64151.286  11615.860 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58086.037  64151.286  11577.006  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPBOOTLEG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GLO                 
SCREWED-WELD
    END-POINT  58086.037          64151.286          11641.180  1  SC FEMALE 
    END-POINT  58086.037          64151.286          11641.180  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I2Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  58086.037          64151.286          11574.006 
ELBOW
    END-POINT  58086.957          64151.286          11642.100  1  SC FEMALE 
    END-POINT  58086.037          64151.286          11641.180  1  SC FEMALE 
    CENTRE-POINT   58086.037          64151.286          11642.100 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GLH                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58086.037  64151.286  11642.100 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58086.037  64138.748  11642.100 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58086.037  64151.286  11642.100 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64151.286  11642.100 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
SCREWED-WELD
    END-POINT  58086.957          64151.286          11642.100  1  SC MALE 
    END-POINT  58086.957          64151.286          11642.100  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GLG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58096.352          64151.286          11642.100  1  SC MALE 
    END-POINT  58086.957          64151.286          11642.100  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GLF                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58096.352          64151.286          11642.100  1  SC MALE 
    END-POINT  58096.352          64151.286          11642.100  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
FLANGE
    END-POINT  58096.352          64151.286          11642.100  1  FL
    END-POINT  58096.352          64151.286          11642.100  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJG                 
    PIPING-SPEC C1
MESSAGE-CIRCLE
    CO-ORDS  58096.352  64151.286  11642.100 
    TEXT PSV$065$03
    UNDIMENSIONED
GASKET
    END-POINT  58096.352          64151.286          11642.100  1
    END-POINT  58096.414          64151.286          11642.100  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJH                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58096.352          64151.286          11642.100 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJI                 
VALVE-ANGLE
    END-POINT  58101.602          64151.286          11635.912  0.75  FL
    END-POINT  58096.414          64151.286          11642.100  1  FL
    CENTRE-POINT   58101.602          64151.286          11642.100 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JJ5                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58101.602          64151.286          11635.912 
    PIPELINE-REFERENCE ISO-PY3-1218017
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPBOOTLEG-1
    DESCRIPTION PIPE SUPPORT, P660
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
