ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1012012
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_GS02.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1012012-AN-S1
    ATTRIBUTE95 i1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-81P-012
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 DKC
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE45 I.F.C.
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 DKC
    ATTRIBUTE51 LINE MOVED EAST
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 11/1/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 DK
    ATTRIBUTE62 DK
    ATTRIBUTE63 UPDATED SUPPORTS
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
ELBOW
    END-POINT  60364.248          65643.455          11680.628  1  BW
    END-POINT  60364.248          65644.955          11679.128  1  BW
    CENTRE-POINT   60364.248          65644.955          11680.628 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2CG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60364.248  65644.955  11680.628 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60024.000  65644.955  11680.628 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-342
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60364.248  65644.955  11680.628 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60364.248  65699.999  11680.628 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-342
WELD
    END-POINT  60364.248          65643.455          11680.628  1
    END-POINT  60364.248          65643.455          11680.628  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2CI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60364.248          65644.955          11679.128  1
    END-POINT  60364.248          65644.955          11679.128  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FUZK55FC_L4                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60364.248          65644.955          11657.690  1  BW
    END-POINT  60364.248          65644.955          11679.128  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FUZK55FC_5M                  
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  60364.248          65644.955          11657.690 
    PIPELINE-REFERENCE ISO-TF3-1012012
PIPE
    END-POINT  60364.248          65643.455          11680.628  1  BW
    END-POINT  60364.248          64609.500          11680.627  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2KT                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60364.248  65606.562  11680.628  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2M2                 
SUPPORT
    CO-ORDS  60364.248  65498.546  11680.628  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2M6                 
SUPPORT
    CO-ORDS  60364.248  65390.910  11680.628  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MP                 
SUPPORT
    CO-ORDS  60364.248  65270.756  11680.628  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MT                 
SUPPORT
    CO-ORDS  60364.248  65190.982  11680.628  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MX                 
SUPPORT
    CO-ORDS  60364.248  65111.145  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2N3                 
SUPPORT
    CO-ORDS  60364.248  64990.990  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2N7                 
SUPPORT
    CO-ORDS  60364.248  64871.004  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2NB                 
FLOW-ARROW
    CO-ORDS  60364.248  64911.421  11680.627 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  60364.248  64727.500  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3QU                 
SUPPORT
    CO-ORDS  60364.248  64796.026  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4CG                 
SUPPORT
    CO-ORDS  60364.248  64660.158  11691.970  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4CI                 
SUPPORT
    CO-ORDS  60364.248  64657.500  11680.627  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4CQ                 
WELD
    END-POINT  60364.248          64609.500          11680.627  1
    END-POINT  60364.248          64609.500          11680.627  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60364.248          64609.500          11680.627  1  BW
    END-POINT  60364.248          64608.000          11679.127  1  BW
    CENTRE-POINT   60364.248          64608.000          11680.627 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60364.248          64608.000          11679.127  1
    END-POINT  60364.248          64608.000          11679.127  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4C1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60364.248          64608.000          11658.156  1  BW
    END-POINT  60364.248          64608.000          11679.127  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60364.248          64608.000          11658.156  1
    END-POINT  60364.248          64608.000          11658.156  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4C0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60362.748          64608.000          11656.656  1  BW
    END-POINT  60364.248          64608.000          11658.156  1  BW
    CENTRE-POINT   60364.248          64608.000          11656.656 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BT                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60362.748          64608.000          11656.656  1
    END-POINT  60362.748          64608.000          11656.656  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  60360.558          64608.000          11656.656  1  FL
    END-POINT  60362.748          64608.000          11656.656  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3P2                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  60360.433          64608.000          11656.656  1
    END-POINT  60360.558          64608.000          11656.656  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PA                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  60360.433          64608.000          11656.656 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PB                 
FLANGE
    END-POINT  60360.433          64608.000          11656.656  1  FL
    END-POINT  60360.238          64608.000          11656.656  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3P9                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  60359.743  64608.000  11656.656 
    TEXT TP-140
    UNDIMENSIONED
MESSAGE-SQUARE
    CO-ORDS  60360.238  64608.000  11656.656 
    TEXT REMOVE 2'-0" OF EXIST. PIPE-SEE TIE-IN DRAWING TP-140 FOR DETAILS
    UNDIMENSIONED
WELD
    END-POINT  60360.238          64608.000          11656.656  1
    END-POINT  60360.238          64608.000          11656.656  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60360.238          64608.000          11656.656  1
    END-POINT  60360.238          64608.000          11656.656  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60360.238          64608.000          11656.656  1  PL
    END-POINT  60241.269          64608.000          11656.656  1  PL
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PF                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  60241.269          64608.000          11656.656 
    PIPELINE-REFERENCE ISO-GS3-AN-013-EX
MATERIALS
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPTS-1
    DESCRIPTION TEE SHOE SUPPORT, P603-FIG. 1
ITEM-CODE SUPTS-1_1
    DESCRIPTION TEE SHOE SUPPORT, P603-FIG. 2
ITEM-CODE SUPTS-1_2
    DESCRIPTION TEE SHOE SUPPORT, P603-FIG. 3
ITEM-CODE SUPAG-1
    DESCRIPTION P629-FIG. 4, L=1'-2",  X=2'-4"
ITEM-CODE SUPTS-1_3
    DESCRIPTION GUIDE, P603 FIG. 2, REFER TO ISO 1012009
ITEM-CODE SUPLTR1
    DESCRIPTION ANGLE STEEL TRAPEZE HANGER BAR
ITEM-CODE SUPRH-1
    DESCRIPTION ROD HANGER, P624 FIG. 2, X=3'-6" (USE 4"X4"X1/2" ANGLE)
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
