ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218007
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218007-VT-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 MH
    ATTRIBUTE22 11/12/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 12/18/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 12/18/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/5/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/5/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/5/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL USSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/9/2009
    ATTRIBUTE42 D. DURK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 12/17/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DK
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58282.649          64152.800          12041.014  3  BW
    END-POINT  58389.581          64152.800          12040.457  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_895                 
    PIPING-SPEC S1
    CUT-PIECE-ALLOWANCE EP2 1.75
SUPPORT
    CO-ORDS  58354.361  64152.800  12040.640  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_898                 
SUPPORT
    CO-ORDS  58354.361  64152.800  12040.640  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_89A                 
FLOW-ARROW
    CO-ORDS  58320.309  64152.800  12040.818 
    FLOW 1
    SKEY FLOW
MESSAGE
    CO-ORDS  58389.581  64152.800  12040.457 
    TEXT CUT PIPE AT 45%%D
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58389.581  64152.800  12040.457 
    TEXT .063%%C S.S. WIRE MESH FOR BIRD SCREEN
    UNDIMENSIONED
WELD
    END-POINT  58282.649          64152.800          12041.014  3
    END-POINT  58282.649          64152.800          12041.014  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_897                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58389.581          64152.800          12040.457 
ELBOW
    END-POINT  58282.649          64152.800          12041.014  3  BW
    END-POINT  58279.235          64154.214          12041.033  3  BW
    CENTRE-POINT   58280.649          64152.800          12041.024 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_890                 
    PIPING-SPEC S1
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58280.649  64152.800  12041.024 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58280.649  64138.748  12041.024 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58280.649  64152.800  12041.024 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64152.800  12041.024 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58279.235          64154.214          12041.033  3
    END-POINT  58279.235          64154.214          12041.033  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_892                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58279.235          64154.214          12041.033  3  BW
    END-POINT  58238.535          64194.914          12041.328  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_891                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58256.263  64177.186  12041.199 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58238.535          64194.914          12041.328  3
    END-POINT  58238.535          64194.914          12041.328  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_893                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58236.591          64196.858          12041.328  3  FL
    END-POINT  58238.535          64194.914          12041.328  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_88W                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58236.591  64196.858  12041.328 
    TEXT PSV$043$03
    UNDIMENSIONED
GASKET
    END-POINT  58236.591          64196.858          12041.328  3
    END-POINT  58236.503          64196.947          12041.328  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_88X                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58236.591          64196.858          12041.328 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_88Y                 
VALVE-ANGLE
    END-POINT  58233.144          64200.305          12036.453  1.5  FL
    END-POINT  58236.503          64196.947          12041.328  3  FL
    CENTRE-POINT   58233.144          64200.305          12041.328 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_88N                 
    TAG PSV-043-03                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58233.144          64200.305          12036.453 
    PIPELINE-REFERENCE ISO-PY3-1218006
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-3
    DESCRIPTION U BOLT SUPPORT, P648 FIG 2
ITEM-CODE SUPAG-3
    DESCRIPTION PIPE SUPPORT, P629 FIG 9,  L=1'-7"
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
