ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218011
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218011-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 SG
    ATTRIBUTE22 11/5/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 1/14/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/14/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/2/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 2/2/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/2/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 IFC
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 DD
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/1/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DD
    ATTRIBUTE56 DK
    ATTRIBUTE57 ADDED SUPPORT AND REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58024.004          64338.444          11286.315  0.75  SC FEMALE 
    END-POINT  58024.004          64339.384          11286.315  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HB                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  58024.004          64338.444          11286.315  0.75  SC FEMALE 
    END-POINT  58024.004          64338.444          11286.315  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58024.004          64336.444          11286.315  0.75  PL
    END-POINT  58024.004          64338.444          11286.315  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6H9                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58024.004          64336.444          11286.315  0.75
    END-POINT  58024.004          64336.444          11286.315  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58024.004          64334.464          11286.315  0.75  SW FEMALE 
    END-POINT  58024.004          64336.444          11286.315  0.75  SW FEMALE 
    CENTRE-POINT   58024.004          64335.439          11286.315 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6H5                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58024.004          64334.464          11286.315  0.75  SW FEMALE 
    END-POINT  58024.004          64334.464          11286.315  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6H6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58024.004          64330.934          11286.315  0.75  BW
    END-POINT  58024.004          64334.464          11286.315  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6H3                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58024.004          64330.934          11286.315  0.75
    END-POINT  58024.004          64330.934          11286.315  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6H4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58024.004          64329.809          11287.440  0.75  BW
    END-POINT  58024.004          64330.934          11286.315  0.75  BW
    CENTRE-POINT   58024.004          64329.809          11286.315 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6GZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58024.004          64329.809          11287.440  0.75
    END-POINT  58024.004          64329.809          11287.440  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6H1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58024.004          64329.809          11290.440  0.75  BW
    END-POINT  58024.004          64329.809          11287.440  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6GT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58024.004          64329.809          11290.440  0.75
    END-POINT  58024.004          64329.809          11290.440  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6TA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58025.504          64329.809          11291.940  1  BW
    END-POINT  58022.504          64329.809          11291.940  1  BW
    CENTRE-POINT   58024.004          64329.809          11291.940 
    BRANCH1-POINT  58024.004          64329.809          11290.440  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6T6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58025.504          64329.809          11291.940  1
    END-POINT  58025.504          64329.809          11291.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.504          64329.809          11291.940  1
    END-POINT  58022.504          64329.809          11291.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6TC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58022.504          64329.809          11291.940  1  BW
    END-POINT  58010.063          64329.809          11291.940  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6TB                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58012.924  64329.809  11291.940 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58010.063          64329.809          11291.940  1
    END-POINT  58010.063          64329.809          11291.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6TD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58010.063          64329.809          11291.940  1  BW
    END-POINT  58008.563          64329.809          11293.440  1  BW
    CENTRE-POINT   58008.563          64329.809          11291.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6GP                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58008.563  64329.809  11291.940  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A5X                 
WELD
    END-POINT  58008.563          64329.809          11293.440  1
    END-POINT  58008.563          64329.809          11293.440  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CB4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58008.563          64329.809          11293.440  1  BW
    END-POINT  58008.563          64329.809          11325.086  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A7F                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64329.809          11325.086  1
    END-POINT  58008.563          64329.809          11325.086  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CB3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58008.563          64329.809          11325.086  1  BW
    END-POINT  58008.563          64329.809          11328.086  1  BW
    CENTRE-POINT   58008.563          64329.809          11326.586 
    BRANCH1-POINT  58010.063          64329.809          11326.586  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9KS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58008.563          64329.809          11328.086  1
    END-POINT  58008.563          64329.809          11328.086  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9M6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58010.063          64329.809          11326.586  1
    END-POINT  58010.063          64329.809          11326.586  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C1H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58014.607          64329.809          11326.587  1  PL
    END-POINT  58010.063          64329.809          11326.586  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C1E                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58014.607          64329.809          11326.587  1
    END-POINT  58014.607          64329.809          11326.587  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C1F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58014.607          64329.809          11326.587  1
    END-POINT  58014.607          64329.809          11326.587  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C1G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58014.802          64329.809          11326.587  1  FL
    END-POINT  58014.607          64329.809          11326.587  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C18                 
    PIPING-SPEC S1
GASKET
    END-POINT  58014.802          64329.809          11326.587  1
    END-POINT  58014.927          64329.809          11326.587  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C19                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58014.802          64329.809          11326.587 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C1A                 
VALVE-ANGLE
    END-POINT  58020.115          64329.809          11319.462  1  FL
    END-POINT  58014.927          64329.809          11326.587  1  FL
    CENTRE-POINT   58020.115          64329.809          11326.587 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C0W                 
    TAG PSV-019-01                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58020.115          64329.809          11319.462 
    PIPELINE-REFERENCE ISO-PY3-1218014
PIPE
    END-POINT  58008.563          64329.809          11332.093  1  PL
    END-POINT  58008.563          64329.809          11328.086  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9M3                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64329.809          11332.093  1
    END-POINT  58008.563          64329.809          11332.093  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9M4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64329.809          11332.093  1
    END-POINT  58008.563          64329.809          11332.093  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9M5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58008.563          64329.809          11332.289  1  FL
    END-POINT  58008.563          64329.809          11332.093  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9M0                 
    PIPING-SPEC S1
GASKET
    END-POINT  58008.563          64329.809          11332.289  1
    END-POINT  58008.563          64329.809          11332.414  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9M1                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58008.563          64329.809          11332.289 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9M2                 
VALVE
    END-POINT  58008.563          64329.809          11337.414  1  FL
    END-POINT  58008.563          64329.809          11332.414  1  FL
    CENTRE-POINT   58008.563          64329.809          11334.914 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9LV                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58008.563          64329.809          11337.414  1
    END-POINT  58008.563          64329.809          11337.539  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9LW                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58008.563          64329.809          11337.414 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9LX                 
FLANGE
    END-POINT  58008.563          64329.809          11337.539  1  FL
    END-POINT  58008.563          64329.809          11337.734  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9LK                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64329.809          11337.734  1
    END-POINT  58008.563          64329.809          11337.734  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A80                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64329.809          11337.734  1
    END-POINT  58008.563          64329.809          11337.734  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A81                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58008.563          64329.809          11384.191  1  BW
    END-POINT  58008.563          64329.809          11337.734  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A7Y                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58008.563  64329.809  11361.810 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58008.563          64329.809          11384.191  1
    END-POINT  58008.563          64329.809          11384.191  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AKQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58008.563          64328.309          11385.691  1  BW
    END-POINT  58008.563          64329.809          11384.191  1  BW
    CENTRE-POINT   58008.563          64329.809          11385.691 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AKD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58008.563          64328.309          11385.691  1
    END-POINT  58008.563          64328.309          11385.691  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AKO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58008.563          64288.309          11385.691  1  BW
    END-POINT  58008.563          64328.309          11385.691  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AKM                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64288.309          11385.691  1
    END-POINT  58008.563          64288.309          11385.691  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AZG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58008.563          64285.309          11385.691  1  BW
    END-POINT  58008.563          64288.309          11385.691  1  BW
    CENTRE-POINT   58008.563          64286.809          11385.691 
    BRANCH1-POINT  58008.563          64286.809          11384.191  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AKH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58008.563          64285.309          11385.691  1
    END-POINT  58008.563          64285.309          11385.691  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B0C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64286.809          11384.191  1
    END-POINT  58008.563          64286.809          11384.191  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C01                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58008.563          64286.809          11384.191  1  BW
    END-POINT  58008.563          64286.809          11337.734  1  PL
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AB2                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58008.563  64286.809  11370.721 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58008.563          64286.809          11337.734 
    PIPELINE-REFERENCE ISO-PY3-1218013
ELBOW
    END-POINT  58010.063          64283.809          11385.691  1  BW
    END-POINT  58008.563          64285.309          11385.691  1  BW
    CENTRE-POINT   58008.563          64283.809          11385.691 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AK7                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58010.063          64283.809          11385.691  1
    END-POINT  58010.063          64283.809          11385.691  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AKA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58010.063          64283.809          11385.691  1  BW
    END-POINT  58022.504          64283.809          11385.691  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AK9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.504          64283.809          11385.691  1
    END-POINT  58022.504          64283.809          11385.691  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AKB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58024.004          64283.809          11387.191  1  BW
    END-POINT  58022.504          64283.809          11385.691  1  BW
    CENTRE-POINT   58024.004          64283.809          11385.691 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AK4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58024.004          64283.809          11387.191  1
    END-POINT  58024.004          64283.809          11387.191  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AK6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58024.004          64283.809          11466.223  1  BW
    END-POINT  58024.004          64283.809          11387.191  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9GM                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58024.004  64283.809  11388.367  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9H5                 
SUPPORT
    CO-ORDS  58024.004  64283.809  11388.367  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CB2                 
    TAG                         P629 FIG. 8                     
WELD
    END-POINT  58024.004          64283.809          11466.223  1
    END-POINT  58024.004          64283.809          11466.223  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9MR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58025.504          64283.809          11467.723  1  BW
    END-POINT  58024.004          64283.809          11466.223  1  BW
    CENTRE-POINT   58024.004          64283.809          11467.723 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9MO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58024.004  64283.809  11467.723 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64283.809  11467.723 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58024.004  64283.809  11467.723 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58024.004  64378.800  11467.723 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58025.504          64283.809          11467.723  1
    END-POINT  58025.504          64283.809          11467.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9MQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58236.960          64283.809          11467.723  1  BW
    END-POINT  58025.504          64283.809          11467.723  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8YG                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58201.818  64283.809  11467.723 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58053.278  64283.809  11467.723  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9MS                 
SUPPORT
    CO-ORDS  58151.986  64283.809  11467.723  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B0D                 
WELD
    END-POINT  58236.960          64283.809          11467.723  1
    END-POINT  58236.960          64283.809          11467.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B0A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58238.463          64283.187          11467.723  1  BW
    END-POINT  58236.960          64283.809          11467.723  1  BW
    CENTRE-POINT   58237.840          64283.809          11467.723 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AZL                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58238.463          64283.187          11467.723  1
    END-POINT  58238.463          64283.187          11467.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B5A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58253.459          64268.191          11467.723  1  BW
    END-POINT  58238.463          64283.187          11467.723  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B58                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58253.459          64268.191          11467.723  1
    END-POINT  58253.459          64268.191          11467.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B59                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58254.081          64266.689          11467.723  1  BW
    END-POINT  58253.459          64268.191          11467.723  1  BW
    CENTRE-POINT   58254.081          64267.569          11467.723 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B53                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58254.081          64266.689          11467.723  1
    END-POINT  58254.081          64266.689          11467.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B56                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58254.081          64266.689          11467.723  1  BW
    END-POINT  58254.081          64260.069          11467.723  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B55                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58254.081          64260.069          11467.723  1
    END-POINT  58254.081          64260.069          11467.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B57                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58254.081          64260.069          11467.723  1  BW
    END-POINT  58254.081          64258.569          11469.223  1  BW
    CENTRE-POINT   58254.081          64258.569          11467.723 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9NU                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58254.081          64258.569          11469.223  1
    END-POINT  58254.081          64258.569          11469.223  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B5Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58254.081          64258.569          11476.055  1  PL
    END-POINT  58254.081          64258.569          11469.223  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B5N                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58254.081          64258.569          11476.055  1
    END-POINT  58254.081          64258.569          11476.055  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B5O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58254.081          64258.569          11476.055  1
    END-POINT  58254.081          64258.569          11476.055  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B5P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58254.081          64258.569          11476.251  1  FL
    END-POINT  58254.081          64258.569          11476.055  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B5J                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58254.081          64258.569          11476.251  1
    END-POINT 
** 
Processing ID: AT_FE4CY0WC_B5K  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B5K                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58254.081          64258.569          11476.251 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B5L                 
END-POSITION-OPEN 
    CO-ORDS  58254.081  64258.569  11476.251 
PIPE
    END-POINT  58025.504          64329.809          11291.940  1  BW
    END-POINT  58031.541          64329.750          11291.940  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58031.541          64329.750          11291.940  1
    END-POINT  58031.541          64329.750          11291.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CB0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58031.541          64329.750          11291.940  1
    END-POINT  58031.541          64329.750          11291.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CB1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58031.737          64329.750          11291.940  1  FL
    END-POINT  58031.541          64329.750          11291.940  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAU                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58031.737          64329.750          11291.940  1
    END-POINT  58031.862          64329.750          11291.940  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CB5                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58031.737          64329.750          11291.940 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CB6                 
NOZZLE
    CO-ORDS  58031.862          64329.750          11291.940  1  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58031.862          64329.750          11291.940 
    TEXT PY3-019.$NOZZLE TAG PY3-019-SUCTION$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-1
    DESCRIPTION ELBOW SUPPORT, L=1'-0", P619 FIG. 2
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE SUPUB-1
    DESCRIPTION P651 FIG. 1
ITEM-CODE SUPAG-1
    DESCRIPTION P629 FIG. 8 (L=3'-0")
ITEM-CODE SUPUB-1_1
    DESCRIPTION P651 FIG 1 U-BOLT GUIDE
ITEM-CODE SUPUB-1_2
    DESCRIPTION U-BOLT SUPPORT, P651 FIG 1
ITEM-CODE 45LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
