ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218013
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218013-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 SG
    ATTRIBUTE22 11/5/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/6/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/19/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/19/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 1/19/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 DD
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58024.004          64295.444          11286.327  0.75  SC FEMALE 
    END-POINT  58024.004          64296.384          11286.327  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HQ                 
    PIPING-SPEC S1
    END-POSITION-CLOSED 
    CO-ORDS  58024.004          64296.384          11286.327 
SCREWED-WELD
    END-POINT  58024.004          64295.444          11286.327  0.75  SC FEMALE 
    END-POINT  58024.004          64295.444          11286.327  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58024.004          64293.444          11286.327  0.75  PL
    END-POINT  58024.004          64295.444          11286.327  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HO                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58024.004          64293.444          11286.327  0.75
    END-POINT  58024.004          64293.444          11286.327  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58024.004          64291.464          11286.327  0.75  SW FEMALE 
    END-POINT  58024.004          64293.444          11286.327  0.75  SW FEMALE 
    CENTRE-POINT   58024.004          64292.439          11286.327 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HK                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58024.004          64291.464          11286.327  0.75  SW FEMALE 
    END-POINT  58024.004          64291.464          11286.327  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58024.004          64287.934          11286.328  0.75  BW
    END-POINT  58024.004          64291.464          11286.327  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HI                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58024.004          64287.934          11286.328  0.75
    END-POINT  58024.004          64287.934          11286.328  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58024.004          64286.809          11287.453  0.75  BW
    END-POINT  58024.004          64287.934          11286.328  0.75  BW
    CENTRE-POINT   58024.004          64286.809          11286.328 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HF                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58024.004          64286.809          11287.453  0.75
    END-POINT  58024.004          64286.809          11287.453  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58024.004          64286.809          11290.453  0.75  BW
    END-POINT  58024.004          64286.809          11287.453  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6HD                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58024.004          64286.809          11290.453  0.75
    END-POINT  58024.004          64286.809          11290.453  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6TN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58025.504          64286.809          11291.953  1  BW
    END-POINT  58022.504          64286.809          11291.953  1  BW
    CENTRE-POINT   58024.004          64286.809          11291.953 
    BRANCH1-POINT  58024.004          64286.809          11290.453  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6TG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58025.504          64286.809          11291.953  1
    END-POINT  58025.504          64286.809          11291.953  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C0H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.504          64286.809          11291.953  1
    END-POINT  58022.504          64286.809          11291.953  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A8U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58010.063          64286.809          11291.953  1  BW
    END-POINT  58022.504          64286.809          11291.953  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A8S                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58014.155  64286.809  11291.953 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58010.063          64286.809          11291.953  1
    END-POINT  58010.063          64286.809          11291.953  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A8T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58010.063          64286.809          11291.953  1  BW
    END-POINT  58008.563          64286.809          11293.453  1  BW
    CENTRE-POINT   58008.563          64286.809          11291.953 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6G4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58008.563  64286.809  11291.953  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A68                 
WELD
    END-POINT  58008.563          64286.809          11293.453  1
    END-POINT  58008.563          64286.809          11293.453  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AUJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58008.563          64286.809          11293.453  1  BW
    END-POINT  58008.563          64286.809          11325.125  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AAW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64286.809          11325.125  1
    END-POINT  58008.563          64286.809          11325.125  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AAY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58008.563          64286.809          11325.125  1  BW
    END-POINT  58008.563          64286.809          11328.125  1  BW
    CENTRE-POINT   58008.563          64286.809          11326.625 
    BRANCH1-POINT  58010.063          64286.809          11326.625  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6LH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58008.563  64286.809  11326.625 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64286.809  11326.625 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58008.563  64286.809  11326.625 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58008.563  64378.800  11326.625 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58008.563          64286.809          11328.125  1
    END-POINT  58008.563          64286.809          11328.125  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58010.063          64286.809          11326.625  1
    END-POINT  58010.063          64286.809          11326.625  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58014.607          64286.809          11326.622  1  PL
    END-POINT  58010.063          64286.809          11326.625  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZQ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58014.607          64286.809          11326.622  1
    END-POINT  58014.607          64286.809          11326.622  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58014.607          64286.809          11326.622  1
    END-POINT  58014.607          64286.809          11326.622  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58014.802          64286.809          11326.622  1  FL
    END-POINT  58014.607          64286.809          11326.622  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZN                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58014.802          64286.809          11326.622  1
    END-POINT  58014.927          64286.809          11326.622  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZO                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58014.802          64286.809          11326.622 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZP                 
VALVE-ANGLE
    END-POINT  58020.115          64286.809          11319.497  1  FL
    END-POINT  58014.927          64286.809          11326.622  1  FL
    CENTRE-POINT   58020.115          64286.809          11326.622 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZD                 
    TAG PSV-076-01                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58020.115          64286.809          11319.497 
    PIPELINE-REFERENCE ISO-PY3-1218015
PIPE
    END-POINT  58008.563          64286.809          11328.125  1  BW
    END-POINT  58008.563          64286.809          11332.093  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64286.809          11332.093  1
    END-POINT  58008.563          64286.809          11332.093  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64286.809          11332.093  1
    END-POINT  58008.563          64286.809          11332.093  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6ON                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58008.563          64286.809          11332.289  1  FL
    END-POINT  58008.563          64286.809          11332.093  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OL                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58008.563          64286.809          11332.414  1
    END-POINT  58008.563          64286.809          11332.289  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58008.563          64286.809          11332.414 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OR                 
VALVE
    END-POINT  58008.563          64286.809          11332.414  1  FL
    END-POINT  58008.563          64286.809          11337.414  1  FL
    CENTRE-POINT   58008.563          64286.809          11334.914 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OP                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  58008.563          64286.809          11337.539  1
    END-POINT  58008.563          64286.809          11337.414  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OV                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58008.563          64286.809          11337.539 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OW                 
FLANGE
    END-POINT  58008.563          64286.809          11337.539  1  FL
    END-POINT  58008.563          64286.809          11337.734  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6OU                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64286.809          11337.734  1
    END-POINT  58008.563          64286.809          11337.734  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AB4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58008.563          64286.809          11337.734  1
    END-POINT  58008.563          64286.809          11337.734  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AB5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58008.563          64286.809          11384.191  1  BW
    END-POINT  58008.563          64286.809          11337.734  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AB2                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58008.563  64286.809  11370.721 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58008.563          64286.809          11384.191  1
    END-POINT  58008.563          64286.809          11384.191  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C01                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58008.563          64285.309          11385.691  1  BW
    END-POINT  58008.563          64288.309          11385.691  1  BW
    CENTRE-POINT   58008.563          64286.809          11385.691 
    BRANCH1-POINT  58008.563          64286.809          11384.191  1  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AKH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58008.563          64285.309          11385.691 
    PIPELINE-REFERENCE ISO-PY3-1218011
PIPE
    END-POINT  58031.541          64286.750          11291.940  1  PL
    END-POINT  58025.504          64286.809          11291.953  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C0E                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58031.541          64286.750          11291.940  1
    END-POINT  58031.541          64286.750          11291.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C0F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58031.541          64286.750          11291.940  1
    END-POINT  58031.541          64286.750          11291.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C0G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58031.737          64286.750          11291.940  1  FL
    END-POINT  58031.541          64286.750          11291.940  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C06                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58031.737          64286.750          11291.940  1
    END-POINT  58031.862          64286.750          11291.940  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C07                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58031.737          64286.750          11291.940 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C08                 
END-POSITION-OPEN 
    CO-ORDS  58031.862          64286.750          11291.940 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-1
    DESCRIPTION ELBOW SUPPORT, L=1'-0", P619 FIG. 2
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
