ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212010
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212010-VT-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/9/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RJR
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/16/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 BL
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58240.239          63894.851          11444.232  3  PL
    END-POINT  58240.239          63872.856          11443.639  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FSJ                 
    PIPING-SPEC S1
    CUT-PIECE-ALLOWANCE EP2 1.75
FLOOR-SYMBOL 
    CO-ORDS  58240.239  63882.747  11443.906 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58240.239  63882.747  11443.906 
    TEXT Wall Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58240.239  63887.615  11444.037 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58240.239          63894.851          11444.232  3
    END-POINT  58240.239          63894.851          11444.232  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FSL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58240.239          63894.851          11444.232  3
    END-POINT  58240.239          63894.851          11444.232  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FSM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58240.239          63872.856          11443.639 
FLANGE
    END-POINT  58240.239          63895.130          11444.232  3  FL
    END-POINT  58240.239          63894.851          11444.232  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FSB                 
    PIPING-SPEC S1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58240.239  63895.130  11444.232 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58240.239  63898.800  11444.232 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX1
    MESSAGE
    TEXT COL. E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58240.239  63895.130  11444.232 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63895.130  11444.232 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58240.239  63895.130  11444.232 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58240.239  63862.800  11444.232 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL D
GASKET
    END-POINT  58240.239          63895.130          11444.232  3
    END-POINT  58240.239          63895.255          11444.232  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FSC                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58240.239          63895.130          11444.232 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FSD                 
VALVE-ANGLE
    END-POINT  58240.239          63900.755          11437.232  2  FL
    END-POINT  58240.239          63895.255          11444.232  3  FL
    CENTRE-POINT   58240.239          63900.755          11444.232 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FS0                 
    TAG PSV-002-07                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58240.239          63900.755          11437.232 
    PIPELINE-REFERENCE ISO-PY3-1212009
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
