ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2044003
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 80TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2044003-80TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-044
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/2/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/2/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/2/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/2/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/2/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 3/2/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 12/17/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DK
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED FT-236-14
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  58319.665          64210.800          11881.163  2  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRK                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POINT  58320.415          64210.800          11881.163  2
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58320.415          64210.800          11881.163 
GASKET
    END-POINT  58319.602          64210.800          11881.163  2
    END-POINT  58319.665          64210.800          11881.163  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRI                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58319.665          64210.800          11881.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRJ                 
FLANGE
    END-POINT  58319.602          64210.800          11881.163  2  FL
    END-POINT  58319.386          64210.800          11881.163  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRH                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58319.386          64210.800          11881.163  2
    END-POINT  58319.386          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58319.386          64210.800          11881.163  2
    END-POINT  58319.386          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58311.386          64210.800          11881.163  2  BW
    END-POINT  58319.386          64210.800          11881.163  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRE                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58311.386          64210.800          11881.163  2
    END-POINT  58311.386          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58306.386          64210.800          11881.163  2  BW
    END-POINT  58311.386          64210.800          11881.163  2  BW
    CENTRE-POINT   58308.886          64210.800          11881.163 
    BRANCH1-POINT  58308.886          64210.800          11883.663  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58306.386          64210.800          11881.163  2
    END-POINT  58306.386          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58308.886          64210.800          11883.663  2
    END-POINT  58308.886          64210.800          11883.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRA                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58308.886          64210.800          11883.663  2  BW
    END-POINT  58308.886          64213.800          11886.663  2  BW
    CENTRE-POINT   58308.886          64210.800          11886.663 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MR9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58308.886          64213.800          11886.663  2
    END-POINT  58308.886          64213.800          11886.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MR8                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58308.886          64213.800          11886.663  2  BW
    END-POINT  58308.886          64219.800          11886.663  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MR6                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58308.886  64216.644  11886.663 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58308.886          64219.800          11886.663  2
    END-POINT  58308.886          64219.800          11886.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MR5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58308.886          64219.800          11886.663  2  BW
    END-POINT  58308.886          64222.800          11889.663  2  BW
    CENTRE-POINT   58308.886          64222.800          11886.663 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MR4                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58308.886          64222.800          11889.663  2
    END-POINT  58308.886          64222.800          11889.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58308.886          64222.800          11889.663  2  BW
    END-POINT  58308.886          64222.800          11894.663  2  BW
    CENTRE-POINT   58308.886          64222.800          11892.163 
    BRANCH1-POINT  58311.386          64222.800          11892.163  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58308.886          64222.800          11894.663  2
    END-POINT  58308.886          64222.800          11894.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQF                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58311.386          64222.800          11892.163  2
    END-POINT  58311.386          64222.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58311.386          64222.800          11892.163  2  BW
    END-POINT  58317.386          64222.800          11892.163  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQB                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58317.386          64222.800          11892.163  2
    END-POINT  58317.386          64222.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58317.386          64222.800          11892.163  2
    END-POINT  58317.386          64222.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58317.602          64222.800          11892.163  2  FL
    END-POINT  58317.386          64222.800          11892.163  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ8                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  58317.602          64222.800          11892.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ7                 
VALVE
    END-POINT  58317.602          64222.800          11892.163  2  FL
    END-POINT  58319.290          64222.800          11892.163  2  FL
    CENTRE-POINT   58318.446          64222.800          11892.163 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY2
    WEIGHT           7.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ5                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
BOLT
    CO-ORDS  58319.290          64222.800          11892.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ4                 
FLANGE
    END-POINT  58319.290          64222.800          11892.163  2  FL
    END-POINT  58319.506          64222.800          11892.163  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ3                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58319.506          64222.800          11892.163  2
    END-POINT  58319.506          64222.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58319.506          64222.800          11892.163  2
    END-POINT  58319.506          64222.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58319.506          64222.800          11892.163  2  PL
    END-POINT  58325.506          64222.800          11892.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQ0                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58325.506          64222.800          11892.163  2
    END-POINT  58325.506          64222.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58325.506          64222.800          11892.163  2  BW
    END-POINT  58328.506          64219.800          11892.163  2  BW
    CENTRE-POINT   58328.506          64222.800          11892.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58328.506          64219.800          11892.163  2
    END-POINT  58328.506          64219.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58328.506          64217.300          11892.163  2  FL
    END-POINT  58328.506          64219.800          11892.163  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPW                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58328.506          64217.238          11892.163  2
    END-POINT  58328.506          64217.300          11892.163  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPU                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58328.506          64217.300          11892.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPV                 
INSTRUMENT
    END-POINT  58328.506          64217.238          11892.163  2  FL
    END-POINT  58328.506          64203.238          11892.163  2  FL
    CENTRE-POINT   58328.506          64210.238          11892.163 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPS                 
    TAG PRV$236$15                      
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58328.506          64203.175          11892.163  2
    END-POINT  58328.506          64203.238          11892.163  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58328.506          64203.238          11892.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPR                 
FLANGE
    END-POINT  58328.506          64203.175          11892.163  2  FL
    END-POINT  58328.506          64202.959          11892.163  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPP                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58328.506          64202.959          11892.163  2
    END-POINT  58328.506          64202.959          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58328.506          64202.959          11892.163  2
    END-POINT  58328.506          64202.959          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58328.506          64194.800          11892.163  2  BW
    END-POINT  58328.506          64202.959          11892.163  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPL                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58328.506  64199.870  11892.163  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPM                 
WELD
    END-POINT  58328.506          64194.800          11892.163  2
    END-POINT  58328.506          64194.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58325.506          64191.800          11892.163  2  BW
    END-POINT  58328.506          64194.800          11892.163  2  BW
    CENTRE-POINT   58328.506          64191.800          11892.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58325.506          64191.800          11892.163  2
    END-POINT  58325.506          64191.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58319.506          64191.800          11892.163  2  PL
    END-POINT  58325.506          64191.800          11892.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPG                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58323.436  64191.800  11892.163 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58319.506          64191.800          11892.163  2
    END-POINT  58319.506          64191.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58319.506          64191.800          11892.163  2
    END-POINT  58319.506          64191.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58319.290          64191.800          11892.163  2  FL
    END-POINT  58319.506          64191.800          11892.163  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPD                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  58319.290          64191.800          11892.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPC                 
VALVE
    END-POINT  58317.602          64191.800          11892.163  2  FL
    END-POINT  58319.290          64191.800          11892.163  2  FL
    CENTRE-POINT   58318.446          64191.800          11892.163 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY2
    WEIGHT           7.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MPA                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
BOLT
    CO-ORDS  58317.602          64191.800          11892.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP9                 
FLANGE
    END-POINT  58317.602          64191.800          11892.163  2  FL
    END-POINT  58317.386          64191.800          11892.163  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP8                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58317.386          64191.800          11892.163  2
    END-POINT  58317.386          64191.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58317.386          64191.800          11892.163  2
    END-POINT  58317.386          64191.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58311.386          64191.800          11892.163  2  BW
    END-POINT  58317.386          64191.800          11892.163  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP5                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58311.386          64191.800          11892.163  2
    END-POINT  58311.386          64191.800          11892.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58308.886          64191.800          11894.663  2  BW
    END-POINT  58308.886          64191.800          11889.663  2  BW
    CENTRE-POINT   58308.886          64191.800          11892.163 
    BRANCH1-POINT  58311.386          64191.800          11892.163  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58308.886  64191.800  11892.163 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58308.886  64138.748  11892.163 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  58308.886          64191.800          11894.663  2
    END-POINT  58308.886          64191.800          11894.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58308.886          64191.800          11889.663  2
    END-POINT  58308.886          64191.800          11889.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MP0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58308.886          64194.800          11886.663  2  BW
    END-POINT  58308.886          64191.800          11889.663  2  BW
    CENTRE-POINT   58308.886          64191.800          11886.663 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MOZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58308.886          64194.800          11886.663  2
    END-POINT  58308.886          64194.800          11886.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MOY                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58308.886          64194.800          11886.663  2  BW
    END-POINT  58308.886          64200.800          11886.663  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MOX                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58308.886          64200.800          11886.663  2
    END-POINT  58308.886          64200.800          11886.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MOW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58308.886          64203.800          11883.663  2  BW
    END-POINT  58308.886          64200.800          11886.663  2  BW
    CENTRE-POINT   58308.886          64203.800          11886.663 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MOV                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58308.886          64203.800          11883.663  2
    END-POINT  58308.886          64203.800          11883.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MOU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58306.386          64203.800          11881.163  2  BW
    END-POINT  58311.386          64203.800          11881.163  2  BW
    CENTRE-POINT   58308.886          64203.800          11881.163 
    BRANCH1-POINT  58308.886          64203.800          11883.663  2  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MOS                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58306.386          64203.800          11881.163 
    PIPELINE-REFERENCE ISO-PY3-2044002
PIPE
    END-POINT  58308.886          64191.800          11898.663  2  BW
    END-POINT  58308.886          64191.800          11894.663  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MR3                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58308.886          64191.800          11898.663  2
    END-POINT  58308.886          64191.800          11898.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MR2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58308.886          64191.800          11898.663  2  BW
    END-POINT  58308.886          64194.800          11901.663  2  BW
    CENTRE-POINT   58308.886          64191.800          11901.663 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MR0                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58308.886  64191.800  11901.663 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64191.800  11901.663 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
WELD
    END-POINT  58308.886          64194.800          11901.663  2
    END-POINT  58308.886          64194.800          11901.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58308.886          64194.800          11901.663  2  BW
    END-POINT  58308.886          64203.021          11901.663  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQX                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58308.886  64198.802  11901.663 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58308.886          64203.021          11901.663  2
    END-POINT  58308.886          64203.021          11901.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58308.886          64203.021          11901.663  2
    END-POINT  58308.886          64203.021          11901.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58308.886          64203.238          11901.663  2  FL
    END-POINT  58308.886          64203.021          11901.663  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQU                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58308.886          64203.300          11901.663  2
    END-POINT  58308.886          64203.238          11901.663  2
    ERECTION-ITEM
    ITEM-CODE GAS2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQS                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58308.886          64203.238          11901.663 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQT                 
VALVE
    END-POINT  58308.886          64211.300          11901.663  2  FL
    END-POINT  58308.886          64203.300          11901.663  2  FL
    CENTRE-POINT   58308.886          64207.300          11901.663 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB2
    WEIGHT          36.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58308.886          64211.363          11901.663  2
    END-POINT  58308.886          64211.300          11901.663  2
    ERECTION-ITEM
    ITEM-CODE GAS2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQO                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58308.886          64211.300          11901.663 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQP                 
FLANGE
    END-POINT  58308.886          64211.363          11901.663  2  FL
    END-POINT  58308.886          64211.579          11901.663  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQN                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58308.886          64211.579          11901.663  2
    END-POINT  58308.886          64211.579          11901.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58308.886          64211.579          11901.663  2
    END-POINT  58308.886          64211.579          11901.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58308.886          64211.579          11901.663  2  PL
    END-POINT  58308.886          64219.800          11901.663  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQK                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58308.886          64219.800          11901.663  2
    END-POINT  58308.886          64219.800          11901.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58308.886          64222.800          11898.663  2  BW
    END-POINT  58308.886          64219.800          11901.663  2  BW
    CENTRE-POINT   58308.886          64222.800          11901.663 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58308.886          64222.800          11898.663  2
    END-POINT  58308.886          64222.800          11898.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58308.886          64222.800          11894.663  2  BW
    END-POINT  58308.886          64222.800          11898.663  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MQG                 
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58216.106          64210.800          11881.163  2  BW
    END-POINT  58306.386          64210.800          11881.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRL                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58291.555  64210.800  11881.163  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRO                 
FLOW-ARROW
    CO-ORDS  58255.639  64210.800  11881.163 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58216.106          64210.800          11881.163  2
    END-POINT  58216.106          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58216.106          64210.800          11881.163  2
    END-POINT  58216.106          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58265.683  64210.800  11881.163  2
    END-POINT  58265.683  64210.800  11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58301.181  64210.800  11881.163  2
    END-POINT  58301.181  64210.800  11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58301.181  64210.800  11881.163 
    BRANCH1-POINT  58301.181          64210.800          11882.920  0.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL2X1/2
    WEIGHT           0.240
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58301.181          64210.800          11882.920  0.5  SC FEMALE 
    END-POINT  58301.181          64210.800          11882.920  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58301.181          64210.800          11882.920  0.5  SC MALE 
    END-POINT  58301.181          64210.800          11885.920  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58301.181          64210.800          11885.920  0.5  SC MALE 
    END-POINT  58301.181          64210.800          11885.920  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRX                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58301.181          64210.800          11885.920  0.5  SC FEMALE 
    END-POINT  58301.181          64210.800          11887.400  0.5  SC FEMALE 
    CENTRE-POINT   58301.181          64210.800          11886.660 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MRY                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58301.181          64210.800          11887.400  0.5  SC MALE 
    END-POINT  58301.181          64210.800          11887.400  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PAE                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58301.181          64210.800          11890.400  0.5  BW
    END-POINT  58301.181          64210.800          11887.400  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PAD                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58301.181  64210.800  11890.400 
    TEXT PI$236$09
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58301.181          64210.800          11890.400 
OLET
    CENTRE-POINT      58265.683  64210.800  11881.163 
    BRANCH1-POINT  58265.683          64210.800          11883.037  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL2X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MS3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58265.683          64210.800          11883.037  1.5  SC FEMALE 
    END-POINT  58265.683          64210.800          11883.037  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PAK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58265.683          64210.800          11894.701  1.5  SC MALE 
    END-POINT  58265.683          64210.800          11883.037  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLI                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58265.683          64210.800          11894.701 
    PIPELINE-REFERENCE ISO-PY3-2044001
FLANGE
    END-POINT  58215.890          64210.800          11881.163  2  FL
    END-POINT  58216.106          64210.800          11881.163  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJN                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58215.827          64210.800          11881.163  2
    END-POINT  58215.890          64210.800          11881.163  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJR                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58215.827          64210.800          11881.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJS                 
MISC-COMPONENT
    END-POINT  58215.827          64210.800          11881.163  2  FL
    END-POINT  58207.127          64210.800          11881.163  2  FL
    CENTRE-POINT  58211.477  64210.800  11881.163 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJQ                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58211.318  64210.800  11881.163 
    TEXT FT$236$14
    UNDIMENSIONED
GASKET
    END-POINT  58207.065          64210.800          11881.163  2
    END-POINT  58207.127          64210.800          11881.163  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJU                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58207.065          64210.800          11881.163 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJV                 
FLANGE
    END-POINT  58207.065          64210.800          11881.163  2  FL
    END-POINT  58206.848          64210.800          11881.163  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJT                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58206.848          64210.800          11881.163  2
    END-POINT  58206.848          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58206.848          64210.800          11881.163  2
    END-POINT  58206.848          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58170.500          64210.800          11881.163  2  BW
    END-POINT  58206.848          64210.800          11881.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSF                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58203.780  64210.800  11881.163  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSG                 
WELD
    END-POINT  58170.500          64210.800          11881.163  2
    END-POINT  58170.500          64210.800          11881.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58170.500          64210.800          11881.163  2  BW
    END-POINT  58167.500          64210.800          11878.163  2  BW
    CENTRE-POINT   58167.500          64210.800          11881.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58167.500  64210.800  11881.163 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58167.500  64138.748  11881.163 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  58167.500          64210.800          11878.163  2
    END-POINT  58167.500          64210.800          11878.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58167.500          64210.800          11866.163  2  BW
    END-POINT  58167.500          64210.800          11878.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSL                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58167.500          64210.800          11866.163  2
    END-POINT  58167.500          64210.800          11866.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58167.500          64210.800          11866.163  2  BW
    END-POINT  58167.500          64213.800          11863.163  2  BW
    CENTRE-POINT   58167.500          64210.800          11863.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSN                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58167.500  64210.800  11863.163 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64210.800  11863.163 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  58167.500          64213.800          11863.163  2
    END-POINT  58167.500          64213.800          11863.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSP                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58167.500          64257.438          11863.163  2  BW
    END-POINT  58167.500          64213.800          11863.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSQ                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58167.500  64236.930  11863.163 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58167.500  64245.820  11863.163  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSS                 
WELD
    END-POINT  58167.500          64257.438          11863.163  2
    END-POINT  58167.500          64257.438          11863.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MST                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58167.500          64260.438          11860.163  2  BW
    END-POINT  58167.500          64257.438          11863.163  2  BW
    CENTRE-POINT   58167.500          64260.438          11863.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58167.500          64260.438          11860.163  2
    END-POINT  58167.500          64260.438          11860.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58167.500          64260.438          11824.862  2  BW
    END-POINT  58167.500          64260.438          11860.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSW                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58167.500          64260.438          11824.862  2
    END-POINT  58167.500          64260.438          11824.862  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58167.500          64260.438          11824.862  2  BW
    END-POINT  58167.500          64263.438          11821.862  2  BW
    CENTRE-POINT   58167.500          64260.438          11821.862 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58167.500          64263.438          11821.862  2
    END-POINT  58167.500          64263.438          11821.862  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MSZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58167.500          64265.938          11821.862  2  FL
    END-POINT  58167.500          64263.438          11821.862  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MT0                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58167.500          64265.938          11821.862  2
    END-POINT 
** 
Processing ID: AT_IVU4J19S_PAM  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PAM                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58167.500          64265.938          11821.862 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PAN                 
END-POSITION-OPEN 
    CO-ORDS  58167.500  64265.938  11821.862 
MATERIALS
ITEM-CODE FLGBLD2
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE TEESTR2X2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGSLP2_1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 1 1/4 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY2
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE VALVCNT2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PRV-236-15
    RATING 150LB
ITEM-CODE SUPRH-2
    DESCRIPTION GENERAL HANGER, L=2'-7 9/16", P624 FIG 2
ITEM-CODE GAS2_1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE VALVGLB2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 125LB, FF, GL-12-DC-500
    RATING 125LB
ITEM-CODE SUPRH-2_1
    DESCRIPTION GENERAL HANGER, L=2'-9 1/2", P624 FIG 4
ITEM-CODE TOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP1/2_1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, BV, SCH 40, - 3"
    RATING 40
ITEM-CODE TOL2X1+1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE GENSTR2
    DESCRIPTION FT-236-14
    RATING 150LB
ITEM-CODE SUPRH-2_2
    DESCRIPTION GENERAL HANGER, L=2'-9 9/16", P624 FIG 4
ITEM-CODE SUPRH-2_3
    DESCRIPTION GENERAL HANGER, L=4'-3 7/16", P624 FIG 4
