ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2047016
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 WTS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2047016-WTS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-047
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SK
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  58309.476          63941.800          12047.484  8  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GH6                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POINT  58310.596          63941.800          12047.484  8
    SKEY FLBL
GASKET
    END-POINT  58309.413          63941.800          12047.484  8
    END-POINT  58309.476          63941.800          12047.484  8
    ERECTION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GH4                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58309.476          63941.800          12047.484 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT8
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GH5                 
FLANGE
    END-POINT  58309.413          63941.800          12047.484  8  FL
    END-POINT  58309.029          63941.800          12047.484  8  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GH3                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58309.029          63941.800          12047.484  8
    END-POINT  58309.029          63941.800          12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58309.029          63941.800          12047.484  8
    END-POINT  58309.029          63941.800          12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57875.039          63941.800          12047.484  8  BW
    END-POINT  58309.029          63941.800          12047.484  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBN                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58241.745  63941.800  12047.484 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57912.321  63941.800  12047.484  8
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBV                 
SUPPORT
    CO-ORDS  58054.804  63941.800  12047.484  8
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBW                 
SUPPORT
    CO-ORDS  58194.295  63941.800  12047.484  8
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBX                 
WELD
    END-POINT  57875.039          63941.800          12047.484  8
    END-POINT  57875.039          63941.800          12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBY                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58182.800  63941.800  12047.484  8
    END-POINT  58182.800  63941.800  12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC1                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58133.050  63941.800  12047.484  8
    END-POINT  58133.050  63941.800  12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58282.308  63941.800  12047.484  8
    END-POINT  58282.308  63941.800  12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58101.541  63941.800  12047.484  8
    END-POINT  58101.541  63941.800  12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICI                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58293.029  63941.800  12047.484  8
    END-POINT  58293.029  63941.800  12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088  63941.800  12047.484  8
    END-POINT  58298.088  63941.800  12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58298.088  63941.800  12047.484 
    BRANCH1-POINT  58298.088          63941.800          12053.296  2  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X2
    WEIGHT           1.750
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBL                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63941.800          12053.296  2
    END-POINT  58298.088          63941.800          12053.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58298.088          63941.800          12053.296  2  BW
    END-POINT  58298.088          63941.800          12056.296  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICC                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63941.800          12056.296  2
    END-POINT  58298.088          63941.800          12056.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58298.088          63941.800          12056.296  2  BW
    END-POINT  58298.088          63938.800          12059.296  2  BW
    CENTRE-POINT   58298.088          63941.800          12059.296 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBH                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.088          63938.800          12059.296  2
    END-POINT  58298.088          63938.800          12059.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58298.088          63938.800          12059.296  2  BW
    END-POINT  58298.088          63934.800          12059.296  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBF                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63934.800          12059.296  2
    END-POINT  58298.088          63934.800          12059.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58298.088          63934.800          12059.296  2  BW
    END-POINT  58298.088          63931.800          12062.296  2  BW
    CENTRE-POINT   58298.088          63931.800          12059.296 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.088          63931.800          12062.296  2
    END-POINT  58298.088          63931.800          12062.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58298.088          63931.800          12062.296  2  BW
    END-POINT  58298.088          63931.800          12066.296  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBB                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63931.800          12066.296  2
    END-POINT  58298.088          63931.800          12066.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58298.088          63931.800          12066.296  2  BW
    END-POINT  58298.088          63931.800          12071.296  2  BW
    CENTRE-POINT   58298.088          63931.800          12068.796 
    BRANCH1-POINT  58300.588          63931.800          12068.796  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.088          63931.800          12071.296  2
    END-POINT  58298.088          63931.800          12071.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58300.588          63931.800          12068.796  2
    END-POINT  58300.588          63931.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58303.088          63931.800          12068.796  2  FL
    END-POINT  58300.588          63931.800          12068.796  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAS                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  58303.088          63931.800          12068.796 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAR                 
VALVE
    END-POINT  58303.088          63931.800          12068.796  2  FL
    END-POINT  58304.775          63931.800          12068.796  2  FL
    CENTRE-POINT   58303.932          63931.800          12068.796 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY2
    WEIGHT           7.700
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAP                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
BOLT
    CO-ORDS  58304.775          63931.800          12068.796 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAO                 
FLANGE
    END-POINT  58304.775          63931.800          12068.796  2  FL
    END-POINT  58304.992          63931.800          12068.796  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAN                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58304.992          63931.800          12068.796  2
    END-POINT  58304.992          63931.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58304.992          63931.800          12068.796  2
    END-POINT  58304.992          63931.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58310.992          63931.800          12068.796  2  BW
    END-POINT  58304.992          63931.800          12068.796  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDP                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58310.992          63931.800          12068.796  2
    END-POINT  58310.992          63931.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58310.992          63931.800          12068.796  2  BW
    END-POINT  58313.992          63934.800          12068.796  2  BW
    CENTRE-POINT   58313.992          63931.800          12068.796 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDN                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58313.992          63934.800          12068.796  2
    END-POINT  58313.992          63934.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58313.992          63937.300          12068.796  2  FL
    END-POINT  58313.992          63934.800          12068.796  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDV                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58313.992          63937.300          12068.796  2
    END-POINT  58313.992          63937.363          12068.796  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDX                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58313.992          63937.300          12068.796 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDY                 
INSTRUMENT
    END-POINT  58313.992          63937.363          12068.796  2  FL
    END-POINT  58313.992          63947.363          12068.796  2  FL
    CENTRE-POINT   58313.992          63942.363          12068.796 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAB                 
    TAG PRV$210$09                      
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58313.992          63947.425          12068.796  2
    END-POINT  58313.992          63947.363          12068.796  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GA9                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58313.992          63947.363          12068.796 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAA                 
FLANGE
    END-POINT  58313.992          63947.425          12068.796  2  FL
    END-POINT  58313.992          63947.641          12068.796  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GA8                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58313.992          63947.641          12068.796  2
    END-POINT  58313.992          63947.641          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58313.992          63947.641          12068.796  2
    END-POINT  58313.992          63947.641          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IDM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58313.992          63966.800          12068.796  2  BW
    END-POINT  58313.992          63947.641          12068.796  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GA3                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58313.992  63958.371  12068.796  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GA4                 
FLOW-ARROW
    CO-ORDS  58313.992  63952.537  12068.796 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58313.992          63966.800          12068.796  2
    END-POINT  58313.992          63966.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GA2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58313.992          63966.800          12068.796  2  BW
    END-POINT  58310.992          63969.800          12068.796  2  BW
    CENTRE-POINT   58313.992          63969.800          12068.796 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GA0                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58313.992  63969.800  12068.796 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63969.800  12068.796 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
WELD
    END-POINT  58310.992          63969.800          12068.796  2
    END-POINT  58310.992          63969.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9Z                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58304.992          63969.800          12068.796  2  PL
    END-POINT  58310.992          63969.800          12068.796  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9Y                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58304.992          63969.800          12068.796  2
    END-POINT  58304.992          63969.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58304.992          63969.800          12068.796  2
    END-POINT  58304.992          63969.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58304.775          63969.800          12068.796  2  FL
    END-POINT  58304.992          63969.800          12068.796  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9V                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  58304.775          63969.800          12068.796 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9U                 
VALVE
    END-POINT  58303.088          63969.800          12068.796  2  FL
    END-POINT  58304.775          63969.800          12068.796  2  FL
    CENTRE-POINT   58303.932          63969.800          12068.796 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY2
    WEIGHT           7.700
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9S                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
BOLT
    CO-ORDS  58303.088          63969.800          12068.796 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9R                 
FLANGE
    END-POINT  58303.088          63969.800          12068.796  2  FL
    END-POINT  58300.588          63969.800          12068.796  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9Q                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58300.588          63969.800          12068.796  2
    END-POINT  58300.588          63969.800          12068.796  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58298.088          63969.800          12066.296  2  BW
    END-POINT  58298.088          63969.800          12071.296  2  BW
    CENTRE-POINT   58298.088          63969.800          12068.796 
    BRANCH1-POINT  58300.588          63969.800          12068.796  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9N                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.088          63969.800          12066.296  2
    END-POINT  58298.088          63969.800          12066.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9M                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63969.800          12071.296  2
    END-POINT  58298.088          63969.800          12071.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9O                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58298.088          63969.800          12071.296  2  BW
    END-POINT  58298.088          63966.800          12074.296  2  BW
    CENTRE-POINT   58298.088          63969.800          12074.296 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GBA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.088          63966.800          12074.296  2
    END-POINT  58298.088          63966.800          12074.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1G                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58298.088          63966.800          12074.296  2  BW
    END-POINT  58298.088          63951.204          12074.296  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1F                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63951.204          12074.296  2
    END-POINT  58298.088          63951.204          12074.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63951.204          12074.296  2
    END-POINT  58298.088          63951.204          12074.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58298.088          63950.988          12074.296  2  FL
    END-POINT  58298.088          63951.204          12074.296  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GB4                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  58298.088          63950.988          12074.296 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GB3                 
VALVE
    END-POINT  58298.088          63949.300          12074.296  2  FL
    END-POINT  58298.088          63950.988          12074.296  2  FL
    CENTRE-POINT   58298.088          63950.144          12074.296 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY2
    WEIGHT           7.700
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GB1                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
BOLT
    CO-ORDS  58298.088          63949.300          12074.296 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GB0                 
FLANGE
    END-POINT  58298.088          63949.300          12074.296  2  FL
    END-POINT  58298.088          63946.800          12074.296  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAZ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63946.800          12074.296  2
    END-POINT  58298.088          63946.800          12074.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I12                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58298.088          63934.800          12074.296  2  BW
    END-POINT  58298.088          63946.800          12074.296  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I10                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63934.800          12074.296  2
    END-POINT  58298.088          63934.800          12074.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I11                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088  63938.800  12074.296  2
    END-POINT  58298.088  63938.800  12074.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I16                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58298.088  63938.800  12074.296 
    BRANCH1-POINT  58298.088          63938.800          12076.054  0.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL2X1/2
    WEIGHT           0.240
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I14                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58298.088          63938.800          12076.054  0.5  SC MALE 
    END-POINT  58298.088          63938.800          12076.054  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I18                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58298.088          63938.800          12076.054  0.5  SC MALE 
    END-POINT  58298.088          63938.800          12079.054  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I17                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58298.088          63938.800          12079.054  0.5  SC FEMALE 
    END-POINT  58298.088          63938.800          12079.054  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1A                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58298.088          63938.800          12079.054  0.5  SC FEMALE 
    END-POINT  58298.088          63938.800          12080.404  0.5  SC FEMALE 
    CENTRE-POINT   58298.088          63938.800          12079.794 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I19                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  58298.088          63938.800          12080.404  0.5  SC MALE 
    END-POINT  58298.088          63938.800          12080.404  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58298.088          63938.800          12080.404  0.5  SC MALE 
    END-POINT  58298.088          63938.800          12081.274  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1D                 
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58298.088          63931.800          12071.296  2  BW
    END-POINT  58298.088          63934.800          12074.296  2  BW
    CENTRE-POINT   58298.088          63931.800          12074.296 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GAX                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58298.088          63969.800          12062.296  2  BW
    END-POINT  58298.088          63969.800          12066.296  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9L                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63969.800          12062.296  2
    END-POINT  58298.088          63969.800          12062.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9K                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58298.088          63966.800          12059.296  2  BW
    END-POINT  58298.088          63969.800          12062.296  2  BW
    CENTRE-POINT   58298.088          63969.800          12059.296 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9J                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.088          63966.800          12059.296  2
    END-POINT  58298.088          63966.800          12059.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9I                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58298.088          63962.800          12059.296  2  BW
    END-POINT  58298.088          63966.800          12059.296  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9H                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63962.800          12059.296  2
    END-POINT  58298.088          63962.800          12059.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9G                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58298.088          63959.800          12056.296  2  BW
    END-POINT  58298.088          63962.800          12059.296  2  BW
    CENTRE-POINT   58298.088          63959.800          12059.296 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9F                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.088          63959.800          12056.296  2
    END-POINT  58298.088          63959.800          12056.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICR                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58298.088          63959.800          12056.296  2  BW
    END-POINT  58298.088          63959.800          12052.296  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICQ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58298.088          63959.800          12052.296  2
    END-POINT  58298.088          63959.800          12052.296  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
OLET
    CENTRE-POINT      58298.088  63959.800  12046.484 
    BRANCH1-POINT  58298.088          63959.800          12052.296  2  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           1.750
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9B                 
    PIPING-SPEC C1
END-CONNECTION-PIPELINE 
    CO-ORDS  58298.088  63959.800  12046.484 
    PIPELINE-REFERENCE ISO-PY3-2047017
OLET
    CENTRE-POINT      58293.029  63941.800  12047.484 
    BRANCH1-POINT  58293.029          63941.800          12052.296  0.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL8X1/2
    WEIGHT           0.240
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC6                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58293.029          63941.800          12052.296  0.5  SC FEMALE 
    END-POINT  58293.029          63941.800          12052.296  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58293.029          63941.800          12052.296  0.5  SC MALE 
    END-POINT  58293.029          63941.800          12057.386  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58293.029          63941.800          12057.386  0.5  SC MALE 
    END-POINT  58293.029          63941.800          12057.386  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GC9                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58293.029          63941.800          12057.386  0.5  SC FEMALE 
    END-POINT  58293.029          63941.800          12058.706  0.5  SC FEMALE 
    CENTRE-POINT   58293.029          63941.800          12057.966 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2_1
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GCA                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  58293.029          63941.800          12058.706  0.5  SC MALE 
    END-POINT  58293.029          63941.800          12058.706  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HZI                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58293.029          63941.800          12061.706  0.5  BW
    END-POINT  58293.029          63941.800          12058.706  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HZH                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58293.029  63941.800  12061.706 
    TEXT PI$210$08
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58293.029          63941.800          12061.706 
OLET
    CENTRE-POINT      58101.541  63941.800  12047.484 
    BRANCH1-POINT  58101.541          63941.800          12052.483  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL8X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GCF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58101.541          63941.800          12052.483  1.5  SC MALE 
    END-POINT  58101.541          63941.800          12052.483  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58101.541          63941.800          12063.413  1.5  SC MALE 
    END-POINT  58101.541          63941.800          12052.483  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICJ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58101.541          63941.800          12063.413 
    PIPELINE-REFERENCE ISO-PY3-2047011
OLET
    CENTRE-POINT      58282.308  63941.800  12047.484 
    BRANCH1-POINT  58282.308          63941.800          12053.546  3  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X3
    WEIGHT           4.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GFM                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58282.308          63941.800          12053.546  3
    END-POINT  58282.308          63941.800          12053.546  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICO                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58282.308          63941.800          12058.250  3  BW
    END-POINT  58282.308          63941.800          12053.546  3  BW
    CONTINUATION 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KFQ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58282.308          63941.800          12058.250 
    PIPELINE-REFERENCE ISO-PY3-2047012
OLET
    CENTRE-POINT      58133.050  63941.800  12047.484 
    BRANCH1-POINT  58133.050          63941.800          12052.421  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL8X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GFO                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58133.050          63941.800          12052.421  1  SC MALE 
    END-POINT  58133.050          63941.800          12052.421  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58133.050          63941.800          12063.440  1  SC MALE 
    END-POINT  58133.050          63941.800          12052.421  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICF                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58133.050          63941.800          12063.440 
    PIPELINE-REFERENCE ISO-PY3-2047013
OLET
    CENTRE-POINT      58182.800  63941.800  12047.484 
    BRANCH1-POINT  58182.800          63941.800          12053.296  2  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X2
    WEIGHT           1.750
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GH1                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58182.800          63941.800          12053.296  2
    END-POINT  58182.800          63941.800          12053.296  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KG0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58182.800          63941.800          12056.110  2  BW
    END-POINT  58182.800          63941.800          12053.296  2  BW
    CONTINUATION 
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KFI                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58182.800          63941.800          12056.110 
    PIPELINE-REFERENCE ISO-PY3-2047010
TEE
    END-POINT  57861.039          63941.800          12047.484  8  BW
    END-POINT  57875.039          63941.800          12047.484  8  BW
    CENTRE-POINT   57868.039          63941.800          12047.484 
    BRANCH1-POINT  57868.039          63941.800          12054.104  6  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED8X6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GH7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57861.039          63941.800          12047.484  8
    END-POINT  57861.039          63941.800          12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GH9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57868.039          63941.800          12054.104  6
    END-POINT  57868.039          63941.800          12054.104  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KFY                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57868.039          63941.800          12054.104  6  BW
    END-POINT  57868.039          63932.800          12063.104  6  BW
    CENTRE-POINT   57868.039          63941.800          12063.104 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_J6X                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57868.039          63932.800          12063.104 
    PIPELINE-REFERENCE ISO-PY3-2047008
PIPE
    END-POINT  57809.238          63941.800          12047.484  8  BW
    END-POINT  57861.039          63941.800          12047.484  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHB                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57809.238          63941.800          12047.484  8
    END-POINT  57809.238          63941.800          12047.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57809.238          63941.800          12047.484  8  BW
    END-POINT  57797.238          63941.800          12035.484  8  BW
    CENTRE-POINT   57797.238          63941.800          12047.484 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57797.238  63941.800  12047.484 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57797.238  63898.800  12047.484 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57797.238  63941.800  12047.484 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63941.800  12047.484 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57797.238          63941.800          12035.484  8
    END-POINT  57797.238          63941.800          12035.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57797.238          63941.800          11635.063  8  BW
    END-POINT  57797.238          63941.800          12035.484  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHG                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57797.238  63941.800  11711.467 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57797.238  63941.800  11908.539  8
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHJ                 
SUPPORT
    CO-ORDS  57797.238  63941.800  11769.117  8
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHK                 
WELD
    END-POINT  57797.238          63941.800          11635.063  8
    END-POINT  57797.238          63941.800          11635.063  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57797.238  63941.800  11759.444  8
    END-POINT  57797.238  63941.800  11759.444  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57797.238  63941.800  11759.444 
    BRANCH1-POINT  57803.550          63941.800          11759.444  4  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X4
    WEIGHT           6.300
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHN                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57803.550          63941.800          11759.444  4
    END-POINT  57803.550          63941.800          11759.444  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G95                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57864.769          63941.800          11759.444  4  BW
    END-POINT  57803.550          63941.800          11759.444  4  BW
    CONTINUATION 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE8                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57857.476  63941.800  11759.444  4
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE9                 
END-CONNECTION-PIPELINE 
    CO-ORDS  57864.769          63941.800          11759.444 
    PIPELINE-REFERENCE ISO-PY3-2047009
ELBOW
    END-POINT  57797.238          63941.800          11635.063  8  BW
    END-POINT  57797.238          63953.800          11623.063  8  BW
    CENTRE-POINT   57797.238          63941.800          11623.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHP                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57797.238          63953.800          11623.063  8
    END-POINT  57797.238          63953.800          11623.063  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57797.238          63953.800          11623.063  8  BW
    END-POINT  57797.238          64196.498          11623.063  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHR                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57797.238  64140.325  11623.063  8
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHS                 
WELD
    END-POINT  57797.238          64196.498          11623.063  8
    END-POINT  57797.238          64196.498          11623.063  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHT                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57797.238          64208.498          11611.063  8  BW
    END-POINT  57797.238          64196.498          11623.063  8  BW
    CENTRE-POINT   57797.238          64208.498          11623.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57797.238  64208.498  11623.063 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64208.498  11623.063 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57797.238  64208.498  11623.063 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57797.237  64138.748  11623.063 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57797.238          64208.498          11611.063  8
    END-POINT  57797.238          64208.498          11611.063  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57785.238          64208.498          11599.063  8  BW
    END-POINT  57797.238          64208.498          11611.063  8  BW
    CENTRE-POINT   57797.238          64208.498          11599.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHX                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57785.238          64208.498          11599.063  8
    END-POINT  57785.238          64208.498          11599.063  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57702.071          64208.498          11599.063  8  BW
    END-POINT  57785.238          64208.498          11599.063  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GI0                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57743.521  64208.498  11599.063 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57702.071          64208.498          11599.063  8
    END-POINT  57702.071          64208.498          11599.063  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GI2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57702.071          64208.498          11599.063  8  BW
    END-POINT  57696.071          64208.498          11598.063  6  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GI3                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57696.071          64208.498          11598.063  6
    END-POINT  57696.071          64208.498          11598.063  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GI4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57687.071          64208.498          11589.063  6  BW
    END-POINT  57696.071          64208.498          11598.063  6  BW
    CENTRE-POINT   57687.071          64208.498          11598.063 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GI5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57687.071          64208.498          11589.063  6
    END-POINT  57687.071          64208.498          11589.063  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IC0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57687.071          64208.498          11589.063  6  BW
    END-POINT  57687.071          64208.498          11577.154  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBZ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57687.071          64208.498          11577.154  6
    END-POINT  57687.071          64208.498          11577.154  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IC1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57687.071          64208.498          11577.154  6
    END-POINT  57687.071          64208.498          11577.154  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IC2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57687.071          64208.498          11576.811  6  FL
    END-POINT  57687.071          64208.498          11577.154  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I01                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-POINTED
    CO-ORDS  57687.071  64208.498  11577.154 
    TEXT TP$057
    UNDIMENSIONED
GASKET
    END-POINT  57687.071          64208.498          11576.811  6
    END-POINT  57687.071          64208.498          11576.749  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I02                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57687.071          64208.498          11576.811 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG6
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I03                 
END-POSITION-OPEN 
    CO-ORDS  57687.071          64208.498          11576.749 
MATERIALS
ITEM-CODE FLGBLD8
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS8
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT8
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 3/4 X 3 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE FLGSLP8
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP8
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE SUPUB-8
    DESCRIPTION U BOLT ANCHOR, P627 FIG 3
ITEM-CODE WOL8X2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40, ASTM A105, MSS SP-97
    RATING 40
ITEM-CODE PIP2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE 90LLR2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE TEESTR2X2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 1 1/4 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY2
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE FLGWNK2_1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVCNT2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, 150LB, RF, PRV-210-09
    RATING 150LB
ITEM-CODE FLGSLP2_1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPRH-2
    DESCRIPTION GENERAL HANGER, L=5'-6", P624 FIG 2
ITEM-CODE TOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-001
    RATING 275LB
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TOL8X1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE VALVBAL1/2_1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP1/2_1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, BV, SCH 40, - 3"
    RATING 40
ITEM-CODE TOL8X1+1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE WOL8X3
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40, ASTM A105, MSS SP-97
    RATING 40
ITEM-CODE TOL8X1
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE TEERED8X6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR8
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPUB-8_1
    DESCRIPTION ANGLED U BOLT SUPPORT, L=2'-0", P625 FIG 4
ITEM-CODE WOL8X4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40, ASTM A105, MSS SP-97
    RATING 40
ITEM-CODE REDECC8X6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP6
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE FLGSLP6
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLTLUG6
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 3/4 X 2 MACHINE BOLTS
    RATING 150LB
