ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213007
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1213007-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/16/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/27/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 1/19/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 2/23/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BJL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57933.800          64020.371          11836.312  0.75  BW
    END-POINT  57933.800          64014.371          11836.312  0.75  BW
    CENTRE-POINT  57933.800  64017.371  11836.312 
    SKEY NCBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGA                 
    TAG TE-028-01                       
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57933.800  64014.371  11836.312 
    TEXT TE$028$01
    UNDIMENSIONED
WELD
    END-POINT  57933.800          64020.371          11836.312  0.75
    END-POINT  57933.800          64020.371          11836.312  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGB                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57933.800          64014.371          11836.312 
ELBOLET
    END-POINT  57933.800          64022.246          11836.312  3  PL
    END-POINT  57933.800          64020.371          11836.312  0.75  BW
    SKEY CEBW
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57933.800          64022.246          11836.312  3
    END-POINT  57933.800          64022.246          11836.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCZ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  57933.800          64026.583          11836.312  3  BW
    END-POINT  57929.300          64022.083          11836.312  3  BW
    CENTRE-POINT   57933.800          64022.083          11836.312 
    BRANCH1-POINT  57933.800          64022.246          11836.312  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8MR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  57933.800          64022.246          11836.312  3
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57933.800  64022.083  11836.312 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64022.083  11836.312 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57933.800  64022.083  11836.312 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57933.800  63898.800  11836.312 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57933.800          64026.583          11836.312  3
    END-POINT  57933.800          64026.583          11836.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BAD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57929.300          64022.083          11836.312  3
    END-POINT  57929.300          64022.083          11836.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BAE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57929.300          64022.083          11836.312  3  BW
    END-POINT  57925.800          64022.083          11835.750  2  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BAA                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57925.800          64022.083          11835.750  2
    END-POINT  57925.800          64022.083          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BAC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57925.800          64022.083          11835.750  2  BW
    END-POINT  57921.300          64022.083          11835.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8PU                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57923.567  64022.083  11835.750 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57921.300          64022.083          11835.750  2
    END-POINT  57921.300          64022.083          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57918.800          64022.083          11838.250  2  BW
    END-POINT  57918.800          64022.083          11833.250  2  BW
    CENTRE-POINT   57918.800          64022.083          11835.750 
    BRANCH1-POINT  57921.300          64022.083          11835.750  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8PS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57918.800          64022.083          11838.250  2
    END-POINT  57918.800          64022.083          11838.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64022.083          11833.250  2
    END-POINT  57918.800          64022.083          11833.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BAQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.800          64022.083          11833.250  2  BW
    END-POINT  57918.800          64022.083          11809.250  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BAP                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64022.083          11809.250  2
    END-POINT  57918.800          64022.083          11809.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57918.800          64022.083          11809.250  2  BW
    END-POINT  57918.800          64022.083          11804.250  2  BW
    CENTRE-POINT   57918.800          64022.083          11806.750 
    BRANCH1-POINT  57918.800          64024.583          11806.750  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCF                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57918.800          64022.083          11804.250  2
    END-POINT  57918.800          64022.083          11804.250  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GR                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64024.583          11806.750  2
    END-POINT  57918.800          64024.583          11806.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57918.800          64022.084          11804.250  2  BW
    END-POINT  57918.800          64022.084          11801.250  1.5  BW
    SKEY RCBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DU                  
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57918.800          64022.084          11801.250 
    PIPELINE-REFERENCE ISO-PY3-1213008
REDUCER-ECCENTRIC
    END-POINT  57918.800          64024.583          11806.750  2  BW
    END-POINT  57918.800          64027.583          11806.217  1  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBI                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57918.800          64027.583          11806.217  1
    END-POINT  57918.800          64027.583          11806.217  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.800          64027.583          11806.217  1  BW
    END-POINT  57918.800          64032.113          11806.217  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBL                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57918.800          64032.113          11806.217  1  SW FEMALE 
    END-POINT  57918.800          64032.113          11806.217  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57918.800          64032.113          11806.217  1  SW FEMALE 
    END-POINT  57918.800          64034.743          11806.217  1  SW FEMALE 
    CENTRE-POINT   57918.800          64033.428          11806.217 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBN                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57918.800          64034.743          11806.217  1
    END-POINT  57918.800          64034.743          11806.217  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.800          64034.743          11806.217  1  PL
    END-POINT  57918.800          64039.273          11806.217  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64039.273          11806.217  1
    END-POINT  57918.800          64039.273          11806.217  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64039.273          11806.217  1
    END-POINT  57918.800          64039.273          11806.217  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57918.800          64039.469          11806.217  1  FL
    END-POINT  57918.800          64039.273          11806.217  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBT                 
    PIPING-SPEC S1
GASKET
    END-POINT  57918.800          64039.594          11806.217  1
    END-POINT  57918.800          64039.469          11806.217  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBX                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57918.800          64039.594          11806.217 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBY                 
VALVE
    END-POINT  57918.800          64039.594          11806.217  1  FL
    END-POINT  57918.800          64044.594          11806.217  1  FL
    CENTRE-POINT   57918.800          64042.094          11806.217 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           9.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBW                 
    TAG LV-044-06                       
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57918.800  64042.094  11806.217 
    TEXT LV$044$06
    UNDIMENSIONED
GASKET
    END-POINT  57918.800          64044.719          11806.217  1
    END-POINT  57918.800          64044.594          11806.217  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GC2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57918.800          64044.719          11806.217 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GC3                 
FLANGE
    END-POINT  57918.800          64044.719          11806.217  1  FL
    END-POINT  57918.800          64044.914          11806.217  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GC1                 
    PIPING-SPEC S1
WELD
    END-POINT  57918.800          64044.914          11806.217  1
    END-POINT  57918.800          64044.914          11806.217  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GC5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64044.914          11806.217  1
    END-POINT  57918.800          64044.914          11806.217  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GC6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.800          64044.914          11806.217  1  PL
    END-POINT  57918.800          64048.914          11806.217  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GC4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64048.914          11806.217  1
    END-POINT  57918.800          64048.914          11806.217  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GC9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57918.800          64051.414          11806.512  1.5  BW
    END-POINT  57918.800          64048.914          11806.217  1  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GC7                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57918.800          64051.414          11806.512  1.5
    END-POINT  57918.800          64051.414          11806.512  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IN9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.800          64051.414          11806.512  1.5  BW
    END-POINT  57918.800          64067.490          11806.507  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IN8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64067.490          11806.507  1.5
    END-POINT  57918.800          64067.490          11806.507  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57918.800          64067.490          11806.507  1.5  BW
    END-POINT  57918.800          64069.740          11804.257  1.5  BW
    CENTRE-POINT   57918.800          64069.740          11806.507 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8OH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57918.800          64069.740          11804.257  1.5
    END-POINT  57918.800          64069.740          11804.257  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.800          64069.740          11725.288  1.5  BW
    END-POINT  57918.800          64069.740          11804.257  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8OM                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  57918.800  64069.740  11782.743 
    SKEY FLOR
MESSAGE
    CO-ORDS  57918.800  64069.740  11782.743 
    TEXT FLOOR PENETRATION
SUPPORT
    CO-ORDS  57918.800  64069.740  11783.756  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCA                 
    TAG                         P615, FIG. 6                    
FLOW-ARROW
    CO-ORDS  57918.800  64069.740  11741.401 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57918.800          64069.740          11725.288  1.5
    END-POINT  57918.800          64069.740          11725.288  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8ON                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57918.800          64069.740          11725.288  1.5  BW
    END-POINT  57916.550          64069.740          11723.038  1.5  BW
    CENTRE-POINT   57918.800          64069.740          11723.038 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8OK                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57916.550          64069.740          11723.038  1.5
    END-POINT  57916.550          64069.740          11723.038  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EH2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57890.483          64069.740          11723.038  1.5  BW
    END-POINT  57916.550          64069.740          11723.038  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EH0                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57907.422  64069.740  11723.038  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EH3                 
WELD
    END-POINT  57890.483          64069.740          11723.038  1.5
    END-POINT  57890.483          64069.740          11723.038  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EH1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57888.233          64067.490          11723.038  1.5  BW
    END-POINT  57890.483          64069.740          11723.038  1.5  BW
    CENTRE-POINT   57888.233          64069.740          11723.038 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57888.233          64067.490          11723.038  1.5
    END-POINT  57888.233          64067.490          11723.038  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57888.233          64067.490          11723.038  1.5  BW
    END-POINT  57888.233          64059.495          11723.038  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57888.233          64059.495          11723.038  1.5
    END-POINT  57888.233          64059.495          11723.038  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IND                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57885.983          64057.245          11723.038  1.5  BW
    END-POINT  57888.233          64059.495          11723.038  1.5  BW
    CENTRE-POINT   57888.233          64057.245          11723.038 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57885.983          64057.245          11723.038  1.5
    END-POINT  57885.983          64057.245          11723.038  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57861.983          64057.245          11723.038  1.5  BW
    END-POINT  57885.983          64057.245          11723.038  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGQ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57861.983          64057.245          11723.038  1.5
    END-POINT  57861.983          64057.245          11723.038  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57859.733          64059.495          11723.038  1.5  BW
    END-POINT  57861.983          64057.245          11723.038  1.5  BW
    CENTRE-POINT   57859.733          64057.245          11723.038 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGI                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57859.733          64059.495          11723.038  1.5
    END-POINT  57859.733          64059.495          11723.038  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57859.733          64066.495          11723.038  1.5  BW
    END-POINT  57859.733          64059.495          11723.038  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EGG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57859.733          64066.495          11723.038  1.5
    END-POINT  57859.733          64066.495          11723.038  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G2M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57859.733          64066.495          11723.038  1.5  BW
    END-POINT  57859.733          64068.745          11720.788  1.5  BW
    CENTRE-POINT   57859.733          64068.745          11723.038 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8OP                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57859.733  64068.745  11723.038 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64068.745  11723.038 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57859.733  64068.745  11723.038 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57859.733  64138.748  11723.038 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57859.733          64068.745          11720.788  1.5
    END-POINT  57859.733          64068.745          11720.788  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G2H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57859.733          64068.745          11720.788  1.5  BW
    END-POINT  57859.737          64068.754          11671.395  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G2G                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57859.735  64068.749  11697.268 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57859.737          64068.754          11671.395  1.5
    END-POINT  57859.737          64068.754          11671.395  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G2I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57859.737          64068.754          11671.395  1.5
    END-POINT  57859.737          64068.754          11671.395  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G2J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57859.737          64068.754          11671.187  1.5  FL
    END-POINT  57859.737          64068.754          11671.395  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G2C                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57859.737          64068.754          11671.187  1.5
    END-POINT  57859.737          64068.754          11671.062  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G2D                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57859.737          64068.754          11671.187 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G2E                 
END-POSITION-OPEN 
    CO-ORDS  57859.737          64068.754          11671.062 
PIPE
    END-POINT  57918.800          64022.083          11838.250  2  BW
    END-POINT  57918.800          64022.083          11841.250  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWL                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64022.083          11841.250  2
    END-POINT  57918.800          64022.083          11841.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64022.083          11841.250  2
    END-POINT  57918.800          64022.083          11841.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57918.800          64022.083          11841.466  2  FL
    END-POINT  57918.800          64022.083          11841.250  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWN                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57918.800          64022.083          11841.591  2
    END-POINT  57918.800          64022.083          11841.466  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWT                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57918.800          64022.083          11841.591 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWU                 
VALVE-ANGLE
    END-POINT  57918.800          64022.083          11841.591  2  FL
    END-POINT  57913.925          64022.083          11846.966  3  FL
    CENTRE-POINT   57918.800          64022.083          11846.966 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREI2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWR                 
    TAG PSV-028-04                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57918.800  64022.083  11846.966 
    TEXT PSV$028$04
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  57913.925  64022.083  11846.966 
    TEXT PSV$028$04
    UNDIMENSIONED
GASKET
    END-POINT  57913.800          64022.083          11846.966  3
    END-POINT  57913.925          64022.083          11846.966  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DX0                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57913.800          64022.083          11846.966  3  FL
    END-POINT  57913.521          64022.083          11846.966  3  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DWZ                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  57913.521          64022.083          11846.966 
    PIPELINE-REFERENCE ISO-PY3-1213020
REDUCER-ECCENTRIC
    END-POINT  57933.800          64026.583          11836.312  3  BW
    END-POINT  57933.800          64030.083          11835.750  2  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BA7                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57933.800          64030.083          11835.750  2
    END-POINT  57933.800          64030.083          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57933.800          64030.083          11835.750  2  BW
    END-POINT  57933.800          64040.083          11835.750  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57933.800          64040.083          11835.750  2
    END-POINT  57933.800          64040.083          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57933.800          64040.083          11835.750  2
    END-POINT  57933.800          64040.083          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57933.800          64040.300          11835.750  2  FL
    END-POINT  57933.800          64040.083          11835.750  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8M7                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57933.800          64040.300          11835.750  2
    END-POINT 
** 
Processing ID: AT_FJ9XDMOH_F7Z  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F7Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57933.800          64040.300          11835.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F80                 
END-POSITION-OPEN 
    CO-ORDS  57933.800  64040.300  11835.750 
MATERIALS
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDECC3X2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDECC2X1
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION CONTROL VALVE, 150LB, RF, LV-044-06
    RATING 150LB
ITEM-CODE REDECC1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION RISER CLAMP P615, FIG. 6
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION PIPE INSULATION PROTECTION SADDLE
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREI2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, PSV-028-04
    RATING 150LB
ITEM-CODE BOLT2_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
