ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223001
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 1.50
    ATTRIBUTE96 1223001-AN-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 11/11/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 12/30/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/15/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/5/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/5/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/5/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/2/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 D. ORR
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58309.894          64167.301          11717.197  0.5  FL
    END-POINT  58309.894          64167.291          11715.317  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5HY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ADDITIONAL-ITEM 
    SIZE 1/2
    ITEM-CODE ADD_MAT
    ITEM-GROUP MISC 
    FABRICATION-ITEM 
    QUANTITY 1
MESSAGE-CIRCLE
    CO-ORDS  58309.894  64167.301  11717.197 
    TEXT FE$013$13
    UNDIMENSIONED
WELD
    END-POINT  58309.894          64167.291          11715.317  0.5
    END-POINT  58309.894          64167.291          11715.317  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_75V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58309.894          64167.301          11717.197 
OLET
    CENTRE-POINT      58309.894  64167.256  11708.192 
    BRANCH1-POINT  58309.894          64167.291          11715.317  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL12X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5HW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58309.894  64167.256  11708.192  12
    END-POINT  58309.894  64167.256  11708.192  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_94P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58309.894          63990.524          11709.058  12  BW
    END-POINT  58309.893          64240.569          11707.839  12  BW
    FABRICATION-ITEM
    ITEM-CODE PIP12
    WEIGHT          24.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5HI                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58309.894  64126.154  11708.393 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58309.894  64138.737  11708.331  12
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-12
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5QT                 
SUPPORT
    CO-ORDS  58309.894  64092.005  11708.561  12
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-12
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81C                 
WELD
    END-POINT  58309.894          63990.524          11709.058  12
    END-POINT  58309.894          63990.524          11709.058  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58309.893          64240.569          11707.839  12
    END-POINT  58309.893          64240.569          11707.839  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58291.893          64258.569          11707.751  12  BW
    END-POINT  58309.893          64240.569          11707.839  12  BW
    CENTRE-POINT   58309.893          64258.569          11707.751 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4J3                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58291.893          64258.569          11707.751  12
    END-POINT  58291.893          64258.569          11707.751  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58276.831          64258.569          11707.751  12  PL
    END-POINT  58291.893          64258.569          11707.751  12  BW
    FABRICATION-ITEM
    ITEM-CODE PIP12
    WEIGHT          24.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QU                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58276.831          64258.569          11707.751  12
    END-POINT  58276.831          64258.569          11707.751  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58276.831          64258.569          11707.751  12
    END-POINT  58276.831          64258.569          11707.751  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58276.393          64258.569          11707.751  12  FL
    END-POINT  58276.831          64258.569          11707.751  12  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QQ                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58276.393          64258.569          11707.751  12
    END-POINT 
** 
Processing ID: AT_FL5BJQ2V_94I  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_94I                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58276.393          64258.569          11707.751 
    BOLT-DIA           0.875
    BOLT-QUANTITY              12
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT12
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_94J                 
END-POSITION-OPEN 
    CO-ORDS  58276.393  64258.569  11707.751 
ELBOW
    END-POINT  58309.894          63972.612          11727.058  12  BW
    END-POINT  58309.894          63990.524          11709.058  12  BW
    CENTRE-POINT   58309.894          63972.612          11709.146 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5HG                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8972
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58309.894  63972.612  11709.146 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63972.612  11709.146 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58309.894  63972.612  11709.146 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58309.894  63898.798  11709.146 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  58309.894          63972.612          11727.058  12
    END-POINT  58309.894          63972.612          11727.058  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98Z                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58309.894          63972.612          11727.058  12  BW
    END-POINT  58309.893          63972.613          11933.448  12  BW
    FABRICATION-ITEM
    ITEM-CODE PIP12
    WEIGHT          24.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_94S                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOOR-SYMBOL 
    CO-ORDS  58309.893  63972.613  11928.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58309.893  63972.613  11928.000 
    TEXT Floor Opening
    UNDIMENSIONED
FLOOR-SYMBOL 
    CO-ORDS  58309.894  63972.612  11784.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58309.894  63972.612  11784.000 
    TEXT Floor Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58309.894  63972.612  11784.000  12
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-12_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_94X                 
WELD
    END-POINT  58309.893          63972.613          11933.448  12
    END-POINT  58309.893          63972.613          11933.448  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_94U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58309.893          63972.613          11933.448  12  BW
    END-POINT  58309.893          63990.519          11951.447  12  BW
    CENTRE-POINT   58309.893          63972.613          11951.354 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR12_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5OY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58309.893  63972.613  11951.354 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63972.613  11951.354 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58309.893  63972.613  11951.354 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58309.893  63898.800  11951.354 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58309.893          63990.519          11951.447  12
    END-POINT  58309.893          63990.519          11951.447  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_953                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58309.893          64076.988          11951.896  12  BW
    END-POINT  58309.893          63990.519          11951.447  12  BW
    FABRICATION-ITEM
    ITEM-CODE PIP12
    WEIGHT          24.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5MU                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58309.893  64027.533  11951.640 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58309.893  63999.733  11951.495  12
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-12
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5QS                 
WELD
    END-POINT  58309.893          64076.988          11951.896  12
    END-POINT  58309.893          64076.988          11951.896  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7S0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58309.893  64034.738  11951.678  12
    END-POINT  58309.893  64034.738  11951.678  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5PR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58309.893  64064.705  11951.834  12
    END-POINT  58309.893  64064.705  11951.834  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_755                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58309.893  64064.705  11951.834 
    BRANCH1-POINT  58309.893          64064.664          11959.709  2  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL12X2
    WEIGHT           1.750
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_754                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58309.893          64064.664          11959.709  2
    END-POINT  58309.893          64064.664          11959.709  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_757                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58309.893          64064.651          11962.209  2  FL
    END-POINT  58309.893          64064.664          11959.709  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_756                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58309.893          64064.650          11962.334  2
    END-POINT  58309.893          64064.651          11962.209  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7SE                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58309.893          64064.650          11962.334 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7SF                 
VALVE
    END-POINT  58309.893          64064.650          11962.334  2  FL
    END-POINT  58309.893          64064.614          11969.334  2  FL
    CENTRE-POINT   58309.893          64064.632          11965.834 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_758                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58309.893          64064.614          11969.334  2
    END-POINT  58309.893          64064.613          11969.459  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7SC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58309.893          64064.613          11969.459 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7SD                 
FLANGE-BLIND
    END-POINT  58309.893          64064.613          11969.459  2  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_75D                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    END-POINT  58309.893          64064.609          11970.209  2
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58309.893          64064.609          11970.209 
OLET
    CENTRE-POINT      58309.893  64034.738  11951.678 
    BRANCH1-POINT  58309.893          64034.700          11959.115  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL12X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5PQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58309.893          64034.700          11959.115  1
    END-POINT  58309.893          64034.700          11959.115  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58309.893          64034.688          11961.305  1  FL
    END-POINT  58309.893          64034.700          11959.115  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74V                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58309.893          64034.688          11961.305  1
    END-POINT  58309.893          64034.688          11961.430  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7SG                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58309.893          64034.688          11961.430 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7SH                 
VALVE
    END-POINT  58309.893          64034.688          11961.430  1  FL
    END-POINT  58309.893          64034.661          11966.430  1  FL
    CENTRE-POINT   58309.893          64034.674          11963.930 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74X                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
END-POSITION-OPEN 
    CO-ORDS  58309.893          64034.661          11966.430 
ELBOW-TEED
    END-POINT  58309.893          64076.988          11951.896  12  BW
    END-POINT  58291.893          64094.987          11951.990  12  BW
    CENTRE-POINT   58309.893          64094.988          11951.990 
    BRANCH1-POINT  58308.329          64094.987          11951.990  12
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5MT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
    TAP-CONNECTION EP2
    CO-ORDS  58308.329          64094.987          11951.990  12
WELD
    END-POINT  58291.893          64094.987          11951.990  12
    END-POINT  58291.893          64094.987          11951.990  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7T0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58308.329          64094.987          11951.990  12
    END-POINT  58308.329          64094.987          11951.990  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7S5                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOLET
    END-POINT  58308.329          64094.987          11951.990  12  PL
    END-POINT  58310.204          64094.987          11951.990  0.75  BW
    SKEY CEBW
    FABRICATION-ITEM
    ITEM-CODE EOL12X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7S4                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58310.204  64094.987  11951.990 
    TEXT TE$013$08
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58310.204          64094.987          11951.990 
PIPE
    END-POINT  58291.893          64094.987          11951.990  12  BW
    END-POINT  58280.050          64094.987          11951.990  12  PL
    FABRICATION-ITEM
    ITEM-CODE PIP12
    WEIGHT          24.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7QY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58280.050          64094.987          11951.990  12
    END-POINT  58280.050          64094.987          11951.990  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7R0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58280.050          64094.987          11951.990  12
    END-POINT  58280.050          64094.987          11951.990  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7R1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58285.753  64094.987  11951.990  12
    END-POINT  58285.753  64094.987  11951.990  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58285.753  64094.987  11951.990 
    BRANCH1-POINT  58285.753          64094.987          11959.865  2  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL12X2
    WEIGHT           1.750
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58285.753          64094.987          11959.865  2
    END-POINT  58285.753          64094.987          11959.865  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58285.753          64094.987          11962.365  2  FL
    END-POINT  58285.753          64094.987          11959.865  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TD                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58285.753          64094.987          11962.490  2
    END-POINT  58285.753          64094.987          11962.365  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TG                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
MISC-COMPONENT
    END-POINT  58285.753          64094.987          11962.490  2  FL
    END-POINT  58285.753          64094.987          11964.178  2  FL
    CENTRE-POINT  58285.753  64094.987  11963.334 
    SKEY NCFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TF                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58285.753          64094.987          11964.178 
    PIPELINE-REFERENCE ISO-PY3-1223022
FLANGE
    END-POINT  58279.612          64094.988          11951.990  12  FL
    END-POINT  58280.050          64094.988          11951.990  12  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7K7                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58279.612          64094.988          11951.990  12
    END-POINT  58279.487          64094.988          11951.990  12
    ERECTION-ITEM
    ITEM-CODE GAS12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7SI                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58279.612          64094.988          11951.990 
    BOLT-DIA           0.875
    BOLT-QUANTITY              12
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT12
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7SJ                 
END-POSITION-OPEN 
    CO-ORDS  58279.487          64094.988          11951.990 
MATERIALS
ITEM-CODE FLGWNK1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE ADD_MAT
    DESCRIPTION FLOW METER. FE-013-13                                           
ITEM-CODE WOL12X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP12
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-12
    DESCRIPTION ROD HANGER, P624 FIG. 4, L=3'-11 5/16"
ITEM-CODE SUPUB-12
    DESCRIPTION U BOLT SUPPORT, P651 FIG 2
ITEM-CODE 90LLR12
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP12
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS12
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT12
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 7/8 X 4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE SUPRH-12_1
    DESCRIPTION RISER CLAMP, P657, FIG.1 (OMIT NORTH & SOUTH LUGS)
ITEM-CODE 90LLR12_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 89.70
    RATING 10S
ITEM-CODE SUPAG-12
    DESCRIPTION PIPE SUPPORT, SEE DWG. SH-006-PY3-AN
ITEM-CODE WOL12X2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE FLGBLD2
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE WOL12X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE EOL12X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
