ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213009
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 20TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1213009-20TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 C. PUCKETT
    ATTRIBUTE22 6/15/2009
    ATTRIBUTE25 BJL
    ATTRIBUTE26 6/15/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 6/15/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 6/15/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 6/15/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 CP
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 11/27/2012
    ATTRIBUTE42 CP
    ATTRIBUTE43 DK
    ATTRIBUTE44 DK
    ATTRIBUTE45 REVISED CONTINUATION & LINE SIZE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58277.751          64109.106          11348.116  1  SC MALE 
    END-POINT  58277.751          64109.106          11285.921  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIH                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58277.751  64109.106  11288.921  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPBOOTLEG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIJ                 
MESSAGE
    CO-ORDS  58277.751  64109.106  11285.921 
    TEXT TO 6" ABOVE FLOOR
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58277.751  64109.106  11312.708 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58277.751          64109.106          11348.116  1  SC MALE 
    END-POINT  58277.751          64109.106          11348.116  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PII                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58277.751          64109.106          11285.921 
ELBOW
    END-POINT  58277.223          64108.352          11349.036  1  SC FEMALE 
    END-POINT  58277.751          64109.106          11348.116  1  SC FEMALE 
    CENTRE-POINT   58277.751          64109.106          11349.036 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58277.223          64108.352          11349.036  1  SC MALE 
    END-POINT  58277.223          64108.352          11349.036  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58274.165          64103.985          11349.036  1  SC MALE 
    END-POINT  58277.223          64108.352          11349.036  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58274.165          64103.985          11349.036  1  SC MALE 
    END-POINT  58274.165          64103.985          11349.036  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58274.165          64103.985          11349.036  1  FL
    END-POINT  58274.165          64103.985          11349.036  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIP                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58274.165          64103.985          11349.036  1
    END-POINT  58274.129          64103.933          11349.036  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58274.165          64103.985          11349.036 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PIR                 
VALVE-ANGLE
    END-POINT  58271.154          64099.684          11342.849  0.75  FL
    END-POINT  58274.129          64103.933          11349.036  1  FL
    CENTRE-POINT   58271.154          64099.684          11349.036 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PI7                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58271.154          64099.684          11342.849 
    PIPELINE-REFERENCE ISO-PY3-1213001
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPBOOTLEG-1
    DESCRIPTION PIPE SUPPORT, P660
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
