ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214004
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214004-VTS-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/14/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 1/14/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 3/23/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SG
    ATTRIBUTE37 BP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 2/9/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/23/2009
    ATTRIBUTE48 SM
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 8/31/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 KC
    ATTRIBUTE62 DD
    ATTRIBUTE63 DELETED VENT
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57978.218          64329.879          12023.764  0.5  PL
    END-POINT  57975.218          64329.879          12023.764  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90M                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57975.718  64329.879  12023.764 
    TEXT PI$009$42
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57978.218          64329.879          12023.764  0.5
    END-POINT  57978.218          64329.879          12023.764  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57975.218          64329.879          12023.764 
VALVE
    END-POINT  57979.898          64329.879          12023.764  0.5  SW FEMALE 
    END-POINT  57978.218          64329.879          12023.764  0.5  SW FEMALE 
    CENTRE-POINT   57979.013          64329.879          12023.764 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90I                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57979.898          64329.879          12023.764  0.5  SW FEMALE 
    END-POINT  57979.898          64329.879          12023.764  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57983.308          64329.879          12023.764  0.5  BW
    END-POINT  57979.898          64329.879          12023.764  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90G                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57983.308          64329.879          12023.764  0.5
    END-POINT  57983.308          64329.879          12023.764  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90H                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57985.245  64329.879  12023.764 
    BRANCH1-POINT  57983.308          64329.879          12023.764  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90E                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245  64329.879  12023.764  2
    END-POINT  57985.245  64329.879  12023.764  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_90F                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57985.245          64329.879          11940.333  2  PL
    END-POINT  57985.245          64329.879          12028.493  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8WD                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          11940.333  2
    END-POINT  57985.245          64329.879          11940.333  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8WE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          11940.333  2
    END-POINT  57985.245          64329.879          11940.333  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8WF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          12028.493  2
    END-POINT  57985.245          64329.879          12028.493  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8WG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57985.245          64329.879          12028.493  2  BW
    END-POINT  57985.245          64329.879          12031.493  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8T2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          12031.493  1
    END-POINT  57985.245          64329.879          12031.493  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8T3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57985.245          64329.879          12034.493  1  BW
    END-POINT  57985.245          64329.879          12031.493  1  BW
    CENTRE-POINT   57985.245          64329.879          12032.993 
    BRANCH1-POINT  57986.745          64329.879          12032.993  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8SX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57985.245          64329.879          12034.493  1
    END-POINT  57985.245          64329.879          12034.493  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8U0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57986.745          64329.879          12032.993  1
    END-POINT  57986.745          64329.879          12032.993  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8TU                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57993.044          64329.879          12032.993  1  BW
    END-POINT  57986.745          64329.879          12032.993  1  BW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2_1
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8TS                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57989.369  64329.879  12032.993  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.180
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8TV                 
WELD
    END-POINT  57993.044          64329.879          12032.993  1
    END-POINT  57993.044          64329.879          12032.993  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8VS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57995.234          64329.879          12032.993  1  FL
    END-POINT  57993.044          64329.879          12032.993  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8VP                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57995.234          64329.879          12032.993  1
    END-POINT  57995.359          64329.879          12032.993  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8VQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57995.234          64329.879          12032.993 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8VR                 
VALVE
    END-POINT  58000.359          64329.879          12032.993  1  FL
    END-POINT  57995.359          64329.879          12032.993  1  FL
    CENTRE-POINT   57997.859          64329.879          12032.993 
    SKEY VGFL
    FABRICATION-ITEM
    ITEM-CODE _0
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8TK                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58000.484          64329.879          12032.993  1
    END-POINT  58000.359          64329.879          12032.993  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8VZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58000.484          64329.879          12032.993 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8W0                 
FLANGE
    END-POINT  58000.484          64329.879          12032.993  1  FL
    END-POINT  58002.674          64329.879          12032.993  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8VY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58002.674          64329.879          12032.993  1
    END-POINT  58002.674          64329.879          12032.993  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8W2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58002.674          64329.879          12032.993  1  BW
    END-POINT  58005.875          64329.879          12032.993  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8W1                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58005.875          64329.879          12032.993  1
    END-POINT  58005.875          64329.879          12032.993  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8W3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58007.375          64329.879          12034.493  1  BW
    END-POINT  58007.375          64329.879          12031.493  1  BW
    CENTRE-POINT   58007.375          64329.879          12032.993 
    BRANCH1-POINT  58005.875          64329.879          12032.993  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8SZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58007.375          64329.879          12034.493  1
    END-POINT  58007.375          64329.879          12034.493  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8TY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58007.375          64329.879          12031.493  1
    END-POINT  58007.375          64329.879          12031.493  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8T5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58007.375          64329.879          12028.493  2  BW
    END-POINT  58007.375          64329.879          12031.493  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8T4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58007.375          64329.879          12028.493  2
    END-POINT  58007.375          64329.879          12028.493  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8T8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58007.375          64329.879          12028.493  2  BW
    END-POINT  58007.375          64329.879          11983.336  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8T7                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58007.375  64329.879  12004.096 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58007.375          64329.879          11983.336  2
    END-POINT  58007.375          64329.879          11983.336  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8T9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58007.375          64329.879          11983.336  2
    END-POINT  58007.375          64329.879          11983.336  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8TA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58007.375          64329.879          11983.120  2  FL
    END-POINT  58007.375          64329.879          11983.336  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_85D                 
    PIPING-SPEC S1
GASKET
    END-POINT  58007.375          64329.879          11983.120  2
    END-POINT  58007.375          64329.879          11982.995  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_85E                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58007.375          64329.879          11983.120 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_85F                 
FLANGE
    END-POINT  58007.375          64329.879          11982.995  2  FL
    END-POINT  58007.375          64329.879          11980.495  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2BE                 
    PIPING-SPEC S1
WELD
    END-POINT  58007.375          64329.879          11980.495  2
    END-POINT  58007.375          64329.879          11980.495  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_85B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58007.375          64329.879          11980.495  2  BW
    END-POINT  58007.375          64326.917          11977.495  2  BW
    CENTRE-POINT   58007.375          64329.879          11977.533 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_26X                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8927
WELD
    END-POINT  58007.375          64326.917          11977.495  2
    END-POINT  58007.375          64326.917          11977.495  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_856                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58007.375          64283.778          11976.945  2  BW
    END-POINT  58007.375          64326.917          11977.495  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_272                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58007.375          64283.778          11976.945  2
    END-POINT  58007.375          64283.778          11976.945  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_855                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58007.375          64280.817          11973.946  2  BW
    END-POINT  58007.375          64283.778          11976.945  2  BW
    CENTRE-POINT   58007.375          64280.817          11976.908 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_26W                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8927
WELD
    END-POINT  58007.375          64280.817          11973.946  2
    END-POINT  58007.375          64280.817          11973.946  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_84S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58007.375          64280.817          11968.974  2  PL
    END-POINT  58007.375          64280.817          11973.946  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_84P                 
    PIPING-SPEC S1
WELD
    END-POINT  58007.375          64280.817          11968.974  2
    END-POINT  58007.375          64280.817          11968.974  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_84Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58007.375          64280.817          11968.974  2
    END-POINT  58007.375          64280.817          11968.974  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_84R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58007.375          64280.817          11968.757  2  FL
    END-POINT  58007.375          64280.817          11968.974  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_84L                 
    PIPING-SPEC S1
GASKET
    END-POINT  58007.375          64280.817          11968.757  2
    END-POINT 
** 
Processing ID: AT_FL5BJQ2V_99V  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99V                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58007.375          64280.817          11968.757 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99W                 
END-POSITION-OPEN 
    CO-ORDS  58007.375  64280.817  11968.757 
FLANGE
    END-POINT  58007.375          64329.879          12036.683  1  FL
    END-POINT  58007.375          64329.879          12034.493  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8TX                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58007.375          64329.879          12036.808  1
    END-POINT  58007.375          64329.879          12036.683  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8U7                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58007.375          64329.879          12036.808 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8U8                 
VALVE
    END-POINT  58007.375          64329.879          12036.808  1  FL
    END-POINT  58007.375          64329.879          12041.808  1  FL
    CENTRE-POINT   58007.375          64329.879          12039.308 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8U6                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58007.375          64329.879          12041.933  1
    END-POINT  58007.375          64329.879          12041.808  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UC                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58007.375          64329.879          12041.933 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UD                 
FLANGE
    END-POINT  58007.375          64329.879          12041.933  1  FL
    END-POINT  58007.375          64329.879          12042.129  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58007.375          64329.879          12042.129  1
    END-POINT  58007.375          64329.879          12042.129  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58007.375          64329.879          12042.129  1
    END-POINT  58007.375          64329.879          12042.129  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58007.375          64329.879          12061.432  1  BW
    END-POINT  58007.375          64329.879          12042.129  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UK                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58007.375          64329.879          12061.432  1
    END-POINT  58007.375          64329.879          12061.432  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58007.375          64329.879          12061.432  1  BW
    END-POINT  58005.875          64329.879          12062.932  1  BW
    CENTRE-POINT   58007.375          64329.879          12062.932 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UI                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58007.375  64329.879  12062.932 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64329.879  12062.932 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58007.375  64329.879  12062.932 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58007.375  64378.800  12062.932 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX 
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58005.875          64329.879          12062.932  1
    END-POINT  58005.875          64329.879          12062.932  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57986.745          64329.879          12062.932  1  BW
    END-POINT  58005.875          64329.879          12062.932  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57986.745          64329.879          12062.932  1
    END-POINT  57986.745          64329.879          12062.932  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_990                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57985.245          64329.879          12061.432  1  BW
    END-POINT  57986.745          64329.879          12062.932  1  BW
    CENTRE-POINT   57985.245          64329.879          12062.932 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57985.245          64329.879          12061.432  1
    END-POINT  57985.245          64329.879          12061.432  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8V7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57985.245          64329.879          12059.242  1  FL
    END-POINT  57985.245          64329.879          12061.432  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8V6                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57985.245          64329.879          12059.117  1
    END-POINT  57985.245          64329.879          12059.242  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99I                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57985.245          64329.879          12059.117 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99J                 
INSTRUMENT
    END-POINT  57985.245          64329.879          12059.117  1  FL
    END-POINT  57985.245          64329.879          12050.367  1  FL
    CENTRE-POINT   57985.245          64329.879          12054.742 
    SKEY CVFL
    FABRICATION-ITEM
    ITEM-CODE VALVCNT1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99H                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
MESSAGE-CIRCLE
    CO-ORDS  57985.245  64329.879  12054.742 
    TEXT 3P$PCV$009$12-A
    UNDIMENSIONED
GASKET
    END-POINT  57985.245          64329.879          12050.242  1
    END-POINT  57985.245          64329.879          12050.367  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99L                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57985.245          64329.879          12050.242 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99M                 
FLANGE
    END-POINT  57985.245          64329.879          12050.242  1  FL
    END-POINT  57985.245          64329.879          12050.046  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99K                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          12050.046  1
    END-POINT  57985.245          64329.879          12050.046  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          12050.046  1
    END-POINT  57985.245          64329.879          12050.046  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57985.245          64329.879          12050.046  1  PL
    END-POINT  57985.245          64329.879          12042.129  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99N                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          12042.129  1
    END-POINT  57985.245          64329.879          12042.129  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          12042.129  1
    END-POINT  57985.245          64329.879          12042.129  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_99R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57985.245          64329.879          12041.933  1  FL
    END-POINT  57985.245          64329.879          12042.129  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UF                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57985.245          64329.879          12041.933  1
    END-POINT  57985.245          64329.879          12041.808  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57985.245          64329.879          12041.933 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8UH                 
VALVE
    END-POINT  57985.245          64329.879          12036.808  1  FL
    END-POINT  57985.245          64329.879          12041.808  1  FL
    CENTRE-POINT   57985.245          64329.879          12039.308 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8U1                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57985.245          64329.879          12036.808  1
    END-POINT  57985.245          64329.879          12036.683  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8U2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57985.245          64329.879          12036.808 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8U3                 
FLANGE
    END-POINT  57985.245          64329.879          12036.683  1  FL
    END-POINT  57985.245          64329.879          12034.493  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8TZ                 
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57985.245          64329.879          11940.116  2  FL
    END-POINT  57985.245          64329.879          11940.333  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_37P                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57985.245          64329.879          11940.116  2
    END-POINT  57985.245          64329.879          11939.991  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_68L                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57985.245          64329.879          11939.991 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_68M                 
FLANGE
    END-POINT  57985.245          64329.879          11939.991  2  FL
    END-POINT  57985.245          64329.879          11939.775  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_37S                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          11939.775  2
    END-POINT  57985.245          64329.879          11939.775  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_37W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57985.245          64329.879          11939.775  2
    END-POINT  57985.245          64329.879          11939.775  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_37X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57985.245          64329.879          11939.775  2  PL
    END-POINT  57985.245          64329.879          11909.426  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_37V                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  57985.245  64329.879  11927.989 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57985.245  64329.879  11927.989 
    TEXT Floor Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57985.245  64329.879  11929.012  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_680                 
WELD
    END-POINT  57985.245          64329.879          11909.426  2
    END-POINT  57985.245          64329.879          11909.426  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_37Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57985.245          64329.879          11909.426  2  BW
    END-POINT  57982.278          64329.879          11906.426  2  BW
    CENTRE-POINT   57985.245          64329.879          11906.459 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8937
WELD
    END-POINT  57982.278          64329.879          11906.426  2
    END-POINT  57982.278          64329.879          11906.426  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_66A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57982.278          64329.879          11906.426  2  BW
    END-POINT  57877.767          64329.879          11905.205  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_669                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57945.828  64329.879  11906.001  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_67Q                 
SUPPORT
    CO-ORDS  57885.998  64329.879  11905.302  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_67S                 
FLOW-ARROW
    CO-ORDS  57930.586  64329.879  11905.822 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57877.767          64329.879          11905.205  2
    END-POINT  57877.767          64329.879          11905.205  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_66B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57874.800          64329.879          11902.206  2  BW
    END-POINT  57877.767          64329.879          11905.205  2  BW
    CENTRE-POINT   57874.800          64329.879          11905.173 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8937
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57874.800  64329.879  11905.173 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64329.879  11905.173 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57874.800  64329.879  11905.173 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57874.800  64378.800  11905.173 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  57874.800          64329.879          11902.206  2
    END-POINT  57874.800          64329.879          11902.206  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57874.800          64329.879          11902.206  2  BW
    END-POINT  57874.800          64329.879          11900.516  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DK                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.800          64329.879          11900.516  2
    END-POINT  57874.800          64329.879          11900.516  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57874.800          64326.911          11897.516  2  BW
    END-POINT  57874.800          64329.879          11900.516  2  BW
    CENTRE-POINT   57874.800          64329.879          11897.548 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DI                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8939
WELD
    END-POINT  57874.800          64326.911          11897.516  2
    END-POINT  57874.800          64326.911          11897.516  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57874.800          64326.911          11897.516  2  BW
    END-POINT  57874.800          64086.911          11894.955  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2NQ                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57874.800  64239.308  11896.581 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57874.800  64281.914  11897.036  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2NN                 
SUPPORT
    CO-ORDS  57874.800  64182.758  11895.978  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_84J                 
WELD
    END-POINT  57874.800          64086.911          11894.955  2
    END-POINT  57874.800          64086.911          11894.955  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2NU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57874.800          64086.911          11894.955  2  BW
    END-POINT  57874.800          63922.768          11893.204  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2NS                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57874.800  64071.912  11894.795  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2NX                 
SUPPORT
    CO-ORDS  57874.800  63990.764  11893.930  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2PV                 
WELD
    END-POINT  57874.800          63922.768          11893.204  2
    END-POINT  57874.800          63922.768          11893.204  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57874.800          63919.800          11890.204  2  BW
    END-POINT  57874.800          63922.768          11893.204  2  BW
    CENTRE-POINT   57874.800          63919.800          11893.173 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_2DJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8939
WELD
    END-POINT  57874.800          63919.800          11890.204  2
    END-POINT  57874.800          63919.800          11890.204  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_34D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57874.800          63919.800          11890.204  2  BW
    END-POINT  57874.800          63919.800          11759.180  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_34C                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57874.800  63919.800  11782.732  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_5
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_67U                 
FLOOR-SYMBOL 
    CO-ORDS  57874.800  63919.800  11782.819 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57874.800  63919.800  11782.819 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  57874.800          63919.800          11759.180  2
    END-POINT  57874.800          63919.800          11759.180  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57874.800          63919.800          11759.180  2  BW
    END-POINT  57871.808          63919.800          11756.180  2  BW
    CENTRE-POINT   57874.800          63919.800          11756.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52B                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8985
WELD
    END-POINT  57871.808          63919.800          11756.180  2
    END-POINT  57871.808          63919.800          11756.180  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57862.973          63919.800          11756.068  2  BW
    END-POINT  57871.808          63919.800          11756.180  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52G                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.973          63919.800          11756.068  2
    END-POINT  57862.973          63919.800          11756.068  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57862.973          63919.800          11756.068  2  BW
    END-POINT  57860.026          63919.800          11753.039  2  BW
    CENTRE-POINT   57859.973          63919.800          11756.038 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52E                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9042
WELD
    END-POINT  57860.026          63919.800          11753.039  2
    END-POINT  57860.026          63919.800          11753.039  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57860.026          63919.800          11753.039  2  BW
    END-POINT  57860.480          63919.800          11726.988  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52K                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57860.480          63919.800          11726.988  2
    END-POINT  57860.480          63919.800          11726.988  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_52M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57863.907          63919.800          11724.048  3  BW
    END-POINT  57857.158          63919.800          11723.930  3  BW
    CENTRE-POINT   57860.533          63919.800          11723.989 
    BRANCH1-POINT  57860.480          63919.800          11726.988  2  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_523                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57863.907          63919.800          11724.048 
    PIPELINE-REFERENCE ISO-PY3-1211008
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE REDCON2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE WOL2X1/2_1
    CATALOG MSS SP-97
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE SUPUB-2
    CATALOG MSS SP-97
    DESCRIPTION U-BOLT GUIDE, PG27, FIG. 2 WITH 3"X3"X1/4" ANGLE
    RATING 40S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE _0
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVCNT1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PCV-009-12-A
    RATING 150LB
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.6
ITEM-CODE SUPRH-2_1
    DESCRIPTION P624, FIG. 4
ITEM-CODE SUPRH-2_2
    DESCRIPTION GENERAL HANGER L=1'-5 1/2", P624 FIG 4
ITEM-CODE SUPUB-2_1
    DESCRIPTION P629 FIG 10, W/ P651 FIG 1
ITEM-CODE SUPRH-2_3
    DESCRIPTION GENERAL HANGER L=1'-7 3/4"", P624 FIG 4
ITEM-CODE SUPRH-2_4
    DESCRIPTION GENERAL HANGER L=1'-8 5/8"", P624 FIG 4,
ITEM-CODE SUPRH-2_5
    DESCRIPTION RISER CLAMP, P615, FIG.5
