ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036034
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036034-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 6
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 2/16/2009
    ATTRIBUTE54 RS
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 3/16/2009
    ATTRIBUTE60 RS
    ATTRIBUTE61 RP
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 7/31/2009
    ATTRIBUTE66 CP
    ATTRIBUTE67 BL
    ATTRIBUTE68 DD
    ATTRIBUTE69 REVISED AS NOTED
    ATTRIBUTE70 6
    ATTRIBUTE71 8/31/2012
    ATTRIBUTE72 DBH
    ATTRIBUTE73 KC
    ATTRIBUTE74 DD
    ATTRIBUTE75 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  58107.177          64218.048          11938.290  0.5  SW FEMALE 
    END-POINT  58104.997          64218.048          11938.290  0.5  SW FEMALE 
    CENTRE-POINT   58106.292          64218.048          11938.290 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ID7                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS  58104.997  64218.048  11938.290 
    TEXT TUBING TO $LSL-009-21
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58107.177          64218.048          11938.290  0.5  SW FEMALE 
    END-POINT  58107.177          64218.048          11938.290  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58104.997          64218.048          11938.290 
PIPE
    END-POINT  58111.587          64218.048          11938.290  0.5  BW
    END-POINT  58107.177          64218.048          11938.290  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDB                 
    PIPING-SPEC S1
WELD
    END-POINT  58111.587          64218.048          11938.290  0.5
    END-POINT  58111.587          64218.048          11938.290  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDC                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58113.837          64218.048          11936.040  1.5  BW
    END-POINT  58113.837          64218.048          11940.540  1.5  BW
    CENTRE-POINT   58113.837          64218.048          11938.290 
    BRANCH1-POINT  58111.587          64218.048          11938.290  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDD                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58113.837          64218.048          11936.040  1.5
    END-POINT  58113.837          64218.048          11936.040  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58113.837          64218.048          11940.540  1.5
    END-POINT  58113.837          64218.048          11940.540  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58113.837          64218.048          11940.540  1.5  BW
    END-POINT  58113.837          64218.048          11943.808  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDG                 
    PIPING-SPEC S1
WELD
    END-POINT  58113.837          64218.048          11943.808  1.5
    END-POINT  58113.837          64218.048          11943.808  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58116.087          64218.048          11946.058  1.5  BW
    END-POINT  58113.837          64218.048          11943.808  1.5  BW
    CENTRE-POINT   58113.837          64218.048          11946.058 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDI                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58116.087          64218.048          11946.058  1.5
    END-POINT  58116.087          64218.048          11946.058  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58116.087          64218.048          11946.058  1.5  BW
    END-POINT  58118.587          64218.048          11946.058  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDK                 
    PIPING-SPEC S1
WELD
    END-POINT  58118.587          64218.048          11946.058  1.5
    END-POINT  58118.587          64218.048          11946.058  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58120.837          64220.298          11946.058  1.5  BW
    END-POINT  58118.587          64218.048          11946.058  1.5  BW
    CENTRE-POINT   58120.837          64218.048          11946.058 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDM                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58120.837          64220.298          11946.058  1.5
    END-POINT  58120.837          64220.298          11946.058  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64224.248          11946.058  1.5  PL
    END-POINT  58120.837          64220.298          11946.058  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDO                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58120.837          64224.248          11946.058  1.5
    END-POINT  58120.837          64224.248          11946.058  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58120.837          64227.768          11946.058  1.5  SW FEMALE 
    END-POINT  58120.837          64224.248          11946.058  1.5  SW FEMALE 
    CENTRE-POINT   58120.837          64226.008          11946.058 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDQ                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58120.837          64227.768          11946.058  1.5  SW FEMALE 
    END-POINT  58120.837          64227.768          11946.058  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64236.571          11946.058  1.5  BW
    END-POINT  58120.837          64227.768          11946.058  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDT                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58120.837  64232.034  11946.058  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDU                 
WELD
    END-POINT  58120.837          64236.571          11946.058  1.5
    END-POINT  58120.837          64236.571          11946.058  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-ECCENTRIC
    END-POINT  58120.837          64236.571          11946.058  1.5  BW
    END-POINT  58120.837          64239.071          11945.763  1  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDW                 
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58120.837          64239.071          11945.763  1
    END-POINT  58120.837          64239.071          11945.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58120.837          64242.071          11945.763  1  BW
    END-POINT  58120.837          64239.071          11945.763  1  BW
    CENTRE-POINT   58120.837          64240.571          11945.763 
    BRANCH1-POINT  58120.837          64240.571          11947.263  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDY                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58120.837          64242.071          11945.763  1
    END-POINT  58120.837          64242.071          11945.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IDZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58120.837          64240.571          11947.263  1
    END-POINT  58120.837          64240.571          11947.263  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64240.571          11950.763  1  PL
    END-POINT  58120.837          64240.571          11947.263  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE1                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58120.837          64240.571          11950.763  1
    END-POINT  58120.837          64240.571          11950.763  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE2                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58120.837          64240.571          11950.763  1  SW FEMALE 
    END-POINT  58120.837          64240.571          11953.513  1  SW FEMALE 
    CENTRE-POINT   58120.837          64240.571          11952.138 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           6.700
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE3                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58120.837          64240.571          11953.513  1  SW FEMALE 
    END-POINT  58120.837          64240.571          11953.513  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE5                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64240.571          11953.513  1  PL
    END-POINT  58120.837          64240.571          11968.953  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE6                 
    PIPING-SPEC S1
WELD
    END-POINT  58120.837          64240.571          11968.953  1
    END-POINT  58120.837          64240.571          11968.953  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58120.837          64240.571          11968.953  1  BW
    END-POINT  58120.837          64242.071          11970.453  1  BW
    CENTRE-POINT   58120.837          64240.571          11970.453 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE8                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58120.837          64242.071          11970.453  1
    END-POINT  58120.837          64242.071          11970.453  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IE9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64242.071          11970.453  1  BW
    END-POINT  58120.837          64270.189          11970.453  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEA                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58120.837  64257.342  11970.453 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58120.837          64270.189          11970.453  1
    END-POINT  58120.837          64270.189          11970.453  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58120.837          64271.689          11971.953  1  BW
    END-POINT  58120.837          64271.689          11968.953  1  BW
    CENTRE-POINT   58120.837          64271.689          11970.453 
    BRANCH1-POINT  58120.837          64270.189          11970.453  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IED                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58120.837          64271.689          11971.953  1
    END-POINT  58120.837          64271.689          11971.953  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58120.837          64271.689          11968.953  1
    END-POINT  58120.837          64271.689          11968.953  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64271.689          11968.953  1  BW
    END-POINT  58120.837          64271.689          11953.423  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEG                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58120.837  64271.689  11958.474 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58120.837          64271.689          11953.423  1
    END-POINT  58120.837          64271.689          11953.423  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58120.837          64271.689          11953.423  1  SW FEMALE 
    END-POINT  58120.837          64271.689          11950.793  1  SW FEMALE 
    CENTRE-POINT   58120.837          64271.689          11952.108 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEJ                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58120.837          64271.689          11950.793  1  SW FEMALE 
    END-POINT  58120.837          64271.689          11950.793  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64271.689          11950.793  1  PL
    END-POINT  58120.837          64271.689          11947.263  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEM                 
    PIPING-SPEC S1
WELD
    END-POINT  58120.837          64271.689          11947.263  1
    END-POINT  58120.837          64271.689          11947.263  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58120.837          64271.689          11947.263  1  BW
    END-POINT  58120.837          64270.189          11945.763  1  BW
    CENTRE-POINT   58120.837          64271.689          11945.763 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEO                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58120.837  64271.689  11945.763 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58120.837  64378.800  11945.763 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. G
WELD
    END-POINT  58120.837          64270.189          11945.763  1
    END-POINT  58120.837          64270.189          11945.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64270.189          11945.763  1  BW
    END-POINT  58120.837          64266.189          11945.763  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IER                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58120.837  64268.189  11945.763  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IES                 
WELD
    END-POINT  58120.837          64266.189          11945.763  1
    END-POINT  58120.837          64266.189          11945.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IET                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58120.837          64266.189          11945.763  1
    END-POINT  58120.837          64266.189          11945.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58120.837          64265.994          11945.763  1  FL
    END-POINT  58120.837          64266.189          11945.763  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEV                 
    PIPING-SPEC S1
GASKET
    END-POINT  58120.837          64265.994          11945.763  1
    END-POINT  58120.837          64265.869          11945.763  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEW                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58120.837          64265.869          11945.763 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEX                 
INSTRUMENT
    END-POINT  58120.837          64265.869          11945.763  1  FL
    END-POINT  58120.837          64258.619          11945.763  1  FL
    CENTRE-POINT   58120.837          64262.244          11945.763 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IEY                 
    TAG PCV$009$12C                     
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58120.837  64262.244  11945.763 
    TEXT PCV$009$12C
    UNDIMENSIONED
GASKET
    END-POINT  58120.837          64258.619          11945.763  1
    END-POINT  58120.837          64258.494          11945.763  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IF1                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58120.837          64258.494          11945.763 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IF2                 
FLANGE
    END-POINT  58120.837          64258.494          11945.763  1  FL
    END-POINT  58120.837          64258.298          11945.763  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IF3                 
    PIPING-SPEC S1
WELD
    END-POINT  58120.837          64258.298          11945.763  1
    END-POINT  58120.837          64258.298          11945.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IF4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58120.837          64258.298          11945.763  1
    END-POINT  58120.837          64258.298          11945.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IF5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64247.231          11945.763  1  PL
    END-POINT  58120.837          64258.298          11945.763  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KH2                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58120.837          64247.231          11945.763  1
    END-POINT  58120.837          64247.231          11945.763  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58120.837          64247.231          11945.763  1  SW FEMALE 
    END-POINT  58120.837          64244.601          11945.763  1  SW FEMALE 
    CENTRE-POINT   58120.837          64245.916          11945.763 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFL                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58120.837          64244.601          11945.763  1  SW FEMALE 
    END-POINT  58120.837          64244.601          11945.763  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58120.837          64244.601          11945.763  1  PL
    END-POINT  58120.837          64242.071          11945.763  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFO                 
    PIPING-SPEC S1
ELBOW
    END-POINT  58119.776          64272.750          11973.453  1  BW
    END-POINT  58120.837          64271.689          11971.953  1  BW
    CENTRE-POINT   58120.837          64271.689          11973.453 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFP                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58120.837  64271.689  11973.453 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64271.689  11973.453 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  58119.776          64272.750          11973.453  1
    END-POINT  58119.776          64272.750          11973.453  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-ECCENTRIC
    END-POINT  58118.009          64274.518          11973.748  1.5  BW
    END-POINT  58119.776          64272.750          11973.453  1  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFS                 
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58118.009          64274.518          11973.748  1.5
    END-POINT  58118.009          64274.518          11973.748  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58118.009          64274.518          11973.748  1.5  BW
    END-POINT  58114.827          64277.700          11973.748  1.5  BW
    CENTRE-POINT   58116.418          64276.109          11973.748 
    BRANCH1-POINT  58116.418          64276.109          11975.998  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFU                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58114.827          64277.700          11973.748  1.5
    END-POINT  58114.827          64277.700          11973.748  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58116.418          64276.109          11975.998  0.5
    END-POINT  58116.418          64276.109          11975.998  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58116.418          64276.109          11975.998  0.5  BW
    END-POINT  58116.418          64276.109          11980.408  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFX                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58116.418          64276.109          11980.408  0.5
    END-POINT  58116.418          64276.109          11980.408  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58116.418          64276.109          11980.408  0.5  SW FEMALE 
    END-POINT  58116.418          64276.109          11982.088  0.5  SW FEMALE 
    CENTRE-POINT   58116.418          64276.109          11981.293 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IFZ                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58116.418          64276.109          11982.088  0.5
    END-POINT  58116.418          64276.109          11982.088  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K8V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58116.418          64276.109          11982.088  0.5  PL
    END-POINT  58116.418          64276.109          11985.088  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K8U                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58116.418  64276.109  11984.588 
    TEXT PI$009$40
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58116.418          64276.109          11985.088 
FLANGE
    END-POINT  58113.101          64279.425          11973.748  1.5  FL
    END-POINT  58114.827          64277.700          11973.748  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IG4                 
    PIPING-SPEC S1
GASKET
    END-POINT  58113.101          64279.425          11973.748  1.5
    END-POINT  58113.013          64279.513          11973.748  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IG5                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58113.013          64279.513          11973.748 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IG6                 
FLANGE
    END-POINT  58113.013          64279.513          11973.748  1.5  FL
    END-POINT  58111.287          64281.239          11973.748  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IG7                 
    PIPING-SPEC S1
WELD
    END-POINT  58111.287          64281.239          11973.748  1.5
    END-POINT  58111.287          64281.239          11973.748  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IG8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58111.287          64281.239          11973.748  1.5  BW
    END-POINT  58088.283          64304.243          11973.765  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IG9                 
    PIPING-SPEC S1
WELD
    END-POINT  58088.283          64304.243          11973.765  1.5
    END-POINT  58088.283          64304.243          11973.765  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58086.363          64305.038          11973.765  1.5  BW
    END-POINT  58088.283          64304.243          11973.765  1.5  BW
    CENTRE-POINT   58087.488          64305.038          11973.765 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGB                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58086.363          64305.038          11973.765  1.5
    END-POINT  58086.363          64305.038          11973.765  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58086.363          64305.038          11973.765  1.5  BW
    END-POINT  58040.650          64305.038          11973.765  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGD                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58063.658  64305.038  11973.765  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGE                 
FLOW-ARROW
    CO-ORDS  58078.461  64305.038  11973.765 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58040.650          64305.038          11973.765  1.5
    END-POINT  58040.650          64305.038          11973.765  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGG                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58040.650          64305.038          11973.765  1.5  SW FEMALE 
    END-POINT  58036.150          64305.038          11973.765  1.5  SW FEMALE 
    CENTRE-POINT   58038.400          64305.038          11973.765 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT          10.600
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGH                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58036.150          64305.038          11973.765  1.5  SW FEMALE 
    END-POINT  58036.150          64305.038          11973.765  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGI                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58036.150          64305.038          11973.765  1.5  PL
    END-POINT  58032.775          64305.038          11973.765  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGJ                 
    PIPING-SPEC S1
WELD
    END-POINT  58032.775          64305.038          11973.765  1.5
    END-POINT  58032.775          64305.038          11973.765  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58032.775          64305.038          11973.765  1.5  BW
    END-POINT  58030.854          64305.834          11973.765  1.5  BW
    CENTRE-POINT   58031.650          64305.038          11973.765 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGL                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58030.854          64305.834          11973.765  1.5
    END-POINT  58030.854          64305.834          11973.765  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58030.854          64305.834          11973.765  1.5  BW
    END-POINT  58025.215          64311.472          11973.765  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGN                 
    PIPING-SPEC S1
WELD
    END-POINT  58025.215          64311.472          11973.765  1.5
    END-POINT  58025.215          64311.472          11973.765  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58023.624          64313.063          11971.515  1.5  BW
    END-POINT  58025.215          64311.472          11973.765  1.5  BW
    CENTRE-POINT   58023.624          64313.063          11973.765 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGP                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58023.624          64313.063          11971.515  1.5
    END-POINT  58023.624          64313.063          11971.515  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58023.624          64313.063          11967.401  1.5  BW
    END-POINT  58023.624          64313.063          11971.515  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGR                 
    PIPING-SPEC S1
WELD
    END-POINT  58023.624          64313.063          11967.401  1.5
    END-POINT  58023.624          64313.063          11967.401  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  58023.624          64313.063          11967.401  1.5  BW
    END-POINT  58023.624          64313.063          11964.901  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGT                 
    PIPING-SPEC S1
WELD
    END-POINT  58023.624          64313.063          11964.901  1
    END-POINT  58023.624          64313.063          11964.901  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58023.624          64313.063          11962.711  1  FL
    END-POINT  58023.624          64313.063          11964.901  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGV                 
    PIPING-SPEC S1
GASKET
    END-POINT  58023.624          64313.063          11962.711  1
    END-POINT 
** 
Processing ID: AT_I6NRWT00_KT2  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KT2                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58023.624          64313.063          11962.711 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KT3                 
END-POSITION-OPEN 
    CO-ORDS  58023.624  64313.063  11962.711 
PIPE
    END-POINT  58113.837          64218.048          11901.715  1.5  BW
    END-POINT  58113.837          64218.048          11936.040  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGY                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58113.837  64218.048  11927.990  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IGZ                 
FLOOR-SYMBOL 
    CO-ORDS  58113.837  64218.048  11925.224 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58113.837  64218.048  11925.224 
    TEXT Grating Opening
    UNDIMENSIONED
WELD
    END-POINT  58113.837          64218.048          11901.715  1.5
    END-POINT  58113.837          64218.048          11901.715  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IH1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58113.837          64215.798          11899.465  1.5  BW
    END-POINT  58113.837          64218.048          11901.715  1.5  BW
    CENTRE-POINT   58113.837          64218.048          11899.465 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IH2                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58113.837          64215.798          11899.465  1.5
    END-POINT  58113.837          64215.798          11899.465  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IH3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58113.837          64161.767          11899.465  1.5  BW
    END-POINT  58113.837          64215.798          11899.465  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IH4                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58113.837  64182.910  11899.465  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IH5                 
WELD
    END-POINT  58113.837          64161.767          11899.465  1.5
    END-POINT  58113.837          64161.767          11899.465  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IH6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58113.837          64161.767          11899.465  1.5  BW
    END-POINT  58113.837          64159.517          11897.215  1.5  BW
    CENTRE-POINT   58113.837          64159.517          11899.465 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IH7                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58113.837  64159.517  11899.465 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58113.837  64138.800  11899.465 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  58113.837          64159.517          11897.215  1.5
    END-POINT  58113.837          64159.517          11897.215  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IH9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58113.837          64159.517          11883.715  1.5  BW
    END-POINT  58113.837          64159.517          11897.215  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHA                 
    PIPING-SPEC S1
WELD
    END-POINT  58113.837          64159.517          11883.715  1.5
    END-POINT  58113.837          64159.517          11883.715  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58111.587          64159.517          11881.465  1.5  BW
    END-POINT  58113.837          64159.517          11883.715  1.5  BW
    CENTRE-POINT   58113.837          64159.517          11881.465 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHC                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58113.837  64159.517  11881.465 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64159.517  11881.465 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  58111.587          64159.517          11881.465  1.5
    END-POINT  58111.587          64159.517          11881.465  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58040.851          64159.517          11881.465  1.5  BW
    END-POINT  58111.587          64159.517          11881.465  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHF                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58054.915  64159.517  11881.465  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHG                 
FLOW-ARROW
    CO-ORDS  58074.027  64159.517  11881.465 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58040.851          64159.517          11881.465  1.5
    END-POINT  58040.851          64159.517          11881.465  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58040.851          64159.517          11881.465  1.5  BW
    END-POINT  58038.601          64157.267          11881.465  1.5  BW
    CENTRE-POINT   58038.601          64159.517          11881.465 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHJ                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58038.601          64157.267          11881.465  1.5
    END-POINT  58038.601          64157.267          11881.465  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58038.601          64157.267          11881.465  1.5  BW
    END-POINT  58038.601          64149.897          11881.465  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHL                 
    PIPING-SPEC S1
WELD
    END-POINT  58038.601          64149.897          11881.465  1.5
    END-POINT  58038.601          64149.897          11881.465  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G20                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58038.601          64147.517          11878.965  2  BW
    END-POINT  58038.601          64147.517          11883.965  2  BW
    CENTRE-POINT   58038.601          64147.517          11881.465 
    BRANCH1-POINT  58038.601          64149.897          11881.465  1.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOW                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.601          64147.517          11878.965 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=1'-5", P619 FIG 1
ITEM-CODE REDECC1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 200LB, GL-01-ST-302
    RATING 200LB
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPST-1
    DESCRIPTION BASE SUPPORT, L=1'-5", P619 FIG 1
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, 150LB, RF, PCV-009-12C
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 45LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, 1'-1" LG, P624 FIG 3
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE SUPRH-1+1/2_2
    DESCRIPTION GENERAL HANGER, L=1'-3", P624 FIG 3
ITEM-CODE SUPRH-1+1/2_3
    DESCRIPTION GENERAL HANGER, L=2'-9", P624 FIG 3
