ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216023
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216023-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58082.927          64094.216          11849.555  1  SC MALE 
    END-POINT  58082.927          64094.216          11845.170  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMC                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58082.927          64094.216          11849.555  1  SC MALE 
    END-POINT  58082.927          64094.216          11849.555  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMD                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58082.927          64094.216          11845.170  1  SC FEMALE 
    END-POINT  58082.927          64094.216          11845.170  1  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58082.007          64094.216          11844.250  1  SC FEMALE 
    END-POINT  58083.847          64094.216          11844.250  1  SC FEMALE 
    CENTRE-POINT   58082.927          64094.216          11844.250 
    BRANCH1-POINT  58082.927          64094.216          11845.170  1  SC FEMALE 
    SKEY TESC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JM9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58082.007          64094.216          11844.250 
    PIPELINE-REFERENCE ISO-PY3-2046004
VALVE
    END-POINT  58082.927          64094.216          11849.555  1  SC FEMALE 
    END-POINT  58082.927          64094.216          11850.945  1  SC FEMALE 
    CENTRE-POINT   58082.927          64094.216          11850.250 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JME                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58082.927          64094.216          11850.945  1  SC FEMALE 
    END-POINT  58082.927          64094.216          11850.945  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMG                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58082.927          64094.216          11861.737  1  SC MALE 
    END-POINT  58082.927          64094.216          11850.945  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58082.927          64094.216          11861.737  1  SC MALE 
    END-POINT  58082.927          64094.216          11861.737  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58082.927          64094.216          11861.737  1  SC FEMALE 
    END-POINT  58082.927          64093.296          11862.657  1  SC FEMALE 
    CENTRE-POINT   58082.927          64094.216          11862.657 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58082.927          64093.296          11862.657  1  SC FEMALE 
    END-POINT  58082.927          64093.296          11862.657  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58082.927          64093.296          11862.657  1  SC MALE 
    END-POINT  58082.927          64007.125          11862.657  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JML                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58082.927  64047.052  11862.657  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMM                 
FLOW-ARROW
    CO-ORDS  58082.927  64084.753  11862.657 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58082.927          64007.125          11862.657  1  SC MALE 
    END-POINT  58082.927          64007.125          11862.657  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58082.927          64007.125          11862.657  1  SC FEMALE 
    END-POINT  58082.927          64006.205          11863.577  1  SC FEMALE 
    CENTRE-POINT   58082.927          64006.205          11862.657 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMP                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.927  64006.205  11862.657 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64006.205  11862.657 
    REFERENCED-ITEM
    ITEM-DIRECTION 1
    SKEY 
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58082.927          64006.205          11863.577  1  SC FEMALE 
    END-POINT  58082.927          64006.205          11863.577  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58082.927          64006.205          11863.577  1  SC MALE 
    END-POINT  58082.927          64006.205          11879.737  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58082.927          64006.205          11879.737  1  SC MALE 
    END-POINT  58082.927          64006.205          11879.737  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58082.927          64006.205          11879.737  1  SC FEMALE 
    END-POINT  58083.847          64006.205          11880.657  1  SC FEMALE 
    CENTRE-POINT   58082.927          64006.205          11880.657 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.927  64006.205  11880.657 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58082.927  63898.800  11880.657 
    REFERENCED-ITEM
    ITEM-DIRECTION 1
    SKEY 
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58083.847          64006.205          11880.657  1  SC FEMALE 
    END-POINT  58083.847          64006.205          11880.657  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58083.847          64006.205          11880.657  1  SC MALE 
    END-POINT  58165.847          64006.205          11880.657  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMX                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58121.751  64006.205  11880.657  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMY                 
SCREWED-WELD
    END-POINT  58165.847          64006.205          11880.657  1  SC MALE 
    END-POINT  58165.847          64006.205          11880.657  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JMZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58166.767          64006.205          11881.577  1  SC FEMALE 
    END-POINT  58165.847          64006.205          11880.657  1  SC FEMALE 
    CENTRE-POINT   58166.767          64006.205          11880.657 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JN0                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58166.767          64006.205          11881.577  1  SC FEMALE 
    END-POINT  58166.767          64006.205          11881.577  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JN1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58166.767          64006.205          11881.577  1  SC MALE 
    END-POINT  58166.767          64006.205          11989.925  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JN2                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58166.767  64006.205  11928.015  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JN3                 
FLOW-ARROW
    CO-ORDS  58166.767  64006.205  11983.193 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58166.767  64006.205  11925.492 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58166.767  64006.205  11925.492 
    TEXT Grate Opening
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58166.767          64006.205          11989.925  1  SC MALE 
    END-POINT  58166.767          64006.205          11989.925  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JN6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58165.847          64006.205          11990.845  1  SC FEMALE 
    END-POINT  58166.767          64006.205          11989.925  1  SC FEMALE 
    CENTRE-POINT   58166.767          64006.205          11990.845 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JN7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58165.847          64006.205          11990.845  1  SC FEMALE 
    END-POINT  58165.847          64006.205          11990.845  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JN8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58161.687          64006.205          11990.845  1  SC MALE 
    END-POINT  58165.847          64006.205          11990.845  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JN9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58161.687          64006.205          11990.845  1  SC MALE 
    END-POINT  58161.687          64006.205          11990.845  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58160.767          64007.125          11990.845  1  SC FEMALE 
    END-POINT  58161.687          64006.205          11990.845  1  SC FEMALE 
    CENTRE-POINT   58160.767          64006.205          11990.845 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58160.767          64007.125          11990.845  1  SC FEMALE 
    END-POINT  58160.767          64007.125          11990.845  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58160.767          64007.125          11990.845  1  SC MALE 
    END-POINT  58160.767          64017.285          11990.845  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JND                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.767          64017.285          11990.845  1  SC MALE 
    END-POINT  58160.767          64017.285          11990.845  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58160.767          64018.205          11989.925  1  SC FEMALE 
    END-POINT  58160.767          64018.205          11991.765  1  SC FEMALE 
    CENTRE-POINT   58160.767          64018.205          11990.845 
    BRANCH1-POINT  58160.767          64017.285          11990.845  1  SC FEMALE 
    SKEY TESC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JNF                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58160.767          64018.205          11989.925 
    PIPELINE-REFERENCE ISO-PY3-1216012
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=3'-10", P624 FIG 4
ITEM-CODE SUPRH-1_1
    DESCRIPTION GENERAL HANGER, L=2'-9 15/16", P624 FIG 4
ITEM-CODE SUPRH-1_2
    DESCRIPTION RISER CLAMP, P615 FIG 1
