ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046036
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046036-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 DC
    ATTRIBUTE22 4/10/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/13/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 4/14/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 4/14/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 4/14/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/14/2009
    ATTRIBUTE36 DC
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58333.541          64150.861          11592.372  1  SC MALE 
    END-POINT  58333.541          64150.861          11591.242  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NUW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.541          64150.861          11592.372  1  SC MALE 
    END-POINT  58333.541          64150.861          11592.372  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NUX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.541          64150.861          11593.792  1  SC FEMALE 
    END-POINT  58333.541          64150.861          11592.372  1  SC FEMALE 
    CENTRE-POINT   58333.541          64150.861          11592.997 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NUY                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.541          64150.861          11593.792  1  SC FEMALE 
    END-POINT  58333.541          64150.861          11593.792  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58333.541          64150.861          11596.792  1  SC MALE 
    END-POINT  58333.541          64150.861          11593.792  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV1                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.541          64150.861          11596.792  1  SC MALE 
    END-POINT  58333.541          64150.861          11596.792  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.541          64151.811          11598.012  1.5  SC FEMALE 
    END-POINT  58333.541          64149.911          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.541          64150.861          11598.012 
    BRANCH1-POINT  58333.541          64150.861          11596.792  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV3                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.541          64151.811          11598.012  1.5  SC FEMALE 
    END-POINT  58333.541          64151.811          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.541          64149.911          11598.012  1.5  SC FEMALE 
    END-POINT  58333.541          64149.911          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.541          64149.911          11598.012  1.5  SC MALE 
    END-POINT  58333.540          64145.071          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV6                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.540          64145.071          11598.012  1.5  SC MALE 
    END-POINT  58333.540          64145.071          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.540          64143.651          11598.012  1.5  SC FEMALE 
    END-POINT  58333.540          64145.071          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.540          64144.361          11598.012 
    BRANCH1-POINT  58333.540          64144.361          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV8                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.540          64143.651          11598.012  1.5  SC FEMALE 
    END-POINT  58333.540          64143.651          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NV9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.540          64144.361          11599.242  0.5  SC FEMALE 
    END-POINT  58333.540          64144.361          11599.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.540          64144.361          11599.242  0.5  SC MALE 
    END-POINT  58333.540          64144.361          11603.262  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.540          64144.361          11603.262  0.5  SC FEMALE 
    END-POINT  58333.540          64144.361          11603.262  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIO                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.540          64144.361          11603.262  0.5  SC FEMALE 
    END-POINT  58333.540          64144.361          11604.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.540          64144.361          11603.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIN                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.540          64144.361          11604.512  0.5  SC MALE 
    END-POINT  58333.540          64144.361          11604.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKH                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.540          64144.361          11604.512  0.5  SC MALE 
    END-POINT  58333.540          64144.361          11607.512  0.5  SC MALE 
    CENTRE-POINT  58333.540  64144.361  11606.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKG                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.540  64144.361  11607.012 
    TEXT FROM 1222008$MANIFOLD # R3$VALVE #1222008TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.540          64144.361          11607.512 
PIPE
    END-POINT  58333.539          64138.571          11598.012  1.5  SC MALE 
    END-POINT  58333.540          64143.651          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.539          64138.571          11598.012  1.5  SC MALE 
    END-POINT  58333.539          64138.571          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.539          64137.151          11598.012  1.5  SC FEMALE 
    END-POINT  58333.539          64138.571          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.539          64137.861          11598.012 
    BRANCH1-POINT  58333.539          64137.861          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.539          64137.151          11598.012  1.5  SC FEMALE 
    END-POINT  58333.539          64137.151          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.539          64137.861          11599.242  0.5  SC FEMALE 
    END-POINT  58333.539          64137.861          11599.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.539          64137.861          11599.242  0.5  SC MALE 
    END-POINT  58333.539          64137.861          11603.262  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.539          64137.861          11603.262  0.5  SC FEMALE 
    END-POINT  58333.539          64137.861          11603.262  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIS                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.539          64137.861          11603.262  0.5  SC FEMALE 
    END-POINT  58333.539          64137.861          11604.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.539          64137.861          11603.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIR                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.539          64137.861          11604.512  0.5  SC MALE 
    END-POINT  58333.539          64137.861          11604.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKF                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.539          64137.861          11604.512  0.5  SC MALE 
    END-POINT  58333.539          64137.861          11607.512  0.5  SC MALE 
    CENTRE-POINT  58333.539  64137.861  11606.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKE                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.539  64137.861  11607.012 
    TEXT FROM 1222009$MANIFOLD # R3$VALVE #1222009TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.539          64137.861          11607.512 
PIPE
    END-POINT  58333.538          64132.071          11598.012  1.5  SC MALE 
    END-POINT  58333.539          64137.151          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.538          64132.071          11598.012  1.5  SC MALE 
    END-POINT  58333.538          64132.071          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.538          64130.651          11598.012  1.5  SC FEMALE 
    END-POINT  58333.538          64132.071          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.538          64131.361          11598.012 
    BRANCH1-POINT  58333.538          64131.361          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.538          64130.651          11598.012  1.5  SC FEMALE 
    END-POINT  58333.538          64130.651          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.538          64131.361          11599.242  0.5  SC FEMALE 
    END-POINT  58333.538          64131.361          11599.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.538          64131.361          11599.242  0.5  SC MALE 
    END-POINT  58333.538          64131.361          11603.262  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NVX                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.538          64131.361          11603.262  0.5  SC FEMALE 
    END-POINT  58333.538          64131.361          11603.262  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIW                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.538          64131.361          11603.262  0.5  SC FEMALE 
    END-POINT  58333.538          64131.361          11604.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.538          64131.361          11603.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIV                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.538          64131.361          11604.512  0.5  SC MALE 
    END-POINT  58333.538          64131.361          11604.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKD                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.538          64131.361          11604.512  0.5  SC MALE 
    END-POINT  58333.538          64131.361          11607.512  0.5  SC MALE 
    CENTRE-POINT  58333.538  64131.361  11606.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKC                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.538  64131.361  11607.012 
    TEXT FROM 1222010$MANIFOLD # R3$VALVE #1222010TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.538          64131.361          11607.512 
PIPE
    END-POINT  58333.537          64125.571          11598.012  1.5  SC MALE 
    END-POINT  58333.538          64130.651          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NW3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.537          64125.571          11598.012  1.5  SC MALE 
    END-POINT  58333.538          64125.571          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NW4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.537          64124.151          11598.012  1.5  SC FEMALE 
    END-POINT  58333.538          64125.571          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.537          64124.861          11598.012 
    BRANCH1-POINT  58333.537          64124.861          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NW5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.537          64124.151          11598.012  1.5  SC FEMALE 
    END-POINT  58333.537          64124.151          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NW6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.537          64124.861          11599.242  0.5  SC FEMALE 
    END-POINT  58333.537          64124.861          11599.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NW7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.537          64124.861          11599.242  0.5  SC MALE 
    END-POINT  58333.537          64124.861          11603.262  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NW8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.537          64124.861          11603.262  0.5  SC FEMALE 
    END-POINT  58333.537          64124.861          11603.262  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJ0                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.537          64124.861          11603.262  0.5  SC FEMALE 
    END-POINT  58333.537          64124.861          11604.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.537          64124.861          11603.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.537          64124.861          11604.512  0.5  SC MALE 
    END-POINT  58333.537          64124.861          11604.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKA                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.537          64124.861          11604.512  0.5  SC MALE 
    END-POINT  58333.537          64124.861          11607.512  0.5  SC MALE 
    CENTRE-POINT  58333.537  64124.861  11606.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OK9                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.537  64124.861  11607.012 
    TEXT FROM 1901020$MANIFOLD # R3$VALVE #1901020TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.537          64124.861          11607.512 
PIPE
    END-POINT  58333.536          64119.071          11598.012  1.5  SC MALE 
    END-POINT  58333.537          64124.151          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWE                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.536          64119.071          11598.012  1.5  SC MALE 
    END-POINT  58333.537          64119.071          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.536          64117.651          11598.012  1.5  SC FEMALE 
    END-POINT  58333.537          64119.071          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.536          64118.361          11598.012 
    BRANCH1-POINT  58333.536          64118.361          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.536          64117.651          11598.012  1.5  SC FEMALE 
    END-POINT  58333.536          64117.651          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.536          64118.361          11599.242  0.5  SC MALE 
    END-POINT  58333.536          64118.361          11599.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NZO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.536          64118.361          11603.262  0.5  SC MALE 
    END-POINT  58333.536          64118.361          11599.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NZM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.536          64118.361          11603.262  0.5  SC FEMALE 
    END-POINT  58333.536          64118.361          11603.262  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJ4                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.536          64118.361          11603.262  0.5  SC FEMALE 
    END-POINT  58333.536          64118.361          11604.452  0.5  SC FEMALE 
    CENTRE-POINT   58333.536          64118.361          11603.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJ3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.536          64118.361          11604.452  0.5  SC MALE 
    END-POINT  58333.536          64118.361          11604.452  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OK5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.536          64118.361          11604.452  0.5  SC MALE 
    END-POINT  58333.536          64118.361          11605.322  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OK4                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58333.536          64118.361          11605.322 
MESSAGE
    CO-ORDS  58333.536  64118.361  11605.012 
    TEXT SPARE
    UNDIMENSIONED
PIPE
    END-POINT  58333.536          64112.571          11598.012  1.5  SC MALE 
    END-POINT  58333.536          64117.651          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWI                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.536          64112.571          11598.012  1.5  SC MALE 
    END-POINT  58333.536          64112.571          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.535          64111.151          11598.012  1.5  SC FEMALE 
    END-POINT  58333.536          64112.571          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.535          64111.861          11598.012 
    BRANCH1-POINT  58333.535          64111.861          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.535          64111.151          11598.012  1.5  SC FEMALE 
    END-POINT  58333.535          64111.151          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.535          64111.861          11599.242  0.5  SC MALE 
    END-POINT  58333.535          64111.861          11599.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NZR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.535          64111.861          11603.262  0.5  SC MALE 
    END-POINT  58333.535          64111.861          11599.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NZP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.535          64111.861          11603.262  0.5  SC FEMALE 
    END-POINT  58333.535          64111.861          11603.262  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJ8                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.535          64111.861          11603.262  0.5  SC FEMALE 
    END-POINT  58333.535          64111.861          11604.452  0.5  SC FEMALE 
    CENTRE-POINT   58333.535          64111.861          11603.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJ7                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.535          64111.861          11604.452  0.5  SC MALE 
    END-POINT  58333.535          64111.861          11604.452  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OK3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.535          64111.861          11604.452  0.5  SC MALE 
    END-POINT  58333.535          64111.861          11605.322  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OK2                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58333.535          64111.861          11605.322 
MESSAGE
    CO-ORDS  58333.535  64111.861  11605.012 
    TEXT SPARE
    UNDIMENSIONED
PIPE
    END-POINT  58333.535          64111.151          11598.012  1.5  SC MALE 
    END-POINT  58333.535          64105.751          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWM                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58333.535  64108.451  11598.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWN                 
FLOW-ARROW
    CO-ORDS  58333.535  64108.361  11598.012 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58333.535          64105.751          11598.012  1.5  SC FEMALE 
    END-POINT  58333.535          64105.751          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.535          64105.751          11598.012  1.5  SC FEMALE 
    END-POINT  58333.534          64103.381          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.534          64104.511          11598.012 
    BRANCH1-POINT  58333.534          64104.511          11599.252  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYL                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58333.534  64104.511  11598.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64104.511  11598.012 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58333.534  64104.511  11598.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58333.534  64138.748  11598.012 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58333.534          64103.381          11598.012  1.5  SC MALE 
    END-POINT  58333.534          64103.381          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.534          64104.511          11599.252  1.5  SC MALE 
    END-POINT  58333.534          64104.511          11599.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.534          64104.511          11599.252  1.5  SC MALE 
    END-POINT  58333.535          64104.511          11620.772  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYN                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.535          64104.511          11620.772  1.5  SC MALE 
    END-POINT  58333.535          64104.511          11620.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.535          64105.751          11622.012  1.5  SC FEMALE 
    END-POINT  58333.535          64103.381          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.535          64104.511          11622.012 
    BRANCH1-POINT  58333.535          64104.511          11620.772  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYH                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58333.535  64104.511  11622.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64104.511  11622.012 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58333.535  64104.511  11622.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58333.535  64138.748  11622.012 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58333.535          64105.751          11622.012  1.5  SC FEMALE 
    END-POINT  58333.535          64105.751          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.535          64103.381          11622.012  1.5  SC MALE 
    END-POINT  58333.535          64103.381          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.535          64103.381          11622.012  1.5  SC MALE 
    END-POINT  58333.534          64101.951          11622.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58333.534          64101.951          11622.012 
PIPE
    END-POINT  58333.536          64114.401          11622.012  1.5  SC MALE 
    END-POINT  58333.535          64105.751          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWO                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.536          64114.401          11622.012  1.5  SC MALE 
    END-POINT  58333.536          64114.401          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.536          64114.401          11622.012  1.5  SC FEMALE 
    END-POINT  58333.536          64115.821          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.536          64115.111          11622.012 
    BRANCH1-POINT  58333.536          64115.111          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.536          64115.821          11622.012  1.5  SC FEMALE 
    END-POINT  58333.536          64115.821          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.536          64115.111          11623.242  0.5  SC MALE 
    END-POINT  58333.536          64115.111          11623.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.536          64115.111          11627.262  0.5  SC MALE 
    END-POINT  58333.536          64115.111          11623.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLI                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.536          64115.111          11627.262  0.5  SC MALE 
    END-POINT  58333.536          64115.111          11627.262  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLJ                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.536          64115.111          11627.262  0.5  SC FEMALE 
    END-POINT  58333.536          64115.111          11628.452  0.5  SC FEMALE 
    CENTRE-POINT   58333.536          64115.111          11627.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJB                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.536          64115.111          11628.452  0.5  SC MALE 
    END-POINT  58333.536          64115.111          11628.452  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OK1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.536          64115.111          11628.452  0.5  SC MALE 
    END-POINT  58333.536          64115.111          11629.322  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OK0                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58333.536          64115.111          11629.322 
MESSAGE
    CO-ORDS  58333.536  64115.111  11629.012 
    TEXT SPARE
    UNDIMENSIONED
PIPE
    END-POINT  58333.537          64120.901          11622.012  1.5  SC MALE 
    END-POINT  58333.536          64115.821          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.537          64120.901          11622.012  1.5  SC MALE 
    END-POINT  58333.537          64120.901          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.537          64120.901          11622.012  1.5  SC FEMALE 
    END-POINT  58333.537          64122.321          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.537          64121.611          11622.012 
    BRANCH1-POINT  58333.537          64121.611          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.537          64122.321          11622.012  1.5  SC FEMALE 
    END-POINT  58333.537          64122.321          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NWX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.537          64121.611          11623.242  0.5  SC MALE 
    END-POINT  58333.537          64121.611          11623.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.537          64121.611          11627.262  0.5  SC MALE 
    END-POINT  58333.537          64121.611          11623.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.537          64121.611          11627.262  0.5  SC MALE 
    END-POINT  58333.537          64121.611          11627.262  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLG                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.537          64121.611          11627.262  0.5  SC FEMALE 
    END-POINT  58333.537          64121.611          11628.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.537          64121.611          11627.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJF                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.537          64121.611          11628.512  0.5  SC MALE 
    END-POINT  58333.537          64121.611          11628.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKJ                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.537          64121.611          11628.512  0.5  SC MALE 
    END-POINT  58333.537          64121.611          11631.512  0.5  SC MALE 
    CENTRE-POINT  58333.537  64121.611  11630.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKI                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.537  64121.611  11631.012 
    TEXT FROM 1222002$MANIFOLD # R3$VALVE #1222002TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.537          64121.611          11631.512 
PIPE
    END-POINT  58333.538          64127.401          11622.012  1.5  SC MALE 
    END-POINT  58333.537          64122.321          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NX0                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.538          64127.401          11622.012  1.5  SC MALE 
    END-POINT  58333.538          64127.401          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NX1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.538          64127.401          11622.012  1.5  SC FEMALE 
    END-POINT  58333.538          64128.821          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.538          64128.111          11622.012 
    BRANCH1-POINT  58333.538          64128.111          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NX2                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.538          64128.821          11622.012  1.5  SC FEMALE 
    END-POINT  58333.538          64128.821          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NX3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.538          64128.111          11623.242  0.5  SC MALE 
    END-POINT  58333.538          64128.111          11623.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.538          64128.111          11627.262  0.5  SC MALE 
    END-POINT  58333.538          64128.111          11623.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.538          64128.111          11627.262  0.5  SC MALE 
    END-POINT  58333.538          64128.111          11627.262  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLC                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.538          64128.111          11627.262  0.5  SC FEMALE 
    END-POINT  58333.538          64128.111          11628.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.538          64128.111          11627.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.538          64128.111          11628.512  0.5  SC MALE 
    END-POINT  58333.538          64128.111          11628.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKL                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.538          64128.111          11628.512  0.5  SC MALE 
    END-POINT  58333.538          64128.111          11631.512  0.5  SC MALE 
    CENTRE-POINT  58333.538  64128.111  11630.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKK                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.538  64128.111  11631.012 
    TEXT FROM 2047008$MANIFOLD # R3$VALVE #2047008TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.538          64128.111          11631.512 
PIPE
    END-POINT  58333.539          64133.901          11622.012  1.5  SC MALE 
    END-POINT  58333.538          64128.821          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.539          64133.901          11622.012  1.5  SC MALE 
    END-POINT  58333.539          64133.901          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.539          64133.901          11622.012  1.5  SC FEMALE 
    END-POINT  58333.539          64135.321          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.539          64134.611          11622.012 
    BRANCH1-POINT  58333.539          64134.611          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.539          64135.321          11622.012  1.5  SC FEMALE 
    END-POINT  58333.539          64135.321          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.539          64134.611          11623.242  0.5  SC MALE 
    END-POINT  58333.539          64134.611          11623.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OLA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.539          64134.611          11627.262  0.5  SC MALE 
    END-POINT  58333.539          64134.611          11623.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OL8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.539          64134.611          11627.262  0.5  SC MALE 
    END-POINT  58333.539          64134.611          11627.262  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OL9                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.539          64134.611          11627.262  0.5  SC FEMALE 
    END-POINT  58333.539          64134.611          11628.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.539          64134.611          11627.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJN                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.539          64134.611          11628.512  0.5  SC MALE 
    END-POINT  58333.539          64134.611          11628.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKN                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.539          64134.611          11628.512  0.5  SC MALE 
    END-POINT  58333.539          64134.611          11631.512  0.5  SC MALE 
    CENTRE-POINT  58333.539  64134.611  11630.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKM                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.539  64134.611  11631.012 
    TEXT FROM 1214023$MANIFOLD # R3$VALVE #1214023TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.539          64134.611          11631.512 
PIPE
    END-POINT  58333.540          64140.401          11622.012  1.5  SC MALE 
    END-POINT  58333.539          64135.321          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.540          64140.401          11622.012  1.5  SC MALE 
    END-POINT  58333.540          64140.401          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.540          64140.401          11622.012  1.5  SC FEMALE 
    END-POINT  58333.540          64141.821          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.540          64141.111          11622.012 
    BRANCH1-POINT  58333.540          64141.111          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.540          64141.821          11622.012  1.5  SC FEMALE 
    END-POINT  58333.540          64141.821          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.540          64141.111          11623.242  0.5  SC MALE 
    END-POINT  58333.540          64141.111          11623.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OL7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.540          64141.111          11627.262  0.5  SC MALE 
    END-POINT  58333.540          64141.111          11623.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OL5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.540          64141.111          11627.262  0.5  SC MALE 
    END-POINT  58333.540          64141.111          11627.262  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OL6                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.540          64141.111          11627.262  0.5  SC FEMALE 
    END-POINT  58333.540          64141.111          11628.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.540          64141.111          11627.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJR                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.540          64141.111          11628.512  0.5  SC MALE 
    END-POINT  58333.540          64141.111          11628.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKP                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.540          64141.111          11628.512  0.5  SC MALE 
    END-POINT  58333.540          64141.111          11631.512  0.5  SC MALE 
    CENTRE-POINT  58333.540  64141.111  11630.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKO                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.540  64141.111  11631.012 
    TEXT FROM 1214021$MANIFOLD # R3$VALVE #1214021TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.540          64141.111          11631.512 
PIPE
    END-POINT  58333.541          64146.901          11622.012  1.5  SC MALE 
    END-POINT  58333.540          64141.821          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXX                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.541          64146.901          11622.012  1.5  SC MALE 
    END-POINT  58333.541          64146.901          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.541          64146.901          11622.012  1.5  SC FEMALE 
    END-POINT  58333.541          64148.321          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58333.541          64147.611          11622.012 
    BRANCH1-POINT  58333.541          64147.611          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NXZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.541          64148.321          11622.012  1.5  SC MALE 
    END-POINT  58333.541          64148.321          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NZ0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.541          64147.611          11623.242  0.5  SC MALE 
    END-POINT  58333.541          64147.611          11623.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OL4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.541          64147.611          11627.262  0.5  SC MALE 
    END-POINT  58333.541          64147.611          11623.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OL2                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.541          64147.611          11627.262  0.5  SC MALE 
    END-POINT  58333.541          64147.611          11627.262  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OL3                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58333.541          64147.611          11627.262  0.5  SC FEMALE 
    END-POINT  58333.541          64147.611          11628.512  0.5  SC FEMALE 
    CENTRE-POINT   58333.541          64147.611          11627.842 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OJV                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58333.541          64147.611          11628.512  0.5  SC MALE 
    END-POINT  58333.541          64147.611          11628.512  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKR                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58333.541          64147.611          11628.512  0.5  SC MALE 
    END-POINT  58333.541          64147.611          11631.512  0.5  SC MALE 
    CENTRE-POINT  58333.541  64147.611  11630.012 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OKQ                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58333.541  64147.611  11631.012 
    TEXT FROM 1214020$MANIFOLD # R3$VALVE #1214020TR
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58333.541          64147.611          11631.512 
PIPE
    END-POINT  58333.542          64157.211          11622.012  1.5  SC MALE 
    END-POINT  58333.541          64148.321          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYY                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58333.541  64152.544  11622.012 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58333.542          64157.211          11622.012  1.5  SC MALE 
    END-POINT  58333.542          64157.211          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.542          64158.451          11620.772  1.5  SC FEMALE 
    END-POINT  58333.542          64158.451          11623.252  1.5  SC FEMALE 
    CENTRE-POINT   58333.542          64158.451          11622.012 
    BRANCH1-POINT  58333.542          64157.211          11622.012  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.542          64158.451          11620.772  1.5  SC MALE 
    END-POINT  58333.542          64158.451          11620.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.542          64158.451          11623.252  1.5  SC MALE 
    END-POINT  58333.542          64158.451          11623.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64158.451          11676.429  1.5  SC MALE 
    END-POINT  58333.542          64158.451          11623.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0K                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.542          64158.451          11676.429  1.5  SC MALE 
    END-POINT  58333.542          64158.451          11676.429  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58333.542          64158.451          11678.909  1.5  SC FEMALE 
    END-POINT  58333.542          64158.451          11676.429  1.5  SC FEMALE 
    CENTRE-POINT   58333.542          64158.451          11677.669 
    BRANCH1-POINT  58333.542          64157.211          11677.669  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0H                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.542          64158.451          11678.909  1.5  SC FEMALE 
    END-POINT  58333.542          64158.451          11678.909  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.542          64157.211          11677.669  1.5  SC MALE 
    END-POINT  58333.542          64157.211          11677.669  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.542          64157.211          11677.669  1.5  SC MALE 
    END-POINT  58333.542          64127.511          11677.669  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2_1
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0N                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58333.542  64138.800  11677.669  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OH0                 
END-POSITION-OPEN 
    CO-ORDS  58333.542          64127.511          11677.669 
PIPE
    END-POINT  58333.542          64158.451          11683.309  1.5  SC MALE 
    END-POINT  58333.542          64158.451          11678.909  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0F                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.542          64158.451          11683.309  1.5  SC MALE 
    END-POINT  58333.542          64158.451          11683.309  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58332.302          64158.451          11684.549  1.5  SC FEMALE 
    END-POINT  58333.542          64158.451          11683.309  1.5  SC FEMALE 
    CENTRE-POINT   58333.542          64158.451          11684.549 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NZZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58332.302          64158.451          11684.549  1.5  SC MALE 
    END-POINT  58332.302          64158.451          11684.549  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O19                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58291.700          64158.451          11684.549  1.5  SC MALE 
    END-POINT  58332.302          64158.451          11684.549  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O17                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58291.700          64158.451          11684.549  1.5  SC MALE 
    END-POINT  58291.700          64158.451          11684.549  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O18                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58290.460          64158.451          11685.789  1.5  SC FEMALE 
    END-POINT  58291.700          64158.451          11684.549  1.5  SC FEMALE 
    CENTRE-POINT   58290.460          64158.451          11684.549 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O11                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58290.460          64158.451          11685.789  1.5  SC MALE 
    END-POINT  58290.460          64158.451          11685.789  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O15                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58290.460          64158.451          11685.789  1.5  SC MALE 
    END-POINT  58290.460          64158.451          11739.728  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O14                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58290.460          64158.451          11739.728  1.5  SC MALE 
    END-POINT  58290.460          64158.451          11739.728  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O16                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58290.460          64157.211          11740.968  1.5  SC FEMALE 
    END-POINT  58290.460          64158.451          11739.728  1.5  SC FEMALE 
    CENTRE-POINT   58290.460          64158.451          11740.968 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0X                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58290.460          64157.211          11740.968  1.5  SC MALE 
    END-POINT  58290.460          64157.211          11740.968  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O1B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58290.460          64157.211          11740.968  1.5  SC MALE 
    END-POINT  58290.460          63962.608          11740.968  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O1A                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58290.460  63981.300  11740.968  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O21                 
SUPPORT
    CO-ORDS  58290.460  64063.800  11740.968  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O24                 
SUPPORT
    CO-ORDS  58290.460  64138.800  11740.968  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O28                 
SCREWED-WELD
    END-POINT  58290.460          63962.608          11740.968  1.5  SC MALE 
    END-POINT  58290.460          63962.608          11740.968  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O1C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58290.460          63961.368          11742.208  1.5  SC FEMALE 
    END-POINT  58290.460          63962.608          11740.968  1.5  SC FEMALE 
    CENTRE-POINT   58290.460          63961.368          11740.968 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0V                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58290.460          63961.368          11742.208  1.5  SC MALE 
    END-POINT  58290.460          63961.368          11742.208  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O1U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58290.460          63961.368          11758.295  1.5  SC MALE 
    END-POINT  58290.460          63961.368          11742.208  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O1S                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58290.460          63961.368          11758.295  1.5  SC MALE 
    END-POINT  58290.460          63961.368          11758.295  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O1T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58289.220          63961.368          11759.535  1.5  SC FEMALE 
    END-POINT  58290.460          63961.368          11758.295  1.5  SC FEMALE 
    CENTRE-POINT   58290.460          63961.368          11759.535 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_O0P                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58290.460  63961.368  11759.535 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58290.460  63961.368  11444.508 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58290.460  63961.368  11759.535 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63961.368  11759.535 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58289.220          63961.368          11759.535  1.5  SC MALE 
    END-POINT  58289.220          63961.368          11759.535  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58289.220          63961.368          11759.535  1.5  SC MALE 
    END-POINT  58122.302          63961.368          11759.535  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHR                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58237.299  63961.368  11759.535 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58208.488  63961.368  11759.535  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHW                 
SCREWED-WELD
    END-POINT  58122.302          63961.368          11759.535  1.5  SC MALE 
    END-POINT  58122.302          63961.368          11759.535  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHT                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58122.302          63961.368          11759.535  1.5  SC FEMALE 
    END-POINT  58118.677          63961.368          11759.535  1.5  SC FEMALE 
    CENTRE-POINT   58120.490          63961.368          11759.535 
    SKEY CKSC
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHN                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58118.677          63961.368          11759.535  1.5  SC FEMALE 
    END-POINT  58118.677          63961.368          11759.535  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHO                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58114.290          63961.368          11759.535  1.5  SC MALE 
    END-POINT  58118.677          63961.368          11759.535  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHL                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58114.290          63961.368          11759.535  1.5  SC MALE 
    END-POINT  58114.290          63961.368          11759.535  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58113.050          63961.368          11758.295  1.5  SC FEMALE 
    END-POINT  58113.050          63961.368          11760.775  1.5  SC FEMALE 
    CENTRE-POINT   58113.050          63961.368          11759.535 
    BRANCH1-POINT  58114.290          63961.368          11759.535  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58113.050          63961.368          11758.295  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11758.295  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63961.368          11760.775  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11760.775  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63961.368          11760.775  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11765.175  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OI9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63961.368          11765.175  1.5  SC FEMALE 
    END-POINT  58113.050          63961.368          11765.175  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58113.050          63961.368          11765.175  1.5  SC FEMALE 
    END-POINT  58113.050          63961.368          11766.355  0.5  SC FEMALE 
    SKEY RCSC
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63961.368          11766.355  0.5  SC MALE 
    END-POINT  58113.050          63961.368          11766.355  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63961.368          11766.355  0.5  SC MALE 
    END-POINT  58113.050          63961.368          11770.375  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OID                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63961.368          11770.375  0.5  SC FEMALE 
    END-POINT  58113.050          63961.368          11770.375  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIG                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58113.050          63961.368          11770.375  0.5  SC FEMALE 
    END-POINT  58113.050          63961.368          11771.565  0.5  SC FEMALE 
    CENTRE-POINT   58113.050          63961.368          11770.955 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIF                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  58113.050          63961.368          11771.565  0.5  SC MALE 
    END-POINT  58113.050          63961.368          11771.565  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58113.050          63961.368          11771.565  0.5  SC MALE 
    END-POINT  58113.050          63961.368          11772.435  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OIK                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58113.050          63961.368          11772.435 
PIPE
    END-POINT  58113.050          63961.368          11758.295  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11750.475  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHD                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63961.368          11750.475  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11750.475  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OHF                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58113.050          63961.368          11748.995  1.5  SC FEMALE 
    END-POINT  58113.050          63961.368          11750.475  1.5  SC FEMALE 
    CENTRE-POINT   58113.050          63961.368          11749.735 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NP2                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58113.050          63961.368          11748.995  1.5  SC FEMALE 
    END-POINT  58113.050          63961.368          11748.995  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NP3                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63961.368          11744.188  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11748.995  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63961.368          11744.188  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11744.188  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NP0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58113.050  63961.368  11741.750 
    BRANCH1-POINT  58113.050          63961.368          11744.188  1.5  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HTZ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58113.050  63961.368  11741.750 
    PIPELINE-REFERENCE ISO-PY3-2046008
PIPE
    END-POINT  58333.542          64158.451          11620.772  1.5  SC MALE 
    END-POINT  58333.542          64158.451          11599.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYV                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58333.542          64158.451          11599.252  1.5  SC MALE 
    END-POINT  58333.542          64158.451          11599.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58333.542          64157.211          11598.012  1.5  SC FEMALE 
    END-POINT  58333.542          64158.451          11599.252  1.5  SC FEMALE 
    CENTRE-POINT   58333.542          64158.451          11598.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYS                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58333.542          64157.211          11598.012  1.5  SC FEMALE 
    END-POINT  58333.542          64157.211          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58333.541          64151.811          11598.012  1.5  SC MALE 
    END-POINT  58333.542          64157.211          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NY7                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58333.541  64154.511  11598.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NY8                 
FLOW-ARROW
    CO-ORDS  58333.541  64154.369  11598.012 
    FLOW 1
    SKEY FLOW
MISC-COMPONENT
    END-POINT  58333.534          64103.381          11598.012  1.5  SC MALE 
    END-POINT  58333.534          64101.951          11598.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NYQ                 
    PIPING-SPEC C1
    INSULATION-ON 
MATERIALS
ITEM-CODE PLGHEX1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X1/
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE GENSTR1/2
    DESCRIPTION PIPE TO TUBING ADAPTOR
    RATING 2000LB
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=2'-6", P622 FIG 1
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PLGHEX1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2_1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION DUMMY PIPE SUPPORT, L=1'-8", P628 FIG12
    RATING 40
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION MISC PIPE SUPPORT, L=8 5/8", P629 FIG9, P651 FIG1
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION ROD HANGER, L=2'-5 5/8", P624 FIG4
ITEM-CODE SUPAG-1+1/2_1
    DESCRIPTION MISC PIPE SUPPORT, L=10 1/2", X=1'-9 5/8", P629 FIG3, P651 FIG1
ITEM-CODE SUPAG-1+1/2_2
    DESCRIPTION MISC PIPE SUPPORT, L=11", X=1'-6 1/4", P629 FIG3, P651 FIG1
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION SWING CHECK VALVE, SCF, 200LB, CS-01-BA-100
    RATING 200LB
ITEM-CODE REDCON1+1/2X1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING COUPLING, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
