ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218024
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 LC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1218024-LC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 J. PRIEST
    ATTRIBUTE22 12/1/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/10/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/11/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58165.458          64251.132          11450.072  0.75  SC FEMALE 
    END-POINT  58165.458          64251.132          11449.132  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6YV                 
    PIPING-SPEC C2
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58165.458          64251.132          11449.132 
SCREWED-WELD
    END-POINT  58165.458          64251.132          11450.072  0.75  SC FEMALE 
    END-POINT  58165.458          64251.132          11450.072  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6YW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58165.458          64251.132          11452.072  0.75  SW MALE 
    END-POINT  58165.458          64251.132          11450.072  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6YT                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.458          64251.132          11452.072  0.75  SW MALE 
    END-POINT  58165.458          64251.132          11452.072  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6YU                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58165.458          64251.132          11454.447  0.75  SW FEMALE 
    END-POINT  58165.458          64251.132          11452.072  0.75  SW FEMALE 
    CENTRE-POINT   58165.458          64251.132          11453.259 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6YQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 45 EAST
SOCKET-WELD
    END-POINT  58165.458          64251.132          11454.447  0.75
    END-POINT  58165.458          64251.132          11454.447  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AI6                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.458          64251.132          11456.947  0.75  PL
    END-POINT  58165.458          64251.132          11454.447  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AI4                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58165.458          64251.132          11456.947  0.75
    END-POINT  58165.458          64251.132          11456.947  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AI5                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER FUSION-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58165.456          64251.132          11460.947  1.5  PL
    END-POINT  58165.458          64251.132          11456.947  0.75  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AI0                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64251.132          11460.947  1.5
    END-POINT  58165.456          64251.132          11460.947  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AI1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58165.456          64251.132          11463.572  1.5  SW FEMALE 
    END-POINT  58165.456          64251.132          11460.947  1.5  SW FEMALE 
    CENTRE-POINT   58165.456          64251.132          11462.259 
    BRANCH1-POINT  58165.456          64249.819          11462.259  0.75  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X3/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AHM                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58165.455          64251.132          11463.572  1.5
    END-POINT  58165.456          64251.132          11463.572  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AHQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64249.819          11462.259  0.75
    END-POINT  58165.456          64249.819          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AHS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64249.819          11462.259  0.75  PL
    END-POINT  58165.456          64236.207          11462.259  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7GZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64236.207          11462.259  0.75
    END-POINT  58165.456          64236.207          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7H1                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58165.456          64236.207          11462.259  0.75  SW FEMALE 
    END-POINT  58165.456          64233.832          11462.259  0.75  SW FEMALE 
    CENTRE-POINT   58165.456          64235.019          11462.259 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6Z2                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58165.456          64233.832          11462.259  0.75
    END-POINT  58165.456          64233.832          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8T5                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64233.832          11462.259  0.75  PL
    END-POINT  58165.456          64226.892          11462.259  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8T4                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64226.892          11462.259  0.75
    END-POINT  58165.456          64226.892          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8T6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58165.456          64226.712          11462.259  0.75  FL
    END-POINT  58165.456          64226.892          11462.259  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SD                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58165.456          64226.587          11462.259  0.75
    END-POINT  58165.456          64226.712          11462.259  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SG                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58165.456          64226.587          11462.259 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SH                 
FLANGE
    END-POINT  58165.456          64226.587          11462.259  0.75  FL
    END-POINT  58165.456          64226.407          11462.259  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SF                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64226.407          11462.259  0.75
    END-POINT  58165.456          64226.407          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64222.404          11462.259  0.75  PL
    END-POINT  58165.456          64226.407          11462.259  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TO                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64222.404          11462.259  0.75
    END-POINT  58165.456          64222.404          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58165.456          64222.404          11462.259  0.75  SW FEMALE 
    END-POINT  58165.456          64220.629          11462.259  0.75  SW FEMALE 
    CENTRE-POINT  58165.456  64221.517  11462.259 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SN                 
    TAG SP-562                          
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58165.456  64221.504  11462.259 
    TEXT SP-562
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58165.456          64220.629          11462.259  0.75
    END-POINT  58165.456          64220.629          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64220.629          11462.259  0.75  PL
    END-POINT  58165.456          64216.627          11462.259  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SP                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64216.627          11462.259  0.75  SW FEMALE 
    END-POINT  58165.456          64216.627          11462.259  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58165.456          64216.447          11462.259  0.75  FL
    END-POINT  58165.456          64216.627          11462.259  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SR                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58165.456          64216.322          11462.259  0.75
    END-POINT  58165.456          64216.447          11462.259  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SU                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58165.456          64216.322          11462.259 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SV                 
FLANGE
    END-POINT  58165.456          64216.322          11462.259  0.75  FL
    END-POINT  58165.456          64216.142          11462.259  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ST                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64216.142          11462.259  0.75
    END-POINT  58165.456          64216.142          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64216.142          11462.259  0.75  PL
    END-POINT  58165.456          64212.202          11462.259  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SW                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64212.202          11462.259  0.75  SW FEMALE 
    END-POINT  58165.456          64212.202          11462.259  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8T0                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58165.456          64212.202          11462.259  0.75  SW FEMALE 
    END-POINT  58165.456          64209.827          11462.259  0.75  SW FEMALE 
    CENTRE-POINT   58165.456          64211.014          11462.259 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           3.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8SZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64209.827          11462.259  0.75
    END-POINT  58165.456          64209.827          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8T8                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64209.827          11462.259  0.75  PL
    END-POINT  58165.456          64202.827          11462.259  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8T7                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58165.456  64206.323  11462.259  0.75
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9EO                 
SUPPORT
    CO-ORDS  58165.456  64206.315  11462.259  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9EQ                 
SOCKET-WELD
    END-POINT  58165.456          64202.827          11462.259  0.75  SW FEMALE 
    END-POINT  58165.456          64202.827          11462.259  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8TA                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58165.456          64202.827          11462.259  0.75  SW FEMALE 
    END-POINT  58165.456          64200.452          11462.259  0.75  SW FEMALE 
    CENTRE-POINT   58165.456          64201.639          11462.259 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8T9                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58165.456          64200.452          11462.259  0.75
    END-POINT  58165.456          64200.452          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AK0                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64193.301          11462.259  0.75  PL
    END-POINT  58165.456          64200.452          11462.259  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJY                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64193.301          11462.259  0.75
    END-POINT  58165.456          64193.301          11462.259  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58165.456          64192.551          11461.509  0.75  SW FEMALE 
    END-POINT  58165.456          64193.301          11462.259  0.75  SW FEMALE 
    CENTRE-POINT   58165.456          64192.551          11462.259 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJT                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58165.456          64192.551          11461.509  0.75
    END-POINT  58165.456          64192.551          11461.509  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64192.551          11461.509  0.75  PL
    END-POINT  58165.456          64192.551          11439.838  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJV                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64192.551          11439.838  0.75
    END-POINT  58165.456          64192.551          11439.838  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58165.456          64192.197          11438.984  0.75  SW FEMALE 
    END-POINT  58165.456          64192.551          11439.838  0.75  SW FEMALE 
    CENTRE-POINT   58165.456          64192.551          11439.338 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58165.456          64192.197          11438.984  0.75  SW FEMALE 
    END-POINT  58165.456          64192.197          11438.984  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58165.456          64188.662          11435.449  0.75  PL
    END-POINT  58165.456          64192.197          11438.984  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJO                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.456          64188.662          11435.449  0.75
    END-POINT  58165.456          64188.662          11435.449  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58165.456          64188.662          11435.449  0.75  SW FEMALE 
    END-POINT  58164.706          64188.131          11434.918  0.75  SW FEMALE 
    CENTRE-POINT   58165.456          64188.131          11434.918 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7I5                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58164.706          64188.131          11434.918  0.75
    END-POINT  58164.706          64188.131          11434.918  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58164.706          64188.131          11434.918  0.75  PL
    END-POINT  58161.898          64188.131          11434.918  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IA                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58161.898          64188.131          11434.918  0.75
    END-POINT  58161.898          64188.131          11434.918  0.75  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58161.336          64188.131          11434.918  1  SW MALE 
    END-POINT  58161.898          64188.131          11434.918  0.75  SW FEMALE 
    CENTRE-POINT  58161.617  64188.131  11434.918 
    SKEY NCSW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7I3                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58161.336          64188.131          11434.918 
    PIPELINE-REFERENCE ISO-PY3-1218012
PIPE
    END-POINT  58165.455          64251.132          11463.572  1.5  PL
    END-POINT  58165.457          64251.131          11466.590  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AHP                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.457          64251.131          11466.590  1.5
    END-POINT  58165.456          64251.131          11466.590  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AHR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
ELBOW
    END-POINT  58165.456          64252.381          11467.840  1.5  SW FEMALE 
    END-POINT  58165.456          64251.131          11466.590  1.5  SW FEMALE 
    CENTRE-POINT   58165.456          64251.131          11467.840 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AH8                 
    PIPING-SPEC C2
    ANGLE 9000
SOCKET-WELD
    END-POINT  58165.456          64252.381          11467.840  1.5
    END-POINT  58165.456          64252.381          11467.840  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AHI                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58165.456          64272.895          11467.840  1.5  PL
    END-POINT  58165.456          64252.381          11467.840  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AHG                 
    PIPING-SPEC C2
SUPPORT
    CO-ORDS  58165.456  64264.510  11467.840  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AI9                 
SOCKET-WELD
    END-POINT  58165.456          64272.895          11467.840  1.5
    END-POINT  58165.456          64272.895          11467.840  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AHH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
ELBOW
    END-POINT  58166.706          64274.145          11467.840  1.5  SW FEMALE 
    END-POINT  58165.456          64272.895          11467.840  1.5  SW FEMALE 
    CENTRE-POINT   58165.456          64274.145          11467.840 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGA                 
    PIPING-SPEC C2
    ANGLE 9000
SOCKET-WELD
    END-POINT  58166.706          64274.145          11467.840  1.5
    END-POINT  58166.706          64274.145          11467.840  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AH1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58215.592          64274.145          11467.840  1.5  PL
    END-POINT  58166.706          64274.145          11467.840  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGZ                 
    PIPING-SPEC C2
FLOW-ARROW
    CO-ORDS  58191.221  64274.145  11467.840 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58215.592          64274.145          11467.840  1.5  SW FEMALE 
    END-POINT  58215.592          64274.145          11467.840  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AH4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
ELBOW
    END-POINT  58215.592          64274.145          11467.840  1.5  SW FEMALE 
    END-POINT  58216.975          64273.572          11467.840  1.5  SW FEMALE 
    CENTRE-POINT   58216.402          64274.145          11467.840 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGH                 
    PIPING-SPEC C2
    ANGLE 4500
SOCKET-WELD
    END-POINT  58216.975          64273.572          11467.840  1.5
    END-POINT  58216.975          64273.572          11467.840  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58241.648          64248.899          11467.840  1.5  PL
    END-POINT  58216.975          64273.572          11467.840  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGW                 
    PIPING-SPEC C2
SUPPORT
    CO-ORDS  58219.686  64270.861  11467.840  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AI7                 
SOCKET-WELD
    END-POINT  58241.648          64248.899          11467.840  1.5
    END-POINT  58241.648          64248.899          11467.840  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
ELBOW
    END-POINT  58241.648          64248.899          11467.840  1.5  SW FEMALE 
    END-POINT  58242.221          64247.516          11467.840  1.5  SW FEMALE 
    CENTRE-POINT   58242.221          64248.326          11467.840 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGG                 
    PIPING-SPEC C2
    ANGLE 4500
SOCKET-WELD
    END-POINT  58242.221          64247.516          11467.840  1.5
    END-POINT  58242.221          64247.516          11467.840  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58242.221          64247.516          11467.840  1.5  PL
    END-POINT  58242.221          64225.893          11467.840  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGT                 
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58242.221          64225.893          11467.840  1.5
    END-POINT  58242.221          64225.893          11467.840  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
ELBOW
    END-POINT  58242.221          64225.893          11467.840  1.5  SW FEMALE 
    END-POINT  58242.221          64224.643          11469.090  1.5  SW FEMALE 
    CENTRE-POINT   58242.221          64224.643          11467.840 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AG9                 
    PIPING-SPEC C2
    ANGLE 9000
SOCKET-WELD
    END-POINT  58242.221          64224.643          11469.090  1.5
    END-POINT  58242.221          64224.643          11469.090  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58242.221          64224.643          11499.762  1.5  PL
    END-POINT  58242.221          64224.643          11469.090  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGN                 
    PIPING-SPEC C2
FLOW-ARROW
    CO-ORDS  58242.221  64224.643  11484.205 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58242.221          64224.643          11499.762  1.5
    END-POINT  58242.221          64224.643          11499.762  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
ELBOW
    END-POINT  58243.471          64224.643          11501.012  1.5  SW FEMALE 
    END-POINT  58242.221          64224.643          11499.762  1.5  SW FEMALE 
    CENTRE-POINT   58242.221          64224.643          11501.012 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AG6                 
    PIPING-SPEC C2
    ANGLE 9000
SOCKET-WELD
    END-POINT  58243.471          64224.643          11501.012  1.5
    END-POINT  58243.471          64224.643          11501.012  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58243.471          64224.643          11501.012  1.5  PL
    END-POINT  58292.841          64224.643          11501.012  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGI                 
    PIPING-SPEC C2
FLOW-ARROW
    CO-ORDS  58268.314  64224.643  11501.012 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58292.841          64224.643          11501.012  1.5
    END-POINT  58292.841          64224.643          11501.012  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
TEE
    END-POINT  58294.091          64224.643          11502.262  1.5  SW FEMALE 
    END-POINT  58294.091          64224.643          11499.950  1.5  SW FEMALE 
    CENTRE-POINT   58294.091          64224.643          11501.012 
    BRANCH1-POINT  58292.841          64224.643          11501.012  1.5  SW FEMALE 
    SKEY TESW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AG2                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58294.091          64224.643          11502.262 
    PIPELINE-REFERENCE ISO-PY3-2041007
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, PLxPL, SCH 40xSCH 80, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X3/
    CATALOG ASME/ANSI B16.11
    DESCRIPTION REDUCING TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR3/4
    DESCRIPTION STEAM TRAP W/INTEGRAL STRAINER,  SP-562
    RATING 3000LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE SUPUB-3/4
    DESCRIPTION U BOLT GUIDE, P651 FIG 1
ITEM-CODE SUPAG-3/4
    DESCRIPTION STEEL SUPPORT, P658-FIG 1, L=1'-0 3/4", X=1'-6"
ITEM-CODE 90L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE 45L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 45 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION U BOLT ANCHOR
ITEM-CODE 45L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 45 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION ROD HANGER P624, FIG. 2, L=3'-7 9/16"
