ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217002
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1217002-DM-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 11/17/2008
    ATTRIBUTE23 D.K.
    ATTRIBUTE24 11/18/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 11/20/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 RJR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  57868.675          64046.193          11287.625  0.75  SC FEMALE 
    END-POINT  57868.675          64044.753          11287.625  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_733                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  57868.675          64044.753          11287.625 
SCREWED-WELD
    END-POINT  57868.675          64046.193          11287.625  0.75  SC MALE 
    END-POINT  57868.675          64046.193          11287.625  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_732                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57868.675          64048.723          11287.625  0.75  PL
    END-POINT  57868.675          64046.193          11287.625  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_731                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57868.675          64048.723          11287.625  0.75  SW FEMALE 
    END-POINT  57868.675          64048.723          11287.625  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_730                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57868.675          64050.673          11287.625  0.75  SW FEMALE 
    END-POINT  57868.675          64048.723          11287.625  0.75  SW FEMALE 
    CENTRE-POINT   57868.675          64049.698          11287.625 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57868.675          64050.673          11287.625  0.75
    END-POINT  57868.675          64050.673          11287.625  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_863                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57868.675          64054.203          11287.625  0.75  BW
    END-POINT  57868.675          64050.673          11287.625  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_861                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.675          64054.203          11287.625  0.75
    END-POINT  57868.675          64054.203          11287.625  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_862                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57868.675          64055.328          11288.750  0.75  BW
    END-POINT  57868.675          64054.203          11287.625  0.75  BW
    CENTRE-POINT   57868.675          64055.328          11287.625 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_85Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57868.675          64055.328          11288.750  0.75
    END-POINT  57868.675          64055.328          11288.750  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_860                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57868.675          64055.328          11291.750  0.75  BW
    END-POINT  57868.675          64055.328          11288.750  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72W                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.675          64055.328          11291.750  0.75
    END-POINT  57868.675          64055.328          11291.750  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57868.675  64055.328  11294.875 
    BRANCH1-POINT  57868.675          64055.328          11291.750  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72U                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.675  64055.328  11294.875  4
    END-POINT  57868.675  64055.328  11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57919.564          64055.328          11294.875  4  BW
    END-POINT  57864.675          64055.328          11294.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72P                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57883.563  64055.328  11294.875  4
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPAB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_841                 
    TAG                         P619 FIG.1                      
FLOW-ARROW
    CO-ORDS  57902.761  64055.328  11294.875 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57919.564          64055.328          11294.875  4
    END-POINT  57919.564          64055.328          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57864.675          64055.328          11294.875  4
    END-POINT  57864.675          64055.328          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57864.675          64055.328          11294.875  4  BW
    END-POINT  57860.675          64055.328          11295.375  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_734                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  57860.675          64055.328          11295.375  3
    END-POINT  57860.675          64055.328          11295.375  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_735                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57857.925          64055.328          11295.375  3  FL
    END-POINT  57860.675          64055.328          11295.375  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_736                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57857.925          64055.328          11295.375  3
    END-POINT  57857.800          64055.328          11295.375  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9OK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57857.925          64055.328          11295.375 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9OL                 
END-POSITION-OPEN 
    CO-ORDS  57857.800          64055.328          11295.375 
ELBOW
    END-POINT  57925.564          64061.328          11294.875  4  BW
    END-POINT  57919.564          64055.328          11294.875  4  BW
    CENTRE-POINT   57925.564          64055.328          11294.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72N                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57925.564          64061.328          11294.875  4
    END-POINT  57925.564          64061.328          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57925.564          64072.042          11294.875  4  PL
    END-POINT  57925.564          64061.328          11294.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72L                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57925.564          64072.042          11294.875  4
    END-POINT  57925.564          64072.042          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57925.564          64072.042          11294.875  4
    END-POINT  57925.564          64072.042          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57925.564          64072.342          11294.875  4  FL
    END-POINT  57925.564          64072.042          11294.875  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72I                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57925.564          64072.467          11294.875  4
    END-POINT  57925.564          64072.342          11294.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72G                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57925.564          64072.342          11294.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72H                 
VALVE
    END-POINT  57925.564          64074.592          11294.875  4  FL
    END-POINT  57925.564          64072.467          11294.875  4  FL
    CENTRE-POINT   57925.564          64073.529          11294.875 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72E                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  57925.564          64074.717          11294.875  4
    END-POINT  57925.564          64074.592          11294.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72C                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57925.564          64074.592          11294.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72D                 
FLANGE
    END-POINT  57925.564          64074.717          11294.875  4  FL
    END-POINT  57925.564          64077.717          11294.875  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_72B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57925.564          64077.717          11294.875  4
    END-POINT  57925.564          64077.717          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_719                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57925.564          64077.717          11294.875  4  BW
    END-POINT  57925.564          64085.957          11294.875  4  BW
    CENTRE-POINT   57925.564          64081.837          11294.875 
    BRANCH1-POINT  57921.444          64081.837          11294.875  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4
    WEIGHT           2.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_715                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57925.564  64081.837  11294.875  4
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPAB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_716                 
    TAG                         P619 FIG.1                      
WELD
    END-POINT  57925.564          64085.957          11294.875  4
    END-POINT  57925.564          64085.957          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_71A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57921.444          64081.837          11294.875  4
    END-POINT  57921.444          64081.837          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9OG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57925.564          64088.957          11294.875  4  FL
    END-POINT  57925.564          64085.957          11294.875  4  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_71B                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57925.564          64088.957          11294.875 
    PIPELINE-REFERENCE ISO-PY3-1217008
PIPE
    END-POINT  57903.770          64081.837          11294.875  4  BW
    END-POINT  57921.444          64081.837          11294.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9OE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57903.770          64081.837          11294.875  4
    END-POINT  57903.770          64081.837          11294.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9OF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57897.770          64081.837          11300.875  4  BW
    END-POINT  57903.770          64081.837          11294.875  4  BW
    CENTRE-POINT   57897.770          64081.837          11294.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_739                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57897.770  64081.837  11294.875 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64081.837  11294.875 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57897.770  64081.837  11294.875 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57897.770  64138.800  11294.875 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57897.770          64081.837          11300.875  4
    END-POINT  57897.770          64081.837          11300.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_73A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57897.770          64081.837          11303.875  4  FL
    END-POINT  57897.770          64081.837          11300.875  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_73B                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57897.770          64081.837          11303.875  4
    END-POINT  57897.770          64081.837          11304.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9ON                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57897.770          64081.837          11303.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9OO                 
END-POSITION-OPEN 
    CO-ORDS  57897.770          64081.837          11304.000 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE WOL4X3/4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPAB-4
    DESCRIPTION ADJUSTABLE SUPPORT P619 FIG.1
ITEM-CODE REDECC4X3
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 3/4 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG4_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE TEESTR4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
