ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216024
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 NH3
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216024-NH3-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 K. COLLINS
    ATTRIBUTE22 10/30/2012
    ATTRIBUTE23 N/A
    ATTRIBUTE25 DD
    ATTRIBUTE26 11/2/2012
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/2/2012
    ATTRIBUTE29 S. HOYER
    ATTRIBUTE30 11/2/2012
    ATTRIBUTE31 G. PAGE
    ATTRIBUTE32 11/2/2012
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 11/2/2012
    ATTRIBUTE36 KDC
    ATTRIBUTE37 DD
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR CONSTRUCTION
    ATTRIBUTE40 1
    ATTRIBUTE41 12/17/2012
    ATTRIBUTE42 CP
    ATTRIBUTE43 DK
    ATTRIBUTE44 DK
    ATTRIBUTE45 REVISED FIT-029-01
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58309.837          63913.755          11819.759  0.5  PL
    END-POINT  58309.837          63913.755          11822.259  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KLE                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-ROUND
    CO-ORDS  58309.837  63913.755  11821.759 
    UNDIMENSIONED
    TEXT PI$029$05
SOCKET-WELD
    END-POINT  58309.837          63913.755          11819.759  0.5
    END-POINT  58309.837          63913.755          11819.759  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KLF                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58309.837          63913.755          11822.259 
VALVE
    END-POINT  58309.837          63913.755          11817.509  0.5  SW FEMALE 
    END-POINT  58309.837          63913.755          11819.759  0.5  SW FEMALE 
    CENTRE-POINT   58309.837          63913.755          11818.634 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KLA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58309.837          63913.755          11817.509  0.5  SW FEMALE 
    END-POINT  58309.837          63913.755          11817.509  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KLB                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58309.837          63913.755          11815.009  0.5  BW
    END-POINT  58309.837          63913.755          11817.509  0.5  PL
    SKEY NIPL
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KL8                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58309.837          63913.755          11815.009  0.5
    END-POINT  58309.837          63913.755          11815.009  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KL9                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58310.837          63913.755          11814.009  0.5  BW
    END-POINT  58308.837          63913.755          11814.009  0.5  BW
    CENTRE-POINT   58309.837          63913.755          11814.009 
    BRANCH1-POINT  58309.837          63913.755          11815.009  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KL5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58310.837          63913.755          11814.009  0.5
    END-POINT  58310.837          63913.755          11814.009  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYW                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58308.837          63913.755          11814.009  0.5
    END-POINT  58308.837          63913.755          11814.009  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KLO                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58308.837          63913.755          11814.009  0.5  BW
    END-POINT  58306.087          63913.755          11814.009  0.25  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           0.330
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KLN                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SCREWED-WELD
    END-POINT  58306.087          63913.755          11814.009  0.25  SC MALE 
    END-POINT  58306.087          63913.755          11814.009  0.25  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KZ7                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58296.837          63913.756          11814.009  0.25  SC FEMALE 
    END-POINT  58306.087          63913.755          11814.009  0.25  SC FEMALE 
    CENTRE-POINT  58301.462  63913.756  11814.009 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58301.462  63913.756  11814.009 
    TEXT 3P$FIT$029$01
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58296.837          63913.756          11814.009  0.25  SC FEMALE 
    END-POINT  58296.837          63913.756          11814.009  0.25  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYD                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58293.837          63913.756          11814.009  0.75  BW
    END-POINT  58296.837          63913.756          11814.009  0.25  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KLT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58293.837          63913.756          11814.009  0.75
    END-POINT  58293.837          63913.756          11814.009  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KM2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58291.777          63913.757          11814.009  0.75  FL
    END-POINT  58293.837          63913.756          11814.009  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KM1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58291.652          63913.757          11814.009  0.75
    END-POINT  58291.777          63913.757          11814.009  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KM5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58291.652          63913.757          11814.009 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KM6                 
MISC-COMPONENT
    END-POINT  58291.652          63913.757          11814.009  0.75  FL
    END-POINT  58282.777          63913.758          11814.009  0.75  FL
    CENTRE-POINT  58287.215  63913.757  11814.009 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KM4                 
    TAG SP-031                          
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-SQUARE
    CO-ORDS  58287.215  63913.757  11814.009 
    TEXT SP-031
    UNDIMENSIONED
GASKET
    END-POINT  58282.652          63913.758          11814.009  0.75
    END-POINT  58282.777          63913.758          11814.009  0.75
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KMN                 
    PIPING-SPEC C2
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58282.652          63913.758          11814.009  0.75  FL
    END-POINT  58282.472          63913.758          11814.009  0.75  SW FEMALE 
    SKEY FLSW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KMM                 
    PIPING-SPEC C2
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58282.472          63913.758          11814.009 
    PIPELINE-REFERENCE ISO-PY3-1013002
PIPE
    END-POINT  58314.375          63913.754          11814.009  0.5  SC MALE 
    END-POINT  58310.837          63913.755          11814.009  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYU                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SCREWED-WELD
    END-POINT  58314.375          63913.754          11814.009  0.5  SC MALE 
    END-POINT  58314.375          63913.754          11814.009  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KZ6                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
INSTRUMENT
    END-POINT  58316.215          63913.754          11814.009  0.5  SC FEMALE 
    END-POINT  58314.375          63913.754          11814.009  0.5  SC FEMALE 
    CENTRE-POINT   58315.295          63913.754          11814.009 
    SKEY CVSC
    ERECTION-ITEM
    ITEM-CODE VALVBCL1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KKS                 
    TAG FCV$029$01                      
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58316.215          63913.754          11814.009  0.5  SC MALE 
    END-POINT  58316.215          63913.754          11814.009  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KZ3                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58316.215          63913.754          11814.009  0.5  SC MALE 
    END-POINT  58319.645          63913.754          11814.009  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KZ2                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58319.645          63913.754          11814.009  0.5
    END-POINT  58319.645          63913.754          11814.009  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KZ4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58319.645          63913.754          11814.009  0.5
    END-POINT  58319.645          63913.754          11814.009  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KZ5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58319.816          63913.754          11814.009  0.5  FL
    END-POINT  58319.645          63913.754          11814.009  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KXS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58319.816          63913.754          11814.009  0.5
    END-POINT  58319.941          63913.754          11814.009  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KXT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58319.816          63913.754          11814.009 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KXU                 
VALVE
    END-POINT  58319.941          63913.754          11814.009  0.5  FL
    END-POINT  58324.191          63913.753          11814.009  0.5  FL
    CENTRE-POINT   58322.066          63913.754          11814.009 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1/2
    WEIGHT           3.600
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KXP                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58324.316          63913.753          11814.009  0.5
    END-POINT  58324.191          63913.753          11814.009  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KZ0                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58324.316          63913.753          11814.009 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KZ1                 
FLANGE
    END-POINT  58324.316          63913.753          11814.009  0.5  FL
    END-POINT  58324.488          63913.753          11814.009  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58324.488          63913.753          11814.009  0.5
    END-POINT  58324.488          63913.753          11814.009  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58324.488          63913.753          11814.009  0.5
    END-POINT  58324.488          63913.753          11814.009  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58327.488          63913.753          11814.009  0.5  BW
    END-POINT  58324.488          63913.753          11814.009  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58327.488          63913.753          11814.009  0.5
    END-POINT  58327.488          63913.753          11814.009  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYT                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58328.987          63913.753          11812.509  0.5  BW
    END-POINT  58327.488          63913.753          11814.009  0.5  BW
    CENTRE-POINT   58328.987          63913.753          11814.009 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KK1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58328.987  63913.753  11814.009 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58328.987  63898.800  11814.009 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58328.987  63913.753  11814.009 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63913.753  11814.009 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
WELD
    END-POINT  58328.987          63913.753          11812.509  0.5
    END-POINT  58328.987          63913.753          11812.509  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYK                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58328.987          63913.753          11812.509  0.5  BW
    END-POINT  58328.987          63913.753          11810.009  0.5  PL
    SKEY NIPL
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SOCKET-WELD
    END-POINT  58328.987          63913.753          11810.009  0.5  SW FEMALE 
    END-POINT  58328.987          63913.753          11810.009  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYM                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58328.987          63913.753          11810.009  0.5  SW FEMALE 
    END-POINT  58328.987          63913.753          11807.759  0.5  SW FEMALE 
    CENTRE-POINT   58328.987          63913.753          11808.884 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58328.987          63913.753          11807.759  0.5
    END-POINT  58328.987          63913.753          11807.759  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYQ                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58328.987          63913.753          11807.759  0.5  PL
    END-POINT  58328.987          63913.753          11766.468  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYP                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58328.987  63913.753  11784.000  0.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KTB                 
WELD
    END-POINT  58328.987          63913.753          11766.468  0.5
    END-POINT  58328.987          63913.753          11766.468  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KYR                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58327.487          63913.753          11764.968  0.5  BW
    END-POINT  58328.987          63913.753          11766.468  0.5  BW
    CENTRE-POINT   58328.987          63913.753          11764.968 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KQ7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58327.487          63913.753          11764.968  0.5
    END-POINT  58327.487          63913.753          11764.968  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KQE                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58285.487          63913.753          11764.968  0.5  BW
    END-POINT  58327.487          63913.753          11764.968  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KQC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58307.694  63913.753  11764.968 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58285.487          63913.753          11764.968  0.5
    END-POINT  58285.487          63913.753          11764.968  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KQD                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58283.987          63913.753          11763.468  0.5  BW
    END-POINT  58285.487          63913.753          11764.968  0.5  BW
    CENTRE-POINT   58283.987          63913.753          11764.968 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KM7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58283.988          63913.753          11763.468  0.5
    END-POINT  58283.988          63913.753          11763.468  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KQB                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58283.988          63913.753          11742.468  0.5  BW
    END-POINT  58283.988          63913.753          11763.468  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KQ9                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58283.988          63913.753          11742.468  0.5
    END-POINT  58283.988          63913.753          11742.468  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KQA                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58283.988          63915.253          11740.968  0.5  BW
    END-POINT  58283.988          63913.753          11742.468  0.5  BW
    CENTRE-POINT   58283.988          63913.753          11740.968 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58283.988          63915.253          11740.968  0.5
    END-POINT  58283.988          63915.253          11740.968  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJZ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58283.988          63915.253          11740.968  0.5  BW
    END-POINT  58283.988          64047.253          11740.968  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58283.988  64036.753  11740.968  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KT7                 
    TAG                         P624-FIG 2                      
SUPPORT
    CO-ORDS  58283.988  63925.753  11740.968  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KT9                 
    TAG                         P624-FIG 2                      
FLOW-ARROW
    CO-ORDS  58283.988  64000.695  11740.968 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58283.988          64047.253          11740.968  0.5
    END-POINT  58283.988          64047.253          11740.968  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KK0                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58283.988          64048.753          11739.468  0.5  BW
    END-POINT  58283.988          64047.253          11740.968  0.5  BW
    CENTRE-POINT   58283.988          64048.753          11740.968 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58283.988          64048.753          11739.468  0.5
    END-POINT  58283.988          64048.753          11739.468  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJO                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58283.988          64048.753          11739.468  0.5  BW
    END-POINT  58283.988          64048.753          11725.719  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJN                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58283.988          64048.753          11725.719  0.5
    END-POINT  58283.988          64048.753          11725.719  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJP                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58282.488          64048.753          11724.219  0.5  BW
    END-POINT  58283.988          64048.753          11725.719  0.5  BW
    CENTRE-POINT   58283.988          64048.753          11724.219 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJD                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58282.488          64048.753          11724.219  0.5
    END-POINT  58282.488          64048.753          11724.219  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJQ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58282.488          64048.753          11724.219  0.5  BW
    END-POINT  58249.488          64048.753          11724.219  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJF                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58260.800  64048.753  11724.219  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KT5                 
    TAG                         P624-FIG 2                      
WELD
    END-POINT  58249.488          64048.753          11724.219  0.5
    END-POINT  58249.488          64048.753          11724.219  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJH                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58247.988          64047.253          11724.219  0.5  BW
    END-POINT  58249.488          64048.753          11724.219  0.5  BW
    CENTRE-POINT   58247.988          64048.753          11724.219 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58247.988  64048.753  11724.219 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58247.988  64138.748  11724.219 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL. D
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58247.988  64048.753  11724.219 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64048.753  11724.219 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
WELD
    END-POINT  58247.988          64047.253          11724.219  0.5
    END-POINT  58247.988          64047.253          11724.219  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJC                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58247.988          64047.253          11724.219  0.5  BW
    END-POINT  58247.988          64044.253          11724.219  0.5  PL
    SKEY NIPL
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KIZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58247.988          64044.253          11724.219  0.5
    END-POINT  58247.988          64044.253          11724.219  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJ0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58247.988          64044.253          11724.219  0.5
    END-POINT  58247.988          64044.253          11724.219  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KJ1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58247.988          64044.581          11724.219  0.5  FL
    END-POINT  58247.988          64044.253          11724.219  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KIW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58247.988          64044.581          11724.219  0.5
    END-POINT  58247.988          64044.456          11724.219  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KIX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58247.988          64044.581          11724.219 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KIY                 
FLANGE
    END-POINT  58247.988          64044.456          11724.219  0.5  FL
    END-POINT  58247.988          64044.785          11724.219  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KID                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58247.988          64044.785          11724.219  0.5
    END-POINT  58247.988          64044.785          11724.219  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KIE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58247.988          64044.785          11724.219  0.5
    END-POINT  58247.988          64044.785          11724.219  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KIF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58247.988          64042.285          11724.219  0.5  PL
    END-POINT  58247.988          64044.785          11724.219  0.5  PL
    SKEY NIPL
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KIB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58247.988          64042.285          11724.219  0.5
    END-POINT  58247.988          64042.285          11724.219  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KIC                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER FUSION-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58247.988          64042.285          11724.219  0.5  PL
    END-POINT  58247.988          64039.535          11724.219  0.25  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_1
    WEIGHT           0.330
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KI7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SCREWED-WELD
    END-POINT  58247.988          64039.535          11724.219  0.25  SC MALE 
    END-POINT  58247.988          64039.535          11724.219  0.25  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KU6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
NOZZLE
    CO-ORDS  58247.988          64039.535          11724.219  0.25  SC FEMALE 
    CONNECTION-REFERENCE PY3-029$NOZZLE TAG PY3-029-N4$RATING 3000LB
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 200LB, GA-01-ST-300
    RATING 200LB
ITEM-CODE NIPP1/2_1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, BVxPL, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE TEESTR1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxSCM, SCH 40S, ASTM A403 Gr WP304L, MSS SP-95
    RATING 40S
ITEM-CODE GENSTR1/4
    DESCRIPTION FIT-029-01
    RATING 2000LB
ITEM-CODE FLGWNK3/4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR3/4
    DESCRIPTION IN-LINE FILTER, SP-031
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBCL1/2
    CATALOG NON STANDARD
    DESCRIPTION CONTROL VALVE
    RATING 6000LB
ITEM-CODE FLGSLP1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK1/2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE 90LLR1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE SUPRH-1/2
    DESCRIPTION P-615 FIG. 1
ITEM-CODE SUPRH-1/2_1
    DESCRIPTION ROD HANGER, P624-FIG 2, L= 2'-5 3/8", X=6 1/4"
ITEM-CODE SUPRH-1/2_2
    DESCRIPTION ROD HANGER, P624-FIG 2, L= 3'-11 1/2"
ITEM-CODE GAS1/2_1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE NIPP1/2_2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PL, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE FAB SHOP_1
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, PLxSCM, SCH 40S, ASTM A403 Gr WP304L, MSS SP-95
    RATING 40S
