ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223008
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 MS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1223008-MS-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/4/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/11/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/11/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58185.862          64221.978          11619.844  0.75  SC FEMALE 
    END-POINT  58185.862          64221.978          11618.904  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAB                 
    PIPING-SPEC C2
SCREWED-WELD
    END-POINT  58185.862          64221.978          11619.844  0.75  SC FEMALE 
    END-POINT  58185.862          64221.978          11619.844  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58185.862          64221.978          11621.844  0.75  SW MALE 
    END-POINT  58185.862          64221.978          11619.844  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AA9                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58185.862          64221.978          11621.844  0.75  SW MALE 
    END-POINT  58185.862          64221.978          11621.844  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAA                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58185.862          64221.978          11624.219  0.75  SW FEMALE 
    END-POINT  58185.862          64221.978          11621.844  0.75  SW FEMALE 
    CENTRE-POINT   58185.862          64221.978          11623.031 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AA5                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58185.862          64221.978          11624.219  0.75  SW FEMALE 
    END-POINT  58185.862          64221.978          11624.219  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AA6                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58185.862          64221.978          11628.656  0.75  PL
    END-POINT  58185.862          64221.978          11624.219  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AA3                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58185.862          64221.978          11628.656  0.75
    END-POINT  58185.862          64221.978          11628.656  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AA4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58185.862          64221.978          11629.219  1  SW MALE 
    END-POINT  58185.862          64221.978          11628.656  0.75  SW FEMALE 
    CENTRE-POINT  58185.862  64221.978  11628.938 
    SKEY NCSW
    FABRICATION-ITEM
    ITEM-CODE INS1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AA1                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58185.862          64221.978          11629.219  1  SW MALE 
    END-POINT  58185.862          64221.978          11629.219  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AA2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58185.862          64221.978          11630.979  1  SW FEMALE 
    END-POINT  58185.862          64221.978          11629.219  1  SW FEMALE 
    CENTRE-POINT   58185.862          64221.978          11630.099 
    BRANCH1-POINT  58184.982          64221.978          11630.099  1  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9ZP                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58185.862          64221.978          11630.979  1  SW FEMALE 
    END-POINT  58185.862          64221.978          11630.979  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9ZR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58184.982          64221.978          11630.099  1
    END-POINT  58184.982          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0B                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58175.362          64221.978          11630.099  1  PL
    END-POINT  58184.982          64221.978          11630.099  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6V2                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58181.130  64221.978  11630.099  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6WG                 
SOCKET-WELD
    END-POINT  58175.362          64221.978          11630.099  1
    END-POINT  58175.362          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8FM                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58175.362          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58172.362          64221.978          11630.099  1  SW FEMALE 
    CENTRE-POINT   58173.862          64221.978          11630.099 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           8.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6V7                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58172.362          64221.978          11630.099  1
    END-POINT  58172.362          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8TW                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58172.362          64221.978          11630.099  1  PL
    END-POINT  58168.362          64221.978          11630.099  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8TV                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58168.362          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58168.362          64221.978          11630.099  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8TY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58168.172          64221.978          11630.099  1  FL
    END-POINT  58168.362          64221.978          11630.099  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8TX                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58168.047          64221.978          11630.099  1
    END-POINT  58168.172          64221.978          11630.099  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U0                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58168.047          64221.978          11630.099 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U1                 
FLANGE
    END-POINT  58168.047          64221.978          11630.099  1  FL
    END-POINT  58167.857          64221.978          11630.099  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8TZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58167.857          64221.978          11630.099  1
    END-POINT  58167.857          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58167.857          64221.978          11630.099  1  PL
    END-POINT  58163.732          64221.978          11630.099  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U2                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58163.732          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58163.732          64221.978          11630.099  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58163.732          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58161.382          64221.978          11630.099  1  SW FEMALE 
    CENTRE-POINT  58162.557  64221.978  11630.099 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U4                 
    TAG SP-937                          
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58162.715  64221.978  11630.099 
    TEXT SP-937
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58161.382          64221.978          11630.099  1
    END-POINT  58161.382          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58161.382          64221.978          11630.099  1  PL
    END-POINT  58157.257          64221.978          11630.099  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U6                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58157.257          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58157.257          64221.978          11630.099  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58157.067          64221.978          11630.099  1  FL
    END-POINT  58157.257          64221.978          11630.099  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8U8                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58156.942          64221.978          11630.099  1
    END-POINT  58157.067          64221.978          11630.099  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8UB                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58156.942          64221.978          11630.099 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8UC                 
FLANGE
    END-POINT  58156.942          64221.978          11630.099  1  FL
    END-POINT  58156.752          64221.978          11630.099  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8UA                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58156.752          64221.978          11630.099  1
    END-POINT  58156.752          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8UE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58156.752          64221.978          11630.099  1  PL
    END-POINT  58152.752          64221.978          11630.099  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8UD                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58152.752          64221.978          11630.099  1
    END-POINT  58152.752          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8UF                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58152.752          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58149.565          64221.978          11630.099  1  SW FEMALE 
    CENTRE-POINT   58151.159          64221.978          11630.099 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           6.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6VN                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58149.565          64221.978          11630.099  1
    END-POINT  58149.565          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6VQ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58149.565          64221.978          11630.099  1  PL
    END-POINT  58143.940          64221.978          11630.099  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6VP                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58143.940          64221.978          11630.099  1
    END-POINT  58143.940          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6VR                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58140.940          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58143.940          64221.978          11630.099  1  SW FEMALE 
    CENTRE-POINT   58142.440          64221.978          11630.099 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           8.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6UU                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58140.940          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58140.940          64221.978          11630.099  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6UV                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58124.678          64221.978          11630.099  1  PL
    END-POINT  58140.940          64221.978          11630.099  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6US                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58129.059  64221.978  11630.099  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A6J                 
FLOW-ARROW
    CO-ORDS  58134.440  64221.978  11630.099 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58124.678          64221.978          11630.099  1
    END-POINT  58124.678          64221.978          11630.099  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A91                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58124.678          64221.978          11630.099  1  SW FEMALE 
    END-POINT  58123.798          64221.978          11629.219  1  SW FEMALE 
    CENTRE-POINT   58123.798          64221.978          11630.099 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6UF                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58123.798  64221.978  11630.099 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58123.798  64138.748  11630.099 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58123.798  64221.978  11630.099 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64221.978  11630.099 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SOCKET-WELD
    END-POINT  58123.798          64221.978          11629.219  1
    END-POINT  58123.798          64221.978          11629.219  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58123.798          64221.978          11629.219  1  PL
    END-POINT  58123.798          64221.978          11615.974  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0S                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.798          64221.978          11615.974  1
    END-POINT  58123.798          64221.978          11615.974  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0U                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58123.798          64221.978          11615.349  1.5  SW MALE 
    END-POINT  58123.798          64221.978          11615.974  1  SW FEMALE 
    CENTRE-POINT  58123.798  64221.978  11615.661 
    SKEY NCSW
    FABRICATION-ITEM
    ITEM-CODE INST21+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0Q                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.798          64221.978          11615.349  1.5  SW MALE 
    END-POINT  58123.798          64221.978          11615.349  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0R                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58123.798          64221.978          11615.349  1.5  SW FEMALE 
    END-POINT  58123.798          64221.978          11612.849  1.5  SW FEMALE 
    CENTRE-POINT   58123.798          64221.978          11614.099 
    BRANCH1-POINT  58125.048          64221.978          11614.099  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0O                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58123.798          64221.978          11612.849  1.5
    END-POINT  58123.798          64221.978          11612.849  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A6E                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58125.048          64221.978          11614.099  1.5
    END-POINT  58125.048          64221.978          11614.099  1.5  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A92                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58131.218          64221.978          11614.099  1.5  PL
    END-POINT  58125.048          64221.978          11614.099  1.5  PL
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A64                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58129.047  64221.978  11614.099  1.5
    SKEY GUID
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A6L                 
END-CONNECTION-PIPELINE 
    CO-ORDS  58131.218          64221.978          11614.099 
    PIPELINE-REFERENCE ISO-PY3-1223009
PIPE
    END-POINT  58123.798          64221.978          11612.849  1.5  PL
    END-POINT  58123.798          64221.978          11599.349  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A6D                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.798          64221.978          11599.349  1.5
    END-POINT  58123.798          64221.978          11599.349  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A6F                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58123.798          64221.978          11599.349  1.5  SW FEMALE 
    END-POINT  58123.798          64221.978          11596.849  1.5  SW FEMALE 
    CENTRE-POINT   58123.798          64221.978          11598.099 
    BRANCH1-POINT  58125.048          64221.978          11598.099  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0Y                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58123.798          64221.978          11596.849  1.5
    END-POINT  58123.798          64221.978          11596.849  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A95                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58125.048          64221.978          11598.099  1.5
    END-POINT  58125.048          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A93                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58125.048          64221.978          11598.099  1.5  PL
    END-POINT  58131.735          64221.978          11598.099  1.5  PL
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A76                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58129.153  64221.978  11598.099  1.5
    SKEY GUID
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAK                 
END-CONNECTION-PIPELINE 
    CO-ORDS  58131.735          64221.978          11598.099 
    PIPELINE-REFERENCE ISO-PY3-1223010
PIPE
    END-POINT  58123.798          64221.978          11596.849  1.5  PL
    END-POINT  58123.798          64221.978          11583.349  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A94                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.798          64221.978          11583.349  1.5
    END-POINT  58123.798          64221.978          11583.349  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58123.798          64221.978          11583.349  1.5  SW FEMALE 
    END-POINT  58123.798          64221.978          11580.849  1.5  SW FEMALE 
    CENTRE-POINT   58123.798          64221.978          11582.099 
    BRANCH1-POINT  58125.048          64221.978          11582.099  1.5  SW FEMALE 
    SKEY TESW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAE                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58123.798          64221.978          11580.849 
    PIPELINE-REFERENCE ISO-PY3-1223011
PIPE
    END-POINT  58185.862          64221.978          11660.496  1  PL
    END-POINT  58185.862          64221.978          11630.979  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ME                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58185.862          64221.978          11660.496  1
    END-POINT  58185.862          64221.978          11660.496  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58186.742          64221.978          11661.376  1  SW FEMALE 
    END-POINT  58185.862          64221.978          11660.496  1  SW FEMALE 
    CENTRE-POINT   58185.862          64221.978          11661.376 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8J5                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58186.742          64221.978          11661.376  1
    END-POINT  58186.742          64221.978          11661.376  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8J8                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58186.742          64221.978          11661.376  1  PL
    END-POINT  58204.982          64221.978          11661.376  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8J7                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58204.982          64221.978          11661.376  1
    END-POINT  58204.982          64221.978          11661.376  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8J9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.862          64221.978          11662.256  1  SW FEMALE 
    END-POINT  58204.982          64221.978          11661.376  1  SW FEMALE 
    CENTRE-POINT   58205.862          64221.978          11661.376 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8IU                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.862          64221.978          11662.256  1
    END-POINT  58205.862          64221.978          11662.256  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.862          64221.978          11662.256  1  PL
    END-POINT  58205.862          64221.978          11668.496  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MB                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58205.862          64221.978          11668.496  1
    END-POINT  58205.862          64221.978          11668.496  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.862          64221.098          11669.376  1  SW FEMALE 
    END-POINT  58205.862          64221.978          11668.496  1  SW FEMALE 
    CENTRE-POINT   58205.862          64221.978          11669.376 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8IM                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.862          64221.098          11669.376  1  SW FEMALE 
    END-POINT  58205.862          64221.098          11669.376  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8IO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.862          64221.098          11669.376  1  PL
    END-POINT  58205.862          64139.680          11669.376  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6UG                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58205.862  64162.748  11669.376  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6UI                 
SOCKET-WELD
    END-POINT  58205.862          64139.680          11669.376  1  SW FEMALE 
    END-POINT  58205.862          64139.680          11669.376  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6WK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.862          64139.680          11669.376  1  SW FEMALE 
    END-POINT  58205.862          64138.800          11670.256  1  SW FEMALE 
    CENTRE-POINT   58205.862          64138.800          11669.376 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6WI                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.862          64138.800          11670.256  1
    END-POINT  58205.862          64138.800          11670.256  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6WN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.862          64138.800          11739.795  1  PL
    END-POINT  58205.862          64138.800          11670.256  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6WL                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58205.862  64138.800  11700.599 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58205.862          64138.800          11739.795  1
    END-POINT  58205.862          64138.800          11739.795  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6WM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.862          64138.800          11739.795  1  SW FEMALE 
    END-POINT  58206.742          64138.800          11740.675  1  SW FEMALE 
    CENTRE-POINT   58205.862          64138.800          11740.675 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58206.742          64138.800          11740.675  1
    END-POINT  58206.742          64138.800          11740.675  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58206.742          64138.800          11740.675  1  PL
    END-POINT  58276.920          64138.800          11740.675  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FL                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58237.800  64138.800  11740.675  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6WO                 
SOCKET-WELD
    END-POINT  58276.920          64138.800          11740.675  1
    END-POINT  58276.920          64138.800          11740.675  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58276.920          64138.800          11740.675  1  SW FEMALE 
    END-POINT  58277.800          64137.920          11740.675  1  SW FEMALE 
    CENTRE-POINT   58277.800          64138.800          11740.675 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FH                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58277.800          64137.920          11740.675  1
    END-POINT  58277.800          64137.920          11740.675  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58277.800          64137.920          11740.675  1  PL
    END-POINT  58277.800          64055.368          11740.675  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FO                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58277.800  64098.488  11740.675  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6WQ                 
FLOW-ARROW
    CO-ORDS  58277.800  64102.936  11740.675 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58277.800          64055.368          11740.675  1
    END-POINT  58277.800          64055.368          11740.675  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58277.800          64054.488          11741.555  1  SW FEMALE 
    END-POINT  58277.800          64055.368          11740.675  1  SW FEMALE 
    CENTRE-POINT   58277.800          64054.488          11740.675 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FC                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58277.800  64054.488  11740.675 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64054.488  11740.675 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58277.800  64054.488  11740.675 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58277.800  63898.800  11740.675 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL E
SOCKET-WELD
    END-POINT  58277.800          64054.488          11741.555  1
    END-POINT  58277.800          64054.488          11741.555  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58277.800          64054.488          11741.555  1  PL
    END-POINT  58277.800          64054.487          11751.795  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FE                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58277.800          64054.487          11751.795  1
    END-POINT  58277.800          64054.488          11751.795  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58276.920          64054.488          11752.675  1  SW FEMALE 
    END-POINT  58277.800          64054.488          11751.795  1  SW FEMALE 
    CENTRE-POINT   58277.800          64054.488          11752.675 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6F8                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58276.920          64054.488          11752.675  1
    END-POINT  58276.920          64054.488          11752.675  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58276.920          64054.488          11752.675  1  PL
    END-POINT  58270.300          64054.488          11752.675  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJC                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58270.300          64054.488          11752.675  1
    END-POINT  58270.300          64054.488          11752.675  1  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AJE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58268.300  64054.488  11752.675 
    BRANCH1-POINT  58270.300          64054.488          11752.675  1  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6ES                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58268.300  64054.488  11752.675 
    PIPELINE-REFERENCE ISO-PY3-1223004
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE INS1X3/4
    CATALOG ANSI B16.11
    DESCRIPTION REDUCING INSERT, SWMxSWF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPUB-1
    DESCRIPTION U-BOLT SUPPORT, P648 FIG 2
ITEM-CODE VALVGAT3/4
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR1
    DESCRIPTION STEAM TRAP W/INTEGRAL STRAINER, SW, SP-937
    RATING 3000LB
ITEM-CODE VALVCHK3/4
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE SUPUB-1_1
    DESCRIPTION U BOLT SUPPORT P648 FIG 2
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE INST21+1/2X1
    CATALOG ANSI B16.11
    DESCRIPTION REDUCING INSERT, SWMxSWF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPTS-1
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
ITEM-CODE SUPRH-1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=1'-3"
ITEM-CODE SUPRH-1_1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-5 15/16"
