ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215030
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 WTS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1215030-WTS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-047
    ATTRIBUTE21 SG
    ATTRIBUTE22 6/18/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE24 6/18/2009
    ATTRIBUTE25 BL
    ATTRIBUTE26 6/18/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 6/18/2009
    ATTRIBUTE29 J.PHILLIPI
    ATTRIBUTE30 6/18/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 6/18/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57838.947          64174.847          11592.693  6  BW
    END-POINT  57838.947          64174.847          11574.005  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FB4                 
    PIPING-SPEC C1
MESSAGE
    CO-ORDS  57838.947  64174.847  11574.005 
    TEXT TO 6" ABOVE FLOOR
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  57838.947  64174.847  11583.455 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57838.947          64174.847          11592.693  6
    END-POINT  57838.947          64174.847          11592.693  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FB3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57838.947          64174.847          11574.005 
ELBOW
    END-POINT  57847.947          64174.847          11601.693  6  BW
    END-POINT  57838.947          64174.847          11592.693  6  BW
    CENTRE-POINT   57838.947          64174.847          11601.693 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FB1                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57838.947  64174.847  11601.693 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64174.847  11601.693 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57838.947  64174.847  11601.693 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57838.947  64138.748  11601.693 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57847.947          64174.847          11601.693  6
    END-POINT  57847.947          64174.847          11601.693  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FB0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57855.947          64174.847          11601.693  6  BW
    END-POINT  57847.947          64174.847          11601.693  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAX                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  57851.947  64174.847  11601.693  6
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAY                 
SUPPORT
    CO-ORDS  57851.947  64174.847  11601.693  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAZ                 
WELD
    END-POINT  57855.947          64174.847          11601.693  6
    END-POINT  57855.947          64174.847          11601.693  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57859.447          64174.847          11601.693  6  FL
    END-POINT  57855.947          64174.847          11601.693  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAV                 
    PIPING-SPEC C1
GASKET
    END-POINT  57859.447          64174.847          11601.693  6
    END-POINT  57859.509          64174.847          11601.693  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6N                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57859.447          64174.847          11601.693 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6O                 
VALVE-ANGLE
    END-POINT  57866.759          64174.847          11594.693  4  FL
    END-POINT  57859.509          64174.847          11601.693  6  FL
    CENTRE-POINT   57866.759          64174.847          11601.693 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  57866.759          64174.847          11594.693 
    PIPELINE-REFERENCE ISO-PY3-2047009
MATERIALS
ITEM-CODE PIP6
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE 90LLR6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPUB-6
    DESCRIPTION U BOLD ANCHOR, P627 FIG 1
ITEM-CODE SUPLTR6
    DESCRIPTION ANGLE STEEL, H=5'-3 3/4", W=6", P613 FIG1
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
