ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214026
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 ROW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214026-ROW-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  57838.425          64208.687          12073.586  0.5  SC FEMALE 
    END-POINT  57838.425          64208.687          12074.336  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GNY                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  57838.425          64208.687          12074.336 
SCREWED-WELD
    END-POINT  57838.425          64208.687          12073.586  0.5  SC FEMALE 
    END-POINT  57838.425          64208.687          12073.586  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GNZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57838.425          64208.687          12069.586  0.5  PL
    END-POINT  57838.425          64208.687          12073.586  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO0                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57838.425          64208.687          12069.586  0.5
    END-POINT  57838.425          64208.687          12069.586  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57838.425          64208.687          12067.906  0.5  SW FEMALE 
    END-POINT  57838.425          64208.687          12069.586  0.5  SW FEMALE 
    CENTRE-POINT   57838.425          64208.687          12068.791 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO2                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57838.425          64208.687          12067.906  0.5  SW FEMALE 
    END-POINT  57838.425          64208.687          12067.906  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57838.425          64208.687          12064.496  0.5  BW
    END-POINT  57838.425          64208.687          12067.906  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO5                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57838.425          64208.687          12064.496  0.5
    END-POINT  57838.425          64208.687          12064.496  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO6                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57838.425          64210.937          12062.246  1.5  BW
    END-POINT  57838.425          64206.437          12062.246  1.5  BW
    CENTRE-POINT   57838.425          64208.687          12062.246 
    BRANCH1-POINT  57838.425          64208.687          12064.496  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO7                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57838.425          64210.937          12062.246  1.5
    END-POINT  57838.425          64210.937          12062.246  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57838.425          64206.437          12062.246  1.5
    END-POINT  57838.425          64206.437          12062.246  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GO9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57838.425          64206.437          12062.246  1.5  BW
    END-POINT  57838.425          64117.998          12062.246  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOA                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57838.425  64139.007  12062.246  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOB                 
WELD
    END-POINT  57838.425          64117.998          12062.246  1.5
    END-POINT  57838.425          64117.998          12062.246  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57838.425          64117.998          12062.246  1.5  BW
    END-POINT  57838.425          64115.748          12059.996  1.5  BW
    CENTRE-POINT   57838.425          64115.748          12062.246 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57838.425          64115.748          12059.996  1.5
    END-POINT  57838.425          64115.748          12059.996  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57838.425          64115.748          12046.496  1.5  BW
    END-POINT  57838.425          64115.748          12059.996  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57838.425          64115.748          12046.496  1.5
    END-POINT  57838.425          64115.748          12046.496  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57838.425          64115.748          12046.496  1.5  BW
    END-POINT  57836.175          64115.748          12044.246  1.5  BW
    CENTRE-POINT   57838.425          64115.748          12044.246 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57836.175          64115.748          12044.246  1.5
    END-POINT  57836.175          64115.748          12044.246  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57836.175          64115.748          12044.246  1.5  BW
    END-POINT  57787.562          64115.748          12044.246  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOJ                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57813.113  64115.748  12044.246 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57787.562          64115.748          12044.246  1.5
    END-POINT  57787.562          64115.748          12044.246  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57787.562          64115.748          12044.246  1.5  BW
    END-POINT  57785.312          64115.748          12041.996  1.5  BW
    CENTRE-POINT   57785.312          64115.748          12044.246 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57785.312          64115.748          12041.996  1.5
    END-POINT  57785.312          64115.748          12041.996  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GON                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57785.312          64115.748          11643.891  1.5  BW
    END-POINT  57785.312          64115.748          12041.996  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOO                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57785.312  64115.748  11920.285  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOP                 
SUPPORT
    CO-ORDS  57785.312  64115.748  11776.623  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOQ                 
FLOW-ARROW
    CO-ORDS  57785.312  64115.748  11660.343 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57785.312  64116.748  11776.623  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOS                 
SUPPORT
    CO-ORDS  57785.312  64116.723  11920.285  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOT                 
WELD
    END-POINT  57785.312          64115.748          11643.891  1.5
    END-POINT  57785.312          64115.748          11643.891  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57785.312          64115.748          11643.891  1.5  BW
    END-POINT  57783.062          64115.748          11641.641  1.5  BW
    CENTRE-POINT   57785.312          64115.748          11641.641 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57783.062          64115.748          11641.641  1.5
    END-POINT  57783.062          64115.748          11641.641  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57757.316          64115.748          11641.641  1.5  BW
    END-POINT  57783.062          64115.748          11641.641  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57757.316          64115.748          11641.641  1.5
    END-POINT  57757.316          64115.748          11641.641  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57757.316          64115.748          11641.641  1.5  BW
    END-POINT  57755.066          64115.748          11639.391  1.5  BW
    CENTRE-POINT   57755.066          64115.748          11641.641 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GOZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57755.066          64115.748          11639.391  1.5
    END-POINT  57755.066          64115.748          11639.391  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57755.066          64115.748          11639.391  1.5  BW
    END-POINT  57755.066          64115.748          11625.891  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP1                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57755.066          64115.748          11625.891  1.5
    END-POINT  57755.066          64115.748          11625.891  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57755.066          64115.748          11625.891  1.5  BW
    END-POINT  57755.066          64117.998          11623.641  1.5  BW
    CENTRE-POINT   57755.066          64115.748          11623.641 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP3                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57755.066          64117.998          11623.641  1.5
    END-POINT  57755.066          64117.998          11623.641  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57755.066          64181.250          11623.641  1.5  BW
    END-POINT  57755.066          64117.998          11623.641  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP5                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57755.066  64168.500  11623.641  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP6                 
FLOW-ARROW
    CO-ORDS  57755.066  64147.104  11623.641 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57755.066  64168.500  11622.641  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP8                 
WELD
    END-POINT  57755.066          64181.250          11623.641  1.5
    END-POINT  57755.066          64181.250          11623.641  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GP9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57755.066          64181.250          11623.641  1.5  BW
    END-POINT  57755.066          64183.500          11621.391  1.5  BW
    CENTRE-POINT   57755.066          64183.500          11623.641 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57755.066  64183.500  11623.641 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64183.500  11623.641 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57755.066          64183.500          11621.391  1.5
    END-POINT  57755.066          64183.500          11621.391  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57755.066          64183.500          11621.391  1.5  BW
    END-POINT  57755.066          64183.500          11527.188  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPD                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57755.066          64183.500          11527.188  1.5
    END-POINT  57755.066          64183.500          11527.188  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57755.066          64183.500          11527.188  1.5  BW
    END-POINT  57752.816          64183.500          11524.938  1.5  BW
    CENTRE-POINT   57755.066          64183.500          11524.938 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPF                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57755.066  64183.500  11524.938 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57755.066  64138.800  11524.938 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57752.816          64183.500          11524.938  1.5
    END-POINT  57752.816          64183.500          11524.938  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57691.316          64183.500          11524.938  1.5  BW
    END-POINT  57752.816          64183.500          11524.938  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPI                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57737.994  64183.500  11524.938  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPJ                 
SUPPORT
    CO-ORDS  57737.994  64183.500  11524.938  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPK                 
FLOW-ARROW
    CO-ORDS  57717.209  64183.500  11524.938 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57691.316          64183.500          11524.938  1.5
    END-POINT  57691.316          64183.500          11524.938  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57691.316          64183.500          11524.938  1.5  BW
    END-POINT  57689.066          64183.500          11522.688  1.5  BW
    CENTRE-POINT   57689.066          64183.500          11524.938 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57689.066          64183.500          11522.688  1.5
    END-POINT  57689.066          64183.500          11522.688  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57689.066          64183.500          11522.688  1.5  BW
    END-POINT  57689.066          64183.500          11503.009  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPP                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57689.066          64183.500          11503.009  1.5
    END-POINT  57689.066          64183.500          11503.009  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57689.066          64183.500          11503.009  1.5
    END-POINT  57689.066          64183.500          11503.009  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57689.066          64183.500          11502.801  1.5  FL
    END-POINT  57689.066          64183.500          11503.009  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPS                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  57689.066  64183.500  11502.801 
    TEXT TP$085
    UNDIMENSIONED
GASKET
    END-POINT  57689.066          64183.500          11502.801  1.5
    END-POINT  57689.066          64183.500          11502.676  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPU                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57689.066          64183.500          11502.676  1.5  FL
    END-POINT  57689.066          64183.500          11502.469  1.5  BW
    SKEY FLSO
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPW                 
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57689.066          64183.500          11502.469 
ELBOW
    END-POINT  57838.425          64213.187          12059.996  1.5  BW
    END-POINT  57838.425          64210.937          12062.246  1.5  BW
    CENTRE-POINT   57838.425          64213.187          12062.246 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57838.425  64211.187  12062.246 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64211.187  12062.246 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57838.425          64213.187          12059.996  1.5
    END-POINT  57838.425          64213.187          12059.996  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GPZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57838.425          64213.187          12059.996  1.5  BW
    END-POINT  57838.425          64213.187          12044.624  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQ0                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57838.425  64213.187  12053.832 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57838.425          64213.187          12044.624  1.5
    END-POINT  57838.425          64213.187          12044.624  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQ2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57840.675          64213.187          12042.374  1.5  BW
    END-POINT  57838.425          64213.187          12044.624  1.5  BW
    CENTRE-POINT   57838.425          64213.187          12042.374 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQ3                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57838.425  64213.187  12042.374 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57838.425  64138.800  12042.374 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57840.675          64213.187          12042.374  1.5
    END-POINT  57840.675          64213.187          12042.374  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQ5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57962.940          64213.187          12042.374  1.5  BW
    END-POINT  57840.675          64213.187          12042.374  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQ6                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57910.821  64213.187  12042.374  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQ7                 
WELD
    END-POINT  57962.940          64213.187          12042.374  1.5
    END-POINT  57962.940          64213.187          12042.374  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQ8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57965.190          64213.187          12040.124  1.5  BW
    END-POINT  57962.940          64213.187          12042.374  1.5  BW
    CENTRE-POINT   57965.190          64213.187          12042.374 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQ9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57965.190          64213.187          12040.124  1.5
    END-POINT  57965.190          64213.187          12040.124  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.190          64213.187          11985.032  1.5  PL
    END-POINT  57965.190          64213.187          12040.124  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQB                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57965.190  64213.187  12009.737 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57965.190          64213.187          11985.032  1.5
    END-POINT  57965.190          64213.187          11985.032  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57965.190          64213.187          11985.032  1.5
    END-POINT  57965.190          64213.187          11985.032  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57965.190          64213.187          11984.825  1.5  FL
    END-POINT  57965.190          64213.187          11985.032  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQF                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57965.190          64213.187          11984.825  1.5
    END-POINT  57965.190          64213.187          11984.700  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57965.190          64213.187          11984.700 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQH                 
VALVE
    END-POINT  57965.190          64213.187          11978.200  1.5  FL
    END-POINT  57965.190          64213.187          11984.700  1.5  FL
    CENTRE-POINT   57965.190          64213.187          11981.450 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB1+1/2
    WEIGHT          20.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQI                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57965.190          64213.187          11978.200  1.5
    END-POINT  57965.190          64213.187          11978.075  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57965.190          64213.187          11978.075 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQL                 
FLANGE
    END-POINT  57965.190          64213.187          11978.075  1.5  FL
    END-POINT  57965.190          64213.187          11975.635  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQM                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57965.190          64213.187          11975.635  1.5
    END-POINT  57965.190          64213.187          11975.635  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57965.190          64215.437          11973.385  1.5  BW
    END-POINT  57965.190          64213.187          11975.635  1.5  BW
    CENTRE-POINT   57965.190          64213.187          11973.385 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57965.190          64215.437          11973.385  1.5
    END-POINT  57965.190          64215.437          11973.385  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.190          64235.521          11973.385  1.5  BW
    END-POINT  57965.190          64215.437          11973.385  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQQ                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57965.190  64221.251  11973.385 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57965.190  64216.999  11973.385  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQS                 
WELD
    END-POINT  57965.190          64235.521          11973.385  1.5
    END-POINT  57965.190          64235.521          11973.385  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57965.190          64235.521          11973.385  1.5  BW
    END-POINT  57967.440          64237.771          11973.385  1.5  BW
    CENTRE-POINT   57965.190          64237.771          11973.385 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQU                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57967.440          64237.771          11973.385  1.5
    END-POINT  57967.440          64237.771          11973.385  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.715          64237.771          11973.385  1.5  BW
    END-POINT  57967.440          64237.771          11973.385  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQW                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57984.137  64237.771  11973.385 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58012.715          64237.771          11973.385  1.5
    END-POINT  58012.715          64237.771          11973.385  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58012.715          64237.771          11973.385  1.5  BW
    END-POINT  58014.965          64237.771          11971.135  1.5  BW
    CENTRE-POINT   58014.965          64237.771          11973.385 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GQZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58014.965          64237.771          11971.135  1.5
    END-POINT  58014.965          64237.771          11971.135  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GR0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58014.965          64237.771          11968.695  1.5  FL
    END-POINT  58014.965          64237.771          11971.135  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GR1                 
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58014.965          64237.771          11968.695 
MATERIALS
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x4" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 4"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION STANDARD U BOLT SUPPORT, P651 FIG1
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1+1/2_1
    DESCRIPTION STANDARD U BOLT SUPPORT, P651 FIG 1
ITEM-CODE SUPLTR1+1/2
    DESCRIPTION ANGLE STEEL, L=2', P629 FIG 8
ITEM-CODE SUPLTR1+1/2_1
    DESCRIPTION ANGLE STEEL, L=1'-10", P629 FIG 9
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, L=1'-6 9/16", P624 FIG 3
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION PIPE INSULATION PROTECTION SADDLE, P651 FIG 2
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION GENERAL HANGER, L=7'-3 3/16", P624 FIG 4
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVGLB1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION STANCHION BASE SUPPORT, L=3'-9 3/8", P619 FIG 1
