ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223003
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 PML
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1223003-PML-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/9/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/30/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/2/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58233.237          64105.681          11597.225  2  FL
    END-POINT  58233.237          64105.681          11599.725  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2Y                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58233.237          64105.681          11597.225  2
    END-POINT  58233.237          64105.681          11597.100  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2Z                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
WELD
    END-POINT  58233.237          64105.681          11599.725  2
    END-POINT  58233.237          64105.681          11599.725  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_G                   
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58233.237          64105.681          11597.100  2  FL
    END-POINT  58233.237          64105.681          11590.100  2  FL
    CENTRE-POINT   58233.237          64105.681          11593.600 
    SKEY VBFL
    CONTINUATION 
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_31                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
END-CONNECTION-PIPELINE 
    CO-ORDS  58233.237          64105.681          11590.100 
    PIPELINE-REFERENCE ISO-PY3-1223024
TEE
    END-POINT  58233.237          64105.681          11599.725  2  BW
    END-POINT  58233.237          64105.681          11604.725  2  BW
    CENTRE-POINT   58233.237          64105.681          11602.225 
    BRANCH1-POINT  58233.237          64108.181          11602.225  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_F                   
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58233.237          64105.681          11604.725  2
    END-POINT  58233.237          64105.681          11604.725  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_E                   
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58233.237          64108.181          11602.225  2
    END-POINT  58233.237          64108.181          11602.225  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_H                   
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58233.237          64117.689          11602.225  2  BW
    END-POINT  58233.237          64108.181          11602.225  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I                   
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58233.237          64117.689          11602.225  2
    END-POINT  58233.237          64117.689          11602.225  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_J                   
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58233.237          64117.689          11602.225  2  BW
    END-POINT  58233.237          64120.689          11599.225  2  BW
    CENTRE-POINT   58233.237          64120.689          11602.225 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_K                   
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58233.237  64120.689  11602.225 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64120.689  11602.225 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58233.237  64120.689  11602.225 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58233.237  64138.748  11602.225 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58233.237          64120.689          11599.225  2
    END-POINT  58233.237          64120.689          11599.225  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_N                   
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58233.237          64120.689          11596.725  2  FL
    END-POINT  58233.237          64120.689          11599.225  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_O                   
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58233.237          64120.689          11596.725  2
    END-POINT  58233.237          64120.689          11596.600  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_P                   
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
VALVE
    END-POINT  58233.237          64120.689          11596.600  2  FL
    END-POINT  58233.237          64120.689          11589.600  2  FL
    CENTRE-POINT   58233.237          64120.689          11593.100 
    SKEY VBFL
    CONTINUATION 
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_R                   
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
END-CONNECTION-PIPELINE 
    CO-ORDS  58233.237          64120.689          11589.600 
    PIPELINE-REFERENCE ISO-PY3-1223021
PIPE
    END-POINT  58233.237          64105.681          11621.102  2  BW
    END-POINT  58233.237          64105.681          11604.725  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_C                   
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58233.237  64105.681  11612.391 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58233.237          64105.681          11621.102  2
    END-POINT  58233.237          64105.681          11621.102  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_B                   
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58233.237          64105.681          11621.102  2  BW
    END-POINT  58236.015          64106.812          11624.102  2  BW
    CENTRE-POINT   58233.237          64105.681          11624.102 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_A                   
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58236.015          64106.812          11624.102  2
    END-POINT  58236.015          64106.812          11624.102  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_9                   
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58236.015          64106.812          11624.102  2  BW
    END-POINT  58245.209          64110.557          11624.102  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_8                   
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58245.209          64110.557          11624.102  2
    END-POINT  58245.209          64110.557          11624.102  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_7                   
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58247.988          64111.689          11627.102  2  BW
    END-POINT  58245.209          64110.557          11624.102  2  BW
    CENTRE-POINT   58247.988          64111.689          11624.102 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_6                   
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58247.988          64111.689          11627.102  2
    END-POINT  58247.988          64111.689          11627.102  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZP                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58247.988          64111.689          11629.602  2  FL
    END-POINT  58247.988          64111.689          11627.102  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZG                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58247.988          64111.689          11629.602  2
    END-POINT  58247.988          64111.689          11629.727  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZH                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58247.988          64111.689          11629.602 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZI                  
VALVE-ANGLE
    END-POINT  58247.988          64110.098          11639.193  2  FL
    END-POINT  58247.988          64111.689          11629.727  2  FL
    CENTRE-POINT   58247.988          64111.689          11637.602 
    SKEY AVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZB                  
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58247.988  64111.689  11637.602 
    TEXT FV$013$17
    UNDIMENSIONED
GASKET
    END-POINT  58247.988          64110.098          11639.193  2
    END-POINT  58247.988          64110.010          11639.282  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZS                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58247.988          64110.098          11639.193 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZT                  
END-POSITION-OPEN 
    CO-ORDS  58247.988          64110.010          11639.282 
MATERIALS
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
