ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2051006
PIPING-SPEC S11
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 PW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2051006-PW-S11
    ATTRIBUTE95 I1
    ATTRIBUTE94 S11
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-051
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57522.018          64017.800          11496.133  2  PL
    END-POINT  57522.018          64017.800          11494.397  2  FL
    SKEY FLFL
    FABRICATION-ITEM
    ITEM-CODE FLG5952
    WEIGHT           5.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IS6                 
    PIPING-SPEC S11
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57522.018          64017.800          11494.397 
PIPE
    END-POINT  57522.018          64017.800          11496.133  2  PL
    END-POINT  57522.018          64017.800          11503.635  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IS5                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  57528.333          64017.800          11509.950  2  PL
    END-POINT  57522.018          64017.800          11503.635  2  PL
    CENTRE-POINT   57522.018          64017.800          11509.950 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IS4                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  57778.997          64017.800          11509.950  2  PL
    END-POINT  57528.333          64017.800          11509.950  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IS1                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  57738.214  64017.800  11509.950  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IS2                 
SUPPORT
    CO-ORDS  57616.286  64017.800  11509.950  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IS3                 
ELBOW
    END-POINT  57785.312          64017.800          11516.265  2  PL
    END-POINT  57778.997          64017.800          11509.950  2  PL
    CENTRE-POINT   57785.312          64017.800          11509.950 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IS0                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  57785.312          64017.800          11516.265  2  PL
    END-POINT  57785.312          64017.800          11810.345  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRW                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  57785.312  64017.800  11774.454  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRX                 
SUPPORT
    CO-ORDS  57785.312  64017.800  11558.789  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRY                 
FLOW-ARROW
    CO-ORDS  57785.312  64017.800  11745.477 
    FLOW 1
    SKEY FLOW
FILTER
    END-POINT  57785.312          64017.800          11810.345  2  PL
    END-POINT  57785.312          64017.800          11810.535  2  PL
    SKEY FIPL
    ERECTION-ITEM
    ITEM-CODE CPL5972
    WEIGHT           0.730
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRV                 
    PIPING-SPEC S11
    INSULATION-ON 
VALVE
    END-POINT  57785.312          64017.800          11810.535  2  PL
    END-POINT  57785.312          64017.800          11823.055  2  PL
    CENTRE-POINT   57785.312          64017.800          11816.795 
    SKEY VBPL
    FABRICATION-ITEM
    ITEM-CODE VALV5692
    WEIGHT           9.500
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRT                 
    PIPING-SPEC S11
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
FILTER
    END-POINT  57785.312          64017.800          11823.055  2  PL
    END-POINT  57785.312          64017.800          11823.245  2  PL
    SKEY FIPL
    ERECTION-ITEM
    ITEM-CODE CPL5972
    WEIGHT           0.730
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRS                 
    PIPING-SPEC S11
    INSULATION-ON 
PIPE
    END-POINT  57785.312          64017.800          11823.245  2  PL
    END-POINT  57785.312          64017.800          11874.860  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRR                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  57791.627          64017.800          11881.175  2  PL
    END-POINT  57785.312          64017.800          11874.860  2  PL
    CENTRE-POINT   57785.312          64017.800          11881.175 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRQ                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  57791.627          64017.800          11881.175  2  PL
    END-POINT  57828.057          64017.800          11881.175  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRO                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  57814.778  64017.800  11881.175  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRP                 
ELBOW
    END-POINT  57835.133          64014.869          11881.175  2  PL
    END-POINT  57828.057          64017.800          11881.175  2  PL
    CENTRE-POINT   57832.202          64017.800          11881.175 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 45L5912
    WEIGHT           1.970
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRN                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 4500
PIPE
    END-POINT  57845.626          64004.220          11881.175  2  PL
    END-POINT  57835.145          64014.880          11881.175  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KG9                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  57852.713          64001.300          11881.175  2  PL
    END-POINT  57845.637          64004.231          11881.175  2  PL
    CENTRE-POINT   57848.568          64001.300          11881.175 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 45L5912
    WEIGHT           1.970
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KG5                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 4500
PIPE
    END-POINT  57852.713          64001.300          11881.175  2  PL
    END-POINT  58023.398          64001.300          11881.175  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRI                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58018.734  64001.300  11881.175  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRJ                 
SUPPORT
    CO-ORDS  57905.241  64001.300  11881.175  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRK                 
ELBOW
    END-POINT  58029.713          64001.300          11887.490  2  PL
    END-POINT  58023.398          64001.300          11881.175  2  PL
    CENTRE-POINT   58029.713          64001.300          11881.175 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRG                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58029.713  64001.300  11881.175 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58029.713  63898.800  11881.175 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
PIPE
    END-POINT  58029.713          64001.300          11887.490  2  PL
    END-POINT  58029.713          64001.300          11892.608  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRF                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58029.713          64007.615          11898.923  2  PL
    END-POINT  58029.713          64001.300          11892.608  2  PL
    CENTRE-POINT   58029.713          64001.300          11898.923 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRD                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58029.713  64001.300  11898.923 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64001.300  11898.923 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
PIPE
    END-POINT  58029.713          64007.615          11898.923  2  PL
    END-POINT  58029.713          64145.695          11898.923  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRB                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58029.713  64085.780  11898.923  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRC                 
TEE
    END-POINT  58029.713          64147.505          11897.408  2  PL
    END-POINT  58029.713          64147.505          11900.438  2  PL
    CENTRE-POINT   58029.713          64147.505          11898.923 
    BRANCH1-POINT  58029.713          64145.695          11898.923  2  PL
    SKEY TEPL
    FABRICATION-ITEM
    ITEM-CODE TEE5922
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IRA                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58029.713          64147.505          11941.503  2  PL
    END-POINT  58029.713          64147.505          11900.438  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR6                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58029.713  64147.505  11927.986  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_5
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR7                 
FLOW-ARROW
    CO-ORDS  58029.713  64147.505  11918.536 
    FLOW 2
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58029.713  64147.505  11923.264 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58029.713  64147.505  11923.264 
    TEXT Grate Opening
    UNDIMENSIONED
FILTER
    END-POINT  58029.713          64147.505          11941.693  2  PL
    END-POINT  58029.713          64147.505          11941.503  2  PL
    SKEY FIPL
    ERECTION-ITEM
    ITEM-CODE CPL5972_1
    WEIGHT           0.730
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR5                 
    PIPING-SPEC S11
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58029.713          64147.505          11941.693  2  PL
    END-POINT  58029.713          64147.505          11946.573  1.5  PL
    SKEY RCPL
    FABRICATION-ITEM
    ITEM-CODE RED5942X1+1/2
    WEIGHT           0.680
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR4                 
    PIPING-SPEC S11
    INSULATION-ON 
FILTER
    END-POINT  58029.713          64147.505          11946.723  1.5  PL
    END-POINT  58029.713          64147.505          11946.573  1.5  PL
    SKEY FIPL
    ERECTION-ITEM
    ITEM-CODE CPL5971+1/2
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR3                 
    PIPING-SPEC S11
    INSULATION-ON 
PIPE
    END-POINT  58029.713          64147.505          12027.658  1.5  PL
    END-POINT  58029.713          64147.505          11946.723  1.5  PL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR2                 
    PIPING-SPEC S11
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58029.713          64147.505          12027.658 
    PIPELINE-REFERENCE ISO-PY3-2051018
PIPE
    END-POINT  58029.713          64147.505          11897.408  2  PL
    END-POINT  58029.713          64147.505          11881.968  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IS9                 
    PIPING-SPEC S11
    INSULATION-ON 
TEE
    END-POINT  58029.713          64147.505          11881.968  2  PL
    END-POINT  58029.713          64147.505          11878.938  2  PL
    CENTRE-POINT   58029.713          64147.505          11880.452 
    BRANCH1-POINT  58029.713          64149.125          11880.452  1.5  PL
    SKEY TEPL
    FABRICATION-ITEM
    ITEM-CODE TEE5932X1+1/2
    WEIGHT           1.250
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISA                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58029.713          64156.030          11880.452  1.5  PL
    END-POINT  58029.713          64149.125          11880.452  1.5  PL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISB                 
    PIPING-SPEC S11
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58029.713          64156.030          11880.452 
    PIPELINE-REFERENCE ISO-PY3-2051017
PIPE
    END-POINT  58029.713          64147.505          11775.818  2  PL
    END-POINT  58029.713          64147.505          11878.938  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISS                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58029.713  64147.505  11783.997  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_5
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IST                 
FLOOR-SYMBOL 
    CO-ORDS  58029.713  64147.505  11781.977 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58029.713  64147.505  11781.977 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58029.713  64147.505  11808.976 
    FLOW 2
    SKEY FLOW
ELBOW
    END-POINT  58029.713          64147.505          11775.818  2  PL
    END-POINT  58029.713          64150.436          11768.742  2  PL
    CENTRE-POINT   58029.713          64147.505          11771.673 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 45L5912
    WEIGHT           1.970
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISW                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58029.713  64147.505  11771.673 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58029.713  64138.748  11771.673 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
PIPE
    END-POINT  58029.713          64150.436          11768.742  2  PL
    END-POINT  58029.713          64156.040          11763.138  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISY                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58036.028          64160.505          11758.673  2  PL
    END-POINT  58029.713          64156.040          11763.138  2  PL
    CENTRE-POINT   58029.713          64160.505          11758.673 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISZ                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58036.028          64160.505          11758.673  2  PL
    END-POINT  58042.306          64160.505          11758.673  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IT0                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58048.621          64160.505          11752.358  2  PL
    END-POINT  58042.306          64160.505          11758.673  2  PL
    CENTRE-POINT   58048.621          64160.505          11758.673 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IT1                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58048.621  64160.505  11758.673 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64160.505  11758.673 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
PIPE
    END-POINT  58048.621          64160.505          11685.987  2  PL
    END-POINT  58048.621          64160.505          11752.358  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IT3                 
    PIPING-SPEC S11
    INSULATION-ON 
TEE
    END-POINT  58048.621          64160.505          11682.958  2  PL
    END-POINT  58048.621          64160.505          11685.987  2  PL
    CENTRE-POINT   58048.621          64160.505          11684.473 
    BRANCH1-POINT  58047.001          64160.505          11684.473  1.5  PL
    SKEY TEPL
    FABRICATION-ITEM
    ITEM-CODE TEE5932X1+1/2
    WEIGHT           1.250
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IT4                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58038.030          64160.505          11684.473  1.5  PL
    END-POINT  58047.001          64160.505          11684.473  1.5  PL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IT5                 
    PIPING-SPEC S11
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.030          64160.505          11684.473 
    PIPELINE-REFERENCE ISO-PY3-2051016
PIPE
    END-POINT  58048.621          64160.505          11474.765  2  PL
    END-POINT  58048.621          64160.505          11682.958  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITI                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58048.621  64160.505  11675.979  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_5
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 29 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITJ                 
FLOOR-SYMBOL 
    CO-ORDS  58048.621  64160.505  11670.776 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58048.621  64160.505  11670.776 
    TEXT Grate Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58048.621  64160.505  11568.005  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_6
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITL                 
FLOOR-SYMBOL 
    CO-ORDS  58048.621  64160.505  11564.380 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58048.621  64160.505  11564.380 
    TEXT Grate Opening
    UNDIMENSIONED
ELBOW
    END-POINT  58048.621          64160.505          11474.765  2  PL
    END-POINT  58054.936          64160.505          11468.450  2  PL
    CENTRE-POINT   58048.621          64160.505          11468.450 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITN                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58133.235          64160.505          11468.450  2  PL
    END-POINT  58054.936          64160.505          11468.450  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITO                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58133.235          64160.505          11468.450  2  PL
    END-POINT  58139.550          64160.505          11462.135  2  PL
    CENTRE-POINT   58139.550          64160.505          11468.450 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITP                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58139.550  64160.505  11468.450 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58139.550  64138.748  11468.450 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
PIPE
    END-POINT  58139.550          64160.505          11456.501  2  PL
    END-POINT  58139.550          64160.505          11462.135  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITR                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58139.550          64160.505          11456.501  2  PL
    END-POINT  58139.550          64154.190          11450.186  2  PL
    CENTRE-POINT   58139.550          64160.505          11450.186 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5902
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITS                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58139.550  64160.505  11450.186 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64160.505  11450.186 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL 2
PIPE
    END-POINT  58139.550          64154.190          11450.186  2  PL
    END-POINT  58139.550          64092.315          11450.186  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITU                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58139.550  64139.886  11450.186  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITV                 
FLOW-ARROW
    CO-ORDS  58139.550  64125.957  11450.186 
    FLOW 1
    SKEY FLOW
TEE
    END-POINT  58139.550          64092.315          11450.186  2  PL
    END-POINT  58139.550          64089.285          11450.186  2  PL
    CENTRE-POINT   58139.550          64090.800          11450.186 
    BRANCH1-POINT  58140.695          64090.800          11451.331  1.5  PL
    SKEY TEPL
    FABRICATION-ITEM
    ITEM-CODE TEE5932X1+1/2
    WEIGHT           1.250
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITX                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58140.695          64090.800          11451.331  1.5  PL
    END-POINT  58144.874          64090.800          11455.510  1.5  PL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ITY                 
    PIPING-SPEC S11
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58144.874          64090.800          11455.510 
    PIPELINE-REFERENCE ISO-PY3-2051026
PIPE
    END-POINT  58139.550          64089.285          11450.186  2  PL
    END-POINT  58139.550          63970.091          11450.186  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUD                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58139.550  64043.609  11450.186  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-2_4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUE                 
FLOW-ARROW
    CO-ORDS  58139.550  64064.941  11450.186 
    FLOW 1
    SKEY FLOW
FILTER
    END-POINT  58139.550          63970.091          11450.186  2  PL
    END-POINT  58139.550          63969.901          11450.186  2  PL
    SKEY FIPL
    ERECTION-ITEM
    ITEM-CODE CPL5972_1
    WEIGHT           0.730
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUG                 
    PIPING-SPEC S11
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58139.550          63969.901          11450.186  2  PL
    END-POINT  58139.550          63965.021          11450.186  1.5  PL
    SKEY RCPL
    FABRICATION-ITEM
    ITEM-CODE RED5942X1+1/2
    WEIGHT           0.680
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUH                 
    PIPING-SPEC S11
    INSULATION-ON 
FILTER
    END-POINT  58139.550          63965.021          11450.186  1.5  PL
    END-POINT  58139.550          63964.871          11450.186  1.5  PL
    SKEY FIPL
    ERECTION-ITEM
    ITEM-CODE CPL5971+1/2_1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUI                 
    PIPING-SPEC S11
    INSULATION-ON 
PIPE
    END-POINT  58139.550          63964.871          11450.186  1.5  PL
    END-POINT  58139.550          63940.597          11450.186  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUJ                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58139.550          63940.597          11450.186  1.5  PL
    END-POINT  58139.550          63935.367          11444.956  1.5  PL
    CENTRE-POINT   58139.550          63935.367          11450.186 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUK                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58139.550  63935.367  11450.186 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63935.367  11450.186 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY BLD4
    MESSAGE
    TEXT COL. F
PIPE
    END-POINT  58139.550          63935.367          11444.956  1.5  PL
    END-POINT  58139.550          63935.367          11394.232  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUM                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58139.550          63935.367          11394.232  1.5  PL
    END-POINT  58144.780          63935.367          11389.002  1.5  PL
    CENTRE-POINT   58139.550          63935.367          11389.002 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUN                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58139.550  63935.367  11389.002 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58139.550  63898.800  11389.002 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL E
PIPE
    END-POINT  58184.570          63935.367          11389.002  1.5  PL
    END-POINT  58144.780          63935.367          11389.002  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUP                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58152.300  63935.367  11389.002  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUQ                 
FLOOR-SYMBOL 
    CO-ORDS  58158.503  63935.367  11389.002 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58158.503  63935.367  11389.002 
    TEXT Wall Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58168.629  63935.367  11389.002 
    FLOW 2
    SKEY FLOW
ELBOW
    END-POINT  58184.570          63935.367          11389.002  1.5  PL
    END-POINT  58189.800          63939.065          11385.304  1.5  PL
    CENTRE-POINT   58189.800          63935.367          11389.002 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUT                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58189.800          63942.348          11382.022  1.5  PL
    END-POINT  58189.800          63939.065          11385.304  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUU                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58189.800          63942.348          11382.022  1.5  PL
    END-POINT  58189.800          63948.322          11379.547  1.5  PL
    CENTRE-POINT   58189.800          63944.822          11379.547 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 45L5911+1/2
    WEIGHT           1.270
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUV                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 4500
PIPE
    END-POINT  58189.800          63948.322          11379.547  1.5  PL
    END-POINT  58189.800          63956.570          11379.547  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUW                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58189.800          63961.800          11374.317  1.5  PL
    END-POINT  58189.800          63956.570          11379.547  1.5  PL
    CENTRE-POINT   58189.800          63961.800          11379.547 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUX                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REDUCER-CONCENTRIC
    END-POINT  58189.800          63961.800          11374.317  1.5  PL
    END-POINT  58189.800          63961.800          11370.067  1.25  PL
    SKEY RCPL
    FABRICATION-ITEM
    ITEM-CODE RED5941+1/2X1+1/4
    WEIGHT           0.430
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUY                 
    PIPING-SPEC S11
    INSULATION-ON 
FILTER
    END-POINT  58189.800          63961.800          11370.067  1.25  PL
    END-POINT  58189.800          63961.800          11367.136  1.25  SC MALE 
    SKEY FISC
    FABRICATION-ITEM
    ITEM-CODE ADPT5961+1/4X1+1/4
    WEIGHT           0.520
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IUZ                 
    PIPING-SPEC S11
    INSULATION-ON 
MESSAGE
    CO-ORDS  58189.800  63961.800  11367.824 
    TEXT TO 1ST FLOOR$SAFETY SHOWER
    UNDIMENSIONED
MESSAGE-ROUND
    CO-ORDS  58189.800  63961.800  11367.824 
    TEXT SP-750
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58189.800          63961.800          11367.136 
MATERIALS
ITEM-CODE FLG5952
    CATALOG VICTAULIC
    DESCRIPTION FLANGE ADAPTER, PRESSFIT STYLE 595, ASTM A312 GR 304/304L
    RATING 150LB
ITEM-CODE PIPPF2
    CATALOG VICTAULIC
    DESCRIPTION PIPE, PRESSFIT STYLE 905, ASTM A312 GR 304/304L - 0"
    RATING 5S
ITEM-CODE 90L5902
    CATALOG VICTAULIC
    DESCRIPTION 90 DEG LR ELBOW, PRESSFIT STYLE 590, ASTM A312 GR 304/304L
ITEM-CODE SUPRH-2
    DESCRIPTION GENERAL HANGER, L=2'-9 1/2", P624 FIG 4
ITEM-CODE SUPRH-2_1
    DESCRIPTION GENERAL HANGER, L=3'-3 1/2", P624 FIG 2
ITEM-CODE SUPUB-2
    DESCRIPTION ANGLED U BOLT SUPPORT, L=1'-9", P625 FIG 4
ITEM-CODE SUPUB-2_1
    DESCRIPTION ANGLED U BOLT SUPPORT, L=3'-0", P625 FIG 4
ITEM-CODE CPL5972
    CATALOG VICTAULIC
    DESCRIPTION CPLG, PRESSFIT, STYLE 597, ASTM A312 GR 304/304L
ITEM-CODE VALV5692
    CATALOG VICTAULIC
    DESCRIPTION VIC TYPE 316 PRESSFIT SYSTEM BALL VALVE STYLE 569  (T x T)
ITEM-CODE SUPRH-2_2
    DESCRIPTION GENERAL HANGER, L=2'-0 7/8", P624 FIG 4
ITEM-CODE 45L5912
    CATALOG VICTAULIC
    DESCRIPTION 45 DEG ELBOW, PRESSFIT STYLE 591, ASTM A312 GR 304/304L
ITEM-CODE SUPRH-2_3
    DESCRIPTION GENERAL HANGER, L=2'-10 3/8", P624 FIG 3
ITEM-CODE SUPUB-2_2
    DESCRIPTION U BOLT GUIDE, P651 FIG 1
ITEM-CODE SUPRH-2_4
    DESCRIPTION GENERAL HANGER, L=1'-3 7/16", P624 FIG 3
ITEM-CODE TEE5922
    CATALOG VICTAULIC
    DESCRIPTION TEE, PRESSFIT STYLE 592, ASTM A312 GR 304/304L
ITEM-CODE SUPRH-2_5
    DESCRIPTION RISER CLAMP, P615 FIG 1
ITEM-CODE CPL5972_1
    CATALOG VICTAULIC
    DESCRIPTION CPLG,PRESSFIT STYLE 597, ASTM A312 GR 304/304L
ITEM-CODE RED5942X1+1/2
    CATALOG VICTAULIC
    DESCRIPTION CONC REDUCER, PRESSFIT STYLE 594, ASTM A312 GR 304/304L
ITEM-CODE CPL5971+1/2
    CATALOG VICTAULIC
    DESCRIPTION CPLG,PRESSFIT STYLE 597, ASTM A312 GR 304/304L
ITEM-CODE TEE5932X1+1/2
    CATALOG VICTAULIC
    DESCRIPTION RED TEE, PRESSFIT STYLE 593, ASTM A312 GR 304/304L
ITEM-CODE SUPRH-2_6
    DESCRIPTION RISER CLAMP, P615 FIG 2
ITEM-CODE SUPUB-2_3
    DESCRIPTION U BOLT ANCHOR, P651 FIG 1
ITEM-CODE SUPUB-2_4
    DESCRIPTION U BOLT ANCHOR, P651 FIG 2
ITEM-CODE CPL5971+1/2_1
    CATALOG VICTAULIC
    DESCRIPTION CPLG, PRESSFIT, STYLE 597, ASTM A312 GR 304/304L
ITEM-CODE PIPPF1+1/2
    CATALOG VICTAULIC
    DESCRIPTION PIPE, PRESSFIT STYLE 905, ASTM A312 GR 304/304L - 0"
    RATING 5S
ITEM-CODE 90L5901+1/2
    CATALOG VICTAULIC
    DESCRIPTION 90 DEG LR ELBOW, PRESSFIT STYLE 590, ASTM A312 GR 304/304L
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, L=1'-3", P624 FIG 4
ITEM-CODE 45L5911+1/2
    CATALOG VICTAULIC
    DESCRIPTION 45 DEG ELBOW, PRESSFIT STYLE 591, ASTM A312 GR 304/304L
ITEM-CODE RED5941+1/2X1+1/4
    CATALOG VICTAULIC
    DESCRIPTION CONC REDUCER, PRESSFIT STYLE 594, ASTM A312 GR 304/304L
ITEM-CODE ADPT5961+1/4X1+1/4
    CATALOG VICTAULIC
    DESCRIPTION MALE THRD ADAPTER, PRESSFIT STYLE 596, ASTM A312 GR 304/304L
