ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1011007
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_GS02.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1011007-AN-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-81P-011
    ATTRIBUTE21 K. COLLINS
    ATTRIBUTE22 10/18/2012
    ATTRIBUTE23 N/A
    ATTRIBUTE25 DH
    ATTRIBUTE26 10/18/2012
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 10/18/2012
    ATTRIBUTE29 S. HOYER
    ATTRIBUTE30 10/18/2012
    ATTRIBUTE31 G. PAGE
    ATTRIBUTE32 10/18/2012
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 10/18/2012
    ATTRIBUTE36 KDC
    ATTRIBUTE37 DH
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR CONSTRUCTION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  61809.456          64730.000          11697.030  1.5  BW
    END-POINT  61835.066          64730.000          11697.030  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZI                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  61826.066  64730.000  11697.030  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZM                 
SUPPORT
    CO-ORDS  61826.066  64730.000  11697.030  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZZ                 
SUPPORT
    CO-ORDS  61826.066  64730.000  11697.030  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_501                 
WELD
    END-POINT  61809.456          64730.000          11697.030  1.5
    END-POINT  61809.456          64730.000          11697.030  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  61835.066          64730.000          11697.030 
ELBOW
    END-POINT  61808.066          64730.000          11697.268  2  BW
    END-POINT  61811.066          64730.000          11694.268  2  BW
    CENTRE-POINT   61811.066          64730.000          11697.268 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZC                 
    PIPING-SPEC S1
    ANGLE 9000
    TAP-CONNECTION EP2
    CO-ORDS  61809.456          64730.000          11697.030  1.5 BWTO
WELD
    END-POINT  61808.066          64730.000          11697.268  2
    END-POINT  61808.066          64730.000          11697.268  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  61811.066          64730.000          11694.268  2
    END-POINT  61811.066          64730.000          11694.268  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  61811.066          64730.000          11676.268  2  BW
    END-POINT  61811.066          64730.000          11694.268  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YK                 
    PIPING-SPEC S1
WELD
    END-POINT  61811.066          64730.000          11676.268  2
    END-POINT  61811.066          64730.000          11676.268  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  61811.066          64730.000          11676.268  2  BW
    END-POINT  61811.066          64733.000          11673.268  2  BW
    CENTRE-POINT   61811.066          64730.000          11673.268 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YI                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  61811.066          64733.000          11673.268  2
    END-POINT  61811.066          64733.000          11673.268  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  61811.066          64829.000          11673.268  2  BW
    END-POINT  61811.066          64733.000          11673.268  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YP                 
    PIPING-SPEC S1
WELD
    END-POINT  61811.066          64829.000          11673.268  2
    END-POINT  61811.066          64829.000          11673.268  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  61811.066          64829.000          11673.268  2  BW
    END-POINT  61811.065          64832.000          11670.268  2  BW
    CENTRE-POINT   61811.066          64832.000          11673.268 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YN                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  61811.065          64832.000          11670.268  2
    END-POINT  61811.065          64832.000          11670.268  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Z1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  61811.065          64832.000          11670.268  2  BW
    END-POINT  61811.064          64832.000          11638.187  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Z0                 
    PIPING-SPEC S1
WELD
    END-POINT  61811.064          64832.000          11638.187  2
    END-POINT  61811.064          64832.000          11638.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Z2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  61811.064          64832.000          11638.187  2  BW
    END-POINT  61811.064          64835.000          11635.187  2  BW
    CENTRE-POINT   61811.064          64832.000          11635.187 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YU                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  61811.064          64835.000          11635.187  2
    END-POINT  61811.064          64835.000          11635.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Z4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  61811.064          64835.000          11635.187  2  BW
    END-POINT  61811.064          65253.920          11635.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Z3                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  61811.064  64860.000  11635.188  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZV                 
SUPPORT
    CO-ORDS  61811.064  64980.000  11635.188  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZW                 
SUPPORT
    CO-ORDS  61811.064  65108.920  11635.188  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZX                 
SUPPORT
    CO-ORDS  61811.064  65228.920  11635.188  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ZY                 
SUPPORT
    CO-ORDS  61811.064  64860.000  11635.188  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_50G                 
SUPPORT
    CO-ORDS  61811.064  64980.000  11635.188  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_50I                 
SUPPORT
    CO-ORDS  61811.064  65108.920  11635.188  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_50K                 
SUPPORT
    CO-ORDS  61811.064  65228.920  11635.188  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_50M                 
FLOW-ARROW
    CO-ORDS  61811.064  65044.899  11635.188 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  61811.064          65253.920          11635.188  2
    END-POINT  61811.064          65253.920          11635.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Z5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  61811.064          65253.920          11635.188  2  BW
    END-POINT  61808.064          65256.920          11635.188  2  BW
    CENTRE-POINT   61811.064          65256.920          11635.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YY                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  61808.064          65256.920          11635.188  2
    END-POINT  61808.064          65256.920          11635.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_C40                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  61789.110          65256.920          11635.188  2  BW
    END-POINT  61808.064          65256.920          11635.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYR                 
    PIPING-SPEC S1
WELD
    END-POINT  61789.110          65256.920          11635.188  2
    END-POINT  61789.110          65256.920          11635.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  61786.110          65256.920          11632.188  2  BW
    END-POINT  61789.110          65256.920          11635.188  2  BW
    CENTRE-POINT   61786.110          65256.920          11635.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYO                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  61786.110          65256.920          11632.188  2
    END-POINT  61786.110          65256.920          11632.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BYQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  61786.110          65256.920          11554.500  2  BW
    END-POINT  61786.110          65256.920          11632.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BXI                 
    PIPING-SPEC S1
WELD
    END-POINT  61786.110          65256.920          11554.500  2
    END-POINT  61786.110          65256.920          11554.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BXJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  61783.110          65256.920          11551.500  2  BW
    END-POINT  61786.110          65256.920          11554.500  2  BW
    CENTRE-POINT   61786.110          65256.920          11551.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BXB                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  61783.110          65256.920          11551.500  2
    END-POINT  61783.110          65256.920          11551.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BXD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  61780.610          65256.920          11551.500  2  FL
    END-POINT  61783.110          65256.920          11551.500  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BX8                 
    PIPING-SPEC S1
MESSAGE-POINTED
    CO-ORDS  61780.610  65256.920  11551.500 
    TEXT TP$042
    UNDIMENSIONED
GASKET
    END-POINT  61780.610          65256.920          11551.500  2
    END-POINT  61780.485          65256.920          11551.500  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BX9                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  61780.610          65256.920          11551.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BXA                 
VALVE
    END-POINT  61773.485          65256.920          11551.500  2  FL
    END-POINT  61780.485          65256.920          11551.500  2  FL
    CENTRE-POINT   61776.985          65256.920          11551.500 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          33.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BX3                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
END-CONNECTION-PIPELINE 
    CO-ORDS  61773.485          65256.920          11551.500 
    PIPELINE-REFERENCE ISO-TF3-007
PIPE
    END-POINT  61808.066          64730.000          11697.268  2  BW
    END-POINT  60362.270          64730.000          11697.313  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4VV                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60481.054  64730.000  11697.309  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4W8                 
SUPPORT
    CO-ORDS  60829.054  64730.000  11697.298  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4WA                 
SUPPORT
    CO-ORDS  61153.054  64730.000  11697.288  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4WC                 
SUPPORT
    CO-ORDS  61453.073  64730.000  11697.279  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4WE                 
SUPPORT
    CO-ORDS  61758.073  64730.000  11697.270  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4WG                 
SUPPORT
    CO-ORDS  60405.816  64730.000  11697.311  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XG                 
SUPPORT
    CO-ORDS  60596.066  64730.000  11697.305  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XI                 
SUPPORT
    CO-ORDS  60712.066  64730.000  11697.302  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XK                 
SUPPORT
    CO-ORDS  60936.066  64730.000  11697.295  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XM                 
SUPPORT
    CO-ORDS  61044.066  64730.000  11697.292  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XO                 
SUPPORT
    CO-ORDS  61252.066  64730.000  11697.285  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XQ                 
SUPPORT
    CO-ORDS  61352.066  64730.000  11697.282  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XS                 
SUPPORT
    CO-ORDS  61555.066  64730.000  11697.276  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XU                 
SUPPORT
    CO-ORDS  61656.066  64730.000  11697.273  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Y9                 
FLOW-ARROW
    CO-ORDS  61009.251  64730.000  11697.293 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  60362.270          64730.000          11697.313  2
    END-POINT  60362.270          64730.000          11697.313  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4VX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60359.270          64730.000          11694.313  2  BW
    END-POINT  60362.270          64730.000          11697.313  2  BW
    CENTRE-POINT   60359.270          64730.000          11697.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4TJ                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60359.270          64730.000          11694.313  2
    END-POINT  60359.270          64730.000          11694.313  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_51K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60359.269          64730.000          11680.317  2  BW
    END-POINT  60359.270          64730.000          11694.313  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YB                 
    PIPING-SPEC S1
WELD
    END-POINT  60359.269          64730.000          11680.317  2
    END-POINT  60359.269          64730.000          11680.317  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4YC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60359.269          64733.000          11677.317  2  BW
    END-POINT  60359.269          64730.000          11680.317  2  BW
    CENTRE-POINT   60359.269          64730.000          11677.317 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Y6                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60359.269          64733.000          11677.317  2
    END-POINT  60359.269          64733.000          11677.317  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Y8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60359.272          65980.025          11677.308  2  BW
    END-POINT  60359.269          64733.000          11677.317  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4XY                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  60359.269  65023.090  11677.317 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  60359.272  65956.683  11677.308  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_50U                 
SUPPORT
    CO-ORDS  60359.272  65716.489  11677.308  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_50W                 
SUPPORT
    CO-ORDS  60359.272  65392.223  11677.308  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_50Y                 
SUPPORT
    CO-ORDS  60359.269  65151.961  11677.317  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_510                 
SUPPORT
    CO-ORDS  60359.269  64869.538  11677.317  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_512                 
SUPPORT
    CO-ORDS  60359.272  65834.129  11677.308  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_514                 
SUPPORT
    CO-ORDS  60359.272  65606.386  11677.308  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_516                 
SUPPORT
    CO-ORDS  60359.272  65498.402  11677.308  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_518                 
SUPPORT
    CO-ORDS  60359.269  65270.765  11677.317  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_51A                 
SUPPORT
    CO-ORDS  60359.269  65110.980  11677.317  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_51C                 
SUPPORT
    CO-ORDS  60359.269  64990.990  11677.317  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_51E                 
SUPPORT
    CO-ORDS  60359.269  64795.998  11677.317  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_51G                 
WELD
    END-POINT  60359.272          65980.025          11677.308  2
    END-POINT  60359.272          65980.025          11677.308  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2Z                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60359.272          65983.025          11674.308  2  BW
    END-POINT  60359.272          65980.025          11677.308  2  BW
    CENTRE-POINT   60359.272          65983.025          11677.308 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2V                  
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60359.272          65983.025          11674.308  2
    END-POINT  60359.272          65983.025          11674.308  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2X                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60359.271          65983.025          11655.214  2  BW
    END-POINT  60359.272          65983.025          11674.308  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2T                  
    PIPING-SPEC S1
WELD
    END-POINT  60359.271          65983.025          11655.214  2
    END-POINT  60359.271          65983.025          11655.214  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_ED                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60359.271          65983.025          11655.214  2  BW
    END-POINT  60356.271          65983.026          11652.214  2  BW
    CENTRE-POINT   60359.271          65983.025          11652.214 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_EB                  
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60359.271  65983.025  11652.214 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60552.002  65983.025  11652.214 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60359.271  65983.025  11652.214 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60359.271  66120.008  11652.214 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
END-POSITION-OPEN 
    CO-ORDS  60356.271          65983.026          11652.214 
MATERIALS
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION P-628 FIG. 9, L=1'-3"
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION U BOLT GUIDE, P648, FIG. 2
ITEM-CODE SUPAG-1+1/2_1
    DESCRIPTION P-629 FIG. 9, L=1'-6"
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPAG-2
    DESCRIPTION P-629 FIG. 9, L=1'-6"
ITEM-CODE SUPUB-2
    DESCRIPTION U BOLT GUIDE, P648, FIG. 2
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE SUPPS-2
    DESCRIPTION PIPE WEAR PROTECTION PAD,P621
