ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1011016
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_GS02.DWG
    ATTRIBUTE98 O2
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1011016-O2-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-81P-011
    ATTRIBUTE21 D. CREECH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 T. S.
    ATTRIBUTE26 11/3/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 DKC
    ATTRIBUTE37 TS
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE43 TS
    ATTRIBUTE44 DD
    ATTRIBUTE45 I.F.C.
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  60320.234          65678.643          11678.284  1  BW
    END-POINT  60320.234          65678.643          11690.284  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FR                 
    PIPING-SPEC S1
WELD
    END-POINT  60320.234          65678.643          11678.284  1
    END-POINT  60320.234          65678.643          11678.284  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ME                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  60320.234          65678.643          11690.284  1
    END-POINT  60320.234          65678.643          11690.284  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  60320.234          65678.643          11678.284  1  BW
    END-POINT  60320.234          65678.643          11675.284  1  BW
    CENTRE-POINT   60320.234          65678.643          11676.784 
    BRANCH1-POINT  60320.234          65677.143          11676.784  1  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FO                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  60320.234          65678.643          11675.284 
    PIPELINE-REFERENCE ISO-GS3-1011018
ELBOW
    END-POINT  60320.234          65678.643          11690.284  1  BW
    END-POINT  60321.734          65678.643          11691.784  1  BW
    CENTRE-POINT   60320.234          65678.643          11691.784 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FT                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60321.734          65678.643          11691.784  1
    END-POINT  60321.734          65678.643          11691.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60321.734          65678.643          11691.784  1  BW
    END-POINT  60339.234          65678.643          11691.784  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FW                 
    PIPING-SPEC S1
WELD
    END-POINT  60339.234          65678.643          11691.784  1
    END-POINT  60339.234          65678.643          11691.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2G0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60339.234          65678.643          11691.784  1  BW
    END-POINT  60340.734          65678.643          11690.284  1  BW
    CENTRE-POINT   60340.734          65678.643          11691.784 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FY                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60340.734          65678.643          11690.284  1
    END-POINT  60340.734          65678.643          11690.284  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2G2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60340.734          65678.643          11690.284  1  BW
    END-POINT  60340.734          65678.643          11678.284  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2G1                 
    PIPING-SPEC S1
WELD
    END-POINT  60340.734          65678.643          11678.284  1
    END-POINT  60340.734          65678.643          11678.284  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2G5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60340.734          65678.643          11678.284  1  BW
    END-POINT  60340.734          65680.143          11676.784  1  BW
    CENTRE-POINT   60340.734          65678.643          11676.784 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2G3                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60340.734          65680.143          11676.784  1
    END-POINT  60340.734          65680.143          11676.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2G6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60340.741          65969.837          11676.784  1  BW
    END-POINT  60340.734          65680.143          11676.784  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45                  
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60340.735  65714.876  11676.784  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MA                 
SUPPORT
    CO-ORDS  60340.737  65834.531  11676.784  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MB                 
SUPPORT
    CO-ORDS  60340.741  65954.767  11676.784  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MC                 
WELD
    END-POINT  60340.741          65969.837          11676.784  1
    END-POINT  60340.741          65969.837          11676.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2G9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60340.741          65969.837          11676.784  1  BW
    END-POINT  60339.241          65971.337          11676.784  1  BW
    CENTRE-POINT   60340.741          65971.337          11676.784 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2G7                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60339.241          65971.337          11676.784  1
    END-POINT  60339.241          65971.337          11676.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2GB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60339.241          65971.337          11676.784  1  BW
    END-POINT  60321.741          65971.337          11676.784  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2GA                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60327.048  65971.337  11676.784  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2ME                 
WELD
    END-POINT  60321.741          65971.337          11676.784  1
    END-POINT  60321.741          65971.337          11676.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2GE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60321.741          65971.337          11676.784  1  BW
    END-POINT  60320.241          65972.837          11676.783  1  BW
    CENTRE-POINT   60320.241          65971.337          11676.784 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2GC                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60320.241          65972.837          11676.783  1
    END-POINT  60320.241          65972.837          11676.783  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2GG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60320.241          65972.837          11676.783  1  BW
    END-POINT  60320.241          66141.837          11676.784  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2GF                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60320.241  66066.539  11676.784  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MF                 
WELD
    END-POINT  60320.241          66141.837          11676.784  1
    END-POINT  60320.241          66141.837          11676.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2GH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60320.241          66143.337          11675.284  1  BW
    END-POINT  60320.241          66141.837          11676.784  1  BW
    CENTRE-POINT   60320.241          66143.337          11676.784 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41                  
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60320.241  66143.337  11676.784 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60552.000  66143.337  11676.784 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60320.241  66143.337  11676.784 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60320.241  66119.999  11676.784 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
WELD
    END-POINT  60320.241          66143.337          11675.284  1
    END-POINT  60320.241          66143.337          11675.284  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60320.241          66143.337          11653.720  1  BW
    END-POINT  60320.241          66143.337          11675.284  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3Y                  
    PIPING-SPEC S1
WELD
    END-POINT  60320.241          66143.337          11653.720  1
    END-POINT  60320.241          66143.337          11653.720  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4MH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60321.741          66143.337          11652.220  1  BW
    END-POINT  60320.241          66143.337          11653.720  1  BW
    CENTRE-POINT   60320.241          66143.337          11652.220 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUZK55FC_6U                  
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  60321.741          66143.337          11652.220 
    PIPELINE-REFERENCE ISO-TF3-1011016
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPPR-1
    DESCRIPTION SUPPORT PAD, P621
