ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217010
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1217010-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 SG
    ATTRIBUTE22 9/4/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/7/2008
    ATTRIBUTE25 IP
    ATTRIBUTE26 10/13/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 5
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 4/7/2009
    ATTRIBUTE54 SM
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 9/14/2012
    ATTRIBUTE66 DBH
    ATTRIBUTE67 KC
    ATTRIBUTE68 DD
    ATTRIBUTE69 DELETED DRAIN
    ATTRIBUTE89 456
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57853.800          64062.918          11314.125  0.5  PL
    END-POINT  57853.800          64065.918          11314.125  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C67                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57853.800  64065.418  11314.125 
    TEXT PI$071$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57853.800          64062.918          11314.125  0.5
    END-POINT  57853.800          64062.918          11314.125  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C68                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57853.800          64065.918          11314.125 
VALVE
    END-POINT  57853.800          64061.238          11314.125  0.5  SW FEMALE 
    END-POINT  57853.800          64062.918          11314.125  0.5  SW FEMALE 
    CENTRE-POINT   57853.800          64062.123          11314.125 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4XW                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57853.800          64061.238          11314.125  0.5
    END-POINT  57853.800          64061.238          11314.125  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57853.800          64057.828          11314.125  0.5  BW
    END-POINT  57853.800          64061.238          11314.125  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83Q                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800          64057.828          11314.125  0.5
    END-POINT  57853.800          64057.828          11314.125  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83R                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57853.800  64055.328  11314.125 
    BRANCH1-POINT  57853.800          64057.828          11314.125  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83N                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800  64055.328  11314.125  3
    END-POINT  57853.800  64055.328  11314.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83P                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57853.800          64055.328          11317.125  3  BW
    END-POINT  57853.800          64055.328          11310.940  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4XN                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800          64055.328          11317.125  3
    END-POINT  57853.800          64055.328          11317.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4XO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800          64055.328          11310.940  3
    END-POINT  57853.800          64055.328          11310.940  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_80H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57853.800          64055.328          11310.940  3  BW
    END-POINT  57853.800          64055.328          11307.440  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_80G                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57853.800          64055.328          11307.440  1.5
    END-POINT  57853.800          64055.328          11307.440  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_80J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57853.800          64055.328          11305.000  1.5  FL
    END-POINT  57853.800          64055.328          11307.440  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_80I                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57853.800          64055.328          11305.000  1.5
    END-POINT  57853.800          64055.328          11304.875  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_80K                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57853.800          64055.328          11305.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_80L                 
END-POSITION-OPEN 
    CO-ORDS  57853.800          64055.328          11304.875 
ELBOW
    END-POINT  57853.800          64055.328          11317.125  3  BW
    END-POINT  57856.982          64052.146          11321.625  3  BW
    CENTRE-POINT   57853.800          64055.328          11321.625 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2Q2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57856.982          64052.146          11321.625  3
    END-POINT  57856.982          64052.146          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2Q7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57856.982          64052.146          11321.625  3  BW
    END-POINT  57859.810          64049.317          11321.625  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2Q6                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57859.810          64049.317          11321.625  3
    END-POINT  57859.810          64049.317          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2Q9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57859.810          64049.317          11321.625  3
    END-POINT  57859.810          64049.317          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2QA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57860.007          64049.121          11321.625  3  FL
    END-POINT  57859.810          64049.317          11321.625  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2Q8                 
    PIPING-SPEC S1
GASKET
    END-POINT  57860.096          64049.032          11321.625  3
    END-POINT  57860.007          64049.121          11321.625  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2QC                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57860.096          64049.032          11321.625 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2QD                 
VALVE
    END-POINT  57860.096          64049.032          11321.625  3  FL
    END-POINT  57866.813          64042.315          11321.625  3  FL
    CENTRE-POINT   57863.454          64045.673          11321.625 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          48.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2QB                 
    PIPING-SPEC S1
GASKET
    END-POINT  57866.902          64042.226          11321.625  3
    END-POINT  57866.813          64042.315          11321.625  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2QF                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57866.902          64042.226          11321.625 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2QG                 
FLANGE
    END-POINT  57866.902          64042.226          11321.625  3  FL
    END-POINT  57867.099          64042.029          11321.625  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_2QE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57867.099          64042.029          11321.625  3
    END-POINT  57867.099          64042.029          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57867.099          64042.029          11321.625  3
    END-POINT  57867.099          64042.029          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57867.099          64042.029          11321.625  3  PL
    END-POINT  57871.341          64037.787          11321.625  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8E                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57871.341          64037.787          11321.625  3
    END-POINT  57871.341          64037.787          11321.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57871.341          64037.787          11321.625  3  BW
    END-POINT  57874.523          64034.605          11326.125  3  BW
    CENTRE-POINT   57874.523          64034.605          11321.625 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37G                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57874.523  64034.605  11321.625  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LC                 
WELD
    END-POINT  57874.523          64034.605          11326.125  3
    END-POINT  57874.523          64034.605          11326.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57874.523          64034.605          11326.125  3  BW
    END-POINT  57874.523          64034.605          11330.125  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37S                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.523          64034.605          11330.125  3
    END-POINT  57874.523          64034.605          11330.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.523          64034.605          11330.125  3
    END-POINT  57874.523          64034.605          11330.125  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57874.523          64034.605          11330.404  3  FL
    END-POINT  57874.523          64034.605          11330.125  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37U                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57874.523          64034.605          11330.529  3
    END-POINT  57874.523          64034.605          11330.404  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57874.523          64034.605          11330.529 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37Z                 
VALVE
    END-POINT  57874.523          64034.605          11330.529  3  FL
    END-POINT  57874.523          64034.605          11332.404  3  FL
    CENTRE-POINT   57874.523          64034.605          11331.466 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_37X                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 45 WEST
GASKET
    END-POINT  57874.523          64034.605          11332.529  3
    END-POINT  57874.523          64034.605          11332.404  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_384                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57874.523          64034.605          11332.529 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_385                 
FLANGE
    END-POINT  57874.523          64034.605          11332.529  3  FL
    END-POINT  57874.523          64034.605          11332.807  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_383                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.523          64034.605          11332.807  3
    END-POINT  57874.523          64034.605          11332.807  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.523          64034.605          11332.807  3
    END-POINT  57874.523          64034.605          11332.807  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57874.523          64034.605          11362.282  3  BW
    END-POINT  57874.523          64034.605          11332.807  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82U                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57874.523  64034.605  11338.266 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57874.523          64034.605          11362.282  3
    END-POINT  57874.523          64034.605          11362.282  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57874.523          64034.605          11362.282  3  BW
    END-POINT  57871.341          64037.787          11366.782  3  BW
    CENTRE-POINT   57874.523          64034.605          11366.782 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82S                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57871.341          64037.787          11366.782  3
    END-POINT  57871.341          64037.787          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8LE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57865.344          64043.784          11366.782  3  BW
    END-POINT  57871.341          64037.787          11366.782  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8LC                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57865.344          64043.784          11366.782  3
    END-POINT  57865.344          64043.784          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8LD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57865.344          64043.784          11366.782  3  BW
    END-POINT  57863.929          64047.198          11366.782  3  BW
    CENTRE-POINT   57863.929          64045.198          11366.782 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8LA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57863.929          64047.198          11366.782  3
    END-POINT  57863.929          64047.198          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8LG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57863.929          64047.198          11366.782  3  BW
    END-POINT  57863.929          64052.009          11366.782  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8LF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57863.929          64052.009          11366.782  3
    END-POINT  57863.929          64052.009          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8LH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57863.929          64052.009          11366.782  3  BW
    END-POINT  57863.929          64058.769          11366.782  3  BW
    CENTRE-POINT   57863.929          64055.389          11366.782 
    BRANCH1-POINT  57867.309          64055.389          11366.782  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82H                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57863.929          64058.769          11366.782  3
    END-POINT  57863.929          64058.769          11366.782  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57867.309          64055.389          11366.782  3
    END-POINT  57867.309          64055.389          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8MT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57863.927          64105.075          11366.782  3  BW
    END-POINT  57863.929          64058.769          11366.782  3  BW
    CONTINUATION 
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3S                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57863.927          64105.075          11366.782 
    PIPELINE-REFERENCE ISO-PY3-1217009
PIPE
    END-POINT  57874.023          64055.389          11366.782  3  BW
    END-POINT  57867.309          64055.389          11366.782  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8MR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57874.023          64055.389          11366.782  3
    END-POINT  57874.023          64055.389          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8MS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57878.523          64055.389          11371.282  3  BW
    END-POINT  57874.023          64055.389          11366.782  3  BW
    CENTRE-POINT   57878.523          64055.389          11366.782 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8MM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57878.523          64055.389          11371.282  3
    END-POINT  57878.523          64055.389          11371.282  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8MP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57878.523          64055.389          11371.282  3  BW
    END-POINT  57878.523          64055.389          11410.491  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8MO                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57878.523  64055.389  11390.584 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57878.523          64055.389          11410.491  3
    END-POINT  57878.523          64055.389          11410.491  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZ1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57878.523          64055.389          11410.491  3  BW
    END-POINT  57878.523          64050.889          11414.991  3  BW
    CENTRE-POINT   57878.523          64055.389          11414.991 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BYY                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57878.523          64050.889          11414.991  3
    END-POINT  57878.523          64050.889          11414.991  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZ0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57878.523          64026.037          11414.991  3  BW
    END-POINT  57878.523          64050.889          11414.991  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82C                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57878.523  64049.407  11414.991  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82F                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  57878.523  64037.395  11414.991 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57878.523          64026.037          11414.991  3
    END-POINT  57878.523          64026.037          11414.991  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_82D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57878.523          64026.037          11414.991  3  BW
    END-POINT  57878.523          64021.537          11419.491  3  BW
    CENTRE-POINT   57878.523          64021.537          11414.991 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_75C                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57878.523          64021.537          11419.491  3
    END-POINT  57878.523          64021.537          11419.491  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_81A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57878.523          64021.531          11428.272  3  BW
    END-POINT  57878.523          64021.537          11419.491  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_818                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57878.523          64021.531          11428.272  3
    END-POINT  57878.523          64021.531          11428.272  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_819                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57883.023          64021.531          11432.772  3  BW
    END-POINT  57878.523          64021.531          11428.272  3  BW
    CENTRE-POINT   57878.523          64021.531          11432.772 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_816                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57883.023          64021.531          11432.772  3
    END-POINT  57883.023          64021.531          11432.772  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8M8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58141.305          64021.531          11432.772  3  BW
    END-POINT  57883.023          64021.531          11432.772  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_81B                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58054.784  64021.531  11432.772  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_81E                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  57943.834  64021.531  11432.772  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_81G                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  58000.872  64021.531  11432.772 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58141.305          64021.531          11432.772  3
    END-POINT  58141.305          64021.531          11432.772  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_81C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57954.928  64021.531  11432.772  3
    END-POINT  57954.928  64021.531  11432.772  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57954.928  64021.531  11432.772 
    BRANCH1-POINT  57954.928          64021.531          11429.959  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_838                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57954.928          64021.531          11429.959  1
    END-POINT  57954.928          64021.531          11429.959  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57954.928          64021.531          11416.647  1  BW
    END-POINT  57954.928          64021.531          11429.959  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83B                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57954.928          64021.531          11416.647 
    PIPELINE-REFERENCE ISO-PY3-1217011
ELBOW
    END-POINT  58141.305          64021.531          11432.772  3  BW
    END-POINT  58145.805          64021.531          11437.272  3  BW
    CENTRE-POINT   58145.805          64021.531          11432.772 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4YO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58145.805          64021.531          11437.272  3
    END-POINT  58145.805          64021.531          11437.272  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58145.805          64021.531          11446.259  3  BW
    END-POINT  58145.805          64021.531          11437.272  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83G                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58145.805          64021.531          11446.259  3
    END-POINT  58145.805          64021.531          11446.259  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58145.805          64017.031          11450.759  3  BW
    END-POINT  58145.805          64021.531          11446.259  3  BW
    CENTRE-POINT   58145.805          64021.531          11450.759 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4YR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58145.805          64017.031          11450.759  3
    END-POINT  58145.805          64017.031          11450.759  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5L5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58145.823          63864.687          11450.759  3  BW
    END-POINT  58145.805          64017.031          11450.759  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5L3                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58145.800  63922.806  11450.759  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_75Q                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  58145.783  63967.028  11450.759 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58145.823          63864.687          11450.759  3
    END-POINT  58145.823          63864.687          11450.759  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5L4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58145.823          63860.187          11455.259  3  BW
    END-POINT  58145.823          63864.687          11450.759  3  BW
    CENTRE-POINT   58145.823          63860.187          11450.759 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4AD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58145.823          63860.187          11455.259  3
    END-POINT  58145.823          63860.187          11455.259  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58145.823          63860.187          11719.296  3  BW
    END-POINT  58145.823          63860.187          11455.259  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4AH                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58145.823  63860.187  11567.974  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5L6                 
TEE-SET-ON
    BRANCH1-POINT  58145.823          63858.437          11567.974  2.375
    CENTRE-POINT   58145.823  63860.187  11567.974 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58145.823          63858.437          11567.974  2.375  BW
    END-POINT  58145.823  63850.437  11567.974  2.375  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58145.823  63850.437  11567.974 
TEE-SET-ON
    BRANCH1-POINT  58145.823          63861.937          11567.974  2.375
    CENTRE-POINT   58145.823  63860.187  11567.974 
    SKEY TESO
PIPE
    END-POINT  58145.823          63861.937          11567.974  2.375  BW
    END-POINT  58145.823  63869.937  11567.974  2.375  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58145.823  63869.937  11567.974 
FLOW-ARROW
    CO-ORDS  58145.823  63860.187  11609.188 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58145.823          63860.187          11719.296  3
    END-POINT  58145.823          63860.187          11719.296  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58145.823          63864.687          11723.796  3  BW
    END-POINT  58145.823          63860.187          11719.296  3  BW
    CENTRE-POINT   58145.823          63860.187          11723.796 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4Y9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58145.823          63864.687          11723.796  3
    END-POINT  58145.823          63864.687          11723.796  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5L2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58145.823          63874.870          11723.796  3  BW
    END-POINT  58145.823          63864.687          11723.796  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5L0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58145.823          63874.870          11723.796  3
    END-POINT  58145.823          63874.870          11723.796  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5L1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58145.823          63874.870          11723.796  3  BW
    END-POINT  58150.323          63879.370          11723.796  3  BW
    CENTRE-POINT   58145.823          63879.370          11723.796 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4Y5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58150.323          63879.370          11723.796  3
    END-POINT  58150.323          63879.370          11723.796  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5KS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58150.323          63879.370          11723.796  3  BW
    END-POINT  58178.301          63879.370          11723.796  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5KR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58178.301          63879.370          11723.796  3
    END-POINT  58178.301          63879.370          11723.796  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5KT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58178.301          63879.370          11723.796  3  BW
    END-POINT  58182.801          63879.370          11728.296  3  BW
    CENTRE-POINT   58182.801          63879.370          11723.796 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4Y4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58182.801          63879.370          11728.296  3
    END-POINT  58182.801          63879.370          11728.296  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4YG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58182.801          63879.370          11737.250  3  BW
    END-POINT  58182.801          63879.370          11728.296  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4YE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          63879.370          11737.250  3
    END-POINT  58182.801          63879.370          11737.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4YF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58182.801          63879.370          11737.250  3  BW
    END-POINT  58182.801          63883.870          11741.750  3  BW
    CENTRE-POINT   58182.801          63879.370          11741.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4A2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58182.801          63883.870          11741.750  3
    END-POINT  58182.801          63883.870          11741.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4AM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58182.801          63964.307          11741.750  3  BW
    END-POINT  58182.801          63883.870          11741.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4AK                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58182.801  63898.999  11741.750  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5L8                 
FLOW-ARROW
    CO-ORDS  58182.801  63925.658  11741.750 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58182.801          63964.307          11741.750  3
    END-POINT  58182.801          63964.307          11741.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4AL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58182.801          63964.307          11741.750  3  BW
    END-POINT  58182.801          63968.807          11746.250  3  BW
    CENTRE-POINT   58182.801          63968.807          11741.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_47P                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58182.801          63968.807          11746.250  3
    END-POINT  58182.801          63968.807          11746.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4YJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58182.801          63968.807          11805.752  3  BW
    END-POINT  58182.801          63968.807          11746.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4YH                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58182.801  63968.807  11784.187 
    SKEY FLOR
MESSAGE
    CO-ORDS  58182.801  63968.807  11784.187 
    TEXT FLOOR PENETRATION
FLOW-ARROW
    CO-ORDS  58182.801  63968.807  11759.657 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58182.801  63968.807  11789.750  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CB8                 
WELD
    END-POINT  58182.801          63968.807          11805.752  3
    END-POINT  58182.801          63968.807          11805.752  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4YI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58182.801          63973.307          11810.252  3  BW
    END-POINT  58182.801          63968.807          11805.752  3  BW
    CENTRE-POINT   58182.801          63968.807          11810.252 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_47K                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58182.801          63973.307          11810.252  3
    END-POINT  58182.801          63973.307          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58182.801          63980.067          11810.252  3  BW
    END-POINT  58182.801          63973.307          11810.252  3  BW
    CENTRE-POINT   58182.801          63976.687          11810.252 
    BRANCH1-POINT  58179.421          63976.687          11810.252  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58182.801          63980.067          11810.252  3
    END-POINT  58182.801          63980.067          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58179.421          63976.687          11810.252  3
    END-POINT  58179.421          63976.687          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58179.421          63976.687          11810.252  3  BW
    END-POINT  58175.421          63976.687          11810.252  3  PL
    CONTINUATION 
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35B                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58175.421          63976.687          11810.252 
    PIPELINE-REFERENCE ISO-PY3-1217012
REDUCER-ECCENTRIC
    END-POINT  58182.801          63984.067          11810.752  4  BW
    END-POINT  58182.801          63980.067          11810.252  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_47C                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58182.801          63984.067          11810.752  4
    END-POINT  58182.801          63984.067          11810.752  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5IX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58182.801          63990.767          11810.752  4  PL
    END-POINT  58182.801          63984.067          11810.752  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5IU                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          63990.767          11810.752  4
    END-POINT  58182.801          63990.767          11810.752  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5IV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          63990.767          11810.752  4
    END-POINT  58182.801          63990.767          11810.752  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5IW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58182.801          63991.067          11810.752  4  FL
    END-POINT  58182.801          63990.767          11810.752  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5IR                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58182.801          63991.067          11810.752  4
    END-POINT  58182.801          63991.192          11810.752  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5IS                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58182.801          63991.067          11810.752 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5IT                 
VALVE
    END-POINT  58182.801          63993.317          11810.752  4  FL
    END-POINT  58182.801          63991.192          11810.752  4  FL
    CENTRE-POINT   58182.801          63992.254          11810.752 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5IK                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58182.801          63993.317          11810.752  4
    END-POINT 
** 
Processing ID: AT_FE4CY0WC_CBD  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CBD                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58182.801          63993.317          11810.752 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CBE                 
END-POSITION-OPEN 
    CO-ORDS  58182.801  63993.317  11810.752 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL3X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE REDCON3X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK3
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-3
    DESCRIPTION ELBOW SUPPORT, L=3'-8.625", P619 FIG 2
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG3_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 1/2 MACHINE BOLT
    RATING 150LB
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR3
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPPS-3
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE WOL3X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE SUPEB-3_1
    DESCRIPTION TRUNNION SUPPORT, P614
ITEM-CODE SUPRH-3
    DESCRIPTION P624, FIG. 4
ITEM-CODE SUPRH-3_1
    DESCRIPTION P615 FIG. 5
ITEM-CODE REDECC4X3
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 3/4 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG4_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8 150LB RAISED FACING 8 - 5/8" X 2 1/4" MACHINE BOLT
    RATING 150LB
