ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1011015
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5611.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1011015-AN-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-81P-011
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE23 D. K.
    ATTRIBUTE25 TS
    ATTRIBUTE26 2/25/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 DKC
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE43 TS
    ATTRIBUTE44 DCD
    ATTRIBUTE45 I.F.C.
    ATTRIBUTE46 2
    ATTRIBUTE47 3/2/2009
    ATTRIBUTE48 DKC
    ATTRIBUTE49 TS
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVIDED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  56766.453          70455.918          11429.815  0.5  PL
    END-POINT  56769.453          70455.918          11429.815  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2H9                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  56768.953  70455.918  11429.815 
    TEXT PI$301$03
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  56766.453          70455.918          11429.815  0.5
    END-POINT  56766.453          70455.918          11429.815  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  56769.453          70455.918          11429.815 
VALVE
    END-POINT  56764.773          70455.918          11429.815  0.5  SW FEMALE 
    END-POINT  56766.453          70455.918          11429.815  0.5  SW FEMALE 
    CENTRE-POINT   56765.658          70455.918          11429.815 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_MY                  
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  56764.773          70455.918          11429.815  0.5  SW FEMALE 
    END-POINT  56764.773          70455.918          11429.815  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_MZ                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  56761.363          70455.918          11429.815  0.5  BW
    END-POINT  56764.773          70455.918          11429.815  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_MW                  
    PIPING-SPEC S1
WELD
    END-POINT  56761.363          70455.918          11429.815  0.5
    END-POINT  56761.363          70455.918          11429.815  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_MX                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      56758.863  70455.918  11429.815 
    BRANCH1-POINT  56761.363          70455.918          11429.815  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_MT                  
    PIPING-SPEC S1
WELD
    END-POINT  56758.863  70455.918  11429.815  3
    END-POINT  56758.863  70455.918  11429.815  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_MV                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56758.883          70462.677          11429.815  3  BW
    END-POINT  56758.863          70452.918          11429.815  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IJ                  
    PIPING-SPEC S1
WELD
    END-POINT  56758.883          70462.677          11429.815  3
    END-POINT  56758.883          70462.677          11429.815  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IK                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70452.918          11429.815  3
    END-POINT  56758.863          70452.918          11429.815  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_UP                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  56758.863          70452.918          11429.815  3  BW
    END-POINT  56758.863          70448.418          11434.315  3  BW
    CENTRE-POINT   56758.863          70448.418          11429.815 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IM                  
    PIPING-SPEC S1
    ANGLE 9000
SUPPORT
    CO-ORDS  56758.863  70448.418  11429.815  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPAB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1SL                 
WELD
    END-POINT  56758.863          70448.418          11434.315  3
    END-POINT  56758.863          70448.418          11434.315  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IQ                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  56758.863          70448.418          11437.065  3  FL
    END-POINT  56758.863          70448.418          11434.315  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IP                  
    PIPING-SPEC S1
GASKET
    END-POINT  56758.863          70448.418          11437.190  3
    END-POINT  56758.863          70448.418          11437.065  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IS                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56758.863          70448.418          11437.190 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IT                  
VALVE
    END-POINT  56758.863          70448.418          11437.190  3  FL
    END-POINT  56758.863          70448.418          11446.690  3  FL
    CENTRE-POINT   56758.863          70448.418          11441.940 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          48.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IR                  
    PIPING-SPEC S1
GASKET
    END-POINT  56758.863          70448.418          11446.815  3
    END-POINT  56758.863          70448.418          11446.690  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HD                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56758.863          70448.418          11446.690 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HE                 
FLANGE
    END-POINT  56758.863          70448.418          11446.815  3  FL
    END-POINT  56758.863          70448.418          11447.093  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HC                 
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11447.093  3
    END-POINT  56758.863          70448.418          11447.093  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11447.093  3
    END-POINT  56758.863          70448.418          11447.093  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  56758.863          70448.418          11447.093  3  PL
    END-POINT  56758.863          70448.418          11470.231  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HF                 
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11470.231  3
    END-POINT  56758.863          70448.418          11470.231  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11470.231  3
    END-POINT  56758.863          70448.418          11470.231  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  56758.863          70448.418          11470.510  3  FL
    END-POINT  56758.863          70448.418          11470.231  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2B0                 
    PIPING-SPEC S1
GASKET
    END-POINT  56758.863          70448.418          11470.510  3
    END-POINT  56758.863          70448.418          11470.635  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2B1                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56758.863          70448.418          11470.510 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2B2                 
MISC-COMPONENT
    END-POINT  56758.863          70448.418          11504.322  3  FL
    END-POINT  56758.863          70448.418          11470.635  3  FL
    CENTRE-POINT  56758.863  70448.418  11487.479 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2AX                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  56758.863  70448.418  11486.635 
    TEXT FE$301$04
    UNDIMENSIONED
GASKET
    END-POINT  56758.863          70448.418          11504.322  3
    END-POINT  56758.863          70448.418          11504.447  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2AY                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56758.863          70448.418          11504.447 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2AZ                 
FLANGE
    END-POINT  56758.863          70448.418          11504.447  3  FL
    END-POINT  56758.863          70448.418          11504.726  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JB                  
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11504.726  3
    END-POINT  56758.863          70448.418          11504.726  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JF                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11504.726  3
    END-POINT  56758.863          70448.418          11504.726  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JG                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  56758.863          70448.418          11504.726  3  PL
    END-POINT  56758.863          70448.418          11510.726  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JE                  
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11510.726  3
    END-POINT  56758.863          70448.418          11510.726  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JI                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11510.726  3
    END-POINT  56758.863          70448.418          11510.726  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JJ                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  56758.863          70448.418          11511.004  3  FL
    END-POINT  56758.863          70448.418          11510.726  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JH                  
    PIPING-SPEC S1
GASKET
    END-POINT  56758.863          70448.418          11511.129  3
    END-POINT  56758.863          70448.418          11511.004  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JL                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56758.863          70448.418          11511.129 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JM                  
VALVE
    END-POINT  56758.863          70448.418          11511.129  3  FL
    END-POINT  56758.863          70448.418          11519.129  3  FL
    CENTRE-POINT   56758.863          70448.418          11515.129 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT          52.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JK                  
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  56758.863          70448.418          11519.254  3
    END-POINT  56758.863          70448.418          11519.129  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JQ                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56758.863          70448.418          11519.254 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JR                  
FLANGE
    END-POINT  56758.863          70448.418          11519.254  3  FL
    END-POINT  56758.863          70448.418          11519.533  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_JP                  
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11519.533  3
    END-POINT  56758.863          70448.418          11519.533  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1S3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  56758.863          70448.418          11519.533  3
    END-POINT  56758.863          70448.418          11519.533  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1S4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  56758.863          70448.418          11519.533  3  PL
    END-POINT  56758.863          70448.418          11572.853  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1S2                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  56758.846  70448.411  11554.711 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  56758.863          70448.418          11572.853  3
    END-POINT  56758.863          70448.418          11572.853  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2A6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  56758.863          70448.418          11572.853  3  BW
    END-POINT  56758.863          70443.967          11577.352  3  BW
    CENTRE-POINT   56758.863          70448.418          11577.304 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_13K                 
    PIPING-SPEC S1
    ANGLE 8938
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56758.842  70444.659  11577.304 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56733.023  70444.659  11577.304 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 4727.75
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56758.863  70448.418  11577.304 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56758.863  70396.805  11577.304 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5866.71
WELD
    END-POINT  56758.863          70443.967          11577.352  3
    END-POINT  56758.863          70443.967          11577.352  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2A5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56758.863          70443.967          11577.352  3  BW
    END-POINT  56758.860          70426.805          11577.546  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_13O                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  56758.861  70431.342  11577.495  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_26D                 
WELD
    END-POINT  56758.860          70426.805          11577.546  3
    END-POINT  56758.860          70426.805          11577.546  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_15O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  56758.860          70426.805          11577.546  3  BW
    END-POINT  56763.359          70422.305          11577.643  3  BW
    CENTRE-POINT   56758.859          70422.305          11577.597 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_15N                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  56763.359          70422.305          11577.643  3
    END-POINT  56763.359          70422.305          11577.643  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1V2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58397.790          70422.305          11594.655  3  BW
    END-POINT  56763.359          70422.305          11577.643  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3IX                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58173.070  70422.305  11592.316  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3ND                 
SUPPORT
    CO-ORDS  58053.070  70422.305  11591.067  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3NF                 
SUPPORT
    CO-ORDS  57813.070  70422.305  11588.569  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3NH                 
SUPPORT
    CO-ORDS  57693.070  70422.305  11587.320  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3NJ                 
SUPPORT
    CO-ORDS  57453.070  70422.305  11584.822  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3NL                 
SUPPORT
    CO-ORDS  57333.070  70422.305  11583.573  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3NN                 
SUPPORT
    CO-ORDS  57213.070  70422.305  11582.324  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3NX                 
SUPPORT
    CO-ORDS  57573.091  70422.305  11586.071  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3NZ                 
SUPPORT
    CO-ORDS  57933.070  70422.305  11589.818  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3O1                 
SUPPORT
    CO-ORDS  58293.070  70422.305  11593.565  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3O3                 
SUPPORT
    CO-ORDS  58293.070  70422.305  11593.565  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3O9                 
SUPPORT
    CO-ORDS  58173.070  70422.305  11592.316  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OA                 
SUPPORT
    CO-ORDS  58053.070  70422.305  11591.067  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OB                 
SUPPORT
    CO-ORDS  57933.070  70422.305  11589.818  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OC                 
SUPPORT
    CO-ORDS  57813.070  70422.305  11588.569  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OD                 
SUPPORT
    CO-ORDS  57693.070  70422.305  11587.320  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OE                 
SUPPORT
    CO-ORDS  57573.091  70422.305  11586.071  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OF                 
SUPPORT
    CO-ORDS  57453.070  70422.305  11584.822  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OH                 
SUPPORT
    CO-ORDS  57333.070  70422.305  11583.573  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OI                 
SUPPORT
    CO-ORDS  57213.075  70422.305  11582.324  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OJ                 
FLOW-ARROW
    CO-ORDS  56826.914  70422.305  11578.305 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57093.070  70422.305  11581.075  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40H                 
SUPPORT
    CO-ORDS  56973.070  70422.305  11579.826  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40J                 
SUPPORT
    CO-ORDS  57093.070  70422.305  11581.075  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40L                 
SUPPORT
    CO-ORDS  56973.070  70422.305  11579.826  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40M                 
SUPPORT
    CO-ORDS  56853.044  70422.305  11578.577  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40N                 
SUPPORT
    CO-ORDS  56853.044  70422.305  11578.577  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40O                 
WELD
    END-POINT  58397.790          70422.305          11594.655  3
    END-POINT  58397.790          70422.305          11594.655  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58402.290          70417.805          11594.702  3  BW
    END-POINT  58397.790          70422.305          11594.655  3  BW
    CENTRE-POINT   58402.290          70422.305          11594.702 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SI                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58402.290  70422.305  11594.702 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58413.070  70422.305  11594.702 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 4867.8'
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58402.290  70422.305  11594.702 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58402.290  70430.555  11594.702 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5869.21
WELD
    END-POINT  58402.290          70417.805          11594.702  3
    END-POINT  58402.290          70417.805          11594.702  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58402.290          70417.805          11594.702  3  BW
    END-POINT  58402.290          70370.055          11594.702  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SL                 
    PIPING-SPEC S1
WELD
    END-POINT  58402.290          70370.055          11594.702  3
    END-POINT  58402.290          70370.055          11594.702  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58406.789          70365.555          11594.749  3  BW
    END-POINT  58402.290          70370.055          11594.702  3  BW
    CENTRE-POINT   58402.290          70365.555          11594.702 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SH                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58406.789          70365.555          11594.749  3
    END-POINT  58406.789          70365.555          11594.749  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58406.789          70365.555          11594.749  3  BW
    END-POINT  58833.571          70365.555          11599.191  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SO                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58773.071  70365.555  11598.561  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TS                 
SUPPORT
    CO-ORDS  58653.071  70365.555  11597.312  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TT                 
SUPPORT
    CO-ORDS  58533.071  70365.555  11596.063  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TU                 
SUPPORT
    CO-ORDS  58413.071  70365.555  11594.814  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TV                 
SUPPORT
    CO-ORDS  58773.071  70365.555  11598.561  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TW                 
SUPPORT
    CO-ORDS  58533.071  70365.555  11596.063  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TY                 
SUPPORT
    CO-ORDS  58413.071  70365.555  11594.814  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3U0                 
SUPPORT
    CO-ORDS  58653.071  70365.555  11597.312  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3U2                 
WELD
    END-POINT  58833.571          70365.555          11599.191  3
    END-POINT  58833.571          70365.555          11599.191  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58833.571          70365.555          11599.191  3  BW
    END-POINT  58838.070          70370.055          11599.238  3  BW
    CENTRE-POINT   58838.070          70365.555          11599.238 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SG                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58838.070          70370.055          11599.238  3
    END-POINT  58838.070          70370.055          11599.238  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58838.070          70370.055          11599.238  3  BW
    END-POINT  58838.070          70417.805          11599.238  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SR                 
    PIPING-SPEC S1
WELD
    END-POINT  58838.070          70417.805          11599.238  3
    END-POINT  58838.070          70417.805          11599.238  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3ST                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58838.070          70417.805          11599.238  3  BW
    END-POINT  58842.570          70422.305          11599.285  3  BW
    CENTRE-POINT   58838.070          70422.305          11599.238 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SF                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58842.570          70422.305          11599.285  3
    END-POINT  58842.570          70422.305          11599.285  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60759.117          70422.305          11619.233  3  BW
    END-POINT  58842.570          70422.305          11599.285  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3IV                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60675.070  70422.305  11618.358  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3FN                 
SUPPORT
    CO-ORDS  60573.070  70422.305  11617.296  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3FP                 
SUPPORT
    CO-ORDS  60333.070  70422.305  11614.798  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3FR                 
SUPPORT
    CO-ORDS  60213.070  70422.305  11613.549  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3FT                 
SUPPORT
    CO-ORDS  59973.070  70422.305  11611.051  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3FV                 
SUPPORT
    CO-ORDS  59853.070  70422.305  11609.802  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3FX                 
SUPPORT
    CO-ORDS  59613.070  70422.305  11607.304  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3FZ                 
SUPPORT
    CO-ORDS  58893.069  70422.305  11599.810  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3HR                 
SUPPORT
    CO-ORDS  59613.070  70422.305  11607.304  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3I1                 
SUPPORT
    CO-ORDS  59733.070  70422.305  11608.553  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3I2                 
SUPPORT
    CO-ORDS  59733.070  70422.305  11608.553  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3I3                 
SUPPORT
    CO-ORDS  59853.070  70422.305  11609.802  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3I5                 
SUPPORT
    CO-ORDS  59973.070  70422.305  11611.051  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3I6                 
SUPPORT
    CO-ORDS  60093.070  70422.305  11612.300  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3I7                 
SUPPORT
    CO-ORDS  60093.070  70422.305  11612.300  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3I8                 
SUPPORT
    CO-ORDS  60213.070  70422.305  11613.549  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3IA                 
SUPPORT
    CO-ORDS  60333.070  70422.305  11614.798  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3IB                 
SUPPORT
    CO-ORDS  60453.070  70422.305  11616.047  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3IC                 
SUPPORT
    CO-ORDS  60453.070  70422.305  11616.047  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3ID                 
SUPPORT
    CO-ORDS  60573.070  70422.305  11617.296  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3IF                 
SUPPORT
    CO-ORDS  60675.070  70422.305  11618.358  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 EAST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3IG                 
FLOW-ARROW
    CO-ORDS  59783.933  70422.305  11609.083 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  60759.117          70422.305          11619.233  3
    END-POINT  60759.117          70422.305          11619.233  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_42S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60763.570          70422.305          11623.733  3  BW
    END-POINT  60759.117          70422.305          11619.233  3  BW
    CENTRE-POINT   60763.570          70422.305          11619.279 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SV                 
    PIPING-SPEC S1
    ANGLE 8940
WELD
    END-POINT  60763.570          70422.305          11623.733  3
    END-POINT  60763.570          70422.305          11623.733  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60763.570          70422.305          11623.733  3  BW
    END-POINT  60763.570          70422.305          11653.826  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SW                 
    PIPING-SPEC S1
WELD
    END-POINT  60763.570          70422.305          11653.826  3
    END-POINT  60763.570          70422.305          11653.826  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60763.570          70422.305          11653.826  3  BW
    END-POINT  60768.023          70422.305          11658.326  3  BW
    CENTRE-POINT   60763.570          70422.305          11658.279 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SU                 
    PIPING-SPEC S1
    ANGLE 8940
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60763.570  70422.305  11658.279 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60777.070  70422.305  11658.279 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT PIPE BRIDGE COL.
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60763.570  70422.305  11658.279 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60763.570  70430.555  11658.279 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5869.21
WELD
    END-POINT  60768.023          70422.305          11658.326  3
    END-POINT  60768.023          70422.305          11658.326  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60768.023          70422.305          11658.326  3  BW
    END-POINT  60825.321          70422.305          11658.922  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SZ                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60777.036  70422.305  11658.419  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3U7                 
WELD
    END-POINT  60825.321          70422.305          11658.922  3
    END-POINT  60825.321          70422.305          11658.922  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60825.321          70422.305          11658.922  3  BW
    END-POINT  60829.820          70417.805          11659.014  3  BW
    CENTRE-POINT   60829.820          70422.305          11658.969 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_28L                 
    PIPING-SPEC S1
    ANGLE 8999
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60829.820  70422.305  11658.969 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60837.186  70422.305  11658.969 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 5069.76
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60829.820  70422.305  11658.969 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60829.820  70430.440  11658.969 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5869.21
WELD
    END-POINT  60829.820          70417.805          11659.014  3
    END-POINT  60829.820          70417.805          11659.014  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_28M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60829.820          70417.805          11659.014  3  BW
    END-POINT  60829.820          69018.335          11673.038  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37C                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60829.820  69110.556  11672.114  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37Q                 
SUPPORT
    CO-ORDS  60829.820  69470.556  11668.506  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37S                 
SUPPORT
    CO-ORDS  60829.820  69830.556  11664.899  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37U                 
SUPPORT
    CO-ORDS  60829.820  70154.524  11661.652  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37W                 
SUPPORT
    CO-ORDS  60829.820  69230.556  11670.911  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38E                 
SUPPORT
    CO-ORDS  60829.820  69350.556  11669.709  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38G                 
SUPPORT
    CO-ORDS  60829.820  69590.556  11667.304  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38I                 
SUPPORT
    CO-ORDS  60829.820  69710.556  11666.101  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38K                 
SUPPORT
    CO-ORDS  60829.820  69938.556  11663.816  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38M                 
SUPPORT
    CO-ORDS  60829.820  70046.556  11662.734  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38O                 
SUPPORT
    CO-ORDS  60829.820  70262.556  11660.570  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38Q                 
SUPPORT
    CO-ORDS  60829.820  70370.556  11659.487  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38S                 
SUPPORT
    CO-ORDS  60829.820  70370.556  11659.487  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38U                 
SUPPORT
    CO-ORDS  60829.820  70262.556  11660.570  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38V                 
SUPPORT
    CO-ORDS  60829.820  70154.524  11661.652  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38W                 
SUPPORT
    CO-ORDS  60829.820  70046.556  11662.734  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38X                 
SUPPORT
    CO-ORDS  60829.820  69938.556  11663.816  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38Y                 
SUPPORT
    CO-ORDS  60829.820  69830.556  11664.899  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38Z                 
SUPPORT
    CO-ORDS  60829.820  69710.556  11666.101  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_390                 
SUPPORT
    CO-ORDS  60829.820  69590.556  11667.304  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_391                 
SUPPORT
    CO-ORDS  60829.820  69470.556  11668.506  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_392                 
SUPPORT
    CO-ORDS  60829.820  69350.556  11669.709  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_393                 
SUPPORT
    CO-ORDS  60829.820  69230.556  11670.911  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_394                 
SUPPORT
    CO-ORDS  60829.820  69110.556  11672.114  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_395                 
FLOW-ARROW
    CO-ORDS  60829.820  69892.897  11664.274 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  60829.820          69018.335          11673.038  3
    END-POINT  60829.820          69018.335          11673.038  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60829.820          69018.335          11673.038  3  BW
    END-POINT  60829.820          67623.309          11687.017  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37E                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60829.820  67670.555  11686.544  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37I                 
SUPPORT
    CO-ORDS  60829.820  68030.555  11682.936  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37K                 
SUPPORT
    CO-ORDS  60829.820  68390.556  11679.329  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37M                 
SUPPORT
    CO-ORDS  60829.820  68750.556  11675.721  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37O                 
SUPPORT
    CO-ORDS  60829.820  67790.555  11685.341  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37Y                 
SUPPORT
    CO-ORDS  60829.820  67910.555  11684.139  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_380                 
SUPPORT
    CO-ORDS  60829.820  68150.555  11681.734  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_382                 
SUPPORT
    CO-ORDS  60829.820  68270.556  11680.531  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_384                 
SUPPORT
    CO-ORDS  60829.820  68510.556  11678.126  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_386                 
SUPPORT
    CO-ORDS  60829.820  68630.556  11676.924  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_388                 
SUPPORT
    CO-ORDS  60829.820  68870.556  11674.519  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38A                 
SUPPORT
    CO-ORDS  60829.820  68990.556  11673.316  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_38C                 
SUPPORT
    CO-ORDS  60829.820  68990.556  11673.316  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_396                 
SUPPORT
    CO-ORDS  60829.820  68870.556  11674.519  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_397                 
SUPPORT
    CO-ORDS  60829.820  68750.556  11675.721  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_398                 
SUPPORT
    CO-ORDS  60829.820  68630.556  11676.924  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_399                 
SUPPORT
    CO-ORDS  60829.820  68510.556  11678.126  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39A                 
SUPPORT
    CO-ORDS  60829.820  68390.556  11679.329  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39B                 
SUPPORT
    CO-ORDS  60829.820  68270.556  11680.531  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39C                 
SUPPORT
    CO-ORDS  60829.820  68150.555  11681.734  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39D                 
SUPPORT
    CO-ORDS  60829.820  68030.555  11682.936  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39E                 
SUPPORT
    CO-ORDS  60829.820  67910.555  11684.139  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39F                 
SUPPORT
    CO-ORDS  60829.820  67790.555  11685.341  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39G                 
SUPPORT
    CO-ORDS  60829.820  67670.555  11686.544  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39H                 
WELD
    END-POINT  60829.820          67623.309          11687.017  3
    END-POINT  60829.820          67623.309          11687.017  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60829.820          67623.309          11687.017  3  BW
    END-POINT  60825.320          67618.809          11687.098  3  BW
    CENTRE-POINT   60829.820          67618.809          11687.062 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1W0                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60829.820  67618.809  11687.062 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60837.070  67618.809  11480.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 5069.76
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60829.820  67618.809  11687.062 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60829.820  67610.555  11687.062 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5634.21
WELD
    END-POINT  60825.320          67618.809          11687.098  3
    END-POINT  60825.320          67618.809          11687.098  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60825.320          67618.809          11687.098  3  BW
    END-POINT  60324.320          67618.805          11691.058  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WF                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60327.070  67618.805  11691.036  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39I                 
SUPPORT
    CO-ORDS  60439.570  67618.806  11690.147  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39K                 
SUPPORT
    CO-ORDS  60664.570  67618.808  11688.369  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39M                 
SUPPORT
    CO-ORDS  60777.070  67618.809  11687.479  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39O                 
SUPPORT
    CO-ORDS  60552.070  67618.807  11689.258  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39Q                 
SUPPORT
    CO-ORDS  60327.070  67618.805  11691.036  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39S                 
SUPPORT
    CO-ORDS  60439.570  67618.806  11690.147  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39T                 
SUPPORT
    CO-ORDS  60552.070  67618.807  11689.258  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39U                 
SUPPORT
    CO-ORDS  60664.570  67618.808  11688.369  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39V                 
SUPPORT
    CO-ORDS  60777.070  67618.809  11687.479  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39W                 
FLOW-ARROW
    CO-ORDS  60610.762  67618.808  11688.794 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  60324.320          67618.805          11691.058  3
    END-POINT  60324.320          67618.805          11691.058  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60324.320          67618.805          11691.058  3  BW
    END-POINT  60319.820          67614.306          11691.141  3  BW
    CENTRE-POINT   60319.820          67618.805          11691.094 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1VZ                 
    PIPING-SPEC S1
    ANGLE 8999
WELD
    END-POINT  60319.820          67614.306          11691.141  3
    END-POINT  60319.820          67614.306          11691.141  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60319.820          67614.306          11691.141  3  BW
    END-POINT  60319.820          66211.748          11705.721  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WI                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60319.820  67610.555  11691.180  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3A6                 
SUPPORT
    CO-ORDS  60319.820  67490.555  11692.427  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3A8                 
SUPPORT
    CO-ORDS  60319.820  67370.555  11693.674  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AA                 
SUPPORT
    CO-ORDS  60319.820  67130.555  11696.169  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AC                 
SUPPORT
    CO-ORDS  60319.820  67030.555  11697.209  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AE                 
SUPPORT
    CO-ORDS  60319.820  66930.555  11698.248  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AG                 
SUPPORT
    CO-ORDS  60319.820  66830.555  11699.288  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AI                 
SUPPORT
    CO-ORDS  60319.820  66722.555  11700.411  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AK                 
SUPPORT
    CO-ORDS  60319.820  66614.555  11701.533  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AM                 
SUPPORT
    CO-ORDS  60319.820  66506.555  11702.656  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AO                 
SUPPORT
    CO-ORDS  60319.820  66398.555  11703.779  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AQ                 
SUPPORT
    CO-ORDS  60319.820  66290.555  11704.902  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AS                 
SUPPORT
    CO-ORDS  60319.820  67250.555  11694.922  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AU                 
SUPPORT
    CO-ORDS  60319.820  67610.555  11691.180  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AW                 
SUPPORT
    CO-ORDS  60319.820  67490.555  11692.427  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AX                 
SUPPORT
    CO-ORDS  60319.820  67370.555  11693.674  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AY                 
SUPPORT
    CO-ORDS  60319.820  67250.555  11694.922  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3AZ                 
SUPPORT
    CO-ORDS  60319.820  67130.555  11696.169  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B0                 
SUPPORT
    CO-ORDS  60319.820  67030.555  11697.209  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B1                 
SUPPORT
    CO-ORDS  60319.820  66930.555  11698.248  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B2                 
SUPPORT
    CO-ORDS  60319.820  66830.555  11699.288  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B3                 
SUPPORT
    CO-ORDS  60319.820  66722.555  11700.411  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B4                 
SUPPORT
    CO-ORDS  60319.820  66614.555  11701.533  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B5                 
SUPPORT
    CO-ORDS  60319.820  66506.555  11702.656  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B6                 
SUPPORT
    CO-ORDS  60319.820  66398.555  11703.779  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B7                 
SUPPORT
    CO-ORDS  60319.820  66290.555  11704.902  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B8                 
FLOW-ARROW
    CO-ORDS  60319.820  66889.367  11698.677 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  60319.820          66211.748          11705.721  3
    END-POINT  60319.820          66211.748          11705.721  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60324.320          66207.248          11705.788  3  BW
    END-POINT  60319.820          66211.748          11705.721  3  BW
    CENTRE-POINT   60319.820          66207.248          11705.768 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1VY                 
    PIPING-SPEC S1
    ANGLE 8999
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60319.820  66207.248  11705.768 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60552.000  66207.248  11705.768 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60319.820  66207.248  11705.768 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60319.820  66119.999  11705.768 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
WELD
    END-POINT  60324.320          66207.248          11705.788  3
    END-POINT  60324.320          66207.248          11705.788  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60324.320          66207.248          11705.788  3  BW
    END-POINT  60394.546          66207.239          11706.104  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WL                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60327.070  66207.247  11705.800  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2BB                 
SUPPORT
    CO-ORDS  60328.738  66207.247  11705.808  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2BC                 
SUPPORT
    CO-ORDS  60328.697  66207.247  11705.808  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2CA                 
END-POSITION-OPEN 
    CO-ORDS  60394.546          66207.239          11706.104 
ELBOW
    END-POINT  56758.883          70467.177          11425.315  3  BW
    END-POINT  56758.883          70462.677          11429.815  3  BW
    CENTRE-POINT   56758.883          70467.177          11429.815 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_IG                  
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  56758.883          70467.177          11425.315  3
    END-POINT  56758.883          70467.177          11425.315  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_II                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  56758.883          70467.177          11425.315  3  BW
    END-POINT  56758.883          70467.177          11421.815  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_H2                  
    PIPING-SPEC S1
WELD
    END-POINT  56758.883          70467.177          11421.815  1.5
    END-POINT  56758.883          70467.177          11421.815  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_H3                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  56758.883          70467.177          11419.375  1.5  FL
    END-POINT  56758.883          70467.177          11421.815  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_GY                  
    PIPING-SPEC S1
GASKET
    END-POINT  56758.883          70467.177          11419.375  1.5
    END-POINT  56758.883          70467.177          11419.250  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_29V                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56758.883          70467.177          11419.375 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_29W                 
END-POSITION-OPEN 
    CO-ORDS  56758.883          70467.177          11419.250 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL3X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPAB-3
    DESCRIPTION ADJUSTABLE POST SUPPORT, P618-FIG. 2(NOT BOLTED TO CONC.)
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK3
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GENSTR3
    DESCRIPTION FLOW METER, FE-301-04
    RATING 150LB
ITEM-CODE VALVGAT3
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, 150LB, RF, GA-01-ST-501, w/CHAIN OPERATOR
    RATING 150LB
ITEM-CODE SUPUB-3
    DESCRIPTION U BOLT GUIDE, P648-FIG. 2, SHIMM REQ'D. FOR SLOPED PIPE
ITEM-CODE SUPPS-3
    DESCRIPTION PROTECTION SADDLE, P621
ITEM-CODE SUPUB-3_1
    DESCRIPTION U BOLT GUIDE, P648-FIG. 2
ITEM-CODE SUPAG-3
    DESCRIPTION SHIM REQ'D. FOR SLOPED PIPE
ITEM-CODE SUPUB-3_2
    DESCRIPTION U BOLT ANCHOR, P648-FIG. 3
ITEM-CODE SUPAG-3_1
    DESCRIPTION P629-FIG. 4, L=1'6", X=3'-9"
ITEM-CODE SUPLTR3
    DESCRIPTION ANGLE STEEL TRAPEZE HANGER BAR WITH VERTICAL SUPPORTS
ITEM-CODE REDCON3X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
