ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046031
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046031-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58173.960          63913.398          11844.669  0.5  SC MALE 
    END-POINT  58173.960          63913.398          11847.669  0.5  SC MALE 
    CENTRE-POINT  58173.960  63913.398  11846.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5L                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58173.960  63913.398  11847.169 
    TEXT TO 1222006$MANIFOLD # 13$VALVE # 010
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58173.960          63913.398          11844.669  0.5  SC MALE 
    END-POINT  58173.960          63913.398          11844.669  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5N                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58173.960          63913.398          11847.669 
VALVE
    END-POINT  58173.960          63913.398          11843.169  0.5  SC FEMALE 
    END-POINT  58173.960          63913.398          11844.669  0.5  SC FEMALE 
    CENTRE-POINT   58173.960          63913.398          11843.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5O                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58173.960          63913.398          11843.169  0.5  SC FEMALE 
    END-POINT  58173.960          63913.398          11843.169  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58173.960          63913.398          11839.239  0.5  SC MALE 
    END-POINT  58173.960          63913.398          11843.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5R                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58173.960          63913.398          11839.239  0.5  SC MALE 
    END-POINT  58173.960          63913.398          11839.239  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58173.250          63913.398          11838.009  1.5  SC FEMALE 
    END-POINT  58174.670          63913.398          11838.009  1.5  SC FEMALE 
    CENTRE-POINT   58173.960          63913.398          11838.009 
    BRANCH1-POINT  58173.960          63913.398          11839.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5T                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58173.250          63913.398          11838.009  1.5  SC FEMALE 
    END-POINT  58173.250          63913.398          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58174.670          63913.398          11838.009  1.5  SC FEMALE 
    END-POINT  58174.670          63913.398          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58179.750          63913.397          11838.009  1.5  SC MALE 
    END-POINT  58174.670          63913.398          11838.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5W                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58179.750          63913.397          11838.009  1.5  SC MALE 
    END-POINT  58179.750          63913.397          11838.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58179.750          63913.397          11838.009  1.5  SC FEMALE 
    END-POINT  58181.170          63913.397          11838.009  1.5  SC FEMALE 
    CENTRE-POINT   58180.460          63913.397          11838.009 
    BRANCH1-POINT  58180.460          63913.397          11839.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5Y                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58181.170          63913.397          11838.009  1.5  SC FEMALE 
    END-POINT  58181.170          63913.397          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58180.460          63913.397          11839.239  0.5  SC FEMALE 
    END-POINT  58180.460          63913.397          11839.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K60                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58180.460          63913.397          11839.239  0.5  SC MALE 
    END-POINT  58180.460          63913.397          11843.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K61                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58180.460          63913.397          11843.169  0.5  SC MALE 
    END-POINT  58180.460          63913.397          11843.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K62                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58180.460          63913.397          11843.169  0.5  SC FEMALE 
    END-POINT  58180.460          63913.397          11844.669  0.5  SC FEMALE 
    CENTRE-POINT   58180.460          63913.397          11843.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K63                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58180.460          63913.397          11844.669  0.5  SC FEMALE 
    END-POINT  58180.460          63913.397          11844.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K65                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58180.460          63913.397          11844.669  0.5  SC MALE 
    END-POINT  58180.460          63913.397          11847.669  0.5  SC MALE 
    CENTRE-POINT  58180.460  63913.397  11846.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K66                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58180.460  63913.397  11847.169 
    TEXT TO 1217012$MANIFOLD # 13$VALVE # 009
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58180.460          63913.397          11847.669 
PIPE
    END-POINT  58186.250          63913.396          11838.009  1.5  SC MALE 
    END-POINT  58181.170          63913.397          11838.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K68                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58186.250          63913.396          11838.009  1.5  SC MALE 
    END-POINT  58186.250          63913.396          11838.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K69                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58186.250          63913.396          11838.009  1.5  SC FEMALE 
    END-POINT  58187.670          63913.396          11838.009  1.5  SC FEMALE 
    CENTRE-POINT   58186.960          63913.396          11838.009 
    BRANCH1-POINT  58186.960          63913.396          11839.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6A                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58187.670          63913.396          11838.009  1.5  SC FEMALE 
    END-POINT  58187.670          63913.396          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58186.960          63913.396          11839.239  0.5  SC FEMALE 
    END-POINT  58186.960          63913.396          11839.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58186.960          63913.396          11839.239  0.5  SC MALE 
    END-POINT  58186.960          63913.396          11843.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6D                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58186.960          63913.396          11843.169  0.5  SC MALE 
    END-POINT  58186.960          63913.396          11843.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58186.960          63913.396          11843.169  0.5  SC FEMALE 
    END-POINT  58186.960          63913.396          11844.669  0.5  SC FEMALE 
    CENTRE-POINT   58186.960          63913.396          11843.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6F                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58186.960          63913.396          11844.669  0.5  SC FEMALE 
    END-POINT  58186.960          63913.396          11844.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58186.960          63913.396          11844.669  0.5  SC MALE 
    END-POINT  58186.960          63913.396          11847.669  0.5  SC MALE 
    CENTRE-POINT  58186.960  63913.396  11846.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6I                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58186.960  63913.396  11847.169 
    TEXT TO 1217010$MANIFOLD # 13$VALVE # 008
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58186.960          63913.396          11847.669 
PIPE
    END-POINT  58192.750          63913.395          11838.009  1.5  SC MALE 
    END-POINT  58187.670          63913.396          11838.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6K                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58192.750          63913.395          11838.009  1.5  SC MALE 
    END-POINT  58192.750          63913.395          11838.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58192.750          63913.395          11838.009  1.5  SC FEMALE 
    END-POINT  58194.170          63913.395          11838.009  1.5  SC FEMALE 
    CENTRE-POINT   58193.460          63913.395          11838.009 
    BRANCH1-POINT  58193.460          63913.395          11839.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6M                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58194.170          63913.395          11838.009  1.5  SC FEMALE 
    END-POINT  58194.170          63913.395          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58193.460          63913.395          11839.239  0.5  SC FEMALE 
    END-POINT  58193.460          63913.395          11839.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58193.460          63913.395          11839.239  0.5  SC MALE 
    END-POINT  58193.460          63913.395          11843.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6P                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58193.460          63913.395          11843.169  0.5  SC MALE 
    END-POINT  58193.460          63913.395          11843.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58193.460          63913.395          11843.169  0.5  SC FEMALE 
    END-POINT  58193.460          63913.395          11844.669  0.5  SC FEMALE 
    CENTRE-POINT   58193.460          63913.395          11843.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6R                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58193.460          63913.395          11844.669  0.5  SC FEMALE 
    END-POINT  58193.460          63913.395          11844.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58193.460          63913.395          11844.669  0.5  SC MALE 
    END-POINT  58193.460          63913.395          11847.669  0.5  SC MALE 
    CENTRE-POINT  58193.460  63913.395  11846.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6U                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58193.460  63913.395  11847.169 
    TEXT TO 1217007$MANIFOLD # 13$VALVE # 007
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58193.460          63913.395          11847.669 
PIPE
    END-POINT  58199.250          63913.394          11838.009  1.5  SC MALE 
    END-POINT  58194.170          63913.395          11838.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6W                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58199.250          63913.394          11838.009  1.5  SC MALE 
    END-POINT  58199.250          63913.394          11838.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58199.250          63913.394          11838.009  1.5  SC FEMALE 
    END-POINT  58200.670          63913.394          11838.009  1.5  SC FEMALE 
    CENTRE-POINT   58199.960          63913.394          11838.009 
    BRANCH1-POINT  58199.960          63913.394          11839.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K6Y                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58199.960  63913.394  11838.009 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58199.960  63898.800  11838.009 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58200.670          63913.394          11838.009  1.5  SC FEMALE 
    END-POINT  58200.670          63913.394          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K70                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58199.960          63913.394          11839.239  0.5  SC FEMALE 
    END-POINT  58199.960          63913.394          11839.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K71                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58199.960          63913.394          11839.239  0.5  SC MALE 
    END-POINT  58199.960          63913.394          11843.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K72                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58199.960          63913.394          11843.169  0.5  SC MALE 
    END-POINT  58199.960          63913.394          11843.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K73                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58199.960          63913.394          11843.169  0.5  SC FEMALE 
    END-POINT  58199.960          63913.394          11844.669  0.5  SC FEMALE 
    CENTRE-POINT   58199.960          63913.394          11843.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K74                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58199.960          63913.394          11844.669  0.5  SC FEMALE 
    END-POINT  58199.960          63913.394          11844.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K76                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58199.960          63913.394          11844.669  0.5  SC MALE 
    END-POINT  58199.960          63913.394          11847.669  0.5  SC MALE 
    CENTRE-POINT  58199.960  63913.394  11846.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K77                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58199.960  63913.394  11847.169 
    TEXT TO 1217006$MANIFOLD # 13$VALVE # 006
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58199.960          63913.394          11847.669 
PIPE
    END-POINT  58209.560          63913.393          11838.009  1.5  SC MALE 
    END-POINT  58200.670          63913.394          11838.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K79                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58209.560          63913.393          11838.009  1.5  SC MALE 
    END-POINT  58209.560          63913.393          11838.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58211.930          63913.393          11838.009  1.5  SC FEMALE 
    END-POINT  58209.560          63913.393          11838.009  1.5  SC FEMALE 
    CENTRE-POINT   58210.800          63913.393          11838.009 
    BRANCH1-POINT  58210.800          63913.393          11836.769  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7B                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58210.800  63913.393  11838.009 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63913.393  11838.009 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58211.930          63913.393          11838.009  1.5  SC FEMALE 
    END-POINT  58211.930          63913.393          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58210.800          63913.393          11836.769  1.5  SC FEMALE 
    END-POINT  58210.800          63913.393          11836.769  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58210.800          63913.393          11836.769  1.5  SC MALE 
    END-POINT  58210.800          63913.393          11815.249  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7F                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58210.800          63913.393          11815.249  1.5  SC MALE 
    END-POINT  58210.800          63913.393          11815.249  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58209.560          63913.393          11814.009  1.5  SC FEMALE 
    END-POINT  58211.930          63913.393          11814.009  1.5  SC FEMALE 
    CENTRE-POINT   58210.800          63913.393          11814.009 
    BRANCH1-POINT  58210.800          63913.393          11815.249  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7H                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58210.800  63913.393  11814.009 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63913.393  11814.009 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58209.560          63913.393          11814.009  1.5  SC FEMALE 
    END-POINT  58209.560          63913.393          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58211.930          63913.393          11814.009  1.5  SC FEMALE 
    END-POINT  58211.930          63913.393          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58211.930          63913.393          11814.009  1.5  SC MALE 
    END-POINT  58213.360          63913.393          11814.009  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7L                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58213.360          63913.393          11814.009 
PIPE
    END-POINT  58204.160          63913.394          11814.009  1.5  SC MALE 
    END-POINT  58209.560          63913.393          11814.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7M                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58206.860  63913.393  11814.009  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7N                 
SCREWED-WELD
    END-POINT  58204.160          63913.394          11814.009  1.5  SC MALE 
    END-POINT  58204.160          63913.394          11814.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58204.160          63913.394          11814.009  1.5  SC FEMALE 
    END-POINT  58202.260          63913.394          11814.009  1.5  SC FEMALE 
    CENTRE-POINT   58203.210          63913.394          11814.009 
    BRANCH1-POINT  58203.210          63913.394          11812.789  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7P                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58203.210  63913.394  11814.009 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58203.210  63898.800  11814.009 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58202.260          63913.394          11814.009  1.5  SC FEMALE 
    END-POINT  58202.260          63913.394          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58203.210          63913.394          11812.789  1  SC FEMALE 
    END-POINT  58203.210          63913.394          11812.789  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58203.210          63913.394          11812.789  1  SC MALE 
    END-POINT  58203.210          63913.394          11809.789  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7T                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58203.210          63913.394          11809.789  1  SC MALE 
    END-POINT  58203.210          63913.394          11809.789  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58203.210          63913.394          11809.789  1  SC FEMALE 
    END-POINT  58203.210          63913.394          11808.369  1  SC FEMALE 
    CENTRE-POINT   58203.210          63913.394          11808.994 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7V                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58203.210          63913.394          11808.369  1  SC FEMALE 
    END-POINT  58203.210          63913.394          11808.369  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58203.210          63913.394          11808.369  1  SC MALE 
    END-POINT  58203.210          63913.394          11807.239  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7Y                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58203.210          63913.394          11807.239 
PIPE
    END-POINT  58202.260          63913.394          11814.009  1.5  SC MALE 
    END-POINT  58197.420          63913.394          11814.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K7Z                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58197.420          63913.394          11814.009  1.5  SC MALE 
    END-POINT  58197.420          63913.394          11814.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K80                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58196.000          63913.394          11814.009  1.5  SC FEMALE 
    END-POINT  58197.420          63913.394          11814.009  1.5  SC FEMALE 
    CENTRE-POINT   58196.710          63913.394          11814.009 
    BRANCH1-POINT  58196.710          63913.394          11815.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K81                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58196.000          63913.394          11814.009  1.5  SC FEMALE 
    END-POINT  58196.000          63913.394          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K82                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58196.710          63913.394          11815.239  0.5  SC FEMALE 
    END-POINT  58196.710          63913.394          11815.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K83                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58196.710          63913.394          11815.239  0.5  SC MALE 
    END-POINT  58196.710          63913.394          11819.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K84                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58196.710          63913.394          11819.169  0.5  SC MALE 
    END-POINT  58196.710          63913.394          11819.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K85                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58196.710          63913.394          11819.169  0.5  SC FEMALE 
    END-POINT  58196.710          63913.394          11820.669  0.5  SC FEMALE 
    CENTRE-POINT   58196.710          63913.394          11819.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K86                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58196.710          63913.394          11820.669  0.5  SC FEMALE 
    END-POINT  58196.710          63913.394          11820.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K88                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58196.710          63913.394          11820.669  0.5  SC MALE 
    END-POINT  58196.710          63913.394          11823.669  0.5  SC MALE 
    CENTRE-POINT  58196.710  63913.394  11822.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K89                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58196.710  63913.394  11823.169 
    TEXT TO 1213006$MANIFOLD # 13$VALVE # 001
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58196.710          63913.394          11823.669 
PIPE
    END-POINT  58190.920          63913.395          11814.009  1.5  SC MALE 
    END-POINT  58196.000          63913.394          11814.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8B                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58190.920          63913.395          11814.009  1.5  SC MALE 
    END-POINT  58190.920          63913.395          11814.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58189.500          63913.395          11814.009  1.5  SC FEMALE 
    END-POINT  58190.920          63913.395          11814.009  1.5  SC FEMALE 
    CENTRE-POINT   58190.210          63913.395          11814.009 
    BRANCH1-POINT  58190.210          63913.395          11815.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8D                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58189.500          63913.395          11814.009  1.5  SC FEMALE 
    END-POINT  58189.500          63913.395          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58190.210          63913.395          11815.239  0.5  SC FEMALE 
    END-POINT  58190.210          63913.395          11815.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58190.210          63913.395          11815.239  0.5  SC MALE 
    END-POINT  58190.210          63913.395          11819.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8G                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58190.210          63913.395          11819.169  0.5  SC MALE 
    END-POINT  58190.210          63913.395          11819.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58190.210          63913.395          11819.169  0.5  SC FEMALE 
    END-POINT  58190.210          63913.395          11820.669  0.5  SC FEMALE 
    CENTRE-POINT   58190.210          63913.395          11819.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8I                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58190.210          63913.395          11820.669  0.5  SC FEMALE 
    END-POINT  58190.210          63913.395          11820.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58190.210          63913.395          11820.669  0.5  SC MALE 
    END-POINT  58190.210          63913.395          11823.669  0.5  SC MALE 
    CENTRE-POINT  58190.210  63913.395  11822.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8L                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58190.210  63913.395  11823.169 
    TEXT TO 1213007$MANIFOLD # 13$VALVE # 002
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58190.210          63913.395          11823.669 
PIPE
    END-POINT  58184.420          63913.396          11814.009  1.5  SC MALE 
    END-POINT  58189.500          63913.395          11814.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8N                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58184.420          63913.396          11814.009  1.5  SC MALE 
    END-POINT  58184.420          63913.396          11814.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58183.000          63913.396          11814.009  1.5  SC FEMALE 
    END-POINT  58184.420          63913.396          11814.009  1.5  SC FEMALE 
    CENTRE-POINT   58183.710          63913.396          11814.009 
    BRANCH1-POINT  58183.710          63913.396          11815.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8P                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58183.000          63913.396          11814.009  1.5  SC FEMALE 
    END-POINT  58183.000          63913.396          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58183.710          63913.396          11815.239  0.5  SC FEMALE 
    END-POINT  58183.710          63913.396          11815.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58183.710          63913.396          11815.239  0.5  SC MALE 
    END-POINT  58183.710          63913.396          11819.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8S                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58183.710          63913.396          11819.169  0.5  SC MALE 
    END-POINT  58183.710          63913.396          11819.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58183.710          63913.396          11819.169  0.5  SC FEMALE 
    END-POINT  58183.710          63913.396          11820.669  0.5  SC FEMALE 
    CENTRE-POINT   58183.710          63913.396          11819.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8U                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58183.710          63913.396          11820.669  0.5  SC FEMALE 
    END-POINT  58183.710          63913.396          11820.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58183.710          63913.396          11820.669  0.5  SC MALE 
    END-POINT  58183.710          63913.396          11823.669  0.5  SC MALE 
    CENTRE-POINT  58183.710  63913.396  11822.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8X                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58183.710  63913.396  11823.169 
    TEXT TO 1213008$MANIFOLD # 13$VALVE # 003
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58183.710          63913.396          11823.669 
PIPE
    END-POINT  58177.920          63913.397          11814.009  1.5  SC MALE 
    END-POINT  58183.000          63913.396          11814.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K8Z                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.920          63913.397          11814.009  1.5  SC MALE 
    END-POINT  58177.920          63913.397          11814.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K90                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58176.500          63913.397          11814.009  1.5  SC FEMALE 
    END-POINT  58177.920          63913.397          11814.009  1.5  SC FEMALE 
    CENTRE-POINT   58177.210          63913.397          11814.009 
    BRANCH1-POINT  58177.210          63913.397          11815.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K91                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58176.500          63913.397          11814.009  1.5  SC FEMALE 
    END-POINT  58176.500          63913.397          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K92                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.210          63913.397          11815.239  0.5  SC FEMALE 
    END-POINT  58177.210          63913.397          11815.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K93                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58177.210          63913.397          11815.239  0.5  SC MALE 
    END-POINT  58177.210          63913.397          11819.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K94                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.210          63913.397          11819.169  0.5  SC MALE 
    END-POINT  58177.210          63913.397          11819.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K95                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58177.210          63913.397          11819.169  0.5  SC FEMALE 
    END-POINT  58177.210          63913.397          11820.669  0.5  SC FEMALE 
    CENTRE-POINT   58177.210          63913.397          11819.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K96                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58177.210          63913.397          11820.669  0.5  SC FEMALE 
    END-POINT  58177.210          63913.397          11820.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K98                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58177.210          63913.397          11820.669  0.5  SC MALE 
    END-POINT  58177.210          63913.397          11823.669  0.5  SC MALE 
    CENTRE-POINT  58177.210  63913.397  11822.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K99                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58177.210  63913.397  11823.169 
    TEXT TO 1215010$MANIFOLD # 13$VALVE # 004
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58177.210          63913.397          11823.669 
PIPE
    END-POINT  58171.420          63913.398          11814.009  1.5  SC MALE 
    END-POINT  58176.500          63913.397          11814.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9B                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58171.420          63913.398          11814.009  1.5  SC MALE 
    END-POINT  58171.420          63913.398          11814.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58170.000          63913.398          11814.009  1.5  SC FEMALE 
    END-POINT  58171.420          63913.398          11814.009  1.5  SC FEMALE 
    CENTRE-POINT   58170.710          63913.398          11814.009 
    BRANCH1-POINT  58170.710          63913.398          11815.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9D                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58170.000          63913.398          11814.009  1.5  SC FEMALE 
    END-POINT  58170.000          63913.398          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58170.710          63913.398          11815.239  0.5  SC FEMALE 
    END-POINT  58170.710          63913.398          11815.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58170.710          63913.398          11815.239  0.5  SC MALE 
    END-POINT  58170.710          63913.398          11819.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9G                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58170.710          63913.398          11819.169  0.5  SC MALE 
    END-POINT  58170.710          63913.398          11819.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58170.710          63913.398          11819.169  0.5  SC FEMALE 
    END-POINT  58170.710          63913.398          11820.669  0.5  SC FEMALE 
    CENTRE-POINT   58170.710          63913.398          11819.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9I                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58170.710          63913.398          11820.669  0.5  SC FEMALE 
    END-POINT  58170.710          63913.398          11820.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58170.710          63913.398          11820.669  0.5  SC MALE 
    END-POINT  58170.710          63913.398          11823.669  0.5  SC MALE 
    CENTRE-POINT  58170.710  63913.398  11822.169 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9L                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58170.710  63913.398  11823.169 
    TEXT TO 1215011$MANIFOLD # 13$VALVE # 005
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58170.710          63913.398          11823.669 
PIPE
    END-POINT  58164.920          63913.399          11814.009  1.5  SC MALE 
    END-POINT  58170.000          63913.398          11814.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9N                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58167.698  63913.399  11814.009 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58164.920          63913.399          11814.009  1.5  SC MALE 
    END-POINT  58164.920          63913.399          11814.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58163.500          63913.399          11814.009  1.5  SC FEMALE 
    END-POINT  58164.920          63913.399          11814.009  1.5  SC FEMALE 
    CENTRE-POINT   58164.210          63913.399          11814.009 
    BRANCH1-POINT  58164.210          63913.399          11815.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9Q                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58163.500          63913.399          11814.009  1.5  SC FEMALE 
    END-POINT  58163.500          63913.399          11814.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58164.210          63913.399          11815.239  0.5  SC FEMALE 
    END-POINT  58164.210          63913.399          11815.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58164.210          63913.399          11815.239  0.5  SC MALE 
    END-POINT  58164.210          63913.399          11819.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9T                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58164.210          63913.399          11819.169  0.5  SC MALE 
    END-POINT  58164.210          63913.399          11819.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58164.210          63913.399          11819.169  0.5  SC FEMALE 
    END-POINT  58164.210          63913.399          11820.669  0.5  SC FEMALE 
    CENTRE-POINT   58164.210          63913.399          11819.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9V                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58164.210          63913.399          11820.669  0.5  SC FEMALE 
    END-POINT  58164.210          63913.399          11820.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58164.210          63913.399          11820.669  0.5  SC MALE 
    END-POINT  58164.210          63913.399          11822.669  0.5  SC MALE 
    CENTRE-POINT  58164.210  63913.399  11821.669 
    SKEY NCSC
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K9Y                 
    TAG TO SPARE                        
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58164.210  63913.399  11822.169 
    TEXT SPARE
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58164.210          63913.399          11822.669 
PIPE
    END-POINT  58163.500          63913.399          11814.009  1.5  SC MALE 
    END-POINT  58158.100          63913.400          11814.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA0                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58160.800  63913.400  11814.009  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA1                 
SCREWED-WELD
    END-POINT  58158.100          63913.400          11814.009  1.5  SC MALE 
    END-POINT  58158.100          63913.400          11814.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58158.100          63913.400          11814.009  1.5  SC FEMALE 
    END-POINT  58156.860          63913.400          11815.249  1.5  SC FEMALE 
    CENTRE-POINT   58156.860          63913.400          11814.009 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA3                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58156.860          63913.400          11815.249  1.5  SC FEMALE 
    END-POINT  58156.860          63913.400          11815.249  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58156.860          63913.400          11815.249  1.5  SC MALE 
    END-POINT  58156.860          63913.400          11836.769  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA5                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58156.860  63913.400  11826.711 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58156.860          63913.400          11836.769  1.5  SC MALE 
    END-POINT  58156.860          63913.400          11836.769  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58156.860          63913.400          11836.769  1.5  SC FEMALE 
    END-POINT  58156.860          63913.400          11839.249  1.5  SC FEMALE 
    CENTRE-POINT   58156.860          63913.400          11838.009 
    BRANCH1-POINT  58158.100          63913.400          11838.009  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA8                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58156.860          63913.400          11839.249  1.5  SC FEMALE 
    END-POINT  58156.860          63913.400          11839.249  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KA9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58158.100          63913.400          11838.009  1.5  SC FEMALE 
    END-POINT  58158.100          63913.400          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58166.750          63913.399          11838.009  1.5  SC MALE 
    END-POINT  58158.100          63913.400          11838.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAB                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58162.707  63913.399  11838.009 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58166.750          63913.399          11838.009  1.5  SC MALE 
    END-POINT  58166.750          63913.399          11838.009  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58166.750          63913.399          11838.009  1.5  SC FEMALE 
    END-POINT  58168.170          63913.399          11838.009  1.5  SC FEMALE 
    CENTRE-POINT   58167.460          63913.399          11838.009 
    BRANCH1-POINT  58167.460          63913.399          11839.239  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAE                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58168.170          63913.399          11838.009  1.5  SC FEMALE 
    END-POINT  58168.170          63913.399          11838.009  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58167.460          63913.399          11839.239  0.5  SC FEMALE 
    END-POINT  58167.460          63913.399          11839.239  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58167.460          63913.399          11839.239  0.5  SC MALE 
    END-POINT  58167.460          63913.399          11843.169  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58167.460          63913.399          11843.169  0.5  SC MALE 
    END-POINT  58167.460          63913.399          11843.169  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58167.460          63913.399          11843.169  0.5  SC FEMALE 
    END-POINT  58167.460          63913.399          11844.669  0.5  SC FEMALE 
    CENTRE-POINT   58167.460          63913.399          11843.919 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58167.460          63913.399          11844.669  0.5  SC FEMALE 
    END-POINT  58167.460          63913.399          11844.669  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58167.460          63913.399          11844.669  0.5  SC MALE 
    END-POINT  58167.460          63913.399          11846.669  0.5  SC MALE 
    CENTRE-POINT  58167.460  63913.399  11845.669 
    SKEY NCSC
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAM                 
    TAG TO SPARE                        
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58167.460  63913.399  11846.169 
    TEXT SPARE
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58167.460          63913.399          11846.669 
PIPE
    END-POINT  58173.250          63913.398          11838.009  1.5  SC MALE 
    END-POINT  58168.170          63913.399          11838.009  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAO                 
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58156.860          63913.400          11839.249  1.5  SC MALE 
    END-POINT  58156.860          63913.400          11878.923  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58156.860          63913.400          11878.923  1.5  SC MALE 
    END-POINT  58156.860          63913.400          11878.923  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58155.620          63913.400          11880.163  1.5  SC FEMALE 
    END-POINT  58156.860          63913.400          11878.923  1.5  SC FEMALE 
    CENTRE-POINT   58156.860          63913.400          11880.163 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAR                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58155.620          63913.400          11880.163  1.5  SC FEMALE 
    END-POINT  58155.620          63913.400          11880.163  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58114.290          63913.400          11880.163  1.5  SC MALE 
    END-POINT  58155.620          63913.400          11880.163  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAT                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58121.793  63913.400  11880.163  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAU                 
SCREWED-WELD
    END-POINT  58114.290          63913.400          11880.163  1.5  SC MALE 
    END-POINT  58114.290          63913.400          11880.163  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58114.290          63913.400          11880.163  1.5  SC FEMALE 
    END-POINT  58113.050          63913.400          11878.923  1.5  SC FEMALE 
    CENTRE-POINT   58113.050          63913.400          11880.163 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58113.050  63913.400  11880.163 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58113.050  63898.800  11880.163 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58113.050          63913.400          11878.923  1.5  SC FEMALE 
    END-POINT  58113.050          63913.400          11878.923  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63913.400          11863.403  1.5  SC MALE 
    END-POINT  58113.050          63913.400          11878.923  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KAZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63913.400          11863.403  1.5  SC MALE 
    END-POINT  58113.050          63913.400          11863.403  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KB0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58113.050          63913.400          11863.403  1.5  SC FEMALE 
    END-POINT  58113.050          63912.160          11862.163  1.5  SC FEMALE 
    CENTRE-POINT   58113.050          63913.400          11862.163 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KB1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58113.050  63913.400  11862.163 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63913.400  11862.163 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58113.050          63912.160          11862.163  1.5  SC FEMALE 
    END-POINT  58113.050          63912.160          11862.163  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KB3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63896.094          11862.163  1.5  SC MALE 
    END-POINT  58113.050          63912.160          11862.163  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KB4                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58113.050  63905.077  11862.163 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58113.050          63896.094          11862.163  1.5  SC MALE 
    END-POINT  58113.050          63896.094          11862.163  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KB6                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58113.050          63896.094          11862.163  1.5  SC FEMALE 
    END-POINT  58113.050          63892.470          11862.163  1.5  SC FEMALE 
    CENTRE-POINT   58113.050          63894.282          11862.163 
    SKEY CKSC
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KB7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63892.470          11862.163  1.5  SC FEMALE 
    END-POINT  58113.050          63892.470          11862.163  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KB8                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63887.662          11862.163  1.5  SC MALE 
    END-POINT  58113.050          63892.470          11862.163  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KB9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63887.662          11862.163  1.5  SC MALE 
    END-POINT  58113.050          63887.662          11862.163  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KBA                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58113.050          63886.182          11862.163  1.5  SC FEMALE 
    END-POINT  58113.050          63887.662          11862.163  1.5  SC FEMALE 
    CENTRE-POINT   58113.050          63886.922          11862.163 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KBB                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58113.050          63886.182          11862.163  1.5  SC FEMALE 
    END-POINT  58113.050          63886.182          11862.163  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KBD                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63886.182          11862.163  1.5  SC MALE 
    END-POINT  58113.050          63880.374          11862.163  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KBE                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58113.050          63880.374          11862.163 
MISC-COMPONENT
    END-POINT  58211.930          63913.393          11838.009  1.5  SC MALE 
    END-POINT  58213.360          63913.393          11838.009  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_KBG                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58213.360          63913.393          11838.009 
MATERIALS
ITEM-CODE GENSTR1/2
    DESCRIPTION PIPE TO TUBING ADAPTOR
    RATING 2000LB
ITEM-CODE VALVGLB1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SCF, 150LB, GL-01-BA-000
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE TEERED1+1/2X1+1/2X1/
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PLGHEX1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=2'-6", P622 FIG 1
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE PLGHEX1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, L=2'-10 7/16", P624 FIG 4
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION SWING CHECK VALVE, SCF, 200LB, CS-01-BA-100
    RATING 200LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
