ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-2036070
PIPING-SPEC C1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3UP_GS02.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036070-N-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP2-UT-81-D-026
    ATTRIBUTE21 D. HAMM
    ATTRIBUTE22 9/5/2012
    ATTRIBUTE23 N/A
    ATTRIBUTE25 K. COLLINS
    ATTRIBUTE26 9/5/2012
    ATTRIBUTE27 S. HOYER
    ATTRIBUTE28 9/5/2012
    ATTRIBUTE29 D. DOTY
    ATTRIBUTE30 9/5/2012
    ATTRIBUTE31 G. PAGE
    ATTRIBUTE32 9/5/2012
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 9/7/2012
    ATTRIBUTE36 DBH
    ATTRIBUTE37 KC
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR CONSTRUCTION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
SUPPORT
    CO-ORDS  60332.936  66282.575  11617.188 
** Unable to determine support size **

    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1NQ                 
MATERIALS
ITEM-CODE SUPUB-2
    DESCRIPTION U BOLT GUIDE, P651-FIG. 1
