ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221004
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 20TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1221004-20TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-021
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/2/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/2/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/2/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/2/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/2/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 3/2/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58091.050          64084.920          11456.431  0.5  SC MALE 
    END-POINT  58091.050          64084.920          11457.301  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERF                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58091.050          64084.920          11457.301 
SCREWED-WELD
    END-POINT  58091.050          64084.920          11456.431  0.5  SC MALE 
    END-POINT  58091.050          64084.920          11456.431  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58091.050          64084.920          11455.081  0.5  SC FEMALE 
    END-POINT  58091.050          64084.920          11456.431  0.5  SC FEMALE 
    CENTRE-POINT   58091.050          64084.920          11455.821 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERH                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  58091.050          64084.920          11455.081  0.5  SC FEMALE 
    END-POINT  58091.050          64084.920          11455.081  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERJ                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58091.050          64084.920          11452.081  0.5  SC MALE 
    END-POINT  58091.050          64084.920          11455.081  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58091.050          64084.920          11452.081  0.5  SC MALE 
    END-POINT  58091.050          64084.920          11452.081  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58091.050          64084.920          11451.198  1.5  SC MALE 
    END-POINT  58091.050          64084.920          11452.081  0.5  SC FEMALE 
    CENTRE-POINT  58091.050  64084.920  11451.640 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1+1/2X1/2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58091.050          64084.920          11451.198  1.5  SC MALE 
    END-POINT  58091.050          64084.920          11451.198  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58091.050          64084.920          11451.198  1.5  SC FEMALE 
    END-POINT  58091.050          64084.920          11448.706  1.5  SC FEMALE 
    CENTRE-POINT   58091.050          64084.920          11449.946 
    BRANCH1-POINT  58091.050          64083.680          11449.946  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58091.050          64084.920          11448.706  1.5  SC FEMALE 
    END-POINT  58091.050          64084.920          11448.706  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58091.050          64083.680          11449.946  1.5  SC FEMALE 
    END-POINT  58091.050          64083.680          11449.946  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58091.050          64083.680          11449.946  1.5  SC MALE 
    END-POINT  58091.050          63956.001          11449.946  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERR                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58091.050  64042.250  11449.946  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERS                 
SCREWED-WELD
    END-POINT  58091.050          63956.001          11449.946  1.5  SC MALE 
    END-POINT  58091.050          63956.001          11449.946  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58091.050          63956.001          11449.946  1.5  SC FEMALE 
    END-POINT  58091.050          63954.761          11448.706  1.5  SC FEMALE 
    CENTRE-POINT   58091.050          63954.761          11449.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58091.050  63954.761  11449.946 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58091.050  63898.800  11449.946 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58091.050          63954.761          11448.706  1.5  SC FEMALE 
    END-POINT  58091.050          63954.761          11448.706  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58091.050          63954.761          11433.186  1.5  SC MALE 
    END-POINT  58091.050          63954.761          11448.706  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERX                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58091.050          63954.761          11433.186  1.5  SC MALE 
    END-POINT  58091.050          63954.761          11433.186  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58089.810          63954.761          11431.946  1.5  SC FEMALE 
    END-POINT  58091.050          63954.761          11433.186  1.5  SC FEMALE 
    CENTRE-POINT   58091.050          63954.761          11431.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ERZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58091.050  63954.761  11431.946 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63954.761  11431.946 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58089.810          63954.761          11431.946  1.5  SC FEMALE 
    END-POINT  58089.810          63954.761          11431.946  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ES1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57917.503          63954.761          11431.946  1.5  SC MALE 
    END-POINT  58089.810          63954.761          11431.946  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ES2                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58055.175  63954.761  11431.946  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ES3                 
SUPPORT
    CO-ORDS  57943.834  63954.761  11431.946  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ES4                 
FLOW-ARROW
    CO-ORDS  57994.865  63954.761  11431.946 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  57917.503          63954.761          11431.946  1.5  SC MALE 
    END-POINT  57917.503          63954.761          11431.946  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ES6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57917.503          63954.761          11431.946  1.5  SC FEMALE 
    END-POINT  57916.263          63954.761          11430.706  1.5  SC FEMALE 
    CENTRE-POINT   57916.263          63954.761          11431.946 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ES7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57916.263          63954.761          11430.706  1.5  SC FEMALE 
    END-POINT  57916.263          63954.761          11430.706  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ES8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57916.263          63954.761          11418.442  1.5  SC MALE 
    END-POINT  57916.263          63954.761          11430.706  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ES9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57916.263          63954.761          11418.442  1.5  SC MALE 
    END-POINT  57916.263          63954.761          11418.442  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57916.263          63954.761          11418.442  1.5  SC FEMALE 
    END-POINT  57916.263          63953.521          11417.202  1.5  SC FEMALE 
    CENTRE-POINT   57916.263          63954.761          11417.202 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57916.263          63953.521          11417.202  1.5  SC FEMALE 
    END-POINT  57916.263          63953.521          11417.202  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57916.263          63953.521          11417.202  1.5  SC MALE 
    END-POINT  57916.263          63933.260          11417.202  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESD                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57916.263          63933.260          11417.202  1.5  SC MALE 
    END-POINT  57916.263          63933.260          11417.202  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57916.263          63933.260          11417.202  1.5  SC FEMALE 
    END-POINT  57916.263          63932.020          11415.962  1.5  SC FEMALE 
    CENTRE-POINT   57916.263          63932.020          11417.202 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESF                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57916.263          63932.020          11415.962  1.5  SC FEMALE 
    END-POINT  57916.263          63932.020          11415.962  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57916.263          63932.020          11415.962  1.5  SC MALE 
    END-POINT  57916.263          63932.020          11400.187  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57916.263          63932.020          11400.187  1.5  SC MALE 
    END-POINT  57916.263          63932.020          11400.187  1.5  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESI                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57916.263  63932.020  11397.250 
    BRANCH1-POINT  57916.263          63932.020          11400.187  1.5  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ESJ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57916.263  63932.020  11397.250 
    PIPELINE-REFERENCE ISO-PY3-1221001
PIPE
    END-POINT  58091.050          64084.920          11433.192  1.5  SC MALE 
    END-POINT  58091.050          64084.920          11448.706  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F0S                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58091.050          64084.920          11433.192  1.5  SC MALE 
    END-POINT  58091.050          64084.920          11433.192  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F0T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58092.290          64084.920          11431.952  1.5  SC FEMALE 
    END-POINT  58091.050          64084.920          11433.192  1.5  SC FEMALE 
    CENTRE-POINT   58091.050          64084.920          11431.952 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F0U                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58092.290          64084.920          11431.952  1.5  SC MALE 
    END-POINT  58092.290          64084.920          11431.952  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58138.821          64084.920          11431.952  1.5  SC MALE 
    END-POINT  58092.290          64084.920          11431.952  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2_1
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2K                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58138.821          64084.920          11431.952  1.5  SC MALE 
    END-POINT  58138.821          64084.920          11431.952  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58138.821          64084.920          11431.952  1.5  SC FEMALE 
    END-POINT  58140.061          64084.920          11430.712  1.5  SC FEMALE 
    CENTRE-POINT   58140.061          64084.920          11431.952 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F0Y                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.061  64084.920  11431.952 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58134.061  64138.748  11431.952 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58140.061          64084.920          11430.712  1.5  SC FEMALE 
    END-POINT  58140.061          64084.920          11430.712  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F0Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58140.061          64084.920          11430.712  1.5  SC MALE 
    END-POINT  58140.061          64084.920          11390.254  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F10                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58140.061          64084.920          11390.254  1.5  SC MALE 
    END-POINT  58140.061          64084.920          11390.254  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F11                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58141.301          64084.920          11389.014  1.5  SC FEMALE 
    END-POINT  58140.061          64084.920          11390.254  1.5  SC FEMALE 
    CENTRE-POINT   58140.061          64084.920          11389.014 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F12                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58141.301          64084.920          11389.014  1.5  SC FEMALE 
    END-POINT  58141.301          64084.920          11389.014  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F13                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58141.301          64084.920          11389.014  1.5  SC MALE 
    END-POINT  58238.680          64084.920          11389.014  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F14                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58206.728  64084.920  11389.014 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58165.715  64084.920  11389.014 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58165.715  64084.920  11389.014 
    TEXT Wall Penetration
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58147.683  64084.920  11389.014  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F17                 
SUPPORT
    CO-ORDS  58221.924  64084.920  11389.014  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F18                 
SCREWED-WELD
    END-POINT  58238.680          64084.920          11389.014  1.5  SC MALE 
    END-POINT  58238.680          64084.920          11389.014  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F19                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58238.680          64084.920          11389.014  1.5  SC FEMALE 
    END-POINT  58239.920          64084.920          11387.774  1.5  SC FEMALE 
    CENTRE-POINT   58239.920          64084.920          11389.014 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1A                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58239.920          64084.920          11387.774  1.5  SC FEMALE 
    END-POINT  58239.920          64084.920          11387.774  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58239.920          64084.920          11373.973  1.5  SC MALE 
    END-POINT  58239.920          64084.920          11387.774  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1C                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58239.920          64084.920          11373.973  1.5  SC MALE 
    END-POINT  58239.920          64084.920          11373.973  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58239.920          64084.920          11373.973  1.5  SC FEMALE 
    END-POINT  58239.920          64086.160          11372.733  1.5  SC FEMALE 
    CENTRE-POINT   58239.920          64084.920          11372.733 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1E                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58239.920          64086.160          11372.733  1.5  SC FEMALE 
    END-POINT  58239.920          64086.160          11372.733  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58239.920          64086.160          11372.733  1.5  SC MALE 
    END-POINT  58239.920          64162.445          11372.733  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1G                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58239.920          64162.445          11372.733  1.5  SC MALE 
    END-POINT  58239.920          64162.445          11372.733  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58239.920          64163.685          11371.493  1.5  SC FEMALE 
    END-POINT  58239.920          64162.445          11372.733  1.5  SC FEMALE 
    CENTRE-POINT   58239.920          64163.685          11372.733 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1I                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58239.920  64163.685  11372.733 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64163.685  11372.733 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58239.920          64163.685          11371.493  1.5  SC FEMALE 
    END-POINT  58239.920          64163.685          11371.493  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58239.920          64163.685          11371.493  1.5  SC MALE 
    END-POINT  58239.920          64163.685          11326.670  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1K                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58239.920          64163.685          11326.670  1.5  SC MALE 
    END-POINT  58239.920          64163.685          11326.670  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58239.920          64163.685          11324.770  1.5  SC FEMALE 
    END-POINT  58239.920          64163.685          11326.670  1.5  SC FEMALE 
    CENTRE-POINT   58239.920          64163.685          11325.720 
    BRANCH1-POINT  58241.140          64163.685          11325.720  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1M                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58239.920          64163.685          11324.770  1.5  SC FEMALE 
    END-POINT  58239.920          64163.685          11324.770  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58241.140          64163.685          11325.720  1  SC FEMALE 
    END-POINT  58241.140          64163.685          11325.720  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G64                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58247.293          64163.685          11325.720  1  SC MALE 
    END-POINT  58241.140          64163.685          11325.720  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2H                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58247.293          64163.685          11325.720 
    PIPELINE-REFERENCE ISO-PY3-1213021
PIPE
    END-POINT  58239.920          64163.685          11324.770  1.5  SC MALE 
    END-POINT  58239.920          64163.685          11318.600  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F27                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58239.920          64163.685          11318.600  1.5  SC MALE 
    END-POINT  58239.920          64163.685          11318.600  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F28                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58239.920          64163.685          11317.120  1.5  SC FEMALE 
    END-POINT  58239.920          64163.685          11318.600  1.5  SC FEMALE 
    CENTRE-POINT   58239.920          64163.685          11317.860 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F29                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58239.920          64163.685          11317.120  1.5  SC FEMALE 
    END-POINT  58239.920          64163.685          11317.120  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2B                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58239.920          64163.685          11317.120  1.5  SC MALE 
    END-POINT  58239.920          64163.685          11292.233  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2C                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58239.920          64163.685          11292.233  1.5  SC MALE 
    END-POINT  58239.920          64163.685          11292.233  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58241.160          64163.685          11290.993  1.5  SC FEMALE 
    END-POINT  58238.668          64163.685          11290.993  1.5  SC FEMALE 
    CENTRE-POINT   58239.920          64163.685          11290.993 
    BRANCH1-POINT  58239.920          64163.685          11292.233  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2E                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58241.160          64163.685          11290.993  1.5  SC FEMALE 
    END-POINT  58241.160          64163.685          11290.993  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58238.668          64163.685          11290.993  1.5  SC FEMALE 
    END-POINT  58238.668          64163.685          11290.993  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58238.668          64163.685          11290.993  1.5  SC MALE 
    END-POINT  58237.855          64163.685          11290.993  0.75  SC FEMALE 
    CENTRE-POINT  58238.261  64163.685  11290.993 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1+1/2X3/4
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2H                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58237.855          64163.685          11290.993  0.75  SC FEMALE 
    END-POINT  58237.855          64163.685          11290.993  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58237.855          64163.685          11290.993  0.75  SC MALE 
    END-POINT  58234.855          64163.685          11290.993  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2J                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58234.855          64163.685          11290.993  0.75  SC MALE 
    END-POINT  58234.855          64163.685          11290.993  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2K                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58234.855          64163.685          11290.993  0.75  SC FEMALE 
    END-POINT  58233.415          64163.685          11290.993  0.75  SC FEMALE 
    CENTRE-POINT   58234.075          64163.685          11290.993 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2L                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58233.415          64163.685          11290.993  0.75  SC FEMALE 
    END-POINT  58233.415          64163.685          11290.993  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2N                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58233.415          64163.685          11290.993  0.75  SC MALE 
    END-POINT  58232.415          64163.685          11290.993  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2O                 
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58273.560          64163.685          11290.993  1.5  SC MALE 
    END-POINT  58241.160          64163.685          11290.993  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2P                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58252.237  64163.685  11290.993  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2Q                 
SCREWED-WELD
    END-POINT  58273.560          64163.685          11290.993  1.5  SC MALE 
    END-POINT  58273.560          64163.685          11290.993  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58274.800          64162.445          11290.993  1.5  SC FEMALE 
    END-POINT  58273.560          64163.685          11290.993  1.5  SC FEMALE 
    CENTRE-POINT   58274.800          64163.685          11290.993 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2S                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58274.800          64162.445          11290.993  1.5  SC FEMALE 
    END-POINT  58274.800          64162.445          11290.993  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58274.800          64162.445          11290.993  1.5  SC MALE 
    END-POINT  58274.800          64144.057          11290.993  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2U                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58274.800          64144.057          11290.993  1.5  SC MALE 
    END-POINT  58274.800          64144.057          11290.993  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58274.800          64142.817          11292.233  1.5  SC FEMALE 
    END-POINT  58274.800          64144.057          11290.993  1.5  SC FEMALE 
    CENTRE-POINT   58274.800          64142.817          11290.993 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2W                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58274.800          64142.817          11292.233  1.5  SC FEMALE 
    END-POINT  58274.800          64142.817          11292.233  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58274.800          64142.817          11297.813  1.5  SC MALE 
    END-POINT  58274.800          64142.817          11292.233  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2Y                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58274.800          64142.817          11297.813  1.5  SC MALE 
    END-POINT  58274.800          64142.817          11297.813  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F2Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58274.800          64142.817          11297.813  1.5  FL
    END-POINT  58274.800          64142.817          11297.813  1.5  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F30                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58274.800          64142.817          11297.813  1.5
    END-POINT  58274.800          64142.817          11297.875  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2R                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58274.800          64142.817          11297.813 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2S                 
END-POSITION-OPEN 
    CO-ORDS  58274.800          64142.817          11297.875 
MATERIALS
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE BSHGHEX1+1/2X1/2
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION U BOLT ANCHOR, P651 FIG 1
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2_1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40
    RATING 40
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, L=1'-3 1/16", P624 FIG 4
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE BSHGHEX1+1/2X3/4
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=10", P622 FIG 1
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ASME B16.21
    DESCRIPTION GARLOCK BLUE-GARD STYLE 3700
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
