ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212018
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212018-VT-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/13/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/27/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SEG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SEG
    ATTRIBUTE55 DD
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58198.735          64133.269          11350.313  1  FL
    END-POINT  58198.735          64133.269          11350.508  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H1O                 
    PIPING-SPEC S1
GASKET
    END-POINT  58198.735          64133.269          11350.313  1
    END-POINT  58198.735          64133.269          11350.188  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9X                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58198.735          64133.269          11350.313 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9Y                 
WELD
    END-POINT  58198.735          64133.269          11350.508  1
    END-POINT  58198.735          64133.269          11350.508  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H2H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58198.735          64133.269          11350.508  1
    END-POINT  58198.735          64133.269          11350.508  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H2I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58198.735          64133.269          11350.188 
PIPE
    END-POINT  58198.735          64133.269          11355.358  1  BW
    END-POINT  58198.735          64133.269          11350.508  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H2F                 
    PIPING-SPEC S1
WELD
    END-POINT  58198.735          64133.269          11355.358  1
    END-POINT  58198.735          64133.269          11355.358  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H2G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58198.735          64133.269          11355.358  1  BW
    END-POINT  58199.957          64134.139          11356.858  1  BW
    CENTRE-POINT   58198.735          64133.269          11356.858 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H28                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58199.957          64134.139          11356.858  1
    END-POINT  58199.957          64134.139          11356.858  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I0V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58210.029          64141.313          11356.858  1  BW
    END-POINT  58199.957          64134.139          11356.858  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I0T                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58205.920  64138.386  11356.858 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58210.029          64141.313          11356.858  1
    END-POINT  58210.029          64141.313          11356.858  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I0U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58210.029          64141.313          11356.858  1  BW
    END-POINT  58211.251          64142.183          11358.358  1  BW
    CENTRE-POINT   58211.251          64142.183          11356.858 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I0R                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58211.251          64142.183          11358.358  1
    END-POINT  58211.251          64142.183          11358.358  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I0X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58211.251          64142.183          11358.358  1  BW
    END-POINT  58211.265          64142.163          11362.166  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I0W                 
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64142.163          11362.166  1
    END-POINT  58211.265          64142.163          11362.166  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I0Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58211.265          64140.663          11363.666  1  BW
    END-POINT  58211.265          64143.663          11363.666  1  BW
    CENTRE-POINT   58211.265          64142.163          11363.666 
    BRANCH1-POINT  58211.265          64142.163          11362.166  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I0H                 
    PIPING-SPEC S1
    ANGLE 8999
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58211.265  64142.163  11363.666 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58211.265  64138.748  11363.666 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58211.265  64142.163  11363.666 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64142.163  11363.666 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58211.265          64140.663          11363.666  1
    END-POINT  58211.265          64140.663          11363.666  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2R                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64143.663          11363.666  1
    END-POINT  58211.265          64143.663          11363.666  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2Z                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58211.265          64153.688          11363.664  1  PL
    END-POINT  58211.265          64143.663          11363.666  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I27                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58211.265  64146.946  11363.665  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2X                 
WELD
    END-POINT  58211.265          64153.688          11363.664  1
    END-POINT  58211.265          64153.688          11363.664  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I28                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58211.265          64153.688          11363.664  1
    END-POINT  58211.265          64153.688          11363.664  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I29                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58211.265          64153.884          11363.664  1  FL
    END-POINT  58211.265          64153.688          11363.664  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I24                 
    PIPING-SPEC S1
GASKET
    END-POINT  58211.265          64153.884          11363.664  1
    END-POINT  58211.265          64154.009          11363.664  1
    ERECTION-ITEM
    ITEM-CODE GAS1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IAF                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58211.265          64153.884          11363.664 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IAG                 
VALVE-ANGLE
    END-POINT  58211.265          64159.196          11357.477  0.75  FL
    END-POINT  58211.265          64154.009          11363.664  1  FL
    CENTRE-POINT   58211.265          64159.196          11363.664 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I1T                 
    TAG PSV-006-03                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58211.265          64159.196          11357.477 
    PIPELINE-REFERENCE ISO-PY3-1212015
PIPE
    END-POINT  58211.265          64140.663          11363.666  1  BW
    END-POINT  58211.265          64130.701          11363.668  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2Q                 
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64130.701          11363.668  1
    END-POINT  58211.265          64130.701          11363.668  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64130.701          11363.668  1
    END-POINT  58211.265          64130.701          11363.668  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58211.265          64130.506          11363.668  1  FL
    END-POINT  58211.265          64130.701          11363.668  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2N                 
    PIPING-SPEC S1
GASKET
    END-POINT  58211.265          64130.506          11363.668  1
    END-POINT  58211.265          64130.381          11363.668  1
    ERECTION-ITEM
    ITEM-CODE GAS1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IAD                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58211.265          64130.506          11363.668 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IAE                 
VALVE-ANGLE
    END-POINT  58211.265          64125.191          11357.482  0.75  FL
    END-POINT  58211.265          64130.381          11363.668  1  FL
    CENTRE-POINT   58211.265          64125.193          11363.669 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2D                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58211.265          64125.191          11357.482 
    PIPELINE-REFERENCE ISO-PY3-1212014
MATERIALS
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1
    DESCRIPTION ROD HANGER, L=2'-4", P624 FIG 2
ITEM-CODE GAS1_1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
