ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218023
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218023-AN-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 MH
    ATTRIBUTE22 11/7/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/10/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 12/3/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 12/18/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 12/18/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 12/18/2008
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/16/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58265.090          64191.807          12069.753  2  FL
    END-POINT  58265.090          64191.807          12067.253  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3PO                 
    PIPING-SPEC S1
GASKET
    END-POINT  58265.090          64191.807          12069.753  2
    END-POINT  58265.090          64191.807          12069.878  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3PP                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58265.090          64191.807          12069.753 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3PQ                 
WELD
    END-POINT  58265.090          64191.807          12067.253  2
    END-POINT  58265.090          64191.807          12067.253  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_58I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58265.090          64191.807          12069.878 
ELBOW
    END-POINT  58265.090          64191.807          12067.253  2  BW
    END-POINT  58265.090          64192.783          12064.898  2  BW
    CENTRE-POINT   58265.090          64191.807          12065.873 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_58G                 
    PIPING-SPEC S1
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58265.090  64191.807  12067.253 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58265.090  64138.800  12067.253 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58265.090  64191.807  12067.253 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64191.807  12067.253 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 3
WELD
    END-POINT  58265.090          64192.783          12064.898  2
    END-POINT  58265.090          64192.783          12064.898  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58265.090          64223.872          12033.808  2  BW
    END-POINT  58265.090          64192.783          12064.898  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NW                 
    PIPING-SPEC S1
WELD
    END-POINT  58265.090          64223.872          12033.808  2
    END-POINT  58265.090          64223.872          12033.808  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58263.865          64225.097          12031.359  2  BW
    END-POINT  58265.090          64223.872          12033.808  2  BW
    CENTRE-POINT   58265.090          64225.097          12032.584 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NP                 
    PIPING-SPEC S1
    ANGLE 6000
WELD
    END-POINT  58263.865          64225.097          12031.359  2
    END-POINT  58263.865          64225.097          12031.359  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58263.865          64225.097          12031.359  2  BW
    END-POINT  58229.776          64225.097          11997.270  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NQ                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58247.517  64225.097  12015.011 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58229.776          64225.097          11997.270  2
    END-POINT  58229.776          64225.097          11997.270  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58228.800          64225.097          11994.914  2  BW
    END-POINT  58229.776          64225.097          11997.270  2  BW
    CENTRE-POINT   58228.800          64225.097          11996.294 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NO                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58228.800          64225.097          11994.914  2
    END-POINT  58228.800          64225.097          11994.914  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58228.800          64225.097          11977.750  2  BW
    END-POINT  58228.800          64225.097          11994.914  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NT                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64225.097          11977.750  2
    END-POINT  58228.800          64225.097          11977.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58228.800          64222.097          11974.750  2  BW
    END-POINT  58228.800          64225.097          11977.750  2  BW
    CENTRE-POINT   58228.800          64225.097          11974.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NI                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58228.800          64222.097          11974.750  2
    END-POINT  58228.800          64222.097          11974.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58228.800          64222.097          11974.750  2  BW
    END-POINT  58228.800          64219.272          11974.750  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NJ                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64219.272          11974.750  2
    END-POINT  58228.800          64219.272          11974.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64219.272          11974.750  2
    END-POINT  58228.800          64219.272          11974.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6NM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58228.800          64219.055          11974.750  2  FL
    END-POINT  58228.800          64219.272          11974.750  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_56O                 
    PIPING-SPEC S1
GASKET
    END-POINT  58228.800          64219.055          11974.750  2
    END-POINT  58228.800          64218.930          11974.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8AB                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58228.800          64219.055          11974.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8AC                 
END-POSITION-OPEN 
    CO-ORDS  58228.800          64218.930          11974.750 
MATERIALS
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 60.00
    RATING 10S
ITEM-CODE 90LLR2_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
