ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213011
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1213011-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 D. CAMACHO
    ATTRIBUTE22 7/31/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 B. L.
    ATTRIBUTE26 7/31/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 7/31/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 7/31/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 7/31/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 DC
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 10/26/2012
    ATTRIBUTE42 CP
    ATTRIBUTE43 DD
    ATTRIBUTE44 DK
    ATTRIBUTE45 REVISED SUPPORT INFORMATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58234.547          64170.130          11376.885  1  SC MALE 
    END-POINT  58234.547          64170.130          11285.995  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8Z                 
    PIPING-SPEC C1
MESSAGE
    CO-ORDS  58234.547  64170.130  11285.995 
    TEXT TO 6" ABOVE FLOOR
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58234.547  64170.130  11348.740 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58234.547  64170.130  11288.995  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPBOOTLEG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P97                 
SCREWED-WELD
    END-POINT  58234.547          64170.130          11376.885  1  SC MALE 
    END-POINT  58234.547          64170.130          11376.885  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PA3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58234.547          64170.130          11285.995 
ELBOW
    END-POINT  58234.547          64169.210          11377.805  1  SC FEMALE 
    END-POINT  58234.547          64170.130          11376.885  1  SC FEMALE 
    CENTRE-POINT   58234.547          64170.130          11377.805 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8Y                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58234.547  64170.130  11377.805 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58234.547  64138.748  11377.805 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58234.547  64170.130  11377.805 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64170.130  11377.805 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
SCREWED-WELD
    END-POINT  58234.547          64169.210          11377.805  1  SC MALE 
    END-POINT  58234.547          64169.210          11377.805  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PA2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58234.547          64161.537          11377.805  1  SC MALE 
    END-POINT  58234.547          64169.210          11377.805  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PA0                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58234.547          64161.537          11377.805  1  SC MALE 
    END-POINT  58234.547          64161.537          11377.805  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PDA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
FLANGE
    END-POINT  58234.547          64161.537          11377.805  1  FL
    END-POINT  58234.547          64161.537          11377.805  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P9X                 
    PIPING-SPEC C1
MESSAGE-CIRCLE
    CO-ORDS  58234.547  64161.882  11377.805 
    TEXT PSV$003$11
    UNDIMENSIONED
GASKET
    END-POINT  58234.547          64161.537          11377.805  1
    END-POINT  58234.547          64161.474          11377.798  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJC                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58234.547          64161.537          11377.805 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJD                 
PIPE
    END-POINT  58234.547          64161.474          11377.798  1  
    END-POINT  58234.547          64161.475          11377.798  1  
    CONTINUATION 
    MESSAGE This is a GAP 
VALVE-ANGLE
    END-POINT  58234.547          64156.287          11371.610  0.75  FL
    END-POINT  58234.547          64161.474          11377.798  1  FL
    CENTRE-POINT   58234.547          64156.287          11377.798 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PJ5                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58234.547          64156.287          11371.610 
    PIPELINE-REFERENCE ISO-PY3-1213002
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPBOOTLEG-1
    DESCRIPTION PIPE SUPPORT, P660
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
