ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1901005
PIPING-SPEC C1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5611.DWG
    ATTRIBUTE98 PA
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1901005-PA-C1
    ATTRIBUTE95 
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP2-UT-81-D-026
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 1/15/2009
    ATTRIBUTE25 T. S.
    ATTRIBUTE26 1/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/19/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/19/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/19/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/6/2009
    ATTRIBUTE36 DKC
    ATTRIBUTE37 TS
    ATTRIBUTE38 DCD
    ATTRIBUTE39 ISSUE FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 3/13/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE43 TS
    ATTRIBUTE44 DCD
    ATTRIBUTE45 AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/31/2009
    ATTRIBUTE48 DKC
    ATTRIBUTE49 TS
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED SHT. 1
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  56727.514          70538.276          11621.680  1  SC FEMALE 
    END-POINT  56727.514          70538.276          11623.905  1  SC FEMALE 
    CENTRE-POINT   56727.514          70538.276          11622.375 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22F                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  56727.514          70538.276          11621.680  1  SC FEMALE 
    END-POINT  56727.514          70538.276          11621.680  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22G                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  56727.514          70538.276          11623.905 
PIPE
    END-POINT  56727.514          70538.276          11597.610  1  SC MALE 
    END-POINT  56727.514          70538.276          11621.680  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22D                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  56727.514          70538.276          11597.610  1  SC MALE 
    END-POINT  56727.514          70538.276          11597.610  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  56727.514          70537.356          11596.690  1  SC FEMALE 
    END-POINT  56727.514          70538.276          11597.610  1  SC FEMALE 
    CENTRE-POINT   56727.514          70538.276          11596.690 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22A                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  56727.514          70537.356          11596.690  1  SC FEMALE 
    END-POINT  56727.514          70537.356          11596.690  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  56727.514          70397.475          11596.690  1  SC MALE 
    END-POINT  56727.514          70537.356          11596.690  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1EV                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  56727.514  70532.250  11596.690  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_25J                 
FLOW-ARROW
    CO-ORDS  56727.514  70428.441  11596.690 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  56727.514          70397.475          11596.690  1  SC MALE 
    END-POINT  56727.514          70397.475          11596.690  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_255                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  56727.514          70396.555          11595.770  1  SC FEMALE 
    END-POINT  56727.514          70397.475          11596.690  1  SC FEMALE 
    CENTRE-POINT   56727.514          70396.555          11596.690 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_222                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  56727.514          70396.555          11595.770  1  SC MALE 
    END-POINT  56727.514          70396.555          11595.770  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_226                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  56727.514          70396.555          11595.770  1  SC MALE 
    END-POINT  56727.514          70396.555          11577.104  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_225                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  56727.514          70396.555          11577.104  1  SC MALE 
    END-POINT  56727.514          70396.555          11577.104  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_227                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  56727.514          70396.555          11577.104  1  SC FEMALE 
    END-POINT  56728.434          70396.555          11576.193  1  SC FEMALE 
    CENTRE-POINT   56727.514          70396.555          11576.184 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_221                 
    PIPING-SPEC C1
    ANGLE 9060
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56727.514  70396.555  11576.184 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56733.044  70396.555  11576.184 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 4727.75
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56727.514  70396.555  11576.184 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56727.514  70400.555  11576.184 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5866.71
SCREWED-WELD
    END-POINT  56728.434          70396.555          11576.193  1  SC MALE 
    END-POINT  56728.434          70396.555          11576.193  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_431                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  56863.157          70396.555          11577.594  1  SC MALE 
    END-POINT  56728.434          70396.555          11576.193  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WU                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  56733.044  70396.555  11576.241  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41C                 
SUPPORT
    CO-ORDS  56853.044  70396.555  11577.489  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41Q                 
SUPPORT
    CO-ORDS  56733.044  70396.555  11576.241  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41R                 
SCREWED-WELD
    END-POINT  56863.157          70396.555          11577.594  1  SC FEMALE 
    END-POINT  56863.157          70396.555          11577.594  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
TEE
    END-POINT  56864.997          70396.555          11577.613  1  SC FEMALE 
    END-POINT  56863.157          70396.555          11577.594  1  SC FEMALE 
    CENTRE-POINT   56864.077          70396.555          11577.603 
    BRANCH1-POINT  56864.087          70396.555          11576.683  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WR                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  56864.997          70396.555          11577.613  1  SC FEMALE 
    END-POINT  56864.997          70396.555          11577.613  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  56864.087          70396.555          11576.683  1  SC MALE 
    END-POINT  56864.087          70396.555          11576.683  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_24W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  56864.087          70396.555          11576.683  1  SC MALE 
    END-POINT  56864.317          70396.555          11554.524  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22R                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  56864.317          70396.555          11554.524  1  SC FEMALE 
    END-POINT  56864.317          70396.555          11554.524  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  56864.317          70396.555          11554.524  1  SC FEMALE 
    END-POINT  56864.326          70397.475          11553.605  1  SC FEMALE 
    CENTRE-POINT   56864.326          70396.555          11553.605 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22T                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56864.326  70396.555  11553.605 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56733.044  70396.555  11553.605 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 4727.75
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56864.326  70396.555  11553.605 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56864.326  70400.555  11553.605 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5866.71
SCREWED-WELD
    END-POINT  56864.326          70397.475          11553.605  1  SC MALE 
    END-POINT  56864.326          70397.475          11553.605  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_27X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  56864.326          70397.475          11553.605  1  SC MALE 
    END-POINT  56864.326          70440.635          11553.605  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_27W                 
    PIPING-SPEC C1
FLOW-ARROW
    CO-ORDS  56864.326  70412.082  11553.605 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  56864.326          70440.635          11553.605  1  SC MALE 
    END-POINT  56864.326          70440.635          11553.605  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_27Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  56864.326          70440.635          11553.605  1  SC FEMALE 
    END-POINT  56864.326          70441.555          11552.685  1  SC FEMALE 
    CENTRE-POINT   56864.326          70441.555          11553.605 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_22Y                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  56864.326          70441.555          11552.685  1  SC MALE 
    END-POINT  56864.326          70441.555          11552.685  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_232                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  56864.326          70441.555          11552.685  1  SC MALE 
    END-POINT  56864.326          70441.555          11399.270  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_231                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  56864.326  70441.555  11407.855  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_27U                 
SCREWED-WELD
    END-POINT  56864.326          70441.555          11399.270  1  SC FEMALE 
    END-POINT  56864.326          70441.555          11399.270  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_234                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
VALVE
    END-POINT  56864.326          70441.555          11399.270  1  SC FEMALE 
    END-POINT  56864.326          70441.555          11397.045  1  SC FEMALE 
    CENTRE-POINT   56864.326          70441.555          11398.575 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_233                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  WEST
MESSAGE-SQUARE
    CO-ORDS  56864.326  70441.555  11397.045 
    TEXT FIELD ROUTE PIPE AND INSTALL$AIR FILTER, PRV-215-02, AND AIR LUBRICATOR
    TEXT $(SUPPLIED BY VENDOR)
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  56864.326          70441.555          11397.045 
PIPE
    END-POINT  57298.469          70396.555          11582.119  1  BW
    END-POINT  56864.997          70396.555          11577.613  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BC                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  56973.070  70396.555  11578.736  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41A                 
SUPPORT
    CO-ORDS  57213.070  70396.555  11581.231  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41N                 
SUPPORT
    CO-ORDS  57093.070  70396.555  11579.984  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41O                 
SUPPORT
    CO-ORDS  56973.070  70396.555  11578.736  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41P                 
WELD
    END-POINT  57298.469          70396.555          11582.119  1
    END-POINT  57298.469          70396.555          11582.119  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  58375.620          70396.555          11593.316  1  SC MALE 
    END-POINT  57298.469          70396.555          11582.119  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BA                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  58173.070  70396.555  11591.211  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_416                 
SUPPORT
    CO-ORDS  57693.070  70396.555  11586.221  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_418                 
SUPPORT
    CO-ORDS  58293.062  70396.555  11592.458  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41E                 
SUPPORT
    CO-ORDS  58173.070  70396.555  11591.211  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41F                 
SUPPORT
    CO-ORDS  58053.070  70396.555  11589.963  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41G                 
SUPPORT
    CO-ORDS  57933.070  70396.555  11588.716  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41H                 
SUPPORT
    CO-ORDS  57813.070  70396.555  11587.468  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41I                 
SUPPORT
    CO-ORDS  57693.070  70396.555  11586.221  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41J                 
SUPPORT
    CO-ORDS  57573.070  70396.555  11584.974  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41K                 
SUPPORT
    CO-ORDS  57453.070  70396.555  11583.726  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41L                 
SUPPORT
    CO-ORDS  57333.070  70396.555  11582.479  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_41M                 
SCREWED-WELD
    END-POINT  58375.620          70396.555          11593.316  1  SC MALE 
    END-POINT  58375.620          70396.555          11593.316  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58375.620          70396.555          11593.316  1  SC FEMALE 
    END-POINT  58376.540          70395.635          11593.326  1  SC FEMALE 
    CENTRE-POINT   58376.540          70396.555          11593.326 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WN                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58376.540  70396.555  11593.326 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58413.070  70396.555  11593.326 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 4867.75'
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58376.540  70396.555  11593.326 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58376.540  70430.555  11593.326 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5869.21'
SCREWED-WELD
    END-POINT  58376.540          70395.635          11593.326  1  SC MALE 
    END-POINT  58376.540          70395.635          11593.326  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58376.540          70395.635          11593.326  1  SC MALE 
    END-POINT  58376.540          70340.725          11593.326  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WL                 
    PIPING-SPEC C1
FLOW-ARROW
    CO-ORDS  58376.540  70373.983  11593.326 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58376.540          70340.725          11593.326  1  SC FEMALE 
    END-POINT  58376.540          70340.725          11593.326  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58377.459          70339.805          11593.336  1  SC FEMALE 
    END-POINT  58376.540          70340.725          11593.326  1  SC FEMALE 
    CENTRE-POINT   58376.540          70339.805          11593.326 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WJ                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  58377.459          70339.805          11593.336  1  SC MALE 
    END-POINT  58377.459          70339.805          11593.336  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58510.576          70339.805          11594.756  1  SC MALE 
    END-POINT  58377.459          70339.805          11593.336  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WH                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58510.576          70339.805          11594.756  1  SC FEMALE 
    END-POINT  58510.576          70339.805          11594.756  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58511.480          70339.805          11595.669  1  SC FEMALE 
    END-POINT  58510.576          70339.805          11594.756  1  SC FEMALE 
    CENTRE-POINT   58511.480          70339.805          11594.765 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WF                 
    PIPING-SPEC C1
    ANGLE 8939
SCREWED-WELD
    END-POINT  58511.480          70339.805          11595.669  1  SC MALE 
    END-POINT  58511.480          70339.805          11595.669  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58511.480          70339.805          11609.734  1  SC MALE 
    END-POINT  58511.480          70339.805          11595.669  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WD                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58511.480          70339.805          11609.734  1  SC FEMALE 
    END-POINT  58511.480          70339.805          11609.734  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58511.480          70339.805          11609.734  1  SC FEMALE 
    END-POINT  58511.497          70340.725          11610.654  1  SC FEMALE 
    CENTRE-POINT   58511.480          70339.805          11610.654 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WB                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  58511.497          70340.725          11610.654  1  SC MALE 
    END-POINT  58511.497          70340.725          11610.654  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3WA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58514.600          70511.687          11610.654  1  SC MALE 
    END-POINT  58511.497          70340.725          11610.654  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W8                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  58513.819  70468.644  11610.654  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W9                 
SUPPORT
    CO-ORDS  58512.038  70370.543  11610.654  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40E                 
SCREWED-WELD
    END-POINT  58514.600          70511.687          11610.654  1  SC FEMALE 
    END-POINT  58514.600          70511.687          11610.654  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
ELBOW
    END-POINT  58514.617          70512.607          11609.734  1  SC FEMALE 
    END-POINT  58514.600          70511.687          11610.654  1  SC FEMALE 
    CENTRE-POINT   58514.617          70512.607          11610.654 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W6                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  58514.617          70512.607          11609.734  1  SC MALE 
    END-POINT  58514.617          70512.607          11609.734  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58514.617          70512.607          11579.225  1  SC MALE 
    END-POINT  58514.617          70512.607          11609.734  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W4                 
    PIPING-SPEC C1
MESSAGE-ROUND
    CO-ORDS  58514.617  70512.607  11580.060 
    TEXT TP-156
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58514.617          70512.607          11579.225  1  SC FEMALE 
    END-POINT  58514.617          70512.607          11579.225  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W3                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
VALVE
    END-POINT  58514.617          70512.607          11577.835  1  SC FEMALE 
    END-POINT  58514.617          70512.607          11579.225  1  SC FEMALE 
    CENTRE-POINT   58514.617          70512.607          11578.530 
    SKEY VBSC
    CONTINUATION 
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W1                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  WEST
END-CONNECTION-PIPELINE 
    CO-ORDS  58514.617          70512.607          11577.835 
    PIPELINE-REFERENCE ISO-GS3-EXISTING
MATERIALS
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-001
    RATING 275LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLT GUIDE, P627-FIG. 2, REFER TO ISO 1011014
ITEM-CODE SUPUB-1_1
    DESCRIPTION U BOLT GUIDE, P627-FIG. 2
ITEM-CODE SUPAG-1
    DESCRIPTION SHIM REQ'D. FOR SLOPED PIPE
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPUB-1_2
    DESCRIPTION P658 FIG. 1
ITEM-CODE SUPUB-1_3
    DESCRIPTION U BOLT GUIDE, P627-FIG. 2, refer to iso 2036009
