ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223014
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1223014-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58213.851          64131.052          11684.458  0.75  SC MALE 
    END-POINT  58207.850          64131.052          11684.458  0.75  SC MALE 
    CENTRE-POINT  58210.850  64131.052  11684.458 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUZ                 
    TAG TI-013-15                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58208.413  64131.052  11684.458 
    TEXT TI$013$15
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58213.851          64131.052          11684.458  0.75  SC FEMALE 
    END-POINT  58213.851          64131.052          11684.458  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58207.850          64131.052          11684.458 
ELBOLET
    END-POINT  58215.163          64131.052          11684.458  3  PL
    END-POINT  58213.851          64131.052          11684.458  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUX                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58215.163          64131.052          11684.458  3
    END-POINT  58215.163          64131.052          11684.458  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  58219.500          64131.052          11684.458  3  BW
    END-POINT  58215.000          64131.052          11688.958  3  BW
    CENTRE-POINT   58215.000          64131.052          11684.458 
    BRANCH1-POINT  58215.163          64131.052          11684.458  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUT                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  58215.163          64131.052          11684.458  3
WELD
    END-POINT  58219.500          64131.052          11684.458  3
    END-POINT  58219.500          64131.052          11684.458  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58215.000          64131.052          11688.958  3
    END-POINT  58215.000          64131.052          11688.958  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58215.000          64131.052          11688.958  3  BW
    END-POINT  58215.000          64131.052          11696.958  1  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUR                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58215.000          64131.052          11696.958  1  SC FEMALE 
    END-POINT  58215.000          64131.052          11696.958  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58215.000          64130.133          11697.770  1  SC FEMALE 
    END-POINT  58215.000          64131.052          11696.958  1  SC FEMALE 
    CENTRE-POINT   58215.000          64131.052          11697.770 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58215.000  64131.052  11697.770 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58215.000  64138.748  11697.770 
    REFERENCED-ITEM
    ITEM-DIRECTION 1
    SKEY 
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58215.000          64130.133          11697.770  1  SC MALE 
    END-POINT  58215.000          64130.133          11697.770  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58215.000          64130.133          11697.770  1  SC MALE 
    END-POINT  58215.000          64070.490          11697.770  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUJ                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58215.000  64094.839  11697.770 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58215.000  64118.790  11697.770  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUL                 
SUPPORT
    CO-ORDS  58215.000  64074.670  11697.770  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUM                 
SCREWED-WELD
    END-POINT  58215.000          64070.490          11697.770  1  SC FEMALE 
    END-POINT  58215.000          64070.490          11697.770  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58215.000          64069.570          11696.850  1  SC FEMALE 
    END-POINT  58215.000          64069.570          11698.582  1  SC FEMALE 
    CENTRE-POINT   58215.000          64069.570          11697.770 
    BRANCH1-POINT  58215.000          64070.490          11697.770  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58215.000          64069.570          11696.850  1  SC MALE 
    END-POINT  58215.000          64069.570          11696.850  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58215.000          64069.570          11698.582  1  SC FEMALE 
    END-POINT  58215.000          64069.570          11698.582  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58215.000          64069.570          11698.582  1  SC MALE 
    END-POINT  58215.000          64069.570          11699.247  0.5  SC FEMALE 
    CENTRE-POINT  58215.000  64069.570  11698.914 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58215.000          64069.570          11699.247  0.5  SC FEMALE 
    END-POINT  58215.000          64069.570          11699.247  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58215.000          64069.570          11699.247  0.5  SC MALE 
    END-POINT  58215.000          64069.570          11702.247  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58215.000          64069.570          11702.247  0.5  SC MALE 
    END-POINT  58215.000          64069.570          11702.247  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVI                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58215.000          64069.570          11702.247  0.5  SC FEMALE 
    END-POINT  58215.000          64069.570          11703.597  0.5  SC FEMALE 
    CENTRE-POINT   58215.000          64069.570          11702.987 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58215.000          64069.570          11703.597  0.5  SC FEMALE 
    END-POINT  58215.000          64069.570          11703.597  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVL                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58215.000          64069.570          11703.597  0.5  SC MALE 
    END-POINT  58215.000          64069.570          11704.467  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVM                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58215.000          64069.570          11704.467 
PIPE
    END-POINT  58215.000          64069.570          11631.146  1  SC MALE 
    END-POINT  58215.000          64069.570          11696.850  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUE                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58215.000          64069.570          11631.146  1  SC FEMALE 
    END-POINT  58215.000          64069.570          11631.146  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58215.000          64069.570          11628.959  1  SC FEMALE 
    END-POINT  58215.000          64069.570          11631.146  1  SC FEMALE 
    CENTRE-POINT   58215.000          64069.570          11630.053 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUB                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58215.000          64069.570          11628.959  1  SC MALE 
    END-POINT  58215.000          64069.570          11628.959  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JUA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58215.000          64069.570          11623.400  1  SC MALE 
    END-POINT  58215.000          64069.570          11628.959  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58215.000          64069.570          11623.400  1  SC FEMALE 
    END-POINT  58215.000          64069.570          11623.400  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58215.920          64069.570          11622.480  1  SC FEMALE 
    END-POINT  58215.000          64069.570          11623.400  1  SC FEMALE 
    CENTRE-POINT   58215.000          64069.570          11622.480 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58215.920          64069.570          11622.480  1  SC MALE 
    END-POINT  58215.920          64069.570          11622.480  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58220.080          64069.570          11622.480  1  SC MALE 
    END-POINT  58215.920          64069.570          11622.480  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58220.080          64069.570          11622.480  1  SC FEMALE 
    END-POINT  58220.080          64069.570          11622.480  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58221.920          64069.570          11622.480  1  SC FEMALE 
    END-POINT  58220.080          64069.570          11622.480  1  SC FEMALE 
    CENTRE-POINT   58221.000          64069.570          11622.480 
    BRANCH1-POINT  58221.000          64069.570          11623.400  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU2                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58221.920          64069.570          11622.480  1  SC FEMALE 
    END-POINT  58221.920          64069.570          11622.480  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58221.000          64069.570          11623.400  1  SC MALE 
    END-POINT  58221.000          64069.570          11623.400  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58221.000          64069.570          11643.344  1  SC MALE 
    END-POINT  58221.000          64069.570          11623.400  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JU0                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58221.000          64069.570          11643.344 
    PIPELINE-REFERENCE ISO-PY3-1223025
PIPE
    END-POINT  58221.920          64069.570          11622.480  1  SC MALE 
    END-POINT  58226.080          64069.570          11622.480  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVN                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58226.080          64069.570          11622.480  1  SC MALE 
    END-POINT  58226.080          64069.570          11622.480  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58226.080          64069.570          11622.480  1  SC FEMALE 
    END-POINT  58227.000          64068.650          11622.480  1  SC FEMALE 
    CENTRE-POINT   58227.000          64069.570          11622.480 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVP                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.000          64068.650          11622.480  1  SC FEMALE 
    END-POINT  58227.000          64068.650          11622.480  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.000          64068.650          11622.480  1  SC MALE 
    END-POINT  58227.000          64062.842          11622.480  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVR                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58227.000  64066.730  11622.480 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58227.000          64062.842          11622.480  1  SC MALE 
    END-POINT  58227.000          64062.842          11622.480  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58227.000          64062.842          11622.480  1  SC FEMALE 
    END-POINT  58227.000          64061.923          11621.560  1  SC FEMALE 
    CENTRE-POINT   58227.000          64061.923          11622.480 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.000          64061.923          11621.560  1  SC FEMALE 
    END-POINT  58227.000          64061.923          11621.560  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.000          64061.923          11621.560  1  SC MALE 
    END-POINT  58227.000          64061.923          11616.400  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.000          64061.923          11616.400  1  SC MALE 
    END-POINT  58227.000          64061.923          11616.400  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.920          64061.923          11615.480  1  SC FEMALE 
    END-POINT  58226.080          64061.923          11615.480  1  SC FEMALE 
    CENTRE-POINT   58227.000          64061.923          11615.480 
    BRANCH1-POINT  58227.000          64061.923          11616.400  1  SC FEMALE 
    SKEY TESC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58227.920          64061.923          11615.480 
    PIPELINE-REFERENCE ISO-PY3-1223015
REDUCER-ECCENTRIC
    END-POINT  58219.500          64131.052          11684.458  3  BW
    END-POINT  58227.501          64131.052          11683.365  1  SC MALE 
    SKEY ESSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_1
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JV1                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SCREWED-WELD
    END-POINT  58227.501          64131.052          11683.365  1  SC MALE 
    END-POINT  58227.501          64131.052          11683.365  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JV2                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
UNION
    END-POINT  58227.501          64131.052          11683.365  1  SC FEMALE 
    END-POINT  58228.812          64131.052          11683.365  1  SC FEMALE 
    SKEY UNSC
    FABRICATION-ITEM
    ITEM-CODE UNNRW1
    WEIGHT           1.500
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JV3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58228.812          64131.052          11683.365  1  SC FEMALE 
    END-POINT  58228.812          64131.052          11683.365  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JV4                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58228.812          64131.052          11683.365  1  SC MALE 
    END-POINT  58247.068          64131.052          11683.365  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JV5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58247.068          64131.052          11683.365  1  SC MALE 
    END-POINT  58247.068          64131.052          11683.365  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JV6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58247.068          64131.052          11683.365  1  SC FEMALE 
    END-POINT  58247.988          64130.133          11683.365  1  SC FEMALE 
    CENTRE-POINT   58247.988          64131.052          11683.365 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JV7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58247.988  64131.052  11683.365 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64131.052  11683.365 
    REFERENCED-ITEM
    ITEM-DIRECTION 1
    SKEY 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58247.988          64130.133          11683.365  1  SC FEMALE 
    END-POINT  58247.988          64130.133          11683.365  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JV9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64125.050          11683.365  1  SC MALE 
    END-POINT  58247.988          64130.133          11683.365  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58247.988          64125.050          11683.365  1  SC MALE 
    END-POINT  58247.988          64125.050          11683.365  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58247.988          64125.050          11683.365  1  FL
    END-POINT  58247.988          64125.050          11683.365  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JVC                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58247.988          64125.050          11683.365 
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-013-15
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxSCM, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=3'-7 1/2", P624 FIG 4
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE BSHGHEX1X1/2
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SCF, 150LB, GL-01-BA-000
    RATING 150LB
ITEM-CODE FAB SHOP_1
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, BVxSCM, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
ITEM-CODE UNNRW1
    CATALOG UNIONS_CS_CH2M
    DESCRIPTION UNION, SCF, 150 LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150 LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
