ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213017
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212_A.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1213017-VT-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/16/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/27/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/23/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE-ANGLE
    END-POINT  58316.168          64169.056          11438.355  3  FL
    END-POINT  58322.543          64169.056          11444.480  4  FL
    CENTRE-POINT   58316.168          64169.056          11444.480 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL3X4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_C                   
    TAG PSV-003-14                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58316.168  64169.056  11444.480 
    TEXT PSV$003$14
    UNDIMENSIONED
GASKET
    END-POINT  58316.168          64169.056          11438.355  3
    END-POINT  58316.168          64169.056          11438.230  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_H                   
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58316.168          64169.056          11438.230 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_I                   
GASKET
    END-POINT  58322.668          64169.056          11444.480  4
    END-POINT  58322.543          64169.056          11444.480  4
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_HK                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58322.668          64169.056          11444.480  4  FL
    END-POINT  58322.967          64169.056          11444.480  4  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6                   
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58322.967          64169.056          11444.480 
    PIPELINE-REFERENCE ISO-PY3-1213018
FLANGE
    END-POINT  58316.168          64169.056          11438.230  3  FL
    END-POINT  58316.168          64169.056          11437.952  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_J                   
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58316.168          64169.056          11437.952  3
    END-POINT  58316.168          64169.056          11437.952  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_K                   
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58316.168          64169.056          11437.952  3
    END-POINT  58316.168          64169.056          11437.952  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_L                   
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58316.168          64169.056          11437.952  3  PL
    END-POINT  58316.168          64169.056          11391.681  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_M                   
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58316.168  64169.056  11400.005  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_N                   
FLOOR-SYMBOL 
    CO-ORDS  58316.168  64169.056  11400.003 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58316.168  64169.056  11400.003 
    TEXT Floor Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58316.168  64169.056  11416.024 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58316.168          64169.056          11391.681  3
    END-POINT  58316.168          64169.056          11391.681  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JH                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58316.168          64169.056          11391.681  3  BW
    END-POINT  58311.935          64167.848          11387.183  3  BW
    CENTRE-POINT   58316.168          64169.056          11387.278 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JA                  
    PIPING-SPEC S1
    ANGLE 8875
WELD
    END-POINT  58311.935          64167.848          11387.183  3
    END-POINT  58311.935          64167.848          11387.183  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JK                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58298.330          64163.964          11386.874  3  BW
    END-POINT  58311.935          64167.848          11387.183  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JI                  
    PIPING-SPEC S1
WELD
    END-POINT  58298.330          64163.964          11386.874  3
    END-POINT  58298.330          64163.964          11386.874  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JJ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58294.098          64162.755          11382.375  3  BW
    END-POINT  58298.330          64163.964          11386.874  3  BW
    CENTRE-POINT   58294.098          64162.755          11386.779 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JC                  
    PIPING-SPEC S1
    ANGLE 8875
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58294.098  64162.755  11386.779 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64162.755  11386.779 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58294.098          64162.755          11382.375  3
    END-POINT  58294.098          64162.755          11382.375  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JG                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58294.098          64162.755          11379.279  3  PL
    END-POINT  58294.098          64162.755          11382.375  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JD                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58294.098          64162.755          11379.279  3
    END-POINT  58294.098          64162.755          11379.279  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JE                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58294.098          64162.755          11379.279  3
    END-POINT  58294.098          64162.755          11379.279  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JF                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58294.098          64162.755          11379.000  3  FL
    END-POINT  58294.098          64162.755          11379.279  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_Z                   
    PIPING-SPEC S1
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58294.098  64162.755  11380.190 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58294.098  64138.748  11380.190 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
GASKET
    END-POINT  58294.098          64162.755          11379.000  3
    END-POINT  58294.098          64162.755          11378.875  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_HA                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58294.098          64162.755          11379.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_HB                  
END-POSITION-OPEN 
    CO-ORDS  58294.098          64162.755          11378.875 
MATERIALS
ITEM-CODE VALVREL3X4
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-003-14
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 88.75
    RATING 10S
