ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046017
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046017-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 R.SINGH
    ATTRIBUTE22 3/23/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 3/23/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 3/23/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 3/23/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 3/23/2009
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/23/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 11/1/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DD
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED SUPPORTS AND CONT.
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58121.550          63930.845          11728.800  0.5  SC MALE 
    END-POINT  58121.550          63930.845          11729.670  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSN                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58121.550          63930.845          11729.670 
SCREWED-WELD
    END-POINT  58121.550          63930.845          11728.800  0.5  SC MALE 
    END-POINT  58121.550          63930.845          11728.800  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58121.550          63930.845          11727.450  0.5  SC FEMALE 
    END-POINT  58121.550          63930.845          11728.800  0.5  SC FEMALE 
    CENTRE-POINT   58121.550          63930.845          11728.190 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSP                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58121.550          63930.845          11727.450  0.5  SC FEMALE 
    END-POINT  58121.550          63930.845          11727.450  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSR                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58121.550          63930.845          11724.450  0.5  SC MALE 
    END-POINT  58121.550          63930.845          11727.450  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63930.845          11724.450  0.5  SC MALE 
    END-POINT  58121.550          63930.845          11724.450  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JST                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58121.550          63930.845          11723.786  1  SC MALE 
    END-POINT  58121.550          63930.845          11724.450  0.5  SC FEMALE 
    CENTRE-POINT  58121.550  63930.845  11724.118 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63930.845          11723.786  1  SC MALE 
    END-POINT  58121.550          63930.845          11723.786  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58121.550          63930.845          11722.054  1  SC FEMALE 
    END-POINT  58121.550          63930.845          11723.786  1  SC FEMALE 
    CENTRE-POINT   58121.550          63930.845          11722.974 
    BRANCH1-POINT  58122.470          63930.845          11722.974  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58121.550          63930.845          11722.054  1  SC FEMALE 
    END-POINT  58121.550          63930.845          11722.054  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58122.470          63930.845          11722.974  1  SC FEMALE 
    END-POINT  58122.470          63930.845          11722.974  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58122.470          63930.845          11722.974  1  SC MALE 
    END-POINT  58223.080          63930.845          11722.974  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JSZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58160.979  63930.845  11722.974  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JT0                 
FLOW-ARROW
    CO-ORDS  58214.901  63930.845  11722.974 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58216.979  63930.845  11722.974  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KM9                 
SCREWED-WELD
    END-POINT  58223.080          63930.845          11722.974  1  SC MALE 
    END-POINT  58223.080          63930.845          11722.974  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JT2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58223.080          63930.845          11722.974  1  SC FEMALE 
    END-POINT  58224.000          63930.845          11722.054  1  SC FEMALE 
    CENTRE-POINT   58224.000          63930.845          11722.974 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JT3                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58224.000  63930.845  11722.974 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63930.845  11722.974 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58224.000  63930.845  11722.974 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58224.000  63898.800  11722.974 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58224.000          63930.845          11722.054  1  SC FEMALE 
    END-POINT  58224.000          63930.845          11722.054  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JT5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58224.000          63930.845          11722.054  1  SC MALE 
    END-POINT  58224.000          63930.845          11705.894  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JT6                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.000          63930.845          11705.894  1  SC MALE 
    END-POINT  58224.000          63930.845          11705.894  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JT7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58224.000          63931.765          11704.974  1  SC FEMALE 
    END-POINT  58224.000          63930.845          11705.894  1  SC FEMALE 
    CENTRE-POINT   58224.000          63930.845          11704.974 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JT8                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58224.000          63931.765          11704.974  1  SC FEMALE 
    END-POINT  58224.000          63931.765          11704.974  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58224.000          63931.765          11704.974  1  SC MALE 
    END-POINT  58224.000          64074.650          11704.974  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTB                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58224.000  64054.827  11704.974  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTC                 
SUPPORT
    CO-ORDS  58224.000  63981.537  11704.974  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTD                 
FLOW-ARROW
    CO-ORDS  58224.000  63964.973  11704.974 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58224.000          64074.650          11704.974  1  SC MALE 
    END-POINT  58224.000          64074.650          11704.974  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58224.000          64075.570          11704.054  1  SC FEMALE 
    END-POINT  58224.000          64074.650          11704.974  1  SC FEMALE 
    CENTRE-POINT   58224.000          64075.570          11704.974 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58224.000          64075.570          11704.054  1  SC FEMALE 
    END-POINT  58224.000          64075.570          11704.054  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58224.000          64075.570          11704.054  1  SC MALE 
    END-POINT  58224.000          64075.570          11650.959  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTI                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58224.000  64075.570  11667.865 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58224.000          64075.570          11650.959  1  SC MALE 
    END-POINT  58224.000          64075.570          11650.959  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58224.000          64075.570          11650.959  1  SC FEMALE 
    END-POINT  58224.000          64075.570          11649.119  1  SC FEMALE 
    CENTRE-POINT   58224.000          64075.570          11650.039 
    BRANCH1-POINT  58223.589          64074.747          11650.039  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTL                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58224.000          64075.570          11649.119  1  SC FEMALE 
    END-POINT  58224.000          64075.570          11649.119  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58223.589          64074.747          11650.039  1  SC FEMALE 
    END-POINT  58223.589          64074.747          11650.039  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58221.411          64070.393          11650.039  1  SC MALE 
    END-POINT  58223.589          64074.747          11650.039  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JTO                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58221.411          64070.393          11650.039 
    PIPELINE-REFERENCE ISO-PY3-1223025
PIPE
    END-POINT  58224.000          64075.570          11649.119  1  SC MALE 
    END-POINT  58224.000          64075.570          11643.204  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JXX                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.000          64075.570          11643.204  1  SC MALE 
    END-POINT  58224.000          64075.570          11643.204  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JXY                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58224.000          64075.570          11641.814  1  SC FEMALE 
    END-POINT  58224.000          64075.570          11643.204  1  SC FEMALE 
    CENTRE-POINT   58224.000          64075.570          11642.509 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JXZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58224.000          64075.570          11641.814  1  SC FEMALE 
    END-POINT  58224.000          64075.570          11641.814  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY1                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58224.000          64075.570          11641.814  1  SC MALE 
    END-POINT  58224.000          64075.570          11635.909  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY2                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.000          64075.570          11635.909  1  SC MALE 
    END-POINT  58224.000          64075.570          11635.909  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58224.000          64075.570          11635.909  1  SC FEMALE 
    END-POINT  58224.000          64075.570          11634.177  1  SC FEMALE 
    CENTRE-POINT   58224.000          64075.570          11634.989 
    BRANCH1-POINT  58224.920          64075.570          11634.989  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY4                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58224.000          64075.570          11634.177  1  SC FEMALE 
    END-POINT  58224.000          64075.570          11634.177  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.920          64075.570          11634.989  1  SC FEMALE 
    END-POINT  58224.920          64075.570          11634.989  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58241.301          64075.570          11634.989  1  SC MALE 
    END-POINT  58224.920          64075.570          11634.989  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58241.301          64075.570          11634.989  1  SC MALE 
    END-POINT  58241.301          64075.570          11634.989  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY8                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
UNION
    END-POINT  58242.612          64075.570          11634.989  1  SC FEMALE 
    END-POINT  58241.301          64075.570          11634.989  1  SC FEMALE 
    SKEY UNSC
    FABRICATION-ITEM
    ITEM-CODE UNNRW1
    WEIGHT           1.500
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JY9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58242.612          64075.570          11634.989  1  SC FEMALE 
    END-POINT  58242.612          64075.570          11634.989  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYA                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58247.068          64075.570          11634.989  1  SC MALE 
    END-POINT  58242.612          64075.570          11634.989  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58247.068          64075.570          11634.989  1  SC MALE 
    END-POINT  58247.068          64075.570          11634.989  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58247.988          64076.221          11635.640  1  SC FEMALE 
    END-POINT  58247.068          64075.570          11634.989  1  SC FEMALE 
    CENTRE-POINT   58247.988          64075.570          11634.989 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58247.988          64076.221          11635.640  1  SC FEMALE 
    END-POINT  58247.988          64076.221          11635.640  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64079.947          11639.366  1  SC MALE 
    END-POINT  58247.988          64076.221          11635.640  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58247.988          64079.947          11639.366  1  SC MALE 
    END-POINT  58247.988          64079.947          11639.366  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58247.988          64079.947          11639.366  1  FL
    END-POINT  58247.988          64079.947          11639.366  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYH                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58247.988          64079.947          11639.366  1
    END-POINT  58247.988          64079.991          11639.410  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KMA                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58247.988          64079.947          11639.366 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KMB                 
NOZZLE
    CO-ORDS  58247.988          64079.991          11639.410  1  FL
    CONNECTION-REFERENCE PY3-013$NOZZLE TAG CONE873-D4$RATING 150LB$FACING RF
MISC-COMPONENT
    END-POINT  58224.000          64075.570          11634.177  1  SC MALE 
    END-POINT  58224.000          64075.570          11633.583  0.75  SC FEMALE 
    CENTRE-POINT  58224.000  64075.570  11633.880 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.000          64075.570          11633.583  0.75  SC FEMALE 
    END-POINT  58224.000          64075.570          11633.583  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58224.000          64075.570          11633.583  0.75  SC MALE 
    END-POINT  58224.000          64075.570          11630.583  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.000          64075.570          11630.583  0.75  SC MALE 
    END-POINT  58224.000          64075.570          11630.583  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYN                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58224.000          64075.570          11630.583  0.75  SC FEMALE 
    END-POINT  58224.000          64075.570          11629.143  0.75  SC FEMALE 
    CENTRE-POINT   58224.000          64075.570          11629.803 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYO                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58224.000          64075.570          11629.143  0.75  SC FEMALE 
    END-POINT  58224.000          64075.570          11629.143  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYQ                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58224.000          64075.570          11629.143  0.75  SC MALE 
    END-POINT  58224.000          64075.570          11628.143  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYR                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58224.000          64075.570          11628.143 
PIPE
    END-POINT  58121.550          63930.845          11722.054  1  SC MALE 
    END-POINT  58121.550          63930.845          11705.894  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63930.845          11705.894  1  SC MALE 
    END-POINT  58121.550          63930.845          11705.894  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58121.550          63930.845          11705.894  1  SC FEMALE 
    END-POINT  58121.550          63929.925          11704.974  1  SC FEMALE 
    CENTRE-POINT   58121.550          63930.845          11704.974 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58121.550          63929.925          11704.974  1  SC FEMALE 
    END-POINT  58121.550          63929.925          11704.974  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63929.925          11704.974  1  SC MALE 
    END-POINT  58121.550          63880.300          11704.974  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JYW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63880.300          11704.974  1  SC FEMALE 
    END-POINT  58121.550          63880.300          11704.974  1  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IK9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58121.550  63877.925  11704.974 
    BRANCH1-POINT  58121.550          63880.300          11704.974  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IJW                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550  63877.925  11704.974 
    PIPELINE-REFERENCE ISO-PY3-2046011
MATERIALS
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE BSHGHEX1X1/2
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=4'-0", P624 FIG 4
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1_1
    DESCRIPTION GENERAL HANGER, L=3'-0", P624 FIG 4
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE UNNRW1
    CATALOG UNIONS_CS_CH2M
    DESCRIPTION UNION, SCF, 150 LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150 LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE BSHGHEX1X3/4
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
