ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222019
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 CWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1222019-CWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022-00
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 12/31/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPLE
    ATTRIBUTE26 12/31/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 12/31/2008
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 12/31/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 12/31/2008
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 12/31/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 NK
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 4/21/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57964.398          63991.500          11794.437  1  SC MALE 
    END-POINT  57970.187          63991.500          11794.437  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9E                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57964.398          63991.500          11794.437  1  SC MALE 
    END-POINT  57964.398          63991.500          11794.437  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57970.187          63991.500          11794.437  1  SC MALE 
    END-POINT  57970.187          63991.500          11794.437  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9G                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57972.562  63991.500  11794.437 
    BRANCH1-POINT  57970.187          63991.500          11794.437  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C8R                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57972.562  63991.500  11794.437 
    PIPELINE-REFERENCE ISO-PY3-2034010
ELBOW
    END-POINT  57964.398          63991.500          11794.437  1  SC FEMALE 
    END-POINT  57963.478          63992.420          11794.437  1  SC FEMALE 
    CENTRE-POINT   57963.478          63991.500          11794.437 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9B                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57963.478          63992.420          11794.437  1  SC MALE 
    END-POINT  57963.478          63992.420          11794.437  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57963.478          63992.420          11794.437  1  SC MALE 
    END-POINT  57963.478          63997.835          11794.437  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9H                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57963.478          63997.835          11794.437  1  SC FEMALE 
    END-POINT  57963.478          63997.835          11794.437  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9K                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  57963.478          63997.835          11794.437  1  SC FEMALE 
    END-POINT  57963.478          63999.225          11794.437  1  SC FEMALE 
    CENTRE-POINT   57963.478          63998.530          11794.437 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9J                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  57963.478          63999.225          11794.437  1  SC MALE 
    END-POINT  57963.478          63999.225          11794.437  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9O                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57963.478          63999.225          11794.437  1  SC MALE 
    END-POINT  57963.478          64003.708          11794.437  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9N                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57963.478          64003.708          11794.437  1  SC FEMALE 
    END-POINT  57963.478          64003.708          11794.437  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57963.478          64003.708          11794.437  1  SC FEMALE 
    END-POINT  57963.478          64004.628          11793.517  1  SC FEMALE 
    CENTRE-POINT   57963.478          64004.628          11794.437 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9P                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57963.478          64004.628          11793.517  1  SC MALE 
    END-POINT  57963.478          64004.628          11793.517  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57963.478          64004.628          11793.517  1  SC MALE 
    END-POINT  57963.478          64004.628          11764.189  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9S                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57963.478  64004.628  11783.990  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAI                 
SCREWED-WELD
    END-POINT  57963.478          64004.628          11764.189  1  SC MALE 
    END-POINT  57963.478          64004.628          11764.189  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57962.558          64004.628          11763.269  1  SC FEMALE 
    END-POINT  57963.478          64004.628          11764.189  1  SC FEMALE 
    CENTRE-POINT   57963.478          64004.628          11763.269 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57962.558          64004.628          11763.269  1  SC MALE 
    END-POINT  57962.558          64004.628          11763.269  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57962.558          64004.628          11763.269  1  SC MALE 
    END-POINT  57940.613          64004.628          11763.269  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBS                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57951.852  64004.628  11763.269 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  57940.613          64004.628          11763.269  1  SC MALE 
    END-POINT  57940.613          64004.628          11763.269  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57939.693          64005.548          11763.269  1  SC FEMALE 
    END-POINT  57940.613          64004.628          11763.269  1  SC FEMALE 
    CENTRE-POINT   57939.693          64004.628          11763.269 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CA6                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57939.693  64004.628  11763.269 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64004.628  11763.269 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57939.693  64004.628  11763.269 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57939.693  63898.800  11763.269 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  57939.693          64005.548          11763.269  1  SC MALE 
    END-POINT  57939.693          64005.548          11763.269  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CA9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57939.693          64005.548          11763.269  1  SC MALE 
    END-POINT  57939.693          64026.179          11763.265  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CA8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57939.693          64026.179          11763.265  1  SC MALE 
    END-POINT  57939.693          64026.179          11763.265  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57939.693          64027.099          11762.345  1  SC FEMALE 
    END-POINT  57939.693          64026.179          11763.265  1  SC FEMALE 
    CENTRE-POINT   57939.693          64027.099          11763.265 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9W                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  57939.693          64027.099          11762.345  1  SC MALE 
    END-POINT  57939.693          64027.099          11762.345  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57939.693          64027.099          11762.345  1  SC MALE 
    END-POINT  57939.692          64027.091          11726.978  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57939.692          64027.091          11726.978  1  SC MALE 
    END-POINT  57939.693          64027.092          11726.978  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57939.693  64027.092  11724.603 
    BRANCH1-POINT  57939.693          64027.092          11726.978  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C7K                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57939.693  64027.092  11724.603 
    PIPELINE-REFERENCE ISO-PY3-1222014
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE SUPRH-1
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
