ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223010
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 MS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1223010-MS-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/4/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/11/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/12/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58185.862          64221.978          11588.661  0.75  SC FEMALE 
    END-POINT  58185.862          64221.978          11587.721  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CU                 
    PIPING-SPEC C2
    END-POSITION-CLOSED 
    CO-ORDS  58185.862          64221.978          11587.721 
SCREWED-WELD
    END-POINT  58185.862          64221.978          11588.661  0.75  SC FEMALE 
    END-POINT  58185.862          64221.978          11588.661  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58185.862          64221.978          11590.661  0.75  SW MALE 
    END-POINT  58185.862          64221.978          11588.661  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CS                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58185.862          64221.978          11590.661  0.75  SW MALE 
    END-POINT  58185.862          64221.978          11590.661  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CT                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58185.862          64221.978          11593.036  0.75  SW FEMALE 
    END-POINT  58185.862          64221.978          11590.661  0.75  SW FEMALE 
    CENTRE-POINT   58185.862          64221.978          11591.849 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58185.862          64221.978          11593.036  0.75  SW FEMALE 
    END-POINT  58185.862          64221.978          11593.036  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CR                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58185.862          64221.978          11596.286  0.75  PL
    END-POINT  58185.862          64221.978          11593.036  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CP                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58185.862          64221.978          11596.286  0.75
    END-POINT  58185.862          64221.978          11596.286  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8D5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58185.862          64221.978          11596.849  1.5  SW MALE 
    END-POINT  58185.862          64221.978          11596.286  0.75  SW FEMALE 
    CENTRE-POINT  58185.862  64221.978  11596.568 
    SKEY NCSW
    FABRICATION-ITEM
    ITEM-CODE INST21+1/2X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CC                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58185.862          64221.978          11596.849  1.5  SW MALE 
    END-POINT  58185.862          64221.978          11596.849  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9N                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58185.862          64221.978          11599.349  1.5  SW FEMALE 
    END-POINT  58185.862          64221.978          11596.849  1.5  SW FEMALE 
    CENTRE-POINT   58185.862          64221.978          11598.099 
    BRANCH1-POINT  58184.612          64221.978          11598.099  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A87                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58185.862  64221.978  11598.099 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64221.978  11598.099 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58185.862  64221.978  11598.099 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58185.862  64378.800  11598.099 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
SOCKET-WELD
    END-POINT  58185.862          64221.978          11599.349  1.5
    END-POINT  58185.862          64221.978          11599.349  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8W                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58184.612          64221.978          11598.099  1.5
    END-POINT  58184.612          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8C                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58184.612          64221.978          11598.099  1.5  PL
    END-POINT  58178.902          64221.978          11598.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8B                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58181.166  64221.978  11598.099  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAI                 
SOCKET-WELD
    END-POINT  58178.902          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58178.902          64221.978          11598.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8F                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
VALVE
    END-POINT  58178.902          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58175.152          64221.978          11598.099  1.5  SW FEMALE 
    CENTRE-POINT   58177.027          64221.978          11598.099 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8E                 
    PIPING-SPEC C2
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58175.152          64221.978          11598.099  1.5
    END-POINT  58175.152          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8J                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58175.152          64221.978          11598.099  1.5  PL
    END-POINT  58171.910          64221.978          11598.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8I                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58171.910          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58171.910          64221.978          11598.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
FLANGE
    END-POINT  58171.650          64221.978          11598.099  1.5  FL
    END-POINT  58171.910          64221.978          11598.099  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8K                 
    PIPING-SPEC C2
GASKET
    END-POINT  58171.525          64221.978          11598.099  1.5
    END-POINT  58171.650          64221.978          11598.099  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8N                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58171.525          64221.978          11598.099 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8O                 
FLANGE
    END-POINT  58171.525          64221.978          11598.099  1.5  FL
    END-POINT  58171.265          64221.978          11598.099  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8M                 
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58171.265          64221.978          11598.099  1.5
    END-POINT  58171.265          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58171.265          64221.978          11598.099  1.5  PL
    END-POINT  58167.524          64221.978          11598.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8P                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58168.743  64221.978  11598.099 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58167.524          64221.978          11598.099  1.5
    END-POINT  58167.524          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8Z                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
TEE
    END-POINT  58167.524          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58162.995          64221.978          11598.099  1.5  SW FEMALE 
    CENTRE-POINT   58166.186          64221.978          11598.099 
    BRANCH1-POINT  58163.181          64221.978          11595.094  0.75  SC FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE STRWYE1+1/2
    WEIGHT           7.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8R                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58162.995          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58162.995          64221.978          11598.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A90                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
SCREWED-WELD
    END-POINT  58163.181          64221.978          11595.094  0.75  SC MALE 
    END-POINT  58163.181          64221.978          11595.094  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9Q                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
PIPE
    END-POINT  58163.181          64221.978          11595.094  0.75  SC MALE 
    END-POINT  58160.353          64221.978          11592.265  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9P                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.353          64221.978          11592.265  0.75  SW FEMALE 
    END-POINT  58160.353          64221.978          11592.265  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9S                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
VALVE
    END-POINT  58160.353          64221.978          11592.265  0.75  SW FEMALE 
    END-POINT  58158.673          64221.978          11590.586  0.75  SW FEMALE 
    CENTRE-POINT   58159.513          64221.978          11591.425 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9R                 
    PIPING-SPEC C2
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58158.673          64221.978          11590.586  0.75  SW MALE 
    END-POINT  58158.673          64221.978          11590.586  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9W                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE-FIXED
    END-POINT  58158.673          64221.978          11590.586  0.75  SW MALE 
    END-POINT  58157.259          64221.978          11589.172  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9V                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58157.259          64221.978          11589.172  0.75  SC FEMALE 
    END-POINT  58157.259          64221.978          11589.172  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9Y                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
CAP
    END-POINT  58157.259          64221.978          11589.172  0.75  SC FEMALE 
    END-POINT  58156.594          64221.978          11588.507  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9X                 
    PIPING-SPEC C2
    END-POSITION-CLOSED 
    CO-ORDS  58156.594          64221.978          11588.507 
REDUCER-ECCENTRIC
    END-POINT  58162.995          64221.978          11598.099  1.5  PL
    END-POINT  58158.495          64221.978          11597.674  0.75  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7Y                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58158.495          64221.978          11597.674  0.75
    END-POINT  58158.495          64221.978          11597.674  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A80                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
MISC-COMPONENT
    END-POINT  58153.495          64221.978          11597.674  0.75  SW FEMALE 
    END-POINT  58158.495          64221.978          11597.674  0.75  SW FEMALE 
    CENTRE-POINT  58155.995  64221.978  11597.674 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7V                 
    TAG SP-012                          
    PIPING-SPEC C2
MESSAGE-ROUND
    CO-ORDS  58155.673  64221.978  11597.674 
    TEXT SP-012
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58153.495          64221.978          11597.674  0.75  SW FEMALE 
    END-POINT  58153.495          64221.978          11597.674  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7W                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
REDUCER-ECCENTRIC
    END-POINT  58148.995          64221.978          11598.099  1.5  PL
    END-POINT  58153.495          64221.978          11597.674  0.75  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7S                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58148.995          64221.978          11598.099  1.5
    END-POINT  58148.995          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7U                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
VALVE
    END-POINT  58148.995          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58144.745          64221.978          11598.099  1.5  SW FEMALE 
    CENTRE-POINT   58146.964          64221.978          11598.099 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT          16.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7Q                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58144.745          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58144.745          64221.978          11598.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7R                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58140.625          64221.978          11598.099  1.5  PL
    END-POINT  58144.745          64221.978          11598.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7O                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58140.625          64221.978          11598.099  1.5
    END-POINT  58140.625          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
FLANGE
    END-POINT  58140.365          64221.978          11598.099  1.5  FL
    END-POINT  58140.625          64221.978          11598.099  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7L                 
    PIPING-SPEC C2
GASKET
    END-POINT  58140.365          64221.978          11598.099  1.5
    END-POINT  58140.240          64221.978          11598.099  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7M                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58140.365          64221.978          11598.099 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7N                 
FLANGE
    END-POINT  58140.240          64221.978          11598.099  1.5  FL
    END-POINT  58139.980          64221.978          11598.099  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7J                 
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58139.980          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58139.980          64221.978          11598.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58135.485          64221.978          11598.099  1.5  PL
    END-POINT  58139.980          64221.978          11598.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7H                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58135.485          64221.978          11598.099  1.5
    END-POINT  58135.485          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7I                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
VALVE
    END-POINT  58131.735          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58135.485          64221.978          11598.099  1.5  SW FEMALE 
    CENTRE-POINT   58133.610          64221.978          11598.099 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A79                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58131.735          64221.978          11598.099  1.5  SW FEMALE 
    END-POINT  58131.735          64221.978          11598.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A7A                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58125.048          64221.978          11598.099  1.5  PL
    END-POINT  58131.735          64221.978          11598.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A76                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58129.153  64221.978  11598.099  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAK                 
SOCKET-WELD
    END-POINT  58125.048          64221.978          11598.099  1.5
    END-POINT  58125.048          64221.978          11598.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A93                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58123.798          64221.978          11599.349  1.5  SW FEMALE 
    END-POINT  58123.798          64221.978          11596.849  1.5  SW FEMALE 
    CENTRE-POINT   58123.798          64221.978          11598.099 
    BRANCH1-POINT  58125.048          64221.978          11598.099  1.5  SW FEMALE 
    SKEY TESW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A0Y                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58123.798          64221.978          11599.349 
    PIPELINE-REFERENCE ISO-PY3-1223008
PIPE
    END-POINT  58185.862          64221.978          11603.349  1.5  PL
    END-POINT  58185.862          64221.978          11599.349  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8U                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58185.862  64221.978  11601.168 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58185.862          64221.978          11603.349  1.5
    END-POINT  58185.862          64221.978          11603.349  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A8V                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58185.862          64221.978          11603.349  1.5  SW FEMALE 
    END-POINT  58185.862          64221.405          11604.732  1.5  SW FEMALE 
    CENTRE-POINT   58185.862          64221.978          11604.159 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8GQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58185.862          64221.405          11604.732  1.5
    END-POINT  58185.862          64221.405          11604.732  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8N1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58185.862          64216.551          11609.586  1.5  PL
    END-POINT  58185.862          64221.405          11604.732  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58185.862          64216.551          11609.586  1.5
    END-POINT  58185.862          64216.551          11609.586  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8N0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58185.862          64216.551          11609.586  1.5  SW FEMALE 
    END-POINT  58185.862          64215.978          11610.969  1.5  SW FEMALE 
    CENTRE-POINT   58185.862          64215.978          11610.159 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8H0                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58185.862          64215.978          11610.969  1.5
    END-POINT  58185.862          64215.978          11610.969  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8JK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58185.862          64215.978          11660.419  1.5  PL
    END-POINT  58185.862          64215.978          11610.969  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8JI                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58185.862  64215.978  11635.994 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58185.862          64215.978          11660.419  1.5
    END-POINT  58185.862          64215.978          11660.419  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8JJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58187.112          64215.978          11661.669  1.5  SW FEMALE 
    END-POINT  58185.862          64215.978          11660.419  1.5  SW FEMALE 
    CENTRE-POINT   58185.862          64215.978          11661.669 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8JD                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58187.112          64215.978          11661.669  1.5
    END-POINT  58187.112          64215.978          11661.669  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8JG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58187.112          64215.978          11661.669  1.5  PL
    END-POINT  58194.612          64215.978          11661.669  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8JF                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58194.612          64215.978          11661.669  1.5
    END-POINT  58194.612          64215.978          11661.669  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8JH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58195.862          64215.978          11662.919  1.5  SW FEMALE 
    END-POINT  58194.612          64215.978          11661.669  1.5  SW FEMALE 
    CENTRE-POINT   58195.862          64215.978          11661.669 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8IS                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58195.862          64215.978          11662.919  1.5
    END-POINT  58195.862          64215.978          11662.919  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8M7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58195.862          64215.978          11668.419  1.5  PL
    END-POINT  58195.862          64215.978          11662.919  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8M5                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58195.862          64215.978          11668.419  1.5
    END-POINT  58195.862          64215.978          11668.419  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8M6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58195.862          64214.728          11669.669  1.5  SW FEMALE 
    END-POINT  58195.862          64215.978          11668.419  1.5  SW FEMALE 
    CENTRE-POINT   58195.862          64215.978          11669.669 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8IJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58195.862          64214.728          11669.669  1.5  SW FEMALE 
    END-POINT  58195.862          64214.728          11669.669  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8IL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58195.862          64214.728          11669.669  1.5  PL
    END-POINT  58195.862          64132.680          11669.669  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_67E                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58195.862  64162.748  11669.669  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_68D                 
SOCKET-WELD
    END-POINT  58195.862          64132.680          11669.669  1.5  SW FEMALE 
    END-POINT  58195.862          64132.680          11669.669  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6CA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58195.862          64132.680          11669.669  1.5  SW FEMALE 
    END-POINT  58195.862          64131.430          11670.919  1.5  SW FEMALE 
    CENTRE-POINT   58195.862          64131.430          11669.669 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6C8                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58195.862          64131.430          11670.919  1.5  SW FEMALE 
    END-POINT  58195.862          64131.430          11670.919  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6CB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58195.862          64131.430          11760.615  1.5  PL
    END-POINT  58195.862          64131.430          11670.919  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6B9                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58195.862  64131.430  11707.090 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58195.862          64131.430          11760.615  1.5
    END-POINT  58195.862          64131.430          11760.615  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6BA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58195.862          64130.180          11761.865  1.5  SW FEMALE 
    END-POINT  58195.862          64131.430          11760.615  1.5  SW FEMALE 
    CENTRE-POINT   58195.862          64131.430          11761.865 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6B4                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58195.862          64130.180          11761.865  1.5
    END-POINT  58195.862          64130.180          11761.865  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6BN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58195.862          64123.437          11761.865  1.5  PL
    END-POINT  58195.862          64130.180          11761.865  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6BL                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58195.862          64123.437          11761.865  1.5
    END-POINT  58195.862          64123.437          11761.865  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6BM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58197.112          64122.187          11761.865  1.5  SW FEMALE 
    END-POINT  58195.862          64123.437          11761.865  1.5  SW FEMALE 
    CENTRE-POINT   58195.862          64122.187          11761.865 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6B1                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58197.112          64122.187          11761.865  1.5
    END-POINT  58197.112          64122.187          11761.865  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6DW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58242.935          64122.187          11761.865  1.5  PL
    END-POINT  58197.112          64122.187          11761.865  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6DU                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58218.146  64122.187  11761.865 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58242.935          64122.187          11761.865  1.5
    END-POINT  58242.935          64122.187          11761.865  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6E5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58242.935          64122.187          11761.865  1.5  SW FEMALE 
    END-POINT  58244.318          64122.760          11761.865  1.5  SW FEMALE 
    CENTRE-POINT   58243.745          64122.187          11761.865 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6E1                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58244.318          64122.760          11761.865  1.5
    END-POINT  58244.318          64122.760          11761.865  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6E3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58244.318          64122.760          11761.865  1.5  PL
    END-POINT  58247.104          64125.546          11761.865  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6E2                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58247.104          64125.546          11761.865  1.5
    END-POINT  58247.104          64125.546          11761.865  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6E4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58247.987          64126.430          11763.115  1.5  SW FEMALE 
    END-POINT  58247.104          64125.546          11761.865  1.5  SW FEMALE 
    CENTRE-POINT   58247.987          64126.430          11761.865 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6DX                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58247.987          64126.430          11763.115  1.5  SW FEMALE 
    END-POINT  58247.987          64126.430          11763.115  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6DZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58247.987          64126.430          11763.115  1.5  PL
    END-POINT  58247.987          64126.430          11772.615  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AT                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58247.987          64126.430          11772.615  1.5
    END-POINT  58247.987          64126.430          11772.615  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58247.987          64125.180          11773.865  1.5  SW FEMALE 
    END-POINT  58247.987          64126.430          11772.615  1.5  SW FEMALE 
    CENTRE-POINT   58247.987          64126.430          11773.865 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AO                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58247.987          64125.180          11773.865  1.5  SW FEMALE 
    END-POINT  58247.987          64125.180          11773.865  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58247.987          64122.060          11773.865  1.5  PL
    END-POINT  58247.987          64125.180          11773.865  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AM                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58247.987          64122.060          11773.865  1.5
    END-POINT  58247.987          64122.060          11773.865  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58247.987          64121.800          11773.865  1.5  FL
    END-POINT  58247.987          64122.060          11773.865  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5SM                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58247.987          64121.800          11773.865  1.5
    END-POINT  58247.987          64121.675          11773.865  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5SN                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58247.987          64121.800          11773.865 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5SO                 
END-POSITION-OPEN 
    CO-ORDS  58247.987          64121.675          11773.865 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE INST21+1/2X3/4
    CATALOG ANSI B16.11
    DESCRIPTION REDUCING INSERT, SWMxSWF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION P651 FIG 1
ITEM-CODE VALVGAT1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE STRWYE1+1/2
    CATALOG CYTEC STRAINER
    DESCRIPTION Y-STRAINER, CL. 250, SW, CS, YARWAY 921 SW OR EQUAL (12.14)
    RATING 250LB
ITEM-CODE CAP3/4_1
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, PLxPL, SCH 40xSCH 80, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE GENSTR3/4
    DESCRIPTION SP-012
    RATING 3000LB
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE 45L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 45 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPTS-1+1/2
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
