ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1901015
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_TF11.DWG
    ATTRIBUTE98 WW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1901015-WW-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-WW3-81P-001
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 3/20/2009
    ATTRIBUTE25 TS
    ATTRIBUTE26 3/25/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/25/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/25/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/25/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 3/25/2009
    ATTRIBUTE36 DKC
    ATTRIBUTE37 TS
    ATTRIBUTE38 DCD
    ATTRIBUTE39 I.F.C.
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  60295.570          66338.555          11620.201  1.5  BW
    END-POINT  60295.570          66338.532          11702.400  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AH8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60295.570          66338.555          11620.201  1.5
    END-POINT  60295.570          66338.555          11620.201  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AH9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60295.570          66338.532          11702.400  1.5
    END-POINT  60295.570          66338.532          11702.400  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AHA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60295.570          66340.805          11704.627  1.5  BW
    END-POINT  60295.570          66336.305          11704.673  1.5  BW
    CENTRE-POINT   60295.570          66338.555          11704.650 
    BRANCH1-POINT  60295.570          66338.532          11702.400  1.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4GZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  60295.570          66340.805          11704.627 
    PIPELINE-REFERENCE ISO-GS3-1901003
ELBOW
    END-POINT  60295.570          66338.555          11620.201  1.5  BW
    END-POINT  60297.820          66338.555          11617.951  1.5  BW
    CENTRE-POINT   60295.570          66338.555          11617.951 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AH5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60295.570  66338.555  11617.951 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60348.570  66338.555  11617.951 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. T2.G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60295.570  66338.555  11617.951 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60295.570  66342.555  11617.951 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. 3.A
WELD
    END-POINT  60297.820          66338.555          11617.951  1.5
    END-POINT  60297.820          66338.555          11617.951  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AH7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60297.820          66338.555          11617.951  1.5  BW
    END-POINT  60363.133          66338.555          11617.951  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AYO                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60327.066  66338.555  11617.951  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AI8                 
WELD
    END-POINT  60363.133          66338.555          11617.951  1.5
    END-POINT  60363.133          66338.555          11617.951  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AYP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60363.133          66338.555          11617.951  1.5  BW
    END-POINT  60367.633          66338.555          11617.951  1.5  BW
    CENTRE-POINT   60365.383          66338.555          11617.951 
    BRANCH1-POINT  60365.383          66338.555          11615.701  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AYM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60367.633          66338.555          11617.951  1.5
    END-POINT  60367.633          66338.555          11617.951  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AYR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60365.383          66338.555          11615.701  1.5
    END-POINT  60365.383          66338.555          11615.701  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AYV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60365.383          66338.555          11615.701  1.5  BW
    END-POINT  60365.383          66338.555          11608.201  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AYU                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  60365.383          66338.555          11608.201 
    PIPELINE-REFERENCE ISO-GS3-1901006
PIPE
    END-POINT  60367.633          66338.555          11617.951  1.5  BW
    END-POINT  61535.103          66338.555          11617.951  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AYQ                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  61385.425  66338.555  11617.951 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  60433.553  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BMN                 
SUPPORT
    CO-ORDS  60553.553  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BMP                 
SUPPORT
    CO-ORDS  60673.553  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BMV                 
SUPPORT
    CO-ORDS  60793.553  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BN5                 
SUPPORT
    CO-ORDS  60792.070  66338.555  11617.951  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BNB                 
SUPPORT
    CO-ORDS  60913.553  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BNL                 
SUPPORT
    CO-ORDS  61031.559  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BNR                 
SUPPORT
    CO-ORDS  61153.559  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BNX                 
SUPPORT
    CO-ORDS  61152.082  66338.555  11617.951  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BO5                 
SUPPORT
    CO-ORDS  61273.559  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BOB                 
SUPPORT
    CO-ORDS  61393.559  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BOH                 
SUPPORT
    CO-ORDS  61477.559  66338.555  11617.951  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BON                 
SUPPORT
    CO-ORDS  61476.076  66338.555  11617.951  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BP3                 
WELD
    END-POINT  61535.103          66338.555          11617.951  1.5
    END-POINT  61535.103          66338.555          11617.951  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AXI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  61537.353          66338.555          11615.701  1.5  BW
    END-POINT  61535.103          66338.555          11617.951  1.5  BW
    CENTRE-POINT   61537.353          66338.555          11617.951 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AX8                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  61537.353          66338.555          11615.701 
    PIPELINE-REFERENCE ISO-TF3-1901015
MATERIALS
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION P651-FIG. 1
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION P651-FIG. 2
