ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1011009
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_GS02.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1011009-VTS-S1
    ATTRIBUTE95 i1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-81P-011
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 T. SANDERS
    ATTRIBUTE26 12/31/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 DKC
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE43 TS
    ATTRIBUTE44 DCD
    ATTRIBUTE45 I.F.C.
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 DC
    ATTRIBUTE49 BL
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/1/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DD
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED SUPPORTS
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  60325.316          66066.654          11642.389  3  BW
    END-POINT  60377.629          66066.654          11642.747  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SY                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60330.498  66066.654  11642.424  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2U4                 
WELD
    END-POINT  60325.316          66066.654          11642.389  3
    END-POINT  60325.316          66066.654          11642.389  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  60377.629          66066.654          11642.747  3
    END-POINT  60377.629          66066.654          11642.747  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FUZK55FC_F0                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60382.129          66066.654          11647.247  3  BW
    END-POINT  60377.629          66066.654          11642.747  3  BW
    CENTRE-POINT   60382.129          66066.654          11642.747 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUZK55FC_8T                  
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  60382.129          66066.654          11647.247 
    PIPELINE-REFERENCE ISO-TF3-1011009
ELBOW
    END-POINT  60320.816          66062.154          11642.340  3  BW
    END-POINT  60325.316          66066.654          11642.389  3  BW
    CENTRE-POINT   60320.816          66066.654          11642.358 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SX                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60320.816          66062.154          11642.340  3
    END-POINT  60320.816          66062.154          11642.340  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2T2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60320.816          66062.154          11642.340  3  BW
    END-POINT  60320.816          65969.154          11641.970  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SM                 
    PIPING-SPEC S1
WELD
    END-POINT  60320.816          65969.154          11641.970  3
    END-POINT  60320.816          65969.154          11641.970  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  60320.816  66056.154  11642.316  3
    END-POINT  60320.816  66056.154  11642.316  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4G9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      60320.816  66056.154  11642.316 
    BRANCH1-POINT  60318.004          66056.154          11642.316  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4G7                 
    PIPING-SPEC S1
WELD
    END-POINT  60318.004          66056.154          11642.316  1
    END-POINT  60318.004          66056.154          11642.316  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1I8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60306.070          66056.154          11642.316  1  BW
    END-POINT  60318.004          66056.154          11642.316  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMYSEXDV_1G9                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  60306.070          66056.154          11642.316 
    PIPELINE-REFERENCE ISO-TF3-1012013
ELBOW
    END-POINT  60325.316          65964.654          11641.921  3  BW
    END-POINT  60320.816          65969.154          11641.970  3  BW
    CENTRE-POINT   60320.816          65964.654          11641.952 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SG                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60325.316          65964.654          11641.921  3
    END-POINT  60325.316          65964.654          11641.921  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60325.316          65964.654          11641.921  3  BW
    END-POINT  60350.347          65964.654          11641.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SP                 
    PIPING-SPEC S1
WELD
    END-POINT  60350.347          65964.654          11641.750  3
    END-POINT  60350.347          65964.654          11641.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60354.816          65964.654          11637.250  3  BW
    END-POINT  60350.347          65964.654          11641.750  3  BW
    CENTRE-POINT   60354.816          65964.654          11641.719 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SE                 
    PIPING-SPEC S1
    ANGLE 8961
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60354.816  65964.654  11641.719 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60644.575  65964.654  11641.719 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60354.816  65964.654  11641.719 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60354.816  66119.999  11641.719 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
WELD
    END-POINT  60354.816          65964.654          11637.250  3
    END-POINT  60354.816          65964.654          11637.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2SF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60354.816          65964.654          11637.250  3  BW
    END-POINT  60354.816          65960.172          11632.750  3  BW
    CENTRE-POINT   60354.816          65964.654          11632.768 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2RU                 
    PIPING-SPEC S1
    ANGLE 8977
WELD
    END-POINT  60354.816          65960.172          11632.750  3
    END-POINT  60354.816          65960.172          11632.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60354.816          65960.172          11632.750  3  BW
    END-POINT  60354.816          65674.883          11631.620  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TA                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60354.816  65954.593  11632.728  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TK                 
SUPPORT
    CO-ORDS  60354.816  65834.480  11632.252  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TM                 
SUPPORT
    CO-ORDS  60354.816  65714.930  11631.779  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TO                 
WELD
    END-POINT  60354.816          65674.883          11631.620  3
    END-POINT  60354.816          65674.883          11631.620  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  60354.816          65674.883          11631.620  3  BW
    END-POINT  60354.816          65668.133          11631.593  3  BW
    CENTRE-POINT   60354.816          65671.508          11631.607 
    BRANCH1-POINT  60354.816          65671.496          11634.607  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED3X2
    WEIGHT           1.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2T6                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60354.816          65668.133          11631.593  3
    END-POINT  60354.816          65668.133          11631.593  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  60354.816          65671.496          11634.607  2
    END-POINT  60354.816          65671.496          11634.607  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_9PF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60354.805          65671.508          11649.714  2  BW
    END-POINT  60354.816          65671.496          11634.607  2  BW
    CONTINUATION 
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_9D5                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  60354.805          65671.508          11649.714 
    PIPELINE-REFERENCE ISO-TF3-1012006
PIPE
    END-POINT  60354.816          65668.133          11631.593  3  BW
    END-POINT  60354.816          65207.123          11629.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TD                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60354.816  65606.703  11631.348  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TQ                 
SUPPORT
    CO-ORDS  60354.816  65498.516  11630.915  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TS                 
SUPPORT
    CO-ORDS  60354.816  65390.863  11630.485  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TU                 
SUPPORT
    CO-ORDS  60354.816  65270.757  11630.004  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TW                 
SUPPORT
    CO-ORDS  60354.816  65350.980  11630.325  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TY                 
WELD
    END-POINT  60354.816          65207.123          11629.750  3
    END-POINT  60354.816          65207.123          11629.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2TG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-ECCENTRIC
    END-POINT  60354.816          65207.123          11629.750  3  BW
    END-POINT  60354.816          65203.623          11629.188  2  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_CU                  
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  60354.816          65203.623          11629.188  2
    END-POINT  60354.816          65203.623          11629.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_CW                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  60354.816          65201.123          11629.188  2  FL
    END-POINT  60354.816          65203.623          11629.188  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_CR                  
    PIPING-SPEC S1
MESSAGE-SQUARE
    CO-ORDS  60354.816  65201.123  11629.188 
    TEXT TP-044
    UNDIMENSIONED
MESSAGE-SQUARE
    CO-ORDS  60354.816  65201.123  11629.188 
    TEXT REMOVE EXISTING GATE VALVE AND$CONNECT TO EXIST. FLANGE
    UNDIMENSIONED
GASKET
    END-POINT  60354.816          65201.123          11629.188  2
    END-POINT  60354.816          65200.998          11629.188  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2PU                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  60354.816          65201.123          11629.188 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2PV                 
FLANGE
    END-POINT  60354.816          65200.998          11629.188  2  FL
    END-POINT  60354.816          65200.781          11629.188  2  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_CG                  
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  60354.816          65200.781          11629.188 
    PIPELINE-REFERENCE ISO-GS3-EXISTING
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION ROD HANGER, P624 FIG. 7
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE WOL3X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A182 Gr F304L, MSS SP-97
    RATING 10S
ITEM-CODE SUPPS-3
    DESCRIPTION PIPE WEAR PROTECTION PAD,P621, SHIM REQ'D. TO STEEL
ITEM-CODE SUPPS-3_1
    DESCRIPTION P648 FIG. 2
ITEM-CODE TEERED3X2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDECC3X2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
