ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036028
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036028-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  57904.763          64055.040          11408.372  0.5  SW FEMALE 
    END-POINT  57904.763          64055.040          11406.192  0.5  SW FEMALE 
    CENTRE-POINT   57904.763          64055.040          11407.487 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKS                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
MESSAGE
    CO-ORDS  57904.763  64055.040  11406.192 
    TEXT TUBING TO$LT-070-01
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57904.763          64055.040          11408.372  0.5
    END-POINT  57904.763          64055.040          11408.372  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57904.763          64055.040          11406.192 
PIPE
    END-POINT  57904.763          64055.040          11411.782  0.5  BW
    END-POINT  57904.763          64055.040          11408.372  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKQ                 
    PIPING-SPEC S1
WELD
    END-POINT  57904.763          64055.040          11411.782  0.5
    END-POINT  57904.763          64055.040          11411.782  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57904.763          64056.160          11412.902  0.75  BW
    END-POINT  57904.763          64053.920          11412.902  0.75  BW
    CENTRE-POINT   57904.763          64055.040          11412.902 
    BRANCH1-POINT  57904.763          64055.040          11411.782  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED3/4X1/2
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKN                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57904.763          64056.160          11412.902  0.75
    END-POINT  57904.763          64056.160          11412.902  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57904.763          64053.920          11412.902  0.75
    END-POINT  57904.763          64053.920          11412.902  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57904.763          64030.672          11412.902  0.75  BW
    END-POINT  57904.763          64053.920          11412.902  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKJ                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57904.763  64043.019  11412.902  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKK                 
FLOW-ARROW
    CO-ORDS  57904.763  64045.504  11412.902 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57904.763  64043.019  11412.902  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBP                 
WELD
    END-POINT  57904.763          64030.672          11412.902  0.75
    END-POINT  57904.763          64030.672          11412.902  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57904.763          64030.672          11412.902  0.75  BW
    END-POINT  57904.763          64029.547          11414.027  0.75  BW
    CENTRE-POINT   57904.763          64029.547          11412.902 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKG                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57904.763  64029.547  11412.902 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64029.547  11412.902 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57904.763          64029.547          11414.027  0.75
    END-POINT  57904.763          64029.547          11414.027  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57904.763          64029.547          11429.525  0.75  BW
    END-POINT  57904.763          64029.547          11414.027  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKE                 
    PIPING-SPEC S1
WELD
    END-POINT  57904.763          64029.547          11429.525  0.75
    END-POINT  57904.763          64029.547          11429.525  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57904.763          64029.547          11429.525  0.75  BW
    END-POINT  57905.888          64029.547          11430.650  0.75  BW
    CENTRE-POINT   57904.763          64029.547          11430.650 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKB                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57904.763  64029.547  11430.650 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57904.763  64138.800  11430.650 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57905.888          64029.547          11430.650  0.75
    END-POINT  57905.888          64029.547          11430.650  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57905.888          64029.547          11430.650  0.75  BW
    END-POINT  58089.800          64029.547          11430.650  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK6                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58056.159  64029.547  11430.650  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK7                 
SUPPORT
    CO-ORDS  57945.173  64029.547  11430.650  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK8                 
FLOW-ARROW
    CO-ORDS  57976.813  64029.547  11430.650 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58089.800          64029.547          11430.650  0.75
    END-POINT  58089.800          64029.547          11430.650  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58089.800          64029.547          11430.650  0.75  BW
    END-POINT  58090.925          64029.547          11429.525  0.75  BW
    CENTRE-POINT   58090.925          64029.547          11430.650 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK4                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58090.925          64029.547          11429.525  0.75
    END-POINT  58090.925          64029.547          11429.525  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.925          64029.547          11429.525  0.75  BW
    END-POINT  58090.925          64029.547          11415.436  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK1                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58090.925  64029.547  11422.979 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58090.925          64029.547          11415.436  0.75
    END-POINT  58090.925          64029.547          11415.436  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58090.925  64029.547  11413.373 
    BRANCH1-POINT  58090.925          64029.547          11415.436  0.75  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJZ                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925  64029.547  11413.373 
    PIPELINE-REFERENCE ISO-PY3-2036033
PIPE
    END-POINT  57904.763          64059.690          11412.902  0.75  PL
    END-POINT  57904.763          64056.160          11412.902  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKV                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57904.763          64059.690          11412.902  0.75
    END-POINT  57904.763          64059.690          11412.902  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57904.763          64061.640          11412.902  0.75  SW FEMALE 
    END-POINT  57904.763          64059.690          11412.902  0.75  SW FEMALE 
    CENTRE-POINT   57904.763          64060.665          11412.902 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKX                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57904.763          64061.640          11412.902  0.75  SW FEMALE 
    END-POINT  57904.763          64061.640          11412.902  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EKZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57904.763          64071.920          11412.902  0.75  PL
    END-POINT  57904.763          64061.640          11412.902  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL0                 
    PIPING-SPEC S1
WELD
    END-POINT  57904.763          64071.920          11412.902  0.75
    END-POINT  57904.763          64071.920          11412.902  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57904.763          64071.920          11412.902  0.75
    END-POINT  57904.763          64071.920          11412.902  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57904.763          64072.095          11412.902  0.75  FL
    END-POINT  57904.763          64071.920          11412.902  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL3                 
    PIPING-SPEC S1
GASKET
    END-POINT  57904.763          64072.095          11412.902  0.75
    END-POINT  57904.763          64072.220          11412.902  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL4                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57904.763          64072.220          11412.902 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL5                 
INSTRUMENT
    END-POINT  57904.763          64086.220          11412.902  0.75  FL
    END-POINT  57904.763          64072.220          11412.902  0.75  FL
    CENTRE-POINT   57904.763          64079.220          11412.902 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL6                 
    TAG PRV$070$07                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57904.763          64086.220          11412.902  0.75
    END-POINT  57904.763          64086.345          11412.902  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL8                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57904.763          64086.345          11412.902 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EL9                 
FLANGE
    END-POINT  57904.763          64086.345          11412.902  0.75  FL
    END-POINT  57904.763          64088.405          11412.902  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELA                 
    PIPING-SPEC S1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57904.763  64088.405  11412.902 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57904.763  64138.800  11412.902 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57904.763          64088.405          11412.902  0.75
    END-POINT  57904.763          64088.405          11412.902  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57904.454          64089.152          11412.902  0.75  BW
    END-POINT  57904.763          64088.405          11412.902  0.75  BW
    CENTRE-POINT   57904.763          64088.843          11412.902 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELC                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  57904.454          64089.152          11412.902  0.75
    END-POINT  57904.454          64089.152          11412.902  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57904.454          64089.152          11412.902  0.75  BW
    END-POINT  57902.333          64091.273          11412.902  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELF                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57902.333          64091.273          11412.902  0.75
    END-POINT  57902.333          64091.273          11412.902  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELG                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57902.333          64091.273          11412.902  0.75  SW FEMALE 
    END-POINT  57900.388          64093.218          11412.902  0.75  SW FEMALE 
    CENTRE-POINT   57901.361          64092.246          11412.902 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELH                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57900.388          64093.218          11412.902  0.75  SW FEMALE 
    END-POINT  57900.388          64093.218          11412.902  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELI                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57900.388          64093.218          11412.902  0.75  PL
    END-POINT  57898.562          64095.045          11412.902  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELJ                 
    PIPING-SPEC S1
WELD
    END-POINT  57898.562          64095.045          11412.902  0.75
    END-POINT  57898.562          64095.045          11412.902  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57897.770          64095.837          11411.782  0.75  BW
    END-POINT  57897.770          64095.837          11414.022  0.75  BW
    CENTRE-POINT   57897.770          64095.837          11412.902 
    BRANCH1-POINT  57898.562          64095.045          11412.902  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELL                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57897.770  64095.837  11412.902 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64095.837  11412.902 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57897.770          64095.837          11411.782  0.75
    END-POINT  57897.770          64095.837          11411.782  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57897.770          64095.837          11414.022  0.75
    END-POINT  57897.770          64095.837          11414.022  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57897.770          64095.837          11414.022  0.75  BW
    END-POINT  57897.770          64095.837          11415.522  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3/4X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELP                 
    PIPING-SPEC S1
WELD
    END-POINT  57897.770          64095.837          11415.522  0.5
    END-POINT  57897.770          64095.837          11415.522  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57897.770          64095.837          11415.522  0.5  BW
    END-POINT  57897.770          64095.837          11418.932  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELR                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57897.770          64095.837          11418.932  0.5
    END-POINT  57897.770          64095.837          11418.932  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57897.770          64095.837          11418.932  0.5  SW FEMALE 
    END-POINT  57897.770          64095.837          11420.612  0.5  SW FEMALE 
    CENTRE-POINT   57897.770          64095.837          11419.817 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELT                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  57897.770          64095.837          11420.612  0.5
    END-POINT  57897.770          64095.837          11420.612  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G3V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57897.770          64095.837          11420.612  0.5  PL
    END-POINT  57897.770          64095.837          11423.612  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G3U                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57897.770  64095.837  11423.112 
    TEXT PI$070$06
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57897.770          64095.837          11423.612 
PIPE
    END-POINT  57897.770          64095.837          11408.185  0.75  BW
    END-POINT  57897.770          64095.837          11411.782  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELY                 
    PIPING-SPEC S1
WELD
    END-POINT  57897.770          64095.837          11408.185  0.75
    END-POINT  57897.770          64095.837          11408.185  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ELZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57897.770          64095.837          11406.125  0.75  FL
    END-POINT  57897.770          64095.837          11408.185  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EM0                 
    PIPING-SPEC S1
GASKET
    END-POINT  57897.770          64095.837          11406.125  0.75
    END-POINT  57897.770          64095.837          11406.000  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G4Q                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57897.770          64095.837          11406.125 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G4R                 
END-POSITION-OPEN 
    CO-ORDS  57897.770          64095.837          11406.000 
MATERIALS
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10Sx10Sx40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-3/4
    DESCRIPTION STANDARD U BOLT SUPPORT, P648 FIG 2
ITEM-CODE SUPAG-3/4
    DESCRIPTION PIPE SUPPORT, PS-511
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PRV-070-07
    RATING 150LB
ITEM-CODE FLGWNK3/4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE 45LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVCHK3/4
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10Sx40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
