ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217013
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5231.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1217013-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 SG
    ATTRIBUTE22 11/20/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 1/14/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/14/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/19/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/19/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/19/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/23/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58080.653          64029.895          12055.159  0.5  SC FEMALE 
    END-POINT  58080.653          64029.895          12055.909  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_450                 
    PIPING-SPEC S1
    TRACING-ON 
SCREWED-WELD
    END-POINT  58080.653          64029.895          12055.159  0.5  SC FEMALE 
    END-POINT  58080.653          64029.895          12055.159  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_451                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58080.653          64029.895          12053.159  0.5  PL
    END-POINT  58080.653          64029.895          12055.159  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SOCKET-WELD
    END-POINT  58080.653          64029.895          12053.159  0.5
    END-POINT  58080.653          64029.895          12053.159  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58080.653          64029.895          12051.479  0.5  SW FEMALE 
    END-POINT  58080.653          64029.895          12053.159  0.5  SW FEMALE 
    CENTRE-POINT   58080.653          64029.895          12052.364 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44U                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58080.653          64029.895          12051.479  0.5  SW FEMALE 
    END-POINT  58080.653          64029.895          12051.479  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58080.653          64029.895          12048.069  0.5  BW
    END-POINT  58080.653          64029.895          12051.479  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44S                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58080.653          64029.895          12048.069  0.5
    END-POINT  58080.653          64029.895          12048.069  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_48P                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58080.653  64029.895  12045.569 
    BRANCH1-POINT  58080.653          64029.895          12048.069  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_48M                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  58080.653  64029.895  12045.569  3
    END-POINT  58080.653  64029.895  12045.569  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_48O                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58086.653          64029.895          12045.569  3  BW
    END-POINT  57871.895          64029.895          12045.569  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43S                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57983.752  64029.895  12045.569 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57909.275  64029.895  12045.569  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_48T                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58053.507  64029.895  12045.569  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_48V                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  58086.653          64029.895          12045.569  3
    END-POINT  58086.653          64029.895          12045.569  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57871.895          64029.895          12045.569  3
    END-POINT  57871.895          64029.895          12045.569  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57867.395          64029.895          12041.069  3  BW
    END-POINT  57871.895          64029.895          12045.569  3  BW
    CENTRE-POINT   57867.395          64029.895          12045.569 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43X                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57867.395          64029.895          12041.069  3
    END-POINT  57867.395          64029.895          12041.069  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_441                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57867.395          64029.895          12041.069  3  BW
    END-POINT  57867.395          64034.395          12036.569  3  BW
    CENTRE-POINT   57867.395          64029.895          12036.569 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57867.395          64034.395          12036.569  3
    END-POINT  57867.395          64034.395          12036.569  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_445                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57867.395          64034.395          12036.569  3  BW
    END-POINT  57867.395          64116.825          12036.569  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_444                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57867.395  64090.952  12036.569  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44A                 
    TAG                         P624, FIG. 4                    
WELD
    END-POINT  57867.395          64116.825          12036.569  3
    END-POINT  57867.395          64116.825          12036.569  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_598                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57867.395          64116.825          12036.569  3  BW
    END-POINT  57867.395          64121.325          12032.069  3  BW
    CENTRE-POINT   57867.395          64121.325          12036.569 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_442                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57867.395          64121.325          12032.069  3
    END-POINT  57867.395          64121.325          12032.069  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_449                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57867.395          64121.325          12004.413  3  BW
    END-POINT  57867.395          64121.325          12032.069  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_447                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57867.395  64121.325  12017.064 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57867.395          64121.325          12004.413  3
    END-POINT  57867.395          64121.325          12004.413  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_448                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57871.895          64121.325          11999.913  3  BW
    END-POINT  57867.395          64121.325          12004.413  3  BW
    CENTRE-POINT   57867.395          64121.325          11999.913 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43U                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57871.895          64121.325          11999.913  3
    END-POINT  57871.895          64121.325          11999.913  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_596                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57871.895          64121.325          11999.913  3  BW
    END-POINT  57876.332          64121.325          11999.913  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_595                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57876.332          64121.325          11999.913  3
    END-POINT  57876.332          64121.325          11999.913  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_597                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57880.832          64121.325          11995.413  3  BW
    END-POINT  57876.332          64121.325          11999.913  3  BW
    CENTRE-POINT   57880.832          64121.325          11999.913 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_41R                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57880.832          64121.325          11995.413  3
    END-POINT  57880.832          64121.325          11995.413  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_41T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57880.832          64121.325          11989.413  3  PL
    END-POINT  57880.832          64121.325          11995.413  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_41B                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57880.832          64121.325          11989.413  3
    END-POINT  57880.832          64121.325          11989.413  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_41C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64121.325          11989.413  3
    END-POINT  57880.832          64121.325          11989.413  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_41D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832  64121.325  11993.779  3
    END-POINT  57880.832  64121.325  11993.779  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44H                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57880.832  64121.325  11993.779 
    BRANCH1-POINT  57880.832          64123.825          11993.779  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1/2_1
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44F                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57880.832          64123.825          11993.779  0.5
    END-POINT  57880.832          64123.825          11993.779  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44J                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57880.832          64123.825          11993.779  0.5  BW
    END-POINT  57880.832          64127.235          11993.779  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44I                 
    PIPING-SPEC S1
    TRACING-ON 
SOCKET-WELD
    END-POINT  57880.832          64127.235          11993.779  0.5  SW FEMALE 
    END-POINT  57880.832          64127.235          11993.779  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57880.832          64127.235          11993.779  0.5  SW FEMALE 
    END-POINT  57880.832          64128.915          11993.779  0.5  SW FEMALE 
    CENTRE-POINT   57880.832          64128.120          11993.779 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_44K                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57880.832          64128.915          11993.779  0.5
    END-POINT  57880.832          64128.915          11993.779  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_590                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  57880.832          64128.915          11993.779  0.5  PL
    END-POINT  57880.832          64131.915          11993.779  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_58Z                 
    PIPING-SPEC S1
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  57880.832  64131.415  11993.779 
    TEXT PI$069$01
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57880.832          64131.915          11993.779 
FLANGE
    END-POINT  57880.832          64121.325          11989.135  3  FL
    END-POINT  57880.832          64121.325          11989.413  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_417                 
    PIPING-SPEC S1
    TRACING-ON 
GASKET
    END-POINT  57880.832          64121.325          11989.135  3
    END-POINT  57880.832          64121.325          11989.010  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_599                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57880.832          64121.325          11989.135 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59A                 
END-POSITION-OPEN 
    CO-ORDS  57880.832          64121.325          11989.010 
ELBOW
    END-POINT  58091.153          64029.895          12041.069  3  BW
    END-POINT  58086.653          64029.895          12045.569  3  BW
    CENTRE-POINT   58091.153          64029.895          12045.569 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_432                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58091.153  64029.895  12045.569 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64029.895  12045.569 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58091.153  64029.895  12045.569 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58091.153  64138.800  12045.569 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58091.153          64029.895          12041.069  3
    END-POINT  58091.153          64029.895          12041.069  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58091.153          64029.895          12041.069  3  BW
    END-POINT  58091.153          64025.395          12036.569  3  BW
    CENTRE-POINT   58091.153          64029.895          12036.569 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43H                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58091.153          64025.395          12036.569  3
    END-POINT  58091.153          64025.395          12036.569  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58091.153          63920.992          12036.569  3  BW
    END-POINT  58091.153          64025.395          12036.569  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43M                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58091.153          63920.992          12036.569  3
    END-POINT  58091.153          63920.992          12036.569  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58091.153          63920.992          12036.569  3  BW
    END-POINT  58091.153          63916.492          12032.069  3  BW
    CENTRE-POINT   58091.153          63916.492          12036.569 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_43K                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58091.153  63916.492  12036.569 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63916.492  12036.569 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58091.153  63916.492  12036.569 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58091.153  63898.800  12036.569 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  58091.153          63916.492          12032.069  3
    END-POINT  58091.153          63916.492          12032.069  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58091.153          63916.492          12032.069  3  BW
    END-POINT  58091.153          63916.510          12018.999  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58091.153          63916.510          12018.999  3
    END-POINT  58091.153          63916.510          12018.999  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58091.153          63916.510          12018.999  3  BW
    END-POINT  58091.153          63916.513          12015.499  2.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53M                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58091.153          63916.513          12015.499  2.5
    END-POINT  58091.153          63916.513          12015.499  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58091.153          63916.517          12009.499  2.5  BW
    END-POINT  58091.153          63916.513          12015.499  2.5  BW
    CENTRE-POINT   58091.153          63916.515          12012.499 
    BRANCH1-POINT  58094.153          63916.515          12012.499  2.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2+1/2
    WEIGHT           1.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58091.153          63916.517          12009.499  2.5
    END-POINT  58091.153          63916.517          12009.499  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58094.153          63916.515          12012.499  2.5
    END-POINT  58094.153          63916.515          12012.499  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_563                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58132.520          63916.515          12012.499  2.5  BW
    END-POINT  58094.153          63916.515          12012.499  2.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           3.530
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_561                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58132.520          63916.515          12012.499  2.5
    END-POINT  58132.520          63916.515          12012.499  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_562                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58136.270          63916.515          12008.749  2.5  BW
    END-POINT  58132.520          63916.515          12012.499  2.5  BW
    CENTRE-POINT   58136.270          63916.515          12012.499 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55U                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58136.270          63916.515          12008.749  2.5
    END-POINT  58136.270          63916.515          12008.749  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58136.270          63916.515          11977.749  2.5  PL
    END-POINT  58136.270          63916.515          12008.749  2.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           3.530
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55R                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58136.270          63916.515          11977.749  2.5
    END-POINT  58136.270          63916.515          11977.749  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58136.270          63916.515          11977.749  2.5
    END-POINT  58136.270          63916.515          11977.749  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58136.270          63916.515          11977.484  2.5  FL
    END-POINT  58136.270          63916.515          11977.749  2.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55O                 
    PIPING-SPEC S1
    TRACING-ON 
GASKET
    END-POINT  58136.270          63916.515          11977.484  2.5
    END-POINT  58136.270          63916.515          11977.359  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55P                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58136.270          63916.515          11977.484 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55Q                 
VALVE
    END-POINT  58136.270          63916.515          11968.859  2.5  FL
    END-POINT  58136.270          63916.515          11977.359  2.5  FL
    CENTRE-POINT   58136.270          63916.515          11973.109 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB2+1/2
    WEIGHT          40.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55J                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58136.270          63916.515          11968.859  2.5
    END-POINT  58136.270          63916.515          11968.734  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55K                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58136.270          63916.515          11968.859 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55L                 
FLANGE
    END-POINT  58136.270          63916.515          11968.734  2.5  FL
    END-POINT  58136.270          63916.515          11968.468  2.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55G                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  58136.270          63916.515          11968.468  2.5
    END-POINT  58136.270          63916.515          11968.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58136.270          63916.515          11968.468  2.5
    END-POINT  58136.270          63916.515          11968.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58136.270          63916.515          11958.468  2.5  BW
    END-POINT  58136.270          63916.515          11968.468  2.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           3.530
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55D                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58136.270          63916.515          11958.468  2.5
    END-POINT  58136.270          63916.515          11958.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_55E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58136.270          63916.515          11952.468  2.5  BW
    END-POINT  58136.270          63916.515          11958.468  2.5  BW
    CENTRE-POINT   58136.270          63916.515          11955.468 
    BRANCH1-POINT  58133.270          63916.515          11955.468  2.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2+1/2
    WEIGHT           1.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53O                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58136.270          63916.515          11952.468  2.5
    END-POINT  58136.270          63916.515          11952.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58133.270          63916.515          11955.468  2.5
    END-POINT  58133.270          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58133.270          63916.515          11955.468  2.5  BW
    END-POINT  58130.270          63916.515          11955.468  2.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           3.530
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53R                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58130.270          63916.515          11955.468  2.5
    END-POINT  58130.270          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58130.270          63916.515          11955.468  2.5
    END-POINT  58130.270          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58130.005          63916.515          11955.468  2.5  FL
    END-POINT  58130.270          63916.515          11955.468  2.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53T                 
    PIPING-SPEC S1
    TRACING-ON 
GASKET
    END-POINT  58129.880          63916.515          11955.468  2.5
    END-POINT  58130.005          63916.515          11955.468  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_543                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58129.880          63916.515          11955.468 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_544                 
VALVE
    END-POINT  58129.880          63916.515          11955.468  2.5  FL
    END-POINT  58128.005          63916.515          11955.468  2.5  FL
    CENTRE-POINT   58128.942          63916.515          11955.468 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY2+1/2
    WEIGHT          14.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_542                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58127.880          63916.515          11955.468  2.5
    END-POINT  58128.005          63916.515          11955.468  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_549                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58127.880          63916.515          11955.468 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2+1/2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_54A                 
FLANGE
    END-POINT  58127.880          63916.515          11955.468  2.5  FL
    END-POINT  58127.614          63916.515          11955.468  2.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_548                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  58127.614          63916.515          11955.468  2.5
    END-POINT  58127.614          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58127.614          63916.515          11955.468  2.5
    END-POINT  58127.614          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58117.614          63916.515          11955.468  2.5  PL
    END-POINT  58127.614          63916.515          11955.468  2.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           3.530
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59S                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  58117.614          63916.515          11955.468  2.5
    END-POINT  58117.614          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58117.614          63916.515          11955.468  2.5
    END-POINT  58117.614          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58117.349          63916.515          11955.468  2.5  FL
    END-POINT  58117.614          63916.515          11955.468  2.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_54V                 
    PIPING-SPEC S1
    TRACING-ON 
GASKET
    END-POINT  58117.224          63916.515          11955.468  2.5
    END-POINT  58117.349          63916.515          11955.468  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_579                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58117.224          63916.515          11955.468 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57A                 
INSTRUMENT
    END-POINT  58117.224          63916.515          11955.468  2.5  FL
    END-POINT  58106.349          63916.515          11955.468  2.5  FL
    CENTRE-POINT   58111.786          63916.515          11955.468 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_578                 
    TAG PCV$067$06                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58111.786  63916.515  11955.468 
    TEXT PCV$067$06
    UNDIMENSIONED
GASKET
    END-POINT  58106.224          63916.515          11955.468  2.5
    END-POINT  58106.349          63916.515          11955.468  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57C                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58106.224          63916.515          11955.468 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57D                 
FLANGE
    END-POINT  58106.224          63916.515          11955.468  2.5  FL
    END-POINT  58105.958          63916.515          11955.468  2.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58105.958          63916.515          11955.468  2.5
    END-POINT  58105.958          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58105.958          63916.515          11955.468  2.5
    END-POINT  58105.958          63916.515          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58105.958          63916.515          11955.468  2.5  PL
    END-POINT  58094.903          63916.548          11955.468  2.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           3.530
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57E                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58094.903          63916.548          11955.468  2.5
    END-POINT  58094.903          63916.548          11955.468  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58091.153          63916.545          11959.218  2.5  BW
    END-POINT  58094.903          63916.548          11955.468  2.5  BW
    CENTRE-POINT   58091.153          63916.548          11955.468 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_567                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58091.153  63916.548  11955.468  2.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-2+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56U                 
WELD
    END-POINT  58091.153          63916.545          11959.218  2.5
    END-POINT  58091.153          63916.545          11959.218  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58091.153          63916.545          11959.218  2.5  BW
    END-POINT  58091.153          63916.541          11965.218  2.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           3.530
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58091.153          63916.541          11965.218  2.5
    END-POINT  58091.153          63916.541          11965.218  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58091.153          63916.541          11965.218  2.5
    END-POINT  58091.153          63916.541          11965.218  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58091.153          63916.540          11965.484  2.5  FL
    END-POINT  58091.153          63916.541          11965.218  2.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56D                 
    PIPING-SPEC S1
GASKET
    END-POINT  58091.153          63916.540          11965.609  2.5
    END-POINT  58091.153          63916.540          11965.484  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56H                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58091.153          63916.540          11965.609 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56I                 
VALVE
    END-POINT  58091.153          63916.540          11965.609  2.5  FL
    END-POINT  58091.153          63916.539          11967.484  2.5  FL
    CENTRE-POINT   58091.153          63916.540          11966.546 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY2+1/2
    WEIGHT          14.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56G                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  58091.153          63916.539          11967.609  2.5
    END-POINT  58091.153          63916.539          11967.484  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56N                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58091.153          63916.539          11967.609 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG2+1/2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56O                 
FLANGE
    END-POINT  58091.153          63916.539          11967.609  2.5  FL
    END-POINT  58091.153          63916.539          11967.874  2.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_56M                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58091.153          63916.539          11967.874  2.5
    END-POINT  58091.153          63916.539          11967.874  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58091.153          63916.539          11967.874  2.5
    END-POINT  58091.153          63916.539          11967.874  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58091.153          63916.517          12009.499  2.5  BW
    END-POINT  58091.153          63916.539          11967.874  2.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           3.530
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A3                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
REDUCER-CONCENTRIC
    END-POINT  58136.270          63916.515          11948.968  3  BW
    END-POINT  58136.270          63916.515          11952.468  2.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53K                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58136.270          63916.515          11948.968  3
    END-POINT  58136.270          63916.515          11948.968  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58136.270          63916.515          11908.750  3  BW
    END-POINT  58136.270          63916.515          11948.968  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46D                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58136.270  63916.515  11928.999  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46K                 
FLOOR-SYMBOL 
    CO-ORDS  58136.270  63916.515  11927.982 
    SKEY FLOR
MESSAGE
    CO-ORDS  58136.270  63916.515  11927.982 
    TEXT FLOOR PENETRATION
FLOW-ARROW
    CO-ORDS  58136.270  63916.515  11934.149 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58136.270          63916.515          11908.750  3
    END-POINT  58136.270          63916.515          11908.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58140.770          63916.515          11904.250  3  BW
    END-POINT  58136.270          63916.515          11908.750  3  BW
    CENTRE-POINT   58136.270          63916.515          11904.250 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_468                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58140.770          63916.515          11904.250  3
    END-POINT  58140.770          63916.515          11904.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58140.770          63916.515          11904.250  3  BW
    END-POINT  58147.691          63916.515          11904.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46A                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58147.691          63916.515          11904.250  3
    END-POINT  58147.691          63916.515          11904.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58152.191          63916.515          11899.750  3  BW
    END-POINT  58147.691          63916.515          11904.250  3  BW
    CENTRE-POINT   58152.191          63916.515          11904.250 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_465                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58152.191          63916.515          11899.750  3
    END-POINT  58152.191          63916.515          11899.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_467                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58152.191          63921.015          11895.250  3  BW
    END-POINT  58152.191          63916.515          11899.750  3  BW
    CENTRE-POINT   58152.191          63916.515          11895.250 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_462                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58152.191          63921.015          11895.250  3
    END-POINT  58152.191          63921.015          11895.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58152.191          64028.616          11895.250  3  BW
    END-POINT  58152.191          63921.015          11895.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46N                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58152.191  63990.623  11895.250  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46Q                 
FLOW-ARROW
    CO-ORDS  58152.191  64000.839  11895.250 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58152.191          64028.616          11895.250  3
    END-POINT  58152.191          64028.616          11895.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58152.191          64028.616          11895.250  3  BW
    END-POINT  58152.191          64033.116          11890.750  3  BW
    CENTRE-POINT   58152.191          64033.116          11895.250 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3CB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58152.191  64033.116  11895.250 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58152.191  64138.800  11895.250 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58152.191  64033.116  11895.250 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64033.116  11895.250 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58152.191          64033.116          11890.750  3
    END-POINT  58152.191          64033.116          11890.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3CP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58152.191          64033.116          11890.750  3  BW
    END-POINT  58152.191          64033.116          11814.752  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3CO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58152.191  64033.116  11859.001 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58152.191          64033.116          11814.752  3
    END-POINT  58152.191          64033.116          11814.752  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3CQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  58156.691          64033.116          11810.252  3  BW
    END-POINT  58152.191          64033.116          11814.752  3  BW
    CENTRE-POINT   58152.191          64033.116          11810.252 
    BRANCH1-POINT  58152.354          64033.116          11810.252  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_36C                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  58152.354          64033.116          11810.252  3
WELD
    END-POINT  58156.691          64033.116          11810.252  3
    END-POINT  58156.691          64033.116          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_36E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58152.354          64033.116          11810.252  3
    END-POINT  58152.354          64033.116          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46W                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOLET
    END-POINT  58152.354          64033.116          11810.252  3  PL
    END-POINT  58150.479          64033.116          11810.252  0.75  BW
    SKEY CEBW
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_46U                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58150.479  64033.116  11810.252 
    TEXT TI$073$05
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58150.479          64033.116          11810.252 
TEE
    END-POINT  58156.691          64033.116          11810.252  3  BW
    END-POINT  58163.451          64033.116          11810.252  3  BW
    CENTRE-POINT   58160.071          64033.116          11810.252 
    BRANCH1-POINT  58160.071          64029.736          11810.252  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_363                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58160.071  64033.116  11810.252  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57P                 
    TAG                         P617 FIG. 1                     
WELD
    END-POINT  58163.451          64033.116          11810.252  3
    END-POINT  58163.451          64033.116          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_368                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58160.071          64029.736          11810.252  3
    END-POINT  58160.071          64029.736          11810.252  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_366                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58160.071          63981.187          11810.252  3  BW
    END-POINT  58160.071          64029.736          11810.252  3  BW
    CONTINUATION 
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_364                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58160.071  64003.688  11810.252 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58160.071          63981.187          11810.252 
    PIPELINE-REFERENCE ISO-PY3-1217012
PIPE
    END-POINT  58171.624          64033.116          11810.252  3  PL
    END-POINT  58163.451          64033.116          11810.252  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35W                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58171.624          64033.116          11810.252  3
    END-POINT  58171.624          64033.116          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58171.624          64033.116          11810.252  3
    END-POINT  58171.624          64033.116          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58171.902          64033.116          11810.252  3  FL
    END-POINT  58171.624          64033.116          11810.252  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2F2                 
    PIPING-SPEC S1
GASKET
    END-POINT  58171.902          64033.116          11810.252  3
    END-POINT  58172.027          64033.116          11810.252  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2F3                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58171.902          64033.116          11810.252 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2F4                 
VALVE
    END-POINT  58173.902          64033.116          11810.252  3  FL
    END-POINT  58172.027          64033.116          11810.252  3  FL
    CENTRE-POINT   58172.965          64033.116          11810.252 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2EV                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58174.027          64033.116          11810.252  3
    END-POINT  58173.902          64033.116          11810.252  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2F0                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58174.027          64033.116          11810.252 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2F1                 
FLANGE
    END-POINT  58174.027          64033.116          11810.252  3  FL
    END-POINT  58174.306          64033.116          11810.252  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2EZ                 
    PIPING-SPEC S1
WELD
    END-POINT  58174.306          64033.116          11810.252  3
    END-POINT  58174.306          64033.116          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_361                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58174.306          64033.116          11810.252  3
    END-POINT  58174.306          64033.116          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_362                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58178.301          64033.116          11810.252  3  BW
    END-POINT  58174.306          64033.116          11810.252  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58178.301          64033.116          11810.252  3
    END-POINT  58178.301          64033.116          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_360                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58182.801          64028.616          11810.252  3  BW
    END-POINT  58178.301          64033.116          11810.252  3  BW
    CENTRE-POINT   58182.801          64033.116          11810.252 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2ER                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58182.801          64028.616          11810.252  3
    END-POINT  58182.801          64028.616          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58182.801          64024.616          11810.252  3  BW
    END-POINT  58182.801          64028.616          11810.252  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57R                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          64024.616          11810.252  3
    END-POINT  58182.801          64024.616          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801  64027.116  11810.252  3
    END-POINT  58182.801  64027.116  11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58182.801  64027.116  11810.252 
    BRANCH1-POINT  58182.801          64027.116          11813.065  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57U                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          64027.116          11813.065  1
    END-POINT  58182.801          64027.116          11813.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58182.801          64027.116          11813.065  1  BW
    END-POINT  58182.801          64027.116          11820.065  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57X                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          64027.116          11820.065  1
    END-POINT  58182.801          64027.116          11820.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_580                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          64027.116          11820.065  1
    END-POINT  58182.801          64027.116          11820.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_581                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58182.801          64027.116          11820.260  1  FL
    END-POINT  58182.801          64027.116          11820.065  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57Z                 
    PIPING-SPEC S1
GASKET
    END-POINT  58182.801          64027.116          11820.385  1
    END-POINT  58182.801          64027.116          11820.260  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_584                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58182.801          64027.116          11820.385 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_585                 
VALVE-ANGLE
    END-POINT  58182.801          64027.116          11820.385  1  FL
    END-POINT  58187.301          64027.116          11824.510  2  FL
    CENTRE-POINT   58182.801          64027.116          11824.510 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL1X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_582                 
    TAG PSV-073-02                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58182.801  64027.116  11824.510 
    TEXT PSV$073$02
    UNDIMENSIONED
GASKET
    END-POINT  58187.426          64027.116          11824.510  2
    END-POINT  58187.301          64027.116          11824.510  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_58A                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58187.426          64027.116          11824.510  2  FL
    END-POINT  58187.643          64027.116          11824.510  2  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_589                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58187.643          64027.116          11824.510 
    PIPELINE-REFERENCE ISO-PY3-1217016
REDUCER-ECCENTRIC
    END-POINT  58182.801          64020.616          11810.752  4  BW
    END-POINT  58182.801          64024.616          11810.252  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2E3                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58182.801          64020.616          11810.752  4
    END-POINT  58182.801          64020.616          11810.752  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2E5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58182.801          64014.616          11810.752  4  PL
    END-POINT  58182.801          64020.616          11810.752  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2E0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          64014.616          11810.752  4
    END-POINT  58182.801          64014.616          11810.752  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2E1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58182.801          64014.616          11810.752  4
    END-POINT  58182.801          64014.616          11810.752  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2E2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58182.801          64014.317          11810.752  4  FL
    END-POINT  58182.801          64014.616          11810.752  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2DW                 
    PIPING-SPEC S1
GASKET
    END-POINT  58182.801          64014.317          11810.752  4
    END-POINT 
** 
Processing ID: AT_FE4D8OK6_3JU  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3JU                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58182.801          64014.317          11810.752 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3JV                 
END-POSITION-OPEN 
    CO-ORDS  58182.801  64014.317  11810.752 
MATERIALS
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL3X1/2
    CATALOG MSS SP-97
    DESCRIPTION WOL, BW,  ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPPS-3
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION PIPE HANGER P624, FIG. 4
ITEM-CODE WOL3X1/2_1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE NIPP1/2_1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDCON3X2+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR2+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR2+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP2+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVGLB2+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG2+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 3/4 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY2+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG2+1/2_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 1/2 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVCNT2+1/2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE (TYPE ED), 150LB, RF, PCV-067-06
    RATING 150LB
ITEM-CODE SUPEB-2+1/2
    DESCRIPTION ELBOW SUPPORT P619 FIG 2, L=2'-3 1/2"
ITEM-CODE SUPRH-3_1
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE SUPRH-3_2
    DESCRIPTION P624, FIG. 4
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE TEESTR3
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPST-3
    DESCRIPTION RIGID PIPE SUPPORT P619 FIG. 1, L=2'- 0 1/4"
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE WOL3X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A182 Gr F304L, MSS SP-97
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL1X2
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-073-02
    RATING 150LB
ITEM-CODE REDECC4X3
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
