ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217012
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5231.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.50
    ATTRIBUTE96 1217012-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017-00
    ATTRIBUTE21 S.GIBSON
    ATTRIBUTE22 9/30/2008
    ATTRIBUTE23 D.KENDRICK
    ATTRIBUTE24 10/7/2008
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 10/14/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 3/23/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58179.421          63976.687          11810.252  3  BW
    END-POINT  58175.421          63976.687          11810.252  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35B                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58179.421          63976.687          11810.252  3
    END-POINT  58179.421          63976.687          11810.252  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58175.421          63976.687          11810.252  3
    END-POINT  58175.421          63976.687          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58175.421          63976.687          11810.252  3
    END-POINT  58175.421          63976.687          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58182.801          63980.067          11810.252  3  BW
    END-POINT  58182.801          63973.307          11810.252  3  BW
    CENTRE-POINT   58182.801          63976.687          11810.252 
    BRANCH1-POINT  58179.421          63976.687          11810.252  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5LN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58182.801          63980.067          11810.252 
    PIPELINE-REFERENCE ISO-PY3-1217010
FLANGE
    END-POINT  58175.143          63976.687          11810.252  3  FL
    END-POINT  58175.421          63976.687          11810.252  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35E                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58175.018          63976.687          11810.252  3
    END-POINT  58175.143          63976.687          11810.252  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35I                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58175.018          63976.687          11810.252 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35J                 
VALVE
    END-POINT  58175.018          63976.687          11810.252  3  FL
    END-POINT  58173.143          63976.687          11810.252  3  FL
    CENTRE-POINT   58174.080          63976.687          11810.252 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35H                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58173.018          63976.687          11810.252  3
    END-POINT  58173.143          63976.687          11810.252  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35O                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58173.018          63976.687          11810.252 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35P                 
FLANGE
    END-POINT  58173.018          63976.687          11810.252  3  FL
    END-POINT  58172.739          63976.687          11810.252  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35N                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58172.739          63976.687          11810.252  3
    END-POINT  58172.739          63976.687          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58172.739          63976.687          11810.252  3
    END-POINT  58172.739          63976.687          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58172.739          63976.687          11810.252  3  PL
    END-POINT  58164.571          63976.687          11810.252  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58164.571          63976.687          11810.252  3
    END-POINT  58164.571          63976.687          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_367                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58164.571          63976.687          11810.252  3  BW
    END-POINT  58160.071          63981.187          11810.252  3  BW
    CENTRE-POINT   58160.071          63976.687          11810.252 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_35T                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58160.071          63981.187          11810.252  3
    END-POINT  58160.071          63981.187          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_365                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58160.071          63981.187          11810.252  3  BW
    END-POINT  58160.071          64029.736          11810.252  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_364                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58160.071  64003.688  11810.252 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58160.071          64029.736          11810.252  3
    END-POINT  58160.071          64029.736          11810.252  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_366                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58156.691          64033.116          11810.252  3  BW
    END-POINT  58163.451          64033.116          11810.252  3  BW
    CENTRE-POINT   58160.071          64033.116          11810.252 
    BRANCH1-POINT  58160.071          64029.736          11810.252  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_363                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58160.071  64033.116  11810.252  3
    SKEY DUCK
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_57P                 
    TAG                         P617 FIG. 1                     
END-CONNECTION-PIPELINE 
    CO-ORDS  58156.691          64033.116          11810.252 
    PIPELINE-REFERENCE ISO-PY3-1217013
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG3_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 1/2 MACHINE BOLT
    RATING 150LB
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
