ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212001
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1212001-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.SINGH
    ATTRIBUTE22 3/30/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 3/30/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/30/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/30/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/30/2009
    ATTRIBUTE33 6
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/9/2009
    ATTRIBUTE54 RS
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 3/23/2009
    ATTRIBUTE60 RS
    ATTRIBUTE61 RP
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 7/31/2009
    ATTRIBUTE66 DC
    ATTRIBUTE67 BL
    ATTRIBUTE68 DD
    ATTRIBUTE69 REVISED AS NOTED
    ATTRIBUTE70 6
    ATTRIBUTE71 11/27/2012
    ATTRIBUTE72 CP
    ATTRIBUTE73 DK
    ATTRIBUTE74 DK
    ATTRIBUTE75 REVISED PSV-002-03
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58255.803          63995.016          11336.907  0.75  SC MALE 
    END-POINT  58255.803          64001.017          11336.907  0.75  SC MALE 
    CENTRE-POINT  58255.803  63998.016  11336.907 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZE                 
    TAG TI$002$02                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58255.803  64000.454  11336.907 
    TEXT TI$002$02
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58255.803  64000.454  11336.907 
    TEXT E 4854'-7 13/16"$N 5333'-5"$EL +944'-8 15/16"
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58255.803          63995.016          11336.907  0.75  SC FEMALE 
    END-POINT  58255.803          63995.016          11336.907  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58255.803          64001.017          11336.907 
ELBOLET
    END-POINT  58255.802          63993.704          11336.907  3  PL
    END-POINT  58255.803          63995.016          11336.907  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZC                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58255.802          63993.704          11336.907  3
    END-POINT  58255.802          63993.704          11336.907  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  58255.802          63989.367          11336.907  3  BW
    END-POINT  58255.803          63993.867          11341.407  3  BW
    CENTRE-POINT   58255.803          63993.867          11336.907 
    BRANCH1-POINT  58255.802          63993.704          11336.907  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZ8                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  58255.802          63993.704          11336.907  3
WELD
    END-POINT  58255.802          63989.367          11336.907  3
    END-POINT  58255.802          63989.367          11336.907  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZA                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58255.803          63993.867          11341.407  3
    END-POINT  58255.803          63993.867          11341.407  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PF5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58255.803          63993.867          11341.407  3  BW
    END-POINT  58255.803          63993.867          11349.407  1  BW
    SKEY CSBW
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PF4                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58255.803          63993.867          11349.407  1
    END-POINT  58255.803          63993.867          11349.407  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58255.803          63993.867          11354.080  1  SC MALE 
    END-POINT  58255.803          63993.867          11349.407  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58255.803          63993.867          11354.080  1  SC MALE 
    END-POINT  58255.803          63993.867          11354.080  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58255.803          63993.867          11354.080  1  SC FEMALE 
    END-POINT  58255.803          63993.867          11355.920  1  SC FEMALE 
    CENTRE-POINT   58255.803          63993.867          11355.000 
    BRANCH1-POINT  58254.883          63993.867          11355.000  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PF8                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58255.803          63993.867          11355.920  1  SC MALE 
    END-POINT  58255.803          63993.867          11355.920  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58254.883          63993.867          11355.000  1  SC MALE 
    END-POINT  58254.883          63993.867          11355.000  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58220.200          63993.867          11355.000  1  SC MALE 
    END-POINT  58254.883          63993.867          11355.000  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXN                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58220.200          63993.867          11355.000  1  SC MALE 
    END-POINT  58220.200          63993.867          11355.000  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXO                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58218.810          63993.867          11355.000  1  SC FEMALE 
    END-POINT  58220.200          63993.867          11355.000  1  SC FEMALE 
    CENTRE-POINT   58219.505          63993.867          11355.000 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXY                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58218.810          63993.867          11355.000  1  SC MALE 
    END-POINT  58218.810          63993.867          11355.000  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXX                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58214.425          63993.867          11355.000  1  SC MALE 
    END-POINT  58218.810          63993.867          11355.000  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58214.425          63993.867          11355.000  1  SC FEMALE 
    END-POINT  58214.425          63993.867          11355.000  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JX7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58214.425          63993.867          11355.000  1  SC FEMALE 
    END-POINT  58212.585          63993.867          11355.000  1  SC FEMALE 
    CENTRE-POINT   58213.505          63993.867          11355.000 
    BRANCH1-POINT  58213.505          63993.867          11355.920  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JX5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58213.505  63993.867  11355.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58213.505  63898.800  11355.000 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58212.585          63993.867          11355.000  1  SC MALE 
    END-POINT  58212.585          63993.867          11355.000  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58213.505          63993.867          11355.920  1  SC MALE 
    END-POINT  58213.505          63993.867          11355.920  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZ3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58212.585          63993.867          11355.000  1  SC MALE 
    END-POINT  58209.840          63993.867          11355.000  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JX3                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58209.840          63993.867          11355.000 
    PIPELINE-REFERENCE ISO-PY3-1212027
PIPE
    END-POINT  58213.505          63993.867          11372.974  1  SC MALE 
    END-POINT  58213.505          63993.867          11355.920  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZ1                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58213.505          63993.867          11372.974  1  SC MALE 
    END-POINT  58213.505          63993.867          11372.974  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZ2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58213.505          63993.485          11373.896  1  SC FEMALE 
    END-POINT  58213.505          63993.867          11372.974  1  SC FEMALE 
    CENTRE-POINT   58213.505          63993.867          11373.514 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OYH                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
SCREWED-WELD
    END-POINT  58213.505          63993.485          11373.896  1  SC MALE 
    END-POINT  58213.505          63993.485          11373.896  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZ5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58213.505          63993.485          11373.896  1  SC MALE 
    END-POINT  58213.505          63979.017          11388.364  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZ4                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58213.505          63979.017          11388.364  1  SC FEMALE 
    END-POINT  58213.505          63979.017          11388.364  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P1U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58213.505          63979.017          11388.364  1  SC FEMALE 
    END-POINT  58212.585          63978.367          11389.014  1  SC FEMALE 
    CENTRE-POINT   58213.505          63978.367          11389.014 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58213.505  63978.367  11389.014 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63978.367  11389.014 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58212.585          63978.367          11389.014  1  SC MALE 
    END-POINT  58212.585          63978.367          11389.014  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P1T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58140.970          63978.367          11389.014  1  SC MALE 
    END-POINT  58212.585          63978.367          11389.014  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXT                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58178.977  63978.367  11389.014 
    FLOW 2
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58162.897  63978.367  11389.014 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58162.897  63978.367  11389.014 
    TEXT Wall Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58153.748  63978.367  11389.014  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P25                 
SUPPORT
    CO-ORDS  58200.673  63978.367  11389.014  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P27                 
SUPPORT
    CO-ORDS  58200.673  63978.367  11389.014  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PDS                 
SCREWED-WELD
    END-POINT  58140.970          63978.367          11389.014  1  SC MALE 
    END-POINT  58140.970          63978.367          11389.014  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58140.050          63978.367          11389.934  1  SC FEMALE 
    END-POINT  58140.970          63978.367          11389.014  1  SC FEMALE 
    CENTRE-POINT   58140.050          63978.367          11389.014 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58140.050          63978.367          11389.934  1  SC FEMALE 
    END-POINT  58140.050          63978.367          11389.934  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58140.050          63978.367          11389.934  1  SC MALE 
    END-POINT  58140.050          63978.367          11434.276  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58140.050          63978.367          11434.276  1  SC MALE 
    END-POINT  58140.050          63978.367          11434.276  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58140.050          63978.367          11434.276  1  SC FEMALE 
    END-POINT  58139.130          63978.367          11435.196  1  SC FEMALE 
    CENTRE-POINT   58140.050          63978.367          11435.196 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58139.130          63978.367          11435.196  1  SC FEMALE 
    END-POINT  58139.130          63978.367          11435.196  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.970          63978.367          11435.196  1  SC MALE 
    END-POINT  58139.130          63978.367          11435.196  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXQ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.970          63978.367          11435.196  1  SC MALE 
    END-POINT  58113.970          63978.367          11435.196  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58113.970          63978.367          11435.196  1  SC FEMALE 
    END-POINT  58113.050          63978.367          11436.116  1  SC FEMALE 
    CENTRE-POINT   58113.050          63978.367          11435.196 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXS                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58113.050          63978.367          11436.116  1  SC FEMALE 
    END-POINT  58113.050          63978.367          11436.116  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63978.367          11436.116  1  SC MALE 
    END-POINT  58113.050          63978.367          11448.384  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JXU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63978.367          11448.384  1  SC MALE 
    END-POINT  58113.050          63978.367          11448.384  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0R                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58113.050  63978.367  11450.759 
    BRANCH1-POINT  58113.050          63978.367          11448.384  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HWL                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58113.050  63978.367  11450.759 
    PIPELINE-REFERENCE ISO-PY3-2046012
PIPE-FIXED
    END-POINT  58255.803          63993.867          11355.920  1  SC MALE 
    END-POINT  58255.803          63993.867          11358.920  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFE                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58255.803          63993.867          11358.920  1  SC FEMALE 
    END-POINT  58255.803          63993.867          11358.920  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58255.803          63993.867          11359.030  1  FL
    END-POINT  58255.803          63993.867          11358.920  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFG                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58255.803          63993.867          11359.093  1
    END-POINT  58255.803          63993.867          11359.030  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFK                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58255.803          63993.867          11359.093 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFL                 
VALVE-ANGLE
    END-POINT  58255.803          63993.867          11359.093  1  FL
    END-POINT  58258.410          63991.259          11361.967  1.5  FL
    CENTRE-POINT   58255.803          63993.867          11361.968 
    SKEY ARFL
    FABRICATION-ITEM
    ITEM-CODE VALVREL1X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFI                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58255.803  63993.867  11361.968 
    TEXT 3P$PSV$002$03
    UNDIMENSIONED
GASKET
    END-POINT  58258.454          63991.215          11361.967  1.5
    END-POINT  58258.410          63991.259          11361.967  1.5
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFR                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58258.454          63991.215          11361.967  1.5  FL
    END-POINT  58258.590          63991.079          11361.967  1.5  SC FEMALE 
    SKEY FLSC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFQ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58258.590          63991.079          11361.967 
    PIPELINE-REFERENCE ISO-PY3-1212028
PIPE
    END-POINT  58255.800          63984.100          11336.907  3  BW
    END-POINT  58255.802          63989.367          11336.907  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZG                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58255.801  63987.075  11336.907 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58255.800          63984.100          11336.907  3
    END-POINT  58255.800          63984.100          11336.907  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8F                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58255.801  63986.733  11336.907  3
    END-POINT  58255.801  63986.733  11336.907  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58255.801  63986.733  11336.907 
    BRANCH1-POINT  58255.801          63986.733          11334.595  0.75  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X3/4
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZL                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58255.801          63986.733          11334.595  0.75  SC FEMALE 
    END-POINT  58255.801          63986.733          11334.595  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58255.801          63986.733          11334.595  0.75  SC MALE 
    END-POINT  58255.801          63986.733          11331.595  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZN                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58255.801          63986.733          11331.595  0.75  SC MALE 
    END-POINT  58255.801          63986.733          11331.595  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZO                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58255.801          63986.733          11331.595  0.75  SC FEMALE 
    END-POINT  58255.801          63986.733          11330.155  0.75  SC FEMALE 
    CENTRE-POINT   58255.801          63986.733          11330.815 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZP                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58255.801          63986.733          11330.155  0.75  SC FEMALE 
    END-POINT  58255.801          63986.733          11330.155  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZR                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58255.801          63986.733          11330.155  0.75  SC MALE 
    END-POINT  58255.801          63986.733          11329.155  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZS                 
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58255.800          63984.100          11336.907  3  BW
    END-POINT  58255.800          63976.100          11338.000  1  SC MALE 
    SKEY ESSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_1
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZT                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
SCREWED-WELD
    END-POINT  58255.800          63976.100          11338.000  1  SC MALE 
    END-POINT  58255.800          63976.100          11338.000  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58255.800          63976.098          11338.000  1  FL
    END-POINT  58255.800          63976.100          11338.000  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZV                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58255.800          63976.098          11338.000  1
    END-POINT  58255.800          63976.035          11338.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PGD                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58255.800          63976.098          11338.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PGE                 
NOZZLE
    CO-ORDS  58255.800          63976.035          11338.000  1  FL
    CONNECTION-REFERENCE PY3-002$NOZZLE TAG PY3-002-P$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-002-02
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxBV, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1_1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40
    RATING 40
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE 45L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION 45 DEG. ELBOW, 150LB
    RATING 150LB
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER L=1'-3", P624 FIG 4
ITEM-CODE SUPUB-1
    DESCRIPTION PROTECTION SADDLE, P651 FIG 1
ITEM-CODE SUPAG-1
    DESCRIPTION P624 FIG. 4 (X=5", L=5'-20") VERIFY LOCATION OF IMBED PLATES & DIMENSIONS
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 40, SCM - 3"
    RATING 40
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVREL1X1+1/2
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, PSV-002-03
    RATING 150LB
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE TOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FAB SHOP_1
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, BVxSCM, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
