ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036036
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2036036-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036-00
    ATTRIBUTE21 S.KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J. PHOLLIPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/2/2012
    ATTRIBUTE54 ME
    ATTRIBUTE55 AP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED SUPPORT NOTE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
WELD
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K6O                 
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
MATERIALS
