ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1011018
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_GS02.DWG
    ATTRIBUTE98 O2
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1011018-O2-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-81P-011
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE25 T SANDERS
    ATTRIBUTE26 12/15/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/5/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/5/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/5/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 DMC
    ATTRIBUTE37 TS
    ATTRIBUTE38 DD
    ATTRIBUTE39 IFC
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE43 TS
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 DD
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
TEE
    END-POINT  60320.234          65678.643          11678.284  1  BW
    END-POINT  60320.234          65678.643          11675.284  1  BW
    CENTRE-POINT   60320.234          65678.643          11676.784 
    BRANCH1-POINT  60320.234          65677.143          11676.784  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FO                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60320.234          65678.643          11678.284  1
    END-POINT  60320.234          65678.643          11678.284  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ME                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  60320.234          65678.643          11675.284  1
    END-POINT  60320.234          65678.643          11675.284  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4NH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  60320.234          65677.143          11676.784  1
    END-POINT  60320.234          65677.143          11676.784  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60320.234          65678.643          11678.284  1  BW
    END-POINT  60320.234          65678.643          11690.284  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2FR                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  60320.234          65678.643          11690.284 
    PIPELINE-REFERENCE ISO-GS3-1011016
PIPE
    END-POINT  60320.224          65678.642          11653.690  1  BW
    END-POINT  60320.234          65678.643          11675.284  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FUZK55FC_AL                  
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  60320.224          65678.642          11653.690 
    PIPELINE-REFERENCE ISO-TF3-1011018
PIPE
    END-POINT  60320.234          65677.143          11676.784  1  BW
    END-POINT  60320.219          64788.497          11676.787  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3W                  
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60320.219  64990.065  11676.787  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1RD                 
SUPPORT
    CO-ORDS  60320.219  64869.732  11676.787  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1RF                 
SUPPORT
    CO-ORDS  60320.219  65111.001  11676.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1S6                 
SUPPORT
    CO-ORDS  60320.227  65270.782  11676.785  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1ZK                 
SUPPORT
    CO-ORDS  60320.219  65150.549  11676.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1ZM                 
SUPPORT
    CO-ORDS  60320.227  65391.032  11676.785  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1ZN                 
SUPPORT
    CO-ORDS  60320.234  65498.625  11676.784  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2M8                 
SUPPORT
    CO-ORDS  60320.234  65606.564  11676.784  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2M9                 
SUPPORT
    CO-ORDS  60320.219  64796.004  11676.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2QS                 
SUPPORT
    CO-ORDS  60320.219  64795.705  11676.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2QX                 
WELD
    END-POINT  60320.219          64788.497          11676.787  1
    END-POINT  60320.219          64788.497          11676.787  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_I3                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60320.219          64786.997          11678.287  1  BW
    END-POINT  60320.219          64788.497          11676.787  1  BW
    CENTRE-POINT   60320.219          64786.997          11676.787 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_I0                  
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60320.219  64786.997  11676.787 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60480.000  64786.997  11676.787 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 52
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60320.219  64786.997  11676.787 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60320.219  64795.973  11676.787 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. R.1
WELD
    END-POINT  60320.219          64786.997          11678.287  1
    END-POINT  60320.219          64786.997          11678.287  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_I2                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60320.219          64786.997          11723.805  1  BW
    END-POINT  60320.219          64786.997          11678.287  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_HY                  
    PIPING-SPEC S1
WELD
    END-POINT  60320.219          64786.997          11723.805  1
    END-POINT  60320.219          64786.997          11723.805  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60320.219          64785.497          11725.305  1  BW
    END-POINT  60320.219          64786.997          11723.805  1  BW
    CENTRE-POINT   60320.219          64786.997          11725.305 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KP                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60320.219          64785.497          11725.305  1
    END-POINT  60320.219          64785.497          11725.305  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60320.219          64602.500          11725.305  1  BW
    END-POINT  60320.219          64785.497          11725.305  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LW                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60320.219  64761.497  11725.305  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4N2                 
SUPPORT
    CO-ORDS  60320.219  64761.497  11743.305  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4N4                 
SUPPORT
    CO-ORDS  60320.219  64641.497  11725.305  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4NC                 
SUPPORT
    CO-ORDS  60320.219  64641.497  11743.305  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4NE                 
WELD
    END-POINT  60320.219          64602.500          11725.305  1
    END-POINT  60320.219          64602.500          11725.305  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60320.219          64602.500          11725.305  1  BW
    END-POINT  60320.219          64601.000          11726.805  1  BW
    CENTRE-POINT   60320.219          64601.000          11725.305 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KS                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60320.219          64601.000          11726.805  1
    END-POINT  60320.219          64601.000          11726.805  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60320.219          64601.000          11739.181  1  BW
    END-POINT  60320.219          64601.000          11726.805  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LT                 
    PIPING-SPEC S1
WELD
    END-POINT  60320.219          64601.000          11739.181  1
    END-POINT  60320.219          64601.000          11739.181  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60320.219          64601.000          11739.181  1  BW
    END-POINT  60318.719          64601.000          11740.681  1  BW
    CENTRE-POINT   60320.219          64601.000          11740.681 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KV                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  60318.719          64601.000          11740.681  1
    END-POINT  60318.719          64601.000          11740.681  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58786.566          64601.000          11740.681  1  BW
    END-POINT  60318.719          64601.000          11740.681  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LQ                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60286.652  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4NJ                 
SUPPORT
    CO-ORDS  60241.188  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4NV                 
SUPPORT
    CO-ORDS  60318.719  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4NX                 
SUPPORT
    CO-ORDS  60121.419  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4NZ                 
SUPPORT
    CO-ORDS  60001.193  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4O1                 
SUPPORT
    CO-ORDS  59881.406  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4O3                 
SUPPORT
    CO-ORDS  59761.336  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4O5                 
SUPPORT
    CO-ORDS  59641.522  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4O7                 
SUPPORT
    CO-ORDS  59521.310  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4O9                 
SUPPORT
    CO-ORDS  59401.354  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OB                 
SUPPORT
    CO-ORDS  59341.492  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OD                 
SUPPORT
    CO-ORDS  59221.637  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OF                 
SUPPORT
    CO-ORDS  59101.290  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OH                 
SUPPORT
    CO-ORDS  58981.608  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OJ                 
SUPPORT
    CO-ORDS  58939.297  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OL                 
SUPPORT
    CO-ORDS  58868.805  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ON                 
SUPPORT
    CO-ORDS  58807.472  64601.000  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OP                 
WELD
    END-POINT  58786.566          64601.000          11740.681  1
    END-POINT  58786.566          64601.000          11740.681  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4MJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58786.566          64601.000          11740.681  1  BW
    END-POINT  58785.066          64602.500          11740.681  1  BW
    CENTRE-POINT   58785.066          64601.000          11740.681 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KY                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58785.066          64602.500          11740.681  1
    END-POINT  58785.066          64602.500          11740.681  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58785.066          64813.658          11740.681  1  BW
    END-POINT  58785.066          64602.500          11740.681  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LN                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58785.066  64794.292  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OU                 
SUPPORT
    CO-ORDS  58785.066  64707.545  11740.681  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OW                 
WELD
    END-POINT  58785.066          64813.658          11740.681  1
    END-POINT  58785.066          64813.658          11740.681  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58785.066          64815.158          11739.181  1  BW
    END-POINT  58785.066          64813.658          11740.681  1  BW
    CENTRE-POINT   58785.066          64815.158          11740.681 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4L1                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58785.066          64815.158          11739.181  1
    END-POINT  58785.066          64815.158          11739.181  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58785.066          64815.158          11522.287  1  BW
    END-POINT  58785.066          64815.158          11739.181  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LK                 
    PIPING-SPEC S1
WELD
    END-POINT  58785.066          64815.158          11522.287  1
    END-POINT  58785.066          64815.158          11522.287  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58785.066          64815.158          11522.287  1  BW
    END-POINT  58785.066          64816.658          11520.787  1  BW
    CENTRE-POINT   58785.066          64815.158          11520.787 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4L4                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58785.066          64816.658          11520.787  1
    END-POINT  58785.066          64816.658          11520.787  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58785.066          65848.500          11520.787  1  BW
    END-POINT  58785.066          64816.658          11520.787  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LH                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58785.066  64842.727  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4OY                 
SUPPORT
    CO-ORDS  58785.066  64914.795  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4P0                 
SUPPORT
    CO-ORDS  58785.066  65034.670  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4P2                 
SUPPORT
    CO-ORDS  58785.066  65154.661  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4P4                 
SUPPORT
    CO-ORDS  58785.066  65274.651  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4P6                 
SUPPORT
    CO-ORDS  58785.066  65394.515  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4P8                 
SUPPORT
    CO-ORDS  58785.066  65514.508  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PA                 
SUPPORT
    CO-ORDS  58785.066  65631.994  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PC                 
SUPPORT
    CO-ORDS  58785.066  65749.500  11520.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PE                 
WELD
    END-POINT  58785.066          65848.500          11520.787  1
    END-POINT  58785.066          65848.500          11520.787  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ML                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58785.066          65850.000          11519.287  1  BW
    END-POINT  58785.066          65848.500          11520.787  1  BW
    CENTRE-POINT   58785.066          65850.000          11520.787 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M5                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58785.066          65850.000          11519.287  1
    END-POINT  58785.066          65850.000          11519.287  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58785.066          65850.000          11519.287  1  BW
    END-POINT  58785.066          65850.000          11486.287  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M6                 
    PIPING-SPEC S1
WELD
    END-POINT  58785.066          65850.000          11486.287  1
    END-POINT  58785.066          65850.000          11486.287  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58785.066          65851.500          11484.787  1  BW
    END-POINT  58785.066          65850.000          11486.287  1  BW
    CENTRE-POINT   58785.066          65850.000          11484.787 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M4                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58785.066          65851.500          11484.787  1
    END-POINT  58785.066          65851.500          11484.787  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4MA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58785.066          65851.500          11484.787  1  BW
    END-POINT  58785.066          66005.497          11484.787  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M9                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58785.066  65867.966  11484.787  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4MR                 
WELD
    END-POINT  58785.066          66005.497          11484.787  1
    END-POINT  58785.066          66005.497          11484.787  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4MB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58785.066          66006.997          11483.287  1  BW
    END-POINT  58785.066          66005.497          11484.787  1  BW
    CENTRE-POINT   58785.066          66006.997          11484.787 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M0                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58785.066  66006.997  11484.787 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58785.066  66096.000  11484.787 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL N.4
WELD
    END-POINT  58785.066          66006.997          11483.287  1
    END-POINT  58785.066          66006.997          11483.287  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58785.066          66006.997          11450.287  1  BW
    END-POINT  58785.066          66006.997          11483.287  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4M1                 
    PIPING-SPEC S1
WELD
    END-POINT  58785.066          66006.997          11450.287  1
    END-POINT  58785.066          66006.997          11450.287  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58785.066          66006.997          11450.287  1  BW
    END-POINT  58783.566          66006.997          11448.787  1  BW
    CENTRE-POINT   58785.066          66006.997          11448.787 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4LA                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58785.066  66006.997  11448.787 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58776.014  66006.997  11448.787 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 48.4
WELD
    END-POINT  58783.566          66006.997          11448.787  1
    END-POINT  58783.566          66006.997          11448.787  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4MK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57910.500          66006.997          11448.787  1  BW
    END-POINT  58783.566          66006.997          11448.787  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_H4                  
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58654.960  66006.997  11448.787  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_XK                  
SUPPORT
    CO-ORDS  57948.996  66006.997  11448.787  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_XQ                  
SUPPORT
    CO-ORDS  58296.057  66006.997  11448.787  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPPR-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1SR                 
SUPPORT
    CO-ORDS  58775.970  66006.997  11448.787  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3R3                 
SUPPORT
    CO-ORDS  58536.249  66006.997  11448.787  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3R5                 
SUPPORT
    CO-ORDS  58296.380  66006.997  11448.787  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3R7                 
SUPPORT
    CO-ORDS  58176.108  66006.997  11448.787  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3R9                 
SUPPORT
    CO-ORDS  58056.046  66006.997  11448.787  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3RB                 
SUPPORT
    CO-ORDS  58416.157  66006.997  11448.787  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3RD                 
WELD
    END-POINT  57910.500          66006.997          11448.787  1
    END-POINT  57910.500          66006.997          11448.787  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_TQ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57909.000          66006.997          11450.287  1  BW
    END-POINT  57910.500          66006.997          11448.787  1  BW
    CENTRE-POINT   57909.000          66006.997          11448.787 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_H1                  
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57909.000  66006.997  11448.787 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57909.000  66095.966  11448.787 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY BLD 
    MESSAGE
    TEXT COL N.4
WELD
    END-POINT  57909.000          66006.997          11450.287  1
    END-POINT  57909.000          66006.997          11450.287  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_H3                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57909.000          66006.997          11467.411  1  BW
    END-POINT  57909.000          66006.997          11450.287  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GZ                  
    PIPING-SPEC S1
WELD
    END-POINT  57909.000          66006.997          11467.411  1
    END-POINT  57909.000          66006.997          11467.411  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_H0                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57909.000          66008.497          11468.911  1  BW
    END-POINT  57909.000          66006.997          11467.411  1  BW
    CENTRE-POINT   57909.000          66006.997          11468.911 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GW                  
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57909.000  66006.997  11468.911 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58056.062  66006.997  11468.911 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 46.9
WELD
    END-POINT  57909.000          66008.497          11468.911  1
    END-POINT  57909.000          66008.497          11468.911  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GY                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57909.000          66299.872          11468.911  1  BW
    END-POINT  57909.000          66008.497          11468.911  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GU                  
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57909.000  66096.005  11468.911  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_PV                  
SUPPORT
    CO-ORDS  57909.000  66296.235  11468.911  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_275                 
SUPPORT
    CO-ORDS  57909.000  66131.736  11468.911  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_277                 
SUPPORT
    CO-ORDS  57909.000  66131.649  11468.911  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_279                 
WELD
    END-POINT  57909.000          66299.872          11468.911  1
    END-POINT  57909.000          66299.872          11468.911  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GV                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57909.000          66301.372          11470.411  1  BW
    END-POINT  57909.000          66299.872          11468.911  1  BW
    CENTRE-POINT   57909.000          66301.372          11468.911 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GR                  
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57909.000          66301.372          11470.411  1
    END-POINT  57909.000          66301.372          11470.411  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GT                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57909.000          66301.372          11828.439  1  BW
    END-POINT  57909.000          66301.372          11470.411  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GP                  
    PIPING-SPEC S1
WELD
    END-POINT  57909.000          66301.372          11828.439  1
    END-POINT  57909.000          66301.372          11828.439  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GQ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57910.500          66301.372          11829.939  1  BW
    END-POINT  57909.000          66301.372          11828.439  1  BW
    CENTRE-POINT   57909.000          66301.372          11829.939 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GM                  
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57910.500          66301.372          11829.939  1
    END-POINT  57910.500          66301.372          11829.939  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GO                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58072.500          66301.372          11829.939  1  BW
    END-POINT  57910.500          66301.372          11829.939  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GK                  
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58067.105  66301.372  11829.939  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_26Z                 
SUPPORT
    CO-ORDS  58067.119  66301.372  11829.939  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_271                 
SUPPORT
    CO-ORDS  57922.292  66301.372  11829.939  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_272                 
SUPPORT
    CO-ORDS  57922.292  66301.372  11829.939  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_273                 
WELD
    END-POINT  58072.500          66301.372          11829.939  1
    END-POINT  58072.500          66301.372          11829.939  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GL                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58074.000          66301.372          11831.439  1  BW
    END-POINT  58072.500          66301.372          11829.939  1  BW
    CENTRE-POINT   58074.000          66301.372          11829.939 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GH                  
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58074.000          66301.372          11831.439  1
    END-POINT  58074.000          66301.372          11831.439  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GJ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58074.000          66301.372          11926.500  1  BW
    END-POINT  58074.000          66301.372          11831.439  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GF                  
    PIPING-SPEC S1
WELD
    END-POINT  58074.000          66301.372          11926.500  1
    END-POINT  58074.000          66301.372          11926.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GG                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58074.000          66302.872          11928.000  1  BW
    END-POINT  58074.000          66301.372          11926.500  1  BW
    CENTRE-POINT   58074.000          66301.372          11928.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GC                  
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58074.000          66302.872          11928.000  1
    END-POINT  58074.000          66302.872          11928.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_GE                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58074.000          66305.062          11928.000  1  FL
    END-POINT  58074.000          66302.872          11928.000  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_G9                  
    PIPING-SPEC S1
MESSAGE-ROUND
    CO-ORDS  58074.000  66305.062  11928.000 
    TEXT TP-043
    UNDIMENSIONED
GASKET
    END-POINT  58074.000          66305.062          11928.000  1
    END-POINT  58074.000          66305.187          11928.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3QX                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58074.000          66305.062          11928.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3QY                 
VALVE
    END-POINT  58074.000          66310.187          11928.000  1  FL
    END-POINT  58074.000          66305.187          11928.000  1  FL
    CENTRE-POINT   58074.000          66307.687          11928.000 
    SKEY VBFL
    CONTINUATION 
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_G4                  
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58074.000          66310.187          11928.000 
    PIPELINE-REFERENCE ISO-GS3-EXISTING
MATERIALS
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLT GUIDE, P648, FIG. 2
ITEM-CODE SUPPR-1
    DESCRIPTION SUPPORT PAD, P621
ITEM-CODE SUPLTR1
    DESCRIPTION ANGLE STEEL TRAPEZE, P629-FIG. 4, L=63", X=18.75"
ITEM-CODE SUPAG-1
    DESCRIPTION P629-FIG. 4, L=24", X=9.625
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1
    DESCRIPTION ROD HANGER, P624 FIG 4
ITEM-CODE SUPLTR1_1
    DESCRIPTION ANGLE STEEL TRAPEZE HANGER BAR
ITEM-CODE SUPUB-1_1
    DESCRIPTION U-BOLT GUIDE, P627 FIG 2
ITEM-CODE SUPPS-1
    DESCRIPTION PROTECTION SADDLE, P621
ITEM-CODE SUPUB-1_2
    DESCRIPTION U BOLT GUIDE, P648-FIG. 2
ITEM-CODE SUPRH-1_1
    DESCRIPTION ROD HANGER, P624 FIG. 4
ITEM-CODE SUPRH-1_2
    DESCRIPTION ROD HANGER, P624 FIG. 1, WELD ANGLE TO T/STL., L=1'-1", X=1'-0"
ITEM-CODE SUPAG-1_1
    DESCRIPTION P629-FIG. 6, L=2'-0"
ITEM-CODE SUPUB-1_3
    DESCRIPTION U BOLT GUIDE, P648 FIG. 2
ITEM-CODE SUPAG-1_2
    DESCRIPTION P629-FIG. 6, L=2'-3" w/ANGLE WELDED TO WEB OF EXIST. BEAM(T/STL.=987'-10"
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
