ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214027
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 HS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1214027-HS-C2
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/3/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/10/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/11/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 12/17/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DK
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57790.300          64328.871          12264.000  3  BW
    END-POINT  57784.300          64328.871          12264.000  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5BO                 
    PIPING-SPEC C2
    CUT-PIECE-ALLOWANCE EP2 1.75
MESSAGE
    CO-ORDS  57784.300  64328.871  12264.000 
    TEXT CUT PIPE AT 45%%C ANGLE$ADD BIRD SCREEN
    UNDIMENSIONED
WELD
    END-POINT  57790.300          64328.871          12264.000  3
    END-POINT  57790.300          64328.871          12264.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5BQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
END-POSITION-OPEN 
    CO-ORDS  57784.300          64328.871          12264.000 
ELBOW
    END-POINT  57794.800          64328.871          12259.500  3  BW
    END-POINT  57790.300          64328.871          12264.000  3  BW
    CENTRE-POINT   57794.800          64328.871          12264.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5BI                 
    PIPING-SPEC C2
    ANGLE 9000
WELD
    END-POINT  57794.800          64328.871          12259.500  3
    END-POINT  57794.800          64328.871          12259.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
PIPE
    END-POINT  57794.800          64328.871          11697.937  3  BW
    END-POINT  57794.800          64328.871          12259.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RL                 
    PIPING-SPEC C2
TEE-SET-ON
    BRANCH1-POINT  57794.800          64330.283          12131.996  2
    CENTRE-POINT   57794.800  64328.871  12131.996 
    SKEY TESO
    ITEM-CODE PIP3
    PIPING-SPEC C2
TEE-SET-ON
    BRANCH1-POINT  57794.800          64327.459          12131.996  2
    CENTRE-POINT   57794.800  64328.871  12131.996 
    SKEY TESO
    ITEM-CODE PIP3
    PIPING-SPEC C2
SUPPORT
    CO-ORDS  57794.800  64328.871  12131.996  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RX                 
SUPPORT
    CO-ORDS  57794.800  64328.871  11908.742  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8S0                 
FLOW-ARROW
    CO-ORDS  57794.800  64328.871  11846.484 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57794.800          64328.871          11697.937  3
    END-POINT  57794.800          64328.871          11697.937  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
WELD
    END-POINT  57794.800          64330.283          12131.996  2
    END-POINT  57794.800          64330.283          12131.996  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RR                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC C2
WELD
    END-POINT  57794.800          64327.459          12131.996  2
    END-POINT  57794.800          64327.459          12131.996  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC C2
PIPE
    END-POINT  57794.800          64327.459          12131.996  2  BW
    END-POINT  57794.800          64319.277          12131.996  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RU                 
    PIPING-SPEC C2
    CUT-PIECE-ALLOWANCE EP2 11/32"
END-POSITION-OPEN 
    CO-ORDS  57794.800          64319.277          12131.996 
PIPE
    END-POINT  57794.800          64330.283          12131.996  2  BW
    END-POINT  57794.800          64338.433          12131.996  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RP                 
    PIPING-SPEC C2
    CUT-PIECE-ALLOWANCE EP2 11/32"
END-POSITION-OPEN 
    CO-ORDS  57794.800          64338.433          12131.996 
ELBOW
    END-POINT  57799.300          64328.871          11693.437  3  BW
    END-POINT  57794.800          64328.871          11697.937  3  BW
    CENTRE-POINT   57794.800          64328.871          11693.437 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RF                 
    PIPING-SPEC C2
    ANGLE 9000
WELD
    END-POINT  57799.300          64328.871          11693.437  3
    END-POINT  57799.300          64328.871          11693.437  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8RH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
PIPE
    END-POINT  57799.300          64328.871          11693.437  3  BW
    END-POINT  57998.868          64328.871          11693.312  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1L9                 
    PIPING-SPEC C2
SUPPORT
    CO-ORDS  57951.800  64328.871  11693.437  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5AZ                 
SUPPORT
    CO-ORDS  57853.050  64328.871  11693.437  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5B7                 
FLOW-ARROW
    CO-ORDS  57899.656  64328.871  11693.437 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57853.050  64328.871  11693.437  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5D9                 
SUPPORT
    CO-ORDS  57951.800  64328.871  11693.312  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9ZN                 
WELD
    END-POINT  57998.868          64328.871          11693.312  3
    END-POINT  57998.868          64328.871          11693.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATO                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
ELBOW
    END-POINT  58003.368          64328.871          11688.812  3  BW
    END-POINT  57998.868          64328.871          11693.312  3  BW
    CENTRE-POINT   58003.368          64328.871          11693.312 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1KW                 
    PIPING-SPEC C2
    ANGLE 9000
WELD
    END-POINT  58003.368          64328.871          11688.812  3
    END-POINT  58003.368          64328.871          11688.812  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9H                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
PIPE
    END-POINT  58003.368          64328.871          11688.812  3  BW
    END-POINT  58003.368          64328.871          11607.896  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9G                 
    PIPING-SPEC C2
WELD
    END-POINT  58003.368          64328.871          11607.896  3
    END-POINT  58003.368          64328.871          11607.896  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A9I                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
ELBOW
    END-POINT  58007.868          64328.871          11603.396  3  BW
    END-POINT  58003.368          64328.871          11607.896  3  BW
    CENTRE-POINT   58003.368          64328.871          11603.396 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A5E                 
    PIPING-SPEC C2
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58003.368  64328.871  11603.396 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58003.368  64378.800  11603.396 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58003.368  64328.871  11603.396 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.925  64328.871  11603.396 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  58007.868          64328.871          11603.396  3
    END-POINT  58007.868          64328.871          11603.396  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A5G                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
REDUCER-ECCENTRIC
    END-POINT  58007.868          64328.871          11603.396  3  BW
    END-POINT  58015.868          64328.871          11602.303  1  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A3U                 
    PIPING-SPEC C2
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58015.868          64328.871          11602.303  1
    END-POINT  58015.868          64328.871          11602.303  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A3W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
FLANGE
    END-POINT  58015.996          64328.871          11602.303  1  FL
    END-POINT  58015.868          64328.871          11602.303  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5AD                 
    PIPING-SPEC C2
MESSAGE-CIRCLE
    CO-ORDS  58015.651  64328.871  11602.303 
    TEXT PSV$025$01
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  58015.651  64328.871  11602.303 
    TEXT PSV$025$01
    UNDIMENSIONED
GASKET
    END-POINT  58015.996          64328.871          11602.303  1
    END-POINT  58016.121          64328.871          11602.303  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATM                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.996          64328.871          11602.303 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATN                 
VALVE-ANGLE
    END-POINT  58021.308          64328.871          11596.116  0.75  FL
    END-POINT  58016.121          64328.871          11602.303  1  FL
    CENTRE-POINT   58021.308          64328.871          11602.303 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATC                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58021.308          64328.871          11596.116 
    PIPELINE-REFERENCE ISO-PY3-2041020
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 53 Gr B, ERW
    RATING 40
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPAG-3
    DESCRIPTION 2" DIA. DUMMY LEG SUPPORT, P614 W/P629 FIG. 8 (L=1'-10")
ITEM-CODE SUPUB-3
    DESCRIPTION U BOLT SUPPORT, P648 FIG 2 W/P629 FIG. 8 (L=1'-10")
ITEM-CODE PIP2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 53 Gr B, ERW
    RATING 40
ITEM-CODE SUPTS-3
    DESCRIPTION TEE SHOE SUPPORT, P602-FIG 2
ITEM-CODE SUPAG-3_1
    DESCRIPTION STEEL SUPPORT, SEE ISO-PY3-2041020-1
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, BVxPL, SCH 40, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
