ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215026
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 80TWS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1215026-80TWS-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-015
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE25 R. PAPLE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BJL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/27/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DK
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58353.973          64126.117          11867.697  1  BW
    END-POINT  58358.973          64126.117          11867.697  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CLJ                 
    PIPING-SPEC C1
    CUT-PIECE-ALLOWANCE EP2 0.6575
MESSAGE
    CO-ORDS  58358.973  64126.117  11867.697 
    TEXT 45 DEG. CHAMFERED$TO ATMOSPHERE
    UNDIMENSIONED
WELD
    END-POINT  58353.973          64126.117          11867.697  1
    END-POINT  58353.973          64126.117          11867.697  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CLL                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  58358.973          64126.117          11867.697 
PIPE
    END-POINT  58270.933          64126.117          11867.698  1  SC MALE 
    END-POINT  58353.973          64126.118          11867.698  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BCK                 
    PIPING-SPEC C1
FLOW-ARROW
    CO-ORDS  58333.438  64126.118  11868.010 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58282.310  64126.118  11867.698  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CLO                 
SUPPORT
    CO-ORDS  58346.879  64126.117  11867.697  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CLV                 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58353.973  64126.118  11867.698 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58353.973  64138.748  11867.697 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL.
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58353.973  64126.118  11867.698 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64126.118  11867.698 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL.
SCREWED-WELD
    END-POINT  58270.933          64126.117          11867.698  1  SC MALE 
    END-POINT  58270.933          64126.117          11867.698  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CQS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
FLANGE
    END-POINT  58270.933          64126.117          11867.698  1  FL
    END-POINT  58270.933          64126.117          11867.698  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CQP                 
    PIPING-SPEC C1
GASKET
    END-POINT  58270.933          64126.117          11867.698  1
    END-POINT  58270.871          64126.117          11867.698  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CQQ                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58270.933          64126.117          11867.698 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CQR                 
VALVE-ANGLE
    END-POINT  58265.683          64126.117          11861.510  0.75  FL
    END-POINT  58270.871          64126.117          11867.698  1  FL
    CENTRE-POINT   58265.683          64126.117          11867.698 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CQI                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58265.683          64126.117          11861.510 
    PIPELINE-REFERENCE ISO-PY3-1215025
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=3'-9 1/4", P624 FIG 1
ITEM-CODE SUPUB-1
    DESCRIPTION ANGLED U BOLT SUPPORT, L=1'-3", P625 FIG 4
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
