ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213016
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212_A.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1213016-VT-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/16/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/27/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/23/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE-ANGLE
    END-POINT  58320.006          64161.655          11438.605  2  FL
    END-POINT  58325.506          64161.655          11442.735  3  FL
    CENTRE-POINT   58320.006          64161.655          11442.735 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_42                  
    TAG PSV-003-07                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS  58320.006  64161.655  11442.735 
    TEXT PSV$003$07
    UNDIMENSIONED
GASKET
    END-POINT  58320.006          64161.655          11438.605  2
    END-POINT  58320.006          64161.655          11438.480  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_45                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58320.006          64161.655          11438.480 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_46                  
GASKET
    END-POINT  58325.631          64161.655          11442.735  3
    END-POINT  58325.506          64161.655          11442.735  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KJ                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58325.631          64161.655          11442.735  3  FL
    END-POINT  58325.909          64161.655          11442.735  3  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_3W                  
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58325.909          64161.655          11442.735 
    PIPELINE-REFERENCE ISO-PY3-1213010
FLANGE
    END-POINT  58320.006          64161.655          11438.480  2  FL
    END-POINT  58320.006          64161.655          11438.264  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_47                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58320.006          64161.655          11438.264  2
    END-POINT  58320.006          64161.655          11438.264  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KM                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58320.006          64161.655          11438.264  2
    END-POINT  58320.006          64161.655          11438.264  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KN                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58320.006          64161.655          11438.264  2  PL
    END-POINT  58320.006          64161.655          11432.264  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KL                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58320.006          64161.655          11432.264  2
    END-POINT  58320.006          64161.655          11432.264  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KQ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58320.006          64161.655          11432.264  2  BW
    END-POINT  58320.006          64162.631          11429.908  2  BW
    CENTRE-POINT   58320.006          64161.655          11430.884 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KO                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58320.006          64162.631          11429.908  2
    END-POINT  58320.006          64162.631          11429.908  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KW                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58320.006          64164.679          11427.860  2  BW
    END-POINT  58320.006          64162.631          11429.908  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KU                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58320.006          64164.679          11427.860  2
    END-POINT  58320.006          64164.679          11427.860  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KV                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58320.006          64165.655          11425.504  2  BW
    END-POINT  58320.006          64164.679          11427.860  2  BW
    CENTRE-POINT   58320.006          64165.655          11426.884 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KT                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58320.006          64165.655          11425.504  2
    END-POINT  58320.006          64165.655          11425.504  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KX                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58320.006          64165.655          11389.584  2  BW
    END-POINT  58320.006          64165.655          11425.504  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_4A                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58320.006  64165.655  11400.004  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_4B                  
    TAG                         P615 FIG. 5                     
FLOW-ARROW
    CO-ORDS  58320.006  64165.655  11412.515 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58320.006  64165.655  11400.012 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58320.006  64165.655  11400.012 
    TEXT Floor Penetration
    UNDIMENSIONED
WELD
    END-POINT  58320.006          64165.655          11389.584  2
    END-POINT  58320.006          64165.655          11389.584  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_K0                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58317.990          64163.530          11386.585  2  BW
    END-POINT  58320.006          64165.655          11389.584  2  BW
    CENTRE-POINT   58320.006          64165.655          11386.654 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JZ                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8864
WELD
    END-POINT  58317.990          64163.530          11386.585  2
    END-POINT  58317.990          64163.530          11386.585  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_K3                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58307.489          64152.466          11386.223  2  BW
    END-POINT  58317.990          64163.530          11386.585  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_K1                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58307.489          64152.466          11386.223  2
    END-POINT  58307.489          64152.466          11386.223  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_K2                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58307.489          64152.466          11386.223  2  BW
    END-POINT  58305.473          64150.341          11383.224  2  BW
    CENTRE-POINT   58305.473          64150.341          11386.154 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JU                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8864
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58305.473  64150.341  11386.154 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64150.341  11386.154 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58305.473          64150.341          11383.224  2
    END-POINT  58305.473          64150.341          11383.224  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JY                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58305.473          64150.341          11379.217  2  PL
    END-POINT  58305.473          64150.341          11383.224  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JV                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58305.473          64150.341          11379.217  2
    END-POINT  58305.473          64150.341          11379.217  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JW                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58305.473          64150.341          11379.217  2
    END-POINT  58305.473          64150.341          11379.217  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_JX                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58305.473          64150.341          11379.000  2  FL
    END-POINT  58305.473          64150.341          11379.217  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_4Q                  
    PIPING-SPEC S1
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58305.473  64150.341  11379.217 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58305.473  64138.748  11379.217 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
GASKET
    END-POINT  58305.473          64150.341          11379.000  2
    END-POINT  58305.473          64150.341          11378.875  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_HH                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58305.473          64150.341          11379.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_HI                  
END-POSITION-OPEN 
    CO-ORDS  58305.473          64150.341          11378.875 
MATERIALS
ITEM-CODE VALVREL2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF,  PSV-003-07
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP, P615 FIG. 5
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
