ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036053
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036053-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 R.SINGH
    ATTRIBUTE22 4/7/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 4/7/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58282.976          64034.642          11968.745  1  BW
    END-POINT  58282.976          64034.642          11959.500  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K71                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58282.976  64034.642  11962.767 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58282.976          64034.642          11959.500  1
    END-POINT  58282.976          64034.642          11959.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K73                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58282.976          64034.642          11968.745 
ELBOW
    END-POINT  58282.976          64034.642          11959.500  1  BW
    END-POINT  58282.976          64033.142          11958.000  1  BW
    CENTRE-POINT   58282.976          64034.642          11958.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K74                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58282.976          64033.142          11958.000  1
    END-POINT  58282.976          64033.142          11958.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K75                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58282.976          64022.942          11958.000  1  SC MALE 
    END-POINT  58282.976          64033.142          11958.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K76                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58282.976          64022.942          11958.000  1  SC MALE 
    END-POINT  58282.976          64022.942          11958.000  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K77                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
INSTRUMENT
    END-POINT  58282.976          64020.352          11958.000  1  SC FEMALE 
    END-POINT  58282.976          64022.942          11958.000  1  SC FEMALE 
    CENTRE-POINT   58282.976          64021.647          11958.000 
    SKEY CVSC
    ERECTION-ITEM
    ITEM-CODE VALVBCL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K78                 
    TAG EV$013$23                       
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58282.976          64020.352          11958.000  1  SC FEMALE 
    END-POINT  58282.976          64020.352          11958.000  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7A                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58282.976          64015.772          11958.000  1  BW
    END-POINT  58282.976          64020.352          11958.000  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58282.976          64015.772          11958.000  1
    END-POINT  58282.976          64015.772          11958.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KBC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58282.976          64015.772          11958.000  1  BW
    END-POINT  58282.976          64014.272          11956.500  1  BW
    CENTRE-POINT   58282.976          64014.272          11958.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KBA                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58282.976          64014.272          11956.500  1
    END-POINT  58282.976          64014.272          11956.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KBE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58282.976          64014.272          11956.500  1  BW
    END-POINT  58282.976          64014.272          11950.346  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KBD                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58282.976          64014.272          11950.346  1
    END-POINT  58282.976          64014.272          11950.346  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KBF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58282.976          64014.272          11947.716  1  SW FEMALE 
    END-POINT  58282.976          64014.272          11950.346  1  SW FEMALE 
    CENTRE-POINT   58282.976          64014.272          11949.031 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KB6                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58282.976          64014.272          11947.716  1  SW FEMALE 
    END-POINT  58282.976          64014.272          11947.716  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KB7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58282.976          64014.272          11947.716  1  PL
    END-POINT  58282.976          64014.272          11899.255  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7F                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58282.976  64014.272  11927.986  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7G                 
FLOOR-SYMBOL 
    CO-ORDS  58282.976  64014.272  11926.992 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58282.976  64014.272  11926.992 
    TEXT Grating Opening
    UNDIMENSIONED
WELD
    END-POINT  58282.976          64014.272          11899.255  1
    END-POINT  58282.976          64014.272          11899.255  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58282.976          64012.772          11897.755  1  BW
    END-POINT  58282.976          64014.272          11899.255  1  BW
    CENTRE-POINT   58282.976          64014.272          11897.755 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7J                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58282.976          64012.772          11897.755  1
    END-POINT  58282.976          64012.772          11897.755  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58282.976          64012.772          11897.755  1  BW
    END-POINT  58282.976          63977.300          11897.755  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7L                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58282.976  63990.848  11897.755  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7M                 
WELD
    END-POINT  58282.976          63977.300          11897.755  1
    END-POINT  58282.976          63977.300          11897.755  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58282.976          63975.800          11896.255  1  BW
    END-POINT  58282.976          63977.300          11897.755  1  BW
    CENTRE-POINT   58282.976          63975.800          11897.755 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7O                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58282.976  63975.800  11897.755 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63975.800  11897.755 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58282.976          63975.800          11896.255  1
    END-POINT  58282.976          63975.800          11896.255  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58282.976          63975.800          11896.255  1  BW
    END-POINT  58282.976          63975.800          11881.255  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7R                 
    PIPING-SPEC S1
WELD
    END-POINT  58282.976          63975.800          11881.255  1
    END-POINT  58282.976          63975.800          11881.255  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58282.976          63975.800          11881.255  1  BW
    END-POINT  58281.476          63975.800          11879.755  1  BW
    CENTRE-POINT   58282.976          63975.800          11879.755 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7T                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58282.976  63975.800  11879.755 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58282.976  63898.800  11879.755 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58281.476          63975.800          11879.755  1
    END-POINT  58281.476          63975.800          11879.755  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58281.476          63975.800          11879.755  1  BW
    END-POINT  58044.101          63975.800          11879.755  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7W                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58121.768  63975.800  11879.755  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7X                 
FLOW-ARROW
    CO-ORDS  58179.788  63975.800  11879.755 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58056.286  63975.800  11879.755  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7Z                 
SUPPORT
    CO-ORDS  58205.418  63975.800  11879.755  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K80                 
SUPPORT
    CO-ORDS  58247.406  63975.800  11879.755  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K81                 
WELD
    END-POINT  58044.101          63975.800          11879.755  1
    END-POINT  58044.101          63975.800          11879.755  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-ECCENTRIC
    END-POINT  58041.101          63975.800          11880.288  2  BW
    END-POINT  58044.101          63975.800          11879.755  1  BW
    SKEY REBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B27                 
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
END-CONNECTION-PIPELINE 
    CO-ORDS  58041.101          63975.800          11880.288 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBCL1
    CATALOG NON STANDARD
    DESCRIPTION THREADED CONTROL VALVE, EV-013-23
    RATING 6000LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPRH-1
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE SUPRH-1_1
    DESCRIPTION GENERAL HANGER, L=1'-4 27/32", P624 FIG 3
ITEM-CODE SUPRH-1_2
    DESCRIPTION GENERAL HANGER, L=2'-10 13/16", P624 FIG 3
ITEM-CODE SUPUB-1
    DESCRIPTION STANDARD U BOLT SUPPORT, P648 FIG2
