ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216007-C
PIPING-SPEC S3C
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5231_CORE.DWG
    ATTRIBUTE98 PML
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216007-C-PML-S3C
    ATTRIBUTE95 I1
    ATTRIBUTE94 S3C
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 2/27/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58140.945          64072.789          11632.490  3  FL
    END-POINT  58140.945          64072.789          11629.740  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1GN                 
    PIPING-SPEC S3C
    INSULATION-ON 
MESSAGE
    CO-ORDS  58140.945  64072.789  11629.740 
    TEXT CONN TO$PY3-068$NOZZLE TAG PY3-068-A$RATING 150LB$FACING RF$E 4845'-4 3
    TEXT /4$N 5339'-4 13/16"$EL +969'-4 1/2"
    UNDIMENSIONED
GASKET
    END-POINT  58140.945          64072.789          11632.615  3
    END-POINT  58140.945          64072.789          11632.490  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1KY                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58140.945          64072.789          11632.615 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1KZ                 
END-POSITION-OPEN 
    CO-ORDS  58140.945          64072.789          11629.740 
MISC-COMPONENT
    END-POINT  58140.945          64072.789          11632.615  3  FL
    END-POINT  58140.945          64072.789          11644.615  3  FL
    CENTRE-POINT  58140.945  64072.789  11638.615 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1KX                 
    PIPING-SPEC S3C
    INSULATION-ON 
MESSAGE
    CO-ORDS  58140.945  64072.789  11638.615 
    TEXT CONN RAM VA TO FLEX HOSE$SP-024, SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-00
    TEXT 2
    UNDIMENSIONED
MESSAGE-ROUND
    CO-ORDS  58140.945  64072.789  11637.332 
    TEXT SP-038
    UNDIMENSIONED
GASKET
    END-POINT  58140.945          64072.789          11644.740  3
    END-POINT  58140.945          64072.789          11644.615  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1L1                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58140.945          64072.789          11644.740 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1L2                 
FLANGE
    END-POINT  58140.945          64072.789          11644.740  3  FL
    END-POINT  58140.945          64072.789          11647.490  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1L0                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64072.789          11647.490  3
    END-POINT  58140.945          64072.789          11647.490  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1L4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58140.945          64072.789          11652.990  6  BW
    END-POINT  58140.945          64072.789          11647.490  3  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON6X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1L3                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64072.789          11652.990  6
    END-POINT  58140.945          64072.789          11652.990  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1L6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  58140.945          64072.789          11652.990  6  BW
    END-POINT  58140.945          64072.789          11661.490  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1L5                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64072.789          11661.490  6
    END-POINT  58140.945          64072.789          11661.490  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1L7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  58140.945          64072.789          11664.990  6  FL
    END-POINT  58140.945          64072.789          11661.490  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_OM                  
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  58140.945          64072.789          11665.115  6
    END-POINT  58140.945          64072.789          11664.990  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1Q5                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58140.945          64072.789          11664.990 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1Q6                 
MISC-COMPONENT
    END-POINT  58140.945          64072.789          11665.115  6  FL
    END-POINT  58140.945          64072.789          11683.115  6  FL
    CENTRE-POINT  58140.945  64072.789  11674.115 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1Q4                 
    PIPING-SPEC S3C
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58140.945  64072.789  11673.412 
    TEXT SP-040
    UNDIMENSIONED
GASKET
    END-POINT  58140.945          64072.789          11683.240  6
    END-POINT  58140.945          64072.789          11683.115  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1Q8                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58140.945          64072.789          11683.240 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1Q9                 
FLANGE
    END-POINT  58140.945          64072.789          11683.240  6  FL
    END-POINT  58140.945          64072.789          11686.740  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1Q7                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64072.789          11686.740  6
    END-POINT  58140.945          64072.789          11686.740  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1QB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  58140.945          64072.789          11686.740  6  BW
    END-POINT  58140.945          64072.789          11785.757  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1QA                 
    PIPING-SPEC S3C
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58140.945  64072.789  11779.884 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58140.945  64072.789  11779.884 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58140.945  64072.789  11738.640 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58140.945          64072.789          11785.757  6
    END-POINT  58140.945          64072.789          11785.757  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1QC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  58140.945          64072.789          11789.257  6  FL
    END-POINT  58140.945          64072.789          11785.757  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NY                  
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  58140.945          64072.789          11789.382  6
    END-POINT  58140.945          64072.789          11789.257  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_WZ                  
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58140.945          64072.789          11789.257 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_X0                  
FLANGE
    END-POINT  58140.945          64072.789          11789.382  6  FL
    END-POINT  58140.945          64072.789          11792.882  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NW                  
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64072.789          11792.882  6
    END-POINT  58140.945          64072.789          11792.882  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1GV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  58140.945          64072.789          11796.882  6  BW
    END-POINT  58140.945          64072.789          11792.882  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1GT                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58140.945          64072.789          11796.882  6
    END-POINT  58140.945          64072.789          11796.882  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1GU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
ELBOW
    END-POINT  58136.702          64072.789          11807.125  6  BW
    END-POINT  58140.945          64072.789          11796.882  6  BW
    CENTRE-POINT   58140.945          64072.789          11802.882 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45L6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NR                  
    PIPING-SPEC S3C
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58136.702          64072.789          11807.125  6
    END-POINT  58136.702          64072.789          11807.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NT                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  58133.874          64072.789          11809.953  6  BW
    END-POINT  58136.702          64072.789          11807.125  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NP                  
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58133.874          64072.789          11809.953  6
    END-POINT  58133.874          64072.789          11809.953  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NQ                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  58131.399          64072.789          11812.428  6  FL
    END-POINT  58133.874          64072.789          11809.953  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NM                  
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  58131.311          64072.789          11812.517  6
    END-POINT  58131.399          64072.789          11812.428  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_WX                  
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58131.399          64072.789          11812.428 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_WY                  
FLANGE
    END-POINT  58131.311          64072.789          11812.517  6  FL
    END-POINT  58128.836          64072.789          11814.991  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NK                  
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58128.836          64072.789          11814.991  6
    END-POINT  58128.836          64072.789          11814.991  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NL                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  58126.007          64072.789          11817.820  6  BW
    END-POINT  58128.836          64072.789          11814.991  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NI                  
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58126.007          64072.789          11817.820  6
    END-POINT  58126.007          64072.789          11817.820  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NJ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
ELBOW
    END-POINT  58121.765          64072.789          11828.062  6  BW
    END-POINT  58126.007          64072.789          11817.820  6  BW
    CENTRE-POINT   58121.765          64072.789          11822.062 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45L6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_NF                  
    PIPING-SPEC S3C
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58121.765  64072.789  11828.062 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58121.765  64138.748  11828.062 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX2
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58121.765  64072.789  11828.062 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64072.789  11828.062 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58121.765          64072.789          11828.062  6
    END-POINT  58121.765          64072.789          11828.062  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1GS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  58121.765          64072.789          11832.062  6  BW
    END-POINT  58121.765          64072.789          11828.062  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1GQ                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  58121.765          64072.789          11832.062  6
    END-POINT  58121.765          64072.789          11832.062  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1GR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  58121.765          64072.789          11835.562  6  FL
    END-POINT  58121.765          64072.789          11832.062  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_HF                  
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  58121.765          64072.789          11835.562  6
    END-POINT  58121.765          64072.789          11835.687  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1H5                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58121.765          64072.789          11835.562 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1H6                 
END-POSITION-OPEN 
    CO-ORDS  58121.765          64072.789          11835.687 
MATERIALS
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, BW, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR3
    DESCRIPTION RAM VALVE, SP-038
    RATING 150LB
ITEM-CODE REDCON6X3
    CATALOG ANSI B16.9
    DESCRIPTION CONC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP6
    CATALOG ANSI B16.9
    DESCRIPTION PIPE, SCH 10S, ASTM A312 Gr TP304L, SEAMLESS
    RATING 10S
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, BW, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR6
    DESCRIPTION PLUG VALVE, SP-040
    RATING 150LB
ITEM-CODE BOLT6_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 4  STUD BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 45L6
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG ELBOW, LONG TAN, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
