ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-2036045
PIPING-SPEC C1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5611.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036045-N-C1
    ATTRIBUTE95 il
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 6-746-700-A12
    ATTRIBUTE21 D. CAMACHO
    ATTRIBUTE22 7/27/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 B.L.
    ATTRIBUTE26 7/27/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 7/27/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 7/27/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 7/27/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 DC
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUE FOR CONSTRUCTION
    ATTRIBUTE40 1
    ATTRIBUTE41 10/5/2012
    ATTRIBUTE42 JK
    ATTRIBUTE43 DD
    ATTRIBUTE44 DK
    ATTRIBUTE45 REV. PER P&ID UP-DATES
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  56773.581          70497.213          11494.013  2.5  BW
    END-POINT  56773.581          70509.213          11494.013  2.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2+1/2
    WEIGHT           5.793
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2MD                 
    PIPING-SPEC C1
    CUT-PIECE-ALLOWANCE EP2 1.4375
MESSAGE
    CO-ORDS  56773.581  70509.213  11494.013 
    TEXT 45 DEG. BEVEL WITH BIRD SCREEN
    UNDIMENSIONED
SUPPORT
    CO-ORDS  56773.581  70503.081  11494.013  2.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-2+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2VW                 
WELD
    END-POINT  56773.581          70497.213          11494.013  2.5
    END-POINT  56773.581          70497.213          11494.013  2.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2MF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  56773.581          70509.213          11494.013 
FLANGE
    END-POINT  56773.581          70494.463          11494.013  2.5  FL
    END-POINT  56773.581          70497.213          11494.013  2.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2MA                 
    PIPING-SPEC C1
GASKET
    END-POINT  56773.581          70494.463          11494.013  2.5
    END-POINT  56773.581          70494.401          11494.013  2.5
    ERECTION-ITEM
    ITEM-CODE GAS2+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2PK                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56773.581          70494.463          11494.013 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2PL                 
VALVE-ANGLE
    END-POINT  56773.581          70486.213          11486.576  1.5  FL
    END-POINT  56773.581          70494.401          11494.013  2.5  FL
    CENTRE-POINT   56773.581          70486.213          11494.013 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2M4                 
    TAG PSV-036-16                      
    PIPING-SPEC C1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  56773.581          70486.213          11486.576 
    PIPELINE-REFERENCE ISO-GS3-2036009
MATERIALS
ITEM-CODE PIP2+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE SUPUB-2+1/2
    DESCRIPTION U BOLT ANCHOR P-627 FIG.1 WITH P-629 FIG-9 L=2'-10"
ITEM-CODE FLGWNK2+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2+1/2
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT2+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
