ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036043
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036043-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 2/23/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/16/2009
    ATTRIBUTE54 SK
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BL
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  58079.150          63988.460          11683.810  0.75  SW FEMALE 
    END-POINT  58079.150          63990.940          11683.810  0.75  SW FEMALE 
    CENTRE-POINT   58079.150          63989.435          11683.810 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKN                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS  58079.150  63990.940  11683.810 
    TEXT TO TUBING$LT-051-01
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58079.150          63988.460          11683.810  0.75
    END-POINT  58079.150          63988.460          11683.810  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58079.150          63990.940          11683.810 
PIPE
    END-POINT  58079.150          63983.930          11683.810  0.75  BW
    END-POINT  58079.150          63988.460          11683.810  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKL                 
    PIPING-SPEC S1
WELD
    END-POINT  58079.150          63983.930          11683.810  0.75
    END-POINT  58079.150          63983.930          11683.810  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58079.150          63982.805          11684.935  0.75  BW
    END-POINT  58079.150          63983.930          11683.810  0.75  BW
    CENTRE-POINT   58079.150          63982.805          11683.810 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKJ                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58079.150          63982.805          11684.935  0.75
    END-POINT  58079.150          63982.805          11684.935  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58079.150          63982.805          11694.935  0.75  BW
    END-POINT  58079.150          63982.805          11684.935  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKG                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58079.150  63982.805  11687.768 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58079.150          63982.805          11694.935  0.75
    END-POINT  58079.150          63982.805          11694.935  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58080.270          63982.805          11696.055  0.75  BW
    END-POINT  58078.030          63982.805          11696.055  0.75  BW
    CENTRE-POINT   58079.150          63982.805          11696.055 
    BRANCH1-POINT  58079.150          63982.805          11694.935  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKD                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58080.270          63982.805          11696.055  0.75
    END-POINT  58080.270          63982.805          11696.055  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58078.030          63982.805          11696.055  0.75
    END-POINT  58078.030          63982.805          11696.055  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58078.030          63982.805          11696.055  0.75  BW
    END-POINT  58065.485          63982.805          11696.055  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKQ                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58068.485  63982.805  11696.055  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKR                 
WELD
    END-POINT  58065.485          63982.805          11696.055  0.75
    END-POINT  58065.485          63982.805          11696.055  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58065.485          63982.805          11696.055  0.75  BW
    END-POINT  58064.360          63982.805          11697.180  0.75  BW
    CENTRE-POINT   58064.360          63982.805          11696.055 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKT                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58064.360  63982.805  11696.055 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58064.360  63898.800  11696.055 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  58064.360          63982.805          11697.180  0.75
    END-POINT  58064.360          63982.805          11697.180  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58064.360          63982.805          11702.438  0.75  BW
    END-POINT  58064.360          63982.805          11697.180  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKW                 
    PIPING-SPEC S1
WELD
    END-POINT  58064.360          63982.805          11702.438  0.75
    END-POINT  58064.360          63982.805          11702.438  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58064.360          63982.805          11702.438  0.75  BW
    END-POINT  58064.360          63983.930          11703.563  0.75  BW
    CENTRE-POINT   58064.360          63982.805          11703.563 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKY                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58064.360  63982.805  11703.563 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63982.805  11703.563 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  58064.360          63983.930          11703.563  0.75
    END-POINT  58064.360          63983.930          11703.563  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58064.360          63983.930          11703.563  0.75  BW
    END-POINT  58064.360          64117.968          11703.563  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL1                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58064.360  64068.533  11703.563 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58064.360  64060.824  11703.563  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL3                 
WELD
    END-POINT  58064.360          64117.968          11703.563  0.75
    END-POINT  58064.360          64117.968          11703.563  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58064.360          64117.968          11703.563  0.75  BW
    END-POINT  58064.360          64119.093          11704.688  0.75  BW
    CENTRE-POINT   58064.360          64119.093          11703.563 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL5                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58064.360          64119.093          11704.688  0.75
    END-POINT  58064.360          64119.093          11704.688  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58064.360          64119.093          11720.438  0.75  BW
    END-POINT  58064.360          64119.093          11704.688  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL7                 
    PIPING-SPEC S1
WELD
    END-POINT  58064.360          64119.093          11720.438  0.75
    END-POINT  58064.360          64119.093          11720.438  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58063.235          64119.093          11721.563  0.75  BW
    END-POINT  58064.360          64119.093          11720.438  0.75  BW
    CENTRE-POINT   58064.360          64119.093          11721.563 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JL9                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58063.235          64119.093          11721.563  0.75
    END-POINT  58063.235          64119.093          11721.563  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58043.726          64119.093          11721.563  0.75  BW
    END-POINT  58063.235          64119.093          11721.563  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLB                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58057.018  64119.093  11721.563  0.75
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLC                 
WELD
    END-POINT  58043.726          64119.093          11721.563  0.75
    END-POINT  58043.726          64119.093          11721.563  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58043.726          64119.093          11721.563  0.75  BW
    END-POINT  58042.601          64119.093          11722.688  0.75  BW
    CENTRE-POINT   58042.601          64119.093          11721.563 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLE                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58042.601          64119.093          11722.688  0.75
    END-POINT  58042.601          64119.093          11722.688  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58042.601          64119.093          11738.438  0.75  BW
    END-POINT  58042.601          64119.093          11722.688  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLG                 
    PIPING-SPEC S1
WELD
    END-POINT  58042.601          64119.093          11738.438  0.75
    END-POINT  58042.601          64119.093          11738.438  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58042.601          64119.093          11738.438  0.75  BW
    END-POINT  58042.601          64120.218          11739.563  0.75  BW
    CENTRE-POINT   58042.601          64119.093          11739.563 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLI                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58042.601          64120.218          11739.563  0.75
    END-POINT  58042.601          64120.218          11739.563  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58042.601          64120.218          11739.563  0.75  BW
    END-POINT  58042.593          64149.447          11739.563  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLK                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58042.598  64129.698  11739.563 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58042.593          64149.447          11739.563  0.75
    END-POINT  58042.593          64149.447          11739.563  0.75
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G22                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58042.593  64151.509  11739.563 
    BRANCH1-POINT  58042.593          64149.447          11739.563  0.75  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EO9                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58042.593  64151.509  11739.563 
    PIPELINE-REFERENCE ISO-PY3-2036033
PIPE
    END-POINT  58084.800          63982.805          11696.055  0.75  PL
    END-POINT  58080.270          63982.805          11696.055  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKB                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58084.800          63982.805          11696.055  0.75  SW FEMALE 
    END-POINT  58084.800          63982.805          11696.055  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JKA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58086.750          63982.805          11696.055  0.75  SW FEMALE 
    END-POINT  58084.800          63982.805          11696.055  0.75  SW FEMALE 
    CENTRE-POINT   58085.775          63982.805          11696.055 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JK8                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58086.750          63982.805          11696.055  0.75
    END-POINT  58086.750          63982.805          11696.055  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JK7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58091.780          63982.805          11696.055  0.75  PL
    END-POINT  58086.750          63982.805          11696.055  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JK5                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58088.673  63982.805  11696.055 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58091.780          63982.805          11696.055  0.75  SW FEMALE 
    END-POINT  58091.780          63982.805          11696.055  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JK4                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58091.780          63982.805          11696.055  0.75  SW FEMALE 
    END-POINT  58094.530          63982.805          11696.055  0.75  SW FEMALE 
    CENTRE-POINT   58093.155          63982.805          11696.055 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JK3                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58094.530          63982.805          11696.055  0.75
    END-POINT  58094.530          63982.805          11696.055  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JK2                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58099.030          63982.805          11696.055  0.75  BW
    END-POINT  58094.530          63982.805          11696.055  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JK1                 
    PIPING-SPEC S1
WELD
    END-POINT  58099.030          63982.805          11696.055  0.75
    END-POINT  58099.030          63982.805          11696.055  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JK0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58101.090          63982.805          11696.055  0.75  FL
    END-POINT  58099.030          63982.805          11696.055  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJZ                 
    PIPING-SPEC S1
GASKET
    END-POINT  58101.215          63982.805          11696.055  0.75
    END-POINT  58101.090          63982.805          11696.055  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJX                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58101.090          63982.805          11696.055 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJY                 
INSTRUMENT
    END-POINT  58101.215          63982.805          11696.055  0.75  FL
    END-POINT  58115.215          63982.805          11696.055  0.75  FL
    CENTRE-POINT   58108.215          63982.805          11696.055 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJV                 
    TAG PRV$051$07                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58115.340          63982.805          11696.055  0.75
    END-POINT  58115.215          63982.805          11696.055  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJT                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58115.215          63982.805          11696.055 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJU                 
FLANGE
    END-POINT  58115.340          63982.805          11696.055  0.75  FL
    END-POINT  58117.400          63982.805          11696.055  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJS                 
    PIPING-SPEC S1
WELD
    END-POINT  58117.400          63982.805          11696.055  0.75
    END-POINT  58117.400          63982.805          11696.055  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58117.400          63982.805          11696.055  0.75  BW
    END-POINT  58121.645          63982.805          11696.055  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJQ                 
    PIPING-SPEC S1
WELD
    END-POINT  58121.645          63982.805          11696.055  0.75
    END-POINT  58121.645          63982.805          11696.055  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58121.645          63982.805          11696.055  0.75  BW
    END-POINT  58122.770          63983.930          11696.055  0.75  BW
    CENTRE-POINT   58122.770          63982.805          11696.055 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJO                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58122.770          63983.930          11696.055  0.75
    END-POINT  58122.770          63983.930          11696.055  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58122.770          63983.930          11696.055  0.75  BW
    END-POINT  58122.770          63985.685          11696.055  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJM                 
    PIPING-SPEC S1
WELD
    END-POINT  58122.770          63985.685          11696.055  0.75
    END-POINT  58122.770          63985.685          11696.055  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58122.770          63986.805          11694.935  0.75  BW
    END-POINT  58122.770          63986.805          11697.175  0.75  BW
    CENTRE-POINT   58122.770          63986.805          11696.055 
    BRANCH1-POINT  58122.770          63985.685          11696.055  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJJ                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58122.770          63986.805          11694.935  0.75
    END-POINT  58122.770          63986.805          11694.935  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58122.770          63986.805          11697.175  0.75
    END-POINT  58122.770          63986.805          11697.175  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  58122.770          63986.805          11697.175  0.75  BW
    END-POINT  58122.770          63986.805          11698.675  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3/4X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJH                 
    PIPING-SPEC S1
WELD
    END-POINT  58122.770          63986.805          11698.675  0.5
    END-POINT  58122.770          63986.805          11698.675  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJG                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58122.770          63986.805          11698.675  0.5  BW
    END-POINT  58122.770          63986.805          11702.085  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJF                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58122.770          63986.805          11702.085  0.5  SW FEMALE 
    END-POINT  58122.770          63986.805          11702.085  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58122.770          63986.805          11702.085  0.5  SW FEMALE 
    END-POINT  58122.770          63986.805          11703.765  0.5  SW FEMALE 
    CENTRE-POINT   58122.770          63986.805          11702.970 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JJC                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58122.770          63986.805          11703.765  0.5
    END-POINT  58122.770          63986.805          11703.765  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K93                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58122.770          63986.805          11703.765  0.5  PL
    END-POINT  58122.770          63986.805          11706.765  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K92                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58122.770  63986.805  11706.265 
    TEXT PI$051$06
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58122.770          63986.805          11706.765 
FLANGE
    END-POINT  58122.770          63986.805          11692.875  0.75  FL
    END-POINT  58122.770          63986.805          11694.935  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLN                 
    PIPING-SPEC S1
GASKET
    END-POINT  58122.770          63986.805          11692.875  0.75
    END-POINT  58122.770          63986.805          11692.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K97                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58122.770          63986.805          11692.875 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K98                 
END-POSITION-OPEN 
    CO-ORDS  58122.770          63986.805          11692.750 
MATERIALS
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3/4
    DESCRIPTION GENERAL HANGER, L=1'-8 1/16", P624 FIG 1
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION GENERAL HANGER, L=1'-0 7/16", P624 FIG 1
ITEM-CODE SUPUB-3/4
    DESCRIPTION U BOLT GUIDE, P648 FIG 2
ITEM-CODE VALVCHK3/4
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE FLGWNK3/4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PRV-051-07
    RATING 150LB
ITEM-CODE REDCON3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10Sx40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
