ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211009
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1211009-VTS-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/30/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/31/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 12/2/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 D. DURK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/2/2009
    ATTRIBUTE42 SM
    ATTRIBUTE43 RP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BL
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 12/17/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DK
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED PSE-022-04
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58007.879          64116.681          12200.532  0.5  PL
    END-POINT  58007.879          64116.681          12203.532  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZT                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58007.879  64116.681  12203.032 
    TEXT PI$022$04
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58007.879          64116.681          12200.532  0.5
    END-POINT  58007.879          64116.681          12200.532  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58007.879          64116.681          12203.532 
VALVE
    END-POINT  58007.879          64116.681          12198.852  0.5  SW FEMALE 
    END-POINT  58007.879          64116.681          12200.532  0.5  SW FEMALE 
    CENTRE-POINT   58007.879          64116.681          12199.737 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZP                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58007.879          64116.681          12198.852  0.5  SW FEMALE 
    END-POINT  58007.879          64116.681          12198.852  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58007.879          64116.681          12195.442  0.5  BW
    END-POINT  58007.879          64116.681          12198.852  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZK                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58007.879          64116.681          12195.442  0.5
    END-POINT  58007.879          64116.681          12195.442  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZL                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58008.785          64116.259          12194.442  0.5  BW
    END-POINT  58006.972          64117.104          12194.442  0.5  BW
    CENTRE-POINT   58007.879          64116.681          12194.442 
    BRANCH1-POINT  58007.879          64116.681          12195.442  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Z6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58008.785          64116.259          12194.442  0.5
    END-POINT  58008.785          64116.259          12194.442  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Z8                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58006.972          64117.104          12194.442  0.5
    END-POINT  58006.972          64117.104          12194.442  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZY                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58006.972          64117.104          12194.442  0.5  BW
    END-POINT  58003.882          64118.545          12194.442  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZX                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58003.882          64118.545          12194.442  0.5  SW FEMALE 
    END-POINT  58003.882          64118.545          12194.442  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_900                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58003.882          64118.545          12194.442  0.5  SW FEMALE 
    END-POINT  58002.359          64119.255          12194.442  0.5  SW FEMALE 
    CENTRE-POINT   58003.080          64118.919          12194.442 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8ZZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58002.359          64119.255          12194.442  0.5
    END-POINT  58002.359          64119.255          12194.442  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_904                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58002.359          64119.255          12194.442  0.5  PL
    END-POINT  57999.640          64120.523          12194.442  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_903                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58000.094  64120.312  12194.442 
    TEXT PSH$022$04
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57999.640          64120.523          12194.442 
PIPE
    END-POINT  58013.661          64113.985          12194.443  0.5  BW
    END-POINT  58008.785          64116.259          12194.442  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Z4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58013.661          64113.985          12194.443  0.5
    END-POINT  58013.661          64113.985          12194.443  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8Z5                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58015.020          64113.351          12195.943  1  BW
    END-POINT  58015.020          64113.351          12192.943  1  BW
    CENTRE-POINT   58015.020          64113.351          12194.443 
    BRANCH1-POINT  58013.661          64113.985          12194.443  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8YZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58015.020          64113.351          12195.943  1
    END-POINT  58015.020          64113.351          12195.943  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58015.020          64113.351          12192.943  1
    END-POINT  58015.020          64113.351          12192.943  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58015.020          64113.351          12190.753  1  FL
    END-POINT  58015.020          64113.351          12192.943  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91Q                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58015.020          64113.351          12190.628  1
    END-POINT  58015.020          64113.351          12190.753  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9AG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.020          64113.351          12190.628 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9AH                 
MISC-COMPONENT
    END-POINT  58015.020          64113.351          12187.128  1  FL
    END-POINT  58015.020          64113.351          12190.628  1  FL
    CENTRE-POINT  58015.020  64113.351  12188.878 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9AB                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58015.020  64113.351  12188.878 
    TEXT 3P$PSE$022$04
    UNDIMENSIONED
GASKET
    END-POINT  58015.020          64113.351          12187.003  1
    END-POINT  58015.020          64113.351          12187.128  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9AE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.020          64113.351          12187.128 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9AF                 
FLANGE
    END-POINT  58015.020          64113.351          12187.003  1  FL
    END-POINT  58015.020          64113.351          12184.813  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91M                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58015.020          64113.351          12184.813  1
    END-POINT  58015.020          64113.351          12184.813  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58015.020          64113.351          12181.813  2  BW
    END-POINT  58015.020          64113.351          12184.813  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91D                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58015.020          64113.351          12181.813  2
    END-POINT  58015.020          64113.351          12181.813  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58015.020          64113.351          12179.313  2  FL
    END-POINT  58015.020          64113.351          12181.813  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_919                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58015.020          64113.351          12179.313  2
    END-POINT  58015.020          64113.351          12179.188  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9AK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.020          64113.351          12179.313 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_9AL                 
NOZZLE
    CO-ORDS  58015.020          64113.351          12179.188  2  FL
    CONNECTION-REFERENCE PY3-022$NOZZLE TAG HEAD8D6D-K$RATING 150LB$FACING RF
FLANGE
    END-POINT  58015.020          64113.351          12198.133  1  FL
    END-POINT  58015.020          64113.351          12195.943  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91V                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58015.020          64113.351          12198.133  1
    END-POINT  58015.020          64113.351          12198.258  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_91Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.020          64113.351          12198.133 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_920                 
VALVE-ANGLE
    END-POINT  58015.020          64113.351          12198.258  1  FL
    END-POINT  58015.020          64117.851          12202.383  2  FL
    CENTRE-POINT   58015.020          64113.351          12202.383 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL1X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8I6                 
    TAG PSV-022 04                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58015.020  64113.351  12202.383 
    TEXT PSV$022$04
    UNDIMENSIONED
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58015.020  64113.351  12202.383 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64113.351  12202.383 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58015.020  64113.351  12202.383 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58015.020  64138.748  12202.383 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
GASKET
    END-POINT  58015.020          64117.976          12202.383  2
    END-POINT  58015.020          64117.851          12202.383  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92D                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58015.020          64117.976          12202.383  2  FL
    END-POINT  58015.020          64120.476          12202.383  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_92C                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58015.020          64120.476          12202.383 
    PIPELINE-REFERENCE ISO-PY3-1211015
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEESTR1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE TEERED1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR1
    DESCRIPTION PS3-022-04
    RATING 150LB
ITEM-CODE REDCON2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL1X2
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE PSV-022-04
    RATING 150LB
