ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218002
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218002-AN-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/29/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/5/2008
    ATTRIBUTE25 RHP
    ATTRIBUTE26 12/3/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 D. DURK
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58265.090          64175.682          12085.878  6  FL
    END-POINT  58265.090          64172.182          12085.878  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_32N                 
    PIPING-SPEC S1
GASKET
    END-POINT  58265.090          64175.682          12085.878  6
    END-POINT  58265.090          64175.807          12085.878  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_803                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58265.090          64175.682          12085.878 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_804                 
WELD
    END-POINT  58265.090          64172.182          12085.878  6
    END-POINT  58265.090          64172.182          12085.878  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_576                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58265.090          64175.807          12085.878 
ELBOW
    END-POINT  58265.090          64172.182          12085.878  6  BW
    END-POINT  58256.090          64163.182          12085.832  6  BW
    CENTRE-POINT   58265.090          64163.182          12085.878 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_574                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58265.090  64163.182  12085.878 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64163.182  12085.878 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58265.090  64163.182  12085.878 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58265.090  64138.748  12085.878 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58256.090          64163.182          12085.832  6
    END-POINT  58256.090          64163.182          12085.832  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58237.753          64163.182          12085.736  6  BW
    END-POINT  58256.090          64163.182          12085.832  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57B                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58245.870  64163.182  12085.778 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58237.753          64163.182          12085.736  6
    END-POINT  58237.753          64163.182          12085.736  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58228.800          64163.182          12076.736  6  BW
    END-POINT  58237.753          64163.182          12085.736  6  BW
    CENTRE-POINT   58228.800          64163.182          12085.689 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_577                 
    PIPING-SPEC S1
    ANGLE 8970
WELD
    END-POINT  58228.800          64163.182          12076.736  6
    END-POINT  58228.800          64163.182          12076.736  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58228.800          64163.182          12076.736  6  BW
    END-POINT  58228.800          64163.182          11983.750  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57E                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64163.182          11983.750  6
    END-POINT  58228.800          64163.182          11983.750  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58228.800          64163.182          11983.750  6  BW
    END-POINT  58228.800          64172.182          11974.750  6  BW
    CENTRE-POINT   58228.800          64163.182          11974.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_335                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58228.800          64172.182          11974.750  6
    END-POINT  58228.800          64172.182          11974.750  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58228.800          64186.213          11974.750  6  PL
    END-POINT  58228.800          64172.182          11974.750  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57V                 
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64186.213          11974.750  6
    END-POINT  58228.800          64186.213          11974.750  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58228.800          64186.213          11974.750  6
    END-POINT  58228.800          64186.213          11974.750  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58228.800          64186.555          11974.750  6  FL
    END-POINT  58228.800          64186.213          11974.750  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_57R                 
    PIPING-SPEC S1
GASKET
    END-POINT  58228.800          64186.555          11974.750  6
    END-POINT  58228.800          64186.680          11974.750  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_806                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58228.800          64186.555          11974.750 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_807                 
END-POSITION-OPEN 
    CO-ORDS  58228.800          64186.680          11974.750 
MATERIALS
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 90LLR6
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP6
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP6
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
