ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216001
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1216001-VT-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 SG
    ATTRIBUTE22 6/11/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 BL
    ATTRIBUTE26 6/11/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 6/11/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 6/11/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 6/11/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58078.700          64088.704          12017.813  2  BW
    END-POINT  58078.700          64088.704          11934.684  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_941                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58078.700  64088.704  11937.296  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_943                 
WELD
    END-POINT  58078.700          64088.704          12017.813  2
    END-POINT  58078.700          64088.704          12017.813  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_942                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58078.700          64088.704          11934.684 
ELBOW
    END-POINT  58081.298          64087.204          12020.813  2  BW
    END-POINT  58078.700          64088.704          12017.813  2  BW
    CENTRE-POINT   58078.700          64088.704          12020.813 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93Y                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58078.700  64088.704  12020.813 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64088.704  12020.812 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58078.700  64088.704  12020.813 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58078.700  64138.748  12020.813 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58081.298          64087.204          12020.813  2
    END-POINT  58081.298          64087.204          12020.813  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_940                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58103.667          64074.289          12020.812  2  BW
    END-POINT  58081.298          64087.204          12020.813  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93W                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58094.763  64079.430  12020.813 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58103.667          64074.289          12020.812  2
    END-POINT  58103.667          64074.289          12020.812  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58106.265          64072.789          12017.812  2  BW
    END-POINT  58103.667          64074.289          12020.812  2  BW
    CENTRE-POINT   58106.265          64072.789          12020.812 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93J                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58106.265          64072.789          12017.812  2
    END-POINT  58106.265          64072.789          12017.812  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58106.265          64072.789          12015.312  2  FL
    END-POINT  58106.265          64072.789          12017.812  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93G                 
    PIPING-SPEC S1
GASKET
    END-POINT  58106.265          64072.789          12015.312  2
    END-POINT  58106.265          64072.789          12015.187  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93H                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58106.265          64072.789          12015.312 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93I                 
MISC-COMPONENT
    END-POINT  58106.265          64072.789          12013.500  2  FL
    END-POINT  58106.265          64072.789          12015.187  2  FL
    CENTRE-POINT  58106.265  64072.789  12014.344 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93E                 
    TAG PSE-067-04                      
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58106.265  64072.789  12014.216 
    TEXT PSE$067$04
    UNDIMENSIONED
GASKET
    END-POINT  58106.265          64072.789          12013.500  2
    END-POINT  58106.265          64072.789          12013.375  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93F                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58106.265          64072.789          12013.375  2  FL
    END-POINT  58106.265          64072.789          12010.875  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93C                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58106.265          64072.789          12010.875  2
    END-POINT  58106.265          64072.789          12010.875  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58106.265          64072.789          12006.875  4  BW
    END-POINT  58106.265          64072.789          12010.875  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93A                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58106.265          64072.789          12006.875  4
    END-POINT  58106.265          64072.789          12006.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_93B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58106.265          64072.789          12001.375  6  BW
    END-POINT  58106.265          64072.789          12006.875  4  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON6X4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_938                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58106.265          64072.789          12001.375  6
    END-POINT  58106.265          64072.789          12001.375  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_939                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58106.265          64072.789          11997.875  6  FL
    END-POINT  58106.265          64072.789          12001.375  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_934                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58106.265          64072.789          11997.875  6
    END-POINT  58106.265          64072.789          11997.750  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_935                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58106.265          64072.789          11997.875 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_936                 
END-POSITION-OPEN 
    CO-ORDS  58106.265          64072.789          11997.750 
MATERIALS
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION P658, FIG 1
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8" X 5 1/4" MACHINE BOLT w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR2
    DESCRIPTION PSE-067-04
    RATING 150LB
ITEM-CODE REDCON4X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON6X4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
