ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216027
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1216027-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 SG
    ATTRIBUTE22 6/11/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 BL
    ATTRIBUTE26 6/11/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 7/31/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 7/31/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 7/31/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58379.080          64066.419          12043.358  1  BW
    END-POINT  58385.080          64066.419          12043.358  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPZ                 
    PIPING-SPEC C1
MESSAGE
    CO-ORDS  58385.080  64066.419  12043.358 
    TEXT TO ATMOSPHERE$45 DEG CHAMFERED
    UNDIMENSIONED
WELD
    END-POINT  58379.080          64066.419          12043.358  1
    END-POINT  58379.080          64066.419          12043.358  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPY                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58385.080          64066.419          12043.358 
PIPE
    END-POINT  58172.955          64066.419          12043.358  1  SC MALE 
    END-POINT  58379.080          64066.419          12043.358  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPS                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  58191.364  64066.419  12043.358  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPT                 
SUPPORT
    CO-ORDS  58273.556  64066.419  12043.358  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPU                 
SUPPORT
    CO-ORDS  58355.491  64066.419  12043.358  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPV                 
FLOW-ARROW
    CO-ORDS  58225.472  64066.419  12043.358 
    FLOW 1
    SKEY FLOW
MESSAGE
    CO-ORDS  58178.550  64066.419  12043.358 
    TEXT 1/4" WEEP HOLE
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58172.955          64066.419          12043.358  1  SC FEMALE 
    END-POINT  58172.955          64066.419          12043.358  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58172.955          64066.419          12043.358  1  FL
    END-POINT  58172.955          64066.419          12043.358  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPQ                 
    PIPING-SPEC C1
GASKET
    END-POINT  58172.892          64066.419          12043.358  1
    END-POINT  58172.955          64066.419          12043.358  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPO                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58172.955          64066.419          12043.358 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPP                 
VALVE-ANGLE
    END-POINT  58168.017          64066.419          12036.858  1  FL
    END-POINT  58172.892          64066.419          12043.358  1  FL
    CENTRE-POINT   58168.017          64066.419          12043.358 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JPL                 
    TAG PSV-067-10                      
    PIPING-SPEC C1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58168.017          64066.419          12036.858 
    PIPELINE-REFERENCE ISO-PY3-1216012
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLD ANCHOR, P627 FIG 1
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=7'-6", P624 FIG 1
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
