ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217011
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DMC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1217011-DMC-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 SG
    ATTRIBUTE22 9/30/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/7/2008
    ATTRIBUTE25 BP
    ATTRIBUTE26 10/14/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 5
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BP
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/16/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 4/7/2009
    ATTRIBUTE54 SM
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 9/14/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 KC
    ATTRIBUTE62 DD
    ATTRIBUTE63 DELETED DRAIN AND VENT
    ATTRIBUTE64 5
    ATTRIBUTE65 11/1/2012
    ATTRIBUTE66 CP
    ATTRIBUTE67 DD
    ATTRIBUTE68 DK
    ATTRIBUTE69 REVISED SERVICE & SUPPORT
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
TEE
    END-POINT  57822.846          63958.010          11350.376  1  BW
    END-POINT  57822.846          63958.010          11353.376  1  BW
    CENTRE-POINT   57822.846          63958.010          11351.876 
    BRANCH1-POINT  57822.846          63956.510          11351.876  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78H                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57822.846          63958.010          11350.376  1
    END-POINT  57822.846          63958.010          11350.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57822.846          63958.010          11353.376  1
    END-POINT  57822.846          63958.010          11353.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BYA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.846          63956.510          11351.876  1
    END-POINT  57822.846          63956.510          11351.876  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57822.846          63930.245          11351.876  1  PL
    END-POINT  57822.846          63956.510          11351.876  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78P                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57822.846          63930.245          11351.876 
    PIPELINE-REFERENCE ISO-PY3-1219019
PIPE
    END-POINT  57822.846          63958.010          11353.376  1  BW
    END-POINT  57822.826          63958.010          11501.635  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BY9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.826          63958.010          11501.635  1
    END-POINT  57822.826          63958.010          11501.635  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BYB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57822.826          63958.010          11501.635  1  BW
    END-POINT  57821.326          63958.010          11503.135  1  BW
    CENTRE-POINT   57822.826          63958.010          11503.135 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BXX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57822.826  63958.010  11503.135 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57822.826  63898.800  11503.135 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57822.826  63958.010  11503.135 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63958.010  11503.135 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57821.326          63958.010          11503.135  1
    END-POINT  57821.326          63958.010          11503.135  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57821.326          63958.010          11503.135  1  BW
    END-POINT  57620.201          63958.010          11503.135  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BYD                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57634.826  63958.010  11503.135  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BYJ                 
SUPPORT
    CO-ORDS  57718.826  63958.010  11503.135  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BYL                 
SUPPORT
    CO-ORDS  57814.826  63958.010  11503.135  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CA4                 
WELD
    END-POINT  57620.201          63958.010          11503.135  1
    END-POINT  57620.201          63958.010          11503.135  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57620.201          63958.010          11503.135  1
    END-POINT  57620.201          63958.010          11503.135  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57620.005          63958.010          11503.135  1  FL
    END-POINT  57620.201          63958.010          11503.135  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAD                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  57620.005  63958.010  11503.135 
    TEXT TP-030
    UNDIMENSIONED
GASKET
    END-POINT  57620.005          63958.010          11503.135  1
    END-POINT  57619.880          63958.010          11503.135  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57620.005          63958.010          11503.135 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAF                 
VALVE
    END-POINT  57614.880          63958.010          11503.135  1  FL
    END-POINT  57619.880          63958.010          11503.135  1  FL
    CENTRE-POINT   57617.380          63958.010          11503.135 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          12.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KZYZ4_3C5                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
END-CONNECTION-PIPELINE 
    CO-ORDS  57614.880          63958.010          11503.135 
    PIPELINE-REFERENCE ISO-GS3-EXISTING
PIPE
    END-POINT  57822.846          63958.010          11350.376  1  BW
    END-POINT  57822.824          63958.010          11347.376  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78I                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.824          63958.010          11347.376  1
    END-POINT  57822.824          63958.010          11347.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57822.826          63956.510          11345.876  1  BW
    END-POINT  57822.824          63958.010          11347.376  1  BW
    CENTRE-POINT   57822.824          63958.010          11345.876 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6TV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57822.826          63956.510          11345.876  1
    END-POINT  57822.826          63956.510          11345.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6TX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57822.826          63913.066          11345.876  1  BW
    END-POINT  57822.826          63956.510          11345.876  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6SS                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.826          63913.066          11345.876  1
    END-POINT  57822.826          63913.066          11345.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57824.326          63911.566          11345.876  1  BW
    END-POINT  57822.826          63913.066          11345.876  1  BW
    CENTRE-POINT   57822.826          63911.566          11345.876 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5V4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57822.826  63911.566  11345.876 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57822.826  63898.800  11345.876 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57822.826  63911.566  11345.876 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63911.566  11345.876 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57824.326          63911.566          11345.876  1
    END-POINT  57824.326          63911.566          11345.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57824.326          63911.566          11345.876  1  BW
    END-POINT  57831.788          63911.566          11345.876  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9T1                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57831.788          63911.566          11345.876  1
    END-POINT  57831.788          63911.566          11345.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9T3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57833.288          63911.566          11344.376  1  BW
    END-POINT  57831.788          63911.566          11345.876  1  BW
    CENTRE-POINT   57833.288          63911.566          11345.876 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57833.288          63911.566          11344.376  1
    END-POINT  57833.288          63911.566          11344.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57833.288          63911.566          11344.376  1  BW
    END-POINT  57833.288          63911.566          11341.376  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5M8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57833.288          63911.566          11341.376  1
    END-POINT  57833.288          63911.566          11341.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5MA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57833.288          63911.566          11341.376  1
    END-POINT  57833.288          63911.566          11341.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5MB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57833.288          63911.566          11341.181  1  FL
    END-POINT  57833.288          63911.566          11341.376  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SR                 
    PIPING-SPEC S1
GASKET
    END-POINT  57833.288          63911.566          11341.181  1
    END-POINT  57833.288          63911.566          11341.056  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SS                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57833.288          63911.566          11341.181 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3ST                 
VALVE
    END-POINT  57833.288          63911.566          11336.056  1  FL
    END-POINT  57833.288          63911.566          11341.056  1  FL
    CENTRE-POINT   57833.288          63911.566          11338.556 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SO                 
    PIPING-SPEC S1
GASKET
    END-POINT  57833.288          63911.566          11336.056  1
    END-POINT  57833.288          63911.566          11335.931  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SP                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57833.288          63911.566          11336.056 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SQ                 
FLANGE
    END-POINT  57833.288          63911.566          11335.931  1  FL
    END-POINT  57833.288          63911.566          11335.735  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SL                 
    PIPING-SPEC S1
WELD
    END-POINT  57833.288          63911.566          11335.735  1
    END-POINT  57833.288          63911.566          11335.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57833.288          63911.566          11335.735  1
    END-POINT  57833.288          63911.566          11335.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  57833.288          63911.566          11329.735  1  BW
    END-POINT  57833.288          63911.566          11335.735  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57833.288          63911.566          11329.735  1
    END-POINT  57833.288          63911.566          11329.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3SK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57833.288          63911.566          11329.735  1  BW
    END-POINT  57833.288          63911.566          11326.735  1  BW
    CENTRE-POINT   57833.288          63911.566          11328.235 
    BRANCH1-POINT  57834.788          63911.566          11328.235  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3RT                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57833.288          63911.566          11326.735  1
    END-POINT  57833.288          63911.566          11326.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9S1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57834.788          63911.566          11328.235  1
    END-POINT  57834.788          63911.566          11328.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57834.788          63911.566          11328.235  1  BW
    END-POINT  57856.925          63911.566          11328.235  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57856.925          63911.566          11328.235  1
    END-POINT  57856.925          63911.566          11328.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9ST                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57856.925          63911.566          11328.235  1
    END-POINT  57856.925          63911.566          11328.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57857.121          63911.566          11328.235  1  FL
    END-POINT  57856.925          63911.566          11328.235  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5UO                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57857.121          63911.566          11328.235  1
    END-POINT  57857.246          63911.566          11328.235  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5UP                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57857.121          63911.566          11328.235 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5UQ                 
VALVE
    END-POINT  57862.246          63911.566          11328.235  1  FL
    END-POINT  57857.246          63911.566          11328.235  1  FL
    CENTRE-POINT   57859.746          63911.566          11328.235 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           9.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5UJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57862.246          63911.566          11328.235  1
    END-POINT  57862.371          63911.566          11328.235  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5UK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57862.246          63911.566          11328.235 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5UL                 
FLANGE
    END-POINT  57862.371          63911.566          11328.235  1  FL
    END-POINT  57862.566          63911.566          11328.235  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5UG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.566          63911.566          11328.235  1
    END-POINT  57862.566          63911.566          11328.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.566          63911.566          11328.235  1
    END-POINT  57862.566          63911.566          11328.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57862.566          63911.566          11328.235  1  PL
    END-POINT  57866.767          63911.566          11328.235  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3S1                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57866.767          63911.566          11328.235  1
    END-POINT  57866.767          63911.566          11328.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57868.267          63911.566          11329.735  1  BW
    END-POINT  57868.267          63911.566          11326.735  1  BW
    CENTRE-POINT   57868.267          63911.566          11328.235 
    BRANCH1-POINT  57866.767          63911.566          11328.235  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3RR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57868.267          63911.566          11329.735  1
    END-POINT  57868.267          63911.566          11329.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_792                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.267          63911.566          11326.735  1
    END-POINT  57868.267          63911.566          11326.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57868.267          63911.566          11326.735  1  BW
    END-POINT  57868.267          63911.566          11311.376  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.267          63911.566          11311.376  1
    END-POINT  57868.267          63911.566          11311.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.267          63911.566          11311.376  1
    END-POINT  57868.267          63911.566          11311.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57868.267          63911.566          11311.181  1  FL
    END-POINT  57868.267          63911.566          11311.376  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RG                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57868.267          63911.566          11311.181  1
    END-POINT  57868.267          63911.566          11311.056  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RH                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57868.267          63911.566          11311.181 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RI                 
VALVE
    END-POINT  57868.267          63911.566          11306.056  1  FL
    END-POINT  57868.267          63911.566          11311.056  1  FL
    CENTRE-POINT   57868.267          63911.566          11308.556 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RB                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57868.267          63911.566          11306.056  1
    END-POINT  57868.267          63911.566          11305.931  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RC                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57868.267          63911.566          11306.056 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RD                 
FLANGE
    END-POINT  57868.267          63911.566          11305.931  1  FL
    END-POINT  57868.267          63911.566          11305.735  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9R8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.267          63911.566          11305.735  1
    END-POINT  57868.267          63911.566          11305.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9R9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.267          63911.566          11305.735  1
    END-POINT  57868.267          63911.566          11305.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57868.267          63911.566          11299.735  1  BW
    END-POINT  57868.267          63911.566          11305.735  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9R6                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.267          63911.566          11299.735  1
    END-POINT  57868.267          63911.566          11299.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9R7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57868.267          63911.566          11299.735  1  BW
    END-POINT  57866.767          63911.566          11298.235  1  BW
    CENTRE-POINT   57868.267          63911.566          11298.235 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3Q8                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57868.267  63911.566  11298.235  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5N2                 
WELD
    END-POINT  57866.767          63911.566          11298.235  1
    END-POINT  57866.767          63911.566          11298.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9U1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57855.910          63911.566          11298.235  1  BW
    END-POINT  57866.767          63911.566          11298.235  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57855.910          63911.566          11298.235  1
    END-POINT  57855.910          63911.566          11298.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9QR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57855.910          63911.566          11298.235  1  BW
    END-POINT  57853.910          63911.566          11298.000  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9QP                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57853.910          63911.566          11298.000  0.5
    END-POINT  57853.910          63911.566          11298.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9QT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57852.030          63911.566          11298.000  0.5  FL
    END-POINT  57853.910          63911.566          11298.000  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9QS                 
    PIPING-SPEC S1
GASKET
    END-POINT  57851.905          63911.566          11298.000  0.5
    END-POINT  57852.030          63911.566          11298.000  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SB                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57851.905          63911.566          11298.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SC                 
INSTRUMENT
    END-POINT  57851.905          63911.566          11298.000  0.5  FL
    END-POINT  57844.530          63911.566          11298.000  0.5  FL
    CENTRE-POINT   57848.217          63911.566          11298.000 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SA                 
    TAG LCV$070$01                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57844.405          63911.566          11298.000  0.5
    END-POINT  57844.530          63911.566          11298.000  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57844.405          63911.566          11298.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SF                 
FLANGE
    END-POINT  57844.405          63911.566          11298.000  0.5  FL
    END-POINT  57842.525          63911.566          11298.000  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SD                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57842.525          63911.566          11298.000  0.5
    END-POINT  57842.525          63911.566          11298.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57840.525          63911.566          11298.235  1  BW
    END-POINT  57842.525          63911.566          11298.000  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SI                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57840.525          63911.566          11298.235  1
    END-POINT  57840.525          63911.566          11298.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57840.525          63911.566          11298.235  1  BW
    END-POINT  57834.788          63911.566          11298.235  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SV                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57834.788          63911.566          11298.235  1
    END-POINT  57834.788          63911.566          11298.235  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9SX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57834.788          63911.566          11298.235  1  BW
    END-POINT  57833.288          63911.566          11299.735  1  BW
    CENTRE-POINT   57833.288          63911.566          11298.235 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3Q7                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57833.288  63911.566  11298.235  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5MJ                 
WELD
    END-POINT  57833.288          63911.566          11299.735  1
    END-POINT  57833.288          63911.566          11299.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9TY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57833.288          63911.566          11299.735  1  BW
    END-POINT  57833.288          63911.566          11305.735  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9TX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57833.288          63911.566          11305.735  1
    END-POINT  57833.288          63911.566          11305.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9TZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57833.288          63911.566          11305.735  1
    END-POINT  57833.288          63911.566          11305.735  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9U0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57833.288          63911.566          11305.931  1  FL
    END-POINT  57833.288          63911.566          11305.735  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RL                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57833.288          63911.566          11306.056  1
    END-POINT  57833.288          63911.566          11305.931  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RP                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57833.288          63911.566          11306.056 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RQ                 
VALVE
    END-POINT  57833.288          63911.566          11306.056  1  FL
    END-POINT  57833.288          63911.566          11311.056  1  FL
    CENTRE-POINT   57833.288          63911.566          11308.556 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RO                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57833.288          63911.566          11311.181  1
    END-POINT  57833.288          63911.566          11311.056  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RU                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57833.288          63911.566          11311.181 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RV                 
FLANGE
    END-POINT  57833.288          63911.566          11311.181  1  FL
    END-POINT  57833.288          63911.566          11311.376  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9RT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57833.288          63911.566          11311.376  1
    END-POINT  57833.288          63911.566          11311.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9S2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57833.288          63911.566          11311.376  1
    END-POINT  57833.288          63911.566          11311.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9S3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57833.288          63911.566          11326.735  1  BW
    END-POINT  57833.288          63911.566          11311.376  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9S0                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57833.288  63911.566  11319.285 
    FLOW 2
    SKEY FLOW
PIPE
    END-POINT  57868.267          63911.566          11378.590  1  BW
    END-POINT  57868.267          63911.566          11329.735  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_790                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57868.267  63911.566  11352.260 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57868.267          63911.566          11378.590  1
    END-POINT  57868.267          63911.566          11378.590  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_791                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57868.267          63911.566          11378.590  1  BW
    END-POINT  57868.267          63913.066          11380.090  1  BW
    CENTRE-POINT   57868.267          63911.566          11380.090 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4KV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57868.267          63913.066          11380.090  1
    END-POINT  57868.267          63913.066          11380.090  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57868.267          63913.066          11380.090  1  BW
    END-POINT  57868.267          63939.208          11380.090  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79H                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.267          63939.208          11380.090  1
    END-POINT  57868.267          63939.208          11380.090  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57868.267          63939.208          11380.090  1  BW
    END-POINT  57868.267          63940.708          11381.590  1  BW
    CENTRE-POINT   57868.267          63940.708          11380.090 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_799                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57868.267          63940.708          11381.590  1
    END-POINT  57868.267          63940.708          11381.590  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57868.267          63940.708          11394.147  1  BW
    END-POINT  57868.267          63940.708          11381.590  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79E                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57868.267          63940.708          11394.147  1
    END-POINT  57868.267          63940.708          11394.147  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57868.267          63940.708          11394.147  1  BW
    END-POINT  57869.767          63940.708          11395.647  1  BW
    CENTRE-POINT   57868.267          63940.708          11395.647 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79C                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57869.767          63940.708          11395.647  1
    END-POINT  57869.767          63940.708          11395.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57953.428          63940.708          11395.647  1  BW
    END-POINT  57869.767          63940.708          11395.647  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79N                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57943.824  63940.708  11395.647  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83E                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  57953.428          63940.708          11395.647  1
    END-POINT  57953.428          63940.708          11395.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57953.428          63940.708          11395.647  1  BW
    END-POINT  57954.928          63940.708          11397.147  1  BW
    CENTRE-POINT   57954.928          63940.708          11395.647 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79K                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57954.928  63940.708  11395.647 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57954.928  63898.800  11395.647 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57954.928  63940.708  11395.647 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63940.708  11395.647 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  57954.928          63940.708          11397.147  1
    END-POINT  57954.928          63940.708          11397.147  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57954.928          63940.708          11397.147  1  BW
    END-POINT  57954.928          63940.708          11413.647  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79V                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57954.928          63940.708          11413.647  1
    END-POINT  57954.928          63940.708          11413.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57954.928          63942.208          11415.147  1  BW
    END-POINT  57954.928          63940.708          11413.647  1  BW
    CENTRE-POINT   57954.928          63940.708          11415.147 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_79R                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57954.928          63942.208          11415.147  1
    END-POINT  57954.928          63942.208          11415.147  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_835                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57954.928          64020.031          11415.147  1  BW
    END-POINT  57954.928          63942.208          11415.147  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_833                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57954.928          64020.031          11415.147  1
    END-POINT  57954.928          64020.031          11415.147  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_834                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57954.928          64020.031          11415.147  1  BW
    END-POINT  57954.928          64021.531          11416.647  1  BW
    CENTRE-POINT   57954.928          64021.531          11415.147 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_831                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57954.928          64021.531          11416.647  1
    END-POINT  57954.928          64021.531          11416.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57954.928          64021.531          11416.647  1  BW
    END-POINT  57954.928          64021.531          11429.959  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57954.928          64021.531          11429.959  1
    END-POINT  57954.928          64021.531          11429.959  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_83D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57954.928  64021.531  11432.772 
    BRANCH1-POINT  57954.928          64021.531          11429.959  1  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_838                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57954.928  64021.531  11432.772 
    PIPELINE-REFERENCE ISO-PY3-1217010
MATERIALS
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1
    DESCRIPTION P624,  FIG 4.  L=42.12" & ANGLE 3" X 3' X 3/8" X 26  LONG
ITEM-CODE SUPRH-1_1
    DESCRIPTION ROD HANGER, L=3'-4-3/8", P624 FIG 2
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE BOLT1_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-1
    DESCRIPTION ELBOW SUPPORT, L=18 1/4", P619 FIG 2
ITEM-CODE REDECC1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, LCV-070-01
    RATING 150LB
ITEM-CODE SUPEB-1_1
    DESCRIPTION ELBOW SUPPORT, L=2'-0 1/4", P619 FIG 2
ITEM-CODE SUPPS-1
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
