ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0016-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0016-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0020-6"
    ATTRIBUTE83   12E-EA-0104B
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0016-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 163872.679          56736.198          102836.010  1  
    END-POINT 163872.679          56736.198          102807.308  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBW                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 163872.679          56736.198          102914.260  1  SW FEMALE 
    END-POINT 163872.679          56736.198          102836.010  1  
    CENTRE-POINT  163872.679          56736.198          102871.960 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 163872.679          56736.198          102914.260  1
    END-POINT 163872.679          56736.198          102914.260  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBT                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 163872.679          56736.198          103015.860  1  
    END-POINT 163872.679          56736.198          102914.260  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163872.679          56736.198          103015.860  1
    END-POINT 163872.679          56736.198          103015.860  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBR                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     163872.679  56736.198 103100.000 
    BRANCH1-POINT 163872.679          56736.198          103015.860  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBN                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163872.679  56736.198 103100.000  4
    END-POINT 163872.679  56736.198 103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBP                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163765.000          56736.198          103100.000  4  BW
    END-POINT 163980.359          56736.198          103100.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163765.000          56736.198          103100.000  4
    END-POINT 163765.000          56736.198          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBK                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163980.359          56736.198          103100.000  4
    END-POINT 163980.359          56736.198          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163980.359          56736.198          103100.000  4  
    END-POINT 164132.759          56736.198          103252.400  4  
    CENTRE-POINT  164132.759          56736.198          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 164132.759  56736.198 103100.000  4
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6R                 
    TAG                         BS01-4                          
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G31-B-2
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 164132.759  56736.198 103100.000 
    TEXT INSTALL G31 GUIDE TO ALLOW MOVEMENT$NORTH & SOUTH DIRECTION
    UNDIMENSIONED
WELD
    END-POINT 164132.759          56736.198          103252.400  4
    END-POINT 164132.759          56736.198          103252.400  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HC0                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164132.759          56736.198          103360.350  4  
    END-POINT 164132.759          56736.198          103252.400  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164132.759          56736.198          103363.530  4
    END-POINT 164132.759          56736.198          103360.350  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HC2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164132.759          56736.198          103363.530 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HC3                 
VALVE
    END-POINT 164132.759          56736.198          103363.530  4  
    END-POINT 164132.759          56736.198          103795.330  4  
    CENTRE-POINT  164132.759          56736.198          103579.430 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HC1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT 164132.759          56736.198          103798.510  4
    END-POINT 164132.759          56736.198          103795.330  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HC7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164132.759          56736.198          103798.510 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HC8                 
FLANGE
    END-POINT 164132.759          56736.198          103798.510  4  
    END-POINT 164132.759          56736.198          103906.460  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HC6                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          56736.198          103906.460  4
    END-POINT 164132.759          56736.198          103906.460  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HC9                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164132.759          56736.198          105219.038  4  BW
    END-POINT 164132.759          56736.198          103906.460  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FXL                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 164132.759  56736.198 104563.980 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 164132.759          56736.198          105219.038  4
    END-POINT 164132.759          56736.198          105219.038  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FXM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164132.759          56888.598          105371.438  4  
    END-POINT 164132.759          56736.198          105219.038  4  
    CENTRE-POINT  164132.759          56736.198          105371.438 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BJ2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164132.759          56888.598          105371.438  4
    END-POINT 164132.759          56888.598          105371.438  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJQ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164132.759          56888.598          105371.438  4  BW
    END-POINT 164132.759          57875.090          105371.438  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJP                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          57875.090          105371.438  4
    END-POINT 164132.759          57875.090          105371.438  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 164132.759          58014.790          105398.428  6  
    END-POINT 164132.759          57875.090          105371.438  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BIZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 164132.759          58014.790          105398.428  6
    END-POINT 164132.759          58014.790          105398.428  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6G                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 164132.759          58300.290          105398.428  6  
    END-POINT 164132.759          58014.790          105398.428  6  
    CENTRE-POINT  164132.759          58157.540          105398.428 
    BRANCH1-POINT 163990.009          58157.540          105398.428  6  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BIP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 164132.759          58300.290          105398.428 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0009-01
FLANGE
    END-POINT 163657.050          56736.198          103100.000  4  
    END-POINT 163765.000          56736.198          103100.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBG                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 163657.050          56736.198          103100.000  4
    END-POINT 163653.870          56736.198          103100.000  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163657.050          56736.198          103100.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBI                 
VALVE
    END-POINT 163222.070          56736.198          103100.000  4  
    END-POINT 163653.870          56736.198          103100.000  4  
    CENTRE-POINT  163437.970          56736.198          103100.000 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BK6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 163218.890          56736.198          103100.000  4
    END-POINT 163222.070          56736.198          103100.000  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163218.890          56736.198          103100.000 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBF                 
FLANGE
    END-POINT 163218.890          56736.198          103100.000  4  
    END-POINT 163110.940          56736.198          103100.000  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBD                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163110.940          56736.198          103100.000  4
    END-POINT 163110.940          56736.198          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBM                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162895.581          56736.198          103100.000  4  BW
    END-POINT 163110.940          56736.198          103100.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRV                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162895.581          56736.198          103100.000  4
    END-POINT 162895.581          56736.198          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163003.260  56736.198 103100.000  4
    END-POINT 163003.260  56736.198 103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FS0                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     163003.260  56736.198 103100.000 
    BRANCH1-POINT 163003.260          56736.198          103180.960  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163003.260          56736.198          103180.960  0.75
    END-POINT 163003.260          56736.198          103180.960  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FS1                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 163003.260          56736.198          103180.960  0.75  
    END-POINT 163003.260          56736.198          103282.560  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CET                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163003.260          56736.198          103282.560  0.75
    END-POINT 163003.260          56736.198          103282.560  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CF2                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 163003.260          56736.198          103282.560  0.75  SW FEMALE 
    END-POINT 163003.260          56736.198          103344.112  0.75  
    CENTRE-POINT  163003.260          56736.198          103314.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CF1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE-CIRCLE
    CO-ORDS 163003.260  56736.198 103359.860 
    UNDIMENSIONED
    TEXT 12E$PG$0141
MISC-COMPONENT
    END-POINT 163003.260          56736.198          103344.112  0.75  
    END-POINT 163003.260          56736.198          103369.512  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HQJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 162895.581          56736.198          103100.000  4  
    END-POINT 162686.285          56736.198          103100.000  4  
    CENTRE-POINT  162790.933          56736.198          103100.000 
    BRANCH1-POINT 162790.933          56825.098          103100.000  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X2
    WEIGHT          15.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9YJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162686.285          56736.198          103100.000  4
    END-POINT 162686.285          56736.198          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FXT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162790.933          56825.098          103100.000  2
    END-POINT 162790.933          56825.098          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRT                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162536.285          56736.198          103100.000  4  
    END-POINT 162686.285          56736.198          103100.000  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FXR                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 162536.285          56736.198          103100.000 
    PIPELINE-REFERENCE C210-4910-12E-CG-0016-PRM-0009-02
PIPE
    END-POINT 162790.933          57130.098          103100.000  2  
    END-POINT 162790.933          56825.098          103100.000  2  
    CONTINUATION 
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRM                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 162790.933          57130.098          103100.000 
    PIPELINE-REFERENCE C210-4910-12E-CG-0067-PRM-0009-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPEB-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=553mm BS01-4
ITEM-CODE G31-B-2
    DESCRIPTION GUIDE AND LINE STOP FOR BASE SUPPORT G31-B-2
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE REDECC6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE TEERED4X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80 x SCH 160, NACE
    RATING 80
