ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0015-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE31   H
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0015-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE73   3120
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0034-3"
    ATTRIBUTE83   12E-PE-0028-4"
    ATTRIBUTE84   C210-4902-12E-0008-05
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0015-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 166571.850          63140.427          102778.873  1  
    END-POINT 166571.850          63140.427          102750.171  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS 166571.850          63140.427          102750.171 
VALVE
    END-POINT 166571.850          63140.427          102857.123  1  SW FEMALE 
    END-POINT 166571.850          63140.427          102778.873  1  
    CENTRE-POINT  166571.850          63140.427          102814.823 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 166571.850          63140.427          102857.123  1
    END-POINT 166571.850          63140.427          102857.123  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJJ                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166571.850          63140.427          102958.723  1  
    END-POINT 166571.850          63140.427          102857.123  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          63140.427          102958.723  1
    END-POINT 166571.850          63140.427          102958.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJH                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166571.850  63140.427 103030.163 
    BRANCH1-POINT 166571.850          63140.427          102958.723  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJD                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850  63140.427 103030.163  3
    END-POINT 166571.850  63140.427 103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJF                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          63215.427          103030.163  3  BW
    END-POINT 166571.850          63065.427          103030.163  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DVH                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          63215.427          103030.163  3
    END-POINT 166571.850          63215.427          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DVI                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          63065.427          103030.163  3
    END-POINT 166571.850          63065.427          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DVJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166571.850          63065.427          103030.163  3  
    END-POINT 166571.850          62951.127          103144.463  3  
    CENTRE-POINT  166571.850          62951.127          103030.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A7O                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166571.850  62951.127 103030.163  3
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A7P                 
    TAG                         BS01-3                          
WELD
    END-POINT 166571.850          62951.127          103144.463  3
    END-POINT 166571.850          62951.127          103144.463  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FC1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          62951.127          103144.463  3  BW
    END-POINT 166571.850          62951.127          104705.140  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FC0                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          62951.127          104705.140  3
    END-POINT 166571.850          62951.127          104705.140  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FC2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166571.850          62951.127          104705.140  3  
    END-POINT 166457.550          62951.127          104819.440  3  
    CENTRE-POINT  166571.850          62951.127          104819.440 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166457.550          62951.127          104819.440  3
    END-POINT 166457.550          62951.127          104819.440  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166457.550          62951.127          104819.440  3  BW
    END-POINT 165525.100          62951.127          104819.440  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBR                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165525.100          62951.127          104819.440  3
    END-POINT 165525.100          62951.127          104819.440  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 165525.100          62951.127          104819.440  3  
    END-POINT 165410.800          62951.127          104933.740  3  
    CENTRE-POINT  165410.800          62951.127          104819.440 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 165410.800          62951.127          104933.740  3
    END-POINT 165410.800          62951.127          104933.740  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FC4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 165410.800          62951.127          104933.740  3  BW
    END-POINT 165410.800          62951.127          105230.150  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FC3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 165410.800          62951.127          105230.150  3
    END-POINT 165410.800          62951.127          105230.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FC5                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 165410.800          62951.127          105230.150  3  
    END-POINT 165410.800          63065.427          105344.450  3  
    CENTRE-POINT  165410.800          62951.127          105344.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FBP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 165410.800          63065.427          105344.450  3
    END-POINT 165410.800          63065.427          105344.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FC9                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 165410.800          63065.427          105344.450  3  BW
    END-POINT 165410.800          66694.177          105344.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A8S                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 165410.800  65356.667 105344.450 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 165410.800  64800.000 105344.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZL                 
    TAG                         S01-A-6-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 165410.800          66694.177          105344.450  3
    END-POINT 165410.800          66694.177          105344.450  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M99                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 165410.800          67335.700          105344.450  3  
    END-POINT 165410.800          66694.177          105344.450  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KMW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 165410.800          67335.700          105344.450 
    PIPELINE-REFERENCE C210-4910-12E-CG-0015-PRM-0003-01
FLANGE
    END-POINT 166571.850          63304.327          103030.163  3  
    END-POINT 166571.850          63215.427          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DVE                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          63304.327          103030.163  3
    END-POINT 166571.850          63307.507          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DVF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          63304.327          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DVG                 
INSTRUMENT
    END-POINT 166571.850          63663.107          103030.163  3  
    END-POINT 166571.850          63307.507          103030.163  3  
    CENTRE-POINT  166571.850          63485.307          103030.163 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DVA                 
    TAG 12E$XV$0137                     
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 166571.850          63666.287          103030.163  3
    END-POINT 166571.850          63663.107          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          63663.107          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3O                 
FLANGE
    END-POINT 166571.850          63666.287          103030.163  3  
    END-POINT 166571.850          63755.187          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A80                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          63755.187          103030.163  3
    END-POINT 166571.850          63755.187          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK8                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          63842.387          103030.163  3  BW
    END-POINT 166571.850          63755.187          103030.163  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK6                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          63842.387          103030.163  3
    END-POINT 166571.850          63842.387          103030.163  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK7                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          63931.287          103030.163  3  
    END-POINT 166571.850          63842.387          103030.163  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK3                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          63931.287          103030.163  3
    END-POINT 166571.850          63934.467          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          63931.287          103030.163 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.500
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK5                 
MISC-COMPONENT
    END-POINT 166571.850          63947.167          103030.163  3  
    END-POINT 166571.850          63934.467          103030.163  3  
    CENTRE-POINT 166571.850  63940.817 103030.163 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT 166571.850          63947.167          103030.163  3
    END-POINT 166571.850          63950.347          103030.163  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HK2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
VALVE
    END-POINT 166571.850          63950.347          103030.163  3  
    END-POINT 166571.850          64305.947          103030.163  3  
    CENTRE-POINT  166571.850          64128.147          103030.163 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 166571.850          64309.127          103030.163  3
    END-POINT 166571.850          64305.947          103030.163  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 166571.850          64309.127          103030.163  3  
    END-POINT 166571.850          64398.027          103030.163  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HJX                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 166571.850          64398.027          103030.163 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0009-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION ELBOW SUPPORT BS01-3
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-3
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 19.05
    BOLT_LEN 139.7
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 X 5 1/2 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE VALVBAL3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
