ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0005-PRM-0023-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0023.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0005-PRM-0023-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-3002
    ATTRIBUTE83   CASING GAS HDR. #1
    ATTRIBUTE84   C210-4902-12E-0002-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0005-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 195650.793          86437.518          105019.277  2  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2LD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POINT 195650.793          86437.518          105051.027  2
    SKEY FLBL
GASKET
    END-POINT 195650.793          86437.518          105016.102  2
    END-POINT 195650.793          86437.518          105019.277  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2LB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 195650.793          86437.518          105016.102 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2LC                 
VALVE
    END-POINT 195650.793          86437.518          104724.002  2  
    END-POINT 195650.793          86437.518          105016.102  2  
    CENTRE-POINT  195650.793          86437.518          104870.052 
    SKEY VGFL
    FABRICATION-ITEM
    ITEM-CODE VALVGLB2
    WEIGHT          35.410
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT 195650.793          86437.518          104720.827  2
    END-POINT 195650.793          86437.518          104724.002  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 195650.793          86437.518          104720.827 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L8                 
VALVE
    END-POINT 195650.793          86437.518          104428.727  2  
    END-POINT 195650.793          86437.518          104720.827  2  
    CENTRE-POINT  195650.793          86437.518          104574.777 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT 195650.793          86437.518          104425.552  2
    END-POINT 195650.793          86437.518          104428.727  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 195650.793          86437.518          104428.727 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L4                 
FLANGE
    END-POINT 195650.793          86437.518          104425.552  2  
    END-POINT 195650.793          86437.518          104346.050  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195650.793          86437.518          104346.050  2
    END-POINT 195650.793          86437.518          104346.050  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L1                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 195650.793          86437.518          104246.050  2  BW
    END-POINT 195650.793          86437.518          104346.050  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2L0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195650.793          86437.518          104246.050  2
    END-POINT 195650.793          86437.518          104246.050  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2KZ                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 195650.793          86542.166          104157.150  4  
    END-POINT 195650.793          86332.870          104157.150  4  
    CENTRE-POINT  195650.793          86437.518          104157.150 
    BRANCH1-POINT 195650.793          86437.518          104246.050  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X2
    WEIGHT          15.300
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2KX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 195650.793          86542.166          104157.150  4
    END-POINT 195650.793          86542.166          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2KW                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 195650.793          86332.870          104157.150  4
    END-POINT 195650.793          86332.870          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2O5                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 195650.793          86332.870          104157.150  4  BW
    END-POINT 195650.793          73094.478          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2O4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 195650.793  76801.882 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2OG                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 195650.793  81801.882 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2OI                 
    TAG                         S01-A-6-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 195650.793  75090.828 104157.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 195650.793          73094.478          104157.150  4
    END-POINT 195650.793          73094.478          104157.150  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2PX                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 195650.793          69904.588          104157.150  4  
    END-POINT 195650.793          73094.478          104157.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BQA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 195650.793  70300.000 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BQE                 
    TAG                         S01-A-4-4                       
SUPPORT
    CO-ORDS 195650.793  72800.000 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BQG                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 195650.793          69904.588          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0005-PRM-0002-01
PIPE
    END-POINT 195650.793          88233.520          104157.150  4  BW
    END-POINT 195650.793          86542.166          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2KU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 195650.793  86803.100 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2KV                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 195650.793          88233.520          104157.150  4
    END-POINT 195650.793          88233.520          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2QF                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 195650.793          88341.470          104157.150  4  
    END-POINT 195650.793          88233.520          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2QB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 195650.793          88341.470          104157.150  4
    END-POINT 195650.793          88344.650          104157.150  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2QC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 195650.793          88341.470          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2QD                 
FLANGE
    END-POINT 195650.793          88344.650          104157.150  4  
    END-POINT 195650.793          88452.600          104157.150  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FFG5D5QU_2AJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 195650.793          88452.600          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0005-SB-0003-01
MATERIALS
ITEM-CODE FLGBLD2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING 600LB
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT2
    BOLT_DIA 15.875
    BOLT_LEN 110
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGLB2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.34
    DESCRIPTION GLOBE VALVE RF, A216-WCB, CL600  , GL-600HS, NACE
    RATING 600LB
ITEM-CODE VALVGAT2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING 160
ITEM-CODE TEERED4X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80 x SCH 160, NACE
    RATING 80
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
