ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0062-PRM-0003-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0062-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0017-2"
    ATTRIBUTE83   12E-S-0059-1"
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0062-2"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 166772.000          66699.312          105330.162  2  BW
    END-POINT 166772.006          68480.200          105330.186  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G41                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166772.006  67800.200 105330.166  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G42                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 166772.000          66699.312          105330.162  2
    END-POINT 166772.000          66699.312          105330.162  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KN2                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 166772.006          68480.200          105330.186  2
    END-POINT 166772.006          68480.200          105330.186  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G44                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 166772.000          66699.312          105330.162  2  
    END-POINT 166772.000          64277.077          105330.163  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9SX                 
    PIPING-SPEC AH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 166772.000  65563.445 105330.162 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 166772.000  64813.077 105330.162  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CB8                 
    TAG                         S01-A-3-2                       
END-CONNECTION-PIPELINE 
    CO-ORDS 166772.000          64277.077          105330.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0062-PRM-0009-01
ELBOW
    END-POINT 166772.006          68556.400          105253.986  2  
    END-POINT 166772.006          68480.200          105330.186  2  
    CENTRE-POINT  166772.006          68556.400          105330.186 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G45                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166772.006          68556.400          105253.986  2
    END-POINT 166772.006          68556.400          105253.986  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G46                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 166772.006          68556.400          104206.362  2  BW
    END-POINT 166772.006          68556.400          105253.986  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G47                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166772.006          68556.400          104206.362  2
    END-POINT 166772.006          68556.400          104206.362  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KEY                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 166848.206          68556.400          104130.162  2  
    END-POINT 166772.006          68556.400          104206.362  2  
    CENTRE-POINT  166772.006          68556.400          104130.162 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G49                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166848.206          68556.400          104130.162  2
    END-POINT 166848.206          68556.400          104130.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4A                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 169703.662          68556.400          104130.162  2  BW
    END-POINT 166848.206          68556.400          104130.162  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4B                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 168999.662  68556.400 104130.162  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KF6                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 169703.662          68556.400          104130.162  2
    END-POINT 169703.662          68556.400          104130.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4C                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 169779.862          68632.600          104130.162  2  
    END-POINT 169703.662          68556.400          104130.162  2  
    CENTRE-POINT  169779.862          68556.400          104130.162 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4D                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 169779.862          68632.600          104130.162  2
    END-POINT 169779.862          68632.600          104130.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4E                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 169779.862          72392.285          104130.162  2  BW
    END-POINT 169779.862          68632.600          104130.162  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4F                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 169779.862  70185.000 104130.162  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4G                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS 169779.862  70792.088 104130.162 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 169779.862          72392.285          104130.162  2
    END-POINT 169779.862          72392.285          104130.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4I                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW-TEED
    END-POINT 169779.862          72392.285          104130.162  2  
    END-POINT 169779.862          72468.485          104053.962  2  
    CENTRE-POINT  169779.862          72468.485          104130.162 
    BRANCH1-POINT 169779.862  72468.485 104130.162  30.1625
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4J                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 169779.862  72668.485 104130.162  2
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KFG                 
    TAG                         DS03-B-2-2                      
PIPE
    END-POINT 169779.862          72468.485          104130.162  30.1625  BW
    END-POINT 169779.862  73068.485 104130.162  30.1625  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 169779.862  73068.485 104130.162 
SUPPORT
    CO-ORDS 169779.862  72800.000 104130.162  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KFH                 
    TAG                         S01-A-3-2                       
MESSAGE
    CO-ORDS 169779.862  72800.000 104130.162 
    TEXT PS
WELD
    END-POINT 169779.862          72468.485          104053.962  2
    END-POINT 169779.862          72468.485          104053.962  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KF5                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 169779.862          72468.485          102893.663  2  BW
    END-POINT 169779.862          72468.485          104053.962  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KF1                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 169779.862          72468.485          102893.663  2
    END-POINT 169779.862          72468.485          102893.663  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4O                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
TEE
    END-POINT 169843.362          72468.485          102830.163  2  
    END-POINT 169716.362          72468.485          102830.163  2  
    CENTRE-POINT  169779.862          72468.485          102830.163 
    BRANCH1-POINT 169779.862          72468.485          102893.663  2  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4P                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 169843.362          72468.485          102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0003-01
MATERIALS
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE SUPEB- 2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  600 mm DUMMY SUPPORT DS03-B-2-2
