ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0016-PRM-0009-02
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0016-PRM-0009-02
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0020-6"
    ATTRIBUTE83   12E-EA-0104B
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0016-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 162838.037          56329.150          102834.900  2  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT 162869.787          56329.150          102834.900  2
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS 162869.787          56329.150          102834.900 
GASKET
    END-POINT 162834.862          56329.150          102834.900  2
    END-POINT 162838.037          56329.150          102834.900  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 162838.037          56329.150          102834.900 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES8                 
VALVE
    END-POINT 162542.762          56329.150          102834.900  2  
    END-POINT 162834.862          56329.150          102834.900  2  
    CENTRE-POINT  162688.812          56329.150          102834.900 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 162539.587          56329.150          102834.900  2
    END-POINT 162542.762          56329.150          102834.900  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 162542.762          56329.150          102834.900 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES4                 
FLANGE
    END-POINT 162539.587          56329.150          102834.900  2  
    END-POINT 162460.085          56329.150          102834.900  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES2                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162460.085          56329.150          102834.900  2
    END-POINT 162460.085          56329.150          102834.900  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES1                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 162383.885          56329.150          102911.100  2  
    END-POINT 162460.085          56329.150          102834.900  2  
    CENTRE-POINT  162383.885          56329.150          102834.900 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ES0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162383.885          56329.150          102911.100  2
    END-POINT 162383.885          56329.150          102911.100  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZA                 
    THICKNESS/RATING 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162383.885          56329.150          103011.100  2  BW
    END-POINT 162383.885          56329.150          102911.100  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9YP                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162383.885          56329.150          103011.100  2
    END-POINT 162383.885          56329.150          103011.100  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9YO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 162383.885          56224.502          103100.000  4  
    END-POINT 162383.885          56433.798          103100.000  4  
    CENTRE-POINT  162383.885          56329.150          103100.000 
    BRANCH1-POINT 162383.885          56329.150          103011.100  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X2
    WEIGHT          15.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9YM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162383.885          56224.502          103100.000  4
    END-POINT 162383.885          56224.502          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FS7                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162383.885          56433.798          103100.000  4
    END-POINT 162383.885          56433.798          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162383.885          56433.798          103100.000  4  BW
    END-POINT 162383.885          56583.798          103100.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZE                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162383.885          56583.798          103100.000  4
    END-POINT 162383.885          56583.798          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HRT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 162536.285          56736.198          103100.000  4  
    END-POINT 162383.885          56583.798          103100.000  4  
    CENTRE-POINT  162383.885          56736.198          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HRQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162536.285          56736.198          103100.000  4
    END-POINT 162536.285          56736.198          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HRS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162536.285          56736.198          103100.000  4  BW
    END-POINT 162686.285          56736.198          103100.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FXR                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162686.285          56736.198          103100.000  4
    END-POINT 162686.285          56736.198          103100.000  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FXT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 162895.581          56736.198          103100.000  4  
    END-POINT 162686.285          56736.198          103100.000  4  
    CENTRE-POINT  162790.933          56736.198          103100.000 
    BRANCH1-POINT 162790.933          56825.098          103100.000  2  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          15.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9YJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 162895.581          56736.198          103100.000 
    PIPELINE-REFERENCE C210-4910-12E-CG-0016-PRM-0009-01
PIPE
    END-POINT 162383.885          55888.598          103100.000  4  BW
    END-POINT 162383.885          56224.502          103100.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FS5                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 162383.885  55976.817 103100.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 162383.885          55888.598          103100.000  4
    END-POINT 162383.885          55888.598          103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FS6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162383.885  56056.550 103100.000  4
    END-POINT 162383.885  56056.550 103100.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSA                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     162383.885  56056.550 103100.000 
    BRANCH1-POINT 162383.885          56056.550          103187.310  1.5  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1+1/2
    WEIGHT           0.910
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FS9                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162383.885          56056.550          103187.310  1.5
    END-POINT 162383.885          56056.550          103187.310  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSB                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 162383.885          56056.550          103187.310  1.5  
    END-POINT 162383.885          56056.550          103288.910  1.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1+1/2
    WEIGHT           0.729
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CFC                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162383.885          56056.550          103288.910  1.5
    END-POINT 162383.885          56056.550          103288.910  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CFF                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 162383.885          56056.550          103288.910  1.5  SW FEMALE 
    END-POINT 162383.885          56056.550          103382.636  1.5  
    CENTRE-POINT  162383.885          56056.550          103339.710 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT           7.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CFE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
MESSAGE-SQUARE
    CO-ORDS 162383.885  56056.550 103403.210 
    TEXT SP-091
    UNDIMENSIONED
    ADDITIONAL-ITEM 
    SIZE 1+1/2
    ITEM-CODE EXTRA_0
    ITEM-GROUP MISC 
    FABRICATION-ITEM 
    QUANTITY 1
MISC-COMPONENT
    END-POINT 162383.885          56056.550          103382.636  1.5  
    END-POINT 162383.885          56056.550          103418.958  1.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I8Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 162383.885          55888.598          103100.000  4  
    END-POINT 162383.885          55736.198          103252.400  4  
    CENTRE-POINT  162383.885          55736.198          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EID                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162383.885          55736.198          103252.400  4
    END-POINT 162383.885          55736.198          103252.400  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HRJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162383.885          55736.198          108681.875  4  BW
    END-POINT 162383.885          55736.198          103252.400  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HRH                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 162213.885  55736.198 104818.815  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HRK                 
    TAG                         DS01-2-4                        
TEE-SET-ON
    BRANCH1-POINT 162326.735          55736.198          104818.815  3
    CENTRE-POINT  162383.885  55736.198 104818.815 
    SKEY TESO
PIPE
    END-POINT 162326.735          55736.198          104818.815  3  BW
    END-POINT 161873.885  55736.198 104818.815  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 161873.885  55736.198 104818.815 
SUPPORT
    CO-ORDS 162100.000  55736.198 104818.815  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HRM                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 162100.000  55736.198 104818.815 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 162383.885          55736.198          108681.875  4
    END-POINT 162383.885          55736.198          108681.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HRI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 162383.885          55736.198          108681.875  4  
    END-POINT 162383.885          55888.598          108834.275  4  
    CENTRE-POINT  162383.885          55736.198          108834.275 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EIF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162383.885          55888.598          108834.275  4
    END-POINT 162383.885          55888.598          108834.275  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZC                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162383.885          55888.598          108834.275  4  BW
    END-POINT 162383.885          56631.636          108834.275  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZB                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162383.885          56631.636          108834.275  4
    END-POINT 162383.885          56631.636          108834.275  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I37                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 162279.235          56736.286          108834.275  4  
    END-POINT 162488.535          56736.286          108834.275  4  
    CENTRE-POINT  162383.885          56736.286          108834.275 
    BRANCH1-POINT 162383.885          56631.636          108834.275  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I35                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162279.235          56736.286          108834.275  4
    END-POINT 162279.235          56736.286          108834.275  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3D                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162488.535          56736.286          108834.275  4
    END-POINT 162488.535          56736.286          108834.275  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I39                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 162596.485          56736.286          108834.275  4  
    END-POINT 162488.535          56736.286          108834.275  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I38                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 162599.665          56736.286          108834.275  4
    END-POINT 162596.485          56736.286          108834.275  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 162599.665          56736.286          108834.275 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3C                 
FLANGE-BLIND
    END-POINT 162599.665          56736.286          108834.275  4  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD4
    WEIGHT          18.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I3A                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT 162644.115          56736.286          108834.275  4
    SKEY FLBL
MESSAGE
    CO-ORDS 162644.115  56736.286 108834.275 
    TEXT FUTURE CONNECTION
    UNDIMENSIONED
PIPE
    END-POINT 162279.235          56736.286          108834.275  4  BW
    END-POINT 161800.000          56736.286          108834.275  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GFS                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 162099.500  56736.286 108834.275  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GFX                 
    TAG                         S01-A-3-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12_1
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 162099.500  56736.286 108834.275 
    TEXT PS
    UNDIMENSIONED
MESSAGE
    CO-ORDS 162074.018  56736.286 108834.275 
    TEXT TRIM SHOE TO SUIT
    UNDIMENSIONED
WELD
    END-POINT 161800.000          56736.286          108834.275  4
    END-POINT 161800.000          56736.286          108834.275  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_9R2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 159996.000          56736.286          108834.275  4  
    END-POINT 161800.000          56736.286          108834.275  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_90O                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 161007.889  56736.286 108834.275 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 159996.000          56736.286          108834.275 
    PIPELINE-REFERENCE C210-4910-12E-CG-0016-SB-0008-01
MATERIALS
ITEM-CODE FLGBLD2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING 600LB
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT2
    BOLT_DIA 15.875
    BOLT_LEN 110
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 160, NACE
    RATING 160
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING 160
ITEM-CODE TEERED4X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80 x SCH 160, NACE
    RATING 80
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SOL4X1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE EXTRA_0
    DESCRIPTION SP-091                                                          
ITEM-CODE SUPEB-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TRUNNION SUPPORT DS01-2-4
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE G12
    DESCRIPTION GUIDE  FOR SHOE G12
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE FLGBLD4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING CL600
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE G12_1
    DESCRIPTION GUIDE FOR SHOE G12
