ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0005-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0019-PRM-0005-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0001-4"
    ATTRIBUTE83   12E-CG-0020-6"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0019-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 127847.526          68663.368          103602.150  4  BW
    END-POINT 122762.417          68663.368          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EP9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 126000.000  68663.368 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EPE                 
    TAG                         S01-A-4-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 127847.526          68663.368          103602.150  4
    END-POINT 127847.526          68663.368          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EPA                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 118604.586          68663.368          103602.150  4  
    END-POINT 122762.417          68663.368          103602.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EC1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 122000.000  68663.368 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EC8                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 118604.586          68663.368          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0006-01
ELBOW
    END-POINT 127999.926          68815.768          103602.150  4  
    END-POINT 127847.526          68663.368          103602.150  4  
    CENTRE-POINT  127999.926          68663.368          103602.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EP6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 127999.926          68815.768          103602.150  4
    END-POINT 127999.926          68815.768          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EP8                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 127999.926          71684.571          103602.150  4  BW
    END-POINT 127999.926          68815.768          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DP8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 127999.926  69500.000 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DXW                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 127999.926          71684.571          103602.150  4
    END-POINT 127999.926          71684.571          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DP9                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 127999.926          71684.571          103602.150  4  
    END-POINT 128152.326          71836.971          103602.150  4  
    CENTRE-POINT  127999.926          71836.971          103602.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DP6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 128152.326          71836.971          103602.150  4
    END-POINT 128152.326          71836.971          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 129847.511          71836.971          103602.150  4  BW
    END-POINT 128152.326          71836.971          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 129000.000  71837.000 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CIA                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 129847.511          71836.971          103602.150  4
    END-POINT 129847.511          71836.971          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPE                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 129847.511          71836.971          103602.150  4  
    END-POINT 129999.911          71684.571          103602.150  4  
    CENTRE-POINT  129999.911          71836.971          103602.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 129999.911          71684.571          103602.150  4
    END-POINT 129999.911          71684.571          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 129999.911          71684.571          103602.150  4  BW
    END-POINT 129999.959          68815.588          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 129999.948  69500.000 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DXY                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 129999.959          68815.588          103602.150  4
    END-POINT 129999.959          68815.588          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 129999.959          68815.588          103602.150  4  
    END-POINT 130152.362          68663.190          103602.150  4  
    CENTRE-POINT  129999.962          68663.188          103602.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DN4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 130152.362          68663.190          103602.150  4
    END-POINT 130152.362          68663.190          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQK                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142132.517          68663.188          103602.150  4  BW
    END-POINT 130152.362          68663.190          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQI                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 138000.000  68663.189 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQP                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 132000.000  68663.190 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CHY                 
    TAG                         S01-A-4-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 136229.456  68663.189 103602.150 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 142132.517          68663.188          103602.150  4
    END-POINT 142132.517          68663.188          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 142341.817          68663.188          103602.150  4  
    END-POINT 142132.517          68663.188          103602.150  4  
    CENTRE-POINT  142237.167          68663.188          103602.150 
    BRANCH1-POINT 142237.167          68663.188          103706.800  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 142341.817          68663.188          103602.150  4
    END-POINT 142341.817          68663.188          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ7                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 142237.167          68663.188          103706.800  4
    END-POINT 142237.167          68663.188          103706.800  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142237.167          68663.188          103904.167  4  
    END-POINT 142237.167          68663.188          103706.800  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 142237.167          68663.188          103904.167 
    PIPELINE-REFERENCE C210-4910-12E-PE-0020-PRM-0005-01
PIPE
    END-POINT 142341.817          68663.188          103602.150  4  BW
    END-POINT 143398.825          68663.188          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ6                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 143398.825          68663.188          103602.150  4
    END-POINT 143398.825          68663.188          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ8                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 143608.125          68663.188          103602.150  4  
    END-POINT 143398.825          68663.188          103602.150  4  
    CENTRE-POINT  143503.475          68663.188          103602.150 
    BRANCH1-POINT 143503.475          68663.188          103706.800  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 143608.125          68663.188          103602.150  4
    END-POINT 143608.125          68663.188          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DUC                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 143503.475          68663.188          103706.800  4
    END-POINT 143503.475          68663.188          103706.800  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 143503.475          68663.188          103904.239  4  
    END-POINT 143503.475          68663.188          103706.800  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 143503.475          68663.188          103904.239 
    PIPELINE-REFERENCE C210-4910-12E-CG-0009-PRM-0005-02
PIPE
    END-POINT 143608.125          68663.188          103602.150  4  BW
    END-POINT 145600.036          68663.188          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DUB                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 144000.000  68663.188 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQN                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 145600.036          68663.188          103602.150  4
    END-POINT 145600.036          68663.188          103602.150  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_E0F                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 151133.636          68663.188          103602.150  4  
    END-POINT 145600.036          68663.188          103602.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DDQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 147090.408  68663.188 103602.150 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 148000.000  68663.188 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DDW                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 151133.636          68663.188          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0004-01
MATERIALS
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-4-4
ITEM-CODE G22
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G22
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
