ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0005-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0031-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0030-8"
    ATTRIBUTE83   14-PE-1007-8"
    ATTRIBUTE84   C210-4902-12E-0007-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0031-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 145512.215          71891.548          106509.748  8  
    END-POINT 145540.665          71891.548          106509.748  8  
    CENTRE-POINT 145526.440  71891.548 106509.748 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC8
    WEIGHT          23.252
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ELR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT 145512.215          71891.548          106509.748  8
    END-POINT 145509.035          71891.548          106509.748  8
    FABRICATION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ELT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
GASKET
    END-POINT 145543.845          71891.548          106509.748  8
    END-POINT 145540.665          71891.548          106509.748  8
    CONTINUATION 
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EYU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
VALVE
    END-POINT 145543.845          71891.548          106509.748  8  
    END-POINT 146204.245          71891.548          106509.748  8  
    CENTRE-POINT  145874.045          71891.548          106509.748 
    SKEY VTFL
    CONTINUATION 
    WEIGHT         463.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EYH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 146204.245          71891.548          106509.748 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0004-02
FLANGE
    END-POINT 145509.035          71891.548          106509.748  8  
    END-POINT 145369.335          71891.548          106509.748  8  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK8
    WEIGHT          52.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EL8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 145369.335          71891.548          106509.748  8
    END-POINT 145369.335          71891.548          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ELC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 123450.440          71891.548          106509.748  8  PL
    END-POINT 145369.335          71891.548          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EL9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 136013.335  71891.548 106509.748 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 126000.138  71891.548 106509.748  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ELW                 
    TAG                         RP02-3-8                        
SUPPORT
    CO-ORDS 126000.138  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ELY                 
    TAG                         S02-B-3-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 132000.137  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EM2                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 138000.138  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EM4                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 144000.138  71891.548 106509.748  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EM8                 
    TAG                         RP02-6-8                        
SUPPORT
    CO-ORDS 144000.138  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMB                 
    TAG                         S03-B-6-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE LS13
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 123450.440          71891.548          106509.748  8
    END-POINT 123450.440          71891.548          106509.748  8
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 121005.244          71891.548          106509.748  8  
    END-POINT 123450.440          71891.548          106509.748  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 122000.242  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9X                 
    TAG                         S02-B-4-8                       
END-CONNECTION-PIPELINE 
    CO-ORDS 121005.244          71891.548          106509.748 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0006-01
MATERIALS
ITEM-CODE LNBDSPEC8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE GAS8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE FLGWNK8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPPS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-8
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPPS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-6-8
ITEM-CODE SUPTS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-B-6-8
ITEM-CODE LS13
    DESCRIPTION LINE STOP FOR SHOE LS13
