ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-RP-0014-PRM-0009-01
PIPING-SPEC ACV
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-RP-0014-PRM-0009-01
    ATTRIBUTE70   V
    ATTRIBUTE82   12E-PSV-0144
    ATTRIBUTE83   12E-RP-0016-2"
    ATTRIBUTE84   C210-4902-12E-0008-02
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   ACV
    ATTRIBUTE95   12E-RP-0014-2"-ACV
    ATTRIBUTE97   RP
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
OLET
    CENTRE-POINT     164820.752  57206.298 104126.390 
    BRANCH1-POINT 164820.752          57206.298          104004.280  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I2Q                 
    PIPING-SPEC ACV
    INSULATION-ON 
WELD
    END-POINT 164820.752  57206.298 104126.390  0.5
    END-POINT 164820.752  57206.298 104126.390  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I2S                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC ACV
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS 164820.752          57206.298          104004.280 
PIPE
    END-POINT 164313.739          57206.298          104126.390  2  BW
    END-POINT 164944.552          57206.298          104126.390  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BJR                 
    PIPING-SPEC ACV
    INSULATION-ON 
WELD
    END-POINT 164313.739          57206.298          104126.390  2
    END-POINT 164313.739          57206.298          104126.390  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BJS                 
    THICKNESS/RATING CL150
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
WELD
    END-POINT 164944.552          57206.298          104126.390  2
    END-POINT 164944.552          57206.298          104126.390  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G7A                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
ELBOW
    END-POINT 164944.552          57206.298          104126.390  2  
    END-POINT 165020.752          57206.298          104202.590  2  
    CENTRE-POINT  165020.752          57206.298          104126.390 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G78                 
    PIPING-SPEC ACV
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 165020.752  57206.298 104126.390  2
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G7B                 
    TAG                         BS01-2                          
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G31-B-1
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 165020.752  57206.298 103850.000 
    TEXT INSTALL G31 GUIDE TO ALLOW MOVEMENT EAST & WEST DIRECTION
    UNDIMENSIONED
MESSAGE
    CO-ORDS 165020.752  57206.298 103850.000 
    TEXT PS
    UNDIMENSIONED
MESSAGE
    CO-ORDS 165020.752  57206.298 104126.390 
    TEXT INSTALL G31 GUIDE TO ALLOW MOVEMENT$SOUTH & NORTH  DIRECTION
    UNDIMENSIONED
MESSAGE
    CO-ORDS 165020.752  57206.298 104202.590 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 165020.752          57206.298          104202.590  2
    END-POINT 165020.752          57206.298          104202.590  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GDU                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
PIPE
    END-POINT 165020.752          57206.298          104202.590  2  BW
    END-POINT 165020.752          57206.298          106303.960  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GDT                 
    PIPING-SPEC ACV
    INSULATION-ON 
WELD
    END-POINT 165020.752          57206.298          106303.960  2
    END-POINT 165020.752          57206.298          106303.960  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GDV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
ELBOW
    END-POINT 165020.752          57206.298          106303.960  2  
    END-POINT 164966.870          57260.179          106380.160  2  
    CENTRE-POINT  165020.752          57206.298          106380.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G7M                 
    PIPING-SPEC ACV
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164966.870          57260.179          106380.160  2
    END-POINT 164966.870          57260.179          106380.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
PIPE
    END-POINT 164966.870          57260.179          106380.160  2  BW
    END-POINT 164552.174          57674.875          106380.160  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJE                 
    PIPING-SPEC ACV
    INSULATION-ON 
WELD
    END-POINT 164552.174          57674.875          106380.160  2
    END-POINT 164552.174          57674.875          106380.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GV7                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
ELBOW
    END-POINT 164552.174          57674.875          106380.160  2  
    END-POINT 164527.388          57734.713          106380.160  2  
    CENTRE-POINT  164527.388          57699.661          106380.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G8C                 
    PIPING-SPEC ACV
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT 164527.388          57734.713          106380.160  2
    END-POINT 164527.388          57734.713          106380.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GV8                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
PIPE
    END-POINT 164527.388          57734.713          106380.160  2  BW
    END-POINT 164527.388          65023.960          106380.160  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GE4                 
    PIPING-SPEC ACV
    INSULATION-ON 
SUPPORT
    CO-ORDS 164527.388  59800.000 106380.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GEF                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 164527.388  64800.000 106380.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJJ                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 164527.388  58000.007 106380.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GVF                 
    TAG                         S01-A-6-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE LS11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 164527.388  64800.000 106380.160 
    TEXT PS
    UNDIMENSIONED
MESSAGE
    CO-ORDS 164527.388  59800.000 106380.160 
    TEXT PS
    UNDIMENSIONED
MESSAGE
    CO-ORDS 164527.388  58000.007 106380.160 
    TEXT PS
    UNDIMENSIONED
MESSAGE
    CO-ORDS 164527.388  58027.260 106380.160 
    TEXT TRIM SHOE LENGTH TO 400mm
    UNDIMENSIONED
WELD
    END-POINT 164527.388          65023.960          106380.160  2
    END-POINT 164527.388          65023.960          106380.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
ELBOW
    END-POINT 164527.388          65023.960          106380.160  2  
    END-POINT 164527.388          65100.160          106456.360  2  
    CENTRE-POINT  164527.388          65100.160          106380.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G8V                 
    PIPING-SPEC ACV
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164527.388          65100.160          106456.360  2
    END-POINT 164527.388          65100.160          106456.360  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H12                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
PIPE
    END-POINT 164527.388          65100.160          106456.360  2  BW
    END-POINT 164527.388          65100.160          109400.500  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GE3                 
    PIPING-SPEC ACV
    INSULATION-ON 
SUPPORT
    CO-ORDS 164527.388  65100.160 108166.500  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HO5                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 164527.388  65100.160 108166.500 
    TEXT PS
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS 164527.388  65100.160 107678.819 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 164527.388          65100.160          109400.500  2
    END-POINT 164527.388          65100.160          109400.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HMB                 
    THICKNESS/RATING CL150
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
FLANGE
    END-POINT 164527.388          65100.160          109464.000  2  
    END-POINT 164527.388          65100.160          109400.500  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           2.720
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HMA                 
    PIPING-SPEC ACV
    INSULATION-ON 
GASKET
    END-POINT 164527.388          65100.160          109467.180  2
    END-POINT 164527.388          65100.160          109464.000  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HMF                 
    PIPING-SPEC AST
    GASKET-RATING CL150          
FLANGE
    END-POINT 164527.388          65100.160          109467.180  2  
    END-POINT 164527.388          65100.160          109530.680  2  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HME                 
    PIPING-SPEC AST
END-CONNECTION-PIPELINE 
    CO-ORDS 164527.388          65100.160          109530.680 
    PIPELINE-REFERENCE C210-4910-12E-RP-0016-PRM-0009-01
FLANGE
    END-POINT 164250.239          57206.298          104126.390  2  
    END-POINT 164313.739          57206.298          104126.390  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           2.720
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BJM                 
    PIPING-SPEC ACV
    INSULATION-ON 
GASKET
    END-POINT 164250.239          57206.298          104126.390  2
    END-POINT 164247.059          57206.298          104126.390  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZH                 
    PIPING-SPEC ACV
    INSULATION-ON 
    GASKET-RATING CL150          
BOLT
    CO-ORDS 164250.239          57206.298          104126.390 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.250
    WEIGHT           0.728
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZI                 
INSTRUMENT-ANGLE
    END-POINT 164132.759          57206.298          104021.742  1  
    END-POINT 164247.059          57206.298          104126.390  2  
    CENTRE-POINT  164132.759          57206.298          104126.390 
    SKEY RAFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVB                 
    TAG 12E$PSV$0144                    
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 164132.759          57206.298          104021.742 
    PIPELINE-REFERENCE C210-4910-12E-CG-0067-PRM-0009-01
MATERIALS
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING SCH 80
ITEM-CODE SUPEB-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=271mm BS01-2
ITEM-CODE G31-B-1
    DESCRIPTION GUIDE  AND LINE STOP FOR BASE SUPPORT G31-B-1
ITEM-CODE 45LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE SUPTS-2_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-2
ITEM-CODE G11
    DESCRIPTION GUIDE  FOR SHOE G11
ITEM-CODE LS11
    DESCRIPTION LINE STROP FOR SHOE LS11
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE  FOR SHOE G21
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL150, A105N, SCH 80 BORE
    RATING CL150
    RATING 80
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL150, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL150
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 82.55
    CATALOG -
    DESCRIPTION 5/8 X 3 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL150
