ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0025-PRM-0006-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0025-PRM-0006-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0113-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0025-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 113172.124          71240.596          104842.808  0.5  
    END-POINT 113146.724          71240.596          104842.808  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CON                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 113260.772          71240.596          104842.808  0.5  SW FEMALE 
    END-POINT 113172.124          71240.596          104842.808  0.5  
    CENTRE-POINT  113214.924          71240.596          104842.808 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COP                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 113260.772          71240.596          104842.808  0.5
    END-POINT 113260.772          71240.596          104842.808  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COR                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 113362.372          71240.596          104842.808  0.5  
    END-POINT 113260.772          71240.596          104842.808  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113362.372          71240.596          104842.808  0.5
    END-POINT 113362.372          71240.596          104842.808  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 113387.772          71240.596          104865.160  1  
    END-POINT 113387.772          71240.596          104820.456  1  
    CENTRE-POINT  113387.772          71240.596          104842.808 
    BRANCH1-POINT 113362.372          71240.596          104842.808  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COU                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 113387.772          71240.596          104865.160  1
    END-POINT 113387.772          71240.596          104865.160  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 113387.772          71240.596          104820.456  1
    END-POINT 113387.772          71240.596          104820.456  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 113387.772          71240.596          104718.856  1  PL
    END-POINT 113387.772          71240.596          104820.456  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COX                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113387.772          71240.596          104718.856  1
    END-POINT 113387.772          71240.596          104718.856  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COY                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 113387.772          71240.596          104624.256  1  
    END-POINT 113387.772          71240.596          104718.856  1  
    CENTRE-POINT  113387.772          71240.596          104671.556 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 113387.772          71240.596          104624.256  1
    END-POINT 113387.772          71240.596          104624.256  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CP1                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 113387.772          71240.596          104139.052  1  PL
    END-POINT 113387.772          71240.596          104624.256  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CP2                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113387.772          71240.596          104139.052  1
    END-POINT 113387.772          71240.596          104139.052  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CP3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 113365.420          71240.596          104116.700  1  
    END-POINT 113387.772          71240.596          104139.052  1  
    CENTRE-POINT  113387.772          71240.596          104116.700 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CP4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 113365.420          71240.596          104116.700  1
    END-POINT 113365.420          71240.596          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CP5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 113365.420          71240.596          104116.700  1  PL
    END-POINT 111485.390          71240.596          104116.700  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CP6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 113000.000  71240.596 104116.700  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CP7                 
    TAG                         S01-A-3-1                       
FLOW-ARROW
    CO-ORDS 112378.058  71240.596 104116.700 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 111485.390          71240.596          104116.700  1
    END-POINT 111485.390          71240.596          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPJ                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 111396.490          71240.596          104116.700  1  
    END-POINT 111485.390          71240.596          104116.700  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 111418.715          71240.596          104181.725  0.5
GASKET
    END-POINT 111396.480          71240.596          104116.700  1
    END-POINT 111396.490          71240.596          104116.700  1
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 111396.480          71240.596          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           6.250
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPN                 
WELD
    END-POINT 111418.715          71240.596          104181.725  0.5
    END-POINT 111418.715          71240.596          104181.725  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPW                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  111418.715          71240.596          104181.725 
    BRANCH1-POINT 111418.715          71240.596          104334.125  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EOA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 111418.715          71240.596          104334.125  0.5
    END-POINT 111418.715          71240.596          104334.125  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EOK                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 111418.715          71240.596          104334.125  0.5  SW FEMALE 
    END-POINT 111418.715          71240.596          104421.251  0.5  
    CENTRE-POINT  111418.715          71240.596          104379.975 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EOJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 111418.715          71240.596          104421.251  0.5  
    END-POINT 111418.715          71240.596          104443.349  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EON                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
INSTRUMENT
    END-POINT 111396.480          71240.596          104116.700  1  FL
    END-POINT 111383.480          71240.596          104116.700  1  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPK                 
    TAG 12E$FE$6114                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 111383.480          71240.596          104116.700  1
    END-POINT 111383.480          71240.596          104116.700  1
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPP                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 111383.480          71240.596          104116.700  1  
    END-POINT 111294.580          71240.596          104116.700  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 111361.255          71240.596          104181.725  0.5
WELD
    END-POINT 111294.580          71240.596          104116.700  1
    END-POINT 111294.580          71240.596          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPT                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 111361.255          71240.596          104181.725  0.5
    END-POINT 111361.255          71240.596          104181.725  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPZ                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  111361.255          71240.596          104181.725 
    BRANCH1-POINT 111361.255          71240.596          104257.925  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.148
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 111361.255          71240.596          104257.925  0.5
    END-POINT 111361.255          71240.596          104257.925  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQ1                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 111361.255          71240.596          104257.925  0.5  SW FEMALE 
    END-POINT 111361.255          71240.596          104345.051  0.5  
    CENTRE-POINT  111361.255          71240.596          104303.775 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQ0                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT 111361.255          71240.596          104345.051  0.5  
    END-POINT 111361.255          71240.596          104367.149  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EQ4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 110852.589          71240.596          104116.700  1  PL
    END-POINT 111294.580          71240.596          104116.700  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPR                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110852.589          71240.596          104116.700  1
    END-POINT 110852.589          71240.596          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EPS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 110807.885          71240.596          104116.700  1  
    END-POINT 110852.589          71240.596          104116.700  1  
    CENTRE-POINT  110830.237          71240.596          104116.700 
    BRANCH1-POINT 110830.237          71240.596          104139.052  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CPY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 110807.885          71240.596          104116.700  1
    END-POINT 110807.885          71240.596          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CPZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 110830.237          71240.596          104139.052  0.75
    END-POINT 110830.237          71240.596          104139.052  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQ0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 110830.237          71240.596          104139.052  0.75  
    END-POINT 110830.237          71240.596          104240.652  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQ1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110830.237          71240.596          104240.652  0.75
    END-POINT 110830.237          71240.596          104240.652  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQ2                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 110830.237          71240.596          104240.652  0.75  SW FEMALE 
    END-POINT 110830.237          71240.596          104323.644  0.75  
    CENTRE-POINT  110830.237          71240.596          104282.942 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQ3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 110830.237          71240.596          104323.644  0.75  
    END-POINT 110830.237          71240.596          104352.220  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQ6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 110830.237  71240.596 104337.932 
    TEXT CONT.TO TUBING 1/2"
    UNDIMENSIONED
PIPE
    END-POINT 110663.570          71240.596          104116.700  1  PL
    END-POINT 110807.885          71240.596          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQ8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110663.570          71240.596          104116.700  1
    END-POINT 110663.570          71240.596          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQ9                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 110628.772          71240.596          104116.700  1  
    END-POINT 110663.570          71240.596          104116.700  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 110628.772          71240.596          104116.700  1
    END-POINT 110624.708          71240.596          104116.700  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 110624.708          71240.596          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQC                 
INSTRUMENT
    END-POINT 110624.708          71240.596          104116.700  1  
    END-POINT 110370.708          71240.596          104116.700  1  
    CENTRE-POINT  110497.708          71240.596          104116.700 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CQD                 
    TAG 12E$FV$6114                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 110370.708          71240.596          104116.700 
    PIPELINE-REFERENCE C210-4910-12E-FG-0025-PRM-0006-02
PIPE
    END-POINT 113387.772          71240.596          104865.160  1  PL
    END-POINT 113387.772          71240.596          104966.760  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CSA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113387.772          71240.596          104966.760  1
    END-POINT 113387.772          71240.596          104966.760  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CSB                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 113387.772          71240.596          104966.760  1  
    END-POINT 113387.772          71240.596          105061.360  1  
    CENTRE-POINT  113387.772          71240.596          105014.060 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CSC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 113387.772          71240.596          105061.360  1
    END-POINT 113387.772          71240.596          105061.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CSE                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 113387.772          71240.596          105061.360  1  PL
    END-POINT 113387.772          71240.596          105891.826  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CSF                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113387.772          71240.596          105891.826  1
    END-POINT 113387.772          71240.596          105891.826  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CSG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 113387.772          71262.948          105914.178  1  
    END-POINT 113387.772          71240.596          105891.826  1  
    CENTRE-POINT  113387.772          71240.596          105914.178 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CSH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 113387.772          71262.948          105914.178  1
    END-POINT 113387.772          71262.948          105914.178  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DMD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 113387.772          72284.836          105914.178  1  PL
    END-POINT 113387.772          71262.948          105914.178  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DMB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113387.772          72284.836          105914.178  1
    END-POINT 113387.772          72284.836          105914.178  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DMC                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 113387.772          72284.836          105914.178  1  
    END-POINT 113387.772          72307.188          105936.530  1  
    CENTRE-POINT  113387.772          72307.188          105914.178 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DM9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 113387.772          72307.188          105936.530  1
    END-POINT 113387.772          72307.188          105936.530  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPJ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 113387.772          72307.188          105936.530  1  PL
    END-POINT 113387.772          72307.188          106329.363  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113387.772          72307.188          106329.363  1
    END-POINT 113387.772          72307.188          106329.363  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPK                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT     113387.772  72307.188 106380.163 
    BRANCH1-POINT 113387.772          72307.188          106329.363  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 113387.772  72307.188 106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0006-01
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE TEERED1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A350-LF2 CL1, CL1500  , GA-1514L
    RATING 1500LB
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE FLGWNK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE, w/ 1/2" SW TAPS - OOS
    RATING CL1500
    RATING SCH 80
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 6 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS - OOS
    RATING CL1500
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 6" LG
    RATING SCH 160
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 3" LG
    RATING SCH 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
