ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0039-PRM-0005-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0039-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-V-0163
    ATTRIBUTE83   12E-PE-0030-10"
    ATTRIBUTE84   C210-4902-12E-0010-01
    ATTRIBUTE88   -
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0039-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 126349.024          69871.226          105107.150  4  BW
    END-POINT 126349.024          67500.000          105107.150  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCM                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 126349.024  67800.000 105107.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCN                 
    TAG                         S01-B-3-4                       
FLOW-ARROW
    CO-ORDS 126349.024  68620.159 105107.150 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 126349.024          69871.226          105107.150  4
    END-POINT 126349.024          69871.226          105107.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 126349.024          56947.961          105107.150  4  
    END-POINT 126349.024          67500.000          105107.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GOWYJGJH_3N6                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 126349.024  64634.633 105107.150 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 126349.024  62487.000 105107.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GOWYJGJH_57H                 
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS 126349.024  57699.986 105107.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GOWYJGJH_599                 
    TAG                         S01-B-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 126349.024          56947.961          105107.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0039-SB-0020-02
ELBOW
    END-POINT 126349.024          70023.626          105259.550  4  
    END-POINT 126349.024          69871.226          105107.150  4  
    CENTRE-POINT  126349.024          70023.626          105107.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 126349.024          70023.626          105259.550  4
    END-POINT 126349.024          70023.626          105259.550  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCQ                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 126349.024          70023.626          105259.550  4  BW
    END-POINT 126349.024          70023.626          107324.750  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCR                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 126349.024          70023.626          107324.750  4
    END-POINT 126349.024          70023.626          107324.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCS                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 126501.424          70023.626          107477.150  4  
    END-POINT 126349.024          70023.626          107324.750  4  
    CENTRE-POINT  126349.024          70023.626          107477.150 
    BRANCH1-POINT 126349.024  70023.626 107477.150  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 126149.024  70023.626 107477.150  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_E0I                 
    TAG                         DS03-B-2-4                      
PIPE
    END-POINT 126349.024          70023.626          107477.150  3  BW
    END-POINT 125749.024  70023.626 107477.150  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 125749.024  70023.626 107477.150 
SUPPORT
    CO-ORDS 126000.000  70023.626 107477.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_E2X                 
    TAG                         S01-B-3-3                       
WELD
    END-POINT 126501.424          70023.626          107477.150  4
    END-POINT 126501.424          70023.626          107477.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_E0H                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 126501.424          70023.626          107477.150  4  BW
    END-POINT 145451.057          70023.626          107477.150  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCV                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 132000.000  70023.626 107477.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCW                 
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS 138000.000  70023.626 107477.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCX                 
    TAG                         S01-B-3-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 144000.000  70023.626 107477.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CCY                 
    TAG                         S01-B-3-4                       
PIPE
    END-POINT 147245.290          70023.626          107477.150  4  
    END-POINT 145451.057          70023.626          107477.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFE                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 146400.868  70023.626 107477.150 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 147245.290          70023.626          107477.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0039-PRM-0004-01
MATERIALS
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  600 mm DUMMY SUPPORT DS03-B-2-4
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
