ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0003-PRM-0005-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-S-0003-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0002-10"
    ATTRIBUTE83   12E-S-0005-8"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0003-8"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
TEE
    END-POINT 139367.450          70792.231          102909.538  8  
    END-POINT 140105.450          70792.231          102909.538  8  
    CENTRE-POINT  139736.450          70792.231          102909.538 
    BRANCH1-POINT 139736.450          69869.231          102909.538  8  
    SKEY TEBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUC                 
    TAG SP-107                          
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 139367.450          70792.231          102909.538  8
    END-POINT 139367.450          70792.231          102909.538  8
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DXG                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 140105.450          70792.231          102909.538  8
    END-POINT 140105.450          70792.231          102909.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DMO                 
    THICKNESS/RATING 99
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 139736.450          69869.231          102909.538  8
    END-POINT 139736.450          69869.231          102909.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DMN                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 139367.450          70792.231          102909.538  8  
    END-POINT 131150.450          70792.231          102909.538  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQY                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 136641.257  70792.231 102909.538 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 138000.000  70792.231 102909.538  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DRS                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 132000.000  70792.231 102909.538  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DV3                 
    TAG                         RP02-3-8                        
SUPPORT
    CO-ORDS 132000.000  70792.231 102909.538  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DXO                 
    TAG                         S02-A-3-8                       
END-CONNECTION-PIPELINE 
    CO-ORDS 131150.450          70792.231          102909.538 
    PIPELINE-REFERENCE C210-4910-12E-S-0005-PRM-0005-01
PIPE
    END-POINT 139736.450          68726.294          102909.537  8  BW
    END-POINT 139736.450          69869.231          102909.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DML                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 139736.450          68726.294          102909.537  8
    END-POINT 139736.450          68726.294          102909.537  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DMM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 139736.450          68726.294          102909.537  8  
    END-POINT 140041.250          68421.494          102909.537  8  
    CENTRE-POINT  139736.450          68421.494          102909.537 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 140041.250          68421.494          102909.537  8
    END-POINT 140041.250          68421.494          102909.537  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DMG                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 140041.250          68421.494          102909.537  8  BW
    END-POINT 145599.649          68421.494          102909.537  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 142768.635  68421.494 102909.537 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 141000.000  68421.494 102909.537  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUL                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 144000.000  68421.494 102909.537  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUM                 
    TAG                         S02-A-3-8                       
WELD
    END-POINT 145599.649          68421.494          102909.537  8
    END-POINT 145599.649          68421.494          102909.537  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQS                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 145599.649          68421.494          102909.537  8  
    END-POINT 145932.393          68421.094          102909.537  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 145762.553  68421.298 102909.537 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 145932.393          68421.094          102909.537 
    PIPELINE-REFERENCE C210-4910-12E-S-0003-PRM-0004-01
REDUCER-ECCENTRIC
    END-POINT 140105.450          70792.231          102909.538  8  
    END-POINT 140257.850          70792.231          102884.138  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BUA                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 140257.850          70792.231          102884.138  6
    END-POINT 140257.850          70792.231          102884.138  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BU9                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 140257.850          70792.231          102884.138  6  
    END-POINT 140486.450          71020.831          102884.138  6  
    CENTRE-POINT  140486.450          70792.231          102884.138 
    SKEY ELBW
    CONTINUATION 
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_BU8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 140486.450          71020.831          102884.138 
    PIPELINE-REFERENCE C210-4910-12E-S-0011-PRM-0005-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-3-8
ITEM-CODE REDECC8X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING 80
