ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0020-PRM-0005-02
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0020-PRM-0005-02
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0165-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0020-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 137049.281          72572.345          104324.664  0.75  
    END-POINT 137049.281          72572.345          104353.240  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSL                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 137049.281  72572.345 104338.952 
    TEXT CONT.TO TUBING 1/2" 12E-FG-0142-1/2"-EY
    UNDIMENSIONED
VALVE
    END-POINT 137049.281          72572.345          104240.652  0.75  SW FEMALE 
    END-POINT 137049.281          72572.345          104324.664  0.75  
    CENTRE-POINT  137049.281          72572.345          104283.452 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 137049.281          72572.345          104240.652  0.75
    END-POINT 137049.281          72572.345          104240.652  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSH                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 137049.281          72572.345          104139.052  0.75  
    END-POINT 137049.281          72572.345          104240.652  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 137049.281          72572.345          104139.052  0.75
    END-POINT 137049.281          72572.345          104139.052  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 137071.633          72572.345          104116.700  1  
    END-POINT 137026.929          72572.345          104116.700  1  
    CENTRE-POINT  137049.281          72572.345          104116.700 
    BRANCH1-POINT 137049.281          72572.345          104139.052  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 137071.633          72572.345          104116.700  1
    END-POINT 137071.633          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 137026.929          72572.345          104116.700  1
    END-POINT 137026.929          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 136350.764          72572.345          104116.700  1  PL
    END-POINT 137026.929          72572.345          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136350.764          72572.345          104116.700  1
    END-POINT 136350.764          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 136328.412          72594.697          104116.700  1  
    END-POINT 136350.764          72572.345          104116.700  1  
    CENTRE-POINT  136328.412          72572.345          104116.700 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSP                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 136328.412          72594.697          104116.700  1
    END-POINT 136328.412          72594.697          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 136328.412          72594.697          104116.700  1  PL
    END-POINT 136328.412          73008.974          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSR                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 136328.412  72800.000 104116.700  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSS                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    ERECTION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 136328.412          73008.974          104116.700  1
    END-POINT 136328.412          73008.974          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CST                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 136328.412          73008.974          104116.700  1  
    END-POINT 136328.412          73021.674          104116.700  1  
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSU                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136328.412          73021.674          104116.700  1
    END-POINT 136328.412          73021.674          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F53                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT 136328.412          73021.674          104116.700  1  
    END-POINT 136328.412          73110.574          104116.700  0.75  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON1X3/4
    WEIGHT           0.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F52                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136328.412          73110.574          104116.700  0.75
    END-POINT 136328.412          73110.574          104116.700  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F55                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 136328.412          73110.574          104116.700  0.75  
    END-POINT 136328.412          73196.172          104116.700  0.75  
    CENTRE-POINT  136328.412          73153.373          104116.700 
    SKEY CKSW
    ERECTION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           2.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F54                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 136328.412          73196.172          104116.700  0.75
    END-POINT 136328.412          73196.172          104116.700  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F57                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT 136328.412          73196.172          104116.700  0.75  
    END-POINT 136328.412          73272.372          104116.700  0.5  
    SKEY CSSW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F56                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-POSITION-OPEN 
    CO-ORDS 136328.412          73272.372          104116.700 
PIPE
    END-POINT 137189.883          72572.345          104116.700  1  PL
    END-POINT 137071.633          72572.345          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 137189.883          72572.345          104116.700  1
    END-POINT 137189.883          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CSA                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 137224.681          72572.345          104116.700  1  
    END-POINT 137189.883          72572.345          104116.700  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 137228.745          72572.345          104116.700  1
    END-POINT 137224.681          72572.345          104116.700  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 137224.681          72572.345          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS8                 
INSTRUMENT
    END-POINT 137228.745          72572.345          104116.700  1  
    END-POINT 137482.745          72572.345          104116.700  1  
    CENTRE-POINT  137355.745          72572.345          104116.700 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS5                 
    TAG 12E$XV$5105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 137486.809          72572.345          104116.700  1
    END-POINT 137482.745          72572.345          104116.700  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 137486.809          72572.345          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS4                 
FLANGE
    END-POINT 137486.809          72572.345          104116.700  1  
    END-POINT 137521.607          72572.345          104116.700  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS2                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 137521.607          72572.345          104116.700  1
    END-POINT 137521.607          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS1                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 137521.607          72572.345          104116.700  1  PL
    END-POINT 138413.603          72572.345          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 138000.000  72572.345 104116.700  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CS0                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    ERECTION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 138209.521  72572.345 104116.700 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 138413.603          72572.345          104116.700  1
    END-POINT 138413.603          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 138413.603          72572.345          104116.700  1  
    END-POINT 138458.307          72572.345          104116.700  1  
    CENTRE-POINT  138435.955          72572.345          104116.700 
    BRANCH1-POINT 138435.955          72572.345          104094.348  1  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRQ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 138458.307          72572.345          104116.700  1
    END-POINT 138458.307          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 138435.955          72572.345          104094.348  1
    END-POINT 138435.955          72572.345          104094.348  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 138435.955          72572.345          103992.748  1  
    END-POINT 138435.955          72572.345          104094.348  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138435.955          72572.345          103992.748  1
    END-POINT 138435.955          72572.345          103992.748  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRU                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 138435.955          72572.345          103992.748  1  SW FEMALE 
    END-POINT 138435.955          72572.345          103895.910  1  
    CENTRE-POINT  138435.955          72572.345          103941.948 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 138435.955          72572.345          103895.910  1  
    END-POINT 138435.955          72572.345          103865.748  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 138435.955          72572.345          103865.748 
PIPE
    END-POINT 138558.707          72572.345          104116.700  1  PL
    END-POINT 138458.307          72572.345          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138558.707          72572.345          104116.700  1
    END-POINT 138558.707          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 138558.707          72572.345          104116.700  1  
    END-POINT 138603.411          72572.345          104116.700  1  
    CENTRE-POINT  138581.059          72572.345          104116.700 
    BRANCH1-POINT 138581.059          72572.345          104139.052  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRF                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 138603.411          72572.345          104116.700  1
    END-POINT 138603.411          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 138581.059          72572.345          104139.052  0.75
    END-POINT 138581.059          72572.345          104139.052  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 138581.059          72572.345          104240.652  0.75  
    END-POINT 138581.059          72572.345          104139.052  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138581.059          72572.345          104240.652  0.75
    END-POINT 138581.059          72572.345          104240.652  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRJ                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 138581.059          72572.345          104240.652  0.75  SW FEMALE 
    END-POINT 138581.059          72572.345          104323.644  0.75  
    CENTRE-POINT  138581.059          72572.345          104282.942 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 138581.059          72572.345          104323.644  0.75  
    END-POINT 138581.059          72572.345          104352.220  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 138581.059          72572.345          104352.220 
PIPE
    END-POINT 138727.984          72572.345          104116.700  1  PL
    END-POINT 138603.411          72572.345          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138727.984          72572.345          104116.700  1
    END-POINT 138727.984          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 138727.984          72572.345          104116.700  1  
    END-POINT 138772.688          72572.345          104116.700  1  
    CENTRE-POINT  138750.336          72572.345          104116.700 
    BRANCH1-POINT 138750.336          72572.345          104139.052  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 138772.688          72572.345          104116.700  1
    END-POINT 138772.688          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 138750.336          72572.345          104139.052  0.75
    END-POINT 138750.336          72572.345          104139.052  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 138750.336          72572.345          104240.652  0.75  
    END-POINT 138750.336          72572.345          104139.052  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138750.336          72572.345          104240.652  0.75
    END-POINT 138750.336          72572.345          104240.652  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR7                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 138750.336          72572.345          104240.652  0.75  SW FEMALE 
    END-POINT 138750.336          72572.345          104323.644  0.75  
    CENTRE-POINT  138750.336          72572.345          104282.942 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 138750.336          72572.345          104323.644  0.75  
    END-POINT 138750.336          72572.345          104352.220  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CRB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 138750.336          72572.345          104352.220 
MESSAGE-CIRCLE
    CO-ORDS 138750.336  72572.345 104337.932 
    UNDIMENSIONED
    TEXT 12E-PIT-5105
PIPE
    END-POINT 138896.152          72572.345          104116.700  1  PL
    END-POINT 138772.688          72572.345          104116.700  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 138896.152          72572.345          104116.700  1
    END-POINT 138896.152          72572.345          104116.700  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CR0                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 138930.950          72572.345          104116.700  1  
    END-POINT 138896.152          72572.345          104116.700  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CQZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 138935.014          72572.345          104116.700  1
    END-POINT 138930.950          72572.345          104116.700  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CQX                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 138935.014          72572.345          104116.700 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CQY                 
INSTRUMENT
    END-POINT 139189.014          72572.345          104116.700  1  
    END-POINT 138935.014          72572.345          104116.700  1  
    CENTRE-POINT  139062.014          72572.345          104116.700 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CQV                 
    TAG 12E$FV$5105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 139193.078          72572.345          104116.700  1
    END-POINT 139189.014          72572.345          104116.700  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CQT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
FLANGE
    END-POINT 139193.078          72572.345          104116.700  1  
    END-POINT 139227.876          72572.345          104116.700  1  
    SKEY FLSW
    CONTINUATION 
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CQS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 139227.876          72572.345          104116.700 
    PIPELINE-REFERENCE C210-4910-12E-FG-0020-PRM-0005-01
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, CL1500, GA-1515L
    RATING 1500LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG, ASME B36.10
    RATING 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000, ASME B16.11
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G21
ITEM-CODE CPL1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION FULL CPLG, SW, A350 GR.LF2 CL.1, 3000LB, ASME B16.11
    RATING 3000LB
ITEM-CODE SWGCON1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC PBE, A420-WPL6, SCH 160, MSS SP-97
    RATING SCH 160
ITEM-CODE VALVCHK3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION CHECK VALVE LIFT SW, A350-LF2, CL1500, CH-1514L
    RATING CL1500
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING, ASME B16.20
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS, ASME B18.211/B18.212
    RATING 1500LB
ITEM-CODE TEESTR1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE SW, A350-LF2 CL1, CL3000, ASME B16.11
    RATING 3000LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG, ASME B36.10
    RATING 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, CL1500, GA-1515L
    RATING 1500LB
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
