ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0051-PRM-0002-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-S-0051-PRM-0002-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0006-8"
    ATTRIBUTE83   12E-S-0007/0006-6"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0051-8"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 187497.516          69637.108          102909.941  8  BW
    END-POINT 202549.937          69637.108          102909.941  8  PL
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 200000.168  69637.108 102909.941  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRV                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 194000.168  69637.108 102909.941  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRX                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 188000.168  69637.108 102909.941  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRZ                 
    TAG                         S02-A-3-8                       
FLOW-ARROW
    CO-ORDS 192238.750  69637.108 102909.941 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 187497.516          69637.108          102909.941  8
    END-POINT 187497.516          69637.108          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRU                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 202549.937          69637.108          102909.941  8
    END-POINT 202549.937          69637.108          102909.941  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EUL                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 204695.349          69637.108          102909.941  8  
    END-POINT 202549.937          69637.108          102909.941  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BUZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 203999.734  69637.108 102909.941  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BV3                 
    TAG                         S02-A-4-8                       
SUPPORT
    CO-ORDS 203999.734  69637.108 102909.941  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EZX                 
    TAG                         RP02-4-8                        
END-CONNECTION-PIPELINE 
    CO-ORDS 204695.349          69637.108          102909.941 
    PIPELINE-REFERENCE C210-4910-12E-S-0051-PRM-0001-01
ELBOW
    END-POINT 187192.716          69941.908          102909.941  8  
    END-POINT 187497.516          69637.108          102909.941  8  
    CENTRE-POINT  187192.716          69637.108          102909.941 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 187192.716          69941.908          102909.941  8
    END-POINT 187192.716          69941.908          102909.941  8
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 187192.716          70679.908          102909.941  8  
    END-POINT 187192.716          69941.908          102909.941  8  
    CENTRE-POINT  187192.716          70310.908          102909.941 
    BRANCH1-POINT 186269.716          70310.908          102909.941  8  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6Y                 
    TAG SP-107                          
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 187192.716          70679.908          102909.941 
    PIPELINE-REFERENCE C210-4910-12E-S-0006-PRM-0002-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-3-8
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING SCH 80
