ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0006-PRM-0003-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-S-0006-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0004-10"
    ATTRIBUTE83   12E-S-0010-6"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE91    
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0006-8"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 177150.084          70310.908          102909.697  8  BW
    END-POINT 180402.432          70310.908          102909.941  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_II1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 178000.012  70310.908 102909.760  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8H                 
    TAG                         S02-A-3-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 178000.004  70310.908 102909.760  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8R                 
    TAG                         RP02-3-8                        
WELD
    END-POINT 177150.084          70310.908          102909.697  8
    END-POINT 177150.084          70310.908          102909.697  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_II2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 180402.432          70310.908          102909.941  8
    END-POINT 180402.432          70310.908          102909.941  8
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BTI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 186269.716          70310.908          102909.941  8  
    END-POINT 180402.432          70310.908          102909.941  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BGK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 182000.179  70310.908 102909.941  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BGH                 
    TAG                         S03-A-6-8                       
FLOW-ARROW
    CO-ORDS 183362.347  70310.908 102909.941 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 182000.168  70310.908 102909.941  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BST                 
    TAG                         RP02-6-8                        
END-CONNECTION-PIPELINE 
    CO-ORDS 186269.716          70310.908          102909.941 
    PIPELINE-REFERENCE C210-4910-12E-S-0006-PRM-0002-01
ELBOW
    END-POINT 177150.084          70310.908          102909.697  8  
    END-POINT 176845.284          70006.108          102909.697  8  
    CENTRE-POINT  176845.284          70310.908          102909.697 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 176845.284          70006.108          102909.697  8
    END-POINT 176845.284          70006.108          102909.697  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCR                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 176845.284          70006.108          102909.697  8  BW
    END-POINT 176845.284          66683.388          102909.697  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 176845.284  68104.800 102909.697  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8F                 
    TAG                         S02-A-3-8                       
WELD
    END-POINT 176845.284          66683.388          102909.697  8
    END-POINT 176845.284          66683.388          102909.697  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 176845.284          66683.388          102909.697  8  
    END-POINT 176540.484          66378.588          102909.697  8  
    CENTRE-POINT  176845.284          66378.588          102909.697 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 176540.484          66378.588          102909.697  8
    END-POINT 176540.484          66378.588          102909.697  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCM                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 173489.757          66378.654          102909.697  8  BW
    END-POINT 176540.484          66378.588          102909.697  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 173489.757          66378.654          102909.697  8
    END-POINT 173489.757          66378.654          102909.697  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCK                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 173184.957          66683.454          102909.697  8  
    END-POINT 173489.757          66378.654          102909.697  8  
    CENTRE-POINT  173184.957          66378.654          102909.697 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 173184.957          66683.454          102909.697  8
    END-POINT 173184.957          66683.454          102909.697  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCI                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 173185.181          70439.183          102909.642  8  BW
    END-POINT 173184.957          66683.454          102909.697  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GCG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 173185.042  68104.800 102909.676  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8D                 
    TAG                         S02-A-3-8                       
WELD
    END-POINT 173185.199          70439.239          102909.671  8
    END-POINT 173185.199          70439.239          102909.671  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KJJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
GAP
    END-POINT 173185.181          70439.183          102909.642  8  
    END-POINT 173185.181          70439.248          102909.642  8  
    PIPING-SPEC CH
ELBOW
    END-POINT 172880.399          70744.039          102909.666  8  
    END-POINT 173185.199          70439.239          102909.671  8  
    CENTRE-POINT  173185.199          70744.039          102909.666 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KJB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 172880.399          70744.039          102909.666  8
    END-POINT 172880.399          70744.039          102909.666  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KK6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 172880.399          70744.039          102909.666  8  BW
    END-POINT 164897.943          70744.039          102909.666  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KJG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 168162.320  70744.039 102909.666 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 165999.943  70744.039 102909.666  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M80                 
    TAG                         S02-A-3-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 172000.399  70744.039 102909.666  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M86                 
    TAG                         S02-A-3-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 165999.943  70744.039 102909.666  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8N                 
    TAG                         RP02-3-8                        
SUPPORT
    CO-ORDS 172000.399  70744.039 102909.666  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M8P                 
    TAG                         RP02-3-8                        
WELD
    END-POINT 164897.943          70744.039          102909.666  8
    END-POINT 164897.943          70744.039          102909.666  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KJI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 170451.943  70744.039 102909.666  8
    END-POINT 170451.943  70744.039 102909.666  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M90                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 164720.143          70744.039          102936.656  10  
    END-POINT 164897.943          70744.039          102909.666  8  
    SKEY REBW
    CONTINUATION 
    WEIGHT          17.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JV1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 164720.143          70744.039          102936.656 
    PIPELINE-REFERENCE C210-4910-12E-S-0004-PRM-0003-01
OLET
    CENTRE-POINT     170451.943  70744.039 102909.666 
    BRANCH1-POINT 170451.943          70744.039          103063.656  3  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X3
    WEIGHT           1.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KK8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 170451.943          70744.039          103063.656  3
    END-POINT 170451.943          70744.039          103063.656  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7Q                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 170451.943          70744.039          104416.653  3  
    END-POINT 170451.943          70744.039          103063.656  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M7O                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 170451.943          70744.039          104416.653 
    PIPELINE-REFERENCE C210-4910-12E-S-0076-PRM-0003-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-3-8
ITEM-CODE G22
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G22
ITEM-CODE SUPPS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-3-8
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE WOL8X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION WELDOLET , SCH 40, A105N
    RATING SCH 40
