ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0007-PRM-0008-02
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-S-0007-PRM-0008-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0051-8"
    ATTRIBUTE83   12E-S-0021-3"/0022-4"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0007-6"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 240192.516          71654.547          102397.128  1  
    END-POINT 240192.516          71654.547          102366.965  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 240192.516  71654.547 102379.665 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
VALVE
    END-POINT 240192.516          71654.547          102512.965  1  SW FEMALE 
    END-POINT 240192.516          71654.547          102397.128  1  
    CENTRE-POINT  240192.516          71654.547          102476.998 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.954
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 240192.516          71654.547          102512.965  1
    END-POINT 240192.516          71654.547          102512.965  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDJ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 240192.516          71654.547          102614.565  1  
    END-POINT 240192.516          71654.547          102512.965  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240192.516          71654.547          102614.565  1
    END-POINT 240192.516          71654.547          102614.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DMQ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 240192.516          71654.547          102678.165  1  
    END-POINT 240192.516          71654.547          102614.565  1  
    CENTRE-POINT  240192.516          71654.547          102646.365 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DMN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 240192.516          71654.547          102678.165  1
    END-POINT 240192.516          71654.547          102678.165  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DMO                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 240192.516          71654.547          102779.765  1  
    END-POINT 240192.516          71654.547          102678.165  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240192.516          71654.547          102779.765  1
    END-POINT 240192.516          71654.547          102779.765  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     240192.516  71654.547 102884.540 
    BRANCH1-POINT 240192.516          71654.547          102779.765  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDD                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240192.516  71654.547 102884.540  6
    END-POINT 240192.516  71654.547 102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DDE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 240192.516          71729.547          102884.540  6  BW
    END-POINT 240192.516          71579.547          102884.540  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D3X                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240192.516          71729.547          102884.540  6
    END-POINT 240192.516          71729.547          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1S                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 240192.516          71579.547          102884.540  6
    END-POINT 240192.516          71579.547          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFC                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 240192.516          71020.747          102884.540  6  
    END-POINT 240192.516          71579.547          102884.540  6  
    CENTRE-POINT  240192.516          71300.147          102884.540 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D42                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 240192.516          71020.747          102884.540  6
    END-POINT 240192.516          71020.747          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F83                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 240192.516          71020.747          102884.540  6  
    END-POINT 239963.916          70792.147          102884.540  6  
    CENTRE-POINT  240192.516          70792.147          102884.540 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F81                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 239963.916          70792.147          102884.540  6
    END-POINT 239963.916          70792.147          102884.540  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F85                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 239963.916          70792.147          102884.540  6  
    END-POINT 234228.600          70792.147          102884.540  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F84                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 235000.000  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F88                 
    TAG                         S01-A-3-6                       
FLOW-ARROW
    CO-ORDS 236645.207  70792.147 102884.540 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 237999.622  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F8E                 
    TAG                         S01-A-6-6                       
SUPPORT
    CO-ORDS 237999.622  70792.147 102884.540  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G0D                 
    TAG                         RP02-6-6                        
SUPPORT
    CO-ORDS 235000.000  70792.147 102884.540  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G0F                 
    TAG                         RP02-3-6                        
END-CONNECTION-PIPELINE 
    CO-ORDS 234228.600          70792.147          102884.540 
    PIPELINE-REFERENCE C210-4910-12E-S-0007-PRM-0008-01
ELBOW
    END-POINT 240192.516          71729.547          102884.540  6  
    END-POINT 240192.516          71958.147          103113.140  6  
    CENTRE-POINT  240192.516          71958.147          102884.540 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1R                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 240192.516          71958.147          103113.140  6
    END-POINT 240192.516          71958.147          103113.140  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D2Y                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 240192.516          71958.147          103113.140  6  BW
    END-POINT 240192.716          71958.147          103382.589  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D2X                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 240192.629  71958.147 103266.068 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 240192.716          71958.147          103382.589  6
    END-POINT 240192.716          71958.147          103382.589  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D2Z                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 240192.716          71958.147          103941.389  6  
    END-POINT 240192.716          71958.147          103382.589  6  
    CENTRE-POINT  240192.716          71958.147          103661.989 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D25                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 240192.716          71958.147          103941.389  6
    END-POINT 240192.716          71958.147          103941.389  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFD                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 240192.716          71958.147          104041.389  6  BW
    END-POINT 240192.716          71958.147          103941.389  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D24                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240192.716          71958.147          104041.389  6
    END-POINT 240192.716          71958.147          104041.389  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFE                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 240192.716          71815.399          104184.137  6  
    END-POINT 240192.716          72100.895          104184.137  6  
    CENTRE-POINT  240192.716          71958.147          104184.137 
    BRANCH1-POINT 240192.716          71958.147          104041.389  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1W                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 240192.716          71815.399          104184.137  6
    END-POINT 240192.716          71815.399          104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DFB                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 240192.895          72101.075          104184.136  6
    END-POINT 240192.895          72101.075          104184.136  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D43                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
GAP
    END-POINT 240192.716          72100.895          104184.137  6  
    END-POINT 240192.716          72101.150          104184.137  6  
    PIPING-SPEC CH
ELBOW
    END-POINT 240421.495          72329.675          104184.136  6  
    END-POINT 240192.895          72101.075          104184.136  6  
    CENTRE-POINT  240192.895          72329.675          104184.136 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D40                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 240421.495          72329.675          104184.136  6
    END-POINT 240421.495          72329.675          104184.136  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D41                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 240421.495          72329.675          104184.136  6  
    END-POINT 240561.195          72329.675          104144.449  3  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X3
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D3Z                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 240561.195          72329.675          104144.449  3
    END-POINT 240561.195          72329.675          104144.449  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DZK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 241511.190          72329.675          104144.449  3  
    END-POINT 240561.195          72329.675          104144.449  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GQS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 241000.000  72329.675 104144.449  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GRG                 
    TAG                         RP02-3-3                        
SUPPORT
    CO-ORDS 241000.000  72329.675 104144.449  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GRI                 
    TAG                         S01-A-3-3                       
END-CONNECTION-PIPELINE 
    CO-ORDS 241511.190          72329.675          104144.449 
    PIPELINE-REFERENCE C210-4910-12E-S-0021-PRM-0008-01
ELBOW
    END-POINT 240421.316          71586.799          104184.137  6  
    END-POINT 240192.716          71815.399          104184.137  6  
    CENTRE-POINT  240192.716          71586.799          104184.137 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1V                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 240421.316          71586.799          104184.137  6
    END-POINT 240421.316          71586.799          104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GF0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 240421.316          71586.799          104184.137  6  BW
    END-POINT 240586.316          71586.799          104184.137  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 240498.927  71586.799 104184.137 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 240586.316          71586.799          104184.137  6
    END-POINT 240586.316          71586.799          104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GF1                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 240503.816  71586.799 104184.137  6
    END-POINT 240503.816  71586.799 104184.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GFA                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     240503.816  71586.799 104184.137 
    BRANCH1-POINT 240503.816          71586.799          104288.917  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL6X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GF9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240503.816          71586.799          104288.917  1
    END-POINT 240503.816          71586.799          104288.917  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GFD                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 240503.816          71586.799          104288.917  1  
    END-POINT 240503.816          71586.799          104390.517  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GFC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240503.816          71586.799          104390.517  1
    END-POINT 240503.816          71586.799          104390.517  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GFF                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 240503.816          71586.799          104390.517  1  SW FEMALE 
    END-POINT 240503.816          71586.799          104468.767  1  
    CENTRE-POINT  240503.816          71586.799          104432.817 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GFE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 240503.816          71586.799          104468.767  1  
    END-POINT 240503.816          71586.799          104497.469  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GFI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
REDUCER-ECCENTRIC
    END-POINT 240586.316          71586.799          104184.137  6  
    END-POINT 240726.016          71586.799          104157.149  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DG3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 240726.016          71586.799          104157.149  4
    END-POINT 240726.016          71586.799          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GF2                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 240726.016          71586.799          104157.149  4  
    END-POINT 241517.716          71586.799          104157.149  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEW                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 241000.000  71586.799 104157.149  4
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GS7                 
    TAG                         RP02-3-4                        
SUPPORT
    CO-ORDS 241000.000  71586.799 104157.149  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GSB                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 241517.716          71586.799          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0022-PRM-0008-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
    RATING 3000LB
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825STW
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING 800LB
ITEM-CODE SOL6X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING 3000LB
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE VALVGAT6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING SCH 80
ITEM-CODE TEESTR6X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE REDECC6X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 40
    RATING 80
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE REDECC6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING 80
