ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-CG-0020-PRM-0009-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0019-4"
    ATTRIBUTE83   12E-CG-0016/0021-4"
    ATTRIBUTE84   C210-4902-12E-0006-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0020-6"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
TEE
    END-POINT 164132.759          58300.290          105398.428  6  
    END-POINT 164132.759          58014.790          105398.428  6  
    CENTRE-POINT  164132.759          58157.540          105398.428 
    BRANCH1-POINT 163990.009          58157.540          105398.428  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BIP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164132.759          58300.290          105398.428  6
    END-POINT 164132.759          58300.290          105398.428  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6F                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          58014.790          105398.428  6
    END-POINT 164132.759          58014.790          105398.428  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6G                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163990.009          58157.540          105398.428  6
    END-POINT 163990.009          58157.540          105398.428  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6H                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 164132.759          58300.290          105398.428  6  
    END-POINT 164132.759          58439.990          105371.440  4  
    SKEY REBW
    CONTINUATION 
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A33                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 164132.759          58439.990          105371.440 
    PIPELINE-REFERENCE C210-4910-12E-CG-0021-PRM-0009-01
REDUCER-ECCENTRIC
    END-POINT 164132.759          58014.790          105398.428  6  
    END-POINT 164132.759          57875.090          105371.438  4  
    SKEY REBW
    CONTINUATION 
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BIZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 164132.759          57875.090          105371.438 
    PIPELINE-REFERENCE C210-4910-12E-CG-0016-PRM-0009-01
PIPE
    END-POINT 163786.600          58157.540          105398.428  6  BW
    END-POINT 163990.009          58157.540          105398.428  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6C                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163786.600          58157.540          105398.428  6
    END-POINT 163786.600          58157.540          105398.428  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6D                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163786.600          58157.540          105398.428  6  
    END-POINT 163558.000          58157.540          105627.028  6  
    CENTRE-POINT  163558.000          58157.540          105398.428 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G67                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          58157.540          105627.028  6
    END-POINT 163558.000          58157.540          105627.028  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6J                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          58157.540          105627.028  6  BW
    END-POINT 163558.000          58157.540          106291.388  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6I                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163558.000          58157.540          106291.388  6
    END-POINT 163558.000          58157.540          106291.388  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6K                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 163558.000          58300.290          106434.138  6  
    END-POINT 163558.000          58014.790          106434.138  6  
    CENTRE-POINT  163558.000          58157.540          106434.138 
    BRANCH1-POINT 163558.000          58157.540          106291.388  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ESS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          58300.290          106434.138  6
    END-POINT 163558.000          58300.290          106434.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GBJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163558.000          58014.790          106434.138  6
    END-POINT 163558.000          58014.790          106434.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0I                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 163558.000          58014.790          106434.138  6  
    END-POINT 163558.000          57875.090          106407.148  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 163558.000          57875.090          106407.148  4
    END-POINT 163558.000          57875.090          106407.148  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJ6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          55305.398          106407.147  4  
    END-POINT 163558.000          57875.090          106407.148  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F0L                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 163558.000          55305.398          106407.147 
    PIPELINE-REFERENCE C210-4910-12E-S-0015-PRM-0009-01
TEE
    END-POINT 163558.000          58300.290          106434.138  6  
    END-POINT 163558.000          58585.790          106434.138  6  
    CENTRE-POINT  163558.000          58443.040          106434.138 
    BRANCH1-POINT 163558.000          58443.040          106558.088  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X3
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C65                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          58585.790          106434.138  6
    END-POINT 163558.000          58585.790          106434.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJ9                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163558.000          58443.040          106558.088  3
    END-POINT 163558.000          58443.040          106558.088  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GC5                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          58443.040          106730.150  3  
    END-POINT 163558.000          58443.040          106558.088  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C68                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 163558.000          58443.040          106730.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0030-PRM-0009-01
PIPE
    END-POINT 163558.000          60648.562          106434.138  6  BW
    END-POINT 163558.000          58585.790          106434.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJ7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163558.000  59800.000 106434.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EMT                 
    TAG                         S01-A-6-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 163558.000  59800.000 106434.138 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 163558.000          60648.562          106434.138  6
    END-POINT 163558.000          60648.562          106434.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJ8                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 163558.000          60648.562          106434.138  6  
    END-POINT 163558.000          60934.062          106434.138  6  
    CENTRE-POINT  163558.000          60791.312          106434.138 
    BRANCH1-POINT 163558.000          60791.312          106558.088  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X3
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FQB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163558.000          60934.062          106434.138  6
    END-POINT 163558.000          60934.062          106434.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GG1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163558.000          60791.312          106558.088  3
    END-POINT 163558.000          60791.312          106558.088  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FQH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          60791.312          106558.088  3  
    END-POINT 163558.000          60791.312          106709.338  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_F7T                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 163558.000          60791.312          106709.338 
    PIPELINE-REFERENCE C210-4910-12E-CG-0035-PRM-0009-01
PIPE
    END-POINT 163558.000          60934.062          106434.138  6  BW
    END-POINT 163558.000          66697.044          106434.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GG0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163558.000  64800.000 106434.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C6X                 
    TAG                         S01-A-3-6                       
FLOW-ARROW
    CO-ORDS 163558.000  65877.019 106434.138 
    FLOW 2
    SKEY FLOW
MESSAGE
    CO-ORDS 163558.000  64800.000 106434.138 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 163558.000          66697.044          106434.138  6
    END-POINT 163558.000          66697.044          106434.138  6
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M97                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163558.000          66697.044          106434.138  6  
    END-POINT 163558.000          68434.588          106434.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JCF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163558.000  67800.044 106434.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_JCL                 
    TAG                         S01-A-3-6                       
END-CONNECTION-PIPELINE 
    CO-ORDS 163558.000          68434.588          106434.138 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0003-01
MATERIALS
ITEM-CODE TEESTR6X6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE REDECC6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE TEERED6X3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-6
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE SUPTS-6_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-6
