ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0047-PRM-0006-02
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0047-PRM-0006-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0012-6"
    ATTRIBUTE83   12E-S-0048-4"
    ATTRIBUTE84   C210-4902-12E-0001-06
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0047-4"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 110902.190          71584.600          103899.509  1  
    END-POINT 110902.190          71584.600          103870.807  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E16                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 110902.190  71584.600 103880.459 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
VALVE
    END-POINT 110902.190          71584.600          103977.759  1  SW FEMALE 
    END-POINT 110902.190          71584.600          103899.509  1  
    CENTRE-POINT  110902.190          71584.600          103935.459 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E12                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 110902.190          71584.600          103977.759  1
    END-POINT 110902.190          71584.600          103977.759  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E13                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 110902.190          71584.600          104079.359  1  
    END-POINT 110902.190          71584.600          103977.759  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E10                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110902.190          71584.600          104079.359  1
    END-POINT 110902.190          71584.600          104079.359  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EJ2                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     110902.190  71584.600 104157.149 
    BRANCH1-POINT 110902.190          71584.600          104079.359  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EJ0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110902.190  71584.600 104157.149  4
    END-POINT 110902.190  71584.600 104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EJ1                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 112152.240          71584.600          104157.149  4  BW
    END-POINT 110673.390          71584.600          104157.149  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E0O                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 111584.432  71584.600 104157.149 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 112152.240          71584.600          104157.149  4
    END-POINT 112152.240          71584.600          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E0P                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 110673.390          71584.600          104157.149  4
    END-POINT 110673.390          71584.600          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E0Q                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 110902.190  71584.600 104157.149  4
    END-POINT 110902.190  71584.600 104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIZ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     110902.190  71584.600 104157.149 
    BRANCH1-POINT 110902.190          71584.600          104228.589  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIY                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110902.190          71584.600          104228.589  0.75
    END-POINT 110902.190          71584.600          104228.589  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EJ7                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 110902.190          71584.600          104228.589  0.75  
    END-POINT 110902.190          71584.600          104330.189  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EJ6                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110902.190          71584.600          104330.189  0.75
    END-POINT 110902.190          71584.600          104330.189  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EJ8                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE-3WAY
    END-POINT 110902.190          71584.600          104330.189  0.75  SW FEMALE 
    END-POINT 110902.190          71584.600          104411.723  0.75  
    END-POINT 110861.423          71584.600          104372.480  0.5  
    CENTRE-POINT  110902.190          71584.600          104372.480 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 110861.423          71584.600          104372.480  0.5  
    END-POINT 110839.325          71584.600          104372.480  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 110902.190          71584.600          104411.723  0.75  
    END-POINT 110902.190          71584.600          104437.123  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 110902.190  71584.600 104428.471 
    UNDIMENSIONED
    TEXT 12E-PIT-6103
VALVE
    END-POINT 110673.390          71584.600          104157.149  4  
    END-POINT 110241.590          71584.600          104157.149  4  
    CENTRE-POINT  110457.490          71584.600          104157.149 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 110241.590          71584.600          104157.149  4
    END-POINT 110241.590          71584.600          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIV                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 109765.981          71584.600          104157.149  4  BW
    END-POINT 110241.590          71584.600          104157.149  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 110000.000  71584.600 104157.149  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EB6                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 109765.981          71584.600          104157.149  4
    END-POINT 109765.981          71584.600          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIU                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 109765.981          71584.600          104157.149  4  
    END-POINT 109556.681          71584.600          104157.149  4  
    CENTRE-POINT  109661.331          71584.600          104157.149 
    BRANCH1-POINT 109661.331          71584.600          104255.699  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EH5                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 109556.681          71584.600          104157.149  4
    END-POINT 109556.681          71584.600          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EHC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 109661.333          71584.600          104255.701  3
    END-POINT 109661.333          71584.600          104255.701  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EH8                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
GAP
    END-POINT 109661.331          71584.600          104255.699  3  
    END-POINT 109661.331          71584.600          104255.702  3  
    PIPING-SPEC CH
FLANGE
    END-POINT 109661.333          71584.600          104344.601  3  
    END-POINT 109661.333          71584.600          104255.701  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAN                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 109661.333          71584.600          104344.601  3
    END-POINT 109661.333          71584.600          104347.776  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
MISC-COMPONENT
    END-POINT 109661.333          71584.600          104347.776  3  
    END-POINT 109661.333          71584.600          104360.476  3  
    CENTRE-POINT 109661.333  71584.600 104354.126 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 109661.333          71584.600          104360.476  3
    END-POINT 109661.338          71584.605          104363.651  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
FLANGE
    END-POINT 109661.338          71584.605          104363.651  3  
    END-POINT 109661.333          71584.600          104452.551  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 109661.333          71584.600          104452.551 
    PIPELINE-REFERENCE C210-4910-12E-S-0049-PRM-0006-01
FLANGE
    END-POINT 109448.731          71584.600          104157.149  4  
    END-POINT 109556.681          71584.600          104157.149  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EHB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 109445.551          71584.600          104157.149  4
    END-POINT 109448.731          71584.600          104157.149  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EIS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 109429.801          71584.600          104157.149  4  
    END-POINT 109445.551          71584.600          104157.149  4  
    CENTRE-POINT 109437.676  71584.600 104157.149 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EAW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
END-CONNECTION-PIPELINE 
    CO-ORDS 109429.801          71584.600          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0048-PRM-0006-01
FLANGE
    END-POINT 112260.190          71584.600          104157.149  4  
    END-POINT 112152.240          71584.600          104157.149  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E0L                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 112260.190          71584.600          104157.149  4
    END-POINT 112263.370          71584.600          104157.149  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E0M                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 112263.370          71584.600          104157.149 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E0N                 
INSTRUMENT
    END-POINT 112588.370          71584.600          104157.149  4  
    END-POINT 112263.370          71584.600          104157.149  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E0I                 
    TAG 12E$FIT$6103                    
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-ROUND
    CO-ORDS 112429.861  71584.600 104157.149 
    TEXT 12E-FE-6103
    UNDIMENSIONED
GASKET
    END-POINT 112588.370          71584.600          104157.149  4
    END-POINT 112591.550          71584.600          104157.149  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E0K                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 112591.550          71584.600          104157.149  4  
    END-POINT 112699.500          71584.600          104157.149  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D9D                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 112699.500          71584.600          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0047-PRM-0006-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, A105N, CL800, DB-805ST
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80 x SCH 40
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING 600LB
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING 600LB
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600
    RATING 600LB
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 3/4 STUD BOLTS, A193-B7 c/w 2 EA A194-2H HVY HEX NUTS
    RATING CL600
