ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0049-PRM-0006-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0049-PRM-0006-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0047-4"
    ATTRIBUTE83   12E-PE-0021-4"
    ATTRIBUTE84   C210-4902-12E-0001-06
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0049-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 109449.219          71796.754          105050.210  1  
    END-POINT 109449.219          71796.754          105078.912  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 109449.219          71796.754          105078.912 
VALVE
    END-POINT 109449.219          71796.754          104971.960  1  SW FEMALE 
    END-POINT 109449.219          71796.754          105050.210  1  
    CENTRE-POINT  109449.219          71796.754          105014.260 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 45 EAST
WELD
    END-POINT 109449.219          71796.754          104971.960  1
    END-POINT 109449.219          71796.754          104971.960  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBL                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 109449.219          71796.754          104870.360  1  
    END-POINT 109449.219          71796.754          104971.960  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 109449.219          71796.754          104870.360  1
    END-POINT 109449.219          71796.754          104870.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBJ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     109449.219  71796.754 104805.270 
    BRANCH1-POINT 109449.219          71796.754          104870.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 109449.219  71796.754 104805.270  3
    END-POINT 109449.219  71796.754 104805.270  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBH                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 109250.064          71995.973          104805.270  3  BW
    END-POINT 109580.507          71665.423          104805.270  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAY                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 109250.064          71995.973          104805.270  3
    END-POINT 109250.064          71995.973          104805.270  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 109580.507          71665.423          104805.270  3
    END-POINT 109580.507          71665.423          104805.270  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 109580.507          71665.423          104805.270  3  
    END-POINT 109661.316          71584.587          104690.970  3  
    CENTRE-POINT  109661.316          71584.587          104805.270 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAW                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 109661.316          71584.587          104690.970  3
    END-POINT 109661.316          71584.587          104690.970  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 109661.316          71584.587          104690.970  3  BW
    END-POINT 109661.329          71584.600          104452.551  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAU                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 109661.329          71584.600          104452.551  3
    END-POINT 109661.329          71584.600          104452.551  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAT                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 109661.334          71584.605          104363.651  3  
    END-POINT 109661.329          71584.600          104452.551  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAS                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 109661.329          71584.600          104360.476  3
    END-POINT 109661.334          71584.605          104363.651  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 109661.334          71584.605          104363.651 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAR                 
MISC-COMPONENT
    END-POINT 109661.329          71584.600          104347.776  3  
    END-POINT 109661.329          71584.600          104360.476  3  
    CENTRE-POINT 109661.329  71584.600 104354.126 
    SKEY SB
    CONTINUATION 
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DAP                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS 109661.329          71584.600          104347.776 
    PIPELINE-REFERENCE C210-4910-12E-S-0047-PRM-0006-02
ELBOW
    END-POINT 109163.343          72031.894          104805.270  3  
    END-POINT 109250.064          71995.973          104805.270  3  
    CENTRE-POINT  109214.143          72031.894          104805.270 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           1.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DB0                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT 109163.343          72031.894          104805.270  3
    END-POINT 109163.343          72031.894          104805.270  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EB9                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 109163.343          72031.894          104805.270  3  BW
    END-POINT 108409.220          72031.894          104805.354  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EB8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 108834.376  72031.894 104805.307 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 108409.220          72031.894          104805.354  3
    END-POINT 108409.220          72031.894          104805.354  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBA                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 108320.320          72031.894          104805.364  3  
    END-POINT 108409.220          72031.894          104805.354  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DWV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 108317.140          72031.894          104805.364  3
    END-POINT 108320.320          72031.894          104805.364  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DWZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
VALVE
    END-POINT 108317.140          72031.894          104805.364  3  
    END-POINT 107961.540          72031.894          104805.404  3  
    CENTRE-POINT  108139.340          72031.894          104805.384 
    SKEY CKFL
    CONTINUATION 
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DWY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 107961.540          72031.894          104805.404 
    PIPELINE-REFERENCE C210-4910-12E-PE-0021-PRM-0006-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, ASME B16.11
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N, MSS SP97
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING 40
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING 40
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING 600LB
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING 600LB
ITEM-CODE BOLT3
    BOLT_DIA 19.05
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION STUD BOLT HEX NUT HEAVY, A193 0
    RATING 600LB
ITEM-CODE 45LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 40
    RATING 40
