ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0023-PRM-0008-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0023-PRM-0008-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0022-4"
    ATTRIBUTE83   12E-WI-1001 (HEEL)
    ATTRIBUTE84   C210-4902-12E-0001-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-S-0023-4"-CHS
    ATTRIBUTE97   S
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 247577.145          71586.799          104157.149  4  
    END-POINT 247561.395          71586.799          104157.149  4  
    CENTRE-POINT 247569.270  71586.799 104157.149 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GA1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT 247580.325          71586.799          104157.149  4
    END-POINT 247577.145          71586.799          104157.149  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GA6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 247580.325          71586.799          104157.149 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GA7                 
GASKET
    END-POINT 247561.395          71586.799          104157.149  4
    END-POINT 247558.215          71586.799          104157.149  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GA8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 247558.215          71586.799          104157.149  4  
    END-POINT 247450.265          71586.799          104157.149  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G9X                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 247450.265          71586.799          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0022-PRM-0008-01
FLANGE
    END-POINT 247580.325          71586.799          104157.149  4  
    END-POINT 247688.275          71586.799          104157.149  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FO6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 247688.275          71586.799          104157.149  4
    END-POINT 247688.275          71586.799          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FO7                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 247897.575          71586.799          104157.149  4  
    END-POINT 247688.275          71586.799          104157.149  4  
    CENTRE-POINT  247792.925          71586.799          104157.149 
    BRANCH1-POINT 247792.925          71586.799          104261.799  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FO3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 247897.575          71586.799          104157.149  4
    END-POINT 247897.575          71586.799          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FO5                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 247792.925          71586.799          104261.799  4
    END-POINT 247792.925          71586.799          104261.799  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FO9                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 247792.925          71586.799          104369.749  4  
    END-POINT 247792.925          71586.799          104261.799  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FO8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 247792.925          71586.799          104372.929  4
    END-POINT 247792.925          71586.799          104369.749  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FOY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 247792.925          71586.799          104372.929  4  
    END-POINT 247792.925          71586.799          104388.679  4  
    CENTRE-POINT 247792.925  71586.799 104380.804 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FOW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 247792.925          71586.799          104391.859  4
    END-POINT 247792.925          71586.799          104388.679  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GAO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 247792.925          71586.799          104391.859  4  
    END-POINT 247792.925          71586.799          104499.809  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FP3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 247792.925          71586.799          104499.809 
    PIPELINE-REFERENCE C210-4910-12E-S-0025-PRM-0008-01
ELBOW
    END-POINT 248049.975          71739.199          104157.149  4  
    END-POINT 247897.575          71586.799          104157.149  4  
    CENTRE-POINT  248049.975          71586.799          104157.149 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FO0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 248049.975          71739.199          104157.149  4
    END-POINT 248049.975          71739.199          104157.149  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FO2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 248049.975          71739.199          104157.149  4  BW
    END-POINT 248049.975          73105.798          104157.149  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FAX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 248049.975  72767.653 104157.149 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 248049.975  72800.000 104157.149  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FB3                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 248049.975          73105.798          104157.149  4
    END-POINT 248049.975          73105.798          104157.149  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3I4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 248049.975          85374.320          104157.149  4  
    END-POINT 248049.975          73105.798          104157.149  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3DU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 248049.975  74405.677 104157.149 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 248049.975  81801.881 104157.149  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3EI                 
    TAG                         S01-A-6-4                       
SUPPORT
    CO-ORDS 248049.975  76801.908 104157.149  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSH1LGP_3EK                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 248049.975          85374.320          104157.149 
    PIPELINE-REFERENCE C210-4910-12E-S-0023-PRM-0021-01
MATERIALS
ITEM-CODE LNBDSPEC4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
