ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0075-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0075-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0073-4"
    ATTRIBUTE83   12E-PE-0037-4"
    ATTRIBUTE84   C210-4902-12E-0001-07
    ATTRIBUTE88   -
    ATTRIBUTE89   -
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-S-0075-4"-CHS
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  80053.527          71574.492          105072.725  1  
    END-POINT  80053.527          71574.492          105101.427  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EHZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  80053.527          71574.492          104994.475  1  SW FEMALE 
    END-POINT  80053.527          71574.492          105072.725  1  
    CENTRE-POINT   80053.527          71574.492          105036.775 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EHV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT  80053.527          71574.492          104994.475  1
    END-POINT  80053.527          71574.492          104994.475  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EHW                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  80053.528          71574.492          104892.875  1  
    END-POINT  80053.527          71574.492          104994.475  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EHT                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  80053.528          71574.492          104892.875  1
    END-POINT  80053.528          71574.492          104892.875  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EHU                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT      80053.528  71574.492 104808.735 
    BRANCH1-POINT  80053.528          71574.492          104892.875  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EHR                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  80053.528  71574.492 104808.735  4
    END-POINT  80053.528  71574.492 104808.735  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EHS                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  81058.911          71574.492          104808.735  4  BW
    END-POINT  79905.927          71574.492          104808.735  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BF1                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  80701.173  71574.492 104808.735 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  81058.911          71574.492          104808.735  4
    END-POINT  81058.911          71574.492          104808.735  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BF0                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  79905.927          71574.492          104808.735  4
    END-POINT  79905.927          71574.492          104808.735  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BF2                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  79753.527          71574.492          104656.335  4  
    END-POINT  79905.927          71574.492          104808.735  4  
    CENTRE-POINT   79753.527          71574.492          104808.735 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BF3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  79753.527          71574.492          104656.335  4
    END-POINT  79753.527          71574.492          104656.335  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  79753.527          71574.492          104549.808  4  BW
    END-POINT  79753.527          71574.492          104656.335  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQN                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  79753.527          71574.492          104549.808  4
    END-POINT  79753.527          71574.492          104549.808  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQO                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  79753.527          71574.492          104441.858  4  
    END-POINT  79753.527          71574.492          104549.808  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQI                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  79753.527          71574.492          104441.858  4
    END-POINT  79753.527          71574.492          104438.678  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EHO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT  79753.527          71574.492          104422.928  4  
    END-POINT  79753.527          71574.492          104438.678  4  
    CENTRE-POINT  79753.527  71574.492 104430.803 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CQF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS  79753.527          71574.492          104422.928 
    PIPELINE-REFERENCE C210-4910-12E-PE-0037-PRM-0007-01
ELBOW
    END-POINT  81058.911          71574.492          104808.735  4  
    END-POINT  81211.311          71574.492          104656.335  4  
    CENTRE-POINT   81211.311          71574.492          104808.735 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BEZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  81211.311          71574.492          104656.335  4
    END-POINT  81211.311          71574.492          104656.335  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIB                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  81211.311          71574.492          104656.335  4  BW
    END-POINT  81211.311          71574.492          104499.801  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIA                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  81211.311          71574.492          104499.801  4
    END-POINT  81211.311          71574.492          104499.801  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EIC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  81211.311          71574.492          104391.851  4  
    END-POINT  81211.311          71574.492          104499.801  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EI7                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  81211.311          71574.492          104391.851  4
    END-POINT  81211.311          71574.492          104388.671  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EI8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  81211.311          71574.492          104388.671 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EI9                 
MISC-COMPONENT
    END-POINT  81211.311          71574.492          104372.923  4  
    END-POINT  81211.311          71574.492          104388.671  4  
    CENTRE-POINT  81211.311  71574.492 104380.797 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BES                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS  81211.311          71574.492          104372.923 
    PIPELINE-REFERENCE C210-4910-12E-S-0073-PRM-0007-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION STUD BOLT  0
    RATING CL600
