ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0003-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0017-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0016-2"
    ATTRIBUTE83   UTIL. STEAM DIST.
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0017-2"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
OLET
    CENTRE-POINT     178262.181  72471.022 102830.163 
    BRANCH1-POINT 178262.181          72471.022          102880.963  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5N                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 178262.181  72471.022 102830.163  2
    END-POINT 178262.181  72471.022 102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5M                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 178262.181          72471.022          102880.963  1
    END-POINT 178262.181          72471.022          102880.963  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 178262.181          72471.022          102880.963  1  
    END-POINT 178262.181          72471.022          103081.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5P                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 178262.181          72471.022          103081.363 
    PIPELINE-REFERENCE C210-4910-12E-S-0061-PRM-0003-01
PIPE
    END-POINT 180552.801          72471.022          102830.163  2  PL
    END-POINT 176512.181          72471.022          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5H                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 178000.000  72471.022 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5J                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 180552.801          72471.022          102830.163  2
    END-POINT 180552.801          72471.022          102830.163  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5P                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 176512.181          72471.022          102830.163  2
    END-POINT 176512.181          72471.022          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5G                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 202549.747          72471.022          102830.162  2  
    END-POINT 180552.801          72471.022          102830.163  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B4I                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 182000.000  72471.022 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B4K                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 188000.000  72471.022 102830.162  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B4L                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 194000.000  72471.022 102830.162  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B4M                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 200000.000  72471.022 102830.162  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B4N                 
    TAG                         S01-A-6-2                       
FLOW-ARROW
    CO-ORDS 190523.860  72471.022 102830.162 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 202549.747          72471.022          102830.162 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0002-01
ELBOW
    END-POINT 176512.181          72471.022          102830.163  2  
    END-POINT 176435.981          72394.822          102830.163  2  
    CENTRE-POINT  176435.981          72471.022          102830.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5F                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 176435.981          72394.822          102830.163  2
    END-POINT 176435.981          72394.822          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5E                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 176435.981          72394.822          102830.163  2  BW
    END-POINT 176435.981          67442.285          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5C                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 176435.981  67800.000 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5D                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 176435.981          67442.285          102830.163  2
    END-POINT 176435.981          67442.285          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5B                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 176435.981          67442.285          102830.163  2  
    END-POINT 176359.781          67366.085          102830.163  2  
    CENTRE-POINT  176435.981          67366.085          102830.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G5A                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 176359.781          67366.085          102830.163  2
    END-POINT 176359.781          67366.085          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G59                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 176359.781          67366.085          102830.163  2  BW
    END-POINT 173672.477          67366.085          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G58                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 173672.477          67366.085          102830.163  2
    END-POINT 173672.477          67366.085          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G57                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 173672.477          67366.085          102830.163  2  
    END-POINT 173596.277          67442.285          102830.163  2  
    CENTRE-POINT  173596.277          67366.085          102830.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G56                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 173596.277          67442.285          102830.163  2
    END-POINT 173596.277          67442.285          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G55                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 173596.277          67442.285          102830.163  2  BW
    END-POINT 173596.277          72392.285          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G53                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 173596.277  67800.000 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G54                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 173596.277          72392.285          102830.163  2
    END-POINT 173596.277          72392.285          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G52                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 173596.277          72392.285          102830.163  2  
    END-POINT 173520.077          72468.485          102830.163  2  
    CENTRE-POINT  173596.277          72468.485          102830.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G51                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 173520.077          72468.485          102830.163  2
    END-POINT 173520.077          72468.485          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G50                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 173520.077          72468.485          102830.163  2  BW
    END-POINT 169843.362          72468.485          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4X                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 172000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4Y                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 169843.362          72468.485          102830.163  2
    END-POINT 169843.362          72468.485          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4Q                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
TEE
    END-POINT 169843.362          72468.485          102830.163  2  
    END-POINT 169716.362          72468.485          102830.163  2  
    CENTRE-POINT  169779.862          72468.485          102830.163 
    BRANCH1-POINT 169779.862          72468.485          102893.663  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           1.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4P                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 169716.362          72468.485          102830.163  2
    END-POINT 169716.362          72468.485          102830.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4R                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 169779.862          72468.485          102893.663  2
    END-POINT 169779.862          72468.485          102893.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4O                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 169779.862          72468.485          102893.663  2  
    END-POINT 169779.862          72468.485          104061.152  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4N                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 169779.862          72468.485          104061.152 
    PIPELINE-REFERENCE C210-4910-12E-S-0062-PRM-0003-01
PIPE
    END-POINT 169716.362          72468.485          102830.163  2  BW
    END-POINT 158448.263          72468.485          102830.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4S                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 168722.695  72468.485 102830.163 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 160000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4U                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 166000.000  72468.485 102830.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G4V                 
    TAG                         S01-A-3-2                       
WELD
    END-POINT 158448.263          72468.485          102830.163  2
    END-POINT 158448.263          72468.485          102830.163  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_ISV                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 158448.263          72468.485          102830.163  2  
    END-POINT 149719.329          72468.485          102830.163  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT2                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 153594.573  72468.485 102830.163 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 156000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT5                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 152000.000  72468.485 102830.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CT6                 
    TAG                         S01-A-6-2                       
END-CONNECTION-PIPELINE 
    CO-ORDS 149719.329          72468.485          102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0004-01
MATERIALS
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G21
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE TEESTR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH STD
    RATING STD
