ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0004-PRM-0008-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE31   H
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0004-PRM-0008-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0161-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0004-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 242753.337          72572.351          104323.646  0.75  
    END-POINT 242753.337          72572.374          104352.221  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DCL                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 242753.337          72572.285          104240.653  0.75  SW FEMALE 
    END-POINT 242753.337          72572.351          104323.646  0.75  
    CENTRE-POINT  242753.337          72572.318          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D5X                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 0 DOWN
MESSAGE
    CO-ORDS 242753.337  72572.362 104337.933 
    TEXT CONT. ON LINE 12E-FG-0134-1/2"-EY
    UNDIMENSIONED
WELD
    END-POINT 242753.337          72572.285          104240.653  0.75
    END-POINT 242753.337          72572.285          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D5Y                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 242753.337          72572.204          104139.053  0.75  
    END-POINT 242753.337          72572.285          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D5V                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 242753.337          72572.204          104139.053  0.75
    END-POINT 242753.337          72572.204          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D5W                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 242775.689          72572.186          104116.701  1  
    END-POINT 242730.985          72572.186          104116.701  1  
    CENTRE-POINT  242753.337          72572.186          104116.701 
    BRANCH1-POINT 242753.337          72572.204          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DG9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 242775.689          72572.186          104116.701  1
    END-POINT 242775.689          72572.186          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1U                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 242730.985          72572.186          104116.701  1
    END-POINT 242730.985          72572.186          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 242730.985          72572.186          104116.701  1  PL
    END-POINT 242267.239          72572.186          104116.701  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ5                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 242267.239          72572.186          104116.701  1
    END-POINT 242267.239          72572.186          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ7                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 242178.339          72572.175          104116.701  1  
    END-POINT 242267.239          72572.186          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS 242200.564          72572.178          104181.726  0.5
WELD
    END-POINT 242178.339          72572.175          104116.701  1
    END-POINT 242178.339          72572.175          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ4                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 242200.564          72572.178          104181.726  0.5
    END-POINT 242200.564          72572.178          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJJ                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  242200.564          72572.178          104181.726 
    BRANCH1-POINT 242200.564          72572.178          104257.926  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.148
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJI                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 242200.564          72572.178          104257.926  0.5
    END-POINT 242200.564          72572.178          104257.926  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJR                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 242200.564          72572.178          104257.926  0.5  SW FEMALE 
    END-POINT 242200.564          72572.178          104345.052  0.5  
    CENTRE-POINT  242200.564          72572.178          104303.776 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJQ                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 0 NORTH
MISC-COMPONENT
    END-POINT 242200.564          72572.178          104345.052  0.5  
    END-POINT 242200.564          72572.178          104367.150  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJU                 
    PIPING-SPEC DL
    INSULATION-ON 
INSTRUMENT
    END-POINT 242165.339          72572.173          104116.701  1  FL
    END-POINT 242178.339          72572.175          104116.701  1  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HIZ                 
    TAG 12E$FE$1105                     
    PIPING-SPEC DL
    INSULATION-ON 
GASKET
    END-POINT 242165.339          72572.173          104116.701  1
    END-POINT 242165.329          72572.173          104116.701  1
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ1                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 242165.339          72572.173          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           6.250
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ2                 
FLANGE
    END-POINT 242165.329          72572.173          104116.701  1  
    END-POINT 242076.429          72572.162          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HIX                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS 242143.104          72572.171          104181.726  0.5
WELD
    END-POINT 242076.429          72572.162          104116.701  1
    END-POINT 242076.429          72572.162          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJA                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 242143.104          72572.171          104181.726  0.5
    END-POINT 242143.104          72572.171          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJL                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  242143.104          72572.171          104181.726 
    BRANCH1-POINT 242143.104          72572.171          104334.126  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJK                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 242143.104          72572.171          104334.126  0.5
    END-POINT 242143.104          72572.171          104334.126  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJN                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 242143.104          72572.171          104334.126  0.5  SW FEMALE 
    END-POINT 242143.104          72572.171          104421.252  0.5  
    CENTRE-POINT  242143.104          72572.171          104379.976 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJM                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 0 SOUTH
MISC-COMPONENT
    END-POINT 242143.104          72572.171          104421.252  0.5  
    END-POINT 242143.104          72572.171          104443.350  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJW                 
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 239931.004          72572.162          104116.701  1  PL
    END-POINT 242076.429          72572.162          104116.701  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 241412.283  72572.162 104116.701 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 240999.704  72572.162 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJE                 
    TAG                         S01-A-3-1                       
WELD
    END-POINT 239931.004          72572.162          104116.701  1
    END-POINT 239931.004          72572.162          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJ9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 239931.004          72572.161          104116.701  1  
    END-POINT 239908.652          72572.141          104139.053  1  
    CENTRE-POINT  239908.652          72572.159          104116.701 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 239908.652          72572.141          104139.053  1
    END-POINT 239908.652          72572.141          104139.053  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E55                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 239908.652          72572.141          104139.053  1  PL
    END-POINT 239908.652          72572.051          104251.753  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E54                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239908.652          72572.051          104251.753  1
    END-POINT 239908.652          72572.051          104251.753  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E57                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 239908.652          72572.051          104251.753  1  
    END-POINT 239908.652          72571.976          104346.353  1  
    CENTRE-POINT  239908.652          72572.014          104299.053 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E56                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 0 WEST 0 UP
WELD
    END-POINT 239908.652          72571.976          104346.353  1
    END-POINT 239908.652          72571.976          104346.353  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5A                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 239908.652          72571.976          104346.353  1  PL
    END-POINT 239908.652          72571.886          104459.053  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E59                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239908.652          72571.886          104459.053  1
    END-POINT 239908.652          72571.886          104459.053  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5C                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 239908.652          72571.886          104459.053  1  
    END-POINT 239908.652          72571.851          104503.757  1  
    CENTRE-POINT  239908.652          72571.869          104481.405 
    BRANCH1-POINT 239883.252          72571.866          104481.405  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5B                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 239908.652          72571.851          104503.757  1
    END-POINT 239908.652          72571.851          104503.757  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5E                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 239883.252          72571.866          104481.405  0.5
    END-POINT 239883.252          72571.866          104481.405  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5M                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 239883.252          72571.866          104481.405  0.5  
    END-POINT 239781.652          72571.856          104481.405  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5L                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239781.652          72571.856          104481.405  0.5
    END-POINT 239781.652          72571.856          104481.405  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5O                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 239781.652          72571.856          104481.405  0.5  SW FEMALE 
    END-POINT 239693.004          72571.848          104481.405  0.5  
    CENTRE-POINT  239735.804          72571.852          104481.405 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5N                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 0 WEST
MISC-COMPONENT
    END-POINT 239693.004          72571.848          104481.405  0.5  
    END-POINT 239667.604          72571.845          104481.405  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E62                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 239908.652          72571.851          104503.757  1  PL
    END-POINT 239908.652          72571.761          104616.457  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5D                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239908.652          72571.761          104616.457  1
    END-POINT 239908.652          72571.761          104616.457  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5G                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 239908.652          72571.761          104616.457  1  
    END-POINT 239908.652          72571.686          104711.057  1  
    CENTRE-POINT  239908.652          72571.723          104663.757 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_E5F                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 0 UP
WELD
    END-POINT 239908.652          72571.686          104711.057  1
    END-POINT 239908.652          72571.686          104711.057  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HGJ                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 239908.652          72570.727          105916.457  1  PL
    END-POINT 239908.652          72571.686          104711.057  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HGH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 239908.652          72570.727          105916.457  1
    END-POINT 239908.652          72570.727          105916.457  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HGI                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 239908.652          72570.727          105916.457  1  
    END-POINT 239931.004          72570.711          105938.809  1  
    CENTRE-POINT  239908.652          72570.709          105938.809 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HG5                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 239931.004          72570.711          105938.809  1
    END-POINT 239931.004          72570.711          105938.809  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HGG                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 240586.300          72570.774          105938.809  1  PL
    END-POINT 239931.004          72570.711          105938.809  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HGE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240586.300          72570.774          105938.809  1
    END-POINT 240586.300          72570.774          105938.809  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HGF                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 240586.300          72570.774          105938.809  1  
    END-POINT 240608.654          72548.424          105938.809  1  
    CENTRE-POINT  240608.652          72570.776          105938.809 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HG7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 240608.654          72548.424          105938.809  1
    END-POINT 240608.654          72548.424          105938.809  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HK0                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 240608.675          72329.540          105938.809  1  PL
    END-POINT 240608.654          72548.424          105938.809  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240608.675          72329.540          105938.809  1
    END-POINT 240608.675          72329.540          105938.809  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HJZ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 240608.675          72329.540          105938.809  1  
    END-POINT 240608.678          72307.188          105961.161  1  
    CENTRE-POINT  240608.678          72307.188          105938.809 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HG9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 240608.678          72307.188          105961.161  1
    END-POINT 240608.678          72307.188          105961.161  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HGK                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 240608.678          72307.188          105961.161  1  PL
    END-POINT 240608.678          72307.188          106329.363  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G5B                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 240608.678          72307.188          106329.363  1
    END-POINT 240608.678          72307.188          106329.363  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G5D                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT     240608.678  72307.188 106380.163 
    BRANCH1-POINT 240608.678          72307.188          106329.363  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G2Q                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 240608.678  72307.188 106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0008-01
PIPE
    END-POINT 242775.689          72572.186          104116.701  1  PL
    END-POINT 242999.939          72572.186          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1T                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 242999.939          72572.186          104116.701  1
    END-POINT 242999.939          72572.186          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DKC                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 243034.737          72572.186          104116.701  1  
    END-POINT 242999.939          72572.186          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DKB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 243038.801          72572.186          104116.701  1
    END-POINT 243034.737          72572.186          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DKE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 243038.801          72572.186          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DKF                 
INSTRUMENT
    END-POINT 243038.801          72572.186          104116.701  1  
    END-POINT 243292.801          72572.186          104116.701  1  
    CENTRE-POINT  243165.801          72572.186          104116.701 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DKD                 
    TAG 12E$FV$1105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
    DIRECTION UP 0 SOUTH
END-CONNECTION-PIPELINE 
    CO-ORDS 243292.801          72572.186          104116.701 
    PIPELINE-REFERENCE C210-4910-12E-FG-0004-PRM-0008-02
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING SCH 80
ITEM-CODE FLGWNK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE, w/ 1/2" SW TAPS - OOS
    RATING CL1500
    RATING SCH 80
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 3" LG
    RATING SCH 160
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING CL1500
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 6 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS - OOS
    RATING CL1500
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 6" LG
    RATING SCH 160
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A350-LF2 CL1, CL1500  , GA-1514L
    RATING 1500LB
ITEM-CODE TEERED1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
