ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-RP-0002-PRM-0004-01
PIPING-SPEC A
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-RP-0002-PRM-0004-01
    ATTRIBUTE70   V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   397
    ATTRIBUTE74   151
    ATTRIBUTE78   Critical P=5100 kPag
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PSV-0153B
    ATTRIBUTE83   VENT/ATM
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   A
    ATTRIBUTE95   12E-RP-0002-8"-A
    ATTRIBUTE97   RP
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 148856.532          73482.858          104504.339  8  BW
    END-POINT 148856.532          73482.858          109554.539  8  PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          57.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHZ                 
    PIPING-SPEC A
MESSAGE
    CO-ORDS 148856.532  73482.858 106604.339 
    TEXT 12E-SP-100
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS 148856.532  73482.858 106254.339 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 148856.532  73182.858 105634.859  8
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CI3                 
    TAG                         DS01-3-8                        
TEE-SET-ON
    BRANCH1-POINT 148856.532          73373.321          105634.859  6
    CENTRE-POINT  148856.532  73482.858 105634.859 
    SKEY TESO
PIPE
    END-POINT 148856.532          73373.321          105634.859  6  BW
    END-POINT 148856.532  72582.858 105634.859  6  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 148856.532  72582.858 105634.859 
SUPPORT
    CO-ORDS 148856.532  72826.500 105634.859  8
    SKEY 53SP
    FABRICATION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGJ                 
    TAG                         UB01                            
SUPPORT
    CO-ORDS 148856.532  72800.000 105634.859  8
    SKEY AC01
    FABRICATION-ITEM
    ITEM-CODE SUPAB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FIF                 
    TAG                         LS02-A                          
MESSAGE
    CO-ORDS 148856.532  72826.500 105634.859 
    TEXT FIELD TO TIE AS AN ANCHOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS 148856.532  73482.858 105634.859 
    TEXT TRUNNION INSTALLED SOUTH OF PIPE
    UNDIMENSIONED
SUPPORT
    CO-ORDS 148856.532  73182.858 107852.939  8
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CI6                 
    TAG                         DS01-3-8                        
TEE-SET-ON
    BRANCH1-POINT 148856.532          73373.321          107852.939  6
    CENTRE-POINT  148856.532  73482.858 107852.939 
    SKEY TESO
PIPE
    END-POINT 148856.532          73373.321          107852.939  6  BW
    END-POINT 148856.532  72582.858 107852.939  6  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 148856.532  72582.858 107852.939 
SUPPORT
    CO-ORDS 148856.532  72826.500 107852.939  8
    SKEY 53SP
    FABRICATION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGN                 
    TAG                         UB01                            
SUPPORT
    CO-ORDS 148856.532  72800.000 107852.939  8
    SKEY AC01
    FABRICATION-ITEM
    ITEM-CODE SUPAB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FID                 
    TAG                         LS02-A                          
MESSAGE
    CO-ORDS 148856.532  73482.858 107852.939 
    TEXT TRUNNION INSTALLED SOUTH OF PIPE
    UNDIMENSIONED
MESSAGE
    CO-ORDS 148856.532  73482.858 109554.539 
    TEXT ATM
    UNDIMENSIONED
WELD
    END-POINT 148856.532          73482.858          104504.339  8
    END-POINT 148856.532          73482.858          104504.339  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHY                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
END-POSITION-OPEN 
    CO-ORDS 148856.532          73482.858          109554.539 
PIPE
    END-POINT 148856.532          73482.858          104209.339  8  BW
    END-POINT 148856.532          73482.858          104504.339  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          57.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHX                 
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 148856.532          73482.858          104209.339  8
    END-POINT 148856.532          73482.858          104209.339  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHW                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
ELBOW
    END-POINT 148856.532          73178.058          103904.539  8  
    END-POINT 148856.532          73482.858          104209.339  8  
    CENTRE-POINT  148856.532          73482.858          103904.539 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          20.380
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHV                 
    PIPING-SPEC A
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 148856.532          73178.058          103904.539  8
    END-POINT 148856.532          73178.058          103904.539  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FG4                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
PIPE
    END-POINT 148856.532          73178.058          103904.539  8  BW
    END-POINT 148856.532          72023.960          103904.239  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          57.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FG3                 
    PIPING-SPEC A
    INSULATION-ON 
SUPPORT
    CO-ORDS 148856.532  72800.000 103904.441  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FG6                 
    TAG                         S03-A-6-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE RP02-6-8
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 148856.532  72762.318 103904.431 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 148856.532          72023.960          103904.239  8
    END-POINT 148856.532          72023.960          103904.239  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FG5                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 148856.532  72273.966 103904.304  8
    END-POINT 148856.532  72273.966 103904.304  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGT                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
OLET
    CENTRE-POINT     148856.532  72273.966 103904.304 
    BRANCH1-POINT 148856.532          72273.998          103779.016  0.5  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL8X1/2
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGS                 
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 148856.532          72273.998          103779.016  0.5
    END-POINT 148856.532          72273.998          103779.016  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FGU                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC A
    INSULATION-ON 
COUPLING
    END-POINT 148856.532          72274.001          103779.016  0.5  
    END-POINT 148856.532          72274.001          103677.416  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHL                 
    PIPING-SPEC A
    INSULATION-ON 
WELD
    END-POINT 148856.532          72274.001          103677.416  0.5
    END-POINT 148856.532          72274.001          103677.416  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC A
    INSULATION-ON 
CAP
    END-POINT 148856.532          72274.001          103677.416  0.5  
    END-POINT 148856.532          72274.001          103671.066  0.5
    SKEY KASW
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CHJ                 
    PIPING-SPEC A
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS 148856.532          72274.001          103671.066 
REDUCER-ECCENTRIC
    END-POINT 148856.532          72023.960          103904.239  8  
    END-POINT 148856.532          71871.560          103878.839  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           6.310
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CI9                 
    PIPING-SPEC A
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 148856.532          71871.560          103878.839  6
    END-POINT 148856.532          71871.560          103878.839  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIB                 
    THICKNESS/RATING CL150
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC A
    INSULATION-ON 
FLANGE
    END-POINT 148856.532          71782.660          103878.839  6  
    END-POINT 148856.532          71871.560          103878.839  6  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          10.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DI8                 
    PIPING-SPEC A
    INSULATION-ON 
GASKET
    END-POINT 148856.532          71782.660          103878.839  6
    END-POINT 148856.532          71779.480          103878.839  6
    FABRICATION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DI9                 
    PIPING-SPEC A
    INSULATION-ON 
    GASKET-RATING CL150          
BOLT
    CO-ORDS 148856.532          71782.660          103878.839 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.000
    WEIGHT           2.936
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIA                 
INSTRUMENT-ANGLE
    END-POINT 148856.532          71557.230          103681.989  4  
    END-POINT 148856.532          71779.480          103878.839  6  
    CENTRE-POINT  148856.532          71557.230          103878.839 
    SKEY RAFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CUC                 
    TAG 12E$PSV$0153B                   
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 148856.532          71557.230          103681.989 
    PIPELINE-REFERENCE C210-4910-12E-S-0014-PRM-0004-01
MATERIALS
ITEM-CODE SUPEB-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION DUMMY SUPPORT DS01-3-8
ITEM-CODE SUPUB-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION STANDARD U-BOLT UB01
ITEM-CODE SUPAB-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION LINE STOP FOR BARE PIPE LS02-A
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-A-6-8
ITEM-CODE RP02-6-8
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-6-8
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE SOL8X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE CAP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION CAP SW, CL3000, A105N
    RATING 3000LB
ITEM-CODE REDECC8X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE FLGWNK6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL150, A105N, SCH STD BORE
    RATING CL150
    RATING STD
ITEM-CODE GAS6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL150, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL150
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 101.6
    CATALOG -
    DESCRIPTION 3/4 X 4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL150
