ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0055-PRM-0007-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0055-PRM-0007-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0167-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0055-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  86272.275          72566.258          104323.644  0.75  
    END-POINT  86272.275          72566.258          104352.220  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BX2                 
    PIPING-SPEC DL
    INSULATION-ON 
MESSAGE
    CO-ORDS  86272.275  72566.258 104337.933 
    TEXT CONT.TO TUBING 1/2"
    UNDIMENSIONED
VALVE
    END-POINT  86272.275          72566.258          104240.653  0.75  SW FEMALE 
    END-POINT  86272.275          72566.258          104323.644  0.75  
    CENTRE-POINT   86272.275          72566.258          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  86272.275          72566.258          104240.653  0.75
    END-POINT  86272.275          72566.258          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWY                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  86272.275          72566.258          104139.053  0.75  
    END-POINT  86272.275          72566.258          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWX                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  86272.275          72566.258          104139.053  0.75
    END-POINT  86272.275          72566.258          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT  86249.923          72566.258          104116.701  1  
    END-POINT  86294.627          72566.258          104116.701  1  
    CENTRE-POINT   86272.275          72566.258          104116.701 
    BRANCH1-POINT  86272.275          72566.258          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWU                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  86249.923          72566.258          104116.701  1
    END-POINT  86249.923          72566.258          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  86294.627          72566.258          104116.701  1
    END-POINT  86294.627          72566.258          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  86294.627          72566.258          104116.701  1  PL
    END-POINT  86686.618          72566.258          104116.701  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBW                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  86686.618          72566.258          104116.701  1
    END-POINT  86686.618          72566.258          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBY                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT  86775.518          72566.258          104116.701  1  
    END-POINT  86686.618          72566.258          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBU                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS  86753.293          72566.258          104181.726  0.5
WELD
    END-POINT  86775.518          72566.258          104116.701  1
    END-POINT  86775.518          72566.258          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBV                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  86753.293          72566.258          104181.726  0.5
    END-POINT  86753.293          72566.258          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIN                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT   86753.293          72566.258          104181.726 
    BRANCH1-POINT  86753.293          72566.258          104334.126  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FC4                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  86753.293          72566.258          104334.126  0.5
    END-POINT  86753.293          72566.258          104334.126  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FC7                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  86753.293          72566.258          104334.126  0.5  SW FEMALE 
    END-POINT  86753.293          72566.258          104421.252  0.5  
    CENTRE-POINT   86753.293          72566.258          104379.976 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FC6                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT  86753.293          72566.258          104421.252  0.5  
    END-POINT  86753.293          72566.258          104443.350  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCG                 
    PIPING-SPEC DL
    INSULATION-ON 
INSTRUMENT
    END-POINT  86788.518          72566.258          104116.701  1  FL
    END-POINT  86775.518          72566.258          104116.701  1  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBQ                 
    TAG 12E$FE$6114                     
    PIPING-SPEC DL
    INSULATION-ON 
GASKET
    END-POINT  86788.518          72566.258          104116.701  1
    END-POINT  86788.528          72566.258          104116.701  1
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBS                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS  86788.518          72566.258          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           6.250
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBT                 
FLANGE
    END-POINT  86788.528          72566.258          104116.701  1  
    END-POINT  86877.428          72566.258          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS  86810.753          72566.258          104181.726  0.5
WELD
    END-POINT  86877.428          72566.258          104116.701  1
    END-POINT  86877.428          72566.258          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FJ6                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  86810.753          72566.258          104181.726  0.5
    END-POINT  86810.753          72566.258          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIM                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT   86810.753          72566.258          104181.726 
    BRANCH1-POINT  86810.753          72566.258          104257.926  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.148
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FC1                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  86810.753          72566.258          104257.926  0.5
    END-POINT  86810.753          72566.258          104257.926  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCB                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  86810.753          72566.258          104257.926  0.5  SW FEMALE 
    END-POINT  86810.753          72566.258          104345.052  0.5  
    CENTRE-POINT   86810.753          72566.258          104303.776 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCA                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT  86810.753          72566.258          104345.052  0.5  
    END-POINT  86810.753          72566.258          104367.150  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCE                 
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  89048.551          72566.258          104116.705  1  PL
    END-POINT  86877.428          72566.258          104116.701  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FJ4                 
    PIPING-SPEC DL
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  87462.520  72566.258 104116.702 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  88000.000  72566.258 104116.703  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FJ9                 
    TAG                         S01-A-3-1                       
WELD
    END-POINT  89048.551          72566.258          104116.705  1
    END-POINT  89048.551          72566.258          104116.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FJ5                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  89070.903          72566.258          104139.057  1  
    END-POINT  89048.551          72566.258          104116.705  1  
    CENTRE-POINT   89070.903          72566.258          104116.705 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FJ1                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  89070.903          72566.258          104139.057  1
    END-POINT  89070.903          72566.258          104139.057  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FJ3                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  89070.903          72566.258          104240.657  1  
    END-POINT  89070.903          72566.258          104139.057  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIA                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  89070.903          72566.258          104240.657  1
    END-POINT  89070.903          72566.258          104240.657  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIB                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  89070.903          72566.258          104335.257  1  
    END-POINT  89070.903          72566.258          104240.657  1  
    CENTRE-POINT   89070.903          72566.258          104287.957 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FI6                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  89070.903          72566.258          104335.257  1
    END-POINT  89070.903          72566.258          104335.257  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FI7                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  89070.903          72566.258          104436.856  1  
    END-POINT  89070.903          72566.258          104335.257  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FI4                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  89070.903          72566.258          104436.856  1
    END-POINT  89070.903          72566.258          104436.856  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FI5                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT  89070.903          72566.258          104481.557  1  
    END-POINT  89070.903          72566.258          104436.856  1  
    CENTRE-POINT   89070.903          72566.258          104459.207 
    BRANCH1-POINT  89096.303          72566.258          104459.207  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FI1                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  89070.903          72566.258          104481.557  1
    END-POINT  89070.903          72566.258          104481.557  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FI3                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  89096.303          72566.258          104459.207  0.5
    END-POINT  89096.303          72566.258          104459.207  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIF                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  89096.303          72566.258          104459.207  0.5  
    END-POINT  89197.903          72566.258          104459.207  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIE                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  89197.903          72566.258          104459.207  0.5
    END-POINT  89197.903          72566.258          104459.207  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIH                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  89197.903          72566.258          104459.207  0.5  SW FEMALE 
    END-POINT  89285.029          72566.258          104459.207  0.5  
    CENTRE-POINT   89243.753          72566.258          104459.207 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIG                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT  89285.029          72566.258          104459.207  0.5  
    END-POINT  89307.127          72566.258          104459.207  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FIK                 
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  89070.903          72566.258          104583.157  1  
    END-POINT  89070.903          72566.258          104481.557  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FHZ                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  89070.903          72566.258          104583.157  1
    END-POINT  89070.903          72566.258          104583.157  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FI0                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  89070.903          72566.258          104677.957  1  
    END-POINT  89070.903          72566.258          104583.157  1  
    CENTRE-POINT   89070.903          72566.258          104630.457 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FHV                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  89070.903          72566.258          104677.957  1
    END-POINT  89070.903          72566.258          104677.957  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FHW                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  89070.903          72566.258          104677.957  1  PL
    END-POINT  89070.903          72566.258          105893.370  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTM                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  89070.903          72566.258          105893.370  1
    END-POINT  89070.903          72566.258          105893.370  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTO                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  89048.551          72566.258          105915.722  1  
    END-POINT  89070.903          72566.258          105893.370  1  
    CENTRE-POINT   89070.903          72566.258          105915.722 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTK                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  89048.551          72566.258          105915.722  1
    END-POINT  89048.551          72566.258          105915.722  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTQ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  89048.551          72566.258          105915.722  1  PL
    END-POINT  88393.255          72566.258          105915.722  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTP                 
    PIPING-SPEC DL
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  88790.077  72566.258 105915.722 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  88393.255          72566.258          105915.722  1
    END-POINT  88393.255          72566.258          105915.722  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTR                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  88370.903          72543.906          105915.722  1  
    END-POINT  88393.255          72566.258          105915.722  1  
    CENTRE-POINT   88370.903          72566.258          105915.722 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTH                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  88370.903          72543.906          105915.722  1
    END-POINT  88370.903          72543.906          105915.722  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTJ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  88370.903          72329.540          105915.722  1  PL
    END-POINT  88370.903          72543.906          105915.722  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D6L                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  88370.903          72329.540          105915.722  1
    END-POINT  88370.903          72329.540          105915.722  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D6M                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  88370.903          72329.540          105915.722  1  
    END-POINT  88370.903          72307.188          105938.074  1  
    CENTRE-POINT   88370.903          72307.188          105915.722 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D6J                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  88370.903          72307.188          105938.074  1
    END-POINT  88370.903          72307.188          105938.074  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DB7                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  88370.903          72307.188          105938.074  1  PL
    END-POINT  88370.903          72307.188          106329.363  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DB6                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  88370.903          72307.188          106329.363  1
    END-POINT  88370.903          72307.188          106329.363  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DB8                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT      88370.903  72307.188 106380.163 
    BRANCH1-POINT  88370.903          72307.188          106329.363  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DB4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  88370.903  72307.188 106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0007-01
PIPE
    END-POINT  86074.673          72566.258          104116.701  1  PL
    END-POINT  86249.923          72566.258          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWS                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  86074.673          72566.258          104116.701  1
    END-POINT  86074.673          72566.258          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWR                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT  86039.875          72566.258          104116.701  1  
    END-POINT  86074.673          72566.258          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWQ                 
    PIPING-SPEC DL
    INSULATION-ON 
GASKET
    END-POINT  86035.811          72566.258          104116.701  1
    END-POINT  86039.875          72566.258          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWO                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS  86035.811          72566.258          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWP                 
INSTRUMENT
    END-POINT  85781.811          72566.258          104116.701  1  
    END-POINT  86035.811          72566.258          104116.701  1  
    CENTRE-POINT   85908.811          72566.258          104116.701 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWM                 
    TAG 12E$FV$7105                     
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  85777.747          72566.258          104116.701  1
    END-POINT  85781.811          72566.258          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWK                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS  85777.747          72566.258          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWL                 
FLANGE
    END-POINT  85777.747          72566.258          104116.701  1  
    END-POINT  85742.949          72566.258          104116.701  1  
    SKEY FLSW
    CONTINUATION 
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BWJ                 
    PIPING-SPEC DL
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  85742.949          72566.258          104116.701 
    PIPELINE-REFERENCE C210-4910-12E-FG-0055-PRM-0007-02
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING SCH 80
ITEM-CODE FLGWNK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE, w/ 1/2" SW TAPS - OOS
    RATING CL1500
    RATING SCH 80
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 6" LG
    RATING SCH 160
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING CL1500
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 6 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS - OOS
    RATING CL1500
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 3" LG
    RATING SCH 160
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING CL3000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A350-LF2 CL1, CL1500  , GA-1514L
    RATING CL1500
ITEM-CODE TEESTR1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING CL3000
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING CL3000
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
