ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0004-02
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0017-PRM-0004-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0016-2"
    ATTRIBUTE83   UTIL. STEAM DIST.
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0017-2"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 149655.829          71331.106          103632.152  0.75  
    END-POINT 149655.829          71331.106          103660.728  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRV                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 149655.829  71331.106 103646.440 
    UNDIMENSIONED
    TEXT 12E$PIT$0155
VALVE
    END-POINT 149655.829          71331.106          103576.140  0.75  SW FEMALE 
    END-POINT 149655.829          71331.106          103632.152  0.75  
    CENTRE-POINT  149655.829          71331.106          103604.940 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRS                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 149655.829          71331.106          103576.140  0.75
    END-POINT 149655.829          71331.106          103576.140  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRR                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
COUPLING
    END-POINT 149655.829          71331.106          103474.540  0.75  
    END-POINT 149655.829          71331.106          103576.140  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRQ                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149655.829          71331.106          103474.540  0.75
    END-POINT 149655.829          71331.106          103474.540  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
OLET
    CENTRE-POINT     149655.829  71331.106 103430.090 
    BRANCH1-POINT 149655.829          71331.106          103474.540  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRO                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149655.829  71331.106 103430.090  2
    END-POINT 149655.829  71331.106 103430.090  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 149655.829          71650.778          103430.091  2  BW
    END-POINT 149655.829          71013.430          103430.090  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRK                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149655.829          71650.778          103430.091  2
    END-POINT 149655.829          71650.778          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRM                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 149655.829          71013.430          103430.090  2
    END-POINT 149655.829          71013.430          103430.090  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRJ                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 149655.829          71013.430          103430.090  2  
    END-POINT 149579.629          70937.230          103430.090  2  
    CENTRE-POINT  149655.829          70937.230          103430.090 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRI                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 149579.629          70937.230          103430.090  2
    END-POINT 149579.629          70937.230          103430.090  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FO4                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 149579.629          70937.230          103430.090  2  BW
    END-POINT 149414.529          70937.230          103416.630  1  
    SKEY ESSW
    FABRICATION-ITEM
    ITEM-CODE SWGECC2X1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FO2                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 149414.529          70937.230          103416.630  1
    END-POINT 149414.529          70937.230          103416.630  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FO5                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
FLANGE
    END-POINT 149393.955          70937.230          103416.630  1  
    END-POINT 149414.529          70937.230          103416.630  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 149393.955          70937.230          103416.630  1
    END-POINT 149390.775          70937.230          103416.630  1
    CONTINUATION 
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
INSTRUMENT
    END-POINT 149180.775          70937.230          103416.630  1  
    END-POINT 149390.775          70937.230          103416.630  1  
    CENTRE-POINT  149285.775          70937.230          103416.630 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FNA                 
    TAG 12E$PV$0155                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 149180.775          70937.230          103416.630 
    PIPELINE-REFERENCE C210-4910-12E-S-0016-PRM-0004-01
TEE
    END-POINT 149655.829          71650.778          103430.091  2  
    END-POINT 149655.829          71777.778          103430.091  2  
    CENTRE-POINT  149655.829          71714.278          103430.091 
    BRANCH1-POINT 149655.829          71714.278          103493.591  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           1.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRX                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 149655.829          71777.778          103430.091  2
    END-POINT 149655.829          71777.778          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRY                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 149655.829          71714.278          103493.591  2
    END-POINT 149655.829          71714.278          103493.591  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DR9                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 149655.829          71714.278          103493.591  2  
    END-POINT 149655.828          71714.278          103877.445  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CS0                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 149655.829  71714.278 103692.746 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 149655.828          71714.278          103877.445 
    PIPELINE-REFERENCE C210-4910-12E-S-0018-PRM-0004-01
PIPE
    END-POINT 149655.829          71777.778          103430.091  2  BW
    END-POINT 149655.829          72392.285          103430.091  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSF                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149655.829          72392.285          103430.091  2
    END-POINT 149655.829          72392.285          103430.091  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSH                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 149655.829          72468.485          103353.891  2  
    END-POINT 149655.829          72392.285          103430.091  2  
    CENTRE-POINT  149655.829          72468.485          103430.091 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSR                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 149655.829          72468.485          103353.891  2
    END-POINT 149655.829          72468.485          103353.891  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSS                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 149655.829          72468.485          102893.663  2  BW
    END-POINT 149655.829          72468.485          103353.891  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CST                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 149655.829  72468.485 103101.001 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 149655.829          72468.485          102893.663  2
    END-POINT 149655.829          72468.485          102893.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSU                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
TEE
    END-POINT 149719.329          72468.485          102830.163  2  
    END-POINT 149592.329          72468.485          102830.163  2  
    CENTRE-POINT  149655.829          72468.485          102830.163 
    BRANCH1-POINT 149655.829          72468.485          102893.663  2  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CSV                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 149719.329          72468.485          102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0004-01
MATERIALS
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
    RATING 3000LB
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING 800LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL2X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE SWGECC2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE ECC BLE x PSE, A234-WPB, SCH 40 x SCH 80
    RATING SCH 40
ITEM-CODE N/A
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RF, CL600, A105N, SCH 80 BORE
    RATING CL600
    RATING 80
ITEM-CODE TEESTR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH STD
    RATING STD
