ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0030-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0030-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0033-6"
    ATTRIBUTE83   12E-PE-0031-8"
    ATTRIBUTE84   C210-4902-12E-0006-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0030-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 147349.938          69655.580          104382.282  2  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT 147349.938          69687.330          104382.282  2
    SKEY FLBL
GASKET
    END-POINT 147349.938          69655.580          104382.282  2
    END-POINT 147349.938          69652.405          104382.282  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9O                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 147349.938          69655.580          104382.282 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9P                 
VALVE
    END-POINT 147349.938          69360.305          104382.282  2  
    END-POINT 147349.938          69652.405          104382.282  2  
    CENTRE-POINT  147349.938          69506.355          104382.282 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT 147349.938          69360.305          104382.282  2
    END-POINT 147349.938          69357.130          104382.282  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9S                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 147349.938          69357.130          104382.282 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9T                 
FLANGE
    END-POINT 147349.938          69357.130          104382.282  2  
    END-POINT 147349.938          69277.628          104382.282  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9U                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 147349.938          69277.628          104382.282  2
    END-POINT 147349.938          69277.628          104382.282  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9V                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     147349.938  69112.528 104382.282 
    BRANCH1-POINT 147349.938          69277.628          104382.282  2  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X2
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9W                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 147349.938  69112.528 104382.282  8
    END-POINT 147349.938  69112.528 104382.282  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9X                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 147349.938          69112.528          103882.282  8  BW
    END-POINT 147349.938          69112.528          105231.044  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C9Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 147349.938  69112.528 104618.960 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 147349.938          69112.528          103882.282  8
    END-POINT 147349.938          69112.528          103882.282  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA1                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 147349.938          69112.528          105231.044  8
    END-POINT 147349.938          69112.528          105231.044  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA2                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 147172.138          69112.528          103704.482  8  
    END-POINT 147527.738          69112.528          103704.482  8  
    CENTRE-POINT  147349.938          69112.528          103704.482 
    BRANCH1-POINT 147349.938          69112.528          103882.282  8  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 147172.138          69112.528          103704.482 
    PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0004-01
TEE
    END-POINT 147349.938          69112.528          105231.044  8  
    END-POINT 147349.938          69112.528          105586.644  8  
    CENTRE-POINT  147349.938          69112.528          105408.844 
    BRANCH1-POINT 147349.938          69290.328          105408.844  8  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR8X8
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 147349.938          69112.528          105586.644  8
    END-POINT 147349.938          69112.528          105586.644  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA4                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 147349.938          69290.328          105408.844  8
    END-POINT 147349.938          69290.328          105408.844  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA5                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 147349.938          69290.328          105408.844  8  BW
    END-POINT 147349.938          70247.788          105408.844  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA6                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 147349.938  69745.620 105408.844 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 147349.938          70247.788          105408.844  8
    END-POINT 147349.938          70247.788          105408.844  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA8                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 147349.938          70247.788          105408.844  8  
    END-POINT 147654.738          70552.588          105408.844  8  
    CENTRE-POINT  147349.938          70552.588          105408.844 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CA9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 147654.738          70552.588          105408.844  8
    END-POINT 147654.738          70552.588          105408.844  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CAA                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 148710.226          70552.588          105409.204  8  BW
    END-POINT 147654.738          70552.588          105408.844  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXG                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 148000.089  70552.588 105408.962  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXH                 
    TAG                         S02-B-3-8                       
WELD
    END-POINT 148710.226          70552.588          105409.204  8
    END-POINT 148710.226          70552.588          105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXE                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 148849.926          70552.588          105409.204  8  
    END-POINT 148710.226          70552.588          105409.204  8  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK8
    WEIGHT          52.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DX1                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 148849.926          70552.588          105409.204  8
    END-POINT 148853.106          70552.588          105409.204  8
    FABRICATION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DX2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 148853.106          70552.588          105409.204 
    BOLT-DIA           1.125
    BOLT-QUANTITY              12
    BOLT-LENGTH           9.500
    WEIGHT          22.923
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DX3                 
MISC-COMPONENT
    END-POINT 148881.556          70552.588          105409.204  8  
    END-POINT 148853.106          70552.588          105409.204  8  
    CENTRE-POINT 148867.331  70552.588 105409.204 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC8
    WEIGHT          23.252
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DWX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT 148881.556          70552.588          105409.204  8
    END-POINT 148884.736          70552.588          105409.204  8
    FABRICATION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DWZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
VALVE
    END-POINT 148884.736          70552.588          105409.204  8  
    END-POINT 149545.136          70552.588          105409.204  8  
    CENTRE-POINT  149214.936          70552.588          105409.204 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT8
    WEIGHT         463.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CAJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 149548.316          70552.588          105409.204  8
    END-POINT 149545.136          70552.588          105409.204  8
    CONTINUATION 
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CY8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 149548.316          70552.588          105409.204  8  
    END-POINT 149688.016          70552.588          105409.204  8  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          52.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CY7                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 149688.016          70552.588          105409.204 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0004-01
PIPE
    END-POINT 147349.938          69112.528          106083.325  8  BW
    END-POINT 147349.938          69112.528          105586.644  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CDU                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 147349.938  69112.528 105817.419 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 147349.938          69112.528          106083.325  8
    END-POINT 147349.938          69112.528          106083.325  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CDW                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT 147349.938          69112.528          106083.325  8  
    END-POINT 147349.938          69112.528          106235.725  4  
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON8X4
    WEIGHT           9.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CDX                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 147349.938          69112.528          106235.725  4
    END-POINT 147349.938          69112.528          106235.725  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CDY                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 147349.938          69112.528          106343.675  4  
    END-POINT 147349.938          69112.528          106235.725  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CDZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 147349.938          69112.528          106343.675  4
    END-POINT 147349.938          69112.528          106346.850  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CE0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 147349.938          69112.528          106343.675 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CE1                 
VALVE
    END-POINT 147349.938          69112.528          106778.650  4  
    END-POINT 147349.938          69112.528          106346.850  4  
    CENTRE-POINT  147349.938          69112.528          106562.750 
    SKEY VTFL
    CONTINUATION 
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CE2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
END-CONNECTION-PIPELINE 
    CO-ORDS 147349.938          69112.528          106778.650 
    PIPELINE-REFERENCE C210-4910-12E-PE-0039-PRM-0004-01
MATERIALS
ITEM-CODE FLGBLD2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING 600LB
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT2
    BOLT_DIA 15.875
    BOLT_LEN 110
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE WOL8X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION WELDOLET , SCH 160, A105N, NACE
    RATING 80
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE TEESTR8X8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
ITEM-CODE FLGWNK8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 28.575
    BOLT_LEN 241.3
    CATALOG SPC-PT-NS-80272
    DESCRIPTION STUD BOLT  0
    RATING CL600
ITEM-CODE LNBDSPEC8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE VALVGAT8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600 , GO, GA-600HSG, NACE
    RATING 600LB
ITEM-CODE REDCON8X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER CONC BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT4
    BOLT_DIA 22.225
    BOLT_LEN 145
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
