ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0050-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-PE-0050-PRM-0009-01
    ATTRIBUTE82   12E-PE-0048-2"
    ATTRIBUTE83   12E-EA-0104B
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0050-2"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 166571.850          57681.340          102863.000  1  
    END-POINT 166571.850          57681.340          102834.298  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXH                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166571.850          57681.340          102941.250  1  SW FEMALE 
    END-POINT 166571.850          57681.340          102863.000  1  
    CENTRE-POINT  166571.850          57681.340          102898.950 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 166571.850          57681.340          102941.250  1
    END-POINT 166571.850          57681.340          102941.250  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXE                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166571.850          57681.340          103042.850  1  
    END-POINT 166571.850          57681.340          102941.250  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXB                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          57681.340          103042.850  1
    END-POINT 166571.850          57681.340          103042.850  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXC                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166571.850  57681.340 103100.000 
    BRANCH1-POINT 166571.850          57681.340          103042.850  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HX9                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850  57681.340 103100.000  2
    END-POINT 166571.850  57681.340 103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXA                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          57781.340          103100.000  2  BW
    END-POINT 166571.850          57581.340          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GR2                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          57781.340          103100.000  2
    END-POINT 166571.850          57781.340          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GR3                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          57581.340          103100.000  2
    END-POINT 166571.850          57581.340          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAM                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          57501.838          103100.000  2  
    END-POINT 166571.850          57581.340          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAH                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          57501.838          103100.000  2
    END-POINT 166571.850          57498.658          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          57501.838          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAJ                 
VALVE
    END-POINT 166571.850          57206.558          103100.000  2  
    END-POINT 166571.850          57498.658          103100.000  2  
    CENTRE-POINT  166571.850          57352.608          103100.000 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GLC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 45 UP
GASKET
    END-POINT 166571.850          57206.558          103100.000  2
    END-POINT 166571.850          57203.378          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GLD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          57206.558          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GLE                 
FLANGE
    END-POINT 166571.850          57203.378          103100.000  2  
    END-POINT 166571.850          57123.876          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GLB                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          57123.876          103100.000  2
    END-POINT 166571.850          57123.876          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GR0                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          57123.876          103100.000  2  BW
    END-POINT 166571.850          56833.740          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GQZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          56833.740          103100.000  2
    END-POINT 166571.850          56833.740          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GR1                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166571.850          56757.540          103176.200  2  
    END-POINT 166571.850          56833.740          103100.000  2  
    CENTRE-POINT  166571.850          56757.540          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GLA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166571.850  56757.540 103100.000  2
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GQ4                 
    TAG                         BS01-2                          
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G31-C-1
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  2
    ERECTION-ITEM
    SPECIAL-STATUS 
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 166571.850          56757.540          103176.200  2
    END-POINT 166571.850          56757.540          103176.200  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GT1                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.882          56757.540          105015.129  2  BW
    END-POINT 166571.850          56757.540          103176.200  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 166571.865  56757.540 104075.406 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 166571.882          56757.540          105015.129  2
    END-POINT 166571.882          56757.540          105015.129  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GT0                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166571.882          56757.540          105015.129  2  
    END-POINT 166547.097          56757.540          105074.966  2  
    CENTRE-POINT  166571.882          56757.540          105050.181 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GMF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT 166547.097          56757.540          105074.966  2
    END-POINT 166547.097          56757.540          105074.966  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXO                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166345.782          56757.540          105276.281  2  BW
    END-POINT 166547.097          56757.540          105074.966  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXM                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166345.782          56757.540          105276.281  2
    END-POINT 166345.782          56757.540          105276.281  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXN                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166291.901          56833.740          105330.163  2  
    END-POINT 166345.782          56757.540          105276.281  2  
    CENTRE-POINT  166291.901          56757.540          105330.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166291.901          56833.740          105330.163  2
    END-POINT 166291.901          56833.740          105330.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HXL                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166291.901          56833.740          105330.163  2  BW
    END-POINT 166291.901          59294.040          105330.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166291.901          59294.040          105330.163  2
    END-POINT 166291.901          59294.040          105330.163  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSI                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166291.901          59421.040          105330.163  2  
    END-POINT 166291.901          59294.040          105330.163  2  
    CENTRE-POINT  166291.901          59357.540          105330.163 
    BRANCH1-POINT 166291.901          59357.540          105266.663  2  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           2.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 166291.901          59421.040          105330.163 
    PIPELINE-REFERENCE C210-4910-12E-PE-0048-PRM-0009-01
ELBOW
    END-POINT 166571.850          57781.340          103100.000  2  
    END-POINT 166571.850          57857.540          103176.200  2  
    CENTRE-POINT  166571.850          57857.540          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GLQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166571.850  57857.540 103100.000  2
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GQ7                 
    TAG                         BS01-2                          
WELD
    END-POINT 166571.850          57857.540          103176.200  2
    END-POINT 166571.850          57857.540          103176.200  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GNG                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          57857.540          103420.498  2  BW
    END-POINT 166571.850          57857.540          103176.200  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HA1                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          57857.540          103420.498  2
    END-POINT 166571.850          57857.540          103420.498  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAB                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          57857.540          103500.000  2  
    END-POINT 166571.850          57857.540          103420.498  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAA                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          57857.540          103503.180  2
    END-POINT 166571.850          57857.540          103500.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          57857.540          103503.180 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAZ                 
VALVE
    END-POINT 166571.850          57857.540          103503.180  2  
    END-POINT 166571.850          57857.540          103795.280  2  
    CENTRE-POINT  166571.850          57857.540          103649.230 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 166571.850          57857.540          103798.460  2
    END-POINT 166571.850          57857.540          103795.280  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HB3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          57857.540          103798.460 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HB4                 
FLANGE
    END-POINT 166571.850          57857.540          103798.460  2  
    END-POINT 166571.850          57857.540          103877.962  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HB2                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          57857.540          103877.962  2
    END-POINT 166571.850          57857.540          103877.962  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HB7                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          57857.540          103877.962  2  BW
    END-POINT 166571.850          57857.540          104728.960  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HB6                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          57857.540          104728.960  2
    END-POINT 166571.850          57857.540          104728.960  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HB8                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 166495.650          57857.540          104805.160  2  
    END-POINT 166571.850          57857.540          104728.960  2  
    CENTRE-POINT  166571.850          57857.540          104805.160 
    BRANCH1-POINT 166571.850  57857.540 104805.160  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GNB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166838.517  57857.540 104805.160  2
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H6F                 
    TAG                         DS03-A-3-2                      
PIPE
    END-POINT 166571.850          57857.540          104805.160  2  BW
    END-POINT 167371.850  57857.540 104805.160  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 167371.850  57857.540 104805.160 
SUPPORT
    CO-ORDS 167100.000  57857.540 104805.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H6H                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 167100.000  57857.540 104805.160 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 166495.650          57857.540          104805.160  2
    END-POINT 166495.650          57857.540          104805.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOI                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166495.650          57857.540          104805.160  2  BW
    END-POINT 161887.472          57857.540          104805.160  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GN4                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 162111.272  57857.540 104805.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GNI                 
    TAG                         S01-A-6-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE LS11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 162111.272  57857.540 104805.160 
    TEXT TRIM SHOE LENGTH TO 375mm
    UNDIMENSIONED
MESSAGE
    CO-ORDS 162134.453  57857.540 104805.160 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 161887.472          57857.540          104805.160  2
    END-POINT 161887.472          57857.540          104805.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GNT                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 161887.472          57857.540          104805.160  2  
    END-POINT 161811.272          57857.540          104881.360  2  
    CENTRE-POINT  161811.272          57857.540          104805.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GNP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 161811.272          57857.540          104881.360  2
    END-POINT 161811.272          57857.540          104881.360  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GP9                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 161811.272          57857.540          104881.360  2  BW
    END-POINT 161811.272          57857.540          108228.532  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GP8                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 161811.272          57857.540          108228.532  2
    END-POINT 161811.272          57857.540          108228.532  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPA                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 161811.272          57857.540          108228.532  2  
    END-POINT 161811.272          57781.340          108304.732  2  
    CENTRE-POINT  161811.272          57857.540          108304.732 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GO2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 161811.272          57781.340          108304.732  2
    END-POINT 161811.272          57781.340          108304.732  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOT                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 161811.272          57781.340          108304.732  2  BW
    END-POINT 161811.272          57129.229          108304.732  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 161811.272          57129.229          108304.732  2
    END-POINT 161811.272          57129.229          108304.732  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOU                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 161811.272          57129.229          108304.732  2  
    END-POINT 161811.272          57053.029          108380.932  2  
    CENTRE-POINT  161811.272          57053.029          108304.732 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GO8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 161811.272          57053.029          108380.932  2
    END-POINT 161811.272          57053.029          108380.932  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPU                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 161811.272          57053.029          108380.932  2  BW
    END-POINT 161811.272          57053.029          108758.075  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPT                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 161811.272  57053.029 108520.743 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 161811.272          57053.029          108758.075  2
    END-POINT 161811.272          57053.029          108758.075  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPW                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 161811.272          57053.029          108758.075  2  
    END-POINT 161735.072          57053.029          108834.275  2  
    CENTRE-POINT  161811.272          57053.029          108834.275 
    BRANCH1-POINT 161811.272  57053.029 108834.275  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 161977.938  57053.029 108834.275  2
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPP                 
    TAG                         DS03-A-2-2                      
PIPE
    END-POINT 161811.272          57053.029          108834.275  2  BW
    END-POINT 162311.272  57053.029 108834.275  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 162311.272  57053.029 108834.275 
SUPPORT
    CO-ORDS 162099.894  57053.029 108834.275  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPQ                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 162099.500  57053.029 108834.275 
    TEXT PS
WELD
    END-POINT 161735.072          57053.029          108834.275  2
    END-POINT 161735.072          57053.029          108834.275  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_9G4                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 160425.014          57053.029          108834.275  2  
    END-POINT 161735.072          57053.029          108834.275  2  
    CONTINUATION 
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_9BY                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 161197.107  57053.029 108834.275 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 160425.014          57053.029          108834.275 
    PIPELINE-REFERENCE C210-4910-12E-PE-0050-SB-0008-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING SCH 160
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING CL600
    RATING 160
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 160, NACE
    RATING SCH 160
ITEM-CODE SUPEB-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=558mm BS01-2
ITEM-CODE G31-C-1
    DESCRIPTION GUIDE AND LINE STOP FOR BASE SUPPORT G31-C-1
ITEM-CODE 45LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 160, NACE
    RATING SCH 160
ITEM-CODE SUPEB- 2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  800 mm DUMMY LEG SUPPORT DS03-A-3-2
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
ITEM-CODE SUPTS-2_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-2
ITEM-CODE LS11
    DESCRIPTION LINE STOP FOR SHOE LS11
ITEM-CODE SUPEB- 2_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  500 mm DUMMY LEG SUPPORT BOP DS03-A-2-2
