ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0036-PRM-0004-02
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0036-PRM-0004-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0020-6"
    ATTRIBUTE83   12-PE-0039-4"
    ATTRIBUTE84   C210-4902-12E-0007-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0036-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 148004.852          70023.618          107741.140  1  
    END-POINT 148004.852          70023.618          107769.842  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXT                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 148004.852          70023.618          107662.890  1  SW FEMALE 
    END-POINT 148004.852          70023.618          107741.140  1  
    CENTRE-POINT  148004.852          70023.618          107705.190 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 148004.852          70023.618          107662.890  1
    END-POINT 148004.852          70023.618          107662.890  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXQ                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 148004.852          70023.618          107561.290  1  
    END-POINT 148004.852          70023.618          107662.890  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXN                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 148004.852          70023.618          107561.290  1
    END-POINT 148004.852          70023.618          107561.290  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXO                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     148004.852  70023.618 107477.150 
    BRANCH1-POINT 148004.852          70023.618          107561.290  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXL                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 148004.852  70023.618 107477.150  4
    END-POINT 148004.852  70023.618 107477.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DXM                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 148204.852          70023.614          107477.150  4  BW
    END-POINT 147454.586          70023.626          107477.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CEN                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 148000.000  70023.618 107477.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D64                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 148204.852          70023.614          107477.150  4
    END-POINT 148204.852          70023.614          107477.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CEP                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 147454.586          70023.626          107477.150  4
    END-POINT 147454.586          70023.626          107477.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D90                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 147245.290          70023.626          107477.150  4  
    END-POINT 147454.586          70023.626          107477.150  4  
    CENTRE-POINT  147349.938          70023.626          107477.150 
    BRANCH1-POINT 147349.938          69918.978          107477.150  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CEK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 147245.290          70023.626          107477.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0039-PRM-0004-01
ELBOW
    END-POINT 148357.252          70023.614          107324.750  4  
    END-POINT 148204.852          70023.614          107477.150  4  
    CENTRE-POINT  148357.252          70023.614          107477.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CEQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 148357.252          70023.614          107324.750  4
    END-POINT 148357.252          70023.614          107324.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CER                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 148357.252          70023.614          107324.750  4  BW
    END-POINT 148357.252          70023.614          105994.127  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CES                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 148357.252  70023.614 106664.778 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 148357.252          70023.614          105994.127  4
    END-POINT 148357.252          70023.614          105994.127  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DYV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 148357.252          70023.614          105994.127  4  
    END-POINT 148357.252          69871.214          105841.727  4  
    CENTRE-POINT  148357.252          70023.614          105841.727 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DYT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 148357.252          69871.214          105841.727  4
    END-POINT 148357.252          69871.214          105841.727  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E89                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 148357.252          69763.264          105841.727  4  
    END-POINT 148357.252          69871.214          105841.727  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZB                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 148357.252          69763.264          105841.727  4
    END-POINT 148357.252          69760.084          105841.727  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 148357.252          69760.084          105841.727 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZD                 
VALVE
    END-POINT 148357.252          69328.284          105841.727  4  
    END-POINT 148357.252          69760.084          105841.727  4  
    CENTRE-POINT  148357.252          69544.184          105841.727 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CF1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 148357.252          69325.104          105841.727  4
    END-POINT 148357.252          69328.284          105841.727  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 148357.252          69325.104          105841.727  4  
    END-POINT 148357.252          69309.354          105841.727  4  
    CENTRE-POINT 148357.252  69317.229 105841.727 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 148357.252          69306.174          105841.727  4
    END-POINT 148357.252          69309.354          105841.727  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 148357.252          69306.174          105841.727 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8K                 
FLANGE
    END-POINT 148357.252          69306.174          105841.727  4  
    END-POINT 148357.252          69198.224          105841.727  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8I                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 148357.252          69198.224          105841.727  4
    END-POINT 148357.252          69198.224          105841.727  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8R                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 148357.252          68856.462          105841.727  4  BW
    END-POINT 148357.252          69198.224          105841.727  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8P                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 148357.252          68856.462          105841.727  4
    END-POINT 148357.252          68856.462          105841.727  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8Q                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 148357.252          68748.512          105841.727  4  
    END-POINT 148357.252          68856.462          105841.727  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8M                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 148357.252          68748.512          105841.727  4
    END-POINT 148357.252          68745.332          105841.727  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 148357.252          68745.332          105841.727 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E8O                 
VALVE
    END-POINT 148357.252          68745.332          105841.727  4  
    END-POINT 148357.252          68313.532          105841.727  4  
    CENTRE-POINT  148357.252          68529.432          105841.727 
    SKEY VGFL
    FABRICATION-ITEM
    ITEM-CODE VALVGLB4
    WEIGHT         106.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DY6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 148357.252          68313.532          105841.727  4
    END-POINT 148357.252          68310.352          105841.727  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZ7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 148357.252          68310.352          105841.727 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZ8                 
FLANGE
    END-POINT 148357.252          68310.352          105841.727  4  
    END-POINT 148357.252          68202.402          105841.727  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DYB                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 148357.252          68202.402          105841.727 
    PIPELINE-REFERENCE C210-4910-12E-PE-0036-PRM-0004-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE LNBDSPEC4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION STUD BOLT  0
    RATING CL600
ITEM-CODE FLGWNK4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE VALVGLB4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.34
    DESCRIPTION GLOBE VALVE RF, A216-WCB, CL600  , GL-600HS, NACE
    RATING CL600
