ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0013-PRM-0003-05
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0013-PRM-0003-05
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-4002
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-04
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0013-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
VALVE
    END-POINT 162566.538          68838.115          105307.813  4  
    END-POINT 162566.538          68406.315          105307.813  4  
    CENTRE-POINT  162566.538          68622.215          105307.813 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_ITX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 162566.538          68841.295          105307.813  4
    END-POINT 162566.538          68838.115          105307.813  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IU1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
GASKET
    END-POINT 162566.538          68406.315          105307.813  4
    END-POINT 162566.538          68403.135          105307.813  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_ITY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 162566.538          68403.135          105307.813 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_ITZ                 
FLANGE
    END-POINT 162566.538          68841.295          105307.813  4  
    END-POINT 162566.538          68949.245          105307.813  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IU0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 162566.538          68949.245          105307.813 
    PIPELINE-REFERENCE C210-4910-12E-PE-0013-PRM-0003-04
FLANGE
    END-POINT 162566.538          68403.135          105307.813  4  
    END-POINT 162566.538          68295.185          105307.813  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_ITV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162566.538          68295.185          105307.813  4
    END-POINT 162566.538          68295.185          105307.813  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_ITW                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 162566.538          68295.185          105307.813  4  
    END-POINT 162566.538          68142.785          105155.413  4  
    CENTRE-POINT  162566.538          68142.785          105307.813 
    BRANCH1-POINT 162566.538  68142.785 105307.813  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 162566.538  67959.452 105307.813  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIN                 
    TAG                         DS03-A-2-4                      
PIPE
    END-POINT 162566.538          68142.785          105307.813  89  BW
    END-POINT 162566.538  67592.785 105307.813  89  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 162566.538  67592.785 105307.813 
SUPPORT
    CO-ORDS 162566.538  67790.785 105307.813  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K5Z                 
    TAG                         S01-A-3-3 H=63MM                
WELD
    END-POINT 162566.538          68142.785          105155.413  4
    END-POINT 162566.538          68142.785          105155.413  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIP                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162566.538          68142.785          105155.413  4  BW
    END-POINT 162566.718          68142.785          104876.952  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 162566.651  68142.785 104979.934 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 162566.718          68142.785          104876.952  4
    END-POINT 162566.718          68142.785          104876.952  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIR                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 162566.718          68142.785          104769.002  4  
    END-POINT 162566.718          68142.785          104876.952  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 162566.718          68142.785          104769.002  4
    END-POINT 162566.718          68142.785          104765.827  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 162566.718          68142.785          104769.002 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIU                 
VALVE
    END-POINT 162566.718          68142.785          104765.827  4  
    END-POINT 162566.718          68142.785          104334.027  4  
    CENTRE-POINT  162566.718          68142.785          104549.927 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 162566.718          68142.785          104334.027  4
    END-POINT 162566.718          68142.785          104330.852  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 162566.718          68142.785          104334.027 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIY                 
FLANGE
    END-POINT 162566.718          68142.785          104330.852  4  
    END-POINT 162566.718          68142.785          104222.902  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GIZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162566.718          68142.785          104222.902  4
    END-POINT 162566.718          68142.785          104222.902  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ0                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 162566.718          68142.785          104222.902  4  
    END-POINT 162566.718          68295.185          104070.502  4  
    CENTRE-POINT  162566.718          68142.785          104070.502 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 162566.718          68295.185          104070.502  4
    END-POINT 162566.718          68295.185          104070.502  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HTQ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162566.718          68960.148          104070.502  4  BW
    END-POINT 162566.718          68295.185          104070.502  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HTO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162566.718          68960.148          104070.502  4
    END-POINT 162566.718          68960.148          104070.502  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HTP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 162566.718          68960.148          104070.502  4  
    END-POINT 162566.718          69112.548          103918.102  4  
    CENTRE-POINT  162566.718          69112.548          104070.502 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 162566.718          69112.548          103918.102  4
    END-POINT 162566.718          69112.548          103918.102  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ6                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162566.718          69112.548          103918.102  4  BW
    END-POINT 162566.718          69112.528          103809.130  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 162566.718          69112.528          103809.130  4
    END-POINT 162566.718          69112.528          103809.130  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ8                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 162423.970          69112.528          103679.082  6  
    END-POINT 162709.466          69112.528          103679.082  6  
    CENTRE-POINT  162566.718          69112.528          103679.082 
    BRANCH1-POINT 162566.718          69112.528          103809.130  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 162423.970          69112.528          103679.082 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0003-01
MATERIALS
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION DUMMY SUPPORT DS03-A-2-4
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3 H=63MM
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE BOLT4
    BOLT_DIA 22.225
    BOLT_LEN 145
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
