ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-RP-0010-PRM-0009-01
PIPING-SPEC AST
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-RP-0010-PRM-0009-01
    ATTRIBUTE70   V
    ATTRIBUTE82   12E-RP-0009-2"
    ATTRIBUTE83   VENT/ATM
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AST
    ATTRIBUTE95   12E-RP-0010-2"-AST
    ATTRIBUTE97   RP
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 164777.388          65100.160          110115.328  2  PL
    END-POINT 164777.388          65100.160          111115.328  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IE5                 
    PIPING-SPEC AST
FLOW-ARROW
    CO-ORDS 164777.388  65100.160 110886.072 
    FLOW 1
    SKEY FLOW
MESSAGE
    CO-ORDS 164777.388  65100.160 111115.328 
    TEXT TO ATM (NOTE 2)(NOTE 3)
    UNDIMENSIONED
SUPPORT
    CO-ORDS 164777.388  65100.160 110615.328  2
    SKEY 53SP
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IEW                 
    TAG                         UB01                            
MESSAGE
    CO-ORDS 164777.388  65100.160 110615.328 
    TEXT FROM PU01-A-2 ON$LINE 12E-RP-0026-2"-AST
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS 164777.388          65100.160          111115.328 
PIPE
    END-POINT 164777.388          65100.160          109530.680  2  BW
    END-POINT 164777.388          65100.160          110115.328  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_IE3                 
    PIPING-SPEC AST
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164777.388          65100.160          109530.680  2
    END-POINT 164777.388          65100.160          109530.680  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HMN                 
    THICKNESS/RATING CL150
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AST
    INSULATION-ON 
FLANGE
    END-POINT 164777.388          65100.160          109467.180  2  
    END-POINT 164777.388          65100.160          109530.680  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HMJ                 
    PIPING-SPEC AST
    INSULATION-ON 
    TRACING-ON 
MESSAGE-SQUARE
    CO-ORDS 164777.388  65100.160 109467.180 
    TEXT SP-145
    UNDIMENSIONED
MESSAGE
    CO-ORDS 164777.388  65100.160 109467.180 
    TEXT ISOLATION$KIT
    UNDIMENSIONED
GASKET
    END-POINT 164777.388          65100.160          109467.180  2
    END-POINT 164777.388          65100.160          109464.000  2
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HMK                 
    PIPING-SPEC AST
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL150          
BOLT
    CO-ORDS 164777.388          65100.160          109467.180 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.250
    WEIGHT           0.728
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HML                 
FLANGE
    END-POINT 164777.388          65100.160          109464.000  2  
    END-POINT 164777.388          65100.160          109400.500  2  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           2.720
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HMC                 
    PIPING-SPEC ACV
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 164777.388          65100.160          109400.500 
    PIPELINE-REFERENCE C210-4910-12E-RP-0009-PRM-0009-01
MATERIALS
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A312 GR TP316, SCH 40S
    RATING SCH 40S
ITEM-CODE SUPUB-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION U BOLT GUIDE UB01
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL150, A182 GR. F316, SCH 40S BORE
    RATING CL150
    RATING SCH 40S
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 82.55
    CATALOG -
    DESCRIPTION 5/8 X 3 1/4 STUD BOLTS, CL150, A193-B8M CL.2 W/2 EA A194-8MA HVY HEX NUTS
    RATING CL150
