ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0002-PRM-0004-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   10
    ATTRIBUTE34   C210-4910-12E-S-0002-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -19
    ATTRIBUTE82   12E-S-0001-10"
    ATTRIBUTE83   12E-S-0003-8"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0002-10"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 149321.944          71248.803          102936.550  0.75  
    END-POINT 149321.944          71220.228          102936.550  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CM7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 149321.944  71234.515 102936.550 
    UNDIMENSIONED
    TEXT 12E$PIT$0151
VALVE
    END-POINT 149321.944          71304.815          102936.550  0.75  SW FEMALE 
    END-POINT 149321.944          71248.803          102936.550  0.75  
    CENTRE-POINT  149321.944          71276.015          102936.550 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CM4                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
WELD
    END-POINT 149321.944          71304.815          102936.550  0.75
    END-POINT 149321.944          71304.815          102936.550  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CM3                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 149321.944          71406.415          102936.550  0.75  
    END-POINT 149321.944          71304.815          102936.550  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CM2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149321.944          71406.415          102936.550  0.75
    END-POINT 149321.944          71406.415          102936.550  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FIW                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     149321.944  71557.230 102936.550 
    BRANCH1-POINT 149321.944          71406.415          102936.550  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL10X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FIT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149321.944  71557.230 102936.550  10
    END-POINT 149321.944  71557.230 102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FIV                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 149784.212          71557.230          102936.550  10  BW
    END-POINT 149072.432          71557.230          102936.550  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 149597.435  71557.230 102936.550 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 149784.212          71557.230          102936.550  10
    END-POINT 149784.212          71557.230          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CKC                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 149072.432          71557.230          102936.550  10
    END-POINT 149072.432          71557.230          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 149221.944  71557.230 102936.550  10
    END-POINT 149221.944  71557.230 102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     149221.944  71557.230 102936.550 
    BRANCH1-POINT 149221.944          71557.230          103087.363  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL10X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLR                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149221.944          71557.230          103087.363  0.75
    END-POINT 149221.944          71557.230          103087.363  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 149221.944          71557.230          103087.363  0.75  
    END-POINT 149221.944          71557.230          103188.963  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149221.944          71557.230          103188.963  0.75
    END-POINT 149221.944          71557.230          103188.963  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLU                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 149221.944          71557.230          103188.963  0.75  SW FEMALE 
    END-POINT 149221.944          71557.230          103244.975  0.75  
    CENTRE-POINT  149221.944          71557.230          103217.763 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 149221.944          71557.230          103244.975  0.75  
    END-POINT 149221.944          71557.230          103273.550  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CLY                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 149221.944  71557.230 103259.263 
    UNDIMENSIONED
    TEXT 12E$PIT$0152
TEE
    END-POINT 149072.432          71557.230          102936.550  10  
    END-POINT 148640.632          71557.230          102936.550  10  
    CENTRE-POINT  148856.532          71557.230          102936.550 
    BRANCH1-POINT 148856.532          71557.230          103120.700  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED10X4
    WEIGHT          52.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CM9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 148640.632          71557.230          102936.550  10
    END-POINT 148640.632          71557.230          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMA                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 148856.532          71557.230          103120.700  4
    END-POINT 148856.532          71557.230          103120.700  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENN                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 148856.532          71557.230          103120.700  4  
    END-POINT 148856.532          71557.230          103555.704  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 148856.532  71557.230 103341.180 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 148856.532          71557.230          103555.704 
    PIPELINE-REFERENCE C210-4910-12E-S-0014-PRM-0004-01
TEE
    END-POINT 148640.632          71557.230          102936.550  10  
    END-POINT 148208.832          71557.230          102936.550  10  
    CENTRE-POINT  148424.732          71557.230          102936.550 
    BRANCH1-POINT 148424.732          71557.230          103120.700  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED10X4
    WEIGHT          52.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 148208.832          71557.230          102936.550  10
    END-POINT 148208.832          71557.230          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMD                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 148424.732          71557.230          103120.700  4
    END-POINT 148424.732          71557.230          103120.700  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 148424.732          71557.230          103120.700  4  
    END-POINT 148424.732          71557.230          103555.704  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 148424.732  71557.230 103351.395 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 148424.732          71557.230          103555.704 
    PIPELINE-REFERENCE C210-4910-12E-S-0013-PRM-0004-01
PIPE
    END-POINT 148208.832          71557.230          102936.550  10  BW
    END-POINT 146958.327          71557.230          102936.550  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMF                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 147999.832  71557.230 102936.550  10
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-10
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMH                 
    TAG                         S02-A-3-10                      
WELD
    END-POINT 146958.327          71557.230          102936.550  10
    END-POINT 146958.327          71557.230          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMI                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 147175.374  71557.230 102936.550  10
    END-POINT 147175.374  71557.230 102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DHP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     147175.374  71557.230 102936.550 
    BRANCH1-POINT 147175.374          71557.230          103111.175  2  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL10X2
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DHO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 147175.374          71557.230          103111.175  2
    END-POINT 147175.374          71557.230          103111.175  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DHS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 147175.374          71557.230          103353.891  2  
    END-POINT 147175.374          71557.230          103111.175  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DHQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 147175.374          71557.230          103353.891 
    PIPELINE-REFERENCE C210-4910-12E-S-0016-PRM-0004-01
ELBOW
    END-POINT 146958.327          71557.230          102936.550  10  
    END-POINT 146577.327          71176.230          102936.550  10  
    CENTRE-POINT  146577.327          71557.230          102936.550 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR10
    WEIGHT          60.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 146577.327          71176.230          102936.550  10
    END-POINT 146577.327          71176.230          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DK4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 146577.327          71176.230          102936.550  10  BW
    END-POINT 146577.693          69574.194          102936.525  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DK3                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 146577.693          69574.194          102936.525  10
    END-POINT 146577.693          69574.194          102936.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DK5                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 146110.193          68421.094          102936.525  10  
    END-POINT 147045.193          68421.094          102936.525  10  
    CENTRE-POINT  146577.693          68421.094          102936.525 
    BRANCH1-POINT 146577.693          69574.194          102936.525  10  
    SKEY TEBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          72.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMV                 
    TAG SP-090                          
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 146110.193          68421.094          102936.525  10
    END-POINT 146110.193          68421.094          102936.525  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMW                 
    THICKNESS/RATING 99
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 147045.193          68421.094          102936.525  10
    END-POINT 147045.193          68421.094          102936.525  10
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUF                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 147045.193          68421.094          102936.525  10  
    END-POINT 158550.000          68421.094          102936.525  10  
    CONTINUATION 
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 153859.642  68421.094 102936.525 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 148000.000  68421.094 102936.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUI                 
    TAG                         S02-A-3-10                      
SUPPORT
    CO-ORDS 152000.000  68421.094 102936.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUK                 
    TAG                         S03-A-6-10                      
SUPPORT
    CO-ORDS 156000.000  68421.094 102936.525  10
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUO                 
    TAG                         S02-A-3-10                      
SUPPORT
    CO-ORDS 148000.000  68421.094 102936.525  10
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUU                 
    TAG                         RP02-3-10                       
SUPPORT
    CO-ORDS 156000.000  68421.094 102936.525  10
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUW                 
    TAG                         RP02-3-10                       
SUPPORT
    CO-ORDS 152000.000  68421.094 102936.525  10
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DUY                 
    TAG                         RP02-6-10                       
END-CONNECTION-PIPELINE 
    CO-ORDS 158550.000          68421.094          102936.525 
    PIPELINE-REFERENCE C210-4910-12E-S-0004-PRM-0004-01
REDUCER-ECCENTRIC
    END-POINT 146110.193          68421.094          102936.525  10  
    END-POINT 145932.393          68421.094          102909.537  8  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC10X8
    WEIGHT          17.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CN8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 145932.393          68421.094          102909.537  8
    END-POINT 145932.393          68421.094          102909.537  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 145599.649          68421.494          102909.537  8  
    END-POINT 145932.393          68421.094          102909.537  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 145762.553  68421.298 102909.537 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 145599.649          68421.494          102909.537 
    PIPELINE-REFERENCE C210-4910-12E-S-0003-PRM-0004-01
TEE
    END-POINT 150216.012          71557.230          102936.550  10  
    END-POINT 149784.212          71557.230          102936.550  10  
    CENTRE-POINT  150000.112          71557.230          102936.550 
    BRANCH1-POINT 150000.112          71750.778          102936.550  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED10X6
    WEIGHT          54.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CKB                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 150216.012          71557.230          102936.550  10
    END-POINT 150216.012          71557.230          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJ3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 150000.112          71750.778          102936.550  6
    END-POINT 150000.112          71750.778          102936.550  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJ0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 150000.112          71750.778          102936.550  6  BW
    END-POINT 150000.112          71899.283          102936.550  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FIZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 150000.112          71899.283          102936.550  6
    END-POINT 150000.112          71899.283          102936.550  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJ1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 150228.712          72127.883          102936.550  6  
    END-POINT 150000.112          71899.283          102936.550  6  
    CENTRE-POINT  150000.112          72127.883          102936.550 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CKG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 150228.712          72127.883          102936.550  6
    END-POINT 150228.712          72127.883          102936.550  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CKH                 
    THICKNESS/RATING 900LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 150376.336          72127.883          102936.550  6  
    END-POINT 150228.712          72127.883          102936.550  6  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT          49.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CKI                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 150380.400          72127.883          102936.550  6
    END-POINT 150376.336          72127.883          102936.550  6
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D1D                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL900          
PIPE
    END-POINT 150376.336          72127.883          102936.550  6  
    END-POINT 150376.340          72127.883          102936.550  6  
    CONTINUATION 
    MESSAGE This is a GAP 
FLANGE
    END-POINT 150380.400          72127.883          102936.550  6  
    END-POINT 150528.025          72127.883          102936.550  6  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          49.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D19                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 150528.025          72127.883          102936.550 
    PIPELINE-REFERENCE C210-4910-12E-S-0001-PRM-0004-03
PIPE
    END-POINT 150216.012          71557.230          102936.550  10  BW
    END-POINT 150622.912          71557.230          102936.550  10  BW
    FABRICATION-ITEM
    ITEM-CODE PIP10
    WEIGHT          96.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJ2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 150622.912          71557.230          102936.550  10
    END-POINT 150622.912          71557.230          102936.550  10
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_FJ4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 150622.912          71557.230          102936.550  10  
    END-POINT 150800.712          71557.230          102909.563  8  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC10X8
    WEIGHT          17.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CK9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 150800.712          71557.230          102909.563  8
    END-POINT 150800.712          71557.230          102909.563  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CK8                 
    THICKNESS/RATING 900LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 150970.688          71557.230          102909.563  8  
    END-POINT 150800.712          71557.230          102909.563  8  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK8
    WEIGHT          84.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CK7                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 150974.752          71557.230          102909.563  8
    END-POINT 150970.688          71557.230          102909.563  8
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D1G                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL900          
PIPE
    END-POINT 150970.688          71557.230          102909.563  8  
    END-POINT 150970.692          71557.230          102909.563  8  
    CONTINUATION 
    MESSAGE This is a GAP 
FLANGE
    END-POINT 150974.752          71557.230          102909.563  8  
    END-POINT 151144.729          71557.230          102909.563  8  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          84.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D1B                 
    PIPING-SPEC DH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 151144.729          71557.230          102909.563 
    PIPELINE-REFERENCE C210-4910-12E-S-0001-PRM-0004-02
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING 800LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL10X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE TEERED10X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE SUPTS-10
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-A-3-10
ITEM-CODE WOL10X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION WELDOLET , SCH 80, A105N
    RATING SCH 80
ITEM-CODE 90LLR10
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE REDECC10X8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE TEERED10X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING 80
ITEM-CODE FLGWNK6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RTJ, CL900, A105N, SCH 80 BORE
    RATING 900LB
    RATING 80
ITEM-CODE FLGWNK8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RTJ, CL900, A105N, SCH 100 BORE
    RATING 900LB
    RATING 100
