ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0005-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0025-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   TEST HEADER
    ATTRIBUTE83   12E-PE-0028-4"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0025-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 128199.286          68303.188          103652.150  4  BW
    END-POINT 123450.261          68303.188          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EE3                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 126000.000  68303.188 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DJG                 
    TAG                         S01-B-4-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 128199.286          68303.188          103652.150  4
    END-POINT 128199.286          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EE7                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 123450.261          68303.188          103652.150  4  
    END-POINT 115501.499          68303.188          103652.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D20                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 116000.001  68303.188 103652.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D21                 
    TAG                         S01-B-4-4                       
SUPPORT
    CO-ORDS 122000.001  68303.188 103652.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D22                 
    TAG                         S01-B-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 115501.499          68303.188          103652.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0006-01
ELBOW
    END-POINT 128199.286          68303.188          103652.150  4  
    END-POINT 128351.686          68455.588          103652.150  4  
    CENTRE-POINT  128351.686          68303.188          103652.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 128351.686          68455.588          103652.150  4
    END-POINT 128351.686          68455.588          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4V                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 128351.661          71334.425          103652.150  4  BW
    END-POINT 128351.686          68455.588          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4T                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 128351.677  69499.850 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EEA                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 128351.661          71334.425          103652.150  4
    END-POINT 128351.661          71334.425          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4S                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 128351.661          71334.425          103652.150  4  
    END-POINT 128504.061          71486.825          103652.150  4  
    CENTRE-POINT  128351.661          71486.825          103652.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4R                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 128504.061          71486.825          103652.150  4
    END-POINT 128504.061          71486.825          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4Q                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 129505.391          71486.875          103652.150  4  BW
    END-POINT 128504.061          71486.825          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4O                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 128999.552  71486.850 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EEC                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 129505.391          71486.875          103652.150  4
    END-POINT 129505.391          71486.875          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4N                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 129505.391          71486.875          103652.150  4  
    END-POINT 129657.791          71334.475          103652.150  4  
    CENTRE-POINT  129657.791          71486.875          103652.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 129657.791          71334.475          103652.150  4
    END-POINT 129657.791          71334.475          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4L                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 129657.816          68455.588          103652.150  4  BW
    END-POINT 129657.791          71334.475          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4J                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 129657.807  69499.850 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EEE                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 129657.816          68455.588          103652.150  4
    END-POINT 129657.816          68455.588          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4I                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 129657.816          68455.588          103652.150  4  
    END-POINT 129810.216          68303.188          103652.150  4  
    CENTRE-POINT  129657.816          68303.188          103652.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 129810.216          68303.188          103652.150  4
    END-POINT 129810.216          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4G                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 129810.216          68303.188          103652.150  4  BW
    END-POINT 140489.684          68303.188          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4B                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 138000.060  68303.188 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4C                 
    TAG                         S01-B-4-4                       
FLOW-ARROW
    CO-ORDS 137596.901  68303.188 103652.150 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 132000.034  68303.188 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4E                 
    TAG                         S01-B-4-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 140489.684          68303.188          103652.150  4
    END-POINT 140489.684          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C4A                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 140698.980          68303.188          103652.150  4  
    END-POINT 140489.684          68303.188          103652.150  4  
    CENTRE-POINT  140594.332          68303.188          103652.150 
    BRANCH1-POINT 140594.332          68303.188          103756.798  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C48                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 140698.980          68303.188          103652.150  4
    END-POINT 140698.980          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C49                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 140594.332          68303.188          103756.798  4
    END-POINT 140594.332          68303.188          103756.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C47                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 140594.332          68303.188          103864.748  4  
    END-POINT 140594.332          68303.188          103756.798  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C46                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 140594.332          68303.338          103867.923  4
    END-POINT 140594.332          68303.188          103864.748  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C43                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
PIPE
    END-POINT 140594.332          68303.188          103864.748  4  
    END-POINT 140594.332          68303.188          103864.752  4  
    CONTINUATION 
    MESSAGE This is a GAP 
VALVE
    END-POINT 140594.332          68303.338          103867.923  4  
    END-POINT 140594.332          68303.338          104299.723  4  
    CENTRE-POINT  140594.332          68303.338          104083.823 
    SKEY VTFL
    CONTINUATION 
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C41                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
END-CONNECTION-PIPELINE 
    CO-ORDS 140594.332          68303.338          104299.723 
    PIPELINE-REFERENCE C210-4910-12E-PE-0018-PRM-0005-01
PIPE
    END-POINT 140698.980          68303.188          103652.150  4  BW
    END-POINT 145449.942          68303.188          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C52                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 143999.682  68303.188 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_C53                 
    TAG                         S01-B-3-4                       
PIPE
    END-POINT 152437.277          68303.188          103652.150  4  
    END-POINT 145449.942          68303.188          103652.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C7J                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 147999.990  68303.188 103652.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D8Q                 
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS 152000.000  68303.188 103652.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_D8S                 
    TAG                         S01-B-6-4                       
FLOW-ARROW
    CO-ORDS 149810.398  68303.188 103652.150 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 152437.277          68303.188          103652.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0004-01
MATERIALS
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-4-4
ITEM-CODE G22
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G22
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
