ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0019-PRM-0004-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0001-4"
    ATTRIBUTE83   12E-CG-0020-6"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0019-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 151238.284          68010.788          102907.891  2  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZ2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT 151238.284          68010.788          102876.141  2
    SKEY FLBL
GASKET
    END-POINT 151238.284          68010.788          102907.891  2
    END-POINT 151238.284          68010.788          102911.066  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZ3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 151238.284          68010.788          102907.891 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZ4                 
VALVE
    END-POINT 151238.284          68010.788          103203.166  2  
    END-POINT 151238.284          68010.788          102911.066  2  
    CENTRE-POINT  151238.284          68010.788          103057.116 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZ5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 151238.284          68010.788          103203.166  2
    END-POINT 151238.284          68010.788          103206.341  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZ7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 151238.284          68010.788          103203.166 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZ8                 
FLANGE
    END-POINT 151238.284          68010.788          103206.341  2  
    END-POINT 151238.284          68010.788          103285.843  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZ9                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151238.284          68010.788          103285.843  2
    END-POINT 151238.284          68010.788          103285.843  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLH                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 151238.284          68086.988          103362.043  2  
    END-POINT 151238.284          68010.788          103285.843  2  
    CENTRE-POINT  151238.284          68010.788          103362.043 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 151238.284          68086.988          103362.043  2
    END-POINT 151238.284          68086.988          103362.043  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLG                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 151238.284          68586.988          103362.043  2  BW
    END-POINT 151238.284          68086.988          103362.043  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLC                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151238.284          68586.988          103362.043  2
    END-POINT 151238.284          68586.988          103362.043  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DLD                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 151238.284          68663.188          103438.243  2  
    END-POINT 151238.284          68586.988          103362.043  2  
    CENTRE-POINT  151238.284          68663.188          103362.043 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DL3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 151238.284          68663.188          103438.243  2
    END-POINT 151238.284          68663.188          103438.243  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DL5                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 151238.284          68663.188          103513.250  2  BW
    END-POINT 151238.284          68663.188          103438.243  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZB                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151238.284          68663.188          103513.250  2
    END-POINT 151238.284          68663.188          103513.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZC                 
    THICKNESS/RATING 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 151342.932          68663.188          103602.150  4  
    END-POINT 151133.636          68663.188          103602.150  4  
    CENTRE-POINT  151238.284          68663.188          103602.150 
    BRANCH1-POINT 151238.284          68663.188          103513.250  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X2
    WEIGHT          15.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 151342.932          68663.188          103602.150  4
    END-POINT 151342.932          68663.188          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZE                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151133.636          68663.188          103602.150  4
    END-POINT 151133.636          68663.188          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DDR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 151133.636          68663.188          103602.150  4  BW
    END-POINT 145600.036          68663.188          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DDQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 147090.408  68663.188 103602.150 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 148000.000  68663.188 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DDW                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 145600.036          68663.188          103602.150  4
    END-POINT 145600.036          68663.188          103602.150  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_E0F                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 143608.125          68663.188          103602.150  4  
    END-POINT 145600.036          68663.188          103602.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DUB                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 144000.000  68663.188 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQN                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 143608.125          68663.188          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0005-01
PIPE
    END-POINT 151342.932          68663.188          103602.150  4  BW
    END-POINT 156210.652          68663.188          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 152000.000  68663.188 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZK                 
    TAG                         S01-A-6-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 156000.000  68663.188 103602.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZN                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 156210.652          68663.188          103602.150  4
    END-POINT 156210.652          68663.188          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 156350.352          68663.188          103629.137  6  
    END-POINT 156210.652          68663.188          103602.150  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 156350.352          68663.188          103629.137  6
    END-POINT 156350.352          68663.188          103629.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZQ                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 156350.352          68663.188          103629.137  6  
    END-POINT 156635.848          68663.188          103629.137  6  
    CENTRE-POINT  156493.100          68663.188          103629.137 
    BRANCH1-POINT 156493.100          68663.188          103771.885  6  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6X6
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 156635.848          68663.188          103629.137  6
    END-POINT 156635.848          68663.188          103629.137  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZS                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 156493.100          68663.188          103771.885  6
    END-POINT 156493.100          68663.188          103771.885  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZT                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 156493.100          68663.188          104609.376  6  
    END-POINT 156493.100          68663.188          103771.885  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_BZU                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 156493.100          68663.188          104609.376 
    PIPELINE-REFERENCE C210-4910-12E-CG-0020-PRM-0004-01
REDUCER-ECCENTRIC
    END-POINT 156635.848          68663.188          103629.137  6  
    END-POINT 156775.548          68663.188          103602.150  4  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C06                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 156775.548          68663.188          103602.150  4
    END-POINT 156775.548          68663.188          103602.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C07                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 156775.548          68663.188          103602.150  4  BW
    END-POINT 158399.813          68663.188          103602.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C08                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 157439.783  68663.188 103602.150 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 158399.813          68663.188          103602.150  4
    END-POINT 158399.813          68663.188          103602.150  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_ITB                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 160396.888          68663.188          103602.150  4  
    END-POINT 158399.813          68663.188          103602.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_HSL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 160000.000  68663.188 103602.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I8K                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 160396.888          68663.188          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0003-01
MATERIALS
ITEM-CODE FLGBLD2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING 600LB
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT2
    BOLT_DIA 15.875
    BOLT_LEN 110
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 160, NACE
    RATING SCH 160
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING SCH 160
ITEM-CODE TEERED4X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80 x SCH 160, NACE
    RATING 80
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE REDECC6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE TEESTR6X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
