ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0007-PRM-0001-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-S-0007-PRM-0001-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0051-8"
    ATTRIBUTE83   12E-S-0021-3"/0022-4"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0007-6"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 216463.915          70792.147          102884.540  6  BW
    END-POINT 227000.000          70792.147          102884.540  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_E7F                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222000.000  70792.147 102884.540  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_BO1                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 224999.632  70792.147 102884.540  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_D7X                 
    TAG                         S01-A-3-6                       
FLOW-ARROW
    CO-ORDS 223856.635  70792.147 102884.540 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 218999.915  70792.147 102884.540  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FU9                 
    TAG                         S01-A-3-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 219000.555  70792.147 102884.540  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FUG                 
    TAG                         RP02-3-6                        
WELD
    END-POINT 216463.915          70792.147          102884.540  6
    END-POINT 216463.915          70792.147          102884.540  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EOY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 227000.000          70792.147          102884.540  6
    END-POINT 227000.000          70792.147          102884.540  6
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G12                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 216311.515          70792.147          102909.940  8  
    END-POINT 216463.915          70792.147          102884.540  6  
    SKEY REBW
    CONTINUATION 
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EOW                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 216311.515          70792.147          102909.940 
    PIPELINE-REFERENCE C210-4910-12E-S-0051-PRM-0001-01
PIPE
    END-POINT 229771.400          70792.147          102884.540  6  
    END-POINT 227000.000          70792.147          102884.540  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G10                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 229000.000  70792.147 102884.540  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1P                 
    TAG                         S01-A-3-6                       
SUPPORT
    CO-ORDS 229000.000  70792.147 102884.540  6
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G1T                 
    TAG                         RP02-3-6                        
END-CONNECTION-PIPELINE 
    CO-ORDS 229771.400          70792.147          102884.540 
    PIPELINE-REFERENCE C210-4910-12E-S-0007-PRM-0008-01
MATERIALS
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-6
ITEM-CODE G22
    DESCRIPTION GUIDE FOR SHOE G22
ITEM-CODE SUPPS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-6
