ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0037-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0037-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-7002
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-4902-12E-0002-07
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0037-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   -
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  83640.829          68211.188          104431.736  0.5  
    END-POINT  83618.731          68211.188          104431.736  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCP                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT  83681.596          68211.188          104389.445  0.75  SW FEMALE 
    END-POINT  83681.596          68211.188          104470.979  0.75  
    END-POINT  83640.829          68211.188          104431.736  0.5  
    CENTRE-POINT   83681.596          68211.188          104431.736 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCK                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  83681.596          68211.188          104389.445  0.75
    END-POINT  83681.596          68211.188          104389.445  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCM                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  83681.596          68211.188          104470.979  0.75  
    END-POINT  83681.596          68211.188          104496.379  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCN                 
    PIPING-SPEC CHS
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  83681.596  68211.188 104486.727 
    UNDIMENSIONED
    TEXT 12E$PIT$7110
COUPLING
    END-POINT  83681.596          68211.188          104287.845  0.75  
    END-POINT  83681.596          68211.188          104389.445  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BJG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  83681.592          68211.188          104287.845  0.75
    END-POINT  83681.592          68211.188          104287.845  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DS4                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT      83681.568  68211.188 104206.885 
    BRANCH1-POINT  83681.592          68211.188          104287.845  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DRZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  83681.568  68211.188 104206.885  4
    END-POINT  83681.568  68211.188 104206.885  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DS1                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  82790.990          68211.188          104207.150  4  BW
    END-POINT  84002.142          68211.188          104206.790  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BJ8                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82790.990          68211.188          104207.150  4
    END-POINT  82790.990          68211.188          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FAT                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  84002.142          68211.188          104206.790  4
    END-POINT  84002.142          68211.188          104206.790  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D8M                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
GAP
    END-POINT  84002.381          68211.185          104206.918  4  
    END-POINT  84002.110          68211.185          104206.918  4  
    PIPING-SPEC CHS
ELBOW
    END-POINT  84154.778          68363.588          104206.903  4  
    END-POINT  84002.381          68211.185          104206.918  4  
    CENTRE-POINT   84154.781          68211.188          104206.918 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D8J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  84154.778          68363.588          104206.903 
    PIPELINE-REFERENCE C210-4910-12E-PE-0037-PRM-0007-02
FLANGE
    END-POINT  82683.041          68211.188          104207.182  4  
    END-POINT  82790.990          68211.188          104207.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FAS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS  82705.266          68085.583          104207.175  0.5
GASKET
    END-POINT  82679.861          68211.188          104207.183  4
    END-POINT  82683.041          68211.188          104207.182  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FAY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
WELD
    END-POINT  82705.266          68085.583          104207.175  0.5
    END-POINT  82705.266          68085.583          104207.175  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOX                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT   82705.266          68085.583          104207.175 
    BRANCH1-POINT  82705.266          68009.383          104207.175  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           2.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOV                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82705.266          68009.383          104207.175  0.5
    END-POINT  82705.266          68009.383          104207.175  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FP2                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  82705.266          67948.683          104207.175  0.5  
    END-POINT  82705.266          68009.383          104207.175  0.5  
    CENTRE-POINT   82705.266          67979.033          104207.175 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 0 DOWN
WELD
    END-POINT  82705.266          67948.683          104207.175  0.5
    END-POINT  82705.266          67948.683          104207.175  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOZ                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  82705.266          67948.683          104207.175  0.5  
    END-POINT  82705.266          67847.083          104207.175  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82705.266          67847.083          104207.175  0.5
    END-POINT  82705.266          67847.083          104207.175  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBN                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  82705.266          67847.083          104207.175  0.5  
    END-POINT  82705.266          67799.703          104207.175  0.5  
    CENTRE-POINT   82705.266          67823.393          104207.175 
    BRANCH1-POINT  82728.956          67823.393          104207.168  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FBL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  82705.266          67799.703          104207.175  0.5
    END-POINT  82705.266          67799.703          104207.175  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCY                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82728.956          67823.393          104207.168  0.5
    END-POINT  82728.956          67823.393          104207.168  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCW                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  82728.956          67823.393          104207.168  0.5  
    END-POINT  82830.555          67823.393          104207.138  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCV                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82830.555          67823.393          104207.138  0.5
    END-POINT  82830.555          67823.393          104207.138  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FD4                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  82830.555          67823.393          104207.138  0.5  SW FEMALE 
    END-POINT  82886.681          67823.393          104207.122  0.5  
    CENTRE-POINT   82860.905          67823.393          104207.129 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FD3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
    DIRECTION UP 0 EAST
MISC-COMPONENT
    END-POINT  82886.681          67823.393          104207.122  0.5  
    END-POINT  82908.779          67823.393          104207.115  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FD7                 
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  82705.266          67799.703          104207.175  0.5  
    END-POINT  82705.266          67698.103          104207.175  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCX                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82705.266          67698.103          104207.175  0.5
    END-POINT  82705.266          67698.103          104207.175  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FD0                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  82705.266          67698.103          104207.175  0.5  SW FEMALE 
    END-POINT  82705.266          67641.977          104207.175  0.5  
    CENTRE-POINT   82705.266          67667.753          104207.175 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FCZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 0 DOWN
MISC-COMPONENT
    END-POINT  82705.266          67641.977          104207.175  0.5  
    END-POINT  82705.266          67619.879          104207.175  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FD9                 
    PIPING-SPEC CHS
    INSULATION-ON 
INSTRUMENT
    END-POINT  82679.861          68211.188          104207.183  4  
    END-POINT  82666.861          68211.188          104207.187  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FAW                 
    TAG 12E$FE$7111                     
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  82663.681          68211.188          104207.188  4
    END-POINT  82666.861          68211.188          104207.187  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  82663.681          68211.188          104207.188 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLP                 
FLANGE
    END-POINT  82663.681          68211.188          104207.188  4  
    END-POINT  82555.731          68211.188          104207.220  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS  82641.456          68085.583          104207.194  0.5
WELD
    END-POINT  82555.731          68211.188          104207.220  4
    END-POINT  82555.731          68211.188          104207.220  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLQ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82641.456          68085.583          104207.194  0.5
    END-POINT  82641.456          68085.583          104207.194  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOU                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT   82641.456          68085.583          104207.194 
    BRANCH1-POINT  82641.456          67933.183          104207.194  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82641.456          67933.183          104207.194  0.5
    END-POINT  82641.456          67933.183          104207.194  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOT                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  82641.456          67872.483          104207.194  0.5  
    END-POINT  82641.456          67933.183          104207.194  0.5  
    CENTRE-POINT   82641.456          67902.833          104207.194 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 0 UP
WELD
    END-POINT  82641.456          67872.483          104207.194  0.5
    END-POINT  82641.456          67872.483          104207.194  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOP                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  82641.456          67770.883          104207.194  0.5  
    END-POINT  82641.456          67872.483          104207.194  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FOM                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82641.456          67770.883          104207.194  0.5
    END-POINT  82641.456          67770.883          104207.194  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FON                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  82641.456          67770.883          104207.194  0.5  
    END-POINT  82641.456          67723.503          104207.194  0.5  
    CENTRE-POINT   82641.456          67747.193          104207.194 
    BRANCH1-POINT  82617.766          67747.193          104207.201  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FDO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  82641.456          67723.503          104207.194  0.5
    END-POINT  82641.456          67723.503          104207.194  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FDS                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82617.766          67747.193          104207.201  0.5
    END-POINT  82617.766          67747.193          104207.201  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FDU                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  82617.766          67747.193          104207.201  0.5  
    END-POINT  82516.166          67747.193          104207.232  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FDT                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82516.166          67747.193          104207.232  0.5
    END-POINT  82516.166          67747.193          104207.232  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FDW                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  82516.166          67747.193          104207.232  0.5  SW FEMALE 
    END-POINT  82460.040          67747.193          104207.248  0.5  
    CENTRE-POINT   82485.816          67747.193          104207.241 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FDV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
    DIRECTION UP 0 EAST
MISC-COMPONENT
    END-POINT  82460.040          67747.193          104207.248  0.5  
    END-POINT  82437.942          67747.193          104207.255  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FE5                 
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  82641.456          67723.503          104207.194  0.5  
    END-POINT  82641.456          67621.903          104207.194  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FDR                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  82641.456          67621.903          104207.194  0.5
    END-POINT  82641.456          67621.903          104207.194  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FE0                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  82641.456          67621.903          104207.194  0.5  SW FEMALE 
    END-POINT  82641.456          67565.777          104207.194  0.5  
    CENTRE-POINT   82641.456          67591.553          104207.194 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FDZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 0 UP
MISC-COMPONENT
    END-POINT  82641.456          67565.777          104207.194  0.5  
    END-POINT  82641.456          67543.679          104207.194  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FE3                 
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  82555.731          68211.188          104207.220  4  BW
    END-POINT  79905.927          68211.188          104207.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FB2                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  81010.662  68211.188 104207.179 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  81999.996  68211.188 104207.206  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FB9                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT  79905.927          68211.188          104207.150  4
    END-POINT  79905.927          68211.188          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FB4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  79753.527          68363.588          104207.150  4  
    END-POINT  79905.927          68211.188          104207.150  4  
    CENTRE-POINT   79753.527          68211.188          104207.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BL4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  79753.527          68363.588          104207.150  4
    END-POINT  79753.527          68363.588          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BL5                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  79753.527          71469.832          104207.150  4  BW
    END-POINT  79753.527          68363.588          104207.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FN1                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  79753.527  70300.000 104207.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BL7                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT  79753.527          71469.832          104207.150  4
    END-POINT  79753.527          71469.832          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FN3                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  79753.527          71679.128          104207.150  4  
    END-POINT  79753.527          71469.832          104207.150  4  
    CENTRE-POINT   79753.527          71574.480          104207.150 
    BRANCH1-POINT  79753.527          71574.480          104311.798  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BL9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  79753.527          71679.128          104207.150  4
    END-POINT  79753.527          71679.128          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  79753.527          71574.480          104311.798  4
    END-POINT  79753.527          71574.480          104311.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BLB                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  79753.527          71574.480          104419.748  4  
    END-POINT  79753.527          71574.480          104311.798  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BLC                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  79753.527          71574.480          104422.928  4
    END-POINT  79753.527          71574.480          104419.748  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FM3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT  79753.527          71574.480          104422.928  4  
    END-POINT  79753.527          71574.480          104438.678  4  
    CENTRE-POINT  79753.527  71574.480 104430.803 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FM1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SLIP-PLATE-TAIL-DIRECTION WEST
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT  79753.527          71574.480          104441.858  4
    END-POINT  79753.527          71574.480          104438.678  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FM5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  79753.527          71574.480          104438.678 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FM6                 
FLANGE
    END-POINT  79753.527          71574.480          104441.858  4  
    END-POINT  79753.527          71574.480          104549.808  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FM4                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  79753.527          71574.480          104549.808 
    PIPELINE-REFERENCE C210-4910-12E-S-0075-PRM-0007-01
FLANGE
    END-POINT  79753.527          71787.078          104207.150  4  
    END-POINT  79753.527          71679.128          104207.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FN9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  79753.527          71787.078          104207.150  4
    END-POINT  79753.527          71790.258          104207.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  79753.527          71790.258          104207.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNB                 
MISC-COMPONENT
    END-POINT  79753.527          71806.008          104207.150  4  
    END-POINT  79753.527          71790.258          104207.150  4  
    CENTRE-POINT  79753.527  71798.133 104207.150 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FN6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT  79753.527          71806.008          104207.150  4
    END-POINT  79753.527          71809.188          104207.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FN8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT  79753.527          71809.188          104207.150  4  
    END-POINT  79753.527          71917.138          104207.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FN4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  79753.527          71917.138          104207.150  4
    END-POINT  79753.527          71917.138          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FN5                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  79753.527          72126.434          104207.150  4  
    END-POINT  79753.527          71917.138          104207.150  4  
    CENTRE-POINT   79753.527          72021.786          104207.150 
    BRANCH1-POINT  79753.527          72021.786          104305.702  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BLO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  79753.527          72126.434          104207.150  4
    END-POINT  79753.527          72126.434          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BLP                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  79753.527          72021.786          104305.702  3
    END-POINT  79753.527          72021.786          104305.702  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BLQ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  79753.527          72021.786          104394.602  3  
    END-POINT  79753.527          72021.786          104305.702  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BLR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  79753.527          72021.786          104397.782  3
    END-POINT  79753.527          72021.786          104394.602  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT  79753.527          72021.786          104397.782  3  
    END-POINT  79753.527          72021.786          104410.482  3  
    CENTRE-POINT  79753.527  72021.786 104404.132 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION WEST
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT  79753.527          72021.786          104413.662  3
    END-POINT  79753.527          72021.786          104410.482  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  79753.527          72021.786          104410.482 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLZ                 
FLANGE
    END-POINT  79753.527          72021.786          104413.662  3  
    END-POINT  79753.527          72021.786          104502.562  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  79753.527          72021.786          104502.562  3
    END-POINT  79753.527          72021.786          104502.562  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FM0                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  79753.527          72021.786          104502.562  3  BW
    END-POINT  79753.527          72021.786          104692.342  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CPF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  79753.527  72021.786 104598.131 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  79753.527          72021.786          104692.342  3
    END-POINT  79753.527          72021.786          104692.342  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DE0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  79753.527          72021.786          104692.342  3  
    END-POINT  79867.827          72021.786          104806.642  3  
    CENTRE-POINT   79753.527          72021.786          104806.642 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DDY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  79867.827          72021.786          104806.642  3
    END-POINT  79867.827          72021.786          104806.642  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DE2                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  79956.727          72021.786          104806.642  3  
    END-POINT  79867.827          72021.786          104806.642  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DE1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  79959.907          72021.786          104806.642  3
    END-POINT  79956.727          72021.786          104806.642  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  79956.727          72021.786          104806.642 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEK                 
VALVE
    END-POINT  80315.507          72021.786          104806.642  3  
    END-POINT  79959.907          72021.786          104806.642  3  
    CENTRE-POINT   80137.707          72021.786          104806.642 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  80315.507          72021.786          104806.642  3
    END-POINT  80318.687          72021.788          104806.642  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  80315.507          72021.786          104806.642 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEM                 
FLANGE
    END-POINT  80318.687          72021.788          104806.642  3  
    END-POINT  80407.587          72021.786          104806.642  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DEE                 
    PIPING-SPEC CH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  80407.587          72021.786          104806.642 
    PIPELINE-REFERENCE C210-4910-12E-S-0074-PRM-0007-01
PIPE
    END-POINT  79753.527          72126.434          104207.150  4  BW
    END-POINT  79753.527          73102.296          104207.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BLW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  79753.527  72800.000 104207.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BLX                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT  79753.527          73102.296          104207.150  4
    END-POINT  79753.527          73102.296          104207.150  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_LU                  
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  79753.527          85374.820          104207.150  4  
    END-POINT  79753.527          73102.296          104207.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_GR                  
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  79753.527  74981.068 104207.150 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  79753.527  76800.833 104207.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_H0                  
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS  79753.527  81800.833 104207.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_H2                  
    TAG                         S01-B-6-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS  79753.527          85374.820          104207.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0037-PRM-0027-01
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814HSW, NACE
    RATING CL800
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE TEESTR3/4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE SW, A105N, CL6000, NACE
    RATING CL6000
ITEM-CODE VALVGAT1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE LNBDSPEC4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 19.05
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 X 5 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE N/A_2
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
