ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0026-PRM-0007-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0026-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0037-4"
    ATTRIBUTE83   TEST HEADER
    ATTRIBUTE84   C210-4902-12E-0002-07
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0026-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  86285.219          68303.188          105297.620  1  
    END-POINT  86285.219          68303.188          105267.458  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BI7                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT  86285.219          68303.188          105378.458  1  SW FEMALE 
    END-POINT  86285.219          68303.188          105297.620  1  
    CENTRE-POINT   86285.219          68303.188          105335.658 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BI9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT  86285.219          68303.188          105378.458  1
    END-POINT  86285.219          68303.188          105378.458  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BIB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT  86285.219          68303.188          105480.058  1  
    END-POINT  86285.219          68303.188          105378.458  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BIC                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  86285.219          68303.188          105480.058  1
    END-POINT  86285.219          68303.188          105480.058  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CGZ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT      86285.219  68303.188 105564.198 
    BRANCH1-POINT  86285.219          68303.188          105480.058  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CGX                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  86285.219  68303.188 105564.198  4
    END-POINT  86285.219  68303.188 105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DQT                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  86165.439          68303.188          105564.198  4  BW
    END-POINT  86647.525          68303.188          105564.198  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DQP                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  86165.439          68303.188          105564.198  4
    END-POINT  86165.439          68303.188          105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWS                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  86647.525          68303.188          105564.198  4
    END-POINT  86647.525          68303.188          105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EX6                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  86755.475          68303.188          105564.198  4  
    END-POINT  86647.525          68303.188          105564.198  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EX3                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  86755.475          68303.188          105564.198  4
    END-POINT  86758.655          68303.188          105564.198  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EX4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  86758.655          68303.188          105564.198 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EX5                 
VALVE
    END-POINT  86758.655          68303.188          105564.198  4  
    END-POINT  87190.455          68303.188          105564.198  4  
    CENTRE-POINT   86974.555          68303.188          105564.198 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWX                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  87190.455          68303.188          105564.198  4
    END-POINT  87193.635          68303.188          105564.198  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  87190.455          68303.188          105564.198 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWZ                 
FLANGE
    END-POINT  87193.635          68303.188          105564.198  4  
    END-POINT  87301.585          68303.188          105564.198  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWT                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  87301.585          68303.188          105564.198  4
    END-POINT  87301.585          68303.188          105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWU                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  87453.985          68303.188          105411.798  4  
    END-POINT  87301.585          68303.188          105564.198  4  
    CENTRE-POINT   87453.985          68303.188          105564.198 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CGF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  87453.985          68303.188          105411.798  4
    END-POINT  87453.985          68303.188          105411.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DPL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  87453.985          68303.188          104458.610  4  BW
    END-POINT  87453.985          68303.188          105411.798  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DPJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  87453.985  68303.188 104831.482 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  87453.985          68303.188          104458.610  4
    END-POINT  87453.985          68303.188          104458.610  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DPK                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  87453.985          68303.188          104350.660  4  
    END-POINT  87453.985          68303.188          104458.610  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DCW                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  87453.985          68303.188          104350.660  4
    END-POINT  87453.985          68303.188          104347.480  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DCX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  87453.985          68303.188          104347.480 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DCY                 
VALVE
    END-POINT  87453.985          68303.188          103915.680  4  
    END-POINT  87453.985          68303.188          104347.480  4  
    CENTRE-POINT   87453.985          68303.188          104131.580 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DCR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  87453.985          68303.188          103915.680  4
    END-POINT  87453.985          68303.188          103912.500  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DCS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  87453.985          68303.188          103915.680 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DCT                 
FLANGE
    END-POINT  87453.985          68303.188          103912.500  4  
    END-POINT  87453.985          68303.188          103804.550  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BH0                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  87453.985          68303.188          103804.550 
    PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0007-01
FLANGE
    END-POINT  86057.489          68303.188          105564.198  4  
    END-POINT  86165.439          68303.188          105564.198  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWO                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  86057.489          68303.188          105564.198  4
    END-POINT  86054.309          68303.188          105564.198  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  86054.309          68303.188          105564.198 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWQ                 
INSTRUMENT
    END-POINT  85622.309          68303.188          105564.198  4  
    END-POINT  86054.309          68303.188          105564.198  4  
    CENTRE-POINT   85838.309          68303.188          105564.198 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BG8                 
    TAG 12E$XV$7110                     
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  85619.129          68303.188          105564.198  4
    END-POINT  85622.309          68303.188          105564.198  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  85622.309          68303.188          105564.198 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWN                 
FLANGE
    END-POINT  85619.129          68303.188          105564.198  4  
    END-POINT  85511.179          68303.188          105564.198  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWL                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  85511.179          68303.188          105564.198  4
    END-POINT  85511.179          68303.188          105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWR                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  84716.389          68303.178          105564.198  4  BW
    END-POINT  85511.179          68303.188          105564.198  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWG                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  85000.000  68303.181 105564.198  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWJ                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT  84716.389          68303.178          105564.198  4
    END-POINT  84716.389          68303.178          105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  84563.989          68455.578          105564.198  4  
    END-POINT  84716.389          68303.178          105564.198  4  
    CENTRE-POINT   84563.989          68303.178          105564.198 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  84563.989          68455.578          105564.198  4
    END-POINT  84563.989          68455.578          105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWF                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT  84563.989          68563.528          105564.198  4  
    END-POINT  84563.989          68455.578          105564.198  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWA                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT  84563.989          68563.528          105564.198  4
    END-POINT  84563.989          68566.708          105564.198  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  84563.989          68566.708          105564.198 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EWC                 
VALVE
    END-POINT  84563.989          68998.508          105564.198  4  
    END-POINT  84563.989          68566.708          105564.198  4  
    CENTRE-POINT   84563.989          68782.608          105564.198 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EW3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  84563.989          68998.508          105564.198  4
    END-POINT  84563.989          69001.688          105564.198  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EW4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  84563.989          68998.508          105564.198 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EW5                 
FLANGE
    END-POINT  84563.989          69001.688          105564.198  4  
    END-POINT  84563.989          69109.638          105564.198  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BFR                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT  84563.989          69109.638          105564.198  4
    END-POINT  84563.989          69109.638          105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BFQ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT  84563.989          69109.638          105564.198  4  
    END-POINT  84716.389          69262.038          105564.198  4  
    CENTRE-POINT   84563.989          69262.038          105564.198 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BFP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  84716.389          69262.038          105564.198  4
    END-POINT  84716.389          69262.038          105564.198  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CGM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  84716.389          69262.038          105564.198  4  BW
    END-POINT  85559.341          69262.038          105564.198  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CGL                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  85000.000  69262.038 105564.198  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DRC                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT  85559.341          69262.038          105564.198  4
    END-POINT  85559.341          69262.038          105564.198  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CGN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT  85663.989          69262.038          105459.550  4  
    END-POINT  85663.989          69262.038          105668.846  4  
    CENTRE-POINT   85663.989          69262.038          105564.198 
    BRANCH1-POINT  85559.341          69262.038          105564.198  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BFK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  85663.989          69262.038          105459.550 
    PIPELINE-REFERENCE C210-4910-12E-PE-0037-PRM-0007-02
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE VALVBAL4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
