ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0012-PRM-0002-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0012-PRM-0002-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0163-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0012-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 189776.071          72572.186          104324.373  0.75  
    END-POINT 189776.071          72572.186          104352.948  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 189776.071  72572.186 104338.661 
    TEXT CONT.ON LINE$12E-FG-0138-1/2"-EY
    UNDIMENSIONED
VALVE
    END-POINT 189776.071          72572.186          104241.381  0.75  SW FEMALE 
    END-POINT 189776.071          72572.186          104324.373  0.75  
    CENTRE-POINT  189776.071          72572.186          104283.671 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 189776.071          72572.186          104241.381  0.75
    END-POINT 189776.071          72572.186          104241.381  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMR                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 189776.071          72572.186          104139.781  0.75  
    END-POINT 189776.071          72572.186          104241.381  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189776.071          72572.186          104139.781  0.75
    END-POINT 189776.071          72572.186          104139.781  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 189798.423          72572.186          104117.429  1  
    END-POINT 189753.719          72572.186          104117.429  1  
    CENTRE-POINT  189776.071          72572.186          104117.429 
    BRANCH1-POINT 189776.071          72572.186          104139.781  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMU                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 189798.423          72572.186          104117.429  1
    END-POINT 189798.423          72572.186          104117.429  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 189753.719          72572.186          104117.429  1
    END-POINT 189753.719          72572.186          104117.429  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 189363.961          72572.186          104117.429  1  BW
    END-POINT 189753.719          72572.186          104117.429  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMX                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189363.961          72572.186          104117.429  1
    END-POINT 189363.961          72572.186          104117.429  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CK4                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 189275.061          72572.186          104117.429  1  
    END-POINT 189363.961          72572.186          104117.429  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CK3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 189297.286          72572.186          104182.454  0.5
GASKET
    END-POINT 189275.051          72572.186          104117.429  1
    END-POINT 189275.061          72572.186          104117.429  1
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CK7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 189275.051          72572.186          104117.429 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           6.250
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CK8                 
WELD
    END-POINT 189297.286          72572.186          104182.454  0.5
    END-POINT 189297.286          72572.186          104182.454  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CKF                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  189297.286          72572.186          104182.454 
    BRANCH1-POINT 189297.286          72572.186          104258.654  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.148
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CKD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189297.286          72572.186          104258.654  0.5
    END-POINT 189297.286          72572.186          104258.654  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CKJ                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 189297.277          72572.186          104258.654  0.5  SW FEMALE 
    END-POINT 189297.197          72572.186          104347.304  0.5  
    CENTRE-POINT  189297.236          72572.186          104304.504 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AN6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 0 UP
MISC-COMPONENT
    END-POINT 189297.197          72572.186          104347.304  0.5  
    END-POINT 189297.174          72572.186          104372.704  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AN9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
INSTRUMENT
    END-POINT 189275.051          72572.186          104117.429  1  FL
    END-POINT 189262.051          72572.186          104117.429  1  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CK5                 
    TAG 12E$FE$3105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189262.051          72572.186          104117.429  1
    END-POINT 189262.051          72572.186          104117.429  1
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CKA                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 189262.051          72572.186          104117.429  1  
    END-POINT 189173.151          72572.186          104117.429  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CK9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 189239.826          72572.186          104182.454  0.5
WELD
    END-POINT 189173.151          72572.186          104117.429  1
    END-POINT 189173.151          72572.186          104117.429  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CKB                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 189239.826          72572.186          104182.454  0.5
    END-POINT 189239.826          72572.186          104182.454  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CKI                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  189239.826          72572.186          104182.454 
    BRANCH1-POINT 189239.826          72572.186          104334.854  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CKG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189239.826          72572.186          104334.854  0.5
    END-POINT 189239.826          72572.186          104334.854  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CKK                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 189239.817          72572.186          104334.854  0.5  SW FEMALE 
    END-POINT 189239.737          72572.186          104423.504  0.5  
    CENTRE-POINT  189239.776          72572.186          104380.704 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 0 DOWN
MISC-COMPONENT
    END-POINT 189239.737          72572.186          104423.504  0.5  
    END-POINT 189239.714          72572.186          104448.904  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANL                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 189173.151          72572.186          104117.429  1  BW
    END-POINT 186993.360          72572.186          104117.429  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 188000.168  72572.186 104117.429  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANN                 
    TAG                         S01-A-3-1                       
FLOW-ARROW
    CO-ORDS 188440.169  72572.186 104117.429 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 186993.360          72572.186          104117.429  1
    END-POINT 186993.360          72572.186          104117.429  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 186993.360          72572.186          104117.429  1  
    END-POINT 186971.008          72572.186          104139.781  1  
    CENTRE-POINT  186971.008          72572.186          104117.429 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANP                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 186971.008          72572.186          104139.781  1
    END-POINT 186971.008          72572.186          104139.781  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 186971.008          72572.186          104139.781  1  PL
    END-POINT 186971.008          72572.186          104240.181  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANR                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 186971.008          72572.186          104240.181  1
    END-POINT 186971.008          72572.186          104240.181  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANS                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 186971.008          72572.186          104240.181  1  
    END-POINT 186971.008          72572.186          104334.781  1  
    CENTRE-POINT  186971.008          72572.186          104287.481 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 186971.008          72572.186          104334.781  1
    END-POINT 186971.008          72572.186          104334.781  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANV                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 186971.008          72572.186          104334.781  1  PL
    END-POINT 186971.008          72572.186          104435.181  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANW                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 186971.008          72572.186          104435.181  1
    END-POINT 186971.008          72572.186          104435.181  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 186971.008          72572.186          104435.181  1  
    END-POINT 186971.008          72572.186          104479.885  1  
    CENTRE-POINT  186971.008          72572.186          104457.533 
    BRANCH1-POINT 186945.608          72572.186          104457.533  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 186971.008          72572.186          104479.885  1
    END-POINT 186971.008          72572.186          104479.885  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ANZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 186945.608          72572.186          104457.533  0.5
    END-POINT 186945.608          72572.186          104457.533  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AO0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 186945.608          72572.186          104457.533  0.5  
    END-POINT 186844.008          72572.186          104457.533  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AO1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 186844.008          72572.186          104457.533  0.5
    END-POINT 186844.008          72572.186          104457.533  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AO2                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 186844.008          72572.186          104457.533  0.5  SW FEMALE 
    END-POINT 186755.360          72572.186          104457.533  0.5  
    CENTRE-POINT  186798.160          72572.186          104457.533 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AO3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 186755.360          72572.186          104457.533  0.5  
    END-POINT 186729.960          72572.186          104457.533  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AO6                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 186971.008          72572.186          104479.885  1  PL
    END-POINT 186971.008          72572.186          104580.285  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AO7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 186971.008          72572.186          104580.285  1
    END-POINT 186971.008          72572.186          104580.285  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AO8                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 186971.008          72572.186          104580.285  1  
    END-POINT 186971.008          72572.186          104674.885  1  
    CENTRE-POINT  186971.008          72572.186          104627.585 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AO9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 186971.008          72572.186          104674.885  1
    END-POINT 186971.008          72572.186          104674.885  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BV0                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 186971.008          72572.186          105890.269  1  PL
    END-POINT 186971.008          72572.186          104674.885  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 186971.008          72572.186          105890.269  1
    END-POINT 186971.008          72572.186          105890.269  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUZ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 186993.360          72572.186          105912.621  1  
    END-POINT 186971.008          72572.186          105890.269  1  
    CENTRE-POINT  186971.008          72572.186          105912.621 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 186993.360          72572.186          105912.621  1
    END-POINT 186993.360          72572.186          105912.621  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUW                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 186993.360          72572.186          105912.621  1  PL
    END-POINT 187648.656          72572.186          105912.621  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187648.656          72572.186          105912.621  1
    END-POINT 187648.656          72572.186          105912.621  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUX                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 187671.008          72549.834          105912.621  1  
    END-POINT 187648.656          72572.186          105912.621  1  
    CENTRE-POINT  187671.008          72572.186          105912.621 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUQ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 187671.008          72549.834          105912.621  1
    END-POINT 187671.008          72549.834          105912.621  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUS                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 187671.008          72329.540          105912.621  1  PL
    END-POINT 187671.008          72549.834          105912.621  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187671.008          72329.540          105912.621  1
    END-POINT 187671.008          72329.540          105912.621  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 187671.008          72329.540          105912.621  1  
    END-POINT 187671.008          72307.188          105934.973  1  
    CENTRE-POINT  187671.008          72307.188          105912.621 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 187671.008          72307.188          105934.973  1
    END-POINT 187671.008          72307.188          105934.973  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BND                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 187671.008          72307.188          105934.973  1  PL
    END-POINT 187671.008          72307.188          106329.361  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BNC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187671.008          72307.188          106329.361  1
    END-POINT 187671.008          72307.188          106329.361  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BNE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT     187671.008  72307.188 106380.163 
    BRANCH1-POINT 187671.008          72307.188          106329.361  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BNA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 187671.008  72307.188 106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0002-01
PIPE
    END-POINT 189798.423          72572.186          104117.429  1  PL
    END-POINT 190012.081          72572.186          104117.429  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 190012.081          72572.186          104117.429  1
    END-POINT 190012.081          72572.186          104117.429  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AON                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 190046.879          72572.186          104117.429  1  
    END-POINT 190012.081          72572.186          104117.429  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 190046.879          72572.186          104117.429  1
    END-POINT 190050.943          72572.186          104117.429  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOP                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 190050.943          72572.186          104117.429 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOQ                 
INSTRUMENT
    END-POINT 190050.943          72572.186          104117.429  1  
    END-POINT 190304.943          72572.186          104117.429  1  
    CENTRE-POINT  190177.943          72572.186          104117.429 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOR                 
    TAG 12E$FV$3105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS 190177.943  72572.186 104117.429 
    TEXT FC
    UNDIMENSIONED
GASKET
    END-POINT 190304.943          72572.186          104117.429  1
    END-POINT 190309.007          72572.186          104117.429  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
FLANGE
    END-POINT 190309.007          72572.186          104117.429  1  
    END-POINT 190343.805          72572.186          104117.429  1  
    SKEY FLSW
    CONTINUATION 
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AOV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 190343.805          72572.186          104117.429 
    PIPELINE-REFERENCE C210-4910-12E-FG-0012-PRM-0002-02
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE FLGWNK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE, w/ 1/2" SW TAPS - OOS
    RATING CL1500
    RATING SCH 80
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 6 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS - OOS
    RATING CL1500
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 3" LG
    RATING SCH 160
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 6" LG
    RATING SCH 160
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A350-LF2 CL1, CL1500  , GA-1514L
    RATING 1500LB
ITEM-CODE TEERED1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
