ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0004-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0034-PRM-0004-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   3120
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-P-0104A/B
    ATTRIBUTE83   12E-PE-0031-8"
    ATTRIBUTE84   C210-4902-12E-0008-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0034-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 155796.161          69854.639          107665.740  1  
    END-POINT 155796.161          69854.639          107694.442  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZX                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 155796.161          69854.639          107587.490  1  SW FEMALE 
    END-POINT 155796.161          69854.639          107665.740  1  
    CENTRE-POINT  155796.161          69854.639          107629.790 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 155796.161          69854.639          107587.490  1
    END-POINT 155796.161          69854.639          107587.490  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZU                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 155796.161          69854.639          107485.890  1  
    END-POINT 155796.161          69854.639          107587.490  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZR                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 155796.161          69854.639          107485.890  1
    END-POINT 155796.161          69854.639          107485.890  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZS                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     155796.161  69854.639 107414.450 
    BRANCH1-POINT 155796.161          69854.639          107485.890  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZP                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 155796.161  69854.639 107414.450  3
    END-POINT 155796.161  69854.639 107414.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DZQ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 152810.461          69854.639          107414.450  3  BW
    END-POINT 158532.487          69854.639          107414.450  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DC2                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 156000.000  69854.639 107414.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DQI                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 152810.461          69854.639          107414.450  3
    END-POINT 152810.461          69854.639          107414.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DC3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 158532.487          69854.639          107414.450  3
    END-POINT 158532.487          69854.639          107414.450  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_K6V                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163994.875          69854.639          107414.450  3  
    END-POINT 158532.487          69854.639          107414.450  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6V                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 160000.000  69854.639 107414.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I6Z                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 163000.000  69854.639 107414.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_I71                 
    TAG                         S01-A-3-3                       
END-CONNECTION-PIPELINE 
    CO-ORDS 163994.875          69854.639          107414.450 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0003-01
ELBOW
    END-POINT 152696.161          69854.639          107300.150  3  
    END-POINT 152810.461          69854.639          107414.450  3  
    CENTRE-POINT  152696.161          69854.639          107414.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 152696.161          69854.639          107300.150  3
    END-POINT 152696.161          69854.639          107300.150  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DC0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 152696.161          69854.639          106856.756  3  BW
    END-POINT 152696.161          69854.639          107300.150  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152696.161          69854.639          106856.756  3
    END-POINT 152696.161          69854.639          106856.756  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBZ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 152696.161          69854.639          106685.056  3  
    END-POINT 152696.161          69854.639          106856.756  3  
    CENTRE-POINT  152696.161          69854.639          106770.906 
    BRANCH1-POINT 152610.311          69854.639          106770.906  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3X3
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 152696.161          69854.639          106685.056  3
    END-POINT 152696.161          69854.639          106685.056  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152610.311          69854.639          106770.906  3
    END-POINT 152610.311          69854.639          106770.906  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 152610.311          69854.639          106770.906  3  BW
    END-POINT 150212.611          69854.639          106770.906  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBU                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 151999.616  69854.639 106770.906  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DC4                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 150212.611          69854.639          106770.906  3
    END-POINT 150212.611          69854.639          106770.906  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 150212.611          69854.639          106770.906  3  
    END-POINT 150098.311          69968.939          106770.906  3  
    CENTRE-POINT  150098.311          69854.639          106770.906 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1V                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 150098.311          69968.939          106770.906  3
    END-POINT 150098.311          69968.939          106770.906  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1W                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 150098.311          69968.939          106770.906  3  BW
    END-POINT 150098.311          70438.288          106770.906  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1X                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 150098.311          70438.288          106770.906  3
    END-POINT 150098.311          70438.288          106770.906  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1Y                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 150098.311          70438.288          106770.906  3  
    END-POINT 150098.311          70552.588          106656.606  3  
    CENTRE-POINT  150098.311          70552.588          106770.906 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 150098.311          70552.588          106656.606  3
    END-POINT 150098.311          70552.588          106656.606  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C20                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 150098.311          70552.588          106567.706  3  
    END-POINT 150098.311          70552.588          106656.606  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C21                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 150098.311          70552.588          106567.706  3
    END-POINT 150098.311          70552.588          106564.531  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C22                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 150098.311          70552.588          106567.706 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C23                 
VALVE
    END-POINT 150098.311          70552.588          106564.531  3  
    END-POINT 150098.311          70552.588          106208.931  3  
    CENTRE-POINT  150098.311          70552.588          106386.731 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C24                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 150098.311          70552.588          106208.931  3
    END-POINT 150098.311          70552.588          106205.756  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C26                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 150098.311          70552.588          106208.931 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C27                 
FLANGE
    END-POINT 150098.311          70552.588          106205.756  3  
    END-POINT 150098.311          70552.588          106116.856  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C28                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 150098.311          70552.588          106116.856 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0004-01
PIPE
    END-POINT 152696.161          69854.639          105751.284  3  BW
    END-POINT 152696.161          69854.639          106685.056  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBR                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 152696.161  69854.639 106248.554 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 152696.161          69854.639          105751.284  3
    END-POINT 152696.161          69854.639          105751.284  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DBS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 152581.861          69854.639          105636.984  3  
    END-POINT 152696.161          69854.639          105751.284  3  
    CENTRE-POINT  152696.161          69854.639          105636.984 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 152581.861          69854.639          105636.984  3
    END-POINT 152581.861          69854.639          105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1I                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 152492.961          69854.639          105636.984  3  
    END-POINT 152581.861          69854.639          105636.984  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1H                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 152489.786          69854.639          105636.984  3
    END-POINT 152492.961          69854.639          105636.984  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 152492.961          69854.639          105636.984 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1G                 
VALVE
    END-POINT 152489.786          69854.639          105636.984  3  
    END-POINT 152134.186          69854.639          105636.984  3  
    CENTRE-POINT  152311.986          69854.639          105636.984 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 152131.011          69854.639          105636.984  3
    END-POINT 152134.186          69854.639          105636.984  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 152131.011          69854.639          105636.984 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1C                 
FLANGE
    END-POINT 152131.011          69854.639          105636.984  3  
    END-POINT 152042.111          69854.639          105636.984  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C1A                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 152042.111          69854.639          105636.984  3
    END-POINT 152042.111          69854.639          105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C19                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 152042.111          69854.639          105636.984  3  BW
    END-POINT 151942.111          69854.639          105636.984  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C18                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151942.111          69854.639          105636.984  3
    END-POINT 151942.111          69854.639          105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C17                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 151853.211          69854.639          105636.984  3  
    END-POINT 151942.111          69854.639          105636.984  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C16                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 151850.036          69854.639          105636.984  3
    END-POINT 151853.211          69854.639          105636.984  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C14                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 151853.211          69854.639          105636.984 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C15                 
VALVE
    END-POINT 151850.036          69854.639          105636.984  3  
    END-POINT 151494.436          69854.639          105636.984  3  
    CENTRE-POINT  151672.236          69854.639          105636.984 
    SKEY VGFL
    CONTINUATION 
    WEIGHT          65.830
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C12                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 151494.436          69854.639          105636.984 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0004-02
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE TEESTR3X3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT3
    BOLT_DIA 19.05
    BOLT_LEN 125
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
