ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0028-PRM-0005-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0028-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0025-4"
    ATTRIBUTE83   12E-V-0163
    ATTRIBUTE84   C210-4902-12E-0006-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0028-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 138952.400          68303.188          107477.150  4  BW
    END-POINT 145450.063          68303.188          107477.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CD0                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 141000.000  68303.188 107477.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ES0                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 138952.400          68303.188          107477.150  4
    END-POINT 138952.400          68303.188          107477.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CD2                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 145450.063          68303.188          107477.150  4
    END-POINT 145450.063          68303.188          107477.150  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FLC                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 148912.464          68303.188          107477.150  4  
    END-POINT 145450.063          68303.188          107477.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DD1                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 148000.000  68303.188 107477.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DD5                 
    TAG                         S01-B-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 148912.464          68303.188          107477.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0028-PRM-0004-01
ELBOW
    END-POINT 138800.000          68150.788          107477.150  4  
    END-POINT 138952.400          68303.188          107477.150  4  
    CENTRE-POINT  138800.000          68303.188          107477.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CD4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 138800.000          68150.788          107477.150  4
    END-POINT 138800.000          68150.788          107477.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FOO                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 138800.000          68150.788          107477.150  4  BW
    END-POINT 138800.000          67500.000          107477.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DA9                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 138800.000  67800.000 107477.150  4
    SKEY HANG
    FABRICATION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FOT                 
    TAG                         HS01-A-1-4                      
FLOW-ARROW
    CO-ORDS 138800.000  67633.146 107477.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 138800.000          67500.000          107477.150  4
    END-POINT 138800.000          67500.000          107477.150  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GOWYJGJH_5UA                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 138800.000          60460.028          107477.150  4  
    END-POINT 138800.000          67500.000          107477.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GOWYJGJH_39T                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 138800.000  63600.000 107477.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GOWYJGJH_39X                 
    TAG                         S01-A-3-4                       
FLOW-ARROW
    CO-ORDS 138800.000  62551.585 107477.150 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 138800.000          60460.028          107477.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0028-SB-0020-01
MATERIALS
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPRH-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION HEAVY PIPE CLAMP HANGER ASSEMBLY H=586mm HS01-A-1-4
