ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0031-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0031-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-CG-0022/0017-3"
    ATTRIBUTE83   12E-P-0104A/B
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0031-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 167388.474          54999.601          105944.948  1  
    END-POINT 167388.474          54999.458          105973.650  1
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HW7                 
    PIPING-SPEC CHS
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS 167388.474  54999.506 105963.998 
    UNDIMENSIONED
    TEXT 12E$TE$0131
OLET
    CENTRE-POINT     167388.474  54999.990 105867.159 
    BRANCH1-POINT 167388.474          54999.601          105944.948  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HW3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167388.474  54999.990 105867.159  4
    END-POINT 167388.474  54999.990 105867.159  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HW5                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 167388.474          57020.523          105877.262  4  BW
    END-POINT 167388.474          54199.312          105863.156  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVR                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 167388.474  54799.992 105866.159  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVZ                 
    TAG                         S01-A-3-4                       
MESSAGE
    CO-ORDS 167388.474  54800.412 105782.160 
    TEXT PS
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS 167388.474  55695.223 105870.635 
    FLOW 1
    SKEY FLOW
MESSAGE
    CO-ORDS 167388.474  54800.992 105866.164 
    TEXT TRIM SHOE HEIGHT TO SUIT
    UNDIMENSIONED
WELD
    END-POINT 167388.474          57020.523          105877.262  4
    END-POINT 167388.474          57020.523          105877.262  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167388.474          54199.312          105863.156  4
    END-POINT 167388.474          54199.312          105863.156  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_9S4                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 167540.872          54046.914          105861.632  4  
    END-POINT 167388.474          54199.312          105863.156  4  
    CENTRE-POINT  167388.474          54046.914          105862.394 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_9R9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 167540.872          54046.914          105861.632 
    PIPELINE-REFERENCE C210-4910-12E-CG-0031-SB-0008-01
TEE
    END-POINT 167388.474          57229.820          105878.308  4  
    END-POINT 167388.474          57020.523          105877.262  4  
    CENTRE-POINT  167388.474          57125.172          105877.785 
    BRANCH1-POINT 167388.474          57124.679          105976.334  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 167388.474          57229.820          105878.308  4
    END-POINT 167388.474          57229.820          105878.308  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVO                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 167388.474          57124.679          105976.334  3
    END-POINT 167388.474          57124.679          105976.334  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 167388.474          57125.168          106190.590  3  
    END-POINT 167388.474          57124.679          105976.334  3  
    CONTINUATION 
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVW                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 167388.474          57125.168          106190.590 
    PIPELINE-REFERENCE C210-4910-12E-CG-0030-PRM-0009-01
ELBOW
    END-POINT 167388.474          57229.820          105878.308  4  
    END-POINT 167236.076          57382.215          105879.832  4  
    CENTRE-POINT  167388.474          57382.218          105879.070 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 167236.076          57382.215          105879.832  4
    END-POINT 167236.076          57382.215          105879.832  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVU                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 167236.076          57382.215          105879.832  4  BW
    END-POINT 166876.773          57382.218          105881.629  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVT                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166876.773          57382.218          105881.629  4
    END-POINT 166876.773          57382.218          105881.629  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HVV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166772.126          57486.866          105882.152  4  
    END-POINT 166772.126          57277.570          105882.152  4  
    CENTRE-POINT  166772.126          57382.218          105882.152 
    BRANCH1-POINT 166876.773          57382.218          105881.629  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AEC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166772.126          57486.866          105882.152  4
    END-POINT 166772.126          57486.866          105882.152  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CEE                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166772.126          57277.570          105882.152  4
    END-POINT 166772.126          57277.570          105882.152  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_B64                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 166772.126          57486.866          105882.152  4  
    END-POINT 166772.126          57588.466          105869.452  3  
    SKEY REBW
    CONTINUATION 
    WEIGHT           2.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_A6Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 166772.126          57588.466          105869.452 
    PIPELINE-REFERENCE C210-4910-12E-CG-0022-PRM-0009-01
REDUCER-ECCENTRIC
    END-POINT 166772.126          57277.570          105882.152  4  
    END-POINT 166772.126          57175.970          105869.452  3  
    SKEY REBW
    CONTINUATION 
    WEIGHT           2.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_B62                 
    PIPING-SPEC CHS
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 166772.126          57175.970          105869.452 
    PIPELINE-REFERENCE C210-4910-12E-CG-0017-PRM-0009-01
MATERIALS
ITEM-CODE TOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION THREDOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
