ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0004-02
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-CG-0034-PRM-0004-02
    ATTRIBUTE70   V/L
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   3120
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-P-0104A/B
    ATTRIBUTE83   12E-PE-0031-8"
    ATTRIBUTE84   C210-4902-12E-0008-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0034-3"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 149848.311          70074.639          106162.437  1  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C3B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT 149848.311          70074.639          106186.313  1
    SKEY FLBL
GASKET
    END-POINT 149848.311          70074.639          106159.262  1
    END-POINT 149848.311          70074.639          106162.437  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C39                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 149848.311          70074.639          106162.437 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.660
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C3A                 
FLANGE
    END-POINT 149848.311          70074.639          106159.262  1  
    END-POINT 149848.311          70074.639          106138.624  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C38                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149848.311          70074.639          106138.624  1
    END-POINT 149848.311          70074.639          106138.624  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C37                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 149848.311          70074.639          106037.024  1  
    END-POINT 149848.311          70074.639          106138.624  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C36                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149848.311          70074.639          106037.024  1
    END-POINT 149848.311          70074.639          106037.024  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E02                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     149848.311  70074.639 105965.584 
    BRANCH1-POINT 149848.311          70074.639          106037.024  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E00                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149848.311  70074.639 105965.584  3
    END-POINT 149848.311  70074.639 105965.584  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E01                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 149848.311          69968.939          105965.584  3  BW
    END-POINT 149848.311          70438.288          105965.584  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C30                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149848.311          69968.939          105965.584  3
    END-POINT 149848.311          69968.939          105965.584  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C2Z                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149848.311          70438.288          105965.584  3
    END-POINT 149848.311          70438.288          105965.584  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C32                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 149848.311          70438.288          105965.584  3  
    END-POINT 149848.311          70552.588          105851.284  3  
    CENTRE-POINT  149848.311          70552.588          105965.584 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C3C                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 149848.311          70552.588          105851.284  3
    END-POINT 149848.311          70552.588          105851.284  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQ0                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 149848.311          70552.588          105851.284  3  BW
    END-POINT 149848.311          70552.588          105563.194  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149848.311          70552.588          105563.194  3
    END-POINT 149848.311          70552.588          105563.194  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQ1                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     149848.311  70552.588 105409.204 
    BRANCH1-POINT 149848.311          70552.588          105563.194  3  
    SKEY WTBW
    CONTINUATION 
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EPW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 149848.311  70552.588 105409.204 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0004-01
ELBOW
    END-POINT 149848.311          69968.939          105965.584  3  
    END-POINT 149848.311          69854.639          105851.284  3  
    CENTRE-POINT  149848.311          69854.639          105965.584 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C2Y                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 149848.311          69854.639          105851.284  3
    END-POINT 149848.311          69854.639          105851.284  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C2X                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 149848.311          69854.639          105851.284  3  BW
    END-POINT 149848.311          69854.639          105751.284  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C2W                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 149848.311          69854.639          105751.284  3
    END-POINT 149848.311          69854.639          105751.284  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C2V                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 149848.311          69854.639          105751.284  3  
    END-POINT 149962.611          69854.639          105636.984  3  
    CENTRE-POINT  149848.311          69854.639          105636.984 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C2T                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 149962.611          69854.639          105636.984  3
    END-POINT 149962.611          69854.639          105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGA                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 150562.606          69854.639          105636.984  3  BW
    END-POINT 149962.611          69854.639          105636.984  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG8                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 150274.606  69854.639 105636.984  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGL                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 150562.606          69854.639          105636.984  3
    END-POINT 150562.606          69854.639          105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG9                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 150651.506          69854.639          105636.984  3  
    END-POINT 150562.606          69854.639          105636.984  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG2                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 150651.506          69854.639          105636.984  3
    END-POINT 150654.686          69854.639          105636.984  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 150651.506          69854.639          105636.984 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG4                 
VALVE
    END-POINT 151010.286          69854.639          105636.984  3  
    END-POINT 150654.686          69854.639          105636.984  3  
    CENTRE-POINT  150832.486          69854.639          105636.984 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT          79.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C2L                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 151013.466          69854.639          105636.984  3
    END-POINT 151010.286          69854.639          105636.984  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 151013.466          69854.639          105636.984 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG1                 
FLANGE
    END-POINT 151013.466          69854.639          105636.984  3  
    END-POINT 151102.366          69854.639          105636.984  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EFZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151102.366          69854.639          105636.984  3
    END-POINT 151102.366          69854.639          105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG7                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 151402.356          69854.639          105636.984  3  BW
    END-POINT 151102.366          69854.639          105636.984  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG5                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 151297.149  69854.639 105636.984 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 151402.356          69854.639          105636.984  3
    END-POINT 151402.356          69854.639          105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EG6                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151254.261  69854.639 105636.984  3
    END-POINT 151254.261  69854.639 105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGF                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151251.361  69854.639 105636.984  3
    END-POINT 151251.361  69854.639 105636.984  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGI                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     151251.361  69854.639 105636.984 
    BRANCH1-POINT 151251.361          69854.639          105565.544  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151251.361          69854.639          105565.544  1
    END-POINT 151251.361          69854.639          105565.544  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGK                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 151251.361          69854.639          105565.544  1  
    END-POINT 151251.361          69854.639          105463.944  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C0T                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151251.361          69854.639          105463.944  1
    END-POINT 151251.361          69854.639          105463.944  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C0U                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 151251.361          69854.639          105463.944  1  SW FEMALE 
    END-POINT 151251.361          69854.639          105384.694  1  
    CENTRE-POINT  151251.361          69854.639          105421.144 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C0V                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 151251.361          69854.639          105384.694  1  
    END-POINT 151251.361          69854.639          105355.992  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E6R                 
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     151254.261  69854.639 105636.984 
    BRANCH1-POINT 151254.261          69854.639          105705.244  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGD                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151254.261          69854.639          105705.244  0.75
    END-POINT 151254.261          69854.639          105705.244  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EGJ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 151254.261          69854.639          105705.244  0.75  
    END-POINT 151254.261          69854.639          105806.844  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C0G                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 151254.261          69854.639          105806.844  0.75
    END-POINT 151254.261          69854.639          105806.844  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EEY                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 151254.261          69854.639          105806.844  0.75  SW FEMALE 
    END-POINT 151254.261          69854.639          105888.378  0.75  
    END-POINT 151254.261          69893.882          105849.135  0.75  
    CENTRE-POINT  151254.261          69854.639          105849.135 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EEW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE-CIRCLE
    CO-ORDS 151254.261  69854.639 105904.126 
    UNDIMENSIONED
    TEXT 12E$PG$0126
MISC-COMPONENT
    END-POINT 151254.261          69893.882          105849.135  0.75  
    END-POINT 151254.261          69919.282          105849.135  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EF4                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 151254.261          69854.639          105888.378  0.75  
    END-POINT 151254.261          69854.639          105913.778  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EF1                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 151491.256          69854.639          105636.984  3  
    END-POINT 151402.356          69854.639          105636.984  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E6T                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 151491.256          69854.639          105636.984  3
    END-POINT 151494.436          69854.639          105636.984  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E6U                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 151491.256          69854.639          105636.984 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E6V                 
VALVE
    END-POINT 151850.036          69854.639          105636.984  3  
    END-POINT 151494.436          69854.639          105636.984  3  
    CENTRE-POINT  151672.236          69854.639          105636.984 
    SKEY VGFL
    FABRICATION-ITEM
    ITEM-CODE VALVGLB3
    WEIGHT          65.830
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C12                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 151850.036          69854.639          105636.984  3
    END-POINT 151853.211          69854.639          105636.984  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C14                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
FLANGE
    END-POINT 151853.211          69854.639          105636.984  3  
    END-POINT 151942.111          69854.639          105636.984  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_C16                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 151942.111          69854.639          105636.984 
    PIPELINE-REFERENCE C210-4910-12E-CG-0034-PRM-0004-01
MATERIALS
ITEM-CODE FLGBLD1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING 600LB
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT1
    BOLT_DIA 15.875
    BOLT_LEN 90
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 3 1/2 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVGAT3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE SOL3X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGLB3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.34
    DESCRIPTION GLOBE VALVE RF, A216-WCB, CL600  , GL-600HS, NACE
    RATING 600LB
