ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0004-02
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0031-PRM-0004-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0030-8"
    ATTRIBUTE83   14-PE-1007-8"
    ATTRIBUTE84   C210-4902-12E-0007-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0031-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT 155480.000          71257.388          104808.602  2  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EXF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POINT 155480.000          71257.388          104776.852  2
    SKEY FLBL
GASKET
    END-POINT 155480.000          71257.388          104808.602  2
    END-POINT 155480.000          71257.388          104811.782  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EXG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 155480.000          71257.388          104808.602 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EXH                 
VALVE
    END-POINT 155480.000          71257.388          105103.882  2  
    END-POINT 155480.000          71257.388          104811.782  2  
    CENTRE-POINT  155480.000          71257.388          104957.832 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EXA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT 155480.000          71257.388          105103.882  2
    END-POINT 155480.000          71257.388          105107.062  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EXB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 155480.000          71257.388          105107.062 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EXC                 
FLANGE
    END-POINT 155480.000          71257.388          105107.062  2  
    END-POINT 155480.000          71257.388          105186.564  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 155480.000          71257.388          105186.564  2
    END-POINT 155480.000          71257.388          105186.564  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX9                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 155480.000          71257.388          105261.564  2  BW
    END-POINT 155480.000          71257.388          105186.564  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 155480.000          71257.388          105261.564  2
    END-POINT 155480.000          71257.388          105261.564  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX7                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     155480.000  71257.388 105409.204 
    BRANCH1-POINT 155480.000          71257.388          105261.564  2  
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X2
    WEIGHT           0.800
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EVS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 155480.000  71257.388 105409.204  8
    END-POINT 155480.000  71257.388 105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EVU                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 155480.000          71586.748          105409.204  8  BW
    END-POINT 155480.000          70857.388          105409.204  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EV4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 155480.000          71586.748          105409.204  8
    END-POINT 155480.000          71586.748          105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EV5                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 155480.000          70857.388          105409.204  8
    END-POINT 155480.000          70857.388          105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EVH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 155480.000          70857.388          105409.204  8  
    END-POINT 155175.200          70552.588          105409.204  8  
    CENTRE-POINT  155480.000          70552.588          105409.204 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EVF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 155175.200          70552.588          105409.204  8
    END-POINT 155175.200          70552.588          105409.204  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EWH                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 155035.500          70552.588          105409.204  8  
    END-POINT 155175.200          70552.588          105409.204  8  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK8
    WEIGHT          52.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EWE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 155032.320          70552.588          105409.204  8
    END-POINT 155035.500          70552.588          105409.204  8
    CONTINUATION 
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EX0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
VALVE
    END-POINT 154371.920          70552.588          105409.204  8  
    END-POINT 155032.320          70552.588          105409.204  8  
    CENTRE-POINT  154702.120          70552.588          105409.204 
    SKEY CKFL
    CONTINUATION 
    WEIGHT         390.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EWZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 154371.920          70552.588          105409.204 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0004-01
ELBOW
    END-POINT 155480.000          71891.548          105714.004  8  
    END-POINT 155480.000          71586.748          105409.204  8  
    CENTRE-POINT  155480.000          71891.548          105409.204 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 155480.000          71891.548          105714.004  8
    END-POINT 155480.000          71891.548          105714.004  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EV2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 155480.000          71891.548          105714.004  8  BW
    END-POINT 155480.000          71891.548          106331.948  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EV1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 155480.000          71891.548          106331.948  8
    END-POINT 155480.000          71891.548          106331.948  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EV3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 155302.200          71891.548          106509.748  8  
    END-POINT 155657.800          71891.548          106509.748  8  
    CENTRE-POINT  155480.000          71891.548          106509.748 
    BRANCH1-POINT 155480.000          71891.548          106331.948  8  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR8X8
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EU8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 155302.200          71891.548          106509.748  8
    END-POINT 155302.200          71891.548          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUB                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 155657.800          71891.548          106509.748  8
    END-POINT 155657.800          71891.548          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUJ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 155657.800          71891.548          106509.748  8  BW
    END-POINT 156207.800          71891.548          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 155999.800  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUM                 
    TAG                         S02-B-3-8                       
WELD
    END-POINT 156207.800          71891.548          106509.748  8
    END-POINT 156207.800          71891.548          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
CAP
    END-POINT 156207.800          71891.548          106509.748  8  
    END-POINT 156309.400          71891.548          106509.748  8
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 155302.200          71891.548          106509.748  8  BW
    END-POINT 146347.125          71891.548          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 151999.999  71891.553 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_E80                 
    TAG                         S02-B-3-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 148000.125  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUD                 
    TAG                         S02-B-3-8                       
FLOW-ARROW
    CO-ORDS 153956.247  71891.548 106509.748 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 146347.125          71891.548          106509.748  8
    END-POINT 146347.125          71891.548          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 146543.943  71891.548 106509.748  8
    END-POINT 146543.943  71891.548 106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUQ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     146543.943  71891.548 106509.748 
    BRANCH1-POINT 146543.943          71891.548          106646.278  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL8X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 146543.943          71891.548          106646.278  1
    END-POINT 146543.943          71891.548          106646.278  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUS                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 146543.943          71891.548          106646.278  1  
    END-POINT 146543.943          71891.548          106747.878  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 146543.943          71891.548          106747.878  1
    END-POINT 146543.943          71891.548          106747.878  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUU                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 146543.943          71891.548          106747.878  1  SW FEMALE 
    END-POINT 146543.943          71891.548          106826.128  1  
    CENTRE-POINT  146543.943          71891.548          106790.178 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 146543.943          71891.548          106826.128  1  
    END-POINT 146543.943          71891.548          106854.830  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EUX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLANGE
    END-POINT 146207.425          71891.548          106509.748  8  
    END-POINT 146347.125          71891.548          106509.748  8  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK8
    WEIGHT          52.650
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EU5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 146207.425          71891.548          106509.748  8
    END-POINT 146204.245          71891.548          106509.748  8
    FABRICATION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EYX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 146204.245          71891.548          106509.748 
    BOLT-DIA           1.125
    BOLT-QUANTITY              12
    BOLT-LENGTH           7.500
    WEIGHT          22.923
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EYY                 
VALVE
    END-POINT 145543.845          71891.548          106509.748  8  
    END-POINT 146204.245          71891.548          106509.748  8  
    CENTRE-POINT  145874.045          71891.548          106509.748 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL8
    WEIGHT         463.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EYH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-SQUARE
    CO-ORDS 145874.045  71891.548 106509.748 
    TEXT SP-016
    UNDIMENSIONED
GASKET
    END-POINT 145543.845          71891.548          106509.748  8
    END-POINT 145540.665          71891.548          106509.748  8
    ERECTION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EYU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 145543.845          71891.548          106509.748 
    BOLT-DIA           1.125
    BOLT-QUANTITY              12
    BOLT-LENGTH           9.250
    WEIGHT          22.923
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EYV                 
MISC-COMPONENT
    END-POINT 145512.215          71891.548          106509.748  8  
    END-POINT 145540.665          71891.548          106509.748  8  
    CENTRE-POINT 145526.440  71891.548 106509.748 
    SKEY SB
    CONTINUATION 
    WEIGHT          23.252
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ELR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
END-CONNECTION-PIPELINE 
    CO-ORDS 145512.215          71891.548          106509.748 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0005-01
MATERIALS
ITEM-CODE FLGBLD2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING CL600
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING CL600
    RATING 160
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING SCH 160
ITEM-CODE WOL8X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION WELDOLET , SCH 160, A105N, NACE
    RATING SCH 160
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE FLGWNK8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE TEESTR8X8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
ITEM-CODE CAP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9
    DESCRIPTION CAP BW, SCH 80, A234-WPB, NACE
    RATING SCH 80
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SOL8X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE GAS8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 28.575
    BOLT_LEN 190.5
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 1 1/8 X 7 1/2 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600 , GO, GA-600HSG, NACE
    RATING CL600
ITEM-CODE N/A_2
    BOLT_DIA 28.575
    BOLT_LEN 234.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION STUD BOLT  0
    RATING CL600
