ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0071-PRM-0007-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0071-PRM-0007-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0070-6"
    ATTRIBUTE83   12E-WI-7001 (TOE)
    ATTRIBUTE84   C210-4902-12E-0001-07
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0071-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  88342.720          72317.188          103918.925  1  
    END-POINT  88342.720          72317.188          103888.763  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAP                 
    PIPING-SPEC CH
    INSULATION-ON 
MESSAGE
    CO-ORDS  88342.720  72317.188 103901.463 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
VALVE
    END-POINT  88342.720          72317.188          103977.763  1  SW FEMALE 
    END-POINT  88342.720          72317.188          103918.925  1  
    CENTRE-POINT   88342.720          72317.188          103945.963 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAM                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  88342.720          72317.188          103977.763  1
    END-POINT  88342.720          72317.188          103977.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAL                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  88342.720          72317.188          104079.363  1  
    END-POINT  88342.720          72317.188          103977.763  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAK                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88342.720          72317.188          104079.363  1
    END-POINT  88342.720          72317.188          104079.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      88342.719  72317.188 104144.450 
    BRANCH1-POINT  88342.720          72317.188          104079.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAI                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  88342.719  72317.188 104144.450  3
    END-POINT  88342.719  72317.188 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  88443.719          72317.188          104144.450  3  BW
    END-POINT  87440.169          72317.188          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAA                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  88000.000  72317.188 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CLL                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS  88000.000  72317.188 104144.450  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CLQ                 
    TAG                         RP02-3-3                        
WELD
    END-POINT  88443.719          72317.188          104144.450  3
    END-POINT  88443.719          72317.188          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BA9                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87440.169          72317.188          104144.450  3
    END-POINT  87440.169          72317.188          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6Z                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87590.169  72317.188 104144.450  3
    END-POINT  87590.169  72317.188 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  88583.419          72317.188          104184.138  6  
    END-POINT  88443.719          72317.188          104144.450  3  
    SKEY REBW
    CONTINUATION 
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BA8                 
    PIPING-SPEC CH
    INSULATION-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS  88583.419          72317.188          104184.138 
    PIPELINE-REFERENCE C210-4910-12E-S-0070-PRM-0007-02
OLET
    CENTRE-POINT      87590.169  72317.188 104144.450 
    BRANCH1-POINT  87590.169          72317.188          104079.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAQ                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87590.169          72317.188          104079.363  1
    END-POINT  87590.169          72317.188          104079.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6D                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  87590.169          72317.188          103900.663  1  PL
    END-POINT  87590.169          72317.188          104079.363  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6B                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87590.169          72317.188          103900.663  1
    END-POINT  87590.169          72317.188          103900.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6C                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  87590.169          72317.188          103815.663  1  
    END-POINT  87590.169          72317.188          103900.663  1  
    CENTRE-POINT   87590.169          72317.188          103858.163 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5X                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  87590.169          72317.188          103815.663  1
    END-POINT  87590.169          72317.188          103815.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5Y                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  87590.170          72317.188          103664.963  1  PL
    END-POINT  87590.169          72317.188          103815.663  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAX                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87590.170          72317.188          103664.963  1
    END-POINT  87590.170          72317.188          103664.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT  87590.170          72317.188          103664.963  1  
    END-POINT  87567.818          72317.188          103642.611  1  
    CENTRE-POINT   87590.170          72317.188          103642.611 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BAZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  87567.818          72317.188          103642.611  1
    END-POINT  87567.818          72317.188          103642.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FL8                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  87412.414          72317.188          103642.611  1  PL
    END-POINT  87567.818          72317.188          103642.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FL6                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87412.414          72317.188          103642.611  1
    END-POINT  87412.414          72317.188          103642.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FL7                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT  87367.714          72317.188          103642.610  1  
    END-POINT  87412.414          72317.188          103642.611  1  
    CENTRE-POINT   87390.064          72317.188          103642.610 
    BRANCH1-POINT  87390.064          72317.188          103617.210  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FL3                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  87367.714          72317.188          103642.610  1
    END-POINT  87367.714          72317.188          103642.610  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FL5                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87390.064          72317.188          103617.210  0.5
    END-POINT  87390.064          72317.188          103617.210  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLA                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  87390.064          72317.188          103617.210  0.5  
    END-POINT  87390.064          72317.188          103515.610  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FL9                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87390.064          72317.188          103515.610  0.5
    END-POINT  87390.064          72317.188          103515.610  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLF                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  87390.064          72317.188          103515.610  0.5  SW FEMALE 
    END-POINT  87390.064          72317.188          103459.484  0.5  
    CENTRE-POINT   87390.064          72317.188          103485.260 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLE                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT  87390.064          72317.188          103459.484  0.5  
    END-POINT  87390.064          72317.188          103437.386  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FLI                 
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  87052.071          72317.188          103642.610  1  PL
    END-POINT  87367.714          72317.188          103642.610  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F65                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  87052.071          72317.188          103642.610  1
    END-POINT  87052.071          72317.188          103642.610  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F66                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  86967.071          72317.188          103642.610  1  
    END-POINT  87052.071          72317.188          103642.610  1  
    CENTRE-POINT   87009.571          72317.188          103642.610 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F61                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  86967.071          72317.188          103642.610  1
    END-POINT  86967.071          72317.188          103642.610  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F62                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  86791.371          72317.188          103642.610  1  PL
    END-POINT  86967.071          72317.188          103642.610  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BBH                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86791.371          72317.188          103642.610  1
    END-POINT  86791.371          72317.188          103642.610  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BBI                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT  86769.019          72317.188          103664.962  1  
    END-POINT  86791.371          72317.188          103642.610  1  
    CENTRE-POINT   86769.019          72317.188          103642.610 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BBJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  86769.019          72317.188          103664.962  1
    END-POINT  86769.019          72317.188          103664.962  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BBK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  86769.019          72317.188          103664.962  1  PL
    END-POINT  86769.019          72317.188          103815.663  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BBL                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86769.019          72317.188          103815.663  1
    END-POINT  86769.019          72317.188          103815.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5U                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  86769.019          72317.188          103815.663  1  
    END-POINT  86769.019          72317.188          103900.663  1  
    CENTRE-POINT   86769.019          72317.188          103858.163 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5T                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  86769.019          72317.188          103900.663  1
    END-POINT  86769.019          72317.188          103900.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F77                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  86769.019          72317.188          104079.360  1  PL
    END-POINT  86769.019          72317.188          103900.663  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F75                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86769.019          72317.188          104079.360  1
    END-POINT  86769.019          72317.188          104079.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F76                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      86769.019  72317.188 104144.450 
    BRANCH1-POINT  86769.019          72317.188          104079.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F72                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86769.019  72317.188 104144.450  3
    END-POINT  86769.019  72317.188 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F73                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  84693.982          72317.188          104144.450  3  BW
    END-POINT  86919.009          72317.188          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6N                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  85000.000  72317.188 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CLH                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS  85000.000  72317.188 104144.450  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DDO                 
    TAG                         RP02-3-3                        
FLOW-ARROW
    CO-ORDS  85933.577  72317.188 104144.450 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  84693.982          72317.188          104144.450  3
    END-POINT  84693.982          72317.188          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6H                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  86919.009          72317.188          104144.450  3
    END-POINT  86919.009          72317.188          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F70                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT  87007.909          72317.188          104144.450  3  
    END-POINT  86919.009          72317.188          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6W                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  87007.909          72317.188          104144.450  3
    END-POINT  87011.089          72317.188          104144.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6X                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  87007.909          72317.188          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6Y                 
INSTRUMENT
    END-POINT  87011.089          72317.188          104144.450  3  
    END-POINT  87348.089          72317.188          104144.450  3  
    CENTRE-POINT   87179.589          72317.188          104144.450 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BC3                 
    TAG 12E$FV$7101                     
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  87351.269          72317.188          104144.450  3
    END-POINT  87348.089          72317.188          104144.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6U                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  87351.269          72317.188          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6V                 
FLANGE
    END-POINT  87351.269          72317.188          104144.450  3  
    END-POINT  87440.169          72317.188          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6T                 
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT  84605.082          72317.188          104144.450  3  
    END-POINT  84693.982          72317.188          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6E                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  84605.082          72317.188          104144.450  3
    END-POINT  84601.902          72317.188          104144.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6F                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  84605.082          72317.188          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6G                 
INSTRUMENT
    END-POINT  84601.902          72317.188          104144.450  3  
    END-POINT  84311.902          72317.188          104144.450  3  
    CENTRE-POINT   84456.902          72317.188          104144.450 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F4U                 
    TAG 12E$FE$7101                     
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  84311.902          72317.188          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0071-PRM-0007-02
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
    RATING 3000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING 40
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE SUPPS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-3
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A105N, CL3000
    RATING 3000LB
ITEM-CODE TEESTR1X1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A105N, CL3000
    RATING CL3000
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING CL800
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
