ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0006-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0031-PRM-0006-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0030-8"
    ATTRIBUTE83   14-PE-1007-8"
    ATTRIBUTE84   C210-4902-12E-0007-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0031-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 121005.244          71891.548          106509.748  8  BW
    END-POINT 123450.440          71891.548          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 122000.242  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9X                 
    TAG                         S02-B-4-8                       
WELD
    END-POINT 121005.244          71891.548          106509.748  8
    END-POINT 121005.244          71891.548          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9R                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 123450.440          71891.548          106509.748  8
    END-POINT 123450.440          71891.548          106509.748  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBT                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 123450.440          71891.548          106509.748  8  
    END-POINT 145369.335          71891.548          106509.748  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EL9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 136013.335  71891.548 106509.748 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 126000.138  71891.548 106509.748  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ELW                 
    TAG                         RP02-3-8                        
SUPPORT
    CO-ORDS 126000.138  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_ELY                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 132000.137  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EM2                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 138000.138  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EM4                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 144000.138  71891.548 106509.748  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EM8                 
    TAG                         RP02-6-8                        
SUPPORT
    CO-ORDS 144000.138  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EMB                 
    TAG                         S03-B-6-8                       
END-CONNECTION-PIPELINE 
    CO-ORDS 145369.335          71891.548          106509.748 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0005-01
ELBOW
    END-POINT 120700.444          71586.748          106509.748  8  
    END-POINT 121005.244          71891.548          106509.748  8  
    CENTRE-POINT  120700.444          71891.548          106509.748 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 120700.444          71586.748          106509.748  8
    END-POINT 120700.444          71586.748          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9O                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 120700.444          67206.773          106509.748  8  BW
    END-POINT 120700.444          71586.748          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 120700.444  67800.003 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9V                 
    TAG                         S02-B-3-8                       
WELD
    END-POINT 120700.444          67206.773          106509.748  8
    END-POINT 120700.444          67206.773          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9N                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 120395.644          66901.973          106509.748  8  
    END-POINT 120700.444          67206.773          106509.748  8  
    CENTRE-POINT  120700.444          66901.973          106509.748 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 120395.644          66901.973          106509.748  8
    END-POINT 120395.644          66901.973          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9E                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 120395.644          66901.973          106509.748  8  BW
    END-POINT 118204.734          66901.973          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 118204.734          66901.973          106509.748  8
    END-POINT 118204.734          66901.973          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9F                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 117899.934          67206.773          106509.748  8  
    END-POINT 118204.734          66901.973          106509.748  8  
    CENTRE-POINT  117899.934          66901.973          106509.748 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E95                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 117899.934          67206.773          106509.748  8
    END-POINT 117899.934          67206.773          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E98                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 117899.934          67206.773          106509.748  8  BW
    END-POINT 117899.934          71586.748          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E97                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 117899.934  67798.748 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E9T                 
    TAG                         S02-B-3-8                       
WELD
    END-POINT 117899.934          71586.748          106509.748  8
    END-POINT 117899.934          71586.748          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E99                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 117595.134          71891.548          106509.748  8  
    END-POINT 117899.934          71586.748          106509.748  8  
    CENTRE-POINT  117899.934          71891.548          106509.748 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E92                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 117595.134          71891.548          106509.748  8
    END-POINT 117595.134          71891.548          106509.748  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E94                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 117595.134          71891.548          106509.748  8  BW
    END-POINT 101440.480          71891.548          106509.748  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E7L                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 113166.861  71891.548 106509.748 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 104000.000  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E7T                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 110000.000  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E7V                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 116000.000  71891.548 106509.748  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E7Y                 
    TAG                         S02-B-3-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 116000.000  71891.548 106509.748  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E80                 
    TAG                         RP02-3-8                        
WELD
    END-POINT 101440.480          71891.548          106509.748  8
    END-POINT 101440.480          71891.548          106509.748  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EBR                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT  78296.662          71891.548          106509.748  8  
    END-POINT 101440.480          71891.548          106509.748  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_E8Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  79000.000  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIP                 
    TAG                         S02-B-4-8                       
SUPPORT
    CO-ORDS  88000.000  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIT                 
    TAG                         S02-B-3-8                       
FLOW-ARROW
    CO-ORDS  90932.189  71891.548 106509.748 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  94000.000  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIV                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 100000.000  71891.548 106509.748  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_CIX                 
    TAG                         S03-B-6-8                       
END-CONNECTION-PIPELINE 
    CO-ORDS  78296.662          71891.548          106509.748 
    PIPELINE-REFERENCE C210-4910-12E-PE-0031-PRM-0007-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-4-8
ITEM-CODE 90LLR8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPPS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-3-8
