ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0013-PRM-0002-02
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0013-PRM-0002-02
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0083-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0013-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
REDUCER-CONCENTRIC
    END-POINT 195333.608          73023.580          104117.332  1  
    END-POINT 195333.608          73112.480          104117.332  0.5  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON1X1/2
    WEIGHT           0.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 195333.608  73102.828 104117.332 
    TEXT CONT.ON LINE$12E-FG-0083-1/2"-EY
    UNDIMENSIONED
WELD
    END-POINT 195333.608          73023.580          104117.332  1
    END-POINT 195333.608          73023.580          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS 195333.608          73112.480          104117.332 
COUPLING
    END-POINT 195333.608          73010.880          104117.332  1  
    END-POINT 195333.608          73023.580          104117.332  1  
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195333.608          73010.880          104117.332  1
    END-POINT 195333.608          73010.880          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 195333.608          72557.258          104117.332  1  PL
    END-POINT 195333.608          73010.880          104117.332  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMF                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 195333.608  72800.000 104117.332  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMG                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 195333.608          72557.258          104117.332  1
    END-POINT 195333.608          72557.258          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AME                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 195333.608          72455.658          104117.332  1  
    END-POINT 195333.608          72557.258          104117.332  1  
    CENTRE-POINT  195333.608          72506.458          104117.332 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           4.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195333.608          72455.658          104117.332  1
    END-POINT 195333.608          72455.658          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMC                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 195333.608          72455.658          104117.332  1  PL
    END-POINT 195333.608          71592.670          104117.332  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195333.608          71592.670          104117.332  1
    END-POINT 195333.608          71592.670          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AM3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 195333.608          71592.670          104117.332  1  
    END-POINT 195333.608          71547.966          104117.332  1  
    CENTRE-POINT  195333.608          71570.318          104117.332 
    BRANCH1-POINT 195333.608          71570.318          104094.980  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AM2                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 195333.608          71547.966          104117.332  1
    END-POINT 195333.608          71547.966          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AM1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 195333.608          71570.318          104094.980  0.75
    END-POINT 195333.608          71570.318          104094.980  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AM4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 195333.608          71570.318          104094.980  0.75  
    END-POINT 195333.608          71570.318          103993.380  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AM5                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195333.608          71570.318          103993.380  0.75
    END-POINT 195333.608          71570.318          103993.380  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AM6                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 195333.608          71570.318          103993.380  0.75  SW FEMALE 
    END-POINT 195333.608          71570.318          103910.388  0.75  
    CENTRE-POINT  195333.608          71570.318          103951.090 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AM7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 195333.608          71570.318          103910.388  0.75  
    END-POINT 195333.608          71570.318          103881.812  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AMA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 195333.608          71570.318          103881.812 
PIPE
    END-POINT 195333.608          71262.124          104117.332  1  PL
    END-POINT 195333.608          71547.966          104117.332  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AM0                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195333.608          71262.124          104117.332  1
    END-POINT 195333.608          71262.124          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 195311.256          71239.772          104117.332  1  
    END-POINT 195333.608          71262.124          104117.332  1  
    CENTRE-POINT  195333.608          71239.772          104117.332 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 195311.256          71239.772          104117.332  1
    END-POINT 195311.256          71239.772          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 195311.256          71239.772          104117.332  1  PL
    END-POINT 194386.704          71239.772          104117.332  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALW                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 194386.704          71239.772          104117.332  1
    END-POINT 194386.704          71239.772          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 194386.704          71239.772          104117.332  1  
    END-POINT 194342.000          71239.772          104117.332  1  
    CENTRE-POINT  194364.352          71239.772          104117.332 
    BRANCH1-POINT 194364.352          71239.772          104139.684  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 194342.000          71239.772          104117.332  1
    END-POINT 194342.000          71239.772          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 194364.352          71239.772          104139.684  0.75
    END-POINT 194364.352          71239.772          104139.684  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 194364.352          71239.772          104139.684  0.75  
    END-POINT 194364.352          71239.772          104241.284  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALQ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 194364.352          71239.772          104241.284  0.75
    END-POINT 194364.352          71239.772          104241.284  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALR                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 194364.352          71239.772          104241.284  0.75  SW FEMALE 
    END-POINT 194364.352          71239.772          104325.296  0.75  
    CENTRE-POINT  194364.352          71239.772          104284.084 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 194364.352          71239.772          104325.296  0.75  
    END-POINT 194364.352          71239.772          104353.871  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 194364.352          71239.772          104353.871 
MESSAGE
    CO-ORDS 194364.352  71239.772 104339.584 
    TEXT CONT.ON LINE$12E-FG-0152-1/2"-EY
    UNDIMENSIONED
PIPE
    END-POINT 194342.000          71239.772          104117.332  1  PL
    END-POINT 193787.441          71239.772          104117.332  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 194000.168  71239.772 104117.332  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALL                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 194230.609  71239.772 104117.332 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 193787.441          71239.772          104117.332  1
    END-POINT 193787.441          71239.772          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 193742.737          71239.772          104117.332  1  
    END-POINT 193787.441          71239.772          104117.332  1  
    CENTRE-POINT  193765.089          71239.772          104117.332 
    BRANCH1-POINT 193765.089          71239.772          104139.684  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 193742.737          71239.772          104117.332  1
    END-POINT 193742.737          71239.772          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 193765.089          71239.772          104139.684  0.75
    END-POINT 193765.089          71239.772          104139.684  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 193765.089          71239.772          104139.684  0.75  
    END-POINT 193765.089          71239.772          104241.284  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193765.089          71239.772          104241.284  0.75
    END-POINT 193765.089          71239.772          104241.284  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALF                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 193765.089          71239.772          104241.284  0.75  SW FEMALE 
    END-POINT 193765.089          71239.772          104325.296  0.75  
    CENTRE-POINT  193765.089          71239.772          104284.084 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 193765.089          71239.772          104325.296  0.75  
    END-POINT 193765.089          71239.772          104353.871  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ALJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 193765.089          71239.772          104353.871 
PIPE
    END-POINT 193742.737          71239.772          104117.332  1  PL
    END-POINT 193617.640          71239.772          104117.332  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AL9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193617.640          71239.772          104117.332  1
    END-POINT 193617.640          71239.772          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AL0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 193572.936          71239.772          104117.332  1  
    END-POINT 193617.640          71239.772          104117.332  1  
    CENTRE-POINT  193595.288          71239.772          104117.332 
    BRANCH1-POINT 193595.288          71239.772          104139.684  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AKZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 193572.936          71239.772          104117.332  1
    END-POINT 193572.936          71239.772          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AKY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 193595.288          71239.772          104139.684  0.75
    END-POINT 193595.288          71239.772          104139.684  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AL1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 193595.288          71239.772          104139.684  0.75  
    END-POINT 193595.288          71239.772          104241.284  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AL2                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193595.288          71239.772          104241.284  0.75
    END-POINT 193595.288          71239.772          104241.284  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AL3                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 193595.288          71239.772          104241.284  0.75  SW FEMALE 
    END-POINT 193595.288          71239.772          104325.296  0.75  
    CENTRE-POINT  193595.288          71239.772          104284.084 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AL4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 193595.288          71239.772          104325.296  0.75  
    END-POINT 193595.288          71239.772          104353.871  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AL7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 193595.288          71239.772          104353.871 
MESSAGE-CIRCLE
    CO-ORDS 193595.288  71239.772 104339.584 
    UNDIMENSIONED
    TEXT 12E$PIT$3114
PIPE
    END-POINT 193572.936          71239.772          104117.332  1  PL
    END-POINT 193409.536          71239.772          104117.332  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AKX                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193409.536          71239.772          104117.332  1
    END-POINT 193409.536          71239.772          104117.332  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AKW                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 193374.738          71239.772          104117.332  1  
    END-POINT 193409.536          71239.772          104117.332  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AKV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 193370.674          71239.772          104117.332  1
    END-POINT 193374.738          71239.772          104117.332  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AKT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 193374.738          71239.772          104117.332 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AKU                 
INSTRUMENT
    END-POINT 193370.674          71239.772          104117.332  1  
    END-POINT 193116.674          71239.772          104117.332  1  
    CENTRE-POINT  193243.674          71239.772          104117.332 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AKR                 
    TAG 12E$FV$3114                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS 193116.674          71239.772          104117.332 
    PIPELINE-REFERENCE C210-4910-12E-FG-0013-PRM-0002-01
MATERIALS
ITEM-CODE SWGCON1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC PBE, A420-WPL6, SCH 160
    RATING 160
ITEM-CODE CPL1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION FULL CPLG, SW, A350 GR.LF2 CL.1, 3000LB, ASME B16.11
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G21
ITEM-CODE VALVCHK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION CHECK VALVE LIFT SW, A350-LF2, CL1500  , CH-1514L
    RATING 1500LB
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
