ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0066-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-CG-0066-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE82   12E-CG-0021-4"
    ATTRIBUTE83   12E-PSV-0134
    ATTRIBUTE84   C210-4902-12E-0008-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0066-2"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 164305.220          59108.782          103716.062  0.5  
    END-POINT 164305.220          59108.782          103693.964  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUF                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 164262.929          59108.782          103756.829  0.75  SW FEMALE 
    END-POINT 164344.463          59108.782          103756.829  0.75  
    END-POINT 164305.220          59108.782          103716.062  0.5  
    CENTRE-POINT  164305.220          59108.782          103756.829 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FU9                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164262.929          59108.782          103756.829  0.75
    END-POINT 164262.929          59108.782          103756.829  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUA                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 164344.463          59108.782          103756.829  0.75  
    END-POINT 164369.863          59108.782          103756.829  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS 164360.211  59108.782 103756.829 
    UNDIMENSIONED
    TEXT 12E$PIT$0136
COUPLING
    END-POINT 164186.729          59108.782          103756.829  0.75  
    END-POINT 164262.929          59108.782          103756.829  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.275
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FU7                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164186.729          59108.782          103756.829  0.75
    END-POINT 164186.729          59108.782          103756.829  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FU8                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     164132.759  59108.782 103756.829 
    BRANCH1-POINT 164186.729          59108.782          103756.829  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FU5                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759  59108.782 103756.829  2
    END-POINT 164132.759  59108.782 103756.829  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FU6                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164132.759          59108.782          103832.829  2  BW
    END-POINT 164132.759          59108.782          103532.829  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FU2                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 164132.759  59108.782 103674.423 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 164132.759          59108.782          103832.829  2
    END-POINT 164132.759          59108.782          103832.829  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FU3                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          59108.782          103532.829  2
    END-POINT 164132.759          59108.782          103532.829  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUY                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759  59108.782 103606.829  2
    END-POINT 164132.759  59108.782 103606.829  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUT                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     164132.759  59108.782 103606.829 
    BRANCH1-POINT 164186.729          59108.782          103606.829  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164186.729          59108.782          103606.829  0.75
    END-POINT 164186.729          59108.782          103606.829  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUV                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164186.729          59108.782          103606.829  0.75  
    END-POINT 164262.929          59108.782          103606.829  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.275
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUU                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164262.929          59108.782          103606.829  0.75
    END-POINT 164262.929          59108.782          103606.829  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUX                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 164262.929          59108.782          103606.829  0.75  SW FEMALE 
    END-POINT 164344.463          59108.782          103606.829  0.75  
    END-POINT 164305.220          59108.782          103566.062  0.5  
    CENTRE-POINT  164305.220          59108.782          103606.829 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUW                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 164305.220          59108.782          103566.062  0.5  
    END-POINT 164305.220          59108.782          103543.964  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUH                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 164344.463          59108.782          103606.829  0.75  
    END-POINT 164369.863          59108.782          103606.829  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUL                 
    PIPING-SPEC CHS
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS 164360.211  59108.782 103606.829 
    UNDIMENSIONED
    TEXT 12E$PIT$0137
FLANGE
    END-POINT 164132.759          59108.782          103453.327  2  
    END-POINT 164132.759          59108.782          103532.829  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVT                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164132.759          59108.782          103453.327  2
    END-POINT 164132.759          59108.782          103449.882  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HYI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164132.759          59108.782          103449.882 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HYJ                 
GAP
    END-POINT 164132.759          59108.782          103449.882  2  
    END-POINT 164132.759          59108.782          103450.147  2  
    PIPING-SPEC CHS
INSTRUMENT
    END-POINT 164132.759          59108.782          103408.882  2  
    END-POINT 164132.759          59108.782          103449.882  2  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HYF                 
    TAG 12E$PSE$0133                    
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164132.759          59108.782          103408.882  2
    END-POINT 164132.759          59108.782          103405.702  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HYH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 164132.759          59108.782          103405.702  2  
    END-POINT 164132.759          59108.782          103326.200  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVO                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          59108.782          103326.200  2
    END-POINT 164132.759          59108.782          103326.200  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUE                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164132.759          59108.782          103176.200  2  BW
    END-POINT 164132.759          59108.782          103326.200  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          59108.782          103176.200  2
    END-POINT 164132.759          59108.782          103176.200  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FV0                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164056.559          59108.782          103100.000  2  
    END-POINT 164132.759          59108.782          103176.200  2  
    CENTRE-POINT  164132.759          59108.782          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FTY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 164132.759  59108.782 103100.000  2
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6Z                 
    TAG                         BS01-2                          
WELD
    END-POINT 164056.559          59108.782          103100.000  2
    END-POINT 164056.559          59108.782          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HQ4                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164056.559          59108.782          103100.000  2  BW
    END-POINT 163956.559          59108.782          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HQ3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163956.559          59108.782          103100.000  2
    END-POINT 163956.559          59108.782          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HQ5                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 163877.057          59108.782          103100.000  2  
    END-POINT 163956.559          59108.782          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWM                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 163877.057          59108.782          103100.000  2
    END-POINT 163873.877          59108.782          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163877.057          59108.782          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWO                 
VALVE
    END-POINT 163873.877          59108.782          103100.000  2  
    END-POINT 163581.777          59108.782          103100.000  2  
    CENTRE-POINT  163727.827          59108.782          103100.000 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FW1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS 163727.827  59108.782 103100.000 
    TEXT CSO
    UNDIMENSIONED
GASKET
    END-POINT 163578.597          59108.782          103100.000  2
    END-POINT 163581.777          59108.782          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FW4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163578.597          59108.782          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FW5                 
FLANGE
    END-POINT 163578.597          59108.782          103100.000  2  
    END-POINT 163499.095          59108.782          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FW3                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163499.095          59108.782          103100.000  2
    END-POINT 163499.095          59108.782          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HQ7                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163499.095          59108.782          103100.000  2  BW
    END-POINT 163324.597          59108.782          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FW6                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163324.597          59108.782          103100.000  2
    END-POINT 163324.597          59108.782          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FW9                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163411.846  59108.782 103100.000  2
    END-POINT 163411.846  59108.782 103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWK                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     163411.846  59108.782 103100.000 
    BRANCH1-POINT 163411.846          59108.782          103046.030  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163411.846          59108.782          103046.030  0.75
    END-POINT 163411.846          59108.782          103046.030  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWZ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 163411.846          59108.782          103046.030  0.75  
    END-POINT 163411.846          59108.782          102944.430  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4_1
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163411.846          59108.782          102944.430  0.75
    END-POINT 163411.846          59108.782          102944.430  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FX1                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 163411.846          59108.782          102944.430  0.75  SW FEMALE 
    END-POINT 163411.846          59108.782          102882.878  0.75  
    CENTRE-POINT  163411.846          59108.782          102912.130 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FX0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 163411.846          59108.782          102882.878  0.75  
    END-POINT 163411.846          59108.782          102857.478  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FX3                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 163245.095          59108.782          103100.000  2  
    END-POINT 163324.597          59108.782          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FW8                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 163241.915          59108.782          103100.000  2
    END-POINT 163245.095          59108.782          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163241.915          59108.782          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWC                 
VALVE
    END-POINT 163241.915          59108.782          103100.000  2  
    END-POINT 162949.815          59108.782          103100.000  2  
    CENTRE-POINT  163095.865          59108.782          103100.000 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS 163095.865  59108.782 103100.000 
    TEXT CSO
    UNDIMENSIONED
GASKET
    END-POINT 162946.635          59108.782          103100.000  2
    END-POINT 162949.815          59108.782          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 162946.635          59108.782          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWG                 
FLANGE
    END-POINT 162946.635          59108.782          103100.000  2  
    END-POINT 162867.133          59108.782          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FWE                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162867.133          59108.782          103100.000  2
    END-POINT 162867.133          59108.782          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUO                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 162867.133          59108.782          103100.000  2  
    END-POINT 162790.933          59184.982          103100.000  2  
    CENTRE-POINT  162790.933          59108.782          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162790.933          59184.982          103100.000  2
    END-POINT 162790.933          59184.982          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUQ                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162790.933          59184.982          103100.000  2  BW
    END-POINT 162790.933          59489.982          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUP                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162790.933          59489.982          103100.000  2
    END-POINT 162790.933          59489.982          103100.000  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FUD                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 162895.581          59578.882          103100.000  4  
    END-POINT 162686.285          59578.882          103100.000  4  
    CENTRE-POINT  162790.933          59578.882          103100.000 
    BRANCH1-POINT 162790.933          59489.982          103100.000  2  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          15.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FV6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 162895.581          59578.882          103100.000 
    PIPELINE-REFERENCE C210-4910-12E-CG-0021-PRM-0009-01
REDUCER-CONCENTRIC
    END-POINT 164132.759          59108.782          103832.829  2  BW
    END-POINT 164132.759          59108.782          103997.929  1  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON2X1
    WEIGHT           1.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVU                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          59108.782          103997.929  1
    END-POINT 164132.759          59108.782          103997.929  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVV                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164132.759          59108.782          104018.567  1  
    END-POINT 164132.759          59108.782          103997.929  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVW                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164132.759          59108.782          104018.567  1
    END-POINT 164132.759          59108.782          104021.742  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 164132.759          59108.782          104021.742 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.660
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVY                 
INSTRUMENT-ANGLE
    END-POINT 164132.759          59108.782          104021.742  1  
    END-POINT 164247.059          59108.782          104126.390  2  
    CENTRE-POINT  164132.759          59108.782          104126.390 
    SKEY RAFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVZ                 
    TAG 12E$PSV$0134                    
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 164250.239          59108.782          104126.390  2
    END-POINT 164247.059          59108.782          104126.390  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZS                 
    PIPING-SPEC ACV
    INSULATION-ON 
    GASKET-RATING CL150          
FLANGE
    END-POINT 164250.239          59108.782          104126.390  2  
    END-POINT 164313.739          59108.782          104126.390  2  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           2.720
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FVB                 
    PIPING-SPEC ACV
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 164313.739          59108.782          104126.390 
    PIPELINE-REFERENCE C210-4910-12E-RP-0009-PRM-0009-01
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL2X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING SCH 160
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 6 1/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 160, NACE
    RATING SCH 160
ITEM-CODE SUPEB-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=558mm BS01-2
ITEM-CODE N/A_1
    BOLT_DIA 15.875
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE NIPP3/4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE SWGCON2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC BLE x PSE, A234-WPB, SCH 160, NACE
    RATING 160
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT1
    BOLT_DIA 15.875
    BOLT_LEN 90
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 3 1/2 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
