ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0006-PRM-0002-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-S-0006-PRM-0002-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0004-10"
    ATTRIBUTE83   12E-S-0010-6"
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE91    
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0006-8"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 186269.716          70310.908          102909.941  8  BW
    END-POINT 180402.432          70310.908          102909.941  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BGK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 182000.179  70310.908 102909.941  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BGH                 
    TAG                         S03-A-6-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE LS13
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 183362.347  70310.908 102909.941 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 182000.168  70310.908 102909.941  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BST                 
    TAG                         RP02-6-8                        
WELD
    END-POINT 186269.716          70310.908          102909.941  8
    END-POINT 186269.716          70310.908          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BGL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 180402.432          70310.908          102909.941  8
    END-POINT 180402.432          70310.908          102909.941  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BTI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 177150.084          70310.908          102909.697  8  
    END-POINT 180402.432          70310.908          102909.941  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_II1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 178000.000  70310.908 102909.760  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_II5                 
    TAG                         S02-A-3-8                       
SUPPORT
    CO-ORDS 178000.012  70310.908 102909.760  8
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IS5                 
    TAG                         RP02-3-8                        
END-CONNECTION-PIPELINE 
    CO-ORDS 177150.084          70310.908          102909.697 
    PIPELINE-REFERENCE C210-4910-12E-S-0006-PRM-0003-01
TEE
    END-POINT 187192.716          70679.908          102909.941  8  
    END-POINT 187192.716          69941.908          102909.941  8  
    CENTRE-POINT  187192.716          70310.908          102909.941 
    BRANCH1-POINT 186269.716          70310.908          102909.941  8  
    SKEY TEBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6Y                 
    TAG SP-107                          
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 187192.716          70679.908          102909.941  8
    END-POINT 187192.716          70679.908          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6X                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 187192.716          69941.908          102909.941  8
    END-POINT 187192.716          69941.908          102909.941  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 187192.716          69941.908          102909.941  8  
    END-POINT 187497.516          69637.108          102909.941  8  
    CENTRE-POINT  187192.716          69637.108          102909.941 
    SKEY ELBW
    CONTINUATION 
    WEIGHT          31.520
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRQ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 187497.516          69637.108          102909.941 
    PIPELINE-REFERENCE C210-4910-12E-S-0051-PRM-0002-01
REDUCER-ECCENTRIC
    END-POINT 187192.716          70679.908          102909.941  8  
    END-POINT 187192.716          70832.308          102884.541  6  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           9.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6W                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 187192.716          70832.308          102884.541  6
    END-POINT 187192.716          70832.308          102884.541  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6V                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 187192.716          71018.028          102884.541  6  
    END-POINT 187192.716          70832.308          102884.541  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B6U                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 187192.716          71018.028          102884.541 
    PIPELINE-REFERENCE C210-4910-12E-S-0009-PRM-0002-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-A-6-8
ITEM-CODE LS13
    DESCRIPTION LINE STOP FOR SHOE LS13
ITEM-CODE SUPPS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-6-8
ITEM-CODE REDECC8X6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80
    RATING 80
