ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0056-PRM-0007-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0056-PRM-0007-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0123-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0056-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  80681.755          71676.105          103909.757  0.75  
    END-POINT  80681.755          71676.105          103881.181  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3U                 
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  80681.755          71676.105          103992.749  0.75  SW FEMALE 
    END-POINT  80681.755          71676.105          103909.757  0.75  
    CENTRE-POINT   80681.755          71676.105          103950.459 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3R                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT  80681.755          71676.105          103992.749  0.75
    END-POINT  80681.755          71676.105          103992.749  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3Q                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  80681.755          71676.105          104094.348  0.75  
    END-POINT  80681.755          71676.105          103992.749  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3P                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  80681.755          71676.105          104094.348  0.75
    END-POINT  80681.755          71676.105          104094.348  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT  80681.755          71653.753          104116.701  1  
    END-POINT  80681.755          71698.457          104116.701  1  
    CENTRE-POINT   80681.755          71676.105          104116.701 
    BRANCH1-POINT  80681.755          71676.105          104094.348  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3M                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  80681.755          71653.753          104116.701  1
    END-POINT  80681.755          71653.753          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3L                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  80681.755          71698.457          104116.701  1
    END-POINT  80681.755          71698.457          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3N                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  80681.755          71698.457          104116.701  1  PL
    END-POINT  80681.755          72308.348          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3V                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  80681.755          72308.348          104116.701  1
    END-POINT  80681.755          72308.348          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3W                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  80681.755          72308.348          104116.701  1  
    END-POINT  80681.755          72409.948          104116.701  1  
    CENTRE-POINT   80681.755          72359.148          104116.701 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           4.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3X                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  80681.755          72409.948          104116.701  1
    END-POINT  80681.755          72409.948          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGI                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  80681.755          72409.948          104116.701  1  PL
    END-POINT  80681.755          73010.348          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGH                 
    PIPING-SPEC DL
    INSULATION-ON 
SUPPORT
    CO-ORDS  80681.755  72800.000 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGK                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT  80681.755          73010.348          104116.701  1
    END-POINT  80681.755          73010.348          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGJ                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  80681.755          73010.348          104116.701  1  
    END-POINT  80681.755          73023.048          104116.701  1  
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.260
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGC                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  80681.755          73023.048          104116.701  1
    END-POINT  80681.755          73023.048          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGF                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  80681.755          73023.048          104116.701  1  
    END-POINT  80681.755          73111.948          104116.701  0.5  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON1X1/2
    WEIGHT           0.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGE                 
    PIPING-SPEC DL
    INSULATION-ON 
MESSAGE
    CO-ORDS  80681.755  73102.298 104116.701 
    TEXT CONT. ON TUBING$12E-FG-0123-1/2"-EY$ (12E-WP-7002)
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  80681.755          73111.948          104116.701 
PIPE
    END-POINT  80681.755          71263.948          104116.701  1  PL
    END-POINT  80681.755          71653.753          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3K                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  80681.755          71263.948          104116.701  1
    END-POINT  80681.755          71263.948          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3J                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  80704.107          71241.596          104116.701  1  
    END-POINT  80681.755          71263.948          104116.701  1  
    CENTRE-POINT   80681.755          71241.596          104116.701 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3I                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  80704.107          71241.596          104116.701  1
    END-POINT  80704.107          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3H                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  80704.107          71241.596          104116.701  1  PL
    END-POINT  81628.773          71241.596          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3F                 
    PIPING-SPEC DL
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  81217.254  71241.596 104116.701 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  81628.773          71241.596          104116.701  1
    END-POINT  81628.773          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C36                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT  81628.773          71241.596          104116.701  1  
    END-POINT  81673.477          71241.596          104116.701  1  
    CENTRE-POINT   81651.125          71241.596          104116.701 
    BRANCH1-POINT  81651.125          71241.596          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C35                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  81673.477          71241.596          104116.701  1
    END-POINT  81673.477          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C34                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  81651.125          71241.596          104139.053  0.75
    END-POINT  81651.125          71241.596          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C37                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  81651.125          71241.596          104139.053  0.75  
    END-POINT  81651.125          71241.596          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C38                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  81651.125          71241.596          104240.653  0.75
    END-POINT  81651.125          71241.596          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C39                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  81651.125          71241.596          104240.653  0.75  SW FEMALE 
    END-POINT  81651.125          71241.596          104324.665  0.75  
    CENTRE-POINT   81651.125          71241.596          104283.453 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3A                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE-CIRCLE
    CO-ORDS  81651.125  71241.596 104338.953 
    UNDIMENSIONED
    TEXT 12E$HV$7114
MISC-COMPONENT
    END-POINT  81651.125          71241.596          104324.665  0.75  
    END-POINT  81651.125          71241.596          104353.240  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C3D                 
    PIPING-SPEC DL
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  81651.125          71241.596          104353.240 
PIPE
    END-POINT  81673.477          71241.596          104116.701  1  PL
    END-POINT  82188.427          71241.596          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C32                 
    PIPING-SPEC DL
    INSULATION-ON 
SUPPORT
    CO-ORDS  82000.000  71241.596 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C33                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT  82188.427          71241.596          104116.701  1
    END-POINT  82188.427          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0B                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT  82188.427          71241.596          104116.701  1  
    END-POINT  82233.131          71241.596          104116.701  1  
    CENTRE-POINT   82210.779          71241.596          104116.701 
    BRANCH1-POINT  82210.779          71241.596          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0A                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  82233.131          71241.596          104116.701  1
    END-POINT  82233.131          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0C                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  82210.779          71241.596          104139.053  0.75
    END-POINT  82210.779          71241.596          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C09                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  82210.779          71241.596          104139.053  0.75  
    END-POINT  82210.779          71241.596          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C08                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  82210.779          71241.596          104240.653  0.75
    END-POINT  82210.779          71241.596          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C07                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  82210.779          71241.596          104240.653  0.75  SW FEMALE 
    END-POINT  82210.779          71241.596          104323.644  0.75  
    CENTRE-POINT   82210.779          71241.596          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C05                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT  82210.779          71241.596          104323.644  0.75  
    END-POINT  82210.779          71241.596          104352.220  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C03                 
    PIPING-SPEC DL
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  82210.779          71241.596          104352.220 
PIPE
    END-POINT  82233.131          71241.596          104116.701  1  PL
    END-POINT  82358.531          71241.596          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0D                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  82358.531          71241.596          104116.701  1
    END-POINT  82358.531          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0E                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT  82358.531          71241.596          104116.701  1  
    END-POINT  82403.235          71241.596          104116.701  1  
    CENTRE-POINT   82380.883          71241.596          104116.701 
    BRANCH1-POINT  82380.883          71241.596          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0F                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  82403.235          71241.596          104116.701  1
    END-POINT  82403.235          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0G                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  82380.883          71241.596          104139.053  0.75
    END-POINT  82380.883          71241.596          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0H                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  82380.883          71241.596          104139.053  0.75  
    END-POINT  82380.883          71241.596          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0I                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  82380.883          71241.596          104240.653  0.75
    END-POINT  82380.883          71241.596          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0J                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  82380.883          71241.596          104240.653  0.75  SW FEMALE 
    END-POINT  82380.883          71241.596          104323.644  0.75  
    CENTRE-POINT   82380.883          71241.596          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0K                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT  82380.883          71241.596          104323.644  0.75  
    END-POINT  82380.883          71241.596          104352.220  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0O                 
    PIPING-SPEC DL
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  82380.883          71241.596          104352.220 
MESSAGE-CIRCLE
    CO-ORDS  82380.883  71241.596 104337.933 
    UNDIMENSIONED
    TEXT 12E$PIT$7114
PIPE
    END-POINT  82672.575          71241.596          104116.701  1  PL
    END-POINT  82403.235          71241.596          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0P                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  82672.575          71241.596          104116.701  1
    END-POINT  82672.575          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0Q                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT  82707.373          71241.596          104116.701  1  
    END-POINT  82672.575          71241.596          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0R                 
    PIPING-SPEC DL
    INSULATION-ON 
GASKET
    END-POINT  82707.373          71241.596          104116.701  1
    END-POINT  82711.437          71241.596          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0S                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS  82707.373          71241.596          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0T                 
INSTRUMENT
    END-POINT  82711.437          71241.596          104116.701  1  
    END-POINT  82965.437          71241.596          104116.701  1  
    CENTRE-POINT   82838.437          71241.596          104116.701 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0U                 
    TAG 12E$FV$7114                     
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  82965.437          71241.596          104116.701  1
    END-POINT  82969.501          71241.596          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0W                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS  82965.437          71241.596          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0X                 
FLANGE
    END-POINT  82969.501          71241.596          104116.701  1  
    END-POINT  83004.299          71241.596          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0Y                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83004.299          71241.596          104116.701  1
    END-POINT  83004.299          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C0Z                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  83004.299          71241.596          104116.701  1  PL
    END-POINT  83278.636          71241.596          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C10                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83278.636          71241.596          104116.701  1
    END-POINT  83278.636          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C11                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT  83278.636          71241.596          104116.701  1  
    END-POINT  83323.340          71241.596          104116.701  1  
    CENTRE-POINT   83300.988          71241.596          104116.701 
    BRANCH1-POINT  83300.988          71241.596          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C12                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  83323.340          71241.596          104116.701  1
    END-POINT  83323.340          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83300.988          71241.596          104139.053  0.75
    END-POINT  83300.988          71241.596          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C14                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  83300.988          71241.596          104139.053  0.75  
    END-POINT  83300.988          71241.596          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C15                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83300.988          71241.596          104240.653  0.75
    END-POINT  83300.988          71241.596          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C16                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  83300.988          71241.596          104240.653  0.75  SW FEMALE 
    END-POINT  83300.988          71241.596          104323.644  0.75  
    CENTRE-POINT   83300.988          71241.596          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C17                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE-CIRCLE
    CO-ORDS  83300.988  71241.596 104337.933 
    UNDIMENSIONED
    TEXT 12E$HV$7114
MISC-COMPONENT
    END-POINT  83300.988          71241.596          104323.644  0.75  
    END-POINT  83300.988          71241.596          104352.220  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C1A                 
    PIPING-SPEC DL
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  83300.988          71241.596          104352.220 
PIPE
    END-POINT  83715.331          71241.596          104116.701  1  BW
    END-POINT  83323.340          71241.596          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFB                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83715.331          71241.596          104116.701  1
    END-POINT  83715.331          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGU                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT  83804.231          71241.596          104116.701  1  
    END-POINT  83715.331          71241.596          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS  83782.006          71241.596          104181.726  0.5
GASKET
    END-POINT  83804.241          71241.596          104116.701  1
    END-POINT  83804.231          71241.596          104116.701  1
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGX                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS  83804.241          71241.596          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           6.250
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGY                 
WELD
    END-POINT  83782.006          71241.596          104181.726  0.5
    END-POINT  83782.006          71241.596          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FH4                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT   83782.006          71241.596          104181.726 
    BRANCH1-POINT  83782.006          71241.596          104334.126  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFG                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83782.006          71241.596          104334.126  0.5
    END-POINT  83782.006          71241.596          104334.126  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFP                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  83782.006          71241.596          104334.126  0.5  SW FEMALE 
    END-POINT  83782.006          71241.596          104421.252  0.5  
    CENTRE-POINT   83782.006          71241.596          104379.976 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFO                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT  83782.006          71241.596          104421.252  0.5  
    END-POINT  83782.006          71241.596          104443.350  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFS                 
    PIPING-SPEC DL
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  83782.006          71241.596          104443.350 
INSTRUMENT
    END-POINT  83804.241          71241.596          104116.701  1  FL
    END-POINT  83817.241          71241.596          104116.701  1  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGV                 
    TAG 12E$FE$7114                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83817.241          71241.596          104116.701  1
    END-POINT  83817.241          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FH0                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT  83817.241          71241.596          104116.701  1  
    END-POINT  83906.141          71241.596          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FGZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS  83839.466          71241.596          104181.726  0.5
WELD
    END-POINT  83906.141          71241.596          104116.701  1
    END-POINT  83906.141          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FH1                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83839.466          71241.596          104181.726  0.5
    END-POINT  83839.466          71241.596          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FH5                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT   83839.466          71241.596          104181.726 
    BRANCH1-POINT  83839.466          71241.596          104257.926  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.148
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFI                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  83839.466          71241.596          104257.926  0.5
    END-POINT  83839.466          71241.596          104257.926  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFL                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  83839.466          71241.596          104257.926  0.5  SW FEMALE 
    END-POINT  83839.466          71241.596          104345.052  0.5  
    CENTRE-POINT   83839.466          71241.596          104303.776 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFK                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT  83839.466          71241.596          104345.052  0.5  
    END-POINT  83839.466          71241.596          104367.150  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FFU                 
    PIPING-SPEC DL
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  83839.466          71241.596          104367.150 
PIPE
    END-POINT  83906.141          71241.596          104116.701  1  BW
    END-POINT  85306.835          71241.596          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C21                 
    PIPING-SPEC DL
    INSULATION-ON 
SUPPORT
    CO-ORDS  85000.000  71241.596 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C22                 
    TAG                         S01-A-3-1                       
FLOW-ARROW
    CO-ORDS  84438.858  71241.596 104116.701 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  85306.835          71241.596          104116.701  1
    END-POINT  85306.835          71241.596          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C24                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  85306.835          71241.596          104116.701  1  
    END-POINT  85329.187          71241.596          104139.053  1  
    CENTRE-POINT   85329.187          71241.596          104116.701 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C25                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  85329.187          71241.596          104139.053  1
    END-POINT  85329.187          71241.596          104139.053  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C26                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  85329.187          71241.596          104139.053  1  PL
    END-POINT  85329.187          71241.596          104624.056  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C27                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85329.187          71241.596          104624.056  1
    END-POINT  85329.187          71241.596          104624.056  1
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FEZ                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  85329.187          71241.596          104719.056  1  
    END-POINT  85329.187          71241.596          104624.056  1  
    CENTRE-POINT   85329.187          71241.596          104671.556 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FEV                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT  85329.187          71241.596          104719.056  1
    END-POINT  85329.187          71241.596          104719.056  1
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FEW                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  85329.187          71241.596          104719.056  1  PL
    END-POINT  85329.187          71241.596          104820.456  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2C                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85329.187          71241.596          104820.456  1
    END-POINT  85329.187          71241.596          104820.456  1
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2D                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT  85329.187          71241.596          104820.456  1  
    END-POINT  85329.187          71241.596          104865.160  1  
    CENTRE-POINT   85329.187          71241.596          104842.808 
    BRANCH1-POINT  85303.787          71241.596          104842.808  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2E                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  85329.187          71241.596          104865.160  1
    END-POINT  85329.187          71241.596          104865.160  1
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2F                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85303.787          71241.596          104842.808  0.5
    END-POINT  85303.787          71241.596          104842.808  0.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2G                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  85303.787          71241.596          104842.808  0.5  
    END-POINT  85202.187          71241.596          104842.808  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2H                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85202.187          71241.596          104842.808  0.5
    END-POINT  85202.187          71241.596          104842.808  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2I                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  85202.187          71241.596          104842.808  0.5  SW FEMALE 
    END-POINT  85113.539          71241.596          104842.808  0.5  
    CENTRE-POINT   85156.339          71241.596          104842.808 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2J                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT  85113.539          71241.596          104842.808  0.5  
    END-POINT  85088.139          71241.596          104842.808  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2M                 
    PIPING-SPEC DL
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  85088.139          71241.596          104842.808 
PIPE
    END-POINT  85329.187          71241.596          104865.160  1  PL
    END-POINT  85329.187          71241.596          104966.560  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_C2N                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85329.187          71241.596          104966.560  1
    END-POINT  85329.187          71241.596          104966.560  1
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FEU                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT  85329.187          71241.596          105061.560  1  
    END-POINT  85329.187          71241.596          104966.560  1  
    CENTRE-POINT   85329.187          71241.596          105014.060 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FEQ                 
    PIPING-SPEC DL
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT  85329.187          71241.596          105061.560  1
    END-POINT  85329.187          71241.596          105061.560  1
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FER                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  85329.187          71241.596          105893.723  1  PL
    END-POINT  85329.187          71241.596          105061.560  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D39                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85329.187          71241.596          105893.723  1
    END-POINT  85329.187          71241.596          105893.723  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D3A                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  85329.187          71263.948          105916.075  1  
    END-POINT  85329.187          71241.596          105893.723  1  
    CENTRE-POINT   85329.187          71241.596          105916.075 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D36                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  85329.187          71263.948          105916.075  1
    END-POINT  85329.187          71263.948          105916.075  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D38                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  85329.187          71263.948          105916.075  1  PL
    END-POINT  85329.187          72284.836          105916.075  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D24                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85329.187          72284.836          105916.075  1
    END-POINT  85329.187          72284.836          105916.075  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D26                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  85329.187          72284.836          105916.075  1  
    END-POINT  85329.187          72307.188          105938.427  1  
    CENTRE-POINT   85329.187          72307.188          105916.075 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D22                 
    PIPING-SPEC DL
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  85329.187          72307.188          105938.427  1
    END-POINT  85329.187          72307.188          105938.427  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DBD                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  85329.187          72307.188          105938.427  1  PL
    END-POINT  85329.187          72307.188          106329.363  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DBC                 
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85329.187          72307.188          106329.363  1
    END-POINT  85329.187          72307.188          106329.363  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DBE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT      85329.187  72307.188 106380.163 
    BRANCH1-POINT  85329.187          72307.188          106329.363  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DBA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  85329.187  72307.188 106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0007-01
MATERIALS
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE VALVCHK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION CHECK VALVE LIFT SW, A350-LF2, CL1500  , CH-1514L
    RATING 1500LB
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G21
ITEM-CODE CPL1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION COUPLING SW, CL3000, A350-LF2 CL1
    RATING CL3000
ITEM-CODE SWGCON1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC PBE, A420-WPL6, SCH 160
    RATING SCH 160
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
ITEM-CODE FLGWNK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE, w/ 1/2" SW TAPS - OOS
    RATING CL1500
    RATING SCH 80
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 6 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS - OOS
    RATING CL1500
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 6" LG
    RATING SCH 160
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING CL1500
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 3" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A350-LF2 CL1, CL1500  , GA-1514L
    RATING CL1500
ITEM-CODE TEERED1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
