ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0035-PRM-0002-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0035-PRM-0002-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0033-4"
    ATTRIBUTE83   12E-PE-0009-4"
    ATTRIBUTE84   C210-4902-12E-0001-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-S-0035-4"-CHS
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 195518.081          71584.080          105120.892  1  
    END-POINT 195518.081          71584.080          105149.594  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BY8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 195518.081          71584.080          105042.642  1  SW FEMALE 
    END-POINT 195518.081          71584.080          105120.892  1  
    CENTRE-POINT  195518.081          71584.080          105084.942 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BY4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 195518.081          71584.080          105042.642  1
    END-POINT 195518.081          71584.080          105042.642  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BY5                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 195518.081          71584.080          104941.042  1  
    END-POINT 195518.081          71584.080          105042.642  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BY2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195518.081          71584.080          104941.042  1
    END-POINT 195518.081          71584.080          104941.042  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BY3                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     195518.081  71584.080 104856.902 
    BRANCH1-POINT 195518.081          71584.080          104941.042  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BY0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 195518.081  71584.080 104856.902  4
    END-POINT 195518.081  71584.080 104856.902  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BY1                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 194938.081          71584.080          104856.902  4  BW
    END-POINT 196096.941          71584.080          104856.902  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BE5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 195146.161  71584.080 104856.902 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 194938.081          71584.080          104856.902  4
    END-POINT 194938.081          71584.080          104856.902  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BE4                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 196096.941          71584.080          104856.902  4
    END-POINT 196096.941          71584.080          104856.902  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BE6                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 196249.341          71584.080          104704.502  4  
    END-POINT 196096.941          71584.080          104856.902  4  
    CENTRE-POINT  196249.341          71584.080          104856.902 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BE7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 196249.341          71584.080          104704.502  4
    END-POINT 196249.341          71584.080          104704.502  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5N                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 196249.341          71584.080          104704.502  4  BW
    END-POINT 196249.341          71584.080          104549.808  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 196249.341          71584.080          104549.808  4
    END-POINT 196249.341          71584.080          104549.808  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5O                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 196249.341          71584.080          104441.858  4  
    END-POINT 196249.341          71584.080          104549.808  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 196249.341          71584.080          104441.858  4
    END-POINT 196249.341          71584.080          104438.678  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 196249.341          71584.080          104441.858 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5F                 
MISC-COMPONENT
    END-POINT 196249.341          71584.080          104422.928  4  
    END-POINT 196249.341          71584.080          104438.678  4  
    CENTRE-POINT 196249.341  71584.080 104430.803 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BGP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS 196249.341          71584.080          104422.928 
    PIPELINE-REFERENCE C210-4910-12E-PE-0009-PRM-0002-01
ELBOW
    END-POINT 194938.081          71584.080          104856.902  4  
    END-POINT 194785.681          71584.080          104704.502  4  
    CENTRE-POINT  194785.681          71584.080          104856.902 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BE3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 194785.681          71584.080          104704.502  4
    END-POINT 194785.681          71584.080          104704.502  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5L                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 194785.681          71584.080          104499.801  4  BW
    END-POINT 194785.681          71584.080          104704.502  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 194785.681          71584.080          104499.801  4
    END-POINT 194785.681          71584.080          104499.801  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5K                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 194785.681          71584.080          104391.851  4  
    END-POINT 194785.681          71584.080          104499.801  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 194785.681          71584.080          104391.851  4
    END-POINT 194785.681          71584.080          104388.671  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 194785.681          71584.080          104388.671 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C5I                 
MISC-COMPONENT
    END-POINT 194785.681          71584.080          104372.923  4  
    END-POINT 194785.681          71584.080          104388.671  4  
    CENTRE-POINT 194785.681  71584.080 104380.797 
    SKEY SB
    CONTINUATION 
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BDW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
END-CONNECTION-PIPELINE 
    CO-ORDS 194785.681          71584.080          104372.923 
    PIPELINE-REFERENCE C210-4910-12E-S-0033-PRM-0002-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
