ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0062-PRM-0009-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0062-PRM-0009-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0017-2"
    ATTRIBUTE83   12E-S-0059-1"
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0062-2"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 166772.000          64377.077          105530.765  0.75  
    END-POINT 166772.000          64377.077          105556.165  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DUU                 
    PIPING-SPEC AH
    INSULATION-ON 
VALVE
    END-POINT 166772.000          64377.077          105476.213  0.75  SW FEMALE 
    END-POINT 166772.000          64377.077          105530.765  0.75  
    CENTRE-POINT  166772.000          64377.077          105505.013 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9SQ                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 166772.000          64377.077          105476.213  0.75
    END-POINT 166772.000          64377.077          105476.213  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9SS                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
COUPLING
    END-POINT 166772.000          64377.077          105374.613  0.75  
    END-POINT 166772.000          64377.077          105476.213  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9ST                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 166772.000          64377.077          105374.613  0.75
    END-POINT 166772.000          64377.077          105374.613  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9SU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
OLET
    CENTRE-POINT     166772.000  64377.077 105330.163 
    BRANCH1-POINT 166772.000          64377.077          105374.613  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9SV                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 166772.000  64377.077 105330.163  2
    END-POINT 166772.000  64377.077 105330.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9SW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 166772.000          66699.312          105330.162  2  BW
    END-POINT 166772.000          64277.077          105330.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9SX                 
    PIPING-SPEC AH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 166772.000  65563.445 105330.162 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 166772.000  64800.000 105330.162  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_CB8                 
    TAG                         S01-A-3-2                       
MESSAGE
    CO-ORDS 166772.000  64798.309 105330.162 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 166772.000          66699.312          105330.162  2
    END-POINT 166772.000          66699.312          105330.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GGH                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 166772.000          64277.077          105330.163  2
    END-POINT 166772.000          64277.077          105330.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9T0                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 166772.000          66699.312          105330.162  2  
    END-POINT 166772.006          68480.200          105330.186  2  
    CONTINUATION 
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G41                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166772.006  67800.200 105330.166  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_G42                 
    TAG                         S01-A-3-2                       
END-CONNECTION-PIPELINE 
    CO-ORDS 166772.006          68480.200          105330.186 
    PIPELINE-REFERENCE C210-4910-12E-S-0062-PRM-0003-01
ELBOW
    END-POINT 166772.000          64277.077          105330.163  2  
    END-POINT 166772.000          64200.877          105253.963  2  
    CENTRE-POINT  166772.000          64200.877          105330.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9T1                 
    PIPING-SPEC AH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166772.000          64200.877          105253.963  2
    END-POINT 166772.000          64200.877          105253.963  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AS2                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 166772.000          64200.877          104932.353  2  BW
    END-POINT 166772.000          64200.877          105253.963  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AS0                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 166772.000          64200.877          104932.353  2
    END-POINT 166772.000          64200.877          104932.353  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_AS1                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 166772.000          64200.877          104932.353  2  
    END-POINT 166848.200          64200.877          104856.153  2  
    CENTRE-POINT  166772.000          64200.877          104856.153 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9T5                 
    PIPING-SPEC AH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166848.200          64200.877          104856.153  2
    END-POINT 166848.200          64200.877          104856.153  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9T6                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 167292.363          64200.877          104856.153  2  BW
    END-POINT 166848.200          64200.877          104856.153  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9T7                 
    PIPING-SPEC AH
    INSULATION-ON 
SUPPORT
    CO-ORDS 167100.000  64200.877 104856.153  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I2W                 
    TAG                         S01-A-3-2                       
MESSAGE
    CO-ORDS 167100.000  64200.877 104856.153 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 167292.363          64200.877          104856.153  2
    END-POINT 167292.363          64200.877          104856.153  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9T8                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
ELBOW
    END-POINT 167292.363          64200.877          104856.153  2  
    END-POINT 167368.563          64200.877          104779.953  2  
    CENTRE-POINT  167368.563          64200.877          104856.153 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.690
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9T9                 
    PIPING-SPEC AH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 167368.563          64200.877          104779.953  2
    END-POINT 167368.563          64200.877          104779.953  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_ARW                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 167368.563          64200.877          104779.953  2  BW
    END-POINT 167368.563          64200.877          103867.217  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TB                 
    PIPING-SPEC AH
    INSULATION-ON 
SUPPORT
    CO-ORDS 167368.563  64200.877 104001.900  2
    SKEY 53SP
    FABRICATION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_I2Y                 
    TAG                         UB01                            
MESSAGE
    CO-ORDS 167368.563  64200.877 104001.900 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 167368.563          64200.877          103867.217  2
    END-POINT 167368.563          64200.877          103867.217  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TC                 
    THICKNESS/RATING SCH STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT 167368.563          64200.877          103867.217  2  BW
    END-POINT 167368.563          64200.877          103702.117  1  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON2X1
    WEIGHT           0.910
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TD                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 167368.563          64200.877          103702.117  1
    END-POINT 167368.563          64200.877          103702.117  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
UNION
    END-POINT 167368.563          64200.877          103702.117  1  
    END-POINT 167368.563          64200.877          103665.604  1  
    SKEY UNSW
    CONTINUATION 
    WEIGHT           0.746
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9TF                 
    PIPING-SPEC AH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 167368.563          64200.877          103665.604 
    PIPELINE-REFERENCE C210-4910-12E-S-0059-PRM-0009-01
MATERIALS
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815STW
    RATING 800LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL2X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH STD
    RATING STD
ITEM-CODE SUPUB-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION STANDARD U BOLT UB01
ITEM-CODE SWGCON2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC BLE x PSE, A234-WPB, SCH STD
    RATING STD
