ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0018-PRM-0004-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-S-0018-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   STD
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0017-2"
    ATTRIBUTE83   12E-PSV-0156
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0018-2"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 149655.829          71714.278          103493.591  2  BW
    END-POINT 149655.828          71714.278          103877.445  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           5.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CS0                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 149655.829  71714.278 103692.746 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 149655.829          71714.278          103493.591  2
    END-POINT 149655.829          71714.278          103493.591  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DR9                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 149655.828          71714.278          103877.445  2
    END-POINT 149655.828          71714.278          103877.445  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQZ                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC AH
    INSULATION-ON 
TEE
    END-POINT 149655.829          71650.778          103430.091  2  
    END-POINT 149655.829          71777.778          103430.091  2  
    CENTRE-POINT  149655.829          71714.278          103430.091 
    BRANCH1-POINT 149655.829          71714.278          103493.591  2  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CRX                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 149655.829          71650.778          103430.091 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0004-02
REDUCER-CONCENTRIC
    END-POINT 149655.828          71714.278          103877.445  2  BW
    END-POINT 149655.828          71714.278          104042.545  1.5  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON2X1+1/2
    WEIGHT           0.910
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQX                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 149655.828          71714.278          104042.545  1.5
    END-POINT 149655.828          71714.278          104042.545  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQY                 
    THICKNESS/RATING CL150
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
FLANGE
    END-POINT 149655.828          71714.278          104052.197  1.5  
    END-POINT 149655.828          71714.278          104042.545  1.5  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE N/A
    WEIGHT           1.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQU                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 149655.828          71714.278          104052.197  1.5
    END-POINT 149655.828          71714.278          104055.377  1.5
    FABRICATION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQV                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL150          
BOLT
    CO-ORDS 149655.828          71714.278          104055.377 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.506
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQW                 
INSTRUMENT-ANGLE
    END-POINT 149655.828          71714.278          104055.377  1.5  
    END-POINT 149655.828          71835.278          104179.377  3  
    CENTRE-POINT  149655.828          71714.278          104179.377 
    SKEY RAFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_EQD                 
    TAG 12E$PSV$0156                    
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 149655.828          71838.458          104179.377  3
    END-POINT 149655.828          71835.278          104179.377  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ER2                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL150          
FLANGE
    END-POINT 149655.828          71838.458          104179.377  3  
    END-POINT 149655.828          71908.308          104179.377  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           5.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ER1                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 149655.828          71908.308          104179.377 
    PIPELINE-REFERENCE C210-4910-12E-RP-0004-PRM-0004-01
MATERIALS
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH STD
    RATING STD
ITEM-CODE SWGCON2X1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC BLE x PSE, A234-WPB, SCH STD x SCH.80
    RATING STD
ITEM-CODE N/A
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RF, CL150, A105N, SCH 80 BORE
    RATING CL150
    RATING 80
ITEM-CODE GAS1+1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL150, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL150
ITEM-CODE N/A_1
    BOLT_DIA 12.7
    BOLT_LEN 69.85
    CATALOG -
    DESCRIPTION 1/2 X 2 3/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL150
