ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-RP-0019-PRM-0009-01
PIPING-SPEC ACV
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-RP-0019-PRM-0009-01
    ATTRIBUTE70   V
    ATTRIBUTE82   12E-PSV-0228
    ATTRIBUTE83   12E-RP-0026-2"
    ATTRIBUTE84   C210-4902-12E-0008-05
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   ACV
    ATTRIBUTE95   12E-RP-0019-2"-ACV
    ATTRIBUTE97   RP
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 164353.588          64150.000          105855.160  2  BW
    END-POINT 167399.500          64150.000          105855.160  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FPP                 
    PIPING-SPEC ACV
    INSULATION-ON 
SUPPORT
    CO-ORDS 167099.805  64150.000 105855.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GF3                 
    TAG                         S01-A-3-2                       
MESSAGE
    CO-ORDS 167099.805  64150.000 105855.160 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 164353.588          64150.000          105855.160  2
    END-POINT 164353.588          64150.000          105855.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GV5                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
WELD
    END-POINT 167399.500          64150.000          105855.160  2
    END-POINT 167399.500          64150.000          105855.160  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_975                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
PIPE
    END-POINT 169178.520          64150.000          105855.160  2  
    END-POINT 167399.500          64150.000          105855.160  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_8QZ                 
    PIPING-SPEC ACV
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 168333.531  64150.000 105855.160 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 169178.520          64150.000          105855.160 
    PIPELINE-REFERENCE C210-4910-12E-RP-0019-SB-0008-01
ELBOW
    END-POINT 164353.588          64150.000          105855.160  2  
    END-POINT 164277.388          64150.000          105931.360  2  
    CENTRE-POINT  164277.388          64150.000          105855.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GEJ                 
    PIPING-SPEC ACV
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164277.388          64150.000          105931.360  2
    END-POINT 164277.388          64150.000          105931.360  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GJM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
PIPE
    END-POINT 164277.388          64150.000          105931.360  2  BW
    END-POINT 164277.388          64150.000          106303.960  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GEP                 
    PIPING-SPEC ACV
    INSULATION-ON 
WELD
    END-POINT 164277.388          64150.000          106303.960  2
    END-POINT 164277.388          64150.000          106303.960  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GXQ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
ELBOW
    END-POINT 164277.388          64150.000          106303.960  2  
    END-POINT 164277.388          64226.200          106380.160  2  
    CENTRE-POINT  164277.388          64150.000          106380.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GEN                 
    PIPING-SPEC ACV
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164277.388          64226.200          106380.160  2
    END-POINT 164277.388          64226.200          106380.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GXP                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
PIPE
    END-POINT 164277.388          64226.200          106380.160  2  BW
    END-POINT 164277.388          65023.960          106380.160  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GEW                 
    PIPING-SPEC ACV
    INSULATION-ON 
SUPPORT
    CO-ORDS 164277.388  64800.000 106380.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GEZ                 
    TAG                         S01-A-3-2                       
MESSAGE
    CO-ORDS 164277.388  64800.000 106380.160 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 164277.388          65023.960          106380.160  2
    END-POINT 164277.388          65023.960          106380.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GEY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
ELBOW
    END-POINT 164277.388          65023.960          106380.160  2  
    END-POINT 164277.388          65100.160          106456.360  2  
    CENTRE-POINT  164277.388          65100.160          106380.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GES                 
    PIPING-SPEC ACV
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 164277.388          65100.160          106456.360  2
    END-POINT 164277.388          65100.160          106456.360  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GF2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
PIPE
    END-POINT 164277.388          65100.160          106456.360  2  BW
    END-POINT 164277.388          65100.160          109400.500  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GF1                 
    PIPING-SPEC ACV
    INSULATION-ON 
SUPPORT
    CO-ORDS 164277.388  65100.160 108166.500  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HPT                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 164277.388  65100.160 108166.500 
    TEXT PS
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS 164277.388  65100.160 108794.688 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 164277.388          65100.160          109400.500  2
    END-POINT 164277.388          65100.160          109400.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HM4                 
    THICKNESS/RATING CL150
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC ACV
    INSULATION-ON 
FLANGE
    END-POINT 164277.388          65100.160          109464.000  2  
    END-POINT 164277.388          65100.160          109400.500  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           2.720
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HM3                 
    PIPING-SPEC ACV
    INSULATION-ON 
GASKET
    END-POINT 164277.388          65100.160          109467.180  2
    END-POINT 164277.388          65100.160          109464.000  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HM6                 
    PIPING-SPEC AST
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL150          
FLANGE
    END-POINT 164277.388          65100.160          109467.180  2  
    END-POINT 164277.388          65100.160          109530.680  2  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HM5                 
    PIPING-SPEC AST
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 164277.388          65100.160          109530.680 
    PIPELINE-REFERENCE C210-4910-12E-RP-0026-PRM-0009-01
MATERIALS
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80
    RATING SCH 80
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE  FOR SHOE G21
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL150, A105N, SCH 80 BORE
    RATING CL150
    RATING 80
