ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0008-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0025-PRM-0008-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   TEST HEADER
    ATTRIBUTE83   12E-PE-0028-4"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0025-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 246700.000          68303.188          103388.160  1  
    END-POINT 246700.000          68303.188          103359.458  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEO                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 246700.000          68303.188          103466.410  1  SW FEMALE 
    END-POINT 246700.000          68303.188          103388.160  1  
    CENTRE-POINT  246700.000          68303.188          103424.110 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 246700.000          68303.188          103466.410  1
    END-POINT 246700.000          68303.188          103466.410  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEL                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 246700.000          68303.188          103568.010  1  
    END-POINT 246700.000          68303.188          103466.410  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEI                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 246700.000          68303.188          103568.010  1
    END-POINT 246700.000          68303.188          103568.010  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEJ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     246700.000  68303.188 103652.150 
    BRANCH1-POINT 246700.000          68303.188          103568.010  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEG                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 246700.000  68303.188 103652.150  4
    END-POINT 246700.000  68303.188 103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEH                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 241602.286          68303.188          103652.150  4  BW
    END-POINT 247499.502          68303.188          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EYJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 247000.000  68303.188 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F5I                 
    TAG                         S01-B-3-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 241602.286          68303.188          103652.150  4
    END-POINT 241602.286          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EYW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 247499.502          68303.188          103652.150  4
    END-POINT 247499.502          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEB                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 247607.452          68303.188          103652.150  4  
    END-POINT 247499.502          68303.188          103652.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEA                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 247610.632          68303.188          103652.150  4
    END-POINT 247607.452          68303.188          103652.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GED                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 247607.452          68303.188          103652.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEE                 
FLANGE-BLIND
    END-POINT 247610.632          68303.188          103652.150  4  
    FABRICATION-ITEM
    ITEM-CODE FLGBLD4
    WEIGHT          18.610
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_GEC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    END-POINT 247655.082          68303.188          103652.150  4
    SKEY FLBL
TEE
    END-POINT 241392.986          68303.188          103652.150  4  
    END-POINT 241602.286          68303.188          103652.150  4  
    CENTRE-POINT  241497.636          68303.188          103652.150 
    BRANCH1-POINT 241497.636          68303.188          103756.800  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EYG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 241392.986          68303.188          103652.150  4
    END-POINT 241392.986          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F1Q                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 241497.636          68303.188          103756.800  4
    END-POINT 241497.636          68303.188          103756.800  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EYY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 241497.636          68303.188          103756.800  4  BW
    END-POINT 241497.636          68303.188          104197.540  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EYX                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 241497.636  68303.188 103990.815 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 241497.636          68303.188          104197.540  4
    END-POINT 241497.636          68303.188          104197.540  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_EYZ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 241497.636          68303.188          104305.490  4  
    END-POINT 241497.636          68303.188          104197.540  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ES6                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 241497.636          68303.188          104305.490  4
    END-POINT 241497.636          68303.188          104308.670  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ES7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 241497.636          68303.188          104305.490 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ES8                 
VALVE
    END-POINT 241497.636          68303.188          104740.470  4  
    END-POINT 241497.636          68303.188          104308.670  4  
    CENTRE-POINT  241497.636          68303.188          104524.570 
    SKEY VTFL
    CONTINUATION 
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ES1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
END-CONNECTION-PIPELINE 
    CO-ORDS 241497.636          68303.188          104740.470 
    PIPELINE-REFERENCE C210-4910-12E-PE-0002-PRM-0008-01
PIPE
    END-POINT 233152.400          68303.188          103652.150  4  BW
    END-POINT 241392.986          68303.188          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F1N                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 241000.000  68303.188 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F5M                 
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS 235000.000  68303.188 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F5O                 
    TAG                         S01-B-6-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE LS12
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 237906.905  68303.188 103652.150 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 233152.400          68303.188          103652.150  4
    END-POINT 233152.400          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZB                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 233152.400          68303.188          103652.150  4  
    END-POINT 233000.000          68455.588          103652.150  4  
    CENTRE-POINT  233000.000          68303.188          103652.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZ9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 233000.000          68455.588          103652.150  4
    END-POINT 233000.000          68455.588          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZD                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 233000.000          68455.588          103652.150  4  BW
    END-POINT 233000.000          71150.394          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZC                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 233000.000  69700.000 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G0B                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 233000.000          71150.394          103652.150  4
    END-POINT 233000.000          71150.394          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZG                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 233000.000          71150.394          103652.150  4  
    END-POINT 232847.600          71302.794          103652.150  4  
    CENTRE-POINT  233000.000          71302.794          103652.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 232847.600          71302.794          103652.150  4
    END-POINT 232847.600          71302.794          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 232847.600          71302.794          103652.150  4  BW
    END-POINT 231152.400          71302.794          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZH                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 232000.000  71302.794 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZX                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 231152.400          71302.794          103652.150  4
    END-POINT 231152.400          71302.794          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 231152.400          71302.794          103652.150  4  
    END-POINT 231000.000          71150.394          103652.150  4  
    CENTRE-POINT  231000.000          71302.794          103652.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 231000.000          71150.394          103652.150  4
    END-POINT 231000.000          71150.394          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 231000.000          68455.588          103652.150  4  BW
    END-POINT 231000.000          71150.394          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZU                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 231000.000  69700.000 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G09                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 231000.000          68455.588          103652.150  4
    END-POINT 231000.000          68455.588          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZV                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 231000.000          68455.588          103652.150  4  
    END-POINT 230847.600          68303.188          103652.150  4  
    CENTRE-POINT  231000.000          68303.188          103652.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 230847.600          68303.188          103652.150  4
    END-POINT 230847.600          68303.188          103652.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G00                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 230847.600          68303.188          103652.150  4  BW
    END-POINT 227000.000          68303.188          103652.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 229000.000  68303.188 103652.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G03                 
    TAG                         S01-B-4-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 227000.000          68303.188          103652.150  4
    END-POINT 227000.000          68303.188          103652.150  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_G01                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 216590.826          68303.188          103652.150  4  
    END-POINT 227000.000          68303.188          103652.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DUZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222000.582  68303.188 103652.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_C49                 
    TAG                         S01-B-4-4                       
FLOW-ARROW
    CO-ORDS 219805.814  68303.188 103652.150 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 225000.000  68303.188 103652.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FUI                 
    TAG                         S01-B-4-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 216590.826          68303.188          103652.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0001-01
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOEE G12
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE FLGBLD4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE BLIND RF, CL600, A105N, NACE
    RATING CL600
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-6-4
ITEM-CODE G22
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G22
ITEM-CODE LS12
    DESCRIPTION LINE STOP FOR SHOE LS12
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE SUPTS-4_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-4-4
