ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0013-PRM-0004-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0004.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE31   H
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-S-0013-PRM-0004-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0002-10"
    ATTRIBUTE83   PSV-0153A
    ATTRIBUTE84   C210-4902-12E-0009-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0013-4"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
INSTRUMENT-ANGLE
    END-POINT 148424.732          71557.230          103681.989  4  
    END-POINT 148424.732          71779.480          103878.839  6  
    CENTRE-POINT  148424.732          71557.230          103878.839 
    SKEY RAFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CU1                 
    TAG 12E$PSV$0153A                   
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 148424.732          71557.230          103677.929  4
    END-POINT 148424.732          71557.230          103681.989  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL900          
BOLT
    CO-ORDS 148424.732          71557.230          103677.929 
    BOLT-DIA           1.125
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT          19.682
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENF                 
GASKET
    END-POINT 148424.732          71782.660          103878.839  6
    END-POINT 148424.732          71779.480          103878.839  6
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIL                 
    PIPING-SPEC A
    INSULATION-ON 
    GASKET-RATING CL150          
FLANGE
    END-POINT 148424.732          71782.660          103878.839  6  
    END-POINT 148424.732          71871.560          103878.839  6  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_DIK                 
    PIPING-SPEC A
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 148424.732          71871.560          103878.839 
    PIPELINE-REFERENCE C210-4910-12E-RP-0001-PRM-0004-01
FLANGE
    END-POINT 148424.732          71557.230          103677.929  4  
    END-POINT 148424.732          71557.230          103555.704  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          22.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_END                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 148424.732          71557.230          103555.704  4
    END-POINT 148424.732          71557.230          103555.704  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENI                 
    THICKNESS/RATING CL900
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 148424.732          71557.230          103120.700  4  BW
    END-POINT 148424.732          71557.230          103555.704  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENG                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 148424.732  71557.230 103351.395 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 148424.732          71557.230          103120.700  4
    END-POINT 148424.732          71557.230          103120.700  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_ENH                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 148640.632          71557.230          102936.550  10  
    END-POINT 148208.832          71557.230          102936.550  10  
    CENTRE-POINT  148424.732          71557.230          102936.550 
    BRANCH1-POINT 148424.732          71557.230          103120.700  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          52.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CMC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 148640.632          71557.230          102936.550 
    PIPELINE-REFERENCE C210-4910-12E-S-0002-PRM-0004-01
MATERIALS
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL900, 316SS OVAL RING
    RATING CL900
ITEM-CODE N/A
    BOLT_DIA 28.575
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 1 1/8 X 6 3/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL900
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RTJ, CL900, A105N, SCH 80 BORE
    RATING CL900
    RATING 80
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80
    RATING SCH 80
