ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0048-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-PE-0048-PRM-0009-01
    ATTRIBUTE82   12E-PE-0047-2"
    ATTRIBUTE83   12E-EA-0104A/B
    ATTRIBUTE84   C210-4902-12E-0008-05
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0048-2"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 166571.850          58723.876          102863.000  1  
    END-POINT 166571.850          58723.876          102834.298  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HUY                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 166571.850          58723.876          102941.250  1  SW FEMALE 
    END-POINT 166571.850          58723.876          102863.000  1  
    CENTRE-POINT  166571.850          58723.876          102898.950 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HUU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 166571.850          58723.876          102941.250  1
    END-POINT 166571.850          58723.876          102941.250  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HUV                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 166571.850          58723.876          103042.850  1  
    END-POINT 166571.850          58723.876          102941.250  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HUS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          58723.876          103042.850  1
    END-POINT 166571.850          58723.876          103042.850  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HUT                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     166571.850  58723.876 103100.000 
    BRANCH1-POINT 166571.850          58723.876          103042.850  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HUQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850  58723.876 103100.000  2
    END-POINT 166571.850  58723.876 103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HUR                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          58533.740          103100.000  2  BW
    END-POINT 166571.850          58823.876          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GQM                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          58533.740          103100.000  2
    END-POINT 166571.850          58533.740          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H31                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          58823.876          103100.000  2
    END-POINT 166571.850          58823.876          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAL                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          58903.378          103100.000  2  
    END-POINT 166571.850          58823.876          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAE                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          58903.378          103100.000  2
    END-POINT 166571.850          58906.558          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          58903.378          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAG                 
VALVE
    END-POINT 166571.850          59198.658          103100.000  2  
    END-POINT 166571.850          58906.558          103100.000  2  
    CENTRE-POINT  166571.850          59052.608          103100.000 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GKN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 45 UP
GASKET
    END-POINT 166571.850          59198.658          103100.000  2
    END-POINT 166571.850          59201.838          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GKO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          59198.658          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GKP                 
FLANGE
    END-POINT 166571.850          59201.838          103100.000  2  
    END-POINT 166571.850          59281.340          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GKL                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          59281.340          103100.000  2
    END-POINT 166571.850          59281.340          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAK                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166571.850          59357.540          103176.200  2  
    END-POINT 166571.850          59281.340          103100.000  2  
    CENTRE-POINT  166571.850          59357.540          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GKJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166571.850  59357.540 103100.000  2
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GQD                 
    TAG                         BS01-2                          
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G31-C-1
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  2
    ERECTION-ITEM
    SPECIAL-STATUS 
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 166571.850          59357.540          103176.200  2
    END-POINT 166571.850          59357.540          103176.200  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2Z                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          59357.540          104916.609  2  BW
    END-POINT 166571.850          59357.540          103176.200  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          59357.540          104916.609  2
    END-POINT 166571.850          59357.540          104916.609  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSR                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166571.850          59357.540          104916.609  2  
    END-POINT 166547.064          59357.540          104976.447  2  
    CENTRE-POINT  166571.850          59357.540          104951.661 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GM0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT 166547.064          59357.540          104976.447  2
    END-POINT 166547.064          59357.540          104976.447  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSO                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166547.064          59357.540          104976.447  2  BW
    END-POINT 166316.686          59357.540          105206.825  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSN                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166316.686          59357.540          105206.825  2
    END-POINT 166316.686          59357.540          105206.825  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2R                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166291.901          59357.540          105266.663  2  
    END-POINT 166316.686          59357.540          105206.825  2  
    CENTRE-POINT  166291.901          59357.540          105231.611 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT 166291.901          59357.540          105266.663  2
    END-POINT 166291.901          59357.540          105266.663  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2Q                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 166291.901          59421.040          105330.163  2  
    END-POINT 166291.901          59294.040          105330.163  2  
    CENTRE-POINT  166291.901          59357.540          105330.163 
    BRANCH1-POINT 166291.901          59357.540          105266.663  2  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           2.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166291.901          59421.040          105330.163  2
    END-POINT 166291.901          59421.040          105330.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2P                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166291.901          59294.040          105330.163  2
    END-POINT 166291.901          59294.040          105330.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSI                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166291.901          56833.740          105330.163  2  
    END-POINT 166291.901          59294.040          105330.163  2  
    CONTINUATION 
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GSG                 
    PIPING-SPEC CHS
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 166291.901          56833.740          105330.163 
    PIPELINE-REFERENCE C210-4910-12E-PE-0050-PRM-0009-01
PIPE
    END-POINT 166291.901          63823.800          105330.163  2  BW
    END-POINT 166291.901          59421.040          105330.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GR9                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 166291.901  59800.000 105330.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GS9                 
    TAG                         S01-A-6-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE LS11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 166291.901  59808.385 105330.163 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 166291.901          63823.800          105330.163  2
    END-POINT 166291.901          63823.800          105330.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GRA                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 166291.899          63900.000          105406.363  2  
    END-POINT 166291.901          63823.800          105330.163  2  
    CENTRE-POINT  166291.899          63900.000          105330.163 
    BRANCH1-POINT 166291.899  63900.000 105330.163  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GK6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166291.893  64276.667 105330.163  2
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GS5                 
    TAG                         DS04-A-4-2                      
PIPE
    END-POINT 166291.899          63900.000          105330.163  2  BW
    END-POINT 166291.880  65030.000 105330.163  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 166291.880  65030.000 105330.163 
SUPPORT
    CO-ORDS 166291.884  64800.126 105330.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GS6                 
    TAG                         S01-A-3-2                       
MESSAGE
    CO-ORDS 166291.884  64803.563 105330.163 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 166291.899          63900.000          105406.363  2
    END-POINT 166291.899          63900.000          105406.363  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H1J                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166291.899          63900.000          105778.960  2  BW
    END-POINT 166291.899          63900.000          105406.363  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H1H                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 166291.899  63900.000 105591.297 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 166291.899          63900.000          105778.960  2
    END-POINT 166291.899          63900.000          105778.960  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H1I                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166291.899          63900.000          105778.960  2  
    END-POINT 166368.099          63900.000          105855.160  2  
    CENTRE-POINT  166291.899          63900.000          105855.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H1F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 166368.099          63900.000          105855.160  2
    END-POINT 166368.099          63900.000          105855.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H1K                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166368.099          63900.000          105855.160  2  BW
    END-POINT 167399.500          63900.000          105855.160  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EBI                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 167102.850  63900.000 105855.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_EBK                 
    TAG                         S01-A-6-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE LS11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 167100.000  63900.000 105855.160 
    TEXT TRIM SHOE LENGTH$TO 400mm
    UNDIMENSIONED
MESSAGE
    CO-ORDS 167080.893  63900.000 105855.160 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 167399.500          63900.000          105855.160  2
    END-POINT 167399.500          63900.000          105855.160  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_919                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 169162.518          63900.000          105855.160  2  
    END-POINT 167399.500          63900.000          105855.160  2  
    CONTINUATION 
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_8YB                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 168535.673  63900.000 105855.160 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 169162.518          63900.000          105855.160 
    PIPELINE-REFERENCE C210-4910-12E-PE-0048-SB-0008-01
ELBOW
    END-POINT 166571.850          58533.740          103100.000  2  
    END-POINT 166571.850          58457.540          103176.200  2  
    CENTRE-POINT  166571.850          58457.540          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GL7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166571.850  58457.540 103100.000  2
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GQA                 
    TAG                         BS01-2                          
WELD
    END-POINT 166571.850          58457.540          103176.200  2
    END-POINT 166571.850          58457.540          103176.200  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H32                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          58457.540          103420.498  2  BW
    END-POINT 166571.850          58457.540          103176.200  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HA8                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          58457.540          103420.498  2
    END-POINT 166571.850          58457.540          103420.498  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAD                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166571.850          58457.540          103500.000  2  
    END-POINT 166571.850          58457.540          103420.498  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAC                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 166571.850          58457.540          103503.180  2
    END-POINT 166571.850          58457.540          103500.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          58457.540          103503.180 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAP                 
VALVE
    END-POINT 166571.850          58457.540          103503.180  2  
    END-POINT 166571.850          58457.540          103795.280  2  
    CENTRE-POINT  166571.850          58457.540          103649.230 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT 166571.850          58457.540          103798.460  2
    END-POINT 166571.850          58457.540          103795.280  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166571.850          58457.540          103798.460 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAU                 
FLANGE
    END-POINT 166571.850          58457.540          103798.460  2  
    END-POINT 166571.850          58457.540          103877.962  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HAS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          58457.540          103877.962  2
    END-POINT 166571.850          58457.540          103877.962  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBB                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166571.850          58457.540          103877.962  2  BW
    END-POINT 166571.850          58457.540          104728.960  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBA                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 166571.850          58457.540          104728.960  2
    END-POINT 166571.850          58457.540          104728.960  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HBC                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 166495.650          58457.540          104805.160  2  
    END-POINT 166571.850          58457.540          104728.960  2  
    CENTRE-POINT  166571.850          58457.540          104805.160 
    BRANCH1-POINT 166571.850  58457.540 104805.160  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GN5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 166821.850  58457.540 104805.160  2
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H5O                 
    TAG                         DS03-A-3-2                      
PIPE
    END-POINT 166571.850          58457.540          104805.160  2  BW
    END-POINT 167321.850  58457.540 104805.160  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 167321.850  58457.540 104805.160 
SUPPORT
    CO-ORDS 167100.000  58457.540 104805.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H5P                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 167100.000  58457.540 104805.160 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 166495.650          58457.540          104805.160  2
    END-POINT 166495.650          58457.540          104805.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOG                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166495.650          58457.540          104805.160  2  BW
    END-POINT 161887.472          58457.540          104805.160  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GN2                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 162100.000  58457.540 104805.160  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H66                 
    TAG                         S01-A-6-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE LS11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 162100.000  58457.540 104805.160 
    TEXT TRIM SHOE LENGTH TO 375mm
    UNDIMENSIONED
MESSAGE
    CO-ORDS 162116.852  58457.540 104805.160 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 161887.472          58457.540          104805.160  2
    END-POINT 161887.472          58457.540          104805.160  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2S                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 161887.472          58457.540          104805.160  2  
    END-POINT 161811.272          58457.540          104881.360  2  
    CENTRE-POINT  161811.272          58457.540          104805.160 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GNM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 161811.272          58457.540          104881.360  2
    END-POINT 161811.272          58457.540          104881.360  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HV1                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 161811.272          58457.540          104881.360  2  BW
    END-POINT 161811.272          58457.540          108228.532  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HV0                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 161811.272  58457.540 106621.411 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 161811.272          58457.540          108228.532  2
    END-POINT 161811.272          58457.540          108228.532  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HV2                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 161811.272          58457.540          108228.532  2  
    END-POINT 161811.272          58533.740          108304.732  2  
    CENTRE-POINT  161811.272          58457.540          108304.732 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 161811.272          58533.740          108304.732  2
    END-POINT 161811.272          58533.740          108304.732  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2V                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 161811.272          58533.740          108304.732  2  BW
    END-POINT 161811.272          58939.344          108304.732  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOW                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 161811.272          58939.344          108304.732  2
    END-POINT 161811.272          58939.344          108304.732  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2W                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 161811.272          58939.344          108304.732  2  
    END-POINT 161811.272          59015.544          108380.932  2  
    CENTRE-POINT  161811.272          59015.544          108304.732 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 161811.272          59015.544          108380.932  2
    END-POINT 161811.272          59015.544          108380.932  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2X                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 161811.272          59015.544          108380.932  2  BW
    END-POINT 161811.272          59015.544          108758.075  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPM                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 161811.272          59015.544          108758.075  2
    END-POINT 161811.272          59015.544          108758.075  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_H2Y                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 161811.272          59015.544          108758.075  2  
    END-POINT 161735.072          59015.544          108834.275  2  
    CENTRE-POINT  161811.272          59015.544          108834.275 
    BRANCH1-POINT 161811.272  59015.544 108834.275  2
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GOZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 161977.938  59015.544 108834.275  2
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPI                 
    TAG                         DS03-A-2-2                      
PIPE
    END-POINT 161811.272          59015.544          108834.275  2  BW
    END-POINT 162311.272  59015.544 108834.275  2  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 162311.272  59015.544 108834.275 
SUPPORT
    CO-ORDS 162099.894  59015.544 108834.275  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GPJ                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
MESSAGE
    CO-ORDS 162099.500  59015.544 108834.275 
    TEXT PS
    UNDIMENSIONED
WELD
    END-POINT 161735.072          59015.544          108834.275  2
    END-POINT 161735.072          59015.544          108834.275  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_9O1                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 160425.014          59015.544          108834.275  2  
    END-POINT 161735.072          59015.544          108834.275  2  
    CONTINUATION 
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU9K2V_9BE                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 161211.553  59015.544 108834.275 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 160425.014          59015.544          108834.275 
    PIPELINE-REFERENCE C210-4910-12E-PE-0048-SB-0008-02
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING SCH 160
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING CL600
    RATING 160
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 160, NACE
    RATING SCH 160
ITEM-CODE SUPEB-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=558mm BS01-2
ITEM-CODE G31-C-1
    DESCRIPTION GUIDE AND LINE STOP FOR BASE SUPPORT G31-C-1
ITEM-CODE 45LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 45 DEG BW, A234-WPB, SCH 160, NACE
    RATING SCH 160
ITEM-CODE TEESTR2X2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE BW, A234-WPB, SCH 160, NACE
    RATING SCH 160
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-6-2
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
ITEM-CODE LS11
    DESCRIPTION LINE STOP FOR SHOE LS11
ITEM-CODE SUPEB- 2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  1130 mm DUMMY LEG SUPPORT BOP DS04-A-4-2
ITEM-CODE SUPTS-2_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE SUPEB- 2_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  750 mm DUMMY LEG SUPPORT BOP DS03-A-3-2
ITEM-CODE SUPEB- 2_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  500 mm DUMMY LEG SUPPORT BOP DS03-A-2-2
