ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0071-PRM-0007-02
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0071-PRM-0007-02
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0070-6"
    ATTRIBUTE83   12E-WI-7001 (TOE)
    ATTRIBUTE84   C210-4902-12E-0001-07
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0071-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  83443.918          72317.188          104347.081  0.5  
    END-POINT  83421.820          72317.188          104347.081  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5P                 
    PIPING-SPEC CH
    INSULATION-ON 
VALVE-3WAY
    END-POINT  83484.685          72317.188          104304.790  0.75  SW FEMALE 
    END-POINT  83484.685          72317.188          104386.324  0.75  
    END-POINT  83443.918          72317.188          104347.081  0.5  
    CENTRE-POINT   83484.685          72317.188          104347.081 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5K                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  83484.685          72317.188          104304.790  0.75
    END-POINT  83484.685          72317.188          104304.790  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5M                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  83484.685          72317.188          104386.324  0.75  
    END-POINT  83484.685          72317.188          104411.724  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5N                 
    PIPING-SPEC CH
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  83484.685  72317.188 104402.072 
    UNDIMENSIONED
    TEXT 12E$PIT$7101
COUPLING
    END-POINT  83484.685          72317.188          104203.190  0.75  
    END-POINT  83484.685          72317.188          104304.790  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5G                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  83484.685          72317.188          104203.190  0.75
    END-POINT  83484.685          72317.188          104203.190  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5H                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      83484.685  72317.188 104144.450 
    BRANCH1-POINT  83484.685          72317.188          104203.190  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5E                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  83484.685  72317.188 104144.450  3
    END-POINT  83484.685  72317.188 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5F                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  84219.822          72317.188          104144.450  3  BW
    END-POINT  82579.085          72317.188          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F52                 
    PIPING-SPEC CH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  83673.653  72317.188 104144.450 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  84219.822          72317.188          104144.450  3
    END-POINT  84219.822          72317.188          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F5A                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82579.085          72317.188          104144.450  3
    END-POINT  82579.085          72317.188          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EBG                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82784.685  72317.188 104144.450  3
    END-POINT  82784.685  72317.188 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EBP                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT      82784.685  72317.188 104144.450 
    BRANCH1-POINT  82784.685          72317.188          104079.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EBN                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82784.685          72317.188          104079.360  1
    END-POINT  82784.685          72317.188          104079.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EC0                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT  82784.685          72317.188          104079.360  1  
    END-POINT  82784.685          72317.188          103977.760  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EBZ                 
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT  82784.685          72317.188          103977.760  1
    END-POINT  82784.685          72317.188          103977.760  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EC2                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT  82784.685          72317.188          103977.760  1  SW FEMALE 
    END-POINT  82784.685          72317.188          103899.510  1  
    CENTRE-POINT   82784.685          72317.188          103935.460 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EC1                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT  82784.685          72317.188          103899.510  1  
    END-POINT  82784.685          72317.188          103870.808  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_EC5                 
    PIPING-SPEC CH
    INSULATION-ON 
MESSAGE
    CO-ORDS  82784.685  72317.188 103880.460 
    TEXT LOW POINT DRAIN$NEED TO BE TRACED
    UNDIMENSIONED
VALVE
    END-POINT  82579.085          72317.188          104144.450  3  
    END-POINT  82223.485          72317.188          104144.450  3  
    CENTRE-POINT   82401.285          72317.188          104144.450 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BD9                 
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 45 UP
WELD
    END-POINT  82223.485          72317.188          104144.450  3
    END-POINT  82223.485          72317.188          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDB                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  82223.485          72317.188          104144.450  3  BW
    END-POINT  81668.662          72317.188          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDC                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  82000.000  72317.188 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDD                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT  81668.662          72317.188          104144.450  3
    END-POINT  81668.662          72317.188          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT  81668.662          72317.188          104144.450  3  
    END-POINT  81554.362          72431.488          104144.450  3  
    CENTRE-POINT   81554.362          72317.188          104144.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDF                 
    PIPING-SPEC CH
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  81554.362          72431.488          104144.450  3
    END-POINT  81554.362          72431.488          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  81554.362          72431.488          104144.450  3  BW
    END-POINT  81554.362          73102.284          104144.450  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDH                 
    PIPING-SPEC CH
    INSULATION-ON 
SUPPORT
    CO-ORDS  81554.362  72800.000 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BDI                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT  81554.362          73102.284          104144.450  3
    END-POINT  81554.362          73102.284          104144.450  3
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_I3                  
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT  81554.362          85774.871          104144.450  3  
    END-POINT  81554.362          73102.284          104144.450  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_I1                  
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  81554.362  74867.717 104144.450 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  81554.362  76800.833 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_I9                  
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS  81554.362  81800.833 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSSSOL8_IB                  
    TAG                         S01-A-6-3                       
END-CONNECTION-PIPELINE 
    CO-ORDS  81554.362          85774.871          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0071-PRM-0027-01
FLANGE
    END-POINT  84308.722          72317.188          104144.450  3  
    END-POINT  84219.822          72317.188          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F57                 
    PIPING-SPEC CH
    INSULATION-ON 
GASKET
    END-POINT  84308.722          72317.188          104144.450  3
    END-POINT  84311.902          72317.188          104144.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F58                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS  84308.722          72317.188          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F59                 
INSTRUMENT
    END-POINT  84601.902          72317.188          104144.450  3  
    END-POINT  84311.902          72317.188          104144.450  3  
    CENTRE-POINT   84456.902          72317.188          104144.450 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F4U                 
    TAG 12E$FE$7101                     
    PIPING-SPEC CH
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  84605.082          72317.188          104144.450  3
    END-POINT  84601.902          72317.188          104144.450  3
    CONTINUATION 
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6F                 
    PIPING-SPEC CH
    INSULATION-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT  84605.082          72317.188          104144.450  3  
    END-POINT  84693.982          72317.188          104144.450  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_F6E                 
    PIPING-SPEC CH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  84693.982          72317.188          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0071-PRM-0007-01
MATERIALS
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, A105N, CL800, DB-805ST
    RATING CL800
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL3X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING SCH 40
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGAT3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING 40
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING CL600
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
