ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0009-PRM-0005-02
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0009-PRM-0005-02
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-5002
    ATTRIBUTE83   CASING GAS HDR. #1
    ATTRIBUTE84   C210-4902-12E-0002-05
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0009-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 142262.236          69752.008          103916.585  0.75  
    END-POINT 142287.636          69752.008          103916.594  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_F5F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 142287.636          69752.008          103916.594 
VALVE-3WAY
    END-POINT 142210.527          69752.008          103971.303  1  SW FEMALE 
    END-POINT 142210.564          69752.008          103868.179  1  
    END-POINT 142262.236          69752.008          103916.585  0.75  
    CENTRE-POINT  142210.547          69752.008          103916.566 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EV8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142210.527          69752.008          103971.303  1
    END-POINT 142210.527          69752.008          103971.303  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVA                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 142210.564          69752.008          103868.179  1  
    END-POINT 142210.575          69752.008          103839.477  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 142210.575          69752.008          103839.477 
COUPLING
    END-POINT 142210.489          69752.008          104072.903  1  
    END-POINT 142210.527          69752.008          103971.303  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CF5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142210.489          69752.008          104072.903  1
    END-POINT 142210.489          69752.008          104072.903  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CF4                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     142210.458  69752.008 104157.040 
    BRANCH1-POINT 142210.489          69752.008          104072.903  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CF3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142210.458  69752.008 104157.040  4
    END-POINT 142210.458  69752.008 104157.040  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CF2                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142080.475          69752.008          104157.150  4  BW
    END-POINT 142356.713          69752.008          104157.094  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CEY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142080.475          69752.008          104157.150  4
    END-POINT 142080.475          69752.008          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CEX                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 142356.713          69752.008          104157.094  4
    END-POINT 142356.713          69752.008          104157.094  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CF1                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 142356.713          69752.008          104157.094  4  
    END-POINT 142509.057          69752.008          104309.550  4  
    CENTRE-POINT  142509.113          69752.008          104157.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 142509.057          69752.008          104309.550  4
    END-POINT 142509.057          69752.008          104309.550  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFD                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142509.057          69752.008          105104.398  4  BW
    END-POINT 142509.057          69752.008          104309.550  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 142509.057          69752.008          105104.398  4
    END-POINT 142509.057          69752.008          105104.398  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFF                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 142661.457          69752.008          105256.798  4  
    END-POINT 142509.057          69752.008          105104.398  4  
    CENTRE-POINT  142509.057          69752.008          105256.798 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 142661.457          69752.008          105256.798  4
    END-POINT 142661.457          69752.008          105256.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFH                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142848.827          69752.008          105256.798  4  BW
    END-POINT 142661.457          69752.008          105256.798  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 142629.503  69752.008 105257.125 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 142848.827          69752.008          105256.798  4
    END-POINT 142848.827          69752.008          105256.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFK                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 142848.827          69752.008          105256.798  4  
    END-POINT 143058.123          69752.008          105256.798  4  
    CENTRE-POINT  142953.475          69752.008          105256.798 
    BRANCH1-POINT 142953.475          69647.360          105256.798  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 143058.123          69752.008          105256.798  4
    END-POINT 143058.123          69752.008          105256.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFM                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 142953.475          69647.360          105256.798  4
    END-POINT 142953.475          69647.360          105256.798  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 142953.475          68958.638          105256.886  4  
    END-POINT 142953.475          69647.360          105256.798  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 142953.475  69473.495 105256.886 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 142953.475  69274.128 105256.798  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CFQ                 
    TAG                         S01-A-3-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 142953.475          68958.638          105256.886 
    PIPELINE-REFERENCE C210-4910-12E-CG-0010-PRM-0005-01
PIPE
    END-POINT 143351.075          69752.008          105256.798  4  BW
    END-POINT 143058.123          69752.008          105256.798  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 143351.075          69752.008          105256.798  4
    END-POINT 143351.075          69752.008          105256.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 143228.475  69752.008 105256.798  4
    END-POINT 143228.475  69752.008 105256.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVH                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     143228.475  69752.008 105256.798 
    BRANCH1-POINT 143228.475          69752.008          105340.938  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 143228.475          69752.008          105340.938  1
    END-POINT 143228.475          69752.008          105340.938  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVJ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 143228.475          69752.008          105340.938  1  
    END-POINT 143228.475          69752.008          105442.538  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 143228.475          69752.008          105442.538  1
    END-POINT 143228.475          69752.008          105442.538  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVL                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 143228.475          69752.008          105442.538  1  SW FEMALE 
    END-POINT 143228.475          69752.008          105520.788  1  
    CENTRE-POINT  143228.475          69752.008          105484.838 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 143228.475          69752.008          105520.788  1  
    END-POINT 143228.475          69752.008          105549.490  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_EVO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
ELBOW
    END-POINT 143503.475          69599.608          105256.798  4  
    END-POINT 143351.075          69752.008          105256.798  4  
    CENTRE-POINT  143503.475          69752.008          105256.798 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 143503.475          69599.608          105256.798  4
    END-POINT 143503.475          69599.608          105256.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGP                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 143503.475          69599.608          105256.798  4  BW
    END-POINT 143503.475          68958.638          105256.886  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 143503.475  69265.102 105256.844  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGR                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 143503.475          68958.638          105256.886  4
    END-POINT 143503.475          68958.638          105256.886  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGS                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 143503.475          68850.688          105256.886  4  
    END-POINT 143503.475          68958.638          105256.886  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 143503.475          68850.688          105256.886  4
    END-POINT 143503.475          68847.513          105256.886  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 143503.475          68850.688          105256.886 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGV                 
VALVE
    END-POINT 143503.475          68847.513          105256.886  4  
    END-POINT 143503.475          68415.713          105256.886  4  
    CENTRE-POINT  143503.475          68631.613          105256.886 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 143503.475          68415.713          105256.886  4
    END-POINT 143503.475          68412.538          105256.886  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 143503.475          68415.713          105256.886 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGY                 
FLANGE
    END-POINT 143503.475          68412.538          105256.886  4  
    END-POINT 143503.475          68304.588          105256.886  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CGZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 143503.475          68304.588          105256.886  4
    END-POINT 143503.475          68304.588          105256.886  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH0                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW-TEED
    END-POINT 143503.475          68304.588          105256.886  4  
    END-POINT 143503.475          68152.188          105104.486  4  
    CENTRE-POINT  143503.475          68152.188          105256.886 
    BRANCH1-POINT 143503.475  68152.188 105244.500  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 143503.475  67968.855 105244.500  4
    SKEY  NONE
    UNDIMENSIONED
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH2                 
    TAG                         DS03-A-2-4                      
PIPE
    END-POINT 143503.475          68152.188          105244.500  3  BW
    END-POINT 143503.475  67602.188 105244.500  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 143503.475  67602.188 105244.500 
WELD
    END-POINT 143503.475          68152.188          105104.486  4
    END-POINT 143503.475          68152.188          105104.486  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH3                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 143503.475          68152.188          105104.486  4  BW
    END-POINT 143503.475          68152.188          104863.089  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 143503.475          68152.188          104863.089  4
    END-POINT 143503.475          68152.188          104863.089  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH5                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 143503.475          68152.188          104755.139  4  
    END-POINT 143503.475          68152.188          104863.089  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 143503.475          68152.188          104755.139  4
    END-POINT 143503.475          68152.188          104751.964  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 143503.475          68152.188          104755.139 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH8                 
VALVE
    END-POINT 143503.475          68152.188          104751.964  4  
    END-POINT 143503.475          68152.188          104320.164  4  
    CENTRE-POINT  143503.475          68152.188          104536.064 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CH9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 143503.475          68152.188          104320.164  4
    END-POINT 143503.475          68152.188          104316.989  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CHB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 143503.475          68152.188          104320.164 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CHC                 
FLANGE
    END-POINT 143503.475          68152.188          104316.989  4  
    END-POINT 143503.475          68152.188          104209.039  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CHD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 143503.475          68152.188          104209.039  4
    END-POINT 143503.475          68152.188          104209.039  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CHE                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 143503.475          68152.188          104209.039  4  
    END-POINT 143503.475          68304.588          104056.639  4  
    CENTRE-POINT  143503.475          68152.188          104056.639 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CHF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 143503.475          68304.588          104056.639  4
    END-POINT 143503.475          68304.588          104056.639  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPZ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 143503.475          68510.788          104056.639  4  BW
    END-POINT 143503.475          68304.588          104056.639  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 143503.475          68510.788          104056.639  4
    END-POINT 143503.475          68510.788          104056.639  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 143503.475          68510.788          104056.639  4  
    END-POINT 143503.475          68663.188          103904.239  4  
    CENTRE-POINT  143503.475          68663.188          104056.639 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 143503.475          68663.188          103904.239  4
    END-POINT 143503.475          68663.188          103904.239  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ2                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 143503.475          68663.188          103904.239  4  BW
    END-POINT 143503.475          68663.188          103706.800  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 143503.475          68663.188          103706.800  4
    END-POINT 143503.475          68663.188          103706.800  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DQ3                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 143608.125          68663.188          103602.150  4  
    END-POINT 143398.825          68663.188          103602.150  4  
    CENTRE-POINT  143503.475          68663.188          103602.150 
    BRANCH1-POINT 143503.475          68663.188          103706.800  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DPO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 143608.125          68663.188          103602.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0019-PRM-0005-01
REDUCER-ECCENTRIC
    END-POINT 142080.475          69752.008          104157.150  4  
    END-POINT 141978.885          69752.008          104130.125  2  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X2
    WEIGHT           3.375
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_CEW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 141978.885          69752.008          104130.125  2
    END-POINT 141978.885          69752.008          104130.125  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FIC                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 141899.383          69752.008          104130.096  2  
    END-POINT 141978.885          69752.008          104130.125  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FIB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 141895.963          69752.008          104130.095  2
    END-POINT 141899.383          69752.008          104130.096  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FID                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 141895.963          69752.008          104130.095 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    ERECTION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FIE                 
GAP
    END-POINT 141899.383          69752.008          104130.096  2  
    END-POINT 141899.143          69752.008          104130.096  2  
    PIPING-SPEC CHS
INSTRUMENT
    END-POINT 141610.213          69752.008          104129.990  2  
    END-POINT 141895.963          69752.008          104130.095  2  
    CENTRE-POINT  141753.088          69752.008          104130.042 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FI5                 
    TAG 12E$PV$5117                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
    DIRECTION UP 0 WEST
MESSAGE
    CO-ORDS 141753.088  69752.008 104130.042 
    TEXT FC
    UNDIMENSIONED
GASKET
    END-POINT 141610.213          69752.008          104129.990  2
    END-POINT 141607.033          69752.008          104129.989  2
    CONTINUATION 
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FI6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 141607.033          69752.008          104129.989  2  
    END-POINT 141527.531          69752.008          104129.959  2  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FI2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 141527.531          69752.008          104129.959 
    PIPELINE-REFERENCE C210-4910-12E-CG-0009-PRM-0005-01
MATERIALS
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALV3WY1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING 6000LB
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW
    RATING CL800
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING 600LB
ITEM-CODE BOLT4
    BOLT_DIA 22.225
    BOLT_LEN 145
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING 600LB
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  550 mm DUMMY LEG SUPPORT DS03-A-2-4
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE REDECC4X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 160, NACE
    RATING 80
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING CL600
    RATING 160
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
