ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0014-PRM-0003-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0014-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0013-4"
    ATTRIBUTE83   TEST HEADER
    ATTRIBUTE84   C210-4902-12E-0002-04
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0014-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 164282.158          68303.188          105298.283  1  
    END-POINT 164282.158          68303.188          105268.121  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GM8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 164282.158          68303.188          105268.121 
VALVE
    END-POINT 164282.158          68303.188          105379.121  1  SW FEMALE 
    END-POINT 164282.158          68303.188          105298.283  1  
    CENTRE-POINT  164282.158          68303.188          105336.321 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GM5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 164282.158          68303.188          105379.121  1
    END-POINT 164282.158          68303.188          105379.121  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GM4                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164282.158          68303.188          105480.721  1  
    END-POINT 164282.158          68303.188          105379.121  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GM3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164282.158          68303.188          105480.721  1
    END-POINT 164282.158          68303.188          105480.721  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GM2                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     164282.158  68303.188 105564.861 
    BRANCH1-POINT 164282.158          68303.188          105480.721  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GM1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164282.158  68303.188 105564.861  4
    END-POINT 164282.158  68303.188 105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GM0                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164357.158          68303.188          105564.861  4  BW
    END-POINT 164207.158          68303.188          105564.861  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GLX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 164357.158          68303.188          105564.861  4
    END-POINT 164357.158          68303.188          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPF                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164207.158          68303.188          105564.861  4
    END-POINT 164207.158          68303.188          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP7                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164099.208          68303.188          105564.861  4  
    END-POINT 164207.158          68303.188          105564.861  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 164099.208          68303.188          105564.861  4
    END-POINT 164096.028          68303.188          105564.861  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164099.208          68303.188          105564.861 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP6                 
VALVE
    END-POINT 164096.028          68303.188          105564.861  4  
    END-POINT 163664.228          68303.188          105564.861  4  
    CENTRE-POINT  163880.128          68303.188          105564.861 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT         115.770
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GMC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 163661.048          68303.188          105564.861  4
    END-POINT 163664.228          68303.188          105564.861  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163661.048          68303.188          105564.861 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP3                 
FLANGE
    END-POINT 163661.048          68303.188          105564.861  4  
    END-POINT 163553.098          68303.188          105564.861  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163553.098          68303.188          105564.861  4
    END-POINT 163553.098          68303.188          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPH                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163553.098          68303.188          105564.861  4  BW
    END-POINT 163453.118          68303.188          105564.861  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163453.118          68303.188          105564.861  4
    END-POINT 163453.118          68303.188          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPI                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 163300.718          68303.188          105412.461  4  
    END-POINT 163453.118          68303.188          105564.861  4  
    CENTRE-POINT  163300.718          68303.188          105564.861 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GMH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 163300.718          68303.188          105412.461  4
    END-POINT 163300.718          68303.188          105412.461  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KD6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163300.718          68303.188          104410.858  4  BW
    END-POINT 163300.718          68303.188          105412.461  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KD4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 163300.718  68303.188 105245.361  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPEB- 4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_M9J                 
    TAG                         DS01-3-4                        
TEE-SET-ON
    BRANCH1-POINT 163300.718          68246.038          105245.361  3
    CENTRE-POINT  163300.718  68303.188 105245.361 
    SKEY TESO
PIPE
    END-POINT 163300.718          68246.038          105245.361  3  BW
    END-POINT 163300.718  67403.188 105245.361  3  PL
    FABRICATION-ITEM
    END-POSITION-OPEN
    CO-ORDS 163300.718  67403.188 105245.361 
MESSAGE
    CO-ORDS 163300.718  67800.720 105245.361 
    TEXT PS
WELD
    END-POINT 163300.718          68303.188          104410.858  4
    END-POINT 163300.718          68303.188          104410.858  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KD5                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 163300.718          68303.188          104302.908  4  
    END-POINT 163300.718          68303.188          104410.858  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KD1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 163300.718          68303.188          104302.908  4
    END-POINT 163300.718          68303.188          104299.728  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KD2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163300.718          68303.188          104302.908 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KD3                 
VALVE
    END-POINT 163300.718          68303.188          103867.928  4  
    END-POINT 163300.718          68303.188          104299.728  4  
    CENTRE-POINT  163300.718          68303.188          104083.828 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KCW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT 163300.718          68303.188          103867.928  4
    END-POINT 163300.718          68303.188          103864.748  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KCX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163300.718          68303.188          103867.928 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KCY                 
FLANGE
    END-POINT 163300.718          68303.188          103864.748  4  
    END-POINT 163300.718          68303.188          103756.798  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KCU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 163300.718          68303.188          103756.798  4
    END-POINT 163300.718          68303.188          103756.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KCV                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 163405.366          68303.188          103652.150  4  
    END-POINT 163196.070          68303.188          103652.150  4  
    CENTRE-POINT  163300.718          68303.188          103652.150 
    BRANCH1-POINT 163300.718          68303.188          103756.798  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GMU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 163405.366          68303.188          103652.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0025-PRM-0003-01
FLANGE
    END-POINT 164465.108          68303.188          105564.861  4  
    END-POINT 164357.158          68303.188          105564.861  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 164465.108          68303.188          105564.861  4
    END-POINT 164468.288          68303.188          105564.861  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164465.108          68303.188          105564.861 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPE                 
INSTRUMENT
    END-POINT 164900.288          68303.188          105564.861  4  
    END-POINT 164468.288          68303.188          105564.861  4  
    CENTRE-POINT  164684.288          68303.188          105564.861 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GLR                 
    TAG 12E$XV$4110                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 164903.468          68303.188          105564.861  4
    END-POINT 164900.288          68303.188          105564.861  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164903.468          68303.188          105564.861 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPA                 
FLANGE
    END-POINT 164903.468          68303.188          105564.861  4  
    END-POINT 165011.418          68303.188          105564.861  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 165011.418          68303.188          105564.861  4
    END-POINT 165011.418          68303.188          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KPB                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 166240.931          68303.188          105564.861  4  BW
    END-POINT 165011.418          68303.188          105564.861  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GLL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166000.000  68303.188 105564.861  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GLM                 
    TAG                         S01-B-3-4                       
FLOW-ARROW
    CO-ORDS 165477.446  68303.188 105564.861 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 166240.931          68303.188          105564.861  4
    END-POINT 166240.931          68303.188          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GLK                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166393.331          68455.588          105564.861  4  
    END-POINT 166240.931          68303.188          105564.861  4  
    CENTRE-POINT  166393.331          68303.188          105564.861 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GLJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166393.331          68455.588          105564.861  4
    END-POINT 166393.331          68455.588          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KOR                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 166393.331          68563.538          105564.861  4  
    END-POINT 166393.331          68455.588          105564.861  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KOQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 166393.331          68566.718          105564.861  4
    END-POINT 166393.331          68563.538          105564.861  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KOT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166393.331          68566.718          105564.861 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KOU                 
VALVE
    END-POINT 166393.331          68566.718          105564.861  4  
    END-POINT 166393.331          68998.518          105564.861  4  
    CENTRE-POINT  166393.331          68782.618          105564.861 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KOS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT 166393.331          69001.698          105564.861  4
    END-POINT 166393.331          68998.518          105564.861  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KOY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 166393.331          69001.698          105564.861 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KOZ                 
FLANGE
    END-POINT 166393.331          69001.698          105564.861  4  
    END-POINT 166393.331          69109.648          105564.861  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KOX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 166393.331          69109.648          105564.861  4
    END-POINT 166393.331          69109.648          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_KP0                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 166393.331          69109.648          105564.861  4  
    END-POINT 166240.931          69262.048          105564.861  4  
    CENTRE-POINT  166393.331          69262.048          105564.861 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GL8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 166240.931          69262.048          105564.861  4
    END-POINT 166240.931          69262.048          105564.861  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L5N                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 165100.979          69262.038          105564.861  4  BW
    END-POINT 166240.931          69262.048          105564.861  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L5L                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 166000.000  69262.046 105564.861  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L5Q                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 165100.979          69262.038          105564.861  4
    END-POINT 165100.979          69262.038          105564.861  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_L5M                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 164996.331          69262.038          105460.213  4  
    END-POINT 164996.331          69262.038          105669.509  4  
    CENTRE-POINT  164996.331          69262.038          105564.861 
    BRANCH1-POINT 165100.979          69262.038          105564.861  4  
    SKEY TEBW
    CONTINUATION 
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GL2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 164996.331          69262.038          105460.213 
    PIPELINE-REFERENCE C210-4910-12E-PE-0013-PRM-0003-04
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
    RATING 6000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVCHK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING 600LB
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPEB- 4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION  900 mm DUMMY SUPPORT DS01-3-4
ITEM-CODE VALVBAL4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
