ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0021-PRM-0006-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-PE-0021-PRM-0006-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-6002
    ATTRIBUTE83   PRODUCTION HDR. #2
    ATTRIBUTE84   C210-490212E-0002-06
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0021-4"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 110897.833          67724.662          104207.150  0.5  
    END-POINT 110897.833          67699.262          104207.150  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4T                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
VALVE
    END-POINT 110897.833          67781.310          104207.150  0.5  SW FEMALE 
    END-POINT 110897.833          67724.662          104207.150  0.5  
    CENTRE-POINT  110897.833          67751.462          104207.150 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 110897.833          67781.310          104207.150  0.5
    END-POINT 110897.833          67781.310          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4P                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 110897.833          67882.910          104207.150  0.5  
    END-POINT 110897.833          67781.310          104207.150  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4O                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110897.833          67882.910          104207.150  0.5
    END-POINT 110897.833          67882.910          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4G                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 110897.833          67921.010          104207.150  0.5  
    END-POINT 110897.833          67882.910          104207.150  0.5  
    CENTRE-POINT  110897.833          67901.960          104207.150 
    BRANCH1-POINT 110916.883          67901.960          104207.150  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 110897.833          67921.010          104207.150  0.5
    END-POINT 110897.833          67921.010          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4E                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 110916.883          67901.960          104207.150  0.5
    END-POINT 110916.883          67901.960          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4H                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 110916.883          67901.960          104207.150  0.5  
    END-POINT 111018.483          67901.960          104207.150  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 111018.483          67901.960          104207.150  0.5
    END-POINT 111018.483          67901.960          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4J                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 111018.483          67901.960          104207.150  0.5  SW FEMALE 
    END-POINT 111089.607          67901.960          104207.150  0.5  
    CENTRE-POINT  111040.497          67901.960          104207.150 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4K                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MISC-COMPONENT
    END-POINT 111089.607          67901.960          104207.150  0.5  
    END-POINT 111111.705          67901.960          104207.150  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 110897.833          68022.610          104207.150  0.5  
    END-POINT 110897.833          67921.010          104207.150  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110897.833          68022.610          104207.150  0.5
    END-POINT 110897.833          68022.610          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4C                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 110897.833          68082.308          104207.150  0.5  
    END-POINT 110897.833          68022.610          104207.150  0.5  
    CENTRE-POINT  110897.833          68052.458          104207.150 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D4A                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
WELD
    END-POINT 110897.833          68082.308          104207.150  0.5
    END-POINT 110897.833          68082.308          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKX                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  110897.833          68234.708          104207.150 
    BRANCH1-POINT 110897.833          68082.308          104207.150  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110897.833          68234.708          104207.150  0.5
    END-POINT 110897.833          68234.708          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKU                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 110875.608          68361.583          104207.150  4  
    END-POINT 110983.558          68361.583          104207.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 110897.833          68234.708          104207.150  0.5
GASKET
    END-POINT 110872.428          68361.583          104207.150  4
    END-POINT 110875.608          68361.583          104207.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
WELD
    END-POINT 110983.558          68361.583          104207.150  4
    END-POINT 110983.558          68361.583          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKJ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 112004.858          68361.583          104207.150  4  BW
    END-POINT 110983.558          68361.583          104207.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D3P                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 112004.858          68361.583          104207.150  4
    END-POINT 112004.858          68361.583          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D3O                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 111798.110  68361.583 104207.150  4
    END-POINT 111798.110  68361.583 104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D3T                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     111798.110  68361.583 104207.150 
    BRANCH1-POINT 111798.110          68361.583          104288.113  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D3U                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 111798.110          68361.583          104288.113  0.75
    END-POINT 111798.110          68361.583          104288.113  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D3V                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 111798.110          68361.583          104288.113  0.75  
    END-POINT 111798.110          68361.583          104389.713  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D3W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 111798.110          68361.583          104389.713  0.75
    END-POINT 111798.110          68361.583          104389.713  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EL3                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 111798.110          68361.583          104389.713  0.75  SW FEMALE 
    END-POINT 111798.110          68361.583          104471.247  0.75  
    END-POINT 111757.343          68361.583          104432.004  0.5  
    CENTRE-POINT  111798.110          68361.583          104432.004 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EL1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 111757.343          68361.583          104432.004  0.5  
    END-POINT 111735.245          68361.583          104432.004  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EL6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 111798.110          68361.583          104471.247  0.75  
    END-POINT 111798.110          68361.583          104496.647  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EL4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 111798.110  68361.583 104487.995 
    UNDIMENSIONED
    TEXT 12E$PIT$6110
ELBOW
    END-POINT 112004.858          68361.583          104207.150  4  
    END-POINT 112157.258          68513.983          104207.150  4  
    CENTRE-POINT  112157.258          68361.583          104207.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D3N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 112157.258          68513.983          104207.150  4
    END-POINT 112157.258          68513.983          104207.150  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D38                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 112157.258          68513.983          104207.150  4  
    END-POINT 112157.258          69109.167          104207.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D35                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 112157.258          69109.167          104207.150 
    PIPELINE-REFERENCE C210-4910-12E-PE-0021-PRM-0006-02
INSTRUMENT
    END-POINT 110872.428          68361.583          104207.150  4  
    END-POINT 110869.253          68361.583          104207.150  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKK                 
    TAG 12E$FE$6111                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 110866.073          68361.583          104207.150  4
    END-POINT 110869.253          68361.583          104207.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 110866.073          68361.583          104207.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.250
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKP                 
FLANGE
    END-POINT 110866.073          68361.583          104207.150  4  
    END-POINT 110758.123          68361.583          104207.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 110843.848          68234.708          104207.150  0.5
WELD
    END-POINT 110758.123          68361.583          104207.150  4
    END-POINT 110758.123          68361.583          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKQ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 110843.848          68234.708          104207.150  0.5
    END-POINT 110843.848          68234.708          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKW                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  110843.848          68234.708          104207.150 
    BRANCH1-POINT 110843.848          68158.508          104207.150  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.194
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110843.848          68158.508          104207.150  0.5
    END-POINT 110843.848          68158.508          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EKY                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 110843.848          68158.508          104207.150  0.5  
    END-POINT 110843.848          68098.810          104207.150  0.5  
    CENTRE-POINT  110843.848          68128.658          104207.150 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2_1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D53                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
WELD
    END-POINT 110843.848          68098.810          104207.150  0.5
    END-POINT 110843.848          68098.810          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D55                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 110843.848          68098.810          104207.150  0.5  
    END-POINT 110843.848          67997.210          104207.150  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D56                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110843.848          67997.210          104207.150  0.5
    END-POINT 110843.848          67997.210          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D57                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 110843.848          67997.210          104207.150  0.5  
    END-POINT 110843.848          67959.110          104207.150  0.5  
    CENTRE-POINT  110843.848          67978.160          104207.150 
    BRANCH1-POINT 110824.798          67978.160          104207.150  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D58                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 110843.848          67959.110          104207.150  0.5
    END-POINT 110843.848          67959.110          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D59                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 110824.798          67978.160          104207.150  0.5
    END-POINT 110824.798          67978.160          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5A                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 110824.798          67978.160          104207.150  0.5  
    END-POINT 110723.198          67978.160          104207.150  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110723.198          67978.160          104207.150  0.5
    END-POINT 110723.198          67978.160          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5C                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 110723.198          67978.160          104207.150  0.5  SW FEMALE 
    END-POINT 110650.550          67978.160          104207.150  0.5  
    CENTRE-POINT  110701.183          67978.160          104207.150 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1/2
    WEIGHT           1.954
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MISC-COMPONENT
    END-POINT 110650.550          67978.160          104207.150  0.5  
    END-POINT 110625.150          67978.160          104207.150  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
COUPLING
    END-POINT 110843.848          67959.110          104207.150  0.5  
    END-POINT 110843.848          67857.510          104207.150  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.364
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110843.848          67857.510          104207.150  0.5
    END-POINT 110843.848          67857.510          104207.150  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5I                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 110843.848          67857.510          104207.150  0.5  SW FEMALE 
    END-POINT 110843.848          67800.862          104207.150  0.5  
    CENTRE-POINT  110843.848          67827.662          104207.150 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5J                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT 110843.848          67800.862          104207.150  0.5  
    END-POINT 110843.848          67775.462          104207.150  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 107907.548          68361.583          104207.150  4  BW
    END-POINT 110758.123          68361.583          104207.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5N                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 110000.000  68361.583 104207.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5O                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 107907.548          68361.583          104207.150  4
    END-POINT 107907.548          68361.583          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5P                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 107907.548          68361.583          104207.150  4  
    END-POINT 107755.148          68513.983          104207.150  4  
    CENTRE-POINT  107755.148          68361.583          104207.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5Q                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 107755.148          68513.983          104207.150  4
    END-POINT 107755.148          68513.983          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5R                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 107755.148          71479.952          104207.150  4  BW
    END-POINT 107755.148          68513.983          104207.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5S                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 107755.148  70300.000 104207.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5T                 
    TAG                         S01-B-3-4                       
FLOW-ARROW
    CO-ORDS 107755.148  69377.154 104207.150 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 107755.148          71479.952          104207.150  4
    END-POINT 107755.148          71479.952          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5V                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 107755.148          71479.952          104207.150  4  
    END-POINT 107755.148          71689.248          104207.150  4  
    CENTRE-POINT  107755.148          71584.600          104207.150 
    BRANCH1-POINT 107755.148          71584.600          104311.798  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D5W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 107755.148          71689.248          104207.150  4
    END-POINT 107755.148          71689.248          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELG                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 107755.148          71584.600          104311.798  4
    END-POINT 107755.148          71584.600          104311.798  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EAE                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 107755.148          71584.600          104419.748  4  
    END-POINT 107755.148          71584.600          104311.798  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EAD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 107755.148          71584.600          104422.928  4
    END-POINT 107755.148          71584.600          104419.748  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EAH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 107755.148          71584.600          104422.928  4  
    END-POINT 107755.148          71584.600          104438.678  4  
    CENTRE-POINT 107755.148  71584.600 104430.803 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EAF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION SOUTH
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 107755.148          71584.600          104441.858  4
    END-POINT 107755.148          71584.600          104438.678  4
    CONTINUATION 
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EAJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 107755.148          71584.600          104441.858  4  
    END-POINT 107755.148          71584.600          104549.808  4  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EAI                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 107755.148          71584.600          104549.808 
    PIPELINE-REFERENCE C210-4910-12E-S-0050-PRM-0006-01
FLANGE
    END-POINT 107755.148          71797.198          104207.150  4  
    END-POINT 107755.148          71689.248          104207.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 107755.148          71797.198          104207.150  4
    END-POINT 107755.148          71800.378          104207.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 107755.148          71800.378          104207.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELF                 
MISC-COMPONENT
    END-POINT 107755.148          71816.128          104207.150  4  
    END-POINT 107755.148          71800.378          104207.150  4  
    CENTRE-POINT 107755.148  71808.253 104207.150 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC4
    WEIGHT           5.049
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_EL9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION UP
    MESSAGE
    TEXT OPEN
GASKET
    END-POINT 107755.148          71816.128          104207.150  4
    END-POINT 107755.148          71819.308          104207.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELB                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
FLANGE
    END-POINT 107755.148          71819.308          104207.150  4  
    END-POINT 107755.148          71927.258          104207.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D69                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 107755.148          71927.258          104207.150  4
    END-POINT 107755.148          71927.258          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D6A                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 107755.148          71927.258          104207.150  4  
    END-POINT 107755.148          72136.554          104207.150  4  
    CENTRE-POINT  107755.148          72031.906          104207.150 
    BRANCH1-POINT 107755.148          72031.906          104305.702  3  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           8.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D6B                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 107755.148          72136.554          104207.150  4
    END-POINT 107755.148          72136.554          104207.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELH                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 107755.148          72031.906          104305.702  3
    END-POINT 107755.148          72031.906          104305.702  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DWL                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 107755.148          72031.906          104394.602  3  
    END-POINT 107755.148          72031.906          104305.702  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DWK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 107755.148          72031.906          104397.782  3
    END-POINT 107755.148          72031.906          104394.602  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
MISC-COMPONENT
    END-POINT 107755.148          72031.906          104397.782  3  
    END-POINT 107755.148          72031.906          104410.482  3  
    CENTRE-POINT 107755.148  72031.906 104404.132 
    SKEY SB
    FABRICATION-ITEM
    ITEM-CODE LNBDSPEC3
    WEIGHT           2.418
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SLIP-PLATE-TAIL-DIRECTION NORTH
    MESSAGE
    TEXT CLOSED
GASKET
    END-POINT 107755.148          72031.906          104413.662  3
    END-POINT 107755.148          72031.906          104410.482  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELV                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 107755.148          72031.906          104410.482 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELW                 
FLANGE
    END-POINT 107755.148          72031.906          104413.662  3  
    END-POINT 107755.148          72031.906          104502.562  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 107755.148          72031.906          104502.562  3
    END-POINT 107755.148          72031.906          104502.562  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELY                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 107755.148          72031.906          104502.562  3  BW
    END-POINT 107755.148          72031.906          104691.045  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          15.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELX                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 107755.148          72031.906          104691.045  3
    END-POINT 107755.148          72031.906          104691.045  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_ELZ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 107869.460          72031.906          104805.332  3  
    END-POINT 107755.148          72031.906          104691.045  3  
    CENTRE-POINT  107755.160          72031.906          104805.345 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           3.030
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DX4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 107869.460          72031.906          104805.332  3
    END-POINT 107869.460          72031.906          104805.332  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DX6                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 107958.360          72031.906          104805.322  3  
    END-POINT 107869.460          72031.906          104805.332  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DX1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 107958.360          72031.906          104805.322  3
    END-POINT 107961.540          72031.906          104805.322  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DX2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 107958.360          72031.906          104805.322 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_3
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DX3                 
VALVE
    END-POINT 108317.140          72031.906          104805.282  3  
    END-POINT 107961.540          72031.906          104805.322  3  
    CENTRE-POINT  108139.340          72031.906          104805.302 
    SKEY CKFL
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3
    WEIGHT          64.010
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DWY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 108317.140          72031.906          104805.282  3
    END-POINT 108320.320          72031.906          104805.282  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DWZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 108317.140          72031.906          104805.282 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_3
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DX0                 
FLANGE
    END-POINT 108320.320          72031.906          104805.282  3  
    END-POINT 108409.220          72031.906          104805.272  3  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DWV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 108409.220          72031.906          104805.272 
    PIPELINE-REFERENCE C210-4910-12E-S-0049-PRM-0006-01
PIPE
    END-POINT 107755.148          72136.554          104207.150  4  BW
    END-POINT 107755.148          73105.182          104207.066  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D6X                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 107755.148  72800.000 104207.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_D6Y                 
    TAG                         S01-B-3-4                       
WELD
    END-POINT 107755.148          73105.182          104207.066  4
    END-POINT 107755.148          73105.182          104207.066  4
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3VL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 107755.148          85374.820          104207.066  4  
    END-POINT 107755.148          73105.182          104207.066  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3SR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 107755.148  74954.826 104207.066 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 107755.148  76800.833 104207.066  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3SZ                 
    TAG                         S01-B-3-4                       
SUPPORT
    CO-ORDS 107755.148  81800.833 104207.066  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSRBABA_3T1                 
    TAG                         S01-B-6-4                       
END-CONNECTION-PIPELINE 
    CO-ORDS 107755.148          85374.820          104207.066 
    PIPELINE-REFERENCE C210-4910-12E-PE-0021-PRM-0026-01
MATERIALS
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE TEESTR1/2X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE SW, A105N, CL6000, NACE
    RATING 6000LB
ITEM-CODE VALVGLB1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION VALV, GLBY, SW x FNPT, 800LB, GL-825HSW
    RATING 800LB
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814HSW, NACE
    RATING 800LB
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING 6000LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 1/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-4
ITEM-CODE TEESTR4X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE LNBDSPEC4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE N/A_1
    BOLT_DIA 22.225
    BOLT_LEN 171.45
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE TEERED4X3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING CL600
    RATING 80
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE LNBDSPEC3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.48-1997
    DESCRIPTION SPECTACLE BLIND RF, A516-70N, CL600, NACE
    RATING CL600
ITEM-CODE N/A_2
    BOLT_DIA 19.05
    BOLT_LEN 146.05
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 X 5 3/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING SCH 80
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING SCH 80
ITEM-CODE N/A_3
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVCHK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.10
    DESCRIPTION CHECK VALVE SWING RF, A216-WCB, CL600  , CH-600HS, NACE
    RATING CL600
