ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0003-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0003.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-PE-0033-PRM-0003-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   HEADER #2 
    ATTRIBUTE83   12E-PE-0030-8"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0033-6"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
TEE
    END-POINT 162423.970          69112.528          103679.082  6  
    END-POINT 162709.466          69112.528          103679.082  6  
    CENTRE-POINT  162566.718          69112.528          103679.082 
    BRANCH1-POINT 162566.718          69112.528          103809.130  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 162423.970          69112.528          103679.082  6
    END-POINT 162423.970          69112.528          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJA                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162709.466          69112.528          103679.082  6
    END-POINT 162709.466          69112.528          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJB                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162566.718          69112.528          103809.130  4
    END-POINT 162566.718          69112.528          103809.130  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ8                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162566.718          69112.548          103918.102  4  
    END-POINT 162566.718          69112.528          103809.130  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJ7                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 162566.718          69112.548          103918.102 
    PIPELINE-REFERENCE C210-4910-12E-PE-0013-PRM-0003-05
PIPE
    END-POINT 162709.466          69112.528          103679.082  6  BW
    END-POINT 172621.708          69112.528          103679.082  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 165999.466  69112.528 103679.082  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJD                 
    TAG                         S01-B-4-6                       
SUPPORT
    CO-ORDS 172000.008  69112.528 103679.082  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJE                 
    TAG                         S01-B-4-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 172621.708          69112.528          103679.082  6
    END-POINT 172621.708          69112.528          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJG                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 172621.708          69112.528          103679.082  6  
    END-POINT 172850.308          69341.128          103679.082  6  
    CENTRE-POINT  172850.308          69112.528          103679.082 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 172850.308          69341.128          103679.082  6
    END-POINT 172850.308          69341.128          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJI                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 172850.308          69341.128          103679.082  6  BW
    END-POINT 172850.308          72106.128          103679.082  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 172850.308          72106.128          103679.082  6
    END-POINT 172850.308          72106.128          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJK                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 172850.308          72106.128          103679.082  6  
    END-POINT 173078.908          72334.728          103679.082  6  
    CENTRE-POINT  172850.308          72334.728          103679.082 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 173078.908          72334.728          103679.082  6
    END-POINT 173078.908          72334.728          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJM                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 173078.908          72334.728          103679.082  6  BW
    END-POINT 176768.908          72334.728          103679.082  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 175000.008  72334.728 103679.082  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJO                 
    TAG                         S01-B-3-6                       
WELD
    END-POINT 176768.908          72334.728          103679.082  6
    END-POINT 176768.908          72334.728          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJP                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 176768.908          72334.728          103679.082  6  
    END-POINT 176997.508          72106.128          103679.082  6  
    CENTRE-POINT  176997.508          72334.728          103679.082 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 176997.508          72106.128          103679.082  6
    END-POINT 176997.508          72106.128          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJR                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 176997.508          72106.128          103679.082  6  BW
    END-POINT 176997.508          69341.128          103679.082  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJS                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 176997.508          69341.128          103679.082  6
    END-POINT 176997.508          69341.128          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJT                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 176997.508          69341.128          103679.082  6  
    END-POINT 177226.108          69112.528          103679.082  6  
    CENTRE-POINT  176997.508          69112.528          103679.082 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT          15.050
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 177226.108          69112.528          103679.082  6
    END-POINT 177226.108          69112.528          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJV                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 177226.108          69112.528          103679.082  6  BW
    END-POINT 180544.708          69112.528          103679.082  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 178000.000  69112.528 103679.082  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GJX                 
    TAG                         S01-B-3-6                       
    ADDITIONAL-ITEM
    SIZE  6
    FABRICATION-ITEM
    ITEM-CODE G22
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 180544.708          69112.528          103679.082  6
    END-POINT 180544.708          69112.528          103679.082  6
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BTG                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 180544.708          69112.528          103679.082  6  
    END-POINT 185906.142          69112.461          103679.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B2D                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 182000.168  69112.510 103679.097  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BT7                 
    TAG                         S01-B-3-6                       
END-CONNECTION-PIPELINE 
    CO-ORDS 185906.142          69112.461          103679.138 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0002-01
PIPE
    END-POINT 161194.286          69112.528          103679.082  6  BW
    END-POINT 162423.970          69112.528          103679.082  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GK0                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 161194.286          69112.528          103679.082  6
    END-POINT 161194.286          69112.528          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GK1                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 160908.790          69112.528          103679.082  6  
    END-POINT 161194.286          69112.528          103679.082  6  
    CENTRE-POINT  161051.538          69112.528          103679.082 
    BRANCH1-POINT 161051.538          69112.528          103809.130  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GK2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 160908.790          69112.528          103679.082  6
    END-POINT 160908.790          69112.528          103679.082  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GK3                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 161051.538          69112.528          103809.130  4
    END-POINT 161051.538          69112.528          103809.130  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IBY                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 161051.538          69112.528          103918.039  4  
    END-POINT 161051.538          69112.528          103809.130  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IBW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 161051.538          69112.528          103918.039 
    PIPELINE-REFERENCE C210-4910-12E-CG-0008-PRM-0003-01
PIPE
    END-POINT 158400.105          69112.528          103679.082  6  BW
    END-POINT 160908.790          69112.528          103679.082  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GK5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 159671.624  69112.528 103679.082 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 160000.105  69112.528 103679.082  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_GK7                 
    TAG                         S01-B-3-6                       
WELD
    END-POINT 158400.105          69112.528          103679.082  6
    END-POINT 158400.105          69112.528          103679.082  6
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5GMDJ_IT7                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 147680.138          69112.528          103679.082  6  
    END-POINT 158400.105          69112.528          103679.082  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFL                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS 156000.276  69112.528 103679.082  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFN                 
    TAG                         S01-B-3-6                       
SUPPORT
    CO-ORDS 148000.000  69112.528 103679.082  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFO                 
    TAG                         S01-B-3-6                       
SUPPORT
    CO-ORDS 152000.000  69112.528 103679.082  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ560IE_CFP                 
    TAG                         S01-B-3-6                       
FLOW-ARROW
    CO-ORDS 154802.968  69112.528 103679.082 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 147680.138          69112.528          103679.082 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0004-01
MATERIALS
ITEM-CODE TEERED6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-4-6
ITEM-CODE G22
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G22
ITEM-CODE 90LLR6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-6_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-6
