ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0007-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0007.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-FG-0053-PRM-0007-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-PK-0102
    ATTRIBUTE83   FUEL GAS SUP. HDR.
    ATTRIBUTE84   C210-4902-12E-0013-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0053-2"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  78286.722          72307.188          106635.687  1  
    END-POINT  78286.722          72307.188          106664.389  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS  78286.722          72307.188          106664.389 
VALVE
    END-POINT  78286.722          72307.188          106532.563  1  SW FEMALE 
    END-POINT  78286.722          72307.188          106635.687  1  
    CENTRE-POINT   78286.722          72307.188          106587.300 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           4.540
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNR                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT  78286.722          72307.188          106532.563  1
    END-POINT  78286.722          72307.188          106532.563  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNS                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT  78286.722          72307.188          106430.963  1  
    END-POINT  78286.722          72307.188          106532.563  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  78286.722          72307.188          106430.963  1
    END-POINT  78286.722          72307.188          106430.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNP                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT      78286.722  72307.188 106380.163 
    BRANCH1-POINT  78286.722          72307.188          106430.963  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  78286.722  72307.188 106380.163  2
    END-POINT  78286.722  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNN                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  78147.442          72307.188          106380.163  2  BW
    END-POINT 101590.478          72307.188          106380.163  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D42                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  79000.864  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D46                 
    TAG                         S01-A-4-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS  82000.868  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D4A                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS  88000.868  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D4C                 
    TAG                         S01-A-4-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 100000.868  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D4G                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS  94000.868  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D4I                 
    TAG                         S01-A-4-2                       
FLOW-ARROW
    CO-ORDS  80729.479  72307.188 106380.163 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  78147.442          72307.188          106380.163  2
    END-POINT  78147.442          72307.188          106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ERM                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 101590.478          72307.188          106380.163  2
    END-POINT 101590.478          72307.188          106380.163  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  88370.903  72307.188 106380.163  2
    END-POINT  88370.903  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DB5                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT  85329.187  72307.188 106380.163  2
    END-POINT  85329.187  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DBB                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 123600.478          72307.188          106380.163  2  
    END-POINT 101590.478          72307.188          106380.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DOY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 122000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP1                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 116000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP3                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 110000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP5                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 104000.000  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP7                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS 114558.024  72307.188 106380.163 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 123600.478          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0006-01
OLET
    CENTRE-POINT      85329.187  72307.188 106380.163 
    BRANCH1-POINT  85329.187          72307.188          106329.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DBA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  85329.187          72307.188          106329.363  1
    END-POINT  85329.187          72307.188          106329.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DBE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  85329.187          72307.188          105938.427  1  
    END-POINT  85329.187          72307.188          106329.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DBC                 
    PIPING-SPEC DL
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  85329.187          72307.188          105938.427 
    PIPELINE-REFERENCE C210-4910-12E-FG-0056-PRM-0007-01
OLET
    CENTRE-POINT      88370.903  72307.188 106380.163 
    BRANCH1-POINT  88370.903          72307.188          106329.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DB4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  88370.903          72307.188          106329.363  1
    END-POINT  88370.903          72307.188          106329.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DB8                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  88370.903          72307.188          105938.074  1  
    END-POINT  88370.903          72307.188          106329.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DB6                 
    PIPING-SPEC DL
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  88370.903          72307.188          105938.074 
    PIPELINE-REFERENCE C210-4910-12E-FG-0055-PRM-0007-01
ELBOW
    END-POINT  78071.242          72307.188          106303.963  2  
    END-POINT  78147.442          72307.188          106380.163  2  
    CENTRE-POINT   78071.242          72307.188          106380.163 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.945
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ERJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  78071.242          72307.188          106303.963  2
    END-POINT  78071.242          72307.188          106303.963  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ERL                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT  78071.242          72307.188          103006.362  2  BW
    END-POINT  78071.242          72307.188          106303.963  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_E8P                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  78071.242          72307.188          103006.362  2
    END-POINT  78071.242          72307.188          103006.362  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ERQ                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT  78071.242          72307.188          103006.362  2  
    END-POINT  77995.042          72307.188          102930.162  2  
    CENTRE-POINT   78071.242          72307.188          102930.162 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.945
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_ERO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  77995.042          72307.188          102930.162  2
    END-POINT  77995.042          72307.188          102930.162  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FO1                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT  77885.517          72307.188          102930.162  2  
    END-POINT  77995.042          72307.188          102930.162  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT          11.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_FNX                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  77882.467          72307.188          102930.162  2
    END-POINT  77885.517          72307.188          102930.162  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_8H4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL1500         
FLANGE
    END-POINT  77882.467          72307.188          102930.162  2  
    END-POINT  77772.942          72307.188          102930.162  2  
    SKEY FLWN
    CONTINUATION 
    WEIGHT          11.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FN3OTJUM_8FN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  77772.942          72307.188          102930.162 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-SB-0010-02
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING CL3000
ITEM-CODE VALVBAL1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION BALL VALVE SW x THD, A350-LF2 CL1, CL1500  , BA-1505L
    RATING CL1500
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A350-LF2 CL1
    RATING CL3000
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A333-6, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-4-2
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A420-WPL6, SCH 80
    RATING SCH 80
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING CL1500
    RATING 80
