ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0077-PRM-0005-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0005.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-S-0077-PRM-0005-01
    ATTRIBUTE70   L/V
    ATTRIBUTE82   12E-S-0017-2"
    ATTRIBUTE83   12E-US-010 STN
    ATTRIBUTE84   C210-4902-12E-0012.03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0077-1"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
COUPLING
    END-POINT 130059.026          67366.085          103452.065  1  
    END-POINT 130059.026          67366.085          103553.665  1  
    SKEY NRSC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FPM                 
    PIPING-SPEC AH
    INSULATION-ON 
MESSAGE
    CO-ORDS 130059.026  67366.085 103538.935 
    TEXT TO 12E-US-010
    UNDIMENSIONED
MESSAGE-SQUARE
    CO-ORDS 130059.026  67366.085 103538.935 
    TEXT SP-095
    UNDIMENSIONED
WELD
    END-POINT 130059.026          67366.085          103452.065  1
    END-POINT 130059.026          67366.085          103452.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FPN                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS 130059.026          67366.085          103553.665 
VALVE
    END-POINT 130059.026          67366.085          103366.765  1  
    END-POINT 130059.026          67366.085          103452.065  1  
    CENTRE-POINT  130059.026          67366.085          103409.265 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FPG                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 130059.026          67366.085          103366.765  1
    END-POINT 130059.026          67366.085          103366.765  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRA                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 130059.026          67366.085          103366.765  1  PL
    END-POINT 130059.026          67366.085          103141.365  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FR9                 
    PIPING-SPEC AH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 130059.026  67366.085 103265.128 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 130059.026          67366.085          103141.365  1
    END-POINT 130059.026          67366.085          103141.365  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRB                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
VALVE
    END-POINT 130059.026          67366.085          103056.365  1  
    END-POINT 130059.026          67366.085          103141.365  1  
    CENTRE-POINT  130059.026          67366.085          103098.865 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FP7                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 130059.026          67366.085          103056.365  1
    END-POINT 130059.026          67366.085          103056.365  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRD                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 130059.026          67366.085          103056.365  1  PL
    END-POINT 130059.026          67366.085          102880.965  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRC                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 130059.026          67366.085          102880.965  1
    END-POINT 130059.026          67366.085          102880.965  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FRE                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
OLET
    CENTRE-POINT     130059.026  67366.085 102830.163 
    BRANCH1-POINT 130059.026          67366.085          102880.965  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_FOY                 
    PIPING-SPEC AH
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 130059.026  67366.085 102830.163 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0005-01
MATERIALS
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING SCH 80
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING CL800
