ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0024-PRM-0006-02
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0024-PRM-0006-02
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0166-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0024-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 113483.272          72572.171          104323.645  0.75  
    END-POINT 113483.272          72572.171          104352.220  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 113483.272  72572.171 104337.933 
    UNDIMENSIONED
    TEXT PIT$12E-6105
VALVE
    END-POINT 113483.272          72572.171          104240.653  0.75  SW FEMALE 
    END-POINT 113483.272          72572.171          104323.645  0.75  
    CENTRE-POINT  113483.272          72572.171          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 113483.272          72572.171          104240.653  0.75
    END-POINT 113483.272          72572.171          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMR                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 113483.272          72572.171          104139.053  0.75  
    END-POINT 113483.272          72572.171          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMQ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113483.272          72572.171          104139.053  0.75
    END-POINT 113483.272          72572.171          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 113460.920          72572.171          104116.701  1  
    END-POINT 113505.624          72572.171          104116.701  1  
    CENTRE-POINT  113483.272          72572.171          104116.701 
    BRANCH1-POINT 113483.272          72572.171          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 113460.920          72572.171          104116.701  1
    END-POINT 113460.920          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 113505.624          72572.171          104116.701  1
    END-POINT 113505.624          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 113505.624          72572.171          104116.701  1  PL
    END-POINT 113669.492          72572.171          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CML                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113669.492          72572.171          104116.701  1
    END-POINT 113669.492          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMK                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 113704.290          72572.171          104116.701  1  
    END-POINT 113669.492          72572.171          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 113708.354          72572.171          104116.701  1
    END-POINT 113704.290          72572.171          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 113704.290          72572.171          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMI                 
INSTRUMENT
    END-POINT 113708.354          72572.171          104116.701  1  
    END-POINT 113962.354          72572.171          104116.701  1  
    CENTRE-POINT  113835.354          72572.171          104116.701 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMF                 
    TAG 12E$FV$6105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 113966.418          72572.171          104116.701  1
    END-POINT 113962.354          72572.171          104116.701  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
FLANGE
    END-POINT 113966.418          72572.171          104116.701  1  
    END-POINT 114001.216          72572.171          104116.701  1  
    SKEY FLSW
    CONTINUATION 
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 114001.216          72572.171          104116.701 
    PIPELINE-REFERENCE C210-4910-12E-FG-0024-PRM-0006-01
PIPE
    END-POINT 113285.520          72572.171          104116.701  1  PL
    END-POINT 113460.920          72572.171          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMX                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113285.520          72572.171          104116.701  1
    END-POINT 113285.520          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 113240.816          72572.171          104116.701  1  
    END-POINT 113285.520          72572.171          104116.701  1  
    CENTRE-POINT  113263.168          72572.171          104116.701 
    BRANCH1-POINT 113263.168          72572.171          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CMZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 113240.816          72572.171          104116.701  1
    END-POINT 113240.816          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CN0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 113263.168          72572.171          104139.053  0.75
    END-POINT 113263.168          72572.171          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CN1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 113263.168          72572.171          104139.053  0.75  
    END-POINT 113263.168          72572.171          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CN2                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113263.168          72572.171          104240.653  0.75
    END-POINT 113263.168          72572.171          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CN3                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 113263.168          72572.171          104240.653  0.75  SW FEMALE 
    END-POINT 113263.168          72572.171          104323.645  0.75  
    CENTRE-POINT  113263.168          72572.171          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CN4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 113263.168          72572.171          104323.645  0.75  
    END-POINT 113263.168          72572.171          104352.220  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CN7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 112624.703          72572.171          104116.701  1  PL
    END-POINT 113240.816          72572.171          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CN8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 113000.000  72572.171 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CN9                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 112624.703          72572.171          104116.701  1
    END-POINT 112624.703          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 112579.999          72572.171          104116.701  1  
    END-POINT 112624.703          72572.171          104116.701  1  
    CENTRE-POINT  112602.351          72572.171          104116.701 
    BRANCH1-POINT 112602.351          72572.171          104094.349  1  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNB                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 112579.999          72572.171          104116.701  1
    END-POINT 112579.999          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 112602.351          72572.171          104094.349  1
    END-POINT 112602.351          72572.171          104094.349  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CND                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 112602.351          72572.171          104094.349  1  
    END-POINT 112602.351          72572.171          103992.749  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 112602.351          72572.171          103992.749  1
    END-POINT 112602.351          72572.171          103992.749  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNF                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 112602.351          72572.171          103992.749  1  SW FEMALE 
    END-POINT 112602.351          72572.171          103895.911  1  
    CENTRE-POINT  112602.351          72572.171          103941.949 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 112602.351          72572.171          103895.911  1  
    END-POINT 112602.351          72572.171          103865.749  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 111379.495          72572.171          104116.701  1  PL
    END-POINT 112579.999          72572.171          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNK                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 111379.495          72572.171          104116.701  1
    END-POINT 111379.495          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNL                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 111344.697          72572.171          104116.701  1  
    END-POINT 111379.495          72572.171          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 111344.697          72572.171          104116.701  1
    END-POINT 111340.633          72572.171          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 111340.633          72572.171          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNO                 
INSTRUMENT
    END-POINT 111086.633          72572.171          104116.701  1  
    END-POINT 111340.633          72572.171          104116.701  1  
    CENTRE-POINT  111213.633          72572.171          104116.701 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNP                 
    TAG 12E$XV$6105                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 111086.633          72572.171          104116.701  1
    END-POINT 111082.569          72572.171          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNR                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 111082.569          72572.171          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNS                 
FLANGE
    END-POINT 111082.569          72572.171          104116.701  1  
    END-POINT 111047.771          72572.171          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNT                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 111047.771          72572.171          104116.701  1
    END-POINT 111047.771          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNU                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 111047.771          72572.171          104116.701  1  PL
    END-POINT 110929.521          72572.171          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNV                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110929.521          72572.171          104116.701  1
    END-POINT 110929.521          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 110884.817          72572.171          104116.701  1  
    END-POINT 110929.521          72572.171          104116.701  1  
    CENTRE-POINT  110907.169          72572.171          104116.701 
    BRANCH1-POINT 110907.169          72572.171          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNX                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 110884.817          72572.171          104116.701  1
    END-POINT 110884.817          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 110907.169          72572.171          104139.053  0.75
    END-POINT 110907.169          72572.171          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CNZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 110907.169          72572.171          104139.053  0.75  
    END-POINT 110907.169          72572.171          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CO0                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 110907.169          72572.171          104240.653  0.75
    END-POINT 110907.169          72572.171          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CO1                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 110907.169          72572.171          104240.653  0.75  SW FEMALE 
    END-POINT 110907.169          72572.171          104324.665  0.75  
    CENTRE-POINT  110907.169          72572.171          104283.453 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CO2                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 110907.169          72572.171          104324.665  0.75  
    END-POINT 110907.169          72572.171          104353.240  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CO5                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 110907.169  72572.171 104338.953 
    TEXT CONT.TO TUBING 1/2"
    UNDIMENSIONED
PIPE
    END-POINT 109809.661          72572.171          104116.701  1  PL
    END-POINT 110884.817          72572.171          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CO7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 110338.809  72572.171 104116.701 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 109809.661          72572.171          104116.701  1
    END-POINT 109809.661          72572.171          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CO9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 109809.661          72572.171          104116.701  1  
    END-POINT 109787.309          72594.523          104116.701  1  
    CENTRE-POINT  109787.309          72572.171          104116.701 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 109787.309          72594.523          104116.701  1
    END-POINT 109787.309          72594.523          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 109787.309          72594.523          104116.701  1  PL
    END-POINT 109787.309          73007.607          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 109787.309  72800.000 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COD                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 109787.309          73007.607          104116.701  1
    END-POINT 109787.309          73007.607          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 109787.309          73007.607          104116.701  1  
    END-POINT 109787.309          73020.307          104116.701  1  
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COF                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 109787.309          73020.307          104116.701  1
    END-POINT 109787.309          73020.307          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT 109787.309          73020.307          104116.701  1  
    END-POINT 109787.309          73109.207          104116.701  0.75  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON1X3/4
    WEIGHT           0.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 109787.309          73109.207          104116.701  0.75
    END-POINT 109787.309          73109.207          104116.701  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COI                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 109787.309          73109.207          104116.701  0.75  
    END-POINT 109787.309          73194.807          104116.701  0.75  
    CENTRE-POINT  109787.309          73152.007          104116.701 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           2.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 109787.309          73194.807          104116.701  0.75
    END-POINT 109787.309          73194.807          104116.701  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COK                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 109787.309          73194.807          104116.701  0.75  
    END-POINT 109787.309          73296.407          104116.701  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_COL                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 109787.309  73283.707 104116.701 
    TEXT 3/4" TUBING TO $12F-WI-6001
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS 109787.309          73296.407          104116.701 
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G21
ITEM-CODE TEESTR1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE CPL1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION FULL CPLG, SW, A350 GR.LF2 CL.1, 3000LB
    RATING 3000LB
ITEM-CODE SWGCON1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC PBE, A420-WPL6, SCH 160, MSS SP-95
    RATING 160
ITEM-CODE VALVCHK3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION CHECK VALVE LIFT SW, A350-LF2, CL1500  , CH-1514L
    RATING 1500LB
