ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0067-PRM-0009-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0009.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-CG-0067-PRM-0009-01
    ATTRIBUTE70   V/L
    ATTRIBUTE82   12E-CG-0016-4"
    ATTRIBUTE83   12E-PSV-0144
    ATTRIBUTE84   C210-4902-12E-0008-02
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0067-2"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 163411.846          57206.298          102882.878  0.75  
    END-POINT 163411.846          57206.298          102857.478  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DE0                 
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 163411.846          57206.298          102944.430  0.75  SW FEMALE 
    END-POINT 163411.846          57206.298          102882.878  0.75  
    CENTRE-POINT  163411.846          57206.298          102912.130 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DDW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 163411.846          57206.298          102944.430  0.75
    END-POINT 163411.846          57206.298          102944.430  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DDX                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 163411.846          57206.298          103046.030  0.75  
    END-POINT 163411.846          57206.298          102944.430  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DDS                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163411.846          57206.298          103046.030  0.75
    END-POINT 163411.846          57206.298          103046.030  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_DDT                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     163411.846  57206.298 103100.000 
    BRANCH1-POINT 163411.846          57206.298          103046.030  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVZ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163411.846  57206.298 103100.000  2
    END-POINT 163411.846  57206.298 103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BW0                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 163499.095          57206.298          103100.000  2  BW
    END-POINT 163324.597          57206.298          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVI                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163499.095          57206.298          103100.000  2
    END-POINT 163499.095          57206.298          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HQ2                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163324.597          57206.298          103100.000  2
    END-POINT 163324.597          57206.298          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVL                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 163245.095          57206.298          103100.000  2  
    END-POINT 163324.597          57206.298          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVK                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 163241.915          57206.298          103100.000  2
    END-POINT 163245.095          57206.298          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163241.915          57206.298          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVO                 
VALVE
    END-POINT 163241.915          57206.298          103100.000  2  
    END-POINT 162949.815          57206.298          103100.000  2  
    CENTRE-POINT  163095.865          57206.298          103100.000 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS 163095.865  57206.298 103100.000 
    TEXT CSO
    UNDIMENSIONED
GASKET
    END-POINT 162946.635          57206.298          103100.000  2
    END-POINT 162949.815          57206.298          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 162946.635          57206.298          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVS                 
FLANGE
    END-POINT 162946.635          57206.298          103100.000  2  
    END-POINT 162867.133          57206.298          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162867.133          57206.298          103100.000  2
    END-POINT 162867.133          57206.298          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRL                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 162867.133          57206.298          103100.000  2  
    END-POINT 162790.933          57130.098          103100.000  2  
    CENTRE-POINT  162790.933          57206.298          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT 162790.933          57130.098          103100.000  2
    END-POINT 162790.933          57130.098          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRN                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 162790.933          57130.098          103100.000  2  BW
    END-POINT 162790.933          56825.098          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRM                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 162790.933          56825.098          103100.000  2
    END-POINT 162790.933          56825.098          103100.000  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FRT                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 162895.581          56736.198          103100.000  4  
    END-POINT 162686.285          56736.198          103100.000  4  
    CENTRE-POINT  162790.933          56736.198          103100.000 
    BRANCH1-POINT 162790.933          56825.098          103100.000  2  
    SKEY TEBW
    CONTINUATION 
    WEIGHT          15.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_9YJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 162895.581          56736.198          103100.000 
    PIPELINE-REFERENCE C210-4910-12E-CG-0016-PRM-0009-01
FLANGE
    END-POINT 163578.597          57206.298          103100.000  2  
    END-POINT 163499.095          57206.298          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVF                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 163578.597          57206.298          103100.000  2
    END-POINT 163581.777          57206.298          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163578.597          57206.298          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVH                 
VALVE
    END-POINT 163873.877          57206.298          103100.000  2  
    END-POINT 163581.777          57206.298          103100.000  2  
    CENTRE-POINT  163727.827          57206.298          103100.000 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          44.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS 163727.827  57206.298 103100.000 
    TEXT CSO
    UNDIMENSIONED
GASKET
    END-POINT 163877.057          57206.298          103100.000  2
    END-POINT 163873.877          57206.298          103100.000  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C5I                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 163877.057          57206.298          103100.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C5J                 
FLANGE
    END-POINT 163877.057          57206.298          103100.000  2  
    END-POINT 163956.559          57206.298          103100.000  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_C26                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 163956.559          57206.298          103100.000  2
    END-POINT 163956.559          57206.298          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HPZ                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164056.559          57206.298          103100.000  2  BW
    END-POINT 163956.559          57206.298          103100.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HPX                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164056.559          57206.298          103100.000  2
    END-POINT 164056.559          57206.298          103100.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HPY                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 164056.559          57206.298          103100.000  2  
    END-POINT 164132.759          57206.298          103176.200  2  
    CENTRE-POINT  164132.759          57206.298          103100.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           1.410
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS 164132.759  57206.298 103100.000  2
    SKEY DUCK
    FABRICATION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_G6U                 
    TAG                         BS01-2                          
WELD
    END-POINT 164132.759          57206.298          103176.200  2
    END-POINT 164132.759          57206.298          103176.200  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FT5                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164132.759          57206.298          103176.200  2  BW
    END-POINT 164132.759          57206.298          103326.200  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FT4                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          57206.298          103326.200  2
    END-POINT 164132.759          57206.298          103326.200  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FT7                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164132.759          57206.298          103405.702  2  
    END-POINT 164132.759          57206.298          103326.200  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BUV                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164132.759          57206.298          103408.882  2
    END-POINT 164132.759          57206.298          103405.702  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HY8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
INSTRUMENT
    END-POINT 164132.759          57206.298          103408.882  2  
    END-POINT 164132.759          57206.298          103449.882  2  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HY6                 
    TAG 12E$PSE$0143                    
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164132.759          57206.298          103453.327  2
    END-POINT 164132.759          57206.298          103449.882  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HY9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 164132.759          57206.298          103449.882 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_HYA                 
GAP
    END-POINT 164132.759          57206.298          103449.882  2  
    END-POINT 164132.759          57206.298          103450.147  2  
    PIPING-SPEC CHS
FLANGE
    END-POINT 164132.759          57206.298          103453.327  2  
    END-POINT 164132.759          57206.298          103532.829  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BV0                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          57206.298          103532.829  2
    END-POINT 164132.759          57206.298          103532.829  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FT3                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 164132.759          57206.298          103832.829  2  BW
    END-POINT 164132.759          57206.298          103532.829  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT          11.110
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSK                 
    PIPING-SPEC CHS
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 164132.759  57206.298 103688.814 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 164132.759          57206.298          103832.829  2
    END-POINT 164132.759          57206.298          103832.829  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSL                 
    THICKNESS/RATING SCH 160
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759  57206.298 103756.829  2
    END-POINT 164132.759  57206.298 103756.829  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSO                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759  57206.298 103606.829  2
    END-POINT 164132.759  57206.298 103606.829  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSW                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     164132.759  57206.298 103606.829 
    BRANCH1-POINT 164186.729          57206.298          103606.829  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSV                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164186.729          57206.298          103606.829  0.75
    END-POINT 164186.729          57206.298          103606.829  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSZ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164186.729          57206.298          103606.829  0.75  
    END-POINT 164262.929          57206.298          103606.829  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4_1
    WEIGHT           0.275
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSY                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164262.929          57206.298          103606.829  0.75
    END-POINT 164262.929          57206.298          103606.829  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FT2                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 164262.929          57206.298          103606.829  0.75  SW FEMALE 
    END-POINT 164344.463          57206.298          103606.829  0.75  
    END-POINT 164305.220          57206.298          103566.062  0.5  
    CENTRE-POINT  164305.220          57206.298          103606.829 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FT0                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 164305.220          57206.298          103566.062  0.5  
    END-POINT 164305.220          57206.298          103543.964  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FTA                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 164344.463          57206.298          103606.829  0.75  
    END-POINT 164369.863          57206.298          103606.829  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FTE                 
    PIPING-SPEC CHS
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS 164360.211  57206.298 103606.829 
    UNDIMENSIONED
    TEXT 12E$PIT$0147
OLET
    CENTRE-POINT     164132.759  57206.298 103756.829 
    BRANCH1-POINT 164186.729          57206.298          103756.829  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSN                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164186.729          57206.298          103756.829  0.75
    END-POINT 164186.729          57206.298          103756.829  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSQ                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 164186.729          57206.298          103756.829  0.75  
    END-POINT 164262.929          57206.298          103756.829  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4_1
    WEIGHT           0.275
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSP                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164262.929          57206.298          103756.829  0.75
    END-POINT 164262.929          57206.298          103756.829  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FST                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 164262.929          57206.298          103756.829  0.75  SW FEMALE 
    END-POINT 164344.463          57206.298          103756.829  0.75  
    END-POINT 164305.220          57206.298          103716.062  0.5  
    CENTRE-POINT  164305.220          57206.298          103756.829 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FSR                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 164305.220          57206.298          103716.062  0.5  
    END-POINT 164305.220          57206.298          103693.964  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FT8                 
    PIPING-SPEC CHS
    INSULATION-ON 
MISC-COMPONENT
    END-POINT 164344.463          57206.298          103756.829  0.75  
    END-POINT 164369.863          57206.298          103756.829  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_FTC                 
    PIPING-SPEC CHS
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS 164360.211  57206.298 103756.829 
    UNDIMENSIONED
    TEXT 12E$PIT$0146
REDUCER-CONCENTRIC
    END-POINT 164132.759          57206.298          103832.829  2  BW
    END-POINT 164132.759          57206.298          103997.929  1  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON2X1
    WEIGHT           1.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BV6                 
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 164132.759          57206.298          103997.929  1
    END-POINT 164132.759          57206.298          103997.929  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BV7                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 164132.759          57206.298          104018.567  1  
    END-POINT 164132.759          57206.298          103997.929  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           1.820
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BV8                 
    PIPING-SPEC CHS
    INSULATION-ON 
GASKET
    END-POINT 164132.759          57206.298          104018.567  1
    END-POINT 164132.759          57206.298          104021.742  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BV9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 164132.759          57206.298          104021.742 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.660
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVA                 
INSTRUMENT-ANGLE
    END-POINT 164132.759          57206.298          104021.742  1  
    END-POINT 164247.059          57206.298          104126.390  2  
    CENTRE-POINT  164132.759          57206.298          104126.390 
    SKEY RAFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BVB                 
    TAG 12E$PSV$0144                    
    PIPING-SPEC CHS
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 164250.239          57206.298          104126.390  2
    END-POINT 164247.059          57206.298          104126.390  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_GZH                 
    PIPING-SPEC ACV
    INSULATION-ON 
    GASKET-RATING CL150          
FLANGE
    END-POINT 164250.239          57206.298          104126.390  2  
    END-POINT 164313.739          57206.298          104126.390  2  
    SKEY FLWN
    CONTINUATION 
    WEIGHT           2.720
    UNIQUE-COMPONENT-IDENTIFIER AT_FNEU5UE1_BJM                 
    PIPING-SPEC ACV
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 164313.739          57206.298          104126.390 
    PIPELINE-REFERENCE C210-4910-12E-RP-0014-PRM-0009-01
MATERIALS
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING CL800
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING SCH XXS
ITEM-CODE SOL2X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 160, NACE
    RATING SCH 160
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING CL600
    RATING 160
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 15.875
    BOLT_LEN 107.95
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING CL600
ITEM-CODE VALVBAL2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING CL600
ITEM-CODE 90LLR2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 160, NACE
    RATING SCH 160
ITEM-CODE SUPEB-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION BASE SUPPORT H=558mm BS01-2
ITEM-CODE N/A_1
    BOLT_DIA 15.875
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 6 1/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE NIPP3/4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE SWGCON2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC BLE x PSE, A234-WPB, SCH 160, NACE
    RATING 160
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT1
    BOLT_DIA 15.875
    BOLT_LEN 90
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 3 1/2 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
