ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0005-PRM-0008-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0008.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-FG-0005-PRM-0008-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-FG-0053-2"
    ATTRIBUTE83   12E-FG-0063-1/2"
    ATTRIBUTE84   C210-4902-12E-0011-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0005-1"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 246612.004          71239.772          104323.646  0.75  
    END-POINT 246612.004          71239.772          104352.221  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6I                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 246612.004  71239.772 104337.933 
    UNDIMENSIONED
    TEXT 12E$PIT$1114
VALVE
    END-POINT 246612.004          71239.772          104240.653  0.75  SW FEMALE 
    END-POINT 246612.004          71239.772          104323.646  0.75  
    CENTRE-POINT  246612.004          71239.772          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6F                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 246612.004          71239.772          104240.653  0.75
    END-POINT 246612.004          71239.772          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6G                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 246612.004          71239.772          104139.053  0.75  
    END-POINT 246612.004          71239.772          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D68                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 246612.004          71239.772          104139.053  0.75
    END-POINT 246612.004          71239.772          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D69                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 246589.652          71239.772          104116.701  1  
    END-POINT 246634.356          71239.772          104116.701  1  
    CENTRE-POINT  246612.004          71239.772          104116.701 
    BRANCH1-POINT 246612.004          71239.772          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 246589.652          71239.772          104116.701  1
    END-POINT 246589.652          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 246634.356          71239.772          104116.701  1
    END-POINT 246634.356          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 246759.756          71239.772          104116.701  1  PL
    END-POINT 246634.356          71239.772          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGF                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 246759.756          71239.772          104116.701  1
    END-POINT 246759.756          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 246759.756          71239.772          104116.701  1  
    END-POINT 246804.460          71239.772          104116.701  1  
    CENTRE-POINT  246782.108          71239.772          104116.701 
    BRANCH1-POINT 246782.108          71239.772          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 246804.460          71239.772          104116.701  1
    END-POINT 246804.460          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DO7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 246782.108          71239.772          104139.053  0.75
    END-POINT 246782.108          71239.772          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6B                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 246782.108          71239.772          104139.053  0.75  
    END-POINT 246782.108          71239.772          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6A                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 246782.108          71239.772          104240.653  0.75
    END-POINT 246782.108          71239.772          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6D                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 246782.108          71239.772          104240.653  0.75  SW FEMALE 
    END-POINT 246782.108          71239.772          104323.646  0.75  
    CENTRE-POINT  246782.108          71239.772          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6C                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 246782.108          71239.772          104323.646  0.75  
    END-POINT 246782.108          71239.772          104352.221  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6K                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 247329.860          71239.772          104116.701  1  PL
    END-POINT 246804.460          71239.772          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DO5                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 247227.033  71239.772 104116.701 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS 247000.000  71239.772 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DO9                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 247329.860          71239.772          104116.701  1
    END-POINT 247329.860          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DO6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 247329.860          71239.772          104116.701  1  
    END-POINT 247374.564          71239.772          104116.701  1  
    CENTRE-POINT  247352.212          71239.772          104116.701 
    BRANCH1-POINT 247352.212          71239.772          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DB8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 247374.564          71239.767          104116.701  1
    END-POINT 247374.564          71239.767          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DBA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 247352.212          71239.772          104139.053  0.75
    END-POINT 247352.212          71239.772          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DHF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 247352.212          71239.772          104139.053  0.75  
    END-POINT 247352.212          71239.772          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DHE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 247352.212          71239.772          104240.653  0.75
    END-POINT 247352.212          71239.772          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DHL                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 247352.212          71239.772          104240.653  0.75  SW FEMALE 
    END-POINT 247352.212          71239.772          104324.666  0.75  
    CENTRE-POINT  247352.212          71239.772          104283.453 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DHG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 247352.212          71239.772          104324.666  0.75  
    END-POINT 247352.212          71239.772          104353.241  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DHI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 247352.212  71239.772 104338.953 
    TEXT CONT. ON LINE 12E-FG-0147-1/2"-EY
    UNDIMENSIONED
PIPE
    END-POINT 247374.564          71239.767          104116.701  1  PL
    END-POINT 248299.115          71239.746          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DB9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 248299.115          71239.746          104116.701  1
    END-POINT 248299.115          71239.746          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DBB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 248299.115          71239.752          104116.701  1  
    END-POINT 248321.447          71262.124          104116.701  1  
    CENTRE-POINT  248321.467          71239.772          104116.701 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1I                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 248321.434          71262.124          104116.701  1
    END-POINT 248321.434          71262.124          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D3A                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 248321.469          71549.403          104116.701  1  PL
    END-POINT 248321.434          71262.124          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D38                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 248321.469          71549.403          104116.701  1
    END-POINT 248321.469          71549.403          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D39                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 248321.467          71594.107          104116.701  1  
    END-POINT 248321.467          71549.403          104116.701  1  
    CENTRE-POINT  248321.467          71571.755          104116.701 
    BRANCH1-POINT 248321.467          71571.755          104094.349  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D37                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 248321.467          71594.107          104116.701  1
    END-POINT 248321.467          71594.107          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 248321.467          71571.755          104094.349  0.75
    END-POINT 248321.467          71571.755          104094.349  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 248321.467          71571.755          104094.349  0.75  
    END-POINT 248321.467          71571.755          103992.749  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6N                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 248321.467          71571.755          103992.749  0.75
    END-POINT 248321.467          71571.755          103992.749  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6Q                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 248321.467          71571.755          103992.749  0.75  SW FEMALE 
    END-POINT 248321.467          71571.755          103909.757  0.75  
    CENTRE-POINT  248321.467          71571.755          103950.459 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6P                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 248321.467          71571.755          103909.757  0.75  
    END-POINT 248321.467          71571.755          103881.182  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D6S                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 248321.467          72308.880          104116.701  1  PL
    END-POINT 248321.467          71594.107          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 248321.467          72308.880          104116.701  1
    END-POINT 248321.467          72308.880          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOB                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 248321.467          72308.880          104116.701  1  
    END-POINT 248321.467          72410.480          104116.701  1  
    CENTRE-POINT  248321.467          72359.680          104116.701 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           4.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGC                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 248321.467          72410.480          104116.701  1
    END-POINT 248321.467          72410.480          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DO3                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 248321.467          73010.880          104116.701  1  PL
    END-POINT 248321.467          72410.480          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DO1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 248321.467  72800.000 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DO4                 
    TAG                         S01-A-3-1                       
    ADDITIONAL-ITEM
    SIZE  1
    FABRICATION-ITEM
    ITEM-CODE G21
    QUANTITY 1
    ITEM-GROUP SUPP
WELD
    END-POINT 248321.467          73010.880          104116.701  1
    END-POINT 248321.467          73010.880          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DO2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 248321.467          73010.880          104116.701  1  
    END-POINT 248321.467          73023.580          104116.701  1  
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 248321.467          73023.580          104116.701  1
    END-POINT 248321.467          73023.580          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HOT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT 248321.467          73023.580          104116.701  1  
    END-POINT 248321.467          73112.480          104116.701  0.5  
    SKEY CSSW
    FABRICATION-ITEM
    ITEM-CODE SWGCON1X1/2
    WEIGHT           0.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HOS                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 248321.467  73102.830 104116.701 
    TEXT CONT. ON LINE 12E-FG-0063-1/2"-EY
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS 248321.467          73112.480          104116.701 
PIPE
    END-POINT 246589.652          71239.772          104116.701  1  PL
    END-POINT 246414.252          71239.772          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 246414.252          71239.772          104116.701  1
    END-POINT 246414.252          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOM                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 246379.454          71239.772          104116.701  1  
    END-POINT 246414.252          71239.772          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 246379.454          71239.772          104116.701  1
    END-POINT 246375.390          71239.772          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOJ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 246375.390          71239.772          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOK                 
INSTRUMENT
    END-POINT 246121.390          71239.772          104116.701  1  
    END-POINT 246375.390          71239.772          104116.701  1  
    CENTRE-POINT  246248.390          71239.772          104116.701 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOF                 
    TAG 12E$FV$1114                     
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 246121.390          71239.772          104116.701  1
    END-POINT 246117.326          71239.772          104116.701  1
    FABRICATION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 1500LB         
BOLT
    CO-ORDS 246121.390          71239.772          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           5.000
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOH                 
FLANGE
    END-POINT 246117.326          71239.772          104116.701  1  
    END-POINT 246082.528          71239.772          104116.701  1  
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           4.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOD                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 246082.528          71239.772          104116.701  1
    END-POINT 246082.528          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DOE                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 246082.528          71239.772          104116.701  1  PL
    END-POINT 245940.597          71239.772          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1J                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 245940.597          71239.772          104116.701  1
    END-POINT 245940.597          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D1K                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 245940.597          71239.772          104116.701  1  
    END-POINT 245895.893          71239.772          104116.701  1  
    CENTRE-POINT  245918.245          71239.772          104116.701 
    BRANCH1-POINT 245918.245          71239.772          104139.053  0.75  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DGI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 245895.893          71239.772          104116.701  1
    END-POINT 245895.893          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 245918.245          71239.772          104139.053  0.75
    END-POINT 245918.245          71239.772          104139.053  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D63                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 245918.245          71239.772          104139.053  0.75  
    END-POINT 245918.245          71239.772          104240.653  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D62                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 245918.245          71239.772          104240.653  0.75
    END-POINT 245918.245          71239.772          104240.653  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D65                 
    THICKNESS/RATING 1500LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 245918.245          71239.772          104240.653  0.75  SW FEMALE 
    END-POINT 245918.245          71239.772          104323.646  0.75  
    CENTRE-POINT  245918.245          71239.772          104282.943 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_D64                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE
    CO-ORDS 245918.245  71239.772 104337.933 
    TEXT CONT. ON LINE 12E-FG-0147-1/2"-EY
    UNDIMENSIONED
MISC-COMPONENT
    END-POINT 245918.245          71239.772          104323.646  0.75  
    END-POINT 245918.245          71239.772          104352.221  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DCN                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 245918.245          71239.772          104352.221 
PIPE
    END-POINT 245568.728          71239.772          104116.701  1  BW
    END-POINT 245895.893          71239.772          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLH                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 245568.728          71239.772          104116.701  1
    END-POINT 245568.728          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HM4                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 245479.828          71239.772          104116.701  1  
    END-POINT 245568.728          71239.772          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HM3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS 245502.053          71239.772          104181.726  0.5
GASKET
    END-POINT 245479.818          71239.772          104116.701  1
    END-POINT 245479.828          71239.772          104116.701  1
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HM7                 
    PIPING-SPEC DL
    INSULATION-ON 
    GASKET-RATING CL1500         
BOLT
    CO-ORDS 245479.818          71239.772          104116.701 
    BOLT-DIA           0.875
    BOLT-QUANTITY               4
    BOLT-LENGTH           6.250
    WEIGHT           3.280
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HM8                 
WELD
    END-POINT 245502.053          71239.772          104181.726  0.5
    END-POINT 245502.053          71239.772          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HMF                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  245502.053          71239.772          104181.726 
    BRANCH1-POINT 245502.053          71239.772          104257.926  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.148
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 245502.053          71239.772          104257.926  0.5
    END-POINT 245502.053          71239.772          104257.926  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLV                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 245502.053          71239.772          104257.926  0.5  SW FEMALE 
    END-POINT 245502.053          71239.772          104345.052  0.5  
    CENTRE-POINT  245502.053          71239.772          104303.776 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLU                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 245502.053          71239.772          104345.052  0.5  
    END-POINT 245502.053          71239.772          104367.150  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 245502.053          71239.772          104367.150 
INSTRUMENT
    END-POINT 245479.818          71239.772          104116.701  1  FL
    END-POINT 245466.818          71239.772          104116.701  1  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HM5                 
    TAG 12E$FE$1114                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 245466.818          71239.772          104116.701  1
    END-POINT 245466.818          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HMA                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
FLANGE
    END-POINT 245466.818          71239.772          104116.701  1  
    END-POINT 245377.918          71239.772          104116.701  1  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HM9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS 245444.593          71239.772          104181.726  0.5
WELD
    END-POINT 245377.918          71239.772          104116.701  1
    END-POINT 245377.918          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HMB                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 245444.593          71239.772          104181.726  0.5
    END-POINT 245444.593          71239.772          104181.726  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HME                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT  245444.593          71239.772          104181.726 
    BRANCH1-POINT 245444.593          71239.772          104334.126  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLO                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 245444.593          71239.772          104334.126  0.5
    END-POINT 245444.593          71239.772          104334.126  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLR                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 245444.593          71239.772          104334.126  0.5  SW FEMALE 
    END-POINT 245444.593          71239.772          104421.252  0.5  
    CENTRE-POINT  245444.593          71239.772          104379.976 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HLQ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT 245444.593          71239.772          104421.252  0.5  
    END-POINT 245444.593          71239.772          104443.350  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HM1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 245444.593          71239.772          104443.350 
PIPE
    END-POINT 245377.918          71239.772          104116.701  1  BW
    END-POINT 243795.892          71239.772          104116.701  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ET8                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 244000.000  71239.772 104116.701  1
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DQC                 
    TAG                         S01-A-3-1                       
WELD
    END-POINT 243795.892          71239.772          104116.701  1
    END-POINT 243795.892          71239.772          104116.701  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HL7                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 243795.892          71239.772          104116.701  1  
    END-POINT 243773.540          71239.772          104139.053  1  
    CENTRE-POINT  243773.540          71239.772          104116.701 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ETA                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 243773.540          71239.772          104139.053  1
    END-POINT 243773.540          71239.772          104139.053  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HK2                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 243773.540          71239.772          104139.053  1  PL
    END-POINT 243773.540          71239.772          104624.805  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HK1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 243773.540          71239.772          104624.805  1
    END-POINT 243773.540          71239.772          104624.805  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HNN                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 243773.540          71239.772          104624.805  1  
    END-POINT 243773.540          71239.772          104719.805  1  
    CENTRE-POINT  243773.540          71239.772          104672.305 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HNM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 243773.540          71239.772          104719.805  1
    END-POINT 243773.540          71239.772          104719.805  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HNR                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 243773.540          71239.772          104719.805  1  PL
    END-POINT 243773.540          71239.772          104820.005  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HNQ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 243773.540          71239.772          104820.005  1
    END-POINT 243773.540          71239.772          104820.005  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HNY                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
TEE
    END-POINT 243773.540          71239.772          104820.005  1  
    END-POINT 243773.540          71239.772          104864.705  1  
    CENTRE-POINT  243773.540          71239.772          104842.355 
    BRANCH1-POINT 243748.140          71239.772          104842.355  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HNW                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 243773.540          71239.772          104864.705  1
    END-POINT 243773.540          71239.772          104864.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HO2                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 243748.140          71239.772          104842.355  0.5
    END-POINT 243748.140          71239.772          104842.355  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HOH                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
COUPLING
    END-POINT 243748.140          71239.772          104842.355  0.5  
    END-POINT 243646.540          71239.772          104842.355  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HOG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 243646.540          71239.772          104842.355  0.5
    END-POINT 243646.540          71239.772          104842.355  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HOJ                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 243646.540          71239.772          104842.355  0.5  SW FEMALE 
    END-POINT 243559.414          71239.772          104842.355  0.5  
    CENTRE-POINT  243600.690          71239.772          104842.355 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HOI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
MISC-COMPONENT
    END-POINT 243559.414          71239.772          104842.355  0.5  
    END-POINT 243537.316          71239.772          104842.355  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HOM                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    END-POSITION-CLOSED 
    CO-ORDS 243537.316          71239.772          104842.355 
PIPE
    END-POINT 243773.540          71239.772          104864.705  1  PL
    END-POINT 243773.540          71239.772          104964.905  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HO1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 243773.540          71239.772          104964.905  1
    END-POINT 243773.540          71239.772          104964.905  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HO4                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
VALVE
    END-POINT 243773.540          71239.772          104964.905  1  
    END-POINT 243773.540          71239.772          105059.905  1  
    CENTRE-POINT  243773.540          71239.772          105012.405 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HO3                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
WELD
    END-POINT 243773.540          71239.772          105059.905  1
    END-POINT 243773.540          71239.772          105059.905  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HOF                 
    THICKNESS/RATING CL1500
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 243773.540          71239.772          105890.474  1  PL
    END-POINT 243773.540          71239.772          105059.905  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HL4                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 243773.540          71239.772          105890.474  1
    END-POINT 243773.540          71239.772          105890.474  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HL5                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 243773.540          71262.124          105912.826  1  
    END-POINT 243773.540          71239.772          105890.474  1  
    CENTRE-POINT  243773.540          71239.772          105912.826 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HKZ                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 243773.540          71262.124          105912.826  1
    END-POINT 243773.540          71262.124          105912.826  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HL2                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 243773.540          71262.124          105912.826  1  PL
    END-POINT 243773.540          72284.836          105912.826  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HL1                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 243773.540          72284.836          105912.826  1
    END-POINT 243773.540          72284.836          105912.826  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_HL3                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
ELBOW
    END-POINT 243773.540          72307.188          105935.178  1  
    END-POINT 243773.540          72284.836          105912.826  1  
    CENTRE-POINT  243773.540          72307.188          105912.826 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ETR                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 243773.540          72307.188          105935.178  1
    END-POINT 243773.540          72307.188          105935.178  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_ETT                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 243773.540          72307.188          106329.363  1  PL
    END-POINT 243773.540          72307.188          105935.178  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_DCE                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 243773.540          72307.188          106329.363  1
    END-POINT 243773.540          72307.188          106329.363  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3R                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
OLET
    CENTRE-POINT     243773.540  72307.188 106380.163 
    BRANCH1-POINT 243773.540          72307.188          106329.363  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_F3P                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 243773.540  72307.188 106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0008-01
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING 1500LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING 160
ITEM-CODE TEERED1X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A333-6, SCH 80
    RATING 80
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING 3000LB
ITEM-CODE SUPTS-1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-1
ITEM-CODE G21
    DESCRIPTION HOLD DOWN GUIDE FOR SHOE G21
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A350-LF2 CL1, CL3000
    RATING 3000LB
ITEM-CODE VALVCHK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION CHECK VALVE LIFT SW, A350-LF2, CL1500  , CH-1514L
    RATING 1500LB
ITEM-CODE CPL1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION FULL CPLG, SW, A350 GR.LF2 CL.1, 3000LB, ASME B16.11
    RATING 3000LB
ITEM-CODE SWGCON1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG KEDCO
    DESCRIPTION SWAGE CONC PBE, A420-WPL6, SCH 160
    RATING SCH 160
ITEM-CODE FLG1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE SW RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE
    RATING 1500LB
    RATING 80
ITEM-CODE GAS1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RTJ, CL1500, 316SS OVAL RING
    RATING 1500LB
ITEM-CODE BOLT1
    BOLT_DIA 22.225
    BOLT_LEN 130
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING 1500LB
ITEM-CODE FLGWNK1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RTJ, CL1500, A350-LF2 CL1, SCH 80 BORE, w/ 1/2" SW TAPS - OOS
    RATING CL1500
    RATING SCH 80
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 x 6 1/4 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS - OOS
    RATING CL1500
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 3" LG
    RATING SCH 160
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW x THD, A350-LF2 CL1, CL1500  , GA-1515L
    RATING CL1500
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 6" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A350-LF2 CL1, CL1500  , GA-1514L
    RATING CL1500
ITEM-CODE TEESTR1X1/2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A350-LF2 CL1, CL3000
    RATING CL3000
ITEM-CODE NIPP1/2_2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A333-6, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX THD, A350-LF2 CL1
    RATING CL3000
