ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0001-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   6
    ATTRIBUTE34   C210-4910-12E-PE-0033-PRM-0001-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   HEADER #2 
    ATTRIBUTE83   12E-PE-0030-8"
    ATTRIBUTE84   C210-4902-12E-0006-01
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0033-6"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 215694.336          69112.461          103679.138  6  BW
    END-POINT 227000.000          69112.461          103679.138  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_F0M                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 222000.283  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DPW                 
    TAG                         S01-B-4-6                       
SUPPORT
    CO-ORDS 216000.211  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DPU                 
    TAG                         S01-B-4-6                       
SUPPORT
    CO-ORDS 225000.000  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_F11                 
    TAG                         S01-B-4-6                       
WELD
    END-POINT 215694.336          69112.461          103679.138  6
    END-POINT 215694.336          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DVF                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 227000.000          69112.461          103679.138  6
    END-POINT 227000.000          69112.461          103679.138  6
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FZ6                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 227000.000          69112.461          103679.138  6  
    END-POINT 227000.000          69112.461          103679.138  6  
    CONTINUATION 
    MESSAGE This is a GAP 
PIPE
    END-POINT 229421.400          69112.461          103679.138  6  
    END-POINT 227000.000          69112.461          103679.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 229000.000  69112.461 103679.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GX271Y6C_FY7                 
    TAG                         S01-B-4-6                       
END-CONNECTION-PIPELINE 
    CO-ORDS 229421.400          69112.461          103679.138 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0008-01
TEE
    END-POINT 215694.336          69112.461          103679.138  6  
    END-POINT 215408.840          69112.461          103679.138  6  
    CENTRE-POINT  215551.588          69112.461          103679.138 
    BRANCH1-POINT 215551.588          69112.461          103809.186  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_830                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 215408.840          69112.461          103679.138  6
    END-POINT 215408.840          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DPA                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 215551.588          69112.461          103809.186  4
    END-POINT 215551.588          69112.461          103809.186  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DP4                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 215551.588          69112.461          103809.186  4  
    END-POINT 215551.588          69112.461          103909.186  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DP3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 215551.588          69112.461          103909.186 
    PIPELINE-REFERENCE C210-4910-12E-PE-0005-PRM-0001-05
PIPE
    END-POINT 215408.840          69112.461          103679.138  6  BW
    END-POINT 214192.685          69112.461          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DP9                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 214192.685          69112.461          103679.138  6
    END-POINT 214192.685          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_DPB                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 213907.189          69112.461          103679.138  6  
    END-POINT 214192.685          69112.461          103679.138  6  
    CENTRE-POINT  214049.937          69112.461          103679.138 
    BRANCH1-POINT 214049.937          69112.461          103809.186  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED6X4
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_CR2                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 213907.189          69112.461          103679.138  6
    END-POINT 213907.189          69112.461          103679.138  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_CR4                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 214049.937          69112.461          103809.186  4
    END-POINT 214049.937          69112.461          103809.186  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EMO                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 214049.937          69112.461          103909.186  4  
    END-POINT 214049.937          69112.461          103809.186  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EMM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 214049.937          69112.461          103909.186 
    PIPELINE-REFERENCE C210-4910-12E-CG-0004-PRM-0001-01
PIPE
    END-POINT 213907.189          69112.461          103679.138  6  BW
    END-POINT 202592.285          69112.461          103679.138  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_CA8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 208756.335  69112.461 103679.138 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 204000.303  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_CZQ                 
    TAG                         S01-B-3-6                       
SUPPORT
    CO-ORDS 209999.856  69112.461 103679.138  6
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_CZS                 
    TAG                         S01-B-3-6                       
WELD
    END-POINT 202592.285          69112.461          103679.138  6
    END-POINT 202592.285          69112.461          103679.138  6
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EUN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 202592.285          69112.461          103679.138  6  
    END-POINT 187707.686          69112.461          103679.138  6  
    CONTINUATION 
    WEIGHT          42.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B2G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 188000.001  69112.461 103679.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B2H                 
    TAG                         S01-B-3-6                       
SUPPORT
    CO-ORDS 194000.001  69112.461 103679.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B2I                 
    TAG                         S01-B-6-6                       
SUPPORT
    CO-ORDS 200000.000  69112.461 103679.138  6
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B2K                 
    TAG                         S01-B-3-6                       
FLOW-ARROW
    CO-ORDS 197375.072  69112.461 103679.138 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 187707.686          69112.461          103679.138 
    PIPELINE-REFERENCE C210-4910-12E-PE-0033-PRM-0002-01
MATERIALS
ITEM-CODE PIP6
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-6
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-4-6
ITEM-CODE TEERED6X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-6_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-B-3-6
