ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0019-PRM-0001-01
PIPING-SPEC AH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0001.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   1
    ATTRIBUTE34   C210-4910-12E-S-0019-PRM-0001-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE78   Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0017-2"
    ATTRIBUTE83   12E-US-001 STN
    ATTRIBUTE84   C210-4902-12E-0012-03
    ATTRIBUTE88   N
    ATTRIBUTE89   5
    ATTRIBUTE96   AH
    ATTRIBUTE95   12E-S-0019-1"-AH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
COUPLING
    END-POINT 211673.692          72471.022          103409.390  1  
    END-POINT 211673.692          72471.022          103510.990  1  
    SKEY NRSC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYO                 
    PIPING-SPEC AH
    INSULATION-ON 
MESSAGE
    CO-ORDS 211673.692  72471.022 103496.260 
    TEXT CONN. TO 12E-SP-095
    UNDIMENSIONED
MESSAGE
    CO-ORDS 211673.692  72471.022 103496.260 
    TEXT CONT.ON$12E-US-001
    UNDIMENSIONED
WELD
    END-POINT 211673.692          72471.022          103409.390  1
    END-POINT 211673.692          72471.022          103409.390  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYR                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS 211673.692          72471.022          103510.990 
VALVE
    END-POINT 211673.692          72471.022          103345.790  1  
    END-POINT 211673.692          72471.022          103409.390  1  
    CENTRE-POINT  211673.692          72471.022          103377.590 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYS                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 211673.692          72471.022          103345.790  1
    END-POINT 211673.692          72471.022          103345.790  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYU                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 211673.692          72471.022          103120.390  1  PL
    END-POINT 211673.692          72471.022          103345.790  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYV                 
    PIPING-SPEC AH
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS 211673.692  72471.022 103246.649 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT 211673.692          72471.022          103120.390  1
    END-POINT 211673.692          72471.022          103120.390  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYX                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
VALVE
    END-POINT 211673.692          72471.022          103056.790  1  
    END-POINT 211673.692          72471.022          103120.390  1  
    CENTRE-POINT  211673.692          72471.022          103088.590 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FYY                 
    PIPING-SPEC AH
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 211673.692          72471.022          103056.790  1
    END-POINT 211673.692          72471.022          103056.790  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FZL                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
PIPE
    END-POINT 211673.692          72471.022          103056.790  1  PL
    END-POINT 211673.692          72471.022          102880.962  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FZK                 
    PIPING-SPEC AH
    INSULATION-ON 
WELD
    END-POINT 211673.692          72471.022          102880.962  1
    END-POINT 211673.692          72471.022          102880.962  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_FZM                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC AH
    INSULATION-ON 
OLET
    CENTRE-POINT     211673.692  72471.022 102830.162 
    BRANCH1-POINT 211673.692          72471.022          102880.962  1  
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIZ2H2XE_EH5                 
    PIPING-SPEC AH
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 211673.692  72471.022 102830.162 
    PIPELINE-REFERENCE C210-4910-12E-S-0017-PRM-0001-01
MATERIALS
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING 800LB
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING 800LB
