ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-S-0031-PRM-0002-01
PIPING-SPEC CH
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   3
    ATTRIBUTE34   C210-4910-12E-S-0031-PRM-0002-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   40
    ATTRIBUTE72   1.6
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE78   Trace low pts only Slugging
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-S-0009-6"
    ATTRIBUTE83   12E-WI-3001 (TOE)
    ATTRIBUTE84   C210-4902-12E-0001-03
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   CH
    ATTRIBUTE95   12E-S-0031-3"-CH
    ATTRIBUTE97   S
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 187661.006          72326.776          103897.945  1  
    END-POINT 187661.006          72326.776          103867.783  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BAR                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 187661.006  72326.776 103880.483 
    TEXT HEAT TRACING AT$LOW POINT DRAIN
    UNDIMENSIONED
VALVE
    END-POINT 187661.006          72326.776          103977.763  1  SW FEMALE 
    END-POINT 187661.006          72326.776          103897.945  1  
    CENTRE-POINT  187661.006          72326.776          103935.473 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BAO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 187661.006          72326.776          103977.763  1
    END-POINT 187661.006          72326.776          103977.763  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BAN                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 187661.006          72326.776          104079.363  1  
    END-POINT 187661.006          72326.776          103977.763  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BAM                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187661.006          72326.776          104079.363  1
    END-POINT 187661.006          72326.776          104079.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BAL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     187661.006  72326.776 104144.450 
    BRANCH1-POINT 187661.006          72326.776          104079.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BAK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 187661.006  72326.776 104144.450  3
    END-POINT 187661.006  72326.776 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 188565.025          72326.776          104144.450  3  BW
    END-POINT 187561.016          72326.776          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7J                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 188000.000  72326.776 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7M                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 188000.000  72326.776 104144.450  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BSX                 
    TAG                         RP02-3-3                        
WELD
    END-POINT 188565.025          72326.776          104144.450  3
    END-POINT 188565.025          72326.776          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGN                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 187561.016          72326.776          104144.450  3
    END-POINT 187561.016          72326.776          104144.450  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7I                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 188367.480  72326.776 104144.450  3
    END-POINT 188367.480  72326.776 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7P                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 187421.316          72326.776          104184.138  6  
    END-POINT 187561.016          72326.776          104144.450  3  
    SKEY REBW
    CONTINUATION 
    WEIGHT           5.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7H                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
END-CONNECTION-PIPELINE 
    CO-ORDS 187421.316          72326.776          104184.138 
    PIPELINE-REFERENCE C210-4910-12E-S-0009-PRM-0002-01
OLET
    CENTRE-POINT     188367.480  72326.776 104144.450 
    BRANCH1-POINT 188367.480          72326.776          104079.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7Q                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188367.480          72326.776          104079.363  1
    END-POINT 188367.480          72326.776          104079.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7R                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 188367.480          72326.776          104079.363  1  PL
    END-POINT 188367.480          72326.776          103925.663  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7S                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188367.480          72326.776          103925.663  1
    END-POINT 188367.480          72326.776          103925.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CD6                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 188367.480          72326.776          103840.663  1  
    END-POINT 188367.480          72326.776          103925.663  1  
    CENTRE-POINT  188367.480          72326.776          103883.163 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CD2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 188367.480          72326.776          103840.663  1
    END-POINT 188367.480          72326.776          103840.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CD3                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 188367.480          72326.776          103840.663  1  PL
    END-POINT 188367.480          72326.776          103714.963  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7X                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188367.480          72326.776          103714.963  1
    END-POINT 188367.480          72326.776          103714.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7Y                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 188367.480          72326.776          103714.963  1  
    END-POINT 188389.832          72326.776          103692.611  1  
    CENTRE-POINT  188367.480          72326.776          103692.611 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B7Z                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 188389.832          72326.776          103692.611  1
    END-POINT 188389.832          72326.776          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B80                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 188389.832          72326.776          103692.611  1  PL
    END-POINT 188545.232          72326.776          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B81                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188545.232          72326.776          103692.611  1
    END-POINT 188545.232          72326.776          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CG8                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
TEE
    END-POINT 188545.232          72326.776          103692.611  1  
    END-POINT 188589.932          72326.776          103692.611  1  
    CENTRE-POINT  188567.582          72326.776          103692.611 
    BRANCH1-POINT 188567.582          72326.776          103667.211  0.5  
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CG6                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 188589.932          72326.776          103692.611  1
    END-POINT 188589.932          72326.776          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CG9                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 188567.582          72326.776          103667.211  0.5
    END-POINT 188567.582          72326.776          103667.211  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGA                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 188567.582          72326.776          103667.211  0.5  
    END-POINT 188567.582          72326.776          103565.611  0.5  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.198
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFX                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188567.582          72326.776          103565.611  0.5
    END-POINT 188567.582          72326.776          103565.611  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFZ                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 188567.582          72326.776          103565.611  0.5  SW FEMALE 
    END-POINT 188567.582          72326.776          103509.485  0.5  
    CENTRE-POINT  188567.582          72326.776          103535.261 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CDO                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MESSAGE
    CO-ORDS 188567.582  72326.776 103535.261 
    TEXT HEAT TRACING AT$LOW POINT DRAIN
    UNDIMENSIONED
MISC-COMPONENT
    END-POINT 188567.582          72326.776          103509.485  0.5  
    END-POINT 188567.582          72326.776          103487.387  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 188947.720          72326.776          103692.611  1  PL
    END-POINT 188589.932          72326.776          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8C                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188947.720          72326.776          103692.611  1
    END-POINT 188947.720          72326.776          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CDB                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 189032.720          72326.776          103692.611  1  
    END-POINT 188947.720          72326.776          103692.611  1  
    CENTRE-POINT  188990.220          72326.776          103692.611 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CD7                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 189032.720          72326.776          103692.611  1
    END-POINT 189032.720          72326.776          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CD8                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 189261.878          72326.776          103692.611  1  PL
    END-POINT 189032.720          72326.776          103692.611  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8H                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189261.878          72326.776          103692.611  1
    END-POINT 189261.878          72326.776          103692.611  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8I                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 189284.230          72326.776          103714.963  1  
    END-POINT 189261.878          72326.776          103692.611  1  
    CENTRE-POINT  189284.230          72326.776          103692.611 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8J                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 189284.230          72326.776          103714.963  1
    END-POINT 189284.230          72326.776          103714.963  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8K                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 189284.230          72326.776          103840.663  1  PL
    END-POINT 189284.230          72326.776          103714.963  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8L                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189284.230          72326.776          103840.663  1
    END-POINT 189284.230          72326.776          103840.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CDD                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 189284.230          72326.776          103840.663  1  
    END-POINT 189284.230          72326.776          103925.663  1  
    CENTRE-POINT  189284.230          72326.776          103883.163 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1_1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CDC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 189284.230          72326.776          103925.663  1
    END-POINT 189284.230          72326.776          103925.663  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CDG                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 189284.230          72326.776          104079.363  1  PL
    END-POINT 189284.230          72326.776          103925.663  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8Q                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189284.230          72326.776          104079.363  1
    END-POINT 189284.230          72326.776          104079.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8R                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     189284.230  72326.776 104144.450 
    BRANCH1-POINT 189284.230          72326.776          104079.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8S                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189284.230  72326.776 104144.450  3
    END-POINT 189284.230  72326.776 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 189086.185          72326.776          104144.450  3  BW
    END-POINT 191329.874          72326.776          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B8U                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 191000.000  72326.776 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFN                 
    TAG                         S01-A-3-3                       
    ADDITIONAL-ITEM
    SIZE  3
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 191000.000  72326.776 104144.450  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFR                 
    TAG                         RP02-3-3                        
WELD
    END-POINT 189086.185          72326.776          104144.450  3
    END-POINT 189086.185          72326.776          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGO                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 191329.874          72326.776          104144.450  3
    END-POINT 191329.874          72326.776          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B90                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
FLANGE
    END-POINT 191418.774          72326.776          104144.450  3  
    END-POINT 191329.874          72326.776          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_B91                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 191421.954          72326.776          104144.450  3
    END-POINT 191418.774          72326.776          104144.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CF6                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 191421.954          72326.776          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CF7                 
INSTRUMENT
    END-POINT 191421.954          72326.776          104144.450  3  
    END-POINT 191711.954          72326.776          104144.450  3  
    CENTRE-POINT  191566.954          72326.776          104144.450 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CF5                 
    TAG 12E$FE$3101                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 191715.134          72326.776          104144.450  3
    END-POINT 191711.954          72326.776          104144.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CF9                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 191715.134          72326.776          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFA                 
FLANGE
    END-POINT 191715.134          72326.776          104144.450  3  
    END-POINT 191804.034          72326.776          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CF8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 191804.034          72326.776          104144.450  3
    END-POINT 191804.034          72326.776          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFB                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 191804.034          72326.776          104144.450  3  BW
    END-POINT 193366.300          72326.776          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BW2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193366.300          72326.776          104144.450  3
    END-POINT 193366.300          72326.776          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BW4                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 193216.300  72326.776 104144.450  3
    END-POINT 193216.300  72326.776 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BW7                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
WELD
    END-POINT 193066.300  72326.776 104144.450  3
    END-POINT 193066.300  72326.776 104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CF3                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
OLET
    CENTRE-POINT     193066.300  72326.776 104144.450 
    BRANCH1-POINT 193066.300          72326.776          104079.360  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CF1                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193066.300          72326.776          104079.360  1
    END-POINT 193066.300          72326.776          104079.360  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CF4                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 193066.300          72326.776          104079.360  1  
    END-POINT 193066.300          72326.776          103977.760  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BWT                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193066.300          72326.776          103977.760  1
    END-POINT 193066.300          72326.776          103977.760  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BWW                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE
    END-POINT 193066.300          72326.776          103977.760  1  SW FEMALE 
    END-POINT 193066.300          72326.776          103899.510  1  
    CENTRE-POINT  193066.300          72326.776          103935.460 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           3.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BWV                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 193066.300          72326.776          103899.510  1  
    END-POINT 193066.300          72326.776          103870.808  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BWZ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS 193066.300  72326.776 103880.460 
    TEXT HEAT TRACING AT$LOW POINT DRAIN
    UNDIMENSIONED
OLET
    CENTRE-POINT     193216.300  72326.776 104144.450 
    BRANCH1-POINT 193216.300          72326.776          104203.190  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL3X3/4
    WEIGHT           0.160
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BW5                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193216.300          72326.776          104203.190  0.75
    END-POINT 193216.300          72326.776          104203.190  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BWS                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
COUPLING
    END-POINT 193216.300          72326.776          104203.190  0.75  
    END-POINT 193216.300          72326.776          104304.790  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BWK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193216.300          72326.776          104304.790  0.75
    END-POINT 193216.300          72326.776          104304.790  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFG                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CH
    INSULATION-ON 
VALVE-3WAY
    END-POINT 193216.300          72326.776          104304.790  0.75  SW FEMALE 
    END-POINT 193216.300          72326.776          104386.324  0.75  
    END-POINT 193175.533          72326.776          104347.081  0.5  
    CENTRE-POINT  193216.300          72326.776          104347.081 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFE                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 193175.533          72326.776          104347.081  0.5  
    END-POINT 193153.435          72326.776          104347.081  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFJ                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 193216.300          72326.776          104386.324  0.75  
    END-POINT 193216.300          72326.776          104411.724  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CFH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 193216.300  72326.776 104402.072 
    UNDIMENSIONED
    TEXT 12E$PIT$3101
VALVE
    END-POINT 193366.300          72326.776          104144.450  3  
    END-POINT 193721.900          72326.776          104144.450  3  
    CENTRE-POINT  193544.100          72326.776          104144.450 
    SKEY VTBW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BA2                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 45 UP
WELD
    END-POINT 193721.900          72326.776          104144.450  3
    END-POINT 193721.900          72326.776          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BA4                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 194336.646          72326.776          104144.450  3  BW
    END-POINT 193721.900          72326.776          104144.450  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BA5                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 194000.168  72326.776 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BA6                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 194336.646          72326.776          104144.450  3
    END-POINT 194336.646          72326.776          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BA7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
ELBOW
    END-POINT 194336.646          72326.776          104144.450  3  
    END-POINT 194450.946          72441.076          104144.450  3  
    CENTRE-POINT  194450.946          72326.776          104144.450 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           2.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BA8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 194450.946          72441.076          104144.450  3
    END-POINT 194450.946          72441.076          104144.450  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRD                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 194450.946          72441.076          104144.450  3  BW
    END-POINT 194450.946          73094.505          104144.450  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BRC                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 194450.946  72800.000 104144.450  3
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BSV                 
    TAG                         S01-A-3-3                       
WELD
    END-POINT 194450.946          73094.505          104144.450  3
    END-POINT 194450.946          73094.505          104144.450  3
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2PT                 
    THICKNESS/RATING SCH 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CH
    INSULATION-ON 
PIPE
    END-POINT 194450.946          85778.371          104144.450  3  
    END-POINT 194450.946          73094.505          104144.450  3  
    CONTINUATION 
    WEIGHT          11.290
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2P8                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 194450.946  76801.908 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2PE                 
    TAG                         S01-A-3-3                       
SUPPORT
    CO-ORDS 194450.946  81801.908 104144.450  3
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2PG                 
    TAG                         S01-A-6-3                       
FLOW-ARROW
    CO-ORDS 194450.946  75133.363 104144.450 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 194450.946          85778.371          104144.450 
    PIPELINE-REFERENCE C210-4910-12E-S-0031-PRM-0023-01
FLANGE
    END-POINT 188997.285          72326.776          104144.450  3  
    END-POINT 189086.185          72326.776          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGH                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 188997.285          72326.776          104144.450  3
    END-POINT 188994.105          72326.776          104144.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGI                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 188997.285          72326.776          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGJ                 
INSTRUMENT
    END-POINT 188657.105          72326.776          104144.450  3  
    END-POINT 188994.105          72326.776          104144.450  3  
    CENTRE-POINT  188825.605          72326.776          104144.450 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BAF                 
    TAG 12E$FV$3101                     
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 188653.925          72326.776          104144.450  3
    END-POINT 188657.105          72326.776          104144.450  3
    FABRICATION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.210
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGL                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 188653.925          72326.776          104144.450 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           3.354
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGM                 
FLANGE
    END-POINT 188653.925          72326.776          104144.450  3  
    END-POINT 188565.025          72326.776          104144.450  3  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT          10.440
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CGK                 
    PIPING-SPEC CH
    INSULATION-ON 
    TRACING-ON 
MATERIALS
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
    RATING 3000LB
ITEM-CODE VALVGAT1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING 800LB
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE SOL3X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING 3000LB
ITEM-CODE PIP3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 40
    RATING 40
ITEM-CODE SUPTS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-3
ITEM-CODE SUPPS-3
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-3
ITEM-CODE PIP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE PE, SMLS A106-B, SCH 80
    RATING 80
ITEM-CODE VALVGAT1_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GATE VALVE SW, A105N, CL800  , GA-814STW
    RATING CL800
ITEM-CODE 90L1X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11-1991
    DESCRIPTION ELBOW 90 DEG SW, A105N, CL3000
    RATING 3000LB
ITEM-CODE TEESTR1X1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION TEE REDUCING SW, A105N, CL3000
    RATING CL3000
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING SCH 160
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800, GA-815STW
    RATING CL800
ITEM-CODE PLGHEX1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N
ITEM-CODE VALVGLB1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BERIC
    DESCRIPTION GLOBE VALVE SW, A105N, CL800  , GL-804STW
    RATING CL800
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE FLGWNK3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 40 BORE
    RATING 600LB
    RATING 40
ITEM-CODE GAS3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK
    RATING CL600
ITEM-CODE N/A
    BOLT_DIA 19.05
    BOLT_LEN 127
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 3/4 x 5 STUD BOLTS, A193-B7 W/2 EA A194-2H HVY HEX NUTS
    RATING CL600
ITEM-CODE SOL3X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A105N
    RATING CL3000
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH 160, 4" LG
    RATING 160
ITEM-CODE VALV3WY3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, A105N, CL800, DB-805ST
    RATING CL800
ITEM-CODE VALVGAT3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE BW, A105N, CL600, GA-602ST
    RATING 600LB
ITEM-CODE 90LLR3
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 40
    RATING 40
