ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0006-01
PIPING-SPEC DL
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   2
    ATTRIBUTE34   C210-4910-12E-FG-0053-PRM-0006-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   1.6
    ATTRIBUTE73   9930
    ATTRIBUTE74   130
    ATTRIBUTE80   -46
    ATTRIBUTE82   12E-PK-0102
    ATTRIBUTE83   FUEL GAS SUP. HDR.
    ATTRIBUTE84   C210-4902-12E-0013-01
    ATTRIBUTE88   N
    ATTRIBUTE89   10
    ATTRIBUTE96   DL
    ATTRIBUTE95   12E-FG-0053-2"-DL
    ATTRIBUTE97   FG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
OLET
    CENTRE-POINT     115662.349  72307.188 106380.163 
    BRANCH1-POINT 115662.349          72307.188          106329.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DYL                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 115662.349  72307.188 106380.163  2
    END-POINT 115662.349  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DYM                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 115662.349          72307.188          106329.363  1
    END-POINT 115662.349          72307.188          106329.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZB                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 115662.349          72307.188          105942.912  1  
    END-POINT 115662.349          72307.188          106329.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DZ9                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 115662.349          72307.188          105942.912 
    PIPELINE-REFERENCE C210-4910-12E-FG-0024-PRM-0006-01
PIPE
    END-POINT 123600.478          72307.188          106380.163  2  BW
    END-POINT 101590.478          72307.188          106380.163  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DOY                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 122000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP1                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 116000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP3                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 110000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP5                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 104000.000  72307.188 106380.163  2
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DP7                 
    TAG                         S01-A-3-2                       
    ADDITIONAL-ITEM
    SIZE  2
    FABRICATION-ITEM
    ITEM-CODE G11
    QUANTITY 1
    ITEM-GROUP SUPP
FLOW-ARROW
    CO-ORDS 114558.024  72307.188 106380.163 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 123600.478          72307.188          106380.163  2
    END-POINT 123600.478          72307.188          106380.163  2
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_E6H                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 101590.478          72307.188          106380.163  2
    END-POINT 101590.478          72307.188          106380.163  2
    SKEY WS
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_DTW                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
WELD
    END-POINT 113387.772  72307.188 106380.163  2
    END-POINT 113387.772  72307.188 106380.163  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPH                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 138336.500          72307.188          106380.163  2  
    END-POINT 123600.478          72307.188          106380.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_DK7                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 126000.159  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_A57                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 132000.219  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_A58                 
    TAG                         S01-A-3-2                       
SUPPORT
    CO-ORDS 138000.127  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ66ZZI_A59                 
    TAG                         S01-A-3-2                       
FLOW-ARROW
    CO-ORDS 135394.478  72307.188 106380.163 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 138336.500          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0005-01
PIPE
    END-POINT  78186.722          72307.188          106380.163  2  
    END-POINT 101590.478          72307.188          106380.163  2  
    CONTINUATION 
    WEIGHT           7.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D42                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  79000.864  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D46                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS  82000.868  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D4A                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS  88000.868  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D4C                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS 100000.868  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D4G                 
    TAG                         S01-A-4-2                       
SUPPORT
    CO-ORDS  94000.868  72307.188 106380.163  2
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_D4I                 
    TAG                         S01-A-4-2                       
FLOW-ARROW
    CO-ORDS  80729.479  72307.188 106380.163 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  78186.722          72307.188          106380.163 
    PIPELINE-REFERENCE C210-4910-12E-FG-0053-PRM-0007-01
OLET
    CENTRE-POINT     113387.772  72307.188 106380.163 
    BRANCH1-POINT 113387.772          72307.188          106329.363  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPG                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 113387.772          72307.188          106329.363  1
    END-POINT 113387.772          72307.188          106329.363  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPK                 
    THICKNESS/RATING CL3000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC DL
    INSULATION-ON 
PIPE
    END-POINT 113387.772          72307.188          105936.530  1  
    END-POINT 113387.772          72307.188          106329.363  1  
    CONTINUATION 
    WEIGHT           3.240
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPI                 
    PIPING-SPEC DL
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 113387.772          72307.188          105936.530 
    PIPELINE-REFERENCE C210-4910-12E-FG-0025-PRM-0006-01
MATERIALS
ITEM-CODE SOL2X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL3000, A350-LF2 CL1
    RATING CL3000
ITEM-CODE PIP2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A333-6, SCH 80
    RATING SCH 80
ITEM-CODE SUPTS-2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-2
ITEM-CODE G11
    DESCRIPTION GUIDE FOR SHOE G11
