ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0006-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0006.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   8
    ATTRIBUTE34   C210-4910-12E-PE-0034-PRM-0006-01
    ATTRIBUTE70   L/V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   7800
    ATTRIBUTE74   294
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-PE-0035-6"
    ATTRIBUTE83   12E-PE-0030-8"
    ATTRIBUTE84   C210-4902-12E-0006-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-PE-0034-8"-CHS
    ATTRIBUTE97   PE
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
PIPE
    END-POINT 123450.118          69112.809          103704.538  8  BW
    END-POINT 118127.962          69112.809          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CZ1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 122000.000  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CZ2                 
    TAG                         S02-B-4-8                       
FLOW-ARROW
    CO-ORDS 120775.298  69112.809 103704.538 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT 123450.118          69112.809          103704.538  8
    END-POINT 123450.118          69112.809          103704.538  8
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DW5                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 118127.962          69112.809          103704.538  8
    END-POINT 118127.962          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYZ                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS 123450.118          69112.809          103704.538 
TEE
    END-POINT 118127.962          69112.809          103704.538  8  
    END-POINT 117772.362          69112.809          103704.538  8  
    CENTRE-POINT  117950.162          69112.809          103704.538 
    BRANCH1-POINT 117950.162          69112.809          103859.986  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED8X4
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 117772.362          69112.809          103704.538  8
    END-POINT 117772.362          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYX                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 117950.162          69112.809          103859.986  4
    END-POINT 117950.162          69112.809          103859.986  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPS                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 117950.162          69112.809          103859.986  4  
    END-POINT 117950.162          69112.809          103959.983  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DPR                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 117950.162          69112.809          103959.983 
    PIPELINE-REFERENCE C210-4910-12E-CG-0012-PRM-0006-01
PIPE
    END-POINT 117772.362          69112.809          103704.538  8  BW
    END-POINT 116615.595          69112.809          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 116615.595          69112.809          103704.538  8
    END-POINT 116615.595          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYM                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
TEE
    END-POINT 116615.595          69112.809          103704.538  8  
    END-POINT 116259.995          69112.809          103704.538  8  
    CENTRE-POINT  116437.795          69112.809          103704.538 
    BRANCH1-POINT 116437.795          69112.809          103859.986  4  
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED8X4
    WEIGHT          34.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 116259.995          69112.809          103704.538  8
    END-POINT 116259.995          69112.809          103704.538  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYN                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 116437.795          69112.809          103859.986  4
    END-POINT 116437.795          69112.809          103859.986  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYK                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 116437.795          69112.809          103960.665  4  
    END-POINT 116437.795          69112.809          103859.986  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS 116437.795          69112.809          103960.665 
    PIPELINE-REFERENCE C210-4910-12E-PE-0021-PRM-0006-02
PIPE
    END-POINT 116259.995          69112.809          103704.538  8  BW
    END-POINT 101439.762          69112.809          103704.538  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYO                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 104000.000  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYP                 
    TAG                         S03-B-6-8                       
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE LS13
    QUANTITY 1
    ITEM-GROUP SUPP
    ADDITIONAL-ITEM
    SIZE  8
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 110000.000  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYS                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 116000.000  69112.809 103704.538  8
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-8_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_CYU                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 104000.000  69112.809 103704.538  8
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ6IJZD_DS0                 
    TAG                         RP02-6-8                        
PIPE
    END-POINT  93757.464          69112.809          103704.538  8  
    END-POINT 101439.762          69112.809          103704.538  8  
    CONTINUATION 
    WEIGHT          64.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP7                 
    PIPING-SPEC CHS
    INSULATION-ON 
SUPPORT
    CO-ORDS  94000.464  69112.809 103704.538  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP8                 
    TAG                         S02-B-3-8                       
SUPPORT
    CO-ORDS 100000.464  69112.809 103704.538  8
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ0MR15F_BP9                 
    TAG                         S02-B-3-8                       
FLOW-ARROW
    CO-ORDS  96795.464  69112.809 103704.538 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  93757.464          69112.809          103704.538 
    PIPELINE-REFERENCE C210-4910-12E-PE-0034-PRM-0007-01
MATERIALS
ITEM-CODE PIP8
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-4-8
ITEM-CODE TEERED8X4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG MEG
    DESCRIPTION TEE REDUCING BW, A234-WPB, SCH 80, NACE
    RATING 80
ITEM-CODE SUPTS-8_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S03-B-6-8
ITEM-CODE LS13
    DESCRIPTION LINE STOP FOR SHOE LS13
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPTS-8_2
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S02-B-3-8
ITEM-CODE SUPPS-8
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION PIPE WEAR PROTECTION PAD RP02-6-8
