ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT KGS
PIPELINE-REFERENCE C210-4910-12E-CG-0005-PRM-0002-01
PIPING-SPEC CHS
    AREA 12E
    ATTRIBUTE20   C210-4908-12E-PRM-0002.DWG
    ATTRIBUTE21  C210
    ATTRIBUTE22   06114
    ATTRIBUTE23   AGAR METER REPLACEMENT
    ATTRIBUTE32   4
    ATTRIBUTE34   C210-4910-12E-CG-0005-PRM-0002-01
    ATTRIBUTE70   V
    ATTRIBUTE71   80
    ATTRIBUTE72   3.2
    ATTRIBUTE73   1000
    ATTRIBUTE74   184
    ATTRIBUTE80   -29
    ATTRIBUTE82   12E-WP-3002
    ATTRIBUTE83   CASING GAS HDR. #1
    ATTRIBUTE84   C210-4902-12E-0002-03
    ATTRIBUTE88   Y
    ATTRIBUTE89   10
    ATTRIBUTE96   CHS
    ATTRIBUTE95   12E-CG-0005-4"-CHS
    ATTRIBUTE97   CG
    ATTRIBUTE98   GT
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT 189884.641          69752.080          104405.084  0.75  
    END-POINT 189884.641          69752.080          104433.660  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AES                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 189884.641  69752.080 104419.372 
    UNDIMENSIONED
    TEXT 12E$PIT$3117
VALVE
    END-POINT 189884.641          69752.080          104340.072  0.75  SW FEMALE 
    END-POINT 189884.641          69752.080          104405.084  0.75  
    CENTRE-POINT  189884.641          69752.080          104373.372 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
WELD
    END-POINT 189884.641          69752.080          104340.072  0.75
    END-POINT 189884.641          69752.080          104340.072  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEO                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 189884.641          69752.080          104238.472  0.75  
    END-POINT 189884.641          69752.080          104340.072  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEN                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189884.641          69752.080          104238.472  0.75
    END-POINT 189884.641          69752.080          104238.472  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEM                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     189884.641  69752.080 104157.510 
    BRANCH1-POINT 189884.641          69752.080          104238.472  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEL                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189884.641  69752.080 104157.510  4
    END-POINT 189884.641  69752.080 104157.510  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AE5                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 190388.900          69752.220          104157.542  4  BW
    END-POINT 189447.341          69752.008          104157.510  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 190388.900          69752.220          104157.542  4
    END-POINT 190388.900          69752.220          104157.542  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9K                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 189447.341          69752.008          104157.510  4
    END-POINT 189447.341          69752.008          104157.510  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AE3                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 189727.341  69752.054 104157.510  4
    END-POINT 189727.341  69752.054 104157.510  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AE4                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 189584.341  69752.031 104157.510  4
    END-POINT 189584.341  69752.031 104157.510  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AE6                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 189655.341  69752.055 104157.517  4
    END-POINT 189655.341  69752.055 104157.517  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CA5                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT     189655.341  69752.055 104157.517 
    BRANCH1-POINT 189655.344          69752.055          104073.377  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CA3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189655.344          69752.055          104073.377  1
    END-POINT 189655.344          69752.055          104073.377  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CA6                 
    THICKNESS/RATING CL6000
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 189655.344          69752.055          104073.377  1  
    END-POINT 189655.344          69752.055          103971.777  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189655.344          69752.055          103971.777  1
    END-POINT 189655.344          69752.055          103971.777  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9Y                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 189655.344          69752.055          103971.777  1  SW FEMALE 
    END-POINT 189655.344          69752.055          103868.653  1  
    END-POINT 189655.344          69803.744          103917.040  0.75  
    CENTRE-POINT  189655.344          69752.055          103917.040 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9W                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 189655.344          69803.744          103917.040  0.75  
    END-POINT 189655.344          69829.144          103917.040  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CA1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 189655.344          69752.055          103868.653  1  
    END-POINT 189655.344          69752.055          103839.951  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9Z                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
OLET
    CENTRE-POINT     189584.341  69752.031 104157.510 
    BRANCH1-POINT 189584.341          69752.031          104236.885  1  
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.570
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 189584.341          69752.031          104236.885  1  
    END-POINT 189584.341          69752.031          104267.047  1
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEJ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 189584.341  69752.031 104254.347 
    UNDIMENSIONED
    TEXT 12E$TE$3117
OLET
    CENTRE-POINT     189727.341  69752.054 104157.510 
    BRANCH1-POINT 189727.341          69752.054          104238.472  0.75  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X3/4
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189727.341          69752.054          104238.472  0.75
    END-POINT 189727.341          69752.054          104238.472  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEV                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 189727.341          69752.054          104238.472  0.75  
    END-POINT 189727.341          69752.054          104340.072  0.75  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.292
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEW                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 189727.341          69752.054          104340.072  0.75
    END-POINT 189727.341          69752.054          104340.072  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEX                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 189727.341          69752.054          104340.072  0.75  SW FEMALE 
    END-POINT 189727.341          69752.054          104405.084  0.75  
    CENTRE-POINT  189727.341          69752.054          104373.372 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           2.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AEY                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
MISC-COMPONENT
    END-POINT 189727.341          69752.054          104405.084  0.75  
    END-POINT 189727.341          69752.054          104433.660  0.75
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AF1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS 189727.341  69752.054 104419.372 
    UNDIMENSIONED
    TEXT 12E$PIT$3120
REDUCER-ECCENTRIC
    END-POINT 189447.341          69752.008          104157.510  4  
    END-POINT 189345.741          69751.995          104130.522  2  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X2
    WEIGHT           3.375
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AF3                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 189345.741          69751.995          104130.522  2
    END-POINT 189345.741          69751.995          104130.522  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AF4                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 189266.239          69751.984          104130.522  2  
    END-POINT 189345.741          69751.995          104130.522  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AF5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 189266.239          69751.984          104130.522  2
    END-POINT 189263.064          69751.984          104130.522  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AF6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 189263.064          69751.984          104130.522 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AF7                 
INSTRUMENT
    END-POINT 189263.064          69751.984          104130.522  2  
    END-POINT 188977.064          69751.946          104130.522  2  
    CENTRE-POINT  189120.064          69751.965          104130.522 
    SKEY CVFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AF8                 
    TAG 12E$PV$3117                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 188977.064          69751.946          104130.522  2
    END-POINT 188973.889          69751.946          104130.522  2
    FABRICATION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.130
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 188973.889          69751.946          104130.522 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           4.250
    WEIGHT           1.480
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFB                 
FLANGE
    END-POINT 188973.889          69751.946          104130.522  2  
    END-POINT 188894.387          69751.936          104130.522  2  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           5.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188894.387          69751.936          104130.522  2
    END-POINT 188894.387          69751.936          104130.522  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFD                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT 188792.787          69751.922          104157.510  4  
    END-POINT 188894.387          69751.936          104130.522  2  
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X2
    WEIGHT           3.375
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
WELD
    END-POINT 188792.787          69751.922          104157.510  4
    END-POINT 188792.787          69751.922          104157.510  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFF                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 188792.787          69751.922          104157.510  4  BW
    END-POINT 188516.548          69752.008          104157.510  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFG                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188516.548          69752.008          104157.510  4
    END-POINT 188516.548          69752.008          104157.510  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFI                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 188667.787  69751.961 104157.510  4
    END-POINT 188667.787  69751.961 104157.510  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFJ                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 188516.548          69752.008          104157.510  4  
    END-POINT 188364.148          69752.008          104309.910  4  
    CENTRE-POINT  188364.148          69752.008          104157.510 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFT                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS 188364.148          69752.008          104309.910 
    PIPELINE-REFERENCE C210-4910-12E-CG-0005-PRM-0002-02
OLET
    CENTRE-POINT     188667.787  69751.961 104157.510 
    BRANCH1-POINT 188667.787          69751.961          104073.372  1  
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL4X1
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFK                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188667.787          69751.961          104073.372  1
    END-POINT 188667.787          69751.961          104073.372  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFL                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
COUPLING
    END-POINT 188667.787          69751.961          104073.372  1  
    END-POINT 188667.787          69751.961          103971.772  1  
    SKEY NRSW
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.427
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AFM                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 188667.787          69751.961          103971.772  1
    END-POINT 188667.787          69751.961          103971.772  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9R                 
    THICKNESS/RATING CL800
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE-3WAY
    END-POINT 188667.787          69751.961          103971.772  1  SW FEMALE 
    END-POINT 188667.787          69751.961          103868.648  1  
    END-POINT 188667.787          69803.650          103917.035  0.75  
    CENTRE-POINT  188667.787          69751.961          103917.035 
    SKEY V3SC
    FABRICATION-ITEM
    ITEM-CODE VALV3WY1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9P                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 188667.787          69803.650          103917.035  0.75  
    END-POINT 188667.787          69829.050          103917.035  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9U                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
MISC-COMPONENT
    END-POINT 188667.787          69751.961          103868.648  1  
    END-POINT 188667.787          69751.961          103839.946  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.230
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9S                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLANGE
    END-POINT 190496.850          69752.219          104157.526  4  
    END-POINT 190388.900          69752.220          104157.542  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9E                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 190474.624          69626.614          104157.530  0.5
GASKET
    END-POINT 190496.850          69752.219          104157.526  4
    END-POINT 190500.030          69752.219          104157.526  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9F                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
WELD
    END-POINT 190474.624          69626.614          104157.530  0.5
    END-POINT 190474.624          69626.614          104157.530  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CE3                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  190474.624          69626.614          104157.530 
    BRANCH1-POINT 190474.623          69550.414          104157.530  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           2.550
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CE1                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 190474.623          69550.414          104157.530  0.5
    END-POINT 190474.623          69550.414          104157.530  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CE2                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 190474.623          69550.414          104157.530  0.5  SW FEMALE 
    END-POINT 190474.622          69495.288          104157.530  0.5  
    CENTRE-POINT  190474.623          69520.564          104157.530 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADU                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
MISC-COMPONENT
    END-POINT 190474.622          69495.288          104157.530  0.5  
    END-POINT 190474.622          69473.190          104157.530  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CAF                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
INSTRUMENT
    END-POINT 190500.030          69752.219          104157.526  4  
    END-POINT 190503.205          69752.219          104157.525  4  
    SKEY OP
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BEK                 
    TAG 12E$FE$3117                     
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 190506.385          69752.219          104157.525  4
    END-POINT 190503.205          69752.219          104157.525  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9H                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING CL600          
BOLT
    CO-ORDS 190506.385          69752.219          104157.525 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           6.250
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE N/A
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9I                 
FLANGE
    END-POINT 190506.385          69752.219          104157.525  4  
    END-POINT 190614.335          69752.217          104157.509  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9G                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    TAP-CONNECTION
    CO-ORDS 190528.609          69626.613          104157.522  0.5
WELD
    END-POINT 190614.335          69752.217          104157.509  4
    END-POINT 190614.335          69752.217          104157.509  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_C9J                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
WELD
    END-POINT 190528.609          69626.613          104157.522  0.5
    END-POINT 190528.609          69626.613          104157.522  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CE6                 
    THICKNESS/RATING CL600
    WELD-REMARK-NUMBER STUB IN_THREAD                  
    PIPING-SPEC CHS
    INSULATION-ON 
OLET
    CENTRE-POINT  190528.609          69626.613          104157.522 
    BRANCH1-POINT 190528.607          69474.213          104157.522  0.5  
    SKEY NISW
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.387
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CE4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 190528.607          69474.213          104157.522  0.5
    END-POINT 190528.607          69474.213          104157.522  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CE5                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC CHS
    INSULATION-ON 
VALVE
    END-POINT 190528.607          69474.213          104157.522  0.5  SW FEMALE 
    END-POINT 190528.606          69419.087          104157.522  0.5  
    CENTRE-POINT  190528.607          69444.363          104157.522 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.810
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ACQ                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MISC-COMPONENT
    END-POINT 190528.606          69419.087          104157.522  0.5  
    END-POINT 190528.606          69396.989          104157.522  0.5
    SKEY PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_CAD                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
PIPE
    END-POINT 193052.440          69752.188          104157.150  4  BW
    END-POINT 190614.335          69752.217          104157.509  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BMP                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS 192150.913  69752.199 104157.283 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS 190999.962  69752.213 104157.452  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BMV                 
    TAG                         S01-A-3-4                       
    ADDITIONAL-ITEM
    SIZE  4
    FABRICATION-ITEM
    ITEM-CODE G12
    QUANTITY 1
    ITEM-GROUP SUPP
SUPPORT
    CO-ORDS 190999.946  69752.213 104157.452  4
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BUK                 
    TAG                         RP02-3-4                        
WELD
    END-POINT 193052.440          69752.188          104157.150  4
    END-POINT 193052.440          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BMQ                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
FLANGE
    END-POINT 193160.390          69752.188          104157.150  4  
    END-POINT 193052.440          69752.188          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AD5                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT 193160.390          69752.188          104157.150  4
    END-POINT 193163.565          69752.188          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AD6                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 193163.565          69752.188          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AD7                 
VALVE
    END-POINT 193595.365          69752.188          104157.150  4  
    END-POINT 193163.565          69752.188          104157.150  4  
    CENTRE-POINT  193379.465          69752.188          104157.150 
    SKEY VTFL
    FABRICATION-ITEM
    ITEM-CODE VALVGAT4
    WEIGHT         122.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_AD8                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT 193595.365          69752.188          104157.150  4
    END-POINT 193598.540          69752.188          104157.150  4
    FABRICATION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS 193598.540          69752.188          104157.150 
    BOLT-DIA           0.875
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.750
    WEIGHT           7.100
    FABRICATION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADB                 
FLANGE
    END-POINT 193598.540          69752.188          104157.150  4  
    END-POINT 193706.490          69752.188          104157.150  4  
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT          18.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADC                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT 193706.490          69752.188          104157.150  4
    END-POINT 193706.490          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADD                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 195498.393          69752.188          104157.150  4  BW
    END-POINT 193706.490          69752.188          104157.150  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADE                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 194000.000  69752.188 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BMJ                 
    TAG                         S01-A-4-4                       
WELD
    END-POINT 195498.393          69752.188          104157.150  4
    END-POINT 195498.393          69752.188          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADG                 
    THICKNESS/RATING 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
ELBOW
    END-POINT 195498.393          69752.188          104157.150  4  
    END-POINT 195650.793          69904.588          104157.150  4  
    CENTRE-POINT  195650.793          69752.188          104157.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           5.480
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_ADH                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT 195650.793          69904.588          104157.150  4
    END-POINT 195650.793          69904.588          104157.150  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BQB                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 195650.793          69904.588          104157.150  4  BW
    END-POINT 195650.793          73094.478          104157.150  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BQA                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 195650.793  70300.000 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BQE                 
    TAG                         S01-A-4-4                       
SUPPORT
    CO-ORDS 195650.793  72800.000 104157.150  4
    SKEY 52SP
    FABRICATION-ITEM
    ITEM-CODE SUPTS-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FIQ5U8O8_BQG                 
    TAG                         S01-A-3-4                       
WELD
    END-POINT 195650.793          73094.478          104157.150  4
    END-POINT 195650.793          73094.478          104157.150  4
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2PX                 
    THICKNESS/RATING SCH 80
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC CHS
    INSULATION-ON 
PIPE
    END-POINT 195650.793          86332.870          104157.150  4  
    END-POINT 195650.793          73094.478          104157.150  4  
    CONTINUATION 
    WEIGHT          22.320
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2O4                 
    PIPING-SPEC CHS
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS 195650.793  76801.882 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2OG                 
    TAG                         S01-A-3-4                       
SUPPORT
    CO-ORDS 195650.793  81801.882 104157.150  4
    SKEY 52SP
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_GZSK7E3M_2OI                 
    TAG                         S01-A-6-4                       
FLOW-ARROW
    CO-ORDS 195650.793  75090.828 104157.150 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS 195650.793          86332.870          104157.150 
    PIPELINE-REFERENCE C210-4910-12E-CG-0005-PRM-0023-01
MATERIALS
ITEM-CODE VALVGAT3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE NIPP3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE SOL4X3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING 6000LB
ITEM-CODE PIP4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION PIPE BE, SMLS A106-B, SCH 80, NACE
    RATING 80
ITEM-CODE SOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION SOCKOLET, CL6000, A105N, NACE
    RATING CL6000
ITEM-CODE NIPP1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE PBE, SMLS A106-B, SCH XXS, 4" LG, NACE
    RATING XXS
ITEM-CODE VALV3WY1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG VOGT
    DESCRIPTION DBL BLK BLEED SW x THD, 316SS, CL800, DB-805HS, NACE
    RATING CL800
ITEM-CODE PLGHEX3/4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE PLGHEX1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.11
    DESCRIPTION PLUG HEX, MNPT, A105N, NACE
ITEM-CODE TOL4X1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION THREDOLET, CL6000, A105N, NACE
    RATING 6000LB
ITEM-CODE REDECC4X2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION REDUCER ECC BW, A234-WPB, SCH 80 x SCH 160, NACE
    RATING 80
ITEM-CODE FLGWNK2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 160 BORE, NACE
    RATING 600LB
    RATING 160
ITEM-CODE GAS2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING 600LB
ITEM-CODE BOLT2
    BOLT_DIA 15.875
    BOLT_LEN 110
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 5/8 X 4 1/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE FLGWNK4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION ORIFICE FLG WN RF, CL600, A105N, SCH 80 BORE, w/ 1/2" THD TAPS, NACE
    RATING CL600
    RATING SCH 80
ITEM-CODE GAS4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.20-1998
    DESCRIPTION GASKET RF, CL600, SP/WND 316SS/FLEX GRAF FILL W/CS INNER & CENTERING RNG 1/8" THK, NACE
    RATING CL600
ITEM-CODE NIPP1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 3" LG, NACE
    RATING SCH XXS
ITEM-CODE VALVGAT1/2
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG BONNEY FORGE
    DESCRIPTION GATE VALVE SW x THD, A105N, CL800  , GA-815HSW, NACE
    RATING 800LB
ITEM-CODE N/A
    BOLT_DIA 22.225
    BOLT_LEN 158.75
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 6 1/4 STUD BOLT, A193-B7M W/2 EA A194-2HM HVY HEX NUTS
    RATING CL600
ITEM-CODE NIPP1/2_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE POE x TOE, SMLS A106-B, SCH XXS, 6" LG, NACE
    RATING SCH XXS
ITEM-CODE SUPTS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-3-4
ITEM-CODE G12
    DESCRIPTION GUIDE FOR SHOE G12
ITEM-CODE SUPPS-4
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION RE-PAD FOR PIPE SHOE RP02-3-4
ITEM-CODE FLGWNK4_1
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.5
    DESCRIPTION FLANGE WN RF, CL600, A105N, SCH 80 BORE, NACE
    RATING 600LB
    RATING 80
ITEM-CODE BOLT4
    BOLT_DIA 22.225
    BOLT_LEN 145
    CATALOG SPC-PT-NS-80272
    DESCRIPTION 7/8 X 5 3/4 STUD BOLTS, A193-B7M W/2 EA A194-2HM HVY HEX NUTS, NACE
    RATING 600LB
ITEM-CODE VALVGAT4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG API 600
    DESCRIPTION GATE VALVE RF, A216-WCB, CL600  , GA-600HS, NACE
    RATING 600LB
ITEM-CODE SUPTS-4_1
    BOLT_DIA 0
    BOLT_LEN 0
    DESCRIPTION SHOE FOR CARBON STEEL S01-A-4-4
ITEM-CODE 90LLR4
    BOLT_DIA 0
    BOLT_LEN 0
    CATALOG ASME B16.9-1993
    DESCRIPTION ELBOW 90 DEG LR BW, A234-WPB, SCH 80, NACE
    RATING 80
