ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   SUR2-F41-41-RW-LIM-12002-001
    PIPING-SPEC   AWA
    INSULATION-SPEC   MINERAL WOOL
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   ELECTRIC
    ATTRIBUTE25   241
    ATTRIBUTE21   241-CWA-002
    ATTRIBUTE9   29/04/2013 2:56:46 PM
    ATTRIBUTE24   SUR2-F41-41-RW-LIM-12002-001
    ATTRIBUTE87   Refer to LDT
    ATTRIBUTE97   Refer to LDT
    ATTRIBUTE89   Refer to LDT
    ATTRIBUTE95   Refer to LDT
    ATTRIBUTE88   Refer to LDT
    ATTRIBUTE96   Refer to LDT
    ATTRIBUTE98   Refer to LDT
    ATTRIBUTE86   Refer to LDT
    ATTRIBUTE83   V1[InsulationThickness]
    ATTRIBUTE93   V1[LineNumber]
    ATTRIBUTE92   V1[LineSpec]
    ATTRIBUTE85   V1[PaintCode]
    ATTRIBUTE84   V1[PostWeldHeatTreatmentFlag]
    ATTRIBUTE91   V1[StartPID]
    ATTRIBUTE82   V1[TracerCode]
    ATTRIBUTE94   V1[systemid]
    ATTRIBUTE90   V1[TagNumber]
    MISC-SPEC1    RW-241-12002
    HIGHEST-WELD-NUMBER    1    1024
MISC-COMPONENT
    END-POINT    2629195.405    4609029.000    12286.182     4    FL
    END-POINT    2629195.405    4609029.000    12276.485     4    FL
    CENTRE-POINT    2629195.405    4609029.000    12281.334        
    SKEY    SB
    SLIP-PLATE-TAIL-DIRECTION    WEST
    ITEM-CODE    PFXAPV102E0H
    ITEM-DESCRIPTION    Blnd-Spec, RF, A516-70N, CL150
    FLOW    1
    UCI    {00013885-0000-0000-D803-08847E514104}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    OPEN
    MESSAGE
    TEXT    DRILL AND TAP FLANGE$AND SUPPLY JACK SCREWS AS PER$SUR2-AOA-00-ENG-MST-0045 DETAIL 13.
GASKET
    END-POINT    2629195.405    4609029.000    12276.485     4    
    END-POINT    2629195.405    4609029.000    12273.310     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-FE03-08847E514104}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
GASKET
    END-POINT    2629195.405    4609029.000    12286.182     4    
    END-POINT    2629195.405    4609029.000    12289.357     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-FD03-08847E514104}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
BOLT
    CO-ORDS    2629195.405    4609029.000    12289.357        
    UCI    {000138A9-0000-0000-FF03-08847E514104}
    BOLT-DIA     .625
    BOLT-LENGTH     4
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D000012
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  4 in. Length
    ERECTION-ITEM
FLANGE
    END-POINT    2629195.405    4609029.000    12289.357     4    
    END-POINT    2629195.405    4609029.000    12365.557     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-E603-08847E514104}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    2629195.405    4609029.000    12365.542     4    
    END-POINT    2629195.405    4609029.000    12365.557     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-108
    UCI    {000138AA-0000-0000-F001-CDD87E512706}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-108
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    2629195.405    4609029.000    12273.310     4    
    END-POINT    2629195.405    4609029.000    12197.110     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-F003-08847E514104}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    2629195.405    4607819.600    12043.717     4    
    END-POINT    2629195.405    4607819.600    12317.917     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-3A04-346A214F2F04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    SPOOL-IDENTIFIER    F41-41-RW-LIM-12002-001-A
    CUT-PIECE-LENGTH    274.20
WELD
    END-POINT    2629195.405    4607819.600    12317.917     4    
    END-POINT    2629195.405    4607819.600    12317.917     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-308
    UCI    {000138AA-0000-0000-161A-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-308
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2629195.405    4608145.600    12470.317     4    
    END-POINT    2629195.405    4608924.225    12470.317     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-F204-346A214F2F04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    952.23
PIPE
    END-POINT    2629195.405    4607972.000    12470.317     4    
    END-POINT    2629195.405    4608145.600    12470.317     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-F204-346A214F2F04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    952.23
SUPPORT
    CO-ORDS    2629195.405    4608555.377    12470.317     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1-1-A-4"
    ITEM-DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-4" $
    WEIGHT    3.907
    UCI    {00022303-0000-0000-1E47-62F5C5502604}
    NAME    S1_1-4-1203
    FABRICATION-ITEM
WELD
    END-POINT    2629195.405    4607972.000    12470.317     4    
    END-POINT    2629195.405    4607972.000    12470.317     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-307
    UCI    {000138AA-0000-0000-3F1A-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-307
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2629195.405    4608924.225    12470.317     4    
    END-POINT    2629195.405    4608924.225    12470.317     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-107
    UCI    {000138AA-0000-0000-EE01-CDD87E512706}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-107
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    2629195.405    4608924.225    12470.317     4    BW
    END-POINT    2629195.405    4609133.775    12470.317     4    BW
    CENTRE-POINT    2629195.405    4609029.000    12470.317        
    BRANCH1-POINT    2629195.405    4609029.000    12365.542     4    BW
    SKEY    TE**
    ITEM-CODE    PFCTG5051C0H
    ITEM-DESCRIPTION    Te, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-0108-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    2629195.405    4609133.775    12470.317     4    
    END-POINT    2629195.405    4609133.775    12470.317     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-344
    UCI    {000138AA-0000-0000-2608-5CF8F14E2B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-344
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2627120.000    4608102.950    11891.312     4    
    END-POINT    2627120.000    4607972.000    11891.312     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-0705-5CF8F14E2B04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    SPOOL-IDENTIFIER    F41-41-RW-LIM-12002-001-D
    CUT-PIECE-LENGTH    592.90
PIPE
    END-POINT    2627120.000    4608377.950    11891.312     4    
    END-POINT    2627120.000    4608302.950    11891.312     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-0705-5CF8F14E2B04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    592.90
PIPE
    END-POINT    2627120.000    4608302.950    11891.312     4    
    END-POINT    2627120.000    4608102.950    11891.312     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-0705-5CF8F14E2B04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    592.90
PIPE
    END-POINT    2627120.000    4608564.900    11891.312     4    
    END-POINT    2627120.000    4608477.950    11891.312     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-0705-5CF8F14E2B04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    592.90
PIPE
    END-POINT    2627120.000    4608477.950    11891.312     4    
    END-POINT    2627120.000    4608377.950    11891.312     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-0705-5CF8F14E2B04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    592.90
WELD
    END-POINT    2627120.000    4608564.900    11891.312     4    
    END-POINT    2627120.000    4608564.900    11891.312     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-401
    UCI    {000138AA-0000-0000-1805-5CF8F14E2B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-401
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2627120.000    4607972.000    11891.312     4    
    END-POINT    2627120.000    4607972.000    11891.312     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-313
    UCI    {000138AA-0000-0000-3505-5CF8F14E2B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-313
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    2627120.000    4608641.100    11891.312     4    
    END-POINT    2627120.000    4608564.900    11891.312     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-0C05-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
VALVE
    END-POINT    2629195.405    4609213.150    12470.317     4    FL
    END-POINT    2629195.405    4609441.750    12470.317     4    FL
    CENTRE-POINT    2629195.405    4609327.450    12470.317        
    SKEY    VV**
    ITEM-CODE    PVVG1FB81006
    ITEM-DESCRIPTION    Gate Valve,CL150,RF,Tr.8,A216-WCB, Tag No:GF-01A0-0801
    FLOW    1
    UCI    {00013885-0000-0000-0F08-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
GASKET
    END-POINT    2629195.405    4609213.150    12470.317     4    
    END-POINT    2629195.405    4609209.975    12470.317     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-2408-5CF8F14E2B04}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
BOLT
    CO-ORDS    2629195.405    4609213.150    12470.317        
    UCI    {000138A9-0000-0000-2508-5CF8F14E2B04}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
FLANGE
    END-POINT    2628491.145    4607819.600    11878.615     3    
    END-POINT    2628411.770    4607819.600    11878.615     3    
    SKEY    FLWN
    ITEM-CODE    PFFWG1350206
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-1006-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
GASKET
    END-POINT    2628491.145    4607819.600    11878.615     3    
    END-POINT    2628494.230    4607819.600    11878.615     3    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-F806-5CF8F14E2B04}
    ITEM-CODE    PGGC21300806
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
BOLT
    CO-ORDS    2628491.145    4607819.600    11878.615        
    UCI    {000138A9-0000-0000-FA08-CD40AD502704}
    BOLT-DIA     .75
    BOLT-LENGTH     4.25
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00001Q
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  4.25 in. Length
    ERECTION-ITEM
VALVE
    END-POINT    2627120.000    4608302.950    12075.467    0.75    SW
    END-POINT    2627120.000    4608302.950    12138.967    0.75    SC
    CENTRE-POINT    2627120.000    4608302.950    12108.804        
    SKEY    VT**
    ITEM-CODE    PVVG8BB81001
    ITEM-DESCRIPTION    Gate Valve,CL800,FSWxFNPT,Tr.8,A105N, Tag No:GX-08A0-0801
    FLOW    0
    UCI    {00013885-0000-0000-150B-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    EAST
    DIRECTION    EAST
FLANGE
    END-POINT    2629195.405    4609209.975    12470.317     4    
    END-POINT    2629195.405    4609133.775    12470.317     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-1A08-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
MISC-COMPONENT
    END-POINT    2627120.000    4608302.950    12138.967    0.75    SC
    END-POINT    2627120.000    4608302.950    12183.417    0.75    BW
    CENTRE-POINT    2627120.000    4608302.950    12138.967        
    SKEY    PL
    ITEM-CODE    PFTPG1000H01
    ITEM-DESCRIPTION    Plug H/Hd, MNPT, A105N
    FLOW    0
    UCI    {00013885-0000-0000-230B-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
ELBOW
    END-POINT    2627120.000    4607972.000    11891.312     4    BW
    END-POINT    2627272.400    4607819.600    11891.312     4    BW
    CENTRE-POINT    2627120.000    4607819.600    11891.312        
    SKEY    EL**
    ITEM-CODE    PFQNG505160H
    ITEM-DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-2A05-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    2627272.400    4607819.600    11891.312     4    
    END-POINT    2627272.400    4607819.600    11891.313     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-346
    UCI    {000138AA-0000-0000-4C0B-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-346
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
INSTRUMENT
    END-POINT    2627120.000    4608302.950    12183.417    0.75    BW
    END-POINT    2627120.000    4608302.950    12196.752    0.75    
    CENTRE-POINT    2627120.000    4608302.950    12183.417        
    SKEY    II**
    ITEM-CODE    241-PT-12001
    FLOW    0
    UCI    {000138B6-0000-0000-2E0B-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    241$PT$12001
FLANGE
    END-POINT    2627120.000    4608102.950    12113.128     2    
    END-POINT    2627120.000    4608102.950    12043.278     2    
    SKEY    FLWN
    ITEM-CODE    PFFWG1370205
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, XS, RF, StdF, B16.5
    UCI    {00013885-0000-0000-5E0B-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
GASKET
    END-POINT    2627120.000    4608102.950    12113.128     2    
    END-POINT    2627120.000    4608102.950    12116.303     2    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-1414-BD85154F3204}
    ITEM-CODE    PGGC21300804
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
BOLT
    CO-ORDS    2627120.000    4608102.950    12113.128        
    UCI    {000138A9-0000-0000-9B09-CD40AD502704}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
PIPE-FIXED
    END-POINT    2627120.000    4608377.950    11808.767    0.75    
    END-POINT    2627120.000    4608377.950    11707.167    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-710A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.314
VALVE
    END-POINT    2627120.000    4608377.950    11707.167    0.75    SW
    END-POINT    2627120.000    4608377.950    11640.492    0.75    SW
    CENTRE-POINT    2627120.000    4608377.950    11673.829        
    SKEY    VV**
    ITEM-CODE    PVVG8AB81001
    ITEM-DESCRIPTION    Gate Valve,CL800,SW,Tr.8,A105N, Tag No:GS-08A0-0801
    FLOW    0
    UCI    {00013885-0000-0000-7D0A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    EAST
    DIRECTION    EAST
WELD
    END-POINT    2627120.000    4608377.950    11707.167    0.75    
    END-POINT    2627120.000    4608377.950    11707.167    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-342
    UCI    {000138AA-0000-0000-870A-5CF8F14E2B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-342
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2627563.175    4607819.600    11891.313     4    
    END-POINT    2627745.496    4607819.600    11891.313     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-8805-5CF8F14E2B04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    SPOOL-IDENTIFIER    F41-41-RW-LIM-12002-001-C
    CUT-PIECE-LENGTH    304.65
PIPE
    END-POINT    2627440.848    4607819.600    11891.314     4    
    END-POINT    2627563.175    4607819.600    11891.313     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-8805-5CF8F14E2B04}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    304.65
WELD
    END-POINT    2627745.496    4607819.600    11891.313     4    
    END-POINT    2627745.496    4607819.600    11891.313     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-403
    UCI    {000138AA-0000-0000-5A15-62F5C5502604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-403
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2627440.848    4607819.600    11891.314     4    
    END-POINT    2627440.848    4607819.600    11891.313     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-352
    UCI    {000138AA-0000-0000-2800-F2B6C0503604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-352
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    2627120.000    4608377.950    11640.492    0.75    
    END-POINT    2627120.000    4608377.950    11538.892    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-8B0A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.387
WELD
    END-POINT    2627120.000    4608377.950    11640.492    0.75    
    END-POINT    2627120.000    4608377.950    11640.492    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-341
    UCI    {000138AA-0000-0000-940A-5CF8F14E2B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-341
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
CAP
    END-POINT    2627120.000    4608377.950    11538.892    0.75    SC
    END-POINT    2627120.000    4608377.950    11521.429    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-970A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE-FIXED
    END-POINT    2627120.000    4608477.950    11973.867    0.75    
    END-POINT    2627120.000    4608477.950    12075.467    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-A30A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.314
WELD
    END-POINT    2627120.000    4608477.950    12075.467    0.75    
    END-POINT    2627120.000    4608477.950    12075.467    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-340
    UCI    {000138AA-0000-0000-CA0A-5CF8F14E2B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-340
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    2627120.000    4608477.950    12075.467    0.75    SW
    END-POINT    2627120.000    4608477.950    12138.967    0.75    SC
    CENTRE-POINT    2627120.000    4608477.950    12108.804        
    SKEY    VT**
    ITEM-CODE    PVVG8BB81001
    ITEM-DESCRIPTION    Gate Valve,CL800,FSWxFNPT,Tr.8,A105N, Tag No:GX-08A0-0801
    FLOW    0
    UCI    {00013885-0000-0000-BE0A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    EAST
    DIRECTION    EAST
FILTER
    END-POINT    2627828.171    4607819.600    11891.313     4    FL
    END-POINT    2627824.871    4607819.600    11891.313     4    FL
    SKEY    FIFL
    ITEM-CODE    PYSTCS100006
    ITEM-DESCRIPTION    Start Up Strainer Cone CL150, B16.5, 100%, 1/8"@3/16" A516-70N MST0045-Det.11
    FLOW    2
    UCI    {00013885-0000-0000-C905-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
GASKET
    END-POINT    2627828.171    4607819.600    11891.313     4    
    END-POINT    2627831.346    4607819.600    11891.313     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-E405-5CF8F14E2B04}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
GASKET
    END-POINT    2627824.871    4607819.600    11891.313     4    
    END-POINT    2627821.696    4607819.600    11891.313     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-7017-BD85154F3204}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
FLANGE
    END-POINT    2627831.346    4607819.600    11891.313     4    
    END-POINT    2627907.546    4607819.600    11891.314     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-D805-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
BOLT
    CO-ORDS    2627831.346    4607819.600    11891.313        
    UCI    {000138A9-0000-0000-6D17-BD85154F3204}
    BOLT-DIA     .625
    BOLT-LENGTH     3.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000Y
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.75 in. Length
    ERECTION-ITEM
WELD
    END-POINT    2627907.546    4607819.600    11891.314     4    
    END-POINT    2627907.546    4607819.600    11891.314     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-345
    UCI    {000138AA-0000-0000-E61A-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-345
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
MISC-COMPONENT
    END-POINT    2627120.000    4608477.950    12138.967    0.75    SC
    END-POINT    2627120.000    4608477.950    12183.417    0.75    BW
    CENTRE-POINT    2627120.000    4608477.950    12138.967        
    SKEY    PL
    ITEM-CODE    PFTPG1000H01
    ITEM-DESCRIPTION    Plug H/Hd, MNPT, A105N
    FLOW    0
    UCI    {00013885-0000-0000-D90A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
FLANGE
    END-POINT    2627120.000    4609171.325    11891.312     4    
    END-POINT    2627120.000    4609247.525    11891.312     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-DC04-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
GASKET
    END-POINT    2627120.000    4609171.325    11891.312     4    
    END-POINT    2627120.000    4609168.150    11891.312     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-F304-5CF8F14E2B04}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
BOLT
    CO-ORDS    2627120.000    4609171.325    11891.312        
    UCI    {000138A9-0000-0000-F404-5CF8F14E2B04}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
WELD
    END-POINT    2627120.000    4609247.525    11891.312     4    
    END-POINT    2627120.000    4609247.525    11891.312     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-338
    UCI    {000138AA-0000-0000-D207-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-338
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
INSTRUMENT
    END-POINT    2627120.000    4608477.950    12183.417    0.75    BW
    END-POINT    2627120.000    4608477.950    12196.752    0.75    
    CENTRE-POINT    2627120.000    4608477.950    12183.417        
    SKEY    II**
    ITEM-CODE    PP
    FLOW    0
    UCI    {000138B6-0000-0000-E60A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    PP
VALVE
    END-POINT    2627120.000    4609168.150    11891.312     4    FL
    END-POINT    2627120.000    4608939.550    11891.312     4    FL
    CENTRE-POINT    2627120.000    4609053.850    11891.312        
    SKEY    VV**
    ITEM-CODE    PVVG1FB81006
    ITEM-DESCRIPTION    Gate Valve,CL150,RF,Tr.8,A216-WCB, Tag No:GF-01A0-0801
    FLOW    1
    UCI    {00013885-0000-0000-E904-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    UP
    DIRECTION    UP
GASKET
    END-POINT    2627120.000    4608939.550    11891.312     4    
    END-POINT    2627120.000    4608936.375    11891.312     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-FF04-5CF8F14E2B04}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
BOLT
    CO-ORDS    2627120.000    4608939.550    11891.312        
    UCI    {000138A9-0000-0000-0005-5CF8F14E2B04}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
INSTRUMENT
    END-POINT    2628494.230    4607819.600    11878.615     3    FL
    END-POINT    2628713.230    4607819.600    11878.616     3    FL
    CENTRE-POINT    2628603.730    4607819.600    11878.615        
    SKEY    II**
    ITEM-CODE    241-FT-12001
    FLOW    1
    UCI    {000138B6-0000-0000-EB06-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    241$FT$12001
GASKET
    END-POINT    2628713.230    4607819.600    11878.616     3    
    END-POINT    2628716.405    4607819.600    11878.616     3    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-971C-BD85154F3204}
    ITEM-CODE    PGGC21300806
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
BOLT
    CO-ORDS    2628713.230    4607819.600    11878.616        
    UCI    {000138A9-0000-0000-981C-BD85154F3204}
    BOLT-DIA     .75
    BOLT-LENGTH     4.25
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00001Q
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  4.25 in. Length
    ERECTION-ITEM
VALVE
    END-POINT    2627120.000    4608936.375    11891.312     4    FL
    END-POINT    2627120.000    4608644.275    11891.312     4    FL
    CENTRE-POINT    2627120.000    4608790.325    11891.312        
    SKEY    CK**
    ITEM-CODE    PVVC1FC81007
    ITEM-DESCRIPTION    Swing Check Valve,CL150,RF,Tr.8,A216-WCB, Tag No:CF-01A0-0801
    FLOW    1
    UCI    {00013885-0000-0000-F704-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
GASKET
    END-POINT    2627120.000    4608641.100    11891.312     4    
    END-POINT    2627120.000    4608644.275    11891.312     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-1A05-5CF8F14E2B04}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
BOLT
    CO-ORDS    2627120.000    4608644.275    11891.312        
    UCI    {000138A9-0000-0000-1B05-5CF8F14E2B04}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
PIPE
    END-POINT    2628411.770    4607819.600    11878.615     3    
    END-POINT    2628009.145    4607819.600    11878.614     3    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    11.659
    UCI    {0001388C-0000-0000-FD05-5CF8F14E2B04}
    ITEM-CODE    PPPCH2050102
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    SPOOL-IDENTIFIER    F41-41-RW-LIM-12002-001-B
    CUT-PIECE-LENGTH    402.63
SUPPORT
    CO-ORDS    2628210.458    4607819.600    11878.614     3
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1-1-A-3"
    ITEM-DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-3" $
    WEIGHT    3.907
    UCI    {00022303-0000-0000-F80B-5CF8F14E2B04}
    NAME    S1_1-4-902
    FABRICATION-ITEM
WELD
    END-POINT    2628411.770    4607819.600    11878.615     3    
    END-POINT    2628411.770    4607819.600    11878.615     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-309
    UCI    {000138AA-0000-0000-1B06-5CF8F14E2B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-309
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    2627120.000    4608302.950    11973.867    0.75    
    END-POINT    2627120.000    4608302.950    12075.467    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-FE0A-5CF8F14E2B04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.314
WELD
    END-POINT    2627120.000    4608302.950    12075.467    0.75    
    END-POINT    2627120.000    4608302.950    12075.467    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-339
    UCI    {000138AA-0000-0000-1F0B-5CF8F14E2B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-339
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2627120.000    4608102.950    11986.567     2    
    END-POINT    2627120.000    4608102.950    12043.278     2    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    7.764
    UCI    {0001388C-0000-0000-D011-5DEA2F4F3204}
    ITEM-CODE    PPPCH2070100
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, XS, BBE
    CUT-PIECE-LENGTH    56.71
WELD
    END-POINT    2627120.000    4608102.950    12043.278     2    
    END-POINT    2627120.000    4608102.950    12043.278     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-303
    UCI    {000138AA-0000-0000-E211-5DEA2F4F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-303
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    2627120.000    4609722.525    11891.312     4    
    END-POINT    2627120.000    4609247.525    11891.312     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-6415-62F5C5502604}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    SPOOL-IDENTIFIER    F41-41-RW-LIM-12002-001-E
    CUT-PIECE-LENGTH    475.00
SUPPORT
    CO-ORDS    2627120.000    4609447.525    11891.312     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S1-1-A-4"
    ITEM-DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-4" $
    WEIGHT    3.907
    UCI    {00022303-0000-0000-7815-62F5C5502604}
    NAME    S1_1-4-1202
    FABRICATION-ITEM
WELD
    END-POINT    2627120.000    4609722.525    11891.312     4    
    END-POINT    2627120.000    4609722.525    11891.312     4    
    SKEY    WF
    REPEAT-WELD-IDENTIFIER    FFW-201
    UCI    {000138AA-0000-0000-6815-62F5C5502604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-FW-201
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Field fit weld at job site
    WELD-ATTRIBUTE4    By Pipe Erector, Field Fit
FLANGE
    END-POINT    2627120.000    4609887.625    11918.300     2    
    END-POINT    2627120.000    4609824.125    11918.300     2    
    SKEY    FLWN
    ITEM-CODE    PFFWG1170205
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, XS, RF, StdF, B16.5
    UCI    {00013885-0000-0000-5804-77C1BC503304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    SPOOL-IDENTIFIER    F41-41-RW-LIM-12002-001-F
    FABRICATION-ITEM
    WEIGHT    0.000
BOLT
    CO-ORDS    2627120.000    4609887.625    11918.300        
    UCI    {000138A9-0000-0000-6204-77C1BC503304}
    BOLT-DIA     .625
    BOLT-LENGTH     3.25
    BOLT-QUANTITY    4
    BOLT-ITEM-CODE    FBBS5D00000W
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.25 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    2627120.000    4609887.625    11918.300     2    
    END-POINT    2627120.000    4609890.800    11918.300     2    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-6104-77C1BC503304}
    ITEM-CODE    PGGC21100804
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
PIPE-FIXED
    END-POINT    2629195.405    4609111.550    12122.110    0.75    
    END-POINT    2629195.405    4609213.150    12122.110    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-000B-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.314
VALVE
    END-POINT    2627563.175    4607819.600    11707.167    0.75    SW
    END-POINT    2627563.175    4607819.600    11640.492    0.75    SW
    CENTRE-POINT    2627563.175    4607819.600    11673.829        
    SKEY    VV**
    ITEM-CODE    PVVG8AB81001
    ITEM-DESCRIPTION    Gate Valve,CL800,SW,Tr.8,A105N, Tag No:GS-08A0-0801
    FLOW    0
    UCI    {00013885-0000-0000-0313-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
WELD
    END-POINT    2627563.175    4607819.600    11707.167    0.75    
    END-POINT    2627563.175    4607819.600    11707.167    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-315
    UCI    {000138AA-0000-0000-1013-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-315
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    2629195.405    4609213.150    12122.110    0.75    SW
    END-POINT    2629195.405    4609279.825    12122.110    0.75    SW
    CENTRE-POINT    2629195.405    4609246.487    12122.110        
    SKEY    VV**
    ITEM-CODE    PVVG8AB81001
    ITEM-DESCRIPTION    Gate Valve,CL800,SW,Tr.8,A105N, Tag No:GS-08A0-0801
    FLOW    0
    UCI    {00013885-0000-0000-0E0B-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
WELD
    END-POINT    2629195.405    4609213.150    12122.110    0.75    
    END-POINT    2629195.405    4609213.150    12122.110    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-319
    UCI    {000138AA-0000-0000-1B0B-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-319
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    2627563.175    4607819.600    11640.492    0.75    
    END-POINT    2627563.175    4607819.600    11538.892    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-1413-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.387
WELD
    END-POINT    2627563.175    4607819.600    11640.492    0.75    
    END-POINT    2627563.175    4607819.600    11640.492    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-314
    UCI    {000138AA-0000-0000-1F13-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-314
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    2629195.405    4609279.825    12122.110    0.75    
    END-POINT    2629195.405    4609381.425    12122.110    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-1F0B-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.387
WELD
    END-POINT    2629195.405    4609279.825    12122.110    0.75    
    END-POINT    2629195.405    4609279.825    12122.110    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-318
    UCI    {000138AA-0000-0000-2A0B-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-318
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
CAP
    END-POINT    2627563.175    4607819.600    11538.892    0.75    SC
    END-POINT    2627563.175    4607819.600    11521.429    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-2213-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
CAP
    END-POINT    2629195.405    4609381.425    12122.110    0.75    SC
    END-POINT    2629195.405    4609398.887    12122.110    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-2D0B-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
MISC-COMPONENT
    END-POINT    2627351.775    4607819.600    11891.313     4    FL
    END-POINT    2627361.473    4607819.600    11891.313     4    FL
    CENTRE-POINT    2627356.624    4607819.600    11891.313        
    SKEY    SB
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    PFXAPV102E0H
    ITEM-DESCRIPTION    Blnd-Spec, RF, A516-70N, CL150
    FLOW    1
    UCI    {00013885-0000-0000-550B-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    OPEN
    MESSAGE
    TEXT    DRILL AND TAP FLANGE$AND SUPPLY JACK SCREWS AS PER$SUR2-AOA-00-ENG-MST-0045 DETAIL 13.
BOLT
    CO-ORDS    2627364.648    4607819.600    11891.313        
    UCI    {000138A9-0000-0000-7E0B-ABB8434F4304}
    BOLT-DIA     .625
    BOLT-LENGTH     4
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D000012
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  4 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    2627351.775    4607819.600    11891.313     4    
    END-POINT    2627348.600    4607819.600    11891.313     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-7C0B-ABB8434F4304}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
GASKET
    END-POINT    2627361.473    4607819.600    11891.313     4    
    END-POINT    2627364.648    4607819.600    11891.313     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-7D0B-ABB8434F4304}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
FLANGE
    END-POINT    2627348.600    4607819.600    11891.313     4    
    END-POINT    2627272.400    4607819.600    11891.313     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-630B-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
FLANGE
    END-POINT    2627364.648    4607819.600    11891.313     4    
    END-POINT    2627440.848    4607819.600    11891.313     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-6D0B-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    2629195.405    4609029.000    12122.110     4    
    END-POINT    2629195.405    4609029.000    12047.110     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-D609-ABB8434F4304}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    SPOOL-IDENTIFIER    F41-41-RW-LIM-12002-001-G
    CUT-PIECE-LENGTH    150.00
PIPE
    END-POINT    2629195.405    4609029.000    12197.110     4    
    END-POINT    2629195.405    4609029.000    12122.110     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    16.512
    UCI    {0001388C-0000-0000-D609-ABB8434F4304}
    ITEM-CODE    PPPCH2050103
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    150.00
WELD
    END-POINT    2629195.405    4609029.000    12047.110     4    
    END-POINT    2629195.405    4609029.000    12047.110     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-301
    UCI    {000138AA-0000-0000-F809-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-301
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2629195.405    4609029.000    12197.110     4    
    END-POINT    2629195.405    4609029.000    12197.110     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-109
    UCI    {000138AA-0000-0000-F201-CDD87E512706}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-109
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    2629195.405    4609029.000    11970.910     4    
    END-POINT    2629195.405    4609029.000    12047.110     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-D909-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
OLET
    CENTRE-POINT    2627563.175    4607819.600    11891.313        
    BRANCH1-POINT    2627563.175    4607819.600    11808.763    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P7Z
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-E112-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-316
    UCI    {000138AA-0000-0000-EF12-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-316
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2627563.175    4607819.600    11808.763    0.75    
    END-POINT    2627563.175    4607819.600    11808.767    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-317
    UCI    {000138AA-0000-0000-FF12-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-317
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    2629195.405    4609029.000    12122.110        
    BRANCH1-POINT    2629195.405    4609111.550    12122.110    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P7Z
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-F00A-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-321
    UCI    {000138AA-0000-0000-FC0A-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-321
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2629195.405    4609111.550    12122.110    0.75    
    END-POINT    2629195.405    4609111.550    12122.110    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-320
    UCI    {000138AA-0000-0000-0A0B-ABB8434F4304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-320
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    2627563.175    4607819.600    11808.767    0.75    
    END-POINT    2627563.175    4607819.600    11707.167    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-F512-ABB8434F4304}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.314
INSTRUMENT
    END-POINT    2627120.000    4608102.950    12116.303     2    FL
    END-POINT    2627120.000    4608102.950    12137.004     2    
    CENTRE-POINT    2627120.000    4608102.950    12116.303        
    SKEY    II**
    ITEM-CODE    241-TW-12001
    FLOW    0
    UCI    {000138B6-0000-0000-0A14-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    241$TW$12001
ELBOW
    END-POINT    2629195.405    4607819.600    12317.917     4    BW
    END-POINT    2629195.405    4607972.000    12470.317     4    BW
    CENTRE-POINT    2629195.405    4607819.600    12470.317        
    SKEY    EL**
    ITEM-CODE    PFQNG505160H
    ITEM-DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-0D1A-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
OLET
    CENTRE-POINT    2629195.405    4608145.600    12470.317        
    BRANCH1-POINT    2629195.405    4608145.600    12552.867    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P7Z
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-5E1A-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-327
    UCI    {000138AA-0000-0000-6A1A-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-327
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2629195.405    4608145.600    12552.867    0.75    
    END-POINT    2629195.405    4608145.600    12552.867    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-328
    UCI    {000138AA-0000-0000-781A-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-328
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    2627821.696    4607819.600    11891.313     4    
    END-POINT    2627745.496    4607819.600    11891.313     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    ITEM-DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-6217-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    2628941.405    4607819.600    11878.617     3    
    END-POINT    2628795.780    4607819.600    11878.617     3    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    WEIGHT    11.659
    UCI    {0001388C-0000-0000-621C-BD85154F3204}
    ITEM-CODE    PPPCH2050102
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    145.62
WELD
    END-POINT    2628941.405    4607819.600    11878.617     3    
    END-POINT    2628941.405    4607819.600    11878.617     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-304
    UCI    {000138AA-0000-0000-931C-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-304
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2628795.780    4607819.600    11878.617     3    
    END-POINT    2628795.780    4607819.600    11878.616     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-305
    UCI    {000138AA-0000-0000-951C-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-305
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    2628716.405    4607819.600    11878.616     3    
    END-POINT    2628795.780    4607819.600    11878.616     3    
    SKEY    FLWN
    ITEM-CODE    PFFWG1350206
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-671C-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE-FIXED
    END-POINT    2629195.405    4608145.600    12552.867    0.75    
    END-POINT    2629195.405    4608145.600    12654.467    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-6E1A-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.314
WELD
    END-POINT    2629195.405    4608145.600    12654.467    0.75    
    END-POINT    2629195.405    4608145.600    12654.467    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-326
    UCI    {000138AA-0000-0000-881A-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-326
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    2629195.405    4608145.600    12654.467    0.75    SW
    END-POINT    2629195.405    4608145.600    12721.142    0.75    SW
    CENTRE-POINT    2629195.405    4608145.600    12687.804        
    SKEY    VV**
    ITEM-CODE    PVVG8AB81001
    ITEM-DESCRIPTION    Gate Valve,CL800,SW,Tr.8,A105N, Tag No:GS-08A0-0801
    FLOW    0
    UCI    {00013885-0000-0000-7C1A-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
WELD
    END-POINT    2629195.405    4608145.600    12721.142    0.75    
    END-POINT    2629195.405    4608145.600    12721.142    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-325
    UCI    {000138AA-0000-0000-971A-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-325
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    2629195.405    4608145.600    12721.142    0.75    
    END-POINT    2629195.405    4608145.600    12822.742    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-8C1A-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.387
OLET
    CENTRE-POINT    2627120.000    4608302.950    11891.312        
    BRANCH1-POINT    2627120.000    4608302.950    11973.862    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P7Z
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-9513-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-335
    UCI    {000138AA-0000-0000-A113-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-335
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2627120.000    4608302.950    11973.867    0.75    
    END-POINT    2627120.000    4608302.950    11973.862    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-334
    UCI    {000138AA-0000-0000-1415-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-334
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
CAP
    END-POINT    2629195.405    4608145.600    12822.742    0.75    SC
    END-POINT    2629195.405    4608145.600    12840.204    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-9A1A-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
REDUCER-ECCENTRIC
    END-POINT    2629043.005    4607819.600    11891.317     4    BW
    END-POINT    2628941.405    4607819.600    11878.617     3    BW
    SKEY    RE**
    ITEM-CODE    PFCSG5051E29
    ITEM-DESCRIPTION    RedEcc, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-A51B-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    FLAT-DIRECTION    DOWN
WELD
    END-POINT    2629043.005    4607819.600    11891.317     4    
    END-POINT    2629043.005    4607819.600    11891.317     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-323
    UCI    {000138AA-0000-0000-AE1B-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-323
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    2627120.000    4608102.950    11891.313        
    BRANCH1-POINT    2627120.000    4608102.950    11986.563     2    
    SKEY    WTBW
    ITEM-CODE    PFLWG1051U2B
    ITEM-DESCRIPTION    Weldolet, A105N, StdWt, XS
    UCI    {00013885-0000-0000-AA13-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-333
    UCI    {000138AA-0000-0000-BD13-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-333
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2627120.000    4608102.950    11986.567     2    
    END-POINT    2627120.000    4608102.950    11986.563     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-332
    UCI    {000138AA-0000-0000-8E14-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-332
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    2627120.000    4608477.950    11891.312        
    BRANCH1-POINT    2627120.000    4608477.950    11973.862    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P7Z
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-AF12-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-337
    UCI    {000138AA-0000-0000-F712-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-337
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2627120.000    4608477.950    11973.867    0.75    
    END-POINT    2627120.000    4608477.950    11973.862    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-336
    UCI    {000138AA-0000-0000-ED14-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-336
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    2627120.000    4608377.950    11891.312        
    BRANCH1-POINT    2627120.000    4608377.950    11808.762    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P7Z
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-B216-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-331
    UCI    {000138AA-0000-0000-D916-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-331
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    2627120.000    4608377.950    11808.767    0.75    
    END-POINT    2627120.000    4608377.950    11808.762    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-330
    UCI    {000138AA-0000-0000-2617-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-330
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    2627120.000    4609722.525    11891.312     4    BW
    END-POINT    2627120.000    4609824.125    11918.300     2    BW
    SKEY    RE**
    ITEM-CODE    PFCSG5052D2B
    ITEM-DESCRIPTION    RedEcc, BW, A234-WPB, StdWt, XS
    UCI    {00013885-0000-0000-C907-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    FLAT-DIRECTION    UP
WELD
    END-POINT    2627120.000    4609824.125    11918.300     2    
    END-POINT    2627120.000    4609824.125    11918.300     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-351
    UCI    {000138AA-0000-0000-2600-F2B6C0503604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-351
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    2627907.546    4607819.600    11891.314     4    BW
    END-POINT    2628009.146    4607819.600    11878.614     3    BW
    SKEY    RE**
    ITEM-CODE    PFCSG5051E29
    ITEM-DESCRIPTION    RedEcc, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-DD1A-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
    FLAT-DIRECTION    DOWN
WELD
    END-POINT    2628009.145    4607819.600    11878.614     3    
    END-POINT    2628009.146    4607819.600    11878.614     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-324
    UCI    {000138AA-0000-0000-9D1B-BD85154F3204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-324
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    2629043.005    4607819.600    11891.317     4    BW
    END-POINT    2629195.405    4607819.600    12043.717     4    BW
    CENTRE-POINT    2629195.405    4607819.600    11891.317        
    SKEY    EL**
    ITEM-CODE    PFQNG505160H
    ITEM-DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-FF19-BD85154F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    2629195.405    4607819.600    12043.717     4    
    END-POINT    2629195.405    4607819.600    12043.717     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-329
    UCI    {000138AA-0000-0000-8D04-346A214F2F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-F41-41-RW-LIM-12002-001-SW-329
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE-BLIND
    END-POINT    2629195.405    4609444.925    12470.317     4    
    END-POINT    2629195.405    4609467.213    12470.317     4    
    SKEY    FLBL
    ITEM-CODE    PFFBG1100L08
    ITEM-DESCRIPTION    Flg Bld, A105N, CL150, RF, StdF, B16.5
    UCI    {00013885-0000-0000-380E-F6D7164F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    7.711
    MESSAGE
    TEXT    TRUCK OUT CONNECTION
BOLT
    CO-ORDS    2629195.405    4609444.925    12470.317        
    UCI    {000138A9-0000-0000-400E-F6D7164F3204}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    2629195.405    4609441.750    12470.317     4    
    END-POINT    2629195.405    4609444.925    12470.317     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-3F0E-F6D7164F3204}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
VALVE
    END-POINT    2629195.405    4609029.000    11967.735     4    FL
    END-POINT    2629195.405    4609029.000    11739.135     4    FL
    CENTRE-POINT    2629195.405    4609029.000    11853.435        
    SKEY    VV**
    ITEM-CODE    PVVG1FB81006
    ITEM-DESCRIPTION    Gate Valve,CL150,RF,Tr.8,A216-WCB, Tag No:GF-01A0-0801
    FLOW    1
    UCI    {00013885-0000-0000-F80E-F6D7164F3204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    ERECTION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
BOLT
    CO-ORDS    2629195.405    4609029.000    11967.735        
    UCI    {000138A9-0000-0000-0C0F-F6D7164F3204}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
BOLT
    CO-ORDS    2629195.405    4609029.000    11739.135        
    UCI    {000138A9-0000-0000-F600-576570514E04}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    2629195.405    4609029.000    11735.960     4    
    END-POINT    2629195.405    4609029.000    11739.135     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-F500-576570514E04}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
GASKET
    END-POINT    2629195.405    4609029.000    11970.910     4    
    END-POINT    2629195.405    4609029.000    11967.735     4    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-0B0F-F6D7164F3204}
    ITEM-CODE    PGGC21100807
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
FLANGE
    CONTINUATION
    END-POINT    2629195.405    4609029.000    11735.960     4    
    END-POINT    2629195.405    4609029.000    11659.760     4    
    SKEY    FLWN
    ITEM-CODE    PFFWG1150208
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-EB00-576570514E04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING ON
    TRACING-SPEC    ELECTRIC
    MISC-SPEC1    RW-241-12002
    PIPING-SPEC    AWA
    FABRICATION-ITEM
    WEIGHT    0.000
FLOW-ARROW
    CO-ORDS    2629195.405    4608534.912    12470.317
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    2627120.000    4609485.025    11891.312
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    2628210.457    4607819.600    11878.614
    FLOW 2
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    2629195.405    4609029.000    12084.610
    FLOW 1
    SKEY FLOW
END-POSITION-CLOSED
    CO-ORDS    2627120.000    4608302.950    12196.752
END-POSITION-CLOSED
    CO-ORDS    2627120.000    4608377.950    11521.429
END-POSITION-CLOSED
    CO-ORDS    2627120.000    4608477.950    12196.752
END-CONNECTION-EQUIPMENT
    CO-ORDS    2627120.000    4609890.800    11918.300
    CONNECTION-REFERENCE  241-P-112/N1$2 in RFFE 150
END-POSITION-CLOSED
    CO-ORDS    2627563.175    4607819.600    11521.429
END-POSITION-CLOSED
    CO-ORDS    2629195.405    4609398.887    12122.110
END-POSITION-CLOSED
    CO-ORDS    2627120.000    4608102.950    12137.004
END-POSITION-CLOSED
    CO-ORDS    2629195.405    4608145.600    12840.204
END-POSITION-CLOSED
    CO-ORDS    2629195.405    4609467.213    12470.317
END-CONNECTION-PIPELINE
    CO-ORDS    2629195.405    4609029.000    11659.760
    CONNECTION-REFERENCE  SUR2-F41-41-RW-LIM-12002-002
MATERIALS
ITEM-CODE    PFXAPV102E0H
    DESCRIPTION    Blnd-Spec, RF, A516-70N, CL150
ITEM-CODE    PGGC21100807
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
ITEM-CODE    FBBS5D000012
    DESCRIPTION    StdBlt, A193B7/2H -  4 in. Length
ITEM-CODE    PFFWG1150208
    DESCRIPTION    WN Flg, A105N, CL150, StdWt, RF, StdF, B16.5
ITEM-CODE    PPPCH2050103
    DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
ITEM-CODE    S1-1-A-4"
    DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-4" $
ITEM-CODE    PFCTG5051C0H
    DESCRIPTION    Te, BW, A234-WPB, StdWt
ITEM-CODE    PVVG1FB81006
    DESCRIPTION    Gate Valve,CL150,RF,Tr.8,A216-WCB, Tag No:GF-01A0-0801
ITEM-CODE    FBBS5D00000X
    DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
ITEM-CODE    PFFWG1350206
    DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
ITEM-CODE    PGGC21300806
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
ITEM-CODE    FBBS5D00001Q
    DESCRIPTION    StdBlt, A193B7/2H -  4.25 in. Length
ITEM-CODE    PVVG8BB81001
    DESCRIPTION    Gate Valve,CL800,FSWxFNPT,Tr.8,A105N, Tag No:GX-08A0-0801
ITEM-CODE    PFTPG1000H01
    DESCRIPTION    Plug H/Hd, MNPT, A105N
ITEM-CODE    PFQNG505160H
    DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
ITEM-CODE    PFFWG1370205
    DESCRIPTION    WN Flg, A105N, CL300, XS, RF, StdF, B16.5
ITEM-CODE    PGGC21300804
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
ITEM-CODE    PFNPH20D0504
    DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
ITEM-CODE    PVVG8AB81001
    DESCRIPTION    Gate Valve,CL800,SW,Tr.8,A105N, Tag No:GS-08A0-0801
ITEM-CODE    PFNPH2091N04
    DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
ITEM-CODE    PFCCG1W00801
    DESCRIPTION    Cap, FNPT, A105N, CL6000
ITEM-CODE    PYSTCS100006
    DESCRIPTION    Start Up Strainer Cone CL150, B16.5, 100%, 1/8"@3/16" A516-70N MST0045-Det.11
ITEM-CODE    FBBS5D00000Y
    DESCRIPTION    StdBlt, A193B7/2H -  3.75 in. Length
ITEM-CODE    PVVC1FC81007
    DESCRIPTION    Swing Check Valve,CL150,RF,Tr.8,A216-WCB, Tag No:CF-01A0-0801
ITEM-CODE    PPPCH2050102
    DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
ITEM-CODE    S1-1-A-3"
    DESCRIPTION    S1-1-A Pipe Shoe (Carbon Steel), 1" To 6"$Tag No: S1-1-A-3" $
ITEM-CODE    PPPCH2070100
    DESCRIPTION    Pipe, A106-B, SMLS, XS, BBE
ITEM-CODE    PFFWG1170205
    DESCRIPTION    WN Flg, A105N, CL150, XS, RF, StdF, B16.5
ITEM-CODE    FBBS5D00000W
    DESCRIPTION    StdBlt, A193B7/2H -  3.25 in. Length
ITEM-CODE    PGGC21100804
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL150, B16.20, B16.5
ITEM-CODE    PFLSG1W01P7Z
    DESCRIPTION    Sockolet, A105N, CL6000
ITEM-CODE    PFCSG5051E29
    DESCRIPTION    RedEcc, BW, A234-WPB, StdWt
ITEM-CODE    PFLWG1051U2B
    DESCRIPTION    Weldolet, A105N, StdWt, XS
ITEM-CODE    PFCSG5052D2B
    DESCRIPTION    RedEcc, BW, A234-WPB, StdWt, XS
ITEM-CODE    PFFBG1100L08
    DESCRIPTION    Flg Bld, A105N, CL150, RF, StdF, B16.5
