ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221014
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1221014-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-021
    ATTRIBUTE21 SG
    ATTRIBUTE22 11/5/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 1/19/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 1/15/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SG
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 3/16/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/23/2009
    ATTRIBUTE48 KGR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BJL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  58309.861          64367.453          11975.078  1.5  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DU                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POINT  58310.551          64367.453          11975.078  1.5
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58310.551          64367.453          11975.078 
GASKET
    END-POINT  58309.861          64367.453          11975.078  1.5
    END-POINT  58309.736          64367.453          11975.078  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DV                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58309.861          64367.453          11975.078 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DW                 
VALVE
    END-POINT  58303.236          64367.453          11975.078  1.5  FL
    END-POINT  58309.736          64367.453          11975.078  1.5  FL
    CENTRE-POINT   58306.486          64367.453          11975.078 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DP                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58303.236          64367.453          11975.078  1.5
    END-POINT  58303.111          64367.453          11975.078  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58303.236          64367.453          11975.078 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DR                 
FLANGE
    END-POINT  58303.111          64367.453          11975.078  1.5  FL
    END-POINT  58300.671          64367.453          11975.078  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DN                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58300.671          64367.453          11975.078  1.5
    END-POINT  58300.671          64367.453          11975.078  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58298.421          64367.453          11972.828  1.5  BW
    END-POINT  58298.421          64367.453          11977.328  1.5  BW
    CENTRE-POINT   58298.421          64367.453          11975.078 
    BRANCH1-POINT  58300.671          64367.453          11975.078  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DK                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.421          64367.453          11972.828  1.5
    END-POINT  58298.421          64367.453          11972.828  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58298.421          64367.453          11977.328  1.5
    END-POINT  58298.421          64367.453          11977.328  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58298.421          64367.453          11977.328  1.5  BW
    END-POINT  58298.421          64367.453          12068.765  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58298.421          64367.453          12068.765  1.5
    END-POINT  58298.421          64367.453          12068.765  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8DZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58298.421          64367.453          12068.765  1.5  BW
    END-POINT  58296.171          64367.453          12071.015  1.5  BW
    CENTRE-POINT   58298.421          64367.453          12071.015 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_52U                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58296.171          64367.453          12071.015  1.5
    END-POINT  58296.171          64367.453          12071.015  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_52V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58296.171          64367.453          12071.015  1.5  BW
    END-POINT  58098.802          64367.453          12071.015  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_52W                 
    TAG FCV-009-10                      
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58282.902  64367.453  12071.015  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOP                 
SUPPORT
    CO-ORDS  58192.792  64367.453  12071.015  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOT                 
WELD
    END-POINT  58098.802          64367.453          12071.015  1.5
    END-POINT  58098.802          64367.453          12071.015  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_52X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58098.802          64367.453          12071.015  1.5  BW
    END-POINT  58096.552          64365.203          12071.015  1.5  BW
    CENTRE-POINT   58096.552          64367.453          12071.015 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_52Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58096.552  64367.453  12071.015 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58096.552  64378.800  12071.015 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58096.552  64367.453  12071.015 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64367.453  12071.015 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58096.552          64365.203          12071.015  1.5
    END-POINT  58096.552          64365.203          12071.015  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_52Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58096.552          64362.763          12071.015  1.5  FL
    END-POINT  58096.552          64365.203          12071.015  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_530                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58096.552          64362.763          12071.015  1.5
    END-POINT  58096.552          64362.638          12071.015  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_531                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58096.552          64362.638          12071.015 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_532                 
FLANGE
    END-POINT  58096.552          64362.638          12071.015  1.5  FL
    END-POINT  58096.552          64362.430          12071.015  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_533                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.552          64362.430          12071.015  1.5
    END-POINT  58096.552          64362.430          12071.015  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_534                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.552          64362.430          12071.015  1.5
    END-POINT  58096.552          64362.430          12071.015  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_535                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58096.552          64332.119          12071.015  1.5  BW
    END-POINT  58096.552          64362.430          12071.015  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_536                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.552          64332.119          12071.015  1.5
    END-POINT  58096.552          64332.119          12071.015  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_537                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58096.552          64329.869          12073.265  1.5  BW
    END-POINT  58096.552          64329.869          12068.765  1.5  BW
    CENTRE-POINT   58096.552          64329.869          12071.015 
    BRANCH1-POINT  58096.552          64332.119          12071.015  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_538                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58096.552          64329.869          12073.265  1.5
    END-POINT  58096.552          64329.869          12073.265  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BO9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.552          64329.869          12068.765  1.5
    END-POINT  58096.552          64329.869          12068.765  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_53A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58096.552          64329.869          12068.765  1.5  BW
    END-POINT  58096.552          64329.869          11977.901  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_53B                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58096.552  64329.869  12037.858 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58096.552  64329.869  11987.193  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BO2                 
WELD
    END-POINT  58096.552          64329.869          11977.901  1.5
    END-POINT  58096.552          64329.869          11977.901  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BN4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58096.552          64329.869          11977.901  1.5  BW
    END-POINT  58096.552          64329.869          11973.401  1.5  BW
    CENTRE-POINT   58096.552          64329.869          11975.651 
    BRANCH1-POINT  58096.552          64327.619          11975.651  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BN2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58096.552          64329.869          11973.401  1.5
    END-POINT  58096.552          64329.869          11973.401  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BN9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.552          64327.619          11975.651  1.5
    END-POINT  58096.552          64327.619          11975.651  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BPQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58096.552          64327.619          11975.651  1.5  BW
    END-POINT  58096.548          64312.274          11975.651  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BPP                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.548          64312.274          11975.651  1.5
    END-POINT  58096.548          64312.274          11975.651  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BPR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58096.548          64312.274          11975.651  1.5  BW
    END-POINT  58094.298          64310.024          11975.651  1.5  BW
    CENTRE-POINT   58096.548          64310.024          11975.651 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8E2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58094.298          64310.024          11975.651  1.5
    END-POINT  58094.298          64310.024          11975.651  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8E6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58094.298          64310.024          11975.651  1.5  BW
    END-POINT  58070.014          64310.024          11975.651  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8E5                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58082.479  64310.246  11975.651 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58070.014          64310.024          11975.651  1.5
    END-POINT  58070.014          64310.024          11975.651  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8E7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58070.014          64310.024          11975.651  1.5
    END-POINT  58070.014          64310.024          11975.651  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8E8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58069.807          64310.024          11975.651  1.5  FL
    END-POINT  58070.014          64310.024          11975.651  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_53M                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58069.807          64310.024          11975.651  1.5
    END-POINT  58069.682          64310.024          11975.651  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_53N                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58069.682          64310.024          11975.651 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_53O                 
VALVE
    END-POINT  58063.182          64310.024          11975.651  1.5  FL
    END-POINT  58069.682          64310.024          11975.651  1.5  FL
    CENTRE-POINT   58066.432          64310.024          11975.651 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2_1
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_53P                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
MESSAGE-CIRCLE
    CO-ORDS  58066.432  64310.024  11975.651 
    TEXT FV$009$10
    UNDIMENSIONED
GASKET
    END-POINT  58063.182          64310.024          11975.651  1.5
    END-POINT  58063.057          64310.024          11975.651  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8E0                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58063.057          64310.024          11975.651 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8E1                 
FLANGE
    END-POINT  58063.057          64310.024          11975.651  1.5  FL
    END-POINT  58060.617          64310.024          11975.651  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8A8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58060.617          64310.024          11975.651  1.5
    END-POINT  58060.617          64310.024          11975.651  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8A9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58056.117          64310.024          11975.651  1.5  BW
    END-POINT  58060.617          64310.024          11975.651  1.5  BW
    CENTRE-POINT   58058.367          64310.024          11975.651 
    BRANCH1-POINT  58058.367          64310.024          11973.401  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8A3                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58056.117          64310.024          11975.651  1.5
    END-POINT  58056.117          64310.024          11975.651  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8EG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58058.367          64310.024          11973.401  1.5
    END-POINT  58058.367          64310.024          11973.401  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8A5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58058.367          64310.024          11973.401  1.5  BW
    END-POINT  58058.367          64310.024          11970.901  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8A0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58058.367          64310.024          11970.901  1
    END-POINT  58058.367          64310.024          11970.901  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BPS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58058.367          64310.024          11968.711  1  FL
    END-POINT  58058.367          64310.024          11970.901  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BPL                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58058.367          64310.024          11968.711  1
    END-POINT 
** 
Processing ID: AT_FE4CY0WC_BPT  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BPT                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58058.367          64310.024          11968.711 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BPU                 
END-POSITION-OPEN 
    CO-ORDS  58058.367  64310.024  11968.711 
FLANGE
    END-POINT  58053.677          64310.024          11975.651  1.5  FL
    END-POINT  58056.117          64310.024          11975.651  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8EF                 
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58053.677          64310.024          11975.651 
REDUCER-CONCENTRIC
    END-POINT  58096.552          64329.869          11973.401  1.5  BW
    END-POINT  58096.552          64329.869          11970.901  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BN8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.552          64329.869          11970.901  0.75
    END-POINT  58096.552          64329.869          11970.901  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BNB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58096.552          64329.869          11970.901  0.75  BW
    END-POINT  58096.552          64329.869          11966.371  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BNA                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58096.552          64329.869          11966.371  0.75  SW FEMALE 
    END-POINT  58096.552          64329.869          11966.371  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BND                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58096.552          64329.869          11966.371  0.75  SW FEMALE 
    END-POINT  58096.552          64329.869          11964.421  0.75  SW FEMALE 
    CENTRE-POINT   58096.552          64329.869          11965.396 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BNC                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58096.552          64329.869          11964.421  0.75
    END-POINT  58096.552          64329.869          11964.421  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BNH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58096.552          64329.869          11964.421  0.75  PL
    END-POINT  58096.552          64329.869          11959.891  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BNG                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58096.552          64329.869          11959.891  0.75  SC FEMALE 
    END-POINT  58096.552          64329.869          11959.891  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BNJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  58096.552          64329.869          11959.891  0.75  SC FEMALE 
    END-POINT  58096.552          64329.869          11958.451  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BNI                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58096.552          64329.869          11958.451 
REDUCER-CONCENTRIC
    END-POINT  58096.552          64329.869          12073.265  1.5  BW
    END-POINT  58096.552          64329.869          12075.765  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BO8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58096.552          64329.869          12075.765  0.5
    END-POINT  58096.552          64329.869          12075.765  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOB                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58096.552          64329.869          12075.765  0.5  BW
    END-POINT  58096.552          64329.869          12080.175  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOA                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58096.552          64329.869          12080.175  0.5  SW FEMALE 
    END-POINT  58096.552          64329.869          12080.175  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58096.552          64329.869          12080.175  0.5  SW FEMALE 
    END-POINT  58096.552          64329.869          12081.945  0.5  SW FEMALE 
    CENTRE-POINT   58096.552          64329.869          12081.060 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOC                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58096.552          64329.869          12081.945  0.5
    END-POINT  58096.552          64329.869          12081.945  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58096.552          64329.869          12081.945  0.5  PL
    END-POINT  58096.552          64329.869          12086.355  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOK                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58096.552          64329.869          12086.355  0.5  SC FEMALE 
    END-POINT  58096.552          64329.869          12086.355  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BON                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  58096.552          64329.869          12086.355  0.5  SC FEMALE 
    END-POINT  58096.552          64329.869          12087.605  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BOM                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58096.552          64329.869          12087.605 
REDUCER-CONCENTRIC
    END-POINT  58298.421          64367.453          11972.828  1.5  BW
    END-POINT  58298.421          64367.453          11970.328  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58298.421          64367.453          11970.328  0.75
    END-POINT  58298.421          64367.453          11970.328  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58298.421          64367.453          11970.328  0.75  BW
    END-POINT  58298.421          64367.453          11968.088  0.75  BW
    CENTRE-POINT   58298.421          64367.453          11969.208 
    BRANCH1-POINT  58297.301          64367.453          11969.208  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLL                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.421          64367.453          11968.088  0.75
    END-POINT  58298.421          64367.453          11968.088  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58297.301          64367.453          11969.208  0.75
    END-POINT  58297.301          64367.453          11969.208  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BMB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58297.301          64367.453          11969.208  0.75  BW
    END-POINT  58263.965          64367.453          11969.208  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BMA                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58263.965          64367.453          11969.208  0.75
    END-POINT  58263.965          64367.453          11969.208  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BMC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58263.965          64367.453          11969.208  0.75  BW
    END-POINT  58262.840          64367.453          11968.083  0.75  BW
    CENTRE-POINT   58262.840          64367.453          11969.208 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58262.840          64367.453          11968.083  0.75
    END-POINT  58262.840          64367.453          11968.083  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58262.840          64367.453          11963.940  0.75  PL
    END-POINT  58262.840          64367.453          11968.083  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLP                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58262.840          64367.453          11963.940  0.75
    END-POINT  58262.840          64367.453          11963.940  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLQ                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58262.840          64367.453          11961.690  0.75  SW FEMALE 
    END-POINT  58262.840          64367.453          11963.940  0.75  SW FEMALE 
    CENTRE-POINT   58262.840          64367.453          11962.815 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB3/4
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BJR                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58262.840          64367.453          11961.690  0.75  SW FEMALE 
    END-POINT  58262.840          64367.453          11961.690  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BJS                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58262.840          64367.453          11957.363  0.75  BW
    END-POINT  58262.840          64367.453          11961.690  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BJL                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58262.840          64367.453          11957.363  0.75
    END-POINT  58262.840          64367.453          11957.363  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BJM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58263.960          64367.453          11956.243  0.75  BW
    END-POINT  58261.720          64367.453          11956.243  0.75  BW
    CENTRE-POINT   58262.840          64367.453          11956.243 
    BRANCH1-POINT  58262.840          64367.453          11957.363  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BIQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58262.840  64367.453  11956.243  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDC                 
    TAG                         P619-FIG 1                      
WELD
    END-POINT  58263.960          64367.453          11956.243  0.75
    END-POINT  58263.960          64367.453          11956.243  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BK5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58261.720          64367.453          11956.243  0.75
    END-POINT  58261.720          64367.453          11956.243  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CCV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58259.720          64367.453          11956.373  1  BW
    END-POINT  58261.720          64367.453          11956.243  0.75  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CCT                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58259.720          64367.453          11956.373  1
    END-POINT  58259.720          64367.453          11956.373  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58253.553          64367.453          11956.373  1  PL
    END-POINT  58259.720          64367.453          11956.373  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD7                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58253.553          64367.453          11956.373  1
    END-POINT  58253.553          64367.453          11956.373  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58253.553          64367.453          11956.373  1
    END-POINT  58253.553          64367.453          11956.373  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58253.357          64367.453          11956.373  1  FL
    END-POINT  58253.553          64367.453          11956.373  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD4                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58253.357          64367.453          11956.373  1
    END-POINT  58253.232          64367.453          11956.373  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD5                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58253.357          64367.453          11956.373 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD6                 
MISC-COMPONENT
    END-POINT  58243.982          64367.453          11956.373  1  FL
    END-POINT  58253.232          64367.453          11956.373  1  FL
    CENTRE-POINT  58248.607  64367.453  11956.373 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD1                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58248.607  64367.453  11956.373 
    TEXT 3P$FE$009$10
    UNDIMENSIONED
GASKET
    END-POINT  58243.982          64367.453          11956.373  1
    END-POINT  58243.857          64367.453          11956.373  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58243.982          64367.453          11956.373 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD3                 
FLANGE
    END-POINT  58243.857          64367.453          11956.373  1  FL
    END-POINT  58243.662          64367.453          11956.373  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CCY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58243.662          64367.453          11956.373  1
    END-POINT  58243.662          64367.453          11956.373  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CCZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58243.662          64367.453          11956.373  1
    END-POINT  58243.662          64367.453          11956.373  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CD0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58239.662          64367.453          11956.373  1  BW
    END-POINT  58243.662          64367.453          11956.373  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CCW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58239.662          64367.453          11956.373  1
    END-POINT  58239.662          64367.453          11956.373  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CCX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58237.162          64367.453          11956.668  1.5  BW
    END-POINT  58239.662          64367.453          11956.373  1  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CCC                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58237.162          64367.453          11956.668  1.5
    END-POINT  58237.162          64367.453          11956.668  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CCE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58235.225          64367.453          11956.668  1.5  PL
    END-POINT  58237.162          64367.453          11956.668  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AJY                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58235.225          64367.453          11956.668  1.5
    END-POINT  58235.225          64367.453          11956.668  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AJZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58231.705          64367.453          11956.668  1.5  SW FEMALE 
    END-POINT  58235.225          64367.453          11956.668  1.5  SW FEMALE 
    CENTRE-POINT   58233.465          64367.453          11956.668 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2_2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5B8                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58231.705          64367.453          11956.668  1.5
    END-POINT  58231.705          64367.453          11956.668  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58231.705          64367.453          11956.668  1.5  PL
    END-POINT  58226.175          64367.453          11956.668  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7K                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58226.175          64367.453          11956.668  1.5
    END-POINT  58226.175          64367.453          11956.668  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58223.925          64367.453          11954.418  1.5  BW
    END-POINT  58226.175          64367.453          11956.668  1.5  BW
    CENTRE-POINT   58223.925          64367.453          11956.668 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_896                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58223.925          64367.453          11954.418 
    PIPELINE-REFERENCE ISO-PY3-1221012
PIPE
    END-POINT  58263.960          64367.453          11956.243  0.75  BW
    END-POINT  58267.837          64367.453          11956.243  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BK4                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58267.837          64367.453          11956.243  0.75  SW FEMALE 
    END-POINT  58267.837          64367.453          11956.243  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BK7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58267.837          64367.453          11956.243  0.75  SW FEMALE 
    END-POINT  58269.787          64367.453          11956.243  0.75  SW FEMALE 
    CENTRE-POINT   58268.812          64367.453          11956.243 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BK6                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58269.787          64367.453          11956.243  0.75
    END-POINT  58269.787          64367.453          11956.243  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58280.082          64367.453          11956.243  0.75  PL
    END-POINT  58269.787          64367.453          11956.243  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C99                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58280.082          64367.453          11956.243  0.75
    END-POINT  58280.082          64367.453          11956.243  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BL0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58280.082          64367.453          11956.243  0.75
    END-POINT  58280.082          64367.453          11956.243  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BL1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58280.257          64367.453          11956.243  0.75  FL
    END-POINT  58280.082          64367.453          11956.243  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKW                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58280.257          64367.453          11956.243  0.75
    END-POINT  58280.382          64367.453          11956.243  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKX                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58280.257          64367.453          11956.243 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKY                 
INSTRUMENT
    END-POINT  58287.757          64367.453          11956.243  0.75  FL
    END-POINT  58280.382          64367.453          11956.243  0.75  FL
    CENTRE-POINT   58284.070          64367.453          11956.243 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKR                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58284.070  64367.453  11956.243 
    TEXT FCV$009$10
    UNDIMENSIONED
GASKET
    END-POINT  58287.757          64367.453          11956.243  0.75
    END-POINT  58287.882          64367.453          11956.243  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKS                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58287.757          64367.453          11956.243 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKT                 
FLANGE
    END-POINT  58287.882          64367.453          11956.243  0.75  FL
    END-POINT  58288.058          64367.453          11956.243  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKO                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58288.058          64367.453          11956.243  0.75
    END-POINT  58288.058          64367.453          11956.243  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58288.058          64367.453          11956.243  0.75
    END-POINT  58288.058          64367.453          11956.243  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58297.296          64367.453          11956.243  0.75  BW
    END-POINT  58288.058          64367.453          11956.243  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKM                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58293.600  64367.453  11956.243  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BMH                 
    TAG                         P619-FIG 1                      
WELD
    END-POINT  58297.296          64367.453          11956.243  0.75
    END-POINT  58297.296          64367.453          11956.243  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58297.296          64367.453          11956.243  0.75  BW
    END-POINT  58298.421          64367.453          11957.368  0.75  BW
    CENTRE-POINT   58298.421          64367.453          11956.243 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BKA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58298.421          64367.453          11957.368  0.75
    END-POINT  58298.421          64367.453          11957.368  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BM8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58298.421          64367.453          11961.789  0.75  PL
    END-POINT  58298.421          64367.453          11957.368  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BM6                 
    PIPING-SPEC S1
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58298.421  64367.453  11957.368 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64367.453  11957.368 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT col 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58298.421  64367.453  11957.368 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58298.421  64378.800  11957.368 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX 
    MESSAGE
    TEXT COL G
SOCKET-WELD
    END-POINT  58298.421          64367.453          11961.789  0.75
    END-POINT  58298.421          64367.453          11961.789  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BM7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58298.421          64367.453          11963.739  0.75  SW FEMALE 
    END-POINT  58298.421          64367.453          11961.789  0.75  SW FEMALE 
    CENTRE-POINT   58298.421          64367.453          11962.764 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BM2                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58298.421          64367.453          11963.739  0.75  SW FEMALE 
    END-POINT  58298.421          64367.453          11963.739  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BM3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58298.421          64367.453          11968.088  0.75  BW
    END-POINT  58298.421          64367.453          11963.739  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BLX                 
    PIPING-SPEC S1
    INSULATION-ON 
MATERIALS
ITEM-CODE FLGBLD1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION P624,  FIG 4.  L=59.60
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION P629 FIG 8 & P651 FIG 1
ITEM-CODE VALVBAL1+1/2_1
    CATALOG CYTEC VALVE
    DESCRIPTION CONTROL VALVE, FV-009-10
    RATING 150LB
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDCON1+1/2X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE REDCON1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVGLB3/4
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 200LB, GL-01-ST-302
    RATING 200LB
ITEM-CODE SUPST-3/4
    DESCRIPTION STANCHION BASE SUPPORT L=2'-8"  P619-FIG 1
ITEM-CODE REDECC1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GENSTR1
    DESCRIPTION GP3-3P-F3-009-10
    RATING 150LB
ITEM-CODE REDECC1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL1+1/2_2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, (TYPE EB), 150LB, RF, CS, FCV-009-10
    RATING 150LB
