ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2051017
PIPING-SPEC S11
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 PW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2051017-PW-S11
    ATTRIBUTE95 I1
    ATTRIBUTE94 S11
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FILTER
    END-POINT  58069.782          64138.800          11875.993  1.25  PL
    END-POINT  58069.782          64138.800          11873.062  1.25  SC MALE 
    SKEY FISC
    FABRICATION-ITEM
    ITEM-CODE ADPT5961+1/4X1+1/4
    WEIGHT           0.520
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISQ                 
    PIPING-SPEC S11
    INSULATION-ON 
MESSAGE
    CO-ORDS  58069.782  64138.800  11873.750 
    TEXT TO 3RD FLOOR$SAFETY SHOWER, SP-752
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58069.782          64138.800          11873.062 
REDUCER-CONCENTRIC
    END-POINT  58069.782          64138.800          11880.243  1.5  PL
    END-POINT  58069.782          64138.800          11875.993  1.25  PL
    SKEY RCPL
    FABRICATION-ITEM
    ITEM-CODE RED5941+1/2X1+1/4
    WEIGHT           0.430
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISP                 
    PIPING-SPEC S11
    INSULATION-ON 
FILTER
    END-POINT  58069.782          64138.800          11880.243  1.5  PL
    END-POINT  58069.782          64138.800          11885.683  1.5  PL
    SKEY FIPL
    ERECTION-ITEM
    ITEM-CODE UNN5841+1/2
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISO                 
    PIPING-SPEC S11
    INSULATION-ON 
PIPE
    END-POINT  58069.782          64138.800          11885.683  1.5  PL
    END-POINT  58069.782          64138.800          11892.683  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISN                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58069.782          64138.800          11892.683  1.5  PL
    END-POINT  58069.782          64144.030          11897.913  1.5  PL
    CENTRE-POINT   58069.782          64138.800          11897.913 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISM                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58069.782          64156.030          11897.913  1.5  PL
    END-POINT  58069.782          64144.030          11897.913  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISL                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58069.782          64156.030          11897.913  1.5  PL
    END-POINT  58064.552          64161.260          11897.913  1.5  PL
    CENTRE-POINT   58069.782          64161.260          11897.913 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISK                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58064.552          64161.260          11897.913  1.5  PL
    END-POINT  58034.943          64161.260          11897.913  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISH                 
    PIPING-SPEC S11
    INSULATION-ON 
SUPPORT
    CO-ORDS  58058.515  64161.260  11897.913  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISI                 
FLOW-ARROW
    CO-ORDS  58046.635  64161.260  11897.913 
    FLOW 2
    SKEY FLOW
ELBOW
    END-POINT  58034.943          64161.260          11897.913  1.5  PL
    END-POINT  58029.713          64161.260          11892.683  1.5  PL
    CENTRE-POINT   58029.713          64161.260          11897.913 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISF                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58036.443  64161.260  11897.913 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58036.443  64138.800  11897.913 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL F
PIPE
    END-POINT  58029.713          64161.260          11892.683  1.5  PL
    END-POINT  58029.713          64161.260          11885.683  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISE                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58029.713          64161.260          11885.683  1.5  PL
    END-POINT  58029.713          64156.030          11880.452  1.5  PL
    CENTRE-POINT   58029.713          64161.260          11880.452 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISC                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58029.713  64161.260  11887.183 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64161.260  11887.183 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 2
PIPE
    END-POINT  58029.713          64156.030          11880.452  1.5  PL
    END-POINT  58029.713          64149.125          11880.452  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISB                 
    PIPING-SPEC S11
    INSULATION-ON 
TEE
    END-POINT  58029.713          64147.505          11881.968  2  PL
    END-POINT  58029.713          64147.505          11878.938  2  PL
    CENTRE-POINT   58029.713          64147.505          11880.452 
    BRANCH1-POINT  58029.713          64149.125          11880.452  1.5  PL
    SKEY TEPL
    CONTINUATION 
    WEIGHT           1.250
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ISA                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58029.713          64147.505          11881.968 
    PIPELINE-REFERENCE ISO-PY3-2051006
MATERIALS
ITEM-CODE ADPT5961+1/4X1+1/4
    CATALOG VICTAULIC
    DESCRIPTION MALE THRD ADAPTER, PRESSFIT STYLE 596, ASTM A312 GR 304/304L
ITEM-CODE RED5941+1/2X1+1/4
    CATALOG VICTAULIC
    DESCRIPTION CONC REDUCER, PRESSFIT STYLE 594, ASTM A312 GR 304/304L
ITEM-CODE UNN5841+1/2
    CATALOG VICTAULIC
    DESCRIPTION UNION, PRESSFIT, STYLE 584, ASTM A312 GR 304/304L
ITEM-CODE PIPPF1+1/2
    CATALOG VICTAULIC
    DESCRIPTION PIPE, PRESSFIT STYLE 905, ASTM A312 GR 304/304L - 0"
    RATING 5S
ITEM-CODE 90L5901+1/2
    CATALOG VICTAULIC
    DESCRIPTION 90 DEG LR ELBOW, PRESSFIT STYLE 590, ASTM A312 GR 304/304L
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION ANGLED U BOLT SUPPORT, L=1'-7 5/8", P625 FIG 4
