ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212016
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212016-VT-S1
    ATTRIBUTE95 None
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/13/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/27/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/16/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58190.235          64153.769          11350.313  2  FL
    END-POINT  58190.235          64153.769          11350.529  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AFH                 
    PIPING-SPEC S1
GASKET
    END-POINT  58190.235          64153.769          11350.313  2
    END-POINT  58190.235          64153.769          11350.188  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ICZ                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58190.235          64153.769          11350.313 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ID0                 
WELD
    END-POINT  58190.235          64153.769          11350.529  2
    END-POINT  58190.235          64153.769          11350.529  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ICX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58190.235          64153.769          11350.529  2
    END-POINT  58190.235          64153.769          11350.529  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ICY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58190.235          64153.769          11350.188 
PIPE
    END-POINT  58190.235          64153.769          11358.985  2  BW
    END-POINT  58190.235          64153.769          11350.529  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ICV                 
    PIPING-SPEC S1
WELD
    END-POINT  58190.235          64153.769          11358.985  2
    END-POINT  58190.235          64153.769          11358.985  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ICW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58190.235          64153.769          11358.985  2  BW
    END-POINT  58190.235          64156.769          11361.985  2  BW
    CENTRE-POINT   58190.235          64153.769          11361.985 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BFF                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58190.235          64156.769          11361.985  2
    END-POINT  58190.235          64156.769          11361.985  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FYS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58190.235          64169.814          11361.985  2  BW
    END-POINT  58190.235          64156.769          11361.985  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FYQ                 
    PIPING-SPEC S1
WELD
    END-POINT  58190.235          64169.814          11361.985  2
    END-POINT  58190.235          64169.814          11361.985  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FYR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58190.235          64169.814          11361.985  2  BW
    END-POINT  58190.235          64172.814          11364.985  2  BW
    CENTRE-POINT   58190.235          64172.814          11361.985 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FYO                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58190.235          64172.814          11364.985  2
    END-POINT  58190.235          64172.814          11364.985  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FYV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58190.235          64172.814          11364.985  2  BW
    END-POINT  58190.235          64172.814          11387.004  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FYU                 
    PIPING-SPEC S1
WELD
    END-POINT  58190.235          64172.814          11387.004  2
    END-POINT  58190.235          64172.814          11387.004  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FZG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58193.235          64172.814          11390.004  2  BW
    END-POINT  58190.235          64172.814          11387.004  2  BW
    CENTRE-POINT   58190.235          64172.814          11390.004 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FZD                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58190.235  64172.814  11390.004 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64172.814  11390.004 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58193.235          64172.814          11390.004  2
    END-POINT  58193.235          64172.814          11390.004  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ID4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58193.235          64172.814          11390.004  2  BW
    END-POINT  58309.167          64172.814          11390.004  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BFS                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58255.342  64172.814  11390.004 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58309.167          64172.814          11390.004  2
    END-POINT  58309.167          64172.814          11390.004  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ID3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58309.167          64172.814          11390.004  2  BW
    END-POINT  58312.167          64172.814          11393.004  2  BW
    CENTRE-POINT   58312.167          64172.814          11390.004 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BFU                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58312.167  64172.814  11390.004 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58312.167  64138.748  11390.004 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58312.167          64172.814          11393.004  2
    END-POINT  58312.167          64172.814          11393.004  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BFY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58312.167          64172.814          11393.004  2  BW
    END-POINT  58312.167          64172.814          11452.113  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BFX                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58312.167  64172.814  11400.009  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BFZ                 
    TAG                         P615 FIG. 5                     
FLOOR-SYMBOL 
    CO-ORDS  58312.167  64172.814  11400.000 
    SKEY FLOR
MESSAGE
    CO-ORDS  58312.167  64172.814  11400.000 
    TEXT Floor Penetration
FLOW-ARROW
    CO-ORDS  58312.167  64172.814  11412.796 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58312.167          64172.814          11452.113  2
    END-POINT  58312.167          64172.814          11452.113  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BG3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58312.167          64172.814          11452.113  2
    END-POINT  58312.167          64172.814          11452.113  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BG4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58312.167          64172.814          11452.330  2  FL
    END-POINT  58312.167          64172.814          11452.113  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BG2                 
    PIPING-SPEC S1
GASKET
    END-POINT  58312.167          64172.814          11452.455  2
    END-POINT  58312.167          64172.814          11452.330  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FT4                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58312.167          64172.814          11452.455 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FT5                 
VALVE-ANGLE
    END-POINT  58312.167          64172.814          11452.455  2  FL
    END-POINT  58317.667          64172.814          11456.585  3  FL
    CENTRE-POINT   58312.167          64172.814          11456.585 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FT2                 
    TAG PSV-005-05                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58312.167  64172.814  11456.585 
    TEXT PSV$005$05
    UNDIMENSIONED
GASKET
    END-POINT  58317.792          64172.814          11456.585  3
    END-POINT  58317.667          64172.814          11456.585  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ID6                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58317.792          64172.814          11456.585  3  FL
    END-POINT  58318.071          64172.814          11456.585  3  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ID5                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58318.071          64172.814          11456.585 
    PIPELINE-REFERENCE ISO-PY3-1212017
MATERIALS
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP, P615 FIG. 5
ITEM-CODE VALVREL2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-005-05
    RATING 150LB
