ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212025
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212025-VT-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 SG
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 RHP
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 DC
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58198.735          64150.269          11350.313  2  FL
    END-POINT  58198.735          64150.269          11350.529  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FZR                 
    PIPING-SPEC S1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58198.735  64150.269  11350.529 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64150.269  11350.529 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58198.735  64150.269  11350.529 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58198.735  64138.748  11350.529 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
GASKET
    END-POINT  58198.735          64150.269          11350.313  2
    END-POINT  58198.735          64150.269          11350.188  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IHU                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58198.735          64150.269          11350.313 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IHV                 
WELD
    END-POINT  58198.735          64150.269          11350.529  2
    END-POINT  58198.735          64150.269          11350.529  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IC4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58198.735          64150.269          11350.529  2
    END-POINT  58198.735          64150.269          11350.529  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IC5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58198.735          64150.269          11350.188 
PIPE
    END-POINT  58198.735          64150.269          11350.529  2  PL
    END-POINT  58198.735          64150.269          11355.529  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IB3                 
    PIPING-SPEC S1
WELD
    END-POINT  58198.735          64150.269          11355.529  2
    END-POINT  58198.735          64150.269          11355.529  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IC3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  58198.735          64150.269          11355.529  2  BW
    END-POINT  58198.735          64150.269          11358.529  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IBD                 
    PIPING-SPEC S1
WELD
    END-POINT  58198.735          64150.269          11358.529  1.5
    END-POINT  58198.735          64150.269          11358.529  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IC2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58198.735          64150.269          11358.529  1.5  BW
    END-POINT  58198.735          64150.269          11363.603  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IBF                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58198.735  64150.269  11360.960 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58198.735          64150.269          11363.603  1.5
    END-POINT  58198.735          64150.269          11363.603  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IC0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58198.735          64150.269          11363.603  1.5
    END-POINT  58198.735          64150.269          11363.603  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IC1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58198.735          64150.269          11363.810  1.5  FL
    END-POINT  58198.735          64150.269          11363.603  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FWQ                 
    PIPING-SPEC S1
GASKET
    END-POINT  58198.735          64150.269          11363.810  1.5
    END-POINT  58198.735          64150.269          11363.935  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IHX                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58198.735          64150.269          11363.935 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IHY                 
VALVE-ANGLE
    END-POINT  58198.735          64150.269          11363.935  1.5  FL
    END-POINT  58198.735          64155.144          11369.060  3  FL
    CENTRE-POINT   58198.735          64150.269          11369.060 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL1+1/2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IC6                 
    TAG PSV-005-06                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58198.735  64150.269  11369.060 
    TEXT PSV$005$06
    UNDIMENSIONED
GASKET
    END-POINT  58198.735          64155.269          11369.060  3
    END-POINT  58198.735          64155.144          11369.060  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ICE                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58198.735          64155.269          11369.060  3  FL
    END-POINT  58198.735          64155.548          11369.060  3  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G0C                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58198.735          64155.548          11369.060 
    PIPELINE-REFERENCE ISO-PY3-1212026
MATERIALS
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE REDCON2X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL1+1/2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-005-06
    RATING 150LB
