ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036027
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2036027-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  58104.815          64118.305          11953.764  0.5  SW FEMALE 
    END-POINT  58106.995          64118.305          11953.764  0.5  SW FEMALE 
    CENTRE-POINT   58105.700          64118.305          11953.764 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMN                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS  58106.995  64118.305  11953.764 
    TEXT TUBING TO$LT-067-01
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58104.815          64118.305          11953.764  0.5  SW FEMALE 
    END-POINT  58104.815          64118.305          11953.764  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58106.995          64118.305          11953.764 
PIPE
    END-POINT  58100.405          64118.305          11953.764  0.5  BW
    END-POINT  58104.815          64118.305          11953.764  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58100.405          64118.305          11953.764  0.5
    END-POINT  58100.405          64118.305          11953.764  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMS                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58099.285          64118.305          11954.884  0.75  BW
    END-POINT  58099.285          64118.305          11952.644  0.75  BW
    CENTRE-POINT   58099.285          64118.305          11953.764 
    BRANCH1-POINT  58100.405          64118.305          11953.764  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED3/4X1/2
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMT                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58099.285          64118.305          11954.884  0.75
    END-POINT  58099.285          64118.305          11954.884  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58099.285          64118.305          11952.644  0.75
    END-POINT  58099.285          64118.305          11952.644  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.285          64118.305          11952.644  0.75  BW
    END-POINT  58099.285          64118.305          11907.977  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMW                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58099.285  64118.305  11928.010  0.75
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMX                 
FLOOR-SYMBOL 
    CO-ORDS  58099.285  64118.305  11925.481 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58099.285  64118.305  11925.481 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58099.285          64118.305          11907.977  0.75
    END-POINT  58099.285          64118.305          11907.977  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IMZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58098.160          64118.305          11906.852  0.75  BW
    END-POINT  58099.285          64118.305          11907.977  0.75  BW
    CENTRE-POINT   58099.285          64118.305          11906.852 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN0                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58099.285  64118.305  11906.852 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58099.285  64138.748  11906.852 
    REFERENCED-ITEM
    ITEM-DIRECTION 3/4
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58098.160          64118.305          11906.852  0.75
    END-POINT  58098.160          64118.305          11906.852  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58098.160          64118.305          11906.852  0.75  BW
    END-POINT  58039.726          64118.305          11906.852  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN3                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58060.118  64118.305  11906.852  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN4                 
FLOW-ARROW
    CO-ORDS  58077.431  64118.305  11906.852 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58039.726          64118.305          11906.852  0.75
    END-POINT  58039.726          64118.305          11906.852  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58038.601          64118.305          11905.727  0.75  BW
    END-POINT  58039.726          64118.305          11906.852  0.75  BW
    CENTRE-POINT   58038.601          64118.305          11906.852 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN7                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58038.601          64118.305          11905.727  0.75
    END-POINT  58038.601          64118.305          11905.727  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58038.601          64118.305          11905.727  0.75  BW
    END-POINT  58038.601          64118.305          11901.235  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58038.601          64118.305          11901.235  0.75
    END-POINT  58038.601          64118.305          11901.235  0.75
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      58038.601  64118.305  11899.173 
    BRANCH1-POINT  58038.601          64118.305          11901.235  0.75  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B25                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.601  64118.305  11899.173 
    PIPELINE-REFERENCE ISO-PY3-2036033
PIPE
    END-POINT  58099.285          64118.305          11954.884  0.75  BW
    END-POINT  58099.285          64118.305          11959.384  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INB                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58099.285          64118.305          11959.384  0.75
    END-POINT  58099.285          64118.305          11959.384  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INC                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58099.285          64118.305          11959.384  0.75  SW FEMALE 
    END-POINT  58099.285          64118.305          11961.634  0.75  SW FEMALE 
    CENTRE-POINT   58099.285          64118.305          11960.509 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB3/4
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IND                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58099.285          64118.305          11961.634  0.75  SW FEMALE 
    END-POINT  58099.285          64118.305          11961.634  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INF                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.285          64118.305          11965.495  0.75  BW
    END-POINT  58099.285          64118.305          11961.634  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ING                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58099.285          64118.305          11965.495  0.75
    END-POINT  58099.285          64118.305          11965.495  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58098.160          64118.305          11966.620  0.75  BW
    END-POINT  58099.285          64118.305          11965.495  0.75  BW
    CENTRE-POINT   58099.285          64118.305          11966.620 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INI                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58098.160          64118.305          11966.620  0.75
    END-POINT  58098.160          64118.305          11966.620  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58098.160          64118.305          11966.620  0.75  BW
    END-POINT  58094.597          64118.305          11966.620  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INK                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58094.597          64118.305          11966.620  0.75  SC MALE 
    END-POINT  58094.597          64118.305          11966.620  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INL                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
MISC-COMPONENT-RETURN
    END-POINT  58094.597          64118.305          11966.620  0.75  SC FEMALE 
    END-POINT  58094.597          64118.305          11979.120  0.75  SC FEMALE 
    SKEY BRSC
    ERECTION-ITEM
    ITEM-CODE GENRET3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INM                 
    TAG FIC-067-05                      
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58093.160  64118.305  11972.870 
    TEXT FIC$067$05
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58094.597          64118.305          11979.120  0.75  SC FEMALE 
    END-POINT  58094.597          64118.305          11979.120  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INO                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58098.160          64118.305          11979.120  0.75  BW
    END-POINT  58094.597          64118.305          11979.120  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INP                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58098.160          64118.305          11979.120  0.75
    END-POINT  58098.160          64118.305          11979.120  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58098.160          64118.305          11979.120  0.75  BW
    END-POINT  58099.285          64118.305          11980.245  0.75  BW
    CENTRE-POINT   58099.285          64118.305          11979.120 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58099.285          64118.305          11980.245  0.75
    END-POINT  58099.285          64118.305          11980.245  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.285          64118.305          11984.775  0.75  PL
    END-POINT  58099.285          64118.305          11980.245  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INT                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58099.285          64118.305          11984.775  0.75
    END-POINT  58099.285          64118.305          11984.775  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58099.285          64118.305          11986.725  0.75  SW FEMALE 
    END-POINT  58099.285          64118.305          11984.775  0.75  SW FEMALE 
    CENTRE-POINT   58099.285          64118.305          11985.750 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INV                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58099.285          64118.305          11986.725  0.75  SW FEMALE 
    END-POINT  58099.285          64118.305          11986.725  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.285          64118.305          12002.065  0.75  BW
    END-POINT  58099.285          64118.305          11986.725  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58099.285          64118.305          12002.065  0.75
    END-POINT  58099.285          64118.305          12002.065  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_INZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58099.285          64118.305          12002.065  0.75  BW
    END-POINT  58099.960          64117.405          12003.190  0.75  BW
    CENTRE-POINT   58099.285          64118.305          12003.190 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO0                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58099.285  64118.305  12003.190 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64118.305  12003.190 
    REFERENCED-ITEM
    ITEM-DIRECTION 3/4
    SKEY 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58099.960          64117.405          12003.190  0.75
    END-POINT  58099.960          64117.405          12003.190  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58099.960          64117.405          12003.190  0.75  BW
    END-POINT  58116.744          64094.993          12003.190  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO3                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58104.500  64111.342  12003.190  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO4                 
SOCKET-WELD
    END-POINT  58116.744          64094.993          12003.190  0.75
    END-POINT  58116.744          64094.993          12003.190  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO5                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58116.744          64094.993          12003.190  0.75  SW FEMALE 
    END-POINT  58118.393          64092.791          12003.190  0.75  SW FEMALE 
    CENTRE-POINT   58117.569          64093.892          12003.190 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO6                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58118.393          64092.791          12003.190  0.75  SW FEMALE 
    END-POINT  58118.393          64092.791          12003.190  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO7                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58121.090          64089.190          12003.190  0.75  BW
    END-POINT  58118.393          64092.791          12003.190  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58121.090          64089.190          12003.190  0.75
    END-POINT  58121.090          64089.190          12003.190  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IO9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58121.765          64088.289          12002.065  0.75  BW
    END-POINT  58121.090          64089.190          12003.190  0.75  BW
    CENTRE-POINT   58121.765          64088.289          12003.190 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IOA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58121.765          64088.289          12002.065  0.75
    END-POINT  58121.765          64088.289          12002.065  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IOB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58121.765          64088.289          12000.065  1  BW
    END-POINT  58121.765          64088.289          12002.065  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IOC                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58121.765          64088.289          12000.065  1
    END-POINT  58121.765          64088.289          12000.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IOD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58121.765          64088.289          11997.875  1  FL
    END-POINT  58121.765          64088.289          12000.065  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IOE                 
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58121.765          64088.289          11997.875 
MATERIALS
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-3/4
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION GENERAL HANGER, 1'-0" LG, P624 FIG 1
ITEM-CODE VALVGLB3/4
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 200LB, GL-01-ST-302
    RATING 200LB
ITEM-CODE GENRET3/4
    DESCRIPTION FLOW INDICATING CONTROLLER, FIC-067-05
    RATING 2000LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPRH-3/4_2
    DESCRIPTION GENERAL HANGER, L=10'-3 9/16", P624 FIG 3
ITEM-CODE VALVCHK3/4
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE REDCON1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
