ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214006
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214006-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/16/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/22/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 10/28/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 D. DURK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BJL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 8/31/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 KC
    ATTRIBUTE62 DD
    ATTRIBUTE63 DELETED VENT
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57866.270          64329.879          12047.344  2  FL
    END-POINT  57868.770          64329.879          12047.344  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PO                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57866.145          64329.879          12047.344  2
    END-POINT  57866.270          64329.879          12047.344  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
WELD
    END-POINT  57868.770          64329.879          12047.344  2
    END-POINT  57868.770          64329.879          12047.344  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
INSTRUMENT
    END-POINT  57866.145          64329.879          12047.344  2  FL
    END-POINT  57859.145          64329.879          12047.344  2  FL
    CENTRE-POINT   57862.645          64329.879          12047.344 
    SKEY CVFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PW                 
    TAG FV$009$16                       
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  57859.145          64329.879          12047.344 
    PIPELINE-REFERENCE ISO-PY3-1215023
TEE
    END-POINT  57868.770          64329.879          12047.344  2  BW
    END-POINT  57873.770          64329.879          12047.344  2  BW
    CENTRE-POINT   57871.270          64329.879          12047.344 
    BRANCH1-POINT  57871.270          64327.379          12047.330  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5P5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57873.770          64329.879          12047.344  2
    END-POINT  57873.770          64329.879          12047.344  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57871.270          64327.379          12047.330  2
    END-POINT  57871.270          64327.379          12047.330  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5P7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57871.270          64324.879          12047.317  2  FL
    END-POINT  57871.270          64327.379          12047.330  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5P6                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57871.270          64324.754          12047.317  2
    END-POINT  57871.270          64324.879          12047.317  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5P9                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57871.270          64324.754          12047.317 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PA                 
INSTRUMENT
    END-POINT  57871.270          64324.754          12047.317  2  FL
    END-POINT  57871.270          64317.754          12047.280  2  FL
    CENTRE-POINT   57871.270          64321.254          12047.299 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5P8                 
    TAG FV$009$15                       
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
    DIRECTION UP 0 SOUTH
MESSAGE-CIRCLE
    CO-ORDS  57871.270  64321.254  12047.299 
    TEXT FV$009$15
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57871.270  64321.254  12047.299 
    TEXT FC
    UNDIMENSIONED
GASKET
    END-POINT  57871.270          64317.629          12047.280  2
    END-POINT  57871.270          64317.754          12047.280  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PC                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57871.270          64317.629          12047.280 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PD                 
FLANGE
    END-POINT  57871.270          64317.629          12047.280  2  FL
    END-POINT  57871.270          64317.413          12047.279  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57871.270          64317.413          12047.279  2
    END-POINT  57871.270          64317.413          12047.279  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57871.270          64317.413          12047.279  2
    END-POINT  57871.270          64317.413          12047.279  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57871.270          64317.413          12047.279  2  PL
    END-POINT  57871.270          64314.879          12047.265  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57871.270          64314.879          12047.265  2
    END-POINT  57871.270          64314.879          12047.265  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5PH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57871.270          64314.879          12047.265  2  BW
    END-POINT  57868.270          64311.879          12047.234  2  BW
    CENTRE-POINT   57871.270          64311.879          12047.250 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5P1                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57868.270          64311.879          12047.234  2
    END-POINT  57868.270          64311.879          12047.234  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5P2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57827.038          64311.879          12047.019  2  BW
    END-POINT  57868.270          64311.879          12047.234  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5OT                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57838.617  64311.879  12047.080 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57859.069  64311.879  12047.186  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_672                 
WELD
    END-POINT  57827.038          64311.879          12047.019  2
    END-POINT  57827.038          64311.879          12047.019  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5OU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57824.054          64311.879          12044.019  2  BW
    END-POINT  57827.038          64311.879          12047.019  2  BW
    CENTRE-POINT   57824.054          64311.879          12047.004 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5OS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8970
WELD
    END-POINT  57824.054          64311.879          12044.019  2
    END-POINT  57824.054          64311.879          12044.019  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5OW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57824.054          64311.879          12044.019  2  BW
    END-POINT  57824.054          64311.879          11714.521  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_NM                  
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOOR-SYMBOL 
    CO-ORDS  57824.054  64311.879  11928.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57824.054  64311.879  11928.000 
    TEXT Floor Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  57824.054  64311.879  11831.703 
    FLOW 2
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  57824.054  64311.879  11784.005 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57824.054  64311.879  11784.005 
    TEXT Floor Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57824.054  64311.879  11784.005  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5NB                 
SUPPORT
    CO-ORDS  57824.054  64311.879  11929.236  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5O2                 
FLOW-ARROW
    CO-ORDS  57824.054  64311.879  11964.505 
    FLOW 2
    SKEY FLOW
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57824.054  64311.879  12035.004 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57824.054  64378.800  12035.004 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57824.054  64311.879  12035.004 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64311.879  12035.004 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57824.054          64311.879          11714.521  2
    END-POINT  57824.054          64311.879          11714.521  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_32G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57825.030          64311.879          11712.165  2  BW
    END-POINT  57824.054          64311.879          11714.521  2  BW
    CENTRE-POINT   57824.054          64311.879          11713.141 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_329                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57825.030          64311.879          11712.165  2
    END-POINT  57825.030          64311.879          11712.165  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57829.940          64311.879          11707.254  2  BW
    END-POINT  57825.030          64311.879          11712.165  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MH                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57829.940          64311.879          11707.254  2
    END-POINT  57829.940          64311.879          11707.254  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57829.940          64311.879          11707.254  2  BW
    END-POINT  57832.054          64308.890          11705.125  2  BW
    CENTRE-POINT   57832.054          64311.879          11705.141 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8979
WELD
    END-POINT  57832.054          64308.890          11705.125  2
    END-POINT  57832.054          64308.890          11705.125  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57832.054          64266.984          11704.907  2  BW
    END-POINT  57832.054          64308.890          11705.125  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5ML                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57832.054  64299.800  11705.078  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5N0                 
WELD
    END-POINT  57832.054          64266.984          11704.907  2
    END-POINT  57832.054          64266.984          11704.907  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57832.054          64266.984          11704.907  2  BW
    END-POINT  57832.054          64264.000          11701.907  2  BW
    CENTRE-POINT   57832.054          64264.000          11704.891 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MK                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8970
WELD
    END-POINT  57832.054          64264.000          11701.907  2
    END-POINT  57832.054          64264.000          11701.907  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57832.054          64264.000          11690.214  2  BW
    END-POINT  57832.054          64264.000          11701.907  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57832.054          64264.000          11690.214  2
    END-POINT  57832.054          64264.000          11690.214  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5MP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57832.054          64264.000          11690.214  2  BW
    END-POINT  57829.070          64264.000          11687.214  2  BW
    CENTRE-POINT   57832.054          64264.000          11687.229 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5LO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  57829.070          64264.000          11687.214  2
    END-POINT  57829.070          64264.000          11687.214  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5LT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57829.070          64264.000          11687.214  2  BW
    END-POINT  57757.051          64264.000          11686.833  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5LS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57757.051          64264.000          11686.833  2
    END-POINT  57757.051          64264.000          11686.833  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57754.066          64264.000          11683.833  2  BW
    END-POINT  57757.051          64264.000          11686.833  2  BW
    CENTRE-POINT   57754.066          64264.000          11686.818 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5HS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  57754.066          64264.000          11683.833  2
    END-POINT  57754.066          64264.000          11683.833  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5J5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57754.066          64264.000          11597.172  2  BW
    END-POINT  57754.066          64264.000          11683.833  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5J3                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57754.066  64264.000  11635.455 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57754.066          64264.000          11597.172  2
    END-POINT  57754.066          64264.000          11597.172  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5J4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57751.082          64264.000          11594.172  2  BW
    END-POINT  57754.066          64264.000          11597.172  2  BW
    CENTRE-POINT   57754.066          64264.000          11594.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5IY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  57751.082          64264.000          11594.172  2
    END-POINT  57751.082          64264.000          11594.172  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57626.046          64264.000          11593.526  2  BW
    END-POINT  57751.082          64264.000          11594.172  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5J0                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57693.047  64264.000  11593.875 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57738.066  64264.000  11594.109  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_66W                 
SUPPORT
    CO-ORDS  57738.066  64264.000  11594.109  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_66Y                 
WELD
    END-POINT  57626.046          64264.000          11593.526  2
    END-POINT  57626.046          64264.000          11593.526  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5J1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57623.061          64264.000          11590.526  2  BW
    END-POINT  57626.046          64264.000          11593.526  2  BW
    CENTRE-POINT   57623.061          64264.000          11593.510 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5IZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  57623.061          64264.000          11590.526  2
    END-POINT  57623.061          64264.000          11590.526  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5WH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57623.061          64264.000          11590.526  2  BW
    END-POINT  57623.061          64264.000          11566.568  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5WG                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57623.061          64264.000          11566.568  2
    END-POINT  57623.061          64264.000          11566.568  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FIT5S0UM_8K                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57623.061          64264.000          11566.568  2  BW
    END-POINT  57623.061          64261.016          11563.568  2  BW
    CENTRE-POINT   57623.061          64264.000          11563.583 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FIT5S0UM_75                  
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
END-CONNECTION-PIPELINE 
    CO-ORDS  57623.061          64261.016          11563.568 
    PIPELINE-REFERENCE ISO-UT3-1214006
PIPE
    END-POINT  57965.844          64329.879          12046.851  2  BW
    END-POINT  57873.770          64329.879          12047.344  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57910.827  64329.879  12047.145  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UP                 
WELD
    END-POINT  57965.844          64329.879          12046.851  2
    END-POINT  57965.844          64329.879          12046.851  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57968.829          64329.879          12043.851  2  BW
    END-POINT  57965.844          64329.879          12046.851  2  BW
    CENTRE-POINT   57968.829          64329.879          12046.835 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5HM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  57968.829          64329.879          12043.851  2
    END-POINT  57968.829          64329.879          12043.851  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5I0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57968.829          64329.879          11980.674  2  BW
    END-POINT  57968.829          64329.879          12043.851  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5HY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57968.829          64329.879          11980.674  2
    END-POINT  57968.829          64329.879          11980.674  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5HZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57968.829          64326.895          11977.674  2  BW
    END-POINT  57968.829          64329.879          11980.674  2  BW
    CENTRE-POINT   57968.829          64329.879          11977.690 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5HL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  57968.829          64326.895          11977.674  2
    END-POINT  57968.829          64326.895          11977.674  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5I3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57968.829          64326.895          11977.674  2  BW
    END-POINT  57968.829          64302.879          11977.549  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5I2                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57968.829  64314.303  11977.608 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57968.829          64302.879          11977.549  2
    END-POINT  57968.829          64302.879          11977.549  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5I4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57971.829          64299.879          11977.518  2  BW
    END-POINT  57968.829          64302.879          11977.549  2  BW
    CENTRE-POINT   57968.829          64299.879          11977.533 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5HK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57971.829          64299.879          11977.518  2
    END-POINT  57971.829          64299.879          11977.518  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5I6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57971.829          64299.879          11977.518  2  BW
    END-POINT  57997.773          64299.879          11977.383  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5I5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57997.773          64299.879          11977.383  2
    END-POINT  57997.773          64299.879          11977.383  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5I7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58000.758          64299.879          11974.383  2  BW
    END-POINT  57997.773          64299.879          11977.383  2  BW
    CENTRE-POINT   58000.758          64299.879          11977.367 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5HJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58000.758  64299.879  11977.367 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64299.879  11977.367 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58000.758  64299.879  11977.367 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58000.758  64378.800  11977.367 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58000.758          64299.879          11974.383  2
    END-POINT  58000.758          64299.879          11974.383  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_66J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58000.758          64299.879          11962.927  2  PL
    END-POINT  58000.758          64299.879          11974.383  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_66G                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58000.758          64299.879          11962.927  2
    END-POINT  58000.758          64299.879          11962.927  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_66H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58000.758          64299.879          11962.927  2
    END-POINT  58000.758          64299.879          11962.927  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_66I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58000.758          64299.879          11962.711  2  FL
    END-POINT  58000.758          64299.879          11962.927  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_66C                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58000.758          64299.879          11962.711  2
    END-POINT 
** 
Processing ID: AT_FE4D4QFS_7UR  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58000.758          64299.879          11962.711 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7US                 
END-POSITION-OPEN 
    CO-ORDS  58000.758  64299.879  11962.711 
MATERIALS
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FV-009-15
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION ROD HANGER P624 FIG 2, L=6'-11 1/8", X=2'-10 1/2"
ITEM-CODE SUPRH-2_1
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2_2
    DESCRIPTION ROD HANGER P624 FIG 2, L= 5'-5 1/4", X=1'-11 1/2"
ITEM-CODE SUPUB-2
    DESCRIPTION U BOLT SUPPORT, P651 FIG 1
ITEM-CODE SUPAG-2
    DESCRIPTION STEEL SUPPORT, P629 FIG 10, X=2'-3 3/4", L=1'-3"
ITEM-CODE SUPRH-2_3
    DESCRIPTION ROD HANGER P624 FIG 4, L=6'-10 7/16"
