ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212013
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DDM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212013-DDM-S1
    ATTRIBUTE95 None
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/13/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/15/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/2/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  58199.406          64139.529          11289.184  0.75  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_23Q                 
    PIPING-SPEC S1
    END-POINT  58199.906          64139.529          11289.184  0.75
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58199.906          64139.529          11289.184 
GASKET
    END-POINT  58199.406          64139.529          11289.184  0.75
    END-POINT  58199.281          64139.529          11289.184  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5W                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58199.406          64139.529          11289.184 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5X                 
VALVE
    END-POINT  58194.656          64139.529          11289.184  0.75  FL
    END-POINT  58199.281          64139.529          11289.184  0.75  FL
    CENTRE-POINT   58196.968          64139.529          11289.184 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_23L                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58194.656          64139.529          11289.184  0.75
    END-POINT  58194.531          64139.529          11289.184  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5Y                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58194.656          64139.529          11289.184 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5Z                 
FLANGE
    END-POINT  58194.531          64139.529          11289.184  0.75  FL
    END-POINT  58194.355          64139.529          11289.184  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_23I                 
    PIPING-SPEC S1
WELD
    END-POINT  58194.355          64139.529          11289.184  0.75
    END-POINT  58194.355          64139.529          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_A42                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58194.355          64139.529          11289.184  0.75
    END-POINT  58194.355          64139.529          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_A43                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58191.355          64139.529          11289.184  0.75  BW
    END-POINT  58194.355          64139.529          11289.184  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_A40                 
    PIPING-SPEC S1
WELD
    END-POINT  58191.355          64139.529          11289.184  0.75
    END-POINT  58191.355          64139.529          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58190.235          64140.649          11289.184  0.75  BW
    END-POINT  58190.235          64138.409          11289.184  0.75  BW
    CENTRE-POINT   58190.235          64139.529          11289.184 
    BRANCH1-POINT  58191.355          64139.529          11289.184  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_238                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58190.235          64140.649          11289.184  0.75
    END-POINT  58190.235          64140.649          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G51                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58190.235          64138.409          11289.184  0.75
    END-POINT  58190.235          64138.409          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G50                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58190.235          64140.649          11289.184  0.75  BW
    END-POINT  58190.235          64142.889          11289.184  0.75  BW
    CENTRE-POINT   58190.235          64141.769          11289.184 
    BRANCH1-POINT  58190.235          64141.769          11290.305  0.75  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_21K                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58190.235          64142.889          11289.184 
    PIPELINE-REFERENCE ISO-PY3-1212012
PIPE
    END-POINT  58190.235          64138.409          11289.184  0.75  BW
    END-POINT  58190.235          64121.316          11289.185  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_251                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58190.235  64126.427  11289.185 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58190.235  64127.159  11289.185  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPAB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_9IF                 
    TAG                         P618 FIG. 1                     
WELD
    END-POINT  58190.235          64121.316          11289.185  0.75
    END-POINT  58190.235          64121.316          11289.185  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_253                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58191.735          64119.816          11289.185  0.75  BW
    END-POINT  58190.235          64121.316          11289.185  0.75  BW
    CENTRE-POINT   58190.235          64119.816          11289.185 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_234                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58190.235  64119.816  11289.185 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58190.235  64138.748  11289.185 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58190.235  64119.816  11289.185 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64119.816  11289.185 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58191.735          64119.816          11289.185  0.75
    END-POINT  58191.735          64119.816          11289.185  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8DP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58191.735          64119.816          11289.185  0.75  BW
    END-POINT  58194.499          64119.816          11289.184  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8DO                 
    PIPING-SPEC S1
WELD
    END-POINT  58194.499          64119.816          11289.184  0.75
    END-POINT  58194.499          64119.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8DQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58194.499          64119.816          11289.184  0.75
    END-POINT  58194.499          64119.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8DR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58194.674          64119.816          11289.184  0.75  FL
    END-POINT  58194.499          64119.816          11289.184  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_229                 
    PIPING-SPEC S1
GASKET
    END-POINT  58194.799          64119.816          11289.184  0.75
    END-POINT  58194.674          64119.816          11289.184  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5S                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58194.674          64119.816          11289.184 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5T                 
VALVE
    END-POINT  58199.424          64119.816          11289.184  0.75  FL
    END-POINT  58194.799          64119.816          11289.184  0.75  FL
    CENTRE-POINT   58197.112          64119.816          11289.184 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_224                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58199.549          64119.816          11289.184  0.75
    END-POINT  58199.424          64119.816          11289.184  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5U                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58199.424          64119.816          11289.184 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5V                 
FLANGE
    END-POINT  58199.549          64119.816          11289.184  0.75  FL
    END-POINT  58199.725          64119.816          11289.184  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_221                 
    PIPING-SPEC S1
WELD
    END-POINT  58199.725          64119.816          11289.184  0.75
    END-POINT  58199.725          64119.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58199.725          64119.816          11289.184  0.75
    END-POINT  58199.725          64119.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58202.739          64119.816          11289.184  0.75  BW
    END-POINT  58199.725          64119.816          11289.184  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9H                 
    PIPING-SPEC S1
WELD
    END-POINT  58202.739          64119.816          11289.184  0.75
    END-POINT  58202.739          64119.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58204.979          64119.816          11289.184  0.75  BW
    END-POINT  58202.739          64119.816          11289.184  0.75  BW
    CENTRE-POINT   58203.859          64119.816          11289.184 
    BRANCH1-POINT  58203.859          64119.816          11288.064  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_21W                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58204.979          64119.816          11289.184  0.75
    END-POINT  58204.979          64119.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GMT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58203.859          64119.816          11288.064  0.75
    END-POINT  58203.859          64119.816          11288.064  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BDA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58203.859          64119.816          11288.064  0.75  BW
    END-POINT  58203.859          64120.941          11286.939  0.75  BW
    CENTRE-POINT   58203.859          64119.816          11286.939 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BD8                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58203.859          64120.941          11286.939  0.75
    END-POINT  58203.859          64120.941          11286.939  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G59                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58203.859          64120.941          11286.939  0.75  BW
    END-POINT  58203.859          64123.941          11286.939  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G58                 
    PIPING-SPEC S1
WELD
    END-POINT  58203.859          64123.941          11286.939  0.75
    END-POINT  58203.859          64123.941          11286.939  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58203.859          64123.941          11286.939  0.75  BW
    END-POINT  58204.168          64124.688          11286.939  0.75  BW
    CENTRE-POINT   58203.859          64124.379          11286.939 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5A                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58204.168          64124.688          11286.939  0.75
    END-POINT  58204.168          64124.688          11286.939  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58204.168          64124.688          11286.939  0.75  BW
    END-POINT  58206.665          64127.184          11286.939  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5D                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58206.665          64127.184          11286.939  0.75  SW FEMALE 
    END-POINT  58206.665          64127.184          11286.939  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58206.665          64127.184          11286.939  0.75  SW FEMALE 
    END-POINT  58208.065          64128.584          11286.939  0.75  SW FEMALE 
    CENTRE-POINT   58207.354          64127.874          11286.939 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4_1
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5J                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58208.065          64128.584          11286.939  0.75
    END-POINT  58208.065          64128.584          11286.939  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58208.065          64128.584          11286.939  0.75  PL
    END-POINT  58209.479          64129.998          11286.939  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5N                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  58209.479          64129.998          11286.939  0.75  SC FEMALE 
    END-POINT  58209.479          64129.998          11286.939  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5Q                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  58209.479          64129.998          11286.939  0.75  SC FEMALE 
    END-POINT  58210.143          64130.663          11286.939  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G5P                 
    PIPING-SPEC S1
REDUCER-ECCENTRIC
    END-POINT  58204.979          64119.816          11289.184  0.75  BW
    END-POINT  58206.479          64119.816          11289.289  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3/4X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GMR                 
    PIPING-SPEC S1
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  58206.479          64119.816          11289.289  0.5
    END-POINT  58206.479          64119.816          11289.289  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GNE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58208.359          64119.816          11289.289  0.5  FL
    END-POINT  58206.479          64119.816          11289.289  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GN5                 
    PIPING-SPEC S1
GASKET
    END-POINT  58208.359          64119.816          11289.289  0.5
    END-POINT  58208.484          64119.816          11289.289  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9O                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58208.359          64119.816          11289.289 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9P                 
END-POSITION-OPEN 
    CO-ORDS  58208.484          64119.816          11289.289 
MATERIALS
ITEM-CODE FLGBLD3/4
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPAB-3/4
    DESCRIPTION ADJUSTABLE SUPPORT P618 FIG. 1 L=1'-0"
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 45LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL3/4_1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE REDECC3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10Sx40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
