ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1321014
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1321014-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 2/27/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/12/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/3/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57737.822          63962.891          11508.935  3  BW
    END-POINT  57737.822          63842.453          11508.965  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_SV                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57737.822  63847.119  11508.965  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_T7                  
SUPPORT
    CO-ORDS  57737.822  63938.723  11508.935  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_VY                  
WELD
    END-POINT  57737.822          63962.891          11508.935  3
    END-POINT  57737.822          63962.891          11508.935  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_SW                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57737.822          63842.453          11508.965 
ELBOW
    END-POINT  57737.822          63966.305          11510.349  3  BW
    END-POINT  57737.822          63962.891          11508.935  3  BW
    CENTRE-POINT   57737.822          63964.891          11508.935 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_SS                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57737.822          63966.305          11510.349  3
    END-POINT  57737.822          63966.305          11510.349  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_SU                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57737.822          63968.427          11512.471  3  BW
    END-POINT  57737.822          63966.305          11510.349  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_SQ                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57737.822          63968.427          11512.471  3
    END-POINT  57737.822          63968.427          11512.471  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_SR                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57742.322          63971.609          11515.653  3  BW
    END-POINT  57737.822          63968.427          11512.471  3  BW
    CENTRE-POINT   57737.822          63971.609          11515.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_QA                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57742.322          63971.609          11515.653  3
    END-POINT  57742.322          63971.609          11515.653  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_QC                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57742.322          63971.609          11515.653  3  BW
    END-POINT  58095.570          63971.609          11515.653  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_Q7                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57815.408  63971.609  11515.653  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_T5                  
SUPPORT
    CO-ORDS  57943.881  63971.609  11515.653  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_VN                  
SUPPORT
    CO-ORDS  58090.826  63971.609  11515.653  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_VV                  
WELD
    END-POINT  58095.570          63971.609          11515.653  3
    END-POINT  58095.570          63971.609          11515.653  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_QG                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58095.570          63971.609          11515.653  3  BW
    END-POINT  58100.070          63971.609          11520.153  3  BW
    CENTRE-POINT   58100.070          63971.609          11515.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_QE                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58100.070          63971.609          11520.153  3
    END-POINT  58100.070          63971.609          11520.153  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_QI                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58100.070          63971.609          11520.153  3  BW
    END-POINT  58100.070          63971.609          11529.153  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_QH                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58100.070          63971.609          11529.153  3
    END-POINT  58100.070          63971.609          11529.153  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_QJ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58100.070          63971.609          11529.153  3  BW
    END-POINT  58100.070          63976.109          11533.653  3  BW
    CENTRE-POINT   58100.070          63971.609          11533.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_5G                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58100.070          63976.109          11533.653  3
    END-POINT  58100.070          63976.109          11533.653  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_5F                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58100.070          63976.109          11533.653  3  BW
    END-POINT  58100.070          64118.911          11533.653  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_5B                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58100.070  64077.836  11533.653  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_5
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_5C                  
FLOW-ARROW
    CO-ORDS  58100.070  64036.515  11533.653 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58100.070          64118.911          11533.653  3
    END-POINT  58100.070          64118.911          11533.653  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_5A                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58100.070          64118.911          11533.653  3  BW
    END-POINT  58100.070          64123.411          11538.153  3  BW
    CENTRE-POINT   58100.070          64123.411          11533.653 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_57                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58100.070  64123.411  11533.653 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64123.411  11533.653 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58100.070  64123.411  11533.653 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58100.070  64138.748  11533.653 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58100.070          64123.411          11538.153  3
    END-POINT  58100.070          64123.411          11538.153  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_56                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58100.070          64123.411          11538.153  3  BW
    END-POINT  58100.070          64123.411          11575.487  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_53                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58100.070  64123.411  11566.750 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58100.070  64123.411  11566.750 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58100.070          64123.411          11575.487  3
    END-POINT  58100.070          64123.411          11575.487  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_52                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58100.070          64123.411          11575.487  3  BW
    END-POINT  58100.070          64123.411          11578.987  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_51                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58100.070          64123.411          11578.987  2
    END-POINT  58100.070          64123.411          11578.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_50                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58097.070          64123.411          11581.987  2  BW
    END-POINT  58100.070          64123.411          11578.987  2  BW
    CENTRE-POINT   58100.070          64123.411          11581.987 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_4Z                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58097.070          64123.411          11581.987  2
    END-POINT  58097.070          64123.411          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UD                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58097.070          64123.411          11581.987  2  BW
    END-POINT  58087.695          64123.411          11581.987  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UC                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58087.695          64123.411          11581.987  2
    END-POINT  58087.695          64123.411          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UE                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58084.695          64120.411          11581.987  2  BW
    END-POINT  58087.695          64123.411          11581.987  2  BW
    CENTRE-POINT   58084.695          64123.411          11581.987 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_4X                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58084.695          64120.411          11581.987  2
    END-POINT  58084.695          64120.411          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UN                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58084.695          64115.732          11581.987  2  PL
    END-POINT  58084.695          64120.411          11581.987  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UK                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58084.695          64115.732          11581.987  2
    END-POINT  58084.695          64115.732          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UL                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58084.695          64115.732          11581.987  2
    END-POINT  58084.695          64115.732          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UM                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58084.695          64115.536          11581.987  2  FL
    END-POINT  58084.695          64115.732          11581.987  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UH                  
    PIPING-SPEC S1
MESSAGE-ROUND
    CO-ORDS  58084.695  64115.536  11581.987 
    TEXT SP-049
    UNDIMENSIONED
GASKET
    END-POINT  58084.695          64115.536          11581.987  2
    END-POINT  58084.695          64115.411          11581.987  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UI                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58084.695          64115.536          11581.987 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_UJ                  
FLANGE
    END-POINT  58084.695          64115.411          11581.987  2  FL
    END-POINT  58084.695          64112.661          11581.987  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_FI                  
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58084.695          64112.661          11581.987 
    PIPELINE-REFERENCE ISO-PY3-1216015
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-10 1/2"
ITEM-CODE SUPRH-3_1
    DESCRIPTION PIPE HANGER, P624, Fig. 4, L= 2'-10 1/2"
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3_2
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-10 11/16"
ITEM-CODE SUPRH-3_3
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-10 3/4"
ITEM-CODE SUPRH-3_4
    DESCRIPTION ROD HANGER P624, FIG. 4, L=3'-1 1/4"
ITEM-CODE SUPRH-3_5
    DESCRIPTION PIPE HANGER, P624, Fig. 4, L= 1'-11"
ITEM-CODE REDCON3X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 300LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
