ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212011
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DDM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212011-DDM-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/9/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 D. ORR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58171.198          64029.838          11418.498  1  PL
    END-POINT  58171.198          64026.309          11418.560  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GLP                 
    PIPING-SPEC S1
MESSAGE-ROUND
    CO-ORDS  58171.198  64026.309  11418.560 
    TEXT CONNECT TO FLEX HOSE$SP-122
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58171.198          64029.838          11418.498  1
    END-POINT  58171.198          64029.838          11418.498  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GLQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58171.198          64026.309          11418.560 
VALVE
    END-POINT  58171.198          64032.468          11418.453  1  SW FEMALE 
    END-POINT  58171.198          64029.838          11418.498  1  SW FEMALE 
    CENTRE-POINT   58171.198          64031.153          11418.476 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GLL                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
    DIRECTION UP 1 NORTH
SOCKET-WELD
    END-POINT  58171.198          64032.468          11418.453  1
    END-POINT  58171.198          64032.468          11418.453  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58171.198          64032.468          11418.453  1  PL
    END-POINT  58171.198          64035.997          11418.391  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HEZ                 
    PIPING-SPEC S1
WELD
    END-POINT  58171.198          64035.997          11418.391  1
    END-POINT  58171.198          64035.997          11418.391  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58171.198          64035.997          11418.391  1
    END-POINT  58171.198          64035.997          11418.391  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58171.198          64036.192          11418.388  1  FL
    END-POINT  58171.198          64035.997          11418.391  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF1                 
    PIPING-SPEC S1
GASKET
    END-POINT  58171.198          64036.317          11418.385  1
    END-POINT  58171.198          64036.192          11418.388  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF5                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58171.198          64036.317          11418.385 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF6                 
FLANGE
    END-POINT  58171.198          64036.317          11418.385  1  FL
    END-POINT  58171.198          64036.013          11418.391  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF4                 
    PIPING-SPEC S1
WELD
    END-POINT  58171.198          64036.013          11418.391  1
    END-POINT  58171.198          64036.013          11418.391  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58171.198          64036.013          11418.391  1
    END-POINT  58171.198          64036.013          11418.391  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58171.198          64036.013          11418.391  1  PL
    END-POINT  58171.198          64039.013          11418.338  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HF7                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  58171.198          64039.013          11418.338  1  SC FEMALE 
    END-POINT  58171.198          64039.013          11418.338  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFB                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
MISC-COMPONENT
    END-POINT  58171.198          64039.013          11418.338  1  SC FEMALE 
    END-POINT  58171.198          64041.602          11418.293  1  SC FEMALE 
    CENTRE-POINT  58171.198  64040.307  11418.316 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFA                 
    TAG EV-005-07                       
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58171.198  64040.309  11418.316 
    TEXT EV$005$07
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58171.198          64041.602          11418.293  1  SC MALE 
    END-POINT  58171.198          64041.602          11418.293  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFD                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58171.198          64044.602          11418.241  1  PL
    END-POINT  58171.198          64041.602          11418.293  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFC                 
    PIPING-SPEC S1
WELD
    END-POINT  58171.198          64044.602          11418.241  1
    END-POINT  58171.198          64044.602          11418.241  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58171.198          64044.602          11418.241  1
    END-POINT  58171.198          64044.602          11418.241  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58171.198          64044.297          11418.246  1  FL
    END-POINT  58171.198          64044.602          11418.241  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFE                 
    PIPING-SPEC S1
GASKET
    END-POINT  58171.198          64044.422          11418.244  1
    END-POINT  58171.198          64044.297          11418.246  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFI                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58171.198          64044.422          11418.244 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFJ                 
FLANGE
    END-POINT  58171.198          64044.422          11418.244  1  FL
    END-POINT  58171.198          64044.618          11418.240  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFH                 
    PIPING-SPEC S1
WELD
    END-POINT  58171.198          64044.618          11418.240  1
    END-POINT  58171.198          64044.618          11418.240  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58171.198          64044.618          11418.240  1
    END-POINT  58171.198          64044.618          11418.240  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58171.198          64044.618          11418.240  1  PL
    END-POINT  58171.198          64056.929          11418.026  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFK                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58171.198  64049.559  11418.126  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HFQ                 
FLOW-ARROW
    CO-ORDS  58171.198  64050.403  11418.107 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58171.198          64056.929          11418.026  1
    END-POINT  58171.198          64056.929          11418.026  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I98                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58171.198          64058.429          11416.526  1  BW
    END-POINT  58171.198          64056.929          11418.026  1  BW
    CENTRE-POINT   58171.198          64058.429          11418.026 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GKP                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58171.198          64058.429          11416.526  1
    END-POINT  58171.198          64058.429          11416.526  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I90                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58171.198          64058.429          11380.065  1  BW
    END-POINT  58171.198          64058.429          11416.526  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8Y                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58171.198  64058.429  11400.002  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I93                 
FLOOR-SYMBOL 
    CO-ORDS  58171.198  64058.429  11400.004 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58171.198  64058.429  11400.004 
    TEXT Floor Opening
    UNDIMENSIONED
WELD
    END-POINT  58171.198          64058.429          11380.065  1
    END-POINT  58171.198          64058.429          11380.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8Z                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58171.198          64058.429          11380.065  1  BW
    END-POINT  58172.683          64058.429          11378.565  1  BW
    CENTRE-POINT   58171.198          64058.429          11378.580 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GKU                 
    PIPING-SPEC S1
    ANGLE 8942
WELD
    END-POINT  58172.683          64058.429          11378.565  1
    END-POINT  58172.683          64058.429          11378.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58180.293          64058.429          11378.488  1  BW
    END-POINT  58172.683          64058.429          11378.565  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8Q                 
    PIPING-SPEC S1
WELD
    END-POINT  58180.293          64058.429          11378.488  1
    END-POINT  58180.293          64058.429          11378.488  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8R                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58180.293          64058.429          11378.488  1  BW
    END-POINT  58181.778          64058.429          11376.973  1  BW
    CENTRE-POINT   58181.793          64058.429          11378.473 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8O                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58181.778          64058.429          11376.973  1
    END-POINT  58181.778          64058.429          11376.973  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58181.750          64058.429          11374.154  1  BW
    END-POINT  58181.778          64058.429          11376.973  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8V                 
    PIPING-SPEC S1
WELD
    END-POINT  58181.750          64058.429          11374.154  1
    END-POINT  58181.750          64058.429          11374.154  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58181.750          64058.429          11374.154  1  BW
    END-POINT  58181.735          64059.929          11372.654  1  BW
    CENTRE-POINT   58181.734          64058.429          11372.654 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8T                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58181.735          64059.929          11372.654  1
    END-POINT  58181.735          64059.929          11372.654  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I97                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58181.734          64131.784          11371.815  1  BW
    END-POINT  58181.735          64059.929          11372.654  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GL0                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58181.734  64115.691  11371.983  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GM5                 
FLOW-ARROW
    CO-ORDS  58181.734  64092.820  11372.221 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58181.734          64131.784          11371.815  1
    END-POINT  58181.734          64131.784          11371.815  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GL1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58181.734          64133.269          11370.315  1  BW
    END-POINT  58181.734          64131.784          11371.815  1  BW
    CENTRE-POINT   58181.734          64133.269          11371.800 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GKX                 
    PIPING-SPEC S1
    ANGLE 8942
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58181.734  64133.269  11371.800 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64133.269  11371.800 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58181.734  64133.269  11371.800 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58181.734  64138.748  11371.800 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58181.734          64133.269          11370.315  1
    END-POINT  58181.734          64133.269          11370.315  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58181.735          64133.269          11350.508  1  PL
    END-POINT  58181.734          64133.269          11370.315  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8K                 
    PIPING-SPEC S1
WELD
    END-POINT  58181.735          64133.269          11350.508  1
    END-POINT  58181.735          64133.269          11350.508  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58181.735          64133.269          11350.508  1
    END-POINT  58181.735          64133.269          11350.508  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58181.735          64133.269          11350.312  1  FL
    END-POINT  58181.735          64133.269          11350.508  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GJX                 
    PIPING-SPEC S1
GASKET
    END-POINT  58181.735          64133.269          11350.312  1
    END-POINT  58181.735          64133.269          11350.187  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8H                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58181.735          64133.269          11350.312 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8I                 
END-POSITION-OPEN 
    CO-ORDS  58181.735          64133.269          11350.187 
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE GENSTR1
    DESCRIPTION EV-005-07
    RATING 2000LB
ITEM-CODE SUPUB-1
    DESCRIPTION P629 FIG 10 W/P651 FIG 1
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE SUPRH-1_1
    DESCRIPTION P624, FIG. 2
