ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214020
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 WTS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214020-WTS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58001.238          64073.797          11290.849  0.75  SC MALE 
    END-POINT  58001.238          64073.797          11289.849  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FI1                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58001.238          64073.797          11289.849 
SCREWED-WELD
    END-POINT  58001.238          64073.797          11290.849  0.75  SC MALE 
    END-POINT  58001.238          64073.797          11290.849  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FI2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58001.238          64073.797          11292.289  0.75  SC FEMALE 
    END-POINT  58001.238          64073.797          11290.849  0.75  SC FEMALE 
    CENTRE-POINT   58001.238          64073.797          11291.509 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FI3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  58001.238          64073.797          11292.289  0.75  SC FEMALE 
    END-POINT  58001.238          64073.797          11292.289  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FI5                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58001.238          64073.797          11295.289  0.75  SC MALE 
    END-POINT  58001.238          64073.797          11292.289  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FI6                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58001.238          64073.797          11295.289  0.75  SC MALE 
    END-POINT  58001.238          64073.797          11295.289  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FI7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58001.238  64073.797  11299.164 
    BRANCH1-POINT  58001.238          64073.797          11295.289  0.75  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL6X3/4
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FI8                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58001.238  64073.797  11299.164  6
    END-POINT  58001.238  64073.797  11299.164  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FI9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58007.488          64073.797          11299.164  6  BW
    END-POINT  57982.738          64073.797          11299.164  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIA                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57987.499  64073.797  11299.164 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58007.488          64073.797          11299.164  6
    END-POINT  58007.488          64073.797          11299.164  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FID                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57982.738          64073.797          11299.164  6
    END-POINT  57982.738          64073.797          11299.164  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57982.738          64073.797          11299.164  6  BW
    END-POINT  57973.738          64073.797          11308.164  6  BW
    CENTRE-POINT   57973.738          64073.797          11299.164 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIF                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57973.738  64073.797  11299.164  6
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIG                 
WELD
    END-POINT  57973.738          64073.797          11308.164  6
    END-POINT  57973.738          64073.797          11308.164  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57973.738          64073.797          11341.875  6  PL
    END-POINT  57973.738          64073.797          11308.164  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FII                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57973.738          64073.797          11341.875  6
    END-POINT  57973.738          64073.797          11341.875  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57973.738          64073.797          11341.875  6
    END-POINT  57973.738          64073.797          11341.875  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57973.738          64073.797          11342.218  6  FL
    END-POINT  57973.738          64073.797          11341.875  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIL                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  57973.738          64073.797          11342.218 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG6
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIM                 
VALVE
    END-POINT  57973.738          64073.797          11342.218  6  FL
    END-POINT  57973.738          64073.797          11344.468  6  FL
    CENTRE-POINT   57973.738          64073.797          11343.343 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY6
    WEIGHT          40.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIN                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
BOLT
    CO-ORDS  57973.738          64073.797          11344.468 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG6
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIP                 
FLANGE
    END-POINT  57973.738          64073.797          11344.468  6  FL
    END-POINT  57973.738          64073.797          11344.810  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIQ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57973.738          64073.797          11344.810  6
    END-POINT  57973.738          64073.797          11344.810  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57973.738          64073.797          11344.810  6
    END-POINT  57973.738          64073.797          11344.810  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57973.738          64073.797          11344.810  6  PL
    END-POINT  57973.738          64073.797          11374.714  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIT                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57973.738          64073.797          11374.714  6
    END-POINT  57973.738          64073.797          11374.714  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57973.738          64082.797          11383.714  6  BW
    END-POINT  57973.738          64073.797          11374.714  6  BW
    CENTRE-POINT   57973.738          64073.797          11383.714 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIV                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57973.738  64073.797  11383.714 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64073.797  11383.714 
    REFERENCED-ITEM
    ITEM-DIRECTION 6
    SKEY 
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57973.738  64073.797  11383.714 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57973.738  64138.748  11383.714 
    REFERENCED-ITEM
    ITEM-DIRECTION 6
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57973.738          64082.797          11383.714  6
    END-POINT  57973.738          64082.797          11383.714  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIY                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57973.738          64082.797          11383.714  6  BW
    END-POINT  57973.738          64088.677          11383.714  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FIZ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57973.738          64088.677          11383.714  6
    END-POINT  57973.738          64088.677          11383.714  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KGL                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57973.738          64099.917          11383.714  6  BW
    END-POINT  57973.738          64088.677          11383.714  6  BW
    CENTRE-POINT   57973.738          64094.297          11383.714 
    BRANCH1-POINT  57973.738          64094.297          11389.334  6  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_J8C                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57973.738          64099.917          11383.714 
    PIPELINE-REFERENCE ISO-PY3-2047008
REDUCER-ECCENTRIC
    END-POINT  58007.488          64073.797          11299.164  6  BW
    END-POINT  58012.988          64073.797          11300.727  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FJ1                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  58012.988          64073.797          11300.727  3
    END-POINT  58012.988          64073.797          11300.727  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FJ2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58015.738          64073.797          11300.727  3  FL
    END-POINT  58012.988          64073.797          11300.727  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FJ3                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58015.738          64073.797          11300.727 
MATERIALS
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE TOL6X3/4
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP6
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE 90LLR6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPEB-6
    DESCRIPTION ELBOW SUPPORT,  L=1'-7 1/8", P619 FIG 2
ITEM-CODE FLGSLP6
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG6
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 3/4 X 2 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY6
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
ITEM-CODE REDECC6X3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
