ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221018
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 20TWR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1221018-20TWR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-021
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 12/17/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DK
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57798.159          64087.879          11694.598  1  BW
    END-POINT  57794.159          64087.879          11694.598  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FSC                 
    PIPING-SPEC C1
MESSAGE
    CO-ORDS  57794.159  64087.879  11694.598 
    TEXT TO ATMOSPHERE$CHEMFER END 45%%d
    UNDIMENSIONED
WELD
    END-POINT  57798.159          64087.879          11694.598  1
    END-POINT  57798.159          64087.879          11694.598  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FSB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  57794.159          64087.879          11694.598 
PIPE
    END-POINT  57826.225          64087.879          11694.598  1  PL
    END-POINT  57798.159          64087.879          11694.598  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FS8                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  57822.324  64087.879  11694.598  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I3T                 
FLOW-ARROW
    CO-ORDS  57808.859  64087.879  11694.598 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57826.225          64087.879          11694.598  1
    END-POINT  57826.225          64087.879          11694.598  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JIQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
WELD
    END-POINT  57826.225          64087.879          11694.598  1
    END-POINT  57826.225          64087.879          11694.598  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JIR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
FLANGE
    END-POINT  57826.420          64087.879          11694.598  1  FL
    END-POINT  57826.225          64087.879          11694.598  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JIN                 
    PIPING-SPEC C1
MESSAGE-CIRCLE
    CO-ORDS  57826.225  64087.879  11694.598 
    TEXT PSV$044$03
    UNDIMENSIONED
GASKET
    END-POINT  57826.420          64087.879          11694.598  1
    END-POINT  57826.483          64087.879          11694.598  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JIO                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.420          64087.879          11694.598 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JIP                 
VALVE-ANGLE
    END-POINT  57831.670          64087.879          11688.410  0.75  FL
    END-POINT  57826.483          64087.879          11694.598  1  FL
    CENTRE-POINT   57831.670          64087.879          11694.598 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_JIC                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  57831.670          64087.879          11688.410 
    PIPELINE-REFERENCE ISO-PY3-1221009
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=6'-4", P624 FIG 1
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
