ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211006
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1211006-AN-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/2/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/15/2008
    ATTRIBUTE25 RHP
    ATTRIBUTE26 10/23/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 D.DURK
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/2/2009
    ATTRIBUTE54 SM
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  57998.402          64241.844          12012.940  1  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4XK                 
    PIPING-SPEC S1
    END-POINT  57998.006          64241.448          12012.940  1
    SKEY FLBL
GASKET
    END-POINT  57998.491          64241.933          12012.940  1
    END-POINT  57998.402          64241.844          12012.940  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6N5                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57998.402          64241.844          12012.940 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6N6                 
VALVE
    END-POINT  58002.026          64245.468          12012.940  1  FL
    END-POINT  57998.491          64241.933          12012.940  1  FL
    CENTRE-POINT   58000.259          64243.701          12012.940 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4XF                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 45 EAST
GASKET
    END-POINT  58002.115          64245.557          12012.940  1
    END-POINT  58002.026          64245.468          12012.940  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6N3                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58002.026          64245.468          12012.940 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6N4                 
FLANGE
    END-POINT  58002.115          64245.557          12012.940  1  FL
    END-POINT  58003.663          64247.105          12012.940  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4XB                 
    PIPING-SPEC S1
WELD
    END-POINT  58003.663          64247.105          12012.940  1
    END-POINT  58003.663          64247.105          12012.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4XV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      58006.006  64249.448  12012.940 
    BRANCH1-POINT  58003.663          64247.105          12012.940  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4XT                 
    PIPING-SPEC S1
WELD
    END-POINT  58006.006  64249.448  12012.940  4
    END-POINT  58006.006  64249.448  12012.940  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4XU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58006.006          64249.448          12007.240  4  PL
    END-POINT  58006.006          64249.448          12018.124  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4X0                 
    PIPING-SPEC S1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58006.006  64249.448  12015.124 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58006.006  64378.800  12015.124 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58006.006  64249.448  12015.124 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64249.448  12015.124 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  58006.006          64249.448          12007.240  4
    END-POINT  58006.006          64249.448          12007.240  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4X1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58006.006          64249.448          12007.240  4
    END-POINT  58006.006          64249.448          12007.240  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4X2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58006.006          64249.448          12018.124  4
    END-POINT  58006.006          64249.448          12018.124  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58006.006          64249.448          12018.124  4  BW
    END-POINT  58003.628          64244.349          12024.112  4  BW
    CENTRE-POINT   58006.006          64249.448          12023.760 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LH                 
    PIPING-SPEC S1
    ANGLE 8642
WELD
    END-POINT  58003.628          64244.349          12024.112  4
    END-POINT  58003.628          64244.349          12024.112  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57970.597          64173.514          12028.997  4  BW
    END-POINT  58003.628          64244.349          12024.112  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LO                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57980.501  64194.754  12027.532 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57970.597          64173.514          12028.997  4
    END-POINT  57970.597          64173.514          12028.997  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57970.597          64173.514          12028.997  4  BW
    END-POINT  57970.597          64168.464          12029.345  4  BW
    CENTRE-POINT   57969.420          64170.989          12029.171 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LJ                 
    PIPING-SPEC S1
    ANGLE 4990
WELD
    END-POINT  57970.597          64168.464          12029.345  4
    END-POINT  57970.597          64168.464          12029.345  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58004.435          64095.897          12034.349  4  BW
    END-POINT  57970.597          64168.464          12029.345  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LL                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57989.408  64128.124  12032.127 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58004.435          64095.897          12034.349  4
    END-POINT  58004.435          64095.897          12034.349  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58004.435          64095.897          12034.349  4  BW
    END-POINT  58006.813          64090.799          12040.338  4  BW
    CENTRE-POINT   58006.813          64090.799          12034.701 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6LK                 
    PIPING-SPEC S1
    ANGLE 8642
WELD
    END-POINT  58006.813          64090.799          12040.338  4
    END-POINT  58006.813          64090.799          12040.338  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58006.813          64090.799          12040.338  4  BW
    END-POINT  58006.813          64090.799          12043.776  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MI                 
    PIPING-SPEC S1
WELD
    END-POINT  58006.813          64090.799          12043.776  4
    END-POINT  58006.813          64090.799          12043.776  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58006.813          64090.799          12043.776  4
    END-POINT  58006.813          64090.799          12043.776  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6ML                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58006.813          64090.799          12044.076  4  FL
    END-POINT  58006.813          64090.799          12043.776  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4RH                 
    PIPING-SPEC S1
GASKET
    END-POINT  58006.813          64090.799          12044.076  4
    END-POINT  58006.813          64090.799          12044.201  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8A7                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58006.813          64090.799          12044.076 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8A8                 
END-POSITION-OPEN 
    CO-ORDS  58006.813          64090.799          12044.201 
FLANGE
    END-POINT  58006.006          64249.448          12006.940  4  FL
    END-POINT  58006.006          64249.448          12007.240  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4WX                 
    PIPING-SPEC S1
GASKET
    END-POINT  58006.006          64249.448          12006.815  4
    END-POINT  58006.006          64249.448          12006.940  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MX                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58006.006          64249.448          12006.940 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MY                 
INSTRUMENT
    END-POINT  58006.006          64249.448          12006.815  4  FL
    END-POINT  58006.006          64249.448          11997.815  4  FL
    CENTRE-POINT   58006.006          64249.448          12002.315 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4RV                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 45 EAST
MESSAGE-CIRCLE
    CO-ORDS  58006.006  64249.448  12002.315 
    TEXT FV$022$10
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58006.006  64249.448  12002.315 
    TEXT FC
    UNDIMENSIONED
GASKET
    END-POINT  58006.006          64249.448          11997.690  4
    END-POINT  58006.006          64249.448          11997.815  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MV                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58006.006          64249.448          11997.690 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MW                 
INSTRUMENT
    END-POINT  58006.006          64249.448          11997.690  4  FL
    END-POINT  58006.006          64249.448          11988.690  4  FL
    CENTRE-POINT   58006.006          64249.448          11993.190 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4RY                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
    DIRECTION WEST 45 NORTH
MESSAGE-CIRCLE
    CO-ORDS  58006.006  64249.448  11993.190 
    TEXT FV$022$12
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58006.006  64249.448  11993.190 
    TEXT FC
    UNDIMENSIONED
GASKET
    END-POINT  58006.006          64249.448          11988.690  4
    END-POINT  58006.006          64249.448          11988.565  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6N1                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58006.006          64249.448          11988.565 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6N2                 
FLANGE
    END-POINT  58006.006          64249.448          11988.565  4  FL
    END-POINT  58006.006          64249.448          11985.565  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4WN                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  58006.006          64249.448          11985.565  4
    END-POINT  58006.006          64249.448          11985.565  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4Y8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58006.006          64249.448          11985.565  4  BW
    END-POINT  58006.006          64249.448          11977.325  4  BW
    CENTRE-POINT   58006.006          64249.448          11981.445 
    BRANCH1-POINT  58003.262          64246.704          11981.445  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X3
    WEIGHT           1.950
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4Y6                 
    PIPING-SPEC S1
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58006.006          64249.448          11977.325  4
    END-POINT  58006.006          64249.448          11977.325  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58003.262          64246.704          11981.445  3
    END-POINT  58003.262          64246.704          11981.445  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4YE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57999.839          64243.281          11981.445  3  PL
    END-POINT  58003.262          64246.704          11981.445  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4YB                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  57999.839          64243.281          11981.445  3
    END-POINT  57999.839          64243.281          11981.445  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4YC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57999.839          64243.281          11981.445  3
    END-POINT  57999.839          64243.281          11981.445  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4YD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57999.642          64243.084          11981.445  3  FL
    END-POINT  57999.839          64243.281          11981.445  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_4YA                 
    PIPING-SPEC S1
    TRACING-ON 
END-POSITION-OPEN 
    CO-ORDS  57999.642          64243.084          11981.445 
FLANGE
    END-POINT  58006.006          64249.448          11974.325  4  FL
    END-POINT  58006.006          64249.448          11977.325  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6MD                 
    PIPING-SPEC S1
    TRACING-ON 
GASKET
    END-POINT  58006.006          64249.448          11974.325  4
    END-POINT 
** 
Processing ID: AT_FL5BJQ2V_8A4  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8A4                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58006.006          64249.448          11974.325 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8A5                 
END-POSITION-OPEN 
    CO-ORDS  58006.006  64249.448  11974.325 
MATERIALS
ITEM-CODE FLGBLD1
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-501
    RATING 150LB
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE WOL4X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 86.42
    RATING 10S
ITEM-CODE 90LLR4_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 49.90
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FV-022-10
    RATING 150LB
ITEM-CODE VALVCNT4_1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FV-022-12
    RATING 150LB
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE TEERED4X3
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
