ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1012009
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_GS02.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1012009-AN-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-819-012
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 11/1/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 DKC
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE45 I.F.C.
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 DKC
    ATTRIBUTE51 LINE MOVED EAST
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BKL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 DELETED SHT. 2 & 3
    ATTRIBUTE58 4
    ATTRIBUTE59 11/1/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 DK
    ATTRIBUTE62 DK
    ATTRIBUTE63 UPDATED SUPPORT DESCRIPTION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
ELBOW
    END-POINT  60370.254          65636.661          11680.627  1  BW
    END-POINT  60370.254          65638.161          11679.127  1  BW
    CENTRE-POINT   60370.254          65638.161          11680.627 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2CD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60370.254  65638.161  11680.627 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60024.000  65638.161  11680.627 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-342
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60370.254  65638.161  11680.627 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60370.254  65699.999  11680.627 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-342
WELD
    END-POINT  60370.254          65636.661          11680.627  1
    END-POINT  60370.254          65636.661          11680.627  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2CF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60370.254          65638.161          11679.127  1
    END-POINT  60370.254          65638.161          11679.127  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FUZK55FC_L6                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60370.254          65638.161          11657.690  1  BW
    END-POINT  60370.254          65638.161          11679.128  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FUZK55FC_4Y                  
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  60370.254          65638.161          11657.690 
    PIPELINE-REFERENCE ISO-TF3-1012009
PIPE
    END-POINT  60370.254          65636.661          11680.627  1  BW
    END-POINT  60370.248          64619.500          11680.627  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2LJ                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60370.254  65606.562  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2M0                 
SUPPORT
    CO-ORDS  60370.254  65498.546  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2M4                 
SUPPORT
    CO-ORDS  60370.254  65390.910  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MN                 
SUPPORT
    CO-ORDS  60370.254  65270.756  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MR                 
SUPPORT
    CO-ORDS  60370.254  65191.008  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2MV                 
SUPPORT
    CO-ORDS  60370.248  65111.145  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2N1                 
SUPPORT
    CO-ORDS  60370.248  64990.990  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2N5                 
SUPPORT
    CO-ORDS  60370.248  64871.004  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2N9                 
FLOW-ARROW
    CO-ORDS  60370.248  64911.296  11680.627 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  60370.248  64796.069  11676.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4CB                 
SUPPORT
    CO-ORDS  60370.248  64795.998  11680.627  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4CE                 
SUPPORT
    CO-ORDS  60370.248  64670.158  11691.970  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4CL                 
SUPPORT
    CO-ORDS  60370.248  64667.500  11680.627  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4CO                 
WELD
    END-POINT  60370.248          64619.500          11680.627  1
    END-POINT  60370.248          64619.500          11680.627  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60370.248          64619.500          11680.627  1  BW
    END-POINT  60370.248          64618.000          11679.127  1  BW
    CENTRE-POINT   60370.248          64618.000          11680.627 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BK                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60370.248          64618.000          11679.127  1
    END-POINT  60370.248          64618.000          11679.127  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60370.248          64618.000          11658.156  1  BW
    END-POINT  60370.248          64618.000          11679.127  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60370.248          64618.000          11658.156  1
    END-POINT  60370.248          64618.000          11658.156  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60368.748          64618.000          11656.656  1  BW
    END-POINT  60370.248          64618.000          11658.156  1  BW
    CENTRE-POINT   60370.248          64618.000          11656.656 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60368.748          64618.000          11656.656  1
    END-POINT  60368.748          64618.000          11656.656  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  60366.558          64618.000          11656.656  1  FL
    END-POINT  60368.748          64618.000          11656.656  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3OX                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  60366.433          64618.000          11656.656  1
    END-POINT  60366.558          64618.000          11656.656  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PD                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  60366.433          64618.000          11656.656 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PE                 
FLANGE
    END-POINT  60366.433          64618.000          11656.656  1  FL
    END-POINT  60366.238          64618.000          11656.656  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PC                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  60365.743  64618.000  11656.656 
    TEXT TP-141
    UNDIMENSIONED
MESSAGE-SQUARE
    CO-ORDS  60366.238  64618.000  11656.656 
    TEXT REMOVE 2'-0" OF EXIST. PIPE-SEE TIE-IN DRAWING TP-141 FOR DETAILS
    UNDIMENSIONED
WELD
    END-POINT  60366.238          64618.000          11656.656  1
    END-POINT  60366.238          64618.000          11656.656  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60366.238          64618.000          11656.656  1
    END-POINT  60366.238          64618.000          11656.656  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60366.238          64618.000          11656.656  1  PL
    END-POINT  60247.269          64618.000          11656.656  1  PL
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3PI                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  60247.269          64618.000          11656.656 
    PIPELINE-REFERENCE ISO-GS3-AN-014-EX
MATERIALS
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPTS-1
    DESCRIPTION TEE SHOE SUPPORT, P603-FIG. 1
ITEM-CODE SUPTS-1_1
    DESCRIPTION TEE SHOE SUPPORT, P603-FIG. 2
ITEM-CODE SUPTS-1_2
    DESCRIPTION TEE SHOE SUPPORT, P603-FIG. 3
ITEM-CODE SUPLTR1
    DESCRIPTION P629-FIG. 5 WELDED TO REPAD ON TANK, L=58", X=7.75"
ITEM-CODE SUPTS-1_3
    DESCRIPTION GUIDE, P602 FIG. 3, w/P629-FIG. 4, L=39", X=9 11/16"
ITEM-CODE SUPLTR1_1
    DESCRIPTION ANGLE STEEL TRAPEZE HANGER BAR
ITEM-CODE SUPRH-1
    DESCRIPTION ROD HANGER, P624 FIG. 2, X=3'-0"
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
