ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214028
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 HC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1214028-HC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/3/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/11/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/13/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/23/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/23/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/23/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 DC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58101.300          64323.090          11577.551  0.75  PL
    END-POINT  58101.300          64327.558          11577.551  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_864                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58101.300  64325.279  11577.551 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58101.300          64323.090          11577.551  0.75
    END-POINT  58101.300          64323.090          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_865                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58101.300          64327.558          11577.551  0.75
    END-POINT  58101.300          64327.558          11577.551  0.75  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_866                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58101.300          64328.871          11578.863  1.5  SW FEMALE 
    END-POINT  58101.300          64328.871          11576.238  1.5  SW FEMALE 
    CENTRE-POINT   58101.300          64328.871          11577.551 
    BRANCH1-POINT  58101.300          64327.558          11577.551  0.75  SW FEMALE 
    SKEY TESW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_84J                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58101.300          64328.871          11578.863 
    PIPELINE-REFERENCE ISO-PY3-2041020
ELBOW
    END-POINT  58100.550          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58101.300          64323.090          11577.551  0.75  SW FEMALE 
    CENTRE-POINT   58101.300          64322.340          11577.551 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_860                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58100.550          64322.340          11577.551  0.75
    END-POINT  58100.550          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_862                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58100.550          64322.340          11577.551  0.75  PL
    END-POINT  58095.058          64322.340          11577.551  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_861                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58095.058          64322.340          11577.551  0.75
    END-POINT  58095.058          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_863                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58092.683          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58095.058          64322.340          11577.551  0.75  SW FEMALE 
    CENTRE-POINT   58093.871          64322.340          11577.551 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1O4                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 35 UP
SOCKET-WELD
    END-POINT  58092.683          64322.340          11577.551  0.75
    END-POINT  58092.683          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QT                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58092.683          64322.340          11577.551  0.75  PL
    END-POINT  58085.743          64322.340          11577.551  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QS                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58085.743          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58085.743          64322.340          11577.551  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58085.563          64322.340          11577.551  0.75  FL
    END-POINT  58085.743          64322.340          11577.551  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QU                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58085.438          64322.340          11577.551  0.75
    END-POINT  58085.563          64322.340          11577.551  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QX                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58085.438          64322.340          11577.551 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QY                 
FLANGE
    END-POINT  58085.438          64322.340          11577.551  0.75  FL
    END-POINT  58085.258          64322.340          11577.551  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QW                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58085.258          64322.340          11577.551  0.75
    END-POINT  58085.258          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58085.258          64322.340          11577.551  0.75  PL
    END-POINT  58081.256          64322.340          11577.551  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58081.256          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58081.256          64322.340          11577.551  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58081.256          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58079.481          64322.340          11577.551  0.75  SW FEMALE 
    CENTRE-POINT  58080.368  64322.340  11577.551 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R1                 
    TAG SP-936                          
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58080.386  64322.340  11577.551 
    TEXT SP-936
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58079.481          64322.340          11577.551  0.75
    END-POINT  58079.481          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58079.481          64322.340          11577.551  0.75  PL
    END-POINT  58075.478          64322.340          11577.551  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R4                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58075.478          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58075.478          64322.340          11577.551  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58075.298          64322.340          11577.551  0.75  FL
    END-POINT  58075.478          64322.340          11577.551  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R6                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58075.173          64322.340          11577.551  0.75
    END-POINT  58075.298          64322.340          11577.551  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R9                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58075.173          64322.340          11577.551 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RA                 
FLANGE
    END-POINT  58075.173          64322.340          11577.551  0.75  FL
    END-POINT  58074.993          64322.340          11577.551  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9R8                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58074.993          64322.340          11577.551  0.75
    END-POINT  58074.993          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58074.993          64322.340          11577.551  0.75  PL
    END-POINT  58071.053          64322.340          11577.551  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RB                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58071.053          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58071.053          64322.340          11577.551  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RE                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58071.053          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58068.678          64322.340          11577.551  0.75  SW FEMALE 
    CENTRE-POINT   58069.866          64322.340          11577.551 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           3.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RD                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58068.678          64322.340          11577.551  0.75
    END-POINT  58068.678          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RG                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58068.678          64322.340          11577.551  0.75  PL
    END-POINT  58056.683          64322.340          11577.551  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RF                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58062.834  64322.340  11577.551  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RK                 
SUPPORT
    CO-ORDS  58062.834  64322.340  11577.551  0.75
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RL                 
SOCKET-WELD
    END-POINT  58056.683          64322.340          11577.551  0.75
    END-POINT  58056.683          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RH                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58056.683          64322.340          11577.551  0.75  SW FEMALE 
    END-POINT  58054.308          64322.340          11577.551  0.75  SW FEMALE 
    CENTRE-POINT   58055.496          64322.340          11577.551 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1NB                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 35 UP
SOCKET-WELD
    END-POINT  58054.308          64322.340          11577.551  0.75
    END-POINT  58054.308          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85I                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58054.308          64322.340          11577.551  0.75  PL
    END-POINT  58043.621          64322.340          11577.551  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85H                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58043.621          64322.340          11577.551  0.75
    END-POINT  58043.621          64322.340          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85J                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58042.871          64322.340          11578.301  0.75  SW FEMALE 
    END-POINT  58043.621          64322.340          11577.551  0.75  SW FEMALE 
    CENTRE-POINT   58042.871          64322.340          11577.551 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3UM                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58042.871          64322.340          11578.301  0.75  SW FEMALE 
    END-POINT  58042.871          64322.340          11578.301  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85G                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58042.871          64322.340          11651.067  0.75  PL
    END-POINT  58042.871          64322.340          11578.301  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RS                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58042.871          64322.340          11651.067  0.75
    END-POINT  58042.871          64322.340          11651.067  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58042.871          64322.340          11651.067  0.75  SW FEMALE 
    END-POINT  58042.121          64322.340          11651.817  0.75  SW FEMALE 
    CENTRE-POINT   58042.871          64322.340          11651.817 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RP                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58042.121          64322.340          11651.817  0.75
    END-POINT  58042.121          64322.340          11651.817  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1S2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58004.431          64322.340          11651.817  0.75  PL
    END-POINT  58042.121          64322.340          11651.817  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1S0                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58020.800  64322.340  11651.817  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5AT                 
SUPPORT
    CO-ORDS  58020.800  64322.340  11651.817  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5DF                 
FLOW-ARROW
    CO-ORDS  58034.967  64322.340  11651.817 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58004.431          64322.340          11651.817  0.75
    END-POINT  58004.431          64322.340          11651.817  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1S1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58004.431          64322.340          11651.817  0.75  SW FEMALE 
    END-POINT  58003.681          64322.340          11652.567  0.75  SW FEMALE 
    CENTRE-POINT   58003.681          64322.340          11651.817 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RX                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58003.681          64322.340          11652.567  0.75
    END-POINT  58003.681          64322.340          11652.567  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1SC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58003.681          64322.340          11691.337  0.75  PL
    END-POINT  58003.681          64322.340          11652.567  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1SA                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58003.681          64322.340          11691.337  0.75
    END-POINT  58003.681          64322.340          11691.337  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1SB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58003.681          64322.340          11691.337  0.75  SW FEMALE 
    END-POINT  58002.931          64322.340          11692.087  0.75  SW FEMALE 
    CENTRE-POINT   58003.681          64322.340          11692.087 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1S6                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58002.931          64322.340          11692.087  0.75
    END-POINT  58002.931          64322.340          11692.087  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1SF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58002.931          64322.340          11692.087  0.75  PL
    END-POINT  57771.550          64322.340          11692.087  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1SE                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57951.800  64322.340  11692.087  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5AX                 
SUPPORT
    CO-ORDS  57853.050  64322.340  11692.087  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5B5                 
SUPPORT
    CO-ORDS  57853.050  64322.340  11692.087  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5DA                 
SUPPORT
    CO-ORDS  57951.800  64322.340  11692.087  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5DD                 
SUPPORT
    CO-ORDS  57787.052  64322.340  11692.087  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RO                 
FLOW-ARROW
    CO-ORDS  57913.180  64322.340  11692.087 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57787.057  64322.340  11692.087  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3/4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9RZ                 
SOCKET-WELD
    END-POINT  57771.550          64322.340          11692.087  0.75  SW FEMALE 
    END-POINT  57771.550          64322.340          11692.087  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5C3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57771.550          64322.340          11692.087  0.75  SW FEMALE 
    END-POINT  57770.800          64322.340          11691.337  0.75  SW FEMALE 
    CENTRE-POINT   57770.800          64322.340          11692.087 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5C1                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  57770.800          64322.340          11691.337  0.75
    END-POINT  57770.800          64322.340          11691.337  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5CB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57770.800          64322.340          11596.775  0.75  PL
    END-POINT  57770.800          64322.340          11691.337  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5C9                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57770.800          64322.340          11596.775  0.75  SW FEMALE 
    END-POINT  57770.800          64322.340          11596.775  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57770.800          64322.340          11596.775  0.75  SW FEMALE 
    END-POINT  57770.800          64323.090          11596.025  0.75  SW FEMALE 
    CENTRE-POINT   57770.800          64322.340          11596.025 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YO                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  57770.800          64323.090          11596.025  0.75
    END-POINT  57770.800          64323.090          11596.025  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57770.800          64331.324          11596.025  0.75  PL
    END-POINT  57770.800          64323.090          11596.025  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YT                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57770.800          64331.324          11596.025  0.75
    END-POINT  57770.800          64331.324          11596.025  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57770.800          64331.324          11596.025  0.75  SW FEMALE 
    END-POINT  57770.050          64332.074          11596.025  0.75  SW FEMALE 
    CENTRE-POINT   57770.800          64332.074          11596.025 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YR                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57770.800  64332.074  11596.025 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57770.800  64378.800  11596.025 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57770.800  64332.074  11596.025 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64332.074  11596.025 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
SOCKET-WELD
    END-POINT  57770.050          64332.074          11596.025  0.75
    END-POINT  57770.050          64332.074          11596.025  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7Z4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57615.831          64332.074          11596.025  0.75  PL
    END-POINT  57770.050          64332.074          11596.025  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7Z2                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57666.066  64332.074  11596.025  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7ZD                 
SUPPORT
    CO-ORDS  57738.066  64332.074  11596.025  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7ZF                 
FLOW-ARROW
    CO-ORDS  57722.976  64332.074  11596.025 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  57615.831          64332.074          11596.025  0.75
    END-POINT  57615.831          64332.074          11596.025  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7Z3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57615.081          64332.074          11595.275  0.75  SW FEMALE 
    END-POINT  57615.831          64332.074          11596.025  0.75  SW FEMALE 
    CENTRE-POINT   57615.081          64332.074          11596.025 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YX                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  57615.081          64332.074          11595.275  0.75
    END-POINT  57615.081          64332.074          11595.275  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7Z1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57615.081          64332.074          11588.775  0.75  PL
    END-POINT  57615.081          64332.074          11595.275  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57615.081          64332.074          11588.775  0.75
    END-POINT  57615.081          64332.074          11588.775  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7Z0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57615.081          64332.074          11588.775  0.75  SW FEMALE 
    END-POINT  57615.081          64331.324          11588.025  0.75  SW FEMALE 
    CENTRE-POINT   57615.081          64332.074          11588.025 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7YY                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  57615.081          64331.324          11588.025  0.75
    END-POINT  57615.081          64331.324          11588.025  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57615.081          64331.324          11588.025  0.75  PL
    END-POINT  57615.081          64327.824          11588.025  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UN                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57615.081          64327.824          11588.025  0.75
    END-POINT  57615.081          64327.824          11588.025  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      57615.081  64326.074  11588.025 
    BRANCH1-POINT  57615.081          64327.824          11588.025  0.75  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_8N                  
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57615.081  64326.074  11588.025 
    PIPELINE-REFERENCE ISO-PY3-2043003
MATERIALS
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE 90L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR3/4
    DESCRIPTION STEAM TRAP W/INTEGRAL STRAINER, SP-936
    RATING 3000LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE SUPAG-3/4
    DESCRIPTION STEEL SUPPORT, P658 FIG 1, L=0'-9 1/4", X=0'-9"
ITEM-CODE SUPUB-3/4
    DESCRIPTION U BOLT GUIDE, P651 FIG 1
ITEM-CODE SUPTS-3/4
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
ITEM-CODE SUPAG-3/4_1
    DESCRIPTION STEEL SUPPORT, SEE ISO ISO-PY3-2041020-1
ITEM-CODE SUPTS-3/4_1
    DESCRIPTION TEE SHOE SUPPORT, P602-FIG 1
ITEM-CODE SUPRH-3/4
    DESCRIPTION ROD HANGER,  P624 FIG 4
ITEM-CODE SUPAG-3/4_2
    DESCRIPTION STEEL SUPPORT, SEE ISO  ISO-PY3-1214027-1
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION ROD HANGER P624, FIG. 2, L=1'-9 5/8" (FOR ANGLE SUPPORT SEE PY3-1213003-1
ITEM-CODE SUPRH-3/4_2
    DESCRIPTION ROD HANGER P624, FIG. 4, L=1'-7 11/16"
