ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212021
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212021-VT-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 12/5/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/8/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RJR
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 IFC
    ATTRIBUTE40 1
    ATTRIBUTE41 2/16/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 BL
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE-ANGLE
    END-POINT  58251.993          63900.741          11439.111  2  FL
    END-POINT  58251.993          63895.866          11444.486  3  FL
    CENTRE-POINT   58251.993          63900.741          11444.486 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FUE                 
    TAG PSV-002-11                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58251.993  63900.741  11444.486 
    TEXT PSV$002$11
    UNDIMENSIONED
GASKET
    END-POINT  58251.993          63900.741          11439.111  2
    END-POINT  58251.993          63900.741          11438.986  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FUG                 
    TAG PSV-002-11                      
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58251.993          63900.741          11439.111 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FUH                 
GASKET
    END-POINT  58251.993          63895.741          11444.486  3
    END-POINT  58251.993          63895.866          11444.486  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FUM                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58251.993          63895.741          11444.486  3  FL
    END-POINT  58251.993          63895.462          11444.486  3  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FUL                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58251.993          63895.462          11444.486 
    PIPELINE-REFERENCE ISO-PY3-1212022
FLANGE
    END-POINT  58251.993          63900.741          11438.986  2  FL
    END-POINT  58251.993          63900.741          11438.770  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ACC                 
    PIPING-SPEC S1
WELD
    END-POINT  58251.993          63900.741          11438.770  2
    END-POINT  58251.993          63900.741          11438.770  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58251.993          63900.741          11438.770  2
    END-POINT  58251.993          63900.741          11438.770  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58251.991          63900.741          11388.092  2  BW
    END-POINT  58251.993          63900.741          11438.770  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5L                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58251.990  63900.741  11400.003  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5P                 
MESSAGE
    CO-ORDS  58251.990  63900.741  11400.001 
    TEXT FLOOR OPENING
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58251.992  63900.741  11423.212 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58251.991          63900.741          11388.092  2
    END-POINT  58251.991          63900.741          11388.092  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58254.991          63900.741          11385.092  2  BW
    END-POINT  58251.991          63900.741          11388.092  2  BW
    CENTRE-POINT   58251.991          63900.741          11385.092 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DC1                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58254.991          63900.741          11385.092  2
    END-POINT  58254.991          63900.741          11385.092  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58261.219          63900.741          11385.092  2  BW
    END-POINT  58254.991          63900.741          11385.092  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5H                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58261.219          63900.741          11385.092  2
    END-POINT  58261.219          63900.741          11385.092  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58264.219          63903.741          11385.092  2  BW
    END-POINT  58261.219          63900.741          11385.092  2  BW
    CENTRE-POINT   58264.219          63900.741          11385.092 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DBY                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58264.219  63900.741  11385.092 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58264.219  63898.800  11385.092 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58264.219  63900.741  11385.092 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.801  63900.741  11385.092 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58264.219          63903.741          11385.092  2
    END-POINT  58264.219          63903.741          11385.092  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DC0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58264.219          63910.460          11385.092  2  BW
    END-POINT  58264.219          63903.741          11385.092  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DBV                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58264.219  63907.437  11385.092 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58264.219          63910.460          11385.092  2
    END-POINT  58264.219          63910.460          11385.092  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DBW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58264.219          63913.460          11382.092  2  BW
    END-POINT  58264.219          63910.460          11385.092  2  BW
    CENTRE-POINT   58264.219          63913.460          11385.092 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AC0                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58264.219          63913.460          11382.092  2
    END-POINT  58264.219          63913.460          11382.092  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I65                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58264.219          63913.460          11379.280  2  PL
    END-POINT  58264.219          63913.460          11382.092  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I62                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58264.219          63913.460          11379.280  2
    END-POINT  58264.219          63913.460          11379.280  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I63                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58264.219          63913.460          11379.280  2
    END-POINT  58264.219          63913.460          11379.280  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I64                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE-REDUCING-CONCENTRIC
    END-POINT  58264.219          63913.460          11379.001  3  FL
    END-POINT  58264.219          63913.460          11379.280  2  BW
    SKEY FLRC
    FABRICATION-ITEM
    ITEM-CODE FLGRED3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FX0                 
    PIPING-SPEC S1
GASKET
    END-POINT  58264.219          63913.460          11379.001  3
    END-POINT  58264.219          63913.460          11378.876  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5Y                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58264.219          63913.460          11379.001 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I5Z                 
END-POSITION-OPEN 
    CO-ORDS  58264.219          63913.460          11378.876 
MATERIALS
ITEM-CODE VALVREL2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-002-11
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGRED3X2
    CATALOG ANSI B16.5
    DESCRIPTION REDUCING FLANGE, SO, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
