ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216016-C
PIPING-SPEC S4C
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5231_CORE.DWG
    ATTRIBUTE98 PMI
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216016-C-PMI-S4C
    ATTRIBUTE95 I1
    ATTRIBUTE94 S4C
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 2/27/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58247.988          64034.910          11715.438  4  FL
    END-POINT  58247.988          64034.910          11712.058  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1MG                 
    PIPING-SPEC S4C
    INSULATION-ON 
GASKET
    END-POINT  58247.988          64034.910          11715.438  4
    END-POINT  58247.988          64034.910          11715.563  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1MV                 
    PIPING-SPEC S4C
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58247.988          64034.910          11715.438 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1MW                 
WELD
    END-POINT  58247.988          64034.910          11712.058  4
    END-POINT  58247.988          64034.910          11712.058  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1QM                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4C
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58247.988          64034.910          11715.563 
PIPE
    END-POINT  58247.987          64034.910          11697.061  4  BW
    END-POINT  58247.988          64034.910          11712.058  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1QK                 
    PIPING-SPEC S4C
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58247.988  64034.910  11706.194 
    FLOW 1
    SKEY FLOW
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58247.988  64034.910  11712.058 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64034.910  11712.058 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58247.988  64034.910  11712.058 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58247.988  64138.748  11712.058 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX2
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58247.987          64034.910          11697.061  4
    END-POINT  58247.987          64034.910          11697.061  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1QL                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4C
    INSULATION-ON 
FLANGE
    END-POINT  58247.988          64034.910          11693.681  4  FL
    END-POINT  58247.987          64034.910          11697.061  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1MO                 
    PIPING-SPEC S4C
    INSULATION-ON 
GASKET
    END-POINT  58247.988          64034.910          11693.681  4
    END-POINT  58247.988          64034.910          11693.556  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1MP                 
    PIPING-SPEC S4C
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58247.988          64034.910          11693.681 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1MQ                 
MISC-COMPONENT
    END-POINT  58247.988          64034.910          11691.556  4  FL
    END-POINT  58247.988          64034.910          11693.556  4  FL
    CENTRE-POINT  58247.988  64034.910  11692.556 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1ML                 
    PIPING-SPEC S4C
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58247.988  64034.910  11692.316 
    TEXT TE$062$01A
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  58247.988  64034.910  11691.556 
    TEXT PT$062$01A
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  58247.988  64034.910  11693.556 
    TEXT TE$062$01B
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  58247.988  64034.910  11691.556 
    TEXT PT$062$01B
    UNDIMENSIONED
GASKET
    END-POINT  58247.988          64034.910          11691.556  4
    END-POINT 
** 
Processing ID: AT_FNISGX1A_1QI  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISGX1A_1QI                 
    PIPING-SPEC S4C
    INSULATION-ON 
    GASKET-RATING 300LB          
END-POSITION-OPEN 
    CO-ORDS  58247.988  64034.910  11691.556 
MATERIALS
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, BW, 300LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 300LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 300LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
ITEM-CODE PIP4
    CATALOG ANSI B16.9
    DESCRIPTION PIPE, SCH 40S, ASTM A312 Gr TP304L, SEAMLESS
    RATING 40S
ITEM-CODE BOLT4_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4" X 5 1/4" MACHINE BOLT w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
ITEM-CODE GENSTR4
    DESCRIPTION INSTRUMENT FLANGE, SEE DETAIL 3 ON DWG. GVL-GP3-GS3-70D-002
    RATING 300LB
