ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217017
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1217017-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/9/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/12/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/1/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.356  64117.040  11378.630 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57826.356  64138.748  11378.630 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
MATERIALS
