ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223011
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 MS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1223011-MS-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/4/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/11/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/12/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58190.862          64221.978          11572.411  0.75  SC FEMALE 
    END-POINT  58190.862          64221.978          11571.471  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8D1                 
    PIPING-SPEC C2
    END-POSITION-CLOSED 
    CO-ORDS  58190.862          64221.978          11571.471 
SCREWED-WELD
    END-POINT  58190.862          64221.978          11572.411  0.75  SC FEMALE 
    END-POINT  58190.862          64221.978          11572.411  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8D2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58190.862          64221.978          11574.411  0.75  SW MALE 
    END-POINT  58190.862          64221.978          11572.411  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58190.862          64221.978          11574.411  0.75  SW MALE 
    END-POINT  58190.862          64221.978          11574.411  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8D0                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58190.862          64221.978          11576.786  0.75  SW FEMALE 
    END-POINT  58190.862          64221.978          11574.411  0.75  SW FEMALE 
    CENTRE-POINT   58190.862          64221.978          11575.599 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CX                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58190.862          64221.978          11576.786  0.75  SW FEMALE 
    END-POINT  58190.862          64221.978          11576.786  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CY                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58190.862          64221.978          11580.286  0.75  PL
    END-POINT  58190.862          64221.978          11576.786  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CW                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58190.862          64221.978          11580.286  0.75
    END-POINT  58190.862          64221.978          11580.286  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58190.862          64221.978          11580.849  1.5  SW MALE 
    END-POINT  58190.862          64221.978          11580.286  0.75  SW FEMALE 
    CENTRE-POINT  58190.862  64221.978  11580.568 
    SKEY NCSW
    FABRICATION-ITEM
    ITEM-CODE INST21+1/2X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8CE                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58190.862          64221.978          11580.849  1.5  SW MALE 
    END-POINT  58190.862          64221.978          11580.849  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58190.862          64221.978          11583.349  1.5  SW FEMALE 
    END-POINT  58190.862          64221.978          11580.849  1.5  SW FEMALE 
    CENTRE-POINT   58190.862          64221.978          11582.099 
    BRANCH1-POINT  58189.612          64221.978          11582.099  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58190.862          64221.978          11583.349  1.5
    END-POINT  58190.862          64221.978          11583.349  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58189.612          64221.978          11582.099  1.5
    END-POINT  58189.612          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58189.612          64221.978          11582.099  1.5  PL
    END-POINT  58178.445          64221.978          11582.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAY                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58181.149  64221.978  11582.099  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACU                 
FLOW-ARROW
    CO-ORDS  58185.478  64221.978  11582.099 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58178.445          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58178.445          64221.978          11582.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AB1                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
VALVE
    END-POINT  58178.445          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58174.695          64221.978          11582.099  1.5  SW FEMALE 
    CENTRE-POINT   58176.570          64221.978          11582.099 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AB0                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58174.695          64221.978          11582.099  1.5
    END-POINT  58174.695          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AB5                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58174.695          64221.978          11582.099  1.5  PL
    END-POINT  58169.575          64221.978          11582.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AB4                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58169.575          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58169.575          64221.978          11582.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AB7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
FLANGE
    END-POINT  58169.315          64221.978          11582.099  1.5  FL
    END-POINT  58169.575          64221.978          11582.099  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AB6                 
    PIPING-SPEC C2
GASKET
    END-POINT  58169.190          64221.978          11582.099  1.5
    END-POINT  58169.315          64221.978          11582.099  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AB9                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58169.190          64221.978          11582.099 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABA                 
FLANGE
    END-POINT  58169.190          64221.978          11582.099  1.5  FL
    END-POINT  58168.930          64221.978          11582.099  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AB8                 
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58168.930          64221.978          11582.099  1.5
    END-POINT  58168.930          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58168.930          64221.978          11582.099  1.5  PL
    END-POINT  58165.310          64221.978          11582.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABB                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58165.310          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58165.310          64221.978          11582.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABH                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
TEE
    END-POINT  58165.310          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58160.660          64221.978          11582.099  1.5  SW FEMALE 
    CENTRE-POINT   58163.973          64221.978          11582.099 
    BRANCH1-POINT  58160.968          64221.978          11579.094  0.75  SC FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE STRWYE1+1/2
    WEIGHT           7.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABF                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58160.660          64221.978          11582.099  1.5
    END-POINT  58160.660          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABU                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
SCREWED-WELD
    END-POINT  58160.968          64221.978          11579.094  0.75  SC MALE 
    END-POINT  58160.968          64221.978          11579.094  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABJ                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
PIPE
    END-POINT  58160.968          64221.978          11579.094  0.75  SC MALE 
    END-POINT  58158.139          64221.978          11576.265  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABI                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58158.139          64221.978          11576.265  0.75  SW FEMALE 
    END-POINT  58158.139          64221.978          11576.265  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABL                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
VALVE
    END-POINT  58158.139          64221.978          11576.265  0.75  SW FEMALE 
    END-POINT  58156.460          64221.978          11574.586  0.75  SW FEMALE 
    CENTRE-POINT   58157.300          64221.978          11575.425 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABK                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58156.460          64221.978          11574.586  0.75  SW MALE 
    END-POINT  58156.460          64221.978          11574.586  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABP                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE-FIXED
    END-POINT  58156.460          64221.978          11574.586  0.75  SW MALE 
    END-POINT  58155.046          64221.978          11573.172  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABO                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58155.046          64221.978          11573.172  0.75  SC FEMALE 
    END-POINT  58155.046          64221.978          11573.172  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
CAP
    END-POINT  58155.046          64221.978          11573.172  0.75  SC FEMALE 
    END-POINT  58154.381          64221.978          11572.507  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABQ                 
    PIPING-SPEC C2
    END-POSITION-CLOSED 
    CO-ORDS  58154.381          64221.978          11572.507 
REDUCER-ECCENTRIC
    END-POINT  58160.660          64221.978          11582.099  1.5  PL
    END-POINT  58156.160          64221.978          11581.674  0.75  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABS                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58156.160          64221.978          11581.674  0.75  SW FEMALE 
    END-POINT  58156.160          64221.978          11581.674  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
MISC-COMPONENT
    END-POINT  58156.160          64221.978          11581.674  0.75  SW FEMALE 
    END-POINT  58151.160          64221.978          11581.674  0.75  SW FEMALE 
    CENTRE-POINT  58153.660  64221.978  11581.674 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABV                 
    TAG SP-014                          
    PIPING-SPEC C2
MESSAGE-ROUND
    CO-ORDS  58153.335  64221.978  11581.674 
    TEXT SP-014
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58151.160          64221.978          11581.674  0.75
    END-POINT  58151.160          64221.978          11581.674  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
REDUCER-ECCENTRIC
    END-POINT  58146.660          64221.978          11582.099  1.5  PL
    END-POINT  58151.160          64221.978          11581.674  0.75  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ABX                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58146.660          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58146.660          64221.978          11582.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AC1                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
VALVE
    END-POINT  58146.660          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58142.410          64221.978          11582.099  1.5  SW FEMALE 
    CENTRE-POINT   58144.629          64221.978          11582.099 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT          16.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AC0                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58142.410          64221.978          11582.099  1.5
    END-POINT  58142.410          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACG                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58142.410          64221.978          11582.099  1.5  PL
    END-POINT  58139.290          64221.978          11582.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACF                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58139.290          64221.978          11582.099  1.5
    END-POINT  58139.290          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
FLANGE
    END-POINT  58139.030          64221.978          11582.099  1.5  FL
    END-POINT  58139.290          64221.978          11582.099  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AC4                 
    PIPING-SPEC C2
GASKET
    END-POINT  58138.905          64221.978          11582.099  1.5
    END-POINT  58139.030          64221.978          11582.099  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AC7                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58138.905          64221.978          11582.099 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AC8                 
FLANGE
    END-POINT  58138.905          64221.978          11582.099  1.5  FL
    END-POINT  58138.645          64221.978          11582.099  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AC6                 
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58138.645          64221.978          11582.099  1.5
    END-POINT  58138.645          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58138.645          64221.978          11582.099  1.5  PL
    END-POINT  58134.525          64221.978          11582.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACI                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58134.525          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58134.525          64221.978          11582.099  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACL                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
VALVE
    END-POINT  58134.525          64221.978          11582.099  1.5  SW FEMALE 
    END-POINT  58130.775          64221.978          11582.099  1.5  SW FEMALE 
    CENTRE-POINT   58132.650          64221.978          11582.099 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACK                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58130.775          64221.978          11582.099  1.5
    END-POINT  58130.775          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACP                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58130.775          64221.978          11582.099  1.5  PL
    END-POINT  58125.048          64221.978          11582.099  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACO                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58128.925  64221.978  11582.099  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACS                 
SOCKET-WELD
    END-POINT  58125.048          64221.978          11582.099  1.5
    END-POINT  58125.048          64221.978          11582.099  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ACQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
TEE
    END-POINT  58123.798          64221.978          11583.349  1.5  SW FEMALE 
    END-POINT  58123.798          64221.978          11580.849  1.5  SW FEMALE 
    CENTRE-POINT   58123.798          64221.978          11582.099 
    BRANCH1-POINT  58125.048          64221.978          11582.099  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAE                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58123.798          64221.978          11583.349  1.5
    END-POINT  58123.798          64221.978          11583.349  1.5  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.798          64221.978          11580.849  1.5
    END-POINT  58123.798          64221.978          11580.849  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58123.798          64221.978          11596.849  1.5  PL
    END-POINT  58123.798          64221.978          11583.349  1.5  PL
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A94                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58123.798          64221.978          11596.849 
    PIPELINE-REFERENCE ISO-PY3-1223008
PIPE
    END-POINT  58123.798          64221.978          11524.908  1.5  PL
    END-POINT  58123.798          64221.978          11580.849  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8I9                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58123.798  64221.978  11569.220  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8KY                 
FLOOR-SYMBOL 
    CO-ORDS  58123.798  64221.978  11567.970 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58123.798  64221.978  11567.970 
    TEXT Grate Opening
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58123.798          64221.978          11524.908  1.5
    END-POINT  58123.798          64221.978          11524.908  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8IA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58123.798          64221.978          11524.908  1.5  SW FEMALE 
    END-POINT  58125.048          64221.978          11523.658  1.5  SW FEMALE 
    CENTRE-POINT   58123.798          64221.978          11523.658 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7ON                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58125.048          64221.978          11523.658  1.5
    END-POINT  58125.048          64221.978          11523.658  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58125.048          64221.978          11523.658  1.5  PL
    END-POINT  58204.503          64221.978          11523.658  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OQ                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.800  64221.978  11523.658  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7P0                 
FLOW-ARROW
    CO-ORDS  58173.555  64221.978  11523.658 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58204.503          64221.978          11523.658  1.5
    END-POINT  58204.503          64221.978          11523.658  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58204.503          64221.978          11523.658  1.5  SW FEMALE 
    END-POINT  58205.753          64223.228          11523.658  1.5  SW FEMALE 
    CENTRE-POINT   58205.753          64221.978          11523.658 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58205.753          64223.228          11523.658  1.5
    END-POINT  58205.753          64223.228          11523.658  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.753          64223.228          11523.658  1.5  PL
    END-POINT  58205.753          64329.550          11523.658  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OK                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58205.753  64294.800  11523.658  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7P8                 
SOCKET-WELD
    END-POINT  58205.753          64329.550          11523.658  1.5
    END-POINT  58205.753          64329.550          11523.658  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58205.753          64329.550          11523.658  1.5  SW FEMALE 
    END-POINT  58205.753          64330.800          11522.408  1.5  SW FEMALE 
    CENTRE-POINT   58205.753          64330.800          11523.658 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OF                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58205.753  64330.800  11523.658 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58205.753  64378.800  11523.658 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58205.753  64330.800  11523.658 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64330.800  11523.658 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SOCKET-WELD
    END-POINT  58205.753          64330.800          11522.408  1.5
    END-POINT  58205.753          64330.800          11522.408  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58205.753          64330.800          11471.972  1.5  PL
    END-POINT  58205.753          64330.800          11522.408  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OT                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58205.753          64330.800          11471.972  1.5
    END-POINT  58205.753          64330.800          11471.972  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58204.503          64330.800          11470.722  1.5  SW FEMALE 
    END-POINT  58205.753          64330.800          11471.972  1.5  SW FEMALE 
    CENTRE-POINT   58205.753          64330.800          11470.722 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O2                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58204.503          64330.800          11470.722  1.5
    END-POINT  58204.503          64330.800          11470.722  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58204.503          64330.800          11470.722  1.5  PL
    END-POINT  58133.925          64330.800          11470.722  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O4                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.809  64330.800  11470.722  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OA                 
FLOW-ARROW
    CO-ORDS  58172.396  64330.800  11470.722 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58133.925          64330.800          11470.722  1.5
    END-POINT  58133.925          64330.800          11470.722  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58132.675          64330.800          11469.472  1.5  SW FEMALE 
    END-POINT  58133.925          64330.800          11470.722  1.5  SW FEMALE 
    CENTRE-POINT   58132.675          64330.800          11470.722 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O1                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58132.675          64330.800          11469.472  1.5
    END-POINT  58132.675          64330.800          11469.472  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O8                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58132.675          64330.800          11469.472  1.5  PL
    END-POINT  58132.675          64330.800          11451.200  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O7                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58132.675          64330.800          11451.200  1.5
    END-POINT  58132.675          64330.800          11451.200  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58132.675          64330.800          11451.200  1.5  SW FEMALE 
    END-POINT  58132.675          64329.550          11449.950  1.5  SW FEMALE 
    CENTRE-POINT   58132.675          64330.800          11449.950 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7O0                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58132.675          64329.550          11449.950  1.5
    END-POINT  58132.675          64329.550          11449.950  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58132.675          64329.550          11449.950  1.5  PL
    END-POINT  58132.675          64303.050          11449.950  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OC                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58132.675          64303.050          11449.950  1.5
    END-POINT  58132.675          64303.050          11449.950  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7OE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58132.675          64301.800          11448.700  1.5  SW FEMALE 
    END-POINT  58132.675          64303.050          11449.950  1.5  SW FEMALE 
    CENTRE-POINT   58132.675          64301.800          11449.950 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7NT                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58132.675          64301.800          11448.700  1.5
    END-POINT  58132.675          64301.800          11448.700  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7NW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58132.675          64301.800          11448.700  1.5  PL
    END-POINT  58132.675          64301.800          11441.173  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7NV                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58132.675          64301.800          11441.173  1.5
    END-POINT  58132.675          64301.800          11441.173  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7NX                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58132.675          64301.800          11437.423  1.5  SW FEMALE 
    END-POINT  58132.675          64301.800          11441.173  1.5  SW FEMALE 
    CENTRE-POINT   58132.675          64301.800          11439.298 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7NO                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58132.675          64301.800          11437.423  1.5  SW FEMALE 
    END-POINT  58132.675          64301.800          11437.423  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7NP                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58132.675          64301.800          11433.423  1.5  PL
    END-POINT  58132.675          64301.800          11437.423  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7NM                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58132.675          64301.800          11433.423  1.5  SW FEMALE 
    END-POINT  58132.675          64301.800          11433.423  1.5
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_PL                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58132.675  64301.800  11430.298 
    BRANCH1-POINT  58132.675          64301.800          11433.423  1.5  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           1.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_B6                  
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58132.675  64301.800  11430.298 
    PIPELINE-REFERENCE ISO-PY3-2043006
PIPE
    END-POINT  58190.862          64221.978          11583.349  1.5  PL
    END-POINT  58190.862          64221.978          11587.599  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAT                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58190.862          64221.978          11587.599  1.5
    END-POINT  58190.862          64221.978          11587.599  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AAV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
ELBOW
    END-POINT  58190.862          64222.551          11588.982  1.5  SW FEMALE 
    END-POINT  58190.862          64221.978          11587.599  1.5  SW FEMALE 
    CENTRE-POINT   58190.862          64221.978          11588.409 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8K5                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58190.862          64222.551          11588.982  1.5  SW FEMALE 
    END-POINT  58190.862          64222.551          11588.982  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8K7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58190.862          64233.405          11599.836  1.5  PL
    END-POINT  58190.862          64222.551          11588.982  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8H9                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58190.862          64233.405          11599.836  1.5
    END-POINT  58190.862          64233.405          11599.836  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8HA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58190.862          64233.405          11599.836  1.5  SW FEMALE 
    END-POINT  58190.862          64233.978          11601.219  1.5  SW FEMALE 
    CENTRE-POINT   58190.862          64233.978          11600.409 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8H7                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58190.862          64233.978          11601.219  1.5
    END-POINT  58190.862          64233.978          11601.219  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8M3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58190.862          64233.978          11601.219  1.5  PL
    END-POINT  58190.862          64233.978          11668.419  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8M2                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58190.862  64233.978  11642.719 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58190.862          64233.978          11668.419  1.5
    END-POINT  58190.862          64233.978          11668.419  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8M4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58190.862          64232.728          11669.669  1.5  SW FEMALE 
    END-POINT  58190.862          64233.978          11668.419  1.5  SW FEMALE 
    CENTRE-POINT   58190.862          64233.978          11669.669 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8G1                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58190.862  64233.978  11669.669 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58190.862  64378.800  11669.669 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58190.862  64233.978  11669.669 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64233.978  11669.669 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SOCKET-WELD
    END-POINT  58190.862          64232.728          11669.669  1.5
    END-POINT  58190.862          64232.728          11669.669  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8IC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58190.862          64232.728          11669.669  1.5  PL
    END-POINT  58190.862          64127.680          11669.669  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_67C                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58190.862  64162.748  11669.669  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_68B                 
SUPPORT
    CO-ORDS  58190.862  64162.748  11669.669  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8L1                 
SOCKET-WELD
    END-POINT  58190.862          64127.680          11669.669  1.5  SW FEMALE 
    END-POINT  58190.862          64127.680          11669.669  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6A2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58190.862          64127.680          11669.669  1.5  SW FEMALE 
    END-POINT  58190.862          64126.430          11670.919  1.5  SW FEMALE 
    CENTRE-POINT   58190.862          64126.430          11669.669 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6A0                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58190.862          64126.430          11670.919  1.5
    END-POINT  58190.862          64126.430          11670.919  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58190.862          64126.430          11670.919  1.5  PL
    END-POINT  58190.862          64126.430          11703.865  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AA                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58190.862          64126.430          11703.865  1.5
    END-POINT  58190.862          64126.430          11703.865  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6AC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58192.112          64126.430          11705.115  1.5  SW FEMALE 
    END-POINT  58190.862          64126.430          11703.865  1.5  SW FEMALE 
    CENTRE-POINT   58190.862          64126.430          11705.115 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6A5                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58192.112          64126.430          11705.115  1.5
    END-POINT  58192.112          64126.430          11705.115  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6G0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58246.737          64126.430          11705.115  1.5  PL
    END-POINT  58192.112          64126.430          11705.115  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6FY                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58219.072  64126.430  11705.115 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58246.737          64126.430          11705.115  1.5
    END-POINT  58246.737          64126.430          11705.115  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6U1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58247.987          64125.180          11705.115  1.5  SW FEMALE 
    END-POINT  58246.737          64126.430          11705.115  1.5  SW FEMALE 
    CENTRE-POINT   58247.987          64126.430          11705.115 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_69X                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58247.987          64125.180          11705.115  1.5  SW FEMALE 
    END-POINT  58247.987          64125.180          11705.115  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_69Z                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58247.987          64122.060          11705.115  1.5  PL
    END-POINT  58247.987          64125.180          11705.115  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_69V                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58247.987          64122.060          11705.115  1.5
    END-POINT  58247.987          64122.060          11705.115  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_69W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58247.987          64121.800          11705.115  1.5  FL
    END-POINT  58247.987          64122.060          11705.115  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5SQ                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58247.987          64121.800          11705.115  1.5
    END-POINT  58247.987          64121.675          11705.115  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5SR                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58247.987          64121.800          11705.115 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5SS                 
END-POSITION-OPEN 
    CO-ORDS  58247.987          64121.675          11705.115 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE INST21+1/2X3/4
    CATALOG ANSI B16.11
    DESCRIPTION REDUCING INSERT, SWMxSWF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION P651 FIG 1
ITEM-CODE VALVGAT1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE STRWYE1+1/2
    CATALOG CYTEC STRAINER
    DESCRIPTION Y-STRAINER, CL. 250, SW, CS, YARWAY 921 SW OR EQUAL (12.14)
    RATING 250LB
ITEM-CODE CAP3/4_1
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, PLxPL, SCH 40xSCH 80, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE GENSTR3/4
    DESCRIPTION SP-014
    RATING 3000LB
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION RISER CLAMP/GUIDE, P615, FIG.2, (C.S.)
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-5 1/4"
ITEM-CODE SUPRH-1+1/2_2
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-6 15/16"
ITEM-CODE SUPTS-1+1/2
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2,  (MODIFY TO 8" LONG)
ITEM-CODE 45L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 45 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPTS-1+1/2_1
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION STEEL SUPPORT, P629-FIG 9, L=2'-6"
