ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213018
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212_A.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1213018-VT-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 11/10/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 11/12/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/23/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58322.668          64169.056          11444.480  4  FL
    END-POINT  58322.967          64169.056          11444.480  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6                   
    PIPING-SPEC S1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58322.668  64169.056  11444.480 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64169.056  11444.480 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58322.967  64169.056  11444.480 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58322.967  64138.748  11444.480 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
MESSAGE-CIRCLE
    CO-ORDS  58322.668  64169.056  11444.480 
    TEXT PSV$003$14
    UNDIMENSIONED
GASKET
    END-POINT  58322.668          64169.056          11444.480  4
    END-POINT  58322.543          64169.056          11444.480  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_HK                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58322.668          64169.056          11444.480 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_HL                  
WELD
    END-POINT  58322.967          64169.056          11444.480  4
    END-POINT  58322.967          64169.056          11444.480  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_I7                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58322.967          64169.056          11444.480  4
    END-POINT  58322.967          64169.056          11444.480  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_I8                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
VALVE-ANGLE
    END-POINT  58316.168          64169.056          11438.355  3  FL
    END-POINT  58322.543          64169.056          11444.480  4  FL
    CENTRE-POINT   58316.168          64169.056          11444.480 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_C                   
    TAG PSV-003-14                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58316.168          64169.056          11438.355 
    PIPELINE-REFERENCE ISO-PY3-1213017
PIPE
    END-POINT  58322.967          64169.056          11444.480  4  PL
    END-POINT  58342.101          64169.056          11444.146  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_I5                  
    PIPING-SPEC S1
    CUT-PIECE-ALLOWANCE EP2 2.25
MESSAGE
    CO-ORDS  58342.101  64169.056  11444.146 
    TEXT MITER END OF PIPE 45 DEGREES$AND ADD BIRDSCREEN
    UNDIMENSIONED
FLOOR-SYMBOL 
    CO-ORDS  58331.252  64169.056  11444.336 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58331.252  64169.056  11444.336 
    TEXT Wall Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58337.439  64169.056  11444.228 
    FLOW 1
    SKEY FLOW
END-POSITION-OPEN 
    CO-ORDS  58342.101          64169.056          11444.146 
MATERIALS
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
