ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2043003
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5211.DWG
    ATTRIBUTE98 PC
    ATTRIBUTE97 1.50
    ATTRIBUTE96 2043003-PC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-043
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/3/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/13/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/12/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 3/23/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 DC
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
SUPPORT
    CO-ORDS  57778.799  64326.075  11472.188 
** Unable to determine support size **

    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_O2                  
    TAG                         P629 FIG 8                      
MATERIALS
ITEM-CODE SUPAG-2
    DESCRIPTION P629 FIG 8
