ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212028
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1212028-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 D. CAMACHO
    ATTRIBUTE22 7/31/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 B. L.
    ATTRIBUTE26 7/31/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 7/31/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 7/31/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 7/31/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 DC
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 11/27/2012
    ATTRIBUTE42 CP
    ATTRIBUTE43 DK
    ATTRIBUTE44 DK
    ATTRIBUTE45 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58323.518          63957.049          11358.967  2  BW
    END-POINT  58323.518          63957.049          11285.967  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PG8                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58323.518  63957.049  11303.999  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JYZ                 
FLOW-ARROW
    CO-ORDS  58323.518  63957.049  11297.043 
    FLOW 1
    SKEY FLOW
MESSAGE
    CO-ORDS  58323.518  63957.049  11285.999 
    TEXT TO 6" ABOVE FLOOR
    UNDIMENSIONED
WELD
    END-POINT  58323.518          63957.049          11358.967  2
    END-POINT  58323.518          63957.049          11358.967  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PG9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58323.518          63957.049          11285.967 
ELBOW
    END-POINT  58323.518          63957.049          11358.967  2  BW
    END-POINT  58323.518          63960.049          11361.967  2  BW
    CENTRE-POINT   58323.518          63957.049          11361.967 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JYV                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58323.518  63957.049  11361.967 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58323.518  63898.800  11361.967 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58323.518          63960.049          11361.967  2
    END-POINT  58323.518          63960.049          11361.967  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JYU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58323.518          63960.049          11361.967  2  BW
    END-POINT  58323.518          63975.004          11361.967  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JYT                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58323.518          63975.004          11361.967  2
    END-POINT  58323.518          63975.004          11361.967  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JYS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58320.518          63978.004          11361.967  2  BW
    END-POINT  58323.518          63975.004          11361.967  2  BW
    CENTRE-POINT   58323.518          63978.004          11361.967 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JYQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58323.518  63978.004  11361.967 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63978.004  11361.967 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58320.518          63978.004          11361.967  2
    END-POINT  58320.518          63978.004          11361.967  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PG5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58273.045          63978.004          11361.968  2  BW
    END-POINT  58320.518          63978.004          11361.967  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PG3                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58292.512  63978.004  11361.968 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58273.045          63978.004          11361.968  2
    END-POINT  58273.045          63978.004          11361.968  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PG4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58270.689          63978.980          11361.968  2  BW
    END-POINT  58273.045          63978.004          11361.968  2  BW
    CENTRE-POINT   58271.665          63978.004          11361.968 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58270.689          63978.980          11361.968  2
    END-POINT  58270.689          63978.980          11361.968  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PG1                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58270.689          63978.980          11361.968  2  BW
    END-POINT  58263.186          63986.483          11361.967  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PG0                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58263.186          63986.483          11361.967  2
    END-POINT  58263.186          63986.483          11361.967  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PG2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58263.186          63986.483          11361.967  2  BW
    END-POINT  58258.590          63991.079          11361.967  1.5  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           2.330
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58258.590          63991.079          11361.967  1.5  SC MALE 
    END-POINT  58258.590          63991.079          11361.967  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58258.454          63991.215          11361.967  1.5  FL
    END-POINT  58258.590          63991.079          11361.967  1.5  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFQ                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58258.454          63991.215          11361.967  1.5
    END-POINT  58258.410          63991.259          11361.967  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFR                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58258.454          63991.215          11361.967 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFS                 
VALVE-ANGLE
    END-POINT  58255.803          63993.867          11359.093  1  FL
    END-POINT  58258.410          63991.259          11361.967  1.5  FL
    CENTRE-POINT   58255.803          63993.867          11361.968 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PFI                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58255.803          63993.867          11359.093 
    PIPELINE-REFERENCE ISO-PY3-1212001
MATERIALS
ITEM-CODE PIP2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE SUPRH-2
    DESCRIPTION PIPE SUPPORT, L=7.5", P609 FIG 1
ITEM-CODE 90LLR2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 45LLR2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxSCM, SCH 40xSCH 80, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
