ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218015
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218015-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-18
    ATTRIBUTE21 SG
    ATTRIBUTE22 10/29/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/3/2008
    ATTRIBUTE25 RHP
    ATTRIBUTE26 1/26/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILLIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SG
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 D. ORR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 DD
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58015.627          64297.162          11321.672  0.75  SC FEMALE 
    END-POINT  58015.627          64297.162          11320.732  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARM                 
    PIPING-SPEC S1
    END-POSITION-CLOSED 
    CO-ORDS  58015.627          64297.162          11320.732 
SCREWED-WELD
    END-POINT  58015.627          64297.162          11321.672  0.75  SC FEMALE 
    END-POINT  58015.627          64297.162          11321.672  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ASC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58015.627          64297.162          11323.672  0.75  PL
    END-POINT  58015.627          64297.162          11321.672  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARO                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58015.627          64297.162          11323.672  0.75
    END-POINT  58015.627          64297.162          11323.672  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ASB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58015.627          64297.162          11325.652  0.75  SW FEMALE 
    END-POINT  58015.627          64297.162          11323.672  0.75  SW FEMALE 
    CENTRE-POINT   58015.627          64297.162          11324.677 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARN                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58015.627          64297.162          11325.652  0.75  SW FEMALE 
    END-POINT  58015.627          64297.162          11325.652  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AS9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58015.627          64297.162          11329.182  0.75  BW
    END-POINT  58015.627          64297.162          11325.652  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AS8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58015.627          64297.162          11329.182  0.75
    END-POINT  58015.627          64297.162          11329.182  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58016.687          64296.102          11330.682  1  BW
    END-POINT  58014.566          64298.223          11330.682  1  BW
    CENTRE-POINT   58015.627          64297.162          11330.682 
    BRANCH1-POINT  58015.627          64297.162          11329.182  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR1                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58016.687          64296.102          11330.682  1
    END-POINT  58016.687          64296.102          11330.682  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58014.566          64298.223          11330.682  1
    END-POINT  58014.566          64298.223          11330.682  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_APU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58014.566          64298.223          11330.682  1  BW
    END-POINT  58013.152          64299.637          11330.682  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_APT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58013.152          64299.637          11330.682  1
    END-POINT  58013.152          64299.637          11330.682  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B8R                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58013.152          64299.637          11330.682  1  BW
    END-POINT  58012.091          64300.698          11332.182  1  BW
    CENTRE-POINT   58012.091          64300.698          11330.682 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARI                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58012.091  64300.698  11330.682  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AY0                 
WELD
    END-POINT  58012.091          64300.698          11332.182  1
    END-POINT  58012.091          64300.698          11332.182  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B8S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.091          64300.698          11332.182  1  BW
    END-POINT  58012.091          64300.698          11336.182  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.091          64300.698          11336.182  1
    END-POINT  58012.091          64300.698          11336.182  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.091          64300.698          11336.182  1
    END-POINT  58012.091          64300.698          11336.182  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58012.091          64300.698          11336.378  1  FL
    END-POINT  58012.091          64300.698          11336.182  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQH                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58012.091          64300.698          11336.503  1
    END-POINT  58012.091          64300.698          11336.378  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.091          64300.698          11336.378 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQL                 
VALVE
    END-POINT  58012.091          64300.698          11336.503  1  FL
    END-POINT  58012.091          64300.698          11341.503  1  FL
    CENTRE-POINT   58012.091          64300.698          11339.003 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQG                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58012.091          64300.698          11341.628  1
    END-POINT  58012.091          64300.698          11341.503  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQO                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.091          64300.698          11341.628 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQP                 
FLANGE
    END-POINT  58012.091          64300.698          11341.628  1  FL
    END-POINT  58012.091          64300.698          11341.823  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQN                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.091          64300.698          11341.823  1
    END-POINT  58012.091          64300.698          11341.823  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AZ4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.091          64300.698          11341.823  1
    END-POINT  58012.091          64300.698          11341.823  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AZ5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.095          64300.698          11375.250  1  BW
    END-POINT  58012.091          64300.698          11341.823  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AZ2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.095          64300.698          11375.250  1
    END-POINT  58012.095          64300.698          11375.250  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AZ3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58012.095          64300.698          11377.750  1.5  BW
    END-POINT  58012.095          64300.698          11375.250  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AZ0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.095          64300.698          11377.750  1.5
    END-POINT  58012.095          64300.698          11377.750  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AZ1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58012.095          64300.698          11382.250  1.5  BW
    END-POINT  58012.095          64300.698          11377.750  1.5  BW
    CENTRE-POINT   58012.095          64300.698          11380.000 
    BRANCH1-POINT  58012.094          64302.948          11380.000  1.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AYM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58012.095          64300.698          11382.250 
    PIPELINE-REFERENCE ISO-PY3-1218014
PIPE
    END-POINT  58018.809          64293.980          11330.682  1  PL
    END-POINT  58016.687          64296.102          11330.682  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58018.809          64293.980          11330.682  1
    END-POINT  58018.809          64293.980          11330.682  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58018.809          64293.980          11330.682  1
    END-POINT  58018.809          64293.980          11330.682  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58018.947          64293.842          11330.682  1  FL
    END-POINT  58018.809          64293.980          11330.682  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARC                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58018.947          64293.842          11330.682  1
    END-POINT  58019.035          64293.754          11330.682  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARD                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58018.947          64293.842          11330.682 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARE                 
VALVE
    END-POINT  58022.571          64290.218          11330.682  1  FL
    END-POINT  58019.035          64293.754          11330.682  1  FL
    CENTRE-POINT   58020.803          64291.986          11330.682 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR9                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58022.571          64290.218          11330.682  1
    END-POINT  58022.659          64290.130          11330.682  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARA                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58022.571          64290.218          11330.682 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARB                 
FLANGE
    END-POINT  58022.659          64290.130          11330.682  1  FL
    END-POINT  58022.798          64289.991          11330.682  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR6                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.798          64289.991          11330.682  1
    END-POINT  58022.798          64289.991          11330.682  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.798          64289.991          11330.682  1
    END-POINT  58022.798          64289.991          11330.682  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58024.919          64287.870          11330.682  1  BW
    END-POINT  58022.798          64289.991          11330.682  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58024.919          64287.870          11330.682  1
    END-POINT  58024.919          64287.870          11330.682  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AR5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58025.980          64286.809          11329.182  1  BW
    END-POINT  58025.980          64286.809          11332.182  1  BW
    CENTRE-POINT   58025.980          64286.809          11330.682 
    BRANCH1-POINT  58024.919          64287.870          11330.682  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58025.980  64286.809  11330.682 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58025.980  64138.748  11330.682 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58025.980          64286.809          11329.182  1
    END-POINT  58025.980          64286.809          11329.182  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11332.182  1
    END-POINT  58025.980          64286.809          11332.182  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B76                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58025.980          64286.809          11334.682  1.5  BW
    END-POINT  58025.980          64286.809          11332.182  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B75                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11334.682  1.5
    END-POINT  58025.980          64286.809          11334.682  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B9M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58025.980          64286.809          11334.682  1.5  BW
    END-POINT  58025.980          64286.809          11337.682  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B77                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11337.682  1.5
    END-POINT  58025.980          64286.809          11337.682  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11337.682  1.5
    END-POINT  58025.980          64286.809          11337.682  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58025.980          64286.809          11337.890  1.5  FL
    END-POINT  58025.980          64286.809          11337.682  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B79                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58025.980          64286.809          11338.015  1.5
    END-POINT  58025.980          64286.809          11337.890  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7D                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58025.980          64286.809          11338.015 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7E                 
FLANGE
    END-POINT  58025.980          64286.809          11338.015  1.5  FL
    END-POINT  58025.980          64286.809          11337.722  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7C                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11337.722  1.5
    END-POINT  58025.980          64286.809          11337.722  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11337.722  1.5
    END-POINT  58025.980          64286.809          11337.722  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58025.980          64286.809          11337.722  1.5  PL
    END-POINT  58025.980          64286.809          11340.722  1.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1+1/2
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7F                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58025.980  64286.809  11340.052 
    TEXT SP-073
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58025.980          64286.809          11340.722  1.5  SC MALE 
    END-POINT  58025.980          64286.809          11340.722  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B8D                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
COUPLING
    END-POINT  58025.980          64286.809          11343.177  1.5  SC FEMALE 
    END-POINT  58025.980          64286.809          11340.722  1.5  SC FEMALE 
    SKEY COSC
    ERECTION-ITEM
    ITEM-CODE CPL1+1/2
    WEIGHT           2.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B7J                 
    TAG SP-073                          
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58025.980  64286.809  11343.177 
    TEXT PULSATION DAMPENER
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58025.980          64286.809          11343.177 
PIPE
    END-POINT  58025.980          64286.809          11326.182  1  PL
    END-POINT  58025.980          64286.809          11329.182  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXN                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11326.182  1
    END-POINT  58025.980          64286.809          11326.182  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11326.182  1
    END-POINT  58025.980          64286.809          11326.182  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58025.980          64286.809          11325.987  1  FL
    END-POINT  58025.980          64286.809          11326.182  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXK                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58025.980          64286.809          11325.987  1
    END-POINT  58025.980          64286.809          11325.862  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXL                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58025.980          64286.809          11325.987 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXM                 
FLANGE
    END-POINT  58025.980          64286.809          11325.862  1  FL
    END-POINT  58025.980          64286.809          11326.166  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXH                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11326.166  1
    END-POINT  58025.980          64286.809          11326.166  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11326.166  1
    END-POINT  58025.980          64286.809          11326.166  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58025.980          64286.809          11326.166  1  PL
    END-POINT  58025.980          64286.809          11323.166  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXF                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58025.980          64286.809          11323.166  1  SC MALE 
    END-POINT  58025.980          64286.809          11323.166  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXG                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58025.980          64286.809          11320.826  1  SC FEMALE 
    END-POINT  58025.980          64286.809          11323.166  1  SC FEMALE 
    CENTRE-POINT  58025.980  64286.809  11321.996 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXD                 
    TAG PRV-076-04                      
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58025.980  64286.809  11321.945 
    TEXT PRV$076$04
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  58025.980  64286.809  11322.140 
    TEXT PRV$076$04
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58025.980          64286.809          11320.826  1  SC FEMALE 
    END-POINT  58025.980          64286.809          11320.826  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXE                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58025.980          64286.809          11317.826  1  PL
    END-POINT  58025.980          64286.809          11320.826  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXA                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11317.826  1
    END-POINT  58025.980          64286.809          11317.826  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11317.826  1
    END-POINT  58025.980          64286.809          11317.826  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AXC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58025.980          64286.809          11318.131  1  FL
    END-POINT  58025.980          64286.809          11317.826  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AX7                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58025.980          64286.809          11318.131  1
    END-POINT  58025.980          64286.809          11318.006  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AX8                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58025.980          64286.809          11318.131 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AX9                 
FLANGE
    END-POINT  58025.980          64286.809          11318.006  1  FL
    END-POINT  58025.980          64286.809          11317.810  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AX4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11317.810  1
    END-POINT  58025.980          64286.809          11317.810  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AX5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11317.810  1
    END-POINT  58025.980          64286.809          11317.810  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AX6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58025.980          64286.809          11314.748  1  BW
    END-POINT  58025.980          64286.809          11317.810  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AX2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64286.809          11314.748  1
    END-POINT  58025.980          64286.809          11314.748  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AX3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58025.980          64286.809          11311.748  1  BW
    END-POINT  58025.980          64286.809          11314.748  1  BW
    CENTRE-POINT   58025.980          64286.809          11313.248 
    BRANCH1-POINT  58025.980          64285.309          11313.247  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQ9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58025.980          64286.809          11311.748  1
    END-POINT  58025.980          64286.809          11311.748  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.980          64285.309          11313.247  0.5
    END-POINT  58025.980          64285.309          11313.247  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQB                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58025.980          64285.309          11313.247  0.5  BW
    END-POINT  58025.980          64281.899          11313.247  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARY                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58025.980          64281.899          11313.247  0.5  SW FEMALE 
    END-POINT  58025.980          64281.899          11313.247  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58025.980          64281.899          11313.247  0.5  SW FEMALE 
    END-POINT  58025.980          64280.219          11313.247  0.5  SW FEMALE 
    CENTRE-POINT   58025.980          64281.014          11313.247 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ARJ                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58025.980          64280.219          11313.247  0.5
    END-POINT  58025.980          64280.219          11313.247  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58025.980          64280.219          11313.247  0.5  PL
    END-POINT  58025.980          64277.219          11313.247  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6D                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58025.980  64277.719  11313.247 
    TEXT PI$076$02
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58025.980          64277.219          11313.247 
TEE
    END-POINT  58027.480          64286.809          11310.248  1  BW
    END-POINT  58024.480          64286.809          11310.248  1  BW
    CENTRE-POINT   58025.980          64286.809          11310.248 
    BRANCH1-POINT  58025.980          64286.809          11311.748  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AQ8                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58027.480          64286.809          11310.248  1
    END-POINT  58027.480          64286.809          11310.248  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C00                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58024.480          64286.809          11310.248  1
    END-POINT  58024.480          64286.809          11310.248  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZ7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58021.615          64286.809          11310.248  1  BW
    END-POINT  58024.480          64286.809          11310.248  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZ5                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58021.615          64286.809          11310.248  1
    END-POINT  58021.615          64286.809          11310.248  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZ6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58021.615          64286.809          11310.248  1  BW
    END-POINT  58020.115          64286.809          11311.748  1  BW
    CENTRE-POINT   58020.115          64286.809          11310.248 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZ3                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58020.115          64286.809          11311.748  1
    END-POINT  58020.115          64286.809          11311.748  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58020.115          64286.809          11311.748  1  BW
    END-POINT  58020.115          64286.809          11319.176  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58020.115          64286.809          11319.176  1
    END-POINT  58020.115          64286.809          11319.176  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58020.115          64286.809          11319.176  1
    END-POINT  58020.115          64286.809          11319.176  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58020.115          64286.809          11319.372  1  FL
    END-POINT  58020.115          64286.809          11319.176  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZA                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58020.115          64286.809          11319.497  1
    END-POINT  58020.115          64286.809          11319.372  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZF                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58020.115          64286.809          11319.497 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZG                 
VALVE-ANGLE
    END-POINT  58020.115          64286.809          11319.497  1  FL
    END-POINT  58014.927          64286.809          11326.622  1  FL
    CENTRE-POINT   58020.115          64286.809          11326.622 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZD                 
    TAG PSV-076-01                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58020.115  64286.809  11326.622 
    TEXT PSV$076$01
    UNDIMENSIONED
GASKET
    END-POINT  58014.802          64286.809          11326.622  1
    END-POINT  58014.927          64286.809          11326.622  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZO                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58014.802          64286.809          11326.622  1  FL
    END-POINT  58014.607          64286.809          11326.622  1  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZN                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58014.607          64286.809          11326.622 
    PIPELINE-REFERENCE ISO-PY3-1218013
PIPE
    END-POINT  58031.541          64286.750          11310.250  1  PL
    END-POINT  58027.480          64286.809          11310.248  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58031.541          64286.750          11310.250  1
    END-POINT  58031.541          64286.750          11310.250  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58031.541          64286.750          11310.250  1
    END-POINT  58031.541          64286.750          11310.250  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BZZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58031.737          64286.750          11310.250  1  FL
    END-POINT  58031.541          64286.750          11310.250  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B94                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58031.737          64286.750          11310.250  1
    END-POINT  58031.862          64286.750          11310.250  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B95                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58031.737          64286.750          11310.250 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B96                 
END-POSITION-OPEN 
    CO-ORDS  58031.862          64286.750          11310.250 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEERED1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-1
    DESCRIPTION ELBOW SUPPORT, L=4'-2 3/4", P619 FIG 2
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE NIPP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1+1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE CPL1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION PULSATION DAMPENER, SP-073
    RATING 3000LB
ITEM-CODE NIPP1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE GENSTR1
    DESCRIPTION PRV-076-04
    RATING 2000LB
ITEM-CODE TEERED1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVREL1X1
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-076-01
    RATING 150LB
