ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217006
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1217006-VTS-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 MH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/4/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE-ANGLE
    END-POINT  57828.806          64114.660          11795.651  2  FL
    END-POINT  57834.306          64114.660          11799.781  3  FL
    CENTRE-POINT   57828.806          64114.660          11799.781 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7XP                 
    TAG PSV-070-04                      
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57828.806  64114.660  11799.781 
    TEXT PSV$070$04
    UNDIMENSIONED
GASKET
    END-POINT  57828.806          64114.660          11795.651  2
    END-POINT  57828.806          64114.660          11795.526  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7XR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57828.806          64114.660          11795.651 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7XS                 
END-POSITION-OPEN 
    CO-ORDS  57834.306          64114.660          11799.781 
FLANGE
    END-POINT  57828.806          64114.660          11795.526  2  FL
    END-POINT  57828.806          64114.660          11795.310  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6YC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57828.806          64114.660          11795.310  2
    END-POINT  57828.806          64114.660          11795.310  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7YI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57828.806          64114.660          11795.310  2
    END-POINT  57828.806          64114.660          11795.310  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7YJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57828.806          64114.660          11795.310  2  PL
    END-POINT  57828.806          64114.660          11507.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7YH                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57828.806  64114.660  11568.000  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_95F                 
FLOOR-SYMBOL 
    CO-ORDS  57828.806  64114.660  11568.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57828.806  64114.660  11568.000 
    TEXT Grate Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57828.806  64114.660  11785.250  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_95L                 
FLOOR-SYMBOL 
    CO-ORDS  57828.806  64114.660  11784.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57828.806  64114.660  11784.000 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  57828.806  64114.660  11704.041 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57828.806          64114.660          11507.188  2
    END-POINT  57828.806          64114.660          11507.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7YK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57831.806          64114.660          11504.188  2  BW
    END-POINT  57828.806          64114.660          11507.188  2  BW
    CENTRE-POINT   57828.806          64114.660          11504.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7YE                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57828.806  64114.660  11504.188 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64114.660  11504.188 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57828.806  64114.660  11504.188 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57828.806  64138.800  11504.188 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57831.806          64114.660          11504.188  2
    END-POINT  57831.806          64114.660          11504.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7YG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57831.806          64114.660          11504.188  2  BW
    END-POINT  57894.770          64114.660          11504.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6YO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57870.430  64114.660  11504.188 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57845.931  64114.660  11504.188  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_95D                 
WELD
    END-POINT  57894.770          64114.660          11504.188  2
    END-POINT  57894.770          64114.660          11504.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8K3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57897.770          64111.660          11504.188  2  BW
    END-POINT  57894.770          64114.660          11504.188  2  BW
    CENTRE-POINT   57897.770          64114.660          11504.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8K1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57897.770          64111.660          11504.188  2
    END-POINT  57897.770          64111.660          11504.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8K5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57897.770          64111.660          11504.188  2  BW
    END-POINT  57897.770          64084.837          11504.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8K4                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57897.770          64084.837          11504.188  2
    END-POINT  57897.770          64084.837          11504.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8K6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57897.770          64081.837          11501.188  2  BW
    END-POINT  57897.770          64084.837          11504.188  2  BW
    CENTRE-POINT   57897.770          64081.837          11504.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6WK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57897.770          64081.837          11501.188  2
    END-POINT  57897.770          64081.837          11501.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6X0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57897.770          64081.837          11408.342  2  PL
    END-POINT  57897.770          64081.837          11501.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6WX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57897.770  64081.837  11464.123 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57897.770          64081.837          11408.342  2
    END-POINT  57897.770          64081.837          11408.342  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6WY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57897.770          64081.837          11408.342  2
    END-POINT  57897.770          64081.837          11408.342  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6WZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57897.770          64081.837          11408.125  2  FL
    END-POINT  57897.770          64081.837          11408.342  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6WT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57897.770          64081.837          11408.125  2
    END-POINT  57897.770          64081.837          11408.000  2
    ERECTION-ITEM
    ITEM-CODE GAS2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A4P                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57897.770          64081.837          11408.125 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A4Q                 
END-POSITION-OPEN 
    CO-ORDS  57897.770          64081.837          11408.000 
MATERIALS
ITEM-CODE VALVREL2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, PSV-070-04
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2_1
    DESCRIPTION ROD HANGER P624 FIG 2, L=2'-11 5/8"
ITEM-CODE GAS2_1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
