ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212014
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DDM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212014-DDM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/13/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/15/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58211.265          64129.661          11288.874  0.75  SC FEMALE 
    END-POINT  58211.265          64129.661          11287.934  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCY                 
    PIPING-SPEC S1
    END-POSITION-CLOSED 
    CO-ORDS  58211.265          64129.661          11287.934 
SCREWED-WELD
    END-POINT  58211.265          64129.661          11288.874  0.75  SC FEMALE 
    END-POINT  58211.265          64129.661          11288.874  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58211.265          64129.661          11290.874  0.75  PL
    END-POINT  58211.265          64129.661          11288.874  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCW                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58211.265          64129.661          11290.874  0.75
    END-POINT  58211.265          64129.661          11290.874  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58211.265          64129.661          11292.854  0.75  SW FEMALE 
    END-POINT  58211.265          64129.661          11290.874  0.75  SW FEMALE 
    CENTRE-POINT   58211.265          64129.661          11291.879 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCS                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58211.265          64129.661          11292.854  0.75  SW FEMALE 
    END-POINT  58211.265          64129.661          11292.854  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58211.265          64129.661          11296.384  0.75  BW
    END-POINT  58211.265          64129.661          11292.854  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCQ                 
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64129.661          11296.384  0.75
    END-POINT  58211.265          64129.661          11296.384  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58211.265          64130.781          11297.504  0.75  BW
    END-POINT  58211.265          64128.541          11297.504  0.75  BW
    CENTRE-POINT   58211.265          64129.661          11297.504 
    BRANCH1-POINT  58211.265          64129.661          11296.384  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCJ                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58211.265          64130.781          11297.504  0.75
    END-POINT  58211.265          64130.781          11297.504  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64128.541          11297.504  0.75
    END-POINT  58211.265          64128.541          11297.504  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58211.265          64128.541          11297.504  0.75  BW
    END-POINT  58211.265          64126.301          11297.504  0.75  BW
    CENTRE-POINT   58211.265          64127.421          11297.504 
    BRANCH1-POINT  58210.145          64127.421          11297.504  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GQC                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58211.265          64126.301          11297.504  0.75
    END-POINT  58211.265          64126.301          11297.504  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GQV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58210.145          64127.421          11297.504  0.75
    END-POINT  58210.145          64127.421          11297.504  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HD7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58205.242          64127.421          11297.519  0.75  BW
    END-POINT  58210.145          64127.421          11297.504  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HD5                 
    PIPING-SPEC S1
WELD
    END-POINT  58205.242          64127.421          11297.519  0.75
    END-POINT  58205.242          64127.421          11297.519  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HD6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58204.117          64126.296          11297.520  0.75  BW
    END-POINT  58205.242          64127.421          11297.519  0.75  BW
    CENTRE-POINT   58204.117          64127.421          11297.519 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GQ9                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58204.117  64127.421  11297.519 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58204.117  64138.748  11297.519 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58204.117  64127.421  11297.519 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64127.421  11297.519 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58204.117          64126.296          11297.519  0.75
    END-POINT  58204.117          64126.296          11297.519  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GQP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58204.117          64124.056          11297.519  0.75  BW
    END-POINT  58204.117          64126.296          11297.519  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GQN                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58204.117  64125.167  11297.519 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58204.117          64124.056          11297.519  0.75
    END-POINT  58204.117          64124.056          11297.519  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GQO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58204.117          64121.816          11297.519  0.75  BW
    END-POINT  58204.117          64124.056          11297.519  0.75  BW
    CENTRE-POINT   58204.117          64122.936          11297.519 
    BRANCH1-POINT  58204.117          64122.936          11298.639  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED3/4X1/2
    WEIGHT           0.080
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GPG                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58204.117          64121.816          11297.519  0.75
    END-POINT  58204.117          64121.816          11297.519  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GPI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58204.117          64122.936          11298.639  0.5
    END-POINT  58204.117          64122.936          11298.639  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GR0                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58204.117          64122.936          11298.639  0.5  BW
    END-POINT  58204.117          64122.936          11302.049  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GQZ                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58204.117          64122.936          11302.049  0.5  SW FEMALE 
    END-POINT  58204.117          64122.936          11302.049  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IE8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58204.117          64122.936          11302.049  0.5  SW FEMALE 
    END-POINT  58204.117          64122.936          11303.729  0.5  SW FEMALE 
    CENTRE-POINT   58204.117          64122.936          11302.934 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GR1                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58204.117          64122.936          11303.729  0.5
    END-POINT  58204.117          64122.936          11303.729  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IGF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58204.117          64122.936          11303.729  0.5  PL
    END-POINT  58204.117          64122.936          11306.729  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IGE                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58204.117  64122.936  11306.229 
    TEXT PI$079$02
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58204.117          64122.936          11306.729 
ELBOW
    END-POINT  58205.242          64120.691          11297.520  0.75  BW
    END-POINT  58204.117          64121.816          11297.519  0.75  BW
    CENTRE-POINT   58204.117          64120.691          11297.519 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GOT                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58205.242          64120.691          11297.520  0.75
    END-POINT  58205.242          64120.691          11297.520  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GOV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58205.242          64120.691          11297.519  0.75  BW
    END-POINT  58206.742          64120.691          11297.414  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3/4X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GOQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58206.742          64120.691          11297.414  0.5
    END-POINT  58206.742          64120.691          11297.414  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GOS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58208.622          64120.691          11297.414  0.5  FL
    END-POINT  58206.742          64120.691          11297.414  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GOM                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58208.622          64120.691          11297.414  0.5
    END-POINT  58208.747          64120.691          11297.414  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IAA                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58208.622          64120.691          11297.414 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IAB                 
END-POSITION-OPEN 
    CO-ORDS  58208.747          64120.691          11297.414 
ELBOW
    END-POINT  58211.265          64126.301          11297.504  0.75  BW
    END-POINT  58211.265          64125.176          11298.629  0.75  BW
    CENTRE-POINT   58211.265          64125.176          11297.504 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GQT                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58211.265          64125.176          11298.629  0.75
    END-POINT  58211.265          64125.176          11298.629  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58211.265          64125.176          11298.629  0.75  BW
    END-POINT  58211.265          64125.191          11357.181  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2J                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58211.265  64125.185  11332.038 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58211.265          64125.191          11357.181  0.75
    END-POINT  58211.265          64125.191          11357.181  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64125.191          11357.181  0.75
    END-POINT  58211.265          64125.191          11357.181  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58211.265          64125.191          11357.357  0.75  FL
    END-POINT  58211.265          64125.191          11357.181  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HZB                 
    PIPING-SPEC S1
GASKET
    END-POINT  58211.265          64125.191          11357.482  0.75
    END-POINT  58211.265          64125.191          11357.357  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2F                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58211.265          64125.191          11357.482 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2G                 
VALVE-ANGLE
    END-POINT  58211.265          64125.191          11357.482  0.75  FL
    END-POINT  58211.265          64130.381          11363.668  1  FL
    CENTRE-POINT   58211.265          64125.193          11363.669 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL3/4X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2D                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58211.265  64125.193  11363.669 
    TEXT PSV$079$03
    UNDIMENSIONED
GASKET
    END-POINT  58211.265          64130.506          11363.668  1
    END-POINT  58211.265          64130.381          11363.668  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IAD                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58211.265          64130.506          11363.668  1  FL
    END-POINT  58211.265          64130.701          11363.668  1  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I2N                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58211.265          64130.701          11363.668 
    PIPELINE-REFERENCE ISO-PY3-1212018
TEE
    END-POINT  58211.265          64130.781          11297.504  0.75  BW
    END-POINT  58211.265          64133.021          11297.504  0.75  BW
    CENTRE-POINT   58211.265          64131.901          11297.504 
    BRANCH1-POINT  58211.265          64131.901          11298.624  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2II                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58211.265          64133.021          11297.504  0.75
    END-POINT  58211.265          64133.021          11297.504  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64131.901          11298.624  0.75
    END-POINT  58211.265          64131.901          11298.624  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2J5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58211.265          64131.901          11298.624  0.75  BW
    END-POINT  58211.265          64131.901          11301.624  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4_1
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2BW                 
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64131.901          11301.624  0.75
    END-POINT  58211.265          64131.901          11301.624  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2C3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64131.901          11301.624  0.75
    END-POINT  58211.265          64131.901          11301.624  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2C4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58211.265          64131.901          11301.800  0.75  FL
    END-POINT  58211.265          64131.901          11301.624  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2C2                 
    PIPING-SPEC S1
GASKET
    END-POINT  58211.265          64131.901          11301.925  0.75
    END-POINT  58211.265          64131.901          11301.800  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H8W                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58211.265          64131.901          11301.925 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H8X                 
FLANGE
    END-POINT  58211.265          64131.901          11301.925  0.75  FL
    END-POINT  58211.265          64131.901          11301.600  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H8V                 
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64131.901          11301.600  0.75
    END-POINT  58211.265          64131.901          11301.600  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IEH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64131.901          11301.600  0.75
    END-POINT  58211.265          64131.901          11301.600  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IEI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58211.265          64131.901          11301.600  0.75  PL
    END-POINT  58211.265          64131.901          11305.600  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4_1
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IEF                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  58211.265          64131.901          11305.600  0.75  SC MALE 
    END-POINT  58211.265          64131.901          11305.600  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IEG                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
MISC-COMPONENT
    END-POINT  58211.265          64131.901          11305.600  0.75  SC FEMALE 
    END-POINT  58211.265          64131.901          11313.475  0.75  SC FEMALE 
    CENTRE-POINT  58211.265  64131.901  11309.538 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IE5                 
    TAG SP-013                          
    PIPING-SPEC S1
MESSAGE-ROUND
    CO-ORDS  58211.265  64131.901  11313.475 
    TEXT SP-013
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58211.265          64131.901          11313.475 
PIPE
    END-POINT  58211.265          64133.021          11297.504  0.75  BW
    END-POINT  58211.265          64136.104          11297.504  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCM                 
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64136.104          11297.504  0.75
    END-POINT  58211.265          64136.104          11297.504  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HCO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58211.265          64136.104          11297.504  0.75  BW
    END-POINT  58211.265          64137.229          11298.629  0.75  BW
    CENTRE-POINT   58211.265          64137.229          11297.504 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GRV                 
    PIPING-SPEC S1
    ANGLE 9000
SUPPORT
    CO-ORDS  58211.265  64137.229  11297.504  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GYT                 
WELD
    END-POINT  58211.265          64137.229          11298.629  0.75
    END-POINT  58211.265          64137.229          11298.629  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H9X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58211.265          64137.229          11298.629  0.75  BW
    END-POINT  58211.265          64137.229          11319.891  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H9W                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58211.265          64137.229          11319.891  0.75
    END-POINT  58211.265          64137.229          11319.891  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H9Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58211.265          64137.229          11319.891  0.75  SW FEMALE 
    END-POINT  58211.265          64137.229          11321.841  0.75  SW FEMALE 
    CENTRE-POINT   58211.265          64137.229          11320.866 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GS4                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58211.265          64137.229          11321.841  0.75
    END-POINT  58211.265          64137.229          11321.841  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GSR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58211.265          64137.229          11321.841  0.75  PL
    END-POINT  58211.265          64137.229          11328.371  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GSQ                 
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64137.229          11328.371  0.75
    END-POINT  58211.265          64137.229          11328.371  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GSU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58211.265          64137.229          11328.371  0.75  BW
    END-POINT  58211.265          64138.354          11329.496  0.75  BW
    CENTRE-POINT   58211.265          64137.229          11329.496 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GSS                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58211.265          64138.354          11329.496  0.75
    END-POINT  58211.265          64138.354          11329.496  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GSW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58211.265          64138.354          11329.496  0.75  BW
    END-POINT  58211.265          64142.979          11329.496  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GSV                 
    PIPING-SPEC S1
WELD
    END-POINT  58211.265          64142.979          11329.496  0.75
    END-POINT  58211.265          64142.979          11329.496  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HBT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58211.265          64142.979          11329.496  0.75  BW
    END-POINT  58211.265          64145.219          11329.496  0.75  BW
    CENTRE-POINT   58211.265          64144.099          11329.496 
    BRANCH1-POINT  58212.057          64144.099          11330.288  0.75  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GSX                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58211.265          64145.219          11329.496 
    PIPELINE-REFERENCE ISO-PY3-1212015
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE REDECC3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10Sx40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL3/4X1
    CATALOG CONSOLIDATED VALVES
    DESCRIPTION 150LB, RF, RELIEF VALVE, PSV-079-03
    RATING 150LB
ITEM-CODE PIP3/4_1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE
    RATING 10S
ITEM-CODE FLGSLP3/4_1
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE 150LB,RF, SLIP-ON
    RATING 150LB
ITEM-CODE GAS3/4_1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE NIPP3/4_1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x4" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 4"
    RATING 40S
ITEM-CODE GENSTR3/4
    DESCRIPTION PULSATION DAMPENER, SP-013
    RATING 2000LB
ITEM-CODE SUPEB-3/4
    DESCRIPTION ELBOW SUPPORT, L=1'-5 1/2", P619 FIG 2
