ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211012
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1211012-AN-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/28/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/3/2008
    ATTRIBUTE25 TM
    ATTRIBUTE26 11/3/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 5
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE37 TM
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 TM
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 D.DURK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/23/2009
    ATTRIBUTE54 SM
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 8/31/2012
    ATTRIBUTE66 DBH
    ATTRIBUTE67 KC
    ATTRIBUTE68 DD
    ATTRIBUTE69 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57825.306          64051.038          11822.090  0.5  PL
    END-POINT  57825.306          64051.038          11825.090  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NQ                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57825.306  64051.038  11824.590 
    TEXT PI$022$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57825.306          64051.038          11822.090  0.5
    END-POINT  57825.306          64051.038          11822.090  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  57825.306          64051.038          11825.090 
VALVE
    END-POINT  57825.306          64051.038          11820.410  0.5  SW FEMALE 
    END-POINT  57825.306          64051.038          11822.090  0.5  SW FEMALE 
    CENTRE-POINT   57825.306          64051.038          11821.295 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NM                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57825.306          64051.038          11820.410  0.5  SW FEMALE 
    END-POINT  57825.306          64051.038          11820.410  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64051.038          11817.000  0.5  BW
    END-POINT  57825.306          64051.038          11820.410  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NK                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64051.038          11817.000  0.5
    END-POINT  57825.306          64051.038          11817.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NL                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57825.306          64052.538          11815.500  0.5  BW
    END-POINT  57825.306          64051.038          11817.000  0.5  BW
    CENTRE-POINT   57825.306          64051.038          11815.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NH                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57825.306          64052.538          11815.500  0.5
    END-POINT  57825.306          64052.538          11815.500  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NJ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64055.538          11815.500  0.5  BW
    END-POINT  57825.306          64052.538          11815.500  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NF                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64055.538          11815.500  0.5
    END-POINT  57825.306          64055.538          11815.500  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NG                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57825.306          64057.788          11817.750  1.5  BW
    END-POINT  57825.306          64057.788          11813.250  1.5  BW
    CENTRE-POINT   57825.306          64057.788          11815.500 
    BRANCH1-POINT  57825.306          64055.538          11815.500  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NC                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57825.306          64057.788          11817.750  1.5
    END-POINT  57825.306          64057.788          11817.750  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7NE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64057.788          11813.250  1.5
    END-POINT  57825.306          64057.788          11813.250  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7O2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64057.788          11535.187  1.5  BW
    END-POINT  57825.306          64057.788          11813.250  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_43E                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57825.306  64057.788  11784.000  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 30 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_43M                 
FLOOR-SYMBOL 
    CO-ORDS  57825.306  64057.788  11784.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57825.306  64057.788  11784.000 
    TEXT Floor Penetration
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57825.306  64057.788  11568.000  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_43S                 
FLOOR-SYMBOL 
    CO-ORDS  57825.306  64057.788  11568.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57825.306  64057.788  11568.000 
    TEXT Floor Penetration
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  57825.306  64057.788  11665.972 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57825.306          64057.788          11535.187  1.5
    END-POINT  57825.306          64057.788          11535.187  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_43F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57825.306          64057.788          11535.187  1.5  BW
    END-POINT  57825.306          64060.038          11532.938  1.5  BW
    CENTRE-POINT   57825.306          64057.788          11532.937 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_429                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57825.306          64060.038          11532.938  1.5
    END-POINT  57825.306          64060.038          11532.938  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64060.038          11532.938  1.5  BW
    END-POINT  57825.306          64269.250          11532.937  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42B                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57825.306  64166.413  11532.937 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57825.306  64138.750  11532.937  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3GE                 
SUPPORT
    CO-ORDS  57825.306  64138.750  11532.938  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GO                 
WELD
    END-POINT  57825.306          64269.250          11532.937  1.5
    END-POINT  57825.306          64269.250          11532.937  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57825.306          64269.250          11532.937  1.5  BW
    END-POINT  57825.306          64271.500          11530.687  1.5  BW
    CENTRE-POINT   57825.306          64271.500          11532.937 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42D                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57825.306          64271.500          11530.687  1.5
    END-POINT  57825.306          64271.500          11530.687  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64271.500          11523.187  1.5  BW
    END-POINT  57825.306          64271.500          11530.687  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42J                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64271.500          11523.187  1.5
    END-POINT  57825.306          64271.500          11523.187  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57823.056          64271.500          11520.937  1.5  BW
    END-POINT  57825.306          64271.500          11523.187  1.5  BW
    CENTRE-POINT   57825.306          64271.500          11520.937 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42G                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57823.056          64271.500          11520.937  1.5
    END-POINT  57823.056          64271.500          11520.937  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57673.316          64271.500          11520.937  1.5  BW
    END-POINT  57823.056          64271.500          11520.937  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_290                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57721.303  64271.500  11520.937 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57817.765  64271.500  11520.937  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GI                 
SUPPORT
    CO-ORDS  57817.765  64271.500  11520.937  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GP                 
SUPPORT
    CO-ORDS  57738.056  64271.500  11520.937  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_65X                 
WELD
    END-POINT  57673.316          64271.500          11520.937  1.5
    END-POINT  57673.316          64271.500          11520.937  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_291                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57671.066          64271.500          11518.688  1.5  BW
    END-POINT  57673.316          64271.500          11520.937  1.5  BW
    CENTRE-POINT   57671.066          64271.500          11520.938 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_S5                  
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57671.066  64271.500  11518.688 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57671.066  64378.800  11518.688 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57671.066  64271.500  11518.688 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64271.500  11518.688 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57671.066          64271.500          11518.688  1.5
    END-POINT  57671.066          64271.500          11518.688  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_S7                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57671.066          64271.500          11518.688  1.5  BW
    END-POINT  57671.066          64271.500          11496.585  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_S6                  
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57671.066  64271.500  11508.316 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57671.066          64271.500          11496.585  1.5
    END-POINT  57671.066          64271.500          11496.585  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_S8                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57671.066          64271.500          11496.585  1.5
    END-POINT  57671.066          64271.500          11496.585  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_S9                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57671.066          64271.500          11496.378  1.5  FL
    END-POINT  57671.066          64271.500          11496.585  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_S1                  
    PIPING-SPEC S1
MESSAGE-POINTED
    CO-ORDS  57671.066  64271.500  11496.378 
    TEXT TP$031
    UNDIMENSIONED
GASKET
    END-POINT  57671.066          64271.500          11496.253  1.5
    END-POINT  57671.066          64271.500          11496.378  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3QV                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57671.066          64271.500          11496.378 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3QW                 
VALVE
    END-POINT  57671.066          64271.500          11496.253  1.5  FL
    END-POINT  57671.066          64271.500          11489.753  1.5  FL
    CENTRE-POINT   57671.066          64271.500          11493.003 
    SKEY VTFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          23.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3QU                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  57671.066          64271.500          11489.628  1.5
    END-POINT  57671.066          64271.500          11489.753  1.5
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5G3                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57671.066          64271.500          11489.628  1.5  FL
    END-POINT  57671.066          64271.500          11487.188  1.5  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5FW                 
    PIPING-SPEC S1
WELD
    END-POINT  57671.066          64271.500          11487.188  1.5
    END-POINT  57671.066          64271.500          11487.188  1.5
    SKEY WW
    SPECIAL-STATUS 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5FX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57671.066          64269.250          11484.938  1.5  BW
    END-POINT  57671.066          64273.750          11484.938  1.5  BW
    CENTRE-POINT   57671.066          64271.500          11484.938 
    BRANCH1-POINT  57671.066          64271.500          11487.188  1.5  BW
    SKEY TEBW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5FV                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57671.066          64269.250          11484.938  1.5
    END-POINT  57671.066          64269.250          11484.938  1.5
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5H3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57671.066          64273.750          11484.938  1.5
    END-POINT  57671.066          64273.750          11484.938  1.5
    SKEY WS
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5H4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57671.066          64269.250          11484.938  1.5  BW
    END-POINT  57671.066          64262.514          11484.938  1.5  PL
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5G5                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  57671.066          64262.514          11484.938 
    PIPELINE-REFERENCE ISO-PY3-AN-010-EX
PIPE
    END-POINT  57671.066          64273.750          11484.938  1.5  BW
    END-POINT  57671.066          64279.335          11484.938  1.5  PL
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5G7                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  57671.066          64279.335          11484.938 
    PIPELINE-REFERENCE ISO-PY3-AN-010-EX
ELBOW
    END-POINT  57825.306          64060.038          11820.000  1.5  BW
    END-POINT  57825.306          64057.788          11817.750  1.5  BW
    CENTRE-POINT   57825.306          64057.788          11820.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42M                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57825.306  64057.788  11817.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64057.788  11817.750 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57825.306          64060.038          11820.000  1.5
    END-POINT  57825.306          64060.038          11820.000  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57825.306          64062.478          11820.000  1.5  FL
    END-POINT  57825.306          64060.038          11820.000  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42P                 
    PIPING-SPEC S1
GASKET
    END-POINT  57825.306          64062.603          11820.000  1.5
    END-POINT  57825.306          64062.478          11820.000  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42S                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64062.603          11820.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42T                 
VALVE
    END-POINT  57825.306          64062.603          11820.000  1.5  FL
    END-POINT  57825.306          64069.103          11820.000  1.5  FL
    CENTRE-POINT   57825.306          64065.853          11820.000 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42R                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57825.306          64069.228          11820.000  1.5
    END-POINT  57825.306          64069.103          11820.000  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42X                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64069.228          11820.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42Y                 
FLANGE
    END-POINT  57825.306          64069.228          11820.000  1.5  FL
    END-POINT  57825.306          64069.435          11820.000  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42W                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64069.435          11820.000  1.5
    END-POINT  57825.306          64069.435          11820.000  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_430                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64069.435          11820.000  1.5
    END-POINT  57825.306          64069.435          11820.000  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_431                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64069.435          11820.000  1.5  PL
    END-POINT  57825.306          64078.435          11820.000  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_42Z                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64078.435          11820.000  1.5
    END-POINT  57825.306          64078.435          11820.000  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_433                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64078.435          11820.000  1.5
    END-POINT  57825.306          64078.435          11820.000  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_434                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57825.306          64078.643          11820.000  1.5  FL
    END-POINT  57825.306          64078.435          11820.000  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_432                 
    PIPING-SPEC S1
GASKET
    END-POINT  57825.306          64078.643          11820.000  1.5
    END-POINT  57825.306          64078.768          11820.000  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GU                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64078.768          11820.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GV                 
INSTRUMENT
    END-POINT  57825.306          64085.268          11820.000  1.5  FL
    END-POINT  57825.306          64078.768          11820.000  1.5  FL
    CENTRE-POINT   57825.306          64082.018          11820.000 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5F9                 
    TAG FCV$022$01                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57825.306  64082.018  11820.000 
    TEXT FV$022$01
    UNDIMENSIONED
GASKET
    END-POINT  57825.306          64085.268          11820.000  1.5
    END-POINT  57825.306          64085.393          11820.000  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GW                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64085.268          11820.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GX                 
FLANGE
    END-POINT  57825.306          64085.393          11820.000  1.5  FL
    END-POINT  57825.306          64087.833          11820.000  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_438                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64087.833          11820.000  1.5
    END-POINT  57825.306          64087.833          11820.000  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64092.333          11820.000  1.5  BW
    END-POINT  57825.306          64087.833          11820.000  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UI                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64092.333          11820.000  1.5
    END-POINT  57825.306          64092.333          11820.000  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-ECCENTRIC
    END-POINT  57825.306          64092.333          11820.000  1.5  BW
    END-POINT  57825.306          64094.833          11819.705  1  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2OT                 
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57825.306          64094.833          11819.705  1
    END-POINT  57825.306          64094.833          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64206.533          11819.705  1  PL
    END-POINT  57825.306          64094.833          11819.705  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_638                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57825.306  64139.500  11819.705  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63D                 
SUPPORT
    CO-ORDS  57825.306  64139.507  11819.705  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63F                 
WELD
    END-POINT  57825.306          64206.533          11819.705  1
    END-POINT  57825.306          64206.533          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_639                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64206.533          11819.705  1
    END-POINT  57825.306          64206.533          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57825.306          64206.728          11819.705  1  FL
    END-POINT  57825.306          64206.533          11819.705  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_635                 
    PIPING-SPEC S1
GASKET
    END-POINT  57825.306          64206.853          11819.705  1
    END-POINT  57825.306          64206.728          11819.705  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7V9                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64206.728          11819.705 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VA                 
MISC-COMPONENT
    END-POINT  57825.306          64216.103          11819.705  1  FL
    END-POINT  57825.306          64206.853          11819.705  1  FL
    CENTRE-POINT  57825.306  64211.478  11819.705 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_632                 
    TAG FE-022-03                       
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57825.306  64211.478  11819.705 
    TEXT FE$022$03
    UNDIMENSIONED
GASKET
    END-POINT  57825.306          64216.103          11819.705  1
    END-POINT  57825.306          64216.228          11819.705  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_633                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64216.103          11819.705 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_634                 
FLANGE
    END-POINT  57825.306          64216.228          11819.705  1  FL
    END-POINT  57825.306          64216.424          11819.705  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_62Z                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64216.424          11819.705  1
    END-POINT  57825.306          64216.424          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_630                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64216.424          11819.705  1
    END-POINT  57825.306          64216.424          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_631                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64256.228          11819.705  1  BW
    END-POINT  57825.306          64216.424          11819.705  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_62X                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57825.306  64246.228  11819.705  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63L                 
WELD
    END-POINT  57825.306          64256.228          11819.705  1
    END-POINT  57825.306          64256.228          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_62Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57825.306          64259.228          11819.705  1  BW
    END-POINT  57825.306          64256.228          11819.705  1  BW
    CENTRE-POINT   57825.306          64257.728          11819.705 
    BRANCH1-POINT  57825.306          64257.728          11821.205  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2OQ                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57825.306          64259.228          11819.705  1
    END-POINT  57825.306          64259.228          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2OS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64257.728          11821.205  1
    END-POINT  57825.306          64257.728          11821.205  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7L9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64257.728          11821.205  1  BW
    END-POINT  57825.306          64257.728          11823.465  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7L8                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64257.728          11823.465  1
    END-POINT  57825.306          64257.728          11823.465  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64257.728          11823.465  1
    END-POINT  57825.306          64257.728          11823.465  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57825.306          64257.728          11823.660  1  FL
    END-POINT  57825.306          64257.728          11823.465  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KH                 
    PIPING-SPEC S1
GASKET
    END-POINT  57825.306          64257.728          11823.785  1
    END-POINT  57825.306          64257.728          11823.660  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KQ                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64257.728          11823.785 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KR                 
VALVE
    END-POINT  57825.306          64257.728          11823.785  1  FL
    END-POINT  57825.306          64257.728          11828.785  1  FL
    CENTRE-POINT   57825.306          64257.728          11826.285 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           9.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KP                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  57825.306          64257.728          11828.910  1
    END-POINT  57825.306          64257.728          11828.785  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KV                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64257.728          11828.910 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KW                 
FLANGE
    END-POINT  57825.306          64257.728          11828.910  1  FL
    END-POINT  57825.306          64257.728          11831.100  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KU                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64257.728          11831.100  1
    END-POINT  57825.306          64257.728          11831.100  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64257.728          11831.100  1  BW
    END-POINT  57825.306          64257.728          11851.298  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7KX                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64257.728          11851.298  1
    END-POINT  57825.306          64257.728          11851.298  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7L7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57825.306          64259.228          11852.798  1  BW
    END-POINT  57825.306          64257.728          11851.298  1  BW
    CENTRE-POINT   57825.306          64257.728          11852.798 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7L3                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57825.306          64259.228          11852.798  1
    END-POINT  57825.306          64259.228          11852.798  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7L5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64301.379          11852.798  1  BW
    END-POINT  57825.306          64259.228          11852.798  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7L0                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64301.379          11852.798  1
    END-POINT  57825.306          64301.379          11852.798  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7L1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57825.306          64302.879          11851.298  1  BW
    END-POINT  57825.306          64302.879          11854.298  1  BW
    CENTRE-POINT   57825.306          64302.879          11852.798 
    BRANCH1-POINT  57825.306          64301.379          11852.798  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2P1                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57825.306          64302.879          11851.298  1
    END-POINT  57825.306          64302.879          11851.298  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2P3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64302.879          11854.298  1
    END-POINT  57825.306          64302.879          11854.298  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2P5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  57825.306          64302.879          11856.798  1.5  BW
    END-POINT  57825.306          64302.879          11854.298  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2P4                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64302.879          11856.798  1.5
    END-POINT  57825.306          64302.879          11856.798  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2R3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64302.879          12040.698  1.5  BW
    END-POINT  57825.306          64302.879          11856.798  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2R1                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57825.306  64302.879  11927.986  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_65Q                 
FLOW-ARROW
    CO-ORDS  57825.306  64302.879  11966.200 
    FLOW 2
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  57825.306  64302.879  11927.986 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57825.306  64302.879  11927.986 
    TEXT Floor Penetration
    UNDIMENSIONED
WELD
    END-POINT  57825.306          64302.879          12040.698  1.5
    END-POINT  57825.306          64302.879          12040.698  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57825.306          64302.879          12040.698  1.5  BW
    END-POINT  57827.556          64302.879          12042.948  1.5  BW
    CENTRE-POINT   57825.306          64302.879          12042.948 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TS                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57825.306  64302.879  12042.948 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64302.879  12042.948 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57825.306  64302.879  12042.948 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57825.306  64378.800  12042.948 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  57827.556          64302.879          12042.948  1.5
    END-POINT  57827.556          64302.879          12042.948  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57827.556          64302.879          12042.948  1.5  BW
    END-POINT  57853.187          64302.879          12043.093  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TV                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57836.543  64302.879  12042.999 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57853.187          64302.879          12043.093  1.5
    END-POINT  57853.187          64302.879          12043.093  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57855.425          64302.879          12045.343  1.5  BW
    END-POINT  57853.187          64302.879          12043.093  1.5  BW
    CENTRE-POINT   57855.425          64302.879          12043.105 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SQ                 
    PIPING-SPEC S1
    ANGLE 8970
WELD
    END-POINT  57855.425          64302.879          12045.343  1.5
    END-POINT  57855.425          64302.879          12045.343  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6T6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57855.425          64302.879          12045.343  1.5  BW
    END-POINT  57855.425          64302.879          12058.046  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6T5                 
    PIPING-SPEC S1
WELD
    END-POINT  57855.425          64302.879          12058.046  1.5
    END-POINT  57855.425          64302.879          12058.046  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57855.425          64300.641          12060.296  1.5  BW
    END-POINT  57855.425          64302.879          12058.046  1.5  BW
    CENTRE-POINT   57855.425          64302.879          12060.284 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SP                 
    PIPING-SPEC S1
    ANGLE 8970
WELD
    END-POINT  57855.425          64300.641          12060.296  1.5
    END-POINT  57855.425          64300.641          12060.296  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6T4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57855.425          64127.095          12061.200  1.5  BW
    END-POINT  57855.425          64300.641          12060.296  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6T2                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57855.425  64140.544  12061.129  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TN                 
SUPPORT
    CO-ORDS  57855.425  64282.629  12060.389  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TP                 
WELD
    END-POINT  57855.425          64127.095          12061.200  1.5
    END-POINT  57855.425          64127.095          12061.200  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6T3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57855.425          64124.856          12063.449  1.5  BW
    END-POINT  57855.425          64127.095          12061.200  1.5  BW
    CENTRE-POINT   57855.425          64124.856          12061.211 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SS                 
    PIPING-SPEC S1
    ANGLE 8970
WELD
    END-POINT  57855.425          64124.856          12063.449  1.5
    END-POINT  57855.425          64124.856          12063.449  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6T0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57855.425          64124.856          12063.449  1.5  BW
    END-POINT  57855.425          64124.856          12076.698  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SZ                 
    PIPING-SPEC S1
WELD
    END-POINT  57855.425          64124.856          12076.698  1.5
    END-POINT  57855.425          64124.856          12076.698  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6T1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57857.663          64124.856          12078.948  1.5  BW
    END-POINT  57855.425          64124.856          12076.698  1.5  BW
    CENTRE-POINT   57855.425          64124.856          12078.937 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SR                 
    PIPING-SPEC S1
    ANGLE 8970
WELD
    END-POINT  57857.663          64124.856          12078.948  1.5
    END-POINT  57857.663          64124.856          12078.948  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57967.069          64124.856          12079.518  1.5  BW
    END-POINT  57857.663          64124.856          12078.948  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SW                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57869.300  64124.856  12079.009  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TD                 
SUPPORT
    CO-ORDS  57941.807  64124.856  12079.387  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_5
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6TF                 
FLOW-ARROW
    CO-ORDS  57913.451  64124.856  12079.239 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57967.069          64124.856          12079.518  1.5
    END-POINT  57967.069          64124.856          12079.518  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57967.069          64124.856          12079.518  1.5  BW
    END-POINT  57969.307          64124.856          12081.768  1.5  BW
    CENTRE-POINT   57969.307          64124.856          12079.530 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SU                 
    PIPING-SPEC S1
    ANGLE 8970
WELD
    END-POINT  57969.307          64124.856          12081.768  1.5
    END-POINT  57969.307          64124.856          12081.768  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6SV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57969.307          64124.856          12081.768  1.5  BW
    END-POINT  57969.307          64124.856          12191.447  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2KV                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57969.307  64124.856  12110.842 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57969.307  64124.856  12143.999  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_6
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2ME                 
FLOOR-SYMBOL 
    CO-ORDS  57969.307  64124.856  12143.999 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57969.307  64124.856  12143.999 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  57969.307          64124.856          12191.447  1.5
    END-POINT  57969.307          64124.856          12191.447  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2KX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57969.307          64124.856          12191.447  1.5  BW
    END-POINT  57969.307          64122.606          12193.697  1.5  BW
    CENTRE-POINT   57969.307          64124.856          12193.697 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2K5                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57969.307          64122.606          12193.697  1.5
    END-POINT  57969.307          64122.606          12193.697  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57969.307          64122.606          12193.697  1.5  BW
    END-POINT  57969.307          64093.049          12193.697  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2T4                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57969.307  64107.693  12193.697 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57969.307          64093.049          12193.697  1.5
    END-POINT  57969.307          64093.049          12193.697  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2T6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57971.557          64090.799          12193.697  1.5  BW
    END-POINT  57969.307          64093.049          12193.697  1.5  BW
    CENTRE-POINT   57969.307          64090.799          12193.697 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2K2                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57971.557          64090.799          12193.697  1.5
    END-POINT  57971.557          64090.799          12193.697  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_424                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57980.562          64090.799          12193.697  1.5  BW
    END-POINT  57971.557          64090.799          12193.697  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_421                 
    PIPING-SPEC S1
WELD
    END-POINT  57980.562          64090.799          12193.697  1.5
    END-POINT  57980.562          64090.799          12193.697  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_44B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57980.562          64090.799          12193.697  1.5  BW
    END-POINT  57982.812          64090.799          12191.447  1.5  BW
    CENTRE-POINT   57982.812          64090.799          12193.697 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2JO                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57982.812          64090.799          12191.447  1.5
    END-POINT  57982.812          64090.799          12191.447  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7OT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57982.812          64090.799          12186.592  1.5  PL
    END-POINT  57982.812          64090.799          12191.447  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7OQ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57982.812          64090.799          12186.592  1.5
    END-POINT  57982.812          64090.799          12186.592  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7OR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57982.812          64090.799          12186.592  1.5
    END-POINT  57982.812          64090.799          12186.592  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7OS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57982.812          64090.799          12186.385  1.5  FL
    END-POINT  57982.812          64090.799          12186.592  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7OM                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57982.812          64090.799          12186.385  1.5
    END-POINT  57982.812          64090.799          12186.260  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VI                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57982.812          64090.799          12186.385 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VJ                 
NOZZLE
    CO-ORDS  57982.812          64090.799          12186.260  1.5  FL
    CONNECTION-REFERENCE PY3-022$NOZZLE TAG HEAD8D6D-A1-A$RATING 150LB$FACING RF
PIPE
    END-POINT  57825.306          64302.879          11821.205  1  BW
    END-POINT  57825.306          64302.879          11851.298  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2OZ                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64302.879          11821.205  1
    END-POINT  57825.306          64302.879          11821.205  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2P0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57825.306          64302.879          11821.205  1  BW
    END-POINT  57825.306          64301.379          11819.705  1  BW
    CENTRE-POINT   57825.306          64302.879          11819.705 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2N0                 
    PIPING-SPEC S1
    ANGLE 9000
SUPPORT
    CO-ORDS  57825.306  64302.879  11819.705  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_63O                 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57825.306  64302.879  11821.205 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57825.306  64378.800  11821.205 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL. G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57825.306  64302.879  11821.205 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64302.879  11821.205 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57825.306          64301.379          11819.705  1
    END-POINT  57825.306          64301.379          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2N2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57825.306          64299.189          11819.705  1  FL
    END-POINT  57825.306          64301.379          11819.705  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2N1                 
    PIPING-SPEC S1
GASKET
    END-POINT  57825.306          64299.064          11819.705  1
    END-POINT  57825.306          64299.189          11819.705  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2N4                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64299.064          11819.705 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2N5                 
VALVE
    END-POINT  57825.306          64299.064          11819.705  1  FL
    END-POINT  57825.306          64294.064          11819.705  1  FL
    CENTRE-POINT   57825.306          64296.564          11819.705 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2N3                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57825.306          64293.939          11819.705  1
    END-POINT  57825.306          64294.064          11819.705  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_43Y                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64293.939          11819.705 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_43Z                 
FLANGE
    END-POINT  57825.306          64293.939          11819.705  1  FL
    END-POINT  57825.306          64293.744          11819.705  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_43X                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64293.744          11819.705  1
    END-POINT  57825.306          64293.744          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_440                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64293.744          11819.705  1
    END-POINT  57825.306          64293.744          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_441                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64293.744          11819.705  1  BW
    END-POINT  57825.306          64285.749          11819.705  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2NO                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64285.749          11819.705  1
    END-POINT  57825.306          64285.749          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2NR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64285.749          11819.705  1
    END-POINT  57825.306          64285.749          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2NS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57825.306          64285.554          11819.705  1  FL
    END-POINT  57825.306          64285.749          11819.705  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2NQ                 
    PIPING-SPEC S1
GASKET
    END-POINT  57825.306          64285.429          11819.705  1
    END-POINT  57825.306          64285.554          11819.705  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GY                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64285.429          11819.705 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5GZ                 
INSTRUMENT
    END-POINT  57825.306          64285.429          11819.705  1  FL
    END-POINT  57825.306          64278.179          11819.705  1  FL
    CENTRE-POINT   57825.306          64281.804          11819.705 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5FL                 
    TAG FCV$022$03                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57825.306          64278.054          11819.705  1
    END-POINT  57825.306          64278.179          11819.705  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5H0                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64278.179          11819.705 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5H1                 
FLANGE
    END-POINT  57825.306          64278.054          11819.705  1  FL
    END-POINT  57825.306          64277.858          11819.705  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2NX                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64277.858          11819.705  1
    END-POINT  57825.306          64277.858          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2O1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64277.858          11819.705  1
    END-POINT  57825.306          64277.858          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2O2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  57825.306          64277.858          11819.705  1  PL
    END-POINT  57825.306          64268.858          11819.705  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2O0                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.306          64268.858          11819.705  1
    END-POINT  57825.306          64268.858          11819.705  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7UH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57825.306          64266.668          11819.705  1  FL
    END-POINT  57825.306          64268.858          11819.705  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2OG                 
    PIPING-SPEC S1
GASKET
    END-POINT  57825.306          64266.668          11819.705  1
    END-POINT  57825.306          64266.543          11819.705  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7V2                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64266.543          11819.705 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7V3                 
VALVE
    END-POINT  57825.306          64266.543          11819.705  1  FL
    END-POINT  57825.306          64261.543          11819.705  1  FL
    CENTRE-POINT   57825.306          64264.043          11819.705 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2OI                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57825.306          64261.418          11819.705  1
    END-POINT  57825.306          64261.543          11819.705  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2OO                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57825.306          64261.418          11819.705 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2OP                 
FLANGE
    END-POINT  57825.306          64261.418          11819.705  1  FL
    END-POINT  57825.306          64259.228          11819.705  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_2ON                 
    PIPING-SPEC S1
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE 90LLR1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION U BOLT SUPPORT, P648 FIG 2
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION STEEL SUPPORT, P629 FIG 9 L=5"
ITEM-CODE SUPAG-1+1/2_1
    DESCRIPTION TRAPEZE SUPPORT P629 FIG 4 L=2'-0", X= 2'-10 1/2"
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION ROD HANGER P624 FIG 3, L=1'-2 5/16", X=1'-10 9/16"
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-501
    RATING 150LB
ITEM-CODE VALVCNT1+1/2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FV-022-01
    RATING 150LB
ITEM-CODE REDECC1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLT SUPPORT, P648 FIG 2
ITEM-CODE SUPAG-1
    DESCRIPTION STEEL SUPPORT, P629 FIG 9, L-5"
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR1
    DESCRIPTION MASS FLOW METER, FE-022-03
    RATING 150LB
ITEM-CODE SUPEB-1
    DESCRIPTION PIPE SUPPORT, P619 FIG 1 , L=2'-11 3/4"
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1+1/2_2
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE SUPRH-1+1/2_3
    DESCRIPTION ROD HANGER P624 FIG 3, L=5'-10 3/16"
ITEM-CODE SUPRH-1+1/2_4
    DESCRIPTION ROD HANGER P624 FIG 1, L=3'-9 9/16", X=1'-6"
ITEM-CODE SUPRH-1+1/2_5
    DESCRIPTION ROD HANGER P624 FIG 1, L=3'-9 3/16", X=1'-6"
ITEM-CODE SUPRH-1+1/2_6
    DESCRIPTION RISER CLAMP, P615, FIG. 5
ITEM-CODE SUPEB-1_1
    DESCRIPTION PIPE SUPPORT, P619 FIG 2 , L=2'-11 3/4"
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-501
    RATING 150LB
ITEM-CODE VALVCNT1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FCV-022-03
    RATING 150LB
