ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214008
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5231.DWG
    ATTRIBUTE98 PML
    ATTRIBUTE97 1.50
    ATTRIBUTE96 1214008-PML-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 MH
    ATTRIBUTE22 9/16/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 9/17/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 10/13/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE37 RP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 D. DURK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 D. ORR
    ATTRIBUTE49 RP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57965.471          64295.935          11631.867  12  FL
    END-POINT  57965.471          64295.935          11639.867  12  FL
    CENTRE-POINT  57965.471  64295.935  11635.867 
    SKEY EXFL
    ERECTION-ITEM
    ITEM-CODE EXJ12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3EF                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-ROUND
    CO-ORDS  57965.471  64295.935  11639.867 
    TEXT SP$007
    UNDIMENSIONED
GASKET
    END-POINT  57965.471          64295.935          11631.867  12
    END-POINT  57965.471          64295.935          11631.742  12
    ERECTION-ITEM
    ITEM-CODE GAS12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4H4                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57965.471          64295.935          11631.867 
    BOLT-DIA           0.875
    BOLT-QUANTITY              12
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT12
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4H5                 
GASKET
    END-POINT  57965.471          64295.935          11639.992  12
    END-POINT  57965.471          64295.935          11639.867  12
    ERECTION-ITEM
    ITEM-CODE GAS12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4H2                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57965.471          64295.935          11639.992 
    BOLT-DIA           0.875
    BOLT-QUANTITY              12
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT12
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4H3                 
END-POSITION-OPEN 
    CO-ORDS  57965.471          64295.935          11631.742 
FLANGE
    END-POINT  57965.471          64295.935          11639.992  12  FL
    END-POINT  57965.471          64295.935          11640.430  12  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3EJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57965.471          64295.935          11640.430  12
    END-POINT  57965.471          64295.935          11640.430  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3EU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57965.471          64295.935          11640.430  12
    END-POINT  57965.471          64295.935          11640.430  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3EV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.471          64295.935          11667.866  12  BW
    END-POINT  57965.471          64295.935          11640.430  12  PL
    FABRICATION-ITEM
    ITEM-CODE PIP12
    WEIGHT          24.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3ES                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57965.471          64295.935          11667.866  12
    END-POINT  57965.471          64295.935          11667.866  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4EI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57970.842          64295.030          11680.767  12  BW
    END-POINT  57965.471          64295.935          11667.866  12  BW
    CENTRE-POINT   57965.471          64295.935          11675.466 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4EA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4578
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57965.471  64295.935  11675.466 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64295.935  11675.466 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57965.471  64295.935  11675.466 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57965.471  64378.800  11675.466 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  57970.842          64295.030          11680.767  12
    END-POINT  57970.842          64295.030          11680.767  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4EH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58020.866          64286.600          11730.144  12  PL
    END-POINT  57970.842          64295.030          11680.767  12  BW
    FABRICATION-ITEM
    ITEM-CODE PIP12
    WEIGHT          24.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4EE                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57997.870  64290.475  11707.445 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58020.866          64286.600          11730.144  12
    END-POINT  58020.866          64286.600          11730.144  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4EF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58020.866          64286.600          11730.144  12
    END-POINT  58020.866          64286.600          11730.144  12
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4EG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58021.175          64286.548          11730.449  12  FL
    END-POINT  58020.866          64286.600          11730.144  12  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4EB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58021.264          64286.533          11730.536  12
    END-POINT  58021.175          64286.548          11730.449  12
    ERECTION-ITEM
    ITEM-CODE GAS12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4H7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58021.175          64286.548          11730.449 
    BOLT-DIA           0.875
    BOLT-QUANTITY              12
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT12
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4H8                 
VALVE-ANGLE
    END-POINT  58021.264          64286.533          11730.536  12  FL
    END-POINT  58036.820          64282.873          11751.779  12  FL
    CENTRE-POINT   58036.820          64283.915          11745.870 
    SKEY AVFL
    ERECTION-ITEM
    ITEM-CODE VELB4512
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4E5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58036.820  64283.915  11745.870 
    TEXT FV$009$23
    UNDIMENSIONED
GASKET
    END-POINT  58036.820          64282.873          11751.779  12
    END-POINT 
** 
Processing ID: AT_FE4D8OK6_4H9  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS12
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4H9                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58036.820          64282.873          11751.779 
    BOLT-DIA           0.875
    BOLT-QUANTITY              12
    BOLT-LENGTH           4.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT12
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4HA                 
END-POSITION-OPEN 
    CO-ORDS  58021.264  64286.533  11730.536 
MATERIALS
ITEM-CODE EXJ12
    CATALOG NONE
    DESCRIPTION 150LB RF EXPANSION JOINT, SP-007, GUARDIAN 306EZ-FLO W/ TIE RODS
    RATING 150LB
ITEM-CODE GAS12
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT12
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 7/8 X 4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP12
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP12
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR12
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 45.78
    RATING 10S
ITEM-CODE VELB4512
    CATALOG ROBINET
    DESCRIPTION RISING DISC VALVE, FV-009-23
    RATING 150LB
