ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214007
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5231.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.50
    ATTRIBUTE96 1214007-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 2/10/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 2/11/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 2/11/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 2/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/10/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 2/16/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  58075.646          64263.817          11732.804  4  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4R2                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POINT  58076.416          64263.817          11732.264  4
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58076.416          64263.817          11732.264 
GASKET
    END-POINT  58075.646          64263.817          11732.804  4
    END-POINT  58075.544          64263.817          11732.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4R3                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58075.646          64263.817          11732.804 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4R4                 
FLANGE
    END-POINT  58075.544          64263.817          11732.875  4  FL
    END-POINT  58073.086          64263.817          11734.596  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4R0                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58075.544  64263.817  11732.875 
    TEXT CONT. ON ISO-PY3-1214007-1
    UNDIMENSIONED
WELD
    END-POINT  58073.086          64263.817          11734.596  4
    END-POINT  58073.086          64263.817          11734.596  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4R1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58068.171          64257.817          11738.037  4  BW
    END-POINT  58073.086          64263.817          11734.596  4  BW
    CENTRE-POINT   58068.171          64263.817          11738.037 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4QX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58068.171          64257.817          11738.037  4
    END-POINT  58068.171          64257.817          11738.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4QZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58068.171          64254.817          11738.037  4  FL
    END-POINT  58068.171          64257.817          11738.037  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2ZR                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58068.171          64254.692          11738.037  4
    END-POINT  58068.171          64254.817          11738.037  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4IB                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58068.171          64254.692          11738.037 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4IC                 
INSTRUMENT
    END-POINT  58068.171          64254.692          11738.037  4  FL
    END-POINT  58068.171          64239.692          11738.037  4  FL
    CENTRE-POINT   58068.171          64247.192          11738.037 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4IA                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58068.171  64247.192  11738.037 
    TEXT FV$009$22
    UNDIMENSIONED
GASKET
    END-POINT  58068.171          64239.567          11738.037  4
    END-POINT  58068.171          64239.692          11738.037  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4IE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58068.171          64239.567          11738.037 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4IF                 
FLANGE
    END-POINT  58068.171          64239.567          11738.037  4  FL
    END-POINT  58068.171          64239.267          11738.037  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ID                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58068.171          64239.267          11738.037  4
    END-POINT  58068.171          64239.267          11738.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4IH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58068.171          64239.267          11738.037  4
    END-POINT  58068.171          64239.267          11738.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4II                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.171          64239.267          11738.037  4  PL
    END-POINT  58068.171          64232.267          11738.037  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4IG                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58068.171  64235.993  11738.037  4
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4SA                 
WELD
    END-POINT  58068.171          64232.267          11738.037  4
    END-POINT  58068.171          64232.267          11738.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4IJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58068.171          64226.267          11732.037  4  BW
    END-POINT  58068.171          64232.267          11738.037  4  BW
    CENTRE-POINT   58068.171          64226.267          11738.037 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4I4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58068.171          64226.267          11732.037  4
    END-POINT  58068.171          64226.267          11732.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4I9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.171          64226.267          11637.291  4  PL
    END-POINT  58068.171          64226.267          11732.037  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_30Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58068.171  64226.267  11680.820 
    FLOW 2
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58068.171  64226.267  11680.257 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58068.171  64226.267  11680.257 
    TEXT Platform Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58068.171  64226.267  11680.218  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4S2                 
WELD
    END-POINT  58068.171          64226.267          11637.291  4
    END-POINT  58068.171          64226.267          11637.291  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_30R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58068.171          64226.267          11637.291  4
    END-POINT  58068.171          64226.267          11637.291  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_30S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58068.171          64226.267          11636.991  4  FL
    END-POINT  58068.171          64226.267          11637.291  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58068.171          64226.267          11636.991  4
    END-POINT  58068.171          64226.267          11636.866  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58068.171          64226.267          11636.991 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NS                 
FLANGE
    END-POINT  58068.171          64226.267          11636.866  4  FL
    END-POINT  58068.171          64226.267          11636.567  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58068.171          64226.267          11636.567  4
    END-POINT  58068.171          64226.267          11636.567  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58068.171          64226.267          11636.567  4
    END-POINT  58068.171          64226.267          11636.567  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.171          64226.267          11636.567  4  PL
    END-POINT  58068.171          64226.267          11606.567  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NE                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE
    CO-ORDS  58068.171  64226.267  11622.951 
    TEXT REMOVEABLE SPOOL
    UNDIMENSIONED
WELD
    END-POINT  58068.171          64226.267          11606.567  4
    END-POINT  58068.171          64226.267          11606.567  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58068.171          64226.267          11606.567  4
    END-POINT  58068.171          64226.267          11606.567  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58068.171          64226.267          11606.267  4  FL
    END-POINT  58068.171          64226.267          11606.567  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NH                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58068.171          64226.267          11606.142  4
    END-POINT  58068.171          64226.267          11606.267  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58068.171          64226.267          11606.142 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NM                 
FLANGE
    END-POINT  58068.171          64226.267          11606.142  4  FL
    END-POINT  58068.171          64226.267          11603.142  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58068.171          64226.267          11603.142  4
    END-POINT  58068.171          64226.267          11603.142  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58068.171          64226.267          11603.142  4  BW
    END-POINT  58068.171          64226.267          11599.142  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_2NN                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58068.171          64226.267          11599.142  2
    END-POINT  58068.171          64226.267          11599.142  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.171          64226.267          11550.728  2  BW
    END-POINT  58068.171          64226.267          11599.142  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L4                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOOR-SYMBOL 
    CO-ORDS  58068.171  64226.267  11568.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58068.171  64226.267  11568.000 
    TEXT Grate Opening
    UNDIMENSIONED
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58068.171  64226.267  11589.366 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58068.171  64138.748  11589.366 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58068.171  64226.267  11589.366 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64226.267  11589.366 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SUPPORT
    CO-ORDS  58068.171  64226.267  11568.000  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4S0                 
WELD
    END-POINT  58068.171          64226.267          11550.728  2
    END-POINT  58068.171          64226.267          11550.728  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58068.171          64226.267          11550.728  2  BW
    END-POINT  58068.171          64223.298          11547.728  2  BW
    CENTRE-POINT   58068.171          64226.267          11547.759 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4KZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8940
WELD
    END-POINT  58068.171          64223.298          11547.728  2
    END-POINT  58068.171          64223.298          11547.728  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.171          64172.787          11547.181  2  BW
    END-POINT  58068.171          64223.298          11547.728  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58068.171          64172.787          11547.181  2
    END-POINT  58068.171          64172.787          11547.181  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58068.171          64172.787          11547.181  2  BW
    END-POINT  58065.171          64169.787          11547.117  2  BW
    CENTRE-POINT   58068.171          64169.787          11547.150 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L0                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8999
WELD
    END-POINT  58065.171          64169.787          11547.117  2
    END-POINT  58065.171          64169.787          11547.117  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58065.171          64169.787          11547.117  2  BW
    END-POINT  57797.866          64169.787          11544.210  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57936.197  64169.787  11545.715 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57901.800  64169.787  11545.340  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4QL                 
SUPPORT
    CO-ORDS  58024.925  64169.787  11546.680  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4QP                 
SUPPORT
    CO-ORDS  57901.800  64169.787  11545.340  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4R6                 
SUPPORT
    CO-ORDS  58024.925  64169.787  11546.680  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4R7                 
WELD
    END-POINT  57797.866          64169.787          11544.210  2
    END-POINT  57797.866          64169.787          11544.210  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4L9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57794.866          64166.787          11544.146  2  BW
    END-POINT  57797.866          64169.787          11544.210  2  BW
    CENTRE-POINT   57794.866          64169.787          11544.177 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4KR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8999
WELD
    END-POINT  57794.866          64166.787          11544.146  2
    END-POINT  57794.866          64166.787          11544.146  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4N3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57794.866          64166.787          11544.146  2  BW
    END-POINT  57794.800          63177.973          11533.844  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4N2                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57794.848  63898.800  11541.354  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NV                 
SUPPORT
    CO-ORDS  57794.837  63738.817  11539.687  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NX                 
SUPPORT
    CO-ORDS  57794.822  63504.817  11537.249  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NZ                 
SUPPORT
    CO-ORDS  57794.808  63294.817  11535.061  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4O1                 
SUPPORT
    CO-ORDS  57794.864  64137.300  11543.839  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4OH                 
SUPPORT
    CO-ORDS  57794.848  63898.800  11541.354  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 NORTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4OK                 
SUPPORT
    CO-ORDS  57794.837  63738.817  11539.687  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 NORTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4OL                 
SUPPORT
    CO-ORDS  57794.822  63504.817  11537.249  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 NORTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4OM                 
SUPPORT
    CO-ORDS  57794.808  63294.817  11535.061  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 NORTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ON                 
SUPPORT
    CO-ORDS  57794.864  64137.300  11543.839  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 NORTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4QI                 
SUPPORT
    CO-ORDS  57794.801  63190.817  11533.978  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4RA                 
SUPPORT
    CO-ORDS  57794.801  63190.817  11533.978  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_5
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 NORTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4RC                 
FLOW-ARROW
    CO-ORDS  57794.831  63635.474  11538.611 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57794.800          63177.973          11533.844  2
    END-POINT  57794.800          63177.973          11533.844  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4N4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57794.800          63175.004          11530.844  2  BW
    END-POINT  57794.800          63177.973          11533.844  2  BW
    CENTRE-POINT   57794.800          63175.004          11533.813 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4MM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8940
WELD
    END-POINT  57794.800          63175.004          11530.844  2
    END-POINT  57794.800          63175.004          11530.844  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57794.800          63175.004          11530.844  2  BW
    END-POINT  57794.800          63175.004          11498.781  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NG                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57794.800          63175.004          11498.781  2
    END-POINT  57794.800          63175.004          11498.781  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57797.769          63175.004          11495.782  2  BW
    END-POINT  57794.800          63175.004          11498.781  2  BW
    CENTRE-POINT   57794.800          63175.004          11495.813 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4N5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8940
WELD
    END-POINT  57797.769          63175.004          11495.782  2
    END-POINT  57797.769          63175.004          11495.782  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57864.801          63175.004          11495.082  2  BW
    END-POINT  57797.769          63175.004          11495.782  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57864.801          63175.004          11495.082  2
    END-POINT  57864.801          63175.004          11495.082  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ND                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57864.801          63175.004          11495.082  2  BW
    END-POINT  57867.801          63172.004          11495.019  2  BW
    CENTRE-POINT   57867.801          63175.004          11495.050 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4N7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8999
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57867.801  63175.004  11495.050 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57867.801  63294.800  11495.050 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL A
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57867.801  63175.004  11495.050 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63175.004  11495.050 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  57867.801          63172.004          11495.019  2
    END-POINT  57867.801          63172.004          11495.019  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57867.801          63093.865          11494.203  2  BW
    END-POINT  57867.801          63172.004          11495.019  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4N9                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57867.801  63143.192  11494.718  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_6
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 0 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4OC                 
SUPPORT
    CO-ORDS  57867.801  63143.192  11494.718  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4OD                 
WELD
    END-POINT  57867.801          63093.865          11494.203  2
    END-POINT  57867.801          63093.865          11494.203  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57867.801          63093.865          11494.203  2  BW
    END-POINT  57868.777          63091.510          11494.174  2  BW
    CENTRE-POINT   57867.801          63092.485          11494.189 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4N8                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  57868.777          63091.510          11494.174  2
    END-POINT  57868.777          63091.510          11494.174  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57868.777          63091.510          11494.174  2  BW
    END-POINT  57948.448          63011.838          11492.924  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57948.448          63011.838          11492.924  2
    END-POINT  57948.448          63011.838          11492.924  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4NM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57950.804          63010.863          11492.894  2  BW
    END-POINT  57948.448          63011.838          11492.924  2  BW
    CENTRE-POINT   57949.424          63010.863          11492.909 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3G0                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  57950.804          63010.863          11492.894  2
    END-POINT  57950.804          63010.863          11492.894  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3G9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57957.770          63010.863          11492.818  2  BW
    END-POINT  57950.804          63010.863          11492.894  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3G7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57957.770          63010.863          11492.818  2
    END-POINT  57957.770          63010.863          11492.818  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3G8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57960.738          63010.863          11489.818  2  BW
    END-POINT  57957.770          63010.863          11492.818  2  BW
    CENTRE-POINT   57960.738          63010.863          11492.786 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3F6                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8938
WELD
    END-POINT  57960.738          63010.863          11489.818  2
    END-POINT  57960.738          63010.863          11489.818  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4JK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57960.737          63010.863          11480.409  2  PL
    END-POINT  57960.738          63010.863          11489.818  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4JH                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57960.737  63010.863  11485.159 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57960.737          63010.863          11480.409  2
    END-POINT  57960.737          63010.863          11480.409  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4JI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57960.737          63010.863          11480.409  2
    END-POINT  57960.737          63010.863          11480.409  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4JJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57960.737          63010.863          11480.193  2  FL
    END-POINT  57960.737          63010.863          11480.409  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4JD                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-ROUND
    CO-ORDS  57960.737  63010.863  11480.193 
    TEXT T-0033
    UNDIMENSIONED
GASKET
    END-POINT  57960.737          63010.863          11480.193  2
    END-POINT  57960.737          63010.863          11480.068  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4QT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57960.737          63010.863          11480.193 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4QU                 
END-POSITION-OPEN 
    CO-ORDS  57960.737          63010.863          11480.068 
MATERIALS
ITEM-CODE FLGBLD4
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVCNT4
    CATALOG FISHER
    DESCRIPTION MANUAL(HANDLE)VALVE W/LOCK IN CLOSED POSITION, 150LB, RF, FV-009-22
    RATING 150LB
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPEB-4
    DESCRIPTION PIPE SUPPORT, P617 FIG 1 , L=5'-2 1/16"
ITEM-CODE SUPRH-4
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE REDCON4X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION U BOLT SUPPORT, P651 FIG 1
ITEM-CODE SUPAG-2
    DESCRIPTION MISC PIPE SUPPORT, P629 FIG. 10, X=1'-3", L=1'-0"
ITEM-CODE SUPAG-2_1
    DESCRIPTION PIPE SUPPORT, P629 FIG 9,  L=1'-7 3/4"
ITEM-CODE SUPAG-2_2
    DESCRIPTION PIPE SUPPORT, P629 FIG 9,  L=1'-2"
ITEM-CODE SUPAG-2_3
    DESCRIPTION PIPE SUPPORT, P629 FIG 9,  L=1'-7 13/16"
ITEM-CODE SUPAG-2_4
    DESCRIPTION MISC PIPE SUPPORT, FIELD TO INSTALL SHIM UNDER PIPE SADDLE
ITEM-CODE SUPAG-2_5
    DESCRIPTION MISC PIPE SUPPORT, P629 FIG. 9, L=4 3/16"
ITEM-CODE SUPAG-2_6
    DESCRIPTION PIPE SUPPORT, P629 FIG 9,  L=10 13/16" (FIELD TO WELD TO EXIST. PIPE SUPPORT)
ITEM-CODE SUPUB-2_1
    DESCRIPTION U BOLT SUPPORT, P651 FIG 1 (FIELD VERIFY LOCATION)
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
