ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212007
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1212007-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/14/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 11/14/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 RJR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58198.793          63952.385          11374.677  1  PL
    END-POINT  58198.793          63967.509          11374.525  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8EK                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58198.793  63959.657  11374.604 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58198.793          63952.385          11374.677  1
    END-POINT  58198.793          63952.385          11374.677  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_D9S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58198.793          63952.385          11374.677  1
    END-POINT  58198.793          63952.385          11374.677  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_D9T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58198.793          63967.509          11374.525  1
    END-POINT  58198.793          63967.509          11374.525  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8EM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58201.043          63969.759          11374.502  1.5  BW
    END-POINT  58196.543          63969.759          11374.502  1.5  BW
    CENTRE-POINT   58198.793          63969.759          11374.502 
    BRANCH1-POINT  58198.793          63967.509          11374.525  1  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_3ZT                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58201.043          63969.759          11374.502 
    PIPELINE-REFERENCE ISO-PY3-1212020
FLANGE
    END-POINT  58198.793          63952.189          11374.679  1  FL
    END-POINT  58198.793          63952.385          11374.677  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_D9R                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58198.793          63952.064          11374.680  1
    END-POINT  58198.793          63952.189          11374.679  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_D9V                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58198.793          63952.064          11374.680 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_D9W                 
VALVE
    END-POINT  58198.793          63952.064          11374.680  1  FL
    END-POINT  58198.793          63947.064          11374.730  1  FL
    CENTRE-POINT   58198.793          63949.564          11374.705 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_D9U                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58198.793          63946.939          11374.731  1
    END-POINT  58198.793          63947.064          11374.730  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DA0                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58198.793          63946.939          11374.731 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DA1                 
FLANGE
    END-POINT  58198.793          63946.939          11374.731  1  FL
    END-POINT  58198.793          63944.750          11374.753  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_D9Z                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58198.793          63944.750          11374.753  1
    END-POINT  58198.793          63944.750          11374.753  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DA3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58198.793          63944.750          11374.753  1  BW
    END-POINT  58198.793          63926.756          11374.934  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DA2                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58198.793  63937.474  11374.826 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58198.793          63926.756          11374.934  1
    END-POINT  58198.793          63926.756          11374.934  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DAK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58198.793          63925.271          11376.434  1  BW
    END-POINT  58198.793          63926.756          11374.934  1  BW
    CENTRE-POINT   58198.793          63925.271          11374.949 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DAH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8943
WELD
    END-POINT  58198.793          63925.271          11376.434  1
    END-POINT  58198.793          63925.271          11376.434  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DAJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58198.793          63925.271          11376.434  1  BW
    END-POINT  58198.793          63925.254          11387.905  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_D9M                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58198.793  63925.254  11381.162 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58198.793          63925.254          11387.905  1
    END-POINT  58198.793          63925.254          11387.905  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DB1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58198.793          63925.254          11387.905  1  BW
    END-POINT  58200.277          63925.254          11389.405  1  BW
    CENTRE-POINT   58198.793          63925.254          11389.390 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DAZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8941
WELD
    END-POINT  58200.277          63925.254          11389.405  1
    END-POINT  58200.277          63925.254          11389.405  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I4A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58200.277          63925.254          11389.405  1  BW
    END-POINT  58254.300          63925.251          11390.073  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I49                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58207.442  63925.254  11389.494  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I4H                 
FLOW-ARROW
    CO-ORDS  58228.215  63925.252  11389.751 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58254.300          63925.251          11390.073  1
    END-POINT  58254.300          63925.251          11390.073  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I4B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58254.300          63925.251          11390.073  1  BW
    END-POINT  58255.800          63923.944          11389.336  1  BW
    CENTRE-POINT   58255.800          63925.243          11390.086 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DB9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58255.800  63925.243  11390.086 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63925.243  11390.086 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58255.800  63925.243  11390.086 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58255.800  63898.800  11390.086 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58255.800          63923.944          11389.336  1
    END-POINT  58255.800          63923.944          11389.336  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DFA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58255.800          63912.535          11382.750  1  BW
    END-POINT  58255.800          63923.944          11389.336  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DF8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58255.800          63912.535          11382.750  1
    END-POINT  58255.800          63912.535          11382.750  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DF9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58255.800          63912.535          11382.750  1  BW
    END-POINT  58255.800          63911.785          11381.451  1  BW
    CENTRE-POINT   58255.800          63911.785          11382.317 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DF6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 6000
WELD
    END-POINT  58255.800          63911.785          11381.451  1
    END-POINT  58255.800          63911.785          11381.451  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I8A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58255.800          63911.785          11379.445  1  PL
    END-POINT  58255.800          63911.785          11381.451  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I87                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58255.800          63911.785          11379.445  1
    END-POINT  58255.800          63911.785          11379.445  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I88                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58255.800          63911.785          11379.445  1
    END-POINT  58255.800          63911.785          11379.445  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I89                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58255.800          63911.785          11379.250  1  FL
    END-POINT  58255.800          63911.785          11379.445  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I84                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58255.800          63911.785          11379.250  1
    END-POINT  58255.800          63911.785          11379.125  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I85                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58255.800          63911.785          11379.250 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I86                 
MISC-COMPONENT
    END-POINT  58255.800          63911.785          11379.000  1  FL
    END-POINT  58255.800          63911.785          11379.125  1  FL
    CENTRE-POINT  58255.800  63911.785  11379.062 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I81                 
    TAG FO-008-05                       
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58255.800  63911.785  11379.037 
    TEXT FO$008$05
    UNDIMENSIONED
GASKET
    END-POINT  58255.800          63911.785          11379.000  1
    END-POINT  58255.800          63911.785          11378.875  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I82                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
END-POSITION-OPEN 
    CO-ORDS  58255.800          63911.785          11378.875 
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1
    DESCRIPTION P629, FIG 7 ANGLE SUPPORT W/ P651 FIG 1 U-BOLT GUIDE
ITEM-CODE 90LLR1_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 60.00
    RATING 10S
ITEM-CODE BOLT1_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 0'-0 1/2" X 0'-3" MACHINE BOLT w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR1
    DESCRIPTION ORIFICE PLATE, FO-008-05
    RATING 150LB
