ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212024
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212024-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.SINGH
    ATTRIBUTE22 2/6/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 2/6/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 2/6/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 2/6/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 2/6/2009
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 2/16/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 11/1/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DD
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED SUPPORTS
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58262.773          63966.607          11382.690  0.5  PL
    END-POINT  58259.773          63966.607          11382.690  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8R                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58260.273  63966.607  11382.690 
    TEXT PI$002$05
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58262.773          63966.607          11382.690  0.5
    END-POINT  58262.773          63966.607          11382.690  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58259.773          63966.607          11382.690 
VALVE
    END-POINT  58264.453          63966.607          11382.690  0.5  SW FEMALE 
    END-POINT  58262.773          63966.607          11382.690  0.5  SW FEMALE 
    CENTRE-POINT   58263.568          63966.607          11382.690 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JR9                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58264.453          63966.607          11382.690  0.5
    END-POINT  58264.453          63966.607          11382.690  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JR8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58267.863          63966.607          11382.690  0.5  BW
    END-POINT  58264.453          63966.607          11382.690  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JR7                 
    PIPING-SPEC S1
WELD
    END-POINT  58267.863          63966.607          11382.690  0.5
    END-POINT  58267.863          63966.607          11382.690  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JR6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58269.863          63966.607          11382.690  1  BW
    END-POINT  58267.863          63966.607          11382.690  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JR5                 
    PIPING-SPEC S1
WELD
    END-POINT  58269.863          63966.607          11382.690  1
    END-POINT  58269.863          63966.607          11382.690  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58272.863          63966.607          11382.690  1  BW
    END-POINT  58269.863          63966.607          11382.690  1  BW
    CENTRE-POINT   58271.363          63966.607          11382.690 
    BRANCH1-POINT  58271.363          63965.107          11382.690  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQM                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58272.863          63966.607          11382.690  1
    END-POINT  58272.863          63966.607          11382.690  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58271.363          63965.107          11382.690  1
    END-POINT  58271.363          63965.107          11382.690  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58271.363          63962.543          11382.690  1  PL
    END-POINT  58271.363          63965.107          11382.690  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQP                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58271.363          63962.543          11382.690  1  SW FEMALE 
    END-POINT  58271.363          63962.543          11382.690  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P01                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58271.363          63962.543          11382.690  1  SW FEMALE 
    END-POINT  58271.363          63959.913          11382.690  1  SW FEMALE 
    CENTRE-POINT   58271.363          63961.228          11382.690 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P00                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58271.363          63959.913          11382.690  1  SW FEMALE 
    END-POINT  58271.363          63959.913          11382.690  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P04                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58271.363          63956.848          11382.690  1  PL
    END-POINT  58271.363          63959.913          11382.690  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQU                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58271.363          63956.848          11382.690  1
    END-POINT  58271.363          63956.848          11382.690  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQV                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58271.363          63953.848          11382.690  1  SW FEMALE 
    END-POINT  58271.363          63956.848          11382.690  1  SW FEMALE 
    CENTRE-POINT   58271.363          63955.348          11382.690 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQW                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58271.363          63953.848          11382.690  1  SW FEMALE 
    END-POINT  58271.363          63953.848          11382.690  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQX                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58271.363          63950.848          11382.690  1  BW
    END-POINT  58271.363          63953.848          11382.690  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQY                 
    PIPING-SPEC S1
WELD
    END-POINT  58271.363          63950.848          11382.690  1
    END-POINT  58271.363          63950.848          11382.690  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58271.363          63949.348          11381.190  1  BW
    END-POINT  58271.363          63950.848          11382.690  1  BW
    CENTRE-POINT   58271.363          63949.348          11382.690 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JR0                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58271.363          63949.348          11381.190  1
    END-POINT  58271.363          63949.348          11381.190  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58271.363          63949.348          11379.000  1  FL
    END-POINT  58271.363          63949.348          11381.190  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JR2                 
    PIPING-SPEC S1
GASKET
    END-POINT  58271.363          63949.348          11379.000  1
    END-POINT  58271.363          63949.348          11378.875  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PEO                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58271.363          63949.348          11379.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PEP                 
NOZZLE
    CO-ORDS  58271.363          63949.348          11378.875  1  FL
    CONNECTION-REFERENCE PY3-002$NOZZLE TAG PY3-002-B$RATING 150LB$FACING RF
REDUCER-ECCENTRIC
    END-POINT  58272.863          63966.607          11382.690  1  BW
    END-POINT  58274.863          63966.607          11382.560  0.75  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQK                 
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58274.863          63966.607          11382.560  0.75
    END-POINT  58274.863          63966.607          11382.560  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58276.923          63966.607          11382.560  0.75  FL
    END-POINT  58274.863          63966.607          11382.560  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQI                 
    PIPING-SPEC S1
GASKET
    END-POINT  58277.048          63966.607          11382.560  0.75
    END-POINT  58276.923          63966.607          11382.560  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58276.923          63966.607          11382.560 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQH                 
INSTRUMENT
    END-POINT  58277.048          63966.607          11382.560  0.75  FL
    END-POINT  58291.048          63966.607          11382.560  0.75  FL
    CENTRE-POINT   58284.048          63966.607          11382.560 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQE                 
    TAG PRV$002$04                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  58291.173          63966.607          11382.560  0.75
    END-POINT  58291.048          63966.607          11382.560  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQC                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58291.048          63966.607          11382.560 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQD                 
FLANGE
    END-POINT  58291.173          63966.607          11382.560  0.75  FL
    END-POINT  58293.233          63966.607          11382.560  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQB                 
    PIPING-SPEC S1
WELD
    END-POINT  58293.233          63966.607          11382.560  0.75
    END-POINT  58293.233          63966.607          11382.560  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58295.233          63966.607          11382.690  1  BW
    END-POINT  58293.233          63966.607          11382.560  0.75  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQ9                 
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58295.233          63966.607          11382.690  1
    END-POINT  58295.233          63966.607          11382.690  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQ8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58295.233          63966.607          11382.690  1  BW
    END-POINT  58303.233          63966.607          11382.690  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQ6                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58299.233  63966.607  11382.690  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PEI                 
    TAG                         P630 FIG. 4                     
SUPPORT
    CO-ORDS  58299.233  63966.607  11382.690  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PEM                 
    TAG                         P627 FIG. 1                     
WELD
    END-POINT  58303.233          63966.607          11382.690  1
    END-POINT  58303.233          63966.607          11382.690  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQ5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58304.733          63966.607          11384.190  1  BW
    END-POINT  58303.233          63966.607          11382.690  1  BW
    CENTRE-POINT   58304.733          63966.607          11382.690 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQ3                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58304.733  63966.607  11382.690 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58304.733  63898.800  11382.690 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58304.733          63966.607          11384.190  1
    END-POINT  58304.733          63966.607          11384.190  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQ2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58304.733          63966.607          11384.190  1  BW
    END-POINT  58304.733          63966.607          11386.639  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQ1                 
    PIPING-SPEC S1
WELD
    END-POINT  58304.733          63966.607          11386.639  1
    END-POINT  58304.733          63966.607          11386.639  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JQ0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58304.733          63965.107          11388.139  1  BW
    END-POINT  58304.733          63966.607          11386.639  1  BW
    CENTRE-POINT   58304.733          63966.607          11388.139 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPY                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58304.733  63966.607  11388.139 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63966.607  11388.139 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58304.733          63965.107          11388.139  1
    END-POINT  58304.733          63965.107          11388.139  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58304.733          63965.107          11388.139  1  BW
    END-POINT  58304.733          63948.304          11388.139  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7J                 
    PIPING-SPEC S1
WELD
    END-POINT  58304.733          63948.304          11388.139  1
    END-POINT  58304.733          63948.304          11388.139  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58303.233          63946.804          11388.139  1  BW
    END-POINT  58304.733          63948.304          11388.139  1  BW
    CENTRE-POINT   58304.733          63946.804          11388.139 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPU                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58303.233          63946.804          11388.139  1
    END-POINT  58303.233          63946.804          11388.139  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58303.233          63946.804          11388.139  1  BW
    END-POINT  58273.270          63946.804          11388.139  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZW                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58288.563  63946.804  11388.139 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58273.270          63946.804          11388.139  1
    END-POINT  58273.270          63946.804          11388.139  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58273.270          63946.804          11388.139  1  SW FEMALE 
    END-POINT  58270.640          63946.804          11388.139  1  SW FEMALE 
    CENTRE-POINT   58271.955          63946.804          11388.139 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPO                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58270.640          63946.804          11388.139  1
    END-POINT  58270.640          63946.804          11388.139  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58270.640          63946.804          11388.139  1  PL
    END-POINT  58267.110          63946.804          11388.139  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPM                 
    PIPING-SPEC S1
WELD
    END-POINT  58267.110          63946.804          11388.139  1
    END-POINT  58267.110          63946.804          11388.139  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JOY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58267.110          63946.804          11388.139  1  BW
    END-POINT  58264.110          63946.804          11388.139  1  BW
    CENTRE-POINT   58265.610          63946.804          11388.139 
    BRANCH1-POINT  58265.610          63948.304          11388.139  0.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JOX                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58264.110          63946.804          11388.139 
    PIPELINE-REFERENCE ISO-PY3-2036022
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE REDCON1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDECC1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK3/4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PRV-002-04
    RATING 150LB
ITEM-CODE SUPLTR1
    DESCRIPTION P630 FIG. 4 (L=1'-2", X=1'-2")
ITEM-CODE SUPUB-1
    DESCRIPTION P627 FIG. 1
