ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215004-C
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 PMI
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1215004-C-PMI-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-015
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 2/27/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57916.685          64255.902          11350.500  2  PL
    END-POINT  57920.280          64259.497          11350.500  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_GX                  
    PIPING-SPEC S1
WELD
    END-POINT  57916.685          64255.902          11350.500  2
    END-POINT  57916.685          64255.902          11350.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_GY                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57916.685          64255.902          11350.500  2
    END-POINT  57916.685          64255.902          11350.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_GZ                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  57920.280          64259.497          11350.500 
FLANGE
    END-POINT  57916.532          64255.749          11350.500  2  FL
    END-POINT  57916.685          64255.902          11350.500  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_GU                  
    PIPING-SPEC S1
GASKET
    END-POINT  57916.532          64255.749          11350.500  2
    END-POINT  57916.444          64255.660          11350.500  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_GV                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57916.532          64255.749          11350.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_GW                  
FLANGE
    END-POINT  57916.444          64255.660          11350.500  2  FL
    END-POINT  57914.676          64253.892          11350.500  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_EF                  
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57914.676          64253.892          11350.500 
    PIPELINE-REFERENCE ISO-PY3-1217017
MATERIALS
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
