ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2047009
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 WTS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2047009-WTS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-047
    ATTRIBUTE21 R.SINGH
    ATTRIBUTE22 3/2/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 3/2/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 3/2/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 3/2/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 3/2/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 2/23/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
OLET
    CENTRE-POINT      57882.769  64182.356  11601.112 
    BRANCH1-POINT  57885.367          64181.127          11601.112  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FA0                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57882.769  64182.356  11601.112  4
    END-POINT  57882.769  64182.356  11601.112  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FA1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57885.367          64181.127          11601.112  1  SC MALE 
    END-POINT  57885.367          64181.127          11601.112  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F9Z                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57900.968          64173.749          11601.112  1  SC MALE 
    END-POINT  57885.367          64181.127          11601.112  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F9X                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57897.506  64175.387  11601.112  1
    SKEY DUCK
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F9Y                 
END-CONNECTION-PIPELINE 
    CO-ORDS  57900.968          64173.749          11601.112 
    PIPELINE-REFERENCE ISO-PY3-1215028
PIPE
    END-POINT  57882.769          64182.356          11735.444  4  BW
    END-POINT  57882.769          64182.356          11595.112  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FA2                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57882.769  64182.356  11603.134 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57882.769          64182.356          11735.444  4
    END-POINT  57882.769          64182.356          11735.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FA5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57882.769          64182.356          11595.112  4
    END-POINT  57882.769          64182.356          11595.112  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FA6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57882.769          64182.356          11595.112  4
    END-POINT  57882.769          64182.356          11595.112  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FA7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57882.769          64182.356          11594.813  4  FL
    END-POINT  57882.769          64182.356          11595.112  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FA8                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  57882.769          64182.356          11594.813 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FA9                 
VALVE
    END-POINT  57882.769          64182.356          11592.750  4  FL
    END-POINT  57882.769          64182.356          11594.813  4  FL
    CENTRE-POINT   57882.769          64182.356          11593.782 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAA                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
BOLT
    CO-ORDS  57882.769          64182.356          11592.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAC                 
FLANGE
    END-POINT  57882.769          64182.356          11592.750  4  FL
    END-POINT  57882.769          64182.356          11589.750  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAD                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57882.769          64182.356          11589.750  4
    END-POINT  57882.769          64182.356          11589.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57882.769          64182.356          11589.750  4  BW
    END-POINT  57882.769          64182.356          11581.510  4  BW
    CENTRE-POINT   57882.769          64182.356          11585.630 
    BRANCH1-POINT  57879.039          64180.606          11585.630  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAF                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57882.769          64182.356          11581.510  4
    END-POINT  57882.769          64182.356          11581.510  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57879.039          64180.606          11585.630  4
    END-POINT  57879.039          64180.606          11585.630  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6P                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57872.191          64177.395          11585.630  4  BW
    END-POINT  57879.039          64180.606          11585.630  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAI                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57875.735  64179.057  11585.630 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57872.191          64177.395          11585.630  4
    END-POINT  57872.191          64177.395          11585.630  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6Q                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57866.759          64174.847          11591.630  4  BW
    END-POINT  57872.191          64177.395          11585.630  4  BW
    CENTRE-POINT   57866.759          64174.847          11585.630 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57865.759  64174.847  11585.630 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57865.759  64138.748  11585.630 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57866.759  64174.847  11585.630 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64174.847  11585.630 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57866.759          64174.847          11591.630  4
    END-POINT  57866.759          64174.847          11591.630  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57866.759          64174.847          11594.630  4  FL
    END-POINT  57866.759          64174.847          11591.630  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAN                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57866.759          64174.847          11594.630  4
    END-POINT  57866.759          64174.847          11594.693  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAO                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57866.759          64174.847          11594.693 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAP                 
VALVE-ANGLE
    END-POINT  57866.759          64174.847          11594.693  4  FL
    END-POINT  57859.509          64174.847          11601.693  6  FL
    CENTRE-POINT   57866.759          64174.847          11601.693 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL4X6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS  57866.759  64174.847  11601.693 
    TEXT PSV$053$10
    UNDIMENSIONED
GASKET
    END-POINT  57859.447          64174.847          11601.693  6
    END-POINT  57859.509          64174.847          11601.693  6
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6N                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57859.447          64174.847          11601.693  6  FL
    END-POINT  57855.947          64174.847          11601.693  6  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FAV                 
    PIPING-SPEC C1
END-CONNECTION-PIPELINE 
    CO-ORDS  57855.947          64174.847          11601.693 
    PIPELINE-REFERENCE ISO-PY3-1215030
PIPE
    END-POINT  57882.769          64182.356          11581.510  4  BW
    END-POINT  57882.769          64182.356          11521.620  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FB7                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57882.769  64182.356  11567.991  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FB8                 
FLOOR-SYMBOL 
    CO-ORDS  57882.769  64182.356  11563.149 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57882.769  64182.356  11563.149 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  57882.769          64182.356          11521.620  4
    END-POINT  57882.769          64182.356          11521.620  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBA                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57882.769          64182.356          11521.620  4  BW
    END-POINT  57882.769          64182.356          11513.380  4  BW
    CENTRE-POINT   57882.769          64182.356          11517.500 
    BRANCH1-POINT  57886.241          64181.915          11517.500  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57882.769  64182.356  11517.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64182.356  11517.500 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57882.769          64182.356          11513.380  4
    END-POINT  57882.769          64182.356          11513.380  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57886.241          64181.915          11517.500  2
    END-POINT  57886.241          64181.915          11517.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57942.593          64174.762          11517.500  2  BW
    END-POINT  57886.241          64181.915          11517.500  2  BW
    CONTINUATION 
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBF                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57894.673  64180.845  11517.500 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  57942.593          64174.762          11517.500 
    PIPELINE-REFERENCE ISO-PY3-1215001
PIPE
    END-POINT  57882.769          64182.356          11513.380  4  BW
    END-POINT  57882.769          64182.356          11454.620  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBR                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57882.769  64182.356  11473.963 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57882.769          64182.356          11454.620  4
    END-POINT  57882.769          64182.356          11454.620  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBT                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57882.769          64182.356          11446.380  4  BW
    END-POINT  57882.769          64182.356          11454.620  4  BW
    CENTRE-POINT   57882.769          64182.356          11450.500 
    BRANCH1-POINT  57886.243          64181.928          11450.500  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED4X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57882.769          64182.356          11446.380  4
    END-POINT  57882.769          64182.356          11446.380  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57886.243          64181.928          11450.500  2
    END-POINT  57886.243          64181.928          11450.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57942.592          64174.750          11450.500  2  BW
    END-POINT  57886.243          64181.928          11450.500  2  BW
    CONTINUATION 
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FBY                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57892.041  64181.190  11450.500 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  57942.592          64174.750          11450.500 
    PIPELINE-REFERENCE ISO-PY3-1215002
PIPE
    END-POINT  57882.769          64182.356          11446.380  4  BW
    END-POINT  57882.769          64182.356          11437.870  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCC                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57882.769          64182.356          11437.870  4
    END-POINT  57882.769          64182.356          11437.870  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57882.769          64182.356          11429.630  4  BW
    END-POINT  57882.769          64182.356          11437.870  4  BW
    CENTRE-POINT   57882.769          64182.356          11433.750 
    BRANCH1-POINT  57884.829          64185.924          11433.750  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4X4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCE                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57882.769          64182.356          11429.630  4
    END-POINT  57882.769          64182.356          11429.630  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCF                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57884.829          64185.924          11433.750  4
    END-POINT  57884.829          64185.924          11433.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57886.994          64189.674          11433.750  4  PL
    END-POINT  57884.829          64185.924          11433.750  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCH                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57886.994          64189.674          11433.750  4
    END-POINT  57886.994          64189.674          11433.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57886.994          64189.674          11433.750  4
    END-POINT  57886.994          64189.674          11433.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57887.144          64189.934          11433.750  4  FL
    END-POINT  57886.994          64189.674          11433.750  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCK                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57887.144          64189.934          11433.750  4
    END-POINT  57887.175          64189.988          11433.750  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G5T                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57887.144          64189.934          11433.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G5U                 
END-POSITION-OPEN 
    CO-ORDS  57887.175          64189.988          11433.750 
REDUCER-CONCENTRIC
    END-POINT  57882.769          64182.356          11429.630  4  BW
    END-POINT  57882.769          64182.356          11425.630  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCN                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57882.769          64182.356          11425.630  2
    END-POINT  57882.769          64182.356          11425.630  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCO                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57882.769          64182.356          11425.630  2  BW
    END-POINT  57885.737          64181.919          11422.630  2  BW
    CENTRE-POINT   57882.769          64182.356          11422.630 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FCP                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57885.737          64181.919          11422.630 
    PIPELINE-REFERENCE ISO-PY3-1215003
ELBOW
    END-POINT  57882.769          64182.356          11735.444  4  BW
    END-POINT  57878.526          64178.113          11741.444  4  BW
    CENTRE-POINT   57882.769          64182.356          11741.444 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FDO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57882.769  64182.356  11741.444 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64182.356  11741.444 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57882.769  64182.356  11741.444 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57882.769  64138.748  11741.444 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57878.526          64178.113          11741.444  4
    END-POINT  57878.526          64178.113          11741.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6I                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57878.526          64178.113          11741.444  4  BW
    END-POINT  57872.537          64172.124          11741.444  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6H                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57872.537          64172.124          11741.444  4
    END-POINT  57872.537          64172.124          11741.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6J                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57870.769          64167.856          11741.444  4  BW
    END-POINT  57872.537          64172.124          11741.444  4  BW
    CENTRE-POINT   57870.769          64170.356          11741.444 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FDT                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57870.769          64167.856          11741.444  4
    END-POINT  57870.769          64167.856          11741.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6M                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57870.769          63947.800          11741.444  4  BW
    END-POINT  57870.769          64167.856          11741.444  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FDW                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57870.769  63981.236  11741.444  4
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FDX                 
SUPPORT
    CO-ORDS  57870.769  64063.209  11741.444  4
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FDY                 
SUPPORT
    CO-ORDS  57870.769  64138.799  11741.444  4
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FDZ                 
FLOW-ARROW
    CO-ORDS  57870.769  64021.522  11741.444 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57870.769          63947.800          11741.444  4
    END-POINT  57870.769          63947.800          11741.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE1                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57870.769          63947.800          11741.444  4  BW
    END-POINT  57870.769          63941.800          11747.444  4  BW
    CENTRE-POINT   57870.769          63941.800          11741.444 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE2                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57870.769          63941.800          11747.444  4
    END-POINT  57870.769          63941.800          11747.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57870.769          63941.800          11753.444  4  BW
    END-POINT  57870.769          63941.800          11747.444  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE4                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57870.769          63941.800          11753.444  4
    END-POINT  57870.769          63941.800          11753.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57864.769          63941.800          11759.444  4  BW
    END-POINT  57870.769          63941.800          11753.444  4  BW
    CENTRE-POINT   57870.769          63941.800          11759.444 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE6                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57864.769          63941.800          11759.444  4
    END-POINT  57864.769          63941.800          11759.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G6L                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57864.769          63941.800          11759.444  4  BW
    END-POINT  57803.550          63941.800          11759.444  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE8                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57857.476  63941.800  11759.444  4
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-4_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FE9                 
WELD
    END-POINT  57803.550          63941.800          11759.444  4
    END-POINT  57803.550          63941.800          11759.444  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G95                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57797.238  63941.800  11759.444 
    BRANCH1-POINT  57803.550          63941.800          11759.444  4  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           6.300
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GHN                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57797.238  63941.800  11759.444 
    PIPELINE-REFERENCE ISO-PY3-2047016
MATERIALS
ITEM-CODE TOL4X1
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 1 3/4 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE TEESTR4X4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK4_1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVREL4X6
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-053-10
    RATING 150LB
ITEM-CODE SUPRH-4
    DESCRIPTION RISER CLAMP, P615 FIG 1
ITEM-CODE TEERED4X2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGSLP4_1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLT4_1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE REDCON4X2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 45LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPRH-4_1
    DESCRIPTION GENERAL HANGER, L=2'-5 1/8", P624 FIG 4
ITEM-CODE SUPRH-4_2
    DESCRIPTION GENERAL HANGER, L=1'-2 3/16", P624 FIG 4
ITEM-CODE SUPRH-4_3
    DESCRIPTION GENERAL HANGER, L=1'-0", P624 FIG 4
