ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216019
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1216019-DM-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 JEO
    ATTRIBUTE22 1/8/2009
    ATTRIBUTE23 D. KENDRICK
    ATTRIBUTE24 1/15/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 3/27/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/31/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/31/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/31/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 TM
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
ELBOW
    END-POINT  58120.820          64124.069          11507.688  3  BW
    END-POINT  58120.820          64128.569          11512.188  3  BW
    CENTRE-POINT   58120.820          64128.569          11507.688 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1J                  
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58120.820          64124.069          11507.688  3
    END-POINT  58120.820          64124.069          11507.688  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_LB                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58120.820          64128.569          11512.188  3
    END-POINT  58120.820          64128.569          11512.188  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1K                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58124.197          64120.689          11507.829  3  BW
    END-POINT  58117.443          64120.689          11507.546  3  BW
    CENTRE-POINT   58120.820          64120.689          11507.688 
    BRANCH1-POINT  58120.820          64124.069          11507.688  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1G                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58124.197          64120.689          11507.829 
    PIPELINE-REFERENCE ISO-PY3-1223021
PIPE
    END-POINT  58120.820          64128.569          11575.487  3  BW
    END-POINT  58120.820          64128.569          11512.188  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1L                  
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58120.820  64128.569  11570.000  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1M                  
FLOW-ARROW
    CO-ORDS  58120.820  64128.569  11543.057 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58120.820  64128.569  11566.750 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58120.820  64128.569  11566.750 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58120.820          64128.569          11575.487  3
    END-POINT  58120.820          64128.569          11575.487  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1P                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  58120.820          64128.569          11575.487  3  BW
    END-POINT  58120.820          64128.569          11578.987  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1Q                  
    PIPING-SPEC S1
WELD
    END-POINT  58120.820          64128.569          11578.987  2
    END-POINT  58120.820          64128.569          11578.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1R                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58118.699          64126.448          11581.987  2  BW
    END-POINT  58120.820          64128.569          11578.987  2  BW
    CENTRE-POINT   58120.820          64128.569          11581.987 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1S                  
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58120.820  64128.569  11581.987 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64128.569  11581.987 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58120.820  64128.569  11581.987 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58120.820  64138.748  11581.987 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58118.699          64126.448          11581.987  2
    END-POINT  58118.699          64126.448          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_TT                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58115.643          64123.392          11581.987  2  BW
    END-POINT  58118.699          64126.448          11581.987  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_TR                  
    PIPING-SPEC S1
WELD
    END-POINT  58115.643          64123.392          11581.987  2
    END-POINT  58115.643          64123.392          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_TS                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58115.643          64123.392          11581.987  2  BW
    END-POINT  58114.667          64121.037          11581.987  2  BW
    CENTRE-POINT   58114.667          64122.417          11581.987 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_TP                  
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58114.667          64121.037          11581.987  2
    END-POINT  58114.667          64121.037          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_TY                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58114.667          64121.037          11581.987  2  BW
    END-POINT  58114.695          64118.286          11581.987  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_TX                  
    PIPING-SPEC S1
WELD
    END-POINT  58114.695          64118.286          11581.987  2
    END-POINT  58114.695          64118.286          11581.987  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_TZ                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58114.695          64115.536          11581.987  2  FL
    END-POINT  58114.695          64118.286          11581.987  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_TN                  
    PIPING-SPEC S1
MESSAGE-ROUND
    CO-ORDS  58114.695  64115.536  11581.987 
    TEXT SP-050
    UNDIMENSIONED
GASKET
    END-POINT  58114.695          64115.411          11581.987  2
    END-POINT  58114.695          64115.536          11581.987  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_U3                  
    PIPING-SPEC S1
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58114.695          64115.536          11581.987 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_U4                  
FLANGE
    END-POINT  58114.695          64115.411          11581.987  2  FL
    END-POINT  58114.695          64112.661          11581.987  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_U2                  
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58114.695          64112.661          11581.987 
    PIPELINE-REFERENCE ISO-PY3-1216015-J
MATERIALS
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION RISER CLAMP
ITEM-CODE REDCON3X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
