ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046001
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046001-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 S.KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 5
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 1/19/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/9/2009
    ATTRIBUTE54 SK
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 DC
    ATTRIBUTE61 BL
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 10/26/2012
    ATTRIBUTE66 DBH
    ATTRIBUTE67 DD
    ATTRIBUTE68 DK
    ATTRIBUTE69 CHANGED COORDINATES
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58208.920          63961.099          11282.799  0.75  SC MALE 
    END-POINT  58208.920          63961.099          11281.799  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63961.099          11282.799  0.75  SC MALE 
    END-POINT  58208.920          63961.099          11282.799  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58208.920          63961.099          11284.239  0.75  SC FEMALE 
    END-POINT  58208.920          63961.099          11282.799  0.75  SC FEMALE 
    CENTRE-POINT   58208.920          63961.099          11283.459 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVD                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58208.920          63961.099          11284.239  0.75  SC FEMALE 
    END-POINT  58208.920          63961.099          11284.239  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVF                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58208.920          63961.099          11287.239  0.75  SC MALE 
    END-POINT  58208.920          63961.099          11284.239  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVG                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63961.099          11287.239  0.75  SC MALE 
    END-POINT  58208.920          63961.099          11287.239  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58208.920          63961.099          11287.834  1  SC MALE 
    END-POINT  58208.920          63961.099          11287.239  0.75  SC FEMALE 
    CENTRE-POINT  58208.920  63961.099  11287.537 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVI                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63961.099          11287.834  1  SC MALE 
    END-POINT  58208.920          63961.099          11287.834  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58208.920          63961.099          11289.566  1  SC FEMALE 
    END-POINT  58208.920          63961.099          11287.834  1  SC FEMALE 
    CENTRE-POINT   58208.920          63961.099          11288.646 
    BRANCH1-POINT  58208.920          63960.179          11288.646  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58208.920          63961.099          11289.566  1  SC FEMALE 
    END-POINT  58208.920          63961.099          11289.566  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63960.179          11288.646  1  SC FEMALE 
    END-POINT  58208.920          63960.179          11288.646  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58208.920          63960.179          11288.646  1  SC MALE 
    END-POINT  58208.920          63923.328          11288.646  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVN                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58208.920  63953.599  11288.646  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVO                 
SCREWED-WELD
    END-POINT  58208.920          63923.328          11288.646  1  SC MALE 
    END-POINT  58208.920          63923.328          11288.646  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58209.840          63922.408          11288.646  1  SC FEMALE 
    END-POINT  58208.920          63923.328          11288.646  1  SC FEMALE 
    CENTRE-POINT   58208.920          63922.408          11288.646 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58208.920  63922.408  11288.646 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63922.408  11288.646 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58209.840          63922.408          11288.646  1  SC FEMALE 
    END-POINT  58209.840          63922.408          11288.646  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58209.840          63922.408          11288.646  1  SC MALE 
    END-POINT  58233.882          63922.408          11288.646  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVT                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58226.934  63922.408  11288.646  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVU                 
FLOW-ARROW
    CO-ORDS  58220.048  63922.408  11288.646 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58233.882          63922.408          11288.646  1  SC MALE 
    END-POINT  58233.882          63922.408          11288.646  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58234.804          63922.790          11288.646  1  SC FEMALE 
    END-POINT  58233.882          63922.408          11288.646  1  SC FEMALE 
    CENTRE-POINT   58234.422          63922.408          11288.646 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVX                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58234.422  63922.408  11288.646 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58234.422  63898.800  11288.646 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58234.804          63922.790          11288.646  1  SC FEMALE 
    END-POINT  58234.804          63922.790          11288.646  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JVZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58234.804          63922.790          11288.646  1  SC MALE 
    END-POINT  58245.149          63933.135          11288.646  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JW0                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58245.149          63933.135          11288.646  1  SC MALE 
    END-POINT  58245.149          63933.135          11288.646  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JW1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58245.800          63933.786          11289.566  1  SC FEMALE 
    END-POINT  58245.149          63933.135          11288.646  1  SC FEMALE 
    CENTRE-POINT   58245.800          63933.786          11288.646 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JW2                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58245.800          63933.786          11289.566  1  SC FEMALE 
    END-POINT  58245.800          63933.786          11289.566  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JW3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58245.800          63933.786          11289.566  1  SC MALE 
    END-POINT  58245.800          63933.785          11295.812  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JW4                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58245.800          63933.785          11295.812  1  SC MALE 
    END-POINT  58245.800          63933.785          11295.813  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JW5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58245.800          63933.785          11295.813  1  FL
    END-POINT  58245.800          63933.785          11295.813  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JW6                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58245.800          63933.785          11295.813  1
    END-POINT  58245.800          63933.785          11295.875  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PDX                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58245.800          63933.785          11295.813 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PDY                 
NOZZLE
    CO-ORDS  58245.800          63933.785          11295.875  1  FL
    CONNECTION-REFERENCE PY3-002$NOZZLE TAG PY3-002-L$RATING 150LB$FACING RF
PIPE
    END-POINT  58208.920          63961.099          11289.566  1  SC MALE 
    END-POINT  58208.920          63961.099          11322.835  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JW9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63961.099          11322.835  1  SC MALE 
    END-POINT  58208.920          63961.099          11322.835  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWA                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58208.920          63961.099          11322.835  1  SC FEMALE 
    END-POINT  58208.920          63961.099          11324.225  1  SC FEMALE 
    CENTRE-POINT   58208.920          63961.099          11323.530 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWB                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58208.920          63961.099          11324.225  1  SC FEMALE 
    END-POINT  58208.920          63961.099          11324.225  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWD                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58208.920          63961.099          11324.225  1  SC MALE 
    END-POINT  58208.920          63961.099          11330.140  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWE                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63961.099          11330.140  1  SC MALE 
    END-POINT  58208.920          63961.099          11330.140  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58208.920          63961.099          11330.140  1  SC FEMALE 
    END-POINT  58208.920          63961.099          11331.980  1  SC FEMALE 
    CENTRE-POINT   58208.920          63961.099          11331.060 
    BRANCH1-POINT  58208.920          63962.019          11331.060  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58208.920          63961.099          11331.980  1  SC FEMALE 
    END-POINT  58208.920          63961.099          11331.980  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63962.019          11331.060  1  SC MALE 
    END-POINT  58208.920          63962.019          11331.060  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58208.920          63966.179          11331.060  1  SC MALE 
    END-POINT  58208.920          63962.019          11331.060  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JWJ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58208.920          63966.179          11331.060 
    PIPELINE-REFERENCE ISO-PY3-1212027
PIPE
    END-POINT  58208.920          63961.099          11331.980  1  SC MALE 
    END-POINT  58208.920          63961.099          11380.118  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZY                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63961.099          11380.118  1  SC MALE 
    END-POINT  58208.920          63961.099          11380.118  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JZZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58208.920          63961.099          11380.118  1  SC FEMALE 
    END-POINT  58208.920          63962.019          11381.038  1  SC FEMALE 
    CENTRE-POINT   58208.920          63961.099          11381.038 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K00                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58208.920          63962.019          11381.038  1  SC MALE 
    END-POINT  58208.920          63962.019          11381.038  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58208.920          63972.947          11381.038  1  SC MALE 
    END-POINT  58208.920          63962.019          11381.038  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZ8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63972.947          11381.038  1  SC MALE 
    END-POINT  58208.920          63972.947          11381.038  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZ9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58208.920          63972.947          11381.038  1  SC FEMALE 
    END-POINT  58208.920          63973.867          11381.958  1  SC FEMALE 
    CENTRE-POINT   58208.920          63973.867          11381.038 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K04                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58208.920          63973.867          11381.958  1  SC FEMALE 
    END-POINT  58208.920          63973.867          11381.958  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K05                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58208.920          63973.867          11388.094  1  SC MALE 
    END-POINT  58208.920          63973.867          11381.958  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K06                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58208.920          63973.867          11388.094  1  SC MALE 
    END-POINT  58208.920          63973.867          11388.094  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K07                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58208.920          63973.867          11388.094  1  SC FEMALE 
    END-POINT  58208.000          63973.867          11389.014  1  SC FEMALE 
    CENTRE-POINT   58208.920          63973.867          11389.014 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K08                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58208.000          63973.867          11389.014  1  SC MALE 
    END-POINT  58208.000          63973.867          11389.014  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58140.970          63973.867          11389.014  1  SC MALE 
    END-POINT  58208.000          63973.867          11389.014  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXQ                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58183.747  63973.867  11389.014 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58162.386  63973.867  11389.014 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58162.386  63973.867  11389.014 
    TEXT Wall Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58153.832  63973.867  11389.014  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P2I                 
SUPPORT
    CO-ORDS  58200.706  63973.867  11389.014  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P2N                 
SCREWED-WELD
    END-POINT  58140.970          63973.867          11389.014  1  SC MALE 
    END-POINT  58140.970          63973.867          11389.014  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58140.970          63973.867          11389.014  1  SC FEMALE 
    END-POINT  58140.050          63973.867          11389.934  1  SC FEMALE 
    CENTRE-POINT   58140.050          63973.867          11389.014 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0G                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58140.050          63973.867          11389.934  1  SC FEMALE 
    END-POINT  58140.050          63973.867          11389.934  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58140.050          63973.867          11434.276  1  SC MALE 
    END-POINT  58140.050          63973.867          11389.934  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0I                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58140.050          63973.867          11434.276  1  SC MALE 
    END-POINT  58140.050          63973.867          11434.276  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58140.050          63973.867          11434.276  1  SC FEMALE 
    END-POINT  58139.130          63973.867          11435.196  1  SC FEMALE 
    CENTRE-POINT   58140.050          63973.867          11435.196 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0K                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58139.130          63973.867          11435.196  1  SC FEMALE 
    END-POINT  58139.130          63973.867          11435.196  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58122.470          63973.867          11435.196  1  SC MALE 
    END-POINT  58139.130          63973.867          11435.196  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0M                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58122.470          63973.867          11435.196  1  SC MALE 
    END-POINT  58122.470          63973.867          11435.196  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58122.470          63973.867          11435.196  1  SC FEMALE 
    END-POINT  58121.550          63973.867          11436.116  1  SC FEMALE 
    CENTRE-POINT   58121.550          63973.867          11435.196 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0O                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58121.550          63973.867          11436.116  1  SC FEMALE 
    END-POINT  58121.550          63973.867          11436.116  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63973.867          11436.116  1  SC MALE 
    END-POINT  58121.550          63973.867          11448.384  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K0Q                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63973.867          11448.384  1  SC MALE 
    END-POINT  58121.550          63973.867          11448.384  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58121.550  63973.867  11450.759 
    BRANCH1-POINT  58121.550          63973.867          11448.384  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HWO                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550  63973.867  11450.759 
    PIPELINE-REFERENCE ISO-PY3-2046011
MATERIALS
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE BSHGHEX1X3/4
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPST-1
    DESCRIPTION PIPE SUPPORT, L=8", P622 FIG 1
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE 45L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 45 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PIP1_1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40
    RATING 40
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER L=1'-3", P624 FIG 4
ITEM-CODE SUPUB-1
    DESCRIPTION PROTECTION SADDLE, P651 FIG 1
