ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046021
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046021-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58235.148          64254.980          11316.547  0.5  SC MALE 
    END-POINT  58235.148          64254.980          11318.547  0.5  SC MALE 
    CENTRE-POINT  58235.148  64254.980  11317.547 
    SKEY NCSC
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH8                 
    TAG TO SPARE                        
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58235.148  64254.980  11318.047 
    TEXT SPARE
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58235.148          64254.980          11316.547  0.5  SC MALE 
    END-POINT  58235.148          64254.980          11316.547  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHA                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58235.148          64254.980          11318.547 
VALVE
    END-POINT  58235.148          64254.980          11315.102  0.5  SC FEMALE 
    END-POINT  58235.148          64254.980          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58235.148          64254.980          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHB                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58235.148          64254.980          11315.102  0.5  SC FEMALE 
    END-POINT  58235.148          64254.980          11315.102  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58235.148          64254.980          11311.242  0.5  SC MALE 
    END-POINT  58235.148          64254.980          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHE                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58235.148          64254.980          11311.242  0.5  SC MALE 
    END-POINT  58235.148          64254.980          11311.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58234.438          64254.980          11310.012  1.5  SC FEMALE 
    END-POINT  58235.858          64254.980          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58235.148          64254.980          11310.012 
    BRANCH1-POINT  58235.148          64254.980          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58234.438          64254.980          11310.012  1.5  SC FEMALE 
    END-POINT  58234.438          64254.980          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58235.858          64254.980          11310.012  1.5  SC FEMALE 
    END-POINT  58235.858          64254.980          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58235.858          64254.980          11310.012  1.5  SC MALE 
    END-POINT  58240.938          64254.979          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHJ                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58238.197  64254.980  11310.012 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58240.938          64254.979          11310.012  1.5  SC MALE 
    END-POINT  58240.938          64254.979          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58240.938          64254.979          11310.012  1.5  SC FEMALE 
    END-POINT  58242.358          64254.979          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58241.648          64254.979          11310.012 
    BRANCH1-POINT  58241.648          64254.979          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHM                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58242.358          64254.979          11310.012  1.5  SC FEMALE 
    END-POINT  58242.358          64254.979          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58241.648          64254.979          11311.242  0.5  SC FEMALE 
    END-POINT  58241.648          64254.979          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58241.648          64254.979          11311.242  0.5  SC MALE 
    END-POINT  58241.648          64254.979          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58241.648          64254.979          11315.102  0.5  SC MALE 
    END-POINT  58241.648          64254.979          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58241.648          64254.979          11315.102  0.5  SC FEMALE 
    END-POINT  58241.648          64254.979          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58241.648          64254.979          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHR                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58241.648          64254.979          11316.547  0.5  SC FEMALE 
    END-POINT  58241.648          64254.979          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58241.648          64254.979          11316.547  0.5  SC MALE 
    END-POINT  58241.648          64254.979          11319.547  0.5  SC MALE 
    CENTRE-POINT  58241.648  64254.979  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHU                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58241.648  64254.979  11319.047 
    TEXT TO 1217009$MANIFOLD # 06$VALVE # 005
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58241.648          64254.979          11319.547 
PIPE
    END-POINT  58242.358          64254.979          11310.012  1.5  SC MALE 
    END-POINT  58247.438          64254.978          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58247.438          64254.978          11310.012  1.5  SC MALE 
    END-POINT  58247.438          64254.978          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58247.438          64254.978          11310.012  1.5  SC FEMALE 
    END-POINT  58248.858          64254.978          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58248.148          64254.978          11310.012 
    BRANCH1-POINT  58248.148          64254.978          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58248.858          64254.978          11310.012  1.5  SC FEMALE 
    END-POINT  58248.858          64254.978          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MHZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58248.148          64254.978          11311.242  0.5  SC FEMALE 
    END-POINT  58248.148          64254.978          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MI0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58248.148          64254.978          11311.242  0.5  SC MALE 
    END-POINT  58248.148          64254.978          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MI1                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58248.148          64254.978          11315.102  0.5  SC MALE 
    END-POINT  58248.148          64254.978          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MI2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58248.148          64254.978          11315.102  0.5  SC FEMALE 
    END-POINT  58248.148          64254.978          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58248.148          64254.978          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MI3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58248.148          64254.978          11316.547  0.5  SC FEMALE 
    END-POINT  58248.148          64254.978          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MI5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58248.148          64254.978          11316.547  0.5  SC MALE 
    END-POINT  58248.148          64254.978          11319.547  0.5  SC MALE 
    CENTRE-POINT  58248.148  64254.978  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MI6                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58248.148  64254.978  11319.047 
    TEXT TO 1217008$MANIFOLD # 06$VALVE # 004
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58248.148          64254.978          11319.547 
PIPE
    END-POINT  58248.858          64254.978          11310.012  1.5  SC MALE 
    END-POINT  58253.938          64254.977          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MI8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58253.938          64254.977          11310.012  1.5  SC MALE 
    END-POINT  58253.938          64254.977          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MI9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58253.938          64254.977          11310.012  1.5  SC FEMALE 
    END-POINT  58255.358          64254.977          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58254.648          64254.977          11310.012 
    BRANCH1-POINT  58254.648          64254.977          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58255.358          64254.977          11310.012  1.5  SC FEMALE 
    END-POINT  58255.358          64254.977          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58254.648          64254.977          11311.242  0.5  SC FEMALE 
    END-POINT  58254.648          64254.977          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58254.648          64254.977          11311.242  0.5  SC MALE 
    END-POINT  58254.648          64254.977          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MID                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58254.648          64254.977          11315.102  0.5  SC MALE 
    END-POINT  58254.648          64254.977          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58254.648          64254.977          11315.102  0.5  SC FEMALE 
    END-POINT  58254.648          64254.977          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58254.648          64254.977          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIF                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58254.648          64254.977          11316.547  0.5  SC FEMALE 
    END-POINT  58254.648          64254.977          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58254.648          64254.977          11316.547  0.5  SC MALE 
    END-POINT  58254.648          64254.977          11319.547  0.5  SC MALE 
    CENTRE-POINT  58254.648  64254.977  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MII                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58254.648  64254.977  11319.047 
    TEXT TO 1217006$MANIFOLD # 06$VALVE # 003
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58254.648          64254.977          11319.547 
PIPE
    END-POINT  58255.358          64254.977          11310.012  1.5  SC MALE 
    END-POINT  58260.438          64254.976          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58260.438          64254.976          11310.012  1.5  SC MALE 
    END-POINT  58260.438          64254.976          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58260.438          64254.976          11310.012  1.5  SC FEMALE 
    END-POINT  58261.858          64254.976          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58261.148          64254.976          11310.012 
    BRANCH1-POINT  58261.148          64254.976          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIM                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58261.858          64254.976          11310.012  1.5  SC FEMALE 
    END-POINT  58261.858          64254.976          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58261.148          64254.976          11311.242  0.5  SC FEMALE 
    END-POINT  58261.148          64254.976          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58261.148          64254.976          11311.242  0.5  SC MALE 
    END-POINT  58261.148          64254.976          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58261.148          64254.976          11315.102  0.5  SC MALE 
    END-POINT  58261.148          64254.976          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58261.148          64254.976          11315.102  0.5  SC FEMALE 
    END-POINT  58261.148          64254.976          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58261.148          64254.976          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIR                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58261.148          64254.976          11316.547  0.5  SC FEMALE 
    END-POINT  58261.148          64254.976          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58261.148          64254.976          11316.547  0.5  SC MALE 
    END-POINT  58261.148          64254.976          11319.547  0.5  SC MALE 
    CENTRE-POINT  58261.148  64254.976  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIU                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58261.148  64254.976  11319.047 
    TEXT TO 1217002$MANIFOLD # 06$VALVE # 002
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58261.148          64254.976          11319.547 
PIPE
    END-POINT  58261.858          64254.976          11310.012  1.5  SC MALE 
    END-POINT  58266.938          64254.975          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58266.938          64254.975          11310.012  1.5  SC MALE 
    END-POINT  58266.938          64254.975          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58266.938          64254.975          11310.012  1.5  SC FEMALE 
    END-POINT  58268.358          64254.975          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58267.648          64254.975          11310.012 
    BRANCH1-POINT  58267.648          64254.975          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58268.358          64254.975          11310.012  1.5  SC FEMALE 
    END-POINT  58268.358          64254.975          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MIZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58267.648          64254.975          11311.242  0.5  SC FEMALE 
    END-POINT  58267.648          64254.975          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJ0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58267.648          64254.975          11311.242  0.5  SC MALE 
    END-POINT  58267.648          64254.975          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJ1                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58267.648          64254.975          11315.102  0.5  SC MALE 
    END-POINT  58267.648          64254.975          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJ2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58267.648          64254.975          11315.102  0.5  SC FEMALE 
    END-POINT  58267.648          64254.975          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58267.648          64254.975          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJ3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58267.648          64254.975          11316.547  0.5  SC FEMALE 
    END-POINT  58267.648          64254.975          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJ5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58267.648          64254.975          11316.547  0.5  SC MALE 
    END-POINT  58267.648          64254.975          11319.547  0.5  SC MALE 
    CENTRE-POINT  58267.648  64254.975  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJ6                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58267.648  64254.975  11319.047 
    TEXT TO 1217001$MANIFOLD # 06$VALVE # 001
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58267.648          64254.975          11319.547 
PIPE
    END-POINT  58273.198          64254.975          11310.012  1.5  SC MALE 
    END-POINT  58268.358          64254.975          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJ8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58273.198          64254.975          11310.012  1.5  SC MALE 
    END-POINT  58273.198          64254.975          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJ9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58275.098          64254.974          11310.012  1.5  SC FEMALE 
    END-POINT  58273.198          64254.975          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58274.148          64254.975          11310.012 
    BRANCH1-POINT  58274.148          64254.975          11308.792  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58274.148  64254.975  11310.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58274.148  64138.748  11310.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58275.098          64254.974          11310.012  1.5  SC FEMALE 
    END-POINT  58275.098          64254.974          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58274.148          64254.975          11308.792  1  SC FEMALE 
    END-POINT  58274.148          64254.975          11308.792  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58274.148          64254.975          11308.792  1  SC MALE 
    END-POINT  58274.148          64254.975          11305.792  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJE                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58274.148          64254.975          11305.792  1  SC MALE 
    END-POINT  58274.148          64254.975          11305.792  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58274.148          64254.975          11305.792  1  SC FEMALE 
    END-POINT  58274.148          64254.975          11304.372  1  SC FEMALE 
    CENTRE-POINT   58274.148          64254.975          11304.997 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJG                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58274.148          64254.975          11304.372  1  SC FEMALE 
    END-POINT  58274.148          64254.975          11304.372  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58274.148          64254.975          11304.372  1  SC MALE 
    END-POINT  58274.148          64254.975          11303.242  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58274.148          64254.975          11303.242 
PIPE
    END-POINT  58275.098          64254.974          11310.012  1.5  SC MALE 
    END-POINT  58280.498          64254.974          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJK                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58277.798  64254.974  11310.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJL                 
SCREWED-WELD
    END-POINT  58280.498          64254.974          11310.012  1.5  SC MALE 
    END-POINT  58280.498          64254.974          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58280.498          64254.974          11310.012  1.5  SC FEMALE 
    END-POINT  58282.868          64254.974          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58281.738          64254.974          11310.012 
    BRANCH1-POINT  58281.738          64254.974          11311.252  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJN                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58281.738  64254.974  11310.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64254.974  11310.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58282.868          64254.974          11310.012  1.5  SC FEMALE 
    END-POINT  58282.868          64254.974          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58281.738          64254.974          11311.252  1.5  SC FEMALE 
    END-POINT  58281.738          64254.974          11311.252  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58281.738          64254.974          11332.772  1.5  SC MALE 
    END-POINT  58281.738          64254.974          11311.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJR                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58281.738          64254.974          11332.772  1.5  SC MALE 
    END-POINT  58281.738          64254.974          11332.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58282.868          64254.974          11334.012  1.5  SC FEMALE 
    END-POINT  58280.498          64254.974          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58281.738          64254.974          11334.012 
    BRANCH1-POINT  58281.738          64254.974          11332.772  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJT                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58281.738  64254.974  11334.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64254.974  11334.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58282.868          64254.974          11334.012  1.5  SC FEMALE 
    END-POINT  58282.868          64254.974          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58280.498          64254.974          11334.012  1.5  SC FEMALE 
    END-POINT  58280.498          64254.974          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58280.498          64254.974          11334.012  1.5  SC MALE 
    END-POINT  58271.608          64254.975          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJX                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58271.608          64254.975          11334.012  1.5  SC MALE 
    END-POINT  58271.608          64254.975          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58270.188          64254.975          11334.012  1.5  SC FEMALE 
    END-POINT  58271.608          64254.975          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58270.898          64254.975          11334.012 
    BRANCH1-POINT  58270.898          64254.975          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MJZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58270.898  64254.975  11334.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58270.898  64138.748  11334.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58270.188          64254.975          11334.012  1.5  SC FEMALE 
    END-POINT  58270.188          64254.975          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MK1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58270.898          64254.975          11335.242  0.5  SC FEMALE 
    END-POINT  58270.898          64254.975          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MK2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58270.898          64254.975          11335.242  0.5  SC MALE 
    END-POINT  58270.898          64254.975          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MK3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58270.898          64254.975          11339.102  0.5  SC MALE 
    END-POINT  58270.898          64254.975          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MK4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58270.898          64254.975          11339.102  0.5  SC FEMALE 
    END-POINT  58270.898          64254.975          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58270.898          64254.975          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MK5                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58270.898          64254.975          11340.547  0.5  SC FEMALE 
    END-POINT  58270.898          64254.975          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MK7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58270.898          64254.975          11340.547  0.5  SC MALE 
    END-POINT  58270.898          64254.975          11343.547  0.5  SC MALE 
    CENTRE-POINT  58270.898  64254.975  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MK8                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58270.898  64254.975  11343.047 
    TEXT TO 1217010$MANIFOLD # 06$VALVE # 006
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58270.898          64254.975          11343.547 
PIPE
    END-POINT  58270.188          64254.975          11334.012  1.5  SC MALE 
    END-POINT  58265.108          64254.976          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58265.108          64254.976          11334.012  1.5  SC MALE 
    END-POINT  58265.108          64254.976          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58263.688          64254.976          11334.012  1.5  SC FEMALE 
    END-POINT  58265.108          64254.976          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58264.398          64254.976          11334.012 
    BRANCH1-POINT  58264.398          64254.976          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKC                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58263.688          64254.976          11334.012  1.5  SC FEMALE 
    END-POINT  58263.688          64254.976          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58264.398          64254.976          11335.242  0.5  SC FEMALE 
    END-POINT  58264.398          64254.976          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58264.398          64254.976          11335.242  0.5  SC MALE 
    END-POINT  58264.398          64254.976          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58264.398          64254.976          11339.102  0.5  SC MALE 
    END-POINT  58264.398          64254.976          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58264.398          64254.976          11339.102  0.5  SC FEMALE 
    END-POINT  58264.398          64254.976          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58264.398          64254.976          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKH                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58264.398          64254.976          11340.547  0.5  SC FEMALE 
    END-POINT  58264.398          64254.976          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58264.398          64254.976          11340.547  0.5  SC MALE 
    END-POINT  58264.398          64254.976          11343.547  0.5  SC MALE 
    CENTRE-POINT  58264.398  64254.976  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKK                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58264.398  64254.976  11343.047 
    TEXT TO 1217011$MANIFOLD # 06$VALVE # 007
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58264.398          64254.976          11343.547 
PIPE
    END-POINT  58263.688          64254.976          11334.012  1.5  SC MALE 
    END-POINT  58258.608          64254.977          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58258.608          64254.977          11334.012  1.5  SC MALE 
    END-POINT  58258.608          64254.977          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58257.188          64254.977          11334.012  1.5  SC FEMALE 
    END-POINT  58258.608          64254.977          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58257.898          64254.977          11334.012 
    BRANCH1-POINT  58257.898          64254.977          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58257.188          64254.977          11334.012  1.5  SC FEMALE 
    END-POINT  58257.188          64254.977          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58257.898          64254.977          11335.242  0.5  SC FEMALE 
    END-POINT  58257.898          64254.977          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58257.898          64254.977          11335.242  0.5  SC MALE 
    END-POINT  58257.898          64254.977          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKR                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58257.898          64254.977          11339.102  0.5  SC MALE 
    END-POINT  58257.898          64254.977          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58257.898          64254.977          11339.102  0.5  SC FEMALE 
    END-POINT  58257.898          64254.977          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58257.898          64254.977          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKT                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58257.898          64254.977          11340.547  0.5  SC FEMALE 
    END-POINT  58257.898          64254.977          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58257.898          64254.977          11340.547  0.5  SC MALE 
    END-POINT  58257.898          64254.977          11343.547  0.5  SC MALE 
    CENTRE-POINT  58257.898  64254.977  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKW                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58257.898  64254.977  11343.047 
    TEXT TO 1217017$MANIFOLD # 06$VALVE # 008
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58257.898          64254.977          11343.547 
PIPE
    END-POINT  58257.188          64254.977          11334.012  1.5  SC MALE 
    END-POINT  58252.108          64254.978          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKY                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58252.108          64254.978          11334.012  1.5  SC MALE 
    END-POINT  58252.108          64254.978          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MKZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58250.688          64254.978          11334.012  1.5  SC FEMALE 
    END-POINT  58252.108          64254.978          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58251.398          64254.978          11334.012 
    BRANCH1-POINT  58251.398          64254.978          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ML0                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58250.688          64254.978          11334.012  1.5  SC FEMALE 
    END-POINT  58250.688          64254.978          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ML1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58251.398          64254.978          11335.242  0.5  SC FEMALE 
    END-POINT  58251.398          64254.978          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ML2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58251.398          64254.978          11335.242  0.5  SC MALE 
    END-POINT  58251.398          64254.978          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ML3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58251.398          64254.978          11339.102  0.5  SC MALE 
    END-POINT  58251.398          64254.978          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ML4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58251.398          64254.978          11339.102  0.5  SC FEMALE 
    END-POINT  58251.398          64254.978          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58251.398          64254.978          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ML5                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58251.398          64254.978          11340.547  0.5  SC FEMALE 
    END-POINT  58251.398          64254.978          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ML7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58251.398          64254.978          11340.547  0.5  SC MALE 
    END-POINT  58251.398          64254.978          11343.547  0.5  SC MALE 
    CENTRE-POINT  58251.398  64254.978  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ML8                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58251.398  64254.978  11343.047 
    TEXT TO 1217018$MANIFOLD # 06$VALVE # 009
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58251.398          64254.978          11343.547 
PIPE
    END-POINT  58250.688          64254.978          11334.012  1.5  SC MALE 
    END-POINT  58245.608          64254.979          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58245.608          64254.979          11334.012  1.5  SC MALE 
    END-POINT  58245.608          64254.979          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58244.188          64254.979          11334.012  1.5  SC FEMALE 
    END-POINT  58245.608          64254.979          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58244.898          64254.979          11334.012 
    BRANCH1-POINT  58244.898          64254.979          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLC                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58244.188          64254.979          11334.012  1.5  SC FEMALE 
    END-POINT  58244.188          64254.979          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58244.898          64254.979          11335.242  0.5  SC FEMALE 
    END-POINT  58244.898          64254.979          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58244.898          64254.979          11335.242  0.5  SC MALE 
    END-POINT  58244.898          64254.979          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58244.898          64254.979          11339.102  0.5  SC MALE 
    END-POINT  58244.898          64254.979          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58244.898          64254.979          11339.102  0.5  SC FEMALE 
    END-POINT  58244.898          64254.979          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58244.898          64254.979          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLH                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58244.898          64254.979          11340.547  0.5  SC FEMALE 
    END-POINT  58244.898          64254.979          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58244.898          64254.979          11340.547  0.5  SC MALE 
    END-POINT  58244.898          64254.979          11343.547  0.5  SC MALE 
    CENTRE-POINT  58244.898  64254.979  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLK                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58244.898  64254.979  11343.047 
    TEXT TO 1218011$MANIFOLD # 06$VALVE # 010
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58244.898          64254.979          11343.547 
PIPE
    END-POINT  58244.188          64254.979          11334.012  1.5  SC MALE 
    END-POINT  58239.108          64254.980          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58239.108          64254.980          11334.012  1.5  SC MALE 
    END-POINT  58239.108          64254.979          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58237.688          64254.980          11334.012  1.5  SC FEMALE 
    END-POINT  58239.108          64254.979          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58238.398          64254.980          11334.012 
    BRANCH1-POINT  58238.398          64254.980          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58237.688          64254.980          11334.012  1.5  SC FEMALE 
    END-POINT  58237.688          64254.980          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58238.398          64254.980          11335.242  0.5  SC FEMALE 
    END-POINT  58238.398          64254.980          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58238.398          64254.980          11335.242  0.5  SC MALE 
    END-POINT  58238.398          64254.980          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLR                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58238.398          64254.980          11339.102  0.5  SC MALE 
    END-POINT  58238.398          64254.980          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58238.398          64254.980          11339.102  0.5  SC FEMALE 
    END-POINT  58238.398          64254.980          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58238.398          64254.980          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLT                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58238.398          64254.980          11340.547  0.5  SC FEMALE 
    END-POINT  58238.398          64254.980          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58238.398          64254.980          11340.547  0.5  SC MALE 
    END-POINT  58238.398          64254.980          11342.547  0.5  SC MALE 
    CENTRE-POINT  58238.398  64254.980  11341.547 
    SKEY NCSC
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLW                 
    TAG TO SPARE                        
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58238.398  64254.980  11342.047 
    TEXT SPARE
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58238.398          64254.980          11342.547 
PIPE
    END-POINT  58237.688          64254.980          11334.012  1.5  SC MALE 
    END-POINT  58229.038          64254.981          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MLY                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58233.055  64254.980  11334.012 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58229.038          64254.981          11334.012  1.5  SC MALE 
    END-POINT  58229.038          64254.981          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.798          64254.981          11335.252  1.5  SC FEMALE 
    END-POINT  58227.798          64254.981          11332.772  1.5  SC FEMALE 
    CENTRE-POINT   58227.798          64254.981          11334.012 
    BRANCH1-POINT  58229.038          64254.981          11334.012  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.798          64254.981          11335.252  1.5  SC FEMALE 
    END-POINT  58227.798          64254.981          11335.252  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.798          64254.981          11332.772  1.5  SC FEMALE 
    END-POINT  58227.798          64254.981          11332.772  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.798          64254.981          11332.772  1.5  SC MALE 
    END-POINT  58227.798          64254.981          11311.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM4                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58227.798  64254.981  11324.932 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58227.798          64254.981          11311.252  1.5  SC MALE 
    END-POINT  58227.798          64254.981          11311.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58227.798          64254.981          11311.252  1.5  SC FEMALE 
    END-POINT  58229.038          64254.981          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.798          64254.981          11310.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58229.038          64254.981          11310.012  1.5  SC FEMALE 
    END-POINT  58229.038          64254.981          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58234.438          64254.980          11310.012  1.5  SC MALE 
    END-POINT  58229.038          64254.981          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MM9                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58231.738  64254.980  11310.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMA                 
PIPE
    END-POINT  58227.798          64254.981          11383.772  1.5  SC MALE 
    END-POINT  58227.798          64254.981          11335.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.798          64254.981          11383.772  1.5  SC MALE 
    END-POINT  58227.798          64254.981          11383.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58227.798          64253.741          11385.012  1.5  SC FEMALE 
    END-POINT  58227.798          64254.981          11383.772  1.5  SC FEMALE 
    CENTRE-POINT   58227.798          64254.981          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.798          64253.741          11385.012  1.5  SC FEMALE 
    END-POINT  58227.798          64253.741          11385.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MME                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.798          64253.741          11385.012  1.5  SC MALE 
    END-POINT  58227.798          64226.040          11385.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMF                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58227.798  64232.972  11385.012 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58227.798          64226.040          11385.012  1.5  SC MALE 
    END-POINT  58227.798          64226.040          11385.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58226.558          64224.800          11385.012  1.5  SC FEMALE 
    END-POINT  58227.798          64226.040          11385.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.798          64224.800          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58226.558          64224.800          11385.012  1.5  SC FEMALE 
    END-POINT  58226.558          64224.800          11385.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58141.279          64224.800          11385.012  1.5  SC MALE 
    END-POINT  58226.558          64224.800          11385.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMK                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.902  64224.800  11385.012  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MML                 
SUPPORT
    CO-ORDS  58217.831  64224.800  11385.012  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMM                 
SCREWED-WELD
    END-POINT  58141.279          64224.800          11385.012  1.5  SC MALE 
    END-POINT  58141.279          64224.800          11385.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58141.279          64224.800          11385.012  1.5  SC FEMALE 
    END-POINT  58140.039          64224.800          11386.252  1.5  SC FEMALE 
    CENTRE-POINT   58140.039          64224.800          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.039  64224.800  11385.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64224.800  11385.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58140.039          64224.800          11386.252  1.5  SC FEMALE 
    END-POINT  58140.039          64224.800          11386.252  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58140.039          64224.800          11433.678  1.5  SC MALE 
    END-POINT  58140.039          64224.800          11386.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMR                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58140.039          64224.800          11433.678  1.5  SC MALE 
    END-POINT  58140.039          64224.800          11433.678  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58140.039          64224.800          11433.678  1.5  SC FEMALE 
    END-POINT  58138.799          64224.800          11434.918  1.5  SC FEMALE 
    CENTRE-POINT   58140.039          64224.800          11434.918 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMT                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.039  64224.800  11458.918 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58140.039  64138.800  11458.918 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58138.799          64224.800          11434.918  1.5  SC FEMALE 
    END-POINT  58138.799          64224.800          11434.918  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58122.790          64224.800          11434.918  1.5  SC MALE 
    END-POINT  58138.799          64224.800          11434.918  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMW                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58131.064  64224.800  11434.918 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58122.790          64224.800          11434.918  1.5  SC MALE 
    END-POINT  58122.790          64224.800          11434.918  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58122.790          64224.800          11434.918  1.5  SC FEMALE 
    END-POINT  58121.550          64224.800          11436.158  1.5  SC FEMALE 
    CENTRE-POINT   58121.550          64224.800          11434.918 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MMZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58121.550          64224.800          11436.158  1.5  SC FEMALE 
    END-POINT  58121.550          64224.800          11436.158  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MN0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          64224.800          11436.158  1.5  SC MALE 
    END-POINT  58121.550          64224.800          11441.506  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MN1                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          64224.800          11441.506  1.5  SC MALE 
    END-POINT  58121.550          64224.800          11441.506  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MN2                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58121.550          64224.800          11441.506  1.5  SC FEMALE 
    END-POINT  58121.550          64224.800          11442.986  1.5  SC FEMALE 
    CENTRE-POINT   58121.550          64224.800          11442.246 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MN3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58121.550          64224.800          11442.986  1.5  SC FEMALE 
    END-POINT  58121.550          64224.800          11442.986  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MN5                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          64224.800          11442.986  1.5  SC MALE 
    END-POINT  58121.550          64224.800          11448.322  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MN6                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          64224.800          11448.322  1.5  SC FEMALE 
    END-POINT  58121.550          64224.800          11448.322  1.5  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HXL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58121.550  64224.800  11450.759 
    BRANCH1-POINT  58121.550          64224.800          11448.322  1.5  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H5M                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550  64224.800  11450.759 
    PIPELINE-REFERENCE ISO-PY3-2046011
MISC-COMPONENT
    END-POINT  58282.868          64254.974          11334.012  1.5  SC MALE 
    END-POINT  58284.298          64254.974          11334.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MN8                 
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58282.868          64254.974          11310.012  1.5  SC MALE 
    END-POINT  58284.298          64254.974          11310.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MN9                 
    PIPING-SPEC C1
    INSULATION-ON 
MATERIALS
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE TEERED1+1/2X1+1/2X1/
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE GENSTR1/2
    DESCRIPTION PIPE TO TUBING ADAPTOR
    RATING 2000LB
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE PLGHEX1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=2'-6", P622 FIG 1
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, L=1'-1/16", P624 FIG 4
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION PROTECTION SADDLE, P651 FIG 2
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
