ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213019
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1213019-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 S. GIBSON
    ATTRIBUTE22 4/14/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 4/21/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/21/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/21/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/21/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL  ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/16/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 DC
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58275.735          64167.367          11478.563  1  PL
    END-POINT  58275.735          64167.367          11482.063  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OV0                 
    PIPING-SPEC S1
MESSAGE
    CO-ORDS  58275.735  64167.367  11482.063 
    TEXT CONTINUOUS BLEED IN
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58275.735          64167.367          11478.563  1
    END-POINT  58275.735          64167.367          11478.563  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OV1                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58275.735          64167.367          11482.063 
VALVE
    END-POINT  58275.735          64167.367          11475.813  1  SW FEMALE 
    END-POINT  58275.735          64167.367          11478.563  1  SW FEMALE 
    CENTRE-POINT   58275.735          64167.367          11477.188 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           6.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUW                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58275.735          64167.367          11475.813  1  SW FEMALE 
    END-POINT  58275.735          64167.367          11475.813  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUX                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58275.735          64167.367          11472.313  1  BW
    END-POINT  58275.735          64167.367          11475.813  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUU                 
    PIPING-SPEC S1
WELD
    END-POINT  58275.735          64167.367          11472.313  1
    END-POINT  58275.735          64167.367          11472.313  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      58275.735  64167.367  11469.000 
    BRANCH1-POINT  58275.735          64167.367          11472.313  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUR                 
    PIPING-SPEC S1
WELD
    END-POINT  58275.735  64167.367  11469.000  4
    END-POINT  58275.735  64167.367  11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58267.399          64167.375          11469.000  4  PL
    END-POINT  58279.739          64167.359          11469.000  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUM                 
    PIPING-SPEC S1
WELD
    END-POINT  58267.399          64167.375          11469.000  4
    END-POINT  58267.399          64167.375          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58267.399          64167.375          11469.000  4
    END-POINT  58267.399          64167.375          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58279.739          64167.359          11469.000  4
    END-POINT  58279.739          64167.359          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58279.739          64167.359          11469.000  4
    END-POINT  58279.739          64167.359          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58280.038          64167.359          11469.000  4  FL
    END-POINT  58279.739          64167.359          11469.000  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OU5                 
    PIPING-SPEC S1
GASKET
    END-POINT  58280.163          64167.359          11469.000  4
    END-POINT  58280.038          64167.359          11469.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OV5                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58280.038          64167.359          11469.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OV6                 
INSTRUMENT
    END-POINT  58289.163          64167.359          11469.000  4  FL
    END-POINT  58280.163          64167.359          11469.000  4  FL
    CENTRE-POINT   58284.663          64167.359          11469.000 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OU2                 
    TAG FV$003$16                       
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58289.288          64167.359          11469.000  4
    END-POINT  58289.163          64167.359          11469.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OV3                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58289.163          64167.359          11469.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OV4                 
FLANGE
    END-POINT  58289.288          64167.359          11469.000  4  FL
    END-POINT  58289.588          64167.359          11469.000  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OP2                 
    PIPING-SPEC S1
WELD
    END-POINT  58289.588          64167.359          11469.000  4
    END-POINT  58289.588          64167.359          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQ9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58289.588          64167.359          11469.000  4
    END-POINT  58289.588          64167.359          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58295.606          64167.359          11469.000  4  BW
    END-POINT  58289.588          64167.359          11469.000  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQ7                 
    PIPING-SPEC S1
WELD
    END-POINT  58295.606          64167.359          11469.000  4
    END-POINT  58295.606          64167.359          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQ8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58301.606          64161.359          11469.000  4  BW
    END-POINT  58295.606          64167.359          11469.000  4  BW
    CENTRE-POINT   58301.606          64167.359          11469.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OPN                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58301.606  64167.359  11469.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64167.359  11469.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58301.606  64167.359  11469.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58301.606  64138.748  11469.000 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58301.606          64161.359          11469.000  4
    END-POINT  58301.606          64161.359          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58301.612          64136.341          11469.000  4  BW
    END-POINT  58301.606          64161.359          11469.000  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQ2                 
    PIPING-SPEC S1
WELD
    END-POINT  58301.612          64136.341          11469.000  4
    END-POINT  58301.612          64136.341          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OWX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58301.606  64139.258  11469.000  4
    END-POINT  58301.606  64139.258  11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQX                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      58301.606  64139.258  11469.000 
    BRANCH1-POINT  58301.606          64139.258          11472.000  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQV                 
    PIPING-SPEC S1
WELD
    END-POINT  58301.606          64139.258          11472.000  0.5
    END-POINT  58301.606          64139.258          11472.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OQY                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58301.606          64139.258          11472.000  0.5  BW
    END-POINT  58301.606          64139.258          11475.410  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K41                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58301.606          64139.258          11475.410  0.5  SW FEMALE 
    END-POINT  58301.606          64139.258          11475.410  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K40                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58301.606          64139.258          11475.410  0.5  SW FEMALE 
    END-POINT  58301.606          64139.258          11477.090  0.5  SW FEMALE 
    CENTRE-POINT   58301.606          64139.258          11476.295 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K3X                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58301.606          64139.258          11477.090  0.5
    END-POINT  58301.606          64139.258          11477.090  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58301.606          64139.258          11477.090  0.5  PL
    END-POINT  58301.606          64139.258          11480.090  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P8U                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58301.606  64139.258  11479.590 
    TEXT PI$003$15
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58301.606          64139.258          11480.090 
ELBOW
    END-POINT  58301.612          64130.341          11463.000  4  BW
    END-POINT  58301.612          64136.341          11469.000  4  BW
    CENTRE-POINT   58301.612          64130.341          11469.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OWS                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58301.612          64130.341          11463.000  4
    END-POINT  58301.612          64130.341          11463.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OWV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58301.612          64130.341          11463.000  4  BW
    END-POINT  58301.612          64130.341          11390.943  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OWU                 
    PIPING-SPEC S1
FLOOR-SYMBOL 
    CO-ORDS  58301.612  64130.341  11396.436 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58301.612  64130.341  11396.436 
    TEXT Floor Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58301.612  64130.341  11399.989  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OX0                 
WELD
    END-POINT  58301.612          64130.341          11390.943  4
    END-POINT  58301.612          64130.341          11390.943  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58301.298          64129.570          11387.884  4  BW
    END-POINT  58301.612          64130.341          11390.943  4  BW
    CENTRE-POINT   58301.612          64130.341          11389.300 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7A                 
    PIPING-SPEC S1
    ANGLE 3046
WELD
    END-POINT  58301.298          64129.570          11387.884  4
    END-POINT  58301.298          64129.570          11387.884  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58301.298          64129.570          11387.884  4  BW
    END-POINT  58300.671          64128.032          11385.060  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7B                 
    PIPING-SPEC S1
WELD
    END-POINT  58300.671          64128.032          11385.060  4
    END-POINT  58300.671          64128.032          11385.060  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58300.356          64127.260          11382.000  4  BW
    END-POINT  58300.671          64128.032          11385.060  4  BW
    CENTRE-POINT   58300.356          64127.260          11383.643 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P79                 
    PIPING-SPEC S1
    ANGLE 3046
WELD
    END-POINT  58300.356          64127.260          11382.000  4
    END-POINT  58300.356          64127.260          11382.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P7E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58300.356          64127.260          11379.000  4  FL
    END-POINT  58300.356          64127.260          11382.000  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K5I                 
    PIPING-SPEC S1
GASKET
    END-POINT  58300.356          64127.260          11379.000  4
    END-POINT  58300.356          64127.260          11378.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P75                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58300.356          64127.260          11379.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P76                 
END-POSITION-OPEN 
    CO-ORDS  58300.356          64127.260          11378.875 
FLANGE
    END-POINT  58267.099          64167.375          11469.000  4  FL
    END-POINT  58267.399          64167.375          11469.000  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OOL                 
    PIPING-SPEC S1
GASKET
    END-POINT  58267.099          64167.375          11469.000  4
    END-POINT  58266.974          64167.375          11469.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OOM                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58267.099          64167.375          11469.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OON                 
VALVE
    END-POINT  58264.849          64167.375          11469.000  4  FL
    END-POINT  58266.974          64167.375          11469.000  4  FL
    CENTRE-POINT   58265.912          64167.375          11469.000 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OOF                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58264.849          64167.375          11469.000  4
    END-POINT  58264.724          64167.375          11469.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OOG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58264.849          64167.375          11469.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OOH                 
FLANGE
    END-POINT  58264.724          64167.375          11469.000  4  FL
    END-POINT  58264.425          64167.375          11469.000  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OO5                 
    PIPING-SPEC S1
WELD
    END-POINT  58264.425          64167.375          11469.000  4
    END-POINT  58264.425          64167.375          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OO6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58264.425          64167.375          11469.000  4
    END-POINT  58264.425          64167.375          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OO7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58252.425          64167.375          11469.000  4  PL
    END-POINT  58264.425          64167.375          11469.000  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OO2                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58259.096  64167.375  11469.000  4
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OVQ                 
WELD
    END-POINT  58252.425          64167.375          11469.000  4
    END-POINT  58252.425          64167.375          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OO3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58252.425          64167.375          11469.000  4
    END-POINT  58252.425          64167.375          11469.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OO4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58252.125          64167.375          11469.000  4  FL
    END-POINT  58252.425          64167.375          11469.000  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ONX                 
    PIPING-SPEC S1
GASKET
    END-POINT  58252.125          64167.375          11469.000  4
    END-POINT  58252.000          64167.375          11469.000  4
    ERECTION-ITEM
    ITEM-CODE GAS4_2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUI                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58252.125          64167.375          11469.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OUJ                 
END-POSITION-OPEN 
    CO-ORDS  58252.000          64167.375          11469.000 
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 200LB, GL-01-ST-302
    RATING 200LB
ITEM-CODE WOL4X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A182 Gr F304L, MSS SP-97
    RATING 10S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE , 150LB, RF, FV-003-16
    RATING 150LB
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE WOL4X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE SUPRH-4
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE 45LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 30.46
    RATING 10S
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4_1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 3/4 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-501
    RATING 150LB
ITEM-CODE BOLTLUG4_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE SUPUB-4
    DESCRIPTION P629 FIG 9, W/ U BOLT SUPPORT, P648 FIG2, L= 1'-0 7/16"
ITEM-CODE FLGSLP4_1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4_2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, 150LB, FF, 0.125" THK, RED RUBBER, JOHN CRANE STYLE 555 or APPRVD EQ, ANSI B16.21
    RATING 150LB
