ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223022
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1223022-AN-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 MH
    ATTRIBUTE22 11/11/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 12/16/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 12/16/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/5/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/5/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/5/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 MH
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 IFC
    ATTRIBUTE40 1
    ATTRIBUTE41 2/9/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/2/2009
    ATTRIBUTE48 D. ORR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
ELBOW
    END-POINT  58285.753          64097.987          11969.803  2  BW
    END-POINT  58285.753          64100.987          11966.803  2  BW
    CENTRE-POINT   58285.753          64100.987          11969.803 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TP                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58285.753  64100.987  11969.803 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64100.987  11969.803 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58285.753  64100.987  11969.803 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58285.753  64138.748  11969.803 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58285.753          64097.987          11969.803  2
    END-POINT  58285.753          64097.987          11969.803  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58285.753          64100.987          11966.803 
ELBOW
    END-POINT  58285.753          64094.987          11966.803  2  BW
    END-POINT  58285.753          64097.987          11969.803  2  BW
    CENTRE-POINT   58285.753          64094.987          11969.803 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TM                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58285.753          64094.987          11966.803  2
    END-POINT  58285.753          64094.987          11966.803  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58285.753          64094.987          11964.303  2  FL
    END-POINT  58285.753          64094.987          11966.803  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TJ                 
    PIPING-SPEC S1
GASKET
    END-POINT  58285.753          64094.987          11964.303  2
    END-POINT  58285.753          64094.987          11964.178  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TK                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58285.753          64094.987          11964.303 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TL                 
MISC-COMPONENT
    END-POINT  58285.753          64094.987          11962.490  2  FL
    END-POINT  58285.753          64094.987          11964.178  2  FL
    CENTRE-POINT  58285.753  64094.987  11963.334 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TF                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58285.753  64094.987  11962.490 
    TEXT PSE$013$03
    UNDIMENSIONED
GASKET
    END-POINT  58285.753          64094.987          11962.490  2
    END-POINT  58285.753          64094.987          11962.365  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TG                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58285.753          64094.987          11962.490 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TH                 
FLANGE
    END-POINT  58285.753          64094.987          11962.365  2  FL
    END-POINT  58285.753          64094.987          11959.865  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_7TD                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58285.753          64094.987          11959.865 
    PIPELINE-REFERENCE ISO-PY3-1223001
MATERIALS
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR2
    DESCRIPTION RUPTURE DISK, PSE-013-03
    RATING 150LB
