ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216026
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216026-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 C. PUCKETT
    ATTRIBUTE22 6/15/2009
    ATTRIBUTE25 BJL
    ATTRIBUTE26 6/15/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 6/15/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 6/15/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 6/15/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 CP
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 12/17/2012
    ATTRIBUTE42 CP
    ATTRIBUTE43 DK
    ATTRIBUTE44 DK
    ATTRIBUTE45 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
SUPPORT
    CO-ORDS  58166.678  64097.069  11988.383 
** Unable to determine support size **

    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IBT                 
MATERIALS
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLD ANCHOR, P627 FIG 1
