ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221012
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1221012-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-021
    ATTRIBUTE21 SG
    ATTRIBUTE22 9/25/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/12/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 11/21/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SG
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 9/14/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 KC
    ATTRIBUTE62 DD
    ATTRIBUTE63 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57847.815          63938.473          11310.815  0.5  PL
    END-POINT  57847.815          63935.473          11310.815  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6N                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57847.815  63935.973  11310.815 
    TEXT PI$046$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57847.815          63938.473          11310.815  0.5
    END-POINT  57847.815          63938.473          11310.815  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57847.815          63935.473          11310.815 
VALVE
    END-POINT  57847.815          63940.153          11310.815  0.5  SW FEMALE 
    END-POINT  57847.815          63938.473          11310.815  0.5  SW FEMALE 
    CENTRE-POINT   57847.815          63939.268          11310.815 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5O9                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57847.815          63940.153          11310.815  0.5  SW FEMALE 
    END-POINT  57847.815          63940.153          11310.815  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5OA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57847.815          63943.563          11310.815  0.5  BW
    END-POINT  57847.815          63940.153          11310.815  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5O7                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57847.815          63943.563          11310.815  0.5
    END-POINT  57847.815          63943.563          11310.815  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5O8                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57847.815          63945.813          11308.565  1.5  BW
    END-POINT  57847.815          63945.813          11313.065  1.5  BW
    CENTRE-POINT   57847.815          63945.813          11310.815 
    BRANCH1-POINT  57847.815          63943.563          11310.815  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4QE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57847.815          63945.813          11308.565  1.5
    END-POINT  57847.815          63945.813          11308.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_886                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57847.815          63945.813          11313.065  1.5
    END-POINT  57847.815          63945.813          11313.065  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4RE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57847.815          63945.813          11313.065  1.5  BW
    END-POINT  57849.406          63947.404          11315.315  1.5  BW
    CENTRE-POINT   57847.815          63945.813          11315.315 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4QR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57849.406          63947.404          11315.315  1.5
    END-POINT  57849.406          63947.404          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57849.406          63947.404          11315.315  1.5  BW
    END-POINT  57851.528          63949.525          11315.315  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55F                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57851.528          63949.525          11315.315  1.5
    END-POINT  57851.528          63949.525          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57851.528          63949.525          11315.315  1.5
    END-POINT  57851.528          63949.525          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57851.674          63949.672          11315.315  1.5  FL
    END-POINT  57851.528          63949.525          11315.315  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55H                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57851.763          63949.761          11315.315  1.5
    END-POINT  57851.674          63949.672          11315.315  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55L                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57851.763          63949.761          11315.315 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55M                 
VALVE
    END-POINT  57851.763          63949.761          11315.315  1.5  FL
    END-POINT  57856.359          63954.357          11315.315  1.5  FL
    CENTRE-POINT   57854.061          63952.059          11315.315 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT          14.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55K                 
    PIPING-SPEC S1
GASKET
    END-POINT  57856.447          63954.445          11315.315  1.5
    END-POINT  57856.359          63954.357          11315.315  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55O                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57856.447          63954.445          11315.315 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55P                 
FLANGE
    END-POINT  57856.447          63954.445          11315.315  1.5  FL
    END-POINT  57856.594          63954.592          11315.315  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55N                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57856.594          63954.592          11315.315  1.5
    END-POINT  57856.594          63954.592          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_57T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57856.594          63954.592          11315.315  1.5
    END-POINT  57856.594          63954.592          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_57U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57860.837          63958.834          11315.315  1.5  BW
    END-POINT  57856.594          63954.592          11315.315  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_57R                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57860.837          63958.834          11315.315  1.5
    END-POINT  57860.837          63958.834          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C92                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57860.837          63958.834          11315.315  1.5  BW
    END-POINT  57862.428          63960.425          11317.565  1.5  BW
    CENTRE-POINT   57862.428          63960.425          11315.315 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55T                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57862.428  63960.425  11315.315  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88P                 
WELD
    END-POINT  57862.428          63960.425          11317.565  1.5
    END-POINT  57862.428          63960.425          11317.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_888                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57862.428          63960.425          11317.565  1.5  BW
    END-POINT  57862.428          63960.425          11321.565  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_887                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          63960.425          11321.565  1.5
    END-POINT  57862.428          63960.425          11321.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57862.428          63960.425          11321.565  1.5
    END-POINT  57862.428          63960.425          11321.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57862.428          63960.425          11321.772  1.5  FL
    END-POINT  57862.428          63960.425          11321.565  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_889                 
    PIPING-SPEC S1
GASKET
    END-POINT  57862.428          63960.425          11321.897  1.5
    END-POINT  57862.428          63960.425          11321.772  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88D                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57862.428          63960.425          11321.897 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88E                 
VALVE
    END-POINT  57862.428          63960.425          11321.897  1.5  FL
    END-POINT  57862.428          63960.425          11328.397  1.5  FL
    CENTRE-POINT   57862.428          63960.425          11325.147 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88C                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57862.428          63960.425          11328.522  1.5
    END-POINT  57862.428          63960.425          11328.397  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88I                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57862.428          63960.425          11328.522 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88J                 
FLANGE
    END-POINT  57862.428          63960.425          11328.522  1.5  FL
    END-POINT  57862.428          63960.425          11328.730  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88H                 
    PIPING-SPEC S1
WELD
    END-POINT  57862.428          63960.425          11328.730  1.5
    END-POINT  57862.428          63960.425          11328.730  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          63960.425          11328.730  1.5
    END-POINT  57862.428          63960.425          11328.730  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57862.428          63960.425          11328.730  1.5  PL
    END-POINT  57862.428          63960.425          11378.723  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_56U                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57862.428  63960.425  11361.815 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57862.428          63960.425          11378.723  1.5
    END-POINT  57862.428          63960.425          11378.723  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_56X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57862.428          63962.675          11380.973  1.5  BW
    END-POINT  57862.428          63960.425          11378.723  1.5  BW
    CENTRE-POINT   57862.428          63960.425          11380.973 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57862.428          63962.675          11380.973  1.5
    END-POINT  57862.428          63962.675          11380.973  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_561                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57862.428          63962.675          11380.973  1.5  BW
    END-POINT  57862.428          63991.175          11380.973  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_560                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          63991.175          11380.973  1.5
    END-POINT  57862.428          63991.175          11380.973  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_562                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57862.428          63995.675          11380.973  1.5  BW
    END-POINT  57862.428          63991.175          11380.973  1.5  BW
    CENTRE-POINT   57862.428          63993.425          11380.973 
    BRANCH1-POINT  57862.428          63993.425          11378.723  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57862.428          63995.675          11380.973  1.5
    END-POINT  57862.428          63995.675          11380.973  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_59B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          63993.425          11378.723  1.5
    END-POINT  57862.428          63993.425          11378.723  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9U6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57862.428          63993.425          11378.723  1.5  BW
    END-POINT  57862.428          63993.425          11328.730  1.5  PL
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9U5                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57862.428  63993.425  11360.598 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  57862.428          63993.425          11328.730 
    PIPELINE-REFERENCE ISO-PY3-1221013
PIPE
    END-POINT  57862.428          64003.186          11380.973  1.5  BW
    END-POINT  57862.428          63995.675          11380.973  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_599                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          64003.186          11380.973  1.5
    END-POINT  57862.428          64003.186          11380.973  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8D9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57862.428          64005.436          11383.223  1.5  BW
    END-POINT  57862.428          64003.186          11380.973  1.5  BW
    CENTRE-POINT   57862.428          64005.436          11380.973 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8D6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57862.428          64005.436          11383.223  1.5
    END-POINT  57862.428          64005.436          11383.223  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8D8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57862.428          64005.436          11393.723  1.5  BW
    END-POINT  57862.428          64005.436          11383.223  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5FR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          64005.436          11393.723  1.5
    END-POINT  57862.428          64005.436          11393.723  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5FS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57864.678          64005.436          11395.973  1.5  BW
    END-POINT  57862.428          64005.436          11393.723  1.5  BW
    CENTRE-POINT   57862.428          64005.436          11395.973 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_596                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57862.428  64005.436  11395.973 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64005.436  11395.973 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57862.428  64005.436  11395.973 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57862.428  63898.800  11395.973 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57864.678          64005.436          11395.973  1.5
    END-POINT  57864.678          64005.436          11395.973  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5FU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57864.678          64005.436          11395.973  1.5  BW
    END-POINT  58104.311          64005.436          11395.973  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_597                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57898.037  64005.436  11395.973 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57943.768  64005.436  11395.973  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9F2                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58056.648  64005.436  11395.973  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9F4                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  58104.311          64005.436          11395.973  1.5
    END-POINT  58104.311          64005.436          11395.973  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58104.311          64005.436          11395.973  1.5  BW
    END-POINT  58106.561          64005.436          11398.223  1.5  BW
    CENTRE-POINT   58106.561          64005.436          11395.973 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58106.561          64005.436          11398.223  1.5
    END-POINT  58106.561          64005.436          11398.223  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58106.561          64005.436          11398.223  1.5  BW
    END-POINT  58106.561          64005.433          11411.757  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FM                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58106.561          64005.433          11411.757  1.5
    END-POINT  58106.561          64005.433          11411.757  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58106.561          64005.433          11411.757  1.5  BW
    END-POINT  58106.561          64007.683          11414.007  1.5  BW
    CENTRE-POINT   58106.561          64005.433          11414.007 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_59F                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58106.561          64007.683          11414.007  1.5
    END-POINT  58106.561          64007.683          11414.007  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9F7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58106.531          64329.203          11414.007  1.5  BW
    END-POINT  58106.561          64007.683          11414.007  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_59Y                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58106.558  64044.082  11414.007  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FB                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58106.550  64140.527  11414.007  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FD                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58106.539  64236.683  11414.007  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FF                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  58106.531          64329.203          11414.007  1.5
    END-POINT  58106.531          64329.203          11414.007  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_59Z                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58106.531          64329.203          11414.007  1.5  BW
    END-POINT  58106.531          64331.453          11416.257  1.5  BW
    CENTRE-POINT   58106.531          64331.453          11414.007 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_59S                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58106.531          64331.453          11416.257  1.5
    END-POINT  58106.531          64331.453          11416.257  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58106.531          64331.453          11423.757  1.5  BW
    END-POINT  58106.531          64331.453          11416.257  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58106.531          64331.453          11423.757  1.5
    END-POINT  58106.531          64331.453          11423.757  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58108.781          64331.453          11426.007  1.5  BW
    END-POINT  58106.531          64331.453          11423.757  1.5  BW
    CENTRE-POINT   58106.531          64331.453          11426.007 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FP                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58108.781          64331.453          11426.007  1.5
    END-POINT  58108.781          64331.453          11426.007  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58183.812          64331.453          11426.007  1.5  BW
    END-POINT  58108.781          64331.453          11426.007  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AG                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58136.127  64331.453  11426.007 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58153.789  64331.453  11426.007  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FH                 
    TAG                         P624 FIG.4                      
WELD
    END-POINT  58183.812          64331.453          11426.007  1.5
    END-POINT  58183.812          64331.453          11426.007  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58186.062          64331.453          11428.257  1.5  BW
    END-POINT  58183.812          64331.453          11426.007  1.5  BW
    CENTRE-POINT   58186.062          64331.453          11426.007 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58186.062          64331.453          11428.257  1.5
    END-POINT  58186.062          64331.453          11428.257  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58186.062          64331.453          11428.257  1.5  BW
    END-POINT  58186.062          64331.453          11450.757  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58186.062          64331.453          11450.757  1.5
    END-POINT  58186.062          64331.453          11450.757  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58186.062          64331.453          11450.757  1.5  BW
    END-POINT  58186.062          64333.703          11453.007  1.5  BW
    CENTRE-POINT   58186.062          64331.453          11453.007 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AB                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58186.062          64333.703          11453.007  1.5
    END-POINT  58186.062          64333.703          11453.007  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58186.062          64365.203          11453.007  1.5  BW
    END-POINT  58186.062          64333.703          11453.007  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AN                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58186.062          64365.203          11453.007  1.5
    END-POINT  58186.062          64365.203          11453.007  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58186.062          64365.203          11453.007  1.5  BW
    END-POINT  58186.062          64367.453          11455.257  1.5  BW
    CENTRE-POINT   58186.062          64367.453          11453.007 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58186.062  64367.453  11453.007 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64367.453  11453.007 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58186.062  64367.453  11453.007 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58186.062  64378.800  11453.007 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58186.062          64367.453          11455.257  1.5
    END-POINT  58186.062          64367.453          11455.257  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58186.062          64367.453          11455.257  1.5  BW
    END-POINT  58186.062          64367.453          11899.329  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AS                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58186.062  64367.453  11505.411 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58186.062  64367.453  11763.086  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5PF                 
SUPPORT
    CO-ORDS  58186.062  64367.453  11783.754  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9FV                 
    TAG                         P615, FIG. 2                    
MESSAGE
    CO-ORDS  58186.062  64367.453  11782.751 
    TEXT FLOOR PENETRATION
FLOOR-SYMBOL 
    CO-ORDS  58186.062  64367.453  11567.041 
    SKEY FLOR
MESSAGE
    CO-ORDS  58186.062  64367.453  11567.041 
    TEXT FLOOR PENETRATION
WELD
    END-POINT  58186.062          64367.453          11899.329  1.5
    END-POINT  58186.062          64367.453          11899.329  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58186.858          64367.453          11901.250  1.5  BW
    END-POINT  58186.062          64367.453          11899.329  1.5  BW
    CENTRE-POINT   58186.062          64367.453          11900.454 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58186.858          64367.453          11901.250  1.5
    END-POINT  58186.858          64367.453          11901.250  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58186.858          64367.453          11901.250  1.5  BW
    END-POINT  58190.294          64367.453          11904.686  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AV                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58190.294          64367.453          11904.686  1.5
    END-POINT  58190.294          64367.453          11904.686  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58192.214          64367.453          11905.481  1.5  BW
    END-POINT  58190.294          64367.453          11904.686  1.5  BW
    CENTRE-POINT   58191.089          64367.453          11905.481 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5AR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58192.214          64367.453          11905.481  1.5
    END-POINT  58192.214          64367.453          11905.481  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5BJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58192.214          64367.453          11905.481  1.5  BW
    END-POINT  58221.675          64367.453          11905.481  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5BI                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58201.756  64367.453  11905.481 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58221.675          64367.453          11905.481  1.5
    END-POINT  58221.675          64367.453          11905.481  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58221.675          64367.453          11905.481  1.5  BW
    END-POINT  58223.925          64367.453          11907.731  1.5  BW
    CENTRE-POINT   58223.925          64367.453          11905.481 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5BH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58223.925          64367.453          11907.731  1.5
    END-POINT  58223.925          64367.453          11907.731  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58223.925          64367.453          11949.388  1.5  BW
    END-POINT  58223.925          64367.453          11907.731  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89C                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58223.925  64367.453  11926.748 
    SKEY FLOR
MESSAGE
    CO-ORDS  58223.925  64367.453  11926.748 
    TEXT FLOOR PENETRATION
SUPPORT
    CO-ORDS  58223.925  64367.453  11926.744  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9G1                 
    TAG                         P615, FIG. 2                    
WELD
    END-POINT  58223.925          64367.453          11949.388  1.5
    END-POINT  58223.925          64367.453          11949.388  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58223.925          64367.453          11953.888  1.5  BW
    END-POINT  58223.925          64367.453          11949.388  1.5  BW
    CENTRE-POINT   58223.925          64367.453          11951.638 
    BRANCH1-POINT  58223.925          64365.203          11951.638  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1
    WEIGHT           0.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_899                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58223.925          64367.453          11953.888  1.5
    END-POINT  58223.925          64367.453          11953.888  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQ4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58223.925          64365.203          11951.638  1
    END-POINT  58223.925          64365.203          11951.638  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58223.925          64357.275          11951.638  1  BW
    END-POINT  58223.925          64365.203          11951.638  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89K                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58223.925          64357.275          11951.638  1
    END-POINT  58223.925          64357.275          11951.638  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58223.925          64355.775          11950.138  1  BW
    END-POINT  58223.925          64357.275          11951.638  1  BW
    CENTRE-POINT   58223.925          64355.775          11951.638 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89F                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58223.925          64355.775          11950.138  1
    END-POINT  58223.925          64355.775          11950.138  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58223.925          64355.775          11950.138  1  BW
    END-POINT  58223.925          64355.775          11899.992  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89H                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58223.925  64355.775  11938.197 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58223.925  64355.775  11926.399 
    SKEY FLOR
MESSAGE
    CO-ORDS  58223.925  64355.775  11926.399 
    TEXT FLOOR PENETRATION
SUPPORT
    CO-ORDS  58223.925  64355.775  11927.395  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9G5                 
    TAG                         P615, FIG. 2                    
WELD
    END-POINT  58223.925          64355.775          11899.992  1
    END-POINT  58223.925          64355.775          11899.992  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_89J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58223.925          64357.275          11898.492  1  BW
    END-POINT  58223.925          64355.775          11899.992  1  BW
    CENTRE-POINT   58223.925          64355.775          11898.492 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5BZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58223.925          64357.275          11898.492  1
    END-POINT  58223.925          64357.275          11898.492  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5C9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58223.925          64365.953          11898.492  1  BW
    END-POINT  58223.925          64357.275          11898.492  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5C7                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58223.925          64365.953          11898.492  1
    END-POINT  58223.925          64365.953          11898.492  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5C8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58223.925          64365.953          11898.492  1  BW
    END-POINT  58222.425          64367.453          11898.492  1  BW
    CENTRE-POINT   58223.925          64367.453          11898.492 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5C5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58222.425          64367.453          11898.492  1
    END-POINT  58222.425          64367.453          11898.492  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58194.562          64367.453          11898.492  1  BW
    END-POINT  58222.425          64367.453          11898.492  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5CB                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58206.457  64367.453  11898.492 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58194.562          64367.453          11898.492  1
    END-POINT  58194.562          64367.453          11898.492  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5CC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58194.562          64367.453          11898.492  1  BW
    END-POINT  58193.062          64367.453          11896.992  1  BW
    CENTRE-POINT   58193.062          64367.453          11898.492 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5CA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58193.062          64367.453          11896.992  1
    END-POINT  58193.062          64367.453          11896.992  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5CH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58193.062          64367.453          11896.992  1  BW
    END-POINT  58193.062          64367.453          11742.173  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5CG                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58193.062  64367.453  11800.615 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58193.062  64367.453  11765.305  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5PJ                 
FLOOR-SYMBOL 
    CO-ORDS  58193.062  64367.453  11782.766 
    SKEY FLOR
MESSAGE
    CO-ORDS  58193.062  64367.453  11782.766 
    TEXT FLOOR PENETRATION
WELD
    END-POINT  58193.062          64367.453          11742.173  1
    END-POINT  58193.062          64367.453          11742.173  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5CI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58193.062          64367.453          11742.173  1  BW
    END-POINT  58192.002          64366.392          11740.673  1  BW
    CENTRE-POINT   58193.062          64367.453          11740.673 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5CE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58193.062  64367.453  11740.673 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58193.062  64378.800  11740.673 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58193.062  64367.453  11740.673 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64367.453  11740.673 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58192.002          64366.392          11740.673  1
    END-POINT  58192.002          64366.392          11740.673  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58192.002          64366.392          11740.673  1  BW
    END-POINT  58191.379          64364.890          11740.673  1  BW
    CENTRE-POINT   58191.379          64365.770          11740.673 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76M                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58191.379          64364.890          11740.673  1
    END-POINT  58191.379          64364.890          11740.673  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58191.379          64364.890          11740.673  1  BW
    END-POINT  58191.379          64036.304          11740.673  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76P                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58191.379  64281.340  11740.673  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_770                 
SUPPORT
    CO-ORDS  58191.379  64182.872  11740.673  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_772                 
SUPPORT
    CO-ORDS  58191.379  64063.850  11740.673  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_774                 
WELD
    END-POINT  58191.379          64036.304          11740.673  1
    END-POINT  58191.379          64036.304          11740.673  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58191.379          64036.304          11740.673  1  BW
    END-POINT  58191.379          64034.804          11739.173  1  BW
    CENTRE-POINT   58191.379          64034.804          11740.673 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76S                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58191.379          64034.804          11739.173  1
    END-POINT  58191.379          64034.804          11739.173  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58191.379          64034.804          11724.203  1  BW
    END-POINT  58191.379          64034.804          11739.173  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76W                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58191.379          64034.804          11724.203  1
    END-POINT  58191.379          64034.804          11724.203  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58191.379          64034.804          11724.203  1  BW
    END-POINT  58189.879          64034.804          11722.703  1  BW
    CENTRE-POINT   58191.379          64034.804          11722.703 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76V                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58189.879          64034.804          11722.703  1
    END-POINT  58189.879          64034.804          11722.703  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_76Z                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58189.879          64034.804          11722.703  1  BW
    END-POINT  57891.549          64034.804          11722.703  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5D1                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58134.361  64034.804  11722.703 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57906.656  64034.804  11722.703  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9G7                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58053.343  64034.804  11722.703  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9G9                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58160.828  64034.804  11722.703  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9GC                 
    TAG                         P624 FIG.4                      
WELD
    END-POINT  57891.549          64034.804          11722.703  1
    END-POINT  57891.549          64034.804          11722.703  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8XJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57890.049          64034.804          11721.203  1  BW
    END-POINT  57891.549          64034.804          11722.703  1  BW
    CENTRE-POINT   57890.049          64034.804          11722.703 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8XC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57890.049  64034.804  11722.703 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64034.804  11722.703 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57890.049  64034.804  11722.703 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57890.049  64138.800  11722.703 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57890.049          64034.804          11721.203  1
    END-POINT  57890.049          64034.804          11721.203  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8XF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57890.049          64034.804          11721.203  1  BW
    END-POINT  57890.049          64034.804          11715.203  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8XE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57890.049          64034.804          11715.203  1
    END-POINT  57890.049          64034.804          11715.203  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8XG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57890.049          64036.304          11713.703  1  BW
    END-POINT  57890.049          64034.804          11715.203  1  BW
    CENTRE-POINT   57890.049          64034.804          11713.703 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8X7                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57890.049          64036.304          11713.703  1
    END-POINT  57890.049          64036.304          11713.703  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8XA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57890.049          64036.304          11713.703  1  BW
    END-POINT  57890.049          64081.379          11713.703  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8X9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57890.049          64081.379          11713.703  1
    END-POINT  57890.049          64081.379          11713.703  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8XB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57890.049          64082.879          11712.203  1  BW
    END-POINT  57890.049          64081.379          11713.703  1  BW
    CENTRE-POINT   57890.049          64082.879          11713.703 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8X4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57890.049          64082.879          11712.203  1
    END-POINT  57890.049          64082.879          11712.203  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8X6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57890.049          64082.879          11706.203  1  BW
    END-POINT  57890.049          64082.879          11712.203  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8X2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57890.049          64082.879          11706.203  1
    END-POINT  57890.049          64082.879          11706.203  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8X3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57888.549          64082.879          11704.703  1  BW
    END-POINT  57890.049          64082.879          11706.203  1  BW
    CENTRE-POINT   57890.049          64082.879          11704.703 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8WZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57888.549          64082.879          11704.703  1
    END-POINT  57888.549          64082.879          11704.703  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8X1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57875.362          64082.879          11704.703  1  BW
    END-POINT  57888.549          64082.879          11704.703  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8WX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57875.362          64082.879          11704.703  1
    END-POINT  57875.362          64082.879          11704.703  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8WY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57875.362          64082.879          11704.703  1  BW
    END-POINT  57873.862          64082.879          11703.203  1  BW
    CENTRE-POINT   57873.862          64082.879          11704.703 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_77Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57873.862          64082.879          11703.203  1
    END-POINT  57873.862          64082.879          11703.203  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8XK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57873.862          64082.879          11703.203  1  BW
    END-POINT  57873.862          64082.879          11676.633  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_783                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57873.862          64082.879          11676.633  1
    END-POINT  57873.862          64082.879          11676.633  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_894                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57873.862          64082.879          11676.633  1
    END-POINT  57873.862          64082.879          11676.633  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_895                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57873.862          64082.879          11676.438  1  FL
    END-POINT  57873.862          64082.879          11676.633  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_891                 
    PIPING-SPEC S1
GASKET
    END-POINT  57873.862          64082.879          11676.438  1
    END-POINT  57873.862          64082.879          11676.313  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_892                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57873.862          64082.879          11676.438 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_893                 
VALVE
    END-POINT  57873.862          64082.879          11671.313  1  FL
    END-POINT  57873.862          64082.879          11676.313  1  FL
    CENTRE-POINT   57873.862          64082.879          11673.813 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88W                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  57873.862          64082.879          11671.313  1
    END-POINT  57873.862          64082.879          11671.188  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88X                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57873.862          64082.879          11671.313 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_88Y                 
MISC-COMPONENT
    END-POINT  57873.862          64082.879          11671.063  1  FL
    END-POINT  57873.862          64082.879          11671.188  1  FL
    CENTRE-POINT  57873.862  64082.879  11671.125 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_77A                 
    TAG FO-045-03                       
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57873.862  64082.879  11671.188 
    TEXT FO$045$03
    UNDIMENSIONED
GASKET
    END-POINT  57873.862          64082.879          11671.063  1
    END-POINT  57873.862          64082.879          11670.938  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BDK                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
END-POSITION-OPEN 
    CO-ORDS  57873.862          64082.879          11670.938 
PIPE
    END-POINT  58223.925          64367.453          11954.418  1.5  BW
    END-POINT  58223.925          64367.453          11953.888  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQ2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58223.925          64367.453          11954.418  1.5
    END-POINT  58223.925          64367.453          11954.418  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQ3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58223.925          64367.453          11954.418  1.5  BW
    END-POINT  58226.175          64367.453          11956.668  1.5  BW
    CENTRE-POINT   58223.925          64367.453          11956.668 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_896                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58226.175          64367.453          11956.668  1.5
    END-POINT  58226.175          64367.453          11956.668  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58231.705          64367.453          11956.668  1.5  PL
    END-POINT  58226.175          64367.453          11956.668  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7K                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58231.705          64367.453          11956.668 
    PIPELINE-REFERENCE ISO-PY3-1221014
REDUCER-CONCENTRIC
    END-POINT  57847.815          63945.813          11308.565  1.5  BW
    END-POINT  57847.815          63945.813          11306.065  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_883                 
    PIPING-SPEC S1
WELD
    END-POINT  57847.815          63945.813          11306.065  1
    END-POINT  57847.815          63945.813          11306.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_884                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57847.815          63945.813          11303.625  1  FL
    END-POINT  57847.815          63945.813          11306.065  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87Z                 
    PIPING-SPEC S1
GASKET
    END-POINT  57847.815          63945.813          11303.625  1
    END-POINT  57847.815          63945.813          11303.500  1
    ERECTION-ITEM
    ITEM-CODE GAS1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C93                 
    PIPING-SPEC S1
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  57847.815          63945.813          11303.625 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1_2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C94                 
NOZZLE
    CO-ORDS  57847.815          63945.813          11303.500  1  FL
    CONNECTION-REFERENCE PY3-046$NOZZLE TAG PY3-046-N2$RATING 300LB$FACING RF
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION ELBOW SUPPORT, L=2'-8 5/16", P619 FIG 2
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION PIPE HANGER P624 FIG.4
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION U BOLT GUIDE, P627, FIG.2
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION RISER CLAMP P615, FIG. 2
ITEM-CODE 45LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1
    DESCRIPTION RISER CLAMP P615, FIG. 2
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLT GUIDE, P627, FIG.2
ITEM-CODE 45LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1_1
    DESCRIPTION P624, FIG. 4
ITEM-CODE SUPPS-1
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE SUPRH-1_2
    DESCRIPTION PIPE HANGER P624 FIG.4
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE BOLT1_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8 150LB RAISED FACING 4 - 1/2" X 3" MACHINE BOLT
    RATING 150LB
ITEM-CODE GENSTR1
    DESCRIPTION FLOW ORIFICE, FO-045-03
    RATING 150LB
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS1_1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT1_2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
