ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218001
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 1.50
    ATTRIBUTE96 1218001-AN-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 MH
    ATTRIBUTE22 11/5/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 12/8/2008
    ATTRIBUTE25 TM
    ATTRIBUTE26 12/12/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE37 TM
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 D DURK
    ATTRIBUTE43 TM
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 D. DURK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/2/2009
    ATTRIBUTE54 D. ORR
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 3/16/2009
    ATTRIBUTE60 D. ORR
    ATTRIBUTE61 RP
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58317.485          64226.790          12222.138  0.5  SC FEMALE 
    END-POINT  58317.485          64226.790          12222.808  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CS                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58317.485          64226.790          12222.138  0.5  SC FEMALE 
    END-POINT  58317.485          64226.790          12222.138  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58317.485          64226.790          12219.138  0.5  BW
    END-POINT  58317.485          64226.790          12222.138  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CP                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58317.485          64226.790          12219.138  0.5
    END-POINT  58317.485          64226.790          12219.138  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CQ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58317.485  64226.790  12209.388 
    BRANCH1-POINT  58317.485          64226.790          12219.138  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL18X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CL                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58317.485  64226.790  12209.388  18
    END-POINT  58317.485  64226.790  12209.388  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CN                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58342.626          64243.576          12209.388  18  BW
    END-POINT  58287.545          64206.800          12209.388  18  BW
    FABRICATION-ITEM
    ITEM-CODE PIP18
    WEIGHT          35.760
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CH                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58320.748  64228.969  12209.388 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58342.626          64243.576          12209.388  18
    END-POINT  58342.626          64243.576          12209.388  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58287.545          64206.800          12209.388  18
    END-POINT  58287.545          64206.800          12209.388  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58265.090          64191.807          12182.388  18  BW
    END-POINT  58287.545          64206.800          12209.388  18  BW
    CENTRE-POINT   58265.090          64191.807          12209.388 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR18
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8C9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58265.090          64191.807          12182.388  18
    END-POINT  58265.090          64191.807          12182.388  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58265.090          64191.807          12177.326  18  PL
    END-POINT  58265.090          64191.807          12182.388  18  BW
    FABRICATION-ITEM
    ITEM-CODE PIP18
    WEIGHT          35.760
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3KA                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58265.090          64191.807          12177.326  18
    END-POINT  58265.090          64191.807          12177.326  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3KB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58265.090          64191.807          12177.326  18
    END-POINT  58265.090          64191.807          12177.326  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3KC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58265.090          64191.807          12176.878  18  FL
    END-POINT  58265.090          64191.807          12177.326  18  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP18
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3K6                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58265.090          64191.807          12176.878  18
    END-POINT  58265.090          64191.807          12176.753  18
    ERECTION-ITEM
    ITEM-CODE GAS18
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_80N                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58265.090          64191.807          12176.878 
    BOLT-DIA           1.125
    BOLT-QUANTITY              16
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT18
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_80O                 
END-POSITION-OPEN 
    CO-ORDS  58265.090          64191.807          12176.753 
ELBOW
    END-POINT  58365.081          64258.569          12182.388  18  BW
    END-POINT  58342.626          64243.576          12209.388  18  BW
    CENTRE-POINT   58365.081          64258.569          12209.388 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR18
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58365.081          64258.569          12182.388  18
    END-POINT  58365.081          64258.569          12182.388  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8CG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58365.081          64258.569          12182.388  18  BW
    END-POINT  58365.081          64258.569          11919.386  18  BW
    FABRICATION-ITEM
    ITEM-CODE PIP18
    WEIGHT          35.760
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3KP                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58365.081  64258.569  12054.640 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58365.081  64258.569  11936.625  18
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-18
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6GY                 
FLOOR-SYMBOL 
    CO-ORDS  58365.081  64258.569  11928.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58365.081  64258.569  11928.000 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58365.081          64258.569          11919.386  18
    END-POINT  58365.081          64258.569          11919.386  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3KR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58365.081          64258.569          11919.386  18  BW
    END-POINT  58338.081          64258.569          11892.386  18  BW
    CENTRE-POINT   58365.081          64258.569          11892.386 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR18
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_3K5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58338.081          64258.569          11892.386  18
    END-POINT  58338.081          64258.569          11892.386  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8LX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58281.081          64258.569          11892.386  18  BW
    END-POINT  58338.081          64258.569          11892.386  18  BW
    FABRICATION-ITEM
    ITEM-CODE PIP18
    WEIGHT          35.760
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8LV                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58303.528  64258.569  11892.386 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58281.081          64258.569          11892.386  18
    END-POINT  58281.081          64258.569          11892.386  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8LW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58254.081          64258.569          11865.386  18  BW
    END-POINT  58281.081          64258.569          11892.386  18  BW
    CENTRE-POINT   58254.081          64258.569          11892.386 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR18
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8BY                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58254.081  64258.569  11892.386 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58254.081  64378.800  11892.386 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58254.081  64258.569  11892.386 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64258.569  11892.386 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58254.081          64258.569          11865.386  18
    END-POINT  58254.081          64258.569          11865.386  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8M7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58254.081          64258.569          11860.323  18  PL
    END-POINT  58254.081          64258.569          11865.386  18  BW
    FABRICATION-ITEM
    ITEM-CODE PIP18
    WEIGHT          35.760
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8M4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58254.081          64258.569          11860.323  18
    END-POINT  58254.081          64258.569          11860.323  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8M5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58254.081          64258.569          11860.323  18
    END-POINT  58254.081          64258.569          11860.323  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8M6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58254.081  64258.569  11863.876  18
    END-POINT  58254.081  64258.569  11863.876  18
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8MA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58254.081  64258.569  11863.876 
    BRANCH1-POINT  58244.206          64258.569          11863.876  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL18X3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8M8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58244.206          64258.569          11863.876  0.75
    END-POINT  58244.206          64258.569          11863.876  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8MB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58244.206          64258.569          11863.876  0.75  BW
    END-POINT  58241.706          64258.569          11863.876  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8L4                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58241.706          64258.569          11863.876  0.75  SC MALE 
    END-POINT  58241.706          64258.569          11863.876  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8L6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  58241.706          64258.569          11863.876  0.75  SC FEMALE 
    END-POINT  58240.266          64258.569          11863.876  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FA                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58240.266          64258.569          11863.876 
FLANGE
    END-POINT  58254.081          64258.569          11859.876  18  FL
    END-POINT  58254.081          64258.569          11860.323  18  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP18
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8M0                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58254.081          64258.569          11859.876  18
    END-POINT 
** 
Processing ID: AT_FL5BJQ2V_8M1  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS18
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8M1                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58254.081          64258.569          11859.876 
    BOLT-DIA           1.125
    BOLT-QUANTITY              16
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT18
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8M2                 
END-POSITION-OPEN 
    CO-ORDS  58254.081  64258.569  11859.876 
MATERIALS
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, BVxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE WOL18X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP18
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR18
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP18
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS18
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT18
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1 1/8 X 5 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE SUPAG-18
    DESCRIPTION STEEL SUPPORT, SEE  DWG. SH-PY3-AN-005 FOR DETAILS
ITEM-CODE WOL18X3/4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A182 Gr F304L, MSS SP-97
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
