ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036044
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2036044-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  58204.056          64122.797          11957.867  0.5  SW FEMALE 
    END-POINT  58206.236          64122.797          11957.867  0.5  SW FEMALE 
    CENTRE-POINT   58204.941          64122.797          11957.867 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IPW                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS  58206.236  64122.797  11957.867 
    TEXT TUBING TO$PY3-013-F
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58204.056          64122.797          11957.867  0.5  SW FEMALE 
    END-POINT  58204.056          64122.797          11957.867  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IPZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58206.236          64122.797          11957.867 
PIPE
    END-POINT  58200.151          64122.797          11957.867  0.5  BW
    END-POINT  58204.056          64122.797          11957.867  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQ0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58200.151          64122.797          11957.867  0.5
    END-POINT  58200.151          64122.797          11957.867  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQ1                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58198.651          64122.797          11956.367  0.5  BW
    END-POINT  58200.151          64122.797          11957.867  0.5  BW
    CENTRE-POINT   58198.651          64122.797          11957.867 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQ2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58198.651          64122.797          11956.367  0.5
    END-POINT  58198.651          64122.797          11956.367  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQ3                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58198.651          64122.797          11956.367  0.5  BW
    END-POINT  58198.651          64122.797          11908.247  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQ4                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58198.651  64122.797  11927.995  0.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQ5                 
FLOOR-SYMBOL 
    CO-ORDS  58198.651  64122.797  11925.864 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58198.651  64122.797  11925.864 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58198.651          64122.797          11908.247  0.5
    END-POINT  58198.651          64122.797          11908.247  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQ7                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58197.151          64122.797          11906.747  0.5  BW
    END-POINT  58198.651          64122.797          11908.247  0.5  BW
    CENTRE-POINT   58198.651          64122.797          11906.747 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQ8                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58198.651  64122.797  11906.747 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58198.651  64138.748  11906.747 
    REFERENCED-ITEM
    ITEM-DIRECTION 1/2
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58197.151          64122.797          11906.747  0.5
    END-POINT  58197.151          64122.797          11906.747  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQA                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58197.151          64122.797          11906.747  0.5  BW
    END-POINT  58040.101          64122.797          11906.747  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQB                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58060.153  64122.797  11906.747  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQC                 
SUPPORT
    CO-ORDS  58115.507  64122.797  11906.747  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQD                 
SUPPORT
    CO-ORDS  58166.736  64122.797  11906.747  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQE                 
FLOW-ARROW
    CO-ORDS  58140.076  64122.797  11906.747 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58040.101          64122.797          11906.747  0.5
    END-POINT  58040.101          64122.797          11906.747  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQG                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58040.101          64122.797          11906.747  0.5  BW
    END-POINT  58038.601          64122.797          11905.247  0.5  BW
    CENTRE-POINT   58038.601          64122.797          11906.747 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58038.601  64122.797  11906.747 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64122.797  11906.747 
    REFERENCED-ITEM
    ITEM-DIRECTION 1/2
    SKEY 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58038.601          64122.797          11905.247  0.5
    END-POINT  58038.601          64122.797          11905.247  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQJ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58038.601          64122.797          11905.247  0.5  BW
    END-POINT  58038.601          64122.797          11901.110  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQK                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58038.601          64122.797          11901.110  0.5
    END-POINT  58038.601          64122.797          11901.110  0.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPO                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      58038.601  64122.797  11899.173 
    BRANCH1-POINT  58038.601          64122.797          11901.110  0.5  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B23                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.601  64122.797  11899.173 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE 90LLR1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE SUPRH-1/2
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE SUPRH-1/2_1
    DESCRIPTION GENERAL HANGER, L=1'-0", P624 FIG 1
