ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2032033
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 PA
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2032033-PA-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58095.175          64294.526          11422.120  1  SC MALE 
    END-POINT  58095.175          64294.526          11425.121  1  SC MALE 
    CENTRE-POINT  58095.175  64294.526  11423.621 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EG0                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58095.175  64294.526  11424.433 
    TEXT TUBING TO PY3-037$AN SAMPLING VACUUM PUMP NO 5
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58095.175          64294.526          11422.120  1  SC FEMALE 
    END-POINT  58095.175          64294.526          11422.120  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EFZ                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58095.175          64294.526          11425.121 
VALVE
    END-POINT  58095.175          64294.526          11420.583  1  SC FEMALE 
    END-POINT  58095.175          64294.526          11422.120  1  SC FEMALE 
    CENTRE-POINT   58095.175          64294.526          11421.278 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EFV                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58095.175  64294.526  11419.748 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64294.526  11419.748 
    REFERENCED-ITEM
    ITEM-DIRECTION 1
    SKEY 
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58095.175  64294.526  11419.748 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58095.175  64378.800  11419.748 
    REFERENCED-ITEM
    ITEM-DIRECTION 1
    SKEY 
    MESSAGE
    TEXT COL G
SCREWED-WELD
    END-POINT  58095.175          64294.526          11420.583  1  SC MALE 
    END-POINT  58095.175          64294.526          11420.583  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EFU                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58095.175          64294.526          11415.060  1  SC MALE 
    END-POINT  58095.175          64294.526          11420.583  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EFT                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58095.175          64294.526          11415.060  1  SC FEMALE 
    END-POINT  58095.175          64294.526          11415.060  1  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EFS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
OLET
    CENTRE-POINT      58095.175  64294.526  11413.248 
    BRANCH1-POINT  58095.175          64294.526          11415.060  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EFR                 
    PIPING-SPEC C1
END-CONNECTION-PIPELINE 
    CO-ORDS  58095.175  64294.526  11413.248 
    PIPELINE-REFERENCE ISO-PY3-2032031
MATERIALS
ITEM-CODE GENSTR1
    DESCRIPTION PIPE TO TUBING ADAPTOR
    RATING 2000LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-001
    RATING 275LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
