ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223019
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 MS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1223019-MS-C2
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/3/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/10/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/12/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D.ORR
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 12/17/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DK
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED CONTINUATION
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58371.300          64070.663          12264.000  3  BW
    END-POINT  58377.300          64070.663          12264.000  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5G6                 
    PIPING-SPEC C2
    CUT-PIECE-ALLOWANCE EP2 1.75
MESSAGE
    CO-ORDS  58377.300  64070.663  12264.000 
    TEXT CUT PIPE AT 45%%C ANGLE$ ADD BIRD SCREEN
    UNDIMENSIONED
WELD
    END-POINT  58371.300          64070.663          12264.000  3
    END-POINT  58371.300          64070.663          12264.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AIS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
END-POSITION-OPEN 
    CO-ORDS  58377.300          64070.663          12264.000 
ELBOW
    END-POINT  58371.300          64070.663          12264.000  3  BW
    END-POINT  58366.800          64070.663          12259.500  3  BW
    CENTRE-POINT   58366.800          64070.663          12264.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5G5                 
    PIPING-SPEC C2
    ANGLE 9000
WELD
    END-POINT  58366.800          64070.663          12259.500  3
    END-POINT  58366.800          64070.663          12259.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AIT                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
PIPE
    END-POINT  58366.800          64070.663          11857.100  3  BW
    END-POINT  58366.800          64070.663          12259.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5HA                 
    PIPING-SPEC C2
FLOW-ARROW
    CO-ORDS  58366.800  64070.663  12181.792 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58366.800  64070.663  12139.977  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AIM                 
TEE-SET-ON
    BRANCH1-POINT  58366.800          64072.413          12139.977  1.75
    CENTRE-POINT   58366.800  64070.663  12139.977 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58366.800          64072.413          12139.977  1.75  BW
    END-POINT  58366.800  64080.163  12139.977  1.75  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58366.800  64080.163  12139.977 
TEE-SET-ON
    BRANCH1-POINT  58366.800          64068.913          12139.977  1.75
    CENTRE-POINT   58366.800  64070.663  12139.977 
    SKEY TESO
PIPE
    END-POINT  58366.800          64068.913          12139.977  1.75  BW
    END-POINT  58366.800  64061.163  12139.977  1.75  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58366.800  64061.163  12139.977 
SUPPORT
    CO-ORDS  58366.800  64070.663  11907.279  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AIO                 
TEE-SET-ON
    BRANCH1-POINT  58366.800          64072.413          11907.279  1.75
    CENTRE-POINT   58366.800  64070.663  11907.279 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58366.800          64072.413          11907.279  1.75  BW
    END-POINT  58366.800  64080.163  11907.279  1.75  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58366.800  64080.163  11907.279 
TEE-SET-ON
    BRANCH1-POINT  58366.800          64068.913          11907.279  1.75
    CENTRE-POINT   58366.800  64070.663  11907.279 
    SKEY TESO
PIPE
    END-POINT  58366.800          64068.913          11907.279  1.75  BW
    END-POINT  58366.800  64061.163  11907.279  1.75  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58366.800  64061.163  11907.279 
SUPPORT
    CO-ORDS  58366.800  64070.663  12136.666  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AIY                 
WELD
    END-POINT  58366.800          64070.663          11857.100  3
    END-POINT  58366.800          64070.663          11857.100  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ASU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
ELBOW
    END-POINT  58362.300          64070.663          11852.600  3  BW
    END-POINT  58366.800          64070.663          11857.100  3  BW
    CENTRE-POINT   58366.800          64070.663          11852.600 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8PZ                 
    PIPING-SPEC C2
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58366.675  64070.663  11852.600 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.675  64070.663  11852.600 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58366.800  64070.663  11852.600 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58366.800  64138.748  11852.600 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  58362.300          64070.663          11852.600  3
    END-POINT  58362.300          64070.663          11852.600  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AIV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
PIPE
    END-POINT  58362.300          64070.663          11852.600  3  BW
    END-POINT  58348.115          64070.663          11852.600  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8Q2                 
    PIPING-SPEC C2
MESSAGE
    CO-ORDS  58348.115  64070.663  11852.600 
    TEXT ADD WEEP HOLE
    UNDIMENSIONED
WELD
    END-POINT  58348.115          64070.663          11852.600  3
    END-POINT  58348.115          64070.663          11852.600  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AST                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
REDUCER-ECCENTRIC
    END-POINT  58348.115          64070.663          11852.600  3  BW
    END-POINT  58340.115          64070.663          11851.507  1  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A3A                 
    PIPING-SPEC C2
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58340.115          64070.663          11851.507  1
    END-POINT  58340.115          64070.663          11851.507  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AIX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
FLANGE
    END-POINT  58339.988          64070.663          11851.507  1  FL
    END-POINT  58340.115          64070.663          11851.507  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_A3F                 
    PIPING-SPEC C2
MESSAGE-CIRCLE
    CO-ORDS  58340.113  64070.663  11851.507 
    TEXT PSV$013$07
    UNDIMENSIONED
GASKET
    END-POINT  58339.988          64070.663          11851.507  1
    END-POINT  58339.863          64070.663          11851.507  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ASR                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58339.988          64070.663          11851.507 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ASS                 
VALVE-ANGLE
    END-POINT  58334.675          64070.663          11845.320  0.75  FL
    END-POINT  58339.863          64070.663          11851.507  1  FL
    CENTRE-POINT   58334.675          64070.663          11851.507 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ASK                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58334.675          64070.663          11845.320 
    PIPELINE-REFERENCE ISO-PY3-2041006
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 53 Gr B, ERW
    RATING 40
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPEB-3
    DESCRIPTION TRUNNION SUPPORT
ITEM-CODE SUPUB-3
    DESCRIPTION U BOLT GUIDE
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, BVxPL, SCH 40, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
