ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221017
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1221017-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-021
    ATTRIBUTE21 SG
    ATTRIBUTE22 10/7/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 12/23/2008
    ATTRIBUTE25 RHP
    ATTRIBUTE26 2/2/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SG
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57819.495          64082.879          11658.790  2  BW
    END-POINT  57774.280          64082.879          11658.000  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6AT                 
    PIPING-SPEC S1
    CUT-PIECE-ALLOWANCE EP2 1.1875
FLOW-ARROW
    CO-ORDS  57789.757  64082.879  11658.271 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57815.604  64082.879  11658.722  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6GF                 
MESSAGE
    CO-ORDS  57774.280  64082.879  11658.000 
    TEXT BEVEL END OF PIPE 45 DEGREES$AND ATTACH BIRDSCREEN
    UNDIMENSIONED
WELD
    END-POINT  57819.495          64082.879          11658.790  2
    END-POINT  57819.495          64082.879          11658.790  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7H5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57774.280          64082.879          11658.000 
ELBOW
    END-POINT  57821.564          64082.879          11659.668  2  BW
    END-POINT  57819.495          64082.879          11658.790  2  BW
    CENTRE-POINT   57820.707          64082.879          11658.811 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7GY                 
    PIPING-SPEC S1
    ANGLE 4400
WELD
    END-POINT  57821.564          64082.879          11659.668  2
    END-POINT  57821.564          64082.879          11659.668  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7H3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57821.564          64082.879          11659.668  2  BW
    END-POINT  57836.039          64082.879          11674.143  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7H2                 
    PIPING-SPEC S1
WELD
    END-POINT  57836.039          64082.879          11674.143  2
    END-POINT  57836.039          64082.879          11674.143  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7H4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57836.039          64082.879          11674.143  2  BW
    END-POINT  57838.108          64082.879          11675.021  2  BW
    CENTRE-POINT   57836.896          64082.879          11675.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6A5                 
    PIPING-SPEC S1
    ANGLE 4400
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57836.896  64082.879  11675.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64082.879  11675.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57836.896  64082.879  11675.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57836.896  64138.748  11675.000 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57838.108          64082.879          11675.021  2
    END-POINT  57838.108          64082.879          11675.021  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7H6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57838.108          64082.879          11675.021  2  BW
    END-POINT  57854.896          64082.879          11675.187  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6A8                 
    PIPING-SPEC S1
WELD
    END-POINT  57854.896          64082.879          11675.187  2
    END-POINT  57854.896          64082.879          11675.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6AA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57854.896          64082.879          11675.187  2
    END-POINT  57854.896          64082.879          11675.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6AB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57855.112          64082.879          11675.187  2  FL
    END-POINT  57854.896          64082.879          11675.187  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_69B                 
    PIPING-SPEC S1
GASKET
    END-POINT  57855.112          64082.879          11675.187  2
    END-POINT  57855.237          64082.879          11675.187  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6D8                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57855.112          64082.879          11675.187 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6D9                 
VALVE-ANGLE
    END-POINT  57859.737          64082.879          11671.062  1  FL
    END-POINT  57855.237          64082.879          11675.187  2  FL
    CENTRE-POINT   57859.737          64082.879          11675.187 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL1X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_694                 
    TAG PSV-044-02                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57859.737  64082.879  11675.187 
    TEXT PSV$044$02
    UNDIMENSIONED
GASKET
    END-POINT  57859.737          64082.879          11671.062  1
    END-POINT  57859.737          64082.879          11670.937  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7GM                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57859.737          64082.879          11671.062 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7GN                 
END-POSITION-OPEN 
    CO-ORDS  57859.737          64082.879          11670.937 
MATERIALS
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION P627 FIG 2 U-BOLT GUIDE
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 44.00
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL1X2
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, CS, PSV-044-02
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
