ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212029
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1212029-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 S.GIBSON
    ATTRIBUTE22 4/15/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/17/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/21/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/21/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/21/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 BL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58305.468          63933.749          11407.345  2  PL
    END-POINT  58302.291          63933.749          11407.345  2  PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ORW                 
    PIPING-SPEC S1
MESSAGE
    CO-ORDS  58302.291  63933.749  11407.345 
    TEXT PIPING BY EQUIPMENT$VENDOR TO PY3-049
    UNDIMENSIONED
WELD
    END-POINT  58305.468          63933.749          11407.345  2
    END-POINT  58305.468          63933.749          11407.345  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ORX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58305.468          63933.749          11407.345  2
    END-POINT  58305.468          63933.749          11407.345  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ORY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58302.291          63933.749          11407.345 
FLANGE
    END-POINT  58305.684          63933.749          11407.345  2  FL
    END-POINT  58305.468          63933.749          11407.345  2  BW
    SKEY FLSO
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ORT                 
    PIPING-SPEC S1
GASKET
    END-POINT  58305.684          63933.749          11407.345  2
    END-POINT  58305.809          63933.749          11407.345  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ORU                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58305.684          63933.749          11407.345 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ORV                 
FLANGE
    END-POINT  58305.809          63933.749          11407.345  2  FL
    END-POINT  58306.026          63933.749          11407.345  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ORL                 
    PIPING-SPEC S1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58305.809  63933.749  11407.345 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58305.809  63898.800  11407.345 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58305.809  63933.749  11407.345 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63933.749  11407.345 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58306.026          63933.749          11407.345  2
    END-POINT  58306.026          63933.749          11407.345  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OVU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58306.026          63933.749          11407.345  2
    END-POINT  58306.026          63933.749          11407.345  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OVV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58306.026          63933.749          11407.345  2  PL
    END-POINT  58353.057          63933.749          11408.166  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OVS                 
    PIPING-SPEC S1
    CUT-PIECE-ALLOWANCE EP2 1.1875
SUPPORT
    CO-ORDS  58346.399  63933.749  11408.050  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST 1 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OVW                 
FLOW-ARROW
    CO-ORDS  58325.952  63933.749  11407.693 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58335.889  63933.749  11407.867 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58335.889  63933.749  11407.867 
    TEXT NEW 4" DIAMETER$WALL OPENING
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58353.057  63933.749  11408.166 
    TEXT MITER END OF PIPE 45 DEGREES$AND ADD BIRDSCREEN
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58353.057          63933.749          11408.166 
MATERIALS
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION P629 FIG 9, L=2'-4 3/4" W/ U BOLT SUPPORT, P648 FIG2
