ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218019
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1218019-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-018
    ATTRIBUTE21 SG
    ATTRIBUTE22 2/9/2009
    ATTRIBUTE23 NA
    ATTRIBUTE25 RHP
    ATTRIBUTE26 2/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/9/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 2/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/9/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 DC
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 11/27/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DK
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58090.811          64184.505          11621.822  2  BW
    END-POINT  58090.811          64184.505          11577.655  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LX                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58090.811  64184.505  11581.449  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7M3                 
MESSAGE
    CO-ORDS  58090.811  64184.505  11577.655 
    TEXT TERMINATE OPEN END OF$PIPE 9" ABOVE FINISHED FLOOR
    UNDIMENSIONED
WELD
    END-POINT  58090.811          64184.505          11621.822  2
    END-POINT  58090.811          64184.505          11621.822  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58090.811          64184.505          11577.655 
ELBOW
    END-POINT  58089.835          64184.505          11624.178  2  BW
    END-POINT  58090.811          64184.505          11621.822  2  BW
    CENTRE-POINT   58090.811          64184.505          11623.202 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LS                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58089.835          64184.505          11624.178  2
    END-POINT  58089.835          64184.505          11624.178  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58089.835          64184.505          11624.178  2  BW
    END-POINT  58084.913          64184.505          11629.100  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LU                 
    PIPING-SPEC S1
WELD
    END-POINT  58084.913          64184.505          11629.100  2
    END-POINT  58084.913          64184.505          11629.100  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.791          64181.505          11631.222  2  BW
    END-POINT  58084.913          64184.505          11629.100  2  BW
    CENTRE-POINT   58082.791          64184.505          11631.222 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LM                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.791  64184.505  11631.222 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58082.791  64138.373  11631.222 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.791  64184.505  11631.222 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64184.505  11631.222 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.791  64184.505  11631.222 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58082.791  64138.373  11631.222 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58082.791          64181.505          11631.222  2
    END-POINT  58082.791          64181.505          11631.222  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7M0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64181.505          11631.222  2  BW
    END-POINT  58082.791          64177.651          11631.222  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LZ                 
    PIPING-SPEC S1
WELD
    END-POINT  58082.791          64177.651          11631.222  2
    END-POINT  58082.791          64177.651          11631.222  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7M1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64177.651          11631.222  2
    END-POINT  58082.791          64177.651          11631.222  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7M2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58082.791          64177.435          11631.222  2  FL
    END-POINT  58082.791          64177.651          11631.222  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7LJ                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58082.791  64177.435  11631.222 
    TEXT 3P$PSV$065$04
    UNDIMENSIONED
GASKET
    END-POINT  58082.791          64177.435          11631.222  2
    END-POINT  58082.791          64177.310          11631.222  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7XV                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58082.791          64177.435          11631.222 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7XW                 
VALVE-ANGLE
    END-POINT  58082.791          64173.185          11626.722  1  FL
    END-POINT  58082.791          64177.310          11631.222  2  FL
    CENTRE-POINT   58082.791          64173.185          11631.222 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7XM                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58082.791          64173.185          11626.722 
    PIPELINE-REFERENCE ISO-PY3-1218016
MATERIALS
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION P629, FIG 7 ANGLE SUPPORT W/ P627 FIG 2 U-BOLT GUIDE
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
