ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1219019
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1219019-DM-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-019
    ATTRIBUTE21 SG
    ATTRIBUTE22 10/24/2008
    ATTRIBUTE23 NA
    ATTRIBUTE25 RP
    ATTRIBUTE26 10/28/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SG
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SG
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 1/19/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 2/16/2009
    ATTRIBUTE54 D.DURK
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 12/17/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DK
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED CONTINUATION
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57822.846          63930.245          11351.876  1  PL
    END-POINT  57822.846          63956.510          11351.876  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78P                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.846          63930.245          11351.876  1
    END-POINT  57822.846          63930.245          11351.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57822.846          63930.245          11351.876  1
    END-POINT  57822.846          63930.245          11351.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57822.846          63956.510          11351.876  1
    END-POINT  57822.846          63956.510          11351.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57822.846          63958.010          11350.376  1  BW
    END-POINT  57822.846          63958.010          11353.376  1  BW
    CENTRE-POINT   57822.846          63958.010          11351.876 
    BRANCH1-POINT  57822.846          63956.510          11351.876  1  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_78H                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57822.846          63958.010          11350.376 
    PIPELINE-REFERENCE ISO-PY3-1217011
FLANGE
    END-POINT  57822.846          63930.049          11351.876  1  FL
    END-POINT  57822.846          63930.245          11351.876  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6UP                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57822.846          63930.049          11351.876  1
    END-POINT  57822.846          63929.924          11351.876  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6UQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57822.846          63930.049          11351.876 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6UR                 
VALVE
    END-POINT  57822.846          63924.924          11351.876  1  FL
    END-POINT  57822.846          63929.924          11351.876  1  FL
    CENTRE-POINT   57822.846          63927.424          11351.876 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           9.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6UK                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  57822.846          63924.924          11351.876  1
    END-POINT  57822.846          63924.799          11351.876  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6UL                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57822.846          63924.924          11351.876 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6UM                 
VALVE
    END-POINT  57822.846          63919.799          11351.876  1  FL
    END-POINT  57822.846          63924.799          11351.876  1  FL
    CENTRE-POINT   57822.846          63922.299          11351.876 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6RC                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57822.846          63919.674          11351.876  1
    END-POINT  57822.846          63919.799          11351.876  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6RG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57822.846          63919.674          11351.876 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6RH                 
FLANGE
    END-POINT  57822.846          63919.674          11351.876  1  FL
    END-POINT  57822.846          63919.479          11351.876  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6RF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.846          63919.479          11351.876  1
    END-POINT  57822.846          63919.479          11351.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6SX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.846          63919.479          11351.876  1
    END-POINT  57822.846          63919.479          11351.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6SY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57822.826          63907.084          11351.876  1  BW
    END-POINT  57822.846          63919.479          11351.876  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6SV                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.826          63907.084          11351.876  1
    END-POINT  57822.826          63907.084          11351.876  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6SW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57822.826          63905.584          11353.376  1  BW
    END-POINT  57822.826          63907.084          11351.876  1  BW
    CENTRE-POINT   57822.826          63905.584          11351.876 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QY                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57822.826          63905.584          11353.376  1
    END-POINT  57822.826          63905.584          11353.376  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6SZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57822.826          63905.584          11394.147  1  BW
    END-POINT  57822.826          63905.584          11353.376  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57822.826          63905.584          11394.147  1
    END-POINT  57822.826          63905.584          11394.147  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57824.326          63905.584          11395.647  1  BW
    END-POINT  57822.826          63905.584          11394.147  1  BW
    CENTRE-POINT   57822.826          63905.584          11395.647 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57822.826  63905.584  11394.147 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57822.826  63898.800  11394.147 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57822.826  63905.584  11394.147 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63905.584  11394.147 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57824.326          63905.584          11395.647  1
    END-POINT  57824.326          63905.584          11395.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57871.741          63905.584          11395.647  1  BW
    END-POINT  57824.326          63905.584          11395.647  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QQ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57871.741          63905.584          11395.647  1
    END-POINT  57871.741          63905.584          11395.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_6QR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57873.243          63906.206          11395.647  1  BW
    END-POINT  57871.741          63905.584          11395.647  1  BW
    CENTRE-POINT   57872.621          63905.584          11395.647 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_42Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57873.243          63906.206          11395.647  1
    END-POINT  57873.243          63906.206          11395.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_438                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57876.278          63909.242          11395.647  1  BW
    END-POINT  57873.243          63906.206          11395.647  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_436                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57876.278          63909.242          11395.647  1
    END-POINT  57876.278          63909.242          11395.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_437                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57876.278          63909.242          11395.647  1  BW
    END-POINT  57877.781          63909.864          11395.647  1  BW
    CENTRE-POINT   57876.901          63909.864          11395.647 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_42Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57877.781          63909.864          11395.647  1
    END-POINT  57877.781          63909.864          11395.647  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4K6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57877.781          63909.864          11395.647  1  BW
    END-POINT  58084.675          63909.864          11395.648  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4F2                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57913.532  63909.864  11395.647  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5WJ                 
SUPPORT
    CO-ORDS  58052.841  63909.864  11395.648  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5Y4                 
SUPPORT
    CO-ORDS  57956.439  63909.864  11395.647  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5Y6                 
FLOW-ARROW
    CO-ORDS  57896.854  63909.864  11395.647 
    FLOW 2
    SKEY FLOW
FLOW-ARROW
    CO-ORDS  57993.441  63909.864  11395.648 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58084.675          63909.864          11395.648  1
    END-POINT  58084.675          63909.864          11395.648  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_904                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58084.675          63909.864          11395.648  1  BW
    END-POINT  58086.175          63909.864          11397.148  1  BW
    CENTRE-POINT   58086.175          63909.864          11395.648 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4F0                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58086.175          63909.864          11397.148  1
    END-POINT  58086.175          63909.864          11397.148  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58086.175          63909.864          11397.148  1  BW
    END-POINT  58086.175          63909.864          11412.169  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NH                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58086.175          63909.864          11412.169  1
    END-POINT  58086.175          63909.864          11412.169  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58086.175          63911.364          11413.669  1  BW
    END-POINT  58086.175          63909.864          11412.169  1  BW
    CENTRE-POINT   58086.175          63909.864          11413.669 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58086.175          63911.364          11413.669  1
    END-POINT  58086.175          63911.364          11413.669  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58086.175          64199.468          11413.669  1  BW
    END-POINT  58086.175          63911.364          11413.669  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3UD                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58086.175  64040.192  11413.669  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5U5                 
SUPPORT
    CO-ORDS  58086.175  63924.809  11413.669  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_5U7                 
SUPPORT
    CO-ORDS  58086.175  64140.251  11413.669  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_961                 
FLOW-ARROW
    CO-ORDS  58086.175  64123.172  11413.669 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58086.175          64199.468          11413.669  1
    END-POINT  58086.175          64199.468          11413.669  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_90T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58086.175          64201.968          11413.964  1.5  BW
    END-POINT  58086.175          64199.468          11413.669  1  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_901                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58086.175          64201.968          11413.964  1.5
    END-POINT  58086.175          64201.968          11413.964  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_903                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58086.175          64201.968          11413.964  1.5  BW
    END-POINT  58086.175          64206.468          11413.964  1.5  BW
    CENTRE-POINT   58086.175          64204.218          11413.964 
    BRANCH1-POINT  58086.175          64204.218          11411.714  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8Y5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58086.175          64206.468          11413.964  1.5
    END-POINT  58086.175          64206.468          11413.964  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_916                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58086.175          64204.218          11411.714  1.5
    END-POINT  58086.175          64204.218          11411.714  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8Y9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58086.175          64206.468          11413.964  1.5  BW
    END-POINT  58086.175          64222.468          11413.964  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_915                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58086.175          64222.468          11413.964 
    PIPELINE-REFERENCE ISO-PY3-1219020
PIPE
    END-POINT  58086.175          64204.218          11411.714  1.5  BW
    END-POINT  58086.175          64204.218          11398.311  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8Y8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58086.175          64204.218          11398.311  1.5
    END-POINT  58086.175          64204.218          11398.311  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8YA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58086.175          64204.218          11398.311  1.5  BW
    END-POINT  58083.925          64204.218          11396.061  1.5  BW
    CENTRE-POINT   58086.175          64204.218          11396.061 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8P2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58083.925          64204.218          11396.061  1.5
    END-POINT  58083.925          64204.218          11396.061  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58083.925          64204.218          11396.061  1.5  BW
    END-POINT  58049.613          64204.218          11396.061  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDO                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58052.841  64204.218  11396.061  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9V1                 
FLOW-ARROW
    CO-ORDS  58072.088  64204.218  11396.061 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58049.613          64204.218          11396.061  1.5
    END-POINT  58049.613          64204.218          11396.061  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58045.113          64204.218          11396.061  1.5  BW
    END-POINT  58049.613          64204.218          11396.061  1.5  BW
    CENTRE-POINT   58047.363          64204.218          11396.061 
    BRANCH1-POINT  58047.363          64204.218          11393.811  1  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9C1                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58045.113          64204.218          11396.061 
    PIPELINE-REFERENCE ISO-PY3-1219016
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 45LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1
    DESCRIPTION P629 FIG.9, W/U BOLT GUIDE, P651, FIG.1
ITEM-CODE SUPUB-1_1
    DESCRIPTION U BOLT GUIDE, P651, FIG.1
ITEM-CODE SUPUB-1_2
    DESCRIPTION  P651 FIG 1 U-BOLT GUIDE
ITEM-CODE REDECC1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION  P651 FIG 1 U-BOLT GUIDE
