ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222014
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 CWR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1222014-CWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 12/30/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/30/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 12/30/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 12/30/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 12/30/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 12/30/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 NK
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 4/14/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 BJL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/27/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DK
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED PSV-052-04
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57972.562          64049.275          11690.750  0.75  SC MALE 
    END-POINT  57972.562          64055.275          11690.750  0.75  SC MALE 
    CENTRE-POINT  57972.562  64052.275  11690.750 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C59                 
    TAG SP-049                          
    PIPING-SPEC C1
MESSAGE-CIRCLE
    CO-ORDS  57972.562  64052.254  11690.750 
    TEXT TI$052$03
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  57972.562          64049.275          11690.750  0.75  SC MALE 
    END-POINT  57972.562          64049.275          11690.750  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5A                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  57972.562          64055.275          11690.750 
ELBOLET
    END-POINT  57972.562          64047.962          11690.750  3  PL
    END-POINT  57972.562          64049.275          11690.750  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C56                 
    PIPING-SPEC C1
WELD
    END-POINT  57972.562          64047.962          11690.750  3
    END-POINT  57972.562          64047.962          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C58                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
ELBOW-TEED
    END-POINT  57972.562          64043.625          11690.750  3  BW
    END-POINT  57968.062          64048.125          11690.750  3  BW
    CENTRE-POINT   57972.562          64048.125          11690.750 
    BRANCH1-POINT  57972.562          64047.962          11690.750  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C4Y                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  57972.562          64047.962          11690.750  3
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57972.562  64048.125  11690.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64048.125  11690.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57972.562  64048.125  11690.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57972.562  64138.748  11690.750 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57972.562          64043.625          11690.750  3
    END-POINT  57972.562          64043.625          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C50                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  57968.062          64048.125          11690.750  3
    END-POINT  57968.062          64048.125          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5D                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57968.062          64048.125          11690.750  3  BW
    END-POINT  57965.062          64048.125          11690.750  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5C                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57965.062          64048.125          11690.750  3
    END-POINT  57965.062          64048.125          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57965.062          64048.125          11690.750  3
    END-POINT  57965.062          64048.125          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57964.784          64048.125          11690.750  3  FL
    END-POINT  57965.062          64048.125          11690.750  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5I                 
    PIPING-SPEC C1
GASKET
    END-POINT  57964.721          64048.125          11690.750  3
    END-POINT  57964.784          64048.125          11690.750  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5M                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57964.721          64048.125          11690.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5N                 
VALVE
    END-POINT  57964.721          64048.125          11690.750  3  FL
    END-POINT  57955.221          64048.125          11690.750  3  FL
    CENTRE-POINT   57959.971          64048.125          11690.750 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB3
    WEIGHT          57.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5L                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  57955.159          64048.125          11690.750  3
    END-POINT  57955.221          64048.125          11690.750  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5R                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57955.159          64048.125          11690.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5S                 
FLANGE
    END-POINT  57955.159          64048.125          11690.750  3  FL
    END-POINT  57954.880          64048.125          11690.750  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5Q                 
    PIPING-SPEC C1
WELD
    END-POINT  57954.880          64048.125          11690.750  3
    END-POINT  57954.880          64048.125          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
WELD
    END-POINT  57954.880          64048.125          11690.750  3
    END-POINT  57954.880          64048.125          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6K                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
PIPE
    END-POINT  57951.880          64048.125          11690.750  3  BW
    END-POINT  57954.880          64048.125          11690.750  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6H                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57951.880          64048.125          11690.750  3
    END-POINT  57951.880          64048.125          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6I                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57951.880          64048.125          11690.750  3  BW
    END-POINT  57947.380          64043.625          11690.750  3  BW
    CENTRE-POINT   57947.380          64048.125          11690.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C5W                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57947.380  64048.125  11690.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64048.125  11690.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57947.380  64048.125  11690.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57947.380  64138.748  11690.750 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57947.380          64043.625          11690.750  3
    END-POINT  57947.380          64043.625          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C65                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57947.380          64031.592          11690.750  3  BW
    END-POINT  57947.380          64043.625          11690.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C63                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57947.380          64031.592          11690.750  3
    END-POINT  57947.380          64031.592          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C64                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57947.380          64031.592          11690.750  3  BW
    END-POINT  57947.380          64027.092          11695.250  3  BW
    CENTRE-POINT   57947.380          64027.092          11690.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C61                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57947.380          64027.092          11695.250  3
    END-POINT  57947.380          64027.092          11695.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6D                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57947.380          64027.092          11720.104  3  BW
    END-POINT  57947.380          64027.092          11695.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6B                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57947.380          64027.092          11720.104  3
    END-POINT  57947.380          64027.092          11720.104  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C73                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57947.380          64027.092          11720.104  3  BW
    END-POINT  57942.880          64027.092          11724.604  3  BW
    CENTRE-POINT   57947.380          64027.092          11724.604 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6E                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57942.880          64027.092          11724.604  3
    END-POINT  57942.880          64027.092          11724.604  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C75                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57942.880          64027.092          11724.604  3  BW
    END-POINT  57815.516          64027.092          11724.578  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C74                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57909.888  64027.092  11724.597  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C7G                 
FLOW-ARROW
    CO-ORDS  57869.957  64027.092  11724.589 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57815.516          64027.092          11724.578  3
    END-POINT  57815.516          64027.092          11724.578  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C76                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57939.693  64027.092  11724.603  3
    END-POINT  57939.693  64027.092  11724.603  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C7L                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57939.693  64027.092  11724.603 
    BRANCH1-POINT  57939.693          64027.092          11726.978  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C7K                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57939.692          64027.091          11726.978  1  SC MALE 
    END-POINT  57939.693          64027.092          11726.978  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57939.693          64027.099          11762.345  1  SC MALE 
    END-POINT  57939.692          64027.091          11726.978  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBP                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57939.693          64027.099          11762.345 
    PIPELINE-REFERENCE ISO-PY3-1222019
ELBOW
    END-POINT  57812.102          64027.092          11723.164  3  BW
    END-POINT  57815.516          64027.092          11724.578  3  BW
    CENTRE-POINT   57813.516          64027.092          11724.578 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C70                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57812.102          64027.092          11723.164  3
    END-POINT  57812.102          64027.092          11723.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C72                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57808.688          64027.092          11721.750  3  BW
    END-POINT  57812.102          64027.092          11723.164  3  BW
    CENTRE-POINT   57810.688          64027.092          11721.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6X                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57808.688          64027.092          11721.750  3
    END-POINT  57808.688          64027.092          11721.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6Z                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57802.688          64027.092          11721.750  3  BW
    END-POINT  57808.688          64027.092          11721.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C6U                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57802.688          64027.092          11721.750  3
    END-POINT  57802.688          64027.092          11721.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCF                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57798.808          64022.972          11721.750  4  BW
    END-POINT  57798.808          64031.212          11721.750  4  BW
    CENTRE-POINT   57798.808          64027.092          11721.750 
    BRANCH1-POINT  57802.688          64027.092          11721.750  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G0D                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57798.808          64022.972          11721.750 
    PIPELINE-REFERENCE ISO-PY3-2034008
PIPE
    END-POINT  57972.562          64037.625          11690.750  3  BW
    END-POINT  57972.562          64043.625          11690.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C4W                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57972.562  64038.881  11690.750 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57972.562          64037.625          11690.750  3
    END-POINT  57972.562          64037.625          11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C4X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  57972.562  64040.625  11690.750  3
    END-POINT  57972.562  64040.625  11690.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CR3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57972.562  64040.625  11690.750 
    BRANCH1-POINT  57972.562          64040.625          11693.000  0.75  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X3/4
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CR2                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57972.562          64040.625          11693.000  0.75  SC MALE 
    END-POINT  57972.562          64040.625          11693.000  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CR9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57972.562          64040.625          11693.000  0.75  SC MALE 
    END-POINT  57972.562          64040.625          11697.182  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CR8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57972.562          64040.625          11697.182  0.75  SC FEMALE 
    END-POINT  57972.562          64040.625          11697.182  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57972.562          64040.625          11697.182  0.75  FL
    END-POINT  57972.562          64040.625          11697.182  0.75  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRA                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57972.562          64040.625          11697.245  0.75
    END-POINT  57972.562          64040.625          11697.182  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRE                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57972.562          64040.625          11697.245 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRF                 
VALVE-ANGLE
    END-POINT  57972.562          64040.625          11697.245  0.75  FL
    END-POINT  57967.375          64040.625          11703.432  1  FL
    CENTRE-POINT   57972.562          64040.625          11703.432 
    SKEY ARFL
    FABRICATION-ITEM
    ITEM-CODE VALVREL3/4X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRC                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57972.562  64040.625  11703.432 
    TEXT 3P$PSV$052$04
    UNDIMENSIONED
GASKET
    END-POINT  57967.312          64040.625          11703.432  1
    END-POINT  57967.375          64040.625          11703.432  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRK                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57967.312          64040.625          11703.432  1  FL
    END-POINT  57967.312          64040.625          11703.432  1  SC FEMALE 
    SKEY FLSC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRJ                 
    PIPING-SPEC C1
END-CONNECTION-PIPELINE 
    CO-ORDS  57967.312          64040.625          11703.432 
    PIPELINE-REFERENCE ISO-PY3-1222015
FLANGE
    END-POINT  57972.562          64034.875          11690.750  3  FL
    END-POINT  57972.562          64037.625          11690.750  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C35                 
    PIPING-SPEC C1
GASKET
    END-POINT  57972.562          64034.875          11690.750  3
    END-POINT 
** 
Processing ID: AT_1XSJ596O_CRS  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRS                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57972.562          64034.875          11690.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CRT                 
END-POSITION-OPEN 
    CO-ORDS  57972.562  64034.875  11690.750 
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION TEMPERATURE INDICATOR, TW-052-03
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVGLB3
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 125LB, FF, GL-12-DC-500
    RATING 125LB
ITEM-CODE SUPUB-3
    DESCRIPTION P651 FIG 1 U-BOLT GUIDE
ITEM-CODE TOL3X1
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 45LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE TOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVREL3/4X1
    CATALOG CONSOLIDATED VALVES
    DESCRIPTION RELIEF VALVE, PSV-052-04
    RATING 150LB
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3_1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
