ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046013
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 LC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046013-LC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/4/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/12/2009
    ATTRIBUTE25 DC
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 DC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/22/2009
    ATTRIBUTE42 SBR
    ATTRIBUTE43 DC
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57925.749          64113.545          11403.423  1.5  PL
    END-POINT  57925.749          64113.545          11407.423  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7R6                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57925.749          64113.545          11403.423  1.5
    END-POINT  57925.749          64113.545          11403.423  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9S9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57925.749          64113.545          11407.423  1.5  SW FEMALE 
    END-POINT  57925.749          64113.545          11407.423  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7R9                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      57925.749  64113.545  11400.298 
    BRANCH1-POINT  57925.749          64113.545          11403.423  1.5  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           1.040
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_DT                  
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57925.749  64113.545  11400.298 
    PIPELINE-REFERENCE ISO-PY3-2043006
VALVE
    END-POINT  57925.749          64113.545          11407.423  1.5  SW FEMALE 
    END-POINT  57925.749          64113.545          11411.173  1.5  SW FEMALE 
    CENTRE-POINT   57925.749          64113.545          11409.298 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7R8                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  57925.749          64113.545          11411.173  1.5
    END-POINT  57925.749          64113.545          11411.173  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7RE                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57925.749          64113.545          11411.173  1.5  PL
    END-POINT  57925.749          64113.545          11421.933  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7RD                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57925.749          64113.545          11421.933  1.5
    END-POINT  57925.749          64113.545          11421.933  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7RF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57925.749          64113.545          11421.933  1.5  SW FEMALE 
    END-POINT  57925.749          64112.295          11423.183  1.5  SW FEMALE 
    CENTRE-POINT   57925.749          64113.545          11423.183 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7EY                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  57925.749          64112.295          11423.183  1.5
    END-POINT  57925.749          64112.295          11423.183  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7F9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57925.749          64059.550          11423.183  1.5  PL
    END-POINT  57925.749          64112.295          11423.183  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7F7                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57925.749  64087.791  11423.183 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  57925.749          64059.550          11423.183  1.5
    END-POINT  57925.749          64059.550          11423.183  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7F8                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57926.999          64058.300          11423.183  1.5  SW FEMALE 
    END-POINT  57925.749          64059.550          11423.183  1.5  SW FEMALE 
    CENTRE-POINT   57925.749          64058.300          11423.183 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7F1                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57925.749  64058.300  11423.183 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64058.300  11423.183 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX1
    MESSAGE
    TEXT COL 1
SOCKET-WELD
    END-POINT  57926.999          64058.300          11423.183  1.5
    END-POINT  57926.999          64058.300          11423.183  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7F6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57954.499          64058.300          11423.183  1.5  PL
    END-POINT  57926.999          64058.300          11423.183  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7F4                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57943.794  64058.300  11423.183  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7FD                 
SUPPORT
    CO-ORDS  57943.794  64058.300  11423.183  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8B2                 
SOCKET-WELD
    END-POINT  57954.499          64058.300          11423.183  1.5
    END-POINT  57954.499          64058.300          11423.183  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7F5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57954.499          64058.300          11423.183  1.5  SW FEMALE 
    END-POINT  57955.749          64058.300          11424.433  1.5  SW FEMALE 
    CENTRE-POINT   57955.749          64058.300          11423.183 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7F2                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57955.749  64058.300  11423.183 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57955.749  63898.800  11423.183 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX1
    MESSAGE
    TEXT COL E
SOCKET-WELD
    END-POINT  57955.749          64058.300          11424.433  1.5
    END-POINT  57955.749          64058.300          11424.433  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7FB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57955.749          64058.300          11424.433  1.5  PL
    END-POINT  57955.749          64058.300          11532.500  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7FA                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57955.749  64058.300  11474.257 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  57955.749          64058.300          11532.500  1.5
    END-POINT  57955.749          64058.300          11532.500  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7FC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57955.749          64057.050          11533.750  1.5  SW FEMALE 
    END-POINT  57955.749          64058.300          11532.500  1.5  SW FEMALE 
    CENTRE-POINT   57955.749          64058.300          11533.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7EJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  57955.749          64057.050          11533.750  1.5
    END-POINT  57955.749          64057.050          11533.750  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9KU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57955.749          64057.050          11533.750  1.5  PL
    END-POINT  57955.749          63990.500          11533.750  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9KT                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57955.749  63997.734  11533.750 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57955.749  64025.254  11533.750  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9L0                 
SUPPORT
    CO-ORDS  57955.749  64025.261  11533.750  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9LU                 
SOCKET-WELD
    END-POINT  57955.749          63990.500          11533.750  1.5
    END-POINT  57955.749          63990.500          11533.750  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9KV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57955.749          63990.500          11533.750  1.5  SW FEMALE 
    END-POINT  57955.749          63989.250          11535.000  1.5  SW FEMALE 
    CENTRE-POINT   57955.749          63989.250          11533.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9K2                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  57955.749          63989.250          11535.000  1.5
    END-POINT  57955.749          63989.250          11535.000  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9K9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57955.749          63989.250          11596.367  1.5  PL
    END-POINT  57955.749          63989.250          11535.000  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9K7                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57955.749  63989.250  11568.002  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9KH                 
FLOOR-SYMBOL 
    CO-ORDS  57955.749  63989.250  11568.010 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57955.749  63989.250  11568.010 
    TEXT Grate Opening
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57955.749          63989.250          11596.367  1.5  SW FEMALE 
    END-POINT  57955.749          63989.250          11596.367  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9XD                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57955.749  63989.250  11588.512  1.5
    END-POINT  57955.749  63989.250  11588.512  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9SD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      57955.749  63989.250  11588.512 
    BRANCH1-POINT  57954.237          63989.250          11588.512  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL1+1/2X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9SB                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57954.237          63989.250          11588.512  0.75
    END-POINT  57954.237          63989.250          11588.512  0.75  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_116                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57942.191          63989.250          11588.512  0.75  PL
    END-POINT  57954.237          63989.250          11588.512  0.75  PL
    CONTINUATION 
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_MN                  
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57951.185  63989.250  11588.512 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  57942.191          63989.250          11588.512 
    PIPELINE-REFERENCE ISO-PY3-2046018
VALVE
    END-POINT  57955.749          63989.250          11596.367  1.5  SW FEMALE 
    END-POINT  57955.749          63989.250          11600.117  1.5  SW FEMALE 
    CENTRE-POINT   57955.749          63989.250          11598.242 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9XC                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57955.749          63989.250          11600.117  1.5
    END-POINT  57955.749          63989.250          11600.117  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9XM                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57955.749          63989.250          11608.937  1.5  PL
    END-POINT  57955.749          63989.250          11600.117  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9XK                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57955.749          63989.250          11608.937  1.5
    END-POINT  57955.749          63989.250          11608.937  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9XL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57955.749          63989.250          11608.937  1.5  SW FEMALE 
    END-POINT  57954.499          63989.250          11610.187  1.5  SW FEMALE 
    CENTRE-POINT   57955.749          63989.250          11610.187 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9XI                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  57954.499          63989.250          11610.187  1.5
    END-POINT  57954.499          63989.250          11610.187  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9XN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57933.136          63989.250          11610.187  1.5  PL
    END-POINT  57954.499          63989.250          11610.187  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9KQ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57933.136          63989.250          11610.187  1.5
    END-POINT  57933.136          63989.250          11610.187  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9KR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  57932.876          63989.250          11610.187  1.5  FL
    END-POINT  57933.136          63989.250          11610.187  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9KA                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  57932.876          63989.250          11610.187  1.5
    END-POINT  57932.751          63989.250          11610.187  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9SR                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57932.876          63989.250          11610.187 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9SS                 
END-POSITION-OPEN 
    CO-ORDS  57932.751          63989.250          11610.187 
MATERIALS
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE VALVGAT1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPTS-1+1/2
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION STEEL SUPPORT, P629-FIG 9, L=1'-0"
ITEM-CODE SUPAG-1+1/2_1
    DESCRIPTION STEEL SUPPORT, P629-FIG 10, L=1'-6", X=1'-10 3/4"
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION U BOLT GUIDE, P651 FIG 1
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION RISER CLAMP, P615, FIG.1
ITEM-CODE SOL1+1/2X3/4
    CATALOG MSS SP-97
    DESCRIPTION SOCKOLET, SWF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
