ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1901006
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_TF11.DWG
    ATTRIBUTE98 WW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1901006-WW-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-WW3-81P-001
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 3/20/2009
    ATTRIBUTE25 TS
    ATTRIBUTE26 3/25/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/25/2009
    ATTRIBUTE29 J, PHILIPPI
    ATTRIBUTE30 3/25/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/25/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 3/25/2009
    ATTRIBUTE36 DKC
    ATTRIBUTE37 TS
    ATTRIBUTE38 DCD
    ATTRIBUTE39 I.F.C.
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 10/26/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DD
    ATTRIBUTE50 DK
    ATTRIBUTE51 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MATERIALS
