ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215004-C
PIPING-SPEC S3C
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211_CORE.DWG
    ATTRIBUTE98 PML
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1215004-C-PML-S3C
    ATTRIBUTE95 I1
    ATTRIBUTE94 S3C
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-015
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 2/27/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57953.762          64255.095          11317.500  3  FL
    END-POINT  57956.346          64254.155          11317.500  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2GX                 
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  57953.762          64255.095          11317.500  3
    END-POINT  57953.645          64255.138          11317.500  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2GY                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57953.762          64255.095          11317.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2GZ                 
WELD
    END-POINT  57956.346          64254.155          11317.500  3
    END-POINT  57956.346          64254.155          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2XM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
NOZZLE
    CO-ORDS  57956.346          64254.155          11317.500  3  BW
    CONNECTION-REFERENCE PY3-054-1$NOZZLE TAG PY3-054-A
MISC-COMPONENT
    END-POINT  57942.368          64259.242          11317.500  3  FL
    END-POINT  57953.645          64255.138          11317.500  3  FL
    CENTRE-POINT  57948.007  64257.190  11317.500 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2GU                 
    PIPING-SPEC S3C
    INSULATION-ON 
MESSAGE
    CO-ORDS  57948.007  64257.190  11317.500 
    TEXT CONN RAM VA TO FLEX HOSE$SP-023, SEE DETAIL 4 ON DWG$GVL-GP3-GS3-70D-00
    TEXT 1
    UNDIMENSIONED
MESSAGE-ROUND
    CO-ORDS  57947.537  64257.361  11317.500 
    TEXT SP-033
    UNDIMENSIONED
GASKET
    END-POINT  57942.251          64259.285          11317.500  3
    END-POINT  57942.368          64259.242          11317.500  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_35N                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57942.251          64259.285          11317.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_35O                 
FLANGE
    END-POINT  57942.251          64259.285          11317.500  3  FL
    END-POINT  57939.667          64260.225          11317.500  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34P                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57939.667          64260.225          11317.500  3
    END-POINT  57939.667          64260.225          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  57922.332          64266.535          11317.500  3  BW
    END-POINT  57939.667          64260.225          11317.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36G                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57922.332          64266.535          11317.500  3
    END-POINT  57922.332          64266.535          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  57919.748          64267.475          11317.500  3  FL
    END-POINT  57922.332          64266.535          11317.500  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34M                 
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  57919.748          64267.475          11317.500  3
    END-POINT  57919.631          64267.518          11317.500  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34N                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57919.748          64267.475          11317.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34O                 
FLANGE
    END-POINT  57919.631          64267.518          11317.500  3  FL
    END-POINT  57917.047          64268.458          11317.500  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34K                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57917.047          64268.458          11317.500  3
    END-POINT  57917.047          64268.458          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34L                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  57913.288          64269.827          11317.500  3  BW
    END-POINT  57917.047          64268.458          11317.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34I                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57913.288          64269.827          11317.500  3
    END-POINT  57913.288          64269.827          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
ELBOW
    END-POINT  57904.957          64265.942          11317.500  3  BW
    END-POINT  57913.288          64269.827          11317.500  3  BW
    CENTRE-POINT   57907.180          64272.050          11317.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_347                 
    PIPING-SPEC S3C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57904.957          64265.942          11317.500  3
    END-POINT  57904.957          64265.942          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_349                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  57904.957          64265.942          11317.500  3  BW
    END-POINT  57903.589          64262.183          11317.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_348                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57903.589          64262.183          11317.500  3
    END-POINT  57903.589          64262.183          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  57902.648          64259.599          11317.500  3  FL
    END-POINT  57903.589          64262.183          11317.500  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34A                 
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  57902.605          64259.481          11317.500  3
    END-POINT  57902.648          64259.599          11317.500  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34D                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57902.605          64259.481          11317.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34E                 
FLANGE
    END-POINT  57902.605          64259.481          11317.500  3  FL
    END-POINT  57901.665          64256.897          11317.500  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34C                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57901.665          64256.897          11317.500  3
    END-POINT  57901.665          64256.897          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  57901.665          64256.897          11317.500  3  BW
    END-POINT  57900.297          64253.138          11317.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_34F                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57900.297          64253.138          11317.500  3
    END-POINT  57900.297          64253.138          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_362                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
ELBOW
    END-POINT  57900.297          64253.138          11317.500  3  BW
    END-POINT  57903.596          64245.020          11320.277  3  BW
    CENTRE-POINT   57898.074          64247.030          11317.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_360                 
    PIPING-SPEC S3C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57903.596          64245.020          11320.277  3
    END-POINT  57903.596          64245.020          11320.277  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  57906.995          64243.784          11321.986  3  BW
    END-POINT  57903.596          64245.020          11320.277  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36D                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57906.995          64243.784          11321.986  3
    END-POINT  57906.995          64243.784          11321.986  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  57909.331          64242.933          11323.161  3  FL
    END-POINT  57906.995          64243.784          11321.986  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36A                 
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  57909.331          64242.933          11323.161  3
    END-POINT  57909.437          64242.895          11323.214  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36B                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57909.331          64242.933          11323.161 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36C                 
FLANGE
    END-POINT  57909.437          64242.895          11323.214  3  FL
    END-POINT  57911.774          64242.044          11324.389  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_368                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57911.774          64242.044          11324.389  3
    END-POINT  57911.774          64242.044          11324.389  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_369                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  57915.172          64240.807          11326.098  3  BW
    END-POINT  57911.774          64242.044          11324.389  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_366                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57915.172          64240.807          11326.098  3
    END-POINT  57915.172          64240.807          11326.098  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_367                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
ELBOW
    END-POINT  57922.918          64244.905          11328.875  3  BW
    END-POINT  57915.172          64240.807          11326.098  3  BW
    CENTRE-POINT   57920.695          64238.797          11328.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_363                 
    PIPING-SPEC S3C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57922.918          64244.905          11328.875  3
    END-POINT  57922.918          64244.905          11328.875  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_365                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  57924.286          64248.664          11328.875  3  BW
    END-POINT  57922.918          64244.905          11328.875  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33Q                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57924.286          64248.664          11328.875  3
    END-POINT  57924.286          64248.664          11328.875  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  57925.226          64251.248          11328.875  3  FL
    END-POINT  57924.286          64248.664          11328.875  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33N                 
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  57925.226          64251.248          11328.875  3
    END-POINT  57925.269          64251.366          11328.875  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33O                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57925.226          64251.248          11328.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33P                 
FLANGE
    END-POINT  57925.269          64251.366          11328.875  3  FL
    END-POINT  57926.210          64253.950          11328.875  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33L                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57926.210          64253.950          11328.875  3
    END-POINT  57926.210          64253.950          11328.875  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
PIPE
    END-POINT  57927.578          64257.709          11328.875  3  BW
    END-POINT  57926.210          64253.950          11328.875  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33J                 
    PIPING-SPEC S3C
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57926.777  64255.509  11328.875 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57927.578          64257.709          11328.875  3
    END-POINT  57927.578          64257.709          11328.875  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
ELBOW
    END-POINT  57929.801          64263.817          11335.375  3  BW
    END-POINT  57927.578          64257.709          11328.875  3  BW
    CENTRE-POINT   57929.801          64263.817          11328.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33G                 
    PIPING-SPEC S3C
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57929.801  64263.817  11335.375 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57929.801  64378.800  11335.375 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX2
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57929.801  64263.817  11335.375 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.801  64263.817  11335.375 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57929.801          64263.817          11335.375  3
    END-POINT  57929.801          64263.817          11335.375  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57929.801          64263.817          11340.875  6  BW
    END-POINT  57929.801          64263.817          11335.375  3  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON6X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_33E                 
    PIPING-SPEC S3C
    INSULATION-ON 
WELD
    END-POINT  57929.801          64263.817          11340.875  6
    END-POINT  57929.801          64263.817          11340.875  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_35P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S3C
    INSULATION-ON 
FLANGE
    END-POINT  57929.801          64263.817          11344.375  6  FL
    END-POINT  57929.801          64263.817          11340.875  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2H9                 
    PIPING-SPEC S3C
    INSULATION-ON 
GASKET
    END-POINT  57929.801          64263.817          11344.375  6
    END-POINT  57929.801          64263.817          11344.500  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2HA                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57929.801          64263.817          11344.375 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2HB                 
MISC-COMPONENT
    END-POINT  57929.801          64263.817          11356.500  6  FL
    END-POINT  57929.801          64263.817          11344.500  6  FL
    CENTRE-POINT  57929.801  64263.817  11350.500 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_2H6                 
    PIPING-SPEC S3C
    INSULATION-ON 
MESSAGE
    CO-ORDS  57929.801  64263.817  11350.500 
    TEXT CONN RAM VA TO$ISO-PY3-1217017-1
    UNDIMENSIONED
MESSAGE-ROUND
    CO-ORDS  57929.801  64263.817  11350.113 
    TEXT SP-034
    UNDIMENSIONED
GASKET
    END-POINT  57929.801          64263.817          11356.500  6
    END-POINT  57929.801          64263.817          11356.625  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_35Y                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57929.801          64263.817          11356.625 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_35Z                 
MISC-COMPONENT
    END-POINT  57929.801          64263.817          11374.625  6  FL
    END-POINT  57929.801          64263.817          11356.625  6  FL
    CENTRE-POINT  57929.801  64263.817  11365.625 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_35T                 
    PIPING-SPEC S3C
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  57929.801  64263.817  11365.625 
    TEXT SP-039
    UNDIMENSIONED
GASKET
    END-POINT  57929.801          64263.817          11374.625  6
    END-POINT  57929.801          64263.817          11374.750  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36J                 
    PIPING-SPEC S3C
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57929.801          64263.817          11374.625 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISBBHL_36K                 
END-POSITION-OPEN 
    CO-ORDS  57929.801          64263.817          11374.750 
MATERIALS
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, BW, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR3
    DESCRIPTION RAM VALVE, SP-033
    RATING 150LB
ITEM-CODE PIP3
    CATALOG ANSI B16.9
    DESCRIPTION PIPE, SCH 10S, ASTM A312 Gr TP304L, SEAMLESS
    RATING 10S
ITEM-CODE 90L3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG ELBOW, LONG TAN, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON6X3
    CATALOG ANSI B16.9
    DESCRIPTION CONC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, BW, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR6
    DESCRIPTION RAM VALVE, SP-034
    RATING 150LB
ITEM-CODE GENSTR6_1
    DESCRIPTION PLUG VALVE, SP-039
    RATING 150LB
