ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046008
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046008-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57845.601          63989.250          11723.750  0.75  SC MALE 
    END-POINT  57839.600          63989.250          11723.750  0.75  SC MALE 
    CENTRE-POINT  57842.600  63989.250  11723.750 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H0C                 
    TAG TIT-239-13                      
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  57840.163  63989.250  11723.750 
    TEXT TIT$239$13
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  57845.601          63989.250          11723.750  0.75  SC FEMALE 
    END-POINT  57845.601          63989.250          11723.750  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H0B                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57839.600          63989.250          11723.750 
ELBOLET
    END-POINT  57846.913          63989.250          11723.750  3  PL
    END-POINT  57845.601          63989.250          11723.750  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H0A                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57846.913          63989.250          11723.750  3
    END-POINT  57846.913          63989.250          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H09                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  57846.500          63989.250          11719.250  3  BW
    END-POINT  57851.000          63989.250          11723.750  3  BW
    CENTRE-POINT   57846.500          63989.250          11723.750 
    BRANCH1-POINT  57846.913          63989.250          11723.750  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H06                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  57846.913          63989.250          11723.750  3
WELD
    END-POINT  57846.500          63989.250          11719.250  3
    END-POINT  57846.500          63989.250          11719.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H08                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57851.000          63989.250          11723.750  3
    END-POINT  57851.000          63989.250          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H05                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57851.000          63989.250          11723.750  3  BW
    END-POINT  58108.550          63989.250          11723.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H01                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57909.585  63989.250  11723.750  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H02                 
SUPPORT
    CO-ORDS  58056.806  63989.250  11723.750  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H03                 
FLOW-ARROW
    CO-ORDS  58029.996  63989.250  11723.750 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58108.550          63989.250          11723.750  3
    END-POINT  58108.550          63989.250          11723.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58113.050          63989.250          11728.250  3  BW
    END-POINT  58108.550          63989.250          11723.750  3  BW
    CENTRE-POINT   58113.050          63989.250          11723.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUE                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58113.050          63989.250          11728.250  3
    END-POINT  58113.050          63989.250          11728.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63989.250          11737.250  3  BW
    END-POINT  58113.050          63989.250          11728.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HU6                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58113.050          63989.250          11737.250  3
    END-POINT  58113.050          63989.250          11737.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HU7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58113.050          63984.750          11741.750  3  BW
    END-POINT  58113.050          63989.250          11737.250  3  BW
    CENTRE-POINT   58113.050          63989.250          11741.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HU3                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58113.050          63984.750          11741.750  3
    END-POINT  58113.050          63984.750          11741.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HU5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63881.317          11741.750  3  BW
    END-POINT  58113.050          63984.750          11741.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GZR                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58113.050          63881.317          11741.750  3
    END-POINT  58113.050          63881.317          11741.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58113.050  63961.368  11741.750  3
    END-POINT  58113.050  63961.368  11741.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HU1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58113.050  63961.368  11741.750 
    BRANCH1-POINT  58113.050          63961.368          11744.188  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HTZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58113.050          63961.368          11744.188  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11744.188  1.5  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NP0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63961.368          11744.188  1.5  SC MALE 
    END-POINT  58113.050          63961.368          11748.995  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOZ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58113.050          63961.368          11748.995 
    PIPELINE-REFERENCE ISO-PY3-2046036
TEE
    END-POINT  58113.050          63877.937          11745.130  3  BW
    END-POINT  58113.050          63877.937          11738.370  3  BW
    CENTRE-POINT   58113.050          63877.937          11741.750 
    BRANCH1-POINT  58113.050          63881.317          11741.750  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HU9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58113.050          63877.937          11745.130  3
    END-POINT  58113.050          63877.937          11745.130  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58113.050          63877.937          11738.370  3
    END-POINT  58113.050          63877.937          11738.370  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HUD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63877.937          11818.447  3  PL
    END-POINT  58113.050          63877.937          11745.130  3  BW
    CONTINUATION 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GZL                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58113.050  63877.937  11783.631  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GZM                 
TEE-SET-ON
    BRANCH1-POINT  58113.050          63876.187          11783.631  1.75
    CENTRE-POINT   58113.050  63877.937  11783.631 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58113.050          63876.187          11783.631  1.75  BW
    END-POINT  58113.050  63868.937  11783.631  1.75  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58113.050  63868.937  11783.631 
TEE-SET-ON
    BRANCH1-POINT  58113.050          63879.687          11783.631  1.75
    CENTRE-POINT   58113.050  63877.937  11783.631 
    SKEY TESO
PIPE
    END-POINT  58113.050          63879.687          11783.631  1.75  BW
    END-POINT  58113.050  63886.937  11783.631  1.75  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58113.050  63886.937  11783.631 
END-CONNECTION-PIPELINE 
    CO-ORDS  58113.050          63877.937          11818.447 
    PIPELINE-REFERENCE ISO-PY3-2046010
PIPE
    END-POINT  58113.050          63877.937          11455.259  3  BW
    END-POINT  58113.050          63877.937          11738.370  3  BW
    CONTINUATION 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H0K                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58113.050  63877.937  11651.874 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58113.050  63877.937  11565.250  3
    SKEY GUID
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IIL                 
SUPPORT
    CO-ORDS  58116.522  63877.937  11565.250  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IIN                 
SUPPORT
    CO-ORDS  58084.772  63876.186  11565.250  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IIQ                 
SUPPORT
    CO-ORDS  58113.050  63877.937  11565.250  3
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IIZ                 
END-CONNECTION-PIPELINE 
    CO-ORDS  58113.050          63877.937          11455.259 
    PIPELINE-REFERENCE ISO-PY3-2046012
PIPE
    END-POINT  57846.500          63989.250          11719.250  3  BW
    END-POINT  57846.500          63989.250          11649.063  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H0E                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57846.500  63989.250  11690.865 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57846.500          63989.250          11649.063  3
    END-POINT  57846.500          63989.250          11649.063  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H0G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57846.500          63989.250          11646.313  3  FL
    END-POINT  57846.500          63989.250          11649.063  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H0H                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57846.500          63989.250          11646.313 
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-239-13
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE SUPUB-3
    DESCRIPTION STANDARD U BOLT SUPPORT, P651 FIG 1
ITEM-CODE TOL3X1+1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE TEESTR3X3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
