ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036034
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036034-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 6
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 2/16/2009
    ATTRIBUTE54 RS
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 3/16/2009
    ATTRIBUTE60 RS
    ATTRIBUTE61 RP
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 7/31/2009
    ATTRIBUTE66 CP
    ATTRIBUTE67 BL
    ATTRIBUTE68 DD
    ATTRIBUTE69 REVISED AS NOTED
    ATTRIBUTE70 6
    ATTRIBUTE71 8/31/2012
    ATTRIBUTE72 DBH
    ATTRIBUTE73 KC
    ATTRIBUTE74 DD
    ATTRIBUTE75 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
WELD
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHM                 
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
MATERIALS
