ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2043006
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5211.DWG
    ATTRIBUTE98 VT
    ATTRIBUTE97 1.50
    ATTRIBUTE96 2043006-VT-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-043
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/4/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/10/2009
    ATTRIBUTE25 DC
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 D.DURK
    ATTRIBUTE37 DC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 9/21/2012
    ATTRIBUTE48 DBH
    ATTRIBUTE49 GH
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 10/26/2012
    ATTRIBUTE54 DBH
    ATTRIBUTE55 DD
    ATTRIBUTE56 DK
    ATTRIBUTE57 ADDED LINE 1223026 CONNECTION
    ATTRIBUTE58 4
    ATTRIBUTE59 12/17/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DK
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED SUPPORTS
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
SUPPORT
    CO-ORDS  58428.827  64295.790  11776.750 
** Unable to determine support size **

    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_A7                  
MATERIALS
ITEM-CODE SUPUB-4
    DESCRIPTION U-BOLT SUPPORT, P648 FIG 2
