ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215012-J
PIPING-SPEC S4J
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211_JACKET.DWG
    ATTRIBUTE98 PMI
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1215012-J-PMI-S4J
    ATTRIBUTE95 I1
    ATTRIBUTE94 S4J
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-015
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 2/27/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MESSAGE
    CO-ORDS  57993.044  64240.798  11317.500 
    TEXT 1"%%C JUMPER, TYPE 3$SEE DETAIL 7 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
MATERIALS
