ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216011
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216011-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS MARKED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS MARKED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 12/17/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DK
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED PSV-067-15
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58178.979          64072.789          11975.625  0.75  SC MALE 
    END-POINT  58180.980          64072.789          11975.625  0.75  SC MALE 
    CENTRE-POINT  58179.980  64072.789  11975.625 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IB2                 
    TAG TI-067-09                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58180.417  64072.789  11975.625 
    TEXT TI$067$09
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58178.979          64072.789          11975.625  0.75  SC MALE 
    END-POINT  58178.979          64072.789          11975.625  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IB4                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58180.980          64072.789          11975.625 
ELBOLET
    END-POINT  58177.667          64072.789          11975.625  3  PL
    END-POINT  58178.979          64072.789          11975.625  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IB5                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58177.667          64072.789          11975.625  3
    END-POINT  58177.667          64072.789          11975.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IB6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  58173.330          64072.789          11975.625  3  BW
    END-POINT  58177.830          64077.289          11975.625  3  BW
    CENTRE-POINT   58177.830          64072.789          11975.625 
    BRANCH1-POINT  58177.667          64072.789          11975.625  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IB7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  58177.667          64072.789          11975.625  3
WELD
    END-POINT  58173.330          64072.789          11975.625  3
    END-POINT  58173.330          64072.789          11975.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IB9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58177.830          64077.289          11975.625  3
    END-POINT  58177.830          64077.289          11975.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IBA                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58177.830          64077.289          11975.625  3  BW
    END-POINT  58177.830          64085.290          11975.625  1  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IBB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.830          64085.290          11975.625  1  SC FEMALE 
    END-POINT  58177.830          64085.290          11975.625  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58177.830          64085.290          11975.625  1  SC FEMALE 
    END-POINT  58177.830          64086.762          11975.625  1  SC FEMALE 
    CENTRE-POINT   58177.830          64085.972          11975.625 
    BRANCH1-POINT  58177.830          64085.972          11976.575  0.75  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6G                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58177.830          64086.762          11975.625  1  SC MALE 
    END-POINT  58177.830          64086.762          11975.625  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.830          64085.972          11976.575  0.75  SC MALE 
    END-POINT  58177.830          64085.972          11976.575  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58177.830          64085.972          11981.878  0.75  SC MALE 
    END-POINT  58177.830          64085.972          11976.575  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6S                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.830          64085.972          11981.878  0.75  SC MALE 
    END-POINT  58177.830          64085.972          11981.878  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58177.830          64085.972          11981.878  0.75  FL
    END-POINT  58177.830          64085.972          11981.878  0.75  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6P                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58177.830          64085.972          11981.878  0.75
    END-POINT  58177.830          64085.972          11981.940  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6Q                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58177.830          64085.972          11981.878 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6R                 
VALVE-ANGLE
    END-POINT  58177.830          64085.972          11981.940  0.75  FL
    END-POINT  58174.162          64089.640          11988.128  1  FL
    CENTRE-POINT   58177.830          64085.972          11988.128 
    SKEY ARFL
    FABRICATION-ITEM
    ITEM-CODE VALVREL3/4X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6K                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58177.830  64085.972  11988.128 
    TEXT PSV$067$15
    UNDIMENSIONED
GASKET
    END-POINT  58174.117          64089.684          11988.128  1
    END-POINT  58174.162          64089.640          11988.128  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6X                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58174.117          64089.684          11988.128  1  FL
    END-POINT  58174.117          64089.684          11988.128  1  SC FEMALE 
    SKEY FLSC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L6W                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58174.117          64089.684          11988.128 
    PIPELINE-REFERENCE ISO-PY3-1216026
PIPE
    END-POINT  58177.830          64086.762          11975.625  1  SC MALE 
    END-POINT  58177.830          64094.030          11975.625  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IC1                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.830          64094.030          11975.625  1  SC MALE 
    END-POINT  58177.830          64094.030          11975.625  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IC2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58177.830          64094.030          11975.625  1  SC FEMALE 
    END-POINT  58177.830          64096.216          11975.625  1  SC FEMALE 
    CENTRE-POINT   58177.830          64095.123          11975.625 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IC3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58177.830          64096.216          11975.625  1  SC FEMALE 
    END-POINT  58177.830          64096.216          11975.625  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IC5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58177.830          64096.216          11975.625  1  SC MALE 
    END-POINT  58177.830          64101.484          11975.625  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IC6                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58177.830  64098.904  11975.625  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IC7                 
SCREWED-WELD
    END-POINT  58177.830          64101.484          11975.625  1  SC MALE 
    END-POINT  58177.830          64101.484          11975.625  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IC8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58177.830          64102.404          11976.545  1  SC FEMALE 
    END-POINT  58177.830          64101.484          11975.625  1  SC FEMALE 
    CENTRE-POINT   58177.830          64102.404          11975.625 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IC9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58177.830          64102.404          11976.545  1  SC FEMALE 
    END-POINT  58177.830          64102.404          11976.545  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58177.830          64102.404          11976.545  1  SC MALE 
    END-POINT  58177.830          64102.404          12063.440  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.830          64102.404          12063.440  1  SC MALE 
    END-POINT  58177.830          64102.404          12063.440  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58177.830          64102.404          12063.440  1  SC FEMALE 
    END-POINT  58177.830          64102.404          12065.172  1  SC FEMALE 
    CENTRE-POINT   58177.830          64102.404          12064.360 
    BRANCH1-POINT  58177.179          64101.754          12064.360  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58177.830  64102.404  12064.360 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58177.830  64138.748  12064.360 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
SCREWED-WELD
    END-POINT  58177.830          64102.404          12065.172  1  SC FEMALE 
    END-POINT  58177.830          64102.404          12065.172  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.179          64101.754          12064.360  1  SC FEMALE 
    END-POINT  58177.179          64101.754          12064.360  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58169.399          64093.973          12064.360  1  SC MALE 
    END-POINT  58177.179          64101.754          12064.360  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58169.399          64093.973          12064.360  1  SC MALE 
    END-POINT  58169.399          64093.973          12064.360  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58169.017          64093.052          12064.360  1  SC FEMALE 
    END-POINT  58169.399          64093.973          12064.360  1  SC FEMALE 
    CENTRE-POINT   58169.017          64093.592          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58169.017  64093.592  12064.360 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64093.592  12064.360 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
SCREWED-WELD
    END-POINT  58169.017          64093.052          12064.360  1  SC FEMALE 
    END-POINT  58169.017          64093.052          12064.360  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58169.017          63996.408          12064.360  1  SC MALE 
    END-POINT  58169.017          64093.052          12064.360  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICM                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58169.017  64042.769  12064.360  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICN                 
FLOW-ARROW
    CO-ORDS  58169.017  64058.921  12064.360 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58169.017          63996.408          12064.360  1  SC MALE 
    END-POINT  58169.017          63996.408          12064.360  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58169.017          63995.488          12063.440  1  SC FEMALE 
    END-POINT  58169.017          63996.408          12064.360  1  SC FEMALE 
    CENTRE-POINT   58169.017          63995.488          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58169.017          63995.488          12063.440  1  SC FEMALE 
    END-POINT  58169.017          63995.488          12063.440  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58169.017          63995.488          12063.440  1  SC MALE 
    END-POINT  58169.017          63995.488          12047.796  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58169.017          63995.488          12047.796  1  SC MALE 
    END-POINT  58169.017          63995.488          12047.796  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K9O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58169.017  63995.488  12045.421 
    BRANCH1-POINT  58169.017          63995.488          12047.796  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GYC                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58169.017  63995.488  12045.421 
    PIPELINE-REFERENCE ISO-PY3-2046010
MISC-COMPONENT
    END-POINT  58177.830          64102.404          12065.172  1  SC MALE 
    END-POINT  58177.830          64102.404          12065.836  0.5  SC FEMALE 
    CENTRE-POINT  58177.830  64102.404  12065.504 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.830          64102.404          12065.836  0.5  SC FEMALE 
    END-POINT  58177.830          64102.404          12065.836  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58177.830          64102.404          12065.836  0.5  SC MALE 
    END-POINT  58177.830          64102.404          12069.836  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58177.830          64102.404          12069.836  0.5  SC MALE 
    END-POINT  58177.830          64102.404          12069.836  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICX                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58177.830          64102.404          12069.836  0.5  SC FEMALE 
    END-POINT  58177.830          64102.404          12071.186  0.5  SC FEMALE 
    CENTRE-POINT   58177.830          64102.404          12070.576 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ICY                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  58177.830          64102.404          12071.186  0.5  SC FEMALE 
    END-POINT  58177.830          64102.404          12071.186  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ID0                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58177.830          64102.404          12071.186  0.5  SC MALE 
    END-POINT  58177.830          64102.404          12072.056  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ID1                 
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58173.330          64072.789          11975.625  3  BW
    END-POINT  58165.329          64072.789          11975.625  1  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ID2                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58165.329          64072.789          11975.625  1  SC MALE 
    END-POINT  58165.329          64072.789          11975.625  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ID3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  58165.327          64072.789          11975.625  1  FL
    END-POINT  58165.329          64072.789          11975.625  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_ID4                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  58165.327          64072.789          11975.625  1
    END-POINT  58165.265          64072.789          11975.625  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L7C                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58165.327          64072.789          11975.625 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_L7D                 
NOZZLE
    CO-ORDS  58165.265          64072.789          11975.625  1  FL
    CONNECTION-REFERENCE PY3-067$NOZZLE TAG FLANGE1EDC0-R$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-067-09
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxSCM, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
ITEM-CODE TEERED1X1X3/4
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVREL3/4X1
    CATALOG CONSOLIDATED VALVES
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-067-15
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SCF, 150LB, GL-01-BA-000
    RATING 150LB
ITEM-CODE SUPST-1
    DESCRIPTION BASE SUPPORT, L=4'-0 11/16", P622 FIG 1
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE 45L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 45 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=5'-6 3/16", P624 FIG 4
ITEM-CODE BSHGHEX1X1/2
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x4" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 4"
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
