ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215012-J
PIPING-SPEC S4J
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211_JACKET.DWG
    ATTRIBUTE98 PMI
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1215012-J-PMI-S4J
    ATTRIBUTE95 I1
    ATTRIBUTE94 S4J
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-015
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 2/27/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58015.723          64232.543          11317.378  3  BW
    END-POINT  58015.723          64232.543          11313.878  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_173                 
    PIPING-SPEC S4J
    INSULATION-ON 
    CUT-PIECE-ALLOWANCE EP2 1/2"
MESSAGE
    CO-ORDS  58015.723  64232.543  11313.878 
    TEXT DM INJECTION POINT$SEE DETAIL 2 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58015.723          64232.543          11317.378  3
    END-POINT  58015.723          64232.543          11317.378  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_174                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58015.723          64232.543          11313.878 
ELBOW-TEED
    END-POINT  58015.723          64232.543          11324.000  6  BW
    END-POINT  58010.085          64234.595          11318.000  6  BW
    CENTRE-POINT   58015.723          64232.543          11318.000 
    BRANCH1-POINT  58015.723          64232.543          11317.378  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_50                  
    PIPING-SPEC S4J
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  58015.723          64232.543          11317.378  3
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58015.723  64232.543  11318.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58015.723  64378.800  11318.000 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX2
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58015.723  64232.543  11318.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64232.543  11318.000 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  58015.723          64232.543          11324.000  6
    END-POINT  58015.723          64232.543          11324.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
WELD
    END-POINT  58010.085          64234.595          11318.000  6
    END-POINT  58010.085          64234.595          11318.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1IB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58010.085          64234.595          11318.000  6  BW
    END-POINT  57997.272          64239.259          11318.000  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1IA                 
    PIPING-SPEC S4J
    INSULATION-ON 
SUPPORT
    CO-ORDS  57999.152  64238.575  11318.000  6
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WV                 
WELD
    END-POINT  57997.272          64239.259          11318.000  6
    END-POINT  57997.272          64239.259          11318.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  57997.272          64239.259          11318.000  6  BW
    END-POINT  57993.983          64240.456          11318.000  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TW                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57993.983          64240.456          11317.500  3  BW
    END-POSITION-CLOSED 
    CO-ORDS  57993.983          64240.456          11318.000 
WELD
    END-POINT  57993.983          64240.456          11317.500  3
    END-POINT  57993.983          64240.456          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1Y9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  57993.044          64240.798          11317.500  3  BW
    END-POINT  57993.983          64240.456          11317.500  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1Y7                 
    PIPING-SPEC S4J
    INSULATION-ON 
WELD
    END-POINT  57993.044          64240.798          11317.500  3
    END-POINT  57993.044          64240.798          11317.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1Y8                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
FLANGE
    END-POINT  57990.112          64241.865          11317.500  3  FL
    END-POINT  57993.044          64240.798          11317.500  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TB                 
    PIPING-SPEC S4J
    INSULATION-ON 
GASKET
    END-POINT  57990.053          64241.886          11317.500  3
    END-POINT  57990.112          64241.865          11317.500  3
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TE                 
    PIPING-SPEC S4J
    INSULATION-ON 
    GASKET-RATING 300LB          
MISC-COMPONENT
    END-POINT  57990.053          64241.886          11317.500  3  FL
    END-POINT  57978.659          64246.033          11317.500  3  FL
    CENTRE-POINT  57984.356  64243.960  11317.500 
    SKEY NCFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TD                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57978.659  64246.033  11317.500 
    TEXT 1"%%C JUMPER, TYPE 5$SEE DETAIL 9 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
GASKET
    END-POINT  57978.601          64246.055          11317.500  3
    END-POINT  57978.659          64246.033          11317.500  3
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TH                 
    PIPING-SPEC S4J
    INSULATION-ON 
    GASKET-RATING 300LB          
FLANGE
    END-POINT  57978.601          64246.055          11317.500  3  FL
    END-POINT  57975.669          64247.122          11317.500  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TG                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57975.669  64247.122  11317.500 
    TEXT ISO-PY3-1215012-C-1$AT PY3-054 DISCH NOZZ
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57975.669          64247.122          11317.500 
CAP
    END-POINT  58015.723          64232.543          11324.000  6  BW
    END-POINT  58015.723          64232.543          11327.500  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TY                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58015.723          64232.543          11327.500  4  BW
WELD
    END-POINT  58015.723          64232.543          11327.500  4
    END-POINT  58015.723          64232.543          11327.500  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58015.723          64232.543          11327.500  4  BW
    END-POINT  58015.723          64232.543          11328.500  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1P7                 
    PIPING-SPEC S4J
    INSULATION-ON 
WELD
    END-POINT  58015.723          64232.543          11328.500  4
    END-POINT  58015.723          64232.543          11328.500  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TM                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
FLANGE
    END-POINT  58015.723          64232.543          11331.880  4  FL
    END-POINT  58015.723          64232.543          11328.500  4  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TL                 
    PIPING-SPEC S4J
    INSULATION-ON 
GASKET
    END-POINT  58015.721          64232.544          11331.942  4
    END-POINT  58015.723          64232.543          11331.880  4
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TT                 
    PIPING-SPEC S4J
    INSULATION-ON 
    GASKET-RATING 300LB          
GAP
    END-POINT  58015.723          64232.543          11331.880  4  
    END-POINT  58015.723          64232.543          11331.880  4  
    PIPING-SPEC S4J
MISC-COMPONENT
    END-POINT  58015.721          64232.544          11354.692  4  FL
    END-POINT  58015.721          64232.544          11331.942  4  FL
    CENTRE-POINT  58015.721  64232.544  11343.317 
    SKEY NCFL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TQ                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58015.721  64232.544  11331.942 
    TEXT 1"%%C JUMPER, TYPE 3$SEE DETAIL 7 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58015.721  64232.544  11354.692 
    TEXT 1"%%C JUMPER, TYPE 3$SEE DETAIL 7 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
GASKET
    END-POINT  58015.721          64232.544          11354.692  4
    END-POINT  58015.721          64232.544          11354.755  4
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TR                 
    PIPING-SPEC S4J
    INSULATION-ON 
    GASKET-RATING 300LB          
FLANGE
    END-POINT  58015.721          64232.544          11354.755  4  FL
    END-POINT  58015.721          64232.544          11358.135  4  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TO                 
    PIPING-SPEC S4J
    INSULATION-ON 
WELD
    END-POINT  58015.721          64232.544          11358.135  4
    END-POINT  58015.721          64232.544          11358.135  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1TP                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58015.721          64232.544          11359.135  4  BW
    END-POINT  58015.721          64232.544          11358.135  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1P9                 
    PIPING-SPEC S4J
    INSULATION-ON 
WELD
    END-POINT  58015.721          64232.544          11359.135  4
    END-POINT  58015.721          64232.544          11359.135  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58015.721          64232.544          11362.635  6  BW
    END-POINT  58015.721          64232.544          11359.135  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1U0                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58015.721          64232.544          11359.135  4  BW
WELD
    END-POINT  58015.721          64232.544          11362.635  6
    END-POINT  58015.721          64232.544          11362.635  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1Y2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58015.721          64232.544          11362.635  6  BW
    END-POINT  58015.721          64232.544          11471.551  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1Y1                 
    PIPING-SPEC S4J
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58015.721  64232.544  11414.009 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58015.721          64232.544          11471.551  6
    END-POINT  58015.721          64232.544          11471.551  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1Y3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58015.721          64232.544          11471.551  6  BW
    END-POINT  58015.721          64232.544          11475.051  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1U4                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58015.721          64232.544          11475.051  4  BW
WELD
    END-POINT  58015.721          64232.544          11475.051  4
    END-POINT  58015.721          64232.544          11475.051  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58015.721          64232.544          11483.936  4  BW
    END-POINT  58015.721          64232.544          11475.051  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1LF                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58015.721  64232.544  11479.493 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58015.721          64232.544          11483.936  4
    END-POINT  58015.721          64232.544          11483.936  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58015.721          64232.544          11487.436  6  BW
    END-POINT  58015.721          64232.544          11483.936  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1U2                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58015.721          64232.544          11483.936  4  BW
WELD
    END-POINT  58015.721          64232.544          11487.436  6
    END-POINT  58015.721          64232.544          11487.436  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1U3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
ELBOW
    END-POINT  58015.721          64232.544          11487.436  6  BW
    END-POINT  58015.721          64229.892          11493.837  6  BW
    CENTRE-POINT   58015.721          64232.544          11491.186 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_HB                  
    PIPING-SPEC S4J
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58015.721          64229.892          11493.837  6
    END-POINT  58015.721          64229.892          11493.837  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1U7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58015.721          64229.892          11493.837  6  BW
    END-POINT  58015.721          64227.417          11496.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1U6                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58015.721          64227.417          11496.312  4  BW
WELD
    END-POINT  58015.721          64227.417          11496.312  4
    END-POINT  58015.721          64227.417          11496.312  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VF                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58015.721          64221.134          11502.595  4  BW
    END-POINT  58015.721          64227.417          11496.312  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1LB                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58015.721  64224.276  11499.454 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58015.721          64221.134          11502.595  4
    END-POINT  58015.721          64221.134          11502.595  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58015.721          64218.660          11505.070  6  BW
    END-POINT  58015.721          64221.134          11502.595  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UA                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58015.721          64221.134          11502.595  4  BW
WELD
    END-POINT  58015.721          64218.660          11505.070  6
    END-POINT  58015.721          64218.660          11505.070  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
ELBOW
    END-POINT  58021.721          64214.417          11509.312  6  BW
    END-POINT  58015.721          64218.660          11505.070  6  BW
    CENTRE-POINT   58015.721          64214.417          11509.312 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_FJ                  
    PIPING-SPEC S4J
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58021.721          64214.417          11509.312  6
    END-POINT  58021.721          64214.417          11509.312  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1U9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58021.721          64214.417          11509.312  6  BW
    END-POINT  58025.221          64214.417          11509.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1U8                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58025.221          64214.417          11509.312  4  BW
WELD
    END-POINT  58025.221          64214.417          11509.312  4
    END-POINT  58025.221          64214.417          11509.312  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VA                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58034.108          64214.417          11509.312  4  BW
    END-POINT  58025.221          64214.417          11509.312  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1L8                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58029.664  64214.417  11509.312 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58034.108          64214.417          11509.312  4
    END-POINT  58034.108          64214.417          11509.312  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58037.608          64214.417          11509.312  6  BW
    END-POINT  58034.108          64214.417          11509.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UC                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58034.108          64214.417          11509.312  4  BW
WELD
    END-POINT  58037.608          64214.417          11509.312  6
    END-POINT  58037.608          64214.417          11509.312  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58037.608          64214.417          11509.312  6  BW
    END-POINT  58192.665          64214.417          11509.312  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_13V                 
    PIPING-SPEC S4J
    INSULATION-ON 
SUPPORT
    CO-ORDS  58054.800  64214.417  11509.312  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_13Y                 
WELD
    END-POINT  58192.665          64214.417          11509.312  6
    END-POINT  58192.665          64214.417          11509.312  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UF                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58192.665          64214.417          11509.312  6  BW
    END-POINT  58196.165          64214.417          11509.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UE                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58196.165          64214.417          11509.312  4  BW
WELD
    END-POINT  58196.165          64214.417          11509.312  4
    END-POINT  58196.165          64214.417          11509.312  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WR                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58196.165          64214.417          11509.312  4  BW
    END-POINT  58197.165          64214.417          11509.312  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1O2                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58197.165  64214.417  11509.312 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58197.165          64214.417          11509.312  4
    END-POINT  58197.165          64214.417          11509.312  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UZ                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
FLANGE
    END-POINT  58200.545          64214.417          11509.312  4  FL
    END-POINT  58197.165          64214.417          11509.312  4  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UY                 
    PIPING-SPEC S4J
    INSULATION-ON 
GASKET
    END-POINT  58200.608          64214.417          11509.312  4
    END-POINT  58200.545          64214.417          11509.312  4
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1V1                 
    PIPING-SPEC S4J
    INSULATION-ON 
    GASKET-RATING 300LB          
FLANGE
    END-POINT  58200.608          64214.417          11509.312  4  FL
    END-POINT  58203.988          64214.417          11509.312  4  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1V0                 
    PIPING-SPEC S4J
    INSULATION-ON 
WELD
    END-POINT  58203.988          64214.417          11509.312  4
    END-POINT  58203.988          64214.417          11509.312  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1V6                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58203.988          64214.417          11509.312  4  BW
    END-POINT  58205.050          64214.417          11509.312  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1V5                 
    PIPING-SPEC S4J
    INSULATION-ON 
WELD
    END-POINT  58205.050          64214.417          11509.312  4
    END-POINT  58205.050          64214.417          11509.312  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1V7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58208.550          64214.417          11509.312  6  BW
    END-POINT  58205.050          64214.417          11509.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UG                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58205.050          64214.417          11509.312  4  BW
WELD
    END-POINT  58208.550          64214.417          11509.312  6
    END-POINT  58208.550          64214.417          11509.312  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
ELBOW
    END-POINT  58214.952          64214.417          11511.964  6  BW
    END-POINT  58208.550          64214.417          11509.312  6  BW
    CENTRE-POINT   58212.300          64214.417          11509.312 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_EE                  
    PIPING-SPEC S4J
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58214.952          64214.417          11511.964  6
    END-POINT  58214.952          64214.417          11511.964  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58214.952          64214.417          11511.964  6  BW
    END-POINT  58217.427          64214.417          11514.439  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UI                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58217.427          64214.417          11514.439  4  BW
WELD
    END-POINT  58217.427          64214.417          11514.439  4
    END-POINT  58217.427          64214.417          11514.439  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58217.427          64214.417          11514.439  4  BW
    END-POINT  58223.709          64214.417          11520.722  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1M4                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58220.568  64214.417  11517.580 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58223.709          64214.417          11520.722  4
    END-POINT  58223.709          64214.417          11520.722  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58226.184          64214.417          11523.197  6  BW
    END-POINT  58223.709          64214.417          11520.722  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UK                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58223.709          64214.417          11520.722  4  BW
WELD
    END-POINT  58226.184          64214.417          11523.197  6
    END-POINT  58226.184          64214.417          11523.197  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UL                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58232.512          64214.417          11529.525  6  BW
    END-POINT  58226.184          64214.417          11523.197  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_G0                  
    PIPING-SPEC S4J
    INSULATION-ON 
WELD
    END-POINT  58232.512          64214.417          11529.525  6
    END-POINT  58232.512          64214.417          11529.525  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58232.512          64214.417          11529.525  6  BW
    END-POINT  58234.987          64214.417          11532.000  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UM                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58234.987          64214.417          11532.000  4  BW
WELD
    END-POINT  58234.987          64214.417          11532.000  4
    END-POINT  58234.987          64214.417          11532.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UT                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58234.987          64214.417          11532.000  4  BW
    END-POINT  58241.270          64214.417          11538.282  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1M7                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58238.129  64214.417  11535.141 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58241.270          64214.417          11538.282  4
    END-POINT  58241.270          64214.417          11538.282  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1US                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58243.745          64214.417          11540.757  6  BW
    END-POINT  58241.270          64214.417          11538.282  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UO                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58241.270          64214.417          11538.282  4  BW
WELD
    END-POINT  58243.745          64214.417          11540.757  6
    END-POINT  58243.745          64214.417          11540.757  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1UP                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
ELBOW
    END-POINT  58247.988          64208.417          11545.000  6  BW
    END-POINT  58243.745          64214.417          11540.757  6  BW
    CENTRE-POINT   58247.988          64214.417          11545.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_8H                  
    PIPING-SPEC S4J
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58247.988          64208.417          11545.000  6
    END-POINT  58247.988          64208.417          11545.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58247.988          64208.417          11545.000  6  BW
    END-POINT  58247.988          64204.917          11545.000  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VV                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58247.988          64204.917          11545.000  4  BW
WELD
    END-POINT  58247.988          64204.917          11545.000  4
    END-POINT  58247.988          64204.917          11545.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64204.917          11545.000  4  BW
    END-POINT  58247.988          64196.039          11545.000  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1MA                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58247.988  64200.478  11545.000 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58247.988          64196.039          11545.000  4
    END-POINT  58247.988          64196.039          11545.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58247.988          64192.539          11545.000  6  BW
    END-POINT  58247.988          64196.039          11545.000  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VT                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58247.988          64196.039          11545.000  4  BW
WELD
    END-POINT  58247.988          64192.539          11545.000  6
    END-POINT  58247.988          64192.539          11545.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64192.539          11545.000  6  BW
    END-POINT  58247.988          64175.185          11545.000  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_HI                  
    PIPING-SPEC S4J
    INSULATION-ON 
SUPPORT
    CO-ORDS  58247.988  64181.185  11545.000  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_HL                  
WELD
    END-POINT  58247.988          64175.185          11545.000  6
    END-POINT  58247.988          64175.185          11545.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58247.988          64175.185          11545.000  6  BW
    END-POINT  58247.988          64171.685          11545.000  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VR                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58247.988          64171.685          11545.000  4  BW
WELD
    END-POINT  58247.988          64171.685          11545.000  4
    END-POINT  58247.988          64171.685          11545.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64171.685          11545.000  4  BW
    END-POINT  58247.988          64162.800          11545.000  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1MD                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58247.988  64167.243  11545.000 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58247.988          64162.800          11545.000  4
    END-POINT  58247.988          64162.800          11545.000  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W1                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58247.988          64159.300          11545.000  6  BW
    END-POINT  58247.988          64162.800          11545.000  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VO                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58247.988          64162.800          11545.000  4  BW
WELD
    END-POINT  58247.988          64159.300          11545.000  6
    END-POINT  58247.988          64159.300          11545.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1VP                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
ELBOW
    END-POINT  58247.988          64153.300          11551.000  6  BW
    END-POINT  58247.988          64159.300          11545.000  6  BW
    CENTRE-POINT   58247.988          64153.300          11545.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_7N                  
    PIPING-SPEC S4J
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58247.988  64153.300  11545.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58247.988  64138.748  11545.000 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX2
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58247.988  64153.300  11545.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64153.300  11545.000 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58247.988          64153.300          11551.000  6
    END-POINT  58247.988          64153.300          11551.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WA                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58247.988          64153.300          11551.000  6  BW
    END-POINT  58247.988          64153.300          11554.500  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W9                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58247.988          64153.300          11554.500  4  BW
WELD
    END-POINT  58247.988          64153.300          11554.500  4
    END-POINT  58247.988          64153.300          11554.500  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64153.300          11554.500  4  BW
    END-POINT  58247.988          64153.300          11563.385  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1MG                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58247.988  64153.300  11558.943 
    TEXT 1"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58247.988          64153.300          11563.385  4
    END-POINT  58247.988          64153.300          11563.385  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58247.988          64153.300          11566.885  6  BW
    END-POINT  58247.988          64153.300          11563.385  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W7                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58247.988          64153.300          11563.385  4  BW
WELD
    END-POINT  58247.988          64153.300          11566.885  6
    END-POINT  58247.988          64153.300          11566.885  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W8                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64153.300          11566.885  6  BW
    END-POINT  58247.988          64153.300          11760.745  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_85                  
    PIPING-SPEC S4J
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58247.988  64153.300  11608.910 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58247.988  64153.300  11570.380  6
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WX                 
FLOOR-SYMBOL 
    CO-ORDS  58247.988  64153.300  11568.054 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58247.988  64153.300  11568.054 
    TEXT Grate Opening
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58247.988  64153.300  11760.745 
    TEXT CONN TO ISO-PY3-1215013-1$HALF COUPLING ON CAP
    UNDIMENSIONED
WELD
    END-POINT  58247.988          64153.300          11760.745  6
    END-POINT  58247.988          64153.300          11760.745  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W6                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
CAP
    END-POINT  58247.988          64153.300          11760.745  6  BW
    END-POINT  58247.988          64153.300          11764.245  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1W5                 
    PIPING-SPEC S4J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58247.988          64153.300          11764.245  4  BW
WELD
    END-POINT  58247.988          64153.300          11764.245  4
    END-POINT  58247.988          64153.300          11764.245  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64153.300          11765.259  4  BW
    END-POINT  58247.988          64153.300          11764.245  4  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WG                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58247.988  64153.300  11765.259 
    TEXT 1"%%C JUMPER, TYPE 2$SEE DETAIL 6 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  58247.988          64153.300          11765.259  4
    END-POINT  58247.988          64153.300          11765.259  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WH                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
FLANGE
    END-POINT  58247.988          64153.300          11768.639  4  FL
    END-POINT  58247.988          64153.300          11765.259  4  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISKC6W_1WE                 
    PIPING-SPEC S4J
    INSULATION-ON 
MESSAGE
    CO-ORDS  58247.988  64153.300  11768.639 
    TEXT ISO-PY3-1215012-C-2$AT PY3-012 NOZZ F
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58247.988          64153.300          11768.639 
MATERIALS
ITEM-CODE PIP3
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90LSR6
    CATALOG ASME/ANSI B16.28
    DESCRIPTION ELBOW 90 DEG. SR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.28
    RATING 40
ITEM-CODE PIP6
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPST-6
    DESCRIPTION BASE SUPPORT, L=2'-9 11/16", P619 Fig. 1
ITEM-CODE CAP6
    CATALOG ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ANSI B16.9 W/2  EA HALF CPLGS, SCF, 3000LB, ASTM A105, ANSI B16.11, TAPS UP/DN, SEE DET 5, GVL-GP3-GS3-70D-001
    RATING 40
ITEM-CODE CAP6_1
    CATALOG ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ANSI B16.9 W/2  EA HALF CPLGS, SCF, 3000LB, ASTM A105, ANSI B16.11, TAPS N/S, SEE DET 5, GVL-GP3-GS3-70D-001
    RATING 40
ITEM-CODE 45LLR6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPTS-6
    DESCRIPTION DIRECTIONAL ANCHOR, P602 Fig. 4
ITEM-CODE SUPRH-6
    DESCRIPTION GENERAL HANGER, L=1'-6 1/2", P624 Fig. 4
ITEM-CODE CAP6_2
    CATALOG ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ANSI B16.9 W/2  EA HALF CPLGS, SCF, 3000LB, ASTM A105, ANSI B16.11, TAPS E/W, SEE DET 5, GVL-GP3-GS3-70D-001
    RATING 40
ITEM-CODE SUPRH-6_1
    DESCRIPTION RISER CLAMP, P615, Fig. 2
