ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046022
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046022-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58227.797          64274.331          11316.547  0.5  SC MALE 
    END-POINT  58227.797          64274.331          11318.547  0.5  SC MALE 
    CENTRE-POINT  58227.797  64274.331  11317.547 
    SKEY NCSC
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MB3                 
    TAG TO SPARE                        
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.797  64274.331  11318.047 
    TEXT SPARE
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58227.797          64274.331          11316.547  0.5  SC MALE 
    END-POINT  58227.797          64274.331          11316.547  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MB5                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58227.797          64274.331          11318.547 
VALVE
    END-POINT  58227.797          64274.331          11315.102  0.5  SC FEMALE 
    END-POINT  58227.797          64274.331          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.797          64274.331          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MB6                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.797          64274.331          11315.102  0.5  SC FEMALE 
    END-POINT  58227.797          64274.331          11315.102  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MB8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.797          64274.331          11311.242  0.5  SC MALE 
    END-POINT  58227.797          64274.331          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MB9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.797          64274.331          11311.242  0.5  SC MALE 
    END-POINT  58227.797          64274.331          11311.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.797          64273.621          11310.012  1.5  SC FEMALE 
    END-POINT  58227.797          64275.041          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.797          64274.331          11310.012 
    BRANCH1-POINT  58227.797          64274.331          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBB                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.797          64273.621          11310.012  1.5  SC FEMALE 
    END-POINT  58227.797          64273.621          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.797          64275.041          11310.012  1.5  SC FEMALE 
    END-POINT  58227.797          64275.041          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.797          64275.041          11310.012  1.5  SC MALE 
    END-POINT  58227.796          64280.121          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBE                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58227.797  64277.694  11310.012 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58227.796          64280.121          11310.012  1.5  SC MALE 
    END-POINT  58227.796          64280.121          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.796          64280.121          11310.012  1.5  SC FEMALE 
    END-POINT  58227.796          64281.541          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.796          64280.831          11310.012 
    BRANCH1-POINT  58227.796          64280.831          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBH                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.796          64281.541          11310.012  1.5  SC FEMALE 
    END-POINT  58227.796          64281.541          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.796          64280.831          11311.242  0.5  SC FEMALE 
    END-POINT  58227.796          64280.831          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.796          64280.831          11311.242  0.5  SC MALE 
    END-POINT  58227.796          64280.831          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.796          64280.831          11315.102  0.5  SC MALE 
    END-POINT  58227.796          64280.831          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.796          64280.831          11315.102  0.5  SC FEMALE 
    END-POINT  58227.796          64280.831          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.796          64280.831          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBM                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.796          64280.831          11316.547  0.5  SC FEMALE 
    END-POINT  58227.796          64280.831          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.796          64280.831          11316.547  0.5  SC MALE 
    END-POINT  58227.796          64280.831          11319.547  0.5  SC MALE 
    CENTRE-POINT  58227.796  64280.831  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBP                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.796  64280.831  11319.047 
    TEXT TO 1219015$MANIFOLD # 07$VALVE # 005
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.796          64280.831          11319.547 
PIPE
    END-POINT  58227.796          64281.541          11310.012  1.5  SC MALE 
    END-POINT  58227.795          64286.621          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBR                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.795          64286.621          11310.012  1.5  SC MALE 
    END-POINT  58227.795          64286.621          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.795          64286.621          11310.012  1.5  SC FEMALE 
    END-POINT  58227.795          64288.041          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.795          64287.331          11310.012 
    BRANCH1-POINT  58227.795          64287.331          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBT                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.795          64288.041          11310.012  1.5  SC FEMALE 
    END-POINT  58227.795          64288.041          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.795          64287.331          11311.242  0.5  SC FEMALE 
    END-POINT  58227.795          64287.331          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.795          64287.331          11311.242  0.5  SC MALE 
    END-POINT  58227.795          64287.331          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.795          64287.331          11315.102  0.5  SC MALE 
    END-POINT  58227.795          64287.331          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.795          64287.331          11315.102  0.5  SC FEMALE 
    END-POINT  58227.795          64287.331          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.795          64287.331          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MBY                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.795          64287.331          11316.547  0.5  SC FEMALE 
    END-POINT  58227.795          64287.331          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.795          64287.331          11316.547  0.5  SC MALE 
    END-POINT  58227.795          64287.331          11319.547  0.5  SC MALE 
    CENTRE-POINT  58227.795  64287.331  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC1                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.795  64287.331  11319.047 
    TEXT TO 1219014$MANIFOLD # 07$VALVE # 004
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.795          64287.331          11319.547 
PIPE
    END-POINT  58227.795          64288.041          11310.012  1.5  SC MALE 
    END-POINT  58227.794          64293.121          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.794          64293.121          11310.012  1.5  SC MALE 
    END-POINT  58227.794          64293.121          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.794          64293.121          11310.012  1.5  SC FEMALE 
    END-POINT  58227.794          64294.541          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.794          64293.831          11310.012 
    BRANCH1-POINT  58227.794          64293.831          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.794          64294.541          11310.012  1.5  SC FEMALE 
    END-POINT  58227.794          64294.541          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.794          64293.831          11311.242  0.5  SC FEMALE 
    END-POINT  58227.794          64293.831          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.794          64293.831          11311.242  0.5  SC MALE 
    END-POINT  58227.794          64293.831          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC8                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.794          64293.831          11315.102  0.5  SC MALE 
    END-POINT  58227.794          64293.831          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MC9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.794          64293.831          11315.102  0.5  SC FEMALE 
    END-POINT  58227.794          64293.831          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.794          64293.831          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCA                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.794          64293.831          11316.547  0.5  SC FEMALE 
    END-POINT  58227.794          64293.831          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.794          64293.831          11316.547  0.5  SC MALE 
    END-POINT  58227.794          64293.831          11319.547  0.5  SC MALE 
    CENTRE-POINT  58227.794  64293.831  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCD                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.794  64293.831  11319.047 
    TEXT TO 1218015$MANIFOLD # 07$VALVE # 003
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.794          64293.831          11319.547 
PIPE
    END-POINT  58227.794          64294.541          11310.012  1.5  SC MALE 
    END-POINT  58227.793          64299.621          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.793          64299.621          11310.012  1.5  SC MALE 
    END-POINT  58227.793          64299.621          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.793          64299.621          11310.012  1.5  SC FEMALE 
    END-POINT  58227.793          64301.041          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.793          64300.331          11310.012 
    BRANCH1-POINT  58227.793          64300.331          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCH                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.793          64301.041          11310.012  1.5  SC FEMALE 
    END-POINT  58227.793          64301.041          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.793          64300.331          11311.242  0.5  SC FEMALE 
    END-POINT  58227.793          64300.331          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.793          64300.331          11311.242  0.5  SC MALE 
    END-POINT  58227.793          64300.331          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.793          64300.331          11315.102  0.5  SC MALE 
    END-POINT  58227.793          64300.331          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.793          64300.331          11315.102  0.5  SC FEMALE 
    END-POINT  58227.793          64300.331          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.793          64300.331          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCM                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.793          64300.331          11316.547  0.5  SC FEMALE 
    END-POINT  58227.793          64300.331          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.793          64300.331          11316.547  0.5  SC MALE 
    END-POINT  58227.793          64300.331          11319.547  0.5  SC MALE 
    CENTRE-POINT  58227.793  64300.331  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCP                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.793  64300.331  11319.047 
    TEXT TO 1218014$MANIFOLD # 07$VALVE # 002
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.793          64300.331          11319.547 
PIPE
    END-POINT  58227.793          64301.041          11310.012  1.5  SC MALE 
    END-POINT  58227.792          64306.121          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCR                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64306.121          11310.012  1.5  SC MALE 
    END-POINT  58227.792          64306.121          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.792          64306.121          11310.012  1.5  SC FEMALE 
    END-POINT  58227.792          64307.541          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.792          64306.831          11310.012 
    BRANCH1-POINT  58227.792          64306.831          11311.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCT                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.792          64307.541          11310.012  1.5  SC FEMALE 
    END-POINT  58227.792          64307.541          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64306.831          11311.242  0.5  SC FEMALE 
    END-POINT  58227.792          64306.831          11311.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.792          64306.831          11311.242  0.5  SC MALE 
    END-POINT  58227.792          64306.831          11315.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCW                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64306.831          11315.102  0.5  SC MALE 
    END-POINT  58227.792          64306.831          11315.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.792          64306.831          11315.102  0.5  SC FEMALE 
    END-POINT  58227.792          64306.831          11316.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.792          64306.831          11315.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MCY                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.792          64306.831          11316.547  0.5  SC FEMALE 
    END-POINT  58227.792          64306.831          11316.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MD0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.792          64306.831          11316.547  0.5  SC MALE 
    END-POINT  58227.792          64306.831          11319.547  0.5  SC MALE 
    CENTRE-POINT  58227.792  64306.831  11318.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MD1                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.792  64306.831  11319.047 
    TEXT TO 1218013$MANIFOLD # 07$VALVE # 001
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.792          64306.831          11319.547 
PIPE
    END-POINT  58227.792          64312.381          11310.012  1.5  SC MALE 
    END-POINT  58227.792          64307.541          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MD3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64312.381          11310.012  1.5  SC MALE 
    END-POINT  58227.792          64312.381          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MD4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.792          64314.281          11310.012  1.5  SC FEMALE 
    END-POINT  58227.792          64312.381          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.792          64313.331          11310.012 
    BRANCH1-POINT  58227.792          64313.331          11308.792  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MD5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58227.792  64313.331  11310.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64313.331  11310.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58227.792          64314.281          11310.012  1.5  SC FEMALE 
    END-POINT  58227.792          64314.281          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MD7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64313.331          11308.792  1  SC FEMALE 
    END-POINT  58227.792          64313.331          11308.792  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MD8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58227.792          64313.331          11308.792  1  SC MALE 
    END-POINT  58227.792          64313.331          11305.792  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MD9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64313.331          11305.792  1  SC MALE 
    END-POINT  58227.792          64313.331          11305.792  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.792          64313.331          11305.792  1  SC FEMALE 
    END-POINT  58227.792          64313.331          11304.372  1  SC FEMALE 
    CENTRE-POINT   58227.792          64313.331          11304.997 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDB                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.792          64313.331          11304.372  1  SC FEMALE 
    END-POINT  58227.792          64313.331          11304.372  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.792          64313.331          11304.372  1  SC MALE 
    END-POINT  58227.792          64313.331          11303.242  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDE                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58227.792          64313.331          11303.242 
PIPE
    END-POINT  58227.792          64314.281          11310.012  1.5  SC MALE 
    END-POINT  58227.791          64319.681          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDF                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58227.791  64316.981  11310.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDG                 
SCREWED-WELD
    END-POINT  58227.791          64319.681          11310.012  1.5  SC MALE 
    END-POINT  58227.791          64319.681          11310.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.791          64319.681          11310.012  1.5  SC FEMALE 
    END-POINT  58227.791          64322.051          11310.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.791          64320.921          11310.012 
    BRANCH1-POINT  58227.791          64320.921          11311.252  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58227.791  64320.921  11310.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58227.791  64378.800  11310.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL G
SCREWED-WELD
    END-POINT  58227.791          64322.051          11310.012  1.5  SC FEMALE 
    END-POINT  58227.791          64322.051          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.791          64320.921          11311.252  1.5  SC FEMALE 
    END-POINT  58227.791          64320.921          11311.252  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.791          64320.921          11332.772  1.5  SC MALE 
    END-POINT  58227.791          64320.921          11311.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.791          64320.921          11332.772  1.5  SC MALE 
    END-POINT  58227.791          64320.921          11332.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.791          64322.051          11334.012  1.5  SC FEMALE 
    END-POINT  58227.791          64319.681          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.791          64320.921          11334.012 
    BRANCH1-POINT  58227.791          64320.921          11332.772  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58227.791  64320.921  11334.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58227.791  64378.800  11334.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL G
SCREWED-WELD
    END-POINT  58227.791          64322.051          11334.012  1.5  SC FEMALE 
    END-POINT  58227.791          64322.051          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.791          64319.681          11334.012  1.5  SC FEMALE 
    END-POINT  58227.791          64319.681          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.791          64319.681          11334.012  1.5  SC MALE 
    END-POINT  58227.792          64310.791          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDS                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64310.791          11334.012  1.5  SC MALE 
    END-POINT  58227.792          64310.791          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.792          64309.371          11334.012  1.5  SC FEMALE 
    END-POINT  58227.792          64310.791          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.792          64310.081          11334.012 
    BRANCH1-POINT  58227.792          64310.081          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58227.792  64310.081  11334.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64310.081  11334.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58227.792          64309.371          11334.012  1.5  SC FEMALE 
    END-POINT  58227.792          64309.371          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64310.081          11335.242  0.5  SC FEMALE 
    END-POINT  58227.792          64310.081          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.792          64310.081          11335.242  0.5  SC MALE 
    END-POINT  58227.792          64310.081          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDY                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.792          64310.081          11339.102  0.5  SC MALE 
    END-POINT  58227.792          64310.081          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MDZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.792          64310.081          11339.102  0.5  SC FEMALE 
    END-POINT  58227.792          64310.081          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.792          64310.081          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ME0                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.792          64310.081          11340.547  0.5  SC FEMALE 
    END-POINT  58227.792          64310.081          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ME2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.792          64310.081          11340.547  0.5  SC MALE 
    END-POINT  58227.792          64310.081          11343.547  0.5  SC MALE 
    CENTRE-POINT  58227.792  64310.081  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ME3                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.792  64310.081  11343.047 
    TEXT TO 1219016$MANIFOLD # 07$VALVE # 006
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.792          64310.081          11343.547 
PIPE
    END-POINT  58227.792          64309.371          11334.012  1.5  SC MALE 
    END-POINT  58227.793          64304.291          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ME5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.793          64304.291          11334.012  1.5  SC MALE 
    END-POINT  58227.793          64304.291          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ME6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.793          64302.871          11334.012  1.5  SC FEMALE 
    END-POINT  58227.793          64304.291          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.793          64303.581          11334.012 
    BRANCH1-POINT  58227.793          64303.581          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ME7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.793          64302.871          11334.012  1.5  SC FEMALE 
    END-POINT  58227.793          64302.871          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ME8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.793          64303.581          11335.242  0.5  SC FEMALE 
    END-POINT  58227.793          64303.581          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ME9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.793          64303.581          11335.242  0.5  SC MALE 
    END-POINT  58227.793          64303.581          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.793          64303.581          11339.102  0.5  SC MALE 
    END-POINT  58227.793          64303.581          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.793          64303.581          11339.102  0.5  SC FEMALE 
    END-POINT  58227.793          64303.581          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.793          64303.581          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEC                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.793          64303.581          11340.547  0.5  SC FEMALE 
    END-POINT  58227.793          64303.581          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.793          64303.581          11340.547  0.5  SC MALE 
    END-POINT  58227.793          64303.581          11343.547  0.5  SC MALE 
    CENTRE-POINT  58227.793  64303.581  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEF                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.793  64303.581  11343.047 
    TEXT TO 1219017$MANIFOLD # 07$VALVE # 007
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.793          64303.581          11343.547 
PIPE
    END-POINT  58227.793          64302.871          11334.012  1.5  SC MALE 
    END-POINT  58227.794          64297.791          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.794          64297.791          11334.012  1.5  SC MALE 
    END-POINT  58227.794          64297.791          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.794          64296.371          11334.012  1.5  SC FEMALE 
    END-POINT  58227.794          64297.791          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.794          64297.081          11334.012 
    BRANCH1-POINT  58227.794          64297.081          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.794          64296.371          11334.012  1.5  SC FEMALE 
    END-POINT  58227.794          64296.371          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.794          64297.081          11335.242  0.5  SC FEMALE 
    END-POINT  58227.794          64297.081          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.794          64297.081          11335.242  0.5  SC MALE 
    END-POINT  58227.794          64297.081          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.794          64297.081          11339.102  0.5  SC MALE 
    END-POINT  58227.794          64297.081          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.794          64297.081          11339.102  0.5  SC FEMALE 
    END-POINT  58227.794          64297.081          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.794          64297.081          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEO                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.794          64297.081          11340.547  0.5  SC FEMALE 
    END-POINT  58227.794          64297.081          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.794          64297.081          11340.547  0.5  SC MALE 
    END-POINT  58227.794          64297.081          11343.547  0.5  SC MALE 
    CENTRE-POINT  58227.794  64297.081  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MER                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.794  64297.081  11343.047 
    TEXT TO 1219019$MANIFOLD # 07$VALVE # 008
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.794          64297.081          11343.547 
PIPE
    END-POINT  58227.794          64296.371          11334.012  1.5  SC MALE 
    END-POINT  58227.795          64291.291          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MET                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.795          64291.291          11334.012  1.5  SC MALE 
    END-POINT  58227.795          64291.291          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.795          64289.871          11334.012  1.5  SC FEMALE 
    END-POINT  58227.795          64291.291          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.795          64290.581          11334.012 
    BRANCH1-POINT  58227.795          64290.581          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEV                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.795          64289.871          11334.012  1.5  SC FEMALE 
    END-POINT  58227.795          64289.871          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.795          64290.581          11335.242  0.5  SC FEMALE 
    END-POINT  58227.795          64290.581          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.795          64290.581          11335.242  0.5  SC MALE 
    END-POINT  58227.795          64290.581          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEY                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.795          64290.581          11339.102  0.5  SC MALE 
    END-POINT  58227.795          64290.581          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MEZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.795          64290.581          11339.102  0.5  SC FEMALE 
    END-POINT  58227.795          64290.581          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.795          64290.581          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MF0                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.795          64290.581          11340.547  0.5  SC FEMALE 
    END-POINT  58227.795          64290.581          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MF2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.795          64290.581          11340.547  0.5  SC MALE 
    END-POINT  58227.795          64290.581          11343.547  0.5  SC MALE 
    CENTRE-POINT  58227.795  64290.581  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MF3                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.795  64290.581  11343.047 
    TEXT TO 1219020$MANIFOLD # 07$VALVE # 009
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.795          64290.581          11343.547 
PIPE
    END-POINT  58227.795          64289.871          11334.012  1.5  SC MALE 
    END-POINT  58227.796          64284.791          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MF5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.796          64284.791          11334.012  1.5  SC MALE 
    END-POINT  58227.796          64284.791          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MF6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.796          64283.371          11334.012  1.5  SC FEMALE 
    END-POINT  58227.796          64284.791          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.796          64284.081          11334.012 
    BRANCH1-POINT  58227.796          64284.081          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MF7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.796          64283.371          11334.012  1.5  SC FEMALE 
    END-POINT  58227.796          64283.371          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MF8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.796          64284.081          11335.242  0.5  SC FEMALE 
    END-POINT  58227.796          64284.081          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MF9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.796          64284.081          11335.242  0.5  SC MALE 
    END-POINT  58227.796          64284.081          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFA                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.796          64284.081          11339.102  0.5  SC MALE 
    END-POINT  58227.796          64284.081          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.796          64284.081          11339.102  0.5  SC FEMALE 
    END-POINT  58227.796          64284.081          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.796          64284.081          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFC                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.796          64284.081          11340.547  0.5  SC FEMALE 
    END-POINT  58227.796          64284.081          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.796          64284.081          11340.547  0.5  SC MALE 
    END-POINT  58227.796          64284.081          11343.547  0.5  SC MALE 
    CENTRE-POINT  58227.796  64284.081  11342.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFF                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.796  64284.081  11343.047 
    TEXT TO 1221010$MANIFOLD # 07$VALVE # 010
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.796          64284.081          11343.547 
PIPE
    END-POINT  58227.796          64283.371          11334.012  1.5  SC MALE 
    END-POINT  58227.797          64278.291          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.797          64278.291          11334.012  1.5  SC MALE 
    END-POINT  58227.797          64278.291          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.797          64276.871          11334.012  1.5  SC FEMALE 
    END-POINT  58227.797          64278.291          11334.012  1.5  SC FEMALE 
    CENTRE-POINT   58227.797          64277.581          11334.012 
    BRANCH1-POINT  58227.797          64277.581          11335.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.797          64276.871          11334.012  1.5  SC FEMALE 
    END-POINT  58227.797          64276.871          11334.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.797          64277.581          11335.242  0.5  SC FEMALE 
    END-POINT  58227.797          64277.581          11335.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.797          64277.581          11335.242  0.5  SC MALE 
    END-POINT  58227.797          64277.581          11339.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.797          64277.581          11339.102  0.5  SC MALE 
    END-POINT  58227.797          64277.581          11339.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58227.797          64277.581          11339.102  0.5  SC FEMALE 
    END-POINT  58227.797          64277.581          11340.547  0.5  SC FEMALE 
    CENTRE-POINT   58227.797          64277.581          11339.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFO                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58227.797          64277.581          11340.547  0.5  SC FEMALE 
    END-POINT  58227.797          64277.581          11340.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.797          64277.581          11340.547  0.5  SC MALE 
    END-POINT  58227.797          64277.581          11342.547  0.5  SC MALE 
    CENTRE-POINT  58227.797  64277.581  11341.547 
    SKEY NCSC
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFR                 
    TAG TO SPARE                        
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58227.797  64277.581  11342.047 
    TEXT SPARE
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58227.797          64277.581          11342.547 
PIPE
    END-POINT  58227.797          64276.871          11334.012  1.5  SC MALE 
    END-POINT  58227.798          64268.221          11334.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFT                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58227.797  64272.362  11334.012 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58227.798          64268.221          11334.012  1.5  SC MALE 
    END-POINT  58227.798          64268.221          11334.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58227.798          64266.981          11332.772  1.5  SC FEMALE 
    END-POINT  58227.798          64266.981          11335.252  1.5  SC FEMALE 
    CENTRE-POINT   58227.798          64266.981          11334.012 
    BRANCH1-POINT  58227.798          64268.221          11334.012  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.798          64266.981          11332.772  1.5  SC FEMALE 
    END-POINT  58227.798          64266.981          11332.772  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.798          64266.981          11335.252  1.5  SC FEMALE 
    END-POINT  58227.798          64266.981          11335.252  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.798          64266.981          11383.772  1.5  SC MALE 
    END-POINT  58227.798          64266.981          11335.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MFZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.798          64266.981          11383.772  1.5  SC MALE 
    END-POINT  58227.798          64266.981          11383.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58228.675          64266.104          11385.012  1.5  SC FEMALE 
    END-POINT  58227.798          64266.981          11383.772  1.5  SC FEMALE 
    CENTRE-POINT   58227.798          64266.981          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58228.675          64266.104          11385.012  1.5  SC FEMALE 
    END-POINT  58228.675          64266.104          11385.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58232.822          64261.956          11385.012  1.5  SC MALE 
    END-POINT  58228.675          64266.104          11385.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58232.822          64261.956          11385.012  1.5  SC MALE 
    END-POINT  58232.822          64261.956          11385.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58233.338          64260.710          11385.012  1.5  SC FEMALE 
    END-POINT  58232.822          64261.956          11385.012  1.5  SC FEMALE 
    CENTRE-POINT   58233.338          64261.440          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
SCREWED-WELD
    END-POINT  58233.338          64260.710          11385.012  1.5  SC FEMALE 
    END-POINT  58233.338          64260.710          11385.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58233.338          64260.710          11385.012  1.5  SC MALE 
    END-POINT  58233.338          64219.040          11385.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG7                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58233.338  64229.624  11385.012 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58233.338          64219.040          11385.012  1.5  SC MALE 
    END-POINT  58233.338          64219.040          11385.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MG9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58232.098          64217.800          11385.012  1.5  SC FEMALE 
    END-POINT  58233.338          64219.040          11385.012  1.5  SC FEMALE 
    CENTRE-POINT   58233.338          64217.800          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58232.098          64217.800          11385.012  1.5  SC FEMALE 
    END-POINT  58232.098          64217.800          11385.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58141.279          64217.800          11385.012  1.5  SC MALE 
    END-POINT  58232.098          64217.800          11385.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGC                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.902  64217.800  11385.012  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGD                 
SUPPORT
    CO-ORDS  58217.831  64217.800  11385.012  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGE                 
SCREWED-WELD
    END-POINT  58141.279          64217.800          11385.012  1.5  SC MALE 
    END-POINT  58141.279          64217.800          11385.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58141.279          64217.800          11385.012  1.5  SC FEMALE 
    END-POINT  58140.039          64217.800          11386.252  1.5  SC FEMALE 
    CENTRE-POINT   58140.039          64217.800          11385.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.039  64217.800  11385.012 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64217.800  11385.012 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL 2
SCREWED-WELD
    END-POINT  58140.039          64217.800          11386.252  1.5  SC FEMALE 
    END-POINT  58140.039          64217.800          11386.252  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58140.039          64217.800          11433.678  1.5  SC MALE 
    END-POINT  58140.039          64217.800          11386.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGJ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58140.039          64217.800          11433.678  1.5  SC MALE 
    END-POINT  58140.039          64217.800          11433.678  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58140.039          64217.800          11433.678  1.5  SC FEMALE 
    END-POINT  58138.799          64217.800          11434.918  1.5  SC FEMALE 
    CENTRE-POINT   58140.039          64217.800          11434.918 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGL                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.039  64217.800  11458.918 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58140.039  64138.800  11458.918 
    REFERENCED-ITEM
    ITEM-DIRECTION 1+1/2
    SKEY 
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58138.799          64217.800          11434.918  1.5  SC FEMALE 
    END-POINT  58138.799          64217.800          11434.918  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58122.790          64217.800          11434.918  1.5  SC MALE 
    END-POINT  58138.799          64217.800          11434.918  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGO                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58130.352  64217.800  11434.918 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58122.790          64217.800          11434.918  1.5  SC MALE 
    END-POINT  58122.790          64217.800          11434.918  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58122.790          64217.800          11434.918  1.5  SC FEMALE 
    END-POINT  58121.550          64217.800          11436.158  1.5  SC FEMALE 
    CENTRE-POINT   58121.550          64217.800          11434.918 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGR                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58121.550          64217.800          11436.158  1.5  SC FEMALE 
    END-POINT  58121.550          64217.800          11436.158  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          64217.800          11436.158  1.5  SC MALE 
    END-POINT  58121.550          64217.800          11441.506  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGT                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          64217.800          11441.506  1.5  SC MALE 
    END-POINT  58121.550          64217.800          11441.506  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGU                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58121.550          64217.800          11441.506  1.5  SC FEMALE 
    END-POINT  58121.550          64217.800          11442.986  1.5  SC FEMALE 
    CENTRE-POINT   58121.550          64217.800          11442.246 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGV                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  58121.550          64217.800          11442.986  1.5  SC FEMALE 
    END-POINT  58121.550          64217.800          11442.986  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGX                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          64217.800          11442.986  1.5  SC MALE 
    END-POINT  58121.550          64217.800          11448.322  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MGY                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          64217.800          11448.322  1.5  SC FEMALE 
    END-POINT  58121.550          64217.800          11448.322  1.5  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HXJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58121.550  64217.800  11450.759 
    BRANCH1-POINT  58121.550          64217.800          11448.322  1.5  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_H5O                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550  64217.800  11450.759 
    PIPELINE-REFERENCE ISO-PY3-2046011
PIPE
    END-POINT  58227.798          64266.981          11332.772  1.5  SC MALE 
    END-POINT  58227.798          64266.981          11311.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH0                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58227.798          64266.981          11311.252  1.5  SC MALE 
    END-POINT  58227.798          64266.981          11311.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58227.798          64268.221          11310.012  1.5  SC FEMALE 
    END-POINT  58227.798          64266.981          11311.252  1.5  SC FEMALE 
    CENTRE-POINT   58227.798          64266.981          11310.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH2                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58227.798          64268.221          11310.012  1.5  SC FEMALE 
    END-POINT  58227.798          64268.221          11310.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58227.797          64273.621          11310.012  1.5  SC MALE 
    END-POINT  58227.798          64268.221          11310.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH4                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58227.798  64270.921  11310.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH5                 
MISC-COMPONENT
    END-POINT  58227.791          64322.051          11334.012  1.5  SC MALE 
    END-POINT  58227.791          64323.481          11334.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH6                 
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58227.791          64322.051          11310.012  1.5  SC MALE 
    END-POINT  58227.791          64323.481          11310.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MH7                 
    PIPING-SPEC C1
    INSULATION-ON 
MATERIALS
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE TEERED1+1/2X1+1/2X1/
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE GENSTR1/2
    DESCRIPTION PIPE TO TUBING ADAPTOR
    RATING 2000LB
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE PLGHEX1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=2'-6", P622 FIG 1
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE 45L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 45 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, L=1'-1/16", P624 FIG 4
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION PROTECTION SADDLE, P651 FIG 2
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PLGHEX1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
