ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1320036-C
PIPING-SPEC S5C
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221_CORE.DWG
    ATTRIBUTE98 PMJ
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1320036-C-PMJ-S5C
    ATTRIBUTE95 I1
    ATTRIBUTE94 S5C
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-020
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57753.066          64230.359          11503.313  3  FL
    END-POINT  57753.066          64233.859          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_T3                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  57753.066          64230.359          11503.313  3
    END-POINT 
** 
Processing ID: AT_FNISF7EI_1FB  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1FB                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  57753.066          64230.359          11503.313 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1FC                 
PIPE
    END-POINT  57753.049          64230.233          11503.312  3  
    END-POINT  57753.049          64230.236          11503.312  3  
    CONTINUATION 
    MESSAGE This is a GAP 
WELD
    END-POINT  57753.066          64233.859          11503.313  3
    END-POINT  57753.066          64233.859          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1EU                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57753.066  64230.359  11503.313 
PIPE
    END-POINT  57753.066          64245.859          11503.313  3  BW
    END-POINT  57753.066          64233.859          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1ES                 
    PIPING-SPEC S5C
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57753.066  64245.859  11503.313 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64245.859  11503.313 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57753.066          64245.859          11503.313  3
    END-POINT  57753.066          64245.859          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1ET                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
ELBOW
    END-POINT  57753.066          64245.859          11503.313  3  BW
    END-POINT  57746.566          64252.359          11503.313  3  BW
    CENTRE-POINT   57753.066          64252.359          11503.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90L3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_ST                  
    PIPING-SPEC S5C
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57746.566          64252.359          11503.313  3
    END-POINT  57746.566          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_SX                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  57746.566          64252.359          11503.313  3  BW
    END-POINT  57742.566          64252.359          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_SW                  
    PIPING-SPEC S5C
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57746.566  64252.359  11503.313 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57746.566  64378.800  11503.313 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX2
    MESSAGE
    TEXT COL G
WELD
    END-POINT  57742.566          64252.359          11503.313  3
    END-POINT  57742.566          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_SZ                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  57739.066          64252.359          11503.313  3  FL
    END-POINT  57742.566          64252.359          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_SY                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  57738.941          64252.359          11503.313  3
    END-POINT  57739.066          64252.359          11503.313  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_T1                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  57738.941          64252.359          11503.313 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_T2                  
FLANGE
    END-POINT  57738.941          64252.359          11503.313  3  FL
    END-POINT  57735.441          64252.359          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_T0                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  57735.441          64252.359          11503.313  3
    END-POINT  57735.441          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TL                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  57735.441          64252.359          11503.313  3  BW
    END-POINT  57495.441          64252.359          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TK                  
    PIPING-SPEC S5C
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57617.134  64252.359  11503.313 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57495.441          64252.359          11503.313  3
    END-POINT  57495.441          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TN                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  57491.941          64252.359          11503.313  3  FL
    END-POINT  57495.441          64252.359          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TM                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  57491.816          64252.359          11503.313  3
    END-POINT  57491.941          64252.359          11503.313  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TP                  
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  57491.816          64252.359          11503.313 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TQ                  
FLANGE
    END-POINT  57491.816          64252.359          11503.313  3  FL
    END-POINT  57488.316          64252.359          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TO                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  57488.316          64252.359          11503.313  3
    END-POINT  57488.316          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TS                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
PIPE
    END-POINT  57488.316          64252.359          11503.313  3  BW
    END-POINT  57248.316          64252.359          11503.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TR                  
    PIPING-SPEC S5C
    INSULATION-ON 
WELD
    END-POINT  57248.316          64252.359          11503.313  3
    END-POINT  57248.316          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TU                  
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5C
    INSULATION-ON 
FLANGE
    END-POINT  57244.816          64252.359          11503.313  3  FL
    END-POINT  57248.316          64252.359          11503.313  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_TT                  
    PIPING-SPEC S5C
    INSULATION-ON 
GASKET
    END-POINT  57244.816          64252.359          11503.313  3
    END-POINT 
** 
Processing ID: AT_FNISF7EI_1FF  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1FF                 
    PIPING-SPEC S5C
    INSULATION-ON 
    GASKET-RATING 600LB          
BOLT
    CO-ORDS  57244.816          64252.359          11503.313 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           5.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISF7EI_1FG                 
END-POSITION-OPEN 
    CO-ORDS  57244.816  64252.359  11503.313 
MATERIALS
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, BW, 600LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 600LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 600LB, RF, 0.125" THK, PTFE, GARLOCK GYLON 3545, ANSI B16.21
    RATING 600LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 5 STUD BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 600LB
ITEM-CODE PIP3
    CATALOG ANSI B16.9
    DESCRIPTION PIPE, SCH 40S, ASTM A312 Gr TP304L, SEAMLESS
    RATING 40S
ITEM-CODE 90L3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG ELBOW, LONG TAN, BW, SCH 40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 40S
