ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036022
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036022-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 1/29/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/29/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 1/29/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/29/2009
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 1/19/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 2/2/2009
    ATTRIBUTE54 SK
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 DC
    ATTRIBUTE61 BL
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  58265.610          63954.714          11388.139  0.5  SW FEMALE 
    END-POINT  58265.610          63956.894          11388.139  0.5  SW FEMALE 
    CENTRE-POINT   58265.610          63955.599          11388.139 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JOQ                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
MESSAGE
    CO-ORDS  58265.610  63956.894  11388.139 
    TEXT TUBING TO$LIT-002-08
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58265.610          63954.714          11388.139  0.5  SW FEMALE 
    END-POINT  58265.610          63954.714          11388.139  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JOT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58265.610          63956.894          11388.139 
PIPE
    END-POINT  58265.610          63948.304          11388.139  0.5  BW
    END-POINT  58265.610          63954.714          11388.139  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JOU                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58265.610  63950.678  11388.139 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58265.610          63948.304          11388.139  0.5
    END-POINT  58265.610          63948.304          11388.139  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JOW                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58267.110          63946.804          11388.139  1  BW
    END-POINT  58264.110          63946.804          11388.139  1  BW
    CENTRE-POINT   58265.610          63946.804          11388.139 
    BRANCH1-POINT  58265.610          63948.304          11388.139  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JOX                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58267.110          63946.804          11388.139  1
    END-POINT  58267.110          63946.804          11388.139  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JOY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58264.110          63946.804          11388.139  1
    END-POINT  58264.110          63946.804          11388.139  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58270.640          63946.804          11388.139  1  PL
    END-POINT  58267.110          63946.804          11388.139  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPM                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58270.640          63946.804          11388.139 
    PIPELINE-REFERENCE ISO-PY3-1212024
PIPE
    END-POINT  58141.550          63946.804          11388.139  1  BW
    END-POINT  58264.110          63946.804          11388.139  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JP0                 
    PIPING-SPEC S1
FLOOR-SYMBOL 
    CO-ORDS  58170.550  63946.804  11388.139 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58170.550  63946.804  11388.139 
    TEXT Wall Penetration
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58200.670  63946.804  11388.139  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JP2                 
FLOW-ARROW
    CO-ORDS  58194.169  63946.804  11388.139 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58153.802  63946.804  11388.139  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JP4                 
WELD
    END-POINT  58141.550          63946.804          11388.139  1
    END-POINT  58141.550          63946.804          11388.139  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OXX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58141.550          63946.804          11388.139  1  BW
    END-POINT  58140.050          63946.804          11389.639  1  BW
    CENTRE-POINT   58140.050          63946.804          11388.139 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JP6                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.050  63946.804  11388.139 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63946.804  11388.139 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58140.050          63946.804          11389.639  1
    END-POINT  58140.050          63946.804          11389.639  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JP8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58140.050          63946.804          11433.440  1  BW
    END-POINT  58140.050          63946.804          11389.639  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JP9                 
    PIPING-SPEC S1
WELD
    END-POINT  58140.050          63946.804          11433.440  1
    END-POINT  58140.050          63946.804          11433.440  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58140.050          63946.804          11433.440  1  BW
    END-POINT  58138.550          63946.804          11434.940  1  BW
    CENTRE-POINT   58140.050          63946.804          11434.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPB                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.050  63946.804  11434.940 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58140.050  63898.800  11434.940 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58138.550          63946.804          11434.940  1
    END-POINT  58138.550          63946.804          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58138.550          63946.804          11434.940  1  BW
    END-POINT  58092.425          63946.804          11434.940  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPE                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58134.550  63946.804  11434.940  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPF                 
FLOW-ARROW
    CO-ORDS  58113.252  63946.804  11434.940 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58092.425          63946.804          11434.940  1
    END-POINT  58092.425          63946.804          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58092.425          63946.804          11434.940  1  BW
    END-POINT  58090.925          63946.804          11433.440  1  BW
    CENTRE-POINT   58090.925          63946.804          11434.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPI                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58090.925          63946.804          11433.440  1
    END-POINT  58090.925          63946.804          11433.440  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58090.925          63946.804          11433.440  1  BW
    END-POINT  58090.925          63946.804          11415.373  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPK                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          63946.804          11415.373  1
    END-POINT  58090.925          63946.804          11415.373  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58090.925          63949.304          11413.373  2  BW
    END-POINT  58090.925          63944.304          11413.373  2  BW
    CENTRE-POINT   58090.925          63946.804          11413.373 
    BRANCH1-POINT  58090.925          63946.804          11415.373  1  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMC                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925          63949.304          11413.373 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLT ANCHOR, P648 FIG 1
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=1'-4", P624 FIG 3
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
    RATING 10S
ITEM-CODE PIP1_1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 10S
ITEM-CODE 90LLR1_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1_1
    DESCRIPTION GENERAL HANGER, L=10", P624 FIG 1
