ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221013
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1221013-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-021
    ATTRIBUTE21 SG
    ATTRIBUTE22 10/3/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/9/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 10/15/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/16/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 9/14/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 KC
    ATTRIBUTE62 DD
    ATTRIBUTE63 DELETED DRAIN
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57847.815          63971.473          11310.815  0.5  PL
    END-POINT  57847.815          63968.473          11310.815  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6Q                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57847.815  63968.973  11310.815 
    TEXT PI$045$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57847.815          63971.473          11310.815  0.5
    END-POINT  57847.815          63971.473          11310.815  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57847.815          63968.473          11310.815 
VALVE
    END-POINT  57847.815          63973.153          11310.815  0.5  SW FEMALE 
    END-POINT  57847.815          63971.473          11310.815  0.5  SW FEMALE 
    CENTRE-POINT   57847.815          63972.268          11310.815 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4Q0                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57847.815          63973.153          11310.815  0.5  SW FEMALE 
    END-POINT  57847.815          63973.153          11310.815  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4Q1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57847.815          63976.563          11310.815  0.5  BW
    END-POINT  57847.815          63973.153          11310.815  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4PY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57847.815          63976.563          11310.815  0.5
    END-POINT  57847.815          63976.563          11310.815  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4PZ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57847.815          63978.813          11308.565  1.5  BW
    END-POINT  57847.815          63978.813          11313.065  1.5  BW
    CENTRE-POINT   57847.815          63978.813          11310.815 
    BRANCH1-POINT  57847.815          63976.563          11310.815  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4PP                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57847.815          63978.813          11308.565  1.5
    END-POINT  57847.815          63978.813          11308.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_878                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57847.815          63978.813          11313.065  1.5
    END-POINT  57847.815          63978.813          11313.065  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4RF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57847.815          63978.813          11313.065  1.5  BW
    END-POINT  57849.406          63980.404          11315.315  1.5  BW
    CENTRE-POINT   57847.815          63978.813          11315.315 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_4MR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57849.406          63980.404          11315.315  1.5
    END-POINT  57849.406          63980.404          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_54T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57849.406          63980.404          11315.315  1.5  BW
    END-POINT  57851.528          63982.525          11315.315  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_54S                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57851.528          63982.525          11315.315  1.5
    END-POINT  57851.528          63982.525          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_54V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57851.528          63982.525          11315.315  1.5
    END-POINT  57851.528          63982.525          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_54W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57851.674          63982.672          11315.315  1.5  FL
    END-POINT  57851.528          63982.525          11315.315  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_54U                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57851.763          63982.761          11315.315  1.5
    END-POINT  57851.674          63982.672          11315.315  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_54Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57851.763          63982.761          11315.315 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_54Z                 
VALVE
    END-POINT  57851.763          63982.761          11315.315  1.5  FL
    END-POINT  57856.359          63987.357          11315.315  1.5  FL
    CENTRE-POINT   57854.061          63985.059          11315.315 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT          14.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_54X                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57856.447          63987.445          11315.315  1.5
    END-POINT  57856.359          63987.357          11315.315  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_551                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57856.447          63987.445          11315.315 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_552                 
FLANGE
    END-POINT  57856.447          63987.445          11315.315  1.5  FL
    END-POINT  57856.594          63987.592          11315.315  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_550                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57856.594          63987.592          11315.315  1.5
    END-POINT  57856.594          63987.592          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_57M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57856.594          63987.592          11315.315  1.5
    END-POINT  57856.594          63987.592          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_57N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57860.837          63991.834          11315.315  1.5  BW
    END-POINT  57856.594          63987.592          11315.315  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_57K                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57860.837          63991.834          11315.315  1.5
    END-POINT  57860.837          63991.834          11315.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C91                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57860.837          63991.834          11315.315  1.5  BW
    END-POINT  57862.428          63993.425          11317.565  1.5  BW
    CENTRE-POINT   57862.428          63993.425          11315.315 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_556                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57862.428  63993.425  11315.315  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87W                 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57862.428  63993.425  11315.315 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63993.425  11315.315 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57862.428  63993.425  11315.315 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57862.428  64138.800  11315.315 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57862.428          63993.425          11317.565  1.5
    END-POINT  57862.428          63993.425          11317.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57862.428          63993.425          11317.565  1.5  BW
    END-POINT  57862.428          63993.425          11321.565  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87A                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          63993.425          11321.565  1.5
    END-POINT  57862.428          63993.425          11321.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          63993.425          11321.565  1.5
    END-POINT  57862.428          63993.425          11321.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57862.428          63993.425          11321.773  1.5  FL
    END-POINT  57862.428          63993.425          11321.565  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87C                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57862.428          63993.425          11321.898  1.5
    END-POINT  57862.428          63993.425          11321.773  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87K                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57862.428          63993.425          11321.898 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87L                 
VALVE
    END-POINT  57862.428          63993.425          11321.898  1.5  FL
    END-POINT  57862.428          63993.425          11328.398  1.5  FL
    CENTRE-POINT   57862.428          63993.425          11325.148 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87J                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57862.428          63993.425          11328.523  1.5
    END-POINT  57862.428          63993.425          11328.398  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87P                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57862.428          63993.425          11328.523 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87Q                 
FLANGE
    END-POINT  57862.428          63993.425          11328.523  1.5  FL
    END-POINT  57862.428          63993.425          11328.730  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_87O                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          63993.425          11328.730  1.5
    END-POINT  57862.428          63993.425          11328.730  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9U7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57862.428          63993.425          11328.730  1.5
    END-POINT  57862.428          63993.425          11328.730  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9U8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57862.428          63993.425          11378.723  1.5  BW
    END-POINT  57862.428          63993.425          11328.730  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9U5                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57862.428  63993.425  11360.598 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57862.428          63993.425          11378.723  1.5
    END-POINT  57862.428          63993.425          11378.723  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9U6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57862.428          63995.675          11380.973  1.5  BW
    END-POINT  57862.428          63991.175          11380.973  1.5  BW
    CENTRE-POINT   57862.428          63993.425          11380.973 
    BRANCH1-POINT  57862.428          63993.425          11378.723  1.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_55Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57862.428          63995.675          11380.973 
    PIPELINE-REFERENCE ISO-PY3-1221012
REDUCER-CONCENTRIC
    END-POINT  57847.815          63978.813          11308.565  1.5  BW
    END-POINT  57847.815          63978.813          11306.065  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_876                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57847.815          63978.813          11306.065  1
    END-POINT  57847.815          63978.813          11306.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_877                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57847.815          63978.813          11303.625  1  FL
    END-POINT  57847.815          63978.813          11306.065  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_872                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57847.815          63978.813          11303.625  1
    END-POINT  57847.815          63978.813          11303.500  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C96                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  57847.815          63978.813          11303.625 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C97                 
NOZZLE
    CO-ORDS  57847.815          63978.813          11303.500  1  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  57847.815          63978.813          11303.500 
    TEXT PY3-045$NOZZLE TAG PY3-045-DISCHARGE$RATING 300LB$FACING RF
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION ELBOW SUPPORT, L=2'-11 5/16", P619 FIG 2
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
