ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2041007
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 MS
    ATTRIBUTE97 1.50
    ATTRIBUTE96 2041007-MS-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-041
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/3/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/10/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/11/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 3/16/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BJL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 12/17/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DK
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED PSV-064-14
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58225.138          64245.319          11608.075  0.5  SW MALE 
    END-POINT  58225.138          64245.319          11611.075  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_28C                 
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58225.138  64245.319  11610.645 
    TEXT PI$064$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58225.138          64245.319          11608.075  0.5  SW MALE 
    END-POINT  58225.138          64245.319          11608.075  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_28D                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58225.138          64245.319          11611.075 
VALVE
    END-POINT  58225.138          64245.319          11605.450  0.5  SW FEMALE 
    END-POINT  58225.138          64245.319          11608.075  0.5  SW FEMALE 
    CENTRE-POINT   58225.138          64245.319          11606.765 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           4.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_288                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58225.138          64245.319          11605.450  0.5  SW FEMALE 
    END-POINT  58225.138          64245.319          11605.450  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_289                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58225.138          64245.319          11601.262  0.5  PL
    END-POINT  58225.138          64245.319          11605.450  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_286                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58225.138          64245.319          11601.262  0.5
    END-POINT  58225.138          64245.319          11601.262  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_287                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58225.138          64245.319          11600.762  1.5  SW MALE 
    END-POINT  58225.138          64245.319          11601.262  0.5  SW FEMALE 
    CENTRE-POINT  58225.138  64245.319  11601.012 
    SKEY NCSW
    FABRICATION-ITEM
    ITEM-CODE INST21+1/2X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_284                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58225.138          64245.319          11600.762  1.5  SW MALE 
    END-POINT  58225.138          64245.319          11600.762  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_285                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58225.138          64245.319          11598.262  1.5  SW FEMALE 
    END-POINT  58225.138          64245.319          11600.762  1.5  SW FEMALE 
    CENTRE-POINT   58225.138          64245.319          11599.512 
    BRANCH1-POINT  58225.138          64244.069          11599.512  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_27W                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58225.138          64245.319          11598.262  1.5
    END-POINT  58225.138          64245.319          11598.262  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2NS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58225.138          64244.069          11599.512  1.5
    END-POINT  58225.138          64244.069          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58225.138          64225.892          11599.512  1.5  PL
    END-POINT  58225.138          64244.069          11599.512  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BW                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58225.138          64225.892          11599.512  1.5
    END-POINT  58225.138          64225.892          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58226.201          64224.642          11599.512  1.5  SW FEMALE 
    END-POINT  58225.138          64225.892          11599.512  1.5  SW FEMALE 
    CENTRE-POINT   58225.138          64224.642          11599.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58226.201          64224.642          11599.512  1.5
    END-POINT  58226.201          64224.642          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58226.201          64224.642          11599.512  1.5  PL
    END-POINT  58230.701          64224.642          11599.220  1  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TA                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58230.701          64224.642          11599.220  1  SW FEMALE 
    END-POINT  58230.701          64224.642          11599.220  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
COUPLING
    END-POINT  58230.701          64224.642          11599.220  1  SW FEMALE 
    END-POINT  58231.138          64224.642          11599.220  1  SW FEMALE 
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TD                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58231.138          64224.642          11599.220  1
    END-POINT  58231.138          64224.642          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58243.131          64224.642          11599.220  1  PL
    END-POINT  58231.138          64224.642          11599.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OI                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58243.131          64224.642          11599.220  1
    END-POINT  58243.131          64224.642          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58243.131          64224.642          11599.220  1  SW FEMALE 
    END-POINT  58244.891          64224.642          11599.220  1  SW FEMALE 
    CENTRE-POINT   58244.011          64224.642          11599.220 
    BRANCH1-POINT  58244.011          64224.642          11600.100  1  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TF                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58244.011  64224.642  11599.220  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4U3                 
SOCKET-WELD
    END-POINT  58244.891          64224.642          11599.220  1
    END-POINT  58244.891          64224.642          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58244.011          64224.642          11600.100  1
    END-POINT  58244.011          64224.642          11600.100  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58244.011          64224.642          11600.100  1  PL
    END-POINT  58244.011          64224.643          11630.340  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TQ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58244.011          64224.643          11630.340  1
    END-POINT  58244.011          64224.643          11630.340  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58244.011          64224.643          11630.340  1  SW FEMALE 
    END-POINT  58244.011          64224.643          11632.100  1  SW FEMALE 
    CENTRE-POINT   58244.011          64224.643          11631.220 
    BRANCH1-POINT  58244.891          64224.643          11631.220  1  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TM                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58244.011          64224.643          11632.100  1
    END-POINT  58244.011          64224.643          11632.100  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58244.891          64224.643          11631.220  1
    END-POINT  58244.891          64224.643          11631.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ZY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58270.146          64224.643          11631.220  1  PL
    END-POINT  58244.891          64224.643          11631.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ZW                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58270.146          64224.643          11631.220  1
    END-POINT  58270.146          64224.643          11631.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ZX                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58273.771          64224.643          11631.220  1  SW FEMALE 
    END-POINT  58270.146          64224.643          11631.220  1  SW FEMALE 
    CENTRE-POINT   58271.958          64224.643          11631.220 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           8.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ZT                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58273.771          64224.643          11631.220  1  SW FEMALE 
    END-POINT  58273.771          64224.643          11631.220  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ZU                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58280.771          64224.643          11631.220  1  PL
    END-POINT  58273.771          64224.643          11631.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_JL                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58280.771          64224.643          11631.220  1
    END-POINT  58280.771          64224.643          11631.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_JM                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58281.651          64224.643          11630.340  1  SW FEMALE 
    END-POINT  58280.771          64224.643          11631.220  1  SW FEMALE 
    CENTRE-POINT   58281.651          64224.643          11631.220 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_JF                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58281.651          64224.643          11630.340  1
    END-POINT  58281.651          64224.643          11630.340  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_JJ                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58281.651          64224.643          11630.340  1  PL
    END-POINT  58281.651          64224.643          11600.100  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_JI                  
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58281.651          64224.643          11600.100  1
    END-POINT  58281.651          64224.643          11600.100  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_JK                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58282.468          64224.643          11599.220  1  SW FEMALE 
    END-POINT  58280.771          64224.643          11599.220  1  SW FEMALE 
    CENTRE-POINT   58281.651          64224.643          11599.220 
    BRANCH1-POINT  58281.651          64224.643          11600.100  1  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_HX                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58281.651  64224.643  11599.220  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4U0                 
SOCKET-WELD
    END-POINT  58282.468          64224.643          11599.220  1
    END-POINT  58282.468          64224.643          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2C1                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58280.771          64224.643          11599.220  1
    END-POINT  58280.771          64224.643          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1ZN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58280.771          64224.643          11599.220  1  PL
    END-POINT  58276.771          64224.643          11599.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1ZM                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58276.771          64224.643          11599.220  1  SW FEMALE 
    END-POINT  58276.771          64224.643          11599.220  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1ZP                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58276.771          64224.643          11599.220  1  SW FEMALE 
    END-POINT  58273.771          64224.643          11599.220  1  SW FEMALE 
    CENTRE-POINT   58275.271          64224.643          11599.220 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           8.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1ZO                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58273.771          64224.643          11599.220  1
    END-POINT  58273.771          64224.643          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RI                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58266.771          64224.642          11599.220  1  PL
    END-POINT  58273.771          64224.643          11599.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RG                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58266.771          64224.642          11599.220  1
    END-POINT  58266.771          64224.642          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58266.581          64224.642          11599.220  1  FL
    END-POINT  58266.771          64224.642          11599.220  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R7                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58266.581          64224.642          11599.220  1
    END-POINT  58266.456          64224.642          11599.220  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R8                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58266.581          64224.642          11599.220 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R9                 
INSTRUMENT
    END-POINT  58266.456          64224.642          11599.220  1  FL
    END-POINT  58259.206          64224.642          11599.220  1  FL
    CENTRE-POINT   58262.831          64224.642          11599.220 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R6                 
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58262.831  64224.642  11599.220 
    TEXT TCV$064$03
    UNDIMENSIONED
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58259.081          64224.642          11599.220  1
    END-POINT  58259.206          64224.642          11599.220  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RB                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58259.081          64224.642          11599.220 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RC                 
FLANGE
    END-POINT  58259.081          64224.642          11599.220  1  FL
    END-POINT  58258.891          64224.642          11599.220  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RA                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58258.891          64224.642          11599.220  1
    END-POINT  58258.891          64224.642          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58258.891          64224.642          11599.220  1  PL
    END-POINT  58251.891          64224.642          11599.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RD                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58251.891          64224.642          11599.220  1
    END-POINT  58251.891          64224.642          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4RF                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58251.891          64224.642          11599.220  1  SW FEMALE 
    END-POINT  58248.891          64224.642          11599.220  1  SW FEMALE 
    CENTRE-POINT   58250.391          64224.642          11599.220 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           8.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_KN                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58248.891          64224.642          11599.220  1
    END-POINT  58248.891          64224.642          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TL                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58244.891          64224.642          11599.220  1  PL
    END-POINT  58248.891          64224.642          11599.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4TJ                 
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58286.968          64224.643          11599.512  1.5  PL
    END-POINT  58282.468          64224.643          11599.220  1  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BZ                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58286.968          64224.643          11599.512  1.5  SW FEMALE 
    END-POINT  58286.968          64224.643          11599.512  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2C3                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
COUPLING
    END-POINT  58286.968          64224.643          11599.512  1.5  SW FEMALE 
    END-POINT  58287.281          64224.643          11599.512  1.5  SW FEMALE 
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2C2                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58287.281          64224.643          11599.512  1.5
    END-POINT  58287.281          64224.643          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2C5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58287.281          64224.643          11599.512  1.5  PL
    END-POINT  58292.841          64224.643          11599.512  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2C4                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58292.841          64224.643          11599.512  1.5  SW FEMALE 
    END-POINT  58292.841          64224.643          11599.512  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2CB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58292.841          64224.643          11599.512  1.5  SW FEMALE 
    END-POINT  58294.091          64224.643          11598.262  1.5  SW FEMALE 
    CENTRE-POINT   58294.091          64224.643          11599.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2C9                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58294.091          64224.643          11598.262  1.5
    END-POINT  58294.091          64224.643          11598.262  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_82W                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58294.091          64224.643          11598.262  1.5  PL
    END-POINT  58294.091          64224.643          11511.762  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_82V                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58294.091  64224.643  11548.019 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58294.091  64224.643  11569.250  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_92O                 
FLOOR-SYMBOL 
    CO-ORDS  58294.091  64224.643  11567.515 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58294.091  64224.643  11567.515 
    TEXT Grate Opening
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58294.091          64224.643          11511.762  1.5
    END-POINT  58294.091          64224.643          11511.762  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_82X                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58294.091          64224.643          11511.762  1.5  SW FEMALE 
    END-POINT  58294.091          64224.643          11509.262  1.5  SW FEMALE 
    CENTRE-POINT   58294.091          64224.643          11510.512 
    BRANCH1-POINT  58295.341          64224.643          11510.512  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2DA                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58294.091          64224.643          11509.262  1.5
    END-POINT  58294.091          64224.643          11509.262  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2DH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58295.341          64224.643          11510.512  1.5
    END-POINT  58295.341          64224.643          11510.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4QP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58295.341          64224.643          11510.512  1.5  PL
    END-POINT  58361.427          64224.642          11510.512  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4QO                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58321.575  64224.643  11510.512 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58346.800  64224.643  11510.512  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_71E                 
SOCKET-WELD
    END-POINT  58361.427          64224.642          11510.512  1.5
    END-POINT  58361.427          64224.642          11510.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4QQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58362.677          64224.642          11511.762  1.5  SW FEMALE 
    END-POINT  58361.427          64224.642          11510.512  1.5  SW FEMALE 
    CENTRE-POINT   58362.677          64224.642          11510.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4QJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58362.677          64224.642          11511.762  1.5
    END-POINT  58362.677          64224.642          11511.762  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4QM                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58362.677          64224.642          11511.762  1.5  PL
    END-POINT  58362.677          64224.642          11530.262  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4QL                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58362.677          64224.642          11530.262  1.5
    END-POINT  58362.677          64224.642          11530.262  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4QN                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58362.677          64223.392          11531.512  1.5  SW FEMALE 
    END-POINT  58362.677          64224.642          11530.262  1.5  SW FEMALE 
    CENTRE-POINT   58362.677          64224.642          11531.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4QG                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58362.677          64223.392          11531.512  1.5
    END-POINT  58362.677          64223.392          11531.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_91P                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58362.677          64081.636          11531.512  1.5  PL
    END-POINT  58362.677          64223.392          11531.512  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_91N                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58362.677  64138.648  11531.512  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_91Q                 
FLOW-ARROW
    CO-ORDS  58362.677  64130.267  11531.512 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58362.677          64081.636          11531.512  1.5
    END-POINT  58362.677          64081.636          11531.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_91O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58362.677          64080.386          11532.762  1.5  SW FEMALE 
    END-POINT  58362.677          64081.636          11531.512  1.5  SW FEMALE 
    CENTRE-POINT   58362.677          64080.386          11531.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_918                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58362.677          64080.386          11532.762  1.5
    END-POINT  58362.677          64080.386          11532.762  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_91K                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58362.677          64080.386          11532.762  1.5  PL
    END-POINT  58362.677          64080.386          11598.262  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_91J                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58362.677  64080.386  11567.086 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58362.677          64080.386          11598.262  1.5
    END-POINT  58362.677          64080.386          11598.262  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_91L                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58361.427          64080.386          11599.512  1.5  SW FEMALE 
    END-POINT  58362.677          64080.386          11598.262  1.5  SW FEMALE 
    CENTRE-POINT   58362.677          64080.386          11599.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_913                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58362.677  64080.386  11599.512 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64080.386  11599.512 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58362.677  64080.386  11599.512 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58362.677  64138.748  11599.512 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SOCKET-WELD
    END-POINT  58361.427          64080.386          11599.512  1.5
    END-POINT  58361.427          64080.386          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_916                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58361.427          64080.386          11599.512  1.5  PL
    END-POINT  58348.065          64080.386          11599.512  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_915                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58348.065          64080.386          11599.512  1.5
    END-POINT  58348.065          64080.386          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_917                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58346.815          64079.324          11599.512  1.5  SW FEMALE 
    END-POINT  58348.065          64080.386          11599.512  1.5  SW FEMALE 
    CENTRE-POINT   58346.815          64080.386          11599.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_910                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58346.815          64079.324          11599.512  1.5  SW FEMALE 
    END-POINT  58346.815          64079.324          11599.512  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_912                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58346.815          64079.324          11599.512  1.5  PL
    END-POINT  58346.815          64074.824          11599.220  1  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90U                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58346.815          64074.824          11599.220  1
    END-POINT  58346.815          64074.824          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90W                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
COUPLING
    END-POINT  58346.815          64074.386          11599.220  1  SW FEMALE 
    END-POINT  58346.815          64074.824          11599.220  1  SW FEMALE 
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90S                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58346.815          64074.386          11599.220  1  SW FEMALE 
    END-POINT  58346.815          64074.386          11599.220  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58346.815          64061.386          11599.220  1  PL
    END-POINT  58346.815          64074.386          11599.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90Q                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58346.815  64069.886  11599.220  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_92K                 
SOCKET-WELD
    END-POINT  58346.815          64061.386          11599.220  1
    END-POINT  58346.815          64061.386          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58346.815          64061.196          11599.220  1  FL
    END-POINT  58346.815          64061.386          11599.220  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4OG                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58346.815          64061.071          11599.220  1
    END-POINT  58346.815          64061.196          11599.220  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ARR                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58346.815          64061.071          11599.220 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ARS                 
MISC-COMPONENT
    END-POINT  58346.815          64061.071          11599.220  1  FL
    END-POINT  58346.815          64057.134          11599.220  1  FL
    CENTRE-POINT  58346.815  64059.102  11599.220 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ARQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS  58346.815          64059.102          11599.818  0.5
MESSAGE-CIRCLE
    CO-ORDS  58346.815  64059.102  11599.220 
    TEXT 3P$FE$064$11
    UNDIMENSIONED
GASKET
    END-POINT  58346.815          64057.009          11599.220  1
    END-POINT  58346.815          64057.134          11599.220  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AS9                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58346.815          64057.009          11599.220 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ASA                 
WELD
    END-POINT  58346.815          64059.102          11599.818  0.5
    END-POINT  58346.815          64059.102          11599.818  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AS2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58346.815          64059.102          11599.818  0.5  BW
    END-POINT  58346.815          64059.102          11603.252  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AS1                 
    PIPING-SPEC C2
    INSULATION-ON 
    CUT-PIECE-ALLOWANCE EP2 1/16"
SOCKET-WELD
    END-POINT  58346.815          64059.102          11603.252  0.5
    END-POINT  58346.815          64059.102          11603.252  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AS3                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58346.815          64059.102          11603.252  0.5  SW FEMALE 
    END-POINT  58346.815          64059.102          11606.257  0.5  SW FEMALE 
    CENTRE-POINT   58346.815          64059.102          11604.567 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           4.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4P8                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
END-POSITION-OPEN 
    CO-ORDS  58346.815          64059.102          11606.257 
FLANGE
    END-POINT  58346.815          64057.009          11599.220  1  FL
    END-POINT  58346.815          64056.819          11599.220  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AS8                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58346.815          64056.819          11599.220  1
    END-POINT  58346.815          64056.819          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ASC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58346.815          64056.819          11599.220  1  PL
    END-POINT  58346.815          64035.631          11599.220  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ASB                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58346.815          64035.631          11599.220  1
    END-POINT  58346.815          64035.631          11599.220  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ASD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
COUPLING
    END-POINT  58346.815          64035.194          11599.220  1  SW FEMALE 
    END-POINT  58346.815          64035.631          11599.220  1  SW FEMALE 
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90L                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58346.815          64035.194          11599.220  1  SW FEMALE 
    END-POINT  58346.815          64035.194          11599.220  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90M                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58346.815          64030.694          11599.512  1.5  PL
    END-POINT  58346.815          64035.194          11599.220  1  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90I                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58346.815          64030.694          11599.512  1.5
    END-POINT  58346.815          64030.694          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90K                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
COUPLING
    END-POINT  58346.815          64030.381          11599.512  1.5  SW FEMALE 
    END-POINT  58346.815          64030.694          11599.512  1.5  SW FEMALE 
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90F                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58346.815          64030.381          11599.512  1.5
    END-POINT  58346.815          64030.381          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ADT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58346.815          63969.410          11599.512  1.5  PL
    END-POINT  58346.815          64030.381          11599.512  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_921                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58346.815  63998.209  11599.512 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58346.815  63975.910  11599.512  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_92I                 
SOCKET-WELD
    END-POINT  58346.815          63969.410          11599.512  1.5
    END-POINT  58346.815          63969.410          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_922                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58346.242          63968.027          11599.512  1.5  SW FEMALE 
    END-POINT  58346.815          63969.410          11599.512  1.5  SW FEMALE 
    CENTRE-POINT   58346.815          63968.600          11599.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_908                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58346.242          63968.027          11599.512  1.5
    END-POINT  58346.242          63968.027          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90B                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58346.242          63968.027          11599.512  1.5  PL
    END-POINT  58335.248          63957.033          11599.512  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90A                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58335.248          63957.033          11599.512  1.5
    END-POINT  58335.248          63957.033          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_90C                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58334.675          63955.650          11599.512  1.5  SW FEMALE 
    END-POINT  58335.248          63957.033          11599.512  1.5  SW FEMALE 
    CENTRE-POINT   58334.675          63956.460          11599.512 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_904                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58334.675          63955.650          11599.512  1.5  SW FEMALE 
    END-POINT  58334.675          63955.650          11599.512  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_906                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58334.675          63948.530          11599.512  1.5  PL
    END-POINT  58334.675          63955.650          11599.512  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_902                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58334.675          63948.530          11599.512  1.5
    END-POINT  58334.675          63948.530          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_903                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58334.675          63948.270          11599.512  1.5  FL
    END-POINT  58334.675          63948.530          11599.512  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47X                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58334.675          63948.270          11599.512  1.5
    END-POINT  58334.675          63948.145          11599.512  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47Y                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58334.675          63948.270          11599.512 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47Z                 
VALVE
    END-POINT  58334.675          63941.645          11599.512  1.5  FL
    END-POINT  58334.675          63948.145          11599.512  1.5  FL
    CENTRE-POINT   58334.675          63944.895          11599.512 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          23.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47T                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58334.675          63941.645          11599.512  1.5
    END-POINT  58334.675          63941.520          11599.512  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47U                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58334.675          63941.645          11599.512 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47V                 
FLANGE
    END-POINT  58334.675          63941.520          11599.512  1.5  FL
    END-POINT  58334.675          63941.328          11599.512  1.5  SW FEMALE 
    SKEY FLSW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47R                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58334.675          63941.328          11599.512 
    PIPELINE-REFERENCE ISO-PY3-2041008
PIPE
    END-POINT  58294.091          64224.643          11509.262  1.5  PL
    END-POINT  58294.091          64224.643          11502.262  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2DG                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58294.091          64224.643          11502.262  1.5  SW FEMALE 
    END-POINT  58294.091          64224.643          11502.262  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AG4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58294.091          64224.643          11502.262  1.5  SW FEMALE 
    END-POINT  58294.091          64224.643          11499.950  1.5  SW FEMALE 
    CENTRE-POINT   58294.091          64224.643          11501.012 
    BRANCH1-POINT  58292.841          64224.643          11501.012  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AG2                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58294.091          64224.643          11499.950  1.5  SW FEMALE 
    END-POINT  58294.091          64224.643          11499.950  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AIB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58292.841          64224.643          11501.012  1.5
    END-POINT  58292.841          64224.643          11501.012  1.5  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58243.471          64224.643          11501.012  1.5  PL
    END-POINT  58292.841          64224.643          11501.012  1.5  PL
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AGI                 
    PIPING-SPEC C2
FLOW-ARROW
    CO-ORDS  58268.314  64224.643  11501.012 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58243.471          64224.643          11501.012 
    PIPELINE-REFERENCE ISO-PY3-1218024
REDUCER-CONCENTRIC
    END-POINT  58294.091          64224.643          11499.950  1.5  PL
    END-POINT  58294.091          64224.643          11495.450  0.75  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_1
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2DL                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58294.091          64224.643          11495.450  0.75  SW FEMALE 
    END-POINT  58294.091          64224.643          11495.450  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2DO                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58294.091          64224.643          11495.450  0.75  SW FEMALE 
    END-POINT  58294.091          64224.643          11493.075  0.75  SW FEMALE 
    CENTRE-POINT   58294.091          64224.643          11494.262 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2DN                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58294.091          64224.643          11493.075  0.75  SW MALE 
    END-POINT  58294.091          64224.643          11493.075  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R2                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58294.091          64224.643          11493.075  0.75  SW MALE 
    END-POINT  58294.091          64224.643          11490.075  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R1                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58294.091          64224.643          11490.075  0.75  SC FEMALE 
    END-POINT  58294.091          64224.643          11490.075  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
CAP
    END-POINT  58294.091          64224.643          11490.075  0.75  SC FEMALE 
    END-POINT  58294.091          64224.643          11489.135  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R3                 
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58244.011          64224.643          11632.100  1  PL
    END-POINT  58244.011          64224.643          11635.600  0.75  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_1
    WEIGHT           0.670
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATU                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58244.011          64224.643          11635.600  0.75  SW FEMALE 
    END-POINT  58244.011          64224.643          11635.600  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
UNION
    END-POINT  58244.011          64224.643          11635.600  0.75  SW FEMALE 
    END-POINT  58244.011          64224.643          11636.787  0.75  SW FEMALE 
    SKEY UNSW
    FABRICATION-ITEM
    ITEM-CODE UNN3/4
    WEIGHT           1.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATW                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58244.011          64224.643          11636.787  0.75
    END-POINT  58244.011          64224.643          11636.787  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AU9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58244.011          64224.643          11640.790  0.75  PL
    END-POINT  58244.011          64224.643          11636.787  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AU7                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58244.011          64224.643          11640.790  0.75
    END-POINT  58244.011          64224.643          11640.790  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AU8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58244.011          64224.643          11640.970  0.75  FL
    END-POINT  58244.011          64224.643          11640.790  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AU4                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58244.011          64224.643          11640.970  0.75
    END-POINT  58244.011          64224.643          11641.095  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AU5                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58244.011          64224.643          11640.970 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AU6                 
VALVE-ANGLE
    END-POINT  58244.011          64224.643          11641.095  0.75  FL
    END-POINT  58249.198          64224.643          11647.282  1  FL
    CENTRE-POINT   58244.011          64224.643          11647.282 
    SKEY ARFL
    FABRICATION-ITEM
    ITEM-CODE VALVREL3/4X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATY                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58244.011  64224.643  11647.282 
    TEXT PSV$064$14
    UNDIMENSIONED
GASKET
    END-POINT  58249.323          64224.643          11647.282  1
    END-POINT  58249.198          64224.643          11647.282  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AUH                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58249.323          64224.643          11647.282  1  FL
    END-POINT  58249.513          64224.643          11647.282  1  SW FEMALE 
    SKEY FLSW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AUG                 
    PIPING-SPEC C2
END-CONNECTION-PIPELINE 
    CO-ORDS  58249.513          64224.643          11647.282 
    PIPELINE-REFERENCE ISO-PY3-1218025
PIPE
    END-POINT  58225.138          64245.319          11598.262  1.5  PL
    END-POINT  58225.138          64245.319          11515.001  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2NR                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58225.138  64245.319  11590.059 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58225.138  64245.319  11569.252  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_92M                 
FLOOR-SYMBOL 
    CO-ORDS  58225.138  64245.319  11567.586 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58225.138  64245.319  11567.586 
    TEXT Grate Opening
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58225.138          64245.319          11515.001  1.5
    END-POINT  58225.138          64245.319          11515.001  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2NT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58225.138          64246.569          11513.751  1.5  SW FEMALE 
    END-POINT  58225.138          64245.319          11515.001  1.5  SW FEMALE 
    CENTRE-POINT   58225.138          64245.319          11513.751 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BB                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58225.138  64245.319  11513.751 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58225.138  64378.800  11513.751 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58225.138  64245.319  11513.751 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64245.319  11513.751 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SOCKET-WELD
    END-POINT  58225.138          64246.569          11513.751  1.5
    END-POINT  58225.138          64246.569          11513.751  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58225.138          64246.569          11513.751  1.5  PL
    END-POINT  58225.138          64257.319          11513.751  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BE                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58225.138          64257.319          11513.751  1.5
    END-POINT  58225.138          64257.319          11513.751  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2BG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58226.388          64258.569          11513.751  1.5  SW FEMALE 
    END-POINT  58225.138          64257.319          11513.751  1.5  SW FEMALE 
    CENTRE-POINT   58225.138          64258.569          11513.751 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2B3                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58226.388          64258.569          11513.751  1.5
    END-POINT  58226.388          64258.569          11513.751  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58231.508          64258.569          11513.751  1.5  PL
    END-POINT  58226.388          64258.569          11513.751  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OV                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58231.508          64258.569          11513.751  1.5
    END-POINT  58231.508          64258.569          11513.751  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58231.768          64258.569          11513.751  1.5  FL
    END-POINT  58231.508          64258.569          11513.751  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OR                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58231.768          64258.569          11513.751  1.5
    END-POINT 
** 
Processing ID: AT_FMJ8D1LE_8OS  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OS                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58231.768          64258.569          11513.751 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8OT                 
END-POSITION-OPEN 
    CO-ORDS  58231.768  64258.569  11513.751 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE INST21+1/2X1/2
    CATALOG ANSI B16.11
    DESCRIPTION REDUCING INSERT, SWMxSWF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, PLxPL, SCH 40, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE CPL1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION FULL COUPLING, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPEB-1
    DESCRIPTION PIPE SUPPORT, P619 FIG 1 , L=2'-7 1/4"
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 800LB, GL-08-CB-001
    RATING 800LB
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE VALVGAT3/4
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVCNT1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, 150LB, RF, CS, TCV-064-03
    RATING 150LB
ITEM-CODE CPL1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION FULL COUPLING, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION RISER CLAMP/GUIDE, P615, FIG.2 (C.S.)
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION ROD HANGER P624, FIG. 4, L=2'-11 7/16"
ITEM-CODE SUPTS-1+1/2
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
ITEM-CODE SUPST-1
    DESCRIPTION PIPE SUPPORT, P619 FIG 1, L=2'-7 1/4"
ITEM-CODE GENSTR1
    DESCRIPTION FE-064-11
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION PIPE SUPPORT, P617 FIG 1, L=2'-7 1/2"
ITEM-CODE 45L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 45 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVGAT1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, 150LB, RF, GA-01-CB-500
    RATING 150LB
ITEM-CODE FAB SHOP_1
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, PLxPL, SCH 40xSCH 80, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE CAP3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE UNN3/4
    CATALOG MSS SP-83
    DESCRIPTION UNION, SWF,  3000LB, ASTM A105, MSS SP-83
    RATING 3000LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVREL3/4X1
    CATALOG CONSOLIDATED VALVES
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-064-14
    RATING 150LB
