ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222001
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1222001-PP-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 MH
    ATTRIBUTE22 11/21/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/4/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/5/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/5/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/5/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/5/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/17/2009
    ATTRIBUTE36 D. DURK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58074.895          64010.805          12115.489  6  FL
    END-POINT  58074.895          64010.805          12111.989  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_87H                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58074.895          64010.805          12115.489  6
    END-POINT  58074.875          64010.750          12115.614  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_965                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58074.895          64010.805          12115.489 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_966                 
PIPE
    END-POINT  58074.875          64010.750          12115.614  6  
    END-POINT  58074.875          64010.750          12115.601  6  
    CONTINUATION 
    MESSAGE This is a GAP 
WELD
    END-POINT  58074.895          64010.805          12111.989  6
    END-POINT  58074.895          64010.805          12111.989  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8RA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58074.875          64010.750          12115.614 
PIPE
    END-POINT  58074.895          64010.805          11618.250  6  BW
    END-POINT  58074.895          64010.805          12111.989  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8R8                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58074.895  64010.805  11928.911  6
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-6
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8RS                 
SUPPORT
    CO-ORDS  58074.895  64010.805  11783.986  6
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-6
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8RW                 
FLOOR-SYMBOL 
    CO-ORDS  58074.895  64010.805  11784.019 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58074.895  64010.805  11784.019 
    TEXT Grate Opening
    UNDIMENSIONED
FLOOR-SYMBOL 
    CO-ORDS  58074.895  64010.805  11927.986 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58074.895  64010.805  11927.986 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58074.895          64010.805          11618.250  6
    END-POINT  58074.895          64010.805          11618.250  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8RP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58074.895          64010.805          11618.250  6  BW
    END-POINT  58080.895          64010.805          11612.250  6  BW
    CENTRE-POINT   58074.895          64010.805          11612.250 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8RJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58074.895  64010.805  11612.250 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64010.805  11612.250 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58074.895  64010.805  11612.250 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58074.895  63898.800  11612.250 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58080.895          64010.805          11612.250  6
    END-POINT  58080.895          64010.805          11612.250  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_95W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58080.895          64010.805          11612.250  6  BW
    END-POINT  58085.052          64010.805          11612.250  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_95V                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58085.052          64010.805          11612.250  6
    END-POINT  58085.052          64010.805          11612.250  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_95X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58085.052          64010.805          11612.250  6
    END-POINT  58085.052          64010.805          11612.250  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_95Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58085.395          64010.805          11612.250  6  FL
    END-POINT  58085.052          64010.805          11612.250  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8QY                 
    PIPING-SPEC S1
GASKET
    END-POINT  58085.395          64010.805          11612.250  6
    END-POINT  58085.520          64010.805          11612.250  6
    ERECTION-ITEM
    ITEM-CODE GAS6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8S5                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58085.395          64010.805          11612.250 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8S6                 
END-POSITION-OPEN 
    CO-ORDS  58085.520          64010.805          11612.250 
MATERIALS
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE PIP6
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-6
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE 90LSR6
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG SR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP6
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6_1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
