ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211005
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1211005-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/9/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/23/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/16/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 SG
    ATTRIBUTE61 BL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58300.356          64158.373          11379.000  1.5  FL
    END-POINT  58300.356          64158.373          11379.208  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AP                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58300.356          64158.373          11379.000  1.5
    END-POINT  58300.356          64158.373          11378.875  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58300.356          64158.373          11379.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDH                 
WELD
    END-POINT  58300.356          64158.373          11379.208  1.5
    END-POINT  58300.356          64158.373          11379.208  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HDM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58300.356          64158.373          11379.208  1.5
    END-POINT  58300.356          64158.373          11379.208  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HDN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58300.356          64158.373          11378.875 
PIPE
    END-POINT  58300.364          64158.364          11385.770  1.5  BW
    END-POINT  58300.356          64158.373          11379.208  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HDK                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58300.364          64158.364          11385.770  1.5
    END-POINT  58300.364          64158.364          11385.770  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HDL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58300.364          64158.364          11385.770  1.5  BW
    END-POINT  58298.137          64158.364          11388.020  1.5  BW
    CENTRE-POINT   58300.364          64158.364          11387.997 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G6Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8942
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58300.364  64158.364  11387.997 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64158.364  11387.997 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58300.364  64158.364  11387.997 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58300.364  64138.748  11387.997 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58298.137          64158.364          11388.020  1.5
    END-POINT  58298.137          64158.364          11388.020  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58187.570          64158.364          11389.200  1.5  BW
    END-POINT  58298.137          64158.364          11388.020  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HEI                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58236.404  64158.364  11388.645 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58187.570          64158.364          11389.200  1.5
    END-POINT  58187.570          64158.364          11389.200  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HEJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58187.570          64158.364          11389.200  1.5  BW
    END-POINT  58185.650          64157.569          11389.219  1.5  BW
    CENTRE-POINT   58186.445          64158.364          11389.211 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E04                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58185.650          64157.569          11389.219  1.5
    END-POINT  58185.650          64157.569          11389.219  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E0B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58181.420          64153.339          11389.262  1.5  BW
    END-POINT  58185.650          64157.569          11389.219  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E09                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.420          64153.339          11389.262  1.5
    END-POINT  58181.420          64153.339          11389.262  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E0A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58181.420          64153.339          11389.262  1.5  BW
    END-POINT  58179.500          64152.544          11389.282  1.5  BW
    CENTRE-POINT   58180.625          64152.544          11389.270 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E07                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58179.500          64152.544          11389.282  1.5
    END-POINT  58179.500          64152.544          11389.282  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58151.826          64152.544          11389.565  1.5  PL
    END-POINT  58179.500          64152.544          11389.282  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDP                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58151.826          64152.544          11389.565  1.5
    END-POINT  58151.826          64152.544          11389.565  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58148.306          64152.544          11389.600  1.5  SW FEMALE 
    END-POINT  58151.826          64152.544          11389.565  1.5  SW FEMALE 
    CENTRE-POINT   58150.066          64152.544          11389.583 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDL                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58148.306          64152.544          11389.600  1.5  SW FEMALE 
    END-POINT  58148.306          64152.544          11389.600  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58135.777          64152.544          11389.727  1.5  BW
    END-POINT  58148.306          64152.544          11389.600  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58135.777          64152.544          11389.727  1.5
    END-POINT  58135.777          64152.544          11389.727  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IDK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58133.550          64152.544          11391.977  1.5  BW
    END-POINT  58135.777          64152.544          11389.727  1.5  BW
    CENTRE-POINT   58133.550          64152.544          11389.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G77                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8942
WELD
    END-POINT  58133.550          64152.544          11391.977  1.5
    END-POINT  58133.550          64152.544          11391.977  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HDC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58133.550          64152.544          11391.977  1.5  BW
    END-POINT  58133.550          64152.544          11411.754  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DHW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58133.550          64152.544          11411.754  1.5
    END-POINT  58133.550          64152.544          11411.754  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58133.550          64152.544          11411.754  1.5  BW
    END-POINT  58133.550          64150.316          11414.004  1.5  BW
    CENTRE-POINT   58133.550          64152.544          11413.981 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7D                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8942
WELD
    END-POINT  58133.550          64150.316          11414.004  1.5
    END-POINT  58133.550          64150.316          11414.004  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58133.550          64150.316          11414.004  1.5  BW
    END-POINT  58133.550          63861.971          11416.981  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7J                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58133.550  64138.874  11414.122  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7S                 
SUPPORT
    CO-ORDS  58133.550  64042.320  11415.119  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7U                 
SUPPORT
    CO-ORDS  58133.550  63922.791  11416.353  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7W                 
FLOW-ARROW
    CO-ORDS  58133.550  64090.114  11414.626 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58133.550          63861.971          11416.981  1.5
    END-POINT  58133.550          63861.971          11416.981  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58133.550          63859.744          11419.231  1.5  BW
    END-POINT  58133.550          63861.971          11416.981  1.5  BW
    CENTRE-POINT   58133.550          63859.744          11417.004 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7G                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8942
WELD
    END-POINT  58133.550          63859.744          11419.231  1.5
    END-POINT  58133.550          63859.744          11419.231  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G7I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58133.550          63859.744          11419.231  1.5  BW
    END-POINT  58133.559          63859.744          12040.922  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5M0                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58133.550  63859.744  11567.391  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5NB                 
    TAG                         P614                            
TEE-SET-ON
    BRANCH1-POINT  58133.550          63860.694          11567.391  1.3125
    CENTRE-POINT   58133.550  63859.744  11567.391 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58133.550          63860.694          11567.391  1.3125  BW
    END-POINT  58133.550  63868.744  11567.391  1.3125  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58133.550  63868.744  11567.391 
TEE-SET-ON
    BRANCH1-POINT  58133.550          63858.794          11567.391  1.3125
    CENTRE-POINT   58133.550  63859.744  11567.391 
    SKEY TESO
PIPE
    END-POINT  58133.550          63858.794          11567.391  1.3125  BW
    END-POINT  58133.550  63850.744  11567.391  1.3125  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58133.550  63850.744  11567.391 
SUPPORT
    CO-ORDS  58133.559  63859.744  11775.263  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ASN                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58133.559  63859.744  11915.844  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ASP                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  58133.559  63859.744  11735.337 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58133.559          63859.744          12040.922  1.5
    END-POINT  58133.559          63859.744          12040.922  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AOF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58135.150          63861.335          12043.172  1.5  BW
    END-POINT  58133.559          63859.744          12040.922  1.5  BW
    CENTRE-POINT   58133.559          63859.744          12043.172 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AOC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58135.150          63861.335          12043.172  1.5
    END-POINT  58135.150          63861.335          12043.172  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G83                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58141.763          63867.953          12043.338  1.5  BW
    END-POINT  58135.150          63861.335          12043.172  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G81                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58141.763          63867.953          12043.338  1.5
    END-POINT  58141.763          63867.953          12043.338  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G82                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58141.763          63867.953          12043.338  1.5  BW
    END-POINT  58142.559          63869.874          12043.361  1.5  BW
    CENTRE-POINT   58142.559          63868.749          12043.348 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CSY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  58142.559          63869.874          12043.361  1.5
    END-POINT  58142.559          63869.874          12043.361  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CT6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58142.559          63869.874          12043.361  1.5  BW
    END-POINT  58142.559          63929.755          12044.082  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CT5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58142.559          63929.755          12044.082  1.5
    END-POINT  58142.559          63929.755          12044.082  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CT7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58140.309          63932.005          12044.133  1.5  BW
    END-POINT  58142.559          63929.755          12044.082  1.5  BW
    CENTRE-POINT   58142.559          63932.005          12044.109 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ALY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58140.309          63932.005          12044.133  1.5
    END-POINT  58140.309          63932.005          12044.133  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G89                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57881.039          63932.005          12046.836  1.5  BW
    END-POINT  58140.309          63932.005          12044.133  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G87                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58054.633  63932.005  12045.026  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G8A                 
SUPPORT
    CO-ORDS  57910.978  63932.005  12046.524  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G8C                 
FLOW-ARROW
    CO-ORDS  57970.033  63932.005  12045.908 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57881.039          63932.005          12046.836  1.5
    END-POINT  57881.039          63932.005          12046.836  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G88                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57878.813          63932.005          12049.086  1.5  BW
    END-POINT  57881.039          63932.005          12046.836  1.5  BW
    CENTRE-POINT   57878.813          63932.005          12046.859 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G84                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8940
WELD
    END-POINT  57878.813          63932.005          12049.086  1.5
    END-POINT  57878.813          63932.005          12049.086  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57878.813          63931.982          12063.083  1.5  BW
    END-POINT  57878.813          63932.005          12049.086  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOS                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57878.813          63931.982          12063.083  1.5
    END-POINT  57878.813          63931.982          12063.083  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57878.813          63934.255          12065.309  1.5  BW
    END-POINT  57878.813          63931.982          12063.083  1.5  BW
    CENTRE-POINT   57878.813          63932.005          12065.333 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOP                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57878.813          63934.255          12065.309  1.5
    END-POINT  57878.813          63934.255          12065.309  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57878.813          63934.255          12065.309  1.5  BW
    END-POINT  57878.813          64240.324          12062.144  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9D                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57878.813  64138.742  12063.195  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9G                 
FLOW-ARROW
    CO-ORDS  57878.813  64107.105  12063.522 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57878.813          64240.324          12062.144  1.5
    END-POINT  57878.813          64240.324          12062.144  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57878.813          64242.551          12059.895  1.5  BW
    END-POINT  57878.813          64240.324          12062.144  1.5  BW
    CENTRE-POINT   57878.813          64242.551          12062.122 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G8E                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8941
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57878.813  64242.551  12062.122 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64242.551  12062.122 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57878.813  64242.551  12062.122 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57878.813  64378.800  12062.122 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  57878.813          64242.551          12059.895  1.5
    END-POINT  57878.813          64242.551          12059.895  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57878.813          64242.551          12059.895  1.5  BW
    END-POINT  57878.813          64242.551          12046.339  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBC                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57878.813          64242.551          12046.339  1.5
    END-POINT  57878.813          64242.551          12046.339  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GBE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57878.813          64242.551          12046.339  1.5  BW
    END-POINT  57881.040          64242.551          12044.089  1.5  BW
    CENTRE-POINT   57878.813          64242.551          12044.111 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9N                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8942
WELD
    END-POINT  57881.040          64242.551          12044.089  1.5
    END-POINT  57881.040          64242.551          12044.089  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57883.480          64242.551          12044.064  1.5  FL
    END-POINT  57881.040          64242.551          12044.089  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9S                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57883.605          64242.551          12044.063  1.5
    END-POINT  57883.480          64242.551          12044.064  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9V                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57883.605          64242.551          12044.063 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9W                 
FLANGE
    END-POINT  57883.605          64242.551          12044.063  1.5  FL
    END-POINT  57883.813          64242.551          12044.061  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9U                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57883.813          64242.551          12044.061  1.5
    END-POINT  57883.813          64242.551          12044.061  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57883.813          64242.551          12044.061  1.5
    END-POINT  57883.813          64242.551          12044.061  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GA0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57975.580          64242.551          12043.111  1.5  BW
    END-POINT  57883.813          64242.551          12044.061  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9X                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57911.208  64242.551  12043.777  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GA2                 
FLOW-ARROW
    CO-ORDS  57924.713  64242.551  12043.637 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57975.580          64242.551          12043.111  1.5
    END-POINT  57975.580          64242.551          12043.111  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57977.807          64242.551          12040.861  1.5  BW
    END-POINT  57975.580          64242.551          12043.111  1.5  BW
    CENTRE-POINT   57977.807          64242.551          12043.089 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9K                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8942
WELD
    END-POINT  57977.807          64242.551          12040.861  1.5
    END-POINT  57977.807          64242.551          12040.861  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G9M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57977.807          64242.551          12040.861  1.5  BW
    END-POINT  57977.807          64242.551          11983.695  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DP6                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57977.807          64242.551          11983.695  1.5
    END-POINT  57977.807          64242.551          11983.695  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EXR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57979.398          64244.142          11981.445  1.5  BW
    END-POINT  57977.807          64242.551          11983.695  1.5  BW
    CENTRE-POINT   57977.807          64242.551          11981.445 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DOY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57979.398          64244.142          11981.445  1.5
    END-POINT  57979.398          64244.142          11981.445  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DP1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57979.398          64244.142          11981.445  1.5  BW
    END-POINT  57982.759          64247.503          11981.445  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DP0                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57982.759          64247.503          11981.445  1.5
    END-POINT  57982.759          64247.503          11981.445  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DP2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57982.759          64247.503          11981.445  1.5  BW
    END-POINT  57985.941          64247.503          11981.445  1.5  BW
    CENTRE-POINT   57984.350          64249.094          11981.445 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNF                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57985.941          64247.503          11981.445  1.5
    END-POINT  57985.941          64247.503          11981.445  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57988.416          64245.028          11981.445  3  BW
    END-POINT  57985.941          64247.503          11981.445  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNI                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57988.416          64245.028          11981.445  3
    END-POINT  57988.416          64245.028          11981.445  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57990.361          64243.084          11981.445  3  FL
    END-POINT  57988.416          64245.028          11981.445  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57990.361          64243.084          11981.445  3
    END-POINT  57990.449          64242.995          11981.445  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GB6                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57990.361          64243.084          11981.445 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GB7                 
INSTRUMENT-3WAY
    END-POINT  57999.553          64242.995          11981.445  3  FL
    END-POINT  57990.449          64233.891          11981.445  3  FL
    END-POINT  57990.449          64242.995          11981.445  3  FL
    CENTRE-POINT   57995.001          64238.443          11981.445 
    SKEY C3FL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIC                 
    TAG FV$009$05                       
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  57999.553          64242.995          11981.445 
    PIPELINE-REFERENCE ISO-PY3-1211011
MATERIALS
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 45LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION PIPE INSULATION PROTECTION SADDLE, P651 FIG 1
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION TRUNNION SUPPORT P614
ITEM-CODE SUPPS-1+1/2_1
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION P624, FIG. 1 W/ FIG 66 CLEVIS EYENUT, L=
ITEM-CODE REDCON3X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
