ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2041065
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 LC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2041065-LC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-041
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/4/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/11/2009
    ATTRIBUTE25 DC
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 DC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58145.190          63917.078          11588.750  0.75  PL
    END-POINT  58145.190          63913.578          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4H1                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58145.190          63917.078          11588.750  0.75
    END-POINT  58145.190          63917.078          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4H2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58145.190          63913.578          11588.750  0.75  SW FEMALE 
    END-POINT  58145.190          63913.578          11588.750  0.75
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_FG                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58145.190  63911.828  11588.750 
    BRANCH1-POINT  58145.190          63913.578          11588.750  0.75  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_M                   
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58145.190  63911.828  11588.750 
    PIPELINE-REFERENCE ISO-PY3-2041009
ELBOW
    END-POINT  58145.940          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58145.190          63917.078          11588.750  0.75  SW FEMALE 
    CENTRE-POINT   58145.190          63917.828          11588.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4GZ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58145.940          63917.828          11588.750  0.75
    END-POINT  58145.940          63917.828          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9F9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58145.940          63917.828          11588.750  0.75  PL
    END-POINT  58150.940          63917.828          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9F8                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58150.940          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58150.940          63917.828          11588.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58150.940          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58153.315          63917.828          11588.750  0.75  SW FEMALE 
    CENTRE-POINT   58152.128          63917.828          11588.750 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FA                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58153.315          63917.828          11588.750  0.75
    END-POINT  58153.315          63917.828          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FG                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58153.315          63917.828          11588.750  0.75  PL
    END-POINT  58158.255          63917.828          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FF                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58158.255          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58158.255          63917.828          11588.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58158.435          63917.828          11588.750  0.75  FL
    END-POINT  58158.255          63917.828          11588.750  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FH                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58158.560          63917.828          11588.750  0.75
    END-POINT  58158.435          63917.828          11588.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FK                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58158.560          63917.828          11588.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FL                 
FLANGE
    END-POINT  58158.560          63917.828          11588.750  0.75  FL
    END-POINT  58158.740          63917.828          11588.750  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FJ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58158.740          63917.828          11588.750  0.75
    END-POINT  58158.740          63917.828          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58158.740          63917.828          11588.750  0.75  PL
    END-POINT  58162.743          63917.828          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FM                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58162.743          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58162.743          63917.828          11588.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58162.743          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58164.518          63917.828          11588.750  0.75  SW FEMALE 
    CENTRE-POINT  58163.630  63917.828  11588.750 
    SKEY NCSW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FP                 
    TAG SP-011                          
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58163.657  63917.828  11588.750 
    TEXT SP-939
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58164.518          63917.828          11588.750  0.75
    END-POINT  58164.518          63917.828          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58164.518          63917.828          11588.750  0.75  PL
    END-POINT  58168.520          63917.828          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FS                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58168.520          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58168.520          63917.828          11588.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58168.700          63917.828          11588.750  0.75  FL
    END-POINT  58168.520          63917.828          11588.750  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FU                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58168.825          63917.828          11588.750  0.75
    END-POINT  58168.700          63917.828          11588.750  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FX                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58168.825          63917.828          11588.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FY                 
FLANGE
    END-POINT  58168.825          63917.828          11588.750  0.75  FL
    END-POINT  58169.005          63917.828          11588.750  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FW                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58169.005          63917.828          11588.750  0.75
    END-POINT  58169.005          63917.828          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58169.005          63917.828          11588.750  0.75  PL
    END-POINT  58173.945          63917.828          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9FZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58173.945          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58173.945          63917.828          11588.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G2                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58173.945          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58176.320          63917.828          11588.750  0.75  SW FEMALE 
    CENTRE-POINT   58175.133          63917.828          11588.750 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           3.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G1                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58176.320          63917.828          11588.750  0.75
    END-POINT  58176.320          63917.828          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G4                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58176.320          63917.828          11588.750  0.75  PL
    END-POINT  58181.320          63917.828          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G3                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58181.320          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58181.320          63917.828          11588.750  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G6                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58181.320          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58183.695          63917.828          11588.750  0.75  SW FEMALE 
    CENTRE-POINT   58182.508          63917.828          11588.750 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G5                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58183.695          63917.828          11588.750  0.75
    END-POINT  58183.695          63917.828          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G9                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58183.695          63917.828          11588.750  0.75  PL
    END-POINT  58191.613          63917.828          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9G8                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58191.613          63917.828          11588.750  0.75
    END-POINT  58191.613          63917.828          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9GA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58191.613          63917.828          11588.750  0.75  SW FEMALE 
    END-POINT  58192.363          63918.578          11588.750  0.75  SW FEMALE 
    CENTRE-POINT   58192.363          63917.828          11588.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7UJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58192.363          63918.578          11588.750  0.75
    END-POINT  58192.363          63918.578          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7UR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58192.363          63922.078          11588.750  0.75  PL
    END-POINT  58192.363          63918.578          11588.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7UP                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58192.363          63922.078          11588.750  0.75
    END-POINT  58192.363          63922.078          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7UQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58192.363          63922.078          11588.750  0.75  SW FEMALE 
    END-POINT  58192.363          63922.828          11588.000  0.75  SW FEMALE 
    CENTRE-POINT   58192.363          63922.828          11588.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7UN                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58192.363  63922.828  11588.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58192.363  63898.800  11588.750 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58192.363  63922.828  11588.750 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63922.828  11588.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SOCKET-WELD
    END-POINT  58192.363          63922.828          11588.000  0.75
    END-POINT  58192.363          63922.828          11588.000  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7W5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58192.363          63922.828          11557.500  0.75  PL
    END-POINT  58192.363          63922.828          11588.000  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7W3                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58192.363  63922.828  11568.000  0.75
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WZ                 
FLOOR-SYMBOL 
    CO-ORDS  58192.363  63922.828  11568.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58192.363  63922.828  11568.000 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58192.363  63922.828  11577.500 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58192.363          63922.828          11557.500  0.75
    END-POINT  58192.363          63922.828          11557.500  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7W4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58192.363          63923.578          11556.750  0.75  SW FEMALE 
    END-POINT  58192.363          63922.828          11557.500  0.75  SW FEMALE 
    CENTRE-POINT   58192.363          63922.828          11556.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7W2                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58192.363          63923.578          11556.750  0.75
    END-POINT  58192.363          63923.578          11556.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7W9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58192.363          63940.078          11556.750  0.75  PL
    END-POINT  58192.363          63923.578          11556.750  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7W7                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58192.363          63940.078          11556.750  0.75
    END-POINT  58192.363          63940.078          11556.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7W8                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58192.363          63940.828          11556.000  0.75  SW FEMALE 
    END-POINT  58192.363          63940.078          11556.750  0.75  SW FEMALE 
    CENTRE-POINT   58192.363          63940.828          11556.750 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7W6                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58192.363          63940.828          11556.000  0.75
    END-POINT  58192.363          63940.828          11556.000  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58192.363          63940.828          11539.075  0.75  PL
    END-POINT  58192.363          63940.828          11556.000  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WB                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58192.363          63940.828          11539.075  0.75
    END-POINT  58192.363          63940.828          11539.075  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58192.363          63940.828          11539.075  0.75  SW FEMALE 
    END-POINT  58191.613          63940.828          11538.325  0.75  SW FEMALE 
    CENTRE-POINT   58192.363          63940.828          11538.325 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WA                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58191.613          63940.828          11538.325  0.75
    END-POINT  58191.613          63940.828          11538.325  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WI                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58142.811          63940.828          11538.325  0.75  PL
    END-POINT  58191.613          63940.828          11538.325  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WG                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.675  63940.828  11538.325  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WJ                 
FLOW-ARROW
    CO-ORDS  58168.865  63940.828  11538.325 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58142.811          63940.828          11538.325  0.75
    END-POINT  58142.811          63940.828          11538.325  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58142.811          63940.828          11538.325  0.75  SW FEMALE 
    END-POINT  58142.061          63940.828          11537.575  0.75  SW FEMALE 
    CENTRE-POINT   58142.061          63940.828          11538.325 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WE                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58142.061  63940.828  11538.325 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58142.061  63898.800  11538.325 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58142.061  63940.828  11538.325 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63940.828  11538.325 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
SOCKET-WELD
    END-POINT  58142.061          63940.828          11537.575  0.75
    END-POINT  58142.061          63940.828          11537.575  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58142.061          63940.828          11468.696  0.75  PL
    END-POINT  58142.061          63940.828          11537.575  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WW                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58142.061          63940.828          11468.696  0.75
    END-POINT  58142.061          63940.828          11468.696  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58142.061          63940.828          11468.696  0.75  SW FEMALE 
    END-POINT  58141.311          63940.828          11467.946  0.75  SW FEMALE 
    CENTRE-POINT   58142.061          63940.828          11467.946 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WO                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58141.311          63940.828          11467.946  0.75
    END-POINT  58141.311          63940.828          11467.946  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58134.300          63940.828          11467.946  0.75  PL
    END-POINT  58141.311          63940.828          11467.946  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WT                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58134.300          63940.828          11467.946  0.75
    END-POINT  58134.300          63940.828          11467.946  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58133.550          63940.828          11467.196  0.75  SW FEMALE 
    END-POINT  58134.300          63940.828          11467.946  0.75  SW FEMALE 
    CENTRE-POINT   58133.550          63940.828          11467.946 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7WP                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58133.550          63940.828          11467.196  0.75
    END-POINT  58133.550          63940.828          11467.196  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58133.550          63940.828          11453.275  0.75  PL
    END-POINT  58133.550          63940.828          11467.196  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AS                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58133.550          63940.828          11453.275  0.75
    END-POINT  58133.550          63940.828          11453.275  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58133.550          63941.578          11452.525  0.75  SW FEMALE 
    END-POINT  58133.550          63940.828          11453.275  0.75  SW FEMALE 
    CENTRE-POINT   58133.550          63940.828          11452.525 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AM                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58133.550          63941.578          11452.525  0.75  SW FEMALE 
    END-POINT  58133.550          63941.578          11452.525  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58133.550          64177.381          11452.525  0.75  PL
    END-POINT  58133.550          63941.578          11452.525  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VT                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58133.550  64138.800  11452.525  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VX                 
SUPPORT
    CO-ORDS  58133.550  64042.300  11452.525  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VZ                 
FLOW-ARROW
    CO-ORDS  58133.550  64061.843  11452.525 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58133.550  63964.953  11452.525  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9F1                 
SOCKET-WELD
    END-POINT  58133.550          64177.381          11452.525  0.75
    END-POINT  58133.550          64177.381          11452.525  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58133.550          64178.131          11451.775  0.75  SW FEMALE 
    END-POINT  58133.550          64177.381          11452.525  0.75  SW FEMALE 
    CENTRE-POINT   58133.550          64178.131          11452.525 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VH                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58133.550          64178.131          11451.775  0.75
    END-POINT  58133.550          64178.131          11451.775  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58133.550          64178.131          11435.668  0.75  PL
    END-POINT  58133.550          64178.131          11451.775  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VQ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58133.550          64178.131          11435.668  0.75
    END-POINT  58133.550          64178.131          11435.668  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58133.550          64178.131          11435.668  0.75  SW FEMALE 
    END-POINT  58132.800          64178.131          11434.918  0.75  SW FEMALE 
    CENTRE-POINT   58133.550          64178.131          11434.918 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VI                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58132.800          64178.131          11434.918  0.75
    END-POINT  58132.800          64178.131          11434.918  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58124.425          64178.131          11434.918  0.75  PL
    END-POINT  58132.800          64178.131          11434.918  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VN                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58124.425          64178.131          11434.918  0.75
    END-POINT  58124.425          64178.131          11434.918  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58123.675          64178.131          11434.168  0.75  SW FEMALE 
    END-POINT  58124.425          64178.131          11434.918  0.75  SW FEMALE 
    CENTRE-POINT   58123.675          64178.131          11434.918 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58123.675          64178.131          11434.168  0.75
    END-POINT  58123.675          64178.131          11434.168  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58123.675          64178.131          11434.168  0.75  PL
    END-POINT  58123.675          64178.131          11428.813  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VK                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.675          64178.131          11428.813  0.75
    END-POINT  58123.675          64178.131          11428.813  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VM                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58123.675          64178.131          11426.438  0.75  SW FEMALE 
    END-POINT  58123.675          64178.131          11428.813  0.75  SW FEMALE 
    CENTRE-POINT   58123.675          64178.131          11427.626 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VA                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58123.675          64178.131          11426.438  0.75  SW FEMALE 
    END-POINT  58123.675          64178.131          11426.438  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7VB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58123.675          64178.131          11421.111  0.75  PL
    END-POINT  58123.675          64178.131          11426.438  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7V8                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.675          64178.131          11421.111  0.75  SW FEMALE 
    END-POINT  58123.675          64178.131          11421.111  0.75
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_PN                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58123.675  64178.131  11418.298 
    BRANCH1-POINT  58123.675          64178.131          11421.111  0.75  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_DC                  
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58123.675  64178.131  11418.298 
    PIPELINE-REFERENCE ISO-PY3-2043006
MATERIALS
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE 90L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE GENSTR3/4
    DESCRIPTION STEAM TRAP W/INTEGRAL STRAINER, SP-939
    RATING 3000LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE SUPRH-3/4
    DESCRIPTION RISER CLAMP, P615, FIG.1, (C.S.)
ITEM-CODE SUPTS-3/4
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
ITEM-CODE SUPTS-3/4_1
    DESCRIPTION TEE SHOE SUPPORT , P602-FIG 1
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION ROD HANGER, P624-FIG7, L=1'-11 1/4", X=1'-10"
