ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211001
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1211001-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/8/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 6
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 RJR
    ATTRIBUTE49 D. DURK
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/2/2009
    ATTRIBUTE54 D. ORR
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BJL
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 11/1/2012
    ATTRIBUTE66 CP
    ATTRIBUTE67 DD
    ATTRIBUTE68 DK
    ATTRIBUTE69 REVISED CONTINUATION
    ATTRIBUTE70 6
    ATTRIBUTE71 12/17/2012
    ATTRIBUTE72 CP
    ATTRIBUTE73 DK
    ATTRIBUTE74 DK
    ATTRIBUTE75 REVISED FT-070-08
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  57911.770          64046.305          11423.905  0.5  SC FEMALE 
    END-POINT  57911.770          64046.305          11425.155  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3I                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57911.770          64046.305          11423.905  0.5  SC FEMALE 
    END-POINT  57911.770          64046.305          11423.905  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3J                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57911.770          64046.305          11421.495  0.5  PL
    END-POINT  57911.770          64046.305          11423.905  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3F                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57911.770          64046.305          11421.495  0.5
    END-POINT  57911.770          64046.305          11421.495  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57911.770          64046.305          11419.725  0.5  SW FEMALE 
    END-POINT  57911.770          64046.305          11421.495  0.5  SW FEMALE 
    CENTRE-POINT   57911.770          64046.305          11420.610 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3A                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  57911.770          64046.305          11419.725  0.5  SW FEMALE 
    END-POINT  57911.770          64046.305          11419.725  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57911.770          64046.305          11416.315  0.5  BW
    END-POINT  57911.770          64046.305          11419.725  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C38                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57911.770          64046.305          11416.315  0.5
    END-POINT  57911.770          64046.305          11416.315  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C39                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57911.770          64046.305          11414.315  1  BW
    END-POINT  57911.770          64046.305          11416.315  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C36                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57911.770          64046.305          11414.315  1
    END-POINT  57911.770          64046.305          11414.315  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C37                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57911.770          64046.305          11411.315  1  BW
    END-POINT  57911.770          64046.305          11414.315  1  BW
    CENTRE-POINT   57911.770          64046.305          11412.815 
    BRANCH1-POINT  57911.770          64047.805          11412.815  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C31                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57911.770          64046.305          11411.315  1
    END-POINT  57911.770          64046.305          11411.315  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EYF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57911.770          64047.805          11412.815  1
    END-POINT  57911.770          64047.805          11412.815  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C34                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57911.770          64080.337          11412.815  1  BW
    END-POINT  57911.770          64047.805          11412.815  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_777                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57911.770  64060.593  11412.815 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57911.770          64080.337          11412.815  1
    END-POINT  57911.770          64080.337          11412.815  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57911.770          64081.837          11411.315  1  BW
    END-POINT  57911.770          64080.337          11412.815  1  BW
    CENTRE-POINT   57911.770          64081.837          11412.815 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_73D                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57911.770          64081.837          11411.315  1
    END-POINT  57911.770          64081.837          11411.315  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57911.770          64081.837          11411.315  1  BW
    END-POINT  57911.770          64081.837          11408.315  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C3L                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57911.770          64081.837          11408.315  1
    END-POINT  57911.770          64081.837          11408.315  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CME                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57911.770          64081.837          11406.125  1  FL
    END-POINT  57911.770          64081.837          11408.315  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CMA                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57911.770          64081.837          11406.125  1
    END-POINT  57911.770          64081.837          11406.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57911.770          64081.837          11406.125 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FQ0                 
END-POSITION-OPEN 
    CO-ORDS  57911.770          64081.837          11406.000 
PIPE
    END-POINT  57911.770          64046.305          11411.315  1  BW
    END-POINT  57911.781          64046.322          11328.120  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EYE                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57911.776  64046.315  11363.540 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57911.781          64046.322          11328.120  1
    END-POINT  57911.781          64046.322          11328.120  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FIK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57911.781          64046.322          11328.120  1  BW
    END-POINT  57911.782          64046.322          11326.120  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FIJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57911.782          64046.322          11326.120  0.75
    END-POINT  57911.782          64046.322          11326.120  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FMO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57911.782          64046.322          11326.120  0.75  BW
    END-POINT  57911.782          64046.322          11323.880  0.75  BW
    CENTRE-POINT   57911.782          64046.322          11325.000 
    BRANCH1-POINT  57910.662          64046.322          11325.000  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FMM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57911.782          64046.322          11323.880  0.75
    END-POINT  57911.782          64046.322          11323.880  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57910.662          64046.322          11325.000  0.75
    END-POINT  57910.662          64046.322          11325.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FNO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57893.490          64046.322          11325.000  0.75  PL
    END-POINT  57910.662          64046.322          11325.000  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FNM                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57893.490          64046.322          11325.000  0.75
    END-POINT  57893.490          64046.322          11325.000  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FNN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57891.540          64046.322          11325.000  0.75  SW FEMALE 
    END-POINT  57893.490          64046.322          11325.000  0.75  SW FEMALE 
    CENTRE-POINT   57892.515          64046.322          11325.000 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FNI                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57891.540          64046.322          11325.000  0.75  SW FEMALE 
    END-POINT  57891.540          64046.322          11325.000  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FNJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57888.010          64046.322          11325.000  0.75  BW
    END-POINT  57891.540          64046.322          11325.000  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FNG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57888.010          64046.322          11325.000  0.75
    END-POINT  57888.010          64046.322          11325.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FNH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57886.890          64046.322          11323.880  0.75  BW
    END-POINT  57886.890          64046.322          11326.120  0.75  BW
    CENTRE-POINT   57886.890          64046.322          11325.000 
    BRANCH1-POINT  57888.010          64046.322          11325.000  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FNF                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57886.890          64046.322          11323.880  0.75
    END-POINT  57886.890          64046.322          11323.880  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57886.890          64046.322          11326.120  0.75
    END-POINT  57886.890          64046.322          11326.120  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57886.890          64046.322          11328.120  1  BW
    END-POINT  57886.890          64046.322          11326.120  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57886.890          64046.322          11328.120  1
    END-POINT  57886.890          64046.322          11328.120  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57886.890          64046.322          11332.500  1  BW
    END-POINT  57886.890          64046.322          11328.120  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPO                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57886.890          64046.322          11332.500  1
    END-POINT  57886.890          64046.322          11332.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57886.890          64044.822          11334.000  1  BW
    END-POINT  57886.890          64046.322          11332.500  1  BW
    CENTRE-POINT   57886.890          64046.322          11334.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57886.890  64046.322  11334.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57886.890  64138.748  11334.000 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57886.890  64046.322  11334.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64046.322  11334.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57886.890          64044.822          11334.000  1
    END-POINT  57886.890          64044.822          11334.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FQ3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57886.890          64044.822          11334.000  1  BW
    END-POINT  57886.890          64041.822          11334.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FQ2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57886.890          64041.822          11334.000  1
    END-POINT  57886.890          64041.822          11334.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FQ4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57888.390          64040.322          11334.000  1  BW
    END-POINT  57886.890          64041.822          11334.000  1  BW
    CENTRE-POINT   57886.890          64040.322          11334.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57888.390          64040.322          11334.000  1
    END-POINT  57888.390          64040.322          11334.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ITF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57893.277          64040.322          11334.000  1  BW
    END-POINT  57888.390          64040.322          11334.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ITD                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57893.277          64040.322          11334.000  1
    END-POINT  57893.277          64040.322          11334.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ITE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57893.277          64040.322          11334.000  1  BW
    END-POINT  57895.277          64040.322          11333.765  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ITA                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57895.277          64040.322          11333.765  0.5
    END-POINT  57895.277          64040.322          11333.765  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ITC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57898.277          64040.322          11333.765  0.5  PL
    END-POINT  57895.277          64040.322          11333.765  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IT7                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57898.277          64040.322          11333.765  0.5
    END-POINT  57898.277          64040.322          11333.765  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IT8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57898.277          64040.322          11333.765  0.5
    END-POINT  57898.277          64040.322          11333.765  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IT9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57898.449          64040.322          11333.765  0.5  FL
    END-POINT  57898.277          64040.322          11333.765  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IT1                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57898.449          64040.322          11333.765  0.5
    END-POINT  57898.574          64040.322          11333.765  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IT2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57898.449          64040.322          11333.765 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IT3                 
MISC-COMPONENT
    END-POINT  57909.414          64040.322          11333.765  0.5  FL
    END-POINT  57898.574          64040.322          11333.765  0.5  FL
    CENTRE-POINT  57903.994  64040.322  11333.765 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISW                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57903.994  64040.322  11333.765 
    TEXT 3P$FT$070$08
    UNDIMENSIONED
GASKET
    END-POINT  57909.414          64040.322          11333.765  0.5
    END-POINT  57909.539          64040.322          11333.765  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISX                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57909.414          64040.322          11333.765 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISY                 
FLANGE
    END-POINT  57909.539          64040.322          11333.765  0.5  FL
    END-POINT  57909.710          64040.322          11333.765  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GXX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57909.710          64040.322          11333.765  0.5
    END-POINT  57909.710          64040.322          11333.765  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57909.710          64040.322          11333.765  0.5
    END-POINT  57909.710          64040.322          11333.765  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IT0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57909.710          64040.322          11333.765  0.5  PL
    END-POINT  57912.710          64040.322          11333.765  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GY0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57912.710          64040.322          11333.765  0.5
    END-POINT  57912.710          64040.322          11333.765  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_III                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57914.710          64040.322          11334.000  1  BW
    END-POINT  57912.710          64040.322          11333.765  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GXF                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57914.710          64040.322          11334.000  1
    END-POINT  57914.710          64040.322          11334.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IIM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57919.015          64040.322          11334.000  1  BW
    END-POINT  57914.710          64040.322          11334.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IIK                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57916.488  64040.322  11334.000 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57919.015          64040.322          11334.000  1
    END-POINT  57919.015          64040.322          11334.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IIL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57919.015          64040.322          11334.000  1  BW
    END-POINT  57920.515          64041.822          11334.000  1  BW
    CENTRE-POINT   57920.515          64040.322          11334.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_9FL                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57920.515          64041.822          11334.000  1
    END-POINT  57920.515          64041.822          11334.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_9FP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57920.515          64041.822          11334.000  1  BW
    END-POINT  57920.515          64044.822          11334.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_9FO                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57920.515          64044.822          11334.000  1
    END-POINT  57920.515          64044.822          11334.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_9FQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57920.515          64044.822          11334.000  1  BW
    END-POINT  57920.515          64046.322          11335.500  1  BW
    CENTRE-POINT   57920.515          64046.322          11334.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_76Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57920.515  64046.322  11334.000  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8VA                 
    TAG                         P617 FIG. 2                     
WELD
    END-POINT  57920.515          64046.322          11335.500  1
    END-POINT  57920.515          64046.322          11335.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C25                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57920.515          64046.322          11337.690  1  FL
    END-POINT  57920.515          64046.322          11335.500  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C24                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57920.515          64046.322          11337.815  1
    END-POINT  57920.515          64046.322          11337.690  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C28                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57920.515          64046.322          11337.815 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C29                 
VALVE
    END-POINT  57920.515          64046.322          11337.815  1  FL
    END-POINT  57920.515          64046.322          11342.815  1  FL
    CENTRE-POINT   57920.515          64046.322          11340.315 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C27                 
    TAG FV-070-09                       
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
MESSAGE-CIRCLE
    CO-ORDS  57920.515  64046.322  11340.315 
    TEXT FV$070$09
    UNDIMENSIONED
GASKET
    END-POINT  57920.515          64046.322          11342.940  1
    END-POINT  57920.515          64046.322          11342.815  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C2E                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57920.515          64046.322          11342.940 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C2F                 
FLANGE
    END-POINT  57920.515          64046.322          11342.940  1  FL
    END-POINT  57920.515          64046.322          11343.135  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C2D                 
    PIPING-SPEC S1
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57920.516  64046.322  11377.143 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57920.516  64138.748  11395.665 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57920.515          64046.322          11343.135  1
    END-POINT  57920.515          64046.322          11343.135  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C2H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57920.515          64046.322          11343.135  1
    END-POINT  57920.515          64046.322          11343.135  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C2I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57920.515          64046.322          11343.135  1  PL
    END-POINT  57920.516          64046.322          11394.165  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C2G                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57920.516  64046.322  11360.805 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57920.516          64046.322          11394.165  1
    END-POINT  57920.516          64046.322          11394.165  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E6J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57920.516          64044.822          11395.665  1  BW
    END-POINT  57920.516          64046.322          11394.165  1  BW
    CENTRE-POINT   57920.516          64046.322          11395.665 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E6C                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57920.516          64044.822          11395.665  1
    END-POINT  57920.516          64044.822          11395.665  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E6F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57920.516          64044.822          11395.665  1  BW
    END-POINT  57920.516          64036.047          11395.665  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E6E                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57920.516          64036.047          11395.665  1
    END-POINT  57920.516          64036.047          11395.665  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E6G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57922.016          64034.547          11395.665  1  BW
    END-POINT  57920.516          64036.047          11395.665  1  BW
    CENTRE-POINT   57920.516          64034.547          11395.665 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E6A                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57922.033          64034.547          11395.665  1
    END-POINT  57922.033          64034.547          11395.665  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_E6H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
GAP
    END-POINT  57922.016          64034.547          11395.665  1  
    END-POINT  57922.033          64034.547          11395.665  1  
    PIPING-SPEC S1
PIPE
    END-POINT  57922.033          64034.547          11395.665  1  BW
    END-POINT  58099.546          64034.547          11395.665  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CMV                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58023.621  64034.547  11395.665 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58054.800  64034.547  11395.665  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISJ                 
    TAG                         P651 FIG. 1                     
SUPPORT
    CO-ORDS  57943.800  64034.547  11395.665  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISL                 
    TAG                         P651 FIG. 1                     
WELD
    END-POINT  58099.546          64034.547          11395.665  1
    END-POINT  58099.546          64034.547          11395.665  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CNY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58101.046          64034.547          11397.165  1  BW
    END-POINT  58099.546          64034.547          11395.665  1  BW
    CENTRE-POINT   58101.046          64034.547          11395.665 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CNS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58101.046          64034.547          11397.165  1
    END-POINT  58101.046          64034.547          11397.165  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CNX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58101.046          64034.547          11412.216  1  BW
    END-POINT  58101.046          64034.547          11397.165  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CNV                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58101.046          64034.547          11412.216  1
    END-POINT  58101.046          64034.547          11412.216  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CNW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58101.046          64033.047          11413.716  1  BW
    END-POINT  58101.046          64034.547          11412.216  1  BW
    CENTRE-POINT   58101.046          64034.547          11413.716 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CNO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58101.046          64033.047          11413.716  1
    END-POINT  58101.046          64033.047          11413.716  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CNU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58101.046          63861.233          11413.716  1  BW
    END-POINT  58101.046          64033.047          11413.716  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_77A                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58101.046  63918.104  11413.716 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58101.046  63922.800  11413.716  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISH                 
    TAG                         P651 FIG. 1                     
WELD
    END-POINT  58101.046          63861.233          11413.716  1
    END-POINT  58101.046          63861.233          11413.716  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_77B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58101.046          63859.733          11415.216  1  BW
    END-POINT  58101.046          63861.233          11413.716  1  BW
    CENTRE-POINT   58101.046          63859.733          11413.716 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6U7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58101.046          63859.733          11415.216  1
    END-POINT  58101.046          63859.733          11415.216  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_814                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58101.046          63859.733          12027.399  1  BW
    END-POINT  58101.046          63859.733          11415.216  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6U5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58101.046  63859.733  11965.791 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58100.046  63860.686  11924.750  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IS5                 
SUPPORT
    CO-ORDS  58101.046  63859.733  11924.750  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISN                 
    TAG                         P651 FIG. 1                     
SUPPORT
    CO-ORDS  58101.046  63859.733  11924.750  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISP                 
    TAG                         P629 FIG. 8                     
SUPPORT
    CO-ORDS  58101.046  63859.733  11780.750  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISQ                 
    TAG                         P651 FIG. 1                     
SUPPORT
    CO-ORDS  58101.046  63859.733  11780.750  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISS                 
    TAG                         P629 FIG. 8                     
SUPPORT
    CO-ORDS  58101.046  63859.733  11564.750  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IST                 
    TAG                         P651 FIG. 1                     
SUPPORT
    CO-ORDS  58101.046  63859.733  11564.750  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ISV                 
    TAG                         P629 FIG. 8                     
WELD
    END-POINT  58101.046          63859.733          12027.399  1
    END-POINT  58101.046          63859.733          12027.399  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6U6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58099.985          63860.794          12028.899  1  BW
    END-POINT  58101.046          63859.733          12027.399  1  BW
    CENTRE-POINT   58101.046          63859.733          12028.899 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6U1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58099.985          63860.794          12028.899  1
    END-POINT  58099.985          63860.794          12028.899  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IRJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.863          63877.916          12028.899  1  BW
    END-POINT  58099.985          63860.794          12028.899  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQV                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58082.863          63877.916          12028.899  1
    END-POINT  58082.863          63877.916          12028.899  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.863          63877.916          12028.899  1  BW
    END-POINT  58082.241          63879.418          12028.899  1  BW
    CENTRE-POINT   58082.241          63878.538          12028.899 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  58082.241          63879.418          12028.899  1
    END-POINT  58082.241          63879.418          12028.899  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.241          63879.418          12028.899  1  BW
    END-POINT  58082.234          64038.609          12028.899  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58082.240  63898.800  12027.899  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IRC                 
SUPPORT
    CO-ORDS  58082.240  63898.800  12028.899  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IRH                 
    TAG                         P651 FIG. 1                     
SUPPORT
    CO-ORDS  58082.240  63898.800  12028.899  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IRK                 
    TAG                         P629 FIG. 9                     
WELD
    END-POINT  58082.234          64038.609          12028.899  1
    END-POINT  58082.234          64038.609          12028.899  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IR0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.234          64040.109          12030.399  1  BW
    END-POINT  58082.234          64038.609          12028.899  1  BW
    CENTRE-POINT   58082.234          64040.109          12028.899 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6TS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58082.234          64040.109          12030.399  1
    END-POINT  58082.234          64040.109          12030.399  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6TV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.234          64040.109          12030.399  1  BW
    END-POINT  58082.234          64040.109          12042.367  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6TU                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58082.234  64040.109  12036.633 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58082.234          64040.109          12042.367  1
    END-POINT  58082.234          64040.109          12042.367  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CO3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.234          64040.109          12042.367  1  BW
    END-POINT  58080.734          64040.109          12043.867  1  BW
    CENTRE-POINT   58082.234          64040.109          12043.867 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CO1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58080.734          64040.109          12043.867  1
    END-POINT  58080.734          64040.109          12043.867  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IQS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57854.819          64040.109          12043.867  1  BW
    END-POINT  58080.734          64040.109          12043.867  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CO5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58054.803  64040.109  12043.867  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_COA                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  57967.819  64040.109  12043.867 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57910.677  64040.109  12043.867  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IRQ                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58079.234  64040.109  12043.867  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IRS                 
SUPPORT
    CO-ORDS  58079.234  64038.803  12131.247  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IRW                 
SUPPORT
    CO-ORDS  58079.234  64040.109  12043.867  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IS0                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  57854.819          64040.109          12043.867  1
    END-POINT  57854.819          64040.109          12043.867  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57854.819          64040.109          12043.867  1  BW
    END-POINT  57853.319          64040.109          12042.367  1  BW
    CENTRE-POINT   57853.319          64040.109          12043.867 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57853.319          64040.109          12042.367  1
    END-POINT  57853.319          64040.109          12042.367  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57853.319          64040.109          12042.367  1  BW
    END-POINT  57853.319          64040.109          12027.367  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83I                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57853.319  64040.109  12034.588 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57853.319          64040.109          12027.367  1
    END-POINT  57853.319          64040.109          12027.367  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57853.319          64040.109          12027.367  1  BW
    END-POINT  57853.319          64038.609          12025.867  1  BW
    CENTRE-POINT   57853.319          64040.109          12025.867 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83B                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57853.319          64038.609          12025.867  1
    END-POINT  57853.319          64038.609          12025.867  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57853.319          63942.800          12025.867  1  BW
    END-POINT  57853.319          64038.609          12025.867  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57853.319  63961.217  12025.867 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57853.319  63990.779  12025.867  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CY6                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  57853.319          63942.800          12025.867  1
    END-POINT  57853.319          63942.800          12025.867  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84R                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57853.319          63941.300          12024.367  1  BW
    END-POINT  57853.319          63942.800          12025.867  1  BW
    CENTRE-POINT   57853.319          63941.300          12025.867 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84K                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57853.319          63941.300          12024.367  1
    END-POINT  57853.319          63941.300          12024.367  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57853.319          63941.300          12024.367  1  BW
    END-POINT  57853.319          63941.300          12018.419  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84M                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57853.319          63941.300          12018.419  1
    END-POINT  57853.319          63941.300          12018.419  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57851.819          63941.300          12016.919  1  BW
    END-POINT  57853.319          63941.300          12018.419  1  BW
    CENTRE-POINT   57853.319          63941.300          12016.919 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84F                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57851.819          63941.300          12016.919  1
    END-POINT  57851.819          63941.300          12016.919  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57851.819          63941.300          12016.919  1  BW
    END-POINT  57827.817          63941.300          12016.919  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84H                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57839.765  63941.300  12016.919 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57827.817          63941.300          12016.919  1
    END-POINT  57827.817          63941.300          12016.919  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          63941.300          12015.419  1  BW
    END-POINT  57827.817          63941.300          12016.919  1  BW
    CENTRE-POINT   57826.317          63941.300          12016.919 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83W                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.317  63941.300  12016.919 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63941.300  12016.919 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.317  63941.300  12016.919 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57826.317  64138.800  12016.919 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57826.317          63941.300          12015.419  1
    END-POINT  57826.317          63941.300          12015.419  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63941.300          11982.958  1  PL
    END-POINT  57826.317          63941.300          12015.419  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_82D                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57826.317  63941.300  12001.347 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  57826.317          63941.300          11982.958  1  SW FEMALE 
    END-POINT  57826.317          63941.300          11982.958  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_9ZY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57826.317          63941.300          11982.958  1  SW FEMALE 
    END-POINT  57826.317          63941.300          11980.328  1  SW FEMALE 
    CENTRE-POINT   57826.317          63941.300          11981.643 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1_1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_9ZX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57826.317          63941.300          11980.328  1  SW FEMALE 
    END-POINT  57826.317          63941.300          11980.328  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_A01                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63941.300          11976.798  1  BW
    END-POINT  57826.317          63941.300          11980.328  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          63941.300          11976.798  1
    END-POINT  57826.317          63941.300          11976.798  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57826.317  63941.300  11973.985 
    BRANCH1-POINT  57826.317          63941.300          11976.798  1  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_50N                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317  63941.300  11973.985 
    PIPELINE-REFERENCE ISO-PY3-1211011
PIPE
    END-POINT  57886.890          64046.322          11305.605  0.75  PL
    END-POINT  57886.890          64046.322          11323.880  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FON                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57886.890  64046.322  11314.974 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  57886.890          64046.322          11305.605  0.75
    END-POINT  57886.890          64046.322          11305.605  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57886.890          64046.322          11303.655  0.75  SW FEMALE 
    END-POINT  57886.890          64046.322          11305.605  0.75  SW FEMALE 
    CENTRE-POINT   57886.890          64046.322          11304.630 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57886.890          64046.322          11303.655  0.75  SW FEMALE 
    END-POINT  57886.890          64046.322          11303.655  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57886.890          64046.322          11299.125  0.75  BW
    END-POINT  57886.890          64046.322          11303.655  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOH                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57886.890          64046.322          11299.125  0.75
    END-POINT  57886.890          64046.322          11299.125  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57886.890          64046.322          11299.125  0.75  BW
    END-POINT  57888.015          64046.322          11298.000  0.75  BW
    CENTRE-POINT   57886.890          64046.322          11298.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FO3                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57886.890  64046.322  11298.000  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FO5                 
WELD
    END-POINT  57888.015          64046.322          11298.000  0.75
    END-POINT  57888.015          64046.322          11298.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57888.015          64046.322          11298.000  0.75  BW
    END-POINT  57890.255          64046.322          11298.000  0.75  BW
    CENTRE-POINT   57889.135          64046.322          11298.000 
    BRANCH1-POINT  57889.135          64046.322          11296.880  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57890.255          64046.322          11298.000  0.75
    END-POINT  57890.255          64046.322          11298.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57889.135          64046.322          11296.880  0.75
    END-POINT  57889.135          64046.322          11296.880  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FP1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57889.135          64046.322          11296.880  0.75  BW
    END-POINT  57889.135          64046.322          11293.350  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FP0                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57889.135          64046.322          11293.350  0.75  SW FEMALE 
    END-POINT  57889.135          64046.322          11293.350  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FP4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57889.135          64046.322          11293.350  0.75  SW FEMALE 
    END-POINT  57889.135          64046.322          11291.370  0.75  SW FEMALE 
    CENTRE-POINT   57889.135          64046.322          11292.375 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FP3                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57889.135          64046.322          11291.370  0.75
    END-POINT  57889.135          64046.322          11291.370  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FP8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57889.135          64046.322          11291.370  0.75  PL
    END-POINT  57889.135          64046.322          11288.370  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FP7                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57889.135          64046.322          11288.370  0.75  SC FEMALE 
    END-POINT  57889.135          64046.322          11288.370  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  57889.135          64046.322          11288.370  0.75  SC FEMALE 
    END-POINT  57889.135          64046.322          11287.430  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FP9                 
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57890.255          64046.322          11298.000  0.75  BW
    END-POINT  57895.348          64046.322          11298.000  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57895.348          64046.322          11298.000  0.75
    END-POINT  57895.348          64046.322          11298.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57895.348          64046.322          11298.000  0.75
    END-POINT  57895.348          64046.322          11298.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FPE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57895.524          64046.322          11298.000  0.75  FL
    END-POINT  57895.348          64046.322          11298.000  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FKF                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57895.524          64046.322          11298.000  0.75
    END-POINT  57895.649          64046.322          11298.000  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FKG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57895.524          64046.322          11298.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FKH                 
INSTRUMENT
    END-POINT  57895.649          64046.322          11298.000  0.75  FL
    END-POINT  57903.024          64046.322          11298.000  0.75  FL
    CENTRE-POINT   57899.336          64046.322          11298.000 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FKE                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57899.336  64046.322  11298.000 
    TEXT FCV$070$08
    UNDIMENSIONED
GASKET
    END-POINT  57903.149          64046.322          11298.000  0.75
    END-POINT  57903.024          64046.322          11298.000  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FKJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57903.149          64046.322          11298.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FKK                 
FLANGE
    END-POINT  57903.149          64046.322          11298.000  0.75  FL
    END-POINT  57903.324          64046.322          11298.000  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FKI                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57903.324          64046.322          11298.000  0.75
    END-POINT  57903.324          64046.322          11298.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57903.324          64046.322          11298.000  0.75
    END-POINT  57903.324          64046.322          11298.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57910.657          64046.322          11298.000  0.75  BW
    END-POINT  57903.324          64046.322          11298.000  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57910.657          64046.322          11298.000  0.75
    END-POINT  57910.657          64046.322          11298.000  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57911.782          64046.322          11299.125  0.75  BW
    END-POINT  57910.657          64046.322          11298.000  0.75  BW
    CENTRE-POINT   57911.782          64046.322          11298.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FO4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57911.782  64046.322  11298.000  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FO8                 
WELD
    END-POINT  57911.782          64046.322          11299.125  0.75
    END-POINT  57911.782          64046.322          11299.125  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57911.782          64046.322          11299.125  0.75  BW
    END-POINT  57911.782          64046.322          11303.655  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOB                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57911.782          64046.322          11303.655  0.75  SW FEMALE 
    END-POINT  57911.782          64046.322          11303.655  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57911.782          64046.322          11303.655  0.75  SW FEMALE 
    END-POINT  57911.782          64046.322          11305.605  0.75  SW FEMALE 
    CENTRE-POINT   57911.782          64046.322          11304.630 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOD                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57911.782          64046.322          11305.605  0.75
    END-POINT  57911.782          64046.322          11305.605  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57911.782          64046.322          11305.605  0.75  PL
    END-POINT  57911.782          64046.322          11323.880  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FOQ                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57911.782  64046.322  11316.379 
    FLOW 1
    SKEY FLOW
MATERIALS
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE REDCON1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDCON1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE REDECC1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR1/2
    DESCRIPTION FT-070-08
    RATING 150LB
ITEM-CODE SUPEB-1
    DESCRIPTION ELBOW SUPPORT, L=4'-6", P617 FIG. 2
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION CONTROL VALVE, FV-070-09
    RATING 150LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE SUPPS-1
    DESCRIPTION P651 FIG. 1
ITEM-CODE SUPLTR1
    DESCRIPTION P629 FIG. 8 (L=1'-0")
ITEM-CODE SUPAG-1
    DESCRIPTION P629 FIG. 8 (L=1'-6")
ITEM-CODE 45LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPLTR1_1
    DESCRIPTION P629 FIG. 9 (L=2'-0")
ITEM-CODE SUPAG-1_1
    DESCRIPTION P629 FIG. 9 (L=2'=3")
ITEM-CODE SUPPS-1_1
    DESCRIPTION P651 FIG.1
ITEM-CODE SUPRH-1
    DESCRIPTION P624 FIG. 3 (L=7'-2 3/4, X=6")
ITEM-CODE SUPLTR1_2
    DESCRIPTION P630 FIG. 7 (X=1'-10", L=1'-4')
ITEM-CODE VALVBAL1_1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-3/4
    DESCRIPTION PIPE SUPPORT, P619 FIG 2 , L=1'-6"
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3/4
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FCV-070-08
    RATING 150LB
