ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2032031
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 PA
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2032031-PA-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-032
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 4/7/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 4/7/2009
    ATTRIBUTE54 RS
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BJL
    ATTRIBUTE62 DD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
WELD
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_APS                 
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
MATERIALS
