ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046005
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046005-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS MARKED
    ATTRIBUTE46 2
    ATTRIBUTE47 11/1/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DD
    ATTRIBUTE50 DK
    ATTRIBUTE51 ADDED BALL VALVE & SUPPORT
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58173.800          64003.988          12070.186  0.5  SC MALE 
    END-POINT  58173.800          64003.988          12071.056  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYC                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58173.800          64003.988          12071.056 
SCREWED-WELD
    END-POINT  58173.800          64003.988          12070.186  0.5  SC MALE 
    END-POINT  58173.800          64003.988          12070.186  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58173.800          64003.988          12068.836  0.5  SC FEMALE 
    END-POINT  58173.800          64003.988          12070.186  0.5  SC FEMALE 
    CENTRE-POINT   58173.800          64003.988          12069.576 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYE                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  58173.800          64003.988          12068.836  0.5  SC FEMALE 
    END-POINT  58173.800          64003.988          12068.836  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYG                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58173.800          64003.988          12065.836  0.5  SC MALE 
    END-POINT  58173.800          64003.988          12068.836  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYH                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58173.800          64003.988          12065.836  0.5  SC MALE 
    END-POINT  58173.800          64003.988          12065.836  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58173.800          64003.988          12065.172  1  SC MALE 
    END-POINT  58173.800          64003.988          12065.836  0.5  SC FEMALE 
    CENTRE-POINT  58173.800  64003.988  12065.504 
    SKEY RBSC
    FABRICATION-ITEM
    ITEM-CODE BSHGHEX1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYJ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58173.800          64003.988          12065.172  1  SC MALE 
    END-POINT  58173.800          64003.988          12065.172  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58173.800          64003.988          12063.440  1  SC FEMALE 
    END-POINT  58173.800          64003.988          12065.172  1  SC FEMALE 
    CENTRE-POINT   58173.800          64003.988          12064.360 
    BRANCH1-POINT  58173.800          64003.068          12064.360  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYL                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58173.800          64003.988          12063.440  1  SC FEMALE 
    END-POINT  58173.800          64003.988          12063.440  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58173.800          64003.068          12064.360  1  SC FEMALE 
    END-POINT  58173.800          64003.068          12064.360  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58173.800          64003.068          12064.360  1  SC MALE 
    END-POINT  58173.800          63920.206          12064.360  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYO                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58173.800  63994.772  12064.360  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYP                 
SCREWED-WELD
    END-POINT  58173.800          63920.206          12064.360  1  SC MALE 
    END-POINT  58173.800          63920.206          12064.360  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58173.800          63919.286          12063.440  1  SC FEMALE 
    END-POINT  58173.800          63920.206          12064.360  1  SC FEMALE 
    CENTRE-POINT   58173.800          63919.286          12064.360 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYR                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58173.800          63919.286          12063.440  1  SC FEMALE 
    END-POINT  58173.800          63919.286          12063.440  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58173.800          63919.286          12063.440  1  SC MALE 
    END-POINT  58173.800          63919.286          11881.553  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYT                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58173.800  63919.286  11927.995  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYU                 
FLOOR-SYMBOL 
    CO-ORDS  58173.800  63919.286  11926.027 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58173.800  63919.286  11926.027 
    TEXT Grate Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58173.800  63919.286  12043.360  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GB8                 
    TAG                         P629 FIG. 8                     
SUPPORT
    CO-ORDS  58173.800  63919.286  12043.360  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBB                 
SCREWED-WELD
    END-POINT  58173.800          63919.286          11881.553  1  SC MALE 
    END-POINT  58173.800          63919.286          11881.553  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58174.720          63919.286          11880.633  1  SC FEMALE 
    END-POINT  58173.800          63919.286          11881.553  1  SC FEMALE 
    CENTRE-POINT   58173.800          63919.286          11880.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYX                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58174.720          63919.286          11880.633  1  SC FEMALE 
    END-POINT  58174.720          63919.286          11880.633  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58174.720          63919.286          11880.633  1  SC MALE 
    END-POINT  58264.880          63919.286          11880.633  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FYZ                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58218.710  63919.286  11880.633 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58247.424  63919.286  11880.633  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZ1                 
SUPPORT
    CO-ORDS  58203.835  63919.286  11880.633  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZ2                 
SCREWED-WELD
    END-POINT  58264.880          63919.286          11880.633  1  SC MALE 
    END-POINT  58264.880          63919.286          11880.633  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZ3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58265.800          63919.286          11879.713  1  SC FEMALE 
    END-POINT  58264.880          63919.286          11880.633  1  SC FEMALE 
    CENTRE-POINT   58265.800          63919.286          11880.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZ4                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58265.800  63919.286  11880.633 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63919.286  11880.633 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX1
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58265.800          63919.286          11879.713  1  SC FEMALE 
    END-POINT  58265.800          63919.286          11879.713  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZ6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58265.800          63919.286          11879.713  1  SC MALE 
    END-POINT  58265.800          63919.286          11863.553  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZ7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58265.800          63919.286          11863.553  1  SC MALE 
    END-POINT  58265.800          63919.286          11863.553  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZ8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58265.800          63920.206          11862.633  1  SC FEMALE 
    END-POINT  58265.800          63919.286          11863.553  1  SC FEMALE 
    CENTRE-POINT   58265.800          63919.286          11862.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZ9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58265.800  63919.286  11862.633 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58265.800  63898.800  11862.633 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX1
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58265.800          63920.206          11862.633  1  SC FEMALE 
    END-POINT  58265.800          63920.206          11862.633  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58265.800          63920.206          11862.633  1  SC MALE 
    END-POINT  58265.800          64024.990          11862.633  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZC                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58265.800  63991.297  11862.633  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZD                 
SUPPORT
    CO-ORDS  58265.800  63944.805  11862.633  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZE                 
SCREWED-WELD
    END-POINT  58265.800          64024.990          11862.633  1  SC MALE 
    END-POINT  58265.800          64024.990          11862.633  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58265.800          64024.990          11862.633  1  SC FEMALE 
    END-POINT  58265.800          64025.910          11861.713  1  SC FEMALE 
    CENTRE-POINT   58265.800          64025.910          11862.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58265.800          64025.910          11861.713  1  SC FEMALE 
    END-POINT  58265.800          64025.910          11861.713  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58265.800          64025.910          11706.780  1  SC MALE 
    END-POINT  58265.800          64025.910          11861.713  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZI                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58265.800  64025.910  11783.989  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZJ                 
FLOOR-SYMBOL 
    CO-ORDS  58265.800  64025.910  11780.584 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58265.800  64025.910  11780.584 
    TEXT Grate Opening
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58265.800          64025.910          11706.780  1  SC MALE 
    END-POINT  58265.800          64025.910          11706.780  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZL                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
UNION
    END-POINT  58265.800          64025.910          11705.468  1  SC FEMALE 
    END-POINT  58265.800          64025.910          11706.780  1  SC FEMALE 
    SKEY UNSC
    FABRICATION-ITEM
    ITEM-CODE UNNRW1
    WEIGHT           1.500
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZM                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58265.800          64025.910          11705.468  1  SC FEMALE 
    END-POINT  58265.800          64025.910          11705.468  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZN                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58265.800          64025.910          11701.200  1  SC MALE 
    END-POINT  58265.800          64025.910          11705.468  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZO                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58265.800          64025.910          11701.200  1  SC MALE 
    END-POINT  58265.800          64025.910          11701.200  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58264.880          64025.910          11700.280  1  SC FEMALE 
    END-POINT  58265.800          64025.910          11701.200  1  SC FEMALE 
    CENTRE-POINT   58265.800          64025.910          11700.280 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58264.880          64025.910          11700.280  1  SC MALE 
    END-POINT  58264.880          64025.910          11700.280  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GAU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58264.880          64025.910          11700.280  1  SC MALE 
    END-POINT  58261.880          64025.910          11700.280  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GAT                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58261.880          64025.910          11700.280  1  SC FEMALE 
    END-POINT  58261.880          64025.910          11700.280  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GB4                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58261.880          64025.910          11700.280  1  SC FEMALE 
    END-POINT  58260.235          64025.910          11700.280  1  SC FEMALE 
    CENTRE-POINT   58260.930          64025.910          11700.280 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GB3                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58260.235          64025.910          11700.280  1  SC FEMALE 
    END-POINT  58260.235          64025.910          11700.280  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GB7                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58260.235          64025.910          11700.280  1  SC MALE 
    END-POINT  58248.908          64025.910          11700.280  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GAZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58248.908          64025.910          11700.280  1  SC MALE 
    END-POINT  58248.908          64025.910          11700.280  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58247.988          64026.830          11700.280  1  SC FEMALE 
    END-POINT  58248.908          64025.910          11700.280  1  SC FEMALE 
    CENTRE-POINT   58247.988          64025.910          11700.280 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58247.988          64026.830          11700.280  1  SC FEMALE 
    END-POINT  58247.988          64026.830          11700.280  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64030.410          11700.280  1  BW
    END-POINT  58247.988          64026.830          11700.280  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZW                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58247.988          64030.410          11700.280  1
    END-POINT  58247.988          64030.410          11700.280  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58247.988          64033.410          11700.280  1  BW
    END-POINT  58247.988          64030.410          11700.280  1  BW
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZY                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58247.988          64033.410          11700.280 
    PIPELINE-REFERENCE ISO-PY3-1216016
PIPE
    END-POINT  58173.800          64003.988          12063.440  1  SC MALE 
    END-POINT  58173.800          64003.988          12047.796  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FZZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58173.800          64003.988          12047.796  1  SC FEMALE 
    END-POINT  58173.800          64003.988          12047.796  1  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_I1R                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58173.800  64003.988  12045.421 
    BRANCH1-POINT  58173.800          64003.988          12047.796  1  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GUU                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58173.800  64003.988  12045.421 
    PIPELINE-REFERENCE ISO-PY3-2046009
MATERIALS
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE BSHGHEX1X1/2
    CATALOG MISC_FIT_CS_CH2M
    DESCRIPTION HEX REDUCING BUSHING, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPRH-1
    DESCRIPTION GENERAL HANGER, L=5'-6", P624 FIG 3
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1_1
    DESCRIPTION RISER CLAMP, P615 FIG 1
ITEM-CODE SUPLTR1
    DESCRIPTION P629 FIG. 8 (L=1'-8")
ITEM-CODE SUPUB-1
    DESCRIPTION P651 FIG. 1
ITEM-CODE SUPRH-1_2
    DESCRIPTION GENERAL HANGER, L=2'-10", P624 FIG 3
ITEM-CODE SUPRH-1_3
    DESCRIPTION GENERAL HANGER, L=2'-4", P624 FIG 3
ITEM-CODE SUPRH-1_4
    DESCRIPTION GENERAL HANGER, L=4'-4", P624 FIG 3
ITEM-CODE UNNRW1
    CATALOG UNIONS_CS_CH2M
    DESCRIPTION UNION, SCF, 150 LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150 LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, SCH 40, SCM - 3"
    RATING 40
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
