ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222002
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1222002-PP-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 R. J. RODRIGUE
    ATTRIBUTE22 12/3/2008
    ATTRIBUTE23 D.K.
    ATTRIBUTE24 12/4/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/8/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RJR
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 IFC
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 4/7/2009
    ATTRIBUTE48 SM
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 9/14/2012
    ATTRIBUTE60 DBD
    ATTRIBUTE61 KC
    ATTRIBUTE62 DD
    ATTRIBUTE63 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58036.039          64052.704          11395.784  3  BW
    END-POINT  58063.789          64052.704          11395.784  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7HX                 
    PIPING-SPEC S1
    TRACING-ON 
    CUT-PIECE-ALLOWANCE EP2 1/2"
MESSAGE
    CO-ORDS  58063.789  64052.704  11395.784 
    TEXT DUMMY LEG
    UNDIMENSIONED
WELD
    END-POINT  58036.039          64052.704          11395.784  3
    END-POINT  58036.039          64052.704          11395.784  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7HZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58063.789          64052.704          11395.784 
ELBOW
    END-POINT  58030.239          64052.704          11397.347  6  BW
    END-POINT  58039.239          64052.704          11406.347  6  BW
    CENTRE-POINT   58039.239          64052.704          11397.347 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7HL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  58036.039          64052.704          11395.784  3 BWTO
WELD
    END-POINT  58030.239          64052.704          11397.347  6
    END-POINT  58030.239          64052.704          11397.347  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58039.239          64052.704          11406.347  6
    END-POINT  58039.239          64052.704          11406.347  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7HR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58039.239          64052.704          11406.347  6  BW
    END-POINT  58039.239          64052.704          11497.313  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7HQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58039.239  64052.704  11447.371 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58039.239          64052.704          11497.313  6
    END-POINT  58039.239          64052.704          11497.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7HS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58048.239          64052.704          11506.313  6  BW
    END-POINT  58039.239          64052.704          11497.313  6  BW
    CENTRE-POINT   58039.239          64052.704          11506.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7FH                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58048.239          64052.704          11506.313  6
    END-POINT  58048.239          64052.704          11506.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7P9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58113.770          64052.704          11506.313  6  BW
    END-POINT  58048.239          64052.704          11506.313  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7FF                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58054.820  64052.704  11506.313  6
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7FK                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  58088.383  64052.704  11506.313 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58113.770          64052.704          11506.313  6
    END-POINT  58113.770          64052.704          11506.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7FG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.770          64052.704          11515.313  6  BW
    END-POINT  58113.770          64052.704          11506.313  6  BW
    CENTRE-POINT   58122.770          64052.704          11506.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7AO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58122.770          64052.704          11515.313  6
    END-POINT  58122.770          64052.704          11515.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7AQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58122.770          64052.704          11527.314  6  BW
    END-POINT  58122.770          64052.704          11515.313  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7AM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58122.770  64052.704  11521.858 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58122.770          64052.704          11527.314  6
    END-POINT  58122.770          64052.704          11527.314  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7AN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.770          64043.704          11536.314  6  BW
    END-POINT  58122.770          64052.704          11527.314  6  BW
    CENTRE-POINT   58122.770          64052.704          11536.314 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7AJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58122.770  64052.704  11536.314 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58122.770  64138.800  11536.314 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58122.770  64052.704  11527.314 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64052.704  11527.314 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  58122.770          64043.704          11536.314  6
    END-POINT  58122.770          64043.704          11536.314  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7DY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58122.770          64019.805          11536.314  6  BW
    END-POINT  58122.770          64043.704          11536.314  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7DW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58122.770  64041.108  11536.314  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7I0                 
    TAG                         P624 FIG.2                      
FLOW-ARROW
    CO-ORDS  58122.770  64031.053  11536.314 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58122.770          64019.805          11536.314  6
    END-POINT  58122.770          64019.805          11536.314  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7DX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.770          64019.805          11536.314  6  BW
    END-POINT  58122.770          64010.805          11545.314  6  BW
    CENTRE-POINT   58122.770          64010.805          11536.314 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7DU                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58122.770          64010.805          11545.314  6
    END-POINT  58122.770          64010.805          11545.314  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7JT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58122.770          64010.805          11581.125  6  BW
    END-POINT  58122.770          64010.805          11545.314  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7JQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOOR-SYMBOL 
    CO-ORDS  58122.770  64010.805  11566.729 
    SKEY FLOR
MESSAGE
    CO-ORDS  58122.770  64010.805  11566.729 
    TEXT FLOOR PENETRATION
SUPPORT
    CO-ORDS  58122.770  64010.805  11566.720  6
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7YV                 
    TAG                         P615, FIG. 6                    
FLOW-ARROW
    CO-ORDS  58122.770  64010.805  11575.400 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58122.770          64010.805          11581.125  6
    END-POINT  58122.770          64010.805          11581.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AU3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58122.770          64010.805          11584.625  6  FL
    END-POINT  58122.770          64010.805          11581.125  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58122.770          64010.805          11584.625  6
    END-POINT  58122.770          64010.805          11584.750  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7B                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58122.770          64010.805          11584.625 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C7C                 
END-POSITION-OPEN 
    CO-ORDS  58122.770          64010.805          11584.750 
PIPE
    END-POINT  58030.239          64052.704          11397.347  6  BW
    END-POINT  57984.525          64052.704          11397.347  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7HN                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58016.410  64052.704  11397.347 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57984.525          64052.704          11397.347  6
    END-POINT  57984.525          64052.704          11397.347  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AH0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57978.124          64052.704          11394.695  6  BW
    END-POINT  57984.525          64052.704          11397.347  6  BW
    CENTRE-POINT   57980.775          64052.704          11397.347 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7HG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57978.124          64052.704          11394.695  6
    END-POINT  57978.124          64052.704          11394.695  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7JA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57972.088          64052.704          11388.675  6  BW
    END-POINT  57978.124          64052.704          11394.695  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7J8                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57972.088          64052.704          11388.675  6
    END-POINT  57972.088          64052.704          11388.675  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7J9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57965.724          64043.704          11382.311  6  BW
    END-POINT  57972.088          64052.704          11388.675  6  BW
    CENTRE-POINT   57965.724          64052.704          11382.311 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7J5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57965.724          64043.704          11382.311  6
    END-POINT  57965.724          64043.704          11382.311  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7J7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.724          64043.704          11382.311  6  BW
    END-POINT  57965.724          64024.416          11382.311  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7D5                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57965.724  64035.867  11382.311 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57965.724          64024.416          11382.311  6
    END-POINT  57965.724          64024.416          11382.311  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AU7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57965.724          64024.416          11382.311  6  BW
    END-POINT  57965.724          64013.176          11382.311  6  BW
    CENTRE-POINT   57965.724          64018.796          11382.311 
    BRANCH1-POINT  57965.724          64018.796          11376.691  6  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR6
    WEIGHT           4.760
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7CY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57965.724  64018.796  11382.311 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64018.796  11382.311 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57965.724  64018.796  11382.311 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57965.724  63898.800  11382.311 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57965.724          64013.176          11382.311  6
    END-POINT  57965.724          64013.176          11382.311  6
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57965.724          64018.796          11376.691  6
    END-POINT  57965.724          64018.796          11376.691  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AJA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.724          64013.176          11382.311  6  BW
    END-POINT  57965.739          63988.796          11382.311  6  BW
    CONTINUATION 
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIV                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57965.729  64005.663  11382.311 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  57965.739          63988.796          11382.311 
    PIPELINE-REFERENCE ISO-PY3-1222008
PIPE
    END-POINT  57965.724          64018.796          11376.691  6  BW
    END-POINT  57965.724          64018.796          11338.468  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AJ9                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57965.724  64018.796  11367.468 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57965.724          64018.796          11338.468  6
    END-POINT  57965.724          64018.796          11338.468  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57965.724          64018.796          11338.468  6
    END-POINT  57965.724          64018.796          11338.468  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57965.724          64018.796          11338.125  6  FL
    END-POINT  57965.724          64018.796          11338.468  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57965.724          64018.796          11338.125  6
    END-POINT  57965.724          64018.796          11338.000  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATN                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57965.724          64018.796          11338.125 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG6
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATO                 
VALVE
    END-POINT  57965.724          64018.796          11335.750  6  FL
    END-POINT  57965.724          64018.796          11338.000  6  FL
    CENTRE-POINT   57965.724          64018.796          11336.875 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY6
    WEIGHT          40.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7CG                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57965.724          64018.796          11335.625  6
    END-POINT  57965.724          64018.796          11335.750  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57965.724          64018.796          11335.625 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG6
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATU                 
FLANGE
    END-POINT  57965.724          64018.796          11335.625  6  FL
    END-POINT  57965.724          64018.796          11332.125  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57965.724          64018.796          11332.125  6
    END-POINT  57965.724          64018.796          11332.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ATV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.724          64018.796          11308.803  6  BW
    END-POINT  57965.724          64018.796          11332.125  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AJM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57965.724          64018.796          11308.803  6
    END-POINT  57965.724          64018.796          11308.803  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AJN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57974.724          64018.796          11299.803  6  BW
    END-POINT  57965.724          64018.796          11308.803  6  BW
    CENTRE-POINT   57965.724          64018.796          11299.803 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7B5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57965.724  64018.796  11299.803  6
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPAEB6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AJR                 
WELD
    END-POINT  57974.724          64018.796          11299.803  6
    END-POINT  57974.724          64018.796          11299.803  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58007.427          64018.796          11299.803  6  BW
    END-POINT  57974.724          64018.796          11299.803  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9A                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57980.985  64018.796  11299.803 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58007.427          64018.796          11299.803  6
    END-POINT  58007.427          64018.796          11299.803  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58007.427          64018.796          11299.803  6  BW
    END-POINT  58012.927          64018.796          11301.366  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AJ5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  58012.927          64018.796          11301.366  3
    END-POINT  58012.927          64018.796          11301.366  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AUC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58015.677          64018.796          11301.366  3  FL
    END-POINT  58012.927          64018.796          11301.366  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AU8                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58015.677          64018.796          11301.366  3
    END-POINT  58015.802          64018.796          11301.366  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9F                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.677          64018.796          11301.366 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9G                 
NOZZLE
    CO-ORDS  58015.802          64018.796          11301.366  3  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58015.802          64018.796          11301.366 
    TEXT PY3-058$NOZZLE TAG PY3-058-SUCTION$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION DUMMY LEG SUPPORT P628 FIG. 4 L=1'-3 9/16"
    RATING 10S
ITEM-CODE 90LLR6
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP6
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPPS-6
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE SUPRH-6
    DESCRIPTION PIPE HANGER P624 FIG. 4  L=1'-6 7/8"
ITEM-CODE SUPRH-6_1
    DESCRIPTION RISER CLAMP P615, FIG. 6
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 45LLR6
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR6
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP6
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY6
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE SUPAEB6
    DESCRIPTION ADJUSTABLE ELBOW SUPPORT,  P618 FIG 2, L=1'-7 3/4"
ITEM-CODE REDECC6X3
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
