ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1212012
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DDM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1212012-DDM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/13/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/15/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/2/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58209.479          64152.634          11286.939  0.75  SC FEMALE 
    END-POINT  58210.143          64151.969          11286.939  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GO7                 
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58210.143          64151.969          11286.939 
SCREWED-WELD
    END-POINT  58209.479          64152.634          11286.939  0.75  SC FEMALE 
    END-POINT  58209.479          64152.634          11286.939  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GO8                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58208.065          64154.048          11286.939  0.75  PL
    END-POINT  58209.479          64152.634          11286.939  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GO5                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58208.065          64154.048          11286.939  0.75
    END-POINT  58208.065          64154.048          11286.939  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GO6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58206.665          64155.448          11286.939  0.75  SW FEMALE 
    END-POINT  58208.065          64154.048          11286.939  0.75  SW FEMALE 
    CENTRE-POINT   58207.354          64154.759          11286.939 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GO1                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58206.665          64155.448          11286.939  0.75  SW FEMALE 
    END-POINT  58206.665          64155.448          11286.939  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GO2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58204.168          64157.944          11286.939  0.75  BW
    END-POINT  58206.665          64155.448          11286.939  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GNZ                 
    PIPING-SPEC S1
WELD
    END-POINT  58204.168          64157.944          11286.939  0.75
    END-POINT  58204.168          64157.944          11286.939  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GO0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58203.859          64158.691          11286.940  0.75  BW
    END-POINT  58204.168          64157.944          11286.939  0.75  BW
    CENTRE-POINT   58203.859          64158.254          11286.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GNW                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58203.859          64158.691          11286.940  0.75
    END-POINT  58203.859          64158.691          11286.940  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GNY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58203.859          64161.691          11286.940  0.75  BW
    END-POINT  58203.859          64158.691          11286.940  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_24L                 
    PIPING-SPEC S1
WELD
    END-POINT  58203.859          64161.691          11286.940  0.75
    END-POINT  58203.859          64161.691          11286.940  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BDG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58203.859          64162.816          11288.065  0.75  BW
    END-POINT  58203.859          64161.691          11286.940  0.75  BW
    CENTRE-POINT   58203.859          64162.816          11286.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BDD                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58203.859          64162.816          11288.065  0.75
    END-POINT  58203.859          64162.816          11288.065  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BDF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58204.979          64162.816          11289.184  0.75  BW
    END-POINT  58202.739          64162.816          11289.184  0.75  BW
    CENTRE-POINT   58203.859          64162.816          11289.184 
    BRANCH1-POINT  58203.859          64162.816          11288.065  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_20N                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58204.979          64162.816          11289.184  0.75
    END-POINT  58204.979          64162.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GNR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58202.739          64162.816          11289.184  0.75
    END-POINT  58202.739          64162.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58202.739          64162.816          11289.184  0.75  BW
    END-POINT  58199.725          64162.816          11289.184  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9D                 
    PIPING-SPEC S1
WELD
    END-POINT  58199.725          64162.816          11289.184  0.75
    END-POINT  58199.725          64162.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58199.725          64162.816          11289.184  0.75
    END-POINT  58199.725          64162.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58199.549          64162.816          11289.184  0.75  FL
    END-POINT  58199.725          64162.816          11289.184  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_20T                 
    PIPING-SPEC S1
GASKET
    END-POINT  58199.424          64162.816          11289.184  0.75
    END-POINT  58199.549          64162.816          11289.184  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2DX                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58199.424          64162.816          11289.184 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2DY                 
VALVE
    END-POINT  58199.424          64162.816          11289.184  0.75  FL
    END-POINT  58194.799          64162.816          11289.184  0.75  FL
    CENTRE-POINT   58197.112          64162.816          11289.184 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL3/4_1
    WEIGHT           4.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_20W                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58194.799          64162.816          11289.184  0.75
    END-POINT  58194.674          64162.816          11289.184  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2DV                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58194.674          64162.816          11289.184 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_2DW                 
FLANGE
    END-POINT  58194.674          64162.816          11289.184  0.75  FL
    END-POINT  58194.499          64162.816          11289.184  0.75  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_212                 
    PIPING-SPEC S1
WELD
    END-POINT  58194.499          64162.816          11289.184  0.75
    END-POINT  58194.499          64162.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8E6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58194.499          64162.816          11289.184  0.75
    END-POINT  58194.499          64162.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8E7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58191.725          64162.816          11289.184  0.75  BW
    END-POINT  58194.499          64162.816          11289.184  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8E4                 
    PIPING-SPEC S1
WELD
    END-POINT  58191.725          64162.816          11289.184  0.75
    END-POINT  58191.725          64162.816          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8E5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58191.725          64162.816          11289.184  0.75  BW
    END-POINT  58190.225          64161.316          11289.184  0.75  BW
    CENTRE-POINT   58190.225          64162.816          11289.184 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_219                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58190.225  64162.816  11289.184 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58190.225  64138.748  11289.184 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58190.225  64162.816  11289.184 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64162.816  11289.184 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58190.225          64161.316          11289.184  0.75
    END-POINT  58190.225          64161.316          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_21O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58190.235          64142.889          11289.184  0.75  BW
    END-POINT  58190.225          64161.316          11289.184  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_21M                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58190.232  64148.886  11289.184 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58190.228  64155.297  11289.184  0.75
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPAB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GOF                 
WELD
    END-POINT  58190.235          64142.889          11289.184  0.75
    END-POINT  58190.235          64142.889          11289.184  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_21N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58190.235          64140.649          11289.184  0.75  BW
    END-POINT  58190.235          64142.889          11289.184  0.75  BW
    CENTRE-POINT   58190.235          64141.769          11289.184 
    BRANCH1-POINT  58190.235          64141.769          11290.305  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_21K                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58190.235          64140.649          11289.184  0.75
    END-POINT  58190.235          64140.649          11289.184  0.75
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_G51                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58190.235          64141.769          11290.305  0.75
    END-POINT  58190.235          64141.769          11290.305  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AGR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58190.235          64140.649          11289.184  0.75  BW
    END-POINT  58190.235          64138.409          11289.184  0.75  BW
    CENTRE-POINT   58190.235          64139.529          11289.184 
    BRANCH1-POINT  58191.355          64139.529          11289.184  0.75  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_238                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58190.235          64138.409          11289.184 
    PIPELINE-REFERENCE ISO-PY3-1212013
REDUCER-CONCENTRIC
    END-POINT  58190.235          64141.769          11292.305  1  BW
    END-POINT  58190.235          64141.769          11290.305  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AGD                 
    PIPING-SPEC S1
WELD
    END-POINT  58190.235          64141.769          11292.305  1
    END-POINT  58190.235          64141.769          11292.305  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AGG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58190.235          64141.769          11292.305  1
    END-POINT  58190.235          64141.769          11292.305  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AGH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58190.235          64141.769          11292.500  1  FL
    END-POINT  58190.235          64141.769          11292.305  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AGF                 
    PIPING-SPEC S1
GASKET
    END-POINT  58190.235          64141.769          11292.500  1
    END-POINT  58190.235          64141.769          11292.625  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9R                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58190.235          64141.769          11292.500 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9S                 
END-POSITION-OPEN 
    CO-ORDS  58190.235          64141.769          11292.625 
REDUCER-ECCENTRIC
    END-POINT  58204.979          64162.816          11289.184  0.75  BW
    END-POINT  58206.479          64162.816          11289.289  0.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3/4X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GNO                 
    PIPING-SPEC S1
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  58206.479          64162.816          11289.289  0.5
    END-POINT  58206.479          64162.816          11289.289  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GNQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58208.359          64162.816          11289.289  0.5  FL
    END-POINT  58206.479          64162.816          11289.289  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GNK                 
    PIPING-SPEC S1
GASKET
    END-POINT  58208.359          64162.816          11289.289  0.5
    END-POINT  58208.484          64162.816          11289.289  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9L                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58208.359          64162.816          11289.289 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I9M                 
END-POSITION-OPEN 
    CO-ORDS  58208.484          64162.816          11289.289 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 45LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP3/4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION FLEXITALLIC STYLE CG SPIRAL WOUND  316L
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL3/4_1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE SUPAB-3/4
    DESCRIPTION ADJUSTABLE SUPPORT, P618 FIG 1, L= 1'-0"
ITEM-CODE REDCON1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDECC3/4X1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10Sx40S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
