ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1219016
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1219016-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-019
    ATTRIBUTE21 SG
    ATTRIBUTE22 10/29/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 1/13/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/14/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/18/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/18/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/18/2009
    ATTRIBUTE33 6
    ATTRIBUTE34 0
    ATTRIBUTE35 11/2/2008
    ATTRIBUTE36 SG
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/9/2009
    ATTRIBUTE48 D.DURK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 2/16/2009
    ATTRIBUTE54 D.DURK
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 3/23/2009
    ATTRIBUTE60 SM
    ATTRIBUTE61 RP
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 7/31/2009
    ATTRIBUTE66 CP
    ATTRIBUTE67 BL
    ATTRIBUTE68 DCD
    ATTRIBUTE69 REVISED AS NOTED
    ATTRIBUTE70 6
    ATTRIBUTE71 8/31/2012
    ATTRIBUTE72 DBH
    ATTRIBUTE73 KC
    ATTRIBUTE74 DD
    ATTRIBUTE75 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58015.721          64232.544          11300.565  0.75  SC FEMALE 
    END-POINT  58015.721          64232.544          11299.625  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3H                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58015.721          64232.544          11300.565  0.75  SC FEMALE 
    END-POINT  58015.721          64232.544          11300.565  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3I                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58015.721          64232.544          11302.565  0.75  PL
    END-POINT  58015.721          64232.544          11300.565  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3F                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58015.721          64232.544          11302.565  0.75
    END-POINT  58015.721          64232.544          11302.565  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3G                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58015.721          64232.544          11304.545  0.75  SW FEMALE 
    END-POINT  58015.721          64232.544          11302.565  0.75  SW FEMALE 
    CENTRE-POINT   58015.721          64232.544          11303.570 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3B                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58015.721          64232.544          11304.545  0.75  SW FEMALE 
    END-POINT  58015.721          64232.544          11304.545  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58015.721          64232.544          11307.075  0.75  BW
    END-POINT  58015.721          64232.544          11304.545  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A39                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58015.721          64232.544          11307.075  0.75
    END-POINT  58015.721          64232.544          11307.075  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58015.721          64232.544          11309.315  0.75  BW
    END-POINT  58015.721          64232.544          11307.075  0.75  BW
    CENTRE-POINT   58015.721          64232.544          11308.195 
    BRANCH1-POINT  58016.841          64232.544          11308.195  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3/4
    WEIGHT           0.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A36                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58015.721          64232.544          11309.315  0.75
    END-POINT  58015.721          64232.544          11309.315  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A38                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58016.841          64232.544          11308.195  0.75
    END-POINT  58016.841          64232.544          11308.195  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58018.841          64232.544          11308.195  1  BW
    END-POINT  58016.841          64232.544          11308.195  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3J                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58018.841          64232.544          11308.195  1
    END-POINT  58018.841          64232.544          11308.195  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58018.841          64232.544          11308.195  1  BW
    END-POINT  58026.853          64232.544          11308.195  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3O                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58026.853          64232.544          11308.195  1
    END-POINT  58026.853          64232.544          11308.195  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58026.853          64232.544          11308.195  1  BW
    END-POINT  58028.353          64232.544          11309.695  1  BW
    CENTRE-POINT   58028.353          64232.544          11308.195 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A1S                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58028.353          64232.544          11309.695  1
    END-POINT  58028.353          64232.544          11309.695  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A1V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64232.544          11309.695  1  BW
    END-POINT  58028.353          64232.544          11326.500  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A1U                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64232.544          11326.500  1
    END-POINT  58028.353          64232.544          11326.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A1W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58028.353          64234.044          11328.000  1  BW
    END-POINT  58028.353          64232.544          11326.500  1  BW
    CENTRE-POINT   58028.353          64232.544          11328.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A0X                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58028.353          64234.044          11328.000  1
    END-POINT  58028.353          64234.044          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A10                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64234.044          11328.000  1  BW
    END-POINT  58028.353          64237.283          11328.000  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A0Z                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64237.283          11328.000  1
    END-POINT  58028.353          64237.283          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A11                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64237.283          11328.000  1
    END-POINT  58028.353          64237.283          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A12                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58028.353          64237.478          11328.000  1  FL
    END-POINT  58028.353          64237.283          11328.000  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A0U                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58028.353          64237.478          11328.000  1
    END-POINT  58028.353          64237.603          11328.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A0V                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64237.478          11328.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A0W                 
VALVE
    END-POINT  58028.353          64242.603          11328.000  1  FL
    END-POINT  58028.353          64237.603          11328.000  1  FL
    CENTRE-POINT   58028.353          64240.103          11328.000 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A0D                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58028.353          64242.603          11328.000  1
    END-POINT  58028.353          64242.728          11328.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A0E                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64242.603          11328.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A0F                 
VALVE
    END-POINT  58028.353          64247.728          11328.000  1  FL
    END-POINT  58028.353          64242.728          11328.000  1  FL
    CENTRE-POINT   58028.353          64245.228          11328.000 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9ZD                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58028.353          64247.728          11328.000  1
    END-POINT  58028.353          64247.853          11328.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9ZE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64247.728          11328.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9ZF                 
FLANGE
    END-POINT  58028.353          64247.853          11328.000  1  FL
    END-POINT  58028.353          64250.043          11328.000  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9ZB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64250.043          11328.000  1
    END-POINT  58028.353          64250.043          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9ZC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58028.353          64250.043          11328.000  1  BW
    END-POINT  58028.353          64253.043          11328.000  1  BW
    CENTRE-POINT   58028.353          64251.543          11328.000 
    BRANCH1-POINT  58028.353          64251.543          11326.500  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9Y9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58028.353          64253.043          11328.000  1
    END-POINT  58028.353          64253.043          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64251.543          11326.500  1
    END-POINT  58028.353          64251.543          11326.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BS7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64251.543          11326.500  1  BW
    END-POINT  58028.353          64251.543          11307.255  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BS6                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64251.543          11307.255  1
    END-POINT  58028.353          64251.543          11307.255  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BS8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64251.543          11307.255  1
    END-POINT  58028.353          64251.543          11307.255  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BS9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58028.353          64251.543          11307.060  1  FL
    END-POINT  58028.353          64251.543          11307.255  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YN                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58028.353          64251.543          11307.060  1
    END-POINT  58028.353          64251.543          11306.935  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YO                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64251.543          11307.060 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YP                 
VALVE
    END-POINT  58028.353          64251.543          11301.935  1  FL
    END-POINT  58028.353          64251.543          11306.935  1  FL
    CENTRE-POINT   58028.353          64251.543          11304.435 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58028.353          64251.543          11301.935  1
    END-POINT  58028.353          64251.543          11301.810  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64251.543          11301.935 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YL                 
FLANGE
    END-POINT  58028.353          64251.543          11301.810  1  FL
    END-POINT  58028.353          64251.543          11301.614  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64251.543          11301.614  1
    END-POINT  58028.353          64251.543          11301.614  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9Z1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64251.543          11301.614  1
    END-POINT  58028.353          64251.543          11301.614  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9Z2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64251.543          11301.614  1  PL
    END-POINT  58028.353          64251.543          11295.614  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9Z0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64251.543          11295.614  1
    END-POINT  58028.353          64251.543          11295.614  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9Z3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58028.353          64253.043          11294.114  1  BW
    END-POINT  58028.353          64251.543          11295.614  1  BW
    CENTRE-POINT   58028.353          64251.543          11294.114 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YB                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58028.353  64251.543  11294.114  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9Z8                 
WELD
    END-POINT  58028.353          64253.043          11294.114  1
    END-POINT  58028.353          64253.043          11294.114  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64257.598          11294.114  1  PL
    END-POINT  58028.353          64253.043          11294.114  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YV                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64257.598          11294.114  1
    END-POINT  58028.353          64257.598          11294.114  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64257.598          11294.114  1
    END-POINT  58028.353          64257.598          11294.114  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58028.353          64257.793          11294.114  1  FL
    END-POINT  58028.353          64257.598          11294.114  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YS                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58028.353          64257.793          11294.114  1
    END-POINT  58028.353          64257.918          11294.114  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YT                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64257.793          11294.114 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YU                 
INSTRUMENT
    END-POINT  58028.353          64265.168          11294.114  1  FL
    END-POINT  58028.353          64257.918          11294.114  1  FL
    CENTRE-POINT   58028.353          64261.543          11294.114 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8SG                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58028.353  64261.543  11294.114 
    TEXT FCV$012$06
    UNDIMENSIONED
GASKET
    END-POINT  58028.353          64265.293          11294.114  1
    END-POINT  58028.353          64265.168          11294.114  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8SI                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64265.293          11294.114 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8SJ                 
FLANGE
    END-POINT  58028.353          64265.293          11294.114  1  FL
    END-POINT  58028.353          64265.489          11294.114  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8SH                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64265.489          11294.114  1
    END-POINT  58028.353          64265.489          11294.114  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8SV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64265.489          11294.114  1
    END-POINT  58028.353          64265.489          11294.114  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8SW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64270.043          11294.114  1  BW
    END-POINT  58028.353          64265.489          11294.114  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8ST                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64270.043          11294.114  1
    END-POINT  58028.353          64270.043          11294.114  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58028.353          64271.543          11295.614  1  BW
    END-POINT  58028.353          64270.043          11294.114  1  BW
    CENTRE-POINT   58028.353          64271.543          11294.114 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8PE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58028.353  64271.543  11294.114  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8UE                 
WELD
    END-POINT  58028.353          64271.543          11295.614  1
    END-POINT  58028.353          64271.543          11295.614  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8S1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64271.543          11295.614  1  BW
    END-POINT  58028.353          64271.543          11301.614  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8S0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64271.543          11301.614  1
    END-POINT  58028.353          64271.543          11301.614  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_97W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64271.543          11301.614  1
    END-POINT  58028.353          64271.543          11301.614  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_97X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58028.353          64271.543          11301.810  1  FL
    END-POINT  58028.353          64271.543          11301.614  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_97V                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58028.353          64271.543          11301.935  1
    END-POINT  58028.353          64271.543          11301.810  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_97Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64271.543          11301.935 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_980                 
VALVE
    END-POINT  58028.353          64271.543          11301.935  1  FL
    END-POINT  58028.353          64271.543          11306.935  1  FL
    CENTRE-POINT   58028.353          64271.543          11304.435 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           7.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_97Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58028.353          64271.543          11307.060  1
    END-POINT  58028.353          64271.543          11306.935  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_98C                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64271.543          11307.060 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_98D                 
FLANGE
    END-POINT  58028.353          64271.543          11307.060  1  FL
    END-POINT  58028.353          64271.543          11307.255  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_98B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64271.543          11307.255  1
    END-POINT  58028.353          64271.543          11307.255  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BS4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64271.543          11307.255  1
    END-POINT  58028.353          64271.543          11307.255  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BS5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64271.543          11326.500  1  BW
    END-POINT  58028.353          64271.543          11307.255  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BS2                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64271.543          11326.500  1
    END-POINT  58028.353          64271.543          11326.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BS3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58028.353          64271.543          11329.500  1  BW
    END-POINT  58028.353          64271.543          11326.500  1  BW
    CENTRE-POINT   58028.353          64271.543          11328.000 
    BRANCH1-POINT  58028.353          64270.043          11328.000  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8PG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58028.353          64271.543          11329.500  1
    END-POINT  58028.353          64271.543          11329.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64270.043          11328.000  1
    END-POINT  58028.353          64270.043          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64266.673          11328.000  1  BW
    END-POINT  58028.353          64270.043          11328.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AQ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64266.673          11328.000  1
    END-POINT  58028.353          64266.673          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58028.353          64263.673          11328.000  1  BW
    END-POINT  58028.353          64266.673          11328.000  1  BW
    CENTRE-POINT   58028.353          64265.173          11328.000 
    BRANCH1-POINT  58028.353          64265.173          11329.500  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58028.353          64263.673          11328.000  1
    END-POINT  58028.353          64263.673          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64265.173          11329.500  0.5
    END-POINT  58028.353          64265.173          11329.500  0.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_79S                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58028.353          64265.173          11424.588  0.5  BW
    END-POINT  58028.353          64265.173          11329.500  0.5  BW
    CONTINUATION 
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6XI                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58028.353  64265.173  11383.832 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58028.353          64265.173          11424.588 
    PIPELINE-REFERENCE ISO-PY3-1215021
PIPE
    END-POINT  58028.353          64260.679          11328.000  1  PL
    END-POINT  58028.353          64263.673          11328.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YC                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64260.679          11328.000  1
    END-POINT  58028.353          64260.679          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58028.353          64260.679          11328.000  1
    END-POINT  58028.353          64260.679          11328.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9YE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58028.353          64260.483          11328.000  1  FL
    END-POINT  58028.353          64260.679          11328.000  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9VQ                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58028.353          64260.483          11328.000  1
    END-POINT  58028.353          64260.358          11328.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9VR                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64260.483          11328.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9VS                 
VALVE
    END-POINT  58028.353          64255.358          11328.000  1  FL
    END-POINT  58028.353          64260.358          11328.000  1  FL
    CENTRE-POINT   58028.353          64257.858          11328.000 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           9.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9A1                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58028.353          64255.358          11328.000  1
    END-POINT  58028.353          64255.233          11328.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9A2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58028.353          64255.358          11328.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9A3                 
FLANGE
    END-POINT  58028.353          64255.233          11328.000  1  FL
    END-POINT  58028.353          64253.043          11328.000  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_99Y                 
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58028.353          64271.543          11329.500  1  BW
    END-POINT  58029.853          64271.543          11331.000  1  BW
    CENTRE-POINT   58028.353          64271.543          11331.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58029.853          64271.543          11331.000  1
    END-POINT  58029.853          64271.543          11331.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58029.853          64271.543          11331.000  1  BW
    END-POINT  58031.853          64271.543          11331.000  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9AY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58031.853          64271.543          11331.000  0.5
    END-POINT  58031.853          64271.543          11331.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9B1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58033.733          64271.543          11331.000  0.5  FL
    END-POINT  58031.853          64271.543          11331.000  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9B0                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58033.858          64271.543          11331.000  0.5
    END-POINT  58033.733          64271.543          11331.000  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDF                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58033.858          64271.543          11331.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDG                 
MISC-COMPONENT
    END-POINT  58033.858          64271.543          11331.000  0.5  FL
    END-POINT  58041.858          64271.543          11331.000  0.5  FL
    CENTRE-POINT  58037.858  64271.543  11331.000 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDE                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58037.858  64271.543  11331.000 
    TEXT 3P$FIT$012$06
    UNDIMENSIONED
GASKET
    END-POINT  58041.983          64271.543          11331.000  0.5
    END-POINT  58041.858          64271.543          11331.000  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58041.858          64271.543          11331.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDK                 
FLANGE
    END-POINT  58041.983          64271.543          11331.000  0.5  FL
    END-POINT  58043.863          64271.543          11331.000  0.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9B5                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58043.863          64271.543          11331.000  0.5
    END-POINT  58043.863          64271.543          11331.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9BC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58045.863          64271.543          11331.000  1  BW
    END-POINT  58043.863          64271.543          11331.000  0.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9BB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58045.863          64271.543          11331.000  1
    END-POINT  58045.863          64271.543          11331.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9BF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58045.863          64271.543          11331.000  1  BW
    END-POINT  58047.363          64271.543          11332.500  1  BW
    CENTRE-POINT   58047.363          64271.543          11331.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9BD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58047.363          64271.543          11332.500  1
    END-POINT  58047.363          64271.543          11332.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AVX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58047.363          64271.543          11332.500  1  BW
    END-POINT  58047.363          64271.543          11382.327  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AVW                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58047.363  64271.543  11356.828 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58047.363          64271.543          11382.327  1
    END-POINT  58047.363          64271.543          11382.327  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AVY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58047.363          64271.543          11382.327  1  BW
    END-POINT  58047.363          64270.043          11383.827  1  BW
    CENTRE-POINT   58047.363          64271.543          11383.827 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9D5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58047.363  64271.543  11383.827 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58056.050  64271.543  11383.827 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58047.363  64271.543  11383.827 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58047.363  64378.800  11383.827 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58047.363          64270.043          11383.827  1
    END-POINT  58047.363          64270.043          11383.827  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9DE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58047.363          64270.043          11383.827  1  BW
    END-POINT  58047.363          64205.718          11383.827  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9DD                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58047.363  64237.881  11383.827  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9DH                 
FLOW-ARROW
    CO-ORDS  58047.363  64244.547  11383.827 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58047.363  64237.881  11383.827  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9E3                 
WELD
    END-POINT  58047.363          64205.718          11383.827  1
    END-POINT  58047.363          64205.718          11383.827  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9DF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58047.363          64204.218          11385.327  1  BW
    END-POINT  58047.363          64205.718          11383.827  1  BW
    CENTRE-POINT   58047.363          64204.218          11383.827 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9D8                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58047.363          64204.218          11385.327  1
    END-POINT  58047.363          64204.218          11385.327  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9DB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58047.363          64204.218          11385.327  1  BW
    END-POINT  58047.363          64204.218          11393.811  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9DA                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58047.363          64204.218          11393.811  1
    END-POINT  58047.363          64204.218          11393.811  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9DC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58045.113          64204.218          11396.061  1.5  BW
    END-POINT  58049.613          64204.218          11396.061  1.5  BW
    CENTRE-POINT   58047.363          64204.218          11396.061 
    BRANCH1-POINT  58047.363          64204.218          11393.811  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1
    WEIGHT           0.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9C1                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58045.113          64204.218          11396.061  1.5
    END-POINT  58045.113          64204.218          11396.061  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58049.613          64204.218          11396.061  1.5
    END-POINT  58049.613          64204.218          11396.061  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58083.925          64204.218          11396.061  1.5  BW
    END-POINT  58049.613          64204.218          11396.061  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CDO                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58052.841  64204.218  11396.061  1.5
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9V1                 
FLOW-ARROW
    CO-ORDS  58072.088  64204.218  11396.061 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58083.925          64204.218          11396.061 
    PIPELINE-REFERENCE ISO-PY3-1219019
PIPE
    END-POINT  58045.113          64204.218          11396.061  1.5  BW
    END-POINT  58014.184          64204.218          11396.061  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8OI                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58014.184          64204.218          11396.061  1.5
    END-POINT  58014.184          64204.218          11396.061  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58011.934          64204.218          11393.811  1.5  BW
    END-POINT  58014.184          64204.218          11396.061  1.5  BW
    CENTRE-POINT   58011.934          64204.218          11396.061 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NT                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58011.934          64204.218          11393.811  1.5
    END-POINT  58011.934          64204.218          11393.811  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58011.934          64204.218          11393.811  1.5  BW
    END-POINT  58011.934          64204.218          11383.214  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NU                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58011.934  64204.218  11389.261 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58011.934          64204.218          11383.214  1.5
    END-POINT  58011.934          64204.218          11383.214  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8NW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58011.934          64206.468          11380.964  1.5  BW
    END-POINT  58011.934          64201.968          11380.964  1.5  BW
    CENTRE-POINT   58011.934          64204.218          11380.964 
    BRANCH1-POINT  58011.934          64204.218          11383.214  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_3GW                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58011.934          64206.468          11380.964  1.5
    END-POINT  58011.934          64206.468          11380.964  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8JG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58011.934          64201.968          11380.964  1.5
    END-POINT  58011.934          64201.968          11380.964  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8JI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58011.934          64201.968          11380.964  1.5  BW
    END-POINT  58011.934          64183.740          11380.964  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8JH                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58011.934  64190.536  11380.964 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58011.934          64183.740          11380.964 
    PIPELINE-REFERENCE ISO-PY3-1219017
PIPE
    END-POINT  58011.934          64215.240          11380.964  1.5  BW
    END-POINT  58011.934          64206.468          11380.964  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8JE                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58011.934  64210.960  11380.964 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58011.934          64215.240          11380.964  1.5
    END-POINT  58011.934          64215.240          11380.964  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8JF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58011.934          64217.490          11378.714  1.5  BW
    END-POINT  58011.934          64215.240          11380.964  1.5  BW
    CENTRE-POINT   58011.934          64217.490          11380.964 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8JB                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58011.934  64217.490  11380.964 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58011.934  64378.800  11380.964 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58013.184  64217.490  11380.964 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58056.050  64217.490  11380.964 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58011.934          64217.490          11378.714  1.5
    END-POINT  58011.934          64217.490          11378.714  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8JD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58011.934          64217.490          11330.494  1.5  PL
    END-POINT  58011.934          64217.490          11378.714  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IM                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58011.934  64217.490  11349.959 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58011.934          64217.490          11330.494  1.5
    END-POINT  58011.934          64217.490          11330.494  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58011.934          64217.490          11330.494  1.5
    END-POINT  58011.934          64217.490          11330.494  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58011.934          64217.490          11330.287  1.5  FL
    END-POINT  58011.934          64217.490          11330.494  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IJ                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58011.934          64217.490          11330.287  1.5
    END-POINT  58011.934          64217.490          11330.162  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58011.934          64217.490          11330.287 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IL                 
VALVE
    END-POINT  58011.934          64217.490          11323.662  1.5  FL
    END-POINT  58011.934          64217.490          11330.162  1.5  FL
    CENTRE-POINT   58011.934          64217.490          11326.912 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IG                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58011.934          64217.490          11323.662  1.5
    END-POINT  58011.934          64217.490          11323.537  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IH                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58011.934          64217.490          11323.662 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8II                 
FLANGE
    END-POINT  58011.934          64217.490          11323.537  1.5  FL
    END-POINT  58011.934          64217.490          11323.329  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58011.934          64217.490          11323.329  1.5
    END-POINT  58011.934          64217.490          11323.329  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9UI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58011.934          64217.490          11323.329  1.5
    END-POINT  58011.934          64217.490          11323.329  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9UJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58011.934          64217.490          11317.065  1.5  BW
    END-POINT  58011.934          64217.490          11323.329  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9UG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58011.934          64217.490          11317.065  1.5
    END-POINT  58011.934          64217.490          11317.065  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9UH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58013.882          64218.615          11314.815  1.5  BW
    END-POINT  58011.934          64217.490          11317.065  1.5  BW
    CENTRE-POINT   58011.934          64217.490          11314.815 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58011.934  64217.490  11314.815  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9UN                 
WELD
    END-POINT  58013.882          64218.615          11314.815  1.5
    END-POINT  58013.882          64218.615          11314.815  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58013.882          64218.615          11314.815  1.5  BW
    END-POINT  58017.780          64220.865          11314.815  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8N                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58017.780          64220.865          11314.815  1.5
    END-POINT  58017.780          64220.865          11314.815  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58019.893          64222.085          11314.815  1.5  FL
    END-POINT  58017.780          64220.865          11314.815  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8I1                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58019.893          64222.085          11314.815  1.5
    END-POINT  58020.001          64222.148          11314.815  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8I2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58019.893          64222.085          11314.815 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8I3                 
VALVE
    END-POINT  58025.630          64225.398          11314.815  1.5  FL
    END-POINT  58020.001          64222.148          11314.815  1.5  FL
    CENTRE-POINT   58022.816          64223.773          11314.815 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK1+1/2
    WEIGHT          14.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8HV                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58025.630          64225.398          11314.815  1.5
    END-POINT  58025.738          64225.460          11314.815  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8HW                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58025.630          64225.398          11314.815 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8HX                 
FLANGE
    END-POINT  58025.738          64225.460          11314.815  1.5  FL
    END-POINT  58027.851          64226.680          11314.815  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8HT                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58027.851          64226.680          11314.815  1.5
    END-POINT  58027.851          64226.680          11314.815  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8HU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58029.800          64227.805          11312.565  1.5  BW
    END-POINT  58027.851          64226.680          11314.815  1.5  BW
    CENTRE-POINT   58029.800          64227.805          11314.815 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8ID                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58029.800          64227.805          11312.565  1.5
    END-POINT  58029.800          64227.805          11312.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9V3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58029.800          64227.805          11308.065  1.5  BW
    END-POINT  58029.800          64227.805          11312.565  1.5  BW
    CENTRE-POINT   58029.800          64227.805          11310.315 
    BRANCH1-POINT  58029.800          64225.555          11310.315  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IP                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58029.800          64227.805          11308.065  1.5
    END-POINT  58029.800          64227.805          11308.065  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9V4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58029.800          64225.555          11310.315  0.5
    END-POINT  58029.800          64225.555          11310.315  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IR                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58029.800          64225.555          11310.315  0.5  BW
    END-POINT  58029.800          64222.145          11310.315  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IQ                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58029.800          64222.145          11310.315  0.5  SW FEMALE 
    END-POINT  58029.800          64222.145          11310.315  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58029.800          64222.145          11310.315  0.5  SW FEMALE 
    END-POINT  58029.800          64220.465          11310.315  0.5  SW FEMALE 
    CENTRE-POINT   58029.800          64221.260          11310.315 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8IS                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58029.800          64220.465          11310.315  0.5
    END-POINT  58029.800          64220.465          11310.315  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58029.800          64220.465          11310.315  0.5  PL
    END-POINT  58029.800          64217.465          11310.315  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6H                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58029.800  64217.965  11310.315 
    TEXT PI$001$02
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58029.800          64217.465          11310.315 
REDUCER-CONCENTRIC
    END-POINT  58029.800          64227.805          11308.065  1.5  BW
    END-POINT  58029.800          64227.805          11305.565  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8I6                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58029.800          64227.805          11305.565  1
    END-POINT  58029.800          64227.805          11305.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8J8                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58029.800          64227.805          11303.125  1  FL
    END-POINT  58029.800          64227.805          11305.565  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8I5                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58029.800          64227.805          11303.125  1
    END-POINT  58029.800          64227.805          11303.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8W                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58029.800          64227.805          11303.125 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C8X                 
NOZZLE
    CO-ORDS  58029.800          64227.805          11303.000  1  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58029.800          64227.805          11303.000 
    TEXT PY3-001$(1)$NOZZLE TAG PY3-001$(1)-PY3001DISCHARGE$(1)$RATING 300LB$FAC
    TEXT ING RF
FLANGE
    END-POINT  58015.721          64232.544          11311.375  0.75  FL
    END-POINT  58015.721          64232.544          11309.315  0.75  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9W0                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58015.721          64232.544          11311.500  0.75
    END-POINT  58015.721          64232.544          11311.375  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BSC                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.721          64232.544          11311.375 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BSD                 
FLANGE
    END-POINT  58015.721          64232.544          11311.500  0.75  FL
    END-POINT  58015.721          64232.544          11311.675  0.75  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_9XH                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58015.721          64232.544          11311.675 
    PIPELINE-REFERENCE ISO-PY3-1215012-C
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEESTR3/4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE VALVCHK1
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-1
    DESCRIPTION PIPE SUPPORT, P617 FIG 2 , L=2'-0"
ITEM-CODE VALVCNT1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FCV-012-06
    RATING 150LB
ITEM-CODE TEERED1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE REDCON1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR1/2
    DESCRIPTION FIT-012-06
    RATING 150LB
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLT SUPPORT, P651 FIG 1
ITEM-CODE SUPAG-1
    DESCRIPTION STEEL SUPPORT, P629 FIG 9, L=1'-1" (FIELD TO WELD ANGLE TO BOTTOM OF BEAM)
ITEM-CODE TEERED1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION PIPE SUPPORT, P617 FIG 2 , L=2'-10 3/4"
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLT1+1/2_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1_1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS1_1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT1_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
ITEM-CODE FLGWNK3/4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
