ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036041
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036041-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-012
    ATTRIBUTE21 S.GIBSON
    ATTRIBUTE22 4/15/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/17/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/21/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/21/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/21/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 4/21/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 DC
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58269.378          63894.903          11434.940  1  PL
    END-POINT  58272.944          63894.903          11434.940  1  PL
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSR                 
    PIPING-SPEC S1
MESSAGE
    CO-ORDS  58271.380  63894.903  11434.940 
    TEXT PIPING BY EQUIPMENT VENDOR$TO PY3-049
    UNDIMENSIONED
WELD
    END-POINT  58269.378          63894.903          11434.940  1
    END-POINT  58269.378          63894.903          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58269.378          63894.903          11434.940  1
    END-POINT  58269.378          63894.903          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OST                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58272.944          63894.903          11434.940 
FLANGE
    END-POINT  58269.183          63894.903          11434.940  1  FL
    END-POINT  58269.378          63894.903          11434.940  1  BW
    SKEY FLSO
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSO                 
    PIPING-SPEC S1
GASKET
    END-POINT  58269.183          63894.903          11434.940  1
    END-POINT  58269.058          63894.903          11434.940  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSP                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58269.183          63894.903          11434.940 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSQ                 
FLANGE
    END-POINT  58269.058          63894.903          11434.940  1  FL
    END-POINT  58268.862          63894.903          11434.940  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSL                 
    PIPING-SPEC S1
WELD
    END-POINT  58268.862          63894.903          11434.940  1
    END-POINT  58268.862          63894.903          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58268.862          63894.903          11434.940  1
    END-POINT  58268.862          63894.903          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58172.348          63894.903          11434.940  1  BW
    END-POINT  58268.862          63894.903          11434.940  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSJ                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58262.583  63894.903  11434.940  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OT7                 
SUPPORT
    CO-ORDS  58175.615  63894.903  11434.940  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OT9                 
WELD
    END-POINT  58172.348          63894.903          11434.940  1
    END-POINT  58172.348          63894.903          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58170.848          63896.403          11434.940  1  BW
    END-POINT  58172.348          63894.903          11434.940  1  BW
    CENTRE-POINT   58170.848          63894.903          11434.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSG                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58170.848  63894.903  11434.940 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63894.903  11434.940 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58170.848  63894.903  11434.940 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58170.848  63898.800  11434.940 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL D
WELD
    END-POINT  58170.848          63896.403          11434.940  1
    END-POINT  58170.848          63896.403          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OT4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58170.848          63919.965          11434.940  1  PL
    END-POINT  58170.848          63896.403          11434.940  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OT2                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  58170.848          63919.965          11434.940  1
    END-POINT  58170.848          63919.965          11434.940  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OT3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58170.848          63922.595          11434.940  1  SW FEMALE 
    END-POINT  58170.848          63919.965          11434.940  1  SW FEMALE 
    CENTRE-POINT   58170.848          63921.280          11434.940 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSY                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58170.848          63922.595          11434.940  1  SW FEMALE 
    END-POINT  58170.848          63922.595          11434.940  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58170.848          63929.134          11434.940  1  BW
    END-POINT  58170.848          63922.595          11434.940  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSW                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58170.848  63925.658  11434.940  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OTE                 
WELD
    END-POINT  58170.848          63929.134          11434.940  1
    END-POINT  58170.848          63929.134          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58169.348          63930.634          11434.940  1  BW
    END-POINT  58170.848          63929.134          11434.940  1  BW
    CENTRE-POINT   58170.848          63930.634          11434.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSB                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58169.348          63930.634          11434.940  1
    END-POINT  58169.348          63930.634          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58092.425          63930.634          11434.940  1  BW
    END-POINT  58169.348          63930.634          11434.940  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OS9                 
    PIPING-SPEC S1
FLOOR-SYMBOL 
    CO-ORDS  58162.089  63930.634  11434.940 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58162.089  63930.634  11434.940 
    TEXT NEW 3" WALL OPENING
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58128.850  63930.634  11434.940 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58092.425          63930.634          11434.940  1
    END-POINT  58092.425          63930.634          11434.940  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OSA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58090.925          63930.634          11433.440  1  BW
    END-POINT  58092.425          63930.634          11434.940  1  BW
    CENTRE-POINT   58090.925          63930.634          11434.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OS3                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58090.925          63930.634          11433.440  1
    END-POINT  58090.925          63930.634          11433.440  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OS6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.925          63930.634          11433.440  1  BW
    END-POINT  58090.925          63930.634          11415.373  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OS5                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          63930.634          11415.373  1
    END-POINT  58090.925          63930.634          11415.373  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P3C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58090.925          63933.134          11413.373  2  BW
    END-POINT  58090.925          63928.134          11413.373  2  BW
    CENTRE-POINT   58090.925          63930.634          11413.373 
    BRANCH1-POINT  58090.925          63930.634          11415.373  1  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0I                 
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925          63933.134          11413.373 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-1
    DESCRIPTION P625 FIG 8, W/ U BOLT SUPPORT, P648 FIG2
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
