ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213021
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 20TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1213021-20TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 2/23/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 2/23/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/23/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 2/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/23/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 2/23/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 DC
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58248.213          64162.765          11360.888  1  SC MALE 
    END-POINT  58248.213          64100.904          11360.888  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F25                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58248.213          64162.765          11360.888  1  SC FEMALE 
    END-POINT  58248.213          64162.765          11360.888  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F24                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58248.213          64100.904          11360.888  1  SC FEMALE 
    END-POINT  58248.213          64100.904          11360.888  1  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PCM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58248.213          64099.684          11361.838  1.5  SC FEMALE 
    END-POINT  58248.213          64099.684          11359.938  1.5  SC FEMALE 
    CENTRE-POINT   58248.213          64099.684          11360.888 
    BRANCH1-POINT  58248.213          64100.904          11360.888  1  SC FEMALE 
    SKEY TESC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JTD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58248.213          64099.684          11361.838 
    PIPELINE-REFERENCE ISO-PY3-1213001
ELBOW
    END-POINT  58248.213          64163.685          11359.968  1  SC FEMALE 
    END-POINT  58248.213          64162.765          11360.888  1  SC FEMALE 
    CENTRE-POINT   58248.213          64163.685          11360.888 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F22                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58248.213  64163.685  11360.888 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64163.685  11360.887 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
SCREWED-WELD
    END-POINT  58248.213          64163.685          11359.968  1  SC MALE 
    END-POINT  58248.213          64163.685          11359.968  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F21                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58248.213          64163.685          11332.445  1  SC MALE 
    END-POINT  58248.213          64163.685          11359.968  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1Z                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58248.213  64163.685  11352.618 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58248.213          64163.685          11332.445  1  SC FEMALE 
    END-POINT  58248.213          64163.685          11332.445  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1Y                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58248.213          64163.685          11331.055  1  SC FEMALE 
    END-POINT  58248.213          64163.685          11332.445  1  SC FEMALE 
    CENTRE-POINT   58248.213          64163.685          11331.750 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1W                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58248.213          64163.685          11331.055  1  SC MALE 
    END-POINT  58248.213          64163.685          11331.055  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1V                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58248.213          64163.685          11326.640  1  SC MALE 
    END-POINT  58248.213          64163.685          11331.055  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1U                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58248.213          64163.685          11326.640  1  SC FEMALE 
    END-POINT  58248.213          64163.685          11326.640  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58247.293          64163.685          11325.720  1  SC FEMALE 
    END-POINT  58248.213          64163.685          11326.640  1  SC FEMALE 
    CENTRE-POINT   58248.213          64163.685          11325.720 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1R                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58248.213  64163.685  11325.720 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58248.213  64138.748  11325.720 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
SCREWED-WELD
    END-POINT  58247.293          64163.685          11325.720  1  SC FEMALE 
    END-POINT  58247.293          64163.685          11325.720  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G63                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58247.293          64163.685          11325.720  1  SC MALE 
    END-POINT  58241.140          64163.685          11325.720  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1_1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2H                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58241.140          64163.685          11325.720  1  SC FEMALE 
    END-POINT  58241.140          64163.685          11325.720  1  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G64                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58239.920          64163.685          11324.770  1.5  SC FEMALE 
    END-POINT  58239.920          64163.685          11326.670  1.5  SC FEMALE 
    CENTRE-POINT   58239.920          64163.685          11325.720 
    BRANCH1-POINT  58241.140          64163.685          11325.720  1  SC FEMALE 
    SKEY TESC
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F1M                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58239.920          64163.685          11324.770 
    PIPELINE-REFERENCE ISO-PY3-1221004
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE PIP1_1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40
    RATING 40
