ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036042
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036042-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 1/29/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/29/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/29/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/29/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  58299.083          64243.981          11598.525  0.75  SW FEMALE 
    END-POINT  58299.083          64246.461          11598.525  0.75  SW FEMALE 
    CENTRE-POINT   58299.083          64244.956          11598.525 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJA                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE
    CO-ORDS  58299.083  64246.461  11598.525 
    TEXT TUBING TO$PY3-064
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58299.083          64243.981          11598.525  0.75
    END-POINT  58299.083          64243.981          11598.525  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJ9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58299.083          64246.461          11598.525 
PIPE
    END-POINT  58299.083          64240.451          11598.525  0.75  BW
    END-POINT  58299.083          64243.981          11598.525  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJ8                 
    PIPING-SPEC S1
WELD
    END-POINT  58299.083          64240.451          11598.525  0.75
    END-POINT  58299.083          64240.451          11598.525  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJ7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58299.083          64239.326          11597.400  0.75  BW
    END-POINT  58299.083          64240.451          11598.525  0.75  BW
    CENTRE-POINT   58299.083          64239.326          11598.525 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJ6                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58299.083          64239.326          11597.400  0.75
    END-POINT  58299.083          64239.326          11597.400  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJ5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58299.083          64239.326          11597.400  0.75  BW
    END-POINT  58299.083          64239.326          11554.497  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJ1                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58299.083  64239.326  11568.004  0.75
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJ2                 
FLOOR-SYMBOL 
    CO-ORDS  58299.083  64239.326  11564.322 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58299.083  64239.326  11564.322 
    TEXT Grate Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58299.083  64239.326  11590.097 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58299.083          64239.326          11554.497  0.75
    END-POINT  58299.083          64239.326          11554.497  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJ0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58299.083          64239.326          11554.497  0.75  BW
    END-POINT  58298.774          64239.326          11553.751  0.75  BW
    CENTRE-POINT   58299.083          64239.326          11554.060 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIZ                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58298.774          64239.326          11553.751  0.75
    END-POINT  58298.774          64239.326          11553.751  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G8N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58286.581          64239.326          11541.558  0.75  BW
    END-POINT  58298.774          64239.326          11553.751  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G8L                 
    PIPING-SPEC S1
WELD
    END-POINT  58286.581          64239.326          11541.558  0.75
    END-POINT  58286.581          64239.326          11541.558  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G8M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58286.581          64239.326          11541.558  0.75  BW
    END-POINT  58285.786          64238.201          11540.762  0.75  BW
    CENTRE-POINT   58285.786          64239.326          11540.762 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G8J                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58285.786          64238.201          11540.762  0.75
    END-POINT  58285.786          64238.201          11540.762  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G8O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58285.786          64238.201          11540.762  0.75  BW
    END-POINT  58286.786          64205.549          11539.762  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIR                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58286.786  64228.065  11539.762 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58286.786  64209.549  11539.762  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIT                 
WELD
    END-POINT  58286.786          64205.549          11539.762  0.75
    END-POINT  58286.786          64205.549          11539.762  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58286.786          64204.424          11538.637  0.75  BW
    END-POINT  58286.786          64205.549          11539.762  0.75  BW
    CENTRE-POINT   58286.786          64204.424          11539.762 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIP                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58286.786          64204.424          11538.637  0.75
    END-POINT  58286.786          64204.424          11538.637  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G87                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58286.786          64204.424          11538.637  0.75  BW
    END-POINT  58286.786          64204.424          11524.887  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIN                 
    PIPING-SPEC S1
WELD
    END-POINT  58286.786          64204.424          11524.887  0.75
    END-POINT  58286.786          64204.424          11524.887  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58285.661          64204.424          11523.762  0.75  BW
    END-POINT  58286.786          64204.424          11524.887  0.75  BW
    CENTRE-POINT   58286.786          64204.424          11523.762 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIL                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58285.661          64204.424          11523.762  0.75
    END-POINT  58285.661          64204.424          11523.762  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58285.661          64204.424          11523.762  0.75  BW
    END-POINT  58038.825          64204.424          11523.762  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIG                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58153.846  64204.424  11523.762  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIH                 
SUPPORT
    CO-ORDS  58219.909  64204.424  11523.762  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EII                 
SUPPORT
    CO-ORDS  58054.876  64204.424  11523.762  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIJ                 
WELD
    END-POINT  58038.825          64204.424          11523.762  0.75
    END-POINT  58038.825          64204.424          11523.762  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58037.700          64204.424          11522.637  0.75  BW
    END-POINT  58038.825          64204.424          11523.762  0.75  BW
    CENTRE-POINT   58037.700          64204.424          11523.762 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EID                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58037.700  64204.424  11523.762 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58037.700  64138.800  11523.762 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58037.700          64204.424          11522.637  0.75
    END-POINT  58037.700          64204.424          11522.637  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58037.700          64204.424          11522.637  0.75  BW
    END-POINT  58037.700          64204.424          11512.762  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIB                 
    PIPING-SPEC S1
WELD
    END-POINT  58037.700          64204.424          11512.762  0.75
    END-POINT  58037.700          64204.424          11512.762  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EIA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58037.700          64203.299          11511.637  0.75  BW
    END-POINT  58037.700          64204.424          11512.762  0.75  BW
    CENTRE-POINT   58037.700          64204.424          11511.637 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI8                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58037.700  64204.424  11511.637 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64204.424  11511.637 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58037.700          64203.299          11511.637  0.75
    END-POINT  58037.700          64203.299          11511.637  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58037.700          64203.299          11511.637  0.75  BW
    END-POINT  58037.700          64156.855          11511.637  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI5                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58037.700  64186.637  11511.637 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58037.700          64156.855          11511.637  0.75
    END-POINT  58037.700          64156.855          11511.637  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58037.700          64156.855          11511.637  0.75  BW
    END-POINT  58038.010          64156.108          11511.637  0.75  BW
    CENTRE-POINT   58037.700          64156.417          11511.637 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI3                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58038.010          64156.108          11511.637  0.75
    END-POINT  58038.010          64156.108          11511.637  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58038.010          64156.108          11511.637  0.75  BW
    END-POINT  58041.135          64152.968          11511.637  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI1                 
    PIPING-SPEC S1
WELD
    END-POINT  58041.135          64152.968          11511.637  0.75
    END-POINT  58041.135          64152.968          11511.637  0.75
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58042.593  64151.509  11511.637 
    BRANCH1-POINT  58041.135          64152.968          11511.637  0.75  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHZ                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58042.593  64151.509  11511.637 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3/4
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE 45LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION GENERAL HANGER, L=11 3/16", P624 FIG 3
ITEM-CODE SUPRH-3/4_2
    DESCRIPTION GENERAL HANGER, L=2'-5 3/16", P624 FIG 3
ITEM-CODE SUPRH-3/4_3
    DESCRIPTION GENERAL HANGER, L=2'-6 11/16", P624 FIG 3
