ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1216008
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 NH3
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1216008-NH3-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-016
    ATTRIBUTE21 SG
    ATTRIBUTE22 11/25/2008
    ATTRIBUTE23 NA
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/5/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/5/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/5/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/2/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57880.832          64108.809          11984.100  0.5  PL
    END-POINT  57880.832          64108.809          11987.100  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98Q                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  57880.832  64108.809  11986.600 
    TEXT PI$067$08
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57880.832          64108.809          11984.100  0.5
    END-POINT  57880.832          64108.809          11984.100  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57880.832          64108.809          11987.100 
VALVE
    END-POINT  57880.832          64108.809          11982.420  0.5  SW FEMALE 
    END-POINT  57880.832          64108.809          11984.100  0.5  SW FEMALE 
    CENTRE-POINT   57880.832          64108.809          11983.305 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98M                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57880.832          64108.809          11982.420  0.5  SW FEMALE 
    END-POINT  57880.832          64108.809          11982.420  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57880.832          64108.809          11979.010  0.5  BW
    END-POINT  57880.832          64108.809          11982.420  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98K                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64108.809          11979.010  0.5
    END-POINT  57880.832          64108.809          11979.010  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98L                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57880.832  64108.809  11976.010 
    BRANCH1-POINT  57880.832          64108.809          11979.010  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98C                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832  64108.809  11976.010  4
    END-POINT  57880.832  64108.809  11976.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98E                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57880.832          64113.775          11976.010  4  PL
    END-POINT  57880.832          64103.953          11976.010  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_987                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64113.775          11976.010  4
    END-POINT  57880.832          64113.775          11976.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_988                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64113.775          11976.010  4
    END-POINT  57880.832          64113.775          11976.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_989                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64103.953          11976.010  4
    END-POINT  57880.832          64103.953          11976.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98A                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64103.953          11976.010  4
    END-POINT  57880.832          64103.953          11976.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57880.832          64103.653          11976.010  4  FL
    END-POINT  57880.832          64103.953          11976.010  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6E3                 
    PIPING-SPEC S1
GASKET
    END-POINT  57880.832          64103.653          11976.010  4
    END-POINT  57880.832          64103.528          11976.010  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74D                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57880.832          64103.528          11976.010 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74E                 
VALVE
    END-POINT  57880.832          64103.528          11976.010  4  FL
    END-POINT  57880.832          64101.403          11976.010  4  FL
    CENTRE-POINT   57880.832          64102.466          11976.010 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_741                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57880.832          64101.278          11976.010  4
    END-POINT  57880.832          64101.403          11976.010  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74F                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57880.832          64101.403          11976.010 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74G                 
FLANGE
    END-POINT  57880.832          64101.278          11976.010  4  FL
    END-POINT  57880.832          64100.979          11976.010  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6EC                 
    PIPING-SPEC S1
WELD
    END-POINT  57880.832          64100.979          11976.010  4
    END-POINT  57880.832          64100.979          11976.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6EG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57880.832          64100.979          11976.010  4
    END-POINT  57880.832          64100.979          11976.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6EH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  57880.832          64100.979          11976.010  4  PL
    END-POINT  57880.832          64073.198          11976.010  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6EF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64073.198          11976.010  4
    END-POINT  57880.832          64073.198          11976.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6EI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57880.832          64073.198          11976.010  4  BW
    END-POINT  57880.832          64067.198          11982.010  4  BW
    CENTRE-POINT   57880.832          64067.198          11976.010 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6BC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57880.832  64067.198  11976.010  4
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6BX                 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57880.832  64067.198  11976.010 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57879.395  64138.800  11976.010 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57880.832  64067.198  11976.010 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64067.198  11976.010 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57880.832          64067.198          11982.010  4
    END-POINT  57880.832          64067.198          11982.010  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6BG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57880.832          64067.198          12039.659  4  BW
    END-POINT  57880.832          64067.198          11982.010  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6BE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57880.832          64067.198          12039.659  4
    END-POINT  57880.832          64067.198          12039.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6BF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57886.832          64067.198          12045.659  4  BW
    END-POINT  57880.832          64067.198          12039.659  4  BW
    CENTRE-POINT   57880.832          64067.198          12045.659 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6B3                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57886.832          64067.198          12045.659  4
    END-POINT  57886.832          64067.198          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6GA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57886.832          64067.198          12045.659  4  BW
    END-POINT  57942.947          64067.198          12045.659  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6B5                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57912.274  64067.198  12045.659  4
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_73W                 
WELD
    END-POINT  57942.947          64067.198          12045.659  4
    END-POINT  57942.947          64067.198          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6B7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57947.214          64065.430          12045.659  4  BW
    END-POINT  57942.947          64067.198          12045.659  4  BW
    CENTRE-POINT   57945.447          64067.198          12045.659 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57947.214          64065.430          12045.659  4
    END-POINT  57947.214          64065.430          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57963.370          64049.275          12045.659  4  BW
    END-POINT  57947.214          64065.430          12045.659  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AN                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57963.370          64049.275          12045.659  4
    END-POINT  57963.370          64049.275          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57967.638          64047.507          12045.659  4  BW
    END-POINT  57963.370          64049.275          12045.659  4  BW
    CENTRE-POINT   57965.138          64047.507          12045.659 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AK                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57967.638          64047.507          12045.659  4
    END-POINT  57967.638          64047.507          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58022.958          64047.507          12045.659  4  BW
    END-POINT  57967.638          64047.507          12045.659  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AI                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57996.047  64047.507  12045.659 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58022.958          64047.507          12045.659  4
    END-POINT  58022.958          64047.507          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58027.226          64049.275          12045.659  4  BW
    END-POINT  58022.958          64047.507          12045.659  4  BW
    CENTRE-POINT   58025.458          64047.507          12045.659 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AF                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58027.226          64049.275          12045.659  4
    END-POINT  58027.226          64049.275          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58048.965          64071.014          12045.659  4  BW
    END-POINT  58027.226          64049.275          12045.659  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AD                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58048.965          64071.014          12045.659  4
    END-POINT  58048.965          64071.014          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6AE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58053.233          64072.782          12045.659  4  BW
    END-POINT  58048.965          64071.014          12045.659  4  BW
    CENTRE-POINT   58050.733          64072.782          12045.659 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6A6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58053.233          64072.782          12045.659  4
    END-POINT  58053.233          64072.782          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6A8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58115.754          64072.782          12045.659  4  BW
    END-POINT  58053.233          64072.782          12045.659  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6A4                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58056.498  64072.782  12045.659  4
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_73Y                 
WELD
    END-POINT  58115.754          64072.782          12045.659  4
    END-POINT  58115.754          64072.782          12045.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6A5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58115.754          64072.782          12045.659  4  BW
    END-POINT  58121.754          64072.782          12039.659  4  BW
    CENTRE-POINT   58121.754          64072.782          12045.659 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6A0                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58121.754          64072.782          12039.659  4
    END-POINT  58121.754          64072.782          12039.659  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58121.765          64072.789          12004.062  4  BW
    END-POINT  58121.754          64072.782          12039.659  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74L                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58121.765          64072.789          12004.062  4
    END-POINT  58121.765          64072.789          12004.062  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58121.765          64072.789          12001.062  4  FL
    END-POINT  58121.765          64072.789          12004.062  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74H                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58121.765          64072.789          12001.062  4
    END-POINT  58121.765          64072.789          12000.937  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74I                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58121.765          64072.789          12001.062 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_74J                 
END-POSITION-OPEN 
    CO-ORDS  58121.765          64072.789          12000.937 
FLANGE
    END-POINT  57880.832          64114.075          11976.010  4  FL
    END-POINT  57880.832          64113.775          11976.010  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_983                 
    PIPING-SPEC S1
GASKET
    END-POINT  57880.832          64114.075          11976.010  4
    END-POINT  57880.832          64114.200          11976.010  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98T                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57880.832          64114.075          11976.010 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_98U                 
END-POSITION-OPEN 
    CO-ORDS  57880.832          64114.200          11976.010 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL4X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-501
    RATING 150LB
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-4
    DESCRIPTION ELBOW SUPPORT, L=4'-0 1/16", P619 FIG 2
ITEM-CODE SUPUB-4
    DESCRIPTION U BOLT SUPPORT, P651 FIG 1
ITEM-CODE 45LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
