ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2041020
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 HS
    ATTRIBUTE97 2.00
    ATTRIBUTE96 2041020-HS-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-041
    ATTRIBUTE21 D.DURK
    ATTRIBUTE22 3/3/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/10/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/13/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 DC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BJL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 12/17/2012
    ATTRIBUTE48 CP
    ATTRIBUTE49 DK
    ATTRIBUTE50 DK
    ATTRIBUTE51 REVISED PSV-025-01
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58030.308          64328.871          11593.926  0.5  SW MALE 
    END-POINT  58030.308          64328.871          11596.926  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1MA                 
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58030.308  64328.871  11596.496 
    TEXT PI$025$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58030.308          64328.871          11593.926  0.5  SW MALE 
    END-POINT  58030.308          64328.871          11593.926  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1MB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58030.308          64328.871          11596.926 
VALVE
    END-POINT  58030.308          64328.871          11591.301  0.5  SW FEMALE 
    END-POINT  58030.308          64328.871          11593.926  0.5  SW FEMALE 
    CENTRE-POINT   58030.308          64328.871          11592.616 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           4.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1M6                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58030.308          64328.871          11591.301  0.5
    END-POINT  58030.308          64328.871          11591.301  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_59R                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58030.308          64328.871          11587.551  0.5  PL
    END-POINT  58030.308          64328.871          11591.301  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_59P                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58030.308          64328.871          11587.551  0.5
    END-POINT  58030.308          64328.871          11587.551  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_59Q                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58030.308  64328.871  11585.738 
    BRANCH1-POINT  58030.308          64328.871          11587.551  0.5  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1/2
    WEIGHT           0.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_59N                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58030.308  64328.871  11585.738  2
    END-POINT  58030.308  64328.871  11585.738  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_59O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58017.308          64328.871          11585.738  2  BW
    END-POINT  58035.308          64328.871          11585.738  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1PR                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58023.362  64328.871  11585.738 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58017.308          64328.871          11585.738  2
    END-POINT  58017.308          64328.871          11585.738  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_59J                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58035.308          64328.871          11585.738  2
    END-POINT  58035.308          64328.871          11585.738  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ZQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58021.308  64328.871  11585.738  2
    END-POINT  58021.308  64328.871  11585.738  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58021.308  64328.871  11585.738 
    BRANCH1-POINT  58021.308          64328.871          11587.488  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AT9                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58021.308          64328.871          11587.488  0.75
    END-POINT  58021.308          64328.871          11587.488  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATL                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58021.308          64328.871          11595.811  0.75  PL
    END-POINT  58021.308          64328.871          11587.488  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATJ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58021.308          64328.871          11595.811  0.75
    END-POINT  58021.308          64328.871          11595.811  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58021.308          64328.871          11595.991  0.75  FL
    END-POINT  58021.308          64328.871          11595.811  0.75  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATG                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58021.308          64328.871          11595.991  0.75
    END-POINT  58021.308          64328.871          11596.116  0.75
    ERECTION-ITEM
    ITEM-CODE GAS3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATH                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58021.308          64328.871          11595.991 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3/4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATI                 
VALVE-ANGLE
    END-POINT  58021.308          64328.871          11596.116  0.75  FL
    END-POINT  58016.121          64328.871          11602.303  1  FL
    CENTRE-POINT   58021.308          64328.871          11602.303 
    SKEY ARFL
    FABRICATION-ITEM
    ITEM-CODE VALVREL3/4X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATC                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58021.308  64328.871  11602.303 
    TEXT PSV$025$01
    UNDIMENSIONED
GASKET
    END-POINT  58015.996          64328.871          11602.303  1
    END-POINT  58016.121          64328.871          11602.303  1
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATM                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58015.996          64328.871          11602.303  1  FL
    END-POINT  58015.868          64328.871          11602.303  1  SW FEMALE 
    SKEY FLSW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5AD                 
    PIPING-SPEC C2
END-CONNECTION-PIPELINE 
    CO-ORDS  58015.868          64328.871          11602.303 
    PIPELINE-REFERENCE ISO-PY3-1214027
REDUCER-ECCENTRIC
    END-POINT  58035.308          64328.871          11585.738  2  BW
    END-POINT  58041.808          64328.871          11585.501  1.5  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           2.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ZN                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58041.808          64328.871          11585.501  1.5
    END-POINT  58041.808          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8ZP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58041.808          64328.871          11585.501  1.5  SW FEMALE 
    END-POINT  58044.121          64328.871          11585.501  1.5  SW FEMALE 
    CENTRE-POINT   58042.871          64328.871          11585.501 
    BRANCH1-POINT  58042.871          64328.871          11586.751  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1F8                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58042.871  64328.871  11586.451  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8Z8                 
SOCKET-WELD
    END-POINT  58044.121          64328.871          11585.501  1.5
    END-POINT  58044.121          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85U                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58042.871          64328.871          11586.751  1.5
    END-POINT  58042.871          64328.871          11586.751  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1GW                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58042.871          64328.871          11608.251  1.5  PL
    END-POINT  58042.871          64328.871          11586.751  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1GU                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58042.871          64328.871          11608.251  1.5
    END-POINT  58042.871          64328.871          11608.251  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1GV                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58044.121          64328.871          11609.501  1.5  SW FEMALE 
    END-POINT  58042.871          64328.871          11608.251  1.5  SW FEMALE 
    CENTRE-POINT   58042.871          64328.871          11609.501 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1GM                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58042.871  64328.871  11609.501 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64328.871  11609.501 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58042.871  64328.871  11609.501 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58042.871  64378.800  11609.501 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
SOCKET-WELD
    END-POINT  58044.121          64328.871          11609.501  1.5
    END-POINT  58044.121          64328.871          11609.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Q5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58089.800          64328.871          11609.501  1.5  PL
    END-POINT  58044.121          64328.871          11609.501  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Q3                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58071.191  64328.871  11609.501 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58089.800          64328.871          11609.501  1.5
    END-POINT  58089.800          64328.871          11609.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Q4                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58095.050          64328.871          11609.501  1.5  SW FEMALE 
    END-POINT  58089.800          64328.871          11609.501  1.5  SW FEMALE 
    CENTRE-POINT   58092.425          64328.871          11609.501 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1+1/2
    WEIGHT          20.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1PZ                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  58095.050          64328.871          11609.501  1.5  SW FEMALE 
    END-POINT  58095.050          64328.871          11609.501  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Q0                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58100.050          64328.871          11609.501  1.5  PL
    END-POINT  58095.050          64328.871          11609.501  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1PX                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58100.050          64328.871          11609.501  1.5
    END-POINT  58100.050          64328.871          11609.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1PY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58101.300          64328.871          11608.251  1.5  SW FEMALE 
    END-POINT  58101.300          64328.871          11610.563  1.5  SW FEMALE 
    CENTRE-POINT   58101.300          64328.871          11609.501 
    BRANCH1-POINT  58100.050          64328.871          11609.501  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1G8                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58101.300          64328.871          11608.251  1.5
    END-POINT  58101.300          64328.871          11608.251  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85Q                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58101.300          64328.871          11610.563  1.5
    END-POINT  58101.300          64328.871          11610.563  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1H6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58101.300          64328.871          11617.063  2  BW
    END-POINT  58101.300          64328.871          11610.563  1.5  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_1
    WEIGHT           2.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1H5                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58101.300          64328.871          11617.063  2
    END-POINT  58101.300          64328.871          11617.063  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1HE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58101.300          64328.871          11649.480  2  BW
    END-POINT  58101.300          64328.871          11617.063  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1HC                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58101.300          64328.871          11649.480  2
    END-POINT  58101.300          64328.871          11649.480  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1HD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58101.300          64328.871          11649.480  2  BW
    END-POINT  58099.179          64326.749          11652.480  2  BW
    CENTRE-POINT   58101.300          64328.871          11652.480 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1H9                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58099.179          64326.749          11652.480  2
    END-POINT  58099.179          64326.749          11652.480  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1TJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58089.179          64316.749          11652.480  2  BW
    END-POINT  58099.179          64326.749          11652.480  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1TH                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58089.179          64316.749          11652.480  2
    END-POINT  58089.179          64316.749          11652.480  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1TI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58089.179          64316.749          11652.480  2  BW
    END-POINT  58087.057          64315.871          11652.480  2  BW
    CENTRE-POINT   58088.300          64315.871          11652.480 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1TG                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58087.057          64315.871          11652.480  2
    END-POINT  58087.057          64315.871          11652.480  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1TM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58006.681          64315.871          11652.480  2  BW
    END-POINT  58087.057          64315.871          11652.480  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1TK                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58020.800  64315.871  11652.480  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5AR                 
SUPPORT
    CO-ORDS  58020.800  64315.871  11652.480  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5DG                 
FLOW-ARROW
    CO-ORDS  58051.636  64315.871  11652.480 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58006.681          64315.871          11652.480  2
    END-POINT  58006.681          64315.871          11652.480  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1TL                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58003.681          64315.871          11655.480  2  BW
    END-POINT  58006.681          64315.871          11652.480  2  BW
    CENTRE-POINT   58003.681          64315.871          11652.480 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1R7                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58003.681          64315.871          11655.480  2
    END-POINT  58003.681          64315.871          11655.480  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58003.681          64315.871          11655.480  2  BW
    END-POINT  58003.681          64315.871          11689.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RC                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58003.681          64315.871          11689.750  2
    END-POINT  58003.681          64315.871          11689.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58003.681          64315.871          11689.750  2  BW
    END-POINT  58000.681          64315.871          11692.750  2  BW
    CENTRE-POINT   58003.681          64315.871          11692.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1I5                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58000.681          64315.871          11692.750  2
    END-POINT  58000.681          64315.871          11692.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57794.300          64315.871          11692.750  2  BW
    END-POINT  58000.681          64315.871          11692.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1RK                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57951.800  64315.871  11692.750  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5AV                 
SUPPORT
    CO-ORDS  57853.050  64315.871  11692.750  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5B3                 
SUPPORT
    CO-ORDS  57853.050  64315.871  11692.750  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5DB                 
SUPPORT
    CO-ORDS  57951.800  64315.871  11692.750  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5DC                 
WELD
    END-POINT  57794.300          64315.871          11692.750  2
    END-POINT  57794.300          64315.871          11692.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42K                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57794.300          64315.871          11692.750  2  BW
    END-POINT  57791.300          64315.871          11689.750  2  BW
    CENTRE-POINT   57791.300          64315.871          11692.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42I                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57791.300          64315.871          11689.750  2
    END-POINT  57791.300          64315.871          11689.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42S                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57791.300          64315.871          11689.750  2  BW
    END-POINT  57791.300          64315.871          11662.187  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42R                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57791.300  64315.871  11677.405 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57791.300          64315.871          11662.187  2
    END-POINT  57791.300          64315.871          11662.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42T                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57791.300          64315.871          11662.187  2  BW
    END-POINT  57791.300          64312.871          11659.187  2  BW
    CENTRE-POINT   57791.300          64315.871          11659.187 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42M                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57791.300          64312.871          11659.187  2
    END-POINT  57791.300          64312.871          11659.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42Q                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57791.300          64193.500          11659.187  2  BW
    END-POINT  57791.300          64312.871          11659.187  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42O                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57791.300  64233.815  11659.187 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57791.300          64193.500          11659.187  2
    END-POINT  57791.300          64193.500          11659.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42P                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57791.300          64193.500          11659.187  2  BW
    END-POINT  57791.300          64190.500          11656.187  2  BW
    CENTRE-POINT   57791.300          64190.500          11659.187 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42N                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57791.300  64190.500  11659.187 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64190.500  11659.187 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57791.300  64190.500  11659.187 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57791.300  64138.748  11659.187 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57791.300          64190.500          11656.187  2
    END-POINT  57791.300          64190.500          11656.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42V                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57791.300          64190.500          11656.187  2  BW
    END-POINT  57791.300          64190.500          11637.404  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42U                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57791.300  64190.500  11650.765 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57791.300          64190.500          11637.404  2
    END-POINT  57791.300          64190.500          11637.404  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57791.300          64190.500          11637.404  2
    END-POINT  57791.300          64190.500          11637.404  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  57791.300          64190.500          11637.187  2  FL
    END-POINT  57791.300          64190.500          11637.404  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41K                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  57791.300          64190.500          11637.187  2
    END-POINT  57791.300          64190.500          11637.062  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41L                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57791.300          64190.500          11637.187 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41M                 
VALVE
    END-POINT  57791.300          64190.500          11630.062  2  FL
    END-POINT  57791.300          64190.500          11637.062  2  FL
    CENTRE-POINT   57791.300          64190.500          11633.562 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          35.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41F                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  57791.300          64190.500          11629.937  2
    END-POINT  57791.300          64190.500          11630.062  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41U                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57791.300          64190.500          11630.062 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41V                 
FLANGE
    END-POINT  57791.300          64190.500          11629.937  2  FL
    END-POINT  57791.300          64190.500          11629.721  2  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41T                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57791.300          64190.500          11629.721 
    PIPELINE-REFERENCE ISO-PY3-2041008
PIPE
    END-POINT  58101.300          64328.871          11608.251  1.5  PL
    END-POINT  58101.300          64328.871          11586.751  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85P                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58101.300  64328.871  11599.461 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58101.300          64328.871          11586.751  1.5
    END-POINT  58101.300          64328.871          11586.751  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85R                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58101.300          64328.871          11584.251  1.5  SW FEMALE 
    END-POINT  58101.300          64328.871          11586.751  1.5  SW FEMALE 
    CENTRE-POINT   58101.300          64328.871          11585.501 
    BRANCH1-POINT  58100.050          64328.871          11585.501  1.5  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_83X                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58101.300          64328.871          11584.251  1.5
    END-POINT  58101.300          64328.871          11584.251  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85N                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58100.050          64328.871          11585.501  1.5
    END-POINT  58100.050          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85W                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58100.050          64328.871          11585.501  1.5  PL
    END-POINT  58089.715          64328.871          11585.501  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85V                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58094.300  64328.871  11585.501  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_867                 
SOCKET-WELD
    END-POINT  58089.715          64328.871          11585.501  1.5
    END-POINT  58089.715          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85X                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58085.965          64328.871          11585.501  1.5  SW FEMALE 
    END-POINT  58089.715          64328.871          11585.501  1.5  SW FEMALE 
    CENTRE-POINT   58087.840          64328.871          11585.501 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1FT                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58085.965          64328.871          11585.501  1.5
    END-POINT  58085.965          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57R                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58077.845          64328.871          11585.501  1.5  PL
    END-POINT  58085.965          64328.871          11585.501  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57P                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58077.845          64328.871          11585.501  1.5
    END-POINT  58077.845          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58077.585          64328.871          11585.501  1.5  FL
    END-POINT  58077.845          64328.871          11585.501  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1FO                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58077.460          64328.871          11585.501  1.5
    END-POINT  58077.585          64328.871          11585.501  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_578                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58077.460          64328.871          11585.501 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_579                 
INSTRUMENT
    END-POINT  58077.460          64328.871          11585.501  1.5  FL
    END-POINT  58068.710          64328.871          11585.501  1.5  FL
    CENTRE-POINT   58073.085          64328.871          11585.501 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_577                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58073.085  64328.871  11585.501 
    TEXT TCV$009$27B
    UNDIMENSIONED
GASKET
    END-POINT  58068.585          64328.871          11585.501  1.5
    END-POINT  58068.710          64328.871          11585.501  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57B                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58068.585          64328.871          11585.501 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57C                 
FLANGE
    END-POINT  58068.585          64328.871          11585.501  1.5  FL
    END-POINT  58068.325          64328.871          11585.501  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57A                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58068.325          64328.871          11585.501  1.5
    END-POINT  58068.325          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58068.325          64328.871          11585.501  1.5  PL
    END-POINT  58060.205          64328.871          11585.501  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57I                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58060.205          64328.871          11585.501  1.5
    END-POINT  58060.205          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_57K                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58056.455          64328.871          11585.501  1.5  SW FEMALE 
    END-POINT  58060.205          64328.871          11585.501  1.5  SW FEMALE 
    CENTRE-POINT   58058.330          64328.871          11585.501 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1+1/2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1FD                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58056.455          64328.871          11585.501  1.5
    END-POINT  58056.455          64328.871          11585.501  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85T                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58056.455          64328.871          11585.501  1.5  PL
    END-POINT  58044.121          64328.871          11585.501  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85S                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58051.021  64328.871  11585.501 
    FLOW 1
    SKEY FLOW
PIPE
    END-POINT  58101.300          64328.871          11578.863  1.5  PL
    END-POINT  58101.300          64328.871          11584.251  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85L                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58101.300          64328.871          11578.863  1.5
    END-POINT  58101.300          64328.871          11578.863  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85M                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58101.300          64328.871          11578.863  1.5  SW FEMALE 
    END-POINT  58101.300          64328.871          11576.238  1.5  SW FEMALE 
    CENTRE-POINT   58101.300          64328.871          11577.551 
    BRANCH1-POINT  58101.300          64327.558          11577.551  0.75  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X3/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_84J                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58101.300          64328.871          11576.238  1.5
    END-POINT  58101.300          64328.871          11576.238  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85K                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58101.300          64327.558          11577.551  0.75
    END-POINT  58101.300          64327.558          11577.551  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_866                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58101.300          64323.090          11577.551  0.75  PL
    END-POINT  58101.300          64327.558          11577.551  0.75  PL
    CONTINUATION 
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_864                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58101.300  64325.279  11577.551 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58101.300          64323.090          11577.551 
    PIPELINE-REFERENCE ISO-PY3-1214028
REDUCER-CONCENTRIC
    END-POINT  58101.300          64328.871          11576.238  1.5  PL
    END-POINT  58101.300          64328.871          11571.738  0.75  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_2
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_83Y                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58101.300          64328.871          11571.738  0.75  SW FEMALE 
    END-POINT  58101.300          64328.871          11571.738  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_851                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58101.300          64328.871          11571.738  0.75  SW FEMALE 
    END-POINT  58101.300          64328.121          11570.988  0.75  SW FEMALE 
    CENTRE-POINT   58101.300          64328.871          11570.988 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_84Z                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58101.300          64328.121          11570.988  0.75
    END-POINT  58101.300          64328.121          11570.988  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_859                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58101.300          64322.121          11570.988  0.75  PL
    END-POINT  58101.300          64328.121          11570.988  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_857                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58101.300          64322.121          11570.988  0.75
    END-POINT  58101.300          64322.121          11570.988  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_858                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58101.300          64322.121          11570.988  0.75  SW FEMALE 
    END-POINT  58101.300          64319.746          11570.988  0.75  SW FEMALE 
    CENTRE-POINT   58101.300          64320.933          11570.988 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_854                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
    DIRECTION EAST 45 UP
SOCKET-WELD
    END-POINT  58101.300          64319.746          11570.988  0.75  SW MALE 
    END-POINT  58101.300          64319.746          11570.988  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85D                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58101.300          64319.746          11570.988  0.75  SW MALE 
    END-POINT  58101.300          64317.746          11570.988  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85C                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58101.300          64317.746          11570.988  0.75  SC FEMALE 
    END-POINT  58101.300          64317.746          11570.988  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85F                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
CAP
    END-POINT  58101.300          64317.746          11570.988  0.75  SC FEMALE 
    END-POINT  58101.300          64316.806          11570.988  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_85E                 
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58014.308          64331.871          11585.738  2  BW
    END-POINT  58017.308          64328.871          11585.738  2  BW
    CENTRE-POINT   58014.308          64328.871          11585.738 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1EY                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58014.308  64328.871  11585.738 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64328.871  11585.738 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58014.308  64328.871  11585.738 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58014.308  64378.800  11585.738 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58014.308          64331.871          11585.738  2
    END-POINT  58014.308          64331.871          11585.738  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1F0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58014.308          64334.371          11585.738  2  FL
    END-POINT  58014.308          64331.871          11585.738  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1EU                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58014.308          64334.371          11585.738  2
    END-POINT  58014.308          64334.496          11585.738  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATQ                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58014.308          64334.371          11585.738 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_ATR                 
NOZZLE
    CO-ORDS  58014.308          64334.496          11585.738  2  FL
    CONNECTION-REFERENCE PY3-025$NOZZLE TAG PY3-025-S1$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE SOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION SOCKOLET, SWF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 53 Gr B, ERW
    RATING 40
ITEM-CODE SOL2X3/4
    CATALOG MSS SP-97
    DESCRIPTION SOCKOLET, SWF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE FLG3/4
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3/4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3/4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVREL3/4X1
    CATALOG CONSOLIDATED VALVES
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-025-01
    RATING 150LB
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, BVxPL, SCH 40, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION PIPE SUPPORT, P619 FIG 1, L=1'-5 1/2"
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE VALVGLB1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 800LB, GL-08-CB-001
    RATING 800LB
ITEM-CODE FAB SHOP_1
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxPL, SCH 40, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE 90LLR2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR2_1
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9 TRIM TO 45.00
    RATING 40
ITEM-CODE SUPTS-2
    DESCRIPTION TEE SHOE SUPPORT, P602-FIG 1
ITEM-CODE SUPAG-2
    DESCRIPTION STEEL SUPPORT, P629 FIG.4, L=2'-0", X=1'-9 3/16"
ITEM-CODE SUPTS-2_1
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
ITEM-CODE SUPAG-2_1
    DESCRIPTION STEEL SUPPORT, P629 FIG.4, L=2'-8", X=7'-3"
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVGAT2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, 150LB, RF, GA-01-CB-500
    RATING 150LB
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION PIPE SUPPORT, P617 FIG 1 , L=1'-5 3/4"
ITEM-CODE VALVGAT1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVCNT1+1/2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, 150LB, RF, CS, TCV-009-27B
    RATING 150LB
ITEM-CODE TEERED1+1/2X1+1/2X3/
    CATALOG ASME/ANSI B16.11
    DESCRIPTION REDUCING TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FAB SHOP_2
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, PLxPL, SCH 40xSCH 80, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE 90L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE CAP3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
