ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214005
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5241.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1214005-VTS-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 MH
    ATTRIBUTE22 9/17/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/21/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 10/12/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 MH
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 D. DURK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 D. DURK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/2/2009
    ATTRIBUTE54 D. ORR
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58343.281          64306.800          11898.912  6  BW
    END-POINT  58430.800          64306.800          11898.000  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_828                 
    PIPING-SPEC S1
    CUT-PIECE-ALLOWANCE EP2 3.3125
FLOW-ARROW
    CO-ORDS  58373.115  64306.800  11898.601 
    FLOW 1
    SKEY FLOW
MESSAGE
    CO-ORDS  58430.800  64306.800  11898.000 
    TEXT .063%%C S.S. WIRE MESH FOR BIRD SCREEN
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58430.800  64306.800  11898.000 
    TEXT CUT END OF PIPE AT 45%%D
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58418.800  64306.800  11898.125  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 EAST 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_83B                 
WELD
    END-POINT  58343.281          64306.800          11898.912  6
    END-POINT  58343.281          64306.800          11898.912  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_82A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  58430.800          64306.800          11898.000 
ELBOW
    END-POINT  58336.880          64309.452          11898.990  6  BW
    END-POINT  58343.281          64306.800          11898.912  6  BW
    CENTRE-POINT   58339.531          64306.800          11898.951 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_821                 
    PIPING-SPEC S1
    ANGLE 4500
WELD
    END-POINT  58336.880          64309.452          11898.990  6
    END-POINT  58336.880          64309.452          11898.990  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_823                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58336.880          64309.452          11898.990  6  BW
    END-POINT  58311.126          64335.205          11899.369  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_822                 
    PIPING-SPEC S1
WELD
    END-POINT  58311.126          64335.205          11899.369  6
    END-POINT  58311.126          64335.205          11899.369  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_824                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58304.724          64337.857          11899.447  6  BW
    END-POINT  58311.126          64335.205          11899.369  6  BW
    CENTRE-POINT   58308.474          64337.857          11899.408 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_820                 
    PIPING-SPEC S1
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58308.474  64337.857  11899.408 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64337.857  11899.408 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58308.474  64337.857  11899.408 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58308.474  64378.800  11899.408 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  58304.724          64337.857          11899.447  6
    END-POINT  58304.724          64337.857          11899.447  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_827                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58064.145          64337.857          11901.953  6  BW
    END-POINT  58304.724          64337.857          11899.447  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_825                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58121.761  64337.857  11901.353  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_82I                 
SUPPORT
    CO-ORDS  58291.715  64337.857  11899.583  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_82M                 
FLOW-ARROW
    CO-ORDS  58172.497  64337.857  11900.825 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58064.145          64337.857          11901.953  6
    END-POINT  58064.145          64337.857          11901.953  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_826                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58055.239          64337.857          11910.953  6  BW
    END-POINT  58064.145          64337.857          11901.953  6  BW
    CENTRE-POINT   58055.239          64337.857          11902.046 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_81Y                 
    PIPING-SPEC S1
    ANGLE 8940
WELD
    END-POINT  58055.239          64337.857          11910.953  6
    END-POINT  58055.239          64337.857          11910.953  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_82B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58055.239          64337.857          11965.961  6  BW
    END-POINT  58055.239          64337.857          11910.953  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5W6                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58055.239  64337.857  11928.000  6
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5WY                 
FLOOR-SYMBOL 
    CO-ORDS  58055.239  64337.857  11928.000 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58055.239  64337.857  11928.000 
    TEXT Floor Penetration
    UNDIMENSIONED
WELD
    END-POINT  58055.239          64337.857          11965.961  6
    END-POINT  58055.239          64337.857          11965.961  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6SF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58055.239          64337.857          11965.961  6  BW
    END-POINT  58049.621          64330.825          11974.961  6  BW
    CENTRE-POINT   58055.239          64337.857          11974.961 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6SD                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58049.621          64330.825          11974.961  6
    END-POINT  58049.621          64330.825          11974.961  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58046.201          64326.544          11974.961  6  PL
    END-POINT  58049.621          64330.825          11974.961  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FJ                 
    PIPING-SPEC S1
WELD
    END-POINT  58046.201          64326.544          11974.961  6
    END-POINT  58046.201          64326.544          11974.961  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58046.201          64326.544          11974.961  6
    END-POINT  58046.201          64326.544          11974.961  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58045.987          64326.276          11974.961  6  FL
    END-POINT  58046.201          64326.544          11974.961  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FG                 
    PIPING-SPEC S1
GASKET
    END-POINT  58045.987          64326.276          11974.961  6
    END-POINT  58045.909          64326.178          11974.961  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FH                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58045.987          64326.276          11974.961 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FI                 
MISC-COMPONENT
    END-POINT  58044.700          64324.665          11974.961  6  FL
    END-POINT  58045.909          64326.178          11974.961  6  FL
    CENTRE-POINT  58045.305  64325.422  11974.961 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FD                 
    TAG PSE-009-14                      
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58045.279  64325.390  11974.961 
    TEXT PSE$009$14
    UNDIMENSIONED
GASKET
    END-POINT  58044.700          64324.665          11974.961  6
    END-POINT  58044.622          64324.567          11974.961  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FE                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58044.700          64324.665          11974.961 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_8FF                 
FLANGE
    END-POINT  58044.622          64324.567          11974.961  6  FL
    END-POINT  58042.437          64321.832          11974.961  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5U7                 
    PIPING-SPEC S1
WELD
    END-POINT  58042.437          64321.832          11974.961  6
    END-POINT  58042.437          64321.832          11974.961  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5U8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58036.820          64314.801          11965.961  6  BW
    END-POINT  58042.437          64321.832          11974.961  6  BW
    CENTRE-POINT   58036.820          64314.801          11974.961 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_5U4                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58036.820          64314.801          11965.961  6
    END-POINT  58036.820          64314.801          11965.961  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6S9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  58036.820          64314.801          11962.461  6  FL
    END-POINT  58036.820          64314.801          11965.961  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_6S5                 
    PIPING-SPEC S1
GASKET
    END-POINT  58036.820          64314.801          11962.461  6
    END-POINT 
** 
Processing ID: AT_FL5BJQ2V_830  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_830                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58036.820          64314.801          11962.461 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FL5BJQ2V_831                 
END-POSITION-OPEN 
    CO-ORDS  58036.820  64314.801  11962.461 
MATERIALS
ITEM-CODE PIP6
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-6
    DESCRIPTION ROD HANGER P624 FIG 3, L=1'-6 3/8"
ITEM-CODE 45LLR6
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-6_1
    DESCRIPTION ROD HANGER P624 FIG 3, L=1'-1 7/16"
ITEM-CODE SUPRH-6_2
    DESCRIPTION ROD HANGER P624 FIG 3, L=1'-3 1/16"
ITEM-CODE 90LLR6
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 89.40
    RATING 10S
ITEM-CODE SUPRH-6_3
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE 90LLR6_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP6
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR6
    DESCRIPTION PSE-009-14
    RATING 150LB
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
