ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215013
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 65TWR
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1215013-65TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58223.651          64153.300          11763.088  0.75  SC MALE 
    END-POINT  58220.650          64153.300          11763.088  0.75  SC MALE 
    CENTRE-POINT  58222.151  64153.300  11763.088 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO3                 
    TAG TI-012-05                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58221.213  64153.300  11763.088 
    TEXT TI$012$05
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58223.651          64153.300          11763.088  0.75  SC FEMALE 
    END-POINT  58223.651          64153.300          11763.088  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58220.650          64153.300          11763.088 
ELBOLET
    END-POINT  58224.963          64153.300          11763.088  3  PL
    END-POINT  58223.651          64153.300          11763.088  0.75  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO1                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58224.963          64153.300          11763.088  3
    END-POINT  58224.963          64153.300          11763.088  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  58229.301          64153.300          11763.088  3  BW
    END-POINT  58224.801          64153.300          11767.588  3  BW
    CENTRE-POINT   58224.801          64153.300          11763.088 
    BRANCH1-POINT  58224.963          64153.300          11763.088  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNX                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION 
    CO-ORDS  58224.963          64153.300          11763.088  3
WELD
    END-POINT  58229.301          64153.300          11763.088  3
    END-POINT  58229.301          64153.300          11763.088  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNW                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58224.801          64153.300          11767.588  3
    END-POINT  58224.801          64153.300          11767.588  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58224.801          64153.300          11767.588  3  BW
    END-POINT  58224.801          64153.300          11775.588  1  SC MALE 
    SKEY CSSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.801          64153.300          11775.588  1  SC MALE 
    END-POINT  58224.801          64153.300          11775.588  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO6                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
UNION
    END-POINT  58224.801          64153.300          11775.588  1  SC FEMALE 
    END-POINT  58224.801          64153.300          11776.900  1  SC FEMALE 
    SKEY UNSC
    FABRICATION-ITEM
    ITEM-CODE UNNRW1
    WEIGHT           1.500
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO7                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.801          64153.300          11776.900  1  SC FEMALE 
    END-POINT  58224.801          64153.300          11776.900  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO8                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58224.801          64153.300          11805.455  1  SC MALE 
    END-POINT  58224.801          64153.300          11776.900  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FO9                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58224.801  64153.300  11784.004  1
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOA                 
FLOOR-SYMBOL 
    CO-ORDS  58224.801  64153.300  11782.246 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58224.801  64153.300  11782.246 
    TEXT Grate Opening
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58224.801          64153.300          11805.455  1  SC MALE 
    END-POINT  58224.801          64153.300          11805.455  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58224.801          64153.300          11805.455  1  SC FEMALE 
    END-POINT  58224.801          64152.380          11806.375  1  SC FEMALE 
    CENTRE-POINT   58224.801          64153.300          11806.375 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOD                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58224.801          64152.380          11806.375  1  SC FEMALE 
    END-POINT  58224.801          64152.380          11806.375  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58224.801          64145.338          11806.375  1  SC MALE 
    END-POINT  58224.801          64152.380          11806.375  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOF                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58224.801  64149.573  11806.375 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58224.801          64145.338          11806.375  1  SC MALE 
    END-POINT  58224.801          64145.338          11806.375  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58224.801          64145.338          11806.375  1  SC FEMALE 
    END-POINT  58224.801          64144.418          11807.295  1  SC FEMALE 
    CENTRE-POINT   58224.801          64144.418          11806.375 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58224.801          64144.418          11807.295  1  SC FEMALE 
    END-POINT  58224.801          64144.418          11807.295  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58224.801          64144.418          11813.063  1  SC MALE 
    END-POINT  58224.801          64144.418          11807.295  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.801          64144.418          11813.063  1  SC MALE 
    END-POINT  58224.801          64144.418          11813.063  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58224.801          64144.418          11813.063  1  SC FEMALE 
    END-POINT  58224.801          64144.418          11815.250  1  SC FEMALE 
    CENTRE-POINT   58224.801          64144.418          11814.156 
    SKEY VGSC
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           3.300
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOM                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58224.801          64144.418          11815.250  1  SC FEMALE 
    END-POINT  58224.801          64144.418          11815.250  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58224.801          64144.418          11861.713  1  SC MALE 
    END-POINT  58224.801          64144.418          11815.250  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58224.801          64144.418          11861.713  1  SC MALE 
    END-POINT  58224.801          64144.418          11861.713  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58224.150          64143.767          11862.633  1  SC FEMALE 
    END-POINT  58224.801          64144.418          11861.713  1  SC FEMALE 
    CENTRE-POINT   58224.801          64144.418          11862.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOR                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58224.150          64143.767          11862.633  1  SC FEMALE 
    END-POINT  58224.150          64143.767          11862.633  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58222.495          64142.112          11862.633  1  SC MALE 
    END-POINT  58224.150          64143.767          11862.633  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOT                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58222.495          64142.112          11862.633  1  SC MALE 
    END-POINT  58222.495          64142.112          11862.633  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58222.113          64141.190          11862.633  1  SC FEMALE 
    END-POINT  58222.495          64142.112          11862.633  1  SC FEMALE 
    CENTRE-POINT   58222.113          64141.730          11862.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 45L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOV                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
SCREWED-WELD
    END-POINT  58222.113          64141.190          11862.633  1  SC FEMALE 
    END-POINT  58222.113          64141.190          11862.633  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58222.113          64141.190          11862.633  1  SC MALE 
    END-POINT  58222.113          63939.206          11862.633  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOX                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58222.113  64138.791  11862.633  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOY                 
SUPPORT
    CO-ORDS  58222.113  63990.795  11862.633  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FOZ                 
SUPPORT
    CO-ORDS  58222.113  64054.124  11862.633  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FP0                 
FLOW-ARROW
    CO-ORDS  58222.113  64094.933  11862.633 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58222.113          63939.206          11862.633  1  SC MALE 
    END-POINT  58222.113          63939.206          11862.633  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FP2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58222.113          63939.206          11862.633  1  SC FEMALE 
    END-POINT  58222.113          63938.286          11863.553  1  SC FEMALE 
    CENTRE-POINT   58222.113          63938.286          11862.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FP3                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58222.113  63938.286  11862.633 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58222.113  63898.800  11862.633 
    REFERENCED-ITEM
    ITEM-DIRECTION 1
    SKEY 
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58222.113          63938.286          11863.553  1  SC FEMALE 
    END-POINT  58222.113          63938.286          11863.553  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FP5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58222.113          63938.286          11879.713  1  SC MALE 
    END-POINT  58222.113          63938.286          11863.553  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FP6                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58222.113          63938.286          11879.713  1  SC MALE 
    END-POINT  58222.113          63938.286          11879.713  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FP7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58221.193          63938.286          11880.633  1  SC FEMALE 
    END-POINT  58222.113          63938.286          11879.713  1  SC FEMALE 
    CENTRE-POINT   58222.113          63938.286          11880.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FP8                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58222.113  63938.286  11880.633 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63938.286  11880.633 
    REFERENCED-ITEM
    ITEM-DIRECTION 1
    SKEY 
    MESSAGE
    TEXT COL 4
SCREWED-WELD
    END-POINT  58221.193          63938.286          11880.633  1  SC FEMALE 
    END-POINT  58221.193          63938.286          11880.633  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.970          63938.286          11880.633  1  SC MALE 
    END-POINT  58221.193          63938.286          11880.633  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPB                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58121.770  63938.286  11880.633  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPC                 
SUPPORT
    CO-ORDS  58203.771  63938.286  11880.633  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPD                 
SCREWED-WELD
    END-POINT  58113.970          63938.286          11880.633  1  SC MALE 
    END-POINT  58113.970          63938.286          11880.633  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58113.970          63938.286          11880.633  1  SC FEMALE 
    END-POINT  58113.050          63938.286          11881.553  1  SC FEMALE 
    CENTRE-POINT   58113.050          63938.286          11880.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPF                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58113.050          63938.286          11881.553  1  SC FEMALE 
    END-POINT  58113.050          63938.286          11881.553  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63938.286          11881.553  1  SC MALE 
    END-POINT  58113.050          63938.286          11897.713  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPH                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58113.050  63938.286  11888.339 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58113.050          63938.286          11897.713  1  SC MALE 
    END-POINT  58113.050          63938.286          11897.713  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58113.050          63938.286          11897.713  1  SC FEMALE 
    END-POINT  58113.050          63937.366          11898.633  1  SC FEMALE 
    CENTRE-POINT   58113.050          63938.286          11898.633 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPK                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58113.050          63937.366          11898.633  1  SC FEMALE 
    END-POINT  58113.050          63937.366          11898.633  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58113.050          63937.366          11898.633  1  SC MALE 
    END-POINT  58113.050          63880.312          11898.633  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FPM                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58113.050          63880.312          11898.633 
REDUCER-ECCENTRIC
    END-POINT  58229.301          64153.300          11763.088  3  BW
    END-POINT  58237.301          64153.300          11761.995  1  SC MALE 
    SKEY ESSC
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP_1
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNV                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SCREWED-WELD
    END-POINT  58237.301          64153.300          11761.995  1  SC FEMALE 
    END-POINT  58237.301          64153.300          11761.995  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNU                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
UNION
    END-POINT  58237.301          64153.300          11761.995  1  SC FEMALE 
    END-POINT  58238.613          64153.300          11761.995  1  SC FEMALE 
    SKEY UNSC
    FABRICATION-ITEM
    ITEM-CODE UNNRW1
    WEIGHT           1.500
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNT                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58238.613          64153.300          11761.995  1  SC MALE 
    END-POINT  58238.613          64153.300          11761.995  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNS                 
    THICKNESS/RATING 150 LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58243.301          64153.300          11761.995  1  BW
    END-POINT  58238.613          64153.300          11761.995  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNR                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  58243.301          64153.300          11761.995  1
    END-POINT  58243.301          64153.300          11761.995  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S4J
    INSULATION-ON 
PIPE
    END-POINT  58243.301          64153.300          11761.995  1  BW
    END-POINT  58244.301          64153.300          11761.995  1  PL
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_FNP                 
    PIPING-SPEC S4J
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58244.301          64153.300          11761.995 
    PIPELINE-REFERENCE ISO-PY3-1215012
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-012-05
    RATING 2000LB
ITEM-CODE EOL3X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, BVxSCM, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
ITEM-CODE UNNRW1
    CATALOG UNIONS_CS_CH2M
    DESCRIPTION UNION, SCF, 150 LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150 LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPRH-1
    DESCRIPTION RISER CLAMP, P615 FIG 1
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SCF, 150LB, GL-01-BA-000
    RATING 150LB
ITEM-CODE 45L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 45 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1_1
    DESCRIPTION GENERAL HANGER, L=3'-1 7/16", P624 FIG 4
ITEM-CODE SUPRH-1_2
    DESCRIPTION GENERAL HANGER, L=4'-3 15/16", P624 FIG 4
ITEM-CODE SUPRH-1_3
    DESCRIPTION GENERAL HANGER, L=4'-4 15/16", P624 FIG 4
ITEM-CODE SUPRH-1_4
    DESCRIPTION GENERAL HANGER, L=2'-9 15/16", P624 FIG 4
ITEM-CODE SUPUB-1
    DESCRIPTION STANDARD U BOLT SUPPORT, P651 FIG1
ITEM-CODE FAB SHOP_1
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, BVxSCM, SCH 40, ASTM A234 GR. WPB, MSS SP-95
    RATING 40
