ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1223021
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1223021-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-023
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/9/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/30/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/2/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
TEE
    END-POINT  58124.197          64120.689          11507.829  3  BW
    END-POINT  58117.443          64120.689          11507.546  3  BW
    CENTRE-POINT   58120.820          64120.689          11507.688 
    BRANCH1-POINT  58120.820          64124.069          11507.688  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1G                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58124.197          64120.689          11507.829  3
    END-POINT  58124.197          64120.689          11507.829  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1F                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58117.443          64120.689          11507.546  3
    END-POINT  58117.443          64120.689          11507.546  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1H                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58120.820          64124.069          11507.688  3
    END-POINT  58120.820          64124.069          11507.688  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_LB                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58120.820          64124.069          11507.688  3  BW
    END-POINT  58120.820          64128.569          11512.188  3  BW
    CENTRE-POINT   58120.820          64128.569          11507.688 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1J                  
    PIPING-SPEC S1
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58120.820          64128.569          11512.188 
    PIPELINE-REFERENCE ISO-PY3-1216019
PIPE
    END-POINT  58117.443          64120.689          11507.546  3  BW
    END-POINT  57914.986          64120.689          11499.061  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_20                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58054.936  64120.689  11504.926  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 2 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_21                  
FLOW-ARROW
    CO-ORDS  58008.394  64120.689  11502.976 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57914.986          64120.689          11499.061  3
    END-POINT  57914.986          64120.689          11499.061  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_23                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57910.498          64116.201          11498.685  3  BW
    END-POINT  57914.986          64120.689          11499.061  3  BW
    CENTRE-POINT   57910.498          64120.689          11498.873 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_24                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8990
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57910.498  64120.689  11498.873 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64120.689  11498.873 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57910.498  64120.689  11498.873 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57910.498  64138.748  11498.873 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57910.498          64116.201          11498.685  3
    END-POINT  57910.498          64116.201          11498.685  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_25                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57910.498          64082.563          11497.275  3  BW
    END-POINT  57910.498          64116.201          11498.685  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_26                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57910.498  64108.656  11498.368  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 2 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_L9                  
FLOW-ARROW
    CO-ORDS  57910.498  64095.698  11497.825 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57910.498          64082.563          11497.275  3
    END-POINT  57910.498          64082.563          11497.275  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_27                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57910.498          64082.563          11497.275  3  BW
    END-POINT  57909.085          64079.152          11497.107  3  BW
    CENTRE-POINT   57910.498          64080.565          11497.191 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_28                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4496
WELD
    END-POINT  57909.085          64079.152          11497.107  3
    END-POINT  57909.085          64079.152          11497.107  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_29                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57900.818          64070.885          11496.617  3  BW
    END-POINT  57909.085          64079.152          11497.107  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2A                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57900.818          64070.885          11496.617  3
    END-POINT  57900.818          64070.885          11496.617  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2C                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57900.818          64070.885          11496.617  3  BW
    END-POINT  57897.770          64067.837          11492.121  3  BW
    CENTRE-POINT   57897.770          64067.837          11496.436 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2D                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8760
WELD
    END-POINT  57897.770          64067.837          11492.121  3
    END-POINT  57897.770          64067.837          11492.121  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2G                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57897.770          64067.837          11418.779  3  PL
    END-POINT  57897.770          64067.837          11492.121  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2H                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57897.770          64067.837          11418.779  3
    END-POINT  57897.770          64067.837          11418.779  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_104                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57897.770          64067.837          11418.779  3
    END-POINT  57897.770          64067.837          11418.779  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_105                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57897.770          64067.837          11418.500  3  FL
    END-POINT  57897.770          64067.837          11418.779  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_101                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57897.770          64067.837          11418.500  3
    END-POINT  57897.770          64067.837          11418.375  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_102                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57897.770          64067.837          11418.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.130
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_103                 
VALVE
    END-POINT  57897.770          64067.837          11416.500  3  FL
    END-POINT  57897.770          64067.837          11418.375  3  FL
    CENTRE-POINT   57897.770          64067.837          11417.438 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZV                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  57897.770          64067.837          11416.500  3
    END-POINT  57897.770          64067.837          11416.375  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZW                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57897.770          64067.837          11416.500 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.130
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ZX                  
FLANGE
    END-POINT  57897.770          64067.837          11416.375  3  FL
    END-POINT  57897.770          64067.837          11413.625  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2R                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57897.770          64067.837          11413.625  3
    END-POINT  57897.770          64067.837          11413.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2S                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57897.770          64067.837          11409.625  4  BW
    END-POINT  57897.770          64067.837          11413.625  3  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2T                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57897.770          64067.837          11409.625  4
    END-POINT  57897.770          64067.837          11409.625  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2U                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57897.770          64067.837          11406.625  4  FL
    END-POINT  57897.770          64067.837          11409.625  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_2V                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57897.770          64067.837          11406.625  4
    END-POINT  57897.770          64067.837          11406.500  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_LC                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57897.770          64067.837          11406.625 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_LD                  
END-POSITION-OPEN 
    CO-ORDS  57897.770          64067.837          11406.500 
PIPE
    END-POINT  58124.197          64120.689          11507.829  3  BW
    END-POINT  58140.733          64120.689          11508.522  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1E                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58140.733          64120.689          11508.522  3
    END-POINT  58140.733          64120.689          11508.522  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1D                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58140.733          64120.689          11508.522  3  BW
    END-POINT  58145.044          64120.689          11513.018  3  BW
    CENTRE-POINT   58145.044          64120.689          11508.703 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1C                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8760
WELD
    END-POINT  58145.044          64120.689          11513.018  3
    END-POINT  58145.044          64120.689          11513.018  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1B                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58145.044          64120.689          11533.185  3  BW
    END-POINT  58145.044          64120.689          11513.018  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_1A                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58145.044          64120.689          11533.185  3
    END-POINT  58145.044          64120.689          11533.185  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_19                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58145.044          64120.689          11533.185  3  BW
    END-POINT  58149.356          64120.689          11537.681  3  BW
    CENTRE-POINT   58145.044          64120.689          11537.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_18                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8760
WELD
    END-POINT  58149.356          64120.689          11537.681  3
    END-POINT  58149.356          64120.689          11537.681  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_17                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58228.925          64120.689          11541.016  3  BW
    END-POINT  58149.356          64120.689          11537.681  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_15                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.727  64120.689  11537.864  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 2 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_16                  
FLOW-ARROW
    CO-ORDS  58182.635  64120.689  11539.076 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58228.925          64120.689          11541.016  3
    END-POINT  58228.925          64120.689          11541.016  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_14                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58233.237          64120.689          11545.512  3  BW
    END-POINT  58228.925          64120.689          11541.016  3  BW
    CENTRE-POINT   58233.237          64120.689          11541.197 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_13                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8760
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58233.237  64120.689  11541.197 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64120.689  11541.197 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58233.237  64120.689  11541.197 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58233.237  64138.748  11541.197 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58233.237          64120.689          11545.512  3
    END-POINT  58233.237          64120.689          11545.512  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_12                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58233.237          64120.689          11545.512  3  BW
    END-POINT  58233.237          64120.689          11583.475  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_Z                   
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58233.237  64120.689  11566.750 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58233.237  64120.689  11566.750 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58233.237          64120.689          11583.475  3
    END-POINT  58233.237          64120.689          11583.475  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_Y                   
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58233.237          64120.689          11583.475  3  BW
    END-POINT  58233.237          64120.689          11586.975  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_X                   
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58233.237          64120.689          11586.975  2
    END-POINT  58233.237          64120.689          11586.975  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_W                   
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58233.237          64120.689          11589.475  2  FL
    END-POINT  58233.237          64120.689          11586.975  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_V                   
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58233.237          64120.689          11589.600  2
    END-POINT  58233.237          64120.689          11589.475  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_T                   
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58233.237          64120.689          11589.475 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_U                   
VALVE
    END-POINT  58233.237          64120.689          11596.600  2  FL
    END-POINT  58233.237          64120.689          11589.600  2  FL
    CENTRE-POINT   58233.237          64120.689          11593.100 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_R                   
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  58233.237          64120.689          11596.725  2
    END-POINT  58233.237          64120.689          11596.600  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_P                   
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58233.237          64120.689          11596.600 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_Q                   
FLANGE
    END-POINT  58233.237          64120.689          11596.725  2  FL
    END-POINT  58233.237          64120.689          11599.225  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_O                   
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58233.237          64120.689          11599.225 
    PIPELINE-REFERENCE ISO-PY3-1223003
MATERIALS
ITEM-CODE TEESTR3
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPPS-3
    DESCRIPTION PIPE INSULATION PROTECTION SADDLE, P651, Fig. 2
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION ROD HANGER P624, FIG. 7, L=4'-9"
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR3_1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9 TRIM TO 87.60
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8 150LB RAISED FACING 4 - 5/8" X 2 1/8" MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE REDCON4X3
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE SUPRH-3_1
    DESCRIPTION PIPE HANGER, P624, Fig. 4
ITEM-CODE REDCON3X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
