ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1011009
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_TF11A.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1011009-VTS-S1
    ATTRIBUTE95 i1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-81P-011
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 T. SANDERS
    ATTRIBUTE26 12/31/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 DKC
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE43 TS
    ATTRIBUTE44 DCD
    ATTRIBUTE45 I.F.C.
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 DC
    ATTRIBUTE49 BL
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/1/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DD
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED SUPPORTS
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLOW-ARROW
    CO-ORDS  60354.816  65900.704  11632.515 
    FLOW 1
    SKEY FLOW
MATERIALS
