ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211003
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1211003-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/24/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/15/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RJR
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/16/2009
    ATTRIBUTE42 SM
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/23/2009
    ATTRIBUTE48 KGR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BJL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57826.317          64143.082          12005.575  0.5  BW
    END-POINT  57826.317          64143.082          12008.985  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSG                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64143.082          12005.575  0.5
    END-POINT  57826.317          64143.082          12005.575  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNJ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57826.317          64143.082          12008.985  0.5  SW FEMALE 
    END-POINT  57826.317          64143.082          12008.985  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57826.317          64145.332          12003.325  1.5  BW
    END-POINT  57826.317          64140.832          12003.325  1.5  BW
    CENTRE-POINT   57826.317          64143.082          12003.325 
    BRANCH1-POINT  57826.317          64143.082          12005.575  0.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317          64145.332          12003.325 
    PIPELINE-REFERENCE ISO-PY3-1211011
VALVE
    END-POINT  57826.317          64143.082          12008.985  0.5  SW FEMALE 
    END-POINT  57826.317          64143.082          12010.755  0.5  SW FEMALE 
    CENTRE-POINT   57826.317          64143.082          12009.870 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSI                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57826.317          64143.082          12010.755  0.5
    END-POINT  57826.317          64143.082          12010.755  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64143.082          12010.755  0.5  PL
    END-POINT  57826.317          64143.082          12018.397  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSM                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64143.082          12018.397  0.5
    END-POINT  57826.317          64143.082          12018.397  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSQ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          64143.082          12018.397  0.5  BW
    END-POINT  57827.817          64143.082          12019.897  0.5  BW
    CENTRE-POINT   57826.317          64143.082          12019.897 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57827.817          64143.082          12019.897  0.5
    END-POINT  57827.817          64143.082          12019.897  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSS                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57827.817          64143.082          12019.897  0.5  BW
    END-POINT  57856.816          64143.082          12019.897  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57856.816          64143.082          12019.897  0.5
    END-POINT  57856.816          64143.082          12019.897  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSV                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57856.816          64143.082          12019.897  0.5  BW
    END-POINT  57858.316          64143.082          12021.397  0.5  BW
    CENTRE-POINT   57858.316          64143.082          12019.897 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DST                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57858.316          64143.082          12021.397  0.5
    END-POINT  57858.316          64143.082          12021.397  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DT0                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57858.316          64143.082          12024.136  0.5  BW
    END-POINT  57858.316          64143.082          12021.397  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57858.316          64143.082          12024.136  0.5
    END-POINT  57858.316          64143.082          12024.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSZ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57858.316          64143.082          12024.136  0.5  BW
    END-POINT  57858.316          64141.582          12025.636  0.5  BW
    CENTRE-POINT   57858.316          64143.082          12025.636 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSW                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57858.316  64143.082  12025.636 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57858.316  64138.800  12025.636 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57858.316  64143.082  12025.636 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64143.082  12025.636 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57858.316          64141.582          12025.636  0.5
    END-POINT  57858.316          64141.582          12025.636  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DT2                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57858.316          64141.582          12025.636  0.5  BW
    END-POINT  57858.319          64036.610          12025.636  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DT1                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57858.316  64137.559  12025.636  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DT7                 
    TAG                         P624 FIG.2                      
WELD
    END-POINT  57858.319          64036.610          12025.636  0.5
    END-POINT  57858.319          64036.610          12025.636  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DT3                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57858.319          64035.110          12027.136  0.5  BW
    END-POINT  57858.319          64036.610          12025.636  0.5  BW
    CENTRE-POINT   57858.319          64035.110          12025.636 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83D                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57858.319          64035.110          12027.136  0.5
    END-POINT  57858.319          64035.110          12027.136  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8JQ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57858.319          64035.110          12042.104  0.5  BW
    END-POINT  57858.319          64035.110          12027.136  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8JO                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57858.319  64035.110  12032.291 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57858.319          64035.110          12042.104  0.5
    END-POINT  57858.319          64035.110          12042.104  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BOW                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57858.319          64035.110          12042.104  0.5  BW
    END-POINT  57859.819          64035.110          12043.604  0.5  BW
    CENTRE-POINT   57858.319          64035.110          12043.604 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BOU                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57858.319  64035.110  12043.604 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64035.110  12043.604 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57858.319  64035.110  12043.604 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57858.319  63898.800  12043.604 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  57859.819          64035.110          12043.604  0.5
    END-POINT  57859.819          64035.110          12043.604  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BOX                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58088.679          64035.110          12043.604  0.5  BW
    END-POINT  57859.819          64035.110          12043.604  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8JJ                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57910.794  64035.110  12043.604  0.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CTN                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58054.814  64035.110  12043.604  0.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CTQ                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  57901.835  64035.110  12043.604 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58088.679          64035.110          12043.604  0.5
    END-POINT  58088.679          64035.110          12043.604  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8JK                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58090.179          64035.110          12045.104  0.5  BW
    END-POINT  58088.679          64035.110          12043.604  0.5  BW
    CENTRE-POINT   58090.179          64035.110          12043.604 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8JG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58090.179          64035.110          12045.104  0.5
    END-POINT  58090.179          64035.110          12045.104  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BOJ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.179          64035.110          12045.104  0.5  BW
    END-POINT  58090.179          64035.110          12062.884  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BOI                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58090.179  64035.110  12054.290 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58090.179          64035.110          12062.884  0.5
    END-POINT  58090.179          64035.110          12062.884  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BOM                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58090.179          64035.110          12062.884  0.5  BW
    END-POINT  58090.179          64036.610          12064.384  0.5  BW
    CENTRE-POINT   58090.179          64035.110          12064.384 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BOK                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58090.179          64036.610          12064.384  0.5
    END-POINT  58090.179          64036.610          12064.384  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H3Z                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.179          64036.610          12064.384  0.5  BW
    END-POINT  58090.179          64144.228          12064.384  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNQ                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58090.179  64138.771  12064.384  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CB4                 
    TAG                         P624 FIG.2                      
SUPPORT
    CO-ORDS  58090.179  64042.422  12064.384  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CB6                 
    TAG                         P624 FIG.2                      
WELD
    END-POINT  58090.179          64144.228          12064.384  0.5
    END-POINT  58090.179          64144.228          12064.384  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H3X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.179          64144.228          12064.384  0.5
    END-POINT  58090.179          64144.228          12064.384  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H3Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58090.179          64144.399          12064.384  0.5  FL
    END-POINT  58090.179          64144.228          12064.384  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNU                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58090.179          64144.399          12064.384  0.5
    END-POINT  58090.179          64144.524          12064.384  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H3V                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58090.179          64144.524          12064.384 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_H3W                 
FLANGE
    END-POINT  58090.179          64144.524          12064.384  0.5  FL
    END-POINT  58090.179          64144.696          12064.384  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DO0                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.179          64144.696          12064.384  0.5
    END-POINT  58090.179          64144.696          12064.384  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DO1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.179          64144.696          12064.384  0.5
    END-POINT  58090.179          64144.696          12064.384  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DO2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.179          64144.696          12064.384  0.5  BW
    END-POINT  58090.179          64278.592          12064.384  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNS                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58090.179  64261.478  12064.384  0.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CB2                 
    TAG                         P624 FIG.2                      
FLOW-ARROW
    CO-ORDS  58090.179  64150.237  12064.384 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58090.179          64278.592          12064.384  0.5
    END-POINT  58090.179          64278.592          12064.384  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INY                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58090.179          64278.592          12064.384  0.5  BW
    END-POINT  58090.179          64280.092          12062.884  0.5  BW
    CENTRE-POINT   58090.179          64280.092          12064.384 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INW                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58090.179          64280.092          12062.884  0.5
    END-POINT  58090.179          64280.092          12062.884  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IO3                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.179          64280.092          11984.054  0.5  BW
    END-POINT  58090.179          64280.092          12062.884  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IO1                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.179          64280.092          11984.054  0.5
    END-POINT  58090.179          64280.092          11984.054  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IO2                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58090.179          64280.092          11984.054  0.5  BW
    END-POINT  58090.179          64281.592          11982.554  0.5  BW
    CENTRE-POINT   58090.179          64280.092          11982.554 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58090.179          64281.592          11982.554  0.5
    END-POINT  58090.179          64281.592          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IO5                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.179          64281.592          11982.554  0.5  BW
    END-POINT  58090.174          64328.169          11982.554  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IO4                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58090.177  64299.344  11982.554 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58090.174          64328.169          11982.554  0.5
    END-POINT  58090.174          64328.169          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IO6                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58088.674          64329.669          11982.554  0.5  BW
    END-POINT  58090.174          64328.169          11982.554  0.5  BW
    CENTRE-POINT   58090.174          64329.669          11982.554 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CBB                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58090.174  64329.669  11982.554 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58090.174  64378.800  11982.554 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58090.174  64329.669  11982.554 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64329.669  11982.554 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX1
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  58088.674          64329.669          11982.554  0.5
    END-POINT  58088.674          64329.669          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ECP                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58083.059          64329.669          11982.554  0.5  PL
    END-POINT  58088.674          64329.669          11982.554  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ECN                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58083.059          64329.669          11982.554  0.5
    END-POINT  58083.059          64329.669          11982.554  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ECO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58081.289          64329.669          11982.554  0.5  SW FEMALE 
    END-POINT  58083.059          64329.669          11982.554  0.5  SW FEMALE 
    CENTRE-POINT   58082.174          64329.669          11982.554 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CBO                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58081.289          64329.669          11982.554  0.5
    END-POINT  58081.289          64329.669          11982.554  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ECM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58076.049          64329.669          11982.554  0.5  PL
    END-POINT  58081.289          64329.669          11982.554  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ECJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58076.049          64329.669          11982.554  0.5
    END-POINT  58076.049          64329.669          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ECK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58076.049          64329.669          11982.554  0.5
    END-POINT  58076.049          64329.669          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ECL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58075.878          64329.669          11982.554  0.5  FL
    END-POINT  58076.049          64329.669          11982.554  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BR1                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58075.878          64329.669          11982.554  0.5
    END-POINT  58075.753          64329.669          11982.554  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BR2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58075.878          64329.669          11982.554 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BR3                 
VALVE
    END-POINT  58071.503          64329.669          11982.554  0.5  FL
    END-POINT  58075.753          64329.669          11982.554  0.5  FL
    CENTRE-POINT   58073.628          64329.669          11982.554 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           6.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQU                 
    TAG FV-009-11                       
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58073.628  64329.669  11982.554 
    TEXT FV$009$11
    UNDIMENSIONED
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58071.503          64329.669          11982.554  0.5
    END-POINT  58071.378          64329.669          11982.554  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQV                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58071.503          64329.669          11982.554 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQW                 
FLANGE
    END-POINT  58071.378          64329.669          11982.554  0.5  FL
    END-POINT  58071.206          64329.669          11982.554  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQK                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58071.206          64329.669          11982.554  0.5
    END-POINT  58071.206          64329.669          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58071.206          64329.669          11982.554  0.5
    END-POINT  58071.206          64329.669          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58065.831          64329.669          11982.554  0.5  PL
    END-POINT  58071.206          64329.669          11982.554  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQE                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58065.831          64329.669          11982.554  0.5
    END-POINT  58065.831          64329.669          11982.554  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQF                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58065.831          64329.669          11982.554  0.5  SW FEMALE 
    END-POINT  58063.831          64329.669          11982.554  0.5  SW FEMALE 
    CENTRE-POINT   58064.831          64329.669          11982.554 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK1/2
    WEIGHT           2.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BQB                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58063.831          64329.669          11982.554  0.5
    END-POINT  58063.831          64329.669          11982.554  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EC2                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58063.831          64329.669          11982.554  0.5  PL
    END-POINT  58060.046          64329.669          11982.554  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EC1                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58060.046          64329.669          11982.554  0.5  SW FEMALE 
    END-POINT  58060.046          64329.669          11982.554  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EC4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58060.046          64329.669          11982.554  0.5  SW FEMALE 
    END-POINT  58058.276          64329.669          11982.554  0.5  SW FEMALE 
    CENTRE-POINT   58059.161          64329.669          11982.554 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EC3                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58058.276          64329.669          11982.554  0.5
    END-POINT  58058.276          64329.669          11982.554  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HGG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58049.549          64329.669          11982.554  0.5  BW
    END-POINT  58058.276          64329.669          11982.554  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HGE                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58049.549          64329.669          11982.554  0.5
    END-POINT  58049.549          64329.669          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HGF                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58048.049          64328.169          11982.554  0.5  BW
    END-POINT  58049.549          64329.669          11982.554  0.5  BW
    CENTRE-POINT   58048.049          64329.669          11982.554 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HG9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58048.049          64328.169          11982.554  0.5
    END-POINT  58048.049          64328.169          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXQ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58048.049          64311.524          11982.554  0.5  BW
    END-POINT  58048.049          64328.169          11982.554  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXO                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58048.049          64311.524          11982.554  0.5
    END-POINT  58048.049          64311.524          11982.554  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXP                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58048.049          64311.524          11982.554  0.5  BW
    END-POINT  58048.049          64310.024          11981.054  0.5  BW
    CENTRE-POINT   58048.049          64310.024          11982.554 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EBR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58048.049          64310.024          11981.054  0.5
    END-POINT  58048.049          64310.024          11981.054  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58048.049          64310.024          11981.054  0.5
    END-POINT  58048.049          64310.024          11981.054  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58048.049          64310.024          11980.883  0.5  FL
    END-POINT  58048.049          64310.024          11981.054  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXR                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58048.049          64310.024          11980.758  0.5
    END-POINT  58048.049          64310.024          11980.883  0.5
    ERECTION-ITEM
    ITEM-CODE GAS1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXV                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58048.049          64310.024          11980.758 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXW                 
FLANGE
    END-POINT  58048.049          64310.024          11980.758  0.5  FL
    END-POINT  58048.049          64310.024          11980.586  0.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXU                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58048.049          64310.024          11980.586  0.5
    END-POINT  58048.049          64310.024          11980.586  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58048.049          64310.024          11980.586  0.5
    END-POINT  58048.049          64310.024          11980.586  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58048.049          64310.024          11980.586  0.5  PL
    END-POINT  58048.049          64310.024          11977.151  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58048.049          64310.024          11977.151  0.5
    END-POINT  58048.049          64310.024          11977.151  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HY0                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58048.049          64310.024          11977.151  0.5  BW
    END-POINT  58049.549          64310.024          11975.651  0.5  BW
    CENTRE-POINT   58048.049          64310.024          11975.651 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HXE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58049.549          64310.024          11975.651  0.5
    END-POINT  58049.549          64310.024          11975.651  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HZ3                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58052.914          64310.024          11975.651  0.5  BW
    END-POINT  58049.549          64310.024          11975.651  0.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HZ0                 
    PIPING-SPEC S1
    INSULATION-ON 
    CUT-PIECE-ALLOWANCE EP2 1/16"
MESSAGE-ROUND
    CO-ORDS  58052.862  64310.024  11975.651 
    TEXT SP-109
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58051.935  64310.024  11975.651 
    TEXT FOR CONTINUATION OF SPRAY NOZZLE$ SP-109, SEE DETAIL 2 ON DRAWING$GVL-G
    TEXT P3-GS3-70D-002-00
    UNDIMENSIONED
WELD
    END-POINT  58052.914          64310.024          11975.651  0.5
    END-POINT  58052.914          64310.024          11975.651  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HZ2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE-BLIND
    END-POINT  58053.552          64310.024          11975.651  1.5  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HY1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TAP-CONNECTION
    CO-ORDS  58052.914          64310.024          11975.651  0.5
    END-POINT  58052.862          64310.024          11975.651  0.5  PL
    SKEY FLBL
GASKET
    END-POINT  58053.552          64310.024          11975.651  1.5
    END-POINT  58053.677          64310.024          11975.651  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HY2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58053.552          64310.024          11975.651 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HY3                 
END-POSITION-OPEN 
    CO-ORDS  58053.677          64310.024          11975.651 
MATERIALS
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE 90LLR1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 40S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 40S
ITEM-CODE SUPRH-1/2
    DESCRIPTION PIPE HANGER P624 FIG. 2  L=2'-3"
ITEM-CODE SUPPS-1/2
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE SUPRH-1/2_1
    DESCRIPTION PIPE HANGER P624 FIG.4  L=5'-2"
ITEM-CODE FLGSLP1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE SUPRH-1/2_2
    DESCRIPTION PIPE HANGER P624 FIG. 2 L=5'-5"
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION CONTROL VALVE, FV-009-11
    RATING 150LB
ITEM-CODE VALVCHK1/2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, SWF, 150LB, CS-01-ST-301
    RATING 200LB
ITEM-CODE FLGBLD1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
