ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211011
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1211011-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/14/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 5
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/2/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/23/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 8/31/2012
    ATTRIBUTE66 DBH
    ATTRIBUTE67 KC
    ATTRIBUTE68 DD
    ATTRIBUTE69 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  57818.817          63926.800          11981.575  0.5  PL
    END-POINT  57818.817          63926.800          11984.575  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IEO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  57818.817  63926.800  11984.075 
    TEXT PI$009$01
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  57818.817          63926.800          11981.575  0.5
    END-POINT  57818.817          63926.800          11981.575  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IEP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57818.817          63926.800          11984.575 
VALVE
    END-POINT  57818.817          63926.800          11979.895  0.5  SW FEMALE 
    END-POINT  57818.817          63926.800          11981.575  0.5  SW FEMALE 
    CENTRE-POINT   57818.817          63926.800          11980.780 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C0A                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57818.817          63926.800          11979.895  0.5  SW FEMALE 
    END-POINT  57818.817          63926.800          11979.895  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C0B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57818.817          63926.800          11976.485  0.5  BW
    END-POINT  57818.817          63926.800          11979.895  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C08                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57818.817          63926.800          11976.485  0.5
    END-POINT  57818.817          63926.800          11976.485  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C09                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57818.817  63926.800  11973.985 
    BRANCH1-POINT  57818.817          63926.800          11976.485  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C05                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57818.817  63926.800  11973.985  3
    END-POINT  57818.817  63926.800  11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C07                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57805.300          63926.800          11973.985  3  BW
    END-POINT  57821.817          63926.800          11973.985  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_4Z8                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57812.652  63926.800  11973.985 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57805.300          63926.800          11973.985  3
    END-POINT  57805.300          63926.800          11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_8HD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57821.817          63926.800          11973.985  3
    END-POINT  57821.817          63926.800          11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_828                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          63931.300          11973.985  3  BW
    END-POINT  57821.817          63926.800          11973.985  3  BW
    CENTRE-POINT   57826.317          63926.800          11973.985 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_825                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57826.317          63931.300          11973.985  3
    END-POINT  57826.317          63931.300          11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GED                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63964.647          11973.985  3  PL
    END-POINT  57826.317          63931.300          11973.985  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57826.317  63944.041  11973.985 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57826.317  63944.964  11973.985  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEN                 
    TAG                         P617 FIG. 1                     
WELD
    END-POINT  57826.317          63964.647          11973.985  3
    END-POINT  57826.317          63964.647          11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          63964.647          11973.985  3
    END-POINT  57826.317          63964.647          11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317  63953.300  11973.985  3
    END-POINT  57826.317  63953.300  11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317  63947.300  11973.985  3
    END-POINT  57826.317  63947.300  11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317  63941.300  11973.985  3
    END-POINT  57826.317  63941.300  11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57826.317  63941.300  11973.985 
    BRANCH1-POINT  57826.317          63941.300          11976.798  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_50N                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          63941.300          11976.798  1
    END-POINT  57826.317          63941.300          11976.798  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63941.300          11976.798  1  BW
    END-POINT  57826.317          63941.300          11980.328  1  PL
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317          63941.300          11980.328 
    PIPELINE-REFERENCE ISO-PY3-1211001
OLET
    CENTRE-POINT      57826.317  63947.300  11973.985 
    BRANCH1-POINT  57826.317          63947.300          11976.798  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_50Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          63947.300          11976.798  1
    END-POINT  57826.317          63947.300          11976.798  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63947.300          11976.798  1  BW
    END-POINT  57826.317          63947.300          11980.328  1  PL
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317          63947.300          11980.328 
    PIPELINE-REFERENCE ISO-PY3-1211002
OLET
    CENTRE-POINT      57826.317  63953.300  11973.985 
    BRANCH1-POINT  57826.317          63953.300          11976.798  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL3X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_50G                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          63953.300          11976.798  1
    END-POINT  57826.317          63953.300          11976.798  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63953.300          11976.798  1  BW
    END-POINT  57826.317          63953.300          11980.328  1  PL
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317          63953.300          11980.328 
    PIPELINE-REFERENCE ISO-PY3-1211013
FLANGE
    END-POINT  57826.317          63964.926          11973.985  3  FL
    END-POINT  57826.317          63964.647          11973.985  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GE6                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57826.317          63965.051          11973.985  3
    END-POINT  57826.317          63964.926          11973.985  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          63965.051          11973.985 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GER                 
VALVE
    END-POINT  57826.317          63965.051          11973.985  3  FL
    END-POINT  57826.317          63966.926          11973.985  3  FL
    CENTRE-POINT   57826.317          63965.988          11973.985 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEP                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  57826.317          63967.051          11973.985  3
    END-POINT  57826.317          63966.926          11973.985  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          63967.051          11973.985 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEX                 
FLANGE
    END-POINT  57826.317          63967.051          11973.985  3  FL
    END-POINT  57826.317          63967.329          11973.985  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GEV                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          63967.329          11973.985  3
    END-POINT  57826.317          63967.329          11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          63967.329          11973.985  3
    END-POINT  57826.317          63967.329          11973.985  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63984.982          11973.992  3  PL
    END-POINT  57826.317          63967.329          11973.985  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOF                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  57826.317          63984.982          11973.992  3
    END-POINT  57826.317          63984.982          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57826.317          63984.982          11973.992  3
    END-POINT  57826.317          63984.982          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57826.317          63985.261          11973.992  3  FL
    END-POINT  57826.317          63984.982          11973.992  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_51Q                 
    PIPING-SPEC S1
    TRACING-ON 
GASKET
    END-POINT  57826.317          63985.261          11973.992  3
    END-POINT  57826.317          63985.386          11973.992  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GDH                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          63985.386          11973.992 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GDI                 
INSTRUMENT
    END-POINT  57826.317          63985.386          11973.992  3  FL
    END-POINT  57826.317          63993.386          11973.992  3  FL
    CENTRE-POINT   57826.317          63989.386          11973.992 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GCW                 
    TAG FV$009$02                       
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57826.317  63989.386  11973.992 
    TEXT FV$009$02
    UNDIMENSIONED
GASKET
    END-POINT  57826.317          63993.511          11973.992  3
    END-POINT  57826.317          63993.386          11973.992  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GD0                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          63993.511          11973.992 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GD1                 
FLANGE
    END-POINT  57826.317          63993.511          11973.992  3  FL
    END-POINT  57826.317          63993.789          11973.992  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GCZ                 
    PIPING-SPEC S1
WELD
    END-POINT  57826.317          63993.789          11973.992  3
    END-POINT  57826.317          63993.789          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GD2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          63993.789          11973.992  3
    END-POINT  57826.317          63993.789          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GD3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63993.789          11973.992  3  PL
    END-POINT  57826.317          64074.515          11973.992  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C9T                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57826.317  64062.515  11973.992  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFH                 
    TAG                         P617 FIG. 1                     
SUPPORT
    CO-ORDS  57826.317  64005.789  11973.992  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFJ                 
    TAG                         P617 FIG. 1                     
WELD
    END-POINT  57826.317          64074.515          11973.992  3
    END-POINT  57826.317          64074.515          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C9W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64074.515          11973.992  3
    END-POINT  57826.317          64074.515          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_C9X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57826.317          64074.794          11973.992  3  FL
    END-POINT  57826.317          64074.515          11973.992  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_B0U                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57826.317          64074.919          11973.992  3
    END-POINT  57826.317          64074.794          11973.992  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFP                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64074.794          11973.992 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFQ                 
MISC-COMPONENT
    END-POINT  57826.317          64108.606          11973.992  3  FL
    END-POINT  57826.317          64074.919          11973.992  3  FL
    CENTRE-POINT  57826.317  64091.762  11973.992 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_B0J                 
    TAG FE-009-03                       
    PIPING-SPEC S1
    TRACING-ON 
MESSAGE
    CO-ORDS  57826.317  64081.157  11973.992 
    TEXT NOTE: MASS FLOW METER MUST BE FLOODED
    UNDIMENSIONED
MESSAGE-CIRCLE
    CO-ORDS  57826.317  64084.026  11973.992 
    TEXT FE$009$03
    UNDIMENSIONED
GASKET
    END-POINT  57826.317          64108.731          11973.992  3
    END-POINT  57826.317          64108.606          11973.992  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64108.606          11973.992 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFS                 
FLANGE
    END-POINT  57826.317          64108.731          11973.992  3  FL
    END-POINT  57826.317          64109.010          11973.992  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_B0G                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          64109.010          11973.992  3
    END-POINT  57826.317          64109.010          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HRT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64109.010          11973.992  3
    END-POINT  57826.317          64109.010          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HRU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64109.010          11973.992  3  PL
    END-POINT  57826.317          64128.753          11973.992  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HRS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57826.317  64122.753  11973.992  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HS0                 
    TAG                         P617 FIG. 1                     
WELD
    END-POINT  57826.317          64128.753          11973.992  3
    END-POINT  57826.317          64128.753          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HRY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57826.317          64128.753          11973.992  3  BW
    END-POINT  57826.317          64132.253          11973.192  1.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HRW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57826.317          64132.253          11973.192  1.5
    END-POINT  57826.317          64132.253          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HRZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57826.317          64132.253          11973.192  1.5  BW
    END-POINT  57826.317          64136.753          11973.192  1.5  BW
    CENTRE-POINT   57826.317          64134.503          11973.192 
    BRANCH1-POINT  57826.317          64134.503          11975.442  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLD                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57826.317          64136.753          11973.192  1.5
    END-POINT  57826.317          64136.753          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HOH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64134.503          11975.442  1.5
    END-POINT  57826.317          64134.503          11975.442  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HMB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64134.503          11975.442  1.5  BW
    END-POINT  57826.317          64134.503          12001.075  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HMA                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64134.503          12001.075  1.5
    END-POINT  57826.317          64134.503          12001.075  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          64136.753          12003.325  1.5  BW
    END-POINT  57826.317          64134.503          12001.075  1.5  BW
    CENTRE-POINT   57826.317          64134.503          12003.325 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNK                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.317  64134.503  12003.325 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64134.503  12003.325 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.317  64134.503  12003.325 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57826.317  64138.748  12003.325 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57826.317          64136.753          12003.325  1.5
    END-POINT  57826.317          64136.753          12003.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64136.753          12003.325  1.5  BW
    END-POINT  57826.317          64140.832          12003.325  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNM                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64140.832          12003.325  1.5
    END-POINT  57826.317          64140.832          12003.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57826.317          64145.332          12003.325  1.5  BW
    END-POINT  57826.317          64140.832          12003.325  1.5  BW
    CENTRE-POINT   57826.317          64143.082          12003.325 
    BRANCH1-POINT  57826.317          64143.082          12005.575  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57826.317          64145.332          12003.325  1.5
    END-POINT  57826.317          64145.332          12003.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64143.082          12005.575  0.5
    END-POINT  57826.317          64143.082          12005.575  0.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNJ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64143.082          12005.575  0.5  BW
    END-POINT  57826.317          64143.082          12008.985  0.5  PL
    CONTINUATION 
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DSG                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317          64143.082          12008.985 
    PIPELINE-REFERENCE ISO-PY3-1211003
PIPE
    END-POINT  57826.317          64145.332          12003.325  1.5  BW
    END-POINT  57826.317          64156.332          12003.325  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNQ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64156.332          12003.325  1.5
    END-POINT  57826.317          64156.332          12003.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64156.332          12003.325  1.5
    END-POINT  57826.317          64156.332          12003.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57826.317          64156.540          12003.325  1.5  FL
    END-POINT  57826.317          64156.332          12003.325  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNS                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57826.317          64156.665          12003.325  1.5
    END-POINT  57826.317          64156.540          12003.325  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNW                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64156.665          12003.325 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNX                 
VALVE
    END-POINT  57826.317          64156.665          12003.325  1.5  FL
    END-POINT  57826.317          64163.165          12003.325  1.5  FL
    CENTRE-POINT   57826.317          64159.915          12003.325 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB1+1/2
    WEIGHT          20.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HNV                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57826.317          64163.290          12003.325  1.5
    END-POINT  57826.317          64163.165          12003.325  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HO2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64163.290          12003.325 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HO3                 
FLANGE
    END-POINT  57826.317          64163.290          12003.325  1.5  FL
    END-POINT  57826.317          64163.497          12003.325  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HO1                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64163.497          12003.325  1.5
    END-POINT  57826.317          64163.497          12003.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HO5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64163.497          12003.325  1.5
    END-POINT  57826.317          64163.497          12003.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HO6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64163.497          12003.325  1.5  PL
    END-POINT  57826.317          64189.698          12003.325  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HO4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64189.698          12003.325  1.5
    END-POINT  57826.317          64189.698          12003.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HO7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          64189.698          12003.325  1.5  BW
    END-POINT  57826.317          64191.948          12001.075  1.5  BW
    CENTRE-POINT   57826.317          64191.948          12003.325 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HMT                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57826.317          64191.948          12001.075  1.5
    END-POINT  57826.317          64191.948          12001.075  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HN0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64191.948          11975.442  1.5  BW
    END-POINT  57826.317          64191.948          12001.075  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HMY                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64191.948          11975.442  1.5
    END-POINT  57826.317          64191.948          11975.442  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HMZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57826.317          64194.198          11973.192  1.5  BW
    END-POINT  57826.317          64189.698          11973.192  1.5  BW
    CENTRE-POINT   57826.317          64191.948          11973.192 
    BRANCH1-POINT  57826.317          64191.948          11975.442  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57826.317          64194.198          11973.192  1.5
    END-POINT  57826.317          64194.198          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64189.698          11973.192  1.5
    END-POINT  57826.317          64189.698          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64189.698          11973.192  1.5  BW
    END-POINT  57826.317          64185.698          11973.192  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64185.698          11973.192  1.5
    END-POINT  57826.317          64185.698          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64185.698          11973.192  1.5
    END-POINT  57826.317          64185.698          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57826.317          64185.491          11973.192  1.5  FL
    END-POINT  57826.317          64185.698          11973.192  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKT                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57826.317          64185.366          11973.192  1.5
    END-POINT  57826.317          64185.491          11973.192  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKX                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64185.366          11973.192 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKY                 
VALVE
    END-POINT  57826.317          64185.366          11973.192  1.5  FL
    END-POINT  57826.317          64178.866          11973.192  1.5  FL
    CENTRE-POINT   57826.317          64182.116          11973.192 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKW                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57826.317          64178.741          11973.192  1.5
    END-POINT  57826.317          64178.866          11973.192  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HL5                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64178.741          11973.192 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HL6                 
INSTRUMENT
    END-POINT  57826.317          64178.741          11973.192  1.5  FL
    END-POINT  57826.317          64170.001          11973.192  1.5  FL
    CENTRE-POINT   57826.317          64174.371          11973.192 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HL4                 
    TAG FCV$009$03                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57826.317  64174.371  11973.192 
    TEXT FCV$009$03
    UNDIMENSIONED
GASKET
    END-POINT  57826.317          64169.876          11973.192  1.5
    END-POINT  57826.317          64170.001          11973.192  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HL8                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64169.876          11973.192 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HL9                 
FLANGE
    END-POINT  57826.317          64169.876          11973.192  1.5  FL
    END-POINT  57826.317          64169.668          11973.192  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HL7                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64169.668          11973.192  1.5
    END-POINT  57826.317          64169.668          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64169.668          11973.192  1.5
    END-POINT  57826.317          64169.668          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64149.918          11973.192  1.5  PL
    END-POINT  57826.317          64169.668          11973.192  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOE                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57826.317  64154.602  11973.192 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57826.317          64149.918          11973.192  1.5
    END-POINT  57826.317          64149.918          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HM3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64149.918          11973.192  1.5
    END-POINT  57826.317          64149.918          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HM4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57826.317          64149.711          11973.192  1.5  FL
    END-POINT  57826.317          64149.918          11973.192  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLZ                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57826.317          64149.711          11973.192  1.5
    END-POINT  57826.317          64149.586          11973.192  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HM0                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64149.711          11973.192 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HM1                 
VALVE
    END-POINT  57826.317          64143.086          11973.192  1.5  FL
    END-POINT  57826.317          64149.586          11973.192  1.5  FL
    CENTRE-POINT   57826.317          64146.336          11973.192 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLU                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57826.317          64143.086          11973.192  1.5
    END-POINT  57826.317          64142.961          11973.192  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLV                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64143.086          11973.192 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLW                 
FLANGE
    END-POINT  57826.317          64142.961          11973.192  1.5  FL
    END-POINT  57826.317          64142.753          11973.192  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64142.753          11973.192  1.5
    END-POINT  57826.317          64142.753          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64142.753          11973.192  1.5
    END-POINT  57826.317          64142.753          11973.192  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64136.753          11973.192  1.5  BW
    END-POINT  57826.317          64142.753          11973.192  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HLP                 
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57826.317          64197.698          11973.992  3  BW
    END-POINT  57826.317          64194.198          11973.192  1.5  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57826.317          64197.698          11973.992  3
    END-POINT  57826.317          64197.698          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HKL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64197.698          11973.992  3  BW
    END-POINT  57826.317          64203.698          11973.992  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_56P                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          64203.698          11973.992  3
    END-POINT  57826.317          64203.698          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5AG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64203.698          11973.992  3
    END-POINT  57826.317          64203.698          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5AH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57826.317          64203.977          11973.992  3  FL
    END-POINT  57826.317          64203.698          11973.992  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5AF                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57826.317          64203.977          11973.992  3
    END-POINT  57826.317          64204.102          11973.992  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64204.102          11973.992 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFM                 
INSTRUMENT-3WAY
    END-POINT  57826.317          64204.102          11973.992  3  FL
    END-POINT  57826.317          64217.102          11973.992  3  FL
    END-POINT  57826.317          64210.602          11980.492  3  FL
    CENTRE-POINT   57826.317          64210.602          11973.992 
    SKEY C3FL
    ERECTION-ITEM
    ITEM-CODE VALV3CL3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5AJ                 
    TAG FV$009$04                       
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
MESSAGE-CIRCLE
    CO-ORDS  57826.317  64210.602  11973.992 
    TEXT FV$009$04
    UNDIMENSIONED
GASKET
    END-POINT  57826.317          64217.102          11973.992  3
    END-POINT  57826.317          64217.227          11973.992  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFN                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64217.227          11973.992 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFO                 
GASKET
    END-POINT  57826.317          64210.602          11980.617  3
    END-POINT  57826.317          64210.602          11980.492  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9O                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57826.317          64210.602          11980.617  3  FL
    END-POINT  57826.317          64210.602          11983.367  3  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9N                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317          64210.602          11983.367 
    PIPELINE-REFERENCE ISO-PY3-1211004
FLANGE
    END-POINT  57826.317          64217.227          11973.992  3  FL
    END-POINT  57826.317          64217.505          11973.992  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5B8                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          64217.505          11973.992  3
    END-POINT  57826.317          64217.505          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DRD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.317          64217.505          11973.992  3
    END-POINT  57826.317          64217.505          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DRE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64241.312          11973.992  3  BW
    END-POINT  57826.317          64217.505          11973.992  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DRB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          64241.312          11973.992  3
    END-POINT  57826.317          64241.312          11973.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DRC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          64241.312          11973.992  3  BW
    END-POINT  57826.317          64245.812          11978.492  3  BW
    CENTRE-POINT   57826.317          64245.812          11973.992 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BNL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57826.317  64245.812  11973.992  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DR5                 
    TAG                         P617 FIG 2                      
WELD
    END-POINT  57826.317          64245.812          11978.492  3
    END-POINT  57826.317          64245.812          11978.492  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DR9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64245.812          11978.492  3  BW
    END-POINT  57826.317          64245.812          12038.664  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DR8                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          64245.812          12038.664  3
    END-POINT  57826.317          64245.812          12038.664  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DRA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          64245.812          12038.664  3  BW
    END-POINT  57826.317          64241.312          12043.164  3  BW
    CENTRE-POINT   57826.317          64245.812          12043.164 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DPT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.317  64245.812  12043.164 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57826.317  64378.800  12043.164 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. G
WELD
    END-POINT  57826.317          64241.312          12043.164  3
    END-POINT  57826.317          64241.312          12043.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64241.312          12043.164  3  BW
    END-POINT  57826.317          64232.803          12043.164  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          64232.803          12043.164  3
    END-POINT  57826.317          64232.803          12043.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          64232.803          12043.164  3  BW
    END-POINT  57830.817          64228.303          12043.164  3  BW
    CENTRE-POINT   57826.317          64228.303          12043.164 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DPW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57830.817          64228.303          12043.164  3
    END-POINT  57830.817          64228.303          12043.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQ6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57830.817          64228.303          12043.164  3  BW
    END-POINT  57834.817          64228.303          12043.164  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQ5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57834.817          64228.303          12043.164  3
    END-POINT  57834.817          64228.303          12043.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQ8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57834.817          64228.303          12043.164  3
    END-POINT  57834.817          64228.303          12043.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQ9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57835.095          64228.303          12043.164  3  FL
    END-POINT  57834.817          64228.303          12043.164  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQ7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57835.220          64228.303          12043.164  3
    END-POINT  57835.095          64228.303          12043.164  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57835.220          64228.303          12043.164 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQC                 
FLANGE
    END-POINT  57835.220          64228.303          12043.164  3  FL
    END-POINT  57835.499          64228.303          12043.164  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57835.499          64228.303          12043.164  3
    END-POINT  57835.499          64228.303          12043.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57835.499          64228.303          12043.164  3
    END-POINT  57835.499          64228.303          12043.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57980.361          64228.303          12043.164  3  BW
    END-POINT  57835.499          64228.303          12043.164  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57910.818  64228.303  12043.164  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQS                 
    TAG                         P624 FIG.2                      
FLOW-ARROW
    CO-ORDS  57882.178  64228.303  12043.164 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57980.361          64228.303          12043.164  3
    END-POINT  57980.361          64228.303          12043.164  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57980.361          64228.303          12043.164  3  BW
    END-POINT  57984.861          64228.303          12038.664  3  BW
    CENTRE-POINT   57984.861          64228.303          12043.164 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQH                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57984.861  64228.303  12043.164 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57984.861  64378.800  12043.164 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57984.861  64228.303  12043.164 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64228.303  12043.164 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  57984.861          64228.303          12038.664  3
    END-POINT  57984.861          64228.303          12038.664  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57984.861          64228.303          12038.664  3  BW
    END-POINT  57984.861          64228.303          11985.945  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DQN                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57984.861  64228.303  12012.275 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57984.861          64228.303          11985.945  3
    END-POINT  57984.861          64228.303          11985.945  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EXQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57988.043          64231.485          11981.445  3  BW
    END-POINT  57984.861          64228.303          11985.945  3  BW
    CENTRE-POINT   57984.861          64228.303          11981.445 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57988.043          64231.485          11981.445  3
    END-POINT  57988.043          64231.485          11981.445  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57990.164          64233.606          11981.445  3  PL
    END-POINT  57988.043          64231.485          11981.445  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIU                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57990.164          64233.606          11981.445  3
    END-POINT  57990.164          64233.606          11981.445  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57990.164          64233.606          11981.445  3
    END-POINT  57990.164          64233.606          11981.445  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57990.361          64233.803          11981.445  3  FL
    END-POINT  57990.164          64233.606          11981.445  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIR                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57990.361          64233.803          11981.445  3
    END-POINT  57990.449          64233.891          11981.445  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIS                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57990.361          64233.803          11981.445 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIT                 
INSTRUMENT-3WAY
    END-POINT  57999.553          64242.995          11981.445  3  FL
    END-POINT  57990.449          64233.891          11981.445  3  FL
    END-POINT  57990.449          64242.995          11981.445  3  FL
    CENTRE-POINT   57995.001          64238.443          11981.445 
    SKEY C3FL
    ERECTION-ITEM
    ITEM-CODE VALV3CL3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DIC                 
    TAG FV$009$05                       
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57995.001  64238.443  11981.445 
    TEXT FV$009$05
    UNDIMENSIONED
GASKET
    END-POINT  57999.553          64242.995          11981.445  3
    END-POINT  57999.642          64243.084          11981.445  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EXN                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57999.553          64242.995          11981.445 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EXO                 
GASKET
    END-POINT  57990.361          64243.084          11981.445  3
    END-POINT  57990.449          64242.995          11981.445  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GB6                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
END-POSITION-OPEN 
    CO-ORDS  57999.642          64243.084          11981.445 
FLANGE
    END-POINT  57990.361          64243.084          11981.445  3  FL
    END-POINT  57988.416          64245.028          11981.445  3  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_DNK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57988.416          64245.028          11981.445 
    PIPELINE-REFERENCE ISO-PY3-1211005
ELBOW
    END-POINT  57800.800          63926.800          11969.485  3  BW
    END-POINT  57805.300          63926.800          11973.985  3  BW
    CENTRE-POINT   57800.800          63926.800          11973.985 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_4Z4                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57800.800  63926.800  11973.985 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57800.800  63898.800  11973.985 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57800.800  63926.800  11973.985 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63926.800  11973.985 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57800.800          63926.800          11969.485  3
    END-POINT  57800.800          63926.800          11969.485  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EEY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57800.800          63926.800          11573.549  3  BW
    END-POINT  57800.800          63926.800          11969.485  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EEW                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57800.800  63926.800  11701.520 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57800.800  63926.800  11774.622  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSY                 
WELD
    END-POINT  57800.800          63926.800          11573.549  3
    END-POINT  57800.800          63926.800          11573.549  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57800.800          63931.300          11569.049  3  BW
    END-POINT  57800.800          63926.800          11573.549  3  BW
    CENTRE-POINT   57800.800          63926.800          11569.049 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57800.800          63931.300          11569.049  3
    END-POINT  57800.800          63931.300          11569.049  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57800.800          63931.300          11569.049  3  BW
    END-POINT  57800.800          64259.235          11569.049  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HS7                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57800.800  64138.768  11569.049  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSD                 
SUPPORT
    CO-ORDS  57800.800  64138.737  11569.049  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSK                 
SUPPORT
    CO-ORDS  57800.800  63945.495  11569.049  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSU                 
SUPPORT
    CO-ORDS  57800.800  63946.522  11569.049  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HT2                 
WELD
    END-POINT  57800.800          64259.235          11569.049  3
    END-POINT  57800.800          64259.235          11569.049  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57800.800          64259.235          11569.049  3  BW
    END-POINT  57800.800          64263.735          11564.549  3  BW
    CENTRE-POINT   57800.800          64263.735          11569.049 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HS5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57800.800          64263.735          11564.549  3
    END-POINT  57800.800          64263.735          11564.549  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57800.800          64263.735          11564.549  3  BW
    END-POINT  57800.800          64263.735          11530.250  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSM                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57800.800          64263.735          11530.250  3
    END-POINT  57800.800          64263.735          11530.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HSO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57800.800          64263.735          11530.250  3  BW
    END-POINT  57796.300          64263.735          11525.750  3  BW
    CENTRE-POINT   57800.800          64263.735          11525.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EEE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57796.300          64263.735          11525.750  3
    END-POINT  57796.300          64263.735          11525.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EED                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57635.566          64263.735          11525.750  3  BW
    END-POINT  57796.300          64263.735          11525.750  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EEC                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57725.093  64263.735  11525.750 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57738.423  64263.735  11525.750  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_HT0                 
WELD
    END-POINT  57635.566          64263.735          11525.750  3
    END-POINT  57635.566          64263.735          11525.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EEB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57631.066          64263.735          11521.250  3  BW
    END-POINT  57635.566          64263.735          11525.750  3  BW
    CENTRE-POINT   57631.066          64263.735          11525.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EEA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57631.066          64263.735          11521.250  3
    END-POINT  57631.066          64263.735          11521.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EE9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57631.066          64263.735          11521.250  3  BW
    END-POINT  57631.066          64263.735          11504.409  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EE7                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57631.066  64263.735  11514.160 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57631.066          64263.735          11504.409  3
    END-POINT  57631.066          64263.735          11504.409  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EE5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57631.066          64263.735          11504.409  3
    END-POINT  57631.066          64263.735          11504.409  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EE6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57631.066          64263.735          11504.130  3  FL
    END-POINT  57631.066          64263.735          11504.409  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EE1                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  57631.066  64263.735  11504.130 
    TEXT TP$029
    UNDIMENSIONED
GASKET
    END-POINT  57631.066          64263.735          11504.130  3
    END-POINT  57631.066          64263.735          11504.005  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GDE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57631.066          64263.735          11504.130 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GDF                 
END-POSITION-OPEN 
    CO-ORDS  57631.066          64263.735          11504.005 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL3X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPST-3
    DESCRIPTION RIGID PIPE SUPPORT P617 FIG. 1
ITEM-CODE WOL3X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG3_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 1/2 MACHINE BOLT
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT3
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE 150LB, RF, FV-009-02
    RATING 150LB
ITEM-CODE GENSTR3
    DESCRIPTION MASS FLOW METER, FE-009-03
    RATING 150LB
ITEM-CODE REDECC3X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVGLB1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE VALVCNT1+1/2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, 150LB, RF, FCV-009-03
    RATING 150LB
ITEM-CODE VALV3CL3
    CATALOG NON STANDARD
    DESCRIPTION CONTROL 3-WAY VALVE, FV-009-04
    RATING 150LB
ITEM-CODE SUPEB-3
    DESCRIPTION ELBOW SUPPORT, L=2'-6", P617 FIG 2
ITEM-CODE SUPRH-3
    DESCRIPTION PIPE HANGER P624 FIG. 2
ITEM-CODE VALV3CL3_1
    CATALOG NON STANDARD
    DESCRIPTION CONTROL 3-WAY VALVE, FV-009-05
    RATING 150LB
ITEM-CODE SUPRH-3_1
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE SUPPS-3
    DESCRIPTION PIPE INSULATION PROTECTION SADDLE, P651 FIG 1
ITEM-CODE SUPUB-3
    DESCRIPTION P651, FIG 1
ITEM-CODE SUPRH-3_2
    DESCRIPTION ROD HANGER P624, FIG. 4, L=1'-8"
