ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1901003
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_GS02.DWG
    ATTRIBUTE98 WW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1901003-WW-S1
    ATTRIBUTE95 i1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-WW3-81P-001
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 1/15/2009
    ATTRIBUTE25 TS
    ATTRIBUTE26 3/13/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/19/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/19/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/19/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/13/2009
    ATTRIBUTE36 DKC
    ATTRIBUTE37 TS
    ATTRIBUTE38 DCD
    ATTRIBUTE39 I.F.C.
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 DCD
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  60310.570          64636.500          11668.190  0.75  SC FEMALE 
    END-POINT  60310.570          64636.500          11667.250  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PY                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  60310.570          64636.500          11668.190  0.75  SC FEMALE 
    END-POINT  60310.570          64636.500          11668.190  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PZ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  60310.570          64636.500          11670.190  0.75  PL
    END-POINT  60310.570          64636.500          11668.190  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PW                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  60310.570          64636.500          11670.190  0.75
    END-POINT  60310.570          64636.500          11670.190  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  60310.570          64636.500          11672.170  0.75  SW FEMALE 
    END-POINT  60310.570          64636.500          11670.190  0.75  SW FEMALE 
    CENTRE-POINT   60310.570          64636.500          11671.195 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PS                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  60310.570          64636.500          11672.170  0.75  SW FEMALE 
    END-POINT  60310.570          64636.500          11672.170  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60310.570          64636.500          11675.700  0.75  BW
    END-POINT  60310.570          64636.500          11672.170  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PQ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60310.570          64636.500          11675.700  0.75
    END-POINT  60310.570          64636.500          11675.700  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60310.570          64634.250          11677.950  1.5  BW
    END-POINT  60310.570          64638.750          11677.950  1.5  BW
    CENTRE-POINT   60310.570          64636.500          11677.950 
    BRANCH1-POINT  60310.570          64636.500          11675.700  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X3/4
    WEIGHT           0.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60310.570          64634.250          11677.950  1.5
    END-POINT  60310.570          64634.250          11677.950  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60310.570          64638.750          11677.950  1.5
    END-POINT  60310.570          64638.750          11677.950  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60310.570          64638.750          11677.950  1.5  BW
    END-POINT  60310.570          65816.743          11677.950  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4K8                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60310.570  64869.643  11677.950  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45J                 
SUPPORT
    CO-ORDS  60310.570  65389.365  11677.950  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45L                 
SUPPORT
    CO-ORDS  60310.570  65714.895  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4A9                 
SUPPORT
    CO-ORDS  60310.570  65606.566  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4AB                 
SUPPORT
    CO-ORDS  60310.570  65498.540  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4AD                 
SUPPORT
    CO-ORDS  60310.570  65270.763  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4AF                 
SUPPORT
    CO-ORDS  60310.570  65190.988  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4AH                 
SUPPORT
    CO-ORDS  60310.570  65110.996  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4AJ                 
SUPPORT
    CO-ORDS  60310.570  64990.990  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4AL                 
SUPPORT
    CO-ORDS  60310.570  64795.996  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4AN                 
FLOW-ARROW
    CO-ORDS  60310.570  65074.156  11677.950 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  60310.570          65816.743          11677.950  1.5
    END-POINT  60310.570          65816.743          11677.950  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60310.570          65821.243          11677.950  1.5  BW
    END-POINT  60310.570          65816.743          11677.950  1.5  BW
    CENTRE-POINT   60310.570          65818.993          11677.950 
    BRANCH1-POINT  60310.570          65818.993          11675.700  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60310.570          65821.243          11677.950  1.5
    END-POINT  60310.570          65821.243          11677.950  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60310.570          65818.993          11675.700  1.5
    END-POINT  60310.570          65818.993          11675.700  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60310.572          65818.993          11653.397  1.5  BW
    END-POINT  60310.570          65818.993          11675.700  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2L                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  60310.572          65818.993          11653.397 
    PIPELINE-REFERENCE ISO-GS3-1901012
PIPE
    END-POINT  60310.570          65821.243          11677.950  1.5  BW
    END-POINT  60310.570          66167.305          11677.950  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KA                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60310.570  65953.314  11677.950  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45N                 
SUPPORT
    CO-ORDS  60310.570  66066.569  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4A5                 
SUPPORT
    CO-ORDS  60310.570  65834.521  11677.950  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4A7                 
WELD
    END-POINT  60310.570          66167.305          11677.950  1.5
    END-POINT  60310.570          66167.305          11677.950  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4AP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60308.979          66169.555          11679.541  1.5  BW
    END-POINT  60310.570          66167.305          11677.950  1.5  BW
    CENTRE-POINT   60310.570          66169.555          11677.950 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_457                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60310.570  66169.555  11677.950 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60310.570  66290.555  11677.950 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. L.7
WELD
    END-POINT  60308.979          66169.555          11679.541  1.5
    END-POINT  60308.979          66169.555          11679.541  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60296.366          66169.555          11692.155  1.5  BW
    END-POINT  60308.979          66169.555          11679.541  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45G                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60296.366          66169.555          11692.155  1.5
    END-POINT  60296.366          66169.555          11692.155  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60295.570          66169.555          11694.075  1.5  BW
    END-POINT  60296.366          66169.555          11692.155  1.5  BW
    CENTRE-POINT   60295.570          66169.555          11692.950 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45C                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  60295.570          66169.555          11694.075  1.5
    END-POINT  60295.570          66169.555          11694.075  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60295.570          66169.579          11704.134  1.5  BW
    END-POINT  60295.570          66169.555          11694.075  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QR                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60295.570          66169.579          11704.134  1.5
    END-POINT  60295.570          66169.579          11704.134  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60295.570          66169.579          11704.134  1.5  BW
    END-POINT  60295.570          66171.805          11706.383  1.5  BW
    CENTRE-POINT   60295.570          66169.579          11706.360 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8940
WELD
    END-POINT  60295.570          66171.805          11706.383  1.5
    END-POINT  60295.570          66171.805          11706.383  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60295.570          66171.805          11706.383  1.5  BW
    END-POINT  60295.570          66176.305          11706.337  1.5  BW
    CENTRE-POINT   60295.570          66174.055          11706.360 
    BRANCH1-POINT  60295.570          66174.078          11708.610  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Q2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60295.570          66176.305          11706.337  1.5
    END-POINT  60295.570          66176.305          11706.337  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60295.570          66174.078          11708.610  0.5
    END-POINT  60295.570          66174.078          11708.610  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60295.570          66174.078          11708.610  0.5  BW
    END-POINT  60295.570          66174.114          11712.020  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Q7                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  60295.570          66174.114          11712.020  0.5  SW FEMALE 
    END-POINT  60295.570          66174.114          11712.020  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  60295.570          66174.114          11712.020  0.5  SW FEMALE 
    END-POINT  60295.570          66174.131          11713.700  0.5  SW FEMALE 
    CENTRE-POINT   60295.570          66174.123          11712.905 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Q9                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
    DIRECTION NORTH 1 DOWN
SOCKET-WELD
    END-POINT  60295.570          66174.131          11713.700  0.5
    END-POINT  60295.570          66174.131          11713.700  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  60295.570          66174.131          11713.700  0.5  PL
    END-POINT  60295.570          66174.163          11716.700  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QD                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  60295.570          66174.163          11716.700  0.5  SC FEMALE 
    END-POINT  60295.570          66174.163          11716.700  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  60295.570          66174.163          11716.700  0.5  SC FEMALE 
    END-POINT  60295.570          66174.170          11717.450  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4QF                 
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60295.570          66176.305          11706.337  1.5  BW
    END-POINT  60295.570          66336.305          11704.673  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Q5                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60295.570  66177.044  11706.329  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45T                 
SUPPORT
    CO-ORDS  60295.570  66290.557  11705.149  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4A3                 
WELD
    END-POINT  60295.570          66336.305          11704.673  1.5
    END-POINT  60295.570          66336.305          11704.673  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4H2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60295.570          66340.805          11704.627  1.5  BW
    END-POINT  60295.570          66336.305          11704.673  1.5  BW
    CENTRE-POINT   60295.570          66338.555          11704.650 
    BRANCH1-POINT  60295.570          66338.532          11702.400  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4GZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60295.570          66340.805          11704.627  1.5
    END-POINT  60295.570          66340.805          11704.627  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4H1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60295.570          66338.532          11702.400  1.5
    END-POINT  60295.570          66338.532          11702.400  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AHA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60295.570          66338.555          11620.201  1.5  BW
    END-POINT  60295.570          66338.532          11702.400  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_AH8                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  60295.570          66338.555          11620.201 
    PIPELINE-REFERENCE ISO-GS3-1901015
PIPE
    END-POINT  60295.570          66340.805          11704.627  1.5  BW
    END-POINT  60295.570          67640.805          11691.112  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4GX                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60295.570  66505.074  11702.919  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45R                 
SUPPORT
    CO-ORDS  60295.570  66829.145  11699.550  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45V                 
SUPPORT
    CO-ORDS  60295.570  67249.114  11695.184  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45X                 
SUPPORT
    CO-ORDS  60295.570  67609.047  11691.443  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_45Z                 
SUPPORT
    CO-ORDS  60295.570  67490.561  11692.674  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49N                 
SUPPORT
    CO-ORDS  60295.570  67370.574  11693.922  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49P                 
SUPPORT
    CO-ORDS  60295.570  67130.580  11696.417  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49R                 
SUPPORT
    CO-ORDS  60295.570  67030.577  11697.456  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49T                 
SUPPORT
    CO-ORDS  60295.570  66930.583  11698.496  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49V                 
SUPPORT
    CO-ORDS  60295.570  66722.519  11700.659  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49X                 
SUPPORT
    CO-ORDS  60295.570  66614.526  11701.781  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49Z                 
SUPPORT
    CO-ORDS  60295.570  66398.557  11704.026  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4A1                 
WELD
    END-POINT  60295.570          67640.805          11691.112  1.5
    END-POINT  60295.570          67640.805          11691.112  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60295.570          67640.805          11691.112  1.5  BW
    END-POINT  60297.820          67643.055          11691.072  1.5  BW
    CENTRE-POINT   60295.570          67643.055          11691.089 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43B                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8999
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60295.570  67643.055  11691.089 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60267.070  67643.055  11691.089 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 51.5.1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60295.570  67643.055  11691.089 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60295.570  67670.555  11691.089 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. K.1
WELD
    END-POINT  60297.820          67643.055          11691.072  1.5
    END-POINT  60297.820          67643.055          11691.072  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60297.820          67643.055          11691.072  1.5  BW
    END-POINT  60803.326          67643.059          11687.203  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43D                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60775.707  67643.059  11687.414  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_461                 
SUPPORT
    CO-ORDS  60664.578  67643.058  11688.265  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49F                 
SUPPORT
    CO-ORDS  60552.099  67643.057  11689.126  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49H                 
SUPPORT
    CO-ORDS  60439.573  67643.056  11689.987  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49J                 
SUPPORT
    CO-ORDS  60327.069  67643.055  11690.848  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49L                 
FLOW-ARROW
    CO-ORDS  60424.017  67643.056  11690.106 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  60803.326          67643.059          11687.203  1.5
    END-POINT  60803.326          67643.059          11687.203  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60803.326          67643.059          11687.203  1.5  BW
    END-POINT  60805.576          67645.309          11687.163  1.5  BW
    CENTRE-POINT   60805.576          67643.059          11687.186 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43F                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60805.576          67645.309          11687.163  1.5
    END-POINT  60805.576          67645.309          11687.163  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60805.576          67645.309          11687.163  1.5  BW
    END-POINT  60805.576          70405.305          11659.381  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43H                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60805.576  67909.152  11684.507  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_463                 
SUPPORT
    CO-ORDS  60805.576  68269.146  11680.884  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_465                 
SUPPORT
    CO-ORDS  60805.576  68629.139  11677.260  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_467                 
SUPPORT
    CO-ORDS  60805.576  68988.928  11673.638  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_469                 
SUPPORT
    CO-ORDS  60805.576  69349.114  11670.013  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46B                 
SUPPORT
    CO-ORDS  60805.576  69709.104  11666.389  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46D                 
SUPPORT
    CO-ORDS  60805.576  70152.888  11661.922  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46F                 
SUPPORT
    CO-ORDS  60805.576  70370.504  11659.732  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48H                 
SUPPORT
    CO-ORDS  60805.576  70262.558  11660.818  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48J                 
SUPPORT
    CO-ORDS  60805.576  70046.557  11662.992  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48L                 
SUPPORT
    CO-ORDS  60805.576  69938.566  11664.079  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48N                 
SUPPORT
    CO-ORDS  60805.576  69830.583  11665.166  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48P                 
SUPPORT
    CO-ORDS  60805.576  69590.595  11667.582  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48R                 
SUPPORT
    CO-ORDS  60805.576  69470.591  11668.790  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48T                 
SUPPORT
    CO-ORDS  60805.576  69230.615  11671.206  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48V                 
SUPPORT
    CO-ORDS  60805.576  69110.618  11672.413  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48X                 
SUPPORT
    CO-ORDS  60805.576  68870.488  11674.831  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48Z                 
SUPPORT
    CO-ORDS  60805.576  68750.497  11676.038  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_491                 
SUPPORT
    CO-ORDS  60805.576  68510.508  11678.454  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_493                 
SUPPORT
    CO-ORDS  60805.576  68390.513  11679.662  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_495                 
SUPPORT
    CO-ORDS  60805.576  68150.516  11682.078  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_497                 
SUPPORT
    CO-ORDS  60805.576  68030.535  11683.286  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_499                 
SUPPORT
    CO-ORDS  60805.576  67790.534  11685.701  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49B                 
SUPPORT
    CO-ORDS  60805.576  67670.556  11686.909  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_49D                 
FLOW-ARROW
    CO-ORDS  60805.576  67772.330  11685.885 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  60805.576          70405.305          11659.381  1.5
    END-POINT  60805.576          70405.305          11659.381  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60805.576          70405.305          11659.381  1.5  BW
    END-POINT  60803.326          70407.555          11659.335  1.5  BW
    CENTRE-POINT   60805.576          70407.555          11659.359 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43J                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8999
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60805.576  70407.555  11659.359 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60837.070  70407.555  11659.359 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 52.7
WELD
    END-POINT  60803.326          70407.555          11659.335  1.5
    END-POINT  60803.326          70407.555          11659.335  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60803.326          70407.555          11659.335  1.5  BW
    END-POINT  60765.797          70407.555          11658.943  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43L                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60773.515  70407.555  11659.023  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_52J                 
WELD
    END-POINT  60765.797          70407.555          11658.943  1.5
    END-POINT  60765.797          70407.555          11658.943  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60765.797          70407.555          11658.943  1.5  BW
    END-POINT  60763.570          70407.555          11656.693  1.5  BW
    CENTRE-POINT   60763.570          70407.555          11658.919 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43N                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8940
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60763.570  70407.555  11658.919 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60763.570  70430.555  11658.919 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. D.3
WELD
    END-POINT  60763.570          70407.555          11656.693  1.5
    END-POINT  60763.570          70407.555          11656.693  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60763.570          70407.555          11656.693  1.5  BW
    END-POINT  60763.570          70407.555          11622.142  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43P                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60763.570          70407.555          11622.142  1.5
    END-POINT  60763.570          70407.555          11622.142  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60763.570          70407.555          11622.142  1.5  BW
    END-POINT  60761.344          70407.555          11619.892  1.5  BW
    CENTRE-POINT   60763.570          70407.555          11619.915 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43R                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8940
WELD
    END-POINT  60761.344          70407.555          11619.892  1.5
    END-POINT  60761.344          70407.555          11619.892  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60761.344          70407.555          11619.892  1.5  BW
    END-POINT  58855.070          70407.555          11599.958  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43T                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60331.424  70407.555  11615.396  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46J                 
SUPPORT
    CO-ORDS  59851.386  70407.555  11610.377  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46L                 
SUPPORT
    CO-ORDS  59371.194  70407.555  11605.355  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46N                 
SUPPORT
    CO-ORDS  58891.391  70407.555  11600.338  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46P                 
SUPPORT
    CO-ORDS  59013.059  70407.555  11601.610  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47T                 
SUPPORT
    CO-ORDS  59133.007  70407.555  11602.864  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47V                 
SUPPORT
    CO-ORDS  59253.056  70407.555  11604.120  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47X                 
SUPPORT
    CO-ORDS  59493.017  70407.555  11606.629  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47Z                 
SUPPORT
    CO-ORDS  59613.064  70407.555  11607.884  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_481                 
SUPPORT
    CO-ORDS  59733.019  70407.555  11609.139  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_483                 
SUPPORT
    CO-ORDS  59973.120  70407.555  11611.650  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_485                 
SUPPORT
    CO-ORDS  60093.103  70407.555  11612.904  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_487                 
SUPPORT
    CO-ORDS  60213.102  70407.555  11614.159  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_489                 
SUPPORT
    CO-ORDS  60453.084  70407.555  11616.669  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48B                 
SUPPORT
    CO-ORDS  60573.094  70407.555  11617.924  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48D                 
SUPPORT
    CO-ORDS  60675.077  70407.555  11618.990  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_48F                 
FLOW-ARROW
    CO-ORDS  60040.440  70407.555  11612.354 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58855.070          70407.555          11599.958  1.5
    END-POINT  58855.070          70407.555          11599.958  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58855.070          70407.555          11599.958  1.5  BW
    END-POINT  58852.820          70405.305          11599.934  1.5  BW
    CENTRE-POINT   58852.820          70407.555          11599.934 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43V                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58852.820          70405.305          11599.934  1.5
    END-POINT  58852.820          70405.305          11599.934  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58852.820          70405.305          11599.934  1.5  BW
    END-POINT  58852.820          70348.055          11599.934  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43X                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58852.820  70370.565  11599.934  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47R                 
WELD
    END-POINT  58852.820          70348.055          11599.934  1.5
    END-POINT  58852.820          70348.055          11599.934  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58852.820          70348.055          11599.934  1.5  BW
    END-POINT  58850.570          70345.805          11599.910  1.5  BW
    CENTRE-POINT   58852.820          70345.805          11599.934 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_43Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58850.570          70345.805          11599.910  1.5
    END-POINT  58850.570          70345.805          11599.910  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_440                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58850.570          70345.805          11599.910  1.5  BW
    END-POINT  58384.789          70345.805          11594.942  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_441                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58771.877  70345.805  11599.071  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46R                 
SUPPORT
    CO-ORDS  58411.642  70345.805  11595.229  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46T                 
SUPPORT
    CO-ORDS  58533.078  70345.805  11596.524  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47N                 
SUPPORT
    CO-ORDS  58653.064  70345.805  11597.804  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47P                 
WELD
    END-POINT  58384.789          70345.805          11594.942  1.5
    END-POINT  58384.789          70345.805          11594.942  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_442                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58384.789          70345.805          11594.942  1.5  BW
    END-POINT  58382.540          70348.055          11594.918  1.5  BW
    CENTRE-POINT   58382.540          70345.805          11594.918 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_443                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58382.540          70348.055          11594.918  1.5
    END-POINT  58382.540          70348.055          11594.918  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_444                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58382.540          70348.055          11594.918  1.5  BW
    END-POINT  58382.540          70400.305          11594.918  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_445                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58382.540  70369.697  11594.918  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47L                 
WELD
    END-POINT  58382.540          70400.305          11594.918  1.5
    END-POINT  58382.540          70400.305          11594.918  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_446                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58382.540          70400.305          11594.918  1.5  BW
    END-POINT  58380.290          70402.555          11594.895  1.5  BW
    CENTRE-POINT   58382.540          70402.555          11594.918 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_447                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58382.540  70402.555  11594.918 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58413.070  70402.555  11594.918 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 47.7
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58382.540  70402.555  11594.918 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58382.540  70430.555  11594.918 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. D.3
WELD
    END-POINT  58380.290          70402.555          11594.895  1.5
    END-POINT  58380.290          70402.555          11594.895  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_448                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58380.290          70402.555          11594.895  1.5  BW
    END-POINT  56884.304          70402.555          11579.343  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_449                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58292.013  70402.555  11593.977  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46V                 
SUPPORT
    CO-ORDS  57691.428  70402.555  11587.734  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46X                 
SUPPORT
    CO-ORDS  57211.605  70402.555  11582.746  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_46Z                 
SUPPORT
    CO-ORDS  56971.487  70402.555  11580.250  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_471                 
SUPPORT
    CO-ORDS  57092.992  70402.555  11581.513  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_475                 
SUPPORT
    CO-ORDS  57333.060  70402.555  11584.009  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_477                 
SUPPORT
    CO-ORDS  57453.082  70402.555  11585.256  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_479                 
SUPPORT
    CO-ORDS  57573.036  70402.555  11586.503  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47B                 
SUPPORT
    CO-ORDS  57813.082  70402.555  11588.999  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47D                 
SUPPORT
    CO-ORDS  57933.106  70402.555  11590.246  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47F                 
SUPPORT
    CO-ORDS  58053.040  70402.555  11591.493  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47H                 
SUPPORT
    CO-ORDS  58173.076  70402.555  11592.741  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_47J                 
FLOW-ARROW
    CO-ORDS  58136.598  70402.555  11592.362 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  56884.304          70402.555          11579.343  1.5
    END-POINT  56884.304          70402.555          11579.343  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4FU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  56882.077          70402.555          11577.094  1.5  BW
    END-POINT  56884.304          70402.555          11579.343  1.5  BW
    CENTRE-POINT   56882.077          70402.555          11579.320 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4FR                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8940
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56882.077  70402.555  11579.320 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56733.044  70402.555  11579.320 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 44.2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56882.077  70402.555  11579.320 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56882.077  70400.555  11579.320 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. D.3.5
WELD
    END-POINT  56882.077          70402.555          11577.094  1.5
    END-POINT  56882.077          70402.555          11577.094  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4T6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  56882.077          70402.555          11556.427  1.5  BW
    END-POINT  56882.077          70402.555          11577.094  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SX                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56882.077          70402.555          11556.427  1.5
    END-POINT  56882.077          70402.555          11556.427  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  56882.077          70404.805          11554.177  1.5  BW
    END-POINT  56882.077          70402.555          11556.427  1.5  BW
    CENTRE-POINT   56882.077          70402.555          11554.177 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4ST                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56882.077  70402.555  11554.177 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56733.044  70402.555  11554.177 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 44.2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56882.077  70402.555  11554.177 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56882.077  70400.555  11554.177 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. D.3.5
WELD
    END-POINT  56882.077          70404.805          11554.177  1.5
    END-POINT  56882.077          70404.805          11554.177  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  56882.077          70437.805          11554.191  1.5  BW
    END-POINT  56882.077          70404.805          11554.177  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SP                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  56882.077  70431.051  11553.677  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SQ                 
SUPPORT
    CO-ORDS  56882.077  70431.209  11554.177  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SR                 
WELD
    END-POINT  56882.077          70437.805          11554.191  1.5
    END-POINT  56882.077          70437.805          11554.191  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  56882.077          70437.805          11554.191  1.5  BW
    END-POINT  56882.077          70440.055          11551.941  1.5  BW
    CENTRE-POINT   56882.077          70440.055          11554.191 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  56882.077          70440.055          11551.941  1.5
    END-POINT  56882.077          70440.055          11551.941  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  56882.077          70440.055          11551.941  1.5  BW
    END-POINT  56882.077          70440.055          11425.865  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SK                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  56882.077  70440.055  11490.306 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  56882.077          70440.055          11425.865  1.5  SW FEMALE 
    END-POINT  56882.077          70440.055          11425.865  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  56882.077          70440.055          11422.345  1.5  SW FEMALE 
    END-POINT  56882.077          70440.055          11425.865  1.5  SW FEMALE 
    CENTRE-POINT   56882.077          70440.055          11424.105 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SH                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  56882.077          70440.055          11422.345  1.5
    END-POINT  56882.077          70440.055          11422.345  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  56882.077          70440.055          11418.815  1.5  BW
    END-POINT  56882.077          70440.055          11422.345  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56882.077          70440.055          11418.815  1.5
    END-POINT  56882.077          70440.055          11418.815  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4S4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  56882.077          70440.055          11414.315  1.5  BW
    END-POINT  56882.077          70440.055          11418.815  1.5  BW
    CENTRE-POINT   56882.077          70440.055          11416.565 
    BRANCH1-POINT  56882.077          70437.805          11416.565  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4S3                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  56882.077          70440.055          11414.315  1.5
    END-POINT  56882.077          70440.055          11414.315  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56882.077          70437.805          11416.565  1.5
    END-POINT  56882.077          70437.805          11416.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4S5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  56882.077          70437.805          11416.565  1.5  BW
    END-POINT  56882.077          70434.275          11416.565  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4S6                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  56882.077          70434.275          11416.565  1.5
    END-POINT  56882.077          70434.275          11416.565  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4S7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  56882.077          70434.275          11416.565  1.5  SW FEMALE 
    END-POINT  56882.077          70430.725          11416.565  1.5  SW FEMALE 
    CENTRE-POINT   56882.077          70432.515          11416.565 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4S8                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  56882.077          70430.725          11416.565  1.5  SW FEMALE 
    END-POINT  56882.077          70430.725          11416.565  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  56882.077          70430.725          11416.565  1.5  PL
    END-POINT  56882.077          70427.725          11416.565  1.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1+1/2
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SB                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  56882.077  70428.395  11416.565 
    TEXT SP-156
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  56882.077          70427.725          11416.565  1.5  SC MALE 
    END-POINT  56882.077          70427.725          11416.565  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SD                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  56882.077          70427.725          11416.565  1.5  SC FEMALE 
    END-POINT  56882.077          70426.395          11416.565  1.5
    SKEY KASC
    ERECTION-ITEM
    ITEM-CODE GENEND1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SE                 
    TAG SP-156                          
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  56882.077          70440.055          11409.815  1.5  BW
    END-POINT  56882.077          70440.055          11414.315  1.5  BW
    CENTRE-POINT   56882.077          70440.055          11412.065 
    BRANCH1-POINT  56884.327          70440.055          11412.065  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  56882.077          70440.055          11409.815  1.5
    END-POINT  56882.077          70440.055          11409.815  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56884.327          70440.055          11412.065  0.5
    END-POINT  56884.327          70440.055          11412.065  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  56884.327          70440.055          11412.065  0.5  BW
    END-POINT  56887.737          70440.055          11412.065  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RY                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  56887.737          70440.055          11412.065  0.5
    END-POINT  56887.737          70440.055          11412.065  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  56887.737          70440.055          11412.065  0.5  SW FEMALE 
    END-POINT  56889.417          70440.055          11412.065  0.5  SW FEMALE 
    CENTRE-POINT   56888.622          70440.055          11412.065 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4S0                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  56889.417          70440.055          11412.065  0.5
    END-POINT  56889.417          70440.055          11412.065  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4T3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  56889.417          70440.055          11412.065  0.5  PL
    END-POINT  56892.417          70440.055          11412.065  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4T2                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  56891.917  70440.055  11412.065 
    TEXT PI$215$01
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  56892.417          70440.055          11412.065 
ELBOW
    END-POINT  56882.077          70442.305          11407.565  1.5  BW
    END-POINT  56882.077          70440.055          11409.815  1.5  BW
    CENTRE-POINT   56882.077          70440.055          11407.565 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  56882.077  70440.055  11407.565  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RT                 
WELD
    END-POINT  56882.077          70442.305          11407.565  1.5
    END-POINT  56882.077          70442.305          11407.565  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  56882.077          70442.305          11407.565  1.5  BW
    END-POINT  56882.077          70444.805          11407.565  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RQ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56882.077          70444.805          11407.565  1
    END-POINT  56882.077          70444.805          11407.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4T1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  56882.077          70444.805          11407.565  1  BW
    END-POINT  56883.577          70446.305          11407.565  1  BW
    CENTRE-POINT   56882.077          70446.305          11407.565 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4SZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  56883.577          70446.305          11407.565  1
    END-POINT  56883.577          70446.305          11407.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4T5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  56887.577          70446.305          11407.565  1  PL
    END-POINT  56883.577          70446.305          11407.565  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RF                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56887.577          70446.305          11407.565  1
    END-POINT  56887.577          70446.305          11407.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56887.577          70446.305          11407.565  1
    END-POINT  56887.577          70446.305          11407.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  56887.773          70446.305          11407.565  1  FL
    END-POINT  56887.577          70446.305          11407.565  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RI                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  56887.773          70446.305          11407.565  1
    END-POINT  56887.898          70446.305          11407.565  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56887.898          70446.305          11407.565 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RK                 
FLANGE
    END-POINT  56887.898          70446.305          11407.565  1  FL
    END-POINT  56887.593          70446.305          11407.565  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RL                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56887.593          70446.305          11407.565  1
    END-POINT  56887.593          70446.305          11407.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  56887.593          70446.305          11407.565  1
    END-POINT  56887.593          70446.305          11407.565  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  56887.593          70446.305          11407.565  1  PL
    END-POINT  56893.593          70446.305          11407.565  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4RO                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  56893.593          70446.305          11407.565  1  SC MALE 
    END-POINT  56893.593          70446.305          11407.565  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4T7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
NOZZLE
    CO-ORDS  56893.593          70446.305          11407.565  1  SC FEMALE 
    CONNECTION-REFERENCE WW3-215$NOZZLE TAG WW3-215-OUTLET$RATING 3000LB
ELBOW
    END-POINT  60310.570          64632.000          11680.200  1.5  BW
    END-POINT  60310.570          64634.250          11677.950  1.5  BW
    CENTRE-POINT   60310.570          64632.000          11677.950 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60310.570          64632.000          11680.200  1.5
    END-POINT  60310.570          64632.000          11680.200  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4PL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60310.570          64632.000          11733.472  1.5  PL
    END-POINT  60310.570          64632.000          11680.200  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_452                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60310.570          64632.000          11733.472  1.5
    END-POINT  60310.570          64632.000          11733.472  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_453                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60310.570          64632.000          11733.472  1.5
    END-POINT  60310.570          64632.000          11733.472  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_454                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  60310.570          64632.000          11733.680  1.5  FL
    END-POINT  60310.570          64632.000          11733.472  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_44Z                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  60310.570  64632.000  11732.800 
    TEXT CONT. ON TP-168
    UNDIMENSIONED
GASKET
    END-POINT  60310.570          64632.000          11733.680  1.5
    END-POINT  60310.570          64632.000          11733.805  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Q0                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  60310.570          64632.000          11733.680 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4Q1                 
VALVE
    END-POINT  60310.570          64632.000          11740.305  1.5  FL
    END-POINT  60310.570          64632.000          11733.805  1.5  FL
    CENTRE-POINT   60310.570          64632.000          11737.055 
    SKEY VBFL
    CONTINUATION 
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_44U                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  60310.570          64632.000          11740.305 
    PIPELINE-REFERENCE ISO-GS3-412
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEERED1+1/2X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION U BOLT GUIDE, P651-FIG. 1
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION P651-FIG. 2
ITEM-CODE SUPPS-1+1/2_1
    DESCRIPTION P651-FIG. 2, REFER TO ISO 1011018
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 45LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPUB-1+1/2_1
    DESCRIPTION U BOLT GUIDE, P651-FIG. 1, SHIM REQ'D. FOR SLOPED PIPE
ITEM-CODE SUPPS-1+1/2_2
    DESCRIPTION P651-FIG. 2, SHIM REQ'D. FOR SLOPED PIPE
ITEM-CODE SUPLTR1+1/2
    DESCRIPTION P629-FIG. 4, L=12", X=12 1/2"
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1+1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE GENEND1+1/2
    DESCRIPTION WASTE TRUCK CONNECTION, SP-156
    RATING 2000LB
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION ELBOW SUPPORT, P619-FIG. 2, L=1'-4 7/16"
ITEM-CODE REDCON1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1"x6" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 6"
    RATING 40S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
