ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1214030
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 WTS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1214030-WTS-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-014
    ATTRIBUTE21 C. PUCKETT
    ATTRIBUTE22 6/23/2009
    ATTRIBUTE25 BJL
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 6/23/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 6/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 6/23/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 7/31/2009
    ATTRIBUTE36 CP
    ATTRIBUTE37 BJL
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 11/27/2012
    ATTRIBUTE42 CP
    ATTRIBUTE43 DK
    ATTRIBUTE44 DK
    ATTRIBUTE45 REVISED CONTINUATION & LINE SIZE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57987.113          64365.996          11625.618  1  SC MALE 
    END-POINT  57987.113          64365.996          11573.038  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J7M                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  57987.113  64365.996  11576.038  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPBOOTLEG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J7O                 
FLOW-ARROW
    CO-ORDS  57987.113  64365.996  11602.692 
    FLOW 1
    SKEY FLOW
MESSAGE
    CO-ORDS  57987.113  64365.996  11573.038 
    TEXT TO 6" ABOVE FLOOR
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  57987.113          64365.996          11625.618  1  SC MALE 
    END-POINT  57987.113          64365.996          11625.618  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J81                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
END-POSITION-OPEN 
    CO-ORDS  57987.113          64365.996          11573.038 
ELBOW
    END-POINT  57988.033          64365.996          11626.538  1  SC FEMALE 
    END-POINT  57987.113          64365.996          11625.618  1  SC FEMALE 
    CENTRE-POINT   57987.113          64365.996          11626.538 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J7W                 
    PIPING-SPEC C1
    ANGLE 9000
SCREWED-WELD
    END-POINT  57988.033          64365.996          11626.538  1  SC MALE 
    END-POINT  57988.033          64365.996          11626.538  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J7Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  57988.033          64365.996          11626.538  1  SC MALE 
    END-POINT  57994.933          64365.996          11626.538  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J7Y                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  57994.933          64365.996          11626.538  1  SC MALE 
    END-POINT  57994.933          64365.996          11626.538  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J80                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
FLANGE
    END-POINT  57994.933          64365.996          11626.538  1  FL
    END-POINT  57994.933          64365.996          11626.538  1  SC FEMALE 
    SKEY FLSC
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J7T                 
    PIPING-SPEC C1
GASKET
    END-POINT  57994.933          64365.996          11626.538  1
    END-POINT  57994.996          64365.996          11626.538  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J7U                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57994.933          64365.996          11626.538 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J7V                 
VALVE-ANGLE
    END-POINT  58000.183          64365.996          11620.351  0.75  FL
    END-POINT  57994.996          64365.996          11626.538  1  FL
    CENTRE-POINT   58000.183          64365.996          11626.538 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_J5F                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58000.183          64365.996          11620.351 
    PIPELINE-REFERENCE ISO-PY3-1214014
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPBOOTLEG-1
    DESCRIPTION PIPE SUPPORT, P660
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION THREADED FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
