ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213003
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212_A.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1213003-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/14/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/8/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/23/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RJR
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/23/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 DC
    ATTRIBUTE49 BL
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 8/31/2012
    ATTRIBUTE54 DBH
    ATTRIBUTE55 KC
    ATTRIBUTE56 DD
    ATTRIBUTE57 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58274.300          64137.317          11290.615  0.75  SC FEMALE 
    END-POINT  58274.300          64137.317          11289.675  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_12                  
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58274.300          64137.317          11289.675 
SCREWED-WELD
    END-POINT  58274.300          64137.317          11290.615  0.75  SC FEMALE 
    END-POINT  58274.300          64137.317          11290.615  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_13                  
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58274.300          64137.317          11292.615  0.75  PL
    END-POINT  58274.300          64137.317          11290.615  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_14                  
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58274.300          64137.317          11292.615  0.75
    END-POINT  58274.300          64137.317          11292.615  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_15                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58274.300          64137.317          11294.595  0.75  SW FEMALE 
    END-POINT  58274.300          64137.317          11292.615  0.75  SW FEMALE 
    CENTRE-POINT   58274.300          64137.317          11293.620 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_16                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58274.300          64137.317          11294.595  0.75  SW FEMALE 
    END-POINT  58274.300          64137.317          11294.595  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_18                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58274.300          64137.317          11298.125  0.75  BW
    END-POINT  58274.300          64137.317          11294.595  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_19                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58274.300          64137.317          11298.125  0.75
    END-POINT  58274.300          64137.317          11298.125  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1A                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58274.300  64137.317  11300.188 
    BRANCH1-POINT  58274.300          64137.317          11298.125  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1B                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58274.300  64137.317  11300.188  2
    END-POINT  58274.300  64137.317  11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1C                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58270.025          64137.317          11300.188  2  BW
    END-POINT  58282.300          64137.317          11300.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1D                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58277.214  64137.317  11300.188 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58270.025          64137.317          11300.188  2
    END-POINT  58270.025          64137.317          11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1G                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58282.300          64137.317          11300.188  2
    END-POINT  58282.300          64137.317          11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1H                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58282.300          64137.317          11300.188  2  BW
    END-POINT  58287.300          64137.317          11300.188  2  BW
    CENTRE-POINT   58284.800          64137.317          11300.188 
    BRANCH1-POINT  58284.800          64139.817          11300.188  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1I                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58287.300          64137.317          11300.188  2
    END-POINT  58287.300          64137.317          11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1J                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58284.800          64139.817          11300.188  2
    END-POINT  58284.800          64139.817          11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1K                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58289.800          64137.317          11300.188  2  FL
    END-POINT  58287.300          64137.317          11300.188  2  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1Q                  
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58289.800          64137.317          11300.188 
    PIPELINE-REFERENCE ISO-PY3-1213004
ELBOW
    END-POINT  58284.800          64142.817          11303.188  2  BW
    END-POINT  58284.800          64139.817          11300.188  2  BW
    CENTRE-POINT   58284.800          64142.817          11300.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1L                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58284.800          64142.817          11303.188  2
    END-POINT  58284.800          64142.817          11303.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1M                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58284.800          64142.817          11305.688  2  FL
    END-POINT  58284.800          64142.817          11303.188  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_1N                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58284.800          64142.817          11305.688  2
    END-POINT  58284.800          64142.817          11305.813  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_MM                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58284.800          64142.817          11305.688 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_MN                  
NOZZLE
    CO-ORDS  58284.800          64142.817          11305.813  2  FL
    CONNECTION-REFERENCE PY3-003$NOZZLE TAG PY3-003-K$RATING 150LB$FACING RF
FLANGE
    END-POINT  58267.525          64137.317          11300.188  2  FL
    END-POINT  58270.025          64137.317          11300.188  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2O                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58267.525          64137.317          11300.188  2
    END-POINT  58267.400          64137.317          11300.188  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2P                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58267.400          64137.317          11300.188 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2Q                  
VALVE
    END-POINT  58267.400          64137.317          11300.188  2  FL
    END-POINT  58260.400          64137.317          11300.188  2  FL
    CENTRE-POINT   58263.900          64137.317          11300.188 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2R                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SUPPORT
    CO-ORDS  58263.900  64137.317  11300.188  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPAB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2T                  
    TAG                         P616 FIG.2                      
GASKET
    END-POINT  58260.400          64137.317          11300.188  2
    END-POINT  58260.275          64137.317          11300.188  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2U                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58260.275          64137.317          11300.188 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2V                  
FLANGE
    END-POINT  58260.275          64137.317          11300.188  2  FL
    END-POINT  58257.775          64137.317          11300.188  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2W                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58257.775          64137.317          11300.188  2
    END-POINT  58257.775          64137.317          11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2X                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58254.775          64137.317          11300.188  2  BW
    END-POINT  58257.775          64137.317          11300.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2Y                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58254.775          64137.317          11300.188  2
    END-POINT  58254.775          64137.317          11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_2Z                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58251.775          64134.317          11300.188  2  BW
    END-POINT  58254.775          64137.317          11300.188  2  BW
    CENTRE-POINT   58251.775          64137.317          11300.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_30                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58251.775  64137.317  11300.188 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58251.775  64138.748  11300.188 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58251.775  64137.317  11300.188 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64137.317  11300.188 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58251.775          64134.317          11300.188  2
    END-POINT  58251.775          64134.317          11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_M7                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58251.775          64134.317          11300.188  2  BW
    END-POINT  58251.775          64118.567          11300.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_M6                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58251.775  64124.780  11300.188 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58251.775          64118.567          11300.188  2
    END-POINT  58251.775          64118.567          11300.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_M8                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58251.775          64115.067          11299.625  3  BW
    END-POINT  58251.775          64118.567          11300.188  2  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_3J                  
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  58251.775          64115.067          11299.625  3
    END-POINT  58251.775          64115.067          11299.625  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_3K                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58251.775          64111.947          11299.625  3  FL
    END-POINT  58251.775          64115.067          11299.625  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_3L                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58251.775          64111.947          11299.625  3
    END-POINT  58251.806          64111.822          11299.625  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_ME                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58251.775          64111.947          11299.625 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_MF                  
PIPE
    END-POINT  58251.806          64111.822          11299.625  3  
    END-POINT  58251.806          64111.826          11299.625  3  
    CONTINUATION 
    MESSAGE This is a GAP 
NOZZLE
    CO-ORDS  58251.806          64111.822          11299.625  3  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58251.806          64111.822          11299.625 
    TEXT PY3-021$(1)$NOZZLE TAG PY3-021$(1)-PY3021SUCTION$(1)$RATING 300LB$FACIN
    TEXT G RF
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE WOL2X3/4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE SUPAB-2
    DESCRIPTION ADJUSTABLE SUPPORT P616 FIG.2
ITEM-CODE REDECC3X2
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
