ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2034010
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 CWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2034010-CWS-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-034-00
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 12/30/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/30/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 12/30/2008
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 12/30/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 12/30/2008
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 12/30/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 NK
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 4/14/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45  REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  57972.562          63991.500          11831.731  0.5  SC FEMALE 
    END-POINT  57972.562          63991.500          11832.171  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCD                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57972.562          63991.500          11831.731  0.5  SC FEMALE 
    END-POINT  57972.562          63991.500          11831.731  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57972.562          63991.500          11829.731  0.5  SC MALE 
    END-POINT  57972.562          63991.500          11831.731  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57972.562          63991.500          11829.731  0.5  SC MALE 
    END-POINT  57972.562          63991.500          11829.731  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCC                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  57972.562          63991.500          11828.251  0.5  SC FEMALE 
    END-POINT  57972.562          63991.500          11829.731  0.5  SC FEMALE 
    CENTRE-POINT   57972.562          63991.500          11828.991 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CC7                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SCREWED-WELD
    END-POINT  57972.562          63991.500          11828.251  0.5  SC FEMALE 
    END-POINT  57972.562          63991.500          11828.251  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CC8                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57972.562          63991.500          11824.251  0.5  SC MALE 
    END-POINT  57972.562          63991.500          11828.251  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.360
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CC5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57972.562          63991.500          11824.251  0.5  SC MALE 
    END-POINT  57972.562          63991.500          11824.251  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CC6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOLET
    END-POINT  57972.562          63991.500          11823.087  3  PL
    END-POINT  57972.562          63991.500          11824.251  0.5  SC FEMALE 
    SKEY CESC
    FABRICATION-ITEM
    ITEM-CODE EOL3X1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CC0                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57972.562          63991.500          11823.087  3
    END-POINT  57972.562          63991.500          11823.087  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CC2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  57972.562          63996.000          11823.250  3  BW
    END-POINT  57972.562          63991.500          11818.750  3  BW
    CENTRE-POINT   57972.562          63991.500          11823.250 
    BRANCH1-POINT  57972.562          63991.500          11823.087  3
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CB0                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP2
    CO-ORDS  57972.562          63991.500          11823.087  3
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57972.562  63991.500  11823.250 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63991.500  11823.250 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57972.562  63991.500  11823.250 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57972.562  63898.800  11823.250 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57972.562          63996.000          11823.250  3
    END-POINT  57972.562          63996.000          11823.250  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CB2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  57972.562          63991.500          11818.750  3
    END-POINT  57972.562          63991.500          11818.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CB4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  57972.562          63991.500          11818.750  3  BW
    END-POINT  57972.562          63991.500          11812.503  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CB3                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57972.562          63991.500          11812.503  3
    END-POINT  57972.562          63991.500          11812.503  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CB5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57972.562          63991.500          11812.503  3
    END-POINT  57972.562          63991.500          11812.503  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CB6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57972.562          63991.500          11812.224  3  FL
    END-POINT  57972.562          63991.500          11812.503  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAX                 
    PIPING-SPEC C1
GASKET
    END-POINT  57972.562          63991.500          11812.224  3
    END-POINT  57972.562          63991.500          11812.162  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAY                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57972.562          63991.500          11812.224 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAZ                 
VALVE
    END-POINT  57972.562          63991.500          11810.349  3  FL
    END-POINT  57972.562          63991.500          11812.162  3  FL
    CENTRE-POINT   57972.562          63991.500          11811.256 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAR                 
    PIPING-SPEC C1
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  57972.562          63991.500          11810.349  3
    END-POINT  57972.562          63991.500          11810.287  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAS                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57972.562          63991.500          11810.349 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAT                 
FLANGE
    END-POINT  57972.562          63991.500          11810.287  3  FL
    END-POINT  57972.562          63991.500          11810.008  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAO                 
    PIPING-SPEC C1
WELD
    END-POINT  57972.562          63991.500          11810.008  3
    END-POINT  57972.562          63991.500          11810.008  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57972.562          63991.500          11810.008  3
    END-POINT  57972.562          63991.500          11810.008  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CAQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57972.562          63991.500          11810.008  3  BW
    END-POINT  57972.562          63991.500          11762.491  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C2A                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57972.562  63991.500  11784.004  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C2Z                 
WELD
    END-POINT  57972.562          63991.500          11762.491  3
    END-POINT  57972.562          63991.500          11762.491  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C2Q                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  57972.562  63991.500  11794.437  3
    END-POINT  57972.562  63991.500  11794.437  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C8T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57972.562  63991.500  11794.437 
    BRANCH1-POINT  57970.187          63991.500          11794.437  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C8R                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57970.187          63991.500          11794.437  1  SC MALE 
    END-POINT  57970.187          63991.500          11794.437  1  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9G                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57964.398          63991.500          11794.437  1  SC MALE 
    END-POINT  57970.187          63991.500          11794.437  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C9E                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57964.398          63991.500          11794.437 
    PIPELINE-REFERENCE ISO-PY3-1222019
ELBOW
    END-POINT  57972.562          63991.500          11762.491  3  BW
    END-POINT  57969.381          63994.682          11757.991  3  BW
    CENTRE-POINT   57972.562          63991.500          11757.991 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C2O                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57969.381          63994.682          11757.991  3
    END-POINT  57969.381          63994.682          11757.991  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57955.557          64008.506          11757.991  3  BW
    END-POINT  57969.381          63994.682          11757.991  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCL                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57955.557          64008.506          11757.991  3
    END-POINT  57955.557          64008.506          11757.991  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57955.557          64008.506          11757.991  3  BW
    END-POINT  57952.142          64009.920          11757.991  3  BW
    CENTRE-POINT   57954.142          64009.920          11757.991 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57952.142          64009.920          11757.991  3
    END-POINT  57952.142          64009.920          11757.991  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCO                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57952.142          64009.920          11757.991  3  BW
    END-POINT  57803.307          64009.920          11758.000  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B8D                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57909.997  64009.920  11758.000  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B8E                 
SUPPORT
    CO-ORDS  57856.213  64009.920  11758.000  3
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B8F                 
FLOW-ARROW
    CO-ORDS  57880.763  64009.920  11758.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57803.307          64009.920          11758.000  3
    END-POINT  57803.307          64009.920          11758.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C2G                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57803.307          64009.920          11758.000  3  BW
    END-POINT  57798.807          64009.920          11753.500  3  BW
    CENTRE-POINT   57798.807          64009.920          11758.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B8H                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57798.807          64009.920          11753.500  3
    END-POINT  57798.807          64009.920          11753.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C2L                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57798.807          64009.920          11753.500  3  BW
    END-POINT  57798.808          64009.920          11749.630  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C2K                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57798.808          64009.920          11749.630  3
    END-POINT  57798.808          64009.920          11749.630  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CCH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57798.808          64005.800          11745.750  4  BW
    END-POINT  57798.808          64014.040          11745.750  4  BW
    CENTRE-POINT   57798.808          64009.920          11745.750 
    BRANCH1-POINT  57798.808          64009.920          11749.630  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G3V                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57798.808          64005.800          11745.750 
    PIPELINE-REFERENCE ISO-PY3-2034007
FLANGE
    END-POINT  57972.562          63998.750          11823.250  3  FL
    END-POINT  57972.562          63996.000          11823.250  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_C23                 
    PIPING-SPEC C1
GASKET
    END-POINT  57972.562          63998.750          11823.250  3
    END-POINT 
** 
Processing ID: AT_1XSJ596O_CBX  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS3_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBX                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57972.562          63998.750          11823.250 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CBY                 
END-POSITION-OPEN 
    CO-ORDS  57972.562  63998.750  11823.250 
MATERIALS
ITEM-CODE CAP1/2
    CATALOG ANSI B16.3
    DESCRIPTION CAP, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION NIPPLE, 1/2"x2" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-001
    RATING 275LB
ITEM-CODE NIPP1/2_1
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION NIPPLE, 1/2"x4" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 4"
    RATING 80
ITEM-CODE EOL3X1/2
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SCF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ASME B16.21
    DESCRIPTION GASKET, FULL FACE, 150LB, FF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 1 1/2 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
ITEM-CODE SUPRH-3
    DESCRIPTION RISER CLAMP , GUIDE,  P615, FIG.5
ITEM-CODE TOL3X1
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE 45LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPRH-3_1
    DESCRIPTION GENERAL HANGER, L=1'-1", P624 FIG 4
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3_1
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
