ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2051018
PIPING-SPEC S11
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5241.DWG
    ATTRIBUTE98 PW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2051018-PW-S11
    ATTRIBUTE95 I1
    ATTRIBUTE94 S11
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-051
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/16/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BJL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 10/5/2012
    ATTRIBUTE54 JK
    ATTRIBUTE55 DD
    ATTRIBUTE56 DK
    ATTRIBUTE57 REV. SUPT.& DELEDTED VENT/VALVE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FILTER
    END-POINT  58067.800          64138.800          12019.993  1.25  PL
    END-POINT  58067.800          64138.800          12017.062  1.25  SC MALE 
    SKEY FISC
    FABRICATION-ITEM
    ITEM-CODE ADPT5961+1/4X1+1/4
    WEIGHT           0.520
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQM                 
    PIPING-SPEC S11
    INSULATION-ON 
MESSAGE
    CO-ORDS  58067.800  64138.800  12017.750 
    TEXT TO 4th FLOOR$SAFETY SHOWER
    UNDIMENSIONED
MESSAGE-ROUND
    CO-ORDS  58067.800  64138.800  12017.750 
    TEXT SP-753
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58067.800          64138.800          12017.062 
REDUCER-CONCENTRIC
    END-POINT  58067.800          64138.800          12024.243  1.5  PL
    END-POINT  58067.800          64138.800          12019.993  1.25  PL
    SKEY RCPL
    FABRICATION-ITEM
    ITEM-CODE RED5941+1/2X1+1/4
    WEIGHT           0.430
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQO                 
    PIPING-SPEC S11
    INSULATION-ON 
FILTER
    END-POINT  58067.800          64138.800          12024.243  1.5  PL
    END-POINT  58067.800          64138.800          12029.683  1.5  PL
    SKEY FIPL
    ERECTION-ITEM
    ITEM-CODE UNN5841+1/2
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQP                 
    PIPING-SPEC S11
    INSULATION-ON 
PIPE
    END-POINT  58067.800          64138.800          12029.683  1.5  PL
    END-POINT  58067.800          64138.800          12036.683  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQQ                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58067.800          64138.800          12036.683  1.5  PL
    END-POINT  58067.800          64144.030          12041.913  1.5  PL
    CENTRE-POINT   58067.800          64138.800          12041.913 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQR                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
PIPE
    END-POINT  58067.800          64153.030          12041.913  1.5  PL
    END-POINT  58067.800          64144.030          12041.913  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQS                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58067.800          64153.030          12041.913  1.5  PL
    END-POINT  58062.570          64158.260          12041.913  1.5  PL
    CENTRE-POINT   58067.800          64158.260          12041.913 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQT                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58067.800  64151.530  12041.913 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64151.530  12041.913 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL 2
PIPE
    END-POINT  58034.943          64158.260          12041.913  1.5  PL
    END-POINT  58062.570          64158.260          12041.913  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KH8                 
    PIPING-SPEC S11
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58042.872  64158.260  12041.913 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58057.269  64158.260  12041.913  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KH9                 
    TAG                         P651-FIG 1                      
SUPPORT
    CO-ORDS  58057.579  64158.260  12041.913  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KHD                 
    TAG                         P651-FIG 1                      
ELBOW
    END-POINT  58034.943          64158.260          12041.913  1.5  PL
    END-POINT  58029.713          64154.562          12038.214  1.5  PL
    CENTRE-POINT   58029.713          64158.260          12041.913 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 90L5901+1/2
    WEIGHT           1.380
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQY                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58036.443  64158.260  12041.913 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58036.443  64138.800  12041.913 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY BLD 
    MESSAGE
    TEXT COL F
PIPE
    END-POINT  58029.713          64149.980          12033.632  1.5  PL
    END-POINT  58029.713          64154.562          12038.214  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR0                 
    PIPING-SPEC S11
    INSULATION-ON 
ELBOW
    END-POINT  58029.713          64149.980          12033.632  1.5  PL
    END-POINT  58029.713          64147.505          12027.658  1.5  PL
    CENTRE-POINT   58029.713          64147.505          12031.158 
    SKEY ELPL
    FABRICATION-ITEM
    ITEM-CODE 45L5911+1/2
    WEIGHT           1.270
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR1                 
    PIPING-SPEC S11
    INSULATION-ON 
    ANGLE 4500
PIPE
    END-POINT  58029.713          64147.505          12027.658  1.5  PL
    END-POINT  58029.713          64147.505          11946.723  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIPPF1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR2                 
    PIPING-SPEC S11
    INSULATION-ON 
FILTER
    END-POINT  58029.713          64147.505          11946.723  1.5  PL
    END-POINT  58029.713          64147.505          11946.573  1.5  PL
    SKEY FIPL
    CONTINUATION 
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IR3                 
    PIPING-SPEC S11
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58029.713          64147.505          11946.573 
    PIPELINE-REFERENCE ISO-PY3-2051006
MATERIALS
ITEM-CODE ADPT5961+1/4X1+1/4
    CATALOG VICTAULIC
    DESCRIPTION MALE THRD ADAPTER, PRESSFIT STYLE 596, ASTM A312 GR 304/304L
ITEM-CODE RED5941+1/2X1+1/4
    CATALOG VICTAULIC
    DESCRIPTION CONC REDUCER, PRESSFIT STYLE 594, ASTM A312 GR 304/304L
ITEM-CODE UNN5841+1/2
    CATALOG VICTAULIC
    DESCRIPTION UNION, PRESSFIT, STYLE 584, ASTM A312 GR 304/304L
ITEM-CODE PIPPF1+1/2
    CATALOG VICTAULIC
    DESCRIPTION PIPE, PRESSFIT STYLE 905, ASTM A312 GR 304/304L - 0"
    RATING 5S
ITEM-CODE 90L5901+1/2
    CATALOG VICTAULIC
    DESCRIPTION 90 DEG LR ELBOW, PRESSFIT STYLE 590, ASTM A312 GR 304/304L
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION P651-FIG 1 GUIDE PIPE INSULATION SADDLE WITH P629 FIG.9
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION P651-FIG 1 U BOLT GUIDE
ITEM-CODE 45L5911+1/2
    CATALOG VICTAULIC
    DESCRIPTION 45 DEG ELBOW, PRESSFIT STYLE 591, ASTM A312 GR 304/304L
