ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1219015
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1219015-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-019
    ATTRIBUTE21 SG
    ATTRIBUTE22 10/26/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/29/2008
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/14/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SG
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 9/14/2012
    ATTRIBUTE48 DBH
    ATTRIBUTE49 KC
    ATTRIBUTE50 DD
    ATTRIBUTE51 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58025.675          64191.805          11296.500  1.5  FL
    END-POINT  58025.479          64191.805          11296.500  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5YI                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58025.675          64191.805          11296.500  1.5
    END-POINT  58025.800          64191.805          11296.500  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VU                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58025.675          64191.805          11296.500 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VV                 
WELD
    END-POINT  58025.479          64191.805          11296.500  1.5
    END-POINT  58025.479          64191.805          11296.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_679                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58025.479          64191.805          11296.500  1.5
    END-POINT  58025.479          64191.805          11296.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_67A                 
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
NOZZLE
    CO-ORDS  58025.800          64191.805          11296.500  1.5  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58025.800          64191.805          11296.500 
    TEXT PY3-077$NOZZLE TAG PY3-077-SUCTION$RATING 300LB$FACING RF
PIPE
    END-POINT  58006.985          64191.805          11296.500  1.5  BW
    END-POINT  58025.479          64191.805          11296.500  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_7VQ                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58021.248  64191.805  11296.500 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58006.985          64191.805          11296.500  1.5
    END-POINT  58006.985          64191.805          11296.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_676                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58006.985          64191.805          11296.500  1.5  BW
    END-POINT  58004.735          64191.805          11298.750  1.5  BW
    CENTRE-POINT   58004.735          64191.805          11296.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3I5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58004.735  64191.805  11296.500  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_62K                 
WELD
    END-POINT  58004.735          64191.805          11298.750  1.5
    END-POINT  58004.735          64191.805          11298.750  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58004.735          64191.805          11322.793  1.5  PL
    END-POINT  58004.735          64191.805          11298.750  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61G                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64191.805          11322.793  1.5
    END-POINT  58004.735          64191.805          11322.793  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64191.805          11322.793  1.5
    END-POINT  58004.735          64191.805          11322.793  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58004.735          64191.805          11323.000  1.5  FL
    END-POINT  58004.735          64191.805          11322.793  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61D                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58004.735          64191.805          11323.125  1.5
    END-POINT  58004.735          64191.805          11323.000  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61L                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58004.735          64191.805          11323.125 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61M                 
VALVE
    END-POINT  58004.735          64191.805          11323.125  1.5  FL
    END-POINT  58004.735          64191.805          11329.625  1.5  FL
    CENTRE-POINT   58004.735          64191.805          11326.375 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61K                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58004.735          64191.805          11329.750  1.5
    END-POINT  58004.735          64191.805          11329.625  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58004.735          64191.805          11329.750 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61R                 
FLANGE
    END-POINT  58004.735          64191.805          11329.750  1.5  FL
    END-POINT  58004.735          64191.805          11329.958  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61P                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64191.805          11329.958  1.5
    END-POINT  58004.735          64191.805          11329.958  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.735          64191.805          11329.958  1.5
    END-POINT  58004.735          64191.805          11329.958  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58004.735          64191.805          11329.958  1.5  PL
    END-POINT  58004.735          64191.805          11377.250  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61S                 
    PIPING-SPEC S1
    INSULATION-ON 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58004.735  64191.805  11367.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58004.735  64138.800  11367.500 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58004.735  64191.805  11367.500 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64191.805  11367.500 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58004.735          64191.805          11377.250  1.5
    END-POINT  58004.735          64191.805          11377.250  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_620                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58004.735          64191.805          11377.250  1.5  BW
    END-POINT  58004.735          64194.055          11379.500  1.5  BW
    CENTRE-POINT   58004.735          64191.805          11379.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_61Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58004.735          64194.055          11379.500  1.5
    END-POINT  58004.735          64194.055          11379.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_622                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58004.735          64194.055          11379.500  1.5  BW
    END-POINT  58004.735          64210.055          11379.500  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_621                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58004.735  64203.100  11379.500 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58004.735          64210.055          11379.500  1.5
    END-POINT  58004.735          64210.055          11379.500  1.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_623                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58004.735          64214.555          11379.500  1.5  BW
    END-POINT  58004.735          64210.055          11379.500  1.5  BW
    CENTRE-POINT   58004.735          64212.305          11379.500 
    BRANCH1-POINT  58004.735          64212.305          11381.750  1.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5ZI                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58004.735          64214.555          11379.500 
    PIPELINE-REFERENCE ISO-PY3-1219014
MATERIALS
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 300LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION PIPE SUPPORT, P619 FIG 2 , L=1'-4 7/16"
ITEM-CODE FLGSLP1+1/2_1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2_1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
