ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036046
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036046-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/23/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/16/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BJL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/2/2012
    ATTRIBUTE54 KDC
    ATTRIBUTE55 AP
    ATTRIBUTE56 DK
    ATTRIBUTE57 REVISED PSV SIZE AND END OF PIPE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57808.630          63912.675          11884.190  3  BW
    END-POINT  57804.630          63912.675          11884.190  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    SPOOL-IDENTIFIER 1              
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CKQ                 
    PIPING-SPEC S1
    CUT-PIECE-ALLOWANCE EP2 1.75
WELD
    END-POINT  57808.630          63912.675          11884.190  3
    END-POINT  57808.630          63912.675          11884.190  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CLC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  57804.630          63912.675          11884.190 
PIPE
    END-POINT  57822.442          63912.675          11884.190  3  BW
    END-POINT  57808.630          63912.675          11884.190  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CKO                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57815.631  63912.675  11884.190  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CL4                 
WELD
    END-POINT  57822.442          63912.675          11884.190  3
    END-POINT  57822.442          63912.675          11884.190  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CLB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57825.442          63912.675          11881.190  3  BW
    END-POINT  57822.442          63912.675          11884.190  3  BW
    CENTRE-POINT   57825.442          63912.675          11884.190 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CKZ                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57825.442  63912.675  11884.190 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57825.442  63898.800  11884.190 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL.
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57825.442  63912.675  11884.190 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.050  63912.675  11884.190 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL.
WELD
    END-POINT  57825.442          63912.675          11881.190  3
    END-POINT  57825.442          63912.675          11881.190  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CLA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57825.442          63912.675          11881.190  3  BW
    END-POINT  57825.442          63912.675          11867.190  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CKL                 
    PIPING-SPEC S1
WELD
    END-POINT  57825.442          63912.675          11867.190  3
    END-POINT  57825.442          63912.675          11867.190  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CL9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57822.442          63912.675          11864.190  3  BW
    END-POINT  57825.442          63912.675          11867.190  3  BW
    CENTRE-POINT   57825.442          63912.675          11864.190 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CKV                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57822.442          63912.675          11864.190  3
    END-POINT  57822.442          63912.675          11864.190  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57819.692          63912.675          11864.190  3  FL
    END-POINT  57822.442          63912.675          11864.190  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPH                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57814.692  63912.675  11864.190 
    TEXT PSV$036$04
    UNDIMENSIONED
GASKET
    END-POINT  57819.692          63912.675          11864.190  3
    END-POINT  57819.567          63912.675          11864.190  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPI                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57819.692          63912.675          11864.190 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPJ                 
VALVE-ANGLE
    END-POINT  57814.692          63912.675          11859.065  1.5  FL
    END-POINT  57819.567          63912.675          11864.190  3  FL
    CENTRE-POINT   57814.692          63912.675          11864.190 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPB                 
    TAG PSV-036-04                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  57814.692          63912.675          11859.065 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-3
    DESCRIPTION ANGLED U BOLT SUPPORT, L=1'-6", P625 FIG 4
ITEM-CODE 90LSR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG SR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
