ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213006
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212_A.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1213006-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/17/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 10/9/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/27/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 RJR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58258.834          64107.822          11318.440  0.5  PL
    END-POINT  58261.834          64107.822          11318.440  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LV                  
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58261.334  64107.822  11318.440 
    TEXT PI$021$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58258.834          64107.822          11318.440  0.5
    END-POINT  58258.834          64107.822          11318.440  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LW                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58261.834          64107.822          11318.440 
VALVE
    END-POINT  58257.154          64107.822          11318.440  0.5  SW FEMALE 
    END-POINT  58258.834          64107.822          11318.440  0.5  SW FEMALE 
    CENTRE-POINT   58258.039          64107.822          11318.440 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LR                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58257.154          64107.822          11318.440  0.5  SW FEMALE 
    END-POINT  58257.154          64107.822          11318.440  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LS                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58253.744          64107.822          11318.440  0.5  BW
    END-POINT  58257.154          64107.822          11318.440  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LP                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58253.744          64107.822          11318.440  0.5
    END-POINT  58253.744          64107.822          11318.440  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LQ                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58251.806  64107.822  11318.440 
    BRANCH1-POINT  58253.744          64107.822          11318.440  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LN                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58251.806  64107.822  11318.440  2
    END-POINT  58251.806  64107.822  11318.440  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LO                  
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58251.806          64107.822          11320.940  2  BW
    END-POINT  58251.806          64107.822          11315.940  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LJ                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58251.806          64107.822          11320.940  2
    END-POINT  58251.806          64107.822          11320.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LK                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58251.806          64107.822          11315.940  2
    END-POINT  58251.806          64107.822          11315.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_LL                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58251.806          64107.822          11315.940  2  BW
    END-POINT  58251.806          64107.822          11312.940  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_B5                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58251.806          64107.822          11312.940  1.5
    END-POINT  58251.806          64107.822          11312.940  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_B6                  
    THICKNESS/RATING 300LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58251.806          64107.822          11310.250  1.5  FL
    END-POINT  58251.806          64107.822          11312.940  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_B7                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58251.806          64107.822          11310.250  1.5
    END-POINT  58251.806          64107.822          11310.125  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_EQ                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 300LB          
BOLT
    CO-ORDS  58251.806          64107.822          11310.250 
    BOLT-DIA           0.750
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_ER                  
END-POSITION-OPEN 
    CO-ORDS  58251.806          64107.822          11310.125 
ELBOW
    END-POINT  58251.806          64107.822          11320.940  2  BW
    END-POINT  58254.806          64107.822          11323.940  2  BW
    CENTRE-POINT   58251.806          64107.822          11323.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_56                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58254.806          64107.822          11323.940  2
    END-POINT  58254.806          64107.822          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_57                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58254.806          64107.822          11323.940  2  BW
    END-POINT  58257.162          64106.846          11323.940  2  BW
    CENTRE-POINT   58256.186          64107.822          11323.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_58                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58257.162          64106.846          11323.940  2
    END-POINT  58257.162          64106.846          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_59                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58257.162          64106.846          11323.940  2  BW
    END-POINT  58261.900          64102.119          11323.940  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5A                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58261.900          64102.119          11323.940  2
    END-POINT  58261.900          64102.119          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5B                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58261.900          64102.119          11323.940  2
    END-POINT  58261.900          64102.119          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5C                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58262.053          64101.966          11323.940  2  FL
    END-POINT  58261.900          64102.119          11323.940  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5D                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58262.053          64101.966          11323.940  2
    END-POINT  58262.141          64101.878          11323.940  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5E                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58262.141          64101.878          11323.940 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5F                  
VALVE
    END-POINT  58262.141          64101.878          11323.940  2  FL
    END-POINT  58267.798          64096.221          11323.940  2  FL
    CENTRE-POINT   58264.970          64099.049          11323.940 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK2
    WEIGHT          24.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5G                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58267.798          64096.221          11323.940  2
    END-POINT  58267.887          64096.132          11323.940  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5H                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58267.887          64096.132          11323.940 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5I                  
FLANGE
    END-POINT  58267.887          64096.132          11323.940  2  FL
    END-POINT  58268.040          64095.979          11323.940  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5J                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58268.040          64095.979          11323.940  2
    END-POINT  58268.040          64095.979          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5K                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58268.040          64095.979          11323.940  2
    END-POINT  58268.040          64095.979          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5L                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58268.040          64095.979          11323.940  2  PL
    END-POINT  58272.282          64091.737          11323.940  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5M                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58272.282          64091.737          11323.940  2
    END-POINT  58272.282          64091.737          11323.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5N                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58272.282          64091.737          11323.940  2  BW
    END-POINT  58274.404          64089.615          11326.940  2  BW
    CENTRE-POINT   58274.404          64089.615          11323.940 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5O                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58274.404  64089.615  11323.940  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5P                  
    TAG                         P619 FIG. 1                     
WELD
    END-POINT  58274.404          64089.615          11326.940  2
    END-POINT  58274.404          64089.615          11326.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5Q                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58274.404          64089.615          11326.940  2  BW
    END-POINT  58274.404          64089.615          11329.940  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5R                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58274.404          64089.615          11329.940  2
    END-POINT  58274.404          64089.615          11329.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5S                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58274.404          64089.615          11329.940  2
    END-POINT  58274.404          64089.615          11329.940  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5T                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58274.404          64089.615          11330.156  2  FL
    END-POINT  58274.404          64089.615          11329.940  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5U                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58274.404          64089.615          11330.156  2
    END-POINT  58274.404          64089.615          11330.281  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5V                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58274.404          64089.615          11330.281 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5W                  
VALVE
    END-POINT  58274.404          64089.615          11330.281  2  FL
    END-POINT  58274.404          64089.615          11337.281  2  FL
    CENTRE-POINT   58274.404          64089.615          11333.781 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL2
    WEIGHT          16.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5X                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58274.404          64089.615          11337.281  2
    END-POINT  58274.404          64089.615          11337.406  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_5Z                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58274.404          64089.615          11337.406 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_60                  
FLANGE
    END-POINT  58274.404          64089.615          11337.406  2  FL
    END-POINT  58274.404          64089.615          11337.623  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_61                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58274.404          64089.615          11337.623  2
    END-POINT  58274.404          64089.615          11337.623  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_62                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58274.404          64089.615          11337.623  2
    END-POINT  58274.404          64089.615          11337.623  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_63                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58274.404          64089.615          11362.248  2  BW
    END-POINT  58274.404          64089.615          11337.623  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_64                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58274.404  64089.615  11349.912 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58274.404          64089.615          11362.248  2
    END-POINT  58274.404          64089.615          11362.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_66                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58274.404          64089.615          11362.248  2  BW
    END-POINT  58274.404          64092.615          11365.248  2  BW
    CENTRE-POINT   58274.404          64089.615          11365.248 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_67                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58274.404          64092.615          11365.248  2
    END-POINT  58274.404          64092.615          11365.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_68                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58274.404          64092.615          11365.248  2  BW
    END-POINT  58274.404          64105.334          11365.248  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_69                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58274.404          64105.334          11365.248  2
    END-POINT  58274.404          64105.334          11365.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6A                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58271.904          64107.834          11365.248  2  BW
    END-POINT  58276.904          64107.834          11365.248  2  BW
    CENTRE-POINT   58274.404          64107.834          11365.248 
    BRANCH1-POINT  58274.404          64105.334          11365.248  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6B                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58271.904          64107.834          11365.248  2
    END-POINT  58271.904          64107.834          11365.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6C                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58276.904          64107.834          11365.248  2
    END-POINT  58276.904          64107.834          11365.248  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_FN                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58281.458          64107.840          11365.248  2  BW
    END-POINT  58276.904          64107.834          11365.248  2  BW
    CONTINUATION 
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_6E                  
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58281.458          64107.840          11365.248 
    PIPELINE-REFERENCE ISO-PY3-1213005
PIPE
    END-POINT  58254.806          64107.822          11365.252  2  BW
    END-POINT  58271.904          64107.834          11365.248  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_85                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58264.331  64107.829  11365.250 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58254.806          64107.822          11365.252  2
    END-POINT  58254.806          64107.822          11365.252  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_87                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58251.806          64107.822          11368.252  2  BW
    END-POINT  58254.806          64107.822          11365.252  2  BW
    CENTRE-POINT   58251.806          64107.822          11365.252 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_88                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58251.806          64107.822          11368.252  2
    END-POINT  58251.806          64107.822          11368.252  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_89                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58251.806          64107.822          11386.002  2  BW
    END-POINT  58251.806          64107.822          11368.252  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8A                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58251.806          64107.822          11386.002  2
    END-POINT  58251.806          64107.822          11386.002  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8B                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58251.806          64107.822          11386.002  2  BW
    END-POINT  58248.806          64107.822          11389.002  2  BW
    CENTRE-POINT   58251.806          64107.822          11389.002 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8C                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58251.806  64107.822  11389.002 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58251.806  64138.748  11389.002 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58251.806  64107.822  11389.002 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64107.822  11389.002 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58248.806          64107.822          11389.002  2
    END-POINT  58248.806          64107.822          11389.002  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_FC                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58193.571          64107.822          11389.002  2  BW
    END-POINT  58248.806          64107.822          11389.002  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_FA                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58193.571          64107.822          11389.002  2
    END-POINT  58193.571          64107.822          11389.002  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_FB                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58193.571          64107.822          11389.002  2  BW
    END-POINT  58191.216          64106.846          11389.002  2  BW
    CENTRE-POINT   58192.191          64107.822          11389.002 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8J                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58191.216          64106.846          11389.002  2
    END-POINT  58191.216          64106.846          11389.002  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8K                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58181.261          64096.891          11389.002  2  BW
    END-POINT  58191.216          64106.846          11389.002  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8L                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58181.261          64096.891          11389.002  2
    END-POINT  58181.261          64096.891          11389.002  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8M                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58181.261          64096.891          11389.002  2  BW
    END-POINT  58178.905          64095.915          11389.002  2  BW
    CENTRE-POINT   58180.285          64095.915          11389.002 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8N                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58178.905          64095.915          11389.002  2
    END-POINT  58178.905          64095.915          11389.002  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8O                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58125.541          64095.915          11389.002  2  BW
    END-POINT  58178.905          64095.915          11389.002  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8P                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58152.222  64095.915  11389.002 
    FLOW 2
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58162.757  64095.915  11389.002 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58162.757  64095.915  11389.002 
    TEXT WALL PENETRATION
    UNDIMENSIONED
WELD
    END-POINT  58125.541          64095.915          11389.002  2
    END-POINT  58125.541          64095.915          11389.002  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8S                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.541          64095.915          11392.002  2  BW
    END-POINT  58125.541          64095.915          11389.002  2  BW
    CENTRE-POINT   58122.541          64095.915          11389.002 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8T                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58122.541          64095.915          11392.002  2
    END-POINT  58122.541          64095.915          11392.002  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8U                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58122.541          64095.915          11392.002  2  BW
    END-POINT  58122.541          64095.915          11411.233  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8V                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58122.541          64095.915          11411.233  2
    END-POINT  58122.541          64095.915          11411.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8W                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.541          64095.915          11411.233  2  BW
    END-POINT  58122.541          64092.915          11414.233  2  BW
    CENTRE-POINT   58122.541          64095.915          11414.233 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8X                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58122.541          64092.915          11414.233  2
    END-POINT  58122.541          64092.915          11414.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8Y                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58122.541          64092.915          11414.233  2  BW
    END-POINT  58122.541          63862.753          11414.233  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_8Z                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58122.541  64042.316  11414.233  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_90                  
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  58122.541  63983.955  11414.233 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58122.541  63922.781  11414.233  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_92                  
    TAG                         P651 FIG.1                      
WELD
    END-POINT  58122.541          63862.753          11414.233  2
    END-POINT  58122.541          63862.753          11414.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_93                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.541          63859.753          11417.233  2  BW
    END-POINT  58122.541          63862.753          11414.233  2  BW
    CENTRE-POINT   58122.541          63859.753          11414.233 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_94                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58122.541          63859.753          11417.233  2
    END-POINT  58122.541          63859.753          11417.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_95                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58122.541          63859.753          11702.201  2  BW
    END-POINT  58122.541          63859.753          11417.233  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_96                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58122.541  63859.753  11567.608  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_97                  
    TAG                         P614                            
TEE-SET-ON
    BRANCH1-POINT  58122.541          63858.565          11567.608  1.875
    CENTRE-POINT   58122.541  63859.753  11567.608 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58122.541          63858.565          11567.608  1.875  BW
    END-POINT  58122.541  63850.753  11567.608  1.875  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58122.541  63850.753  11567.608 
TEE-SET-ON
    BRANCH1-POINT  58122.541          63860.940          11567.608  1.875
    CENTRE-POINT   58122.541  63859.753  11567.608 
    SKEY TESO
PIPE
    END-POINT  58122.541          63860.940          11567.608  1.875  BW
    END-POINT  58122.541  63868.753  11567.608  1.875  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58122.541  63868.753  11567.608 
FLOW-ARROW
    CO-ORDS  58122.541  63859.753  11641.308 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58122.541          63859.753          11702.201  2
    END-POINT  58122.541          63859.753          11702.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_99                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.541          63859.753          11702.201  2  BW
    END-POINT  58122.541          63862.753          11705.201  2  BW
    CENTRE-POINT   58122.541          63859.753          11705.201 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9A                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58122.541          63862.753          11705.201  2
    END-POINT  58122.541          63862.753          11705.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9B                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58122.541          63862.753          11705.201  2  BW
    END-POINT  58125.541          63865.753          11705.201  2  BW
    CENTRE-POINT   58122.541          63865.753          11705.201 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9C                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58125.541          63865.753          11705.201  2
    END-POINT  58125.541          63865.753          11705.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9D                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58125.541          63865.753          11705.201  2  BW
    END-POINT  58156.279          63865.753          11705.201  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9E                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58156.279          63865.753          11705.201  2
    END-POINT  58156.279          63865.753          11705.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9F                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58156.279          63865.753          11705.201  2  BW
    END-POINT  58159.279          63868.753          11705.201  2  BW
    CENTRE-POINT   58159.279          63865.753          11705.201 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9G                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58159.279          63868.753          11705.201  2
    END-POINT  58159.279          63868.753          11705.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9H                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58159.279          63868.753          11705.201  2  BW
    END-POINT  58159.279          63953.368          11705.201  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9I                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58159.279  63916.927  11705.201 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58159.279  63898.815  11705.201  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9K                  
    TAG                         P624 FIG.2                      
WELD
    END-POINT  58159.279          63953.368          11705.201  2
    END-POINT  58159.279          63953.368          11705.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9L                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58159.279          63953.368          11705.201  2  BW
    END-POINT  58159.279          63956.368          11708.201  2  BW
    CENTRE-POINT   58159.279          63956.368          11705.201 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9M                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58159.279          63956.368          11708.201  2
    END-POINT  58159.279          63956.368          11708.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9N                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58159.279          63956.368          11708.201  2  BW
    END-POINT  58159.279          63956.368          11720.233  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9O                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58159.279  63956.368  11714.458 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58159.279          63956.368          11720.233  2
    END-POINT  58159.279          63956.368          11720.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9Q                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58159.279          63956.368          11720.233  2  BW
    END-POINT  58156.279          63956.368          11723.233  2  BW
    CENTRE-POINT   58159.279          63956.368          11723.233 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9R                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58156.279          63956.368          11723.233  2
    END-POINT  58156.279          63956.368          11723.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9S                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58156.279          63956.368          11723.233  2  BW
    END-POINT  57948.794          63956.368          11723.233  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9T                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58092.821  63956.368  11723.233 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58055.108  63956.368  11723.233  2
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9V                  
    TAG                         P651 FIG.1                      
WELD
    END-POINT  57948.794          63956.368          11723.233  2
    END-POINT  57948.794          63956.368          11723.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9W                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57948.794          63956.368          11723.233  2  BW
    END-POINT  57945.794          63956.368          11726.233  2  BW
    CENTRE-POINT   57945.794          63956.368          11723.233 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9X                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57945.794          63956.368          11726.233  2
    END-POINT  57945.794          63956.368          11726.233  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9Y                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57945.794          63956.368          11726.233  2  BW
    END-POINT  57945.794          63956.368          11741.752  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_9Z                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57945.794  63956.368  11734.191 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57945.794          63956.368          11741.752  2
    END-POINT  57945.794          63956.368          11741.752  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_A1                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57945.794          63956.368          11741.752  2  BW
    END-POINT  57945.794          63959.368          11744.752  2  BW
    CENTRE-POINT   57945.794          63956.368          11744.752 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_A2                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57945.794          63959.368          11744.752  2
    END-POINT  57945.794          63959.368          11744.752  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_A3                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57945.794          63959.368          11744.752  2  BW
    END-POINT  57945.800          64068.891          11744.752  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_A4                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57945.800  64014.391  11744.752 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57945.794  63981.286  11744.752  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_A6                  
    TAG                         P624 FIG.2                      
WELD
    END-POINT  57945.800          64068.891          11744.752  2
    END-POINT  57945.800          64068.891          11744.752  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_A7                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57945.800          64071.891          11747.752  2  BW
    END-POINT  57945.800          64068.891          11744.752  2  BW
    CENTRE-POINT   57945.800          64071.891          11744.752 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_A8                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57945.800          64071.891          11747.752  2
    END-POINT  57945.800          64071.891          11747.752  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_A9                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57945.800          64071.891          11747.752  2  BW
    END-POINT  57945.800          64071.891          11832.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_AA                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57945.800  64071.891  11786.065 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  57945.800  64071.891  11782.751 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57945.800  64071.891  11782.751 
    TEXT Floor Penetration
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57945.800  64071.891  11782.764  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_AD                  
    TAG                         P615 FIG. 5                     
WELD
    END-POINT  57945.800          64071.891          11832.750  2
    END-POINT  57945.800          64071.891          11832.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_AE                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57942.800          64071.891          11835.750  2  BW
    END-POINT  57945.800          64071.891          11832.750  2  BW
    CENTRE-POINT   57945.800          64071.891          11835.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_AF                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57942.800          64071.891          11835.750  2
    END-POINT  57942.800          64071.891          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_AG                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57936.800          64071.891          11835.750  2  BW
    END-POINT  57942.800          64071.891          11835.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_AH                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57936.800          64071.891          11835.750  2
    END-POINT  57936.800          64071.891          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_AI                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57933.800          64068.891          11835.750  2  BW
    END-POINT  57936.800          64071.891          11835.750  2  BW
    CENTRE-POINT   57933.800          64071.891          11835.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_AJ                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57933.800  64071.891  11835.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64071.891  11835.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57933.800  64071.891  11835.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57933.800  64138.748  11835.750 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57933.800          64068.891          11835.750  2
    END-POINT  57933.800          64068.891          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_M3                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57933.800          64068.891          11835.750  2  BW
    END-POINT  57933.800          64063.516          11835.750  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_M2                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57933.800          64063.516          11835.750  2
    END-POINT  57933.800          64063.516          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_M4                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57933.800          64063.516          11835.750  2
    END-POINT  57933.800          64063.516          11835.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_M5                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57933.800          64063.300          11835.750  2  FL
    END-POINT  57933.800          64063.516          11835.750  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_B2                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57933.800          64063.300          11835.750  2
    END-POINT 
** 
Processing ID: AT_FUWOWKMM_MP  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_MP                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57933.800          64063.300          11835.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_MQ                  
END-POSITION-OPEN 
    CO-ORDS  57933.800  64063.300  11835.750 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE REDCON2X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 300LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 300LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 300LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 300LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 300LB
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK2
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-2
    DESCRIPTION ELBOW SUPPORT, L=3'-2 3/4", P619 FIG. 1
ITEM-CODE VALVBAL2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPPS-2
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE SUPEB-2_1
    DESCRIPTION TRUNNION SUPPORT P614
ITEM-CODE SUPRH-2
    DESCRIPTION PIPE HANGER P624 FIG. 2 W/FIG.66 CLEVIS AND EYENUT
ITEM-CODE SUPRH-2_1
    DESCRIPTION RISER CLAMP, P615 FIG. 5
