ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222008
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1222008-PP-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 D. ORR
    ATTRIBUTE22 12/3/2008
    ATTRIBUTE23 D.K.
    ATTRIBUTE24 12/4/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/8/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 1/5/2009
    ATTRIBUTE36 RJR
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/9/2009
    ATTRIBUTE42 D. ORR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 4/7/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 9/14/2012
    ATTRIBUTE54 DBH
    ATTRIBUTE55 KC
    ATTRIBUTE56 DD
    ATTRIBUTE57 DELETED DRAIN
    ATTRIBUTE58 4
    ATTRIBUTE59 11/1/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DD
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED SERVICE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  58015.677          63979.796          11301.366  3  FL
    END-POINT  58012.927          63979.796          11301.366  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AHN                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58015.677          63979.796          11301.366  3
    END-POINT  58015.802          63979.796          11301.366  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9N                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58015.677          63979.796          11301.366 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9O                 
WELD
    END-POINT  58012.927          63979.796          11301.366  3
    END-POINT  58012.927          63979.796          11301.366  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
NOZZLE
    CO-ORDS  58015.802          63979.796          11301.366  3  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58015.802          63979.796          11301.366 
    TEXT PY3-059$NOZZLE TAG PY3-059-SUCTION$RATING 150LB$FACING RF
REDUCER-ECCENTRIC
    END-POINT  58007.427          63979.796          11299.803  6  BW
    END-POINT  58012.927          63979.796          11301.366  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIC                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  58007.427          63979.796          11299.803  6
    END-POINT  58007.427          63979.796          11299.803  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57974.739          63979.796          11299.803  6  BW
    END-POINT  58007.427          63979.796          11299.803  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9I                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57995.265  63979.796  11299.803 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57974.739          63979.796          11299.803  6
    END-POINT  57974.739          63979.796          11299.803  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57974.739          63979.796          11299.803  6  BW
    END-POINT  57965.739          63979.796          11308.803  6  BW
    CENTRE-POINT   57965.739          63979.796          11299.803 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7BO                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57965.739  63979.796  11299.803 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57965.739  63898.800  11299.803 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57965.739  63979.796  11299.803 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63979.796  11299.803 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
SUPPORT
    CO-ORDS  57965.739  63979.796  11299.803  6
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPAEB6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIN                 
WELD
    END-POINT  57965.739          63979.796          11308.803  6
    END-POINT  57965.739          63979.796          11308.803  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.739          63979.796          11308.803  6  BW
    END-POINT  57965.739          63979.796          11332.125  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AII                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57965.739          63979.796          11332.125  6
    END-POINT  57965.739          63979.796          11332.125  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57965.739          63979.796          11335.625  6  FL
    END-POINT  57965.739          63979.796          11332.125  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ACF                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57965.739          63979.796          11335.625  6
    END-POINT  57965.739          63979.796          11335.750  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ACG                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57965.739          63979.796          11335.625 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG6
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ACH                 
VALVE
    END-POINT  57965.739          63979.796          11335.750  6  FL
    END-POINT  57965.739          63979.796          11338.000  6  FL
    CENTRE-POINT   57965.739          63979.796          11336.875 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY6
    WEIGHT          40.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7C5                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57965.739          63979.796          11338.125  6
    END-POINT  57965.739          63979.796          11338.000  6
    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ACK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57965.739          63979.796          11338.125 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG6_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ACL                 
FLANGE
    END-POINT  57965.739          63979.796          11338.125  6  FL
    END-POINT  57965.739          63979.796          11338.468  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ACJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57965.739          63979.796          11338.468  6
    END-POINT  57965.739          63979.796          11338.468  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AI0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57965.739          63979.796          11338.468  6
    END-POINT  57965.739          63979.796          11338.468  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AI1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.739          63979.796          11373.311  6  BW
    END-POINT  57965.739          63979.796          11338.468  6  PL
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AHY                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57965.739  63979.796  11362.737 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57965.739          63979.796          11373.311  6
    END-POINT  57965.739          63979.796          11373.311  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AHZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57965.739          63979.796          11373.311  6  BW
    END-POINT  57965.739          63988.796          11382.311  6  BW
    CENTRE-POINT   57965.739          63979.796          11382.311 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7CV                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57965.739          63988.796          11382.311  6
    END-POINT  57965.739          63988.796          11382.311  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57965.724          64013.176          11382.311  6  BW
    END-POINT  57965.739          63988.796          11382.311  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT           9.290
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIV                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57965.729  64005.663  11382.311 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57965.724          64013.176          11382.311  6
    END-POINT  57965.724          64013.176          11382.311  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AIW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57965.724          64024.416          11382.311  6  BW
    END-POINT  57965.724          64013.176          11382.311  6  BW
    CENTRE-POINT   57965.724          64018.796          11382.311 
    BRANCH1-POINT  57965.724          64018.796          11376.691  6  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           4.760
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7CY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57965.724          64024.416          11382.311 
    PIPELINE-REFERENCE ISO-PY3-1222002
MATERIALS
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDECC6X3
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP6
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR6
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPAEB6
    DESCRIPTION ADJUSTABLE ELBOW SUPPORT,  P618 FIG 2, L=1'-7 3/4"
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLTLUG6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 2 1/4 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY6
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG6_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE FLGSLP6
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
