ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222016
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5231.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1222016-PP-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 SG
    ATTRIBUTE22 3/17/2009
    ATTRIBUTE23 NA
    ATTRIBUTE25 DC
    ATTRIBUTE26 3/17/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/17/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/17/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/17/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/16/2009
    ATTRIBUTE36 DC
    ATTRIBUTE37 RHP
    ATTRIBUTE38 D.D.
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 SG
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57995.062          64034.605          11689.633  2  BW
    END-POINT  57995.062          64034.605          11575.633  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZS                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57995.062  64034.605  11588.633  2
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZY                 
SUPPORT
    CO-ORDS  57995.062  64038.261  11591.541  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_522                 
    TAG                         P650                            
SUPPORT
    CO-ORDS  57995.062  64034.605  11588.632  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_525                 
WELD
    END-POINT  57995.062          64034.605          11689.633  2
    END-POINT  57995.062          64034.605          11689.633  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57995.062          64034.605          11575.633 
ELBOW
    END-POINT  57995.062          64037.605          11692.633  2  BW
    END-POINT  57995.062          64034.605          11689.633  2  BW
    CENTRE-POINT   57995.062          64034.605          11692.633 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZO                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57995.062  64034.605  11692.633 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64034.605  11692.633 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57995.062  64034.605  11692.633 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57995.062  64138.748  11692.633 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57995.062          64037.605          11692.633  2
    END-POINT  57995.062          64037.605          11692.633  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57995.062          64040.605          11692.633  2  PL
    END-POINT  57995.062          64037.605          11692.633  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZL                 
    PIPING-SPEC S1
WELD
    END-POINT  57995.062          64040.605          11692.633  2
    END-POINT  57995.062          64040.605          11692.633  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.062          64040.605          11692.633  2
    END-POINT  57995.062          64040.605          11692.633  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57995.062          64040.821          11692.633  2  FL
    END-POINT  57995.062          64040.605          11692.633  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZI                 
    PIPING-SPEC S1
GASKET
    END-POINT  57995.062          64040.821          11692.633  2
    END-POINT  57995.062          64040.946          11692.633  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57995.062          64040.821          11692.633 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZK                 
VALVE-ANGLE
    END-POINT  57995.062          64045.446          11688.508  1  FL
    END-POINT  57995.062          64040.946          11692.633  2  FL
    CENTRE-POINT   57995.062          64045.446          11692.633 
    SKEY ARFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZC                 
    TAG PSV-052-02                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  57995.062          64045.446          11688.508 
    PIPELINE-REFERENCE ISO-PY3-1222013
MATERIALS
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION  P627 FIG 2 U-BOLT GUIDE
ITEM-CODE SUPST-2
    DESCRIPTION STANCHION BASE SUPPORT L=1'-10"  P650
ITEM-CODE SUPAG-2
    DESCRIPTION P650, L=1'10"
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
