ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211002
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1211002-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/8/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 RJR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 3/2/2009
    ATTRIBUTE54 SM
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BJL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  57988.164          64029.757          11588.494  0.75  SC FEMALE 
    END-POINT  57988.164          64029.757          11587.054  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6YJ                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57988.164          64029.757          11588.494  0.75  SC FEMALE 
    END-POINT  57988.164          64029.757          11588.494  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6YK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57988.164          64029.757          11591.024  0.75  PL
    END-POINT  57988.164          64029.757          11588.494  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6YH                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57988.164          64029.757          11591.024  0.75
    END-POINT  57988.164          64029.757          11591.024  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6YI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57988.164          64029.757          11592.974  0.75  SW FEMALE 
    END-POINT  57988.164          64029.757          11591.024  0.75  SW FEMALE 
    CENTRE-POINT   57988.164          64029.757          11591.999 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6YB                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57988.164          64029.757          11592.974  0.75  SW FEMALE 
    END-POINT  57988.164          64029.757          11592.974  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6YC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57988.164          64029.757          11596.504  0.75  BW
    END-POINT  57988.164          64029.757          11592.974  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6Y9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57988.164          64029.757          11596.504  0.75
    END-POINT  57988.164          64029.757          11596.504  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_70L                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57989.664          64029.757          11598.004  1  BW
    END-POINT  57986.664          64029.757          11598.004  1  BW
    CENTRE-POINT   57988.164          64029.757          11598.004 
    BRANCH1-POINT  57988.164          64029.757          11596.504  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_70D                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57989.664          64029.757          11598.004  1
    END-POINT  57989.664          64029.757          11598.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_70F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57986.664          64029.757          11598.004  1
    END-POINT  57986.664          64029.757          11598.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_70H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57986.664          64029.757          11598.004  1  BW
    END-POINT  57980.289          64029.757          11598.004  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_70G                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57980.289          64029.757          11598.004  1
    END-POINT  57980.289          64029.757          11598.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57980.289          64029.757          11598.004  1
    END-POINT  57980.289          64029.757          11598.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57980.094          64029.757          11598.004  1  FL
    END-POINT  57980.289          64029.757          11598.004  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8J                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57980.094          64029.757          11598.004  1
    END-POINT  57979.969          64029.757          11598.004  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8K                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57980.094          64029.757          11598.004 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8L                 
INSTRUMENT
    END-POINT  57974.969          64029.757          11598.004  1  FL
    END-POINT  57979.969          64029.757          11598.004  1  FL
    CENTRE-POINT   57977.469          64029.757          11598.004 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8G                 
    TAG LV$075$01                       
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  57974.969          64029.757          11598.004  1
    END-POINT  57974.844          64029.757          11598.004  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8H                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57974.969          64029.757          11598.004 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8I                 
FLANGE
    END-POINT  57974.844          64029.757          11598.004  1  FL
    END-POINT  57974.648          64029.757          11598.004  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8D                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57974.648          64029.757          11598.004  1
    END-POINT  57974.648          64029.757          11598.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8E                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57974.648          64029.757          11598.004  1
    END-POINT  57974.648          64029.757          11598.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8F                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57974.648          64029.757          11598.004  1  PL
    END-POINT  57970.023          64029.757          11598.004  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F5U                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57970.023          64029.757          11598.004  1
    END-POINT  57970.023          64029.757          11598.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F5X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57970.023          64029.757          11598.004  1  BW
    END-POINT  57968.523          64029.757          11599.504  1  BW
    CENTRE-POINT   57968.523          64029.757          11598.004 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_70X                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57968.523  64029.757  11598.004  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_72X                 
    TAG                         P617 FIG.2                      
WELD
    END-POINT  57968.523          64029.757          11599.504  1
    END-POINT  57968.523          64029.757          11599.504  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_711                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57968.523          64029.757          11603.094  1  PL
    END-POINT  57968.523          64029.757          11599.504  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6ZT                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57968.523          64029.757          11603.094  1
    END-POINT  57968.523          64029.757          11603.094  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6ZU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57968.523          64029.757          11605.724  1  SW FEMALE 
    END-POINT  57968.523          64029.757          11603.094  1  SW FEMALE 
    CENTRE-POINT   57968.523          64029.757          11604.409 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6ZP                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57968.523          64029.757          11605.724  1  SW FEMALE 
    END-POINT  57968.523          64029.757          11605.724  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6ZQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57968.523          64029.757          11622.504  1  BW
    END-POINT  57968.523          64029.757          11605.724  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6ZN                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57968.523  64029.757  11613.325 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57968.523          64029.757          11622.504  1
    END-POINT  57968.523          64029.757          11622.504  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6ZO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57968.523          64029.757          11622.504  1  BW
    END-POINT  57968.523          64029.757          11625.504  1  BW
    CENTRE-POINT   57968.523          64029.757          11624.004 
    BRANCH1-POINT  57970.023          64029.757          11624.004  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6ZF                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57968.523          64029.757          11625.504  1
    END-POINT  57968.523          64029.757          11625.504  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EYV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57970.023          64029.757          11624.004  1
    END-POINT  57970.023          64029.757          11624.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_714                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57983.504          64029.757          11624.004  1  PL
    END-POINT  57970.023          64029.757          11624.004  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_712                 
    TAG LV-075-01                       
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57978.596  64029.757  11624.004 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  57983.504          64029.757          11624.004  1
    END-POINT  57983.504          64029.757          11624.004  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_713                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57986.134          64029.757          11624.004  1  SW FEMALE 
    END-POINT  57983.504          64029.757          11624.004  1  SW FEMALE 
    CENTRE-POINT   57984.819          64029.757          11624.004 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6XX                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57986.134          64029.757          11624.004  1  SW FEMALE 
    END-POINT  57986.134          64029.757          11624.004  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6XY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57989.664          64029.757          11624.004  1  BW
    END-POINT  57986.134          64029.757          11624.004  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6XU                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57989.664          64029.757          11624.004  1
    END-POINT  57989.664          64029.757          11624.004  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6XV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57991.164          64029.757          11625.504  1  BW
    END-POINT  57991.164          64029.757          11622.504  1  BW
    CENTRE-POINT   57991.164          64029.757          11624.004 
    BRANCH1-POINT  57989.664          64029.757          11624.004  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6X5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57991.164          64029.757          11625.504  1
    END-POINT  57991.164          64029.757          11625.504  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AV4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57991.164          64029.757          11622.504  1
    END-POINT  57991.164          64029.757          11622.504  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6X9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57991.164          64029.757          11622.504  1  BW
    END-POINT  57991.164          64029.757          11605.724  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6X8                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57991.164  64029.757  11613.889 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  57991.164          64029.757          11605.724  1  SW FEMALE 
    END-POINT  57991.164          64029.757          11605.724  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_731                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57991.164          64029.757          11605.724  1  SW FEMALE 
    END-POINT  57991.164          64029.757          11603.094  1  SW FEMALE 
    CENTRE-POINT   57991.164          64029.757          11604.409 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_730                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
SOCKET-WELD
    END-POINT  57991.164          64029.757          11603.094  1
    END-POINT  57991.164          64029.757          11603.094  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_735                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57991.164          64029.757          11603.094  1  PL
    END-POINT  57991.164          64029.757          11599.504  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_734                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57991.164          64029.757          11599.504  1
    END-POINT  57991.164          64029.757          11599.504  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_736                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57991.164          64029.757          11599.504  1  BW
    END-POINT  57989.664          64029.757          11598.004  1  BW
    CENTRE-POINT   57991.164          64029.757          11598.004 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_70A                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57991.164  64029.757  11598.004  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_72U                 
    TAG                         P617 FIG.2                      
PIPE
    END-POINT  57991.164          64029.757          11625.504  1  BW
    END-POINT  57991.164          64029.757          11628.504  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AV3                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57991.164          64029.757          11628.504  1
    END-POINT  57991.164          64029.757          11628.504  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57991.164          64029.757          11628.504  1
    END-POINT  57991.164          64029.757          11628.504  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57991.164          64029.757          11628.699  1  FL
    END-POINT  57991.164          64029.757          11628.504  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8W                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57991.164          64029.757          11628.824  1
    END-POINT  57991.164          64029.757          11628.699  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F90                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57991.164          64029.757          11628.824 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F91                 
INSTRUMENT
    END-POINT  57991.164          64029.757          11628.824  1  FL
    END-POINT  57991.164          64029.757          11633.824  1  FL
    CENTRE-POINT   57991.164          64029.757          11631.324 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT1_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
MESSAGE-CIRCLE
    CO-ORDS  57991.164  64029.757  11631.324 
    TEXT FV$075$11
    UNDIMENSIONED
GASKET
    END-POINT  57991.164          64029.757          11633.949  1
    END-POINT  57991.164          64029.757          11633.824  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F93                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57991.164          64029.757          11633.949 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F94                 
FLANGE
    END-POINT  57991.164          64029.757          11633.949  1  FL
    END-POINT  57991.164          64029.757          11634.145  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F92                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57991.164          64029.757          11634.145  1
    END-POINT  57991.164          64029.757          11634.145  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F95                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57991.164          64029.757          11634.145  1
    END-POINT  57991.164          64029.757          11634.145  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F96                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57991.164          64029.757          11634.145  1  PL
    END-POINT  57991.164          64029.757          11703.219  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AVI                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57991.164  64029.757  11664.295 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57991.164          64029.757          11703.219  1
    END-POINT  57991.164          64029.757          11703.219  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AVL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57991.164          64028.257          11704.719  1  BW
    END-POINT  57991.164          64029.757          11703.219  1  BW
    CENTRE-POINT   57991.164          64029.757          11704.719 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57991.164          64028.257          11704.719  1
    END-POINT  57991.164          64028.257          11704.719  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ILJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57991.164          64028.257          11704.719  1  BW
    END-POINT  57991.164          63963.883          11704.719  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATO                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57991.164  63992.026  11704.719 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57991.164          63963.883          11704.719  1
    END-POINT  57991.164          63963.883          11704.719  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57991.164          63962.383          11706.219  1  BW
    END-POINT  57991.164          63963.883          11704.719  1  BW
    CENTRE-POINT   57991.164          63962.383          11704.719 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATH                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57991.164          63962.383          11706.219  1
    END-POINT  57991.164          63962.383          11706.219  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57991.164          63962.383          11706.219  1  BW
    END-POINT  57991.164          63962.383          11721.219  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57991.164          63962.383          11721.219  1
    END-POINT  57991.164          63962.383          11721.219  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57992.664          63962.383          11722.719  1  BW
    END-POINT  57991.164          63962.383          11721.219  1  BW
    CENTRE-POINT   57991.164          63962.383          11722.719 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6WE                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57992.664          63962.383          11722.719  1
    END-POINT  57992.664          63962.383          11722.719  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6WU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58137.254          63962.383          11722.719  1  BW
    END-POINT  57992.664          63962.383          11722.719  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6WS                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58106.215  63962.383  11722.719 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58055.098  63962.383  11722.719  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AW5                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  58137.254          63962.383          11722.719  1
    END-POINT  58137.254          63962.383          11722.719  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AVZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58138.754          63962.383          11724.219  1  BW
    END-POINT  58137.254          63962.383          11722.719  1  BW
    CENTRE-POINT   58138.754          63962.383          11722.719 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AVW                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58138.754          63962.383          11724.219  1
    END-POINT  58138.754          63962.383          11724.219  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AVY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58138.754          63962.383          11739.461  1  BW
    END-POINT  58138.754          63962.383          11724.219  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6W7                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58138.754  63962.383  11731.933 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58138.754          63962.383          11739.461  1
    END-POINT  58138.754          63962.383          11739.461  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6W8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58138.754          63960.883          11740.961  1  BW
    END-POINT  58138.754          63962.383          11739.461  1  BW
    CENTRE-POINT   58138.754          63962.383          11740.961 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6W4                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58138.754  63962.383  11740.961 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58138.754  64138.800  11740.961 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58138.754  63962.383  11740.961 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63962.383  11740.961 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58138.754          63960.883          11740.961  1
    END-POINT  58138.754          63960.883          11740.961  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6W6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58138.754          63877.563          11740.961  1  BW
    END-POINT  58138.754          63960.883          11740.961  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6KC                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58138.754  63887.420  11740.961 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58138.754  63898.813  11740.961  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_9F0                 
    TAG                         P624 FIG.2                      
WELD
    END-POINT  58138.754          63877.563          11740.961  1
    END-POINT  58138.754          63877.563          11740.961  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6KD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58138.754          63876.063          11742.461  1  BW
    END-POINT  58138.754          63877.563          11740.961  1  BW
    CENTRE-POINT   58138.754          63876.063          11740.961 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6K7                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58138.754          63876.063          11742.461  1
    END-POINT  58138.754          63876.063          11742.461  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_815                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58138.754          63876.063          11742.461  1  BW
    END-POINT  58138.754          63876.063          12027.395  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6TP                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58138.754  63876.063  12007.671 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58138.754  63876.063  11915.872  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AVS                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58138.754  63876.063  11775.322  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AVU                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  58138.754          63876.063          12027.395  1
    END-POINT  58138.754          63876.063          12027.395  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6TR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58138.754          63877.563          12028.895  1  BW
    END-POINT  58138.754          63876.063          12027.395  1  BW
    CENTRE-POINT   58138.754          63876.063          12028.895 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6K2                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58138.754          63877.563          12028.895  1
    END-POINT  58138.754          63877.563          12028.895  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6L5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58138.754          64016.295          12028.895  1  BW
    END-POINT  58138.754          63877.563          12028.895  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6L3                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58138.754          64016.295          12028.895  1
    END-POINT  58138.754          64016.295          12028.895  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_82V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58138.754          64017.795          12030.395  1  BW
    END-POINT  58138.754          64016.295          12028.895  1  BW
    CENTRE-POINT   58138.754          64017.795          12028.895 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6JX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58138.754          64017.795          12030.395  1
    END-POINT  58138.754          64017.795          12030.395  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6TN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58138.754          64017.795          12030.395  1  BW
    END-POINT  58138.754          64017.795          12042.368  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6TM                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58138.754  64017.795  12035.507 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58138.754          64017.795          12042.368  1
    END-POINT  58138.754          64017.795          12042.368  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6TO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58137.254          64017.795          12043.868  1  BW
    END-POINT  58138.754          64017.795          12042.368  1  BW
    CENTRE-POINT   58138.754          64017.795          12043.868 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6JS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58137.254          64017.795          12043.868  1
    END-POINT  58137.254          64017.795          12043.868  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6KF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57849.819          64017.800          12043.868  1  BW
    END-POINT  58137.254          64017.795          12043.868  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6JP                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57875.119  64017.795  12043.868 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57910.822  64017.800  12043.868  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATD                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58054.782  64017.795  12043.868  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATF                 
    TAG                         P651 FIG.1                      
WELD
    END-POINT  57849.819          64017.800          12043.868  1
    END-POINT  57849.819          64017.800          12043.868  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57849.819          64017.800          12043.868  1  BW
    END-POINT  57848.319          64017.800          12042.368  1  BW
    CENTRE-POINT   57848.319          64017.800          12043.868 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INS                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57848.319          64017.800          12042.368  1
    END-POINT  57848.319          64017.800          12042.368  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_INV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57848.319          64017.800          12027.368  1  BW
    END-POINT  57848.319          64017.800          12042.368  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_838                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57848.319  64017.800  12032.733 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57848.319          64017.800          12027.368  1
    END-POINT  57848.319          64017.800          12027.368  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_839                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57848.319          64017.800          12027.368  1  BW
    END-POINT  57848.319          64016.300          12025.868  1  BW
    CENTRE-POINT   57848.319          64017.800          12025.868 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_833                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57848.319  64017.800  12025.868 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64017.800  12025.868 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57848.319  64017.800  12025.868 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57848.319  64138.800  12025.868 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
WELD
    END-POINT  57848.319          64016.300          12025.868  1
    END-POINT  57848.319          64016.300          12025.868  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_855                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57848.319          63948.800          12025.868  1  BW
    END-POINT  57848.319          64016.300          12025.868  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_853                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  57848.319  63990.818  12025.868  1
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_CY4                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  57848.319  63970.122  12025.868 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57848.319          63948.800          12025.868  1
    END-POINT  57848.319          63948.800          12025.868  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_854                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57848.319          63947.300          12024.368  1  BW
    END-POINT  57848.319          63948.800          12025.868  1  BW
    CENTRE-POINT   57848.319          63947.300          12025.868 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84V                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57848.319          63947.300          12024.368  1
    END-POINT  57848.319          63947.300          12024.368  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57848.319          63947.300          12024.368  1  BW
    END-POINT  57848.319          63947.300          12018.419  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84X                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57848.319  63947.300  12021.407 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57848.319          63947.300          12018.419  1
    END-POINT  57848.319          63947.300          12018.419  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84Z                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57846.819          63947.300          12016.919  1  BW
    END-POINT  57848.319          63947.300          12018.419  1  BW
    CENTRE-POINT   57848.319          63947.300          12016.919 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_84T                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57846.819          63947.300          12016.919  1
    END-POINT  57846.819          63947.300          12016.919  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_851                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57846.819          63947.300          12016.919  1  BW
    END-POINT  57827.817          63947.300          12016.919  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_850                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57836.597  63947.300  12016.919 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57827.817          63947.300          12016.919  1
    END-POINT  57827.817          63947.300          12016.919  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_852                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          63947.300          12015.419  1  BW
    END-POINT  57827.817          63947.300          12016.919  1  BW
    CENTRE-POINT   57826.317          63947.300          12016.919 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83T                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57826.317          63947.300          12015.419  1
    END-POINT  57826.317          63947.300          12015.419  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_83V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63947.300          11982.958  1  PL
    END-POINT  57826.317          63947.300          12015.419  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_82B                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57826.317  63947.300  12000.782 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  57826.317          63947.300          11982.958  1
    END-POINT  57826.317          63947.300          11982.958  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_82C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  57826.317          63947.300          11980.328  1  SW FEMALE 
    END-POINT  57826.317          63947.300          11982.958  1  SW FEMALE 
    CENTRE-POINT   57826.317          63947.300          11981.643 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6O2                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57826.317          63947.300          11980.328  1  SW FEMALE 
    END-POINT  57826.317          63947.300          11980.328  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6O3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63947.300          11976.798  1  BW
    END-POINT  57826.317          63947.300          11980.328  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          63947.300          11976.798  1
    END-POINT  57826.317          63947.300          11976.798  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_6NP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      57826.317  63947.300  11973.985 
    BRANCH1-POINT  57826.317          63947.300          11976.798  1  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_50Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317  63947.300  11973.985 
    PIPELINE-REFERENCE ISO-PY3-1211011
PIPE
    END-POINT  57968.523          64029.757          11694.505  1  BW
    END-POINT  57968.523          64029.757          11625.504  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EYT                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57968.523  64029.757  11659.980 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57968.523          64029.757          11694.505  1
    END-POINT  57968.523          64029.757          11694.505  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ILL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57968.523          64029.757          11694.505  1  BW
    END-POINT  57968.523          64031.257          11696.005  1  BW
    CENTRE-POINT   57968.523          64029.757          11696.005 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_717                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57968.523          64031.257          11696.005  1
    END-POINT  57968.523          64031.257          11696.005  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ILI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57968.523          64031.257          11696.005  1  BW
    END-POINT  57968.523          64065.654          11696.005  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AU4                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57968.523  64055.994  11696.005 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57968.523  64062.654  11696.005  1
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AVQ                 
    TAG                         P624 FIG. 2                     
WELD
    END-POINT  57968.523          64065.654          11696.005  1
    END-POINT  57968.523          64065.654          11696.005  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AU6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57969.146          64067.156          11696.005  1  BW
    END-POINT  57968.523          64065.654          11696.005  1  BW
    CENTRE-POINT   57968.523          64066.534          11696.005 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ATZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57968.523  64066.534  11696.005 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57968.523  64138.748  11696.005 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57968.523  64066.534  11696.005 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64066.534  11696.005 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 2
WELD
    END-POINT  57969.146          64067.156          11696.005  1
    END-POINT  57969.146          64067.156          11696.005  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AU2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57969.146          64067.156          11696.005  1  BW
    END-POINT  57976.745          64074.756          11696.005  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AU1                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57976.745          64074.756          11696.005  1
    END-POINT  57976.745          64074.756          11696.005  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_AU3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57976.745          64074.756          11696.005  1  BW
    END-POINT  57977.805          64075.816          11694.505  1  BW
    CENTRE-POINT   57977.805          64075.816          11696.005 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_72L                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57977.805          64075.816          11694.505  1
    END-POINT  57977.805          64075.816          11694.505  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ILK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57977.800          64075.816          11689.065  1  BW
    END-POINT  57977.805          64075.816          11694.505  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_72O                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57977.800          64075.816          11689.065  1
    END-POINT  57977.800          64075.816          11689.065  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_72P                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57977.800          64075.816          11686.875  1  FL
    END-POINT  57977.800          64075.816          11689.065  1  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_72H                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57977.800          64075.816          11686.875  1
    END-POINT  57977.800          64075.816          11686.750  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8T                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57977.800          64075.816          11686.875 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F8U                 
END-POSITION-OPEN 
    CO-ORDS  57977.800          64075.816          11686.750 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE TEERED1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, LV-075-01
    RATING 150LB
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-1
    DESCRIPTION ELBOW SUPPORT, L=2'-6", P617 FIG. 2
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVCNT1_1
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, FV-075-11
    RATING 150LB
ITEM-CODE SUPPS-1
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE SUPRH-1
    DESCRIPTION PIPE HANGER P624 FIG. 2 W/FIG.66 CLEVIS AND EYENUT
ITEM-CODE SUPRH-1_1
    DESCRIPTION PIPE HANGER P624 FIG. 2
ITEM-CODE 45LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
