ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222013
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5231.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1222013-PP-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 SG
    ATTRIBUTE22 12/7/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/17/2009
    ATTRIBUTE25 DC
    ATTRIBUTE26 3/18/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 2/9/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 2/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 2/9/2009
    ATTRIBUTE33 2
    ATTRIBUTE34 0
    ATTRIBUTE35 2/9/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/23/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 DC
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 7/31/2009
    ATTRIBUTE48 CP
    ATTRIBUTE49 BJL
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58074.895          64018.776          12194.204  0.5  SC FEMALE 
    END-POINT  58074.895          64018.776          12194.954  0.5
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_40Q                 
    PIPING-SPEC S1
    TRACING-ON 
SCREWED-WELD
    END-POINT  58074.895          64018.776          12194.204  0.5  SC FEMALE 
    END-POINT  58074.895          64018.776          12194.204  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4GB                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  58074.895          64018.776          12192.204  0.5  PL
    END-POINT  58074.895          64018.776          12194.204  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_40O                 
    PIPING-SPEC S1
    TRACING-ON 
SOCKET-WELD
    END-POINT  58074.895          64018.776          12192.204  0.5
    END-POINT  58074.895          64018.776          12192.204  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4GD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  58074.895          64018.776          12190.524  0.5  SW FEMALE 
    END-POINT  58074.895          64018.776          12192.204  0.5  SW FEMALE 
    CENTRE-POINT   58074.895          64018.776          12191.409 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_40G                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58074.896          64018.776          12190.524  0.5
    END-POINT  58074.895          64018.776          12190.524  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  58074.885          64018.776          12187.114  0.5  BW
    END-POINT  58074.896          64018.776          12190.524  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XP                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58074.885          64018.776          12187.114  0.5
    END-POINT  58074.885          64018.776          12187.114  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XQ                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58074.885  64018.776  12184.114 
    BRANCH1-POINT  58074.885          64018.776          12187.114  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XM                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58074.885  64018.776  12184.114  4
    END-POINT  58074.885  64018.776  12184.114  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XO                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58074.895          64028.515          12184.114  4  BW
    END-POINT  58074.875          64016.750          12184.114  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58074.895          64028.515          12184.114  4
    END-POINT  58074.895          64028.515          12184.114  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58074.875          64016.750          12184.114  4
    END-POINT  58074.875          64016.750          12184.114  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58074.875          64010.750          12178.114  4  BW
    END-POINT  58074.875          64016.750          12184.114  4  BW
    CENTRE-POINT   58074.875          64010.750          12184.114 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XG                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58074.875          64010.750          12178.114  4
    END-POINT  58074.875          64010.750          12178.114  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58074.875          64010.750          12175.114  4  FL
    END-POINT  58074.875          64010.750          12178.114  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XC                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58074.875          64010.750          12175.114  4
    END-POINT  58074.875          64010.750          12174.989  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59J                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58074.875          64010.750          12175.114 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59K                 
END-POSITION-OPEN 
    CO-ORDS  58074.875          64010.750          12174.989 
ELBOW
    END-POINT  58074.895          64028.515          12184.114  4  BW
    END-POINT  58074.895          64034.515          12178.114  4  BW
    CENTRE-POINT   58074.895          64034.515          12184.114 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3YU                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58074.895          64034.515          12178.114  4
    END-POINT  58074.895          64034.515          12178.114  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3YY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58074.895          64034.515          12178.114  4  BW
    END-POINT  58074.895          64034.515          12109.319  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3YX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58074.895  64034.515  12145.042  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4HM                 
FLOOR-SYMBOL 
    CO-ORDS  58074.895  64034.515  12144.038 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58074.895  64034.515  12144.038 
    TEXT Floor Penetration
    UNDIMENSIONED
WELD
    END-POINT  58074.895          64034.515          12109.319  4
    END-POINT  58074.895          64034.515          12109.319  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58074.895          64040.515          12103.319  4  BW
    END-POINT  58074.895          64034.515          12109.319  4  BW
    CENTRE-POINT   58074.895          64034.515          12103.319 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58074.895          64040.515          12103.319  4
    END-POINT  58074.895          64040.515          12103.319  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59R                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58074.895          64040.515          12103.319  4  BW
    END-POINT  58074.925          64109.972          12103.319  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3Z2                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58074.895  64090.813  12103.319  4
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3ZK                 
FLOW-ARROW
    CO-ORDS  58074.895  64070.124  12103.319 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58074.925          64109.972          12103.319  4
    END-POINT  58074.925          64109.972          12103.319  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58073.158          64114.240          12103.319  4  BW
    END-POINT  58074.925          64109.972          12103.319  4  BW
    CENTRE-POINT   58074.925          64112.472          12103.319 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59E                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  58073.158          64114.240          12103.319  4
    END-POINT  58073.158          64114.240          12103.319  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58068.915          64118.483          12097.319  4  BW
    END-POINT  58073.158          64114.240          12103.319  4  BW
    CENTRE-POINT   58068.915          64118.483          12103.319 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3Z6                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58068.915  64118.483  12103.319 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.822  64118.483  12103.319 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58068.915  64118.483  12103.319 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58068.915  64138.748  12103.319 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58068.915          64118.483          12097.319  4
    END-POINT  58068.915          64118.483          12097.319  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3ZJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58068.915          64118.483          12051.972  4  BW
    END-POINT  58068.915          64118.483          12097.319  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3ZH                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58068.915          64118.483          12051.972  4
    END-POINT  58068.915          64118.483          12051.972  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW-TEED
    END-POINT  58062.915          64118.483          12045.972  4  BW
    END-POINT  58068.915          64118.483          12051.972  4  BW
    CENTRE-POINT   58068.915          64118.483          12045.972 
    BRANCH1-POINT  58068.577          64118.483          12045.972  4
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  58068.577          64118.483          12045.972  4
WELD
    END-POINT  58062.915          64118.483          12045.972  4
    END-POINT  58062.915          64118.483          12045.972  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58068.577          64118.483          12045.972  4
    END-POINT  58068.577          64118.483          12045.972  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_51S                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOLET
    END-POINT  58068.577          64118.483          12045.972  4  PL
    END-POINT  58070.452          64118.483          12045.972  0.75  BW
    SKEY CEBW
    FABRICATION-ITEM
    ITEM-CODE EOL4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_51Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58070.452  64118.483  12045.972 
    TEXT TI$050$02
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58070.452          64118.483          12045.972 
PIPE
    END-POINT  58062.915          64118.483          12045.972  4  BW
    END-POINT  58018.800          64118.483          12045.972  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AD                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58054.822  64118.483  12045.972  4
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AG                 
WELD
    END-POINT  58018.800          64118.483          12045.972  4
    END-POINT  58018.800          64118.483          12045.972  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_51W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58018.800          64118.483          12045.972  4  BW
    END-POINT  58012.800          64118.483          12039.972  4  BW
    CENTRE-POINT   58012.800          64118.483          12045.972 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_51U                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58012.800          64118.483          12039.972  4
    END-POINT  58012.800          64118.483          12039.972  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_51X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58012.800          64118.483          12039.972  4  BW
    END-POINT  58012.800          64118.483          12035.972  3  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X9                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64118.483          12035.972  3
    END-POINT  58012.800          64118.483          12035.972  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4XB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64118.483          12016.056  3  PL
    END-POINT  58012.800          64118.483          12035.972  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64118.483          12016.056  3
    END-POINT  58012.800          64118.483          12016.056  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58012.800          64118.483          12016.056  3
    END-POINT  58012.800          64118.483          12016.056  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58012.800          64118.483          12015.777  3  FL
    END-POINT  58012.800          64118.483          12016.056  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4W9                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58012.800          64118.483          12015.777  3
    END-POINT  58012.800          64118.483          12015.652  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WA                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64118.483          12015.777 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WB                 
MISC-COMPONENT
    END-POINT  58012.800          64118.483          12007.777  3  FL
    END-POINT  58012.800          64118.483          12015.652  3  FL
    CENTRE-POINT  58012.800  64118.483  12011.715 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4SK                 
    TAG PSE-009-14                      
    PIPING-SPEC S1
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58012.800  64118.483  12011.839 
    TEXT FE$050$01
    UNDIMENSIONED
GASKET
    END-POINT  58012.800          64118.483          12007.777  3
    END-POINT  58012.800          64118.483          12007.652  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4SL                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64118.483          12007.777 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4SM                 
FLANGE
    END-POINT  58012.800          64118.483          12007.652  3  FL
    END-POINT  58012.800          64118.483          12007.374  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AU                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  58012.800          64118.483          12007.374  3
    END-POINT  58012.800          64118.483          12007.374  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64118.483          12007.374  3
    END-POINT  58012.800          64118.483          12007.374  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64118.483          11849.374  3  BW
    END-POINT  58012.800          64118.483          12007.374  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58012.800  64118.483  11928.897  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4HC                 
FLOOR-SYMBOL 
    CO-ORDS  58012.800  64118.483  11927.895 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58012.800  64118.483  11927.895 
    TEXT Floor Penetration
    UNDIMENSIONED
WELD
    END-POINT  58012.800          64118.483          11849.374  3
    END-POINT  58012.800          64118.483          11849.374  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4AS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58012.800          64118.483          11842.614  3  BW
    END-POINT  58012.800          64118.483          11849.374  3  BW
    CENTRE-POINT   58012.800          64118.483          11845.994 
    BRANCH1-POINT  58012.800          64115.103          11845.994  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3XL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58012.800          64118.483          11842.614  3
    END-POINT  58012.800          64118.483          11842.614  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4HP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64115.103          11845.994  3
    END-POINT  58012.800          64115.103          11845.994  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4HO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64115.103          11845.994  3  BW
    END-POINT  58012.800          64081.432          11845.994  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3XP                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64081.432          11845.994  3
    END-POINT  58012.800          64081.432          11845.994  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3XR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58012.800          64076.932          11841.494  3  BW
    END-POINT  58012.800          64081.432          11845.994  3  BW
    CENTRE-POINT   58012.800          64076.932          11845.994 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3XI                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58012.800          64076.932          11841.494  3
    END-POINT  58012.800          64076.932          11841.494  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64076.932          11826.874  3  PL
    END-POINT  58012.800          64076.932          11841.494  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64076.932          11826.874  3
    END-POINT  58012.800          64076.932          11826.874  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64076.932          11826.874  3
    END-POINT  58012.800          64076.932          11826.874  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58012.800          64076.932          11826.596  3  FL
    END-POINT  58012.800          64076.932          11826.874  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VI                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58012.800          64076.932          11826.596  3
    END-POINT  58012.800          64076.932          11826.471  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64076.932          11826.596 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VK                 
VALVE
    END-POINT  58012.800          64076.932          11816.971  3  FL
    END-POINT  58012.800          64076.932          11826.471  3  FL
    CENTRE-POINT   58012.800          64076.932          11821.721 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB3
    WEIGHT          86.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VD                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58012.800          64076.932          11816.971  3
    END-POINT  58012.800          64076.932          11816.846  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VE                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64076.932          11816.971 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VF                 
FLANGE
    END-POINT  58012.800          64076.932          11816.846  3  FL
    END-POINT  58012.800          64076.932          11816.567  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3X3                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64076.932          11816.567  3
    END-POINT  58012.800          64076.932          11816.567  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3X4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64076.932          11816.567  3
    END-POINT  58012.800          64076.932          11816.567  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3X5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64076.932          11812.567  3  BW
    END-POINT  58012.800          64076.932          11816.567  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3X1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64076.932          11812.567  3
    END-POINT  58012.800          64076.932          11812.567  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58012.800          64073.552          11809.187  3  BW
    END-POINT  58012.800          64080.312          11809.187  3  BW
    CENTRE-POINT   58012.800          64076.932          11809.187 
    BRANCH1-POINT  58012.800          64076.932          11812.567  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  58012.800          64073.552          11809.187  3
    END-POINT  58012.800          64073.552          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64080.312          11809.187  3
    END-POINT  58012.800          64080.312          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64080.312          11809.187  3  BW
    END-POINT  58012.800          64084.312          11809.187  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UI                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64084.312          11809.187  3
    END-POINT  58012.800          64084.312          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64084.312          11809.187  3
    END-POINT  58012.800          64084.312          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58012.800          64084.590          11809.187  3  FL
    END-POINT  58012.800          64084.312          11809.187  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UK                 
    PIPING-SPEC S1
    TRACING-ON 
GASKET
    END-POINT  58012.800          64084.715          11809.187  3
    END-POINT  58012.800          64084.590          11809.187  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64084.715          11809.187 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3US                 
VALVE
    END-POINT  58012.800          64084.715          11809.187  3  FL
    END-POINT  58012.800          64086.590          11809.187  3  FL
    CENTRE-POINT   58012.800          64085.653          11809.187 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UQ                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58012.800          64086.715          11809.187  3
    END-POINT  58012.800          64086.590          11809.187  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64086.715          11809.187 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UY                 
FLANGE
    END-POINT  58012.800          64086.715          11809.187  3  FL
    END-POINT  58012.800          64086.994          11809.187  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UW                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  58012.800          64086.994          11809.187  3
    END-POINT  58012.800          64086.994          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59Y                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58012.800          64086.994          11809.187  3
    END-POINT  58012.800          64086.994          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
PIPE
    END-POINT  58012.800          64086.994          11809.187  3  PL
    END-POINT  58012.800          64092.994          11809.187  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_59X                 
    PIPING-SPEC S1
    TRACING-ON 
WELD
    END-POINT  58012.800          64092.994          11809.187  3
    END-POINT  58012.800          64092.994          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58012.800          64092.994          11809.187  3
    END-POINT  58012.800          64092.994          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_5A1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58012.800          64093.272          11809.187  3  FL
    END-POINT  58012.800          64092.994          11809.187  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3VJ                 
    PIPING-SPEC S1
    TRACING-ON 
GASKET
    END-POINT  58012.800          64093.397          11809.187  3
    END-POINT  58012.800          64093.272          11809.187  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VQ                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64093.397          11809.187 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VR                 
INSTRUMENT
    END-POINT  58012.800          64093.397          11809.187  3  FL
    END-POINT  58012.800          64099.897          11809.187  3  FL
    CENTRE-POINT   58012.800          64096.647          11809.187 
    SKEY CVFL
    ERECTION-ITEM
    ITEM-CODE VALVCNT3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VP                 
    TAG PCV$013$05                      
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58012.800  64096.647  11809.187 
    TEXT PCV$013$05
    UNDIMENSIONED
GASKET
    END-POINT  58012.800          64100.022          11809.187  3
    END-POINT  58012.800          64099.897          11809.187  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VU                 
    PIPING-SPEC S1
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64100.022          11809.187 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VV                 
FLANGE
    END-POINT  58012.800          64100.022          11809.187  3  FL
    END-POINT  58012.800          64100.301          11809.187  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4VT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64100.301          11809.187  3
    END-POINT  58012.800          64100.301          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64100.301          11809.187  3
    END-POINT  58012.800          64100.301          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64107.301          11809.187  3  PL
    END-POINT  58012.800          64100.301          11809.187  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X4                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64107.301          11809.187  3
    END-POINT  58012.800          64107.301          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64107.301          11809.187  3
    END-POINT  58012.800          64107.301          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58012.800          64107.579          11809.187  3  FL
    END-POINT  58012.800          64107.301          11809.187  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58012.800          64107.579          11809.187  3
    END-POINT  58012.800          64107.704          11809.187  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X2                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64107.579          11809.187 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4X3                 
VALVE
    END-POINT  58012.800          64109.579          11809.187  3  FL
    END-POINT  58012.800          64107.704          11809.187  3  FL
    CENTRE-POINT   58012.800          64108.642          11809.187 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WV                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58012.800          64109.579          11809.187  3
    END-POINT  58012.800          64109.704          11809.187  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.800          64109.579          11809.187 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WX                 
FLANGE
    END-POINT  58012.800          64109.704          11809.187  3  FL
    END-POINT  58012.800          64109.983          11809.187  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64109.983          11809.187  3
    END-POINT  58012.800          64109.983          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800          64109.983          11809.187  3
    END-POINT  58012.800          64109.983          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64109.983          11809.187  3  PL
    END-POINT  58012.800          64113.983          11809.187  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3WS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64113.983          11809.187  3
    END-POINT  58012.800          64113.983          11809.187  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3WX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58012.800          64113.983          11809.187  3  BW
    END-POINT  58012.800          64118.483          11813.687  3  BW
    CENTRE-POINT   58012.800          64118.483          11809.187 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3WV                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58012.800  64118.483  11809.187  3
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3ZR                 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58012.800  64118.483  11809.187 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58012.800  64138.748  11809.187 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58012.800          64118.483          11813.687  3
    END-POINT  58012.800          64118.483          11813.687  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3XO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64118.483          11842.614  3  BW
    END-POINT  58012.800          64118.483          11813.687  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3XM                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
REDUCER-ECCENTRIC
    END-POINT  58012.800          64069.552          11809.687  4  BW
    END-POINT  58012.800          64073.552          11809.187  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WG                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58012.800          64069.552          11809.687  4
    END-POINT  58012.800          64069.552          11809.687  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4WI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.800          64051.427          11809.687  4  BW
    END-POINT  58012.800          64069.552          11809.687  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3UA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58012.800  64060.018  11809.687 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58012.800          64051.427          11809.687  4
    END-POINT  58012.800          64051.427          11809.687  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.800  64063.891  11809.687  4
    END-POINT  58012.800  64063.891  11809.687  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3YD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58012.800  64063.891  11809.687 
    BRANCH1-POINT  58012.800          64063.891          11812.812  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_3YB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.800          64063.891          11812.812  0.75
    END-POINT  58012.800          64063.891          11812.812  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4GZ                 
    THICKNESS/RATING STD
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58012.800          64063.891          11812.812  0.75  BW
    END-POINT  58012.800          64063.891          11818.812  0.75  BW
    CENTRE-POINT  58012.800  64063.891  11815.812 
    SKEY NCBW
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4GY                 
    TAG TW-052-05                       
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58012.800  64063.891  11818.812 
    TEXT TI$052$05
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58012.800          64063.891          11818.812 
ELBOW
    END-POINT  58012.800          64051.427          11809.687  4  BW
    END-POINT  58018.800          64045.427          11809.687  4  BW
    CENTRE-POINT   58012.800          64045.427          11809.687 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_509                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58018.800          64045.427          11809.687  4
    END-POINT  58018.800          64045.427          11809.687  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58026.667          64045.446          11809.687  4  BW
    END-POINT  58018.800          64045.427          11809.687  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50L                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58026.667          64045.446          11809.687  4
    END-POINT  58026.667          64045.446          11809.687  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58032.667          64045.446          11803.687  4  BW
    END-POINT  58026.667          64045.446          11809.687  4  BW
    CENTRE-POINT   58032.667          64045.446          11809.687 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50G                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58032.667          64045.446          11803.687  4
    END-POINT  58032.667          64045.446          11803.687  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58032.667          64045.446          11803.687  4  BW
    END-POINT  58032.667          64045.446          11682.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50I                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58032.667  64045.446  11785.114  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50Q                 
WELD
    END-POINT  58032.667          64045.446          11682.875  4
    END-POINT  58032.667          64045.446          11682.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58026.667          64045.446          11676.875  4  BW
    END-POINT  58032.667          64045.446          11682.875  4  BW
    CENTRE-POINT   58032.667          64045.446          11676.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50D                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58026.667          64045.446          11676.875  4
    END-POINT  58026.667          64045.446          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_50F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58018.427          64045.446          11676.875  4  BW
    END-POINT  58026.667          64045.446          11676.875  4  BW
    CENTRE-POINT   58022.547          64045.446          11676.875 
    BRANCH1-POINT  58022.547          64041.326          11676.875  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4
    WEIGHT           2.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YZ                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58018.427          64045.446          11676.875  4
    END-POINT  58018.427          64045.446          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4Z1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.547          64041.326          11676.875  4
    END-POINT  58022.547          64041.326          11676.875  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BI5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58022.547          63990.398          11676.875  4  PL
    END-POINT  58022.547          64041.326          11676.875  4  BW
    CONTINUATION 
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCX                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58022.547  64015.788  11676.875 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58022.547  63998.958  11676.875  4
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BDI                 
END-CONNECTION-PIPELINE 
    CO-ORDS  58022.547          63990.398          11676.875 
    PIPELINE-REFERENCE ISO-PY3-1222012
PIPE
    END-POINT  58014.427          64045.446          11676.875  4  PL
    END-POINT  58018.427          64045.446          11676.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YW                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58014.427          64045.446          11676.875  4
    END-POINT  58014.427          64045.446          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58014.427          64045.446          11676.875  4
    END-POINT  58014.427          64045.446          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58014.127          64045.446          11676.875  4  FL
    END-POINT  58014.427          64045.446          11676.875  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YT                 
    PIPING-SPEC S1
GASKET
    END-POINT  58014.127          64045.446          11676.875  4
    END-POINT  58014.002          64045.446          11676.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YU                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58014.127          64045.446          11676.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YV                 
VALVE
    END-POINT  58011.877          64045.446          11676.875  4  FL
    END-POINT  58014.002          64045.446          11676.875  4  FL
    CENTRE-POINT   58012.940          64045.446          11676.875 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YN                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  58011.877          64045.446          11676.875  4
    END-POINT  58011.752          64045.446          11676.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YO                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58011.877          64045.446          11676.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YP                 
FLANGE
    END-POINT  58011.752          64045.446          11676.875  4  FL
    END-POINT  58011.453          64045.446          11676.875  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YK                 
    PIPING-SPEC S1
WELD
    END-POINT  58011.453          64045.446          11676.875  4
    END-POINT  58011.453          64045.446          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58011.453          64045.446          11676.875  4
    END-POINT  58011.453          64045.446          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57991.062          64045.446          11676.875  4  BW
    END-POINT  58011.453          64045.446          11676.875  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YI                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57996.448  64045.446  11676.875 
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS  58007.116  64045.446  11676.875 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57991.062          64045.446          11676.875  4
    END-POINT  57991.062          64045.446          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_508                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.062  64045.446  11676.875  4
    END-POINT  57995.062  64045.446  11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4Z6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.588  64045.446  11676.875  4
    END-POINT  58004.588  64045.446  11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_539                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58004.588  64045.446  11676.875 
    BRANCH1-POINT  58004.588          64045.446          11679.875  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_538                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58004.588          64045.446          11679.875  0.5
    END-POINT  58004.588          64045.446          11679.875  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53B                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58004.588          64045.446          11679.875  0.5  BW
    END-POINT  58004.588          64045.446          11684.285  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53A                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58004.588          64045.446          11684.285  0.5  SW FEMALE 
    END-POINT  58004.588          64045.446          11684.285  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53H                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58004.588          64045.446          11684.285  0.5  SW FEMALE 
    END-POINT  58004.588          64045.446          11685.965  0.5  SW FEMALE 
    CENTRE-POINT   58004.588          64045.446          11685.170 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_53G                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58004.588          64045.446          11685.965  0.5
    END-POINT  58004.588          64045.446          11685.965  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_593                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58004.588          64045.446          11685.965  0.5  PL
    END-POINT  58004.588          64045.446          11688.965  0.5  PL
    SKEY NIPL
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_592                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58004.588  64045.446  11688.465 
    TEXT PI$052$01
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58004.588          64045.446          11688.965 
OLET
    CENTRE-POINT      57995.062  64045.446  11676.875 
    BRANCH1-POINT  57995.062          64045.446          11680.187  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4Z4                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.062          64045.446          11680.187  1
    END-POINT  57995.062          64045.446          11680.187  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4Z8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57995.062          64045.446          11680.187  1  BW
    END-POINT  57995.062          64045.446          11688.187  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4Z7                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.062          64045.446          11688.187  1
    END-POINT  57995.062          64045.446          11688.187  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.062          64045.446          11688.187  1
    END-POINT  57995.062          64045.446          11688.187  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57995.062          64045.446          11688.383  1  FL
    END-POINT  57995.062          64045.446          11688.187  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4Z9                 
    PIPING-SPEC S1
GASKET
    END-POINT  57995.062          64045.446          11688.508  1
    END-POINT  57995.062          64045.446          11688.383  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZE                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57995.062          64045.446          11688.508 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZF                 
VALVE-ANGLE
    END-POINT  57995.062          64045.446          11688.508  1  FL
    END-POINT  57995.062          64040.946          11692.633  2  FL
    CENTRE-POINT   57995.062          64045.446          11692.633 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL1X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZC                 
    TAG PSV-052-02                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57995.062  64045.446  11692.633 
    TEXT PSV$052$02
    UNDIMENSIONED
GASKET
    END-POINT  57995.062          64040.821          11692.633  2
    END-POINT  57995.062          64040.946          11692.633  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57995.062          64040.821          11692.633  2  FL
    END-POINT  57995.062          64040.605          11692.633  2  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4ZI                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  57995.062          64040.605          11692.633 
    PIPELINE-REFERENCE ISO-PY3-1222016
REDUCER-ECCENTRIC
    END-POINT  57985.562          64045.446          11677.937  6  BW
    END-POINT  57991.062          64045.446          11676.875  4  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_504                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57985.562          64045.446          11677.937  6
    END-POINT  57985.562          64045.446          11677.937  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_507                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57976.562          64036.446          11677.937  6  BW
    END-POINT  57985.562          64045.446          11677.937  6  BW
    CENTRE-POINT   57976.562          64045.446          11677.937 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_501                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57976.562  64045.446  11677.937 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64045.446  11677.937 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57976.562  64045.446  11677.937 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57976.562  64138.748  11677.937 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57976.562          64036.446          11677.937  6
    END-POINT  57976.562          64036.446          11677.937  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_503                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57976.562          64032.946          11677.937  6  FL
    END-POINT  57976.562          64036.446          11677.937  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4Y8                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57976.562          64032.946          11677.937  6
    END-POINT 
** 
Processing ID: AT_FE4D8OK6_4Y9  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4Y9                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57976.562          64032.946          11677.937 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D8OK6_4YA                 
END-POSITION-OPEN 
    CO-ORDS  57976.562  64032.946  11677.937 
MATERIALS
ITEM-CODE CAP1/2
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x2" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 2"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL4X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE SUPRH-4
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE SUPRH-4_1
    DESCRIPTION P624, FIG. 4
ITEM-CODE 45LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE EOL4X3/4
    CATALOG MSS SP-97
    DESCRIPTION ELBOLET, SW, ASTM A182 Gr F304L, MSS SP-97
    RATING 3000LB
ITEM-CODE SUPUB-4
    DESCRIPTION P651, FIG 1
ITEM-CODE REDCON4X3
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE GENSTR3
    DESCRIPTION FLOW ELEMENT FE-050-01
    RATING 150LB
ITEM-CODE SUPRH-3
    DESCRIPTION RISER CLAMP, P615, FIG.6
ITEM-CODE TEESTR3
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVGLB3
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG3_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 1/2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVCNT3
    CATALOG FISHER
    RATING 150LB
ITEM-CODE SUPEB-3
    DESCRIPTION ELBOW SUPPORT, L=2'-3 1/16", P619 FIG 2
ITEM-CODE REDECC4X3
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE WOL4X3/4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE GENSTR3/4
    DESCRIPTION THERMOWELL, TW-052-05
    RATING STD
ITEM-CODE SUPRH-4_2
    DESCRIPTION RISER CLAMP ,  P615, FIG.5
ITEM-CODE TEESTR4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 3/4 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG4_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE NIPP1/2_1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PL, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE WOL4X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A182 Gr F304L, MSS SP-97
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL1X2
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-052-02
    RATING 150LB
ITEM-CODE REDECC6X4
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR6
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
