ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036032
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2036032-N-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 1/15/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 11/1/2012
    ATTRIBUTE54 CP
    ATTRIBUTE55 DD
    ATTRIBUTE56 DK
    ATTRIBUTE57 CHANGED GATE VALVE TO BALL VALVE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58076.641          64144.027          11328.007  0.75  SC MALE 
    END-POINT  58078.642          64144.027          11328.007  0.75  SC MALE 
    CENTRE-POINT  58077.641  64144.027  11328.007 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENS                 
    TAG SP-767                          
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58077.204  64144.027  11328.007 
    TEXT SP-767
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58078.079  64144.027  11328.007 
    TEXT 1st Floor$Utility Station
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58076.641          64144.027          11328.007  0.75  SC FEMALE 
    END-POINT  58076.641          64144.027          11328.007  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58078.642          64144.027          11328.007 
COUPLING
    END-POINT  58075.704          64144.027          11328.007  0.75  SC FEMALE 
    END-POINT  58076.641          64144.027          11328.007  0.75  SC FEMALE 
    SKEY COSC
    FABRICATION-ITEM
    ITEM-CODE CPL3/4
    WEIGHT           0.440
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENQ                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58075.704          64144.027          11328.007  0.75  SC MALE 
    END-POINT  58075.704          64144.027          11328.007  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENP                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58071.704          64144.027          11328.007  0.75  BW
    END-POINT  58075.704          64144.027          11328.007  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.290
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENO                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58071.704          64144.027          11328.007  0.75
    END-POINT  58071.704          64144.027          11328.007  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58070.579          64144.027          11329.132  0.75  BW
    END-POINT  58071.704          64144.027          11328.007  0.75  BW
    CENTRE-POINT   58070.579          64144.027          11328.007 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENM                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58070.579          64144.027          11329.132  0.75
    END-POINT  58070.579          64144.027          11329.132  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58070.579          64144.027          11333.284  0.75  PL
    END-POINT  58070.579          64144.027          11329.132  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENK                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58070.579          64144.027          11333.284  0.75  SW FEMALE 
    END-POINT  58070.579          64144.027          11333.284  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58070.579          64144.027          11333.284  0.75  SW FEMALE 
    END-POINT  58070.579          64144.027          11335.234  0.75  SW FEMALE 
    CENTRE-POINT   58070.579          64144.027          11334.259 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBI                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58070.579          64144.027          11335.234  0.75
    END-POINT  58070.579          64144.027          11335.234  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58070.579          64144.027          11335.234  0.75  PL
    END-POINT  58070.579          64144.027          11347.658  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBM                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58070.579  64144.027  11346.129  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENF                 
WELD
    END-POINT  58070.579          64144.027          11347.658  0.75
    END-POINT  58070.579          64144.027          11347.658  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GBO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58070.579          64144.027          11347.658  0.75  BW
    END-POINT  58070.579          64145.152          11348.783  0.75  BW
    CENTRE-POINT   58070.579          64144.027          11348.783 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENA                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58070.579  64144.027  11348.783 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58070.579  64138.800  11348.783 
    REFERENCED-ITEM
    ITEM-DIRECTION 3/4
    SKEY 
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58070.579  64144.027  11348.783 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64144.027  11348.783 
    REFERENCED-ITEM
    ITEM-DIRECTION 3/4
    SKEY 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58070.579          64145.152          11348.783  0.75
    END-POINT  58070.579          64145.152          11348.783  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58070.579          64150.371          11348.783  0.75  BW
    END-POINT  58070.579          64145.152          11348.783  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN7                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58070.579  64147.810  11348.783 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58070.579          64150.371          11348.783  0.75
    END-POINT  58070.579          64150.371          11348.783  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58069.454          64151.496          11348.783  0.75  BW
    END-POINT  58070.579          64150.371          11348.783  0.75  BW
    CENTRE-POINT   58070.579          64151.496          11348.783 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58069.454          64151.496          11348.783  0.75
    END-POINT  58069.454          64151.496          11348.783  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58043.718          64151.496          11348.783  0.75  BW
    END-POINT  58069.454          64151.496          11348.783  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN3                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58043.718          64151.496          11348.783  0.75
    END-POINT  58043.718          64151.496          11348.783  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58042.593          64151.496          11349.908  0.75  BW
    END-POINT  58043.718          64151.496          11348.783  0.75  BW
    CENTRE-POINT   58042.593          64151.496          11348.783 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN1                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58042.593          64151.496          11349.908  0.75
    END-POINT  58042.593          64151.496          11349.908  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EN0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58042.593          64151.496          11349.908  0.75  BW
    END-POINT  58042.593          64151.509          11425.813  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMW                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58042.593  64151.506  11404.622 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58042.593  64151.503  11388.093  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMY                 
SUPPORT
    CO-ORDS  58042.593  64151.503  11388.093  0.75
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMZ                 
WELD
    END-POINT  58042.593          64151.509          11425.813  0.75
    END-POINT  58042.593          64151.509          11425.813  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58042.593          64151.509          11428.813  2  BW
    END-POINT  58042.593          64151.509          11425.813  0.75  BW
    SKEY RCBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMU                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58042.593          64151.509          11428.813 
    PIPELINE-REFERENCE ISO-PY3-2036033
MATERIALS
ITEM-CODE GENSTR3/4
    DESCRIPTION SP-767, 3/4" DIX-LOCK QUICK ACTING COUPLING WITH MALE LOCKING HEAD X MALE NPT END.  PLATED STEEL.  DIXON PART NO. QM-43 OR APPROVED EQUAL
    RATING 2000LB
ITEM-CODE CPL3/4
    CATALOG ANSI B16.9
    DESCRIPTION COUPLING, FULL, 3000LB, THD, ASTM A182 Gr F304L, ANSI B16.9
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 3/4"x4" LG, BVxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 4"
    RATING 40S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPUB-3/4
    DESCRIPTION STANDARD U BOLT SUPPORT, P648 FIG 1
ITEM-CODE SUPUB-3/4_1
    DESCRIPTION STANDARD U BOLT SUPPORT, P648 FIG2
ITEM-CODE SUPLTR3/4
    DESCRIPTION ANGLE STEEL SUPPORT, L=1'-4", X=11", P629 FIG 7
