ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1218012
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 LC
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1218012-LC-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-018
    ATTRIBUTE21 J. PRIEST
    ATTRIBUTE22 12/1/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/10/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 3/11/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/23/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/23/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/23/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  58160.456          64225.679          11440.481  0.75  SC FEMALE 
    END-POINT  58160.456          64225.014          11439.816  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6QR                 
    PIPING-SPEC C2
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58160.456          64225.014          11439.816 
SCREWED-WELD
    END-POINT  58160.456          64225.679          11440.481  0.75  SC FEMALE 
    END-POINT  58160.456          64225.679          11440.481  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6QS                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58160.456          64227.093          11441.895  0.75  SW MALE 
    END-POINT  58160.456          64225.679          11440.481  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6QP                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64227.093          11441.895  0.75  SW MALE 
    END-POINT  58160.456          64227.093          11441.895  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6QQ                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58160.456          64228.772          11443.574  0.75  SW FEMALE 
    END-POINT  58160.456          64227.093          11441.895  0.75  SW FEMALE 
    CENTRE-POINT   58160.456          64227.932          11442.735 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6QJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58160.456          64228.772          11443.574  0.75  SW FEMALE 
    END-POINT  58160.456          64228.772          11443.574  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6QK                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64230.844          11445.646  0.75  SC MALE 
    END-POINT  58160.456          64228.772          11443.574  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6QH                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.456          64230.844          11445.646  0.75  SC MALE 
    END-POINT  58160.456          64230.844          11445.646  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6QI                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58160.456          64234.752          11448.259  1  SW FEMALE 
    END-POINT  58160.456          64229.707          11448.259  1  SW FEMALE 
    CENTRE-POINT   58160.456          64233.457          11448.259 
    BRANCH1-POINT  58160.456          64230.844          11445.646  0.75  SC FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE STRWYE1
    WEIGHT           3.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6KI                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58160.456          64234.752          11448.259  1  SW FEMALE 
    END-POINT  58160.456          64234.752          11448.259  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6KK                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64229.707          11448.259  1
    END-POINT  58160.456          64229.707          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T3                 
    THICKNESS/RATING 250LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64229.707          11448.259  1  PL
    END-POINT  58160.456          64225.207          11448.259  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T2                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64225.207          11448.259  1  SW FEMALE 
    END-POINT  58160.456          64225.207          11448.259  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58160.456          64225.017          11448.259  1  FL
    END-POINT  58160.456          64225.207          11448.259  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T4                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58160.456          64224.892          11448.259  1
    END-POINT  58160.456          64225.017          11448.259  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T7                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58160.456          64224.892          11448.259 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T8                 
FLANGE
    END-POINT  58160.456          64224.892          11448.259  1  FL
    END-POINT  58160.456          64224.702          11448.259  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T6                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64224.702          11448.259  1  SW MALE 
    END-POINT  58160.456          64224.702          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58160.456          64224.702          11448.259  1  SW MALE 
    END-POINT  58160.456          64221.702          11448.259  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T9                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.456          64221.702          11448.259  1  SC FEMALE 
    END-POINT  58160.456          64221.702          11448.259  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TC                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58160.456          64221.702          11448.259  1  SC FEMALE 
    END-POINT  58160.456          64216.662          11448.259  1  SC FEMALE 
    CENTRE-POINT  58160.456  64219.182  11448.259 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TB                 
    TAG SP-057                          
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  58160.456  64219.256  11448.259 
    TEXT SP-057
    UNDIMENSIONED
SCREWED-WELD
    END-POINT  58160.456          64216.662          11448.259  1  SC MALE 
    END-POINT  58160.456          64216.662          11448.259  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TF                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58160.456          64213.662          11448.259  1  SW MALE 
    END-POINT  58160.456          64216.662          11448.259  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TE                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64213.662          11448.259  1  SW FEMALE 
    END-POINT  58160.456          64213.662          11448.259  1  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58160.456          64213.472          11448.259  1  FL
    END-POINT  58160.456          64213.662          11448.259  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TG                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58160.456          64213.347          11448.259  1
    END-POINT  58160.456          64213.472          11448.259  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TJ                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58160.456          64213.347          11448.259 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TK                 
FLANGE
    END-POINT  58160.456          64213.347          11448.259  1  FL
    END-POINT  58160.456          64213.157          11448.259  1  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TI                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64213.157          11448.259  1
    END-POINT  58160.456          64213.157          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64213.157          11448.259  1  PL
    END-POINT  58160.456          64207.199          11448.259  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TL                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64207.199          11448.259  1
    END-POINT  58160.456          64207.199          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TN                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58160.456          64207.199          11448.259  1  SW FEMALE 
    END-POINT  58160.456          64204.011          11448.259  1  SW FEMALE 
    CENTRE-POINT   58160.456          64205.605          11448.259 
    SKEY CKSW
    FABRICATION-ITEM
    ITEM-CODE VALVCHK3/4
    WEIGHT           6.100
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6JT                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64204.011          11448.259  1
    END-POINT  58160.456          64204.011          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6JW                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64204.011          11448.259  1  PL
    END-POINT  58160.456          64200.011          11448.259  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6JV                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64200.011          11448.259  1  SW FEMALE 
    END-POINT  58160.456          64200.011          11448.259  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6JY                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58160.456          64200.011          11448.259  1  SW FEMALE 
    END-POINT  58160.456          64197.011          11448.259  1  SW FEMALE 
    CENTRE-POINT   58160.456          64198.511          11448.259 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           8.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6JX                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58160.456          64197.011          11448.259  1
    END-POINT  58160.456          64197.011          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKE                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64192.858          11448.259  1  PL
    END-POINT  58160.456          64197.011          11448.259  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKC                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64192.858          11448.259  1
    END-POINT  58160.456          64192.858          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58160.456          64191.978          11447.379  1  SW FEMALE 
    END-POINT  58160.456          64192.858          11448.259  1  SW FEMALE 
    CENTRE-POINT   58160.456          64191.978          11448.259 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AK6                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58160.456          64191.978          11447.379  1
    END-POINT  58160.456          64191.978          11447.379  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AK9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64191.978          11447.379  1  PL
    END-POINT  58160.456          64191.978          11439.325  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AK8                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64191.978          11439.325  1
    END-POINT  58160.456          64191.978          11439.325  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AKA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58160.456          64191.582          11438.369  1  SW FEMALE 
    END-POINT  58160.456          64191.978          11439.325  1  SW FEMALE 
    CENTRE-POINT   58160.456          64191.978          11438.765 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AK3                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58160.456          64191.582          11438.369  1  SW FEMALE 
    END-POINT  58160.456          64191.582          11438.369  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AK5                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64188.754          11435.541  1  PL
    END-POINT  58160.456          64191.582          11438.369  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AK1                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64188.754          11435.541  1
    END-POINT  58160.456          64188.754          11435.541  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AK2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58161.336          64188.131          11434.918  1  SW FEMALE 
    END-POINT  58159.576          64188.131          11434.918  1  SW FEMALE 
    CENTRE-POINT   58160.456          64188.131          11434.918 
    BRANCH1-POINT  58160.456          64188.754          11435.541  1  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7I1                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58161.336          64188.131          11434.918  1  SW MALE 
    END-POINT  58161.336          64188.131          11434.918  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7I4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58159.576          64188.131          11434.918  1
    END-POINT  58159.576          64188.131          11434.918  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7I2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58159.576          64188.131          11434.918  1  PL
    END-POINT  58124.555          64188.131          11434.918  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7FY                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58153.800  64188.131  11434.918  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7L5                 
SUPPORT
    CO-ORDS  58153.800  64188.131  11434.918  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7QK                 
FLOW-ARROW
    CO-ORDS  58141.223  64188.131  11434.918 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58124.555          64188.131          11434.918  1
    END-POINT  58124.555          64188.131          11434.918  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7G0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58123.675          64188.131          11434.038  1  SW FEMALE 
    END-POINT  58124.555          64188.131          11434.918  1  SW FEMALE 
    CENTRE-POINT   58123.675          64188.131          11434.918 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7FT                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58123.675          64188.131          11434.038  1
    END-POINT  58123.675          64188.131          11434.038  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7G2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58123.675          64188.131          11434.038  1  PL
    END-POINT  58123.675          64188.131          11429.126  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7G1                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.675          64188.131          11429.126  1  SW FEMALE 
    END-POINT  58123.675          64188.131          11429.126  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7GA                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58123.675          64188.131          11429.126  1  SW FEMALE 
    END-POINT  58123.675          64188.131          11426.126  1  SW FEMALE 
    CENTRE-POINT   58123.675          64188.131          11427.626 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           8.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7G9                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58123.675          64188.131          11426.126  1
    END-POINT  58123.675          64188.131          11426.126  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7GL                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58123.675          64188.131          11426.126  1  PL
    END-POINT  58123.675          64188.131          11421.361  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7GK                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58123.675          64188.131          11421.361  1
    END-POINT  58123.675          64188.131          11421.361  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9TT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58123.675  64188.131  11418.298 
    BRANCH1-POINT  58123.675          64188.131          11421.361  1  SW FEMALE 
    SKEY SKSW
    CONTINUATION 
    WEIGHT           0.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_DE                  
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58123.675  64188.131  11418.298 
    PIPELINE-REFERENCE ISO-PY3-2043006
MISC-COMPONENT
    END-POINT  58161.336          64188.131          11434.918  1  SW MALE 
    END-POINT  58161.898          64188.131          11434.918  0.75  SW FEMALE 
    CENTRE-POINT  58161.617  64188.131  11434.918 
    SKEY NCSW
    FABRICATION-ITEM
    ITEM-CODE INS1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7I3                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58161.898          64188.131          11434.918  0.75
    END-POINT  58161.898          64188.131          11434.918  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IC                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58164.706          64188.131          11434.918  0.75  PL
    END-POINT  58161.898          64188.131          11434.918  0.75  PL
    CONTINUATION 
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IA                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58164.706          64188.131          11434.918 
    PIPELINE-REFERENCE ISO-PY3-1218024
PIPE
    END-POINT  58160.456          64238.252          11448.259  1  PL
    END-POINT  58160.456          64234.752          11448.259  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6JA                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64238.252          11448.259  1
    END-POINT  58160.456          64238.252          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6JB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58160.456          64241.252          11448.259  1  SW FEMALE 
    END-POINT  58160.456          64238.252          11448.259  1  SW FEMALE 
    CENTRE-POINT   58160.456          64239.752          11448.259 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT3/4
    WEIGHT           8.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6J5                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  58160.456          64241.252          11448.259  1
    END-POINT  58160.456          64241.252          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T1                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64250.252          11448.259  1  PL
    END-POINT  58160.456          64241.252          11448.259  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9SZ                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64250.252          11448.259  1
    END-POINT  58160.456          64250.252          11448.259  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9T0                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58160.456          64251.132          11449.139  1  SW FEMALE 
    END-POINT  58160.456          64251.132          11447.379  1  SW FEMALE 
    CENTRE-POINT   58160.456          64251.132          11448.259 
    BRANCH1-POINT  58160.456          64250.252          11448.259  1  SW FEMALE 
    SKEY TESW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7H2                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58160.456          64251.132          11449.139  1
    END-POINT  58160.456          64251.132          11449.139  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64251.132          11447.379  1  SW MALE 
    END-POINT  58160.456          64251.132          11447.379  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7H7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58160.456          64251.132          11447.379  1  SW MALE 
    END-POINT  58160.456          64251.132          11446.817  0.75  SW FEMALE 
    CENTRE-POINT  58160.456  64251.132  11447.098 
    SKEY NCSW
    FABRICATION-ITEM
    ITEM-CODE INS1X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7H6                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64251.132          11446.817  0.75
    END-POINT  58160.456          64251.132          11446.817  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64251.132          11446.817  0.75  PL
    END-POINT  58160.456          64251.132          11443.379  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8A9                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58160.456          64251.132          11443.379  0.75
    END-POINT  58160.456          64251.132          11443.379  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AB                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58160.456          64251.132          11443.379  0.75  SW FEMALE 
    END-POINT  58160.456          64251.132          11441.004  0.75  SW FEMALE 
    CENTRE-POINT   58160.456          64251.132          11442.192 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7HA                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
    DIRECTION SOUTH 45 EAST
SOCKET-WELD
    END-POINT  58160.456          64251.132          11441.004  0.75  SW MALE 
    END-POINT  58160.456          64251.132          11441.004  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AD                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58160.456          64251.132          11441.004  0.75  SW MALE 
    END-POINT  58160.456          64251.132          11439.004  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AC                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58160.456          64251.132          11439.004  0.75  SC FEMALE 
    END-POINT  58160.456          64251.132          11439.004  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
CAP
    END-POINT  58160.456          64251.132          11439.004  0.75  SC FEMALE 
    END-POINT  58160.456          64251.132          11438.064  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8AE                 
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64251.132          11466.843  1  PL
    END-POINT  58160.456          64251.132          11449.139  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IW                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58160.456  64251.132  11458.676 
    FLOW 1
    SKEY FLOW
SOCKET-WELD
    END-POINT  58160.456          64251.132          11466.843  1
    END-POINT  58160.456          64251.132          11466.843  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IX                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58160.456          64252.012          11467.723  1  SW FEMALE 
    END-POINT  58160.456          64251.132          11466.843  1  SW FEMALE 
    CENTRE-POINT   58160.456          64251.132          11467.723 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7IR                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58160.456          64252.012          11467.723  1
    END-POINT  58160.456          64252.012          11467.723  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7JR                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58160.456          64278.265          11467.723  1  PL
    END-POINT  58160.456          64252.012          11467.723  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7JP                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58160.456  64264.512  11467.723  1
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8A1                 
SUPPORT
    CO-ORDS  58160.456  64264.510  11467.723  1
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9EH                 
SOCKET-WELD
    END-POINT  58160.456          64278.265          11467.723  1
    END-POINT  58160.456          64278.265          11467.723  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7JQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58160.456          64278.265          11467.723  1  SW FEMALE 
    END-POINT  58161.336          64279.145          11467.723  1  SW FEMALE 
    CENTRE-POINT   58160.456          64279.145          11467.723 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7JO                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58160.456  64279.145  11467.723 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64279.145  11467.723 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58160.456  64279.145  11467.723 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58160.456  64378.800  11467.723 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX4
    MESSAGE
    TEXT COL G
SOCKET-WELD
    END-POINT  58161.336          64279.145          11467.723  1
    END-POINT  58161.336          64279.145          11467.723  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7JT                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58161.336          64279.145          11467.723  1  PL
    END-POINT  58229.320          64279.145          11467.723  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7JS                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58201.014  64279.145  11467.723 
    FLOW 2
    SKEY FLOW
SOCKET-WELD
    END-POINT  58229.320          64279.145          11467.723  1
    END-POINT  58229.320          64279.145          11467.723  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7JU                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58230.276          64278.749          11467.723  1  SW FEMALE 
    END-POINT  58229.320          64279.145          11467.723  1  SW FEMALE 
    CENTRE-POINT   58229.880          64279.145          11467.723 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7JN                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58230.276          64278.749          11467.723  1
    END-POINT  58230.276          64278.749          11467.723  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8NA                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58241.060          64267.965          11467.723  1  PL
    END-POINT  58230.276          64278.749          11467.723  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8N8                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58241.060          64267.965          11467.723  1
    END-POINT  58241.060          64267.965          11467.723  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8N9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58241.456          64267.009          11467.723  1  SW FEMALE 
    END-POINT  58241.060          64267.965          11467.723  1  SW FEMALE 
    CENTRE-POINT   58241.456          64267.569          11467.723 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 45L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8N3                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
SOCKET-WELD
    END-POINT  58241.456          64267.009          11467.723  1
    END-POINT  58241.456          64267.009          11467.723  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8N6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58241.456          64267.009          11467.723  1  PL
    END-POINT  58241.456          64259.449          11467.723  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8N5                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58241.456          64259.449          11467.723  1
    END-POINT  58241.456          64259.449          11467.723  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8N7                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58241.456          64258.569          11468.603  1  SW FEMALE 
    END-POINT  58241.456          64259.449          11467.723  1  SW FEMALE 
    CENTRE-POINT   58241.456          64258.569          11467.723 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L1X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6L6                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58241.456          64258.569          11468.603  1
    END-POINT  58241.456          64258.569          11468.603  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
PIPE
    END-POINT  58241.456          64258.569          11473.871  1  PL
    END-POINT  58241.456          64258.569          11468.603  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UE                 
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58241.456          64258.569          11473.871  1
    END-POINT  58241.456          64258.569          11473.871  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
COUPLING
    END-POINT  58241.456          64258.569          11474.308  1  SW FEMALE 
    END-POINT  58241.456          64258.569          11473.871  1  SW FEMALE 
    SKEY COSW
    FABRICATION-ITEM
    ITEM-CODE CPL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UC                 
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58241.456          64258.569          11474.308  1  SW FEMALE 
    END-POINT  58241.456          64258.569          11474.308  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
REDUCER-CONCENTRIC
    END-POINT  58241.456          64258.569          11478.808  1.5  PL
    END-POINT  58241.456          64258.569          11474.308  1  PL
    SKEY CSPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           1.170
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9U9                 
    PIPING-SPEC C2
SOCKET-WELD
    END-POINT  58241.456          64258.569          11478.808  1.5
    END-POINT  58241.456          64258.569          11478.808  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
FLANGE
    END-POINT  58241.456          64258.569          11479.001  1.5  FL
    END-POINT  58241.456          64258.569          11478.808  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UI                 
    PIPING-SPEC C2
GASKET
    END-POINT  58241.456          64258.569          11479.001  1.5
    END-POINT 
** 
Processing ID: AT_FMJ8D1LE_9UJ  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UJ                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58241.456          64258.569          11479.001 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9UK                 
END-POSITION-OPEN 
    CO-ORDS  58241.456  64258.569  11479.001 
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE STRWYE1
    CATALOG CYTEC STRAINER
    DESCRIPTION Y-STRAINER, CL. 250, SW, CS, YARWAY 921 SW OR EQUAL (12.14)
    RATING 250LB
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE FLG1
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SWMxSCM, SCH 40, ASTM A 106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE GENSTR1
    DESCRIPTION STEAM TRAP, SP-057
    RATING 2000LB
ITEM-CODE VALVCHK3/4
    CATALOG CYTEC VALVE
    DESCRIPTION PISTON CHECK VALVE, SWF, 800LB, CL-08-CB-001
    RATING 800LB
ITEM-CODE VALVGAT3/4
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE 90L1X1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE 45L1X1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 45 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE TEESTR1X1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION STRAIGHT TEE, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPTS-1
    DESCRIPTION TEE SHOE SUPPORT/ANCHOR, P602-FIG 3 (MODIFY TO 8" LONG)
ITEM-CODE SUPAG-1
    DESCRIPTION STEEL SUPPORT, P629-FIG 7, L=1'-0", X=1'-6 3/16"
ITEM-CODE INS1X3/4
    CATALOG ANSI B16.11
    DESCRIPTION REDUCING INSERT, SWMxSWF, 3000LB, ASTM A105, ANSI B16.11
    RATING 3000LB
ITEM-CODE SUPAG-1_1
    DESCRIPTION STEEL SUPPORT, P629-FIG 10, L=1'-2", X=1'-5"
ITEM-CODE SUPUB-1
    DESCRIPTION U BOLT GUIDE, P651 FIG 1
ITEM-CODE CPL1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION FULL COUPLING, SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION CONC SWAGE, PLxPL, SCH 40, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
