ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1901012
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_TF11.DWG
    ATTRIBUTE98 WW
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1901012-WW-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-WW3-81P-001
    ATTRIBUTE21 D.CREECH
    ATTRIBUTE22 3/20/2009
    ATTRIBUTE25 TS
    ATTRIBUTE26 3/25/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/25/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/25/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/25/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/25/2009
    ATTRIBUTE36 DKC
    ATTRIBUTE37 TS
    ATTRIBUTE38 DCD
    ATTRIBUTE39 I.F.C.
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE
    END-POINT  60359.384          65809.993          11479.787  1  SW FEMALE 
    END-POINT  60359.384          65809.993          11476.627  1  SW FEMALE 
    CENTRE-POINT   60359.384          65809.993          11478.472 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0U                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  60359.384          65809.993          11479.787  1  SW FEMALE 
    END-POINT  60359.384          65809.993          11479.787  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  60359.384          65809.993          11476.627 
PIPE
    END-POINT  60359.384          65809.993          11483.317  1  BW
    END-POINT  60359.384          65809.993          11479.787  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0S                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60359.384          65809.993          11483.317  1
    END-POINT  60359.384          65809.993          11483.317  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60359.384          65812.243          11485.567  1.5  BW
    END-POINT  60359.384          65807.743          11485.567  1.5  BW
    CENTRE-POINT   60359.384          65809.993          11485.567 
    BRANCH1-POINT  60359.384          65809.993          11483.317  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1
    WEIGHT           0.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0P                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60359.384          65812.243          11485.567  1.5
    END-POINT  60359.384          65812.243          11485.567  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0R                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60359.384          65807.743          11485.567  1.5
    END-POINT  60359.384          65807.743          11485.567  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B11                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60359.384          65807.743          11485.567  1.5  BW
    END-POINT  60359.384          65804.213          11485.567  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B10                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  60359.384          65804.213          11485.567  1.5  SW FEMALE 
    END-POINT  60359.384          65804.213          11485.567  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B13                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  60359.384          65804.213          11485.567  1.5  SW FEMALE 
    END-POINT  60359.384          65800.663          11485.567  1.5  SW FEMALE 
    CENTRE-POINT   60359.384          65802.453          11485.567 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B12                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  60359.384          65800.663          11485.567  1.5
    END-POINT  60359.384          65800.663          11485.567  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B17                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  60359.384          65800.663          11485.567  1.5  PL
    END-POINT  60359.384          65797.663          11485.567  1.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1+1/2
    WEIGHT           0.450
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B16                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  60359.384          65797.663          11485.567  1.5  SC FEMALE 
    END-POINT  60359.384          65797.663          11485.567  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B19                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
CAP
    END-POINT  60359.384          65797.663          11485.567  1.5  SC FEMALE 
    END-POINT  60359.384          65796.333          11485.567  1.5
    SKEY KASC
    ERECTION-ITEM
    ITEM-CODE GENEND1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B18                 
    TAG SP-158                          
    PIPING-SPEC S1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  60359.384          65796.333          11485.567 
MESSAGE-ROUND
    CO-ORDS  60359.384  65798.333  11485.567 
    TEXT SP-158
    UNDIMENSIONED
TEE
    END-POINT  60359.384          65812.243          11485.567  1.5  BW
    END-POINT  60359.384          65816.743          11485.567  1.5  BW
    CENTRE-POINT   60359.384          65814.493          11485.567 
    BRANCH1-POINT  60361.634          65814.493          11485.567  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1
    WEIGHT           0.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0K                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60359.384          65816.743          11485.567  1.5
    END-POINT  60359.384          65816.743          11485.567  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60361.634          65814.493          11485.567  1
    END-POINT  60361.634          65814.493          11485.567  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60365.634          65814.493          11485.567  1  PL
    END-POINT  60361.634          65814.493          11485.567  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0H                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60365.634          65814.493          11485.567  1
    END-POINT  60365.634          65814.493          11485.567  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60365.634          65814.493          11485.567  1
    END-POINT  60365.634          65814.493          11485.567  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  60365.830          65814.493          11485.567  1  FL
    END-POINT  60365.634          65814.493          11485.567  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0E                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  60365.830          65814.493          11485.567  1
    END-POINT  60365.955          65814.493          11485.567  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0F                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  60365.830          65814.493          11485.567 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0G                 
FLANGE
    END-POINT  60365.955          65814.493          11485.567  1  FL
    END-POINT  60365.650          65814.493          11485.567  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60365.650          65814.493          11485.567  1
    END-POINT  60365.650          65814.493          11485.567  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60365.650          65814.493          11485.567  1
    END-POINT  60365.650          65814.493          11485.567  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B0D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  60365.650          65814.493          11485.567  1  PL
    END-POINT  60371.650          65814.493          11485.567  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.700
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B08                 
    PIPING-SPEC S1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  60371.650          65814.493          11485.567  1  SC MALE 
    END-POINT  60371.650          65814.493          11485.567  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BCD                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
    INSULATION-ON 
NOZZLE
    CO-ORDS  60371.650          65814.493          11485.567  1  SC FEMALE 
    CONNECTION-REFERENCE WW3-217$NOZZLE TAG WW3-217-OUTLET$RATING 3000LB
ELBOW
    END-POINT  60359.384          65816.743          11485.567  1.5  BW
    END-POINT  60359.384          65818.993          11487.817  1.5  BW
    CENTRE-POINT   60359.384          65818.993          11485.567 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1B                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60359.384  65818.993  11485.567 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60552.000  65818.993  11482.067 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
WELD
    END-POINT  60359.384          65818.993          11487.817  1.5
    END-POINT  60359.384          65818.993          11487.817  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60359.384          65818.993          11487.817  1.5  BW
    END-POINT  60359.384          65818.993          11492.317  1.5  BW
    CENTRE-POINT   60359.384          65818.993          11490.067 
    BRANCH1-POINT  60361.634          65818.993          11490.067  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1/2
    WEIGHT           0.390
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1G                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60359.384          65818.993          11492.317  1.5
    END-POINT  60359.384          65818.993          11492.317  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60361.634          65818.993          11490.067  0.5
    END-POINT  60361.634          65818.993          11490.067  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1K                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60361.634          65818.993          11490.067  0.5  BW
    END-POINT  60365.044          65818.993          11490.067  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1J                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  60365.044          65818.993          11490.067  0.5  SW FEMALE 
    END-POINT  60365.044          65818.993          11490.067  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1M                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  60365.044          65818.993          11490.067  0.5  SW FEMALE 
    END-POINT  60366.724          65818.993          11490.067  0.5  SW FEMALE 
    CENTRE-POINT   60365.929          65818.993          11490.067 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1L                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  60366.724          65818.993          11490.067  0.5
    END-POINT  60366.724          65818.993          11490.067  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BFF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  60366.724          65818.993          11490.067  0.5  PL
    END-POINT  60369.724          65818.993          11490.067  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_BFE                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  60369.224  65818.993  11490.067 
    TEXT PI$217$01
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  60369.724          65818.993          11490.067 
PIPE
    END-POINT  60359.384          65818.993          11492.317  1.5  BW
    END-POINT  60359.384          65818.993          11495.847  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1S                 
    PIPING-SPEC S1
    INSULATION-ON 
SOCKET-WELD
    END-POINT  60359.384          65818.993          11495.847  1.5  SW FEMALE 
    END-POINT  60359.384          65818.993          11495.847  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  60359.384          65818.993          11495.847  1.5  SW FEMALE 
    END-POINT  60359.384          65818.993          11499.367  1.5  SW FEMALE 
    CENTRE-POINT   60359.384          65818.993          11497.607 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1U                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  60359.384          65818.993          11499.367  1.5
    END-POINT  60359.384          65818.993          11499.367  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60359.384          65818.993          11499.367  1.5  PL
    END-POINT  60359.384          65818.993          11592.397  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B1Y                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60359.384          65818.993          11592.397  1.5
    END-POINT  60359.384          65818.993          11592.397  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B22                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60359.384          65818.993          11592.397  1.5  BW
    END-POINT  60361.634          65818.993          11594.647  1.5  BW
    CENTRE-POINT   60359.384          65818.993          11594.647 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B20                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60361.634          65818.993          11594.647  1.5
    END-POINT  60361.634          65818.993          11594.647  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B24                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60361.634          65818.993          11594.647  1.5  BW
    END-POINT  60418.634          65818.993          11594.647  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B23                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  60364.634  65818.993  11626.647  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B9F                 
SUPPORT
    CO-ORDS  60364.634  65818.993  11594.647  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B9N                 
    TAG                         P624-FIG4                       
WELD
    END-POINT  60418.634          65818.993          11594.647  1.5
    END-POINT  60418.634          65818.993          11594.647  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B27                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60418.634          65818.993          11594.647  1.5  BW
    END-POINT  60420.884          65818.993          11596.897  1.5  BW
    CENTRE-POINT   60420.884          65818.993          11594.647 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B25                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60420.884          65818.993          11596.897  1.5
    END-POINT  60420.884          65818.993          11596.897  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B29                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60420.884          65818.993          11596.897  1.5  BW
    END-POINT  60420.884          65818.993          11648.897  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B28                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60420.884          65818.993          11648.897  1.5
    END-POINT  60420.884          65818.993          11648.897  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60420.884          65818.993          11648.897  1.5  BW
    END-POINT  60418.634          65818.993          11651.147  1.5  BW
    CENTRE-POINT   60420.884          65818.993          11651.147 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2A                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60420.884  65818.993  11651.147 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60420.884  65830.555  11651.147 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. 1.A
WELD
    END-POINT  60418.634          65818.993          11651.147  1.5
    END-POINT  60418.634          65818.993          11651.147  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60418.634          65818.993          11651.147  1.5  BW
    END-POINT  60312.822          65818.993          11651.147  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2D                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  60328.874  65818.993  11651.147 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  60405.086  65818.993  11651.147  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B9P                 
    TAG                         P624-FIG4                       
WELD
    END-POINT  60312.822          65818.993          11651.147  1.5
    END-POINT  60312.822          65818.993          11651.147  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  60312.822          65818.993          11651.147  1.5  BW
    END-POINT  60310.572          65818.993          11653.397  1.5  BW
    CENTRE-POINT   60310.572          65818.993          11651.147 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2I                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  60310.572          65818.993          11653.397  1.5
    END-POINT  60310.572          65818.993          11653.397  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  60310.572          65818.993          11653.397  1.5  BW
    END-POINT  60310.570          65818.993          11675.700  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2L                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  60310.570          65818.993          11675.700  1.5
    END-POINT  60310.570          65818.993          11675.700  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_B2N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  60310.570          65821.243          11677.950  1.5  BW
    END-POINT  60310.570          65816.743          11677.950  1.5  BW
    CENTRE-POINT   60310.570          65818.993          11677.950 
    BRANCH1-POINT  60310.570          65818.993          11675.700  1.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4KC                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  60310.570          65821.243          11677.950 
    PIPELINE-REFERENCE ISO-GS3-1901003
MATERIALS
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE TEERED1+1/2X1
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1+1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE GENEND1+1/2
    DESCRIPTION General End
    RATING 2000LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1"x6" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 6"
    RATING 40S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED1+1/2X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE SUPLTR1+1/2
    DESCRIPTION P658 FIG. 1
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION ROD HANGER, P624-FIG4
