ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222009
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1222009-PP-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 12/4/2008
    ATTRIBUTE23 D.K.
    ATTRIBUTE24 12/5/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/9/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T, LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 6
    ATTRIBUTE34 0
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 RJR
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/16/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 D. ORR
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 4/7/2009
    ATTRIBUTE54 SM
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 9/14/2012
    ATTRIBUTE66 DBH
    ATTRIBUTE67 KC
    ATTRIBUTE68 DD
    ATTRIBUTE69 DELETED DRAIN
    ATTRIBUTE70 6
    ATTRIBUTE71 11/1/2012
    ATTRIBUTE72 CP
    ATTRIBUTE73 DD
    ATTRIBUTE74 DK
    ATTRIBUTE75 REVISED SERVICE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58019.802          64026.886          11321.491  0.5  PL
    END-POINT  58019.802          64029.886          11321.491  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C72                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58019.802  64029.386  11321.491 
    TEXT PI$058$02
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58019.802          64026.886          11321.491  0.5
    END-POINT  58019.802          64026.886          11321.491  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C73                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58019.802          64029.886          11321.491 
VALVE
    END-POINT  58019.802          64025.206          11321.491  0.5  SW FEMALE 
    END-POINT  58019.802          64026.886          11321.491  0.5  SW FEMALE 
    CENTRE-POINT   58019.802          64026.091          11321.491 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58019.802          64025.206          11321.491  0.5  SW FEMALE 
    END-POINT  58019.802          64025.206          11321.491  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58019.802          64021.796          11321.491  0.5  BW
    END-POINT  58019.802          64025.206          11321.491  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6W                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58019.802          64021.796          11321.491  0.5
    END-POINT  58019.802          64021.796          11321.491  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6X                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58019.802  64018.796  11321.491 
    BRANCH1-POINT  58019.802          64021.796          11321.491  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6U                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58019.802  64018.796  11321.491  4
    END-POINT  58019.802  64018.796  11321.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C6V                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58019.802          64018.796          11316.431  4  BW
    END-POINT  58019.802          64018.796          11325.491  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ADS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58019.802  64018.796  11319.488 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58019.802          64018.796          11316.431  4
    END-POINT  58019.802          64018.796          11316.431  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AGZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58019.802          64018.796          11325.491  4
    END-POINT  58019.802          64018.796          11325.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_ADU                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58019.802          64018.796          11325.491  4  BW
    END-POINT  58015.559          64023.039          11331.491  4  BW
    CENTRE-POINT   58019.802          64018.796          11331.491 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7KX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58019.802  64018.796  11331.491 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64018.796  11331.491 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58019.802  64018.796  11331.491 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58019.802  64138.748  11331.491 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58015.559          64023.039          11331.491  4
    END-POINT  58015.559          64023.039          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7L6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58015.559          64023.039          11331.491  4  BW
    END-POINT  58012.731          64025.867          11331.491  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7L5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.731          64025.867          11331.491  4
    END-POINT  58012.731          64025.867          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7LD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.731          64025.867          11331.491  4
    END-POINT  58012.731          64025.867          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7LE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58012.519          64026.079          11331.491  4  FL
    END-POINT  58012.731          64025.867          11331.491  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7LC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58012.519          64026.079          11331.491  4
    END-POINT  58012.431          64026.167          11331.491  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A52                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.431          64026.167          11331.491 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A53                 
VALVE
    END-POINT  58012.431          64026.167          11331.491  4  FL
    END-POINT  58004.299          64034.299          11331.491  4  FL
    CENTRE-POINT   58008.365          64030.233          11331.491 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT          72.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7LF                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58004.299          64034.299          11331.491  4
    END-POINT  58004.210          64034.387          11331.491  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A54                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58004.210          64034.387          11331.491 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A55                 
FLANGE
    END-POINT  58004.210          64034.387          11331.491  4  FL
    END-POINT  58003.999          64034.599          11331.491  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7LO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58003.999          64034.599          11331.491  4
    END-POINT  58003.999          64034.599          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58003.999          64034.599          11331.491  4
    END-POINT  58003.999          64034.599          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58003.999          64034.599          11331.491  4  PL
    END-POINT  57999.756          64038.842          11331.491  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57999.756          64038.842          11331.491  4
    END-POINT  57999.756          64038.842          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57999.756          64038.842          11331.491  4  BW
    END-POINT  57995.513          64043.084          11337.491  4  BW
    CENTRE-POINT   57995.513          64043.084          11331.491 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7M0                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57995.513  64043.084  11331.491  4
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AG3                 
WELD
    END-POINT  57995.513          64043.084          11337.491  4
    END-POINT  57995.513          64043.084          11337.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7M4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57995.513          64043.084          11337.491  4  BW
    END-POINT  57995.513          64043.084          11341.491  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7M3                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57995.513          64043.084          11341.491  4
    END-POINT  57995.513          64043.084          11341.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7MB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.513          64043.084          11341.491  4
    END-POINT  57995.513          64043.084          11341.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7MC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57995.513          64043.084          11341.790  4  FL
    END-POINT  57995.513          64043.084          11341.491  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7MA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57995.513          64043.084          11341.790  4
    END-POINT  57995.513          64043.084          11341.915  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A50                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57995.513          64043.084          11341.915 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A51                 
VALVE
    END-POINT  57995.513          64043.084          11341.915  4  FL
    END-POINT  57995.513          64043.084          11344.040  4  FL
    CENTRE-POINT   57995.513          64043.084          11342.978 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7MD                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57995.513          64043.084          11344.040  4
    END-POINT  57995.513          64043.084          11344.165  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A4Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57995.513          64043.084          11344.165 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A4Z                 
FLANGE
    END-POINT  57995.513          64043.084          11344.165  4  FL
    END-POINT  57995.513          64043.084          11344.465  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7MT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57995.513          64043.084          11344.465  4
    END-POINT  57995.513          64043.084          11344.465  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.513          64043.084          11344.465  4
    END-POINT  57995.513          64043.084          11344.465  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57995.513          64043.084          11344.465  4  PL
    END-POINT  57995.513          64043.084          11377.141  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57995.513  64043.084  11358.195 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57995.513          64043.084          11377.141  4
    END-POINT  57995.513          64043.084          11377.141  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57995.513          64047.204          11381.261  4  BW
    END-POINT  57995.513          64038.964          11381.261  4  BW
    CENTRE-POINT   57995.513          64043.084          11381.261 
    BRANCH1-POINT  57995.513          64043.084          11377.141  4  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           2.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57995.513          64047.204          11381.261 
    PIPELINE-REFERENCE ISO-PY3-1222010
REDUCER-CONCENTRIC
    END-POINT  58019.802          64018.796          11316.431  4  BW
    END-POINT  58019.802          64018.796          11312.431  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AGX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58019.802          64018.796          11312.431  1.5
    END-POINT  58019.802          64018.796          11312.431  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AGY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58019.802          64018.796          11309.991  1.5  FL
    END-POINT  58019.802          64018.796          11312.431  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AGT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58019.802          64018.796          11309.991  1.5
    END-POINT  58019.802          64018.796          11309.866  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58019.802          64018.796          11309.991 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9Z                 
NOZZLE
    CO-ORDS  58019.802          64018.796          11309.866  1.5  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58019.802          64018.796          11309.866 
    TEXT PY3-058$NOZZLE TAG PY3-058-DISCHARGE$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL4X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK4
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE SUPEB-4
    DESCRIPTION ELBOW SUPPORT, L=4'-3 1/2", P619 FIG 2
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE REDCON4X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
