ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221006
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 20TWR
    ATTRIBUTE97 0.50
    ATTRIBUTE96 1221006-20TWR-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 N/A
    ATTRIBUTE21 N/A
    ATTRIBUTE22 N/A
    ATTRIBUTE23 N/A
    ATTRIBUTE24 N/A
    ATTRIBUTE25 N/A
    ATTRIBUTE26 N/A
    ATTRIBUTE27 N/A
    ATTRIBUTE28 N/A
    ATTRIBUTE29 N/A
    ATTRIBUTE30 N/A
    ATTRIBUTE31 N/A
    ATTRIBUTE32 N/A
    ATTRIBUTE33 N/A
    ATTRIBUTE34 N/A
    ATTRIBUTE35 N/A
    ATTRIBUTE36 N/A
    ATTRIBUTE37 N/A
    ATTRIBUTE38 N/A
    ATTRIBUTE39 N/A
    ATTRIBUTE40 N/A
    ATTRIBUTE41 N/A
    ATTRIBUTE42 N/A
    ATTRIBUTE43 N/A
    ATTRIBUTE44 N/A
    ATTRIBUTE45 N/A
    ATTRIBUTE46 N/A
    ATTRIBUTE47 N/A
    ATTRIBUTE48 N/A
    ATTRIBUTE49 N/A
    ATTRIBUTE50 N/A
    ATTRIBUTE51 N/A
    ATTRIBUTE52 N/A
    ATTRIBUTE53 N/A
    ATTRIBUTE54 N/A
    ATTRIBUTE55 N/A
    ATTRIBUTE56 N/A
    ATTRIBUTE57 N/A
    ATTRIBUTE58 N/A
    ATTRIBUTE59 N/A
    ATTRIBUTE60 N/A
    ATTRIBUTE61 N/A
    ATTRIBUTE62 N/A
    ATTRIBUTE63 N/A
    ATTRIBUTE64 N/A
    ATTRIBUTE65 N/A
    ATTRIBUTE66 N/A
    ATTRIBUTE67 N/A
    ATTRIBUTE68 N/A
    ATTRIBUTE69 N/A
    ATTRIBUTE70 N/A
    ATTRIBUTE71 N/A
    ATTRIBUTE72 N/A
    ATTRIBUTE73 N/A
    ATTRIBUTE74 N/A
    ATTRIBUTE75 N/A
    ATTRIBUTE76 N/A
    ATTRIBUTE77 N/A
    ATTRIBUTE78 N/A
    ATTRIBUTE79 N/A
    ATTRIBUTE80 N/A
    ATTRIBUTE81 N/A
    ATTRIBUTE82 N/A
    ATTRIBUTE83 N/A
    ATTRIBUTE84 N/A
    ATTRIBUTE85 N/A
    ATTRIBUTE86 N/A
    ATTRIBUTE87 N/A
    ATTRIBUTE88 N/A
    ATTRIBUTE89 N/A
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  57938.940          63924.204          11290.623  0.75  SC MALE 
    END-POINT  57938.940          63924.204          11289.622  0.75
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57938.940          63924.204          11290.623  0.75  SC FEMALE 
    END-POINT  57938.940          63924.204          11290.623  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXO                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  57938.940          63924.204          11292.063  0.75  SC FEMALE 
    END-POINT  57938.940          63924.204          11290.623  0.75  SC FEMALE 
    CENTRE-POINT   57938.940          63924.204          11291.283 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.200
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXM                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
SCREWED-WELD
    END-POINT  57938.940          63924.204          11292.063  0.75  SC MALE 
    END-POINT  57938.940          63924.204          11292.063  0.75  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXL                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  57938.940          63924.204          11295.063  0.75  SC MALE 
    END-POINT  57938.940          63924.204          11292.063  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57938.940          63924.204          11295.063  0.75  SC FEMALE 
    END-POINT  57938.940          63924.204          11295.063  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXJ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57938.940  63924.204  11297.875 
    BRANCH1-POINT  57938.940          63924.204          11295.063  0.75  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL4X3/4
    WEIGHT           0.350
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXI                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57938.940  63924.204  11297.875  4
    END-POINT  57938.940  63924.204  11297.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57938.940          63920.204          11297.875  4  BW
    END-POINT  57938.940          63933.197          11297.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXD                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57938.940  63926.500  11297.875 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57938.940          63920.204          11297.875  4
    END-POINT  57938.940          63920.204          11297.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57938.940          63933.197          11297.875  4
    END-POINT  57938.940          63933.197          11297.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57938.940          63933.197          11297.875  4  BW
    END-POINT  57938.940          63937.197          11298.375  3  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    FLAT-DIRECTION UP
    MESSAGE
    TEXT FOT
WELD
    END-POINT  57938.940          63937.197          11298.375  3
    END-POINT  57938.940          63937.197          11298.375  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57938.940          63939.947          11298.375  3  FL
    END-POINT  57938.940          63937.197          11298.375  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXS                 
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57938.940          63939.947          11298.375 
ELBOW
    END-POINT  57938.940          63920.204          11297.875  4  BW
    END-POINT  57938.940          63914.204          11303.875  4  BW
    CENTRE-POINT   57938.940          63914.204          11297.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX9                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  57938.940  63914.204  11297.875  4
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FXA                 
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57938.940  63914.204  11297.875 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63914.204  11297.875 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57938.940          63914.204          11303.875  4
    END-POINT  57938.940          63914.204          11303.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX8                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57938.940          63914.204          11303.875  4  BW
    END-POINT  57938.940          63914.204          11328.375  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX7                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57938.940          63914.204          11328.375  4
    END-POINT  57938.940          63914.204          11328.375  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57938.940          63914.204          11328.375  4
    END-POINT  57938.940          63914.204          11328.375  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57938.940          63914.204          11328.674  4  FL
    END-POINT  57938.940          63914.204          11328.375  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX4                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  57938.940          63914.204          11328.674 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX3                 
VALVE
    END-POINT  57938.940          63914.204          11328.674  4  FL
    END-POINT  57938.940          63914.204          11330.737  4  FL
    CENTRE-POINT   57938.940          63914.204          11329.706 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX1                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
BOLT
    CO-ORDS  57938.940          63914.204          11330.737 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FX0                 
FLANGE
    END-POINT  57938.940          63914.204          11330.737  4  FL
    END-POINT  57938.940          63914.204          11331.037  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWZ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57938.940          63914.204          11331.037  4
    END-POINT  57938.940          63914.204          11331.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57938.940          63914.204          11331.037  4
    END-POINT  57938.940          63914.204          11331.037  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57938.940          63914.204          11331.037  4  PL
    END-POINT  57938.940          63914.204          11371.079  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWV                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57938.940  63914.204  11352.164 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57938.940          63914.204          11371.079  4
    END-POINT  57938.940          63914.204          11371.079  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57938.940          63914.204          11371.079  4  BW
    END-POINT  57932.940          63914.204          11377.079  4  BW
    CENTRE-POINT   57938.940          63914.204          11377.079 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWS                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57938.940  63914.204  11377.079 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57938.940  63898.800  11377.079 
    REFERENCED-ITEM
    ITEM-DIRECTION 4
    SKEY 
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57932.940          63914.204          11377.079  4
    END-POINT  57932.940          63914.204          11377.079  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWR                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57932.940          63914.204          11377.079  4  BW
    END-POINT  57926.560          63914.204          11377.079  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWQ                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57926.560          63914.204          11377.079  4
    END-POINT  57926.560          63914.204          11377.079  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWP                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57918.320          63914.204          11377.079  4  BW
    END-POINT  57926.560          63914.204          11377.079  4  BW
    CENTRE-POINT   57922.440          63914.204          11377.079 
    BRANCH1-POINT  57922.440          63917.117          11379.993  4  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_FWN                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57918.320          63914.204          11377.079 
    PIPELINE-REFERENCE ISO-PY3-1115004
MATERIALS
ITEM-CODE PLGHEX3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SCM, SCH 80, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE TOL4X3/4
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE REDECC4X3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE 90LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPEB-4
    DESCRIPTION ELBOW SUPPORT,  L= 1'-5 7/8", P619 FIG 2
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 1 3/4 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
