ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036033
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036033-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR BID
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
CAP
    END-POINT  57814.692          63936.145          11801.490  0.75  SC FEMALE 
    END-POINT  57814.692          63936.145          11800.050  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYE                 
    PIPING-SPEC S1
    END-POSITION-CLOSED 
    CO-ORDS  57814.692          63936.145          11800.050 
SCREWED-WELD
    END-POINT  57814.692          63936.145          11801.490  0.75  SC FEMALE 
    END-POINT  57814.692          63936.145          11801.490  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63936.145          11806.020  0.75  PL
    END-POINT  57814.692          63936.145          11801.490  0.75  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYG                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57814.692          63936.145          11806.020  0.75
    END-POINT  57814.692          63936.145          11806.020  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57814.692          63936.145          11807.970  0.75  SW FEMALE 
    END-POINT  57814.692          63936.145          11806.020  0.75  SW FEMALE 
    CENTRE-POINT   57814.692          63936.145          11806.995 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL3/4
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYI                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57814.692          63936.145          11807.970  0.75  SW FEMALE 
    END-POINT  57814.692          63936.145          11807.970  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63936.145          11812.500  0.75  BW
    END-POINT  57814.692          63936.145          11807.970  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYL                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63936.145          11812.500  0.75
    END-POINT  57814.692          63936.145          11812.500  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57814.692          63937.645          11814.000  1  BW
    END-POINT  57814.692          63934.645          11814.000  1  BW
    CENTRE-POINT   57814.692          63936.145          11814.000 
    BRANCH1-POINT  57814.692          63936.145          11812.500  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X3/4
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYN                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57814.692          63937.645          11814.000  1
    END-POINT  57814.692          63937.645          11814.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63934.645          11814.000  1
    END-POINT  57814.692          63934.645          11814.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63931.429          11814.000  1  SC MALE 
    END-POINT  57814.692          63934.645          11814.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYQ                 
    PIPING-SPEC S1
SCREWED-WELD
    END-POINT  57814.692          63931.429          11814.000  1  SC MALE 
    END-POINT  57814.692          63931.429          11814.000  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYR                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
INSTRUMENT
    END-POINT  57814.692          63924.340          11814.000  1  SC FEMALE 
    END-POINT  57814.692          63931.429          11814.000  1  SC FEMALE 
    CENTRE-POINT   57814.692          63927.885          11814.000 
    SKEY CVSC
    ERECTION-ITEM
    ITEM-CODE VALVBCL1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYS                 
    TAG PRV$036$03                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  DOWN
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  57814.692          63924.340          11814.000  1  SC FEMALE 
    END-POINT  57814.692          63924.340          11814.000  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYV                 
    THICKNESS/RATING 6000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63914.175          11814.000  1  BW
    END-POINT  57814.692          63924.340          11814.000  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYW                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57814.692  63918.760  11814.000  1
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYX                 
WELD
    END-POINT  57814.692          63914.175          11814.000  1
    END-POINT  57814.692          63914.175          11814.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57814.692          63914.175          11814.000  1  BW
    END-POINT  57814.692          63912.675          11815.500  1  BW
    CENTRE-POINT   57814.692          63912.675          11814.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AYZ                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57814.692  63912.675  11814.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.692  63898.800  11814.000 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  57814.692          63912.675          11815.500  1
    END-POINT  57814.692          63912.675          11815.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63912.675          11815.500  1  BW
    END-POINT  57814.692          63912.675          11819.500  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ2                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63912.675          11819.500  1
    END-POINT  57814.692          63912.675          11819.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57814.692          63912.675          11819.500  1  BW
    END-POINT  57814.692          63912.675          11822.500  1  BW
    CENTRE-POINT   57814.692          63912.675          11821.000 
    BRANCH1-POINT  57816.192          63912.675          11821.000  0.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED1X1/2
    WEIGHT           0.190
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ4                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57814.692          63912.675          11822.500  1
    END-POINT  57814.692          63912.675          11822.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57816.192          63912.675          11821.000  0.5
    END-POINT  57816.192          63912.675          11821.000  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57816.192          63912.675          11821.000  0.5  BW
    END-POINT  57819.602          63912.675          11821.000  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ7                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57819.602          63912.675          11821.000  0.5
    END-POINT  57819.602          63912.675          11821.000  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57819.602          63912.675          11821.000  0.5  SW FEMALE 
    END-POINT  57821.282          63912.675          11821.000  0.5  SW FEMALE 
    CENTRE-POINT   57820.487          63912.675          11821.000 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZ9                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57821.282          63912.675          11821.000  0.5
    END-POINT  57821.282          63912.675          11821.000  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CE4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  57821.282          63912.675          11821.000  0.5  PL
    END-POINT  57824.282          63912.675          11821.000  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CE3                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57823.782  63912.675  11821.000 
    TEXT PI$036$020
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57824.282          63912.675          11821.000 
PIPE
    END-POINT  57814.692          63912.675          11829.340  1  PL
    END-POINT  57814.692          63912.675          11822.500  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZE                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57814.692          63912.675          11829.340  1
    END-POINT  57814.692          63912.675          11829.340  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57814.692          63912.675          11831.970  1  SW FEMALE 
    END-POINT  57814.692          63912.675          11829.340  1  SW FEMALE 
    CENTRE-POINT   57814.692          63912.675          11830.655 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZG                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57814.692          63912.675          11831.970  1  SW FEMALE 
    END-POINT  57814.692          63912.675          11831.970  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63912.675          11836.500  1  BW
    END-POINT  57814.692          63912.675          11831.970  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZJ                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63912.675          11836.500  1
    END-POINT  57814.692          63912.675          11836.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57814.692          63912.675          11836.500  1  BW
    END-POINT  57814.692          63912.675          11839.500  1  BW
    CENTRE-POINT   57814.692          63912.675          11838.000 
    BRANCH1-POINT  57814.692          63914.175          11838.000  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZL                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57814.692  63912.675  11838.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63912.675  11838.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57814.692          63912.675          11839.500  1
    END-POINT  57814.692          63912.675          11839.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63914.175          11838.000  1
    END-POINT  57814.692          63914.175          11838.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63917.175          11838.000  1  PL
    END-POINT  57814.692          63914.175          11838.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZP                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57814.692          63917.175          11838.000  1
    END-POINT  57814.692          63917.175          11838.000  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZQ                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57814.692          63917.175          11838.000  1  SW FEMALE 
    END-POINT  57814.692          63919.925          11838.000  1  SW FEMALE 
    CENTRE-POINT   57814.692          63918.550          11838.000 
    SKEY VGSW
    FABRICATION-ITEM
    ITEM-CODE VALVGLB1
    WEIGHT           6.700
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZR                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
SOCKET-WELD
    END-POINT  57814.692          63919.925          11838.000  1  SW FEMALE 
    END-POINT  57814.692          63919.925          11838.000  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZT                 
    THICKNESS/RATING 200LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63947.335          11838.000  1  BW
    END-POINT  57814.692          63919.925          11838.000  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZU                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57814.692  63939.164  11838.000 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57814.692          63947.335          11838.000  1
    END-POINT  57814.692          63947.335          11838.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57814.692          63948.835          11836.500  1  BW
    END-POINT  57814.692          63947.335          11838.000  1  BW
    CENTRE-POINT   57814.692          63948.835          11838.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZX                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57814.692          63948.835          11836.500  1
    END-POINT  57814.692          63948.835          11836.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63948.835          11815.500  1  BW
    END-POINT  57814.692          63948.835          11836.500  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AZZ                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63948.835          11815.500  1
    END-POINT  57814.692          63948.835          11815.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B00                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57814.692          63950.335          11814.000  1  BW
    END-POINT  57814.692          63947.335          11814.000  1  BW
    CENTRE-POINT   57814.692          63948.835          11814.000 
    BRANCH1-POINT  57814.692          63948.835          11815.500  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1
    WEIGHT           0.200
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B01                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57814.692          63950.335          11814.000  1
    END-POINT  57814.692          63950.335          11814.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B02                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63947.335          11814.000  1
    END-POINT  57814.692          63947.335          11814.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B03                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63947.335          11814.000  1  BW
    END-POINT  57814.692          63943.805          11814.000  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B04                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  57814.692          63943.805          11814.000  1
    END-POINT  57814.692          63943.805          11814.000  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B05                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  57814.692          63943.805          11814.000  1  SW FEMALE 
    END-POINT  57814.692          63941.175          11814.000  1  SW FEMALE 
    CENTRE-POINT   57814.692          63942.490          11814.000 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           3.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B06                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  57814.692          63941.175          11814.000  1  SW FEMALE 
    END-POINT  57814.692          63941.175          11814.000  1
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B08                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63941.175          11814.000  1  PL
    END-POINT  57814.692          63937.645          11814.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B09                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57814.692  63939.125  11814.000 
    FLOW 1
    SKEY FLOW
PIPE
    END-POINT  57814.692          63954.605          11814.000  1  PL
    END-POINT  57814.692          63950.335          11814.000  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B0B                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63954.605          11814.000  1
    END-POINT  57814.692          63954.605          11814.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B0C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63954.605          11814.000  1
    END-POINT  57814.692          63954.605          11814.000  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B0D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  57814.692          63954.800          11814.000  1  FL
    END-POINT  57814.692          63954.605          11814.000  1  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B0E                 
    PIPING-SPEC S1
GASKET
    END-POINT  57814.692          63954.800          11814.000  1
    END-POINT  57814.692          63954.925          11814.000  1
    ERECTION-ITEM
    ITEM-CODE GAS1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B0F                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57814.692          63954.800          11814.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B0G                 
MISC-COMPONENT
    END-POINT  57814.692          63964.738          11814.000  1  FL
    END-POINT  57814.692          63954.925          11814.000  1  FL
    CENTRE-POINT  57814.692  63959.831  11814.000 
    SKEY NCFL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B0H                 
    TAG SP-572                          
    PIPING-SPEC C1
END-CONNECTION-PIPELINE 
    CO-ORDS  57814.692          63964.738          11814.000 
    PIPELINE-REFERENCE ISO-PY3-2036021
PIPE
    END-POINT  57814.692          63912.675          11845.500  1  BW
    END-POINT  57814.692          63912.675          11839.500  1  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B11                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63912.675          11845.500  1
    END-POINT  57814.692          63912.675          11845.500  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B12                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  57814.692          63912.675          11848.500  2  BW
    END-POINT  57814.692          63912.675          11845.500  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B13                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63912.675          11848.500  2
    END-POINT  57814.692          63912.675          11848.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B14                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  57814.692          63912.675          11853.500  2  BW
    END-POINT  57814.692          63912.675          11848.500  2  BW
    CENTRE-POINT   57814.692          63912.675          11851.000 
    BRANCH1-POINT  57814.692          63915.175          11851.000  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B15                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  57814.692          63912.675          11853.500  2
    END-POINT  57814.692          63912.675          11853.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CP8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63915.175          11851.000  2
    END-POINT  57814.692          63915.175          11851.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B17                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63972.800          11851.000  2  BW
    END-POINT  57814.692          63915.175          11851.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B18                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63972.800          11851.000  2
    END-POINT  57814.692          63972.800          11851.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B19                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57814.692          63975.800          11854.000  2  BW
    END-POINT  57814.692          63972.800          11851.000  2  BW
    CENTRE-POINT   57814.692          63975.800          11851.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1A                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57814.692  63975.800  11851.000 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63975.800  11851.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57814.692          63975.800          11854.000  2
    END-POINT  57814.692          63975.800          11854.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57814.692          63975.800          11854.000  2  BW
    END-POINT  57814.692          63975.800          11877.288  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1D                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  57814.692  63975.800  11865.033 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57814.692          63975.800          11877.288  2
    END-POINT  57814.692          63975.800          11877.288  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  57817.692          63975.800          11880.288  2  BW
    END-POINT  57814.692          63975.800          11877.288  2  BW
    CENTRE-POINT   57814.692          63975.800          11880.288 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1G                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57814.692  63975.800  11880.288 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.692  63898.800  11880.288 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  57817.692          63975.800          11880.288  2
    END-POINT  57817.692          63975.800          11880.288  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  57817.692          63975.800          11880.288  2  BW
    END-POINT  58036.101          63975.800          11880.288  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1J                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58018.805  63975.800  11880.288  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1K                 
SUPPORT
    CO-ORDS  57820.942  63975.800  11880.288  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1L                 
SUPPORT
    CO-ORDS  57903.712  63975.800  11880.288  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1M                 
WELD
    END-POINT  58036.101          63975.800          11880.288  2
    END-POINT  58036.101          63975.800          11880.288  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  58041.101          63975.800          11880.288  2  BW
    END-POINT  58036.101          63975.800          11880.288  2  BW
    CENTRE-POINT   58038.601          63975.800          11880.288 
    BRANCH1-POINT  58038.601          63975.800          11882.788  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1O                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58041.101          63975.800          11880.288  2
    END-POINT  58041.101          63975.800          11880.288  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58038.601          63975.800          11882.788  2
    END-POINT  58038.601          63975.800          11882.788  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1Q                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58038.601          63975.800          11896.173  2  BW
    END-POINT  58038.601          63975.800          11882.788  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1R                 
    PIPING-SPEC S1
WELD
    END-POINT  58038.601          63975.800          11896.173  2
    END-POINT  58038.601          63975.800          11896.173  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1S                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58038.601          63978.800          11899.173  2  BW
    END-POINT  58038.601          63975.800          11896.173  2  BW
    CENTRE-POINT   58038.601          63975.800          11899.173 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1T                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58038.601          63978.800          11899.173  2
    END-POINT  58038.601          63978.800          11899.173  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58038.601          63978.800          11899.173  2  BW
    END-POINT  58038.601          64145.017          11899.173  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1V                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58038.601  64085.837  11899.173  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B1Y                 
FLOW-ARROW
    CO-ORDS  58038.601  64057.521  11899.173 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58038.601          64145.017          11899.173  2
    END-POINT  58038.601          64145.017          11899.173  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G24                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58038.601  64118.305  11899.173  2
    END-POINT  58038.601  64118.305  11899.173  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B21                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58038.601  64122.797  11899.173  2
    END-POINT  58038.601  64122.797  11899.173  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B22                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      58038.601  64122.797  11899.173 
    BRANCH1-POINT  58038.601          64122.797          11901.110  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B23                 
    PIPING-SPEC S1
WELD
    END-POINT  58038.601          64122.797          11901.110  0.5
    END-POINT  58038.601          64122.797          11901.110  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPO                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58038.601          64122.797          11905.247  0.5  BW
    END-POINT  58038.601          64122.797          11901.110  0.5  BW
    CONTINUATION 
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IQK                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.601          64122.797          11905.247 
    PIPELINE-REFERENCE ISO-PY3-2036044
OLET
    CENTRE-POINT      58038.601  64118.305  11899.173 
    BRANCH1-POINT  58038.601          64118.305          11901.235  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B25                 
    PIPING-SPEC S1
WELD
    END-POINT  58038.601          64118.305          11901.235  0.75
    END-POINT  58038.601          64118.305          11901.235  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58038.601          64118.305          11905.727  0.75  BW
    END-POINT  58038.601          64118.305          11901.235  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IN9                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.601          64118.305          11905.727 
    PIPELINE-REFERENCE ISO-PY3-2036027
TEE
    END-POINT  58038.601          64147.517          11896.673  2  BW
    END-POINT  58038.601          64147.517          11901.673  2  BW
    CENTRE-POINT   58038.601          64147.517          11899.173 
    BRANCH1-POINT  58038.601          64145.017          11899.173  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EP2                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58038.601          64147.517          11896.673  2
    END-POINT  58038.601          64147.517          11896.673  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EP1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58038.601          64147.517          11901.673  2
    END-POINT  58038.601          64147.517          11901.673  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EP3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58038.601          64147.517          11901.673  2  BW
    END-POINT  58038.601          64147.517          11934.915  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EP5                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58038.601  64147.517  11928.000  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EP6                 
FLOOR-SYMBOL 
    CO-ORDS  58038.601  64147.517  11927.437 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58038.601  64147.517  11927.437 
    TEXT Grating Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58038.601  64147.517  11922.637 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58038.601          64147.517          11934.915  2
    END-POINT  58038.601          64147.517          11934.915  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EP9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58038.601          64147.517          11934.915  2  BW
    END-POINT  58038.601          64147.517          11937.915  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EPA                 
    PIPING-SPEC S1
WELD
    END-POINT  58038.601          64147.517          11937.915  0.75
    END-POINT  58038.601          64147.517          11937.915  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G1Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58038.601          64147.517          12003.158  0.75  BW
    END-POINT  58038.601          64147.517          11937.915  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K6N                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.601          64147.517          12003.158 
    PIPELINE-REFERENCE ISO-PY3-2036036
PIPE
    END-POINT  58038.601          64147.517          11883.965  2  BW
    END-POINT  58038.601          64147.517          11896.673  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOZ                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58038.601  64147.517  11890.562 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58038.601          64147.517          11883.965  2
    END-POINT  58038.601          64147.517          11883.965  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58038.601          64147.517          11878.965  2  BW
    END-POINT  58038.601          64147.517          11883.965  2  BW
    CENTRE-POINT   58038.601          64147.517          11881.465 
    BRANCH1-POINT  58038.601          64149.897          11881.465  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED2X1+1/2
    WEIGHT           0.590
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOW                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58038.601          64147.517          11878.965  2
    END-POINT  58038.601          64147.517          11878.965  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58038.601          64149.897          11881.465  1.5
    END-POINT  58038.601          64149.897          11881.465  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G20                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58038.601          64157.267          11881.465  1.5  BW
    END-POINT  58038.601          64149.897          11881.465  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IHL                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.601          64157.267          11881.465 
    PIPELINE-REFERENCE ISO-PY3-2036034
PIPE
    END-POINT  58038.601          64147.517          11752.423  2  BW
    END-POINT  58038.601          64147.517          11878.965  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EON                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58038.601  64147.517  11784.000  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_4
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOP                 
FLOOR-SYMBOL 
    CO-ORDS  58038.601  64147.517  11783.356 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58038.601  64147.517  11783.356 
    TEXT Grating Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58038.601  64147.517  11816.560 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58038.601          64147.517          11752.423  2
    END-POINT  58038.601          64147.517          11752.423  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58038.601  64147.517  11855.283  2
    END-POINT  58038.601  64147.517  11855.283  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOT                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58038.601  64147.517  11855.283 
    BRANCH1-POINT  58038.601          64145.454          11855.283  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOU                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58038.601          64145.454          11855.283  0.75
    END-POINT  58038.601          64145.454          11855.283  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G26                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58038.601          64135.900          11855.283  0.75  BW
    END-POINT  58038.601          64145.454          11855.283  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BYW                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.601          64135.900          11855.283 
    PIPELINE-REFERENCE ISO-PY3-2036035
ELBOW
    END-POINT  58038.601          64147.517          11752.423  2  BW
    END-POINT  58039.291          64148.207          11750.067  2  BW
    CENTRE-POINT   58038.601          64147.517          11751.043 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOK                 
    PIPING-SPEC S1
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58038.601  64147.517  11751.043 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58038.601  64138.748  11751.043 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
END-POSITION-OPEN 
    CO-ORDS  58039.291          64148.207          11750.067 
REDUCER-ECCENTRIC
    END-POINT  58041.101          63975.800          11880.288  2  BW
    END-POINT  58044.101          63975.800          11879.755  1  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_B27                 
    PIPING-SPEC S1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58044.101          63975.800          11879.755  1
    END-POINT  58044.101          63975.800          11879.755  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58281.476          63975.800          11879.755  1  BW
    END-POINT  58044.101          63975.800          11879.755  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7W                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58121.768  63975.800  11879.755  1
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7X                 
FLOW-ARROW
    CO-ORDS  58179.788  63975.800  11879.755 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58056.286  63975.800  11879.755  1
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K7Z                 
SUPPORT
    CO-ORDS  58205.418  63975.800  11879.755  1
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K80                 
SUPPORT
    CO-ORDS  58247.406  63975.800  11879.755  1
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K81                 
END-CONNECTION-PIPELINE 
    CO-ORDS  58281.476          63975.800          11879.755 
    PIPELINE-REFERENCE ISO-PY3-2036053
REDUCER-CONCENTRIC
    END-POINT  57814.692          63912.675          11853.500  2  BW
    END-POINT  57814.692          63912.675          11856.500  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CP7                 
    PIPING-SPEC S1
WELD
    END-POINT  57814.692          63912.675          11856.500  1.5
    END-POINT  57814.692          63912.675          11856.500  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
FLANGE
    END-POINT  57814.692          63912.675          11858.940  1.5  FL
    END-POINT  57814.692          63912.675          11856.500  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CP9                 
    PIPING-SPEC S1
GASKET
    END-POINT  57814.692          63912.675          11859.065  1.5
    END-POINT  57814.692          63912.675          11858.940  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPD                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57814.692          63912.675          11859.065 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPE                 
VALVE-ANGLE
    END-POINT  57814.692          63912.675          11859.065  1.5  FL
    END-POINT  57819.567          63912.675          11864.190  3  FL
    CENTRE-POINT   57814.692          63912.675          11864.190 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL1+1/2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPB                 
    TAG PSV-036-04                      
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57814.692  63912.675  11864.190 
    TEXT PSV$036$04
    UNDIMENSIONED
GASKET
    END-POINT  57819.692          63912.675          11864.190  3
    END-POINT  57819.567          63912.675          11864.190  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPI                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57819.692          63912.675          11864.190  3  FL
    END-POINT  57822.442          63912.675          11864.190  3  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CPH                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  57822.442          63912.675          11864.190 
    PIPELINE-REFERENCE ISO-PY3-2036046
MATERIALS
ITEM-CODE CAP3/4
    CATALOG ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A182 Gr F304L, ANSI B16.11
    RATING 3000LB
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBAL3/4
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE TEERED1X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE VALVBCL1
    CATALOG NON STANDARD
    DESCRIPTION 6000LB THREADED CONTROL BALL VALVE (TYPE EB VALVE BODY)
    RATING 6000LB
ITEM-CODE SUPST-1
    DESCRIPTION STANCHION BASE SUPPORT, L=2'-6", P622 FIG 1
ITEM-CODE 90LLR1
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED1X1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE TEESTR1
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVGLB1
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, SWF, 200LB, GL-01-ST-302
    RATING 200LB
ITEM-CODE FLGSLP1
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDCON2X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION GENERAL HANGER, L=2'-10 5/16", P624 FIG 3
ITEM-CODE SUPRH-2_1
    DESCRIPTION GENERAL HANGER, L=2'-6 1/16", P624 FIG 1
ITEM-CODE SUPUB-2
    DESCRIPTION U BOLT ANCHOR, P627 FIG 1
ITEM-CODE SUPRH-2_2
    DESCRIPTION GENERAL HANGER, L=1'-3 7/16", P624 FIG 3
ITEM-CODE WOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE WOL2X3/4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE SUPRH-2_3
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE REDCON2X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED2X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2_4
    DESCRIPTION RISER CLAMP, P615 FIG 6
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDECC2X1
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON2X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVREL1+1/2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, CS
    RATING 150LB
