ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2047017
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5221.DWG
    ATTRIBUTE98 WTR
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2047017-WTR-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-047
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/16/2009
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/16/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/16/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/16/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2009
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 CP
    ATTRIBUTE55 BJL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  58303.476          63959.800          12046.484  8  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIM                 
    PIPING-SPEC C1
    END-POINT  58304.596          63959.800          12046.484  8
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58304.596          63959.800          12046.484 
GASKET
    END-POINT  58303.413          63959.800          12046.484  8
    END-POINT  58303.476          63959.800          12046.484  8
    ERECTION-ITEM
    ITEM-CODE GAS8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIK                 
    PIPING-SPEC C1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58303.476          63959.800          12046.484 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT8
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIL                 
FLANGE
    END-POINT  58303.413          63959.800          12046.484  8  FL
    END-POINT  58303.029          63959.800          12046.484  8  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIJ                 
    PIPING-SPEC C1
WELD
    END-POINT  58303.029          63959.800          12046.484  8
    END-POINT  58303.029          63959.800          12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G95                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
WELD
    END-POINT  58303.029          63959.800          12046.484  8
    END-POINT  58303.029          63959.800          12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G96                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
PIPE
    END-POINT  57835.419          63959.800          12046.484  8  BW
    END-POINT  58303.029          63959.800          12046.484  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G8U                 
    PIPING-SPEC C1
FLOW-ARROW
    CO-ORDS  58261.037  63959.800  12046.484 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57912.322  63959.800  12046.484  8
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G91                 
SUPPORT
    CO-ORDS  58054.799  63959.800  12046.484  8
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G92                 
SUPPORT
    CO-ORDS  58194.326  63959.800  12046.484  8
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-8
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G93                 
WELD
    END-POINT  57835.419          63959.800          12046.484  8
    END-POINT  57835.419          63959.800          12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G94                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  58269.966  63959.800  12046.484  8
    END-POINT  58269.966  63959.800  12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G97                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  58291.308  63959.800  12046.484  8
    END-POINT  58291.308  63959.800  12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G98                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  58127.550  63959.800  12046.484  8
    END-POINT  58127.550  63959.800  12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G8T                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  58106.791  63959.800  12046.484  8
    END-POINT  58106.791  63959.800  12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G99                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  58298.088  63959.800  12046.484  8
    END-POINT  58298.088  63959.800  12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9A                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
OLET
    CENTRE-POINT      58298.088  63959.800  12046.484 
    BRANCH1-POINT  58298.088          63959.800          12052.296  2  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X2
    WEIGHT           1.750
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G9B                 
    PIPING-SPEC C1
WELD
    END-POINT  58298.088          63959.800          12052.296  2
    END-POINT  58298.088          63959.800          12052.296  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  58298.088          63959.800          12056.296  2  BW
    END-POINT  58298.088          63959.800          12052.296  2  BW
    CONTINUATION 
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_ICQ                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58298.088          63959.800          12056.296 
    PIPELINE-REFERENCE ISO-PY3-2047016
OLET
    CENTRE-POINT      58106.791  63959.800  12046.484 
    BRANCH1-POINT  58106.791          63959.800          12051.483  1.5  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL8X1+1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GID                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58106.791          63959.800          12051.483  1.5  SC MALE 
    END-POINT  58106.791          63959.800          12051.483  1.5  SC FEMALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_COY                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58106.791          63959.800          12063.413  1.5  SC MALE 
    END-POINT  58106.791          63959.800          12051.483  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BT0                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58106.791          63959.800          12063.413 
    PIPELINE-REFERENCE ISO-PY3-1217014
OLET
    CENTRE-POINT      58127.550  63959.800  12046.484 
    BRANCH1-POINT  58127.550          63959.800          12051.421  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL8X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G8S                 
    PIPING-SPEC C1
SCREWED-WELD
    END-POINT  58127.550          63959.800          12051.421  1  SC MALE 
    END-POINT  58127.550          63959.800          12051.421  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G8R                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
PIPE
    END-POINT  58127.550          63959.800          12063.440  1  SC MALE 
    END-POINT  58127.550          63959.800          12051.421  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_G8Q                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58127.550          63959.800          12063.440 
    PIPELINE-REFERENCE ISO-PY3-1218017
OLET
    CENTRE-POINT      58291.308  63959.800  12046.484 
    BRANCH1-POINT  58291.308          63959.800          12052.546  3  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X3
    WEIGHT           4.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIF                 
    PIPING-SPEC C1
WELD
    END-POINT  58291.308          63959.800          12052.546  3
    END-POINT  58291.308          63959.800          12052.546  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KF8                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58291.308          63959.800          12052.546  3  BW
    END-POINT  58291.308          63959.800          12058.250  3  BW
    CONTINUATION 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KF2                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58291.308          63959.800          12058.250 
    PIPELINE-REFERENCE ISO-PY3-1218004
OLET
    CENTRE-POINT      58269.966  63959.800  12046.484 
    BRANCH1-POINT  58269.966          63959.800          12052.296  2  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X2
    WEIGHT           1.750
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIH                 
    PIPING-SPEC C1
WELD
    END-POINT  58269.966          63959.800          12052.296  2
    END-POINT  58269.966          63959.800          12052.296  2
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_KMI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58269.966          63959.800          12056.110  2  BW
    END-POINT  58269.966          63959.800          12052.296  2  BW
    CONTINUATION 
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_K5R                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58269.966          63959.800          12056.110 
    PIPELINE-REFERENCE ISO-PY3-1216002
TEE
    END-POINT  57821.419          63959.800          12046.484  8  BW
    END-POINT  57835.419          63959.800          12046.484  8  BW
    CENTRE-POINT   57828.419          63959.800          12046.484 
    BRANCH1-POINT  57828.419          63959.800          12053.104  6  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED8X6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIN                 
    PIPING-SPEC C1
    ANGLE 9000
WELD
    END-POINT  57821.419          63959.800          12046.484  8
    END-POINT  57821.419          63959.800          12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  57828.419          63959.800          12053.104  6
    END-POINT  57828.419          63959.800          12053.104  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  57828.419          63959.800          12060.790  6  BW
    END-POINT  57828.419          63959.800          12053.104  6  BW
    CONTINUATION 
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_IVG                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57828.419          63959.800          12060.790 
    PIPELINE-REFERENCE ISO-PY3-1214009
PIPE
    END-POINT  57810.238          63959.800          12046.484  8  BW
    END-POINT  57821.419          63959.800          12046.484  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIR                 
    PIPING-SPEC C1
WELD
    END-POINT  57810.238          63959.800          12046.484  8
    END-POINT  57810.238          63959.800          12046.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
ELBOW
    END-POINT  57810.238          63959.800          12046.484  8  BW
    END-POINT  57798.238          63959.800          12034.484  8  BW
    CENTRE-POINT   57798.238          63959.800          12046.484 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIT                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57798.238  63959.800  12046.484 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57798.238  63898.800  12046.484 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57798.238  63959.800  12046.484 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63959.800  12046.484 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57798.238          63959.800          12034.484  8
    END-POINT  57798.238          63959.800          12034.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
ELBOW
    END-POINT  57798.238          63959.800          12034.484  8  BW
    END-POINT  57798.238          63961.408          12028.484  8  BW
    CENTRE-POINT   57798.238          63959.800          12031.268 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIW                 
    PIPING-SPEC C1
    ANGLE 3000
WELD
    END-POINT  57798.238          63961.408          12028.484  8
    END-POINT  57798.238          63961.408          12028.484  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  57798.238          63961.408          12028.484  8  BW
    END-POINT  57798.238          63964.192          12023.661  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIY                 
    PIPING-SPEC C1
WELD
    END-POINT  57798.238          63964.192          12023.661  8
    END-POINT  57798.238          63964.192          12023.661  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GIZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
ELBOW
    END-POINT  57798.238          63964.192          12023.661  8  BW
    END-POINT  57798.238          63965.800          12017.661  8  BW
    CENTRE-POINT   57798.238          63965.800          12020.876 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJ0                 
    PIPING-SPEC C1
    ANGLE 3000
WELD
    END-POINT  57798.238          63965.800          12017.661  8
    END-POINT  57798.238          63965.800          12017.661  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJ1                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  57798.238          63965.800          11681.688  8  BW
    END-POINT  57798.238          63965.800          12017.661  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJ2                 
    PIPING-SPEC C1
FLOW-ARROW
    CO-ORDS  57798.238  63965.800  11729.153 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57798.238  63965.800  11908.539  8
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJ5                 
SUPPORT
    CO-ORDS  57798.238  63965.800  11769.117  8
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-8_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJ6                 
WELD
    END-POINT  57798.238          63965.800          11681.688  8
    END-POINT  57798.238          63965.800          11681.688  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBG                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
WELD
    END-POINT  57798.238  63965.800  11759.444  8
    END-POINT  57798.238  63965.800  11759.444  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJ8                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
OLET
    CENTRE-POINT      57798.238  63965.800  11759.444 
    BRANCH1-POINT  57804.550          63965.800          11759.444  4  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL8X4
    WEIGHT           6.300
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJ9                 
    PIPING-SPEC C1
WELD
    END-POINT  57804.550          63965.800          11759.444  4
    END-POINT  57804.550          63965.800          11759.444  4
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G9A                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58006.664          63965.800          11759.444  4  BW
    END-POINT  57804.550          63965.800          11759.444  4  BW
    CONTINUATION 
    WEIGHT          10.790
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F79                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57858.953  63965.800  11759.444  4
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F7A                 
SUPPORT
    CO-ORDS  57957.168  63965.800  11759.444  4
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_F7B                 
FLOW-ARROW
    CO-ORDS  57911.624  63965.800  11759.444 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58006.664          63965.800          11759.444 
    PIPELINE-REFERENCE ISO-PY3-1215007
ELBOW
    END-POINT  57798.238          63965.800          11681.688  8  BW
    END-POINT  57798.238          63977.800          11669.688  8  BW
    CENTRE-POINT   57798.238          63965.800          11669.688 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJB                 
    PIPING-SPEC C1
    ANGLE 9000
WELD
    END-POINT  57798.238          63977.800          11669.688  8
    END-POINT  57798.238          63977.800          11669.688  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IB5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  57798.238          63977.800          11669.688  8  BW
    END-POINT  57798.238          64229.001          11669.688  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJD                 
    PIPING-SPEC C1
SUPPORT
    CO-ORDS  57798.238  64140.300  11669.688  8
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-8_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBM                 
WELD
    END-POINT  57798.238          64229.001          11669.688  8
    END-POINT  57798.238          64229.001          11669.688  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IB3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
ELBOW
    END-POINT  57798.238          64241.001          11657.688  8  BW
    END-POINT  57798.238          64229.001          11669.688  8  BW
    CENTRE-POINT   57798.238          64241.001          11669.688 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJG                 
    PIPING-SPEC C1
    ANGLE 9000
WELD
    END-POINT  57798.238          64241.001          11657.688  8
    END-POINT  57798.238          64241.001          11657.688  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBH                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  57798.238          64241.001          11610.000  8  BW
    END-POINT  57798.238          64241.001          11657.688  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJJ                 
    PIPING-SPEC C1
WELD
    END-POINT  57798.238          64241.001          11610.000  8
    END-POINT  57798.238          64241.001          11610.000  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
ELBOW
    END-POINT  57786.238          64241.001          11598.000  8  BW
    END-POINT  57798.238          64241.001          11610.000  8  BW
    CENTRE-POINT   57798.238          64241.001          11598.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR8
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJL                 
    PIPING-SPEC C1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57798.238  64241.001  11598.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57798.238  64138.748  11598.000 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57798.238  64241.001  11598.000 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64241.001  11598.000 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57786.238          64241.001          11598.000  8
    END-POINT  57786.238          64241.001          11598.000  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IBI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  57720.062          64241.001          11598.000  8  BW
    END-POINT  57786.238          64241.001          11598.000  8  BW
    FABRICATION-ITEM
    ITEM-CODE PIP8
    WEIGHT          28.550
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJO                 
    PIPING-SPEC C1
FLOW-ARROW
    CO-ORDS  57762.733  64241.001  11598.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57720.062          64241.001          11598.000  8
    END-POINT  57720.062          64241.001          11598.000  8
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
REDUCER-ECCENTRIC
    END-POINT  57720.062          64241.001          11598.000  8  BW
    END-POINT  57714.062          64241.001          11597.000  6  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC8X6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJR                 
    PIPING-SPEC C1
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57714.062          64241.001          11597.000  6
    END-POINT  57714.062          64241.001          11597.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
ELBOW
    END-POINT  57705.062          64241.001          11588.000  6  BW
    END-POINT  57714.062          64241.001          11597.000  6  BW
    CENTRE-POINT   57705.062          64241.001          11597.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJT                 
    PIPING-SPEC C1
    ANGLE 9000
WELD
    END-POINT  57705.062          64241.001          11588.000  6
    END-POINT  57705.062          64241.001          11588.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJU                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
PIPE
    END-POINT  57705.062          64241.001          11577.091  6  PL
    END-POINT  57705.062          64241.001          11588.000  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJV                 
    PIPING-SPEC C1
WELD
    END-POINT  57705.062          64241.001          11577.091  6
    END-POINT  57705.062          64241.001          11577.091  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJW                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
WELD
    END-POINT  57705.062          64241.001          11577.091  6
    END-POINT  57705.062          64241.001          11577.091  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
FLANGE
    END-POINT  57705.062          64241.001          11576.749  6  FL
    END-POINT  57705.062          64241.001          11577.091  6  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_GJY                 
    PIPING-SPEC C1
MESSAGE-POINTED
    CO-ORDS  57705.062  64241.001  11576.749 
    TEXT TP$058
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57705.062          64241.001          11576.749 
MATERIALS
ITEM-CODE FLGBLD8
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS8
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT8
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 3/4 X 3 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE FLGSLP8
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP8
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE SUPUB-8
    DESCRIPTION U BOLT ANCHOR, P627 FIG 3
ITEM-CODE WOL8X2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40, ASTM A105, MSS SP-97
    RATING 40
ITEM-CODE TOL8X1+1/2
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE TOL8X1
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE WOL8X3
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40, ASTM A105, MSS SP-97
    RATING 40
ITEM-CODE TEERED8X6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR8
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR8_1
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9 TRIM TO 30.00
    RATING 40
ITEM-CODE SUPUB-8_1
    DESCRIPTION ANGLED U BOLT SUPPORT, L=2'-0", P625 FIG 4
ITEM-CODE WOL8X4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40, ASTM A105, MSS SP-97
    RATING 40
ITEM-CODE SUPUB-8_2
    DESCRIPTION U BOLT ANCHOR
ITEM-CODE REDECC8X6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP6
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE FLGSLP6
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
