ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1320036-J
PIPING-SPEC S5J
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221_JACKET.DWG
    ATTRIBUTE98 PMJ
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1320036-J-PMJ-S5J
    ATTRIBUTE95 I1
    ATTRIBUTE94 S5J
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-020
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 11/2/2012
    ATTRIBUTE42 AGP
    ATTRIBUTE43 DCK
    ATTRIBUTE44 DCK
    ATTRIBUTE45 UPDATED SUPPORTS
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57244.816          64252.359          11503.313  3  FL
    END-POINT  57248.316          64252.359          11503.313  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26B                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57244.816  64252.359  11503.313 
    TEXT ISO-PY3-1320036-C-1$AT SP3-004-CO NOZZ N1
    UNDIMENSIONED
WELD
    END-POINT  57248.316          64252.359          11503.313  3
    END-POINT  57248.316          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26C                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57244.816          64252.359          11503.313 
PIPE
    END-POINT  57249.316          64252.359          11503.313  3  BW
    END-POINT  57248.316          64252.359          11503.313  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1TY                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57248.316  64252.359  11503.313 
    TEXT 1 1/2"%%C JUMPER, TYPE 2$SEE DETAIL 6 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57249.316          64252.359          11503.313  3
    END-POINT  57249.316          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26A                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57252.816          64252.359          11503.313  6  BW
    END-POINT  57249.316          64252.359          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25X                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57249.316          64252.359          11503.313  3  BW
WELD
    END-POINT  57252.816          64252.359          11503.313  6
    END-POINT  57252.816          64252.359          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25Y                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57483.816          64252.359          11503.313  6  BW
    END-POINT  57252.816          64252.359          11503.313  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_18L                 
    PIPING-SPEC S5J
    INSULATION-ON 
SUPPORT
    CO-ORDS  57264.816  64252.359  11503.313  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2BF                 
SUPPORT
    CO-ORDS  57384.816  64252.359  11503.313  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2BH                 
SUPPORT
    CO-ORDS  57264.816  64252.359  11499.313  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2DT                 
    TAG                         P629 FIG. 9                     
WELD
    END-POINT  57483.816          64252.359          11503.313  6
    END-POINT  57483.816          64252.359          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25W                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57483.816          64252.359          11503.313  6  BW
    END-POINT  57487.316          64252.359          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25V                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57487.316          64252.359          11503.313  3  BW
WELD
    END-POINT  57487.316          64252.359          11503.313  3
    END-POINT  57487.316          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_269                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57487.316          64252.359          11503.313  3  BW
    END-POINT  57496.441          64252.359          11503.313  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1U2                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57491.879  64252.359  11503.313 
    TEXT 1 1/2"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57496.441          64252.359          11503.313  3
    END-POINT  57496.441          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_268                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57499.941          64252.359          11503.313  6  BW
    END-POINT  57496.441          64252.359          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25T                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57496.441          64252.359          11503.313  3  BW
WELD
    END-POINT  57499.941          64252.359          11503.313  6
    END-POINT  57499.941          64252.359          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25U                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57730.941          64252.359          11503.313  6  BW
    END-POINT  57499.941          64252.359          11503.313  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_18X                 
    PIPING-SPEC S5J
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57628.056  64252.359  11503.313 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57510.066  64252.359  11503.313  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2B3                 
SUPPORT
    CO-ORDS  57622.941  64252.359  11503.313  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2C5                 
WELD
    END-POINT  57730.941          64252.359          11503.313  6
    END-POINT  57730.941          64252.359          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25Q                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57730.941          64252.359          11503.313  6  BW
    END-POINT  57734.441          64252.359          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25P                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57734.441          64252.359          11503.313  3  BW
WELD
    END-POINT  57734.441          64252.359          11503.313  3
    END-POINT  57734.441          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_267                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57734.441          64252.359          11503.313  3  BW
    END-POINT  57743.566          64252.359          11503.313  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1U7                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57739.004  64252.359  11503.313 
    TEXT 1 1/2"%%C JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57743.566          64252.359          11503.313  3
    END-POINT  57743.566          64252.359          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_266                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57747.066          64252.359          11503.313  6  BW
    END-POINT  57743.566          64252.359          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25N                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57743.566          64252.359          11503.313  3  BW
WELD
    END-POINT  57747.066          64252.359          11503.313  6
    END-POINT  57747.066          64252.359          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25O                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
ELBOW
    END-POINT  57747.066          64252.359          11503.313  6  BW
    END-POINT  57753.066          64246.359          11503.313  6  BW
    CENTRE-POINT   57753.066          64252.359          11503.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_18S                 
    PIPING-SPEC S5J
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57753.066  64252.359  11503.313 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57753.066  64378.800  11503.313 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX2
    MESSAGE
    TEXT COL G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57753.066  64252.359  11503.313 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64252.359  11503.313 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57753.066          64246.359          11503.313  6
    END-POINT  57753.066          64246.359          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2B7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57753.066          64238.359          11503.313  6  BW
    END-POINT  57753.066          64246.359          11503.313  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2B5                 
    PIPING-SPEC S5J
    INSULATION-ON 
SUPPORT
    CO-ORDS  57753.066  64242.359  11503.313  6
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-6_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2BB                 
WELD
    END-POINT  57753.066          64238.359          11503.313  6
    END-POINT  57753.066          64238.359          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_2B6                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57753.066          64238.359          11503.313  6  BW
    END-POINT  57753.066          64234.859          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_25L                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57753.066          64234.859          11503.313  3  BW
WELD
    END-POINT  57753.066          64234.859          11503.313  3
    END-POINT  57753.066          64234.859          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_265                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57753.066          64234.859          11503.313  3  BW
    END-POINT  57753.066          64233.859          11503.313  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_1UB                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57753.066  64233.859  11503.313 
    TEXT 1 1/2"%%C JUMPER, TYPE 2$SEE DETAIL 6 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57753.066          64233.859          11503.313  3
    END-POINT  57753.066          64233.859          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26E                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
FLANGE
    END-POINT  57753.066          64230.359          11503.313  3  FL
    END-POINT  57753.066          64233.859          11503.313  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FNISN66S_26D                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57753.066  64230.359  11503.313 
    TEXT ISO-PY3-1320036-C-1$AT SP3-004-BO NOZZ N2
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  57753.066          64230.359          11503.313 
MATERIALS
ITEM-CODE CAP6
    CATALOG ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ANSI B16.9 W/2  EA HALF CPLGS, SCF, 3000LB, ASTM A105, ANSI B16.11, TAPS UP/DN, SEE DET 5, GVL-GP3-GS3-70D-001
    RATING 40
ITEM-CODE PIP6
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPTS-6
    DESCRIPTION TEE SHOE SUPPORT, P602 FIG. 1 W/P629 FIG. 7 (X=1'-0", L=6")
ITEM-CODE SUPTS-6_1
    DESCRIPTION TEE SHOE SUPPORT, P602 FIG. 2 W/P629 FIG. 7 (X=1'-0",L=6")
ITEM-CODE SUPLTR6
    DESCRIPTION P629 FIG. 9 (L=11 1/2')
ITEM-CODE SUPRH-6
    DESCRIPTION PIPE HANGER, L=3'-4 3/16", P624, Fig. 4
ITEM-CODE SUPRH-6_1
    DESCRIPTION PIPE HANGER, L=3'-6 11/16", X=1'-9", P624, Fig. 2
ITEM-CODE CAP6_1
    CATALOG ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ANSI B16.9 W/2  EA HALF CPLGS, SCF, 3000LB, ASTM A105, ANSI B16.11, TAPS E/W, SEE DET 5, GVL-GP3-GS3-70D-001
    RATING 40
ITEM-CODE 90LSR6
    CATALOG ASME/ANSI B16.28
    DESCRIPTION ELBOW 90 DEG. SR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.28
    RATING 40
ITEM-CODE SUPRH-6_2
    DESCRIPTION PIPE HANGER, L=3'-6 11/16", X=1'-9", P624, Fig. 7
