ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1215010
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1215010-VTS-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-015
    ATTRIBUTE21 MH
    ATTRIBUTE22 10/30/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/3/2008
    ATTRIBUTE25 RHP
    ATTRIBUTE26 1/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 MH
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/16/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
VALVE-ANGLE
    END-POINT  57828.806          64126.801          11795.669  2  FL
    END-POINT  57834.306          64126.801          11802.669  3  FL
    CENTRE-POINT   57828.806          64126.801          11802.669 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREL2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_58C                 
    TAG PSV-053-07                      
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  57828.806  64126.801  11802.669 
    TEXT PSV$053$07
    UNDIMENSIONED
GASKET
    END-POINT  57828.806          64126.801          11795.544  2
    END-POINT  57828.806          64126.801          11795.669  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6WR                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57828.806          64126.801          11795.669 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6WS                 
GASKET
    END-POINT  57834.431          64126.801          11802.669  3
    END-POINT  57834.306          64126.801          11802.669  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6X2                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57834.431          64126.801          11802.669  3  FL
    END-POINT  57834.709          64126.801          11802.669  3  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_58J                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57834.709          64126.801          11802.669 
    PIPELINE-REFERENCE ISO-PY3-1215011
FLANGE
    END-POINT  57828.806          64126.801          11795.544  2  FL
    END-POINT  57828.806          64126.801          11795.328  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3V3                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57828.806          64126.801          11795.328  2
    END-POINT  57828.806          64126.801          11795.328  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4PH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57828.806          64126.801          11795.328  2
    END-POINT  57828.806          64126.801          11795.328  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4PI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57828.806          64126.801          11759.187  2  BW
    END-POINT  57828.806          64126.801          11795.328  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4PF                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57828.806  64126.801  11785.033  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_50B                 
FLOOR-SYMBOL 
    CO-ORDS  57828.806  64126.801  11783.976 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57828.806  64126.801  11783.976 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  57828.806          64126.801          11759.187  2
    END-POINT  57828.806          64126.801          11759.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_4PG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57828.806          64126.801          11759.187  2  BW
    END-POINT  57831.806          64126.801          11756.187  2  BW
    CENTRE-POINT   57828.806          64126.801          11756.187 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3V6                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57831.806          64126.801          11756.187  2
    END-POINT  57831.806          64126.801          11756.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3VH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57887.800          64126.801          11756.187  2  BW
    END-POINT  57831.806          64126.801          11756.187  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3VF                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57873.758  64126.801  11756.187 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57887.800          64126.801          11756.187  2
    END-POINT  57887.800          64126.801          11756.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3VG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57887.800          64126.801          11756.187  2  BW
    END-POINT  57890.800          64126.801          11753.187  2  BW
    CENTRE-POINT   57890.800          64126.801          11756.187 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3V7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57890.800          64126.801          11753.187  2
    END-POINT  57890.800          64126.801          11753.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3VB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57890.800          64126.801          11741.187  2  BW
    END-POINT  57890.800          64126.801          11753.187  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3V9                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57890.800          64126.801          11741.187  2
    END-POINT  57890.800          64126.801          11741.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3VA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57890.800          64126.801          11741.187  2  BW
    END-POINT  57890.800          64129.801          11738.187  2  BW
    CENTRE-POINT   57890.800          64126.801          11738.187 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3V8                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57890.800          64129.801          11738.187  2
    END-POINT  57890.800          64129.801          11738.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3VD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57890.800          64129.801          11738.187  2  BW
    END-POINT  57890.800          64260.817          11738.187  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3VC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57890.800  64200.817  11738.187 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57890.800  64245.800  11738.187  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6WT                 
SUPPORT
    CO-ORDS  57890.800  64138.800  11738.187  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6WV                 
WELD
    END-POINT  57890.800          64260.817          11738.187  2
    END-POINT  57890.800          64260.817          11738.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3VE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57890.800          64263.817          11735.187  2  BW
    END-POINT  57890.800          64260.817          11738.187  2  BW
    CENTRE-POINT   57890.800          64263.817          11738.187 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3UT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57890.800  64263.817  11738.187 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64263.817  11738.187 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57890.800  64263.817  11738.187 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57890.800  64378.800  11738.187 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
WELD
    END-POINT  57890.800          64263.817          11735.187  2
    END-POINT  57890.800          64263.817          11735.187  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3W2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57890.800          64263.817          11633.329  2  PL
    END-POINT  57890.800          64263.817          11735.187  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_3TX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57890.800  64263.817  11669.870 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57890.800          64263.817          11633.329  2
    END-POINT  57890.800          64263.817          11633.329  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_68Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57890.800          64263.817          11633.329  2
    END-POINT  57890.800          64263.817          11633.329  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_690                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57890.800          64263.817          11633.112  2  FL
    END-POINT  57890.800          64263.817          11633.329  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_68V                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57890.800          64263.817          11633.112  2
    END-POINT  57890.800          64263.817          11632.987  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6WM                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57890.800          64263.817          11633.112 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_6WN                 
END-POSITION-OPEN 
    CO-ORDS  57890.800          64263.817          11632.987 
MATERIALS
ITEM-CODE VALVREL2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-053-07
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 1/4" MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2_1
    DESCRIPTION ROD HANGER P624 FIG 3, L=2'-8 3/8"
ITEM-CODE SUPRH-2_2
    DESCRIPTION ROD HANGER P624 FIG 3, L=1'-5 1/2"
ITEM-CODE BOLT2_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
