ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2041008
PIPING-SPEC C2
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5221.DWG
    ATTRIBUTE98 MS
    ATTRIBUTE97 2.00
    ATTRIBUTE96 2041008-MS-C2
    ATTRIBUTE95 I2
    ATTRIBUTE94 C2
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-041
    ATTRIBUTE21 D. DURK
    ATTRIBUTE22 3/10/2009
    ATTRIBUTE23 DC
    ATTRIBUTE24 3/10/2009
    ATTRIBUTE25 DC
    ATTRIBUTE26 3/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/23/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/23/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/23/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 3/23/2009
    ATTRIBUTE36 D. ORR
    ATTRIBUTE37 DC
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 CP
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  58334.675          63917.828          11608.937  0.5  SW MALE 
    END-POINT  58334.675          63917.828          11611.937  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1YB                 
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58334.675  63917.828  11611.507 
    TEXT PI$247$64
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  58334.675          63917.828          11608.937  0.5  SW MALE 
    END-POINT  58334.675          63917.828          11608.937  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1YC                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58334.675          63917.828          11611.937 
VALVE
    END-POINT  58334.675          63917.828          11606.312  0.5  SW FEMALE 
    END-POINT  58334.675          63917.828          11608.937  0.5  SW FEMALE 
    CENTRE-POINT   58334.675          63917.828          11607.627 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           4.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Y7                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SOCKET-WELD
    END-POINT  58334.675          63917.828          11606.312  0.5  SW FEMALE 
    END-POINT  58334.675          63917.828          11606.312  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Y8                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58334.675          63917.828          11601.562  0.5  PL
    END-POINT  58334.675          63917.828          11606.312  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Y5                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58334.675          63917.828          11601.562  0.5
    END-POINT  58334.675          63917.828          11601.562  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Y6                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58334.675  63917.828  11599.750 
    BRANCH1-POINT  58334.675          63917.828          11601.562  0.5  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1/2
    WEIGHT           0.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Y2                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58334.675  63917.828  11599.750  2
    END-POINT  58334.675  63917.828  11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Y4                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58334.675          63914.828          11599.750  2  BW
    END-POINT  58334.675          63924.828          11599.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1XQ                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58334.675  63920.737  11599.750 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58334.675          63914.828          11599.750  2
    END-POINT  58334.675          63914.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9PK                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58334.675          63924.828          11599.750  2
    END-POINT  58334.675          63924.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_44C                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58334.675          63924.828          11599.750  2  BW
    END-POINT  58334.675          63929.828          11599.750  2  BW
    CENTRE-POINT   58334.675          63927.328          11599.750 
    BRANCH1-POINT  58334.675          63927.328          11602.250  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_69                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58334.675          63929.828          11599.750  2
    END-POINT  58334.675          63929.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_753                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58334.675          63927.328          11602.250  2
    END-POINT  58334.675          63927.328          11602.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_43W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58334.675          63927.328          11604.750  2  FL
    END-POINT  58334.675          63927.328          11602.250  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_43V                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58334.675          63927.328          11604.875  2
    END-POINT  58334.675          63927.328          11604.750  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_43Y                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
VALVE
    END-POINT  58334.675          63927.328          11604.875  2  FL
    END-POINT  58334.675          63927.328          11611.875  2  FL
    CENTRE-POINT   58334.675          63927.328          11608.375 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          35.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_43X                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
END-CONNECTION-PIPELINE 
    CO-ORDS  58334.675          63927.328          11611.875 
    PIPELINE-REFERENCE ISO-PY3-2041006
TEE
    END-POINT  58334.675          63929.828          11599.750  2  BW
    END-POINT  58334.675          63934.828          11599.750  2  BW
    CENTRE-POINT   58334.675          63932.328          11599.750 
    BRANCH1-POINT  58334.675          63932.328          11597.250  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_751                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58334.675          63934.828          11599.750  2
    END-POINT  58334.675          63934.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_817                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58334.675          63932.328          11597.250  2
    END-POINT  58334.675          63932.328          11597.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9Q1                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58334.675          63932.328          11597.250  2  BW
    END-POINT  58334.675          63932.328          11585.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9Q0                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58334.675          63932.328          11585.750  2
    END-POINT  58334.675          63932.328          11585.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QB                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58334.675  63932.328  11588.750  2
    END-POINT  58334.675  63932.328  11588.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9Q9                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58334.675  63932.328  11588.750 
    BRANCH1-POINT  58332.925          63932.328          11588.750  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9Q7                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58332.925          63932.328          11588.750  0.75
    END-POINT  58332.925          63932.328          11588.750  0.75  SW FEMALE 
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58329.425          63932.328          11588.750  0.75  PL
    END-POINT  58332.925          63932.328          11588.750  0.75  PL
    CONTINUATION 
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76M                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58331.211  63932.328  11588.750 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58329.425          63932.328          11588.750 
    PIPELINE-REFERENCE ISO-PY3-2041066
CAP
    END-POINT  58334.675          63932.328          11585.750  2  BW
    END-POINT  58334.675          63932.328          11584.250  2
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QA                 
    PIPING-SPEC C2
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58334.675          63932.328          11584.250  2  BW
WELD
    END-POINT  58334.675          63932.328          11584.250  2
    END-POINT  58334.675          63932.328          11584.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT   58334.675          63932.328          11584.250 
    BRANCH1-POINT  58334.675          63932.328          11583.687  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QC                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58334.675          63932.328          11583.687  0.75
    END-POINT  58334.675          63932.328          11583.687  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58334.675          63932.328          11583.687  0.75  PL
    END-POINT  58334.675          63932.328          11578.687  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QF                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58334.675          63932.328          11578.687  0.75
    END-POINT  58334.675          63932.328          11578.687  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58334.675          63932.328          11578.687  0.75  SW FEMALE 
    END-POINT  58333.925          63932.328          11577.937  0.75  SW FEMALE 
    CENTRE-POINT   58334.675          63932.328          11577.937 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74P                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58333.925          63932.328          11577.937  0.75
    END-POINT  58333.925          63932.328          11577.937  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74V                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58328.861          63932.328          11577.937  0.75  PL
    END-POINT  58333.925          63932.328          11577.937  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74T                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58328.861          63932.328          11577.937  0.75
    END-POINT  58328.861          63932.328          11577.937  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74U                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58328.861          63932.328          11577.937  0.75  SW FEMALE 
    END-POINT  58326.486          63932.328          11577.937  0.75  SW FEMALE 
    CENTRE-POINT   58327.674          63932.328          11577.937 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74R                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58326.486          63932.328          11577.937  0.75  SW MALE 
    END-POINT  58326.486          63932.328          11577.937  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74X                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58326.486          63932.328          11577.937  0.75  SW MALE 
    END-POINT  58323.486          63932.328          11577.937  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74W                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58323.486          63932.328          11577.937  0.75  SC FEMALE 
    END-POINT  58323.486          63932.328          11577.937  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74Z                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
CAP
    END-POINT  58323.486          63932.328          11577.937  0.75  SC FEMALE 
    END-POINT  58322.546          63932.328          11577.937  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_74Y                 
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58334.675          63934.828          11599.750  2  BW
    END-POINT  58334.675          63941.328          11599.512  1.5  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           2.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47N                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58334.675          63941.328          11599.512  1.5  SW FEMALE 
    END-POINT  58334.675          63941.328          11599.512  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47S                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58334.675          63941.520          11599.512  1.5  FL
    END-POINT  58334.675          63941.328          11599.512  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47R                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58334.675          63941.645          11599.512  1.5
    END-POINT  58334.675          63941.520          11599.512  1.5
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47U                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
VALVE
    END-POINT  58334.675          63941.645          11599.512  1.5  FL
    END-POINT  58334.675          63948.145          11599.512  1.5  FL
    CENTRE-POINT   58334.675          63944.895          11599.512 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          23.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_47T                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58334.675          63948.145          11599.512 
    PIPELINE-REFERENCE ISO-PY3-2041007
ELBOW
    END-POINT  58334.675          63914.828          11599.750  2  BW
    END-POINT  58331.675          63911.828          11599.750  2  BW
    CENTRE-POINT   58334.675          63911.828          11599.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9PI                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58334.675  63911.828  11599.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58334.675  63898.800  11599.750 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58334.675  63911.828  11599.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63911.828  11599.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
WELD
    END-POINT  58331.675          63911.828          11599.750  2
    END-POINT  58331.675          63911.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9PL                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58326.675          63911.828          11599.750  2  BW
    END-POINT  58331.675          63911.828          11599.750  2  BW
    CENTRE-POINT   58329.175          63911.828          11599.750 
    BRANCH1-POINT  58329.175          63911.828          11602.250  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_51                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SUPPORT
    CO-ORDS  58329.175  63911.828  11599.750  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QQ                 
WELD
    END-POINT  58326.675          63911.828          11599.750  2
    END-POINT  58326.675          63911.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58329.175          63911.828          11602.250  2
    END-POINT  58329.175          63911.828          11602.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_78                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58329.175          63911.828          11630.250  2  BW
    END-POINT  58329.175          63911.828          11602.250  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_76                  
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58329.175          63911.828          11630.250  2
    END-POINT  58329.175          63911.828          11630.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_77                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58329.175          63911.828          11630.250  2  BW
    END-POINT  58329.175          63911.828          11635.250  2  BW
    CENTRE-POINT   58329.175          63911.828          11632.750 
    BRANCH1-POINT  58326.675          63911.828          11632.750  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_75                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58329.175  63911.828  11632.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63911.828  11632.750 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58329.175  63911.828  11632.750 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58329.175  63898.800  11632.750 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  58329.175          63911.828          11635.250  2
    END-POINT  58329.175          63911.828          11635.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7D                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58326.675          63911.828          11632.750  2
    END-POINT  58326.675          63911.828          11632.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2DZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58326.675          63911.828          11632.750  2  BW
    END-POINT  58275.550          63911.828          11632.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2DY                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58289.922  63911.828  11632.750 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58275.550          63911.828          11632.750  2
    END-POINT  58275.550          63911.828          11632.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2E0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58273.050          63911.828          11632.750  2  FL
    END-POINT  58275.550          63911.828          11632.750  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3J                  
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58273.050          63911.828          11632.750  2
    END-POINT  58272.925          63911.828          11632.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3K                  
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58273.050          63911.828          11632.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3L                  
VALVE
    END-POINT  58264.925          63911.828          11632.750  2  FL
    END-POINT  58272.925          63911.828          11632.750  2  FL
    CENTRE-POINT   58268.925          63911.828          11632.750 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB2
    WEIGHT          51.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3E                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  58264.925          63911.828          11632.750  2
    END-POINT  58264.800          63911.828          11632.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3F                  
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58264.925          63911.828          11632.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3G                  
FLANGE
    END-POINT  58264.800          63911.828          11632.750  2  FL
    END-POINT  58262.300          63911.828          11632.750  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3C                  
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58262.300          63911.828          11632.750  2
    END-POINT  58262.300          63911.828          11632.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3D                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58259.800          63911.828          11635.250  2  BW
    END-POINT  58259.800          63911.828          11630.250  2  BW
    CENTRE-POINT   58259.800          63911.828          11632.750 
    BRANCH1-POINT  58262.300          63911.828          11632.750  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2Y                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58259.800          63911.828          11635.250  2
    END-POINT  58259.800          63911.828          11635.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6T                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58259.800          63911.828          11630.250  2
    END-POINT  58259.800          63911.828          11630.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4K                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58259.800          63911.828          11630.250  2  BW
    END-POINT  58259.800          63911.828          11602.250  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4J                  
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58259.800  63911.828  11615.656 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58259.800          63911.828          11602.250  2
    END-POINT  58259.800          63911.828          11602.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4L                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58259.800          63911.828          11602.250  2  BW
    END-POINT  58259.800          63911.828          11597.250  2  BW
    CENTRE-POINT   58259.800          63911.828          11599.750 
    BRANCH1-POINT  58262.300          63911.828          11599.750  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_33                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58259.800          63911.828          11597.250  2
    END-POINT  58259.800          63911.828          11597.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_14P                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58262.300          63911.828          11599.750  2
    END-POINT  58262.300          63911.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AVC                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58262.300          63911.828          11599.750  2  BW
    END-POINT  58266.120          63911.828          11599.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AVB                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  58264.300  63911.828  11599.750  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_45M                 
WELD
    END-POINT  58266.120          63911.828          11599.750  2
    END-POINT  58266.120          63911.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AVD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58264.300  63911.828  11599.750  2
    END-POINT  58264.300  63911.828  11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AVG                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58264.300  63911.828  11599.750 
    BRANCH1-POINT  58264.300          63911.828          11601.562  0.5  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1/2
    WEIGHT           0.300
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AVE                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58264.300          63911.828          11601.562  0.5
    END-POINT  58264.300          63911.828          11601.562  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AVH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58264.300          63911.828          11601.562  0.5  PL
    END-POINT  58264.300          63911.828          11606.312  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_488                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58264.300          63911.828          11606.312  0.5  SW FEMALE 
    END-POINT  58264.300          63911.828          11606.312  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_48A                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58264.300          63911.828          11606.312  0.5  SW FEMALE 
    END-POINT  58264.300          63911.828          11608.937  0.5  SW FEMALE 
    CENTRE-POINT   58264.300          63911.828          11607.627 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           4.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_489                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58264.300          63911.828          11608.937  0.5  SW MALE 
    END-POINT  58264.300          63911.828          11608.937  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_48D                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58264.300          63911.828          11608.937  0.5  SW MALE 
    END-POINT  58264.300          63911.828          11611.937  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_48C                 
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58264.300  63911.828  11611.507 
    TEXT PI$247$75
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58264.300          63911.828          11611.937 
FLANGE
    END-POINT  58268.620          63911.828          11599.750  2  FL
    END-POINT  58266.120          63911.828          11599.750  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2E2                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58268.620          63911.828          11599.750  2
    END-POINT  58268.745          63911.828          11599.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2E3                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58268.745          63911.828          11599.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_2E4                 
VALVE
    END-POINT  58268.745          63911.828          11599.750  2  FL
    END-POINT  58275.745          63911.828          11599.750  2  FL
    CENTRE-POINT   58272.245          63911.828          11599.750 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          35.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3Q                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58275.870          63911.828          11599.750  2
    END-POINT  58275.745          63911.828          11599.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_12Q                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58275.745          63911.828          11599.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_12R                 
TEE
    END-POINT  58275.870          63911.828          11599.750  2  FL
    END-POINT  58284.165          63911.828          11599.750  2  FL
    CENTRE-POINT   58278.915          63911.828          11599.750 
    BRANCH1-POINT  58282.323          63911.828          11596.342  0.5  SC FEMALE 
    SKEY TEFL
    FABRICATION-ITEM
    ITEM-CODE STRWYE2
    WEIGHT          18.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_12O                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
GASKET
    END-POINT  58284.290          63911.828          11599.750  2
    END-POINT  58284.165          63911.828          11599.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_12T                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58284.290          63911.828          11599.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_12U                 
SCREWED-WELD
    END-POINT  58282.323          63911.828          11596.342  0.5  SC MALE 
    END-POINT  58282.323          63911.828          11596.342  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_139                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58284.445          63911.828          11594.220  0.5  SW MALE 
    END-POINT  58282.323          63911.828          11596.342  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_138                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58284.445          63911.828          11594.220  0.5  SW FEMALE 
    END-POINT  58284.445          63911.828          11594.220  0.5  SW MALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_25R                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58284.445          63911.828          11594.220  0.5  SW FEMALE 
    END-POINT  58286.297          63911.828          11592.368  0.5  SW FEMALE 
    CENTRE-POINT   58285.371          63911.828          11593.294 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           4.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_25Q                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58286.297          63911.828          11592.368  0.5  SW MALE 
    END-POINT  58286.297          63911.828          11592.368  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_25V                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58286.297          63911.828          11592.368  0.5  SW MALE 
    END-POINT  58288.419          63911.828          11590.246  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.270
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_25U                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58288.507          63911.828          11590.246  0.5  SC FEMALE 
    END-POINT  58288.419          63911.828          11590.246  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_45H                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58288.419          63911.828          11590.246 
FLANGE
    END-POINT  58284.290          63911.828          11599.750  2  FL
    END-POINT  58286.790          63911.828          11599.750  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_12S                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58286.790          63911.828          11599.750  2
    END-POINT  58286.790          63911.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AVA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58286.790          63911.828          11599.750  2  BW
    END-POINT  58293.223          63911.828          11599.512  1.5  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           2.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AV7                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
SOCKET-WELD
    END-POINT  58293.223          63911.828          11599.512  1.5
    END-POINT  58293.223          63911.828          11599.512  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AV9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58293.483          63911.828          11599.512  1.5  FL
    END-POINT  58293.223          63911.828          11599.512  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AV3                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58293.483          63911.828          11599.512  1.5
    END-POINT  58293.608          63911.828          11599.512  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AV4                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58293.483          63911.828          11599.512 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AV5                 
INSTRUMENT
    END-POINT  58307.608          63911.828          11599.512  1.5  FL
    END-POINT  58293.608          63911.828          11599.512  1.5  FL
    CENTRE-POINT   58300.608          63911.828          11599.512 
    SKEY CVFL
    FABRICATION-ITEM
    ITEM-CODE VALVCNT1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AV0                 
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58300.608  63911.828  11599.512 
    TEXT PRV$247$63
    UNDIMENSIONED
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58307.608          63911.828          11599.512  1.5
    END-POINT  58307.733          63911.828          11599.512  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AV1                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58307.608          63911.828          11599.512 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AV2                 
FLANGE
    END-POINT  58307.733          63911.828          11599.512  1.5  FL
    END-POINT  58307.993          63911.828          11599.512  1.5  SW FEMALE 
    SKEY FLSW
    FABRICATION-ITEM
    ITEM-CODE FLG1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AUY                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58307.993          63911.828          11599.512  1.5  SW FEMALE 
    END-POINT  58307.993          63911.828          11599.512  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AUZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  58314.425          63911.828          11599.750  2  BW
    END-POINT  58307.993          63911.828          11599.512  1.5  PL
    SKEY ESPL
    FABRICATION-ITEM
    ITEM-CODE FAB SHOP
    WEIGHT           2.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AUV                 
    PIPING-SPEC C2
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  58314.425          63911.828          11599.750  2
    END-POINT  58314.425          63911.828          11599.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AUX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58316.925          63911.828          11599.750  2  FL
    END-POINT  58314.425          63911.828          11599.750  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4R                  
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58317.050          63911.828          11599.750  2
    END-POINT  58316.925          63911.828          11599.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4U                  
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58317.050          63911.828          11599.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4V                  
VALVE
    END-POINT  58317.050          63911.828          11599.750  2  FL
    END-POINT  58324.050          63911.828          11599.750  2  FL
    CENTRE-POINT   58320.550          63911.828          11599.750 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          35.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_4T                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58324.175          63911.828          11599.750  2
    END-POINT  58324.050          63911.828          11599.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QM                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58324.175          63911.828          11599.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QN                 
FLANGE
    END-POINT  58324.175          63911.828          11599.750  2  FL
    END-POINT  58326.675          63911.828          11599.750  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9QL                 
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58259.800          63911.828          11597.250  2  BW
    END-POINT  58259.800          63911.828          11585.750  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_14O                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58259.800          63911.828          11585.750  2
    END-POINT  58259.800          63911.828          11585.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_14R                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58259.800  63911.828  11588.750  2
    END-POINT  58259.800  63911.828  11588.750  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1WO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58259.800  63911.828  11588.750 
    BRANCH1-POINT  58259.800          63913.578          11588.750  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1WM                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58259.800          63913.578          11588.750  0.75
    END-POINT  58259.800          63913.578          11588.750  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1X2                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58259.800          63917.078          11588.750  0.75  PL
    END-POINT  58259.800          63913.578          11588.750  0.75  PL
    CONTINUATION 
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1X0                 
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58259.800  63915.304  11588.750 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58259.800          63917.078          11588.750 
    PIPELINE-REFERENCE ISO-PY3-2041016
CAP
    END-POINT  58259.800          63911.828          11585.750  2  BW
    END-POINT  58259.800          63911.828          11584.250  2
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_14Q                 
    PIPING-SPEC C2
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     58259.800          63911.828          11584.250  2  BW
WELD
    END-POINT  58259.800          63911.828          11584.250  2
    END-POINT  58259.800          63911.828          11584.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_14U                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT   58259.800          63911.828          11584.250 
    BRANCH1-POINT  58259.800          63911.828          11583.687  0.75  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X3/4
    WEIGHT           0.340
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_14S                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58259.800          63911.828          11583.687  0.75
    END-POINT  58259.800          63911.828          11583.687  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_461                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58259.800          63911.828          11583.687  0.75  PL
    END-POINT  58259.800          63911.828          11578.687  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_460                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58259.800          63911.828          11578.687  0.75  SW FEMALE 
    END-POINT  58259.800          63911.828          11578.687  0.75
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_464                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58259.800          63911.828          11578.687  0.75  SW FEMALE 
    END-POINT  58259.800          63912.578          11577.937  0.75  SW FEMALE 
    CENTRE-POINT   58259.800          63911.828          11577.937 
    SKEY ELSW
    FABRICATION-ITEM
    ITEM-CODE 90L3/4X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_462                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
SOCKET-WELD
    END-POINT  58259.800          63912.578          11577.937  0.75
    END-POINT  58259.800          63912.578          11577.937  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_46S                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58259.800          63917.641          11577.937  0.75  PL
    END-POINT  58259.800          63912.578          11577.937  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           1.474
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_46Q                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58259.800          63917.641          11577.937  0.75
    END-POINT  58259.800          63917.641          11577.937  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_46R                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58259.800          63917.641          11577.937  0.75  SW FEMALE 
    END-POINT  58259.800          63920.016          11577.937  0.75  SW FEMALE 
    CENTRE-POINT   58259.800          63918.829          11577.937 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           4.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_467                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58259.800          63920.016          11577.937  0.75  SW MALE 
    END-POINT  58259.800          63920.016          11577.937  0.75  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_46W                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58259.800          63920.016          11577.937  0.75  SW MALE 
    END-POINT  58259.800          63923.016          11577.937  0.75  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP3/4
    WEIGHT           0.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_46V                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58259.800          63923.016          11577.937  0.75  SC FEMALE 
    END-POINT  58259.800          63923.016          11577.937  0.75  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_46Y                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
CAP
    END-POINT  58259.800          63923.016          11577.937  0.75  SC FEMALE 
    END-POINT  58259.800          63923.956          11577.937  0.75
    SKEY KASC
    FABRICATION-ITEM
    ITEM-CODE CAP3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_46X                 
    PIPING-SPEC C2
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58259.800          63923.956          11577.937 
FLANGE
    END-POINT  58259.800          63911.828          11637.750  2  FL
    END-POINT  58259.800          63911.828          11635.250  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6S                  
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58259.800          63911.828          11637.875  2
    END-POINT  58259.800          63911.828          11637.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6V                  
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58259.800          63911.828          11637.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6W                  
VALVE
    END-POINT  58259.800          63911.828          11637.875  2  FL
    END-POINT  58259.800          63911.828          11644.875  2  FL
    CENTRE-POINT   58259.800          63911.828          11641.375 
    SKEY VTFL
    ERECTION-ITEM
    ITEM-CODE VALVGAT2
    WEIGHT          35.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6U                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
GASKET
    END-POINT  58259.800          63911.828          11645.000  2
    END-POINT  58259.800          63911.828          11644.875  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_70                  
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58259.800          63911.828          11645.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_71                  
FLANGE
    END-POINT  58259.800          63911.828          11645.000  2  FL
    END-POINT  58259.800          63911.828          11647.500  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_6Z                  
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58259.800          63911.828          11647.500  2
    END-POINT  58259.800          63911.828          11647.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_FQ                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58259.800          63911.828          11647.500  2  BW
    END-POINT  58259.800          63911.828          11653.500  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_FP                  
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58259.800          63911.828          11653.500  2
    END-POINT  58259.800          63911.828          11653.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_FT                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  58259.800          63911.828          11653.500  2  BW
    END-POINT  58259.800          63911.828          11658.500  2  BW
    CENTRE-POINT   58259.800          63911.828          11656.000 
    BRANCH1-POINT  58257.300          63911.828          11656.000  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_FR                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58259.800          63911.828          11658.500  2
    END-POINT  58259.800          63911.828          11658.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_GW                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58257.300          63911.828          11656.000  2
    END-POINT  58257.300          63911.828          11656.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_G3                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58250.800          63911.828          11656.000  2  BW
    END-POINT  58257.300          63911.828          11656.000  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_G1                  
    PIPING-SPEC C2
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58254.061  63911.828  11656.000 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58250.800          63911.828          11656.000  2
    END-POINT  58250.800          63911.828          11656.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_G2                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58247.800          63911.828          11653.000  2  BW
    END-POINT  58250.800          63911.828          11656.000  2  BW
    CENTRE-POINT   58247.800          63911.828          11656.000 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_FX                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58247.800          63911.828          11653.000  2
    END-POINT  58247.800          63911.828          11653.000  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_FZ                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58247.800          63911.828          11653.000  2  BW
    END-POINT  58247.800          63911.828          11647.500  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_FY                  
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58247.800          63911.828          11647.500  2
    END-POINT  58247.800          63911.828          11647.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9P0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  58247.800          63911.828          11645.000  2  FL
    END-POINT  58247.800          63911.828          11647.500  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9OW                 
    PIPING-SPEC C2
GASKET
    END-POINT  58247.800          63911.828          11645.000  2
    END-POINT  58247.800          63911.828          11644.875  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AR6                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58247.800          63911.828          11645.000 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_AR7                 
VALVE
    END-POINT  58247.800          63911.828          11637.875  2  FL
    END-POINT  58247.800          63911.828          11644.875  2  FL
    CENTRE-POINT   58247.800          63911.828          11641.375 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          35.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8899R_6E                  
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
END-CONNECTION-PIPELINE 
    CO-ORDS  58247.800          63911.828          11637.875 
    PIPELINE-REFERENCE ISO-PY3-2041017
PIPE
    END-POINT  58259.800          63911.828          11658.500  2  BW
    END-POINT  58259.800          63911.828          11702.201  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_GV                  
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58259.800          63911.828          11702.201  2
    END-POINT  58259.800          63911.828          11702.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_GX                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58259.800          63914.828          11705.201  2  BW
    END-POINT  58259.800          63911.828          11702.201  2  BW
    CENTRE-POINT   58259.800          63911.828          11705.201 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_Y                   
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58259.800  63911.828  11705.201 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63911.828  11705.201 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58259.800  63911.828  11705.201 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58259.800  63898.800  11705.201 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  58259.800          63914.828          11705.201  2
    END-POINT  58259.800          63914.828          11705.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9PA                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58259.800          63934.375          11705.201  2  BW
    END-POINT  58259.800          63914.828          11705.201  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9P8                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58259.800          63934.375          11705.201  2
    END-POINT  58259.800          63934.375          11705.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9P9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58259.800          63937.375          11708.201  2  BW
    END-POINT  58259.800          63934.375          11705.201  2  BW
    CENTRE-POINT   58259.800          63937.375          11705.201 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9P5                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58259.800          63937.375          11708.201  2
    END-POINT  58259.800          63937.375          11708.201  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9P7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58259.800          63937.375          11708.201  2  BW
    END-POINT  58259.800          63937.375          11723.224  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_T                   
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58259.800          63937.375          11723.224  2
    END-POINT  58259.800          63937.375          11723.224  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_V                   
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  58259.800          63937.375          11723.224  2  BW
    END-POINT  58256.800          63937.375          11726.224  2  BW
    CENTRE-POINT   58259.800          63937.375          11726.224 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_I                   
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58259.800  63937.375  11726.224 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63937.375  11726.224 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58259.800  63937.375  11726.224 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58259.800  63898.800  11726.224 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
WELD
    END-POINT  58256.800          63937.375          11726.224  2
    END-POINT  58256.800          63937.375          11726.224  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5T                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58256.800          63937.375          11726.224  2  BW
    END-POINT  57817.605          63937.375          11726.224  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5S                  
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57907.980  63937.375  11726.224  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1VW                 
SUPPORT
    CO-ORDS  58055.105  63937.375  11726.224  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1VY                 
SUPPORT
    CO-ORDS  58160.800  63937.375  11726.224  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_43T                 
FLOW-ARROW
    CO-ORDS  58195.893  63937.375  11726.224 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57817.605          63937.375          11726.224  2
    END-POINT  57817.605          63937.375          11726.224  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5U                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  58247.800  63937.375  11726.224  0.5
    END-POINT  58247.800  63937.375  11726.224  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9NO                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      58247.800  63937.375  11726.224 
    BRANCH1-POINT  58247.800          63937.375          11728.036  0.5  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL1/2X1/2
    WEIGHT           0.140
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9NM                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58247.800          63937.375          11728.036  0.5
    END-POINT  58247.800          63937.375          11728.036  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9NQ                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  58247.800          63937.375          11728.036  0.5  PL
    END-POINT  58247.800          63937.375          11731.786  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9NP                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  58247.800          63937.375          11731.786  0.5
    END-POINT  58247.800          63937.375          11731.786  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9NR                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
VALVE
    END-POINT  58247.800          63937.375          11731.786  0.5  SW FEMALE 
    END-POINT  58247.800          63937.375          11734.411  0.5  SW FEMALE 
    CENTRE-POINT   58247.800          63937.375          11733.101 
    SKEY VTSW
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           4.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MM                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58247.800          63937.375          11734.411  0.5  SW MALE 
    END-POINT  58247.800          63937.375          11734.411  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MX                 
    THICKNESS/RATING 800LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58247.800          63937.375          11734.411  0.5  SW MALE 
    END-POINT  58247.800          63937.375          11736.411  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2_1
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MW                 
    PIPING-SPEC C2
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58247.800          63937.375          11736.411  0.5  SC MALE 
    END-POINT  58247.800          63937.375          11736.411  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MY                 
    THICKNESS/RATING 2000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C2
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58247.800          63937.375          11736.411  0.5  SC FEMALE 
    END-POINT  58247.800          63937.375          11738.169  0.5  SC FEMALE 
    CENTRE-POINT  58247.800  63937.375  11737.290 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_8MT                 
    PIPING-SPEC C2
MESSAGE-CIRCLE
    CO-ORDS  58247.800  63937.375  11738.169 
    TEXT SP-902
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58247.800          63937.375          11738.169 
ELBOW
    END-POINT  57815.249          63938.351          11726.224  2  BW
    END-POINT  57817.605          63937.375          11726.224  2  BW
    CENTRE-POINT   57816.225          63937.375          11726.224 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5O                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57815.249          63938.351          11726.224  2
    END-POINT  57815.249          63938.351          11726.224  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5Q                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57815.249          63938.351          11726.224  2  BW
    END-POINT  57793.421          63960.179          11726.224  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_5P                  
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57799.460  63954.140  11726.224  2
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_43P                 
SUPPORT
    CO-ORDS  57799.460  63954.140  11726.224  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 45 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_816                 
WELD
    END-POINT  57793.421          63960.179          11726.224  2
    END-POINT  57793.421          63960.179          11726.224  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42A                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57793.421          63960.179          11726.224  2  BW
    END-POINT  57791.300          63962.300          11723.224  2  BW
    CENTRE-POINT   57791.300          63962.300          11726.224 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_428                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57791.300          63962.300          11723.224  2
    END-POINT  57791.300          63962.300          11723.224  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42D                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57791.300          63962.300          11625.937  2  BW
    END-POINT  57791.300          63962.300          11723.224  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42B                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57791.300          63962.300          11625.937  2
    END-POINT  57791.300          63962.300          11625.937  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_42C                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57791.300          63965.300          11622.937  2  BW
    END-POINT  57791.300          63962.300          11625.937  2  BW
    CENTRE-POINT   57791.300          63962.300          11622.937 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_425                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57791.300          63965.300          11622.937  2
    END-POINT  57791.300          63965.300          11622.937  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_427                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57791.300          64188.000          11622.937  2  BW
    END-POINT  57791.300          63965.300          11622.937  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_414                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57791.300  64138.748  11622.937  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_420                 
WELD
    END-POINT  57791.300          64188.000          11622.937  2
    END-POINT  57791.300          64188.000          11622.937  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_415                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
TEE
    END-POINT  57791.300          64188.000          11622.937  2  BW
    END-POINT  57791.300          64193.000          11622.937  2  BW
    CENTRE-POINT   57791.300          64190.500          11622.937 
    BRANCH1-POINT  57791.300          64190.500          11625.437  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_412                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57791.300          64193.000          11622.937  2
    END-POINT  57791.300          64193.000          11622.937  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_418                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57791.300          64190.500          11625.437  2
    END-POINT  57791.300          64190.500          11625.437  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_435                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57791.300          64190.500          11625.437  2  BW
    END-POINT  57791.300          64190.500          11629.721  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_434                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57791.300          64190.500          11629.721  2
    END-POINT  57791.300          64190.500          11629.721  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_436                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57791.300          64190.500          11629.721  2
    END-POINT  57791.300          64190.500          11629.721  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_437                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  57791.300          64190.500          11629.937  2  FL
    END-POINT  57791.300          64190.500          11629.721  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41T                 
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  57791.300          64190.500          11629.937  2
    END-POINT  57791.300          64190.500          11630.062  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41U                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
VALVE
    END-POINT  57791.300          64190.500          11630.062  2  FL
    END-POINT  57791.300          64190.500          11637.062  2  FL
    CENTRE-POINT   57791.300          64190.500          11633.562 
    SKEY VTFL
    CONTINUATION 
    WEIGHT          35.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41F                 
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
END-CONNECTION-PIPELINE 
    CO-ORDS  57791.300          64190.500          11637.062 
    PIPELINE-REFERENCE ISO-PY3-2041020
PIPE
    END-POINT  57791.300          64193.000          11622.937  2  BW
    END-POINT  57791.300          64226.500          11622.937  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_417                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57791.300          64226.500          11622.937  2
    END-POINT  57791.300          64226.500          11622.937  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_419                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57791.300  64202.500  11622.937  2
    END-POINT  57791.300  64202.500  11622.937  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41C                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
OLET
    CENTRE-POINT      57791.300  64202.500  11622.937 
    BRANCH1-POINT  57791.300          64202.500          11624.937  1  SW FEMALE 
    SKEY SKSW
    FABRICATION-ITEM
    ITEM-CODE SOL2X1
    WEIGHT           0.600
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41B                 
    PIPING-SPEC C2
    INSULATION-ON 
SOCKET-WELD
    END-POINT  57791.300          64202.500          11624.937  1
    END-POINT  57791.300          64202.500          11624.937  1  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41O                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57791.300          64202.500          11624.937  1  PL
    END-POINT  57791.300          64202.500          11631.937  1  PL
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_41N                 
    PIPING-SPEC C2
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  57791.300          64202.500          11631.937 
    PIPELINE-REFERENCE ISO-PY3-2041031
ELBOW
    END-POINT  57791.300          64226.500          11622.937  2  BW
    END-POINT  57791.300          64229.500          11619.937  2  BW
    CENTRE-POINT   57791.300          64229.500          11622.937 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_40Q                 
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57791.300  64229.500  11622.937 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57791.300  64378.800  11622.937 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. G
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57791.300  64229.500  11622.937 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64229.500  11622.937 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL. 1
WELD
    END-POINT  57791.300          64229.500          11619.937  2
    END-POINT  57791.300          64229.500          11619.937  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_40W                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57791.300          64229.500          11619.937  2  BW
    END-POINT  57791.300          64229.500          11600.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_40V                 
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57791.300          64229.500          11600.188  2
    END-POINT  57791.300          64229.500          11600.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_40X                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57791.300          64229.500          11600.188  2  BW
    END-POINT  57788.300          64229.500          11597.188  2  BW
    CENTRE-POINT   57791.300          64229.500          11597.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1K                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57788.300          64229.500          11597.188  2
    END-POINT  57788.300          64229.500          11597.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_3WD                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57534.935          64229.500          11597.188  2  BW
    END-POINT  57788.300          64229.500          11597.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1IY                 
    PIPING-SPEC C2
    INSULATION-ON 
SUPPORT
    CO-ORDS  57738.050  64229.500  11597.188  2
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPEB-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_48U                 
FLOW-ARROW
    CO-ORDS  57663.406  64229.500  11597.188 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57534.935          64229.500          11597.188  2
    END-POINT  57534.935          64229.500          11597.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1IZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57534.935          64229.500          11597.188  2  BW
    END-POINT  57532.579          64230.476          11597.188  2  BW
    CENTRE-POINT   57533.555          64229.500          11597.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1O                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57532.579          64230.476          11597.188  2
    END-POINT  57532.579          64230.476          11597.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1P                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57532.579          64230.476          11597.188  2  BW
    END-POINT  57527.174          64235.881          11597.188  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1Q                  
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57527.174          64235.881          11597.188  2
    END-POINT  57527.174          64235.881          11597.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1R                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
ELBOW
    END-POINT  57527.174          64235.881          11597.188  2  BW
    END-POINT  57525.053          64238.002          11594.188  2  BW
    CENTRE-POINT   57525.053          64238.002          11597.188 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1S                  
    PIPING-SPEC C2
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57525.053          64238.002          11594.188  2
    END-POINT  57525.053          64238.002          11594.188  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1T                  
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C2
    INSULATION-ON 
PIPE
    END-POINT  57525.053          64238.002          11594.188  2  BW
    END-POINT  57525.053          64238.002          11584.652  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           3.653
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1U                  
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57525.053          64238.002          11584.652  2
    END-POINT  57525.053          64238.002          11584.652  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1V                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C2
    INSULATION-ON 
WELD
    END-POINT  57525.053          64238.002          11584.652  2
    END-POINT  57525.053          64238.002          11584.652  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1W                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C2
    INSULATION-ON 
FLANGE
    END-POINT  57525.053          64238.002          11584.435  2  FL
    END-POINT  57525.053          64238.002          11584.652  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_1X                  
    PIPING-SPEC C2
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  57525.053  64238.002  11584.435 
    TEXT TP$055
    UNDIMENSIONED
GASKET
    END-POINT  57525.053          64238.002          11584.435  2
    END-POINT  57525.053          64238.002          11584.310  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_81E                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57525.053          64238.002          11584.435 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_81F                 
END-POSITION-OPEN 
    CO-ORDS  57525.053          64238.002          11584.310 
FLANGE
    END-POINT  58329.175          63911.828          11637.750  2  FL
    END-POINT  58329.175          63911.828          11635.250  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_7C                  
    PIPING-SPEC C2
    INSULATION-ON 
GASKET
    END-POINT  58329.175          63911.828          11637.875  2
    END-POINT  58329.175          63911.828          11637.750  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9Y0                 
    PIPING-SPEC C2
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58329.175          63911.828          11637.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9Y1                 
VALVE-ANGLE
    END-POINT  58329.175          63911.828          11637.875  2  FL
    END-POINT  58329.175          63906.953          11643.250  3  FL
    CENTRE-POINT   58329.175          63911.828          11643.250 
    SKEY ARFL
    ERECTION-ITEM
    ITEM-CODE VALVREI2X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9XY                 
    TAG PSV-247-65                      
    PIPING-SPEC C2
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
MESSAGE-CIRCLE
    CO-ORDS  58329.175  63911.828  11643.250 
    TEXT PSV$247$65
    UNDIMENSIONED
GASKET
    END-POINT  58329.175          63906.828          11643.250  3
    END-POINT  58329.175          63906.953          11643.250  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9ZJ                 
    PIPING-SPEC C2
    GASKET-RATING 150LB          
FLANGE
    END-POINT  58329.175          63906.828          11643.250  3  FL
    END-POINT  58329.175          63904.078          11643.250  3  BW
    SKEY FLWN
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8D1LE_9Y5                 
    PIPING-SPEC C2
END-CONNECTION-PIPELINE 
    CO-ORDS  58329.175          63904.078          11643.250 
    PIPELINE-REFERENCE ISO-PY3-2041032
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x3" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE SOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION SOCKOLET, SWF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE PIP2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A 53 Gr B, ERW
    RATING 40
ITEM-CODE TEESTR2X2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION STRAIGHT TEE, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE SOL2X3/4
    CATALOG MSS SP-97
    DESCRIPTION SOCKOLET, SWF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE CAP2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE PIP3/4
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A 106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE 90L3/4X3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION ELBOW 90 DEG., SWF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SWF, 800LB, GA-08-CB-001
    RATING 800LB
ITEM-CODE NIPP3/4
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 3/4"x3" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 3"
    RATING 80
ITEM-CODE CAP3/4
    CATALOG ASME/ANSI B16.11
    DESCRIPTION CAP, SCF, 3000LB, ASTM A105, ASME/ANSI B16.11
    RATING 3000LB
ITEM-CODE FAB SHOP
    CATALOG MSS SP-95
    DESCRIPTION ECC SWAGE, BVxPL, SCH 40, ASTM A234 Gr WPB, MSS SP-95
    RATING 40
ITEM-CODE FLG1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION FLANGE, SWF, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE 90LLR2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPST-2
    DESCRIPTION PIPE SUPPORT, P619 FIG 1, L=2'-0"
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVGLB2
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-CB-500
    RATING 150LB
ITEM-CODE SUPEB-2
    DESCRIPTION PIPE SUPPORT, P617 FIG 1 , L=2'-1 1/8"
ITEM-CODE VALVGAT2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, 150LB, RF, GA-01-CB-500
    RATING 150LB
ITEM-CODE STRWYE2
    CATALOG CYTEC STRAINER
    DESCRIPTION Y-TYPE STRAINERS
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, SPIRAL WOUND, RUST PROOF OR TYPE 304SS, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
ITEM-CODE VALVCNT1+1/2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, PRV-247-63
    RATING 150LB
ITEM-CODE SUPTS-2
    DESCRIPTION TEE SHOE SUPPORT, P602-FIG 2
ITEM-CODE SUPTS-2_1
    DESCRIPTION TEE SHOE SUPPORT, P602-FIG 3
ITEM-CODE SUPRH-2
    DESCRIPTION ROD HANGER P624, FIG. 4, L=3'-8 9/16"
ITEM-CODE SOL1/2X1/2
    CATALOG MSS SP-97
    DESCRIPTION SOCKOLET, SWF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE NIPP1/2_1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1/2"x2" LG, SWMxSCM, SCH 80, ASTM A 106 Gr B, SEAMLESS - 2"
    RATING 80
ITEM-CODE GENSTR1/2
    DESCRIPTION VACUUM BREAKER, SP-902
    RATING 2000LB
ITEM-CODE 45LLR2
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPRH-2_1
    DESCRIPTION ROD HANGER P624, FIG. 2, L=3'-4", X=1'-8"
ITEM-CODE SUPAG-2
    DESCRIPTION STEEL SUPPORT, P624-FIG 2, L=2'-0"
ITEM-CODE SUPTS-2_2
    DESCRIPTION TEE SHOE SUPPORT W/GUIDE, P602-FIG 2
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE SOL2X1
    CATALOG MSS SP-97
    DESCRIPTION SOCKOLET, SWF, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE SUPEB-2_1
    DESCRIPTION PIPE SUPPORT, P619 FIG 1 , L=3'-5 3/16" (DO NOT WELD TO STEEL)
ITEM-CODE VALVREI2X3
    CATALOG ANDERSON GREENWOOD
    DESCRIPTION RELIEF VALVE, 150LB, RF, PSV-XXX-XX
    RATING 150LB
