ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1219020
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1219020-DM-S1
    ATTRIBUTE95 11
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-019
    ATTRIBUTE21 SG
    ATTRIBUTE22 9/3/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 1/19/2009
    ATTRIBUTE25 RP
    ATTRIBUTE26 1/28/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/19/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/19/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/19/2009
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 7/31/2009
    ATTRIBUTE42 SG
    ATTRIBUTE43 BL
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE88 620782
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58086.175          64206.468          11413.964  1.5  BW
    END-POINT  58086.175          64222.468          11413.964  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_915                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58086.175          64206.468          11413.964  1.5
    END-POINT  58086.175          64206.468          11413.964  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_916                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58086.175          64222.468          11413.964  1.5
    END-POINT  58086.175          64222.468          11413.964  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92K                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58086.175          64201.968          11413.964  1.5  BW
    END-POINT  58086.175          64206.468          11413.964  1.5  BW
    CENTRE-POINT   58086.175          64204.218          11413.964 
    BRANCH1-POINT  58086.175          64204.218          11411.714  1.5  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_8Y5                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  58086.175          64201.968          11413.964 
    PIPELINE-REFERENCE ISO-PY3-1219019
ELBOW
    END-POINT  58086.175          64222.468          11413.964  1.5  BW
    END-POINT  58086.175          64224.718          11416.214  1.5  BW
    CENTRE-POINT   58086.175          64224.718          11413.964 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_917                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58086.175          64224.718          11416.214  1.5
    END-POINT  58086.175          64224.718          11416.214  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58086.175          64224.718          11429.713  1.5  BW
    END-POINT  58086.175          64224.718          11416.214  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91D                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58086.175          64224.718          11429.713  1.5
    END-POINT  58086.175          64224.718          11429.713  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58086.175          64224.718          11429.713  1.5  BW
    END-POINT  58083.925          64224.718          11431.963  1.5  BW
    CENTRE-POINT   58086.175          64224.718          11431.963 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91A                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58083.925          64224.718          11431.963  1.5
    END-POINT  58083.925          64224.718          11431.963  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58083.925          64224.718          11431.963  1.5  BW
    END-POINT  58079.925          64224.718          11431.963  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93F                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58079.925          64224.718          11431.963  1.5
    END-POINT  58079.925          64224.718          11431.963  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93I                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58079.925          64224.718          11431.963  1.5
    END-POINT  58079.925          64224.718          11431.963  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93J                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58079.717          64224.718          11431.963  1.5  FL
    END-POINT  58079.925          64224.718          11431.963  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93H                 
    PIPING-SPEC S1
GASKET
    END-POINT  58079.592          64224.718          11431.963  1.5
    END-POINT  58079.717          64224.718          11431.963  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93L                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58079.592          64224.718          11431.963 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93M                 
VALVE
    END-POINT  58079.592          64224.718          11431.963  1.5  FL
    END-POINT  58073.092          64224.718          11431.963  1.5  FL
    CENTRE-POINT   58076.342          64224.718          11431.963 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93K                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
GASKET
    END-POINT  58072.967          64224.718          11431.963  1.5
    END-POINT  58073.092          64224.718          11431.963  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93R                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
MISC-COMPONENT
    END-POINT  58072.967          64224.718          11431.963  1.5  FL
    END-POINT  58072.842          64224.718          11431.963  1.5  FL
    CENTRE-POINT  58072.905  64224.718  11431.963 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93Q                 
    TAG FO-075-08                       
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  58072.967  64224.718  11431.963 
    TEXT FO$075$08
    UNDIMENSIONED
GASKET
    END-POINT  58072.717          64224.718          11431.963  1.5
    END-POINT  58072.842          64224.718          11431.963  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93T                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58072.717          64224.718          11431.963 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93U                 
FLANGE
    END-POINT  58072.717          64224.718          11431.963  1.5  FL
    END-POINT  58072.510          64224.718          11431.963  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93S                 
    PIPING-SPEC S1
WELD
    END-POINT  58072.510          64224.718          11431.963  1.5
    END-POINT  58072.510          64224.718          11431.963  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58072.510          64224.718          11431.963  1.5
    END-POINT  58072.510          64224.718          11431.963  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58072.510          64224.718          11431.963  1.5  PL
    END-POINT  58050.783          64224.718          11431.963  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93V                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58053.320  64224.718  11431.963  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_940                 
WELD
    END-POINT  58050.783          64224.718          11431.963  1.5
    END-POINT  58050.783          64224.718          11431.963  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_93Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58048.533          64224.718          11434.213  1.5  BW
    END-POINT  58048.533          64224.718          11429.713  1.5  BW
    CENTRE-POINT   58048.533          64224.718          11431.963 
    BRANCH1-POINT  58050.783          64224.718          11431.963  1.5  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2
    WEIGHT           0.460
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92L                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58048.533          64224.718          11434.213  1.5
    END-POINT  58048.533          64224.718          11434.213  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58048.533          64224.718          11429.713  1.5
    END-POINT  58048.533          64224.718          11429.713  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_APP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58048.533          64224.718          11424.054  1.5  BW
    END-POINT  58048.533          64224.718          11429.713  1.5  BW
    CONTINUATION 
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_APN                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58048.533          64224.718          11424.054 
    PIPELINE-REFERENCE ISO-PY3-1218014
PIPE
    END-POINT  58048.533          64224.718          11434.213  1.5  BW
    END-POINT  58048.533          64224.718          11522.327  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91M                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58048.533  64224.718  11496.160  1.5
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94W                 
FLOW-ARROW
    CO-ORDS  58048.533  64224.718  11471.604 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58048.533          64224.718          11522.327  1.5
    END-POINT  58048.533          64224.718          11522.327  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58050.783          64224.718          11524.577  1.5  BW
    END-POINT  58048.533          64224.718          11522.327  1.5  BW
    CENTRE-POINT   58048.533          64224.718          11524.577 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94K                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58050.783          64224.718          11524.577  1.5
    END-POINT  58050.783          64224.718          11524.577  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58050.783          64224.718          11524.577  1.5  BW
    END-POINT  58080.541          64224.718          11524.577  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94M                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58080.541          64224.718          11524.577  1.5
    END-POINT  58080.541          64224.718          11524.577  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.791          64224.718          11526.827  1.5  BW
    END-POINT  58080.541          64224.718          11524.577  1.5  BW
    CENTRE-POINT   58082.791          64224.718          11524.577 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94H                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58082.791          64224.718          11526.827  1.5
    END-POINT  58082.791          64224.718          11526.827  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64224.718          11544.827  1.5  BW
    END-POINT  58082.791          64224.718          11526.827  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94F                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64224.718          11544.827  1.5
    END-POINT  58082.791          64224.718          11544.827  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.791          64222.468          11547.077  1.5  BW
    END-POINT  58082.791          64224.718          11544.827  1.5  BW
    CENTRE-POINT   58082.791          64224.718          11547.077 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_947                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.791  64224.718  11547.077 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64224.718  11547.077 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58082.791  64224.718  11547.077 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58082.791  64138.800  11547.077 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58082.791          64222.468          11547.077  1.5
    END-POINT  58082.791          64222.468          11547.077  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64222.468          11547.077  1.5  BW
    END-POINT  58082.791          64192.260          11547.077  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_949                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64192.260          11547.077  1.5
    END-POINT  58082.791          64192.260          11547.077  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.791          64190.010          11549.327  1.5  BW
    END-POINT  58082.791          64192.260          11547.077  1.5  BW
    CENTRE-POINT   58082.791          64190.010          11547.077 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_944                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58082.791          64190.010          11549.327  1.5
    END-POINT  58082.791          64190.010          11549.327  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_946                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64190.010          11571.019  1.5  BW
    END-POINT  58082.791          64190.010          11549.327  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92I                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58082.791  64190.010  11569.239  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_94S                 
FLOOR-SYMBOL 
    CO-ORDS  58082.791  64190.010  11568.233 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58082.791  64190.010  11568.233 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  58082.791          64190.010          11571.019  1.5
    END-POINT  58082.791          64190.010          11571.019  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92J                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.791          64189.214          11572.939  1.5  BW
    END-POINT  58082.791          64190.010          11571.019  1.5  BW
    CENTRE-POINT   58082.791          64190.010          11572.144 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92E                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58082.791          64189.214          11572.939  1.5
    END-POINT  58082.791          64189.214          11572.939  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64186.386          11575.768  1.5  PL
    END-POINT  58082.791          64189.214          11572.939  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92B                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64186.386          11575.768  1.5
    END-POINT  58082.791          64186.386          11575.768  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64186.386          11575.768  1.5
    END-POINT  58082.791          64186.386          11575.768  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92D                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58082.791          64186.239          11575.914  1.5  FL
    END-POINT  58082.791          64186.386          11575.768  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_928                 
    PIPING-SPEC S1
GASKET
    END-POINT  58082.791          64186.239          11575.914  1.5
    END-POINT  58082.791          64186.151          11576.003  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_929                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58082.791          64186.239          11575.914 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_92A                 
VALVE
    END-POINT  58082.791          64181.554          11580.599  1.5  FL
    END-POINT  58082.791          64186.151          11576.003  1.5  FL
    CENTRE-POINT   58082.791          64183.852          11578.301 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_923                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  58082.791          64181.554          11580.599  1.5
    END-POINT  58082.791          64181.466          11580.687  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_924                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58082.791          64181.554          11580.599 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_925                 
FLANGE
    END-POINT  58082.791          64181.466          11580.687  1.5  FL
    END-POINT  58082.791          64181.319          11580.834  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_920                 
    PIPING-SPEC S1
WELD
    END-POINT  58082.791          64181.319          11580.834  1.5
    END-POINT  58082.791          64181.319          11580.834  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_921                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64181.319          11580.834  1.5
    END-POINT  58082.791          64181.319          11580.834  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_922                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64173.980          11588.173  1.5  BW
    END-POINT  58082.791          64181.319          11580.834  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91Y                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64173.980          11588.173  1.5
    END-POINT  58082.791          64173.980          11588.173  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91Z                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58082.791          64173.185          11590.093  1.5  BW
    END-POINT  58082.791          64173.980          11588.173  1.5  BW
    CENTRE-POINT   58082.791          64173.185          11588.968 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91V                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58082.791          64173.185          11590.093  1.5
    END-POINT  58082.791          64173.185          11590.093  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58082.791          64173.185          11594.093  1.5  PL
    END-POINT  58082.791          64173.185          11590.093  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91S                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64173.185          11594.093  1.5
    END-POINT  58082.791          64173.185          11594.093  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91T                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58082.791          64173.185          11594.093  1.5
    END-POINT  58082.791          64173.185          11594.093  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91U                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58082.791          64173.185          11594.301  1.5  FL
    END-POINT  58082.791          64173.185          11594.093  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_91O                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  58082.791          64173.185          11594.301  1.5
    END-POINT  58082.791          64173.185          11594.426  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_95S                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58082.791          64173.185          11594.301 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_95T                 
END-POSITION-OPEN 
    CO-ORDS  58082.791          64173.185          11594.426 
MATERIALS
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
ITEM-CODE GENSTR1+1/2
    DESCRIPTION FLOW ORIFICE, FO-075-08
    RATING 150LB
ITEM-CODE BOLT1+1/2_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8 150LB RAISED FACING 4 - 1/2" X 3 1/4" MACHINE BOLT
    RATING 150LB
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION  P651 FIG 1 U-BOLT GUIDE
ITEM-CODE TEESTR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-1+1/2_1
    DESCRIPTION P629 FIG 8, W/ P651 FIG 1 U-BOLT GUIDE, L=6 3/8"
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE 45LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
