ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036023
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036023-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 1/29/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 1/29/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 1/29/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 1/29/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUE FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58090.925          63982.304          11433.682  0.75  BW
    END-POINT  58090.925          63982.304          11415.436  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0C                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          63982.304          11433.682  0.75
    END-POINT  58090.925          63982.304          11433.682  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925          63982.304          11415.436  0.75
    END-POINT  58090.925          63982.304          11415.436  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58090.925  63982.304  11413.373 
    BRANCH1-POINT  58090.925          63982.304          11415.436  0.75  BW
    SKEY WTBW
    CONTINUATION 
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G1G                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925  63982.304  11413.373 
    PIPELINE-REFERENCE ISO-PY3-2036033
ELBOW
    END-POINT  58092.050          63982.304          11434.807  0.75  BW
    END-POINT  58090.925          63982.304          11433.682  0.75  BW
    CENTRE-POINT   58090.925          63982.304          11434.807 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0A                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58092.050          63982.304          11434.807  0.75
    END-POINT  58092.050          63982.304          11434.807  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N09                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58138.925          63982.304          11434.807  0.75  BW
    END-POINT  58092.050          63982.304          11434.807  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N07                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58134.925  63982.304  11434.807  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N08                 
FLOW-ARROW
    CO-ORDS  58110.131  63982.304  11434.807 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58138.925          63982.304          11434.807  0.75
    END-POINT  58138.925          63982.304          11434.807  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N06                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58140.050          63982.304          11433.682  0.75  BW
    END-POINT  58138.925          63982.304          11434.807  0.75  BW
    CENTRE-POINT   58140.050          63982.304          11434.807 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N04                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.050  63982.304  11434.807 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58140.050  64138.748  11434.807 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58140.050          63982.304          11433.682  0.75
    END-POINT  58140.050          63982.304          11433.682  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N03                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58140.050          63982.304          11433.682  0.75  BW
    END-POINT  58140.050          63982.304          11390.120  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N02                 
    PIPING-SPEC S1
WELD
    END-POINT  58140.050          63982.304          11390.120  0.75
    END-POINT  58140.050          63982.304          11390.120  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N01                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58141.175          63982.304          11388.995  0.75  BW
    END-POINT  58140.050          63982.304          11390.120  0.75  BW
    CENTRE-POINT   58140.050          63982.304          11388.995 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZZ                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58140.050  63982.304  11388.995 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63982.304  11388.995 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58141.175          63982.304          11388.995  0.75
    END-POINT  58141.175          63982.304          11388.995  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OX5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58141.175          63982.304          11388.995  0.75  BW
    END-POINT  58174.093          63982.304          11388.995  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OX4                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58153.797  63982.304  11388.995  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P33                 
FLOOR-SYMBOL 
    CO-ORDS  58160.707  63982.304  11388.995 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58160.707  63982.304  11388.995 
    TEXT Wall Opening
    UNDIMENSIONED
WELD
    END-POINT  58174.093          63982.304          11388.995  0.75
    END-POINT  58174.093          63982.304          11388.995  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OX6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58175.218          63982.304          11387.870  0.75  BW
    END-POINT  58174.093          63982.304          11388.995  0.75  BW
    CENTRE-POINT   58175.218          63982.304          11388.995 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZS                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58175.218          63982.304          11387.870  0.75
    END-POINT  58175.218          63982.304          11387.870  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58175.218          63982.304          11387.870  0.75  BW
    END-POINT  58175.218          63982.304          11372.901  0.75  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZP                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58175.218  63982.304  11386.121 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58175.218          63982.304          11372.901  0.75
    END-POINT  58175.218          63982.304          11372.901  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58175.218          63983.429          11371.776  0.75  BW
    END-POINT  58175.218          63982.304          11372.901  0.75  BW
    CENTRE-POINT   58175.218          63982.304          11371.776 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZN                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58175.218          63983.429          11371.776  0.75
    END-POINT  58175.218          63983.429          11371.776  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58175.218          63983.429          11371.776  0.75  BW
    END-POINT  58175.218          64120.429          11371.776  0.75  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3/4
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OZK                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58175.218  64115.201  11371.776  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P36                 
SUPPORT
    CO-ORDS  58175.218  64035.274  11371.776  0.75
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-3/4_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P38                 
SOCKET-WELD
    END-POINT  58175.218          64120.429          11371.776  0.75  SW FEMALE 
    END-POINT  58175.218          64120.429          11371.776  0.75
    SKEY SW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P09                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58175.218          64122.379          11371.776  0.75  SW FEMALE 
    END-POINT  58175.218          64120.429          11371.776  0.75  SW FEMALE 
    CENTRE-POINT   58175.218          64121.404          11371.776 
    SKEY VBSW
    CONTINUATION 
    WEIGHT           1.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MZG                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
END-CONNECTION-PIPELINE 
    CO-ORDS  58175.218          64122.379          11371.776 
    PIPELINE-REFERENCE ISO-PY3-1212019
MATERIALS
ITEM-CODE PIP3/4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3/4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3/4
    DESCRIPTION GENERAL HANGER, L=10", P624 FIG 1
ITEM-CODE SUPRH-3/4_1
    DESCRIPTION GENERAL HANGER L=1'-3 1/8", P624 FIG 3
ITEM-CODE SUPRH-3/4_2
    DESCRIPTION GENERAL HANGER L=1'-7 14/16", P624 FIG 3
