ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1211004
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1211004-DM-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-011
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/8/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/22/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 5
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/2/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 SG
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 8/31/2012
    ATTRIBUTE60 DBH
    ATTRIBUTE61 KC
    ATTRIBUTE62 DD
    ATTRIBUTE63 DELETED VENT
    ATTRIBUTE64 5
    ATTRIBUTE65 10/26/2012
    ATTRIBUTE66 BM
    ATTRIBUTE67 DCD
    ATTRIBUTE68 DCK
    ATTRIBUTE69 REVISED TRACE TYPE
    ATTRIBUTE70 6
    ATTRIBUTE71 11/1/2012
    ATTRIBUTE72 CP
    ATTRIBUTE73 DD
    ATTRIBUTE74 DK
    ATTRIBUTE75 ADDED SUPPORT
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57826.317          64210.602          11980.617  3  FL
    END-POINT  57826.317          64210.602          11983.367  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9N                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57826.317          64210.602          11980.617  3
    END-POINT  57826.317          64210.602          11980.492  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9O                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.317          64210.602          11980.617 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9P                 
WELD
    END-POINT  57826.317          64210.602          11983.367  3
    END-POINT  57826.317          64210.602          11983.367  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
INSTRUMENT-3WAY
    END-POINT  57826.317          64204.102          11973.992  3  FL
    END-POINT  57826.317          64217.102          11973.992  3  FL
    END-POINT  57826.317          64210.602          11980.492  3  FL
    CENTRE-POINT   57826.317          64210.602          11973.992 
    SKEY C3FL
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5AJ                 
    TAG FV$009$04                       
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.317          64204.102          11973.992 
    PIPELINE-REFERENCE ISO-PY3-1211011
REDUCER-CONCENTRIC
    END-POINT  57826.317          64210.602          11983.367  3  BW
    END-POINT  57826.317          64210.602          11986.867  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9Q                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          64210.602          11986.867  1.5
    END-POINT  57826.317          64210.602          11986.867  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FA0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          64210.601          12023.411  1.5  BW
    END-POINT  57826.317          64210.602          11986.867  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57826.317  64210.601  12006.713 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57826.317          64210.601          12023.411  1.5
    END-POINT  57826.317          64210.601          12023.411  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9Z                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          64210.601          12023.411  1.5  BW
    END-POINT  57826.317          64208.363          12025.661  1.5  BW
    CENTRE-POINT   57826.317          64210.601          12025.649 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9U                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  57826.317          64208.363          12025.661  1.5
    END-POINT  57826.317          64208.363          12025.661  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9X                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63928.746          12027.117  1.5  BW
    END-POINT  57826.317          64208.363          12025.661  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9V                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57826.317  64105.361  12026.197 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57826.317  64138.794  12026.023  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FA8                 
SUPPORT
    CO-ORDS  57826.317  64027.799  12026.601  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IRO                 
WELD
    END-POINT  57826.317          63928.746          12027.117  1.5
    END-POINT  57826.317          63928.746          12027.117  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.317          63926.507          12029.367  1.5  BW
    END-POINT  57826.317          63928.746          12027.117  1.5  BW
    CENTRE-POINT   57826.317          63926.507          12027.129 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_F9T                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  57826.317          63926.507          12029.367  1.5
    END-POINT  57826.317          63926.507          12029.367  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FB9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.317          63926.507          12043.049  1.5  BW
    END-POINT  57826.317          63926.507          12029.367  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FB7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57826.317          63926.507          12043.049  1.5
    END-POINT  57826.317          63926.507          12043.049  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FB8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57828.567          63926.507          12045.287  1.5  BW
    END-POINT  57826.317          63926.507          12043.049  1.5  BW
    CENTRE-POINT   57826.317          63926.507          12045.299 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FAA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9030
WELD
    END-POINT  57828.567          63926.507          12045.287  1.5
    END-POINT  57828.567          63926.507          12045.287  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_IOD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57828.567          63926.507          12045.287  1.5  BW
    END-POINT  58134.800          63926.507          12043.692  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FAY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58054.808  63926.507  12044.109  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FB5                 
SUPPORT
    CO-ORDS  57910.813  63926.507  12044.859  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FBA                 
FLOW-ARROW
    CO-ORDS  57994.846  63926.507  12044.421 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58134.800          63926.507          12043.692  1.5
    END-POINT  58134.800          63926.507          12043.692  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FBW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58134.800          63926.507          12043.692  1.5  BW
    END-POINT  58137.050          63924.257          12043.669  1.5  BW
    CENTRE-POINT   58137.050          63926.507          12043.680 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FBV                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58137.050  63926.507  12043.680 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63926.507  12043.680 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58137.050  63926.507  12043.680 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58137.050  63898.800  12043.680 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58137.050          63924.257          12043.669  1.5
    END-POINT  58137.050          63924.257          12043.669  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58137.050          63924.257          12043.669  1.5  BW
    END-POINT  58137.050          63869.899          12043.385  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58137.050          63869.899          12043.385  1.5
    END-POINT  58137.050          63869.899          12043.385  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GFZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58136.254          63867.979          12043.374  1.5  BW
    END-POINT  58137.050          63869.899          12043.385  1.5  BW
    CENTRE-POINT   58137.050          63868.774          12043.380 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FBX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  58136.254          63867.979          12043.374  1.5
    END-POINT  58136.254          63867.979          12043.374  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58129.632          63861.357          12043.325  1.5  BW
    END-POINT  58136.254          63867.979          12043.374  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58129.632          63861.357          12043.325  1.5
    END-POINT  58129.632          63861.357          12043.325  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58129.632          63861.357          12043.325  1.5  BW
    END-POINT  58128.050          63859.774          12041.075  1.5  BW
    CENTRE-POINT   58128.050          63859.774          12043.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FC9                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  58128.050          63859.774          12041.075  1.5
    END-POINT  58128.050          63859.774          12041.075  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_GG0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58128.050          63859.774          11416.865  1.5  BW
    END-POINT  58128.050          63859.774          12041.075  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5M2                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58128.050  63859.774  11567.391  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_5N8                 
    TAG                         P614                            
TEE-SET-ON
    BRANCH1-POINT  58128.050          63860.724          11567.391  1.3125
    CENTRE-POINT   58128.050  63859.774  11567.391 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58128.050          63860.724          11567.391  1.3125  BW
    END-POINT  58128.050  63868.774  11567.391  1.3125  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58128.050  63868.774  11567.391 
TEE-SET-ON
    BRANCH1-POINT  58128.050          63858.824          11567.391  1.3125
    CENTRE-POINT   58128.050  63859.774  11567.391 
    SKEY TESO
PIPE
    END-POINT  58128.050          63858.824          11567.391  1.3125  BW
    END-POINT  58128.050  63850.774  11567.391  1.3125  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58128.050  63850.774  11567.391 
FLOW-ARROW
    CO-ORDS  58128.050  63859.774  12014.921 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58128.050  63859.774  11775.263  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ASJ                 
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58128.050  63859.774  11915.813  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_ASL                 
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  58128.050  63859.774  11641.900 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58128.050          63859.774          11416.865  1.5
    END-POINT  58128.050          63859.774          11416.865  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58128.050          63859.774          11416.865  1.5  BW
    END-POINT  58128.050          63862.013          11414.615  1.5  BW
    CENTRE-POINT   58128.050          63859.774          11414.627 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  58128.050          63862.013          11414.615  1.5
    END-POINT  58128.050          63862.013          11414.615  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58128.050          63862.013          11414.615  1.5  BW
    END-POINT  58128.050          63929.130          11414.266  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SUPPORT
    CO-ORDS  58128.050  63922.800  11414.299  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDR                 
FLOW-ARROW
    CO-ORDS  58128.050  63895.067  11414.443 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58128.050          63929.130          11414.266  1.5
    END-POINT  58128.050          63929.130          11414.266  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58128.050          63931.368          11412.016  1.5  BW
    END-POINT  58128.050          63929.130          11414.266  1.5  BW
    CENTRE-POINT   58128.050          63931.368          11414.254 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDI                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  58128.050          63931.368          11412.016  1.5
    END-POINT  58128.050          63931.368          11412.016  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58128.050          63931.368          11412.016  1.5  BW
    END-POINT  58128.050          63931.368          11392.435  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58128.050          63931.368          11392.435  1.5
    END-POINT  58128.050          63931.368          11392.435  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58128.050          63931.368          11392.435  1.5  BW
    END-POINT  58129.632          63929.785          11390.185  1.5  BW
    CENTRE-POINT   58128.050          63931.368          11390.196 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCU                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8970
WELD
    END-POINT  58129.632          63929.785          11390.185  1.5
    END-POINT  58129.632          63929.785          11390.185  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58133.254          63926.164          11390.158  1.5  BW
    END-POINT  58129.632          63929.785          11390.185  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58133.254          63926.164          11390.158  1.5
    END-POINT  58133.254          63926.164          11390.158  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58133.254          63926.164          11390.158  1.5  BW
    END-POINT  58135.175          63925.368          11390.146  1.5  BW
    CENTRE-POINT   58134.050          63925.368          11390.152 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCW                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  58135.175          63925.368          11390.146  1.5
    END-POINT  58135.175          63925.368          11390.146  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58173.094          63925.368          11389.949  1.5  BW
    END-POINT  58135.175          63925.368          11390.146  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD4                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOOR-SYMBOL 
    CO-ORDS  58162.780  63925.368  11390.002 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58162.780  63925.368  11390.002 
    TEXT Wall Penetration
    UNDIMENSIONED
WELD
    END-POINT  58173.094          63925.368          11389.949  1.5
    END-POINT  58173.094          63925.368          11389.949  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58175.014          63924.573          11389.937  1.5  BW
    END-POINT  58173.094          63925.368          11389.949  1.5  BW
    CENTRE-POINT   58174.219          63925.368          11389.943 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCV                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  58175.014          63924.573          11389.937  1.5
    END-POINT  58175.014          63924.573          11389.937  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58189.481          63910.106          11389.830  1.5  BW
    END-POINT  58175.014          63924.573          11389.937  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58189.481          63910.106          11389.830  1.5
    END-POINT  58189.481          63910.106          11389.830  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58191.401          63909.311          11389.819  1.5  BW
    END-POINT  58189.481          63910.106          11389.830  1.5  BW
    CENTRE-POINT   58190.276          63909.311          11389.825 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 4500
WELD
    END-POINT  58191.401          63909.311          11389.819  1.5
    END-POINT  58191.401          63909.311          11389.819  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58191.401          63909.311          11389.819  1.5  BW
    END-POINT  58269.114          63909.311          11389.357  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58225.321  63909.311  11389.642 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  58207.696  63909.311  11389.734  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FEK                 
WELD
    END-POINT  58269.114          63909.311          11389.357  1.5
    END-POINT  58269.114          63909.311          11389.357  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FD0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58271.364          63911.561          11389.333  1.5  BW
    END-POINT  58269.114          63909.311          11389.357  1.5  BW
    CENTRE-POINT   58271.364          63909.311          11389.345 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCT                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58271.364  63909.311  11389.345 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63909.311  11389.345 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58271.364  63909.311  11389.345 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58271.364  63898.800  11389.345 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58271.364          63911.561          11389.333  1.5
    END-POINT  58271.364          63911.561          11389.333  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDF                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58271.364          63915.983          11389.310  1.5  BW
    END-POINT  58271.364          63911.561          11389.333  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDD                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58271.364          63915.983          11389.310  1.5
    END-POINT  58271.364          63915.983          11389.310  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FDE                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58271.363          63918.222          11387.061  1.5  BW
    END-POINT  58271.364          63915.983          11389.310  1.5  BW
    CENTRE-POINT   58271.364          63918.221          11389.299 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FCS                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 8968
WELD
    END-POINT  58271.363          63918.222          11387.061  1.5
    END-POINT  58271.363          63918.222          11387.061  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FEJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58271.363          63918.223          11385.832  1.5  PL
    END-POINT  58271.363          63918.222          11387.061  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FEG                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58271.363          63918.223          11385.832  1.5
    END-POINT  58271.363          63918.223          11385.832  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FEH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58271.363          63918.223          11385.832  1.5
    END-POINT  58271.363          63918.223          11385.832  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FEI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58271.363          63918.223          11385.625  1.5  FL
    END-POINT  58271.363          63918.223          11385.832  1.5  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FED                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58271.363          63918.223          11385.625  1.5
    END-POINT  58271.363          63918.223          11385.500  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FEE                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58271.363          63918.223          11385.625 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FEF                 
VALVE
    END-POINT  58271.363          63918.223          11379.000  1.5  FL
    END-POINT  58271.363          63918.223          11385.500  1.5  FL
    CENTRE-POINT   58271.363          63918.223          11382.250 
    SKEY VBFL
    ERECTION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT          11.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FE7                 
    PIPING-SPEC S1
    TRACING-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  58271.363          63918.223          11379.000  1.5
    END-POINT  58271.363          63918.223          11378.875  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I66                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58271.363          63918.223          11379.000 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_I67                 
END-POSITION-OPEN 
    CO-ORDS  58271.363          63918.223          11378.875 
MATERIALS
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE REDCON3X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION ROD HANGER P624 FIG 4, L=2'-2 1/4"
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION P624 FIG. 4 (L=2'-1 1/2")
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE SUPPS-1+1/2_1
    DESCRIPTION PROTECTION SADDLE P651 FIG.1 (FIELD TO SHIM UNDER THIS SADDLE)
ITEM-CODE 45LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION TRUNNION SUPPORT P614
ITEM-CODE SUPUB-1+1/2
    DESCRIPTION U BOLT SUPPORT, P651 FIG 1
ITEM-CODE FLGSLP1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, 150LB, RF, BA-01-ST-500
    RATING 150LB
