ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1222010
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5211.DWG
    ATTRIBUTE98 PP
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1222010-PP-S1
    ATTRIBUTE95 
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-022
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 12/4/2008
    ATTRIBUTE23 D.K.
    ATTRIBUTE24 12/5/2008
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 12/9/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 R.PAPALE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 5
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 3/16/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 4/7/2009
    ATTRIBUTE54 SM
    ATTRIBUTE55 RHP
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 7/31/2009
    ATTRIBUTE60 CP
    ATTRIBUTE61 BL
    ATTRIBUTE62 DCD
    ATTRIBUTE63 REVISED AS NOTED
    ATTRIBUTE64 5
    ATTRIBUTE65 9/14/2012
    ATTRIBUTE66 DBH
    ATTRIBUTE67 KC
    ATTRIBUTE68 DD
    ATTRIBUTE69 DELETED DRAIN
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58045.764          64065.432          11395.764  3  BW
    END-POINT  58064.085          64065.432          11395.764  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7VW                 
    PIPING-SPEC S1
    CUT-PIECE-ALLOWANCE EP2 27/32"
MESSAGE
    CO-ORDS  58051.298  64065.432  11395.764 
    TEXT DUMMY LEG
    UNDIMENSIONED
WELD
    END-POINT  58045.764          64065.432          11395.764  3
    END-POINT  58045.764          64065.432          11395.764  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7VY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58064.085          64065.432          11395.764 
ELBOW
    END-POINT  58041.545          64065.432          11396.272  4  BW
    END-POINT  58047.545          64065.432          11402.272  4  BW
    CENTRE-POINT   58047.545          64065.432          11396.272 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7Q6                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
    TAP-CONNECTION EP1
    CO-ORDS  58045.764          64065.432          11395.764  3 BWTT
WELD
    END-POINT  58041.545          64065.432          11396.272  4
    END-POINT  58041.545          64065.432          11396.272  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58047.545          64065.432          11402.272  4
    END-POINT  58047.545          64065.432          11402.272  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58047.545          64065.432          11402.272  4  BW
    END-POINT  58047.545          64065.432          11670.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQY                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58047.545  64065.432  11436.106 
    FLOW 1
    SKEY FLOW
FLOOR-SYMBOL 
    CO-ORDS  58047.545  64065.432  11568.139 
    SKEY FLOR
MESSAGE
    CO-ORDS  58047.545  64065.432  11568.139 
    TEXT FLOOR PENETRATION
SUPPORT
    CO-ORDS  58047.545  64065.432  11569.131  4
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-4
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7WV                 
    TAG                         P615 FIG. 6                     
WELD
    END-POINT  58047.545          64065.432          11670.875  4
    END-POINT  58047.545          64065.432          11670.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BR0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58047.545  64065.432  11604.134  4
    END-POINT  58047.545  64065.432  11604.134  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7X2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58047.545  64065.432  11604.134 
    BRANCH1-POINT  58050.858          64065.432          11604.134  1  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1
    WEIGHT           0.500
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7X0                 
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58050.858  64065.432  11604.134 
    TEXT CONT. ON ISO-PY3-1222011-1
    UNDIMENSIONED
WELD
    END-POINT  58050.858          64065.432          11604.134  1
    END-POINT  58050.858          64065.432          11604.134  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_FHV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58050.858          64065.432          11604.134  1  BW
    END-POINT  58054.858          64065.432          11604.134  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_EHG                 
    PIPING-SPEC S1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58054.858          64065.432          11604.134 
    PIPELINE-REFERENCE ISO-PY3-1222011
ELBOW
    END-POINT  58047.545          64065.432          11670.875  4  BW
    END-POINT  58047.545          64059.432          11676.875  4  BW
    CENTRE-POINT   58047.545          64065.432          11676.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQX                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58047.545          64059.432          11676.875  4
    END-POINT  58047.545          64059.432          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BR5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58047.545          64059.432          11676.875  4  BW
    END-POINT  58047.545          63983.304          11676.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BR4                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58047.545  64024.591  11676.875  4
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BR7                 
    TAG                         P-651, FIG.1                    
SUPPORT
    CO-ORDS  58047.545  64024.586  11676.875  4
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-4
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BRI                 
WELD
    END-POINT  58047.545          63983.304          11676.875  4
    END-POINT  58047.545          63983.304          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BR6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58041.545          63977.304          11676.875  4  BW
    END-POINT  58047.545          63983.304          11676.875  4  BW
    CENTRE-POINT   58047.545          63977.304          11676.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQU                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58047.545  63977.304  11676.875 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63977.304  11676.875 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT C0L 2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58047.545  63977.304  11676.875 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58047.545  63898.800  11676.875 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX 
    MESSAGE
    TEXT COL E
WELD
    END-POINT  58041.545          63977.304          11676.875  4
    END-POINT  58041.545          63977.304          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BQW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58041.545          63977.304          11676.875  4  BW
    END-POINT  58026.667          63977.304          11676.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BIA                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58026.667          63977.304          11676.875  4
    END-POINT  58026.667          63977.304          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BIC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58018.427          63977.304          11676.875  4  BW
    END-POINT  58026.667          63977.304          11676.875  4  BW
    CENTRE-POINT   58022.547          63977.304          11676.875 
    BRANCH1-POINT  58022.547          63981.424          11676.875  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4
    WEIGHT           2.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BC9                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58018.427          63977.304          11676.875  4
    END-POINT  58018.427          63977.304          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BI9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.547          63981.424          11676.875  4
    END-POINT  58022.547          63981.424          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58022.547          63981.424          11676.875  4  BW
    END-POINT  58022.547          63987.424          11676.875  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCJ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.547          63987.424          11676.875  4
    END-POINT  58022.547          63987.424          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58022.547          63987.424          11676.875  4
    END-POINT  58022.547          63987.424          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58022.547          63987.723          11676.875  4  FL
    END-POINT  58022.547          63987.424          11676.875  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCL                 
    PIPING-SPEC S1
GASKET
    END-POINT  58022.547          63987.848          11676.875  4
    END-POINT  58022.547          63987.723          11676.875  4
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCP                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
VALVE
    END-POINT  58022.547          63987.848          11676.875  4  FL
    END-POINT  58022.547          63989.973          11676.875  4  FL
    CENTRE-POINT   58022.547          63988.911          11676.875 
    SKEY VYFL
    CONTINUATION 
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BCO                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
END-CONNECTION-PIPELINE 
    CO-ORDS  58022.547          63989.973          11676.875 
    PIPELINE-REFERENCE ISO-PY3-1222012
PIPE
    END-POINT  57982.562          63977.304          11676.875  4  BW
    END-POINT  58018.427          63977.304          11676.875  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BI7                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57982.562          63977.304          11676.875  4
    END-POINT  57982.562          63977.304          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BI8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57976.562          63983.304          11676.875  4  BW
    END-POINT  57982.562          63977.304          11676.875  4  BW
    CENTRE-POINT   57976.562          63977.304          11676.875 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BAL                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57976.562          63983.304          11676.875  4
    END-POINT  57976.562          63983.304          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BAN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57976.562          63986.304          11676.875  4  FL
    END-POINT  57976.562          63983.304          11676.875  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BA4                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57976.562          63986.304          11676.875  4
    END-POINT  57976.562          63986.429          11676.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BA5                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57976.562          63986.304          11676.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BA6                 
VALVE
    END-POINT  57976.562          63988.554          11676.875  4  FL
    END-POINT  57976.562          63986.429          11676.875  4  FL
    CENTRE-POINT   57976.562          63987.491          11676.875 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B9Y                 
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57976.562          63988.554          11676.875  4
    END-POINT  57976.562          63988.679          11676.875  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B9Z                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57976.562          63988.554          11676.875 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_BA0                 
FLANGE
    END-POINT  57976.562          63988.679          11676.875  4  FL
    END-POINT  57976.562          63991.679          11676.875  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B9W                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57976.562          63991.679          11676.875  4
    END-POINT  57976.562          63991.679          11676.875  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B9X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-ECCENTRIC
    END-POINT  57976.562          63997.179          11677.937  6  BW
    END-POINT  57976.562          63991.679          11676.875  4  BW
    SKEY REBW
    FABRICATION-ITEM
    ITEM-CODE REDECC6X4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B9T                 
    PIPING-SPEC S1
    INSULATION-ON 
    FLAT-DIRECTION DOWN
    MESSAGE
    TEXT FOB
WELD
    END-POINT  57976.562          63997.179          11677.937  6
    END-POINT  57976.562          63997.179          11677.937  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B9V                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57976.562          64000.679          11677.937  6  FL
    END-POINT  57976.562          63997.179          11677.937  6  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_B9P                 
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57976.562          64000.679          11677.937  6
    END-POINT 
** 
Processing ID: AT_FE4CY0WC_CAP  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAP                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57976.562          64000.679          11677.937 
    BOLT-DIA           0.750
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT6
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CAQ                 
END-POSITION-OPEN 
    CO-ORDS  57976.562  64000.679  11677.937 
PIPE
    END-POINT  58041.545          64065.432          11396.272  4  BW
    END-POINT  58013.024          64065.432          11396.272  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFW                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58023.384  64065.432  11396.272 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58013.024          64065.432          11396.272  4
    END-POINT  58013.024          64065.432          11396.272  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58013.024          64065.432          11396.272  4  BW
    END-POINT  58008.756          64065.432          11394.504  4  BW
    CENTRE-POINT   58010.524          64065.432          11396.272 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7Q1                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58008.756          64065.432          11394.504  4
    END-POINT  58008.756          64065.432          11394.504  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7Q4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58008.756          64065.432          11394.504  4  BW
    END-POINT  57999.756          64065.432          11385.504  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7Q3                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58004.150  64065.432  11389.898 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57999.756          64065.432          11385.504  4
    END-POINT  57999.756          64065.432          11385.504  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7Q5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57995.513          64059.432          11381.261  4  BW
    END-POINT  57999.756          64065.432          11385.504  4  BW
    CENTRE-POINT   57995.513          64065.432          11381.261 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PN                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57995.513          64059.432          11381.261  4
    END-POINT  57995.513          64059.432          11381.261  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PP                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57995.513          64047.204          11381.261  4  BW
    END-POINT  57995.513          64059.432          11381.261  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PL                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57995.513  64053.507  11381.261 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57995.513          64047.204          11381.261  4
    END-POINT  57995.513          64047.204          11381.261  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57995.513          64047.204          11381.261  4  BW
    END-POINT  57995.513          64038.964          11381.261  4  BW
    CENTRE-POINT   57995.513          64043.084          11381.261 
    BRANCH1-POINT  57995.513          64043.084          11377.141  4  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR4
    WEIGHT           2.150
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PB                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
MESSAGE
    CO-ORDS  57995.513  64047.204  11381.261 
    TEXT END OF 65TW TRACING
    UNDIMENSIONED
WELD
    END-POINT  57995.513          64038.964          11381.261  4
    END-POINT  57995.513          64038.964          11381.261  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.513          64043.084          11377.141  4
    END-POINT  57995.513          64043.084          11377.141  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFN                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57995.513          64043.084          11344.465  4  PL
    END-POINT  57995.513          64043.084          11377.141  4  BW
    CONTINUATION 
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57995.513  64043.084  11358.195 
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  57995.513          64043.084          11344.465 
    PIPELINE-REFERENCE ISO-PY3-1222009
PIPE
    END-POINT  57995.513          64010.084          11381.261  4  BW
    END-POINT  57995.513          64038.964          11381.261  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PH                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57995.513  64028.512  11381.261 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57995.513          64010.084          11381.261  4
    END-POINT  57995.513          64010.084          11381.261  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7PI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57995.513          64004.084          11375.261  4  BW
    END-POINT  57995.513          64010.084          11381.261  4  BW
    CENTRE-POINT   57995.513          64004.084          11381.261 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7OK                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57995.513          64004.084          11375.261  4
    END-POINT  57995.513          64004.084          11375.261  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57995.513          64004.084          11344.465  4  PL
    END-POINT  57995.513          64004.084          11375.261  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFO                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  57995.513  64004.084  11359.436 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57995.513          64004.084          11344.465  4
    END-POINT  57995.513          64004.084          11344.465  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.513          64004.084          11344.465  4
    END-POINT  57995.513          64004.084          11344.465  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57995.513          64004.084          11344.165  4  FL
    END-POINT  57995.513          64004.084          11344.465  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFC                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  57995.513          64004.084          11344.165  4
    END-POINT  57995.513          64004.084          11344.040  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFD                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57995.513          64004.084          11344.165 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           1.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFE                 
VALVE
    END-POINT  57995.513          64004.084          11341.915  4  FL
    END-POINT  57995.513          64004.084          11344.040  4  FL
    CENTRE-POINT   57995.513          64004.084          11342.978 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY4
    WEIGHT          26.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7MJ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  WEST
GASKET
    END-POINT  57995.513          64004.084          11341.790  4
    END-POINT  57995.513          64004.084          11341.915  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AF6                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57995.513          64004.084          11341.790 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG4_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AF7                 
FLANGE
    END-POINT  57995.513          64004.084          11341.790  4  FL
    END-POINT  57995.513          64004.084          11341.491  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AF5                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57995.513          64004.084          11341.491  4
    END-POINT  57995.513          64004.084          11341.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AF9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57995.513          64004.084          11341.491  4
    END-POINT  57995.513          64004.084          11341.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57995.513          64004.084          11341.491  4  PL
    END-POINT  57995.513          64004.084          11337.491  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AF8                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  57995.513          64004.084          11337.491  4
    END-POINT  57995.513          64004.084          11337.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AFB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57999.756          63999.842          11331.491  4  BW
    END-POINT  57995.513          64004.084          11337.491  4  BW
    CENTRE-POINT   57995.513          64004.084          11331.491 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7LX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
WELD
    END-POINT  57999.756          63999.842          11331.491  4
    END-POINT  57999.756          63999.842          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9V                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57999.756          63999.842          11331.491  4  BW
    END-POINT  58003.999          63995.599          11331.491  4  PL
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9U                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58003.999          63995.599          11331.491  4
    END-POINT  58003.999          63995.599          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9W                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58003.999          63995.599          11331.491  4
    END-POINT  58003.999          63995.599          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C9X                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58004.210          63995.387          11331.491  4  FL
    END-POINT  58003.999          63995.599          11331.491  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEX                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58004.210          63995.387          11331.491  4
    END-POINT  58004.299          63995.299          11331.491  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEY                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58004.210          63995.387          11331.491 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEZ                 
VALVE
    END-POINT  58012.431          63987.167          11331.491  4  FL
    END-POINT  58004.299          63995.299          11331.491  4  FL
    CENTRE-POINT   58008.365          63991.233          11331.491 
    SKEY CKFL
    ERECTION-ITEM
    ITEM-CODE VALVCHK4
    WEIGHT          72.900
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7LI                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58012.519          63987.079          11331.491  4
    END-POINT  58012.431          63987.167          11331.491  4
    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AER                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58012.519          63987.079          11331.491 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AES                 
FLANGE
    END-POINT  58012.519          63987.079          11331.491  4  FL
    END-POINT  58012.731          63986.867          11331.491  4  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEQ                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58012.731          63986.867          11331.491  4
    END-POINT  58012.731          63986.867          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58012.731          63986.867          11331.491  4
    END-POINT  58012.731          63986.867          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58012.731          63986.867          11331.491  4  PL
    END-POINT  58015.559          63984.039          11331.491  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AET                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58015.559          63984.039          11331.491  4
    END-POINT  58015.559          63984.039          11331.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEW                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58019.802          63979.796          11325.491  4  BW
    END-POINT  58015.559          63984.039          11331.491  4  BW
    CENTRE-POINT   58019.802          63979.796          11331.491 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7L0                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58019.802  63979.796  11331.491 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58019.802  63898.800  11331.491 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL. E
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58019.802  63979.796  11331.491 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  63979.796  11331.491 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58019.802          63979.796          11325.491  4
    END-POINT  58019.802          63979.796          11325.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58019.802          63979.796          11316.431  4  BW
    END-POINT  58019.802          63979.796          11325.491  4  BW
    FABRICATION-ITEM
    ITEM-CODE PIP4
    WEIGHT           5.610
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEA                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
FLOW-ARROW
    CO-ORDS  58019.802  63979.796  11319.557 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58019.802          63979.796          11316.431  4
    END-POINT  58019.802          63979.796          11316.431  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58019.802  63979.796  11321.491  4
    END-POINT  58019.802  63979.796  11321.491  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEK                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58019.802  63979.796  11321.491 
    BRANCH1-POINT  58019.802          63976.796          11321.491  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL4X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEI                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58019.802          63976.796          11321.491  0.5
    END-POINT  58019.802          63976.796          11321.491  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEM                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58019.802          63976.796          11321.491  0.5  BW
    END-POINT  58019.802          63973.386          11321.491  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEL                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
SOCKET-WELD
    END-POINT  58019.802          63973.386          11321.491  0.5
    END-POINT  58019.802          63973.386          11321.491  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AEN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58019.802          63973.386          11321.491  0.5  SW FEMALE 
    END-POINT  58019.802          63971.706          11321.491  0.5  SW FEMALE 
    CENTRE-POINT   58019.802          63972.501          11321.491 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_7XH                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  58019.802          63971.706          11321.491  0.5
    END-POINT  58019.802          63971.706          11321.491  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C76                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58019.802          63971.706          11321.491  0.5  PL
    END-POINT  58019.802          63968.706          11321.491  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_C75                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
MESSAGE-CIRCLE
    CO-ORDS  58019.802  63969.206  11321.491 
    TEXT PI$059$02
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58019.802          63968.706          11321.491 
REDUCER-CONCENTRIC
    END-POINT  58019.802          63979.796          11316.431  4  BW
    END-POINT  58019.802          63979.796          11312.431  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AE7                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
WELD
    END-POINT  58019.802          63979.796          11312.431  1.5
    END-POINT  58019.802          63979.796          11312.431  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AE8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  58019.802          63979.796          11309.991  1.5  FL
    END-POINT  58019.802          63979.796          11312.431  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_AE3                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
GASKET
    END-POINT  58019.802          63979.796          11309.991  1.5
    END-POINT  58019.802          63979.796          11309.866  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CA1                 
    PIPING-SPEC S1
    INSULATION-ON 
    TRACING-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58019.802          63979.796          11309.991 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_CA2                 
NOZZLE
    CO-ORDS  58019.802          63979.796          11309.866  1.5  FL
    CONNECTION-REFERENCE
MESSAGE
    CO-ORDS  58019.802          63979.796          11309.866 
    TEXT PY3-059$NOZZLE TAG PY3-059-DISCHARGE$RATING 150LB$FACING RF
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION DUMMY LEG SUPPORT P628, FIG.3
    RATING 10S
ITEM-CODE 90LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP4
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPRH-4
    DESCRIPTION RISER CLAMP P615 FIG. 6
ITEM-CODE WOL4X1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE SUPUB-4
    DESCRIPTION P-651, FIG. 1
ITEM-CODE SUPAG-4
    DESCRIPTION P629, FIG. 10 L = 3' 6 1/2"
ITEM-CODE TEESTR4
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGSLP4
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLTLUG4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 3/4 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY4
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG4_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE REDECC6X4
    CATALOG ANSI B16.9
    DESCRIPTION ECCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK6
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS6
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT6
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 3/4 X 3 1/4  MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE 45LLR4
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE BOLT4
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCHK4
    CATALOG CYTEC VALVE
    DESCRIPTION CHECK VALVE, 150LB, RF, CS-01-ST-500
    RATING 150LB
ITEM-CODE WOL4X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE REDCON4X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2 X 2 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
