ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217017
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3SC_5212.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1217017-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/9/2009
    ATTRIBUTE23 DK
    ATTRIBUTE24 3/12/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/1/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/7/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/7/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/7/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/7/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57841.861          64231.681          11329.279  3  PL
    END-POINT  57841.861          64231.681          11323.279  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HQ                  
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE
    CO-ORDS  57841.861  64231.681  11323.279 
    TEXT OPEN TO DRAIN$INTO 55 GAL. DRUM
    UNDIMENSIONED
WELD
    END-POINT  57841.861          64231.681          11329.279  3
    END-POINT  57841.861          64231.681          11329.279  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HR                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57841.861          64231.681          11329.279  3
    END-POINT  57841.861          64231.681          11329.279  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HS                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57841.861          64231.681          11323.279 
FLANGE
    END-POINT  57841.861          64231.681          11329.558  3  FL
    END-POINT  57841.861          64231.681          11329.279  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HN                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57841.861          64231.681          11329.558  3
    END-POINT  57841.861          64231.681          11329.683  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HO                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57841.861          64231.681          11329.558 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HP                  
VALVE
    END-POINT  57841.861          64231.681          11331.558  3  FL
    END-POINT  57841.861          64231.681          11329.683  3  FL
    CENTRE-POINT   57841.861          64231.681          11330.620 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HH                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  57841.861          64231.681          11331.558  3
    END-POINT  57841.861          64231.681          11331.683  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HI                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57841.861          64231.681          11331.558 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3_1
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HJ                  
FLANGE
    END-POINT  57841.861          64231.681          11331.683  3  FL
    END-POINT  57841.861          64231.681          11334.433  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HF                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57841.861          64231.681          11334.433  3
    END-POINT  57841.861          64231.681          11334.433  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HG                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57841.861          64231.681          11334.433  3  BW
    END-POINT  57841.861          64231.681          11341.192  3  BW
    CENTRE-POINT   57841.861          64231.681          11337.813 
    BRANCH1-POINT  57845.241          64231.681          11337.813  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DZ                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57841.861          64231.681          11341.192  3
    END-POINT  57841.861          64231.681          11341.192  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DY                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57845.241          64231.681          11337.813  3
    END-POINT  57845.241          64231.681          11337.813  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_E1                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57845.241          64231.681          11337.813  3  BW
    END-POINT  57887.964          64231.681          11337.813  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_E2                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57854.594  64231.681  11337.813  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HD                  
FLOW-ARROW
    CO-ORDS  57870.951  64231.681  11337.813 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57887.964          64231.681          11337.813  3
    END-POINT  57887.964          64231.681          11337.813  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_E4                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57892.464          64231.681          11342.313  3  BW
    END-POINT  57887.964          64231.681          11337.813  3  BW
    CENTRE-POINT   57892.464          64231.681          11337.813 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_E5                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57892.464          64231.681          11342.313  3
    END-POINT  57892.464          64231.681          11342.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_W2                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57892.464          64231.681          11346.000  3  BW
    END-POINT  57892.464          64231.681          11342.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_W0                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57892.464          64231.681          11346.000  3
    END-POINT  57892.464          64231.681          11346.000  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_W1                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57892.464          64231.681          11346.000  3  BW
    END-POINT  57895.646          64234.863          11350.500  3  BW
    CENTRE-POINT   57892.464          64231.681          11350.500 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_E9                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57895.646          64234.863          11350.500  3
    END-POINT  57895.646          64234.863          11350.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_EA                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57895.646          64234.863          11350.500  3  BW
    END-POINT  57912.201          64251.417          11350.500  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_EB                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57912.201          64251.417          11350.500  3
    END-POINT  57912.201          64251.417          11350.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_EC                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57912.201          64251.417          11350.500  3  BW
    END-POINT  57914.676          64253.892          11350.500  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_ED                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57914.676          64253.892          11350.500  2
    END-POINT  57914.676          64253.892          11350.500  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_EE                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57916.444          64255.660          11350.500  2  FL
    END-POINT  57914.676          64253.892          11350.500  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_EF                  
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-ROUND
    CO-ORDS  57916.444  64255.660  11350.500 
    TEXT SP-034
    UNDIMENSIONED
GASKET
    END-POINT  57916.532          64255.749          11350.500  2
    END-POINT  57916.444          64255.660          11350.500  2
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_GV                  
    PIPING-SPEC S1
    GASKET-RATING 150LB          
FLANGE
    END-POINT  57916.532          64255.749          11350.500  2  FL
    END-POINT  57916.685          64255.902          11350.500  2  BW
    SKEY FLSO
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_GU                  
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  57916.685          64255.902          11350.500 
    PIPELINE-REFERENCE ISO-PY3-1215004-C
FLANGE
    END-POINT  57841.861          64231.681          11343.942  3  FL
    END-POINT  57841.861          64231.681          11341.192  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DX                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57841.861          64231.681          11344.067  3
    END-POINT  57841.861          64231.681          11343.942  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DV                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57841.861          64231.681          11343.942 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DW                  
VALVE
    END-POINT  57841.861          64231.681          11344.067  3  FL
    END-POINT  57841.861          64231.681          11345.942  3  FL
    CENTRE-POINT   57841.861          64231.681          11345.005 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DT                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  SOUTH
GASKET
    END-POINT  57841.861          64231.681          11346.067  3
    END-POINT  57841.861          64231.681          11345.942  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HV                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57841.861          64231.681          11346.067 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HW                  
FLANGE
    END-POINT  57841.861          64231.681          11346.067  3  FL
    END-POINT  57841.861          64231.681          11348.817  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HU                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57841.861          64231.681          11348.817  3
    END-POINT  57841.861          64231.681          11348.817  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HX                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57838.679          64228.499          11353.317  3  BW
    END-POINT  57841.861          64231.681          11348.817  3  BW
    CENTRE-POINT   57841.861          64231.681          11353.317 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DL                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57838.679          64228.499          11353.317  3
    END-POINT  57838.679          64228.499          11353.317  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DK                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57838.679          64228.499          11353.317  3  BW
    END-POINT  57827.770          64217.590          11353.317  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DJ                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57827.770          64217.590          11353.317  3
    END-POINT  57827.770          64217.590          11353.317  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DI                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57827.770          64217.590          11353.317  3  BW
    END-POINT  57826.356          64214.176          11353.317  3  BW
    CENTRE-POINT   57826.356          64216.176          11353.317 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_DH                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.356  64216.176  11353.317 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64216.176  11353.317 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.356  64216.176  11353.317 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57826.356  64138.917  11353.317 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57826.356          64214.176          11353.317  3
    END-POINT  57826.356          64214.176          11353.317  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_IA                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.356          64214.176          11353.317  3  BW
    END-POINT  57826.356          64156.607          11353.313  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I9                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57826.356  64191.587  11353.316 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57826.356          64156.607          11353.313  3
    END-POINT  57826.356          64156.607          11353.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_IB                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.356          64156.607          11353.313  3
    END-POINT  57826.356          64156.607          11353.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_IC                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57826.356          64156.329          11353.313  3  FL
    END-POINT  57826.356          64156.607          11353.313  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I6                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57826.356          64156.329          11353.313  3
    END-POINT  57826.356          64156.204          11353.313  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I7                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.356          64156.329          11353.313 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I8                  
VALVE
    END-POINT  57826.356          64146.704          11353.313  3  FL
    END-POINT  57826.356          64156.204          11353.313  3  FL
    CENTRE-POINT   57826.356          64151.454          11353.313 
    SKEY VGFL
    ERECTION-ITEM
    ITEM-CODE VALVGLB3
    WEIGHT          86.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I1                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
GASKET
    END-POINT  57826.356          64146.704          11353.313  3
    END-POINT  57826.356          64146.579          11353.313  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I2                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57826.356          64146.704          11353.313 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I3                  
FLANGE
    END-POINT  57826.356          64146.579          11353.313  3  FL
    END-POINT  57826.356          64146.300          11353.313  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HY                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.356          64146.300          11353.313  3
    END-POINT  57826.356          64146.300          11353.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_HZ                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.356          64146.300          11353.313  3
    END-POINT  57826.356          64146.300          11353.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_I0                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.356          64131.300          11353.313  3  BW
    END-POINT  57826.356          64146.300          11353.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_CJ                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57826.356  64138.375  11353.313  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_K3                  
WELD
    END-POINT  57826.356          64131.300          11353.313  3
    END-POINT  57826.356          64131.300          11353.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_A6                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57826.356          64131.300          11353.313  3  BW
    END-POINT  57826.356          64124.540          11353.313  3  BW
    CENTRE-POINT   57826.356          64127.920          11353.313 
    BRANCH1-POINT  57826.356          64127.920          11356.692  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_A5                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57826.356          64124.540          11353.313  3
    END-POINT  57826.356          64124.540          11353.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_JV                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.356          64127.920          11356.692  3
    END-POINT  57826.356          64127.920          11356.692  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_A7                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
FLANGE
    END-POINT  57826.356          64127.920          11359.442  3  FL
    END-POINT  57826.356          64127.920          11356.692  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_A8                  
    PIPING-SPEC S1
    INSULATION-ON 
GASKET
    END-POINT  57826.356          64127.920          11359.442  3
    END-POINT  57826.356          64127.920          11359.567  3
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_A9                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
VALVE
    END-POINT  57826.356          64127.920          11359.567  3  FL
    END-POINT  57826.356          64127.920          11369.067  3  FL
    CENTRE-POINT   57826.356          64127.920          11364.317 
    SKEY VGFL
    CONTINUATION 
    WEIGHT          86.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_AB                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  EAST
END-CONNECTION-PIPELINE 
    CO-ORDS  57826.356          64127.920          11369.067 
    PIPELINE-REFERENCE ISO-PY3-1217018
PIPE
    END-POINT  57826.356          64124.540          11353.313  3  BW
    END-POINT  57826.356          64112.955          11353.313  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_JU                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.356          64112.955          11353.313  3
    END-POINT  57826.356          64112.955          11353.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_JW                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57826.356          64108.455          11357.813  3  BW
    END-POINT  57826.356          64112.955          11353.312  3  BW
    CENTRE-POINT   57826.356          64108.455          11353.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_IW                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57826.356          64108.455          11357.813  3
    END-POINT  57826.356          64108.455          11357.813  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_IZ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57826.356          64108.455          11357.813  3  BW
    END-POINT  57826.356          64108.455          11362.282  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_IY                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57826.356          64108.455          11362.282  3
    END-POINT  57826.356          64108.455          11362.282  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_J0                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57830.856          64108.455          11366.782  3  BW
    END-POINT  57826.356          64108.455          11362.282  3  BW
    CENTRE-POINT   57826.356          64108.455          11366.782 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_IT                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.356  64108.455  11366.782 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64108.455  11366.782 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57826.356  64108.455  11366.782 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57826.356  64138.748  11366.782 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57830.856          64108.455          11366.782  3
    END-POINT  57830.856          64108.455          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_JY                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57830.856          64108.455          11366.782  3  BW
    END-POINT  57860.547          64108.455          11366.782  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_JX                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57844.647  64108.455  11366.782 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57860.547          64108.455          11366.782  3
    END-POINT  57860.547          64108.455          11366.782  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FMJ8A5CB_K5                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57863.927          64105.075          11366.782  3  BW
    END-POINT  57863.927          64111.835          11366.782  3  BW
    CENTRE-POINT   57863.927          64108.455          11366.782 
    BRANCH1-POINT  57860.547          64108.455          11366.782  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4CY0WC_A3R                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57863.927          64105.075          11366.782 
    PIPELINE-REFERENCE ISO-PY3-1217009
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 1 1/2 MACHINE BOLT
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LUG, 150LB, RF, BF-01-ST-500
    RATING 150LB
ITEM-CODE BOLTLUG3_1
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 MACHINE BOLT
    RATING 150LB
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE TEESTR3
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-3
    DESCRIPTION P630, FIG 9, L= 1'-8 1/8", W/ P651, FIG 1
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON3X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVGLB3
    CATALOG CYTEC VALVE
    DESCRIPTION GLOBE VALVE, 150LB, RF, GL-01-ST-500
    RATING 150LB
ITEM-CODE SUPUB-3_1
    DESCRIPTION P630, FIG 8, L= 5 1/2", W/ P651, FIG 1
