ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1221003
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 20TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1221003-20TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R. SINGH
    ATTRIBUTE22 3/2/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/2/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/2/2009
    ATTRIBUTE29 J. PHILLIPI
    ATTRIBUTE30 3/2/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/2/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR CONSTRUCTION
    ATTRIBUTE46 2
    ATTRIBUTE47 3/2/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 8/31/2012
    ATTRIBUTE54 DBH
    ATTRIBUTE55 KC
    ATTRIBUTE56 DD
    ATTRIBUTE57 DELETED VENT
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  57899.143          63932.009          11410.628  3  BW
    END-POINT  57899.143          63932.009          11401.130  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWO                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57899.143          63932.009          11410.628  3
    END-POINT  57899.143          63932.009          11410.628  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWP                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57899.143          63932.009          11401.130  3
    END-POINT  57899.143          63932.009          11401.130  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  57895.023          63932.009          11397.250  4  BW
    END-POINT  57903.263          63932.009          11397.250  4  BW
    CENTRE-POINT   57899.143          63932.009          11397.250 
    BRANCH1-POINT  57899.143          63932.009          11401.130  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWL                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57895.023          63932.009          11397.250 
    PIPELINE-REFERENCE ISO-PY3-1221001
ELBOW
    END-POINT  57899.143          63936.509          11415.128  3  BW
    END-POINT  57899.143          63932.009          11410.628  3  BW
    CENTRE-POINT   57899.143          63932.009          11415.128 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWQ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57899.143          63936.509          11415.128  3
    END-POINT  57899.143          63936.509          11415.128  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWR                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57899.143          63936.509          11415.128  3  BW
    END-POINT  57899.143          64046.033          11415.128  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWS                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57899.143  63984.731  11415.128 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57899.143  64041.926  11415.128  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWU                 
WELD
    END-POINT  57899.143          64046.033          11415.128  3
    END-POINT  57899.143          64046.033          11415.128  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57899.143          64046.033          11415.128  3  BW
    END-POINT  57899.143          64050.533          11419.628  3  BW
    CENTRE-POINT   57899.143          64050.533          11415.128 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57899.143          64050.533          11419.628  3
    END-POINT  57899.143          64050.533          11419.628  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57899.143          64050.533          11419.628  3  BW
    END-POINT  57899.143          64050.533          11429.253  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWY                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57899.143          64050.533          11429.253  3
    END-POINT  57899.143          64050.533          11429.253  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EWZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57903.039          64052.785          11433.753  3  BW
    END-POINT  57899.143          64050.533          11429.253  3  BW
    CENTRE-POINT   57899.143          64050.533          11433.753 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EX0                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57899.143  64050.533  11433.753 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64050.533  11433.753 
    REFERENCED-ITEM
    ITEM-DIRECTION 3
    SKEY 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57903.039          64052.785          11433.753  3
    END-POINT  57903.039          64052.785          11433.753  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EX2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57903.039          64052.785          11433.753  3  BW
    END-POINT  57927.904          64067.157          11433.753  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EX3                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57927.904          64067.157          11433.753  3
    END-POINT  57927.904          64067.157          11433.753  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EX4                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57931.800          64069.409          11438.253  3  BW
    END-POINT  57927.904          64067.157          11433.753  3  BW
    CENTRE-POINT   57931.800          64069.409          11433.753 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EX5                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57931.800  64069.409  11433.753 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57931.800  64138.800  11433.753 
    REFERENCED-ITEM
    ITEM-DIRECTION 3
    SKEY 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57931.800          64069.409          11438.253  3
    END-POINT  57931.800          64069.409          11438.253  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EX7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57931.800          64069.409          11438.253  3  BW
    END-POINT  57931.800          64069.409          11600.081  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EX8                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57931.800  64069.409  11513.355 
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS  57931.800  64069.409  11571.000  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXB                 
FLOOR-SYMBOL 
    CO-ORDS  57931.800  64069.409  11563.800 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57931.800  64069.409  11563.800 
    TEXT Grate Opening
    UNDIMENSIONED
WELD
    END-POINT  57931.800          64069.409          11600.081  3
    END-POINT  57931.800          64069.409          11600.081  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57931.800          64069.409          11600.081  3
    END-POINT  57931.800          64069.409          11600.081  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57931.800  64069.409  11594.081  3
    END-POINT  57931.800  64069.409  11594.081  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXF                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      57931.800  64069.409  11594.081 
    BRANCH1-POINT  57930.121          64067.730          11594.081  1  SC FEMALE 
    SKEY THSC
    FABRICATION-ITEM
    ITEM-CODE TOL3X1
    WEIGHT           0.620
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXG                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  57930.121          64067.730          11594.081  1  SC FEMALE 
    END-POINT  57930.121          64067.730          11594.081  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GAE                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  57920.892          64058.501          11594.081  1  SC MALE 
    END-POINT  57930.121          64067.730          11594.081  1  SC MALE 
    CONTINUATION 
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AXH                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57924.863  64062.472  11594.081 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57923.332  64060.941  11594.081  1
    SKEY DUCK
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AXJ                 
END-CONNECTION-PIPELINE 
    CO-ORDS  57920.892          64058.501          11594.081 
    PIPELINE-REFERENCE ISO-PY3-1213022
FLANGE
    END-POINT  57931.800          64069.409          11600.359  3  FL
    END-POINT  57931.800          64069.409          11600.081  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXI                 
    PIPING-SPEC C1
    INSULATION-ON 
BOLT
    CO-ORDS  57931.800          64069.409          11600.359 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXJ                 
VALVE
    END-POINT  57931.800          64069.409          11602.172  3  FL
    END-POINT  57931.800          64069.409          11600.359  3  FL
    CENTRE-POINT   57931.800          64069.409          11601.265 
    SKEY VYFL
    ERECTION-ITEM
    ITEM-CODE VALVBFY3
    WEIGHT          15.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXK                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
BOLT
    CO-ORDS  57931.800          64069.409          11602.172 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           1.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLTLUG3
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXM                 
FLANGE
    END-POINT  57931.800          64069.409          11602.172  3  FL
    END-POINT  57931.800          64069.409          11604.922  3  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXN                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57931.800          64069.409          11604.922  3
    END-POINT  57931.800          64069.409          11604.922  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57931.800          64070.823          11608.336  3  BW
    END-POINT  57931.800          64069.409          11604.922  3  BW
    CENTRE-POINT   57931.800          64069.409          11606.922 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXP                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57931.800          64070.823          11608.336  3
    END-POINT  57931.800          64070.823          11608.336  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXQ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57931.800          64072.238          11611.750  3  BW
    END-POINT  57931.800          64070.823          11608.336  3  BW
    CENTRE-POINT   57931.800          64072.238          11609.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXR                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57931.800          64072.238          11611.750  3
    END-POINT  57931.800          64072.238          11611.750  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXS                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57931.800          64072.238          11615.750  4  BW
    END-POINT  57931.800          64072.238          11611.750  3  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON4X3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EXT                 
    PIPING-SPEC C1
    INSULATION-ON 
WELD
    END-POINT  57931.800          64072.238          11615.750  4
    END-POINT  57931.800          64072.238          11615.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GA0                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  57931.800          64066.238          11621.750  4  BW
    END-POINT  57931.800          64072.238          11615.750  4  BW
    CENTRE-POINT   57931.800          64072.238          11621.750 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G9X                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57931.800          64066.238          11621.750  4
    END-POINT  57931.800          64066.238          11621.750  4
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G9Z                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC C1
    INSULATION-ON 
FLANGE
    END-POINT  57931.800          64063.238          11621.750  4  FL
    END-POINT  57931.800          64066.238          11621.750  4  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EY7                 
    PIPING-SPEC C1
    INSULATION-ON 
GASKET
    END-POINT  57931.800          64063.238          11621.750  4
    END-POINT 
** 
Processing ID: AT_IEIKWTE0_GAG  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GAG                 
    PIPING-SPEC C1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57931.800          64063.238          11621.750 
    BOLT-DIA           0.625
    BOLT-QUANTITY               8
    BOLT-LENGTH           3.000
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT4
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_GAH                 
END-POSITION-OPEN 
    CO-ORDS  57931.800  64063.238  11621.750 
MATERIALS
ITEM-CODE PIP3
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, ERW
    RATING 40
ITEM-CODE 90LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPUB-3
    DESCRIPTION PROTECTION SHIELD, P651 FIG 1
ITEM-CODE SUPRH-3
    DESCRIPTION RISER CLAMP, P615 FIG 1
ITEM-CODE TOL3X1
    CATALOG MSS SP-97
    DESCRIPTION THREADOLET, 3000LB, ASTM A105, MSS SP-97
    RATING 3000LB
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, FF, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE BOLTLUG3
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 1 1/2 MACHINE BOLTS
    RATING 150LB
ITEM-CODE VALVBFY3
    CATALOG CYTEC VALVE
    DESCRIPTION BUTTERFLY VALVE, LGL, 150LB, FF, BF-01-DC-701
    RATING 150LB
ITEM-CODE FLGWNK3
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, FF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE 45LLR3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE REDCON4X3
    CATALOG ASME/ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE 90LLR4
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 90 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE FLGWNK4
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 40 BORE, ASTM A105, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS4
    CATALOG ASME B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.0625" THK, GARLOCK BLUE-GARD STYLE 3700, ASME B16.21
    RATING 150LB
ITEM-CODE BOLT4
    CATALOG ASTM A 307 GR B
    DESCRIPTION ASTM A 307 GR B, 5/8 X 3 MACHINE BOLTS w/HH NUTS ASTM A 194 CL 2
    RATING 150LB
