ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1320037-J
PIPING-SPEC S5J
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5014_JACKET.DWG
    ATTRIBUTE98 PMJ
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1320037-J-PMJ-S5J
    ATTRIBUTE95 I1
    ATTRIBUTE94 S5J
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-020
    ATTRIBUTE21 OUTLAW
    ATTRIBUTE22 1/29/2009
    ATTRIBUTE23 DCK
    ATTRIBUTE24 4/2/2009
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/7/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 4/10/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 4/10/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 4/10/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/10/2009
    ATTRIBUTE36 JEO
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57160.941          64252.359          11503.312  3  FL
    END-POINT  57157.441          64252.359          11503.312  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9Z3                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57160.941  64252.359  11503.312 
    TEXT ISO-SP3-1320037-C-1$AT SP3-004-CO NOZZ N2
    UNDIMENSIONED
WELD
    END-POINT  57157.441          64252.359          11503.312  3
    END-POINT  57157.441          64252.359          11503.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9Z4                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57160.941          64252.359          11503.312 
PIPE
    END-POINT  57156.441          64252.359          11503.312  3  BW
    END-POINT  57157.441          64252.359          11503.312  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9EF                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57157.441  64252.359  11503.312 
    TEXT 1 1/2"%%c JUMPER, TYPE 2$SEE DETAIL 6 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57156.441          64252.359          11503.312  3
    END-POINT  57156.441          64252.359          11503.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_A0D                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57152.941          64252.359          11503.312  6  BW
    END-POINT  57156.441          64252.359          11503.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZW                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57156.441          64252.359          11503.312  3  BW
WELD
    END-POINT  57152.941          64252.359          11503.312  6
    END-POINT  57152.941          64252.359          11503.312  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZX                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57060.516          64252.359          11503.312  6  BW
    END-POINT  57152.941          64252.359          11503.312  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9S3                 
    PIPING-SPEC S5J
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57117.308  64252.359  11503.312 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  57140.941  64252.359  11503.312  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AGA                 
SUPPORT
    CO-ORDS  57140.941  64252.359  11499.312  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJ6                 
    TAG                         P629 FIG. 9                     
SUPPORT
    CO-ORDS  57140.941  64246.922  11487.000  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR6
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJ9                 
    TAG                         P629 FIG. 9                     
WELD
    END-POINT  57060.516          64252.359          11503.312  6
    END-POINT  57060.516          64252.359          11503.312  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJN                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57060.516          64252.359          11503.312  6  BW
    END-POINT  57057.016          64252.359          11503.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZY                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57057.016          64252.359          11503.312  3  BW
WELD
    END-POINT  57057.016          64252.359          11503.312  3
    END-POINT  57057.016          64252.359          11503.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AK9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57047.891          64252.359          11503.312  3  BW
    END-POINT  57057.016          64252.359          11503.312  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9EB                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57052.453  64252.359  11503.312 
    TEXT 1 1/2"%%c JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57047.891          64252.359          11503.312  3
    END-POINT  57047.891          64252.359          11503.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJR                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57044.391          64252.359          11503.312  6  BW
    END-POINT  57047.891          64252.359          11503.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZS                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57047.891          64252.359          11503.312  3  BW
WELD
    END-POINT  57044.391          64252.359          11503.312  6
    END-POINT  57044.391          64252.359          11503.312  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJI                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
ELBOW
    END-POINT  57037.989          64255.011          11503.312  6  BW
    END-POINT  57044.391          64252.359          11503.312  6  BW
    CENTRE-POINT   57040.641          64252.359          11503.312 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_64R                 
    PIPING-SPEC S5J
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57037.989          64255.011          11503.312  6
    END-POINT  57037.989          64255.011          11503.312  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJJ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57037.989          64255.011          11503.312  6  BW
    END-POINT  57035.514          64257.486          11503.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZU                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57035.514          64257.486          11503.312  3  BW
WELD
    END-POINT  57035.514          64257.486          11503.312  3
    END-POINT  57035.514          64257.486          11503.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AK7                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  57029.053          64263.942          11503.313  3  BW
    END-POINT  57035.514          64257.486          11503.312  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9E8                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  57032.284  64260.714  11503.312 
    TEXT 1 1/2"%%c JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  57029.053          64263.942          11503.313  3
    END-POINT  57029.053          64263.942          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJV                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  57026.578          64266.417          11503.313  6  BW
    END-POINT  57029.053          64263.942          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZQ                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     57029.053          64263.942          11503.313  3  BW
WELD
    END-POINT  57026.578          64266.417          11503.313  6
    END-POINT  57026.578          64266.417          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  56982.945          64310.050          11503.313  6  BW
    END-POINT  57026.578          64266.417          11503.313  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_64U                 
    PIPING-SPEC S5J
    INSULATION-ON 
SUPPORT
    CO-ORDS  56987.780  64305.215  11503.313  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPTS-6_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AI6                 
SUPPORT
    CO-ORDS  56987.804  64311.933  11499.313  6
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR6
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJC                 
    TAG                         P629 FIG. 9                     
WELD
    END-POINT  56982.945          64310.050          11503.313  6
    END-POINT  56982.945          64310.050          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZO                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  56982.945          64310.050          11503.313  6  BW
    END-POINT  56980.470          64312.525          11503.313  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZN                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     56980.470          64312.525          11503.313  3  BW
WELD
    END-POINT  56980.470          64312.525          11503.313  3
    END-POINT  56980.470          64312.525          11503.313  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJY                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  56974.017          64318.978          11503.312  3  BW
    END-POINT  56980.470          64312.525          11503.312  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9E5                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  56977.244  64315.751  11503.312 
    TEXT 1 1/2"%%c JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  56974.017          64318.978          11503.312  3
    END-POINT  56974.017          64318.978          11503.312  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AJZ                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  56971.543          64321.452          11503.313  6  BW
    END-POINT  56974.017          64318.978          11503.312  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZL                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     56974.017          64318.978          11503.312  3  BW
WELD
    END-POINT  56971.543          64321.452          11503.313  6
    END-POINT  56971.543          64321.452          11503.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZM                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
ELBOW
    END-POINT  56967.300          64325.695          11497.313  6  BW
    END-POINT  56971.543          64321.452          11503.313  6  BW
    CENTRE-POINT   56967.300          64325.695          11503.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LSR6
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_35Q                 
    PIPING-SPEC S5J
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56967.300  64325.695  11503.313 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56967.300  64443.909  11503.313 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX2
    MESSAGE
    TEXT COL B
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56967.300  64325.695  11503.313 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57059.280  64325.695  11503.313 
    REFERENCED-ITEM
    ITEM-DIRECTION SOUTH
    SKEY XXX2
    MESSAGE
    TEXT COL 36
WELD
    END-POINT  56967.300          64325.695          11497.313  6
    END-POINT  56967.300          64325.695          11497.313  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZE                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  56967.300          64325.695          11497.313  6  BW
    END-POINT  56967.300          64325.695          11493.813  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZD                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     56967.300          64325.695          11493.813  3  BW
WELD
    END-POINT  56967.300          64325.695          11493.813  3
    END-POINT  56967.300          64325.695          11493.813  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AK2                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  56967.300          64325.695          11493.813  3  BW
    END-POINT  56967.300          64325.695          11484.688  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9DW                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  56967.300  64325.695  11489.250 
    TEXT 1 1/2"%%c JUMPER, TYPE 1$SEE DETAIL 5 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  56967.300          64325.695          11484.688  3
    END-POINT  56967.300          64325.695          11484.688  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AK3                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  56967.300          64325.695          11481.188  6  BW
    END-POINT  56967.300          64325.695          11484.688  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9ZB                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     56967.300          64325.695          11484.688  3  BW
WELD
    END-POINT  56967.300          64325.695          11481.188  6
    END-POINT  56967.300          64325.695          11481.188  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AG9                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  56967.300          64325.695          11430.000  6  BW
    END-POINT  56967.300          64325.695          11481.188  6  BW
    FABRICATION-ITEM
    ITEM-CODE PIP6
    WEIGHT          18.970
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AG7                 
    PIPING-SPEC S5J
    INSULATION-ON 
WELD
    END-POINT  56967.300          64325.695          11430.000  6
    END-POINT  56967.300          64325.695          11430.000  6
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AG8                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
CAP
    END-POINT  56967.300          64325.695          11430.000  6  BW
    END-POINT  56967.300          64325.695          11426.500  6
    SKEY KABW
    FABRICATION-ITEM
    ITEM-CODE CAP6_1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9Z8                 
    PIPING-SPEC S5J
    INSULATION-ON 
    TAP-CONNECTION 
    CO-ORDS     56967.300          64325.695          11426.500  3  BW
WELD
    END-POINT  56967.300          64325.695          11426.500  3
    END-POINT  56967.300          64325.695          11426.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_AK5                 
    THICKNESS/RATING 40
    WELD-REMARK-NUMBER STUB IN-WELD                    
    PIPING-SPEC S5J
    INSULATION-ON 
PIPE
    END-POINT  56967.300          64325.695          11426.500  3  BW
    END-POINT  56967.300          64325.695          11425.500  3  BW
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           7.580
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9DS                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  56967.300  64325.695  11425.500 
    TEXT 1 1/2"%%c JUMPER, TYPE 2$SEE DETAIL 6 ON DWG$GVL-GP3-GS3-70D-001
    UNDIMENSIONED
WELD
    END-POINT  56967.300          64325.695          11425.500  3
    END-POINT  56967.300          64325.695          11425.500  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9Z6                 
    THICKNESS/RATING 600LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S5J
    INSULATION-ON 
FLANGE
    END-POINT  56967.300          64325.695          11422.000  3  FL
    END-POINT  56967.300          64325.695          11425.500  3  BW
    SKEY FLWN
    ERECTION-ITEM
    SPECIAL-STATUS 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FLFKDI4S_9Z5                 
    PIPING-SPEC S5J
    INSULATION-ON 
MESSAGE
    CO-ORDS  56967.300  64325.695  11422.000 
    TEXT ISO-SP3-1320037-C-1$AT SP3-004-DO NOZZ N1
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  56967.300          64325.695          11422.000 
MATERIALS
ITEM-CODE CAP6
    CATALOG ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ANSI B16.9 W/2  EA HALF CPLGS, SCF, 3000LB, ASTM A105, ANSI B16.11, TAPS UP/DN, SEE DET 5, GVL-GP3-GS3-70D-001
    RATING 40
ITEM-CODE PIP6
    CATALOG ASTM A53 GR A OR B
    DESCRIPTION PIPE, SCH 40, ASTM A53 Gr B, SEAMLESS
    RATING 40
ITEM-CODE SUPTS-6
    DESCRIPTION TEE SHOE SUPPORT, P602 FIG. 2 W/P629 FIG. 7 (X=1'-0", L=6")
ITEM-CODE SUPLTR6
    DESCRIPTION P629 FIG. 9 (L=11 1/2')
ITEM-CODE 45LLR6
    CATALOG ASME/ANSI B16.9
    DESCRIPTION ELBOW 45 DEG. LR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.9
    RATING 40
ITEM-CODE SUPTS-6_1
    DESCRIPTION TEE SHOE SUPPORT, P602 FIG. 2 W/P629 FIG. 6 (L=2'-2")
ITEM-CODE 90LSR6
    CATALOG ASME/ANSI B16.28
    DESCRIPTION ELBOW 90 DEG. SR, BW, SCH 40, ASTM A234 Gr WPB, ASME/ANSI B16.28
    RATING 40
ITEM-CODE CAP6_1
    CATALOG ANSI B16.9
    DESCRIPTION CAP, BW, SCH 40, ASTM A234 Gr WPB, ANSI B16.9 W/2  EA HALF CPLGS, SCF, 3000LB, ASTM A105, ANSI B16.11, TAPS N/S, SEE DET 5, GVL-GP3-GS3-70D-001
    RATING 40
