ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1217007
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5221.DWG
    ATTRIBUTE98 VTS
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1217007-VTS-S1
    ATTRIBUTE95 I1
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-017
    ATTRIBUTE21 MH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE23 DK
    ATTRIBUTE24 11/4/2008
    ATTRIBUTE25 RHP
    ATTRIBUTE26 1/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 1
    ATTRIBUTE34 0
    ATTRIBUTE35 1/19/2009
    ATTRIBUTE36 SG
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/16/2009
    ATTRIBUTE42 D.DURK
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE
    END-POINT  57834.431          64114.660          11799.781  3  FL
    END-POINT  57834.709          64114.660          11799.781  3  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_54L                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  57834.431  64114.660  11799.781 
    TEXT PSV$070$04
    UNDIMENSIONED
GASKET
    END-POINT  57834.431          64114.660          11799.781  3
    END-POINT  57834.306          64114.660          11799.781  3
    ERECTION-ITEM
    ITEM-CODE GAS3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_56I                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  57834.431          64114.660          11799.781 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.500
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT3
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_56J                 
WELD
    END-POINT  57834.709          64114.660          11799.781  3
    END-POINT  57834.709          64114.660          11799.781  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_55B                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57834.709          64114.660          11799.781  3
    END-POINT  57834.709          64114.660          11799.781  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_55C                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  57834.306          64114.660          11799.781 
PIPE
    END-POINT  57845.870          64114.660          11799.683  3  BW
    END-POINT  57834.709          64114.660          11799.781  3  PL
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_559                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57845.870          64114.660          11799.683  3
    END-POINT  57845.870          64114.660          11799.683  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_55A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57850.292          64114.660          11795.184  3  BW
    END-POINT  57845.870          64114.660          11799.683  3  BW
    CENTRE-POINT   57850.292          64114.660          11799.606 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_556                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 8900
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57850.292  64114.660  11799.606 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  64114.660  11799.606 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57850.292  64114.660  11799.606 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57850.292  64138.800  11799.606 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
WELD
    END-POINT  57850.292          64114.660          11795.184  3
    END-POINT  57850.292          64114.660          11795.184  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_56D                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57850.292          64114.660          11795.184  3  BW
    END-POINT  57850.291          64114.593          11752.465  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_56C                 
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57850.292  64114.642  11784.059  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_5AE                 
MESSAGE
    CO-ORDS  57850.292  64114.642  11784.059 
    TEXT GRATE OPENING
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  57850.291  64114.612  11764.703 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  57850.291          64114.593          11752.465  3
    END-POINT  57850.291          64114.593          11752.465  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_56E                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57848.877          64114.608          11749.051  3  BW
    END-POINT  57850.291          64114.593          11752.465  3  BW
    CENTRE-POINT   57850.291          64114.593          11750.465 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_564                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  57848.877          64114.608          11749.051  3
    END-POINT  57848.877          64114.608          11749.051  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_56G                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57848.877          64114.608          11749.051  3  BW
    END-POINT  57843.465          64114.634          11743.640  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_56F                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57843.465          64114.634          11743.640  3
    END-POINT  57843.465          64114.634          11743.640  3
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_56H                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57841.075          64118.040          11741.286  3  BW
    END-POINT  57841.075          64111.280          11741.214  3  BW
    CENTRE-POINT   57841.075          64114.660          11741.250 
    BRANCH1-POINT  57843.465          64114.634          11743.640  3  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE4D4QFS_55G                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57841.075          64118.040          11741.286 
    PIPELINE-REFERENCE ISO-PY3-1215011
MATERIALS
ITEM-CODE FLGSLP3
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS3
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT3
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 3 1/2 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-3
    DESCRIPTION RISER CLAMP, P615, FIG.5
ITEM-CODE 45LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
