ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2044001
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5231.DWG
    ATTRIBUTE98 80TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2044001-80TWS-C1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3--UT3-81P-044
    ATTRIBUTE21 R.SINGH
    ATTRIBUTE22 3/24/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R.PAPALE
    ATTRIBUTE26 3/24/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 3/24/2009
    ATTRIBUTE29 J.PHILLIPI
    ATTRIBUTE30 3/24/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 3/24/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 2/2/2009
    ATTRIBUTE36 RS
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 3/2/2009
    ATTRIBUTE42 RS
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 REVISED AS MARKED
    ATTRIBUTE46 2
    ATTRIBUTE47 3/24/2009
    ATTRIBUTE48 RS
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS MARKED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 BL
    ATTRIBUTE55 RP
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE
    END-POINT  58257.658          64135.418          11857.030  1  SC MALE 
    END-POINT  58240.557          64135.418          11857.030  1  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CMB                 
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58240.557  64135.418  11857.030 
    TEXT FIELD ROUTE TO JACKET CONNECTION$ON FV-013-02
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58252.156  64135.418  11857.030 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58257.658          64135.418          11857.030  1  SC MALE 
    END-POINT  58257.658          64135.418          11857.030  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CMC                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
END-POSITION-OPEN 
    CO-ORDS  58240.557          64135.418          11857.030 
VALVE
    END-POINT  58259.048          64135.418          11857.030  1  SC FEMALE 
    END-POINT  58257.658          64135.418          11857.030  1  SC FEMALE 
    CENTRE-POINT   58258.353          64135.418          11857.030 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1
    WEIGHT           2.300
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CM7                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  UP
SCREWED-WELD
    END-POINT  58259.048          64135.418          11857.030  1  SC FEMALE 
    END-POINT  58259.048          64135.418          11857.030  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CM8                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58264.463          64135.418          11857.030  1  SC MALE 
    END-POINT  58259.048          64135.418          11857.030  1  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1
    WEIGHT           1.679
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CM5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58264.463          64135.418          11857.030  1  SC MALE 
    END-POINT  58264.463          64135.418          11857.030  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CM6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58265.683          64135.418          11857.980  1.5  SC FEMALE 
    END-POINT  58265.683          64135.418          11856.080  1.5  SC FEMALE 
    CENTRE-POINT   58265.683          64135.418          11857.030 
    BRANCH1-POINT  58264.463          64135.418          11857.030  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CM1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58265.683          64135.418          11857.980  1.5  SC FEMALE 
    END-POINT  58265.683          64135.418          11857.980  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CM3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58265.683          64135.418          11856.080  1.5  SC FEMALE 
    END-POINT  58265.683          64135.418          11856.080  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_CM4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58265.683          64135.418          11850.680  1.5  SC MALE 
    END-POINT  58265.683          64135.418          11856.080  1.5  SC MALE 
    CONTINUATION 
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BKK                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58265.683          64135.418          11850.680 
    PIPELINE-REFERENCE ISO-PY3-1215025
PIPE
    END-POINT  58265.683          64135.418          11857.980  1.5  SC MALE 
    END-POINT  58265.683          64135.418          11894.701  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BL7                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58265.683  64135.418  11885.315 
    FLOW 2
    SKEY FLOW
SCREWED-WELD
    END-POINT  58265.683          64135.418          11894.701  1.5  SC MALE 
    END-POINT  58265.683          64135.418          11894.701  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BL9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58265.683          64135.418          11894.701  1.5  SC FEMALE 
    END-POINT  58265.683          64136.658          11895.941  1.5  SC FEMALE 
    CENTRE-POINT   58265.683          64135.418          11895.941 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58265.683  64135.418  11895.941 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64135.418  11895.941 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58265.683  64135.418  11895.941 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58265.683  64138.748  11895.941 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL F
SCREWED-WELD
    END-POINT  58265.683          64136.658          11895.941  1.5  SC FEMALE 
    END-POINT  58265.683          64136.658          11895.941  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58265.683          64209.560          11895.941  1.5  SC MALE 
    END-POINT  58265.683          64136.658          11895.941  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLD                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58265.683  64182.813  11895.941  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLE                 
SCREWED-WELD
    END-POINT  58265.683          64209.560          11895.941  1.5  SC MALE 
    END-POINT  58265.683          64209.560          11895.941  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58265.683          64209.560          11895.941  1.5  SC FEMALE 
    END-POINT  58265.683          64210.800          11894.701  1.5  SC FEMALE 
    CENTRE-POINT   58265.683          64210.800          11895.941 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLG                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58265.683          64210.800          11894.701  1.5  SC FEMALE 
    END-POINT  58265.683          64210.800          11894.701  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58265.683          64210.800          11894.701  1.5  SC MALE 
    END-POINT  58265.683          64210.800          11883.037  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_BLI                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58265.683          64210.800          11883.037  1.5  SC FEMALE 
    END-POINT  58265.683          64210.800          11883.037  1.5  SC MALE 
    SKEY SC
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_PAK                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58265.683  64210.800  11881.163 
    BRANCH1-POINT  58265.683          64210.800          11883.037  1.5  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_MS3                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58265.683  64210.800  11881.163 
    PIPELINE-REFERENCE ISO-PY3-2044003
MATERIALS
ITEM-CODE PIP1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE VALVBAL1
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION GENERAL HANGER, L=1'-6 21/32", P624 FIG 4
