ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2046035
PIPING-SPEC C1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5212.DWG
    ATTRIBUTE98 65TWS
    ATTRIBUTE97 1.00
    ATTRIBUTE96 2046035-65TWS-C1
    ATTRIBUTE95 I1
    ATTRIBUTE94 C1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-046
    ATTRIBUTE21 DC
    ATTRIBUTE22 4/10/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 RHP
    ATTRIBUTE26 4/13/2009
    ATTRIBUTE27 D.DOTY
    ATTRIBUTE28 4/14/2009
    ATTRIBUTE29 J.PHILIPPI
    ATTRIBUTE30 4/14/2009
    ATTRIBUTE31 T.LOGUE
    ATTRIBUTE32 4/14/2009
    ATTRIBUTE33 0
    ATTRIBUTE34 0
    ATTRIBUTE35 4/14/2009
    ATTRIBUTE36 DC
    ATTRIBUTE37 RHP
    ATTRIBUTE38 DCD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58335.108          64357.784          11592.372  1  SC MALE 
    END-POINT  58335.108          64357.784          11591.242  1
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64357.784          11592.372  1  SC MALE 
    END-POINT  58335.108          64357.784          11592.372  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.108          64357.784          11593.792  1  SC FEMALE 
    END-POINT  58335.108          64357.784          11592.372  1  SC FEMALE 
    CENTRE-POINT   58335.108          64357.784          11592.997 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1
    WEIGHT           2.700
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDS                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.108          64357.784          11593.792  1  SC FEMALE 
    END-POINT  58335.108          64357.784          11593.792  1  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE-FIXED
    END-POINT  58335.108          64357.784          11596.792  1  SC MALE 
    END-POINT  58335.108          64357.784          11593.792  1  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1
    WEIGHT           0.420
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDQ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64357.784          11596.792  1  SC MALE 
    END-POINT  58335.108          64357.784          11596.792  1  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.109          64358.734          11598.012  1.5  SC FEMALE 
    END-POINT  58335.108          64356.834          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.108          64357.784          11598.012 
    BRANCH1-POINT  58335.108          64357.784          11596.792  1  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDO                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.109          64358.734          11598.012  1.5  SC FEMALE 
    END-POINT  58335.109          64358.734          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64356.834          11598.012  1.5  SC FEMALE 
    END-POINT  58335.108          64356.834          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.108          64356.834          11598.012  1.5  SC MALE 
    END-POINT  58335.108          64351.994          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDL                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64351.994          11598.012  1.5  SC MALE 
    END-POINT  58335.108          64351.994          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.108          64350.574          11598.012  1.5  SC FEMALE 
    END-POINT  58335.108          64351.994          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.108          64351.284          11598.012 
    BRANCH1-POINT  58335.108          64351.284          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.108          64350.574          11598.012  1.5  SC FEMALE 
    END-POINT  58335.108          64350.574          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64351.284          11599.242  0.5  SC FEMALE 
    END-POINT  58335.108          64351.284          11599.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.108          64351.284          11599.242  0.5  SC MALE 
    END-POINT  58335.108          64351.284          11603.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDG                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64351.284          11603.102  0.5  SC MALE 
    END-POINT  58335.108          64351.284          11603.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NE6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.108          64351.284          11603.102  0.5  SC FEMALE 
    END-POINT  58335.108          64351.284          11604.547  0.5  SC FEMALE 
    CENTRE-POINT   58335.108          64351.284          11603.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NE5                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.108          64351.284          11604.547  0.5  SC FEMALE 
    END-POINT  58335.108          64351.284          11604.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NE4                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.108          64351.284          11604.547  0.5  SC MALE 
    END-POINT  58335.108          64351.284          11607.547  0.5  SC MALE 
    CENTRE-POINT  58335.108  64351.284  11606.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NE3                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58335.108  64351.284  11607.047 
    TEXT TO 2051012$MANIFOLD # S1$VALVE #2051012TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58335.108          64351.284          11607.547 
PIPE
    END-POINT  58335.107          64345.494          11598.012  1.5  SC MALE 
    END-POINT  58335.108          64350.574          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.107          64345.494          11598.012  1.5  SC MALE 
    END-POINT  58335.107          64345.494          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.107          64344.074          11598.012  1.5  SC FEMALE 
    END-POINT  58335.107          64345.494          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.107          64344.784          11598.012 
    BRANCH1-POINT  58335.107          64344.784          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.107          64344.074          11598.012  1.5  SC FEMALE 
    END-POINT  58335.107          64344.074          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.107          64344.784          11599.242  0.5  SC FEMALE 
    END-POINT  58335.107          64344.784          11599.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.107          64344.784          11599.242  0.5  SC MALE 
    END-POINT  58335.107          64344.784          11603.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.107          64344.784          11603.102  0.5  SC MALE 
    END-POINT  58335.107          64344.784          11603.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NDA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.107          64344.784          11603.102  0.5  SC FEMALE 
    END-POINT  58335.107          64344.784          11604.547  0.5  SC FEMALE 
    CENTRE-POINT   58335.107          64344.784          11603.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_ND9                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.107          64344.784          11604.547  0.5  SC FEMALE 
    END-POINT  58335.107          64344.784          11604.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.107          64344.784          11604.547  0.5  SC MALE 
    END-POINT  58335.107          64344.784          11607.547  0.5  SC MALE 
    CENTRE-POINT  58335.107  64344.784  11606.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGN                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58335.107  64344.784  11607.047 
    TEXT TO 2051013$MANIFOLD # S2$VALVE #2051013TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58335.107          64344.784          11607.547 
PIPE
    END-POINT  58335.106          64338.994          11598.012  1.5  SC MALE 
    END-POINT  58335.107          64344.074          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.106          64338.994          11598.012  1.5  SC MALE 
    END-POINT  58335.106          64338.994          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.106          64337.574          11598.012  1.5  SC FEMALE 
    END-POINT  58335.106          64338.994          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.106          64338.284          11598.012 
    BRANCH1-POINT  58335.106          64338.284          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.106          64337.574          11598.012  1.5  SC FEMALE 
    END-POINT  58335.106          64337.574          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.106          64338.284          11599.242  0.5  SC FEMALE 
    END-POINT  58335.106          64338.284          11599.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.106          64338.284          11599.242  0.5  SC MALE 
    END-POINT  58335.106          64338.284          11603.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG4                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.106          64338.284          11603.102  0.5  SC MALE 
    END-POINT  58335.106          64338.284          11603.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.106          64338.284          11603.102  0.5  SC FEMALE 
    END-POINT  58335.106          64338.284          11604.547  0.5  SC FEMALE 
    CENTRE-POINT   58335.106          64338.284          11603.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGL                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.106          64338.284          11604.547  0.5  SC FEMALE 
    END-POINT  58335.106          64338.284          11604.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.106          64338.284          11604.547  0.5  SC MALE 
    END-POINT  58335.106          64338.284          11607.547  0.5  SC MALE 
    CENTRE-POINT  58335.106  64338.284  11606.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGI                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58335.106  64338.284  11607.047 
    TEXT TO 2051014$MANIFOLD # S2$VALVE #2051014TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58335.106          64338.284          11607.547 
PIPE
    END-POINT  58335.105          64332.494          11598.012  1.5  SC MALE 
    END-POINT  58335.106          64337.574          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG3                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.105          64332.494          11598.012  1.5  SC MALE 
    END-POINT  58335.105          64332.494          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG2                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.105          64331.074          11598.012  1.5  SC FEMALE 
    END-POINT  58335.105          64332.494          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.105          64331.784          11598.012 
    BRANCH1-POINT  58335.105          64331.784          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG1                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.105          64331.074          11598.012  1.5  SC FEMALE 
    END-POINT  58335.105          64331.074          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NG0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.105          64331.784          11599.242  0.5  SC FEMALE 
    END-POINT  58335.105          64331.784          11599.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFZ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.105          64331.784          11599.242  0.5  SC MALE 
    END-POINT  58335.105          64331.784          11603.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFY                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.105          64331.784          11603.102  0.5  SC MALE 
    END-POINT  58335.105          64331.784          11603.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.105          64331.784          11603.102  0.5  SC FEMALE 
    END-POINT  58335.105          64331.784          11604.547  0.5  SC FEMALE 
    CENTRE-POINT   58335.105          64331.784          11603.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFW                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.105          64331.784          11604.547  0.5  SC FEMALE 
    END-POINT  58335.105          64331.784          11604.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.105          64331.784          11604.547  0.5  SC MALE 
    END-POINT  58335.105          64331.784          11607.547  0.5  SC MALE 
    CENTRE-POINT  58335.105  64331.784  11606.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGG                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58335.105  64331.784  11607.047 
    TEXT TO 2051014$MANIFOLD # S2$VALVE #2051014TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58335.105          64331.784          11607.547 
PIPE
    END-POINT  58335.104          64325.994          11598.012  1.5  SC MALE 
    END-POINT  58335.105          64331.074          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.104          64325.994          11598.012  1.5  SC MALE 
    END-POINT  58335.104          64325.994          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.104          64324.574          11598.012  1.5  SC FEMALE 
    END-POINT  58335.104          64325.994          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.104          64325.284          11598.012 
    BRANCH1-POINT  58335.104          64325.284          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFS                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.104          64324.574          11598.012  1.5  SC FEMALE 
    END-POINT  58335.104          64324.574          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.104          64325.284          11599.242  0.5  SC MALE 
    END-POINT  58335.104          64325.284          11599.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NON                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.104          64325.284          11603.102  0.5  SC MALE 
    END-POINT  58335.104          64325.284          11599.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOL                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.104          64325.284          11603.102  0.5  SC MALE 
    END-POINT  58335.104          64325.284          11603.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOM                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.104          64325.284          11603.102  0.5  SC FEMALE 
    END-POINT  58335.104          64325.284          11604.487  0.5  SC FEMALE 
    CENTRE-POINT   58335.104          64325.284          11603.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NO8                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.104          64325.284          11604.487  0.5  SC MALE 
    END-POINT  58335.104          64325.284          11604.487  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.104          64325.284          11604.487  0.5  SC MALE 
    END-POINT  58335.104          64325.284          11605.357  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58335.104          64325.284          11605.357 
PIPE
    END-POINT  58335.103          64319.494          11598.012  1.5  SC MALE 
    END-POINT  58335.104          64324.574          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFL                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.103          64319.494          11598.012  1.5  SC MALE 
    END-POINT  58335.103          64319.494          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.103          64318.074          11598.012  1.5  SC FEMALE 
    END-POINT  58335.103          64319.494          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.103          64318.784          11598.012 
    BRANCH1-POINT  58335.103          64318.784          11599.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFJ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.103          64318.074          11598.012  1.5  SC FEMALE 
    END-POINT  58335.103          64318.074          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.103          64318.784          11599.242  0.5  SC MALE 
    END-POINT  58335.103          64318.784          11599.242  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.103          64318.784          11603.102  0.5  SC MALE 
    END-POINT  58335.103          64318.784          11599.242  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOO                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.103          64318.784          11603.102  0.5  SC MALE 
    END-POINT  58335.103          64318.784          11603.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.103          64318.784          11603.102  0.5  SC FEMALE 
    END-POINT  58335.103          64318.784          11604.487  0.5  SC FEMALE 
    CENTRE-POINT   58335.103          64318.784          11603.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOC                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.103          64318.784          11604.487  0.5  SC MALE 
    END-POINT  58335.103          64318.784          11604.487  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOI                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.103          64318.784          11604.487  0.5  SC MALE 
    END-POINT  58335.103          64318.784          11605.357  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NOH                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58335.103          64318.784          11605.357 
PIPE
    END-POINT  58335.103          64318.074          11598.012  1.5  SC MALE 
    END-POINT  58335.102          64312.674          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFC                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58335.103  64315.374  11598.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NFB                 
SCREWED-WELD
    END-POINT  58335.102          64312.674          11598.012  1.5  SC FEMALE 
    END-POINT  58335.102          64312.674          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.102          64312.674          11598.012  1.5  SC FEMALE 
    END-POINT  58335.102          64310.304          11598.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.102          64311.434          11598.012 
    BRANCH1-POINT  58335.102          64311.434          11599.252  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLA                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.102          64310.304          11598.012  1.5  SC MALE 
    END-POINT  58335.102          64310.304          11598.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.102          64311.434          11599.252  1.5  SC MALE 
    END-POINT  58335.102          64311.434          11599.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.102          64311.434          11599.252  1.5  SC MALE 
    END-POINT  58335.102          64311.434          11620.772  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLD                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.102          64311.434          11620.772  1.5  SC MALE 
    END-POINT  58335.102          64311.434          11620.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.102          64312.674          11622.012  1.5  SC FEMALE 
    END-POINT  58335.102          64310.304          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.102          64311.434          11622.012 
    BRANCH1-POINT  58335.102          64311.434          11620.772  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NKZ                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58335.102  64311.434  11622.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64311.434  11622.012 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58335.102  64311.434  11622.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58335.102  64378.800  11622.012 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
SCREWED-WELD
    END-POINT  58335.102          64312.674          11622.012  1.5  SC FEMALE 
    END-POINT  58335.102          64312.674          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NL1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.102          64310.304          11622.012  1.5  SC MALE 
    END-POINT  58335.102          64310.304          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NL7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.102          64310.304          11622.012  1.5  SC MALE 
    END-POINT  58335.102          64308.874          11622.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NL6                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58335.102          64308.874          11622.012 
PIPE
    END-POINT  58335.103          64321.324          11622.012  1.5  SC MALE 
    END-POINT  58335.102          64312.674          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGX                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.103          64321.324          11622.012  1.5  SC MALE 
    END-POINT  58335.103          64321.324          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NI3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.103          64321.324          11622.012  1.5  SC FEMALE 
    END-POINT  58335.104          64322.744          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.103          64322.034          11622.012 
    BRANCH1-POINT  58335.103          64322.034          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NI2                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.104          64322.744          11622.012  1.5  SC FEMALE 
    END-POINT  58335.103          64322.744          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NI1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.103          64322.034          11623.242  0.5  SC FEMALE 
    END-POINT  58335.103          64322.034          11623.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NI0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.103          64322.034          11623.242  0.5  SC MALE 
    END-POINT  58335.103          64322.034          11627.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.103          64322.034          11627.102  0.5  SC FEMALE 
    END-POINT  58335.103          64322.034          11627.102  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NO1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.103          64322.034          11627.102  0.5  SC FEMALE 
    END-POINT  58335.103          64322.034          11628.487  0.5  SC FEMALE 
    CENTRE-POINT   58335.103          64322.034          11627.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NO0                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.103          64322.034          11628.487  0.5  SC MALE 
    END-POINT  58335.103          64322.034          11628.487  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NO5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.103          64322.034          11628.487  0.5  SC MALE 
    END-POINT  58335.103          64322.034          11629.357  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NO4                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58335.103          64322.034          11629.357 
PIPE
    END-POINT  58335.104          64327.824          11622.012  1.5  SC MALE 
    END-POINT  58335.103          64322.744          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHV                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.104          64327.824          11622.012  1.5  SC MALE 
    END-POINT  58335.104          64327.824          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.104          64327.824          11622.012  1.5  SC FEMALE 
    END-POINT  58335.104          64329.244          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.104          64328.534          11622.012 
    BRANCH1-POINT  58335.104          64328.534          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHT                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.104          64329.244          11622.012  1.5  SC FEMALE 
    END-POINT  58335.104          64329.244          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHS                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.104          64328.534          11623.242  0.5  SC FEMALE 
    END-POINT  58335.104          64328.534          11623.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.104          64328.534          11623.242  0.5  SC MALE 
    END-POINT  58335.104          64328.534          11627.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHQ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.104          64328.534          11627.102  0.5  SC FEMALE 
    END-POINT  58335.104          64328.534          11627.102  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NNX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.104          64328.534          11627.102  0.5  SC FEMALE 
    END-POINT  58335.104          64328.534          11628.487  0.5  SC FEMALE 
    CENTRE-POINT   58335.104          64328.534          11627.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NNW                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.104          64328.534          11628.487  0.5  SC MALE 
    END-POINT  58335.104          64328.534          11628.487  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NO7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.104          64328.534          11628.487  0.5  SC MALE 
    END-POINT  58335.104          64328.534          11629.357  0.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NO6                 
    PIPING-SPEC C1
    INSULATION-ON 
    END-POSITION-CLOSED 
    CO-ORDS  58335.104          64328.534          11629.357 
PIPE
    END-POINT  58335.105          64334.324          11622.012  1.5  SC MALE 
    END-POINT  58335.104          64329.244          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHK                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.105          64334.324          11622.012  1.5  SC MALE 
    END-POINT  58335.105          64334.324          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.105          64334.324          11622.012  1.5  SC FEMALE 
    END-POINT  58335.105          64335.744          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.105          64335.034          11622.012 
    BRANCH1-POINT  58335.105          64335.034          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.105          64335.744          11622.012  1.5  SC FEMALE 
    END-POINT  58335.105          64335.744          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.105          64335.034          11623.242  0.5  SC FEMALE 
    END-POINT  58335.105          64335.034          11623.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.105          64335.034          11623.242  0.5  SC MALE 
    END-POINT  58335.105          64335.034          11627.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHF                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.105          64335.034          11627.102  0.5  SC MALE 
    END-POINT  58335.105          64335.034          11627.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.105          64335.034          11627.102  0.5  SC FEMALE 
    END-POINT  58335.105          64335.034          11628.547  0.5  SC FEMALE 
    CENTRE-POINT   58335.105          64335.034          11627.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHD                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.105          64335.034          11628.547  0.5  SC FEMALE 
    END-POINT  58335.105          64335.034          11628.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHB                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.105          64335.034          11628.547  0.5  SC MALE 
    END-POINT  58335.105          64335.034          11631.547  0.5  SC MALE 
    CENTRE-POINT  58335.105  64335.034  11630.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NHA                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58335.105  64335.034  11631.047 
    TEXT TO 2051005$MANIFOLD # S2$VALVE #2051005TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58335.105          64335.034          11631.547 
PIPE
    END-POINT  58335.106          64340.824          11622.012  1.5  SC MALE 
    END-POINT  58335.105          64335.744          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH9                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.106          64340.824          11622.012  1.5  SC MALE 
    END-POINT  58335.106          64340.824          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH8                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.106          64340.824          11622.012  1.5  SC FEMALE 
    END-POINT  58335.106          64342.244          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.106          64341.534          11622.012 
    BRANCH1-POINT  58335.106          64341.534          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH7                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.106          64342.244          11622.012  1.5  SC FEMALE 
    END-POINT  58335.106          64342.244          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.106          64341.534          11623.242  0.5  SC FEMALE 
    END-POINT  58335.106          64341.534          11623.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH5                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.106          64341.534          11623.242  0.5  SC MALE 
    END-POINT  58335.106          64341.534          11627.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH4                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.106          64341.534          11627.102  0.5  SC MALE 
    END-POINT  58335.106          64341.534          11627.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.106          64341.534          11627.102  0.5  SC FEMALE 
    END-POINT  58335.106          64341.534          11628.547  0.5  SC FEMALE 
    CENTRE-POINT   58335.106          64341.534          11627.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH2                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.106          64341.534          11628.547  0.5  SC FEMALE 
    END-POINT  58335.106          64341.534          11628.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NH0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.106          64341.534          11628.547  0.5  SC MALE 
    END-POINT  58335.106          64341.534          11631.547  0.5  SC MALE 
    CENTRE-POINT  58335.106  64341.534  11630.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGZ                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58335.106  64341.534  11631.047 
    TEXT TO 2051009$MANIFOLD # S2$VALVE #2051009TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58335.106          64341.534          11631.547 
PIPE
    END-POINT  58335.107          64347.324          11622.012  1.5  SC MALE 
    END-POINT  58335.106          64342.244          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGY                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.107          64347.324          11622.012  1.5  SC MALE 
    END-POINT  58335.107          64347.324          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NF3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.107          64347.324          11622.012  1.5  SC FEMALE 
    END-POINT  58335.107          64348.744          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.107          64348.034          11622.012 
    BRANCH1-POINT  58335.107          64348.034          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NF2                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.107          64348.744          11622.012  1.5  SC FEMALE 
    END-POINT  58335.107          64348.744          11622.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NF1                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.107          64348.034          11623.242  0.5  SC FEMALE 
    END-POINT  58335.107          64348.034          11623.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NF0                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.107          64348.034          11623.242  0.5  SC MALE 
    END-POINT  58335.107          64348.034          11627.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEZ                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.107          64348.034          11627.102  0.5  SC MALE 
    END-POINT  58335.107          64348.034          11627.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEY                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.107          64348.034          11627.102  0.5  SC FEMALE 
    END-POINT  58335.107          64348.034          11628.547  0.5  SC FEMALE 
    CENTRE-POINT   58335.107          64348.034          11627.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEX                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.107          64348.034          11628.547  0.5  SC FEMALE 
    END-POINT  58335.107          64348.034          11628.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.107          64348.034          11628.547  0.5  SC MALE 
    END-POINT  58335.107          64348.034          11631.547  0.5  SC MALE 
    CENTRE-POINT  58335.107  64348.034  11630.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEU                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58335.107  64348.034  11631.047 
    TEXT TO 2051010$MANIFOLD # S2$VALVE #2051010TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58335.107          64348.034          11631.547 
PIPE
    END-POINT  58335.108          64353.824          11622.012  1.5  SC MALE 
    END-POINT  58335.107          64348.744          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NET                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64353.824          11622.012  1.5  SC MALE 
    END-POINT  58335.108          64353.824          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NES                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.108          64353.824          11622.012  1.5  SC FEMALE 
    END-POINT  58335.108          64355.244          11622.012  1.5  SC FEMALE 
    CENTRE-POINT   58335.108          64354.534          11622.012 
    BRANCH1-POINT  58335.108          64354.534          11623.242  0.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEERED1+1/2X1+1/2X1/
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NER                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.108          64355.244          11622.012  1.5  SC MALE 
    END-POINT  58335.108          64355.244          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLU                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64354.534          11623.242  0.5  SC FEMALE 
    END-POINT  58335.108          64354.534          11623.242  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEP                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.108          64354.534          11623.242  0.5  SC MALE 
    END-POINT  58335.108          64354.534          11627.102  0.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           1.088
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEO                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.108          64354.534          11627.102  0.5  SC MALE 
    END-POINT  58335.108          64354.534          11627.102  0.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEN                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58335.108          64354.534          11627.102  0.5  SC FEMALE 
    END-POINT  58335.108          64354.534          11628.547  0.5  SC FEMALE 
    CENTRE-POINT   58335.108          64354.534          11627.860 
    SKEY VTSC
    FABRICATION-ITEM
    ITEM-CODE VALVGAT1/2
    WEIGHT           1.100
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEM                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  WEST
SCREWED-WELD
    END-POINT  58335.108          64354.534          11628.547  0.5  SC FEMALE 
    END-POINT  58335.108          64354.534          11628.547  0.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
MISC-COMPONENT
    END-POINT  58335.108          64354.534          11628.547  0.5  SC MALE 
    END-POINT  58335.108          64354.534          11631.547  0.5  SC MALE 
    CENTRE-POINT  58335.108  64354.534  11630.047 
    SKEY NCSC
    ERECTION-ITEM
    ITEM-CODE GENSTR1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NEJ                 
    TAG TE-003-03                       
    PIPING-SPEC C1
    INSULATION-ON 
MESSAGE
    CO-ORDS  58335.108  64354.534  11631.047 
    TEXT TO 2051011$MANIFOLD # S2$VALVE #2051011TS
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  58335.108          64354.534          11631.547 
PIPE
    END-POINT  58335.109          64364.134          11622.012  1.5  SC MALE 
    END-POINT  58335.108          64355.244          11622.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLS                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58335.109  64359.274  11622.012 
    FLOW 1
    SKEY FLOW
SCREWED-WELD
    END-POINT  58335.109          64364.134          11622.012  1.5  SC MALE 
    END-POINT  58335.109          64364.134          11622.012  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.109          64365.374          11620.772  1.5  SC FEMALE 
    END-POINT  58335.109          64365.374          11623.252  1.5  SC FEMALE 
    CENTRE-POINT   58335.109          64365.374          11622.012 
    BRANCH1-POINT  58335.109          64364.134          11622.012  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLN                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.109          64365.374          11620.772  1.5  SC MALE 
    END-POINT  58335.109          64365.374          11620.772  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLQ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.109          64365.374          11623.252  1.5  SC MALE 
    END-POINT  58335.109          64365.374          11623.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMG                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.102          64365.374          11709.734  1.5  SC MALE 
    END-POINT  58335.109          64365.374          11623.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NME                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.102          64365.374          11709.734  1.5  SC MALE 
    END-POINT  58335.102          64365.374          11709.734  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMH                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
TEE
    END-POINT  58335.102          64364.134          11710.974  1.5  SC FEMALE 
    END-POINT  58335.102          64366.614          11710.974  1.5  SC FEMALE 
    CENTRE-POINT   58335.102          64365.374          11710.974 
    BRANCH1-POINT  58335.102          64365.374          11709.734  1.5  SC FEMALE 
    SKEY TESC
    FABRICATION-ITEM
    ITEM-CODE TEESTR1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLV                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.102          64364.134          11710.974  1.5  SC FEMALE 
    END-POINT  58335.102          64364.134          11710.974  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLX                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.102          64366.614          11710.974  1.5  SC MALE 
    END-POINT  58335.102          64366.614          11710.974  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NM3                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.102          64366.614          11710.974  1.5  SC MALE 
    END-POINT  58335.102          64383.861          11710.974  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2_1
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NM2                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58335.102  64378.800  11710.974  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMV                 
END-POSITION-OPEN 
    CO-ORDS  58335.102          64383.861          11710.974 
PIPE
    END-POINT  58335.102          64364.134          11710.974  1.5  SC MALE 
    END-POINT  58335.102          64197.818          11710.974  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJQ                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58335.102  64236.285  11710.974  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NNF                 
SCREWED-WELD
    END-POINT  58335.102          64197.818          11710.974  1.5  SC MALE 
    END-POINT  58335.102          64197.818          11710.974  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
COUPLING
    END-POINT  58335.102          64197.068          11710.974  1.5  SC FEMALE 
    END-POINT  58335.102          64197.818          11710.974  1.5  SC FEMALE 
    SKEY COSC
    FABRICATION-ITEM
    ITEM-CODE CPL1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.102          64197.068          11710.974  1.5  SC MALE 
    END-POINT  58335.102          64197.068          11710.974  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.102          64197.068          11710.974  1.5  SC MALE 
    END-POINT  58335.102          63957.608          11710.974  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJS                 
    PIPING-SPEC C1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58335.102  64106.091  11710.974 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58335.102  64138.800  11710.974  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMW                 
SUPPORT
    CO-ORDS  58335.102  63981.300  11710.974  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NN5                 
SCREWED-WELD
    END-POINT  58335.102          63957.608          11710.974  1.5  SC MALE 
    END-POINT  58335.102          63957.608          11710.974  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJL                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58335.102          63956.368          11712.214  1.5  SC FEMALE 
    END-POINT  58335.102          63957.608          11710.974  1.5  SC FEMALE 
    CENTRE-POINT   58335.102          63956.368          11710.974 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJC                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58335.102          63956.368          11712.214  1.5  SC MALE 
    END-POINT  58335.102          63956.368          11712.214  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.102          63956.368          11721.734  1.5  SC MALE 
    END-POINT  58335.102          63956.368          11712.214  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMB                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.102          63956.368          11721.734  1.5  SC MALE 
    END-POINT  58335.102          63956.368          11721.734  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMC                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58333.862          63956.368          11722.974  1.5  SC FEMALE 
    END-POINT  58335.102          63956.368          11721.734  1.5  SC FEMALE 
    CENTRE-POINT   58335.102          63956.368          11722.974 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJY                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58335.102  63956.368  11722.974 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  63956.368  11722.974 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58335.102  63956.368  11722.974 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58335.102  63898.800  11722.974 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL E
SCREWED-WELD
    END-POINT  58333.862          63956.368          11722.974  1.5  SC MALE 
    END-POINT  58333.862          63956.368          11722.974  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58180.934          63956.368          11722.974  1.5  SC MALE 
    END-POINT  58333.862          63956.368          11722.974  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMI                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58277.841  63956.368  11722.974  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMX                 
SCREWED-WELD
    END-POINT  58180.934          63956.368          11722.974  1.5  SC MALE 
    END-POINT  58180.934          63956.368          11722.974  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NMJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58179.694          63956.368          11724.214  1.5  SC FEMALE 
    END-POINT  58180.934          63956.368          11722.974  1.5  SC FEMALE 
    CENTRE-POINT   58179.694          63956.368          11722.974 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJW                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58179.694          63956.368          11724.214  1.5  SC MALE 
    END-POINT  58179.694          63956.368          11724.214  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NK6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58179.694          63956.368          11724.214  1.5  SC MALE 
    END-POINT  58179.694          63956.368          11729.445  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NK5                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58179.694          63956.368          11729.445  1.5  SC MALE 
    END-POINT  58179.694          63956.368          11729.445  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NK7                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58178.454          63956.368          11730.685  1.5  SC FEMALE 
    END-POINT  58179.694          63956.368          11729.445  1.5  SC FEMALE 
    CENTRE-POINT   58179.694          63956.368          11730.685 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NJU                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58178.454          63956.368          11730.685  1.5  SC MALE 
    END-POINT  58178.454          63956.368          11730.685  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NK9                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58178.454          63956.368          11730.685  1.5  SC MALE 
    END-POINT  58129.090          63956.368          11730.685  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NK8                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58160.795  63956.368  11730.685  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NN3                 
SCREWED-WELD
    END-POINT  58129.090          63956.368          11730.685  1.5  SC MALE 
    END-POINT  58129.090          63956.368          11730.685  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NKA                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
VALVE
    END-POINT  58127.610          63956.368          11730.685  1.5  SC FEMALE 
    END-POINT  58129.090          63956.368          11730.685  1.5  SC FEMALE 
    CENTRE-POINT   58128.350          63956.368          11730.685 
    SKEY VBSC
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           4.800
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NIW                 
    PIPING-SPEC C1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SCREWED-WELD
    END-POINT  58127.610          63956.368          11730.685  1.5  SC FEMALE 
    END-POINT  58127.610          63956.368          11730.685  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NIX                 
    THICKNESS/RATING 275LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58122.790          63956.368          11730.685  1.5  SC MALE 
    END-POINT  58127.610          63956.368          11730.685  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NIU                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58122.790          63956.368          11730.685  1.5  SC MALE 
    END-POINT  58122.790          63956.368          11730.685  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NIV                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58121.550          63956.368          11731.925  1.5  SC FEMALE 
    END-POINT  58122.790          63956.368          11730.685  1.5  SC FEMALE 
    CENTRE-POINT   58121.550          63956.368          11730.685 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NIR                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
SCREWED-WELD
    END-POINT  58121.550          63956.368          11731.925  1.5  SC FEMALE 
    END-POINT  58121.550          63956.368          11731.925  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NIT                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58121.550          63956.368          11739.313  1.5  SC MALE 
    END-POINT  58121.550          63956.368          11731.925  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NIO                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58121.550          63956.368          11739.313  1.5  SC MALE 
    END-POINT  58121.550          63956.368          11739.313  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NNH                 
    THICKNESS/RATING 3000LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
OLET
    CENTRE-POINT      58121.550  63956.368  11741.750 
    BRANCH1-POINT  58121.550          63956.368          11739.313  1.5  SC FEMALE 
    SKEY THSC
    CONTINUATION 
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HTS                 
    PIPING-SPEC C1
    INSULATION-ON 
END-CONNECTION-PIPELINE 
    CO-ORDS  58121.550  63956.368  11741.750 
    PIPELINE-REFERENCE ISO-PY3-2046009
PIPE
    END-POINT  58335.109          64365.374          11620.772  1.5  SC MALE 
    END-POINT  58335.109          64365.374          11599.252  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLP                 
    PIPING-SPEC C1
    INSULATION-ON 
SCREWED-WELD
    END-POINT  58335.109          64365.374          11599.252  1.5  SC MALE 
    END-POINT  58335.109          64365.374          11599.252  1.5  SC FEMALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLR                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
ELBOW
    END-POINT  58335.109          64364.134          11598.012  1.5  SC FEMALE 
    END-POINT  58335.109          64365.374          11599.252  1.5  SC FEMALE 
    CENTRE-POINT   58335.109          64365.374          11598.012 
    SKEY ELSC
    FABRICATION-ITEM
    ITEM-CODE 90L1+1/2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLI                 
    PIPING-SPEC C1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58335.109  64365.374  11598.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64365.374  11598.012 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT COL 4
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58335.109  64365.374  11598.012 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58335.109  64378.800  11598.012 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT COL G
SCREWED-WELD
    END-POINT  58335.109          64364.134          11598.012  1.5  SC FEMALE 
    END-POINT  58335.109          64364.134          11598.012  1.5  SC MALE 
    SKEY SC
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLK                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER THREAD                          
    PIPING-SPEC C1
    INSULATION-ON 
PIPE
    END-POINT  58335.109          64358.734          11598.012  1.5  SC MALE 
    END-POINT  58335.109          64364.134          11598.012  1.5  SC MALE 
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.718
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NGF                 
    PIPING-SPEC C1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58335.109  64361.434  11598.012  1.5
    SKEY DUCK
    ERECTION-ITEM
    ITEM-CODE SUPST-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NF8                 
FLOW-ARROW
    CO-ORDS  58335.109  64361.794  11598.012 
    FLOW 2
    SKEY FLOW
MISC-COMPONENT
    END-POINT  58335.102          64310.304          11598.012  1.5  SC MALE 
    END-POINT  58335.102          64308.874          11598.012  1.5
    SKEY PL
    FABRICATION-ITEM
    ITEM-CODE PLGHEX1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_NLG                 
    PIPING-SPEC C1
    INSULATION-ON 
MATERIALS
ITEM-CODE PLGHEX1
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE VALVGAT1
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE NIPP1
    CATALOG ASTM A733
    DESCRIPTION NIPPLE, 1"x3" LG, SCM, SCH 40, ASTM A106 Gr B, SEAMLESS - 3"
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X1
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 40, ASTM A106 Gr B, SEAMLESS
    RATING 40
ITEM-CODE TEERED1+1/2X1+1/2X1/
    CATALOG ASME/ANSI B16.3
    DESCRIPTION REDUCING TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME/ANSI B36.10
    DESCRIPTION PIPE, SCH 80, ASTM A106 Gr B, SEAMLESS
    RATING 80
ITEM-CODE VALVGAT1/2
    CATALOG CYTEC VALVE
    DESCRIPTION GATE VALVE, SCF, 150LB, GA-01-BA-000
    RATING 150LB
ITEM-CODE GENSTR1/2
    DESCRIPTION PIPE TO TUBING ADAPTOR
    RATING 2000LB
ITEM-CODE PLGHEX1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPST-1+1/2
    DESCRIPTION BASE SUPPORT, L=2'-6", P622 FIG 1
ITEM-CODE TEESTR1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION STRAIGHT TEE, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PLGHEX1+1/2
    CATALOG ASME/ANSI B16.11
    DESCRIPTION HEX PLUG, SCM, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE PIP1+1/2_1
    CATALOG ASME/ANSI B36.10
    DESCRIPTION DUMMY PIPE SUPPORT, TL=1'-6 1/2", P628 FIG12
    RATING 40
ITEM-CODE SUPAG-1+1/2
    DESCRIPTION PROTECTION SADDLE, P651 FIG2, MISC PIPE SUPPORT, P629 FIG9, L=11 1/2"
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION ROD HANGER, L=4'-11 1/2", P624 FIG4
ITEM-CODE CPL1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION COUPLING, SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE 90L1+1/2X1+1/2
    CATALOG ASME/ANSI B16.3
    DESCRIPTION ELBOW 90 DEG., SCF, 150LB, ASTM A197, BANDED MI, ASME B16.3
    RATING 150LB
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION ROD HANGER, L=4'-0", P624 FIG4
ITEM-CODE SUPRH-1+1/2_2
    DESCRIPTION ROD HANGER, L=3'-3 3/4", P624 FIG4
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SCF, 275LB, BA-13-BA-000 (EXTENDED STEM FOR INSULATED SERVICE)
    RATING 275LB
