ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-GS3-1011012
PIPING-SPEC S1
    AREA GS3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5611.DWG
    ATTRIBUTE98 AN
    ATTRIBUTE97 N/A
    ATTRIBUTE96 1011012-AN-S1
    ATTRIBUTE95 il
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-TF3-81P-011
    ATTRIBUTE21 D. CREECH
    ATTRIBUTE22 11/3/2008
    ATTRIBUTE23 D. K.
    ATTRIBUTE25 T. S.
    ATTRIBUTE26 1/16/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 4
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 DKC
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/19/2009
    ATTRIBUTE42 DKC
    ATTRIBUTE43 TS
    ATTRIBUTE44 DD
    ATTRIBUTE45 I.F.C.
    ATTRIBUTE46 2
    ATTRIBUTE47 2/2/2009
    ATTRIBUTE48 DKC
    ATTRIBUTE49 TS
    ATTRIBUTE50 DD
    ATTRIBUTE51 ELEVATION CHANGE
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE58 4
    ATTRIBUTE59 12/17/2012
    ATTRIBUTE60 CP
    ATTRIBUTE61 DK
    ATTRIBUTE62 DK
    ATTRIBUTE63 REVISED HV-307-10
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
PIPE-FIXED
    END-POINT  56751.897          70543.656          11648.052  0.5  PL
    END-POINT  56754.897          70543.656          11648.052  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2G9                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  56754.397  70543.656  11648.052 
    TEXT PT$307$13
    UNDIMENSIONED
SOCKET-WELD
    END-POINT  56751.897          70543.656          11648.052  0.5
    END-POINT  56751.897          70543.656          11648.052  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2GA                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
END-POSITION-OPEN 
    CO-ORDS  56754.897          70543.656          11648.052 
VALVE
    END-POINT  56750.218          70543.656          11648.052  0.5  SW FEMALE 
    END-POINT  56751.897          70543.656          11648.052  0.5  SW FEMALE 
    CENTRE-POINT   56751.103          70543.656          11648.052 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2G5                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  56750.218          70543.656          11648.052  0.5  SW FEMALE 
    END-POINT  56750.218          70543.656          11648.052  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2G6                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE
    END-POINT  56746.808          70543.656          11648.052  0.5  BW
    END-POINT  56750.218          70543.656          11648.052  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2G3                 
    PIPING-SPEC S1
WELD
    END-POINT  56746.808          70543.656          11648.052  0.5
    END-POINT  56746.808          70543.656          11648.052  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2G4                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      56744.870  70543.656  11648.052 
    BRANCH1-POINT  56746.808          70543.656          11648.052  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2FM                 
    PIPING-SPEC S1
WELD
    END-POINT  56744.870  70543.656  11648.052  2
    END-POINT  56744.870  70543.656  11648.052  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2FO                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56744.870          70543.656          11662.052  2  PL
    END-POINT  56744.870          70543.656          11642.052  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_ZQ                  
    PIPING-SPEC S1
WELD
    END-POINT  56744.870          70543.656          11662.052  2
    END-POINT  56744.870          70543.656          11662.052  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_ZR                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  56744.870          70543.656          11662.052  2
    END-POINT  56744.870          70543.656          11662.052  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_ZS                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  56744.870          70543.656          11642.052  2
    END-POINT  56744.870          70543.656          11642.052  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2FD                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  56744.870          70543.656          11642.052  2
    END-POINT  56744.870          70543.656          11642.052  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2FE                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
GAP
    END-POINT  56744.870          70543.656          11642.052  2  
    END-POINT  56744.870          70543.656          11642.052  2  
    PIPING-SPEC S1
WELD
    END-POINT  56744.870  70543.656  11658.052  2
    END-POINT  56744.870  70543.656  11658.052  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_23T                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  56744.870  70543.656  11654.052  2
    END-POINT  56744.870  70543.656  11654.052  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2FR                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      56744.870  70543.656  11654.052 
    BRANCH1-POINT  56746.808          70543.656          11654.052  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2FP                 
    PIPING-SPEC S1
WELD
    END-POINT  56746.808          70543.656          11654.052  0.5
    END-POINT  56746.808          70543.656          11654.052  0.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2GD                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56746.808          70543.656          11654.052  0.5  BW
    END-POINT  56750.218          70543.656          11654.052  0.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1/2
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2GC                 
    PIPING-SPEC S1
SOCKET-WELD
    END-POINT  56750.218          70543.656          11654.052  0.5  SW FEMALE 
    END-POINT  56750.218          70543.656          11654.052  0.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2GF                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
VALVE
    END-POINT  56750.218          70543.656          11654.052  0.5  SW FEMALE 
    END-POINT  56751.897          70543.656          11654.052  0.5  SW FEMALE 
    CENTRE-POINT   56751.103          70543.656          11654.052 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1/2
    WEIGHT           1.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2GE                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  UP
SOCKET-WELD
    END-POINT  56751.897          70543.656          11654.052  0.5
    END-POINT  56751.897          70543.656          11654.052  0.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2GJ                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
PIPE-FIXED
    END-POINT  56751.897          70543.656          11654.052  0.5  PL
    END-POINT  56754.897          70543.656          11654.052  0.5  SC MALE 
    SKEY NISC
    FABRICATION-ITEM
    ITEM-CODE NIPP1/2
    WEIGHT           0.220
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2GI                 
    PIPING-SPEC S1
MESSAGE-CIRCLE
    CO-ORDS  56754.397  70543.656  11654.052 
    TEXT PT$307$12
    UNDIMENSIONED
END-POSITION-OPEN 
    CO-ORDS  56754.897          70543.656          11654.052 
OLET
    CENTRE-POINT      56744.870  70543.656  11658.052 
    BRANCH1-POINT  56742.933          70543.656          11658.052  0.5  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X1/2_1
    WEIGHT           0.180
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_23R                 
    PIPING-SPEC S1
WELD
    END-POINT  56742.933          70543.656          11658.052  0.5
    END-POINT  56742.933          70543.656          11658.052  0.5
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_29K                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56742.933          70543.656          11658.052  0.5  BW
    END-POINT  56739.522          70543.656          11658.052  0.5  PL
    CONTINUATION 
    WEIGHT           0.850
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_23U                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  56739.522          70543.656          11658.052 
    PIPELINE-REFERENCE ISO-GS3-1011017
FLANGE
    END-POINT  56744.870          70543.656          11641.835  2  FL
    END-POINT  56744.870          70543.656          11642.052  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_ZT                  
    PIPING-SPEC S1
GASKET
    END-POINT  56744.870          70543.656          11641.710  2
    END-POINT  56744.870          70543.656          11641.835  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XI                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56744.870          70543.656          11641.710 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XJ                 
INSTRUMENT
    END-POINT  56744.870          70543.656          11641.710  2  FL
    END-POINT  56744.870          70543.656          11634.710  2  FL
    CENTRE-POINT   56744.870          70543.656          11638.210 
    SKEY CVFL
    FABRICATION-ITEM
    ITEM-CODE VALVCNT2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XH                 
    PIPING-SPEC S1
    SPINDLE-DIRECTION  EAST
MESSAGE-CIRCLE
    CO-ORDS  56744.870  70543.656  11638.210 
    TEXT HV$307$10
    UNDIMENSIONED
GASKET
    END-POINT  56744.870          70543.656          11634.585  2
    END-POINT  56744.870          70543.656          11634.710  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XL                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56744.870          70543.656          11634.585 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XM                 
FLANGE
    END-POINT  56744.870          70543.656          11634.585  2  FL
    END-POINT  56744.870          70543.656          11632.085  2  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XK                 
    PIPING-SPEC S1
WELD
    END-POINT  56744.870          70543.656          11632.085  2
    END-POINT  56744.870          70543.656          11632.085  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XO                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  56744.870          70543.656          11628.585  3  BW
    END-POINT  56744.870          70543.656          11632.085  2  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XN                 
    PIPING-SPEC S1
WELD
    END-POINT  56744.870          70543.656          11628.585  3
    END-POINT  56744.870          70543.656          11628.585  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56744.870          70543.656          11628.585  3  BW
    END-POINT  56744.870          70543.656          11554.617  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XP                 
    PIPING-SPEC S1
WELD
    END-POINT  56744.870          70543.656          11554.617  3
    END-POINT  56744.870          70543.656          11554.617  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  56740.409          70543.656          11550.117  3  BW
    END-POINT  56744.870          70543.656          11554.617  3  BW
    CENTRE-POINT   56744.870          70543.656          11550.156 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1UA                 
    PIPING-SPEC S1
    ANGLE 8950
WELD
    END-POINT  56740.409          70543.656          11550.117  3
    END-POINT  56740.409          70543.656          11550.117  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_29B                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56696.014          70543.656          11549.758  3  BW
    END-POINT  56740.409          70543.656          11550.117  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1UJ                 
    PIPING-SPEC S1
WELD
    END-POINT  56696.014          70543.656          11549.758  3
    END-POINT  56696.014          70543.656          11549.758  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1UK                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  56696.014          70543.656          11549.758  3  BW
    END-POINT  56691.514          70539.156          11549.715  3  BW
    CENTRE-POINT   56691.514          70543.656          11549.719 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1UI                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  56691.514          70539.156          11549.715  3
    END-POINT  56691.514          70539.156          11549.715  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1UM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56691.514          70539.156          11549.715  3  BW
    END-POINT  56691.514          70470.530          11549.655  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1UE                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  56691.514  70532.367  11549.709  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_25Z                 
SUPPORT
    CO-ORDS  56691.514  70532.360  11549.709  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_261                 
WELD
    END-POINT  56691.514          70470.530          11549.655  3
    END-POINT  56691.514          70470.530          11549.655  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1UG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
TEE
    END-POINT  56691.514          70467.150          11553.198  3  BW
    END-POINT  56691.513          70467.150          11546.275  3  BW
    CENTRE-POINT   56691.514          70467.150          11549.655 
    BRANCH1-POINT  56691.514          70470.530          11549.655  3  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR3
    WEIGHT           1.370
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_10L                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  56691.514          70467.150          11553.198  3
    END-POINT  56691.514          70467.150          11553.198  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_14U                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  56691.513          70467.150          11546.275  3
    END-POINT  56691.513          70467.150          11546.275  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HL                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
REDUCER-CONCENTRIC
    END-POINT  56691.513          70467.150          11546.275  3  BW
    END-POINT  56691.513          70467.150          11542.775  1  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON3X1
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HK                 
    PIPING-SPEC S1
WELD
    END-POINT  56691.513          70467.150          11542.775  1
    END-POINT  56691.513          70467.150          11542.775  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2HM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56691.514          70467.177          11531.113  1  PL
    END-POINT  56691.513          70467.150          11542.775  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_RF                  
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  56691.514          70467.177          11531.113 
    PIPELINE-REFERENCE ISO-TF3-1011013
ELBOW
    END-POINT  56691.514          70467.150          11553.198  3  BW
    END-POINT  56691.514          70462.699          11557.698  3  BW
    CENTRE-POINT   56691.514          70467.150          11557.650 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_14Q                 
    PIPING-SPEC S1
    ANGLE 8938
WELD
    END-POINT  56691.514          70462.699          11557.698  3
    END-POINT  56691.514          70462.699          11557.698  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1RZ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56691.514          70419.747          11558.165  3  BW
    END-POINT  56691.514          70462.699          11557.698  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1RX                 
    PIPING-SPEC S1
WELD
    END-POINT  56691.514          70419.747          11558.165  3
    END-POINT  56691.514          70419.747          11558.165  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1RY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  56691.514          70415.296          11562.665  3  BW
    END-POINT  56691.514          70419.747          11558.165  3  BW
    CENTRE-POINT   56691.514          70415.296          11558.214 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_11B                 
    PIPING-SPEC S1
    ANGLE 8938
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56691.514  70415.296  11558.214 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56733.044  70415.296  11558.214 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 4727.75
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56691.514  70415.296  11558.214 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56691.514  70400.555  11558.214 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5866.71
WELD
    END-POINT  56691.514          70415.296          11562.665  3
    END-POINT  56691.514          70415.296          11562.665  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_1S1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  56691.514          70415.305          11572.384  3  BW
    END-POINT  56691.514          70415.296          11562.665  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_139                 
    PIPING-SPEC S1
WELD
    END-POINT  56691.514          70415.305          11572.384  3
    END-POINT  56691.514          70415.305          11572.384  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_28A                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  56691.514          70415.305          11572.384  3  BW
    END-POINT  56695.967          70415.305          11576.884  3  BW
    CENTRE-POINT   56691.514          70415.305          11576.837 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_138                 
    PIPING-SPEC S1
    ANGLE 8940
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56691.514  70415.305  11576.837 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56733.044  70415.305  11576.837 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TEE-POLE
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  56691.514  70415.305  11576.837 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  56691.514  70400.555  11576.837 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TEE-POLE
WELD
    END-POINT  56695.967          70415.305          11576.884  3
    END-POINT  56695.967          70415.305          11576.884  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_29O                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58390.790          70415.305          11594.607  3  BW
    END-POINT  56695.967          70415.305          11576.884  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3JC                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58173.070  70415.305  11592.330  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3JM                 
SUPPORT
    CO-ORDS  58053.070  70415.305  11591.075  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3JO                 
SUPPORT
    CO-ORDS  57813.070  70415.305  11588.566  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3JQ                 
SUPPORT
    CO-ORDS  57693.070  70415.305  11587.311  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3JS                 
SUPPORT
    CO-ORDS  57453.070  70415.305  11584.801  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3JU                 
SUPPORT
    CO-ORDS  57333.070  70415.305  11583.546  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3JW                 
SUPPORT
    CO-ORDS  57213.070  70415.305  11582.291  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3K8                 
SUPPORT
    CO-ORDS  57573.070  70415.305  11586.056  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KA                 
SUPPORT
    CO-ORDS  57933.070  70415.305  11589.820  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KC                 
SUPPORT
    CO-ORDS  58293.070  70415.305  11593.585  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KE                 
SUPPORT
    CO-ORDS  58293.070  70415.305  11593.585  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KL                 
SUPPORT
    CO-ORDS  58173.070  70415.305  11592.330  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KM                 
SUPPORT
    CO-ORDS  58053.070  70415.305  11591.075  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KN                 
SUPPORT
    CO-ORDS  57933.067  70415.305  11589.820  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KO                 
SUPPORT
    CO-ORDS  57813.070  70415.305  11588.566  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KP                 
SUPPORT
    CO-ORDS  57693.070  70415.305  11587.311  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KQ                 
SUPPORT
    CO-ORDS  57573.070  70415.305  11586.056  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KR                 
SUPPORT
    CO-ORDS  57453.070  70415.305  11584.801  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KS                 
SUPPORT
    CO-ORDS  57333.070  70415.305  11583.546  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KT                 
SUPPORT
    CO-ORDS  57213.070  70415.305  11582.291  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3KU                 
SUPPORT
    CO-ORDS  56733.045  70415.305  11577.272  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40Q                 
SUPPORT
    CO-ORDS  57093.071  70415.305  11581.036  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40W                 
SUPPORT
    CO-ORDS  56973.071  70415.305  11579.781  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_40Y                 
SUPPORT
    CO-ORDS  56853.044  70415.305  11578.526  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_410                 
SUPPORT
    CO-ORDS  56733.108  70415.305  11577.272  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_412                 
SUPPORT
    CO-ORDS  56853.044  70415.305  11578.526  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_413                 
SUPPORT
    CO-ORDS  56973.071  70415.305  11579.781  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_414                 
SUPPORT
    CO-ORDS  57093.071  70415.305  11581.036  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_415                 
WELD
    END-POINT  58390.790          70415.305          11594.607  3
    END-POINT  58390.790          70415.305          11594.607  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58395.290          70410.805          11594.654  3  BW
    END-POINT  58390.790          70415.305          11594.607  3  BW
    CENTRE-POINT   58395.290          70415.305          11594.654 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S4                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58395.290  70415.305  11594.654 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58413.070  70415.305  11594.654 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 4867.8
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58395.290  70415.305  11594.654 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58395.290  70430.555  11594.654 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5869.21
WELD
    END-POINT  58395.290          70410.805          11594.654  3
    END-POINT  58395.290          70410.805          11594.654  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58395.290          70410.805          11594.654  3  BW
    END-POINT  58395.290          70363.055          11594.654  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S5                 
    PIPING-SPEC S1
WELD
    END-POINT  58395.290          70363.055          11594.654  3
    END-POINT  58395.290          70363.055          11594.654  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58399.789          70358.555          11594.702  3  BW
    END-POINT  58395.290          70363.055          11594.654  3  BW
    CENTRE-POINT   58395.290          70358.555          11594.654 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S3                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58399.789          70358.555          11594.702  3
    END-POINT  58399.789          70358.555          11594.702  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58399.789          70358.555          11594.702  3  BW
    END-POINT  58840.571          70358.555          11599.403  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S8                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58773.070  70358.555  11598.683  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TG                 
SUPPORT
    CO-ORDS  58533.070  70358.555  11596.123  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TK                 
SUPPORT
    CO-ORDS  58413.070  70358.555  11594.844  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TM                 
SUPPORT
    CO-ORDS  58773.070  70358.555  11598.683  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TO                 
SUPPORT
    CO-ORDS  58653.070  70358.555  11597.403  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TP                 
SUPPORT
    CO-ORDS  58533.070  70358.555  11596.123  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TQ                 
SUPPORT
    CO-ORDS  58413.070  70358.555  11594.844  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TR                 
SUPPORT
    CO-ORDS  58653.070  70358.555  11597.403  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3U5                 
WELD
    END-POINT  58840.571          70358.555          11599.403  3
    END-POINT  58840.571          70358.555          11599.403  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4BI                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58840.571          70358.555          11599.403  3  BW
    END-POINT  58845.070          70363.055          11599.451  3  BW
    CENTRE-POINT   58845.070          70358.555          11599.451 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S2                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58845.070          70363.055          11599.451  3
    END-POINT  58845.070          70363.055          11599.451  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SC                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58845.070          70363.055          11599.451  3  BW
    END-POINT  58845.070          70410.805          11599.357  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SB                 
    PIPING-SPEC S1
WELD
    END-POINT  58845.070          70410.805          11599.357  3
    END-POINT  58845.070          70410.805          11599.357  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3SD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  58845.070          70410.805          11599.357  3  BW
    END-POINT  58849.570          70415.305          11599.404  3  BW
    CENTRE-POINT   58845.070          70415.305          11599.357 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3S1                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58849.570          70415.305          11599.404  3
    END-POINT  58849.570          70415.305          11599.404  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TB                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60759.117          70415.305          11619.373  3  BW
    END-POINT  58849.570          70415.305          11599.404  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3JA                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60675.070  70415.305  11618.495  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3LP                 
SUPPORT
    CO-ORDS  60573.070  70415.305  11617.429  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3LR                 
SUPPORT
    CO-ORDS  60333.070  70415.305  11614.921  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3LT                 
SUPPORT
    CO-ORDS  60213.070  70415.305  11613.667  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3LV                 
SUPPORT
    CO-ORDS  59973.070  70415.305  11611.160  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3LX                 
SUPPORT
    CO-ORDS  59853.070  70415.305  11609.889  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3LZ                 
SUPPORT
    CO-ORDS  59613.070  70415.305  11607.381  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3M1                 
SUPPORT
    CO-ORDS  59493.070  70415.305  11606.128  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3M3                 
SUPPORT
    CO-ORDS  59253.070  70415.305  11603.620  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3M5                 
SUPPORT
    CO-ORDS  59133.070  70415.305  11602.366  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3M7                 
SUPPORT
    CO-ORDS  58893.070  70415.305  11599.858  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3M9                 
SUPPORT
    CO-ORDS  58893.070  70415.305  11599.858  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3ME                 
SUPPORT
    CO-ORDS  59013.070  70415.305  11601.112  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MF                 
SUPPORT
    CO-ORDS  59133.070  70415.305  11602.366  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MG                 
SUPPORT
    CO-ORDS  59253.070  70415.305  11603.620  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MH                 
SUPPORT
    CO-ORDS  59373.070  70415.305  11604.874  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MI                 
SUPPORT
    CO-ORDS  59493.070  70415.305  11606.128  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MJ                 
SUPPORT
    CO-ORDS  59613.070  70415.305  11607.381  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MK                 
SUPPORT
    CO-ORDS  59733.070  70415.305  11608.635  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3ML                 
SUPPORT
    CO-ORDS  59853.070  70415.305  11609.889  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MM                 
SUPPORT
    CO-ORDS  59973.070  70415.305  11611.160  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MN                 
SUPPORT
    CO-ORDS  60093.070  70415.305  11612.414  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MO                 
SUPPORT
    CO-ORDS  60213.070  70415.305  11613.667  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MP                 
SUPPORT
    CO-ORDS  60333.070  70415.305  11614.921  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MQ                 
SUPPORT
    CO-ORDS  60453.070  70415.305  11616.175  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MR                 
SUPPORT
    CO-ORDS  60573.070  70415.305  11617.429  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MS                 
SUPPORT
    CO-ORDS  60675.070  70415.305  11618.495  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION SOUTH 0 WEST 1 UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MT                 
SUPPORT
    CO-ORDS  60453.070  70415.305  11616.175  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MV                 
SUPPORT
    CO-ORDS  60093.070  70415.305  11612.414  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MX                 
SUPPORT
    CO-ORDS  59733.070  70415.305  11608.635  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3MZ                 
SUPPORT
    CO-ORDS  59373.070  70415.305  11604.874  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3N1                 
SUPPORT
    CO-ORDS  59013.070  70415.305  11601.112  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3N3                 
FLOW-ARROW
    CO-ORDS  59780.590  70415.305  11609.148 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  60759.117          70415.305          11619.373  3
    END-POINT  60759.117          70415.305          11619.373  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_42F                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60763.570          70415.305          11623.873  3  BW
    END-POINT  60759.117          70415.305          11619.373  3  BW
    CENTRE-POINT   60763.570          70415.305          11619.419 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T2                 
    PIPING-SPEC S1
    ANGLE 8940
WELD
    END-POINT  60763.570          70415.305          11623.873  3
    END-POINT  60763.570          70415.305          11623.873  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60763.570          70415.305          11653.966  3  BW
    END-POINT  60763.570          70415.305          11623.873  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T5                 
    PIPING-SPEC S1
WELD
    END-POINT  60763.570          70415.305          11653.966  3
    END-POINT  60763.570          70415.305          11653.966  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60763.570          70415.305          11653.966  3  BW
    END-POINT  60768.023          70415.305          11658.466  3  BW
    CENTRE-POINT   60763.570          70415.305          11658.419 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T3                 
    PIPING-SPEC S1
    ANGLE 8940
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60763.570  70415.305  11658.419 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60777.070  70415.305  11658.419 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT PIPE BRIDGE COL.
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60763.570  70415.305  11658.419 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60763.570  70430.555  11658.419 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5869.21
WELD
    END-POINT  60768.023          70415.305          11658.466  3
    END-POINT  60768.023          70415.305          11658.466  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T9                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60768.023          70415.305          11658.466  3  BW
    END-POINT  60818.321          70415.305          11658.992  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3T8                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60777.059  70415.305  11658.560  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3U9                 
WELD
    END-POINT  60818.321          70415.305          11658.992  3
    END-POINT  60818.321          70415.305          11658.992  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3TA                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60822.820          70410.805          11659.084  3  BW
    END-POINT  60818.321          70415.305          11658.992  3  BW
    CENTRE-POINT   60822.820          70415.305          11659.039 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_28S                 
    PIPING-SPEC S1
    ANGLE 8999
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60822.820  70415.305  11659.039 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60837.070  70415.305  11659.039 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 5069.76
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60822.820  70415.305  11659.039 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60822.820  70430.555  11659.039 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5869.21
WELD
    END-POINT  60822.820          70410.805          11659.084  3
    END-POINT  60822.820          70410.805          11659.084  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_28T                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60822.820          70410.805          11659.084  3  BW
    END-POINT  60822.820          69018.313          11673.101  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_34D                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60822.820  69110.555  11672.172  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_369                 
SUPPORT
    CO-ORDS  60822.820  69470.555  11668.549  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36B                 
SUPPORT
    CO-ORDS  60822.820  69830.555  11664.925  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36D                 
SUPPORT
    CO-ORDS  60822.820  70154.523  11661.664  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36F                 
SUPPORT
    CO-ORDS  60822.820  70262.555  11660.576  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36J                 
SUPPORT
    CO-ORDS  60822.820  70370.555  11659.489  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36L                 
SUPPORT
    CO-ORDS  60822.820  70046.555  11662.751  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36N                 
SUPPORT
    CO-ORDS  60822.820  69938.555  11663.838  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36P                 
SUPPORT
    CO-ORDS  60822.820  69710.555  11666.133  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36R                 
SUPPORT
    CO-ORDS  60822.820  69590.555  11667.341  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36T                 
SUPPORT
    CO-ORDS  60822.820  69350.555  11669.757  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36V                 
SUPPORT
    CO-ORDS  60822.820  69230.555  11670.965  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36X                 
SUPPORT
    CO-ORDS  60822.820  69110.555  11672.172  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_36Z                 
SUPPORT
    CO-ORDS  60822.820  69230.555  11670.965  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_370                 
SUPPORT
    CO-ORDS  60822.820  69350.555  11669.757  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_371                 
SUPPORT
    CO-ORDS  60822.820  69470.555  11668.549  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_372                 
SUPPORT
    CO-ORDS  60822.820  69590.555  11667.341  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_373                 
SUPPORT
    CO-ORDS  60822.820  69710.555  11666.133  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_374                 
SUPPORT
    CO-ORDS  60822.820  69830.555  11664.925  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_375                 
SUPPORT
    CO-ORDS  60822.820  69938.555  11663.838  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_376                 
SUPPORT
    CO-ORDS  60822.820  70046.555  11662.751  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_377                 
SUPPORT
    CO-ORDS  60822.820  70154.523  11661.664  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_378                 
SUPPORT
    CO-ORDS  60822.820  70262.555  11660.576  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_379                 
SUPPORT
    CO-ORDS  60822.820  70370.555  11659.489  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_37A                 
WELD
    END-POINT  60822.820          69018.313          11673.101  3
    END-POINT  60822.820          69018.313          11673.101  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_34I                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60822.820          69018.313          11673.101  3  BW
    END-POINT  60822.820          67630.309          11687.073  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_34F                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60822.820  67670.555  11686.667  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_359                 
SUPPORT
    CO-ORDS  60822.820  68030.555  11683.044  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35B                 
SUPPORT
    CO-ORDS  60822.820  68390.555  11679.420  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35D                 
SUPPORT
    CO-ORDS  60822.820  68750.555  11675.796  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35F                 
SUPPORT
    CO-ORDS  60822.820  68990.555  11673.380  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35H                 
SUPPORT
    CO-ORDS  60822.820  68870.555  11674.588  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35J                 
SUPPORT
    CO-ORDS  60822.820  68630.555  11677.004  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35L                 
SUPPORT
    CO-ORDS  60822.820  68510.555  11678.212  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35N                 
SUPPORT
    CO-ORDS  60822.820  68270.555  11680.628  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35P                 
SUPPORT
    CO-ORDS  60822.820  68150.555  11681.836  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35R                 
SUPPORT
    CO-ORDS  60822.820  67910.555  11684.252  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35T                 
SUPPORT
    CO-ORDS  60822.820  67790.555  11685.459  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35V                 
SUPPORT
    CO-ORDS  60822.820  67670.555  11686.667  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35X                 
SUPPORT
    CO-ORDS  60822.820  67790.555  11685.459  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35Y                 
SUPPORT
    CO-ORDS  60822.820  67910.555  11684.252  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_35Z                 
SUPPORT
    CO-ORDS  60822.820  68030.555  11683.044  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_360                 
SUPPORT
    CO-ORDS  60822.820  68150.555  11681.836  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_361                 
SUPPORT
    CO-ORDS  60822.820  68270.555  11680.628  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_362                 
SUPPORT
    CO-ORDS  60822.820  68390.555  11679.420  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_363                 
SUPPORT
    CO-ORDS  60822.820  68510.555  11678.212  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_364                 
SUPPORT
    CO-ORDS  60822.820  68630.555  11677.004  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_365                 
SUPPORT
    CO-ORDS  60822.820  68750.555  11675.796  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_366                 
SUPPORT
    CO-ORDS  60822.820  68870.555  11674.588  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_367                 
SUPPORT
    CO-ORDS  60822.820  68990.555  11673.380  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 0 SOUTH 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_368                 
FLOW-ARROW
    CO-ORDS  60822.820  68314.261  11680.188 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  60822.820          67630.309          11687.073  3
    END-POINT  60822.820          67630.309          11687.073  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60822.820          67630.309          11687.073  3  BW
    END-POINT  60818.320          67625.809          11687.152  3  BW
    CENTRE-POINT   60822.820          67625.809          11687.118 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WQ                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60822.820  67625.809  11687.118 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60837.070  67625.809  11687.118 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT E. 5069.76
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60822.820  67625.809  11687.118 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60822.820  67610.555  11687.118 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT N. 5634.21
WELD
    END-POINT  60818.320          67625.809          11687.152  3
    END-POINT  60818.320          67625.809          11687.152  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_4MD                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60818.320          67625.809          11687.152  3  BW
    END-POINT  60317.320          67625.805          11690.987  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WY                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60327.070  67625.805  11690.912  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39X                 
SUPPORT
    CO-ORDS  60439.570  67625.806  11690.051  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_39Z                 
SUPPORT
    CO-ORDS  60664.570  67625.808  11688.329  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3A2                 
SUPPORT
    CO-ORDS  60777.070  67625.809  11687.468  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3A4                 
SUPPORT
    CO-ORDS  60327.070  67625.805  11690.912  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3CC                 
SUPPORT
    CO-ORDS  60439.570  67625.806  11690.051  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3CD                 
SUPPORT
    CO-ORDS  60552.070  67625.807  11689.190  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3CE                 
SUPPORT
    CO-ORDS  60664.570  67625.808  11688.329  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3CF                 
SUPPORT
    CO-ORDS  60777.070  67625.809  11687.468  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH 0 WEST 1 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3CG                 
SUPPORT
    CO-ORDS  60552.070  67625.807  11689.190  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3CH                 
FLOW-ARROW
    CO-ORDS  60612.735  67625.808  11688.726 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  60317.320          67625.805          11690.987  3
    END-POINT  60317.320          67625.805          11690.987  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1X0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60317.320          67625.805          11690.987  3  BW
    END-POINT  60312.820          67621.305          11691.068  3  BW
    CENTRE-POINT   60312.820          67625.805          11691.021 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WP                 
    PIPING-SPEC S1
    ANGLE 8999
WELD
    END-POINT  60312.820          67621.305          11691.068  3
    END-POINT  60312.820          67621.305          11691.068  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1X2                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60312.820          67621.305          11691.068  3  BW
    END-POINT  60312.820          66204.749          11705.794  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1X1                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60312.820  67610.555  11691.180  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3B9                 
SUPPORT
    CO-ORDS  60312.820  67490.555  11692.427  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BB                 
SUPPORT
    CO-ORDS  60312.820  67370.555  11693.674  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BD                 
SUPPORT
    CO-ORDS  60312.820  67130.555  11696.169  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BF                 
SUPPORT
    CO-ORDS  60312.820  67030.555  11697.209  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BH                 
SUPPORT
    CO-ORDS  60312.820  66930.555  11698.248  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BJ                 
SUPPORT
    CO-ORDS  60312.820  66830.555  11699.288  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BL                 
SUPPORT
    CO-ORDS  60312.820  66722.555  11700.411  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BN                 
SUPPORT
    CO-ORDS  60312.820  66614.555  11701.533  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BP                 
SUPPORT
    CO-ORDS  60312.820  66506.555  11702.656  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BR                 
SUPPORT
    CO-ORDS  60312.820  66398.555  11703.779  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BT                 
SUPPORT
    CO-ORDS  60312.820  66290.555  11704.902  3
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BV                 
SUPPORT
    CO-ORDS  60312.820  66290.555  11704.902  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BX                 
SUPPORT
    CO-ORDS  60312.820  66398.555  11703.779  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BY                 
SUPPORT
    CO-ORDS  60312.820  66506.555  11702.656  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3BZ                 
SUPPORT
    CO-ORDS  60312.820  66614.555  11701.533  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C0                 
SUPPORT
    CO-ORDS  60312.820  66722.555  11700.411  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C1                 
SUPPORT
    CO-ORDS  60312.820  66830.555  11699.288  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C2                 
SUPPORT
    CO-ORDS  60312.820  66930.555  11698.248  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C3                 
SUPPORT
    CO-ORDS  60312.820  67030.555  11697.209  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C4                 
SUPPORT
    CO-ORDS  60312.820  67130.555  11696.169  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C5                 
SUPPORT
    CO-ORDS  60312.820  67250.555  11694.922  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C6                 
SUPPORT
    CO-ORDS  60312.820  67250.555  11694.922  3
    SKEY GUID
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_1
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 1 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C7                 
SUPPORT
    CO-ORDS  60312.820  67370.555  11693.674  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3C9                 
SUPPORT
    CO-ORDS  60312.820  67490.555  11692.427  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3CA                 
SUPPORT
    CO-ORDS  60312.820  67610.555  11691.180  3
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPAG-3
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST 0 SOUTH 0 DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3CB                 
FLOW-ARROW
    CO-ORDS  60312.820  66887.806  11698.693 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  60312.820          66204.749          11705.794  3
    END-POINT  60312.820          66204.749          11705.794  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1X3                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60312.820          66204.749          11705.794  3  BW
    END-POINT  60317.320          66200.248          11705.855  3  BW
    CENTRE-POINT   60312.820          66200.249          11705.840 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR3
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1WO                 
    PIPING-SPEC S1
    ANGLE 8999
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60312.820  66200.249  11705.840 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60552.000  66200.249  11705.840 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  60312.820  66200.249  11705.840 
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  60312.820  66119.999  11705.840 
    REFERENCED-ITEM
    ITEM-DIRECTION EAST
    SKEY XXX4
    MESSAGE
    TEXT CENTER OF TF3-307
WELD
    END-POINT  60317.320          66200.248          11705.855  3
    END-POINT  60317.320          66200.248          11705.855  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1X5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  60317.320          66200.248          11705.855  3  BW
    END-POINT  60389.617          66200.239          11706.088  3  BW
    FABRICATION-ITEM
    ITEM-CODE PIP3
    WEIGHT           4.330
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_1X4                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  60328.738  66200.247  11705.892  3
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPUB-3_3
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN 0 EAST 0 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_2BE                 
WELD
    END-POINT  60389.617          66200.239          11706.088  3
    END-POINT  60389.617          66200.239          11706.088  3
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KXQW9_3QV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
ELBOW
    END-POINT  60394.103          66200.238          11710.588  3  BW
    END-POINT  60389.617          66200.239          11706.088  3  BW
    CENTRE-POINT   60394.103          66200.238          11706.103 
    SKEY ELBW
    CONTINUATION 
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8KBV1I_76Y                 
    PIPING-SPEC S1
    ANGLE 8982
END-CONNECTION-PIPELINE 
    CO-ORDS  60394.103          66200.238          11710.588 
    PIPELINE-REFERENCE ISO-TF3-1011012
FLANGE
    END-POINT  56744.870          70543.656          11662.269  2  FL
    END-POINT  56744.870          70543.656          11662.052  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_ZM                  
    PIPING-SPEC S1
GASKET
    END-POINT  56744.870          70543.656          11662.269  2
    END-POINT 
** 
Processing ID: AT_FE8K3YIQ_2XV  Error finding the coordinates of NP1.wc **

    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XV                 
    PIPING-SPEC S1
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  56744.870          70543.656          11662.269 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_FE8K3YIQ_2XW                 
END-POSITION-OPEN 
    CO-ORDS  56744.870  70543.656  11662.269 
MATERIALS
ITEM-CODE NIPP1/2
    CATALOG ASME STANDARD
    DESCRIPTION NIPPLE, 1/2"x3" LG, PLxSCM, SCH 40S, ASTM A 312 Gr TP304L, ELC - 3"
    RATING 40S
ITEM-CODE VALVBAL1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE PIP1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 40S, ASTM A 312 Gr TP304L, ELC
    RATING 40S
ITEM-CODE WOL2X1/2
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE WOL2X1/2_1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 40S
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE VALVCNT2
    CATALOG FISHER
    DESCRIPTION CONTROL VALVE, HV-307-10
    RATING 150LB
ITEM-CODE FLGWNK2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE REDCON3X2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE PIP3
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR3
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPUB-3
    DESCRIPTION U BOLT GUIDE, P648-FIG. 1
ITEM-CODE SUPLTR3
    DESCRIPTION P629-FIG. 4, L=11", X=5'-1"
ITEM-CODE TEESTR3
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON3X1
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPPS-3
    DESCRIPTION PROTECTION SADDLE, P621
ITEM-CODE SUPUB-3_1
    DESCRIPTION U BOLT GUIDE, P648-FIG. 2
ITEM-CODE SUPAG-3
    DESCRIPTION SHIM REQ'D. FOR SLOPED PIPE
ITEM-CODE SUPUB-3_2
    DESCRIPTION U BOLT ANCHOR, P648-FIG. 3
ITEM-CODE SUPUB-3_3
    DESCRIPTION U BOLT ANCHOR, P648-FIG. 3, REFER TO ISO 1011015
