ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-1213008
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\PI3PP_5212_A.DWG
    ATTRIBUTE98 DM
    ATTRIBUTE97 1.00
    ATTRIBUTE96 1213008-DM-S1
    ATTRIBUTE95 AA
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-PY3-81P-013
    ATTRIBUTE21 R.J.RODRIGUE
    ATTRIBUTE22 10/16/2008
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 10/27/2008
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 11/3/2008
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 11/3/2008
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 11/3/2008
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE39 ISSUED FOR BID
    ATTRIBUTE40 1
    ATTRIBUTE41 1/5/2009
    ATTRIBUTE42 RJR
    ATTRIBUTE43 RHP
    ATTRIBUTE44 DCD
    ATTRIBUTE45 IFC
    ATTRIBUTE46 2
    ATTRIBUTE47 2/23/2009
    ATTRIBUTE48 SG
    ATTRIBUTE49 RHP
    ATTRIBUTE50 DCD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DCD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
MISC-COMPONENT
    END-POINT  58284.800          64164.817          11379.000  1.5  FL
    END-POINT  58284.800          64164.817          11379.125  1.5  FL
    CENTRE-POINT  58284.800  64164.817  11379.063 
    SKEY NCFL
    ERECTION-ITEM
    ITEM-CODE GENSTR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BA                  
    PIPING-SPEC S1
    INSULATION-ON 
MESSAGE-CIRCLE
    CO-ORDS  58284.800  64164.817  11379.000 
    TEXT FO$028$04
    UNDIMENSIONED
GASKET
    END-POINT  58284.800          64164.817          11379.000  1.5
    END-POINT  58284.800          64164.817          11378.875  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_MS                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
GASKET
    END-POINT  58284.800          64164.817          11379.250  1.5
    END-POINT  58284.800          64164.817          11379.125  1.5
    ERECTION-ITEM
    ITEM-CODE GAS1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GW                  
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58284.800          64164.817          11379.250 
    BOLT-DIA           0.500
    BOLT-QUANTITY               4
    BOLT-LENGTH           3.250
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT1+1/2
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GX                  
NOZZLE
    CO-ORDS  58284.800          64164.817          11378.875  1.5  FL
    CONNECTION-REFERENCE PY3-003$NOZZLE TAG PY3-003-G$RATING 150LB$FACING RF
FLANGE
    END-POINT  58284.800          64164.817          11379.250  1.5  FL
    END-POINT  58284.800          64164.817          11381.690  1.5  BW
    SKEY FLWN
    FABRICATION-ITEM
    ITEM-CODE FLGWNK1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BF                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58284.800          64164.817          11381.690  1.5
    END-POINT  58284.800          64164.817          11381.690  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BG                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58284.800          64164.817          11387.735  1.5  BW
    END-POINT  58284.800          64164.817          11381.690  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BH                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58284.800          64164.817          11387.735  1.5
    END-POINT  58284.800          64164.817          11387.735  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BI                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58282.550          64164.817          11389.985  1.5  BW
    END-POINT  58284.800          64164.817          11387.735  1.5  BW
    CENTRE-POINT   58284.800          64164.817          11389.985 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BJ                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58284.800  64164.817  11389.985 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58284.800  64138.748  11389.985 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58284.800  64164.817  11389.985 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58346.800  64164.817  11389.985 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 4
WELD
    END-POINT  58282.550          64164.817          11389.985  1.5
    END-POINT  58282.550          64164.817          11389.985  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GL                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58187.558          64164.817          11389.985  1.5  BW
    END-POINT  58282.550          64164.817          11389.985  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GJ                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58247.688  64164.817  11389.985 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58187.558          64164.817          11389.985  1.5
    END-POINT  58187.558          64164.817          11389.985  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GK                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58187.558          64164.817          11389.985  1.5  BW
    END-POINT  58185.638          64165.612          11389.985  1.5  BW
    CENTRE-POINT   58186.433          64164.817          11389.985 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BV                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58185.638          64165.612          11389.985  1.5
    END-POINT  58185.638          64165.612          11389.985  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_L1                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58180.560          64170.689          11389.985  1.5  BW
    END-POINT  58185.638          64165.612          11389.985  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KZ                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58180.560          64170.689          11389.985  1.5
    END-POINT  58180.560          64170.689          11389.985  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_L0                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58180.560          64170.689          11389.985  1.5  BW
    END-POINT  58178.640          64171.485          11389.985  1.5  BW
    CENTRE-POINT   58179.765          64171.485          11389.985 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BZ                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 4500
WELD
    END-POINT  58178.640          64171.485          11389.985  1.5
    END-POINT  58178.640          64171.485          11389.985  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GE                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58151.355          64171.485          11389.985  1.5  PL
    END-POINT  58178.640          64171.485          11389.985  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GC                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  58162.830  64171.485  11389.985 
    SKEY FLOR
MESSAGE
    CO-ORDS  58162.830  64171.485  11389.985 
    TEXT WALL PENETRATION
SOCKET-WELD
    END-POINT  58151.355          64171.485          11389.985  1.5
    END-POINT  58151.355          64171.485          11389.985  1.5  SW FEMALE 
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GD                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
VALVE
    END-POINT  58151.355          64171.485          11389.985  1.5  SW FEMALE 
    END-POINT  58147.835          64171.485          11389.985  1.5  SW FEMALE 
    CENTRE-POINT   58149.595          64171.485          11389.985 
    SKEY VBSW
    FABRICATION-ITEM
    ITEM-CODE VALVBAL1+1/2
    WEIGHT           5.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_BP                  
    PIPING-SPEC S1
    INSULATION-ON 
    SPINDLE-DIRECTION  NORTH
SOCKET-WELD
    END-POINT  58147.835          64171.485          11389.985  1.5  SW FEMALE 
    END-POINT  58147.835          64171.485          11389.985  1.5
    SKEY SW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GB                  
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SOCKET-WELD                     
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58114.305          64171.485          11389.985  1.5  BW
    END-POINT  58147.835          64171.485          11389.985  1.5  PL
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_G9                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58132.792  64171.485  11389.985 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58114.305          64171.485          11389.985  1.5
    END-POINT  58114.305          64171.485          11389.985  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GA                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58112.055          64171.485          11392.235  1.5  BW
    END-POINT  58114.305          64171.485          11389.985  1.5  BW
    CENTRE-POINT   58112.055          64171.485          11389.985 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_C5                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58112.055          64171.485          11392.235  1.5
    END-POINT  58112.055          64171.485          11392.235  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_C6                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58112.055          64171.485          11392.235  1.5  BW
    END-POINT  58112.055          64171.485          11411.754  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_C7                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58112.055          64171.485          11411.754  1.5
    END-POINT  58112.055          64171.485          11411.754  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_C8                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58112.055          64171.485          11411.754  1.5  BW
    END-POINT  58112.055          64169.235          11414.004  1.5  BW
    CENTRE-POINT   58112.055          64171.485          11414.004 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_C9                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58112.055          64169.235          11414.004  1.5
    END-POINT  58112.055          64169.235          11414.004  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_KY                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58112.055          64169.235          11414.004  1.5  BW
    END-POINT  58112.055          63861.992          11414.004  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CB                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58112.055  63922.805  11414.004  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CC                  
    TAG                         P651 FIG.1                      
FLOW-ARROW
    CO-ORDS  58112.055  64102.222  11414.004 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58112.055  64138.797  11414.004  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CE                  
    TAG                         P651 FIG.1                      
SUPPORT
    CO-ORDS  58112.055  64042.297  11414.004  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CF                  
    TAG                         P651 FIG.1                      
WELD
    END-POINT  58112.055          63861.992          11414.004  1.5
    END-POINT  58112.055          63861.992          11414.004  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CG                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58112.055          63861.992          11414.004  1.5  BW
    END-POINT  58112.055          63859.742          11416.254  1.5  BW
    CENTRE-POINT   58112.055          63859.742          11414.004 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CH                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58112.055          63859.742          11416.254  1.5
    END-POINT  58112.055          63859.742          11416.254  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CI                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58112.055          63859.742          11416.254  1.5  BW
    END-POINT  58112.055          63859.742          11702.724  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CJ                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  58112.055  63859.742  11567.391  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPEB-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CK                  
    TAG                         P614                            
TEE-SET-ON
    BRANCH1-POINT  58112.055          63860.692          11567.391  1.313
    CENTRE-POINT   58112.055  63859.742  11567.391 
    SKEY TESO
    MESSAGE-SQUARE
    TEXT DUMMY WELD
PIPE
    END-POINT  58112.055          63860.692          11567.391  1.313  BW
    END-POINT  58112.055  63868.742  11567.391  1.313  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58112.055  63868.742  11567.391 
TEE-SET-ON
    BRANCH1-POINT  58112.055          63858.792          11567.391  1.313
    CENTRE-POINT   58112.055  63859.742  11567.391 
    SKEY TESO
PIPE
    END-POINT  58112.055          63858.792          11567.391  1.313  BW
    END-POINT  58112.055  63850.742  11567.391  1.313  PL
    FABRICATION-ITEM
END-POSITION-OPEN
    CO-ORDS  58112.055  63850.742  11567.391 
FLOW-ARROW
    CO-ORDS  58112.055  63859.742  11475.847 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58112.055          63859.742          11702.724  1.5
    END-POINT  58112.055          63859.742          11702.724  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CM                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58112.055          63859.742          11702.724  1.5  BW
    END-POINT  58112.055          63861.992          11704.974  1.5  BW
    CENTRE-POINT   58112.055          63859.742          11704.974 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CN                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58112.055          63861.992          11704.974  1.5
    END-POINT  58112.055          63861.992          11704.974  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CO                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58112.055          63869.086          11704.974  1.5  BW
    END-POINT  58112.055          63861.992          11704.974  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CP                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58112.055  63866.104  11704.974 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58112.055          63869.086          11704.974  1.5
    END-POINT  58112.055          63869.086          11704.974  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CR                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58112.055          63869.086          11704.974  1.5  BW
    END-POINT  58114.305          63871.336          11704.974  1.5  BW
    CENTRE-POINT   58112.055          63871.336          11704.974 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CS                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58114.305          63871.336          11704.974  1.5
    END-POINT  58114.305          63871.336          11704.974  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CT                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58114.305          63871.336          11704.974  1.5  BW
    END-POINT  58151.444          63871.336          11704.974  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CU                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58151.444          63871.336          11704.974  1.5
    END-POINT  58151.444          63871.336          11704.974  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CV                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58151.444          63871.336          11704.974  1.5  BW
    END-POINT  58153.694          63873.586          11704.974  1.5  BW
    CENTRE-POINT   58153.694          63871.336          11704.974 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CW                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58153.694          63873.586          11704.974  1.5
    END-POINT  58153.694          63873.586          11704.974  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CX                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58153.694          63873.586          11704.974  1.5  BW
    END-POINT  58153.694          63948.125          11704.974  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_CY                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58153.694  63891.776  11704.974 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58153.694  63898.774  11704.974  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D0                  
    TAG                         P624 FIG.2                      
WELD
    END-POINT  58153.694          63948.125          11704.974  1.5
    END-POINT  58153.694          63948.125          11704.974  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D1                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58153.694          63948.125          11704.974  1.5  BW
    END-POINT  58153.694          63950.375          11707.224  1.5  BW
    CENTRE-POINT   58153.694          63950.375          11704.974 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D2                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58153.694          63950.375          11707.224  1.5
    END-POINT  58153.694          63950.375          11707.224  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D3                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58153.694          63950.375          11707.224  1.5  BW
    END-POINT  58153.694          63950.375          11720.724  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D4                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58153.694  63950.375  11714.604 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  58153.694          63950.375          11720.724  1.5
    END-POINT  58153.694          63950.375          11720.724  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D6                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58153.694          63950.375          11720.724  1.5  BW
    END-POINT  58151.444          63950.375          11722.974  1.5  BW
    CENTRE-POINT   58153.694          63950.375          11722.974 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D7                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  58151.444          63950.375          11722.974  1.5
    END-POINT  58151.444          63950.375          11722.974  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D8                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58151.444          63950.375          11722.974  1.5  BW
    END-POINT  57921.065          63950.375          11722.974  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_D9                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58122.023  63950.375  11722.974 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58055.127  63950.375  11722.974  1.5
    SKEY 01HG
    FABRICATION-ITEM
    ITEM-CODE SUPPS-1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DB                  
    TAG                         P651 FIG.1                      
WELD
    END-POINT  57921.065          63950.375          11722.974  1.5
    END-POINT  57921.065          63950.375          11722.974  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DC                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57921.065          63950.375          11722.974  1.5  BW
    END-POINT  57918.815          63950.375          11725.224  1.5  BW
    CENTRE-POINT   57918.815          63950.375          11722.974 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DD                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57918.815  63950.375  11722.974 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57918.815  63898.800  11722.974 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL E
WELD
    END-POINT  57918.815          63950.375          11725.224  1.5
    END-POINT  57918.815          63950.375          11725.224  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DG                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.815          63950.375          11725.224  1.5  BW
    END-POINT  57918.815          63950.375          11742.255  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DH                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  57918.815  63950.375  11734.109 
    FLOW 2
    SKEY FLOW
WELD
    END-POINT  57918.815          63950.375          11742.255  1.5
    END-POINT  57918.815          63950.375          11742.255  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DJ                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57918.815          63950.375          11742.255  1.5  BW
    END-POINT  57918.815          63952.625          11744.505  1.5  BW
    CENTRE-POINT   57918.815          63950.375          11744.505 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DK                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  57918.815  63950.375  11744.505 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  57814.800  63950.375  11744.505 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 1
WELD
    END-POINT  57918.815          63952.625          11744.505  1.5
    END-POINT  57918.815          63952.625          11744.505  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DL                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.815          64019.836          11744.505  1.5  BW
    END-POINT  57918.815          63952.625          11744.505  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DM                  
    PIPING-SPEC S1
    INSULATION-ON 
SUPPORT
    CO-ORDS  57918.815  63956.375  11744.505  1.5
    SKEY HANG
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_MV                  
SUPPORT
    CO-ORDS  57918.815  63956.375  11771.759  1.5
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPLTR1+1/2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_MX                  
WELD
    END-POINT  57918.815          64019.836          11744.505  1.5
    END-POINT  57918.815          64019.836          11744.505  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DN                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  57918.815          64019.836          11744.505  1.5  BW
    END-POINT  57918.815          64022.086          11746.755  1.5  BW
    CENTRE-POINT   57918.815          64022.086          11744.505 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DO                  
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
WELD
    END-POINT  57918.815          64022.086          11746.755  1.5
    END-POINT  57918.815          64022.086          11746.755  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DP                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57918.815          64022.086          11746.755  1.5  BW
    END-POINT  57918.800          64022.084          11801.250  1.5  BW
    FABRICATION-ITEM
    ITEM-CODE PIP1+1/2
    WEIGHT           2.090
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DQ                  
    PIPING-SPEC S1
    INSULATION-ON 
FLOOR-SYMBOL 
    CO-ORDS  57918.800  64022.084  11782.750 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  57918.800  64022.084  11782.750 
    TEXT Floor Penetration
    UNDIMENSIONED
SUPPORT
    CO-ORDS  57918.800  64022.084  11783.750  1.5
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-1+1/2_2
    WEIGHT              0.000
    SUPPORT-DIRECTION NORTH
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DS                  
    TAG                         P615, FIG. 5                    
WELD
    END-POINT  57918.800          64022.084          11801.250  1.5
    END-POINT  57918.800          64022.084          11801.250  1.5
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DT                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  57918.800          64022.084          11804.250  2  BW
    END-POINT  57918.800          64022.084          11801.250  1.5  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X1+1/2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_DU                  
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  57918.800          64022.084          11804.250  2
    END-POINT  57918.800          64022.084          11804.250  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_FUWOWKMM_GR                  
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  57918.800          64022.083          11809.250  2  BW
    END-POINT  57918.800          64022.083          11804.250  2  BW
    CENTRE-POINT   57918.800          64022.083          11806.750 
    BRANCH1-POINT  57918.800          64024.583          11806.750  2  BW
    SKEY TEBW
    CONTINUATION 
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_FJ9XDMOH_BCF                 
    PIPING-SPEC S1
    INSULATION-ON 
    ANGLE 9000
END-CONNECTION-PIPELINE 
    CO-ORDS  57918.800          64022.083          11809.250 
    PIPELINE-REFERENCE ISO-PY3-1213007
MATERIALS
ITEM-CODE GENSTR1+1/2
    DESCRIPTION ORIFICE RESTRICTION PLATE, FO-028-04
    RATING 150LB
ITEM-CODE GAS1+1/2
    CATALOG ANSI B16.20
    DESCRIPTION GASKET, 150LB, RF, 0.125" THK, FLEXITALLIC STYLE CG SPIRAL WOUND  316L, ANSI B16.20
    RATING 150LB
ITEM-CODE BOLT1+1/2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 1/2" X 3 1/4" MACHINE BOLT w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGWNK1+1/2
    CATALOG ANSI B16.5
    DESCRIPTION WELD NECK FLANGE, 150LB, RF, SCH 10S BORE, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP1+1/2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE 90LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 45LLR1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE VALVBAL1+1/2
    CATALOG CYTEC VALVE
    DESCRIPTION BALL VALVE, SWF, 150LB, BA-01-ST-300
    RATING 150LB
ITEM-CODE SUPPS-1+1/2
    DESCRIPTION PROTECTION SADDLE P651 FIG.1
ITEM-CODE SUPEB-1+1/2
    DESCRIPTION TRUNNION SUPPORT P614
ITEM-CODE SUPRH-1+1/2
    DESCRIPTION PIPE HANGER P624 FIG. 2 W/FIG.66 CLEVIS AND EYENUT
ITEM-CODE SUPRH-1+1/2_1
    DESCRIPTION P624 FIG. 2 (L=2'-3", X=1'-3")
ITEM-CODE SUPLTR1+1/2
    DESCRIPTION P625 FIG. 2 (L=1'-2")
ITEM-CODE SUPRH-1+1/2_2
    DESCRIPTION RISER CLAMP P615, FIG. 5
ITEM-CODE REDCON2X1+1/2
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
