ISOGEN-FILES isogen.fls
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE ISO-PY3-2036033
PIPING-SPEC S1
    AREA PY3
    ATTRIBUTE99 P:\52\APLANT\PIPE\NDH\PI3UP_5211.DWG
    ATTRIBUTE98 N
    ATTRIBUTE97 N/A
    ATTRIBUTE96 2036033-N-S1
    ATTRIBUTE95 N/A
    ATTRIBUTE94 S1
    ATTRIBUTE93 N/A
    ATTRIBUTE92 N/A
    ATTRIBUTE91 356553
    ATTRIBUTE20 GVL-GP3-UT3-81P-036
    ATTRIBUTE21 S. KUMAR
    ATTRIBUTE22 3/9/2009
    ATTRIBUTE23 N/A
    ATTRIBUTE25 R. PAPALE
    ATTRIBUTE26 3/9/2009
    ATTRIBUTE27 D. DOTY
    ATTRIBUTE28 3/9/2009
    ATTRIBUTE29 J. PHILIPPI
    ATTRIBUTE30 3/9/2009
    ATTRIBUTE31 T. LOGUE
    ATTRIBUTE32 3/9/2009
    ATTRIBUTE33 3
    ATTRIBUTE34 0
    ATTRIBUTE35 11/3/2008
    ATTRIBUTE36 SK
    ATTRIBUTE37 RP
    ATTRIBUTE38 DD
    ATTRIBUTE39 INITIAL ISSUE
    ATTRIBUTE40 1
    ATTRIBUTE41 2/2/2009
    ATTRIBUTE42 SK
    ATTRIBUTE43 RP
    ATTRIBUTE44 DD
    ATTRIBUTE45 ISSUED FOR BID
    ATTRIBUTE46 2
    ATTRIBUTE47 3/9/2009
    ATTRIBUTE48 SK
    ATTRIBUTE49 RP
    ATTRIBUTE50 DD
    ATTRIBUTE51 REVISED AS NOTED
    ATTRIBUTE52 3
    ATTRIBUTE53 7/31/2009
    ATTRIBUTE54 DC
    ATTRIBUTE55 BL
    ATTRIBUTE56 DD
    ATTRIBUTE57 REVISED AS NOTED
    ATTRIBUTE31   
    ATTRIBUTE32   
    ATTRIBUTE99 END
FLANGE-BLIND
    END-POINT  58090.925          63912.726          11413.373  2  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMM                 
    PIPING-SPEC S1
    END-POINT  58090.925          63911.976          11413.373  2
    SKEY FLBL
GASKET
    END-POINT  58090.925          63912.851          11413.373  2
    END-POINT  58090.925          63912.726          11413.373  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMK                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58090.925          63912.726          11413.373 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EML                 
FLANGE
    END-POINT  58090.925          63912.851          11413.373  2  FL
    END-POINT  58090.925          63913.067          11413.373  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMJ                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          63913.067          11413.373  2
    END-POINT  58090.925          63913.067          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0Q                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925          63913.067          11413.373  2
    END-POINT  58090.925          63913.067          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0R                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.925          63928.134          11413.373  2  BW
    END-POINT  58090.925          63913.067          11413.373  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0O                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58090.925  63924.247  11413.373  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0V                 
WELD
    END-POINT  58090.925          63928.134          11413.373  2
    END-POINT  58090.925          63928.134          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58090.925          63933.134          11413.373  2  BW
    END-POINT  58090.925          63928.134          11413.373  2  BW
    CENTRE-POINT   58090.925          63930.634          11413.373 
    BRANCH1-POINT  58090.925          63930.634          11415.373  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED2X1
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0I                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58090.925          63933.134          11413.373  2
    END-POINT  58090.925          63933.134          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0M                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925          63930.634          11415.373  1
    END-POINT  58090.925          63930.634          11415.373  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P3C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58090.925          63930.634          11433.440  1  BW
    END-POINT  58090.925          63930.634          11415.373  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_OS5                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925          63930.634          11433.440 
    PIPELINE-REFERENCE ISO-PY3-2036041
PIPE
    END-POINT  58090.925          63933.134          11413.373  2  BW
    END-POINT  58090.925          63944.304          11413.373  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0L                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          63944.304          11413.373  2
    END-POINT  58090.925          63944.304          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G0N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58090.925          63949.304          11413.373  2  BW
    END-POINT  58090.925          63944.304          11413.373  2  BW
    CENTRE-POINT   58090.925          63946.804          11413.373 
    BRANCH1-POINT  58090.925          63946.804          11415.373  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED2X1
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMC                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58090.925          63949.304          11413.373  2
    END-POINT  58090.925          63949.304          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EM8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925          63946.804          11415.373  1
    END-POINT  58090.925          63946.804          11415.373  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G2C                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58090.925          63946.804          11433.440  1  BW
    END-POINT  58090.925          63946.804          11415.373  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_JPK                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925          63946.804          11433.440 
    PIPELINE-REFERENCE ISO-PY3-2036022
PIPE
    END-POINT  58090.925          63984.617          11413.373  2  BW
    END-POINT  58090.925          63949.304          11413.373  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EM6                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          63984.617          11413.373  2
    END-POINT  58090.925          63984.617          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EM4                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925  63982.304  11413.373  2
    END-POINT  58090.925  63982.304  11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G1I                 
    THICKNESS/RATING 40S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      58090.925  63982.304  11413.373 
    BRANCH1-POINT  58090.925          63982.304          11415.436  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G1G                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          63982.304          11415.436  0.75
    END-POINT  58090.925          63982.304          11415.436  0.75
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0P                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.925          63982.304          11433.682  0.75  BW
    END-POINT  58090.925          63982.304          11415.436  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_N0C                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925          63982.304          11433.682 
    PIPELINE-REFERENCE ISO-PY3-2036023
TEE
    END-POINT  58090.925          63989.617          11413.373  2  BW
    END-POINT  58090.925          63984.617          11413.373  2  BW
    CENTRE-POINT   58090.925          63987.117          11413.373 
    BRANCH1-POINT  58090.925          63987.117          11415.373  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED2X1
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EM3                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58090.925          63989.617          11413.373  2
    END-POINT  58090.925          63989.617          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJX                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925          63987.117          11415.373  1
    END-POINT  58090.925          63987.117          11415.373  1
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_P0N                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58090.925          63987.117          11433.440  1  BW
    END-POINT  58090.925          63987.117          11415.373  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IVU4J19S_K3T                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925          63987.117          11433.440 
    PIPELINE-REFERENCE ISO-PY3-2036024
PIPE
    END-POINT  58090.925          64149.009          11413.373  2  BW
    END-POINT  58090.925          63989.617          11413.373  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJT                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58090.925  64138.809  11413.373  2
    SKEY 01HG
    ERECTION-ITEM
    ITEM-CODE SUPUB-2
    WEIGHT              0.000
    SUPPORT-DIRECTION DOWN
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJW                 
WELD
    END-POINT  58090.925          64149.009          11413.373  2
    END-POINT  58090.925          64149.009          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJS                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925  64029.547  11413.373  2
    END-POINT  58090.925  64029.547  11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJY                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58090.925  64029.547  11413.373 
    BRANCH1-POINT  58090.925          64029.547          11415.436  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4_1
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925          64029.547          11415.436  0.75
    END-POINT  58090.925          64029.547          11415.436  0.75
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.925          64029.547          11429.525  0.75  BW
    END-POINT  58090.925          64029.547          11415.436  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EK1                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58090.925  64029.547  11422.979 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58090.925          64029.547          11429.525 
    PIPELINE-REFERENCE ISO-PY3-2036028
TEE
    END-POINT  58090.925          64154.009          11413.373  2  BW
    END-POINT  58090.925          64149.009          11413.373  2  BW
    CENTRE-POINT   58090.925          64151.509          11413.373 
    BRANCH1-POINT  58090.925          64151.509          11415.873  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJP                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58090.925  64151.509  11413.373 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64151.509  11413.373 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
WELD
    END-POINT  58090.925          64154.009          11413.373  2
    END-POINT  58090.925          64154.009          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJR                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58090.925          64151.509          11415.873  2
    END-POINT  58090.925          64151.509          11415.873  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58090.925          64151.509          11428.313  2  BW
    END-POINT  58090.925          64151.509          11415.873  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJN                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          64151.509          11428.313  2
    END-POINT  58090.925          64151.509          11428.313  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJM                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
ELBOW
    END-POINT  58087.925          64151.509          11431.313  2  BW
    END-POINT  58090.925          64151.509          11428.313  2  BW
    CENTRE-POINT   58090.925          64151.509          11431.313 
    SKEY ELBW
    FABRICATION-ITEM
    ITEM-CODE 90LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJK                 
    PIPING-SPEC S1
    ANGLE 9000
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58090.925  64151.509  11431.313 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58090.925  64138.748  11431.313 
    REFERENCED-ITEM
    ITEM-DIRECTION WEST
    SKEY XXX 
    MESSAGE
    TEXT COL F
WELD
    END-POINT  58087.925          64151.509          11431.313  2
    END-POINT  58087.925          64151.509          11431.313  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJJ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58045.093          64151.509          11431.313  2  BW
    END-POINT  58087.925          64151.509          11431.313  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJI                 
    PIPING-SPEC S1
WELD
    END-POINT  58045.093          64151.509          11431.313  2
    END-POINT  58045.093          64151.509          11431.313  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJH                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
TEE
    END-POINT  58042.593          64151.509          11433.813  2  BW
    END-POINT  58042.593          64151.509          11428.813  2  BW
    CENTRE-POINT   58042.593          64151.509          11431.313 
    BRANCH1-POINT  58045.093          64151.509          11431.313  2  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEESTR2
    WEIGHT           0.630
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJF                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58042.593          64151.509          11433.813  2
    END-POINT  58042.593          64151.509          11433.813  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G82                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58042.593          64151.509          11428.813  2
    END-POINT  58042.593          64151.509          11428.813  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EJG                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
REDUCER-CONCENTRIC
    END-POINT  58042.593          64151.509          11428.813  2  BW
    END-POINT  58042.593          64151.509          11425.813  0.75  BW
    SKEY RCBW
    FABRICATION-ITEM
    ITEM-CODE REDCON2X3/4
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMU                 
    PIPING-SPEC S1
WELD
    END-POINT  58042.593          64151.509          11425.813  0.75
    END-POINT  58042.593          64151.509          11425.813  0.75
    SKEY WW
    CONTINUATION 
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMV                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58042.593          64151.496          11349.908  0.75  BW
    END-POINT  58042.593          64151.509          11425.813  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMW                 
    PIPING-SPEC S1
    INSULATION-ON 
FLOW-ARROW
    CO-ORDS  58042.593  64151.506  11404.622 
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS  58042.593  64151.503  11388.093  0.75
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMY                 
SUPPORT
    CO-ORDS  58042.593  64151.503  11388.093  0.75
    SKEY 01HG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION EAST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMZ                 
END-CONNECTION-PIPELINE 
    CO-ORDS  58042.593          64151.496          11349.908 
    PIPELINE-REFERENCE ISO-PY3-2036032
PIPE
    END-POINT  58042.593          64151.509          11433.813  2  BW
    END-POINT  58042.593          64151.509          11513.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G81                 
    PIPING-SPEC S1
WELD
    END-POINT  58042.593          64151.509          11513.438  2
    END-POINT  58042.593          64151.509          11513.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G86                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58042.593  64151.509  11511.637  2
    END-POINT  58042.593  64151.509  11511.637  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G85                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
OLET
    CENTRE-POINT      58042.593  64151.509  11511.637 
    BRANCH1-POINT  58041.135          64152.968          11511.637  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4_1
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHZ                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58041.135          64152.968          11511.637  0.75
    END-POINT  58041.135          64152.968          11511.637  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI0                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58038.010          64156.108          11511.637  0.75  BW
    END-POINT  58041.135          64152.968          11511.637  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EI1                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58038.010          64156.108          11511.637 
    PIPELINE-REFERENCE ISO-PY3-2036042
TEE
    END-POINT  58042.593          64151.509          11518.438  2  BW
    END-POINT  58042.593          64151.509          11513.438  2  BW
    CENTRE-POINT   58042.593          64151.509          11515.938 
    BRANCH1-POINT  58041.078          64150.634          11515.938  0.75  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED2X3/4
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G7W                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58042.593          64151.509          11518.438  2
    END-POINT  58042.593          64151.509          11518.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G7Y                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
WELD
    END-POINT  58041.078          64150.634          11515.938  0.75
    END-POINT  58041.078          64150.634          11515.938  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IB1                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
PIPE
    END-POINT  58036.638          64148.079          11515.938  0.75  BW
    END-POINT  58041.078          64150.634          11515.938  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_IAV                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58036.638          64148.079          11515.938 
    PIPELINE-REFERENCE ISO-PY3-2036051
TEE
    END-POINT  58042.593          64151.509          11523.438  2  BW
    END-POINT  58042.593          64151.509          11518.438  2  BW
    CENTRE-POINT   58042.593          64151.509          11520.938 
    BRANCH1-POINT  58040.593          64151.509          11520.938  1  BW
    SKEY TEBW
    FABRICATION-ITEM
    ITEM-CODE TEERED2X1
    WEIGHT           0.540
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHP                 
    PIPING-SPEC S1
    ANGLE 9000
WELD
    END-POINT  58042.593          64151.509          11523.438  2
    END-POINT  58042.593          64151.509          11523.438  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHQ                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58040.593          64151.509          11520.938  1
    END-POINT  58040.593          64151.509          11520.938  1
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHO                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  57849.312          64151.509          11520.938  1  BW
    END-POINT  58040.593          64151.509          11520.938  1  BW
    CONTINUATION 
    WEIGHT           1.400
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHK                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  57901.892  64151.509  11520.938  1
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHL                 
SUPPORT
    CO-ORDS  58024.893  64151.509  11520.938  1
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHM                 
SUPPORT
    CO-ORDS  57964.829  64151.509  11520.938  1
    SKEY HANG
    CONTINUATION 
    WEIGHT              0.000
    SUPPORT-DIRECTION UP
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EHN                 
END-CONNECTION-PIPELINE 
    CO-ORDS  57849.312          64151.509          11520.938 
    PIPELINE-REFERENCE ISO-PY3-2036026
PIPE
    END-POINT  58042.593          64151.509          11744.016  2  BW
    END-POINT  58042.593          64151.509          11523.438  2  BW
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENV                 
    PIPING-SPEC S1
SUPPORT
    CO-ORDS  58042.593  64151.509  11568.000  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_ENZ                 
FLOOR-SYMBOL 
    CO-ORDS  58042.593  64151.509  11567.396 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58042.593  64151.509  11567.396 
    TEXT Grating Opening
    UNDIMENSIONED
SUPPORT
    CO-ORDS  58042.593  64151.509  11675.969  2
    SKEY ANCH
    ERECTION-ITEM
    ITEM-CODE SUPRH-2_1
    WEIGHT              0.000
    SUPPORT-DIRECTION WEST 25 SOUTH
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EO1                 
FLOOR-SYMBOL 
    CO-ORDS  58042.593  64151.509  11675.368 
    SKEY FLOR
    UNDIMENSIONED
MESSAGE
    CO-ORDS  58042.593  64151.509  11675.368 
    TEXT Grating Opening
    UNDIMENSIONED
FLOW-ARROW
    CO-ORDS  58042.593  64151.509  11600.870 
    FLOW 1
    SKEY FLOW
WELD
    END-POINT  58042.593          64151.509          11744.016  2
    END-POINT  58042.593          64151.509          11744.016  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EO5                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58042.593  64151.509  11536.938  2
    END-POINT  58042.593  64151.509  11536.938  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EO6                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58042.593  64151.509  11636.283  2
    END-POINT  58042.593  64151.509  11636.283  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EO7                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58042.593  64151.509  11739.563  2
    END-POINT  58042.593  64151.509  11739.563  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EO8                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER OLET-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
OLET
    CENTRE-POINT      58042.593  64151.509  11739.563 
    BRANCH1-POINT  58042.593          64149.447          11739.563  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4_1
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EO9                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58042.593          64149.447          11739.563  0.75
    END-POINT  58042.593          64149.447          11739.563  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G22                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58042.601          64120.218          11739.563  0.75  BW
    END-POINT  58042.593          64149.447          11739.563  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_I6NRWT00_JLK                 
    PIPING-SPEC S1
FLOW-ARROW
    CO-ORDS  58042.598  64129.698  11739.563 
    FLOW 2
    SKEY FLOW
END-CONNECTION-PIPELINE 
    CO-ORDS  58042.601          64120.218          11739.563 
    PIPELINE-REFERENCE ISO-PY3-2036043
OLET
    CENTRE-POINT      58042.593  64151.509  11636.283 
    BRANCH1-POINT  58044.052          64150.051          11636.283  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4_1
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOB                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58044.052          64150.051          11636.283  0.75
    END-POINT  58044.052          64150.051          11636.283  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G1W                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58046.313          64147.790          11636.283  0.75  BW
    END-POINT  58044.052          64150.051          11636.283  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1Z7X5PP4_HQU                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58046.313          64147.790          11636.283 
    PIPELINE-REFERENCE ISO-PY3-2036040
OLET
    CENTRE-POINT      58042.593  64151.509  11536.938 
    BRANCH1-POINT  58040.531          64151.509          11536.938  0.75  BW
    SKEY WTBW
    FABRICATION-ITEM
    ITEM-CODE WOL2X3/4_1
    WEIGHT           0.250
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOD                 
    PIPING-SPEC S1
    INSULATION-ON 
WELD
    END-POINT  58040.531          64151.509          11536.938  0.75
    END-POINT  58040.531          64151.509          11536.938  0.75
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G28                 
    THICKNESS/RATING 10S
    WELD-REMARK-NUMBER BUTT-WELD                       
    PIPING-SPEC S1
    INSULATION-ON 
PIPE
    END-POINT  58036.413          64151.517          11536.938  0.75  BW
    END-POINT  58040.531          64151.509          11536.938  0.75  BW
    CONTINUATION 
    WEIGHT           0.860
    UNIQUE-COMPONENT-IDENTIFIER AT_1XSJ596O_AUN                 
    PIPING-SPEC S1
END-CONNECTION-PIPELINE 
    CO-ORDS  58036.413          64151.517          11536.938 
    PIPELINE-REFERENCE ISO-PY3-2036030
ELBOW-TEED
    END-POINT  58042.593          64151.509          11744.016  2  BW
    END-POINT  58041.903          64150.819          11746.372  2  BW
    CENTRE-POINT   58042.593          64151.509          11745.396 
    BRANCH1-POINT  58042.593          64151.509          11748.449  2  PL
    SKEY ETBW
    FABRICATION-ITEM
    ITEM-CODE 45LLR2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EOF                 
    PIPING-SPEC S1
    ANGLE 4500
    TAP-CONNECTION 
    CO-ORDS  58042.593          64151.509          11748.449  2
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS  58042.593  64151.509  11745.396 
    UNDIMENSIONED
    REFERENCE-DIMENSION-PRIME
    CO-ORDS  58054.800  64151.509  11745.396 
    REFERENCED-ITEM
    ITEM-DIRECTION NORTH
    SKEY XXX 
    MESSAGE
    TEXT COL 2
END-POSITION-OPEN 
    CO-ORDS  58041.903          64150.819          11746.372 
PIPE
    END-POINT  58090.925          64154.009          11413.373  2  BW
    END-POINT  58090.925          64158.009          11413.373  2  PL
    FABRICATION-ITEM
    ITEM-CODE PIP2
    WEIGHT           2.640
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMN                 
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          64158.009          11413.373  2
    END-POINT  58090.925          64158.009          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G1N                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
WELD
    END-POINT  58090.925          64158.009          11413.373  2
    END-POINT  58090.925          64158.009          11413.373  2
    SKEY WW
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_G1O                 
    THICKNESS/RATING 150LB
    WELD-REMARK-NUMBER SLIP-ON-WELD                    
    PIPING-SPEC S1
FLANGE
    END-POINT  58090.925          64158.226          11413.373  2  FL
    END-POINT  58090.925          64158.009          11413.373  2  BW
    SKEY FLSO
    FABRICATION-ITEM
    ITEM-CODE FLGSLP2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMQ                 
    PIPING-SPEC S1
GASKET
    END-POINT  58090.925          64158.226          11413.373  2
    END-POINT  58090.925          64158.351          11413.373  2
    ERECTION-ITEM
    ITEM-CODE GAS2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMR                 
    PIPING-SPEC S1
    INSULATION-ON 
    GASKET-RATING 150LB          
BOLT
    CO-ORDS  58090.925          64158.351          11413.373 
    BOLT-DIA           0.625
    BOLT-QUANTITY               4
    BOLT-LENGTH           2.750
    WEIGHT           0.000
    ERECTION-ITEM
    BOLT-ITEM-CODE BOLT2
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMS                 
FLANGE-BLIND
    END-POINT  58090.925          64158.351          11413.373  2  FL
    FABRICATION-ITEM
    ITEM-CODE FLGBLD2
    WEIGHT           0.000
    UNIQUE-COMPONENT-IDENTIFIER AT_IEIKWTE0_EMT                 
    PIPING-SPEC S1
    END-POINT  58090.925          64159.101          11413.373  2
    SKEY FLBL
    END-POSITION-CLOSED 
    CO-ORDS  58090.925          64159.101          11413.373 
MATERIALS
ITEM-CODE FLGBLD2
    CATALOG ANSI B16.5
    DESCRIPTION BLIND FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE GAS2
    CATALOG ANSI B16.21
    DESCRIPTION GASKET, RING TYPE, 150LB, RF, 0.125" THK, PTFE, GARLOCK  GYLON 3545, ANSI B16.21
    RATING 150LB
ITEM-CODE BOLT2
    CATALOG ASTM A 193 GR B8
    DESCRIPTION ASTM A 193 GR B8, 5/8 X 2 3/4 MACHINE BOLTS w/HH NUTS ASTM A 194 GR 8M
    RATING 150LB
ITEM-CODE FLGSLP2
    CATALOG ANSI B16.5
    DESCRIPTION SLIP-ON FLANGE, 150LB, RF, ASTM A182 F304L, ANSI B16.5
    RATING 150LB
ITEM-CODE PIP2
    CATALOG ASME STANDARD
    DESCRIPTION PIPE, SCH 10S, ASTM A 312 Gr TP304L, ELC
    RATING 10S
ITEM-CODE SUPUB-2
    DESCRIPTION STANDARD U BOLT SUPPORT, P648 FIG2
ITEM-CODE TEERED2X1
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE WOL2X3/4
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 40S, ASTM A182 Gr F304L, MSS SP-97
    RATING 40S
ITEM-CODE WOL2X3/4_1
    CATALOG MSS SP-97
    DESCRIPTION WELDOLET, BW, SCH 10S, ASTM A403 Gr WP304L, MSS SP-97
    RATING 10S
ITEM-CODE TEESTR2
    CATALOG ANSI B16.9
    DESCRIPTION TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE 90LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 90 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE REDCON2X3/4
    CATALOG ANSI B16.9
    DESCRIPTION CONCENTRIC REDUCER, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE TEERED2X3/4
    CATALOG ANSI B16.9
    DESCRIPTION REDUCING TEE, BW, SCH 10S, ASTM A 403 Gr WP304L, ANSI B16.9
    RATING 10S
ITEM-CODE SUPRH-2
    DESCRIPTION RISER CLAMP, P615 FIG 6
ITEM-CODE SUPRH-2_1
    DESCRIPTION RISER CLAMP, P615 FIG 5
ITEM-CODE 45LLR2
    CATALOG ANSI B16.9
    DESCRIPTION 45 DEG LR ELBOW, BW, SCH 10S, ASTM A403 Gr WP304L, ANSI B16.9
    RATING 10S
