ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   SUR2-C04-05-BFW-LIM-23048-004
    PIPING-SPEC   BVA
    INSULATION-SPEC   MINERAL WOOL
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE25   204
    ATTRIBUTE21   204-CWA-004
    ATTRIBUTE9   09/01/2012 9:47:42 AM
    ATTRIBUTE24   SUR2-C04-05-BFW-LIM-23048-004
    ATTRIBUTE87   Refer to LDT
    ATTRIBUTE97   Refer to LDT
    ATTRIBUTE89   Refer to LDT
    ATTRIBUTE95   Refer to LDT
    ATTRIBUTE88   Refer to LDT
    ATTRIBUTE96   Refer to LDT
    ATTRIBUTE98   Refer to LDT
    ATTRIBUTE86   Refer to LDT
    ATTRIBUTE83   V1[InsulationThickness]
    ATTRIBUTE93   V1[LineNumber]
    ATTRIBUTE92   V1[LineSpec]
    ATTRIBUTE85   V1[PaintCode]
    ATTRIBUTE84   V1[PostWeldHeatTreatmentFlag]
    ATTRIBUTE91   V1[StartPID]
    ATTRIBUTE82   V1[TracerCode]
    ATTRIBUTE94   V1[systemid]
    ATTRIBUTE90   V1[TagNumber]
    MISC-SPEC1    BFW-205-23048
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    789399.990    1089984.357    101271.202     8    
    END-POINT    789399.990    1089984.357    100336.984     8    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    42.487
    UCI    {0001388C-0000-0000-C3A6-05281F4E9F05}
    ITEM-CODE    PPPCDT050605
    ITEM-DESCRIPTION    Dummy/Trunion Pipe CS Std Wall A106 GrB ( For Use on Supports ONLY)
    SPOOL-IDENTIFIER    C04-05-BFW-LIM-23048-004-A
    CUT-PIECE-LENGTH    934.22
SUPPORT
    CO-ORDS    789399.990    1089984.357    100336.989     8
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    TSP2-1
    ITEM-DESCRIPTION    TSP2 "Teflon" Slide Plate Assembly for Adjustable Base Support$Tag No: TSP2-1 $
    WEIGHT    0.000
    UCI    {00022303-0000-0000-4F63-78DB254EF105}
    NAME    TSP2_1-1-602
    ERECTION-ITEM
SUPPORT
    CO-ORDS    789399.990    1089984.357    100336.989     8
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    BSA4-1-10"-B
    ITEM-DESCRIPTION    BSA4-1 Base Support Adjustable for Pipe Size 10" to 20"$Tag No: BSA4-1-10"-B $
    WEIGHT    0.000
    UCI    {00022303-0000-0000-B458-78DB254EF105}
    NAME    BSA4_1-1-402
    ERECTION-ITEM
WELD
    END-POINT    789399.990    1089984.357    101271.202     8    
    END-POINT    789399.990    1089984.357    101271.202     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-001
    UCI    {000138AA-0000-0000-DAA6-05281F4E9F05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-001
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    789400.000    1089984.357    102355.525     10    BW
    END-POINT    789130.592    1090253.765    102736.525     10    BW
    CENTRE-POINT    789400.000    1089984.357    102736.525        
    SKEY    EL**
    ITEM-CODE    PFQNG505160M
    ITEM-DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-B2C7-1747244EDA05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
ELBOW
    END-POINT    789130.592    1090253.765    102736.525     10    BW
    END-POINT    788859.589    1090366.018    102736.525     10    BW
    CENTRE-POINT    789018.339    1090366.018    102736.525        
    SKEY    EL**
    ITEM-CODE    PFRNG505140M
    ITEM-DESCRIPTION    El - 45, LR, BW, A234-WPB, StdWt
    ANGLE    4500
    UCI    {00013885-0000-0000-C4C7-1747244EDA05}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    789130.592    1090253.765    102736.525     10    
    END-POINT    789130.592    1090253.765    102736.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-010
    UCI    {000138AA-0000-0000-CFC7-1747244EDA05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-010
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    787450.000    1089984.357    101386.925    0.75    
    END-POINT    787450.000    1089984.357    101488.525    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-A0E5-1E430B4E7D05}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.295
WELD
    END-POINT    787450.000    1089984.357    101488.525    0.75    
    END-POINT    787450.000    1089984.357    101488.525    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-012
    UCI    {000138AA-0000-0000-C7E5-1E430B4E7D05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-012
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    787450.000    1089984.357    101488.525    0.75    SW
    END-POINT    787450.000    1089984.357    101552.025    0.75    SC
    CENTRE-POINT    787450.000    1089984.357    101521.862        
    SKEY    VT**
    ITEM-CODE    PVVG8BB51001
    ITEM-DESCRIPTION    Gate Valve,CL800,FSWxFNPT,Tr.5,A105N, Tag No:GX-08V0-0501
    FLOW    2
    UCI    {00013885-0000-0000-BBE5-1E430B4E7D05}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
MISC-COMPONENT
    END-POINT    787450.000    1089984.357    101552.025    0.75    SC
    END-POINT    787450.000    1089984.357    101596.475    0.75    BW
    CENTRE-POINT    787450.000    1089984.357    101552.025        
    SKEY    PL
    ITEM-CODE    PFTPG1000H01
    ITEM-DESCRIPTION    Plug H/Hd, MNPT, A105N
    FLOW    2
    UCI    {00013885-0000-0000-CBE5-1E430B4E7D05}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
INSTRUMENT
    END-POINT    787450.000    1089984.357    101596.475    0.75    BW
    END-POINT    787450.000    1089984.357    101609.810    0.75    
    CENTRE-POINT    787450.000    1089984.357    101596.475        
    SKEY    II**
    ITEM-CODE    205-PG-23006
    FLOW    3
    UCI    {000138B6-0000-0000-D8E5-1E430B4E7D05}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    TAG    205$PG$23006
PIPE
    END-POINT    787519.000    1090366.018    102736.525     10    
    END-POINT    784101.608    1090366.018    102736.525     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-F413-2F7C244D8C04}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    4757.98
PIPE
    END-POINT    788859.589    1090366.018    102736.525     10    
    END-POINT    787519.000    1090366.018    102736.525     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-F413-2F7C244D8C04}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    4757.98
SUPPORT
    CO-ORDS    786400.000    1090366.018    102736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G6
    ITEM-DESCRIPTION    G6 Pipe Guide, 8" to 24"$Tag No: G6 $
    WEIGHT    0.923
    UCI    {00022303-0000-0000-14CE-6F4D1B4E8005}
    NAME    G6_1-1-12329
    ERECTION-ITEM
SUPPORT
    CO-ORDS    786400.000    1090366.018    102736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DA4
    ITEM-DESCRIPTION    DA4 Directional Anchor for Insulated lines, Pipe Sizes 2" to 10"$Tag No: DA4 $
    WEIGHT    3.356
    UCI    {00022303-0000-0000-59D2-6F4D1B4E8005}
    NAME    DA4_1-1-6519
    ERECTION-ITEM
SUPPORT
    CO-ORDS    786400.000    1090366.018    102736.525     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    S2-3-A-10"
    ITEM-DESCRIPTION    S2-3-A Pipe Shoe (Carbon Steel) Pipe Size 8" To 24"$Tag No: S2-3-A-10" $
    WEIGHT    10.674
    UCI    {00022303-0000-0000-75C4-6F4D1B4E8005}
    NAME    S2_3-3-1602
    FABRICATION-ITEM
WELD
    END-POINT    788859.589    1090366.018    102736.525     10    
    END-POINT    788859.589    1090366.018    102736.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-003
    UCI    {000138AA-0000-0000-97CB-1747244EDA05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-003
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    787081.000    1089984.357    101225.000     10    
    END-POINT    787450.000    1089984.357    101225.000     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-7F1E-65D10D4E8704}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    2238.00
PIPE
    END-POINT    787700.000    1089984.357    101225.000     10    
    END-POINT    789019.000    1089984.357    101225.000     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-7F1E-65D10D4E8704}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    2238.00
PIPE
    END-POINT    787450.000    1089984.357    101225.000     10    
    END-POINT    787700.000    1089984.357    101225.000     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-7F1E-65D10D4E8704}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    2238.00
PIPE
    END-POINT    786781.000    1089984.357    101225.000     10    
    END-POINT    787081.000    1089984.357    101225.000     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-7F1E-65D10D4E8704}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    2238.00
WELD
    END-POINT    789019.000    1089984.357    101225.000     10    
    END-POINT    789019.000    1089984.357    101225.000     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-004
    UCI    {000138AA-0000-0000-692E-6F4D1B4E8005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-004
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    787450.000    1089984.357    101225.000        
    BRANCH1-POINT    787450.000    1089984.357    101386.925    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P8U
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-AE1E-65D10D4E8704}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-017
    UCI    {000138AA-0000-0000-BC1E-65D10D4E8704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-017
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    787450.000    1089984.357    101386.925    0.75    
    END-POINT    787450.000    1089984.357    101386.925    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-018
    UCI    {000138AA-0000-0000-BE1E-65D10D4E8704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-018
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    787700.000    1089984.357    101225.000        
    BRANCH1-POINT    787700.000    1089984.357    101063.075    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P8U
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-EA1E-65D10D4E8704}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-015
    UCI    {000138AA-0000-0000-F81E-65D10D4E8704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-015
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    787700.000    1089984.357    101063.075    0.75    
    END-POINT    787700.000    1089984.357    101063.075    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-016
    UCI    {000138AA-0000-0000-FA1E-65D10D4E8704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-016
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
INSTRUMENT
    END-POINT    787081.000    1089984.357    101522.650     2    FL
    END-POINT    787081.000    1089984.357    101543.351     2    
    CENTRE-POINT    787081.000    1089984.357    101522.650        
    SKEY    II**
    ITEM-CODE    205-TW-23006
    FLOW    3
    UCI    {000138B6-0000-0000-FC0C-6B706B4E9C04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    205$TW$23006
ELBOW
    END-POINT    789019.000    1089984.357    101225.000     10    BW
    END-POINT    789400.000    1089984.357    101606.000     10    BW
    CENTRE-POINT    789400.000    1089984.357    101225.000        
    SKEY    EL**
    ITEM-CODE    PFQNG505160M
    ITEM-DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
    TAP-CONNECTION    
    CO-ORDS    789399.990    1089984.357    101271.202     8    
    UCI    {00013885-0000-0000-5A2E-6F4D1B4E8005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    789400.000    1089984.357    101606.000     10    
    END-POINT    789400.000    1089984.357    101606.000     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-011
    UCI    {000138AA-0000-0000-672E-6F4D1B4E8005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-011
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    786400.000    1089603.357    101225.000     10    BW
    END-POINT    786781.000    1089984.357    101225.000     10    BW
    CENTRE-POINT    786400.000    1089984.357    101225.000        
    SKEY    EL**
    ITEM-CODE    PFQNG505160M
    ITEM-DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-5964-7EE6804D260B}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    786781.000    1089984.357    101225.000     10    
    END-POINT    786781.000    1089984.357    101225.000     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-009
    UCI    {000138AA-0000-0000-9F1E-65D10D4E8704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-009
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    787700.000    1089984.357    101063.075    0.75    
    END-POINT    787700.000    1089984.357    100961.475    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-6678-7EE6804D260B}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.295
VALVE
    END-POINT    787700.000    1089984.357    100961.475    0.75    SW
    END-POINT    787700.000    1089984.357    100894.800    0.75    SW
    CENTRE-POINT    787700.000    1089984.357    100928.137        
    SKEY    VV**
    ITEM-CODE    PVVG8AB51001
    ITEM-DESCRIPTION    Gate Valve,CL800,SW,Tr.5,A105N, Tag No:GS-08V0-0501
    FLOW    2
    UCI    {00013885-0000-0000-7478-7EE6804D260B}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
WELD
    END-POINT    787700.000    1089984.357    100961.475    0.75    
    END-POINT    787700.000    1089984.357    100961.475    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-008
    UCI    {000138AA-0000-0000-8078-7EE6804D260B}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-008
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    787700.000    1089984.357    100894.800    0.75    
    END-POINT    787700.000    1089984.357    100793.200    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-8478-7EE6804D260B}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.367
WELD
    END-POINT    787700.000    1089984.357    100894.800    0.75    
    END-POINT    787700.000    1089984.357    100894.800    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-007
    UCI    {000138AA-0000-0000-8F78-7EE6804D260B}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-007
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
CAP
    END-POINT    787700.000    1089984.357    100793.200    0.75    SC
    END-POINT    787700.000    1089984.357    100775.737    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-9278-7EE6804D260B}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    789400.000    1089984.357    101606.000     10    
    END-POINT    789400.000    1089984.357    102355.525     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-E6F4-8914ED4C7704}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    749.53
WELD
    END-POINT    789400.000    1089984.357    102355.525     10    
    END-POINT    789400.000    1089984.357    102355.525     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-005
    UCI    {000138AA-0000-0000-BFC7-1747244EDA05}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-005
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    787519.000    1090366.018    102736.525        
    BRANCH1-POINT    787519.000    1090366.018    102898.450    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P8U
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-3E06-AC5B184E6F04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-022
    UCI    {000138AA-0000-0000-4C06-AC5B184E6F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-022
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    787519.000    1090366.018    102898.450    0.75    
    END-POINT    787519.000    1090366.018    102898.450    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-023
    UCI    {000138AA-0000-0000-B406-AC5B184E6F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-023
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    787519.000    1090366.018    102898.450    0.75    
    END-POINT    787519.000    1090366.018    103000.050    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-AA06-AC5B184E6F04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.295
WELD
    END-POINT    787519.000    1090366.018    103000.050    0.75    
    END-POINT    787519.000    1090366.018    103000.050    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-021
    UCI    {000138AA-0000-0000-C406-AC5B184E6F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-021
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    787519.000    1090366.018    103000.050    0.75    SW
    END-POINT    787519.000    1090366.018    103066.725    0.75    SW
    CENTRE-POINT    787519.000    1090366.018    103033.388        
    SKEY    VV**
    ITEM-CODE    PVVG8AB51001
    ITEM-DESCRIPTION    Gate Valve,CL800,SW,Tr.5,A105N, Tag No:GS-08V0-0501
    FLOW    2
    UCI    {00013885-0000-0000-B806-AC5B184E6F04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
WELD
    END-POINT    787519.000    1090366.018    103066.725    0.75    
    END-POINT    787519.000    1090366.018    103066.725    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-020
    UCI    {000138AA-0000-0000-D206-AC5B184E6F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-020
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    787519.000    1090366.018    103066.725    0.75    
    END-POINT    787519.000    1090366.018    103168.325    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-C806-AC5B184E6F04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.367
CAP
    END-POINT    787519.000    1090366.018    103168.325    0.75    SC
    END-POINT    787519.000    1090366.018    103185.788    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-D506-AC5B184E6F04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
FLANGE
    END-POINT    787081.000    1089984.357    101519.475     2    
    END-POINT    787081.000    1089984.357    101449.625     2    
    SKEY    FLWN
    ITEM-CODE    PFFWG1350205
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-6112-CD11134E4705}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
BOLT
    CO-ORDS    787081.000    1089984.357    101519.475        
    UCI    {000138A9-0000-0000-0B0D-6B706B4E9C04}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    787081.000    1089984.357    101522.650     2    
    END-POINT    787081.000    1089984.357    101519.475     2    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-0A0D-6B706B4E9C04}
    ITEM-CODE    PGGC21300804
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
PIPE
    END-POINT    787081.000    1089984.357    101399.625     2    
    END-POINT    787081.000    1089984.357    101449.625     2    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    5.432
    UCI    {0001388C-0000-0000-830E-CD11134E4705}
    ITEM-CODE    PPPCH2050100
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    50.00
WELD
    END-POINT    787081.000    1089984.357    101449.625     2    
    END-POINT    787081.000    1089984.357    101449.625     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-002
    UCI    {000138AA-0000-0000-6E12-CD11134E4705}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-002
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    787081.000    1089984.357    101225.000        
    BRANCH1-POINT    787081.000    1089984.357    101399.625     2    
    SKEY    WTBW
    ITEM-CODE    PFLWG1001T8X
    ITEM-DESCRIPTION    Weldolet, A105N, StdWt
    UCI    {00013885-0000-0000-BB06-CD11134E4705}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-014
    UCI    {000138AA-0000-0000-C806-CD11134E4705}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-014
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    787081.000    1089984.357    101399.625     2    
    END-POINT    787081.000    1089984.357    101399.625     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-013
    UCI    {000138AA-0000-0000-950E-CD11134E4705}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-013
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    786400.000    1089445.357    101225.000     10    
    END-POINT    786400.000    1089603.357    101225.000     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-2202-EAD00D4E4804}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    158.00
WELD
    END-POINT    786400.000    1089603.357    101225.000     10    
    END-POINT    786400.000    1089603.357    101225.000     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-006
    UCI    {000138AA-0000-0000-6764-7EE6804D260B}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-006
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-CONCENTRIC
    END-POINT    786400.000    1089445.357    101225.000     10    BW
    END-POINT    786400.000    1089267.557    101225.000     8    BW
    SKEY    RC**
    ITEM-CODE    PFCRG5051E1Q
    ITEM-DESCRIPTION    RedCon, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-7202-EAD00D4E4804}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    786400.000    1089445.357    101225.000     10    
    END-POINT    786400.000    1089445.357    101225.000     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-025
    UCI    {000138AA-0000-0000-8A02-EAD00D4E4804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-025
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    786400.000    1089267.557    101225.000     8    
    END-POINT    786400.000    1089267.557    101225.000     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-024
    UCI    {000138AA-0000-0000-8802-EAD00D4E4804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-004-SW-024
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop tack weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    786400.000    1089156.432    101225.000     8    
    END-POINT    786400.000    1089267.557    101225.000     8    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020B
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-7902-EAD00D4E4804}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    **TACK WELD ONLY**$FIELD WELD TO BE COMPLETED$UPON PUMP SETTING AND FIT-UP
BOLT
    CO-ORDS    786400.000    1089156.432    101225.000        
    UCI    {000138A9-0000-0000-8702-EAD00D4E4804}
    BOLT-DIA     .875
    BOLT-LENGTH     5.5
    BOLT-QUANTITY    12
    BOLT-ITEM-CODE    FBBS5D00002C
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  5.5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    786400.000    1089153.257    101225.000     8    
    END-POINT    786400.000    1089156.432    101225.000     8    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-8602-EAD00D4E4804}
    ITEM-CODE    PGGC2130080A
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
PIPE
    END-POINT    784101.608    1090366.018    102736.525     10    
    END-POINT    779337.225    1090366.018    102736.525     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BFW-205-23048
    PIPING-SPEC    BVA
    WEIGHT    61.169
    UCI    {0001388C-0000-0000-5513-65D10D4E8704}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CONTINUATION
WELD
    END-POINT    784101.608    1090366.018    102736.525     10    
    END-POINT    784101.608    1090366.018    102736.525     10    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    FW-001
    UCI    {000138AA-0000-0000-7B05-9203CC4D1F06}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C04-05-BFW-LIM-23048-003-FW-001
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
    STATUS    DOTTED-UNDIMENSIONED
FLOW-ARROW
    CO-ORDS    785810.304    1090366.018    102736.525
    FLOW 1
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    787081.000    1089984.357    101424.625
    FLOW 2
    SKEY FLOW
FLOW-ARROW
    CO-ORDS    786400.000    1089524.357    101225.000
    FLOW 1
    SKEY FLOW
END-POSITION-OPEN
    CO-ORDS    789399.990    1089984.357    100336.984
END-POSITION-CLOSED
    CO-ORDS    787450.000    1089984.357    101609.810
END-CONNECTION-PIPELINE
    CO-ORDS    779337.225    1090366.018    102736.525
    CONNECTION-REFERENCE  SUR2-C04-05-BFW-LIM-23048-003
END-POSITION-CLOSED
    CO-ORDS    787081.000    1089984.357    101543.351
END-POSITION-CLOSED
    CO-ORDS    787700.000    1089984.357    100775.737
END-POSITION-CLOSED
    CO-ORDS    787519.000    1090366.018    103185.788
END-CONNECTION-EQUIPMENT
    CO-ORDS    786400.000    1089153.257    101225.000
    CONNECTION-REFERENCE  205-P-109/DISCHARGE$8 in RFFE 300
MATERIALS
ITEM-CODE    PPPCDT050605
    DESCRIPTION    Dummy/Trunion Pipe CS Std Wall A106 GrB ( For Use on Supports ONLY)
ITEM-CODE    TSP2-1
    DESCRIPTION    TSP2 "Teflon" Slide Plate Assembly for Adjustable Base Support$Tag No: TSP2-1 $
ITEM-CODE    BSA4-1-10"-B
    DESCRIPTION    BSA4-1 Base Support Adjustable for Pipe Size 10" to 20"$Tag No: BSA4-1-10"-B $
ITEM-CODE    PFQNG505160M
    DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
ITEM-CODE    PFRNG505140M
    DESCRIPTION    El - 45, LR, BW, A234-WPB, StdWt
ITEM-CODE    PFNPH20D0504
    DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
ITEM-CODE    PVVG8BB51001
    DESCRIPTION    Gate Valve,CL800,FSWxFNPT,Tr.5,A105N, Tag No:GX-08V0-0501
ITEM-CODE    PFTPG1000H01
    DESCRIPTION    Plug H/Hd, MNPT, A105N
ITEM-CODE    PPPCH2050106
    DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
ITEM-CODE    G6
    DESCRIPTION    G6 Pipe Guide, 8" to 24"$Tag No: G6 $
ITEM-CODE    DA4
    DESCRIPTION    DA4 Directional Anchor for Insulated lines, Pipe Sizes 2" to 10"$Tag No: DA4 $
ITEM-CODE    S2-3-A-10"
    DESCRIPTION    S2-3-A Pipe Shoe (Carbon Steel) Pipe Size 8" To 24"$Tag No: S2-3-A-10" $
ITEM-CODE    PFLSG1W01P8U
    DESCRIPTION    Sockolet, A105N, CL6000
ITEM-CODE    PVVG8AB51001
    DESCRIPTION    Gate Valve,CL800,SW,Tr.5,A105N, Tag No:GS-08V0-0501
ITEM-CODE    PFNPH2091N04
    DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
ITEM-CODE    PFCCG1W00801
    DESCRIPTION    Cap, FNPT, A105N, CL6000
ITEM-CODE    PFFWG1350205
    DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
ITEM-CODE    FBBS5D00000X
    DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
ITEM-CODE    PGGC21300804
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
ITEM-CODE    PPPCH2050100
    DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
ITEM-CODE    PFLWG1001T8X
    DESCRIPTION    Weldolet, A105N, StdWt
ITEM-CODE    PFCRG5051E1Q
    DESCRIPTION    RedCon, BW, A234-WPB, StdWt
ITEM-CODE    PFFWG135020B
    DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
ITEM-CODE    FBBS5D00002C
    DESCRIPTION    StdBlt, A193B7/2H -  5.5 in. Length
ITEM-CODE    PGGC2130080A
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
