ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   SUR2-C05-05-BD-LIM-21023-001
    PIPING-SPEC   BVA
    INSULATION-SPEC   MINERAL WOOL
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE25   205
    ATTRIBUTE21   205-CWA-006
    ATTRIBUTE9   03/02/2012 8:43:30 AM
    ATTRIBUTE24   SUR2-C05-05-BD-LIM-21023-001
    ATTRIBUTE87   Refer to LDT
    ATTRIBUTE97   Refer to LDT
    ATTRIBUTE89   Refer to LDT
    ATTRIBUTE95   Refer to LDT
    ATTRIBUTE88   Refer to LDT
    ATTRIBUTE96   Refer to LDT
    ATTRIBUTE98   Refer to LDT
    ATTRIBUTE86   Refer to LDT
    ATTRIBUTE83   V1[InsulationThickness]
    ATTRIBUTE93   V1[LineNumber]
    ATTRIBUTE92   V1[LineSpec]
    ATTRIBUTE85   V1[PaintCode]
    ATTRIBUTE84   V1[PostWeldHeatTreatmentFlag]
    ATTRIBUTE91   V1[StartPID]
    ATTRIBUTE82   V1[TracerCode]
    ATTRIBUTE94   V1[systemid]
    ATTRIBUTE90   V1[TagNumber]
    MISC-SPEC1    BD-205-21023
    HIGHEST-WELD-NUMBER    1    1024
FLANGE
    END-POINT    1187971.524    1418500.000    100933.013     10    
    END-POINT    1188088.999    1418500.000    100933.013     10    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020C
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-1306-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
BOLT
    CO-ORDS    1187971.524    1418500.000    100933.013        
    UCI    {000138A9-0000-0000-2E06-41C1614C1005}
    BOLT-DIA     1
    BOLT-LENGTH     6.25
    BOLT-QUANTITY    16
    BOLT-ITEM-CODE    FBBS5D000036
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  6.25 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1187971.524    1418500.000    100933.013     10    
    END-POINT    1187968.349    1418500.000    100933.013     10    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-2D06-41C1614C1005}
    ITEM-CODE    PGGC2130080B
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
FLANGE
    END-POINT    1187968.349    1418500.000    100933.013     10    
    END-POINT    1187850.874    1418500.000    100933.013     10    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020C
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-2206-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    SPOOL-IDENTIFIER    C05-05-BD-LIM-21023-001-C
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1187850.874    1418500.000    100933.013     10    
    END-POINT    1187850.874    1418500.000    100933.013     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-107
    UCI    {000138AA-0000-0000-3C06-41C1614C1005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-107
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    1187733.399    1418500.000    100933.013     10    
    END-POINT    1187850.874    1418500.000    100933.013     10    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020C
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-3106-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
BOLT
    CO-ORDS    1187733.399    1418500.000    100933.013        
    UCI    {000138A9-0000-0000-5A06-41C1614C1005}
    BOLT-DIA     1
    BOLT-LENGTH     7.25
    BOLT-QUANTITY    16
    BOLT-ITEM-CODE    FBBS5D00003A
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  7.25 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1187733.399    1418500.000    100933.013     10    
    END-POINT    1187730.224    1418500.000    100933.013     10    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-4C06-41C1614C1005}
    ITEM-CODE    PGGC2130080B
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
MISC-COMPONENT
    END-POINT    1187730.224    1418500.000    100933.013     10    FL
    END-POINT    1187704.824    1418500.000    100933.013     10    FL
    CENTRE-POINT    1187717.524    1418500.000    100933.013        
    SKEY    SB
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    PFXAPV302E0M
    ITEM-DESCRIPTION    Blnd-Spec, RF, A516-70N, CL300
    FLOW    1
    UCI    {00013885-0000-0000-4006-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    OPERATE OPEN
    MESSAGE
    TEXT    DRILL AND TAP FLANGE$AND SUPPLY JACK SCREWS AS PER$SUR2-AOA-00-ENG-MST-0045 DETAIL 13.
GASKET
    END-POINT    1187704.824    1418500.000    100933.013     10    
    END-POINT    1187701.649    1418500.000    100933.013     10    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-5906-41C1614C1005}
    ITEM-CODE    PGGC2130080B
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
FLANGE
    END-POINT    1187701.649    1418500.000    100933.013     10    
    END-POINT    1187584.174    1418500.000    100933.013     10    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020C
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-4F06-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
ELBOW
    END-POINT    1186244.999    1418500.000    100933.012     10    BW
    END-POINT    1185863.999    1418500.000    101314.012     10    BW
    CENTRE-POINT    1185863.999    1418500.000    100933.012        
    SKEY    EL**
    ITEM-CODE    PFQNG505160M
    ITEM-DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
    TAP-CONNECTION    
    CO-ORDS    1185863.999    1418500.000    100979.225     8    
    UCI    {00013885-0000-0000-8E06-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1186244.999    1418500.000    100933.012     10    
    END-POINT    1186244.999    1418500.000    100933.013     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-106
    UCI    {000138AA-0000-0000-F02B-C1E4FC4C6904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-106
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1185863.999    1418500.000    101314.012     10    
    END-POINT    1185863.999    1418500.000    101314.013     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-105
    UCI    {000138AA-0000-0000-D807-41C1614C1005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-105
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    1185863.999    1418500.000    101431.488     10    
    END-POINT    1185863.999    1418500.000    101314.013     10    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020C
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-A606-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
BOLT
    CO-ORDS    1185863.999    1418500.000    101431.488        
    UCI    {000138A9-0000-0000-CC06-41C1614C1005}
    BOLT-DIA     1
    BOLT-LENGTH     6.25
    BOLT-QUANTITY    16
    BOLT-ITEM-CODE    FBBS5D000036
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  6.25 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1185863.999    1418500.000    101431.488     10    
    END-POINT    1185863.999    1418500.000    101434.662     10    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-CB06-41C1614C1005}
    ITEM-CODE    PGGC2130080B
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
FLANGE
    END-POINT    1188416.124    1418500.000    100933.013     10    
    END-POINT    1188533.599    1418500.000    100933.013     10    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020C
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-B405-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
BOLT
    CO-ORDS    1188416.124    1418500.000    100933.013        
    UCI    {000138A9-0000-0000-DF05-41C1614C1005}
    BOLT-DIA     1
    BOLT-LENGTH     6.5
    BOLT-QUANTITY    16
    BOLT-ITEM-CODE    FBBS5D000037
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  6.5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1188416.124    1418500.000    100933.013     10    
    END-POINT    1188412.949    1418500.000    100933.013     10    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-CF05-41C1614C1005}
    ITEM-CODE    PGGC2130080B
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
WELD
    END-POINT    1188533.599    1418500.000    100933.013     10    
    END-POINT    1188533.599    1418500.000    100933.013     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-109
    UCI    {000138AA-0000-0000-9F30-C1E4FC4C6904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-109
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    1185863.999    1418500.000    101434.662     10    FL
    END-POINT    1185863.999    1418500.000    101891.862     10    FL
    CENTRE-POINT    1185863.999    1418500.000    101663.262        
    SKEY    VV**
    ITEM-CODE    PVVG3FB51G0A
    ITEM-DESCRIPTION    Gate Valve,CL300,RF,Tr.5,A216-WCB,GO,Tag No:GF-03V0-0501-C
    FLOW    1
    UCI    {00013885-0000-0000-B506-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    ERECTION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
BOLT
    CO-ORDS    1185863.999    1418500.000    101891.862        
    UCI    {000138A9-0000-0000-4307-41C1614C1005}
    BOLT-DIA     1
    BOLT-LENGTH     6.25
    BOLT-QUANTITY    16
    BOLT-ITEM-CODE    FBBS5D000036
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  6.25 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1185863.999    1418500.000    101895.037     10    
    END-POINT    1185863.999    1418500.000    101891.862     10    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-4207-41C1614C1005}
    ITEM-CODE    PGGC2130080B
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
FILTER
    END-POINT    1188412.949    1418500.000    100933.013     10    FL
    END-POINT    1188409.649    1418500.000    100933.013     10    FL
    SKEY    FIFL
    ITEM-CODE    PYSTCS30000A
    ITEM-DESCRIPTION    Start Up Strainer Cone CL300, B16.5, 100%, 1/8"@3/16" A516-70N MST0045-Det.11
    FLOW    1
    UCI    {00013885-0000-0000-C305-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    ERECTION-ITEM
    WEIGHT    0.000
GASKET
    END-POINT    1188409.649    1418500.000    100933.013     10    
    END-POINT    1188406.474    1418500.000    100933.013     10    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-DE05-41C1614C1005}
    ITEM-CODE    PGGC2130080B
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
FLANGE
    END-POINT    1188406.474    1418500.000    100933.013     10    
    END-POINT    1188288.999    1418500.000    100933.013     10    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020C
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-D205-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1188288.999    1418500.000    100933.013     10    
    END-POINT    1188288.999    1418500.000    100933.013     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-108
    UCI    {000138AA-0000-0000-EA05-41C1614C1005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-108
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1188288.999    1418500.000    100933.013     10    
    END-POINT    1188088.999    1418500.000    100933.013     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    61.509
    UCI    {0001388C-0000-0000-E405-41C1614C1005}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    SPOOL-IDENTIFIER    C05-05-BD-LIM-21023-001-B
    CUT-PIECE-LENGTH    200.00
WELD
    END-POINT    1188088.999    1418500.000    100933.013     10    
    END-POINT    1188088.999    1418500.000    100933.013     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-101
    UCI    {000138AA-0000-0000-1E06-41C1614C1005}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-101
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1188633.599    1418500.000    101107.638     2    
    END-POINT    1188633.599    1418500.000    101207.638     2    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    5.865
    UCI    {0001388C-0000-0000-0B0E-54C3FC4E6D04}
    ITEM-CODE    PPPCH2050100
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    SPOOL-IDENTIFIER    C05-05-BD-LIM-21023-001-A
    CUT-PIECE-LENGTH    100.00
WELD
    END-POINT    1188633.599    1418500.000    101207.638     2    
    END-POINT    1188633.599    1418500.000    101207.638     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-101
    UCI    {000138AA-0000-0000-300E-54C3FC4E6D04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-101
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    1188633.599    1418500.000    101280.662     2    FL
    END-POINT    1188633.599    1418500.000    101496.563     2    FL
    CENTRE-POINT    1188633.599    1418500.000    101388.612        
    SKEY    VV**
    ITEM-CODE    PVVG3FB51004
    ITEM-DESCRIPTION    Gate Valve,CL300,RF,Tr.5,A216-WCB, Tag No:GF-03V0-0501
    FLOW    0
    UCI    {00013885-0000-0000-190E-54C3FC4E6D04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    ERECTION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    WEST
    DIRECTION    S  45 W
BOLT
    CO-ORDS    1188633.599    1418500.000    101496.563        
    UCI    {000138A9-0000-0000-900E-54C3FC4E6D04}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
BOLT
    CO-ORDS    1188633.599    1418500.000    101280.662        
    UCI    {000138A9-0000-0000-330E-54C3FC4E6D04}
    BOLT-DIA     .625
    BOLT-LENGTH     3.5
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    FBBS5D00000X
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1188633.599    1418500.000    101496.563     2    
    END-POINT    1188633.599    1418500.000    101499.738     2    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-8F0E-54C3FC4E6D04}
    ITEM-CODE    PGGC21300804
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
GASKET
    END-POINT    1188633.599    1418500.000    101280.662     2    
    END-POINT    1188633.599    1418500.000    101277.488     2    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-320E-54C3FC4E6D04}
    ITEM-CODE    PGGC21300804
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
FLANGE
    END-POINT    1188633.599    1418500.000    101277.488     2    
    END-POINT    1188633.599    1418500.000    101207.638     2    
    SKEY    FLWN
    ITEM-CODE    PFFWG1350205
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-260E-54C3FC4E6D04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
INSTRUMENT
    END-POINT    1188633.599    1418500.000    101499.738     2    FL
    END-POINT    1188633.599    1418500.000    101520.439     2    
    CENTRE-POINT    1188633.599    1418500.000    101499.738        
    SKEY    II**
    ITEM-CODE    205-PG-21054
    FLOW    0
    UCI    {000138B6-0000-0000-810E-54C3FC4E6D04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    ERECTION-ITEM
    WEIGHT    0.000
    TAG    205$PG$21054
OLET
    CENTRE-POINT    1188633.599    1418500.000    100933.012        
    BRANCH1-POINT    1188633.599    1418500.000    101107.638     2    
    SKEY    WTBW
    ITEM-CODE    PFLWG1001T8X
    ITEM-DESCRIPTION    Weldolet, A105N, StdWt
    UCI    {00013885-0000-0000-D90D-54C3FC4E6D04}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-103
    UCI    {000138AA-0000-0000-E70D-54C3FC4E6D04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-103
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1188633.599    1418500.000    101107.638     2    
    END-POINT    1188633.599    1418500.000    101107.638     2    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-102
    UCI    {000138AA-0000-0000-150E-54C3FC4E6D04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-102
    WELD-ATTRIBUTE2     2
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1185863.999    1418500.000    100531.742     8    
    END-POINT    1185863.999    1418500.000    100979.225     8    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    43.544
    UCI    {0001388C-0000-0000-0664-74479B4C5904}
    ITEM-CODE    PPPCDT050605
    ITEM-DESCRIPTION    Dummy/Trunion Pipe CS Std Wall A106 GrB ( For Use on Supports ONLY)
    SPOOL-IDENTIFIER    C05-05-BD-LIM-21023-001-D
    CUT-PIECE-LENGTH    447.48
SUPPORT
    CO-ORDS    1185863.999    1418500.000    100531.747     8
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    G16-3-B
    ITEM-DESCRIPTION    G16-B Guide for Base Supports, Pipe Sizes 2" & 24"$Tag No: G16-3-B $
    WEIGHT    49.930
    UCI    {00022303-0000-0000-AA8E-DD44D14EB304}
    NAME    G16_2-3-2891
    ERECTION-ITEM
    MESSAGE-SQUARE
    TEXT    GUIDE IN N/S DIRECTION$FREE TO MOVE E/W DIRECTION$INSTALL GUIDES WITH ZERO GAP
SUPPORT
    CO-ORDS    1185863.999    1418500.000    100531.747     8
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    BSA10-1-10"-B
    ITEM-DESCRIPTION    BSA10-1Base Support Adjustable with Bottom Plate for Pipe Size 10" to 20"$Tag No: BSA10-1-10"-B $
    WEIGHT    0.000
    UCI    {00022303-0000-0000-2C89-DD44D14EB304}
    NAME    BSA10_1-3-5
    ERECTION-ITEM
SUPPORT
    CO-ORDS    1185863.999    1418500.000    100531.747     8
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    TSP2-1
    ITEM-DESCRIPTION    TSP2 "Teflon" Slide Plate Assembly for Adjustable Base Support$Tag No: TSP2-1 $
    WEIGHT    0.000
    UCI    {00022303-0000-0000-ED9B-DD44D14EB304}
    NAME    TSP2_1-3-514
    ERECTION-ITEM
WELD
    END-POINT    1185863.999    1418500.000    100979.225     8    
    END-POINT    1185863.999    1418500.000    100979.225     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-104
    UCI    {000138AA-0000-0000-5A64-74479B4C5904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-104
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1187081.074    1418500.000    100531.742     8    
    END-POINT    1187081.074    1418500.000    100796.488     8    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    42.487
    UCI    {0001388C-0000-0000-8F93-AC27404DDC04}
    ITEM-CODE    PPPCDT050605
    ITEM-DESCRIPTION    Dummy/Trunion Pipe CS Std Wall A106 GrB ( For Use on Supports ONLY)
    CUT-PIECE-LENGTH    264.75
SUPPORT
    CO-ORDS    1187081.074    1418500.000    100531.747     8
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    BSA10-1-10"-A
    ITEM-DESCRIPTION    BSA10-1Base Support Adjustable with Bottom Plate for Pipe Size 10" to 20"$Tag No: BSA10-1-10"-A $
    WEIGHT    0.000
    UCI    {00022303-0000-0000-2C4F-DD44D14EB304}
    NAME    BSA10_1-3-3
    ERECTION-ITEM
SUPPORT
    CO-ORDS    1187081.074    1418500.000    100531.747     8
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    G16-3-B
    ITEM-DESCRIPTION    G16-B Guide for Base Supports, Pipe Sizes 2" & 24"$Tag No: G16-3-B $
    WEIGHT    49.930
    UCI    {00022303-0000-0000-685C-DD44D14EB304}
    NAME    G16_2-3-2861
    ERECTION-ITEM
    MESSAGE-SQUARE
    TEXT    GUIDE IN N/S DIRECTION$FREE TO MOVE E/W DIRECTION$INSTALL GUIDES WITH ZERO GAP
SUPPORT
    CO-ORDS    1187081.074    1418500.000    100531.747     8
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    TSP2-1
    ITEM-DESCRIPTION    TSP2 "Teflon" Slide Plate Assembly for Adjustable Base Support$Tag No: TSP2-1 $
    WEIGHT    0.000
    UCI    {00022303-0000-0000-1F56-DD44D14EB304}
    NAME    TSP2_1-3-512
    ERECTION-ITEM
WELD
    END-POINT    1187081.074    1418500.000    100796.488     8    
    END-POINT    1187081.074    1418500.000    100796.488     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-201
    UCI    {000138AA-0000-0000-B093-AC27404DDC04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-201
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
OLET
    CENTRE-POINT    1188683.599    1418500.000    100933.013        
    BRANCH1-POINT    1188683.599    1418500.000    100771.088    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P8U
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-0603-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-118
    UCI    {000138AA-0000-0000-1403-B43FFE4C6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-118
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1188683.599    1418500.000    100771.088    0.75    
    END-POINT    1188683.599    1418500.000    100771.088    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-119
    UCI    {000138AA-0000-0000-D703-B43FFE4C6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-119
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
CAP
    END-POINT    1186344.999    1418500.000    100501.213    0.75    SC
    END-POINT    1186344.999    1418500.000    100483.750    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-0D05-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
OLET
    CENTRE-POINT    1186344.999    1418500.000    100933.013        
    BRANCH1-POINT    1186344.999    1418500.000    100771.088    0.75    
    SKEY    SKSW
    ITEM-CODE    PFLSG1W01P8U
    ITEM-DESCRIPTION    Sockolet, A105N, CL6000
    UCI    {00013885-0000-0000-6804-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-113
    UCI    {000138AA-0000-0000-7604-B43FFE4C6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-113
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    1186344.999    1418500.000    100771.088    0.75    
    END-POINT    1186344.999    1418500.000    100771.088    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-114
    UCI    {000138AA-0000-0000-EB04-B43FFE4C6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-114
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1188683.599    1418500.000    100771.088    0.75    
    END-POINT    1188683.599    1418500.000    100669.488    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-CD03-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.325
VALVE
    END-POINT    1188683.599    1418500.000    100669.488    0.75    SW
    END-POINT    1188683.599    1418500.000    100602.813    0.75    SW
    CENTRE-POINT    1188683.599    1418500.000    100636.150        
    SKEY    VV**
    ITEM-CODE    PVVG8AB51001
    ITEM-DESCRIPTION    Gate Valve,CL800,SW,Tr.5,A105N, Tag No:GS-08V0-0501
    FLOW    3
    UCI    {00013885-0000-0000-DB03-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    SOUTH
    DIRECTION    SOUTH
WELD
    END-POINT    1188683.599    1418500.000    100669.488    0.75    
    END-POINT    1188683.599    1418500.000    100669.488    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-116
    UCI    {000138AA-0000-0000-E703-B43FFE4C6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-116
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    1186344.999    1418500.000    100771.088    0.75    
    END-POINT    1186344.999    1418500.000    100669.488    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH20D0504
    ITEM-DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
    UCI    {00013885-0000-0000-E104-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.325
PIPE-FIXED
    END-POINT    1188683.599    1418500.000    100602.813    0.75    
    END-POINT    1188683.599    1418500.000    100501.213    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-EB03-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.398
WELD
    END-POINT    1188683.599    1418500.000    100602.813    0.75    
    END-POINT    1188683.599    1418500.000    100602.813    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-115
    UCI    {000138AA-0000-0000-F603-B43FFE4C6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-115
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    1186344.999    1418500.000    100669.488    0.75    SW
    END-POINT    1186344.999    1418500.000    100602.813    0.75    SW
    CENTRE-POINT    1186344.999    1418500.000    100636.150        
    SKEY    VV**
    ITEM-CODE    PVVG8AB51001
    ITEM-DESCRIPTION    Gate Valve,CL800,SW,Tr.5,A105N, Tag No:GS-08V0-0501
    FLOW    3
    UCI    {00013885-0000-0000-EF04-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    SOUTH
    DIRECTION    SOUTH
WELD
    END-POINT    1186344.999    1418500.000    100669.488    0.75    
    END-POINT    1186344.999    1418500.000    100669.488    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-112
    UCI    {000138AA-0000-0000-FB04-B43FFE4C6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-112
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
CAP
    END-POINT    1188683.599    1418500.000    100501.213    0.75    SC
    END-POINT    1188683.599    1418500.000    100483.750    0.75    
    SKEY    KA**
    ITEM-CODE    PFCCG1W00801
    ITEM-DESCRIPTION    Cap, FNPT, A105N, CL6000
    UCI    {00013885-0000-0000-F903-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
PIPE-FIXED
    END-POINT    1186344.999    1418500.000    100602.813    0.75    
    END-POINT    1186344.999    1418500.000    100501.213    0.75    
    SKEY    FPPL
    ITEM-CODE    PFNPH2091N04
    ITEM-DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
    UCI    {00013885-0000-0000-FF04-B43FFE4C6204}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.398
WELD
    END-POINT    1186344.999    1418500.000    100602.813    0.75    
    END-POINT    1186344.999    1418500.000    100602.813    0.75    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-111
    UCI    {000138AA-0000-0000-0A05-B43FFE4C6204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-111
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    1187584.174    1418500.000    100933.013     10    
    END-POINT    1187081.074    1418500.000    100933.013     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    61.509
    UCI    {0001388C-0000-0000-E82B-C1E4FC4C6904}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    1339.17
PIPE
    END-POINT    1187081.074    1418500.000    100933.013     10    
    END-POINT    1186344.999    1418500.000    100933.013     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    61.509
    UCI    {0001388C-0000-0000-E82B-C1E4FC4C6904}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    1339.17
PIPE
    END-POINT    1186344.999    1418500.000    100933.013     10    
    END-POINT    1186244.999    1418500.000    100933.013     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    61.509
    UCI    {0001388C-0000-0000-E82B-C1E4FC4C6904}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    1339.17
TAP-CONNECTION
    UCI    {0001388C-0000-0000-E82B-C1E4FC4C6904}
    CO-ORDS    1187081.074    1418500.000    100796.488     8
WELD
    END-POINT    1187584.174    1418500.000    100933.013     10    
    END-POINT    1187584.174    1418500.000    100933.013     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-103
    UCI    {000138AA-0000-0000-DA2D-C1E4FC4C6904}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-103
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    1189119.825    1418500.000    100960.000     8    
    END-POINT    1189008.700    1418500.000    100960.000     8    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020B
    ITEM-DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
    UCI    {00013885-0000-0000-20D9-DD44D14EB304}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    **TACK WELD ONLY**$FIELD WELD TO BE COMPLETED$UPON PUMP SETTING AND FIT-UP
BOLT
    CO-ORDS    1189119.825    1418500.000    100960.000        
    UCI    {000138A9-0000-0000-2AD9-DD44D14EB304}
    BOLT-DIA     .875
    BOLT-LENGTH     5.5
    BOLT-QUANTITY    12
    BOLT-ITEM-CODE    FBBS5D00002C
    BOLT-ITEM-DESCRIPTION    StdBlt, A193B7/2H -  5.5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    1189123.000    1418500.000    100960.000     8    
    END-POINT    1189119.825    1418500.000    100960.000     8    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-29D9-DD44D14EB304}
    ITEM-CODE    PGGC2130080A
    ITEM-DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
PIPE
    END-POINT    1188683.599    1418500.000    100933.013     10    
    END-POINT    1188633.599    1418500.000    100933.013     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    61.509
    UCI    {0001388C-0000-0000-23DA-DD44D14EB304}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    297.30
PIPE
    END-POINT    1188830.900    1418500.000    100933.013     10    
    END-POINT    1188683.599    1418500.000    100933.013     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    61.509
    UCI    {0001388C-0000-0000-23DA-DD44D14EB304}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    297.30
PIPE
    END-POINT    1188633.599    1418500.000    100933.013     10    
    END-POINT    1188533.599    1418500.000    100933.013     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    WEIGHT    61.509
    UCI    {0001388C-0000-0000-23DA-DD44D14EB304}
    ITEM-CODE    PPPCH2050106
    ITEM-DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
    CUT-PIECE-LENGTH    297.30
WELD
    END-POINT    1188830.900    1418500.000    100933.013     10    
    END-POINT    1188830.900    1418500.000    100933.013     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-004
    UCI    {000138AA-0000-0000-7BDA-DD44D14EB304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-004
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    1188830.900    1418500.000    100933.013     10    BW
    END-POINT    1189008.700    1418500.000    100960.000     8    BW
    SKEY    RE**
    ITEM-CODE    PFCSG5051E1Q
    ITEM-DESCRIPTION    RedEcc, BW, A234-WPB, StdWt
    UCI    {00013885-0000-0000-31D9-DD44D14EB304}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21023
    PIPING-SPEC    BVA
    FABRICATION-ITEM
    WEIGHT    0.000
    FLAT-DIRECTION    UP
WELD
    END-POINT    1189008.700    1418500.000    100960.000     8    
    END-POINT    1189008.700    1418500.000    100960.000     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    SW-201
    UCI    {000138AA-0000-0000-3AD9-DD44D14EB304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    SUR2-C05-05-BD-LIM-21023-001-SW-201
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop tack weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    CONTINUATION
    END-POINT    1185863.999    1418500.000    101895.037     10    
    END-POINT    1185863.999    1418500.000    102012.512     10    
    SKEY    FLWN
    ITEM-CODE    PFFWG135020C
    MATERIAL-LIST    EXCLUDE
    UCI    {00013885-0000-0000-3407-41C1614C1005}
    INSULATION ON
    INSULATION-SPEC    MINERAL WOOL
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC1    BD-205-21019
    PIPING-SPEC    AVA
    FABRICATION-ITEM
    WEIGHT    0.000
FLOW-ARROW
    CO-ORDS    1186713.037    1418500.000    100933.013
    FLOW 1
    SKEY FLOW
END-CONNECTION-PIPELINE
    CO-ORDS    1185863.999    1418500.000    102012.512
    CONNECTION-REFERENCE  SUR2-C05-05-BD-LIM-21019-001
END-POSITION-CLOSED
    CO-ORDS    1188633.599    1418500.000    101520.439
END-POSITION-OPEN
    CO-ORDS    1185863.999    1418500.000    100531.742
END-POSITION-OPEN
    CO-ORDS    1187081.074    1418500.000    100531.742
END-POSITION-CLOSED
    CO-ORDS    1186344.999    1418500.000    100483.750
END-POSITION-CLOSED
    CO-ORDS    1188683.599    1418500.000    100483.750
END-CONNECTION-EQUIPMENT
    CO-ORDS    1189123.000    1418500.000    100960.000
    CONNECTION-REFERENCE  205-P-011/N1 $8 in RFFE 300
MATERIALS
ITEM-CODE    PFFWG135020C
    DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
ITEM-CODE    FBBS5D000036
    DESCRIPTION    StdBlt, A193B7/2H -  6.25 in. Length
ITEM-CODE    PGGC2130080B
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
ITEM-CODE    FBBS5D00003A
    DESCRIPTION    StdBlt, A193B7/2H -  7.25 in. Length
ITEM-CODE    PFXAPV302E0M
    DESCRIPTION    Blnd-Spec, RF, A516-70N, CL300
ITEM-CODE    PFQNG505160M
    DESCRIPTION    El - 90, LR, BW, A234-WPB, StdWt
ITEM-CODE    FBBS5D000037
    DESCRIPTION    StdBlt, A193B7/2H -  6.5 in. Length
ITEM-CODE    PVVG3FB51G0A
    DESCRIPTION    Gate Valve,CL300,RF,Tr.5,A216-WCB,GO,Tag No:GF-03V0-0501-C
ITEM-CODE    PYSTCS30000A
    DESCRIPTION    Start Up Strainer Cone CL300, B16.5, 100%, 1/8"@3/16" A516-70N MST0045-Det.11
ITEM-CODE    PPPCH2050106
    DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
ITEM-CODE    PPPCH2050100
    DESCRIPTION    Pipe, A106-B, SMLS, Std Wt, BBE
ITEM-CODE    PVVG3FB51004
    DESCRIPTION    Gate Valve,CL300,RF,Tr.5,A216-WCB, Tag No:GF-03V0-0501
ITEM-CODE    FBBS5D00000X
    DESCRIPTION    StdBlt, A193B7/2H -  3.5 in. Length
ITEM-CODE    PGGC21300804
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
ITEM-CODE    PFFWG1350205
    DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
ITEM-CODE    PFLWG1001T8X
    DESCRIPTION    Weldolet, A105N, StdWt
ITEM-CODE    PPPCDT050605
    DESCRIPTION    Dummy/Trunion Pipe CS Std Wall A106 GrB ( For Use on Supports ONLY)
ITEM-CODE    G16-3-B
    DESCRIPTION    G16-B Guide for Base Supports, Pipe Sizes 2" & 24"$Tag No: G16-3-B $
ITEM-CODE    BSA10-1-10"-B
    DESCRIPTION    BSA10-1Base Support Adjustable with Bottom Plate for Pipe Size 10" to 20"$Tag No: BSA10-1-10"-B $
ITEM-CODE    TSP2-1
    DESCRIPTION    TSP2 "Teflon" Slide Plate Assembly for Adjustable Base Support$Tag No: TSP2-1 $
ITEM-CODE    BSA10-1-10"-A
    DESCRIPTION    BSA10-1Base Support Adjustable with Bottom Plate for Pipe Size 10" to 20"$Tag No: BSA10-1-10"-A $
ITEM-CODE    PFLSG1W01P8U
    DESCRIPTION    Sockolet, A105N, CL6000
ITEM-CODE    PFCCG1W00801
    DESCRIPTION    Cap, FNPT, A105N, CL6000
ITEM-CODE    PFNPH20D0504
    DESCRIPTION    Nipple, PBE, A106-B, Sch 160, 4in
ITEM-CODE    PVVG8AB51001
    DESCRIPTION    Gate Valve,CL800,SW,Tr.5,A105N, Tag No:GS-08V0-0501
ITEM-CODE    PFNPH2091N04
    DESCRIPTION    Nipple, PE, MNPT, A106-B, XXS, 4in
ITEM-CODE    PFFWG135020B
    DESCRIPTION    WN Flg, A105N, CL300, StdWt, RF, StdF, B16.5
ITEM-CODE    FBBS5D00002C
    DESCRIPTION    StdBlt, A193B7/2H -  5.5 in. Length
ITEM-CODE    PGGC2130080A
    DESCRIPTION    Gasket, SpWnd, 316-FG, 1/8"CSSS, CL300, B16.20, B16.5
ITEM-CODE    PFCSG5051E1Q
    DESCRIPTION    RedEcc, BW, A234-WPB, StdWt
